{template 'common/header'}
<div class="main">
    <div class="panel panel-info">
	    <div class="panel-body">
           <form class="form-horizontal form" action="" method="post" enctype="multipart/form-data">
				<div class="form-group">
                        <label class="col-xs-12 col-sm-4 col-md-4 col-lg-1 control-label">输入核销码：</label>
                        <div class="col-sm-5 col-lg-7 col-xs-12">
                           <input type="text" name="hexiaoma" class="form-control" value=""  placeholder=""/>
                        </div>
                        {if in_array(42, $nodes)}<div class="col-sm-3 col-lg-2" style="text-align:right;"><button class="btn btn-info" type="submit" name="hand" value="yes">确认核销</button>{/if}
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{$_W['token']}" />
            </form>
	    </div>
	</div>
</div>
{template 'common/footer'}