{loop $reply $key $rep}
<li class="bottom_line">
<div class="comment_top">
<div class="comment-pic">
<img src="{$rep['avatar']}">
</div>
<div class="commenter">
<div class="comment-name">{$rep['name']}</div>
<div class="comment-time">{php echo date('m-d H:i', $rep['time'])}</div>
<span class="reply">{if $user !=='0'}<a onClick="doHuifu({$rep['id']})" id="show-custom">回复</a>{/if}</span></div>
</div>
<div class="comment-content">
<p>{$rep['content']}</p>
{if !empty($rep['mreply'])}
<div class="replys">
<i class="pointTop"></i>
{loop $rep['mreply'] $mre}
<div class="replyler">
<div class="reply_cont">
<p class="comter"><span class="reply_name">{$mre['name']}</span><span class="remark">：{$mre['content']}</span></p>
</div>
</div>
{/loop}
</div>
{/if}
</div>
</li>
{/loop}