<style type='text/css'>
    .topmenu { position: relative; width:100%;float:left;background:#efefef;margin-bottom:20px;}
    .topmenu ul li a { color:#000}
    .topmenu .dropdown-menu li a { color:#666}
    .topmenu ul li { content:'|'}
</style>
<div class="topmenu">
    <ul class="nav navbar-nav">
        <li>
            <a href="{php echo url('home/welcome/ext',array('m'=>'amouse_hufen'))}"><i class='fa fa-home'></i>全民互粉</a>
        </li>
        
		<li class="dropdown">
            <a href="{php echo $this->createWebUrl('category',array('op'=>'display'));}"><i class="fa fa-cog"></i> 分类设置</a>
            <ul class="dropdown-menu" >
                 <li><a href="{php echo $this->createWebUrl('category',array('op'=>'display'));}">积分设置</a></li>
				 <li><a href="../web/index.php?c=site&a=entry&op=display&do=Hxsadset&m=amouse_hufen">站点设置</a></li>
				 <li><a href="../web/index.php?c=site&a=entry&op=add&do=Hxscategory&m=amouse_hufen">添加分类</a></li>
				 <li><a href="../web/index.php?c=site&a=entry&op=display&do=Hxscategory&m=amouse_hufen">分类列表</a></li>
				 
			</ul>
        </li> 
         
		<li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&op=display&do=Hxscloudpublish&m=amouse_hufen" class="dropdown-toggle">
			<i class="fa fa-file-text-o"></i> 广告管理 
			</a>
        </li>
        <li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&op=display&do=Hxshelp&m=amouse_hufen" class="dropdown-toggle">
			<i class="fa fa-file-text-o"></i> 帮助管理
			</a>
            <ul class="dropdown-menu" >
				<li><a href="../web/index.php?c=site&a=entry&op=add&do=Hxshelp&m=amouse_hufen">添加帮助</a></li> 
				 <li><a href="../web/index.php?c=site&a=entry&op=display&do=Hxshelp&m=amouse_hufen">帮助列表</a></li> 
			</ul>
        </li>
        <li>
		<a href="../web/index.php?c=site&a=entry&op=display&do=Hxsgame&m=amouse_hufen" class="dropdown-toggle">
		<i class="fa fa-shopping-cart"></i> 活动管理
		</a>
        <ul class="dropdown-menu" >
			<li><a href="../web/index.php?c=site&a=entry&op=add&do=Hxsgame&m=amouse_hufen">添加活动</a></li>
			<li><a href="../web/index.php?c=site&a=entry&op=display&do=Hxsgame&m=amouse_hufen">活动列表</a></li>
		</ul>
        </li>
		<li>
		<a href="../web/index.php?c=activity&a=goods&" target="_blank" class="dropdown-toggle">
		<i class="fa fa-gift"></i> 积分商城
		</a>
        </li>

    </ul>
</div>