h1{font-size:24px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4{font-size:12px;color:#999999;}
h5{font-size:10px;color:#999999;text-indent:2px;}
.co1{color:#FFFFFF;}

.system-message{text-align:center;padding-top:100px;}
.icon_success{height:50px;background:url("../images/icon_success.png") no-repeat center center;background-size:50px 50px;}
.success{line-height:50px;color:#55bd5a;font-size:18px;}
.icon_error{height:50px;background:url("../images/icon_error.png") no-repeat center center;background-size:50px 50px;}
.error{line-height:50px;color:#dc5e5e;font-size:18px;}
.jump{color:#999999;}

a{text-decoration:none;-webkit-tap-highlight-color: rgba(0,0,0,0);color:#6b461a;}
input{-webkit-user-modify:read-write-plaintext-only;-webkit-tap-highlight-color:rgba(0,0,0,0);font-size:18px;}
textarea{-webkit-user-modify:read-write-plaintext-only;-webkit-tap-highlight-color:rgba(0,0,0,0);font-size:18px;}
select{-webkit-tap-highlight-color: rgba(0,0,0,0);font-size:18px;}
.ftext{position:relative;margin:10px 10px 0 10px;background:#FFFFFF;border:1px solid #CCCCCC;border-radius:4px;-moz-box-shadow:1px 1px 1px #EEEEEE inset;-webkit-box-shadow:1px 1px 1px #EEEEEE inset;box-shadow:1px 1px 1px #EEEEEE inset;zoom:1;}
.ftext label{position:absolute;top:0px;left:10px;height:44px;line-height:44px;color:#666666;}
.ftext input{width:100%;padding:0 0 0 60px;height:44px;line-height:44px;-webkit-appearance:none;background:none;}
.ftext select{width:100%;padding:0 0 0 60px;height:44px;line-height:44px;-webkit-appearance:none;border:0px none;background:none;}
.ftext textarea{width:100%;padding:10px 0 10px 60px;height:120px;line-height:26px;-webkit-appearance:none;border:0px none;background:none;}
.selector{font-size:18px;min-width:250px;text-align:left;}
.selector li{height:45px;line-height:45px;padding:0 10px 0 50px;background:url("../images/option.png") no-repeat 10px center;background-size:32px 32px;}
.selector li.selected{color:#45c01a;background-image:url("../images/option_selected.png")}

.loader{}
.loader .loading{width:100%;height:100%;background:#F4F4F4 url("../images/load.gif")no-repeat center 30%;background-size:40px 40px;}
.hide{display:none;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.pt10{padding-top:10px;}

.empty{color:#AAAAAA;text-shadow:0 1px 1px #FFFFFF;text-align:center;}
.empty h2{font-weight:bold;padding:20px 0 10px 0;}
.empty h4{font-size:14px;padding:0 0 10px 0;}

.list_load{margin:0 0 10px 0;color:#999999;text-align:center;height:40px;line-height:40px;}
.list_load span{display:inline-block;height:40px;line-height:40px;vertical-align:middle;}
.list_load.more{background:#FFFFFF }
.list_load.more .icon{width:32px;background:url("../images/icon_more.png") no-repeat center center;background-size:32px 32px;}
.list_load.loading{border:0px none;}
.list_load.loading .icon{width:32px;background:url("../images/spinner.gif") no-repeat center center;background-size:16px 16px;}


.app-page{background:#FFFFFF;}
.app-topbar{background:#2a2f32;color:#FFFFFF;}
.app-topbar.light{background:#FFFFFF;color:#000000;}
.app-topbar .cross{padding-right:0px;background:url("../images/cross.png") no-repeat center center;width:32px;background-size:32px 32px;}
.app-content{background:none;}
.app-title {font-size:12px;}
.app-button.post{background:#45c01a;color:#FFFFFF;}
.app-button.post.active{background:#25730a;color:#EEEEEE;}
.app-dialog-container{z-index:99999;}
/* app.js custom */
.app-header{width:100%;background:#0e90d2;overflow:hidden;}
.app-header dl{margin:10px;height:54px;zoom:1;}
.app-header dl:after{content:"";display:block;height:0;line-height:0;clear:both;visibility:hidden;}
.app-header dl dt{float:left;width:50px;height:50px;margin-right:10px;overflow:hidden;border:2px solid #FFFFFF;border-radius:50px;}
.app-header dl dt img{width:50px;height:50px;border-radius:50px;}
.app-header dl dd{float:left;}
.app-header dl h1{height:32px;line-height:32px;color:#FFFFFF;}
.app-header dl h4{height:22px;line-height:22px;color:#FFFFFF;}

.app-toptab{}
.app-toptab a{display:inline-block;width:50%;text-align:center;color:#666666;}
.app-toptab a.ac{color:#ff5454;background:url("../images/c1.png") repeat-x left bottom;}

.app-naver{}
.app-naver .nmenu{margin:0px 10px; overflow:hidden;padding:0px;color:#FFFFFF;background:url("../images/app-naver.png") repeat-x center bottom;zoom:1;}
.app-naver .nmenu:after{content:"";display:block;height:0;line-height:0;clear:both;visibility:hidden;}
.app-naver .nmenu li{float:left;height:48px;line-height:48px;}
.app-naver .nmenu li.r{float:right;color:#013e5d;text-shadow:1px 1px 0 #0e90d2;}
.app-naver .mbtn{display:block;height:48px;line-height:48px;padding:0 10px 0 46px;color:#FFFFFF;background:url("../images/icon_team.png") no-repeat 5px center;background-size:32px 32px;}
.app-botblank{height:120px;}
.app-botbar{position:absolute;bottom:0px;width:100%;z-index:9999;}
.app-botbar .buttons{background:#FFFFFF;padding:10px 10px 0 10px;overflow:hidden;}
.app-botbar .app-button{text-align:center;height:50px;line-height:50px;}
.app-botbar .app-button.cancel{border:1px solid #DDDDDD;background:none;color: #666666;}
.app-botbar .app-button.cancel:active{background: #DDDDDD;color: #FFFFFF;}
.app-body{height:100%;width:100%;overflow-x:hidden;position:relative;}
.app-shoe{position:absolute;bottom:0px;}
.app-foot{padding:40px 0 10px 0;}
.app-footsp{position:relative;border-top:1px dotted #CCCCCC;height:10px;}
.app-footsp .logo{position:absolute;width:100%;height:40px;background:url("../images/logo_foot.png") no-repeat center center;background-size:40px 40px;top:-20px;}
.app-foot .slogan{margin:0 10px;text-align:center;line-height:24px;font-size:12px;padding:20px 0 10px 0;color:#999999;text-shadow:0 1px 1px #FFFFFF;}
.app-foot .contact{margin:0 10px;text-align:center;line-height:24px;font-size:12px;padding:10px 0;color:#999999;text-shadow:0 1px 1px #FFFFFF;border-top:1px dotted #CCCCCC;}
.app-footnav{text-align:center;margin:0 10px;padding:10px 0 30px 0;border-bottom:1px dotted #CCCCCC;}
.app-footnav .btn{display:inline-block;padding:5px 15px;background:#FFFFFF;color:#999999;border:1px solid #CCCCCC;border-radius:2px;}
#app_notice{}
#app_notice .weui_cells{margin:0px;border:0px none;}
#app_notice .weui_cell{background:#fee365;border:0px none;}
#app_notice .weui_cell p{color:#e96a04;font-size:12px;}
#app_notice .weui_cell .weui_cell_ft{color:#e96a04;font-size:12px;}

#bottom_holder{height:70px;}
.app-footer{width:100%;position:fixed;bottom:0px;}
.hmenu{width:100%;overflow:hidden;padding:0px;background:#FFFFFF;zoom:1; -webkit-box-shadow:0 -1px 1px -1px rgba(0, 0, 0, 0.5);}
.hmenu:after{content:"";display:block;height:0;line-height:0;clear:both;visibility:hidden;}
.hmenu li{float:left;width:25%;}
.hmenu li.middle{width:25%;}
.hmenu.col li .app-button{color:#7a7e83;text-align:center;line-height:18px;font-size:12px;}
.hmenu.col li .app-button .icon_m{display:block;height:32px;line-height:32px;}
.hmenu.col li.middle .app-button{background-color:#ff5454;color:#FFFFFF;}
.icon_m.index{background:url("../images/m_index.png") no-repeat center bottom;background-size:28px 28px;}
.icon_m.add{background:url("../images/m_add_ac.png") no-repeat center bottom;background-size:28px 28px;}
.icon_m.mine{background:url("../images/m_mine.png") no-repeat center bottom;background-size:28px 28px;}
.icon_m.rank{background:url("../images/m_rank.png") no-repeat center bottom;background-size:28px 28px;}

.hmenu.col li.active .app-button{color:#ff5454;}
.active .icon_m.index{background-image:url("../images/m_index_ac.png");}
.active .icon_m.mine{background:url("../images/m_mine_ac.png") no-repeat center bottom;background-size:28px 28px;}
.active .icon_m.add{background:url("../images/m_add_ac.png") no-repeat center bottom;background-size:28px 28px;}
.active .icon_m.rank{background:url("../images/m_rank_ac.png") no-repeat center bottom;background-size:28px 28px;}