@charset "utf-8";

/* HOME Botton */
.home {	margin:0 auto ;min-width:300px;color: #fff;padding:0 10px;} 
.icon-items li { position: relative; float: left; width:49.0%; text-align: center; margin: 10px 0 0 0;border-radius:3px;box-sizing:border-box;
-moz-box-sizing:border-box; 
-webkit-box-sizing:border-box; 
-webkit-transform:scale(0);-webkit-animation-name:janim;-webkit-animation-duration:.3s;-webkit-animation-timing-function:linear;-webkit-animation-iteration-count:1;-webkit-animation-direction:normal;-webkit-animation-fill-mode:forwards;}
@-webkit-keyframes janim {0%{-webkit-transform:scale(0.2)}50%{-webkit-transform:scale(1.2)}100%{-webkit-transform:scale(1)}}
.icon-items li a{display:block;width: 100%;height:70px;line-height:70px;color:#FFF;font-size:18px;}
.icon-items li a:hover{background-color: rgba(0,0,0,.1); z-index: 1;color:#FFF;}
.icon-items li a i{width:30px;height:30px;display:inline-block;vertical-align:middle;margin-right:15px;}

.icon-items li:nth-child(1){background-color:#3E67E2;-webkit-animation-delay: .15s;}
.icon-items li:nth-child(2){background-color:#678CE1;float:right;}
.icon-items li:nth-child(3){background-color:#1fa9ea;-webkit-animation-delay: .45s;}
.icon-items li:nth-child(4){background-color:#ef9310;-webkit-animation-delay: .75s;float:right;}
.icon-items li:nth-child(5){background-color:#8BCA11;-webkit-animation-delay: .6s;}
.icon-items li:nth-child(6){background-color:#7266d1;-webkit-animation-delay: .6s;float:right;}
.icon-items li:nth-child(7){background-color:#da1e0c;-webkit-animation-delay: 0.55s;}
.icon-items li:nth-child(7) a i{margin:50px 0 0 0;width:100%;clear:both;}
.icon-items li:nth-child(7) a{height:150px;line-height:40px;clear:both;}
.icon-items li:nth-child(8){background-color:#CFA871;-webkit-animation-delay: 0.3s;float:right;}
.icon-items li:nth-child(9){background-color:#FC5366;-webkit-animation-delay: 0.3.3s;float:right;}
.icon-items li:nth-child(9) a i{margin:0px;width:0px;}