{template 'header'}
<div class="page-group">
	<div class="page superpage_{$do}_redpack" id="superpage_{$do}_{$act}">
		{template 'nav'}
		{if $act == 'display'}
		{template 'title'}
		<div class="content">
			<div class="content-padded">
				<div class="row">
					{if $list}
					{loop $list $item}
					<div style="background: #d65645 url('{$item[cover]}') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;" class="col-50" >
						<a href="#" class="btn_exchange_redpack" data-redpack-amount="{$item['extend']['redpack_amount']}" data-url="{php echo $this->createMobileUrl('redpack', array('act' => 'confirm', 'id' => $item['id']))}" data-token="{$_W['token']}">
							<span>兑换</span>
						</a>
						{if superman_is_redpack($item['type']) && strstr($item['cover'], '/addons/')}
						<span class="fonta2 text-strong">{$item['extend']['redpack_amount']}元</span>
						{/if}
						<div class="redpack_description">
							<span class="pull-left font6">{$item['sales']}人已兑换</span>
							{if $item['price']>0}
							<span class="pull-right font6">{$item['credit']}{$item['credit_title']}+{$item['price']}元</span>
							{else}
							<span class="pull-right font6">{$item['credit']}{$item['credit_title']}</span>
							{/if}
						</div>
						{if $item['activity_time']['end'] && strtotime($item['activity_time']['end']) < TIMESTAMP}
						<div class="redpack_prompt">
							<div>
								<span class="font8">已结束</span>
							</div>
						</div>
						{else if $item['activity_time']['start'] && strtotime($item['activity_time']['start']) > TIMESTAMP}
						<div class="redpack_prompt">
							<div>
								<span class="font8">未开始</span>
							</div>
						</div>
						{else if $item['total'] <= 0}
						<div class="redpack_prompt">
							<div>
								<span class="font8">已被抢光</span>
							</div>
						</div>
						{/if}
					</div>
					{/loop}
					{/if}
				</div>
			</div>
		</div>
		{/if}
	</div>
	<div class="popup popup_help">
		<div class="content-block">
			<p>
				<a href="#" class="close-popup">
					<span class="iconfont fonta">&#xe60e;</span>
				</a>
			</p>
			{php echo htmlspecialchars_decode($this->module['config']['redpack']['help']);}
		</div>
	</div>
</div>
{template 'footer'}