/*
 * re-define
 */
.superpage_address {

}
.superpage_address .card{
    margin: 0 0 .5rem 0;
}
.superpage_address .list-block{
    margin: 0;
}
.superpage_address .content-block{
    margin: 0;
}

/* address */
.superpage_address {

}
.superpage_address .add_btn {
    padding: .3em;
}
