/*
 * re-define
 */

/*display*/
.superpage_checkout .card {
    margin: .5rem 0 0 0;
    border-radius: 0;
    box-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0);
}
.superpage_checkout .avatar_wrap {
    font-size: 0;
    margin: .5rem auto;
}
.superpage_checkout .avatar_wrap span {
    display: block;
}
.superpage_checkout .avatar_wrap .avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border: 1px rgba(255,255,255,0.2) solid;
    display: inline-block;

}
.superpage_checkout .avatar_wrap .avatar img {
    width: 3rem;
}
.superpage_checkout .item_list_wrap .item-media img {
   width: 4.2rem;
}
.superpage_checkout .item_list_wrap .product_type {
    line-height: 0;
    padding: 0 .2rem;
    height: .9rem;
    margin-left: 10px;
    display: inline-block;
}
.superpage_checkout .item_list_wrap .item-subtitle {
    margin-top: .2rem;
}
.superpage_checkout .remark_wrap {
    margin-bottom: .5rem;
}
.superpage_checkout .content-block.btn {
    margin: .5rem auto;
}
.superpage_checkout .content-block span {
    display: block;
    padding-top: .2rem;
}