/*
 * re-define
 */
.superpage_confirm .dispatch_wrap .item-link.list-button{
    color: #6e727b;
    text-align: left;
}
.superpage_confirm .content-block-title {
    margin: .3rem .5rem;
}
.superpage_confirm .list-block {
    margin: .3rem 0;
}

/* confirm */
.superpage_confirm .dispatch_wrap {

}
.superpage_confirm .dispatch_active{
    color: #f60 !important;
}
.superpage_confirm .content_wrap {
    margin: 0;
    display: none;
}
.superpage_confirm .pickup_info_wrap {
    margin: 0;
}
.superpage_confirm .addr_wrap {
    padding-left: 0;
}
.superpage_confirm .add_addr_wrap{
    padding: 0 55% 1rem .75rem;
    margin: 0;
    text-align: left;
}
.superpage_confirm .add_address_btn {

}
.superpage_confirm .product_wrap {

}
.superpage_confirm .product_wrap .row {
    padding-top: .75rem;
}
.superpage_confirm .product_cover img {
    width: 100%;
}
.superpage_confirm .product_title {

}
.superpage_confirm .product_property {
    color: #ccc;
}
.superpage_confirm .product_credit {
    color: #6e727b;
}
.superpage_confirm .product_btn_wrap {
    width: 55%;
}
.superpage_confirm #btn_minus, .superpage_confirm #btn_plus {
    width: 50%;
}
.superpage_confirm .remark_wrap {

}
.superpage_confirm .submit_wrap{
    margin: .3rem .5rem;
}
.superpage_confirm #btn_submit_order {
    width: 100%;
}
