/*
 * re-define
 */
.superpage_exchangelog {

}
.superpage_exchangelog .bar-nav h1 {
    background-color: #d65645;
    color: #fff;
}
.superpage_exchangelog .bar-nav a {
    color: #fff;
}
.superpage_exchangelog .bar:after {
    background-color: #d65645;
}
.superpage_exchangelog .list-block {
    margin: 0;
}
.superpage_exchangelog .item-content .avatar {
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 auto;
    overflow: hidden;
}
.superpage_exchangelog .item-content img {
    width: 1.8rem;
}
.superpage_exchangelog .item-inner {
    min-height: 1.8rem;
}
.superpage_exchangelog .row > [class*="col-"]:last-child {
    min-height: 1.8rem;
    line-height: 1.8rem;
    float: right;
}
/* exchangelog */
.superpage_exchangelog .exchangelog_wrap .item-content .item-inner .row {
    margin-left: 0;
}