/*
 * re-define
 */
.superpage_exchangerank {

}
.superpage_exchangerank .buttons-tab {
    top: 2.2rem;
    z-index: 10;
}
.superpage_exchangerank .swiper-container {
    padding-bottom: 0;
    min-height: 178px;
    margin-bottom: .2rem;
}
.superpage_exchangerank .swiper-slide img {
    width: 100%;
    min-height: 178px;
}
.superpage_exchangerank .swiper-container-horizontal > .swiper-pagination {
    bottom: .2rem;
}
.superpage_exchangerank .swiper-pagination-bullet {
    background: #aaa;
    opacity: 1;
}
.superpage_exchangerank .swiper-pagination-bullet-active {
    background: #007aff;
}
.superpage_exchangerank .content {
    top: 4.4rem;
}
.superpage_exchangerank .content-block {
    padding: 0;
    margin: 0;
}
.superpage_exchangerank .list-block {
    margin-top: 0;
}
.superpage_exchangerank .bar-tab ~ .content {
    bottom: 1rem;
}
/* exchangerank */
.superpage_exchangerank .slide_title_wrap {
    position: absolute;
    bottom: 0;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    color: #fff;
    font-weight: normal;
    font-size: .7rem;
    padding: .2rem .3rem;
}
.superpage_exchangerank .slide_title_wrap div {
    width: 75%;
}