/*
 * re-define
 */
.superpage_list .content-block-title {
    margin: 1rem .75rem .5rem;
}
.superpage_list .infinite-scroll-preloader {
    margin-top: -20px;
}

/* list page */
.superpage_list {

}
.superpage_list .product_wrap {
    background: #fff;
    margin-bottom: .3rem;
}
.superpage_list .product_wrap .row {
    padding: 0 .3rem .3rem .3rem;
}
.superpage_list .item_wrap {
    margin-top: .3rem;
}
.superpage_list .item_wrap .product_prompt > div {
    line-height: 0;
    width:4.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -2.25rem;
}
.superpage_list .item_wrap .product_prompt > span {
    display: block;
    position: absolute;
    width: 100%;
    top: 30%;
}
.superpage_list .item_wrap .product_prompt > span span{
    height: 1rem;
    display: block;
}
.superpage_list .item_wrap .product_prompt > div span {
    line-height: 1rem;
    width: 4.6rem;
    text-align: center;
    display: inline-block;
    padding: .5rem;
    color: #fff;
    border-radius: .3rem;
    border: 1px #fff solid;
    transform:rotate(-15deg);
    -moz-transform:rotate(-15deg); /* Firefox */
    -webkit-transform:rotate(-15deg); /* Safari 和 Chrome */
}
.superpage_list .item_img {
    line-height: 0;
    position: relative;
    overflow: hidden;
    margin-bottom: .2rem;
}
@media (min-width: 320px) {
    .superpage_list .item_img {
        height: 82px;
    }
}
@media (min-width: 375px) {
    .superpage_list .item_img {
        height: 97px;
    }
}
@media (min-width: 414px) {
    .superpage_list .item_img {
        height: 107px;
    }
}
@media (min-width: 768px) {
    .superpage_list .item_img {
        height: 205px;
    }
}
.superpage_list .item_img img {
    width: 100%;
}
/* list panel */
#superpanel_list .link-padding {
    padding: 10px 0;
}
#superpanel_list .superpanel_close {
    color: #f6383a;
    position: absolute;
    right: .5rem;
    top: .5rem;
}
/* list redpack */
.superpage_list_redpack .content{
    background-color: #a6473a;
}
.superpage_list_redpack .content-padded {
    margin-bottom: 0;
}
.superpage_list_redpack .content-padded .btn_exchange_redpack {
    margin: 0 auto;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
}
.superpage_list_redpack .bar-nav h1 {
    background-color: #d65645;
    color: #fff;
}
.superpage_list_redpack .bar-nav a {
    color: #fff;
}
.superpage_list_redpack .bar:after {
    background-color: #d65645;
}
.superpage_list_redpack .bar {
    background-color: #d65645;
    color: #fff;
}
.superpage_list_redpack .bar-tab .tab-item {
    color: #fff;
}
.superpage_list_redpack .bar-tab:before {
    background-color: #d65645 !important;
}
.superpage_list_redpack .content-padded .col-50 {
    height: 7rem;
    position: relative;
    margin-bottom: .6rem;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.superpage_list_redpack .content-padded .col-50 a > span:first-child {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #ffaa3b;
    display: block;
    margin: 1rem auto;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
    color: #fff;
}
.superpage_list_redpack .content-padded .col-50 > span:nth-child(2) {
    text-align: center;
    display: block;
    color: #ffcc00;
}
.superpage_list_redpack .content-padded .col-50 > .redpack_description {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    padding: 0 .2rem;
}
@media (max-width: 320px) {
    .superpage_list_redpack .content-padded .col-50 {
        height: 5.5rem;
    }
    .superpage_list_redpack .content-padded .col-50 > .redpack_description span:first-child {
        display: none;
    }
    .superpage_list_redpack .content-padded .btn_exchange_redpack {
        width: 2rem;
        height: 2rem;
    }
    .superpage_list_redpack .content-padded .col-50 a > span:first-child {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        font-size: .7rem;
        margin: .5rem auto;
    }
    .superpage_list_redpack .content-padded .col-50 > span:nth-child(2) {
        font-size: 1rem !important;
    }
    .superpage_list_redpack .content-padded .col-50 > .redpack_prompt {
        height: 5.5rem !important;
    }
    .superpage_list_redpack .content-padded .col-50 > .redpack_prompt > div {
        margin: 1.75rem auto !important;
    }

}
.superpage_list_redpack .content-padded .col-50 > .redpack_prompt {
    width: 100%;
    height: 7rem;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,.7);
}
.superpage_list_redpack .content-padded .col-50 > .redpack_prompt > div {
    width:4.3rem;
    margin: 2.5rem auto;
}
.superpage_list_redpack .content-padded .col-50 > .redpack_prompt span {
    width: 4.3rem;
    text-align: center;
    display: inline-block;
    padding: .5rem;
    color: #fff;
    border-radius: .3rem;
    border: 1px #fff solid;
    transform:rotate(-15deg);
    -moz-transform:rotate(-15deg); /* Firefox */
    -webkit-transform:rotate(-15deg); /* Safari 和 Chrome */
}
.superpage_list_redpack .content-padded .col-50 > .redpack_description span:first-child {
    color: rgba(255,255,255,.5);
}
.superpage_list_redpack .content-padded .col-50 > .redpack_description span:nth-child(2) {
    color: rgba(255,255,0,.5);
}
/* list share */
.superpage_list_share .list-block {
    margin: 0;
}
.superpage_list_share .list-block .item-text{
    height: 1rem;
    -webkit-line-clamp: 1;
}
.superpage_list_share .item-content img {
    width: 4rem !important;
    height: 2.5rem;
}
.superpage_list_share .item-inner .item-title-row {
    height: 1.6rem;
    position:relative;
}
.superpage_list_share .item-inner .item-title-row .item-title {
    position:absolute;
    bottom:0px;
    padding:0px;
    margin:0px
}
.superpage_list_share .item-inner .item-title-row .item-title:nth-child(1) {
    color: #5f646e;
}
.superpage_list_share .item-inner .item-title-row .item-title:nth-child(2) {
    color: #000;
    position:absolute;
    right: 0;
}
.superpage_list_share .item-inner .item-title-row .item-title .button {
    height: 1rem;
    line-height: .9rem;
}