/*
 * re-define
 */
.superpage_mycredit .list-block {
    margin: .3rem 0;
}
.superpage_mycredit .list-block .item-media + .item-inner {
    margin-left: .1rem;
}
.superpage_mycredit .list-group-title {
    color: #3d4145;
}
.superpage_mycredit .list-group-title a {
    color: #ccc;
}
.superpage_mycredit .list-group-title .icon-right {
    color: #ccc;
    font-size: .75rem;
}

/* mycredit */
.superpage_mycredit .top_wrap {
    margin: 0 auto;
    width: 60%;
    margin-top: 3rem;
}
.superpage_mycredit .top_bg {
    background: url('/addons/superman_creditmall/template/mobile/images/profile_top_bg.jpg') no-repeat center;
    background-size: cover;
    height: 208px;
    overflow: hidden;
    position: relative;
}
.superpage_mycredit .middle_bg {
    position: absolute;
    bottom: 0;
    left: 4%;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    background-color: #000000;
    background:rgba(0, 0, 0, 0.3);
}
.superpage_mycredit .middle_bg a {
    color: #ffffff;
}
.superpage_mycredit .avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    overflow: hidden;
    border: 1px rgba(255,255,255,0.2) solid;
}
.superpage_mycredit .avatar img {
    width: 3rem;
}
.superpage_mycredit .nickname {
    color: #fff;
}
.superpage_mycredit .credit_help {
    position: absolute;
    right: .8rem;
    bottom: 3.5rem;
    z-index: 10;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    background-color: #a1afc9;
    background:rgba(161, 175, 201, 0.7);
}
.superpage_mycredit .credit_help .iconfont {
    font-size: 1.2rem;
}
.superpage_mycredit .help_icon{
    color: #fff;
}

.superpage_mycredit .credit_time {
    color: #ccc;
}
.superpage_mycredit .help_wrap p {
    margin: 0;
}
.superpage_mycredit .help_wrap p img {
    width: 100%;
}
.superpage_mycredit .item-inner .creditlog_wrap {
    width: 100%;
    margin-left: 0;
}