/*
 * re-define
 */
.superpage_order {

}
.superpage_order .buttons-tab {
    top: 2.2rem;
    z-index: 10;
}
.superpage_order .content-block {
    padding: 0;
    margin: 0;
}
.superpage_order .card {
    margin-left: 0;
    margin-right: 0;
}
.superpage_order .card:first-child {
    margin-top: 0;
}
.superpage_order .list-block.media-list .item-title {
    font-weight: normal;
}
.superpage_order .item-content .item-media span {
    width: 4rem;
    position:absolute;
    top: 40%;
    margin-left: .75rem;
    text-align: center;
    left: 0;
    color: #ffcc00;
}
/* order */
.superpage_order {

}
.superpage_order .order_wrap {
    top: 4.4rem;
}
.superpage_order .cover {
    width: 4rem;
}
.superpage_order .total_wrap {
    color: #ccc;
}
.superpage_order .product_type {
    line-height: 0;
    padding: 0 .2rem;
    height: .9rem;
    margin-left: 10px;
}
.superpage_order .detail_wrap {
    width: 100%;
}
.superpage_order .order_footer_wrap {
    width: 100%;
}
.superpage_order .order_footer_left {
    line-height: 1.3rem;
}
.superpage_order .btn_wrap a {
    display: inline-block;
}
.superpage_order .product_wrap {
    margin-top: 0;
    margin-bottom: .5rem;
}
.superpage_order .order_wrap {
    margin-top: 0;
    margin-bottom: .5rem;
}
.superpage_order .order_time {
    color: #c8c9cb;
}
.superpage_order .product_wrap_bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.superpage_order .qrcode {
    background-color: #fff;
    margin: .5rem 0;
    padding: .5rem;
}
.superpage_order .qrcode img {
    width: 6rem;
}
.superpage_order .qrcode .list-block {
    margin: 0;
}
.superpage_order .qrcode .list-block ul {
    margin: .5rem auto;
}
.superpage_order .btn .col-100 {
    padding-bottom: .5rem;
}
.superpage_order .btn .btn_checkout {
    width: 80%;
    margin: 0 auto;
}
.superpage_order .qrcode .list-block ul:after {
    display: none;
}