/*
 * re-define
 */
.superpage_profile .list-block {
    margin: .3rem 0;
}

/* profile */
.superpage_profile .top_wrap {
    margin: 0 auto;
    width: 60%;
    margin-top: 3rem;
}
.superpage_profile .profile_setting {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ccc;
}
.superpage_profile .profile_setting a {
    color: #ccc;
}
.popup_big_avatar {
	background:#000;
}
.popup_big_avatar img {
	max-width: 100%;
}
.superpage_profile .myavatar {
    border-radius: .3rem;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    overflow: hidden;
    border: 1px rgba(255,255,255,0.2) solid;
}
.superpage_profile .myavatar img{
    width: 3rem;
}
.superpage_profile .top_bg {
    height: 208px;
    overflow: hidden;
    position: relative;
}
.superpage_profile .avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    overflow: hidden;
    border: 1px rgba(255,255,255,0.2) solid;
}
.superpage_profile .avatar img {
    width: 3rem;
}
.superpage_profile .nickname {
    color: #fff;
}
.superpage_profile .group_title {
    color: #ececec;
}
.superpage_profile .credit_wrap, .superpage_profile .order_wrap {
    padding: .3rem 0;
}
.superpage_profile .mycredit_wrap .item-content > a {
    display: block;
    width: 100%;
}
.superpage_profile .myorder_wrap .item-content > a {
    display: block;
    width: 100%;
}
.superpage_profile .credit_wrap .col-25,  .superpage_profile .order_wrap .col-25 a div{
    position: relative;
}
.superpage_profile .order_icon_wrap{
    display: inline-block;
    height: 1.5rem;
    width:1.5rem;
}
.superpage_profile .order_wrap .corner {
    position: absolute;
    min-width: .7rem;
    height: .7rem;
    line-height: .8rem;
    top: 0;
    left: .9rem;
    background: #f00;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}
.superpage_profile .order_wrap .corner_big {
    position: absolute;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    top: -.1rem;
    left: .9rem;
    background: #f00;
    color: #fff;
    text-align: center;
    border-radius: 50%;
}
.superpage_profile .order_wrap .iconfont {
    font-size: .85rem;
}
.superpage_profile .item_title {
    margin-top: .4rem;
}
.superpage_profile .btn_submit {
    width: 100%;
}
.superpage_profile .hotlist_title_wrap {
    margin-bottom: 0;
}
.superpage_profile .hotlist_wrap {
    margin-left: 0;
    margin-bottom: .3rem;
    padding: .5rem .75rem 0 .75rem;
    background: #fff;
}
.superpage_profile .hotlist_wrap .item_wrap {
    margin-bottom: .3rem;
}
.superpage_profile .item_img {
    position: relative;
    height: 60px;
    overflow: hidden;
    margin-bottom: .2rem;
}
.superpage_profile .item_img img {
    width: 100%;
}
.superpage_profile .product_prompt {
    line-height: 60px;
}
