/*
 * re-define
 */

.superpage_search .bar-header-secondary {
    position: static;
}

.superpage_search .search_list {
    background: #fff;
    margin-bottom: .3rem;
}
.superpage_search .search_list .row {
    padding: 0 .3rem .3rem .3rem;
}
.superpage_search .search_list .item_wrap {
    margin-top: .3rem;
}
.superpage_search .search_list .item_wrap .product_prompt > div {
    width:4.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1rem;
    margin-left: -2.25rem;
}
.superpage_search .search_list .item_wrap .product_prompt > span {
    display: block;
    position: absolute;
    width: 100%;
    top: 30%;
}
.superpage_search .search_list .item_wrap .product_prompt > span span{
    height: 1rem;
    display: block;
}
.superpage_search .search_list .item_wrap .product_prompt > div span {
    line-height: 1rem;
    width: 4.6rem;
    text-align: center;
    display: inline-block;
    padding: .5rem;
    color: #fff;
    border-radius: .3rem;
    border: 1px #fff solid;
    transform:rotate(-15deg);
    -moz-transform:rotate(-15deg); /* Firefox */
    -webkit-transform:rotate(-15deg); /* Safari 和 Chrome */
}
.superpage_search .search_list .item_wrap .product_prompt > div i {
    font-style:normal;
    display: block;
}
.superpage_search .search_list .item_img {
    line-height: 0;
    position: relative;
    overflow: hidden;
    margin-bottom: .2rem;
}
@media (min-width: 320px) {
    .superpage_search .search_list .item_img {
        height: 82px;
    }
}
@media (min-width: 375px) {
    .superpage_search .search_list .item_img {
        height: 97px;
    }
}
@media (min-width: 414px) {
    .superpage_search .search_list .item_img {
        height: 107px;
    }
}
@media (min-width: 768px) {
    .superpage_search .search_list .item_img {
        height: 205px;
    }
}
.superpage_search .search_list .item_img img {
    width: 100%;
}