/*
 * re-define
 */
.superpage_task {

}
.superpage_task .bar-tab ~ .content {
    bottom: 2.5rem;
}
.superpage_task .swiper-slide a {
    display: block;
}
.superpage_task .swiper-container {
    padding-bottom: 8px;
}
.superpage_task .swiper-slide img {
    width: 100%;
    min-height: 178px;
}
.superpage_task .content-block {
    margin: 0;
    padding: 0;
}
.superpage_task .list-block {
    margin: 0;
}
.superpage_task .list-block .item-inner{
    margin-left: .4rem;
}
.superpage_task .list-block .item-media img {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    margin-right: .2rem;
}
.superpage_task [class^=col-] {
    margin-left: 2%;
}
.superpage_task .col-30 .button {
    width: 4rem;
}
.superpage_task .row > [class*="col-"]:last-child {
    float: right;
}
/* task */
.superpage_task {

}
.superpage_task .task_wrap {
    margin-bottom: .3rem;
}
.superpage_task .slide_title_wrap {
    position: absolute;
    bottom: 0;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    color: #fff;
    font-weight: normal;
    font-size: .7rem;
    padding: .2rem .3rem;
}
.superpage_task .row {
    margin-left: 0;
}
.superpage_task .item-inner {
    padding-right: .3rem;
}
.superpage_task .group_btn_wrap .button{
    display: inline-block;
    height: .8rem;
    line-height: .8rem;
    padding: 0 .2rem;
}