body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {margin:0;padding:0;font-family:"微软雅黑";}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
body{background:#f3f3f3;}
.all{width:100%;height:auto;}
.cl{clear:both;}
.no_padding{padding:0 !important;}
.leftPosition{left:-1px;}
.rightPosition{right:-1px;}
.activeTab{z-index:2;border:1px solid #d0d0d0;border-bottom:none;background:#fff;color:#333333 !important;}
.activeBox{display:block !important;}

.bangdingForm{margin:20px 10px;background:#fff;border:1px solid #d0d0d0;border-radius:5px;}
.bangdingTab{width:100%;height:50px;line-height:50px;position:relative;}
.bangdingTab .changeTab{width:50%;height:50px;line-height:50px;position:absolute;top:-1px;z-index:1;text-align:center;border-radius:5px 5px 0 0;cursor:pointer;color:#959595;}
.bangdingBox{margin:-1px;border:1px solid #d0d0d0;border-radius:5px 5px 0 0; border-bottom:none;text-align:center;}
.bangdingBox .headerBox{display:inline-block;margin-top:40px;overflow:hidden;}
.bangdingBox .headerBox span{display:block;width:100%;line-height:20px;font-size:14px;}
.bangdingBox .headerBox .leftHeader{width:80px;float:left;}
.bangdingBox .headerBox .rightHeader{width:80px;float:left;}
.bangdingBox .headerBox .leftHeader img{width:80px;height:80px;border-radius:50%;}
.bangdingBox .headerBox .centerHeader{width:80px;float:center;}
.bangdingBox .headerBox .leftHeader img{width:80px;height:80px;border-radius:50%;}
.bangdingBox .headerBox .centerHeader img{width:80px;height:80px;border-radius:50%;}
.bangdingBox .headerBox .linkImg{float:left;padding:30px 20px;}
.bangdingBox .headerBox .linkImg img{height:20px;float:left;}
.bangdingBox .headerBox1{width:100%;position:relative;padding:15px 0;overflow:hidden;border-bottom:1px solid #eee;border-bottom-left-radius: 5%;border-bottom-right-radius: 5%;}
.bangdingBox .headerBox2{width:100%;position:relative;padding:10px 0;overflow:hidden;border-bottom-left-radius: 5%;border-bottom-right-radius: 5%;}
.bangdingBox .headerBox1 .headerinfo{display:block;height:70px;line-height:60px;}
.bangdingBox .headerBox1 .headerinfo span.l{position:absolute;left:7px;top:8px;color:#313131;font-size:20px;}
.bangdingBox .headerBox1 .headerinfo span.r{position:absolute;left:7px;top:40px;color:#8A8888;font-size:15px;}
.bangdingBox .headerBox2 .headerinfo1{display:block;height:40px;line-height:40px;}
.bangdingBox .headerBox2 .headerinfo1 span.h{position:absolute;left:7px;}
.bangdingBox .headerBox2 .headerinfo1 span.h img{width:30px;height:30px;left:7px;}
.bangdingBox .headerBox2 .headerinfo1 span.t{position:absolute;left:40px;line-height: 30px;}
.bangdingBox .headerBox2 .headerinfo1 span.s{position:absolute;left:7px;line-height: 20px;font-size:18px;}
.bangdingBox .headerBox2 .headerinfo1 span.a{position:absolute;right:7px;line-height: 20px;font-size:17px;font-weight:bold;color:#d8584a;}
.bangdingBox .headerBox2 .headerinfo2{display:block;height:40px;line-height:40px;border-bottom:1px solid #d0d0d0;border-top:1px solid #d0d0d0;border-top-left-radius: 5%;border-top-right-radius: 5%;border-bottom-left-radius: 5%;border-bottom-right-radius: 5%;}
.bangdingBox .headerBox2 .headerinfo2 span.s{position:absolute;left:7px;line-height: 35px;font-size:18px;}
.bangdingBox .headerBox2 .headerinfo2 span.a{position:absolute;right:7px;line-height: 35px;font-size:17px;font-weight:bold;color:#d8584a;}
.bangdingBox .headerBox3 .headerinfo3{display:block;height:40px;line-height:40px;border-bottom:1px solid #d0d0d0;border-top-left-radius: 5%;border-top-right-radius: 5%;border-bottom-left-radius: 5%;border-bottom-right-radius: 5%;}
.bangdingBox .headerBox3 .headerinfo3 span.t{position:absolute;left:20px;line-height:40px;font-size:18px;color:#313131;}
.bangdingBox .headerBox3 .headerinfo3 span.r{position:absolute;right:30px;line-height:40px;font-size:10px;color:#827A7A;}
.bangdingBox .footerbox .footinfo{display:block;height:30px;line-height:30px;border-bottom:1px solid #d0d0d0;border-top-left-radius: 5%;border-top-right-radius: 5%;border-bottom-left-radius: 5%;border-bottom-right-radius: 5%;}
.bangdingBox .footerbox .footinfo span.r{position:absolute;right:30px;line-height:30px;font-size:13px;color:#2099f3;}
.bangdingBox .changeBox{margin:10px;display:none;}
.bangdingBox .changeBox ul{width:100%;}
.bangdingBox .changeBox ul li{width:100%;position:relative;padding:10px 0;overflow:hidden;}
.bangdingBox .changeBox ul li span{display:block;height:30px;line-height:30px;}
.bangdingBox .changeBox ul li span input{border:none;height:30px;font-size:16px;width:100%;border-bottom:1px solid #c6c6c6;}
.bangdingBox .changeBox ul li span.l{position:absolute;width:100px;left:0;top:10px;color:#313131;}
.bangdingBox .changeBox ul li span.r{margin-left:100px;border-bottom:1px solid #c6c6c6;position:relative;}
.bangdingBox .changeBox ul li span.r label{width:100%;height:100%;display: block;text-align: left;}
.bangdingBox .changeBox ul li span.r select{position:absolute;left:0;top:0;width:100%;height:100%;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.bangdingBox .changeBox ul li span.r i{width:0;height:0;border-width:0 0 6px 6px;border-style:solid;border-color:transparent transparent #666 transparent;position:absolute;right:5px;bottom:5px;}
.bangdingBox .changeBox ul li span.remind{margin-left:100px;overflow:hidden;display:block;height:auto;}
.bangdingBox .changeBox ul li span.remind i{float:left;width:12px;height:12px;margin-top:5px;}
.bangdingBox .changeBox ul li span.remind i img{width:100%;height:100%;}
.bangdingBox .changeBox ul li span.remind label{display:block;margin-left:15px;line-height:auto;font-size:14px;line-height:22px;text-align:left;}
.bangdingBox .infoBox{margin:10px;}
.bangdingBox .infoBox ul{width:100%;margin-bottom: 30px;margin-top:30px;}
.bangdingBox .infoBox ul li{width: 23%;display: inline-block;vertical-align: top;font-size: 15px;overflow: hidden;}
.bangdingBox .infoBox ul li span.f{display:block;height:30px;line-height:30px;color: #2099F3;}
.bangdingBox .infoBox ul li span.r{display:block;height:30px;line-height:30px;color: #2099F3;}
.bangdingBox .infoBox ul li span.n{display:block;height:30px;line-height:30px;color: #8A8888;}
.bangdingBox .infoBox ul li span.n:before{content: "";display: block;margin-top: 15px;margin-left: -4%;width: 7%;height: 2px;background: #8A8888;position: absolute;}
.bangdingBox .infoBox ul li span.r:before{content: "";display: block;margin-top: 15px;margin-left: -4%;width: 7%;height: 2px;background: #6db5ff;position: absolute;}
.bangdingBox .infoBox1{margin:2px;}
.bangdingBox .infoBox1 ul{width:100%;margin-bottom: 15px;}
.bangdingBox .infoBox1 ul li{width: 45%;margin:5px;display: inline-block;vertical-align: top;font-size: 15px;overflow: hidden;border:1px solid #d0d0d0;border-radius:5px 5px 5px 5px;}
.bangdingBox .infoBox1 ul li span.l{display:block;height:33px;line-height:33px;color: #333;}
.bangdingBox .infoBox1 ul li span.r{display:block;height:33px;line-height:33px;color: #333;}
.bangdingBox .infoBox1 ul li span.l img{width:15px;height:15px;top:5px;}
.bangdingBox .infoBox1 ul li span.r img{width:15px;height:15px;}
.bangdingBox .infoBox2{margin:2px;border-bottom:1px solid #d0d0d0;}
.bangdingBox .infoBox2 ul{width:100%;margin-bottom: 15px;}
.bangdingBox .infoBox2 ul li{width: 100%;margin:5px;display: inline-block;vertical-align: top;font-size: 14px;overflow: hidden;}
.bangdingBox .infoBox2 ul li span.l{width: 25%;float: left;position: relative;color: #716D6D;text-align: left;}
.bangdingBox .infoBox2 ul li span.r{width: 70%;position: relative;float: left;text-align: left;color: #827A7A;}



.submitBtn{margin:20px 10px 10px 10px;height:50px;line-height:50px;border-radius:5px;text-align:center;color:white;cursor:pointer;}


