@CHARSET "UTF-8";
.mobile_comment{width: 90%;height: auto;padding-bottom: 20px;margin: 20px 5%;}
.mobile_comment ul.commentList li.comment_li{width:100%;height:auto;overflow:hidden;position:relative;margin-top:20px;}
.mobile_comment ul.commentList li.comment_li .headImg{width:50px;height:50px;border-radius:50%;position:absolute;left:0;top:0;}
.mobile_comment ul.commentList li.comment_li .headImg img{width:100%;height:100%;border-radius:50%;}
.mobile_comment ul.commentList li.comment_li .commentInfo{margin-left:60px;font-size: 16px;}
.mobile_comment ul.commentList li.comment_li .commentInfo .t{width:100%;position:relative;}
.mobile_comment ul.commentList li.comment_li .commentInfo .t .name{height:30px;line-height:30px;display:block;margin-right:145px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.mobile_comment ul.commentList li.comment_li .commentInfo .t .time{height:30px;line-height:30px;width:70px;position:absolute;right:70px;top:0;}
.mobile_comment ul.commentList li.comment_li .commentInfo .t .praiseBtn{float:right;height:30px;line-height:30px;color:#17b056;cursor:pointer;position:absolute;right:0;top:0;}
.mobile_comment ul.commentList li.comment_li .commentInfo .t .praiseBtn span{float:left;height:100%;width:40px;}
.mobile_comment ul.commentList li.comment_li .commentInfo .t .praiseBtn img{float:left;height:16px;margin:7px 0;}
.mobile_comment ul.commentList li.comment_li .commentInfo .b{width:100%;line-height:20px;border-bottom:1px solid #d9dadb;padding-bottom:10px;}
.mobile_comment ul.commentList li.comment_li:last-child .commentInfo .b{border-bottom:none;}
.mobile_comment ul.commentList .comment_reply_box{font-size: 14px;text-align: left;margin: 3px 0;}
.mobile_comment ul.commentList .comment_reply_box .reply_time{font-size: 13px;color: #c5c9cd}
.mobile_comment ul.commentList .comment_reply_box .reply_receiver_color{color: #14c682;}
.mobile_comment .loadBtn{width:90%;height:35px;line-height:35px;text-align:center;margin:0 5%;}
.mobile_comment .noComment{width:100%;height:100px;line-height:100px;background:#eee;text-align:center;border-radius:5px;color:#ccc;}
.mobile_comment .discussText{display:block;width:100%;position:fixed;top:0;left:0;z-index:1001;background:#fafafa;border-radius:3px;}
.mobile_comment .discussText textarea{width:98%;margin:5px 1%;float:left;border:none;height:120px;resize:none;overflow:hidden;font-size:18px;}
.mobile_comment .discussText .discussSend{float:left;width:100%;height:50px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.mobile_comment .discussText button{width:60px;float:right;margin:10px;border-radius:3px;border:none;cursor:pointer;}
.mobile_comment .discussText button.s{color:white;background:#67a60f;height:30px;line-height:30px;}
.mobile_comment .discussText button.c{color:#2f2f2f;background:#f8f8f8;border:1px solid #e9e9e9;height:30px;line-height:28px;}
.mobile_comment .discussBg{display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:black;z-index:1000;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity: 0.3;opacity: 0.3;}
