 /*图片放大*/
.slide-view {background: rgb(0,0,0);position: absolute;width: 100%;height: 100%;overflow: hidden;top: 0;left: 0;z-index: 9999;}
.container {margin-top: 10px;padding: 0 5px;overflow: hidden;}
.slideBox {width: 100%;position: relative;margin-top: 10px;overflow: hidden;}
.pv-inner{position:relative;z-index:-1;display:-webkit-box;display:-moz-box;display:box;width:100%;height:100%;-webkit-transition:all 350ms linear;-webkit-backface-visibility:hidden;-moz-transition:all 350ms linear;-moz-backface-visibility:hidden;transition:all 350ms linear;backface-visibility:hidden}
.pv-inner li{text-align:center}
.pv-inner img{max-width:97%;vertical-align:middle;-webkit-transform:scale(1) translate(0px,0px);-moz-transform:scale(1) translate(0px,0px);transform:scale(1) translate(0px,0px);max-height:100%;visibility:visible;-webkit-transition:200ms;-moz-transition:200ms;transition:200ms;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.slide-view .counts{position:absolute;top:5%;left:0;right:0;text-align:center}
.slide-view .counts .value{border-radius:9px;line-height:18px;padding:0
6px;font-size:11px;display:inline-block;background-color:rgba(102, 102, 102, 0.6);color:rgb(241, 241, 241)}
.slide-view .ui-loading{position:absolute;margin:-10px 0 0 -10px;left:50%;top:50%}
.ui-loading{display:inline-block;position:relative;width:40px;height:20px;vertical-align:middle;margin:-4px 2px 0 -42px}
.ui-loading .white i{background:rgb(255, 255, 255)}
/*图片放大end*/