.dialog_bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: block;
    z-index: 999998;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1,startcolorstr=#99000000,endcolorstr=#99000000);
}

#popup_container {
    font-family: Arial, sans-serif;
    font-size: 12px;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
    border: none;
    color: #000;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: fixed;
    top: 20%;
    margin: 0 auto;
    background: #ffffff;
    z-index: 999999;
    left: 10%;
    width: 80%;
}

#popup_title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    line-height: 1.75em;
    color: #666;
    background: #CCC url(title.gif) top repeat-x;
    border: solid 1px #FFF;
    border-bottom: solid 1px #999;
    cursor: default;
    padding: 0 1em;
    margin: 0em;
}

#popup_content {
    padding: 0;
    margin: 0em;
}
/*#popup_message { padding:20px 10px; font-size:16px; font-weight:bold; text-align:center;}*/

#popup_message {
    padding: 20px 10px;
    font-size: 14px;
    text-align: center;
    color: #111111;
    line-height: 23px;
    padding-left: 15px;
}

#popup_panel {
    text-align: center;
    padding: 0;
    position: relative;
    height: 44px;
    border-top: 1px solid #dadade;
}

    #popup_panel::after {
        content: " ";
        clear: both;
        visibility: hidden;
        display: block;
        height: 0;
    }

#popup_prompt {
    margin: .5em 0em;
    border: none;
    height: 30px;
}
/*#popup_ok{ background:#e74580; border:solid 1px #e74580;height:30px; width:86px;box-sizing:border-box; font-size:16px; color:#FFF;-webkit-appearance: none; margin-bottom:10px; line-height:30px;}*/
#popup_ok {
    background: white;
    border: none;
    height: inherit;
    width: 50%;
    box-sizing: border-box;
    font-size: 17px;
    color: #06c1ae;
    -webkit-appearance: none;
    line-height: 30px;
    /*-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;*/
    border-right: 1px solid #dadade;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    float: left;
}

#popup_panel .w_100 {
    /*background: #e74580;
    border: solid 1px #e74580;
    height: 30px;
    width: 86px;
    box-sizing: border-box;
    font-size: 16px;
    color: #FFF;
    -webkit-appearance: none;
    margin-bottom: 10px;
    line-height: 30px;*/
    background: white;
    border: none;
    height: inherit;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    color: #06c1ae;
    -webkit-appearance: none;
    line-height: 30px;
    border-right: 1px solid #dadade;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    /*float: left;*/
}
/*#popup_cancel{ margin-left:40px; background:#55c354;border:solid 1px #55c354;height:30px; width:86px;box-sizing:border-box; font-size:16px; color:#FFF;-webkit-appearance: none; margin-bottom:10px; line-height:30px;}*/
#popup_cancel {
    background: white;
    height: inherit;
    width: 50%;
    box-sizing: border-box;
    font-size: 17px;
    color: #06c1ae;
    -webkit-appearance: none;
    line-height: 30px;
    border: none;
    border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    float: left;
}
/*.line_s{ width:1px; height:40px;display:none; position:absolute; margin:0 auto; left:0; right:0; top:0;}*/

.line_s {
    display: none !important;
    width: 0px;
    height: inherit;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    border-left: 1px solid #dadade;
}

.tsk {
    font-size: 14px;
    min-width: 100px;
    max-width: 200px;
    height: 20px;
    padding: 10px;
    background: #56c454;
    margin: 1px auto;
    text-align: center;
    color: #FFF;
    display: none;
    position: absolute;
    top: 130px;
    left: 0px;
    right: 0px;
}
