/* ¼ÓÔØ¸ü¶à */
.load_more {
	display: inline-block;
	border: 0px solid #D1D1D1;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	
	margin-top:5px;
	height: 40px;
	line-height: 40px;	
	text-align: center;
	width: 100%;
}

.load_more div {
	display: inline-block;
}

.load_more .allpage {
	margin-right: 30px;
	width: 100px;
}

.load_more a {
	display: inline-block;
	background: #fff;
	border: #c9c9c9 1px solid;
	line-height: 33px;
	padding: 0 15px;
	border-radius: 4px;
	color: #242424;
	margin: 0 3px;
}