/****联系手册****/
/*公共样式*/

/*ul li { list-style: none; }
ul li a{text-decoration: none; display: block; height: 100%; width: 100%; }*/
a,a:hover { text-decoration: none;/* display: block; height: 100%; width: 100%; */}
.clear1{ clear: both; overflow: hidden; height: 1px; line-height: 1px;}
.blank{ clear: both; height: 10px;}
.small_blank{ height: 5px; clear: both;}
.over_hidden{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.float_left{ float:left;}
.float_right{ float:right;}
h1{ font-size: 16px; font-weight: bold; }
.text_center{ display: block; text-align: center;}
.w50{ width: 50%; display: block;}
.clearfloat1{overflow:auto; zoom:1;}
.box_box{display:-moz-box;display:-webkit-box; display:box;}
.box_flex1{-moz-box-flex:1.0; -webkit-box-flex:1.0; box-flex:1.0;}
.f_red,div.f_red{ color: #f00;}
.f_black,div.f_black{ color: #000;}
.f_blue,div.f_blue{color: #30C6E1;}
.f_grey,div.f_grey{color: #8d8d8d;}
.top_height_blank{ height: 60px; display: block; clear: both;}

.next_btn_center{ margin:15px auto; width: 100px; background-color: #55c354; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; color: #fff; display: block;}
.next_btn_center2{ margin:15px auto; width: 100px; background-color: #30C6E1; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; color: #fff; display: block;}


/*manual_list*/
.manual_list{ padding:10px; position: relative;}
.manual_list_ul{}
.manual_list_ul li{ margin-bottom: 10px; padding: 15px; box-sizing: border-box; border:1px solid #c9c9c9; position: relative; background-color: #fff;}
.manual_list_ul li.new_li:before{ position: absolute; left: -5px; top:-1px; width: 10px; height: 10px; border-radius: 50%; background-color: #e60012; content: ""; }
.manual_list_ul li:last-child{ margin-bottom: 0;}

.manual_list_ul li .li_text{ width: 100%; box-sizing: border-box; padding-left: 110px; position: relative; min-height: 100px; display: block; position: relative;}
.manual_list_ul li .li_text .li_img{ width: 100px; height: 100px; float: left; z-index: 2; top: 0; left: 0; position: absolute;}
.manual_list_ul li .li_text .li_img img{ width: 100%; height: 100%;}
.manual_list_ul li .li_text .til1{ font-size: 14px; color: #333333;  line-height: 20px;}
.manual_list_ul li .li_text .til2{ font-size: 14px; color: #8d8d8d;  line-height: 20px;}
.manual_list_ul li .li_text .til2.til_time{ font-size: 12px;}
.manual_list_ul li .li_text .til3{ font-size: 14px; color: #8d8d8d;  line-height: 20px; bottom: 0; position: absolute;}
.manual_list_ul li .li_text .til3.btn_green{color: #fff; line-height: 28px;}
.btn_green{ min-width: 80px; box-sizing: border-box; border: 1px solid #55c354; height: 30px; line-height: 28px; font-size: 14px;  color: #fff; background-color: #55c354; text-align: center; border-radius: 3px; }
.btn_green a{ color: #fff;}
.btn_green.on{ color: #55c354; background-color: #fff;}
.btn_green.on a{color: #55c354;}
.btn_blue{ color: #fff; background-color: #30C6E1;}


/*manual_start*/
.manual_main{ height: 100%; width: 100%; box-sizing: border-box; padding: 10px 10px 85px; overflow: hidden; background-color: #E7FAFF; }
.manual_cover{ width: 100%;  bottom: 80px; top: 0; overflow:hidden; height: 100%; box-sizing: border-box; position: relative; }
.manual_cover .cloud .til1{ font-size: 16px; font-weight: bold; line-height: 20px; float: right; padding-top: 35px; padding-right: 15px; }
.manual_cover .cloud .til2{ font-size: 14px; float: right; padding-right: 15px;}
.manual_cover .cloud2{ position: absolute; z-index: 2; right: 0px; bottom: 25px; width:100%; background-color: #55c354; color: #fff; padding: 10px; text-align: right; background:rgba(85,195,84,0.8);}
.manual_cover .cloud2 a{ text-decoration: none; color: #fff;}
.manual_cover .cloud2 .til1{ font-size: 16px; font-weight: bold; line-height: 20px;}
.manual_cover .cloud2 .til2{ font-size: 14px; float: right; }
.manual_cover img{ width: 100%;}
.bottom_control_row{ height: 60px; color: #fff; font-size: 14px; position: fixed; bottom: 0; left: 0; z-index: 2; width: 100%; background-color: #E7FAFF; border: none; }
.bottom_control_row .prev_btn a,.bottom_control_row .next_btn a{ color: #fff;}
.bottom_control_row .prev_btn{ margin:15px 5px 15px 35px; float: left; width: 100px; background-color: #e5457f; border-radius: 3px; line-height: 35px; height: 35px; text-align: center;}
.bottom_control_row .next_btn{ margin:15px 35px 15px 5px; float: right; width: 100px; background-color: #55c354; border-radius: 3px; line-height: 35px; height: 35px; text-align: center;}
.bottom_control_row .next_btn.blue_bg{background-color: #30C6E1;}

/*manual_wonderful_moment*/
.manual_wonderful_moment{ width: 100%;}
.manual_visible_box{width: 100%;  box-sizing: border-box; zoom: 1; padding: 0 0 60px;}
.manual_main_box{  box-sizing: border-box; background-color: #fff;  border:1px solid #c9c9c9; padding:10px; }
.manual_main_box .title{ font-size: 16px; font-weight: bold; width: 100%; text-align: center;}
.manual_main_box .title_l{ font-size: 16px; font-weight: bold; width: 100%;}
.manual_main_box .img_box{ width: 100%;  position: relative;}
.manual_main_box .content_text{ line-height: 1.5em; font-size: 14px;}

/*.wonderful_swiper-container { width: 100%; height: 140px; position: relative;}
.content-slide {padding: 20px; color: #fff;}
.content-slide .title {font-size: 25px; margin-bottom: 10px;}
.swiper-slide img{ width: 100%;}
.pagination { position: absolute; left: 0; text-align: center; bottom:5px; width: 100%; z-index:999;}
.swiper-pagination-switch {display: inline-block; width: 10px; height: 10px; border-radius: 10px; background: rgba(0,0,0,.4); margin: 0 3px; cursor: pointer;}
.swiper-active-switch { background: #e64086;}*/


/*manual_baby_situation*/
.manual_main1{ width: 100%; box-sizing: border-box; padding:20px;  position: relative; background-color: #E7FAFF;}
.manual_til_img{ width: 100%; text-align: right; }
.manual_til_img img{ width: 160px; display: inline-block;vertical-align:bottom; margin-top:-15px;}
.manual_main_box2{width: 100%; box-sizing: border-box; background-color: #fff;  border:1px solid #c9c9c9; padding:5px 10px; border-radius: 3px; position: relative; }
.head_til{width: 100%; border-bottom: 1px solid #c9c9c9; line-height: 20px; padding: 10px; color: #30c6e1; font-size: 16px; box-sizing: border-box;}
.manual_baby_situation_ul{ width: 100%; box-sizing: border-box; padding: 0 5px;}
.manual_baby_situation_ul li{ width: 100%; border-bottom: 1px dashed #c9c9c9; line-height: 20px; padding: 10px 5px; overflow:auto; zoom:1; font-size: 14px; box-sizing: border-box;}
.manual_baby_situation_ul li:last-child{border-bottom: none; }
.manual_baby_situation_ul li .li_block{ width:50%; float: left; line-height: 20px;}
.manual_baby_situation_ul li .li_block_1{ width:40%; float: left; line-height: 20px;}
.manual_baby_situation_ul li .li_block_2{ width:60%; height: 20px; display:-moz-box; display:-webkit-box; display:box;}
.li_block_2 .situation_level1,.li_block_2 .situation_level2,.li_block_2 .situation_level3{-moz-box-flex:1.0; -webkit-box-flex:1.0; box-flex:1.0;}
.li_block_2 .on{position: relative; }


/*manual_school_evaluation*/
.evaluation_box{background-color: #fff;  border:1px solid #c9c9c9; border-radius: 3px; width: 100%; box-sizing: border-box; position: relative; zoom:1; overflow: auto; }
.evaluation_box.evaluation_box2{background-color: #F7F7F7; border: 1px dashed #c9c9c9; }
.evaluation_box .evaluation_box_til3{ line-height: 20px; height: 20px; color: #55c354; font-size: 16px;}
.evaluation_box .time{color:#8d8d8d; font-size: 12px; }
.evaluation_box .evaluation_box_text{ padding: 0 15px 15px; line-height: 20px;}
.evaluation_box .evaluation_box_text2{ padding: 15px 15px 0 0;  position: relative; float: left;}
.evaluation_box .evaluation_box_content{ padding:10px; position: relative; clear: both; font-size:14px;}
.evaluation_box .evaluation_photo{ width: 70px; height: 55px; padding: 15px 15px 0; box-sizing: border-box; float: left;}
.evaluation_box .evaluation_photo img{ width: 100%; height: 100%; border-radius: 50%;}
.parent_evaluation_box .evaluation_photo{ width: 55px; height: 40px; padding: 0 15px 0 0; box-sizing: border-box; float: left;}
.parent_evaluation_box .evaluation_photo img{ width: 100%; height: 100%; border-radius: 50%;}
.parent_evaluation_box .time{color:#8d8d8d; font-size: 12px; }
.parent_evaluation_box{ padding: 10px; border:1px dashed #c9c9c9; box-sizing: border-box;}
.parent_evaluation_box textarea{ width: 100%; height: 100px; border: none; clear: both;}
.parent_evaluation_text{ width: 100%; line-height: 20px;}
.parent_evaluation_img{ width: 100%;}
.parent_evaluation_img img{ width: 100%; margin-bottom: 10px;}
.parent_evaluation_img img:last-child{ margin-bottom: 0;}
.evaluation_edit_btn{ width: 20px; float: right;}
.evaluation_edit_btn img{ width: 100%;}
.evaluation_upload_btn{ width: 30px;}
.evaluation_upload_btn img{ width: 100%;}

/*manual_home_evaluation*/
.evaluation_send_btn{ margin:15px auto; width: 100px; background-color: #e5457f; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; color: #fff;}

/*manual_student_list*/
.manual_student_list{ padding: 10px;}
.manual_student_list_search{ padding: 10px; box-sizing: border-box; width: 100%; height: 42px; border: 1px solid #d4d4d4; position: relative; background-color: #fff; }
.manual_student_list_search .search_text{ border: none; height: 22px; line-height: 22px; font-size: 14px; box-sizing: border-box; width: 100%; padding-right: 30px;}
.manual_student_list_ul_a{background-color: #fff; border: 1px solid #d0d0d0;}
.manual_student_list_ul_a li{ min-height: 40px; }
.manual_student_list_ul_a li .ul_a_til{ line-height: 40px; padding: 0 20px 0 8px; position: relative; overflow: auto; zoom: 1; border-bottom: 1px solid #d0d0d0;}
.manual_student_list_ul_a li .manual_student_list_ul li:last-child{ border-bottom: 1px solid #d0d0d0;}
.manual_student_list_ul_a li:last-child .manual_student_list_ul li:last-child{ border-bottom: none;}
.manual_student_list_ul_a li ul{ display: none;}

.manual_student_list_ul{ background-color: #fff;}
.ul_border{border: 1px solid #d0d0d0;}
.manual_student_list_ul li{ width: 100%; height: 56px; border-bottom: 1px solid #d0d0d0; box-sizing: border-box; padding: 8px 20px 8px 8px;}
.manual_student_list_ul li:last-child{ border-bottom: none;}
.manual_student_photo{ width:40px; height:40px; overflow: hidden; border-radius:50%; }
.manual_student_photo img{ width: 100%; height:100%; }
.manual_student_name{ padding-left: 10px;}

/* evaluation_edit_btn*/

.teacher_evaluation_edit_btn a{ width: 50px; height: 50px; display: block;}
.no_data .no_data_notice{ font-size: 14px; line-height: 30px; text-align: center; }
.white_btn{margin:0px; width: 100px; background-color: #fff; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; display: block; color: #30C6E1; float: right; border: 1px solid #30C6E1;}
.white_btn2{margin:0px; width: 100px; background-color: #fff; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; display: block; color: #55c354; float: right; border: 1px solid #55c354;}

/*manual_add_manual*/
.input_text_1{ border:1px solid #c9c9c9; border-radius: 3px; background-color: #f2f2f2; padding: 5px; }
.input_text_1 input{ border: none; outline: none; line-height: 20px; height: 20px; width: 100%; background-color: transparent; }
.blue_add_btn { margin:0px auto; width: 100px; background-color: #30C6E1; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; display: block; color: #fff;}
.select_cover_img{ width: 100%; zoom: 1; overflow: auto;}

/*send_manual*/
.manual_student_list_ul2{ background-color: #fff; border: 1px solid #d0d0d0;}

.manual_student_list_ul2 li{ width: 100%; height: 57px; border: none; border-bottom: 1px solid #d0d0d0; box-sizing: border-box; padding: 8px 8px 8px 8px; line-height: 40px; zoom: 1; overflow: auto;}
.manual_student_list_ul2 li:last-child{ border-bottom: none;}
.manual_student_list_ul2 li a{ display: block; width: 100%; color: #000; font-size:14px;}
.manual_student_list_ul2 li .manual_student_photo{ width:40px; height:40px; display: inline-block; float: left; border: none;  border-radius:50%; box-sizing: content-box; }
.manual_student_list_ul2 li .manual_student_photo img{ width: 100%; border: none; }
.manual_student_list_ul2 li .manual_student_name{ padding-left: 10px; display: inline-block; float: left; border: none; }
.manual_student_btn_edit{margin:2px 0; width: 60px; background-color: transparent; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; display: block; color: #8d8d8d; float: right; }
.manual_student_btn_unedit{margin:2px auto; width: 60px; background-color: #30C6E1; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; display: block; color: #fff; float: right; }
.notice{ line-height: 30px; color: #8d8d8d; font-size: 14px;}
.small_notice{ line-height: 18px; color: #f00; font-size: 12px;} /*pei14-12-24*/
/*.unable_btn{ background-color: #A0A0A0; margin:15px auto; width: 100px; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; display: block; color: #fff;}
*/
.to_send_btn1{background-color: #30C6E1; margin:15px auto; width: 100px; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; display: block; color: #fff;}
.unable_btn{margin:15px 5px 25px 35px; float: left; width: 100px; background-color: #A0A0A0; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; color: #fff;}
.to_send_btn2{margin:15px 5px 25px 35px; float: left; width: 100px; background-color: #e5457f; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; color: #fff;}

/*manual_saysomething*/
.saysomething_box{ padding: 10px; border-radius: 3px; border:1px solid #c9c9c9; box-sizing: border-box; background-color: #fff;}
.saysomething_box textarea{ width: 100%; height: 100px; border: none;}

/*manual_add*/
.start_time{ position: relative;}


/*图片放大*/
.slide-view {background: rgb(0,0,0);position: absolute;width: 100%;height: 100%;overflow: hidden;top: 0;left: 0;z-index: 9999;}
.container {margin-top: 10px;padding: 0 5px;overflow: hidden;}
.slideBox {width: 100%;position: relative;margin-top: 10px;overflow: hidden;}
.pv-inner{position:relative;z-index:-1;display:-webkit-box;display:-moz-box;display:box;width:100%;height:100%;-webkit-transition:all 350ms linear;-webkit-backface-visibility:hidden;-moz-transition:all 350ms linear;-moz-backface-visibility:hidden;transition:all 350ms linear;backface-visibility:hidden}
.pv-inner li{text-align:center}
.pv-inner img{max-width:97%;vertical-align:middle;-webkit-transform:scale(1) translate(0px,0px);-moz-transform:scale(1) translate(0px,0px);transform:scale(1) translate(0px,0px);max-height:100%;visibility:visible;-webkit-transition:200ms;-moz-transition:200ms;transition:200ms;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.slide-view .counts{position:absolute;top:5%;left:0;right:0;text-align:center}
.slide-view .counts .value{border-radius:9px;line-height:18px;padding:0
6px;font-size:11px;display:inline-block;background-color:rgba(102, 102, 102, 0.6);color:rgb(241, 241, 241)}
.slide-view .ui-loading{position:absolute;margin:-10px 0 0 -10px;left:50%;top:50%}
.ui-loading{display:inline-block;position:relative;width:40px;height:20px;vertical-align:middle;margin:-4px 2px 0 -42px}
.ui-loading .white i{background:rgb(255, 255, 255)}

/*图片放大end*/

/*放图片的容器*/
.thumb_container{width: 100%; overflow-x: scroll; height: 100px; white-space: nowrap; position: relative;}
.thumb_slideBox{ margin: 0; padding: 0; height: 100px; list-style: none; zoom:1; overflow:auto;  white-space: nowrap; position:relative;}
.thumb_slideBox li{ height: 100px; width: 100px; padding: 0 2px; float: left; display: inline-block; overflow: hidden;}
.thumb_slideBox li img{width: 100%; min-height:100%;}

.manual_student_list_ul.no_r_p li{padding-right:8px;}
.manual_student_list_ul.no_r_p li a{ background: none; padding-right: 0;}
.blue_btn_1 { margin:0px auto; width: 100%; color: #55c354; border-radius: 3px; line-height: 35px; height: 35px; text-align: center; display: block; background-color: #E9EBEA;}
/****联系手册结束****/

/*联系手册底部 chensz 20150119*/
.h_50px{ height:50px;}
.manual_bottom{ height:45px; line-height:45px; background:#FFF; position:fixed; bottom:0px; width:100%; z-index:10; border-top: solid 1px #d9d9d9;}
.manual_bottom .mb_cell{ width:50%; font-size:16px;}


/*添加评语 chensz 20150119*/
.add_remark{ margin:10px;}
.add_remark textarea{ font-size:14px; padding:10px; background:#FFF; border:solid 1px #d9d9d9; width:100%; height:150px; box-sizing:border-box; margin-bottom:20px;}
.add_remark .add_remark_buttom{ width:100px; height:35px; margin:0 auto; background:#e5457f; color:#FFF; font-size:16px; line-height:35px; text-align:center;border-radius: 5px; }

/*插入评语 chensz 20150119*/

.insert_remark{ margin:10px;}
.insert_remark .ir_cell{ position:relative; padding:10px; background:#FFF;border:solid 1px #d9d9d9; margin-bottom:10px;}
.insert_remark .ir_cell .ir_cell_text{ font-size:14px; line-height:20px; }/*max-height:60px; overflow:hidden;*/

.ir_cell_ts{ color:#30c6e1;}

.insert_remark_bottom{ height:45px; width:100%; background:#FFF; border-top:solid 1px #d9d9d9; position:fixed; bottom:0px; z-index:10;}
.insert_remark_bottom .irb_cell{ width:50%; line-height:45px; text-align:center; font-size:16px; box-sizing:border-box;} 
.insert_remark_bottom .irb_cell_l{color:#30c6e1;}
.insert_remark_bottom .irb_cell_r{color:#e5457f; border-left:solid 1px #d9d9d9;}
.irb_add_remark{ line-height:45px; text-align:center;color:#e5457f; font-size:16px;}

#ir_cell{display: flex;}
#ir_cell > ir_cell_text{flex:1;order:1;  line-height:20px; font-size:14px; }


.ir_cell_img_popup{ display:none; position:absolute; top:30px; right:5px; background:#f1f1f1; width:60px; border:solid 1px #d9d9d9; z-index:9;}
.ir_cell_img_popup div{color:#30c6e1; height:30px; line-height:30px; text-align:center;border-bottom:solid 1px #d9d9d9;}
.ir_cell_img_popup div:last-child{border-bottom:none;}

.crpy{ border:solid 2px #aaa; width:76px; height:25px; color:#aaa; line-height:25px; text-align:center;border-radius: 5px; float:right; }
