body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

ul,ol,li {
	list-style: none;
}

a {
	text-decoration: none;
}

.l {
	float: left;
}

.r {
	float: right;
}

.all {
	width: 100%;
	height: auto;
}

.hide {
	display: none !important;
}



.msgHeader .msgTitle {
	color: #333;
	font-size: 16px;
	float: left;
	line-height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.unread {
	border-radius: 50%;
	background-color: #f44336;
	width: 10px;
	height: 10px;
	margin-left: -10px;
}

.msgContent {
	color: #666;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 20px
}

.msgTime,.msgSender {
	color: #999;
	font-size: 12px;
	line-height: 20px;
}



