body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {margin:0;padding:0;font-family:"微软雅黑";}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
.all{width:100%;height:auto;}
.mainColor{background:#18b4ed !important;}
.noMR{margin-right:0px !important;}
.noML{margin-left:0px !important;}
.noBT{border-top:none !important;}
.line{width:100%;height:10px;}
.hide{display:none !important;}
.maxWidth{margin:0 10px !important;}
.loadBox{width:90%;height:50px;line-height:50px;text-align:center;margin:0 5%;color:#999;font-size:14px;}


/*图片轮播模块*/
.banner{width:100%;height:auto;background:white;border-bottom:1px solid #e1e1e1;}
.banner .pic{width:100%;border-top:1px solid #e1e1e1;position:relative;overflow:hidden;}
.banner .pic ul{width:100%;height:160px;overflow:hidden;}
.banner .pic ul li{float:left;height:160px;}
.banner .pic ul li a{width:100%;display:block;height:160px;}
.banner .pic ul li img{width:100%;margin:0;padding:0;}
.banner .pic .pagenavi{position:absolute;left:0;bottom:0px;text-align:right;width:100%;  filter:Alpha(opacity=60); padding:2px;z-index:2;}
.banner .pic .pagenavi a{width:8px; height:8px; line-height:99em; background:#fff; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; margin:0 4px; overflow:hidden; cursor:pointer; display:inline-block; *display:inline; *zoom:1; position:relative;}
.banner .pic .pagenavi a.active{background:#ff0;  position:relative;}
.banner .pic  ul{margin:0;padding:0;}
.banner .pic  li{margin:0;padding:0;position:relative;}
.banner .pic  li img{width:100%;height:100%;}
.banner .pic  li span.bg{position:absolute;width:100%;height:30px;background:black;color:white;bottom:0;left:0;filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;z-index:1;}
.banner .pic  li span.font{position:absolute;width:98%;padding-left:2%;height:30px;line-height:30px;color:white;bottom:0;left:0;z-index:2;font-size:14px;}


.infoList{width:100%;height:auto;}
.infoList ul{width:100%;height:auto;}
.infoList ul li{width:100%;height:70px;border-bottom:1px solid #e1e1e1;padding:15px 0;}
.infoList ul li:hover{background:#eee;}
.infoList ul li .l{width:90px;height:70px;margin-left:10px;background:#eee;float:left;overflow:hidden;}
.infoList ul li .l .img{width:100%;height:100%;overflow:hidden;position:relative;}
.infoList ul li .l img{position:absolute;}
.infoList ul li .r{height:70px;margin:0 10px 0 110px;}
.infoList ul li .r .t{width:100%;height:30px;line-height:22px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:18px;color:#333333;}
.infoList ul li .r .m{width:100%;height:20px;line-height:20px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:14px;color:#777777;}
.infoList ul li .r .b{width:100%;height:20px;line-height:20px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:12px;color:#999999;}
.infoList ul li .r .b span.read{float:left;height:20px;line-height:20px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.infoList ul li .r .b span.time{float:right;height:20px;line-height:20px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}













