	body,h1,h2,h3,h4,h5,p,table,ul,li,textarea,select,input,a{padding:0; margin:0; outline-style: none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
			body{background-color:#f0f0f2; padding:0px; margin:0px; width:100%; font-family:Helvetica,"微软雅黑"; font-size: 12px;}
			html,body{ width:100%;height:100%;position: relative;}
			ul li { list-style: none; }
			a{
				text-decoration: none;
			}
			a,input,select,button,img{
				-webkit-tap-highlight-color:rgba(0,0,0,0);
				-webkit-appearance:none;
				appearance:none;
				border:none;
				outline:none;
				border-radius: 0;
			}
			.swiper-container{
				width: 100%;
				/*height: 149px;*/
                min-height:110px;
                max-height:160px;
			    background-color:#fff;
			}
			.swiper-slide{
				width: 100%;
         
				/*height:100%;*/
			}
			.swiper-slide img{
				width: 100%;
                vertical-align:top;
                min-height:110px;
                max-height:160px;
				/*height:100%;*/
			}
			.banner{
				padding:15px 15px 0;
				background-color: #fff;
				/*margin-bottom: 10px;*/
			}
			.item_list{
				width: 100%;
				overflow: hidden;
			}
			.item{
				float: left;
				width: 25%;
			}
			.pull_left{
				float: left;
			}
			.pull_right{
				float: right;
			}
			.item a{
				display: block;
				width: 100%;
				text-align:center;
				color:#666;
				cursor: pointer;
				height:78px;
			}
			.item a img{
				width:45px;
				height:45px;
				/*margin: 0 auto;*/
			}
			.item a p{
				text-align: center;
				padding-top: 5px;
			}
			.parent_option{
				overflow: hidden;background-color: #fff;
				margin-bottom: 10px;
			}
			.parent_option a{

				position: relative;
				box-sizing: content-box;
				display:block;width:50%;overflow: hidden;height:38px;float: left;border-bottom: 1px solid #f0f0f2;padding:15px 0 15px;
				text-align: left;
				text-indent:1em;

			}
			.parent_option a:nth-child(odd):after{
				content: "";
				width:1px;
				height:69px;
				background-color: #f0f0f2;
				position: absolute;
				right:0;
				top: 0;

			}

			.school_option{
				background-color: #fff;
			}
			.school_option li{
				padding:14px 15px 14px 45px;
				position: relative;
				background-color: #fff;
				border-bottom:1px solid #f0f0f2;
				color:#666;

			}
			.school_option li:after{
				content: "";
				width:9px;
				height:16px;
				position:absolute;
				right:15px;
				top:15px;
				background: url(../images/right_arrow.png) no-repeat;
				background-position: center center;
				background-size: 9px 16px;

			}
			
			
				.bubbling_wrap{
				position: relative;margin:0 auto;width:45px;height:45px;
			}
			.tips_bubbling{
				position:absolute;width:18px;height:18px;border-radius: 50% 50%;
				background-color: #ff0000;top:-0;right:-8px;color:#fff
			}

.lym_circle{
    display:inline-block;width:10px;height:10px;border-radius:5px;background-color:red;margin-right:8px;border:none;
}
.lym_news{
    position:absolute;right:36px;color:#999;
}
