body,h1,h2,h3,h4,h5,p,table,ul,li,textarea,select,input,a{padding:0; margin:0; outline-style: none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
		body{background-color:#f0f0f2; padding:0px; margin:0px; width:100%; font-family:Helvetica,"微软雅黑"; font-size: 14px;}
		html,body{ width:100%;height:100%;position: relative;}
		ul li { list-style: none; }
		a{
		    text-decoration: none;
		}
		a,input,select,button,img{
		    -webkit-tap-highlight-color:rgba(0,0,0,0);
		    -webkit-appearance:none;
		    appearance:none;
		    border:none;
		    outline:none;
		    border-radius: 0;
		}
		img{
			vertical-align: top;
		}
		.wkplan_head{
			height: 3rem;
			width: 100%;
			position: relative;
		}
		.wkplan_head img{
			width: 100%;
			height:100%;
		}
		.wkplan_class{
			position: absolute;
			width: 1.6rem;
			height: 1.6rem;
			border-radius: 50%;
			background-color: #fff;
			top:50%;
			left:50%;
			margin-top: -0.8rem;
			margin-left:-0.8rem;
		}
		.text_center{
			text-align: center
		}
		.wkplan_class p{
			font-size: 0.30rem;
			margin-top: 0.5rem;
			color:#ff9f22;
			text-overflow: ellipsis;overflow: hidden;
			white-space:nowrap;
		}
		.wkplan_class span{
			font-size: 0.26rem;
			margin-top: 0.2rem;
			color:#666;
		}
		.wkplan_list_wrap{
			padding: 0.2rem;
		}
		.wkplan_list{
		
			padding-left: 0.46rem;
			background-color: #fff;
			border-radius: 5px;
		
		}

		.wkplan_list li a{
			display: block;
			height: 100%;
			line-height: 1.1rem;
			color:#333;
			border-bottom: 1px solid #d9d9d9;
			font-size: 0.28rem;

		}
		.wkplan_list li:last-child a{
			border: none;
		}
	
		.wkplan_list li a:before{
			content:"";
			width: 0.16rem;
			height:0.16rem;
			background-color: #06c1ae;
			border-radius: 50%;
			position: absolute;
			left:0;
			top:50%;
			margin-top: -0.08rem;
			margin-left:-0.1rem;
		}
		.wkplan_list li.active a{
			color:#06c1ae;
		}

		/*.wkplan_list li:first-child:before{
			content:"";
			width:3px;
			height:0.48rem;
			background-color:white;
			z-index: 2;
			position: absolute;
			left:-2px;
			top:0;
			border-bottom-left-radius:2px;
			border-bottom-right-radius:2px;
		}
		.wkplan_list li:last-child:before{
			content:"";
			width: 3px;
			height:0.46rem;
			background-color:white;
			z-index: 2;
			position: absolute;
			left:-2px;
			bottom:0;
			border-top-left-radius:2px;
			border-top-right-radius:2px;
		}*/
		.wk_style{
			height: 100%;
			width: 100%;
			position: fixed;
			top:0;
			bottom:0;
			background-color: rgba(0,0,0,0.6);
			z-index: 10;
			display: none;

		}
		.wk_style_inner{
			
			height: 100%;
			width: 100%;
			display: -webkit-box;
			-webkit-box-align: center;
			-webkit-box-pack: center;
		}
		.wk_box{
			width: 6.3rem;
			height:8.2rem;
			background-color: #fff;
			border-radius: 5px;

		}
		.wk_box_title{
			margin-top: 0.2rem;
			color:#333333;
			width: 100%;
			height:0.6rem;
			font-size: 0.3rem;
			line-height: 0.6rem;
			position: relative;

		}

		.wk_box_content{
			padding-top:0.2rem;
			padding-left:0.75rem;
			padding-right:0.75rem;
		}
		.wk_style_kind{
			display:block;
		}
		.wk_style_kind img{
			width: 100%;
			vertical-align:top;
			border:none;
			border-radius: 0;
		}
		.wk_blank50{
			height:0.5rem;
		}
		.wk_blank90{
			height:0.9rem;
		}
		.wkplan_add{
			height:0.9rem;
			position:fixed;
			bottom:0;
			left:0;
			width: 100%;
			background-color: #fff;
			line-height: 0.9rem;

		}

		/*addphoto*/

		.wkplan_timeselect{
			padding:0.15rem 0.5rem;
			overflow: hidden;
			background-color:#fff;
			position:fixed;
			top:0;
			left:0;

			box-sizing: border-box;
			width: 100%;
			height:0.8rem;
		}
		.wkplan_startime,.wkplan_endtime{
			
			height:0.5rem;
			line-height: 0.5rem;
			font-size: 0.28rem;
			color: #666666;
		}
		.wkplan_startime{
			margin-right: 0.5rem;
		}
		.pull_left{
			float:left;
		}
		.pull_right{
			float:right;
		}
		.text_center{
			text-align:center;
		}

		label{
			display:block;
			height: 0.5rem;
			line-height:0.5rem;
		}
		.wkplan_content{
			width: 100%;
			position: absolute;
			top:0.8rem;
			bottom:0.88rem;
		}
		.wkplan_content_wrap{
			height:100%;
			width:100%;
			display: -webkit-box;
			-webkit-box-pack: center;
			-webkit-box-align:center;
			-webkit-box-origin: vertical;
		}
	.wkplan_footer{
		position: fixed;
		width: 100%;
		height:0.88rem;
		bottom:0;
		background-color: #fff;
		box-sizing: border-box;
		padding:0.14rem 0;
		overflow: hidden;
	}
	.wkset_public{
		display: block;
		font-size: 0.28rem;
		padding-left: 0.86rem;
		padding-top: 0.15rem;
		padding-bottom: 0.15rem;
		color:#666;
		


	}

	.wkplan_send{
		height:0.6rem;
		background-color: #06c1ae;
		border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
		color:#fff;
		line-height: 0.6rem;
		width: 1.5rem;
		font-size: 0.3rem;

	}

	.wkplan_content_detail{
		position: relative;
		display: none;
	}
	.change_wkplan_pic{
		position: absolute;
		width: 100%;
		height:0.88rem;
		line-height: 0.88rem;
		background-color: rgba(0,0,0,0.56);
		color:#fff;
		text-align: center;
		bottom:0;
		left:0;
	}

	/*//pic detail*/
	.webkit_item{
			-webkit-box-flex: 1.0;
			text-align: center;
			font-size: 0.3rem;
			height:0.6rem;
			line-height: 0.6rem;
			color:#ff9f22;

		}
		.webkit_item:nth-child(2)
		{
			color:#06c1ae;border-left: 1px solid #cccccc;
		}
		.wkplan_slider_wrap{
			padding:0.22rem 0.2rem;
			background-color: #fff;
			position: fixed;
			z-index: 1;
			height:0.8rem;
			box-sizing: border-box;
			top:0;left:0;
			width: 100%;
			color:#06c1ae;
			line-height: 0.36rem;
			font-size: 0.28rem;
		}

		.wkplan_save{
			height:0.6rem;
			background-color: #06c1ae;
			border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
			color:#fff;
			line-height: 0.6rem;
			width: 1.5rem;
			font-size: 0.3rem;

		}
		.wkplan_edit_cancel{
			height:0.6rem;
			background-color: #ff9f22;
			border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
			color:#fff;
			line-height: 0.6rem;
			width: 1.5rem;
			font-size: 0.3rem;
			margin-right: 0.2rem;
		}
		.edit_link{
			display:inline-block;width:100%;height:100%;color:#06c1ae
		}
		/*//add table*/


		.table_send{
			background-color: #ff9f22;
		}
		.wkplan_timeselect_table{
			padding: 0.15rem 0.2rem;
		}
		.wkplan_startime_table{
			margin-right: 0.25rem;
		}
		.wkplan_table_set{
			width: 1.5rem;
			height:0.5rem;
			background-color:#06c1ae;
			color:#fff;
			border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
			text-align: center;
			line-height: 0.5rem;
		}

		.wkplan_content_table{
			padding:0 0.2rem;
		}
		.wkplan_tab{
			overflow: hidden;
		}
		.wkplan_tab li{
			width:1.3375rem;
			height:0.54rem;
			line-height:0.54rem;
			float: left;
			border-right: 1px solid #ccc;
			border-top-right-radius: 0.2rem;
			/*border-top-left-radius: 0.2rem;*/
			text-align: center;
			background-color: #f0f0f0;
			/*border-top:1px solid #e3e3e5;*/
			box-shadow:1px -1px 4px 0px #ccc;
			font-size: 0.2rem;
			color:#666;

			box-sizing: border-box;

		}
		.wkplan_tab li:first-child{
			border-left:1px solid #ccc;
			border-top-left-radius: 0.2rem;
		}
		.wkplan_tab li.active{
			border-top-left-radius: 0.2rem;
			width: 1.6rem;
			background-color: #06c1ae;
			color:#fff;
			box-shadow: none;
		}
		.wkplan_day_detail{
			background-color: #fff;
			border-radius: 0 0.2rem 0.2rem 0.2rem;
			padding: 0 0.1rem;
		}
		.wkplan_morning{
			padding: 0.1rem 0;
		
		}
		.wkplan_morning:first-child{
			
			border-bottom: 1px solid #ccc;
		}

		/*.wkplan_tab li:first-child{
			left:0
		}*/
		.wkplan_morning_title{
			width:0.90rem;
			/*height:5.7rem;*/
			position: relative;
			border-right:
			1px solid #ccc;
			box-sizing: border-box;
		}
		.wkplan_morning_title span{
			/*position: absolute;
			height:0.74rem;width:0.28rem;
			top:50%;margin-top: -0.37rem;
			left:50%;*/
			/*margin-left: -0.14rem;*/
			font-size: 0.3rem;
			color:#666;
		}
		.wkplan_morning_content{
			overflow:hidden;width:5.9rem;margin-left: 0.1rem;
			/*height:5.7rem;*/
		}
		.wkplan_morning_item{
			width:1.7rem;
			padding: 0.1rem 0;
		}
		.wkplan_morning_item p{
			width:100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 0.26rem;
			text-align: center;
		}
		.title_item{
			padding:0.1rem 0;border-bottom: 1px solid #ccc;overflow: hidden;box-sizing: border-box;position: relative;
			color:#666;
		}

		.wkplan_morning_content .title_item:first-child{
			padding:0 0 0.1rem 0;
		}
		.wkplan_morning_content .title_item:last-child{
			border: none;
			padding: 0.1rem 0 0;
		}
		.wkplan_morning_detail{
			width:4.2rem;box-sizing: border-box;border-left: 1px solid #ccc;
			padding: 0.1rem 0;
			font-size: 0.24rem;
		}
		.wkplan_morning_detail p{
			padding-left: 0.48rem;
		
			position: relative;
		
			/*overflow: hidden;*/
			/*text-overflow: ellipsis;*/
			/*white-space: nowrap;*/
			font-size: 0.24rem;
			line-height: 0.36rem;
		}
		.wkplan_morning_detail p:before{
			content:'';
			width: 0.1rem;
			height:0.1rem;
			background-color: #06c1ae;
			position: absolute;
			left:0.19rem;
			top:50%;
			margin-top: -0.05rem;
			border-radius: 50%;

		}

		.wk_item_text{
			height:0.8rem;
			box-sizing: border-box;
		
			border:1px solid #cccccc;
			border-radius:0.4rem 0.4rem 0.4rem 0.4rem;
			width: 5.0rem;
			padding-left: 0.4rem;
			color:#666;
			padding-top:0.1rem;
			padding-bottom:0.1rem;
			font-size: 0.26rem;
			padding-right:1rem;
		}
		.item_index{
			display: inline-block;
			width: 0.5rem;
			height:0.8rem;
			line-height: 0.8rem;
			color:#06c1ae;
			font-style: normal;
			font-size: 0.26rem;
		}

		.set_title_morning p{
			position: relative;
		}
		.set_title_morning p:before{
			content:'';
			width: 0.1rem;
			height: 0.1rem;
			position: absolute;
			left:0.45rem;
			top:50%;
			margin-top: -0.05rem;
			background-color: #06c1ae;
			border-radius: 50%;

		}

		.title_set_box{
			padding: 0.2rem 0.2rem 0;
		}
		.title_set_text{
			border-radius: 0.2rem;background-color: #fff;padding-bottom: 0.05rem;
		}
		.set_title_morning p{
		  height:0.8rem;line-height: 0.8rem;border-bottom: 1px solid #f0f0f2;padding-left:0.84rem;font-size: 0.28rem;color:#333
		}
		.set_title_morning ul{
			padding: 0.14rem 0.45rem;
		}
		.set_title_morning ul li{
			padding: 0.14rem 0;height:0.8rem;line-height: 0.8rem;color:#666;
			position: relative;
		}
		.add_item_btn{
			text-align: center;
		}

		.wkplan_btn_wrap{
			height:0.6rem;overflow: hidden;text-align: center;
		}
		.wkplan_btn{
			display: inline-block;
			line-height: 0.6rem;
			width: 2rem;height:0.6rem;
			background-color:#ff9f22;
			border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
			color:#fff;
			font-size: 0.26rem;
		}
		.cancel_btn{
			background-color: #ff9f22;
			margin-right: 0.9rem;
		}
		.conform_btn{
			background-color: #06c1ae;
		}
		.wkplan_title_master{
			position:fixed;width:100%;overflow-x:scroll;top:0;z-index: 99;background-color: #f0f0f2;
			bottom:0;left:0;
			display:none;
		}
		.text_max_length{
			position: absolute;
			right:1rem;
			height:0.8rem;
			font-size: 0.24rem;
			color:#666;
			top:50%;
			margin-top:-0.4rem;
		}

		
		/*弹窗*/
			.master_conform{
				display: none;
		position: fixed;top:0;bottom:0;height:100%;width:100%;width:100%;z-index: 100;background-color: rgba(0,0,0,0.6)
		}
		.conform_text{
			height:1.7rem;line-height:1.7rem;font-size:0.28rem;border-bottom: 1px solid #dadade;box-sizing: border-box;text-align: center;
		}
		.conform_box{
			width:5.4rem;height:2.6rem;border-radius: 0.2rem;background-color: #fff
		}
		.webkit_vertical
		{
			-webkit-box-orient: vertical
		}
		.conform_btn_wrap{
			overflow: hidden;height:0.9rem;line-height: 0.9rem;font-size: 0.28rem;
		}
		.conform_no,.conform_ok{
			color:#06c1ae;width:50%;
			position: relative;
		}
		.conform_no:after{
			content:'';
			position: absolute;
			width: 1px;height:1.7rem;
			background-color: #dadade;
			right:0;
			top:0;
		}
		.conform_know{
			display:none;
			color:#06c1ae;
		}
