<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{$l11ll11lllllll1l1llll11ll11ll1l['title']}</title>
<meta name="format-detection" content="telephone=no, address=no">
<meta name="apple-mobile-web-app-capable" content="yes" /> 
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link href="{MODULE_URL}template/mobile/xiaofweui/css/xiaofmoblieui.css" rel="stylesheet">
<link href="{$_W['siteroot']}app/resource/css/font-awesome.min.css" rel="stylesheet">
<link href="{MODULE_URL}template/mobile/xiaofweui/css/xiaoftoupiao.css" rel="stylesheet">
{php echo register_jssdk(false);}
<script src="{$_W['siteroot']}app/resource/js/require.js"></script>
<style>
.order .cur,.group .cur,.bottom-tabbar .cur span,.grid-item .pic-box .vote{ color:{$l11ll11lllllll1l1llll11ll11ll1l['buttoncolor']};}
.grid-item .pic-box .vote{ border: 1px solid {$l11ll11lllllll1l1llll11ll11ll1l['buttoncolor']};}
.xiaof-button,.xiaof-button-small{ background:{$l11ll11lllllll1l1llll11ll11ll1l['buttoncolor']};}
</style>
<script type="text/javascript">
require.config({
	baseUrl: '{MODULE_URL}template/mobile/xiaofweui/js',
	//urlArgs: "v={php echo time();}",
	paths: {
		'css': '{$_W['siteroot']}web/resource/js/lib/css.min',
		'jquery': 'jquery-2.2.3.min',
		'swiper': 'swiper.jquery.min',
		'imagesloaded': 'imagesloaded.min',
		'masonry': 'masonry.pkgd.min',
		'xiaof': 'xiaofmoblieui',
		'main': 'main'
	},
	shim:{
		'swiper': {
			exports: 'swiper',
			deps: ['jquery', 'css!{MODULE_URL}template/mobile/xiaofweui/css/swiper.min.css']
		},	
		'imagesloaded': {
			exports: 'imagesloaded',
			deps: ['jquery']
		},	
		'xiaof': {
			exports: 'xiaof',
			deps: ['jquery']
		}	
	}
});
</script>
</head>
<body>

<div class="head">
    <div class="head-banner">
		{if is_array($l11ll11lllllll1l1llll11ll11ll1l['thumb'])}
			{if count($l11ll11lllllll1l1llll11ll11ll1l['thumb']) <=1}
				<a href="{php echo trim($l11ll11lllllll1l1llll11ll11ll1l['thumblinkarr'][0]);}"><img src="{php echo tomedia(reset($l11ll11lllllll1l1llll11ll11ll1l['thumb']))}"></a>
			{else}
				<div class="swiper-container">
				  <div class="swiper-wrapper">
					{php $l11111l11111ll111111l111lll1lll = 0;}
					{loop $l11ll11lllllll1l1llll11ll11ll1l['thumb'] $l11l1ll11l11llll1lll1l11lll111l}
					<div class="swiper-slide"><a href="{php echo trim($l11ll11lllllll1l1llll11ll11ll1l['thumblinkarr'][$l11111l11111ll111111l111lll1lll]);}"><img src="{php echo tomedia($l11l1ll11l11llll1lll1l11lll111l);}"></a></div>
					{php $l11111l11111ll111111l111lll1lll++;}
					{/loop}
				  </div>
				</div>				
				<script> 
					require(['swiper'], function(Swiper){
						new Swiper('.swiper-container', {
							autoplay: 3000
						})
					});	
				</script>				
			{/if}
		{else}
        <img src="{php echo tomedia($l11ll11lllllll1l1llll11ll11ll1l['thumb'])}">
		{/if}
    </div>
</div>

<div class="footer-article-list wrapper">

	<div class="footer-article-title" >
		<h3>
		报名参加
		</h3>
	</div>
    <div class="footer-article-content">
		<form id="join-form">
		<input type="hidden" name="pid" value="{$llll1l11l11111l1l111l11l1ll1111['id']}"/>
		{if $l11ll11lllllll1l1llll11ll11ll1l['opengroups'] >= 1}
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>组别</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<select class="xiaof-form-input" name="groups">
						{loop $l11ll11lllllll1l1llll11ll11ll1l['groups'] $llllll111l111l1l11111l11l111l11 $l1l1llll1l11l1l11ll1l1ll1l11ll1}
						<option {if $llllll111l111l1l11111l11l111l11 == $llll1l11l11111l1l111l11l1ll1111['groups']} selected{/if} value="{$llllll111l111l1l11111l11l111l11}">{$l1l1llll1l11l1l11ll1l1ll1l11ll1['name']}</option>
						{/loop}
					</select>
				</div>
			</div>	
		</div>	
		{/if}
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>名称</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<input class="xiaof-form-input" id="name" name="name" value="{$llll1l11l11111l1l111l11l1ll1111['name']}" {if isset($llll1l11l11111l1l111l11l1ll1111['id'])}disabled="disabled"{/if} placeholder="请输入您的姓名或昵称"/>
				</div>
			</div>	
		</div>	
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>手机号</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<input class="xiaof-form-input" id="phone" type="tel" name="phone" value="{$llll1l11l11111l1l111l11l1ll1111['phone']}" {if isset($llll1l11l11111l1l111l11l1ll1111['id'])}disabled="disabled"{/if} placeholder="请输入您的手机号"/>
				</div>
			</div>	
		</div>	
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>照片</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<div class="clearfix pic-box">
						<span class="pic-container fn-left" id="pic-container">
							{loop $lll1l1lllll1111l111ll111111ll1l $ll11ll11111111111l11llll11lll1l}
							<span class='picid' onclick="$(this).remove();"><div class='pic-close'>x</div><input type="hidden" name="pics[]" value="{$ll11ll11111111111l11llll11lll1l['url']}"/><img src="{php echo tomedia($ll11ll11111111111l11llll11lll1l['thumb']);}"/></span>
							{/loop}
						</span>
						<span class="pic-button fn-left" id="filepicker"></span>
					</div>	
				</div>
			</div>	
		</div>
		{if $l11ll11lllllll1l1llll11ll11ll1l['opensound'] >= 1}		
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>语音</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<div class="clearfix sound-box">
						<span class="fn-left" id="sound-container">
							{if !empty($llll1l11l11111l1l111l11l1ll1111['sound'])}
							<input type='hidden' name='sound' value="{$llll1l11l11111l1l111l11l1ll1111['sound']}"/><span class='sound-play sound-play-1 off1'><i class='fa fa-volume-up'></i></span>
							{/if}
						</span>
						<span class="fn-left xiaof-button-small sound-button" id="sound">点击录制一分钟音频</span>
					</div>	
					<script>
					require(['jquery', 'main'], function($, xiaoftoupiao){
						var audio;
						$(".sound-play-1").click(function(){
							if($('#media').length <= 0){
								var audioSrc = "{$llll1l11l11111l1l111l11l1ll1111['sound']}";
								$("body").append('<audio id="media" preload="auto" src="'+audioSrc+'" loop></audio>');
								audio = $('#media');
							}
							if($(this).hasClass("off1")){
								$(this).removeClass("off1");
								audio[0].play();
							}else{
								$(this).addClass("off1");
								audio[0].pause();
							}
						});					
						xiaoftoupiao.soundUpload();
					});
					</script>					
				</div>
			</div>	
		</div>	
		{/if}
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>介绍</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<textarea class="xiaof-form-input" id="describe" name="describe" placeholder="您的自我介绍">{$llll1l11l11111l1l111l11l1ll1111['describe']}</textarea>
				</div>
			</div>	
		</div>	
		{loop $l11ll11lllllll1l1llll11ll11ll1l['joinfield'] $l1l1lll111lll1llll1l1l1l1lllll1}	
		<div class="xiaof-form-group">
			<div class="xiaof-input-group xiaof-box">
				<div class="xiaof-form-label"><label>{$l1l1lll111lll1llll1l1l1l1lllll1['name']}</label></div>
				<div class="xiaof-form-control xiaof-box-item">
					<input class="xiaof-form-input" id="{$l1l1lll111lll1llll1l1l1l1lllll1['sign']}" name="{$l1l1lll111lll1llll1l1l1l1lllll1['sign']}" placeholder="请输入{$l1l1lll111lll1llll1l1l1l1lllll1['name']}" value="{$llll1l11l11111l1l111l11l1ll1111['data'][$l1l1lll111lll1llll1l1l1l1lllll1['sign']]}" />
				</div>
			</div>	
		</div>	
		{/loop}
		</form>
    </div>
	
	<div class="show-button-group">
	<span class="xiaof-button" id="form-submit">{if isset($llll1l11l11111l1l111l11l1ll1111['id'])}确认修改{else}确认报名{/if}</span>
	{if isset($llll1l11l11111l1l111l11l1ll1111['id'])}<a class="xiaof-button" href="{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('show','xiaof_toupiao','&id='.$llll1l11l11111l1l111l11l1ll1111['id'].'');}">查看我的参赛页</a>{/if}
	</div>
</div>

{template $l11ll11lllllll1l1llll11ll11ll1l['template'].'footer'}

<script type="text/javascript">
require(['jquery', 'main', 'xiaof'], function($, xiaoftoupiao){
	{if $l11ll11lllllll1l1llll11ll11ll1l == false}
	$.xiaof.alert('提示', "没有找到该活动");
	{elseif time() <= strtotime($l11ll11lllllll1l1llll11ll11ll1l['joinstart'])}
	$.xiaof.alert('提示', "活动报名未开始，请开始后再参加，开始时间{$l11ll11lllllll1l1llll11ll11ll1l['joinstart']}");
	{elseif time() >= strtotime($l11ll11lllllll1l1llll11ll11ll1l['joinend'])}
	$.xiaof.alert('提示', "活动已结束，敬请期待下次活动{$l11ll11lllllll1l1llll11ll11ll1l['joinend']}");
	{elseif $l11ll11lllllll1l1llll11ll11ll1l['openwapjoin'] == 1}
	$.xiaof.alert('提示', '<p style="text-align:center;">已关闭网页报名，请进入公众号报名<br/>长按二维码进入</p><img width="100%" src="{php echo tomedia($l11ll11lllllll1l1llll11ll11ll1l['accountqrcode']);}"/>');
	{elseif $_W['container'] !== 'wechat'}
	$.xiaof.alert('提示', "活动只允许在微信上报名参加，请在微信上打开本页面");
	{elseif $l11ll11lllllll1l1llll11ll11ll1l['joinfollow'] == 1 && !$this->l1ll1l11111llll11l11111111llll1()}
	$.xiaof.alert('提示', '<p style="text-align:center;">请进入公众号报名，长按二维码进入</p><img width="100%" src="{php echo tomedia($l11ll11lllllll1l1llll11ll11ll1l['accountqrcode']);}"/>');
	{else}
	xiaoftoupiao.upload({if empty($l11ll11lllllll1l1llll11ll11ll1l['joinjumplink'])}false{else}"{$l11ll11lllllll1l1llll11ll11ll1l['joinjumplink']}"{/if}, {if empty($l11ll11lllllll1l1llll11ll11ll1l['limitpic'])}5{else}{$l11ll11lllllll1l1llll11ll11ll1l['limitpic']}{/if});
	{/if}
});
</script>

</body>
<script type="text/javascript">
        wx.ready(function () {
            wx.onMenuShareAppMessage({
                title: '{$l11ll11lllllll1l1llll11ll11ll1l['sharetitle']}',
                desc: '{php echo trim($l11ll11lllllll1l1llll11ll11ll1l['sharecontent']);}',
                link: '{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('join','xiaof_toupiao')}',
                imgUrl: '{php echo tomedia($l11ll11lllllll1l1llll11ll11ll1l['sharethumb'])}',
                success: function(){},
                cancel: function(){}
            });
            wx.onMenuShareTimeline({
                title: '{$l11ll11lllllll1l1llll11ll11ll1l['sharetitle']}',
                link: '{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('join','xiaof_toupiao')}',
                imgUrl: '{php echo tomedia($l11ll11lllllll1l1llll11ll11ll1l['sharethumb']);}',
                success: function () {},
                cancel: function () {}
            });
        });
</script>
</html>