<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{$l11ll11lllllll1l1llll11ll11ll1l['title']}-{$l1llll111l11lllll11ll111l11l11l['uid']}号-{$l1llll111l11lllll11ll111l11l11l['name']}</title>
<meta name="format-detection" content="telephone=no, address=no">
<meta name="apple-mobile-web-app-capable" content="yes" /> 
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link href="{MODULE_URL}template/mobile/xiaofweui/css/xiaofmoblieui.css" rel="stylesheet">
<link href="{$_W['siteroot']}app/resource/css/font-awesome.min.css" rel="stylesheet">
<link href="{MODULE_URL}template/mobile/xiaofweui/css/xiaoftoupiao.css" rel="stylesheet">
{php echo register_jssdk(false);}
<script src="{$_W['siteroot']}app/resource/js/require.js"></script>
<style>
.order .cur,.group .cur,.bottom-tabbar .cur span,.grid-item .pic-box .vote, .xiaof-input-radio .fa-check{ color:{$l11ll11lllllll1l1llll11ll11ll1l['buttoncolor']};}
.grid-item .pic-box .vote{ border: 1px solid {$l11ll11lllllll1l1llll11ll11ll1l['buttoncolor']};}
.xiaof-button,.xiaof-button-small{ background:{$l11ll11lllllll1l1llll11ll11ll1l['buttoncolor']};}
</style>
<script type="text/javascript">
require.config({
	baseUrl: '{MODULE_URL}template/mobile/xiaofweui/js',
	//urlArgs: "v={php echo time();}",
	paths: {
		'css': '{$_W['siteroot']}web/resource/js/lib/css.min',
		'jquery': 'jquery-2.2.3.min',
		'swiper': 'swiper.jquery.min',
		'imagesloaded': 'imagesloaded.min',
		'masonry': 'masonry.pkgd.min',
		'xiaof': 'xiaofmoblieui',
		'main': 'main'
	},
	shim:{
		'swiper': {
			exports: 'swiper',
			deps: ['jquery', 'css!{MODULE_URL}template/mobile/xiaofweui/css/swiper.min.css']
		},	
		'imagesloaded': {
			exports: 'imagesloaded',
			deps: ['jquery']
		},	
		'xiaof': {
			exports: 'xiaof',
			deps: ['jquery']
		}	
	}
});
</script>
</head>
<body>

<div class="head">
    <div class="head-banner">
		{if is_array($l11ll11lllllll1l1llll11ll11ll1l['thumb'])}
			{if count($l11ll11lllllll1l1llll11ll11ll1l['thumb']) <=1}
				<a href="{php echo trim($l11ll11lllllll1l1llll11ll11ll1l['thumblinkarr'][0]);}"><img src="{php echo tomedia(reset($l11ll11lllllll1l1llll11ll11ll1l['thumb']))}"></a>
			{else}
				<div class="swiper-container">
				  <div class="swiper-wrapper">
					{php $l11111l11111ll111111l111lll1lll = 0;}
					{loop $l11ll11lllllll1l1llll11ll11ll1l['thumb'] $l11l1ll11l11llll1lll1l11lll111l}
					<div class="swiper-slide"><a href="{php echo trim($l11ll11lllllll1l1llll11ll11ll1l['thumblinkarr'][$l11111l11111ll111111l111lll1lll]);}"><img src="{php echo tomedia($l11l1ll11l11llll1lll1l11lll111l);}"></a></div>
					{php $l11111l11111ll111111l111lll1lll++;}
					{/loop}
				  </div>
				</div>				
				<script> 
					require(['swiper'], function(Swiper){
						new Swiper('.swiper-container', {
							autoplay: 3000
						})
					});	
				</script>				
			{/if}
		{else}
        <img src="{php echo tomedia($l11ll11lllllll1l1llll11ll11ll1l['thumb'])}">
		{/if}
    </div>
	
    <div class="head-count xiaof-box">
		<span class="xiaof-box-item">
			票数<br>
			<span class="good">{$l1llll111l11lllll11ll111l11l11l['good']}</span>
		</span>
		<span class="xiaof-box-item">
			转发量<br/>
			<span class="share">{$l1llll111l11lllll11ll111l11l11l['share']}</span>
		</span>
		<span class="xiaof-box-item">
			浏览量<br/>
			{$l1llll111l11lllll11ll111l11l11l['click']}
		</span>
    </div>
	<div class="head-info">
		<div class="head-box" >
			<div class="wrapper clearfix">
				<div class="fn-left">
					<i class="fa fa-heart head-box-end"></i>
				</div>
				<div class="fn-left head-box-describe">
				{if $l1llll111l11lllll11ll111l11l11l['describe']==''}{$l11ll11lllllll1l1llll11ll11ll1l['describe']}{else}{$l1llll111l11lllll11ll111l11l11l['describe']}{/if}
				</div>
			</div>
		</div>
		<div class="head-box-hr"></div>
		<div class="head-box">
			<div class="wrapper">
				<i class="fa fa-cubes i-m8"></i>{$l1llll111l11lllll11ll111l11l11l['uid']}号-{$l1llll111l11lllll11ll111l11l11l['name']}。当前第{$llllll1lll11l1ll11111l111l1ll1l}名
			</div>
		</div>
		<div class="head-box-hr"></div>
		<div class="head-box">
			<div class="wrapper">
				<i class="fa fa-eye i-m8"></i>距前一名差{$l11l1l1l111l111l1llll1lllllllll}票，后一名差{$ll1ll1l1ll1lll1l1111llll11lllll}票
			</div>
		</div>
		<div class="head-box-hr"></div>		
		{if intval($l11ll11lllllll1l1llll11ll11ll1l['double']) >= 2}
		<div class="head-box">
			<div class="wrapper">
				<i class="fa fa-clock-o i-m8"></i>{php echo $this->l1111l1l11l1ll1l1111l11l1l111l1($l11ll11lllllll1l1llll11ll11ll1l['double']);}倍时间：{php echo date("m-d H:i",strtotime($l11ll11lllllll1l1llll11ll11ll1l['doublestart']));}  至  {php echo date("m-d H:i",strtotime($l11ll11lllllll1l1llll11ll11ll1l['doubleend']));}
			</div>
		</div>	
		<div class="head-box-hr"></div>
		{elseif intval($l11ll11lllllll1l1llll11ll11ll1l['opendraw']) == 1 && $l1llll111l11lllll11ll111l11l11l['double_at'] > time()}
		<div class="head-box">
			<div class="wrapper">
				<i class="fa fa-clock-o i-m8"></i>双倍投票时间至：{php echo date("Y-m-d H:i", $l1llll111l11lllll11ll111l11l11l['double_at'])}结束
			</div>
		</div>	
		<div class="head-box-hr"></div>
		{/if}			
	</div>	
</div>	

<div class="wrapper">
	<div id="show-container" class="swiper-container">
			{if $l11ll11lllllll1l1llll11ll11ll1l['opensound'] >= 1 && !empty($l1llll111l11lllll11ll111l11l11l['sound'])}
			<div class="show-sound">
				<img class="sound-on" src="{MODULE_URL}template/mobile/xiaofweui/picture/ms.png"/>
				<img class="sound-off" src="{MODULE_URL}template/mobile/xiaofweui/picture/mp.png"/>
			</div>
			{/if}
		<ul class="show-lists swiper-wrapper">
			{loop $lll1l1lllll1111l111ll111111ll1l $lllll111l1ll1l1l1l1l1ll11ll1ll1}
			<li  class="swiper-slide"><img class="slide-img" src="{php echo tomedia($lllll111l1ll1l1l1l1l1ll11ll1ll1['thumb']);}"/></li>
			{/loop}
		</ul>
		<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
		</div>			
	</div>
	
	<div class="show-field">
	{loop $l1l1ll11ll1l11l1ll11lllll1lllll $l1llll11111llll111ll11ll1l1l1ll}
		<p style="">
			{$l1llll11111llll111ll11ll1l1l1ll['name']}：{$l1llll11111llll111ll11ll1l1l1ll['data']}
		</p>
		<div class="head-box-hr"></div>
	{/loop}
	</div>
	
	{if !empty($l1llll111l11lllll11ll111l11l11l['detail'])}
		<div style="margin-top: 8px;">
			{php echo htmlspecialchars_decode($l1llll111l11lllll11ll111l11l11l['detail']);}
		</div>
	{/if}
	
	{if $l11ll11lllllll1l1llll11ll11ll1l['openvoteuser'] == 1}
		<div class="voteusers clearfix">
		<span class="voteusers-label">
			<i class="voteusers-label-like fa fa-weixin" style="font-size:32px;"></i><span class="voteusers-label-text">支持:</span>
		</span>
		{loop $lll1l111llll11lll11lllllll1l111 $lll111111ll1l11l1ll1l111l11l111}
			<span class="voteusers-list"><img src="{$lll111111ll1l11l1ll1l111l11l111['avatar']}"/></span>
		{/loop}
		</div>
	{/if}
	
	<div class="show-button-group">
		<span class="xiaof-button vote" data-id="{$l1llll111l11lllll11ll111l11l11l['id']}">喜欢Ta投一票</span>
		{if intval($l11ll11lllllll1l1llll11ll11ll1l['opendraw']) == 1}
		<span class="xiaof-button prop">使用加速投票道具</span>
		{/if}	
		{if intval($l11ll11lllllll1l1llll11ll11ll1l['showshare']) == 1 && $l11ll11lllllll1l1llll11ll11ll1l['globalsetting']['openshare'] == 1}
		<span class="xiaof-button" onclick="shareLayer();">喊亲友来加油投票</span>
		{/if}	
		{if intval($l11ll11lllllll1l1llll11ll11ll1l['openposter']) == 1}
		<a class="xiaof-button" href="{php echo tomedia($l1llll111l11lllll11ll111l11l11l['poster']);}">宣传海报</a>
		{/if}	
		{if empty($l11ll11lllllll1l1llll11ll11ll1l['openwapjoin'])}
		<a class="xiaof-button" href="{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('join');}">我也来参加</a>
		{/if}
	</div>
</div>

{template $l11ll11lllllll1l1llll11ll11ll1l['template'].'footer'}

</body>
<script type="text/javascript">
	function shareLayer(){
		$("body").append("<div class='share-layer' onclick='$(this).remove();'><img src='{MODULE_URL}template/mobile/xiaofweui/picture/4.png'/></div>");
	}
	require(['jquery', 'main', 'swiper', 'xiaof'], function($, xiaoftoupiao){
		$.get("{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('vote','xiaof_toupiao','&id='.$l1llll111l11lllll11ll111l11l11l[id].'&type=click')}");
		xiaoftoupiao.showSwiper(Swiper); 
		xiaoftoupiao.registerVote($(".good"), Swiper);
		xiaoftoupiao.showSound("{$l1llll111l11lllll11ll111l11l11l['sound']}");
		
		var propHtml = ['<div class="xiaof-form-group">',
			'			<div class="xiaof-input-radio xiaof-box">',
			'				<div class="xiaof-form-label xiaof-box-item"><label>双倍投票券(半小时) x {$l1l111l11l1l1ll11l1l11ll1l1111l}</label></div>',
			'				<div class="xiaof-form-control">',
			'					<input class="xiaof-form-input propid" type="radio" name="prop" value="3" />',
			'				</div>',
			'			</div>	',
			'		</div>',
			'		<div class="xiaof-form-group">',
			'			<div class="xiaof-input-radio xiaof-box">',
			'				<div class="xiaof-form-label xiaof-box-item"><label>双倍投票券(一小时) x {$l1ll1ll11llll1llll1lllllll1llll}</label></div>',
			'				<div class="xiaof-form-control">',
			'					<input class="xiaof-form-input propid" type="radio" name="prop" value="4" />',
			'				</div>',
			'			</div>	',
			'		</div>	',
			'		<div class="xiaof-form-group">',
			'			<div class="xiaof-input-radio xiaof-box">',
			'				<div class="xiaof-form-label xiaof-box-item"><label>双倍投票券(二小时) x {$l11l1l111ll111l11111111ll1l1111}</label></div>',
			'				<div class="xiaof-form-control">',
			'					<input class="xiaof-form-input propid" type="radio" name="prop" value="5" />',
			'				</div>',
			'			</div>	',
			'		</div>',
			'		<div class="xiaof-form-group">',
			'			<div class="xiaof-input-radio xiaof-box">',
			'				<div class="xiaof-form-label xiaof-box-item"><label>双倍投票券(八小时) x {$l1l111ll11ll11ll1l11ll1l1l1111l}</label></div>',
			'				<div class="xiaof-form-control">',
			'					<input class="xiaof-form-input propid" type="radio" name="prop" value="6" />',
			'				</div>',
			'			</div>	',
			'		</div><p style="margin-top: 15px;">选择您想要使用的道具<p/>'].join("");
		$(".prop").click(function(){
			$.xiaof.confirm('我的道具', propHtml, function(status, obj){
				if(status == 'success'){
					var propid = $(".propid:checked").val();
					if(propid == null){
						$.xiaof.alert("提示", "没有选择要使用的道具");
						return ;
					}
					$.get("{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('useprop')}",{'type':propid,'pid':{$l1llll111l11lllll11ll111l11l11l['id']},'uid':{$l1llll111l11lllll11ll111l11l11l['uid']}},function(data){
						var result = new Function('return' + data)();
						if (result.errno == 0) {
							$.xiaof.alert("提示", result.message);
							setTimeout(function(){
								location.reload();
							},2000);
							return ;
						}
						$.xiaof.alert("提示", result.message);	
					});
				}
			});		
		});
		$.xiaof.parseForm();
		
		wx.ready(function () {
			wx.onMenuShareAppMessage({
				title: '{$llll111l1l11l11l1l1l1111ll1l111}',
				desc: '{php echo trim($l1llll111l11lllll11ll111l11l11l['describe'])}',
				link: '{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('show','xiaof_toupiao','&id='.$l1llll111l11lllll11ll111l11l11l['id'].'')}',
				imgUrl: '{php echo tomedia($l1llll111l11lllll11ll111l11l11l['pic'])}',
				success: function(){
					var This = $(".share");
					This.html(parseInt(This.html())+1);
					$.get("{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('vote','xiaof_toupiao','&id='.$l1llll111l11lllll11ll111l11l11l[id].'&type=share')}");
				},
				cancel: function(){}
			});
			wx.onMenuShareTimeline({
				title: '{$llll111l1l11l11l1l1l1111ll1l111}',
				link: '{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('show','xiaof_toupiao','&id='.$l1llll111l11lllll11ll111l11l11l['id'].'')}',
				imgUrl: '{php echo tomedia($l1llll111l11lllll11ll111l11l11l['pic']);}',
				success: function () {
					var This = $(".share");
					This.html(parseInt(This.html())+1);				
					$.get("{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('vote','xiaof_toupiao','&id='.$l1llll111l11lllll11ll111l11l11l[id].'&type=share')}");
				},
				cancel: function () {}
			});
		});
	});
</script>
</html>