<div style="width:100%;height:180px;">
{if $news['tuwen_url']}
<script type="text/javascript" src="http://7xjfim.com2.z0.glb.qiniucdn.com/Iva.js"></script>
<div id="iva"></div>
<script type='text/javascript'>
var isiPad = navigator.userAgent.match(/iPad|iPhone|Android|Linux|iPod/i) != null;
if(isiPad){
document.getElementById('iva' ).style.height='180px';
document.getElementById('iva' ).style.width='100%';
}
var ivaInstance = new Iva('iva' ,{
appkey: '{$set[video]}',
video:'{$news[tuwen_url]}',
title: '{$news[title]}',
autoplay: true,
cover: '{$_W[attachurl]}{$news[thumb]}'});
</script>
{else}
<img src="{$_W['attachurl']}{$news['thumb']}" style="width:100%;">
{/if}
</div>