@charset "utf-8";
/* CSS Document */
html, body {overflow-x: hidden;}
body{ font-size:12px; font-family:'微软雅黑','Arial'; line-height:185%; color:#666; min-width:320px; position:relative;}
body,h1,h2,h3,h4,h5,p,dl,dt,dd,ul,li,span,div,input,a,img,b{margin:0;padding:0; outline:none;}
form{ padding:0; margin:0;}
ul{list-style:none outside none; }
a{ text-decoration:none; color:#666;}
a:hover{}
img{ border:none; vertical-align:top;}
.clear{ clear:both; font-size:0; height:0; line-height:0; }
.footer{ height:35px; border-top:1px solid #e2e2e2; background-color:#F4F4F4; font-size:13px; text-align:center; line-height:35px;}
.header{ height:126px; background:url(../images/lvlv.jpg) repeat-x center center;}
.header a{ display:block; width:100%; height:100%;text-align: center; }
.header a img{ width:260px; height:86px; padding-top:20px;}
.contain{}
.menu{ position:absolute; width:100%; left:0; top:140px; z-index:1; }
.menu ul li{ width:50%; display:inline-block; float:left; line-height:160%; margin-bottom:6px;}
.menu ul li a{ display:block; width:122px; height:85px;background:rgba(200,183,172,0.6); color:#fff; padding-left:13px; padding-top:15px; margin:auto;
-moz-box-shadow: 1px 1px 2px #afafaf;/*firefox*/
-webkit-box-shadow: 1px 1px 2px #afafaf;/*safari或chrome*/
box-shadow:1px 1px 2px #afafaf;/*opera或ie9*/}
.menu ul li a h1{ font-size:18px;text-shadow: 2px 1px 2px #1f1e1e;-webkit-text-shadow: 2px 1px 2px #1f1e1e;}
.menu ul li a h2{ font-family:Arial; font-size:17px; font-weight:normal; text-transform:capitalize;text-shadow: 2px 1px 2px #1f1e1e;-webkit-text-shadow: 2px 1px 2px #1f1e1e;}
.menu ul li a span{ background-image:url(../images/icon1.png); background-repeat:no-repeat; display:block; width:38px; height:38px; background-size:100%; }
.menu ul li.menu1 a span{ background-position: 0 3px;}
.menu ul li.menu2 a span{ background-position:0 -110px;}
.menu ul li.menu3 a span{ background-position:0 -34px;}
.menu ul li.menu5 a span{ background-position:0 -72px;}

.menu ul li.menu4 a span{ background-position:0 -147px;}
.menu ul li.menu6 a span{ background-position:0 -188px;}





/* scroller */
/* swipe */
.swipe{overflow:hidden;position:relative; text-align:center;}
.swipe ul{
	-webkit-transition:left 800ms ease-in 0;
	-moz-transition:left 800ms ease-in 0;
	-o-transition:left 800ms ease-in 0;
	-ms-transition:left 800ms ease-in 0;
	transition:left 800ms ease-in 0;
	 height:100%;
}
.swipe ul li { text-align:center;width:100%; height:100%;}
.swipe ul li img{ width:100%; }
.swipe #pagenavi{position:absolute;left:-10px;bottom:1px;text-align:right;width:100%; z-index:1;}
.swipe #pagenavi a{width:8px;height:8px;line-height:99em;background:#b5b5b5;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;margin:0 1px;overflow:hidden;cursor:pointer;display:inline-block;*display:inline;*zoom:1;}
.swipe #pagenavi a.active{background:#C80002;}


/*--------------common-------------*/
body.common{background-color: #ffffff;}
.comheader{ height:50px; background:url(../images/lvlv.jpg) repeat-x center center; width:100%;  font-size:20px; font-weight:bold; text-align:center; line-height:50px; color:#fff;}
.comheader a.backBtn{ display:block; width:20px; height:32px; float:left; background:url(../images/fanhui.png) no-repeat center center; margin-top:7px;background-size:50%; margin-left:2%;}
.comheader a.amenu{ display:block; width:22px; height:17px; background:url(../images/home.png) no-repeat; float:right; margin-top:15px; background-size:100%; margin-right:2%; }
.combann{  width:100%; text-align:center;}
.comcont{ padding-bottom:42px;}
.xiangmu{background-color:#fafafa;}
.xiangmu ul li{ width:50%; float:left; }
.xiangmu ul li a{ display:block;padding:4% 6% 3% 4%; height:55px;border-bottom:1px solid #CBCCD1; border-right:1px solid #CBCCD1; border-top:none;}
.xiangmu ul li:nth-child(2n) a{ border-right:none;}
.xiangmu ul li img{ float:left; width:50px; height:50px; margin-left:10px; margin-right:10px;  margin-bottom:10px;}
.xiangmu ul li h1{ font-size:16px; color:#35ABF2; line-height:140%; padding-top:7px; height:22px; overflow:hidden; margin-bottom:-5px;}
.xiangmu ul li h2{ font-size:12px; color:#ccc; font-weight:normal; text-transform:capitalize; line-height:140%; height:16px; overflow:hidden;}
.comfoot{ position:fixed; bottom:0; left:0; width:100%; height:42px;   z-index:2; background-color:#fff;}
.comfoot ul li{ width:25%; float:left;}
.comfoot ul li a{ display:block; height:42px;}
.comfoot ul li a span,.comfoot ul li a b{ display:block; text-align:center;}
.comfoot ul li a span{ background-image:url(../images/bottom.png); background-repeat:no-repeat; width:22px; height:22px; margin:auto; background-size:22px 159px;}
.comfoot ul li.foot1 a span{ background-position:0 3px;}
.comfoot ul li.foot2 a span{ background-position:0 -32px;}
.comfoot ul li.foot3 a span{ background-position:0 -64px;}
.comfoot ul li.foot4 a span{ background-position:0 -98px;}
.comfoot ul li a b{ color:#fff; font-size:14px; line-height:18px;}
.xiangmu ul li.lelogo a{ background:url(../images/kelogo.jpg) no-repeat center center; background-size:125px;}


/*<!--common_view-->*/
.brandlie{ padding:3%;}
.brandlie ul li{ float:left;  width:100%; padding-bottom:6px; border-bottom: 1px solid #EEE; padding-top:6px;}
.brandlie ul li a img{ float:left; width:90px; height:58px; margin-right:12px; box-shadow: rgba(0, 0, 0, 0.17) 1px 2px 2px;-webkit-box-shadow:rgba(0, 0, 0, 0.17) 1px 2px 2px;}
.brandlie ul li a h1{ font-size:16px; color:#646464; padding-top:4px;}
.brandlie ul li a .abstract{ color:#ccc;line-height:130%;}

.pad1{ padding:3%; font-size:16px;}
.pad1img{margin-bottom:15px;}
.pad1img img{ width:100%; box-shadow: rgba(0, 0, 0, 0.17) 1px 2px 2px;-webkit-box-shadow:rgba(0, 0, 0, 0.17) 1px 2px 2px;}


/*-------------contacts--------------*/
.contacts{ padding:3%; background:#ECECEE; padding-top:25px;}
.topphone{ background:#F6F6EE;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; height:92px; width:100%;}
.phleft{ float:left; height:100%;}
.flower{ width:50%; text-align:center; }
.flower img{ height:59px; padding-top:16px;}
.frocont{ width:18%; text-align:center; background:url(../images/contact.png) center center no-repeat; background-size:23px; display:none;}
.email{ border:1px dotted #B8B8B8; border-top:none; height:50%; display:block;}
.weixin{ height:49%; border-left:1px dotted #B8B8B8; border-right:1px dotted #989890; display:block;}
.photonumb{ width:50%; background:#fff;-webkit-border-radius: 0 5px 5px 0; 
-moz-border-radius: 0 5px 5px 0; 
border-radius: 0 5px 5px 0; }
.photonumb a{ display:block; height:65px; background:url(../images/tophone.png) no-repeat 12px 20px;background-size:56px; line-height:134%; padding-top:27px; padding-left:72px;}
.photonumb a h1{ font-size:14px; color:#706E6C; line-height:20px;}
.photonumb a i{ font-style:normal; color:#A5A5A3; font-size:13px;}
ul.linkman{ margin-top:20px;}
ul.linkman li{ height:73px;-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; 
-moz-box-shadow: 0 1px 2px #c6c5c1;
-webkit-box-shadow: 0 1px 2px #c6c5c1;
box-shadow: 0 1px 2px #c6c5c1;
background:#fff; padding-left:5%; padding-top:12px; margin-bottom:12px;}
ul.linkman li img{ float:left; width:60px; height:60px;-webkit-border-radius: 50%; 
-moz-border-radius: 50%; 
border-radius: 50%;}
ul.linkman li span.linkmana{ display:block; background:url(../images/view.png) no-repeat center center; background-size:25%; width:28px; height:64px; float:right;}
ul.linkman li h1{ font-size:15px; color:#3DA6D9; margin-left:70px; line-height:26px; height:26px; overflow:hidden;}
ul.linkman li p{ font-family:Arial; font-size:13px; color:#A5A5A3; background:url(../images/phone.png) no-repeat 0 2px; margin-left:70px; background-size:14px; padding-left:20px; line-height:132%;}
ul.linkman li p b{ font-size:15px; color:#000;}
ul.linkman li p i{ font-style:normal;}



/*---------------contact_view-------------*/
.contact_view{ position:relative;background-color:#ECECEE; padding-bottom:10px; min-height:380px;}
.lxview{ background-image:url(../images/lxview.png);   height:70px; background-size:100%; background-position:center;}
.lxpic{ position:absolute; width:126px; height:153px; left:50%; top:18px; margin-left:-63px; text-align:center;}
.lxpic1{ background:#fff;-webkit-border-radius: 50%; 
-moz-border-radius: 50%; 
border-radius: 50%; width:126px; height:123px; padding-top:3px;}
.lxpic img{ width:120px; height:120px; 

-webkit-border-radius: 50%; 
-moz-border-radius: 50%; 
border-radius: 50%; }
.lxpic h1{ color:#767571; font-size:16px; padding-top:5px;}
.contact_view .contact_xx{ width:90%; margin:110px auto 0;}
.contact_view .contact_xx ul li{ background:#fff;-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; border:1px solid #DEDEE2; height:30px; line-height:30px; color:#A5A3A0;font-size:14px; padding:0 10px; margin-bottom:12px;}
.contact_view .contact_xx ul li b{ color:#767471; font-weight:normal; }
.contact_view .contact_xx ul li.lxphone{ background:#00B2B2; text-align:center;}
.contact_view .contact_xx ul li.lxphone a{color:#fff;font-weight:bold; }
.contact_view .contact_xx ul li.lxphone a b{ color:#fff; float:left;}

/*slide*/
#menu ul li i{ display:block; width:20px; height:20px; float:left; margin-right:5px;background-image: url(../images/icon1.png);
background-repeat: no-repeat;background-size:100%;}
#menu ul li.menushou i{ background-image:url(../images/bottom.png); background-position:0 2px;}
#menu ul li.menus1 i{ background-position:0 3px;}
#menu ul li.menus2 i{ background-position:0 -56px;}
#menu ul li.menus3 i{ background-position:0 -17px;}
#menu ul li.menus4 i{ background-position:0 -76px;}
#menu ul li.menus5 i{ background-position:0 -37px;}
#menu ul li.menus6 i{ background-position:0 -96px;}
#menu ul li:last-child i{background-image: url(../images/bottom.png);
background-size: 80%;
background-position: 1px -70px;
}


/*-------------news-------------*/

.newsli ul li .datetime{ text-align:right; color:#ccc; display:inline; float:right;}


/*--------------video---------------*/
.videolie{ padding:3%;}
.videolie ul li{ height:82px; background:#F8F8F8; margin-bottom:12px; }
.videolie ul li a{ display:block; height:82px;position:relative;}
.videolie ul li a img{ width:146px; height:82px; float:left; margin-right:14px;}
.videolie ul li a h1,.videolie ul li a h2{  height:22px; line-height:22px; overflow:hidden; }
.videolie ul li a h1{ font-size:14px; color:#595959; padding-top:18px;}
.videolie ul li a h2{ font-family:Arial; font-size:14px; font-weight:normal; color:#999999; background:url(../images/renr.png) no-repeat center left; background-size:12px 10px; padding-left:15px; line-height:22px;}
.turnon{ width:35px; height:35px; background-image:url(../images/turnon.png); background-position:0 0; background-repeat:no-repeat; background-size:100%; position:absolute; right:10%; top:30%;}


/*loupan*/
.loupanlie{ background:#f2f2f2; padding-bottom:2px;}
.loutop{ width:100%;}
.lpul{ width:90%; margin:10px auto;}
.lpul li{ border:1px solid #E0E0E0; background:#fff; padding:2% 2% 30px 2%; margin-bottom:12px;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; position:relative; }
.lpul li img{ width:125px; height:80px; float:left; margin-right:10px;}
.lpul li p.mianj{ color:#8B8B8B; line-height:18px; height:54px; overflow:hidden;}
.lpul li h1{ font-size:14px; color:#000; line-height:26px;}
.linkmore{ background:#F7F7F7;  height:20px; display:block; position:absolute; width:100%; left:0; bottom:0; background-image:url(../images/jiant.png);  background-repeat:no-repeat; background-size:15px 23px; cursor:pointer;
-webkit-border-radius: 0 0 5px 5px; 
-moz-border-radius: 0 0 5px 5px; 
border-radius:0 0 5px 5px ;}
.more_span{background-position: 50% 6px;}
.more_spa{background-position: 50% -10px; display:none;}
.lpcont{ line-height:160%; padding:5px; display:none; color:#888; }

/*导航弹窗*/
.comfoot ul li.footo{ position:relative; text-align:center; color:#666;  height:42px; width:33.33%; }

.comfoot ul li.footo b{ display:block; height:40px;line-height:40px; border:1px solid #ddd; border-bottom:none; overflow:hidden; padding:1px; font-size:14px;}
.comfoot ul li.footo:last-child b,.comfoot ul li.footo:first-child b{ border:none; border-top:1px solid #ddd;}
.comfoot ul li.footo:first-child b{}
.comfoot ul li.footo .pop-foot{ position:absolute; display:none; background:#fff;z-index:999;left:0; bottom:48px; width:100%;
box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.6);
-moz-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.6);
-webkit-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.6);}
.comfoot ul li.footo .pop-foot a{ color:#666; font-weight:normal; line-height:38px; height:38px; border-bottom:1px solid #f7f0f0; font-size:14px;}
.bgheib{display:none;position:fixed;width:100%;height:100%;background:#fff;z-index:998;top:0;left:0;opacity:0;}
.comfoot ul li.footo span{
position: absolute;
z-index: 10;
right: 0;
bottom: 1px;
border-color: #ccc transparent transparent;
border-style: solid dashed dashed;
border-width: 6px 6px 0;
font-size: 0;
height: 0;
width: 0;
line-height: 0;
transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-o-transform: rotate(-45deg);}


.bghei{display:none;position:fixed;width:100%;height:100%;background:#000;z-index:998;top:0;left:0;opacity:0.8;}
.pop-login{display:none;position:fixed;top:50%;background:#fff;z-index:999;left:50%; margin-left:-110px; margin-top:-80px; width:200px; height:140px; padding:10px;}
.pop-login h1{ font-size:18px; color:#000; font-weight:normal; text-align:left;}
.menu ul li .pop-login a,.comfoot ul li .pop-login a{ display:block; width:100%; height:40px; font-size:18px; color:#fff; text-align:center; line-height:40px; font-weight:bold; }
.menu ul li .pop-login a{ background:none; padding:0;box-shadow:none;}
.menu ul li .pop-login a h1{text-shadow:none;}
.menu ul li .pop-login a.addrs,.pop-login a.addrs{ margin-bottom:12px; background:url(../images/addrs.png); background-position:10px 5px; background-size:21px; background-color:#D63B22; background-repeat:no-repeat;}
.menu ul li .pop-login a.addrc,.pop-login a.addrc{ background:url(../images/addrc.png); background-position:10px 8px; background-size:29px; background-color:#3EB0D8;background-repeat:no-repeat;}


/*--------------photos------*/
.album{background-color: #ECECEC; padding:2%;}
#gallery{ }
#gallery li {
width: 50%;

 float:left;


}
#gallery li a{
background-color: #ffffff;
border: 1px solid #ffffff;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
cursor: pointer;
padding: 4px;
margin:8px;
box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
-webkit-box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.1);
display:block;
}

#gallery li img {
display: block;
width:100%
}
#gallery li p {
color: #666;
font-size: 12px;
margin: 5px 0 0 0px;
white-space: nowrap;
text-overflow:ellipsis;
overflow:hidden;
text-align:center
}
#gallery li h2{ font-size:16px; padding:5px 10px; text-align:center;}
#gallery li .dianping{ padding-bottom:50px;}
.jianshang li{ position:relative;}
.jianshang li .linkmore{ height:40px; padding-top:5px; text-align:center; background-image: url(../images/jiant1.png); background-size:12px 40px; color:#999;}
.jianshang li .more_span{background-position: 50% 30px;}
.jianshang li .more_spa{background-position: 50% -6px;}


/*<!--点评框-->*/
.dpcont{ background:url(../images/qianse.jpg) no-repeat center center;  background-size:cover; padding:3%; position:relative; min-height:380px; height:100%;}
.pinglunfu{ position:fixed; left:0; top:40%; background:#AAE221; width:20px; height:60px;  line-height:110%; padding-left:5px; padding-top:5px; 
-moz-border-radius:0 3px 3px 0;
-webkit-border-radius:0 3px 3px 0;
border-radius:0 3px 3px 0;}
.pinglunfu a{color:#fff; font-weight:bold; font-size:13px;}
.dpcontlie{padding-left:14%; background-image:url(../images/candy.png); background-repeat:no-repeat; background-position:0 0; padding-bottom:25px; margin-bottom:7px; margin-left:35px; }
.dpbai{ background:#E9E9E9; position:relative; padding:8px; -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;}
.dpbai b{font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
	border-width: 6px;
	border-color: transparent #E9E9E9 transparent transparent;
	border-style: dashed solid dashed dashed;
	overflow: hidden;
	zoom:1;
	position: absolute;
	left: -12px;
	top: 12px;
	z-index:2;
	}
.dpbai h1{ font-size:13px; color:#00B2B2;}
.dpbai h1 span{ font-size:12px; color:#999999; font-weight:normal; padding-left:5px;}
.dpxx{ line-height:120%;}

.dpname{ height:28px; line-height:28px; 
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
padding:5px 5px 5px 45px;
 background:#fff url(../images/nicheng.jpg) no-repeat 5px 12px;
 background-size:35px;
}
.dpkk{
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
padding:10px;
 background:#fff;
 line-height:175%;
 margin:15px auto;
}
.tjkk{ height:36px;}
.tjkk input{ width:125px; height:36px; font-size:13px; color:#fff; font-weight:bold; line-height:36px; text-align:center; border:none;}
.clear_btn{ background:#25BF75; float:left;}
.tj_btn{ background:#3B9FF3; float:right;}


.dpname b{ display:block;  width:100%;}
.nicheng{ outline:none; border:none; color:#666; font-size:12px; font-weight:bold; padding:6px 0 4px; width:100%;}
.dpkktext{ width:100%; border:none; height:100px; color:#666; line-height:175%; font-size:12px;}
.xiangqing{ padding:3%;}
.logos{ float:right; padding-right:3%;}
.logos img{ height:10px; padding:5px;}

.ha_a{ width:95%; display:block; height:42px; background:#FF0000; text-align:center; line-height:42px; text-align:center; margin:5px auto; color:#fff; font-weight:bold; border-radius: 5px;}



















