{template 'header'}
<div class="siyuan_top weui-row">
<div class="weui-col-15"><a href="javascript:history.go(-1)"><i class="fa fa-angle-left f-32"></i></a></div>
<div class="weui-col-70">{$set['name']}</div>
<div class="weui-col-15"><a class="cd-bouncy-nav-trigger" href="#0"><img src="{$_W['siteroot']}addons/siyuan_cms/ui/img/daohang.png"></a></div>
</div>
<div class="cd-bouncy-nav-modal">
<nav>
<ul class="cd-bouncy-nav">
{loop $menu $caidan}
<li><a href="{$caidan['url']}"><img src="{$_W['attachurl']}{$caidan['thumb']}"><p>{$caidan['title']}</p></a></li>
{/loop}
</ul>
</nav>
<a href="#0" class="cd-close fa fa-power-off">返回</a>
</div>
<div class="top_nav">
<div class="top_nav_more"><i class="fa fa-angle-left"></i></div>
<div class="nav_list">
<div class="topnav_item {if $vid ==''}top_nav_on{/if}"><a href="{php echo $this->createMobileUrl('vr')}"><em>全部</em></a></div>
{loop $vr_fenlei $row}
<div class="topnav_item"><a href="{php echo $this->createMobileUrl('vr', array('act' => 'list','vid' => $row['id']))}"><em>{$row['name']}</em></a></div>
{/loop}
</div>
</div>
</div>
<div style="height:80px;"></div>
<div class="swiper-container">
<div class="swiper-wrapper">
{loop $vr_flash $flash}
<div class="swiper-slide">
<img onclick="window.location.href='{php echo $this->createMobileUrl('vr', array('act' => 'news', 'id' => $flash['id']))}'" src="{php echo tomedia($flash['thumb'])}" style="width:100%;" ><p class="flash_title ">{$flash['title']}</p></div>
{/loop}
</div>
</div>
{loop $reply $key $rep}
<div class="fei-3"></div>
<div class="tt-first tt-first-no-bd">
<h3>{$rep['name']}</h3>
<div class="opt-more opt-more-gray"><a href="{php echo $this->createMobileUrl('vr', array('act'  => 'list','vid' => $rep['id']))}">更多</a></div>
</div>
<div class="pic-txt pic-txt-video">
<ul>
{loop $rep['mreply'] $mre}
<li>
<a href="{php echo $this->createMobileUrl('vr', array('act'  => 'news','id' => $mre['id']))}">
<span>
<img src="{php echo tomedia($mre['thumb'])}"/>
<i></i>
</span>
<p>{$mre['title']}</p>
<em>
<i class="time">{php echo date('m-d', $mre['time'])}</i><i class="pinglun">{$mre['pinglun']}</i><i class="queryElemTag">{$mre['yuedu']}</i></em>
</a>
</li>
{/loop}
</ul>
</div>
{/loop}
{php echo register_jssdk(false);}
<script type="text/javascript">
wx.ready(function () {
sharedata = {
title: "{$share['vr_title']}",
desc: "{$share['vr_title']}",
link: window.location.href,
imgUrl: "{$_W['attachurl']}{$share['vr_pic']}",
success: function (res) {},
cancel: function(){
}
};
wx.onMenuShareAppMessage(sharedata);
wx.onMenuShareTimeline(sharedata);
wx.onMenuShareQQ(sharedata);
wx.onMenuShareWeibo(sharedata);
wx.onMenuShareQZone(sharedata);
});
</script>
{template 'footer'}