{template 'common/header'}
<style>
.label{cursor:pointer;}
</style>
<div class="main">
	<ul class="nav nav-tabs">
		<li{if $_GPC['do'] == 'manage'} class="active"{/if}><a href="{php echo $this->createWebUrl('manage');}">管理拆礼盒活动</a></li>
		<li><a href="{php echo url('platform/reply/post',array('m'=>'stonefish_chailihe', 'rid' => $rid));}"><i class="fa fa-pencil"></i> 编辑活动</a></li>
		<li{if $_GPC['do'] == 'prize'} class="active"{/if}><a href="{php echo $this->createWebUrl('prize',array('rid' => $rid));}">礼盒</a></li>
		<li{if $_GPC['do'] == 'banner'} class="active"{/if}><a href="{php echo $this->createWebUrl('banner',array('rid' => $rid));}">幻灯</a></li>
		<li{if $_GPC['do'] == 'fansdata'} class="active"{/if}><a href="{php echo $this->createWebUrl('fansdata',array('rid' => $rid));}">参与粉丝</a></li>
		<li{if $_GPC['do'] == 'sharedata'} class="active"{/if}><a href="{php echo $this->createWebUrl('sharedata',array('rid' => $rid));}">分享数据</a></li>
		<li{if $_GPC['do'] == 'prizedata'} class="active"{/if}><a href="{php echo $this->createWebUrl('prizedata',array('rid' => $rid));}">中奖名单</a></li>		
		<li{if $_GPC['do'] == 'rankdata'} class="active"{/if}><a href="{php echo $this->createWebUrl('rankdata',array('rid' => $rid));}">粉丝排行</a></li>
		{if $reply['mobileverify']}<li{if $_GPC['do'] == 'mobileverify'} class="active"{/if}><a href="{php echo $this->createWebUrl('mobileverify',array('rid' => $rid));}">手机验证</a></li>{/if}
		{if $stonefish_branch && $reply['opportunity']==1}<li{if $_GPC['do'] == 'branch'} class="active"{/if}><a href="{php echo $this->createWebUrl('branch',array('rid' => $rid));}">商家赠送</a></li>{/if}
		<li{if $_GPC['do'] == 'posttmplmsg'} class="active"{/if}><a href="{php echo $this->createWebUrl('posttmplmsg',array('rid' => $rid));}">消息通知</a></li>
		<li{if $_GPC['do'] == 'trend'} class="active"{/if}><a href="{php echo $this->createWebUrl('trend',array('rid' => $rid));}">活动分析</a></li>
	</ul>
    <div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
        	<input type="hidden" name="m" value="stonefish_sharegift" />
        	<input type="hidden" name="do" value="prize" />
        	<input type="hidden" name="rid" value="{$_GPC['rid']}" />
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">礼盒名称</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					<input class="form-control" name="prizename" id="prizename" type="text" value="{$_GPC['prizename']}" placeholder="礼盒名称"> 
				</div>
				<div class=" col-xs-12 col-sm-2 col-lg-2">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
    <div class="row-fluid">
    	<div class="span8 control-group">
			<span class="btn btn-warning">礼盒数据 共计：{$total}条礼盒配置记录</span>
			<a class="btn btn-primary" href="{php echo $this->createWebUrl('prizeedit',array('rid' => $rid))}"><i class="fa fa-plus"></i> 添加礼盒配置</a>
        </div>
    </div>
</div>
<div style="position:relative">
	<div class="panel-body table-responsive">
		<table class="table table-hover" style="position:relative">
			<thead class="navbar-inner">
				<tr>
					<th style="width:60px;">奖品</th>
					<th style="width:100px;">礼盒名称</th>
					<th style="width:120px;">分享动作/访问</th>
					<th style="width:60px;">访问量</th>
					<th>奖品名称</th>					
					<th style="width:100px;">数量</th>
					<th style="width:150px;">中奖数</th>
					<th style="width:100px;">中奖率</th>
					<th style="width:200px;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $row}
				<tr>
					<td><img src="{php echo toimage($row['prizepic'])}" width="50"></td>
					<td>{$row['prizerating']}</td>
					<td>{$row['share_num']}/{$row['sharenum']}</td>
					<td>{$row['viewnum']}</td>
					<td>{$row['prizename']}</td>
					<td>{$row['prizetotal']}</td>
					<td><a class="btn btn-default" href="{php echo $this->createWebUrl('prizedata',array('rid' => $rid,'prizeid' => $row['id']));}"><i class="fa fa-trophy"></i> {$row['prizedraw']}</a></td>
					<td>{$row['probalilty']}</td>
					<td><a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('prizeedit',array('rid' => $row['rid'],'id'=>$row['id']))}" title="配置礼盒设置"><i class="fa fa-edit"></i> 配置</a> {if $row['fans']}<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="不可删除"><i class="fa fa-trash-o"></i> 不可删除</a>{else}<a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="#" onclick="drop_confirm('您确定要删除礼盒配置吗?', '{php echo $this->createWebUrl('prizedelete',array('rid'=>$row['rid'],'id'=>$row['id']))}');" title="删除礼盒配置"><i class="fa fa-trash-o"></i> 删除</a>{/if}</td>
				</tr>
				{/loop}				
			</tbody>
		</table>
	</div>
</div>
</div>
{$pager}
</div>
<script>
	function drop_confirm(msg, url){
        if(confirm(msg)){
            window.location = url;
        }
    }	
</script>
{template 'common/footer'}