#select {
	height: 420px;
	background: #f9f9f9
}

#select .tab-title a:hover {
	color: #e74c3c
}

#select .tab-content {
	height: 400px;
	padding-right: 20px
}

#select .tab-content-pane a {
	display: inline-block;
	width: 22%;
	padding-left: 3%;
	line-height: 40px;
	height: 40px;
	color: #666
}

#select .tab-content-pane a:hover {
	background: #f2f1ec;
	color: #333;
	text-decoration: none
}

#publish {
	background: #f9f9f9
}

#publish .form {
	padding: 20px 0 40px;
	position: relative
}

#publish .alert {
	margin-bottom: 0
}

.publish-detail {
	clear: both
}

.publish-detail a {
	color: #963
}

.publish-detail textarea {
	width: 400px;
	height: 100px
}

.publish-detail input {
	vertical-align: middle
}

.publish-detail select.sub-area {
	display: none
}

.publish-detail select.active {
	display: inline
}

.publish-detail .form-label {
	margin-right: 10px
}

.publish-detail-item {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	_vertical-align: top;
	_margin-top: -1px;
	*display: inline;
	*zoom: 1
}

.publish-detail-item-top,.swfu .publish-detail-item {
	vertical-align: top
}

.publish-detail-item span.unit {
	display: inline-block;
	margin-left: 5px
}

.publish-detail-item table td {
	vertical-align: top
}

.p-label {
	display: inline-block;
	width: 140px;
	text-align: right;
	padding: 0;
	font-weight: 800
}

.p-line {
	padding: 10px 0
}

.p-tip {
	display: block;
	height: 40px;
	line-height: 3
}

.p-tip,.p-note {
	color: #999
}

.p-tip,.p-submit {
	padding: 15px 0 0 153px
}

.p-submit {
	margin-bottom: 5px
}

.p-submit .p-note a {
	color: #666!important;
	text-decoration: underline
}

.p-note,.p-error,.p-error-empty {
	font-size: 12px;
	padding-left: 5px
}

.p-error,.p-error-empty {
	color: #f30
}

.p-note-show {
	display: inline
}

#formsubmittips {
	padding-top: 0
}

.publish-detail-item select {
	width: 176px
}

.publish-detail-item .active,.publish-detail-item .form-select {
	display: inline
}

.publish-detail-item .form-input-area {
	position: relative;
	top: -1px
}

.p-group {
	width: 600px
}

.p-group .form-label {
	display: block;
	width: 140px;
	float: left
}

.publish-detail .form-radio,.publish-detail .form-checkbox {
	margin-right: 2px;
	position: relative;
	top: -1px;
	top: 2px\9
}

.postimg {
	width: 780px;
	display: none
}

.postimg-item {
	display: block;
	float: left;
	background: url(../images/loading.gif) no-repeat 74px 74px;
	height: 220px;
	width: 190px
}

.postimg-item-success {
	background: 0
}

.postimg-item-img {
	display: block;
	border: 1px solid #f8f8f8;
	width: 180px;
	height: 180px
}

.postimg-item-status {
	background: #eee;
	display: block;
	width: 182px;
	padding: 5px 0;
	text-align: center;
	font-size: 12px
}

.postimg-item-status a {
	border-left: 3px solid #eee
}

.swfu {
	position: relative;
	*zoom: 1
}

.swfu .publish-detail-item {
	*padding-left: 6px;
	width: 780px
}

.swfu .p-note {
	display: inline;
	float: left;
	position: relative;
	top: 3px
}

.swfu .alert-swfu {
	width: 734px;
	margin-bottom: 10px
}

#jsUploader iframe {
	display: inline;
	overflow: hidden;
	width: 280px;
	height: 40px
}

.postimg-item {
	position: relative
}

.postimg-item .cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 181px;
	width: 180px;
	line-height: 180px;
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.6);
	text-align: center;
	cursor: pointer
}

.postimg-item-hover .cover {
	display: block
}

.postimg .video {
	position: relative;
	overflow: hidden
}

.postimg .video .postimg-item-img {
	height: 180px;
	width: auto;
	max-width: 180px
}

.postimg video {
	position: absolute;
	top: 0;
	left: 1px;
	padding: 23px 0;
	background: #333;
	max-height: 180px;
	overflow: hidden
}

.focus .p-note {
	display: inline
}

.error .p-note {
	display: none
}

.error .p-error {
	display: inline
}

.error .form-input,.error .form-textarea {
	background: #ffffe8
}

.error .p-label {
	color: #f30
}

.empty .p-error {
	display: none
}

.empty .p-error-empty {
	display: inline
}

.inline-block {
	display: inline-block!important
}

#ajax-auth .active {
	display: block
}

#auth-modal .error {
	border-color: #f33
}

.uploadbtn {
	background: url(../images/image-capture-v1.png) no-repeat 0 0;
	height: 28px;
	width: 120px;
	cursor: pointer;
	text-indent: -9999em
}

.uploadbtn:hover {
	background-position: 0 -28px
}

.uploadbtn:active {
	background-position: 0 -56px
}

#appUploader {
	background-image: url(../images/appuploader.png)
}

#captureUploader {
	display: none
}

#appUploaderModal {
	font-size: 20px
}

#appUploaderModal .close {
	margin-top: 13px
}

#mbuploaderid img {
	padding-right: 30px;
	position: relative;
	top: 5px
}

#mbuploaderid small {
	line-height: 1.6;
	display: block
}

#captureUploaderInstance {
	width: 440px;
	position: fixed;
	left: 50%;
	margin-left: -240px;
	top: 0;
	color: #fff;
	border: 10px solid #000;
	background: #555;
	box-shadow: 1px 2px 6px #000;
	z-index: 1000;
	text-align: center
}

#captureUploaderInstance video {
	width: 100%;
	display: block
}

#captureBtns {
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: left;
	background: rgba(0,0,0,.6);
	padding: 13px 10px 7px;
	width: 420px
}

#captureBtns .button {
	margin-top: -5px;
	margin-left: 5px
}

#captureUploaderInstance cite {
	line-height: 200px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	width: 440px;
	line-height: 160px;
	font-size: 20px;
	color: #ddd
}

div.separate {
	background-color: #eee;
	line-height: 2.5;
	padding: 0 15px
}

#moreinfo {
	margin: 10px 0;
	cursor: pointer
}

#moreinfo span {
	display: none;
	font-size: 12px
}

#moreinfo.button-show span.button-show {
	display: inline
}

#moreinfo.button-hide span.button-hide {
	display: inline
}

.meta-hidden {
	display: none
}

#category-feedback {
	position: absolute;
	right: 10px;
	bottom: 15px;
	font-size: 12px
}

#category-feedback a {
	color: #963
}