{template 'common/header'}
<!--目前最大42-->
<div class="clearfix">
	<form method="post" action="{php echo $this->createWebUrl('permissions',array('op'=>'ss'))}"   class="form-horizontal">
		<style>
			.select-role tr:first-child td:first-child{border-top:none;}
			label{font-weight:normal;}
		</style>
		<div class="panel panel-default select-role">
			<div class="panel-heading"><label class="checkbox-inline"><input class="js-check-all" type="checkbox" value="" name="" />勾选拥有的权限</label></div>
			<div class="panel-body table-responsive">
				<table class="table table-hover">
					<tbody>
					<tr>
						<td>
							<div class="checkbox">
								<label><input type="checkbox" name="node_ids[]" value="1" gid="1" class="js-grandfather js-p-1" {if in_array(1, $nodes)}checked="checked"{/if}/>商品</label>
							</div>
						</td>
					</tr>
						<tr>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="2" cid="1" class="js-father js-gid-1" {if in_array(2, $nodes)}checked="checked"{/if}/>查看商品</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="3"   cid="1"  class="js-father js-gid-1" {if in_array(3, $nodes)}checked="checked"{/if}/>编辑商品</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="4"   cid="1"  class="js-father js-gid-1" {if in_array(4, $nodes)}checked="checked"{/if}/>上架商品</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="5"   cid="1"  class="js-father js-gid-1" {if in_array(5, $nodes)}checked="checked"{/if}/>删除商品</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="36"   cid="1"  class="js-father js-gid-1" {if in_array(36, $nodes)}checked="checked"{/if}/>商品还原</label>
									</div>
								</div>
							</td>
						</tr>
					<tr>
						<td>
							<div class="checkbox">
								<label><input type="checkbox" name="node_ids[]" value="6" gid="6" class="js-grandfather js-p-6" {if in_array(6, $nodes)}checked="checked"{/if}/>订单</label>
							</div>
						</td>
					</tr>
						<tr>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="7"  cid="6"   class="js-father js-gid-6" {if in_array(7, $nodes)}checked="checked"{/if}/>查看订单</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="8"  cid="6"    class="js-father js-gid-6" {if in_array(8, $nodes)}checked="checked"{/if}/>发货/批量发货</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="37"  cid="6"    class="js-father js-gid-6" {if in_array(37, $nodes)}checked="checked"{/if}/>删除订单</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="38"  cid="6"    class="js-father js-gid-6" {if in_array(38, $nodes)}checked="checked"{/if}/>编辑订单</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="9"  cid="6"    class="js-father js-gid-6" {if in_array(9, $nodes)}checked="checked"{/if}/>取消发货</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="10"  cid="6"    class="js-father js-gid-6" {if in_array(10, $nodes)}checked="checked"{/if}/>退款</label>
									</div>
								</div>
							</td>
						</tr>
					<tr>
						<td>
							<div class="checkbox">
								<label><input type="checkbox" name="node_ids[]" value="11" gid="11" class="js-grandfather js-p-11" {if in_array(11, $nodes)}checked="checked"{/if}/>配送方式</label>
							</div>
						</td>
					</tr>
						<tr>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="12"   cid="11"  class="js-father js-gid-11" {if in_array(12, $nodes)}checked="checked"{/if}/>查看</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="13"   cid="11"  class="js-father js-gid-11" {if in_array(13, $nodes)}checked="checked"{/if}/>编辑</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="14"  cid="11"   class="js-father js-gid-11" {if in_array(14, $nodes)}checked="checked"{/if}/>增加</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="15"  cid="11"   class="js-father js-gid-11" {if in_array(15, $nodes)}checked="checked"{/if}/>删除</label>
									</div>
								</div>
							</td>
						</tr>
					<tr>
						<td>
							<div class="checkbox">
								<label><input type="checkbox" name="node_ids[]" value="16" gid="16" class="js-grandfather js-p-16" {if in_array(16, $nodes)}checked="checked"{/if}/>团购管理</label>
							</div>
						</td>
					</tr>
						<tr>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="17"  cid="16"   class="js-father js-gid-16" {if in_array(17, $nodes)}checked="checked"{/if}/>查看</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="18"   cid="16"   class="js-father js-gid-16" {if in_array(18, $nodes)}checked="checked"{/if}/>编辑团状态</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="19"    cid="16"  class="js-father js-gid-16" {if in_array(19, $nodes)}checked="checked"{/if}/>全团退款</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="39"    cid="16"  class="js-father js-gid-16" {if in_array(39, $nodes)}checked="checked"{/if}/>手动成团</label>
									</div>
								</div>
							</td>
						</tr>
					<tr>
						<td>
							<div class="checkbox">
								<label><input type="checkbox" name="node_ids[]" value="20" gid="20" class="js-grandfather js-p-20" {if in_array(20, $nodes)}checked="checked"{/if}/>退款记录</label>
							</div>
						</td>
					</tr>
						<tr>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="21" cid="20"    class="js-father js-gid-20" {if in_array(21, $nodes)}checked="checked"{/if}/>查看</label>
									</div>
								</div>
							</td>
						</tr>
					<tr>
						<td>
							<div class="checkbox">
								<label><input type="checkbox" name="node_ids[]" value="22" gid="22" class="js-grandfather js-p-22" {if in_array(22, $nodes)}checked="checked"{/if}/>线下管理</label>
							</div>
						</td>
					</tr>
						<tr>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="23"   cid="22"   class="js-father js-gid-22" {if in_array(23, $nodes)}checked="checked"{/if}/>编辑关键字</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="24"   cid="22"   class="js-father js-gid-22" {if in_array(24, $nodes)}checked="checked"{/if}/>查看门店</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="40"   cid="22"   class="js-father js-gid-22" {if in_array(40, $nodes)}checked="checked"{/if}/>编辑</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="25"   cid="22"   class="js-father js-gid-22" {if in_array(25, $nodes)}checked="checked"{/if}/>增加门店</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="26"    cid="22"  class="js-father js-gid-22" {if in_array(26, $nodes)}checked="checked"{/if}/>删除门店</label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="27"   cid="22"   class="js-father js-gid-22" {if in_array(27, $nodes)}checked="checked"{/if}/>编辑核销员</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="28"    cid="22"  class="js-father js-gid-22" {if in_array(28, $nodes)}checked="checked"{/if}/>查看核销员</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="29"    cid="22"  class="js-father js-gid-22" {if in_array(29, $nodes)}checked="checked"{/if}/>增加核销员</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="30"    cid="22"   class="js-father js-gid-22" {if in_array(30, $nodes)}checked="checked"{/if}/>删除核销员</label>
									</div>
								</div>
							</td>
						</tr>
					<tr>
						<td>
							<div class="checkbox">
								<label><input type="checkbox" name="node_ids[]" value="31" gid="31" class="js-grandfather js-p-31" {if in_array(31, $nodes)}checked="checked"{/if}/>核销订单</label>
							</div>
						</td>
					</tr>
						<tr>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="32"   cid="31"  class="js-father js-gid-31" {if in_array(32, $nodes)}checked="checked"{/if}/>查看订单</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="33"  cid="31"   class="js-father js-gid-31" {if in_array(33, $nodes)}checked="checked"{/if}/>后台确认核销</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="42"  cid="31"   class="js-father js-gid-31" {if in_array(42, $nodes)}checked="checked"{/if}/>手动输入核销</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="41"  cid="31"   class="js-father js-gid-31" {if in_array(41, $nodes)}checked="checked"{/if}/>后台取消核销</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="34"   cid="31"  class="js-father js-gid-31" {if in_array(34, $nodes)}checked="checked"{/if}/>删除订单</label>
									</div>
								</div>
							</td>
							<td class="text-left">
								<div style="padding-left:50px;background:url('./resource/images/bg_repno.gif') no-repeat -245px -545px;">
									<div class="checkbox">
										<label><input type="checkbox" name="node_ids[]" value="35"   cid="31"  class="js-father js-gid-31" {if in_array(35, $nodes)}checked="checked"{/if}/>退款</label>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-10">
			<input type="hidden" name="id" value="{$id}" />
			<input name="submit" type="submit" value="保存" class="btn btn-primary min-width">
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script>
	$('.js-check-all').click(function() {
		var checked = this.checked;

		$(this).parent().parent().next().find('input:checkbox').each(function() {
			this.checked = checked;
		});
	});
	$('.js-grandfather').click(function() {
		var checked = this.checked;
		var gid = $(this).attr('gid');
		$('.js-gid-'+gid).each(function(){
			this.checked = checked;
		});
	});
	$('.js-father').click(function() {
		var checked = this.checked;
		var cid = $(this).attr('cid');
		$('.js-p-'+cid).each(function(){
			this.checked = checked;
		});
	});
</script>
{template 'common/footer'}