<ul class="nav nav-tabs">
  <li role="presentation" class="{if $_GPC['display']==''||$_GPC['display']=='index'}active{/if}">
    <a href="{php echo $this->createWebUrl('withdraw',array('display'=>'index'))}">提现列表</a>
  </li>

  <li role="presentation" class="{if $_GPC['display']=='success'}active{/if}">
    <a href="{php echo $this->createWebUrl('withdraw',array('display'=>'success'))}">成功列表</a>
  </li>
  <li role="presentation" class="{if $_GPC['display']=='error'}active{/if}">
    <a href="{php echo $this->createWebUrl('withdraw',array('display'=>'error'))}">失败列表</a>
  </li>
  <!-- <li role="presentation"><a href="#">Messages</a></li> -->
</ul>
