html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
input[type="submit"],input[type="reset"],input[type="button"],input{-webkit-appearance:none;resize:none;}
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{-webkit-tap-highlight-color:rgba(0,0,0,0);}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
img{max-width:100%;height:auto;width:auto\9;-ms-interpolation-mode:bicubic;}
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;border:none;}
em,i{font-style:normal;}strong,b{font-weight:normal;}
.clearfix:after{content:"";display:block;visibility:hidden;height:0;clear:both;}
.clearfix{zoom:1;}a{text-decoration:none;color:#969696;font-family:Heiti SC, Heiti TC,Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:hover{text-decoration:none;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-family:"ºÚÌå",Heiti TC;}
img{border:none;}
.scope{min-width:320px;max-width:540px;}
body{font-family: Heiti SC, Heiti TC,open sans,lantinghei SC,lantinghei TC, Microsoft YaHei,Tahoma,Arial,sans-serif,"黑体"; color: #01444c;;background-color: #FFF ;}
body,p,div{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
body{
        width: 100%;
        height:auto;
        background-color: #252a40;
}
.goShareWrap{
    padding: 4rem 2.1rem;
}
.goShareWrap p{
    color: #fff;
    margin-bottom: 4.1rem;
}
/* body{
    width: 100%;
    height:auto;
    background:  url(../images/bodyBg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
} */
.baoMingWrap{
    width: 100%;
    padding:13rem 2.5rem 2rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    /*background-color:#252a40;*/
}
.phoneWrap span{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    letter-spacing: 0.1rem;
    margin-right: 0.8rem;
    font-size: 0.8rem;
}
.phoneWrap input{
    width: 100%;
    border: 1px solid #000;
    padding: 0.8rem 0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    font-size:1rem;
    color: #d0d0d0;
    border-radius: 0;
    text-align: center;
}
.ps{
    padding: 1.6rem 0.6rem;
    color: #FFF;
    font-size: 1rem;
}
.submitBtn{
    background-color: #bb8e4b;
    height: 2.7rem;
    line-height: 2.7rem;
    color: #fff;
    margin-top: 0.5rem;
    text-align: center;
    letter-spacing: 0.2rem;
    border-radius: 0.2rem;
}
.footer{
    margin: 2.9rem 0 1.8rem;
}
.line{
    padding: 5.9rem 0 2.2rem;
}

.baoMingLogo{
    width:70%;display:block;margin:0 auto;
}
/* -------------jiheCode------------------- */
.jiheCode{
    width: 100%;
    padding: 1.5rem 0;
   /*  background-color: #252a40;  */
}
.jiheCodeInfo{
    width: 19.4rem;
    margin:0 auto; 
}
.jiheCodeInfo h1{
    background-color: #fff;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.1rem;
    color: #000;
}
.pic{
    height: 1.3333333rem;
    background:  url(http://7xio74.com2.z0.glb.qiniucdn.com/anmanJiheCodeLine.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.jiheCodeNum{
    height: 7.7rem;
    padding:1.5rem;
    background-color: #fff;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
.jiheCodeNumInfo{
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    border-bottom: 1px solid #e1e3e6;
    color: #000;
}
.jiheCodeNumInfo span{
    font-size: 1.4rem;
}
.jiheCodeNumTime{
    text-align: center;
    color: #969899;
    font-size: 0.8rem;
    padding: 0.5rem 0;
}
.jiheCodeNumBtn{
    padding: 0.8rem 0 1rem;
    /* height: 3.4rem; */
    /* line-height: 3.4rem; */
    text-align: center;
    color:#d71e16;
    font-size: 0.9rem; 
    background-color: #fff;
}
.jiheCodeInfoBtn{
    padding:2.2rem 1.5rem 0;
    text-align: center;
}
.jiheCodeInfoBtn span{
    display: inline-block;
    width: 10rem;
    text-align: center;
    padding: 0.7rem 0;
    color: #68b0ba;
    border: 2px solid #bb8e4b;
    border-radius: 0.2rem;
    margin:0 0.7rem 0 0 ;
    color: #bb8e4b;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;

}
.jiheCodeInfoBtn .moreCode{
    margin:0 0 0 0.7rem;
    color: #fff;
    background-color: #bb8e4b;
}
.matchTop{
    width:100%;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-o-box;
    padding: 0 2.6rem ;
    margin-top: -2rem;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
.matchTop dt{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -ms-box-flex:1;
    -o-box-flex:1;
    text-align: left;
    max-width: 5rem;
    min-width: 5rem;
}
.matchTop dt img{
    width:5rem;
    height: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #fff;
}
.matchTop dd{
    -webkit-box-flex:3;
    -moz-box-flex:3;
    -ms-box-flex:3;
    -o-box-flex:3;
    min-width: 14rem;
    padding-left: 2.6rem;
    font-size: 16px;
    padding: 0.8rem 0 0.8rem 2.6rem;
}
.matchTop dd span{
    display: block;
    margin-bottom: 1rem;
    color: #fff;
}
.matchTop dd i{
    margin-left: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.fanPaiWrap{
    padding:1rem 1.3rem ;
    display: none;
}
.top{
    margin-bottom: -1.5rem;
}
.bottom{
    margin-top: -1.5rem;
}
.list{
    text-align: center;
}
.list img{
    width: 6rem;
}
.anmanTips {
  padding: 1rem 1.5rem;
  color: #fff;
  line-height: 1.4rem;
}
.anmanTips span{
    font-size: 0.9rem;
}
/* -------------alert------------------- */
.mask,.mask1,.mask2{
    position: fixed;
    height: auto;
    top:0;
    left:0;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    /* display: none; */
}
.mask,.mask1{
    display: none;
}
.mask1,.mask2{
    height: 44.467rem;
}
.alert{
    width: 80%;
    margin: 50% auto;
    border-radius: 5px;
    text-align: center;
}
.alert p{
    color: #4a4a4a;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
.alert .btn{
    width: 100%;
    padding: 20px 0;
    color: #00a3a6;
}
#erweima .alert{
    width: 17.3rem;
    margin: 15% auto 55%;

}
.erweima .alert{
    width: 17.3rem;
    margin: 15% auto 50%;

}
.erweima p{
 padding: 1.9rem 1.6rem;
 text-align: left;
 font-size: 0.9rem;
 color: #fff;
 background-color: #bb8e4b;
 border-radius: 5px 5px 0 0;
}
#erweima p{
 padding: 1.9rem 1.6rem;
 text-align: left;
 font-size: 0.9rem;
 color: #fff;
 background-color: #bb8e4b;
 border-radius: 5px 5px 0 0;
}
.erweima img{
    width: 8.4rem;
    display: block;
    margin:0 auto 1rem;
}
#erweima img{
    width: 8.4rem;
    display: block;
    margin:0 auto 1rem;
}

#erweima2 .alert{
    width: 17.3rem;
    margin: 15% auto 50%;

}
#erweima2 p{
 padding: 1.9rem 1.6rem;
 text-align: left;
 font-size: 0.9rem;
 color: #fff;
 background-color: #bb8e4b;
 border-radius: 5px 5px 0 0;
}
#erweima2 img{
    width: 8.4rem;
    display: block;
    margin:0 auto 1rem;
}
.erweimaPic {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 2.1rem 0;
    color: #000;
}
.erweimaPic span{
    display: block;
    width: 90%;
    font-size: 0.8rem;
    margin: 1rem auto 0;
}
.erweimaBtn{
  margin: 0 auto;
  height: 3rem;
  background: url(http://7xio74.com2.z0.glb.qiniucdn.com/anmanX2.png) center right no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.erweimaBtn1{
    width: 17.5rem;
    margin: 40% auto 0;
    height:3rem;
    background:  url(http://7xio74.com2.z0.glb.qiniucdn.com/anmanX2.png) center right no-repeat; 
    -webkit-background-size: contain;
    background-size: contain;
}
.haveMoreCodeIn{
  padding: 1.2rem 0.8rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.haveMoreCodeCon {
  height: auto;
  padding: 3.9rem 2.1rem;
  border-radius: 5px;
}
.haveMoreCodeTitle {
  color: #121212;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -1rem;
  text-align: center;
  height: 4.9rem;
  line-height: 6.5rem;
  background: url(http://7xio74.com2.z0.glb.qiniucdn.com/arrowhead.png) right center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  font-size: 1.25rem;
  border-radius: 5px;
}
.pWrap {
  background-color: #fff;
  border-radius: 5px;
}
.pWrap img{
  display: block;
  width: 95%;
  margin: 0 auto;
}
.haveMoreCodeInContent {
 padding: 1rem 0.9rem;
  line-height: 2rem;
  font-size: 0.9rem;
  background-color: #bb8e4b;
  border-radius: 5px 5px 0 0;
  color: #fff;
}
.haveMoreCodeBtn {
  height: 4rem;
  background: url(http://7xio74.com2.z0.glb.qiniucdn.com/anmanX2.png) center right no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
 .haveMoreCodeIn{
  width: 100%;
  height: 44.467rem;
  /* height: 44.467rem; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.7);
  display: none;
}
.alert1{
    width: 17.5rem;
    height: auto;
    margin: 0 auto;
    background:  url(http://7xio74.com2.z0.glb.qiniucdn.com/zhongbackgrand.png) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.alert1 p{
    padding: 2.9rem 1.8rem 1rem;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}
.mask2 .alert1 p{
    padding: 5rem 1.8rem ;
}
.fanPaiBtn{
    padding: 1.5rem 0 2.5rem;
    /* width: 10rem;
    margin: 0 auto;
    padding: 0.8rem 0;
    background-color: #bb8e4b;
    border-radius: 0.2rem;
    text-align: center;
    
    color: #fff;  */
}
.fanPaiBtn a{
    display: block;
    width: 10rem;
    margin: 0 auto;
    padding: 0.8rem 0;
    background-color: #bb8e4b;
    border-radius: 0.2rem;
    text-align: center;
    
    color: #fff; 
}
.mask strong,.haveMoreCodeIn strong{
    font-weight: bold;
}
