{template 'default/templates/common/header-base'}
<link id="barindexCss" rel="stylesheet" href="../addons/meepo_bbs/template/mobile/default/css/relativegroup.min.c85d9a48.css" />
<link id="barindexCss" rel="stylesheet" href="../addons/meepo_bbs/template/mobile/default/css/my_related.min.8f607c79.css" />
    
    <body>
        <div class="ui-top-bar js-no-bounce">
            <div class="ui-tab page1 js-active">
                <ul class="ui-groupbutton" role="tablist">
                
                    <li class="ui-button js-active {if empty($_GPC['type'])} active selected{/if}" id="replyme" onclick="window.location.href='{php echo $this->createMobileUrl('home_message')}'">
                        回复与赞
                        <div id="unReadMsgNum" class="badge">
                            {$replymenum}
                        </div>
                    </li>
                    <li class="ui-button {if !empty($_GPC['type'])} active selected{/if}" id="message" onclick="window.location.href='{php echo $this->createMobileUrl('home_message',array('type'=>1))}'">
                        系统消息
                        <div id="unReadMsgNumSys" class="badge">
                            {$messagenum}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ui-page page1 js-active" id="page1">
            <div class="ui-page-content">
                <div class="ui-tab js-active" id="page1-tab1" role="tabpanel">
                    <ul id="content" class="content">
                    	{loop $list $li}
					    <li class="item item-topic  section-1px" onclick="window.location.href='{php echo $this->createMobileUrl('forum_topic',array('id'=>$li['tid']))}'">
					        <div class="info info-top">
					            <div class="time">
					                {php echo date('Y-m-d',$li['time'])}
					            </div>
					            <div class="item-author">
					                <div class="avatar-box user_avatar">
					                    <img class="avatar" src="{php echo tomedia($li['avatar'])}">
					                </div>
					                <h3 class="author" data-profile-uin="2274445470">
					                    <span class="user-nick">
					                        {php echo $li['nickname']}
					                    </span>
					                    <span class="a-male">
					                    </span>
					                </h3>
					            </div>
					        </div>
					        <div class="item-content">
					            <div class="item-comment" >
					               {$li['content']}
					            </div>
					        </div>
					        <div class="comment-target-box">
					            <div class="comment-target">
					                <div >
					                    [话题]
					                    <span >
					                        {$li['title']}
					                    </span>
					                </div>
					                <div>
					                </div>
					            </div>
					        </div>
					        <div class="comment-from">
					        	{if $li['type'] == 2}
					            	<a class="reply-btn"> 查看</a>
					           	{/if}
					        </div>
					    </li>
					    {/loop}
					</ul>
                </div>
                <div class="ui-tab" id="page1-tab2" role="tabpanel">
                </div>
                <div id="no-content" class="no-content">
                </div>
                
            </div>
        </div>
        <div class="ui-page page2" id="page2">
            <div class="ui-page-content">
                <ul id="contentList" class="list">
                </ul>
                <div class="loading" id="js_loading">
                    载入中，请稍候...
                </div>
                <div class="no-content" id="js_no_content">
                    当前没有系统消息
                </div>
            </div>
        </div>
        
    </body>

</html>