{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo  $this->createWebUrl('slide');}">幻灯片管理</a></li>
    <li><a href="{php echo  $this->createWebUrl('slideadd');}">添加幻灯片</a></li>
    <li><a href="{php echo  $this->createWebUrl('slidecc');}">橱窗设置</a></li>
    <li><a href="{php echo  $this->createWebUrl('audio');}">首页音乐设置</a></li>
</ul>

<div class="clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            幻灯片列表
        </div>
        <div class="table-responsive panel-body" style="overflow:visible;">
            <table class="table table-hover">
                <thead>
                <tr class="active">
                    <td>名称</td>
                    <td>链接地址</td>
                    <td>排序参数</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                {loop $list $val}
                <tr>
                    <td>
                        <p class="form-control-static">{$val[name]}</p>
                    </td>
                    <td>
                        <p class="form-control-static">{$val[link]}</p>
                    </td>
                    <td>
                        <p class="form-control-static">{$val[top]}</p>
                    </td>
                    <td style="overflow:visible;">
                        <div class="btn-group btn-group-sm">

                            <a class="btn btn-default" href="{php echo $this->createWebUrl('slideedit',array('id'=>$val['id']));}"><i class="fa fa-edit"></i> 编辑</a>
                            <a class="btn btn-default" href="{php echo $this->createWebUrl('slidedelete', array('id'=>$val['id']))}" onClick="return confirm('确认删除该幻灯片?');"><i class="fa fa-remove"></i> 删除</a>

                        </div>
                    </td>
                </tr>
                {/loop}

                </tbody>
            </table>
        </div>

        <div class="panel-body text-center">
            {$pager}
        </div>

    </div>
</div>


{template 'common/footer'}