{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo  $this->createWebUrl('wstaff');}">服务师管理</a></li>
    <li><a href="{php echo  $this->createWebUrl('wstaffadd');}">添加服务师</a></li>
    <li ><a href="{php echo  $this->createWebUrl('wstaffm');}">管理员</a></li>
</ul>

<div class="clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-body">
                <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
                    <input type="hidden" name="c" value="site" />
                    <input type="hidden" name="a" value="entry" />
                    <input type="hidden" name="m" value="zm_housekeepnew" />
                    <input type="hidden" name="do" value="wstaff" />
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">手机号查找</label>
                        <div class="col-sm-8 col-lg-9 col-xs-12">
                            <input class="form-control" name="mobile"  type="text" value="{$_GPC['mobile']}" placeholder="输入手机号查询">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">姓名查找</label>
                        <div class="col-sm-8 col-lg-9 col-xs-12">
                            <input class="form-control" name="name" type="text" value="{$_GPC['name']}"
                                   placeholder="输入姓名查询">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                        <div class="col-sm-4 col-xs-12">
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                            <button name="export" value="export" class="btn btn-default"><i class="fa fa-download"></i> 导出数据</button>
                            <button type="button" class="btn btn-default">总记录数：{$total}</button>
                            <button type="button" class="btn btn-default">实获总金额：{$sum}元</button>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive panel-body">
            <table class="table table-hover">
                <thead>
                <tr class="active">
                    <td>姓名</td>
                    <td>性别</td>
                    <td>手机号码</td>
                    <td>未提佣金</td>
                    <td>已提佣金</td>
                    <td>实获佣金</td>
                    <td>添加时间</td>
                    <td>是否为管理员</td>
                    <td>是否验证</td>
                    <td>是否后台派单显示</td>
                    <td width="300">操作</td>
                </tr>
                </thead>
                <tbody id="trtr">
                {loop $list $val}
                <?php $a = $this->myGet($this->_fwstgy,array('wid'=>$this->_wid,'openid'=>$val[openid],'state'=>0,'fwstgy'=>0));
                $b = pdo_fetchcolumn("SELECT SUM(money) FROM ".tablename($this->_fwstgy)." WHERE state=2 AND openid='".$val[openid]."' AND
                fwstgy=0")?>
                <?php $backadmin = $this->myGet($this->_staff,array('wid'=>$this->_wid,'backadmin'=>1,'id'=>$val[id]));?>

                <tr {if $backadmin} {else}style="background:rgb(255,255,204)"{/if}>
                <td>{$val['name']}</td>
                {if $val['sex'] == 1}
                <td>男</td>
                {else}
                <td>女</td>
                {/if}
                <td>{$val['mobile']}</td>
                <td>{if $a[money]==null}0.00{else}{$a[money]}{/if}</td>
                <td>{if $b==null}0.00{else}{$b}{/if}</td>
                <td style="color:red;">{$val[fwsmoney]}</td>
                <td>{php echo date('Y-m-d',$val['addtime'])}</td>
                <td>
                    {if $val[booking] == 1}
                    是
                    {else}
                    否
                    {/if}
                </td>
                <td>
                    {if $val[state] == 1}
                    是
                    {else}
                    否
                    {/if}
                </td>
                <td>
                    {if $val[backadmin] == 1}
                    是
                    {else}
                    否
                    {/if}
                </td>

                <td style="overflow:visible;">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-default" href="{php echo $this->createWebUrl('wstaffedit',array('id'=>$val['id']))}"><i class="fa fa-edit"></i> 编辑</a>
                        <a class="btn btn-default" href="{php echo $this->createWebUrl('wstaffdelete', array('id'=>$val['id']))}" onclick="return confirm('确认删除改员工信息?');"><i class="fa fa-remove"></i> 删除</a>
                        {if $val[booking] != 1}<a class="btn btn-default" href="{php echo $this->createWebUrl('wstaffgl', array('id'=>$val['id']))}"><i class="fa fa-edit"></i>设为管理员</a>
                        {else}<a class="btn btn-default" href="{php echo $this->createWebUrl('wstaffgldel', array('id'=>$val['id']))}"><i class="fa fa-edit"></i>取消管理员</a>{/if}
                    </div>
                </td>
                </tr>
                {/loop}

                </tbody>
            </table>
        </div>

        <div id='yema' class="panel-body text-center">
            {$pager}
        </div>

        <div class="panel-footer">
            <span style="color:red;">管理员是在用户提交订单后，会收到订单消息</span>
        </div>
    </div>
</div>
<script type="application/javascript">
    //    require(['jquery', 'util'], function ($, util) {
    //        $(document).ready(function () {
    //            $("#query").click(function () {
    //                $.get("", {nick: $("[name='form1'] input[name='nick']").val()}, function (user) {
    //                    var trad = "";
    //                    var change = eval("(" + user + ")");
    //                    if (user != "false") {
    //                        var add = "&";
    //                        var us = "id";
    //                        var ceq = "=";
    //                        trad += "<tr>";
    //                        trad += "<td>" + change['name'] + "</td>";
    //                        if(change['sex']==0){trad += "<td>男</td>";}else if(change['sex']==1){
    //                            trad += "<td>女</td>";
    //                        }
    //                        trad += "<td>" + change['mobile'] + "</td>";
    //                        if(change['wei']==null){trad += "<td>0</td>";}else{
    //                            trad += "<td>" + change['wei'] + "</td>";
    //                        }
    //                        if(change['yi']==null){trad += "<td>0</td>";}else{
    //                            trad += "<td>" + change['yi'] + "</td>";
    //                        }
    //                        trad += "<td style='color:red;'>" + change['fwsmoney'] + "</td>";
    //                        trad += "<td>" + change['addtime'] + "</td>";
    //                        if(change['booking']==1){trad += "<td>是</td>";}else{
    //                            trad += "<td>否</td>";
    //                        }
    //                        if(change['state']==1){trad += "<td>是</td>";}else{
    //                            trad += "<td>否</td>";
    //                        }
    //                        if(change['backadmin']==1){trad += "<td>是</td>";}else{
    //                            trad += "<td>否</td>";
    //                        }
    //                        trad += "<td style='overflow:visible;'><div class='btn-group btn-group-sm'>";
    //                        trad += "<a class='btn btn-default' href='<?php echo $this->createWebUrl('wstaffedit')?>"+add+us+ceq+change['id']+"'><i class='fa fa-edit'></i>编辑</a>";
    //                        trad += "<a id='mafan' class='btn btn-default' href='<?php echo $this->createWebUrl('wstaffdelete')?>"+add+us+ceq+change['id']+"'><i class='fa fa-remove'></i>删除</a>";
    //                        if(change['booking']==1){
    //                            trad += "<a class='btn btn-default' href='<?php echo $this->createWebUrl('wstaffgl')?>"+add+us+ceq+change['id']+"'><i class='fa fa-edit'></i>设为管理员</a>";
    //                        }else{
    //                            trad += "<a class='btn btn-default' href='<?php echo $this->createWebUrl('wstaffgldel')?>"+add+us+ceq+change['id']+"'><i class='fa fa-edit'></i>取消管理员</a>";
    //                        }
    //                        trad += "<a target='_black' class='btn btn-info' href='"+change['qrcode']+"'><i class='fa fa-file-image-o'></i>查看二维码</a>";
    //                        trad +="</div></td>";
    //                        $("#trtr").html(trad);
    //                    }
    //                    $("#yema").css('display', "none");
    //                    $("#mafan").click(function(){
    //                        return  confirm('确认删除改员工信息?');
    //                    });
    //                });
    //            });
    //        });
    //
    //    });

</script>

{template 'common/footer'}