#header{width:7.1rem;height:0.7rem;line-height:0.7rem;padding:0.15rem 0.2rem;background:#fff;border-bottom:solid 1px #f2f2f2;}
#header .goback{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;}
#header .title{width:4.9rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.35rem;float:left;}
#header .empty{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;}

.count{background:#fff;padding:0.3rem;}
.count .iconfont{font-size:1.2rem;color:#F18074;height:1.2rem;line-height:1.2rem;}
.count .text{font-size:0.3rem;}
.count .num{font-size:0.55rem;}
.count .btn{height:0.9rem;line-height:0.9rem;color:#fff;display:block;background:#06bf04;color:#fff;font-size:0.38rem;border-radius:0.15rem;margin-top:0.3rem;}

.list .noaccount{height:1rem;line-height:1rem;font-size:0.3rem;color:#999;}
.list .item{padding:0.3rem 0.2rem;width:7.1rem;height:0.8rem;background:#fff;margin-bottom:1px;}
.list .item .iconfont{width:0.8rem;height:0.8rem;line-height:0.8rem;font-size:0.6rem;float:left;color:#666;}
.list .item .msg{width:5rem;height:0.8rem;float:left;}
.list .item .msg .ordersn{height:0.4rem;line-height:0.4rem;font-size:0.32rem;color:#999;}
.list .item .msg .status{height:0.4rem;line-height:0.4rem;font-size:0.25rem;color:green;}
.list .item .yongjin{width:1.3rem;height:0.8rem;line-height:0.8rem;font-size:0.4rem;float:left;color:green;}



