#header{width:7.1rem;height:0.7rem;line-height:0.7rem;padding:0.15rem 0.2rem;background:#fff;border-bottom:solid 1px #f2f2f2;}
#header .goback{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;}
#header .title{width:4.9rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.35rem;float:left;}
#header .empty{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;}


#addresslist .noaddress{height:1rem;line-height:1rem;font-size:0.3rem;color:#999;}
#addresslist .item{margin-bottom:1px;width:7.1rem;padding:0.3rem 0.2rem;height:1rem;background:#fff;}
#addresslist .item .left{width:6.1rem;height:1rem;float:left;}
#addresslist .item .left .con{border-right:solid 1px #f5f5f5;}
#addresslist .item .left .con .realname{height:0.5rem;line-height:0.5rem;color:#333;font-size:0.38rem;}
#addresslist .item .left .con .realname span{font-size:0.25rem;background:#900;color:#fff;border-radius:0.1rem;padding:0 0.1rem;}
#addresslist .item .left .con .addresscon{height:0.5rem;line-height:0.5rem;color:#666;font-size:0.3rem;} 
#addresslist .item .right{width:1rem;height:1rem;line-height:1rem;float:left;font-size:0.7rem;color:#900;}
