.wrap{
	box-sizing:border-box;
	clear:both;
	display:table;
	width:100%;
}
.text-l{
	text-align:left;
}
.text-c{
	text-align:center;
}
.text-r{
	text-align:right;
}
.hide{
	display:none;
}
.blackbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.3;
    z-index: 555;
}
.tips{position: fixed;width:5.5rem;background:#D8D8D8;z-index: 5;left:1rem;bottom:20%;color:#000;}
.alerts{ width:7rem;position: fixed; top: 10%;left:0.25rem; z-index:1000;background:#fff;border-radius:0.15rem;}
.alert{ width: auto; position: relative; top: 0;}
.alert .itemtop{padding:0.2rem;height:0.5rem;width:6.6rem;}
.alert .itemtop .title{width:6.1rem;float:left;height:0.5rem;line-height:0.5rem;font-size:0.4rem;}
.alert .itemtop .close{font-size:0.45rem;height:0.5rem;line-height:0.5rem;float:left;width:0.5rem;}

.textellipsis1{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	white-space:nowrap;
}
.textellipsis2{
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.load{height:0.8rem;line-height:0.8rem;font-size:0.26rem;color:#999;clear:both;}

#header{width:7.1rem;height:0.7rem;line-height:0.7rem;padding:0.15rem 0.2rem;border-bottom:solid 1px #f2f2f2;background:#fff;}
#header .goback{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;}
#header .title{width:4.9rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.35rem;float:left;}
#header .empty{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;}


.weui-picker-modal{height:5.7rem;}
.toolbar .toolbar-inner{height:0.8rem;line-height:0.8rem;}
.toolbar .picker-button{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.toolbar .title{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.weui-picker-modal .picker-items{font-size:0.35rem;}
.weui-picker-modal .picker-modal-inner{height:4.9rem;}
.weui-picker-modal .picker-item{text-align:center;}

.picker-calendar-row{height:0.6rem;line-height:0.6rem;padding:0.1rem 0;}
i.icon.icon-prev,i.icon.icon-next{background-size:0.3rem;width:0.8rem;line-height:0.8rem;height:0.8rem;position:absolute;margin-left:-0.4rem;}
.icon-next:before {content: "";}
.picker-calendar-month-picker a.icon-only, .picker-calendar-year-picker a.icon-only{height:0.8rem;line-height:0.8rem;}
.picker-calendar-month-picker .current-month-value, .picker-calendar-month-picker .current-year-value, .picker-calendar-year-picker .current-month-value, .picker-calendar-year-picker .current-year-value{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.picker-calendar-day span{width:0.6rem;height:0.6rem;line-height:0.6rem;font-size:0.3rem;}
.picker-calendar-week-days{font-size:0.3rem;height:0.8rem;line-height:0.8rem;}
.picker-calendar-week-days .picker-calendar-week-day{height:0.8rem;line-height:0.8rem;}

.weui-toast{width:3.5rem;left:4rem;min-height:auto;padding:0.2rem 0;}
.weui-icon_toast{margin-bottom:0.15rem;margin-top:0.15rem;font-size:0.6rem;margin:0;}
.weui-toast_content{font-size:0.35rem;}



.weui-dialog__hd {padding:0;font-size:0.5rem;}
.weui-dialog__title{font-size:0.4rem;}
.weui-dialog__bd{padding:0.2rem;font-size:0.35rem;min-height:0.4rem;line-height:0.4rem;}
.weui-dialog__ft{font-size:0.35rem;line-height:1rem;}


.weui-cells{font-size:0.36rem;}
.weui-cell{padding:0.2rem 0.3rem;}
.weui-cells__title{font-size:0.36rem;padding:0.2rem 0.3rem;margin:0 auto;}
.weui-btn{padding:0.1rem;font-size:0.35rem;border-radius: 0.15rem;line-height:0.75rem;}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:0;height:1.4rem;}