#header{width:7.1rem;height:0.7rem;line-height:0.7rem;padding:0.15rem 0.2rem;background:#EA3838;border-bottom:solid 1px #f2f2f2;}
#header .goback{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;color:#fff;}
#header .title{width:4.9rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.35rem;float:left;color:#fff;}
#header .empty{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;color:#fff;}

.allshouru{padding:0.5rem 0;border-bottom:solid 1px #f9f9f9;color:#900;}
.allshouru .num{font-size:0.45rem;}
.allshouru .text{font-size:0.35rem;}

.allnum{padding:0.5rem 0;height:1rem;border-bottom:solid 1px #f9f9f9;}
.allnum div{width:2.5rem;height:1rem;float:left;}
.allnum div .num{height:0.5rem;line-height:0.5rem;font-size:0.45rem;}
.allnum div .text{height:0.5rem;line-height:0.5rem;font-size:0.35rem;}

.addgoods{padding:0.4rem 0;height:0.6rem;border-bottom:solid 1px #f9f9f9;}
.addgoods a{color:#900;font-size:0.42rem;display:block;height:0.6rem;line-height:0.6rem;}
.addgoods a span{font-size:0.4rem;}

.list{padding:0.5rem 0;height:1.4rem;border-bottom:solid 1px #f9f9f9;}
.list a{display:block;height:1.4rem;float:left;width:2.5rem;}
.list a .iconfont{font-size:0.6rem;height:0.8rem;line-height:0.8rem;}
.list a .text{color:#333;font-size:0.36rem;height:0.6rem;line-height:0.6rem;}



