#header{width:7.1rem;height:0.7rem;line-height:0.7rem;padding:0.15rem 0.2rem;background:#fff;font-size:0.3rem;border-bottom:solid 1px #f2f2f2;}
#header img{width:0.7rem;height:0.7rem;border-radius:0.7rem;margin-right:0.1rem;}

#goodslist{padding:0.2rem 0 0 0.2rem;}
#goodslist .nogoods{height:1rem;line-height:1rem;font-size:0.3rem;color:#999;}
#goodslist .item{width:3.45rem;height:auto;float:left;margin-right:0.2rem;background:#fff;margin-bottom:0.2rem;}
#goodslist .item .img{width:3.45rem;height:3.45rem;}
#goodslist .item .img img{width:3.45rem;height:3.45rem;}
#goodslist .item .title{font-size:0.3rem;color:#666;height:0.8rem;line-height:0.4rem;margin:0.1rem 0;padding-left:0.1rem;}
#goodslist .item .price{color:#ff6600;font-size:0.35rem;margin-bottom:0.1rem;padding-left:0.1rem;}

#footer{width:7.5rem;height:1.2rem;position:fixed;z-index:99;bottom:0;background:#fff;border-top:solid 1px #f2f2f2;}
#footer .item{width:3.75rem;height:1.2rem;float:left;}
#footer .item .iconfont{color:#666;font-size:0.45rem;height:0.6rem;line-height:0.6rem;border-right:1px #f2f2f2 solid;}
#footer .item .text{color:#666;font-size:0.25rem;height:0.6rem;line-height:0.6rem;border-right:1px #f2f2f2 solid;}
