#header{width:7.1rem;height:0.7rem;line-height:0.7rem;padding:0.15rem 0.2rem;background:#fff;border-bottom:solid 1px #f2f2f2;}
#header .goback{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;}
#header .title{width:4.9rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.35rem;float:left;}
#header .empty{width:1.1rem;height:0.7rem;line-height:0.7rem;color:#666;font-size:0.38rem;float:left;}

.address{padding:0.2rem;background: url(../images/location-border.png) repeat-x left bottom #fff;height:1.5rem;}
.address a{color:#666;}
.address .iconfontitem{width:0.8rem;height:1.5rem;line-height:1.5rem;float:left;font-size:0.5rem;}
.address .msg{width:5.5rem;float:left;height:1.5rem;}
.address .msg .shr{width:5.5rem;height:0.7rem;line-height:0.7rem;font-size:0.32rem;}
.address .msg .shr .realname{width:2.75rem;float:left;height:0.7rem;line-height:0.7rem;}
.address .msg .shr .phone{width:2.75rem;float:left;height:0.7rem;line-height:0.7rem;}
.address .msg .add{height:0.8rem;line-height:0.4rem;color:#999;font-size:0.28rem;}

.noaddress{padding:0.2rem;background: url(../images/location-border.png) repeat-x left bottom #fff;height:1rem;}
.noaddress .addadd{height:1rem;line-height:1rem;font-size:0.8rem;width:1.5rem;float:left;color:#188FC9;}
.noaddress .text{height:1rem;line-height:1rem;font-size:0.42rem;width:5.6rem;float:left;color:#188FC9;}

.store{border-top:solid 1px #f2f2f2;padding:0.2rem;width:7.1rem;height:0.6rem;line-height:0.6rem;background:#fff;margin-top:0.25rem;}
.store .iconfont{width:0.6rem;height:0.6rem;line-height:0.6rem;font-size:0.48rem;float:left;color:#666;}
.store .storename{width:6.5rem;height:0.6rem;line-height:0.6rem;font-size:0.35rem;float:left;color:#666;}

.goods{background:#fafafa;}
.goods .item{padding:0.2rem;height: 1.6rem;}
.goods .item .img {width: 1.6rem;height: 1.6rem;float: left;}
.goods .item .img  img{width: 1.6rem;height: 1.6rem;}
.goods .item .goodsmsg {width: 5.3rem;float: left;margin-left: 0.2rem;}
.goods .item .goodsmsg .title {height: 0.4rem;line-height: 0.4rem;font-size: 0.3rem;color: #333;}
.goods .item .goodsmsg .option {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
    color: #999;
}
.goods .item .goodsmsg .pricenum {
    height: 0.6rem;
}
.goods .item .goodsmsg .pricenum .price {
    width: 2.65rem;
    height: 0.6rem;
    line-height: 0.6rem;
    float: left;
    font-size: 0.32rem;
    color: #666;
}
.goods .item .goodsmsg .pricenum .num {
    width: 2.65rem;
    height: 0.6rem;
    line-height: 0.6rem;
    float: left;
    font-size: 0.32rem;
    color: #666;
}

.dotype{border-bottom:solid 1px #f2f2f2;padding:0.2rem;width:7.1rem;background:#fff;}
.dotype .paytype{height:0.6rem;line-height:0.6rem;font-size:0.35rem;color:#666;}
.dotype .paytype div{float:left;width:3.55rem;height:0.6rem;line-height:0.6rem;}
.dotype .liuyan textarea{border:none;display:block;width:100%;height:1rem;font-size:0.35rem;margin-top:0.1rem;}

.yunfei{border-top:solid 1px #f2f2f2;border-bottom:solid 1px #f2f2f2;padding:0.2rem;width:7.1rem;height:0.6rem;line-height:0.6rem;background:#fff;margin-top:0.25rem;margin-bottom:0.2rem;}
.yunfei .text{width:5.1rem;float:left;height:0.6rem;line-height:0.6rem;font-size:0.35rem;color:#666;}
.yunfei .num{width:2rem;float:left;height:0.6rem;line-height:0.6rem;font-size:0.35rem;color:#666;}

#footer{width:7.5rem;height:1.2rem;position:fixed;z-index:99;bottom:0;background:#fff;border-top:solid 1px #f2f2f2;}
#footer .price{width:4.8rem;height:1.2rem;line-height:1.2rem;float:left;padding-right:0.2rem;font-size:0.4rem;color:#666;}
#footer .price .num{color:#f44;}
#footer .btn{width:2.5rem;height:1.2rem;line-height:1.2rem;float:left;background:#f44;color:#fff;font-size:0.35rem;}

.alert .itemtop{padding:0.2rem;height:0.5rem;width:6.6rem;}
.alert .itemtop .title{width:6.1rem;float:left;height:0.5rem;line-height:0.5rem;font-size:0.4rem;}
.alert .itemtop .close{font-size:0.45rem;height:0.5rem;line-height:0.5rem;float:left;width:0.5rem;}
.alert form{font-size:0.3rem;}


.alert .addresslist{padding:0.2rem 0;width:6.6rem;margin:0 auto;height:0.8rem;border-bottom:solid 1px #f5f5f5;}
.alert .addresslist .left{width:5.6rem;float:left;height:0.8rem;line-height:0.4rem;font-size:0.3rem;color:#999;}
.alert .addresslist .left span{font-size:0.35rem;color:#333;}
.alert .addresslist .right{width:1rem;float:left;height:0.8rem;line-height:0.8rem;font-size:0.45rem;color:#666;}
.alert .newadd{margin:0.3rem auto;font-size:0.38rem;color:#188FC9;}