html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
	-webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

strong {
	font-weight: bold;
}

a,
button,
input {
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}

input,
textarea,
select,
button {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
	outline: none
}

a:hover {
	text-decoration: none;
	outline: none
}

a:active {
	text-decoration: none;
	outline: none
}

.left {
	float: left;
}

.right {
	float: right
}

.clr {
	clear: both;
}

.clearfix:before,
.container:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

::-webkit-input-placeholder {
	color: #999;
}

:-moz-placeholder {
	color: #999;
}

::-moz-placeholder {
	color: #999;
}

:-ms-input-placeholder {
	color: #999;
}

/**/
html {
	width: 100%;
	height: 100%
}

body {
	margin: 0 auto;
	background: #7b0303;
	width: 100%;
	height: 100%;
	padding: 0;
}

.picbg {
	width: 100%;
	height: 100%;
	position: relative
}

.jt {
	position: absolute;
	left: 50%;
	width: 20px;
	margin-left: -10px;
	bottom: 140px;
	z-index: 998;
	-webkit-backface-visibility: visible;
	-webkit-transform-origin: center center;
	-webkit-animation: jiantou 2s 0s infinite ease normal none;
}

.jtimg {
	width: 100%
}

@-webkit-keyframes jiantou {
	0% {
		opacity: 0;
		-webkit-transform: translateY(0px);
	}

	63% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-30px);
	}

}

/**/
.Countdown {
	position: absolute;
	bottom: 16%;
	box-sizing: border-box;
	left: 0;
	right: 0;
}

.time-item {
	color: #fff;
	padding: 2px;
	text-align: center;
	border-radius: 30px;
	font-size: 14px;
	margin: 0;
}

.time-item strong {
	background: rgba(0, 0, 0, 0.32);
	color: #fff;
	line-height: 35px;
	font-size: 16px;
	padding: 3px 3px;
	margin-right: 6px;
	border-radius: 5px;
	font-weight: normal;
}

.item-title .unit {
	background: none;
	line-height: 49px;
	padding: 0 10px;
	float: left;
}

.zltime {
	color: #FFF;
	font-size: 12px;
	width: 100%;
	text-align: center;
}

/**/
.btnzl {
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 7% 10px 7% 10px;
	background-color: rgba(0, 0, 0, 0.10);
}

.btnzl ul {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

.btnzl ul li {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	-webkit-box-flex: 1;
	margin-left: 10px;
}

.btnzl ul li:first-child {
	margin-left: 0px;
}

.btnzl ul li a {
	display: block;
	padding: 7px 2px 13px 2px;
	background-color: #f00707;
	font-size: 14px;
	color: #FFF;
	border-radius: 6px;
	box-shadow: 0 1px 0px 3px rgb(93, 2, 2), 0 -5px 0px 0px #bc0303 inset;
}

.btnzl ul li a:active {
	padding: 9px 2px 11px 2px;
	background-color: #bc0303;
	box-shadow: 0 1px 0px 3px rgb(93, 2, 2), 0 5px 0px 0px #bc0303 inset;
}

.btnzl ul li a img {
	margin-right: 2px;
	width: 16px;
}

.btnzl ul li a.fenxiang {
	color: #ffc000;
}

/**/
.prize3 ul {
	overflow: hidden;
	margin: 0;
}

.prize3 ul li {
	float: left;
	text-align: center;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 10px;
}

.prize3 ul li:nth-child(3n) {
	margin-right: 0;
}

.prize3 ul li .hdjptp {
	padding: 4px;
	border-radius: 6px;
	background-color: #7B0303;
}

.prize3 ul li .jptu {
	position: relative;
	margin-bottom: 2px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	background-color: #FFF
}

.prize3 ul li .jptu img {
	width: 100%
}

.prize3 ul li .jpgs {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFF;
	padding: 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
}

.prize3 ul li .jpdj {
	font-size: 14px;
	color: #ff6666;
}

.prize3 ul li .jpmc {
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.prize2 ul {
	overflow: hidden;
	margin: 0;
}

.prize2 ul li {
	float: left;
	width: 49%;
	margin-right: 2%;
	margin-bottom: 10px;
	text-align: center;
}

.prize2 ul li:nth-child(2n) {
	margin-right: 0;
}

.prize2 ul li .hdjptp {
	background-color: #7B0303;
	border-radius: 6px;
	padding: 4px;
}

.prize2 ul li .jptu {
	position: relative;
	margin-bottom: 2px;
	border-radius: 6px;
	overflow: hidden;
	background-color: #FFF;
	border-radius: 5px 5px 0 0;
}

.prize2 ul li .jptu img {
	width: 100%
}

.prize2 ul li .jpgs {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFF;
	padding: 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
}

.prize2 ul li .jpdj {
	font-size: 14px;
	color: #ff6666;
}

.prize2 ul li .jpmc {
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.prize1 ul {
	overflow: hidden;
}

.prize1 ul li {
	margin-bottom: 5px;
	text-align: center;
}

.prize1 ul li:nth-child(2n) {
	margin-right: 0;
}

.prize1 ul li .hdjptp {
	background-color: #7B0303;
	overflow: hidden;
	border-radius: 6px;
}

.prize1 ul li .jptu {
	position: relative;
	margin: 10px;
	border-radius: 100%;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background-color: #FFF;
	width: 65px;
	height: 65px;
	float: left;
}

.prize1 ul li .jptu img {
	width: 100%
}

.prize1 ul li .jpms {
	margin-left: 85px;
	overflow: hidden;
	text-align: left;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
	height: 80px;
}

.prize1 ul li .jpgs {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 0, 0, 0.5);
	color: #FFF;
	padding: 0;
	width: 100%;
	font-size: 12px;
	text-align: center
}

.prize1 ul li .jpdj {
	font-size: 16px;
	width: 100%;
	color: #F00707;
}

.prize1 ul li .jpmc {
	font-size: 14px;
	width: 100%;
	color: #fff;
}

.mcover_zz {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 20000;
	padding-top: 15%;
}

.details {
	padding: 20px 10px 20px 10px;
	position: relative;
}

.details .title {
	background-color: #f00707;
	border-radius: 30px;
	color: #fff;
	padding: 3px 15px 7px 15px;
	font-size: 14px;
	position: absolute;
	left: 14px;
	top: 5px;
	box-shadow: 0 0px 0px 4px rgb(93, 2, 2), 0 -1px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.details .text {
	background-color: rgba(0, 0, 0, 0.20);
	padding: 15px;
	border-radius: 5px;
	padding-top: 25px;
	color: #FFF;
	font-size: 14px;
	line-height: 22px;
}

.details .text img {
	max-width: 100%;
}

.details .hdkuang {
	background-color: rgba(0, 0, 0, 0.20);
	padding: 10px;
	border-radius: 5px;
	padding-top: 25px;
	color: #FFF;
	font-size: 14px;
	line-height: 22px;
}

.qinyoutuan {
	overflow: hidden;
	background-color: rgb(93, 2, 2);
	padding: 25px 10px 10px 10px;
	border-radius: 5px;
}

.qinyoutuan li {
	width: 20%;
	float: left;
}

.qinyoutuan li:nth-child(6n) {
	margin-right: 0
}

.qinyoutuan li p {
	margin: 5px;
}

.qinyoutuan li img {
	border-radius: 100%;
	background-color: #FFF;
}

.hdbmxx input {
	box-sizing: border-box;
	padding: 10px;
	background-color: #FCFCFC;
	color: #666;
	border-radius: 40px;
	width: 100%;
	margin: 5px auto;
	font-size: 14px;
	border: 1px #E9E9E9 solid;
}

.hdbmxx textarea {
	box-sizing: border-box;
	padding: 10px;
	background-color: #FCFCFC;
	color: #666;
	border-radius: 40px;
	width: 100%;
	margin: 5px auto;
	font-size: 14px;
	border: 1px #E9E9E9 solid;
}

.hdbmxx button {
	display: block;
	width: 100%;
	border: 0;
	box-sizing: border-box;
	padding: 7px 2px 13px 2px;
	border-radius: 40px;
	background-color: #f00707;
	font-size: 14px;
	color: #FFF;
	box-shadow: 0 1px 0px 3px rgba(0, 0, 0, 0.2), 0 -5px 0px 0px #bc0303 inset;
	text-align: center;
}

.hdbmxx button:active {
	padding: 9px 2px 11px 2px;
	background-color: #bc0303;
	box-shadow: 0 1px 0px 3px rgb(93, 2, 2), 0 5px 0px 0px #bc0303 inset;
}

/**/
/**/
.pop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	height: 100%;
	width: 100%;
}

.pop .box {
	border-radius: 20px;
	position: fixed;
	z-index: 1001;
	left: 20px;
	right: 20px;
	top: 100px;
	background-color: #f00707;
	font-size: 14px;
	color: #FFF;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32), 0 -5px 0px 0px #bc0303 inset;
}

#zjl .box {
	top: 50px;
}

.pop .box .closeb {
	cursor: pointer;
	position: absolute;
	display: block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	top: 5px;
	right: 5px;
}

.pop .box .closeb:after {
	position: absolute;
	content: '.';
	display: block;
	width: 20px;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	top: 14px;
	left: 5px;
}

.pop .box .closeb:before {
	position: absolute;
	content: '.';
	display: block;
	width: 20px;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(-45deg);
	top: 14px;
	left: 5px;
}

.pop .box h1 {
	color: #fff;
	text-align: center;
	padding: 10px 0;
	font-size: 16px;
}

.pop .box h2 {
	color: #ee635f;
	font-size: 12px;
	text-align: center;
	padding: 0 5px 5px 5px;
	word-wrap: break-word;
}

.pop .box .inputqy {
	margin: 5px 15px;
	overflow: hidden;
}

.pop .box .inputqy input {
	box-sizing: border-box;
	padding: 10px;
	background-color: #FCFCFC;
	color: #666;
	border-radius: 40px;
	width: 100%;
	margin: 5px auto;
	font-size: 14px;
	border: 1px #E9E9E9 solid;
}

.pop .box .inputqy select {
	box-sizing: border-box;
	padding: 10px;
	background-color: #FCFCFC;
	color: #666;
	border-radius: 40px;
	width: 100%;
	margin: 5px auto;
	font-size: 14px;
	border: 1px #E9E9E9 solid;
}

.pop .box .but_con {
	margin: 10px 15px 20px 15px;
	overflow: hidden;
}

.pop .box .w49 {
	width: 49%;
}

.pop .button_yes {
	width: 100%;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: bold;
	color: #F00707;
	border-radius: 40px;
	padding: 10px 0;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	cursor: pointer;
}

.pop .button_yes:active {
	border: 1px solid #FF3939;
	background-color: #FF3939;
	color: #BC0303;
}

.pop .button_no {
	width: 100%;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
	color: #BC0303;
	font-weight: bold;
	border-radius: 40px;
	padding: 10px 0;
	border: 1px solid #FF3939;
	background-color: #FF3939;
	cursor: pointer;
}

.pop .button_no:active {
	background-color: #FF3939;
}

.pop .jpimg {
	text-align: center
}

.pop .jpimg img {
	max-height: 240px;
	max-width: 100%;
	border-radius: 10px;
	margin-bottom: 5px;
}

.pop .jptext {
	text-align: center;
	font-size: 14px
}

.pop .jptext .ncz {
	margin: 20px 0;
	display: block;
	color: #FFFFFF;
}

/**/
.boxxinwz {
	text-align: center
}

.boxxinwz .xinboxzd {
	font-size: 18px;
	padding-top: 8px;
	color: #F00707;
}

.boxxinwz .xinboxzx {
	font-size: 14px;
	color: rgb(188, 2, 3);
}

/**/
.xinhua {
	display: none
}

.xinhua.view {
	display: block
}

.xinhua img {
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin-left: -5px;
	width: 10px;
	z-index: 5;
	opacity: 0;
}

.xinhua .x001 {
	-webkit-animation: x001 2s 0s ease-in infinite;
	-moz-animation: 2s 0s ease-in infinite;
}

.xinhua .x002 {
	-webkit-animation: x002 2s 0.5s ease-in infinite;
	-moz-animation: 2s 0.5s ease-in infinite;
}

.xinhua .x003 {
	-webkit-animation: x003 2s 1s ease-in infinite;
	-moz-animation: 2s 1s ease-in infinite;
}

.xinhua .x004 {
	-webkit-animation: x004 2s 1.5s ease-in infinite;
	-moz-animation: 2s 1.5s ease-in infinite;
}

.xinhua .x005 {
	-webkit-animation: x005 2s 2s ease-in infinite;
	-moz-animation: 2s 2s ease-in infinite;
}

.xinhua .x006 {
	-webkit-animation: x006 2s 2.5s ease-in infinite;
	-moz-animation: 2s 2.5s ease-in infinite;
}

@-webkit-keyframes x001 {
	0% {
		-webkit-transform: translate(0, 0) scale(0.2);
		opacity: 1;
	}

	100% {
		-webkit-transform:  translate(0px, -160px) scale(8) rotate(30deg);
		opacity: 0;
	}

}

@-webkit-keyframes x002 {
	0% {
		-webkit-transform: translate(0, 0) scale(0.1);
		opacity: 1;
	}

	100% {
		-webkit-transform:  translate(20px, -180px) scale(8) rotate(30deg);
		opacity: 0;
	}

}

@-webkit-keyframes x003 {
	0% {
		-webkit-transform: translate(0, 0) scale(0.3);
		opacity: 1;
	}

	100% {
		-webkit-transform:  translate(-80px, -120px) scale(8) rotate(-30deg);
		opacity: 0;
	}

}

@-webkit-keyframes x004 {
	0% {
		-webkit-transform: translate(0, 0) scale(0.1);
		opacity: 1;
	}

	100% {
		-webkit-transform:  translate(30px, -160px) scale(8) rotate(40deg);
		opacity: 0;
	}

}

@-webkit-keyframes x005 {
	0% {
		-webkit-transform: translate(0, 0) scale(0.2);
		opacity: 1;
	}

	100% {
		-webkit-transform:  translate(90px, -190px) scale(8) rotate(40deg);
		opacity: 0;
	}

}

@-webkit-keyframes x006 {
	0% {
		-webkit-transform: translate(0, 0) scale(0.3);
		opacity: 1;
	}

	100% {
		-webkit-transform:  translate(-60px, -100px) scale(8) rotate(-30deg);
		opacity: 0;
	}

}

.lefttx {
	position: absolute;
	top: 20%;
	width: 72px;
	height: 72px;
	left: 5%;
	text-align: center;
	border: 3px solid #fff;
	background-color: #fff;
	border-radius: 100%;
}

.lefttx:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: -6px;
	left: 46px;
	border-width: 0 12px 12px 12px;
	border-style: solid;
	border-color: #FFF transparent;
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
}

.righttx {
	position: absolute;
	top: 20%;
	width: 72px;
	height: 72px;
	right: 5%;
	text-align: center;
	border: 3px solid #fff;
	background-color: #fff;
	border-radius: 100%;
}

.righttx:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: -8px;
	right: 40px;
	border-width: 0 12px 12px 12px;
	border-style: solid;
	border-color: #FFFFFF transparent;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}

.lefttx img,
.righttx img {
	overflow: hidden;
	border-radius: 100%;
}

footer {
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding: 10px 0 15px 0;
	width: 100%;
}

footer a {
	color: #fff;
}

.lxin {
	position: absolute;
	bottom: 15%;
	width: 25%;
	height: 25%;
	left: 0;
	background: url(http://pic.vshangtong.com/zsf/images/l001.png) no-repeat;
	background-size: 100%;
	text-align: center;
}

.lxin .shuzi {
	font-size: 16px;
	color: #890303;
}

.lxin .wenzi {
	font-size: 12px;
	color: #890303;
	margin-top: -4px;
}

.rxin {
	position: absolute;
	bottom: 15%;
	width: 25%;
	height: 25%;
	right: 0;
	background: url(../images/l001.png) no-repeat;
	background-size: 100%;
	text-align: center;
}

.rxin .shuzi {
	font-size: 16px;
	color: #890303;
}

.rxin .wenzi {
	font-size: 12px;
	color: #890303;
	margin-top: -4px;
}

.topshuzi {
	margin-top: 10%
}

.boygirl {
	padding: 20px 0 20px 0;
}

.boygirl li {
	overflow: hidden;
	background: url(../images/line.png) repeat-y 100px 0;
	padding: 10px 10px 8px 10px;
	background-color: rgba(0, 0, 0, 0.1);
}

.boygirl li:nth-child(2n) {
	background-color: #7B0303;
}

.boygirl li .xinbox {
	background: url(../images/xin2.png) no-repeat;
	background-size: 100% 100%;
	height: 64px;
	width: 74px;
	text-align: center;
	color: #FFF;
	float: left;
	margin-left: 53px;
	margin-top: 2px;
}

.boygirl li .xinbox .xinboxsz {
	font-size: 16px;
	padding-top: 18px;
	line-height: 16px;
}

.boygirl li .xinbox .xinboxzn {
	font-size: 12px
}

.boygirl li .xinboxwz {
	margin-left: 140px;
	overflow: hidden;
	color: #FFF;
}

.boygirl li .xinboxwz .xinboxzd {
	font-size: 18px;
	padding-top: 8px;
	color: #fff;
}

.boygirl li .xinboxwz .xinboxzx {
	font-size: 14px;
	color: rgb(208, 6, 6);
}

.boygirl li:first-child {
	padding: 10px 10px 8px 10px;
	background: url(../images/line.png) no-repeat 100px 60px rgba(0, 0, 0, 0.1);
}

.boygirl li:last-child {
	background: url(../images/line.png) no-repeat 100px 0;
}

.boygirl li:only-child {
	padding: 10px 10px 8px 10px;
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
}

.popwin {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 2000;
}

.popwin .box {
	border-radius: 20px;
	background-color: rgb(255, 79, 78);
	position: fixed;
	z-index: 1001;
	left: 20px;
	right: 20px;
	top: 120px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32), 0 -6px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.popwin .box .closeb {
	cursor: pointer;
	position: absolute;
	display: block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	top: 5px;
	right: 5px;
}

.popwin .box .closeb:after {
	position: absolute;
	content: '.';
	display: block;
	width: 20px;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	top: 14px;
	left: 5px;
}

.popwin .box .closeb:before {
	position: absolute;
	content: '.';
	display: block;
	width: 20px;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(-45deg);
	top: 14px;
	left: 5px;
}

.popwin .box h1 {
	text-align: center;
	color: #fff;
	padding: 10px 0;
	font-size: 16px;
}

.popwin .box h2 {
	text-align: center;
	padding: 10px 0;
	color: #ffe84a;
	font-size: 26px;
}

.popwin .jptext {
	text-align: center;
	font-size: 14px;
	margin: 25px 0;
}

