html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
body {
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
	-webkit-text-size-adjust: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
strong {
	font-weight: bold;
}
a, button, input {
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}
input, textarea, select, button {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	outline: none;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
}
a {
	text-decoration: none;
	color:#FFF826;
}
a:hover {
	text-decoration: none;
}
.clearfix:before, .container:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
/**/
body {
	background-color: #f6f6f6;
}
.vgy_user {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}
.vgy_user_bg {
	width: 100%;
	opacity: 0.15;
}
.vgy_user .info2 {
	display: block;
}
.vgy_user .info2 .touxiang {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #FFF;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 1), 0 0 10px 2px rgba(0, 0, 0, 0.3);
}
.name {
	font-size: 16px;
	margin: 10px 0 10px 0;
	color: #409f10;
}
.dhm {
	font-size: 14px;
	color: #409f10;
	line-height: 18px;
}
.info2 a {
	color: #fff;
}
.infotext {
	text-align: center;
	display: block;
	font-size: 48px;
	color: #fff;
}
.infotext .syuan {
	font-size: 12px;
}
.red {
	color: #F30
}
.time {
	font-size: 12px;
	color: #666
}
.bgs {
	background: -webkit-gradient(linear, 0% 100%, 0% 45%, from(#fff), to(rgba(255,255,255,0)))
}
.bgt {
	width: 100%;
	opacity: 0
}
.Ranking {
	color: #fff;
	padding: 5px 10px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.24);
	margin-top: 10px;
}
.sjbutton {
	background-color: #49c249;
	border-radius: 5px;
	border: 0;
	text-align: center;
	padding: 0 15px;
	height: 30px;
	line-height: 32px;
	color: #fff;
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
}
.update {
	cursor: pointer;
	border-radius: 100%;
	background: rgba(255, 255, 255, 0.15);
	width: 18px;
	height: 18px;
	padding: 8px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: center;
}
.update img {
	width: 18px;
	height: 18px;
}
.button_01 {
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
	font-size: 14px;
	padding: 5px;
	color: #a22d04;
	background-image: linear-gradient(to top, #e3c17c, #f1e2b0);
	border: 1px solid #aa7d2a;
	box-shadow: 0px 0px 5px #aa2022;
	text-align: center;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
}
.button_01:hover {
	background-image: linear-gradient(to top, #f1e2b0, #e3c17c);
}
.button_02 {
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
	font-size: 14px;
	padding: 5px;
	color: #676767;
	background-image: linear-gradient(to top, #f2f2f2, #dedede);
	border: 1px solid #cecece;
	box-shadow: 0px 0px 5px #aa2022;
	text-align: center;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
}
.button_02:hover {
	background-image: linear-gradient(to top, #dedede, #f2f2f2);
}
.container {
	width: 100%;
	position: relative;
}
.container .img {
	width: 100%;
	z-index: 0;
}
.NO {
	position: absolute;
	left: 10%;
	right: 12%;
	z-index: 1;
	margin-top: 38%;
	width: 77%;
}
.content {
	padding: 15px;
	text-align: left;
	font-size: 12px;
	line-height: 22px;
	background-color: #AED343;
}
.content h3 {
	font-size: 14px;
	line-height: 28px;
}
.content .title {
	width: 100%;
	color: #44a310;
	padding: 5px 10px;
	text-align: left;
	background-color: #e2f1e6;
}
.content .text {
	color: #494949;
	padding: 10px;
	font-size: 15px;
}
.content .prize {
	padding: 5px 15px 10px 3px;
}
.content .prize ul li {
	float: left;
	border: 1px solid #e2f1e6;
	border-radius: 10px;
	width: 26%;
	padding: 2%;
	text-align: center;
	margin: 0 0 2% 2%;
}
.content .prize ul li img {
	margin-bottom: 10px;
	border-radius: 10px;
	max-width: 100%;
}
.content .prize ul li p {
	color: #8e8e8e;
	overflow: hidden;
	font-size: 12px;
}
.content .list ul li {
	background-color: #a60101;
	border-radius: 10px;
	margin: 2% 0;
	padding: 2%;
	text-align: center;
	font-size: 14px;
}
.content .list ul li .time {
	float: left;
	width: 35%;
	overflow: hidden;
	padding-top: 4px;
	font-size: 12px;
}
.content .list ul li .phone {
	float: left;
	width: 15%;
	padding-top: 3px;
}
.content .list ul li .award {
	float: left;
	width: 25%;
	padding-top: 3px;
}
.content .list ul li .button {
	float: right;
	width: 25%;
}
.content .list ul li .phone01 {
	float: left;
	width: 35%;
	padding-top: 3px;
}
.line {
	width: 100%;
	margin-top: 1px;
}
.copyright {
	color: #aaa;
	background-color: #e2f1e6;
	font-size: 14px;
	text-align: center;
	padding: 20px 0;
}
.copyright a {
	color: #f9dc97;
}
.clr {
	clear: both;
}
.update {
	cursor: pointer;
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.8);
	background: rgba(94, 179, 228, 0.26);
	width: 18px;
	height: 18px;
	padding: 8px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: center;
}
.update img {
	width: 18px;
	height: 18px;
}
.back {
	left: 10px;
	top: 10px;
}
footer {
	background-color: #AED343;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	padding: 0 0px 20px 0;
	width:100%;
}
.details {
	margin: 10px 0;
	position: relative;
}
.details .title {
	background-color: #FFE97C;
	width: 70px;
	left: -20px;
	position: absolute;
	padding-left: 15px;
	line-height: 26px;
	height: 26px;
	top: 10px;
	font-size: 15px;
	border-radius: 2px 15px 15px 2px;
	color: #B5751E;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.32), 0 -4px 0px 0px #E8D05A inset;
}
.details .text {
	background-color: rgba(0, 0, 0, 0.09);
	padding: 10px;
	padding-top: 55px;
	color: #FFF;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.03);
	font-size: 13px;
}
.details .text img {
	max-width: 100%;
}
.prize3 ul {
	overflow: hidden;
	color: #FFF
}
.prize3 ul li {
	float: left;
	text-align: center;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 10px;
}
.prize3 ul li:nth-child(3n) {
	margin-right: 0;
}
.prize3 ul li .hdjptp {
	padding: 4px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 1)
}
.prize3 ul li .jptu {
	position: relative;
	margin-bottom: 2px;
	overflow: hidden;
	background-color: #FFF;
	border-radius: 10px 10px 15px 10px;
}
.prize3 ul li .jpgs {
	position: absolute;
	background-color:rgb(111, 192, 60);
	color: #fff;
	font-size: 12px;
	text-align: center;
	/* left: 0; */
	right: 0;
	border-radius: 50px 0 0px 0;
	bottom: 0;
	padding: 0 8px;
}
.prize3 ul li .jpdj {
	font-size: 14px;
	color:#DA8B1F;
}
.prize3 ul li .jpmc {
	font-size: 12px;
	color:#8E6A20;
}
.prize2 ul {
	overflow: hidden;
}
.prize2 ul li {
	float: left;
	width: 49%;
	margin-right: 2%;
	margin-bottom: 10px;
	text-align: center;
}
.prize2 ul li:nth-child(2n) {
	margin-right: 0;
}
.prize2 ul li .hdjptp {
	padding: 4px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 1)
}
.prize2 ul li .jptu {
	position: relative;
	margin-bottom: 2px;
	overflow: hidden;
	background-color: #FFF;
	border-radius: 10px;
}
.prize2 ul li .jpgs {
	position: absolute;
	background-color: rgb(111, 192, 60);
	color: #fff;
	font-size: 12px;
	text-align: center;
	/* left: 0; */
	right: 0;
	border-radius: 50px 0 0px 0;
	bottom: 0;
	padding: 0 8px;
}
.prize2 ul li .jpdj {
	font-size: 14px;
	color:#DA8B1F;
}
.prize2 ul li .jpmc {
	font-size: 14px;
	color:#DA8B1F;
}
.prize1 ul {
	overflow: hidden;
}
.prize1 ul li {
	margin-bottom: 5px;
	text-align: center;
}
.prize1 ul li:nth-child(2n) {
	margin-right: 0;
}
.prize1 ul li .hdjptp {
	padding: 4px;
	border-radius: 3px;
	overflow: hidden;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.53);
}
.prize1 ul li .jptu {
	position: relative;
	margin: 5px;
	overflow: hidden;
	background-color: #FFF;
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 10px;
	border: 2px solid #FBFF00;
}
.prize1 ul li .jptu img {
	width: 100%
}
.prize1 ul li .jpms {
	margin-left: 95px;
	overflow: hidden;
	text-align: left;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
	height: 80px;
}
.prize1 ul li .jpgs {
	position: absolute;
	background-color: rgb(111, 192, 60);
	color: #fff;
	font-size: 12px;
	text-align: center;
	/* left: 0; */
	right: 0;
	border-radius: 50px 0 0px 0;
	bottom: 0;
	padding: 0 8px;
}
.prize1 ul li .jpdj {
	font-size: 16px;
	width: 100%;
	color:#FBFF00;
}
.prize1 ul li .jpmc {
	font-size: 14px;
	width: 100%;
	color:#fff;
}