@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	outline: none;
}
body {
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
	-webkit-text-size-adjust: none;
	background-color:#77AA29;

}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
strong {
	font-weight: bold;
}
a, button, input {
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}
input, textarea, select, button {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	outline: none;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.left {
	float: left;
}
.right {
	float: right;
}

::-webkit-input-placeholder {
	color:#999;
}
:-moz-placeholder {
	color:#999;
}
::-moz-placeholder {
	color:#999;
}
:-ms-input-placeholder {
	color:#999;
}
.clr {
	clear: both;
}
.contianer .logo, .contianer .botton, .contianer .botton_02, .contianer .snowman, .contianer .list, .contianer .button_04 {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center
}
.contianer {
	position: relative;
	overflow-x:hidden;
	height:100%;

}
.contianer .bg {
	display: block;
}
.contianer .bg img {
	width: 100%;
}
.contianer .logo {
	top: 2%;
}
.contianer .logo img {
	width: 53%;
}
.contianer .botton {
	top: 30%;
}
.contianer .botton a {
	display: block;
	margin-bottom: 12px;
}
.contianer .botton img {
	width: 30%;
}
.contianer .button_03 {
	left: 0;
	right: 0;
	top: 66%;
	left: -2%;
	display: block;
	position: absolute;
}
.contianer .button_03 a {
	display: block;
}
.contianer .button_03 img {
	width: 35%;
}
.contianer .snowman {
	top: 53%;
}
.contianer .snowman img {
	width: 38%;
}


.contianer .huasa{top: 50%;
	right: 15px;
	position: absolute;
	z-index: 10;
	display: block;
	width: 35%;
}
.contianer .huasa img{ width:100%;}
.contianer .button_04 {
	top: 92%;
	width:90%;

}
.contianer .button_04 button{line-height: 40px;
	border-radius: 12px;
	background-color: #B1D442;
	box-shadow: 0 0px 0px rgb(119, 170, 41), 0 5px 0px 0px #7CAF2F inset;
	border: 2px solid #67960E;
	text-align: center;
	width:45%;
	color: #fff;
	font-size:16px;}
.contianer .button_04 button:hover {
	background-color: #C68938;
	box-shadow: 0 0px 0px rgb(162, 98, 29), 0 -6px 0px 0px #8A5B10 inset;
	color: #fff;
	border: 2px solid #A36420;
}


.contianer .list {
	top: 104%;
}
.contianer .list .title {
	display: block;
	position: relative;
}
.contianer .list .title img {
	width: 88%;
}
.contianer .list .tx {
	position: absolute;
	left: 10%;
	top: 18%;
	width: 10%;
}

.contianer .list .tx img {
	box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.8);
	border-radius: 100%;
	width: 100%;
}
.contianer .list .hat {
	position: absolute;
	left: 6%;
	top: -28%;
	width: 19%;
}
.contianer .list .name {
	position: absolute;
	left: 22%;
	top: 50%;
	color: #000;
	margin-top: -9px;
	font-size: 15px;
}
.contianer .list .number {
	position: absolute;
	right: 10%;
	top: 50%;
	color: #000;
	margin-top: -12px;
	font-size: 15px;
}
.contianer .list .number span {
	color: #F00;
	margin: 0 5px;
	font-size: 18px;
}
.contianer .list .con {
	display: block;
	background-color: #ffd683;
	width: 83%;
	margin: 0 auto;
	border-radius: 0 0 15px 15px;
	margin-bottom: 10px;
	padding: 10px 0;
}
.contianer .list .con ul {
	padding: 0 10px;
}
.contianer .list .con ul li {
	float: left;
	width: 16%;
	margin: 2%;
}
.contianer .list .con ul li img {
	width: 100%;
	border-radius: 100%;
	box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.8);
}
footer {
	font-size: 13px;
	color: #1B7B14;
	position: absolute;
	top: 100%;
	height: 40px;
	line-height: 30px;
	left: 50%;
	margin-left: -100px;
}


.hdbmxx input {
	box-sizing: border-box;
	padding: 10px;
	background-color: #FCFCFC;
	color: #666;
	border-radius: 20px;
	width: 100%;
	margin: 5px auto;
	font-size: 14px;
	border: 0;
}
.hdbmxx textarea {
	box-sizing: border-box;
	padding: 10px;
	background-color: #FCFCFC;
	color: #666;
	border-radius: 40px;
	width: 100%;
	margin: 5px auto;
	font-size: 14px;
	border: 1px #E9E9E9 solid;
}
.hdbmxx a {
	display: block;
	box-sizing: border-box;
	display: block;
	padding: 8px 2px 13px 2px;
	font-size: 15px;
	color: #c60402;
	border-radius: 20px;
	background: -webkit-linear-gradient(top, #ffe620, #FF8507);
	box-shadow: 0 0 0px 0 rgba(140, 2, 0, 0.6), 0 -4px 0px 0px #DA7B00 inset;
	text-align: center;
	margin-top: 5px;
}
.hdbmxx a:active {
	padding: 10px 2px 11px 2px;
	background: -webkit-linear-gradient(top, #ffe620, #FF8507);
	box-shadow: 0 0 0px 0 rgba(140, 2, 0, 0.6), 0 0px 0px 0px #DA7B00 inset;
}