<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{STYLE_PATH}/css/index/main.css" rel="stylesheet">
<link href="{STYLE_PATH}/css/index/form.css" rel="stylesheet">
<link href="{STYLE_PATH}/css/index/screen-styles.css" rel="stylesheet">
<title>活动页</title>
<script type="text/javascript" src="{STYLE_PATH}/js/index/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="{STYLE_PATH}/js/index/jquery.form.js"></script>
<script type="text/javascript" src="{STYLE_PATH}/js/index/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="{STYLE_PATH}/js/index/product.js"></script>
<link rel="stylesheet" type="text/css" href="{STYLE_PATH}/css/sweetalert.css?v=3" />

</head>

<body>

<div id="container">
	
	

	
<div id="content">

	<div id="help">
		<h3>参与活动/领奖/咨询</h3>
		<p>1. 拨打客服手机：{$settings['kefu_tel']}</p>
		<p>2. 长按下图二维码图片添加客服微信</p>
		<img src="{php echo tomedia($settings['kefu_qrcode'])}" />
	</div>
	
</div>
		<div id="tab">
			<ul>
				<li id="tab_home" class="current">
					<a href="{php echo $this->createMobileUrl('index')}">
						<b class="home"></b><span>最新活动</span>
					</a>
				</li>
				<li id="tab_history">
					<a href="{php echo $this->createMobileUrl('history')}">
						<b class="history"></b><span>历史</span>
					</a>
				</li>
				<li id="tab_my" >
					<a href="{php echo $this->createMobileUrl('my')}">
						<b class="my"></b><span>我的</span>
					</a>
				</li>
			</ul>
		</div>
	

</div>
</body>
</html>

