.hotline{display: block; height: 35px; line-height: 35px; color: #fff; font-size: 16px; font-weight: normal; padding: 0 20px; -webkit-box-sizing: border-box; border-radius: 5px; margin-bottom: 8px; overflow: hidden;}
.hotline span{margin: 0 24px;}
	.ico_tel{width: 24px; height: 24px; background-position: -131px 0;}

.item{overflow: hidden; width: 100%;}
.item li{float: left; width: 50%; -webkit-box-sizing: border-box;}
.item li:nth-of-type(2n){padding-left: 1px;}
.item li:nth-of-type(2n+1){padding-right: 1px;}

.item li > div{height: 75px; background-color: #39373e; margin-bottom: 2px;}

.item li:nth-of-type(6n+3) ul li:nth-of-type(2n){float: right; padding: 0;}

.item .text{ display: table; width: 100%; font-size: 12px;}
.item .text > *{display: table-cell; vertical-align: middle; text-align: center; padding: 0 8px; color: #fff;}
.item .text h4{font-size: 14px; font-weight: normal;}
.item .text p{margin-top: 8px;}

.item .pics a{display: block; position: relative; width:100%; height: 100%; background-size: cover;}
.item .pics a p{position: absolute; left: 0; bottom: 0; width: 100%; height: 25px; line-height: 25px; background-color: rgba(0, 0, 0, .5); overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.item .pics a p strong{margin: 0 15px 0 6px; font-size: 14px; font-weight: normal;}

