a{color: #fff;}
.ico_ad, .swipe_btn, .ico_tel{display: inline-block; background-image: url(../hcc/s.png); background-repeat: no-repeat; background-size: 155px auto; vertical-align: middle;}

.container{max-width: 640px; margin: 0 auto; background-color: #eeeeee; color: #6f6f6f;}
header{position: relative;}
.wrap{padding: 8px 8px 0;}

.img_swipe{position: relative; overflow: hidden; border-bottom: 1px solid #777777; background-color: #4b4b4b;}
	.img_swipe ul li:not(:first-child){display: none;}
	.img_swipe img{width: 100%; max-height: 320px;}
	.img_swipe a{position: relative; display: block; color: #fff; min-height: 168px;}
	.img_swipe a span{position: absolute; -webkit-box-sizing: border-box; left: 0; bottom: 0; width: 100%; padding: 0 30px 0 10px; height: 33px; line-height: 33px; background-color: rgba(0, 0, 0, .5); overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
		.ico_ad{width: 21px; height: 18px; background-position: -6px -8px; margin-right: 10px;}
	.img_swipe ol{position: absolute; right: 5px; bottom: 5px;}
	.img_swipe ol li{float: left; width: 6px; height: 6px; background-color: #838383; border-radius: 6px; margin-left: 5px;}

	.swipe_btn{position: absolute; width: 29px; height: 29px; border-radius: 29px; margin-top: -16px; left: 7px; top: 50%; background-position: -71px 0; background-color: rgba(255, 255, 255, .3);}
	.swipe_btn.next{left: auto; right: 7px; background-position: -100px 0;}

/*.copy_right{padding: 5px 5px 8px;}*/

footer .copyright{
	display: block;
	text-align: center;
	padding: 5px 0;
	line-height: 30px;
	color: #000000;
}