div[data-widget="nav90"]{height: 50px;}
.nav90{position: fixed; left: 0; bottom: 0; width: 100%; z-index: 2000;}
.nav90 div div{display: table; width: 100%; vertical-align: middle;}
.nav90 a{display: table-cell; height: 48px; font-size: 12px; text-align: center; border-bottom: 2px solid #ff7200; vertical-align: middle; color: #fff;}
.nav90 a img{max-height: 23px;}
.nav90 a p{margin-bottom: 2px;}
.nav90 a i{font-size: 22px; opacity: .6;}
.nav90 a.on i{opacity: 1;}

/* skin */
.coffee.nav90 a{background-color: #ff7200; border-color: #ff7200;}
.coffee.nav90 a.on{background-color: #c85900; border-color: #5bdeca;}

.blue.nav90 a{background-color: #009fa4; border-color: #009fa4;}
.blue.nav90 a.on{background-color: #007c80; border-color: #ff7e00;}

.purple.nav90 a{background-color: #573073; border-color: #573073;}
.purple.nav90 a.on{background-color: #3b224c; border-color: #dde500;}