/* blue */
.img_swipe ol li.on{background-color: #009fa4;}
.hotline{background-color: #00cda4;}
.item li:nth-of-type(6n+1) div{background-color: #43a5a8}
.item li:nth-of-type(6n+3) li div{background-color: #41549c;}
.item li:nth-of-type(6n+5) div{background-color: #238c50}
.item li:nth-of-type(6n) div{background-color: #2765a2}

.nav a{background-color: #009fa4; border-color: #009fa4;}
.nav a.on{background-color: #007c80; border-color: #ff7e00;}

.list li:nth-of-type(4n+1) div:first-child{background-color: #5d7fe2;}
.list li:nth-of-type(4n+1) .ico_arrow{border-color: #5d7fe2;}
.list li:nth-of-type(4n+2) div:first-child{background-color: #2fbae8;}
.list li:nth-of-type(4n+2) .ico_arrow{border-color: #2fbae8;}
.list li:nth-of-type(4n+3) div:first-child{background-color: #5bdeca;}
.list li:nth-of-type(4n+3) .ico_arrow{border-color: #5bdeca;}
.list li:nth-of-type(4n) div:first-child{background-color: #5be17e;}
.list li:nth-of-type(4n) .ico_arrow{border-color: #5be17e;}