body{background:#FFFFFF;padding:0;margin:0;font-family:"Microsoft YaHei" ,Arial, Helvetica, sans-serif;font-size:12px;}
ul,li,form{list-style-type:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;}
a:link, a:visited {text-decoration: none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
* html>body .clearfix{display:inline-block;width:100%}
* html .clearfix{/* Hides from IE-mac \*/ height:1%;/* End hide from IE-mac */ }
*+html .clearfix{min-height:1%}
.kword{ float:left; width:150px;height:120px !important;margin:15px 0 0 60px;overflow:hidden;
}
.k{
		padding:0px 0 0 0px !important;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	width:350px;
	text-align:center !important;
}
body{
	font-family:MicroSoft YaHei,simHei; 
	overflow-x:hidden;
    background:url(kuxuan.jpg) center 0 no-repeat;

}
.vote-right {
height: 50px !important;
}

.top-logo{width:750px;height:135px; margin-left:100px; float:left}
.f5{padding-top:10px;font-size:22px;line-height:1.5em;}
.f4{padding-top:10px;font-size:26px;line-height:1.5em;}
.f3{padding-top:12px;font-size:32px;line-height:1.6em;}
.f2{padding-top:20px;font-size:40px;line-height:1.6em;}
.f1{padding-top:36px;font-size:50px;line-height:1.6em;}



.mone{width:892px;height:570px;position:absolute;top:136px;left:116px;display:none; overflow:auto;-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow: 0px 0px 5px #575757;
	-webkit-box-shadow: 0px 0px 5px #575757;
	box-shadow: 0px 0px 5px #575757;}
.part {
width: 108px;
margin: 0 auto;
padding-top: 50px;
}
.username {
font-size: 25px;
padding-top: 15px;
text-align: center;
text-shadow: 0 0 5px #000;
}
.msgcon {
font-size: 50px;
height: 460px;
overflow: auto;
text-align: left;
text-shadow: 1px 1px 2px #FFFFFF;
font-weight: bold;
float: left;
margin-top: 40px;
}
.msgcon  img{
max-height:380px;max-width:600px;
min-height:420px;
}
.rightmain {
text-align: left;
padding: 0px 30px 0px 60px;
max-height: 550px;
clear: both;
top: 0px;
position: relative;
vertical-align: middle;
background-repeat: no-repeat;
background-position: top left;
}
user agent stylesheetdiv {
display: block;
}
.rconner {
position: relative;
left: -80px;
background-repeat: no-repeat;
display: block;
border-width: 20px 20px 20px 0;
border-color: transparent rgba(255,255,255,0.9) transparent transparent;
border-style: solid;
width: 0;
height: 0;
top: 100px;
}
user agent stylesheetdiv {
display: block;
}
.mone .pic {
	}.mone .pic img {
	background:#E8E8E8;
	border:#4E9B86 1px solid;
	padding:3px;
	font-size:0;
	border-radius:50%;
}
.messages {
	color:#fff;
	background:url(top_line.png) left center no-repeat;
	width:100px;
	float:right;
	margin-top:0px;
	padding-top:18px;
	padding-left:10px;
}
.messages span {
	font-size:35px;
	font-weight:bold;
}
.messages p {
	font-size:20px;
	padding:0px;
	margin-top:5px;
}
.leftside {
	width:200px;
	float:left;
	min-height:570px;
	background: rgba(0,0,0,0.3);
	-webkit-border-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
}
.rightside {
	height:570px;
	word-break:break-all;
	background: url(mark.png) no-repeat rgba(255,255,255,0.9) top right;
	width:692px;
	float:right;
	-webkit-border-radius:0 5px 5px 0;
	-moz-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}


::-webkit-scrollbar{ width:0px; height:0px;}
::-webkit-resizer{}
::-webkit-scrollbar-thumb{ -webkit-border-radius:4px; background-color:#ccc; height:10px; }
::-webkit-scrollbar-thumb:hover{ background-color: #bbb;}
::-webkit-scrollbar-thumb:active{ background-color:#888;}



.main {
    width: 1124px;
    position: relative;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

}

.demo-2 {
    position: fixed;
    z-index: 9;
}

.main .top {
    height: 137px;
}

.main .top .k {
    padding: 34px 0 0 650px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.main .wall {
    height: 631px;
}

.main .left {
    float: left;
    width: 117px;
    height: 625px;
    background: url(left.png) no-repeat;
}

.main .right {
    float: right;
    width: 117px;
    height: 625px;
    background: url(right.png) no-repeat;
}

.main .center {
    float: left;
    width: 890px;
}

.main .list {
    height: 569px;
    padding-left: 4px;
    overflow: auto;
    overflow-x: hidden;
}

.main .footer {
    height: 5px;
    background: url(footer.png) no-repeat;
}


.list li {
    -moz-border-radius: 40px 0 40px 0;
    border-radius: 40px 0 40px 0;
    -webkit-border-radius: 40px 0 40px 0;
    float: left;
    display: inline;
    margin: 2px 0 7px;
    width: 883px;
    background: url(libg.png) repeat;
    display: none;
}

.list li .pic {
    float: left;
    padding: 30px 14px 0 13px;
}

.list li .pic img {
    background: #E8E8E8;
    border: #4E9B86 1px solid;
    padding: 3px;
    font-size: 0;
}

.list li .image {
    float: right;
    padding: 25px 25px 0 13px;
}

.list li .image img {
    background: #E8E8E8;
    border: #4E9B86 1px solid;
    padding: 3px;
    font-size: 0;
    max-height: 130px;
}

.list li .c {
    float: left;
    width: 736px;
    color: #fff;
    font-family: yeyouting, "Microsoft YaHei";
    font-weight: bold;
}

.list li .c span {
    color: #C8FB80;
}

.list li .num {
    color: #fff;
    text-align: right;
}

.m1 {
    float: left;
    width: 887px;
    padding-bottom: 13px;
    background: url(m3.png) left bottom no-repeat;
}

.m2 {
    float: left;
    width: 883px;
    min-height: 155px;
    padding-bottom: 13px;
    background: url(m5.png) left top no-repeat;
}

#explan p {
    color: #000;
    font-size: 30px;
    padding: 0 0 0 20px;
    line-height: 3em;
    width: 480px;
}

.container1 .top {
    height: 80px;
    
    margin-bottom: 15px;
    background: url('topbg.png');
    background-size: 100% 100%;
    clear: both;
}

.container1 .top>div {
    float: left;
    height: 100%;
}

.container1 .top .left {
    width: 200px;
}



.container1 .top .center {
    width: 800px;
    text-align: center;
    overflow: hidden;
}

.container1 .top .center span.title {
    line-height: 80px;
    color: #fff604;
    font-size: 36px;
    font-weight: bold;
}

.container1 .top .right {
    width: 200px;
    text-align: right;
}

.container1 .top .right .tipword {
    display: inline-block;
    width: 80px;
    height: 100%;
    text-align: center;
    vertical-align: top;
    margin-top: 7px;
}

.container1 .top .right .tipword .num {
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.container1 .top .right .tipword .plus {
    font-size: 17px;
    color: white;
}

.container1 .top .right .qrcode {
    width: 65px;
    height: 65px;
    margin-top: 8px;
    margin-left: 28px;
    cursor: pointer;
}




