@charset "utf-8";



body {
    background: url(body_bg.jpg) center top no-repeat;
}

.boxQR {
    position: fixed;
    overflow: hidden;
    text-align: center;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    /*top: 50%;
margin-top: -333px;
left: 50%;
margin-left: -512px;*/
    width: 100%;
    height: 100%;
    display: none;
}

.boxQR img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

#boxMain {
    margin: 0 auto;
    /*width: 1024px;*/
    width: 100%;
    height: 98%;
    /*height: 767px;*/
    position: relative;
    /*box-shadow: 0 0 10px #555;*/
    /*border-radius: 15px;*/
    overflow: hidden;
    /*background: rgba(0, 0, 0, 0.2);*/
    /*border: 2px solid;*/
    /*border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.4);*/
}

#boxMain1 {
    margin: 0 auto;
    width: 1002px;
    height: 98%;
    position: relative;
    box-shadow: 0 0 10px #555;
    border-radius: 15px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.4);
}


/*顶部*/

#boxTop {
    padding: 10px;
    width: 1004px;
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #333;
    border-radius: 10px;
}

#boxTop ul {
    width: 100%;
    overflow: hidden;
}

#boxTop ul li {
    float: left;
    height: 80px;
    overflow: hidden;
}

#boxTop ul li#boxTop_logo {}

#boxTop ul li#boxTop_title {
    margin-left: 30px;
    line-height: 80px;
}

#boxTop ul li#boxTop_title p {
    line-height: 80px;
}

#boxTop ul li#boxTop_scroll {
    margin: 0 10px 0 20px;
}

#boxTop ul li#boxTop_scroll #boxTop_scroll_begin,
#boxTop ul li#boxTop_scroll #boxTop_scroll_end {
    display: inline;
    font-size: 60px;
    line-height: 80px;
}

#boxTop ul li#boxTop_scroll b {
    font-size: 60px;
    line-height: 80px;
}

#boxTop ul li#boxTop_scroll #boxTop_scroll_begin {
    text-align: center;
}

#boxTop ul li#boxTop_time {
    width: 140px;
}

#boxTop ul li#boxTop_time .qr {
    height: 80px;
    text-align: center;
}

#boxTop ul li#boxTop_time .qr dl {
    float: right;
    margin-right: 14px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

#boxTop ul li#boxTop_time .qr dl dt {
    width: 80px;
    height: 80px;
    overflow: hidden;
    line-height: 14px;
}

#boxTop ul li#boxTop_time .qr dl dt img {}

#boxTop ul li#boxTop_time .qr dl dd {
    width: 80px;
    font-size: 12px;
    line-height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

#boxTop ul li#boxTop_time .qr .qr1 {}

#boxTop ul li#boxTop_time .qr .qr2 {}

#boxTop ul li#boxTop_time #nowTime {
    text-align: right;
}

#boxContent2 {
    width: 1024px;
    height: 667px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    /* background:url(main_bg_4-3.png) left bottom no-repeat;*/
}
#boxContent2 .boxitem {
    width: 1024px;
    height: 667px;
    overflow: hidden;
}
/*内容部分*/

#boxContent {
    width: 1024px;
    height: 667px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    /* background:url(main_bg_4-3.png) left bottom no-repeat;*/
}

#boxContent .boxitem {
    width: 1024px;
    height: 667px;
    overflow: hidden;
}



#kmq {
    padding: 10px 20px 20px;
    width: 984px;
    height: 636px;
    overflow: hidden;
    z-index: -100;
}


#jbzs {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 1004px;
    height: 656px;
    overflow: auto;
    position: relative;
}

#jbzs #jbzs_list {}

#jbzs #jbzs_list li {
    float: left;
    margin-top: 14px;
    margin-left: 16px;
    width: 230px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

#jbzs #jbzs_list li .avatar {}

#jbzs #jbzs_list li .avatar dt {
    width: 230px;
    height: 200px;
    overflow: hidden;
}

#jbzs #jbzs_list li .avatar dt img {
    width: 230px;
}

#jbzs #jbzs_list li .avatar dd {
    width: 230px;
    height: 60px;
    overflow: hidden;
    left: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    background: #000000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    text-shadow: none;
    font-size: 36px;
    line-height: 50px;
}

#jbzs #jbzs_show {
    margin: 14px;
    padding: 20px;
    width: 932px;
    height: 588px;
    background: rgba(0,0,0,0.9);
    clear: both;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 999;
}


/* 有图片 */

#jbzs #jbzs_show.img dl {
    float: left;
    width: 450px;
}

#jbzs #jbzs_show.img dl dt {
    width: 450px;
    max-height: 490px;
    overflow: hidden;
}

#jbzs #jbzs_show.img dl dt img {
    width: 450px;
}

#jbzs #jbzs_show.img dl dd {
    width: 450px;
    text-align: center;
    margin-top: 10px;
    font-size: 36px;
    line-height: 50px;
}

#jbzs #jbzs_show.img p {
    float: right;
    width: 450px;
    height: 584px;
    line-height: 53px;
    overflow: hidden;
    font-size: 36px;
    line-height: 50px;
}

#bmq {
    padding: 10px 20px 20px;
    width: 984px;
    height: 636px;
    overflow: hidden;
    z-index: -100;
}
