@import url(iDialog.css); 
/**************************common class********************************/
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box; margin:0; padding:0;}
.container{max-width:640px;margin:auto;min-height:100%;	position:relative;	display:block;	background-size:100% 100%;	-webkit-box-sizing: border-box; min-width:320px;}
.btn{ display:block; height:30px; line-height:30px; width:65px; border-radius:5px; color:#fff; text-align:center; font-size:14px; border:none; -webkit-appearance:none;}
.btn{
	-webkit-tap-highlight-color: rgba(0,0,0,0.35);
}
.btn.fl{  margin:7px 0px 0 12px ;}
.btn.fr{ margin:7px 12px 0 0 ;}
.btn.red{background:#ff5366;}
.btn.black{background:#3e3e3e;}
.btn.green{background:#06bf04;}
.btn.orange{background:#ff8b2c;}
.btn.white{background:transparent;border: 1px solid #ff5366;color: #ff5366;}
.btn.red_new{border: 1px solid #f32f45;color: #f32f45;}
.btn.black_new{border: 1px solid #3e3e3e;color: #3e3e3e;}
.btn.green_new{border: 1px solid #06bf04;color: #06bf04;}
.btn.orange_new{border: 1px solid #ff8b2c;color: #ff8b2c;}
.fl {
	float: left;
}
.fr {
	float: right;
}
.ofh {
	overflow: hidden;
}
.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}
.vertical_top {
	vertical-align: top;
}
.vertical_middle {
	vertical-align: middle;
}
.vertical_bottom {
	vertical-align: bottom;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.hidden {
	display: none;
}
.hidden.on {
	display: block;
}
.vhidden {
	visibility: hidden;
}
.vhidden.on {
	visibility: visible;
}
/*.empty:empty {
	display: none;
}*/
.block {
	display: block;
}
.inlineBlock {
	display: inline-block;
}
.ml_10 {
	margin-left: 10px;
}
.mr_10 {
	margin-right: 10px;
}
.mt_10 {
	margin-top: 10px;
}
.mb_10 {
	margin-bottom: 10px;
}
.m_10 {
	margin: 10px;
}
.m_auto {
	margin: auto;
}
.ml_5 {
	margin-left: 5px;
}
.mr_5 {
	margin-right: 5px;
}
.mt_5 {
	margin-top: 5px;
}
.mb_5 {
	margin-bottom: 5px;
}
.m_5 {
	margin: 5px;
}
.m_auto {
	margin: auto;
}
.pl_10 {
	padding-left: 10px;
}
.pr_10 {
	padding-right: 10px;
}
.pt_10 {
	padding-top: 10px;
}
.pb_10 {
	padding-bottom: 10px;
}
.p_10 {
	padding: 10px;
}
.pl_5 {
	padding-left: 5px;
}
.pr_5 {
	padding-right: 5px;
}
.pt_5 {
	padding-top: 5px;
}
.pb_5 {
	padding-bottom: 5px;
}
.p_5 {
	padding: 5px;
}

.box {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.box > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.tbox {
	width: 100%;
	height: 100%;
}
.tbox > * {
	height: 100%;
	display: table-cell;
	vertical-align: top;
}
.tbox > *:last-child {
	width: 100%;
}

.box_swipe{
	overflow:hidden;
	position:relative;
}
.box_swipe img{max-width: 320px;}

.box_swipe>ol{
	height:20px;
	position: relative;
	z-index:10;
	margin-top:-25px;
	text-align:right;
	padding-right:20px;
	background-color:rgba(0,0,0,0.5);
}

.box_swipe>ol>li{
	display:inline-block;
	margin:5px;
	width:10px;
	height:10px;
	background-color:#757575;
	border-radius: 10px;
}
.box_swipe>ol>li.on{
	background-color:#ffffff;
}

.box_swipe ul:not([style*="translate3d"]){
	display: none;
}

#iframe_screen{
	position: absolute;
	z-index: 99999;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: rgba(255,255,255,1);
}

footer .copyright{
	color:#000000;
	line-height:25px;
	display: block;
	text-align:center;
	padding:5px;
	overflow: hidden;
}
/***************************************************/
.loading_icon {
	position: absolute;
	left:50%;
	top:0;
	margin-left:-12px;
	z-index:10;
	width: 24px;
	height: 24px;
	border: 2px solid #237FE5;
	border-radius: 24px;
	-webkit-animation: gif 1s infinite linear;
	clip: rect(0 auto 12px 0);
}

@-webkit-keyframes gif{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}

/**********loading dialog************/
.loading{
	position: fixed;
	z-index:1000;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.loading .widget_wrap{
	height:100%;
}
.loading .loading_mask{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
}
.loading .loading_wrap{
	display: inline-block;
	width:80px;
	height:80px;
	border-radius: 5px;
	background:red;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-40px;
	margin-left:-40px;
	background:rgba(0,0,0,0.0);
}
.loading .loading_icon{
	left:50%;
	top:50%;
	margin:-12px;
}

a{
	-webkit-tap-highlight-color:rgba(0,0,0,0.35);
}
/*********************************/
.copyright1{}
.copyright1 .widget_wrap{
	/*height:55px;*/
	padding-top:15px;
	overflow: hidden;
}
.copyright1 ul{
	display: table;
	height:53px;
	background: #ffffff;
	/*-webkit-box-shadow:0px -5px 5px rgba(0,0,0,0.1);*/
	text-align: center;
	border:1px solid #ebecf1;
	border-width:1px 0 0;
	-webkit-border-image: url(../imgs/border.gif) 2 stretch;
}
.copyright1 .tbox>*{
	vertical-align: middle;
	padding:0 5px;
	height:50px;
}
.copyright1 .img_wrap{
	display: inline-block;
	max-height: 35px;
	padding: 0 5px;
	border:0;
        border-radius:0;
}
.copyright1 .tbox>*:nth-last-of-type(2){
	background: -webkit-gradient(linear, 0 0,0 100%, from(#d3d3d3), to(#d3d3d3)) no-repeat right center;
	-webkit-background-size:1px 21px;
}
.copyright1 .tbox>*:first-of-type:empty{
	display:none;
}
.copyright1 img{
	max-width: 110px;
	max-height: 35px;
}
.copyright1 a{
	line-height: 20px;
	display: block;
	font-size:10px;
	color:#5e616d;
}
.copyright1 p:first-of-type a{
	font-size:10px;
	color:#ff5366;
}

.popup{ position:fixed; top:0; bottom:0; left:0; right:0;background: -webkit-gradient(radial, 50% 50%,30, 50% 50%, 230, from(rgba(255,255,255,0.4) ), to(transparent ) );
background-color: rgba(0,0,0,0.6); z-index:666; color:#fff; padding:100px  35px 0; display:none; }
.popup span{ display:block; width:100%; text-align:center; font-size:24px;}
.popup label{ display:block; width:100%; text-align:center; font-size:14px; line-height:24px; margin:45px 0 73px 0}
.popup .btn{ margin:0; width:100%; margin-bottom:25px; height:40px; line-height:40px; font-size:18px;}
.container.blur{ -webkit-filter:blur(2px) ; overflow:hidden;}
body.closescroll{ overflow:hidden}
/**************************/
.tools_widget{}
.tools_widget .tools_widget_wrap{
	position: fixed;
	bottom:65px;
	right:15px;
	background:rgba(0,0,0,0.48);
	border-radius:100px;
	overflow:hidden;
	z-index: 500;
}
.tools_widget .tools_widget_wrap a{
	display: inline-block;
	width:44px;
	height:44px;
	line-height:63px;
	background: url(../image/w_7.png) no-repeat center -1005px;
	-webkit-background-size: 40px auto;
	font-size:10px;
	color:#ffffff;
	text-align:center;
	position:relative;
	border-radius:100px;
}
.tools_widget .tools_widget_wrap a:active{
	background-color:rgba(0,0,0,0.3);
}
.tools_widget .tools_widget_wrap a.tolls_widget_message{
	background-position:center -1045px;
}
.tools_widget .tools_widget_wrap a.tolls_widget_message[data-count]:after{
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #f43530;
	border-radius: 10px;
	position: absolute;
	right: 12px;
	top: 7px;
}
.tools_widget .tools_widget_wrap a.hidden{
	display:none;
}

.limit_buy_dialog{

}
.limit_buy_dialog .widget_body{
	padding:20px 10px;
	text-align:center;
}

/**********otip*********/
div[data-role="widget"].otip{

}
div[data-role="widget"].otip .widget_mask{
	background:none;
}
div[data-role="widget"].otip .widget_wrap{
	min-height: inherit;
	text-align: center;
	background:none;
	margin-top: 0;
	top: 70px;
}
div[data-role="widget"].otip .widget_body{
	padding: 7px 10px;
	color: #ffffff;
	white-space: pre-line;
	background: #686868;
	display: inline-block;
	min-width: 100px;
	font-size: 14px;
	min-height: inherit;
}

div[data-role="widget"].otip2{

}
div[data-role="widget"].otip2 .widget_mask{
	background:none;
}
div[data-role="widget"].otip2 .widget_wrap{
	min-height: inherit;
	text-align: center;
	background:none;
	margin-top: 0;
	top: 70px;
}
div[data-role="widget"].otip2 .widget_body{
	padding: 7px 10px;
	color: #ffffff;
	white-space: pre-line;
	background: #686868;
	display: inline-block;
	min-width: 100px;
	font-size: 14px;
	min-height: inherit;
}
/**************/
.loading_bottom ul{
	padding:15px 0;
	width:135px;
	margin:auto;
	color:#848484;
	font-size:12px;
	line-height:20px;
}
.loading_bottom ul:nth-of-type(2), .loading_bottom.nomore ul{
	display:none;
}
.loading_bottom.nomore ul:nth-of-type(2){
	display:inherit;
}
.loading_wrap{
	display: inline-block;
	width:20px;
	height:20px;
	position:relative;
}
.loading{
	position: absolute;
	left:0;
	top:0;
	margin:-2px -3px;
	z-index: 10;
	width: 24px;
	height: 24px;
	/* border: 2px solid #237FE5; */
	border-radius: 24px;
	-webkit-animation: widget_gif 1s infinite linear;
	/* clip: rect(0 auto 12px 0); */
	background: url(../imgs/loading.png) no-repeat center center;
	-webkit-background-size: 100%;
}

@-webkit-keyframes widget_gif{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}

/**********************************/
.dialog_guid{
	color:#ffffff;
	line-height:18px;
	font-size:14px;
}
.dialog_guid .widget_wrap{
	position:static;
	width: 0;
	height: 0;
}

.dialog_guid ul{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,0.6);
	z-index: 50;
}
.dialog_guid ul li{
	height:50px;
	vertical-align:middle;
}
.dialog_guid p{
	padding: 2px 0;
}
.dialog_guid a{
	display: inline-block;
	width: 75px;
	height: 30px;
	line-height: 30px;
	margin:0 0 0 10px;
	color:#ffffff;
	font-size:12px;
	text-align:center;
	/*background:-webkit-gradient(linear, 0 0, 0 100%, from(#2fc1ab), to(#0bb59b), color-stop(50%, #2fc1ab), color-stop(50%, #0bb59b) );*/
	background:#06bd04;
	border-radius:3px;
	position:relative;
}
.dialog_guid a.close{
	margin:0;
	width:25px;
	background: url(../imgs/w_7.png) no-repeat center -513px;
	-webkit-background-size: 50px auto;
}
.dialog_guid .img_wrap{
	display: block;
	width:30px;
	height:30px;
	border-radius:100px;
	margin:0 10px;
}
.dialog_guid .img_wrap img{
	display:block;
	width:100%;
	height:100%;
	border-radius:100px;
}
.dialog_guid .img_wrap img[src=""]{
	background:#ffffff;
}

.dialog_guid_follow_authentication ul{
	height:65px;
}
.dialog_guid_follow_authentication ul li{
	height:65px;
}
.dialog_guid_follow_authentication .img_wrap{
	width:42px;
	height:42px;
}
/*.dialog_guid_follow_authentication a{
	width:60px;
	height:25px;
	font-size:11px;
	margin:0 19px;
}
.dialog_guid_follow_authentication a::after{
	content: "";
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: -18px;
	background:url(../imgs/w_44.png) no-repeat center 0;
	background-size:60px auto;
}*/

.dialog_guid_share{

}
.dialog_guid_share ul{
	height:60px;
	padding: 0 50px 0 10px;
	background-image:url(../imgs/w_44.png);
	background-repeat: no-repeat;
	background-position: right -60px;
	background-size:60px auto;
}
.dialog_guid_share ul li{
	height:60px;
}