<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>{$title}</title>
<style>
html,body {margin: 0;padding: 0;width: 100%;height: 100%;background: #fff}
#bodybox {position: relative;margin: 0 auto;height: 100%;background: url({$background}) no-repeat;background-size: 100% 100%;overflow: hidden;max-width: 400px}
</style>
</head>
<body>
    <div id="bodybox"></div>
</body>
</html>