@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; border:0;-webkit-tap-highlight-color:rgba(255,0,0,0);}
body{ float:left;width:100%;height:100%}
li{ float:left;display: block;list-style-type: none;}
a{border:none; text-decoration:none;}
img {border:none;margin:0;padding:0;border:0;}

/*JDB_body =============================================*/
.JDB_body{width:480px;min-height:544px; margin:0 auto; background:url(../images/body_bg.jpg) no-repeat}


/*输入串码 ==============================================*/
.JDB_content{ float:left; width:400px;padding:360px 40px 0}
.JDB_code{ float:left; width:400px;height:55px; position:relative; z-index:99}
.JDB_code_bg{ float:left; width:400px;height:55px; background:#fff;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8; border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px; position:absolute;top:0px;left:0px;-o-border-radius:5px;-webkit-border-radius:5px; z-index:100}
.JDB_code_text{ float:left; width:384px;height:55px; position:absolute;top:0px;left:0px; z-index:101; padding:0 8px}
.JDB_code_text li{ float:left; width:380px;height:39px; background:rgb(203,236,132); padding:2px; margin:7px 0}
.code_span{ font:24px/39px "微软雅黑"; color:#000000; text-align:center}
.code_there{ float:left; width:150px}
.JDB_checked{ padding:5px; height:29px; font:22px/29px "微软雅黑"; color:#aaa; letter-spacing:5px; outline:none}
.checked_there{ float:left; width:215px;}
.code_eight{ float:left; width:125px;}
.checked_eight{ float:left; width:245px;}
.JDB_btn{ float:left; text-align:center; width:400px; padding:45px 0 23px}
.JDB_btn a{ float:none}
.JDB_sketch{ float:left; width:480px;}

/*弹框 ==================================================*/
#overlay{position: fixed;_position:absolute;top:0;left:0;width:100%;height:100%; background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-webkit-opacity: 0.5;opacity: 0.5;-ms-opacity:0.5;-o-opacity:0.5;display:none; z-index:1010}
.JDB_iframe{ float:left; width:464px;height:336px; background:url(../images/iframe_bg.png) no-repeat;position:fixed;_position:absolute; z-index:1011; left:50%; top:50%; display:none;overflow:visible; margin:-168px 0 0 -232px}
.iframe_close{ float:left; width:464px; position:relative}
.iframe_close a{ position:absolute; right:-0;top:-15px}
.iframe_text{ float:left; width:464px; display:none; padding-top:40px; text-align:center; font:bolder 24px/40px "宋体"; color:#fff;}
.iframe_lose{ float:left; width:464px;display:none; padding-top:100px;text-align:center;font:bolder 24px/40px "宋体"; color:#fff;}
.iframe_affirm{ float:left; width:464px;padding-top:100px; display:none}
.iframe_affirm span{ float:left;width:464px;font:bolder 24px/30px "宋体"; color:#fff; text-align:center}
.iframe_font{ float:left;width:464px;font:bolder 40px/70px "Arial"; color:#fdeb6f; letter-spacing:5px; text-align:center}
.iframe_affirm a{ float:left; width:165px;height:50px; font:bolder 35px/50px "宋体"; color:#cd090b; text-align:center; background:#ffd74e; border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px; margin:15px 0 0 150px}
.iframe_test{ float:left; width:464px;padding-top:100px;text-align:center;display:"none"; font:bolder 30px/40px "宋体"; color:#fff;}

/*recharge_page==========================================*/
.JDB_recharge{ float:left; width:480px; padding-top:340px;}
.JDB_prize{ float:left; width:480px; font:bolder 24px/40px "宋体"; color:#fff; text-align:center}
.JDB_prize font{float:none}
.JDB_import{ float:left; width:350px; padding:30px 65px}
.imports_div{ float:left; width:344px;height:44px; background:#FFF; padding:4px; border-radius:5px 35px 35px 5px; -moz-border-radius:5px 35px 35px 5px; -ms-border-radius:5px 35px 35px 5px; -o-border-radius:5px 35px 35px 5px; -webkit-border-radius:5px 35px 35px 5px}
.imports_color{ float:left; width:340px;height:40px; background:#cd090b; padding:2px; border-radius:5px 35px 35px 5px; -moz-border-radius:5px 35px 35px 5px; -ms-border-radius:5px 35px 35px 5px; -o-border-radius:5px 35px 35px 5px; -webkit-border-radius:5px 35px 35px 5px}
.imports_checked{ float:left; width:235px;height:40px; padding:0 10px; background:#FFF;font:18px/40px "微软雅黑"; color:#aaa; letter-spacing:5px; outline:none}
.imports_color a{ float:left; width:85px; font:bolder 24px/40px "宋体"; color:#ffec8c; letter-spacing:5px; text-align:center}
.recharge_code{ float:left; width:380px;height:45px; padding:0 50px}
.code_name{ float:left; width:80px; font:22px/45px "微软雅黑"; color:#fff; text-align:center}
.code_checked{ float:left; width:80px; padding:10px;height:25px;font:18px/25px "微软雅黑"; color:#aaa;}
.code_img{ float:left; margin:0 5px; width:125px;height:45px;}
.recharge_code a{ float:left; width:55px;height:43px; padding-top:2px; font:14px/20px "微软雅黑"; color:#fff;}
.JDB_service{ float:left; width:480px; font:20px/40px "微软雅黑"; color:#fff; text-align:center}
.JDB_return{ float:left; width:480px; padding-top:35px; text-align:center;}
.JDB_return a{ float:none}
