* { -webkit-text-size-adjust: none;}
        .point_list li .pic img {max-width: 170px;min-height: 84px; border-radius: 3px; background-color: #f2f2f2;}
        #theList {height: 100%;}
        #theList li {float: left;height: 100%;}
        .point_nav p {overflow: hidden;text-indent: 15px;padding: 7px 0 0 0;}
        .pop_photo .photo {width: 100%;height: 100%;}
        .pop_photo .photo img {vertical-align: middle;border-radius: 5px;}
        .pop_photo .info {height: 30px;}
        .pop_photo .info .con {text-align: center;}
        .point_list li h2 {line-height: 15px;height: 15px;overflow: hidden;}
        .point_list li h2 .hot {float: left;width: 72px;overflow: hidden;padding-top: 1px;}
        .point_list li h2 .right {float: right;}
        .pop_photo, .photo_mask {margin: 0; padding: 0; background: rgba(0,0,0,0.6);}
        .menu_wrap {position: fixed;bottom: 5px;left: 5px;z-index: 999;width: 200px;}
        .menu_wrap .selected {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);

        floatmenu{display:none;margin-left:2px}
        .floatmenu li{height:30px;margin-right:5px;position:relative}
        .floatmenu li a{display:block;height:20px}
        .floatmenu li label{background:rgba(0,0,0,.7);}
        .btn_menu{transition-duration:.2s;-webkit-transition-duration:.2s;-moz-transition-duration:.2s;-o-transition-duration:.2s;width:97px;height:97px}

        input[type=button].btn-reduce{
        background: url("./tpl/Wap/default/common/img/typebtn1a.png") no-repeat;
        background-size: 22px 22px;
        height:22px;
        width: 22px;
        }

.manager{display:block;width:150px;margin:auto;line-height:35px;text-align:center;padding:0 5px;color:#fff;background:-webkit-gradient(linear, 0 0, 0 100%, from(#2ec366), to(#2ec366));border:1px solid #40bb6e;border-radius:3px;font-size:15px;}