/* CSS Document */

.item_show_type2 {
    height: 132px;
    background-color: #fff;
}

    .item_show_type2 > div {
        height: 111px;
        padding: 10px 8px;
        border: 1px solid #e8e8e8;
    }

.item_img {
    display: block;
    width: 112px;
    height: 112px;
}

    .item_img img {
        width: 110px;
        height: 110px;
    }

.tab_content {
    height: 112px;
}

.content_right {
    margin-left: 120px;
}

.content_left {
    margin-right: 120px;
}

.tab_content .tab_banner {
    height: 33px;
    display: block;
    text-align: center;
    background-color: #ff7171;
}

.tab_content .tab_container {
    height: 79px;
    overflow: hidden;
}

    .tab_content .tab_container .tab {
        min-width: 25px;
        height: 29px;
        line-height: 29px;
        border: 1px solid #ececec;
        text-align: center;
        color: #666;
        float: left;
        margin: 8px 3px 0 0;
        padding: 0 10px;
    }

.tab_content .tab_banner span {
    color: #fff;
    font-size: 13px;
    margin-left: 5px;
    line-height: 33px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.arrow_right1 {
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowOUU5NzQ4RTJFNjUxMUUzQjU3ODhGNTUzRkI1RUNGMCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5OTZBM0MyQzJFODAxMUUzQjU3ODhGNTUzRkI1RUNGMCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjA5RTk3NDhDMkU2NTExRTNCNTc4OEY1NTNGQjVFQ0YwIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjA5RTk3NDhEMkU2NTExRTNCNTc4OEY1NTNGQjVFQ0YwIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+yQi34QAAAZZJREFUeNq0lrFOwzAQhlsJyoAYkwHRJAMDgqeAmQ0QFN4AJMb0hRrUUgprNwa60Y0yI6RMbMBCRVPzW/otuVHqOFE46Ruc3P2nc3zn1IUQNYN5oAUOwC5wwC+IwTt4BLfgbamCTJCBB27ATOTbjL5ellaW+CH4ZPAU9MEFCEADbIAdPuvTR9oXY40JrkHCgAewvaRCHelzz5iEGpkJTsGcJYcWwmlCxs6ptZCgyRJFSXFFW9suT08Q8cUgR+AJPAPH4HNHrUgl8FnalJWYEowZPDEkaVJLavp6WZHFFrgUl/ZiSNKhT1suhlycWO6zTZJjvh/KRcyFX+Bj5iXx+S6Wix8u1lJOI2Fv41RsQzXqCqbFmFNjWvsPK3neHW6NOlGuaYuqFpcc6R+5qPjEohcWjmkRbBpti42WqEYrwshiVPTTo0JnnXO/7McPKf6dHnaKAWfIVdXjWnFJB2k9sFnlhaM4Z4mCXd4FLZ7tVRLwKHaKXpl6o3S167P0pV/P+W0JwBnYB3vA5fMP8Mrflp7pt+VPgAEA+UGFzDZqe60AAAAASUVORK5CYII=");
}


/*模版2*/

.modHelp .subCon p {
    padding: 0 20px;
    line-height: 23px;
}

.modHelp .subCon i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    margin-left: -13px;
    background: #000;
    border-radius: 4px;
    vertical-align: middle;
    opacity: .1;
}

.modHelp .borderBotm, .modFeedback {
    padding: 10px;
}

.modHelp .cur a {
    color: #fe5955;
}



 .modSubnav .subCon {
display: none;
margin: 10px -10px -10px;
padding: 10px;
border-top: 1px solid #D8D8D8;
background: #f5f5f5;
font-size: 12px;
}
 .modSubnav .subCon {
    display: none;
    padding: 10px 0 0 10px;
    background: #e0e0e0;
    box-shadow: 0 1px 3px #D2D2D2 inset;
    overflow: hidden
}

.borderBotm {
    border-bottom: 1px solid #d8d8d8;
}

.modSubnav .cur .greyRightArrow {
    -webkit-transform: rotate(270deg);
}

.modSubnav .cur {
    background: #f5f5f5;
}

    .modSubnav .cur a {
        color: #666;
    }

.modSubnav .subCon a {
    float: left;
    width: 87px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 10px 0;
    padding: 0 3px;
    border-radius: 2px;
    background: #fff;
    text-align: center;
    overflow: hidden;
}
 