body{line-height:1.6;font-family:"Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,Tahoma,sans-serif;}
body,h1,h2,h3,h4{margin:0;}
a img{border:0;}

body{
    background-color: #e1e0de;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
.icon67_status {
    width: 67px;
    height: 67px;
    display: inline-block;
    vertical-align: middle;
    background: transparent url(../images/icon67_status17d8e9.png) no-repeat 0 0;
}
.icon67_status.warn {
    background-position: 0 -204px;
}
.icon80_smile{
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    background: transparent url(../images/icon80_smile181c98.png) no-repeat 0 0;
}

.page_msg {
    padding-left: 23px;
    padding-right: 23px;
    font-size: 16px;
    text-align: center;
}
.page_msg .inner {
    padding-top: 40px;
    padding-bottom: 40px;
}
.page_msg .msg_icon_wrp {
    display: block;
    padding-bottom: 22px;
}
.page_msg .msg_content h4 {
    font-weight: 400;
    color: #000000;
}
.page_msg .msg_content p {
    color: #90908E;
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
    .icon67_status {
        background-image: url(../images/icon67_status.2x17d8e9.png);
        background-size:67px;
        -webkit-background-size:67px;
    }
    .icon80_smile{
        background-image: url(../images/icon80_smile.2x181c98.png);
        background-size:80px;
        -webkit-background-size:80px;
    }
}