html{height:100%;}body{background-color:#eee;}.block{padding:5px 0 12px 0;text-align:left;}.block h1{font-size:16px;font-weight:bold;margin-bottom:15px;margin-left:12px;height:22px;line-height:22px;color:#655744;}.block .lst{margin:4px 10px 0 10px;border:1px solid #d8d8d8;box-shadow:0 0 5px #eae7e0;background-color:#fff;border-radius:5px;}ul{list-style-type:none;}.block li,.block li a{color:#2f3e46;font-size:14px;display:block;text-decoration:none;}.block li{line-height:40px;height:40px;padding-left:10px;cursor:pointer;-webkit-background-size:25px 500px;background-size:25px;overflow:hidden;position:relative;background-color:#FFF;border:1px solid #ccc;border-bottom:none;}.block li.last{border-bottom:1px solid #ccc;}.block li .icon-header{vertical-align:middle;margin-right:10px;width:22px;height:22px;}.block li a{padding-right:40px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}.block .icon{position:absolute;display:block;top:50%;right:10px;margin-top:-9px;width:18px;height:18px;background-color:#666;background-color:rgba(0,0,0,.4);background-image:url("http://wxj.weixinjia.net/jquery-mobile/images/icons-18-white.png");background-position:-108px -1px;border-radius:9px;}.block .dist{position:absolute;padding:.2em .5em;font-weight:bold;color:white;top:50%;right:40px;margin-top:-.9em;line-height:20px;-webkit-border-radius:1em;border-radius:1em;border:1px solid #ccc;background:#898989;}.top{position:relative;}.top .logo{width:100%;max-height:380px;}.top h4{text-align:center;line-height:30px;position:absolute;bottom:5px;margin:0 auto;width:100%;color:white;}.top .bottom{position:absolute;bottom:5px;width:100%;height:30px;background-color:#000;opacity:.3;}.detail li{line-height:25px;height:auto;}.detail .sep{height:1px;background-color:#CCC;width:98%;}.detail .nav-tip{color:#2f3e46;font-size:14px;}

header, section, footer { -webkit-animation: pulsate .5s ease-in-out; }
.ts1 { text-shadow: 0px -1px 1px #666; }
.ts1 { text-shadow: 0px -1px 1px #666; }

.ts2 { text-shadow: 0px 1px 1px #fff; }
.org { color: #f60; }
/*================= webpage rebuild by zhouwy in 2013-06-03 */
header { height: 44px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#636365), to(#636365)); color: #fff; }
header.hbg1 { box-shadow: 0px 1px 1px #D2D2D2; border-bottom: #DEDEDE 1px solid; }
.topbar li { float: right; width: 56px; height: 41px; background: url(../img/topbar_line.jpg) right no-repeat; background-size: contain; }
.topbar li:first-child { background: none; }
.topbar li a {display: inline-block; width: 36px; height: 14px; text-align: center; padding: 22px 10px 8px; color: #fff; position: relative;font-size: 12px; ; font-family: "microsoft yahei", Arial, Helvetica, sans-serif; }
.topbar li a.icon_user i { background: url(../img/icon_user.png) no-repeat; }
.topbar li a.icon_shang i { background: url(../img/icon_shang.png) no-repeat; }
.topbar li a.icon_class i { background: url(../img/icon_class.png) no-repeat; }
.topbar li a.icon_shopping i { background: url(../img/icon_shopping.png) no-repeat; }
.topbar li a.icon_index i{background:url(../img/icon_index.png) no-repeat;}
.topbar li a.icon_user i, .topbar li a.icon_shang i, .topbar li a.icon_class i, .topbar li a.icon_shopping i ,.topbar li a.icon_index i{ position: absolute; top: 5px; left: 50%; width: 16px; height: 16px; margin-left: -8px; -webkit-background-size: 16px 16px; background-size: 16px 16px; background-position: center 0px; font-size: 12px; }
.topbar li a:hover, .topbar li a:active { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#488211), to(#406d1e)); color: #fff; }
.fl { float: left !important; }
.fr { float: right !important; }
.clearfix { overflow: hidden; zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.f_index_search{margin: 5px}


/* 搜索 */
.search_box{ float:left; width: 70%; height: 30px; background: #fff; border:1px solid #ccc; border-radius: 5px; box-shadow: 0px 0px 5px #ddd; padding-left: 10px; font-size: 14px; vertical-align: middle;}
.search_button{ float:right; width: 24%; height: 30px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63B908), to(#459605)); color: #fff; border:1px solid #63B908; border-radius: 5px;}
.tab_control{width: 100%; height: 30px;}
.tab_control dd{width: 25%;	height: 100%; background: #999; box-shadow: -1px 0px 1px #fff; box-shadow: 1px 0px 1px #fff inset; float: left; margin:0px;	text-align: center;	line-height: 30px; }
.tab_control a{display: block;}
.tab_control a:link, .tab_control a:visited, .tab_control a:hover, .tab_control a:active{ color: #fff;}
.tab_control a.on{ background: #587f01; border-left: 1px solid #FFF;}


.u_back{background:url(../img/icon_back.png) no-repeat left center;background-size: contain; padding-left:24px; color:#fff; font-size:14px; margin-top:11px; margin-left:10px;}

