/*show&hide*/
@-webkit-keyframes a {
	0% {opacity:0; }
	to {opacity:1; }
}
@keyframes a {
	0% {opacity:0; }
	to {opacity:1; }
}

@-webkit-keyframes b {
	0% {opacity:1; }
	to {opacity:0; }
}
@keyframes b {
	0% {opacity:1; }
	to {opacity:0; }
}

/*pagecut*/
@-webkit-keyframes cut-in {
	/*0% {right:-100%;}
	to {right:0px;}
	*/
	0% {opacity:0;}
	to {opacity:1;}
}
@keyframes cut-in {
	0% {opacity:0;}
	to {opacity:1;}
}

@-webkit-keyframes cut-out {
	0% {right:0;}
	to {right:-100%;}
}
@keyframes cut-out {
	0% {right:0;}
	to {right:-100%;}
}

/*bottomcut*/
@-webkit-keyframes bs {
	0% {bottom:-100%;opacity:0; }
	to {bottom:0;opacity:1; }
}
@keyframes bs {
	0% {bottom:-100%;opacity:0; }
	to {bottom:0;opacity:1; }
}

@-webkit-keyframes bh {
	0% {bottom:0;}
	to {bottom:-100%;}
}
@keyframes bh {
	0% {bottom:0; }
	to {bottom:-100%;}
}
/*topcut*/
@-webkit-keyframes ts {
	0% { top:-100%;opacity:0; }
	to { top:50px;opacity:1; }
}
@keyframes ts {
	0% { top:-100%;opacity:0; }
	to { top:50px;opacity:1; }
}

@-webkit-keyframes th {
	0% { top:50px;}
	to { top:-100%;}
}
@keyframes th {
	0% { top:50px; }
	to { top:-100%;}
}
/*side cut*/
@-webkit-keyframes open {
	0% {
	left:0px;
	}
	to {
		left:-200px;
	}
}

@keyframes open {
	0% {
	left:0px;
	}
	to {
		left:-200px;
	}
}

@-webkit-keyframes close {
	0% {
	left:-200px;
	}
	to {
		left:0px;
	}
}

@keyframes close {
	0% {
	left:-200px;
	}
	to {
		left:0px;
	}
}

@-webkit-keyframes o31 {
	0% {
	  left:-moz-calc(50% - 31px);
		left:-webkit-calc(50% - 31px);
		left:calc(50% - 31px);
	}
	to {
	  left:-moz-calc(50% - 231px);
		left:-webkit-calc(50% - 231px);
		left:calc(50% - 231px);
	}
}

@keyframes o31 {
	0% {
	  left:-moz-calc(50% - 31px);
		left:-webkit-calc(50% - 31px);
		left:calc(50% - 31px);
	}
	to {
	  left:-moz-calc(50% - 231px);
		left:-webkit-calc(50% - 231px);
		left:calc(50% - 231px);
	}
}

@-webkit-keyframes o30 {
	0% {
	  left:-moz-calc(50% - 30px);
		left:-webkit-calc(50% - 30px);
		left:calc(50% - 30px);
	}
	to {
	  left:-moz-calc(50% - 230px);
		left:-webkit-calc(50% - 230px);
		left:calc(50% - 230px);
	}
}

@keyframes o30 {
	0% {
	  left:-moz-calc(50% - 31px);
		left:-webkit-calc(50% - 31px);
		left:calc(50% - 31px);
	}
	to {
	  left:-moz-calc(50% - 231px);
		left:-webkit-calc(50% - 231px);
		left:calc(50% - 231px);
	}
}

@-webkit-keyframes c31 {
	0% {
	  left:-moz-calc(50% - 231px);
		left:-webkit-calc(50% - 231px);
		left:calc(50% - 231px);
	}
	to {
	  left:-moz-calc(50% - 31px);
		left:-webkit-calc(50% - 31px);
		left:calc(50% - 31px);
	}
}

@keyframes c31 {
	0% {
	  left:-moz-calc(50% - 231px);
		left:-webkit-calc(50% - 231px);
		left:calc(50% - 231px);
	}
	to {
	  left:-moz-calc(50% - 31px);
		left:-webkit-calc(50% - 31px);
		left:calc(50% - 31px);
	}
}

@-webkit-keyframes c30 {
	0% {
	  left:-moz-calc(50% - 230px);
		left:-webkit-calc(50% - 230px);
		left:calc(50% - 230px);
	}
	to {
	  left:-moz-calc(50% - 30px);
		left:-webkit-calc(50% - 30px);
		left:calc(50% - 30px);
	}
}

@keyframes c30 {
	0% {
	  left:-moz-calc(50% - 231px);
		left:-webkit-calc(50% - 231px);
		left:calc(50% - 231px);
	}
	to {
	  left:-moz-calc(50% - 31px);
		left:-webkit-calc(50% - 31px);
		left:calc(50% - 31px);
	}
}

@-webkit-keyframes oside {
	0% {
	  right:-200px;
	}
	to {
	  right:0px;
	}
}

@keyframes oside {
	0% {
	  right:-200px;
	}
	to {
	  right:0px;
	}
}

@-webkit-keyframes cside {
	0% {
	  right:0px;
	}
	to {
	  right:-200px;
	}
}

@keyframes cside {
	0% {
	  right:0px;
	}
	to {
	  right:-200px;
	}
}

/*flickr*/
@-webkit-keyframes flickr {
	0% {opacity:0;transform:scale(0.1);}
	to {opacity:1;transform:scale(1);}
}
@keyframes flickr {
	0% {opacity:0;transform:scale(0.1);}
	to {opacity:1;transform:scale(1);}
}