/* common */
html,body { color:#000; }
a{ color:#000;}

/*body*/
body{ background:#eee; }

/*a_on*/
.a_no{ background:#f6f6f6; border:1px solid #ddd;}
.a_on{ background:#f65d5b; border:1px solid #f65d5b; color:#fff !important}

/*light*/
.lg{ background:#fcfbf3; border:1px dashed #f65d5b; }
.lg_h{ background:#f6f6f6; border:1px solid #e5e5e5}

/*btn*/
.num{ background:#ff6600; color:#fff; }

/*upimg*/
.post_imglist li .p_img img { background:#fff; border:1px solid #ddd; }

/*topnv*/
.topnv li{ border-bottom:1px solid #fff; }
.topnv li.a{ border-bottom:1px solid #f65d5b}
.topnv li.a a{ color:#f65d5b}


/*userlist*/
.userlist li div.n{ border:1px solid #ddd;}
.userlist li.on div.n{ border:1px solid #ac493d; background:#fcfbf3}

/*find_user*/
.find_user{ background:url({MODULE_URL}public/images/5.jpg) no-repeat 0 0; }

/*page*/
.pnpage .page a,.pnpage .pg a{ background:#fff;}
.pnpage .page a.grey,.pnpage .pg a.grey{ color:#ccc; }

/*login*/
.log_connect .title{ background:url({MODULE_URL}public/images/v.png) repeat-x 0 50%;}

/*ban_forums*/
.ban_forums .cats li.a{ border-left:3px solid #ff6600; }
.ban_forums .forums ul li:after{ border-color:#ddd; }
.ban_forums .forums ul li p em:after{ color:#ddd; }

/*postmessage*/
.viewcontent p.form{ color:#ccc}
.viewcontent p.form a{ color:#ff6600}

.postmessage a{ color:#ac493d}


/*poll_img*/
.poll_img li div.optimg{ border:1px solid #ddd;}
.poll_img div.on div.optimg{ border:1px solid #f65d5b;}

/*poll_text*/
.poll_text span.click:after{ color:#999}
.poll_text li.on span.click:after{ color:#f65d5b}

/*trade*/
.trade_list li table th{ border-left:5px solid #e5e5e5; }

/*space_comm*/
.space_header{ background:url(template/cis_app/touch/style/s/5.jpg) no-repeat 0 0;background-size:cover; }

/*task*/
.task_info table td a{ color:#ac493d}

/*promotion*/
.iknow a{ border:5px solid #ddd;}

/*pm*/
.viewpm td.friend_msg .pm_msg{ float:left; background:#f3cbcb}
.viewpm td.self_msg .pm_msg{ float:right; background:#fff; border:1px solid #ddd;}
.viewpm td.group_msg .pm_msg div{ background:#fcfbf3; border:1px solid #f65d5b; }
.viewpm td.group_msg .pm_msg div a{ color:#ff6600; }

/*notice*/
.noticelist td .noticecontent{ background:#fff; border:1px solid #ddd;}
.noticelist td.new .noticecontent{ background:#fcfbf3;border:1px solid #f65d5b;}
.noticelist td .noticecontent a{ color:#ff6600; }
.noticelist td .noticecontent span{ color:#ccc; }

/*feedlist*/
.feedlist td a.av img{ background:#fff}

/*doing*/
.viewdoing h4{ color:#999}
.viewdoing h4 a{ color:#ac493d}

/*member*/
.tab ul li{ border:1px solid #ddd; background:#eee; }
.tab ul li.curtab{ background:#fff}

.listpost h6 a.viewreply:before{ border-left: 10px solid #eee;}
/*----------UI----------*/
/*footer*/
.imui_footer_m{ border:1px solid #ccc;}
.imui_icon_post{ border:8px solid #f6f6f6;}

/*sheet*/
.imui_sheet li:last-child{ border-top:8px solid #e5e5e5;}
.imui_sheet li a:active{ background:#f6f6f6}

/*side*/
.imui_side .side_nv li a:active{ background:#f6f6f6; }

/*flickr*/
.imui_flickr_area li a:before{ color:#f65d5b }


/*blocks*/
.imui_blocks:before {	border-top: 1px solid #ccc; color:#ccc; }
.imui_blocks:after { border-bottom: 1px solid #ccc; color:#ccc; }

/*block*/
.imui_block:before{ border-top: 1px solid #ddd; color: #ccc; }

/*select*/
.imui_block_select .imui_block_bd:after { border-color: #ccc;}
.imui_select_before .imui_block_hd:after{ border-right: 1px solid #ddd; color:#ccc;}
.imui_select_before .imui_block_hd:before{ border-color:#ccc;}

/*radio*/
.imui_blocks_radio .imui_check:checked + .imui_icon_checked:before{ color:#f65d5b;}
.imui_blocks_radio .imui_block:active{ background-color:#f6f6f6;}

/*checkbox*/
.imui_blocks_checkbox .imui_block:active { background-color:#f6f6f6;}
.imui_blocks_checkbox .imui_icon_checked:before { color: #ccc;}
.imui_blocks_checkbox .imui_check:checked + .imui_icon_checked:before { color:#f65d5b;}

/*switch*/
.imui_switch { border: 1px solid #ddd; background: #e5e5e5;}
.imui_switch:before {background-color: #f6f6f6;}
.imui_switch:after { background-color: #fff;}
.imui_switch:checked { border-color:#f65d5b;background-color:#f65d5b;}

/*access*/
.imui_blocks_access .imui_block:not(.no_access):active { background-color: #f6f6f6;}

/*imui_input*/
.imui_input:disabled,.imui_textarea:disabled{ color:#ccc}

/*btn*/
.imui_btn:after{ border: 1px solid #ccc;}
.imui_btn.b_c:not(.cg):active { background-color: #ac493d;}
.imui_btn.b_w:not(.cg):active { background-color: #33ccff;}

.imui_btn_mid .cm { border: 1px solid #666;}
.imui_btn_mid .cc { border: 1px solid #f65d5b;}
.imui_btn_mid .cc:active { border-color: #ac493d;}

.tip dd a.bo_r,.tip dd button.bo_r{ border-right:1px solid #ddd;}
/*imui_nv*/
.imui_nv li a{ border-bottom:2px solid #fff}
.imui_nv li.a a{ border-bottom:2px solid #f65d5b}

/*imui_topbox*/
.imui_topbox ul{ border:1px solid#f65d5b;}
.imui_topbox li{ border-right:1px solid #f65d5b}

/*autopbn*/
.autopbn:active{ background:#fff; color:#000; }

/*tip*/
.tip{ background:#fff;}

/*header_nv*/
.header_nv ul{ border:1px solid #fff; }
.header_nv ul li:first-child{ border-right:1px solid #fff;}
.header_nv ul li.a{ background:#fff;}
.header_nv ul li.a a{ color:#f65d5b; }

/*threadtypes*/
.threadtypes li a span{ color:#ccc}
.threadtypes li a.b_c span{ color:#fff}

/*----------APP----------*/


/*----------color----------*/

/*color*/
.cc,.cc a{ color:#ff6600 }
.cg,.cg a{ color:#999; }
.cm,.cm a{ color:#666; }
.cf,.cf a{ color:#fff; }
.ca,.ca a{ color:#ac493d; }
.cw,.cw a{ color:#ccc; }

/*background*/
.b_c{ background:#f65d5b; }
.b_g{ background:#f3cbcb; }
.b_f{ background:#fff; }
.b_l{ background:#f6f6f6; }
.b_e{ background:#eee; }
.b_i{ background:#fcfbf3; }
.b_w{ background:#33ccff; }
.b_d{ background:#ddd; }
/*border*/

.bo_b{ border-bottom:1px solid #ddd}
.bo_t{ border-top:1px solid #ddd}
.bo_l{ border-left:1px solid #ddd}
.bo_r{ border-right:1px solid #ddd}

.bo_bl{ border-bottom:1px solid #e5e5e5}
.bo_tl{ border-top:1px solid #e5e5e5}
.bo_ll{ border-left:1px solid #e5e5e5 }
.bo_rl{ border-right:1px solid #e5e5e5}

.bo{ border:1px solid #ddd}
.bol{ border:1px solid #e5e5e5}
.boc{ border:1px solid #ff6600}
.adlink{ font-size:14px}
.adlink span,.adlink a{ float:left;}
.adlink span{ margin-right:10px; padding:0 5px; background:#f65d5b; color:#fff;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

.adimg{}
.adimg img{ width:100% !important; display:block !important; float:none !important;}


.fixed_ad{ position:fixed; width:100%; height:auto; left:0px; bottom:51px; z-index:9999;}
.fixed_ad_content{ position:relative}
.fixed_ad_content span.close{ position:absolute; right:10px; top:10px; width:20px; height:20px; line-height:20px; text-align:center; font-size:12px; background:#000; background:rgba(0,0,0,0.6); filter:alpha(opacity=60);-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; color:#fff}

.fixed_ad_content .adlink{ padding:10px;background:#000; background:rgba(0,0,0,0.6); filter:alpha(opacity=60); color:#fff}
.fixed_ad_content .adlink a{ color:#fff}

/*guide_top*/
.adpage_guide .adposition_top .adimg{ padding:0;}
.adpage_guide .adposition_top .adlink{ padding:10px 10px 0 10px; }

.adpage_forumlist .adposition_top .adimg{ padding:0 0 10px 0;}
.adpage_forumlist .adposition_top .adlink{ padding:10px 10px 10px 10px; }

.adpage_forumdisplay .adposition_top .adimg{ padding:0 0 10px 0; margin-top:-10px;}
.adpage_forumdisplay .adposition_top .adlink{ padding:0 10px 10px 10px; }

.adpage_viewthread .adposition_top .adimg{ padding:10px 0 0 0; }
.adpage_viewthread .adposition_top .adlink{ padding:10px 10px 0 10px; }

.adpage_portal .adposition_top .adimg{ padding:0 0 10px 0;}
.adpage_portal .adposition_top .adlink{ padding:10px; }

.adpage_list .adposition_top .adimg{ padding:0 0 10px 0;}
.adpage_list .adposition_top .adlink{ padding:10px; }

.adpage_view .adposition_top .adimg{ padding:10px 0 0 0;}
.adpage_view .adposition_top .adlink{ padding:10px 10px 0 10px; }

.adposition_bot{ padding:10px; background:#fff; border-top:1px solid #e5e5e5; border-bottom:1px solid #ddd;}
.postlist .adposition_bot,.newslist .adposition_bot{ border-top:0px;}
.adposition_bot .adimg{ position:relative}
.adposition_bot .adimg span{ position:absolute; bottom:0px; right:0px; background:#000; background:rgba(0,0,0,0.6); filter:alpha(opacity=60); height:24px; line-height:24px; padding:0 10px; color:#fff}

