/*padding*/
.p10{ padding:10px;}
.pl10{ padding-left:10px; }
.pr10{ padding-right:10px; }
.pt10{ padding-top:10px; }
.pb10{ padding-bottom:10px; }
.p15{ padding:15px;}
.pl15{ padding-left:15px; }
.pr15{ padding-right:15px; }
.pt15{ padding-top:15px; }
.pb15{ padding-bottom:15px; }

/*margin*/
.m10{ margin:10px;}
.ml10{ margin-left:10px; }
.mr10{ margin-right:10px; }
.mt10{ margin-top:10px; }
.mb10{ margin-bottom:10px; }
.m20{ margin:20px;}
.ml20{ margin-left:20px; }
.mr20{ margin-right:20px; }
.mt20{ margin-top:20px; }
.mb20{ margin-bottom:20px; }

/*position*/
.po_re{ position:relative; }
.po_ab{ position:absolute; }
.po_fi{ position:fixed; }

/*text-align*/
.tc{ text-align:center}
.tl{ text-align:left}
.tr{ text-align:right}

/*size*/
.size_12{ font-size:12px}
.size_14{ font-size:14px}
.size_16{ font-size:16px}
.size_18{ font-size:18px}
.size_20{ font-size:20px}
.size_24{ font-size:24px}

/*float*/
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .cl { zoom: 1; }
.l{ float:left}
.r{ float:right}


/*color*/
.cc,.cc a{ color:#f65d5b }
.cg,.cg a{ color:#999; }
.cm,.cm a{ color:#666; }
.cf,.cf a{ color:#fff; }
.ca,.ca a{ color:#ac493d; }
.cw,.cw a{ color:#ccc; }

/*background*/
.b_c{ background:#f65d5b; }
.b_g{ background:#f3cbcb; }
.b_f{ background:#fff; }
.b_l{ background:#f6f6f6; }
.b_e{ background:#eee; }
.b_i{ background:#fcfbf3; }
.b_w{ background:#33ccff; }
.b_d{ background:#ddd; }
/*border*/
.bo_b{ border-bottom:1px solid #ddd;}
.bo_t{ border-top:1px solid #ddd;}
.bo_l{ border-left:1px solid #ddd;}
.bo_r{ border-right:1px solid #ddd;}

.bo_bl{ border-bottom:1px solid #e5e5e5;}
.bo_tl{ border-top:1px solid #e5e5e5;}
.bo_ll{ border-left:1px solid #e5e5e5;}
.bo_rl{ border-right:1px solid #e5e5e5;}
