/*--------------------COMM--------------------*/
/*num*/
.num{ overflow:hidden;white-space:nowrap; font-size:9px; position:absolute; height:16px; line-height:16px; padding:0 5px;-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
/*pics*/
span.pics{ position:absolute; padding:3px 10px; font-size:14px;  background:#000; color:#fff; background:rgba(0,0,0,0.5); filter:alpha(opacity=50);}
span.pics em:before{ font-family:"ElegantIcons"; content: '\e005'; padding-right:5px;}

/*footer_btn*/
.footer_btn{ position:fixed; left:0px; bottom:0px; padding:10px 0; width:100%; text-align:center}
.footer_btn button{ height:30px; line-height:30px; padding:0 6px; margin:0 3px; }

/*statcode*/
.statcode{ display:none}

/*btn_icon*/
.btn_icon{ height:40px; line-height:40px;}
.btn_icon a{ padding-right:10px;}
.btn_icon img{ width:40px; height:40px;}

/*jump*/
.jump_c{ padding:30px 10px 0 10px; text-align:center; font-size:14px;}
.jump_c p{ line-height:30px;}

.smilie,.vm{ width:28px;}


/*footerfastbtn*/
.footerfastbtn{
	position:fixed;
	left:0px;
	z-index:200;
	bottom:0px;
	width:100%;
	text-align:center;
	height:40px;
	line-height:40px;
	background:#000;
	background:rgba(0,0,0,0.5);
	filter:alpha(opacity=50);
}
.footerfastbtn span:before{ font-family:"ElegantIcons"; content: '\6c'; color: #f65d5b; padding-right:10px;}

/*topnv*/
.topnv{ height:50px; position:relative}
.topnv ul{  padding:0 46px 0 8px;}
.topnv.topnv_nr ul{ padding:0 8px;}
.topnv .imui_scrollx_area{ height:50px;}
.topnv li{ height:49px; line-height:49px;}
.topnv li a{ padding:0 5px;}
.topnv li span{ padding-left:5px;}

.topnv .fbl{ position:absolute; right:42px; top:15px; height:19px; width:1px; overflow:hidden; text-align:right; line-height:45px; font-size:14px; z-index:130}
.topnv .mbg{ width:23px; height:46px; position:absolute; top:0px; right:36px;  background:url(../images/topbg.png) no-repeat 0 0; background-size:cover; z-index:120}
.topnv .favforum{ position:absolute; right:0px; top:0px; height:45px; line-height:45px; width:36px; text-align:right; padding-right:10px; z-index:100; }
.topnv .favforum span:before{ font-family:"ElegantIcons"; content:'\e09e'; padding-right:5px; vertical-align:middle;}

.topnv.po_fi .fbl,.topnv.po_fi .mbg,.topnv.po_fi .favforum{ display:none !important}
.topnv .b_c li{ border-bottom:0px;}
.topnv .b_c li.a{ border-bottom:0px;}
.topnv .b_c li a{ color: rgba(255, 255, 255, 0.6);}
.topnv .b_c li.a a{ color: rgba(255, 255, 255, 1);}

/*send*/
.sendpm{ position:fixed; left:0px; bottom:0px; width:100%; z-index:20; }
.sendpm table{ width:100%;}
.sendpm table td.smile{ padding:10px; width:30px;}
.sendpm table td.smile img{ width:30px; height:30px; display:block !important;}
.sendpm table td.message input{ height:28px; line-height:28px;-moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; text-indent:10px; }

.sendpm table td.send{ width:50px; padding:10px;}
.sendpm table td.send button{ width:50px;}

/*pmsmile*/
.pmsmile{ position:fixed; left:0px; bottom:51px; width:100%; padding-bottom:5px; z-index:20}

/*smiles*/
.smiles{ padding:5px 5px 0 5px;}
.smiles li{ float:left; width:12.5%}
.smiles li div{ padding:5px;}
.smiles li div img{ width:100%; display:block !important;}
.smiles_10 li{ width:10%}

/*upimg*/
.post_imglist { padding:10px 0 0 10px; }
.post_imglist li { position:relative; float:left; padding: 5px 10px 5px 0; }
.post_imglist li .del { position: absolute; left:-5px; top:-5px; }
.post_imglist li .p_img img { padding:2px;}

.post_imglist li.upimg{ position:relative;}
.post_imglist li.upimg a{ width:54px; height:54px; padding:2px; display:block; text-align:center; line-height:50px; font-size:36px;}
.post_imglist li.upimg a input{ opacity:0; width:54px; height:54px; position:absolute; z-index:10; left:0px; top:0px;}

/*commentitle*/
.commentitle{ height:50px; line-height:50px; padding:0 10px }
.commentitle span{ font-size:16px}
.commentitle em{ padding-left:5px;}

/*notice*/
.notice{ padding:10px 10px 0 10px;}
.notice .lg{ padding:10px;}

/*userlist*/
.userlist{}
.userlist li{ float:left; width:25%; padding:5px 0; text-align:center}
.userlist li div.w{ padding:0 8px 0 8px;}
.userlist li div.n{ padding:8px 8px 0 8px; -moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; }
.userlist li img{ width:100%; -moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px;}
.userlist li p{ height:30px; line-height:30px; overflow:hidden}

/*area*/
.emp{ font-size:16px; padding:50px 20px; line-height:2.0; text-align:center}
.clickmore{ text-align:center; padding:10px 0 0 0; font-size:14px;}
.nolist{ padding:20px; text-align:center; font-size:16px}

/*page*/
.nextpage{ display:block; text-align:center; padding:10px 0; font-size:16px}

.pnpage{ text-align:center; padding:10px 0;}
.pnpage .page,.pnpage .pg{ display:inline-block;}
.pnpage .page a,.pnpage .pg a{ float:left; width:100px; height:40px; margin:0 10px; line-height:40px; font-size:16px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

.empt{ padding-top:20px;}
.empt img{ width:128px;}
.empt p{ line-height:30px;}

.bestuser{ padding:10px 15%;}
.bestuser li{ float:left; width:33.33%; text-align:center}
.bestuser li div{ padding:10px 10px 0 10px;}
.bestuser li div img{ width:100%; -moz-border-radius:30px; -webkit-border-radius: 30px; border-radius: 30px; }
.bestuser li div h4{ height:30px; line-height:30px;white-space:nowrap; text-overflow:ellipsis; overflow:hidden; -webkit-text-overflow:ellipsis; font-weight:400}

/*--------------------find--------------------*/

#find_area{
	top:0px;
	background:#eee;
	background:rgba(238,238,238,0.9);
}
#find_area .body_main{
	top:0px;
	padding:0 0 60px 0;
	height:-moz-calc(100% - 60px);
	height:-webkit-calc(100% - 60px);
	height:calc(100% - 60px);	
}


.closepage{ height:50px; line-height:50px; display:block; width:100%; z-index:1020; left:0px; bottom:0px; font-size:24px}
.closepage:before{ font-family:"ElegantIcons"; content:"\4d";font-size:32px}

.find_user{ height:125px; position:relative; padding-top:15px;}
.find_user img{ width:60px; height:60px; margin:0 auto 15px auto; -moz-border-radius:30px; -webkit-border-radius: 30px; border-radius: 30px;}
.find_user h3{ height:50px; line-height:45px;	background:#fff;background:rgba(255,255,255,0.9); font-weight:400; }
.find_user h3 a{ margin-left:5px;}
.find_user .num{ top:15px; left:55%;}

.main_app{ padding:15px 0;}
.main_app ul{ box-sizing:border-box; }
.main_app li{ float:left; width:25%; text-align:center; }
.main_app li a{ display:block;border-right:1px solid #eee;}
.main_app li:last-child a{ border-right:0px;}
.main_app li h4{ font-weight:400;}

/*apps*/
.apps { padding ; text-align:center}
.apps ul{ padding:0 5%;}
.apps li{ float:left; width:25%; overflow:hidden; text-align:center;}
.apps li img{ width:36px; height:36px; text-align:right}
.apps li a{ display:block;padding:10px 0;}
.apps li p{ font-size:16px; height:20px; line-height:20px; overflow:hidden }

.find_title{ padding:20px 50px 10px 50px}
.find_title img{ width:100%;}


/*--------------------discuz--------------------*/

/*formlist*/
.formlist h2{ height:20px; line-height:20px; padding:12px 10px; overflow:hidden; font-weight:400; }
.formlist h2 em{ width:6px; height:12px; margin-right:10px; margin-top:4px;}
.formlist h2 img{ height:20px;}

.formlist table{ width:100%; }
.formlist table a{ display:block}

.formlist td.single{ padding:10px 0; }
.formlist td.single img{ width:40px; height:40px; vertical-align:middle; margin-right:10px; margin-left:10px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.formlist td.single span{ float:right; margin-right:10px; height:16px; line-height:16px; padding:0 5px; margin-top:12px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }

.formlist table.multi_2 td{ padding:10px 0; }
.formlist table.multi_2 td img{ width:40px; height:40px; float:left; margin-right:10px; margin-left:10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.formlist table.multi_2 td h3{ font-weight:400; height:24px; line-height:24px; overflow:hidden; }
.formlist table.multi_2 td p{ height:16px; line-height:16px; }

.formlist table.multi_3 td{ text-align:center; padding:10px 0; position:relative;}
.formlist table.multi_3 td img{ width:40px; height:40px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.formlist table.multi_3 td h3{ font-weight:400; height:24px; line-height:24px; overflow:hidden;  }
.formlist table.multi_3 td span{ position:absolute; height:16px; line-height:16px; padding:0 5px; font-size:12px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; top:10px; left:60%;}


/*forums*/
.subform ul{ padding:5px; }
.subform li{ width:25%; float:left; padding:5px;box-sizing:border-box;}
.subform li a{ height:32px; overflow:hidden; line-height:32px; display:block; text-align:center; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }


/*ban_forums*/
.ban_forums{ height:100%;}
.ban_forums .cats{ height:100%; width:90px; background:url(../images/v.png) repeat-y 100% 0;}
.ban_forums .cats ul{ height:100%; width:90px;  }
.ban_forums .cats li{ height:45px; line-height:45px; display:block;white-space:nowrap; text-overflow:ellipsis; overflow:visible; border-left:3px solid #eee; text-align:center; z-index:2; position:relative  }
.ban_forums .cats li.a:after{ content: " "; width:1px; height:45px; position:absolute; right:-1px; top:0px; }

.ban_forums .forums{ height:100%;-webkit-overflow-scrolling :touch;overflow-y:scroll; overflow-x:hidden }
.ban_forums .forums ul { padding:0 10px;}
.ban_forums .forums ul li{ position:relative}
.ban_forums .forums ul li:after{ content: ""; -webkit-transform: rotate(45deg); transform: rotate(45deg);height: 10px;width: 10px; border-width: 2px 2px 0 0; border-style: solid; position:absolute; right:0px; top:25px;}
  
.ban_forums .forums ul li a{ display:block; padding:8px 0; }
.ban_forums .forums ul li img{ width:48px; height:48px; vertical-align:middle; margin-right:10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; float:left; }
.ban_forums .forums ul li h3{ font-weight:400; height:28px; line-height:28px;}
.ban_forums .forums ul li p{ height:20px; line-height:20px;}
.ban_forums .forums ul li p em:after{ content: "/"; padding:0 8px;}
.ban_forums .forums ul li span.b_c{ padding:0 5px; position:absolute; right:10px; top:23px;-moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; height:16px; line-height:16px; }


/*--------------------guide--------------------*/

/*todaybest*/
.todaybest{ margin-top:10px; padding:15px; height:48px; overflow:hidden;}
.todaybest img{ width:48px; height:48px; float:left; margin-right:10px;}
.todaybest h3{ font-size:18px; height:24px; line-height:24px;}
.todaybest h3 span{ font-weight:400; font-size:12px; margin-left:5px; margin-top:4px;}
.todaybest p{ font-size:14px; height:24px; line-height:24px; overflow:hidden; }

/*todays*/
.todays{ width:100%;}
.todays td{ padding:10px 10px;}
.todays td p{ text-align:center; padding-bottom:10px; height:20px; line-height:20px; }
.todays td p span{ padding:3px 10px;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}

.todays td ul{  border-bottom:0px;}
.todays td ul li{ padding:10px; }
.todays td ul li.big img{ width:100%;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.todays td ul li.big h4{ font-size:18px; line-height:30px;}

.todays td ul li.small{ font-size:16px; line-height:25px; height:50px; overflow:hidden; }
.todays td ul li.small img{ float:right; width:50px; height:50px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin-left:10px;}
.todays td ul li.small a{ line-height:25px; height:50px; overflow:hidden; display:block; }

/*indexapp*/
.indexapp{}
.indexapp li{ width:25%; float:left;}
.indexapp li img{ width:48px; height:48px;}



.guidi_app{}
.guidi_app_area{ height:92px; position:relative}
.guidi_app_area ul{ padding:10px;}
.guidi_app_area .imui_scrollx_area{ height:92px;}
.guidi_app_area li { text-align:center; display:inline}
.guidi_app_area li img{ width:48px; height:48px;}
.guidi_app_area li p{ height:20px; line-height:20px;}
.guide_hot{ height:20px; line-height:20px; overflow:hidden; }
.guide_hot img{ height:20px; vertical-align:middle; margin-right:10px;}

/*index_best*/
.index_best{}
.index_best li{}
.index_best li img{ width:100px; float:left; margin-right:10px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.index_best li h4{ font-weight:400; font-size:16px; line-height:25px;}
.index_best li h4 span{ display:none}
.index_best li p{ height:25px; line-height:25px;}
.index_best li p span{ padding-right:10px;}
.index_best li p em{ font-size:14px;}
.index_best li p em:before{ font-family:"ElegantIcons"; content: '\76'; padding-right:5px;}
.index_best li:last-child{ border-bottom:0px;}

/*indexgroup*/
.indexgroup{ }
.indexgroup li{ float:left; width:50%; padding:10px;box-sizing:border-box;  }
.indexgroup li img{ width:48px; height:48px; float:left; margin-right:10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.indexgroup li h4{ height:48px; line-height:48px; font-weight:400; overflow:hidden; }
/*--------------------forumdisplay--------------------*/

/*sublist*/
.sublist{ }
.sublist ul{ padding:10px 10px 0 10px;}
.sublist li{ float:left; width:25%; text-align:center}
.sublist li div{ padding:0 5px 10px 5px;}
.sublist li div img{ width:60%;}
.sublist li div h4{ height:20px; line-height:20px; overflow:hidden; font-weight:400;  }

/*forumtopthread*/
.forumtopthread{ margin-top:10px; padding:7px 10px;}
.forumtopthread li{ height:34px; line-height:34px; font-size:16px;  overflow:hidden;}
.forumtopthread li span{ margin-right:6px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.forumtopthread li span:before{ font-family:"ElegantIcons"; content: '\36'; font-size:18px;}

/*foruminfo*/
.foruminfo img{ width:48px; height:48px; margin-right:10px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.foruminfo .ding{ float:right; padding:0 10px; height:26px; line-height:26px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin-top:11px;}
.foruminfo span.ding:before{ font-family:"ElegantIcons"; content: '\4e'; padding-right:5px;}
.foruminfo h3{ height:28px; font-weight:400; line-height:32px;}
.foruminfo p{ line-height:20px;}
.foruminfo p em:after{ content: "/"; padding:0 8px; }


/*threadlist*/
.threadlist{ margin-top:10px; width:100%;}
.threadlist td{ padding-bottom:10px;}

.listinfo{ font-size:12px; padding-top:8px;}
.listinfo span{ padding:0 5px; }
.listinfo em{ padding-right:5px; }

.listuser{ padding:10px 10px 0 10px}
.listuser img.author{ width:40px; height:40px; float:left; margin-right:10px;-moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px;}
.listuser h3{ font-size:16px; font-weight:400; height:24px; line-height:24px; overflow:hidden}
.listuser h3 span.cc{ font-size:14px;}
.listuser h3 a.user,.listuser h3 img.gender,.listuser h3 span.b_c{ float:left}
.listuser h3 img{ width:16px; height:16px;vertical-align:middle;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin-left:5px; margin-top:5px;}
.listuser h3 span.b_c{ font-size:12px; height:18px; line-height:18px; -moz-border-radius:10px; margin-top:3px; -webkit-border-radius:10px; border-radius:10px; padding:0 8px; margin-left:5px;}
.listuser p{ height:16px; line-height:16px;}

.listpics{ padding:0 10px; position:relative}
.listpics ul li{ float:left; width:32%;}
.listpics ul.ban li{ width:49%;}
.listpics ul.ban li.r{ float:right}
.listpics ul li img{ width:100%;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; display:block; }
.listpics ul li.m{ margin-left:2%; margin-right:2%;}
.threadlist span.pics{ left:10px; bottom:5px; }

.listbtn{ padding:10px 0; height:30px; line-height:30px;}
.listbtn li{ float:left; width:33.33%; text-align:center; font-size:14px}
.listbtn li a{ display:block; }
.listbtn li em:before{ font-family:"ElegantIcons"; padding-right:5px;}
.listbtn li.z em:before{ content: '\e101';}
.listbtn li.m em:before{ content: '\76';}
.listbtn li.y em:before{ content: '\e106';}
.listbtn li span{ padding-right:5px;}



.thread_ioc{ font-weight:400; padding:3px 5px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin-right:5px;}

.bigsub{ height:30px; line-height:30px; overflow:hidden; font-weight:400}
.bigsub span.ico{ padding-right:5px; }
.bigsub span.ico:before{  font-family:"ElegantIcons";content: '\e005';}

.smallsub{ font-size:16px; margin:10px 0; padding:0 10px; height:30px; line-height:30px; overflow:hidden; font-weight:400}

.onebigpic img{ width:100%; }

.onesmallpic img{ float:right; width:100px; margin-left:10px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.onesmallpic h3{ line-height:28px; max-height:56px; overflow:hidden; font-size:16px; font-weight:400}
.onesmallpic .listinfo{ padding-top:4px;}


/*picthreadlist*/
.picthreadlist{ width:100%;}
.picthreadlist td{ padding:0 10px 10px 10px;}
.picthreadlist div{ padding:10px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; position:relative;}
.picthreadlist div img.cover{ width:100%;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.picthreadlist div h4{ font-weight:400; line-height:28px; padding:10px 0;}
.picthreadlist div p .author img{ width:30px; height:30px;-moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; vertical-align:middle; margin-right:6px;}
.picthreadlist span.pics{ left:10px; top:10px; }

.picthreadlist  p .r{ padding-left:6px;}
.picthreadlist .ico em:before{ font-family:"ElegantIcons"; padding-right:5px; vertical-align:middle}
.picthreadlist .ico_view em:before{ content: '\e101';}
.picthreadlist .ico_replies em:before{ content: '\76';}
.picthreadlist .ico_recommend em:before{ content: '\e106';}

.picthreadlist .pic_ico{ padding-top:5px;}
.picthreadlist .pic_ico li a{ display:block; padding-right:10px;}
.picthreadlist .pic_ico li em.ico:before{ font-family:"ElegantIcons"; padding-right:5px; vertical-align:middle; font-size:16px}
.picthreadlist .pic_ico li em.ico_reply:before{ content: '\76';}
.picthreadlist .pic_ico li em.ico_zan:before{ content: '\e106';}
.picthreadlist .pic_ico li em.ico_tu:before{ content: '\e0eb';}


/*--------------------viewthread--------------------*/

/*topsub*/
.topsub{ padding:10px;}
.topsub h2{ font-size:20px; line-height:34px;  }
.topsub h2 span{ font-weight:400; font-size:16px; padding-left:10px;}
.topsub h2 em{ font-weight:400; font-size:12px; padding-left:10px;}

.topsub p{ font-size:14px; line-height:30px; }
.topsub p a.gz{ -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:0 10px;}
.topsub p span.gz{ padding:0 10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.topsub p img.avatar { width:24px; height:24px; margin-right:5px; vertical-align:middle;-moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; }
.topsub p img.gender{ width:16px; height:16px;vertical-align:middle;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin-right:5px; margin-top:7px;}
.topsub p a{ padding-right:5px;}
.topsub p em{ padding-left:5px;}
.topsub p a.level{ font-size:12px; height:16px; line-height:16px; margin-top:7px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:0 6px;}

#special.topsub p{ padding-top:0px;}


/*viewtag*/
.viewtag_tags{ padding:5px;}
.viewtag_tags li{ float:left; max-width:20%; text-align:center; overflow:hidden;}
.viewtag_tags li a{ display:block; padding:0 10px; font-size:14px; height:30px; line-height:30px;overflow:hidden; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; margin:5px;}

/*boxico*/
.imui_box h3 span.tag:before{ content:"\e017";}
.imui_box h3 span.rel:before{ content:"\68";}

/*relateitem*/
.relateitem{ margin:0 10px;}
.relateitem ul{ padding-top:5px;}
.relateitem ul li{ font-size:16px}
.relateitem ul li a{ display:block;height:42px; line-height:42px; overflow:hidden;}
.relateitem ul li.first{ border-top:0px;}

/*sofa*/
.sofa{ text-align:center; padding:10px 0 20px 0; font-size:14px}
.sofa p.bo_bl{ padding:10px 10px 20px 10px; }
.sofa p.bo_bl .imui_btn_mini{ margin-right:10px; vertical-align:middle}
.sofa img{ width:48px; margin-bottom:10px;}

/*form*/
.viewcontent h2.title{ padding:10px 5px; font-size:18px; line-height:1.8;}
.viewcontent p.form{ padding-top:10px; font-size:14px; text-align:left; margin-top:10px;}
.viewcontent p.form em{ padding:0 5px;}

/*postmessage*/
.postmessage{ line-height:1.8; font-size:16px; padding:0 5px; }
.postmessage img{ max-width:100%; vertical-align:middle; width:expression(this.width > 300 ? 100%: true); margin-bottom:10px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

/*img_list*/
.img_list li div{ padding:5px;}
.img_list li img{ max-width:100%; vertical-align:middle; width:expression(this.width > 300 ? 100%: true); -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.showpic{ padding-top:10px;}
.showpic img{  max-width:100%; vertical-align:middle; width:expression(this.width > 300 ? 100%: true); -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

/*postitle*/
.postitle{ padding:15px 10px 15px 10px; line-height:20px;}
.postitle span{ font-size:16px}
.postitle em{ float:right; font-size:14px}


/*postlist*/
.postlist{ width:100%; }
.postlist .post_user{ width:40px; padding:10px 0 10px 10px; vertical-align:text-top;position:relative;}
.postlist .post_user p{}
.postlist .post_user img{ width:32px; height:32px;-moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px;}
.postlist .post_content{ padding:10px 10px 10px 5px;}
.postlist .post_userinfo{ padding-left:5px;}

.postlist .post_userinfo h4{ line-height:16px; height:16px; padding:0 0 5px 0; font-weight:400}
.postlist .post_userinfo h4 em.iz:after{ font-family:"ElegantIcons"; content: '\e106'; padding-right:6px;}
.postlist .post_userinfo h4 em.ir:after{ font-family:"ElegantIcons"; content: '\76'; padding-right:6px;}
.postlist .post_userinfo h4 em.is:after{ font-family:"ElegantIcons"; content: '\52'; padding-right:6px;}
.postlist .post_userinfo h4 span.r a{display:inline-block; padding-left:10px;}
.postlist .post_userinfo p{ height:24px; line-height:24px; }
.postlist .post_userinfo p em{ padding-right:6px;}
.postlist .post_userinfo p em:after{ content:"|"; padding-left:6px; font-size:10px;}
.postlist .post_userinfo .gender{ width:16px; height:16px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; vertical-align:middle }
.postlist .post_userinfo .level{ padding:0 5px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}


/*viewsort*/
.viewsort{ width:100%; border-bottom:0px; margin-bottom:10px;}
.viewsort th{ overflow:hidden; text-align:right; width:60px;}
.viewsort td img{ width:100%;}

/*discuzcode*/
.quote{ padding:5px 0;}
.discuz_quote{ padding:5px 10px; margin:10px 0; font-size:14px}
.discuz_quote h4{ font-weight:400;}
.discuz_quote h4 em{ font-size:12px;}
.locked{ padding:10px; font-size:14px;}
.showhide{ padding:10px;}
.showhide h4{ padding-bottom:10px; font-size:18px}
.free{ padding:10px; margin-bottom:10px;}
.code{ padding:10px; font-size:12px;}
.files{ padding:10px 0 10px 0;}
.files img{ float:left;margin-right:10px; }
.files h4{ font-size:16px; height:20px; line-height:20px;}
.files h4 span{ font-size:12px; padding-left:5px; font-weight:400}
.files p{ font-size:12px; padding-top:5px;}


/*threadbottom*/
.threadbottom{ position:fixed; left:0px; bottom:0px; box-sizing:border-box; width:100%; z-index:10;}
.threadbottom ul{ padding:0 10px;}
.threadbottom li{ text-align:center;}
.threadbottom li a{ display:block; padding:8px 10px 0 10px; height:42px; }
.threadbottom li a h4{ height:20px; line-height:20px; font-weight:400}
.threadbottom li a p{ height:16px; line-height:16px;}
.threadbottom li a p em{ padding-left:5px;}

.threadbottom li.recommend a h4:before{ font-family:"ElegantIcons"; content:"\e106";}
.threadbottom li.favorite a h4:before{ font-family:"ElegantIcons"; content:"\e031";}
.threadbottom li.shar a h4:before{ font-family:"ElegantIcons"; content:"\e003";}

.threadbottom li.reply a{ padding:10px 0; height:30px; line-height:28px; text-align:center;}
.threadbottom li.reply a span{ display:block; -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; }

/*fastpost*/
.fastpost{ position:fixed; left:0px; bottom:0px;  z-index:1020; width:100%; padding-bottom:10px;}
.fastpost div.p10{ padding:10px 10px 0 10px}
.fastpost .post_form_area{ margin-top:0px; margin-bottom:10px;}

.fastpost table{ width:100%; }
.fp_inp{	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.fp_inp textarea{ min-height:36px;}
.fp_btn{ padding:10px 0 0  0; width:60px;}
.fp_btn .imui_btn.imui_btn_mini{ font-size:16px; width:60px; height:36px; line-height:36px; overflow:hidden;}
.fp_more { padding:10px 0 0 0}
.fp_more img{ width:36px; height:36px; margin-right:10px;}

/*recommends*/
.recommends .open_btn{ width:40px; text-align:center;}
.recommends .open_btn a{ display:block; height:50px; line-height:50px;}
.recommends .open_btn a:after{ font-family:"ElegantIcons"; content:"\37"; font-size:18px;}
.recommends_area{ line-height:24px; } 
.recommends_area span{ padding-right:5px;}
.recommends_area span em.ico:before{ font-family:"ElegantIcons"; content:"\e106"; padding-right:5px; font-size:16px}
.recommends_area a{ padding:0 3px;}

.close_btn a{ display:block; height:30px; line-height:30px; text-align:center}
.close_btn a:after{  font-family:"ElegantIcons"; content:"\36"; font-size:18px;}

.recommends_close .recommends_area{ padding:13px 0 13px 10px;}
.recommends_close .recommends_area div{ height:24px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; -webkit-text-overflow:ellipsis;}
.recommends_close .close_btn{ display:none}

.recommends_open .open_btn{ display:none}
.recommends_open .recommends_area{ padding:10px;}

.rate_shang{ text-align:center;}
.rate_shang h3 a{ display:inline-block; width:50px; height:50px;-moz-border-radius:30px; -webkit-border-radius:30px; border-radius:30px; line-height:50px; text-align:center; font-weight:400; font-size:24px}
.rate_shang h3 {}

.ratelog{}
.ratelog li{ display:inline-block;}
.ratelog li img{ width:32px; height:32px;-moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px;}
.rate_count{ padding:0 5px;}

.rateloglist{}
.rateloglist li{}
.rateloglist li img{ float:left; margin-right:10px; width:48px; height:48px; -moz-border-radius:24px; -webkit-border-radius:24px; border-radius:24px;}
.rateloglist li h3{ font-weight:400; height:30px; line-height:30px;}
.rateloglist li p{ height:18px; line-height:18px;}
.rateloglist li span.r{ height:48px; line-height:48px;}
/*--------------------special--------------------*/

.specialcontent{ padding:0 5px 10px 5px;}

/*poll_img*/
.poll_img li{ float:left; width:50%;}
.poll_img li div.optimg{ overflow:hidden; position:relative;}
.poll_img li img{ width:100%;}
.poll_img li .optt{ position:absolute; width:100%; left:0px; bottom:0px;}
.poll_img li .optt_n{ padding:0 10px; height:30px; line-height:30px; background:#000; color:#fff; background:rgba(0,0,0,0.5); filter:alpha(opacity=50); }
.poll_img li input{ display:none}
.poll_img div.on div.optimg img{ opacity:0.5}
.poll_img li.l .item{ padding-right:5px}
.poll_img li.r .item{ padding-left:5px}
.poll_img li div.optc{ padding-top:10px;}

/*poll_text*/
.poll_text li input{ display:none}
.poll_text li p.optcontent{ padding-bottom:5px; font-size:14px; line-height:1.8;}
.poll_text li p.jdt span.i{ width:60%}
.poll_text span.click:after{ font-family:"ElegantIcons"; content:'\5b'; font-size:16px; vertical-align:middle; padding-right:3px; }
.poll_text li.on span.click:after{ content:'\5c'; }

/*optc*/
p.jdt{ height:20px; line-height:20px; overflow:hidden}
p.jdt span.i{ float:left; width:100%; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin-top:5px}
p.jdt em{ float:left; height:10px; overflow:hidden;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
p.count{ padding-top:10px; }

.poll_img p.jdt{ height:10px; line-height:10px;}
.poll_img p.jdt span.i{ margin-top:0px;}


/*reward*/
.reward_price{ font-size:16px; padding-bottom:10px;}
.reward_price strong{ font-size:24px; padding:0 5px;}
.reward_price em{}
.reward_price em:before{ content:'\e0ed';font-family:"ElegantIcons";padding-right:5px; font-size:32px}
.rwdbst{ width:100%;}
.rwdbst th{ width:20px; line-height:1.2; padding:10px; text-align:center; font-size:16px}
.rwdbst td{ padding:10px; vertical-align:top;}
.rwdbst td img{ float:left; width:48px; height:48px; margin-right:10px;-moz-border-radius:24px; -webkit-border-radius:24px; border-radius:24px;}
.rwdbst td h3{ font-size:16px; padding:5px 0; font-weight:400}
.rwdbst td h3 a{ float:right; font-size:12px; font-weight:400}
.rwdbst td p{ font-size:14px; line-height:1.8;}


/*act*/
.act_info img{ width:100%;}
.act_info table { width:100%; }
.act_info table th{ width:100px; text-align:left; padding:10px; font-size:14px;}
.act_info table td{ padding:10px; font-size:14px}
.act_info table td a.reset{ padding:3px 10px; margin-left:10px;}

/*applylist*/
.applylist{}
.applylist li{ padding:10px 0;}
.applylist li div.avatar{ width:48px; float:left; margin-right:10px;}
.applylist li div.info{ float:left;}
.applylist li img{ width:48px; height:48px; -moz-border-radius:24px; -webkit-border-radius:24px; border-radius:24px; }
.applylist li h4{ font-size:16px; padding:5px 0;}
.applylist li h4 span{ font-size:12px; padding-left:5px; font-weight:400}
.applylist li p.message{ line-height:1.8; font-size:14px; padding-bottom:5px;}
.applylist li p.date{ font-size:12px}


/*debate_point*/
.debate_point{ width:100%; }
.debate_b{ width:9%}
.debate_square{ width:32%; vertical-align:bottom; height:150px;}
.debate_vs{ width:18%; text-align:center; font-size:36px;}
.debate_opponent{ width:32%; vertical-align:bottom; vertical-align:bottom; height:150px;}
.chart{ width:30px; margin:0 auto;-moz-border-radius:15px 15px 0 0; -webkit-border-radius:15px 15px 0 0; border-radius:15px 15px 0 0; }
.debate_point button{ border:0px; background:none; width:100%; height:40px; line-height:40px; font-size:16px}


.debate_content{ margin-bottom:10px; width:100%; }
.debate_content td{ padding:0 10px; width:50%; vertical-align:top;}

.debate_content h3{ font-size:16px; height:40px; line-height:40px; font-weight:400}
.debate_content h3 span{ font-weight:400; font-size:12px; padding-left:5px;}
.debate_content h3 a{ float:right; font-weight:400;}
.debate_content p{ font-size:14px; padding-bottom:10px;}

.debate_debater{}
.debate_debater li{ width:50%; text-align:center; float:left;}
.debate_debater li img{ width:48px; height:48px;-moz-border-radius:24px; -webkit-border-radius:24px; border-radius:24px;}
.debate_debater li h4{ font-weight:400; height:30px; line-height:30px; overflow:hidden;}

.debate_endtime{ padding-bottom:10px; font-size:14px; text-align:center}


.debate_end{ margin-top:10px;}
.debate_end h3{ height:40px; line-height:40px; padding:0 10px; font-size:16px; font-weight:400;}
.debate_end h3 span{ float:right; font-size:12px}
.debate_end div{ padding:5px 10px;}
.debate_end .umpirepoint{ font-size:14px; line-height:1.8; padding-bottom:5px; }
.debate_end h4{ font-size:14px; font-weight:400}
.debate_end h4 span{ padding-left:5px;}


/*trade_list*/
.trade_list{}
.trade_list li{ padding-top:10px; }
.trade_list li img{ width:100%;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.trade_list li h3{ font-size:16px; height:40px; line-height:40px;}
.trade_list li table{ width:100%; font-size:14px}
.trade_list li table th{ width:80px; padding:5px 0; padding-left:10px;}
.trade_list li table td.price strong{ font-size:24px; padding-right:5px;}
.trade_list li table td.price span strong{ font-size:16px; font-weight:400}
.trade_list li table td.costprice strong{ font-weight:400; font-size:16px; text-decoration:line-through}

.trade_manage{ padding-bottom:10px; font-size:16px}
.trade_manage a{ text-decoration:underline; padding-right:10px;}

.trades{ padding:5px 5px 0 5px;}
.trades li{ width:33.33%; float:left; text-align:center}
.trades li div{ padding:5px;}
.trades li div img{ width:100%;}
.trades li div p{ height:30px; line-height:30px; overflow:hidden; font-size:14px }


/*--------------------post--------------------*/

/*addpoll*/
.imui_blocks_poll .imui_block_ft { position:relative; width:100px; height:30px;}
.imui_blocks_poll .imui_block_ft em:before{ content: '\51'; font-family:"ElegantIcons"; width:30px; line-height:28px;}
.imui_blocks_poll .imui_block_ft span{ width:30px; height:30px; position:absolute; right:50px; top:0px;}
.imui_blocks_poll .imui_block_ft span img{ width:30px; height:30px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.imui_blocks_poll .imui_block_ft input.upopimg{ width:30px; height:30px; position:absolute; right:20px; top:0px; z-index:20; opacity:0; overflow:hidden;}
.imui_blocks_poll .imui_block_ft:after{ position:absolute; content:'\e005'; z-index:10;font-family:"ElegantIcons"; width:25px; line-height:25px;right:20px; top:0px; text-align:center; font-size:18px}

/*--------------------Home--------------------*/
.body_space_profile{
	padding:0 0 75px 0;
	height:-moz-calc(100% - 75px);
	height:-webkit-calc(100% - 75px);
	height:calc(100% - 75px);
}
.body_space{
	padding:0;
	height:100%;
}

.imui_nv li a.suibian:before{ content:'\e01c';}
.imui_nv li a.haoyou:before{ content:'\e08b';}
.imui_nv li a.wode:before{ content:'\e105';}
.imui_nv li a.guanzhu:before{ content:'\e031';}
.imui_nv li a.fabu:before{ content:'\6c';}

/*space_comm*/
.space_header{ height:240px; position:relative; }

.space_info{ position:absolute; width:100%; left:0px; bottom:50px; text-align:center}
.space_info img{ width:66px; -moz-border-radius:33px; -webkit-border-radius:33px; border-radius:33px;  background:#fff; padding:2px;}

.space_footer{ position:fixed; width:100%; left:0px; bottom:0px; z-index:20;}
.space_footer ul{ padding:5px;}
.space_footer li{ float:left; width:50%;}
.space_footer li a{ display:block; text-align:center; margin:5px; height:40px; line-height:40px; font-size:18px; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }



/*pmlist&userlist*/
.pmlist{ width:100%}
.pmlist td{ padding:10px; position:relative}
.pmlist td.avatar{ width:48px; padding:10px 0 10px 10px; vertical-align:top}
.pmlist td img{ width:48px; height:48px;-moz-border-radius:24px; -webkit-border-radius:24px; border-radius:24px; float:left; margin-right:10px; }
.pmlist td.avatar img{ margin-right:0px;}
.pmlist td em.num{ right:10px; top:32px;}
.pmlist td h3{ font-size:16px; height:24px; line-height:24px; margin:0px !important;}
.pmlist td h3 span{ float:right; font-size:12px; font-weight:400;}
.pmlist td h3 em{ padding-left:10px; font-size:14px; font-weight:400}
.pmlist td p{ line-height:24px; height:24px; overflow:hidden; font-size:14px}
.pmlist td a.delfriend{ position:absolute; right:10px; top:10px; font-size:14px}
.pmlist td.action{ padding:10px 0px; width:124px;}
.pmlist td.action a{ float:left; width:50px; height:30px; line-height:30px; margin-right:10px;}
.pmlist td.select{ padding:10px 10px 10px 0; width:30px; text-align:center}
.pmlist td.select input{ width:20px; height:20px;}

/*task*/
.tasklist{ width:100%; }
.tasklist td{ padding:10px;}
.tasklist td.icon{ width:40px; vertical-align:top;}
.tasklist td.icon img{ width:40px; height:40px;}
.tasklist td.info{ padding:10px 10px 5px 0; position:relative}
.tasklist td.info h3{ font-size:16px; font-weight:400; padding-bottom:5px;}
.tasklist td.info h3 span{ font-size:12px; padding-left:5px;}
.tasklist td.info p.about,.tasklist td.info p.draw{ padding-bottom:5px;}

.tasklist td.info a.taskbtn{ position:absolute; padding:0 10px; height:30px; line-height:30px; top:15px; right:10px;-moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; font-size:14px}

.tasklist td.info div.pec{}
.tasklist td.info div.pec p.qw{ float:left; margin-top:3px; width:80%; height:10px; background:#eee;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.tasklist td.info div.pec p.qw span{ float:left; height:10px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.tasklist td.info div.pec em{ float:left; margin-left:5px;}

.task_detail{ padding:10px; position:relative; margin-bottom:10px;}
.task_detail img{ float:left; width:40px; height:40px; margin-right:10px;}
.task_detail h3{ font-size:16px; font-weight:400}

.task_detail span.cg{ position:absolute;}
.task_detail a.task_btn{ position:absolute; padding:0 10px; height:30px; line-height:30px; top:15px; right:10px;-moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; font-size:14px}

.task_info table{ width:100%; }
.task_info table td{ padding:10px; font-size:14px;}
.task_info table td a{ text-decoration:underline;}
.task_info table td.description{ line-height:1.8;}
.task_info table th{ padding:10px; vertical-align:top; width:60px; font-size:14px;}

.task_pec{ height:16px; padding:15px 10px 5px 10px;}
.task_pec p.qw{ float:left; margin-top:3px; width:80%; height:10px; background:#ccc;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.task_pec p.qw span{ float:left; height:10px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.task_pec em{ float:left; margin-left:5px;}

.task_text{ padding:0 10px 10px 10px;}

.task_users{ padding:5px 5px 0 5px;}
.task_users li{ float:left; width:15%;}
.task_users li div{ padding:8px; text-align:center}
.task_users li div img{ width:100%;-moz-border-radius:24px; -webkit-border-radius:24px; border-radius:24px;}
.task_users li div p{ height:20px; line-height:20px; overflow:hidden;}

/*promotion*/
.promotion{ padding:15px 20px;}
.promotion li{ padding:5px 0; font-size:14px;}
.promotion li em{ padding-right:5px;}
.promotion li em:after{ font-family:"ElegantIcons";content:"\5c" }

.iknow{ padding:20px 50px 0 50px;}
.iknow a{ display:block; text-align:center; font-size:18px; height:40px; line-height:40px;-moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px; }

.how{ padding:20px 20px 0 20px}
.how h3{ padding-bottom:10px; font-size:16px}
.how li{ font-size:14px; line-height:1.8; padding:5px 0}
.how li span{  float:left;}
.how li span:after{ font-family:"ElegantIcons";content:"\5e"}
.how li div{ padding-left:20px;}

/*usericon*/
.u_set:after{ content:'\e037';}
.u_space:after{ content:'\e095';}
.u_visitor:after{ content:'\e0a4';}
.u_task:after{ content:'\e085';}
.u_favorite:after{ content:'\e089';}
.u_thread:after{ content:'\69';}
.u_friend:after{ content:'\e08b';}
.u_credit:after{ content:'\e0ed';}
.u_pm:after{ content:'\e076';}
.u_notice:after{ content:'\e068';}
.u_profile:after{ content:'\e108';}
.u_group:after{ content:'\e08a';}

/*usericon*/
.usergroup{ width:100%; font-size:14px;}
.usergroup th{ width:160px; height:45px; line-height:45px; padding-left:10px; }
.usergroup td{ padding-left:10px;}
.usergroup td em{ font-size:24px;}
.usergroup td em:after{ font-family:"ElegantIcons";}
.usergroup td em.yes:after{ content:"\4e"}
.usergroup td em.no:after{ content:"\4d"}

/*viewpm*/
.viewpm{ width:100%;}
.viewpm td{ position:relative}

.viewpm td .pmuser{ width:30px; height:30px; position:absolute; overflow:hidden}
.viewpm td .pmuser img{ width:30px; height:30px;-moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px; }
.viewpm td .pm_msg{ padding:10px;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; font-size:16px; line-height:2.0;}
.viewpm td .pm_msg img{ vertical-align:middle; padding:0 5px; width:28px;}
.viewpm td .pm_date{ padding-top:10px;}
.viewpm td .pm_date span{ padding:3px 10px;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}


.viewpm td.friend_msg{ padding:10px 10px 0 50px;}
.viewpm td.friend_msg .pmuser{ left:10px; top:10px;}
.viewpm td.friend_msg .pm_msg{ float:left;}
.viewpm td.friend_msg .pm_date{ text-align:left; }

.viewpm td.self_msg{ padding:10px 50px 0 10px;}
.viewpm td.self_msg .pmuser{ right:10px; top:10px;}
.viewpm td.self_msg .pm_msg{ float:right;}
.viewpm td.self_msg .pm_date{ text-align:right; }

.viewpm td.group_msg{ padding:10px 10px 0 50px;}
.viewpm td.group_msg .pmuser{ left:10px; top:10px;}
.viewpm td.group_msg .pm_msg{ float:left; padding:0px;}
.viewpm td.group_msg .pm_msg h3{ height:30px; line-height:30px; overflow:hidden; padding-left:5px;}
.viewpm td.group_msg .pm_msg div{ padding:10px;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
.viewpm td.group_msg .pm_msg div a{ text-decoration:underline }

.viewpm td.group_msg .pm_date{ text-align:left; }
.viewpm td.group_msg .pm_date a.cc{ padding-left:10px; font-size:14px}


/*noticelist*/
.noticelist{ width:100%;}
.noticelist td{ position:relative; padding:10px 10px 0 68px;}
.noticelist td .noticeuser{ width:48px; height:48px; overflow:hidden; position:absolute; left:10px; top:10px; }
.noticelist td .noticeuser img{ width:48px; height:48px;-moz-border-radius:24px; -webkit-border-radius:24px; border-radius:24px;}
.noticelist td .noticecontent{ padding:10px; float:left; font-size:16px; line-height:2.0;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
.noticelist td .noticecontent a{ text-decoration:underline}
.noticelist td .noticecontent span{ padding:0 5px; }
.noticelist td .noticedate{ padding-top:10px;}
.noticelist td .noticedate span{ padding:3px 10px;-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;}
.noticelist td .noticecontent img.vm{ width:auto; height:auto; vertical-align:middle}


.feedlist{ width:100%;}
.feedlist td{ padding-bottom:10px;}
.feedview{ padding:10px 10px 0 10px;}
.feeduser img.author{ float:left; width:40px; height:40px;-moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px; margin-right:10px;}
.feeduser h4{ font-size:16px; font-weight:400}
.feeduser h4 img{ width:16px; height:16px;-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; margin-left:5px; vertical-align:middle}
.feeduser h4 span{ font-size:12px !important;  padding:1px 5px;-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; margin-left:5px;}
.feedlist td h3{ font-size:16px; font-weight:400; line-height:30px;}
.feedlist td h3 a{ padding-right:5px;}
.feedlist td h3 img{ vertical-align:middle}
.feeduser a.gz{ -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:5px 10px; margin-top:5px;}
.feeduser span.gz{ padding:5px 10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin-top:5px;}


.feedpics{ padding:10px 0 10px 0; width:90%}
.feedpics li{ float:left; width:30%; padding:0 2px 2px 0}
.feedpics li img{ width:100%; display:block}
.feedpics_2 li{ width:47%}

.feednote{ line-height:24px;}
.feednote:before{  font-family:"ElegantIcons"; content:"\4b"; padding-right:5px; font-size:18px; }
	
.feednote:after{ font-family:"ElegantIcons";content:"\7b"; padding-left:5px;font-size:18px }

.feedbtn{ height:36px; line-height:36px; padding-left:5px;}
.feedbtn a em{ padding:0 5px;}
.feedbtn a:before{ font-family:"ElegantIcons"; padding-right:5px; font-size:16px;}
.feedbtn a.zb:before{  content:"\e02b"; }
.feedbtn a.hf:before{  content:"\76"; }
.feedbtn a.za:before{  content:"\e106"; }


/*doinglist*/
.doinglist{ width:100%;}
.doinglist td h2{ height:30px; line-height:20px; font-weight:400;}
.viewdoing h4{ height:40px; line-height:40px; font-weight:400; padding:0 10px; font-size:14px;}
.viewdoing h4 img{  width:24px; height:24px;-moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px; vertical-align:middle; margin-right:7px;}
.viewdoing h4 a{ padding:0 3px;}

.doingblog{ padding:0 10px 10px 10px;}
.doingblog img{ width:160px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; display:block}

.doingcontent{}
.doingcontent h5{ font-weight:400; padding:0 10px 10px 10px}
.doingcontent .smallpic{ padding:0 10px 10px 10px}
.doingcontent .smallpic img{ width:160px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.doingcontent .listpics{ padding:0 10px 10px 10px }

.feedalbum{ padding:0 9px 8px 10px; width:310px;}
.feedalbum li{ float:left; padding:0 2px 2px 0; width:150px; height:90px; overflow:hidden}
.feedalbum li img{ width:150px; height:90px;}

.listpost{ padding:0 10px 10px 10px;}
.listpost p{ line-height:18px; padding-left:3px;}
.listpost p span{ padding:0 5px;}
.listpost h6{ font-weight:400; padding:10px 0 8px 0}
.listpost h6 a.viewreply{ float:left; height:28px; line-height:28px; position:relative; padding:0 10px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.listpost h6 a.viewreply:before{  content:'';  border-top:10px solid transparent;border-bottom: 10px solid transparent; border-left: 10px solid #eee; position:absolute; left:0; bottom:-8px;}

.listpost h6 span.r a{ padding-left:10px;}
.listpost h6 span.r a em{ padding:0 3px;}
.listpost h6 span.r a.reply:before{ font-family: "ElegantIcons";content: "\76";font-size: 14px; padding-right:6px;}    
 
.doingaction{ padding:0 10px 10px 10px}
.doingaction a.reply em{ padding:0 5px; }
.doingaction a.reply:before{ font-family:"ElegantIcons"; content:"\76"; font-size:14px}
    
    
		

.uchome-message-pic img{ max-width:100%; vertical-align:middle; width:expression(this.width > 300 ? 100%: true);-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; margin-bottom:10px; }

/*albumlist*/
.albumlist{ width:100%; margin-top:15px;}
.albumlist td{ padding:10px; }
.albumlist td img{ width:60px; height:60px; margin-right:10px; float:left;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
.albumlist td a{ display:block; height:60px;}
.albumlist td h3{ font-size:18px; height:36px; line-height:36px; overflow:hidden; }
.albumlist td h4{ line-height:60px; font-size:18px }


/*bloglist*/
.bloglist{ width:100%; }
.bloglist th{ width:48px; padding:10px 10px 10px 10px; vertical-align:top}
.bloglist th img{ width:48px; height:48px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.bloglist td{ padding:10px 10px 10px 0; vertical-align:top}
.bloglist td h4{ font-size:16px; line-height:30px; }
.bloglist td h4 span{ font-weight:400; font-size:12px; padding-left:5px;}
.bloglist td div.content{ font-size:16px; line-height:1.8}
.bloglist td div.pic{ padding-top:5px;}
.bloglist td div.pic img{ width:80px;}

/*creditbase*/
.creditbase{}
.creditbase h3{ padding:25px 20px 20px 20px; font-size:18px; line-height:50px;}
.creditbase h3 strong{ font-size:36px; padding-left:10px;}
.creditbase p{ padding:0 20px 20px 20px; font-size:14px}
.creditbase ul{}
.creditbase ul li{ height:45px; line-height:45px; padding:0 15px; font-size:16px}
.creditbase ul li span{ float:left; width:80px; text-align:left;}

/*creditlog*/
.creditlog{ width:100%;}
.creditlog td{ padding:10px; }
.creditlog h4{ font-weight:400; padding-bottom:5px;}
.creditlog td.date{ padding-left:0px; width:120px; text-align:right}
.creditlog td.date p{ font-size:16px; font-weight:bold;}
.creditlog h3 { font-size:16px; padding-bottom:5px;}

/*poke*/
.poke{ padding-bottom:10px;}
.poke li{ float:left; width:50%; text-align:left; padding:5px 0;}
.poke li img{ vertical-align:middle}
.poke li input{ vertical-align:middle; margin-right:5px;}

/*--------------------Group--------------------*/

.banner img{ width:100%; display:block}

.imui_flickr_area li.imui_flick_iqz a:before{ content:'\e038';}
.imui_flickr_area li.imui_flick_iqt a:before{ content:'\76';}
.imui_flickr_area li.imui_flick_iqj a:before{ content:'\e08b';}
.imui_flickr_area li.imui_flick_iqm a:before{ content:'\e035';}


.grouptypes.topnv ul{  padding:0 8px;}

/*grouplist*/
.grouplist{ width:100%; }
.grouplist td{ padding:10px; }
.grouplist td.join{ width:50px; padding-left:0px; padding-right:20px;}
.grouplist td.join a{ display:block; height:48px; text-align:right; line-height:48px;}
.grouplist td.join a:after{ font-family:"ElegantIcons"; font-size:20px}
.grouplist td.join a.gotogroup:after{ content:'\3d';}
.grouplist td.join a.joingroup:after{ content:'\50';}
.grouplist td.join a.managegroup:after{ content:'\e037';}

.grouplist td img{ width:48px; height:48px; margin-right:10px; float:left;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.grouplist td h3{ font-size:18px; height:28px; line-height:28px; overflow:hidden; font-weight:400; }
.grouplist td p{ height:20px; line-height:20px; overflow:hidden}
.grouplist td p span{ padding-right:5px;}




/*addthreadtype*/
.addthreadtype{ width:100%; margin-top:10px; font-size:14px;}
.addthreadtype .delete{ width:40px; padding:10px 0 10px 5px; text-align:center}
.addthreadtype .enable{ width:40px; padding:10px 0; text-align:center}
.addthreadtype .displayorder{ width:60px; padding:10px 0;}
.addthreadtype .name{ padding:10px;}

.addthreadtype .delete input,.addthreadtype .enable input{ width:15px; height:15px;}

.gorup_info{ padding:0 10px 10px 10px;}
.gorup_info p{ height:30px; line-height:30px;}
.gorup_info p span{ padding-right:10px;}

/*--------------------member--------------------*/

.welcome{ padding:30px}
.welcome img{ float:left; width:48px; height:48px; margin-right:10px; -moz-border-radius:24px; -webkit-border-radius:24px; border-radius:24px;}
.welcome h3{ font-size:18px;}

.tab ul{ padding:0 30px;}
.tab ul li{ float:left; font-size:16px; height:40px; line-height:40px; border-bottom:0px; margin-right:20px;}
.tab ul li a{ display:block; text-align:center; padding:0 15px;}
#qq .post_form_area{ margin-top:0px !important;}

/*userphoto*/
.userphoto{  padding:100px 50px 30px 50px;}
.userphoto div.info{ height:54px; line-height:54px; }
.userphoto div.info a{ float:right; font-size:18px; }
.userphoto div.info a span{ font-family:"ElegantIcons"; font-size:24px; padding-right:10px; vertical-align:middle }
.userphoto img{ padding:2px;  width:48px; height:48px; display:block; float:left;}
.userphoto p{ font-size:12px; padding-top:25px;text-align:center; }


#loginreturn{ display:none}


/*log_connect*/
.log_connect{ padding:0 15px; text-align:center;}
.log_connect .title h4{display:inline-block;}
.log_connect .title h4 span{ float:left; padding:0 10px; font-size:16px; font-weight:400} 

.log_connect .item ul{ display:inline-block;}
.log_connect .item ul li{ float:left; padding:15px; margin:10px;-moz-border-radius:35px; -webkit-border-radius:35px; border-radius:35px;}
.log_connect .item ul li img{ width:40px; height:40px; }


/*--------------------Misc--------------------*/
/*taglist*/
.taglist{ padding:10px 5px;}
.taglist a{ float:left; font-size:14px; height:30px; display:block; line-height:30px; padding:0 15px; margin:5px; }

/*--------------------Portal--------------------*/
.newscat.topnv ul{  padding:0 8px 0 8px;}
/*newslist*/
.newslist{ width:100%;}
.newslist td{ }
.newslist td a{ display:block}
.newslist td h3{ font-size:16px; line-height:1.6; font-weight:400}
.newslist td img{ width:80px; float:left; margin-right:10px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.newslist td p span{ padding-left:5px;}

/*--------------------Portal--------------------*/

.comm_title{ padding:10px 10px 0px 10px; height:30px; line-height:30px; font-weight:400; font-size:14px}
/*hotsearch*/
.hotsearch{ padding:20px;}
.hotsearch h3{ font-size:16px; padding-bottom:10px; font-weight:400; }
.hotsearch ul{ padding-top:5px;}
.hotsearch ul li{ float:left; padding:5px 10px 5px 0;}
.hotsearch ul li a{ font-size:14px; height:30px; display:block; line-height:30px; padding:0 15px;}
