@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0;background:#f3ede1;}
ul,li{margin:0; padding:0; list-style:none;}
.l{ float:left;}
.r{ float:right;}
/*高度*/
.h35{height:35px;}
/*宽度*/
.w30p{width:40%;}
.w33p{width:24%;}
.w40p{width:40%;}
.w59p{widtk:59%;}
/*边框*/
.b_1{border-right:#999 solid 1px;}
.b_2{border-left:#999 solid 1px;}
.b_3{border-top:#000 solid 1px;}
.b_4{border-bottom:#000  dashed 1px;}
.b_5{border-bottom:#000  solid 1px;}
.b_6{border-bottom:#eb5e54 5px solid;}
.b_7{border:1px #999 solid;border-radius:4px;box-shadow:inset 1px 1px 4px #d9d9d9，1px 1px 4px #d9d9d9;}
.b_8{border:1px #000 solid;opacity:0;}

/*a标签样式*/
.a_bs a:link{color:#fff; text-decoration:none;}
.a_bs a:visited{color:#fff; text-decoration:none;}
.a_bs a:hover{color:#fff; text-decoration:none;}
.a_hs a:link{color:#000; text-decoration:none;}
.a_hs a:visited{color:#000; text-decoration:none;}
.a_hs a:hover{color:#000; text-decoration:none;}
/*菜单*/
#menu{z-index: 899; height:35px; text-align:center; background:#fff; position:fixed; top:0; left:0; width:100%; _position:absolute; _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow:visible;border-top:1px solid #ccc; }
.top_in{ background-image:url(../images/top_menu.gif);}
.menu_a{height:25px;padding-top:10px;display:block;}
/*主页顶部图片*/
#index_img{ position:relative;}
#index_img_sz{ position:absolute;top:65%;right:30%;text-shadow: 2px 0px 1px black;color:#eb5e54;font-size:25px;}
/*主页主体内容*/
#index_main{width:100%; text-align:center;}
#index_main_jbz{ margin-top:20px;}
.index_main_img img{ width:30%;border:#eb5e54 5px solid;}
.index_main_jbz{margin-top:5px;}
.index_main_jbz span{line-height:25px;padding-left:5px;}
/*中间文字*/
.index_ul{width:70%;margin:5px 15% 0px 15%;}
.index_ul li{padding:5px 0 5px 0; width:100%; height:20px; clear:both;}
/*接棒寄语*/
#index_main_jiyu{width:100%;}
.index_main_jy_wz{ float:left; margin: 10px 0 10px 5%; font-size:18px; font-weight:bold;}
.index_main_jy_wz img{padding-top:2px;}
.index_main_jy_wz span{line-height:25px;padding-left:5px;}
.index_text{ width:90%; height:60px; border:1px #ccc solid; border-radius:5px;font-size:16px;}
.index_button{ background-color:#abdaf4;padding:5px 15px 5px 15px; border:#000 solid 1px; border-radius:3px;margin-top:5px;width:80px;height:30px}
 /*曲线*/
#quxian{ height:10px; width:96%; margin:10px 2% 0 2%; background:url(../images/quxian.png) repeat-x;}
/*活动说明*/
#index_shuomin{width:100%;}
.index_main_sm_wz{ float:left; margin: 10px 0 10px 5%; font-size:18px; font-weight:bold;}
.index_main_sm_wz img{padding-top:2px;}
.index_main_sm_wz span{line-height:25px;padding-left:5px;}
.index_shuomin_wz{ width:80%;margin:0 10% 0 10%;}
.index_gd_pic{ margin-top:10px;}
/*接棒顶部图片*/
#wdjb_img{position:relative;}
#wdjb_img_sz{ position:absolute;top:55%;left:40%;text-shadow: 2px 0px 1px black;color:#fffec8;font-size:30px;}
/*接棒主体*/
#jb_main{width:90%;margin:10px 5% 10px 5%;}
.jb_main_ul{width:100%;}
.jb_main_li{height:90px;margin-top:10px;}
.jb_main_li_l{position:relative;width:25%}
.jb_main_li_l_img{position:absolute;top:0;left:0;}
.jb_main_li_r{width:65%}
.jb_main_li_r_ul{width:100%;font-size:12px;}
.jb_main_li_r_ul li{padding:5px 0 5px 0; width:100%; height:15px; clear:both;}
/*接棒更多*/
#jb_jiazai{ text-align:center;}
/*荣誉榜*/
#ry_main{}
.ry_main_ul1{width:100%;}
.ry_main_ul1_li{width:29%; text-align:center;margin:5px 2% 5px 2%;}
.ry_main_ul1_li_img{background:#eb5e54;position:relative;}
.ry_main_ul1_li_img1{padding:5%;}
.ry_main_img{position:absolute;top:0%;left:0%;}
.ry_main_li_name1{font-size:14px;}
.ry_main_li_bang1{background:#4c4c4c; color:#fff;font-size:14px;}
/**/
.ry_main_ul2{width:100%;}
.ry_main_ul2_li{width:23%; text-align:center;margin:5px 1% 5px 1%;}
.ry_main_ul2_li_img{background:#eb5e54;position:relative;}
.ry_main_ul2_li_img1{padding:5%;}
.ry_main_img{position:absolute;top:0%;left:0%;}
.ry_main_li_name2{font-size:14px;}
.ry_main_li_bang2{background:#4c4c4c; color:#fff;font-size:10px;}
/**荣誉奖品*/
#ry_jp{width:100%;}
.ry_jp_wz{float:left; margin: 10px 0 10px 5%; font-size:18px; font-weight:bold;}
.ry_jp_wz img{padding-top:2px;}
.ry_jp_wz span{line-height:25px;padding-left:5px;}
/*奖品*/
#ry_jp_ydj{width:90%;margin:0px 5% 10px 5%; text-align:center; font-weight:bold;}
.ry_ydj_l{height:20px; width:40%; background:#eb5e54;padding:5px 0 5px 0;}
.ry_ydj_r{height:20px;text-align:center;width:60%;padding-top:5px;}
.ry_jp_img{width:80%; margin:10px 10% 10px 10%;}
/*文明人*/
#wmr{font-size:14px;}
.wmr_top{ text-align:center;position: relative;}
.wmr_phone{position:absolute;top:22%;left:0%;width:100%;}
.wmr_top_ul{width:50%;margin:auto;padding-top:8px;}
.wmr_top_ul li{padding:3px 0 3px 0; width:100%; height:15px; clear:both;}
/*文明人流布局*/
.wmr_liubuju{font-size:14px; text-align:center;margin-top:-35px;width:100%;}
.m_150{margin-top:-150px;}
.m_70{margin-top:-70px;}
.m_50{margin-top:-50px;}
.m_40{margin-top:-40px;}
.m_35{margin-top:-35px;}
.wmr_liubuju_ul{width:100%; clear:both;}
.wmr_liubuju_ul li{width:29%;margin:0 2% 0 2%;}
.wmr_name{padding:0px 0 0px 0;}
.wmr_cdwz{background:#ccc; color:#fff;}
.wmr_cwjy{background:url(../images/jiantou.png) right no-repeat;background-size:15px 90% ;color:#2cabf3;}
.pu_top{margin-top:10px;}
/*文明人加载*/
#wmr_jiazai{ text-align:center;width:100%;margin-top:-0px;color:#2cabf3;}
/*开始体验*/
#wmr_ty{ text-align:center; margin: 5px 0 5px 0;}
/*底部*/
#foot{ width:90%; margin: 10px 5% 10px 5%;}
#foot_1{ background:url(../images/x_bai_bg.gif) repeat-x; width:100%;height:17px;}
#foot_1_1{background: url(../images/x_hong.gif) no-repeat;width:100%;height:17px;}
#foot_2{margin-top:10px;}
#foot_3{margin-top:10px;}
/**/
#tc1{position:absolute;height:250px;width:260px;top:100px;left:20%; background:#fff; text-align:center;border:1px #000 solid; border-radius:10px;z-index: 999}
.tc1_top{background:#eb5e54;border-radius:5px 5px 0px 0px; height:30px; line-height:30px;color:#fff;border-bottom:1px #000 solid;}
.tc1_content{ background: url(../images/tc_bg.png);height:200px;padding-top:20px;width:90%;margin:0 auto;text-align:left}
.tc1_qd{ background:#eb5e54;height:30px; width:70px; line-height:30px; color:#fff;border-radius:15px;margin:20px auto 0px auto;text-align:center;}
/**/
#tc2{position:absolute;top:100px;left:20%; text-align:center; background:#fff;width:220px;height:290px;border:1px #000 solid;border-radius:10px;z-index: 999}
.tc2_touxiang{padding-top:10px;}
.tc2_nicheng{padding:5px 0px 5px 0px;}
.tc2_jieban{ line-height:25px;padding:5px 5px 5px 5px ;}
.tc2_wz1{border-top:#000 solid 1px; border-bottom:#000 dashed 1px;text-align:left;}
.tc2_wz2{border-bottom:#000 dashed 1px;text-align:left;}
.tc2_wz3{text-align:left;height:90px;overflow:auto; line-height:18px;padding-top:3px;}
.tc2_gb{position:absolute;top:10px;right:10px;}

/*分享图层*/
#sharemcover1 { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }
#sharemcover1 img { position: fixed; right: 18px; top: 5px; width: 300px; height: 380px; z-index: 20001; border:0; }
#sharemcover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 20000; }
#sharemcover img { position: fixed; right: 18px; top: 5px; width: 260px; height: 180px; z-index: 20001; border:0; }
#big{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); display: none; z-index: 5;}