.head { 
    position: relative;
    z-index: 100;
    width: 100%;
    padding-left: .1rem;
    height: .5rem;
    font-size: .16rem;
	box-sizing: border-box;
    background-color: #3bc0b6; /* 顶部搜索框背景色 */
}
.header-2 {
    padding: 0 .15rem;
    line-height: .46rem;
    font-size: .16rem;
    text-align: center;
	height: .46rem;
    overflow: hidden;
	color: #fff;  /* 顶部标题颜色 */
    background: #3bc0b6; /* 顶部标题背景色 */
}
.head .input-text {
    height: .36rem;
    padding: .06rem .12rem .05rem .3rem;
    background-size: 16px !important;
    border-radius: 100px;
	border-color: #22968D; /* 顶部搜索框边框色 */
    background: #22968D url(../images/ico-search.png) no-repeat 10px center; /* 搜索框背景图及按钮图标 */
}

.BreakingNewsController .bn-title{
	display:inline-block;
	font-weight: bold;
	float:left;
	padding:7px 10px;
	background:#158A81; /* 全部公告背景色 */
	color:#FFF; /* 全部公告字体颜色 */
}
.BreakingNewsController{
	width:100%;
	margin: 5px auto;
	overflow:hidden;
	background:#2AB9AE; /* 文章公告标题背景颜色 */
	height:auto;
	position:relative;
	border-radius: 4px;
}
.BreakingNewsController ul li a{
	text-decoration:none;
	display:inline-block;
	overflow:hidden;
	padding:0;
	color:#fff; /* 文章公告标题字体颜色 */
}
.index-btn-view {
    display: block;
    margin: 20px 0 0;
    height: .4rem;
    line-height: .4rem;
    font-size: .16rem;
    text-align: center;
	color: #fff; /* 首页底部“查看更多课程”字体颜色 */
    background-color: #1EBDA7; /* 首页底部“查看更多课程”背景色 */
}
footer a {
    color: #7891EF;  /* 底部版权字体颜色 */
}
.nav-top_menu {
	display:-webkit-box;
	display: block;
	width: 100%;
	height: 52px;
	display: -webkit-box;
	display: box;
	margin:0;
	padding:0;
	-webkit-box-orient: horizontal;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
	border-top: 1px solid #22968D; /* 底部导航栏边框颜色 */
	background:#3bc0b6; /* 底部导航栏背景色 */
}
.nav-top_bar .nav-top_menu li a.active {
	background-color:#22968D; /* 底部导航栏选中背景颜色 */
}
.nav-top_bar .nav-top_menu li a label {
	overflow:hidden;
	margin: 0;
	font-size: 12px;
	display: block !important;
	line-height: 18px;
	text-align: center;
	color:#fff; /* 底部导航栏字体颜色 */
	font-family:"宋体";
}
.filter_item {
	position: relative;
	-webkit-box-flex: 1;
	font-size: 14px;
	text-align: center;
	color: #3BC0B6; /* 搜索页面“全部分类”和“默认排序”字体颜色 */
}
.vip-discount-notice{
	line-height:.2rem;
	padding:2px 10px;
	color:#fff; /* 我的VIP服务页面开通会员vip提示语字体颜色 */
	background-color: #0DAB87; /* 我的VIP服务页面开通会员vip提示语背景颜色 */
}
.course-list2 .buyvip .buybtn a{
	display: inline-block;
	width: .5rem;
	padding: .04rem .15rem;
	border-radius: .07rem;
	color: #fff; /* 购买vip页面 “购买/续费”按钮字体颜色*/
	background-color: #FF5E00;  /* 购买vip页面 “购买/续费”按钮背景颜色*/
}
.course-list2 .vip-card .vip-gallery{
	font-size:14px;
	text-align:right;
	font-family:"微软雅黑";
	display:inline-block;
	padding:.04rem .15rem;
	border-radius:.07rem;
	color:#fff; /* 购买vip页面 “我有VIP服务卡”按钮字体颜色*/
	background-color:#0098ff; /* 购买vip页面 “我有VIP服务卡”按钮背景颜色*/
}
.teacher-top{
	height:180px;
	padding:5px;
	background:#1EBDA7; /* 讲师中心中间背景色 */
}
.commission-top{
	height:180px;
	padding:5px;
	background:#0A90C3; /* 分销中心中间背景色 */
}
.vipcenter .vipheader .name {
	text-align: center;
	line-height:.3rem;
	color: #fff; /* 个人中心会员名称字体颜色 */
}
.vipcenter .vipheader .gztt {
	text-align:center;
	color: #fff; /* 个人中心会员学号字体颜色 */
}
.stock-info {
	text-align:center;
	font-size:.14rem;
    line-height: .2rem;
    padding: 2px 10px;
	font-family: "微软雅黑";
	border-radius: 10px;
	color: #fff; /* 课程详情页库存提醒字体颜色 */
	background-color: #0DAB87; /* 课程详情页库存提醒背景颜色 */
}
.d-buynow .green{
	background-color:#26BB99;/* 课程购买页面“开始学习”背景颜色 */
}
.d-buynow .red{
	background-color:#F5504D;/* 课程购买页面“立即购买”背景颜色 */
}
.d-buynow .gray{
	background-color:#7D7D7D;/* 课程购买页面“未完善”背景颜色 */
}
