@charset "utf-8";
body {margin:0px; background:#efefef; font-family: 宋体,Tahoma; -webkit-tap-highlight-color: transparent;width:100%;height:auto;-webkit-tap-highlight-color:transparent; -webkit-appearance: none}
html{ width:100%;height:auto;}
.addorder_topbar {height:34px; background:#5f6e8b; padding:15px;}
.addorder_topbar .ico {height:34px; width:30px; line-height:34px; float:left; font-size:26px; text-align:center; color:#fff;}
.addorder_topbar .tips {height:34px;  margin-left:10px; font-size:13px; color:#fff; line-height:17px;}

.addorder_nav { height:30px; padding:10px;}
.addorder_nav .nav { padding:2px 5px 2px 5px;; border:1px solid #5f6e8b; color:#5f6e8b; background:#fff; float:left; margin-left:10px;}
.addorder_nav .selected { border:1px solid #ff6600; color:#ff6600; }

.addorder_user {height:54px;  background:#fff; padding:5px; border-bottom:1px solid #eaeaea;}
.addorder_user .info .ico { float:left;  height:50px; width:30px; line-height:50px; font-size:26px; text-align:center; color:#666}
.addorder_user .info .info1 {height:54px; width:100%; float:left;margin-left:-30px;margin-right:-30px;}
.addorder_user .info .info1 .inner { margin-left:30px;margin-right:30px;overflow:hidden;}
.addorder_user .info .info1 .inner .user {height:30px; width:100%; font-size:16px; color:#333; line-height:35px;overflow:hidden;}
.addorder_user .info .info1 .inner .address {height:20px; width:100%; font-size:14px; color:#999; line-height:20px;overflow:hidden;}
.addorder_user .info .ico2 {height:50px;  width:30px; line-height:65px; float:right; font-size:16px; text-align:right; color:#999;}

.addorder_exp {height:42px;  background:#fff; padding:5px; border-bottom:1px solid #eaeaea; line-height:42px; font-size:16px; color:#333;}
.addorder_exp .t1 {height:42px; width:auto; float:left;padding-left:10px;}
.addorder_exp .t2 {height:42px; width:auto; float:right;}
.addorder_exp .ico {height:42px; width:30px;  float:right;text-align:right;color:#999; font-size:16px;margin-top:5px; }


.addorder_good {height:auto;padding:10px;background:#fff; border-bottom:1px solid #eaeaea; border-top:1px solid #eaeaea;}
.addorder_good .ico {width:10%;height:35px; float:left; text-align:center;}
.addorder_good img{border-radius: 5px;} 
.addorder_good .shop {height:36px; width:84%; padding-left:15%; border-bottom:1px solid #eaeaea; line-height:36px; font-size:18px; color:#333;}
.addorder_good .good {height:50px; width:100%; padding:10px 0px; border-bottom:1px solid #eaeaea;}
.addorder_good .img {height:50px; width:50px; float:left;}
.addorder_good .img img {height:100%; width:100%;}
.addorder_good .info {width:100%;float:left; margin-left:-50px;margin-right:-60px;}
.addorder_good .info .inner { margin-left:60px;margin-right:60px; }
.addorder_good .info .inner .name {height:50px; width:100%; float:left; font-size:13px; color:#555;overflow:hidden;}
.addorder_good .info .inner .option {height:18px; width:100%; float:left; font-size:12px; color:#888;overflow:hidden;word-break: break-all}
.addorder_good span { color:#666;}
.addorder_good .price { float:right;width:60px;;height:54px;margin-left:-60px;;}
.addorder_good .price .pnum { height:20px;width:100%;text-align:right;font-size:14px; }
.addorder_good .price .num { height:20px;width:100%;text-align:right;}
.addorder_good .text {height:34px; width:100%; line-height:45px; text-align:right; font-size:14px; color:#999;}
.addorder_good input,.addorder_price .coupon-code input {height:34px; width:97%; font-size:12px; padding: 0 5px; background:#f7f7f7;  border:1px solid #e9e9e9; margin:14px 0px 0; -webkit-appearance: none; }
.addorder_price {height:auto;  background:#fff; padding:5px 10px; margin-top:10px; border-bottom:1px solid #eaeaea; border-top:1px solid #eaeaea;}
.addorder_price #coupon{display:none;}
.addorder_price .price {height:auto; width:100%; border-bottom:1px solid #eaeaea;}
.addorder_price .price .verify{height: 28px !important; line-height: 28px !important; margin-top: 5px; font-size:0.12rem; text-align:right; display:inline-block; padding:0 0.1rem; border-radius:.07rem; color:#fff; background-color:#0098ff;}
.addorder_price .price .line {height:33px; width:100%; font-size:14px; color:#666;}
.addorder_price .price .line span {height:33px; width:auto; float:right;}
.addorder_price .all {height:47px; width:100%; line-height:47px; font-size:16px; color:#666;}
.addorder_price .all span {height:47px; width:auto; float:right; color:#ff771b;}
.addorder_pay {height:54px; width:94%; background:#fff; padding:0px 3%; margin-top:30px; border-top:1px solid #eaeaea;}
.addorder_pay span {height:60px; width:auto; margin-right:16px; float:right; line-height:60px; color:#ff771b; font-size:16px;}
.addorder_pay .paysub {height:35px; font-size:16px; width:auto; background:#ff771b; padding:0px 10px; margin-top:10px; border-radius:5px; color:#fff; line-height:35px; float:right;}
.chooser {overflow: auto; width: 100%; background:#efefef; position: fixed; top: 0px; right: -100%; z-index: 1;}
.chooser .address {height:50px; background:#fff; padding:10px;; border-bottom:1px solid #eaeaea;}
.chooser .address .ico {float:left; height:50px; width:30px; line-height:50px; float:left; font-size:20px; text-align:center; color:#999;}
.chooser .address .info {height:50px; width:100%;float:left;margin-left:-30px;margin-right:-30px;}
.chooser .address .info .inner { margin-left:35px;margin-right:30px;}
.chooser .address .info .inner .name {height:28px; width:100%; font-size:16px; color:#666; line-height:28px;overflow:hidden;}
.chooser .address .info .inner .addr {height:22px; width:100%; font-size:14px; color:#999; line-height:22px;overflow: hidden;}
.chooser .address .edit {height:50px; width:30px; float:right;margin-left:-30px;text-align:center;line-height:50px;color:#666;}

.chooser .add_address {height:44px; padding:5px; background:#fff; border-bottom:1px solid #eaeaea; line-height:44px; font-size:16px; color:#666;}
.address_main {height:100%; width:100%; background:#fff;  position: fixed; top: 0px; right: -100%; z-index: 1;}
.address_main .line {height:44px; margin: 0 5px; border-bottom:1px solid #f0f0f0; line-height:44px;}

.address_main .line input {float:left; height:44px; width:100%; padding:0px; margin:0px; border:0px; outline:none; font-size:16px; color:#666;padding-left:5px;}
.address_main .line select  { border:none;height:25px;width:100%;color:#666;font-size:16px;}
.address_main .address_sub1 {height:44px; margin:14px 5px; background:#ff4f4f; border-radius:4px; text-align:center; font-size:16px; line-height:44px; color:#fff;}
.address_main .address_sub2 {height:44px; margin:14px  5px; background:#ddd; border-radius:4px; text-align:center; font-size:18px; line-height:44px; color:#666; border:1px solid #d4d4d4;}
.select { -webkit-appearance: none }

.carrier_input_info {height:auto;width:100%; background:#fff; margin-top:14px; border-bottom:1px solid #e8e8e8; border-top:1px solid #e8e8e8;}
.carrier_input_info .row { padding:0 10px; height:40px; background:#fff; border-bottom:1px solid #e8e8e8; line-height:40px; color:#999;}
.carrier_input_info .row .title {height:40px; width:85px; line-height:40px; color:#444; float:left; font-size:16px;}
.carrier_input_info .row .info { width:100%;float:right;margin-left:-85px; }
.carrier_input_info .row .inner { margin-left:85px; }
.carrier_input_info .row .inner input {height:30px; color:#666;background:transparent;margin-top:0px; width:100%;border-radius:0;padding:0px; margin:0px; border:0px; float:left; font-size:16px;}

.addorder_price .line .nav {height:22px; width:40px; background:#ccc; margin:3px 0px; float:right; border-radius:40px;}
.addorder_price .line .on {background:#4ad966;}
.addorder_price .line .nav nav {height:20px; width:20px; background:#fff; margin:1px; border-radius:20px;}
.addorder_price .line .nav .on {margin-left:19px;}
.cnum {height:20px; width:61px; border:1px solid #e2e2e2; }
.cnum .leftnav {height:20px; width:19px; float:left; border-right:1px solid #e2e2e2; background:#eee; color:#6b6b6b; text-align:center; line-height:20px; font-size:18px; font-weight:bold;}
.cnum .shownum {height:20px; width:20px; float:left;  border:0px; margin:0px; padding:0px; text-align:center;}
.cnum .rightnav {height:20px; width:19px; float:right; border-left:1px solid #e2e2e2; background:#eee; color:#6b6b6b; text-align:center; line-height:20px; font-size:18px; font-weight:bold;}

.couponcount {float:right; margin-top:8px;  margin-right: 5px; height:16px; width:16px; background:#f30; border-radius:8px; font-size:12px; color:#fff; line-height:16px; text-align: center;}