@charset "utf-8";

/*课程列表 通用   2竖列加上类  row2   横排加上类 row2和wider
---------------------------------------------------------------------*/
.course-list {
    padding: .1rem .15rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
}

.course-list .item {
    float: left;
    width: 32%;
    margin-right: 2%;
    font-size: .12rem;
    overflow: hidden;
    box-sizing: border-box;
}

.course-list .item a {
    display: block;
}

.course-list .item:nth-child(3n),
.course-list.row2 .item:nth-child(2n) {
    margin-right: 0;
}

.course-list .title {
    margin-top: 6px;
    height: .36rem;
    line-height: 18px;
    color: #666;
    font-size: .14rem;
    overflow: hidden;
}

.course-list .lesson {
    margin-top: 8px;
    color: #999;
}

.course-list .money-box {
    font-size: .16rem;
    color: #ff7e00;;
}

.course-list .money {
    font-size: .12rem;
}

.course-list .num {
    color: #999;
}

.course-list.row2 {
    padding: .1rem;
}

.course-list.row2 .item {
    padding: .05rem;
    width: 49%;
    margin: 0 2% 2% 0;
    border: 1px solid transparent;
}

/*.course-list.row2 a:active {
    border: 1px solid #3bc0b6;
    background-color: #f7fdfc;
}*/

.course-list.wider .item {
    width: 100%;
    margin-right: 0;
}

.course-list.wider {
    padding: 0;
	margin-bottom: 0.15rem;
}

.course-list.wider .item {
    padding: .05rem .15rem;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
	border-bottom: 1px #EAEAEA solid;
}

.course-list.wider .item img {
    float: left;
    margin-right: 10px;
    width: 1.2rem;
    height: .9rem;
}

.course-list.wider .con {
    height: .9rem;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}

.course-list.wider .title {
    margin-top: -1px;
    font-size: .15rem;
}

.course-list.wider .lesson {
    margin: 12px 0 6px;
}
