footer{margin-bottom:5%;}
.video-wrap{
  width: 100%;
  height: auto;
  overflow: hidden;
  background:#ecf0f3;
  margin: 0 auto;
}
.course-tab{
  width: 100%;
  height: 42px;
  border-bottom: 1px solid #969b9e;
}
.course-tab li{
  font-family: "微软雅黑";
  margin-top: 1px;
  width: 33%;
  float: left;
  text-align: center;
  line-height: 40px;
  font-size: 0.16rem;
}
.course-tab li.curr{
  color: #22968D;
  border-bottom: 2px solid #22968D;
}

.course-intro p{
  margin: 0;
  padding: 15px ;
  font-size: 14px;
  color: #555;
  line-height: 150%;
}
.course-intro-title, .lesson-content p, .teacher-intro{
  font-size: 14px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.chapter-intro-user{
  display: block;
  padding-bottom: 10px;
  color: #333
}
.chapter-intro-user img{
  margin-right: 10px;
  border-radius: 50%;
}
.course-container ul{
  list-style: none;
  margin: 0;
  padding:0;
}
.chapter-title{
  background: #ecf0f3;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 20px 0 10px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  border-bottom: 1px solid #d5dce1;
  position: relative;
}
.chapter-title i{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin:-4px 10px 0 0;
  background: url(../images/learnicon.png) no-repeat 0 0;
}
.chapter-title span{
  position: absolute;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin:15px 0px 0 0;
  background: url(../images/dot_close.png) no-repeat 0 0;
  background-size: 100%;
  right: 10px;
  top:0px;
}
.chapter-title span.open{
  background: url(../images/dot_open.png) no-repeat 0 0;
  background-size: 100%;
}

.course-sections{
  padding: 10px 5px !important;
  background: #fff;
}
.course-sections li{
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
}
.course-sections a{
  width:88%;
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: #444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.course-sections a:visited,
.course-sections a:hover{
  color: #444;
}
.course-section-current a:link,
.course-section-current a:visited,
.course-section-current a:hover,
.course-section-current a:active{
  color: #84c00b;
  font-weight: bold;
}

.section-icon{
  position: absolute;
  top: 10px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: url(../images/learnicon.png) no-repeat;
}
.section-icon-video{
  background-position:0 -137px;
}
.section-icon-code{
  background-position:0 -210px;
}
.section-icon-ceping{
  background-position:0 -173px;
}
.section-state-icon{
  position: absolute;
  right: 0;
  top: 0;
  width: 12%;
  font-size:.12rem;
  text-align: center;
  /*background: url(../images/learnicon.png) no-repeat 0 -330px; */
}
.section-state-icon-learning{
  background-position: 0 -288px;
}
.section-state-icon-learnt{
  background-position: 0 -248px;
}
.ico-credit {
    margin-right: 5px;
    width: .14rem;
    height: .14rem;
    background: url("../images/oc-h.png") no-repeat;
}

.ico-credit.s2 {
    background: url("../images/oc-z.png") no-repeat;
}

.ico-credit.s3 {
    background: url("../images/oc-c.png") no-repeat;
}
.section-active{
    color: #84c00b !important;
    font-weight: bold;
}

/*收藏动画*/

.d-buynow li .cur .ico-collect {
    background: url("../images/ico-favorited.png") no-repeat;
    transform-origin: 50% 50%;
    transition: transform .5s ease-in-out 0s;
    animation-name: bling;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    -webkit-transform-origin: 50% 50%;
    -webkit-transition: transform .5s ease-in-out 0s;
    -webkit-animation-name: bling;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}

/* 左下角咨询 */
#layer-bg {position: absolute;left: 0;top: 0;right: 0;bottom: 0;width: 100%;height: 100%;background:rgba(0,0,0,.4);z-index: 102;}
#bottom-contact{top:auto;bottom:0;left:0;margin:0;width:100%;color:#000;background:#fff;position:fixed;z-index:105;}
.contact-wrap{overflow-x:hidden;overflow-y:scroll;max-height:305px}
.contact-wrap-title{padding:15px;font-size:16px;line-height:22px;text-align:center; border-bottom: 1px #eee solid;}
.layer-close{border-top:15px solid #efeff4;padding:15px;font-size:18px;line-height:25px;text-align:center;color:#188eee}
.layer-list_item{display:block;position:relative;padding:10px 45px 10px 75px;height:50px}
.layer-list_item:active{background-color:#e5e5e5}
.layer-list_item-icon{overflow:hidden;position:absolute;top:15px;left:15px;border:1px solid #c8c7cc;border-radius:25px;width:50px;height:50px}
.layer-list_item-icon img{width:50px;height:50px}
.layer-list_item-name{overflow:hidden;padding-top:15px;font-size:16px;white-space:nowrap;text-overflow:ellipsis;word-break:break-word}
.layer-list_item-name.z-tail{padding-top:4px;color:#188eee}
.layer-list_item-info{padding-top:5px;font-size:12px;line-height:12px;color:#777}
.layer-list_item-go{position:absolute;top:10px;right:15px}
.layer-list_item-go i{top:0;right:0;margin:0;font-size:20px;line-height:50px}
.contact-wrap-qun-title{padding:15px 15px 5px;font-size:16px}
.contact-wrap-qun-desc{color:#777}


@-webkit-keyframes bling {
    0% {
        opacity: .3;
        transform: scale(1);
    }
    25% {
        opacity: .5;
        transform: scale(1.1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    75% {
        opacity: .5;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes bling {
    0% {
        opacity: .3;
        transform: scale(1);
    }
    25% {
        opacity: .5;
        transform: scale(1.1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    75% {
        opacity: .5;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-sm, .btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}