.go-order .order-shop{ width: 100%; margin-top: 3%;background-color: #fff;font-size: .14rem; }
.go-order .order-shop dl{position: relative; width: 90%; padding: 3% 5%; overflow: hidden; border-bottom: solid 1px #c8c8c8; }
.go-order .order-shop dl a{ width: 100%; display: block; height: 100%;}
.go-order .order-shop dl dt{float: left; width: 30%; height: 10em; overflow: hidden;}
.go-order .order-shop dl dt img{width:100%; min-height: 10em;}
.go-order .order-shop dl dd{ float: left; width: 95%; margin-left: 5%;}
.go-order .order-shop dl dd p{font-size: 1.35em; color: #FC605A; text-align: justify;}
.go-order .order-shop dl dd small{font-size: 1.169em; color: #999; line-height: 1.6; }
.go-order .order-shop dl dd span{display: block; font-size: 1.169em; color: #000; line-height:2em;}
.go-order .order-shop dl dd input[type="button"]{ background-color: #fff; color: #45C018; border: solid 1px #45c018; padding: 2% 4%; border-radius:0.4em ; font-size: 1.169em; margin-top: 2%;}
.go-order .order-shop dl dd b{ position: absolute; bottom:30%; right: 5%; color: #FC605A; font-size: 1.9em; font-weight: normal; }
.go-order .order-shop dl dd strong{ position: absolute; bottom:10%; right: 5%; color: #999; font-size: 1.169em; font-weight: normal; }
.go-order .order-shop ul { width: 100%; overflow: hidden;}
.go-order .order-shop ul li{ width: 90%; padding: 4% 5%; overflow: hidden; border-bottom:#EFEFEF solid 1px;}
.go-order .order-shop ul li small{color: #999; float: right;}
.go-order .order-shop ul li p{ color: #999;  line-height: 1.7;}

.order-footer{ width: 90%; padding: 3% 5%; background-color: #fff; border-top: solid 1px rgba(0,0,0,0.2);}
.order-footer input{float: right; padding: 2% 4%; border: solid 1px #c8c8c8; background-color: #fff; color: #666; border-radius: 0.4em; font-size: 1.3em; margin-left: 5%;}
.order-footer input[type="submit"]{border: solid 1px #fff; background-color: #45C018; color: #fff; }
.order-footer a{ width: 100%; display: block;}

.allsubmit-btn {
    display: block;
    width: 120px;
    line-height: 35px;
    text-align: center;
    padding: 0 5px;
    color: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdb338), to(#fdb338));
    border: 1px solid #fdb338;
    border-radius: 5px !important;
    font-size: 15px;
    margin: 0 auto;
}
/*评价样式*/
.oc-info{margin:20px 10px;display:-webkit-box}
.oc-info .oc-info-l{display:inline-block;width:40px;height:40px;overflow:hidden;margin-right:10px}
.oc-info .oc-info-l img{width:40px;height:40px;}
.oc-info .oc-info-r{-webkit-box-flex:1}
.oc-info .oc-info-r h2{font-weight:400;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-bottom:6px;padding-left:0 !important;}
.oc-info .oc-info-r .oc-tright{text-align:right}
.oc-comm{margin:20px auto}
.oc-comm .oc-comm-ul li{background-position:16px 5px; background-repeat:no-repeat; height: 20px !important; text-align:left; text-indent:40px;color:#666;line-height:20px;margin-right:10px;width:82px !important; padding:7px 0 !important; border-radius: 8px;}
.oc-comm .ocm-h{background-image:url("../images/oc-h.png"); margin-left:3px !important; margin-right:0px !important;}
.oc-comm .ocm-z{background-image:url("../images/oc-z.png"); margin-right:0px !important;}
.oc-comm .ocm-c{background-image:url("../images/oc-c.png");}
.oc-text textarea{width:97%;height:1.1rem;line-height:18px;padding-top:6px;padding:5px;margin:5px 1% 10px;background-color:#F3F3F3; border-radius: 8px;}
.c-f-sku {border: solid 1px #d4d5d6;width: 82px;height: 27px;line-height: 27px;display: inline-block;position: relative;background-color: #fff;padding: 3px;letter-spacing: 1px;vertical-align: top; }
.c-f-sku.selected{border:solid 2px #f40 !important;width:80px;height:25px;line-height:25px}
.c-f-sku.selected:after{content:' ';position:absolute;height:21px;width:21px;background-size:contain;background-image:url("../images/selected.png");right:-1px;bottom:-1px}