@charset "utf-8";

/*-- 全局页尾
---------------------------*/

footer {
    padding: 0.15rem 0;
    width: 100%;
    color: #999;
    font-size: .12rem;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

/*底部 PC wap切换按钮*/
.g-buttons {
    margin: .1rem 0;
    background-color: #fff;
}

.g-buttons a {
    display: block;
    padding: 0 .05rem;
    width: 33%;
    height: .4rem;
    line-height: .4rem;
    color: #666;
    font-size: .14rem;
    white-space: nowrap;
    border-width: 1px 1px 1px 0;
    border-color: #d7d7d7;
    border-style: solid;
    text-align: center;
    box-sizing: border-box;
}

.g-buttons a:last-child {
    border-right: none;
}

.g-buttons .btn-app {
    width: 33%;
    color: #FE7875;
}