@charset "utf-8";

/*-- 全局主导航
---------------------------*/
.header-2 .go-back,
.header-2 .go-index {
    display: inline-block;
    width: .26rem;
    height: .26rem;
}

.header-2 .go-back {
    background: url(../images/ico-go-back.png) no-repeat;
}

.header-2 .go-index {
    background: url(../images/ico-go-index.png) no-repeat;
}

.head-search {
    margin: 0 .1rem;
    overflow: hidden;
}

.ico-logo {
    width: .9rem;
    height: .44rem;
    background-repeat: no-repeat;
	background-position: center;
}

.head-features {
    display: none;
    position: relative;
    z-index: 2;
    margin-left: -.1rem;
    padding: 0 .1rem;
    height: inherit;
}

.head-features .ico-features {
    margin-top: 0;
}

.head .input-text:focus {
    padding: .06rem .12rem .05rem .12rem;
    background-color: #fff;
    color: #666;
    border-radius: 100px;
}

.head input::-webkit-input-placeholder {
    color: #DDD !important;
}

.head input::-moz-placeholder {
    color: #58c6ba !important;
}

.head input:-ms-input-placeholder {
    color: #58c6ba !important;
}

.head input:focus::-webkit-input-placeholder {
    color: #999 !important;
}

.head input:focus::-moz-placeholder {
    color: #999 !important;
}

.head input:focus:-ms-input-placeholder {
    color: #999 !important;
}
/** 引导关注公众号 **/
.follow_topbar {height:44px; width:100%; background:rgba(0,0,0,0.8); position:fixed; top:0px; left:0px; z-index:999;}
.follow_topbar .headimg {height:32px; width:32px; padding:6px; float:left;}
.follow_topbar .headimg img {height:32px; width:32px;}
.follow_topbar .info {height:28px; padding:8px 0px;}
.follow_topbar .info .i {height:14px; line-height:14px; color:#ccc; font-size:12px;}
.follow_topbar .info {height:40px; float:left;}
.follow_topbar span {color:#ff6600}
.follow_topbar .sub {height:24px; width:auto; background:#32cd32; padding:0px 10px; margin:10px 8px 10px 0px; float:right; font-size:12px; color:#fff; line-height:26px; border-radius:3px;}