@charset "utf-8";

/*-- 首页
-------------------------------------------*/
body{
	background-color: #eae9e9;
}
.index {
}

.fixed-down {
    position: static;
}

.focus {
    width: 100%;
    font-size: .14rem;
    position: relative;
}

.focus-box {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.focus-box li {
}

.focus img {
    width: 100% !important;
    height: 100% !important;
    vertical-align: top;
}

.focus-point {
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 0;
}

.focus-point a {
    margin: 0 5px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .3);
}

.focus-point .cur {
    background-color: #339c96;
}

.index-sort .link {
    float: left;
    display: block;
    width: 50%;
    height: .6rem;
    line-height: .6rem;
    font-size: .18rem;
    color: #666;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
}

.index-sort .line {
    border-right: 1px solid #e6e6e6;
}

.ico-my-courses,
.ico-sort {
    margin-right: 10px;
    width: .36rem;
    height: .38rem;
    background: url("../images/ico-my-courses.png") no-repeat;
}

.ico-sort {
    background: url("../images/ico-sort.png") no-repeat;
}

/* 一行一个课程列表 */
.index-course {
	width: 99%;
	margin:0.1rem auto;
	border-radius: 4px;
}

.index-course .course-list.wider .title {
    height: auto;
    max-height: .36rem;
    color: #333;
}

.index-course .course-list.wider .con {
    position: relative;
}

.index-course .course-list.wider .info {
    padding: .06rem 0;
    height: .28rem;
    font-size: .12rem;
    line-height: 14px;
    color: #999;
}

.index-course .course-list.wider .overview {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #999;
}

.evaluate{font-size:0.12rem;font-weight: normal;color:#00a0e9;font-family:'微软雅黑';}

/* 一行两个课程列表 */
.module-courseList__item {
	font-family:"微软雅黑";
    float: left;
    padding-top: 15px;
    width: 49%;
	min-height: 190px;
}
.module-courseList__item:nth-child(odd) .module-courseCard {
    margin-right: 0px;
}
.module-courseList_right{
	margin-right:1%;
}
.module-courseCard {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    background-color: #fff;
}
.module-courseCard__img {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    padding-top: 56%;
    width: 100%;
    color: #fff;
}
.module-courseCard__img img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}
.module-courseCard__title {
    display: -webkit-box;
	font-size: 14px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin: 6px;
    height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 2;
}
.module-courseCard__info {
    padding-bottom: 6px;
    width: 100%;
    font-size: 13px;
    line-height: 13px;
}
.u-price {
    color: #e85308;
}
.module-courseCard__price {
    padding: 0 6px;
}
.module-courseCard__classify {
    float: right;
    padding: 0 6px;
	font-size: 12px;
    color: #666;
}

/* 分类图标 */
.category-home-nav { background-color: #FFF; position: relative; z-index: 0; border-bottom: solid 0.05rem #EEE; border-radius: 4px;}
.category-home-nav ul { font-size: 0; padding-bottom:5px; overflow: hidden;}
.category-home-nav li { float: left; width: 20%; height: 0.5rem; padding: 0.1rem 0 0.1rem 0;}
.category-home-nav li a { display: block; text-align: center;}
.category-home-nav li a img{border-radius: 50%;}
.category-home-nav li span { display: inline-block; width: 0.4rem; height: 0.4rem; border-radius: 100%;}
.category-home-nav li p { display: block; font-size: 0.12rem; line-height: 0.2rem; color: #555;}

/* 文章公告 */
.BreakingNewsController ul{padding:0; margin:0; display:block; list-style:none; position:absolute;}
.BreakingNewsController ul li{list-style:none; padding:7px 10px; display:none;}
.BreakingNewsController .bn-arrows{display:inline-block; float:right; width:50px; position:absolute; right:0; top:0; bottom:0;}
.BreakingNewsController .bn-arrows span{display:block; width:20px; position:absolute; top:0; bottom:0; cursor:pointer; opacity:0.2;}
.BreakingNewsController .bn-arrows span:hover{opacity:1;}
.BreakingNewsController .bn-arrows-left{ left:0; background:url(../images/bn-arrows.png) left center no-repeat;}
.BreakingNewsController .bn-arrows-right{right:10px; background:url(../images/bn-arrows.png) right center no-repeat;}
.easing a, .easing span{transition:.25s linear; -moz-transition:.25s linear; -webkit-transition:.25s linear;}