@charset "utf-8";

/*-- 全局reset
-------------------------------------------*/

html, body, div,
h1, h2, h3, h4, h5, h6,
hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre, form, fieldset, object, code,
legend, button, input, textarea, label,
th, td, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    word-wrap: break-word;
}

html {
    font-size: 100px;
}

body {
    font-size: .2rem;
    line-height: 1.5;
    background-color: #f8f8f8;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/*body {
    font: 12px/1.5 'Helvetica Neue', 'Roboto', 'Droid Sans', 'Sans-serif';
    color: #333;
}*/

/*清除内外边距*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

/*设置默认字体*/
:focus {
    outline: 0;
}

ul, ol, li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-touch-callout: none;
}

/*重置图片元素*/

address, caption, cite, code, dfn, em, i, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

code, kbd, samp, tt {
    font-size: 100%;
}

input, button, textarea, select {
    *font-size: 100%;
    outline: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*重置表格*/
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

a {
    color: #333;
    text-decoration: none;
}

/*a:hover {
    color: #60a3ef;
    text-decoration: none;
}

a.active {
    color: #06c;
}*/

/*--清除浮动
-------------------------------------------*/

.cf:after, .cf:before {
    display: table;
    content: " "
}

.cf:after {
    clear: both
}

/*--字号、颜色、外边距、内补丁、居中、行高、显示、隐藏
------------------------------------------------------------------------------------------*/

.f10 {
    font-size: 12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.84);
}

.c-333 {
    color: #333;
}

.c-666 {
    color: #666;
}

.c-999 {
    color: #999;
}

.c-green {
    color: #3cbfb5;
}

.c-orange {
    color: #ff7e00;
}

/* 隐藏 居中 */
.fb {
    font-weight: 700;
}

.tc {
    text-align: center;
}

.hide {
    display: none !important;
}

.ti {
    font-size: 0;
    text-indent: -9999em;
    overflow: hidden;
}

.te {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.te2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hbox, .vbox {
    display: -webkit-box;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;

    display: -o-box;
    -o-box-align: stretch;
    -o-box-direction: normal;
    -o-box-orient: horizontal;
    -o-box-pack: start;

    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
}

.hbox {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.vbox {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.cbox {

    display: -o-box;
    -o-box-align: center;
    -o-box-pack: center;

    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.vcbox {
    display: -webkit-box;
    -webkit-box-align: stretch;

    display: -o-box;
    -o-box-align: stretch;

    display: -webkit-flex;
    display: flex;
    align-items: stretch;

    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/*去掉搜索框的自带样式，包括边框，搜索和删除按钮*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="search"] {
    -webkit-appearance: none;
}

/*-- @media
--------------------------------------------------*/
/*
@media screen and (min-width: 320px) and (max-width: 349px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 350px) and (max-width: 399px) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
    html {
        font-size: 16px;
    }
}
*/

/*
html {
    font-size: 20px;
    font-size: calc(100vw / 3.75);
}

@media only screen and (min-width: 401px) {
    html {
        font-size: 25px !important;
    }
}

@media only screen and (min-width: 428px) {
    html {
        font-size: 26.75px !important;
    }
}

@media only screen and (min-width: 481px) {
    html {
        font-size: 30px !important;
    }
}

@media only screen and (min-width: 569px) {
    html {
        font-size: 35px !important;
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 40px !important;
    }
}
*/



