html{background-color:#f2f2f2;}
body{font-size:12px;}
a{text-decoration:none;}
.page{width:100%;min-width:320px;max-width:480px;padding:0;margin-left:auto;margin-right:auto;background-color:#f2f2f2;}
.evaluate{font-size:0.12rem;font-weight: normal;color:#00a0e9;font-family:'微软雅黑';}

/*分类筛选*/
.filter_wrap {
	display: -webkit-box;
	position: relative;
	width: 100%;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	overflow: hidden;
	background: #fff;
	z-index: 999;
	clear: both;
	height: 3em;
    line-height: 3em;
	top:0;
}

.filter_item~.filter_item:before {
	content: '|';
	position: absolute;
	left: 0;
	color: #797979;
}

.pop {
	position: absolute;
	top: 3.2em;
	left: 0;
	background: #fff;
	width: 100%;
	overflow: auto;
	z-index: 999;
	display:none;
}
.type_item {
	display: block;
	color: #333;
	font-size: 14px;
	padding-left: 4%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d7d7d7;
	cursor: pointer;
	box-sizing: border-box;
}
.type_item_on{
	color: #ff004a;
	background: #f3f5f7;
}
#mask_filter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
.shop_goods{
	padding: 0.3rem 0rem;
}
.goods_pay {
    display: inline-block;
    padding: 0rem 1rem;
    background-color: #f03060;
    color: #FFFFFF;
    text-align: center;
    margin-left: 0.5rem;
    border-radius: 0.4rem;
    border: none;
}


/*dialog*/
.dialog_bg{position:absolute;z-index:999;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.2);}
.dialog_wrap{position:absolute;z-index:1000;top:50%;left:0;width:100%;padding:0 20px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.dialog_main{min-width:280px;max-width:440px;margin-left:auto;margin-right:auto;background:#fff;box-shadow:2px 0 3px rgba(0,0,0,.2);}
.dialog_title{height:49px;font:300 20px/49px 'arial';border-bottom:1px solid #1CB177;color:#1BB177;text-align:center;}
.dialog_con{padding:25px;}

/* content */
.content{width:96%;padding:2%; padding-bottom:0;}

.back{display:none;float:left;width:64px;height:48px;border:1px solid #ccc;background:url('http://res.ckimg.com/sites/www/v2/images/wap/back.png') no-repeat 0 0;}

/* c_count */
.c_count{clear:both;font:20px/26px arial,'microsoft yahei','simsun'; color:#333;margin-bottom:15px;}
.c_count em{color:#f60;padding:0 3px;}

/* c_part */
.c_part{margin-bottom:20px;}
.c_part .tit{position:relative;border-top:1px #ccc solid;text-align:center;margin-top:5px;margin-bottom:20px;}
.c_part .tit .title{position:absolute;top:-13px;left:50%;display:inline-block;width:24.78%;height:26px;font:700 20px/26px 'microsoft yahei',arial,'simsun'; color:#333;margin-left:-12%;background-color:#f2f2f2;}
.c_part .con{}
.c_part .con dl.list{height:100px;border:1px solid #ccc;background:#fff;margin-top:-1px;}
.c_part .con dl.list dt{display:block;float:left;width:120px;height:75px;margin:5px;}
.c_part .con dl.list dt img{display:block;width:120px;height:90px;}
.c_part .con dl.list dd{margin-top:10px;margin-right:10px;}
.c_part .con dl.list dd .s_tit{margin-bottom:8px;font:16px/20px 'microsoft yahei',arial,'simsun';color:#333;max-height:0.32rem;overflow: hidden;}
.c_part .con dl.list dd .s_des{margin-bottom:5px;font:14px/18px 'microsoft yahei',arial,'simsun';color:#999;}
.c_part .con dl.list dd .s_ext{font:14px/18px 'microsoft yahei',arial,'simsun';color:#555;}
.c_part .con dl.list dd .s_ext .n{color:#ff7f00;}

/* c_sort */
.c_sort{clear:both;margin-bottom:20px;}
.c_sort ul{}
.c_sort ul li{border:1px solid #ccc;margin-top:-1px;height:50px;background:#fff url('http://res.ckimg.com/sites/www/v2/images/wap/list_sort_bg.png') no-repeat 100% 0;}
.c_sort ul li a{display:block;padding:0 10px;font:300 20px/50px arial,'microsoft yahei','simsun';color:#333;text-decoration:none;}

/* c_page */
.c_page{width:100%;height:76px;margin-bottom:17px;}
.c_page .pre{display:block;float:left;width:34.782%;height:74px;border:1px solid #ccc;text-align:center;background-color:#fff;font: 20px/74px arial,'microsoft yahei','simsun';text-decoration:none;color:#3bc0b6;}
.c_page .next{display:block;float:right;width:34.782%;height:74px;border:1px solid #ccc;text-align:center;background-color:#fff;font: 20px/74px arial,'microsoft yahei','simsun';text-decoration:none;color:#3bc0b6;}
.c_page .num{display:block;float:left;width:29.144321%;height:76px;text-align:center;color:#555;font:20px/76px arial,'microsoft yahei';}

/* 屏幕小于960px */
@media screen and (max-width:960px){

	}
/* 屏幕小于768px */
@media screen and (max-width:768px){

	}
/* 屏幕小于480px */
@media screen and (max-width:479px){
	.page{width:100%;min-width:320px;max-width:480px;padding:0;margin-left:auto;margin-right:auto;background-color:#f2f2f2;}

	/* content */

	.back{display:none;float:left;width:45px;height:34px;border:1px solid #ccc;background:url('http://res.ckimg.com/sites/www/v2/images/wap/back_320.png') no-repeat 0 0;}
	/* c_sbar1 */
	.c_sbar1{float:right;width:99%;height:34px;border:1px solid #ff7f00;margin-bottom:17px;background:#fff;}
	.c_sbar1 .txtWrap{float:left;width:191px;height:34px;overflow:hidden;}
	.c_sbar1 .txt{float:left;width:230px;height:34px;padding:0 5px;border:none 0;}
	.c_sbar1 .submit{display:block;float:right;width:60px;height:34px;border-left:1px solid #ff7f00;border:none;text-align:-999em;background:url('http://res.ckimg.com/sites/www/v2/images/wap/search_btn_320.png') no-repeat 0 0;}
	.c_sbar1 .list{position:absolute;top:34px;left:-1px;border:1px solid #f60;}
	.c_sbar1 .list ul{width:192px;}
	.c_sbar1 .list li{width:100%;height:34px;border-top:1px solid #ccc;margin-top:-1px;background:#fff;text-indent:10px;line-height:30px;font-size:14px;color:#555;font-weight:700;}
	.c_sbar1 .list li:hover{cursor:pointer;background:#f9f9f9;}

	/* c_count */
	.c_count{clear:both;font:16px/20px arial,'microsoft yahei','simsun'; color:#333;margin:10px;}
	.c_count em{color:#f60;padding:0 3px;}

	/* c_part */
	.c_part{margin-bottom:20px;}
	.c_part .tit{position:relative;text-align:center;margin-top:5px;margin-bottom:20px;}
	.c_part .tit .title{position:absolute;top:-13px;left:50%;display:inline-block;width:24.78%;height:26px;font:700 16px/26px 'microsoft yahei',arial,'simsun'; color:#333;margin-left:-12.39%;background-color:#f2f2f2;}
	.c_part .con{}
	.c_part .con dl.list{height:95px;border:1px solid #ccc;background:#fff;margin-top:-1px;}
	.c_part .con dl.list dt{display:block;float:left;width:110px;height:80px;margin:5px;}
	.c_part .con dl.list dt img{display:block;width:110px;height:80px; border-radius: 8px;}
	.c_part .con dl.list dd{margin-top:5px;margin-right:5px;}
	.c_part .con dl.list dd .s_tit{margin-bottom:8px;font:14px/16px 'microsoft yahei',arial,'simsun';color:#333;max-height:0.32rem;overflow: hidden;}
	.c_part .con dl.list dd .s_des{margin-bottom:5px;font:12px/14px 'microsoft yahei',arial,'simsun';color:#999;}
	.c_part .con dl.list dd .s_ext{font:12px/14px 'microsoft yahei',arial,'simsun';color:#555;}
	.c_part .con dl.list dd .s_ext .n{color:#ff7f00;}

	/* c_sort */
	.c_sort{clear:both;margin-bottom:15px;}
	.c_sort ul{}
	.c_sort ul li{border:1px solid #ccc;margin-top:-1px;height:36px;background:#fff url('http://res.ckimg.com/sites/www/v2/images/wap/list_sort_bg_320.png') no-repeat 100% 3px;}
	.c_sort ul li a{display:block;padding:0 10px;font:300 16px/36px arial,'microsoft yahei','simsun';color:#333;text-decoration:none;}

	/* c_page */
	.c_page{width:100%;height:38px;margin-bottom:17px;}
	.c_page .pre{display:block;float:left;width:30%;height:36px;border:1px solid #ccc;text-align:center;background-color:#fff;font: 16px/38px arial,'microsoft yahei','simsun';text-decoration:none;color:#3bc0b6;}
	.c_page .next{display:block;float:right;width:29%;height:36px;border:1px solid #ccc;text-align:center;background-color:#fff;font: 16px/38px arial,'microsoft yahei','simsun';text-decoration:none;color:#3bc0b6;}
	.c_page .num{display:block;float:left;width:39%;height:38px;text-align:center;color:#555;font:20px/38px arial,'microsoft yahei';}

	}

/* 屏幕小于320px */
@media screen and (max-width:320px){}