@charset "utf-8";

/*新增会员中心CSS*/
.vipcenter {font-family:"微软雅黑"; padding: 0px; font-size:.14rem;}
.vipcenter .vipheader { padding: .2rem; height: 165px; background: url(../images/agency-top.jpg); background-size: cover;}
.vipcenter .vipheader .touxiang { width: 72px; height: 72px; margin: 0px auto; border-radius: 100%; border: 2px solid #fff;}
.vipcenter .vipheader .touxiang img { border-radius: 100%; width: 100%;}
.vipcenter .vipsan { padding: 14px 0; background: #fff; border-bottom:1px solid #ccc; overflow: auto; margin-bottom: 10px;}
.vipcenter .vipsan div { border-right:1px solid #ccc; width:25%; float:left; text-align:center;}
.vipcenter .vipsan div:last-child { border: 0px;}
.vipcenter .vipsan a { color: #666; }
.vipcenter .vipsan h4 { font-size: 1em; line-height: 1.5em;}
.vipcenter .vipsan p { color: red; padding: 0px; margin: 0px;}
.uc-userboard-project {
	margin: 3px;
    border-top: solid #e1e7ee 1px;
    border-left: solid #e1e7ee 1px;
    background-color: #fff;
}
.uc-userboard-project .item {
    float: left;
    width: 25%;
    position: relative;
}
.uc-userboard-project a:visited {
    color: #63625e;
}
.uc-userboard-project a {
    display: block;
    height: 74px;
    border: solid #e1e7ee;
    border-width: 0 1px 1px 0;
    color: #63625f;
    text-align: center;
}
.uc-userboard-project .grid {
    display: block;
    width: 100%;
    height: 44px;
    padding-top: 5px;
    line-height: 44px;
    text-align: center;
}
.uc-userboard-project .vip-service{
	color:#00B285;
}
.uc-userboard-project .mylesson{
	color:#00A1DF;
}

.uc-userboard-project .history {
	color:#3665D2;
}
.uc-userboard-project .collect-lesson{
	color:#FF4D4D;
}
.uc-userboard-project .collect-teacher{
	color:#00468C;
}
.uc-userboard-project .teacher-center{
	color:#21CA0E;
}
.uc-userboard-project .share-center{
	color:red;
}
.uc-userboard-project .edit-mobile{
	color:#17B5A9;
}
.uc-userboard-project .self-diy{
	color:#EF7D18;
}
.uc-userboard-project .grid .iconfont{
	font-size: 32px;
}
.uc-userboard-project .text {
    display: block;
    font-size: 14px;
    line-height: 2.2;
    text-align: center;
}
.uc-userboard-project .fn-clear {
    margin-bottom: -1px;
}


/* 订单样式 */
.order-container {font-size: .14rem;}
.tab-wrap.fixed {height: .37rem;}
.order-tab {background-color: #f4f4f4;overflow: hidden;}
.fixed .order-tab {position: fixed;left: 0;top: 0;z-index: 90;width: 100%; }
.order-tab li {width: 33.333%;height: .36rem;line-height: .38rem;font-size: .16rem;color: #666;text-align: center;border-bottom: 1px solid #e6e6e6; }
.order-tab li.cur {color: #cc3333; border-bottom: 2px solid #cc3333;}
.order-list {background: #F8F8F8; }
.order-list li {margin-bottom: .1rem;background: #fff;border-bottom: 1px solid #e6e6e6; }
.order-list .order-info {padding: 0 .15rem;line-height: .4rem;color: #999;font-size: .12rem;border-bottom: 1px solid #efefef; }
.order-list .order-info .order-time {white-space: nowrap;}
.order-list .pay-state {display: inline-block;color: #ff7f00;font-size: .12rem; }
.order-list .school {font-size: .14rem;color: #999; }
.course-list.wider {padding: .10rem 0; }
.course-list.row2 .item {margin-bottom: 0;padding: 0 .15rem;overflow: visible; }
.order-list .pay-info {padding: 0 .15rem;height: .45rem;color: #999;font-size: .14rem;border-top: 1px solid #EFEFEF; }
.order-list .pay-info i {color: #ff7f00;font-size: .16rem; font-family: "微软雅黑";}
.order-list .pay-info .pay-btn{color:#fff; font-family:"微软雅黑";background-color:#EF740A;padding:.05rem .08rem;border-radius: 0.05rem;}
.order-list .pay-info .cancle-btn{color:#fff; font-family:"微软雅黑";background-color:#3584D6;padding:.05rem .08rem;border-radius: 0.05rem;}
.order-list .pay-info .evaluate-btn{color:#fff; font-family:"微软雅黑";background-color:#06c1ae;padding:.05rem .08rem;border-radius: 0.05rem;}
.order-list .btn-pay-now {display: inline-block;width: .65rem;height: .24rem;line-height: .24rem;border: 1px solid #ff9833;background: #fffaf6;color: #ff7f00;text-align: center;font-size: .12rem;border-radius: 2px; }
.course-list.wider .state-down {position: relative; }
.course-list.wider .state-down img {opacity: .4; }
.course-list .ico-state-down {position: absolute;left: .87rem;top: -.1rem;display: inline-block;width: .55rem;height: .55rem;background: url(../images/ico-course-down.png) no-repeat; }
.course-list .myviplog{font-size: .14rem;line-height: .24rem;font-family: "微软雅黑";}
.no-content {padding: .6rem 0;text-align: center;color: #ddd;font-size: .16rem; }
.no-content .ico-none {display: inline-block;margin-bottom: .1rem;width: 54px;height: 55px;background: url(../images/ico-order-none.png) no-repeat; }
@media screen and (max-width: 320px) {.order-list .order-info {padding: .05rem .15rem;}.order-list .order-info .num-time {line-height: .2rem;} }


/* VIP服务样式 */
.myvip{font-family:"微软雅黑";}
.myvip ul li{ color:#fff;}
.myvip-container {font-size: .14rem;}
.tab-wrap.fixed {height: .37rem;}
.myvip-tab {background-color: #FE7875;overflow: hidden;}
.fixed .myvip-tab {position: fixed;left: 0;top: 0;z-index: 90;width: 100%; }
.myvip-tab li {width:100%;height: .46rem;line-height: .46rem;font-size: .16rem;color: #666;text-align: center;bmyvip-bottom: 1px solid #e6e6e6; }
.myvip-tab li.cur {color: #43c0b5;bmyvip-color: #43c0b5; }
.myvip-list {background: #F8F8F8; padding: .08rem 0;}
.myvip-list li {margin-bottom: .1rem;background: #fff;bmyvip-bottom: 1px solid #e6e6e6; }
.myvip-list .myvip-info {font-family:"微软雅黑";padding: 0 .15rem;line-height: .4rem;color: #999;font-size: .13rem;bmyvip-bottom: 1px solid #efefef; }
.myvip-list .myvip-info .myvip-time {white-space: nowrap;margin-left: .05rem; display: inline-block; text-align: right; width: 60%;}
.myvip-list .normal{color:#158A08;}
.myvip-list .disabled{color:#FD0000;}
.myvip-list .pay-state {display: inline-block;color: #ff7f00;font-size: .12rem; }
.myvip-list .school {font-size: .14rem;color: #999; }
.course-list2.wider {border-top: #F1EFEF 1px solid;}
.course-list2.wider .state-down {position: relative; }
.course-list2.wider .state-down img {opacity: .4; }
.course-list2 .ico-state-down {position: absolute;left: .87rem;top: -.1rem;display: inline-block;width: .55rem;height: .55rem;background: url(../images/ico-course-down.png) no-repeat; }
.course-list2 .buyvip{height: .4rem; border-bottom: #ddd 1px solid; padding-top: .08rem;}
.course-list2 .buyvip li{font-family:"微软雅黑";width:33.33333%; font-size:.14rem; float:left; margin:0;text-align:center;}
.course-list2 .buyvip .align{padding-top: .05rem;}
.course-list2 .vip-card{padding:10px; text-align:right;}