@charset "utf-8";

/*-- 学校机构页
-------------------------------------------*/

.agency {
    min-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.agency-head {
    padding: 0 .15rem;
    height: 1.1rem;
    font-size: .12rem;
    color: #fff;
    overflow: hidden;
    background: url("../images/agency-top.jpg") no-repeat;
    background-size: cover;
}

.agency-head .pic {
    margin-right: 10px;
    width: .7rem;
    height: .7rem;
	border-radius: 50%;
}

.agency-head .title {
    /*padding: 0 0 .1rem;*/
    font-size: .14rem;
}

.agency-head .data {
    text-align: left;
    color: rgba(255, 255, 255, .7);
    overflow: hidden;
}

.agency-head .data .num,
.agency-head .data .per {
    text-align: center;
    line-height: 16px;
}

.agency-head .data .line {
    display: block;
    width: 0;
    height: .36rem;
    margin: 0 10%;
    border-right: 1px solid rgba(255, 255, 255, .12);
}

.agency-head .link {
    display: block;
    width: .52rem;
    border: 1px solid rgba(255, 255, 255, .12);
    height: .28rem;
    line-height: 28px;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, .08);
}

.agency-head .btn-share {
    display: block;
    width: .52rem;
    height: .28rem;
    line-height: 28px;
    text-align: right;
}

.agency-head .btn-share .ico-share2 {
    vertical-align: -3px;
}

/*收藏动画*/

.agency-head .link.cur .ico-collect2 {
    background: url("../images/ico-favorited2.png") no-repeat;
    transform-origin: 50% 50%;
    transition: transform .5s ease-in-out 0s;
    animation-name: bling;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    -webkit-transform-origin: 50% 50%;
    -webkit-transition: transform .5s ease-in-out 0s;
    -webkit-animation-name: bling;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes bling {
    0% {
        opacity: .3;
        transform: scale(1);
    }
    25% {
        opacity: .5;
        transform: scale(1.1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    75% {
        opacity: .5;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes bling {
    0% {
        opacity: .3;
        transform: scale(1);
    }
    25% {
        opacity: .5;
        transform: scale(1.1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
    }
    75% {
        opacity: .5;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/* 引用详情页 tab */

.details-tab {
	font-family:"微软雅黑";
    position: relative;
    border-top: 1px solid #e6e6e6;
    background-color: #f4f4f4;
    overflow: hidden;
}

.details-tab.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.details-tab li {
    float: left;
    width: 33.333%;
}

.details-tab li:last-child {
    width: 33.334%;
}

.details-tab a {
    display: block;
    height: .36rem;
    line-height: .38rem;
    font-size: .16rem;
    color: #666;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.details-tab .cur a {
    position: relative;
    color: #cc3333;
    border-bottom: 2px #cc3333 solid;
}

.agency-tab li,
.details-tab li:last-child {
    width: 50%;
}

/*tab 目录 、节课 / 简介
---------------------------------------------*/

.agency-con {

}

.agency-profile {
    font-size: .14rem;
    color: #666;
}

.agency-profile .g-title {
    margin: 0 .1rem -.05rem;
}

.agency-info-box {
    padding: .15rem .1rem ;
}

.agency-info {
    height: .61rem;
    margin-top: -3px;
}

.d-list-unfold {
    display: block;
    margin: .05rem auto .1rem;
}

.agency-info.te2 {
    -webkit-line-clamp: 3;
}

.agency-info .h-auto {
    height: auto;
    -webkit-line-clamp: initial;
}

/*新课推荐*/
.agency-recommend {

}

/*tab 简介*/

.agency-teachers {

}

/*-- 图标
-----------------------*/

.ico-remind {
    margin-right: 10px;
    width: .25rem;
    height: .25rem;
    background: url("../images/ico-remind.png") no-repeat;
}