*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{color:#666;min-width:320px;}
a{color:#666;text-decoration:none;}
a:hover{color:#666;}
.fn-tran-100{transition:all .1s ease-in 0s;}
.fn-tran-200{transition:all .2s ease-in 0s;}
.fn-clear{zoom:1;}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:"1";clear:both;height:0;}
.fn-show{display:block;}
.fn-hide{display:none;}
.fn-left{float:left;_display:inline;}
.fn-right{float:right;_display:inline;}
.fn-input-text{vertical-align:top;*vertical-align:middle;*margin-top:-1px;*margin-bottom:-1px;}
.fn-input-button{vertical-align:top;*vertical-align:middle;border:none;background:none;text-align:center;cursor:pointer;}
.fn-text-justify{text-align:justify;text-justify:inter-ideograph;}
.fn-table-fixed{table-layout:fixed;}
.fn-font-arial{font-family:Arial !important;}
.fn-vertical-middle{vertical-align:middle !important;}
.fn-opacity-hide{opacity:0;filter:alpha(opacity=0)}
.fn-opacity-show{opacity:1;filter:alpha(opacity=100)}
.fn-visibility-hide{visibility:hidden;}
.fn-visibility-show{visibility:visible;}
.fn-wrap{word-wrap:break-word;word-break:break-all;white-space:normal;}
.fn-ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.fn-bg-center{background-position:50%;background-size:contain;background-repeat:no-repeat;}
.fn-bg-cover-center{background-position:50%;background-size:cover;background-repeat:no-repeat;}
.fn-margin-middle{margin-left:auto;margin-right:auto;}
.fn-margin-top-7{margin-top:7px;}
.fn-margin-top-15{margin-top:15px;}
.fn-margin-top-35{margin-top:35px;}
.fn-margin-top-40{margin-top:40px;}
.fn-margin-top-50{margin-top:50px;}
.fn-margin-top-80{margin-top:80px;}
.fn-margin-right-10{margin-right:10px;}
.fn-margin-left-10{margin-left:10px;}
.fn-padding-left-40{padding-left:40px;}
.fn-margin-right-10{margin-right:10px;}
/** 手机端 phoneAlert */
.alert-box{position:fixed;width:100%;height:100%;z-index:99999;top:0;left:0;}
.alert-box .ui-co{position:absolute;z-index:2;width:80%;background:rgba(7,129,170,.8);border-radius:5px;left:50%;margin-left:-40%;top:50%;box-shadow:0 3px 10px rgba(0,0,0,.5);opacity:0}
.alert-box .ui-bg{position:absolute;z-index:1;width:100%;height:100%;background:#000;opacity:0;}
.alert-box .ui-title{font-size:14px;color:#FFF;text-align:center;padding:5px;}
.alert-box .ui-content{font-size:12px;color:#FFF;text-align:left;padding:10px 5px;text-indent:2em;}
.alert-box .ui-button{padding:5px;text-align:center;}
.alert-box .ui-button a{color:#FFF;width:47%;text-align:center;background:#2f9ec3;border-radius:5px;font-size:12px;line-height:30px;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);border:1px solid #0a5872;display:inline-block;vertical-align:top;margin:0 1%;}
/** 手机端3Dbanner */
.wsdbannerbox{background:url("/static/assets/img/3dload.gif") no-repeat 50%;}
.wsdbanner{overflow:hidden;background:#FFF;margin:0 auto;min-height:160px;opacity:0;position:relative;}
.wsdbanner ul{position:relative;left:0;top:0;height:100%;}
.wsdbanner ul li{float:left;overflow:hidden;background:#FFF;height:100%;}
.wsdbanner ul img{width:100%;}
.wsdbanner ul a{display:block;overflow:hidden;height:100%;}
.wsdbanner .ui-txt{position:absolute;bottom:0;left:0;background:rgba(0,0,0,.5);z-index:1;width:100%;height:30px;line-height:30px;overflow:hidden;color:#FFF;}
.wsdbanner .ui-txt p{padding-left:5px;}
.wsdbanner .ui-btn{position:absolute;bottom:10px;right:0;z-index:2;}
.wsdbanner .ui-btn span{float:left;width:8px;height:8px;border:1px solid #CCC;background:#000;margin-right:5px;border-radius:5px;}
.wsdbanner .ui-btn .ui-focus{border:1px solid #FFF;background:#CCC;}
.bodyer .ui-list .ui-cur{transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg)}
/** loading */
.gl-loading-img{position:fixed;z-index:2;width:60px;height:60px;top:50%;left:50%;margin-left:-30px;margin-top:-30px;background:url("/static/img/load.gif") no-repeat 50% #000;border-radius:5px;opacity:.5;filter:alpha(opacity=50)}
/** 手机端的日历控件 */
.phone-calendar{position:fixed;width:100%;background:#F1F1F1;bottom:0;z-index: 999999}
.phone-calendar .ui-box{padding:5px 5px 0 5px;}
.phone-calendar .ui-box td{text-align:center;line-height:25px;font-size:12px;font-weight:bold;font-family:Georgia;}
.phone-calendar .ui-box ul{position:relative;top:0;z-index:3;}
.phone-calendar .ui-year,.phone-calendar .ui-month,.phone-calendar .ui-day,.phone-calendar .ui-hour,.phone-calendar .ui-minute{height:125px;overflow:hidden;margin:1px;background:#CCC;position:relative;color:#333;border:2px solid #777;border-radius:5px;}
.phone-calendar .ui-focus{border-color:#333;}
.phone-calendar .ui-shad-top,.phone-calendar .ui-shad-bot{position:absolute;width:100%;height:50px;top:0;left:0;background:#000;opacity:.3;z-index:2;}
.phone-calendar .ui-shad-bot{top:auto;bottom:0;}
.phone-calendar .ui-shad-cen{position:absolute;width:100%;height:25px;top:50px;left:0;box-shadow:0 0 20px rgba(0,0,0,.5);z-index:2;}
.phone-calendar .ui-btn{padding:0 5px 5px 5px;}
.phone-calendar .ui-btn a{display:block;text-align:center;height:30px;line-height:30px;background:#333;margin:1px;border-radius:5px;color:#FFF;}
/** 分页 */
.gl-table-page li{display:inline-block;height:30px;}
.gl-table-page li{*display:inline;*margin-right:5px;}
.gl-table-page a{float:left;height:28px;line-height:30px;background:#F2F2F2;text-align:center;border-radius:2px;border:1px solid #CCC;}
.gl-table-page .ui-prev a,.gl-table-page .ui-next a{padding:0 5px;}
.gl-table-page .page a{width:30px;}
.gl-table-page a:hover{background:#fcfcfc;color:#333;box-shadow:0px 1px 1px rgba(0,0,0,.1);}
.gl-table-page a:active{border-color:#196AEA;color:#333;}
.gl-table-page .selected a{background:#368EE0;color:#FFF;border-color:#196AEA;}
/** 分享界面 */
.share-screen{position:fixed;width:100%;height:100%;z-index:10;top:0;left:0;}
.share-screen .ui-content{position:absolute;z-index:2;background:#222;top:10px;right:10px;border-radius:5px;}
.share-screen .ui-bg{position:absolute;z-index:1;width:100%;height:100%;background:#222;opacity:0}
.myshare-firend{height:250px;background:url("../img/myshare-firend.png") no-repeat 0 -25px;background-size:250px;}
.myshare-timeline{height:250px;background:url("../img/myshare-timeline.png") no-repeat 0 -25px;background-size:250px;}