html{overflow-y:scroll;}
body{background:#fff;min-width:320px;}
.wsd-bodyer{
	opacity:0; 
	background:#fff;
}
.wsd-bodyer .ui-box{padding:2px 0 2px 0;}
.nav_box{
	width:100%;
	
}
.nav_list{
	width:100%;
	overflow:hidden;
	padding-left: 0px;
}
.nav_list li{ 
	width:33.33333%; 
	float:left;
	height:100%;
	text-align:center;
	font-size:16px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#000;
	background: #444040;
	color: #fff;	
	
}
.nav_list li.listc-1{background:#f8931b}
.nav_list li.listc-2{background:#659f5e}
.nav_list li.listc-3{background:#b151a9}
.nav_list li.cur{color:#0b7874; background:none;}
.nav_border{ width:100%; height:3px;  position:relative;}
.nav_border span{display:block; width:33.33333%; height:3px; background:#0b7874; position:absolute; top:0px; left:0px; z-index:9;}


.wsd_main{ width:100%; display:none; padding-left: 0px;}
.show{display:block;}
.wsd_main li{ width:33.33333%; float:left; padding:20px 0 0px 0;}
.main_img{ width:84.5%; margin:0 auto;}
.main_img .ui-icomoon{width:100%; color:#ccc; font-size:45px;}
.main_img img{background-size:contain; background-repeat:no-repeat;}
.main_text{ width:84.5%; margin:0 auto; height:23px; color:#000; overflow:hidden; text-align:center; font-size:12px; font-family:"微软雅黑"; font-weight:bold;margin-top:7px;}

#list li{list-style-type:none; margin:0;}
.banner{padding-left: 0px; margin-bottom: 0px; margin-top: 0px;}