@charset "utf-8";
/*
	@名称: base
	@功能: 重设浏览器默认样式
*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    font-size : 20px;
    color: #fff; /*background:#fff;*/
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Droid sans fallback;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 16rem;
    overflow: auto;
}

span, p, a, ul, li, i, h1, h2, h3, input[type=checkbox],input[type=radio],textarea,select,option,pre{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-style: normal;
    resize: none;
    font-weight: normal;
}

img {
    border-style: none;
}

input{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #959595;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    outline: none;
    /*border: 1px solid #fff;*/
    /*border-bottom: 1px solid #959595;*/
}

textarea{
    font-size: 14px;
    padding: 8px;
    line-height: 20px;
}

::-webkit-input-placeholder,:-moz-placeholder,:-ms-input-placeholder{
    font-size: 14px;
    font-weight: normal;
    font-family: Droid sans fallback;
}

.clearfix {
    *zoom: 1
}

.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: ""
}

.clearfix:after {
    clear: both
}

.tri {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-width: 5px 4px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    right: 10px;
    top: 18px;
}

.re-tri {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-width: 5px 4px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
    right: 10px;
    top: 13px;
}

.img404 {
    width: 100%;
    min-height: 600px;
}

.img404 img{
    position: absolute;
    width: 770px;
    height: 503px;
    left: 50%;
    top: 50%;
    margin-left: -385px;
    margin-top: -253px;
}