@charset "utf-8";
body{
    width: 14rem;
    height: 100%;
    background-attachment:fixed;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    background-size: cover;
    -webkit-background-size:cover;
}

.main-block {
    width: 14rem;
    height: auto;
    min-height: 100%;
    margin: 1px auto;
    overflow: hidden;
    padding: 1rem;
}

.main-block1 {
    width: 100%;
    height: auto;
    min-height: 100%;
    /*margin: 1px auto;*/
    overflow: hidden;
    /*padding: 1rem;*/
}
/*列表页*/
.title{
    width: 100%;
    padding: 13px 0;
    /*color: #333;*/
    text-align: center;
    font-size: 0.8rem;
    display: block;
    background-color: rgba(5,69,93,0.5);
    box-shadow:  0 -3px 10px #455257 inset;
}

.index-list{
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.index-list-li{
    width: 100%;
    padding: 15px 0;
	margin-bottom: 15px;
    background-color: rgba(5,69,93,0.2);
    box-shadow:  0 2px 8px #455257;
    overflow: hidden;
    position: relative;
}

.index-list-a{
    width: 100%;
    color: #fff;
    overflow: hidden;
}

.index-list-img{
    display: inline-block;
    width: 100px;
    height: 68px;
    margin-left: 20px;
    float: left;
    vertical-align: middle;
}

.index-list-span{
    padding: 10px;
    float: left;
    display: inline-block;
    vertical-align: middle;

}

.index-list-span strong{
    font-size: 0.7rem;
    display: block;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.index-list-span p{
    font-size: 0.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.index-list-ltImg{
    width: 3%;
    height: auto;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -11px;
}

/*楼宇*/
.main-img{
    width: 70%;
    margin: 50px auto;
}

.main-img img{
    width: 100%;
    height: auto;
}

.ly-list{
    padding: 15px 0;
    margin-top: 50px;
}

.ly-list li{
    padding: 20px;
    background-color: rgba(5,69,93,0.6);
    box-shadow:  0 2px 8px #455257;
}

.ly-list span{
    vertical-align: middle;
}

.ly-list-input{
    width: 75%;
    vertical-align: middle;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 0.9rem;
}

.ly-list-select{
    width: 78%;
    vertical-align: middle;
    padding: 5px;
    font-size: 0.9rem;
}

.btn{
    width: 100%;
    display: block;
    margin-top: 40px;
    padding: 8px;
    background-color: #e06060;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    box-shadow:  0 -3px 20px #455257 inset;
}






/*结果页*/
.item-top{
    width: 100%;
    padding: 12px 0;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    box-shadow:  0 2px 8px #49545a;
}

.title-img1{
    width: 30%;
    height: auto;
    margin-bottom: 5px;
    /*margin-top: -20px;*/
}

.item-main{
    width: 80%;
    margin: 50px auto;
    margin-top: 22%;
}

.item-img{
    width: 100%;
    height: auto;
}

.item-warpBtn{
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    padding-bottom: 10px;
    position: fixed;
    bottom: 15px;
    left: 10%;
}

.item-btn{
    width: 100px;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(5,69,93,0.5);
    box-shadow:  0 2px 8px #455257;
}




/*分享*/
.star-btn{
    width:100%;
    display: block;
    color: #fff;
    background-color: #d56b6b;
    padding: 8px 0;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    border:0;
    box-shadow:  0 -3px 8px #8e4747 inset;
}

.star-btn-img{
    width: 10%;
    height: auto;
    vertical-align: middle;
}



/* 弹出 */
.pop-mask {
    margin:0 auto;
    width:100%;
    height:100%;
    z-index:200;
    background-color:rgba(0,0,0,0.7);
    position:fixed;
    left:0;
    /*top:0;*/
    bottom: 0;
    font-family: '微软雅黑',Microsoft yahei,Arial,sans-serif;
    display: none;
}
.pop-wrap {
    position:absolute;
    top: 30%;
    left: 0;
    width:16rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:#fff;
    vertical-align:middle;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
}


.pop-wrap1 {
    position:absolute;
    top: 10px;
    right: 30px;
    overflow: hidden;
}

.pop-wrap-img{
    width: 50%;
    height: auto;
    float: right;
}

.pop-main{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.pop-p{
    color: #333;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.pop-p1{
    font-size: 0.7rem;
    color: #04445c;
    padding: 10px 0;
}













