.b5m-activity905-mask {
  position: fixed;
  _position: absolute;
  z-index: 2147483646;
  width: 100%;
  height: 75px;
  background: #8004ae;
  opacity: 0.4;
  left: 0;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.b5m-activity905-wrapper-horizontal {
  position: fixed;
  _position: absolute;
  z-index: 2147483647;
  width: 100%;
  height: 75px;
  left: 50%;
  margin-left: -410px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(images/b5m-20151010.png) !important;
  background-position: 0 0;
}
.b5m-activity905-wrapper-horizontal .b5m-btn-shutdown {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 6px;
  left: 765px;
}

.b5m-activity905-wrapper-horizontal-bot, .b5m-activity905-mask-horizontal-bot {
  bottom: 0;
}

.b5m-activity905-wrapper-horizontal-top, .b5m-activity905-mask-horizontal-top {
  top: 0;
}

/*修改*/

.top_img{width:100%;margin:0 auto;margin-bottom:10px;margin-top:-10px;}
.imag{width:100%;margin:0 auto;}

.footer_img{width:100%;margin:0 auto;margin-bottom:-10px;margin-top:-10px;}

