body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #e2e2e2;
}
.page[data-page=edge]{
    background: #FFFFFF;
}

.task-media-item ul:before{
    content: normal;
}
.task-media-item .content-block-title{
    margin: 15px 15px;
}
.task-media-item .list-block .item-title{
    white-space : inherit;
}
.task-media-item .list-block{
    font-size: 15px;
}
.task-media-item span.share-icon{
    float: left;
    border-radius: 3px;
    background: #BB1F01;
    color: #fff;
    padding: 0 5px;
    margin: 0 10px 0 0;
}
.task-media-item .item-text{
    margin-top: 20px;
}
.task-media-item .item-title p{
    margin: 0px 81px;
}
.task-media-item .task-do-content{
    margin-top: -20px;
}