{template 'common/header'}
{template 'admin/yongjin/tab'}
<div class="panel panel-info">

    <div class="panel-heading">
         佣金管理记录  平台收入:{$_sum}
    </div>

    <div class="panel-body">
          <table class="table text-center">
              <tr>
                <td width="5%">id</td>
                <td>众筹项目</td>
                <td>众筹金额</td>
                <td>佣金比率</td>
                <td>收取佣金</td>
                <td>用户到账</td>
                <td>完成时间</td>

              </tr>
              {loop $list $row}
              <tr>
                <td width="5%">{$row['id']}</td>
                <td>{$row['project_name']}</td>
                <td>{$row['tar_monet']}</td>
                <td>{$row['yongjin']}%</td>
                <td>{$row['fee']}</td>
                <td>{$row['user_fee']}</td>
                <td>{php echo date('Y-m-d H:i:s',$row['upbdate'])}</td>

              </tr>
              {/loop}
          </table>
          <div class="text-center">
              {$pager}
          </div>
    </div>
</div>
