*{box-sizing: border-box;font-family: 'Microsoft YaHei',Arial;}
img{ width: 100%;}
body.chat{ background: rgba(245, 248, 255, 1);}

.hide{ display:none;}
.mask{ position: fixed; z-index: 9; left: 0px; top: 0px; right: 0px; bottom: 0px; background: rgba(0,0,0,.5);;}
.fx-audio{ position: fixed; z-index: 12; left:50%;top: 50%;-webkit-transform: translate3D(-50%,-50%,0); font-size: 0.32rem; color: #3ACED8;}
.audio-start{ width: 2.5rem; height: 2.5rem;line-height:2.5rem;display: block;margin:auto;font-size:1.4rem;text-align:center;background:#3ACED8;color:#fff;border-radius:2.5rem;}
.fx-audio p{text-align: center; line-height: 4;font-weight: bold;height:0.8rem;line-height:0.8rem;}


.chat-content{width:100%;font-size: 0.26rem; color: #666;overflow: auto;overflow-x: hidden;-webkit-overflow-scrolling:touch;}
.chat-content .main{padding:0.2rem;}

.chat-msg{}
.time{
	text-align: center;
    line-height: 2.5;
    font-size: 0.25rem;
    color: #999;
}
.msg{ width: 100%;}
.msg.left>div{float: left;}
.msg.right>div{float: right;}

.nick-img{ width: 1rem; height: 1rem;border-radius: 50%; overflow: hidden;}
.nick-text{ width: 4.5rem; padding: 0.3rem 0.2rem;}
.txt-con{padding: 0.15rem 0.2rem;display: inline-block;box-shadow: 0 0 0.2rem 0.01rem #d5d5d5;font-size:0.28rem;max-width:4.5rem;word-wrap: break-word;}

.left .txt-con{border-radius: 0 0.4rem 0.4rem 0.4rem;box-shadow: 0 0 0.2rem 0.01rem #d5d5d5;background: #FFFFFF;float:left;}
.right .txt-con{border-radius: 0.4rem 0 0.4rem 0.4rem;  background-image: -webkit-gradient(linear, left top, left bottom,from(rgb(58, 206, 216)), to(rgb(21, 194, 243))); color: #FFFFFF;float:right;}
.right .nick-text{text-align: left;}

.right .miaoshu{
	display: block;
    float: right;
    padding: 0.15rem 0.2rem;
	font-size:0.22rem;
	color:#999;
}
.left .miaoshu{
	display: block;
    float: left;
    padding: 0.15rem 0.2rem;
	font-size:0.24rem;
	color:#999;
}
.right .weidu{display:block;width:6px;height:6px;border-radius:6px;background:red;float:right;}
.left .weidu{display:block;width:6px;height:6px;border-radius:6px;background:red;float:left;}
.audio-msg{width: 4rem;height: 0.32rem;display: block;min-width:0.3rem;}
.a-icon{ display: block; height: 0.32rem; width: 0.32rem;line-height:0.32rem;}
.right .a-icon{float: right;}

.chat-input{ background: #FFFFFF; height: 1rem;padding:0.1rem 0;width:7.5rem;}
.chat-input .quickandvoice{width:1.6rem;height:0.8rem;line-height:0.8rem;float:left;}
.chat-input .quickandvoice .quick{width:0.8rem;float:left;height:0.8rem;line-height:0.8rem;font-size:0.5rem;text-align:center;color:#999;}
.chat-input .quickandvoice .qqface{width:0.8rem;float:left;height:0.8rem;line-height:0.8rem;font-size:0.55rem;text-align:center;color:#999;}
.chat-input .input{width:3.5rem;margin-left:0.2rem;height:0.8rem;line-height:0.8rem;float:left;}
.chat-input .input .input-txt{display: block;
    width: 100%;
    border: none;
    font-size: 0.3rem;
    height: 0.8rem;
    line-height: 0.4rem;
    background: #f5f5f5;
    border-radius: 0.15rem;
	text-indent:5px;
	color:#999;
}
.chat-input .other{width:2.2rem;height:0.8rem;float:left;}
.chat-input .other .jia{width:1rem;float: left;height: 0.8rem;line-height:0.8rem;float:left;font-size:0.55rem;text-align:center;color:#999;}
.chat-input .other .send{ width:1.1rem;float:left;height:0.7rem;line-height:0.7rem;margin-top:0.05rem;text-align:center;font-size:0.25rem;color:#fff;background:rgb(58, 206, 216);border-radius:0.2rem;}


.showmore{width:7.5rem;height:2.6rem;background:#f5f5f5;}
.showmore .itemitem{width:1.875rem;height:1.3rem;float:left;}
.showmore .itemitem .item{width:1.1rem;height:1.1rem;background:#fff;text-align:center;margin:0.1rem auto;border-radius:0.15rem;}
.showmore .itemitem .item .text{font-size:0.25rem;height:0.4rem;line-height:0.4rem;color:#999;}
.showmore .itemitem .item .iconfont{width:1.1rem;height:0.7rem;line-height:0.7rem;font-size:0.5rem;color:#999;}

.quick-list{ position: absolute; z-index: 5; left: 0.1rem; bottom:1rem; border: 1px solid #f3f3f3; background: #FFFFFF; font-size: 0.26rem;max-width: 7.3rem; padding: 0.2rem;border-radius: 0.2rem;box-shadow: 0 0 0.2rem 0.01rem #d5d5d5;max-height:4.2rem;overflow:scroll;}
.quick-list li{ line-height: 2.4; border-bottom: 0.02rem solid #f3f3f3; color: #999;}
.quick-list li:last-of-type{border-bottom: none;}


#upload{ width: 0px; height: 0px; z-index: -1; position: absolute;}

.weui-picker-modal{height:5.7rem;}
.toolbar .toolbar-inner{height:0.8rem;line-height:0.8rem;}
.toolbar .picker-button{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.toolbar .title{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.weui-picker-modal .picker-items{font-size:0.35rem;}
.weui-picker-modal .picker-modal-inner{height:4.9rem;}
.weui-picker-modal .picker-item{text-align:center;}

.picker-calendar-row{height:0.6rem;line-height:0.6rem;padding:0.1rem 0;}
i.icon.icon-prev,i.icon.icon-next{background-size:0.3rem;width:0.8rem;line-height:0.8rem;height:0.8rem;position:absolute;margin-left:-0.4rem;}
.icon-next:before {content: "";}
.picker-calendar-month-picker a.icon-only, .picker-calendar-year-picker a.icon-only{height:0.8rem;line-height:0.8rem;}
.picker-calendar-month-picker .current-month-value, .picker-calendar-month-picker .current-year-value, .picker-calendar-year-picker .current-month-value, .picker-calendar-year-picker .current-year-value{height:0.8rem;line-height:0.8rem;font-size:0.35rem;}
.picker-calendar-day span{width:0.6rem;height:0.6rem;line-height:0.6rem;font-size:0.3rem;}
.picker-calendar-week-days{font-size:0.3rem;height:0.8rem;line-height:0.8rem;}
.picker-calendar-week-days .picker-calendar-week-day{height:0.8rem;line-height:0.8rem;}

.weui-toast{width:3.5rem;left:4rem;min-height:auto;padding:0.2rem 0;}
.weui-icon_toast{margin-bottom:0.15rem;margin-top:0.15rem;font-size:0.6rem;margin:0;}
.weui-toast_content{font-size:0.35rem;}



.weui-dialog__hd {padding:0;font-size:0.5rem;}
.weui-dialog__title{font-size:0.4rem;}
.weui-dialog__bd{padding:0.2rem;font-size:0.35rem;min-height:0.4rem;line-height:0.4rem;}
.weui-dialog__ft{font-size:0.35rem;line-height:1rem;}


.weui-cells{font-size:0.36rem;font-size:0.3rem;}
.weui-cell{padding:0.2rem 0.3rem;}
.weui-cells__title{font-size:0.36rem;padding:0.2rem 0.3rem;margin:0 auto;}
.weui-btn{padding:0.1rem;font-size:0.35rem;border-radius: 0.15rem;line-height:0.75rem;}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:0;height:1.4rem;}

.qqFace {background:#fff;width:7.5rem;bottom:1.05rem;border:1px #dfe6f6 solid;padding:0.1rem 0;}
.qqFace table{width:100%;}
.qqFace table td{text-align:center;padding:0.1rem;}
.qqFace table td img {display:table;width:0.5rem;height:0.5rem;cursor:pointer;}