<!DOCTYPE html>

<html>

<head>

    <title>{$hotel['title']}</title>

    <!-- meta信息，可维护 -->

    <meta charset="UTF-8" />

    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta content="telephone=no" name="format-detection" />

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <meta name="description" content="" />

    <meta name="keywords" content="" />

    <!-- 页面样式表 -->

    <link rel="stylesheet" href="{YC_TMP}listyle/common.css" />
    <link rel="stylesheet" type="text/css" href="{YC_TMP}css/common.css">
    <link rel="stylesheet" type="text/css" href="{YC_TMP}listyle/calendar.css" />
    <link rel="stylesheet" type="text/css" href="{YC_TMP}css/detail.css" />
    <link rel="stylesheet" type="text/css" href="{YC_TMP}listyle/introduce.css" />
    <link rel="stylesheet" media="all" href="{MODULE_URL}template/style/css/page.css">


</head>

<body>

    </div>
    {loop $list $item}
    <div class="hotel_list border-top-bottom">
        <div class="hotel_list_title clearfix">
            <div class="title_main">
                <div class="sub_main" style="margin-left: 0px;">
                    <span class="first">{$item['point']}分</span>
                    <span class="fr">{$item['content']}<samp></samp></span>
                </div>

            </div>



            </div>
        </div>
    {/loop}

<!-- 公共页脚  -->

<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script src="{YC_TMP}listyle/zepto.20140212.js"></script>

<script type="text/javascript" src="{YC_TMP}listyle/underscore-min.js"></script>

<script type="text/javascript" src="{YC_TMP}listyle/calendar.js"></script>

<script type="text/javascript" src="{YC_TMP}listyle/iscroll-lite.js"></script>

<script type="text/javascript" src="{YC_TMP}listyle/share.js"></script>

<script type="text/javascript" src="{YC_TMP}listyle/page.js"></script>

<script type="text/javascript" src="{YC_TMP}listyle/detail.0.1.js"></script>
<!-- 公共页脚  -->
{template 'footer'}
</body>

</html>

