.rank_g_core{color: #fff;display: block;height: 28px;line-height: 28px;position: relative;width: 270px;bottom: 4px;left: 28px}
.rank_high .rank_g_core{bottom: 4px;left: 15px;/*width: 285px*/}
.rank_small .rank_g_core{bottom: 4px;left: 0;width: 300px}
.rank_g_price{display: inline-block;background-color: #fff;float: left;height: 28px;border-bottom-left-radius: 5px;border-top-left-radius: 5px;margin-left: 7px;overflow: hidden;padding-left: 6px;color: #ee0a3b;border: 1px solid #ee0a3b;line-height: 28px}
.rank_g_price b{display: inline-block;position: absolute;min-width: 70px;text-align: center;font-weight: 400;font-size: 16px;margin-left: 3px;margin-right: 2px;height: 27px;line-height: 27px}
.rank_g_price b span{color: #ee0a3b;vertical-align: 0;font-size: 13px}
.rank_g_price .price-small{font-size: 14px}
.rank_g_price span{vertical-align: 2px;font-size: 10px;color: #666}
.rank_high .rank_g_price{margin-left: 2px}
.rank_high .rank_g_price b{min-width: 90px;font-size: 16px;margin-left: 0;margin-right: 0}
.rank_high .rank_g_price b span{font-size: 13px}
.rank_high .rank_g_price span{font-size: 12px}
.rank_high b.price-small{font-size: 14px}
.rank_small .rank_g_price{margin-left: 5px;padding-left: 4px}
.rank_small .rank_g_price b{vertical-align: 1px;margin-right: 1px;margin-left: 2px;min-width: 60px}
.rank_small b.price-small{font-size: 12px;vertical-align: 2px}
.rank_g_btn{background-color: #ee0a3b;border-bottom-right-radius: 5px;border-top-right-radius: 5px;float: left;height: 28px;line-height: 28px;padding: 1px 14px 0 4px;position: relative;font-size: 13px}
.rank_g_btn:after{background-position: -140px -105px;content: " ";height: 11px;position: absolute;right: 4px;top: 9px;width: 7px}
.rank_high .rank_g_btn{padding-right: 25px;padding: 1px 22px 0 10px}
.rank_high .rank_g_btn:after{right: 8px}
.rank_small .rank_g_btn{padding-left: 2px;padding-right: 12px}
.rank_small .rank_g_btn:after{right: 4px}
.rank_container{position: relative;width: 100%;max-width: 640px;min-height: 100%;margin: 0 auto;padding: 0 0 46px;overflow-x: hidden;background-color: #fff}
.rank{min-height: 520px;padding: 0}
.rank_g{position: relative;height: 168px;margin-bottom: 2px;border-bottom: 1px solid #ededed}
.rank_g.rank_small{height: 137px}
.rank_g_index{float: left;text-align: center;width: 36px;height: 100%;font-size: 20px;padding: 60px 0;z-index: 200;color: #a3a3a3}
.rank_high .rank_g_index{font-size: 24px;width: 40px}
.rank_small .rank_g_index{width: 32px;padding: 52px 0}
.rank_g_img{display: inline-block;width: 39%;height: 140px;float: left;}
.rank_small .rank_g_img{margin-left: 2px;width: 108px;height: 108px}
.rank_g_img img{display: block;width: 100%;height: 100%;overflow: hidden;margin-top: 12px;margin-left: 12px;}
.rank_g_info{position: absolute;right: 12px;top: 10px;width: 46%;color: #333;height: 56px;overflow: hidden;font-size: 13px}
.rank_high .rank_g_info{font-size: 14px;right: 16px;top: 10px;width: 51%;height: 60px}
.rank_small .rank_g_info{right: 4px;top: 14px;width: 52%;height: 38px;float: right}
.rank_g_name{height: 100%}
.rank_g_volume{position: absolute;bottom: 38px;left: 36px;color: #666}
.rank_g_volume b{font-size: 16px;font-weight: 400;color: #333}
.rank_high .rank_g_volume{left: 24px;font-size: 11px;bottom: 36px}
.rank_small .rank_g_volume{left: 6px;bottom: 38px}
.rank_g_recent{position: absolute;bottom: 40px;left: 38px;font-size: 12px;color: #666}
.rank_g_recent b{font-weight: 400}
.rank_high .rank_g_recent{left: 24px;bottom: 44px}
.rank_small .rank_g_recent{left: 8px}
.rank_core{position: absolute;right: 18px;bottom: 15px;width: 55%}
.rank_small .rank_core{bottom: 12px;right: 0}
.rank_g_btn:after,
.rank_g_core:before,
.tuan_g_btn:after,
.tuan_g_core:before,
.tuan_g_img_round,
.tuan_mark{background-image: url(//cdn.yangkeduo.com/assets/img/bg_v7-611f0a7748.png);background-repeat: no-repeat;background-size: 225px 126px}
#go-top,
.go-top{display: block;width: 42px;height: 42px;position: fixed;right: 20px;bottom: 64px;z-index: 999;background: url(//cdn.yangkeduo.com/assets/img/go_top-b8dda2a315.png) no-repeat;background-size: contain;opacity: 0;-webkit-transition: bottom .8s ease, opacity .6s ease;webkit-transition: bottom .8s ease, opacity .6s ease}
#go-top span,
.go-top span{position: absolute;bottom: 7px;width: 100%;display: block;height: 12px;line-height: 12px;text-align: center;font-size: 10px;color: #333}