		.mall_goods {
	background-color: #fff;
	width: 100%;
	padding: 10px 10px 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
	border-top: 1px solid #eceded;
	clear: both
}

.mall_goods img {
	width: 50px;
	height: 50px;
	position: relative;
	overflow: hidden;
	border: 1px solid #d7d7d7;
	margin-bottom: 5px
}

.mall_goods .mall_sub {
	display: inline-block;
	margin-left: 10px;
	width: 35%
}

.mall_goods .mall_sub span {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-size: 15px;
	position: relative;
	display: inline-block;
	color: #000
}

.mall_goods .mall_sub .sales {
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	position: relative
}

.mall_goods .enter_button {
	border: 1px solid #ddd;
	width: 40%;
	height: 32px;
	display: inline-block;
	text-align: center;
	float: right;
	overflow: hidden;
	margin-top: 9px
}

.mall_goods .enter_button img {
	width: 20px;
	height: 20px;
	position: relative;
	vertical-align: middle;
	border: 0
}

.mall_goods .enter_button span {
	margin-left: 10px;
	text-align: center;
	font-size: 14px;
	color: #666;
	height: 32px;
	line-height: 32px
}