.fast-nav-wrapper {
	position: fixed;
	bottom: 40%;
	right: 0;
	z-index: 10111;
}

.fast-nav-wrapper a i {
	background: url(http://mskin.1yyg.com/weixin/Images/fast-nav-new.png?v=1030) no-repeat;
	background-size: 21px auto;
}

.fast-nav {
	width: 40px;
	background-color: rgba(0, 0, 0, .5);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.fast-nav li {
	height: 40px;
}

.fast-nav li:nth-child(2n) {
	border-top: 1px solid #8b8b8b;
}

.fast-nav li a {
	display: block;
	width: 40px;
	height: 40px;
}

.fast-nav li i {
	display: block;
	width: 21px;
	height: 21px;
	margin: 0 auto;
	position: relative;
	top: 9px;
}

.fast-nav .nav-menu {
	background-position: 0 -129px;
	left: 2px;
}

.fast-nav .nav-top {
	background-position: 0 -163px;
	left: 2px;
}

.fast-nav-wrapper .sub-nav {
	width: 88px;
	padding: 0 10px;
	position: absolute;
	right: 0;
	background-color: rgba(0, 0, 0, .5);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 10000;
}

.fast-nav-wrapper .sub-nav.ios {
	top: -181px;
}

.fast-nav-wrapper .sub-nav.no-ios {
	top: -224px;
}

.fast-nav-wrapper .sub-nav:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: transparent;
	border-top-color: rgba(0, 0, 0, .5);
	position: absolute;
	bottom: -12px;
	right: 13px;
}

.fast-nav-wrapper .sub-nav a {
	display: block;
	width: 100%;
	height: 42px;
	border-bottom: 1px solid rgba(255, 255, 255, .21);
	line-height: 42px;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
}

.fast-nav-wrapper .sub-nav a:last-child {
	border: none;
}

.fast-nav-wrapper .sub-nav.ios a:nth-child(4) {
	border: none;
}

.fast-nav-wrapper .sub-nav i {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin: 0 3px 0 4px;
	position: relative;
}

.fast-nav-wrapper .sub-nav .home {
	background-position: 0 1px;
	left: 1px;
}

.fast-nav-wrapper .sub-nav .announced {
	background-position: 0 -29px;
}

.fast-nav-wrapper .sub-nav .single {
	background-position: 0 -62px;
}

.fast-nav-wrapper .sub-nav .personal {
	background-position: 0 -93px;
	top: -1px;
}

.fast-nav-wrapper .sub-nav .refresh {
	background-position: 0 -203px;
	top: -1px;
}