
/*************************************/
.menu_1{}
.menu_1 .widget_wrap{
	height:50px;
}
.menu_1 .widget_wrap ul{
	position: fixed;
	width:100%;
	left:0;
	bottom:0;
	background:#ededed;
	border:1px solid #c4c4c4;
	border-width: 1px 0 1px 0;
	display: table;
	text-align: center;
}
.menu_1 .widget_wrap ul>*{
	display: table-cell;
	vertical-align: middle;
	height:50px;
	border-right:1px solid #c4c4c4;
	text-align: center;
}
.menu_1 .widget_wrap ul>li:first-of-type, .menu_1 .widget_wrap ul>li:last-of-type{
	width:40px;
}
.menu_1 .widget_wrap ul li:last-of-type{
	border:0;
}

/****/
.menu_1 .widget_wrap dl{
	display: table;
	height:50px;
	overflow: hidden;
	width:100%;
}
.menu_1 .widget_wrap dl dd{
	display: table-cell;
	width:33.33%;
	vertical-align: middle;
	height:50px;
}

.menu_1 .widget_wrap ul li a{
	display: block;
	font-size:15px;
	color:#4a4a4a;
	overflow:hidden;
}
.menu_1 .widget_wrap ul dl a{
	border-right:1px solid #c4c4c4;
}
.menu_1 .widget_wrap ul dl dd:last-of-type a{
	border-right:0;
}
.menu_1 .widget_wrap ul li a label{
	display: inline-block;
	width:75px;
	padding:0 3px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
	height:23px;
	line-height: 23px;
}
.menu_1 .widget_wrap ul li a span{
	display: inline-block;
	width:40px;
	height:50px;
	line-height: 50px;
}

.menu_1 .widget_wrap ul dd.on, .menu_1 .widget_wrap ul dd.active, .menu_1 .widget_wrap ul dd:active{
	border-bottom:3px solid #ff5366;
}
.menu_1 .widget_wrap ul .on>*, .menu_1 .widget_wrap ul .active>*, .menu_1 .widget_wrap ul dd:active>*{
	color:#ff5366!important;
	padding-top:3px;
}
.menu_1 .widget_wrap ul li>a:active{
	color:#ff5366;
}

/**************************************/
.menu_3{}
.menu_3 .widget_wrap{
	height:50px;
}
.menu_3 .widget_wrap ul{
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	background:#eaedf4;
	-webkit-box-shadow:0 -1px 5px rgba(0,0,0,0.1);
	display: -webkit-box;
	text-align: center;
}
.menu_3 .widget_wrap ul li{
	-webkit-box-flex:1;
	height:50px;
}
.menu_3 .widget_wrap ul li a{
	color:#919191;
	font-size:10px;
	display: block;
}
.menu_3 .widget_wrap ul li a span{
	display: inline-block;
	width:30px;
	height:32px;
	line-height: 32px;
	overflow: hidden;
	font-size: 26px;
}
.menu_3 .widget_wrap ul li a span:before{
	width:30px;
	height:30px;
	display: inline-block;
}
.menu_3 .widget_wrap ul li a.on, .menu_3 .widget_wrap ul li a.active, .menu_3 .widget_wrap ul li a:active{
	color:#ff5366;
}

/**************************************/
.menu_4{}
.menu_4 .widget_wrap{
	height:65px;
	padding-top:15px;
}
.menu_4 .widget_wrap ul{
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	background:#313131;
	display: -webkit-box;
	text-align: center;
}
.menu_4 .widget_wrap ul li{
	-webkit-box-flex:1;
	height:50px;
}
.menu_4 .widget_wrap ul li a{
	color:#ffffff;
	font-size:10px;
	display: block;
}
.menu_4 .widget_wrap ul li a span{
	display: inline-block;
	width:30px;
	height:32px;
	line-height: 32px;
	overflow: hidden;
	font-size: 26px;
}
.menu_4 .widget_wrap ul li a span:before{
	width:30px;
	height:30px;
	display: inline-block;
}
.menu_4 .widget_wrap ul li a.on, .menu_4 .widget_wrap ul li a.active, .menu_4 .widget_wrap ul li a:active{
	color:#ff5366;
}

.menu_4 .widget_wrap ul li.li3{
	/*background:red;*/
	width:65px;
	position: relative;
}
.menu_4 .widget_wrap ul li.li3 a{
	display: block;
	width: 60px;
	height: 60px;
	margin: auto;
	border-radius: 100px;
	margin-top: -13px;
	background:#ffffff;
	color:#ff5366;
	position: absolute;
	z-index:100;
	left:50%;
	margin-left:-31px;
}
.menu_4 .widget_wrap ul li.li3 a:before{
	content: "";
	position: absolute;
	display: block;
	width:62px;
	height:62px;
	border:5px solid #222222;
	left: -1px;
	top: -4px;
	border-radius: 100px;
	z-index: 50;
	-webkit-box-sizing: border-box;
	clip: rect(17px 62px 30px 0px);
	pointer-events: none;
}
.menu_4 .widget_wrap ul li.li3 a:after{
	content: "";
	display: block;
	position: absolute;
	pointer-events: none;
	left:-1px;
	top:-1px;
	border:5px solid #313131;
	border-radius: 100px;
	width:62px;
	height:62px;
	z-index:60;
	-webkit-box-sizing:border-box;
}
.menu_4 .widget_wrap ul li.li3 a span{
	margin-top:5px;
	height:30px;
	line-height: 30px;
}
/**************************************/
.menu_5{}
.menu_5 .widget_wrap{
	height:54px;
}
.menu_5 .widget_wrap ul{
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	background:#313131;
	display: -webkit-box;
	text-align: center;
}
.menu_5 .widget_wrap ul li{
	-webkit-box-flex:1;
	height:54px;
	padding:3px;
}
.menu_5 .widget_wrap ul li a{
	color:#ffffff;
	font-size:10px;
	display: block;
	height:48px;
}
.menu_5 .widget_wrap ul li a span{
	display: inline-block;
	width:30px;
	height:30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 26px;
}
.menu_5 .widget_wrap ul li a span:before{
	width:30px;
	height:30px;
	display: inline-block;
}
.menu_5 .widget_wrap ul li a.on, .menu_5 .widget_wrap ul li a.active, .menu_5 .widget_wrap ul li a:active{
	background:#ff5366;
}

@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:15px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bangzhu:before { content: "\e600"; }
.icon-zhanghu:before { content: "\e601"; }
.icon-shejishi:before { content: "\e602"; }
.icon-shouye:before { content: "\e603"; }
.icon-dingdan:before { content: "\e604"; }
.icon-dingwei:before { content: "\e605"; }