@CHARSET "UTF-8";

*{
	padding: 0;
	margin: 0;
}

.e-menu {
	position: fixed;
	top: 100%;
	left: 0px;
	height: 40px;
	margin-top: -50px;
	width: 100%;
	z-index: 10002;
	-webkit-box-sizing: border-box;
}

.e-menu-item {
	position: relative;
	float: left;
	width: 80px;
	height: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 15pt;
	border: 1px solid #666666;
	border-radius: 7px;
	color: white;
	margin-left: 34px;
	-webkit-box-sizing: border-box;
}

.e-opacity-back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: black;
	border-radius: 7px;
	opacity: 0.68;
	-webkit-box-sizing: border-box;
}

#e-wind {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: hidden;
	z-index: 10001;
	-webkit-box-sizing: border-box;
}

#e-wind-title {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: rgb(250, 97, 65);
	color: white;
	font-size: 18pt;
	line-height: 60px;
	padding-left: 4%;
	-webkit-box-sizing: border-box;
}

#e-wind-close {
	position: absolute;
	top: 0px;
	float: right;
	right: 20px;
	height: 100%;
	line-height: 60px;
	font-size: 40pt;
	-webkit-box-sizing: border-box;
}

#e-wind-content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box;
}

#e-wind-content .active{
	color: rgb(214,66,90);
}

.style-item {
	position: relative;
	float: left;
	width: 140px;
	margin: 20px 0 0 20px;
	height: 210px;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	box-shadow: 2px 2px 3px #dddddd;
	padding: 5px;
	-webkit-box-sizing: border-box;
	border-radius: 5px;
}

.style-item img {
	width: 100%;
	-webkit-box-sizing: border-box;
	height: 129px;
}

.style-item span {
	width: 100%;
	line-height: 50px;
	text-align: center;
	display: block;
	font-size: 15pt;
	font-family: '微软雅黑';
}

.e-content-bottom {
	position: relative;
	float: left;
	width: 100%;
	height: 120px;
	-webkit-box-sizing: border-box;
}

#music-menu,
#style-menu {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, from(rgb(93, 81, 65)), to(rgb(75, 65, 63)));
	-webkit-box-sizing: border-box;
}

#music-menu div {
	padding-left: 20px;
	position: relative;
	float: left;
	font-size: 15pt;
	-webkit-box-sizing: border-box;
}

#style-menu div {
	padding-left: 28px;
	position: relative;
	float: left;
	font-size: 15pt;
	-webkit-box-sizing: border-box;
}

#musicbox,
#style-box {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box;
}

.musicbox-item {
	position: relative;
	height: 80px;
	width: 100%;
	border-bottom: 2px ridge #E5E5E5;
	-webkit-box-sizing: border-box;
}


.musicbox-item-title {
	position: relative;
	float: left;
	text-align: left;
	margin-left: 20px;
	width: 60%;
	font-size: 18pt;
	font-weight: bold;
	color: black;
	height: 80px;
	line-height: 80px;
	-webkit-box-sizing: border-box;
}

.musicbox-item-ok,
.search-mp3box-item-ok {
	position: relative;
	display: none;
	float: right;
	text-align: center;
	height: 40px;
	line-height: 40px;
	margin: 20px 20px 0 0;
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	width: 65px;
	background-color: #FF2D52;
	color: white;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-sizing: border-box;
}

.e-addpic-btn {
	width: 200px;
	background-color: #FA6141;
	color: white;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 20px 0 0 150px;
	font-size: 18pt;
	border-radius: 30px;
	-webkit-box-sizing: border-box;
}

.e-addpic-tip {
	position: absolute;
	width: 460px;
	left: 20px;
	height: 400px;
	background-color: white;
	display: none;
	z-index: 1;
	top: 20px;
	-webkit-box-sizing: border-box;
	text-align: center;
}

.e-addpic-tip span {
	display: block;
	width: 400px;
	text-align: center;
	font-size: 15pt;
	line-height: 30px;
	font-weight: bold;
	margin: 20px 0 5px 30px;
	-webkit-box-sizing: border-box;
}

.e-addpic-tip div {
	position: relative;
	float: left;
	width: 110px;
	height: 40px;
	line-height: 40px;
	color: white;
	text-align: center;
	border-radius: 30px;
	background-color: #FA6141;
	margin-left: 80px;
	margin-top: 5px;
	font-size: 15pt;
	-webkit-box-sizing: border-box;
}

.e-del-pic {
	position: relative;
	float: left;
	width: 136px;
	margin: 20px 0 0 20px;
	height: 140px;
	background-size: cover;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 3px #aaaaaa;
	-webkit-box-sizing: border-box;
}

.e-del-ok {
	position: absolute;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 30pt;
	-webkit-box-sizing: border-box;
}

.e-del-ok > div {
	border-radius: 50% !important;
	z-index: 0 !important;
	position: absolute;
	color: white;
	text-align: center;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
}

.album-title,
.album-stitle,
.title-ok {
	position: relative;
	width: 450px;
	left: 25px;
	margin-top: 40px;
	-webkit-border-radius: 7px;
	background-color: #e3e3e3;
	-webkit-box-sizing: border-box;
}

#album-title,
#album-stitle {
	line-height: 33px;
	width: 440px;
	padding-left: 10px;
	-webkit-background-clip: padding-box;
	background: rgba(227, 227, 227, 1);
	-webkit-border-radius: 7px;
	font-size: 18pt;
	resize: none;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
}

#album-stitle {
	line-height: 65px;
	-webkit-box-sizing: border-box;
}

.title-ok {
	color: white;
	font-size: 18pt;
	font-weight: bold;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background-color: rgb(250, 97, 65);
	-webkit-box-sizing: border-box;
}

#e-rechoose-music {
	position: absolute;
	top: 17px;
	left: 100px;
	background-color: #FDAE00;
	border-radius: 7px;
	color: #fff;
	width: 70px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	/*opacity: 0;*/
}