<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title>{if $_GPC['do']=='app_qd'}签到{elseif $_GPC['do']=='app_wall'}消息上墙{elseif $_GPC['do']=='app_lottory'}抽奖{elseif $_GPC['do']=='app_vote'}投票{elseif $_GPC['do']=='app_shake'}摇一摇{elseif $_GPC['do']=='app_redpack'}抢红包{/if}</title>
<link rel="stylesheet" href="{MODULE_URL}template/mobile/app/css/weui.min.css">
<link rel="stylesheet" href="{MODULE_URL}template/mobile/app/css/jquery-weui.min.css">
{php echo register_jssdk(false);}
<script src="{MODULE_URL}template/mobile/app/js/jquery-2.1.4.js"></script>
<script src="{MODULE_URL}template/mobile/app/js/app_tool.js"></script>
<script type="text/javascript">
		{if $xianchang['is_share']==0}	
            function onBridgeReady() {
                WeixinJSBridge.call('hideOptionMenu');
            }
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else {
                onBridgeReady();
            }
		{/if}
        </script>