{template 'app_header'}
<style type="text/css">
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin:0;
   padding:0;
   border: 0;
   vertical-align: baseline;
   outline: none;
}
body { font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; -webkit-text-size-adjust: none;}
 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
 
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
 
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
input, textarea, select { -webkit-border-radius:0;-webkit-appearance:none;outline: none; }
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
 
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0;}
 
a { text-decoration: none; }
a:hover { text-decoration: none; }

.clearfix:before, .container:after { content: ""; display: table; }
.clearfix:after { clear: both; }

/**/
body{ background-color:#f0f0f0}
.vgy_user {
display: block;
margin:0;
padding: 0;
text-align: center;
overflow: hidden;
}
.vgy_user_bg{ width:100%; opacity:0.15;}

.vgy_user .info2 {
display: block; 
margin:65px auto 0 auto;
width:180px;
}
.vgy_user .info2 .touxiang {
width: 150px;
height: 150px;
border-radius: 100%;
background-color: #FFF;
box-shadow: 0 0 0 5px rgba(255, 255, 255, 1), 0 0 10px 2px rgba(0, 0, 0, 0.3);
}
.infotext {
text-align:center;
overflow: hidden;
display: block;
font-size: 16px;
margin:15px auto;
padding:10px;border-radius: 6px;
background-color:#FFF;
line-height:30px;
}
.name {
font-size: 16px; 
margin: 20px 0 15px 0;
}
.info2 a {
color: #fff;
}
.red{ color:#F30}
.tx{display:block; font-size:18px; color:#FFF; border-radius:6px;  padding:6px 0; margin: 0 auto; width:180px;/*background-color:#36c77a;*/background-color:#ff7575;}
.bgs{background:-webkit-gradient(linear, 0% 100%, 0% 45%, from(#f0f0f0), to(rgba(255,255,255,0)))}
.bgt{ width:100%; opacity:0}
.time{ font-size:14px; color:#666}


.pwpage {
background-color: rgba(66, 66, 78, 0.75);
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 9999998;
}
.denglu {
position: fixed;
z-index: 9999999;
top: 50%;
left: 50%;
margin-top: -95px;
margin-left: -141px;
}
.denglu .pwinfo {
margin: 10px auto 15px auto;
color: #888;
font-size: 12px;
width: 90%
}
.pwd {
display: block;
width: 260px;
padding: 10px;
margin: 0 auto;
background-color: #fff;
border-radius: 10px;
font-size: 14px;
border: 1px solid rgba(0, 0, 0, 0.1);
}
.pwd form {
padding: 0;
margin: 0;
}
.pwd p {
display: block;
padding: 5px; margin:0;
}
.pwd .err {
color: #F00;
padding: 5px;
}
.pwd .pwdinput {
border: 1px solid rgba(153, 153, 153, 0.44);
border-radius: 5px;
padding: 10px;
}
.pwd .pwdinput {
width: 100%;
box-sizing: border-box;
}
.pwd .px {
display: block;
height: 35px;
line-height: 35px;
color: #fff;
font-size: 14px;
border-radius: 5px;
background-color: #C70000;
text-decoration: none;
border: 0;
background: -webkit-linear-gradient(top, #F00303, #C70000);
border-radius: 5px;
color: #ffffff;
text-align: center;
text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.pwd .px:active {
background: -webkit-linear-gradient(top, #C70000, #F00303);
}
.pwd .px[type="submit"] {
width: 100%;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
.button {
    text-decoration: none;
    font: 20px 'Droid Sans', sans-serif;
    font-weight: bold;
    text-shadow: rgba(255,255,255,.5) 0 1px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .5em 2em .4em 2em;
    margin: 0.3em;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-top: 1px solid rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
    background-image: -moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%), url(noise.png);
    background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    color: hsl(0, 0%, 40%) !important;
    background-color: hsl(0, 0%, 75%);
    -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    -moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.button.orange {
	color: 				hsl(39, 100%, 30%) !important;
	background-color: 	hsl(39, 100%, 50%);

	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
.button.orange:hover { 	background-color: hsl(39, 100%, 65%); }


.button.blue {
	color: 				hsl(208, 50%, 40%) !important;
	background-color: 	hsl(208, 100%, 75%);
	
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
	box-shadow: 		inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px;	/* drop shadow */
}
.button.blue:hover { 	background-color: hsl(208, 100%, 83%); }

.button.green {
	color: 				hsl(88, 70%, 30%) !important;
	background-color: 	hsl(88, 70%, 60%);
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
.button.green:hover { 	background-color: hsl(88, 70%, 75%); }

.button.pink {
	color: 				hsl(340, 100%, 30%) !important;
	background-color: 	hsl(340, 100%, 75%);
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow: 		inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
							hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}
.button.pink:hover { 	background-color: hsl(340, 100%, 83%); }

.button:before {
    font: 12px sans-serif;
    content: attr(data-icon);
    margin-right: 6px;
}
</style>
</head>
<body>

<!--pop end-->
<div class="vgy_user">
        <div class="info2">
        	<img class="touxiang" src="{$qd['avatar']}">
            	<p class="infotext">{$qd['nick_name']}</p>
				<p class="tx">恭喜你签到成功</p>
				<div class="infotext">
					<p>你是第<span class="red">{$qdnums}</span>位签到</p>
					<p class="time">{php echo date('Y-m-d H:i:s', $qd['createtime']);}</p>
					<p>{if $level==1}已审核{else}待审核{/if}</p>
				</div>
    	</div>
		{if !empty($qd_config['button_name'])}<a href="{php echo $qd_config['button_url']}" class="button {$qd_config['button_color']}">{$qd_config['button_name']}</a>{/if}
</div>
<div style="position:fixed; z-index:-1;top:0; height:100%; width:100%; opacity:1; background:url({if empty($qd_config['app_bg'])}{$qd['avatar']}{else}{php echo tomedia($qd_config['app_bg'])}{/if}) no-repeat center top; background-size:100% auto;">
</div>
{template 'app_footer'}

