/* 公共 */
*{
	padding:0px;
	margin:0px;
}
body{
	font-family: 'Microsoft YaHei' !important;
	background: red;
	max-width: 480px;
	margin: 0 auto;
}
/*主页*/
#headanswer{
	text-align:center;
	margin-top:10px;
}
.alert-danger{
	padding:0px;
	margin:0px;
	border-radius: 4px 4px 0px 0px;
}
.alert-success{
	text-align:left;
	border-radius: 0 0 4px 4px;
}

/* 分享图片 */
#mcover{
	position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	background:rgba(0, 0, 0, 0.7);
	display:none;
	z-index:20000;
}
#mcover img{
	position:fixed;
	right: 18px;
	top:5px;
	width:260px;
	height:180px;
	z-index:20001;
}
/* 主页结束*/

.answerclass{
	margin-top:20px;
}
#headansweran{
	margin-top:20px;
}

.list-group .js_group{
	margin-top: 10px;
}
#panelbc{
	background:red; 
}
.alert-dismissible{
	text-align:left;
}
.smallfont{
	margin-top:20px;
	margin-bottom:30px;
	text-align:center;
	color:#fff;
}
#prizecode{
	margin:20px 0px;
}
#myprize{
	margin-top:20px;
	
}
#myprize p{
	margin:0;
}
.prizeimga{
	background:#fff;
}

.prizeesstyle{
	background: #f8f8f8;
	text-align:center;
}