
body{background-color: #EEEEEE;padding: 0px;margin: 0px;}
.head{width:100%; z-index:9000;background: url('../img/hotel_img.jpg') no-repeat;height: 190px;border: 1px solid #000000;overflow: hidden;background-size: 100% 106%;}
.myoder .myoder-detail{min-height:20px; border-bottom:0px solid #f3f3f4; padding:10px; overflow-x:hidden;}
.myoder .myoder-detail img{width:100%; margin-right:10px; float:left;}
.myoder .myoder-detail .price{font-size:14px;float: left;width: 100%;font:  15px/25px Arial, sans-serif;}
.myoder .myoder-detail .price span{display:inline-block; width:170px;}
.myoder .myoder-detail .price .text{display:inline-block; width:auto;float: right}
.myoder .myoder-detail img{width:100%;float:left;height: 60px;}
.myoder .myoder-hd{height:35px; line-height:35px; overflow:hidden; background:#f0f0f0; border-bottom:1px solid #cacaca; padding:0 10px;}
.myoder .myoder-hd > span{font-size:14px; color:#504040;}
.myoder .myoder-hd > span.pull-right{font-size:12px; color:#999;}
.pull-left{width: 100%;}
.text{float: right}
.sel { background:#1491c5; color:#fff;}
.nosel { background:#fff;color:#000}
button{background-color: #f5f5f5;border: 1px solid #aaaaaa;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px;}
.mui-btn-primary{background-color: #1491c5;color: white;}
.clerk .circleorder {width: 100px;height: 100px;border-radius: 50px;opacity: 0.5;margin: 13px 38px;overflow: hidden;background: url('../img/clerk_order.png') no-repeat;background-size: 80px 80px;background-color: #000000;background-position: 10px 7px;}
.clerk .circleroom {width: 100px;height: 100px;border-radius: 50px;opacity: 0.5;margin: 13px 30px;overflow: hidden;background: url('../img/home_fill.png') no-repeat;background-size: 80px 80px;background-color: #000000;background-position: 10px 7px;}
.head .masking {background: #000000;width: 100%;height: 50px;opacity: 0.5;color : #f5f5f5;font-size: 25px;text-align: center;line-height:250%;}
.clerk {width: 100%;}
.clerk img{background-size: cover;}
.clerk .label{width: 100%;font-weight: bold;}
.clerk .operate{height: 120px;width: 50%;float: left;}
.clerk .remark{text-align: center;width: 47%;float: left;}
.lists{display: block;background: white;width: 100%;border-bottom: 3px solid #EEEEEE;height: 50px;text-align: left;line-height: 50px;}
.lists .text{float: left;width: 87%;}
.lists .right{background: url("../img/right.png") no-repeat;float: left;height: 100%;width: 10%;background-position: 3px 12px;background-size: 25px 25px;}
.list{margin-top: 30px;width: 100%;}