html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
body {
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
	-webkit-text-size-adjust: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
strong {
	font-weight: bold;
}
a, button, input {
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}
input, textarea, select, button {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	outline: none;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.clearfix:before, .container:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
/**/
body {
	background-color: #ffffff;
}
.vgy_user {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}
.vgy_user_bg {
	width: 100%;
	opacity: 0.15;
}
.vgy_user .info2 {
	display: block;
	padding: 40px 0 0 0;
	background: url(images/c1.jpg) repeat-y;
	background-size: cover
}
.vgy_user .info2 .touxiang {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #FFF;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 1), 0 0 10px 2px rgba(0, 0, 0, 0.3);
}
.name {
	font-size: 16px;
	margin: 10px 0 10px 0;
	color:#FCCF15;
}
.dhm {
	font-size: 14px;
	color: #409f10;
	line-height: 18px;
}
.info2 a {
	color: #fff;
}
.infotext {
	text-align: center;
	display: block;
	font-size: 48px;
	color: #fff;
}
.infotext .syuan {
	font-size: 12px;
}
.red {
	color: #F30
}
.time {
	font-size: 12px;
	color: #666
}
.bgs {
	background: -webkit-gradient(linear, 0% 100%, 0% 45%, from(#fff), to(rgba(255,255,255,0)))
}
.bgt {
	width: 100%;
	opacity: 0
}
.Ranking {
	color: #ffffff;
	padding: 5px 10px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.3);
}
.list ul li {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	padding: 6px 10px;
	overflow: hidden;
	position: relative;
	padding: 10px 0 10px 70px;
}
.list ul li .Head {
	position: absolute;
	background: url(images/100.jpg);
	background-size: 100% 100%;
	border-radius: 100%;
	left: 25px;
	z-index: 0;
}
.list ul li .Head img {
	width: 42px;
	overflow: hidden;
	border-radius: 100%;
	border: 0;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
}
.list ul li .text {
	margin: 0 8px;
	color: #aeaeae;
	font-size: 12px;
	text-align: left;
}
.list ul li .text h1 {
	font-size: 16px;
	color: #000000;
	line-height: 24px;
}
.list ul li .text span {
	color: #A2A2A2;
	font-size: 12px;
}
.list ul li .text p {
	float: left;
	font-size: 14px;
	color: #FF0000;
	line-height: 28px;
	padding: 5px;
}
.list ul li .text h2 {
	font-size: 12px;
	color: #B8B8B8;
}
.list ul li .his {
	float: left;
}
.list ul li .gift {
	float: right;
	margin-left: 10px;
}
.list ul li.more {
	padding: 10px;
	text-align: center;
	font-size: 14px;
	color: #666;
	display: block;
}
.list ul li.more a {
	color: #666;
}
.list ul li .NO {
	z-index: 1;
	font-size: 12PX;
	position: absolute;
	left: 10px;
	background-color: #F9F9F9;
	color: rgba(213, 149, 65, 1);
	padding: 2px 6px;
	border-radius: 2px;
}
.list ul li:nth-child(-n+3) {
	background-color: rgba(255, 253, 240, 0.57);
}
.list ul li:nth-child(-n+3) .no {
	background-color: #FFB939;
	color: #fff;
}
.sjbutton {
	background-color: #49c249;
	border-radius: 5px;
	border: 0;
	text-align: center;
	padding: 0 15px;
	height: 30px;
	line-height: 32px;
	color: #fff;
	font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
}
.update {
	cursor: pointer;
	border-radius: 100%;
	background: rgba(154, 7, 7, 0.33);
	width: 18px;
	height: 18px;
	padding: 8px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-align: center;
}
.update img {
	width: 18px;
	height: 18px;
}
.vgy_user ul {
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	margin: auto;
	display: block;
	width: 100%;
	height: 48px;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: horizontal;
	background-color: rgba(11, 11, 11, 0.14);
}
.vgy_user ul li {
	width: auto!important;
	height: 100%;
	position: static;
	margin: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-box-sizing: border-box;
	box-shadow: none;
	background: none;
	padding: 5px 0 0 0;
	border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.vgy_user ul li:first-child {
	border-left: 0;
}
.vgy_user ul li span {
	color: #F0FF73
}
.vgy_user ul li p {
	margin: 2px 0 0 0;
	font-size: 12px;
	display: block;
	line-height: 16px;
	text-align: center;
	color: #fff
}
.vgy_user .tx {
	width: 120px;
	display: inline-block;
	font-size: 12px;
	border: 1px #f3b735 solid;
	background-color: #f8cf63;
	color: #9a6308;
	border-radius: 40px;
	padding: 6px 0;
	margin: 0 5px 15px 0;
}
.vgy_user .tx:active {
	background-color: #f3b735;
	border: 1px solid #e8a028
}
.back {
	left: 10px;
	top: 10px;
}
footer {
	background-color: #F6F6F6;
	color: #999;
	text-align: center;
	font-size: 12px;
	padding: 20px 0px;
	border-top: 1px solid #eaeaea;
	bottom: 0;
	position: absolute;
	width: 100%;
}