@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
strong {
	font-weight: bold;
}
a, button, input {
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}
input, textarea, select, button {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	outline: none;
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.left {
	float: left;
}
.right {
	float: right;
}

::-webkit-input-placeholder {
	color:#999;
}
:-moz-placeholder {
	color:#999;
}
::-moz-placeholder {
	color:#999;
}
:-ms-input-placeholder {
	color:#999;
}
.clr {
	clear: both;
}
.contianer {
	overflow: hidden;
}
/**/
body {background-color: #a50301;}
.contianer .logo {}
.contianer .logo img {
	position: relative;
	z-index: 1;
}
.contianer .lamp {
	width: 100%;
	margin-top: -30px;
	z-index: 0;
	position: relative;
}
.contianer .lamp ul {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.contianer .lamp ul li {
	-webkit-box-sizing: border-box;
	text-align: center;
	-webkit-box-flex: 1;
	position: relative;
}

.contianer .lamp ul li .bg {
	display: block;
}
.contianer .lamp img {
	width: 100%;
}
.contianer .lamp ul li .bg img {
	width: 100%;
}
.contianer .lamp ul li .light {
	position: absolute;
	top: -12%;
	left: -38%;
}
.contianer .lamp ul li .light img {
	width: 130%;
}
.contianer .lamp ul li .paper {
	top: 20%;
	position: absolute;
	right: 12%;
	width: 65%;
}
.contianer .lamp ul li .paper img {
	width: 100%;
}
.contianer .lamp ul li .paper .text {
	position: absolute;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	color: #c60402;
	text-align: center;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
	height: 100%;    z-index: 2;
}



.slogan {
	color: #ffef5c;
	text-align: center;
	margin: 10px;
}
/**/
.btnzl {
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
}
.btnzl ul {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.btnzl ul li {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-align: center;
	-webkit-box-flex: 1;
	margin-left: 8px;
}
.btnzl ul li:first-child {
	margin-left: 0px;
}
.btnzl ul li a {
	display: block;
	padding: 8px 2px 13px 2px;
	font-size: 15px;
	color: #c60402;
	border-radius: 20px;
	background: -webkit-linear-gradient(top, #ffe620, #FF8507);
	box-shadow: 0 5px 0px 2px rgba(140, 2, 0, 0.6), 0 -4px 0px 0px #DA7B00 inset;
}
.btnzl ul li a:active {
	padding: 10px 2px 11px 2px;
	background-color: #F7E95E;
	box-shadow: 0 5px 0px 2px rgba(140, 2, 0, 0.6), 0 0px 0px 0px rgba(236, 186, 3, 0.68) inset;
}
.btnzl ul li a img {
	margin-right: 2px;
	width: 16px;
}
/**/
.content {
	background-color: #ffd38c;
	margin: 20px 10px;
}
.content .title {
	text-align: center;
	position: relative;
	padding: 15px 0;
}
.content .title .edge_left {
	position: absolute;
	left: -3px;
	top: 7px;
}
.content .title .edge_right {
	position: absolute;
	right: -3px;
	top: 7px;
}
.content .title img {
	width: 60%;
}
.content .title span {
	background-color: #d1262a;
	border-radius: 100%;
	color: #ffd38c;
	font-size: 18px;
	margin: 2px;
	padding: 0px 4px 1px 4px;
}
.content .p {
	padding: 0px 15px 20px 15px;
	color: #9b1f22;
	font-size: 14px;
	line-height: 22px;
}
/**/

.prize3 ul {
	overflow: hidden;
	margin: 0;
}
.prize3 ul li {
	float: left;
	text-align: center;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 10px;
}
.prize3 ul li:nth-child(3n) {
	margin-right: 0;
}
.prize3 ul li .hdjptp {
	padding: 4px;
	border-radius: 6px;
	background-color: rgb(209, 38, 42);
}
.prize3 ul li .jptu {
	position: relative;
	margin-bottom: 2px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	background-color: #FFF
}
.prize3 ul li .jptu img {
	width: 100%
}
.prize3 ul li .jpgs {
	position: absolute;
	bottom: 0;
	background-color: rgb(255, 228, 96);
	color: #A50301;
	padding: 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.prize3 ul li .jpdj {
	font-size: 14px;
	color: #ff6666;
}
.prize3 ul li .jpmc {
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.prize2 ul {
	overflow: hidden;
	margin: 0;
}
.prize2 ul li {
	float: left;
	width: 49%;
	margin-right: 2%;
	margin-bottom: 10px;
	text-align: center;
}
.prize2 ul li:nth-child(2n) {
	margin-right: 0;
}
.prize2 ul li .hdjptp {
	background-color: rgb(209, 38, 42);
	border-radius: 6px;
	padding: 4px;
}
.prize2 ul li .jptu {
	position: relative;
	margin-bottom: 2px;
	border-radius: 6px;
	overflow: hidden;
	background-color: #FFF;
	border-radius: 5px 5px 0 0;
}
.prize2 ul li .jptu img {
	width: 100%
}
.prize2 ul li .jpgs {
	position: absolute;
	bottom: 0;
	background-color: rgb(255, 228, 96);
	color: #A50301;
	padding: 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.prize2 ul li .jpdj {
	font-size: 14px;
	color: #ff6666;
}
.prize2 ul li .jpmc {
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.prize1 ul {
	overflow: hidden;
}
.prize1 ul li {
	margin-bottom: 5px;
	text-align: center;
}
.prize1 ul li:nth-child(2n) {
	margin-right: 0;
}
.prize1 ul li .hdjptp {
	background-color: rgb(209, 38, 42);
	overflow: hidden;
	border-radius: 6px;
}
.prize1 ul li .jptu {
	position: relative;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background-color: #FFF;
	width: 65px;
	height: 65px;
	float: left;
}
.prize1 ul li .jptu img {
	width: 100%
}
.prize1 ul li .jpms {
	margin-left: 85px;
	overflow: hidden;
	text-align: left;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
	height: 80px;
}
.prize1 ul li .jpgs {
	position: absolute;
	bottom: 0;
	background-color: rgb(255, 243, 121);
	color: #EA880D;
	padding: 0;
	width: 100%;
	font-size: 12px;
	text-align: center
}
.prize1 ul li .jpdj {
	font-size: 16px;
	width: 100%;
	color: #fff379;
}
.prize1 ul li .jpmc {
	font-size: 14px;
	width: 100%;
	color: #fff;
}
/**/
footer {
	color: #FFD38C;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	padding: 0 0 25px 0;
}
/**/

.table {
	width: 100%;
	padding-top: 30px;
	color: #8F4E23;
	background-color: rgb(210, 52, 51);
}
.table .th {
	background: #FFD21B;
}
.table tr th {
	line-height: 40px;
	color: #8F4E23;
	font-size: 14px;
}
.table tr td {
	border-bottom: 1px solid #AF0200;
	margin: 2px 0;
	line-height: 50px;
	height: 50px;
	padding: 0;
	text-align: center
}
.table tr td.tx {
	width: 45px;
	height: 45px;
}
.table tr td.tx img {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
	margin: 8px;
}
.table tr td.name {
	text-align: left;
	line-height: 26px;
	color: #FFEF5C;
}
.table tr td .munber {
	font-size: 13px;
	color: #610000;
	line-height: 18px;
}
.table tr td.no {
	color: #FFEF5C;
}
.table tr td.yes {
	color: #f06e19;
}
/*.table .leftborder {
	border-radius: 5px 0 0 0;
}
.table .rightborder {
	border-radius: 0 5px 0 0;
}*/


/**/

.hdbmxx input {
	box-sizing: border-box;
	padding: 10px;
	background-color: #FCFCFC;
	color: #666;
	border-radius: 20px;
	width: 100%;
	margin: 5px auto;
	font-size: 14px;
	border: 0;
}
.hdbmxx textarea {
	box-sizing: border-box;
	padding: 10px;
	background-color: #FCFCFC;
	color: #666;
	border-radius: 40px;
	width: 100%;
	margin: 5px auto;
	font-size: 14px;
	border: 1px #E9E9E9 solid;
}
.hdbmxx a {
	display: block;
	box-sizing: border-box;
	display: block;
	padding: 8px 2px 13px 2px;
	font-size: 15px;
	color: #c60402;
	border-radius: 20px;
	background: -webkit-linear-gradient(top, #ffe620, #FF8507);
	box-shadow: 0 0 0px 0 rgba(140, 2, 0, 0.6), 0 -4px 0px 0px #DA7B00 inset;
	text-align: center;
	margin-top: 5px;
}
.hdbmxx a:active {
	padding: 10px 2px 11px 2px;
	background: -webkit-linear-gradient(top, #ffe620, #FF8507);
	box-shadow: 0 0 0px 0 rgba(140, 2, 0, 0.6), 0 0px 0px 0px #DA7B00 inset;
}

.pop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 2000;
}
.pop .box {
	color:#fff;
	border-radius: 20px;
	background-color:rgb(255, 79, 78);
	position: fixed;
	z-index: 1001;
	left: 20px;
	right: 20px;
	top: 100px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32), 0 -6px 0px 0px rgba(0, 0, 0, 0.15) inset;
	padding:30px 0 0 0;
}


.pop .box h2 {
	color: #ee635f;
	font-size: 12px;
	text-align: center;
	padding: 0 5px 5px 5px;
	word-wrap: break-word;
}
.pop .box .inputqy {
	margin: 5px 15px;
	overflow: hidden;
}
.pop .box .inputqy input {
	box-sizing: border-box;
	padding: 10px;
	background-color: #FCFCFC;
	color: #666;
	border-radius: 40px;
	width: 100%;
	margin: 5px auto;
	font-size: 14px;
	border: 1px #E9E9E9 solid;
}
.pop .box .but_con {
	margin: 10px 15px 20px 15px;
	overflow: hidden;
}
.pop .box .w49 {
	width: 49%;
}
.pop .button_yes {
	width: 100%;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border-radius: 40px;
	padding: 10px 0;
	border-radius: 20px;
	border:0;
	background: -webkit-linear-gradient(top, #ffe620, #FF8507);
	box-shadow:0, 0 -4px 0px 0px #DA7B00 inset;
	cursor: pointer;
}
.pop .button_yes:active {
	background-color: #FFCECD;
	color: #ee635f;
}
.pop .button_no {
	width: 100%;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
	color: #999;
	border-radius: 40px;
	padding: 10px 0;
	border: 1px solid #ccc;
	background-color: transparent;
	cursor: pointer;
}
.pop .button_no:active {
	background-image: linear-gradient(to top, #dedede, #f2f2f2);
}
.pop .jpimg {
	text-align: center
}
.pop .jpimg img {
	max-height: 240px;
	max-width: 100%;
	border-radius: 10px;
	margin-bottom: 5px;
}
.pop .jptext {
	text-align: center;
	font-size: 14px;
	margin-bottom:30px;
}

.popwin {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 2000;
}
.popwin .box {
	border-radius: 20px;
	background-color:rgb(255, 79, 78);
	position: fixed;
	z-index: 1001;
	left: 20px;
	right: 20px;
	top: 120px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32), 0 -6px 0px 0px rgba(0, 0, 0, 0.15) inset;
}
.popwin .box .closeb {
	cursor: pointer;
	position: absolute;
	display: block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	top: 5px;
	right: 5px;
}
.popwin .box .closeb:after {
	position: absolute;
	content: '.';
	display: block;
	width: 20px;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	top: 14px;
	left: 5px;
}
.popwin .box .closeb:before {
	position: absolute;
	content: '.';
	display: block;
	width: 20px;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(-45deg);
	top: 14px;
	left: 5px;
}
.popwin .box h1 {
	text-align: center;
	color: #fff;
	padding: 10px 0;
	font-size: 16px;
}
.popwin .box h2 {
	text-align: center;
	padding: 10px 0;
	color:#ffe84a;
	font-size:26px;
}
.popwin .jptext {
	text-align: center;
	font-size: 14px;
	margin: 25px 0;
}

.mcover_zz {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 20000;
	padding-top: 15%;
}

.hdbmxx .msbm {
	width: 100%;
	border: 0;
	box-sizing: border-box;
	padding: 8px 2px 13px 2px;
	font-size: 15px;
	color: #c60402;
	border-radius: 20px;
	background: -webkit-linear-gradient(top, #ffe620, #FF8507);
	box-shadow: 0 0 0px 0 rgba(140, 2, 0, 0.6), 0 -4px 0px 0px #DA7B00 inset;
	text-align: center;
	margin-top: 5px;
}
.hdbmxx .msbm:active {
	padding: 10px 2px 11px 2px;
	background: -webkit-linear-gradient(top, #ffe620, #FF8507);
	box-shadow: 0 0 0px 0 rgba(140, 2, 0, 0.6), 0 0px 0px 0px #DA7B00 inset;
}