
/*-------------------------------公共--------------------------*/
/*头部标题begin*/
.headerTitle{ height:40px;}
.headerTitle h1{ height:40px; line-height:40px; position:relative; background-color:#fff;}
.headerTitle a{ text-indent:-99999px;}
.back{ display:block; width:18px; height:18px; position:absolute; left:10px; top:11px; background:url(back.png) no-repeat 0 0; background-size:18px 18px;}
.back:hover{background:url(backhover.png) no-repeat 0 0; background-size:18px 18px;}
.home{ display:block; width:18px; height:18px; position:absolute; right:10px; top:11px; background:url(home.png) no-repeat 0 0; background-size:18px 16px;}
.home:hover{background:url(homehover.png) no-repeat 0 0; background-size:18px 16px;}
/*学员中心底部按钮组 begin*/
.hidHeight {height:55px;width:100%;background:none; }
.navBottom {position:fixed; left:0px; bottom:0;width:100%;border-top:solid 1px #dfdfdf; background:#fff;}
.navBottom dl{ margin: 0;}
.navBottom dd.navBottomFirst { width:17%; }
.navBottom dd.navBottomFirst .navBottomItem { padding-top:10px;}
.navBottom dd.navBottomFirst img {width:35px;border-radius:5px;margin:0 auto;display:block;}
.navBottom dd {float:left;width:27%;text-align:center;height:55px;line-height:55px; }
.navBottom dd .navBottomItem {border-right:solid 1px #dfdfdf;height:55px; }
.navBottom dd .navBottomItem:active {background:#f0f0f0; }
.navBottom dd .navBottomItemLast {border-right:none; }
.navBottom dd .navBottomItem a {display:block;width:100%;color:#333; height:55px;}
.navBottom dd .navBottomItem a:visited {color:#333; }
/*提示性文字*/
.tipsWarme{background-color:#f4f5f9; margin:80px auto 0 auto;}
.tipsWarme p{ font:normal 15px/20px "微软雅黑"; color:#666; text-align:center; border-bottom:none; min-height:20px; margin:0 auto; padding:5px 0;}
.tipsBtn{ margin:0 auto; display:inline-block; padding:2px 15px; color:#fff; margin-top:15px; background-color:#31a5d5;}
.btnWrap{ background-color:#f4f5f9;}
