@charset "gb2312";
/* CSS Document */

body { font:normal 14px Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei; background:#080808; background-size:100%; color:#353535; }
body, div, a, ul, li, p, span { padding:0; margin:0; }
a { text-decoration:none; color:#000; }
.first-box { width:81.67%; position:absolute; left:9.165%; top:10%; }
img.body { width:100%; }
.user-headimg { position:absolute; border-radius:10000px; left:50%; top:9.75%; width:20.65%; margin-left:-10.5%; }
.hot-click { position:absolute; border-radius:10000px; left:50%; top:61%; width:36%; height:26%; margin-left:-18%; }
.nickname { width:100%; position:absolute; text-align:center; color:#FFF; top:28.5%; font-size:1.15em; }
.second-box { width:100%; height:auto; }
.second-wrapper { overflow:hidden; width:auto; position:relative; }
.second-bg { width:100%; }
.second-headimg { position:absolute; border-radius:10000px; left:50%; top:13.2%; width:23%; margin-left:-11.5%; }
.second-nickname { width:100%; position:absolute; text-align:center; top:26.8%; font-size:1.25em; }

.money1,.money2,.money3,.money4,.money5,.money6{position:absolute; text-align:center; width:100%; top:37%; color:#000; display:none }
.money-number { font-size:4.5em; padding-left:0.25em; }

.yuan { font-size:1.1em; position:relative; top:-1px; }
.tips-box { position:absolute; top:52%; width:100%; margin-top:-50px; overflow:hidden; z-index:9999; text-align:center; }
.explain { font-size:18px; padding:5px 8px; margin-top:4px; margin-bottom:0px; }
.zhenggu-btn { display:block; width:80%; margin:0 auto 0px auto; text-align:center; background-color:#FE8007; color:#fff; padding:10px 14px; border-radius:3px; font-size:16px; }
.tips-body-box { overflow:hidden; background:#fff; }
.bg-cover { width:100%; height:100%; top:0; left:0; position:fixed; background:#000; opacity:0.6; z-index:999; }
.share { height:40px; width:100%; background-color:#fff; background-repeat:no-repeat; position:fixed; top:0; left:0; z-index:9; }
.share span { display:block; width:82%; position:absolute; font-size:16px; line-height:30px; padding-top:4px; left:38px; top:0; color:#000; }
.share img.pointer { display:block; position:absolute; right:2%; top:4px; width:30px; height:30px; }
.share img.close { display:block; position:absolute; left:5px; top:5px; width:30px; height:30px; }
.report-btn { color:#fff; border-radius:6px; position:absolute; top:7px; right:7px; border:1px #fff solid; padding:2px 8px; opacity:0.25; z-index:99999; }
.report-btn:visited { color:#fff; }
.lg-btn { font-size: 2em; padding:10px 20px; background: rgb(214, 86, 69); color: #fff; margin-top: 1em; display: block; margin-left: 20px; margin-right: 20px; }
p { line-height: 2em; }
.loading-btn { background: #888; color: #fff; }

