{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('setting', array('op'=>'task'));}">任务管理</a></li>
    <li><a href="{php echo $this->createWebUrl('banner', array('op'=>'banner_list'));}">幻灯片设置</a></li>
    <!--<li><a href="{php echo $this->createWebUrl('setting', array('op'=>'poster'));}">海报设置</a></li>-->
    <li><a href="{php echo $this->createWebUrl('setting', array('op'=>'share'));}">平台及分享设置</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('setting', array('op'=>'signin'));}">签到设置</a></li>
    <li><a href="{php echo $this->createWebUrl('template', array('op'=>'notice'));}">模板消息设置</a></li>
</ul>
<!-- 筛选 -->
<div class="panel panel-default">
    <div class="panel-heading">任务管理 (请在对应表格中填写任务赠送的积分数并打钩)</div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
            <input type="hidden" name="c" value="site"/>
            <input type="hidden" name="a" value="entry"/>
            <input type="hidden" name="m" value="yike_guess"/>
            <input type="hidden" name="do" value="setting"/>
            <input type="hidden" name="op" value="signin"/>
            <input type="hidden" name="off" value="{$set['on_off']['task']}"/>
<!-- 开关 -->
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                    是否开启此功能
                </label>
                <div class="col-sm-9 col-xs-12">
                    <input type="radio" name="on_off" value="1" {if $set['on_off']['signin']==1} checked {/if}>开启
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input type="radio" name="on_off" value="0" {if $set['on_off']['signin']==0} checked {/if}>关闭
                </div>
            </div>
<!-- 第一 -->
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                    <input type="hidden" name="one" value="1">
                    每日签到
                </label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="report1" class="form-control" style='width:120px;' value="{$set['sets']['report']['report1']}"/>
                </div>
            </div>
<!-- 第二 -->
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                    <input type="checkbox" name="two" value="1" {if $set['sets']['report']['report2']!=null} checked="checked"{/if}>
                    连续签到3天
                </label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="report2" class="form-control" style='width:120px;' value="{$set['sets']['report']['report2']}"/>
                </div>
            </div>
<!-- 第三 -->
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                    <input type="checkbox" name="three" value="1" {if $set['sets']['report']['report3']!=null} checked="" {/if}>
                    连续签到7天
                </label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="report3" class="form-control" style='width:120px;' value="{$set['sets']['report']['report3']}"/>
                </div>
            </div>
<!-- 第四 -->
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                    <input type="checkbox" name="four" value="1" {if $set['sets']['report']['report4']!=null} checked="checked" {/if}>
                    连续签到10天
                </label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="report4" class="form-control" style='width:120px;' value="{$set['sets']['report']['report4']}"/>
                </div>
            </div>
<!-- 第五 -->
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                    <input type="checkbox" name="five" value="1" {if $set['sets']['report']['report5']!=null} checked="checked" {/if}>
                    连续签到20天
                </label>
                <div class="col-sm-9 col-xs-12">
                    <input type="text" name="report5" class="form-control" style='width:120px;' value="{$set['sets']['report']['report5']}"/>
                </div>
            </div>
<!-- 提交 -->
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                <div class="col-sm-9 col-xs-12">
                    <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"/>
                    <input type="hidden" name="token" value="{$_W['token']}"/>
                </div>
            </div>
        </form>
    </div>
</div>
{template 'common/footer'}