body {background: url(../style/all/018d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.85);}
.MsgList .MsgItem .nickname { color:#D41228;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#D41228;text-shadow: none;}
/**/
.lottery-left {background-color: rgba(133, 24, 21, 0.58);}
.lottery-right {background-color:rgba(133, 24, 21, 0.58);}