body {background: url(../style/all/040d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background:-webkit-gradient(linear,0 0,0 100%,from(rgba(2, 25, 50, 0.75)),to(rgba(2, 25, 50, 0.85)));}
.MsgList .MsgItem .nickname { color:#fff;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#fff;text-shadow: none;}
.navbarmenu li p {color:#026FA7;}
.neicon img { background-color:#026FA7;}
.helperpanel {color: #696969;}
.helperpanel .mp_account, .helperpanel .activity_key {color:#026FA7;}
.navbarmenu .neicon:hover { background-color: rgba(255,255,255,1); }
/**/
.lottery-left {background-color: rgba(0, 30, 62, 0.4);}
.lottery-right {background-color:rgba(0, 30, 62, 0.4);}