body { background: url(../style/all/036d.jpg) #000 no-repeat; background-size: 100% 100%; }
.Panel.Top { background-color: transparent; }
.Panel.Bottom { background-color: transparent; }
.MsgList .MsgItem { background-color: rgba(255, 255, 255, 0.25); }
.MsgList .MsgItem .nickname { color: #c27d11; text-shadow: none; }
.MsgList .MsgItem .msgword { color: #c27d11; text-shadow: none; }
.helperpanel .mp_account, .helperpanel .activity_key { color: #8C3B00; }
/**/
.ddp { background-color: rgba(255, 255, 255, 0.9); }
.ddp .dibu { background-color: rgba(242, 217, 161, 0.65); }
.ddp_list li dl dt p { color: #AD8437; text-shadow: none; }
.ddp_count td, .ddp_count th { color: #AD8437; text-shadow: none; }
/**/
.qiandao { border:0; background-color: rgba(255, 255, 255, 0.6); border-radius: 6px; }
.qiaodaoxm { color: #8A6200; }
.qiaodaopm { background-color: rgb(158, 122, 38); color: #FFF;}
.tuchu {background-color: rgba(157, 121, 37, 0.82); border-radius: 6px;}
/**/
.lottery-left {background-color: rgba(173, 123, 3, 0.5);}
.lottery-right {background-color:rgba(173, 123, 3, 0.5);}