body {background: url(../style/all/039d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.75);}
.MsgList .MsgItem .nickname { color:#238d52;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#238d52;text-shadow: none;}
.helperpanel .mp_account, .helperpanel .activity_key {color:#ff0000;}
.navbarmenu li p {color: #ff0000;}
.neicon img { background-color:#ff0000;}
.navbarmenu .neicon:hover { background-color: rgba(255,255,255,1); }