body {background: url(../style/all/021d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.25);}
.MsgList .MsgItem .nickname { color:#99480d;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#99480d;text-shadow: none;}
.top_title{ color:#99480d;}
/**/
.lottery-left {background-color: rgba(221,148,18,0.3);}
.lottery-right {background-color:rgba(221,148,18,0.3);}
.result-line .user .nick-name { color: #99480D; text-shadow: none;}
.lottery-title { color: #B77033;}
.result-line .result-num {color: #fff;background-color: #B77033;}