body {background: url(../style/all/012d.jpg) #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.85);}
.MsgList .MsgItem .nickname { color:#5641b1;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#c318b3;text-shadow: none;}