body {background: url(../style/all/034d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.85);}
.MsgList .MsgItem .nickname { color:#e7234f;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#e7234f;text-shadow: none;}
.top_title{ color:#e7234f;}
.navbarmenu li p {color: rgba(250, 79, 136, 1);}
.neicon img { background-color:#e7234f;}
.helperpanel {color: #696969;}
.helperpanel .mp_account, .helperpanel .activity_key {color:#e7234f;}
.navbarmenu .neicon:hover { background-color: rgba(255,255,255,1); }
/**/
.lottery-left {background-color: rgba(173, 123, 3, 0.3);}
.lottery-right {background-color:rgba(173, 123, 3, 0.3);}
.result-line {background: rgba(245, 229, 152, 0.9);}
.result-line .user .nick-name {color: #000;text-shadow: none;}