body {background: url(../style/all/028d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.75);}
.MsgList .MsgItem .nickname { color:#4D3A86 ;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#4D3A86 ;text-shadow: none;}
.top_title{color:#4D3A86;}
/**/
.lottery-left {background-color: rgba(53, 44, 87, 0.7);}
.lottery-right {background-color:rgba(53, 44, 87, 0.7);}