body {background: url(../style/all/022d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.75);}
.MsgList .MsgItem .nickname { color:#238d52;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#238d52;text-shadow: none;}
.top_title{ color:#238d52;}
/**/
.result-line .user .nick-name { color: #2B7551; text-shadow: none;}
.lottery-title { color: #2B7551;}
.result-line .result-num {color: #fff;background-color: #2B7551;}