body {background: url(../style/all/029d.jpg) #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(249, 241, 67, 0.80);}
.MsgList .MsgItem .nickname { color:#25862a;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#25862a;text-shadow: none;}
/**/
.lottery-left {background-color: rgba(36, 134, 40, 0.85);}
.lottery-right {background-color:rgba(36, 134, 40, 0.85);}