body {background: url(../style/all/027d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.65);}
.MsgList .MsgItem .nickname { color:#AA1384 ;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#AA1384 ;text-shadow: none;}
/**/
.lottery-left {background-color: rgba(111, 70, 157, 0.75);}
.lottery-right {background-color:rgba(111, 70, 157, 0.75);}
.lottery-run .control { color: #952AAC;}