body {background: url(../style/all/023d.gif)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.55);}
.MsgList .MsgItem .nickname { color:#ff5259;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#ff5259;text-shadow: none;}
.helperpanel .mp_account, .helperpanel .activity_key {color:#ff5259;}
.navbarmenu .neicon:hover { background-color:#fff;}
.neicon img { background-color:#ff5259;}
.navbarmenu li p {color: #ff5259;}
/**/
.lottery-left {background-color: rgba(255, 0, 6, 0.3);}
.lottery-right {background-color:rgba(255, 0, 6, 0.3);}