body {background: url(../style/all/016d.jpg) #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.85);}
.MsgList .MsgItem .nickname { color:#2a9792;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#2a9792;text-shadow: none;}
/**/
.lottery-left {background-color: rgba(59, 153, 191, 0.45);}
.lottery-right {background-color:rgba(59, 153, 191, 0.45);}