body {background: url(../style/all/020d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background:-webkit-gradient(linear,0 0,0 100%,from(rgba(0, 0, 0, 0.31)),to(rgba(0, 0, 0, 0.64)));}
.MsgList .MsgItem .nickname { color:#fff;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#FFB300;text-shadow: none;}