body {background: url(../style/all/035d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.65);}
.MsgList .MsgItem .nickname { color:#e7234f;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#e7234f;text-shadow: none;}
/**/
.lottery-left {background-color: rgba(231, 65, 69, 0.5);}
.lottery-right {background-color:rgba(231, 65, 69, 0.5);}