body {background: url(../style/all/033d.jpg)  #000 no-repeat;background-size:100% 100%;}
.Panel.Top {background-color: transparent;}
.Panel.Bottom {background-color: transparent;}
.MsgList .MsgItem{background-color: rgba(255, 255, 255, 0.85);}
.MsgList .MsgItem .nickname { color:#fa3072;text-shadow: none;}
.MsgList .MsgItem .msgword { color:#fa3072;text-shadow: none;}
.top_title{color:#fa3072;}
.navbarmenu li p {color: rgba(250, 79, 136, 1);}
.neicon img { background-color: rgb(250, 79, 136);}
.helperpanel {color: #696969;}
.helperpanel .mp_account, .helperpanel .activity_key {color:rgb(250, 79, 136);}
.navbarmenu .neicon:hover { background-color: rgba(255,255,255,1); }
/**/
.lottery-left {background-color: rgba(250, 79, 136, 0.48);}
.lottery-right {background-color: rgba(250, 79, 136, 0.48);}