<style>
	.checkbox-inline input[type=checkbox]{position:relative;}
</style>
<table class="table table-hover" border="1">
	<thead class="navbar-inner">
	<tr>
		<th colspan="3" style="width:180px;">房型 / 日期</th>
		<th style="width:70px;" onclick='window.prePage()'><i class=' fa fa-chevron-left'></i></th>
		{loop $date_array $row}
		<th style="width:100px;">{$row['month']}-{$row['day']}</th>
		{/loop}
		<th style="width:70px;" onclick='window.nextPage()'><i class=' fa fa-chevron-right'></i></th>
	</tr>
	</thead>
	<tbody>
	{loop $list $data1}
	<tr>
		<td rowspan="2" style="text-align: center; width:150px;white-space:normal;">{php echo cutstr($data1['title'], 8)}</td>
		<td rowspan="2" style="text-align: center; width:150px;white-space:normal;">优惠价<br>{php echo cutstr($data1['cprice'], 8)}</td>
		<td colspan='2'  style="text-align: center;">房态</td>
		{loop $date_array $row}
		<td style="text-align: center">
			<label class="checkbox-inline">
				<input type="checkbox" date="{$row['date']}" field="status" pricetype="status" hotelid="{$data1['price_list'][$row['time']]['hotelid']}" roomid="{$data1['price_list'][$row['time']]['roomid']}" class="status_checkbox" value="1" {if $data1['price_list'][$row['time']]['status']==1}checked{/if}/>
				有房
			</label>
		</td>
		{/loop}
		<td></td>
	</tr>
	<tr>
		<td colspan='2' style="text-align: center;">房量</td>
		{loop $date_array $row}
			<td style="text-align: center">
				<span class="price_span" >{if $data1['price_list'][$row['time']]['num']==-1}不限{else}{$data1['price_list'][$row['time']]['num']}{/if}</span>
				<span class="price_editspan hide">
					<input type="text" date="{$row['date']}" field="num" pricetype="num" hotelid="{$data1['price_list'][$row['time']]['hotelid']}" roomid="{$data1['price_list'][$row['time']]['roomid']}" class="price_input form-control" value="{$data1['price_list'][$row['time']]['num']}" />
				</span>
			</td>
		{/loop}
		<td></td>
	</tr>
	{/loop}
	</tbody>
</table>
<input type='hidden' id='page' value="{$page}" />
<input type='hidden' id='totalpage' value="{$totalpage}" />
