body{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 510px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	/*background-color: #2A2172;
	background-image: url(bg_common.jpg);*/
}
.choose-content-bg{
	width: 250px;
	height: 65px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 100%;
	background-image: url(layer_box.png);
	top: 120px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.text-swing{
	width: 100%;
	height: 66px;
	color: #ffdf77;
	font-size: 25px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 252px 55px;
	background-image: url(text_get_success.png);
	top: 30px;
	text-align: center;
	line-height: 110px;
	text-indent: -164px;
}
.text-swing-my{
	width: 100%;
	height: 66px;
	color: #ffdf77;
	font-size: 25px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 252px 55px;
	background-image: url(text_get_success_my.png);
	top: 30px;
	text-align: center;
	line-height: 110px;
	text-indent: -164px;
}
.choose-content{
	position: absolute;
	top: 155px;
	width: 100%;
	left: 0;
	overflow: hidden;
}
.choose-content ul{
	white-space: nowrap;
}

.choose-content li.prize2 img{
	-webkit-transform: translate3d(68px,6px,0);
}
.choose-content li.prize3 img{
	-webkit-transform: translate3d(10px,28px,0);
}
.choose-content li.prize4 img{
	-webkit-transform: translate3d(28px,3px,0);
}
.choose-content li.prize5 img{
	-webkit-transform: translate3d(64px,4px,0);
}
.choose-content li img{
	width: 34px;
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transform: translate3d(60px,0,0);
}
.choose-content li{
	display: inline-block;
	width: 100%;
	height: 181px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 181px 161px;
}
.choose-content li span{position: absolute;width: 100%;margin: 0 auto;top: 0px;text-align:center;}
.choose-content .prize1{
	background-image: url(lihepic/icon_prize1.png);
}
.choose-content .prize2{
	background-image: url(lihepic/icon_prize2.png);
}
.choose-content .prize3{
	background-image: url(lihepic/icon_prize3.png);
}
.choose-content .prize4{
	background-image: url(lihepic/icon_prize4.png);
}
.choose-content .prize5{
	background-image: url(lihepic/icon_prize5.png);
}
.copyright{
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #5E43B6;
}
.btn-see {
	position: absolute;
	left: 20px;
	top: 346px;
	width: 134px;
	height: 54px;
	background-size: 100% 100%;
	background-image: url(btn_see.png);
}
.btn-share {
	position: absolute;
	right: 20px;
	top: 346px;
	width: 134px;
	height: 54px;
	background-size: 100% 100%;
	background-image: url(btn_share.png);
}
.btn-openlihe {
	position: absolute;
	right: 20px;
	top: 346px;
	width: 134px;
	height: 71px;
	background-size: 100% 100%;
	background-image: url(btn_open_big.png);
}
.choose-num{
	text-align: center;
	color: #918ed0;
	font-size: 13px;
	position: relative;
	top: 365px;
	width: 60%;
	margin: 0 auto;
}
.choose-num b{
	color: #d8d7ed;
}
.share-layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.9);
	background-size: 320px 256px;
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url(share.png);
}
.share-layer.show{
	display: block;
}