/* ::::: http://app.aixiyou.com/tpl/Wap/default/common/css/style/css/hotels.css ::::: */

body, article, section, h1, h2, hgroup, p, a, ul, li, em, div, small, span, footer, canvas, figure, figcaption, input { margin: 0px; padding: 0px; }
a { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; }
ul, li { list-style-type: none; }
.clr { clear: both; }
body { background-color: rgb(236, 236, 236); font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; margin: 0px; overflow-x: hidden; padding: 0px; color: rgb(102, 102, 102); }
.cardexplain { margin: 11px 10px 20px 9px; min-width: 301px; }
h2 { color: rgb(55, 59, 62); font-size: 14px; line-height: 32px; padding-left: 10px; padding-top: 5px; text-align: left; font-weight: normal; }
ul.round { border: 1px solid rgb(198, 198, 198); background-color: rgba(255, 255, 255, 0.9); text-align: left; font-size: 14px; line-height: 24px; border-radius: 5px; box-shadow: 0px 1px 1px rgb(246, 246, 246); margin-bottom: 11px; display: block; }
ul.round li { border-style: solid; border-color: rgb(198, 198, 198); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 0px 1px; padding: 0px 10px 0 0; }
ul.round li:only-of-type { border-width: 0px; }
ul.round li:last-of-type { border-width: 0px; }
.round li, .round li span, .round li a { line-height: 22px; }
.round li span { display: block; background: url('arrow3.png') no-repeat scroll right 50% / 8.5px 13px transparent; padding: 10px 20px 9px 0px; position: relative; font-size: 16px; min-height: 22px; }
.round li span.none { background: none repeat scroll 0px 0px transparent; }
.mb { margin-bottom: 4px; }
.round li.nob { border-width: 0px; }
.round li.nob .px { border-radius: 5px; background-color: rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); margin: 5px 0px 4px; padding: 5px 10px; }
ul.round li.nob:last-of-type { margin-bottom: 8px; }
.round li h2 { color: rgb(55, 59, 62); font-size: 16px; font-weight: normal; line-height: 20px; padding: 10px 0px; border-bottom: 1px dotted rgb(198, 198, 198); }
.round li .text { padding: 10px 0px; }
.round li .text p { line-height: 20px; font-size: 14px; color: rgb(102, 102, 102); }
.round li.title { background-color: rgb(225, 225, 225); background-image: -moz-linear-gradient(center bottom , rgb(231, 231, 231) 0%, rgb(249, 249, 249) 100%); box-shadow: 0px 1px 0px rgb(255, 255, 255) inset, 0px 1px 0px rgb(238, 238, 238); border-radius: 5px 5px 0px 0px; }
.round li.title span { padding: 5px 15px 4px 0px; font-size: 14px; color: rgb(102, 102, 102); text-shadow: 0px 1px rgb(255, 255, 255); }
.round li p { padding: 0px; margin: 2px 0px; color: rgb(153, 153, 153); font-size: 12px; line-height: 14px; }
.kuang th { color: rgb(51, 51, 51); padding: 0px; font-size: 16px; font-weight: normal; text-align: center; width: 60px; }
.kuang td { color: rgb(153, 153, 153); padding: 0px; }
.px { position: relative; background-color: transparent; color: rgb(153, 153, 153); display: block; width: 100%; padding: 10px; font-size: 16px; margin: 0px auto; font-family: Arial,Helvetica,sans-serif; border: 0px none; }
.px[type="text"] { width: 100%; box-sizing: border-box; }
input::-moz-placeholder, textarea::-moz-placeholder { color: rgb(204, 204, 204); }
.footReturn { display: block; margin: 11px auto; padding: 0px; position: relative; }
.submit { background-color: rgb(23, 159, 0); padding: 10px 20px; font-size: 16px; text-decoration: none; border: 1px solid rgb(11, 142, 0); background-image: -moz-linear-gradient(center bottom , rgb(23, 159, 0) 0%, rgb(93, 211, 0) 100%); box-shadow: 0px 1px 0px rgb(148, 231, 0) inset, 0px 1px 2px rgba(0, 0, 0, 0.5); border-radius: 5px; color: rgb(255, 255, 255); display: block; text-align: center; text-shadow: 0px 1px rgba(0, 0, 0, 0.2); }
.submit:active { padding: 11px 20px 9px; top: 0px; background-image: -moz-linear-gradient(center bottom , rgb(93, 211, 0) 0%, rgb(23, 159, 0) 100%); box-shadow: 0px 1px 0px rgb(93, 211, 0) inset, 0px 1px 2px rgba(0, 0, 0, 0.5); }
.banner { width: 100%; margin: 0px auto; padding: 0px; overflow: hidden; background-color: rgb(51, 51, 51); }
#wrapper { margin: 0px; width: 100%; height: auto; float: left; position: relative; z-index: 1; overflow: hidden; }
#scroller { height: auto; float: left; padding: 0px; }
#scroller ul { list-style: none outside none; display: block; float: left; width: 100%; height: auto; padding: 0px; margin: 0px; text-align: left; }
#scroller li { display: block; float: left; width: auto; height: auto; text-align: center; font-size: 0px; padding: 0px; position: relative; }
#scroller li a { display: block; padding: 0px; margin: 0px; }
#scroller li p { position: absolute; z-index: 2; display: block; width: 100%; bottom: 0px; background-color: rgba(0, 0, 0, 0.5); color: rgb(244, 244, 244); font-size: 14px; line-height: 24px; text-align: left; text-indent: 10px; text-overflow: ellipsis; white-space: nowrap; padding: 0px; margin: 0px; }

.card {
    background-color: #fff;
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 10px;
}
hr {
    border: 0;
    margin: 0 !important;
    padding: 1px;
}
.border-1px, hr{
    position: relative;
}
.border-1px:before, .border-1px:after, hr:before, hr:after{
    border-top: 1px solid #c8c7cc !important;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
}
.border-1px:before{
    top: 0;
    /*display: none;*/
}
.border-1px:after{
    bottom: 0;
}
hr:before{
    top: 0;
}
hr:after{
    bottom: 0;
    display: none;
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){
    .border-1px:after,.border-1px:before, hr:after,hr:before{
        -webkit-transform: scaleY(.7);
        -webkit-transform-origin: 0 0;
        transform: scaleY(.7);
    }
    .border-1px:after, hr:after{
        -webkit-transform-origin: left bottom;
    }
}

@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){
    .border-1px:after,.border-1px:before, hr:after,hr:before{
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}

.btn-group-top .btn.active {
    color: #FFF;
    background: #5ac5d4;
}
.btn-default.active {
    background: #5ac5d4 !important;
}
.btn-default {
    color: #5ac5d4;
    background-color: #fff;
    border-color: #5ac5d4;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #5ac5d4;
}


.list-cash-coupon {
    padding: 10px 0 0 0;
    list-style: none;
    margin: 10px auto;
}
.list-cash-coupon li {
    margin: 10px 0;
}
.list-cash-coupon a {
    display: block;
    width: 281px;
    height: 109px;
    margin: auto;
    background: url('voucher.png') no-repeat 0 -9px;
    -webkit-background-size: 575px auto;
    position: relative;
}
.list-cash-coupon a>p:nth-of-type(1)>span {
    font-size: 30px;
}
.list-cash-coupon a>p:nth-of-type(1) {
    left: 25px;
    top: 20px;
    font-size: 14px;
}
.list-cash-coupon a>p {
    position: absolute;
    max-width: 200px;
    height: 20px;
    color: #FFF;
    -webkit-box-sizing: border-box;
}
.list-cash-coupon a>p:nth-of-type(2) {
    left: 26px;
    top: 62px;
    font-size: 14px;
}
.list-cash-coupon a>p:nth-of-type(3) {
    left: 26px;
    top: 83px;
    font-size: 14px;
}

.list-cash-coupon a>p {
     position: absolute;
     max-width: 200px;
     height: 20px;
     color: #FFF;
     -webkit-box-sizing: border-box;
 }
.list-cash-coupon a>p:nth-of-type(5) {
    right: 12px;
    top: 18px;
    font-size: 14px;
    width: 25px;
    line-height: 18px;
}
.list-cash-coupon li[disabled] a {
    background-position: 0 -502px;
}