{template 'common/header'}
<style>
.label{cursor:pointer;}
</style>
<div class="main">
{template 'common'}
<div class="panel panel-default">
<div class="panel-heading">
	<div class="row-fluid">
    	<div class="span8 control-group">
			<a class="btn btn-default{if $_GPC['rank']=='sharepoint'} btn-primary active{/if}" href="{php echo $this->createWebUrl('rankdata',array('rid'=>$rid,'rank'=>'sharepoint'))}">分享助力排行榜</a>			
			<a class="btn btn-default{if $_GPC['rank']=='share_num'} btn-primary active{/if}" href="{php echo $this->createWebUrl('rankdata',array('rid'=>$rid,'rank'=>'share_num'))}">分享动作排行榜</a>
			<a class="btn btn-warning">共计：{$total}参与活动</a>
			<a class="btn btn-warning" style="float:right;" href="{php echo $this->createWebUrl('download',array('rid'=>$rid,rank=>$_GPC['rank'],'data'=>'rankdata'))}"><i class="fa fa-download"></i> 导出{$statustitle}排行榜</a>
        </div>
    </div>
</div>
<div style="position:relative">
	<div class="panel-body table-responsive">
		<table class="table table-hover" style="position:relative">
			<thead class="navbar-inner">
				<tr>
					<th style="width:50px;">排名</th>
					<th style="width:50px;">头像</th>
					<th style="width:100px;">真实姓名</th>
					<th style="width:100px;">手机号码</th>					
					<th style="width:100px;">奖品状态</th>
					<th style="width:100px;">助力情况</th>
					<th style="width:150px;">参与时间</th>
					<th style="width:60px;">分享助力</th>
					<th style="width:60px;">分享动作</th>
				</tr>
			</thead>
			<tbody>
				{php $i=1;}
				{loop $list $row}
				<tr>
					<td>{php echo $i+$psize*($_GPC['page']-1)}</td>
					<td><img src="{if substr($row['avatar'],-1)=='0'}{php echo rtrim(toimage($row['avatar']), '0').$reply['poweravatar']}{else}{php echo toimage($row['avatar'])}{/if}" width="30"></td>
					<td>{if !empty($row['realname'])}{$row['realname']}{else}{php echo stripcslashes($row['nickname'])}{/if}</td>
					<td>{$row['mobile']}</td>
					<td>{if $row['zhongjiang']==0}<span class="label label-default">未中奖
						{elseif $row['zhongjiang']==1}<span class="label label-warning">未兑换
						{else}<span class="label label-success">已兑奖{/if}
						{if $row['xuni']==0}/真实</span>
						{else}/虚拟</span>{/if}</td>
					<td>{if $row['sharenum']==0}未成功分享{else}助力情况[{$row['sharenum']}]{/if}</td>
					<td>{php echo date('Y/m/d H:i',$row['createtime']);}</td>
					<td>{$row['sharepoint']}{$reply['danwei']}</td>
					<td>{$row['share_num']}</td>
				</tr>
				{php $i++;}
				{/loop}				
			</tbody>
		</table>
	</div>
</div>
</div>
{$pager}
</div>
{template 'common/footer'}