a{color: #434343;}
html{background-color: #fafafa;}
.container{position: relative; max-width: 640px; margin: 0 auto; color: #686868; font-size: 12px; overflow: hidden;}

.text_overflow, .index_list a p, .channel_list h3, .channel_list p, .img_swipe li a p{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.text_overflows, .list article{display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; -webkit-line-clamp: 2;}

.ico_tel:after, .ico_tips, .list .ico_line, .on .tool_bar:after{background: url(../imgs/s.png?v=1) no-repeat; background-size: 67px auto;}

