.img_swipe .text, .channel_tt, .ico_tips{background-color: #e15865;}
.ico_tel{background-color: #f8b82f;}
.index_list a i, .list .tool_bar{color: #e15865;}
.on .tool_bar{border-color: #e15865;}
.on .tool_bar:after{background-position: -32px -19px;}
