@import url("base.css");

.app-head{background-color: #f8f8f8;border-bottom-color: #e1e1e1;}
.app-foot{height: 25px;border:0 none;background-color: #212121;}
.app-foot .inner{height: 25px;line-height: 25px;font-size: 12px;color: #fff;}

.app-head .link{padding: 0 7px;}
.app-head .user{right: 0;line-height: 42px;}
.app-head .search{position:relative;float:left;width:200px;height: 28px;margin: 8px 0 8px 5px;line-height:normal;background-color:#fff;border: 1px solid #cbcbcb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.app-head .search input[type='text']{width: 100%;height: 18px;padding:0 6px 0 24px;margin:4px 0;line-height: 18px;font-size:12px;color:#666;border: 0 none;background-color: #fff;}
.app-head .search .btn{position: absolute;top: 0;left: 0;height:28px;cursor: pointer;
    -webkit-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
.app-head .city{position:relative;left:-8px;float: left;padding: 0 12px 0 6px;cursor: pointer;}
.app-head .city:after,
.app-head .city:before{position:absolute;display: inline-block;width:0px; height:0px;border-color: #333 transparent transparent transparent;border-style: solid;border-width: 4px 4px 0 4px;content: '';}
.app-head .city:after{top: 22px;right: 0;z-index: 1;}
.app-head .city:before{top: 21px;right: 0;z-index: 2;border-top-color: #f8f8f8;}

.app-foot-button{height: 32px;}
.app-foot-button .inner{height:32;padding:0;background-color: #fff;}
.app-foot-button .button{display: block;height: 32px;text-align: center;line-height: 32px;font-size:16px;color:#fff;letter-spacing:2px;background-color: #fc0;}
.app-foot-button .msg{padding:0 12px;text-align: center;line-height: 32px;font-size:14px;color: #fff;background-color: #a1e046;}

.app-wrap{background-color: #fff;}
.app-foot + .app-wrap{bottom: 25px;}
.app-foot-button + .app-wrap{bottom: 32px;}

.app-dialog .alert{width:300px;background-color: #fff;overflow: hidden;;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.app-dialog .alert .text{padding: 24px 20px; text-align: center;color: #716d64;font-size: 15px;}
.app-dialog .alert .button{text-align: center;font-size: 0;letter-spacing: -1px;border-top: 1px solid #e1e1e1;}
.app-dialog .alert .button a{display: inline-block;width: 50%;line-height: 40px;letter-spacing: 0;font-size: 13px;outline: none;}
.app-dialog .alert .button a:first-child{border-right: 1px solid #e1e1e1;}
.app-dialog .alert .button .no{color: #999;}

.app-dialog .select{max-height:194px;background-color: #fff;overflow-x:hidden;overflow-y: scroll;-webkit-overflow-scrolling:touch;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.app-dialog .select .inner{position: relative;width: 100%;overflow: hidden;}
.app-dialog .select .option{display: block;max-width:300px;padding:0 45px;line-height: 38px;border-top: 1px solid #e1e1e1;outline: none;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.app-dialog .select .option:first-child{border-top: 0 none;}

/*妯″潡*/
.m-login{width: 100%;height: 100%;background-color: #fff;}
.m-login .toggle{height:48px;line-height:48px;font-size:16px;color:#fff;}
.m-login .toggle li{float:left;width:50%;text-align:center;font-size:14px;color:#fff;background-color:#f70e47;cursor: pointer;}
.m-login .toggle li.z-sel{color: #212121;background: #fff;}
.m-login .form{position:absolute;top:48px;bottom:0;left:0;z-index:2;width:100%;padding: 25px 20px 20px;overflow-y: scroll;-webkit-overflow-scrolling:touch;}
.m-login .form li{display: none;}
.m-login .row{height: 42px;margin:8px 0 0 0;}
.m-login .row:first-child{margin-top: 0;}
.m-login .row .btn.z-dis{color:#bcbcbc;background: #ededed;}
.m-login .ipt{border: solid 1px #ccc9c9;background-color: #fff;
    -webkit-box-shadow: inset 1px 2px 2px rgba(4,0,0,.09);
    box-shadow: inset 1px 2px 2px rgba(4,0,0,.09);
}
.m-login .ipt input{height:28px;width:100%;padding:0 12px;margin:6px 0;line-height:28px;font-size:12px;border: 0 none;background-color: transparent;}
.m-login .error{padding: 0 0 0 25px;line-height:42px;font-size: 12px;color: #e93f23;background: url('../images/error.png') no-repeat 3px -903px;}
.m-login .submit{display:block;width:100%;height: 38px;text-align:center;line-height:38px;font-size:18px;color:#fff;text-decoration:none;border:0 none;background-color: #f70e47;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.m-list{position: relative;padding-top: 40px;}
.m-list .nav{position: absolute;top: 0;left: 0;z-index: 10;width: 100%;height: 38px;font-size: 0;letter-spacing: -1px;background-color: #f70e47;}
.m-list .nav a{display: inline-block;width: 33.3333333%;height:38px;padding:2px;color: #fff;}
.m-list .nav span{display: block;text-align:center;line-height: 34px;font-size: 14px;letter-spacing: 0;}
.m-list .nav a.z-sel span{color: #f70e47;background-color: #fff; border-radius:8px;}
.m-list .coupons{}
.m-list .coupons li{padding: 6px 12px;border-bottom: 1px solid #e1e1e1;}
.m-list .coupons .pic{position:relative;float: left;width: 96px;height: 60px;margin-right: -108px;background: url('../images/ajax.gif') center no-repeat;}
.m-list .coupons .box{float:left;width: 100%;}
.m-list .coupons .content{margin-left: 108px;line-height:18px;}
.m-list .coupons .name{line-height:20px;font-size: 14px;color: #212121;}
.m-list .coupons p{position: relative;line-height: 20px;font-size: 12px;color: #666;}
.m-list .coupons p span{margin:0 3px;color: #007aff;}
.m-list .coupons .state{top:2px;font-size: 12px;font-weight:400;color: #ccc;}
.m-list .coupons .state.z-no{color: #f70e47;}
.m-list .coupons .right{position: absolute;right: 0;top: 0;}
.m-list .coupons .money{color: #f70e47;}
.m-list .coupons .money span{font-size: 16px;font-family: 'Helvetica';color: #f70e47;}
.m-list .coupons .money i{margin-left: 5px;color: #b9b9ba;text-decoration:line-through;}
.m-list .users{width: 100%;}
.m-list .users tr{border-bottom: 1px solid #eae5e5;}
.m-list .users th{height: 32px;font-size: 12px;font-weight:400;color: #999;}
.m-list .users td{height: 40px;text-align: center;font-size: 14px;color: #8e8171;}
.m-list .users th:nth-child(1){width: 65px;}
.m-list .users th:nth-child(2){width: 70px;}

.m-form{padding: 12px 24px 12px 12px;}
.m-form .row{position:relative;min-height: 34px;margin-bottom: 6px;padding-left: 80px;}
.m-form .row .tag{position: absolute;left: 0;top: 0;display:block;width: 80px;padding-right:10px;text-align: right;line-height: 34px;}
.m-form .row input[type='text'],
.m-form .row .time{width:100%;height: 34px;padding:0 12px;border: 1px solid #e1e1e1;background-color: #fff;outline: none;
    -webkit-box-shadow:none;
    box-shadow: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.m-form .row input:disabled{background-color: #fff;}
.m-form .row .time .text{line-height: 34px;}
.m-form .row .file{position:relative;width: 125px;height: 34px;text-align: center;line-height: 34px;color: #fff;background-color: #f96a41;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.m-form .row .file input{position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;}
.m-form .row textarea{width: 100%;height: 80px;padding:6px;border:1px solid #e1e1e1;}
.m-form .submit{display: block;width: 165px;height: 34px;margin:18px 0 0 80px;text-align: center;line-height: 34px;color: #fff;background-color: #f96a41;border: 0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.m-form .msg{padding: 6px 0;margin-top:18px;line-height: 18px;font-size: 13px;color: #f70e47;}

.m-shops{padding: 12px;}
.m-shops li{border: 1px solid #e1e1e1;}
.m-shops .pic{position:relative;float: left;width: 144px;height: 60px;margin-right: -154px;background: url('../images/ajax.gif') center no-repeat;}
.m-shops .box{float:left;width: 100%;}
.m-shops .content{margin-left: 154px;}
.m-shops .name{line-height:20px;font-size: 14px;color: #212121;}
.m-shops p{position: relative;line-height: 20px;font-size: 12px;color: #666;}
.m-shops .foot{position:relative;padding:0 6px;line-height: 32px;font-size: 13px;color: #212121;}
.m-shops .foot span{margin: 0 3px;color: #007aff;}
.m-shops .foot a{position: absolute;right: 6px;top: 4px;display: block;width: 80px;height: 24px;text-align: center;line-height: 24px;font-size: 12px;color: #fff;background-color: #f70e47;}

/*鍥炬爣*/
.icon-back{width: 30px;height: 30px;background: url('../images/back.png') no-repeat center;background-size:28px;}
