body{
    padding: 0px;
	width:100%;
    height:100%;
    background-size: cover; 
}
#container{margin:0px 10px;color:#ffffff}
#container h2{
    color: #FFFFFF;
    text-align: center;
}
#container p{
	font-size:14px;
	color:#ffffff;
	font-weight:bolder;
}
#container .count{
    font-size: 12px;
    color:#FFFFFF;
}
#userInfo .userInfo{
    width:49%;
    float:left;
}
#userInfo .userInfo .item{
    margin:2px 0px;
}
#userInfo .userInfo .item input{
    width:70%;
}
.radius{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
}

.user1{
    color:#ffffff;
}
.user2{
    color:#ffffff;
}
.statusline{
    display: inline-block;
    width:80%;
    height:20px;
    color:#fff;
    text-align: center;
    background-image:url('../images/bgnamepk.png');
    background-repeat:no-repeat;
    background-size:100% 20px;
    border-radius: 0 5px 5px 0;
    opacity: 0.9;
    -webkit-transition: all .5s ease-in-out 1s;
    -o-transition: all .5s ease-in-out 1s;
    -moz-transition: all .5s ease-in-out 1s;
    transition: all .5s ease-in-out 1s;
}
.fighting{
    display: none;
    height:auto;    
}
#startGame{
    clear:both;
    line-height: 30px;
	padding-top: 15px;
}
#progress .hp{
    margin:15px auto 20px auto;
    display: none;
}
.fight div{
    margin:5px 0px;
}
#tip .pkresult{
    display: none;
    color:#fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0,0,0,0.6);
}
#progress{
    margin-top:5px;
}
#progress .fight_gif{
    text-align: center;
}
#progress .fight_gif img{
    height:90px;
    display: block;
    margin:0px auto;
}
#progress .fight_gif img.spreadImg{
/*    width:240px;
    height:150px;*/
    width:100%;
    height: auto;
    max-width: 360px;
    display: block;
    margin: 0px auto 10px auto;
}
#tip .share{
    display: none;
    color:#fff;
    position: absolute;
    top: 0px;
    left:0px;
    bottom:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.copyright{
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.62);
}
.copyright a{
    color:#fff;
}
.congratulation{
	width:95%;
	margin:20px auto;
	font-size:16px;
	font-weight:bold;
	color:#c85d07;
	
}
.congratulation font.name{
	color:#d623a6;
}
.congratulation img{
	display:block;
	width:40%;
	max-width:170px;
	float:left;
}
.congratulation p{
	width: 57%;
	line-height: 28px;
	float: left;
	margin-left: 6px;
}
.button{
    margin: 10px;
}
.clear{
clear:both;
}

.foot-fix-panel {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
.foot-fix-panel .panel-box .page {
    display: table-cell;
    vertical-align: top;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
.foot-fix-panel .panel-box .easycall-item {
    width: 33.3%;
    height: 100%;
    float: left;
    text-align: center;
    text-decoration: none;
}
.foot-fix-panel .panel-box .easycall-item .icon {
    width: 26px;
    height: 26px;
    background: none;
    right:0px;
    float: none;

}
.foot-fix-panel .panel-box .easycall-item img {
    width: 26px;
    height: 26px;
}
.foot-fix-panel .panel-box .easycall-item .title {
    color: rgb(7, 10, 7);
    overflow: hidden;
    font-size: 18px;
    margin-top: 0px;
    line-height: 14px;
}
.home-box {
    background: url(../images/footfixed_5.png) center center no-repeat;
    background-size: contain;
    width: 48px;
    position: fixed;
    bottom: 12px;
    left: 50%;
    margin-left: -29px;
    height: 58px;
    z-index: 10000;
}
.home-box-title {
    width: 48px;
    position: fixed;
    bottom: 2px;
    left: 50%;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    z-index: 10000;
    margin-left: -29px;
}

.nav-wrap-left a.back {
    height: 1rem;
    width: .45rem;
    line-height: 1rem;
    padding: 0 .3rem;
}


a.react, label.react {
    display: block;
    color: inherit;
    height: 100%;
    color: white;
}
a.react:link, a.react:visited {
    color: white;
    text-decoration: none;
    outline-style: none;
}
.text-icon.icon-back {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    position: relative;
    color: white;
    top: -1px;
}
.text-icon {
    font-family: base_icon;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
}
.text-icon.icon-back:before {
    content: '';
    display: block;
    position: absolute;
    left: 2;
    top: inherit;
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scaleY(0.7) rotateZ(45deg);
    -moz-transform: scaleY(0.7) rotateZ(45deg);
    -ms-transform: scaleY(0.7) rotateZ(45deg);
}
.text-icon.icon-back:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 0px;
    border-top: 1px solid #fff;
    height: 0;
    width: 15px;
}