<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" href="../addons/cy163_goodssales/static/css/reset.css"/>
    <link rel="stylesheet" href="../addons/cy163_goodssales/static/iconfont/iconfont.css"/>
	{if $goods['isthumbsshow'] == 1}
	<link rel="stylesheet" href="../addons/cy163_goodssales/static/lib/swiper-3.3.1.min.css"/>
	{/if}
	<link rel="stylesheet" href="../addons/cy163_goodssales/static/css/product_details.css"/>
	{php echo register_jssdk(false);}
    <script>
        var deviceWidth = document.documentElement.clientWidth;
		var deviceHeight = document.documentElement.clientHeight;
        document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
    </script>
	<style>
	#product_details_container4 img{max-width:100%;}
	#product_details_container4 div{font-size:0.2rem;}
	.product_details_shop_car {
	  background: rgba(80, 80, 80, 0.85) none repeat scroll 0 0;
	  border-radius: 1rem;
	  bottom: 1.15rem;
	  color: #fff;
	  height: 1rem;
	  right: 0.25rem;
	  line-height: 1rem;
	  position: fixed;
	  z-index:9999;
	  text-align: center;
	  width: 1rem;
	}
	.product_details_shop_car div {
	  font-size: 0.55rem;
	  color:#fff;
	}
	</style>
    <title>{$goods['title']}</title>
</head>
<body>
{if $goods['isthumbsshow'] == 1}
<div id="product_details_banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
			{loop $piclist $row}
            <div class="swiper-slide">
                <a href="###"><img data-src="{php echo tomedia($row);}" class="swiper-lazy" /></a>
				<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            {/loop}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
{else}
<div id="product_details_banner">
    <img src="{php echo tomedia($goods['thumb']);}" style="max-width:100%;" />
</div>
{/if}

<div id="product_details_container1">
    <div class="product_details_name_div">
        <div class="product_details_name">{$goods['title']}</div>
    </div>
    <div class="product_details_price_div">
        <em>¥</em><span class="product_details_price">{$goods['normalprice']}</span>
        <span class="product_details_old_price">¥{$goods['originalprice']}</span>
		{if $goods['ishexiao'] == 0}<span class="product_details_price_sale">{if $goods['yunfei'] > 0}运费{$goods['yunfei']}{else}免运费{/if}</span>{/if}
		<span class="product_details_price_sale">已售{$goods['sales']}件</span>
		<span class="product_details_price_sale">{$goods['viewcount']}次浏览</span>
    </div>
	{if $goods['istime'] == 1 && $nowtime < $goods['timeend']}
	<div class="product_details_djs">
		{if $goods['timestart'] > $nowtime}
		<span>{$djs}</span>
		{/if}
		<span class="djd" id="day_show">00</span>
		<span class="djd" id="hour_show">00</span>
		<span class="djd" id="minute_show">00</span>
		<span class="djd" id="second_show">00</span>
		{if $goods['timestart'] < $nowtime}
		<span style="margin-left:0.1rem;">{$djs}</span>
		{/if}
	</div>
	{/if}
    <div class="clear"></div>
</div>

{if $goods['isjia'] == 1}
<div class="order_list">
	<ul>
		{loop $jialist $orow}
		<li class="order_list_item">{$orow}</li>
		{/loop}
	</ul>
</div>
{/if}

{if $params && $goods['isparamshow'] == 1}
<div id="product_details_container3">
	<div class="product_details_size_text">
		{loop $params $pp}
	    <div class="product_details_size_text_item">{$pp['title']}：{$pp['value']}</div>
		{/loop}
	</div>	
</div>
{/if}

<div id="product_details_container4">
	<div>{$goods['content']}</div>
</div>

<div class="product_details_shop_car">
   <a href="{php echo $this->createMobileUrl('my');}"><div class="icon iconfont">&#xe624;</div></a>
</div>

<div id="product_details_flex_bottom" style="width:100%;">
	{if $cservicelist}
	<div class="product_details_left_btn" style="width:20%;display:inline-block;float:left;"><a style="color:#666;" href="{php echo $this->createMobileUrl('chosekefu',array('goodsid'=>$goods['id']))}"><p class="iconfont">&#xe643;</p>咨询客服</a></div>
		{if $goods['isdistribution'] == 1}
		<div class="product_details_right_btn" style="width:40%;display:inline-block;float:left;"><a style="color:#fff;" href="{php echo $this->createMobileUrl('register',array('merchant_id'=>$goods['merchant_id']))}">{if $goods['distributiontext'] == ''}我要佣金{else}{$goods['distributiontext']}{/if}</a></div>
		<div class="product_details_right_btn2" style="width:40%;display:inline-block;float:left;" onclick="show_product_details_overfolow('product_details_size')">{if $goods['btntext'] == ''}立即购买{else}{$goods['btntext']}{/if}</div>
		{else}
		<div class="product_details_right_btn2" style="width:80%;display:inline-block;float:left;" onclick="show_product_details_overfolow('product_details_size')">{if $goods['btntext'] == ''}立即购买{else}{$goods['btntext']}{/if}</div>
		{/if}
	{else}
		{if $goods['isdistribution'] == 1}
		<div class="product_details_right_btn" style="width:50%;display:inline-block;float:left;"><a style="color:#fff;" href="{php echo $this->createMobileUrl('register',array('merchant_id'=>$goods['merchant_id']))}">{if $goods['distributiontext'] == ''}我要佣金{else}{$goods['distributiontext']}{/if}</a></div>
		<div class="product_details_right_btn2" style="width:50%;display:inline-block;float:left;" onclick="show_product_details_overfolow('product_details_size')">{if $goods['btntext'] == ''}立即购买{else}{$goods['btntext']}{/if}</div>
		{else}
		<div class="product_details_right_btn2" style="width:100%;display:inline-block;float:left;" onclick="show_product_details_overfolow('product_details_size')">{if $goods['btntext'] == ''}立即购买{else}{$goods['btntext']}{/if}</div>
		{/if}
	{/if}
</div>

<div id="product_details_balckbg" class="product_details_overfolow" onClick="hide_overfolow()"></div>

<div id="product_details_size" class="product_details_overfolow">
	<div style="height:2.34rem;padding:0 0.2rem;margin-bottom:0.3rem;">
		<div class="product_details_s_p">
			 <img src="{php echo tomedia($goods['thumb']);}" />
		</div>
		<div class="product_details_f_text">
			 <p class="product_details_f_price" id="product_details_f_price"><em>¥</em>{$goods['normalprice']}</p>
			 <p id="product_details_f_stock">库存{$goods['total']}件</p>
		</div>
		<div class="iconfont close_btn" onClick="hide_overfolow()">&#xe614;</div>
	</div>
	
	{if $goods['hasoption'] == 1 && !empty($specs)}
		{loop $specs $spec}
		<div class="product_details_gg">
			<div class="product_color_select">
				<p>{$spec['title']}</p>
				{loop $spec['items'] $o}
					<div class="product_color_div" data-specid="{$o['id']}">{$o['title']}</div>
				{/loop}
			</div>
		</div>
		<div class="clear"></div>
		{/loop}
	{/if}

	<div class="clear product_underline"></div>
	<div class="product_details_f_buynum product_underline">
		<p>购买数量</p>
		<div class="product_buynum_select">
		  <span class="input-number-decrement">–</span><input class="input-number" id="buynum" type="tel" value="1" min="0" max="10"><span class="input-number-increment">+</span>
		  <input type="hidden" id="messiprice" value="{$goods['normalprice']}" />
		</div>
	</div>
	<div class="product_details_f_bottom_btn">
		<div class="product_details_buy" onclick="buy();">{if $goods['btntext'] == ''}立即购买{else}{$goods['btntext']}{/if}</div>
	</div>
</div>


<script src="../addons/cy163_goodssales/static/lib/jquery-3.1.1.min.js"></script>
{if $goods['isthumbsshow'] == 1}
<script src="../addons/cy163_goodssales/static/lib/swiper-3.3.1.jquery.min.js"></script>
<script>
    //banner
    var swiper = new Swiper('#product_details_banner .swiper-container', {
        pagination: '#product_details_banner .swiper-pagination',
        paginationClickable: true,
		lazyLoading : true,
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: 3000,
        autoplayDisableOnInteraction: false
    });
</script>
{/if}
{if $goods['isjia'] == 1}
<script src="../addons/cy163_goodssales/static/js/scroll.js"></script>
<script type="text/javascript">
$(function(){
	$('.order_list').myScroll({
		speed: 40, //数值越大，速度越慢
		rowHeight: 200 //li的高度
	});
});
</script>
{/if}
<script>
	{if $goods['istime'] == 1 && $nowtime < $goods['timeend']}
	var intDiff = parseInt({$djstime}); //倒计时总秒数量
	function timer(intDiff) {
	  window.setInterval(function () {
		var day = 0,
		  hour = 0,
		  minute = 0,
		  second = 0; //时间默认值
		if (intDiff > 0) {
		  day = Math.floor(intDiff / (60 * 60 * 24));
		  hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
		  minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
		  second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
		}
		if (minute <= 9) minute = '0' + minute;
		if (second <= 9) second = '0' + second;
		$('#day_show').html(day + "天");
		$('#hour_show').html(hour + '时');
		$('#minute_show').html(minute + '分');
		$('#second_show').html(second + '秒');
		intDiff--;
	  }, 1000);
	}
	{/if}
	//隐藏浮层高度
    $(function(){
		{if $goods['istime'] == 1 && $nowtime < $goods['timeend']}
		timer(intDiff);
		{/if}
	   $('#product_details_size').css('bottom',-deviceHeight*0.6);
	})
	
	//隐藏浮层
	function hide_overfolow(){
	   $('.product_details_overfolow').hide();
	   $('#product_details_size').css('bottom',-deviceHeight*0.6);
	}
	
	//显示浮层
	function show_product_details_overfolow(name){
	   $('#product_details_balckbg').fadeIn();
	   $('#'+name).show();
	   $('#'+name).animate({'bottom':0},200);
	}
    
	$('.product_color_div').click(function(){	
	   $(this).parents('.product_details_gg').children('.product_color_select').children('.product_color_div').removeClass('product_selected_div');
	   $(this).addClass('product_selected_div');
	   var optionval = '';
		$(".product_selected_div").each(function(){
			optionval = optionval+$(this).attr('data-specid')+"_";
		});
		optionval = optionval.substring(0,optionval.length-1);
		$.ajax({   
			 url:"{php echo $this->createMobileUrl('getspecprice')}",   
			 type:'post', 
			 data:{
				id:{$goods['id']},
				optionval:optionval,
			 },
			 dataType:'json',
			 success:function(data){   
				if (data.error == 0) {
					$('#product_details_f_price').html('<em>¥</em>'+data.goodsprice);
					$('#messiprice').val(data.goodsprice);
					$('#product_details_f_stock').html('库存'+data.stock+'件');
					if(data.thumb != 0){
						$('.product_details_s_p img').attr('src',data.thumb);
					}
				}
			 }
		});  
	});
	
	function buy(){
		var optionval = '';
		$(".product_selected_div").each(function(){
			optionval = optionval+$(this).attr('data-specid')+"_";
		});
		optionval = optionval.substring(0,optionval.length-1);
		$.ajax({   
			 url:"{php echo $this->createMobileUrl('addcart')}",   
			 type:'post', 
			 data:{
				id:{$goods['id']},
				optionval:optionval,
				buynum:$('#buynum').val(),
			 },
			 dataType:'json',
			 success:function(data){   
				if (data.error == 1) {
					alert(data.message);
				} else {
					var buyurl = "{php echo $this->createMobileUrl('buy')}"+"&optionval="+optionval+"&buynum="+$('#buynum').val()+"&goodsid={$goods['id']}"+'&shareopenid={$shareopenid}';
					window.location.href = buyurl;
				}  
			 }
		});
	}
	
	
	//购买数量
	(function() {
		window.inputNumber = function(el) {
		var min = el.attr('min') || false;
		var max = el.attr('max') || false;
	
		var els = {};
	
		els.dec = el.prev();
		els.inc = el.next();
	
		el.each(function() {
		  init($(this));
		});
	
		function init(el) {
	
		  els.dec.on('click', decrement);
		  els.inc.on('click', increment);
	
		  function decrement() {
			var value = el[0].value;
			value--;
			if(!min || value >= min) {
			  el[0].value = value;
			  $('#product_details_f_price').html('<em>¥</em>'+($('#messiprice').val())*el[0].value);
			}
		  }
	
		  function increment() {
			var value = el[0].value;
			value++;
			if(!max || value <= max) {
			  el[0].value = value++;
			  $('#product_details_f_price').html('<em>¥</em>'+($('#messiprice').val())*el[0].value);
			}
		  }
		}
	  }
	})();
	inputNumber($('.input-number'));
</script>
<script type="text/javascript">
wx.ready(function () {
	sharedata = {
		title: '{$shareres["title"]}',
		desc: '{$shareres["des"]}',
		link: '{$shareres["url"]}',
		imgUrl: '{$shareres["thumb"]}',
		trigger: function (res) {
			//alert('用户点击发送给朋友');
		},
		success: function (res) {
			//alert('已分享');
		},
		cancel: function (res) {
			//alert('已取消');
		},
		fail: function (res) {
			alert("分享失败");
		}
	};
	wx.onMenuShareAppMessage(sharedata);
	wx.onMenuShareTimeline(sharedata);
	wx.onMenuShareQQ(sharedata);
	wx.onMenuShareWeibo(sharedata);
});
</script>
</body>

</html>