<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>物流信息</title>
    <link rel="stylesheet" type="text/css" href="../addons/cy163_goodssales/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../addons/cy163_goodssales/static/css/style.css"/>
	<script src="../addons/cy163_goodssales/static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<style>
	.wuliu .right .you{
		width:100%;
		text-align:center;
	}
	</style>
</head>
<body>
	<header class="top-header fixed-header">
		<a class="icona" href="javascript:history.go(-1)">
			<img src="../addons/cy163_goodssales/static/left.png"/>
		</a>
		<h3>物流信息</h3>	
		<a class="iconb" href="###">
		</a>
	</header>
	
	<div class="contaniner fixed-cont fixed-cont1">
		<section class="go-order">
			<div class="order-shop">
				<ul>
					<li>
						<span>商品总额</span>
						<small>￥{$order['price']}</small>
					</li>
					<li>
						<p>
							下单时间：{php echo date("Y-m-d H:i:s",$order['createtime']);}<br />订单编号：{$order['ordersn']}
						</p>
					</li>
					<li>
						<p>
							快递公司：{$order['express']}<br />快递单号：{$order['expresssn']}
						</p>
					</li>
				</ul>
			</div>
			<div class="wuliu clearfloat">
				{loop $expressres $erow}
				<div class="list clearfloat">
					<div class="left">
						{$erow['time']}
					</div>					
					<div class="right clearfloat">
						<ul>
							<li class="clearfloat">
								<span class="dian"></span>
								<div class="list-line clearfloat">
									<span class="you">
										{$erow['context']}
									</span>
								</div>									
							</li>
						</ul>
					</div>
				</div>
				{/loop}
			</div>
		</section>
	</div>
	<script type="text/javascript">
	$(function(){
		$("li.clearfloat:eq(0)").addClass('active');
	})
	</script>
</body>
</html>