<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>联系管理员开通商户</title>
    <link rel="stylesheet" href="{MD_ROOTN}/messi/css/reset.css"/>
    <link rel="stylesheet" href="{MD_ROOTN}/messi/iconfont/iconfont.css"/>
	<link rel="stylesheet" href="{MD_ROOTN}/jqueryweui/css/weui.min.css"/>
	<link rel="stylesheet" href="{MD_ROOTN}/jqueryweui/css/jquery-weui.min.css"/>
	<link rel="stylesheet" href="{MD_ROOTN}/messi/css/common.css"/>
    <script>
        var deviceWidth = document.documentElement.clientWidth;
        document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
    </script>
	<style>
	.iconfont{height:2rem;padding-top:1rem;color:red;font-size:1.4rem;}
	.text{height:0.6rem;line-height:0.6rem;font-size:0.35rem;color:#333;}
	</style>
</head>

<body style="background:#f5f5f5;">
	<div class="iconfont text-c">&#xe6c3;</div>
	<div class="text text-c">请联系管理员开通商户</div>
<script type="text/javascript" src="{MD_ROOTN}/messi/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{MD_ROOTN}/jqueryweui/js/fastclick.js"></script>
<script type="text/javascript" src="{MD_ROOTN}/jqueryweui/js/jquery-weui.min.js"></script>
<script type="text/javascript">
$(function(){
	FastClick.attach(document.body);
})
</script>
</body>
</html>