@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin: 0;
	padding: 0;
}

body,button,input,select,textarea {
	font: 16px/26px 'Microsoft Yahei','Arial','Helvetica','sans-serif','Simsun';
	color: #333;
}

button,input,textarea {
	-webkit-appearance: none;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

address,cite,dfn,em,var {
	font-style: normal;
}

code,kbd,pre,samp {
	font-family: courier new,courier,monospace;
}

small {
	font-size: 12px;
}

ul,ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #2d374b;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,img {
	border: 0;
}

button,input,select,textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	vertical-align: middle;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

.clearfix,.col-sub,.col-extra {
	*zoom: 1;
}

body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media only screen and (min-width:321px) and (orientation:landscape) {
	a {
		color: black;
		text-decoration: none
	}
}

@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	outline: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

::after,::before {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
}

li {
	list-style: none;
}

input,select,button,img {
	border: none;
	vertical-align: middle;
}

body {
	margin: auto;
	font-family: "Microsoft Yahei",'宋体',arial;
	background: #eeeeee;
	color: #333333;
}

input,select,button,textarea {
	font-family: "Microsoft Yahei",'宋体',arial;
}

.clearfix:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}

.clearfix {
	*zoom: 1;
}

img {
	width: 100%;
	margin: auto;
	display: block;
}

.header .search,.header .my,.nav_bm_bottom a:before,.nav_bm_bottom li span,.filter li:after,.share_fd li i:before,.tabs .more:after,.new_active .title a:after,.contact_info .email a:before,.contact_info .phone a:before,.contact2 dt:before,.slide_tabs .more:after,.info_list .tel,.vit_list .count:before,.vit_list .jiesu,.vit_rank_list .count:before,.signUp a:before,.review_list .zan:before, .review_list .reply_btn:before,.vote_bot_btn a:before,.b_pic .pictures i:before,.b_pic .mobile_photo i:before {
	background: url(bm_icons.png) no-repeat;
	background-size: 150px auto;
}

.header,.nav_bm_bottom,.contact_info {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 45px;
	line-height: 45px;
	background: #fb9031;
	color: #ffffff;
	text-align: center;
	z-index: 999;
}



.header .home,.header .search,.header .daohang,.header .my {
	position: absolute;
	width: 45px;
	height: 45px;
	top: 0;
	left: 15px;
	font-size: 18px;
	overflow: hidden;
}

.header .search,.header .daohang,.header .my {
	left: auto;
	right: 0px;
	text-indent: -999px;
}

.header .home {
	padding-left: 0px;
	margin-top: 8px;
	text-align: left;
	background: url(home.png) no-repeat;
	background-size: 30px 32px;
}

.header .search {
	background-position: -114px -34px;
}

.header .daohang {
	padding-left: 0px;
	margin-top: 10px;
	text-align: left;
	background: url(daohang.png) no-repeat;
	background-size: 25px 25px;
}

.header .my {
	background-position: -86px -132px;
	background-size: 120px auto;
}

.header a {
	display: block;
	color: #ffffff;
}

.o_main {
	zoom: 1;
	overflow: hidden;
}

.header,.nav_bottom {
	height: 45px;
	line-height: 45px;
	background: #fb9032;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	position: relative;
	z-index: 9;
}

.header .my {
	background-position: -40px 13px;
}

.header .ico_ok {
	background-position: -40px -86px;
}

.guess_local {
	background-position: -115px -382px;
	background-color: #fafafa;
	background-size: 140px auto;
	border-bottom: 1px solid #f0f0f0;
	font-size: 0.85em;
	line-height: 40px;
	padding: 0 10px 0 30px;
}

.guess_local dl {
	zoom: 1;
	overflow: hidden;
}

.guess_local dt {
	float: left;
}

.guess_local dt span {
	color: #888;
}

.guess_local dd {
	float: right;
}

.login_inner {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 4;
	padding: 8px 0;
	text-align: center;
	background-color: rgba(0,0,0,.6);
	color: #fff;
}

.login_inner a {
	color: #fff;
}

.nav_APP {
	position: absolute;
	right: 5px;
	left: 5px;
	top: 52px;
	z-index: 99;
	display: none;
}

.nav_APP ul {
	display: table;
	width: 100%;
	border-radius: 4px;
	background: rgba(0,0,0,0.75);
	padding: 7px 0 0;
	text-align: left;
}
.header {
	font-size: 20px;
	position:fixed; top:0; left: 0;
}
.nav_APP ul li {
	display: inline-block;
	width: 25%;
	text-align: center;
	margin: 6px 0;
}

.nav_APP a {
	color: #fff;
	display: block;
	padding-top: 66px;
	font-size: 14px;
	line-height: 18px;
	position: relative;
}

.nav_APP .s {
	display: block;
	position: absolute;
	top: 0;
	left: 40%;
	background-size: 60px auto;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	border-radius: 16px;
	margin-left: -21px;
}

.nav_APP .arrow-up {
	position: absolute;
	top: -6px;
	right: 13px;
	display: block;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #000;
	opacity: .75;
}
/*nav*/
.nav_bm_bottom,.contact_info {
	bottom: 0;
	top: auto;
	height: 50px;
	background: #ffffff;
	border-top: 1px solid #eeeeee;
}

.nav_bm_bottom ul {
	display: -webkit-box;
	display: box;
}

.nav_bm_bottom li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
}

.nav_bm_bottom li span {
	display: block;
	width: 25px;
	height: 24px;
	margin: auto;
	background-size: 100px auto;
}

.nav_bm_bottom li span.home {
	background-position: 2px 0;
}

.nav_bm_bottom li.current span.home {
	background-position: -38px 0;
}

.nav_bm_bottom li span.nearby {
	background-position: 4px -75px;
	background-size: 85px auto;
}

.nav_bm_bottom li.current span.nearby {
	background-position: -31px -75px;
}

.nav_bm_bottom li span.sm {
	background-position: 3px -46px;
	background-size: 80px auto;
}

.nav_bm_bottom li.current span.sm {
	background-position: -28px -46px;
}

.nav_bm_bottom li span.manage {
	background-position: 4px -74px;
	background-size: 85px auto;
}

.nav_bm_bottom li.current span.manage {
	background-position: -30px -74px;
}

.nav_bm_bottom li span.mine {
	background-position: 2px -29px;
}

.nav_bm_bottom li.current span.mine {
	background-position: -38px -29px;
}

.nav_bm_bottom li span.tg {
	background-position: -28px -401px;
	background-size: 80px auto;
}

.nav_bm_bottom li.current span.tg {
	background-position: -59px -401px;
}

.nav_bm_bottom a {
	display: block;
	color: #818187;
	padding-top: 6px;
}

.nav_bm_bottom li.current a {
	color: #ff9b42;
}

.top_gg img {
	width: 100%;
}

.top_gg .close {
	width: 25px;
	height: 25px;
	background: url(close_ico.png) no-repeat 0 0;
	background-size: 25px 25px;
	top: 16px;
	right: 10px;
	text-indent: -999em;
	overflow: hidden;
}

.topbar {
	background-color: #ff6c00;
}

.topbar .logo {
	float: left;
}

.mobile_logo {
	float: left;
	margin: 14px 0 0 6px;
	color: #fff;
	background-color: #c95500;
	padding: 0 8px;
	border-radius: 3px;
}


.nav {
	padding: 5px 5px 10px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #dbdbdb;
}

.nav a {
	float: left;
	width: 20%;
	display: block;
	font-size: 18px;
	text-align: center;
	padding: 2px 0;
	margin: 5px 0;
	color: #2d374b;
}

.nav .select {
	background-color: #ff6c00;
	color: #fff;
	border-radius: 4px;
}

.nav .select:hover {
	color: #fff;
}
/*分类信息*/
.cinfo_menu,.info_list,.zx_list {
	background: #ffffff;
}

.cinfo_menu {
	padding-top: 10px;
	margin-bottom: 5px;
}

.cinfo_menu li {
	float: left;
	width: 25%;
	text-align: center;
	font-size: 14px;
	margin-bottom: 5px;
}

.cinfo_menu li i,.cinfo_menu li span {
	width: 55px;
	height: 55px;
	margin: 0 auto 5px;
	display: block;
	background-size: 55px auto;
	background-repeat: no-repeat;
	background-position: center;
}

.cinfo_menu li i img {
	width: 80%;
	margin-top: 3px;
}

.cinfo_menu a {
	color: #333333;
}

.row5 li {
	width: 20%!important;
}

.job_search {
	padding: 15px 10px;
	margin-bottom: 10px;
	background: #ffffff;
}

.job_search .sbox {
	border: 1px solid #999999;
	position: relative;
	z-index: 1;
}

.job_search input[type='text'] {
	width: 100%;
	height: 36px;
	line-height: 36px;
	padding: 0 0 0 10px;
	font-size: 15px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 none;
	outline: 0;
}

.job_search button {
	position: absolute;
	width: 44px;
	height: 28px;
	text-indent: -999px;
	overflow: hidden;
	background: url(fangda.png) no-repeat;
	background-size: 37px 30px;
	border: 0 none;
	outline: 0;
	border-left: 1px solid #999999;
	top: 5px;
	right: 0;
}

.new_active,.company_info2,.convert_list {
	background: #ffffff;
	margin-bottom: 10px;
}

.new_active .title a {
	color: #333333;
	display: block;
	width: 100%;
}

.new_active .title a:after {
	background-position: right -270px;
	background-size: 120px auto;
	width: 12px;
	height: 40px;
	margin-left: 5px;
	float: right;
}

.n_mb {
	margin: 0;
}
/*before*/
.filter li:after,.share_fd li i:before,.tabs .more:after,.new_active .title a:after,.contact_info .email a:before,.contact_info .phone a:before,.contact2 dt:before,.self_intro .more:after,.user_info2 .address:before,.p_name:before,.slide_tabs .more:after,.vit_list .count:before,.vit_rank_list .count:before,.signUp a:before,.review_list .zan:before, .review_list .reply_btn:before,.vote_bot_btn a:before,.b_pic .pictures i:before,.b_pic .mobile_photo i:before {
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.info_list {
	background: #eeeeee;
}

.info_list li {
	zoom: 1;
	overflow: hidden;
	font-size: 12px;
	padding: 10px;
	position: relative;
	margin-bottom: 6px;
	background: #ffffff;
}

.info_list li:last-child {
}

.info_list .pageNav2 {
	border-top: 1px solid #eeeeee;
	background: #ffffff;
}

.info_list .pic {
	width: 60px;
	overflow: hidden;
	float: left;
	border: 1px solid #eeeeee;
}

.info_list .pic img {
	height: 60px;
}

.info_list .con {
	padding-left: 5px;
	font-size: 12px;
}

.info_list h3 {
	font-size: 16px;
	line-height: 20px;
	color: #333;
	font-weight: normal;
}

.info_list p {
	margin-top: 4px;
	color: #999999;
	line-height: 17px;
}

.info_list .tel {
	width: 50px;
	height: 50px;
	top: 100%;
	right: 10px;
	margin-top: -65px;
	background: url(tel.png) no-repeat;
	position: absolute;
	background-size: 50px auto;
	text-indent: -999px;
	overflow: hidden;
}

.info_list .more,.about_info .more,.vit_list .more,.vit_rank_list .more,.con_wxbox .more,.convert_list .more,.jf_list .more {
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}

.info_list .more a,.about_info .more a,.vit_list .more a,.vit_rank_list .more a,.con_wxbox .more a,.convert_list .more a,.jf_list .more a {
	color: #333333;
}

.info_list .more a:before {
}

.info_list a {
	display: block;
}

.bg_zhiding {
	background: #ff645a;
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	padding: 0 4px;
	margin-left: 5px;
}

.title-box {
	padding: 14px 0 10px 0;
	background: #fff;
	border-bottom: 1px solid #ececec;
}

.title-name {
	border-left: 3px solid #fb9032;
	padding-left: 2%;
	line-height: 1;
	margin-bottom: 1%;
	font-size: 16px;
	color: #666;
	font-weight: normal;
}

.nodata {
	display: none;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #999;
	font-size: 14px
}

.post_btn button{width:160px;height:40px;text-align:center;line-height:40px;color:#ffffff;background:rgba(255,155,66,0.8);font-size:1em;position:fixed;z-index:99;bottom:10px;left:50%;margin-left:-80px;border-radius:30px; outline:0; border:0 none;}
.post_btn button:before{display:inline-block; vertical-align:middle;content:'';width:30px;height:30px;background:url(edit.png) no-repeat;background-size: 30px 30px;padding-right:5px;}
/******************FLASH幻灯片************/
.pogoSlider-dir-btn:focus,.pogoSlider-nav-btn:focus {
	outline: 0
}

.pogoSlider {
	width: 100%;
	height: 0;
	padding-bottom: 48%;
	position: relative;
	overflow: hidden
}

#column-left .pogoSlider,#column-right .pogoSlider,#content .pogoSlider {
	margin-bottom: 20px
}

.pogoSlider-nav {
	position: absolute;
	padding: 0;
	margin: 0;
	z-index: 10
}

.pogoSlider--navBottom .pogoSlider-nav,.pogoSlider--navTop .pogoSlider-nav {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

.pogoSlider--navTop .pogoSlider-nav {
	top: 10px
}

.pogoSlider--navBottom .pogoSlider-nav {
	bottom: 10px
}

.pogoSlider--navBottom .pogoSlider-nav li,.pogoSlider--navTop .pogoSlider-nav li {
	display: inline;
	margin: 0 6px
}

.pogoSlider--navLeft .pogoSlider-nav,.pogoSlider--navRight .pogoSlider-nav {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.pogoSlider--navLeft .pogoSlider-nav {
	left: 10px
}

.pogoSlider--navRight .pogoSlider-nav {
	right: 10px
}

.pogoSlider--navLeft .pogoSlider-nav li,.pogoSlider--navRight .pogoSlider-nav li {
	display: block;
	margin: 6px 0
}

.pogoSlider-nav-btn1 {
	background: #ccc;
	background: rgba(255,255,255,.5);
	border: none;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	cursor: pointer
}

.pogoSlider-nav-btn--selected {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.3)
}
/********************************/

.pogoSlider-slide {
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-perspective: 640px;
	perspective: 640px;
	overflow: hidden
}

.pogoSlider-progressBar {
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	background: rgba(255,255,255,.2);
	z-index: 6
}

.pogoSlider-progressBar-duration {
	position: absolute;
	height: 100%;
	left: 0;
	width: 0;
	background: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	background: rgba(255,255,255,.4)
}

.pogoSlider-animation-leftIn {
	-webkit-animation-name: leftIn;
	animation-name: leftIn;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

@-webkit-keyframes leftIn {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes leftIn {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%)
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

.pogoSlider-animation-leftOut {
	-webkit-animation-name: leftOut;
	animation-name: leftOut;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

@-webkit-keyframes leftOut {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
}

@keyframes leftOut {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
}
.toptop{border-bottom:1px solid #eeeeee;width:100%;margin:0 auto;font-size:18px;line-height:50px;height:40px;text-align:center;color:#fb9031}
.inp_Itembox{background:#ffffff;margin-bottom:10px;}
.inp_Itembox dl{position:relative;min-height:40px;border-bottom:1px solid #eeeeee;font-size:16px;padding:0 10px 0 88px;}
.inp_Itembox dt{ position:absolute; left:7px; top:7px; width:74px;line-height:26px;color:#999999;border-right:1px solid #eeeeee; text-align:center; padding-right:7px;}
.inp_Itembox dd{min-height:26px;line-height:26px;padding:7px 0 7px 15px;}
.inp_Itembox dd.xq { position:relative; z-index:2;}
.inp_Itembox .radioli li { float:left; margin-right:10px;}
.inp_Itembox .radioli input { display:inline; vertical-align:middle; width:auto; margin-right:5px;}

.inp_Itembox .biyeshijian {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; padding-right:0;}
.inp_Itembox .biyeshijian dd {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; position:relative; z-index:1;}
.inp_Itembox dd .txts { position:absolute; right:45px; top:6px; display:block;}
.inp_Itembox dd .qita { border:0 none; outline:0; width:100%;}
.inp_Itembox dd input{height:16px;padding:7px 0 3px;line-height:16px;border:0;font-size:16px;width:100%; vertical-align:top; outline:0;}
.fb,.save,.dl,.reg_btn{color:#ffffff;background:#cccccc;display:block;width:60%;margin:0 auto 20px;font-size:16px;border-radius:50px;height:40px;position:relative; border:0 none; outline:0; cursor:pointer;}
.fb,.save,.dl,.reg_btn{background:#fb9031;width:90%;}
.ui-item {
	margin: 5px 5px 13px
}

.ui-item .item-title {
	background: rgba(0,0,0,.05);
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	height: 42px;
	overflow: hidden;
	padding: 0 15px 0 10px;
	position: relative;
	z-index: 9
}

.ui-item .item-title h3 {
	float: left;
	font-size: 18px;
	font-weight: 400;
	line-height: 41px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%
}


.ui-item .cont-area {
	font-size: 14px;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #d2d2d2;
	border-radius: 0 0 3px 3px;
	line-height: 1.6em;
	margin-top: -1px;
	padding: 12px 10px 10px;
	position: relative;
	word-break: break-all;
	word-wrap: break-word;
	z-index: 8
}

.ui-item .cont-area p {
	margin: 5px
}