@charset "utf-8";

.wx_confirm_close:after{background-image:url(../images/sprites_v2.png);background-repeat:no-repeat;background-size:100px 100px}
.wx_confirm_close:after{content:'\20';display:block}
.wx_confirm_close{width:35px;height:35px;position:absolute;right:0;top:-17px;text-indent:-200px;overflow:hidden;background-color:#fff;border-radius:35px}
.wx_confirm_close:active{background-color:#ccc}
.wx_confirm_close:after{width:25px;height:25px;background-position:-50px 0;margin:5px}
.wx_confirm{position:fixed;left:50%;top:40%;margin-left:-140px;z-index:1200;}
#wx_confirm_float{background: #000;opacity: 0.9;border-radius: 4px;}
#wx_confirm_float .wx_confirm_tit {color: #fff;}
#wx_confirm_float .wx_confirm_hd{border: 0;}
.wx_confirm_inner{background-color:#fff;padding:0 10px;margin:auto;color:#333;width:260px;-webkit-animation:an_wx_confirm .25s ease-in}
.wx_confirm_hd{padding:15px 0;margin-bottom:10px;position:relative; text-align:center; border-bottom: 1px solid #ededed;}
.wx_confirm_tit{line-height:16px;font-size:16px;color:#666}
.wx_confirm_close{width:35px;height:35px;position:absolute;right:0;top:-17px;text-indent:-200px;overflow:hidden;background-color:#fff;border-radius:35px}
.wx_confirm_close:active{background-color:#ccc}
.wx_confirm_close:after{width:25px;height:25px;background-position:-50px 0;margin:5px}
.wx_confirm_bd{padding-bottom:15px}
.wx_confirm_cont{padding:0 0 10px 0}
.wx_confirm_btns{-webkit-box-sizing:border-box;box-sizing:border-box;padding-right:10px}
.wx_confirm_btns:after{clear:both;content:'\20';display:block}
.wx_confirm_btns button{border:0 none;line-height:40px;height:40px;text-align:center;font-size:16px;background-color:#f7ba5b;width:50%;float:left;border-radius: 4px;}
.wx_confirm_btns button[type='submit']{background-color:#F7BA5B;margin-right:-10px;float:right;color:#fff;border-radius: 4px;}
.wx_confirm_btns button[type='cancel']{background-color:#65c3ed;color:#808080;border-radius: 4px;color: #fff;}
.wx_confirm_btns button[type='temporary']{margin-right:-10px;float:right;background-color:#f0efed;color:#808080;}
.wx_mask{background-color:rgba(0,0,0,0.7);position:fixed;top:0;bottom:0;left:0;right:0;z-index:1200;-webkit-animation:an_wx_mask .25s ease-in}
.wx_confirm_btn{ text-align:center;}
.wx_confirm_btn .okbtn{line-height:30px;height:40px;text-align:center;font-size:16px;background-color:#fff;width:50%; border:1px solid #dbdbdb;vertical-align:middle;}
@-webkit-keyframes an_wx_mask{0%{opacity:.8;}100%{opacity:1;}}
@-webkit-keyframes an_wx_confirm{0%{-webkit-transform:scale(1.1);}100%{-webkit-transform:scale(1);}}
.confirm_order{line-height:14px}
.confirm_order p{margin:8px 0; clear:both; overflow:hidden; line-height:22px;}
.confirm_order p em{ width:90px; text-align:right;}
.confirm_order p span{ width:160px;color: #666666;}
.confirm_order p em,.confirm_order p span{float:left; display:block;}
.confirm_order .other{font-size:12px;color:#666}
.confirm_order .price{font-size:16px;color:#f7ba5b}
.wx_confirm_btns a {
  font-size: 16px;
}
