@CHARSET "UTF-8";
/* index bottom */
.bottomBox{ width:100%;}
.msg{background:#ECECEC;border-top:1px solid #CCCCCC; width:100%;z-index: 997; height:40px;padding:5px 0;}
.indexMsg{background:#f8f8f8; border-top:1px solid #e6e6e6; width:100%;z-index: 997; height:50px;box-shadow: 0 1px 0 #F6F8F7;}
.indexMenu{ width:100%;}
.indexMenu a{ float:left; width:33.3%; height:50px;font-size:11px;text-align:center; color:#808080;}
.home-index,.home-index-active,.Order-index,.Order-index-active,.My-index,.My-index-active,.card-index,.card-index-active{line-height:10px;display:inline-block;padding-top:30px;width:100%;font-size:11px; }
.home-index{ background:url("../images/home.png") no-repeat center 5px;background-size:25px 25px; }
.Order-index{background:url("../images/order.png") no-repeat center 5px;background-size:25px 25px; }
.My-index{background:url("../images/Coupons.png") no-repeat center 5px;background-size:25px 25px;}
.card-index{ background:url("../images/card.png") no-repeat center 5px;background-size:25px 25px;}
.home-index-active{background:url("../images/home_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
.Order-index-active{background:url("../images/order_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
.My-index-active{background:url("../images/Coupons_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
.card-index-active{background:url("../images/card_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
body { padding:0 0 50px; }
footer { position: fixed; width:100%; z-index:10;bottom:0; height:50px;}
header,footer,section { width: 100%;-webkit-transition:all .3s;}