@charset "utf-8";
*{margin:0;padding:0;vertical-align:baseline;-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{border:0 none}
i,em{font-style:normal}
ol,ul{list-style:none}
input,img{vertical-align:middle}
input,select{font:inherit;font-size:100%}
a{text-de`coration:none;color:#333}
body{height:100%;background:#f0efed;font-size:14px;font-family:"\5fae\8f6f\96c5\9ed1","Microsoft YaHei",Helvetica,Arial,sans-serif;line-height:1.5;color:#666;-webkit-text-size-adjust:100%}
/*banner*/
.header {
  /*background: rgb(0,164,238);*/
  position: relative;
  top: 0px;
  height: 38px;
  line-height: 38px;
  text-align: right;
  padding: 10px 0;
  padding-bottom: 0;
}
.server-link {
  position: absolute;
  left: 0;
}
.price-link {
  position: absolute;
  right: 0;
}
.header a {
  color: #eee;
  border: 1px solid #eee;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 13px;
  text-decoration: none;
}
.index-title {
  
  line-height: 40px;
  color: #eee;
  text-shadow: 0px 0px 1px #ddd;
  font-size: 1.5em;
  text-align: center;
}
.header a:active {
  box-shadow:0 0 35px 10px rgba(255,255,255,0.5);
}
.swipe{margin:0 auto;overflow:hidden;position:relative;}
.swipe-wrap{overflow:hidden;position:relative;display:-webkit-box;}
.swipe-wrap>div{width:100%;position:relative;overflow:hidden; text-align: center;}

/*.bgboxgo{position:absolute;z-index:999;left:40%;bottom:10%;width:100%;clear:both;}*/
.botton-box{margin:0px auto;padding-top:3px;padding-bottom:3px;width:100%;}
.botton-box span{
 text-indent:-9999px;height:8px;width:8px;-webkit-border-radius:4px;border-radius:4px;display:block;margin-right:10px;cursor:pointer;background:#ffffff;-webkit-opacity:0.6;opacity:0.6; float: left;}
.botton-box span.on{-webkit-opacity:1.0;opacity:1.0;background:#fbb900;}
/* menu-con */
.menu-con{overflow:hidden;width:100%;display: table; background:#ffffff; border-top:1px solid #e6e6e6;}
.menu-con a {display:table-cell;width:33.1%;border-right:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;float:left; text-align:center;color:#999da2; padding:5px 0; }
.menu-con a:nth-of-type(3),.menu-con a:nth-of-type(6),.menu-con a:nth-of-type(12),.menu-con a:nth-of-type(15),.menu-con a:nth-of-type(18),.menu-con a:nth-of-type(21),.menu-con a:nth-of-type(24),.menu-con a:nth-of-type(27),.menu-con a:nth-of-type(30){ border-right:none;}
.menu-con a img{ width:50px; height:50px;}
.menu-con a em{ display:block; margin-top:5px;}
.menu-con a:hover{ background:#f4f4f4;}
/* Explain */
.Explain{ margin:10px 0; background:#fff; padding:10px 10px; }
.Explain a{color:#65c3ed; font-size:16px;}
.Explain a img{ width:50px; height:34px; margin-right:10px; }
/* index bottom */
.bottomBox{ width:100%;}
.msg{background:#ECECEC;border-top:1px solid #CCCCCC; width:100%;z-index: 997; height:40px;padding:5px 0;}
.indexMsg{background:#f8f8f8; border-top:1px solid #e6e6e6; width:100%;z-index: 997; height:50px;}
.indexMenu{ width:100%;}
.indexMenu a{ float:left; width:33.3%; height:50px;font-size:11px;text-align:center; color:#808080;}
.home-index,.home-index-active,.Order-index,.Order-index-active,.My-index,.My-index-active,.card-index,.card-index-active{line-height:10px;display:inline-block;padding-top:30px;width:100%;font-size:11px; }
.home-index{ background:url("../images/home.png") no-repeat center 5px;background-size:25px 25px; }
.Order-index{background:url("../images/order.png") no-repeat center 5px;background-size:25px 25px; }
.My-index{background:url("../images/Coupons.png") no-repeat center 5px;background-size:25px 25px;}
.card-index{ background:url("../images/card.png") no-repeat center 5px;background-size:25px 25px;}
.home-index-active{background:url("../images/home_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
.Order-index-active{background:url("../images/order_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
.My-index-active{background:url("../images/Coupons_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
.card-index-active{background:url("../images/card_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
body { padding:0 0 50px; }
footer { position: fixed; width:100%; z-index:10;bottom:0; height:50px;}
header,footer,section { width: 100%;-webkit-transition:all .3s;}

