@charset "UTF-8";/* CSS Document */
html,body{width:100%;height:100%;-webkit-user-select:none;user-select:none;}
.bg-w{background-size:100% auto;}
.box-v{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100%;height:100%;-webkit-box-sizing:border-box;box-sizing:border-box;}
.boxflexr{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;position:relative;}
.boxflexr .iscroll-wrap{width:100%;-webkit-transform:translateZ(0);transform:translateZ(0);}
#footer_points {clear: both;height: 60px;}
.bar-draw{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:50px;line-height:50px;background-color:#f8f8f8;border-top:1px #d0d0d0 solid;;overflow:hidden;bottom: 0;margin: 0 auto;position: fixed;width: 100%;z-index: 1000;}
.bar-draw .l{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:40px;border-right:1px solid #444;}
.bar-draw .m{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;border-left:1px solid #606060;color:#65c3ed;font-size:1.07142em;text-align:center;}
.bar-draw .btn-draw{-webkit-box-flex:2;-webkit-flex:2;-ms-flex:2;flex:2;display:block;padding:0 20px;color:#FFF;font-size:1.125rem;font-weight:bold;text-align:center;margin:5px 5px;}
.bar-draw .my{width:50px;text-align:center; height: 60px;position: relative;}
.bar-draw .my a {height: 50px;text-align: center;display:block;}
.bar-draw .my span.my-index {background:url("../images/my-move.png") no-repeat center 8px;background-size:24px 24px;}
.bar-draw .my span.my-index {display: inline-block;height: 25px;line-height: 14px;padding-top: 32px;font-size: 11px;}
.bar-draw .Red{background:#f7ba5b;border:1px solid #f7ba5b;}
.bar-draw .Ash{background:#818181;border:1px solid #818181;}
.index .bar-draw .l{display:none;}
.index .bar-draw .m{border:0 none;}
.money{ color:#65c3ed; font-size:1.5em;}

.bar-draw-two{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:50px;line-height:50px;background-color:#f8f8f8;border-top:1px #d0d0d0 solid;;overflow:hidden;bottom: 0;margin: 0 auto;position: fixed;width: 100%;z-index: 1000;}
.bar-draw-two .btn-draw{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:block;padding:0 20px;color:#FFF;font-size:1.125rem;font-weight:bold;text-align:center;margin:5px 5px;}
.bar-draw-two .my{width:50px;text-align:center;text-align:center; height: 60px;position: relative;}
.bar-draw-two .my a {height: 50px;text-align: center;display:block;}
.bar-draw-two .my span.my-index {background:url("../images/my-move.png") no-repeat center 8px;background-size:24px 24px;font-size: 13px;}
.bar-draw-two .my span.my-index {display: inline-block;font-size: 13px;height: 25px;line-height: 14px;padding-top: 32px;}
.bar-draw-two .Red{background:#f7ba5b;border:1px solid #f7ba5b;}
.bar-draw-two .Ash{background:#818181;border:1px solid #818181;}

.page_item{background-color:#f1f1f1;}
.page_item .item_main1{background:#fff;border-bottom:1px #d0d0d0 solid;}
.page_item .goods_img{background-color:#fff;border-bottom:1px #d0d0d0 solid;}
.page_item .mod_img{border-bottom:1px #fff solid;}
.page_item .mod_img img{width:640px;margin:0 auto;overflow:hidden;display:block;}
@media all and (max-width:600px) {.page_item .mod_img{width:100%;overflow:hidden}.page_item .mod_img img{width:100%;}}
.page_item .goods_info{margin:10px 0 10px 5.3125%;}
.page_item .goods_price .price_now,.page_item .goods_price .price_promo{overflow:hidden;height:22px;line-height:22px}
.page_item .goods_price .price_wrap  span{display:inline-block; margin-right:2px;}
.page_item .goods_price .price_wrap .title{margin-right:5px}
.page_item .goods_price .price_wrap .tml{margin-left:20px}
.page_item .goods_price .price_wrap .price{margin-right:5px;color:#f7ba5b}
.page_item .goods_price .price_wrap .Remarks{margin-right:0;color:#a0a0a0; font-size:13px;}
.page_item .goods_wrap{ overflow:hidden;}
.page_item .goods_wrap span{display:inline-block;margin-right:2px; }
.page_item .goods_wrap .title{margin-right:5px;}
.page_item .goods_wrap .text-red{color:#c73d00; font-size:13px;}

.page_item .goods_item{font-size:1.07142em}
.page_item .goods_item .title{float:left;margin-right:15px;line-height:35px}
.page_item .goods_quantity{overflow:hidden;margin:0 0 10px 5.3125%; padding-bottom:10px;}
.page_item .goods_quantity .act_wrap,.page_item .goods_quantity .act_wrap .result{float:left}
.page_item .goods_quantity .act_wrap{margin-right:15px;min-width:129px;height:35px;border:1px #dddddd solid;background-color:#F9F9F9}
.page_item .goods_quantity .act_wrap .add{float:left;position:relative;width:33px;height:33px;border:1px #fff solid;background-color:#000;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;background:#ededed;background:-webkit-gradient(linear,top,bottom,from(#fefefe),to(#ededed));background:-webkit-linear-gradient(top,#fefefe,#ededed);background:-moz-linear-gradient(top,#fefefe,#ededed);background:-ms-linear-gradient(top,#fefefe,#ededed);background:-o-linear-gradient(top,#fefefe,#ededed)}
.page_item .goods_quantity .act_wrap a:hover,.page_item .goods_quantity .act_wrap a.hover{background:-webkit-gradient(linear,top,bottom,from(#ededed),to(#fefefe));background:-webkit-linear-gradient(top,#ededed,#fefefe);background:-moz-linear-gradient(top,#ededed,#fefefe);background:-ms-linear-gradient(top,#ededed,#fefefe);background:-o-linear-gradient(top,#ededed,#fefefe)}
.page_item .goods_quantity .act_wrap .reduce{-webkit-border-radius:0;border-radius:0;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}
.page_item .goods_quantity .act_wrap .btn_hover{background:#F3F3F3;background:-webkit-gradient(linear,left top,left bottom,from(#E9E9E9),to(#FBFBFB));background:-webkit-linear-gradient(top,#E9E9E9,#FBFBFB);background:-moz-linear-gradient(top,#E9E9E9,#FBFBFB);background:-ms-linear-gradient(top,#E9E9E9,#FBFBFB);background:-o-linear-gradient(top,#E9E9E9,#FBFBFB)}
.page_item .goods_quantity .act_wrap .add:before,.page_item .goods_quantity .act_wrap .reduce:after{content:'';position:absolute;top:15px;left:11px;display:block;width:11px;height:2px;background-color:#444}
.page_item .goods_quantity .act_wrap .reduce:before{left:11px;width:12pxï¼›}
.page_item .goods_quantity .act_wrap .reduce:after{left:11px;width:12px;-webkit-transform:rotateZ(90deg)}
.page_item .goods_quantity .act_wrap .btn_disabled{border:1px #eee solid;background:#eee}
.page_item .goods_quantity .act_wrap .btn_disabled:before,.page_item .goods_quantity .act_wrap .btn_disabled:after{}
.page_item .goods_quantity .num{float:left;width:57px;height:35px;text-align:center;font-size:1em;border:1px #DCDCDC solid;-webkit-appearance:none;-webkit-border-radius:0;border-top:none;border-bottom:none}

.page_item .goods_details{background:#fff;}
.page_item .goods_details h2{background:#fff;border-top:1px solid #d0d0d0;border-bottom:1px solid #eee;text-align:center; color:#65c3ed; height:40px; line-height:40px; font-size:18px; font-weight:normal; padding:0 5.3125% 0}
.page_item .goods_details .goods_details_text img{display:block;margin:auto;max-width:100%;min-height:165px}
.page_item .goods_details .goods_details_text,.page_item .goods_details .goods_details_promote{ padding:10px 5.3125%;}
.page_item .goods_details .goods_details_text p{ padding:5px 0;}
.page_item .goods_details .goods_promote_titel{ color:#C73D00; margin-bottom:10px;}
/* General styles for all menus */
.cbp-spmenu{ position: fixed;width:100%;height:50px;z-index:1000;}
.cbp-spmenu-horizontal{background:#fff;border-bottom:1px solid #e6e6e6;border-top:1px solid #d0d0d0;width:100%;height:50px;left:0;z-index:1000;overflow:hidden;}
.cbp-spmenu-horizontal a{display:block;color:#fff;font-size:1.1em;font-weight:300; float:left; width:25%; height:50px; text-align:center; color:#808080;}
.cbp-spmenu-bottom{bottom:-50px;}
.cbp-spmenu-bottom.cbp-spmenu-open{bottom:50px;}
.ibx-uc-utool-cover{ position:absolute;top:51px;right:18px; background:url("../images/ab.png") no-repeat; width:12px; height:6px;}
.home-index,.home-index-active,.Order-index,.Order-index-active,.My-index,.My-index-active,.card-index,.card-index-active{line-height:10px;display:inline-block;padding-top:30px; font-size:13px;}
.home-index{ background:url("../images/home.png") no-repeat center 5px;background-size:25px 25px; }
.Order-index{background:url("../images/order.png") no-repeat center 5px;background-size:25px 25px; }
.My-index{background:url("../images/Coupons.png") no-repeat center 5px;background-size:25px 25px;}
.card-index{ background:url("../images/card.png") no-repeat center 5px;background-size:25px 25px;}
.home-index-active{background:url("../images/home_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
.Order-index-active{background:url("../images/order_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
.My-index-active{background:url("../images/Coupons_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}
.card-index-active{background:url("../images/card_press.png") no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}

