@charset "UTF-8";
/* CSS Document */
.selectBox{position:relative;line-height:33px;-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;flex:1;display:-moz-box;display:-webkit-box;display:-o-box;display:box;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;box-align:center;height:33px;width:213px;float:right;}
.selectBox select{width:100%; text-indent: 16px;height:100%;position:absolute;top:0;left:0;-webkit-appearance:none;border:1px solid #C0BFBF;background:#fff}
.Selected{text-indent: 16px;display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-pack:start;-moz-box-pack:start;-o-box-pack:start;box-pack:start;-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;flex:1;}
.selectBox:after{background:url("detail_v1_2-1.png"/*tpa=http://assets6-edaixi.qiniudn.com/1417068003/source/modules/washing/style/images/detail_v1_2.png*/) no-repeat;background-size: 100px 170px;background-position: -60px -35px;content:'';position:absolute;height: 20px; width: 20px;top:45%;margin-top:-8px;right:7px}
.selectBox:before{content:'';width:35px;height:33px;position:absolute;border-left:1px solid #dedede;right:0;top:0;background:#eee;}
.section_1{ background:#fff;}
section{display: block;padding-top:8px;position: relative;width: 100%;z-index: 1; background: #fff}
.section_2{ background:#f1f1f1 url("section-2-1.png"/*tpa=http://assets6-edaixi.qiniudn.com/1417068003/source/modules/washing/style/images/section-2.png*/) no-repeat 0 0;-webkit-background-size:100%;background-size:contain}
.m_input_2 ul li,.section_3 table tbody tr:nth-last-child(1) td,.section_3 table tbody tr:nth-last-child(1) th{border-bottom:1px #fff solid;-webkit-box-shadow:0 -1px 0 #e5e5e5 inset}
.m_input:after,.m_input_2 li .gift ul:after{clear:both;content:".";display:block;height:0;overflow:hidden;visibility:hidden;}
.m_input{padding:0 2.3125% 5px 2.3125%;}
.m_input .titel{ color:#f82328; width:100%;float:right;position:relative;min-height:18px}
.m_input .titel:after,.m_input .titel:after{content:'';position:absolute;width:10px;height:10px;top:45%;border-color:#666;border-style:solid;border-width:0 1px 1px 0}
.m_input .titel:after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);margin-top:-5px;right:15px}
.m_input .label,.m_input label{float:left;text-align:left;}
.m_input label{line-height:35px}
.m_input .input,.m_input .select{width:213px;float:right;position:relative}
.m_input .input{min-height:18px}
.m_input .input .empty{height:36px;line-height:36px;min-height:36px}
.m_input .input p{min-height:14px;line-height:15px}
.m_input .input p .name{margin-right:16px}
.m_input .input p.ticketdel,.m_input .input p.address{margin-top:8px;font-size:.85714em;line-height:13px;color:#999}
.m_input .input p.address{height:auto;min-height:14px;padding-right:25px;font-size:.92857em}
.m_input .input:after{background:url("detail_v1_2-1.png"/*tpa=http://assets6-edaixi.qiniudn.com/1417068003/source/modules/washing/style/images/detail_v1_2.png*/) no-repeat;background-size: 100px 170px;}
.m_input .input:after{content:'';position:absolute;top:45%;background-position: -80px -35px;height: 20px; width: 20px;margin-top:-5px;right:0;}
.m_input .select:after{background:url("detail_v1_2-1.png"/*tpa=http://assets6-edaixi.qiniudn.com/1417068003/source/modules/washing/style/images/detail_v1_2.png*/) no-repeat;background-size: 100px 170px;background-position: -60px -35px;content:'';position:absolute;height: 20px; width: 20px;top:45%;margin-top:-8px;right:7px}
.m_input_1 .selected:after,.m_cha .selected:after,.m_input_3 .selected:after{content:'';position:absolute;width:10px;height:10px;top:45%;border-color:#666;border-style:solid;border-width:0 1px 1px 0}
.m_input .select:before{content:'';width:35px;height:33px;position:absolute;border:1px solid #dadada;right:0;top:0;-webkit-box-shadow:0 0 1px 1px #fff inset;background:#eee;}
.m_input .select.hover:before,.m_input .select:hover:before{background:#eee;}
.m_input .select{background:#fff;overflow:hidden}
.m_input .select select{width:100%;width:110%\9;height:35px;padding-right:40px;color:#444;line-height:31px;border:1px solid #dadada;-webkit-appearance:none;text-indent:16px;font-size:.928571em;position:relative;z-index:2;background:none}
@-moz-document url-prefix(){.m_input .select select{width:110%}
}
.m_input .select select option{display:block;line-height:35px;width:213px;height:35px}
.m_input .input_noarrow:after,.m_input .input_noquan:after{border:none}
.m_input .input_noquan{text-align:right}
.m_input .input p.ticket{padding-right:20px}
.m_input p span.pr{float:right;margin-right:32px;color:#c73d00;line-height:16px;font-weight:bold;font-family:"Verdana Bold"}
.m_input .input_quannum{text-align:right;padding-right:32px}
.m_input textarea{width:96%;height:17px;padding:9px 2%;resize:none;font-size:14px;border:1px solid #dadada;-webkit-appearance:none;-webkit-border-radius:0;color:#444}
.m_input_1 .label,.m_input_2 .label{height:23px;float:none}
.m_input_1 p{color:#999;font-size:.928571em}
.m_input_1 .checkbox,.m_cha .checkbox{appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;display:inline-block;width:35px;height:35px;margin-top:-17px;float:right;border:1px solid #dadada;background:#fff;border-radius:3px;position:relative}
.m_cha .checkbox{width:23px;height:23px;margin:5px 20px 0 0}
.m_input_1 .selected:after,.m_cha .selected:after{width:.3rem;height:11px;border-width:0 2px 2px 0;border-color:#444;border-style:solid;transform:rotate(45deg);-webkit-transform:rotate(45deg);left:43%;top:28%}
.m_cha .selected:after{height:.6rem;top:13%;left:36%}
.m_input_1 input[type=tel]{display:inline-block;position:relative;z-index:0;-webkit-appearance:none;font-size:1em;font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";color:#444;border:1px #dadada solid;border-radius:4px;line-height:18px;padding:4px 9px;width:36px;text-align:center;margin:8px 6px 0}
.m_input_1 input[type=tel]:focus{border:0;border:1px #dadada solid}
.m_input_1 .intem-1{color:#c73d00}
.mod_remark .m_input{line-height:0}
.notice{display:none;position:absolute;z-index:20;top:50%;left:50%;margin:-40px 0 0 -125px;background:none;width:250px;padding:0}
.notice p{position:relative;z-index:9;width:156px;margin:25px auto 0;color:#fff;font-size:.85714em;line-height:15px}
.notice i{position:absolute;top:0;left:0;z-index:1;display:block;width:100%;height:100%;background:#000;opacity:.7;border-radius:4px}
.notice .confirm{display:block;width:70px;height:38px;margin:15px 47px 15px 0;float:right;background:#000;border-radius:3px;color:#fff;text-align:center;line-height:38px;position:relative;z-index:9}
.m_cha p{width:204px}
.m_cha .notice{display:block}
.m_cha .confirm{margin-right:23px}
.m_input_2 ul{width:93.75%;padding:3% 3.125% 3.125%;border:1px solid #dadada;border-radius:4px;-webkit-box-shadow:0 1px 2px #fff,1px 0 2px #fff}
.m_input_2 ul:last-child{margin-top:10px}
.m_input_2 ul:nth-of-type(1){margin-top:0}
.m_input_2 ul li{padding:9px 0}
.m_input_2 li .gift ul li,.m_input_2 ul li:nth-last-child(1){border:none;-webkit-box-shadow:none;padding-bottom:0}
.m_input_2 li .imgbox{display:block;width:44px;height:44px;padding:3px;border:1px solid #dadada;border-radius:4px;float:left;margin-right:7px;background-color:#fff}
.m_input_2 li .imgbox img{width:100%;height:100%}
.m_input_2 li .gname{height:28px;font-size:.85714em;line-height:14px;overflow:hidden}
.m_input_2 li .info{height:28px;font-size:.85714em;line-height:40px;overflow:hidden;text-align:right}
.m_input_2 li .info .gprice{margin-left:9px;color:#c73d00}
.m_input_2 li .gift ul li{padding-top:0}
.m_input_2 li .gift{margin-left:57px;padding-left:2px}
.m_input_2 li .gift p{line-height:27px;text-align:left;font-size:.85714em}
.m_input_2 li .gift ul{border:0;padding:0;-webkit-box-shadow:none}
.m_input_2 li .gift ul li{float:left}
.section_3 .m_input{position:relative;padding-bottom:0}
.section_3 .m_input table{width:100%;padding:5px 7% 7px 7%;border:1px solid #dadada;border-radius:4px;line-height:27px;font-size:.85714em;border-radius:4px;-webkit-box-shadow:0 1px 2px #fff,1px 0 2px #fff}
.section_3 table th{text-align:left}
.section_3 table td{text-align:right}
.section_3 table tbody tr:last-child th,.section_3 table tbody tr:last-child td{padding-bottom:8px}
.section_3 table tfoot{padding-top:2px}
.section_3 table tfoot th{font-size:1.25em}
.section_3 table tfoot td{font-weight:bold;font-size:1.75em;color:#bf2800}
.section_3 .m_input table:after{content:'';position:absolute;width:18px;height:18px;-webkit-transform:rotate(-135deg);top:-9px;left:13%;border-style:solid;border-width:0 1px 1px 0;border-color:#dadada;background:#f1f1f1}
.m_input .btn_order{display:block;width:100%;height:40px;margin-left:-1px;line-height:40px;color:#fff;text-align:center;font-weight:500;font-size:1.1428em;border:0;background:#F7BA5B;border-radius: 4px;}
.m_input .btn_Preservation{display:block;width:100%;height:43px;margin-left:-1px;line-height:43px;color:#fff;text-align:center;font-weight:bold;font-size:1.1428em;background:#13A936;border:1px solid #13A936;}

.m_input .btn_order:hover,.m_input .btn_order.hover{background:#F7BA5B;}
.m_input a.btn_order_1{float:left;width:64%}
.m_input a.btn_del{float:right;display:block;width:30%;height:43px;line-height:43px;color:#444;text-align:center;font-weight:bold;font-size:1.1428em;-webkit-text-shadow:#ad5e00 0 -1px 0;border:1px solid #dadada;border-radius:4px;-webkit-box-show:1px -1px #fff inset;-webkit-box-shadow:0 0 1px 1px #fff inset;background:#ededed;background:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ededed));background:-ms-linear-gradient(top,#fff,#ededed);background:-moz-linear-gradient(top,#fff,#ededed);background:-o-linear-gradient(top,#fff,#ededed)}
.m_input a.btn_del:hover,.m_input a.btn_del.hover{background:-webkit-gradient(linear,0 0,0 100%,from(#ededed),to(#fff));background:-ms-linear-gradient(top,#ededed,#fff);background:-moz-linear-gradient(top,#ededed,#fff);background:-o-linear-gradient(top,#ededed,#fff)}
.m_input_3{padding-bottom:10px}
.m_input_3 .input{position:relative;float:left;width:202px;padding:10px 20px;border:1px solid #e5e5e5;border-radius:4px;box-shadow:0 1px 1px 0 rgba(255,255,255,.7)}
.m_input_3 .input:after{display:none}
.m_input_3 .active{border-color:#444;box-shadow:none}
.m_input_3 .active:after,.m_input_3 .active:before{content:'';position:absolute}
.m_input_3 .active:before{width:14px;height:14px;background:#444;border-radius:4px 0;bottom:-1px;right:-1px}
.m_input_3 .active:after{display:block;width:4px;height:7px;border-color:#fff;-webkit-transform:rotate(45deg);border-style:solid;border-width:0 2px 2px 0;top:auto;bottom:3px;right:3px;z-index:2}
.m_input_3 .person{font-size:1.0714em;color:#4c4c4c}
.m_input_3 .checkbox{position:absolute;left:0;top:0;margin:0}
.m_input_3 .selected:after{width:4px;height:10px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);-moz-transform:rotate(45deg);margin-top:-7px;right:14px;border-width:0 3px 3px 0}
.choose_fa{border-bottom:none;-webkit-box-shadow:none}
.m_input_4 .select select{color:#999;font-size:1.07142em}
.m_input_4 .input:after{display:none}
.m_input_4 textarea{margin-bottom:0;width:191px;height:60px;padding:8px 10px;font-size:1.07142em;-webkit-appearance:none;-webkit-border-radius:0;}
.section_5{padding-top:0}
.m_input_5 .input input{width:195px;border:1px solid #dadada;font-size:1.07142em;color:#444;padding:8px 0 9px 16px;margin:0;-webkit-appearance:none;-webkit-border-radius:0;color:#444}
.m_input_5 .input:after{display:none}
.section_10{z-index:10}
.m_input_6{padding-bottom:0}
.m_input_6 p:first-child{display:block;height:35px;border:1px solid #dadada;box-shadow:0 1px 1px 0 #fff;border-radius:4px;background:#fff;overflow:hidden;position:relative;position:relative;z-index:9}
.m_input_6 input{-webkit-appearance:none;color:#444;font-size:.85714em;border:0;height:100%;margin-left:8px;width:100%;position:relative;z-index:0}
.m_input_6 a{position:absolute;z-index:9;display:block;font-size:1.0714em;line-height:35px;right:0;top:0;width:88px;height:100%;text-align:center;border-left:1px solid #dadada;background:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ededed));background:-ms-linear-gradient(top,#fff,#ededed);background:-moz-linear-gradient(top,#fff,#ededed);background:-o-linear-gradient(top,#fff,#ededed)}
.m_input_6 a.active,.m_input_6 a:hover{background:-webkit-gradient(linear,0 0,0 100%,from(#ededed),to(#fff));background:-ms-linear-gradient(top,#ededed,#fff);background:-moz-linear-gradient(top,#ededed,#fff);background:-o-linear-gradient(top,#ededed,#fff)}
.m_input_7 h2{font-size:1.0714em;color:#666;margin-bottom:6px;font-weight:normal}
.m_input_7 h2 span{color:#999}
.m_input_7 li{padding:14px 25px 7px;background:#f9f9f9;border:1px #e5e5e5 solid;border-radius:4px;margin-bottom:6px;box-shadow:0 1px 1px 0 #fff}
.m_input_7 .pr{height:24px;line-height:24px;font-size:1.71428em;font-weight:bold;color:#c73d00;margin-bottom:7px;overflow:hidden}
.m_input_7 .proff{font-size:.85714em;color:#666;line-height:12px;margin-bottom:7px}
.m_input_7 .dead{font-size:.71428em;color:#999;line-height:10px}
.m_input_7 .active{position:relative;border-color:#444;box-shadow:none}
.m_input_7 .active:before,.m_input_7 .active:after{content:'';position:absolute}
.m_input_7 .active:after{width:14px;height:14px;background:#444;border-radius:4px 0;bottom:-1px;right:-1px}
.m_input_7 .active:before{width:4px;height:7px;-webkit-transform:rotate(45deg);border-color:#fff;border-style:solid;border-width:0 2px 2px 0;bottom:3px;right:3px;z-index:2}
.m_input_7 .unactive p{color:#666}
.m_input:after,.m_input_2 li .gift ul:after{clear:both;content:'.';display:block;height:0;visibility:hidden;overflow:hidden}
.m_input p span.pr,.section_3 table td,.m_input_2 li .info .gprice,.m_input_7 .pr{font-family:"Heiti SC"}
@media(min-width:768px){.m_input_3{width:40%;float:left;height:75px}
.m_input_7 li{width:33.1%;margin-right:3.125%;float:left;padding:14px 7% 7px}
.m_input_7 li .proff{height:48px;line-height:16px}
.m_input_7 li:nth-child(2n){margin-right:0}
}
.page_myaddress{padding-bottom:40px}
.page_myaddress section{overflow:hidden}
.page_myaddress .m_input .input p.address{padding-right:0}
.m_cha span{font-size:15px;float:right;color:#007af8;line-height:35px}
#CssGaga{content:"131022151205,clu,294"}

.white-bg {
  background: #fff;
}
.headerPlace {
  background: rgb(0,164,238);
  
  
}
.order-place {
  padding: 0 10px;
}
.order-place span {
  padding-right: 20px;
}
.order-place-table {
  width: 100%;
  /*padding: 0 10px;*/
  /*margin-bottom: 10px;*/
  /*padding: 0 1.3125% 5px 1.3125%;*/
  background: #fff;
}
.order-place-table tr td  {
  position: relative;
  padding: 10px 0 10px 10px;
  border-bottom: 1px dashed #ddd;
  color: #666;
  font-size: 14px;
  /*background: #35b6ff;*/
}

.order-place-table tr.address_sel td {
  background: #f3f3f3;
}

.ump-coupon-item b {
  position: absolute;
  
  top: 16px;
  left: 9px;
  border-radius: 100%;
  background-clip: border-box;
  

}
.ump-coupon-item b label {
  cursor: pointer;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: -2px;
  background: #f1f1f1;
  border:1px solid #eee;

  border-radius: 100%;
}

.ump-coupon-item b input[type=radio]:checked + label {
  background: #65c3ed;
  padding: 1px;
  border: 0;
}
.delete-btn {
  color: rgb(215, 76, 76) !important;
  font-weight: normal;
  font-size: 13px;
  padding-left: 6px;
  padding-right: 10px;
}

.no-order-list {
  padding: 10px;
  background: #fff;
  text-align: center;
  color: #666;
  line-height: 24px;
  color: #65c3ed;
  font-size: 14px;
}
table {
  width: 100%;
}
.no-order-list img{
  
  height: 60px;
  margin-top: 20px;
}
.wx_confirm_tit {
  font-size: 16px;
}
.wx_confirm_btn .okbtn {
  /*width: 100%;*/
  float: left;
  /*border: 1px solid #dbdbdb;*/
  margin-bottom: 10px;
  margin: 0 5px;
  width: 46%;
}
.wx_confirm_inner {
  height: 107px;
}
.blue-btn {
  background: #F7BA5B !important;
  color: #fff;
}
