html {
  background: rgb(0,180,255);
}
body {
  height: 100%;
  -webkit-user-select:none;
  
}

@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */

  .container {
    padding-bottom: 101px !important;
  }

}
.header-nav {
  /*background: rgb(0,164,238);*/
  position: relative;
  top: 0px;
  text-align: right;
  padding: 10px 0;
  padding-bottom: 0;
}
.header-nav a {
  color: #eee;
  border: 1px solid #eee;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 13px;
  text-decoration: none;
}
.container-box {
  zoom: 90%;
}
.indextitle a{
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}

table {
  margin: 0 auto;
}
.container {
  background: rgb(0,180,255);
  margin: 0 auto;
  /*width: 420px;*/
  text-align: center;
  height: 100%;
  padding: 0 5%;
}
.first-round em {
  border-radius: 100%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  border: 1px solid #fff;
  position: absolute;
  display: block;
  z-index: 1;
  
  background:-webkit-gradient(linear, left top, left bottom, from(#00a4ee), to(#00a4ee));
  background:-webkit-linear-gradient(left top, left bottom, from(#00a4ee), to(#00a4ee));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a4ee', endColorstr='#00a4ee');
  font-style: normal;
  font-size: 11px;
}
.first-round em.first-step {
 -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translate(45px, 0px) translate(-50px, 35px) translateY(30px);
  -moz-transform: translate(45px, 0px) translate(-50px, 35px) translateY(30px);
  -o-transform: translate(45px, 0px) translate(-50px, 35px) translateY(30px);
  -ms-transform: translate(45px, 0px) translate(-50px, 35px) translateY(30px);
  transform: translate(45px, 0px) translate(-50px, 35px) translateY(30px);
  translate(100px,200px);
}
.first-round em.two-step {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translate(330px, 0px) translate(-50px, 35px) translateY(30px);
  -moz-transform: translate(330px, 0px) translate(-50px, 35px) translateY(30px);
  -o-transform: translate(330px, 0px) translate(-50px, 35px) translateY(30px);
  -ms-transform: translate(330px, 0px) translate(-50px, 35px) translateY(30px);
  transform: translate(330px, 0px) translate(-50px, 35px) translateY(30px);
}
.first-round em.three-step {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translate(190px, 230px) translate(-50px, 35px) translateY(30px);
  -moz-transform: translate(190px, 230px) translate(-50px, 35px) translateY(30px);
  -o-transform: translate(190px, 230px) translate(-50px, 35px) translateY(30px);
  -ms-transform: translate(190px, 230px) translate(-50px, 35px) translateY(30px);
  transform: translate(190px, 230px) translate(-50px, 35px) translateY(30px);
}
.first-round {
  
  border-radius: 100%;
  border: 1px solid #fff;
  transform-origin:center;
  margin: 0 auto;
  padding: 12px;
  position: relative;
  
}
.two-round {
  /*background: rgb(0,128,223);*/
  width: 290px;
  height: 290px;
  border-radius: 100%;
  position: relative;
  border: 1px solid rgb(0,112,206);
  background:-webkit-gradient(linear, left top, left bottom, from(#0080df), to(#0080df));
  background:-webkit-linear-gradient(left top, left bottom, from(#0080df), to(#0080df));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0080df', endColorstr='#0080df');
}
.xiadan-link {
  color: rgb(0,133,213) !important;
  text-decoration: none;
  font-size: 2.1em;

}
.inside-round {  
  width: 170px;
  height: 170px;
  position: absolute;
  /*overflow: hidden;*/
  line-height: 170px;
  border-radius: 100%;

  position: absolute;
  top: 70px;
  
  border-left: 3px solid rgb(255,0,212);
  border-right: 3px solid rgb(255,0,212);
  left: 70px;
  -moz-box-shadow:0px 0px 11px rgb(0,117,213) inset;              
  -webkit-box-shadow:0px 0px 11px rgb(0,117,213) inset;           
  box-shadow:0px 0px 11px rgb(0,117,213) inset; 
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#cbeafd));
  background:-moz-linear-gradient( 0 0, 0 100%, from(#fff), to(#cbeafd));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbeafd');
}
.quekou-border {
  background: rgb(255,0,212);
  width: 3.3px;
  height: 3.3px;
  border-radius: 100%;
  z-index: 111;
  position: absolute;
  /*right: 70px;
  top: 156px;*/

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translate(219.9px, -149.8px) translate(-49.9px, 35.1px) translateY(30px);
  
  transform: translate(219.9px, -149.8px) translate(-49.9px, 35.1px) translateY(30px);
}
.inside-round:active,.inside-round:after {
  background:-webkit-gradient(linear, left top, left bottom, from(#cbeafd), to(#fff));
  
  background:-webkit-linear-gradient(left top, left bottom, from(#cbeafd), to(#fff));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbeafd', endColorstr='#ffffff');
  box-shadow:0 0 35px 5px rgba(255,255,255,0.5);
  
}
.border1 {
  border: 1px solid rgb(0,112,206);
  position: absolute;
  left: 150px;
  top: 0px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.border2 {
  border: 1px solid rgb(0,112,206);
  position: absolute;
  right: 43px;
  bottom: 67px;
  height: 60px;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.border3 {
  border: 1px solid rgb(0,112,206);
  position: absolute;
  left: 44px;
  bottom: 65px;
  height: 60px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
.hujiao-xiadan {
  color: #fff;
  font-size: 20px;
  position: absolute;
  left: -4px;
  top: 86px;
  -webkit-transform: rotate(290deg);
  -moz-transform: rotate(290deg);
  -ms-transform: rotate(290deg);
  -o-transform: rotate(290deg);
  transform: rotate(290deg);
}
.zhuanye-qingxi {
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: -4px;
  top: 86px;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -ms-transform: rotate(70deg);
  -o-transform: rotate(70deg);
  transform: rotate(70deg);
}

.guajian-songhui {
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 98px;
  bottom: 18px;
}
#landscape {display:none}
