@charset "UTF-8";
/*  */
.channel-nav{display:block;line-height:28px;background-color:#f8f8f8;padding:10px 10px;text-align:center;border-bottom: 1px solid #D0D0D0;}
.channel-nav ul{display:block;margin:0;padding:0;line-height:28px;display:box;display:-webkit-box}
.channel-nav ul>li{padding:0 0 1px;height:30px;-webkit-box-flex:1;box-flex:1;position:relative;overflow:hidden;width:300px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.channel-nav ul>li a{line-height:28px;color:#65c3ed;font-size:14px;text-align:center;border:#65c3ed 1px solid;border-right:0;overflow:hidden;display:block;position:relative;background:#fff;-webkit-transition:all linear 0.2s;-moz-transition:all linear 0.2s;transition:all linear 0.2s}
.channel-nav ul>li:hover>a,.channel-nav ul>li:active>a{background:#b9e6fa;color:#65c3ed}
.channel-nav ul>li:first-of-type>a{border-top-left-radius:3px;border-bottom-left-radius:3px}
.channel-nav ul>li:last-of-type>a{border-right:1px solid #65c3ed;border-top-right-radius:3px;border-bottom-right-radius:3px}
.channel-nav ul>li.active>a{background:#65c3ed;color:#fff;padding:1px;border:none}
.ump-coupon{margin:10px;border:1px dashed #999;border-radius:5px;padding:10px 0}
.ump-coupon-wrap{margin:10px 10px}
.ump-coupon-detail{-webkit-border-radius:4px 4px 0 0;-webkit-background-clip:padding-box;-moz-border-radius:4px 4px 0 0;-moz-background-clip:padding;border-radius:4px 4px 0 0;background-clip:padding-box;color:#fff;background-color:#e33c77}
.ump-coupon-detail .inner{margin:0 5px;border-bottom:1px dashed rgba(255,255,255,0.4)}
.ump-coupon-header{line-height:1.5em;font-size:15px;text-align:center}
.ump-coupon-header .inner{padding:20px 0 10px;background:transparent url("../images/dot_line.png") top left repeat-x}
.ump-coupon-value{font-family:"Arial"}
.ump-coupon-value>span{vertical-align:baseline}
.ump-coupon-value>i{font-style:normal;vertical-align:baseline}
.ump-coupon-body{text-align:center}
.ump-coupon-body .inner{padding:19px 0 5px}
.ump-coupon-body .ump-coupon-value>span{font-size:24px;line-height:56px}
.ump-coupon-body .ump-coupon-value>i{font-size:56px;line-height:56px}
.ump-coupon-body .ump-coupon-condition{font-size:13px;margin-top:-12px}
.ump-coupon-footer{font-size:13px;line-height:20px}
.ump-coupon-footer .inner{padding:20px 10px 25px;border-bottom:none}
.ump-coupon-footer .addition-desc{color:#e7a1ba}
.ump-coupon-footer .ump-coupon-desc{margin-bottom:3px}
.ump-coupon-footer .ump-coupon-desc:last-of-type{margin-bottom:0}
.ump-coupon-action{color:#fff;background-color:#32bbfa;-webkit-border-radius:0 0 3px 3px;-webkit-background-clip:padding-box;-moz-border-radius:0 0 3px 3px;-moz-background-clip:padding;border-radius:0 0 3px 3px;background-clip:padding-box;text-align:center}
.ump-coupon-action a{color:#fff;font-size:13px}
.ump-coupon-action a+a{margin-left:20px}
.ump-coupon-action .inner{padding:28px 0 40px;background:transparent url("../images/dot_line_red.png") top left repeat-x;border-bottom:none}
.ump-coupon-action .coupon-msg{margin-bottom:18px;font-size:15px}
.ump-coupon-action .ump-coupon-item-button{display:inline-block;padding:8px 24px;font-size:14px;line-height:14px;-webkit-border-radius:3px;-webkit-background-clip:padding-box;-moz-border-radius:3px;-moz-background-clip:padding;border-radius:3px;background-clip:padding-box;color:#fff;background-color:#ed203c;margin:0}
.ump-coupon-action.take-coupon-success{background-color:#7dd668}
.ump-coupon-action.take-coupon-success .inner{background:none;border-top:1px dashed rgba(255,255,255,0.4)}
.ump-coupon-action.take-coupon-failure{background-color:#eddbe2}
.ump-coupon-action.take-coupon-failure .coupon-msg{color:#706f6f}
.ump-coupon-action.take-coupon-failure .inner{background:none;border-top:1px dashed rgba(255,255,255,0.4)}
.ump-coupon-action.take-coupon-failure .links���btn a { background:#03940E; padding:12px 0; width:90%; margin:0 5%; display:block;text-align:center; color:#fff; font-size:16px;}
.ump-coupon-desc{margin:0 0 10px}
.ump-coupon-desc:last-of-type{margin-bottom:0}
.ump-coupon-list{list-style:none;margin:0;padding:0}
.ump-coupon-item{height:90px;position:relative;-webkit-border-radius:6px;-webkit-background-clip:padding-box;-moz-border-radius:6px;-moz-background-clip:padding;border-radius:6px;background-clip:padding-box;margin-bottom:10px;background-color:#cacfcf;}
.ump-coupon-item>a{display:block;overflow:hidden}
.ump-coupon-item .coupon-left-part{background-color:#cacfcf;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;width:%;color:#fff;-webkit-border-radius:3px 0 0 3px;-webkit-background-clip:padding-box;-moz-border-radius:3px 0 0 3px;-moz-background-clip:padding;border-radius:3px 0 0 3px;background-clip:padding-box;width:56%;}
.ump-coupon-item .coupon-left-part .inner{padding:0px 0px 0px 27px;}
.ump-coupon-item .coupon-right-part{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:right;text-align:center;color:#fff;-webkit-border-radius:0 3px 3px 0;-webkit-background-clip:padding-box;-moz-border-radius:0 3px 3px 0;-moz-background-clip:padding;border-radius:0 3px 3px 0;background-clip:padding-box;padding:10px 12px;font-size:12px;border-left:1px dashed rgba(255,255,255,0.4); overflow: hidden;}
.ump-coupon-item .coupon-right-part p{margin:0 5px 2px 0px; font-size: 1.3em}
.ump-coupon-item .coupon-shop-name{opacity:.7;color:#fff;font-size:16px;margin:0 0 10px}
.ump-coupon-item .ump-coupon-value>span{font-size:24px;line-height:45px}
.ump-coupon-item .ump-coupon-value>i{font-size:45px;line-height:45px}
.ump-coupon-item .ump-coupon-condition{font-size:14px;margin-top:-5px}
.ump-coupon-item .coupon-use-state{position:absolute;right:0;bottom:35px;display:block;width:30%;color:#fff;font-size:20px}
.ump-coupon-item.coupon-style-0{background-color:#f7ba5b}
.ump-coupon-item.coupon-style-0 .coupon-left-part{background-color:#f7ba5b}
.ump-coupon-item.coupon-style-0 .coupon-right-part,.ump-coupon-item.coupon-style-0 .coupon-use-state{color:#fff}
.ump-coupon-item.coupon-style-1{background-color:#43b6ff}
.ump-coupon-item.coupon-style-1 .coupon-left-part{background-color:#43b6ff}
.ump-coupon-item.coupon-style-1 .coupon-right-part,.ump-coupon-item.coupon-style-1 .coupon-use-state{color:#fff}
.ump-coupon-item.coupon-style-2{background-color:#3692cc}
.ump-coupon-item.coupon-style-2 .coupon-left-part{background-color:#d0d0d0}
.ump-coupon-item.coupon-style-2 .coupon-right-part,.ump-coupon-item.coupon-style-2 .coupon-use-state{color:#a96515}
.ump-coupon-item.coupon-style-3{background-color:#81d03b}
.ump-coupon-item.coupon-style-3 .coupon-left-part{background-color:#81d03b}
.ump-coupon-item.coupon-style-3 .coupon-right-part,.ump-coupon-item.coupon-style-3 .coupon-use-state{color:#437319}

.ump-coupon-item {
  /*overflow: hidden;*/
}
.ump-coupon-item b {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: -28px;
  border-radius: 100%;
  background-clip: border-box;
  background-color: #f1f1f1;

}
.ump-coupon-item b label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: -1px;
  background: #f1f1f1;
  border:1px solid #ccc;

  border-radius: 100%;
}

.ump-coupon-item b input[type=checkbox]:checked + label {
  background: #43b6ff;
  padding: 2px;
  border: 0;
}
.ump-coupon-item b input[type=checkbox]:checked + label:after {
  
  opacity: 1;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  background: transparent;
  top: 7px;
  left: 6px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ump-coupon-item b div{
  position: absolute;
  right: 8px;
  top: 12px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
