/* banner begin */.indexBanner {
	border-bottom:1px #e4e4e4 solid;
	overflow:hidden;
	width:100%;
	height:360px;
	position:relative;
	z-index:1;
}
.indexBannerView {
	height:360px;
	margin:0 auto !important;
	overflow:visible !important;
	/*width:1600px !important;
	*/    max-width:1600px;
	position:relative;
}
.indexBanner .indexB_ul {
	height:360px;
	overflow:hidden;
	position:absolute;
}
.indexBanner .indexB_ul li {
	margin:0 auto;
	float:left;
	background:url(../../images/loading.gif?v=1476943523) center no-repeat;
}
.indexBanner .indexB_ul li a {
	height:360px;
	display:block;
	background-position:center top;
	background-repeat:no-repeat;
}
.indexBanner .indexB_ul li a img {
	display:none;
}
.indexBControls {
	position:absolute;
	width:1042px;
	height:0px;
	bottom:30px;
	right:50%;
	margin-right:-521px;
	text-align:right;
	font-size:0px;
}
.indexBPageitem {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:10px;
	height:10px;
	/*background-color:#000;
	*/    background-color:#000;
	opacity:0.3;
	filter:alpha(opacity=30);
	margin-right:6px;
	cursor:pointer;
}
.indexBPageitem.cur {
	background-color:#fff;
	opacity:1;
	filter:alpha(opacity=100);
}
.indexBPage {
	position:absolute;
	width:1042px;
	height:0px;
	left:50%;
	margin-left:-521px;
	top:150px;
}
.indexBPage>a {
	filter:alpha(opacity=40);
	opacity:0.4;
	background:url(../../images/indexBannerBtn.png?v=1476943523) no-repeat;
	width:39px;
	height:51px;
	position:absolute;
}
.indexBPage>.pre {
	background-position:0px 0px;
	left:0px;
}
.indexBPage>.next {
	background-position:0px -51px;
	right:0px;
}
.indexBPage>a:hover {
	filter:alpha(opacity=100);
	opacity:1;
}
.indexBMask {
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	height:0px;
}
.indexBMask>span {
	background:url(../../images/bg_mv.png?v=1476943523) repeat;
	width:50%;
	height:360px;
	position:absolute;
	top:0px;
}
.indexBMask>span.leftItem {
	left:0px;
	margin-left:-800px;
}
.indexBMask>span.rightItem {
	right:0px;
	margin-right:-800px;
}
/* banner end *//* 数据指标 begin */.indexDataBox {
	height:120px;
	background-color:#f6f7f8;
	border-bottom:1px solid #eee;
}
.indexDataItem {
	float:left;
	width:120px;
	margin-left:85px;
}
.indexDataItem .dataText {
	font-size:40px;
	color:#50abf2;
	padding:17px 0px 0px 0px;
	font-family:'GothamBold','GothamBold1';
	word-wrap:normal;
	word-break:normal;
}
.indexDataItem>div {
	font-size:14px;
	height:30px;
	line-height:30px;
	padding-left:35px;
	background:url(../../images/indexDatabg.png?v=1476943523) no-repeat;
	margin-top:-8px;
}
.indexDataItem>div.xmzs {
	background-position:0px 0px;
}
.indexDataItem>div.ljzcr {
	background-position:0px -30px;
}
.indexDataItem>div.ljzzje {
	background-position:0px -60px;
}
/* 数据指标 end *//* 股权融资 begin */.indexZCWrap {
	}.indexZCH3 {
	font-size:30px;
	font-weight:bold;
	text-align:center;
	padding:26px 40px 9px 0px;
}
.indexZCLabel_ul {
	text-align:center;
}
.indexZCLabel_ul li.geban {
	margin:0px 15px;
}
.indexZCLabel_ul li.moreA a {
	color:#50abf2;
	text-decoration:underline;
	margin-left:15px;
}
.indexZCTopListItem {
	height:300px;
	margin-top:30px;
}
.indexZCTopListItem:first-child {
	margin-top:25px;
}
.indexZCTLLeft {
	float:left;
	width:680px;
	height:300px;
	overflow:hidden;
}
.indexZCTLLeft img {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	width:100%;
	height:100%;
}
.indexZCTLRight {
	float:right;
	width:361px;
	height:298px;
	border:1px solid #dcdcdc;
	border-left:0px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.indexZCTLR_topBox {
	height:28px;
	line-height:28px;
	padding:10px 23px;
	border-bottom:1px solid #e4e4e4;
}
.indexZCTLR_accountImg {
	width:28px;
	height:28px;
	float:left;
}
.indexTLR_accountText {
	height:28px;
	line-height:28px;
	color:#999999;
	margin-left:8px;
	float:left;
}
.indexTLR_accountText span {
	margin-left:7px;
	color:#333;
}
.indTopCardBox {
	padding:0px 23px;
}
.indTopCardFtDiv {
	height:137px;
}
.indTopCardH3 {
	display:block;
	font-size:14px;
	color:#2d3539;
	height:21px;
	line-height:21px;
	padding:15px 0px 10px 0px;
	font-weight:bold;
}
.indTopCard_p span {
	height:24px;
	line-height:24px;
	overflow:hidden;
	float:left;
}
.indTopCard_p .ftSpan {
	color:#999999;
	width:70px;
}
.indTopCard_p .scSpan {
	width:245px;
}
/* 卡片列表 begin */.indCardListWrap {
	margin-left:-38px;
}

.siteCardItemImgA.ind {
	height:240px;
}
.indCardICText {
	height:139px;
}
.siteCardIC_p.ind {
	height:60px;
	-webkit-line-clamp:3;
}
/* 卡片列表 end */.indCardListMoreA {
	display:block;
	height:43px;
	line-height:43px;
	background-color:#f3f3f3;
	color:#999999;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin-top:19px;
	border-radius:5px;
}
.indCardListMoreA:hover {
	background-color:#eee;
}
/* 股权融资 end *//* 新手帮助 begin */.indexHelpBox {
	margin:45px 0px 0px 0px;
	height:214px;
	background:url(../../images/indexHelpBg.jpg?v=1476943523) #4689d2 top center no-repeat;
}
.indexHelpLBox {
	float:left;
	margin:39px 0px 0px 0px;
	position:relative;
}
.indexCYBoxInner {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}
.indexCYBox {
	width:304px;
	height:143px;
	border-radius:10px;
	position:relative;
	overflow:hidden;
	border:1px solid #3469bf;
	border:1px solid rgba(12,30,146,0.3);
	box-shadow:0px 2px 0px 0px rgba(4,4,4,0.1);
	margin:0px 0px 0px 0px;
}
.indexCYBgBox {
	background-color:#1a3ebe;
	width:100%;
	height:100%;
	opacity:0.30;
	filter:alpha(opacity=30);
}
.indexCYItemWrap {
	height:auto;
}
.indexCYItem {
	padding-left:17px;
	width:270px;
	height:143px;
}
.indexCYATopBox {
	padding:15px 0px 8px 0px;
}
.indexCYAccount {
	width:36px;
	height:36px;
	float:left;
}
.indexCYATopText {
	float:left;
	height:35px;
	line-height:35px;
	color:#fff;
	margin-left:10px;
}
.indexCYATopText a {
	color:#fff;
	margin-left:3px;
	text-decoration:none;
	cursor:default;
	font-weight:bold;
}
.indexCYItem_p {
	color:#fff;
	max-height:60px;
	line-height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	display:box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
}
.indexCYItem_p a {
	color:#ff6520;
	text-decoration:none;
}
.indexCYItem_p a:hover {
	text-decoration:underline;
}
.indexZCDesBox {
	text-align:center;
	width:250px;
	float:left;
	margin:40px 0px 0px 97px;
}
.indexZCDesH3 {
	font-size:18px;
	font-weight:bold;
	color:#fff;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-bottom:10px;
}
.indexZCDesH3 i {
	display:inline-block;
	vertical-align:top;
	height:30px;
	width:28px;
	background:url(../../images/indexHelp.png?v=1476943523) no-repeat;
}
.indexZCDesH3 i.jl {
	background-position:0px 0px;
}
.indexZCDesH3 i.gq {
	background-position:0px -30px;
}
.indexZCDes_P {
	color:#fff;
	line-height:20px;
}
.indexZCDes_goA {
	color:#fff;
	display:inline-block;
	width:78px;
	height:27px;
	line-height:27px;
	text-align:center;
	border-radius:3px;
	margin-top:15px;
	background:#464646;
	/* Old browsers */	background:-moz-linear-gradient(top,#464646 0%,#242424 100%);
	/* FF3.6+ */	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#464646),color-stop(100%,#242424));
	/* Chrome,Safari4+ */	background:-webkit-linear-gradient(top,#464646 0%,#242424 100%);
	/* Chrome10+,Safari5.1+ */	background:-o-linear-gradient(top,#464646 0%,#242424 100%);
	/* Opera 11.10+ */	background:-ms-linear-gradient(top,#464646 0%,#242424 100%);
	/* IE10+ */	background:linear-gradient(to bottom,#464646 0%,#242424 100%);
	/* W3C */	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646',endColorstr='#242424',GradientType=0 );
	/* IE6-9 */
}
/* 新手帮助 end *//* 成功案例 begin */.index_sucBox {
	margin-top:64px;
	height:543px;
	background:url(../../images/index_sucBox.jpg?v=1476943523) #564975 no-repeat top center;
}
.index_sucHeader {
	height:45px;
	padding:52px 0px 13px 0px;
}
.index_sucHeader h3 {
	float:left;
	font-size:30px;
	color:#fff;
}
.index_sucHeader h3 span {
	font-size:12px;
	font-weight:normal;
	margin-left:5px;
}
.index_sucHeader .index_sucH_ul {
	float:right;
	height:20px;
	line-height:20px;
	margin-top:25px;
}
.index_sucHeader .index_sucH_ul li {
	float:left;
	color:#fff;
}
.index_sucHeader .index_sucH_ul li.geban {
	margin:0px 15px;
}
.index_sucHeader .index_sucH_ul li a {
	color:#fff;
}
.index_sucItem {
	border-top:1px solid #7b7b7b;
	border-top:1px solid rgba(123,123,123,0.37);
	padding:42px 0px 0px 0px;
	height:136px;
}
.indSucL {
	float:left;
}
.indSucLImgBox {
	float:left;
}
.indSucLImgBox img {
	border-radius:100%;
	width:72px;
	height:72px;
	border:3px solid #fff;
	cursor:default;
}
.indSucText {
	width:620px;
	float:left;
	margin-left:17px;
}
.indSucText_h3 a {
	font-size:14px;
}
.indSucText_h3 a.geren {
	font-weight:bold;
	color:#fff;
}
.indSucText_h3 a.xiangmu {
	margin-left:10px;
	color:#50abf2;
	text-decoration:none;
}
.indSucText_p {
	line-height:26px;
	color:#fff;
	margin-top:8px;
	height:78px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	display:box;
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
}
.indSucR {
	float:right;
	color:#50abf2;
	margin-top:28px;
}
.indSucR>div {
	float:left;
	height:57px;
	text-align:center;
}
.indSucR>div.geban {
	width:1px;
	height:43px;
	background-color:#50abf2;
	/*margin:7px 30px 0px 20px;
	*/	margin:7px 10px 0 10px;
}
.indSucR .ftP {
	font-size:26px;
}
.indSucR .scP {
	margin-top:-5px;
	width:132px;
}
/* 成功案例 end *//*明星投资人 by xfy 20150914*/.star-investor {
	margin-right:-40px;
}
.star-investor-list {
	width:192px;
	height:280px;
	border:1px solid #dcdcdc;
	background-color:#f9f9f9;
	float:left;
	margin:24px 40px 0 0;
	padding:0 18px;
	text-align:center;
}
.star-investor-list img {
	width:140px;
	height:140px;
	border-radius:50%;
	margin-top:22px;
}
.star-investor-list .investor-name {
	font:bold 18px/24px "Adobe 黑体 Std";
	padding:10px 0 0 8px;
	max-height:24px;
	overflow:hidden;
}
.star-investor-list .investor-intro {
	max-height:54px;
	overflow:hidden;
	margin-top:10px;
}
.star-investor-list  a:hover {
	text-decoration:underline;
}
/*股权频道页 by xfy 20150922*/.mbn13 {
	margin-bottom:-13px;
}
.equityChannel-tit {
	margin-top:25px;
	height:36px;
}
.equityChannel-tit h3 {
	font-size:24px;
	float:left;
}
.equityChannel-tit .more {
	height:22px;
	line-height:22px;
	border-radius:2px;
	border:1px solid #dfdfdf;
	float:right;
	margin-top:8px;
	padding:0 10px;
	color:#666;
}
.equityChannel-tit .more em {
	color:#dfdfdf;
}
.equityChannel-tit .more:hover,.equityChannel-tit .more:hover em {
	color:#50abf2;
}
.equityHelpBox {
	height:276px;
	background:url(../../images/equityHelpBg.png?v=1476943523) no-repeat top center;
}
.equityHelpTag {
	background:url(../../images/equityHelpIcon.png?v=1476943523) no-repeat;
	width:42px;
	height:42px;
	display:block;
	margin:15px auto 18px;
}
.onMinute {
	background-position:0 0;
}
.explanation {
	background-position:0 -47px;
}
.equityHelpBox .indexHelpLBox {
	margin:46px 10px 0 50px;
}
.equityHelpBox .indexZCDesBox {
	margin:46px 0 0 78px;
	width:236px;
}
.equityHelpBox  .indexCYBox {
	height:185px;
}
.equityHelpBox .indexCYItem {
	height:185px;
}
.equityChannel_ul {
	text-align:left;
	padding:15px 0 0 20px;
	float:left;
}
/* 最新上线 */.latest-online {
	height:54px;
	line-height:54px;
	background-color:#fafafa;
	padding:0 20px;
	color:#999;
	margin:15px -19px 0;
}
.latest-target {
	float:left;
}
.latest-surplus {
	float:right;
}
.latest-online em {
	color:#333;
	font-family:'GothamBold','GothamBold1';
	font-weight:bold;
}
/*明星投资人 start*/.starcard {
	width:320px;
	border:1px solid #dcdcdc;
	height:437px;
	border-radius:5px;
	float:left;
	margin:30px 0px 0px 38px;
	overflow:hidden;
}
.imgbox {
	text-align:center;
	margin:40px 0 22px 0;
}
.starimg {
	width:136px;
	height:136px;
	border-radius:50%;
	margin:0 auto;
}
.starname {
	text-align:center;
	font-size:22px;
	font-weight:bold;
}
.starname a:hover {
	text-decoration:underline;
}
.starlike {
	padding:0 24px;
	line-height:25px;
	color:#999;
	font-size:14px;
	margin:11px 0 22px 0;
	height:50px;
	overflow:hidden;
}
.starpresent {
	height:96px;
	background:#fafafa;
	padding:24px 22px 0;
}
.investProject {
	height:50px;
	overflow:hidden;
	font-size:13px;
	line-height:25px;
}
.investtit {
	color:#222222;
	font-weight:bold;
	float:left;
}
.Project {
	width:16px;
	height:15px;
	float:left;
	background:url(../../images/star1.png?v=1476943523) no-repeat;
	margin:6px 5px 0 0;
}
.starpresent .text {
	width:190px;
	float:left;
	color:#666666;
}
.starpresent .text a:hover {
	text-decoration:underline;
}
.Like {
	width:15px;
	height:14px;
	float:left;
	background:url(../../images/star2.png?v=1476943523) no-repeat;
	margin:3px 6px 0 0;
}
.investLike {
	height:20px;
	overflow:hidden;
	margin-top:5px;
}
/*明星投资人 red*//*原始会成功案例*/.indexcase {
	margin-top:60px;
	height:415px;
	background:url(../../images/anlibg.jpg?v=1476943523) no-repeat 50%;
	background-size:cover;
	padding-top:42px;
	min-width:1042px;
}
.indexcase .indexZCH3 {
	padding:26px 0 9px;
}
.indexcase .indexZCLabel_ul {
	color:#666;
}
.indexcase .indexZCLabel_ul li {
	font-size:14px;
}
.indexcase .indexZCLabel_ul a {
	color:#50abf2;
}
.indexcase .indexZCLabel_ul a:hover {
	text-decoration:underline;
}
.casebox {
	margin-left:-42px;
}
.casecard {
	width:498px;
	height:195px;
	border:1px solid #dcdcdc;
	border-radius:5px;
	overflow:hidden;
	background:#fff;
	margin:37px 0 0 42px;
	float:left;
}
.anliimg {
	width:235px;
	height:175px;
	margin:10px 18px 10px 10px;
}
.case-r {
	width:220px;
	float:left;
}
.case-r h2 {
	font-size:15px;
	color:#333333;
	line-height:24px;
	margin-top:17px;
}
.case-r h2 a {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	display:block;
	width:220px;
	height:24px;
}
.case-r h2 a:hover {
	text-decoration:underline;
}
.case-r .text {
	line-height:19px;
	color:#999;
	margin:8px 0 32px 0;
	height:37px;
	overflow:hidden;
}
.caseje {
	color:#333;
	font-size:12px;
}
.casenum {
	color:#333;
	font-size:17px;
	font-weight:bold;
	margin-left:3px;
}
.casetime {
	color:#999999;
	width:100%;
	display:block;
	margin-top:15px;
}
.casedate {
	color:#333;
	margin-left:3px;
}
@charset "UTF-8";
	/*all*/.logwrap .shell,.regwrap .shell {
	position:relative;
}
.logwrap .shell .error-text,.regwrap .shell .error-text {
	position:absolute;
	top:42px;
	left:0px;
}
a.shut-down-icon {
	cursor:pointer;
	/*background:url(../../images/icon/login_reg.png?v=1476943523) no-repeat;*/
	background-position:0 0;
	width:16px;
	height:16px;
	display:block;
	position:absolute;
	right:10px;
	top:25px;
}
a.shut-down-icon:hover {
	background-position:0 -24px;
}
.Js-pop .pop {
	background:#efefef;
}
.Js-pop .titleWrap {
	position:relative;
	background:#242535;
	height:65px;
	line-height:65px;
	text-align:center;
	font-size:30px;
	color:#fff;
}
/* tianxiang 4/16 添加 begin */.Js-pop .titleWrap div {
	font-size:30px;
	height:65px;
	line-height:65px;
}
.pop-container {
	width:680px;
	position: fixed;
	top: 160px;
	left: 611.5px;
  display: none;
	 z-index:2;
	 left: 0;
	 right: 0;
	 margin: 0 auto;
}
/*login*/.logwrap {
	width:600px;
	margin:0 auto;
	font-size:13px;
	padding:40px 40px 50px
}
.logwrap .shell {
	width:100%;
	margin-bottom:22px;
	float:left;
}
.logwrap .shell.hidden {
	display:none;
}
.logwrap .logleft {
	float:left;
	width:300px;
	height:280px;
}
.logwrap .logleft .submitwrap {
	height:45px;
	line-height:45px;
}
.logwrap .logleft .submitwrap span,.logwrap .logleft .submitwrap span a {
	font-size:11px;
}
.logwrap .logleft .submitwrap span {
	float:right;
	display:inline-block;
	width:100%;
}
.logwrap .logleft .submitwrap span a {
	color:#55acef;
}
.logwrap .logleft .submitwrap .zc,.logwrap .logcenter .submitwrap .zc {
	float:left;
	width:97px;
	height:45px;
	line-height:45px;
	text-align:center;
	background:#55acef;
	color:#fff;
}
.logwrap .logleft .submitwrap .zc:hover,.logwrap .logcenter .submitwrap .zc:hover {
	background:#489ada;
}
.logwrap .logright {
	float:left;
	padding-right:35px;
	margin-right:35px;
	width:220px;
	border-right:1px solid #cbcbcb;
	height:280px;
}
.logwrap .logright .linebg {
	margin-bottom:22px;
	text-align:center;
	*text-align:left;
}
.logwrap .logright .login {
	margin-bottom:0;
}
.logwrap .logright .zhdl {
	height:40px;
	line-height:40px;
	border-radius:5px;
	border:1px solid #55acef;
}
.logwrap .logright .zhdl:hover {
	height:40px;
	line-height:40px;
	border-radius:5px;
	border:1px solid #55acef;
	background:#55acef;
}
.logwrap .logright .zhdl a {
	background:url(../../images/icon/smallico.png?v=1476943523) 30px 0 no-repeat;
	height:20px;
	line-height:20px;
	padding-left:60px;
	display:inline-block;
	*margin-top:10px;
}
.logwrap .logright .zhdl:hover a {
	background:url(../../images/icon/smallico.png?v=1476943523) 30px -52px no-repeat;
	height:20px;
	line-height:20px;
	padding-left:60px;
	color:#fff;
}
.logwrap .logright .zhdl2 {
	height:40px;
	line-height:40px;
	border-radius:5px;
	border:1px solid #55acef;
	cursor:pointer;
}
.logwrap .logright .zhdl2:hover {
	height:40px;
	line-height:40px;
	border-radius:5px;
	border:1px solid #55acef;
	background:#55acef;
}
.logwrap .logright .zhdl2 a {
	background:url(../../images/icon/smallico.png?v=1476943523) 30px -28px no-repeat;
	height:22px;
	line-height:20px;
	padding-left:60px;
	display:inline-block;
	*margin-top:10px;
}
.logwrap .logright .zhdl2:hover a {
	background:url(../../images/icon/smallico.png?v=1476943523) 30px -78px no-repeat;
	height:22px;
	line-height:20px;
	padding-left:60px;
	color:#fff;
}
.logwrap .logright .zhdl2,.regwrap .logright .zhdl2 {
	height:40px;
	line-height:40px;
	border-radius:5px;
	border:1px solid #55acef;
	cursor:pointer;
	margin-top:5px;
	margin-bottom:15px;
}
.logwrap .logright .zhdl2:hover,.regwrap .logright .zhdl2:hover {
	height:40px;
	line-height:40px;
	border-radius:5px;
	border:1px solid #55acef;
	background:#55acef;
}
.logwrap .logright .zhdl2 a,.regwrap .logright .zhdl2 a {
	background:url(../../images/icon/smallico.png?v=1476943523) no-repeat;
	padding-left:60px;
	display:inline-block;
	*margin-top:10px;
	width:160px;
}
.logwrap .logright .zhdl2 a {
	background-position:30px -28px;
	height:20px;
	line-height:20px;
}
.regwrap .logright .zhdl2 a {
	background-position:30px -102px;
	height:15px;
	line-height:15px;
}
.logwrap .logright .zhdl2:hover a,.regwrap .logright .zhdl2:hover a {
	background:url(../../images/icon/smallico.png?v=1476943523) no-repeat;
	color:#fff;
}
.logwrap .logright .zhdl2:hover a {
	background-position:30px -78px;
}
.regwrap .logright .zhdl2:hover a {
	background-position:30px -121px;
}
.logwrap .logright .linebg b {
	height:4px;
	border-top:1px solid #cbcbcb;
	display:inline-block;
	width:60px;
}
.logwrap .logright .linebg .fond {
	margin-right:8px;
}
.logwrap .logright .linebg .back {
	margin-left:8px;
}
.logwrap .logright a {
	color:#55acef;
}
.logwrap .logright a.fonthov:hover {
	color:#55acef;
	text-decoration:underline;
}
.logwrap input {
	text-indent:10px;
	*text-indent:0;
	*padding-left:10px;
	width:296px;
	color:#999;
	font-size:13px;
	height:40px;
	line-height:40px;
	border:1px solid #9f9f9f;
	border-radius:5px;
}
.logwrap a {
	border-radius:5px;
	display:inline-block;
	font-size:14px;
}
.logwrap a.wjmm {
	color:#55acef;
	margin-left:20px;
}
.logwrap a.wjmm:hover {
	text-decoration:underline;
}
.logwrap .logright .icon {
	text-align:center;
}
.logwrap .logright .icon a {
	width:46px;
	height:46px;
	background:url(../../images/icon/share.png?v=1476943523) 0 0 no-repeat;
	border-radius:0;
}
.logwrap .logright .icon .wb {
	background-position:0 -47px;
	margin-left:20px;
}
.logwrap .logright .icon .wx {
	background-position:0 -94px;
	margin-left:20px;
}
.logwrap .logright .icon a:hover {
	width:46px;
	height:46px;
	background:url(../../images/icon/hshare.png?v=1476943523) 0 0 no-repeat;
}
.logwrap .logright .icon .wb:hover {
	background-position:0 -47px;
	margin-left:20px;
}
.logwrap .logright .icon .wx:hover {
	background-position:0 -94px;
	margin-left:20px;
}
.logwrap input.xy {
	width:13px;
	height:13px;
	float:left;
	margin-top:15px;
}
.logwrap .codewrap input {
	width:209px;
	*width:199px;
	height:40px;
	line-height:40px;
	float:left;
}
.logwrap .codewrap a {
	width:78px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #55acef;
	color:#55acef;
	float:right;
}
.logwrap .codewrap {
	*clear:both;
}
.logwrap .numwrap input {
	width:209px;
	*width:199px;
	height:40px;
	line-height:40px;
	float:left;
}
.logwrap .numwrap a {
	width:78px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #55acef;
	color:#55acef;
	float:right;
}
.logwrap .numwrap a:hover {
	background:#55acef;
	width:78px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #55acef;
	color:#fff;
	float:right;
}
.logwrap .numwrap a.sendCode:hover {
	width:78px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #ccc;
	color:#ccc;
	float:right;
	background:none;
}
.logwrap .numwrap a.sendCode {
	color:#ccc;
	border-color:#ccc;
}
.logwrap .numwrap {
	*clear:both;
}
/*reg*/.regwrap {
	width:600px;
	margin:0 auto;
	font-size:13px;
	padding:40px 40px 90px
}
.regwrap .shell {
	width:100%;
	margin-bottom:22px;
	float:left;
}
.regwrap .shell.hidden {
	display:none;
}
.regwrap .logleft {
	float:left;
	width:300px;
	height:280px;
}
/*.regwrap .logleft .submitwrap {
	height:45px;
	line-height:45px;
}
*/.regwrap .logleft .submitwrap span,.logwrap .logleft .submitwrap span a {
	font-size:11px;
}
.regwrap .logleft .submitwrap span {
	float:left;
	display:inline-block;
}
.regwrap .logleft .submitwrap span a {
	color:#55acef;
}
.regwrap .logleft .submitwrap span a:hover {
	color:#55acef;
	text-decoration:underline;
}
.regwrap .logleft .submitwrap .zc {
	float:left;
	width:97px;
	height:45px;
	line-height:45px;
	text-align:center;
	background:#55acef;
	color:#fff;
	margin-top:13px;
}
.regwrap .logleft .submitwrap .zc:hover {
	background:#489ada;
}
.regwrap .logright {
	float:left;
	padding-right:35px;
	margin-right:35px;
	width:220px;
	border-right:1px solid #cbcbcb;
	height:280px;
}
.regwrap .logright .linebg {
	margin-bottom:30px;
	text-align:center;
	*text-align:left;
}
.regwrap .logright .login {
	margin-bottom:0;
}
.regwrap .logright .linebg b {
	height:4px;
	border-top:1px solid #cbcbcb;
	display:inline-block;
	width:60px;
}
.regwrap .logright .linebg .fond {
	margin-right:8px;
}
.regwrap .logright .linebg .back {
	margin-left:8px;
}
.regwrap .logright a {
	color:#55acef;
}
.regwrap .logright a.fonthov:hover {
	color:#55acef;
	text-decoration:underline;
}
.regwrap input {
	text-indent:10px;
	*text-indent:0;
	*padding-left:10px;
	width:296px;
	height:40px;
	line-height:40px;
	color:#999;
	font-size:13px;
	border:1px solid #9f9f9f;
	border-radius:5px;
}
.regwrap a {
	border-radius:5px;
	display:inline-block;
	font-size:14px;
}
.regwrap .logright .icon {
	text-align:center;
}
.regwrap .logright .icon a {
	width:46px;
	height:46px;
	background:url(../../images/icon/share.png?v=1476943523) 0 0 no-repeat;
}
.regwrap .logright .icon .wb {
	background-position:0 -47px;
	margin-left:20px;
}
.regwrap .logright .icon .wx {
	background-position:0 -94px;
	margin-left:20px;
}
.regwrap .logright .icon a:hover {
	width:46px;
	height:46px;
	background:url(../../images/icon/hshare.png?v=1476943523) 0 0 no-repeat;
}
.regwrap .logright .icon .wb:hover {
	background-position:0 -47px;
	margin-left:20px;
}
.regwrap .logright .icon .wx:hover {
	background-position:0 -94px;
	margin-left:20px;
}
.regwrap input.xy {
	width:13px;
	height:13px;
	float:left;
	margin-top:6px;
}
.regwrap .codewrap input {
	width:209px;
	*width:199px;
	height:40px;
	line-height:40px;
	float:left;
}
.regwrap .codewrap a {
	width:78px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #55acef;
	color:#55acef;
	float:right;
}
.regwrap .codewrap a:hover {
	width:78px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #55acef;
	color:#fff;
	float:right;
	background:#55acef;
}
.regwrap .codewrap a.sendCode:hover {
	width:78px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #ccc;
	color:#ccc;
	float:right;
	background:none;
}
.regwrap .codewrap a.sendCode {
	color:#ccc;
	border-color:#ccc;
}
.regwrap .codewrap {
	*clear:both;
}
.regwrap .numwrap input {
	width:209px;
	*width:199px;
	height:40px;
	line-height:40px;
	float:left;
}
.regwrap .numwrap a {
	background:#fff;
	width:78px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #55acef;
	color:#55acef;
	float:right;
	overflow:hidden;
}
.regwrap .wx-inputErrBorder {
	border:1px solid red;
}
.logwrap .wx-inputErrBorder {
	border:1px solid red;
}
.regwrap input[type="password"].wx-inputErrBorder {
	border:1px solid red;
}
.logwrap input[type="password"].wx-inputErrBorder {
	border:1px solid red;
}
.regwrap .error-text,.logwrap .error-text {
	line-height:24px;
	color:#fe0000;
}
.logwrap input[type="password"] {
	width:296px;
	padding-left:0;
	*padding-left:10px;
	border:1px solid #9f9f9f;
}
/*验证结果*/.mail-activation-into {
	padding-top:10px;
}
.mail-activation-into p {
	line-height:30px;
	font-size:16px;
}
.mail-activation-into p.enter-mail,.cor-grey {
	color:#999;
}
.mail-activation-into .act-btn,.activation-success .back-index {
	height:45px;
	line-height:45px;
	font-size:14px;
	margin-top:25px;
	background-color:#55acef;
}
.mail-activation-into .act-btn {
	width:292px;
}
.no-mail {
	margin:60px 40px -20px;
	line-height:20px;
	padding-top:20px;
	border-top:1px solid #dedede;
}
.no-mail b {
	font-size:13px;
	font-weight:bold;
	padding-bottom:8px;
	display:block;
}
.no-mail a.resend {
	font-size:12px;
	text-decoration:underline;
}
.cor-blue {
	color:#2e9aee;
}
.cor-grey {
	text-decoration:none !important;
	cursor:default;
}
/*激活成功*/.activation-success {
	width:100%;
	height:600px;
	text-align:center;
	padding-top:113px;
}
.activation-success i {
	width:86px;
	height:86px;
	margin-bottom:16px;
	background:url(../../images/activation-success.png?v=1476943523) 0 0 no-repeat;
	display:inline-block;
}
.activation-success .suc {
	font-size:24px;
	font-weight:bold;
	padding-bottom:5px;
}
.activation-success .back-index {
	width:150px;
}
