*{
      /*box-sizing: border-box;*/
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10,
 .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.col-md-12{
   width: 100%;
}
.col-md-8{
width: 66.66666667%;
}
.col-md-4 {
    width: 33.33333333%;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.container {
      width: 1042px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.new-project{
      background: #F7F9FA;
}
 h1.project-title {
    font-size: 30px;
    color: #2b3845;
    margin: 50px 0;
}
.project-nav {
    background: #ffffff;
    border: 1px solid #E1E5E7;
    z-index: 1;
}
.project-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}
.project-nav li {
    float: left;
    text-align: center;
}
.project-nav li a {
    display: block;
    padding: 16px 0;
    width: 140px;
    text-align: center;
    font-size: 16px;
    color: #6f7a7e;
    border-right: 1px solid #E1E5E7;
}
.project-nav li.active a {
    color: #43ac43;
    font-weight: 600;
}
.new-project .qsc-project-detail {
    background: #ffffff;
    border: 1px solid #E1E5E7;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    top: -1px;
    word-wrap: break-word;
}
.view-body p, .view-body div {
    word-wrap: break-word;
    margin: 0;
    padding-bottom: 20px;
    color: #222222;
}

.view-body img {
    width: auto !important;
    max-width: 100% !important;
    display: block;
    margin: 0 auto;
}
.new-project .project-detail-box {
    background: #ffffff;
    border: 1px solid #E1E5E7;
    border-radius: 2px;
    margin-bottom: 20px;
}
.project-detail_title {
    font-size: 18px;
    color: #43ac43;
    border-top: 1px solid #e6e8e8;
    padding: 20px 0;
    position: relative;
}
.new-project .project-detail_title {
    border-top: none;
    color: #2b3845;
    padding: 15px 15px 10px;
}
.project-timeline {
    border-left: 2px solid #f2f2f2;
    margin: 10px 0 10px 25px;
    padding-left: 15px;
}
.new-project .project-timeline {
    margin: 10px 0 0 40px;
}
.project-timeline .timeline-item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
    display: block;
    /*overflow: hidden;*/
}
.project-timeline .timeline-item .time {
    position: absolute;
    top: 0;
    left: -100px;
    width: 60px;
}
.project-detail-box .time:before {
    position: absolute;
    top: 28px;
    left: 72px;
    z-index: 1;
    width: 2px;
    height: 10px!important;
    display: block;
    background: transparent!important;
    content: " ";
}
.project-timeline .timeline-item .time .timeline-item_user {
    position: absolute;
    right: -49px;
    top: -5px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
}
.project-timeline .timeline-item .time .timeline-item_user img{
  border-radius: 9999px;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.project-timeline .timeline-item .timeline-item_content {
    border-bottom: 1px solid #e6e8e8;
}
.new-project .project-timeline .timeline-item .timeline-item_content {
    margin-right: 15px;
}
.project-timeline .timeline-item .timeline-item_content .timeline-item_content_user {
    margin: 5px 0;
    font-size: 15px;
    color: #2b3845;
    font-weight: 400;
}
.project-timeline .timeline-item .timeline-item_content .timeline-item_content_user small {
    font-weight: 400;
    color: #43ac43;
    font-size: 14px;
}
.project-timeline .timeline-item .timeline-item_content .timeline-item_content_time {
    margin: 0;
    font-size: 12px;
    color: #999999;
    position: relative;
}
.project-timeline .timeline-item .timeline-item_content .timeline-item_content_talk {
    font-weight: 400;
    margin: 20px 20px 20px 0;
    font-size: 15px;
    color: #222222;
    line-height: 1.3;
    word-break: break-all;
    word-wrap: break-word;
}
.mod-project-supporter .mod-project-support_item__user {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: block;
}
.mod-project-supporter .mod-project-support_item__user img {
    border-radius: 999px;
    width: 40px;
    height: 40px;
}
.mod-project-supporter .mod-project-support_item__detail {
    position: relative;
    margin-left: 65px;
    padding: 0 0 10px 10px;
    word-wrap: break-word;
}
.new-project .mod-project-supporter .mod-project-support_item {
    padding: 15px 0 20px 20px;
    border-bottom: none;
}
.new-project .mod-project-supporter .mod-project-support_item .mod-project-support_item__detail {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #E1E5E7;
    margin-left: 60px;
    margin-right: 15px;
}
.mod-project-supporter .mod-project-support_item__detail .project-support_item__detail__user {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1;
}
.project-support_item__detail__user small {
    position: relative;
}
.mod-project-supporter .mod-project-support_item__detail .project-support_item__detail__user small {
    font-size: 14px;
    color: #2b3845;
    font-weight: 400;
}
.mod-project-supporter .mod-project-support_item__detail .project-support_item__detail__time {
    font-size: 12px;
    color: #999999;
    position: relative;
}
.page-m{
    padding: 25px 30px;
    font-size: 12px;
  text-align: center;
}
.page-m p{
  font-size: 22px;
  color: #2e942c;
}
.page1{
   position: relative;
   background: #fafbfd;
       border: 1px solid #E1E5E7;
}
.oth{
  display: block;
  overflow: hidden;
  /*width: 100%;*/
  padding: 15px;
  background: #fff;
}
.np{
  width: 50%;
  float: left;
text-align: center;
  padding-top: 15px;
  vertical-align: bottom;
}
.np spam,.np2 span{
      vertical-align: bottom;
}
.np2{
  /*margin-left: -23px;*/
  float: left;
  width: 50%;
  float: left;
text-align: center;
  vertical-align: bottom;
  padding-top: 15px;
}
.oth span{
  /*padding: 8px 0;
  width: 50%;
  display: block;
  float: left;
  text-align: center;*/
}
.jdbox span{
  float: left;
      margin-top: -3px;
      width: 20%;
      text-align: center;
}
.jindutiao{
   width: 80%;
   height: 12px;
   background: #e5e5e5;
   float: left;
   overflow: hidden;
}
.jindutiao .jd{
  background: #10c5cc;
  width: 0%;
  height: 12px;
}
.new-project .project-qrcode {
    border-top: 1px solid #EDEFF1;
    padding: 15px;
    background: #fff;
    margin-top: 15px;
}
.new-project .project-qrcode .project-qrcode_code {
    float: left;

    display: block;
}
.new-project .project-qrcode .project-qrcode_tips {
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin: 40px 0 0 4px;
}
.new-project .project-qrcode .project-qrcode_tips {
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin: 40px 0 0 4px;
}
.qrcode{
   width: 130px;
   height: 130px;
   float: left;
}
.stuckMenu.fixed{
   width: 682.66;
   position: fixed;;
   top: 0;
}
.fabuz{
   margin-top: 15px;
   background: #fff;

}
.faqiren{
   padding: 15px 0;
}
.faqiren .p1{
    font-size: 16;
    font-weight: 500;
    padding: 5px 15px;
}
.faqiren div{
    padding-top: 7px;
    margin-left: 15px;
}
.faqiren div p:first-child{
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.faqiren div p{
   font-size: 13px;
   color: #a8a8a8;
}
.faqiren img{
    width: 48px;
    height: 48px;
    margin-left: 15px;
    border-radius: 10000px;
    border: 1px solid #eee;
}
.mod-project-supporter .mod-project-support_item__detail .project-support_item__detail__content {
    font-size: 15px;
    margin: 10px 0;
    color: #222222;
}
.mod-project-support_item__detail__comment {
    position: relative;
    /*z-index: 1;*/
    background: #F7F9FA;
    padding: 5px 0;
        margin-top: 15px;
}
.icon-triangle {
    position: absolute;
    top: -6px;
    left: 6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f5f5f5;
}
.mod-project-support_item__detail__comment a {
    padding: 5px 10px;
    color: #2b3845;
    line-height: 1.3;
    display: block;
    cursor: default;
}
.mod-project-support_item__detail__comment a strong {
    color: #4284B6;
    font-weight: 400;
}

.mod-project-support_item__detail__comment a {
    padding: 5px 10px;
    color: #2b3845;
    line-height: 1.3;
    display: block;
    cursor: default;
}
.youkuplay{
  width: 100%;
  padding-bottom: 15px;
  border: none;
  height: 510px;
}
.project-nav{
   position: relative;
}
.pshare{
  position: absolute;
  right: 15px;
  top: 15px;
  vertical-align: middle;
}
.pshare  a{
    vertical-align: bottom;
}
.pshare span{
  vertical-align: middle;
}
.pshare img{
  width: 24px;
  vertical-align: middle;
}
.sharebox{
    position: absolute;
    right: 140px;
    top: 17px;
    cursor: pointer;
    padding-left: 18px;
    background: url(../../images/gz1.png) left no-repeat;
    background-size: 25%;
}
.sharebox.active{
    background: url(../../images/gz2.png) left no-repeat;
        background-size: 25%;
}
.sharebox:hover{
  background: url(../../images/gz2.png) left no-repeat;
      background-size: 25%;
}
.sharebox span{
  vertical-align: middle;
}
.sharebox img{
  width: 20px;
    height: 20px;
    vertical-align: middle;
}
.view-body div, .view-body p {
    word-wrap: break-word;
    margin: 0;
    padding-bottom: 20px;
    color: #222;
}
.new-project .qsc-project-detail .mod-project-card_content__img {
    margin-top: 20px;
    padding-bottom: 0;
}

.new-project .qsc-project-detail .mod-project-card_content__img img {
    width: 23%!important;
        vertical-align: middle;
            margin: 0 auto;
}
.project-timeline .timeline-item .timeline-item_content .mod-project-card_content__img {
    padding-bottom: 20px;
}
.project-timeline .timeline-item .timeline-item_content .mod-project-card_content__img>a {
    width: 120px;
    height: 120px;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.zxjz_picList {
    margin-top: 15px;
}
.zxjz_picItem {
    width: 56px;
    height: 56px;
    float: left;
    position: relative;
    margin-left: 15px;
}
.zxjz_picItem:first-child {
    margin-left: 0px;
}
.zxjz_picItem .closeA {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -8px;
    right: -8px;
    background: url(http://zcs1.ncfstatic.com/v3/static/images/jianglixiangqingBg.png?v=1479120361) 0px -240px;
}
.siteImgBox img {
    width: 100%;
    height: 100%;
    display: block;
}
.zxjzTextArea {
	width:100%;
	height:100px;
	border-radius:5px;
	border:1px solid #ccc;
	box-shadow:0px 2px 1px rgba(4,0,0,0.05) inset;
	padding:10px;
}
.zxjz_picA {
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 1px solid #b0b7c0;
    border-radius: 3px;
    background-color: #bcc4d0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 0!important;
}
.zxjz_picA:hover{
      background-color: #9eb7d8;
      color:#fff;
}
.zxjz_btnBox span {
    padding: 0px 0px 0px 8px;
    line-height: 36px;
    color: #999;
}
.zxjz_inputOuterBox {
	border:1px solid #e4e4e4;
	background-color:#f0f4fa;
	border-radius:3px;
	margin:22px 0px 0px 0px;
	padding:18px 13px 15px 70px;
	position:relative;
  width: 80%;
  margin: 0 auto;
}
 .plA {
    color: #ff6520;
    float: right;
}
.hoUdLink:hover {
    color: inherit;
    text-decoration: underline;
}
.sitePHBox {
    position: relative;
}
.plDisFootBtn {
    width: 84px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 1px solid;
    border-radius: 3px;
    float: right;
    background-color: #50abf2;
    border-color: #3d9ee9;
    margin-top: 10px;
}
.plDiscBox{
   margin: 15px 0;
   /*display: none;*/
}
