.file-item {
    float: left;
    position: relative;
    margin: 0 0 10px;
    padding: 4px;
}
.qsc-uploader .file-item {
    margin: 0!important;
}
.qsc-uploader .thumbnail {
    width: 33.333333%;
    min-height: 90px;
}
.file-item.thumbnail {
    border: none;
    border-radius: 0;
}
.qsc-uploader .uploader-list .thumbnail, .qsc-uploader .webPicPicker {
    width: 120px!important;
    height: 120px!important;
}
.qsc-uploader .webPicPicker{
  padding: 0;
}
.qsc-uploader .uploader-list .thumbnail {
    width: 20%;
    margin-bottom: 4px!important;
}
.qsc-uploader .uploader-list .thumbnail a {
    display: block;
    overflow: hidden;
    background: #eee;
    height: 120px;
}
.file-item div.file-panel {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
}
.qsc-uploader .file-item .file-panel {
    top: 4px;
    right: 4px;
    border-radius: 2px;
    box-shadow: none;
    padding: 4px;
}
.file-item .error, .file-item .info {
    right: 4px;
    font-size: 12px;
    height: 20px;
    text-align: center;
}
.file-item .info {
    position: absolute;
    left: 4px;
    bottom: 4px;
    line-height: 20px;
    text-indent: 5px;
    background: rgba(0,0,0,.6);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 2;
}
.qsc-uploader .thumbnail img, .uploader-list {
    width: 100%;
}
.qsc-uploader .file-item .file-panel span {
    background: rgba(0,0,0,.5);
    border-radius: 2px;
    color: #fff;
    width: 20px!important;
    height: 20px!important;
    line-height: 20px!important;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    display: block;
    cursor: pointer;
}
 .wrap .modules-title {
    font-size: 18px;
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin: 0;
}
.qsc-lists {
    /*margin-bottom: 30px;*/
}
.footer-btn {
    /*padding: 20px 0;*/
}
.btn {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    font-size: 16px;
    padding: 8px 26px;
}
.btn-default, .btn-default:active, .btn-default:active:focus, .btn-default:focus, .btn-default:hover {
    border-color: #D9D9D9;
    color: #6F7A7E;
    background: #fff;
}
.icon-plus{

}
.addreward{
  width: 600px;
  height: 640px;
  position: fixed;
  z-index: 3;
  top: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  background: #fff;
  display: none;
}
#addlist{
   height: 327px!important;
}
.form-group-lg textarea.form-control {
    height: auto;
}

 .modal-header {
    padding: 20px;
    border-bottom: none;
}
.close {
    float: right;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close {
    font-size: 26px;
    line-height: 1.1;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.modal-header .close {
    margin-top: -3px;
}
.modal-title {
    margin: 0;
        font-weight: 600;
            font-size: 18px;
    line-height: 1.42857143;
}

.input-group .input-group-mb{
   z-index: 1!important;

}
div.modal-body {
    padding: 15px 35px;
}
.qsc-lists .item {
    width: 100%;
    display: block;
    border-bottom: 1px solid #E6E8E8;
    text-decoration: none;
    padding: 30px 0;
    position: relative;
}
.qsc-lists header {
    position: relative;
    padding: 5px 70px 5px 65px;
    transition: all .2s cubic-bezier(.25,0,.25,1);
}
.qsc-lists header .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: block;
    overflow: hidden;
    transition: all .2s cubic-bezier(.25,0,.25,1);
}
img {
    vertical-align: middle;
}
.qsc-lists header h6 {
    font-size: 16px;
    line-height: 1.3;
    color: #2B3845;
    font-weight: 400;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.qsc-lists header h6 strong {
    font-weight: 400;
}
.reward-lists .item header strong {
    color: #f25b4b;
}
.qsc-lists footer {
    font-size: 12px;
    color: #6F7A7E;
    padding-left: 65px;
    transition: all .2s cubic-bezier(.25,0,.25,1);
}
.reward-lists .item footer {
    font-size: 13px;
}
.large.btn-primary {
    font-weight: 600;
}
.btn-group-lg>.btn, .btn-lg {
    border-radius: 50px;
    font-size: 16px;
    line-height: 1.4;
}
.btn-primary {
    background: #43AC43;
    border-color: #43AC43;
    color: #fff;
}
.btn-default{
  border-color: #D9D9D9;
color: #6F7A7E;
background: #fff;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.icheck-label {
    font-size: 16px;
    color: #6F7A7E;
    font-weight: 400;
    position: relative;
    top: 2px;
    margin-left: 3px;
}
.qsc-forms .icheck-label {
    margin-right: 40px;
}
.form-container-notice {
    height: 35px;
    line-height: 35px;
    background: #fbfbfb;
}
.form-container-notice a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.form-container-notice a span {
    font-size: 13px;
    color: #988c21;
    line-height: 35px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAXNJREFUKBV9UztOw0AQndlwhoSCxg50cINQ88kJKJEARwIKEioOQIVNAUgxIHGK8KmTlgYoid1QEJ8BPMyztIlj2ay08u7se96ZeW+ZCkNE+PayucpE6yJUZ6ZEiIYHJ+MPZtblbChmNu6D5vKvyIOQLDHxk54kOuu639L9V415d687/rSMKfnOd7eVOGBDx143vrYA+w1951CIz2tEO/u96BHxjIwbf0ReNcWW143eLaH4DQN3TVJ5WzBmBRkY1IhUmeSsSOxfOHM14hyZZaUpz6A5qNHrxTfFm8r2KAl48AwJtYzwcxmwKoZmQg2jgIYwTaqAFfEEMoIM4mIFqCqc6W+03yOtYaMM1TmNp1Lmz6E7jEPodui7wzBwjvIArPu+OyjGoDfw4BlYDs6RlK6gYx7c6UXt/D7TGUZRPHiomSC4BtrahBH+nCfYNTKDQeAwa9G5mgreflHitz6FRsqy+a+37Q32VUF/jTV0TtDUslf1B+s2tg2zkjA1AAAAAElFTkSuQmCC) left center no-repeat;
    padding-left: 20px;
}
.bfixed{
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: fixed;
      z-index: 3;
}
#shuoming{
   display: none;;
}
.shuoming{
  width: 508px;

   text-align: Justify;

  background: #fff;

  margin: 0 auto;
    margin-top: 10%;
}

.stitle{
    padding: 20px 0 12px;
    font-weight: 600;
    font-size: 18px;
}
.sbody{
      padding: 0 26px 15px;
}
.sfooter{
      padding: 12px;
          border-top: 1px solid #e5e5e5;
}
.btn-primary {
    background: #43AC43;
    border-color: #43AC43;
    color: #fff;
}

#set2,#set3,#set4{
   /*display: none;*/
}
.qsc-list-card li {
    width: 33.3333%;
    display: block;
    float: left;
    margin: 15px 0;
}
.qsc-list-card li a {
    border: 1px solid #E6E8E8;
    border-radius: 2px;
    margin-right: 20px;
    display: block;
    color: #6F7A7E;
    font-size: 16px;
    position: relative;
    padding: 15px 25px 15px 15px;
}
.qsc-list-card li a small {
    display: block;
    color: #999;
    font-size: 13px;
}
.qsc-list-card li a:before, .reward-lists .item:before {
    display: block;
    width: 11px;
    height: 11px;
    content: " ";
    border-bottom: solid 1px #D9D9D9;
    border-right: solid 1px #D9D9D9;
    position: absolute;
    right: 20px;
}
.qsc-list-card li a:before {
    transform: rotate(312deg);
    top: 29px;
}
.btn-default.text-success {
    color: #43AC43;
}
.publish-form-item2{
  background: #F7F9FA;
  padding: 30px;
}
.large {
    padding: 8px 40px;
}
.icon-plus2 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAACVBMVEX////U09jS0daj1QF6AAAAAXRSTlMAQObYZgAAAB5JREFUOMtjZEAFjAz/0QVGFQwjBYwUKxgNyZGkAAAgjSAjh3XgCQAAAABJRU5ErkJggg==) no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
    display: block;
    margin: 10px auto;
}
}
 .icon-plus2 {

}
