.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h2.modules-title {
    margin: 40px 0;
    font-size: 28px;
    position: relative;
    color: #2B3845;
    font-weight: 400;
}
.col-md-4 {
    width: 33.33333333%;
    float: left;
}
.qsc-media-reports .container .item {
    /*border-right: 1px solid #f1f1f1;*/
    margin-bottom: 60px;
}
.qsc-media-reports .container .item a>h6 small {
    color: #aaa;
    font-size: 14px;
}
.qsc-media-reports .container .item a>h6 {
    font-size: 14px;
    color: #2B3845;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
}
.qsc-media-reports .container .item a>h3, .qsc-media-reports .container .item a>p {
    -ms-text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.qsc-media-reports .container .item a>h3 {
    font-size: 18px;
    line-height: 25px;
    height: 50px;
    color: #2B3845;
}
.qsc-media-reports .container .item a>p {
    font-size: 12px;
    max-height: 36px;
    color: #999;
    line-height: 1.6;
    margin-bottom: 8px;
}
.qsc-media-reports .container .item a>strong {
    display: block;
    color: #2B3845;
    font-weight: 400;
}
.qsc-media-reports .container .item a {
    display: block;
    padding: 0 15px;
border-right: 1px #eee solid;
}
.qsc-media-reports .container .item:nth-child(3n) a{
      border-right: none;
}
h2.modules-title>a.more {
    font-size: 16px;
    line-height: 30px;
    color: #43AC43;
    position: absolute;
    right: 0;
    top: 0;
}

.arrow:after, .btn-list-card a:before, .qsc-help-list ul li a:before, h2.modules-title>a.more:before {
    content: " ";
}
h2.modules-title>a.more:before {
    width: 22px;
    height: 4px;
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAIBAMAAABwlwASAAAAElBMVEUAAABErURErERJrUlErERDrENDH0pAAAAABXRSTlMA5qYc7dRG+h8AAAAxSURBVAjXY2BWFDJgAAI0hkloqDOIg8ZQDQ0NAnHQGKKhoYEgDioDhzAOQ3BYicOBAABQFlFKpT8nAAAAAElFTkSuQmCC) no-repeat;
    background-size: 22px;
    margin-bottom: 4px;
    margin-right: 10px;
    -moz-transition: all .2s cubic-bezier(.25,0,.25,1);
    -o-transition: all .2s cubic-bezier(.25,0,.25,1);
    transition: all .2s cubic-bezier(.25,0,.25,1);
}

h2.modules-title>a.more:hover:before{margin-right:7px}
.qsc-media-reports .container .item a:hover>strong {
    color: #43AC43;
}
