p {
    margin: 0 0 10px;
}
.qsc-media-item {
    border-bottom: 1px solid #E6E8E8;
    padding: 30px 0;
}
.qsc-media-item h3 {
    font-size: 22px;
    line-height: 1.4;
    color: #2B3845;
    font-weight: 400;
}
.qsc-media-item h3 a {
    color: #2B3845;
}
.qsc-media-item h3 small {
    display: block;
    padding: 20px 0 10px;
    font-size: 14px;
}
.qsc-media-item p {
    font-size: 15px;
    line-height: 1.8;
}
.qsc-media-item p a {
    color: #43AC43;
    font-size: 16px;
    font-weight: 600;
}
