.qsc-tab {
    width: 100%;
    display: block;
}
.qsc-tab .tab-item {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #E6E8E8;
}
.qsc-tab .tab-item li {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-right: 40px;
}
.qsc-tab .tab-item li {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-right: 40px;
}
.qsc-tab .tab-item a {
    display: block;
    padding: 12px 0;
    margin-right: 0;
    color: #6F7A7E;
    font-size: 16px;
    text-align: center;
}
.qsc-tab .tab-item .active {
    border-bottom: 1px solid #43AC43;
    position: relative;
    bottom: -1px;
}
.newsbox{
    margin-top: 15px;
}
.nitem{
   /*float: left;*/
   width: 100%;
   display: block;
   padding: 15px;
   margin-bottom: 15px;
   border-bottom: 1px solid #dfdfdf;
   cursor: pointer;
}
.nitem:hover{
   background: #eee;
}
.nitem img{
   width: 260px;
   height: 145px;
}
.nitem h2{
  /*margin-left: 20%;*/
  text-align: right;
  padding: 0 50px;
  margin: 15px 0;
}
.nitem .span{
      text-align: right;
        margin: 15px 0;
}
.nitem span{
    padding: 0 15px;
    color: #787878;
    font-size: 13px;
}
.nitem .content{
  padding: 35px;
  line-height: 24px;
  font-size: 14px;
}
.listitem{
  margin-bottom: 15px;
}
.listitem div:first-child{
       position: relative;
       line-height: 25px;
}
.listitem div:first-child div:nth-child(2){
    float: left;

}
.listitem div:first-child div:nth-child(3){
      float: right;
}
.avatar{
  width: 32px;
      height: 32px;
      border-radius: 50px;
      position: absolute;
      left: 0;
}
.nickname1{
  padding-left: 40px;
  font-size: 14px;
    font-weight: bold;
}
.col-md-10{
   width:83.33333333%;
   float:left;
}
.content{
     padding-left: 40px;
}
.info{
  padding: 0 20px;
  width: 90%;
}
.info div{
      width: 100%;
      background: #fbfbfb;
      padding: 5px 20px;
}
.info .b{
   color: #82bff5;
}
.info span{
  padding: 0px 10px;
  border: 1px solid #44a2ec;
  border-radius: 5px;
  margin-left: 8px;
}
.info small{
   color: red;
}
