.wraps{
    width: 800px;
    padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.qsc-page {
    margin: 40px 0;
}
.qsc-tab {
    width: 100%;
    display: block;
}
.qsc-tab .tab-item {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #E6E8E8;
}
.qsc-tab .tab-item li {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-right: 40px;
}
.qsc-tab .tab-item .active {
    border-bottom: 1px solid #43AC43;
    position: relative;
    bottom: -1px;
}
.qsc-tab .tab-item a {
    display: block;
    padding: 12px 0;
    margin-right: 0;
    color: #6F7A7E;
    font-size: 16px;
    text-align: center;
}
.qsc-tab .tab-item .active a {
    padding: 12px 0 11px;
    position: relative;
    top: -1px;
    color: #43AC43;
}
.qsc-lists {
    margin-bottom: 30px;
}
.qsc-lists.project-list-item .subtab {
    margin-top: 10px;
    margin-bottom: 0;
}
.subtab li {
    margin: 15px 10px;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.subtab .btn {
    padding: 2px 15px;
    border: none;
    background: 0 0;
}
.subtab .btn.btn-default {
    color: #6F7A7E;
    font-size: 14px;
}
.subtab .active .btn {
    background-color: #43AC43;
    color: #fff;
    font-weight: 600;
}
.btn{
  border-radius: 50px;
-webkit-border-radius: 50px;
font-size: 16px;
padding: 8px 26px;
}
.subtab {
    text-align: center;
    padding: 0;
}
.grzxTabBox {
    padding: 0px 23px 30px 23px;
}
.grzxTabBox {
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #fff;
}
.grzxTabUl {
    border-bottom: 3px solid #ebeef1;
    height: 57px;
}
.grzxTabUl .grzxTabLi {
    height: 57px;
    line-height: 57px;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 3px solid #ebeef1;
    padding: 0px 20px;
}
.grzxTabUl .grzxTabLi.cur {
    border-bottom: 3px solid #50abf2;
}
.grzxTabLi  a{
 display: block;
}
.grzx_ddList {
    margin: 17px 0px 0px 0px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.gqDDListTable {
    width: 100%;
        font: 12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.gqDDListTable thead tr {
    border: 1px solid #eceaea;
    height: 37px;
}
.gqDDListTable thead th {
    background-color: #eaebec;
    font-style: normal;
font-weight: normal;
}
.gqDDListTable tr:first-child td:first-child, .gqDDListTable th:first-child {
    text-indent: 15px;
    text-align: left;
}
.mededed{
  background-color: #f6f7f8;
padding: 34px 0px 30px 0px;
}
.xxPageBox {
    padding-top: 30px;
}
.smrzDL_statusBox {
    height: 317px;
    text-align: center;
    padding: 59px 0px 0px 0px;
}
.qsc-lists .item {
    width: 100%;
    display: block;
    border-bottom: 1px solid #E6E8E8;
    text-decoration: none;
    padding: 30px 0;
    position: relative;
}
.qsc-lists.project-list-item .item {
    position: relative;
    overflow: hidden;
}
.qsc-lists header {
    position: relative;
    padding: 5px 70px 5px 65px;
    transition: all .2s cubic-bezier(.25,0,.25,1);
}
.qsc-lists.project-list-item header {
    padding: 5px 0 5px 100px;
}
.qsc-lists footer {
    font-size: 12px;
    color: #6F7A7E;
    padding-left: 65px;
    transition: all .2s cubic-bezier(.25,0,.25,1);
    display: block;
}
.qsc-lists.project-list-item .project-status_footer, .qsc-lists.project-list-item footer {
    padding-left: 100px;
}
.qsc-lists.project-list-item .project-status_footer {
    color: #6F7A7E;
    font-size: 13px;
    margin-top: 10px;
    transition: all .2s cubic-bezier(.25,0,.25,1);
}
.qsc-lists.project-list-item .project-status_footer, .qsc-lists.project-list-item footer {
    padding-left: 100px;
}
.qsc-lists header .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: block;
    overflow: hidden;
    transition: all .2s cubic-bezier(.25,0,.25,1);
}
.qsc-lists.project-list-item header .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
}
.qsc-lists.project-list-item header .icon img{

  width: 100%;
}
.qsc-lists header h6 {
    font-size: 16px;
    line-height: 1.3;
    color: #2B3845;
    font-weight: 400;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.qsc-lists header .qsc-lists-tit h6 {
    float: left;
    max-width: 350px;
}
.qsc-lists.project-list-item .project-status_footer>span {
    margin-right: 20px;
}
.qsc-lists.project-list-item .project-status_footer>span strong {
    color: #f25b4b;
    font-weight: 400;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
.qsc-lists header .badge, .qsc-lists header h6 .badge {
    border: 1px solid #43AC43;
    background: #fff;
    color: #43AC43;
    padding: 2px 8px;
    font-weight: 400;
    margin: 0 10px;
}
.qsc-lists header .qsc-lists-tit .badge {
    float: left;
    margin: 0 10px;
}
.create-item{
   cursor: pointer;
}
.qsc-lists header .qsc-lists-tit {
    overflow: hidden;
}
.create-item:hover .modal-dashboard{width:100%;height:100%;position:absolute;right:0;top:0;text-align:right;background:rgba(255,255,255,.5);display:block!important}
.create-item:hover .modal-dashboard .btn{
  min-width:100px;
  margin:50px 5px 0;
  font-size:15px;
  padding:6px 20px;
  position:relative;
  top:0;
  z-index:2;
  -webkit-transition:all .2s cubic-bezier(.25,0,.25,1);
  -moz-transition:all .2s cubic-bezier(.25,0,.25,1);
  -o-transition:all .2s cubic-bezier(.25,0,.25,1);
  transition:all .2s cubic-bezier(.25,0,.25,1);
      box-sizing: border-box;
}
.modal-dashboard{
   display: none;
}
.create-item .modal-dashboard .btn:hover{top:-3px}
.btn-primary {
    background: #43AC43;
    border-color: #43AC43;
    color: #fff;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.gqDDListTable tbody tr:first-child {
    height: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.gqDDListTable tbody .ftTr {
    background-color: #f6f7f8;
    height: 35px;
    text-indent: 15px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.gqDDListTable tbody .ftTr .dingdan {
    margin-left: 18px;
}
.fqr_linkA {
    position: relative;
}
.colorA02Link {
    color: #50abf2 !important;
    text-decoration: none;
}
.fqr_linkA {
    position: relative;
}

.gqDDListTable tbody .ftTr .ftTr_delA {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../../images/grzxBg.png) no-repeat 0px -72px;
    margin: 0px auto;
}

.gqDDListTable .inforTr {
    border: 1px solid #e4e4e4;
    border-top: 1px solid #f0f0f0;
}
.gqDDListTable tbody .inforTr td {
    padding: 28px 0px;
}
.ddImgBox {
    width: 80px;
    height: 60px;
    float: left;
    margin-left: 10px;
}
.gqDDListTable tbody .inforTr td > div {
    min-height: 60px;
}
.ddImgBox img {
    width: 80px;
    height: 60px;

    display: block;
}
.ddImgText {
    margin-left: 10px;
    float: left;
    width: 180px;
}
.gqDDListTable tbody .inforTr td > div {
    min-height: 60px;
}
.gqDDListTable tbody .inforTr td > div {
    min-height: 60px;
}
.gqDDListTable .inforText_p {
    /* height: 20px; */
    text-align: center;
    min-height: 20px;
}
.gqDDListTable .inforRatioBox {
    height: 20px;
    width: 140px;
    overflow: hidden;
}
.gqDDListTable .inforRatioBox .inforRatio {
    width: 62px;
    height: 6px;
    border-radius: 3px;
    background-color: #e4e4e4;
    overflow: hidden;
    margin: 7px 0px 7px 0px;
    float: left;
    margin-left: 18px;
}
.gqDDListTable .inforRatio .inner {
    height: 6px;
    background-color: #55acef;
}
.gqDDListTable .inforRatioBox span {
    height: 20px;
    line-height: 20px;
    float: left;
    min-width: 30px;
    margin-left: 5px;
    text-align: center;
}
.ddLastbtn_A {
    width: 72px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    margin: 0 0 5px 0;
    cursor: pointer;
    background-color: #ff6520;
    border-radius: 3px;
    color: #fff;
}

.ddLastbtn_B {
    width: 72px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    margin: 0 0 5px 0;
    cursor: pointer;
    background-color: #82BB0E;
    border-radius: 3px;
    color: #fff;
}
.gqDDListTable tbody .inforTr td {
    padding: 28px 0px;
}
.gqDDListTable .btnTd {
    text-align: center;
    position: relative;
}

  #wuliublock{
     background: #000;
     opacity: 0.6;
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     z-index: 2;
     display: none;
  }
  .modal-content{
    position: absolute;
    z-index: 3;
    top: 125px;
    left: 0;
    right: 0;
    width: 600px;
    background: #fff;
    margin: 0 auto;
    border-radius: 3px;
    display: none;
  }
  .modal-header{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.modal-header .close {
    margin-top: -2px;
}
  .modal-body {
    padding: 20px 30px 30px 30px;
    position: relative;
    height: 350px;
      overflow-y: scroll;
}


  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.btn-default {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
    font-size: 14px;
        border-radius: 3px;
        display: inline-block;
padding: 6px 12px;
}
.loadingbar{
   background: black;
   opacity: 0.7;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: :0;
   display: block;
   z-index: 4;
   height: 100%;
   width: 100%;
   display: none;
}
.loadtiaobox{
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 10px;
  background: #fff;
  width: 80%;
  z-index: 5;
  border-radius: 5px;
  text-align: center;
  display: none;
}
.loadtiaobox p{
    margin-top: -7px;
    position: absolute;
    z-index: 5;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -4px;
    font-weight: bold;
}
.loadtiao{
  background: red;
width: 43%;
display: block;
height: 10px;
position: absolute;
top: 0;
border-radius: 5px;
}
.list-main {min-height:100px; background:#fff; padding:10px;}
.list {height:75px; border-left:1px solid #eee; padding-left:20px; position:relative;}
.list .info {height:75px; border-top:1px solid #eee; padding:10px; font-size:14px; color:#666;}
.list .info .step { height:40px;}
.list .info .time { height:20px;}
.list:first-child .info { color:#25ae5e}
.list .dot {height:10px; width:10px; border-radius:10px; background:#ddd; position:absolute; left:-6px; top:12px;}
.list:first-child .dot {height:12px; width:12px; background:#25ae5e; border-radius:12px; border:1px solid #bbe2c9; left:-8px;}
