

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.wrap2{
   width: 600px;
   margin: 0 auto;
}
.qsc-tab {
    width: 100%;
    display: block;
}
.qsc-tab .tab-item {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #E6E8E8;
}
.qsc-tab .tab-item li {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-right: 40px;
}
.qsc-tab .tab-item .active {
    border-bottom: 1px solid #43AC43;
    position: relative;
    bottom: -1px;
}
.qsc-tab .tab-item a {
    display: block;
    padding: 12px 0;
    margin-right: 0;
    color: #6F7A7E;
    font-size: 16px;
    text-align: center;
}
.qsc-tab .tab-item .active a {
    padding: 12px 0 11px;
    position: relative;
    top: -1px;
    color: #43AC43;
}
.qsc-project-publish .tab-pane {
    padding-bottom: 40px;
}
.form-group {
    margin-bottom: 30px;
}
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
        box-sizing: border-box;
}
label.control-label {
    font-size: 16px;
    font-weight: 400;
    padding-top: 0!important;
    line-height: 46px;
}
.form-horizontal .form-group-lg .control-label {
    text-align: left;
}
.form-horizontal .form-group-lg .control-label {
    color: #6F7A7E;
}
.form-horizontal .form-group-lg .control-label {
    font-size: 17px;
}
.user-avatar>span {
    color: #fff;
    font-size: 13px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 2;
    text-align: center;
    z-index: 5;
    background: rgba(0,0,0,.5);
    background: #000\9;
}
.user-avatar {
    position: relative;
    display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.qsc-uploader .thumbnail img, .uploader-list {
    width: 100%;
}
.webPicPicker {
    width: 120px;
    overflow: hidden;
    cursor: pointer;
}
.large {
    padding: 8px 40px;
}
.btn-primary {
    background: #43AC43;
    border-color: #43AC43;
    color: #fff;
}
.large.btn-primary {
    font-weight: 600;
}
.address-list {
    margin: 20px 0;
}
.qsc-lists .item {
    width: 100%;
    display: block;
    border-bottom: 1px solid #E6E8E8;
    text-decoration: none;
    padding: 30px 0;
    position: relative;
}

.qsc-lists .item .button{
  position: absolute;
  height: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #C72626;
  color: #fff;
  padding: 5px 30px;
  margin: auto 0;
  border-radius: 16px;
  display: none;
}
.qsc-lists .item:hover{
   display: block;
}
.address-list .item {
    padding: 20px 0;
}
.address-list header {
    padding: 0;
    margin-bottom: 5px;
}
.qsc-lists footer {
    font-size: 12px;
    color: #6F7A7E;
    padding-left: 65px;
    transition: all .2s cubic-bezier(.25,0,.25,1);
}
.address-list footer {
    padding-left: 0;
}


.badge, .label {
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
.qsc-lists header .badge, .qsc-lists header h6 .badge {
    border: 1px solid #43AC43;
    background: #fff;
    color: #43AC43;
    padding: 2px 8px;
    font-weight: 400;
    margin: 0 10px;
}
.text-right {
    text-align: right;
}
.btn-group-lg>.btn, .btn-lg {
    border-radius: 50px;
    font-size: 16px;
    line-height: 1.4;
}
.bankcard-list {
    margin: 30px 0;
}
.col-xs-4 {
    width: 33.33333333%;
        float: left;
}
.select-group select.btn {
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 16px;
    border-color: #E1E5E7;
    width: 100%;
}
.btn-default {
    border-color: #D9D9D9;
    color: #6F7A7E;
    background: #fff;
}
.caret-line {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: 0 0!important;
    margin-left: 10px;
    border-bottom: solid 1px #D9D9D9;
    border-right: solid 1px #D9D9D9;
    -webkit-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    transform: rotate(405deg);
}
.select-group{
   /*padding: 0 15px;*/
   /*width: 84%;*/
}
.select-group .caret-line {
    width: 9px;
    height: 9px;
    margin-left: 0;
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
    position: absolute;
    top: 14px;
    right: 24px;
    z-index: 1;
}
.select-group, .title-line {
    position: relative;
    /*padding: 0 15px;*/
}
.select-group select.btn {
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 16px;
    border-color: #E1E5E7;
}
.form-switch>label.radius {
    position: relative;
    display: inline-block;
    color: #fff;
    width: 48px;
    height: 32px;
    background: #fff;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #e9e9e9;
    transition: all .4s cubic-bezier(.17,.67,.43,.98);
}
.form-switch>input[type=checkbox] {
    display: none;
}
.form-switch>label.radius:before {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    transition: margin-left .2s ease 0s;
    -webkit-transition: margin-left .2s ease 0s;
    margin: 2px;
    background: #fff;
    box-shadow: inset 0 0 0 .03em rgba(0,0,0,.1),0 0 .05em rgba(0,0,0,.05),0 .1em .2em rgba(0,0,0,.2);
}
.form-switch>label.radius:after, .form-switch>label.radius:before {
    position: absolute;
    content: "";
}
.form-switch>input:checked+label {
    background: #43AC43;
    transition: all .15s ease-out;
}

.form-switch>input:checked+label:before{margin-left:18px}
.add-bankcard {
    text-align: center;
    padding: 0;
}
.add-bankcard .btn {
    padding: 1px 15px;
    margin: 15px 10px;
    border-color: #fff!important;
    background: #fff!important;
        border-radius: 30px;
}
.add-bankcard li.btn.active {
    border: 1px solid #43AC43!important;
    background-color: #43AC43!important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
}

.add-bankcard li.btn.btn-default>a {
    color: #6F7A7E;
    font-size: 14px;
}
.add-bankcard li.btn.active>a {
    color: #fff;
    font-weight: 600;
}
.text-center {
    text-align: center;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.help-block {
    font-size: 13px;
    color: #6F7A7E;
}
.col-md-2 {
    width: 16.66666667%;
    float: left;
}
.col-md-8 {
    width: 66.66666667%;
    float: left;
}
.select-group, .title-line {
    position: relative;
}
.select-group select{width: 100%;}
.select-group select.btn {
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 16px;
    border-color: #E1E5E7;
}
select.btn {
    text-align: left!important;
}
.large {
    padding: 8px 40px;
}
.btn-group-lg>.btn, .btn-lg {
    border-radius: 50px;
    font-size: 16px;
    line-height: 1.4;
}
.btn-default {
    border-color: #D9D9D9;
    color: #6F7A7E;
    background: #fff;
}
