*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body{ width:100%; height:100%;}
html, body, div, p, ol, ul, li,h1, h2, h3, h4, h5, h6{ margin: 0; padding: 0; }
img { border:none; vertical-align: middle;width:100%; }
ol,ul,li { list-style-type: none; }
h1, h2, h3, h4, h5, h6, table, th, td  { font-weight: 500; font-size:100%; color: inherit; }
body{ font-size:14px; font-family: "微软雅黑", arial; max-width: 640px;color:#999;}
.normal, em, i { font-style:normal; font-weight:normal; }
a {text-decoration:none;}
.clearfix { display:block; zoom:1; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0; }
*html .clearfix { height:1%; }

#box{padding:20px;}
#box .boxTit{ text-align: center; padding: 20px 0;}
#box .boxTit h2{ font-size: 20px;color:#333; border-bottom: 1px solid #e5e5e5; padding-bottom: 10px;}
#box .boxTit p{ padding-top: 10px;}
#box .boxTit p i{padding-left: 10px;}
#box .boxTit a{color:#607fa6;}
#box .boxMin img{ display: block; margin-bottom: 20px;}
#box .boxMin p{line-height: 24px;}

#box .boxMa{ position: fixed; z-index:999;top:0px; left:0px;width:100%; height: 100%; background: rgba(0,0,0,0.8); display: none;}
#box .boxMa_min{ text-align: center;color:#fff; position: relative; padding: 20px;}
#box .boxMa_min i,#box .elastic .ceng i{width:31px; height:31px;background: url(../images/close.png) no-repeat;display: block; position: absolute;top: 15px;right: 20px;}
#box .boxMa_min img{width:150px; height: 150px; margin: 0 auto; margin-top: 60px;}
#box .boxMa_min p{line-height: 24px; padding-top: 20px;}

#box .zhifu{width:100%; margin:30px 0px 30px 0;text-align: center;}
#box .zhifu p{color:#CDCDCD; padding: 10px 0;}
#box .zhifu a{width:30px;color:#08ba06; line-height: 30px; text-align: center; display: inline-block; border:1px solid #08ba06;-webkit-border-radius: 10px;border-radius: 10px;}
#box .zhifu .a1{width:60%; background: #08BA06;color:#fff;}
#box .zhifu .a2{width:3rem; height: 3rem;line-height: 3rem; font-size: 25px; -webkit-border-radius: 100%;border-radius: 100%;}
#box .zhifu span{display: block; margin-top: 10px;}
#box .zhifu .img{ text-align: center; margin-top: 5px;}
#box .zhifu .img span{display: inline-block; padding: 0 5px;}
#box .zhifu .img span img{width:2rem; height: 2rem; -webkit-border-radius: 100%;border-radius: 100%;}

#box .elastic{position:fixed; z-index:999;top:0px; left:0px;width:100%; height: 100%; background: rgba(0,0,0,0.8);display: none; }
#box .elastic .ceng{width:90%; position: absolute;top: 50%;left: 50%; padding:20px;background: #fff;-webkit-border-radius: 10px;border-radius: 10px;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%); }
#box .elastic .ceng_min{text-align: center;}
#box .elastic .ceng_min h3{ font-size: 20px;}
#box .elastic .ceng_min p{color:#f00; padding-top: 18px;}
#box .elastic .ceng_min input{width:100%;height: 40px; display: block; border:1px solid #CDCDCD; outline: none; -webkit-border-radius: 5px;border-radius: 5px; margin: 25px 0;padding-left: 10px;}
#box .elastic .ceng_min a{width:100%;height: 40px; line-height: 40px; background: #333;color:#fff; display: block;-webkit-border-radius: 5px;border-radius: 5px;}
#box .elastic .ceng i{top: -10px;right: 0px; box-shadow: -1px 1px 1px rgba(0,0,0,0.6); -webkit-border-radius: 100%;border-radius: 100%;}

#box .boxUp{width:100%; position: relative;}
#box .boxUp li{display: inline-block; padding-right: 20px;}
#box .boxUp li i,#box .boxUp li a{color:#607FA6}
#box .boxUp li span{ padding-left: 5px;}
#box .boxUp .home{position: absolute;bottom: -3px;right: 0px;color:#969696}
#box .boxUp .home i{vertical-align: middle; padding-right: 5px;font-size: 20px;}

#box .liuyan{ margin-top:10px;}
#box .liuyan .xiexin{width:100%;text-align:right;display: block;color:#397eaf;padding: 10px 0;}
#box .liuyan .xiexin i{font-size: 14px; padding-left: 5px;}
#box .liuyan h3{ padding: 10px 0px;position: relative;border-bottom: 1px solid #E5E5E5;}
#box .liuyan h3:before{content: '';display: block;width:28px;height: 1px;background:#08BA06;position: absolute;bottom:-1px;left: 0px;}
#box .liuyan_min textarea{width:100%;height: 70px;background:#fafafa;border:1px solid #E5E5E5;color:#969696;padding: 10px;}
.liuyan_min .btn{width:100%;float: right; margin:10px 0 20px 0;}
.liuyan_min .btn a{width:100%; height: 2.5rem;line-height:2.5rem;text-align:center;background: #08BA06;color:#fff;display: block;-webkit-border-radius: 5px;border-radius: 5px;}

.liuyan_list ul{margin-top: 10px;}
.liuyan_list li{display: flex;display: -webkit-box;border-bottom: 1px solid #E5E5E5; padding: 8px 0;}
.liuyan_list li:last-child{border-bottom: none;}
.liuyan_list li .img{width:15%;display: block;}
.liuyan_list li .img img{-webkit-border-radius: 100%;border-radius: 100%;}
.liuyan_list li .right{width:90%; padding: 0 15px;}
.right_min01{padding-bottom: 8px;}
.liuyan_list li .right .zang{float: right;color:#969696;font-size: 14px;}
.liuyan_list li .right span i{color:#397EAF; padding-right: 5px;}
.liuyan_list li .right p{ padding: 10px 0 5px 0;color:#333;line-height: 20px;}
.liuyun_wz{font-size: 12px;}
.liuyan_list li .right .huifu{font-size: 12px;color:#CDCDCD; padding-right: 15px;cursor: pointer;display: inline-block;}

.huifu_min{border-top: 1px solid #E5E5E5;padding-top: 10px;}
.huifu_min .huifu_li{ padding: 5px 0;}
.huifu_min .huifu_li h5{position: relative;padding-left: 10px;}
.huifu_min .huifu_li h5:before{content: '';display: block;width:3px; height: 15px;background: #08BA06;position: absolute;top:0px;left: 0px;}
.huifu_min .huifu_li h5 i{float: right;font-size: 12px;}

.dianzan,.homeH{position: fixed;bottom:30px;left: 20px;width:2rem;height: 2rem;color:#fff;background:rgba(0,0,0,0.2);line-height: 1.8rem;text-align: center;-webkit-border-radius: 100%;border-radius: 100%;}
.homeH{bottom: 70px;}
.homeH a{display: block; text-decoration: none;}
.homeH i{ line-height: 2rem;}
.dianzan i ,.homeH i{font-size: 20px;color:#fff;}
.homeH{background: rgba(8,186,6,0.2);}
.homeH i{color:#08BA06;}

.rich_media_content{border:1px solid #E5E5E5; margin-bottom: 30px;}
.rich_media_content p{padding-bottom: 0px;line-height: inherit;}

.audio_play_area {
    float: left;
    margin: 9px 22px 10px 5px;
    font-size: 0;
    width: 18px;
    height: 25px;
}
.db {
    display: block;
}
.audio_area {
    display: block;
    font-size: 0;
    position: relative;
    font-weight: 400;
    text-decoration: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none
}

.audio_area .audio_title {
    font-weight: 400;
    font-size: 17px;
    margin-top: 4px;
    margin-bottom: 5px;
    color:#333;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.audio_area .audio_length {
    float: right;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 1em
}

.audio_area .audio_source {
    display: block;
    font-size: 14px
}

.audio_area .progress_bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0cbb08;
    height: 2px
}

.audio_area .unsupport_tips {
    display: none;
    padding: 20px 20px 8px;
    line-height: 1.6;
    font-size: 16px
}

.audio_area .pic_audio_default {
    display: none;
    width: 18px
}

.audio_area.unsupport .unsupport_tips {
    display: block
}

.audio_area.unsupport .pic_audio_default {
    display: inline-block
}

.audio_area.unsupport .icon_audio_playing {
    display: none
}

.audio_area.unsupport .icon_audio_default {
    display: none
}

.audio_wrp {
    background-color: #fcfcfc;
    overflow: hidden;
    *zoom: 1;
    padding: 12px 20px 12px 12px
}

.audio_info_area {
    overflow: hidden;
    *zoom: 1
}

.audio_play_area {
    float: left;
    margin: 9px 22px 10px 5px;
    font-size: 0;
    width: 18px;
    height: 25px
}

.playing .audio_play_area .icon_audio_playing {
    display: inline-block
}

.playing .audio_play_area .icon_audio_default {
    display: none
}

.audio_play_area .icon_audio_default {
    background: transparent url(../css/images/icon_audio_unread26f1f1.png) no-repeat 0 0;
    width: 18px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    -webkit-background-size: 18px auto;
    background-size: 18px auto
}

.audio_play_area .icon_audio_playing {
    background: transparent url(../css/images/icon_audio_reading_126f1f1.png) no-repeat 0 0;
    width: 18px;
    height: 25px;
    vertical-align: middle;
    display: inline-block;
    -webkit-background-size: 18px auto;
    background-size: 18px auto;
    -webkit-animation: audio_playing 1s infinite;
    display: none
}

@-webkit-keyframes audio_playing {
    30% {
        background-image: url(../css/images/icon_audio_reading_126f1f1.png);
    }
    31% {
        background-image: url(../css/images/icon_audio_reading_226f1f1.png);
    }
    61% {
        background-image: url(../css/images/icon_audio_reading_226f1f1.png);
    }
    62% {
        background-image: url(../css/images/icon_audio_reading_326f1f1.png);
    }
    100% {
        background-image: url(../css/images/icon_audio_reading_326f1f1.png);
    }
}


