*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body{width:100%;height: 100%;}
html, body, div, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button,img, textarea, iframe, table, th, td { margin: 0; padding: 0; }
img { border:none; vertical-align: middle;width:100%; }
ol,ul,li { list-style-type: none; }
h1, h2, h3, h4, h5, h6, table, th, td  { font-weight: 500; font-size:100%; color: inherit; }
body, input, select, button, textarea { font-size:14px; font-family: "微软雅黑", arial; }
.normal, em, i { font-style:normal; font-weight:normal; }
body {color:#000; line-height:160%;background:#f5f5f5; font-size: 14px;max-width: 640px;}
table { border-collapse:collapse; border-spacing:0; }
a { color:#292929; text-decoration:none;}
a:hover{-webkit-tap-highlight-color: rgba(0,0,0,0.1);}
table { border-collapse:collapse; }
input[type="button"]{ -webkit-appearance:none;appearance:none; border: none; outline:none;}
.clearfix { display:block; zoom:1; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0; }
*html .clearfix { height:1%; }
.iconfont{font-size: inherit;}
.bottom{margin-bottom: 16px;}
.domain{padding: 30px 0 60px 0;}
.touxiang{padding: 30px 0;}


#box{ padding-bottom: 58px;overflow: hidden;}
#box.expert{ padding-top: 46px;}
#box.active{ height: 100%; overflow: hidden;}
.homeTags{width:100%;left: 0px;top: 0px; height: 45px; z-index: 99; background: #fff;/*border-bottom: 1px solid #e5e5e5;*/}
.homeTags .tagCon{ position: relative;}
.homeTags .tagCon_Tit{width:40px;height:40px;background:#09BB07;line-height: 50px; text-align:center;position: absolute;top: 0px;left: 0px; font-size: 15px;}
.homeTags .tagCon_Tit h3{color: #fff;}
.homeTags .list{ overflow: hidden; overflow-x:auto; -webkit-overflow-scrolling: touch; position: relative;}
.homeTags .more{ float: right; width: 60px; height: 40px; position: absolute; top: 0; right: 0;background: #fff;}
.homeTags .more:after{content:""; display: block; width: 5px; height: 5px; border: 1px solid; border-color:#999 #999 transparent transparent; position: absolute; top: 14px; left: 50%; -webkit-transform: rotate(-225deg);transform: rotate(-225deg); margin-left: -4px;}
.homeTags ul{font-size: 0; white-space: nowrap; position: relative;display: -webkit-box;display: -webkit-flex;display: flex;}
.homeTags li{width:100%;text-align:center;height: 45px;line-height: 45px; border-bottom: solid 1px rgba(150, 150, 150, 0.4);  -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; box-flex: 1;  flex: 1;font-size: 15px; color: #000;text-decoration: none; -webkit-tap-highlight-color: transparent;}
.homeTags li i{color:#969696; padding-left: 5px;}
.homeTags li.active{/*background: #09BB07;border-bottom:2px solid #089506;*/color: #09BB07;}
.homeTags li.active i{color: #fff;}
.homeTags .bg{ content: ""; display:none; background: rgba(0,0,0,0.8); z-index: 98; opacity: 0;}
.homeTags .bg.active{ display: block;}

.homeTags.active ul{ margin-right: 0; overflow: auto; padding-bottom: 0; border-bottom: 20px solid #fff; background:#fff;}
.homeTags.active li{ display: block; float: left;}
.homeTags.active .more{ top: auto; bottom:-10px;}
.homeTags.active .more:after{-webkit-transform: rotate(-45deg);transform: rotate(-45deg); }

.search{background: #fff;margin-bottom: 10px;position: relative;}
.search_min,.search button i{width:100%; height: 45px;line-height:45px; }margin-bottom: 10px;}
.search_min{background: #f7f7f7; position: relative;}
.search input,.search button{border:none; background: none;width:100%; height: 100%;outline: none;}
.search input{padding-left: 10px;}
.search button{width:20%;position: absolute;top: 0px;right: 0px;}
.search button i{display: block;color: #969696; font-size: 18px;}


/****列表******/
.menu{width:95%;margin: 10px auto 0;}
.menu ul li{width:100%;-webkit-border-radius: 2px;border-radius: 2px; position: relative; overflow: hidden;display: block; background: #fff; margin-bottom: 10px;}
.menu ul li.active{display: block;}
.menu li a{ display: block;}
.menu .menu_li{width:100%; height:95px;background: #fff;border:1px solid rgba(229,229,229,.3);margin-bottom:10px; }
.menu_Min {min-height: 290px;position: relative;}
.menu .menuL{overflow: hidden;width:130px; height: 95px;font-size: 0;float: left; background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;}
.menu .menuL img{width:130px; height: 95px;}
.menu .menuR{max-height: 6rem;padding:8px 0;overflow: hidden; position: relative;}
.menu .menuR h2{font-size: 14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
.menu .menuR .date{color: #999;text-align: justify; font-size: 11px;}
.menu .menuR .date i{font-size: 12px; padding-right: 5px;}
.menu .menuR .date em{float: right;}
.menu .menu_Part{width:100%; font-size: 11px;color:#999;  -webkit-box-align: center;}
.menu .menu_Part span{padding-right: 0.8rem;text-align: justify;}
.menu .menu_Part span i{padding-right: 5px; font-size: 12px;}
.menu .menoy{position: absolute;bottom:8px;right: 8px;color:#999;}
.menu .menoy span{ font-size: 11px;}
.menu .menoy i{color:#999;}
.menu ul{min-height:13rem;position: relative;}
.menu .icon{text-align: center;color:#C9C9C9;position:absolute;top:68%;left:50%;transform:translate(-50%,-68%);}
.menu .icon i{font-size: 60px;}
.menu .icon p{padding-top: 20px;}

/****列表下拉框******/
.menuCon{width:100%; height:100%; position: fixed;top: 0px;left: 0px; background: rgba(0,0,0,0.8); display: none;z-index: 999;}

.menuCon .tabIn{width:100%; background: #fff;display:none;}
.menuCon .activ{display: block;margin-top: 45px;}
.menuCon .tabIn li{ float: left;width:33.3%;height:50px;line-height:50px;text-align: center;border-left: 1px solid rgba(229,229,229,.3);border-bottom: 1px solid rgba(229,229,229,.3);white-space:nowrap;overflow:hidden;}
.menuR_wz{padding: 3px 8px;}
.menu_up{border-top: 0.8px solid #f2f2f2; padding: 4px 8px;margin-left: 5px;}
#box .still{width:95%; height: 45px;background: #09BB07;-webkit-border-radius: 2px;border-radius: 2px; line-height: 45px;color:#fff; margin: 20px auto 70px;text-align: center;}
#box .display{display: none;}

@media only screen and (max-width: 320px){
    .menu .menuR{padding:7px 0px;}
    .menu .menuR .date{top: 25px;}
    .menu .menu_Part span{font-size: 10px; margin-top: 10px;}
}

table{width:100%;border-collapse: collapse;}
table tbody tr{border-bottom: 1px solid rgba(229,229,229,0.3);height: 50px;}
table tbody tr td{width:33.3%;border-right: 1px solid rgba(229,229,229,0.3);text-align: center;}
table tbody tr td:nth-child(3n){border-right: none;}
/****收益******/
.profit_add{background: #fff; padding: 0 13px;}
.profit_add .profit_up{height: 45px;line-height: 45px;}
.profit_add .profit_up h3{float:left;font-size: 15px;}
.profit_add .profit_up span{float:right;font-size: 22px;color:#efc427;}
.profit_add .profit_up span i{font-size:12px;color:#212121; padding-left: 3px;}
.profit_add .profit_un{ padding: 18px 0;}
.profit_add .profit_un li{width:50%;float: left;text-align: center;font-size: 18px;color:#efc427;position: relative;}
.profit_add .profit_un li:nth-child(2):before{content: '';display: block;width:1px; height: 40px;background:rgba(229,229,229,.4);position: absolute;top:0px;left: 0px;}
.profit_add .profit_un li i{font-size: 12px;color:#949494;}
.profit_add .profit_un li span{display:block;font-size: 12px;color:#333;padding:inherit;}
.profit_add .profit_un p{color:#949494;}
.profitSq{background: #fff; padding:20px;}
.profitSq a{background: #09BB07;color:#fff;height: 45px;line-height: 45px;display: block;text-align:center;-webkit-border-radius: 5px;border-radius: 5px;}

.profit_main{height:45px; line-height:45px;position: relative;}
.profit_addr{display: flex;display: -webkit-box;}
.profit_addr p{padding-right: 15px;}
.profit_main span{position: absolute;top:0px;right: 0px;}

/****会员中心******/
.Member_head{background: #09bb07;position: relative;}
.Member_img{width:5rem;margin:0 auto;text-align: center;color:#fff;}
.Member_img span{width:5rem;height: 5rem;display:block;margin:0 auto;border:5px solid #06CD05;background-size:cover;background-repeat:no-repeat;background-position:center center;-webkit-border-radius: 100%;border-radius: 100%;}
.Member_img p{padding-top: 5px;}
.Member_head .bianji{position: absolute;top:15px;right: 15px;}
.Member_head .bianji a{color:#fff;display: block;}
.Member_head .bianji a i,.Member_menoy a i{ padding-right: 5px;}

.Member_menoy{position: absolute;bottom:10px;left: 50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);height: 30px;line-height: 30px;background: #fff;padding:0 20px;-webkit-border-radius: 5px;border-radius: 5px;}
.Member_menoy a{color:#09bb07;display: block;}
.Member_menoy a i{font-size: 20px;vertical-align: middle;}

.Member_min{ margin-top: 10px;}
.Member_min li{height: 45px;line-height: 45px;background: #fff;padding:0 15px;border-bottom: 1px solid rgba(229,229,229,0.3);}
.Member_min li i{color: #969696;}

.Member_head .vip{position: absolute;top:50%;left: 50%;margin: -10px 0 0 10px;background:#f00;-webkit-border-radius: 5px;border-radius: 5px;}
.Member_head .vip i{padding: 0px 12px;color:#fff;}

.Elastic{position: fixed;top:0px;left: 0px;z-index:9999;width:100%;height:100%;overflow:hidden;background: rgba(0,0,0,0.6);display: none;-webkit-animation: all 0.2s ease 0.2s forwards;animation: all 0.2s ease 0.2s forwards;}
.Elastic_min{position: absolute;top:50%;left:50%;width:80%;background:#fff;padding:15px;-webkit-border-radius:5px;border-radius:5px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.Elastic_min .icon{position: absolute;top:-6px;right: -6px;background:#fff;width:1.5rem;height: 1.5rem;font-size:18px;text-align: center;-webkit-border-radius: 100%;border-radius: 100%;-webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.6);box-shadow: -1px 1px 3px rgba(0,0,0,0.6);}
.Elastic_min p{text-align: center;padding:0 0 10px 5px;}
.Elastic_min p i{color:#09A507;}
.Elastic_min .btn{text-align: center; padding: 10px 0;}
.Elastic_min .btn span{display:inline-block;}
.Elastic_min .btn .span1{ padding-right: 20px;}
.Elastic_min .btn .span3{padding-left: 20px;}
.Elastic_min .btn span i{font-size: 25px;}
.Elastic_min .tijiao{width:100%;height: 45px;background:#09A507;line-height: 45px;text-align:center;margin-top:10px;-webkit-border-radius: 5px;border-radius: 5px;}
.Elastic_min .tijiao a{display: block;color:#fff;}

/****资料编辑******/
.adit .adit_balance{background: #fff; padding: 20px 15px;}
.adit .adit_balance p i{height: 30px;line-height: 30px;background:rgba(9,187,9,0.1);border:1px dashed #09a507;color:#09A507;font-size: 16px; padding: 8px 30px;margin:0 8px;-webkit-border-radius: 5px;border-radius: 5px;}

.adit_list li .add_tit{height:45px;line-height:45px; padding: 0 15px;background: rgba(227,255,223,0.5);}
.adit_list li .add_tit h3{color:#09BB07;}
.adit_list li .add_tit i{float: right;color:#969696;}
.adit_list li .add_input{height:45px;line-height:45px;background: #fff; padding: 0 15px;}
.adit_list li .add_input.add{height: auto;line-height: normal;}
.adit_list li .add_input input{border:none;width:100%;height: 100%;outline: none;}
.adit_list li .add_input textarea{border: none;outline: none; padding: 10px 0 0 0;color:#969696;}
.adit_min .btn{width:90%;height: 45px;background:#09A507;line-height: 45px;text-align: center;margin: 30px auto;-webkit-border-radius: 5px;border-radius: 5px;}
.adit_min .btn a{display: block;color:#fff;}

.Member_foot{width:100%;position: fixed; bottom: 0px;left: 0px;background: #fff;}
.foot{box-shadow: 0px -5px 10px rgba(0,0,0,0.1);}
.Member_foot li{width:50%;float: left; text-align: center;padding: 5px 0;}
.Member_foot li a.active{color:#09BB07;}
.Member_foot li i{display: block;font-size: 20px;}

.introduce{padding:0 15px;background: #fff;}
.introduce h2{height: 45px;line-height: 45px;font-size: 16px;font-weight: bold;border-bottom: 1px solid #ebebeb;}
.introduce_Min{ margin-top: 15px;}
.introduce_Min p{line-height: 24px; padding-bottom: 15px;}

.url{width:100%;height:100%;position: relative;}
.url .url_Min{width:80%;text-align: center;position: absolute;top:50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.url .url_Min p{ padding-bottom: 30px;color:#969696;}
.url .url_Min a{display: block;}
.url .url_Min .a1{width:100%;line-height:24px;text-align: center;padding:5px 15px;border:2px solid #09BB07;border-radius: 5px;word-wrap:break-word; word-break:normal;}
.url .url_Min .a2{ font-size: 30px;color:#D5D5D5;position: absolute;bottom: -40px;left: 50%;transform: translateX(-50%);}

/*边框*/
[class*=grid],[class*=arrow]{ position: relative;}
[class*=grid]:before{content:" "; display: block; position: absolute; background:rgba(0,0,0,.05); box-sizing: border-box;}
[class*=gridY]:before{ width: 1px; top: 0; bottom: 0; -webkit-transform: scale(0.5,1); transform: scale(0.5,1);}
[class*=gridYl]:before{ left: 0;}
[class*=gridYr]:before{ right: 0;}
[class*=gridX]:before{ height: 1px; right: 0; left: 0; -webkit-transform: scale(1,0.5); transform: scale(1,0.5);}
[class*=gridXt]:before{ top: 0;}
[class*=gridXb]:before{ bottom: 0;}
[class*=gridFour]:before{ width: 200%; border: 1px solid rgba(0,0,0,.15); height: 200%;-webkit-transform: scale(0.5); transform: scale(0.5); -webkit-transform-origin: 0 0; transform-origin: 0 0; border-radius: 6px; left: 0; top: 0; background: none;}
[class*=gridFourCirle]:before{ border-radius: 100px;}
[class*=arrow]:before{ content: ""; position: absolute; display: block; width: 0px; height: 0px; border:4px solid; border-color:#999 transparent transparent transparent; position: absolute; top: 70%; -webkit-transform:translateY(0) rotate(0deg);transform:translateY(0) rotate(0deg); -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}
[class*=arrowR]:before{ right: 5px;}
[class*=arrowL]:before{ left: 5px;}