.user-frame, .select-city div{
  height: 46px;
  background: #fff;
  border-radius: 4px;
  border: solid 1px #E3E3E3;
  margin-left: 3.125%;
  margin-right: 3.125%;
  margin-top: 10px;
  position: relative;
}
.user-frame input, .select-city div input {
  margin-top: 10px;
  width: 90%;
  padding-left: 10px;
  border: none;
  font-size: 16px;
  color: #333;
  font-family: "Microsoft Yahei";
}
.user-frame1 select, .select-city div select {
  height: 46px;
  width: 100%;
  font-size:16px;
  z-index: 1;
  border: solid 1px #E3E3E3;
  position: absolute;
  border-radius: 4px;
  background: #fff;
}
.user-frame1, .select-city div{
  height: 46px;
  background: #fff;
  border-radius: 4px;
  border: solid 0px #E3E3E3;
  margin-left: 3.125%;
  margin-right: 3.125%;
  margin-top: 10px;
  position: relative;
}
.user-frame .area-sel{
  width: 90%;
}
.after-arrow {
  position: relative;
}
.after-arrow:after {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 13px;
  top: 15px;
  z-index: 200;
  border-bottom: solid 1px #999;
  border-left: solid 1px #999;
  -webkit-transform: rotate(-45deg);
}
.user-frame .get-area{width: 90%;}
.user-frame .unit{position: absolute; right: 10px; top:14px; width: auto; height: auto; display: block; font-size: 14px;color: #999;}
.user-frame input::-webkit-input-placeholder {
  color:#c7c7c7;
}
.user-frame input:-moz-placeholder {
  color:#c7c7c7;
}
.provincePos {
  position: relative;
}
.provincePos label {
  position: absolute;
  top: 0;
  height: 44px;
  line-height: 44px;
  left: 0;
  padding-left: 10px;
  color: #999;
}

.select-city div {
  position: relative;
  width: 45.3125%;
  float: left;
  margin-right: 0;
  margin-left: 3.125%;
}
.select-city div:after {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 13px;
  top: 15px;
  z-index: 200;
  border-bottom: solid 1px #999;
  border-left: solid 1px #999;
  -webkit-transform: rotate(-45deg);
}
.select-city div select {
  width: 100%;
  height: 44px;
  opacity: 1;
  position: relative;
  border:0;
  outline: none;
  font-size: 16px;
  padding-left:6px;
  -webkit-appearance:none;
  color:#666;
  background:#fff;
}
.after-arrow-white {
  position: relative;
}
.after-arrow-white:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  content: "";
  position: absolute;
  bottom: 18px;
  right: -18px;
}
.submitBtn {
  -webkit-appearance: none;
  display: block;
  height: 44px;
  background: #d03939;
  color: #fff;
  font-size: 16px;
  width: 94%;
  border-radius: 4px;
  margin: 10px auto;
  border: none;
  font-family: "Microsoft Yahei";
}
.zb_img{ width: 100%; margin: 0 auto; padding-bottom: 10px; background: #fff;}
.zb_img img{ width: 96%; height: auto; margin-left: 2%;}