/*[tplStatic 1.0 - 9603576]*/
body {
	background: #fff
}

.top-header {
	width: 100%;
	height: 44px;
background: rgb(0, 129, 255);
	overflow: hidden;
	position: relative
}

.top-header ~ .mui-bar {
	position: absolute
}

.top-header .logo {
/*	background: url(v2/img/logo.jpg) no-repeat;*/
	background-size: contain;
	color: #fff;
	width: 100px;
	height: 30px;
	line-height: 9990px;
	text-align: center;
	position: absolute;
	left: 9px;
	top: 5px;
	display: block;
	/*margin: 0px auto;	
	margin-top: 5px;*/
}

.top-header .search-form {
	margin: 0 40px 0 110px
}

.top-header #search-input {
	margin: 5px 0;
	border-radius: 46px;
	height: 30px;
	background: #fff;
	border: 0;
	font-size: 12px
}

.top-header .search-btn {
	top: 9px;
	color: #b0b0b0 !important
}

.top-header .top-extend {
	position: absolute;
	right: 5px;
	top: 0;
	line-height: 0.9;
	color: #fff;
	font-size: 11px;
	width: 40px;
	height: 40px
}

.top-header .top-extend .jx-png {
	margin: 5px 0 0 10px;
	background: url(../images/jx.png) no-repeat 0 0;
	width: 20px;
	height: 33px;
	background-size: contain;
	display: block
}

.top-header .top-extend a {
	color: #fff
}

.top-header .tab-label {
	font-size: 9px;
	padding: 0;
	margin: 0
}

.top-header ~ .mui-content {
	background: #fff
}

.top-header {
	background: rgb(0, 129, 255);
	max-width: 760px
}

.top-header ~ .mui-content {
	margin-top: 40px
}

.top-header ~ .mui-fullscreen {
	height: auto;
	bottom: 50px;
	padding-bottom: 0
}

.bar-qr {
	max-width: 760px;
	margin: 0 auto;
	position: fixed
}

.index-cat-list1 a img {
	border-radius: 50%
}

.suggest-input {
	color: #fff
}

.suggest-list ul {
	border-bottom: 1px solid #ccc
}

.banner-swiper.swiper-container img {
	padding: 0
}

.swiper-pagination-switch {
	background-color: #fff;
	border: 1px solid #ff6d00
}

.swiper-active-switch {
	background: #ff6d00;
	border: 1px solid #ff6d00
}

.border-bottom {
	border-bottom: 1px solid #b4b4b4
}

.margin-bottom10 {
	margin-bottom: 10px
}

.line10 {
	background: #efeff4;
	height: 10px;
	clear: both
}

.index-news-line {
	overflow: hidden;
	height: 53px
}

.index-news-line .join-btn {
	background: #eb6d6d;
	padding: 5px 10px;
	color: #fff;
	border-radius: 5px;
	margin: 10px -5px 0 5px;
	font-size: 12px;
	float: left;
	height: 32px;
	display: block
}

.index-news-line .new-join {
	float: left;
	font-size: 12px;
	padding: 0px 0 0;
	overflow: hidden;
	width: 65%
}

.index-news-line .new-join div {
	padding: 0px 0 0 10px;
	width: 100%;
	overflow: hidden;
	height: 28px
}

.index-news-line .split-line {
	border-right: 1px solid #e0e0e0;
	padding: 0 10px 0 0;
	margin: 17px 0 10px 10px;
	float: left;
	height: 20px
}

.index-news-line .join-btn .mui-icon {
	font-size: 16px
}

.news-tag {
	color: #ff5700;
	border: 1px solid #ff5700;
	padding: 1px 4px;
	margin: 0 5px;
	vertical-align: middle;
	font-size: 10px
}

.index-cat-list1 a img {
	width: 40px;
	height: 40px;
	border-radius: 40px
}

.index-icon-block {
	background: #fff;
	height: 370px;
	margin: 15px 0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0
}

.index-icon-block .left {
	float: left;
	height: 350px;
	width: 33%;
	padding-left: 20px;
	padding-top: 20px;
	border-right: 1px solid #e0e0e0
}

.index-icon-block .right {
	width: 67%;
	margin-left: 35%
}

.index-icon-block .right .right_top {
	height: 154px;
	padding-left: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #e0e0e0
}

.index-icon-block .right .right_bottom {
	height: 175px
}

.index-icon-block .right .right_bottom .right_bottom_left {
	float: left;
	width: 42%;
	height: 175px;
	border-right: 1px solid #e0e0e0;
	padding-left: 20px;
	padding-top: 20px
}

.index-icon-block .right .right_bottom .right_bottom_right {
	padding-top: 20px;
	height: 175px
}

.index-icon-block h2 {
	margin-top: 5px;
	color: #666;
	font-weight: normal
}

#index .user-title {
	color: #ff6d00;
	padding: 10px;
	font-weight: 100
}

.user-title .option {
	float: right;
	padding: 3px 10px;
	font-size: 10px;
	font-weight: 100;
	color: #999
}

#index .company-header {
	color: #ff6d00;
	border-bottom: 0
}

#index .company-header .active {
	border-bottom: 1px solid #ff6d00;
	color: #ff6d00
}

.company-list {
	display: block;
	margin: 0 5px 15px;
	list-style: none
}

.company-list li {
	border-top: 1px solid #e0e0e0;
	border-bottom: 0;
	padding: 15px 0;
	position: relative
}

.company-list .company-icon {
	width: 48px;
	height: 48px
}

.company-list .company-icon {
	border-radius: 10px;
	margin: 1px 10px 0 5px
}

.company-list .company-info {
	padding: 0 40px 0 40px
}

.mui-table-view-cell:after {
	left: 0
}

.more-link {
	position: absolute;
	right: 5px;
	top: 18px;
	background: #ddd;
	border-radius: 33px;
	padding: 5px;
	height: 30px;
	width: 30px;
	background: url(../images/more.png) no-repeat;
	background-size: contain
}

.black header.mui-bar, .bar-qr {
	/*background: #07375c;
	opacity: 0.8*/
}

.bar-qr .bar-btn {
	border: 1px solid #247fcc;
	background: #00294c
}

.suggest-list {
	border: 0
}

.sort-menu .sort-title {
	background: #4f86c3
}

.mui-segmented-control {
	margin-bottom: 0
}

.list-tab-item {
	line-height: 28px !important
}

.list-tab-item.mui-active {
	background-color: #359aea !important
}

.list-tab {
	border-color: #79c0f8 !important;
	margin: 10px 0 5px
}

.mui-control-content .more-link {
	top: 12px
}

.category-banner-swiper {
	left: 0;
	height: 60px
}

.shop-raking {
	z-index: 9
}

.raking-content {
	position: relative;
	cursor: pointer
}

.raking-content .mui-icon-arrowright {
	position: absolute;
	right: 5px;
	top: 28px;
	opacity: 0.8
}

.raking-tag {
	clear: both;
	overflow: hidden;
	height: 28px;
	margin: 10px 0 0 0
}

.raking-tag .num {
	color: #999
}

.raking-tag>* {
	padding: 3px 5px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #e0e0e0;
	color: #666;
	float: left;
	display: block;
	margin-right: 5px;
	font-size: 12px
}

.raking-tag-big {
	height: auto;
	margin: 20px 0
}

.raking-tag-big>* {
	padding: 3px 10px;
	margin: 3px
}

.raking-tag-big>.active {
	background: #38cb8e;
	color: #fff
}

.raking-tag-big>.active * {
	color: #ddd
}

.raking-title {
	width: 100%;
	overflow: hidden;
	position: relative
}

.raking-title span {
	float: left;
	text-align: center;
	width: 33%
}

.raking-title .border {
	border-bottom: 1px solid #e0e0e0;
	height: 12px
}

.coupon-card-v2 {
	display: block;
	background: #ff6d00;
	color: #fff;
	margin: 10px 0 0
}

.coupon-card-v2 .mui-clearfix {
	border-bottom: 1px solid #f0653f
}

.coupon-shop {
	font-size: 0.6rem;
	text-align: right;
	border-bottom: 1px solid #f0653f;
	padding: 3px 5px;
	color: #e4d3d3
}

.coupon-shop a {
	color: #e4d3d3
}

.coupon-money {
	display: inline-block;
	float: left;
	vertical-align: top;
	padding: 10px 5px 0;
	font-family: -webkit-pictograph, serif;
	min-width: 70px
}

.coupon-money em {
	float: left
}

.coupon-money p {
	float: left;
	color: #fff;
	margin-top: -6px;
	font-weight: 900
}

.coupon-money em {
	font-style: normal;
	font-size: 2.2rem;
	font-weight: 900
}

.coupon-center {
	display: inline-block;
	float: left
}

.coupon-expire {
	font-size: 0.6rem
}

.coupon-btn {
	display: inline-block;
	background: #f23e0e;
	width: 28%;
	float: right;
	color: #fff;
	text-align: center;
	padding: 15px 0
}