* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
body {
	background-color: #fff;
	color: #000;
	line-height: 20px;
	font-family: 'Microsoft Yahei', '微软雅黑', MSYahei, '宋体', Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
input, select {
	font-family: Arial, '宋体', 'Microsoft Yahei', '微软雅黑', MSYahei, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}
a, a:link {
	color: #06c;
	text-decoration: none;
}
a:hover {
	color: #c00;
	text-decoration: underline;
}
img {
	border-width: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}
.clear2{clear:both;visibility:hidden;display:block;font-size:0;line-height:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}
.al {
	text-align: left;
}
.ar {
	text-align: right;
}
.ce {
	text-align: center;
}
.none {
	display: none;
}
.block {
	display: block;
}
.abs {
	position: absolute;
}
.flow {
	overflow: hidden;
}
.wto {
	margin-right: auto;
	margin-left: auto;
}
.hto {
	height: 100%;
}
.str {
	font-weight: bold;
}
.s14 {
	font-size: 14px;
}
.s12 {
	font-size: 12px;
}
.red {
	color: #f00;
}
.pt10 {
	padding-top: 10px;
}
.pb10 {
	padding-bottom: 10px;
}
.pt5 {
	padding-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt5 {
	margin-top: 5px;
}
.ml10 {
	margin-left: 10px;
}
.mr10 {
	margin-right: 10px;
}
.pl10 {
	padding-left: 10px;
}
.pr10 {
    padding-right: 10px;
}
.noime {
	ime-mode: disabled;
}
/*——*/
#tinybox {
	position: absolute;
	display: none;
	padding: 10px;
	background: #fff url(../../img/g/load_1.gif) no-repeat 50% 50%;
	border: 10px solid #e3e3e3;
	z-index: 2000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-family: Arial, '宋体', 'Microsoft Yahei', '微软雅黑', MSYahei, Verdana, Helvetica, sans-serif;
}
#tinymask {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #fff;
	z-index: 1999;
}
#tinycontent {
	word-wrap: break-word;
	word-break: break-all;
}
.tinytip1, .tinytip2, .tinytip3 {
	width:257px;
	height:42px;
	overflow:hidden;
	line-height:42px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding-left:45px;
	background:url(../../img/g/tinytip_3.gif) no-repeat 0 0;
	filter: Alpha(Opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
    box-shadow:0 0 15px rgba(0,0,0,.3);
}
.tinytip1 {
	color:#080;
	background:url(../../img/g/tinytip_1.gif) no-repeat 0 0;
}
.tinytip2 {
	color:#f60;
	background:url(../../img/g/tinytip_2.gif) no-repeat 0 0;
}
.tinytip4
{
    width: 500px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: url(../../img/g/tinytip_4.gif) no-repeat 0 0;
}
/*——*/