
html, body, h1, h2, h3 {
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","宋体",宋体,Tahoma,Arial,Helvetica,STHeiti;
}
.ng-cloak {
    display: none;
}
body {
    background: #f9f9f9 none repeat scroll 0 0;
    overflow-y: scroll;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: medium none;
}
.list-group .list-group-item.active {
    background-color: #428bca;
    border-color: #428bca;
}
.list-group .list-group-item a {
    color: #555;
}
.list-group .list-group-item a:hover {
    text-decoration: none;
}
.list-group .list-group-item.active a {
    color: #fff;
}
.row .row, .form-group .form-group {
    margin-left: auto;
    margin-right: auto;
}
.row.row-fix, .form-group.form-group-fix {
    margin-left: -15px;
    margin-right: -15px;
}
.breadcrumb {
    background: #f9f9f9 none repeat scroll 0 0;
}
.login, .register {
    background: #3a3a3a url("../images/gw-bg.jpg") no-repeat fixed 0 0 / cover ;
    padding-top: 5em;
}
.login .logo, .register .logo {
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
}
.login .logo a, .register .logo a {
    background: rgba(0, 0, 0, 0) url("../images/gw-logo.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 95px;
    margin-left: 0 !important;
    width: 420px;
}
.login .panel, .register .panel {
    padding: 30px 15px;
}
.login i, .register i {
    color: #999999;
}
.login .footer, .register .footer {
    padding: 2em 0;
}
.login .footer, .register .footer, .login .footer a, .register .footer a {
    color: #ffffff;
}
.home .head {
    background: #3a3a3a url("../images/gw-bg.jpg") no-repeat fixed 0 0 / cover ;
    height: 95px;
    width: 100%;
}
.home .head .head_logo {
    background: rgba(0, 0, 0, 0) url("../images/gw-logo.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 95px;
    margin-left: 0 !important;
    width: 420px;
}
.home .head .btns {
    height: 95px;
    line-height: 95px;
}
.home .content .banner {
    background-color: #ffffff;
    background-image: url("../images/banner-bg.png");
    background-position: center 15px;
    background-repeat: no-repeat;
    background-size: 990px 380px;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    height: 380px;
    min-height: 180px;
    min-width: 1014px;
}
.home .content .con {
    padding-top: 20px;
}
.home .content h4 {
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
}
.home .content h6 {
    color: #428bca;
    font-size: 14px;
}
.home .content .con .panel-body .row {
    margin: 20px 0;
}
.home .content .con .panel-body .row > div {
    height: 100px;
    overflow: hidden;
}
.home .content .con .panel-body .row .icon {
    float: left;
    height: 100px;
    width: 20%;
}
.home .content .con .panel-body .row .icon i {
    color: #428bca;
    display: inline-block;
    font-size: 44px;
    margin: 23px 0;
    text-align: center;
    width: 44px;
}
.home .content .con .panel-body .row .icon img {
    height: 50px;
    margin-top: 20px;
    width: 50px;
}
.home .content .con .panel-body .row p {
    color: #666;
}
.home .footer {
    color: #666;
    height: 50px;
    line-height: 25px;
    margin-bottom: 30px;
}
.home .footer a {
    color: #666;
}
.home .footer a:hover {
    color: #428bca;
    text-decoration: none;
}
.navbar-inverse ul li i {
    display: inline-block;
    margin-right: 5px;
}
.nav.navbar-nav .dropdown {
    z-index: 1001;
}
.welcome-container .shortcut a {
    color: #333;
    display: block;
    float: left;
    height: 7em;
    margin-right: 1.2em;
    overflow: hidden;
    padding: 8px 5px;
    text-align: center;
    width: 7em;
}
.welcome-container .shortcut a:hover {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    padding: 7px 4px;
    text-decoration: none;
}
.welcome-container .shortcut a i {
    display: block;
    font-size: 3em;
    margin: 0.28em 0.2em;
}
.welcome-container .shortcut a img {
    display: block;
    height: 3em;
    margin: 0.85em auto;
}
.welcome-container .shortcut a span {
    display: block;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
}
.welcome-container .account img {
    height: 6em;
    width: 6em;
}
.nav.nav-tabs {
    border-color: #428bca;
    margin-bottom: 20px;
}
.nav-tabs > li > a:hover {
    border-color: #eee #eee #428bca;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
}
.page-header {
    padding-bottom: 0;
}
.page-header:first-child {
    margin-top: 0;
}
.gw-logo {
    background: rgba(0, 0, 0, 0) url("../images/gw-logo.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 95px;
    margin-left: 0 !important;
    width: 420px;
}
.gw-container .footer {
    font-size: 1.1em;
    padding: 2em 0;
}
.gw-container {
    background: #3a3a3a url("../images/gw-bg.jpg") no-repeat fixed 0 0 / cover ;
}
.gw-container .page-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #333;
    border-image: none;
    border-style: none none none solid;
    border-width: medium medium medium 0.3em;
    padding-left: 1em;
}
.gw-container .tile {
    background: #eee none repeat scroll 0 0;
    color: #333;
    display: block;
    float: left;
    margin: 0.4em;
    padding: 0.2em 1em 0.5em;
    text-align: center;
    text-decoration: none;
    width: 8em;
}
.gw-container .tile.tile-2x {
    width: 10em;
}
.gw-container .tile.tile-3x {
    width: 15em;
}
.gw-container .tile:hover {
    background: #7dacdd none repeat scroll 0 0;
    color: #fff;
}
.gw-container .tile > i {
    display: block;
    font-size: 2em;
    margin: 0.3em auto 0;
}
.gw-container .tile > span {
    display: block;
}
.gw-container .navbar-toggle {
    border-color: #ddd;
}
.gw-container .navbar-toggle .icon-bar {
    background-color: #ccc;
}
.gw-container .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.gw-container .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.gw-container .navbar-nav .tile {
    background: #31b8ef none repeat scroll 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    color: #fff;
}
.gw-container .navbar-nav .tile:hover {
    background: #4ccafd none repeat scroll 0 0;
}
.gw-container .navbar-nav .tile.active {
    background: #1e95c9 none repeat scroll 0 0;
}
.gw-container .well .breadcrumb {
    padding-left: 0;
    padding-right: 0;
}
.gw-container .breadcrumb {
    background: #f5f5f5 none repeat scroll 0 0;
    margin-bottom: 0.5em;
}
.gw-container .breadcrumb a {
    color: #333;
}
.gw-container .footer, .gw-container .footer a {
    color: #fff;
}
.gw-container .well .account {
    margin: 15px 0;
}
.gw-container .well .account .panel-heading a {
    color: #428bca;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.gw-container .well .account .panel-heading .manage {
    color: #d9534f;
}
.gw-container .well .account .panel-body {
    padding: 0 15px;
}
.gw-container .well .account .panel-body li {
    padding: 0;
}
.gw-container .well .account .panel i {
    display: inline-block;
    height: 14px;
    width: 15px;
}
.table-responsive.panel-body {
    overflow: auto;
}
.table {
    table-layout: fixed;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table > thead > tr > th {
    border-top: medium none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    border-top: medium none;
}
@media screen and (max-width: 767px) {
.tpl-calendar > div, .tpl-district-container > div {
    margin-bottom: 10px;
}
}
.big-menu .panel {
    border-bottom: 0 none;
    border-radius: 0;
    border-top-width: 0;
    margin-bottom: 0;
}
.big-menu .panel .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    position: relative;
}
.big-menu .panel > .list-group:last-child .list-group-item:last-child {
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.big-menu .panel:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-width: 1px;
}
.big-menu .panel:first-child .panel-heading {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.big-menu .panel:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 10px;
}
.big-menu .panel:last-child > .list-group:last-child .list-group-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.big-menu .panel .panel-collapse {
    background: #eee none repeat scroll 0 0;
    border-left: 1px solid #ddd;
    color: #ccc;
    height: 38px;
    line-height: 38px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}
.upgrade-tips {
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.upgrade-tips a {
    background: #ee5023 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    padding: 0 5px;
    width: 380px;
}
.upgrade-tips a.module {
    background: #3c9d40 none repeat scroll 0 0;
}
.upgrade-tips span {
    background: #328233 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}
#modal-fileUploader .browser {
    color: #428bca;
}
#modal-fileUploader .browser .breadcrumb i {
    font-size: 1em;
}
#modal-fileUploader .browser .breadcrumb a:hover {
    cursor: pointer;
    text-decoration: none;
}
#modal-fileUploader .browser .img-list {
    clear: both;
    display: block;
    margin: 4px;
}
#modal-fileUploader .browser .img-item {
    cursor: pointer;
    float: left;
    position: relative;
    z-index: 1;
}
#modal-fileUploader .browser .img-item .img-container {
    background-color: #eee;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    position: relative;
    text-align: center;
    width: 75px;
}
#modal-fileUploader .browser .img-item .img-container:hover .img-meta {
    display: none;
}
#modal-fileUploader .browser .img-item .img-container .img-meta {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    color: #eee;
    height: 20px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#modal-fileUploader .browser .img-item .img-container .select-status {
    bottom: 0;
    display: inline-block;
    height: 50px;
    position: absolute;
    right: 0;
    width: 50px;
    z-index: 2;
}
#modal-fileUploader .browser .img-item-selected .img-container .select-status {
    background: rgba(0, 0, 0, 0) url("../images/success-small.png") no-repeat scroll right bottom;
    bottom: 0;
    display: inline-block;
    height: 50px;
    position: absolute;
    right: 0;
    width: 50px;
    z-index: 2;
}
#modal-fileUploader .browser .img-item-selected .img-container .img-meta {
    display: none;
}
#modal-fileUploader .browser .file-browser .img-item {
    margin: 0 5px 5px 0;
}
#modal-fileUploader .browser .file-browser {
    height: 343px;
    overflow-y: auto;
    padding-top: 10px;
}
#modal-fileUploader .browser .thumbnail {
    cursor: pointer;
    display: block;
    float: left;
    height: 73px;
    margin: 0 5px 5px 0;
    width: 73px;
}
#modal-fileUploader .browser .thumbnail:hover {
    border-color: #428bca;
}
#modal-fileUploader .browser span {
    display: block;
    height: 20px;
    overflow: hidden;
    text-align: center;
}
#modal-fileUploader .browser img {
    width: 98px;
}
#modal-fileUploader .browser i {
    display: block;
    font-size: 40px;
    padding: 5px 13px 0;
}
#modal-fileUploader .btnClose {
    display: none;
    position: absolute;
    right: -5px;
    text-align: right;
    top: -10px;
    z-index: 10;
}
#modal-fileUploader .img-item:hover .btnClose {
    display: block;
}
#modal-fileUploader .btnClose a {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}
#modal-fileUploader .btnClose a i {
    font-size: 14px;
    padding: 3px;
}
#modal-fileUploader .bthClose a:hover {
    background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
}
#modal-fileUploader .crawler .crawler-img {
    background-color: #efefef;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 250px;
}
#modal-fileUploader .crawler .crawler-img span {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    bottom: 0;
    color: #eee;
    display: inline-block;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    width: 100%;
}
#modal-fileUploader .form-group {
    margin-left: 0;
    margin-right: 0;
}
#modal-fileUploader .row {
    height: 250px;
    margin-top: 5px;
}
.multi-img-details {
    margin-top: 0.5em;
}
.multi-img-details .multi-item {
    float: left;
    height: 150px;
    margin-right: 18px;
    max-width: 150px;
    position: relative;
}
.multi-img-details .multi-item img {
    max-height: 150px;
    max-width: 150px;
}
.multi-img-details .multi-item em {
    position: absolute;
    right: -14px;
    top: 0;
}
.modal-dialog .avatar-browser {
    color: #428bca;
    line-height: 0;
    min-height: 480px;
}
.modal-dialog .avatar-browser .thumbnail {
    cursor: pointer;
    display: block;
    float: left;
    height: 100px;
    margin-right: 13px;
    overflow: hidden;
    width: 100px;
}
.modal-dialog .avatar-browser .thumbnail:hover {
    border-color: #428bca;
}
#modal-wechat-fileUploader .browser {
    color: #428bca;
}
#modal-wechat-fileUploader .browser .breadcrumb i {
    font-size: 1em;
}
#modal-wechat-fileUploader .browser .breadcrumb a:hover {
    cursor: pointer;
    text-decoration: none;
}
#modal-wechat-fileUploader .browser .img-list {
    clear: both;
    display: block;
    margin: 4px;
}
#modal-wechat-fileUploader .browser .img-item {
    cursor: pointer;
    float: left;
    position: relative;
    z-index: 1;
}
#modal-wechat-fileUploader .browser .img-item .img-container {
    background-color: #eee;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 76px;
    position: relative;
    text-align: center;
    width: 76px;
}
#modal-wechat-fileUploader .browser .img-item .img-container:hover .img-meta {
    display: none;
}
#modal-wechat-fileUploader .browser .img-item .img-container .img-meta {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    color: #eee;
    height: 20px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
}
#modal-wechat-fileUploader .browser .img-item .img-container .select-status {
    bottom: 0;
    display: inline-block;
    height: 50px;
    position: absolute;
    right: 0;
    width: 50px;
    z-index: 2;
}
#modal-wechat-fileUploader .browser .img-item-selected .img-container .select-status {
    background: rgba(0, 0, 0, 0) url("../images/success-small.png") no-repeat scroll right bottom;
    bottom: 0;
    display: inline-block;
    height: 50px;
    position: absolute;
    right: 0;
    width: 50px;
    z-index: 2;
}
#modal-wechat-fileUploader .browser .img-item-selected .img-container .img-meta {
    display: none;
}
#modal-wechat-fileUploader .browser .file-browser .img-item {
    margin: 0 5px 5px 0;
}
#modal-wechat-fileUploader .browser .file-browser {
    height: 343px;
    overflow-y: auto;
    padding-top: 10px;
}
#modal-wechat-fileUploader .browser .thumbnail {
    cursor: pointer;
    display: block;
    float: left;
    height: 73px;
    margin: 0 5px 5px 0;
    width: 73px;
}
#modal-wechat-fileUploader .browser .thumbnail:hover {
    border-color: #428bca;
}
#modal-wechat-fileUploader .browser span {
    display: block;
    height: 20px;
    overflow: hidden;
    text-align: center;
}
#modal-wechat-fileUploader .browser img {
    width: 98px;
}
#modal-wechat-fileUploader .browser i {
    display: block;
    font-size: 40px;
    padding: 5px 13px 0;
}
#modal-wechat-fileUploader .btnClose {
    display: none;
    position: absolute;
    right: -5px;
    text-align: right;
    top: -10px;
    z-index: 10;
}
#modal-wechat-fileUploader .img-item:hover .btnClose {
    display: block;
}
#modal-wechat-fileUploader .btnClose a {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
}
#modal-wechat-fileUploader .btnClose a i {
    font-size: 14px;
    padding: 3px;
}
#modal-wechat-fileUploader .bthClose a:hover {
    background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
}
#modal-wechat-fileUploader .crawler .crawler-img {
    background-color: #efefef;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 250px;
}
#modal-wechat-fileUploader .crawler .crawler-img span {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    bottom: 0;
    color: #eee;
    display: inline-block;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    width: 100%;
}
#modal-wechat-fileUploader .form-group {
    margin-left: 0;
    margin-right: 0;
}
#modal-wechat-fileUploader .row {
    height: 250px;
    margin-top: 5px;
}
#modal-wechat-fileUploader .background-audio {
    background: rgba(0, 0, 0, 0) url("../images/icon_audio.png") repeat scroll 0 0;
}
.browser .pagination {
    margin: 0;
}
.main{
	display:none;
}