/*
*
{
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
*/
html,input,select
{
    font-family: Arial, '宋体' , 'Microsoft Yahei' , '微软雅黑' , MSYahei, Verdana, Helvetica, sans-serif;
}
body
{
    background: #D8D8E5;
    font-family: Arial, '宋体' , 'Microsoft Yahei' , '微软雅黑' , MSYahei, Verdana, Helvetica, sans-serif;
}
.wrap
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    background: #efeff4;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
a, a:link
{
    color: #333;
}
a:hover
{
    text-decoration: none;
}
/*——*/
.head
{
    height: 44px;
}
.head .con1
{
    position: fixed;
    top: 0;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    background: #313F46;
    color: #fff;
    width: 100%;
    max-width: 800px;
    z-index: 9;
    background: #278EE3;
}
.head .con1 a
{
    color: #fff;
}
.head .con1 .son1
{
    text-align: center;
    font-size: 12px;
}
.head .con1 .return
{
    position: absolute;
    height: 44px;
    width: 44px;
    background: url(/s/html/d/wxhy/img/ArrowReturn.png) no-repeat center center;
    background-size: auto 40%;
}
/*——*/
.search
{
    padding: 10px 0 0 15px;  
}
.search .con1
{
    border: solid 1px #ddd;
    height: 44px;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
}
.search .con1 td
{
    vertical-align: top;
}
.search .con1 .td1 div
{
    padding-left: 10px;
}
.search .con1 .td1 div input
{
    height: 42px;
    line-height: 42px;
    border: 0;
    background: #fff;
    width: 100%;
    padding: 0;
    color: #ccc;
    text-align: center;
    font-size: 14px;
}
.search .con1 .td1 div input.on
{
    color: #666;
    text-align: left;
}
.search .con1 .td2
{
    width: 42px;
}
.search .con1 .td2 div
{
    width: 42px;
    height: 42px;
    overflow: hidden;
    background: url(/s/html/d/wxhy/img/magnifier.png) no-repeat center center;
    background-size: 60%;
}
/*——*/
.foot
{
    height: 51px;
    max-width: 800px;
}
.foot .con1
{
    position: fixed;
    bottom: 0;
    height: 51px;
    background: #fff;
    width: 100%;
    max-width: 800px;
    border-top: solid 1px #ddd;
    background: #fcfcfc;
    z-index: 9;
}
.foot .con1 td
{
    width: 20%;
}
.foot .con1 td div
{
    padding-top: 3px;
}
.foot .con1 td div i
{
    display: block;
    height: 26px;
    background: url(/s/html/d/wxhy/img/home.png) no-repeat center center;
    background-size: auto 80%;
}
.foot .con1 td.td2 div i
{
    background-image: url(/s/html/d/wxhy/img/trophy.png);
}
.foot .con1 td.td3 div i
{
    background-image: url(/s/html/d/wxhy/img/discount.png);
}
.foot .con1 td.td4 div i
{
    background-image: url(/s/html/d/wxhy/img/chat.png);
}
.foot .con1 td.td5 div i
{
    background-image: url(/s/html/d/wxhy/img/user.png);
}
.foot .con1 td div b
{
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    display: block;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #888;
    padding: 0 2px;
    word-wrap: break-word;
    word-break: break-all;
}
.foot .con1 td.td1 div.on i
{
    background-image: url(/s/html/d/wxhy/img/home_on.png);
}
.foot .con1 td.td2 div.on i
{
    background-image: url(/s/html/d/wxhy/img/trophy_on.png);
}
.foot .con1 td.td3 div.on i
{
    background-image: url(/s/html/d/wxhy/img/discount_on.png);
}
.foot .con1 td.td4 div.on i
{
    background-image: url(/s/html/d/wxhy/img/chat_on.png);
}
.foot .con1 td.td5 div.on i
{
    background-image: url(/s/html/d/wxhy/img/user_on.png);
}
.foot .con1 td div.on b
{
    color: #007AFF;
}
/*——*/
.SwitchTab
{
}
.SwitchTab td
{
    width: 20%;
}
.SwitchTab.SwitchTab_Four td
{
    width: 25%;
}
.SwitchTab td div
{
    border-bottom: solid 1px #ddd;
    font-size: 14px;
    text-align: center;
    color: #888;
    cursor: pointer;
    overflow: hidden;
    height: 50px;
    /*line-height: 50px;*/
    line-height: 52px;
}
.SwitchTab td.on div
{
    color: #088BF5;
    border-bottom: solid 2px #088BF5;
}
/*——*/
.MainList
{
}
.MainList .item
{
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
    margin: 0 10px;
}
.MainList .item .td1
{
    width: 48px;
}
.MainList .item .td1 div
{
    width: 48px;
}
.MainList .item .td1 div i
{
    background: #888;
    position: absolute;
    font-style: normal;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 0 6px;
    border-radius: 20px;
    line-height: 18px;
    margin: -5px 0 0 -5px;
    opacity: 0.5;
}
.MainList .item .td1 div i.col1
{
    background: #f00;
    opacity: 0.8;
}
.MainList .item .td1 div i.col2
{
    background: #f80;
    opacity: 0.8;
}
.MainList .item .td1 div img
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px #fff;
    display: block;
}
.MainList .item .td2
{
}
.MainList .item .td2 div
{
}
.MainList .item .td2 div b
{
    font-weight: normal;
    font-size: 14px;
    color: #444;
    display: block;
    height: 20px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 8px;
}
.MainList .item .td2 div b font
{
    display: inline-block;
    color: #E89B67;
    border: solid 1px #FCB483;
    line-height: 16px;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    margin-left: 3px;
    text-align: center;
    background: #fff;
    font-size: 12px;
    visibility: hidden;
    position: relative;
    bottom: 1px;
}
.MainList .item .td2 div i
{
    font-style: normal;
    font-size: 12px;
    color: #999;
    display: block;
    height: 20px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 8px;
}
.MainList .item .td3
{
    width: 36px;
}
.MainList .item .td3 div
{
    width: 36px;
    height: 36px;
    border-radius: 30px;
    background: #ddd url(/s/html/d/wxhy/img/phone.png) no-repeat center center;
    background-size: 60%;
}
.MainList .item .td4
{
    width: 36px;
}
.MainList .item .td4 div
{
    width: 36px;
    height: 36px;
    border-radius: 30px;
    background: red url(/s/html/d/wxhy/img/talk.png) no-repeat center center;
    background-size: 60%;
}
/*——*/
.PoweredBy
{
    color: #888;
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
}
.PoweredBy a
{
    margin: 0 4px;
    color: #088BF5;
}
/*——*/
.UserTitle1
{
    padding: 0 0 8px 30px;
    font-size: 18px;
    color: #999;
}
.UserTitle2
{
    padding: 16px 0 10px 15px;
    font-size: 16px;
    color: #999;
}
/*——*/
.CouponList
{
    padding: 0 10px;
    -webkit-animation:.5s ease-out backwards;-moz-animation:.5s ease-out backwards;-ms-animation:.5s ease-out backwards;animation:.5s ease-out backwards;
    -webkit-animation-name:fadein;-moz-animation-name:fadein;-ms-animation-name:fadein;animation-name:fadein;
}
.CouponList .item
{
    padding: 10px 0 4px;
}
.CouponList .item .con1
{
    font-size: 12px;
    text-align: right;    
    color: #999;
    padding-bottom: 4px;
}
.CouponList .item .con1 span
{
}
.CouponList .item .con1 span b
{
    font-weight: normal;
}
.CouponList .item .con1 a
{
    color: #3689E5;
}
.CouponList .item .con2
{
    background: #EA5840;
    border-radius: 4px;
    color: #fff;
}
.CouponList .item .con2 .son1
{
}
.CouponList .item .con2 .son1 td
{
    vertical-align: top;
}
.CouponList .item .con2 .son1 .td1
{
}
.CouponList .item .con2 .son1 .td1 div
{
    white-space: nowrap;
}
.CouponList .item .con2 .son1 .td1 div.div1 span
{
    display: inline-block;
}
@media screen and (min-width: 800px)
{
    .CouponList .item .con2 .son1 .td1 div.div1 span
    {
        font-family: Arial;
    }
}
.CouponList .item .con2 .son1 .td1 div.div1 i
{
    font-style: normal;
    display: inline-block;
}
.CouponList .item .con2 .son1 .td1 div.div1.div1_a
{
    padding: 17px 20px 0 6px;
}
.CouponList .item .con2 .son1 .td1 div.div1.div1_b
{
    padding: 17px 5px 0 4px;
}
.CouponList .item .con2 .son1 .td1 div.div1.div1_c
{
    padding: 12px 10px 0 4px;
}
.CouponList .item .con2 .son1 .td1 div.div1.div1_a span
{
    position: absolute;
    margin-top: 27px;
    font-size: 14px;
}
@media screen and (min-width: 800px)
{
    .CouponList .item .con2 .son1 .td1 div.div1.div1_a span
    {
        font-family: 'Microsoft Yahei' , '微软雅黑' , MSYahei, '黑体' , Verdana, Arial, Helvetica, sans-serif;
    }
}
.CouponList .item .con2 .son1 .td1 div.div1.div1_b span
{
    font-size: 14px;
}
.CouponList .item .con2 .son1 .td1 div.div1.div1_c span
{
    font-size: 14px;
    position: absolute;
    padding-top: 34px;
}
.CouponList .item .con2 .son1 .td1 div.div1.div1_a i
{
    font-size: 50px;
    line-height: 54px;
}
.CouponList .item .con2 .son1 .td1 div.div1.div1_b i
{
    font-size: 50px;
    line-height: 54px;
}
@media screen and (min-width: 800px)
{
    .CouponList .item .con2 .son1 .td1 div.div1.div1_b i
    {
        font-family: Arial;
    }
}
.CouponList .item .con2 .son1 .td1 div.div1.div1_c i
{
    font-size: 50px;
    line-height: 54px;
    padding-left: 16px;
}
@media screen and (min-width: 800px)
{
    .CouponList .item .con2 .son1 .td1 div.div1.div1_c i
    {
        font-family: 'Microsoft Yahei' , '微软雅黑' , MSYahei, '黑体' , Verdana, Arial, Helvetica, sans-serif;
    }
}
.CouponList .item .con2 .son1 .td2
{
    width: 100%;
}
.CouponList .item .con2 .son1 .td2 div
{
}
@media screen and (min-width: 800px)
{
    .CouponList .item .con2 .son1 .td2 div
    {
        font-family: 'Microsoft Yahei' , '微软雅黑' , MSYahei, '黑体' , Verdana, Arial, Helvetica, sans-serif;
    }
}
.CouponList .item .con2 .son1 .td2 div b
{
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    padding: 11px 0 3px;
}
.CouponList .item .con2 .son1 .td2 div u
{
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.CouponList .item .con2 .son1 .td2 div u a
{
    color: #fff;
}
.CouponList .item .con2 .son1 .td3
{
    width: 78px;
}
.CouponList .item .con2 .son1 .td3 div
{
    color: #EA5840;
    width: 60px;
    height: 60px;
    line-height: 20px;
    padding-top: 10px;
    overflow: hidden;
    background: #fff;
    text-align: center;
    margin: 10px 5px 10px 0;
    font-size: 14px;
    border-radius: 40px;
    cursor: pointer;
}
.CouponList .item .con2 .son2
{
    font-size: 12px;
    border-top: dashed 2px #FFDED6;
    height: 46px;
    line-height: 46px;
    overflow: hidden;
    padding: 0 10px 0 12px;
}
.CouponList .item .con2 .son2 span
{
    margin: 0 4px;
}
.CouponList .item_overdue .con2
{
    background: #B9B9B9;
}
.CouponList .item_overdue .con2 .son1 .td3 div
{
    color: #999;
}
.CouponList .item_overdue .con2 .son2
{
    border-top-color: #999;
}
/*——*/
.AdminSetting
{
    background: rgba(0,0,0,.5);
    padding: 50px 45px;
    border-radius: 4px;
}
.AdminSetting a
{
    font-size: 12px;
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #f60;
    border-radius: 4px;
    color: #fff;
    margin: 0 10px;
}
/*——*/
.ShowWechat
{
    background: #fff;
    border-radius: 40px 0 40px 20px;
    max-width: 360px;
    box-shadow: 0 0 1px rgba(255,255,255,1) inset,0 0 10px rgba(0,0,0,.2);
}
.ShowWechat u
{
    position: absolute;
    right: 0;
    background: url(/s/img/g/close_4.gif) no-repeat center center;
    background-size: auto 60%;
    width: 30px;
    height: 30px;
}
.ShowWechat blockquote
{
    padding-top: 15px;
}
.ShowWechat blockquote img
{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.ShowWechat i
{
    display: block;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    color: #666;
    padding: 8px 14px 0;
    word-wrap: break-word;
    word-break: break-all;
}
.ShowWechat ul
{
    padding: 10px 6px 10px 12px;
}
.ShowWechat ul li
{
    font-size: 12px;
    color: #999;
}
.ShowWechat ul li b
{
    font-weight: normal;
    color: #5AB9E8;
}
.ShowWechat ul li span
{
    color: #f80;
}
/*——*/
.StaticPages
{
    padding: 0 10px;
    display: none;
}
.StaticPages .p_prevhref, .StaticPages .p_nexthref
{
    display: block;
    font-size: 12px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    color: #999;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
}
/*——*/
.JobList
{
}
.JobList .item
{
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
    margin: 0 10px;
}
.JobList .item .td1
{
}
.JobList .item .td1 div
{
}
.JobList .item .td1 div u
{
    text-decoration: none;
    font-size: 14px;
    color: #444;
    display: block;
    height: 20px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 8px;
}
.JobList .item .td1 div i
{
    font-style: normal;
    font-size: 12px;
    color: #999;
    display: block;
    height: 20px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 8px;
}
.JobList .item .td2
{
    width: 36px;
}
.JobList .item .td2 div
{
    width: 36px;
    height: 36px;
    border-radius: 30px;
    background: #ddd url(/s/html/d/wxhy/img/phone2.png) no-repeat center center;
    background-size: 60%;
}
/*——*/
.ArticleList
{
}
.ArticleList .item
{
    border-bottom: solid 1px #ddd;
    padding: 8px 0;
    margin: 0 10px;
}
.ArticleList .item .td1
{
}
.ArticleList .item .td1 div
{
}
.ArticleList .item .td1 div u
{
    text-decoration: none;
    font-size: 14px;
    color: #666;
    display: block;
    height: 20px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 8px;
}
.ArticleList .item .td1 div u a
{
    color: #444;
}
.ArticleList .item .td1 div i
{
    font-style: normal;
    font-size: 12px;
    color: #999;
    display: block;
    height: 20px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 8px;
}
.ArticleList .item .td2
{
    width: 60px;
}
.ArticleList .item .td2 div
{
    width: 60px;
}
.ArticleList .item .td2 div img
{
    display: block;
    width: 60px;
    height: 50px;
}
/*——*/
.JoinNotice
{
    margin-top: 5px;
    cursor: pointer;
}
.JoinNotice div
{
    padding: 0 10px 0 12px;
    height: 50px;
    overflow: hidden;
    background: #fff;
    border-bottom: solid 2px #ddd;
}
.JoinNotice div b
{
    display: block;
    font-weight: normal;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    padding-right: 24px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    color: #555;
    background: #fff url(/s/html/d/wxhy/img/ArrowRight.png) no-repeat right center;
    background-size: auto 30%;
}
/*——*/
@-webkit-keyframes fadein{
    0%{opacity:0;}
    80%{opacity:0;}
    100%{opacity:1;}
}
@-moz-keyframes fadein{
    0%{opacity:0;}
    80%{opacity:0;}
    100%{opacity:1;}
}
@-ms-keyframes fadein{
    0%{opacity:0;}
    80%{opacity:0;}
    100%{opacity:1;}
}
@keyframes fadein{
    0%{opacity:0;}
    80%{opacity:0;}
    100%{opacity:1;}
}
/*——*/
.Broadcast_box
{
    padding: 5px 10px;
}
.Broadcast
{
    border: solid 1px #ddd;
    border-radius: 4px;
    overflow: hidden;
    font-size: 12px;
    background: #fff;
}
.Broadcast .con1
{
    height: 34px;
    background: #fcfcfc;
    line-height: 34px;
    padding-left: 10px;
    border-bottom: solid 1px #eee;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
    color: #444;
}
.Broadcast .con2
{
    padding: 2px 0;
}
.Broadcast .con2 li
{
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    border-bottom: solid 1px #eee;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
.Broadcast .con2 li a
{
    overflow: hidden;
    display: block;
    color: #666;
}
.Broadcast .con2 li:last-child
{
    border-bottom: 0;
}
.Broadcast .con3
{
    height: 36px;
    line-height: 36px;
    border-top: solid 1px #eee;
    background: #fcfcfc;
    text-align: center;
    border-radius: 0 0 4px 4px;
}
.Broadcast .con3 a
{
    display: block;
    color: #297EDE;
}
/*——*/