.top-header{
	/*background:none!important;
	height: 200px!important; */
	z-index:10!important;
	/*background:url(../images/top_header_bg.png);
	opacity:0.5;*/		
}
.top-header-bg{height: 44px;background: rgb(0, 129, 255);opacity: 0.8;width:100%;position:absolute;}
.banner-swiper.swiper-container img{
/*height: 320px!important;*/
}
input[type=search]{
	text-align: left!important;
}
.mui-input-row {
/*top: 155px;*/
}
/*.pagination {
	bottom: 50px!important;
	right: 10%;
	z-index:999!important;
	text-align: right!important;
}*/
.mui-input-row {
	/*position: absolute!important;
	left: 17%!important;
	width: 75%!important;
	z-index: 999;*/
}
#search-input {
	margin: 5px 0;
	/*border-radius: 4px!important;
	height: 30px!important;
	background: white;
	opacity:0.7;
	border: 0;*/
	font-size: 12px
}
.search-btn{
    /*top: 15px!important;*/
}