.ShopIndexTopbar
{
    height: 60px;
}
.ShopIndexTopbar .con1
{
    position: fixed;
    top: 0;
    background: rgba(0,0,0,.5);
    height: 60px;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    z-index: 1;
}
.ShopIndexTopbar .con1 td
{
    color: #fff;
    font-size: 12px;
    vertical-align: top;
}
.ShopIndexTopbar .con1 td.td1
{
    width: 60px;
}
.ShopIndexTopbar .con1 td.td1 div
{
    width: 60px;
}
.ShopIndexTopbar .con1 td.td1 div img
{
    width: 48px;
    height: 48px;
    display: block;
    margin: 6px;
}
.ShopIndexTopbar .con1 td.td2
{
}
.ShopIndexTopbar .con1 td.td2 div
{
    padding-top: 6px;
    padding-right: 4px;
    word-wrap: break-word;
    word-break: break-all;
}
.ShopIndexTopbar .con1 td.td2 div b
{
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
}
.ShopIndexTopbar .con1 td.td2 div i
{
    display: block;
    font-style: normal;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
}
.ShopIndexTopbar .con1 td.td3
{
    width: 70px;
}
.ShopIndexTopbar .con1 td.td3 div
{
    width: 70px;
    padding-top: 12px;
}
.ShopIndexTopbar .con1 td.td3 div a
{
    width: 64px;
    display: block;
    height: 36px;
    line-height: 34px;
    border: solid 1px #7AADF4;
    text-align: center;
    color: #fff;
    border-radius: 4px;
}
/*——*/
.ShopIndexBanner
{
    position: relative;
}
.ShopIndexBanner .con1
{
    position: absolute;
    bottom: 10px;
    text-align: right;
    width: 100%;
    max-width: 800px;
}
.ShopIndexBanner .con1 span
{
    display: inline-block;
    margin-right: 10px;
    background: rgba(0,0,0,.5);
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 12px;
    padding: 0 12px;
    border-radius: 4px;
}
.ShopIndexBanner .con1 span b
{
    font-weight: normal;
    margin-left: 4px;
}
.ShopIndexBanner .con2
{
    position: absolute;
    bottom: -30px;
    left: 10px;
}
.ShopIndexBanner .con2 img
{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
}
.ShopIndexBanner .con3 img
{
    display: block;
    width: 100%;
}
/*——*/
.ShopIndex_x1
{
    padding-left: 80px;
    margin-top: 8px;
    font-size: 16px;
    height: 20px;
    overflow: hidden;
    padding-right: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*——*/
.ShopIndex_x2
{
    margin: 10px 0;
    background: #E5E5EA;
    padding: 10px 0;
}
.ShopIndex_x2 td
{
    vertical-align: top;
}
.ShopIndex_x2 td.td1
{
    width: 50%;
}
.ShopIndex_x2 td.td1 .con1
{
    word-wrap: break-word;
    word-break: break-all;
    background: url(/s/html/d/wxhy/img/phone3.png) no-repeat 8px 5px;
    background-size: auto 28px;
    padding-left: 30px;
}
.ShopIndex_x2 td.td1 .con1 .son1
{
    font-size: 12px;
    padding-left: 12px;
    color: #444;
}
.ShopIndex_x2 td.td1 .con1 .son1 span
{
    color: #999;
    margin-left: 4px;
    font-size: 12px;
}
.ShopIndex_x2 td.td1 .con1 .son2
{
    font-size: 12px;
    padding-left: 12px;
    color: #888;
}
.ShopIndex_x2 td.td1 .con1 .son3
{
    font-size: 16px;
    padding-left: 10px;
    color: #f90;
    display: none;
}
.ShopIndex_x2 td.td1 .con1 .son3 a
{
    color: #f90;
}
.ShopIndex_x2 td.td2
{
    width: 50%;
}
.ShopIndex_x2 td.td2 .con1
{
    word-wrap: break-word;
    word-break: break-all;
    background: url(/s/html/d/wxhy/img/address.png) no-repeat 0 5px;
    background-size: auto 30px;
    padding-left: 28px;
}
.ShopIndex_x2 td.td2 .con1 .son1
{
    font-size: 12px;
    color: #444;
}
.ShopIndex_x2 td.td2 .con1 .son1 span
{
    color: #999;
    margin-left: 4px;
    font-size: 12px;
}
.ShopIndex_x2 td.td2 .con1 .son2
{
    font-size: 12px;
    color: #888;
    padding-right: 6px;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-user-select:text;
}
/*——*/
.ShopIndex_title1
{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background: #fff;
    font-size: 14px;
    border-top: solid 1px #E8E8F0;
}
.ShopIndex_title1 a
{
    color: #62B9E3;
}
/*——*/
.ShopIndex_x3
{
    font-size: 12px;
    color: #444;
    line-height: 1.8;
    padding: 7px 10px;
}
.ShopIndex_x3 a
{
    color: #06c;
}
.ShopIndex_x3 img
{
    max-width: 100%;
    display: block;
    margin: 3px auto;
}
/*——*/
.ShopIndex_CouponTip
{
    margin: 10px 0;
    border-top: dotted 2px #F7FB08;
    border-bottom: dotted 2px #F7FB08;
    background: #E86D6D;
    color: #F7FB08;
    padding: 10px 6px 10px 12px;
    font-size: 12px;
    word-wrap: break-word;
    word-break: break-all;
}
.ShopIndex_CouponTip span
{
    margin-left: 4px;
}
/*——*/
.ShopIndex_map
{
    display: none;
    padding-bottom: 10px;
}
/*——*/
.ShopIndex_Photo
{
    overflow: hidden;
    height: 110px;
}
.ShopIndex_Photo .con1
{
    margin-left: 10px;
    overflow-x: auto;
    position: absolute;
}
.ShopIndex_Photo .con1 .son1 .item
{
    float: left;
    width: 110px;
    height: 100px;
    overflow: hidden;
}
.ShopIndex_Photo .con1 .son1 .item i
{
    display: block;
    position: absolute;
    width: 90px;
    height: 30px;
    font-size: 12px;
    overflow: hidden;
    line-height: 30px;
    top: 70px;
    font-style: normal;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 0 5px;
    box-sizing: content-box;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
}
.ShopIndex_Photo .con1 .son1 .item img
{
    width: 100px;
    height: 100px;
    display: block;
}
/*——*/
.foot .con1 td.td2.td2_shop div i
{
    background-image: url(/s/html/d/wxhy/img/tel.png);
}
.foot .con1 td.td3.td3_shop div i
{
    background-image: url(/s/html/d/wxhy/img/chat.png);
}
.foot .con1 td.td4.td4_shop div i
{
    background-image: url(/s/html/d/wxhy/img/join.png);
}
.foot .con1 td.td5.td5_shop div i
{
    background-image: url(/s/html/d/wxhy/img/share.png);
}
/*——*/
.ShareTip
{
    display: none;
    text-align: center;
}
.ShareTip span
{
    display: inline-block;
    padding: 14px 18px;
    font-size: 12px;
    color: #fff;
    background: rgba(0,0,0,.5);
    border-radius: 30px;
}
.ShareTip2
{
    display: none;
}
.ShareTip2 img
{
    max-width: 100%;
}
/*——*/
.ShopIndex_Job
{
    padding: 0 10px 10px;
}
.ShopIndex_Job .ShopIndex_JobItem
{
    margin-top: 10px;
    border: solid 1px #ddd;
}
.ShopIndex_Job .ShopIndex_JobItem table td
{
    border-bottom: solid 1px #eee;
    background: #fff;
    padding: 6px 6px 6px 10px;
    font-size: 12px;
    color: #777;
    word-wrap: break-word;
    word-break: break-all;
}
.ShopIndex_Job .ShopIndex_JobItem table tr:first-child td
{
    background: #f9f9f9;
    border-bottom-color: #ddd;
}
.ShopIndex_Job .ShopIndex_JobItem table tr:last-child td
{
    border-bottom: 0;
}
.ShopIndex_Job .ShopIndex_JobItem table td b
{
    margin-right: 6px;
    font-weight: normal;
    color: #333;
}
.ShopIndex_Job .ShopIndex_JobItem table td span
{
    color: #f00;
}
.ShopIndex_Job .ShopIndex_JobItem table td i
{
    margin: 0 6px;
}
/*——*/
.ShopIndex_receive_bg
{
    background: #69554A url(/s/html/d/wxhy/img/CouponReceive001.png) no-repeat center 0;
    background-size: 100% auto;
    position: fixed;
    width: 100%;
    max-width: 800px;
    z-index: 11;
    display: none;
    top: 0;
    opacity: 0.8;
}
.ShopIndex_receive
{
    position: fixed;
    width: 100%;
    max-width: 800px;
    z-index: 13;
    display: none;
    top: 0;
}
.ShopIndex_receive .con1
{
    width: 160px;
    height: 203px;
    background: url(/s/html/d/wxhy/img/CouponReceive002.png) no-repeat center center;
    background-size: 100% 100%;
    margin: 85px auto 0;
}
.ShopIndex_receive .con1 .son1
{
    height: 26px;
}
.ShopIndex_receive .con1 .son2
{
    width: 50px;
    height: 50px;
    background: url(/s/html/d/wxhy/img/CouponReceive003.png) no-repeat center center;
    background-size: 100% 100%;
    border-radius: 30px;
    margin: 0 auto;
    border: solid 2px #fff;
}
.ShopIndex_receive .con1 .son3
{
    font-size: 12px;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    padding: 6px 14px 0;
    max-height: 60px;
    line-height: 20px;
    overflow: hidden;
}
.ShopIndex_receive .con1 .son4
{
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding-top: 13px;
}
.ShopIndex_receive .con2
{
    background: #EC654E;
    height: 42px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 20px;
    border-radius: 4px;
}
.ShopIndex_receive .con3
{
    border-top: dashed 1px #ccc;
    color: #ddd;
    text-align: center;
    font-size: 12px;
    padding: 6px 0;
}
.ShopIndex_receive_rotate
{
    width: 16rem;
    height: 16rem;
    background-image: url(/s/html/d/wxhy/img/CouponReceive004.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    border-radius: 50%;
    animation: bgRotate 6s linear infinite;
    -webkit-animation: bgRotate 6s linear infinite;
    -moz-animation: bgRotate 6s linear infinite;
    -o-animation: bgRotate 6s linear infinite;
    z-index: 12;
    left: 50%;
    margin: 0 -8rem 0;
    top: 0;
    display: none;
}
@keyframes bgRotate {
	from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}
@-webkit-keyframes bgRotate {
	from {-webkit-transform:rotate(0deg)}
    to {-webkit-transform:rotate(360deg)}
}
@-moz-keyframes bgRotate {
	from {-moz-transform:rotate(0deg)}
    to {-moz-transform:rotate(360deg)}
}
@-o-keyframes bgRotate {
	from {-o-transform:rotate(0deg)}
    to {-o-transform:rotate(360deg)}
}
/*——*/
.mui-toast-container
{
    bottom: 56px;
}
.mui-toast-message
{
    padding: 8px;
    background: rgba(0,0,0,.5);
    border-radius: 4px;
    color: #fff;
}
/*——*/
.mui-preview-image.mui-fullscreen
{
    position: fixed;
    z-index: 99998;
    background-color: #000;
}
.mui-preview-header, .mui-preview-footer
{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 99997;
}
.mui-preview-header
{
    height: 44px;
    top: 0;
    visibility: hidden;
}
.mui-preview-footer
{
    height: 50px;
    bottom: 0px;
}
.mui-preview-header .mui-preview-indicator
{
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}
.mui-preview-image
{
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.mui-preview-image.mui-preview-in
{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.mui-preview-image.mui-preview-out
{
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.mui-preview-image.mui-preview-out .mui-preview-header, .mui-preview-image.mui-preview-out .mui-preview-footer
{
    display: none;
}
.mui-zoom-scroller
{
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}
.mui-zoom
{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.mui-slider .mui-slider-group .mui-slider-item img
{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img
{
    width: 100%;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item
{
    display: inline-table;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img
{
    display: table-cell;
    vertical-align: middle;
}
.mui-preview-loading
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.mui-preview-loading.mui-active
{
    display: block;
}
.mui-preview-loading .mui-spinner-white
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}
.mui-preview-image img.mui-transitioning
{
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
/*——*/
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
._indicator
{
    position: fixed;
    bottom: 15px;
    z-index: 99999;
    text-align: center;
    width: 100%;
    max-width: 800px;
}
._indicator b
{
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #666;
    overflow: hidden;
    margin: 0 2px;
    border-radius: 6px;
}
._indicator b.on
{
    background: #fff;
}
/*——*/
#LocationFarBox
{
    height: 40px;
    line-height: 40px;
    background: #999;
    margin-bottom: 10px;
    padding: 0 10px 0 33px;
    background: #E8C17E url(/s/html/d/wxhy/img/address.png) no-repeat 10px center;
    background-size: auto 50%;
}
#LocationFar
{
    font-size: 13px;    
    color: #fff;
    background: url(/s/html/d/wxhy/img/ArrowRight_white.png) no-repeat right center;
    background-size: auto 50%;
}
/*——*/