body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;
}

.page-url {
    margin-top: 10px;
    border-top: 1px solid #E5E5E5;
    text-align: center;
}

.page-url-link {
    font-size: 14px;
    line-height: 2.5;
    text-decoration: none;
    text-shadow: 0 1px white;
    -webkit-text-shadow: 0 1px #fff;
    -moz-text-shadow: 0 1px #fff;
    color: #CACACA;
}

.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.fn-clear {
    zoom: 1;
}

.share {
    margin: 15px 0;
    font-size: 14px;
    word-wrap: break-word;
    color: #727272;
    margin: 15px 0;
    display: block;
}

.share .share-1 {
    float: left;
    width: 49%;
    display: block;
}

.share .share-2 {
    float: right;
    width: 49%;
    display: block;
}

.share button {
    font-size: 16px;
    padding: 8px 0;
    border: 1px solid #adadab;
    color: #000;
    background-color: #e8e8e8;
    background-image: linear-gradient(to top, #dbdbdb, #f4f4f4);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45), inset 0 1px 1px #efefef;
    text-shadow: .5px .5px 1px #fff;
    text-align: center;
    border-radius: 3px;
    width: 100%;
}

.share img {
    width: 22px !important;
    height: 22px !important;
    vertical-align: top;
    border: 0;
}