body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {margin:0; padding:0;}
body {color: #333;font-size: 16px;font-family:"Adobe 黑体 Std R";}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
address,cite,dfn,em,var {font-style:normal;}
ul,ol,li {list-style:none; }
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
fieldset,img {border:none;}
button,input,select,textarea {font-size:100%;}
table,div {border-collapse:collapse; border-spacing:0;}
img{vertical-align:bottom; }
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:none;}

/*-- 清除浮动 --*/
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clear { clear:both; line-height:0; font-size:0; overflow:hidden; height:0; width:100%; }

/* 常用部分 */
.fl {float:left;}
.fr {float:right;}
.dn {display:none;}
.cb {clear:both;}
.cl {clear:left;}
.cr {clear:right;}
.tl {text-align:left;}
.tr {text-align:right;}
.tc {text-align:center;}
.fb {font-weight:bold;}

.mt3 { margin-top: 3px;}
.mt6 { margin-top: 6px;}
.mt7 { margin-top: 7px;}
.mt8 { margin-top: 8px;}
.mt10 { margin-top: 10px;}
.mt12 { margin-top: 12px;}
.mt13 { margin-top: 13px;}
.mt14 { margin-top: 14px;}
.mt20 { margin-top: 20px;}
.pt200 { padding-top: 200px;}
.pt13 { padding-top: 50px;}

/*常用颜色*/
a:link, a:active, a:visited{ color:#000;}
.qgray,.qgray a:link, .qgray a:active, .qgray a:visited{ color:#444547;}
.sgray,.sgray a:link, .sgray a:active, .sgray a:visited {color:#242223;}
.red,.red a:link,.red a:active, .red a:visited{color:#ff3632;}

#wrap{ margin:auto;width:100%;}
.con_w{ width:100%; }
#header{   background-color:#723F3F; height:20px; text-align:center; padding:5px 0; font-size:18px;  color:#fff; font-weight:bold;width:100%}
#header img { margin:0 3%; height:26px;}
#header .fl {padding:0em 2em 0px 0px;}

#header_title{ background-color:#cecece; border-bottom:solid 2px #b9b8b8; height:30px;padding-top:12px;position: fixed;  top:49; left:0; z-index:8888; width:100%;text-align:center; font-size:16px; line-height:16px; font-weight:bold; }

#header_title img{ padding:0 3%; height:14px;}
.red_line{ border-bottom:3px solid #a70600; padding-bottom:11px; width:80%;}


.mengban{background: none repeat scroll 0 0 #000000;bottom: 0;height:100%;opacity: 0.6;position: absolute;width:100%;z-index:1; display:none;}


dth:100%;z-index:1; display:none;}


.dy a{height:35px; line-height:35px; font-size:18px; background:#d50f10; color:#fff; display:block}