@charset "UTF-8";
/*
z中文
CSS Document
wap  CSS
版本号：V1.0
作者：linhui 时间：2014-10-1
Copyright &#169;2012-2013 wap
*/

/*头部*/
.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: #fff;
    width: 100%;
}

.header {
    height: 50px;
    z-index: 999;
    min-width: 320px;
    font-size: 18px;
    color: #aaa;
    background: #ccc;
}

.header .logo {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 20%;
}

.header .nav {
    position: absolute;
    right: 10px;
    top: 5px;
}

.nav li {
    float: left;
    width: 50px;
    height: 38px;
}

.nav li a {
    display: block;
    padding-right: 40px;
    height: 35px;
    color: #fff;
    position: absolute;
    right: 0px;
    top: 4px
}

.nav li.menu {
    background: url(../images/menu.png) no-repeat center right;
    background-size: 50%
}

/*头部样式二*/
.header01 {
    text-align: center
}

/* 二级菜单 */
.sub_menu {
    text-align: center;
    background: #fff;
    overflow: hidden;
    width: 99.4%;
    display: none;
    border-bottom: #b0b0b2 solid 1px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.sub_menu li {
    display: block;
    font-size: 1em;
    background: #949494;
    border-bottom: 1px solid #fff;
    padding: 4px 0;
}

.sub_menu li a {
    display: block;
    color: #fff;
}

/*底部*/
footer {
    background: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%
}

footer .footF a {
    color: #525252;
    width: 24.66%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-left: 1px solid #fff;
    border-bottom: 5px solid #c6c6c6;
    border-top: #eaeee1;
    background: #F2F2F2;
    padding-top: 4px;
    font-size: 0.8em
}

footer .footF a:hover, footer .footF a:active, footer .footF a.current {
    border-bottom: 5px solid #7caa1b;
    border-top: #98c832;
    background: #8fc41f;
    color: #fff;
}

/*底部样式二*/
footer .footF01 a {
    color: #525252;
    width: 24.66%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    border-left: 1px solid #ddddde;
    border-bottom: 1px solid #ddddde;
    border-top: 1px solid #ddddde;
    background: #f5f5f5;
    font-size: 0.8em;
    padding-top: 40px
}

footer .footF01 a.footi01 {
    background: url(../images/icon01_1.png) no-repeat center 6px;
}

footer .footF01 a.footi02 {
    background: url(../images/icon02_1.png) no-repeat center 6px;
}

footer .footF01 a.footi03 {
    background: url(../images/icon03_1.png) no-repeat center 6px;
}

footer .footF01 a.footi04 {
    background: url(../images/icon04_1.png) no-repeat center 6px;
}

footer .footF01 a.footi01.current, footer .footF01 a.footi01:active {
    background: #8fc41f url(../images/icon01.png) no-repeat center 6px;
    color: #fff
}

footer .footF01 a.footi02.current, footer .footF01 a.footi02:active {
    background: #8fc41f url(../images/icon02.png) no-repeat center 6px;
    color: #fff
}

footer .footF01 a.footi03.current, footer .footF01 a.footi03:active {
    background: #8fc41f url(../images/icon03.png) no-repeat center 6px;
    color: #fff
}

footer .footF01 a.footi04.current, footer .footF01 a.footi04:active {
    background: #8fc41f url(../images/icon04.png) no-repeat center 6px;
    color: #fff
}

/*首页样式*/
/*轮播*/
.scroll {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.mod_01 {
    float: left;
    width: 350px;
}

.mod_01 img {
    display: block;
    width: 350px;
    text-align: center;
}

.dotModule_new {
    padding: 4px 5px;
    height: 16px;
    line-height: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 11;
    background: rgba(0, 0, 0, 0) none repeat scroll;
}

#slide_01_dot {
    text-align: center;
    margin: 5px 0 0 0;
}

#slide_01_dot span {
    display: inline-block;
    margin: 0 5px;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    background: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

#slide_01_dot .selected {
    background: #8fc41f;
}

/*产品列表*/
.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    background: #fff;
}

.container .proType li {
    float: left;
    font-weight: 700;
    width: 33%;
    text-align: center;
    border-right: 1px solid #c9c9c9;
}

.container .proType li a {
    color: #525252;
    display: block;
    padding: 10px 0;
    background: #f5f5f5;
    border-bottom: 3px solid #f5f5f5
}

.container .proType li a:hover, .container .proType li a:active, .container .proType li a.curType {
    color: #8fc41f;
    border-bottom: 3px solid #8fc41f
}

.container .proList .proLi {
    border-bottom: 3px solid #f5f5f5;
    font-size: 0.8em;
}

.container .proList .proLi:hover, .container .proList .proLi:active {
    background: #f5f5f5
}

.container .proList .proLi .fl {
    width: 33%
}

.container .proList .proLi .fr {
    width: 60%;
    padding-top: 10px;
    padding-right: 10px;
}

.container .proList .proLi .fr h1 {
    color: #8fc41f;
    margin-bottom: 6px;
}

.container .proList .proLi .fr p {
    color: #525252
}

.container .proList .proLi img {
    width: 100%;
    float: left
}

/*无忧管家*/
.wygjAD img {
    width: 100%;
    float: left;
}

.wygjList li {
    border-bottom: 2px solid #e2e2e2;
    background: #f5f5f5;
}

.wygjList a {
    color: #525252;
    padding: 8px 12px;
    display: block
}

.wygjList a:active {
    background: #e2e2e2
}

.wygjTitle {
    text-align: center;
    padding: 0 0 10px 0;
}

.wygjTitle h1 {
    padding: 4px 0;
}

.wygjTitle select {
    width: 45%;
    border: 1px solid #ececec;
    background: linear-gradient(#fefefe, #dfdfdf) repeat scroll 0 0 #dfdfdf;
    background: -webkit-linear-gradient(#fefefe, #dfdfdf) repeat scroll 0 0 #dfdfdf; /* Safari 和 Chrome */
    color: #6b6b6b;
    font-size: 1em;
    box-shadow: 0 0px 5px #EBE9E9
}

.wygjList li .fl {
    margin-right: 10px;
}

.wygjList li .wdName {
    width: 88%
}

.wygjList li.holder {
    display: none;
    font-size: 0.9em;
    background: #e4e4e4;
}

.wygjList li.holder img {
    width: 100%;
}

.wygjList li.holder p {
    padding: 8px 12px;
}

.wygjList li.holder .fl {
    margin-right: 0;
    width: 26px;
}

.wygjList li.holder .QAall {
    padding: 10px 7%;
}

.wygjList li.holder .cont {
    width: 90%
}

.wygjList li.holder .query .tableft {
    width: 32%;
    display: inline-block;
    margin: 0 0 16px 0;
}

.wygjList li.holder .query .tabright {
    width: 65%;
    display: inline-block
}

.wygjList li.holder .query .tabright input[type=text] {
    width: 100%;
    height: 28px;
    border: 1px solid #b6b6b6
}

.wygjList li.holder .query .tabright select {
    width: 100%;
    height: 28px;
    border: 1px solid #b6b6b6;
    background: linear-gradient(#fefefe, #dfdfdf) repeat scroll 0 0 #dfdfdf;
    background: -webkit-linear-gradient(#fefefe, #dfdfdf) repeat scroll 0 0 #dfdfdf; /* Safari 和 Chrome */
    color: #6b6b6b;
    font-size: 1em;
    box-shadow: 0 0px 5px #EBE9E9
}

.wygjList li.holder .query.appointment {
    padding: 10px;
}

.wygjList li.holder .query.appointment h1 {
    margin-bottom: 10px;
    margin-top: 20px;
}

/*修改预约的复选框*/
.wygjList li.holder .query.appointment .switch {
    left: 0
}

.wygjList li.holder .query .tabright.ma img {
    width: 50%;
    float: right
}

.wygjList li.holder .query .tabright.ma input {
    width: 46%;
}

.wygjList li.holder .query a {
    border-radius: 5px;
    width: 40%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 1.2em
}

.wygjList li.holder .query .btnyes {
    background: #8fc41f;
    border-bottom: 5px solid #7caa1b;
    margin: 0 auto
}

.wygjList li.holder .query .btnno {
    background: #a4a4a4;
    border-bottom: 5px solid #888888;
}

#checktips {
    display: none;
    text-align: center;
    color: #eb3939;
    padding-top: 10px;
}

.btn_submit {
    background: #8fc41f;
    border-bottom: 5px solid #7caa1b;
    margin: 0 auto
}

/*滑动按钮*/
.wygjCB {
    width: 100%;
    display: block;
    text-align: right;
    margin-top: 10px;
}

.wygjCB .fl {
    width: 30%;
    position: relative;
    margin-bottom: 10px;
}

.wygjCB .fr {
    margin-right: 60px;
    position: relative
}

.switch {
    height: 10px;
    width: 56px;
    position: absolute;
    top: -5px;
    right: -60px;

}

.switch:after {

}

.checkbox {
    height: 26px;
    width: 40px;
    position: absolute;
    top: 4px;
    left: 2px;
    z-index: 10;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    background-color: #dcdcdc;
    *zoom: 1;
}

.checkbox:after {
    height: 26px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: 9;
    -moz-border-radius: 17px 0 0 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px 0 0 17px;
    background-color: #b1dd00;
    *zoom: 1;

}

.control {
    height: 26px;
    width: 26px;
    outline: 0;
    position: absolute;
    top: 4px;
    left: 2px;
    z-index: 11;
    -webkit-appearance: none;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;

    background-color: #efefef;
    *zoom: 1;

    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.control:checked {
    left: 16px;
}

.control:after {
}

/*产品导航、列表*/
.nextList {
    display: none;
}

.nextList li {
    border-top: 2px solid #e2e2e2;
    border-bottom: none;
    background: #ececec;
    font-weight: 700
}

.btnBack {
    margin: 10px 0 10px 10px;
    display: inline-block;
    border: 1px solid #a7a6a6;
    padding: 4px 10px;
    color: #525252;
    background: linear-gradient(#fefefe, #dfdfdf) repeat scroll 0 0 #dfdfdf;
    background: -webkit-linear-gradient(#fefefe, #dfdfdf) repeat scroll 0 0 #dfdfdf; /* Safari 和 Chrome */
}

.btnBack img {
    vertical-align: middle;
    margin-right: 10px;
}

.proTypeLi {
    font-weight: 700;
    margin-top: 15px;
}

.proTypeLi img {
    margin-right: 10px;
    margin-left: 10px;
}

.proType_list li {
    border-bottom: 2px solid #e2e2e2;
    background: #f5f5f5;
    padding: 10px 6px;
    font-size: 1em
}

.proType_list li:active {
    background: #e2e2e2
}

.proType_list li img {
    width: 100%;
    float: left
}

.proType_list li .fl {
    width: 36%
}

.proType_list li .fr {
    width: 60%;
    color: #525252
}

.proType_list li .fr h1 {
    font-weight: normal;
    height: 68px;
    overflow: hidden
}

/*新闻与活动*/
.detail_con {
    background: #fff;
    margin: 10px auto;
    overflow: hidden;
    width: 100%;
}

.detail_con .tab {
    overflow: hidden;
    cursor: pointer;
    margin-bottom: -1px
}

.detail_con .tab li {
    background: #fff;
    width: 50%;
    padding: 10px 0;
    float: left;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    border-top: 1px solid #e2e2e2;
    border-left: 0px solid #e2e2e2;
    border-right: 0px solid #e2e2e2;
    border-bottom: #e2e2e2 solid 1px;
}

.detail_con .tab li.cur {
    background: #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: -2px;
}

.detail_con .tab_con {
    border-top: #e2e2e2 solid 1px;
}

.detail_con .tab_con img {
    width: 100%;
}

.News_list li {
    border-bottom: 2px solid #e2e2e2;
    background: #f5f5f5;
    padding: 10px 6px;
    font-size: 0.8em
}

.News_list li .fl {
    width: 36%
}

.News_list li .fr {
    width: 60%;
    color: #525252
}

.News_list li .fr h1 {
    font-weight: normal;
    height: 54px;
    overflow: hidden
}

.News_detail {
    background: #f5f5f5;
    border-top: 2px solid #e2e2e2;
    color: #525252;
    font-size: 0.8em
}

.News_detail h1 {
    border-bottom: 2px solid #e2e2e2;
    padding: 10px 16px;
    font-weight: normal
}

.News_detail .NDcontent {
    padding: 10px 16px;
}

.News_detail .NDcontent p {
    margin-bottom: 10px;
}

.News_detail .NDcontent p.NDtime {
    color: #8fc41f;
}

.News_detail .NDcontent p img {
    width: 100%;
}

/*新品上市*/
.newTitle {
    text-align: center;
    font-weight: 700;
    background: url(../images/new.png) no-repeat top right;
    display: block;
    border-bottom: 2px solid #e2e2e2;
    padding: 14px 0;
}

.newproList {
    border-bottom: 2px solid #e2e2e2;
}

.newproList li {
    float: left;
    width: 30%;
    padding-left: 2.5%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.newproList li img {
    width: 100%
}

.newproList h1 {
    color: #525252;
    text-align: center
}

/*产品详细*/
.prodetailTitle h1 {
    font-weight: normal;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 0.9em
}

.detail_img {
    background: #fff;
    position: relative;
}

.detail_img .slider .sliderlist {
    width: 100%;
}

.detail_img .slider .sliderlist li {
    width: 340px !important;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

.detail_img .slider .sliderlist li img {
    width: 100%;
}

.pdcoad {
    text-align: center;
    padding: 10px 0;
    background: #e2e2e2;
    position: relative;
    margin-top: -6px;
}

.pdList li {
    border-bottom: 2px solid #e2e2e2;
    background: #f5f5f5;
    font-weight: 700;
}

.pdList a {
    color: #525252;
    padding: 8px 10px;
    display: block
}

.pdList a:active {
    background: #e2e2e2
}

.pdList li .nextList {
    border: none;
    font-weight: normal;
    padding: 10px;
    font-size: 0.9em
}

.pdList li .nextList img {
    width: 100%
}

.greenfont {
    color: #8fc41f
}

.grayfont {
    color: #a0a0a0
}

@media screen and (min-width: 700px) {
    /* 屏幕大于700px时 */
    article {
        min-height: 1024px;
    }
}

/*下拉框-时间*/
#tanArea, #tanTime {
    border: 1px solid #b6b6b6;
    height: 28px;
    width: 100%;
    border-radius: 0;
    font-weight: normal;
    text-align: left;
    background: url(../images/arrowright.png) no-repeat #fff;
    background-position: 90% center;
    color: #555;
    padding: 0;
    text-indent: 1em;
    font-size: 1em;
    line-height: 28px;
}

.ddl, .ddlCity {
    color: #525252;
    line-height: 30px;
    font-size: 1.2em;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none
}

.ddl h1 {
    line-height: 60px;
    background: #e6e6e6;
    position: fixed;
    width: 100%
}

.ddl ul, .ddlCity ul {
    margin-top: 60px
}

.ddl li {
    background: #fff;
    border: none
}

.ddl li:hover, .ddl li:active, .ddl li.cur {
    background: #e8f3d2
}

.ddl li a:active {
    background: #e8f3d2
}

.ddlCity li {
    border: none
}

.ddlCity .ddlCfl li:hover, .ddlCity .ddlCfl li:active, .ddlCity .ddlCfl li.cur {
    background: #fff
}

.ddlCity .ddlCfl li a:active, .ddlCity .ddlCfl li a.cur {
    background: #fff
}

.ddlCity .ddlCfl {
    width: 45%;
    overflow: scroll;
    height: 100%;
    float: left
}

.ddlCity .ddlCfr {
    width: 50%;
    overflow: scroll;
    height: 100%;
    float: left;
}

.ddlCity .ddlCfl li {
    background: #e8f3d2;
}

.ddlCity .ddlCfr li {
    background: #fff;
    right: 0;
    text-align: left
}

.ddlCity .ddlCfl li a {
    padding: 8px 10px
}

.ddlCity .ddlCfl h1 {
    line-height: 60px;
    background: #8ec21f;
    position: fixed;
    width: 45%;
    top: 0;
    left: 0
}

.ddlCity .ddlCfr h1 {
    line-height: 60px;
    background: #e6e6e6;
    position: fixed;
    width: 55%;
    top: 0;
    right: 0
}

.wygjList li.holder p.bgw {
    background: #FFF
}

.wygjList li.holder.bgw {
    background: #FFF
}

/*关于九牧*/
.about {
    width: 100%;
    background: #f5f5f5
}

.about li {
    float: left;
    text-align: center;
    line-height: 44px;
    width: 32%;
    font-weight: 700;
    border: 2px solid #f5f5f5
}

.about li a {
    display: block;
    color: #555;
    background: #fff
}

.about li a:hover, .about li a:active, .about li a.cur {
    background: #8fc41f;
    color: #fff
}

.wygjList .aboutbcYear {
    background: #f5f5f5;
    padding: 8px 12px
}

.wygjList .aboutbcYear a {
    float: left;
    padding: 0 2px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px
}

.wygjList .aboutbcYear a.cur, .wygjList .aboutbcYear a:hover {
    background: #8fc41f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2) inset
}

.aboutbhCont {
    background: #f0f0f0;
    padding-top: 4px;
    padding-bottom: 4px
}

.aboutbhCont li {
    width: 96%;
    margin: 0 auto;
    background: #fff;
    border-bottom: 2px solid #f0f0f0;
    border-top: 2px solid #f0f0f0;
}

.aboutbhCont li img {
    width: 32%
}

.aboutbhCont li b {
    font-size: 2em;
    line-height: 80px;
    margin-left: 10px;
}

.aboutbhCont li span {
    font-size: 0.9em;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
}

.aboutbhVD h1 {
    font-weight: normal;
    padding-left: 2%;
    line-height: 2.5em
}

.aboutbhVD .aboutbhVDBt {
    width: 80%;
    margin: 0 auto;
    clear: both;
}

.aboutbhVD .aboutbhVDBt a {
    color: #555;
    padding: 10px
}

.aboutsr img {
    width: 100%;
    margin-bottom: 2px
}

.aboutsz img {
    width: 100%;
    margin-bottom: 6px
}

.aboutsz .aboutszCont {
    width: 96%;
    margin: 0 auto
}

.aboutsz .aboutszCont .tableft {
    width: 28%;
    display: inline-block;
    margin: 0 0 16px 0;
}

.aboutsz .aboutszCont .tabright {
    width: 69%;
    display: inline-block
}

.aboutsz .aboutszCont .tabright input[type=text] {
    width: 100%;
    height: 28px;
    border: 1px solid #b6b6b6
}

.aboutsz .aboutszCont .bottom {
    text-align: center
}

.aboutsz .aboutszCont .bottom a {
    display: inline-block;
    width: 30%
}

.aboutsz a {
    color: #525252;
    padding: 8px 12px;
    display: block
}

.aboutsz .aboutszCont textarea {
    width: 100%;
    border: 1px solid #b6b6b6;
    height: 200px;
}

.aboutsz .aboutszCont .tabright .switch {
    left: 0
}

.aboutsz .aboutszCont .tabright .fl, .aboutsz .aboutszCont .tabright .fr {
    width: 50%;
    position: relative;
}

.tabright .Swtype {
    position: absolute;
    left: 44px;
    display: inline-block
}

/*内页底部*/
.footIn {
    width: 92%;
    background: #ccc;
    padding: 10px 4%;
    color: #aaa
}

.footIn .fl {
    width: auto
}

.footIn .fr {
    font-size: 0.7em;
    width: 60%;
}