.div_table {
	border:0px #a5d8ff solid;
	border-COLLAPSE: collapse;
    width:100%;
}

.div_table caption {
	border-bottom:0px #4889cd solid;
	background:#f7faff;
	LINE-HEIGHT: 30px;
	HEIGHT: 30px;
	text-align:left;
}

.div_table TH {
	background-color:#ecf7ff;
	FONT-WEIGHT: normal;COLOR: #000000;
	LINE-HEIGHT: 20px;
	HEIGHT: 28px;
	text-align:right;
	border:0px #cbe0f3 solid; padding:0 5px;
	color:#000080;
}

.div_table TD {
	border:0px #cbe0f3 solid;
	LINE-HEIGHT: 20px;
	HEIGHT: 28px;
	padding-left:5px;
	text-align:left;
}

.div_table td span {
	color:#000080;
	}
.div_table a:link {font-size: 10px;color:#ff0000;text-decoration: none;}
.div_table a:visited {font-size: 10px;color:#ff0000;text-decoration: none;}
.div_table a:hover {font-size: 10px;color:#ff0000;text-decoration: none;}
.div_table a:active {font-size: 10px;color:#ff0000;text-decoration: none;}
.div_table table td{ border:0}