{template 'common/header'}
<div class="clearfix welcome-container">
<div class="panel panel-info">
<div class="panel-heading">未处理信息</div>
<div class="panel-body">
{if $tougao > 0}<div class="alert alert-warning">有 <b style="font-size:18px;color:red">{$tougao}</b> 条网友投稿未处理 &nbsp; &nbsp; <a href="{php echo $this->createWebUrl('tougao',array('op' =>'display'))}" target="_blank"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>马上去处理</button></a></div>{/if}

{if $huati > 0}<div class="alert alert-warning">有 <b style="font-size:18px;color:red">{$huati}</b> 条话题评论未处理 &nbsp; &nbsp; <a href="{php echo url('site/entry/pk',array('op'=>'pinglun','m'=>'siyuan_cms','status'=>1))}" target="_blank"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>马上去处理</button></a></div>{/if}

{if $tel > 0}<div class="alert alert-warning">有 <b style="font-size:18px;color:red">{$tel}</b> 条电话黄页未审核 &nbsp; &nbsp; <a href="{php echo $this->createWebUrl('tel',array('op' =>'display'))}" target="_blank"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>马上去处理</button></a></div>{/if}

{if $ruzhu > 0}<div class="alert alert-warning">有 <b style="font-size:18px;color:red">{$ruzhu}</b> 条商家入驻未处理 &nbsp; &nbsp; <a href="{php echo url('site/entry/shop',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>马上去处理</button></a></div>{/if}

{if $yuyue > 0}<div class="alert alert-warning">有 <b style="font-size:18px;color:red">{$yuyue}</b> 条设计预约未处理 &nbsp; &nbsp; <a href="{php echo $this->createWebUrl('zhuangxiu_yuyue',array('op' =>'display'))}" target="_blank"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>马上去处理</button></a></div>{/if}
{if $jubao > 0}<div class="alert alert-warning">有 <b style="font-size:18px;color:red">{$jubao}</b> 条举报信息未处理 &nbsp; &nbsp; <a href="{php echo $this->createWebUrl('tip',array('op' =>'display'))}" target="_blank"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>马上去处理</button></a></div>{/if}
{if $yanfang > 0}<div class="alert alert-warning">有 <b style="font-size:18px;color:red">{$yanfang}</b> 条免费验房未处理 &nbsp; &nbsp; <a href="{php echo $this->createWebUrl('zhuangxiu_yanfang',array('op' =>'display'))}" target="_blank"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>马上去处理</button></a></div>{/if}
{if $baojia > 0}<div class="alert alert-warning">有 <b style="font-size:18px;color:red">{$baojia}</b> 条装修报价未处理 &nbsp; &nbsp; <a href="{php echo $this->createWebUrl('zhuangxiu_baojia',array('op' =>'display'))}" target="_blank"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>马上去处理</button></a></div>{/if}
{if $tv > 0}<div class="alert alert-warning">有 <b style="font-size:18px;color:red">{$tv}</b> 条电视直播报错未处理 &nbsp; &nbsp; <a href="{php echo $this->createWebUrl('tv_bug',array('op' =>'display'))}" target="_blank"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>马上去处理</button></a></div>{/if}
</div>
</div>
<style>
body{}
.tabbable{background:#fff;}
.tabbable .li{background:#336699;}
.tab-content{margin-top:-20px;padding:0 15px 15px 15px;border-left:1px solid #f0efed;border-right:1px solid #f0efed;border-bottom:1px solid #f0efed;}
.nav-tabs li{font-size:14px;}
.tab-pane h4{margin-top:20px;}
</style>
<div class="tabbable">  
<ul class="nav nav-tabs">  
<li class="active"><a href="#1" data-toggle="tab"><i class="fa fa-newspaper-o"></i> 新闻 / 微信头条</a></li>
<li><a href="#10" data-toggle="tab"><i class="fa fa-cogs"></i> 朋友圈</a></li>
<li><a href="#2" data-toggle="tab"><i class="fa fa-delicious"></i> 商家 / 活动</a></li>  
<li><a href="#3" data-toggle="tab"><i class="fa fa-mobile-phone"></i> 便民电话 / 查询</a></li>
<li><a href="#4" data-toggle="tab"><i class="fa fa-play-circle-o"></i> 直播 / 视频 / 全景 / 电视</a></li>
<li><a href="#5" data-toggle="tab"><i class="fa fa-hospital-o"></i> 房产 / 装修</a></li>
<li><a href="#6" data-toggle="tab"><i class="fa fa-laptop"></i> 分类信息 / 拼车</a></li>
<li><a href="#7" data-toggle="tab"><i class="fa fa-jpy"></i> 订单管理</a></li>
<li><a href="#8" data-toggle="tab"><i class="fa fa-wechat"></i> 评论管理</a></li>
<li><a href="#11" data-toggle="tab"><i class="fa fa-cogs"></i> 电脑版(即将上线)</a></li>
<li><a href="#9" data-toggle="tab"><i class="fa fa-cogs"></i> 站点设置</a></li>
</ul>  
<div class="tab-content">  
<div class="tab-pane active" id="1">  
<div class="shortcut clearfix">
<h4><i class="fa fa-bars"></i> 新闻管理</h4>
<a href="{php echo url('site/entry/news_fenlei',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-delicious"></i><span>新闻分类</span></a>
<a href="{php echo url('site/entry/news',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-globe"></i><span>新闻列表</span></a>
<a href="{php echo url('site/entry/news',array('op'=>'caiji','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-download"></i><span>微信文章采集</span></a>
<a href="{php echo url('site/entry/news_caiji',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-floppy-o"></i><span>万能文章采集</span></a>
<a href="{php echo url('site/entry/news_zhuanti',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-sitemap"></i><span>新闻专题</span></a>
<a href="{php echo url('site/entry/pk',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-group"></i><span>辩论话题</span></a>
</div>
<div class="shortcut clearfix">
<h4><i class="fa fa-bars"></i> 微信头条</h4>
<a href="{php echo url('site/entry/weixin',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-wechat"></i><span>公众号列表</span></a>
<a href="{php echo url('site/entry/weixin_news',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-list-ol"></i><span>文章列表</span></a>
</div>
</div>  
<div id="2" class="tab-pane"><div style="height:10px;"></div>
<h4><i class="fa fa-bars"></i> 商家</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/shop_fenlei',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-delicious"></i><span>商家分类</span></a>
<a href="{php echo url('site/entry/shop',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-apple"></i><span>商家管理</span></a>
</div>
<div class="shortcut clearfix"><div style="height:10px;"></div>
<h4><i class="fa fa-bars"></i> 活动</h4>
<a href="{php echo url('site/entry/huodong_fenlei',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-delicious"></i><span>活动分类</span></a>
<a href="{php echo url('site/entry/huodong',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-tablet"></i><span>活动管理</span></a>
<a href="{php echo url('site/entry/huodong_news',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-globe"></i><span>活动软文</span></a>
<a href="{php echo url('site/entry/huodong_news',array('op'=>'caiji','m'=>'siyuan_cms'))}" target="_blank"><i class="fa  fa-weixin"></i><span>微信软文采集</span></a>
<a href="{php echo url('site/entry/huodong_user',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-pencil-square-o"></i><span>活动报名管理</span></a>
</div>
</div>  
<div id="3" class="tab-pane">  <div style="height:10px;"></div>
<h4><i class="fa fa-bars"></i> 便民电话</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/tel_fenlei',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-delicious"></i><span>电话分类</span></a>
<a href="{php echo url('site/entry/tel',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-phone-square"></i><span>电话列表</span></a>
<a href="{php echo url('site/entry/tel',array('op'=>'daoru','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-arrow-circle-o-up"></i><span>导入电话</span></a>
</div>
<h4><i class="fa fa-bars"></i> 便民查询</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/bm_flash',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-puzzle-piece"></i><span>顶部幻灯片</span></a>
<a href="{php echo url('site/entry/bm_fenlei',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-windows"></i><span>便民分类</span></a>
<a href="{php echo url('site/entry/bm',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa  
fa-search-plus"></i><span>便民查询管理</span></a>
</div>
</div>
<div id="4" class="tab-pane"><div style="height:10px;"></div>
<h4><i class="fa fa-bars"></i> 直播</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/zhibo',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-tablet"></i><span>直播管理</span></a>
<a href="{php echo url('site/entry/zhibo_admin',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-user"></i><span>直播人员管理</span></a>
<a href="{php echo url('site/entry/sai',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-life-bouy"></i><span>赛事专题</span></a>
</div>
<h4><i class="fa fa-bars"></i> 视频</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/vod_fenlei',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-th-large"></i><span>视频分类</span></a>
<a href="{php echo url('site/entry/vod',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-play-circle-o"></i><span>视频列表</span></a>
<a href="{php echo url('site/entry/vod_zhuanti',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-film"></i><span>视频专题</span></a>
</div>
<h4><i class="fa fa-bars"></i> 全景</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/vr_fenlei',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-th-large"></i><span>全景分类</span></a>
<a href="{php echo url('site/entry/vr',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-play-circle-o"></i><span>全景列表</span></a>
</div>
<h4><i class="fa fa-bars"></i> 电视直播</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/tv_set',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-cogs"></i><span>电视直播设置</span></a>
<a href="{php echo url('site/entry/tv_flash',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>首页幻灯片</span></a>
<a href="{php echo url('site/entry/tv_fenlei',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-th-large"></i><span>电视分类</span></a>
<a href="{php echo url('site/entry/tv',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-play-circle-o"></i><span>电视台列表</span></a>
<a href="{php echo url('site/entry/tv_bug',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-info-circle"></i><span>报错管理</span></a>
</div>
</div>
<div id="5" class="tab-pane"><div style="height:10px;"></div>
<h4><i class="fa fa-bars"></i> 房产频道</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/house_flash',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>顶部幻灯片</span></a>
<a href="{php echo url('site/entry/house',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-hospital-o"></i><span>楼盘列表</span></a>
<a href="{php echo url('site/entry/house_guwen',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-group"></i><span>置业顾问</span></a>
<a href="{php echo url('site/entry/house_news',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-globe"></i><span>房产资讯</span></a>
<a href="{php echo url('site/entry/house_news',array('op'=>'caiji','m'=>'siyuan_cms'))}" target="_blank"><i class="fa  fa-weixin"></i><span>资讯微信采集</span></a>
<a href="{php echo url('site/entry/house_caiji',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa  fa-download"></i><span>其他网站采集</span></a>
<a href="{php echo url('site/entry/house_map',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-bars"></i><span>周边环境菜单</span></a>
</div>
<h4><i class="fa fa-bars"></i> 装修频道</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/zhuangxiu_flash',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>幻灯片广告</span></a>
<a href="{php echo url('site/entry/zhuangxiu_gonglve',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-files-o"></i><span>装修攻略</span></a>
<a href="{php echo url('site/entry/zhuangxiu_gonglve_news',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-clipboard"></i><span>攻略列表</span></a>
<a href="{php echo url('site/entry/zhuangxiu_gongsi',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-codepen"></i><span>装修公司</span></a>
<a href="{php echo url('site/entry/zhuangxiu_gongsi_anli',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-h-square"></i><span>装修案例</span></a>
<a href="{php echo url('site/entry/zhuangxiu_gongsi_sheji',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-male"></i><span>设计师</span></a>
<a href="{php echo url('site/entry/zhuangxiu_yuyue',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-pencil-square-o"></i><span>设计预约</span></a>
<a href="{php echo url('site/entry/zhuangxiu_baojia',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-pencil"></i><span>装修报价</span></a>
<a href="{php echo url('site/entry/zhuangxiu_yanfang',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-home"></i><span>免费验房</span></a>
<a href="{php echo url('site/entry/tuan',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-truck"></i><span>团购会专题</span></a>
</div>
</div>
<div id="6" class="tab-pane"><div style="height:10px;"></div>  
<h4><i class="fa fa-bars"></i> 分类信息</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/xinxi_house',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-home"></i><span>房屋出售</span></a>
<a href="{php echo url('site/entry/xinxi_zufang',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-home"></i><span>房屋出租</span></a>
<a href="{php echo url('site/entry/xinxi_job',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-briefcase"></i><span>企业招聘</span></a>
<a href="{php echo url('site/entry/xinxi_geren',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-child"></i><span>个人求职</span></a>
<a href="{php echo url('site/entry/xinxi_ershou',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-laptop"></i><span>二手交易</span></a>
<a href="{php echo url('site/entry/xinxi_chongwu',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-qq"></i><span>宠物世界</span></a>
<a href="{php echo url('site/entry/xinxi_car',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-cab"></i><span>车辆交易</span></a>
</div>
<h4><i class="fa fa-bars"></i> 拼车</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/car_flash',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>首页幻灯片</span></a>
<a href="{php echo url('site/entry/car',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-cab"></i><span>拼车信息管理</span></a>
</div>
</div>
<div id="7" class="tab-pane"><div style="height:10px;"></div> 
<h4><i class="fa fa-bars"></i> 订单管理</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/tel_order',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-phone-square"></i><span>便民电话</span></a>
<a href="{php echo url('site/entry/tuan_order',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-truck"></i><span>装修团购</span></a>
<a href="{php echo url('site/entry/huodong_order',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-apple"></i><span>活动报名订单</span></a>
</div>  
</div>
<div id="8" class="tab-pane"><div style="height:10px;"></div> 
<h4><i class="fa fa-bars"></i> 评论管理</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/tougao',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-edit"></i><span>网友投稿</span></a>
<a href="{php echo url('site/entry/news_pinglun',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-globe"></i><span>新闻评论</span></a>
<a href="{php echo url('site/entry/pk',array('op'=>'pinglun','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-group"></i><span>话题评论</span></a>
<a href="{php echo url('site/entry/huodong_pinglun',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-tablet"></i><span>活动评论</span></a>
<a href="{php echo url('site/entry/vod_pinglun',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-play-circle-o"></i><span>视频评论</span></a>
<a href="{php echo url('site/entry/weixin_pinglun',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-wechat"></i><span>微信头条评论</span></a>
<a href="{php echo url('site/entry/shop_pinglun',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-apple"></i><span>商家评论</span></a>
</div> 
</div>


<div id="9" class="tab-pane"><div style="height:10px;"></div> 
<h4><i class="fa fa-bars"></i> 系统设置</h4>
<div class="shortcut clearfix">

<a href="{php echo url('site/entry/admin',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-users"></i><span>网站管理员</span></a><a href="{php echo url('site/entry/set',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>网站基本设置</span></a>
<a href="{php echo url('site/entry/payment',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-html5"></i><span>支付证书</span></a>
<a href="{php echo url('site/entry/pay_set',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-rmb"></i><span>支付设置</span></a>
<a href="{php echo url('site/entry/black_list',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-frown-o"></i><span>黑名单</span></a>
<a href="{php echo url('site/entry/tongji',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-line-chart"></i><span>站点统计代码</span></a>
<a href="{php echo url('site/entry/api',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-paper-plane-o"></i><span>API设置</span></a>
<a href="{php echo url('site/entry/moban_xiaoxi',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-bell-o"></i><span>模板消息</span></a>
<a href="{php echo url('site/entry/gonggao',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-bullhorn"></i><span>站点公告</span></a>
<a href="{php echo url('site/entry/tip',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-reddit"></i><span>举报中心</span></a>
</div>
<h4><i class="fa fa-bars"></i> 自定义设置</h4>
<div class="shortcut clearfix"><a href="{php echo url('site/entry/nav',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-th-large"></i><span>重置全局导航</span></a>
<a href="{php echo url('site/entry/flash',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-google-plus"></i><span>整站顶部幻灯</span></a>
<a href="{php echo url('site/entry/top_menu',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-th-large"></i><span>顶部导航</span></a>
<a href="{php echo url('site/entry/menu_nav',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-windows"></i><span>底部导航</span></a>
<a href="{php echo url('site/entry/share_set',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-share-alt"></i><span>频道分享</span></a>
<a href="{php echo url('site/entry/nav_list',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-search-plus"></i><span>频道导航</span></a>
</div>
<h4><i class="fa fa-bars"></i> 首页自定义</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/index_flash',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>首页幻灯片</span></a>
<a href="{php echo url('site/entry/index',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-tumblr-square"></i><span>首页设置</span></a>
<a href="{php echo url('site/entry/index_menu',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-th-large"></i><span>首页导航</span></a>
<a href="{php echo url('site/entry/index_list',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-arrows-alt"></i><span>首页中部导航</span></a>
<a href="{php echo url('site/entry/city',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-map-marker"></i><span>多城市导航</span></a>
</div>
<h4><i class="fa fa-bars"></i> 其他自定义</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/my_nav',array('m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-users"></i><span>个人中心导航</span></a>
</div>
</div>
<div id="10" class="tab-pane"><div style="height:10px;"></div>  
<h4><i class="fa fa-bars"></i> 朋友圈设置</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/quan_flash',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>顶部幻灯片</span></a>
</div>
</div>
<div id="11" class="tab-pane"><div style="height:10px;"></div>  
<h4><i class="fa fa-bars"></i> 首页设置</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/web_index_ad',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>顶部广告条</span></a>
<a href="{php echo url('site/entry/web_qr',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>全媒体矩阵</span></a>
</div>
<h4><i class="fa fa-bars"></i> 站点设置</h4>
<div class="shortcut clearfix">
<a href="{php echo url('site/entry/web_setting',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>全站设置</span></a>
<a href="{php echo url('site/entry/web_bottom',array('op'=>'display','m'=>'siyuan_cms'))}" target="_blank"><i class="fa fa-xing-square"></i><span>底部通用代码</span></a>
</div>
</div> 


</div>

</div>
</div>
{template 'common/footer'}