{template 'common/header'}
<div class="main"> 
<form action="" method="post" class="form-horizontal form"> 
<div class="panel panel-default"> 
<div class="panel-body">
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">首页</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="index_title" value="{$set['index_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('index_pic', $set['index_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">朋友圈</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="quan_title" value="{$set['quan_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('quan_pic', $set['quan_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">分类信息</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">首页</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="xinxi_title" value="{$set['xinxi_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">首页分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('xinxi_pic', $set['xinxi_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">房屋出售</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="xinxi_house_title" value="{$set['xinxi_house_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('xinxi_house_pic', $set['xinxi_house_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">房屋出租</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="xinxi_zufang_title" value="{$set['xinxi_zufang_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('xinxi_zufang_pic', $set['xinxi_zufang_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>

<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">企业招聘</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="xinxi_job_title" value="{$set['xinxi_job_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('xinxi_job_pic', $set['xinxi_job_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>

<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">个人求职</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="xinxi_geren_title" value="{$set['xinxi_geren_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('xinxi_geren_pic', $set['xinxi_geren_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>

<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">物品交易</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="xinxi_ershou_title" value="{$set['xinxi_ershou_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('xinxi_ershou_pic', $set['xinxi_ershou_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>

<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">车辆交易</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="xinxi_car_title" value="{$set['xinxi_car_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('xinxi_car_pic', $set['xinxi_car_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>

<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">宠物交易</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="xinxi_chongwu_title" value="{$set['xinxi_chongwu_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('xinxi_chongwu_pic', $set['xinxi_chongwu_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">新闻频道</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="news_title" value="{$set['news_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('news_pic', $set['news_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">微信头条</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">微信头条首页</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="weixin_title" value="{$set['weixin_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('weixin_pic', $set['weixin_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">公众号列表</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="gongzhonghao_title" value="{$set['gongzhonghao_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('gongzhonghao_pic', $set['gongzhonghao_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">视频频道</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="vod_title" value="{$set['vod_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('vod_pic', $set['vod_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">活动频道</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="huodong_title" value="{$set['huodong_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('huodong_pic', $set['huodong_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">便民电话</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="tel_title" value="{$set['tel_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('tel_pic', $set['tel_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">直播</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="zhibo_title" value="{$set['zhibo_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('zhibo_pic', $set['zhibo_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">爆料</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="baoliao_title" value="{$set['baoliao_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('baoliao_pic', $set['baoliao_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">商家黄页</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="shop_title" value="{$set['shop_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('shop_pic', $set['shop_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">房产频道</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">首页</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="house_title" value="{$set['house_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('house_pic', $set['house_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">新楼盘</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="house_list_title" value="{$set['house_list_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('house_list_pic', $set['house_list_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label"><span style="color:#ec6c53;">楼盘资讯</span>分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="house_news_title" value="{$set['house_news_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('house_news_pic', $set['house_news_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">装修频道</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="zhuangxiu_title" value="{$set['zhuangxiu_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('zhuangxiu_pic', $set['zhuangxiu_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">全景频道</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="vr_title" value="{$set['vr_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('vr_pic', $set['vr_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">便民查询</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="bm_title" value="{$set['bm_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('bm_pic', $set['bm_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="panel-heading" style="color:#ec6c53;border-bottom: 1px dotted #DDD;margin-bottom:20px;">顺风车</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-2 col-md-2 control-label">分享标题</label> 
<div class="col-sm-6 col-md-8 col-xs-12"> 
<input type="text" class="form-control" name="car_title" value="{$set['car_title']}" />
<span class="help-block">建议28个汉字以内，超过部分朋友圈不会显示！</span> 
</div> 
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享缩略图</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_image('car_pic', $set['car_pic'])}
<span class="help-block">大小200:200 格式为jpg，不要用png，避免透明部分显示为黑色！</span>
</div>
</div>
<div class="form-group"> 
<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label> 
<div class="col-sm-9 col-xs-12"> 
<p><input name="submit" type="submit" value="提交" class="btn btn-primary" /> <input type="hidden" name="token" value="{$_W['token']}" /></p>
</div> 
</div> 
</div> 
</form>
</div>
{template 'common/footer'}