@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?dmmjqa');
	src:url('../fonts/icomoon.eot?#iefixdmmjqa') format('embedded-opentype'),
		url('../fonts/icomoon.woff?dmmjqa') format('woff'),
		url('../fonts/icomoon.ttf?dmmjqa') format('truetype'),
		url('../fonts/icomoon.svg?dmmjqa#icomoon') format('svg');
	font-style: normal;
}
.icon{display:inline-block;font-family:'icomoon';line-height:1;text-decoration:none;-webkit-font-smoothing:antialiased}
.icon-1:before{content:"\e60a"}
.icon-2:before{content:"\e60b"}
.icon-3:before{content:"\f087"}
.icon-4:before{content:"\f088"}
.icon-5:before{content:"\f0a4"}
.icon-6:before{content:"\f0c3"}
.icon-7:before{content:"\f155"}
.icon-8:before{content:"\f157"}
.icon-9:before{content:"\f182"}
.icon-10:before{content:"\f183"}
.icon-11:before{content:"\f1b0"}
.icon-12:before{content:"\f1d6"}
.icon-13:before{content:"\f1d7"}
.icon-14:before{content:"\e60e"}
.icon-15:before{content:"\e60f"}
.icon-16:before{content:"\e610"}
.icon-17:before{content:"\e611"}
.icon-18:before{content:"\e613"}
.icon-19:before{content:"\e614"}
.icon-20:before{content:"\e616"}
.icon-21:before{content:"\e61f"}
.icon-22:before{content:"\e620"}
.icon-23:before{content:"\e621"}
.icon-24:before{content:"\e622"}
.icon-25:before{content:"\e623"}
.icon-26:before{content:"\e624"}
.icon-27:before{content:"\e625"}
.icon-28:before{content:"\e600"}
.icon-29:before{content:"\e628"}
.icon-30:before{content:"\e629"}
.icon-31:before{content:"\e62a"}
.icon-32:before{content:"\e62b"}
.icon-33:before{content:"\e62c"}
.icon-34:before{content:"\e62d"}
.icon-35:before{content:"\e62f"}
.icon-36:before{content:"\e631"}
.icon-37:before{content:"\e632"}
.icon-38:before{content:"\e633"}
.icon-39:before{content:"\e634"}
.icon-40:before{content:"\e635"}
.icon-41:before{content:"\e638"}
.icon-42:before{content:"\e639"}
.icon-43:before{content:"\e63b"}
.icon-44:before{content:"\e640"}
.icon-45:before{content:"\e641"}
.icon-46:before{content:"\e642"}
.icon-47:before{content:"\e601"}
.icon-48:before{content:"\e644"}
.icon-49:before{content:"\e645"}
.icon-50:before{content:"\e646"}
.icon-51:before{content:"\e602"}
.icon-52:before{content:"\e647"}
.icon-53:before{content:"\e648"}
.icon-54:before{content:"\e649"}
.icon-55:before{content:"\e64c"}
.icon-56-bulb:before{content:"\e64d"}
.icon-57:before{content:"\e64e"}
.icon-58:before{content:"\e64f"}
.icon-59:before{content:"\e651"}
.icon-60:before{content:"\e653"}
.icon-61:before{content:"\e654"}
.icon-62:before{content:"\e655"}
.icon-63:before{content:"\e603"}
.icon-64:before{content:"\e658"}
.icon-65:before{content:"\e65a"}
.icon-66:before{content:"\e65c"}
.icon-67:before{content:"\e65d"}
.icon-68:before{content:"\e65e"}
.icon-69:before{content:"\e660"}
.icon-70:before{content:"\e662"}
.icon-71:before{content:"\e664"}
.icon-72:before{content:"\e665"}
.icon-73:before{content:"\e66c"}
.icon-74:before{content:"\e66d"}
.icon-75:before{content:"\e66e"}
.icon-76:before{content:"\e66f"}
.icon-77:before{content:"\e670"}
.icon-78:before{content:"\e671"}
.icon-79:before{content:"\e673"}
.icon-80:before{content:"\e674"}
.icon-81:before{content:"\e67f"}
.icon-82:before{content:"\e681"}
.icon-83:before{content:"\e686"}
.icon-84:before{content:'\e64b'}

.icon-back:before{content:"\e66b"}
.icon-bars:before{content:"\e663"}
.icon-caret:before{content:"\e672"}
.icon-check:before{content:"\e656"}
.icon-close:before{content:"\e657"}
.icon-compose:before{content:'\e60c'}
.icon-download:before{content:'\e627'}
.icon-edit:before{content:'\e62e'}
.icon-forward:before{content:'\e66a'}
.icon-gear:before{content:'\e63f'}
.icon-home:before{content:'\e63c'}
.icon-info:before{content:'\e65b'}
.icon-list:before{content:'\e661'}
.icon-more:before{content:'\e67d'}
.icon-pages:before{content:'\e63d'}
.icon-pause:before{content:'\e668'}
.icon-person:before{content:'\e630'}
.icon-play:before{content:'\e667'}
.icon-plus:before{content:'\e659'}
.icon-refresh:before{content:'\e612'}
.icon-search:before{content:'\e63e'}
.icon-share:before{content:'\e626'}
.icon-sound:before{content:'\e618'}
.icon-sound2:before{content:'\e61b'}
.icon-star-filled:before{content:'\e636'}
.icon-star:before{content:'\e637'}
.icon-stop:before{content:'\e669'}
.icon-trash:before{content:'\e615'}
.icon-up-nav:before{content:'\e67b'}
.icon-up:before{content:'\e677'}
.icon-right-nav:before{content:'\e67c'}
.icon-right:before{content:'\e678'}
.icon-down-nav:before{content:'\e67a'}
.icon-down:before{content:'\e676'}
.icon-left-nav:before{content:'\e679'}
.icon-left:before{content:'\e675'}	