.swiper-container {
    height: 100px;
}
.swiper-slide {
    background:#bbbbbb;
}
.swiper-slide img {
    position: absolute;
    width : 100%;
    height : 100px;
    left: 50%;
    top: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.swiper-slide span {
    text-align:center;
    display:block;
    font-size:21px;
    /*line-height: 100px;*/
}
.picture-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}

/*积分商城*/
#gift-shop{

}
#gift-shop div.gift{
    position: relative;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-top: 10px;
    padding-left: 0%;
    padding-right: 0%;
}
#gift-shop div.gift:nth-child(odd){

}
#gift-shop div.gift .gift-img > img{
    width: 100%;
    height: 150px;
}
#gift-shop div.gift img.empty-num{
    display:block;
    position:absolute;
    top: 30%;
    width: 150px;
    height: 50px;
    -moz-transform:rotate(-20deg); -webkit-transform:rotate(-20deg);
    left: 10%;
    opacity: 0.9;
    color: #FFF;
}
#gift-shop div.gift > div.gift-content{
    font-size: 15px;
    padding: 0px 5px;
}
#gift-shop div.gift > div.gift-content > div.gift-title{
    text-align: left;
    height: 50px;
}

#gift-shop div.gift > div.gift-content div.gift-price{
    color: orangered;
}

#gift-shop div.gift > div.gift-content > p.gift-title{
    margin: 4px 2px;
    color: #333333;
    font-size: 14px;
    line-height: 1.3;
    height: 36px;
    overflow: hidden;
    text-align: left;
}
#gift-shop div.gift > div.gift-content > p.gift-price{
    padding: 0 8px 12px 2px;
    margin: 0;
    font-size: 12px;
    color: #b4b4b4;
}
#gift-shop div.gift > div.gift-content > p.gift-price i.icon-money{
    color: #FF6000;
    font-size: 16px;

}
div.gift-content > p.gift-price span.gift-type{
    color: #fff;
    font-size: 12px;
    background-color: #ff8901;
    padding: 1px 5px;
    border-radius: 2px;
    margin-top: 4px;

}
/*底部的导航条*/
.page .toolbar-tab{
    background: #FFFFFF;

}
.page .toolbar-tab .row{
    line-height: 40px;
    font-size: 14px;
}
.page .toolbar-tab .row i{
    color: #929292;
}
.page .toolbar-tab .center span{
    border: 1px solid #F0F0F0;
    font-size: 20px;
    line-height: 45px;
}
.page .toolbar-tab .left{
    margin-left: 4%;
    padding-left: 4%;
}
.page .toolbar-tab .right{
    margin-left: 0%;
    padding-right: 6%;
}

/*列表*/
.item-task{
    height: 70px;
    padding: 2px;
    background-image: none;
}

#task-list{
    margin-top: 0px;
    margin: 0;/*浏览器没有滚动条*/
}

#task-list .item-inner:after{
    height: 0px;
}
#task-list ul{
    position: relative;
}
#task-list > ul > li.item-task{
    border-bottom: 1px solid #cccccc;
}

.item-task .task-title{
    font-size: 14px;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    color: #666;
    font-weight: 800;
}
.item-task .item-subtitle{
    font-size: 13px;
    color: #777777;
}

.item-task span.shop-address .row div[class*="col-"]{
    color: #777;
}

.item-task .task-info-bottom{
    padding-top: 7px;
}
.item-task .task-score{
    color: red;
    font-weight: 500;
    font-size: 13px;
}
.item-task .task-distance{
    color: #777777;
    font-weight: 200;
    font-size: 14px;
}