
body{background-color:#eeeef3;font-weight:300;}
    .icon {
       width: 1em; height: 1em;
       vertical-align: -2px;
       fill: currentColor;
       overflow: hidden;
    }
.weui_actionsheet_menu{min-height:50px;max-height:380px;overflow:auto;}

.weui_tabbar_item {padding: 0px 0 0;}
.weui_tabbar_icon {width: 24px;height: 22px;font-size:18px;color:#333;text-align:center;}
.weui_tabbar_item.weui_bar_item_on .icon {
  color: #09BB07;
}
.weui_tabbar_icon .icon {
       vertical-align: -8px;
       width: 20px; height: 20px;
    }
.weui_tabbar .weui_bar_item_on .weui_tabbar_label, .weui_tabbar .weui_bar_item_on .icon{color:#8c9eff;}
.weui_tabbar .weui_tabbar_label{text-align:center;}

.weui_cell_bd select::-webkit-input-placeholder,
.weui_cell_bd input[type="text"]::-webkit-input-placeholder,
.weui_cell_bd input[type="password"]::-webkit-input-placeholder,
.weui_cell_bd input[type="datetime"]::-webkit-input-placeholder,
.weui_cell_bd input[type="datetime-local"]::-webkit-input-placeholder,
.weui_cell_bd input[type="date"]::-webkit-input-placeholder,
.weui_cell_bd input[type="month"]::-webkit-input-placeholder,
.weui_cell_bd input[type="time"]::-webkit-input-placeholder,
.weui_cell_bd input[type="week"]::-webkit-input-placeholder,
.weui_cell_bd input[type="number"]::-webkit-input-placeholder,
.weui_cell_bd input[type="email"]::-webkit-input-placeholder,
.weui_cell_bd input[type="url"]::-webkit-input-placeholder,
.weui_cell_bd input[type="search"]::-webkit-input-placeholder,
.weui_cell_bd input[type="tel"]::-webkit-input-placeholder,
.weui_cell_bd input[type="color"]::-webkit-input-placeholder,
.weui_cell_bd-field::-webkit-input-placeholder {
  color: #999999;font-size:14px;text-align:right;padding-right:10px;line-height:200%;
}
.weui_cell_bd textarea::-webkit-input-placeholder{color: #999999;font-size:14px;text-align:left;line-height:200%;}

.dayu-badge { display: inline-block;
  padding: .15em .4em;
  min-width: 8px;
  border-radius: 3px;
  color: #FFFFFF;
  line-height: 1.2;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}
.dayu-badge.weui_btn_default{background-color:#aaa;}

.ico_scored, .ico_scored strong{background: url(../images/star2.png) repeat-x; background-size: 13px auto;border-radius:2px;}
.ico_scored{display: inline-block;width: 65px; height: 13px; background-position: 0 -14px; margin-top: 0px;border-radius:2px;}
.ico_scored strong{display: block; width: 0; height: 13px; background-position: 0 0;}
.ico_scored .score_1{width: 13px;}
.ico_scored .score_2{width: 26px;}
.ico_scored .score_3{width: 39px;}
.ico_scored .score_4{width: 52px;}
.ico_scored .score_5{width: 65px;}


/*
表单预览
*/
.weui-form-preview {
    background-color: #ffffff;
    position: relative;
}
.weui-form-preview::before {
    border-top: 1px solid #d9d9d9;
    color: #d9d9d9;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0.5);
    transform-origin: 0 0 0;
}
.weui-form-preview::after {
    border-bottom: 1px solid #d9d9d9;
    bottom: 0;
    color: #d9d9d9;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    transform: scaleY(0.5);
    transform-origin: 0 100% 0;
}
.weui-form-preview-hd {
    line-height: 2.5em;
    padding: 10px 15px;
    position: relative;
    text-align: right;
}
.weui-form-preview-hd::after {
    border-bottom: 1px solid #d9d9d9;
    bottom: 0;
    color: #d9d9d9;
    content: " ";
    height: 1px;
    left: 15px;
    position: absolute;
    right: 0;
    transform: scaleY(0.5);
    transform-origin: 0 100% 0;
}
.weui-form-preview-hd .weui-form-preview-value {
    font-size: 1.6em;
    font-style: normal;
}
.weui-form-preview-bd {
    color: #999999;
    font-size: 0.9em;
    line-height: 2;
    padding: 10px 15px;
    text-align: right;
}
.weui-form-preview-ft {
display: -webkit-flex;
    display: flex;
    line-height: 50px;
    position: relative;
}
.weui-form-preview-ft::after {
    border-top: 1px solid #d5d5d6;
    color: #d5d5d6;
    content: " ";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleY(0.5);
    transform-origin: 0 0 0;
}
.weui-form-preview-label {
    color: #999999;
    float: left;
    margin-right: 1em;
    min-width: 4em;
    text-align: justify;
    text-align-last: justify;
}
.weui-form-preview-value {
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: normal;
}
.weui-form-preview-btn {
   
    color: #3cc51f;
    display: block;
    flex: 1 1 0;
    position: relative;
    text-align: center;
}
button.weui-form-preview-btn {
    background-color: transparent;
    border: 0 none;
    font-size: inherit;
    outline: 0 none;
}
.weui-form-preview-btn:active {
    background-color: #eeeeee;
}
.weui-form-preview-btn::after {
    border-left: 1px solid #d5d5d6;
    bottom: 0;
    color: #d5d5d6;
    content: " ";
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleX(0.5);
    transform-origin: 0 0 0;
    width: 1px;
}
.weui-form-preview-btn:first-child::after {
    display: none;
}
.weui-form-preview-btn-default {
    color: #999999;
}
.weui-form-preview-btn-primary {
    color: #0bb20c;
}


.weui-avatar-img1{position:relative;width:45px;height:45px;border-radius:50%;display:inline-block;}
.weui-avatar-img2{position:absolute;width:20px;height:20px;right:0;bottom:0;}


