
	<div class="weui_panel weui_panel_access" href="javascript:void(0);" onclick="Location('{$sid}')">
		<input name="sid" type="hidden" value="{$sid}">
		<div class="weui_panel_bd">
			<div class="weui_media_box weui_media_appmsg">
				<div class="weui_media_hd">
					<img class="weui_media_appmsg_thumb" src="{php echo tomedia($store['thumb'])}" alt="">
				</div>
				<div class="weui_media_bd">
					<h4 class="weui_media_title">{$store['name']}</h4>
					<p class="weui_media_desc -wrap"><span class="ico_scored"><strong class="score_{$store['score_num']}"></strong></span></p>
					<p class="weui_media_desc -wrap">
						<svg class="icon center" aria-hidden="true">
							<use xlink:href="#icon-Geo-fence"></use>
						</svg> {$store['address']}
					</p>
				</div>
			</div>
		</div>
	</div>