.rank{
	width: 480px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: none;
	visibility: hidden;
}
.rank-png{
	background:url("rank_png8_2014091101.jpg")no-repeat
}
.rank-bg{
	background:url("rank_png8_2014091101.jpg")no-repeat
}
.rank .scroll-wrapper{
	position:absolute;
	width:480px
}
.rank .con{
	position:relative;
	width:100%
}
.rank .bgbg{
	width:480px;
	top:0px;
	height:100%;
	position:absolute;
	background:url("rank_bg.jpg")repeat-y
}
.rank .bottom-bg{
	width:480px;
	height:75px;
	left:0px;
	bottom:0px;
	position:absolute;
	background-position:-0px -400px
}
.rank .rank-tab{
	width:480px;
	height:107px;
	left:0px;
	top:0px;
	position:absolute;
	z-index:0
}
.rank .rank-tab .tab-bg{
	width:480px;
	height:107px;
	left:0px;
	top:0px;
	position:absolute;
	background-position:-0px -116px;
	z-index:0
}
.rank .rank-tab.select1 .tab-bg{
	background-position:-0px -223px
}
.rank .rank-tab.no-login .tab-bg{
	background-position:-0px -677px
}
.rank .rank-tab .tab{
	width:240px;
	height:65px;
	top:0px;
	position:absolute;
	display:block;
	z-index:1
}
.rank .rank-tab .tab1{
	left:0px
}
.rank .rank-tab .tab2{
	left:240px
}
.rank .back-btn{
	position:absolute;
	width:186px;
	height:63px;
	font-size:35px;
	color:#993e00;
	line-height:56px;
	text-align:center;
	font-weight:bold;
	left:50px;
	bottom:-6px;
	text-align:left;
	text-indent:83px;
	background-position:0 -99px;
	-webkit-transform:scale(0.7)
}
.rank .back-btn .mc{
	width:26px;
	height:17px;
	left:42px;
	top:21px;
	position:absolute;
	background-position:-227px -304px
}
.rank .share-btn{
	position:absolute;
	width:186px;
	height:63px;
	font-size:35px;
	color:#993e00;
	line-height:56px;
	text-align:center;
	font-weight:bold;
	right:50px;
	bottom:-6px;
	background-position:-220px -99px;
	-webkit-transform:scale(0.7)
}
.rank .back-btn.touch{
	left:150px
}
.rank .item{
	position:relative;
	width:480px;
	height:71px;
	display:block;
	background-position:0px -0px
}
.rank .item.me{
	background-position:0px -330px
}
.rank .item .order-mc{
	width:60px;
	height:56px;
	left:32px;
	top:8px;
	position:absolute
}
.rank .item .order-mc.rank-order1{
	background-position:-11px -290px
}
.rank .item .order-mc.rank-order2{
	background-position:-81px -290px
}
.rank .item .order-mc.rank-order3{
	background-position:-151px -290px
}
.rank .item .order{
	position:absolute;
	display:block;
	left:26px;
	top:2px;
	font-size:26px;
	text-align:center;
	color:#662100;
	line-height:63px;
	width:70px
}
.rank .item .name{
	position:absolute;
	display:block;
	left:160px;
	top:0px;
	font-size:19px;
	text-align:left;
	color:#4e2410;
	line-height:63px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:190px
}
.rank .item.me .name{
	color:#0855b8
}
.rank .item .score{
	position:absolute;
	display:block;
	right:41px;
	top:2px;
	font-size:30px;
	text-align:right;
	color:#662100;
	line-height:63px
}
.rank .line{
	position:relative;
	width:470px;
	height:4px;
	display:block;
	background-position:-10px -430px;
	margin-top:0px;
	margin-bottom:0px
}
.rank .text-item{
	position:relative;
	width:480px;
	height:45px;
	display:block;
	background-position:-0px -71px;
	font-size:19px;
	text-align:center;
	color:#c1c1c1;
	line-height:43px
}
.rank .title-text{
	position:absolute;
	width:480px;
	height:45px;
	display:block;
	top:65px;
	bottom:0px;
	font-size:19px;
	text-align:center;
	color:#c1c1c1;
	line-height:43px
}
.rank .item .figure{
	position:absolute;
	display:block;
	left:97px;
	top:9px;
	width:48px;
	height:48px
}
.player-2,.player-1{
	width:111px;
	height:105px;
	position:absolute;
	top:0;
	background:url("player_2014090101.png")
}
.player-2{
	width:108px;
	height:116px;
	background:url("player2_2014091101.png")
}
.track-1{
	width:222px;
	height:100%;
	position:absolute;
	left:12px;
	top:0;
	overflow:hidden
}
.track-2{
	width:222px;
	height:100%;
	position:absolute;
	right:12px;
	top:0;
	overflow:hidden
}
.game-bg{
	width:480px;
	height:100%;
	background:url("bg_2014091102.jpg")left center
}
.result,.main{
	width:480px;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:1
}
.result{
	background-color:#e5f2ff
}
.result .scroll-wrapper{
	position:absolute;
	width:480px;
	height:100%
}
.result .con{
	background:url("result_bg_2014091001.jpg")no-repeat;
	position:relative;
	width:100%;
	height:100%
}
.result .tips-mc{
	position:absolute;
	width:20px;
	height:13px;
	background-position:-389px -24px;
	left:230px;
	top:230px
}
.result .tips-text{
	position:absolute;
	width:200px;
	color:#FFFFFF;
	font-size:28px;
	left:60px;
	top:185px;
	text-align:right
}
.result .lose-con{
	width:164px;
	height:88px;
	background-position:-250px -107px;
	position:absolute;
	left:130px;
	top:50px
}
.result .win-con{
	position:absolute;
	left:130px;
	top:50px;
	width:157px;
	height:94px;
	background-position:-252px -203px
}
.result .win-mv{
	position:absolute;
	left:265px;
	top:181px;
	width:179px;
	height:105px;
	-webkit-animation:win-mv 1.8s step-end infinite;
	background:url("win_ani_2014091201.png")no-repeat;
	-webkit-transform:scale(1.5)
}
@-webkit-keyframes win-mv{
	0%{
	background-position-x:0px
}
13%{
	background-position-x:-179px
}
23%{
	background-position-x:-358px
}
33%{
	background-position-x:-537px
}
48%{
	background-position-x:-716px
}
53%{
	background-position-x:-895px
}
92%{
	background-position-x:-1074px
}

}
@-webkit-keyframes loss-mv{
	0%{
	background-position-x:0px
}
50%{
	background-position-x:-80px
}

}
.result .lose-mv{
	position:absolute;
	left:303px;
	top:181px;
	width:80px;
	height:105px;
	background-position-y:-0px;
	-webkit-animation:loss-mv 0.4s step-end infinite;
	-webkit-transform:scale(1.5);
	background:url("loss_ani_2014091201.png")no-repeat
}
.result .rank-con{
	position:absolute;
	left:0px;
	top:564px;
	width:100%;
	height:400px
}
.result .rank .item .name{
	width:140px
}
.result .rank .item{
	width:480px;
	height:72px;
	background-position:-0px -505px;
	overflow:hidden
}
.result .rank .item.me{
	background-position:-0px -577px
}
.result .rank-btn{
	left:144px;
	bottom:30px;
	text-indent:30px
}
.result .rank-btn .mc{
	position:absolute;
	left:22px;
	top:16px;
	width:34px;
	height:30px;
	display:block;
	background-position:-430px -40px
}
.result .rank .item span,.result .rank .item img{
	margin-left:28px
}
.result .rank .item .score{
	right:70px
}
.result .rank .bottom-item{
	position:relative;
	width:480px;
	height:28px;
	display:block;
	background-position:-0px -649px
}
.main{
	background-color:#000000;
	background:url("main_bg_2014091101.jpg")left center
}