body{background: #ffffff;}
.fl{ float:left;}.fr{ float:right;}.fc{ margin:0 auto; width:30%; display:inline-block; line-height:30px; text-align:center;}
.weimob-list{ margin:15px 10px;	padding:5px; }
.weimob-list-item{position: relative;display: block;height:70%;overflow: hidden;background:none;padding-bottom:10px;margin:20px auto;border-radius:15px; border:1px solid #f5f5f5; box-shadow:1px 2px 3px #666;}
.weimob-pages{ 	width: 98%;margin:0 1%;display: block;}
.btn{border-radius:8px; border:1px solid #f5f5f5; height:30px; box-shadow:1px 2px 3px #ccc; text-align:center; line-height:30px;text-shadow: 0 1px  0 #fff ;
background-image: -webkit-gradient(linear, left top, left bottom, from( #fff), to( #ccc ));
background-image: -webkit-linear-gradient( #fff , #ccc);
background-image: -moz-linear-gradient( #fff , #ccc );
background-image: -ms-linear-gradient( #fff , #ccc);
background-image: -o-linear-gradient( #fff , #ccc);
background-image: linear-gradient( #fff , #ccc);
display:inline-block; width:30%;}
.weimob-list-item-img{ margin:5px; height:53%; display:block;}
.weimob-list-item-img img{
    max-height: 130px;
    width: 100% !important;
}
.weimob-list-item a:last-child{ border:none;}
.weimob-list-item-summary{ font-size:0.8rem; color:#333; line-height:18px;max-height:100px;}
.weimob-list-more{ height:30px; width:100%; margin-top:10px;}
.weimob-list-item-more{ line-height:30px; color:#000; font-size:1rem; height:30px; width:90%; display:inline-block;}
.weimob-list-item-more-icon{ width:18px; height:18px;	background-image: url(../../img/icons-18-black.png) ;background-repeat: no-repeat; border-radius: 9px;-moz-border-radius: 9px;-webkit-border-radius: 9px;right: 12px; display:inline-block;}
.weimob-list-item-fulltitle{ font-size:12px; color:#CCC;}
.weimob-list-item-line{width:100%;}.weimob-copyright{ color:#000;}.weimob-copyright{ color:#000;}.icon-arrow-r {background-position: 	-108px 2px;}

.weimob-list-item{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
}
.weimob-list-item-title{
    white-space: normal!important;
    height:27px;
    line-height:27px;
    overflow:hidden;
    padding-right:50px;
    -webkit-box-sizing:border-box;
}

