body { background:#fff; -webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }
/*css resert*/
html, body, div, p, span, label, img, a, ol, ul, dl, dt, dd, li, table, tr, td, th, tbody, thead, tfoot, form, fieldset, legent, h1, h2, h3, h4, h5, h6, strong, b, em, blockquote, cite, pre, code, hr, br, input, button, textarea,article, aside, details, figcaption, figure, footer, header, group, menu, nav, section { padding:0px; margin:0px; }

/*禁止iphone字体放大 */
html { -webkit-text-size-adjust: none; }

/**{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-appearance:none; outline:0 none;}
:focus, :active{ outline:0 none;-webkit-appearance:none;}*/

/* 要注意表单元素并不继承父级 font 的问题 */
button, input, select, textarea { font: 100% serif; }
img, input, select { vertical-align: middle; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:1em; }
ol, ul { list-style-type:none; }
table { border-collapse:collapse; border-spacing:0; }
th,caption { text-align:left; }
a img { border:0 none; cursor:pointer; } 
fieldset,img { border:0 none; }
a, input { outline:0 none; }
abbr, acronym { border:0; }
button { outline:0 none; cursor:pointer; }
button::-moz-focus-inner { border:0; }
input::-moz-focus-inner { border:0; }
:focus { outline:0 none; }
caption, cite, code, em, th, var,i { font-weight:normal; font-style:normal; }
a:link, a:visited { text-decoration:none; }
textarea { overflow: auto; vertical-align: top; }
/******常用****/
.clearfix:after{clear:both; content:""; display:block; height:0; visibility:hidden; line-height:0;}
.clearfix { zoom:1; }
.clear { clear:both; height:0; width:0; display:block; visibility:hidden; overflow:hidden; }
.clearit { clear:both; zoom:1; }
.hidden { display:none; }
.vhidden { visibility:hidden; }
.hide-txt { overflow: hidden; text-indent: 100%; white-space: nowrap; }
.left { float:left; display:inline; }
.right { float:right; display:inline; }
.fnone { float:none; }
.txtleft{ text-align:left; }
.txtright{ text-align:right; }
.txtcenter{ text-align:center; }
.middle { vertical-align:middle; }
.noborder{ border:0 none !important; }
.nobg{ background:none !important; }
.nomargin{ margin:0px !important;}
.nomargin-top{ margin-top:0px !important;}
.sub{ vertical-align:sub; }
.sup{ vertical-align:sup; }
.cursor { cursor:pointer; }
.zoom { zoom:1; }
.vtop { vertical-align:top; }
.bold{ font-weight:bold;}
.block{ display:block;}
/******常用颜色*****/
.red { color:#f2293c; }
.orange { color:#ffd800; }
.yellow { color:#ff0; }
.green { color:#080; }
.blue { color:#3dacc2; }
.blue2{ color:#0055b4;}
.dark-gray { color:#333; }
.gray { color:#9d9d9d; }
.an-ccc { color:#ccc; }
.color{ color:#E72F6D;}
/*------常用字号-----*/
.fs10{ font-size:10px;}
.fs12{ font-size:12px;}
.fs14{ font-size:14px;}
.fs16{ font-size:16px;}
.fs18{ font-size:18px;}
.fs22{ font-size:22px;}


.btn-common{ border:1px solid #01b005; border-radius:3px; background:#01b005; color:#fff;}
.btn-common:hover{ border-color:#0ebd12; background:#0ebd12;}
.btn-common:active{ -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}

.btn-normal{ display:inline-block; white-space:nowrap; color:#fff; background:#3eb742; border-radius:0px;}
.btn-normal:hover{ background:#00b36a;}

.btn-primary{ display:inline-block; border:1px solid #fff; border-color:#4a93ca #005096 #003a7a #1a76bc; background:#0067b4; color:#fff; box-shadow:0 2px 5px rgba(0,0,0,0.2); font-family:"Microsoft yahei",Arial,Helvetica,sans-serif;}
.btn-primary:hover{ background:#005fa6;}
.btn-primary:active{-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}

.btn-default{display:inline-block; border:1px solid #fff; border-color:#a0a0a0 #565e65 #354451 #878787; background:#797979; color:#fff; box-shadow:0 2px 5px rgba(0,0,0,0.2); font-family:"Microsoft yahei",Arial,Helvetica,sans-serif;}
.btn-default:hover{ background:#666565;}
.btn-default:active{-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}

.btn-danger{display:inline-block; border:1px solid #fff; border-color:#e77755 #dd3f0f #dd3f0f #e05327; background:#dd3f0f; color:#fff; box-shadow:0 2px 5px rgba(0,0,0,0.2); font-family:"Microsoft yahei",Arial,Helvetica,sans-serif;}
.btn-danger:hover{ background:#c63205;}
.btn-danger:active{-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}

.btn-success{display:inline-block; border:1px solid #74b42f; background:#3eb742; color:#fff;/* box-shadow:0 2px 5px rgba(0,0,0,0.2);*/ font-family:"Microsoft yahei",Arial,Helvetica,sans-serif;}
.btn-success:hover{ background:#67c424;}
.btn-success:active{-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}

.btn-green,.btn-blue{ display:inline-block; text-align:center; color:#fff; border-radius:3px;}
.btn-blue{ background:#3ea7d3;}
.btn-green{ background:#01b005;}
.btn-blue:hover{ background:#49b3df;}
.btn-green:hover{ background:#0ebd12;}
.btn-green:active,.btn-blue:active{-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}

.btn-disabled,.btn-disabled:hover,.btn-disabled:active{ background:#c9c9c9; /*border:1px solid #bfbfbf;*/}

input,textarea{ -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear 0.2s,box-shadow linear 0.2s; -moz-transition: border linear 0.2s,box-shadow linear 0.2s; -ms-transition: border linear 0.2s,box-shadow linear 0.2s; -o-transition: border linear 0.2s,box-shadow linear 0.2s; transition: border linear 0.2s,box-shadow linear 0.2s;}

input,textarea,select{ display:inline-block; width:230px; height:20px; padding:4px; font-size: 13px; line-height:20px; color:#555; border:1px solid #ccc; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

input:focus,textarea:focus{ border-color:rgba(82, 168, 236, 0.8); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); outline: 0; outline: thin dotted \9; /* IE6-9 */}

select:focus{ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}





/*手机版常用颜色*/
.deep-blue{ color:#595959;}
.m-blue{ background:#2576b1;}
.m-pruple{ background:#623a94;}
.m-red{background:#d5093e;}
.m-blue2{ background:#5480b6;}
.m-top-red{ background:#c53b4e;}
.gray-white{background: -webkit-linear-gradient(top,#ffffff,#f3f3f3);background: -moz-linear-gradient(top,#ffffff,#f3f3f3);background: -o-linear-gradient(top,#ffffff,#f3f3f3);background: -ms-linear-gradient(top,#ffffff,#f3f3f3); -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px; border:1px solid #cfcfcf;}
.white-gray{background: -webkit-linear-gradient(top,#f3f3f3,#ffffff);background: -moz-linear-gradient(top,#f3f3f3,#ffffff);background: -o-linear-gradient(top,#f3f3f3,#ffffff);background: -ms-linear-gradient(top,#f3f3f3,#ffffff); -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px; border:1px solid #cfcfcf;}
.red-radius{ background:#c73b50; border-radius:15px; border:1px solid #d8d8d8;}



/*--用chrome浏览器提示--*/
.chrometips{ width:100%; background:#fff8d4; position:fixed; top:0; left:0; z-index:10000;}
.inner-chrometips{ width:910px; margin:0 auto; padding:20px 0; background:url(warning.png) 0px 20px no-repeat; color:#837955; font-size:14px;}
.chrm-word1{ padding-left:90px; padding-top:5px;}
.chrm-word2{ padding-left:90px; padding-top:10px;}
.chrm-word2 a{ display:inline-block; width:26px; height:26px; padding-left:30px; background:url(chromeicons.png) 5px -90px no-repeat;color:#837955;}
.btntips-close{ position:absolute; right:0px; top:0px; display:inline-block; width:30px; height:30px; line-height:30px; text-align:center; color:#837955; font-size:30px;}
