@charset "UTF-8";
.bottom {
    margin-top: 20px;
    bottom: 0px;
    position: fixed;
    z-index: 99999;
    margin-left: auto;
    margin-right: auto;
    width: 910px;
}

.bottom>div {
    height: 92px;
}

.bottom .point {
    text-align: center;
    cursor: pointer;
}

.bottom .closed .point {
    position: relative;
    top: 50px;
}

.bottom .opened .point img {
    width: 680px;
}

.bottom .closed .point img {
    width: 53px;
    margin-left: -2px;
}

.bottom .opened .item {
    margin-top: -4px;
    text-align: center;
}

.bottom .opened .item ul {
    display: inline-block;
}

.bottom .opened .item ul li {
    float: left;
    margin: 5px 18px;
    cursor: pointer;
}

.bottom .opened .item ul li .text {
    color: white;
    font-size: 12px;
}

.bottom .opened .item ul li .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('sprite.png') -56px -274px;
}

.bottom .opened .item ul li .icon.exit_screen {
    background: url('sprite.png') -138px -274px;
}

.bottom .opened .item ul li .icon.qrcode {
    background: url('sprite.png') -212px -275px;
}

.bottom .opened .item ul li .icon.message {
    background: url('sprite.png') -292px -275px;
}

.bottom .opened .item ul li .icon.sign {
    background: url('sprite.png') -366.5px -275px;
}

.bottom .opened .item ul li .icon.give {
    background: url('sprite.png') -442px -275px;
}

.bottom .opened .item ul li .icon.vote {
    background: url('sprite.png') -55px -366px;
}

.bottom .opened .item ul li .icon.shake {
    background: url('sprite.png') -130px -366px;
}

.bottom .opened .item ul li .icon.hb {
    background: url('sprite.png') -277px -366px;
}

.bottom .opened .item ul li .icon.paoma {
    background: url('sprite.png?v=1') -347px -366px;
}

.bottom .opened .item ul li .icon.pan {
    background: url('sprite.png?v=1') -416px -366px;
}

.bottom .opened .item ul li .icon.danmu {
    background: url('sprite.png?v=1') -495px -366px;
}

.bottom .opened .item ul li .icon.control {
    background: url('sprite.png') -206px -366px;
}

.bottom .opened .item ul li .icon.threed_sign {
    background: url('icon_3dsign.png');
    background-size: 30px auto;
}

.bottom .opened .item ul li .icon.wheel {
    background: url('icon_wheel.png');
    background-size: 30px auto;
}

.bottom .opened .item ul li .icon.bullet {
    background: url('icon_bullet.png');
    background-size: 30px auto;
}

.bottom .Hidden {
    display: none!important;
}


/*--用chrome浏览器提示--*/

.chrometips {
    width: 100%;
    background: #fff8d4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.inner-chrometips {
    width: 910px;
    margin: 0 auto;
    padding: 20px 0;
    background: url(warning.png) 0px 20px no-repeat;
    color: #837955;
    font-size: 14px;
}

.chrm-word1 {
    padding-left: 90px;
    padding-top: 5px;
}

.chrm-word2 {
    padding-left: 90px;
    padding-top: 10px;
}

.chrm-word2 a {
    display: inline-block;
    width: 26px;
    height: 26px;
    padding-left: 30px;
    background: url(chromeicons.png) 5px -90px no-repeat;
    color: #837955;
}

.btntips-close {
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #837955;
    font-size: 30px;
}


/*---二维码浮层---*/


/*.fl-layer .fl-inner{ background:#fff;}
.fl-inner{ background:none; box-shadow:none; border-radius:0;}*/

.mark-ewm {
    display: none;
    background: RGBA(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
}

.fl-layer {
    position: absolute;
    top: 135px;
    text-align: center;
    z-index: 100000;
    width: 100%;
}

.fl-inner {
    width: 910px;
    height: 545px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.notice1 {
    font-size: 26px;
    color: #161717;
    padding-left: 36px;
    padding-top: 20px;
    line-height: 34px;
    width: 830px;
}

.img-list {
    position: relative;
    height: 430px;
}

.img-list li {
    position: absolute;
}

.img-b {
    width: 430px;
    height: 430px;
    bottom: 0;
    left: 0;
}

.img-d {
    width: 300px;
    height: 300px;
    bottom: 8px;
    left: 405px;
}

.img-s {
    width: 200px;
    height: 200px;
    bottom: 15px;
    left: 695px;
}

.img-list li img {
    vertical-align: bottom;
}

.img-b img {
    width: 430px;
    height: 430px;
}

.img-d img {
    width: 300px;
}

.img-s img {
    width: 200px;
}

.notice2 {
    color: #161717;
    font-size: 18px;
    padding-left: 30px;
    margin-top: -10px;
    position: relative;
}

.flbtn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(btn-close.png) 0 0 no-repeat;
    z-index: 2;
}

#lanren {
    width: 50px;
    float: right;
    left: 15px;
    position: absolute;
    /*top: 15px;*/
    z-index: 99999999;
}

#lanren #audio-btn {
    width: 44px;
    height: 44px;
    margin: 100px auto;
    background-size: 100% 100%;
}

#lanren .on {
    background: url('music_on.png') no-repeat 0 0;
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
}

#lanren .off {
    background: url('music_off.png') no-repeat 0 0;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.shipingplay {
    position: absolute;
    top: 110px;
    bottom: 81px;
    width: 80%;
    left: 66%;
    margin-left: -56%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(255, 255, 255);
    background-color: #fff;
    display: none;
    overflow: hidden;
    z-index: 999999;
}

.shipingplay .closeb {
    cursor: pointer;
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-indent: -9999px;
    top: 2px;
    right: 2px;
    background-color: #FFF;
    z-index: 200
}

.shipingplay .closeb:before {
    position: absolute;
    content: '.';
    display: block;
    width: 16px;
    height: 2px;
    background: #000000;
    -webkit-transform: rotate(-45deg);
    top: 12px;
    left: 5px;
}

.shipingplay .closeb:after {
    position: absolute;
    content: '.';
    display: block;
    width: 16px;
    height: 2px;
    background: #000000;
    -webkit-transform: rotate(45deg);
    top: 12px;
    left: 5px;
}

.shiping_id {
    background-color: #2F2F2F;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%
}

.playbtn {
    position: absolute;
    z-index: 200;
    left: 5px;
    top: 5px;
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    outline: none;
}
