     <div class="panel-body">
        <div class="form-group clearfix">
          <label class="control-label col-md-2">查询回复模板</label>
          <div class="col-md-10">
            <input type="text" class="form-control" name="template_id" placeholder="默认：空" value="{$settings['template_id']}">		  
            <div class="help-block">模板编号：OPENTM200605630(任务处理通知)</div>
          </div>
        </div>	 
        <div class="form-group clearfix">
          <label class="control-label col-md-2">首次查询回复<br>(商品)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="suc_one" placeholder="默认：查询成功，该码首次查询，请放心使用！" value="{$settings['suc_one']}">		  
            <div class="help-block">例如：密码正确，该码为首次查询，请放心使用！</div>
          </div>
          <label class="control-label col-md-2">首次查询回复<br>(活动)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="suc_one1" placeholder="默认：查询成功！" value="{$settings['suc_one1']}">		  
            <div class="help-block"></div>
          </div>
        </div>
		

        <div class="form-group clearfix">
          <label class="control-label col-md-2">多次查询回复<br>(商品)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="suc_two" placeholder="默认：查询成功，该码为非首次查询，谨防假冒！" value="{$settings['suc_two']}">		  
            <div class="help-block">例如：密码正确，该码为非首次查询，谨防假冒！</div>
          </div>
          <label class="control-label col-md-2">多次查询回复<br>(活动)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="suc_two1" placeholder="默认：扫码成功，但非首次扫码！！" value="{$settings['suc_two1']}">		  
            <div class="help-block"></div>
          </div>
        </div>	
        <div class="form-group clearfix">
          <label class="control-label col-md-2">首查人</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="myone" placeholder="默认：您是首次查询人,请放心享用!" value="{$settings['myone']}">				
            <div class="help-block">多次查询时如果查询人是首次查询人的附加提示</div>
          </div>
		  <label class="control-label col-md-2">其他人</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="mytwo" placeholder="默认：右边头像是首次查询人,请确认!" value="{$settings['mytwo']}">				
            <div class="help-block">多次查询时如果查询人不是首次查询人的附加提示</div>
          </div>
        </div>


		
        <div class="form-group clearfix">
          <label class="control-label col-md-2">超限查询回复<br>(商品)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="suc_three" placeholder="默认：该码因查询次数过多，已经失效！" value="{$settings['suc_three']}">		  
            <div class="help-block">例如：该码因查询次数过多，已经失效！</div>
          </div>
          <label class="control-label col-md-2">超限查询回复<br>(活动)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="suc_three1" placeholder="默认：该码因查询次数过多，已经失效！" value="{$settings['suc_three1']}">		  
            <div class="help-block">例如：该码因查询次数过多，已经失效！</div>
          </div>
        </div>
		
		
		
		
        <div class="form-group clearfix">
          <label class="control-label col-md-2">错误提示语</label>
          <div class="col-md-10">
            <input type="text" class="form-control" name="con_msg" placeholder="默认：查询失败,查不到该防伪码!请仔细核对!" value="{$settings['con_msg']}">				
            <div class="help-block">例如：密码错误,查不到该密码!请仔细核对!</div>
          </div>
        </div>
		
		
		
		
        <div class="form-group clearfix">
          <label class="control-label col-md-2">欢迎语标题<br>(商品)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="welcome" placeholder="默认：欢迎您进入本公司商品防伪查询!" value="{$settings['welcome']}">				
            <div class="help-block">例如：欢迎您进入XX公司商品防伪查询!</div>
          </div>
          <label class="control-label col-md-2">欢迎语标题<br>(活动)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="welcome1" placeholder="默认：欢迎您参加本公司现场活动！" value="{$settings['welcome1']}">				
            <div class="help-block"></div>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="control-label col-md-2">查询附言<br>(商品)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="script" placeholder="默认：空!" value="{$settings['script']}">				
            <div class="help-block">附在查询成功结果后面，可以是广告语，感谢语，提示语</div>
          </div>
		  <label class="control-label col-md-2">查询附言<br>(活动)</label>
          <div class="col-md-4">
            <input type="text" class="form-control" name="script1" placeholder="默认：空!" value="{$settings['script1']}">				
            <div class="help-block">附在查询成功结果后面，可以是广告语，感谢语，提示语</div>
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="control-label col-md-2">欢迎语内容</label>
          <div class="col-md-4">
            <textarea class="form-control" name="welcometxt" placeholder="" rows="5">{$settings['welcometxt']}</textarea>
            <div class="help-block">尽量控制在150字以内，太长可能会影响性能！</div>
          </div>
          <label class="control-label col-md-2">关注页面告示内容</label>
          <div class="col-md-4">
            <textarea class="form-control" name="welcometxt1" placeholder="" rows="5">{$settings['welcometxt1']}</textarea>
            <div class="help-block">尽量控制在150字以内，太长可能会影响性能！</div>
          </div>
        </div>	






		
      </div>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  