/* 2014-09 prototype */
html
{
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

body
{
    color: #2f2f2f;
    font: normal 12px/1.5 arial, tahoma, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;

}

body:before,
body:after
{
    display: table;
    content: '';
}

h1, h2, h3, h4, h5, h6
{
    font-size: 100%;
}

ul, ol, li
{
    list-style: none;
}

address, cite, dfn, var, em, i
{
    font-style: normal;
}

img
{
    border: none;
}

input, img
{
    vertical-align: middle;
}

select, input, button, textarea
{
    font: 100% tahoma, verdana, arial;
}

code, samp, kbd, pre
{
    font-family: courier new, courier, monospace;
}

small
{
    font-size: 12px;
}

button
{
    cursor: pointer;
    padding: 0;
}

input
{
    background-attachment: fixed;
    padding: 0;
}

label
{
    cursor: pointer;
}

textarea
{
    resize: none;
    margin: 0 auto;
}

sup
{
    vertical-align: text-top;
}

sub
{
    vertical-align: text-bottom;
}

a
{
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

a:active
{
    color: #333;
}

a:visited
{
    color: #333;
}

a:hover
{
    color: #fd475a;
}

hr
{
    border: none;
    border-top: 1px #ccc solid;
    clear: both;
    height: 0;
}

input[type="reset"],
input[type="submit"],
input[type="button"]
{
    cursor: pointer;
}

input[type="radio"]
{
    margin: 0 3px 0 0;
}

::-moz-placeholder
{
    color: #666;
}

:-ms-input-placeholder
{
    color: #666;
}

::-webkit-input-placeholder
{
    color: #666;
}

/* quick style */
.clearfix:before,
.clearfix:after
{
    display: table;
    content: '';
}

.clearfix:after
{
    clear: both;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

.dn, .hide, .hidden, .none
{
    display: none;
}

.show
{
    display: block;
}

.di
{
    display: inline;
}

.db
{
    display: block;
}

.cb
{
    clear: both;
}

.cl
{
    clear: left;
}

.cr
{
    clear: right;
}

.tl
{
    text-align: left;
}

.tr
{
    text-align: right;
}

.tc
{
    text-align: center;
}

.oh
{
    overflow: hidden;
}

.vm
{
    vertical-align: middle;
}

.pr
{
    position: relative;
}

.pa
{
    position: absolute;
}

.ps
{
    position: static;
}

.fn
{
    font-weight: normal;
}

.fb
{
    font-weight: bold;
}

.tu
{
    text-decoration: underline;
}

.tt
{
    text-decoration: line-through;
}

.p5
{
    padding: 5px;
}

.p10
{
    padding: 10px;
}

.p20
{
    padding: 20px;
}

.pt5
{
    padding-top: 5px;
}

.pt10
{
    padding-top: 10px;
}

.pt15
{
    padding-top: 15px;
}

.pt20
{
    padding-top: 20px;
}

.pt30
{
    padding-top: 30px;
}

.pb5
{
    padding-bottom: 5px;
}

.pb10
{
    padding-bottom: 10px;
}

.pb15
{
    padding-bottom: 15px;
}

.pb20
{
    padding-bottom: 20px;
}

.pb30
{
    padding-bottom: 30px;
}

.pl5
{
    padding-left: 5px;
}

.pl10
{
    padding-left: 10px;
}

.pl15
{
    padding-left: 15px;
}

.pl20
{
    padding-left: 20px;
}

.pl30
{
    padding-left: 30px;
}

.pr5
{
    padding-right: 5px;
}

.pr10
{
    padding-right: 10px;
}

.pr15
{
    padding-right: 15px;
}

.pr20
{
    padding-right: 20px;
}

.pr30
{
    padding-right: 30px;
}

.mt5
{
    margin-top: 5px;
}

.mt10
{
    margin-top: 10px;
}

.mt15
{
    margin-top: 15px;
}

.mt20
{
    margin-top: 20px;
}

.mt30
{
    margin-top: 30px;
}

.mb5
{
    margin-bottom: 5px;
}

.mb10
{
    margin-bottom: 10px;
}

.mb15
{
    margin-bottom: 15px;
}

.mb20
{
    margin-bottom: 20px;
}

.mb30
{
    margin-bottom: 30px;
}

.ml5
{
    margin-left: 5px;
}

.ml10
{
    margin-left: 10px;
}

.ml15
{
    margin-left: 15px;
}

.ml20
{
    margin-left: 20px;
}

.ml30
{
    margin-left: 30px;
}

.mr5
{
    margin-right: 5px;
}

.mr10
{
    margin-right: 10px;
}

.mr15
{
    margin-right: 15px;
}

.mr20
{
    margin-right: 20px;
}

.mr30
{
    margin-right: 30px;
}

.no-spacing
{
    margin: 0;
    padding: 0;
}

.margin-center
{
    margin: 0 auto;
    text-align: center;
}

.arial
{
    font-family: Arial;
}

.tahoma
{
    font-family: Tahoma;
}

.verdana
{
    font-family: Verdana;
}

.sans-serif
{
    font-family: Sans-Serif;
}

.song
{
    font-family: "\5B8B\4F53";
}

.yahei
{
    font-family: "\5FAE\8F6F\96C5\9ED1";
}

.c-red
{
    color: #f00;
}

.c-blue
{
    color: #00f;
}

.c-green
{
    color: #0f0;
}

.c-white
{
    color: #fff;
}

.c-black
{
    color: #000;
}

.c-darkred
{
    color: #900;
}

.c-darkblue
{
    color: #009;
}

.c-darkgreen
{
    color: #090;
}

/* common */
.highlight
{
    color: #38b48b;
}

.input-checkbox
{
    margin: 0;
}

.input-text
{
    width: 90px;
    height: 24px;
    line-height: 24px;
    border: solid 1px #bcbcbc;
    background-color: transparent;
    vertical-align: bottom;
    display: inline-block;
    padding: 0 5px;
}

.select
{
    height: 26px;
    line-height: 24px;
    border: solid 1px #bcbcbc;
}

.button,
.button:hover,
.input-button
{
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #38b48b;
    display: inline-block;
    padding: 0 20px;
}

.button
{
    text-decoration: none;
}
