 /*last modify : 2014-11-28 */
/* wap 刮奖  */
 /*全局 */
 body{font-family:Arial,"microsoft yahei";padding:0;margin:0; min-width:320px;   background-color:#df301c; font-size: 12px;    }
html,div{padding:0;margin:0;border:none;}

.home{ max-width: 640px; min-width: 320px; border:0px solid #fff;     width:100%;  /*height: 44.08em; */ background: #DF301F;   margin: 0 auto; /*background:#df301c url(../images/main_bg.gif) no-repeat center 0; background-size: 26.66em 44.08em;  background-size:cover; */ position: relative;  }

img,form,div,ul,ol,li,dl,dt,dd,table,tr,td,h1,h2,h3,h4,h5,span,p,input,textarea,button{border:0; padding:0; margin:0;}
ul,li{ list-style:none;}
 .Arial{ font-family: Arial;}

 a:link{ color: #fff; text-decoration: none;}
 a:visited{ color: #fff;}
 .clear{ clear: both;}
 .red{ color: red;}
 .black{ color: #000;}
 .left{ float: left;}
 .right{ float: right;}
 .fff{ background: #fff;}
 
 .img_bg,
 .img_light,
 .img_canvas,
 .light,
 .gua,
 .gua_bottom,
 .app_down,
 .hand,
 .guide,
 .guide_wap,
 .footer{ position: absolute;}


.img_light,
.img_bg{ z-index: 0; top: 0; left: 0; width: 100%; }
.img_light{ z-index: 1;}
.img_canvas{ z-index: 0; display: none;}

@media screen and (min-width:641px){ 	
	body{ font-size: 24px;}
} 
@media screen and (min-width: 586px) and (max-width: 640px) { 	
	body{ font-size: 22px;}
} 
@media screen and (min-width: 533px) and (max-width: 585px) { 	
	body{ font-size: 20px;}
} 
@media only screen and (min-width: 480px) and (max-width: 532px){ 	
	body{ font-size: 18px;}
} 
@media only screen and (min-width: 426px) and (max-width: 479px){ 	
	body{ font-size: 16px;}
} 
@media only screen and (min-width: 373px) and (max-width: 425px){ 	
	body{ font-size: 15px;}
} 
@media only screen and (min-width: 320px) and (max-width: 372px){ 	
	body{ font-size: 12px;}
}

 