	<li {if $_GPC['do']=='Brand'}class="active"{/if}><a href="{php echo create_url('site/module', array('do' => 'Brand', 'name' => 'we7car','weid'=>$_W['weid']))}">品牌管理</a></li>	
	<li {if $_GPC['do']=='Series'}class="active"{/if}><a href="{php echo create_url('site/module', array('do' => 'Series', 'name' => 'we7car','weid'=>$_W['weid']))}">品牌车系</a></li>	
	<li {if $_GPC['do']=='Type'}class="active"{/if}><a href="{php echo create_url('site/module', array('do' => 'Type', 'name' => 'we7car','weid'=>$_W['weid']))}">车型管理</a></li>	
	<li {if $_GPC['do']=='Guanhuai'}class="active"{/if}><a href="{php echo create_url('site/module', array('do' => 'Guanhuai', 'name' => 'we7car','weid'=>$_W['weid']))}">车主关怀</a></li>	
