.html{ background-image: url(../images/bg.jpg); background-size: 100% auto; background-position: center top; background-repeat: no-repeat;}
.body{position:fixed; height:100%; width:100%;}
.btn-up-1{display: none;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}

.index{ position:absolute; width:100%; max-width: 640px; height:80%; top:100%; left:0; z-index:2000; overflow:hidden; margin:-102px 0 0 0;}
.index.active{-webkit-transform: translate(0,-100%); margin:0;}
.index .hd{height:102px; position:absolute; width:100%; top:0; left:0;z-index:3000;background: url(../images/bg-car-hd.png) no-repeat center bottom; background-size:auto 103px; overflow: hidden; float:left;}
.index .hd p{ width: 40%; padding-top: 34px;}
.index .hd p.fl{ padding-right: 46px; padding-left:7%;}
.index .hd p.fr{ padding-left: 46px; padding-right:7%;}
.index .hd a{ width: 100%; height: 34px; display: block; overflow: hidden; color: #666;}
.index .hd a b{ display: block; max-height: 30px; overflow: hidden; line-height: 30px; font-weight:100; font-size:14px;word-spacing:normal; word-break:normal; word-break:break-all;}
.index .index-btn{ position:absolute; top:0; left: 40%; width: 20%; height: 102px; line-height: 102px; text-align: center;}
.index .index-btn img{ max-width: 100%; max-height: 100%; vertical-align: middle;}
.index .bd{height:100%; overflow:hidden;position:absolute; width:100%; top:0; left:0; padding:102px 0 0 0;}
.index ul,
.index li{list-style:none;}
.index ul{height:100%; overflow:auto; width:100%;background:#000; }
.index li{ width: 50%; float: left; text-align: center; padding:10px 0;}
.index li a{ width: 80%; border:1px solid #fff; overflow: hidden; display:inline-block; height:102px; color: #fff;}
.index li span{ width: 100%; display:block;}
.index li img{ max-width: 100%; vertical-align: middle;}
.mod-index .index-img{ height: 70px; line-height:70px; overflow: hidden;}
.mod-index .index-text{ line-height: 20px; padding:5px; background: #242424; color: #fff;text-overflow:ellipsis; white-space:nowrap; overflow: hidden;}
.mod-index .fa{ color: #fff; font-size: 60px; margin: 10px 0 0 0;}
footer{display:none;}
.body-navLine-bottom .btn-up-1{bottom: 66px;}
.body-navLine-bottom .navPop-1{bottom: 50px;}
@media screen and (orientation:landscape) {
    .index .hd p.fl{ padding-right: 30px; padding-left:20%;}
    .index .hd p.fr{ padding-left: 30px; padding-right:20%;}
}
@media only screen and (max-width:1080px){
    
}
@media only screen and (min-width:1224px){
    .index .hd p.fl{ padding-right: 12px; padding-left:28%;}
    .index .hd p.fr{ padding-left: 12px; padding-right:28%;}
  
}
@media only screen and (max-width:320px){
   
}