.body{
	max-width:640px;
	margin:auto;
	min-height:100%;
	position:relative;
	display:block;
}
*{-webkit-box-sizing: border-box;}
/*************************/
.scroll_pic_view{
	position:relative;
}
.scroll_pic_view>div{
	width:10000px;
	overflow:hidden;
}
.scroll_pic_view ul{
	width:100%;
	white-space: nowrap;
	overflow: hidden;
}
.scroll_pic_view ul li{
	float:left;
}
.scroll_pic_view ul li a{
	display: block;
}
.scroll_pic_view ul li img{
	width:100%;
	max-height:400px;
}

.scroll_pic_view ol{
	position: absolute;
	z-index: 1000;
	bottom:0px;
	width:100%;
	text-align: center;
	pointer-events:none;
}
.scroll_pic_view ol li{
	display: inline-block;
	width: 25px;
    height: 25px;
    margin-left:3px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #272727;
	color:#fff;
	line-height:25px;
	margin-bottom:-5px;
}
.scroll_pic_view ol li span{
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
	display: block;
}
.scroll_pic_view ol li.on span{
	-webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
}
.scroll_pic_view ol li.left span{
	-webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}
.scroll_pic_view ol li.left{    
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}
.scroll_pic_view ol li.on{
	color:#2c2232;
	line-height:25px;
	margin-left:1px;
	margin-right:-2px;
	border-bottom: 25px solid #ffe228;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    height: 0;
    width: 60px;
	background:none;
	-webkit-transform: skew(0deg);
    -moz-transform: skew(0deg);
    -o-transform: skew(0deg);
}


.list_article{
	padding:10px;
}
.list_article li{
	border-bottom:1px solid #ccc;
	padding:10px;
}
.list_article .article_summary{
	padding:0 10px;
}
.list_article .tbox{
	width:100%;
	display: block;
	-webkit-box-sizing:border-box;
}
.list_article .tbox h3{
	font-size:14px;
	line-height:25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	max-width: 200px;
	color:#272727;
}
.list_article .tbox p{
	color:#747474;
	overflow: hidden;
	height:36px; 
	line-height:18px;
}

.list_article .tbox>div{
	vertical-align: middle;
}

.list_article span{
	width:80px;
	height:65px;
	overflow: hidden;
	display: block;
}
.list_article span img{
	width:100%;
	min-height:100%;
}
