@charset "utf-8";
body,div,dl,dt,dd,ul,li,form,input,button,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0}
html{overflow-x:hidden;-webkit-text-size-adjust:none}
ul,li,dl,dt,dd{display:block;list-style:none}
img{border:0 none;vertical-align:top;max-width:100%}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.fn-clear{zoom:1}
.clear{diplay:block!important;float:none!important;clear:both;overflow:hidden;width:auto!important;height:0!important;margin:0 auto!important;padding:0!important;font-size:0;line-height:0}
a{text-decoration:none;outline:0;color:#666}
.fn-left{float:left}
.fn-right{float:right}
.fn-relative{position:relative}
.fn-absolute{position:absolute}
body{position:relative;overflow-x:hidden;color:#666;font-family:\5FAE\8F6F\96C5\9ED1}
.all{position:relative;z-index:10;right:0;background:#fff url(../images/baby_bg.gif)}
#wrapper{margin:0 auto;width:100%;max-width:640px}
.wrap{width:96.875%;margin:2% auto 0px auto;background:#ebebeb;/*padding-bottom:%2;*/border-bottom:#d1d1d1 solid 0.3em}
/*头部*/
header{background:url(../images/top_bg.gif) repeat-x left top, url(../images/bg.gif)}
header h1{display:inline-block;margin-left:1.5625%;width:83.87%}
header a{display:block}
/*banner*/
.banner{max-width:100%;overflow:hidden;visibility:visible;position:relative}
.banner img{width:100%;cursor:pointer}
#slider{line-height:0;text-align:center}
#pagenavi{text-align:center;bottom:0px;width:100%;position:absolute;background-color:rgba(255,255,255,0.5);padding:2px 0px}
#pagenavi a{display:inline-block;width:0.8em;height:0.8em;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;margin-right:1%;background-color:#5d8ab4;-webkit-box-shadow:0 1px 2px rgba(101,146,188,.68), inset 0 0 3px rgba(201,227,252,.51);-moz-box-shadow:0 1px 2px rgba(101,146,188,.68), inset 0 0 3px rgba(201,227,252,.51);box-shadow:0 1px 2px rgba(101,146,188,.68), inset 0 0 3px rgba(201,227,252,.51);background-image:-webkit-linear-gradient(bottom, #5d8ab4, #98c5ef);background-image:-moz-linear-gradient(bottom, #5d8ab4, #98c5ef);background-image:-o-linear-gradient(bottom, #5d8ab4, #98c5ef);background-image:-ms-linear-gradient(bottom, #5d8ab4, #98c5ef);background-image:linear-gradient(to top, #5d8ab4, #98c5ef)}
#pagenavi a.active{background-color:#ff7000;-webkit-box-shadow:0 1px 2px rgba(255,133,18,.68), inset 0 0 3px rgba(255,216,78,.51);-moz-box-shadow:0 1px 2px rgba(255,133,18,.68), inset 0 0 3px rgba(255,216,78,.51);box-shadow:0 1px 2px rgba(255,133,18,.68), inset 0 0 3px rgba(255,216,78,.51);background-image:-webkit-linear-gradient(bottom, #ff7000, #fda662);background-image:-moz-linear-gradient(bottom, #ff7000, #fda662);background-image:-o-linear-gradient(bottom, #ff7000, #fda662);background-image:-ms-linear-gradient(bottom, #ff7000, #fda662);background-image:linear-gradient(to top, #ff7000, #fda662)}
/*标题*/
.title{background:url(../images/title_bg.gif) repeat-x left center;line-height:2;width:96.77%;margin:0px auto}
.title a{color:#2c5474;display:block;position:relative}
.title h3{font-weight:normal;font-size:1.4em;background:#ebebeb}
.title h3 span{color:#fd9d08;font-size:0.8em;font-style:italic}
.title p{background:url(../images/more.png) no-repeat right center;background-size:auto 61%;width:17%;height:100%;position:absolute;top:0px;right:0px}
.title2{background:url(../images/title_bg.gif) repeat-x left center;line-height:2;width:96.77%;margin:0px auto; text-align:center}
.title2 h3{font-weight:normal;font-size:1.4em;background:#ebebeb; display:inline-block;color:#2c5474; padding:0px 2%}
/*文字列表*/
.news{width:96.77%;margin:0px auto;line-height:1.8}
.news li{margin-bottom:2%}
.news li a{display:block}
.news li a .date{background:#537ea1;border-bottom:#35536b solid 0.2em;width:20.5%;text-align:center;color:#fff;float:left}
.news li a .date span{font-size:1.2em}
.news li a .substance{background:#fff url(../images/new_bg.png) no-repeat 97% center;background-size:auto 30%;border-bottom:#ccc solid 0.2em;width:73.5%;padding-left:2%;padding-right:4%;float:left}
.news li a .substance h3{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;font-weight:normal;color:#333;font-size:1.2em}
.news li a .substance p{overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap}
.news li a:hover .date{background:#fb9900;border-bottom:#c98000 solid 0.2em}
/*图片列表*/
.list_images{width:96%;margin:0px auto}
.list_images li{width:50%;float:left}
.list_images li a{display:block;width:90%;margin:0px auto 2% auto}
.list_images li a img{width:100%; height: 90px;}
.list_images li a span{display:block;background:#537ea1;color:#fff;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;text-align:center;line-height:2.5;margin-top:2px}
.list_images li a:hover span{background:#fb9900}
/*首页单页*/
.abouts{line-height:2;width:96%;margin:0px auto;padding-bottom:2%}
.abouts a{color:#fb9900}
/*联系我们*/
.contact{width:92.875%;margin:2% auto 0px auto;background:#ebebeb;border-bottom:#d1d1d1 solid 0.3em;line-height:2;padding:2% 2% 1% 2%}
.contact img{width:28%;margin-right:2%}
/*图文列表*/
.image_articles{width:96.77%;margin:0px auto}
.image_articles li{border-bottom:#b8b8b8 solid 1px;line-height:1.8;padding-bottom:2%;margin-bottom:2%}
.image_articles li a{display:block}
.image_articles .image_articles_left{width:31.3333%;float:left}
.image_articles .image_articles_right{width:66.6667%;margin-left:2%;float:left}
.image_articles .image_articles_right h3{font-weight:normal;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;color:#2c5474}
.image_articles .image_articles_right span{color:#fb9900}
/*底部导航*/
.bottom_nav{display:block}
.bottom_nav li{width:25%;text-align:center;float:left}
.bottom_nav li a{display:block;width:88%;margin:9% auto 0px auto;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background-color:#5d8ab4;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.68), inset 0 0 3px rgba(201,227,252,.51);-moz-box-shadow:0 1px 2px rgba(0,0,0,.68), inset 0 0 3px rgba(201,227,252,.51);box-shadow:0 1px 2px rgba(0,0,0,.68), inset 0 0 3px rgba(201,227,252,.51);background-image:-webkit-linear-gradient(bottom, #5d8ab4, #98c5ef);background-image:-moz-linear-gradient(bottom, #5d8ab4, #98c5ef);background-image:-o-linear-gradient(bottom, #5d8ab4, #98c5ef);background-image:-ms-linear-gradient(bottom, #5d8ab4, #98c5ef);background-image:linear-gradient(to top, #5d8ab4, #98c5ef);color:#fff;line-height:2.5;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap}
/*底部*/
footer{background:url(../images/bg.gif);margin-top:2%}
footer>div{width:20%;text-align:center;padding:10px 0px;background:url(../images/bottom_line.png) no-repeat right center;float:left}
footer>div a{display:block;color:#fff}
footer>div a img{display:block;margin:0px auto;max-width:32.8125%}
/*导航*/
.btn-nav{cursor:pointer;position:absolute;right:0;top:0%;width:16.13%;line-height:none;color:#e84774;background:url(../images/nav.png) no-repeat right center;background-size:auto 36%;height:100%;margin-right:1.5625%}
nav{display:block;position:absolute;top:0;right:0;z-index:1;width:12em;height:100%;background:url(../images/bg.gif)}
nav>ul{width:96%;height:auto;margin:0 auto}
nav .panel-son{width:100%;font-style:normal;font-weight:normal;font-variant:normal;background:url(../images/nav_line.png) no-repeat center bottom}
nav .panel-son>a{display:block;color:#fff;text-align:center;line-height:3;font-size:1.1em}
/*搜索*/
.search-form{background:#ee9100;border:#cfcfcf solid 1px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;width:96%;margin:6% auto 0 auto}
.search-form .search-txt{width:78%;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;display:-webkit-flex;border:none;background:#fff;padding:0px 2% 0px 6%;line-height:1.6;font-family:\5FAE\8F6F\96C5\9ED1;color:#666}
.search-form .search-input{width:14%;background:none;border:none;cursor:pointer;color:#fff;line-height:1.4;font-family:\5FAE\8F6F\96C5\9ED1}
/*内页*/
.picture .ptitle{color:#333;font-size:1.2em;text-align:center; padding:0% 2% 0% 2%}
.picture .about_pg{line-height:1.8; width:96%; margin:2% auto}
.picture .about_img{text-align:center; margin-top:2%}
.picture .about_img img{width:80%;margin-bottom:1%}
.results{line-height:2.5; width:96.77%; margin:0px auto; background:#f2f2f2; text-align:center}
.results span{color:#fb9900; margin:0 2%}
.show_next{ padding:0px 2% 0% 2%; color:#333}
.show_next span{ display:block; background:#d1d1d1;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; padding:1% 2%; margin-bottom:1.5%;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
.show_next span a{color:#333}
/*图片导航*/
.navigation{position:absolute;top:0;right:2%;text-align:right;cursor:pointer;line-height:2.6;color:#2c5474;font-size:1em; background:#ebebeb; padding:0px 2%}
#menu li{width:25%;text-align:center;float:left}
#menu li a{width:90%;padding:5% 0;margin:0 auto 8% auto;display:block;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color:#537ea1;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap; color:#fff}
#menu li a:hover{ background:#fb9900}
/*分页*/
.page{ text-align:center; margin-bottom:2%}
@media screen and (max-width:640px){body,html{font-size:16px}}
@media screen and (max-width:540px){body,html{font-size:15px}}
@media screen and (max-width:480px){body,html{font-size:14.5px}}
@media screen and (max-width:420px){body,html{font-size:14px}}
@media screen and (max-width:360px){body,html{font-size:13.5px}}
@media screen and (max-width:320px) {body,html{font-size:12.5px}}


/*留言*/
#guestbook li{margin-bottom:0px;width:90%; padding:0;}
#guestbook li p{width:85px;padding-right:8px;text-align:right;}
#guestbook li span{color:#F00}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}.fn-clear{zoom:1}
.fn-left { display: inline; float: left; }
.input, .textarea {background: #FFF;border: 1px solid #E2E2E6; border-radius: 2px 2px 2px 2px; color: #000; margin: 3px 0; padding: 3px; width: 60%; font-size:12px;}
.submit{display:inline-block;*display:inline;padding:4px 12px;margin-bottom:0;font-size:1em;line-height:20px;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;*background-color:#e6e6e6;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);background-repeat:repeat-x;border:1px solid #cccccc;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*zoom:1;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}

.ptitle{color:#ef4435;font-size:1.2em;line-height:2;text-align:center; margin-top:2%}
