{template 'common/header'}

<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('member');}">用户管理</a></li>
</ul>

{if $op =="display"}
	<div class="panel panel-info">
	<div class="panel-heading">筛选</div>

	<div class="panel-body">

		<form action="./index.php" method="get" class="form-horizontal" role="form">

			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
        	<input type="hidden" name="m" value="cgc_ad" />
        	<input type="hidden" name="do" value="member" />


			<div class="form-group" style="display:none">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">时间筛选</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					{php echo tpl_form_field_daterange('time', time());}
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">排序</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					<select name="sort" class="form-control">
						<option value="0">请选择排序方式</option>
						<option value="fabu" {if $_GPC['sort']=='fabu'}selected{/if}>发布金额排序</option>
						<option value="rob" {if $_GPC['sort']=='rob'}selected{/if}>抢钱金额排序</option>
						<option value="credit" {if $_GPC['sort']=='credit'}selected{/if}>余额排序</option>
						<option value="time" {if $_GPC['sort']=='time'}selected{/if}>注册时间排序</option>
						<option value="no_account_amount" {if $_GPC['sort']=='no_account_amount'}selected{/if}>冻结金额</option>
					
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">排序</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					<select name="type" class="form-control">
						<option value="0">账户类型</option>
						<option value="1" {if $_GPC['type']=='1'}selected{/if}>微信用户</option>
						<option value="2" {if $_GPC['type']=='2'}selected{/if}>机器人用户</option>
						<option value="3" {if $_GPC['type']=='3'}selected{/if}>官方用户</option>
						<option value="4" {if $_GPC['type']=='4'}selected{/if}>商家用户</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">广告平台筛选</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					<select name="quan_id" class="form-control">
						<option value="0">请选择所属广告平台</option>
						{loop $quan $q}
							{if $_GPC['quan_id']==$q['id']}
							{php $quan_name=$q['aname'];}
							<option value="{$q['id']}" selected>{$q['aname']}</option>
							{else}
							<option value="{$q['id']}" >{$q['aname']}</option>
							{/if}
						{/loop}
					</select>
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">上级id</label>				
					<div class="col-sm-7 col-xs-12">
						<input type="text"  name="inviter_id" class="form-control"
							   value="{$_GPC['inviter_id']}" />
					
					</div>
			</div>
			
				<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">昵称</label>				
					<div class="col-sm-7 col-xs-12">
						<input type="text"  name="nickname" class="form-control"
							   value="{$_GPC['nickname']}" />
					
					</div>
			</div>
			
			<input type="hidden"  name="advid" class="form-control"
							   value="{$_GPC['advid']}" />
			

			<div class="form-group">
			 	<div class=" col-xs-12 col-sm-2 col-lg-2">

					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>

				</div>
			</div>
		</form>
	</div>
	</div>
{/if}
{if $op=='display'}
	<div class="panel panel-default">

		<div class="panel-heading">用户详细数据  |  总数:{$total}</div>

		<div class="panel-body table-responsive">

		    <form action="" method="post" onsubmit="">

			<table class="table table-hover">

				<thead class="navbar-inner">

					<tr>

						<th style="width:3%;" class="row-first">选择</td>

						<th style="width:8%;">会员ID</th>

						<th style="width:8%;">会员昵称</th>

						<th style="width:10%;">会员头像 </th>
						
                        <th style="width:10%;">海报</th>
						<th style="width:10%;">账户余额</th>
                       <th style="width:10%;">冻结金额</th>
						<th style="width:10%;">发布金额</th>
						<th style="width:15%;">抢到/可抢金额</th>						
						<th style="width:8%;">上供金额</th>
                        <th style="width:8%;">上线id</th>
						<th style="width:7%;">类型</th>
						<th style="width:3%;">关注</th>
                        <th style="width:8%;">地区</th>
                        
						<th style="width:10%;">时间</th>

						<th style="width:16%;">操作</th>

					</tr>

				</thead>

				<tbody id="main">
				
					{loop $list $row}

					<tr>
					    <td><input type="checkbox" name="select[]" value="{$row['id']}" /></td>
					    <td title="{$row['openid']}">{$row['id']}</td>
						<td>{$row['nickname']} {if $row['vip_name']}({$row['vip_name']}){/if}
						{if $row['message_notify']==1}(接){/if}
						</td>
						<td>{if ($row['headimgurl'])}<img style="width:80px" src="{php echo tomedia($row['headimgurl'])}">{/if}</td>						
						<td>{if ($row['qrcode_poster'])}<img style="width:80px" src="{php echo tomedia($row['qrcode_poster'])}">{/if}</td>
						<td>{php echo str_replace(".00",'',$row['credit'])}元</td>
						<td>{php echo str_replace(".00",'',$row['no_account_amount'])}元</td>						
						<td>{php echo str_replace(".00",'',$row['fabu'])}元</td>
						<td>{php echo str_replace(".00",'',$row['rob'])}/{php echo str_replace(".00",'',$row['vip_rob'])}元</td>						
						<td>{php echo str_replace(".00",'',$row['up_money'])}元</td>						
						<td>{$row['inviter_id']}</td>						
						<td>{if $row['type']==2}<span style="font-weight: bold;color:#FF1493">机器人</span>{/if}{if $row['type']==1}<span style="font-weight: bold;color:#008B00">微信</span>{/if}{if $row['type']==3}<span style="font-weight: bold;color:#66ee06">官方</span>{/if}{if $row['type']==4}<span style="font-weight: bold;color:#ff6600">商家</span>{/if}</td>
                        <td>{if empty($row['follow'])}未{else}已{/if}</td>
                        <td>{$row['last_city']}</td>
						<td title="{php echo date('Y-m-d H:i:s', $row['createtime']);}">{php echo date('Y-n-j', $row['createtime']);}</td>
						<td>
                     <div style="padding: 5px 2px;">
					   <a href="{php echo $this->CreateWebUrl('member',array('op'=>'post','id'=>$row['id']))}"><div class="btn btn-success">修改</div></a>
						<a href="{php echo $this->CreateWebUrl('member',array('op'=>'del','id'=>$row['id']))}"><div class="btn btn-default">删除</div></a>
						</div>
						
						  <div style="padding: 5px 2px;">
						
						 <a onclick="if(!confirm('确定提现?')) return false;" href="{php echo $this->CreateWebUrl('member',array('op'=>'tx','id'=>$row['id'],'quan_id'=>$row['quan_id']))}"><div class="btn btn-info">提现</div></a>
						 {if $row['status']==1}
						 <a href="{php echo $this->CreateWebUrl('member',array('op'=>'forbidden','id'=>$row['id']))}"><div class="btn btn-danger">封号</div></a>
						{else}
						 <a href="{php echo $this->CreateWebUrl('member',array('op'=>'huifu','id'=>$row['id']))}"><div class="btn btn-default">解封</div></a>
						{/if}
                         </div>
                        <div style="padding: 5px 2px;">
					   <a href="{php echo $this->CreateWebUrl('member',array('op'=>'send_msg','id'=>$row['id'],'quan_id'=>$row['quan_id']))}"><div class="btn btn-success">发消息</div></a>

						</div>
						</td>

					</tr>

					{/loop}

				</tbody>

			</table>
			{$pager}

			</form>

	    </div>

	</div>
	
{/if}

{if $op=='post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form"
		enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$member['id']}" />
		<div class="panel panel-danger">
			<div class="panel-heading">
				资料设置
			</div>
			<div class="panel-body">
                <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="member[nickname]" class="form-control"
							   value="{$member['nickname']}" />
					
					</div>
				</div>
				
				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">用户openid</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="member[openid]" class="form-control"
							   value="{$member['openid']}" />
					
					</div>
				</div>
				
				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否关注</label>
					<div class="col-sm-7 col-xs-12">
						<div class="col-sm-7 col-xs-12">
							<label class="radio-inline">
								<input type="radio" value="1" name="member[follow]" {if $member['follow']==1}checked{/if}/>关注
							</label>
							<label class="radio-inline">
								<input type="radio" value="0" name="member[follow]" {if $member['follow']==0}checked{/if}/>没关注
							</label>
						</div>
						<div class="help-block"></div>
					</div>
				</div>
				
				
				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">性别</label>
					<div class="col-sm-7 col-xs-12">
						<div class="col-sm-7 col-xs-12">
						   <label class="radio-inline">
								<input type="radio" value="0" name="member[sex]" {if $member['sex']==1}checked{/if}/>未知
							</label>
							<label class="radio-inline">
								<input type="radio" value="1" name="member[sex]" {if $member['sex']==1}checked{/if}/>男
							</label>
							<label class="radio-inline">
								<input type="radio" value="2" name="member[sex]" {if $member['sex']==2}checked{/if}/>女
							</label>
						</div>
						<div class="help-block"></div>
					</div>
				</div>
				
				
				
				
				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">手机号</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="member[telphone]" class="form-control"
							   value="{$member['telphone']}" />
					
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否已验证手机号</label>
					<div class="col-sm-7 col-xs-12">
						<div class="col-sm-7 col-xs-12">
							<label class="radio-inline">
								<input type="radio" value="0" name="member[is_tel]" {if $member['is_tel']==0}checked{/if}/>否
							</label>
							<label class="radio-inline">
								<input type="radio" value="1" name="member[is_tel]" {if $member['is_tel']==1}checked{/if}/>是
							</label>
						</div>
						<div class="help-block"></div>
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">推广海报</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image("member[qrcode_poster]", $member['qrcode_poster']);}
						<div class="help-block"></div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">头像</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image("member[headimgurl]", $member['headimgurl']);}
						<div class="help-block"></div>
					</div>
				</div>
					<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">微信二维码</label>
					<div class="col-sm-7 col-xs-12">
						{php echo tpl_form_field_image("member[qr_code]", $member['qr_code']);}
						<div class="help-block"></div>
					</div>
				</div>
				
			
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">地址</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="member[last_city]" class="form-control"
							   value="{$member['last_city']}" />
						
					</div>
				</div>
				
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">vip</label>
					<div class="col-sm-7 col-xs-12">
					<select name="member[vip_id]" class="form-control">
						<option value="0">普通用户</option>
						{loop $rule_list $rule}					
						  <option value="{$rule['id']}" 
						  {if $rule['id']==$member['vip_id']}selected{/if}>{$rule['vip_name']}</option>						
						{/loop}
					</select>
				</div>
			</div>
				
				
		
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				金额设置
			</div>
			<div class="panel-body">

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">发布金额</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="member[fabu]" class="form-control"
							   value="{$member['fabu']}" />
					</div>
				</div>
				
				
     
				{if $_W['role']=="founder" || $_W['role']=="manager"}
			 	<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">账户余额</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="member[credit]" class="form-control"
							   value="{$member['credit']}" />
					</div>
				</div>
				{/if}
				
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">上级id</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="member[inviter_id]" class="form-control"
							   value="{$member['inviter_id']}" />
					</div>
				</div>
				
				 <div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">可抢金额</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="member[vip_rob]" class="form-control"
							   value="{$member['vip_rob']}" />
					
					</div>
				</div>
				

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">抢到金额</label>
					<div class="col-sm-7 col-xs-12">
						<input type="text" name="member[rob]" class="form-control"
							   value="{$member['rob']}" />
					</div>
				</div>

				

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
					<div class="col-sm-9 col-xs-12">
						<input name="submit" type="submit" value="提交" class="btn btn-primary span3">
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>

			</div>
		</div>

	
	</form>
</div>
{/if}

<script>
$(function(){
    $(".check_all").click(function(){
       var checked = $(this).get(0).checked;
       $("input[type=checkbox]").attr("checked",checked);
    });
});

</script>

{template 'common/footer'}