*{margin: 0;padding: 0}
#d_tab29 ul, #d_tab29 li{margin: 0;padding: 0;list-style: none}
#d_tab29 img{border: 0;vertical-align: top}
#d_tab29{position: relative;height: 200px;; text-align: left;margin-top: -10px;}
#d_tab29 .d_img{position: relative;margin: 0 auto;width: 320px;height: 100%}
#d_tab29 .d_img li{position: absolute;display: none;z-index: 0}
#d_tab29 .d_img li img{width: 100%;}
#d_tab29 .d_img li.d_pos2{display: block;width: 80%;left: 0%;top: 40px;z-index: 2}
#d_tab29 .d_img li.d_pos3{display: block;width: 95%;left: 3%;top: 20px;z-index: 3}
#d_tab29 .d_img li.d_pos4{display: block;width: 80%;right: 0%;top: 40px;z-index: 2}
#d_tab29 .d_menu{position: absolute;bottom: 0px;width: 100%;text-align: center;z-index: 99;}
#d_tab29 .d_menu li{display: inline-block;zoom: 1;*display: inline;background: url('../bg/template_1.png') no-repeat 0 0;width: 12px;height: 12px;cursor: pointer;margin-right: 3px}
#d_tab29 .d_menu li.d_select{background: url('../bg/template_1.png') no-repeat 0 -18px}
#d_tab29 .d_next{position: absolute;left: 50%;margin-left: 30%;top: 80px;z-index: 10;cursor: pointer}
#d_tab29 .d_next:hover{position: absolute;left: 50%;margin-left: 30%;top: 80px;z-index: 10;cursor: pointer}
#d_tab29 .d_prev{position: absolute;left: 50%;margin-left: -40%;top: 80px;z-index: 10;cursor: pointer}
#d_tab29 .d_prev:hover{position: absolute;left: 50%;margin-left: -40%;top: 80px;z-index: 10;cursor: pointer}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em{margin: 0;padding: 0;border: 0;}
ul, ol, li{list-style: none;}
input, button{margin: 0;font-size: 12px;vertical-align: middle;}
body{font-size: 12px;font-family: "ËÎÌå", Arial, Helvetica, sans-serif;text-align: center;margin: 0 auto;color: #898989;}
table{border-collapse: collapse;border-spacing: 0;}
b, em, i{font-style: normal;font-weight: normal;}
h1, h2, h3{font-size: 14px;}
h4{font-weight: normal;font-size: 14px;}
h5{font-size: 12px;}
h6{font-size: 12px;font-weight: normal;}
img{display: block;}
.adpic{width: 100%;float: left;margin-bottom: 10px;}
.adpic img{width: 100%;}
#wrap .noright{margin-right: 0;padding-right: 0;}
#wrap .nobottom{margin-bottom: 0;padding-bottom: 0;}
#wrap .notop{margin-top: 0;padding-top: 0;}
#wrap .nobg{background: none;}
#wrap .noline{border: none;}
.check, .radio{margin-right: 3px;_margin-right: 0;}
.pcenter{text-align: center;}
.pcenter img{margin: 0 auto;}
#wrap{width: 950px;overflow: hidden;margin: 0 auto;text-align: left;}
a{color: #6e6e76;text-decoration: none;}
a:hover{color: #1bbc6b;}
.l{width: 100%;float: left;}
.fl{display: inline;float: left;}
.fr{display: inline;float: right;}
.content{float: left;_display: inline;overflow: hidden;}
.side{float: right;_display: inline;overflow: hidden;}
#slides{width: 100%;margin: 32px auto 0 auto;height: 98px;overflow: hidden;position: relative;background: #efefef;}
.slides_container li{width: 100%;float: left;}
.slides_container li a{display: inline-block;width: 22%;border: 1px solid #efefef;float: left;margin-left: 2%;padding: 10px 0;}
.slides_container li a img{width: 100%;height: 107px;}
.slides_container li a span{display: block;width: 100%;cursor: pointer;line-height: 22px;color: #808080;}
.slides_container li a span h2{font-weight: normal;font-size: 12px}
.slides_container li a span h2:hover{color:#1bbc6b}
/*.slides_container li a:hover{*//*border: 1px solid #e3e3e3;*//*}*/.slides_container li a:hover span{color: #1bbc6b;}
.pagination{position: absolute;left: 50%;z-index: 10;top: 170px;display: none;}
.pagination li{float: left;padding-right: 7px;}
.pagination a{display: block;outline: none;background: url(../bg/template_2.gif) no-repeat -1px 0;text-indent: -999em;width: 14px;height: 14px;}
.pagination li.current a{background-position: -22px 0;}
.prev{background: url(../bg/template_3.png) no-repeat;width: 20px;height: 30px;display: block;left: 1px;top: 35px;position: absolute;text-indent: -999em;outline: none;z-index: 99;background-size: 34px 52px;}
.prev:hover{background-position: 0 -30px;background-size: 34px 52px;}
.next{background: url(../bg/template_3.png) no-repeat -16px 0;width: 20px;height: 30px;display: block;right: 1px;top: 35px;position: absolute;text-indent: -999em;outline: none;z-index: 99;background-size: 34px 52px;}
.next:hover{background-position: -16px -30px;background-size: 34px 52px;}
.slides_control{width: 100% !important;height: 110px !important;}
.tet{margin-top: 8px;}
.slides_container li a .tub{text-align: center}
.slides_container li a img.tub1{width: 43px;height: 43px;border-radius: 100%;display: inline-block;}
.item_one{width: 22%;height: 78px;float: left;margin-left: 2%;margin-top: 3%;overflow: hidden;}
.gntub{width: 60px;height: 60px;margin-left: auto;margin-right: auto;}
.active{dispaly: block;}
.pro{display: none;}
.weiba-copyright{text-align: center;height: 48px;line-height: 65px;font-size: 14px;}
.footer{clear: both;}
.weiba-support.tpl-support{background: -webkit-gradient(linear, 0 0, 0 100%, from(#707070), to(#707070));color: #FFFFFF!important;font-size: 12px;height: 24px;line-height: 24px;}
.one_itme{width: 99%;}
.one_itmell{width: 99%;height: 270px;}
.one_itmelll{width: 99%;height: 340px;}
.one_banner{width: 100%;height: 180px;border: #00F 1px solid;display: none;}
.banner_pic{width: 94%;height: 110px;border: #FF0 1px solid;margin-left: auto;margin-right: auto;margin-top: 2%;}
.banner_txt{margin-left: 3%;width: 94%;height: 50px;border: #F0F 1px solid;text-align: left;margin-top: 5px;}
.list_one{width: 94%;height: 50px;border: rgba(0, 0, 255, 0) 1px solid;margin-left: auto;margin-right: auto;border-bottom: #adadad 1px solid;box-shadow: 1px -3px 8px rgb(233, 233, 233);margin-top: 4px;}
.list_one_pic{width: 35px;height: 35px;border: rgba(0, 0, 255, 0) 1px solid;float: left;margin-top: 7px;margin-left: 8%;}
.list_one_txt{width: 75%;height: 35px;border: rgba(0, 0, 255, 0) 1px solid;margin-left: 70px;margin-top: 7px;text-align: left;overflow: hidden;}
.list_onell{width: 94%;height: 70px;border: rgba(0, 0, 255, 0) 1px solid;margin-left: auto;margin-right: auto;border-bottom: #adadad 1px solid;box-shadow: 1px -3px 8px rgb(233, 233, 233);margin-top: 4px;}
.list_one_picll{width: 50px;height: 50px;border: rgba(0, 0, 255, 0) 1px solid;float: left;margin-top: 7px;margin-left: 3%;}
.list_one_txtll{width: 75%;height: 50px;border: rgba(0, 0, 255, 0) 1px solid;margin-left: 70px;margin-top: 7px;text-align: left;overflow: hidden;}
.banner_h1{margin-top: 1px;}
.list_h1{margin-top: 8px;color: black;}
.list_h1s{margin-top: 2px;color: black;height: 40px;overflow: hidden;}
.list_h1sz{margin-top: 3px;color: black;height: 40px;overflow: hidden;}
.list_h1lls{margin-top: 2px;color: black;margin-bottom: 3px;}
.list_h1ll{margin-top: 2px;color: black;margin-bottom: 3px;}
.more{width: 50%;height: 25px;margin-left: auto;margin-right: auto;border: #333 1px solid;margin-top: 10px;border-radius: 15px;background-color: #707070;background-image: url(../bg/template_4.png);background-repeat: no-repeat;background-position-x: 94%;background-position-y: 4px;}
.more_anli{width: 50%;height: 25px;margin-left: auto;margin-right: auto;border: #333 1px solid;margin-top: 10px;border-radius: 15px;background-color: #707070;background-image: url(../bg/template_4.png);background-repeat: no-repeat;background-position-x: 94%;background-position-y: 4px;display: none;}
.banner_pic1{width: 100%;height: 100%;}
.yy{width: 100%;height: 40px;background-repeat: no-repeat;background-size: cover;background-size: 100% 100%;}
.scrollNews {
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.jianjie{line-height: 180%;font-size: 14px;padding-left: 4px;margin-right: 4px;}
.jianjie span p img{max-width: 100%;}
.jianjie_h{font-size: 16px;color: #000;}
.more_txt{color: #000;font-weight: bolder;}
.tet2{margin-top: 3px;}
.swiper-container{margin: 0 auto;position: relative;overflow: hidden;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-o-backface-visibility: hidden;backface-visibility: hidden;z-index: 1;}
.swiper-wrapper{position: relative;width: 100%;-webkit-transition-property: -webkit-transform, left, top;-webkit-transition-duration: 0s;-webkit-transform: translate3d(0px, 0, 0);-webkit-transition-timing-function: ease;-moz-transition-property: -moz-transform, left, top;-moz-transition-duration: 0s;-moz-transform: translate3d(0px, 0, 0);-moz-transition-timing-function: ease;-o-transition-property: -o-transform, left, top;-o-transition-duration: 0s;-o-transform: translate3d(0px, 0, 0);-o-transition-timing-function: ease;-o-transform: translate(0px, 0px);-ms-transition-property: -ms-transform, left, top;-ms-transition-duration: 0s;-ms-transform: translate3d(0px, 0, 0);-ms-transition-timing-function: ease;transition-property: transform, left, top;transition-duration: 0s;transform: translate3d(0px, 0, 0);transition-timing-function: ease;}
.swiper-free-mode>.swiper-wrapper{-webkit-transition-timing-function: ease-out;-moz-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;transition-timing-function: ease-out;margin: 0 auto;}
.swiper-slide{float: left;}
.swiper-wp8-horizontal{-ms-touch-action: pan-y;}
.swiper-wp8-vertical{-ms-touch-action: pan-x;}
.swiper-container{}
.swiper-slide{}
.swiper-slide-active{}
.swiper-slide-visible{}
.swiper-pagination-switch{}
.swiper-active-switch{}
.swiper-visible-switch{}
.device{position: relative}
.device .arrow-left{background: url(../bg/template_5.png) no-repeat left top;position: absolute;left: 10px;top: 50%;margin-top: -15px;width: 50px;height: 50px;z-index: 10;display: none;}
.device .arrow-right{background: url(../bg/template_6.png) no-repeat left bottom;position: absolute;right: 10px;top: 50%;margin-top: -15px;width: 50px;height: 50px;z-index: 10;display: none;}
.tongzhi{width: 94%;height: 40px;margin-left: auto;margin-right: auto;}
.tongzhi_pic{width: 15px;border: rgba(0, 0, 255, 0) 1px solid;float: left;margin-top: 16px;margin-left: 2%;}
.tongzhi_txt{width: 78%;height: 35px;line-height: 35px;border: rgba(0, 0, 255, 0) 1px solid;margin-left: 26px;margin-top: -3px;text-align: left;overflow: hidden;}
.tongzhi_h1{margin-top: 6px;color: #797979;font-size: 13px;}
.tongzhi_pic1{width: 15px;height: 15px;vertical-align: middle;}
.swiper-container{height: 139px;width: 100%;}
.swiper-container img{width: 100%}
.content-slide{padding: 20px;color: #fff;}
.points{position: absolute;left: 0;text-align: center;bottom: 6px;width: 100%;z-index: 10}
.swiper-pagination-switch{display: inline-block;width: 10px;height: 10px;border-radius: 10px;background: #fff;margin: 0 3px;cursor: pointer;}
.swiper-active-switch{background: #9bcc0e;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
.newTit{border-bottom: 1px solid #ddd;padding: 10px 0px;}
.newTit .moreLink{float: right;position: relative;width: 80px;text-align: center;}
.newTit .moreLink>a{font-size: 14px;color: #6b6b6b}
.newTit .moreLink>a i{display: inline-block;background: url("../bg/titarrowdown.png") no-repeat top center;width: 8px;height: 5px;background-size: 8px 5px;margin-left: 2px}
.newTit .moreLink>a.on i{background: url("../bg/titarrow.png") no-repeat top center;background-size: 8px 5px;}
.newTit h3{text-align: left;padding-left: 15px;}
.newTit .moreLink ul{position: absolute;left: 0;top: 28px;background: #f2f2f2;width: 78px;border: 1px solid #ddd;border-top: 0;display: none;z-index: 1}
.newTit .moreLink ul li{border-top: 1px solid #ddd;padding: 10px 0}
.newTit .moreLink ul li a{color-interpolation: #191919}
.footer{background:#383838;position: fixed;bottom: 0;left: 0;width: 100%;z-index: 9}
.footer a{width: 50%;float: left;padding: 12px 0;font-size: 14px;color: #fff}
.footer a i{display: inline-block;width: 11px;height: 12px;vertical-align: middle;margin-right: 2px}
.footer a:nth-child(1){border-right: 1px solid #333}
.footer a:nth-child(2){margin-left: -1px}
.footer a:nth-child(1) i{background: url("../bg/phone.png") no-repeat top center;background-size: 11px 12px}
.footer a:nth-child(2) i{height:13px;background: url("../bg/qq.png") no-repeat top center;background-size: 11px 13px}
.footer a:hover{background: #323232;color: #1bbc6b}
.fixedBar{width: 80px;position: fixed;right: 2px;bottom: 45px; z-index: 99;}
.fixedBar .aClick{display: block;width: 33px;height: 33px;margin: 0 auto;background: url("../bg/aclickIcon.png") no-repeat;background-size: 33px 33px}
.fixedBar .SubLinks{background: #333;width: 100%;position: relative;margin-bottom: 10px;display: none}
.fixedBar .SubLinks ul li{border-bottom: 1px solid #999;padding: 10px 0;}
.fixedBar .SubLinks ul li a{color: #fff}
.fixedBar .triangle{position: absolute;left: 34px;bottom: -7px;}
.fixedBar .triangle{display:inline-block;width:0;height:0;overflow:hidden;line-height:0;font-size:0;vertical-align:middle;border-top:7px solid #333;border-bottom:0 none;border-left:7px solid transparent;border-right:7px solid transparent;_color:#333;_filter:chroma(color=#333);}
.swiper-slide-active img{-webkit-animation: pulse 3s ease .1s both;-moz-animation: pulse 3s ease .1s both;}
.tongzhi_pic img{-webkit-animation:ro2 1.5s .2s linear infinite;-moz-animation:ro2 1.5s .2s linear infinite;animation:ro2 1.5s .2s linear infinite;}
/*.item_one{-webkit-animation: up70 2s ease .1s both;-moz-animation: up70 2s ease .1s both;}*/
@-webkit-keyframes up70{0%{opacity:0;-webkit-transform:translateY(70px);}
    100%{opacity:1;-webkit-transform:translateY(0);}}
@-moz-keyframes up70{0%{opacity:0;-moz-transform:translateY(70px);}
    100%{opacity:1;-moz-transform:translateY(0);}}
@keyframes up70{0%{opacity:0;transform:translateY(70px);}
    100%{opacity:1;transform:translateY(0);}}
@-webkit-keyframes pulse{0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.1);}
    100%{-webkit-transform: scale(1);}}
@-moz-keyframes pulse{0%{-moz-transform: scale(1);}
    50%{-moz-transform: scale(1.1);}
    100%{-moz-transform: scale(1);}}
@-o-keyframes pulse{0%{-o-transform: scale(1);}
    50%{-o-transform: scale(1.1);}
    100%{-o-transform: scale(1);}}
@keyframes pulse{0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}}
.pulse{-webkit-animation-name: pulse;-moz-animation-name: pulse;-o-animation-name: pulse;animation-name: pulse;}
/* Ðý×ª¶¶¶¯*/
@-webkit-keyframes ro2{0%{-webkit-transform:rotate(0deg);}
             5%,15%,25%{-webkit-transform:rotate(-2deg);}
             10%,20%,30%{-webkit-transform:rotate(2deg);}
             35%{-webkit-transform:rotate(0deg);}}
@-moz-keyframes ro2{0%{-moz-transform:rotate(0deg);}
    5%,15%,25%{-moz-transform:rotate(-2deg);}
    10%,20%,30%{-moz-transform:rotate(2deg);}
    35%{-moz-transform:rotate(0deg);}}
@keyframes ro2{0%{transform:rotate(0deg);}
    5%,15%,25%{transform:rotate(-2deg);}
    10%,20%,30%{transform:rotate(2deg);}
    35%{transform:rotate(0deg);}}
