{template 'common/header'}

<ul class="nav nav-tabs">
	<li{if $_GPC['do'] == 'manage'} class="active"{/if}><a href="{php echo $this->createWebUrl('packet');}">活动管理</a></li>
		<li{if $_GPC['do'] == 'virtualUser'} class="active"{/if}><a href="{php echo $this->createWebUrl('virtualUser',array( 'pid' => $pid,'op'=>'post'));}">添加虚拟人数</a></li>
		<li{if $_GPC['do'] == 'fanslist'} class="active"{/if}><a href="{php echo $this->createWebUrl('fanslist',array( 'pid' => $pid));}">参与用户</a></li>

</ul>
{if $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form"
		enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$item['id']}" />

		<h4>{$packet['name']}</h4>

		<div class="panel panel-default">
			<div class="panel-heading">
				活动设置
			</div>
			<div class="panel-body">

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">昵称</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="nickname" class="form-control"
							   value="{$item['nickname']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">电话</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="tel" class="form-control"
							   value="{$item['tel']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">头像</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('headimgurl',$item['headimgurl']);}
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">金额</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="income" class="form-control"
							   value="{$item['income']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
					<div class="col-sm-9 col-xs-12">
						<input name="submit" type="submit" value="提交"
							   class="btn btn-primary span3"> <input type="hidden"
																	 name="token" value="{$_W['token']}" />
					</div>
				</div>





			</div>

			</div>





	</form>
</div>

{/if} {template 'common/footer'}
