/*css清零样式*/
body,div,dl,dt,dd,ul,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0px;margin: 0px; }
fieldset,img{border: 0;}
table{border-collapse: collapse;border-spacing: 0;}
ul{list-style: none;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight: normal;font-style: normal;}
caption,th{text-align: left;}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: 100%;}
q:before,q:after{content: "";}
abbr,acronym{border:0;}
a{
	text-decoration: none;
}
.clearfix{
	content: "";
	clear: both;
	display: table;
}
body{
 font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif
}
.content{
	background-color: #fff;
	width: 100%;
	margin: 0px 0px 10px 0px;
}
.nav{
	width: 90%;
	margin: 0px auto;
	padding: 20px 0px 5px 0px;
}
.nav ul{
	width: 100%;
}
.nav li{
	width: 25%;
	float: left;
	text-align: center;
}
.sub_nav ul{
	width:100%;
}
.sub_nav{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sub_nav ul li{
	float: left;
	width: 33%;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.sub_nav li a:link{
	color:#78797e;
}
.sub_nav li a:hover{
	color:#78797e;
}
.sub_nav li a:visited{
	color:#78797e;
}
.nav li img{
	width: 65%;
    border-radius: 40%;
}
.nav li span{
	display: block;
	margin: 11px 0px;
	color: #4f4f4f;
	font-size: 12px;
}
.aa{
	font-size: 15px;
	color:#000;
	position: fixed;
}
.bb{
	padding-top: 50px;
}
.about{
	border-right: solid 1px #f5f5f5;
	border-left: solid 1px #f5f5f5;
}
.footer{
	color: #78797e;
    font-size: 14px;
	margin: 0px 0px 40px 0px;
}

footer{
	text-align: center;
	color: #78797e;
	font-size:14px;
	height: 40px;
	line-height: 40px;
    margin:0px 0px 40px 0px;
}
