.TelInfors a{
    height: 30px;
    width: 40%;
    background-color: red;
    display: block;
    float: right;
    margin-top: 5px;
    line-height: 30px;
    text-align: center;
}
.TelInfors a£ºlink{
    color£º#fff;
}
header {
	height: 187px;
	background-color: #FFFFFF;
	overflow: hidden;
}

.nocardstyle{
	background-color: #585858 !important;
}
.CardStyle img {
	height: 83px;
	position: absolute;
	top: 30%;
	margin-top: -40px;
	left: 7%;
}

.CardStyle P {
	position: absolute;
	top: 80%;
	color: #fff !important;
	left: 4%;
}

.CardStyle h1 {
	position: absolute;
	right: 5%;
	top: 6%;
	color: #999;
	color: #C7C7C7;
}

.CardStyle a {
	border: 1px solid #F9BE02;
	padding: 4px;
	color: #F9BE02;
	position: absolute;
	right: 3%;
	bottom: 8%;
	border-radius: 2px;
	max-width: 100px;
}

.DayCss {
	border-top: 1px solid #DEDEDE;
}

.col-xs-12 {
	width: 100%;
}

.cards-day {
	height: 80px;
	padding: 5px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cards-day li {
	width: 45px;
	padding: 5px;
	color: #666;
}

.back-white {
	background: #fff;
}

.text-center {
	text-align: center;
}

.pull-left {
	float: left;
}

.cards-day li.act .day {
	border-color: #E34F63;
	background: #E34F63;
	color: #fff;
}

.day {
	margin-top: 4px;
	width: 35px;
	height: 35px;
	border: thin solid #c8c8c8;
	border-radius: 50%;
	line-height: 35px;
}

.imgClass {
	width: 100%;
	height: 80%;
}

.weui_cell_ft {
	margin-top: -50px;
}

.weui_cell_primary p {
	line-height: 23px;
}

.weui_cell {
	padding: 10px 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	border-top: 1px solid #F2F2F2;
}

.weui_cells {
	margin-top: 0.000471em;
	border-bottom: 1px solid #F2F2F2;
}

.clickMore {
	background-color: #FFFFFF;
	height: 30px;
	text-align: center;
	width: 100%;
	line-height: 30px;
}

.Thefooter {
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #F2F2F2;
	display: -webkit-box;
	display: flex;
	flex-flow: row;
	margin-top: 10px;
	background-color: #FFFFFF;
}

.Thefooter p {
	width: 50%;
	margin-top: 5px;
}

.Thefooter p a {
	display: block;
	height: 40px;
	width: 100%;
	border-right: 1px solid #F2F2F2;
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	color: #808080;
}

.Thefooter p:last-child a {
	border: none;
}

.daysstyle {
	padding: 2px 4px;
	background-color: #E34F63;
	color: #FFFFFF;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 2px;
	border-radius: 2px;
}

.FiveCard_Explain {
	border-top: 1px solid #F2F2F2;
	background-color: #FFFFFF;
	border-bottom: 1px solid #f2f2f2;
    overflow:hidden;
}

.FiveCard_Explain p {
	height: 30px;
	line-height: 30px !important;
	padding-left: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.PeopleInfors {
	height: 40px;
	display: block;
	background-color: #FFFFFF;
	padding-left: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #808080;
	border-top: 1px solid #F2F2F2;
}

.TelInfors {
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	clear: both;
}

.TelInfors i,
.TelInfors span,
.SignPeople i {
	width: 22%;
	text-align: right;
	display: inline-block;
	color: #808080;
	font-style: normal;
	line-height: 40px;
}

.TelInfors i {
	width: 30%;
	text-align: left;
	display: inline-block;
	color: #808080;
	font-style: normal;
	line-height: 40px;
	padding-left: 4px;
	float: left;
	-webkit-box-sizing: border-box;
}

.TelInfors span {
	width: 55%;
	height: 100%;
	line-height: 40px !important;
	border: none;
	display: inline-block;
	text-align: left;
	margin-top: 0;
	float: left;
}

.TelInfors p {
	width: 22%;
	text-align: right;
	color: #E34F63;
	float: left;
	line-height: 40px;
}

.TelInfors p i {
	border: none;
	width: 30%;
	height: 100%;
	padding-right: 4px;
	color: #808080;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
}

#BuyCardMethod {
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	margin-top: 12px;
	border-bottom: 1px solid #F2F2F2;
	display: table;
	clear: both;
	content: "";
}

#BuyCardMethod div {
	width: 50%;
	height: 100%;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #808080;
	float: left;
}

#BuyCardMethod p:first-child {
	
	border-right: 1px solid #F2F2F2;
}

.methodcurrent {
	color: #E34F63 !important;
	border-bottom: 2px solid #E34F63 !important;
}

.jh-info {
	background-color: #fff;
}

.Way_BuyNow,
.Way_MaForBuy {
	height: 50px;
	width: 100%;
	position: relative;
}

.CardInfo {
	background-color: #FFFFFF;
	height: 50px;
	clear: both;
	border-bottom: 1px solid #F2F2F2;
}

.CardInfo .radio-p {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	margin-left: 5px;
	font-size: 14px;
	width: 70%;
	line-height: 50px;
	float: left;
}

.CardInfo .radio-lot {
	width: 15px;
	height: 15px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	cursor: pointer;
}

.CardInfo .radio-span {
	display: inline-block
}

.CardInfo .radio-span {
	margin: 0px 10px 0 -10px;
	width: 15px;
	height: 15px;
	border: 2px solid #E34F63;
	border-radius: 50%;
	vertical-align: middle;
}

.CardInfo .radio-act {
	background: #E34F63
}

.CardInfo h2 {
	width: 20%;
	text-align: right;
	padding-right: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 50px;
	color: #E34F63;
	float: right;
}

.LoginButton #wxpay {
	background-color: #009933;
}

.Way_MaForBuy {
	display: -webkit-box;
	display: flex;
	flex-flow: row;
	display: none;
	height: auto;
	line-height: 50px;
}

.Way_MaForBuy .MaLable {
	width: 20%;
	height: 60%;
	display: inline-block;
	border-right: 1px solid #F2F2F2;
	text-align: right;
	margin-right: 6px;
	line-height: 30px;
	margin-top: 2px;
}

.Way_MaForBuy input {
	height: 30px;
	font-size: 14px;
	border: none;
	margin-top: 5px;
	outline: none;
}

.tijiao {
	font-size: 40px !important;
	color: #E34F63;
}

.weui_cell {
	overflow: hidden;
}

.weui_cell:before {
	border-top: 0;
}

.weui_cell_ft {
	margin-top: -50px;
	height: 120px;
	overflow: hidden;
}

.NotUesed {
	border-bottom: 1px solid #F2F2F2;
}

.gz-sum {
	font-size: 12px;
	height: 57px !important;
	line-height: 72px;
}

.julis {
	height: 33px !important;
	line-height: 40px !important;
	font-size: 12px;
	margin-top: 40px;
}

.weui_cell_primary p {
	line-height: 23px;
}
