body {
	background-color: #FFFFFF !important;
}

.InforContain {
	height: 300px;
	background-color: #FFFFFF;
}

.InforContain .EverInfo {
	display: block;
	display: -webkit-flex;
	display: flex;
	flex-flow: row;
	height: 40px;
	width: 100%;
	line-height: 40px;
	padding-left: 4px;
	box-sizing: border-box;
	color: #808080;
	border-bottom: 1px solid #F2F2F2;
	clear: both;
}

.EverInfo label {
	display: inline-block;
	font-size: 16px;
	width: 25%;
	text-align: right;
	float: left;
}

.EverInfo .Kuang_P,
.EverInfo .Kuang_img {
	width: 68%;
	height: 100%;
	border-bottom: 1px solid #F2F2F2;
}

.EverInfo .Kuang_P {
	width: 80%;
	height: 100%;
	display: inline-block;
	text-align: right;
	color: #808080;
	border: none;
	outline: none;
	padding-right: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}

.EverInfo .Kuang_img img {
	width: 38px;
	height: 38px;
	margin-top: 2px;
	float: right;
}

.EverInfo h1 {
	display: inline-block;
	width: 10%;
	text-align: right;
	padding-right: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float:right;
}

.UpdateTel {
	color: #808080;
	font-size: 18px;
	line-height: 40px;
}

.InfoDiv {
	height: auto;
	background-color: #FFFFFF;
}

.InfoDiv .Phone_Now,
.InfoDiv .Yanzheng {
	height: 50px;
	display: -webkit-box;
	display: flex;
	flex-flow: row;
	border-bottom: 1px solid #F2F2F2;
}

.InfoDiv .Phone_Now label,
.InfoDiv .Yanzheng label {
	width: 20%;
	text-align: right;
	line-height: 50px;
	color: #636363;
}

.InfoDiv .Phone_Now input,
.InfoDiv .Yanzheng input {
	width: 50%;
	border: none;
	outline: none;
	font-size: 14px;
}

.InfoDiv .Yanzheng input {
	width: 30%;
}

.InfoDiv .Yanzheng button {
	width: 40%;
	background-color: #E34F63;
	color: #FFFFFF;
	font-size: 14px;
	float: right;
	margin-right: 4px;
	border: none;
	outline: none;
	height: 30px;
	border-radius: 4px;
	margin-top: 10px;
}

#timeandbtn {
	background-color: #B8B8B8;
}