* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

body,
textarea {
	background: #F5F5F5;
	font: 14px / 1.5 "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	max-width: 640px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"] {
	-webkit-appearance: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
}

a {
	color: #fff;
	text-decoration: none !important;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

a:link,
a:visited,
a:hovera:active {
	text-decoration: none !important;
	color: #fff
}

i {
	color: white;
}

.viewport {
	max-width: 640px;
	min-width: 300px;
	margin: 0 auto;
}

/*@font-face {
	font-family: 'iconfont';
	src: url('../iconfont/ux_1463542776_0142071/iconfont.eot');
	src: url('../iconfont/ux_1463542776_0142071/iconfont.eot?#iefix') format('embedded-opentype'), url('../iconfont/ux_1463542776_0142071/iconfont.woff') format('woff'), url("../iconfont/ux_1463542776_0142071/iconfont.ttf") format('truetype'), url('../iconfont/ux_1463542776_0142071/iconfont.svg#iconfont') format('svg');
}
*/
                                                             
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1473485287_115917.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1473485287_115917.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1473485287_115917.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1473485287_115917.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1473485287_115917.svg#iconfont') format('svg'); /* iOS 4.1- */
}                 
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

input {
	font: 16px / 1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

button {
	font: 16px / 1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

select {
	outline: none !important;
	outline: 0;
}

body {
	max-width: 600px;
	margin: 0 auto;
	color: #808080;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

.text_flow {
	overflow: hidden !important;
	overflow-x: hidden;
	overflow-y: hidden;
	word-wrap: normal !important;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
}

.add-height {
	height: 20px;
}

.ticket_Img {
	width: 120px;
	height: 70px;
	margin-right: 4px;
	display: block;
	border-radius: 2px;
}

.LoginButton {
	height: auto;
	margin-top: 5px;
	position: relative;
}

.LoginButton a {
	width: 200px;
	height: 50px;
	display: block;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	color: #FFFFFF !important;
	background-color: #009933;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -100px;
	border-radius: 4px;
}

.threeButtons {
	width: 100%;
	height: 40px;
	margin-top: 20px;
}

.threeButtons ul {
	width: 95%;
	height: 100%;
	margin-left: 2.5%;
}

.threeButtons ul li {
	width: 31%;
	height: 100%;
	float: left;
	margin: 0 3px;
}

.threeButtons ul li a {
	width: 100%;
	height: 40px;
	display: block;
	background-color: #E34F63;
	color: #FFFFFF;
	font-size: 16px;
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
}

.ticketTitle {
	width: 100%;
	height: auto;
	padding: 2px 3px;
	-webkit-box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	position: absolute;
	bottom: 6px;
	left: 0;
	font-size: 16px;
}

.clickMore {
	background-color: #FFFFFF;
	height: 30px;
	text-align: center;
	width: 100%;
	line-height: 30px;
}

.beforeclick {
	color: #808080;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
}

.afterclick {
	color: #E34F63 !important;
}

.thiscolor {
	color: #E34F63;
}

/*.linkKeFu {
	display: block;
	position: fixed;
	bottom: 28%;
	width: 90px;
	height: 30px;
	color: white;
	background-color: rgba(26, 174, 62, 0.8);
	border-radius: 30px;
	z-index: 1000 !important;
}

.kefu {
	width: 27px;
	height: 22px;
	display: inline-block;
	line-height: 22px;
	font-size: 24px;
	margin-top: 2px;
}

.Leftback {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	position: fixed;
	bottom: 16%;
	color: #E34F63;
	z-index: 1000 !important;
}*/
.KF_Back{
	height: auto;
	width: 40px;
	border-radius: 0 2px 2px 0;
	position: fixed;
	bottom: 20%;
	z-index: 1001;
}
.KF_Back .linkKeFu {
	display: block;
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgba(26, 174, 62, 0.8);
   	border-radius: 0 2px 0 0;
    z-index: 1000;
}
.KF_Back .linkKeFu p{
	font-size: 12px;
	text-align: center;
	margin-top: -5px;
}
.KF_Back .Leftback {
	height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    border-radius: 0 0 2px 0;
    z-index: 1000;
}
.KF_Back .kefu{
	width: 40px;
    height: -9px;
    display: inline-block;
    line-height: 17px;
    font-size: 31px;
    margin-top: 3px; 
    text-align: center;
}
.link-KF .s-em{
	font-size: 18px !important;
	margin-top: 0 !important;
	position: relative;
}
.link-KF .s-em>.g-em{
	position: absolute;
	font-size: 22px;
	color: #808080;
	right: 6px;
    top: -8px;
	
}



.qgimg-ing {
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 1002;
	top: 0;
}
.gray{
  
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 1002;
	top: 0;  
}
.qgimg-ing {
	background: #fff !important;
}

.shares {
	width: 390px;
	height: 400px;
	position: fixed;
	left: 50%;
	top: 0px !important;
	margin-left: -195px;
	display: none;
	z-index: 1002;
}

.RuleOne {
	width: 100%;
	height: 84px;
	background: url(../img/sharePage/Rule_1.png) no-repeat center center;
	background-size: 293px 75px;
}

.RuleTwo {
	width: 100%;
	height: 120px;
	background: url(../img/sharePage/Rule_2.png) no-repeat center center;
	background-size: 293px 82px;
}

.IkonwIt {
	width: 100%;
	height: 120px;
	background: url(../img/sharePage/Iknow.png) no-repeat center center;
	background-size: 178px 82px;
}

.NoInfo {
	width: 100%;
	height: 180px;
	margin-top: 100px;
}

.NoInfo .Up,
.NoInfo .Down {
	height: auto;
	width: 46%;
	line-height: 30px;
	text-align: center;
	margin: 0 27%;
	padding-top: 20px;
	-webkit-box-sizing: border-box;
	height: 70px;
}

.NoInfo .Up {}

.NoInfo .Down {
	height: 30px;
	font-size: 18px;
	padding: none;
	color: #C7C7C7;
}

.NoRecord {
	color: #C7C7C7;
	text-align: center;
	font-size: 5rem;
}

.allImg {
	width: 100% !important;
	padding-right: 4px !important;
	padding-left: 4px !important;
	-webkit-box-sizing: border-box !important;
}

.allImg img {
	max-width: 600px !important;
	height: auto !important;
	width: 100% !important;
	padding: 2% 0 !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

.allImg p {
	margin-left: -3px;
}

.allImg a {
	color: #636363;
}

.ClickContent {
	width: 260px;
	height: 240px;
	font-size: 16px;
	background-color: white;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -130px;
	border: 1px solid #E34F63;
	display: none;
	z-index: 1001;
}

.ClickContent h1 {
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #FFFFFF;
}

.ClickContent .OneDay,
.ClickContent .OneTwoDay,
.ClickContent .OneSevenDay {
	height: 40px;
	width: 86%;
	border: 1px solid #E34F63;
	text-align: center;
	line-height: 40px;
	color: #E34F63;
	background-color: #FFFFFF;
	margin: 8px auto;
}

.ClickContent .UpCondition {
	height: 40px;
	width: 86%;
	margin: 5px auto;
	color: #00B300;
	text-align: center;
	line-height: 40px;
	display: none;
}

.DayCurrent {
	background-color: #E34F63 !important;
	color: #FFFFFF !important;
}

.Confirm,
.ConfirmTwo {
	height: 40px;
	text-align: center;
	font-size: 16px;
	color: #E34F63;
	line-height: 40px;
	display: block;
}

.ConfirmTwo {
	display: block;
	color: #FFFFFF;
	background-color: #E34F63;
	font-size: 14px;
	margin-top: 4px;
	display: none;
}

.CloseIt {
	color: #808080;
	font-size: 27px;
	position: absolute;
	top: 0;
	right: 2px;
}

.font-class {
	display: inline;
	padding: 1px 2px;
	font-size: 12px;
	background-color: #E33551;
	font-style: normal;
	border-radius: 2px;
	margin-left: 5px;
	color: #FFF;
}

.allfootericon {
	font-size: 20px !important;
}

.alltitles {
	height: 40px;
	line-height: 40px;
	color: #808080;
	background-color: #FFFFFF;
	border-bottom: 1px solid #F2F2F2;
	margin-top: 12px;
	padding-left: 4px;
	font-size: 14px;
	-webkit-box-sizing: border-box;
}

.dropload-up,
.dropload-down {
	position: relative;
	height: 0;
	overflow: hidden;
	font-size: 12px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	clear: both;
}

.dropload-down {
	height: 50px;
}

.dropload-refresh,
.dropload-update,
.dropload-load,
.dropload-noData {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.dropload-load .loading {
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 100%;
	margin: 6px;
	border: 2px solid #666;
	border-bottom-color: transparent;
	vertical-align: middle;
	-webkit-animation: rotate 0.75s linear infinite;
	animation: rotate 0.75s linear infinite;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.allDetailsImg {
	max-width: 600px;
	max-height: 350px;
	width: 100%;
	height: 100%;
}

.SignPeople {
	border-bottom: 1px solid #ebebeb;
}

i.iconfont.beforeclick {
	font-size: 20px;
}

.weui_media_box .weui_media_title {
	margin-bottom: 2px;
}

.hadover {
	background: #999999 !important;
}

.ma_Img {
	width: 390px;
	height: 442px;
	position: fixed;
	left: 50%;
	margin-left: -195px;
	display: none;
	z-index: 1002;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	z-index: 1002 !important;
	display: none;
}

.m-p {
	height: 30px !important;
	line-height: 30px !important;
}

.weui_cell_hd img {
	width: 120px;
	height: 70px;
}

.link-KF {
	width: 352px;
	height: 380px;
	position: fixed;
	left: 50%;
	margin-left: -190px;
	display: none;
	z-index: 1003;
	text-align: center;
	overflow: hidden;
}
.pay-ma {
					width: 352px;
					height: 400px;
					position: fixed;
					left: 50%;
					margin-left: -190px;
					display: none;
					z-index: 1003;
					text-align: center;
					overflow: hidden;
}
.con-ma,.pay-con{
	width: 80%;
	height: auto;
	margin-left: 14%;
	border-radius: 8px;
	background-color: #E8E8E8;
	padding-bottom: 30px;
	-webkit-box-sizing: border-box;
}

.link-KF p {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: none;
	color: #080808;
}



.ma-infors{
					margin: 0 4px;
					height: auto;
					text-align: center;
				}
				.link-KF img,.ma-infors img {
					max-width: 203px !important;
					max-height: 203px !important;
					width: 100%;
					height: 100%;
					margin-top:2%;
				}
				.ma-infors img{
					margin: 0 !important;
				}
				.ma-infors h1{
					height: 40px;
					font-size: 16px;
					color: #636363;
					line-height: 40px;
					border-bottom: 1px solid #D4D4D4;
				}
				.ma-infors p{
					height: 30px;
					font-size: 12px;
					line-height: 30px;
				}
				.ma-infors .sb-ma{
					color: #636363;
					height: 40px;
					line-height: 45px;
					}

p.jbsc_1 {
	font-size: 16px;
	color: #e34f63;
	margin-top: 10px;
	margin-left: 5px;
}

.jbsc ul {
	font-size: 14px;
	margin-left: 10px;
}

.jbsc ul li {
	background: url(../img/list_dot.gif) no-repeat;
	line-height: 20px;
	color: #808080;
	margin-left: 5px;
	padding-left: 12px;
	height: 20px;
	background-position: 2px;
	-moz-background-size: 6px 6px;
	background-size: 6px 6px;
}

.use-shuom {
	height: 50px;
	line-height: 50px;
	width: 100%;
	text-align: center;
	color: #E34F63 !important;
	margin-top: 100px;
}
.A_ImgInfo>p a {
    color: #808080;
}
.weui_cell_hd{
	width: 120px !important;
	height:70px !important;
	margin-right: 6px !important;
	background: url("../img/loading.jpg") no-repeat;
	background-size: 100% 100%;
}