body{padding-top: 10px;}
a{color: #494949;text-decoration:none;}
a:visited,a:hover,a:active,a:link{color: #494949; text-decoration:none;}
.top {height: 40px; line-height: 40px;}
.top h3{text-align: center;}
.top .icon-left{background: url(../images/s-left.png) no-repeat; width: 20px; height: 20px;display: block; margin-left: 10px;}
.top .icon-left-w{background: url(../images/s-left-w.png) no-repeat; width: 20px; height: 20px;display: block; margin-left: 10px;}
.slist{padding: 0 10px;}	
.slist dl{background-color: #fff; border-radius: 5px; padding: 15px 10px 10px 10px; display: block; width: 100%; overflow: hidden; position: relative;}
.slist dt{float: left; width: 75px;}
.slist dt img{width: 65px;height: 65px; border-radius: 50%;}
.slist dd{margin-left: 65px; display: block; margin-bottom: 10px;}
.slist dd.t1{color: #595959; font-size: 16px;}
.slist dd.t2{color: #111111; font-size: 20px; padding-bottom: 10px; border-bottom: 1px dashed #e6e6e6;}
.slist dd.t3{color: #888888; font-size: 12px; text-align: right; margin-bottom: 0;}
.slist dd.up{position: absolute; right: 5px; top: 10px;}
.slist dd.up span{border: 1px solid #8c0000; color: #8c0000; border-radius: 5px; padding: 1px 2px; font-size: 10px;}

.sdetail{ margin: 10px; background-color: #fff; position: relative; padding-bottom: 30px;}
.sdetail-pic{position: absolute; left: 50%; top: -25px;}
.sdetail-pic img{width: 50px;height: 50px; border-radius: 50%; margin-left: -25px;}
.sdetail-box{border-bottom: 1px dashed #e6e6e6; text-align: center; padding-top: 20px;}
.sdetail-box h3{color: #595959; font-size: 16px;}
.sdetail-box .t1{ color: #111111; font-size: 20px;}
.sdetail-box .t2{color: #444444; font-size: 14px;}
.sdetail-box .t3{color: #444444; font-size: 12px;}
.sdetail-box .sbtn{background-color: #91ba27; height: 40px; line-height: 40px; text-align: center; padding: 10px 30px; border-radius: 5px; color: #fff;}
.sdetail-list ul{padding: 10px;}
.sdetail-list li{height: 50px; line-height: 50px; border-bottom: 1px solid #f1f1f1; background:url(../images/s-right.png) no-repeat right; padding-left: 5px; font-size: 16px;}
.sdetail-list li a{color: #4f4f4f;}

.sqx {padding-left: 20px; font-size: 16px;}
.sqx a{color: #91ba27}

.sdetail-cord{padding-bottom: 30px;}
.sdetail-cord .img{width: 60%; margin: 20px auto;}
.sdetail-cord img{width: 100%;}
.sdetail-cord p{text-align: center;}

.ssx {padding: 10px;}
.ssx h1{padding-bottom: 10px; border-bottom: 1px solid #cacaca; font-size: 16px; color: #111111;}
.ssx dt{width: 60px; float: left; color: #939393;}
.ssx dd{margin-left: 70px; color: #1a1a1a;}
.ssx dd.tel{color: #5ab76f;}