body{
	background-color: #f5f5f5;
 font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif
}
.act_top{
	border-bottom: solid 1px #f5f5f5;
}
.right{
	float: right;
}
.red_background{
	background-color: #e35063;
}
.grizzly_background{
	background-color: #a2a2a2;
}
.immediate_red{
    color: #e35063;
	border: 1px solid #e35063;
}
.immediate_grizzly{
	color:#a2a2a2;
	border: 1px solid #a2a2a2;	
}
.grizzly_fonts{
	font-size: 14px;
}

.red_fonts{
	font-size: 19px;
}
.color{
	color: #78797e;
	font-size: 17px;
}
.level{
	text-align: center;
}
.red{
	color:#e34f63;
	font-size: 17px;
}
.heigh{
	height: 30px;
	line-height: 30px;
}
.white{
	background-color: #fff;
}
.white img{
	width:30%;
}
.telephoneas{
	text-align:right;
}
.width{
	width: 92%;
	margin: 0px auto;
}
.banner{
	width: 100%;
}
.fonts{
	color: #78797e;
}
.date{
	color: #e34f63;
}
.date_content{
	display: flex;
	justify-content: space-between;
}
.date_left{
	width: 68%;
	margin: 15px 0px 0px 0px;
}
.title{
	font-size: 20px;
}
.five{
	margin-top: 8px;
	margin-bottom: 15px;
}
.commodity{
	font-size: 18px;
}
.fruition{
	text-align: center;
   padding: 11px 0px 0px;
}
.fruition button{
	background-color: #e34f63;
	border:0px;
	color: #fff;
	border-radius: 4px;
	padding: 5px 10px;
}
.fruition span{
	display: block;
	text-align: center;
	margin: 10px 0px 0px 0px;
}
.tax{
	color: #e34f63;
	padding: 10px 0px;
}
.address_content{
	display: flex;
	justify-content: space-between;
	height: 41px;
	line-height: 41px;
}
.dezhou_address{
	font-size: 18px;
	color: #78797e;
	padding: 0px 9px 0px 0px;
}
.telephone{
	border-left: solid 1px #f5f5f5;
}
.telephon_icon{
	font-size: 25px;
	color: #e35063;
}
.receive{
	width: 92%;
	margin: 0px auto;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom:dashed 1px #909090;
	font-size: 18px;
	color: #909090;
	margin-bottom: 30px;

}
/*优惠券代码*/
.immediate{
	width: 94%;
	height: 100px;
    padding: 0px 10px;
    margin: 20px auto;

}
.digital{
	color: #fff;
	border-right: 1px solid #fff;
	box-sizing: border-box;
	padding: 5px 10px 0px 0px;
	height: 66px;
	line-height: 62px;
	float: left;
	margin: 17px 0px;
	width: 31%;
}
.down{
	background-color: #fff;
	height: 66px;
	border-radius: 50%;
	text-align: center;
	box-sizing: border-box;
	padding: 3px;
	width: 66px;
	margin:17px 0px;
}
.down button{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #fff;
	letter-spacing: 3px;
	font-weight: bold;
}
.ten{
	font-size: 42px;	
	font-weight: 500;
}
.shop_top{
	font-size: 16px;
}
.renminbi{
	margin: 10px 2px 0px 4px;
    font-size: 17px;
}
.shop_preferential{
	color: #fff;
	float: left;
	width: 46%;
}
.shop_center{
	background-color: #fff;
	font-weight: bold;
    width: 83%;
    margin: 0px auto;
    font-size: 15px;
}
/*优惠券代码结束*/
footer{
	text-align: center;
	color: #78797e;
	font-size:14px;
	height: 40px;
	line-height: 40px;
    margin:0px 0px 40px 0px;
}
.sub_nav{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sub_nav ul li{
	float: left;
	width: 33%;
	text-align: center;
	height: 40px;
	line-height: 40px;
 }
 a:link{
    font-size:16px;
    color:#909090; 
 }
  a:hover{
    font-size:16px;
    color:#909090; 
 }
  a:visited{
    font-size:16px;
    color:#909090; 
 }
.about{
	border-right: solid 1px #f5f5f5;
	border-left: solid 1px #f5f5f5;
}
.footer{
	color: #78797e;
    font-size: 14px;
	margin: 0px 0px 40px 0px;	
}
 .sub_nav{
 	position: fixed;
    bottom: 0;
    width: 100%;
}
.sub_nav ul li{
	float: left;
    width: 33%;
    text-align: center;
    height: 40px;
    line-height: 40px
}
@media screen and(max-width: 360px){
	.shop_center{font-size: 15px;}
	.ten {font-size: 32px; margin: 0px 0px 0px -10px; }
	.renminbi{font-size: 15px;}
	.down button{font-size: 13px;}
	.level{font-size: 13px;}
	.shop_preferential{width: 48%;}
	.digital{width: 28%;}
	.shop_bottom{width: 100%;} 
}
@media screen and (min-width: 400px) {
    html {font-size: 18px;}
}
@media screen and (min-width: 440px) {
    html {font-size: 20px;}
} 
@media screen and (min-width: 480px) {
    html {font-size: 22px;}
}
@media screen and (min-width: 640px) {
    html {font-size: 28px;}
}
