body {
	max-width: 600px;
}

header {
	height: 50%;
	background-color: #4CAF50;
}

header h1 {
	width: 99%;
	text-align: center;
	line-height: 50px;
	color: #ffffff;
}

#MainContent {
	height: auto;
	width: 100%;
	margin-top: 1px;
}

#MainContent ul li {
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	border-top: 1px solid #F2F2F2;
	padding-left: 4px;
	line-height: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#MainContent ul li:first-child label,
#MainContent ul li:nth-child(2) label,
#MainContent ul li:nth-child(3) label, 
#MainContent ul li:nth-child(4) label,
#MainContent ul li:nth-child(5) label,
#MainContent ul li:nth-child(6) label,
#MainContent ul li:nth-child(7) label{
	color: #636363;
	text-align: left;
	display: inline-block;
	width: 28%;
}

#MainContent ul input {
	border: none;
	outline: none;
	width: 70%;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #FFFFFF;
	color: #636363;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#MainContent ul li p {
	color: #636363;
}


.wrap {
	width: 100%;
	height: 60px;
	position: relative;
	padding-left: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.chebInput input {
	width: 20%;
}

.chk_1 {
	display: none;
}

.chk_1 + label {
	width: 16px;
	height: 16px;
	background-color: #FFF;
	border: 1px solid #9C9C9C;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	margin-right: 36px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap label:last-child .Sellenter_classifyNames {
	margin: 0;
	padding: 0;
}

#checkbox_a4 + label {
	margin-right: 60px;
	margin-left: 13px;
}

.chk_1:checked + label {
	border: 1px solid #E34F63;
	color: #243441;
}

.chk_1:checked + label:after {
	content: '\2714';
	position: absolute;
	top: -18px;
	left: 0px;
	color: #758794;
	width: 100%;
	height: 0;
	text-align: center;
	font-size: 8px;
	vertical-align: text-top;
	background-color: #FFFFFF;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.Sellenter_classifyNames {
	position: absolute;
	display: inline-block;
	height: 23px;
	width: 80px;
	left: 20px;
	top: -2px;
	font-size: 14px;
	font-style: normal;
	color: #808080;
	line-height: 17px;
}

.subInfor {
	width: 100%;
	height: 70px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 14px;
}

.subInfor input {
	width: 48%;
	height: 74%;
	border: none;
	outline: none;
	background-color: #E34F63;
	margin-left: 24%;
	margin-top: 20px;
	font-size: 18px;
	color: #FFFFFF;
	border-radius: 4px;
}

.weui_tabbar_item.weui_bar_item_on .weui_tabbar_label {
	color: #808080;
}

.weui_tabbar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #f7f7fa;
	-webkit-transform: translateZ(0);
}