.am-header-default{margin:0;padding:0;background-color:#E34F63;}.am-header .am-header-left{left:8px;width:20%;}.am-header-default .am-header-nav>a{min-width:18px;}.am-header-title{position:relative;}.font12{font-size:12px;}.am-btn-secondary:active{background-image:none;background-color:#e34f63;}.am-btn-secondary:hover{border:none;}.am-btn:active{background-image:none;-webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,0);box-shadow:inset 0 0px 0px rgba(0,0,0,.0);}#SearchBar{width:100%;height:30px;border:none;outline:none;background:white;border-radius:4px;font-size:14px;color:#C1C1C1;top:10px;padding-left:4px;text-align:center;line-height:30px;}.icon_search{position:absolute;left:31%;top:0%;color:#C1C1C1;}.saoma{font-size:22px;line-height:53px;}.remind{font-size:22px !important;}.turndown{padding-left:6px;}.am-header{height:50px;line-height:46px;overflow:hidden;}.am-header .am-header-title{margin:0 20%;}.am-btn-secondary{color:#fff;background-color:#E34F63;border-color:#E34F63;}.am-header .am-header-right{right:2px;}.infoSum{position:relative;}.xiaoxiL{position:absolute;width:12px;height:12px;border-radius:50%;background-color:#F6D94E;text-align:center;line-height:12px;font-size:12px;color:#fff;right:2px;top:4px;}.slider{display:none;}.row{margin:0;}.classify{background:white;padding-top:8px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%}.classifyone,.classifytwo{height:50%;width:98%;margin:0 auto;display:-webkit-box;display:flex;flex-flow:row;padding-bottom:6px;-webkit-box-sizing:border-box;}.classifyone li,.classifytwo li{width:25%;text-align:center;padding-top:6px;-webkit-box-sizing:border-box;}.classifyone li a,.classifytwo li a{display:block;}.classifyone li a .AllClassify,.classifytwo li a .AllClassify{width:40px;height:40px;background:#ffffff;border-radius:50%;margin:0 auto;color:#FFFDEF;margin-bottom:5px;}.AllClassify img{width:100%;height:100%;max-width:42px;max-height:42px;border-radius:50%;}.classifyone li a .classifyName,.classifytwo li a .classifyName{font-size:12px;color:#080808;}.classifyIcon{text-align:center;font-size:20px;line-height:36px;}.GoodNews{height:35px;width:100%;background:#FFF;display:-webkit-box;display:flex;border-top:1px solid #F2F2F2;flex-flow:row;line-height:35px;line-height:30px;}.GoodNews .xixun_explain{width:27%;height:34px;padding:4px;line-height:24px;color:#E34F63;border-right:1px solid #F2F2F2;-webkit-box-sizing:border-box;box-sizing:border-box;}.GoodNews a{color:#636363;}.xixun{color:#E34F63;font-size:20px;vertical-align:middle;}.tuijian{color:#E34F63;font-size:20px;margin-top:3px;-webkit-box-sizing:border-box;box-sizing:border-box;}div#news{overflow:hidden;height:35px;}.GoodNews span:last-child{width:70%;height:auto;color:black;line-height:30px;text-align:left;padding-left:10px;}.GoodNews span:last-child .GNright_ul{width:100%;}.luckBoy{color:#E34F63 !important;padding:0 3px;-webkit-box-sizing:border-box;box-sizing:border-box;}.prize{color:black;font-style:normal;}.activityOne{height:180px;width:100%;background:#FFF;display:-webkit-box;display:flex;flex-flow:row;margin-top:12px;overflow:hidden;}.activityOne .Berserk{width:45%;height:180px;overflow:hidden;}.activityOne .boonAndTicket{width:55%;height:180px;}.activityOne .Berserk{position:relative;}.activityOne .BerserkA,.activityOne .boonAndTicket .BoonA,.activityOne .boonAndTicket .TicketA{width:100%;height:100%;display:block;border-right:1px solid #F2F2F2;}.activityOne .BerserkA{border-bottom:1px solid #F2F2F2;}.activityOne .boonAndTicket{display:-webkit-box;display:flex;flex-flow:column;}.VIPboon,.UnitaryTicket{width:100%;height:auto;}.berserkContent{width:90%;height:100%;position:absolute;left:5%;top:5%;text-align:center;}.Berserk .berserkContent h1,.Berserk .berserkContent h2{font-size:1.12rem !important;font-weight:bold;color:#F34915 !important;}.Berserk .berserkContent p{margin:0 auto;}.Berserk .berserkContent .Time{width:63%;height:30px;margin:0 auto;text-align:center;flex-flow:row;line-height:25px;color:#000;}.Berserk .berserkContent .Time em{width:16px;height:16px;display:inline-block;background-color:rgba(0,0,0,0.6);line-height:16px;border-radius:2px;color:#ffffff;font-size:12px;}.Berserk .berserkContent .BerserkGoodImg{width:120px;height:70px;margin-top:5px;border-radius:2px;}.Berserk .berserkContent h2{font-size:12px !important;color:#808080 !important;margin-top:5px;font-weight:normal;}.weui_media_box{padding:2px;height:90px;-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #F2F2F2;}.weui_media_title{font-size:16px !important;padding:0;margin:0;line-height:34px;}.weui_media_box .weui_media_desc{font-size:12px !important;}.weui_media_box.weui_media_appmsg .weui_media_hd{margin-left:4px;}.weui_media_box.weui_media_appmsg .weui_media_hd{margin-right:10px !important;width:55px;height:55px;line-height:55px;text-align:center;}.weui_media_bd{padding-left:6px;box-sizing:border-box;}.weui_tabbar{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:fixed;bottom:0;max-width:600px;width:100%;background-color:#f7f7fa;-webkit-transform:translateZ(0);}.weui_cell:before{content:" ";position:absolute;left:0;top:0;width:100%;height:0 !important;border:none !important;}.weui_cells:after{content:" ";position:absolute;left:0;bottom:0;width:100%;}.weui_cell{padding:10px 6px;position:relative;border-bottom:1px solid #f2f2f2;}.weui_cells{margin-top:0.000471em;}.weui_cells:before{border:none;}.weui_cells:after{height:0;border:none;}.weui_cells_access .weui_cell:not(.no_access):active{background-color:#F2F2F2;}.weui_cell_ft{margin-top:43px;color:#E34F63;}.weui_cell_primary p{line-height:23px;}.juli{position:absolute;right:5px;top:14px;color:#E34F63;}.TodaySale,.RecommendSeller{height:40px;width:100%;margin-top:12px;line-height:40px;background:#FFFFFF;border-bottom:1px solid #F2F2F2;}.TodaySale span,.RecommendSeller span{padding-left:3px;color:#E34F63;}.weui_tabbar_item.weui_bar_item_on .weui_tabbar_label{color:#E34F63;}.weui_media_box:before{border-top:none;left:0;}i.iconfont.beforeclick.afterclick.allfootericon{font-size:23px !important;line-height:28px;}form.am-header-title{width:60%;}.am-header-right.am-header-nav{width:13%;}.am-header-default .am-header-nav .am-btn{width:35px;height:35px;}body,sub,sup{position:relative}abbr[title],dfn[title]{border-bottom:1px dotted}hr,legend,td,th{padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,hr,main,menu,nav,section,summary{display:block}hr,iframe,img,legend{border:0}*,:after,:before{webkit-box-sizing:border-box;box-sizing:border-box}.am-header{position:relative;width:100%;height:49px;line-height:49px;padding:0 10px}.am-header h1{margin-top:0;margin-bottom:0}.am-header .am-header-title img{margin-top:12px;height:25px;vertical-align:top}.am-header .am-header-nav{position:absolute;top:0}.am-header .am-header-nav img{height:16px;width:auto;vertical-align:middle}.am-header .am-header-right{right:10px}.am-header-fixed{position:fixed;top:0;left:0;right:0;width:100%;z-index:1010}.am-header-default .am-header-icon{font-size:20px}.am-header-default .am-header-nav>a{display:inline-block;min-width:36px;text-align:center;color:#eee}.am-header-default .am-header-nav>a+a{margin-left:5px}.am-header-default .am-header-nav .am-btn{margin-top:9px;height:31px;padding:0 .5em;line-height:30px;font-size:14px;vertical-align:top}.am-header-default .am-header-nav .am-btn{margin-top:9px;height:31px;padding:0 .5em;line-height:30px;font-size:14px;vertical-align:top;}.am-header-default .am-header-nav>a+a{margin-left:5px;}.am-header-default .am-header-nav>a{min-width:18px;}.am-header-default .am-header-nav>a{display:inline-block;min-width:36px;text-align:center;color:#eee;}a.am-btn-secondary:visited{color:#fff;height:35px;}.infoSum{position:relative;}.am-btn-secondary{color:#fff;background-color:#E34F63;border-color:#E34F63;}.am-btn-secondary{color:#fff;}.am-btn{display:inline-block;margin-bottom:0;padding:.5em 1em;font-size:1.6rem;font-weight:400;line-height:1.2;text-align:center;white-space:nowrap;background-image:none;border:1px solid transparent;border-radius:0;cursor:pointer;outline:0;-webkit-appearance:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-transition:background-color .3s ease-out,border-color .3s ease-out;transition:background-color .3s ease-out,border-color .3s ease-out;}
.list{height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #e7e7e7;
	border-top: solid 1px #e7e7e7;
	width: 100%;
	background-color: #fff;
	margin-top: 13px;

}
.list li{
	float: left;
	width: 33%;
	text-align: center;
}
.list a{
	display: block;
}
.list a:link{
	color: #626262;
	text-decoration: none;
}
.list a:hover{
	border-bottom: solid 3px #e24f61;
	color: #e24f61;
	text-decoration: none;
}
.active{
   	border-bottom: solid 3px #e24f61;
	color: #e24f61;
	text-decoration: none; 
}
.list a:visited{
	color: #626262;
	text-decoration: none;
}
.list_detailed{
	width: 96%;
	margin: 0px auto;
	border-bottom: solid 1px #e7e7e7;
	padding: 10px 0px 5px 0px;
	clear: both;
	display: table;
	content: "";
}
.arrange_name{
	float: left;
}
.content{
	background-color: #fff;
	width: 100%;
	margin: 0px 0px 10px 0px;
}
.arrange_img{
	float: left;
}
.arrange_fots{
	margin: 0px 0px 0px 6px;
	float: right;
}
.arrange_fots div{
	height: 25px;
	line-height: 25px;
}
.greys{
	font-size: 12px;
	color: #7b7b7b;
}
.black{
	font-size: 15px;
    color:#080808;
}
.discount{
	height: 90px;
	line-height: 90px;
}
.number{
	font-size: 42px;
	padding-right: 8px;
}
.folder{
	font-size: 20px;
}
.big_fonts{
	color: #e24f61;
	display: inline-block;
	font-size: 20px;
	text-align: right;
	float: right;
}
.img_arrange{
	width: 120px;
    height: 70px;
}
@media screen and (max-width: 360px){
    
.number{
	font-size: 25px;
}
.black{
	font-size: 13px;
}
}
