body{
	background-color: #f5f5f5;
}
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #e14358;
	background-color: #fff;
	height: 50px;
	border-bottom: solid 3px #e14358;
}
.content{
	border: dashed 1px #e14358;
	width: 90%;
	margin: 18px auto;
	border-radius: 25px;
	height: 500px;
	padding-top: 30px;
	text-align: center;
	font-size: 13px;
	color: #818181;
}
.content span{
	color: #ff0000;
}
footer{
	text-align: center;
	color: #787676;
	font-size: 14px;
	margin: 0px 0px 20px 0px;
}