div.screening {
	width: 100%;
	overflow: hidden;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
}

div.screening>ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: solid 1px #d3d3d3;
	overflow: hidden;
}

div.screening>ul>li {
	float: left;
	width: 33%;
	text-align: center;
	line-height: 3rem;
	border-left: solid 1px #d3d3d3;
}

.whiteCeng {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2;
	display: none;
}

.weui_cells {
	z-index: 1 !important;
}

.weui_cells img {
	border-radius: 2px;
}

.Regional,
.Brand,
.Sort {
	position: relative;
}

.DownTriangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #808080;
	position: absolute;
	top: 22px;
	right: 12px;
}

.classColor {
	color: #E34F63 !important;
}

.transformthis {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.grade-eject,
.Category-eject,
.Sort-eject {
	position: fixed;
	top: -75%;
	width: 100%;
	height: 65%;
	z-index: 3;
	-webkit-transition-duration: 0.4s;
}

.grade-eject>ul,
.Category-eject>ul,
.Sort-eject>ul {
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 300px;
	width: 100%;
}

.grade-eject>ul>li,
.Category-eject>ul>li,
.Sort-eject>ul>li {
	line-height: 2.8rem;
	font-size: 0.12rem;
	padding-left: 1rem;
	border-bottom: solid 1px #eee;
	font-size: 14px !important;
}

.grade-eject>ul.grade-w,
.Category-eject>ul.Category-w {
	background: #FFFFFF;
	position: absolute;
	z-index: 1;
}

.grade-eject>ul.grade-t,
.Category-eject>ul.Category-t {
	background: #DEDEDE;
	position: absolute;
	z-index: 2;
	left: 100%;
}

.grade-eject>ul.grade-t>li,
.Category-eject>ul.Category-t>li {
	border-bottom: solid 1px #F5F5F5;
	width: 100%;
	font-size: 14px !important;
}

.grade-eject>ul.grade-s,
.Category-eject>ul.Category-s {
	background: #fff;
	position: absolute;
	z-index: 3;
	left: 100%;
	list-style-type: none;
}

.grade-eject>ul.grade-s>li,
.Category-eject>ul.Category-s>li {
	border-bottom: solid 1px #eee;
	margin-left: 1rem;
	padding: 0;
	font-size: 14px !important;
}

.grade-w-roll {
	top: 3rem;
}

.grade-w-roll::after {
	position: fixed;
	content: "";
	width: 100%;
	height: auto;
	display: block;
	background: rgba(0, 0, 0, 0.2);
	top: 0;
}

.classify_amount {
	display: inline-block;
	align-items: center;
}

.Sort-Sort {
	background: #fff;
	position: absolute;
	z-index: 3;
	left: 0;
	list-style-type: none;
}

.Sort-Sort>li {
	border-bottom: solid 1px #eee;
	padding: 0;
}

.Sort-height {
	height: 343px;
}

.demo-content {
	padding-top: 3rem;
}

.list_title {
	display: -webkit-flex;
	flex-flow: row;
	background-color: #FFF;
	height: 40px;
	margin-top: 5px;
}

.list_title h1 {
	width: 80%;
	line-height: 40px;
	color: #e34f63;
	padding-left: 4px;
	-webkit-box-sizing: border-box;
}

.list_title p {
	width: 20%;
	font-size: 12px;
	text-align: right;
	padding-right: 4px;
	line-height: 40px;
	box-sizing: border-box;
}

.buyStyle {
	width: 75px;
	height: 30px;
	display: inline-block;
	text-align: center;
	background-color: #E34F63;
	margin-top: -10px !important;
	color: #FFFFFF;
	font-size: 14px;
	margin-left: 4px;
	border-radius: 2px;
	float: right;
	line-height: 30px;
}

.weui_cells_checkbox .weui_cell_hd {
	padding-right: 0.2em;
}

.weui_cells {
	height: 90px;
	margin-top: 0.000471em;
	z-index: 1 !important;
}

.weui_cells:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
}

.weui_cell:before {
	border-top: none;
}

.weui_cells:after {
	border-bottom: none;
}

.weui_cell {
	height: 90px;
	padding: 2px 4px;
	border-bottom: 1px solid #f2f2f2;
}

.weui_cell_ft {
	margin-top: 40px;
	font-size: 12px;
}

.weui_cell_primary p {
	line-height: 23px;
}

.droplist {
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	background-color: #FFFFFF;
	margin-bottom: 5px;
}

.turndown {
	font-size: 20px;
	color: #808080;
}

.whiteCeng {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2;
	display: none;
}

.kmDistance {
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	position: absolute;
	left: 2px;
	bottom: 18px;
	display: none
}