div.screening {
	width: 100%;
	overflow: hidden;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
}

div.screening>ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: solid 1px #d3d3d3;
	overflow: hidden;
}

div.screening>ul>li {
	float: left;
	width: 33%;
	text-align: center;
	line-height: 3rem;
	border-left: solid 1px #d3d3d3;
	background: url("../images/on_1.png") no-repeat 85% center;
}

.Regional,
.Brand,
.Sort {
	position: relative;
}

.DownTriangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #808080;
	position: absolute;
	top: 22px;
	right: 12px;
}

.classColor {
	color: #E34F63 !important;
}

.transformthis {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.grade-eject,
.Category-eject,
.Sort-eject {
	position: fixed;
	top: -75%;
	width: 100%;
	height: 65%;
	z-index: 3;
	-webkit-transition-duration: 0.4s;
}

.grade-eject>ul,
.Category-eject>ul,
.Sort-eject>ul {
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 300px;
	width: 100%;
	-webkit-transition-duration: 0.4s;
}

.grade-eject>ul>li,
.Category-eject>ul>li,
.Sort-eject>ul>li {
	line-height: 2.8rem;
	font-size: 0.12rem;
	padding-left: 1rem;
	border-bottom: solid 1px #eee;
	font-size: 14px !important;
}

.grade-eject>ul.grade-w,
.Category-eject>ul.Category-w {
	background: #FFFFFF;
	position: absolute;
	z-index: 1;
}

.grade-eject>ul.grade-t,
.Category-eject>ul.Category-t {
	background: #eee;
	position: absolute;
	z-index: 2;
	left: 100%;
	font-size: 14px !important;
}

.grade-eject>ul.grade-t>li,
.Category-eject>ul.Category-t>li {
	border-bottom: solid 1px #F5F5F5;
	width: 100%;
	font-size: 14px !important;
}

.grade-eject>ul.grade-s,
.Category-eject>ul.Category-s {
	background: #fff;
	position: absolute;
	z-index: 3;
	left: 100%;
	list-style-type: none;
}

.grade-eject>ul.grade-s>li,
.Category-eject>ul.Category-s>li {
	border-bottom: solid 1px #eee;
	margin-left: 1rem;
	padding: 0;
	font-size: 14px !important;
}

.grade-w-roll {
	top: 3rem;
}

.grade-w-roll::after {
	position: fixed;
	content: "";
	width: 100%;
	height: auto;
	display: block;
	background: rgba(0, 0, 0, 0.2);
	top: 0;
}

.classify_amount {
	display: inline-block;
	align-items: center;
}

.Sort-Sort {
	background: #fff;
	position: absolute;
	z-index: 3;
	left: 0;
	list-style-type: none;
}

.Sort-Sort>li {
	border-bottom: solid 1px #eee;
	padding: 0;
}

.Sort-height {
	height: 343px;
}

.demo-content {
	padding-top: 3rem;
}

.classify_cell {
	margin-top: 49px;
}

.weui_cells_checkbox .weui_cell_hd {
	padding-right: 0.2em;
}

.weui_cells {
	z-index: 1 !important;
}

.weui_cells img {
	border-radius: 2px;
}

.weui_cells:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
}

.weui_cell:before {
	border-top: none;
}

.weui_cells:after {
	border-bottom: none;
}

.weui_cell {
	padding: 8px 4px;
	border-bottom: 1px solid #f2f2f2;
}

.weui_cell_ft {
	margin-top: 40px;
	font-size: 12px;
}

.weui_cell_primary p {
	line-height: 23px;
	margin-top: 2px;
}

.font-class {
	display: inline;
	padding: 1px 2px;
	font-size: 12px;
	background-color: #E33551;
	font-style: normal;
	border-radius: 2px;
	margin-left: 4px;
	color: #FFF;
}

.whiteCeng {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2;
	display: none;
}

.kmDistance {
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	position: absolute;
	left: 2px;
	bottom: 18px;
	display: none
}

.buyStyle {
	font-size: 14px;
	background-color: #E34F63;
	padding: 6px 10px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 2px;
	float: right;
	margin-top: -18px;
}
/*这个是使用记录的css*/
header{
	height: 50px;
	background-color: #FFFFFF;
}
header p{
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #808080;
}
header p:first-child{
	width:48%;
	border-right: 1px solid #F2F2F2;
}
.Inforcurrent{
	color: #E34F63;
	border-bottom: 2px solid #E34F63;
}
.useInfo,.AppriseInfo{
	margin-top: 5px;
	height: auto;
	background-color: #FFFFFF;
}
.AppriseInfo{
	display: none;
}
.useInfo .useDetaileInfo{
	height: 40px;
	border-bottom: 1px dashed #F2F2F2;
	line-height: 40px;
	padding-left: 4px;
	box-sizing: border-box;
	clear: left;
	/*display: flex;
	flex-flow:row;*/
}
.useDetaileInfo h1,
.useDetaileInfo h2,
.useDetaileInfo p,
.useDetaileInfo span,
.useDetaileInfo em{
	width:25%;
	display: inline-block;
	float: left;
}

.useDetaileInfo h1{
	width:18%;
}
.useDetaileInfo h2{
	width:26%;
}
.useDetaileInfo em{
	width:12%;
	font-size: 12px;
	color: #e34f63;
	text-align: right;
	float: left;
}
.useDetaileInfo span{
	width:16%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
}
.useDetaileInfo p{
text-align: center;
float: right;
}

.AppriseInfo p{
	height: 40px;
	display: flex;
	flex-flow: row;
	line-height: 40px;
	padding:0 4px;
	box-sizing: border-box;
}
.AppriseInfo p span,
.AppriseInfo p em{
	display: inline-block;
	width: 64%;
	color: #7CC2FE;
}
.AppriseInfo p em{
	width: 36%;
	text-align: right;
	color: #808080;
	
}
.User_AppraiseContent{
	height: auto;
	width: 100%;
	padding:6px 4px; 
	box-sizing: border-box;
	word-wrap: break-word;
	color: #080808;
	border-bottom: 1px dashed #f2f2f2;
}

