body{
	background-color: #ebebeb;
	color: #5b5b5b;
}
.navbar{
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #e7e7e7;
	width: 100%;
	background-color: #fff;
}
.continers{
	width: 92%;
	margin: 0px auto;
}
.business_white{
	background-color: #fff;
	width: 100%;
}
.defaults link{
	border-bottom: solid 2px #e24f61;	
}
.navbar li{
	float: left;
	width: 33%;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
}
.active{
	border-bottom: solid 2px #e24f61;
}
.navbar a{
	display: block;
	color: #626262;
}
.commodity_name{
	font-size: 16px;
	color: #e24f61;
	border-bottom: solid 1px #d1d1d1;
	padding: 10px 0px 10px 15px;
}
.business_list{
	border: 1px #d1d1d1 solid;
	border-radius: 10px;
	margin: 25px 0px 20px 0px;
}
.business_list ul{
	width: 100%;
}
.business_list li{
	float: left;
	width: 33%;
	text-align: center;
	font-size: 13px;
	padding: 8px 0px;
}
.business_list li span{
	display: block;
	font-size: 12px;
	margin-top:2px;
}
.business_list_center{
	border-left: solid 1px #d1d1d1;
	border-right: solid 1px #d1d1d1;
}
.address_ipone{
	margin-top: 7px;
}
.address_ipone span{
	display: block;
	font-size: 15px;
	padding: 0px 0px 3px 8px;
}
.address_ipone input{
	width: 100%;
	height: 35px;
	border-radius: 6px;
	border: 1px solid #c1bdbd;
}
.business_location{
	padding: 30px 0px;
	border-bottom: dashed 1px #6c6a6a;
}
.business_location button{
	width: 100%;
	background-color: #e24f61;
	border: 0px;
	color: #fff;
	padding: 9px 0px;
	border-radius: 4px;
	font-size: 15px;
}
.business_submit{
	text-align: center;
	margin-top: 40px;
}
.business_submit button{
	width: 60%;
	background-color: #e24f61;
	border: 0px;
	color: #fff;
	border-radius: 3px;
	padding: 10px 0px;
	font-size: 18px;
}