header {
	width: 100%;
	height: 160px;
	background-color: #E34F63;
	display: -webkit-box;
	display: flex;
	flex-flow: row;
	position: relative;
}

header .MyImg {
	width: 26%;
	height: 100%;
}

.MyImg img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #FFFFFF;
	margin-top: 16px;
	margin-left: 12px;
}

header .MyName {
	width: 60%;
	height: 100%;
	color: #FFFFFF;
}

header .MyName h1 {
	margin-top: 10px;
	line-height: 50px;
	font-size: 16px;
}

header .GoOn {
	width: 14%;
	height: 100%;
}

header .GoOn a {
	display: inline-block;
	width: 40px;
	height: 50px;
	text-align: center;
	margin-top: 85%;
}

.Go {
	color: #FFFFFF;
	font-size: 1.8rem;
}

.Menu {
	width: 100%;
	height: 60px;
	background-color: #FFFFFF;
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid #DEDEDE;
}

.Menu ul li {
	float: left;
	width: 30%;
	padding: 0 4px;
	height: 94%;
	margin-top: 3%;
	border-right: 1px solid #DEDEDE;
	margin-top: 10px;
}

.Menu ul li:last-child {
	border: none;
}

.Menu ul li p,
.Menu ul li h1 {
	text-align: center;
	color: #666;
}

.Menu ul li h1 {
	font-size: 16px;
	font-weight: bold;
}

.weui_cell_hd {
	width: 16px !important;
	height: 22px !important;
	padding: 2px 6px;
	border-radius: 2px;
	background-color: #FF6D3E;
	background-image: none !important;
}

.VIPicon {
	font-size: 17px !important;
}

.xufei {
	color: #E34F63;
}

.weui_cells_access .weui_cell_ft:after {
	content: " ";
	display: inline-block;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 8px;
	width: 8px;
	border-width: 2px 2px 0 0;
	border-color: #E34F63;
	border-style: solid;
	position: relative;
	top: -2px;
	top: -1px;
	margin-left: .3em;
	display: none;
}

.weui_cell:before {
	border-top: none;
}

.weui_cell:after {
	border-bottom: none;
}

.weui_cell {
	border-bottom: 1px solid #f2f2f2;
}

.beforeclick {
	color: #808080;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
}

.afterclick {
	color: #E34F63 !important;
}

.weui_tabbar {
	background-color: #FFFFFF;
	max-width: 600px;
	width: 100%;
}

.weui_tabbar_item.weui_bar_item_on .weui_tabbar_label {
	color: #808080;
}

.weui_tabbar {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
}

.weui_tabbar_item {
	padding: 2px 0 0 0;
}

.weui_tabbar_icon + .weui_tabbar_label {
	margin-top: 5px;
}

.Sign {
	width: 200px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	color: #FFFFFF;
}