.header_bar{
	padding-top: 10px;
}
.province{
	font-size: 23px;
}
.urban{
	font-size: 17px;
}
.width{
	width: 94%;
	margin: 0px auto;
}
.position_city li{
	float: left;
	width: 20%;
	text-align: center;
	font-size: 14px;
	height: 35px;
}
.no_agentid{
	color:#dadada;
}
.has_agentid{
	color: #7b7b7b;
}
.position_city{
	margin-top: 20px;
}