.list{height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #e7e7e7;
	border-top: solid 1px #e7e7e7;
	width: 100%;
	background-color: #fff;
}
.list li{
	float: left;
	width: 33%;
	text-align: center;
}
.list a{
	display: block;
}
.list a:link{
	color: #626262;
	text-decoration: none;
}
.list a:hover{
	border-bottom: solid 3px #e24f61;
	color: #e24f61;
	text-decoration: none;
}
.active{
   	border-bottom: solid 3px #e24f61;
	color: #e24f61;
	text-decoration: none; 
}
.list a:visited{
	color: #626262;
	text-decoration: none;
}
.list_detailed{
	width: 96%;
	margin: 0px auto;
	border-bottom: solid 1px #e7e7e7;
	padding: 10px 0px 5px 0px;
	clear: both;
	display: table;
	content: "";
}
.arrange_name{
	float: left;
}
.content{
	background-color: #fff;
	width: 100%;
	margin: 0px 0px 10px 0px;
}
.arrange_img{
	float: left;
}
.arrange_fots{
	margin: 0px 0px 0px 6px;
	float: right;
}
.arrange_fots div{
	height: 25px;
	line-height: 25px;
}
.greys{
	font-size: 12px;
	color: #7b7b7b;
}
.black{
	font-size: 15px;
    color:#080808;
}
.discount{
	height: 90px;
	line-height: 90px;
}
.number{
	font-size: 42px;
	padding-right: 8px;
}
.folder{
	font-size: 20px;
}
.big_fonts{
	color: #e24f61;
	display: inline-block;
	font-size: 20px;
	text-align: right;
	float: right;
}
.img_arrange{
	width: 120px;
    height: 70px;
}
@media screen and (max-width: 360px){
    
.number{
	font-size: 25px;
}
.black{
	font-size: 13px;
}

}