
.top_Bar{
	width: 100%;
}
.discount_explanation{
	background: url(../images/bootom_Bar.jpg);
	margin-top: -5px;
	padding-top: 20px;
}
.discount_fonts span{
	display: block;
	font-size: 17px;
	color: #4c4c4c;
	padding: 15px 0px 6px 22px;
}
.discount_fonts{
	width: 85%;
	margin: 0px auto;
	background-color:rgba(255,255,255,0.5);
	padding: 0px 10px 10px 0px;
	border-radius: 10px;
	box-sizing: border-box;
}
.discount_fonts p{
	line-height: 32px;
	font-size: 15px;
	margin-left:25px;
}
.recrive_bottom_bottom{
	width: 100;
	text-align: center;
	padding: 40px 0px;
}
.recrive_bottom_bottom button{
	background-color: #ff4548;
	height:50px;
	border-top: none;
	border-left:none;
	border-right: none;
	border-radius: 10px;
	color: #fff55a;
	font-size: 22px;
	padding:0px 15px;
}