header {
	height:50px;
	background-color:#FFFFFF;
	display:-webkit-box;
	display:flex;
	flex-flow:row;
}
header p {
	width:50%;
	height:100%;
	text-align:center;
	line-height:60px;
	font-size:16px;
	color:#808080;
}
header p:first-child {
	border-right:1px solid #F2F2F2;
}
.Inforcurrent {
	color:#E34F63;
	border-bottom:2px solid #E34F63;
}
.systemInfor,.RecommendInfors {
	height:80px;
	margin-top:6px;
	display:none;
}
.systemInfor a,.RecommendInfors a {
	display:block;
	width:100%;
	height:100%;
	background:#FFF;
}
.systemInfor ul li {
	float:left;
	height:80px;
}
.systemInfor ul li:first-child {
	width:20%;
	padding-left:1%;
	padding-right:2%;
	margin-top:1%;
	webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.systemInfor ul li:first-child span {
	display:inline-block;
	width:64px;
	height:58px;
	background-color:#FF6D3E;
	border-radius:2px;
	text-align:center;
	line-height:58px;
}
.personal {
	font-size:2.4rem;
}
.systemInfor ul li:nth-child(2) {
	width:70%;
	padding-left:6px;
	webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.systemInfor ul li:nth-child(2) h1,.systemInfor ul li:nth-child(2) p {
	height:30px;
	line-height:30px;
	margin-top:7px;
	font-size:16px;
	color:#636363;
}
.systemInfor ul li:nth-child(2) p {
	margin-top:0;
	font-size:14px;
	color:#808080;
}
.systemInfor ul li:last-child {
	width:10%;
	height:80px;
	line-height:80px;
	text-align:center;
}
.turnright {
	font-size:22px;
	color:#808080;
}
.RecommendInfors {
	display:none;
}
.noInformations {
	color:#C7C7C7;
	font-size:5.4rem;
}