body{
	background-color: #fff;
}
.level{
	text-align: center;
}
.botder_white{
	border-right: solid 1px #fff;
	border-left: solid 1px #fff;	
}
.width{
	width: 92%;
    margin: 0px auto;
}
.color_white{
	color: #fff;
}
.white{
	background-color: #fff;
}
.gray{
	background-color: #f8f8f8;
}
.header{
	text-align: center;
	font-size: 25px;
	background-color: #e24f61;
	padding: 5px 0px;
}
.data{
	text-align: center;
	color: #949494;
    height: 42px;
    line-height: 42px;
	border-bottom: dashed 1px #949494;
	font-size: 16px;
}
.lista{
	width: 85%;
	margin: 0px auto;
	padding: 30px 0px 0px 0px;
}
.lista li{
	height: 50px;
}
.lista li span{
    background-color: #e24f61;
    display: inline-block;
    width: 30%;
    padding: 6px 0px ;
    text-align: center;
    font-size: 16px;
}
.lista li input{
	padding: 8px 0px 6px 0px;
	width: 68%;
	background-color: #eee;
	border: 0px;
	text-align: center;
}
.buttons{
	text-align: center;
	padding: 30px 0px;
}
.buttons button{
	width: 33%;
	border-radius: 5px;
	border: 0px;
	background-color: #e24f61;
	color: #fff;
	font-size: 19px;
	padding: 5px 0px;
}
.sub_nav{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sub_nav ul li{
	float: left;
	width: 33%;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.about{
	border-right: solid 1px #f5f5f5;
	border-left: solid 1px #f5f5f5;
}
.footer{
	color: #78797e;
    font-size: 12px;
	margin: 0px 0px 40px 0px;	
}
 .sub_nav{
 	position: fixed;
    bottom: 0;
    width: 100%;

}
.sub_nav ul li{
	float: left;
    width: 33%;
    text-align: center;
    height: 40px;
    line-height: 40px
}
@media screen and (max-width: 350px){
	.list li span{
		font-size: 14px;
	}
	.header{
		font-size: 20px;
	}
	.buttons button{
		font-size: 16px;
	}
}