header {
	width: 100%;
	height: auto;
	max-width: 600px;
	background: #fff;
}

.ticketTitle {
	width: 100%;
	height: 30px;
	padding-left: 4px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	position: absolute;
	/*bottom: 0;*/
	line-height: 30px;
}

.title_Detaile {
	height: 70px;
	padding: 0 4px;
	box-sizing: border-box;
	border-bottom: 1px solid #F2F2F2;
	display: -webkit-box;
	display: flex;
	flex-flow: row;
	background-color: #FFFFFF;
	overflow: hidden;
}

.title_Detaile_left,
.title_Detaile_right {
	width: 76%;
	height: 80px;
}

.title_Detaile_left h1 {
	font-size: 16px;
	color: #636363;
	height: 40px;
	line-height: 40px;
}

.title_Detaile_left p {
	color: #808080;
	height: 30px;
	line-height: 30px;
}

.title_Detaile_right {
	width: 24%;
	text-align: right;
}

.title_Detaile_right .shoucang {
	color: #E34F63;
	font-size: 30px;
	line-height: 46px;
	margin-right: 10px;
}

.Address_Seller {
	height: 40px;
	padding: 0 4px;
	box-sizing: border-box;
	/*display: -webkit-flex;
	display: flex;
	flex-flow: row;*/
	line-height: 40px;
	background-color: #FFFFFF;
	clear: both;
}

.Address_Seller .phone_a {
	width: 10%;
	display: inline-block;
	text-align: center;
	position: relative;
	float: right;
	margin-right: 4px;
}

.Address_Seller .dingwei,
.Address_Seller .dianhua {
	color: #808080;
	font-size: 16px;
	float: left;
	display: inline-block;
}

.Address_Seller .dianhua {
	color: #E34F63;
	font-size: 25px;
	text-align: center;
	line-height: 25px;
	position: absolute;
	right: 0px;
	top: 7px;
	
}

.Address_Seller p {
	width: 80%;
	color: #808080;
	display: inline-block;
	border-right: 1px solid #F2F2F2;
	margin: 4px 0;
	line-height: 34px;
	float: left;
}

.storeClassify {
	background-color: #FFFFFF;
	height: 40px;
	margin-top: 10px;
	width: 100%;
}

.storeClassify li {
	float: left;
	width: 24.7%;
	height: 40px;
	border-right: 1px solid #F2F2F2;
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #F2F2F2;
}

.storeClassify li:last-child {
	border: none;
	border-bottom: 1px solid #F2F2F2;
}

.storeClassify li {
	color: #636363;
}

.thiscurrent {
	border-bottom: 1px solid #E34F63 !important;
	color: #E34F63 !important;
}

.five_discount {
	display: block;
}

.five_discount .weui_cells_access .weui_cell_ft:after {
	display: none;
}

.five_discount .weui_cell_ft {
	font-size: 12px;
}

.QG_detail,
.YouHui,
.DuiHuan {
	display: none;
}

.weui_cell {
	padding: 10px 6px;
}

.weui_cells {
	margin-top: 0.146471em;
}

.weui_cells_access .weui_cell:not(.no_access):active {
	background-color: #F2F2F2;
}

.weui_cell_ft {
	margin-top: 45px;
}

.weui_cell_primary p {
	line-height: 23px;
}

.QG_detail .weui_cell_ft {
	margin-top: 0;
}

.QG_detail .weui_cell_ft:after {
	display: inline-block;
}

.DuiHuan .weui_cell_ft:after {
	display: inline-block;
}

.DuiHuan .weui_cell_ft {
	margin-top: 0;
}

.DiscountDetail {
	width: 100%;
	height: auto;
	margin-top: 6px;
	background-color: #FFFFFF
}

.ticketDetail {
	width: 100%;
	height: auto;
	margin-top: 5px;
	padding-left: 4px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #F2F2F2;
}

.ticketDetail_Height {
	height: auto;
}

.ticketDetail img {
	overflow: hidden;
}

.footer_ul {
	height: 50px;
	border-top: 1px solid #F2F2F2;
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 600px;
}

.footer_ul li {
	width: 24.7%;
	line-height: 50px;
	float: left;
	border-right: 1px solid #F2F2F2;
	text-align: center;
}

.footer_ul li:last-child {
	border: none;
}

.footer_ul li a {
	color: #808080;
}

.weui_cell:before {
	border-top: none;
}

.weui_cell {
	border-bottom: 1px solid #f2f2f2;
}