body{
	background-color: #f5f5f5;
	font-family:"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.figure{
	font-size: 40px;
}
.figure_fonts{
	display: block;
	color: #78797e;
}
.fruition_grizzlys{
	color: #78797e;
}
.red{
	color:#e34f63;
	font-size: 16px;
}
.orange{
	display: block;
} 
.white{
	background-color: #fff;
}
.width{
	width: 92%;
	margin: 0px auto;
}
.heigh{
	height: 35px;
	line-height: 35px;
}
.banner{
	position: relative;
}
.banner img{
	width: 100%;
}
.banner_bottom{
	background-color:rgba(0,0,0,0.5);
	height: 36px;
	position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 36px;
    padding-left: 4%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}	
.navbar{
	width: 100%;
	margin: 0px;
	border-bottom: 1px #e2e2e2 solid;
}
.navbar li{
	width: 33%;
	float: left;
	text-align: center;
    margin: 7px 0px 0px 0px;
	font-size: 13px;
}
.navbar li span{
	text-align: center;
	display: block;
	font-size: 12px;
}
.nav_Center{
	border-left: 1px #e2e2e2 solid;
	border-right: 1px #e2e2e2 solid;
	height: 32px;
}
.fonts{
	color: #78797e;
}
.date{
	margin-bottom: 3px;
}
.date_left{
	float: left;
}
.date_left div{
	font-size: 13px;
}
.Today{
	font-size: 18px;
	color: #e34f63;
}
.month{
	font-size: 60px;
	color: #e34f63;
}
.today_bottom_fonts{
	font-size: 13px;
	margin-top: -5px;
	padding-bottom:10px;
}
.commodity{
	font-size: 18px;
}
.fruition{
	text-align: center;
   padding: 17px 0px 0px;
   float: right;
}
.fruition button{
	background-color: #e34f63;
	border:0px;
	color: #fff;
	border-radius: 4px;
	padding: 5px 10px;
}
.fruition span{
	text-align: center;
    margin: 6px 0px 0px 0px;
    font-size: 13px;
}
.tax{
	color: #e34f63;
	padding: 10px 0px;
}
.address_content{
	height: 72px;
	line-height: 32px;
}
.address_content span{
	display: block;
}
.time_left{
	float: left;
	width: 87%;
}
.times{
	font-size: 14px;
	margin-top: 2px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.time_address_icon{
	padding-right: 25px;
}
.address_5{
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.telephone{
	width: 10%;
	border-left: solid 1px #e2e2e2;
    margin: 10px 0px;
    float: right;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.telephone_icon{
	color: #e34f63;
	font-size: 20px;
}
.preferential{
	border-top: solid 1px #e2e2e2;
	border-bottom: solid 1px #e2e2e2;
	margin: 3px 0px 6px 0px;
}
.icon_preferential{
	color: #e34f63;
	font-size: 30px;
	padding: 4px 10px 0px 0px;
}
.preferential_content{
	display: table;
	content: "";
	clear: both;
	color: #e34f63;
	padding-bottom:10px;
}
.preferential_left{
	height: 46px;
	font-size: 16px;
	float: left;
	line-height: 47px;
}
.preferential_left span{
	display: block;
	float: right;
}
.preferential_right{
    box-sizing: border-box;
    padding: 8px 0px;
    float: right;
 }
.preferential_right button{
    background-color: #e34f63;
    border: 0px;
    color: #fff;
    border-radius: 4px;
    padding: 6px 14px;
    font-size: 12px;
}
.detailed{
	margin: 10px 0px 0px 0px;
}
.act_top{
	border-bottom: solid 1px #f5f5f5;
}
.introduction{
	font-size: 16px;
	color: #78797e;
}
.act{
	margin: 10px 0px 0px 0px;
}
.act_img{
	padding: 12px 0px;
	overflow:hidden;
}
.act_img img{
	width: 100%;
}
.literal{
	padding: 0px 0px 20px 0px;
}
.literal ol{
	padding-top: 10px;
	color: #78797e;
	font-size: 13px;
}
.literal li{
	line-height: 30px;
}
.bottom_bod{
	border
}
footer{
	text-align: center;
	color: #78797e;
	font-size:14px;
	height: 40px;
	line-height: 40px;
    margin:0px 0px 40px 0px;
}
.sub_nav{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sub_nav ul li{
	float: left;
	width: 33%;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.about{
	border-right: solid 1px #f5f5f5;
	border-left: solid 1px #f5f5f5;
}
@media screen and (max-width: 374px){
	.fruition{
		width: 30%;
	}
}