@charset "utf-8";
/* CSS Document */
html{ height:100%;}
body{ min-height:100%; background: #f9f9f9;}
.lead_box{ border:2px dashed #dddddd;  background-color:#ffffff;  border-radius:10px; margin:20px; padding:10px;}
.lead_box h6{color:#428bca;text-align:center;font-size:18px; font-weight:bold; line-height:40px; border-bottom:1px dashed #428bca; margin: 0;}
.lead_content{ color:#333333; font-size:16px; padding:15px;}
.btn{margin:20px auto;}
.item-label{ color: #428bca; font-weight: normal; font-size: 100%;}
.check-tips{ color:#737373; font-size: 12px; padding-left: 5px;}
.help-block{font-size: 12px;}
.inpbox{background: #e6e6e6; display: block;  font-weight: normal; line-height: 250%; color: #737373; padding-left: 10px; border-radius: 3px;}
.success_info{color:#61952a;text-align:center;font-size:18px; font-weight:bold; line-height:40px; margin: 0;}