@media (max-width: 991px){
.login-form {
width:100% !important;
}}
@media (min-width: 1500px){
.hidden-blg{
	display:none !important;
	}
}
body{font-family: "Microsoft YaHei";}
.login-width{ width:400px;}
.login-form{ width:100%;}

