{php $config = $this->module['config'];}
{if $setting['teacherlist']==1}
<style type="text/css">
.nav-top_bar .nav-top_menu li{width:20%;}
</style>
{/if}

{if $_GPC['do']!='follow'}
<footer>
    <a href="{php echo $this->createMobileUrl('index');}">{$setting['copyright']}</a>
</footer>
{/if}

{if $setting['footnav']==1 || in_array($_GPC['do'], array('lesson'))}
<!-- Start 悬浮菜单 -->
<ul class="back-top">
    <li class="g-features">
        <a class="link" href="javascript:;" onclick="$(this).next('ul:visible').slideUp('fast');$(this).next('ul:hidden').slideDown('fast');">
            <i class="ico ico-features"></i>
        </a>
        <ul style="display: none;" class="down arrow-b">
            <li><a href="{php echo $this->createMobileUrl('index');}">首 页</a></li>
            <li><a href="{php echo $this->createMobileUrl('search');}">搜 索</a></li>
			{if $setting['teacherlist']==1}
			<li><a href="{php echo $this->createMobileUrl('teacherlist');}">讲师列表</a></li>
			{/if}
            <li><a href="{php echo $this->createMobileUrl('self');}">个人中心</a></li>
			<li><a href="javascript:history.go(-1);">返回上页</a></li>
        </ul>
        <span class="arrow-down"></span>
    </li>
    <li id="ico-top">
        <a class="link" href="#"><i class="ico ico-top">返回顶部</i></a>
    </li>
</ul>

<script type="text/javascript">
    if ($(window).scrollTop() <= 300) {
        $('#ico-top').hide();
    }
    $(window).scroll(function () {
        if ($(window).scrollTop() <= 300) {
            $('#ico-top').hide();
        } else {
            $('#ico-top').show();
        }
        if ($('.arrow-b').css('display') == 'block') {
            $('.arrow-b').hide();
        }
    })
</script>
<!-- End 悬浮菜单 -->

{else}
	{if !in_array($_GPC['do'], array('lesson'))}
	<!-- Start 底部菜单 -->
	<div class="nav-top_bar" style="-webkit-transform:translate3d(0,0,0)">
		<nav>
			<ul class="nav-top_menu">
				<li><a {if $_GPC['do']=='index' && empty($config['index_link'])}class="active"{/if} href="{php echo $config['index_link']?$config['index_link']:$this->createMobileUrl('index');}"><img src="{php echo $config['index_icon']?$_W['attachurl'].$config['index_icon']:'../addons/fy_lesson/template/mobile/images/nav-home.png?v=1.3.1';}"><label>{php echo $config['index_name']?$config['index_name']:'首 页';}</label></a></li>
				
				<li><a {if $_GPC['do']=='search' && empty($config['search_link'])}class="active"{/if}  href="{php echo $config['search_link']?$config['search_link']:$this->createMobileUrl('search');}"><img src="{php echo $config['search_icon']?$_W['attachurl'].$config['search_icon']:'../addons/fy_lesson/template/mobile/images/nav-search.png?v=1.3.1';}"><label>{php echo $config['search_name']?$config['search_name']:'搜 索';}</label></a></li>

				{if $setting['teacherlist']==1}
				<li><a {if $_GPC['do']=='teacherlist' && empty($config['teach_link'])}class="active"{/if}  href="{php echo $config['teacher_link']?$config['teacher_link']:$this->createMobileUrl('teacherlist');}"><img src="{php echo $config['teacher_icon']?$_W['attachurl'].$config['teacher_icon']:'../addons/fy_lesson/template/mobile/images/nav-teacherlist.png?v=1.3.1';}"><label>{php echo $config['teacher_name']?$config['teacher_name']:'讲师列表';}</label></a></li>
				{/if}

				<li><a {if $_GPC['do']=='mylesson' && empty($config['lesson_link'])}class="active"{/if}  href="{php echo $config['lesson_link']?$config['lesson_link']:$this->createMobileUrl('mylesson');}"><img src="{php echo $config['lesson_icon']?$_W['attachurl'].$config['lesson_icon']:'../addons/fy_lesson/template/mobile/images/nav-mylesson.png?v=1.3.1';}"><label>{php echo $config['lesson_name']?$config['lesson_name']:'我的课程';}</label></a></li>
				
				<li><a {if $_GPC['do']=='self' && empty($config['self_link'])}class="active"{/if}  href="{php echo $config['self_link']?$config['self_link']:$this->createMobileUrl('self');}"><img src="{php echo $config['self_icon']?$_W['attachurl'].$config['self_icon']:'../addons/fy_lesson/template/mobile/images/nav-self.png?v=1.3.1';}"><label>{php echo $config['self_name']?$config['self_name']:'个人中心';}</label></a>
			</ul>
		</nav>
	</div>
	<!-- End 底部菜单 -->
	{/if}
{/if}

<!-- End footer -->
<script type="text/javascript">
var search = function() {
    var keywords = $.trim($("#head_searchKeywords").val());
    if (keywords == '') {
        searchUrl = '{php echo $this->createMobileUrl("search");}';
    } else {
        searchUrl = '{php echo $this->createMobileUrl("search");}&keyword=' + encodeURIComponent(keywords);
    }
    document.location.href = searchUrl;
    return false;
};
$("#head_searchKeywords").keydown(function(event) {
	if (event.keyCode == 13) {
		search();
	}
});

</script>
<div style="height:.5rem;"></div>
</body>
</html>