<!-- 
 * 分销中心
 * @www.efwww.com 易福源码网
-->
{if $setting['isfollow']==1 && !empty($fansinfo) && $fansinfo['follow']==0}
<div class="follow_topbar"><div class="headimg"><img src="{$_W['attachurl']}{$setting['qrcode']}"></div><div class="info"><div class="i">{$_W['account']['name']}</div><div class="i">关注公众号，享海量课程</div></div><div class="sub" onclick="location.href='{php echo $this->createMobileUrl('follow');}'">立即关注</div></div>
<div style='height:44px;'>&nbsp;</div>
{/if}
{php include $this->template('_header');}
<style type="text/css">
    body {margin:0px; background:#eee; font-family:'微软雅黑'; }
    .topbar {height:40px; padding:10px; background:#fff;}
    .topbar .user_face {height:40px; width:40px; background:#ccc; float:left;}
    .topbar .user_face img {height:100%; width:100%;}
    .topbar .user_info {height:40px; width:80%; float:left; margin-left:12px;}
    .topbar .user_info .user_name {height:24px; width:100%; font-size:16px; line-height:24px; color:#666;overflow: hidden;}
    .topbar .user_info .user_name span { font-size:14px; color:#11ABE6;}
    .topbar .user_info .user_date {height:14px; width:100%; font-size:14px; line-height:14px; color:#999;}
    .commission-top .top_1 {height:114px; width:100%;}
    .commission-top .top_1 .text {height:114px; width:auto; float:left; color:#fff; line-height:50px; font-size:14px; color:#fff;}
	.commission-top .top_1 .ico {height: 40px;width: 30px;background: url("{MODULE_URL}/template/mobile/images/gold_ico2.png") 0px 10px no-repeat;margin-bottom: 74px;float: right;}
    .commission-top .top_2 {height:66px; width:100%; font-size:40px; line-height:66px; color:#fff;}
    .commission-top .top_2 span {height:32px; color:#fff; width:auto; border:1px solid #fff; font-size:14px; line-height:32px; margin-top:17px; padding:0px 15px;  float:right; border-radius:5px;}
    .commission-top .top_2 .disabled { color:#999;border:1px solid #999;}
    .menu {overflow:hidden; background:#fff;}
    .menu .nav { width:33%; float:left;padding-top:10px;padding-bottom:10px;}

    .menu .nav .title {height:24px; width:100%; text-align:center; font-size:14px; color:#666;}
    .menu .nav .con {height:20px; width:100%; text-align:center; font-size:12px; color:#999;}
    .menu .nav .con span {color:#f90;}

	.menu .nav .ico{width:48px;height:48px;display:block;background-repeat:no-repeat;margin:0 auto;}
	.menu .nav .ico-team{background-image:url("{MODULE_URL}/template/mobile/images/ico-team.png");}
	.menu .nav .ico-commission{background-image:url("{MODULE_URL}/template/mobile/images/ico-commission.png");}
	.menu .nav .ico-qrcode{background-image:url("{MODULE_URL}/template/mobile/images/ico-qrcode.png");}

    .menu .nav1 {border-bottom:1px solid #f1f1f1; border-right:1px solid #f1f1f1;text-align:center;}
	.menu .nav2 i { color:#98cd37}
    .menu .nav2 {border-right:1px solid #f1f1f1; text-align:center;} .menu .nav4 i { color:#ca81d1}
    .menu .nav3 {border-right:1px solid #f1f1f1; text-align:center;} .menu .nav5 i { color:#53bdec}
</style>
<div id="container">
	<div class="topbar">
        <div class="user_face" style="background-image:url({$member['avatar']});background-size:contain;"></div>
        <div class="user_info">
            <div class="user_name">{$member['nickname']} <span>[{$levelname} /上级:{php echo $parent['nickname']?$parent['nickname']:'总店';}] </span></div>
            <div class="user_date">加入时间：{php echo date('Y-m-d H:i', $member['addtime']);}</div>
        </div>
    </div> 
    <div class="commission-top">
        <div class="top_1">
            <div class="text">累计佣金：{php echo sprintf("%.2f", $member['pay_commission']+$member['nopay_commission']);} 元<br>可提现佣金（元）</div>
			<a href="{php echo $this->createMobileUrl('commission', array('op'=>'cashlog'));}"><div class="ico"></div></a>
        </div>
        <div class="top_2">{$member['nopay_commission']}<a href="{if $member['nopay_commission']<$setting['cash_lower']}javascript:;{else}{php echo $this->createMobileUrl('commission', array('op'=>'cash'));}{/if}" id="cash_btn"><span class="{if $member['nopay_commission']<$setting['cash_lower']}disabled{/if}">提现</span></a></div>
    </div> 
    <div class="menu"> 
		<a href="{php echo $this->createMobileUrl('team', array('level'=>'1'));}"><div class="nav nav1"><i class="ico ico-team"></i><div class="title">我的团队</div><div class="con"><span>{$total}</span>个成员</div></div></a>
		<a href="{php echo $this->createMobileUrl('commission', array('op'=>'commissionlog'));}"><div class="nav nav2"><i class="ico ico-commission"></i><div class="title">佣金明细</div><div class="con">佣金提现明细</div></div></a>
        <a href="{$posterUrl}"><div class="nav nav3"><i class="ico ico-qrcode"></i><div class="title">二维码</div><div class="con">推广二维码</div></div></a>        
    </div>
</div>

{if $member['nopay_commission']<$setting['cash_lower']}
<script type="text/javascript">
var cash_lower = {php echo $setting['cash_lower'];};
$("#cash_btn").click(function(){
	alert("当前提现最低额度为"+cash_lower+"元");
});
</script>
{/if}

{php echo register_jssdk(false);}
<script type="text/javascript">
wx.ready(function(){
	var shareData = {
		title: "{$sharelink['title']} - {$setting['sitename']} - {$_W['account']['name']}",
		desc: "{$sharelink['desc']}",
		link: "{php echo $shareurl;}",
		imgUrl: "{php echo $_W['attachurl'];}{$sharelink['images']}",
		trigger: function (res) {},
		complete: function (res) {},
		success: function (res) {},
		cancel: function (res) {},
		fail: function (res) {}
	};
	wx.onMenuShareTimeline(shareData);
	wx.onMenuShareAppMessage(shareData);
	wx.onMenuShareQQ(shareData);
	wx.onMenuShareWeibo(shareData);
	wx.onMenuShareQZone(shareData);
	
});
</script>

{php include $this->template('_footer');}
