html,body,ul,ol,img,p,input,button {
	padding: 0;
	margin: 0
}

html,body {
	font-family: -apple-system-font,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
	-webkit-user-select: none;
	-webkit-overflow-scrolling: touch;
	-webkit-user-drag: none
}

a,a:active,a:focus,button,button:active,input,input:focus,select,select:focus,textarea,textarea:focus {
	outline: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,0)
}

a {
	text-decoration: none;
	color: #0079ff
}

ol,ul {
	list-style: none
}

.ui-app {
	cursor: none
}

.ui-app * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none
}

.ui-top-bar,.ui-bottom-bar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 43px;
	line-height: 43px;
	text-align: center
}

.ui-flexbox,.ui-bottom-bar {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.ui-top-bar {
	top: 0;
	background-position: bottom left
}

.ui-bottom-bar {
	bottom: 0;
	background-position: top left
}

.ui-bottom-bar~.ui-page>.ui-page-content {
	border-bottom: 48px solid transparent
}

.ui-top-bar~.ui-page>.ui-page-content {
	margin-top: -1px
}

body.android .ui-top-bar~.ui-page>.ui-page-content {
	margin-top: -1px;
	border-top: 53px solid transparent
}

.ui-page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: none;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

.ui-page.js-active {
	display: block;
	margin-top: 53px
}

body.android .ui-page.js-active {
	margin-top: 0
}

.ui-page-content {
	z-index: 2
}

.js-no-overflow-scrolling .ui-page {
	position: static;
	margin-top: 52px
}

.ui-bottom-bar-button {
	text-align: center;
	color: #6f6f74;
	border: 0;
	outline: 0;
	background-color: transparent
}

.ui-flex-1,.ui-bottom-bar-button {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1
}

.ui-bottom-bar-button .ui-icon {
	display: block;
	padding: 2px 0;
	font-size: 24px;
	text-align: center;
	color: #6f6f74;
	background-color: transparent
}

.ui-bottom-bar-button .ui-label {
	display: block;
	font-size: 14px
}

.ui-bottom-bar-button.js-active {
	color: #157dfb
}

.ui-bottom-bar-button.js-active .ui-icon {
	color: #157dfb
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
	.ui-1dpx-t,.ui-1dpx-b,.ui-1dpx-tb {
		background-size: 100% 1px
	}

	.ui-1dpx-t {
		border-top: 0;
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#c8c7cc),to(#c8c7cc)) left top repeat-x
	}

	.ui-1dpx-b {
		border-bottom: 0;
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#c8c7cc),to(#c8c7cc)) left bottom repeat-x
	}

	.ui-1dpx-tb {
		border-top: 0;
		border-bottom: 0;
		background: -webkit-gradient(linear,left bottom,left top,color-stop(0.5,transparent),color-stop(0.5,#c8c7cc),to(#c8c7cc)) left top repeat-x,-webkit-gradient(linear,left top,left bottom,color-stop(0.5,transparent),color-stop(0.5,#c8c7cc),to(#c8c7cc)) left bottom repeat-x
	}
}

.ui-ignore-space {
	font-size: 0
}

.ui-no-wrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.ui-red {
	color: #fa3c3c!important
}

.ui-gray {
	color: gray!important
}

.ui-red-dot,.ui-blue-dot {
	width: 8px;
	height: 8px;
	border-radius: 8px
}

.ui-red-dot {
	background: #fa3c3c!important
}

.ui-blue-dot {
	background: #0079ff!important
}

.ui-right {
	float: right!important
}

.ui-left {
	float: left!important
}

.ui-block {
	display: block!important
}

.ui-inline-block {
	display: inline-block!important
}

.ui-red-counter,.ui-blue-counter {
	position: absolute;
	top: -9px;
	right: -9px;
	z-index: 3;
	height: 18px;
	min-width: 18px;
	padding: 0 4px;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	border-radius: 18px
}

.ui-red-counter {
	background: #fa3c3c
}

.ui-blue-counter {
	background: #2087fc
}

.ui-panel {
	padding: 10px 12px;
	margin-bottom: 20px;
	font-size: 15px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #e5e5eb;
	background: #fff
}

.ui-button {
	display: inline-block;
	padding: 6px 10px;
	margin: 4px 0;
	-webkit-box-sizing: border-box;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	color: #0079ff;
	border: 1px solid #0079ff;
	border-radius: 3px;
	background-color: transparent;
	-webkit-appearance: none
}

.ui-button:active {
	color: #fff;
	background: #0079ff
}

.ui-button[disabled] {
	pointer-events: none;
	opacity: .6;
	color: #a6a6a6;
	border-color: #a6a6a6;
	background: #fff
}

.ui-button.ui-block {
	display: block;
	width: 100%;
	height: 44px;
	padding: 10px;
	font-size: 17px;
	line-height: 17px
}

.ui-info {
	color: #fff;
	border-color: #0079ff;
	background: #0079ff
}

.ui-info:active {
	opacity: .4
}

.ui-success {
	color: #fff;
	border-color: #46ca5e;
	background: #46ca5e
}

.ui-success:active {
	opacity: .4;
	border-color: #46ca5e;
	background: #46ca5e
}

.ui-danger {
	color: #fc4226;
	border-color: #fc4226
}

.ui-danger:active {
	color: #fff;
	background: #fc4226
}

.ui-groupbutton {
	display: table;
	margin: 12px auto;
	font-size: 1em;
	white-space: nowrap;
	border-color: transparent
}

.ui-groupbutton .ui-button {
	position: relative;
	display: table-cell;
	float: left;
	min-width: 98px;
	margin: 0;
	border-width: 1px 0 1px 1px;
	border-radius: 0
}

.ui-groupbutton .ui-button:active {
	color: #0079ff;
	background-color: #d3e5f9
}

.ui-groupbutton .ui-button.js-active {
	color: #fff;
	background: #0079ff
}

.ui-groupbutton .ui-button:first-child {
	border-right-width: 0;
	border-radius: 5px 0 0 5px
}

.ui-groupbutton .ui-button:last-child {
	border-width: 1px;
	border-radius: 0 5px 5px 0
}

.ui-groupbutton.ui-gray .ui-button {
	color: gray;
	border-color: gray
}

.ui-groupbutton.ui-gray .ui-button:active {
	background-color: #e6e6e6
}

.ui-groupbutton.ui-gray .ui-button.js-active {
	color: #fff;
	background: gray
}

.ui-caption {
	padding: 0 12px;
	margin: 18px 0 5px;
	font-size: 14px;
	line-height: 24px;
	color: #7c7b83;
	text-shadow: 0 1px rgba(255,255,255,.2);
	-wbkit-text-shadow: 0 1px rgba(255,255,255,.2)
}

.ui-list {
	padding-bottom: 1px;
	margin-bottom: 20px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #e5e5eb;
	background: #fff;
	background: #fff
}

.ui-item {
	position: relative;
	height: 72px;
	margin-top: 0;
	margin-left: 0;
	overflow: hidden;
	font-size: 17px;
	font-weight: 500;
	line-height: 20px;
	list-style-type: none;
	color: #000;
	border: 1px solid transparent
}

.hovered.ui-item {
	background: #f0f0f0
}

.ui-item+.ui-item {
	border-top: 1px solid transparent
}

.ui-item+.ui-item a:before,.ui-spliter-ios .ui-item+.ui-item a .my-item-right:before {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 1px;
	content: "";
	-webkit-transform: scale3d(1,.5,1);
	background: #dfdfdf
}

.android .ui-item+.ui-item a:before,.android .ui-spliter-ios .ui-item+.ui-item a .my-item-right:before {
	-webkit-transform: scale(1,.5)
}

.ui-spliter-ios .ui-item+.ui-item a:before {
	display: none
}

.android .ui-item+.ui-item a .my-item-right:before {
	-webkit-transform: scale(1,.5)
}

.hovered.ui-item .my-item-right:before {
}

.hovered.ui-item+.ui-item .my-item-right:before {
	background-color: transparent!important
}

.my-item-right,.my-item-left {
	padding-top: 13px;
	padding-bottom: 8px
}

.ui-item>a {
	position: relative;
	display: block;
	padding: 0;
	margin-left: 6px;
	color: #000
}

.ui-item>a.js-active {
	z-index: 1;
	color: #fff;
	background: #2087fc
}

.ui-item:after {
	position: absolute;
	top: -1px;
	bottom: -1px;
	z-index: 2;
	width: 42px;
	font-size: 32px;
	line-height: 42px;
	text-align: center;
	color: #fff
}

.ui-item.deleting:after {
	right: 0;
	line-height: 40px;
	content: "Delete";
	background: #fd3c31
}

.ui-item .ui-right {
	position: absolute;
	right: 34px;
	font-size: 14px;
	text-align: right
}

.ui-item .ui-red-dot {
	position: absolute;
	top: 16px
}

.ui-list.arrow-right>.ui-item:after,.ui-item.arrow-right:after {
	position: absolute;
	top: 14px;
	right: 15px;
	width: 8px;
	height: 8px;
	margin-top: 20px;
	content: "";
	-webkit-transform: rotate(45deg);
	color: #dbdbdb;
	border-width: 2px 2px 0 0;
	border-style: solid
}

.ui-list.arrow-right>.ui-item.js-active:after,.ui-item.arrow-right.js-active:after {
	color: #fff
}

.ui-list.icon-left .ui-icon {
	position: absolute;
	top: 6px;
	left: 8px;
	width: 25px;
	height: 25px
}

.ui-list.icon-left>.ui-item {
	padding-left: 40px
}

.ui-title-item {
	position: relative;
	padding: 0 12px;
	margin: 0;
	font-size: 14px;
	line-height: 26px;
	color: #000;
	border: 1px solid #e5e5eb;
	border-width: 1px 0;
	background: #f5f5f5;
	box-shadow: none
}

.ui-title-item:first-child {
	border-top-width: 0
}

.ui-tab {
	display: none
}

.ui-tab.js-active {
	display: block
}

.ui-carousel {
	position: relative;
	-webkit-transform: translate(0,0)
}

.ui-carousel-inner {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden
}

.ui-carousel-item {
	position: relative;
	z-index: 9;
	display: none;
	-webkit-transition: .2s ease-in-out left;
	transition: .2s ease-in-out left;
	-webkit-transform: translate(0,0)
}

.ui-carousel-inner>.js-show,.ui-carousel-inner>.js-active,.ui-carousel-inner>.js-next,.ui-carousel-inner>.js-prev {
	display: block
}

.ui-carousel-inner>.js-active {
	left: 0;
	z-index: 10
}

.ui-carousel-inner>.js-show,.ui-carousel-inner>.js-next,.ui-carousel-inner>.js-prev {
	position: absolute;
	top: 0;
	width: 100%
}

.ui-carousel-inner>.js-next {
	left: 100%
}

.ui-carousel-inner>.js-prev {
	left: -100%
}

.ui-carousel-inner>.js-next.js-left,.ui-carousel-inner>.js-prev.js-right {
	left: 0
}

.ui-carousel-inner>.js-active.js-left {
	left: -100%
}

.ui-carousel-inner>.js-active.js-right {
	left: 100%
}

.ui-carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 11;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	list-style: none;
	-webkit-transform: translate(0,0);
	text-align: center
}

.ui-carousel-indicators li {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 1px;
	border-radius: 8px;
	background-color: rgba(255,255,255,.3)
}

.ui-carousel-indicators li.js-active {
	background-color: #fff
}

@media screen and (-webkit-min-device-pixel-ratio:2) {
}

.ui-horizontal {
	overflow: auto;
	margin: 0;
	padding: 0
}

.ui-horizontal>* {
	float: left
}

.ui-horizontal.ui-center {
	text-align: center
}

.ui-horizontal.ui-center>* {
	display: inline-block;
	float: none
}

.ui-horizontal-flex {
	display: -webkit-box;
	display: box;
	display: -webkit-flex;
	display: flex
}

.ui-top-right {
	position: absolute;
	top: 0;
	right: 0
}

.ui-height-auto {
	height: auto
}

.ui-ex-icon {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #ccc
}

.ui-tile {
	position: relative
}

.ui-caption.ui-center {
	text-align: center
}

body.android {
}

.icon {
	display: inline-block;
	background-repeat: no-repeat
}

.hot-post-list .ui-item {
	height: 92px
}

.my-item-left {
	position: absolute;
	left: 4px;
	border-radius: 4px;
	font-size: 12px;
	line-height: 12px
}

.my-item-right {
	margin-left: 94px
}

.my-item-right p {
	padding-right: 18px;
	padding-left: 0;
	font-size: 13px
}

.ui-page .ui-list .no-content {
	position: absolute;
	top: 223px;
	width: 100%;
	text-align: center;
	color: #818181
}

.ui-item:after {
	width: 100%;
	height: 1px;
	content: ""
}

.group-icon {
	margin: 0;
	border-radius: 11px;
	width: 50px;
	height: 50px
}

.groupintro {
	margin-top: 5px;
	color: #a6a6a6
}

.my-item-right .grouptitle {
	padding-top: 2px;
	font-size: 16px;
	font-weight: 500
}

.my-item-right .groupreply {
	right: 0
}

.loading {
	overflow: hidden;
	position: relative;
	margin-top: -20px;
	padding: 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #efeff4;
	opacity: 0
}

.loading span {
	font-size: 14px;
	color: #777
}

.loading .js-spinner {
	margin-top: 5px;
	margin-left: -68px
}

.hide {
	display: none!important
}

li.list-active {
	color: gray;
	background-color: #d9d9d9!important
}

li.list-active .my-item-right:before {
	display: none!important
}

li.list-active .list-content:after {
	display: none!important
}

li.list-active+li .list-content:after {
	display: none!important
}

li.list-active+li .my-item-right:before {
	display: none!important
}

#js_focus {
	display: block;
	width: 100%;
	text-align: center
}

.honour.subs {
	color: #f68a42
}