{template 'common/header'}

<ul class="nav nav-tabs">
	<li class="active"><a href="">基础设置</a></li>
    <li><a href="">满就送</a></li>
</ul>

<form action="{php echo $this->createWebUrl('index',array('doo'=>'ec','op'=>'config'))}" method="post" class="form-horizontal" role="form" ng-controller="formCtrl" id="form2">
	<div class="panel panel-default">
		<div class="panel-heading">
			积分兑换设置
		</div>
		<div class="panel-body">
			<div class="form-group">
            	<label class="col-sm-2 control-label">现金/积分兑换比率:</label>
                <div class="col-sm-5">
                	<input class="form-control" type="text" name="settingnew[ec_ratio]" value="{php echo $setting['settingnew']['ec_ratio']}"/>
                	<br>设置真实货币现金(以人民币元为单位)与站点交易积分间的兑换比率，例如设置为 10，则 1 元人民币可以兑换 10 个单位的交易积分。
                </div>
            </div>
            
            <div class="form-group">
            	<label class="col-sm-2 control-label">单次购买最小积分数额:</label>
                <div class="col-sm-5">
                	<input class="form-control" type="text" name="settingnew[ec_mincredits]" value="{php echo $setting['settingnew']['ec_mincredits']}"/>
                	<br>设置用户一次支付所购买的交易积分的最小数额，单位为交易积分的单位，0 为不限制
                </div>
            </div>
            
            <div class="form-group">
            	<label class="col-sm-2 control-label">单次购买最大积分数额:</label>
                <div class="col-sm-5">
                	<input class="form-control" type="text" name="settingnew[ec_maxcredits]" value="{php echo $setting['settingnew']['ec_maxcredits']}"/>
                	<br>设置用户一次支付所购买的交易积分的最大数额，单位为交易积分的单位，0 为不限制
                </div>
            </div>
            
            <div class="form-group">
            	<label class="col-sm-2 control-label">每月购买最大积分数额:</label>
                <div class="col-sm-5">
                	<input class="form-control" type="text" name="settingnew[ec_maxcreditspermonth]" value="{php echo $setting['settingnew']['ec_maxcreditspermonth']}"/>
                	<br>设置用户每月能够通过在线支付方式购买的交易积分的最大数额，单位为交易积分的单位，0 为不限制
                </div>
            </div>
            
            <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input type="submit" value="保存" class="btn btn-primary btn-block"/>
                        <input type="hidden" name="token" value="{$_W['token']}" />
                    </div>
                </div>
		</div>
	</div>
</form>

{template 'common/footer'}