#xctmhBox {
    width:100%;
    height:auto;
    position: relative;
    padding-top:42px;
    margin:0px;
    background: #f5f5f5;
}
#xctmhBox .top {width:100%;}
#xctmhBox .tmHeader {
    width:100%;
    height:44px;
    background:#ff552e;
    position:fixed;
    top:0px;
    color:#fff;
    padding-right:10px;
    padding-left:10px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align: center;
    z-index: 9999;
    overflow: hidden;
}
#xctmhBox .tmHeader .logo {
    width:69px;
    height:30px;
    margin-top:5px;
    float: left;
}
#xctmhBox .top .tmSearch {
    width:50%;
    height:35px;
    background:#ff552e;
    padding-left:12px;
    padding-right:12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    z-index: 1;
    float: left;
}
#xctmhBox .top .tmSearch .formBox {
    height:100%;
    width:100%;
    padding-top:4px;
    padding-bottom:8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#xctmhBox .top .tmSearch .formBox .fa-search {
    position: absolute;
    font-size: 1.2em;
    color:#999;
    top:1em;
    left:1em;
}
#xctmhBox .top .tmSearch .formBox input {
    border:none;
    height:35px;
    width:100%;
    margin:0px;
    padding-left:33px;
    font-size: 0.9em;
    color:#fff;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
    background-color: #ff7759;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.tmHeader .text-icon { 
	float: right;
	display: inline-block;
	height: 30px;
	line-height: 30px;
    margin-top: 7px;
    margin-right: 8px;
    font-size: 0.9em;
}
.tmHeader .text-icon a{ 
    color:#fff;
    text-decoration: none;
}

.h_btn {
	position: absolute;
	top: 8px;
	right: 8px;
	overflow: hidden;
	height: 30px;
	color: #fff;
	font-size: 10px;
}

.h_btn:before {
	display: block;
	margin: 0 auto 4px;
	width: 19px;
	height: 1px;
	content: '';
}

.h_publish {
	right: 60px;
}

.nav {
	height: 44px;
	border-bottom: 1px solid #e3e3e3;
	background: #eee;
	color: #aaa;
	text-indent: 5px;
	font-size: 14px;
	line-height: 44px;
}

.nav a {
	padding: 5px 5px 3px;
	color: gray;
}

.nav .nav_a {
	overflow: hidden;
	height: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav_a .nav_nourl {
	color: #a6a6a6;
}

.newFooter {
	padding: 20px 0 0;
	width: 100%;
	background: #3d4049;
}

.newFooter .footer_nav {
	margin: 0 auto;
	width: 298px;
	height: 30px;
	border: 1px solid #2f323b;
	background: #373a43;
	line-height: 30px;
}

.newFooter .footer_nav a {
	float: left;
	display: block;
	width: 73px;
	border-right: 1px solid #2f323b;
	background: #373a43;
	color: #82848a;
	text-align: center;
}

.newFooter .footer_nav .chuping {
	color: #fff;
}

.footer_nav a:nth-of-type(4) {
	border: none;
}

.footer_bot {
	padding-bottom: 20px;
	color: #64666d;
	text-align: center;
	font-size: 10px;
}

.footer_cop {
	position: relative;
	overflow: hidden;
	margin: 10px auto 15px;
	width: 250px;
	max-height: 44px;
	text-align: center;
	line-height: 22px;
}

.footer_cop a {
	display: inline-block;
	margin-right: 15px;
	height: 22px;
	color: #64666d;
	font-size: 9pt;
}

.bban {
	height: 69px;
	background-color: rgba(0,0,0,.8);
}

.bban,.bban_new {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.bban_new {
	height: 50px;
	background-color: rgba(51,51,51,.9);
}

.bban .aban,.bban_new .aban {
	display: block;
	width: 100%;
	height: 100%;
}

.bban .iban {
	float: left;
	margin: 20px 9pt;
	width: 30px;
	height: 30px;
}

.bban_new .iban {
	float: left;
	margin: 10px 8px 10px 15px;
	width: 34px;
	height: 30px;
}

.bban .text {
	float: left;
	margin-top: 20px;
	color: #fff;
}

.bban_new .text {
	float: left;
	color: #f6f6f6;
	font-size: 11px;
	line-height: 50px;
}

.bban .btnd {
	float: right;
	margin: 20px;
	padding: 8px;
	border-radius: 3px;
	background-color: #e2e2e2;
	color: #282828;
}

.bban_new .btnd {
	float: right;
	width: 5pc;
	background-color: #ff6a22;
	color: #ffe8e1;
	text-align: center;
	line-height: 50px;
}

.bban .p1 {
	font-size: 14px;
	opacity: .8;
}

.bban .p2 {
	margin-top: 2px;
	font-size: 11px;
	opacity: .6;
}

.bban .x,.bban_new .x {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background: url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAgCAMAAADZqYNOAAAAk1BMVEUbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsbGxsnJycoKCgpKSkrKytJSUlKSkpMTExNTU1PT09QUFCBgYGDg4OFhYWTk5OlaOOdAAAAMXRSTlMAAQIDBAUHCAkKCxASFxgaHh8jJiotLi81OERGSk9SV1lbXF9hYWFtbW1vb3CIiYuUBU01CwAAALpJREFUeNql0MkSgjAQBNBG3BVEFHdlMe6y/P/XaQ0hiVVkLvZlDq+SnhpkTEJWl6yu+Ld/9AasTht9i3pen4YOILEqBGFZ3bU6UkVBfCmr/KxwD9KGNVJCUsWEOmNSxb94glLqpG7zYxiYFyanrlZaSJgcQanc1uC0q/VFSCyvsYDW7PFF4ls9j47U1ozAaABG12B0C5sSMhrBrqkPux76sGoyB2wahx3YdOc7QKvGG6+Htsy8ydCFJR98R2MYdafLZAAAAABJRU5ErkJggg==) no-repeat left top;background-size: auto 1pc;
}
