html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label {
	border: 0;
	font-family: "华文细黑", Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline
}

* {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0)
}

input {
	-webkit-user-select: auto;
	-webkit-touch-callout: auto;
	margin: 0;
	padding: 0
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700
}

strong {
	font-weight: 700
}

cite,em {
	font-style: normal
}

i {
	font-style: italic
}

th {
	font-weight: 700;
	text-align: center
}

caption {
	text-align: center
}

ul,li {
	list-style: none;
	margin: 0;
	padding: 0
}

.textarea {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none
}

dt,dd {
	border-bottom: 1px solid #E7E5E2
}

dt {
	position: relative
}

dd {
	height: 46px;
	overflow: hidden
}

#winLogon {
	background: #FFF;
	display: none
}

#winLogon .logonTab {
	background: #F2F5F7;
	border-top: 1px solid #D8D9DA;
	color: #3E3E3E;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	font-size: 14px;
	height: 40px;
	list-style: none;
	padding: 0
}

#winLogon .logonTab li {
	border: 1px solid #D8D9DA;
	border-top: none;
	border-right: none;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	line-height: 40px;
	text-align: center;
	width: 50%
}

#winLogon li.logonTabSel {
	background: #FFF;
	border-bottom: none;
	color: #F97D03
}

#pptMobileLoginForm {
	display: none
}

#winLogon .logo {
	margin: 14px 10px
}

#winLogon form {
	margin: auto 10px
}

#winLogon #mobileLoginTipLi,#winLogon #loginTipLi {
	background: #F1CECE;
	border: 1px solid #E86F6F;
	color: #E4133A;
	display: block;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	text-indent: 12px
}

.passport-login-input-ul li {
	margin-top: 10px;
	overflow: hidden
}

#loginUserNameLi,#loginPasswordLi,#mobileLoginMobileLi,#mobileLoginPasswordLi {
	border: 1px solid #C0C1C2;
	height: 42px
}

.passport-login-input-span {
	display: inline-block;
	font-size: 16px;
	line-height: 42px;
	margin: auto 8px;
	width: 90px
}

#mobileLoginMobileLi .passport-login-input-span,#mobileLoginPasswordLi .passport-login-input-span {
	width: 60px
}

#pptusername,#pptpassword,#pptmobile,#pptmobilepassword {
	-webkit-user-select: text;
	border: none;
	color: #B6B6B6;
	font-size: 12px;
	height: 30px;
	outline: 0;
	vertical-align: middle
}

#rememberLi .passport-login-input-span {
	width: 0
}

#rememberLi input {
	margin-right: 5px
}

#rememberLi {
	display: none
}

#winLogon input[type=submit] {
	background: -webkit-gradient(linear,0 0,0 100%,color-stop(0,#abd3e0),color-stop(1,#abd3e0));
	border: none;
	border-radius: 0;
	color: #FFFEFE;
	height: 42px;
	line-height: 42px;
	overflow: hidden;
	width: 100%
}

#loginButtonLi {
	height: 42px;
	padding: 0
}

#loginButtonLi span,#mobileLoginButtonLi span {
	display: none
}

#pubOK,#pubFail {
	background: rgba(0,0,0,.2);
	display: none;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%
}

#pubOK>div,#pubFail>div {
	background: #2A2C30;
	color: #FFF;
	text-align: center;
	padding: 1px;
	width: 250px
}

#pubFail>div {
	text-align: left
}

#pubOK .message,#pubFail .message {
	background: #42474C;
	color: #FFF;
	padding: 10px
}

#pubOK .btn,#pubFail .btn {
	background: #42474C;
	border-top: 1px solid #595D61;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 40px
}

#pubOK input,#pubFail input {
	-webkit-appearance: none;
	background: #42474C;
	border: none;
	color: #FFF;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	min-width: 124px
}

#pubOK input:nth-of-type(1) {
	border-right: 1px solid #595D61
}

#pubOK.show,#pubFail.show {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

#winLogon .logonsep {
	border-top: 1px dashed #AAA;
	margin: 20px auto
}

#regMobileLi,#pptmobileregul {
	list-style: none;
	position: relative
}

#regMobileLi,#mobileRegMobileCodeLi {
	border: 1px solid #C0C1C2;
	margin-bottom: 10px
}

#regMobileLi span.passport-reg-input-span,#mobileRegMobileCodeLi span.passport-reg-input-span {
	display: inline-block;
	height: 100%;
	line-height: 42px;
	text-align: center;
	width: 80px
}

#regMobileLi #pptmobileregmobile {
	border: none;
	font-size: 12px;
	width: 90px
}

#regMobileLi #pptmobileregmobile_tip,#pptmobileregmobilecode_tip {
	color: red;
	display: block;
	font-size: 12px
}

#regMobileLi span.passport-reg-input-span {
	width: 66px
}

#mobileRegSendMobileCodeLi {
	left: 158px;
	position: absolute;
	top: 10px
}

#pptmobileresendbtn {
	border: 1px solid #888;
	font-size: 12px;
	height: 24px;
	padding: 0 3px
}

#mobileRegButtonLi span {
	display: none
}

#pptmobileregul label {
	display: block
}

#pptmobileregmobilecode {
	border: none
}

#winLogon p {
	margin-bottom: 10px
}

.h_regist {
	right: 60px
}

.h_regist::before,.h_login::before {
	background: url("../img/top.btn.0624.png") no-repeat;
	background-size: 19px auto
}

.h_login::before {
	background-position: 0 -19px
}

#winLogon .logo {
	background: url("../img/top_inner.png") no-repeat #ff5f1c;
	background-size: 320px auto;
	height: 45px;
	position: relative;
	margin: 0 0 10px
}

#winLogon .logo a {
	width: 69px;
	height: 20px;
	position: absolute;
	top: 12px;
	left: 5px
}

#btnCancel {
	border: none;
	background: 0 0;
	color: #fff;
	font-size: 16px;
	-webkit-appearance: none;
	outline: 0;
	padding: 10px 15px;
	position: absolute;
	right: 10px;
	top: 5px
}

.googleanalyze {
	display: none
}

.exp {
	display: block
}

.post_history {
	overflow: hidden;
	display: none
}

.category_page {
	width: 100%
}

.recently {
	height: 44px;
	width: auto;
	display: block;
	line-height: 44px
}

.recently_box {
	margin-left: 90px;
	height: 100%;
	overflow: hidden
}

.recently_box a {
	font-size: 13px;
	height: 44px;
	width: auto;
	line-height: 44px;
	margin-right: 16px;
	display: inline-block;
	color: #000
}

#set_nav_home_color {
	color: #929292
}

#set_nav_cate_color {
	color: #B4B4B4
}

.title_recently {
	width: 90px;
	display: inline-block;
	height: 44px;
	line-height: 44px;
	float: left
}

.text_recently {
	height: 44px;
	line-height: 44px;
	font-size: 13px;
	color: #ff511b;
	display: inline-block;
	padding-left: 13px;
	position: relative;
	top: -1px
}

.recently_icon {
	display: inline-block;
	line-height: 50px;
	width: 15px;
	height: 28px;
	background: url("../img/mpnew_bg.png");
	background-size: 100px 500px;
	background-position: -48px 2px;
	position: relative;
	top: 10px;
	left: 13px
}

.split_line {
	display: inline-block;
	width: 15px;
	height: 30px;
	position: absolute;
	top: 8px;
	background: url("../img/mpnew_bg.png");
	background-size: 100px 500px;
	background-position: -2px -324px
}

.slide_items {
	display: none;
	border-bottom: 1px solid #E7E5E2;
}

.title_items {
	height: 30px;
	background-color: #F7F7F6;
	width: 100%;
	border-bottom: 1px solid #E7E5E2;
	line-height: 30px;
	text-align: center;
	color: gray;
	font-size: 12px
}

.title_items:before {
	content: '';
	display: inline-block;
	height: 10px;
	width: 10px;
	background: url("../img/mpnew_bg.png");
	background-size: 100px 500px;
	background-position: -49px -746px;
	position: relative;
	top: 2px;
	right: 4px
}

.title_items:after {
	content: '';
	display: inline-block;
	height: 10px;
	width: 10px;
	background: url("../img/mpnew_bg.png");
	background-size: 100px 500px;
	background-position: -49px -746px;
	position: relative;
	top: 2px;
	left: 4px
}

.slide_items a {
	display: inline-block;
	height: 46px;
	line-height: 46px;
	width: 33.3%;
	border-right: 1px solid #E7E5E2;
	border-bottom: 1px solid #E7E5E2;
	text-align: center;
	float: left;
	font-size: 13px;
	overflow: hidden;
	color: #000;
	padding: 0 1px;
	margin: 0 -2px
}

.category {
	width: auto;
	height: 60px;
	margin-left: 80px;
	margin-right: 30px;
	overflow: hidden
}

.category_dl {
	border-top: 1px solid #E7E5E2
}

.title_category {
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	overflow: hidden;
	color: #000;
	padding-top: 10px
}

.detail_category {
	font-size: 11px;
	line-height: 16px;
	width: 100%;
	display: inline-block;
	color: #a6a6a6;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.detail_category a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.b_ico_box {
	height: 60px;
	width: 70px;
	position: absolute;
	left: 0
}

.back_ico {
	display: inline-block;
	line-height: 50px;
	width: 60px;
	height: 40px;
	margin: 10px 0 0 10px
}

.a_ico_box {
	height: 60px;
	width: 30px;
	position: absolute;
	right: 0
}

.back_ico_after {
	display: inline-block;
	line-height: 50px;
	width: 17px;
	height: 15px;
	background: url("../img/mpnew_bg.png");
	background-position: -47px -213px;
	background-size: 100px 500px;
	margin: 21px 12px 0 0
}

.a_ico_rotate_4js {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg)
}

.exp .a_ico_rotate {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg)
}

.exp .show_item {
	display: block;
	overflow: hidden
}

.blank {
	height: 5px;
	background-color: #F7F7F6
}

.house_ico {
	background-position: -9px 2px
}

.second_ico {
	background-position: -13px -25px
}

.employ_ico {
	background-position: -13px -50px
}

.resume_ico {
	background-position: -13px -81px
}

.car_ico {
	background-position: -14px -108px;
	height: 25px
}

.pet_ico {
	background-position: -14px -132px;
	height: 24px
}

.ticket_ico {
	background-position: -13px -155px;
	height: 26px
}

.life_ico {
	background-position: -13px -183px;
	margin-top: 13px
}

.edu_ico {
	background-position: -14px -207px;
	height: 24px
}

.business_ico {
	background-position: -14px -229px
}

.local_ico {
	background-position: -43px -889px
}

.localBus_ico {
	background-position: -44px -448px
}

.carService_ico {
	background-position: -44px -475px
}

.moreService_icon {
	background-position: -44px -421px
}

.resume {
	border-top: 0
}

.cover {
	width: 55px;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: -1px
}

.ph_logo {
	position: fixed;
	bottom: 0;
	background-color: rgba(0,0,0,.8);
	width: 100%;
	display: none;
	height: 70px
}

.ph_click img {
	width: 44px;
	height: 44px
}

.ph_click {
	float: right;
	margin-right: 15px;
	margin-top: 13px
}

.ph_text {
	float: left;
	margin-left: 20px;
	margin-top: 16px
}

.font_big {
	font-size: 16px;
	color: #fff;
	line-height: 25px
}

.font_small {
	font-size: 12px;
	color: #fff
}

.ph_logo .closed {
	background: url("../img/ph_closed.png") no-repeat left top;
	background-size: auto 16px;
	height: 25px;
	left: 0;
	position: absolute;
	top: 0;
	width: 25px
}

.bban_new {
	display: none
}

.content_main {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
	background: rgba(0,0,0,.8)
}

#index_img {
	width: 100%
}

#down_bton {
	background: #81cb18;
	color: #fff;
	font-size: 14px;
	display: block;
	width: 168px;
	height: 44px;
	border-radius: 5px;
	text-align: center;
	line-height: 44px;
	font-weight: 400;
	text-decoration: none;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 16px
}

.bton_link {
	text-align: center;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 10000
}

#con_fb {
	color: #fff;
	text-decoration: underline;
	display: inline-block;
	margin-bottom: 20px
}

#img_closed {
	width: 36px;
	height: 38px;
	margin-top: 15px;
	float: right;
	margin-right: 15px
}

.content_img {
	margin: 0 auto;
	text-align: center;
	overflow: hidden
}

.close_img {
	overflow: hidden
}