

body#vote {
font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei", sans-serif !important;
background: #FCFCFC url(../images/bg.jpg) repeat;
margin: 0px;
padding: 0px;
color: #555555;
min-width: 320px;
}
.main{
	margin:1em 0 2em 0;
	
	}
.content{
font-size:1em;	
	}
.voteright{
	position:absolute;
	font-size:0.7em;
	line-height:2em;
	right: 13%;
	}
.footer{
color:#888888;
}