<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1560},{84,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,60}}</string>
                <key>sourceSize</key>
                <string>{84,60}</string>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>gameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,1000}}</string>
                <key>sourceSize</key>
                <string>{800,1000}</string>
            </dict>
            <key>gameOverBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{560,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,750}}</string>
                <key>sourceSize</key>
                <string>{560,750}</string>
            </dict>
            <key>gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,902},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>goldIngot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1467},{91,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>gow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1184},{212,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,188}}</string>
                <key>sourceSize</key>
                <string>{212,188}</string>
            </dict>
            <key>gow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,994},{212,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,188}}</string>
                <key>sourceSize</key>
                <string>{212,188}</string>
            </dict>
            <key>gow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,804},{212,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,188}}</string>
                <key>sourceSize</key>
                <string>{212,188}</string>
            </dict>
            <key>magnet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1550},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>restartBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1783},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>restartBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1721},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scoreTimeLabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1374},{76,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,71}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>shit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1467},{81,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,69}}</string>
                <key>sourceSize</key>
                <string>{81,69}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,804},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>soundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,870},{30,54}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{30,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zongzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96525396ee84e38593754df2ea755f34:5cf6f350bd47ae3279aa07c4292e1d7f:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
