<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>indexBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,1000}}</string>
                <key>sourceSize</key>
                <string>{800,1000}</string>
            </dict>
            <key>indexHelpBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,731},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>indexHelpBackPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,650},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>indexHelpBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,569},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>indexHelpBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,488},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>indexStartBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,407},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>indexStartBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,326},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>rankBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,245},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>rankBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,164},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>shareBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,83},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>shareBtnPress.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{210,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,79}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:666d4654ca17d9d649f61eb47de84417:c340d31cfbd27b7f2274aeceb53151b9:5aec2f82430a9c16d2c03f4ae551aae0$</string>
            <key>textureFileName</key>
            <string>index.png</string>
        </dict>
    </dict>
</plist>
