{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('merchant', array('op' => 'display'))}">商户管理</a></li>
	<li {if $operation == 'edit'}class="active"{/if}><a href="{php echo $this->createWebUrl('merchant', array('op' => 'edit',array('id'=>$id)))}">编辑商户</a></li>
</ul>
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<div class="panel panel-default">
			<div class="panel-heading">
				编辑商户
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">商户名称</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="name" class="form-control" value="{$merchant['name']}" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">联系手机</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="telphone" class="form-control" value="{$merchant['telphone']}" />
					</div>
				</div>	

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">商家地址</label>
					<div class="col-sm-9 col-xs-12">
						<textarea class="form-control" name="address">{$merchant['address']}</textarea>
					</div>
				</div>				
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="op" value="edit" />
			<input type="hidden" name="dododo" value="1" />
			<input type="hidden" name="id" value="{$merchant['id']}" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
{template 'common/footer'}