<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache" >
    <meta http-equiv="Cache-Control" content="no-store,must-revalidate" >
    <meta http-equiv="expires" content="Web, 26 Feb 1997 08:21:57 GMT">
    <meta http-equiv="expires" content="0">
    <title>{$setting['title']}</title>
    <meta name="keywords" content="微订水">
    <meta name="description" content="微订水">
    <meta author="kobe" contet="QQ:2779736086">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="../addons/kobe_water/template/js/jquery.min.js" ></script>
    <script type="text/javascript" src="../addons/kobe_water/template/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="../addons/kobe_water/template/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../addons/kobe_water/template/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../addons/kobe_water/template/css/main.css">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" src="../addons/kobe_water/template/js/target-script-min.js"></script>
    <script type="text/javascript">
	// 对浏览器的UserAgent进行正则匹配，不含有微信独有标识的则为其他浏览器
	var useragent = navigator.userAgent;
	if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
	// 这里警告框会阻塞当前页面继续加载
	var url = window.location.href;
	window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid={$_W['account']['key']}&redirect_uri='+url+'&response_type=code&scope=snsapi_base&state=YWN0PW1vZHVsZSZuYW1lPXNob3BwaW5nMiZkbz1saXN0JndlaWQ9Mg==&connect_redirect=1#wechat_redirect';
	}
	</script>
</head>
<body>
    <div class="shopPage">
        <div class="topFloatBar">
            <div class="topMenu">
                <div class="topBack">
                    <a href="javascript:history.go(-1)">
                        <img src="../addons/kobe_water/template/images/icon-back.png" style="-webkit-touch-callout:none;-webkit-user-select:none;">
                    </a>
                </div>
                <div class="topMore">
                    <a href="javascript:history.go(-1)">
                        <img src="../addons/kobe_water/template/images/icon-cato.png" style="-webkit-touch-callout:none;-webkit-user-select:none;">
                    </a>
                </div>
                <div class="topTitle">订单详情</div>
            </div>
        </div>
    </div>
    <div class="order-list">
        <div class="deliverItem">
            <div class="top">
                <div class="order-item-title">
                    订单号 {$order['order_number']}
                </div>
            </div>
            <div class="top">
                <dl>
                    <dt>总金额</dt>
                    <dd>
                        <strong class="price"></strong>
                    </dd>
                </dl>
            </div>
            <div class="mid">
                <dl>
                   <dt>收货地址</dt>
                   <dt>{$address['address_detail']}</dt>
                </dl>
            </div>
            <div class="mid">
                <dl>
                   <dt>收件人</dt>
                   <dt>{$member['member_nickname']}</dt>
                </dl>
            </div>
            <div class="bottom">
                <dl>
                   <dt>联系电话</dt>
                   <dt>{$member['member_phone']}</dt>
                </dl>
            </div>
        </div>
    </div>
    <div class="btnBar"></div>
    <div class="cart-list">
        <h2>商品信息</h2>
        <ul>
            {php $count = count(explode(',',$order['goodsId']));  $goodids = explode(',',$order['goodsId']); $shopcount = explode(',',$order['order_count']);}
            <?php for($i=0;$i<$count;$i++) {?>
            {php $shop = pdo_fetch("SELECT * FROM ".tablename('hao_water_goods')." WHERE id = :id LIMIT 1", array(':id' => $goodids[$i])); }
            <li>
                <input type="hidden" value="{php echo $shop['goods_price']*$shopcount[$i]}}" />
                <div class="item">
                    <div class="img">
                        <a href="#">
                            <img src="{php echo tomedia($shop['goods_image']);}" style="-webkit-touch-callout:none; -webkit-user-select:none; ">
                        </a>
                    </div>
                    <div class="info">
                        <h3>{$shop['goods_title']}</h3>
                        <strong>￥{$shop['goods_price']}</strong> × {php echo $shopcount[$i]}
                    </div>
                </div>
            </li>
            <!-- <li>
                <div class="deliverItem">
                    <div class="mid">
                        <dl>
                            <dt>商品原价</dt>
                            <dd>￥360.00</dd>
                        </dl>
                    </div>
                </div>
            </li> -->
            <?php }?>
        </ul>
        <script type="text/javascript">
                $(function(){
                    $length = $('.cart-list ul li').length;
                    $val = 0;
                    for (var i = 0; i < $length; i++) {
                        $val += parseInt($('.cart-list ul li').eq(i).children().eq(0).val());
                    }
                    $('.price').text('￥'+$val.toFixed(2));
                });
        </script>
    </div>
    <!-- <div class="cart-list">
        <h2>优惠信息</h2>
        <ul>
            <li>
                <div class="deliverItem">
                    <div class="mid">
                        <dl>
                            <dt>抵扣价格</dt>
                            <dd>
                                <strong class="price">￥0.00</strong>
                            </dd>
                        </dl>
                        <dl>
                            <dt>赠：</dt>
                            <dd>有米商城代金券120元 × 1</dd>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
    </div> -->
    <div class="btnBar">
        <a href="tel://{$setting['telphone']}">
            <button class="bigBtn orangeBtn" style="width:48%" type="button" >联系客服</button>
        </a>
        <a href="{php echo $this->createMobileUrl('index');}">
            <button class="bigBtn greenBtn" style="width:48%" type="button" >{$config['button']}</button>
        </a>
    </div>
    <div class="order-trace">
        <h2>订单跟踪</h2>
        <ul>
            {loop $order_status $id $status}
            <li class="new">
                <strong>{php echo date('Y-m-d H:i:s',$status['time'])}</strong>
                {if ($status['order_deliver_status'] == '0') }
                <p>提交并支付成功</p>
                {else if ($status['order_deliver_status'] == '1') }
                <p>配送中</p>
                {else if ($status['order_deliver_status'] == '2') }
                <p>订单完成</p>
                {else}
                <p><a href="tel://{$setting['telphone']}">联系客服</a></p>
                {/if}
            </li>
            {/loop}
        </ul>
    </div>
</body>
</html>