* 									{ MARGIN:0px; PADDING:0px; BORDER:none; FONT-STYLE:inherit; FONT-FAMILY:inherit; FONT-WEIGHT:inherit; FONT-SIZE:100%; OUTLINE-STYLE:none; OUTLINE-COLOR:invert; OUTLINE-WIDTH: 0px;}
IFRAME 								{ BORDER: medium none;}
OL,UL,LI							{ LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none;}
INPUT,TEXTAREA,SELECT,BUTTON		{ FONT-FAMILY: inherit; FONT-SIZE: 100%;}
SELECT 								{ MARGIN: inherit;}
html,body							{ -webkit-text-size-adjust:none;}
em,i								{ font-style:normal;}
b,strong							{ font-weight:bold;}
body								{ background:#060f27;  font-family:"Arial","Microsoft YaHei","SimSun"; font-size:14px; COLOR: #ffffff;}
.mainbg								{ position:fixed; bottom:1; width:100%; height:100%; z-index:1;}
.mainbg img							{ width:100%; height:100%;}
/* link*/
A:link 								{ color: #333333; text-decoration: none;}
A:visited 							{ color: #333333; text-decoration: none;}
A:hover 							{ color: #333333; text-decoration: none;}
A:active							{ color: #333333; text-decoration: none;}

.wrap_wap							{ position:relative; z-index:10; /*background:url(../images/bg_hlscz_ft.jpg) bottom repeat-x;*/ }
.activity_hd						{ position:relative; display:block; margin:0px auto; z-index:10; width:100%; height:auto; text-align:center; }
.activity_hd img					{ width:100%; border:none; height:auto; vertical-align:top; }
.activity_bd						{ position:relative; display:block; margin:0px auto; z-index:11; }
.activity_ft						{ position:relative; display:block; margin:0px auto; z-index:9; width:100%; text-align:center;}
.activity_ft img					{ width:100%; }

.mod_form							{  }				

.boxcontent 						{ margin:15px 15px 0; border-radius: 5px; padding: 2px; -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);}
.boxyellow							{ background-color: #FEF8B2; }
.boxwhite							{ background-color:rgba(255,255,255,0.3) }
.box 								{ border-radius: 5px; font-size:14px; border: 1px dashed rgba(0, 0, 0, 0.3); }
.box .title-red 					{ padding: 0 5px 0px 10px; background:url(../images/title-bg-red.png) no-repeat 0 0; border-radius: 3px 3px 3px 0; color:#ffffff; height:22px; line-height:22px; margin:-1px; /*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001; text-shadow:0px 1px 0 #8d0001;*/}
.box .title-orange 					{ padding: 0 5px 0px 10px; background:url(../images/title-bg-orange.png) no-repeat 0 0; border-radius: 3px 3px 3px 0; color:#ffffff; height:22px; line-height:22px; margin:-1px; /*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001; text-shadow:0px 1px 0 #8d0001;*/}
.box .title-green 					{ padding: 0 5px 0px 10px; background:url(../images/title-bg-green.png) no-repeat 0 0; border-radius: 3px 3px 3px 0; color:#ffffff; height:22px; line-height:22px; margin:-1px; /*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001; text-shadow:0px 1px 0 #8d0001;*/}
.box .title-brown 					{ padding: 0 5px 0px 10px; background:url(../images/title-bg-brown.png) no-repeat 0 0; border-radius: 3px 3px 3px 0; color:#ffffff; height:22px; line-height:22px; margin:-1px; /*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001; text-shadow:0px 1px 0 #8d0001;*/}
.box .day-brown 					{ padding: 0 5px 0px 30px; background:url(../images/day.png) no-repeat 0 0; border-radius: 3px 3px 3px 0; color:#000; line-height :29px; height:29px; margin:-1px; /*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001; text-shadow:0px 1px 0 #8d0001;*/ }
.box .Detail 						{ padding: 15px; color:#333; color:white}
.box .Detail p						{ margin:10px 0px;}
.box .Detail h6						{ font-weight:bold; color:#000;}
.box .Detail p em					{ font-family:SunSim; padding-right:5px;}
.Detail img 						{ height: auto;	max-width: 100%; border: 0 none; }
.red 								{ color:red }
.box_cylc p span					{ color:#ff6600;}

.remark								{ font-size:12px; color:#666666;}



.guide									{ position:fixed; top:0; left:0; z-index: 999; width:100%; height:100%;}
.guide_bg								{ position:relative; top:0px; left:0px; background:#000000; opacity: 0.7; width:100%; height:100%; }
.guide_mp								{ position:absolute; top:20px; right:0px; width:330px; height:228px; background:url("guide_mp.png") no-repeat; z-index:1000; }
.guide_friend							{ position:absolute; top:20px; right:0px; width:330px; height:228px; background:url("friend_share.png") no-repeat; z-index:1000; }

.guide_fd								{ display:none;}