/*==========以下部分是Validform必须的===========*/
.Validform_checktip						{ padding:5px 5px 5px 20px; line-height:20px; height:20px; overflow:hidden; color:#999; font-size:12px; margin-left:5px;  } 
.Validform_right						{ color:#71b83d; white-space:nowrap; background:url("onCorrect.png") no-repeat left center;}
.Validform_wrong						{ color:#ff0000; white-space:nowrap; background:url("onError.png") no-repeat left center;}
.Validform_loading						{ background:url("onLoad.gif") no-repeat left center;}
.Validform_error						{ background-color:#ffe7e7;}
.input-group .Validform_checktip		{ padding:5px 5px 5px 30px !important; background-position:10px center !important; margin-left:0px !important; }

.Validform_alert							{ position:fixed; top:150px; z-index:999; width:100%; margin:0px auto; text-align:center; }
.Validform_alert .Validform_checktip 		{ display:inline-block; font-size:14px; padding:10px 10px 10px 30px; background-color:rgba(0,0,0,0.7); border-radius:5px; background-position:10px center !important;}
.Validform_alert .Validform_wrong			{ color:#fff !important; background-image:url("onError_white.png");} 
.Validform_alert .Validform_right			{ color:#fff !important; background-image:url("onCorrect_white.png"); display:none !important; }  
.Validform_alert .Validform_tip				{ color:#fff !important; padding:10px 10px 10px 10px;}