@charset "utf-8";

html { 
color:black; 
} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
margin:0; 
padding:0; 
} 
body,button,input,select,textarea { 
font:12px SimSun,tahoma,arial,sans-serif; 
} 
input,select,textarea { 
font-size:100%; 
} 
table { 
border-collapse:collapse; 
border-spacing:0; 
} 
th { 
text-align:inherit; 
} 
fieldset,img { 
border:none; 
} 
iframe { 
display:block; 
} 
abbr,acronym { 
border:none; 
font-variant:normal; 
} 
del { 
text-decoration:line-through; 
} 
address,caption,cite,code,dfn,em,th,var { 
font-style:normal; 
font-weight:500; 
} 
ol,ul { 
list-style:none; 
} 
caption,th { 
text-align:left; 
} 
h1,h2,h3,h4,h5,h6 { 
font-size:100%; 
font-weight:500; 
} 
q:before,q:after { 
content:''; 
} 
sub, sup { 
font-size:75%; 
line-height:0; 
position:relative; 
vertical-align:baseline; 
} 
sup { 
top:-0.5em; 
} 
sub { 
bottom:-0.25em; 
} 
a:hover { 
text-decoration:underline; 
} 
ins,a { 
text-decoration:none; 
} 
a:focus,*:focus { 
outline:none; 
} 
.clearfix:before,.clearfix:after { 
content:""; 
display:table; 
} 
.clearfix:after { 
clear:both; 
overflow:hidden; 
} 
.clearfix { 
zoom:1; /* for IE6 IE7 */ 
} 
.clear{ 
clear:both; 
display:block; 
overflow:hidden; 
height:0; 
line-height:0; 
font-size:0; 
} 
.hide { 
display:none !important; 
visibility:hidden; 
} 
.block { 
display:block !important; 
} 
.fl { 
float:left; 
display:inline; 
} 
.fr { 
float:right; 
display:inline; 
} 




::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    background: #460000;
    height: 10px;
}



@media (max-width: 1600px) {
    body .box img {
        bottom: 9px;
    }
    body .option-bg {
        width: 248px;
        height: 278px;
    }
    body .options-bg {
        width: 235px;
        height: 180px;
        margin-left: -135px;
        margin-top: 70px;
    }
    body .option-prize img,
    body .option-num img {
        width: 43px;
        top: 13px;
    }
    body .option-prize select,
    body .option-num select {
        top: 7px;
        left: 4px;
        width: 135px;
        height: 29px;
        line-height: 29px;
        font-size: 16px;
    }
    body .option-num {
        top: 65px;
    }
    body .option-btn img {
        top: 16px;
        width: 85px;
    }
    body .option {
        margin-top: 26%;
        /*margin-left: 125px;*/
        margin-left: 50px;
    }
    body .reel1 {
        width: 287px;
    }
    body .reel {
        width: 301px;
        height: 458px;
    }
    body .reel-bg {
        width: 285px;
        height: 428px;
    }
    body .hand {
        width: 357px;
        height: 214px;
        margin-left: -139px;
        bottom: 293px;
    }
    body .hand1,
    body .hand2 {
        width: 284px;
        height: 188px;
    }
    body .head {
        width: 86px;
        height: 86px;
    }
    body .hand-name {
        font-size: 19px;
        bottom: -37px;
        left: 48px;
        width: 110px;
    }
    body .head {
        left: 109px;
    }
    body .reel ul img {
        width: 57px;
        height: 57px;
    }
    body .reel ul span {
        font-size: 15px;
        margin-top: 2px;
    }
    body .reel ul li {
        margin-bottom: 5px;
    }
    body .reel-list {
        margin: 40px auto 0 auto;
        height: 357px;
    }
    body .option-btn {
        bottom: 15px;
    }
    body .outBox {
        height: 645px;
    }
    @-webkit-keyframes hand-moving {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        40% {
            opacity: 1;
            -webkit-transform: rotate(-16deg) translate(-120px, 50px);
            -moz-transform: rotate(-16deg) translate(-120px, 50px);
            transform: rotate(-16deg) translate(-120px, 50px);
        }
        50% {
            opacity: 1;
            -webkit-transform: rotate(-26deg) translate(-120px, 65px);
            -moz-transform: rotate(-26deg) translate(-120px, 65px);
            transform: rotate(-26deg) translate(-120px, 65px);
        }
        60% {
            opacity: 1;
            -webkit-transform: rotate(-56deg) translate(-200px, 50px);
            -moz-transform: rotate(-56deg) translate(-200px, 50px);
            transform: rotate(-56deg) translate(-200px, 50px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate(35px, -120px);
            -moz-transform: translate(35px, -120px);
            transform: translate(35px, -120px);
        }
    }
    @keyframes hand-moving {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        40% {
            opacity: 1;
            -webkit-transform: rotate(-16deg) translate(-120px, 50px);
            -moz-transform: rotate(-16deg) translate(-120px, 50px);
            transform: rotate(-16deg) translate(-120px, 50px);
        }
        50% {
            opacity: 1;
            -webkit-transform: rotate(-26deg) translate(-120px, 65px);
            -moz-transform: rotate(-26deg) translate(-120px, 65px);
            transform: rotate(-26deg) translate(-120px, 65px);
        }
        60% {
            opacity: 1;
            -webkit-transform: rotate(-56deg) translate(-200px, 50px);
            -moz-transform: rotate(-56deg) translate(-200px, 50px);
            transform: rotate(-56deg) translate(-200px, 50px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate(35px, -120px);
            -moz-transform: translate(35px, -120px);
            transform: translate(35px, -120px);
        }
    }
}

/*.box-bg {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(box-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}*/

.box {
    width: 100%;
}

.box img {
    position: absolute;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    bottom: 13px;
    pointer-events: none;
}

.boxImg {
    z-index: 1000;
}

.boxLeft,
.boxRight {
    opacity: 0;
}

.boxFront {
    z-index: 2000;
}

.hand {
    display: none;
}

.hand1,
.hand2 {
    width: 389px;
    height: 263px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    bottom: 0;
}

.hand1 {
    background-image: url(hand.png);
}

.hand2 {
    background-image: url(handFront.png);
    z-index: 2000;
}

.head {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-left: -50px;
    bottom: -6px;
    left: 176px;
    z-index: 1500;
}

.hand {
    width: 500px;
    height: 300px;
    position: absolute;
    margin: 0 auto;
    z-index: 1500;
    bottom: 415px;
    left: 50%;
    margin-left: -250px;
}

.hand-name {
    position: absolute;
    font-size: 24px;
    color: #fff;
    font-family: "微软雅黑";
    bottom: -46px;
    left: 114px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 140px;
    text-align: center;
}

.head-box {
    opacity: 0;
    z-index: 1500;
}

.head-box img {
    box-shadow: 0 0 43px rgb(255, 255, 255);
    border-radius: 5px;
}

.box-moving .boxImg,
.box-moving .boxFront {
    opacity: 0;
}

@keyframes img1 {
    0% {}
    100% {
        opacity: 1;
    }
}

.box-moving .boxLeft {
    -webkit-animation: img2 0.5s linear infinite;
    animation: img2 0.5s linear infinite;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 0;
}

@-webkit-keyframes img2 {
    0% {}
    50% {
        opacity: 1;
    }
    100% {}
}

@keyframes img2 {
    0% {}
    50% {
        opacity: 1;
    }
    100% {}
}

.box-moving .boxRight {
    -webkit-animation: img3 0.5s linear infinite 0.25s;
    animation: img3 0.5s linear infinite 0.25s;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 0;
}

@-webkit-keyframes img3 {
    0% {}
    50% {
        opacity: 1;
    }
    100% {}
}

@keyframes img3 {
    0% {}
    50% {
        opacity: 1;
    }
    100% {}
}

.moving .hand {
    -webkit-animation: hand-moving 3s ease-in-out forwards;
    animation: hand-moving 3s ease-in-out forwards;
    -webkit-transition-property: all;
    transition-property: all;
    display: block;
    opacity: 0;
}

@media (min-width: 1601px) {
    @-webkit-keyframes hand-moving {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        40% {
            opacity: 1;
            -webkit-transform: rotate(-16deg) translate(-150px, 100px);
            -moz-transform: rotate(-16deg) translate(-150px, 100px);
            transform: rotate(-16deg) translate(-150px, 100px);
        }
        /*50% {
            opacity: 1;
            -webkit-transform: rotate(-26deg) translate(-150px, 120px);
            -moz-transform: rotate(-26deg) translate(-150px, 120px);
            transform: rotate(-26deg) translate(-150px, 120px);
        }*/
        60% {
            opacity: 1;
            -webkit-transform: rotate(-56deg) translate(-250px, 100px);
            -moz-transform: rotate(-56deg) translate(-250px, 100px);
            transform: rotate(-56deg) translate(-250px, 100px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate(50px, -150px);
            -moz-transform: translate(50px, -150px);
            transform: translate(50px, -150px);
        }
    }
    @keyframes hand-moving {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        40% {
            opacity: 1;
            -webkit-transform: rotate(-16deg) translate(-150px, 100px);
            -moz-transform: rotate(-16deg) translate(-150px, 100px);
            transform: rotate(-16deg) translate(-150px, 100px);
        }
        /*50% {
            opacity: 1;
            -webkit-transform: rotate(-26deg) translate(-150px, 120px);
            -moz-transform: rotate(-26deg) translate(-150px, 120px);
            transform: rotate(-26deg) translate(-150px, 120px);
        }*/
        60% {
            opacity: 1;
            -webkit-transform: rotate(-56deg) translate(-250px, 100px);
            -moz-transform: rotate(-56deg) translate(-250px, 100px);
            transform: rotate(-56deg) translate(-250px, 100px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate(50px, -150px);
            -moz-transform: translate(50px, -150px);
            transform: translate(50px, -150px);
        }
    }
}

.moving .head-box {
    -webkit-animation: head-box .1s ease-in-out forwards 1.5s;
    animation: head-box .1s ease-in-out forwards 1.5s;
    -webkit-transition-property: all;
    transition-property: all;
    z-index: 1500;
    opacity: 0;
}

@-webkit-keyframes head-box {
    0% {}
    100% {
        opacity: 1;
        z-index: 1500;
    }
}

@keyframes head-box {
    0% {}
    100% {
        opacity: 1;
        z-index: 1500;
    }
}

.reel {
    width: 422px;
    height: 642px;
    top: 0;
    left: 0;
    position: relative;
    float: right;
    margin-right: 2%;
    margin-top: 5%;
    overflow: hidden;
}

.reel1 {
    position: absolute;
}

.reel1 {
    left: 1px;
    top: -1px;
    width: 402px;
}

.reel2 {
    left: -33px;
    bottom: -52px;
}

.reel-bg {
    width: 400px;
    height: 600px;
    background-image: url(reel-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    position: relative;
    float: right;
    margin-right: 5%;
    margin-top: 10%;
    transform: -webkit-translateY(-547px);
    -moz-transform: translateY(-547px);
    transform: translateY(-547px);
}

.reel-moving .reel-bg {
    -webkit-animation: reel-moving 1.5s ease-in-out forwards;
    animation: reel-moving 1.5s ease-in-out forwards;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 1;
}

@-webkit-keyframes reel-moving {
    0% {
        -webkit-transform: translateY(-547px);
        -moz-transform: translateY(-547px);
        transform: translateY(-547px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes reel-moving {
    0% {
        -webkit-transform: translateY(-547px);
        -moz-transform: translateY(-547px);
        transform: translateY(-547px);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

.reel ul span {
    display: block;
    font-size: 18px;
    color: #272625;
    font-family: "微软雅黑";
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    margin-top: 4px;
}

.reel ul img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    border: 1px solid #c9a93b;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.reel ul li {
    width: 33%;
    text-align: center;
    float: left;
    margin-bottom: 15px;
    opacity: 0;
}

.reel-list {
    overflow: scroll;
    width: 80%;
    margin: 56px auto 0 auto;
    height: 500px;
}

.option {
    position: relative;
    width: 347px;
    float: left;
    margin-top: 29%;
    margin-left: 190px;
    font-size: 16px;
    color: #666666;
    font-family: "微软雅黑";
    z-index: 5000;
}

.option-bg {
    position: absolute;
    width: 347px;
    height: 388px;
    /*background-image: url(box-optionBg.png);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    float: left;
}

.options-bg {
    position: absolute;
    width: 242px;
    height: 227px;
    background-image: url(box-optionBtn.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    float: left;
    left: 50%;
    margin-left: -121px;
    margin-top: 93px;
}

.option-prize {
    position: absolute;
    width: 80%;
    padding: 0 10%;
}

.option-prize img {
    left: 5px;
    position: relative;
    top: 17px;
}

.option select {
    width: 125px;
    height: 35px;
    line-height: 35px;
    position: relative;
    top: 8px;
    left: 12px;
    color: #666;
    font-family: "微软雅黑";
    font-size: 18px;
}

.option option {
    height: 30px;
    line-height: 35px;
}

.option-num {
    position: absolute;
    width: 80%;
    padding: 0 10%;
    top: 82px;
}

.option-num img {
    left: 5px;
    position: relative;
    top: 17px;
}

.option-btn {
    position: absolute;
    display: block;
    bottom: 15px;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.option-btn img {
    position: relative;
    top: 7px;
    margin: 0 auto;
}

.option-btn {
    display: none;
}

.show {
    -webkit-animation: show 1s ease-in-out forwards;
    animation: show 1s ease-in-out forwards;
    -webkit-transition-property: all;
    transition-property: all;
}

@-webkit-keyframes show {
    0% {}
    100% {
        opacity: 1;
    }
}

@keyframes show {
    0% {}
    100% {
        opacity: 1;
    }
}

.reel-moving {
    overflow: hidden;
    ;
}

.btn-disabled {
    opacity: 0.6;
}

.outBox {
    width: 100%;
    float: left;
    height: 970px;
    position: relative;
}
