body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,blockquote,object,iframe,fieldset,input,legend,form,th,td{
    margin:0;
    padding:0;
    /*font-family:"微软雅黑";*/
}
body,input,textarea,keygen,select,button{font:14px/24px Verdana,Tahoma,"Lucida Grande","\5FAE\8F6F\96C5\9ED1";color:#333;word-break:break-all}
ul,ol,li{list-style:none}
html,body{background:#e7e7e7;font-size:100%;}

.clear-fix:after{display:block;clear:both;content:"";visibility:hidden;height:0;zoom:1;}
.clearBoth{clear:both}
a{text-decoration:none;outline:none; color:#333; list-style:none;}
a:hover{}
img{border:0;vertical-align:middle;}
input{border:none;outline:none;}

/*common*/
h1,h2,h3,h4,h5,h6{font-weight:normal}
h1{font-size:23px}
h2{font-size:20px}
h3{font-size:18px}
h4{font-size:12px}
i,b,em{font-style:normal;font-weight:normal}
table{border-collapse:collapse;border-spacing:0; width:100%; background:#fff}
td{padding:3px 5px;}
th{font-weight:normal; background:#e7f4fe; height:40px}
table,td,th{border:1px solid #ddd}
table caption{font-size:16px; text-align:left; padding-bottom:10px}

.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.mc{margin:0 auto;}
.pr{position:relative;*zoom:1;}
.pa{position:absolute;}
.tc{text-align:center;}
.tl{text-align:left !important;}
.tr{text-align:right !important;}
.rig-me{position:absolute;right:0;}


.cen{width:92%;margin:0 auto;}

.head-me{background:#1b1a1f;color:#fff;position:relative;}
.head-me .cen{padding:2% 0 2% 0;}
.head-me .title{padding:1% 0;line-height:54px;}
.head-me a{color:#fff;}
.head-me .return{width:20%;}
.head-me .return a{margin-right:4%;font-size:1.6rem;}
.head-me .return a i{margin-right:4%;font-size:1.6rem;}
.head-me .menu-right{width:20%;text-align:right;font-size:2.5rem;}
.head-me span{font-size:2.2rem;display:block;text-align:center;width:100%;position: absolute;left:50%;margin-left:-50%;}
.head-me .box-bot{position:relative;}
.head-me .box-bot form button{height:22px;width:22px;border:none;background:url("../images/ion.png");position: absolute;left:38%;top:15px;}
.head-me .box-bot form input{width:100%;text-indent:8px;font-family:"宋体";font-size:1.5rem;color:#b8b8b8;background:#fff;border-radius:50px;text-align:center;height:50px;}


.no{position:relative;z-index:1;}
.no ul{width:100%;}
.no ul li{float:left;width:50%;}
.no img{width:100%;}
.no img{width:100%;}
.no .dow{position:absolute;width:100%;}
.no .dow div{ width: 0;height: 0;border-left:14px solid transparent;border-right:14px solid transparent;border-top:14px solid #f25149;margin-left:23%;}
.no .dow-star div{margin-left:75%;border-left:14px solid transparent;border-right:14px solid transparent;border-top:14px solid #656565;}
.no .sold-pic li{width:100%;}



.block_home_slider .slide {position:relative;}
.block_home_slider .caption {padding:13px 16px 12px; position:absolute; left:0; right:0; bottom:0; text-align:left;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0 -1px #000000; line-height:17px;}
.block_home_slider .caption p.title {padding-bottom:6px; font-size:15px; color:#ffffff; font-weight:bold; line-height:normal;}
.block_home_slider .flex-direction-nav a {display:none;}
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging {padding-top:15px; display:inline-block;}
.block_home_slider .flex-control-paging li {margin: 0;padding: 0;float: left;overflow: hidden;list-style-type: none;  }
.block_home_slider .flex-control-paging li a {width:10px; height:10px; display:block; background-repeat:no-repeat;text-indent:-9000px; cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}

.block_home_post_feature {width:300px;}
.block_home_post_feature p {padding-bottom:0px;}


.flexslider {margin: 0; padding: 0;position:relative;}
.flex-control-nav{position:absolute;top:82%;left:50%;margin-left:-47px;}
.flex-control-nav li{}
.flex-control-nav li a{background:rgba(255,255,255,0.6);margin-right:10px;border-radius:12px;}
.flex-control-nav li a.flex-active{width:22px;height:8px;background:rgba(255,255,255,1);margin-top:1px;}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    list-style-type: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.main{margin-top:3%;}
.main .tie{margin-bottom:2%;width:40%;}
.main .speed-tie{width:100%;}
.main .tie img{width:100%;}
.main .tie .speed-ioc{}
.main .tie .speed-ioc i{float:left;}
.main .tie .speed-ioc div{float:left;font-style:oblique;font-size:1.5rem;line-height:34px;text-indent:6px;}
.main .tie .speed-ioc strong{font-size:1.2rem;line-height:34px;margin-left:6px;font-weight:normal;}
.main .sp-new{margin:2% 0;}
.main .tie .speed-time{font-size:1.2rem;width:196px;}
.main .tie .speed-time ul{width:100%;}
.main .tie .speed-time li{float:left;padding:0 1%;}
.main .tie .speed-time li div{background:#f25149;border-radius:5px;color:#fff;font-weight:normal;}
.main .mod-ity{background:#fff;border-bottom:1px solid #eaeaea;padding:3% 0;}
.main .mod-speed{border:none;padding:0;background:none;}
.main .mod-speed .cen{border-bottom:1px solid #eaeaea;padding:3% 0;}
.main .no-speed .cen{border:none}
.mod-ity .image{width:31%;}
.mod-ity .image img{width:100%;border-radius:6px;}
.mod-ity .mod-tex{width:64%;}
.mod-ity .mod-tex h3{font-size:1.6rem}
.mod-ity .mod-tex h3 span{padding:0 1%;}
.mod-ity .mod-tex .hie{color:#f25149;padding:5% 0;}
.mod-ity .mod-tex .hie .fl{border:#f25149 1px solid;padding:1% 2%;font-size:1.6rem;border-radius:5px;}
.mod-ity .mod-tex .hie .fr{font-size:2rem;}
.mod-ity .mod-tex .time{margin-bottom:5%;}
.mod-ity .mod-tex .time span{color:#909090;font-size:1.4rem;}
.mod-ity .mod-tex .time strong{color:#f25149;font-size:2rem;}
.mod-ity .mod-tex .time .no{position:relative;}
.mod-ity .mod-tex .time .no::before{content:"";position:absolute;left:50%;top:50%;border-bottom:1px solid #f25149;width:100%;margin-left:-50%;}
.mod-ity .mod-tex .num{}
.mod-ity .mod-tex .num .Hundred{background:#fbada8;width:100%;border-radius:14px;margin-bottom:6%;}
.mod-ity .mod-tex .num .Hundred div{width:85%;background:#f25149;border-radius:14px;text-align:center;font-size:1.2rem;}
.mod-ity .mod-tex .num .num-ber .Hundred div{color:#fff;}
.mod-ity .mod-tex .num .num-ber{width:40%;}
.mod-ity .mod-tex .num .num-ber div{color:#909090;}
.mod-ity .mod-tex .num .num-ber div span{color:#f95850;}
.mod-ity .mod-tex .num .ed{font-size:1.3rem;}
.mod-ity .mod-tex .time-new{}
.mod-ity .mod-tex .time-new .Hundred{background:#ccf3c6;}
.mod-ity .mod-tex .time-new .Hundred div{background:#63e64e;width:36%;}
.mod-ity .mod-tex .time-new .eq{}
.mod-tex .num .submit{background:#f95850;border-radius:5px;padding:3.2% 4%;}
.mod-tex .num .submit a{color:#fff;font-size:2rem;display:block;}
.mod-tex .num .submit-new{background:none;color:#9e9d9d;border:1px solid #9e9d9d;}
.mod-tex .num .submit-new a{color:#9e9d9d;}
.main .clock-title{background:#fff url("../images/del.jpg") 1.5% 0 repeat-y;}
.main .clock-tie{background:#fff url("../images/deh.jpg") 1.5% 0 repeat-y;}
.num-ber-new{}
.num-ber-new .value strong{color:#f25149;}

.mod-ity .mod-tex .num .num-ber-new{margin-top:2%;}
.mod-ity .mod-tex .num .num-ber-new .value .no{color:#bfbfbf;font-size:1.6rem;font-weight:normal;}
.mod-ity .mod-tex .num .num-ber-new{width:50%;}
.mod-ity .mod-tex .value strong{color:#f25149;font-size:2.3rem;font-weight:normal;}
.mod-ity .mod-tex .tim-new{padding:5% 0;}
.mod-ity .mod-tex .tim-new strong{color:#f25149;font-size:1.6rem;}
.mod-ity .mod-tex .tim-new span{color:#909090;font-size:1.1rem;}
.num-ber-new .value .no::before{content:"";position:absolute;left:50%;top:50%;border-bottom:1px solid #f25149;width:100%;margin-left:-50%;}
.mod-ity .mod-tex .num-b{font-size:1.2rem;padding-top:2%;}
.mod-ity .mod-tex .num-b .ed{color:#b0b0b0;}
.mod-ity .mod-tex .num-b .nu{color:#b0b0b0;}
.mod-ity .mod-tex .num-b .ed span{color:#f25149;}
.mod-ity .mod-tex .num-b .nu span{color:#f25149;}
.mod-start .num .submit{background:#63e64e;padding:1.3% 2% 0.8% 2%;}
.mod-start .num .submit i{display:inline-block;width:25%;margin-right:3%;}
.mod-start .num .submit i img{width:100%;}
.mod-start .num .submit a{font-size:1.6rem;}

.vip-bg{width:100%;position:relative;}
.vip-bg .con-ten{position:absolute;width:100%;}
/*.vip-bg::-webkit-scroll-bar{display:none;}*/
.vip-bg .top-place{}
.vip-bg .bg{position:absolute;width:100%;}
.vip-bg .bg img{width:100%;}
.vip-bg .con-ten .data{position:relative;width:34%;text-align: center;color:#fff;margin:5% auto 0 auto;}
.vip-bg .con-ten .data a{color:#fff;border:1px solid #fff;border-radius:5px;padding:1.5% 4%;font-size:1.5rem;}
.vip-bg .con-ten .data .ct{width:45%;margin:0 auto;border-radius:100%;overflow:hidden;}
.vip-bg .con-ten .data .ct img{width:100%;}
.vip-bg .con-ten .data h3{margin:14% 0;font-size:2rem;font-weight:normal;}
.vip-bg .con-ten .data .mit{}
.vip-bg .con-ten .icon{position:absolute;right:3%;top:10%;}
.vip-bg .con-ten .icon li{float:left;text-align:center;margin-left:20px;}
.vip-bg .con-ten .icon li img{width:80%;}
.vip-bg .con-ten .icon ul{position:relative;}
.vip-bg .con-ten .icon ul span{position:absolute;display:block;background:#f95850;color:#fff;text-align:center;border-radius:14px;padding:5px;font-size:0.9rem;height:10px;line-height:10px;left:30%;}

.bg-new{width:100%;}
.bg-new img{width:100%;}

.nav-bar{background:#f95850;}
.nav-bar ul{width:94%;margin:0 auto;padding:1.5% 0;text-align:center;}
.nav-bar ul li{float:left;color:#fff;width:33%;}
.nav-bar ul li a{display:block;width:150px;margin:0 auto;}
.nav-bar ul li a p{font-size:1.4rem;}
.nav-bar ul li a i{width:26%;margin:3% 2% 0 0;}
.nav-bar ul li a i img{width:90%;}
.nav-bar ul li .texts{line-height:1.4rem;text-align:center;}
.nav-bar ul li .texts strong{font-weight:normal;font-size:1.6rem;}
.nav-bar ul small{display:block;float:left;width:1px;height:38px;background:#fff;}
.nav-bar ul li a{color:#fff;}

.vip-main{margin:0;}
.list{}
.list .vip-me{background:#fff;margin-top:2%;}
.list .vip-me ul{padding:2% 0;}
.list .vip-me ul li{border-bottom:2px solid #f6f6f6;padding:2.5% 0;}
.list .vip-me ul li:last-child{border:none;}
.list .vip-me li a{}
.list .vip-me li a i{margin-right:6px;}
.list .vip-me li a strong{font-weight:normal;font-size:1.4rem;line-height:1rem;}
.list .vip-me li .icon{}
.list .vip-me li .num{color:#a7a7a8;font-size:1.4rem;line-height:1rem;}
.list .vip-me li .num i{margin-left:6px;}
.list .del{}

.head-me .order-none{padding-bottom:0;}
.head-me .order-none .title{padding:0 0;}
.nav-tie{color:#fff;}
.nav-tie .cen{padding:3% 0;font-size:1.4rem;font-weight:normal;text-align:center;position:relative;}
.nav-tie .cen::before{content:"";position:absolute;width:6px;height:6px;background:#fff;border-radius:6px;left:18%;top:50%;}
.cook{background:#fff;}
.cook p{font-size:1.5rem;padding:4% 0 3% 0;width:100%;}
.cook .ore-tex{border-bottom:2px solid #f6f6f6;}
.cook .icn-tex{font-size:1.4rem;padding:3% 0 8% 0;}
.cook .icn-tex i{display:inline-block;width:10%;margin:0 6px 0 0;}
.cook .icn-tex i img{width:100%;}
.cook .icn-tex strong{font-size:1.5rem;font-weight:normal;color:#f96760;margin-left:8px;}
.vip-me .icon{line-height:40px;}
.vip-me .num button{border:1px solid #f5b355;background:#f5b355;float:left;width:40px;height:40px;color:#fff;font-size:2rem;}
.vip-me .num button:nth-child(1){background:none;color:#f5b355;}
.vip-me .num span{color:#e4a243;float:left;line-height:40px;margin:0 10px;}
.cook .vip-me ul{padding:0 0 2% 0;}
.cook .vip-me li a strong{font-size:1.2rem;color:#a7a7a8;}
.cook .vip-me{margin-top:0;}
.cook .vip-me li .num-new{color:#1b1a1f;font-size:1.5rem;line-height:38px;}
.cook .list .vip-me li .icon{line-height:40px;}

.list .order-ite .num strong{font-weight:normal;font-size:1.2rem;border:1px solid #a7a7a8;color:#a7a7a8;border-radius:5px;}
.list .order-ite li a strong{font-size:1.2rem;color:#a7a7a8;}
.list .order-ite li .num{font-size:1.4rem;line-height:1.4rem;}
.list .order-ite li .pay{width:38%;}
.list .order-ite li .pay strong{font-size:1.3rem;display:block;width:43%;text-align:center;padding:3% 1%;float:left;margin-left:4%;}
.list .order-ite li .pay strong.ac{border:1px solid #f95850;color:#f95850;}

.list .vip-me li .branch{}
.list .vip-me li .branch div{color:#000;margin-bottom:2%;}
.list .vip-me li .branch p{font-size:1.2rem;text-align:right;}
.list .vip-me li .yan{}
.list .vip-me li .yan div{color:#f95850;}
.list .vip-me li .yan small{color:#000;margin:0 3px;}
.list .vip-me li .yan p{font-size:1.1rem;text-align:right;}

.del .icon{}
.del .icon input{font-size:1.3rem;color:#a7a7a8;}
.del .num{}
.del .num input{background:#f5b355;color:#fff;border-radius:5px;font-size:1.1rem;padding:2% 2%;width:120px;height:34px;}
.submit-or{width:100%;background:#f95850;text-align:center;margin-top:6%;}
.submit-or input{background:none;color:#fff;padding:3% 0;font-size:1.5rem;}

.details{margin-top:0;}
.details .tie{background:#fff;margin-bottom:0;}
.details .tie .cen{padding:2% 0;}
.details{width:100%;}
.details .speed-ioc span{color:#a7a7a7;}
.details .speed-ioc strong{color:#ff534c;}
.details .speed-ioc strong b{font-size:2.6rem;}
.details .speed-ioc strong small{font-size:2.1rem;}
.details .speed-ioc p{display:inline-block;background:#ff534c;color:#fff;border-radius:10px;padding:0 8px;font-size:1rem;}
.details .details-value{background:#fff;border-bottom:1px solid #e7e7e7;padding:0 0 2% 0;}
.details .details-value{color:#a7a7a7;}
.details .details-value .fl{font-size:1.2rem;}
.details .details-value .fl span{position:relative;}
.details .details-value .fl span::before{content:"";position:absolute;width:100%;border:1px solid #ff534c;left:0;top:50%;}
.details .details-value .fr{font-size:1.1rem;}
.details .details-value .fr b{color:#000;margin:0 2px;}
.details .details-value .fr b.no{color:#ff534c;}
.details .details-value .fr span{margin:0 4px;}
.details-tie{margin-bottom:2%;background:#fff;}
.details-tie{padding:2% 0;}
.details-tie i{}
.details-tie p.tie-im{padding:1% 0;width:100%;}
.details-tie p.tie-im i img{width:60px;}
.details-tie p span{font-size:1.5rem;text-align:center;}
.details-tie .tex{width:80%;margin:0 auto;font-size:1.1rem;}
.details-tie .tex p{display:block;width:90%;float:left;text-align:center;line-height:1.8rem}
.details-tie .tex span{float:left;}
.det-icon{background:#fff;text-align:center;}
.det-icon .cen{padding:3% 0;}
.det-icon ul li{float:left;width:33%;text-align:center;}
.det-icon ul li a{display:block;}
.det-icon ul li span.fl{margin:24% 0 0 10%;}
.det-icon div div{float:left;}
.det-icon img{width:100%;}
.det-icon .ico{width:24%;}
.det-icon .ico img{width:80%;}
.det-icon .ico p{font-size:1.1rem;color:#9a9a9a;margin-top:6%;}
.det-icon .boe{width:14%;height:100%;margin-top:8%;}
.det-icon .cen{width:70%;}
.det-icon .cen img{width:80%;}
.Texs{background:#fff;border-top:1px solid #e7e7e7;}
.Texs .cen{padding:3% 0;}
.Texs img{width:auto;}
.Texs h3{color:#f25149;margin-bottom:4%;font-size:1.4rem;}
.Texs ul li{margin-bottom:2%;font-size:1.2rem;padding-left:20px;background:url("../images/disc_03.jpg") no-repeat left center;}
.Texs ul li:nth-child(3){line-height:36px;background-position:left 14px;}
.Texs ul li span{color:#f25149;}
.derails-mer{background:#fff;margin-top:2%;}
.derails-mer .mer{border-bottom:1px solid #e7e7e7;padding:3% 0;}
.derails-mer .me-btn{width:100px;margin:0 auto;border:1px solid #cecece;text-align:center;font-size:1.2rem;;height:42px;}
.derails-mer .me-btn a{display:block;width:90px;height:32px;line-height:32px;margin:4px auto 0 auto;border:1px solid #cecece;}
.derails-mer .me-btn-new{width:150px;}
.derails-mer .me-btn-new a{width:140px;}
.derails-mer .me-tex{}
.derails-mer .me-tex .cen{padding:3% 0;}
.derails-mer .me-tex .mer-del{background:#ff534c;width:60px;height:60px;border-radius:100%;text-align:center;margin-top:2%;}
.derails-mer .me-tex .mer-del img{width:44%;margin-top:20%;}
.derails-mer .me-tex ul{}
.derails-mer .me-tex ul li{margin-bottom:1%;font-size:1rem;color:#5c5c5c;}
.derails-mer .me-tex-new{padding:2%;border-bottom:1px solid #e7e7e7;}
.derails-mer .me-tex-new ul li{color:#2b2b2b;font-size:1.1rem;}
.derails-mer .me-tex-new ul li div{margin-top:3%;}
.derails-mer .me-tex-new ul li div strong{font-size:1.2rem;}
.derails-mer .me-tex-new ul li div span{color:#cecece;font-size:1rem;}
.derails-mer .me-tex-new ul li a .tex strong{color:#ff534c;font-weight:normal;}
.text-img{}
.text-img .image{width:100%;text-align:center;padding:6% 0;}
.text-img .image img{width:50%;}
.text-img .bar{width:100%;}
.text-img .bar img{width:100%;}
.text-img .no-bor{border:none;}

.sxis{width:100%;background:#656565;}
.sxis ul{width:94%;margin:0 auto;}
.sxis ul li{width:33%;text-align:center;line-height:1rem;padding:2% 0;}
.sxis ul li.ac{background:#f25149;}
.sxis ul li a{color:#fff;}
.sxis .dow div{margin-left:46%;}
.is-top{margin-top: 0%;}



.footer .cen{padding:5% 0 2% 0;}
.footer .cen ul{width:100%;text-align:center;}
.footer .cen li{width:20%;float:left;}
.footer .cen li div{padding:2%;}
.footer .cen li a{display:block;margin:0 auto;background:#f00;width:60px;height:60px;}
.footer .cen li:nth-child(1) a{background:url("../images/nav-bar_03.png") no-repeat;background-size:100%;}
.footer .cen li:nth-child(2) a{background:url("../images/nav-bar_05.png") no-repeat;background-size:100%;}
.footer .cen li:nth-child(3) a{background:url("../images/nav-bar_07.png") no-repeat;background-size:100%;}
.footer .cen li:nth-child(4) a{background:url("../images/nav-bar_12.png") no-repeat;background-size:100%;}
.footer .cen li:nth-child(5) a{background:url("../images/nav-bar_09.png") no-repeat;background-size:100%;}

.footer .cen li.ac:nth-child(1) a{background:url("../images/nav-bar_19.png") no-repeat;background-size:100%;}
.footer .cen li.ac:nth-child(2) a{background:url("../images/nav-bar_21.png") no-repeat;background-size:100%;}
.footer .cen li.ac:nth-child(3) a{background:url("../images/nav-bar_23.png") no-repeat;background-size:100%;}
.footer .cen li.ac:nth-child(4) a{background:url("../images/nav-bar_25.png") no-repeat;background-size:100%;}
.footer .cen li.ac:nth-child(5) a{background:url("../images/nav-bar_27.png") no-repeat;background-size:100%;}
.footer .cen li p{padding:2% 0;font-size:1.1rem;color:#505050;}
.footer .cen li img{width:60%;}





















