{template 'common/header'}

<div class="main">

	<form action="" method="post" class="form-horizontal form">
<div class="panel panel-default">
  <div class="panel-heading">参数设置(有默认自带的appid和secret，也可以去申请)</div>
  <div class="panel-body">
    <table class="tb">



		  <th width="85">appid：</th>

		  

		  <td>

			<input name="appid" type="text" value="{$settings['appid']}" class="form-control" />

			<span class="help-block">这里是appid</span>

		  </td>

	      </tr>
	      <th width="85">secret：</th>

		  

		  <td>

			<input name="secret" type="text" value="{$settings['secret']}" class="form-control" />

			<span class="help-block">这里是secret(<a href="https://www.showapi.com/api/lookPoint/341">去这里申请</a>)</span>

		  </td>

	      </tr>

		  

		 

	      </tr>
              


			

		</table>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">分享设置</div>
  <div class="panel-body">
  <div class="form-group">
    <label for="exampleInputEmail1">分享标题</label>
    <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="" value="{$settings['title']}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">分享图片</label>
    {php echo tpl_form_field_image('pic',$settings['pic']);}
  </div> 
  <div class="form-group">
    <label for="exampleInputPassword1">分享描述</label>
    <textarea name="desc" class="form-control" rows="3">{$settings['desc']}</textarea>
  </div>
  

  </div>
</div>

		<tr>

				<th></th>

				<td>

					<input type="hidden" name="token" value="{$_W['token']}" />

					<input name="submit" type="submit" value="保存" class="btn btn-primary span3" />

					

				</td>

			</tr>

	</form>

</div>

{template 'common/footer'}