<html>
<head>
    <title>{php echo empty($title)?'':$title;}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv=Pragma content=no-cache>
    <meta http-equiv=Cache-Control content=no-cache>
    <meta http-equiv=Expires content=0>
    <link rel="stylesheet" href="{AMOUSE_BIZ_NAV_RES}css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="{AMOUSE_BIZ_NAV_RES}css/app.min.css" type="text/css"/>
    <link rel="stylesheet" href="{AMOUSE_BIZ_NAV_RES}css/weui.min.css" type="text/css"/>
    <link rel="stylesheet" href="{AMOUSE_BIZ_NAV_RES}css/sweetalert.css" type="text/css"/>
    {php echo register_jssdk(false);}
</head>
<body ontouchstart="">