body{
	background-color:#F1F1F1;
}
.su_banner{
	width: 100%;
	position: relative;
}

.contianer_swiper{
	width: 100%;
	position: relative;
}

.swiper-container {
    width: 100%;
} 

.swiper-container img {
    display: block;
    width: 100%;
}

.weui-icon-cancel{
	font-weight: bold;
}
.su_bd{
	position: relative;
	width: 100%;
	padding: 10px 10px;
	
}

.su_input_text{
	width: 100%;
	position: relative;
	padding: 0 15px;
	margin-bottom: 40px;	
	margin-top: 15px;
}
.su_input_text>label{
	display: block;
	width: 100%;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	height: 30px;
}

.su_input_text>.su_number{
	display: block;
	width: 100%;
	height:35px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-size: 15px;
	text-indent: 10px;
	lighting-color: red;
	border-radius:6px;
}
.weui-uploader__bd{
	padding-left: 2%;
}
.su_number:focus{
	outline: none;
}
.su_submit{
	margin-top: 15px;
}
.weui-uploader__title{
	font-weight: bold;
}

.liclose{
	position: absolute;
	right: -13px;
	top: -12px;
}
.ulclass{
	padding-top: 10px;
}

.su_bg{
	width: 100%;
	min-height: 100%;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	z-index: 99;
	display: none;
}

.su_bg>img{
	display: block;
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	width: 100%;
}
.btn_01{
	background: #347EED;
}






