html {font-size:26px;height:100%;}
body{width:100%;height:100%;margin:0 auto;font-family:"microsoft yahei",Helvetica;line-height:1.5em;background-color:#fff;color:#333;} 
a{color:#333;}
/* a:hover{color:#333;} */
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #D6D0CA !important;}
input:-moz-placeholder,textarea:-moz-placeholder {color: #D6D0CA !important;}
input::-moz-placeholder,textarea::-moz-placeholder {color: #D6D0CA !important;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: #D6D0CA !important;}
.w-640{width:640px;margin:0 auto;}
body,dl,dt,dd,ul,ol,li,pre,h1,h2,h3,h4,h5,h6,p,code,form,fieldset,legend,input,textarea,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;vertical-align:bottom;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,textarea,select{vertical-align:middle;*font-size:100%;}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:none;}
legend{color:#000;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
address,cite,dfn,optgroup,em,var{font-style:normal;}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace;}
a:visited{text-decoration:none;outline:none;}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
.clearfix{clear:both;zoom:1;}
.clearfix:after{clear:both;display:block;content:"\0020";visibility:hidden;height:0;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.f32{font-size:32px;}
.fb{font-weight:bold;}
.fl{float:left;}
.fr{float:right;}
.float-none{float:none;}
.show{display:block;}
.hide{display:none;}
.hand{cursor:pointer;}
.padding-none{padding:0;}
.margin-none{margin:0;}
.shadow-none{box-shadow:none;}
.radius-none{border-radius:none;}
.border-none{border:none;}
.b-none{border:none;}
.br-none{border-right:none;}
.bl-none{border-left:none;}
.bt-none{border-top:none;}
.bb-none{border-bottom:none;}
.bg-none{background:none;}
.w100{width:100%;}
.h100{height:100%;}
.w-auto{width:auto;}
.h-auto{height:auto;}
.p-relative{position:relative;}
.p-absolute{position:absolute;}
.p-fixed{position:fixed;}
.p-static{position:static;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.p10{padding:10px;}
.p20{padding:20px;}
.t-left{text-align:left;}
.t-right{text-align:right;}
.t-center{text-align:center;position: absolute;bottom: 16px;width: 100%;font-size:20px;}
.line2em{line-height:2em;}
.bgf{background-color: #fff;}
.index-page{height: 101%;background-size: 640px 100%;}
.index-page a.go {
    display: block;
    color: #fff;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 70%;
    box-shadow: 0px 4px 10px #333;
    -webkit-animation:fade 2s ease-in-out infinite alternate;
    animation: fade 2s ease-in-out infinite alternate;
}
@-webkit-keyframes fade {
from {background: #EC3C05;}
to {background:#F4A908;}
}
@keyframes fade {
from {background: #EC3C05;}
to {background:#F4A908;}
}
.nav-page{height: 101%;background-size: 640px 100%;}
.nav-page a.backhome {
    display: block;
    color: #fff;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 10%;
    box-shadow: 0px 4px 10px #333;
	background-color: #0B95CE;
	padding: 0;
}
.nav-page a{display: block;position: absolute;color: #fff; height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
	padding: 0px 40px;
}

.cont-page{background: url(icon013.png) center top no-repeat #005192;padding-top: 360px;height: auto;padding-bottom:100px;}
.cont-page .tips{color:#fff;background-color: #EC3C05;height: 60px;line-height: 60px;width: 520px;text-align: center;
	border-radius: 20px;position: relative;
left: 50%;-webkit-transform:translateX(-50%); margin-bottom:80px; }
.cont-page  .content{color:#fff;padding: 20px 30px;}
.cont-page  .content p{color:#fff !important;}
.cont{width: 580px;border-radius: 20px;position: relative;margin: 0 auto;}
.cont .title{width: 340px;position: absolute;left: 50%;-webkit-transform:translateX(-50%);
height: 60px;line-height: 60px;text-align: center;top:-30px;border-radius: 20px;}
.cont a{display: block;}
.zhinan-page .cont{background: url(icon005.png) center  no-repeat  #057AC9;}
.cont .list{position: absolute;display: block;width: 220px;overflow: hidden;}
.cont .list img{width: 220px;height: 170px;}
.cont .list p{color:#fff;}
.cont .wzfw{left: 30px;top: 60px;}
.cont .bjfw{left: 330px;top: 180px;}
.cont .jtzn{left: 30px;top: 310px;}
.cont .tczn{left: 330px;top: 450px;}
.zhinan-page{background: url(icon006.png) center top no-repeat #005192;padding-top: 350px;height: auto;padding-bottom:100px;}
.bot-nav{height: 40px;padding: 20px 0;width: 100%;position: fixed;line-height: 40px;bottom: 0;left: 0;z-index: 999;}
.bot-nav a{width: 50%;display: block;box-sizing:border-box;text-align: center;float: left;}
.bot-nav a.home{border-left: none;}
.news-page{height: auto;padding-bottom:100px;}
.news-page .news-cont{padding: 60px 20px 0;}
.news_list_img {width: 120px;height: 120px;}
.news-page .news-cont .news-info{width:420px;color:#fff; }
.news-page .news-cont a{margin-bottom: 20px;padding-bottom:15px;border-bottom:1px dashed #CCCACB}
.news-page .news-cont .summary{color:#CCCACB;font-size:20px;line-height: 1.5em;}
.news-page .news-cont .heading{color:#ffff;font-size:26px;line-height: 1.7em;height:90px;overflow:hidden;}
.news-page .news-contcc{padding: 60px 0px 0;}
.news-page .news-contcc img{width: 150px;height: 120px;}
.news-page .news-contcc .news-info{width:370px;color:#fff; }
.news-page .news-contcc

a{margin-bottom: 20px;padding-bottom:15px;border-bottom:1px dashed #CCCACB}
.support{
	width:240px;
	overflow:hidden;
	margin:15px 7px 0 31px;
}
.news-page .support img{
	width:100%;
}
.news-page .support h3 {
	height:50px;
	line-height:50px;
    font-size: 20px;
    font-weight: bold;
	color:#FFF;
	text-align:center;
}
.faq-page{background: url(icon013.png) center top no-repeat #005192;padding-top: 400px;height: auto;padding-bottom:100px;}
.news-page .news-cont{padding: 60px 10px 0 15px;color:#fff;line-height: 2em;}
.biaoti{margin-top:-40px;margin-bottom:10px;font-size:32px;border-bottom:1px dashed #ffffff;padding-bottom:10px;}
.tijiao{width: 98%;height: 70px;line-height: 70px;text-align: center;border-radius: 20px;clear:both;font-size:30px;border:0px;}
.img100 img{width:100%;}