{template 'common/header'}


<div class="panel panel-info">

    <div class="panel-heading">
        项目管理
    </div>

    <div class="panel-body">
          {template 'admin/project/tab'}

      <div class="tab-content">
          <div>

            <table class="table text-center">


                 <tr>
                   <td width='5%'>排序</td>
                   <td width='5%'>ID</td>
                   <td width='3%'>logo</td>
                   <td>项目名称</td>
                   <td>项目组件</td>
                   <td width='10%'>子项目</td>
                   <td>创建时间</td>
                   <td>操作</td>
                 </tr>

                 {loop $list $row}
                 <tr>
                    <td><input type="text" class='rank' style="width:32px;text-align:center;border-raidus:5px;" data-id="{$row['id']}" value="{$row['rank']}"  ></td>
                   <td>{$row['id']}</td>
                   <td><img src="{php echo tomedia($row['project_logo'])}" width="100%"></td>
                   <td>{$row['project_name']}</td>
                   <td>
                      <label class='label label-{if $row["project_plus1"]==1}primary{else}default{/if}'>支持者地址</label>
                      <label class='label label-{if $row["project_plus2"]==1}primary{else}default{/if}'>隐私项目</label>
                      <label class='label label-{if $row["project_plus3"]==1}primary{else}default{/if}'>清单列表</label>
                      <label class='label label-{if $row["project_plus4"]==1}primary{else}default{/if}'>回报方式</label>
                   </td>
                   <td >
                     <a href='{php echo $this->createWebUrl("project",array("display"=>"add","action"=>"son","pre_id"=>$row["id"]))}' class="btn btn-xs btn-success">加</a>
                   </td>
                   <td>{php echo date('Y-m-d H:i:s',$row['upbdate'])}</td>
                   <td>
                     <a href="{php echo $this->createWebUrl('project',array('action'=>'e_project','id'=>$row['id'],'display'=>'add'))}" class="btn btn-info btn-xs">编辑</a>
                     <!-- <a href="{php echo $this->createWebUrl('project',array('display'=>'ques','pid'=>$row['id']))}" class="btn btn-xs btn-success">相关问题</a> -->
                     <a href="{php echo $this->createWebUrl('project',array('dopost'=>'del_pro','pid'=>$row['id']))}" onclick="return confirm('确定删除吗?')"  class='btn btn-danger btn-xs'>删除</a>
                   </td>
                 </tr>
                 {php $_list2 = _getson($row['id'])}
                 {loop $_list2 $row2}
                 <tr>
                  <td><input type="text" class='rank' style="width:32px;text-align:center;border-raidus:5px;" data-id="{$row2['id']}" value="{$row2['rank']}"  ></td>
                   <td>{$row2['id']}</td>
                   <td><img src="{php echo tomedia($row['project_logo'])}" width="100%"></td>
                   <td>{$row2['project_name']}</td>
                   <td>
                      <label class='label label-{if $row2["project_plus1"]==1}primary{else}default{/if}'>支持者地址</label>
                      <label class='label label-{if $row2["project_plus2"]==1}primary{else}default{/if}'>隐私项目</label>
                      <label class='label label-{if $row2["project_plus3"]==1}primary{else}default{/if}'>清单列表</label>
                      <label class='label label-{if $row2["project_plus4"]==1}primary{else}default{/if}'>回报方式</label>
                   </td>
                   <td >
                     <a href='' class="btn btn-xs btn-info">子[{$row['project_name']}]</a>
                   </td>
                   <td>{php echo date('Y-m-d H:i:s',$row['upbdate'])}</td>
                   <td>
                     <a href="{php echo $this->createWebUrl('project',array('action'=>'e_project','id'=>$row2['id'],'display'=>'add'))}" class="btn btn-info btn-xs">编辑</a>
                     <!-- <a href="{php echo $this->createWebUrl('project',array('display'=>'ques','pid'=>$row2['id']))}" class="btn btn-xs btn-success">相关问题</a> -->
                     <a href="{php echo $this->createWebUrl('project',array('dopost'=>'del_pro','pid'=>$row2['id']))}" onclick="return confirm('确定删除吗?')" class='btn btn-danger btn-xs'>删除</a>
                   </td>
                 </tr>
                 {/loop}
                 {/loop}
            </table>

          </div>
    </div>

    </div>
</div>

<script>
  $(function(){
    $(document).on('blur','.rank',function(){
        var id = $(this).attr('data-id');
        var rank = $(this).val();
        $.ajax({
            url:"{php echo $this->createWebUrl('project')}",
            type:"post",
            data:{
              id:id,
              dopost:'uprank',
              rank:rank
            }
        })
    })
  })
</script>
