#cate8 .quickmenu2 {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align:center;
	overflow: hidden;
}

#cate8 .quickmenu2 .icon2{width:18%;height:80px;display: inline-block;font-size: 12px;color: black;}

#cate8 .wz08menu li {
	width: 25%;
	float: left;
	overflow: hidden;
    background:#75c13b;
	border-radius: 0px;
	margin:1px;
}


#cate8 .wz08menu li a {
	padding: 0px;
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#cate8 .wz08menu li .wz08img {
	overflow: hidden;
	position: relative;
}

#cate8 .wz08menu li img{float:right; margin-top:40px; width:35px; margin-right:10px;}

#cate8 .wz08menu li .menutitle {
	text-align: center;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	top: 5px;
	width: 40px;
	font-weight:bold;
	display: block;
}

#cate8 .wz08menu li:nth-child(1) {
    background:#01adc5;
    width: 48%;
	height:150px;
}
#cate8 .wz08menu li:nth-child(1) img{float:right; margin-top:80px; margin-right:10px;}


#cate8 .wz08menu li:nth-child(2) {
    background:#ec7815;
    width: 25%;
	padding-bottom:11px;
}
#cate8 .wz08menu li:nth-child(2) img{float:right; margin-top:40px; width:35px; margin-right:10px;}
#cate8 .wz08menu li:nth-child(3) {
    background:#ecac02;
    width: 25%;
	padding-bottom:11px;
}
#cate8 .wz08menu li:nth-child(3) img{float:right; margin-top:40px; width:35px; margin-right:10px;}
#cate8 .wz08menu li:nth-child(4) {
    background:#3064d2;
    width: 49.6%;
	padding-bottom:28px;
	padding-left:3px;
}
#cate8 .wz08menu li:nth-child(4) img{float:right; margin-top:40px; width:35px; margin-right:10px;}
#cate8 .wz08menu li:nth-child(5) {
	background:#9454ab;
    width: 48%;
	position:relative;
	top:-41px;
	padding-bottom:28px;
}
#cate8 .wz08menu li:nth-child(5) img{float:right; margin-top:80px; margin-right:10px;}
#cate8 .wz08menu li:nth-child(6) {
    background:#00b0c4;
    width: 49.6%;
	padding-bottom:27px;
	padding-left:3px;
}
#cate8 .wz08menu li:nth-child(6) img{float:right; margin-top:40px; width:35px; margin-right:10px;}
#cate8 .wz08menu li:nth-child(7) {
    background:#77c03b;
    width: 49.9%;
	padding-bottom:10px;
	padding-left:3px;
}
#cate8 .wz08menu li:nth-child(7) img{float:right; margin-top:40px; width:35px; margin-right:10px;}
#cate8 .wz08menu li:nth-child(8) {
    background:#75c13b;
    width: 48%;
	padding-bottom:10px;
	position:relative;
	top:-87px;
}
#cate8 .wz08menu li:nth-child(8) img{float:right; margin-top:40px; width:35px; margin-right:10px;}
#cate8 .wz08menu li:nth-child(9) {
    width: 49.9%;
	padding-bottom:10px;
	padding-left:3px;
}
#cate8 .wz08menu li:nth-child(10) {
    width: 48%;
	padding-bottom:10px;
	position:relative;
	top:-87px;
}
#cate8 .wz08menu li:nth-child(11) {
    width: 49.9%;
	padding-bottom:10px;
	padding-left:3px;
}
#cate8 .wz08menu li:nth-child(12) {
    width: 48%;
	padding-bottom:10px;
	position:relative;
	top:-87px;
}
#cate8 .wz08menu li:nth-child(13) {
    width: 49.9%;
	padding-bottom:10px;
	padding-left:3px;
}
#cate8 .wz08menu li:nth-child(14) {
    width: 48%;
	padding-bottom:10px;
	position:relative;
	top:-87px;
}
#cate8 .wz08menu li:nth-child(15) {
    width: 49.9%;
	padding-bottom:10px;
	padding-left:3px;
}
#cate8 .wz08menu li:nth-child(16) {
    width: 48%;
	padding-bottom:10px;
	position:relative;
	top:-87px;
}
#cate8 .wz08menu li:nth-child(17) {
    width: 49.9%;
	padding-bottom:10px;
	padding-left:3px;
}
#cate8 .wz08menu li:nth-child(18) {
    width: 48%;
	padding-bottom:10px;
	position:relative;
	top:-87px;
}
#cate8 .wz08menu li:nth-child(19) {
    width: 49.9%;
	padding-bottom:10px;
	padding-left:3px;
}
#cate8 .wz08menu li:nth-child(20) {
    width: 48%;
	padding-bottom:10px;
	position:relative;
	top:-87px;
}