{php defined('IN_IA') or exit('Access Denied');}
{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $op == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('Putong', array('op' => 'post'))}"><i class="fa fa-wechat"></i>编辑活动</a></li>
	<li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('Putong', array('op' => 'display'))}"><i class="fa fa-cog"></i>活动管理</a></li>
</ul>
{if $foo == 'daoru'}
<div class="main">
	<div class="panel panel-info form-group">
		<div class="panel-heading form-group clearfix"> </div>
		<div class="panel-body">
		
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading"> </div>
		<div class="panel-body">

		</div>
	</div>
</div>
{elseif $op == 'display'}
<style>
.label{cursor:pointer;}
</style>
<div class="main">
  <div class="panel panel-info">	
	<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form action="./index.php" method="get" class="form-horizontal" role="form">
            <input type="hidden" name="c" value="site" />
            <input type="hidden" name="a" value="entry" />
			<input type="hidden" value="han_hongbao" name="m">
			<input type="hidden" value="putong" name="do">
			<input type="hidden" value="display" name="op">
			<input type="hidden" name="token" value="{$_W['token']}" />
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">活动名称</label>
				<div class="col-sm-8">
						<input type="text" placeholder="关键字" value="{$_GPC['keyword']}" id="" name="keyword" class="form-control">
				</div>				
			</div>
			<div class="form-group">
				<div class="pull-right col-xs-12 col-sm-2 col-lg-1">
					<button class="btn btn-block"><span class="icon icon-search"></span> 搜索</button>				
				</div>
			</div>
			</form>	
		</div>
	</div>
  </div>
  <div class="panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="text-align:center; width:100px;">活动名称</th>
                    <th style="text-align:center; width:100px;">粉丝昵称</th>
					<th style="text-align:center; width:130px;">openid</th>
					<th style="text-align:center; width:60px;">领取金额</th>
					<th style="text-align:center; width:100px;">领取时间</th>
					<th style="text-align:center; width:60px;">状态</th>
					<th style="text-align:center; width:130px;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $row}
				<tr  style="text-align:center;">
                   <td style="text-align:center;">{$row['arc_name']}</td>				
				   <td style="text-align:center;">{$row['nick_name']}</td>
				   <td style="text-align:center;">{$row['openid']}</td>
				   <td style="text-align:center;">{php echo $row['get_money']*0.01}元</td>
					<td style="text-align:center;">{php echo date('Y-m-d H:i:s', $row['get_time'])}</td>
					<td>
					{if $row['get_status']=='SUCCESS'}<span class="label label-success">成功</span>{else}<span class="label label-info">失败</span>{/if}
					</td>		
					<td>
                    {php $dlink=$this->createWebUrl('Putong', array('op' => 'delete','id' => $row['id']))}
					<a href="{$dlink}" onclick="return confirm(此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除该活动记录？！"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}	
			</tbody>
		</table>
		{$pager}
	</div>
  </div>
</div>
{elseif $op == 'post'}
{template 'ptform'}

<script type="text/javascript">
	function tokenGen(abc) {
		var letters = 'abcdefghijklmnopqrstuvwxyz0123456789';
		var token = '';
		for(var i = 0; i < 32; i++) {
			var j = parseInt(Math.random() * (31 + 1));
			token += letters[j];
		}
		$(':text[name="'+abc+'"]').val(token);
	}
	function oCopy(abc){
		var obj=document.getElementById(abc);
		obj.select();
		document.execCommand("Copy");
		alert("复制成功!");
	}
</script>
{/if}
{template 'common/footer'}
