
.box{width: 70px;float: left;margin-left: 35px;}
.box-item:nth-child(1)
{
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:35px;
	line-height: 90px;
	text-align: center;
	background: #c84090;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box-item:nth-child(2){
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:45px;
	line-height: 90px;
	text-align: center;
	background: #ffce3a;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box-item:nth-child(3)
{
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:45px;		
	line-height: 90px;
	text-align: center;
	background: #54dde9;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box-item:nth-child(4)
{
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:45px;		
	line-height: 90px;
	text-align: center;
	background: #ba9bfb;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box-item:nth-child(5)
{
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:45px;		
	line-height: 90px;
	text-align: center;
	background: #f39902;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box1-item:nth-child(1)
{
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:102px;
	line-height: 90px;
	text-align: center;
	background: #ff7b99;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box1-item:nth-child(2)
{
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:45px;
	line-height: 90px;
	text-align: center;
	background: #43ddb6;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box1-item:nth-child(3)
{
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:45px;		
	line-height: 90px;
	text-align: center;
	background: #60befb;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box1-item:nth-child(4)
{
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:45px;		
	line-height: 90px;
	text-align: center;
	background: #6064fb;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box1-item:nth-child(5)
{
	display: block;
	overflow:hidden; 
	width: 90px;
	height: 90px;
	margin-top:45px;		
	line-height: 90px;
	text-align: center;
	background: #fb8160;
	color: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform:rotate(45deg);
}
.box .box-item span
{
	color:{$_W['styles']['fontnavcolor']}; 
	display:inline-block; 
	width:95%; 
	margin:10px 0 0 10px;
	vertical-align:middle; 
	overflow:hidden;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform:rotate(-45deg);
}
.box1 .box1-item span
{
	color:{$_W['styles']['fontnavcolor']}; 
	display:inline-block; 
	width:95%; 
	margin:10px 0 0 10px;
	vertical-align:middle; 
	overflow:hidden;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform:rotate(-45deg);
}
.box .box-item i
{
	display:block; 
	width:35px; 
	height:35px; 
	font-size:35px; 
	line-height:35px; 
	position:absolute; 
	margin:15px 0 0 15px;  
	background-size:cover; 
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform:rotate(-45deg);
}
.box1 .box1-item i
{
	display:block; 
	width:35px; 
	height:35px; 
	font-size:35px; 
	line-height:35px; 
	position:absolute; 
	margin:15px 0 0 15px;
	background-size:cover; 
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform:rotate(-45deg);
}
.footer1{
	width:100%; 
	height:40px;
	position:absolute;
	bottom:0; 
	overflow:hidden;
}