.mloading-bar {
    width: 250px;
    min-height: 22px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 20px 15px;
    font-size: 14px;
    color: #000;
    position: absolute;
    top: 48%;
    left: 50%;
    margin-left: -140px;
    margin-top: -30px;
    word-break: break-all;
	z-index:999;
	display:none;
}
#overlay{
	background:#000;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	display:none;
}