{template 'common/header'}
<DIV id="new">
<style>
#new a{margin-left:10px;}
.btn-group{margin-top:5px;}
</style>
<A class="btn btn-primary btn-sm" href="{php echo '../app/'.$this->createMobileUrl('Index',array('rid'=>$id))}" target="__blank"><i class="fa fa-edit"></i>查看上墙内容入口</A> 
<a class="btn btn-warning btn-sm" href="{php echo $this->createWebUrl('manage',array('type'=>'delete','del'=>'all','id'=>$id))}" onclick="return confirm('清空所有墙内内容，将无法恢复，确认吗？');return false;"><i class="fa fa-times"></i>清空墙内内容</a>      

<a class="btn btn-warning btn-sm" href="{php echo $this->createWebUrl('manage',array('type'=>'delete','del'=>'allperson','id'=>$id))}" onclick="return confirm('清空所有录入的人数，将无法恢复，确认吗？');return false;"><i class="fa fa-times"></i>清空录入的总人数</a>         

<a class="btn btn-warning btn-sm" href="{php echo $this->createWebUrl('manage',array('type'=>'reset','del'=>'yyy','id'=>$id))}" onclick="return confirm('清空所有摇一摇数据，将无法恢复，确认吗？');return false;"><i class="fa fa-times"></i>重置摇一摇</a>
<a class="btn btn-warning btn-sm" href="{php echo $this->createWebUrl('manage',array('type'=>'delete','del'=>'yyy','id'=>$id))}" onclick="return confirm('清空所有摇一摇数据，将无法恢复，确认吗？');return false;"><i class="fa fa-times"></i>清空摇一摇</a>
<a class="btn btn-warning btn-sm" href="{php echo $this->createWebUrl('manage',array('type'=>'reset','del'=>'vote','id'=>$id))}" onclick="return confirm('清空所有投票票数数据，将无法恢复，确认吗？');return false;"><i class="fa fa-times"></i>重置投票数目</a>
<a class="btn btn-warning btn-sm" href="{php echo $this->createWebUrl('manage',array('type'=>'reset','del'=>'cj','id'=>$id))}" onclick="return confirm('清空所有已经中奖人员，将无法恢复，确认吗？');return false;"><i class="fa fa-times"></i>重置抽奖结果</a><a class="btn btn-warning btn-sm" href="{php echo $this->createWebUrl('manage',array('type'=>'reset','del'=>'bahe','id'=>$id))}" onclick="return confirm('清空所有拔河数据，将无法恢复，确认吗？');return false;"><i class="fa fa-times"></i>重置拔河</a>
<a class="btn btn-warning btn-sm" href="{php echo $this->createWebUrl('manage',array('type'=>'delete','del'=>'bahe','id'=>$id))}" onclick="return confirm('清空所有拔河数据，将无法恢复，确认吗？');return false;"><i class="fa fa-times"></i>清空拔河</a></DIV><br><br>
<div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid" style="background-color: rgb(238, 238, 238);padding:0px;margin:0px;">
		<div class="btn-group">
			<a type="button" class="btn {if $_GPC['do']=='ac_url'}btn-success{else}btn-default{/if}" href="{php echo $this->createWebUrl('ac_url', array('id' => $id))}"><i class="fa fa-edit"></i>活动链接管理</a></div>					
		<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('manage', array('id' => $id, 'op' =>'list'))}"><i class="fa fa-users"></i>人员列表</a>
			
		</div>
		<div class="btn-group">
			<a type="button" class="btn btn-default"href="{php echo $this->createWebUrl('manage', array('id' => $id, 'isshow' => 0))}"><i class="fa fa-male"></i><i class="fa fa-toggle-off"></i>上墙待审</a>	 
		</div>
		<div class="btn-group">
			<a type="button" class="btn btn-default"href="{php echo $this->createWebUrl('manage', array('id' => $id, 'isshow' => 1))}"><i class="fa fa-toggle-on"></i>上墙已审</a>	 
		</div>
		<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('signmanage', array('id' => $id, 'status' => 2))}"><i class="fa fa-male"></i><i class="fa fa-toggle-off"></i>签到待审</a>
		</div>
		<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('signmanage', array('id' => $id, 'status' => 1))}"><i class="fa fa-toggle-on"></i>签到已审</a>
		</div>
        <div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('Checkvote',array('id' => $id,'op' =>'display'))}"><i class="fa fa-list"></i>投票列表</a>
		</div>
		<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('awardmanage', array('id'=>$id,'op' =>'display'))}"><i class="fa fa-gift"></i>奖品列表
			</a>
		</div>
		
		
		<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('awardlist', array('id' => $id))}"><i class="fa fa-users"></i>中奖名单</a>
		</div>
		<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('vote_person', array('id' => $id))}"><i class="fa fa-users"></i>投票人员</a>
		</div>
		<div class="btn-group">
			<a type="button" class="btn btn-success" href="{php echo $this->createWebUrl('yyyres', array('id' => $id))}"><i class="fa fa-users"></i>摇一摇名单</a></div>
		<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('bahe_phb', array('id' => $id))}"><i class="fa fa-users"></i>拔河名单</a></div>
			<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('bahe_setting', array('id' => $id))}"><i class="fa fa-plus"></i>拔河配置</a></div>
		<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('blacklist', array('id' => $id))}"><i class="fa fa-users"></i>粉丝黑名单</a></div>
		<div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('modules_manage', array('id' => $id))}"><i class="fa fa-list"></i>插件列表</a></div>
			<div class="btn-group">
			<a type="button" class="btn {if empty($check['id']) && $op == 'list' && $_GPC['do']=='signcheck'}btn-success{else}btn-default{/if}"  href="{php echo $this->createWebUrl('signcheck',array('id'=>$id))}"><i class="fa fa-toggle-off"></i>验证管理</a>
	</div>
	<div class="btn-group">
			<a type="button" class="btn  {if empty($check['id']) && $op=='post' && $_GPC['do']=='signcheck'}btn-success{else}btn-default{/if}" href="{php echo $this->createWebUrl('signcheck',array('id'=>$id,'op' =>'post'))}"><i class="fa fa-toggle-off"></i>添加验证</a>
	</div>
	
	{if !empty($check['id']) && $op == 'post' && $_GPC['do']=='signcheck'}
	<div class="btn-group">
			<a type="button" class="btn {if !empty($check['id']) && $op == 'post' && $_GPC['do']=='signcheck'}btn-success{else}btn-default{/if}" href="{php echo $this->createWebUrl('signcheck',array('id'=>$id,'op' =>'post'))}"><i class="fa fa-toggle-off"></i>编辑验证</a>
	</div>
	{/if}
	<div class="btn-group">
			<a type="button" class="btn {if $op == 'list' && $_GPC['do']=='mobileupload'}btn-success{else}btn-default{/if}"  href="{php echo $this->createWebUrl('mobileupload',array('id'=>$id))}"><i class="fa fa-toggle-off"></i>导入列表</a>
	</div>
	<div class="btn-group">
			<a type="button" class="btn {if $op == 'post' && $_GPC['do']=='mobileupload'}btn-success{else}btn-default{/if}" href="{php echo $this->createWebUrl('mobileupload',array('id' => $id,'op'=>'post'))}"></i>导入文件</a>
   </div>
   <div class="btn-group">
			<a type="button" class="btn btn-default" href="{php echo $this->createWebUrl('howuse',array('id' => $id))}"></i>使用说明书</a>
   </div>
	</div>
</div>
<script type="text/javascript" src="../addons/meepo_bigerwall/template/jquery-1.7.2.min.js"></script>
<script>
	function selectall(obj, name){
		$('input[name="'+name+'[]"]:checkbox').each(function() {
			$(this).attr("checked", $(obj).attr('checked') ? true : false);
		});
	}
</script>

<div class="main panel panel-default" id="table-list">
	<div class="sub-title panel-heading">摇一摇名单</div>
	<div class="panel-body">
	<form action="" method="post" onsubmit="">
	<div class="sub-content table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					
					<th class="row-hover" style="width:33%;">昵称<i></i></th>
					<th style="width:33%;">摇一摇最终点数<i></i></th>
					<th style="width:33%;">排名<i></i></th>
					
				</tr>
			</thead>
			<tbody>
				{loop $list $key $row}
				<tr>
					
					<td class="row-hover">
					<img src="{$row['avatar']}" width=30px height=30px/>
					{$row['phone']}
					</td>
					<td class="row-hover">{$row['point']}</td>
					<td style="font-size:12px; color:#666;">
						{php echo $key+1;}
					</td>
					
				</tr>
				{/loop}
			</tbody>
		</table>
	</div>
	</form>
	</div>
	{$pager}
</div>

<script type="text/javascript">
require(['jquery'], function($){
	//详细数据相关操作
	var tdIndex;
	$("#table-list thead").delegate("th", "mouseover", function(){
		if($(this).find("i").hasClass("")) {
			$("#table-list thead th").each(function() {
				if($(this).find("i").hasClass("icon-sort")) $(this).find("i").attr("class", "");
			});
			$("#table-list thead th").eq($(this).index()).find("i").addClass("icon-sort");
		}
	});
	$("#table-list thead th").click(function() {
		if($(this).find("i").length>0) {
			var a = $(this).find("i");
			if(a.hasClass("icon-sort") || a.hasClass("icon-caret-up")) { //递减排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-down");
			} else if(a.hasClass("icon-caret-down")) { //递增排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-up");
			}
			$("#table-list thead th,#table-list tbody:eq(0) td").removeClass("row-hover");
			$(this).addClass("row-hover");
			tdIndex = $(this).index();
			$("#table-list tbody:eq(0) tr").each(function() {
				$(this).find("td").eq(tdIndex).addClass("row-hover");
			});
		}
	});
});
</script>
{template 'common/footer'}
