.module .hd .tit .s,.module .hd .more,.module .hd .btn .s,.bannerSJ .s {
	background: url(index-2016.png) no-repeat 0 0;
	background-size: 200px auto;
}

.module {
	margin: 5px 2px;
	background-color: #fff;
	border-radius: 0px;
}

.module .hd {
}

.module .hd .tit {
	float: left;
	padding-left: 15px;
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
}

.module .hd .tit .s {
	display: inline-block;
	width: 28px;
	height: 28px;
	overflow: hidden;
	margin: 10px 5px 0 0;
	vertical-align: top;
}

.module .hd .tit .s_2 {
	background-position: -50px 0;
}

.module .hd .tit .s_3 {
	background-position: -100px 0;
}

.module .hd .tit .s_4 {
	background-position: -150px 0;
}

.module .hd .tit .s_5 {
	background-position: 0 -50px;
}

.module .hd .tit .s_6 {
	background-position: -50px -50px;
}

.module .hd .tit .s_7 {
	background-position: -100px -50px;
}

.module .hd .tit .s_8 {
	background-position: -150px -50px;
}

.module .hd .more {
	float: right;
	width: 30px;
	height: 30px;
	text-indent: -999em;
	overflow: hidden;
	background-position: -150px -87px;
	margin: 13px 7px 0 0;
}

.module .hd .btn {
	float: right;
	color: #aaa;
	font-size: 14px;
	line-height: 55px;
}

.module .hd .btn .s {
	display: inline-block;
	width: 18px;
	height: 25px;
	overflow: hidden;
	margin: 19px 5px 0 0;
	vertical-align: top;
	background-position: -50px -100px;
}

.module .hd .s_search {
	margin-right: 12px;
}

.module .hd .s_search .s {
	background-position: 0px -100px;
}

.module .bd {
	padding: 10px;
}

.module_2 .bd {
	padding-top: 0;
}

.module_1 .hd {
	background-color: #fbfbfb;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.module_3 .hd {
	margin: 0 12px;
	border-bottom: 1px solid #f3f3f3;
}

.module_3 .hd .tit {
	padding-left: 5px;
	color: #fc7e10;
}

.module_3 .hd .more {
	margin: 13px 0 0 10px;
	float: left;
	background-position: -100px -87px;
}

.text_btn a {
	display: inline-block;
	color: #333;
	border: 1px solid #cdcdcd;
	border-radius: 20px;
	margin: 8px 10px 8px 0;
	font-size: 16px;
	padding: 3px 12px;
}

.pic_1_list,.pic_3_list {
	padding-bottom: 20px!important;
}

.pic_1_list li {
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #f2f2f2;
	padding: 15px 0 15px 85px;
	position: relative;
	z-index: 1;
	height: 75px;
	overflow: hidden;
}

.pic_1_list li.nopic {
	padding-left: 0;
	height: auto;
}

.pic_1_list li.nopic .pic {
	display: none;
}

.pic_1_list li .pic {
	display: block;
	width: 75px;
	height: 75px;
	position: absolute;
	left: 0;
	top: 15px;
}

.pic_1_list li h3 {
	font-weight: normal;
	font-size: 16px;
	max-height: 48px;
	line-height: 24px;
	overflow: hidden;
	margin-top: -3px;
}

.pic_1_list .p_l_r {
	color: #aaa;
	margin-top: 8px;
	font-size: 12px;
	line-height: 16px;
}

.pic_1_list .ico_jh {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
	background-color: #f4781e;
	color: #fff;
	border-radius: 3px;
	font-size: 12px;
	line-height: 20px;
	padding: 0 4px;
}

.pic_2_list {
	padding: 0 0 10px!important;
}

.pic_2_list li {
	float: left;
	width: 46%;
	margin: 0 2% 10px;
}

.pic_2_list li .pic {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	border: 1px solid #f2f2f2;
}

.pic_2_list li img {
	display: block;
	width: 100%;
	vertical-align: top;
}

.pic_2_list li .cont {
	margin: 0 auto;
	border: 1px solid #f2f2f2;
	border-top: 0 none;
	position: relative;
	z-index: 1;
}

.pic_2_list li .cont h3 {
	font-weight: normal;
	padding: 5px 0 0px 8px;
	line-height: 24px;
	height: 24px;
	overflow: hidden;
}

.pic_2_list li .cont .price {
	padding: 5px 0 5px 8px;
	font-size: 20px;
	color: #f30;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
}

.pic_2_list li .cont .price .del {
	padding-left: 10px;
	text-decoration: line-through;
	color: #aaa;
	font-size: 12px;
}

.pic_2_list li .num {
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #22cd22;
	color: #fff;
	font-size: 12px;
	padding: 0 10px;
}

.pic_3_list li {
	border-bottom: 1px solid #f2f2f2;
	padding: 15px 0;
	position: relative;
	z-index: 1;
	padding-left: 90px;
	height: 75px;
	overflow: hidden;
}

.pic_3_list li .pic {
	position: absolute;
	left: 0;
	top: 15px;
	display: block;
	width: 75px;
	height: 75px;
}

.pic_3_list li:first-child {
	padding-top: 5px;
}

.pic_3_list li:first-child .pic {
	top: 5px;
}

.pic_3_list li .pic img {
	border-radius: 5px;
	display: block;
	width: 75px;
	height: 75px;
}

.pic_3_list li h3 {
	height: 36px;
	overflow: hidden;
	font-weight: normal;
	margin: -5px 0 7px;
	font-size: 16px;
}

.pic_3_list li .info {
	line-height: 24px;
	height: 20px;
	font-size: 14px;
	overflow: hidden;
	color: #aaa;
}

.pic_3_list .pic sup,.business2 sup {
	border-radius: 5px;
	position: absolute;
	z-index: 2;
	font-size: 12px;
	color: #ffffff;
	top: 0;
	left: 0;
	padding: 2px 6px;
	height: 18px;
	line-height: 18px;
}

.pic_3_list .pic sup:before,.business2 sup:before {
	content: '';
	display: block;
}

.pic_3_list .pic sup.bm1,.pic_3_list .pic sup.bm2,.pic_3_list .pic sup.bm3 {
	background: #ff6a4a;
}

.pic_3_list .pic sup.bm1:before,.pic_3_list .pic sup.bm2:before,.pic_3_list .pic sup.bm3:before {
	content: '进行中';
}

.pic_3_list .pic sup.bm5 {
	background: #999;
}

.pic_3_list .pic sup.bm5:before {
	content: '已结束';
}

.pic_4_list {
	padding: 0 10px 20px!important;
}

.pic_4_list li {
	float: left;
	width: 25%;
}

.pic_4_list .pic {
	width: 90%;
	margin: 0 auto;
}

.pic_4_list .pic img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 5px;
}

.pic_4_list h3 {
	text-align: center;
	font-weight: normal;
	width: 90%;
	margin: 4px auto 0;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	overflow: hidden;
	color: #777
}

.bannerSJ {
	margin-top: 15px;
	border: 1px solid #f2f2f2;
	padding: 25px 0;
}

.bannerSJ .left,.bannerSJ .right {
	position: relative;
	z-index: 1;
	font-size: 12px;
	color: #aaa;
	width: 50%;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bannerSJ .left {
	border-right: 1px solid #f2f2f2;
}

.bannerSJ .right b a {
	color: #20b4ff;
}

.bannerSJ b {
	display: block;
	font-weight: normal;
	color: #ff493a;
	font-size: 20px;
}

.bannerSJ b a {
	color: #ff493a;
}

.bannerSJ .s {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background-position: 0 -250px;
}

.bannerSJ .right .s {
	background-position: -50px -250px;
	right: 10px;
}

.new_active {
	background: #ffffff;
	margin-bottom: 10px;
	clear: both;
}

.info_list li {
	zoom: 1;
	overflow: hidden;
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px dashed #e1e1e1;
	position: relative;
}

.info_list .pic img {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 93px;
	height: 70px;
	overflow: hidden;
}

.info_list .con {
	padding-left: 105px;
	font-size: 12px;
	height: 74px;
}

.info_list h3 {
	font-size: 16px;
	line-height: 20px;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

.info_list p {
	margin: 6px 0;
	color: #999999;
	line-height: 17px;
}

.info_list p.lh_20 {
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

.info_list .hName {
	font-size: 16px;
	margin-right: 12px;
	color: #666666;
}

.info_list .meters,.info_list .rooms {
	color: #999999;
	float: left;
	margin-right: 12px;
	line-height: 17px;
	width: 56%;
	overflow: hidden;
	white-space: nowrap;
}

.info_list .meters {
	margin: 0;
}

.info_list .price,.info_list .price2 {
	float: right;
	color: #ff6600;
	font-size: 15px;
	line-height: 17px;
}

.info_list p.p2 {
	margin: 15px 0 10px;
}

.info_list .price2 {
	float: none;
}

.info_list .more,.lp_related_info .more,.new_arc .more,.new_active .more,.person_list .more,.new_active .more2 {
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}

.info_list a {
	display: block;
}

.houseList ul {
	margin: 0;
}

.houseList li {
	border-bottom: 1px dashed #cccccc;
	margin: 0 8px;
}

.houseList li:last-child {
	border-bottom: none;
}

.houseList li > a {
	position: relative;
	display: block;
	padding: 14px 8px;
	overflow: hidden;
	*zoom: 1;
	margin: 0 -8px;
}

.houseList li .img {
	position: relative;
	float: left;
	margin-right: 8px;
	width: 106px;
	height: 80px;
}

.houseList li .img img {
	width: 100%;
	height: 100%;
}

.houseList li .img p {
	position: absolute;
	display: block;
	height: 10px;
	width: 100%;
	bottom: 4px;
	left: 0;
	overflow: hidden;
}

.houseList li .online {
	float: left;
	width: 11px;
	height: 10px;
	margin-left: 5px;
	background: url(list_icons.png) -14px 0 no-repeat;
	background-size: 25px auto;
}

.houseList li .video {
	float: left;
	width: 13px;
	height: 10px;
	margin-left: 5px;
	background: url(list_icons.png) no-repeat;
	background-size: 25px auto;
}

.houseList li .tj {
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 22px;
	background: url(list_icons.png) 0 -25px no-repeat;
	background-size: 25px auto;
}

.houseList li .txt {
	overflow: hidden;
	*zoom: 1;
}

.houseList li h3 {
	font-size: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 18px;
	color: #0c0d0e;
	margin-top: -1px;
	margin-bottom: 4px;
}

.houseList li h3 .hb-icon {
	float: right;
	width: 14px;
	height: 14px;
	margin: 1px 0 0 2px;
	background: url(list_icons.png) 0 -11px no-repeat;
	background-size: 25px auto;
}

.houseList li p {
	color: #83868f;
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 20px;
}

.houseList li p .space {
	padding: 0 2px;
}

.houseList li .new {
	float: right;
	font-size: 12px;
	color: #83868f;
	font-weight: bold;
}

.houseList li p.x-intro {
	margin: -1px 0 1px;
}

.houseList li .fc span {
	margin-right: 0.5em;
}

.houseList li .fc span:last-child {
	margin-right: 0;
}

.houseList li .fc-red {
	color: #ff6666;
	font-size: 10px;
}