*{-webkit-box-sizing: border-box;; margin:0; padding:0}
.body{max-width:640px;margin:auto;min-height:100%;	position:relative;	display:block;	background-size:100% 100%;	-webkit-box-sizing: border-box;}
.icon{ width:32px; height:32px; display:block; float:left}
.tmc{background:#fff; opacity:0.6; width:100%; height:1px; margin-top:-1px; float:left;}
/*index*/
.body.index header img{ width:100%;}
.body.index >section  ul{ width:300px; margin:20px auto;overflow:hidden;}
.body.index >section  ul li{ width:70px; height:100px; float:left; margin:15px;}
.body.index >section  ul li>a{ display:block; width:100%;}
.body.index >section  ul li>a>span{ border-radius:35px; display:block; width:100%; height:70px; padding:19px;  font-size: 30px;text-align: center;
line-height: 32px; }
.body.index >section  ul li>a>label{ display:block; height:30px; line-height:30px; text-align:center;}
/*channel*/
.body.channel >section .tel{ height:53px; width:100%; line-height:53px; text-align:center; font-size:16px; margin:7px 0 4px; }
.body.channel >section >ul{ padding:0 7px; width:100%;overflow: hidden;}
.body.channel >section >ul li{ width:50%; padding:2px;  float:left; position:relative;}
.body.channel >section >ul li span{ width:100%; height:125px; display:block; float:left;}
.body.channel >section >ul li span img{ width:100%; height:100%;}
.body.channel >section >ul li label{ display:block; float:left; width:100%; height:25px; line-height:25px; text-align:center; margin-top:-25px; opacity:0.6; }
.body.channel >section >ul li div{position:absolute; z-index:1;width:0;height:0; border-width:7px;border-style:solid ;margin-top:46px;}
.body.channel >section >ul li:nth-child(4n+1) div{ right:2px;}
.body.channel >section >ul li:nth-child(4n+2) div{ left:-11px; z-index:2}
.body.channel >section >ul li:nth-child(4n+3) div{ right:-11px;  z-index:2}
.body.channel >section >ul li:nth-child(4n+4) div{ left:2px;}
/*list*/
.body.list .list_article{	padding-left:8px;}
.body.list .list_article li{ height:120px; padding:10px 0px; border-bottom:1px dashed;}
.body.list .list_article .tbox{width:100%;	display: block;	height:100%;overflow:hidden;}
.body.list .list_article span{width:100px;height:100px;display: block;}
.body.list .list_article span img{ width:100%;	height:100%;}
.body.list .list_article .tbox div.summary{padding: 5px 10px 10px;}
.body.list .list_article .tbox div.summary  h3{font-size:16px;line-height:32px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.body.list .list_article .tbox div.summary  p{font-size:12px;line-height:22px;overflow: hidden;font-weight:100;text-overflow:ellipsis;	height:50px; padding: 5px 0px 0 0;}

/*article*/
.body.article{ padding:10px;}
.body.article .top span{border-radius: 2px;overflow: hidden;	display: block;}
.body.article .top img{border-radius: 2px; width:100%; }
.body.article .article{color:#333333;}
.body.article .article header{border-bottom:1px dashed;}
.body.article .article header h3{padding-top:15px;font-size:18px;	line-height:26px; font-weight:bold;}
.body.article .article header sapn{line-height:28px; }
.body.article .article .content{word-wrap:break-word; padding:10px; font-size:16px;line-height:24px;}
.body.article .article .content img{max-width:100%;}

/************»ÃµÆÆ¬*************/
.scroll_pic_view{position:relative;}
.scroll_pic_view>div{width:10000px;overflow:hidden;}
.scroll_pic_view ul{width:100%;white-space: nowrap;	overflow: hidden;}
.scroll_pic_view ul li{	float:left;}
.scroll_pic_view ul li a{display: block;}
.scroll_pic_view ul li img{	width:100%;	max-height:320px;}
.scroll_pic_view ol{position: absolute;	z-index: 100;	bottom:0px;	width:100%;	text-align: center;	pointer-events:none;}
.scroll_pic_view ol li{	display: inline-block;width: 6px;height: 6px;margin: 5px 3px;	border-radius: 10px;}


/******/

footer .copyright{
	line-height:25px;
	display: block;
	color:#000000;
	text-align:center;
	padding:5px;
	overflow: hidden;
}