.nav88_1{ position:fixed; width:40px; right:0; top:0; height:100%;  z-index:220}
.nav88_1.on{  width:260px;}
.nav88_1.on .list{ display:block;}
.nav88_1 .list_show{cursor:pointer;width:30px; height:25px; margin: 5px 0; float:left; }
.nav88_1 .list{width: 0px; height:100%; float: right; overflow:hidden;}
.nav88_1 .list li{width:100%; float:left; height:55px; padding:15px 0 0 16px; line-height:24px;}
.nav88_1 .list ul{ border-bottom:1px solid rgba(255,255,255,0.1); float:left; width:100%;}
.nav88_1 .list ul li:nth-child(1){border-top:none;}
.nav88_1 .list li>a>label{ display:block; float:left}
.nav88_1 .list li>a>label.fg{ width:15px; text-align:center;}
.nav88_1 .list li>a>span{float:left;	display: block;	width:25px;	height:25px;	margin:auto;margin-right:6px;}
.nav88_1 .list.on{ right:0px; display:block}

.nav88_1 .list_show{ background:url(../hcc/v88_1_icon.png); background-size: auto 60px;  background-position:-79px -12px; }
.nav88_1 .list{ background:url(../hcc/v88_1_bg_blue.png);background-size:100%;}
.nav88_1 .list li{ color:rgba(255,255,255,0.6);border-top:1px solid rgba(255,255,255,0.1);border-bottom:1px solid rgba(0,0,0,0.1);}
.nav88_1 .list li>a>span{background:url(../hcc/v88_1_nav.png);-webkit-background-size: auto 25px;}
.nav88_1 .list li>a>span.back{background-position:-16px 0px;}
.nav88_1 .list li>a>span.phone{background-position:-69px 0px}
.nav88_1 .list li>a>span.address{background-position:-121px 0px}
.nav88_1 .list li>a>span.home{background-position:-174px 0px}
.nav88_1 .list li>a>span.share{background-position:-227px 0px}