<style>
.zanzhu{ background:{if empty($rbody['bodytscolor'])}rgba(238, 66, 140, 0.3){else}{$rbody['bodytscolor']}{/if} url({php echo toimage($rbody['bodytsbg'])}) center no-repeat;
border:0px solid #5a009c;padding:10px 10px 0;margin-bottom:10px;overflow:hidden;  width: 94.5%;}

.zanzhu li{ 
{if $rdisplay['zanzhums'] == 1}
width:49%;
{elseif $rdisplay['zanzhums'] == 2}
width:100%;
{else}
width:49%;
{/if}
float:left;margin:0 2% 10px 0;overflow:hidden;}

.zanzhu li:nth-child(2n){margin-right:0;}
.zanzhu li img{ width:100%;}
</style>

<ul class="zanzhu">
	 {loop $advs $adv}
		<li>
			<a href="{if empty($adv['link'])}#{else}{$adv['link']}{/if}"><img src="{php echo toimage($adv['thumb'])}" alt="{$adv['advname']}"/>
			</a>
		</li>
	{/loop}
</ul>