*{-webkit-box-sizing: border-box;; margin:0; padding:0}
.body{max-width:640px;margin:auto;min-height:100%;	position:relative;	display:block;	background-size:100% 100%;	-webkit-box-sizing: border-box;}
.tmc{background:#fff; opacity:0.6; width:100%; height:1px; margin-top:-1px; float:left;}
footer{width:100%;}
/*index*/
.body.index header img{ width:100%;}
.body.index >section  ul{ width:320px; margin:13px auto;overflow:hidden;}
.body.index >section  ul li{ width:85px; height:79px; float:left; margin:10px;}
.body.index >section  ul li>a{ display:block; width:100%;}
.body.index >section  ul li>a>span{ display: block;width: 30px;height: 30px;line-height: 30px;margin: 0px auto;font-size: 25px;text-align: center; margin-top:15px;}
.body.index >section  ul li>a>span .icon{ margin:10px auto 0; width:30px; height:30px; display:block;}
.body.index >section  ul li>a img{margin:10px 0 5px 28px;}
.body.index >section  ul li>a>label{ display:block; height:35px; line-height:20px; text-align:center;}
.body.index >section .tel_div{    opacity:0.8 }
.body.index >section .tel_div > .border{ width:100%; height:7px;}
.body.index >section .tel_div > .tel{display:block;width:100%; height:50px; text-align:center; line-height:50px; font-size:16px;}
/************»ÃµÆÆ¬*************/
.scroll_pic_view{position:relative;}
.scroll_pic_view>div{width:10000px;overflow:hidden;}
.scroll_pic_view ul{width:100%;white-space: nowrap;	overflow: hidden;}
.scroll_pic_view ul li{	float:left;}
.scroll_pic_view ul li a{display: block;}
.scroll_pic_view ul li img{	width:100%;	max-height:320px;}
.scroll_pic_view ol{position: absolute;	z-index: 100;	bottom:0px;	width:100%;	text-align: center;	pointer-events:none;}
.scroll_pic_view ol li{	display: inline-block;width: 6px;height: 6px;margin: 5px 3px;	border-radius: 10px;}


