body,html{background:#fff;}

#shop_skin_index{width:100%; overflow:hidden; margin:0 auto;}
#shop_skin_index .img img{width:100%; height:100%;}
#shop_skin_index .shop_skin_index_list{overflow:hidden; position:relative; line-height:130px; z-index:1;}
#shop_skin_index .banner{width:100%; height:160px; line-height:160px;}
#shop_skin_index .banner *{width:100%; height:100%; overflow:hidden;}

#index_prolist{margin:5px auto;}
#index_prolist h1{height:28px; width:50%; line-height:28px; font-size:16px; color:#666; font-weight:bold; background:#ebebeb; border-radius:5px; text-align:center; margin:0 auto; margin-bottom:8px;}