@charset "utf-8";
/*公用部分*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0px; padding:0px; font-size: 14px; font-family:微软雅黑; }
a{text-decoration:none; color:#666; outline: none;}
a:active,a:hover{ text-decoration: none;}
a:focus { outline: none;}
a:link {text-decoration: none;}
i, em, cite { font-style: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 14px;}
li{list-style:none;}
img { border: 0 none; vertical-align: center;}
/*img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{display:inline-block;vertical-align: middle;}*/

/*font-size*/
.f12{font-size: 12px !important;}
.f14{font-size: 14px !important;}
.f16{font-size: 16px !important;}

/*text-align*/
.tl{text-align:left !important;}
.tc{text-align:center !important;}
.tr{text-align:right !important;}

/*float*/
.fl{float:left !important;}
.fr{float:right !important;}
.fn{float:none !important;}
.clear{clear:both !important;}

/*relative*/
.relative{position:relative !important;}
.absolute{position:absolute !important;}
.fixed{position:fixed !important;}

/*display*/
.hide,.hidden{display:none !important;}
.show{display:block !important;}

/*图片盒子*/
.square_box,.pimgbox{width:100%; padding-bottom:100%; background-position: center!important; background-size: cover !important; background-repeat: no-repeat !important; display: block; height:0px; position:relative;}

/*垂直居中盒子,坑爹的微信X5不支持*/
/*.align_box{display: flex; display: -webkit-flex; align-items:center; -webkit-align-items:center;}*/

/*others*/
.p15{padding:15px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.ml5{margin-left:5px;}
.ml15{margin-left:15px;}
.block{display: block;}
.bgnone{background:none !important;}
.w50p{width:50% !important;}
.w100p{width:100% !important;}
.c666{color:#666 !important;}
.cBE0000{color:#BE0000 !important;}
.b{font-weight:bold;}
.black{color:black;}
.red{color:red !important;}
.blue{color:blue !important;}
.orange{color:orange !important;}
.green{color:green !important;}
.bgfff{background:#fff !important;}
.cfff{color:#fff !important;}
.p10{padding:10px !important;}
.body_bg{background:#f3f3f3;}

/* swipe */
#swipe{-webkit-transform:translate3d(0,0,0);}
#swipe img{width: 100%;vertical-align: middle;}
.box_swipe{overflow:hidden;position:relative; width:100%;}
.box_swipe_box{height:0px; padding-bottom:33%;overflow:hidden;}
.box_swipe ul{-webkit-padding-start: 0px;}
.box_swipe>ol{height:20px;position: relative;top:-6px;z-index:10;margin-top:-20px;text-align:right; padding-right:10px;}
.box_swipe>ol>li{display:inline-block;margin:5px 2px;width:8px;height:8px;border-radius: 8px;background-color:#eee;}
.box_swipe>ol>li.on{background-color:#f84c2f;}

/*nav样式*/
#header-navbar{height: 45px; background: #383b47; position:relative;}
.navbar-header{height: 45px;}
#header-navbar .nav_icon{height:45px; width:45px; display: inline-block;}
#header-navbar .nav_icon .square_box{background-size: 25px!important;}
.navbar_menu{position: absolute; top:0px; right:0px;}
.navbar_menu.cur{background:#30323c;}
.search_icon{right:45px;}
.search_icon.cur{background:#30323c;}
#header-navbar .logo_icon .square_box{background-size: 30px!important;}
#header-navbar li{cursor: pointer;}
.navbar-brand{display: block; position: absolute; left:0px; top:0px;}
.navbar-collapse{display: none; background: #30323c; position: absolute; z-index: 999; right:0px; width:190px;}
.menu_list_box{padding:5px 10px; height:25px; line-height: 25px; position:relative; border-bottom:1px solid #292b33; color:#fff;}
.menu_icon_box{width:25px; height:25px; position:absolute;}
.menu_icon_box .square_box{background-size: 18px!important;}
.menu_icon_con{padding-left:30px;}
.pigSearch{position:relative; display: none; padding:10px; background:#30323c; z-index: 99999;}
.pigSearch input{border:none; background:#404451; background-image: url("../images/search.png"); background-repeat: no-repeat; background-position: 8px 10px; background-size: 20px!important; height:40px; width: 100%; padding-left:30px; color:#fff;}
.pigSearch input:focus{outline: none;}

/*产品秀nav*/
.xiu_fabu{display:block; position:absolute; right:45px; top:6px;}
.xiu_fabu span{background:#444; display:block; height:30px; line-height:30px; padding:0px 10px; border:1px solid #999; border-radius:5px; color:#fff;}
.search_icon.xiu{right:0px;}
.user_add_me{display: block; width: 60px; padding: 0px; height: 30px; line-height: 30px; position: absolute; text-align: center;top: 5px; right: 10px;
}
.user_add_me img{width:20px;}
.user_add_me p{font-size: 12px;}

/*footer*/

/*主页*/
#rolllist{height:36px; line-height: 36px; width:100%; overflow: hidden; position: relative;}
#rolllist ul{position: relative; margin:0px 40px 0px 10px;}
#rolllist ul li{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.roll_close{width:15px; height:15px;position: absolute; right:10px; top:10px; cursor: pointer;}
.indexNav{width:100%;}
.indexNav .boxNav{width:33.33%; float: left; background:#fff;}
.indexNav .boxNav .square_box{border-right:1px solid; border-bottom:1px solid; border-color:#f3f3f3; text-align: center;}
.indexNav .boxNav:nth-child(3n) .square_box{border-right:none;}
.indexNav.bt1{border-top:1px solid #f3f3f3;}
.indexNav .boxNav .align_box{position:absolute; width:100%; height:100%; text-align: center;}
.indexNav .boxNav .align_box .width_box{width:40%; margin:25% auto 0;}
.indexNav .boxNav .align_box h2{margin-top:2px; font-weight: normal; font-size: 12px;}
.indexNav .boxNav .align_box h2.future{color:#bbb;}
.indexNav .boxNav .square_box .square_box{background-size:auto 100% !important; border: none;}
.box_new{width:30%; position:absolute; right:0%; top:0%;}
.addGroup.cur .square_box{background:#f3f3f3;}
.addGroup_box{width:100%; background:#f3f3f3; display: none;}
.addGroup_box li{width:25%; float: left; padding:10px 0px;}
.addGroup_box li a{display: block;}
.addGroup_box li .group_img{width:15px; height:15px; display: inline-block; position:relative; top:2px; background: url("../images/group.png") no-repeat; background-size: 30px;}
.addGroup_box li:nth-child(1) .group_img{0px}
.addGroup_box li:nth-child(2) .group_img{background-position:0px -15px;}
.addGroup_box li:nth-child(3) .group_img{background-position:0px -30px;}
.addGroup_box li:nth-child(4) .group_img{background-position:0px -45px;}
.addGroup_box li:nth-child(5) .group_img{background-position:0px -60px;}
.addGroup_box li:nth-child(6) .group_img{background-position:0px -75px;}
.addGroup_box li:nth-child(7) .group_img{background-position:0px -90px;}
.addGroup_box li a p{text-align: center; padding:10px 0px; height:20px; line-height: 20px; border-right: 1px solid #E4E4E4; color:#666; font-size: 12px;}
.addGroup_box li:nth-child(4n) a p{border:none;}

/*列表页地区选择*/
#cmbProvince{line-height: 100px;width:100px;}
#cmbCity{line-height: 100px;width:120px;}
/*地区样式*/
.mengban{background:rgba(0,0,0,0.6); height:100%; width:100%; z-index: 998; position: fixed; top:0px; left:0px; display: none;}
.area_chose{padding: 15px 10px; font-size: 14px;}
.area_box{width:100%; font-size: 14px; background: #fff; z-index: 999; position: fixed; top:0px; left:0px; display: none;}
.area_box_padding{padding:20px 10px 15px;}
.clean{clear:both;}
#province .province_tit,#city .back{margin-bottom:10px;}
.chose_tit{display: inline-block; padding-right:10px; cursor: pointer;}
.chose_btn{display:inline-block; background: #fff; border:1px solid #999; color: #999; font-size: 12px; width: 60px; height: 23px; line-height: 23px; text-align: center; border-radius: 5px;}
#city .back{float:left; border: 1px solid #ccc; cursor:pointer; padding: 5px 10px;}
#city{display: none;}
#province span,#city span{display: block; float: left; padding:4px 10px; margin:10px 10px 0px 0px; cursor: pointer;}
#province span.cur,#city span.cur{background:#f00; color:#fff; border-radius: 5px;}
.area_btn{ text-align: center; margin-top:20px;}
.area_btn a{text-decoration: none;}
.area_btn a.close_btn{text-decoration: none; display: block; margin:0px auto; width:80px; height:35px; line-height:35px; background:#FF7800; color:#fff; border-radius:3px;}
.location_icon{position: relative;width:12px;}

/*列表加我蒙板*/
.close_ewm{position: absolute; cursor:pointer; top:-10px; right:-10px; background:#000; color:#fff; width:30px; height:30px; line-height:30px; border-radius:15px; font-weight:bold;}
.ewm{font-size:0px; border-radius: 10px 10px 0px 0px; overflow: hidden;}
.ewm img{width:100%;}
.ewm p{width:80%; font-size: 18px; line-height: 25px; margin:20px auto 0px;}
.ewm a{display:block; height:35px; line-height:35px; text-align: center; width:100px; background:#f84c2f; color:#fff; margin: 20px auto; border-radius: 5px; font-size: 14px;}
.ewm_ts{background:#fff; padding:0px 0px 10px; color:#ff0000;  border-radius: 0px 0px 10px 10px;}
.ewm_mengban{position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.6); top:0px; left:0px; text-align: center; z-index: 999;}
.code_box{position: relative; width:80%; margin:70px auto 0px; border-radius:10px;}
.show_inf_main .title span,.show_inf_main .desc{text-overflow: ellipsis; overflow: hidden;}


/*列表页分页*/
.page{padding:0px 10px; margin:25px 0px 30px; text-align: center; color:#999999; font-size: 12px;}
.page .row{border: 1px solid #c3c3c3; border-radius: 3px; height:30px;}
.page .row .prev,.page .row .next{width:35%; float:left;}
.page .row .page_now{width:30%; float:left;}
.page .row div a{border-right:1px solid #c3c3c3; display: block; height:30px; line-height: 30px;}
.page .row div:last-child a{border-right: none;}

/*列表页*/
.list_link{width:100%; background:#fff; display: block;}
.list_link li{width:25%; float: left;}
.list_link li a{display: block;}
.list_link li .group_img{width:15px; height:15px; display: inline-block; position:relative; top:2px; background: url("../images/group.png") no-repeat; background-size: 30px;}
.list_link li:nth-child(1) .group_img{background-position:0px 0px;}
.list_link li:nth-child(2) .group_img{background-position:0px -15px;}
.list_link li:nth-child(3) .group_img{background-position:0px -30px;}
.list_link li:nth-child(4) .group_img{background-position:0px -45px;}
.list_link li:nth-child(5) .group_img{background-position:0px -60px;}
.list_link li:nth-child(6) .group_img{background-position:0px -75px;}
.list_link li:nth-child(7) .group_img{background-position:0px -90px;}

.list_link li:nth-child(1) .cur .group_img{background-position:-15px 0px;}
.list_link li:nth-child(2) .cur .group_img{background-position:-15px -15px;}
.list_link li:nth-child(3) .cur .group_img{background-position:-15px -30px;}
.list_link li:nth-child(4) .cur .group_img{background-position:-15px -45px;}
.list_link li:nth-child(5) .cur .group_img{background-position:-15px -60px;}
.list_link li:nth-child(6) .cur .group_img{background-position:-15px -75px;}
.list_link li:nth-child(7) .cur .group_img{background-position:-15px -90px;}
.list_link li .cur span{color:#f84c2f;}
.list_link li a p{text-align: center; padding:10px 0px; height:30px; line-height: 30px; border-right: 1px solid #f3f3f3; color:#666; font-size: 12px; border-bottom:1px solid #f3f3f3;}
.list_link li:nth-child(4n) a p{border-right:none;}
.index-ul .index-li{border-bottom: 1px solid #f3f3f3; padding:10px 0px; height:50px;}
.show_inf{width:100%; height:100%; position: relative;}
.show_inf .list_head{position: absolute; width:50px; top:0px; left:10px; height:50px; border-radius: 5px;}
.show_inf .show_inf_main{margin:0px 65px 0px 70px;}
.show_inf .show_inf_main .inf_title{font-size: 16px; color:#333333; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.show_inf .show_inf_main .inf_title .vip{color:#ff0000;}
.show_inf .com_link{background:#f84c2f; width:50px; height:30px; line-height: 30px; text-align: center; color:#fff; position:absolute; right:10px; bottom:10px; font-size: 14px; border-radius: 5px;}
.show_inf .show_inf_main .inf_title,.show_inf .show_inf_main .inf_icon,.show_inf .show_inf_main .desc{padding-top:2px;}
.show_inf .show_inf_main .inf_icon{display:inline-block; height:20px;}
.show_inf .show_inf_main .inf_icon img{width:16px; height:16px; margin-top:2px;}
.show_inf .show_inf_main .desc p{font-size: 12px; line-height: 16px; height: 16px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color:#848484;}

/*个人信息*/
.ownerinfo_info{border-bottom:10px solid #f3f3f3; position:relative; height:auto; padding:10px;}
.ownerinfo_info .ownerinfo_list_head{position: absolute; width:80px; top:10px; left:10px; height:80px; border-radius: 5px;}
.ownerinfo_info .ownerinfo_publicer{margin:0px 0px 0px 90px;}
.ownerinfo_info .ownerinfo_publicer .vip_icon img{width:16px; height:16px;}
.owner_complain_btn{border:1px solid #000; width:45px; height:25px; line-height: 25px; position: absolute;right:20px; top:35px; text-align: center; border-radius: 5px; background: #fff;}
.owner_introduce{background: #f8f8f8; padding:10px;border-radius: 3px; margin-top:18px; color: #aaaaaa; position: relative;}
.owner_introduce:after{content:"";width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #f8f8f8; position:absolute; top:-7px; left:30px;}
.ownerinfo_card_title{padding:10px; font-size: 14px; font-weight: normal; border-bottom:1px solid #f3f3f3;}
.ownerinfo_card_person,.ownerinfo_card_group{border-bottom:1px solid #f3f3f3; padding:10px;}
.ownerinfo_person_icon,.ownerinfo_group_icon{display: inline-block; width:58px; height:18px; line-height: 18px; border-radius: 3px; font-size: 12px; color:#fff; text-align: center; margin-right:3px;}
.ownerinfo_person_icon{background:#34bc98;}
.ownerinfo_group_icon{background:#fbb555;}
.ownerinfo_card_tit{font-size: 16px; color:#333;}
.ownerinfo_card_com{margin-top:5px; color:#848484;}


/*详情页*/
.wcard_info{border-bottom:1px solid #f3f3f3; position:relative; height:80px; padding:10px;}
.wcard_info .list_head{position: absolute; width:80px; top:10px; left:10px; height:80px; border-radius: 5px;}
.wcard_info .publicer{margin:0px 0px 0px 90px;}
.publicer .vip_icon img{width:16px; height:16px;}
.publicer_name,.publicer_location,.publicer_wx{margin-top:5px;}
.publicer_name a{font-size: 16px;}
.wcard_main{padding:10px 10px 0px;}
.wcard_main .wcard_title{font-weight: normal; font-size: 16px; color:#333333;}
.wcard_time{font-size: 12px; margin-top:5px; color:#999999;}
.wcard_desc{font-size: 14px; margin-top:5px; color:#999999;}
.wcard .add_btn,.wcard .fabu_btn{display: block; margin:0px auto; text-align: center; height:35px; line-height: 35px;margin-top:10px; border-radius: 5px;}
.wcard .add_btn{background:#f84c2f; border:2px solid #f84c2f; color:#fff;}
.wcard .fabu_btn{background:#fff; border:2px solid #cecece; color:#666666;}
.wcard_main .wcard_qrcode{margin-top:10px; text-align: center; display: none;}
#qrcode{width:50%;}
.wcard_main .fangpian{color:#ff0000; margin-top:5px;}
.wcard_main .shibai{color:#666666; margin-top:3px; font-size: 12px;}
.tips_click{margin-top:10px; text-align: center; width: 100%; height:40px; line-height: 40px; border-top:1px solid; border-bottom:1px solid; border-color:#f3f3f3; color:#666666; cursor: pointer; position:relative;}
.tips_click img{width: 10px; height:6px; position: absolute; top:17px; margin-left: 5px; transition:all 500ms ease; -moz-transition:all 500ms ease; -webkit-transition:all 500ms ease; transform-style:preserve-3d; -moz-transform-style:preserve-3d; -webkit-transform-style:preserve-3d; transition-delay:0ms; -moz-transition-delay:0ms; -webkit-transition-delay:0ms;}
.tips_click img.cur{transform:rotate(180deg); -moz-transform:rotate(180deg); -webkit-transform:rotate(180deg); transition-delay:0ms; -moz-transition-delay:0ms; -webkit-transition-delay:0ms;}
.join_tips{padding:15px 10px;}
.join_tips p{font-size:14px; color:#999999; line-height: 24px;}
.card_cut{width:100%; height:10px; background:#f3f3f3;}
.tj_box .tj_title{border-bottom: 1px solid #f3f3f3; font-size: 16px; padding:10px;}
.tj_card li{padding:10px; height:50px; position:relative; border-bottom: 1px solid #f3f3f3;}
.tj_card li img{height:50px; width:50px; position:absolute; top:10px; left:10px;}
.tj_card li .tj_main{padding:0px 10px 0px 60px;}
.tj_card li .tj_main .tj_tit{color:#333333; font-size: 16px; margin-top:3px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.tj_card li .tj_main .tj_des{color:#848484; font-size: 14px; margin-top:3px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}

/*个人中心*/
.info_head{width:100%; height:165px; background:url("../images/home_bg.jpg"); background-size:100% 100%; position:relative; color:#fff;}
.info_head .headimg{width: 60px; height:60px; position:absolute; border-radius: 100%; border:2px solid #ff7f61; top:20px; left:20px;}
.info_head .info_msg{margin:0px 0px 0px 100px; padding-top:20px;}
.info_user{margin-top:5px;}
.info_level{margin-top:5px;}
.info_level .cz_vip{margin-left:10px; color:#bc340a; background:#fbc406; width:60px; padding:1px 0px; display: inline-block; text-align: center; font-size: 12px; border-radius: 20px}
.info_level .xf_vip{margin-left:10px; color:#175d17; background:#a4dfa4
; width:60px; padding:1px 0px; display: inline-block; text-align: center; font-size: 12px; border-radius: 20px}
.vip_end{font-size: 14px; margin-top:4px;}
.info_user a{display: inline-block; padding:0px 6px 0px 20px; border-radius:20px; background:rgba(255,255,255,0.2); color:#fff; font-size: 12px; border:1px solid #fff; position:relative; height:22px; line-height: 21px;}
.info_user img{width:12px; position:absolute; left:5px; top:5px;}
.info_zb{height:50px; width: 100%; background:rgba(0,0,0,0.1); position: absolute; bottom:0px; font-size: 12px}
.info_zb_br{border-right:1px solid #f4603d; height:50px;}
.info_zb_point{width:50%; float:left; height:50px; text-align: center;}
.info_zb_point .point-st{padding-top:6px;}
.info_chose_box{height:90px; width:100%; background:#f9f9f9; border-bottom: 1px solid #f3f3f3;}
.info_chose{height:90px; width:25%; float:left; text-align: center; cursor: pointer; color:#808080;}
.mycard_chose,.point_chose,.pigbi_chose,.vip_chose{height:40px; width:40px; background-position: 0px 15px !important; margin:0px auto 5px; background-size: 80px 40px !important; padding-top:15px; background-repeat: no-repeat !important;}
.mycard_chose{background:url("../images/home_01.png");}
.point_chose{background:url("../images/home_02.png");}
.pigbi_chose{background:url("../images/home_03.png");}
.vip_chose{background:url("../images/home_04.png");}
.info_chose.cur{color:#ff481c; background:#fff; border-bottom:1px solid #fff;}
.info_chose.cur .info_chose_border{border-left:1px solid #f3f3f3; border-right:1px solid #f3f3f3; height:90px;}
.info_chose.cur .mycard_chose,.info_chose.cur .point_chose,.info_chose.cur .pigbi_chose,.info_chose.cur .vip_chose{background-position: 100% 15px  !important;}
.info_show_box{height:70px; padding:10px 0px;}
.info_show{height:100%; width:100%; display: none; text-align: center;}
.info_show_list{height:100%; width:25%; float: left; background:url("../images/center_line.jpg") repeat-y; background-position: right center;}
.info_show_list,.info_show_list a{color:#808080; font-size: 12px;}
.info_show_list:last-child{background:none;}
.info_show_list a{width: 50px; display: block; margin:13px auto 6px; height:20px; line-height: 20px; border:1px solid #999999;}
.info_show_list a#exchange_vip{color:#ff0000; border-color:#ff0000;}
.info_show_list p.show_list_top{ margin:14px auto 7px; height:20px; line-height: 20px;}
.show_list_bottom{font-size: 12px;}
.info_cut{height:10px; width:100%; background:#f3f3f3;}
.info_message{margin-bottom: 30px;}
.info_message h2{font-size: 14px; font-weight: normal; padding:10px; border-bottom:1px solid #f3f3f3; color:#333333;}
.info_message_line{padding:0px 10px; margin-top:20px; position: relative; height:35px; line-height: 35px;}
.info_message_tag{position:absolute; width:65px; text-align: right; color:#666666;}
.info_message_input{margin:0px 0px 0px 75px; border-bottom:1px solid #f3f3f3; padding-bottom:5px;}
.info_message_input input{width:100%; border:none; color:#666666; background:#fff;}
.info_message_input input:focus{outline: none;}
.info_message_line #save-info{display: block; background:#f84c2f;height:35px; line-height: 35px; text-align: center; border-radius: 5px; color:#fff;}
.info_message_phone{text-align: left; color:#666666;}
#mob{color:#ff0000;}

/*我的名片*/
.mygroups{background:#f3f3f3;}
.mygroups_tips_line{border-top:1px solid #ccc; position:relative; margin:10px 0px;}
.mygroups_tips_main{background: #f3f3f3; position: absolute; height:30px; line-height: 30px; top:-15px; width: 110px; left: 50%; margin-left: -55px; text-align: center;}
.mygroups_tips_main img{width:25px;display: inline-block; position: absolute;}
.mygroups_tips_main span{display: inline-block; margin-left:30px; line-height: 25px; color:#666;}
.mygroups-ul .mygroups-li{margin-bottom:10px; background:#fff; padding:10px;}
.mygroups .title{color:#333333;}
.mygroups .title img{width:16px;}
.mygroups .desc{font-size: 12px; color:#848484; margin-top:5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.mygroups .list_btn{margin:10px 0px 10px;}
.mygroups_btn{padding:4px 6px; display: inline-block; color:#fff; font-size: 12px;}
a.mygroups_btn:link{color:#fff;}
.mygroups .list_btn .intop{background:#f85e44;}
.mygroups .list_btn .reload{background:#2db3e8;}
.mygroups .list_btn .zd_reload{background:#f89e35;}
.mygroups .list_btn .del{background:#833a41;}
.read_num{font-size: 12px; color:#848484;}

/*猪币充值中心*/
.pay_tit h2{font-size: 16px; color:#333333; text-align: center; font-weight: normal; padding:12px 10px; border-bottom:1px solid #f3f3f3; background:#fff;}
.pay_msg{border-bottom:1px solid #f3f3f3; background:#fff;}
.chose_box{width:100%;}
.chose_box .chose_div{width:33.33%; display: inline-block; float: left; text-align: center; margin-bottom:12px; cursor:pointer;}
.chose_padding{padding:0px 5px;}
.chose_div .pay_money,.chose_div input{width:100%; padding:10px 0px; margin:0px auto; border:1px solid #ccc; text-align: center; color:#666666; border-radius: 2px;}
.chose_div input:focus{outline: none;}
.chose_div.cur .pay_money,.chose_div.cur input{border:1px solid #ff0000;}
.pay_msg{padding:10px; font-size: 12px; color: #666666;}
.pay_cut{height:10px; width:100%; background:#f3f3f3;}
.pay_next_box{height:45px; line-height: 45px; width:100%; background:rgba(0,0,0,0.6); position:fixed; bottom:0px; color:#fff;}
.pay_next_money{padding-left:10px;}
.normal_pay.active_style{line-height:23px; height:23px; text-decoration: line-through;}
.active_pay{line-height:16px; height:16px;}
.pay_next_btn{position:absolute; width:120px; height:100%; top:0px; right:0px; background:#f84c2f; text-align: center; color: #fff;}
.pay_desc h2{font-size: 14px; color:#333333; border-bottom:1px solid #f3f3f3; padding:10px; font-weight: normal;}
.pay_desc_main{padding:10px;}
.pay_desc_main p{margin-top:5px;}
.pay_desc_main p a{color:blue; border-bottom: 1px solid;}

/*VIP充值中心*/
.vip_main{padding:10px; background:#fff;}
.vip_main .vip_box{width: 100%; border:1px solid #dddddd; margin-top:10px; color:#666666; border-radius: 3px;}
.vip_main .vip_box p{padding:10px 8px 10px 10px; cursor: pointer; border-radius: 3px;}
.vip_main .vip_box.checked{color:#f84c2f; border-color:#f84c2f; background:url("../images/pig_tag_set.png") no-repeat right; background-color: #feedea; background-size: 25px; background-position:95%; }
.vip_count{margin-top:10px; background:#fff; padding:18px 10px; position: relative;}
.vip_count_msg{color:#666666;}
.orderchange{position:absolute; right:10px; top:10px;}
#num_count,.ico_increase,.ico_reduce{display:inline-block;}
#num_count{width:20px; text-align: center;}
.ico_increase,.ico_reduce{width:30px; height:30px; line-height:28px; font-size:20px; background:#f84c2f; color:#fff; text-align: center;}
#num_count{width:60px; height: 28px; border:1px solid #f84c2f; background: #fdddd7; color:#f84c2f;}
#showcard{display:block; font-size: 16px; text-align: center; height:45px; line-height: 45px; width:100%; background:#f84c2f; position:fixed; bottom:0px; color:#fff;}

/*页面置顶top*/
.intop_btn{display:block; font-size: 16px; text-align: center; height:45px; line-height: 45px; width:100%;position:fixed; bottom:0px; color:#fff;}
.intop_btn_ok{background:#f84c2f;}
.intop_btn_no{background:#ccc;}
.top_title{padding:10px; background: #fff; font-size: 14px;}
.top_time_box,.top_click_box{background:#fff; margin-top: 1px; padding:10px;}
.top_time_box h3,.top_click_box h3{font-size: 14px; font-weight: normal; margin-bottom:10px;}
#toptime{margin:0px -5px;}
#toptime .top_chose{width:25%; display: inline-block; float: left; text-align: center; margin-bottom:12px; cursor:pointer;}
.chose_padding{padding:0px 5px;}
.top_chose .top_time{width:100%; padding:10px 0px; margin:0px auto; border:1px solid #ccc; text-align: center; color:#666666; border-radius: 2px;}
.top_chose.cur .top_time{border-color:#f84c2f; background:#f84c2f; color:#fff;}
#top_tips{color:#f84c2f; float:left; padding:10px;}
.top_msg{padding:10px; background:#fff; margin-top:1px; font-size: 12px;}
.top_information{background:#fff;}
.top_information .tips_click{margin-top: 0px;}
.top_record{background:#fff; margin-top:10px;}
.top_record_tit{padding:10px; font-size: 16px; border-bottom:1px solid #f3f3f3;}
.top_record li{padding:10px; font-size: 12px; border-bottom: 1px solid #f3f3f3;}

/*发布*/
.group_box{padding:10px; border-bottom:1px solid #f3f3f3;}
.group_box_position{position:relative;}
.group_box_left{position:absolute; height:100%; padding-right:10px; color:#666666; border-right:1px solid #f3f3f3; width:45px; text-align: right;}
.group_left_padding{padding:5px 0px;}
.group_box_right{margin-left:65px;}
.card_type_box,.type_box{width:33.33%; float:left;}
.card_type_padding,.type_padding{padding:5px;}
.card_type,.type_classify{width:100%; font-size: 12px; padding:5px 0px; margin:0px auto; border:1px solid #ccc; text-align: center; color:#666666; border-radius: 3px; cursor: pointer;}
.card_type.cur,.type_classify.cur{border-color:#f84c2f; background:#f84c2f; color:#fff;}
.ewm_add{width:80px; height:80px; border-radius: 5px; background:#f84c2f; cursor: pointer; float:left; text-align: center; color:#fff; display: block;}
.ewm_add img{width:30px; margin-top:15px;}
.ewm_add p{font-size: 12px; margin-top:5px;}
.erm_help{ float:left; margin-left:10px; margin-top:2px;}
.erm_help p{margin-top:15px; font-size: 12px;}
#upload-tips{font-size: 12px; color:#ff0000; margin-top:5px;}
#cmbProvince,#cmbCity{appearance:none; -moz-appearance:none; -webkit-appearance:none; border:none; width:100px; height:30px; line-height: 30px; margin-right: 10px; background:url(../../images/group/pig_dropdown_arrow.png) no-repeat right bottom; background-size:10px;}
#cmbProvince:focus,#cmbCity:focus{outline: none;}
.group_input_padding{padding:5px 0px;}
#groupname,#groupdesc{width:100%; border:none;}
#groupdesc{min-height: 70px; max-width: 100%;}
#groupname:focus,#groupdesc:focus{outline: none;}
.group_protocol_main{padding:10px;}
.group_protocol_main p{color:#666666; line-height: 20px; margin-top:5px;}
.group_protocol_main p a{color:#3b75bd;}
.protocol_modal{width: 100%; height:100%; position: fixed; top:0px; left:0px; background:rgba(0,0,0,0.6); z-index: 999;}
.protocol_main{width:80%; margin:50px auto; padding:10px 15px; background:#fff;}
.protocol_modal{display: none;}
.protocol_modal h4{font-weight: normal; text-align: center; font-size: 14px; margin-top:10px;}
.protocol_msg{margin-top:8px; line-height: 22px; color:#666666;}
.protocol_sure{margin-top:5px; color:#666666;}
.protocol_modal_close{display: block; height:40px; line-height: 40px; width:100%; background:#ff0000; color:#fff; text-align: center; font-size: 14px; margin:20px auto 10px;}
#addNewGroup ,#addShow{display:block; font-size: 16px; text-align: center; height:45px; line-height: 45px; width:100%;position:fixed; bottom:0px; color:#fff; background:#f84c2f; z-index: 998;}

/*账户流水*/
.stream_balance{padding:10px; margin-top:10px;}
.stream_main{background:#fff;}
.stream_main li{padding:10px; border-bottom:1px solid #f3f3f3;}

/*弹窗样式*/
#pigalert{background:rgba(0,0,0,0.6); display: none; width:100%; height:100%; position:fixed; top:0px; left:0px; text-align:center;}
#pigalert div{color:#fff; margin:180px auto 0px;; background:#000; padding:20px 10px; width:70%;}

/*register*/
.register{padding:11px 16px; margin-top:25px;}
.register a{display: block; width:100%; height:45px; line-height: 45px; text-align: center; border-radius: 5px; margin-bottom:15px; border:1px solid;}
.register_have{background:#60c715; border-color:#60c715; color:#fff;}
.register_none{background:#66b7ff; border-color:#66b7ff; color:#fff;}
.register_forget{background:#fff; color:#666;}

/*公告文章详情*/
.article_show{padding:10px;}
.article_show .title{font-size: 16px; color:#333;}
.article_show .info{font-size: 12px; margin-top:5px; color:#999;}
.article_show article{font-size: 14px; margin-top:5px; line-height: 21px; color:#444; word-break: break-all;}

/*产品秀*/
.xiu_press #uploadImgs{width:100%; margin-right:-5px;}
.xiu_press #uploadImgs .xiu_img{width:33.33%; float: left; margin-bottom:5px;}
.xiu_img .xiu_dele{background: #000; width: 25px; height:25px; line-height: 25px; text-align: center; color:#fff; font-weight: bold; border-radius: 100%; position: absolute; right:5px; top:0px; z-index: 999; cursor: pointer; display: none;}
.xiu_img.cur .xiu_dele{display: block;}
.xiu_img_padding,.xiu_add_padding{padding-right:5px; position: relative;}
.xiu_add{width:33.33%; cursor: pointer; float:left; text-align: center; color:#fff; display: block;}
.xiu_add .square_box{background:#f84c2f; border-radius: 5px;}
.xiu_add .square_box img{margin-top:20%; width:60%;}
.xiu_pv{background:#fff; border-bottom:1px solid #f3f3f3;}
.user_contact li span.copy_msg,.user_contact li span.ts_msg{width:auto;}
.ts_msg{position:absolute; margin-left:10px;}
#gp{appearance:none; -moz-appearance:none; -webkit-appearance:none; border:none; width:100%; height:30px; line-height: 30px; margin-right: 10px; background:url(../../images/group/pig_dropdown_arrow.png) no-repeat right bottom; background-size:10px;}
.xiu_content input,.xiu_content textarea{border:0px;}
.xiu_content input:focus,.xiu_content textarea:focus{outline: none;}

/*登录、注册、找回密码*/
.login_logo{margin-top:50px; text-align: center;}
.login_logo img{width:50%; max-width: 320px;}
.login_form{border:1px solid #ddd; border-radius: 5px; margin-top:35px;}
.login_row{padding:10px 10px; border-bottom:1px solid #ddd; position: relative;}
.login_row input{height:30px; line-height: 30px; width: 100%; border:none;}
.login_row input:focus{border: none; outline: none;}
.login_row .login_cold{width:75px; height:28px; line-height: 28px; text-align: center; right:3px; top:3px; background:#ccc; color:#333; position: absolute; border-radius:3px; font-size: 12px; cursor: pointer;}
.login_row:last-child{border:none;}
.login_btn{width:100%;text-align: center; height:35px; line-height: 35px; background: #f74c30; color:#fff; border-radius:5px; margin-top:25px;}
.login_bottom{position:relative; width:100%; border-bottom: 1px solid #ddd; margin-top:65px;}
.login_bottom img{position:absolute; width:70px; top:-25px; left:50%; margin-left:-35px;}
.login_link{width:100%; margin-top:30px;}
.login_link div{width:50%; float: left;}
.login_link div a{display: inline-block; width: 100%;}
.login_link div a span{border-bottom:1px solid;}
.login_link .register_link{border-right:1px solid #ddd; text-align: right}
.login_link .register_link span{color:#f74c30;}
.login_link .forget_link{text-align: left;}
.login_link .forget_link span{color:#969696;}

/*签到*/
.check_bg{background: url(../images/dog_check_bg.jpg) no-repeat;width:100%;padding-bottom: 180px;background-position: center !important;background-size: cover !important;height: 0;position: relative;overflow: hidden;text-align: center;}
.check_btn{background: url(../images/dog_check_btn.png) no-repeat 0 0;background-size: 214%;width: 102px;height: 102px;margin: 23px auto 0 auto;overflow: hidden; display: inline-block;}
.check_btn h2{font-size: 18px;font-weight: normal;color: #f84c2f;margin-top: 30px;text-align: center;}
.check_btn p{font-size: 12px;font-weight: normal;color: #f84c2f;margin-top: 5px;text-align: center;}
.check_btn:active{background: url(../images/dog_check_btn.png) no-repeat -116px 0;background-size: 214%;}
.check_int{text-align: center;font-size: 14px;color: #fff;margin-top: 15px;}
.check_int span{font-size: 16px;color: #f9c404;margin-left: 5px;}
.month-container{background:#fff;height:auto;padding: 10px;}
.month-head{height: 40px;font-size: 14px;text-align:center;color: #333;line-height: 30px;}
.month-head span{color: #f84c2f;font-size: 16px;margin: 0 3px;}
.month-tit{margin-bottom: 10px;overflow: hidden;border-radius: 3px;}
.month-day{float: left;width:14.28%;background: rgba(248, 76, 47, 0.1);height: 30px;line-height: 30px;text-align: center;}
.month-day span{color: #f84c2f;font-size: 16px;}
.month-body{display: inline;}
.month-cell {float: left;width:14.28%;text-align: center;}
.month-cell span {text-align: center;font-size: 16px;color: #333;line-height: 40px;}
.month-cell.pink span {color: #999;}
.month-cell.cin{background: url(../images/dog_check_in.png) no-repeat center 16px;background-size: 20px;font-weight: bold;}

/*投诉*/
.complaint h2{font-size: 14px; padding:10px; font-weight: normal; color:#666;}
.complaint_main{background:#fff; padding:0px 10px;}
.complaint_main li.cur{background: url("../images/pig_tag_set.png") no-repeat right;
    background-size: 25px; background-position: 95%;}
.complaint_main li{border-bottom:1px solid #f3f3f3; padding:10px 0px; font-size: 14px; cursor: pointer;}
.complaint_main li:last-child{border-bottom:none;}
.complaint_btn,.complaint_tj{display:block; width:100%; height:40px; line-height: 40px; text-align: center; background:#f84c2f; color:#fff; font-size: 14px; border-radius: 5px;}
.complaint_form{margin-top:10px;}
.complaint_outside{padding:5px; background:#fff; border:1px solid #dedede; border-radius:5px;}
.complaint_com{width:100%; height:100px; border:none;}
.to_complaint{float:right; color:#666; padding:0px 10px; margin-top:20px;}