{template 'common/header'}
<script src="{RES}js/dist/echarts.js"></script>
{php echo $this -> set_tabbar($action, $storeid);}
<style>
    .label{cursor:pointer;}
</style>
<div class="main">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="pill">访问统计</a></li>
                <li role="presentation" class=""><a href="#high" aria-controls="high" role="tab" data-toggle="pill">订单分析
                </a></li>
                <li role="presentation" class=""><a href="#page" aria-controls="page" role="tab" data-toggle="pill">营业分析
                </a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-tabs" id="myTab">
                <li><a href="./index.php?c=site&amp;a=entry&amp;foo=cu&amp;cred=1&amp;do=zmfwsjj&amp;m=zmcn_fw">性别分布</a></li>
                <!--<li><a href="./index.php?c=site&amp;a=entry&amp;foo=cu&amp;cred=4&amp;do=zmfwsjj&amp;m=zmcn_fw">地区分布</a></li>-->
                <li><a href="./index.php?c=site&amp;a=entry&amp;foo=cu&amp;cred=2&amp;tj=4&amp;do=zmfwsjj&amp;m=zmcn_fw">访问走势(7天)</a></li>
                <li><a href="./index.php?c=site&amp;a=entry&amp;foo=cu&amp;cred=2&amp;tj=3&amp;do=zmfwsjj&amp;m=zmcn_fw">访问走势(当月)</a></li>
                <li><a href="./index.php?c=site&amp;a=entry&amp;foo=cu&amp;cred=2&amp;tj=2&amp;do=zmfwsjj&amp;m=zmcn_fw">访问走势(30天)</a></li>
                <li class="active"><a href="./index.php?c=site&amp;a=entry&amp;foo=cu&amp;cred=2&amp;tj=1&amp;do=zmfwsjj&amp;m=zmcn_fw">访问走势(12月)</a></li>
            </ul>
        </div>
        <div id="main" class="panel-body " style="height: 450px; width: 100%; -webkit-user-select: none; background-color: rgba(0, 0, 0, 0); cursor: default;" ></div>
        <script type="text/javascript">
            require.config({paths: {echarts: '{$echarts_path}'}});
            require(['echarts','echarts/chart/line','echarts/chart/bar'],
                    function (ec) {
                        var myChart = ec.init(document.getElementById('main'));
                        var option = {
                            title : {text: '访问量统计（12个月）',subtext: '根码上点餐查询所获取数据分析'},
                            tooltip : {trigger: 'axis'},
                            toolbox: {show : true,feature : {mark : {show: true},dataView : {show: true, readOnly: false}, magicType : {show: true, type: ['line', 'bar']},restore : {show: true},saveAsImage : {show: true}}},
                            calculable : true,
                            xAxis : [{type : 'category',boundaryGap : false,data : ['2015年01月','2015年02月','2015年03月','2015年04月','2015年05月','2015年06月','2015年07月','2015年08月','2015年09月','2015年10月','2015年11月','2015年12月','2016年01月',] }],
                            yAxis : [{type : 'value',axisLabel : {formatter: '{value} 次'}}],
                            series : [{name:'关注次数',type:'line',data:[10,0,0,0,0,0,0,0,40,10,7,11,2,],markLine : {data : [{type : 'average', name : '平均值'}]}}]
                        };

                        myChart.setOption(option);});
        </script>

    </div>
</div>
{template 'common/footer'}