@charset "utf-8";

menu{width:100%; height: 2.5rem; position: fixed; background: rgba(40,67,79,.9); bottom: 0px; left: 0px; right: 0px; color: rgba(255,255,255,1); z-index: 102;}
menu a{color: rgba(255,255,255,1) !important; display: table-cell; width: 1%; text-align: center; font-size: .65rem; vertical-align: middle; line-height: 1.5rem;}
menu a:active{background: rgba(0,0,0,.2); color: rgba(255,255,255,.5) !important;}
menu a.active{background: rgba(0,0,0,.2);}
menu i{display: block; font-size: 1.3rem; height: 1rem; padding-bottom: .2rem; position: relative;}
menu i.icon-cart span{width: 1rem; height: 1rem; line-height: 1rem; border-radius: 50%; background: rgba(255,255,0,1); box-shadow: 0 0 3px rgba(0,0,0,.3); color: rgba(244,83,91,1); position: absolute; top: 0; right: 10%; font-size: .8rem; font-style: initial;}

menu button{width: 100%; padding: 0 .5rem; font-size: .9rem; height: 2.7rem; line-height: 2.2rem; background: rgba(255,159,0,1); color: rgba(255,255,255,1);}
menu button:active{background:rgba(0,172,152,1) !important; color: rgba(255,255,255,1) !important;}
menu button:disabled{background: rgba(230,230,230,1); color: rgba(0,0,0,.1);}
menu button:active:disabled{background: rgba(230,230,230,1) !important; color: rgba(0,0,0,.1) !important;}


.foot_nav {
position: fixed;
bottom: 0;
width: 100%;
height: 50px;
border-top: 1px solid #e3e3e3;
background-color: #fff;
}
ol, ul {
list-style: none;
margin: 0;
padding: 0;
vertical-align: baseline;
}
.foot_nav li {
float: left;
width: 20%;
margin-top: 5px;
text-align: center;
}
a:visited {
color: inherit;
}
a {
text-decoration: none;
color: #333;
}
a, img, button, input, select {
-webkit-tap-highlight-color: transparent;
outline: 0;
}
.foot_nav .icon_indexpage {
background-position: 0 -25px;
}
.foot_nav .cur_foot_nav_item .icon_indexpage {
background-position: 0 -50px;
}
.foot_nav .icon_category {
background-position: -25px -25px;
}
.foot_nav .cur_foot_nav_item .icon_category {
background-position: -25px -50px;
}
.foot_nav .icon_community {
background-position: -50px -25px;
}
.foot_nav .cur_foot_nav_item .icon_community {
background-position: -50px -50px;
}
.foot_nav .icon_shopcart {
background-position: -75px -25px;
}
.foot_nav .icon_user {
background-position: -100px -25px;
}
.foot_nav .cur_foot_nav_item .icon_user {
background-position: -100px -50px;
}
.foot_nav .icon_global {
display: block;
margin: 0 auto;
}
.icon_global {
display: inline-block;
width: 25px;
height: 25px;
background: url(../images/global_sprite.png) 100px 100px;
background-size: 125px 75px;
}
.foot_nav li .word {
font-size: 10px;
color: #999;
}
.foot_nav .foot_nav_item_shopcart, .foot_nav .foot_nav_item_user {
position: relative;
}
.foot_nav .red_pot_box {
position: absolute;
width: 100%;
top: -5px;
}
.foot_nav .cart_num {
display: none;
}
.foot_nav .red_pot {
display: inline-block;
border-radius: 7px;
background: #ff6600;
min-width: 7px;
padding: 2px 3px;
height: 9px;
color: white;
line-height: 11px;
border: 1px solid #ffffff;
vertical-align: middle;
margin-left: 25px;
font-size: 10px;
}