@media (min-width:721px) {
	html {
		font-size: 937.5%;
	}
}

@media (min-width:541px) and (max-width:720px) {
	html {
		font-size: 1400%;
	}
}

@media (min-width:481px) and (max-width:540px) {
	html {
		font-size: 1054%;
	}
}

@media (min-width:361px) and (max-width:480px) {
	html {
		font-size: 938%;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:414px) {
	html {
		font-size: 808%;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:375px) {
	html {
		font-size: 732%;
	}
}

@media (min-width:321px) and (max-width:360px) {
	html {
		font-size: 625%;
	}
}

@media (max-width:320px) {
	html {
		font-size: 625%;
	}
}
/* Çå³ý¸¡¶¯ */
.clearfix:before,.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

q:before,q:after {
	content: ""
}

.clear {
	clear: both;
}

.imgimg img {
	width: 100%;
	margin: o auto
}

.top_rd {
	margin-top: 0rem;
}

.top_rd .leftside {
	width: 8%;
	height: .22rem;
	background-color: #fff;
	border-radius: 0 .15rem 0 0;
	-webkit-border-radius: 0 .15rem 0 0;
	float: left;
}

.top_rd .rightside {
	width: 92%;
	height: .22rem;
	background-color: #fff;
	border-radius: .15rem 0 0 0;
	-webkit-border-radius: .15rem 0 0 0;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-left: .025rem solid #efefef;
}

.step_block {
	background-color: #fff;
}

.step_block .step_main {
	width: 92%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: 8%;
	border-left: .025rem solid #efefef;
}

.step_main dl {
	display: table;
	margin-left: -.22rem;
}

.step_main dl dt img {
	width: 50px;
}

.step_main dl dt {
	display: table-cell;
	width: .44rem;
	vertical-align: middle;
	padding-right: .06rem;
}

.step_main dl dd {
	display: table-cell;
	font-size: .16rem;
}

.step_main dl dd label {
	display: block;
	font-size: .11rem;
	color: #999;
}

.step_main ul {
	padding: .12rem .05rem .18rem .28rem;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.step_main ul li {
	float: left;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-right: .07rem;
	padding-bottom: .07rem;
	text-align: center;
}

.step_main ul li a {
	display: block;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #e0e0e0;
	font-size: .12rem;
	padding: .08rem 0;
	position: relative;
}