@media screen and (max-width:640px){
	
	#container{
		width:100%;
	}
	
	#header{
		width:100%;
	}
	#header-second{
		width:100%;
	}
	
	#content{
		width:100%;
	}
	
	#footer{
		width:100%;
	}
	
	#tab{
		width:100%;
	}
	
}