{template 'common/header'}
<div class='container' style='padding: 0 5px 10px; margin: 0; width: 100%'>

    {template 'web/show/tab_header'}


    <form class="form-horizontal" action="" method="post">

        <input type='hidden' name='op' value="show"/>

        <div class="panel panel-success">
            <div class="panel-heading">发布产品设置  </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 control-label">普通用户一天可以发布几个产品秀</label>
                    <div class="col-sm-9 col-xs-9 col-md-7">
                         <input class="form-control" type="text" name="show[common]" value="{$set2['show']['common']}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 control-label">VIP用户一天可以发布几个产品秀</label>
                    <div class="col-sm-9 col-xs-9 col-md-7">
                        <input type="text" name="show[vip]" class="form-control" value="{$set2['show']['vip']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 control-label">成功发布产品秀扣除{if $set['custom']['credittxt']}{$set['custom']['credittxt']}{else}积分{/if}</label>
                    <div class="col-sm-9 col-xs-9 col-md-7">
                        <div class="input-group">
                            <input class="form-control" type="text" id="show_credit" name="show[show_credit]" value="{$set2['show']['show_credit']}">
                            <span class="input-group-addon">{if $set['custom']['credittxt']}{$set['custom']['credittxt']}{else}积分{/if}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 control-label">发布产品秀是否审核</label>
                    <div class="col-sm-9 col-xs-9 col-md-7">
                        <label for="form-oauth-0" class="radio-inline">
                            <input type="radio" name="show[ischeck]" value="0" {if $set2[show]['ischeck'] == 0}checked="true"{/if}  />是
                        </label>
                        <label for="form-oauth-1" class="radio-inline">
                            <input type="radio" name="show[ischeck]" value="1"  {if $set2[show]['ischeck'] == 1}checked="true"{/if} />否
                        </label>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input name="token" type="hidden" value="{$_W['token']}"/>
                <button type="submit" class="btn btn-success col-sm-2" name="submit" value="提交">
                    <i class="fa fa-check-circle"></i> 提交
                </button>
            </div>
        </div>
    </form>
</div>




　

