a, b, body, canvas, dd, div, dl, dt, em, form, h1, h2, h3, h4, h5, h6, hr, html, img, input, label, li, ol, p, q, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent
}

body, html {
    font-size: 62.5%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-size-adjust: none;
    -webkit-text-size-adjust: 100% !important;
    font-family: STHeiTi-Light, 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback';
    position: relative
}

img {
    border: none;
    pointer-events: none
}

.foo_loading {
    display: none;
    width: 100%;
    height: 50px;
    background: url(img/loading_2.gif) center center no-repeat #f0f0f0;
    background-size: 20px 20px
}

.iphone {
    display: none;
    width: 100%;
    height: 31px;
    color: #999;
    text-align: center;
    font-size: 1rem;
    line-height: 31px;
    background-color: #f0f0f0;
    position: relative;
    top: -1px
}

.show {
    display: block
}

.hide {
    display: none
}

.noGoods {
    display: none;
    height: 100%;
    background-color: #fff;
    text-align: center
}

.noGoods div:nth-child(1) {
    display: block;
    width: 100%;
    height: 91px;
    background-size: 58px 58px
}

.noGoods .img_category {
    background: url(img/no_goods.png) center 33px no-repeat
}

.noGoods .img_record {
    background: url(img/no_record.png) center 33px no-repeat
}

.noGoods .text {
    width: 100%;
    height: 43px;
    line-height: 43px;
    font-size: 1.4rem;
    color: #999
}

.btn-orange {
    cursor: default;
    display: inline-block;
    width: 100%;
    height: 41px;
    line-height: 41px;
    border-radius: 5px;
    background-color: #ff8a01;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none
}

.btn-white {
    cursor: default;
    display: inline-block;
    width: 100%;
    height: 41px;
    line-height: 41px;
    border-radius: 5px;
    background-color: #fefefe;
    border: .1rem solid #d7d7d7;
    color: #666;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none
}

.btn-orange:active {
    background-color: #df7800
}

.btn-white:active {
    background-color: #e9e9e9
}

.circle_box {
    width: 100%;
    height: 158px;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 100
}

.circle_top {
    width: 100%;
    height: 100px
}

.circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 51px;
    border: 1px solid #ff8903;
    background-clip: padding-box;
    background-color: #ff8903;
    color: #fff;
    position: relative;
    -webkit-animation: bounceIn .5s .1s ease both
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05)
    }
    70% {
        -webkit-transform: scale(.9)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

.text_box {
    width: 100%;
    height: 48px;
    position: absolute;
    top: 50%;
    margin-top: -24px
}

.text {
    font-size: 1.2rem
}

.count {
    font-size: 2.6rem
}

.rule {
    display: inline-block;
    width: 65px;
    height: 40px;
    line-height: 40px;
    background: url(img/my_count.png) left center no-repeat;
    background-size: 14px 14px;
    position: fixed;
    top: 2px;
    right: 0;
    z-index: 200;
    padding-left: 17px;
    color: #878787;
    font-size: 1.2rem
}

.select {
    padding-top: 10px
}

.select a {
    margin: 0 10px;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    display: inline-block;
    color: #878787;
    font-size: 1.2rem;
    position: relative;
    z-index: 200
}

.select span {
    width: 93px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-size: 11px 10px;
    padding-left: -4px;
    text-align: center;
    position: relative;
    left: 10px
}

.shop {
    background: url(img/shop.png) 4px center no-repeat
}

.record {
    background: url(img/my_record2.png) 4px center no-repeat
}

.area {
    height: 27px;
    padding-top: 12px
}

.line {
    width: 90%;
    height: 4px;
    border-bottom: 1px #e6e6e6 solid;
    text-align: center;
    margin: 0 auto
}

.line span {
    width: 60px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    background: #fff;
    color: #ccc;
    font-size: 1.2rem;
    position: relative;
    top: -5px
}

.opacity {
    height: 10px;
    background: url(img/opacity.png) left center no-repeat
}

.list {
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    background-color: #fff;
    padding: 183px 5% 0
}

.list li {
    display: -webkit-box;
    height: 56px;
    border-bottom: 1px #ebebeb solid
}

.list li div {
    -webkit-box-flex: 2
}

.list li h3 {
    color: #666;
    font-size: 1.4rem;
    height: 24px;
    line-height: 24px;
    padding-top: 7px;
    font-weight: 400
}

.list li p {
    color: #999;
    font-size: 1.2rem
}

.pre_count {
    text-align: right;
    line-height: 56px;
    color: #ff8903;
    font-size: 1.4rem
}

.pre_green {
    color: #52b786
}

.btn-orange {
    cursor: default;
    display: inline-block;
    width: 100%;
    height: 41px;
    line-height: 41px;
    border-radius: 5px;
    background-color: #ff8a01;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none
}

.btn-white {
    cursor: default;
    display: inline-block;
    width: 100%;
    height: 41px;
    line-height: 41px;
    border-radius: 5px;
    background-color: #fefefe;
    border: .1rem solid #d7d7d7;
    color: #666;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none
}

.btn-orange:active {
    background-color: #df7800
}

.btn-white:active {
    background-color: #e9e9e9
}

.foo_opacity {
    background-color: #fff
}