html,body,h1,h2,h3{font-family:"Microsoft YaHei UI", "微软雅黑", "宋体";}
.ng-cloak{display:none;}
.container-fill{width:auto;padding-left:0;padding-right:0;}
.row .row, .form-group .form-group{margin-left:auto;margin-right:auto;}

.nav-bardown{position:fixed; bottom:0; left:0; height:3.7em; overflow:hidden; background:#f4f4f4; border-top:1px solid #d8d5d4;}
.nav-bardown li{display:table-cell; width:1%;}
.nav-bardown li a{padding-top:.2em; text-align:center; color:#7a7f83; text-decoration:none;}
.nav-bardown li a:hover{background-color:#dddddd;}
.nav-bardown i{display:block; font-size:2em; color:#a2a6a9;}
.nav-bardown span{display:block;font-size:0.5em;}
.nav-bardown a.active, .nav-bardown a.active i{color:#5ac5d4;}

