/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flexslider_normal .flex-container a:active,
.flexslider_normal a:active,
.flexslider_normal .flex-container a:focus,
.flexslider_normal a:focus  {outline: none;}
.flexslider_normal .slides,
.flexslider_normal .flex-control-nav,
.flexslider_normal .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider_normal {margin: 0; padding: 0;}
.flexslider_normal .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider_normal .slides img {width: 100%; display: block;}
.flexslider_normal .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .flexslider_normal .slides {display: block;} 
* html .flexslider_normal .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.flexslider_normal .no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider_normal {margin: 0 0 60px; background: #fff; position: relative; zoom: 1;}
.flexslider_normal .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.flexslider_normal .loading .flex-viewport {max-height: 300px;}
.flexslider_normal .slides {zoom: 1;}
.flexslider_normal .carousel li {margin-right: 5px}

/* Direction Nav */
.flexslider_normal .flex-direction-nav {*height: 0;}
.flexslider_normal .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flexslider_normal .flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flexslider_normal .flex-direction-nav .flex-prev {left: -36px;}
.flexslider_normal .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider_normal .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider_normal .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flexslider_normal .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flexslider_normal .flex-control-nav {width: 100%; position: absolute; bottom: 5px; text-align: center; z-index:10; opacity:0.9; }
.flexslider_normal .flex-control-nav li { margin:0; padding:4px; background:none repeat scroll 0 0 ; display: inline-block; zoom: 1; *display: inline;}
.flexslider_normal .flex-control-paging li a {width: 8px; height: 8px; display: block; background:#fff; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px;}
.flexslider_normal .flex-control-paging li a:hover { background: #66FF33; background: rgba(33,33,33,0.7); }
.flexslider_normal .flex-control-paging li a.flex-active { background:#66FF33; cursor: default; }

.flexslider_normal .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flexslider_normal .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flexslider_normal .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flexslider_normal .flex-control-thumbs img:hover {opacity: 1;}
.flexslider_normal .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flexslider_normal .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flexslider_normal .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}