.line_li .i_bef:before, .call:before, .mydtl_icon_conn, .mydtl_icon_dp {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAABkCAMAAADt/6PaAAAANlBMVEUAAABgYGDGpnbX1s5oaGh8fXx5enqmq65Okc+jqKtzc3Pk49xjY2NmZmbT1cx8fHy6xr9lZWW4aApdAAAAEXRSTlMA/A8njR06mARvbXTXtUdWkCB6TWsAAAJXSURBVFjD7ZXRdqwgDEWNgCYoOP7/z96h6AQI5HZeuzxPXSSbnEQmnd6aj5WWeRprjrS+RVEmuRwxIxTj+hGhZJM2Ppdxpl11L60q7NZGJW3WG5677a5CRR7pMEmYOLoyrBWmGEmW1uF70KbsMAr41YWJWaaJwzfbnTZnl8kNvG0Gp+/hJddNxr6H3XhanD1Xs6fmhb2MChPmVAFH+Tjl+yODaIi/G/tWSuPaERZx0kpHyVJlTSs9S9hU8e9KU3cqMdFo3H+6Nk2cbhodiahRC/O2iEe+u26AxCpQb484NB71sUjaiO0p2x4XWCrTUvNWwVt/ky3D/woF+0qwpGkaCc2WwVQ4irZEw6L49rpWkpFDEQ0rkrSbHj169OivCT2AdWrK7AOc5wnBz01gP5OWMersyarKzJAP/ZA9mGwzw33jiL3KButtgJyKV2j52NFYOPBK38tcK2Hp2WJ5wM5Bh10KHfnv0mue2qnDIbOCDirMhUN3DK607bEH+5zWCFM+f6l98MB2LtyU3vPd2vOCnxIYwL4JCDgdsLufiUPuXvvIaVyX+ZToMeVmKPtPAvwe5qaPX9g+b9sJhuJ97n049CP2PkZQSvv+MOEzJa907ZIpETn4SgRl4DZFsHNj6U3aK24OrnraUCbjnmmXf7B8SfEOXL2SbJtwgpvQ9n6BnG5znYBy08Cxd9aZ48PUIA+BjbPkiPKd7jIR2uE4qOnQxsPbV2Ktz92rtNj60DQkOmPJN7mwIak8aGUnWbFURGOXXPe5LJMm53d4e7bdCoudHj169OgP6R8zjTokowlh2AAAAABJRU5ErkJggg==") no-repeat;
    background-size: 30px 50px
}

.order_dl {
    font: 400 14px/1.8 ""
}

.order_dl dt {
    display: inline-block;
    width: 70px;
    vertical-align: top;
    color: #797979
}

.order_dl dd {
    display: inline-block;
    color: #424242;
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px)
}

.myhoteldtl_btn {
    position: absolute;
    padding: 4px 10px;
    right: 5px;
    top: 5px;
    background: #0088ce;
    color: #fff
}

.myhoteldtl_btn:before {
    position: absolute;
    content: "";
    left: 8px;
    top: 7px;
    width: 20px;
    height: 15px;
    background-position: -209px -205px
}

.myhotelbox {
    position: relative;
    margin-top: 20px;
    background: #fff
}

.blue_tit {
    position: relative;
    top: -5px;
    left: 5px;
    width: auto;
    max-width: 93%;
    padding: 7px 30px 7px 10px;
    margin-bottom: -10px;
    line-height: 20px;
    font-size: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAABCCAMAAAC/znzKAAAA4VBMVEXu7u7u7u7v7+/////6+vr////x8fH////////09PT////////////////////////////////y8vL////////////4+Pj////////////////////////////7+/v39/f////////29vb////z8/P////////////////w8PD////////9/f3////////////////////////////z8/Pw8PD5+fn8/Pz////w8PD////////////////////09PT////v7+8AAAD19fX8/Pzw8PD5+fn39/f7+/v+/v7///80l0YWAAAAQ3RSTlP8/vN2sY3moDPOVQRqPiAMEEXcmX5NvBVsJTtyXAquwSeCxSvTGGBQkOxjSaUGWIU2lhKA1+64qm/pCCM5lAHRAv4Acli6BQAAAKVJREFUeNpdx0V2AgEURUEOEjxocHcIkuBOn0BD+u9/QYzvq1n5/kj+KY/JQ/IoH7/zEeMT8rD8g097fMb4vHwr9/En4+fykfzGz178j/El+VR+4Jce/238Sl7gry5fNr4mv8h7/PHJn43fy3fyMV80/kveljd5x+Vbxg/kv/I1X//nK8ZX5Q35hu8bP5Qv5B3ecfmu8RN5Tp7lUw8+aXxAHpT78TcLZwQiJ0OdqAAAAABJRU5ErkJggg==") no-repeat right top #2997e2;
    color: #fff
}

.blue_tit:not(.ellips_line2) {
    display: inline-block;
    max-width: 60%
}

.yellow_tit {
    position: absolute;
    top: -5px;
    right: 5px;
    display: inline-block;
    width: auto;
    padding: 0 10px;
    height: 34px;
    margin-bottom: -10px;
    line-height: 34px;
    font-size: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #424242;
    background: #ffe100
}

.yellow_tit:before {
    position: absolute;
    content: "";
    left: -10px;
    border-top: 34px solid transparent;
    border-right: 10px solid #ffe100
}

.yellow_tit dfn {
    font-size: 10px
}

.line_li li {
    position: relative;
    overflow: hidden;
    padding: 9px 20px 9px 10px;
    border-bottom: 1px solid #ccc
}

.line_li li:last-child {
    border-bottom: 0
}

.lmr_infobox dt {
    color: #797979
}

.lmr_infobox dt, .lmr_infobox dd {
    display: inline-block;
    width: 21%;
    box-sizing: border-box
}

.lmr_infobox .dl_l {
    width: 76%;
    padding-right: 10px;
    vertical-align: middle
}

.lmr_infobox .dl_m {
    width: 55%;
    padding: 0 10px
}

.lrlist {
    padding: 10px 15px
}

.lrlist li {
    overflow: hidden
}

.lrlist em {
    float: left;
    width: 70px;
    color: #797979
}

.lrlist span {
    display: inline-block
}

.line_li .i_bef {
    padding-left: 35px
}

.orderdtl_greybtn, .orderdtl_biggreybtn {
    display: block;
    min-width: 49%;
    max-width: 80%;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
    color: #424242;
    border: 1px solid #a9a9a9;
    background: #f0f4f5
}

.orderdtl_biggreybtn {
    width: 100%;
    padding: 10px;
    max-width: 100%;
    text-align: center
}

.icon_txt {
    position: absolute;
    top: 50%;
    right: 30px;
    height: 20px;
    margin-top: -10px;
    padding: 0 4px;
    font: 400 .86em/20px STXihei;
    background: #93989b;
    color: #fff
}

.order_numbox {
    font-size: 16px;
    padding: 0 10px
}

.link_detail {
    position: relative;
    padding: 0 10px;
    margin: 10px 0;
    font: 400 1.143em/45px "";
    background: #fff;
    color: #333
}

.call {
    position: relative;
    display: inline-block;
    padding: 4px 10px 4px 30px;
    margin-bottom: 10px;
    font: 400 1.143em/1.5 Tahoma;
    border: 1px solid #a9a9a9;
    color: #535353;
    background: #fff
}

.order_price {
    padding-right: 10px;
    margin-bottom: 20px;
    line-height: 40px;
    text-align: right;
    background: #f2f2f2;
    color: #fc4e07
}

.align_r {
    text-align: right
}

.lmr_mg {
    margin-left: 2px
}

.mygroup_price {
    margin: 0 -10px -10px;
    padding: 10px;
    text-align: right;
    background: #ebf4fa
}

.call:before {
    position: absolute;
    content: "";
    margin-top: -7px;
    width: 15px;
    background-position: -59.1px -117px
}

.line_li .i_bef:before, .call:before {
    left: 15px;
    top: 50%;
    margin-top: -9px;
    width: 11px;
    height: 18px
}

.line_li .mydtl_icon_address:before {
    width: 15px;
    background-position: -15px 0
}

.line_li .mydtl_icon_phone:before {
    width: 15px;
    background-position: 0 0
}

.mydtl_icon_dp, .mydtl_icon_conn {
    display: inline-block;
    width: 15px;
    height: 16px;
    margin: 0 10px 0 -24px;
    vertical-align: middle
}

.mydtl_icon_dp {
    background-position: -15px -25px
}

.mydtl_icon_conn {
    background-position: 0 -25px
}

.myc_btnbox .orderdtl_greybtn {
    width: 49%
}

.ht10 {
    height: 10px
}

.hcgray {
    color: #a3a3a3
}

.hotels_comment {
    background: #fff;
    color: #454545;
    border: #cfcfcf 1px solid
}

.hotels_comment .tline, .hotels_comment .tcominfo li {
    border-bottom: #cfcfcf 1px solid;
    margin-bottom: -1px
}

.hotels_comment .com_pd, .hotels_comment .tcominfo li {
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.hotels_comment em {
    color: #1491c5;
    padding-right: 20px
}

.hotels_comment .tvalue {
    font-size: .8em;
    overflow: hidden
}

.hotels_comment .tvalue li {
    width: 50%;
    float: left;
    font-size: 13px;
    padding-bottom: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.hotels_comment .tvalue li span {
    width: 60px;
    height: 8px;
    display: inline-block;
    margin: 0 15px 0 5px;
    background: #ccc
}

.hotels_comment .tvalue li span s {
    height: 8px;
    display: block;
    background: #1491c5
}

.hotels_comment .tvalue li b.b {
    padding-right: 5px
}

.hotels_comment .tvalue p.clear span {
    padding-right: 10px
}

.hotels_comment .tcominfo li {
    overflow: hidden
}

.hotels_comment .tcominfo li span {
    padding-left: 6px;
    font-size: 13px
}

.hotels_comment .tcominfo li span:nth-of-type(1) {
    padding-left: 0
}

.hotels_comment .tcominfo li em {
    padding-right: 0
}

.hotels_comment .tcominfo li time {
    float: right
}

.hotels_comment .tcominfo li p:nth-of-type(2) {
    padding: 5px 0;
    clear: both
}

.hotels_comment .tcominfo li .twebsite {
    float: right;
    color: #999
}

.hotels_detail .newarr_r {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg)
}

.hotels_detail .newarr_r.current {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg)
}

.ht10 {
    height: 10px
}

.hotels_detail {
    background: #fff;
    border: #cfcfcf 1px solid;
    border-width: 0 1px 1px;
    clear: both;
    overflow: hidden
}

.hotels_detail li {
    padding: 6px;
    border-top: #cfcfcf 1px solid
}

.hotels_tabs {
    border-bottom: 0
}

.hotels_tabs li {
    width: 50%;
    float: left;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    text-align: center;
    overflow: hidden
}

.hotels_tabs li.current {
    background: #dfdfdf
}

.hotels_detail span.ellips {
    width: 75%;
    float: left
}

.hotels_detail em {
    color: #1491c5;
    float: right
}

.hotels_tabs_bd li {
    height: 23px;
    line-height: 23px;
    position: relative;
    padding: 7px 30px 7px 6px
}

.jsInfo li {
    padding: 10px;
    height: auto
}

.hotels_dropdate {
    background: #f5f5f5;
    margin: 0 5px 5px
}

.hotels_dropdate li {
    padding: 6px;
    height: auto
}

.myc_dprtxt {
    position: absolute;
    left: 80px;
    right: 30px;
    text-align: right;
    color: #06a2d0
}

.com_attesting {
    background-color: #71ad57;
    float: right;
    font-weight: 700;
    color: #fff;
    border: #5e9744 1px solid;
    padding: 3px 6px
}