@charset "utf-8";
*{margin:0;padding:0;outline:none;}
body {background:#ebebeb;font:100%/22px Microsoft YaHei; user-select: none; -webkit-user-select: none;  /*webkit浏览器*/}
ul,li {list-style:none;}
.clearfix:after,.clearfix:before {  content: " ";  visibility: hidden; display: table; height: 0; } 
.clearfix:after {  clear: both;   }


img{ display:block; width: 100%;}

body { background: url(../images/pic_16.jpg) repeat-y; background-size: 100%;background-attachment: fixed;}

/*首页*/
.dingwei { position: relative; }
.dierqi { width: 15%; position: absolute; top: 40%; right: 10%;z-index: 3; }
.history_btn,.attention { width: 8%; position: absolute; top: 10%; right: 1%; }
.attention { top: -55%; }
.progess_box  { width: 80%; margin: 0 auto 5%; position: relative;  }
.progess { width: 84%; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); box-shadow: 0px 2px 5px #333; border-radius: 200px; display: inline-block; }
.bar_img { width: 16%; position: absolute; top: -10%; left: 0; overflow:hidden;border-radius:50%; vertical-align: middle; display: inline-block; }
.progess_img { width: 0%; height: 100%; border-radius: 200px;  position: absolute; top: 50%; left: 1px; -webkit-transform: translateY(-50%); background: url(../images/progess_img.png) no-repeat left center; background-size: 100% 100%; }
.progess_rate { position: absolute; top: 50%; -webkit-transform: translateY(-50%) translateX(-50%);  left: 50%; font-size: 12px; color: rgba(255,255,255,0.5); }
.title_box { width: 80%; position: absolute; left: 17%; top: 0; }
.user_btn,.friend_btn,.help_btn,.woyao { width: 40%; margin: 5% auto; -webkit-animation: donghua 1s infinite; }
@-webkit-keyframes donghua {
	0% { -webkit-transform:scale(1.1); }
	50% { -webkit-transform:scale(0.9); }
	100% { -webkit-transform:scale(1.1); }
}
.prize_btn { width: 36%; position: absolute; bottom: -30%; left: 50%; margin-left: -18%; }

/*朋友助阵*/
.list { width: 84%; position: relative; margin: 15% auto 5%; border: 2px solid #873d14; border-radius: 10px; padding: 5% 0; background: url(../images/bg3.png) no-repeat; background-size: 100% 100%; }
.list_t { width: 44%; position: absolute; top: 0%; -webkit-transform: translateY(-50%); left: 50%; margin-left: -22%; }
.list ul { padding: 0 10%; }
.list ul li { padding: 3% 0; border-bottom: 1px dotted #873d14; }
.img_box { width: 20%; float: left; border-radius: 5px; }
.result_show { width: 76%; float: right; padding: 2% 0; }
.listTop img { width: 99.9%; margin: 0 auto; }
.result_img,.result_span { color: rgb(125,53,4); line-height: 18px; }
.up,.down { width: 12px; height: 17px; margin: 0 0 0 5px; background: url(../images/up.png); background-size: 100% 100%; display: inline-block;  }
.down { background-image: url(../images/down.png); }
.surplus { width: 70px; height: 40px; text-align: center; font-size: 12px; line-height: 12px; -webkit-box-sizing: border-box; padding: 9px 16px; background: url(../images/bg1.png) center center; background-size: 100% 100%; position: absolute; top: 7%; left: 83%; -webkit-transform: translateX(-50%) rotate(35deg); color: rgb(142,62,3); }
/*非粉丝关注页*/
.follow { width: 100%; height: 100%; position: fixed; z-index: 5; top: 0; left: 0; background: rgba(0,0,0,0.7); display: none; }
.follow_inner { width: 70%; margin: 20% auto; }
.follow_inner img:nth-child(2) { width: 90%; margin: -5% auto 0; }
.follow_inner img:nth-child(3) { width: 60%; margin: 2% auto; }

/*结果显示弹窗*/
.user_show_box,.friend_show_box { width: 100%; height: 100%; position: fixed; top: 0; z-index: 6; background: rgba(0,0,0,0.8); display: none;  }
.show_con { width: 60%; position: fixed; z-index: 33; display: none; background: url(../images/bg.png) no-repeat; top: 40%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); background-size: 100% auto; padding: 3% 5%; }
.show_img { width: 50%; position: absolute; top: -15%; left: 50%; margin-left: -25%; }
.show_p { text-align: center; color: #8e66bf; padding-top: 20%; margin-top: 35%; padding-right: 5%; font-size: 20px; font-weight: bold; line-height: 28px; }
.share_btn { width: 74%; margin: 10% auto; }

/*分享朋友圈*/
.share_friend { width: 100%; height: 100%; position: fixed; top: 0; z-index: 6; background: rgba(0,0,0,0.8); display: none; }
.share_inner { width: 80%; margin: 10% auto; }

/*暖心提醒*/
.rule { width: 100%; height: 100%; position: fixed; top: 0; z-index: 6; background: rgba(0,0,0,0.8); display: none; }
.rule_inner { width: 94%; margin: 10% auto; }

/*往期活动*/
.history { width: 100%; height: 100%; position: fixed; top: 0; z-index: 6; background: rgba(0,0,0,0.8); display: none; }
.history_con { width: 90%; height: 90%; position: absolute; left: 50%; top: 5%; margin-left: -45%; overflow: scroll; padding: 5%; -webkit-box-sizing: border-box; background: rgba(0,0,0,0.5); border-radius: 10px; }
.close { width: 10%; position: absolute; top: 2%; right: 1%; z-index: 3; }
.history_con ul { margin-top: 5%; }
.history_con ul li:nth-child(1) { width: 70%; }

/*领奖页面*/
.prize_form { width: 100%; height: 100%; position: fixed; top: 0; z-index: 6; background: rgba(0,0,0,0.8); display: none;  }
.prize_inner { width: 86%; margin: 20% auto; }
.form { width: 70%; position: absolute; top: 10%; left: 50%; margin-left: -35%; font-size: 16px; color: #fff; font-weight: bold; }
.form input { width: 76%; height: 23px; display: inline-block; margin-left: 2%; padding-left: 3%; -webkit-box-sizing: border-box; }
.prize_btn1 { width: 60%; margin: 25% auto; }
.img_suo img { width: 85%; margin: 0 auto; }

/*结束页面*/
.end { width: 100%; height: 100%; position: fixed; top: 0; z-index: 6; background: rgba(0,0,0,0.8); display: none; }
.content,.show_box { width: 76%; position: absolute; bottom: 10%; left: 50%; margin-left: -38%; }
.content { bottom: 75%;}
.history_btn1 { top: 5%; }
.footerImg { position:fixed; width: 90%; left: 50%; margin-left: -45%; bottom:2%; }

@media screen and (max-height: 500px){
   .show_box { width: 66%; margin-left: -33%; }
   .dierqi { top: 35%; }
}

