.phone_tip {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    font-size: 16px;
    color: #ffc;
    text-align: center;
    overflow: hidden;
    z-index: 994;
    opacity: 1
}

.phone_tip .share .yes {
    display: block;
    margin-top: 5px;
    color: #8e8e8e;
}


.phone_tip .yes .back {
    display: block;
    position: relative;
    width: 71.8666667%;
    height: 42px;
    margin: 10% auto 0;
    padding: 6px 0;
    border: 1px dashed #606060;
    border-radius: 17px;
    font-size: 16px;
    line-height: 28px;
    color: #8e8e8e;
    text-align: center;
    background-color: rgba(0,0,0,0);
}
.phone_tip .share {
    font-size: 16px;
    color: #fff;
}

#shadow {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .87);
    z-index: 993
}

#shadow.up {
    z-index: 993
}

.formitem {
    margin-top: 25px;
    text-align: center;
}

.formitem label {
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
}

.formitem input,
.formitem textarea {
    width: 80%;
    height: 40px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    line-height: 28px;
    color: #cbcbcb;
    text-indent: 8px;
    border-radius: 10px;
}

.formitem input:hover,
.formitem input:focus {
    color: #333
}

.formitem textarea {
    width: 68.27%;
    height: 73px;
}




.time_tip {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    font-size: 16px;
    color: #ffc;
    text-align: center;
    overflow: hidden;
    z-index: 994;
    opacity: 1
}

.time_tip .share .yes {
    display: block;
    margin-top: 5px;
    color: #8e8e8e;
}


.time_tip .yes .back {
    display: block;
    position: relative;
    width: 71.8666667%;
    height: 42px;
    margin: 10% auto 0;
    padding: 6px 0;
    border: 1px dashed #606060;
    border-radius: 17px;
    font-size: 16px;
    line-height: 28px;
    color: #8e8e8e;
    text-align: center;
    background-color: rgba(0,0,0,0);
}
.time_tip .share {
    font-size: 16px;
    color: #fff;
}

.time_tip .rbg{
    display: none;
    background: url(p8.png) no-repeat;
    height: 40%;
    background-size: 100%;
    margin-top: 45%;
    padding-top: 12%;
    line-height: 30px;
}


#shadow2 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .87);
    z-index: 993
}

#shadow2.up {
    z-index: 993
}


.rules_tip {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    font-size: 16px;
    color: #ffc;
    /*text-align: center;*/
    overflow: hidden;
    z-index: 994;
    opacity: 1
}

.rules_tip .share .yes {
    display: block;
    margin-top: 5px;
    color: #8e8e8e;
}


.rules_tip .yes .back {
    display: block;
    position: relative;
    width: 71.8666667%;
    height: 42px;
    margin: 10% auto 0;
    padding: 6px 0;
    border: 1px dashed #606060;
    border-radius: 17px;
    font-size: 16px;
    line-height: 28px;
    color: #8e8e8e;
    text-align: center;
    background-color: rgba(0,0,0,0);
}
.rules_tip .share {
    font-size: 16px;
    color: #fff;
}

.result_tip {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #ffc;
    text-align: center;
    overflow: hidden;
    z-index: 994;
}

.result_tip .share {
    font-size: 16px;
    color: #fff;
}

.result_tip .share .img {
    /*max-width: 100%;*/
    width: 100%;
    margin: 0 auto 0;
    border-bottom: 1px solid #606060
}

.result_tip.nogift .share .img {
    border-bottom: none
}

.result_tip .share .img img {
    /*width: 290px;*/
    max-width: 100%;
}

.result_tip .share .r {
    font-size: 20px;
    margin-top: 6%;
}

.result_tip .share .r span {
    color: #ec653f
}

.result_tip .share .yes {
    /*display: none;*/
    margin-top: 5px;
    color: #8e8e8e;
}

.result_tip .yes .tel span {
    text-decoration: underline;
}

.result_tip .yes .back {
    display: block;
    position: relative;
    width: 71.8666667%;
    height: 44px;
    margin: 10% auto 0;
    padding: 6px 0;
    border: 1px dashed #606060;
    border-radius: 17px;
    font-size: 16px;
    line-height: 28px;
    color: #8e8e8e;
    text-align: center;
    background-color: rgba(0,0,0,0);
}

.result_tip .share .no {
    display: none;
    margin-top: 8%;
    font-size: 18px;
    color: #ec993f
}
