@charset "utf-8";
/* CSS Document */
html,body,a,div,i {
    padding:0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: "华文细黑", Arial, Helvetica, sans-serif;
    color:#000;
	font-style:normal;text-decoration: none;
    }
ul,li{
  list-style: none;
}

#xctmhBox {
    width:100%;
    height:auto;
    position: relative;
    padding-top:42px;
    margin:0px;
    background: #f5f5f5;
}
#xctmhBox .top {width:100%;}
#xctmhBox .tmHeader {
    width:100%;
    height:44px;
    background:#ff552e;
    position:fixed;
    top:0px;
    color:#fff;
    padding-right:5px;
    padding-left:5px;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-align: center;
    z-index: 9999;
    overflow: hidden;
}
#xctmhBox .tmHeader .logo {
    width:69px;
    height:30px;
    margin-top:5px;
    float: left;
}
#xctmhBox .top .tmSearch {
    width:50%;
    height:35px;
    background:#ff552e;
    padding-left:12px;
    padding-right:12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    z-index: 1;
    float: left;
}
#xctmhBox .top .tmSearch .formBox {
    height:100%;
    width:100%;
    padding-top:4px;
    padding-bottom:8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#xctmhBox .top .tmSearch .formBox .fa-search {
    position: absolute;
    font-size: 1.2em;
    color:#999;
    top:1em;
    left:1em;
}
#xctmhBox .top .tmSearch .formBox input {
    border:none;
    height:35px;
    width:100%;
    margin:0px;
    padding-left:33px;
    font-size: 0.9em;
    color:#fff;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
    background-color: #ff7759;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.tmHeader .text-icon { 
	float: right;
	display: inline-block;
	height: 30px;
	line-height: 30px;
    margin-top: 7px;
    margin-right: 8px;
    font-size: 0.9em;
}
.tmHeader .text-icon a{ 
    color:#fff;
    text-decoration: none;
}
.pub-icon { 
    float: right;

}
#xctmhBox .top .slide-adv { 
  padding: 10px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#xctmhBox .top .fullSlide { 
    width: 100%;
}
#xctmhBox .top .fullSlide .bd ul {
    padding:0px;
    margin:0px;
    height:auto;
    width: 100%;
    margin-bottom:0px;
}
#xctmhBox .top .fullSlide .bd ul li {
    list-style-type: none;
    margin:0px;
    padding:0px;
}
#xctmhBox .top .fullSlide .bd ul li img {
    max-width: 100%;
    width: 100%;
    border:none;
    margin:0px;
}
.table {
    display:table;
    height:auto;
    width:100%;
    padding:0px;
    margin-bottom:0px;
    position: relative;
    text-align: center;
    background: #fff;
    border:0px;
}
.table-row-group-1,.table-row-group-2 {
    display: table-row;
    border:none;
    width:100%;
    height:97px;
}
.table-cell {
    display:inline-block;
    float: left;
    width: 25%;
    height:88px;
    text-align: center;
    font-size: 0.9em;
}
.table-cell span {
    display: block;
    width:60px;
    height:40px;
    margin: 0 auto 10px;
    margin-top:12px;
}

.table-cell a {
	font-size: 0.9em;
    text-decoration: none;
}
.container {
    width: 100%;
    height: auto;
    padding:10px;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.container .top {
    position: relative;
    width: 100%;
    padding:0px;
    font-size:1em;
    overflow: hidden;
}
.container .top div {
    max-height:280px;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius: 6px;
}
.container .top div.left {
    position: relative;
    width:calc(66.66666% - 4px);
}
.container .top div.right {
    width:calc(33% - 2px);
    position: absolute;
    right: 0px;
    top:0px;
}
.container .top div a {padding:0px;}
.container .top div a img {
    width:100%;
    height:auto;
    border:none;
}

#pageSearch {
	width:100%;
	height:100%;
	background:#f5f5f5;
}
#pageSearch .tmSearch {
    width:100%;
    height:60px;
    padding-left:12px;
    padding-right:12px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    z-index: 1;
}
#pageSearch .tmSearch .formBox {
    height:100%;
    width:calc(100% - 40px);
    padding-top:8px;
    padding-bottom:8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#pageSearch .tmSearch .formBox input {
    border:none;
    height:30px;
    width:90%;
    margin:0px;
    padding-left:35px;
    font-size: 1em;
    color:#999;
    background:#fff url(../img/un_ico_home_v661.png) no-repeat -1px -122px;
    background-size: 30px 148px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#search-btn { 
    background-color: #fff;
    padding:7px 20px;
    border: 1px solid #999999;
    border-radius: 6px;
    margin:8px auto;
    width:100px;
}
#pageSearch .tmSearch .rightTxt {
		display:block;
		position:absolute;
		top:0px;
		bottom:0px;
		margin:auto;
		height:24px;
		font-size:1.0em;
		right:10px;
		color:#ff552e;
	}
@media screen and (max-width:320px){
		#xctmhBox {width:320px;}
		#xctmhBox .tmHeader {width:320px;}
		#pageSearch {width:320px;}
	}
.cate-list { 
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 10px;
	
}
.cate-title { 
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
  color: #ff562f;
  border-bottom: 1px solid #f6f6f6;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  font-weight: bold;
}
.cate-title i {
  display: inline-block; 
  width: 0;
  height: 0;
  margin-left: 10px;
  border-top: 5px solid transparent;
  border-left: 5px solid #ff562f;
  border-bottom: 5px solid transparent;
} 
.cate-title span {
  float: right;
  padding-left: 25px;
  background: url("../img/icon_publish.jpg") no-repeat left 28px;
  background-size: 20px;
}
.cate-title a span  { 
  color: #cfcdcd;
  font-weight: normal;
  font-size: 0.8em
}
.cate-list-a a { 
  float: left;
  width: 25%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #555555;
  font-size: 0.85em;
}
.nav-bar { 
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
}
.pl-list { 
  margin: 0 0 5px;
  padding: 0;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
}
.pl-list p{background-color: #fff;}
.pl-list li { 
  list-style: none;
  border-top: 1px solid #dcdcdc;
  background-color: #fff;
  height: auto;
  margin: 0;
  padding: 10px 8px 10px;
  overflow: hidden;
}
.pl-list li h3 { 
  margin:20px 0 5px;
  padding-top: 8px;
  font-size: 0.9em;
  line-height: 20px;
  font-weight: normal;
  position: relative;
  clear:both;
}
.pl-list li h3 span{color:red;font-size:10px;margin:0 0 0 5px;position:absolute;top:6px;}
.pl-list li p { 
  font-size: 0.8em;
  color: #b4afaf;
  margin:8px 0;
}
.personal-info { 
  float:left;
  color: #000;
}
.tel{ 
  float:right;
  height:30px;
  padding-left:30px;
  line-height: 30px;
  font-size: 14px;
  color: #000;
  background: url(../img/dl_logo.png) no-repeat;
  background-size: 25px;
}
.read-num { 
  clear: both;
}
.img-list {clear:both;margin-bottom:5px;width:100%;height:80px;overflow: hidden;}

.img-list img{ 
 float:left;width:33%;margin-right:0.1%;height:80px;padding:0;margin:0;
}

.like-dislike { 
  width:100%;
  height: 80px;
  background: #fff;
  border-top:1px solid #f6f6f6;
}
.like-dislike #like { 
  background: url(../img/like.jpg) no-repeat center 10px;
  background-size: 40px 40px;
  border-right:1px solid #f6f6f6;
}
.like-dislike #dislike { 
  background: url(../img/dislike.jpg) no-repeat center 10px;
  background-size: 40px 40px;
}
.like-dislike a { 
  padding-top: 60px;
  display: block;
  float: left;
  width:49.288888%;
  text-align: center;
  height:20px;
  background-size: 40px 40px;
}
.footer { 
  background-color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.footer p {  
  text-align: center;
  color: #999999;
  font-size: .9em;
}
.per-body { 
  width:100%;
  padding: 0 10px; 
  overflow: hidden;
  background-color: #f8fafb;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.per-info { 
  padding: 20px 0 10px;
  overflow: hidden; 
}
.per-info img { 
  float: left;
  width: 50px;
  border-radius: 5px;
  margin-right: 10px;
}  
.per-info span { 
  line-height: 30px;
  margin-top: 10px;
  font-size: 14px;
}
.my-list { 
  background-color: #fff;
  border: 2px solid #e2e3e7;
  margin: 5px 0;
  list-style: circle;
  padding:0;
  overflow: hidden;
}
.my-list li {margin:0;padding:10px;border-bottom:1px dashed #e2e3e7;}
.my-list li h3{font-size: 14px;font-weight: normal;line-height:14px;margin:0;}
.my-list li span { 
  font-size: 12px;color:#ababab;
}
._item{
	width: 100%;
  height: 44px;
  line-height: 44px;
  position: relative;
  border-bottom: 1px solid #E7E5E2;
  background: #fff;
}
.title{
  float: left;
  width: 80px;
  margin-left: 15px;
  height: 44px;
  line-height: 44px;
  color: #000;
  font-size: 16px;
}
.after_title{
  position: absolute;
  right: 15px;
  top: 0;
  width: 20px;
  color: #808080;
  font-size: 16px;
}
.before_title{
  float: left;
  color: #808080;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}
.item_text{
  width: auto;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  text-overflow:ellipsis;
  position: relative;
}
.item_t{
  float: left;
  width: 33%;
  position: relative;
}

._item input{
  color: #c3c3c3;
  font-size: 15px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  height: 30px;
  width: 198px;
}
.item_t input{
  width: 40px;
}
.item_t2{
  width: 50%;
}
.item_t2 input{
  text-indent: 20px;
}
.miaoshuTarea{
	height: 80px;
}
.miaoshu{
	height: 75px;
	width: 240px;
	border: none;
  color: #c3c3c3;
  font-size: 15px;
}
.post {
  background: #F7F7F6;
  border-radius: 5px;
  line-height: 80px;
  text-align: center;
  font-size: 16px;
  height: 70px;
  padding: 0 15px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
#btn_post {
  color: #FFF;
  width: 100%;
  height: 44px;
  background: #FF5B1B;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  vertical-align: middle;
}
._item_split {
	width: 100%;
	height: 10px;
	background: #F7F7F6;
	border-bottom: 1px solid #E7E5E2;
}
._item select{
  width: 200px;
  border:none;
  border-width: 0px;
  border-top-style: none; 
  border-right-style: none; 
  border-left-style: none; 
  border-bottom-style: none;
  height:40px;
  outline: none;
  appearance:none;
  -moz-appearance:none; 
  -webkit-appearance:none;
  background-color: #fff;
}
#localArea{
  width: 100px;
}
#localDiduan{
  display: none;
  width: 100px;
}
.borderHight{
  border-bottom: 1px dashed red;
  border-top: 1px dashed red;
}
.nav {
  background: #eee;
  border-bottom: 1px solid #E3E3E3; 
  color: #aaa;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  text-indent: 5px;
}
.nav_a a {
  color: #808080;
  padding: 5px 5px 3px 5px;
}
.nav_a .nav_nourl{
  color: #a6a6a6;
}
.nav .nav_a {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.event-detail { 
  padding:10px;
  background-color: #fff;
  box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.event-detail h1{  
  font-size: 16px;
  margin:5px 0;
}
.event-detail span{ 
  color:#b8b8b8;
  font-size: 12px;
}
.tail { 
  width:100%;
  border-top:1px solid #f6f6f6;
  box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.event-detail .address { 
  color:#555;
  font-size: 14px;
  line-height: 24px;
}
.tail p {
  font-size: 14px;
  line-height: 18px;
  color:#555;
  width:100%;
  box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.tail p img { 
  width: 100%;
}
.tail img { 
  width:100%;
  margin:10px 0;
}
.tail h3 { 
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}
.avatar { 
  width:60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 0;
  float: right;
  overflow: hidden;
}
.ajax-more { 
  width:100%;
  text-align: center;
  display: inline-block;
  height:40px;
  line-height: 40px;
  font-size: 14px;
}
.job-intro { 
  margin-top:10px;
  padding:10px;
  background-color: #fff;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.job-intro img{ 
  width:100%;
  margin:10px 0;
}
.job-contact{ 
  margin-top:10px;
  padding:10px 10px;
  background-color: #fff;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  overflow: hidden;
}
.info-header { 
  overflow: hidden;
}
.house-detail { 
  border-top: 10px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  background: #fff;
  
}
.house-detail ul{overflow: hidden;padding-left:0;}
.house-detail ul li{ 
  float: left;
  width: 33%;
  text-align: center;
}
.house-detail ul li h4{ 
  font-size: 13px;
  color: #b4b4b4;
  font-weight: normal;
}
.house-detail ul li p{ 
  font-size: 14px;
  color: #010101;
}
.house-info { 
  background: #fff;
}
.house-info ul {margin:0;padding:0;}
.house-info ul li{ 
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.house-info ul li p{ 
  margin-left: 10px;
  color: #555555;
  font-size: 14px;
}
.c_center ul{padding:0;margin:0;}
#yeeOrderMoney { 
	width:300px;
	border-color:#dee0e0;
	border-radius:3px;
	height:30px;
	line-height: 30px;
	font-size: 14px;
	border: 1px solid #dee0e0;
	padding:5px;
}
#payformsubmit { 
    background:#ed6d06;
    height:35px;line-height: 35px;
    border-radius:3px;
    display:block;
    width: 100px;
    color:#fff;border:0;
    font:15px/35px;
    margin:10px auto;
    text-align:center;
    cursor:pointer;
}