/* common */
html{height: 100%;}
body{font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;color:#5E5E5E;}
a:hover{text-decoration: none;}

.l_index .l_title h1 {font-size: 40px;width: 56px;height: 280px;margin: 0 auto;margin-bottom: 40px;margin-top: 50px;text-indent: -9999px;overflow: hidden;background: url(../images/title.png) 0 0 no-repeat;background-size:56px 280px}

.l_index_wechat .l_title h1 {font-size: 40px;width: 80px;height: 324px;margin: 0 auto;margin-bottom: 40px;margin-top: 40px;text-indent: -9999px;overflow: hidden;background: url(../images/wechat_title.png) 0 0 no-repeat;background-size:80px 324px}

.vip_index .l_title h1 {font-size: 40px;width: 170px;height: 194px;margin: 0 auto;margin-bottom: 40px;margin-top: 40px;text-indent: -9999px;overflow: hidden;background: url(../images/vip_title.jpg) 0 0 no-repeat;background-size:170px 194px}

.spring .l_title h1 {font-size: 40px;width: 44px;height: 218px;margin: 0 auto;margin-bottom: 50px;text-indent: -9999px;overflow: hidden;background: url(../images/spring_title.png) 0 0 no-repeat;background-size:44px 218px;margin-top: 180px;}



.l_index form{margin: 0 40px;}
.l_index form input#date_time{border-radius:50px;margin-bottom: 20px;box-shadow: inset 0px 8px 4px 0px rgba(0,0,0,0.12);}
.l_index form .btn{width: 80%;}
.btn-default{border-radius:0; border: 1px dashed #999999; color:#FFFFFF;background:#67a31d}

.l_index .form-horizontal .col-sm-12{text-align: center;}

body.l_list{background: #FFF url(../images/b1.png) 0 0 no-repeat;background-size:100% 240px}
body.l_list2{background-color: #000;background-image: url(../images/b2.png);}

body.spring{background: #FFF url(../images/spring_bg.jpg) 0 0 no-repeat;background-size:100% auto}
body.spring .buttons a{border-radius:0;}
body.spring .buttons a:hover{background:  url(../images/spring_bg.jpg) 0 0 no-repeat;color:#fff;}



body.l_list{margin-left: 50px;border-left: 1px solid #ddd;position:absolute; top:0; bottom:0; right:0; left:0;}
body.l_list2{border-left: 1px solid rgba(255,255,255,0.1) }

.l_list .media {margin-left: -50px;margin-top: 20px;margin-bottom:80px;}
.l_list .media h5,.l_list .media h3{margin: 0;}
.l_list .media h3{font-size: 28px;}
body.l_list2 .media h3{color:#ccc;}

.l_list .media h5 {margin-bottom: 6px;margin-top: 14px;}
.list_area{margin-left: 0px;font-size: 22px;}
.list_area li{margin-bottom: 20px;padding-left: 20px;background: url(../images/d1.png) left center no-repeat;background-size:13px 13px;}

body.l_list2 .list_area li{background-image: url(../images/d2.png);color:#ccc;}

.list_area li.list_first,body.l_list2 .list_area li.list_first{margin-bottom: 10px;padding-left: 0;background-image: none;}
.list_area h6{background: #fff;display: inline;margin-bottom: 0;}
body.l_list2 .list_area h6{background: #000;display: inline;margin-bottom: 0;}

.buttons{padding-top: 10px;margin-bottom: 20px; border-bottom: 1px #666666 solid}
.buttons a.btn{width: 60%;border-radius:60px;color:#5E5E5E;}
.buttons p {margin-bottom: 14px;margin-top: 30px;}
.buttons p a {color:#ccc;font-size: 16px;padding-bottom: 4px;border-bottom: 1px dashed rgba(255,255,255,0.2);}

body.l_list2 .buttons a.btn{background: none;}
body.l_list2 .buttons a.btn:hover{background: rgba(255,255,255,0.1);}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{ -webkit-appearance: none !important; margin: 0; }
input[type="number"]{-moz-appearance:textfield;}

.text-success{color:#6DB41A;}

.btn-vip{border-style:solid;background: none;border-radius:20px;border-color:rgba(255,255,255,0.1)}


/* yuyan */
.yuyan_index h1{font-size: 30px;}
.yuyan_index .buttons a{margin-bottom: 50px;width:35%;}
.yuyan_index .t_img img{height: 216px;height: 216px;margin-top: 30px;}
.yuyan_des {margin-bottom: 20px;margin-top: 20px;padding: 0 20px;font-weight: bold;}
.yuyan_title h1{margin-bottom: 5px;padding-bottom: 8px;border-bottom: 1px solid #2B2B2B;display:inline-block;}

.who a{display: block;margin-bottom: 5px;}
.who p{margin: 0;}

.yuyan_des {font-size: 16px;color:#999;line-height: 1.6;}