/**
 * Created by PH on 15/7/16.
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
}
article,aside,details,figcaption,figure,footer,header,menu,nav,section,img{
    display: block;
}
ol,ul {
    list-style: none;
}
blockquote,q{
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clear{
    clear:both;
}
body{
    line-height: 1;
    font-family:"Microsoft Yahei";
    color: #666666;
    font-size: 14px;
    background-color: #fff;
}

.wrapper{
    position:relative;
    width:100%;
    min-width:320px;
    max-width: 640px;
    margin:0 auto;
    overflow: hidden;
}

.cover{
    position: relative;
    height: 214px;
    background: url(http://7q5ak9.com2.z0.glb.qiniucdn.com/pcode%2Fcover.jpg) center no-repeat;
    background-size: cover;
}
@media screen and (min-width: 374px) {
    .cover{height: 251px;}
}
@media screen and (min-width: 413px) {
    .cover{height: 277px;}
}
.bottom{
/*     position: absolute; */
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #777;
    z-index: -1;
}

.att-area{
    position: relative;
}
.att-area .title{
    padding-top: 20px;
    font-size: 18px;
    line-height: 18px;
    color: #444;
    text-align: center;
}
.att-area .desc{
    padding: 10px 0 10px 0;
    font-size: 14px;
    line-height: 14px;
    color: #999;
    text-align: center;
}
.att-area .step{
    padding: 20px 40px 0;
}
.att-area .step .index{
    float: left;
    width: 20px;
    font-size: 15px;
    line-height: 20px;
}
.att-area .step .content{
    font-size: 15px;
    line-height: 20px;
    color: #777;
}
.att-area .step1 .content{
    padding: 0 100px 0 20px;
}
.att-area .step1 img{
    width: 100px;
    float: right;
    margin-top: -10px;
}
.att-area .step2 .content{
    padding: 0 0 0 20px;
}
.att-area .step2 img{
    width: 100%;
}
.att-area .step .content span{
    color: #ff6a28;
}

.share-area{
    position: relative;
}
.share-area .share-arr{
    position: absolute;
    right: 8px;
    top: 5px;
    width: 30px;
}
.share-area .title{
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
    color: #444;
    text-align: center;
}
.share-area .desc{
    font-size: 14px;
    line-height: 18px;
    padding: 10px 15px 0;
    color: #999;
    text-align: center;
}
.share-area .share-guide{
    display: block;
    padding-top: 20px;
    width: 100%;
}

.getcode-area{
    position: relative;
}
.getcode-area .title{
    font-size:1.1em;
    line-height: 2.4em;
    color:#0873c0; border:1px solid #d3d3d3; border-left:none; border-right:none; background:#f3f3f3;
    text-align: left;
	padding-left:10px;
}
.tc{ text-align:center;}
.verificat{ width:88%; margin:5px auto;}
.verificat p{ line-height:2.2em;
    margin-top: 15px;}
.verificat p span{ width:48%; display:inline-block;}
.verificat p span:last-child{ margin-left:4%;}
.verificat p span .yzm-btn{ width:100%;
    font-size: 14px;
	line-height:30px;
	color:#FFFFFF;
    background-color: #0873c0;
    border: 1px solid #a0a0a0;
    display: block;
    border-radius: 4px;}
.verificat p span .yzm-cs-btn{ width:100%;
    font-size: 14px;
	line-height:30px;
	color:#bbb;
    background-color: #666;
    border: 1px solid #a0a0a0;
    display: block;
    border-radius: 4px;}
.getcode-area .mobile{
    display: block;
    font-size: 14px;
    height: 30px;
	line-height:30px;
	text-indent:4px;
    background-color: #eee;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    width: 100%;
    -webkit-appearance:none;
}
.getcode-area .desc{
    font-size: 13px;
    line-height: 18px;
    color: #999;
    text-align: center;
    padding: 30px 20px 0;
}
.getcode-area .btn{
    display: block;
    height: 36px;
    width: 150px;
    border-radius: 4px;
    background-color: #ff6a28;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    margin: 10px auto 0;
    text-decoration: none;
    z-index: 999;
}

.hadcode-area{
    position: relative;
}
.hadcode-area .title{
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
    text-align: center;
    color: #000;
}
.hadcode-area .mobile{
    font-size: 14px;
    line-height: 14px;
    padding-top: 15px;
    text-align: center;
    color: #777;
}
.hadcode-area .code{
    font-size: 14px;
    line-height: 14px;
    padding-top: 15px;
    text-align: center;
    color: #777;
}
.hadcode-area .time-area{
    width: 240px;
    height: 80px;
    border: 1px solid #777;
    margin: 50px auto 0;
    line-height: 64px;
    text-align: center;
    font-size: 16px;
    color: #ff6a28;
}
.hadcode-area .time-area .head{
    font-size: 16px;
    line-height: 16px;
    color: #000;
    height: 16px;
    width: 100px;
    margin: -8px auto 0;
    background-color: #fff;
    text-align: center;
}