pre {
    white-space:      pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space:   -o-pre-wrap;
    word-wrap: break-word;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
/*省略与断行*/
.txt_ellipsis {
    overflow: hidden;
    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}
.word_break {
    word-wrap: break-word;
    word-break: break-all;
}
button,
input,
select,
textarea{
    outline: none;
    -webkit-tap-highlight-color: rgba(240,240,240,0);
}
.loaderCircle {
    width: 16px;
    height: 16px;
    margin-left: 45%;
    background: url('/home/images/loading.gif') no-repeat center center;
}
.loading {
    display: none;
    width: 100%;
    margin: 1em auto 2em;
    background: url('/home/images/loading.gif') no-repeat center center;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0;border: 0; }
a{
	text-decoration:none;
}
ul ol li{
	list-style: none;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: none;
}
input:focus:-moz-placeholder,
input:focus::-webkit-input-placeholder {
    color: transparent;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*顶栏*/
header {
    line-height: 2.5em;
    height: 3em;
    background-color: #fff;
}
.h-width {
    width: 92%;
    margin: 0 auto;
}
#h-title {
    width: 50%;
}
#h-title ul {
    list-style: none;
}
#h-title li {
    display: inline-block;
    margin-left: .2em;
    vertical-align: sub;
}
.logo-s {
    display: inline-block;
}
.logo-s a {
    display: block;
}
.logo-s img {
    width: 3.5em;
    padding-right: .4em;
    vertical-align: middle;
    border-right: 1px solid #eaeaea;
}
#h-title {
    display: inline-block;
    vertical-align: middle;
}
#h-title a {
    display: block;
    color: #9d9d9d;
}
#personal {
    display: inline-block;
    float: right;
}
#personal img {
    width: 2em;
    vertical-align: middle;
    border-radius: 5em;
}
/*顶栏end*/

/*回到顶部*/
#back-top{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
/*回到顶部end*/