
/*活动列表*/
body {
    font-family: '微软雅黑';
    background-color: #f1f0f6;
}
.width {
    width: 87%;
    margin: 0 auto;
}
.events-bg {
    margin-top: 2em;
    background-color: #fff;
    box-shadow: .1em .1em .1em #EAEAEA;
}
.events-list {
    margin: 0 auto;
    padding-bottom: 1.25em;
}
.events-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.imgbox {
    position: relative;
    overflow: hidden;
    width: 95%;
    margin: .6465em auto 0;
    text-align: center;
    vertical-align: middle;
    opacity: 1;
    border: .1em solid #efefef;
    background: #fff none repeat scroll 0 0;
}
.events-img span {
    font-size: 1em;
    font-weight: bold;
    color: #403a3a;
}
.events-img img {
    width: 100%;
    max-width: 100%;
    display: block;
    border-bottom: .1em solid #EAEAEA;
}
.events-bottom {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding:1em 0;
    text-align: left;
    vertical-align: middle;
    border-bottom: .1em solid #EFEFEF;
}
.events-bottom .title span {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    text-align: justify;
    color: #403a3a;
}
.events-text {
    text-align: left;
    margin-top: .5em;
}
.events-text p span {
    font-size: .8em;
    display: inline-block;
    text-align: justify;
    color: #717171;
}
.events-text p {
    font-size: .8em;
    text-align: justify;
    color: #717171;
}
.events-state {
    width: 95%;
    margin-top: 1em;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}
.events-state span {
    font-weight: bold;
    padding-bottom: 1em;
    font-size: .8em;
}
.state1 {
    color: #2485fc;
}
.state2 {
    color: #CCCCCC;
}
/*活动列表end*/

/*活动详情*/
.events-bg2 {
    background-color: #fff;
}
.detail-title p {
    font-size: 1em;
    font-weight: bold;
    padding: .8em 0;
}
.intro {
    margin-top: .5em;
}
.intro h2 {
    font-size: 1em;
    margin-top: 2em;
    text-align: left;
    color: #403a3a;
}
.intro > p {
        font-size: .8em;
    line-height: 1.5em;
    line-height: 1.7em;
    margin-top: .5em;
    text-align: justify;
    word-break: break-all;
    color: #717171;
}
#content{
    font-size: .8em;
    line-height: 1.5em;
    line-height: 1.7em;
    margin-top: .5em;
    text-align: justify;
    word-break: break-all;
    color: #717171;
}
#content img{
    width: 100%;
}
.intro img{
    width: 100%;
    height: auto;
}
.detail-content{
    padding-bottom: 5em;
}
.events-apply {
    width: 100%;
    height: 3em;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.events-apply a {
    font-size: .9em;
    line-height: 1.5em;
    display: block;
    height: 1.5em;
    padding: 1em 4em;
    text-align: center;
    color: #fff;
    background-color: #63a8fc;
}
/*活动详情end*/

/*活动报名*/
.input3 input {
    width: 70%;
    height: 2.5em;
    margin-bottom: .6em;
    border: none;
    outline: none;
}
.input3 {
    padding-top: .7em;
    border-bottom: .1em solid #eaeaea;
}
#events-submit {
    font-size: .8em;
    line-height: 1.5em;
    display: block;
    height: 3em;
    margin: 2em 0;
    padding: 1em 4em;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #44b549;
    width: 100%;
}
.eve-btn {
    margin-top: 2em;
}
.events-form {
    padding-bottom: 1.25em;
}
.input4 {
    padding-top: 1em;
    padding-bottom: .5em;
}
.input4 label{
    margin-left: .5em;
}
.showError {
    font-size: .9em;
    font-weight: bold;
    padding-top: 1em;
    text-align: center;
}
/*活动报名end*/
.load {
    display: none;
    margin: 1em;
    text-align: center;
}