/*public*/
.bymu a.mu:before,
.bymu a.zi:before,
.ybdh1 a span:before{ background:url(../images/sicon.png) no-repeat; background-size:21px 51px;}

/*A系列*/
.bg1{ background:#f2f2f2;}
.byshou{ width:320px; height:504px; margin:0 auto; position:relative;background:url(../images/sy-bg.png) no-repeat 0 0; background-size:320px 504px;}
.byshou p{ width: 228px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height:40px; line-height:40px; color:#cb180d; font-size:38px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg); position:absolute; left:32px; top:174px;}
/*B系列*/
.bytopf{ height:60px; position:fixed; z-index:100;padding-left:15px; width:100%; left:0; top:0;}
.bytopf i{ width:20px; height:20px; position:absolute; display:block; right:0; top:0; background:url(../images/byyejiao.png) no-repeat; background-size:20px;}
.bytopf .con{ position:relative; border-bottom:1px solid #f2f2f2; height:60px;}
.bytopf p{ font-size:16px; color:#cb180d; position:absolute; left:15px; top:15px;}
.bytopf p span,.bytopf2 p span{ display:block; font-size:9px; font-weight:normal; text-align:center; margin-top:-3px;}
.bytopf:before,.bytopf2:before{ content:''; position:absolute; width:120px; height:3px; left:15px; bottom:-2px; z-index:110; background:#cb180d;}
.bytopf:after{ width:5px; height:18px; content:''; position:absolute; right:0; top:21px; background:#cb180d;}
.bytopf2{ height:60px; position:absolute;padding-left:15px; width:100%; left:0; top:0;}
.bytopf2 .con{ position:relative; border-bottom:1px solid rgba(0,0,0,0.3); height:60px;}
.bytopf2 p{ font-size:16px; color:#666666; position:absolute; left:10px; top:15px;}
.bybot-box{ position:fixed; left:0; bottom:0; z-index:100; overflow:hidden;width:100%; background:#fff;}
.bybot-box:before{ content:''; position:absolute; left:15px; right:0; top:0; background:#f2f2f2; height:1px;}
.bybot-box2{ position:absolute; left:0; bottom:0; z-index:100; overflow:hidden;width:100%;}
.bybot-box2:before{ content:''; position:absolute; left:15px; right:0; top:0; background:rgba(0,0,0,0.3); height:1px;}
.byjie{ overflow:hidden; padding-top:18px; position:relative;}
.byjie2{ overflow:hidden; padding:30px 0; position:relative;}
.byjie li,.byjie2 li{ width:25%; float:left; overflow:hidden; position:relative; padding-bottom:12px;}
.byjie li a,.byjie2 li a{ display:block; overflow:hidden; width:50px; margin:0 auto;}
.byjie li i,.byjie2 li i{ display:block; width:50px; height:50px; margin:0 auto; background:url(../images/icon100x100.png) no-repeat; background-size:51px 407px;}
.byjie li i.i1{ background-position:0 0;}
.byjie li i.i2{ background-position:0 -51px;}
.byjie li i.i3{ background-position:0 -102px;}
.byjie li i.i4{ background-position:0 -153px;}
.byjie2 li i.i5{ background-position:0 -204px;}
.byjie2 li i.i6{ background-position:0 -255px;}
.byjie2 li i.i7{ background-position:0 -306px;}
.byjie2 li i.i8{ background-position:0 -357px;}
.byjie li p,.byjie2 li p{ text-align:center; font-size:14px; color:#999999; height:18px; line-height:18px; margin-top:8px;}
.byjie2 li:nth-child(1) p{ color:#1d8d54;}
.byjie2 li:nth-child(2) p{ color:#166aab;}
.byjie2 li:nth-child(3) p{ color:#a63121;}
.byjie2 li:nth-child(4) p{ color:#c66c0c;}
.bymu{ overflow:hidden; height:40px; position:relative; border-top:1px solid #efefef;}
.bymu a.mu{ height:20px; left:10px; top:10px; position:absolute; padding-left:19px; color:#7a85ac; line-height:20px;}
.bymu a.mu:before{ content:''; position:absolute; width:14px; height:14px; left:0; top:50%; margin-top:-7px; background-position:0 0;}
.bymu a.zi{ height:20px; right:10px; top:10px; position:absolute; padding-left:19px; color:#cb180d; line-height:20px;}
.bymu a.zi:before{ content:''; position:absolute; width:14px; height:14px; left:0; top:50%; margin-top:-7px; background-position:0 -15px;}
.bymu .con{ position:absolute; left:65px; right:65px; height:40px; line-height:40px; overflow:hidden;}
.bymu .con:before{ content:''; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background:#ebebeb;}
.bymu .con:after{ content:''; position:absolute;right:0; top:50%; width:1px; height:10px; margin-top:-5px; background:#ebebeb;}
.bymu .con>span{ padding-left:12px; color:#aaaaaa; font-size:12px;}
.bymu .con .gun{position:absolute;height:14px; left:45px; top:50%; margin-top:-7px; right:0px; overflow:hidden;}
.bymu .con .gun p{ position:absolute; width:31px; height:14px; left:0%; top:0;border-radius:2px; background:#c1c6d7; text-align:center; line-height:14px; font-size:9px; color:#d4daf0; z-index:200;}
.bymu .con .gun p em{ color:#ffffff;}
.bymu .con .gun strong{ position:absolute; height:1px; left:0; right:0; top:49%; background:#ebebeb;}
.bmu-box{ margin-top:75px; padding:0 35px 0 25px; overflow:hidden;}
.bmu-box2{padding:0 25px; overflow:hidden; position:absolute; top:75px; bottom:148px; width:100%;}
.bmu,.bmu2{ overflow:hidden;}
.bmu li,.bmu2 li{ height:52px; position:relative; padding:5px 0;}
.bmu li a,.bmu li a{ display:block; overflow:hidden;}
.bmu li p{ font-size:18px; color:#444444; font-weight:bold;}
.bmu li p em,.bmu2 li p em{ color:#666666; display:block; font-size:9px; margin-top:-3px;}
.bmu li span{font-size:12px; font-family:'Arial'; color:#aaa; display:block; position:absolute; right:0; height:18px; top:50%; margin-top:-9px;}
.bmu2 li p{ font-size:18px; color:#fff; font-weight:bold;}
.bmu2 li span{font-size:12px; font-family:'Arial'; color:#aaa; display:block; position:absolute; right:0; height:18px; top:50%; margin-top:-9px; padding:0 8px;}
.bmu2 li span:before{ content:''; position:absolute; left:0; top:49%; width:5px; height:1px; background:#444444;}
.bmu2 li span:after{ content:''; position:absolute;right:0; top:49%; width:5px; height:1px; background:#444444;}
.ybgfu{ position:absolute; z-index:999; width:100%;top:0; left:0; background:rgba(17,17,17,0.85);}
.ybgfu a.guan{ display:block; position:absolute; width:24px; height:24px; right:29px; top:19px; background:url(../images/close.png) no-repeat; background-size:24px; z-index:1000;}

/*C系列*/
.ybstars{ padding:10px; overflow:hidden; margin:70px 15px 0; border-bottom:1px solid rgba(0,0,0,0.2);}
.ybstars p{ height:35px; line-height:35px;overflow:hidden;}
.ybstars p span{ display:block; font-size:14px; color:#ffffff; margin-right:12px; float:left; line-height:20px; overflow:hidden;}
.ybstars p i{ display:block; float:left; width:19px; height:17px; margin:1px 10px 0 0;background:url(../images/stars.png) no-repeat; background-position:0 -18px; background-size:19px 35px; overflow:hidden;}
.ybstars p i.cur{ background-position:0 0;}
.ybsbia{ height:62px; margin:0 15px;border-bottom:1px solid rgba(0,0,0,0.2); overflow:hidden; position:relative; padding-left:10px;}
.ybsbia .con{ position:relative; overflow:hidden; height:61px;}
.ybsbia .con input{ margin:0; padding:0; height:46px; background:none; border:0 none; font-size:16px; color:#666666; position:absolute; width:100%; left:0; top:0;}
.ybsbia .con input::-webkit-input-placeholder,.ybsn .con textarea::-webkit-input-placeholder{ color:#666;}
.ybsn{ height:110px; margin:0 15px;overflow:hidden; position:relative; padding-left:10px;}
.ybsn .con{ position:relative; overflow:hidden; height:110px;}
.ybsn .con textarea{ margin:0; padding:0; height:100px; background:none; border:0 none; font-size:16px; color:#666666; position:absolute; width:100%; left:0; top:10px; line-height:22px;}
.ybtidp{ height:40px; line-height:38px; text-align:center; border-radius:20px; border:1px solid #ff432a; background:rgba(0,0,0,0.3); margin:0 25px 15px; overflow:hidden;}
.ybtidp a{ display:block; overflow:hidden; font-size:16px; color:#eeeeee;}
.byhux{ overflow:hidden; margin-top:60px;}
.byhux figure{ width:260px; height:340px; margin:0 auto; overflow:hidden;}
.byhux figure img{ width:260px; height:340px;}
.byhux p{ font-size:16px;color:#ffffff; text-align:center; overflow:hidden;line-height:24px; margin-top:24px; margin-bottom:15px;}
.ybew-box{ overflow:hidden; padding:0 15px; margin:75px 0 0 0; position:relative;}
.ybew-box:before{ content:''; position:absolute; left:0; top:0; width:3px; height:24px; background:#cb180d;}
.ybgu{ padding:0 10px 8px;border-bottom:1px solid rgba(0,0,0,0.2); overflow:hidden; margin-bottom:15px;}
.ybgu p{ height:24px; line-height:24px; position:relative; overflow:hidden; color:#ffffff;}
.ybgu p:first-child{ font-size:16px;}
.ybgu p:first-child span{ float:right; font-size:12px;}
.yber{ overflow:hidden;}
.yber figure{ width:130px; height:130px; margin:0 auto 20px;}
.yber figure img{ width:130px; height:130px;}
.yber p{ height:21px; line-height:21px; color:#666666; font-size:12px; padding-left:10px;}
.ybdh1{ height:40px; line-height:38px; text-align:center; border-radius:20px; border:1px solid #ff432a; background:rgba(0,0,0,0.3); margin:16px 10px; overflow:hidden;}
.ybdh1 a{ display:block; overflow:hidden; font-size:16px; color:#fff;}
.ybdh1 a span{ padding-left:33px; position:relative;}
.ybdh1 a span:before{ content:''; position:absolute; left:0; top:50%; width:21px; height:21px; margin-top:-11px; background-position:0 -30px;}
.ybsus{ margin:40px 25px 0; overflow:hidden; position:relative;}
.ybsus .good:before,.ybsus .nogood:before{ background:url(../images/good.png) no-repeat; background-size:40px 77px;}
.ybsus .good,.ybsus .nogood{ width:100px; height:100px; margin:0 auto; border-radius:50px; position:relative; background:rgba(1,1,1,0.3);}
.ybsus .good:before{ content:''; position:absolute; width:40px; height:38px; left:50%; margin-left:-20px; top:50%; margin-top:-19px; background-position:0 0;}
.ybsus .nogood:before{ content:''; position:absolute; width:40px; height:38px; left:50%; margin-left:-20px; top:50%; margin-top:-19px; background-position:0 -39px;}
.ybsus h1{ height:44px; line-height:44px; text-align:center; overflow:hidden; color:#ff432a; font-size:20px; margin-top:3px;}
.ybsus p{ line-height:22px; overflow:hidden; color:#666666; font-size:12px;}
.ybsus figure.erwei{ width:130px; height:130px; margin:30px auto 0; overflow:hidden;}
.ybsus figure.erwei img{ width:130px; height:130px;}
.ybme,.ybaw{ overflow:hidden; position:relative; padding-top:17px; margin-top:25px;}
.ybme:before{ content:''; position:absolute; left:15px; right:15px; top:0; height:1px; background:rgba(0,0,0,0.2);}
.ybme:after,.ybme2:after{ content:''; position:absolute; width:3px; left:0; top:15px; height:24px; background:#cb180d;}
.ybme .con,.ybme2 .con{ overflow:hidden; margin-bottom:11px; padding:0 25px;}
.ybme .con span,.ybme2 .con span{ display:block; height:22px; line-height:22px; color:#aaaaaa; overflow:hidden;}
.ybme .con p,.ybme2 .con p{ font-size:16px; color:#ffffff; overflow:hidden; line-height:22px;}
.ybaw:before{ content:''; position:absolute; left:15px; right:15px; top:0; height:1px; background:rgba(0,0,0,0.2);}
.ybaw a.cx{ display:block; overflow:hidden;height:40px; line-height:38px; text-align:center; border-radius:20px; border:1px solid #ff432a; background:rgba(0,0,0,0.3); margin:20px 25px;font-size:16px; color:#fff;}
.ybme2{overflow:hidden; position:relative; padding-top:17px;}
.ybme2 .con p em{ color:#ff432a;}












