@charset "utf-8";
.pairWall{width: 914px; height: 540px; overflow: hidden; cursor: default; padding-top: 24px; position: absolute; top: 0; left: 35px; z-index: 1; display: none;}
.pairBox{width: 506px; height: 518px; background: rgba(255, 255, 255, 0.25); float: left; box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3) inset, 0 0 6px 0 rgba(72, 72, 72, 0.3); -webkit-box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3) inset, 0 0 6px 0 rgba(72, 72, 72, 0.3); -moz-box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3) inset, 0 0 6px 0 rgba(72, 72, 72, 0.3);}
.pairTit{width: 398px; height: 60px; background: url(../common/images/lotteryBg.png) no-repeat; margin: 17px auto; padding: 0 32px;}
.pairTit span{height: 60px; line-height: 60px; font-size: 26px; display: inline-block; background-position: -52px -44px; padding-left: 48px; float: left;}
.pairTit p{line-height: 54px; font-size: 18px; padding: 4px 0 0; float: right;}
.pairTit p em{font-size: 26px; padding-left:3px;}
.pairPerson{height: 278px; background-repeat: no-repeat; background-position: center 80px; padding: 48px 32px 0;}
.pairPerson dl{width: 180px; text-align: center;  display: block;}
.pairPerson dt{width: 176px; height: 176px; border: 2px solid rgba(255, 255, 255, 0.4);}
.pairPerson dt img{width: 100%; height:100%}
.pairPerson dd{height: 66px; line-height: 66px; font-size: 26px;overflow: hidden;}
.pairPerson dd span{padding-left: 38px;} 
.pairPerson .left{float: left;}
.pairPerson .left span{background-position: -406px 0;}
.pairPerson .right{float: right;}
.pairPerson .right span{background-position: -678px 0;}
.pairResult{width: 354px; height: 508px;  padding-top: 10px; float: right;}
.pairCont{width: 344px; height: 508px; background: #fff; margin: 0 auto; box-shadow: 0 0 6px 0 rgba(171, 172, 172, 0.33), 0 6px 6px 1px rgba(0, 0, 0, 0.23) inset; -webkit-box-shadow: 0 0 6px 0 rgba(171, 172, 172, 0.33), 0 6px 6px 1px rgba(0, 0, 0, 0.23) inset; -moz-box-shadow: 0 0 6px 0 rgba(171, 172, 172, 0.33), 0 6px 6px 1px rgba(0, 0, 0, 0.23) inset;}
.pairCont h3{height: 58px; line-height: 58px; font-size: 22px; color: #7b7b7b; border-bottom: 1px solid #d2d2d2; padding: 0 24px; margin: 0 6px;}
.pairCont h3 p{font-size: 16px; float: right;}
.pairCont h3 em{font-size: 22px; padding-left: 3px;}
.pairings{color: #595959;}
.pairInfo{height: 32px; line-height: 32px; font-size: 16px; font-family: "宋体"; padding: 5px 6px 0;}
.pairInfo span{padding: 0 23px; float: left;}
.pairInfo span.dot{float: right}
.pairName{height: 330px; margin-bottom: 12px; overflow-y: auto;}
.pairDefault{height: 29px; line-height: 29px; text-align: center; font-size: 22px; color: #777; margin: 152px auto; display: none;}
.pairName ul{}
.pairName li{height: 109px; border-bottom: 1px solid #d2d2d2; margin: 0 6px; position: relative;}
.pairName li.act{background: rgba(177, 177, 177, 0.2);}
.pairName li.act .delPair{cursor: pointer; width: 22px; height: 109px; background: url(../common/images/lotteryDel.png) no-repeat left center; display: block; position: absolute; right: 5px; top:0}
.pairName .sn{width: 20px; height: 20px; line-height: 22px; text-align: center; color: #fff; font-size: 13px; background: #878787; border-radius: 50%; float: left; margin: 44px 2px 0 23px;}
.pairName .pairMan{background: url(../common/images/pairSure.png) no-repeat center 32px; float: left; padding-top: 14px;}
.pairName dl{width: 114px; line-height: normal; text-align: center; font-size: 22px; margin: 0 11px; float: left;position: relative;}
.pairName dl.cur .delMan,.pairName dl.cur .delWoman{width: 22px; height: 22px; cursor: pointer; background: url(../common/images/lotteryDel.png) no-repeat left center; display: block; position: absolute; right: 10px; top: -10px;}
.pairName dl dt{width: 52px; height: 52px; border: 1px solid #d2d2d2; margin: 0 auto;}
.pairName dl img{width: 100%; height: 100%;}
.pairName dl dd{height: 38px; line-height: 38px; font-size: 19px;overflow: hidden}
.txtCenter{text-align: center!important;}
.pairBtn{text-align: center; padding: 8px 0;}