<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"><head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>迷失的国度参加了大吉大利体验</title>
<link type="text/css" rel="stylesheet" href="/res/css/reset.css"><link type="text/css" rel="stylesheet" href="/res/modules/activity/moneytree/css/moneytree_share.min.css?t=20140826"></head>


<body style="padding-bottom: 40px;">
<!-- 加载中 -->

<!-- 加载完成 -->
<div class="content_box" style="">
    <div id="container">
        <!-- 分享指示 -->
<!--         <div id="share">
    <p class="up"></p>

    <p class="share_text"><span>传递<br/>更快乐</span></p>

    <p class="down"></p>
</div> -->
        <!-- 光圈 -->
        <div id="light_box">
            <div id="light"></div>
        </div>
        <!-- 大吉大利 -->
        <div id="banner_title" class="noanimate"></div>
        <!-- 红包树 -->
        <div class="left">
            <div id="left_tree" class="noanimate"></div>
            <ul>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
            </ul>
        </div>
        <div class="right">
            <div id="right_tree" class="noanimate"></div>
            <ul>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
                <li class="hongbao"></li>
            </ul>
        </div>
        <!-- 人 -->
        <div id="ren">
            <div id="ren_body"></div>
            <div id="ren_hand1"></div>
            <div id="ren_hand2"></div>
        </div>
        <!-- 参与人数 -->
        <div id="board">
                            <div id="renshu">
                    <div class="show_renshu">
                        <h4>参与人数</h4>

                        <p>86</p>
                    </div>
                </div>
                        <div id="win">
                <div class="portrait">
                    <img src="http://img.app.aimapp.net/upload/5236b51da8b3ac3bcf000020/wx_images/b7e7d3568398560fd371a610625e7e01.jpg" alt=""></div>
                <ul>
                    <li>迷失的国度</li>
                                            <li class="award-text">很遗憾，没中奖</li>
                                    </ul>
            </div>
        </div>
        <!-- 参加按钮 -->
                    <div id="btn_join">
                <a href="http://app.aimapp.net/wx/business/app/index/5236b51da8b3ac3bcf000020/activity_detail?ID=54237b2a525619ed128b459b">我要参加</a>
            </div>
                <div id="more_info"><a>更多惊喜</a></div>
    </div>
    <!-- 活动信息 -->
    <div id="info" style="display:none">
        <!-- 获奖滚动条 -->
        <div id="winner">
            <div class="marquee_box">
                                    <marquee class="marquee">                            <span>蒋丽丽</span>于
                            <span style="margin-right:50px;">2015年01月08日 10时44分
                            抽中了二等奖</span>                            <span>小蓉子</span>于
                            <span style="margin-right:50px;">2015年01月07日 17时06分
                            抽中了二等奖</span>                            <span>小莹</span>于
                            <span style="margin-right:50px;">2015年01月07日 10时35分
                            抽中了二等奖</span>                    </marquee>
                            </div>
        </div>
            <!-- 活动介绍 -->
            <div id="detail">
                <h2 class="share_detail_title">活动详情</h2>

                <div class="share_detail_text"><p>大吉大利诚邀您体验！</p></div>
                <h2 class="share_detail_title">奖项设置</h2>
                <ul class="share_detail_text">
                                            <li>一等奖
                            ：精准君香吻 100份</li>
                                            <li>二等奖
                            ：精准君拥抱 1000份</li>
                                    </ul>
                <!-- 关注公众号 -->
                <h2 class="share_detail_title">关注公众帐号:</h2>

                <div class="attention_account_box">
                    <p class="public_account text_overflow">精准分众网络</p>
                </div>
                <!--copyright-->
                <div id="Copyright"><p class="text_overflow"><a href="http://www.aimapp.net">精准分众网络技术支持</a><a href="tel:4000662886"> 4000-662-886</a></p></div>
            </div>
    </div>
    <script type="text/javascript" defer="" async="" src="http://analytics.aimapp.net/piwik.js"></script><script type="text/javascript">var piwik_visitor_id;var _paq=_paq||[];_paq.push(["trackPageView"]);_paq.push(["enableLinkTracking"]);(function(){var u=(("https:"==document.location.protocol)?"https":"http")+"://analytics.aimapp.net/";_paq.push(["setTrackerUrl",u+"piwik.php"]);_paq.push([ function() { piwik_visitor_id = this.getVisitorId(); }]);_paq.push(["setSiteId","101"]);var d=document,g=d.createElement("script"),s=d.getElementsByTagName("script")[0];g.type="text/javascript";g.defer=true;g.async=true;g.src=u+"piwik.js";s.parentNode.insertBefore(g,s)})();window.setTimeout(function(){if($){$.getJSON("/wx/api/track_visitor?vid="+piwik_visitor_id);}},1500);</script>
    <script type="text/javascript" src="/res/js/zepto-1.13.min.js"></script>
    <script type="text/javascript" src="/res/js/gmu/js/touch.js"></script>
    <script type="text/javascript" src="/res/js/track.js"></script>
    <script type="text/javascript" src="/res/modules/wx/js/wx.js"></script>
    <script type="text/javascript" src="/res/modules/activity/moneytree/js/moneytree_share.js"></script>

    <script type="text/javascript">
        var wxSetting = {
            //是否显示右上按钮
            hideOptionMenu: false,
            //是否显示底部工具栏
            hideToolbar: false,
            //结构
            share: {
                "send2Friend": {
                    "content": "",
                    "img": "http://img.app.aimapp.net/res/modules/wx/active_icons/djdl_01.png",
                    "link": "http://app.aimapp.net/activity/api/share?ID=54237b2a525619ed128b459b&TID=5236b51da8b3ac3bcf000020&LogID=&Data=UHwBcFEfWTdRawxiV2NceQEUARMMdVZsViMDYlZkVWNUM1BmUDYBM1E%2FUzUCMw4wVjdWa1Y%2BXG9eMABmWTcAOFhtVzcGMVBoVzoAdVhxU3ZQVAE3UT5ZNFEkDDpXclx5ASgBMgwq",
                    "title": "大吉大利体验火热进行中，拆红包即可赢大奖！"
                },
                "share2Friend": {
                    "img": "http://img.app.aimapp.net/res/modules/wx/active_icons/djdl_01.png",
                    "link": "http://app.aimapp.net/activity/api/share?ID=54237b2a525619ed128b459b&TID=5236b51da8b3ac3bcf000020&LogID=&Data=UHwBcFEfWTdRawxiV2NceQEUARMMdVZsViMDYlZkVWNUM1BmUDYBM1E%2FUzUCMw4wVjdWa1Y%2BXG9eMABmWTcAOFhtVzcGMVBoVzoAdVhxU3ZQVAE3UT5ZNFEkDDpXclx5ASgBMgwq",
                    "title": ""
                },
                "share2QQBlog": {
                    "content": "",
                    "link": "http://app.aimapp.net/activity/api/share?ID=54237b2a525619ed128b459b&TID=5236b51da8b3ac3bcf000020&LogID=&Data=UHwBcFEfWTdRawxiV2NceQEUARMMdVZsViMDYlZkVWNUM1BmUDYBM1E%2FUzUCMw4wVjdWa1Y%2BXG9eMABmWTcAOFhtVzcGMVBoVzoAdVhxU3ZQVAE3UT5ZNFEkDDpXclx5ASgBMgwq"
                },
                "share2Email": {
                    "content": "",
                    "link": "http://app.aimapp.net/activity/api/share?ID=54237b2a525619ed128b459b&TID=5236b51da8b3ac3bcf000020&LogID=&Data=UHwBcFEfWTdRawxiV2NceQEUARMMdVZsViMDYlZkVWNUM1BmUDYBM1E%2FUzUCMw4wVjdWa1Y%2BXG9eMABmWTcAOFhtVzcGMVBoVzoAdVhxU3ZQVAE3UT5ZNFEkDDpXclx5ASgBMgwq",
                    "title": "大吉大利体验火热进行中，拆红包即可赢大奖！"
                }
            }
        };

        var params = {
            AwardName: '',
            Prize: '',
            NickName: '迷失的国度',
            ProjectName:'精准分众网络'
        }

        var share_content;
        if (params.AwardName) {
            share_content = '['+params.ProjectName+']'+params.NickName + '拆开红包，居然是' + params.Prize;
        } else {

            share_content = '['+params.ProjectName+']'+params.NickName + '拆开红包，居然什么也没有。';
        }

        wxSetting.share.send2Friend.content = share_content;
        wxSetting.share.share2Friend.title = share_content;
        wxSetting.share.share2QQBlog.content = share_content;
        wxSetting.share.share2Email.content = share_content;

    </script>

            <!--添加底部外链-->
        <script type="text/javascript" src="/res/js/link2favorite.js"></script>
        <script type="text/javascript">
            $.link2favorite({
                ShareIcon: "http://img.app.aimapp.net/upload/5236b51da8b3ac3bcf000020/images/9bd474f9a982435e99e19b66992a344d.png",
                WxName: "精准分众网络",
                OneKeyFollow: "http://mp.weixin.qq.com/s?__biz=MjM5Nzk2NDI2Mw==&amp;mid=200222692&amp;idx=1&amp;sn=a9a3a2a1857469ba0618a4ce800ec9b8#rd"
            });
        </script>
    
</div><div id="link2favorite" class="clearfix" style="position: fixed;z-index:999999999;left:0px;bottom:0px;right:0px;padding: 8px;height:25px;background-color: rgba(0,0,0,.8);font-size:12px;color:#ddd;line-height: 25px;"><img id="link2favorite-icon" src="http://img.app.aimapp.net/upload/5236b51da8b3ac3bcf000020/images/9bd474f9a982435e99e19b66992a344d.png" alt="" style="float:left;width: 25px;margin-right: 8px;"><span id="link2favorite-name" class="text_overflow" style="float:left;max-width: 200px;">公众号：精准分众网络</span><a id="link2favorite-link" href="http://mp.weixin.qq.com/s?__biz=MjM5Nzk2NDI2Mw==&amp;mid=200222692&amp;idx=1&amp;sn=a9a3a2a1857469ba0618a4ce800ec9b8#rd" style="float: right;padding: 0 6px;color:#eee;background-color: #1CAD22;">立即查看</a></div></body></html>