body, p, h1, h2, h3, h4, ul, ol, li, dl, dt, dd, form {
margin: 0;
padding: 0;
font-size: 100%;
}
.qb_fs_l, body {
font-size: 15px;
}
body {
-webkit-text-size-adjust: none;
line-height: 1.6;
font-size: 14px;
font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
}
.lay_page {
min-height: 360px;
}
.lay_page_wrap {
margin-left: auto;
margin-right: auto;
}
.mod_color_normal, .ui_color_normal, body, a {
color: #333;
}
.fn_ad {
text-shadow: none;
}
.fn_ad .ad_item {
display: block;
}
a {
text-decoration: none;
}
.mod_color_normal, .ui_color_normal, body, a {
color: #333;
}
.ui_clearfix:after {
clear: both;
content: ".";
display: block;
height: 0;
overflow: hidden;
font-size: 0;
}
.fn_ad {
text-shadow: none;
}
.ui_fluid {
width: 100%;
display: block;
}
.fn_ad.ad_bigpic .ad_detail {
padding: 10px 15px;
position: relative;
background-color: #fff;
}
.fn_ad.ad_bigpic .ad_detail:before {
display: block;
content: "";
width: 0;
height: 0;
border-width: 0 18px 18px;
border-color: #fff;
border-style: solid;
border-left-color: transparent;
border-right-color: transparent;
position: absolute;
top: -18px;
left: 30px;
}
/*
.fn_ad.ad_bigpic .ad_detail:after {
content: "";
background-image: url(you.png);
background-repeat: no-repeat;
width: 22px;
height: 22px;
position: absolute;
right: 15px;
bottom: 20px;
background-size: 22px 22px;
}
*/
.qb_fs_s {
font-size: 12px;
}
.fn_ad.ad_bigpic .ad_detail {
padding: 10px 15px;
position: relative;
background-color: #fff;
}
.ui_clearfix:after {
clear: both;
content: ".";
display: block;
height: 0;
overflow: hidden;
font-size: 0;
}
