{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $operation == 'add'}class="active"{/if}><a href="{php echo $this->createWebUrl('noteManger', array( 'op' => 'add','aid'=>$aid));}">添加</a></li>
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('noteManger', array( 'op' => 'display','aid'=>$aid));}">管理</a></li>
	
</ul>
{if $operation == 'add'}
<div class="panel panel-default">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$item['id']}" />
		<input type="hidden" name="aid" value="{php echo $aid}" />
		
		
		
		<h4>说名项</h4>
		
			<div class="form-group">
				<label class="col-sm-1 control-label control-label">说明标题</label>
				<div class="col-sm-11">
				
						<input type="text" name="title" class="form-control" value="{$item['title']}" />
				
				</div>
			</div>
		
		
		<div class="form-group">
				<label class="col-sm-1 control-label control-label">说明内容</label>
				<div class="col-sm-11">
				
						<textarea style="height:400px; width:100%;" class="span7 richtext" name="ndesc" cols="70">{$item['ndesc']}</textarea>
				
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-1 control-label control-label"></label>
				<div class="col-sm-11">
					
					<input name="submit" type="submit" value="提交" class="btn btn-primary span3">
				<input type="hidden" name="token" value="{$_W['token']}" />
				
				
				</div>
			</div>
		
		
			
	
	</form>
</div>
<script type="text/javascript">
require(['jquery', 'util'], function($, u){ 
	$(function(){
		
		u.editor($(".richtext")[0]);
		
	});
});
</script>
{elseif $operation == 'display'}
<div class="main">
	
	<div style="padding:15px;">
		<table class="table table-hover table-striped table-condensed">
			<thead class="navbar-inner">
				<tr>
					<th style="min-width:150px;">说明标题</th>
					<th style="width:200px;">说明内容</th>
					
					
					
					<th style="text-align:right; min-width:60px;">操作</th>
				</tr>
			</thead>
			<tbody>
			 {loop $list $item}
				<tr>
					<td>{$item['title']}</td>
					<td>
						{php echo cutstr($item['ndesc'], 100, true, 'utf-8');}
					</td>
				
					<td style="text-align:right;width:300px">
				
						<a href="{php echo $this->createWebUrl('noteManger', array('name' => 'we7_activity', 'id' => $item['id'], 'op' => 'add','aid'=>$aid))}" title="编辑" class="btn btn-small"><i class="glyphicon glyphicon-edit"></i>修改</a>
						<a href="{php echo $this->createWebUrl('noteManger', array('name' => 'we7_activity', 'id' => $item['id'], 'op' => 'delete','aid'=>$aid))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" title="删除" class="btn btn-small"><i class="glyphicon glyphicon-remove"></i>删除</a>
					</td>
				</tr>
				{/loop} 
			</tbody>
			
		</table>
		
	</div>
</div>
{/if}
{template 'common/footer'}