*[data-widget^="widget_"]{
	display: none;	
}
*[data-widget^="widget_"].on{
	display: block;
}
*[data-widget^="widget_"] *{
	padding:0;
	margin:0;
	word-break:break-all;
	word-wrap:break-word;
}
*[data-widget^="widget_"] .widget_mask{
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.3);
	display: none;
}
*[data-widget^="widget_"]:last-of-type .widget_mask{
	display: block;
}

*[data-widget^="widget_"] .widget_wrap{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 260px;
	min-height: 90px;
	margin:-100px -130px;
	background: rgba(255,255,255,0.98);
	overflow: hidden;
	border-radius: 8px;
}
/**[data-widget^="widget_"] .widget_footer{
	padding:0 5px;
}*/
*[data-widget^="widget_"] .widget_footer ul{
	/*padding:17px 0;*/
	text-align: center;
	border-top:1px solid #7f8c8d;
	border-width: 1px 0 0 0;
	-webkit-border-image: url(../imgs/border.gif) 2 stretch;
	display: table;
	width:100%;
	height: 45px;
}
*[data-widget^="widget_"] .widget_footer ul li{
	display: table-cell;
	border-top: 1px solid #7f8c8d;
	border-width: 0 1px 0 0;
	-webkit-border-image: url(../imgs/border.gif) 2 stretch;
	width: 50%;
}
*[data-widget^="widget_"] .widget_footer ul li:last-of-type{
	border:0;
}
*[data-widget^="widget_"] .widget_footer ul li button, *[data-widget^="widget_"] .widget_footer ul li .button{
	-webkit-appearance: none;
	display: inline-block;
	padding: 0 10px;
	height: 45px;
	line-height: 45px;
	border-radius: 3px;
	/*max-width: 85px;*/
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 0;
	background: none;
	color: #00aeef;
	font-size: 17px;
	min-width: 100px;
	background:none;
	width: 100%;
}
/**[data-widget^="widget_"] .widget_footer ul li:nth-last-of-type(n+2) button{
	background:#3e3e3e;
}*/
*[data-widget^="widget_"].on{
	display: block;
}
/****/
*[data-widget="widget_alert"] .widget_body, *[data-widget="widget_confirm"] .widget_body, *[data-widget="widget_tip"] .widget_body{
	font-size: 17px;
	color: #333333;
	line-height: 20px;
	padding: 40px 10px 20px 10px;
	text-align: center;
	min-height: 95px;
}

/****/



/****/
*[data-widget^="widget_loading"] .widget_wrap{
	border:0;
	background:none;
	height:100px;
}
*[data-widget^="widget_loading"] .widget_wrap >div{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 5px;
	background: red;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	background: rgba(0,0,0,0.0);
}
*[data-widget^="widget_loading"] .widget_wrap >div>span{
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -12px;
	z-index: 10;
	width: 24px;
	height: 24px;
	border: 2px solid #237FE5;
	border-radius: 24px;
	-webkit-animation: widget_gif 1s infinite linear;
	clip: rect(0 auto 12px 0);
}
@-webkit-keyframes widget_gif{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}