{template 'header'}
<div class="content support-record">

  <div class="statistics clearfix">

    <div class="item">
        <strong>{$_count}<small>次</small></strong>支持次数
    </div>

    <div class="item">
        <strong>{if !$_sum}0{else}{$_sum}{/if}<small>元</small></strong>支持金额
    </div>

    <div class="item">
      <strong>{if !$_views}0{else}{$_views}{/if}<small>次</small></strong>浏览数
    </div>

  </div>
  {if $is_goods==1}
  <div class="qsc-tab tab-line noline">
    <ul class="tab-item">
      <li {if empty($_GPC['status'])&&$_GPC['status']!='0'} class="active" {/if}>
          <a href="{php echo $this->createMobileUrl('suport',array('id'=>$_GPC['id']))}">全部</a>
      </li>

      <li {if $_GPC['status']=='0'} class="active" {/if}>
        <a href="{php echo $this->createMobileUrl('suport',array('id'=>$_GPC['id'],'status'=>0))}">待发货</a>
      </li>

      <li {if $_GPC['status']==1} class="active" {/if}>
        <a href="{php echo $this->createMobileUrl('suport',array('id'=>$_GPC['id'],'status'=>1))}">已发货</a>
      </li>

      <li {if $_GPC['status']==2} class="active" {/if}>
        <a href="{php echo $this->createMobileUrl('suport',array('id'=>$_GPC['id'],'status'=>2))}">已收货</a>
      </li>
    </ul>
  </div>
  {/if}
  {if $is_goods==1}
  <div class="tab-content">
    <div class="tab-pane active in">
        <div class="qsc-list-group ajax-loading J_tpl" data-number="10">
          {loop $_goos_list $row}
            {if $row['fahuo']==0}
                <a href="{php echo $this->createMobileUrl('suport',array('display'=>'fahuo','id'=>$row['id']))}" class="list-item list-thumb list-thumb-md">
            {elseif $row['fahuo']==1}
                <a href="javascript:void(0)" class="list-item list-thumb list-thumb-md">
            {elseif $row['fahuo']==2}
                <a href="javascript:void(0)" class="list-item list-thumb list-thumb-md">
            {/if}
             <strong>
               <i class="icon"><img class="lazy-load" src="{$row['avatar2']}"  width="100%" style="display: inline;"></i>{php echo urldecode($row['nickname'])}&nbsp;<span>
                 {$row['fee']} <small style="color:#ddd;">(数量:{php echo max(1,$row['count'])})</small>
               </span>
             </strong>
             <p>{php echo $this->_format_date($row['upbdate'])}
               {if $row['fahuo']==0}
                <font color='#DA6065'>[待发货]</font>
               {elseif $row['fahuo']==1}
                <font color="#504DDE">[已发货]</font>
               {elseif $row['fahuo']==2}
               <font color='#67CCBA'>[已收货]</font>
               {/if}
               {if empty($row['reid'])}
               <span class="text-danger">未知回报/或已被删除</span>
               {else}
               {if empty($reward[$row['reid']]['supportContent'])}
               <span class="text-danger">未知回报/或已被删除</span>
               {else}
               <span class="text-warning">{php echo $reward[$row['reid']]['supportContent']}</span>
               {/if}
               {/if}
             </p>
         </a>

         {/loop}
         <div class="" id="loading"></div>

        </div>
    </div>
  </div>
  {else}
  <div class="tab-content">
    <div class="tab-pane active in">
        <div class="qsc-list-group ajax-loading J_tpl" data-number="10">
          {loop $_list $row}
          <a href="javascript:void(0)" class="list-item list-thumb list-thumb-md">
             <strong>
               <i class="icon"><img class="lazy-load" src="{$row['avatar2']}"  width="100%" style="display: inline;"></i>{php echo urldecode($row['nickname'])}&nbsp;<span>{$row['fee']}</span>
             </strong>
             <p>{php echo $this->_format_date($row['upbdate'])}<span class="text-danger"></span></p>
         </a>
         {/loop}
         <div class="" id="loading"></div>

        </div>
    </div>
  </div>
  {/if}


</div>
<div style="display:block;width:100%;overflow:hidden;height:55px;"> </div>
{template 'footer'}
