body{ padding-top: 1rem;}
#header{ position: fixed; top: 0px; width: 100%; height: 1rem; background:rgb(58, 206, 216);box-sizing: border-box;border-bottom:0.02rem solid #c9c9c9; font-size: 0px; z-index: 99;}
#header .back{color:#fff;height:1rem;width:1rem;text-align:center;float:left;font-size:0.35rem;line-height:1rem;}
#header .title{color:#fff;height:1rem;width:5.5rem;text-align:center;float:left;font-size:0.35rem;line-height:1rem;}
#header .other{width:1rem;height:1rem;float:left;}


.main .item{background:#fff;padding:0.2rem 0;margin-bottom:1px;height:1rem;width:7.5rem;}
.main .item .img{width:1rem;height:1rem;float:left;margin-left:0.25rem;}
.main .item .img img{width:1rem;height:1rem;border-radius:1rem;}
.main .item .text{width:5.2rem;height:1rem;float:left;font-size:0.3rem;color:#999;line-height:1rem;margin-left:0.3rem;}
.main .item .text .name{color:rgb(58, 206, 216);font-size:0.3rem;width:3.2rem;float:left;height:1rem;line-height:1rem;}
.main .item .text .zu{color:#ccc;width:2rem;float:left;height:1rem;line-height:1rem;font-size:0.25rem;text-align:right;}
.main .item .to{width:0.5rem;height:1rem;color:#999;font-size:0.4rem;line-height:1rem;float:left;text-align:right;}

#footer{position:fixed;bottom:0;width:7.5rem;height:1rem;padding:0.1rem 0;background:#FFFFFF;border-top:1px solid #efefef;}
#footer .footer-item{width:3.75rem;display:inline-block;float:left;text-align:center;}
#footer .footer-item span{display:block;width:3.75rem;}
#footer .footer-item span.icon{font-size:0.45rem;height:0.6rem;line-height:0.6rem;color:#64727b;}
#footer .footer-item span.text{font-size:0.25rem;height:0.4rem;line-height:0.4rem;color:#64727b;}

#footer .now span.icon{color:rgb(58, 206, 216);}
#footer .now span.text{color:rgb(58, 206, 216);}

.badge{
	position: absolute;
    display: block;
    margin-top: -1.1rem;
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.3rem;
    text-align: center;
    background: red;
    color: #fff;
    border-radius: 0.4rem;
    margin-left: 1rem;
}
.mychatmain{width:7.5rem;float:left;}
.mychatmain .item{background:#fff;margin-bottom:1px;height:1rem;padding:0.2rem 0;}
.mychatmain .item .left{width:6.4rem;height:1rem;float:left;margin:0 0.1rem;}
.mychatmain .item .left .img{width:1rem;height:1rem;float:left;}
.mychatmain .item .left .img img{width:1rem;height:1rem;}
.mychatmain .item .left .img .mychatbadge{
	position: absolute;
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	background: red;
	color: #fff;
	font-size: 0.22rem;
	border-radius: 0.4rem;
	margin-top: -1.1rem;
    margin-left: 0.8rem;
}
.mychatmain .item .left .text{width:5rem;margin:0 0.2rem;height:1rem;float:left;}
.mychatmain .item .left .text .name{width:5rem;height:0.5rem;line-height:0.5rem;font-size:0.32rem;color:rgb(58, 206, 216);overflow: hidden;}
.mychatmain .item .left .text .zu{width:5rem;height:0.5rem;line-height:0.5rem;font-size:0.3rem;color:#999;overflow: hidden;}
.mychatmain .item .right {
    width: 0.9rem;
    height: 1rem;
    line-height: 1rem;
    float: left;
    color: red;
    text-align: center;
    font-size: 0.5rem;
}

.copyright{height:0.8rem;line-height:0.8rem;width:100%;text-align:center;font-size:0.26rem;color:#c3c3c3;}
