@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}

body{
	font-family:'PT Sans Narrow', Aller;background:url('../images/background.jpg');
}

h2{
	font-size:38px
}

p{
	line-height:150%;
	font-size:13pt;
}

a{
	color:#39f;
	text-decoration:none;
	outline:none;
	cursor:pointer;
}

a:hover{
	color:#C00;
	text-decoration:none;
}


div.container{
	position:relative;
	height:660px;
	width:100%;
	overflow:hidden;
	border-radius:5px;
}

div#ipresenter div#preloader{
	position:absolute;
	display:block;
	width:200px;
	height:6px;
	z-index:200;
	/*border:rgba(0,0,0,0.5) 1px solid;*/
	border-radius:4px;
	padding:1px;
	-webkit-transform:translate(-100px, 0px);
	-moz-transform:translate(-100px, 0px);
	-o-transform:translate(-100px, 0px);
	-ms-transform:translate(-100px, 0px);
	transform:translate(-100px, 0px);
/*	-webkit-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
	-o-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
	-ms-box-shadow:0px 0px 8px rgba(0,0,0,0.5);
	box-shadow:0px 0px 8px rgba(0,0,0,0.5);*/
}

div#ipresenter div#preloader div{
	display:block;
	width:0%;
	height:6px;
	/*background:rgba(0,0,0,0.5);*/
	border-radius:3px;
}

div#ipresenter div.step{
	display:block;
	text-align:center;
	z-index:10;
	background:rgba(255,255,255,0.3);
	color:#000;
	padding:10px;
	box-shadow:3px 3px 0px rgba(0,0,0,0.2);
}

div#ipresenter div.step img{
	max-height:600px;
}

.ipresenter-controlNav{
	position:absolute;
	bottom:0px;
	left:50%;
	-webkit-transform:translate(-50%, 0%);
	-moz-transform:translate(-50%, 0%);
	-o-transform:translate(-50%, 0%);
	-ms-transform:translate(-50%, 0%);
	transform:translate(-50%, 0%);
	height:44px;
}

.ipresenter-controlNav a{
	text-indent:-9999px;
}

.ipresenter-controlNav a.ipresenter-controlPrevNav{
	float:left;
	width:50px;
	height:44px;
	background:url('../images/slider-controls.png') no-repeat;
}

.ipresenter-controlNav a.ipresenter-controlNextNav{
	float:left;
	width:50px;
	height:44px;
	background:url('../images/slider-controls.png') no-repeat -50px 0px;
}

.ipresenter-controlNav div.ipresenter-items{
	float:left;
	padding:0px 10px 0px 10px;
	height:44px;
	background:url('../images/nav-bg.png');
}

.ipresenter-controlNav div.ipresenter-items ul{
	list-style:none;
}

.ipresenter-controlNav div.ipresenter-items ul li{
	float:left;
	position:relative;
}

.ipresenter-controlNav a.ipresenter-control{
	padding:0px;
	float:left;
	width:11px;
	height:12px;
	background:url('../images/bullets.png') no-repeat;
	margin:3px;
	margin-top:16px;
	line-height:0px;
}

.ipresenter-controlNav a.ipresenter-control.active{
	background-position:0px -12px;
}

.ipresenter-controlNav div.ipresenter-items div.ipresenter-tooltip{
	display:none;
	position:absolute;
	background:url('../images/tooltip.png') no-repeat;
	width:124px;
	height:90px;
	bottom:30px;
	left:-64px;
	padding:10px;
	z-index:100;
}

.ipresenter-controlNav div.ipresenter-items div.ipresenter-tooltip div{
	display:block;
	width:124px;
	height:84px;
	overflow:hidden;
	border-radius:2px;
}

.ipresenter-controlNav div.ipresenter-items div.ipresenter-tooltip img{
	display:block;
	width:124px;
}