.html{background-position:center top; background-size: 100% auto; background-repeat: no-repeat;}
.index{ position: fixed; width: 100%; height: 400px; top:50%; left: 0; margin:-200px 0 0 0;
    -webkit-transition-property: left, top, background, -webkit-transform;
    -webkit-transition-duration: 1s, 1s, 1s, 1s;
    -webkit-transition-timing-function: ease-out, ease-in, linear, ease-in-out;
    -webkit-transition-delay: 0s, 0s, 0s, 1s;
}
.index.move{
    left: -40%;
    top: 90%;
    -webkit-transform: rotate(360deg);
}
.mod-index{width: 60px; height: 60px; border-radius: 1000px; background: #fff; overflow: hidden; display: block; position: absolute; top:50%; left: 50%; margin: -30px 0 0 -30px;  text-align: center; color: #666; z-index: 1;-webkit-transition: -webkit-transform 800ms;}
.mod-index i,
.mod-index small{overflow: hidden; font-style: normal;}
.mod-index i{font-size: 30px; line-height: 30px;width: 50px; height: 30px; margin: 15px 5px;display:block;}
.mod-index small{width:50px; height:30px; font-size: 12px; line-height:15px; display: table-cell; vertical-align: middle; word-spacing:normal; word-break:normal; word-break:break-all;}
.mod-index img{max-height: 100%; vertical-align: top;}
.mod-index.on{-webkit-transform: rotate(720deg);}
.mod-index.on:nth-of-type(2){-webkit-transform: translate(-200%, 0);}
.mod-index.on:nth-of-type(3){-webkit-transform: translate(-150%,-150%);}
.mod-index.on:nth-of-type(4){-webkit-transform: translate(0, -200%);}
.mod-index.on:nth-of-type(5){-webkit-transform: translate(150%,-150%);}
.mod-index.on:nth-of-type(6){-webkit-transform: translate(200%, 0);}
.mod-index.on:nth-of-type(7){-webkit-transform: translate(150%,150%);}
.mod-index.on:nth-of-type(8){-webkit-transform: translate(-150%,150%);}
.mod-index.on:nth-of-type(9){-webkit-transform: translate(0, 200%);}
.index-main{z-index: 2;}
.index-main i{ line-height: 10px;}
.index-main.on{-webkit-transform: translate(0, 0) rotate(0deg);}
@media only screen and (max-width:1080px){
}
@media only screen and (min-width:1224px){
}
@media only screen and (max-width:320px){
}