{template 'header'}
<div class="siyuan_top weui-row">
<div class="weui-col-15"><a href="javascript:history.go(-1)"><i class="fa fa-angle-left f-32"></i></a></div>
<div class="weui-col-70">{$set['name']}</div>
<div class="weui-col-15"><a class="cd-bouncy-nav-trigger" href="#0"><img src="{$_W['siteroot']}addons/siyuan_cms/ui/img/daohang.png"></a></div>
</div>
<div class="cd-bouncy-nav-modal">
<nav>
<ul class="cd-bouncy-nav">
{loop $menu $caidan}
<li><a href="{$caidan['url']}"><img src="{$_W['attachurl']}{$caidan['thumb']}"><p>{$caidan['title']}</p></a></li>
{/loop}
</ul>
</nav>
<a href="#0" class="cd-close fa fa-power-off">返回</a>
</div>
<div class="top_nav">
<div class="top_nav_more"><i class="fa fa-angle-left"></i></div>
<div class="nav_list">
<div class="topnav_item"><a href="{php echo $this->createMobileUrl('tv')}"><em>全部</em></a></div>
{loop $fenlei $row}
<div class="topnav_item {if $vid ==$row['id']}top_nav_on{/if}"><a href="{php echo $this->createMobileUrl('tv', array('act' => 'list','vid' => $row['id']))}"><em>{$row['name']}</em></a></div>
{/loop}
</div>
</div>
</div>
<div style="height:80px;"></div>
<div class="swiper-container">
<div class="swiper-wrapper">
{loop $flash $flash}
<img onclick="window.location.href='{$flash['url']}'" src="{php echo tomedia($flash['attachment'])}" style="width:100%;" class="swiper-slide">
{/loop}
</div>
<div class="game_tit bottom_line">
<span class="game_tit_tv"><i class="fa fa-plus-square-o"></i> 直播列表</span>
</div>
<div class="m-gamelist-y mb-0">
<div class="container" id="dvContent">
{loop $list $item}
<div class="item bottom_line">
<div class="m-game-start-div">
<strong class="num f-fl text-one" style="display:none">1</strong>
<a href="{php echo $this->createMobileUrl('tv', array('act' => 'news', 'id' => $item['id']))}">
<div class="game f-fl">
<img src="{php echo tomedia($item['icon'])}" width="100%">
<div class="text f-fl">
<p class="text-title">{$item['title']}</p>
<p class="text-gray">{$item['yuedu']} 人正在观看...</p>
</div>
</div>
<span class="btn-open m-game-start">进入直播</span>
</a>
</div>
</div>
{/loop}
<div class='demos-content-padded'><a id="aMore" href="#" class="cont-more">点击加载更多</a></div>
</div>
</div>
</div>
<script language="javascript" type="text/javascript">
var totalpage = {$total_page}, currentpage = 1;
if (totalpage < 2) $('#aMore').remove();
else
$('#aMore').click(function () {
$.ajax({ url: '{php echo $this->createMobileUrl("tv", array("act" => "tv_list","vid" => $vid))}', type: 'POST', data: { currentpage: currentpage + 1}, complete: function (xhr) {  
if (xhr.status == '200') {
currentpage++;
if (currentpage > totalpage) $('#aMore').remove($.toast("没有内容了...", "text"));
$(xhr.responseText).insertBefore('#aMore');
}
else $.toast("没有内容了...", "text");
}
});
return false;
});
</script>
{php echo register_jssdk(false);}
<script type="text/javascript">
wx.ready(function () {
sharedata = {
title: "{$tv_set['share_title']}",
desc: "{$tv_set['share_title']}",
link: window.location.href,
imgUrl: "{php echo tomedia($tv_set['share_icon'])}",
success: function (res) {},
cancel: function(){
}
};
wx.onMenuShareAppMessage(sharedata);
wx.onMenuShareTimeline(sharedata);
wx.onMenuShareQQ(sharedata);
wx.onMenuShareWeibo(sharedata);
wx.onMenuShareQZone(sharedata);
});
</script>
{template 'footer'}