{loop $list $item}
<div class="item bottom_line">
<div class="m-game-start-div">
<strong class="num f-fl text-one" style="display:none">1</strong>
<a href="{php echo $this->createMobileUrl('tv', array('act' => 'news', 'id' => $item['id']))}">
<div class="game f-fl">
<img src="{php echo tomedia($item['icon'])}" width="100%">
<div class="text f-fl">
<p class="text-title">{$item['title']}</p>
<p class="text-gray">{$item['yuedu']} 人正在观看...</p>
</div>
</div>
<span class="btn-open m-game-start">进入直播</span>
</a>
</div>
</div>
{/loop}