html{
	min-height: 100%;
}

body{
	font-family: arial, helvetica, 'microsoft yahei', sans-serif;
	background-color: black;
	padding-bottom: 80px;
}

nav.app{
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,0.9);
	z-index: 999;
}

nav.app >span{
	display: block;
	width: 15%;
	height: 50px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 25px 25px;
}

nav.app >span.nav-prev{
	float: left;
	background-image: url(img/icon-arrow-left.png);
}

nav.app >span.nav-next{
	float: right;
	background-image: url(img/icon-arrow-right.png);
}

nav.app .swipe{
  position: relative;
  float: left;
  width: 70%;
  height: 50px;
  overflow: hidden;
}

nav.app .swipe .swipe-wrap{
  	overflow: hidden;
  	position: relative;
}

nav.app ul{
	float: left;
	width: 100%;
	position: relative;
}

nav.app ul li{
	position: relative;
	display: block;
	float: left;
	width: 25%;
}

nav.app ul li a{
	display: block;
	float: left;
	width: 100%;
	height: 50px;
	position: relative;
	text-align: center;
	color: #ff3052;
}

nav.app ul li a span{
	height: 26px;
	width: 26px;
	display: inline-block;
	border-radius: 13px;
	margin-top: 4px;
	background-color: #ff3052;
}

nav.app ul li.actived a span{
	background-color: white;
}

nav.app ul li.actived a{
	color: white;
}

nav.app ul li a span img{
	width: 100%;
}

nav.app ul li a p{
	padding-top: 2px;
	font-size: 12px;
}

img.index-post{
	width: 100%;
}


.party-time-axis{
	display: -webkit-box;
	 -webkit-box-orient: horizontal;
	 margin-top: 20px;
	 margin-bottom: 30px;
}

.party-time-axis >div{
	width: 0;/*css3鐩掑瓙妯″瀷鐨刡ug淇*/
}

.party-time-axis >div >div {
	height: 230px;
	position: relative;
	margin-top: 20px;
}

/*浼樺寲涓夋槦Note3绛夊ぇ灞忕殑鏄剧ず*/
@media screen and (min-width: 480px){
	.party-time-axis >div >div {
	height: 350px;
	margin-top: 25px;
}
}

.party-time-axis .box-1{
	-webkit-box-flex: 1;
	border-right: 2px #ff3052 solid;
}

div.dot{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #ff3052;
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: -4px;
}

.party-time-axis .box-2{
	-webkit-box-flex: 3;
}

div.party-brief p{
	font-size: 12px;
	width: 70px;
	margin: 0 auto;
	text-align: left;
}

.party-brief p.party-date{
	font-size: 12px;
	color: #ff3052;
	margin-bottom: 5px;
}

.party-brief p.party-subject{
	font-size: 12px;
	color: #c9c9c9;
	line-height: 135%;
}

div.party-post{
	overflow: hidden;
}

div.party-post img{
	width: 80%;
	display: block;
	margin: 0 auto;
}

header.activity a{
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background-color: #ff3052;
	top: 10px;
	left: 10px;
}

header.activity a img{
	width: 100%;
	border: 0;
}

header.activity p.subject{
	font-size: 16px;
	color: white;
	text-align: center;
	margin-top: 10px;
}

header.activity p.date{
	font-size: 12px;
	color: rgba(255,255,255,0.6);
	text-align: center;
	margin-top: 10px;
}

section.activity{
	padding: 10px;
	border-top: 1px #4d4d4d solid;
	margin-top: 15px;
}

section.activity >p{
	font-size: 14px;
	line-height: 135%;
	color: rgba(255,255,255,0.6);
	word-break: break-all;
	margin-bottom: 15px;
}

section.activity >p a{
	color: rgba(255,255,255,0.6);
}

#post-slider.swipe{
	overflow: hidden;
	visibility: hidden;
	position: relative;
	margin-top: 10px;
}

#post-slider.swipe .swipe-wrap{
	overflow: hidden;
	position: relative;
	max-height: 250px;
}

#post-slider.swipe-wrap >img{
	float: left;
	width: 100%;
	position: relative;
}

section#top button{
	width: 280px;
	height: 40px;
	display: block;
	margin: 15px auto;
	border-radius: 3px;
	border: 0;
	padding: 0;
	background-color: #cccccc;
}

section#top button span{
	vertical-align: top;
}

section#top button >span:nth-of-type(1){
	font-size: 20px;
	line-height: 40px;
	color: #ff3052;
	margin: 0 5px;
}

section#top button >span:nth-of-type(2){
	font-size: 14px;
	line-height: 40px;
	color: black;
	margin: 0 5px;
}


#headimg-slider.swipe{
	overflow: hidden;
	visibility: hidden;
	position: relative;
	margin-top: 10px;
}

#headimg-slider.swipe[data-item=three]{
	margin-left: 10%;
	margin-right: 10%;
}

#headimg-slider.swipe .swipe-wrap{
	overflow: hidden;
	position: relative;
}

#headimg-slider.swipe .swipe-wrap .swipe-item{
	position: relative;
	float: left;
	height: 230px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

#headimg-slider.swipe .swipe-wrap .swipe-item ul{
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#headimg-slider.swipe .swipe-wrap 
.swipe-item ul li{
	-webkit-box-flex: 1;
	text-align: center;
	width: 0;
}

img.headimg{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	display: inline-block;
	background-color: transparent;
}

#headimg-slider.swipe .swipe-wrap 
.swipe-item ul li >p.nickname{
	font-size: 12px;
	color: white;
	text-align: center;
	margin: 10px 0 20px;
}

section#comments article{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin-top: 15px;
}

section#comments article img.headimg{
	margin-right: 16px;
}

section#comments article .text{
	-webkit-box-flex: 1;
}

section#comments article .text p.caption{
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}

section#comments article .text p.content{
	font-size: 14px;
	color: rgba(255,255,255,1);
	margin-top: 8px;
	line-height: 135%;
}

section#comments form{
	margin-top: 15px;
}

section#comments form textarea{
	background-color: white;
	width: 100%;
	border-radius: 3px;
	padding: 5px;
	border: 0;
	font-size: 14px;
	color: rgba(0,0,0,0.8);
	-webkit-appearance: none;
	resize: none;
	box-sizing: border-box;
}

section#comments form input[type=submit]{
	width: 85%;
	height: 40px;
	display: block;
	margin: 10px auto;
	background-color: #cccccc;
	color: #ff3052;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	font-family: 'microsoft yahei';
	padding: 0;
	border: 0;
	-webkit-appearance: none;
}

label.error{
	position: fixed;
	width: 80%;
	padding: 10px 0;
	margin: 0 10%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border-radius: 3px;
	font-size: 16px;
	color: red;
	text-align: center;
	z-index: 9999;
	background-color: rgba(255,255,255,0.9);
}

section#people-nearby{
	text-align: center;
}

section#people-nearby >p{
	padding: 12px 0;
	font-size: 16px;
	color: white;
	text-align: center;
	border-bottom: 1px #4d4d4d solid;
}

section#people-nearby ul{
	/*margin: 0 10%;*/
}

/*宸茬寮€鐢ㄦ埛鍗婇€忔槑*/
section#people-nearby ul li.gone{
	opacity: 0.5
}

section#people-nearby ul.controller{
	display: -webkit-box;
	text-align: center;
	height: 50px;
	margin: 0 10%;
}

section#people-nearby ul.controller li{
	-webkit-box-flex: 1;
	vertical-align: middle;
}

section#people-nearby ul.controller li.to-left{
	background-image: url(img/icon-to-left.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 50% 50%;
}

section#people-nearby ul.controller li.to-right{
	background-image: url(img/icon-to-right.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 50% 50%;
}

section#people-nearby ul.controller li.add{
	background-image: url(img/icon-add.png);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position: 50% 50%;
}

section#people-nearby >label{
	color: #ff3052;
	font-size: 12px;
	margin-top: 8px;
	display: block;
}

section#wish{
	margin-top: 25px;
}

section#wish form{
	padding: 0 10px;
	margin-top: 15px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

section#wish form textarea{
	height: 45px;
	border: 0;
	padding: 5px;
	margin-right: 5px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 135%;
	color: rgba(0,0,0,0.8);
	background-color: white;
	display: block;
	-webkit-box-flex: 3;
	-webkit-appearance: none;
	resize: none;
	box-sizing: border-box;
}

section#wish form input[type=submit]{
	height: 45px;
	border: 0;
	padding: 0;
	margin: 0;
	color: #ff3052;
	border-radius: 3px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	font-family: 'microsoft yahei';
	background-color: #cccccc;
	display: block;
	-webkit-box-flex: 1;
	-webkit-appearance: none;
}

section#wish article{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	margin-top: 20px;
	padding: 0 20px;
}

section#wish article img.headimg{
	margin-right: 16px;
}

section#wish article .text{
	-webkit-box-flex: 1;
}

section#wish article .text p.caption{
	font-size: 14px;
	color: rgba(255,255,255,0.5);
}

section#wish article .text p.content{
	font-size: 14px;
	color: rgba(255,255,255,1);
	margin-top: 8px;
	line-height: 135%;
}

section#wish >p{
	padding: 12px 0;
	font-size: 16px;
	color: white;
	text-align: center;
	border-bottom: 1px #4d4d4d solid;
}

#beauty-gallery{
	display: box;
	display: -webkit-box;
	margin-top: 15px;
}

#beauty-gallery >div.left{
	-webkit-box-flex: 1;
	box-flex: 1;
	margin: 0 5px 0 10px;
	width: 0;
}

#beauty-gallery >div.right{
	-webkit-box-flex: 1;
	box-flex: 1;
	margin: 0 10px 0 5px;
	width: 0;
}

#beauty-gallery >div >div{
	background-color: rgba(255,255,255,0.9);
	padding: 5px;
	margin-top: 15px;
}

#beauty-gallery >div >div >img{
	width: 100%;
	height: auto;
}

#beauty-gallery >div >div >div{
	padding: 6px 0;
	font-size: 14px;
	/*height: 20px;*/
	/*line-height: 20px;*/
	display: -webkit-box;
	display: box;
}

#beauty-gallery >div >div >div span.nickname{
	color: black;
	height: 100%;
	padding-left: 20px;
	background-image: url(../images/icon/icon-person.png);
	background-size: 16px;
	background-repeat: no-repeat;
	/*background-position: left center;*/
	display: block;
	-webkit-box-flex: 1;
	box-flex: 1;

}

#beauty-gallery >div >div >div .like-count >span:first-child{
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url(../images/icon/icon-like.png);
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: left center;
}

#beauty-gallery >div >div >div .like-count.liked >span:first-child{
	background-image: url(../images/icon/icon-like-full.png);
}

#beauty-gallery >div >div >div .like-count span:last-child{
	color: #ff3052;
	display: inline-block;
	line-height: 16px;
	vertical-align: top;
	margin-left: 2px;
}

#simplemodal-overlay{
	background-color: black;
}

#photo-details .simplemodal-close{
	width: 24px;
	height: 24px;
	background-color: black;
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	font-size: 30px;
	line-height: 24px;
	text-align: center;
	opacity: 0.8;
}

#photo-details{
	display: none;
	width: 100%;
}

#photo-details >img{
	display: block;
	width: 100%;
	border: 0;
}

#photo-details >p{
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: white;
	padding: 10px 0;
	background-color: black;
}

#photo-details >p >span.nickname{
	margin-right: 6px;
	/*padding-left: 20px;*/
	height: 100%;
	/*background-image: url(../images/icon/icon-person.png);
	background-size: 16px;
	background-repeat: no-repeat;*/
	/*background-position: left center;*/
}

#upload-modal{
	display: none;
	width: 100%;
	background-color: black;
}

#upload-modal header{
	background-color: rgba(255,255,255,0.2);
}

#upload-modal header p{
	font-size: 16px;
	padding: 10px 0;
	text-align: center;
	color: white
}

#upload-modal .simplemodal-close{
	width: 24px;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 3px;
	color: white;
	font-size: 30px;
	line-height: 24px;
	text-align: center;
}

#upload-modal form{
	font-size: 16px;
	width: 70%;
	margin: auto;
	padding-bottom: 15px;
}

#upload-modal form >p{
	text-align: left;
	padding: 10px 0;
	text-indent: 8px;
	background-color: white;
	color: rgba(0,0,0,0.5);
	margin: 10px 0;
}

#upload-modal form >#input-file-wrap{
	display: inline-block;
	width: 48%;
	height: 36px;
	color: white;
	background-color: #ff3052;
	position: relative;
}

#upload-modal form >#input-file-wrap >p{
	line-height: 36px;
	font-size: 14px;
	text-align: center;
}

#upload-modal form >#input-file-wrap input{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	opacity: 0;
	-webkit-appearance: none;
}

#upload-modal form >input[type=submit].disabled {
    background:#ccc;
    color:#333;
}

#upload-modal form >input[type=submit]{
	float: right;
	width: 48%;
	height: 36px;
	color: white;
	background-color: #ff3052;
	padding: 0;
	border: 0;
	margin: 0;
	border-radius: 0;
	font-size: 14px;
	font-family: "microsoft yahei";
	-webkit-appearance: none;
}

article.about >img{
	display: block;
	width: 100%;
	border: 0;
}

article.about >p{
	font-size: 14px;
	line-height: 150%;
	color: rgba(255,255,255,0.4);
	text-indent: 28px;
	margin: 15px 10px;
	text-align: left;
}

#usr-contact{
	background-color: #9CBE71;
	position: fixed;
	bottom: 30%;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	padding: 10px;
	-webkit-transition: 0.6s;
	transition: 0.6s;
	z-index: 9999;
	border-radius: 0 3px 3px 0;
}

#usr-contact.show{
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

#usr-contact >p{
	margin-bottom: 10px;
	font-size: 18px;
	text-align: left;
}

#usr-contact >p >span{
	color: #fff
}

#usr-contact >p >a{
	color: #fff
}

#sitting-form{
	padding: 10px 10%;
	background-color: #9CBE71;
}

#sitting-form >legend{
	text-align: left;
	font-size: 14px;
	line-height: 135%;
	color: white;
}

#sitting-form >input{
	height: 36px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 0;
	padding: 8px;
	line-height: 20px;
	font-size: 14px;
	margin: 10px 0;
	color: black;
	border-radius: 3px;
	-webkit-appearance: none;
}

#sitting-form >input[type=submit]{
	color: #ff3052;
	background-color: #cccccc;
	margin-top: 20px;
}

.simplemodal-close{
	width: 24px;
	height: 24px;
	background-color: black;
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	font-size: 30px;
	line-height: 24px;
	text-align: center;
	opacity: 0.8;
}

.loading{
	display: none;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.loading >i{
	font-size: 24px;
	vertical-align: middle;
	color: rgba(0,0,0,1);
}

.clearfix:after{
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}

.applicants-list li{
	float: left;
	display: inline-block;
	width: 25%;
	text-align: center;
}

.applicants-list li p{
	font-size: 12px;
	color: white;
	text-align: center;
	margin: 10px 0 20px;
}

#post-swiper.swiper-container{
	/*height: 120px;*/
	width: 100%;
}

#post-swiper .swiper-slide{
	height: 120px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

#post-swiper .pagination{
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.swiper-pagination-switch{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.5);
	margin: 0 4px;
	cursor: pointer;
}

.swiper-active-switch{
	background-color: rgba(255,255,255,1);
}

.outer-wrap{
	padding: 10px;
	background-color: #cccccc;
}

.inner-wrap{
	padding: 10px;
	background-color: #edeeee;
	border-radius: 6px;
}

.inner-wrap >p{
	font-size: 14px;
	color: #666666;
	line-height: 1.35;
}

#invitation-list{
	margin-top: 20px;
}

#invitation-list li{
	margin-bottom: 10px;
}

#invitation-list li a img{
	display: block;
	width: 100%;
}

.invitation-details{
	text-align: center;
}

.invitation-details >p:first-child{
	text-align: left;
}

.invitation-details .invitation-img{
	display: block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
}

.invitation-details >p:nth-of-type(2){
	font-size: 16px;
	color: #ff9900;
}

.invitation-details >div{
	margin: 10px 40px 30px 40px;
	background-color: #fff;
	border-radius: 4px;
	padding: 15px 0;
	border: 1px solid #cccccc;
}

.invitation-details >div >p{
	font-size: 14px;
	color: #666;
	line-height: 1.35;
}

.invitation-details >div >img{
	width: 72px;
	height: 72px;
	display: inline-block;
	margin-top: 8px;
}

a.ui-button{
	display: block;
	border-radius: 2px;
	text-align: center;
	margin: 0;
}

a.ui-button.button-30{
	font-size: 16px;
	height: 30px;
	line-height: 30px;
}

a.ui-button.button-36{
	font-size: 16px;
	height: 36px;
	line-height: 36px;
}

a.ui-button.button-orange{
	background-color: #ff9900;
	color: #fff;
}

a.ui-button.button-gray{
	background-color: #ccc;
	color: #000;
}

.invitation-details >div >a.ui-button{
	width: 120px;
	margin: 20px auto 0 auto;
}

.invitation-details >a.ui-button{
	margin: 10px 0;
}

#deposit-page{
	margin: 0 20px;
}

#deposit-page >p:first-child{
	font-size: 20px;
	text-align: center;
	color: #fff;
	margin: 20px 0;
}

#deposit-card{
	background-color: #ccc;
	border-radius: 6px;
	padding: 20px;
}

#deposit-card ul li{
	display: -webkit-box;
	display: box;
	margin-bottom: 8px;
	-webkit-box-align: center;
}

#deposit-card ul li p{
	font-size: 16px;
	color: #333;
	line-height: 1.4;
	padding-bottom: 2px;
}

#deposit-card ul li p:first-child{
	width: 80px;
	text-align: justify;
}

#deposit-card ul li p:last-child{
	-webkit-box-flex: 1;
	box-flex: 1;
	border-bottom: 1px dotted #a0a0a0;
	color: #000;
	padding-left: 6px;
}

#deposit-rule{
	margin-top: 20px;
	color: #cc6666;
	font-size: 14px;
	line-height: 1.5;
}

article{
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6{
	font-weight: normal;
}

article h2.article-title{
	color: #000;
	font-size: 20px;
	font-weight: bold;
	white-space: pre-wrap;
	word-wrap: normal;
	word-break: normal;
}

article h3.time{
	line-height: 16px;
	vertical-align: middle;
	padding-top: 6px;
	color: #8c8c8c;
	font-size: 11px;
}

article p{
	font-size: 16px;
	line-height: 1.5;
	margin: 12px 0;
	color: #3e3e3e;
}

article img{
	max-width: 100%;
}

article ol,
article ul{
	font-size: 16px;
	line-height: 1.5;
	margin: 12px 0;
	color: #3e3e3e;
	padding-left: 22px;
}

article ol li,
article ul li{
	list-style: inherit;
}