.tab-links-wrap{
    width: 100%;
    overflow-x: auto;
    background-color: rgba(255,255,255,0.3);
	-webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul.tab-links{
	height: 44px;
	min-width: 100%;
	overflow: hidden;
}

ul.tab-links li{
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 32px;
    height: 32px;
    padding: 6px 10px;
    padding-bottom: 4px;
    color: white;
}

ul.tab-links li a{
	color: rgba(255,255,255,0.6);
	display: block;
}

ul.tab-links li.active{
    border-bottom: 2px white solid;
}

ul.tab-links li.active a{
    color: white;
}

.dawn-gallery.dawn-gallery-theme-a{
    text-align: center;
}

.dawn-gallery.dawn-gallery-theme-a >.dawn-gallery-item{
    display: inline-block;
    width: 47%;
    margin-top: 4%;
    float: left;
    position: relative;
}

.dawn-gallery.dawn-gallery-theme-a >.dawn-gallery-item:nth-of-type(odd){
    margin-left: 2%;
    margin-right: 1%;
}

.dawn-gallery.dawn-gallery-theme-a >.dawn-gallery-item:nth-of-type(even){
    margin-left: 1%;
    margin-right: 2%;
}

.dawn-gallery.dawn-gallery-theme-a >.dawn-gallery-item img{
    width: 100%;
    height: auto;
    display: block;
}

.dawn-gallery.dawn-gallery-theme-a >.dawn-gallery-item p{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    line-height: 250%;
    color: white;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
}

.dawn-gallery.dawn-gallery-theme-a >.dawn-gallery-item p span.title{
    float: left;
    margin-left: 5px;
}

.dawn-gallery.dawn-gallery-theme-a >.dawn-gallery-item p span.price{
    float: right;
    margin-right: 5px;
}

.dawn-gallery-item-details .descripe >p:nth-of-type(1){
    font-size: 15px;
    line-height: 2;
}

.dawn-gallery-item-details .descripe >p:nth-of-type(1) >span.title {
    float: left;
}

.dawn-gallery-item-details .descripe >p:nth-of-type(1) >span.price{
    float: right;
}

.dawn-gallery-item-details .descripe >p:nth-of-type(2){
    font-size: 13px;
    line-height: 1.5;
}

#slider-view{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.slider-view .swipe{
    position: relative;
    display: -webkit-box;
    display: box;
    width: 100%;
    height: 100%;
}

.slider-view .slider-item{
    text-align: center;
    position: relative; 
}

.slider-view .slider-item >img{
    max-width: 97%;
    max-height: 100%;
    vertical-align: middle;
}

.slider-view .slider-item >.descripe{
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    text-align: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap >div {
  float:left;
  width:100%;
  position: relative;
  overflow: hidden;
}

#page-ctrl-wrap{
    margin-top: 30px;
}

#page-ctrl-wrap .page-ctrl{
    margin: 10px;
}

.slider-view .slider-item >.descripe{
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    text-align: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a.button-32{
    display: block;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    color: white;
    background-color: rgba(0,0,0,0.72);
    font-size: 16px;
    text-align: center;
}

a.button-theme-b{
    color: rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.92);
}

a.page-ctrl{
    margin: 10px 2%;
}

.pagination {
    margin: 20px 0
}

.pagination ul {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05)
}

.pagination ul>li {
    display: inline
}

.pagination ul>li>a,.pagination ul>li>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {
    background-color: #f5f5f5
}

.pagination ul>.active>a,.pagination ul>.active>span {
    color: #999;
    cursor: default
}

.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus {
    color: #999;
    cursor: default;
    background-color: transparent
}

.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px
}

.pagination ul>li:last-child>a,.pagination ul>li:last-child>span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px
}

.pagination-centered {
    text-align: center
}

.pagination-right {
    text-align: right
}

.pagination-large ul>li>a,.pagination-large ul>li>span {
    padding: 11px 19px;
    font-size: 17.5px
}

.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px
}

.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px
}

.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px
}

.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px
}

.pagination-small ul>li>a,.pagination-small ul>li>span {
    padding: 2px 10px;
    font-size: 11.9px
}

.pagination-mini ul>li>a,.pagination-mini ul>li>span {
    padding: 0 6px;
    font-size: 10.5px
}

.pager {
    margin: 20px 0;
    text-align: center;
    list-style: none;
    *zoom: 1
}

.pager:before,.pager:after {
    display: table;
    line-height: 0;
    content: ""
}

.pager:after {
    clear: both
}

.pager li {
    display: inline
}

.pager li>a,.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.pager li>a:hover,.pager li>a:focus {
    text-decoration: none;
    background-color: #f5f5f5
}

.pager .next>a,.pager .next>span {
    float: right
}

.pager .previous>a,.pager .previous>span {
    float: left
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
    color: #999;
    cursor: default;
    background-color: #fff
}
