.fui-tab-scroll {height: 2rem; background: #fff; overflow-y: hidden; overflow-x: auto; white-space: normal; position: relative;}
.fui-tab-scroll:after {content: ""; height: 1px; width: 100%; background: #efefef; position: absolute; left: 0; bottom: 0;}
.fui-tab-scroll .container{z-index: -1;  height:2.4rem; overflow: auto;  white-space:nowrap;}
.fui-tab-scroll .item {height:2rem; width:auto; overflow: hidden; line-height:2rem; text-decoration: none; color:#333; text-align: center; padding: 0.25rem 0.5rem; font-size: 0.7rem;}
.fui-tab-scroll .item.on  {color:#ff6801; font-weight: bold; position: relative;}
.fui-tab-scroll .item.on:before {content: ""; height: 2px; width: 100%; background: #ff6801; position: absolute; bottom: -0.2rem; left: 0;}

.coupon-content { margin:0.25rem 0.5rem ; height:6.5rem; position: relative;}
.coupon-content .png { position: absolute;bottom:0;left:10%;height:4rem; opacity:0.8; width:50%; }
.coupon-content .bd { height:0.25rem;  font-size:1px;} 
.coupon-content .bd1 { height:0.25rem;  -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg);  -ms-transform: rotate(180deg); transform: rotate(180deg); font-size:1px; } 
.coupon-content .body { height:6rem; padding:0.5rem; position:relative;} 
.coupon-content .body .top{ height:3rem;}
.coupon-content .body .top .left { width: 3rem; float:left}
.coupon-content .body .top .left img { width:2.5rem; height:2.5rem;}
.coupon-content .body .top .right {float:right; width:100%; margin-left:-3rem;}
.coupon-content .body .top .right .inner { margin-left:3rem; padding-left:0.25rem; }
.coupon-content .body .top .right .inner .name { font-size:0.9rem; color:#fff; height:1.4rem; line-height:1.4rem; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.coupon-content .body .top .right .inner .time { font-size:0.65rem; color:#fff; height:1.1rem; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.coupon-content .body .top .right .inner .card { font-size:0.5rem; color:#fff; height:0.7rem; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.coupon-content .body .enough { font-size:0.7rem; height:0.9rem;color:#fff; padding-top:0.25rem; text-align: right;}
.coupon-content .body .act { font-size:1rem; color:#fff;  text-align: right; }

.coupon-detail-page .fui-footer {background: rgba(0,0,0,0); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; font-size: 0.8rem; text-align: center; line-height: 2.4rem; color: #fff;}
.coupon-detail-page .fui-footer .left {width: 100%; background:rgba(0,0,0,0.5);}
.coupon-detail-page .fui-footer .right { width: 5rem; -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; -webkit-flex-shrink: 0; flex-shrink: 0;}

.coupon-detail-page .fui-cell-group-o {border-radius: 0; border: 1px solid #eee;}
.coupon-detail-page .fui-cell-group-o .fui-cell-angler {font-size: 0.7rem;}
.coupon-detail-page .text-orange {color:#ff6801;}
.coupon-detail-page .text-blue {color:#31b6e7;}
.coupon-detail-page .text-red {color:#c00;}
.coupon-detail-page .text-red2 {color:#B94A48; }
.coupon-detail-page .font-bold {font-weight: bold; color: #000;}
 
.coupon-detail-page .redpack { background:red;}
.coupon-detail-page .deduct { background:#fe7e00;}
.coupon-detail-page .discount { background:#5b9dfd;} 
.coupon-detail-page .money { background:#d83ef4;}
.coupon-detail-page .credit { background:#54caba;}
.coupon-detail-page .past { background:#c0c0c0;}
.coupon-my-page .coupon-item .cinfo .inner .name {height:1.8rem; line-height: 2rem;}
.coupon-my-page .coupon-item .cinfo .inner .time {height: 1.1rem;}
