{template 'header'}
<link rel="stylesheet" href="{GARCIA_CSS}amazeui.css">
<style>
    .footer-btn {
        padding: 0 15px;
        margin-top: 15px;
    }
    .text_validata{
          resize: none;
    }
</style>

<div class="content top bottom">
  <form action="" method="POST" name="project-update" id="project-update">
    <input type="hidden" name="fid" value="{$_GPC['id']}">
    <input type="hidden" name="dopost" value="save_early">
    <input type="hidden" name="status" value="{$status}">
    <div class="qsc-form-group">
    <div class="form-item input-cell">
        <textarea name="content" id="content" class="control-input text_validata" placeholder="填写提前结束项目的理由（内容会更新到项目动态）" rows="6" data-max="120" data-min="10" data-length="10"></textarea>
    </div>
    <div class="footer-btn">
      <div class="btn btn-success btn-lg btn-block" data-toggle="modal" id="btn-submit"><strong>提前结束</strong></div>
    </div>
  </div>
  </form>
</div>

{template 'tip'}
<script>

  $(function(){
         $("#btn-submit").click(function(){
              var content = $("#content").val();

              if(content==''){
                  _tips('请输入结束内容');
                  return false;
              }

              $("#project-update").submit();
         })
  })
</script>
