

{if $this->status==3}
<div class="qsc-toast" id="toast-default2" >
  <div class="toast-backdrop"></div>
  <div class="toast-dialog">
     <div class="toast-content"><span></span></div>
  </div>
</div>


<script>


   function _tips2($txt){
       $("#toast-default2").show();
       $(".toast-content").find('span').html($txt);
       setTimeout(function(){
         $("#toast-default2").hide();
       },1000);
   }
</script>

{/if}

<footer class="qsc-bar bar-fixed" style="    position: fixed">

{if $this->status==0}

    {if $this->modal!='phone'&&$this->modal!='pc'}
      <a href="{php echo $this->createMobileUrl('index')}" class="bar-item  {if empty($_GPC['do'])||$_GPC['do']=='index' } active {/if}"><i class="icon bar-home"></i>首页</a>

      {if empty($this->sys['is_fabu'])||$this->sys['is_fabu']==0}
      <a href="{php echo $this->createMobileUrl('project')}" class="bar-item  {if $_GPC['do']=='project'} active {/if}"><i class="icon bar-publish"></i>发起</a>
      {/if}
      <a href="{php echo $this->createMobileUrl('message')}" class="bar-item  {if $_GPC['do']=='message'} active {/if}"><i class="icon bar-message"></i>消息</a>
      <a href="{php echo $this->createMobileUrl('member')}" class="bar-item  {if $_GPC['do']=='member'} active {/if}"><i class="icon bar-user"></i>我</a>
    {else}

      <a href="{php echo $this->createMobileUrl('index')}" class="bar-item  {if empty($_GPC['do'])||$_GPC['do']=='index' } active {/if}"><i class="icon bar-home"></i>首页</a>
      {if empty($this->sys['is_fabu'])||$this->sys['is_fabu']==0}
      <a {if  $this->_login==false} href="{php echo $this->createMobileUrl('login')}" {else}href="{php echo $this->createMobileUrl('project')}" {/if} class="bar-item  {if $_GPC['do']=='project'} active {/if}}"><i class="icon bar-publish"></i>发起</a>
      {/if}
      <a {if  $this->_login==false} href="{php echo $this->createMobileUrl('login')}" {else}href="{php echo $this->createMobileUrl('message')}" {/if} class="bar-item  {if $_GPC['do']=='message'} active {/if}}"><i class="icon bar-message"></i>消息</a>
      <a {if  $this->_login==false} href="{php echo $this->createMobileUrl('login')}" {else}href="{php echo $this->createMobileUrl('member')}"  {/if}  class="bar-item  {if $_GPC['do']=='member'} active {/if}}"><i class="icon bar-user"></i>我</a>
    {/if}
{elseif $this->status==3}
    <a href="{php echo $this->createMobileUrl('index')}" class="bar-item  {if empty($_GPC['do'])||$_GPC['do']=='index' } active {/if}"><i class="icon bar-home"></i>首页</a>
    {if empty($this->sys['is_fabu'])||$this->sys['is_fabu']==0}
    <a href="javascript:_tips2('你的账号已被系统管理员拉黑')" class="bar-item  {if $_GPC['do']=='project'} active {/if}}"><i class="icon bar-publish"></i>发起</a>
    {/if}
    <a href="javascript:_tips2('你的账号已被系统管理员拉黑')" class="bar-item  {if $_GPC['do']=='message'} active {/if}}"><i class="icon bar-message"></i>消息</a>
    <a href="javascript:_tips2('你的账号已被系统管理员拉黑')" class="bar-item  {if $_GPC['do']=='member'} active {/if}}"><i class="icon bar-user"></i>我</a>
    {else}
    <a href="{php echo $this->createMobileUrl('index')}" class="bar-item  {if empty($_GPC['do'])||$_GPC['do']=='index' } active {/if}"><i class="icon bar-home"></i>首页</a>
    {if empty($this->sys['is_fabu'])||$this->sys['is_fabu']==0}
    <a href="{php echo $this->createMobileUrl('project')}" class="bar-item  {if $_GPC['do']=='project'} active {/if}}"><i class="icon bar-publish"></i>发起</a>
    {/if}
    <a href="{php echo $this->createMobileUrl('message')}" class="bar-item  {if $_GPC['do']=='message'} active {/if}}"><i class="icon bar-message"></i>消息</a>
    <a href="{php echo $this->createMobileUrl('member')}" class="bar-item  {if $_GPC['do']=='member'} active {/if}}"><i class="icon bar-user"></i>我</a>
{/if}
</footer>



</body>
</html>
