
        <div class="panel panel-default">
            <div class="panel-heading">参数设置</div>
            <div class="panel-body">
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">微站首页展示</label>
				<div class="col-xs-12 col-sm-9">
				<div class="btn-group" data-toggle="buttons">					  
					<label class="btn btn-default {if $activity['inhome'] == 1}active{/if}"><input type="radio" name="inhome" value="1" {if $activity['inhome'] == 1} checked="checked"{/if} >启用</label>
					<label class="btn btn-default {if $activity['inhome'] == 0}active{/if}"><input type="radio" name="inhome" value="0" {if empty($activity) || $activity['inhome'] == 0} checked="checked"{/if}>关闭</label>
					<span class="btn btn-success" disabled>是否在微站中显示此表单链接</span>
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用状态</label>
				<div class="col-xs-12 col-sm-9">
				<div class="btn-group" data-toggle="buttons">					  
					<label class="btn btn-default {if $activity['status'] == 1}active{/if}"><input type="radio" name="status" value="1" {if $activity['status'] == 1} checked="checked"{/if} >启用</label>
					<label class="btn btn-default {if $activity['status'] == 0}active{/if}"><input type="radio" name="status" value="0" {if empty($activity) || $activity['status'] == 0} checked="checked"{/if}>关闭</label>
					<span class="btn btn-success" disabled>关闭状态下前台无法访问</span>
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">在线支付设置</label>
				<div class="col-xs-12 col-sm-9">
				<div class="btn-group" data-toggle="buttons">	
                	<label class="btn btn-default {if $activity['pay'] == 1}active{/if}"><input type="radio" name="pay" value="1" {if $activity['pay'] == 1} checked="checked"{/if} />在线 + 线下</label>
		 			<label class="btn btn-default {if $activity['pay'] == 2}active{/if}"><input type="radio" name="pay" value="2" {if empty($activity['pay']) || $activity['pay'] == 2} checked="checked"{/if} />仅在线支付</label>
						<span class="btn btn-success" disabled>支付参数设置：参数设置 -> 支付参数</span>
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否使用地址组</label>
				<div class="col-sm-9 col-xs-12">
				<div class="btn-group" data-toggle="buttons">	
					<label class="btn btn-default {if $activity['is_addr'] == 1}active{/if}"><input type='radio' name='is_addr' value='1' {if $activity['is_addr']==1}checked{/if} />启用</label>
					<label class="btn btn-default {if $activity['is_addr'] == 0}active{/if}"><input type='radio' name='is_addr' value='0' {if $activity['is_addr']==0}checked{/if} />关闭</label>
						<span class="btn btn-success" disabled>启用：使用地址组（姓名/手机/地址）；关闭：使用姓名、手机输入框</span>
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">二维码核销</label>
				<div class="col-sm-9 col-xs-12">
				<div class="btn-group" data-toggle="buttons">	
					<label class="btn btn-default {if $activity['code'] == 1}active{/if}"><input type='radio' name='code' value='1' {if $activity['code']==1}checked{/if} />启用</label>
					<label class="btn btn-default {if $activity['code'] == 0}active{/if}"><input type='radio' name='code' value='0' {if $activity['code']==0}checked{/if} />关闭</label>
						<span class="btn btn-success" disabled>启用状态，用户端预约详情可出示二维码，客服使用微信扫一扫即可更新预约状态</span>
				</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否需要关注</label>
				<div class="col-sm-9 col-xs-12">
				<div class="btn-group" data-toggle="buttons">	
					<label class="btn btn-default {if $activity['follow'] == 1}active{/if}"><input type='radio' name='follow' value='1' {if $activity['follow']==1}checked{/if} />启用</label>
					<label class="btn btn-default {if $activity['follow'] == 0}active{/if}"><input type='radio' name='follow' value='0' {if $activity['follow']==0}checked{/if} />关闭</label>
						<span class="btn btn-success" disabled>启用状态，用户在未关注公众号情况下自动跳转至二维码关注引导页</span>
				</div>
				</div>
			</div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">跳转链接</label>
                    <div class="col-xs-12 col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="" name="outlink" value="{$activity['outlink']}" /><span class="input-group-addon">留空：提交后跳转至提交记录列表</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">上传图片缩略设置</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">宽</label>
                    <div class="col-xs-12 col-sm-9">
                    <div class="input-group">
                    <input type="number" name="upsize" class="form-control" value="{$activity['upsize']}" /><span class="input-group-addon">px，存储路径：attachment/dayu_form</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
