<!-- 
      followed.html
      <project>
      判断是否已经关注该微信公众号，引导关注
      Created by Administrator on 2016-02-29.
      Copyright 2016 Administrator. All rights reserved.
 -->
{if m('user')->followed() != 1 && $_GPC['op'] != 'cart_detail'}
    <div class="m-simpleFooter m-detail-go" style="display:block;top: 0;box-sizing: content-box;">
	    <div data-pro="text" class="m-simpleFooter-text">
	        <span class="m-detail-go-period">{php echo $this->module['config']['followed_message']}</span>
	    </div>
	    <div data-pro="ext" class="m-simpleFooter-ext">
	        <a class="w-button w-button-main m-detail-go-link" href="javascript:$('#m_popUp').show()">立即关注</a>
	    </div>
	</div>
{/if}

<!--弹出-->
<div class="m_popUp" id="m_popUp" style="display:none;">
	<div style="float: right;color: #FAFAFA;margin-top: 20px;margin-right: 20px;" onclick="$('#m_popUp').hide()">关闭</div>
    <div class="m_guide">
        <div class="m_how" style="margin-top: 0px;">
            <h4 style="margin-top: 70px;">扫描关注</h4>
            <p>1: 关注之后，中奖将会有通知信息</p>
        </div>
        <div style="margin-left: auto;margin-right: auto;margin-top: 20px;width: 200px;height: 200px;background: #FAFAFA;">
        	<img src="{php echo tomedia($this->module['config']['followed_image'])}" style="width: 200px;height: 200px;" />
        </div>
        <div style="text-align: center;color: #FAFAFA;margin-top: 5px;">
        	长时间按此二维码，选择扫描二维码即可
        </div>
    </div>
</div>