@CHARSET "UTF-8";
/*------------------网站基础样式，整体风格控制--------------------*/

/*根据屏幕尺寸控制显示大小*/
@media all and (min-width:721px){html{font-size:62.5%}}
@media all and (max-width:720px){html{font-size:62.5%}}
@media all and (max-width:640px){html{font-size:55.556%}}
@media all and (max-width:540px){html{font-size:46.875%}}
@media all and (max-width:480px){html{font-size:41.667%}}
@media all and (max-width:400px){html{font-size:34.722%}}
@media all and (max-width:360px){html{font-size:31.25%}}
@media all and (max-width:340px){html{font-size:29.514%}}
@media all and (max-width:320px){html{font-size:27.778%}}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,del,dfn,em,img,ins,kbd,q,samp,small,strong,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,footer,header,nav,section{margin:0;padding:0;border:0;outline:0}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(35,167,217,.5)}
body{font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;word-wrap:break-word; color:#262b31; line-height:1.2;min-width:320px;background-color:#f1f3f2;font-size:2em}
h1,h2,h3,h4,h5,h6{font-weight:normal}
img{border:0;max-width:100%;height:auto;vertical-align:top}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
abbr,acronym{border:0;font-variant:normal}
abbr[title]{border-bottom:1px dotted}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input[type=button],input[type=submit]{padding:0;-webkit-appearance:none;outline:0}
button,input[type=button]{cursor:pointer;-webkit-appearance:button}
input[type=checkbox],input[type=radio]{box-sizing:border-box;margin:0;padding:0}
a:active,a:focus,input:focus{outline:0}b{font-weight:normal}
button{ border:none}
table{border-collapse: collapse;}
body, html, .wrapper { height: 100%;}
a{text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}/*手机链接点击的时候不出现边框*/
select{-webkit-appearance: none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
li{-webkit-tap-highlight-color:rgba(0,0,0,0);}

/*属性*/
.u{text-decoration:underline}
.fl,.left{float:left}
.fr,.right{float:right}
.bold{font-weight:700}
.hide,.hidden{display:none}
.show{display:block}
.tal{text-align:left}
.tac,.center{text-align:center}
.taj{text-align:justify}
.tar{text-align:right}
.vat{vertical-align:top}
.pointer{cursor:pointer}
.inline-block{display:inline-block}
.vam{vertical-align:middle}
.vat{vertical-align:top}
.vab{vertical-align:bottom}
.clear{ clear:both}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.ime-disabled{ime-mode:disabled!important}
.relative{position:relative}
.active-hide{-webkit-tap-highlight-color:rgba(0,0,0,0)}
.red{color:#e01d20}
.blue{color:#28c0c6}
.bg-red{ background-color:#f75f5f !important}
.bg-orange{background-color:#FF734D !important}
.bg-green{background-color:#0BB787 !important}
.bg-blue{background-color:#1D96F3 !important}
.hr-150-1{ clear:both; width:100%; height:44px;}
.ht-1em{ clear:both; height:1em;}
.ht-7em{ clear:both; height:7.2em;}
.ht-5em{ clear:both; height:5.2em;}
.ht-3em{ clear:both; height:3.2em;}
.bor-dashed{ display:block; clear:both; width:100%; height:1px; border-top:1px dashed #999;}
.border_t, .border_r, .border_b, .border_l{ position:relative;}
.border_t:after{position:absolute; content:""; left: 0;top: 0px;width: 100%; height: 1px;border-bottom: 1px solid #ddd;-webkit-transform: scaleY(0.5); -webkit-transform-origin: 50% 0%;}
.border_r:after{position:absolute; content:""; right: 0;top: 0px;width: 1px; height: 100%;border-right: 1px solid #ddd;-webkit-transform: scaleX(0.5); -webkit-transform-origin: 0% 50%;}
.border_b:after{position:absolute; content:""; left: 0;bottom: -1px;width: 100%; height: 1px;border-bottom: 1px solid #ddd;-webkit-transform: scaleY(0.5); -webkit-transform-origin: 50% 0%;}
.border_l:after{position:absolute; content:""; left: 0;top: 0px;width: 1px; height: 100%;border-left: 1px solid #ddd;-webkit-transform: scaleX(0.5); -webkit-transform-origin: 0% 50%;}

/*通用按钮*/
.buttom{ display:block; width:94%; margin:0 auto; height:2.4em; border-radius:0.2em; font-size:1.6em; background-color:#de4046; color:#FFF; text-align:center; line-height:2.4em; }
.small-buttom{ display:block; width:60%; margin:0 auto; height:2.2em; border-radius:0.5em; font-size:1.2em; background-color:#de4046; color:#FFF; text-align:center; line-height:2.2em; }

/*状态数量标签(选项卡右上角数字)*/
.state-number { position: absolute;top: 2px; right: 2px;border: 1px solid #de4046; color: #de4046; width: 16px; height: 16px; line-height: 17px; text-align: center;
    font-size: 10px; border-radius: 50%;}


/*通用导航*/
.index-top{position: fixed;top: 0; width: 100%;height: 44px; z-index: 999;}
.header{background:#fff;background-size:100% 44px;min-height:44px;border-width:0 0 1px 0;}
.index-top:after{ position:absolute; content:""; left:0; bottom:-1px; width:100%; height:1px; border-bottom:1px solid #ccc;-webkit-transform: scaleY(0.5);-webkit-transform-origin: 50% 0%;}
.index-input{ display:block; position:absolute; left:18%; top:0.5em; width:60%; height: 3.2em; padding-left:4%; background-color:#FFF; border-radius:20px; border:1px solid #e3e3e3}
.index-input input{width: 70%; text-align: left; padding: 0.5em 0; margin-top:0.2em; border:none; font-size:1.7em; height: 0.5em;}
.index-car{ position:absolute; right:0; top:0; width:44px; height:44px; background:url(../images/index-icon2.png) no-repeat center; background-size:60%; z-index:200;}
.index-car span{ display: block;position: relative;width: 1.2em;height: 1.2em;font-size: 0.8em;font-weight: bold;
    line-height: 1.2em;border-radius: 50%;background-color: #C00;border: 1px solid #FFF;text-align: center;left: 4em;top: 0.3em;z-index: 300;color: #fff;}
.index-user{ position:absolute; right:0; top:0; width:44px; height:44px; background:url(../images/index-icon3.png) no-repeat center; background-size:50%; }
.index-classify{ position:absolute; right:0; top:0; width:44px; height:44px; background:url(../images/index-icon1.png) no-repeat center; background-size:48%;}
.index-select{ position:absolute; right:1em; top:0.4em; width:2.5em; height:2.5em; background:url(../images/index-icon4.png) no-repeat center; background-size:100%;}
.header-return{ display:block; position:absolute; left:0; top:0; width:44px; height:44px; background:url(../images/return.png) no-repeat center; background-size:45%;}
.header-return-app{ display:block; position:absolute; left:0; top:0; width:44px; height:44px; background:url(../images/return.png) no-repeat center; background-size:45%;}
.index-return{ display:block; position:absolute; left:0; top:0; width:44px; height:44px; background:url(../images/return.png) no-repeat center; background-size:45%;}
.return-index{ display:block; position:absolute; left:0; top:0; width:5.2em; height:44px; background:url(../images/return-index.png) no-repeat center; background-size:70%;}
.index-home{ display:block; position:absolute; right:0; top:0; width:44px; height:44px; background:url(../images/home.png) no-repeat center; background-size:50%;}
.header-title{ margin:0 50px;text-align:center;height:44px;line-height:44px;font-size:16px;}
.header-center{ margin:0 50px;text-align:center;height:44px;line-height:44px;font-size:16px;}
.header-operate{ display:block; position:absolute; right:0; top:0; height:44px; width:64px; color:#de4046; font-size:14px; line-height:44px; text-align:center;}
.header-operate:hover{ background-color:#f1f1f1;}
.header-complete{ display:none;}
.to_top{ display:block;  position:fixed; left:5%; bottom:3%; width:4em; height:4em; background:url(../images/to-top.png) no-repeat center; background-size:70%;background-color:rgba(0,0,0,0.2); border-radius:2em; z-index:9999;}

/*通用底部菜单*/
.footer-nav{ position:fixed; max-width:640px; z-index:99; background-color: #fff;}
.footer-nav .weui_tabbar_label{ color:#c99165}
.footer-nav .weui_tabbar_item.weui_bar_item_on .weui_tabbar_label{ color:#f75f5f}
.footer-nav-query{width: 70px;height: 67px;position: absolute; top: -11px; left: 50%; margin-left: -32px;}
.footer-nav .weui_tabbar_icon img{ width:90%; height:90%}

/*通用选项卡*/
.tab-c ul {display: -webkit-box; display: -webkit-flex;display: flex; width:100%; background-color:#FFF; overflow:hidden; position:fixed; top:44px; z-index:100}
.tab-c ul li{position: relative; display: block; -webkit-box-flex: 1;flex: 1; text-align: center;font-size: 15px; -webkit-tap-highlight-color: transparent; }
.tab-c ul li:last-child{ background:none;background-color:#FFF;}
.tab-c ul li.on{ color:#eb2727}
.tab-c ul li.on:before{ position:absolute; content:""; bottom:0px; left:20%; width:60%; height:1px; background-color:#eb2727; z-index:99}
.tab-c-content{ margin-top:55px; width:100%; clear:both;}

/*--------------表格布局（首页、个人中心-会员中心）------------*/
.floor{ position:relative; background-color:#FFF; overflow:hidden; margin-bottom:0.8em;}
.discount-floor ul li{ float:left; width:50%; overflow:hidden}
.discount-floor ul li img{ width:100%; height:100%}
.floor-title{ padding:14px 12px; font-size:16px;}
.floor-title span{ float:right; margin-right:5px; color:#999; font-size:14px; margin-top:2px;}
.floor-title i{ display:block; float:right; width:14px; height:14px; background:url(../images/title-right.png) no-repeat right; background-size:100%; margin-top:1px;}

.floor-menu-1 li{ float:left; width:25%; text-align:center;}
.floor-menu-1 li img{ width:37%; margin:16px 0 12px;}
.floor-menu-1 li div{ font-size:14px; padding-bottom:16px; color:#666;}
.floor-menu-1 li:hover{ background-color:#f7f7f7;}

.half-floor,.up-floor,.down-floor{float:left; position:relative}
.half-floor{ width:50%;}
.up-floor,.down-floor{ width:25%;}
.floor-menu-2 img{ width:100%;}
.half-floor:after{position:absolute; content:""; top:0px; right:0; width:1px; height:100%;  border-right:1px solid #e9e9e9; -webkit-transform: scaleX(0.5);}
.up-floor:after,.down-floor:after{position:absolute; content:""; top:0px; right:0; width:1px; height:100%;  border-right:1px solid #e9e9e9; -webkit-transform: scaleX(0.5);}
.up-floor:before{position:absolute; content:""; bottom:0px; left:0; width:100%; height:1px;  border-bottom:1px solid #e9e9e9; -webkit-transform: scaleY(0.5);}

/*单列功能入口（个人中心-物业服务、个人中心-账号服务）*/
.entry-nav .weui_media_box.weui_media_appmsg .weui_media_hd{ width:40px; height:40px;line-height: 40px;}
.entry-nav .weui_panel:first-child{ margin-top:10px}

/*弹出dialog（带文本输入）*/
.shade{position:fixed;left:0;top:0;display:none;height: 100%;width: 100%;background-color: rgba(0, 0, 0, 0.6);z-index:9999;}
.cd-popup{background-color:rgba(0,0,0,0.5); width: 100%;  height: 100%; position: fixed; left: 0;  top: 0; z-index: 999;}
.cd-popup-container {display:none; position:absolute;width: 80%;margin: 0 auto;top:25%;left:10%;background: #FFF;border-radius: 14px;text-align: center;z-index:10000;-webkit-animation: zoomIn 300ms ease;}
.cd-popup-container .user-input {font-size:1.6em;line-height:1.6em;padding: 2em 1em;}
.cd-popup-container p {font-size:1.6em;line-height:1.6em;padding: 3em 1em;}
.cd-popup-container .cd-buttons{ position:relative; overflow:hidden; width:100%;}
.cd-popup-container .cd-buttons:after{position:absolute; content:"";left: 0;top: 0px;width: 100%; height: 1px;border-bottom: 1px solid #e9e9e9;-webkit-transform: scaleY(0.5); -webkit-transform-origin: 50% 0%;}
.cd-popup-container .cd-buttons li {float: left;width: 50%;}
.cd-popup-container .cd-buttons a {display: block;height: 3em;line-height: 3em;text-transform: uppercase;color: #999;font-size:1.6em;}
.cd-popup-container .cd-buttons li:first-child a {border-radius: 0 0 0 14px;color: #fc7169; position:relative}
.cd-popup-container .cd-buttons li:first-child a:after{position:absolute; content:"";right: 0;bottom: 0;width: 1px; height: 100%; top:0; border-right: 1px solid #e9e9e9;-webkit-transform: scaleX(0.5); -webkit-transform-origin: 0% 50%;}
.cd-popup-container .cd-buttons li:first-child a:hover{background: #e9e9e9}
.cd-popup-container .cd-buttons li:first-child a:active{background: #e9e9e9}
.cd-popup-container .cd-buttons li:last-child a {color: #999;}
.cd-popup-container .cd-buttons li:last-child a:hover{background: #e9e9e9}
.cd-popup-container .cd-buttons li:last-child a:active{background: #e9e9e9}
.cd-popup-container .cd-buttons li.single-btn{ width:100%;}
.cd-popup-container .cd-buttons li.single-btn a{ color:#fc7169 !important}
.cd-popup-container .cd-buttons li.single-btn .a:after{ display:none}
.cd-popupclose{position: absolute;top: 0.1em;right: 0.1em;width: 1em;height: 1em;font-size:2.4em;color:#333;}
.cd-popupclose:hover{ background-color:rgba(0,0,0,0.2)}
.user-input textarea {width: 90%; height: 2.4em; padding: 0.2em; font-size: 1.2em; color: #333;  border: 1px solid #ddd;}
.user-input input{ width:80%; height:1em; padding:0.5em; font-size:1.4em; color:#333; border:1px solid #ddd; margin-bottom:0.5em;}
.cd-buttons-three li{ width:33% !important;}
.cd-popup-container .cd-buttons-three li:nth-child(2) a{ color:#fc7169}
.cd-popup-container .cd-buttons-three li:nth-child(2) a:after{position: absolute;content: ""; right: 33%; bottom: 0; width: 1px; height: 100%;
    top: 0; border-right: 1px solid #e9e9e9; -webkit-transform: scaleX(0.5); -webkit-transform-origin: 0% 50%;}

/*show message*/
.added{ display:block;  width:60%; left:20%; padding:0.5em; position:fixed; bottom:5.5em; text-align:center;background-color:rgba(0,0,0,.6); border-radius:0.4em;
    color:#FFF; line-height:1.4em; letter-spacing:2px; font-size:1.2em;}

/*侧边栏*/
.wap-aside{position: fixed; right: -80px; bottom: 60px;z-index: 900; }
.wap-aside-btn{ display:block;border-radius: 3px 0 0 3px; width: 70px; height:36px; font-size:14px; line-height:36px; text-align:center; color:#fff; background-color: rgba(0, 0, 0, 0.7); margin-bottom:20px;}

/*图标（大小：180px*180px\60px*60px）*/
.big-icon{ display:block; width:2em; height:2em;}
.small-icon{ display:block; width:1.4em; height:1.4em;}






