#header {
    height: 42px;
    width: 100%;
    background: #48b54e;
    line-height: 42px;
    color: #fff;
    text-align: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 350ms ease;
    -moz-transition: -moz-transform 350ms ease;
}

.header_div {
    width: 100%;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    margin-top: 0;
    height: 100%;
}

#left_div {
    width: 30px;
    height: 42px;
    background: url(../image/arrow-r.png) center no-repeat;
    background-size: 18px;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#middle_div {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

#title {
    font-size: 20px;
    font-weight: bold;
}

#right_div {
    width: 50px;
    height: 42px;
}

.right_bottom {
    width: 50px;
    height: 42px;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out 0;
    transform: scale(1.5, 1);
    -webkit-transform: scale(1.5, 1);
    -moz-transform: scale(1.5, 1);
}

.right_bottom_btn {
    border-radius: 23px;
    background: #005b8b;
    transform: scale(0.5, 1);
    -webkit-transform: scale(0.5, 1);
    -webkit-transform: scale(0.5, 1)
}

.right_img {
    background-size: 40px;
    width: 50px;
    height: 42px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}
