@charset "utf-8";
/* BAOCMS WAP */
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:antialiased;font-size:6.25em;}
body{margin:0;padding:0;min-height:100%;font-family:"MICROSOFT YAHEI"; font-size:0.14rem; background:#fafafa;}

#scroll{padding-bottom:0.5rem;}  
h1,h2,h3,h4,h5,h6,p,figure,form{margin:0;}  
table{border-collapse:collapse;border-spacing:0;}  
img{border:0;vertical-align:middle;-ms-interpolation-mode: bicubic;}  
a{text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0); font-size:0.14rem;}  
a:focus{outline:none;-moz-outline:none;}  
a:visited{outline:none;-moz-outline:none;}  
ul,li,ol{margin: 0;padding:0;list-style: none outside none;}
ol li{list-style:none;}  
em{font-style:normal;}
ul.inline-style li{float:left;display:inline;}
button,input,select,textarea{font-size:0.875em;margin: 0;outline: 0 none;vertical-align: baseline;*vertical-align: middle;font-family:"MICROSOFT YAHEI";-webkit-tap-highlight-color:rgba(0,0,0,0);}  
textarea{overflow: auto;vertical-align: top;resize:none;}  
button,input{line-height: normal;}  
button,  
html input[type="button"],   
input[type="reset"],  
input[type="submit"]{-webkit-appearance: button;cursor: pointer;*overflow: visible;}  
button[disabled],
input[disabled],
input[type="checkbox"],
input[type="radio"]{box-sizing: border-box;padding: 0;*height: 0.13rem;*width: 0.13rem;} 
button::-moz-focus-inner,  
input::-moz-focus-inner{border: 0;padding: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display: block;}  
audio,canvas,video{display: inline-block;*display: inline;*zoom: 1;}  
audio:not([controls]){display: none;height: 0;}  
input[type="search"]{-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box; box-sizing: border-box;}  
:-moz-placeholder{color: #999;}  
::-webkit-input-placeholder{color:#999;}


/*验证手机弹出框样式*/
p.form{line-height:0.25rem;padding:0.2rem;font-size:0.14rem;overflow-y:hidden;}
.layui-layer-content{overflow-y:hidden;height:auto;}
.layui-layer-page .layui-layer-content{overflow-y:hidden;}

.hui{color:#999999 !important;}
.rem24{font-size:0.24rem !important;}
.rem22{font-size:0.22rem !important;}
.rem20{font-size:0.20rem !important;}
.rem18{font-size:0.18rem !important;}
.rem16{font-size:0.16rem !important;}
.rem14{font-size:0.14rem !important;}
.rem12{font-size:0.12rem !important;}

.mt10{margin-top:0.1rem;}
.mt15{margin-top:15px !important;}
.mb10{margin-bottom:0.10rem !important;}
.mb15{margin-bottom:15px !important;}
.pb50{ padding-bottom:0.5rem;}
.mr20{margin-right:0.20rem !important;}
.mr25{margin-right:10px !important;}
.ml25{margin-left:10px !important;}

.maincl{ color:#2fbdaa;}
.fontcl1{color:#f53c42;}
.fontcl2{color:#ff3c00;}
.black9{color:#999999 !important;}
.black6{color:#666666 !important;}
.black3{color:#333333 !important;}
.black{color:#000000 !important;}


.overflow_clear{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}/*css溢出省略*/
.line2{overflow:hidden; text-overflow:ellipsis;}

.fl{float:left;}
.fr{float:right;}
.clear{clear:both; font-size: 0; height: 0; line-height: 0;}

header .de_change{font-style: normal; color: #fff; position: absolute; left: 0.1rem; font-size: 0.16rem;}

/*快递列表页开始*/
#express .list-have-pic .list-box{ padding:0 0.1rem;}
#express .title{ width:48%; padding-right:2%; font-size:0.14rem; color:#333; line-height:0.4rem; border:none 0; padding-left:0;}
#express .name{font-size:0.14rem; color:#333; line-height:0.4rem;}
#express .state{ width:28%; padding-left:2%; font-size:0.14rem; color:#999; line-height:0.4rem; text-align:right;}
/*快递列表页结束*/

/**/
#express_detail .detail{background-color:#fff;}
#express_detail .title{ text-align:center; font-size:0.16rem; line-height:0.4rem; color:#333;}
#express_detail .bt{ overflow:hidden; height:auto; background-color:#fff; font-size:0.14rem; line-height:0.4rem; padding:0px 0.1rem; border-bottom:1px solid #dedede; border-top:1px solid #dedede;}
#express_detail .date{color:#666;}
#express_detail .state{color:#999;}
#express_detail .from,#express_detail .arrive{ padding:0.1rem;}
#express_detail .from p,#express_detail .arrive p{ font-size:0.14rem; color:#666; line-height:0.24rem;}
#express_detail .from p span,#express_detail .arrive p span{ color:#999;}
#express_detail .arrive{border-bottom:1px solid #dedede; border-top:1px solid #dedede; background-color:#f5f5f5;}




