@CHARSET "UTF-8";
/*----------------我的---------------*/
.user-header { height: 17em; background-color: #273041;}
.user-header .weui_media_box.weui_media_appmsg .weui_media_appmsg_thumb{border-radius:50%; width:90%;}
.user-header .weui_media_box.weui_media_appmsg .weui_media_bd{ color:#FFF}
.enterArea {height: calc(100% - 17em);}
.enterArea .enterTable {height: 100%;width: 100%;background-color:#F4F2F7;}
.enterTable .row1 { height: 6em; width: 100%;}
.enterTable .row1 td{ vertical-align: bottom;padding-bottom: 3em;}
.enterTable .row1 img{margin-top:1em;}
.enterTable .row2 img{margin-top:3em;}
.enterTable .row2 { height: 5.8em; width: 100%;}
.enterTable td {position:relative;border-width: 0px 1px 1px 0px;vertical-align: text-top;}
.enterTable td :before { content: " ";position: absolute; left: 0; top: 0; width: 100%; height: 1px;
    border-top: 1px solid #e5e5e5;color: #e5e5e5; -webkit-transform-origin: 0 0; transform-origin: 0 0;-webkit-transform: scaleY(.5); transform: scaleY(.5);}
.enterTable td :after { content: " "; position: absolute;left: 0;top: 0;width: 1px; height: 100%;
    border-right: 1px solid #e5e5e5;-webkit-transform-origin: 0 0; transform-origin: 0 0;-webkit-transform: scaleX(.5);transform: scaleX(.5);}
.enterPic {height: 3em;display: block;margin-left: auto;margin-right: auto;margin-bottom: 0.775em;}
.enterTable td { width: 6em;width: calc(100% * 0.333);}
.enterTable td span {display: block;font-size: 1.2em;text-align: center;color: #45494c;}
/*业主卡*/
.outer { position:absolute; top: 90px; width:28em; height:16em; left:50%; margin-left:-14em;    max-width: 640px;}
.card { margin: 0 auto; background:url(../images/card.png) no-repeat center; background-size: 100% 100%;width: 100%; height: 100%; z-index: 10; overflow: hidden; border-radius: 10px;}
.card-content{ font-size:1.2em; width:8em; margin:3% 0 3% 10px;position:relative; height:90%;}
.card-state{width:3em; color:#FFF; font-size:1em; background-color:#ccc; text-align:center; padding:5px; border-radius:15px; margin:5px 0;}
.card-no{ position:absolute; left:0px; bottom:0px;}
.card-qr{ position:absolute; left:0; bottom:1.6em;}
.card-qr img{ width:5em; height:5em;}
.bind-user{ cursor:pointer; width: 6em;color: #2B2B2B; font-size: 1em; background-color: rgba(206, 206, 206, 0.1); text-align: center; padding: 8px; border-radius: 10px;
    margin: 5px 0; border: 1px solid #E0E0E0;}

/*--我的 -- 订单列表--*/
.my-order-content article{ margin-bottom:10px;}
/*订单列表-订单编号*/
.order-info{ background-color:#FFF; padding:1.1em; overflow:hidden; margin-top:1.1em;}
.order-info-numbr{ border-bottom:1px solid #e9e9e9; color:#333;  padding-bottom:0.5em; font-size:1.6em; margin-bottom:0.5em; position:relative;}
.order-info-numbr span:nth-child(2){ color:#eb2727; float:right; font-size:0.8em; line-height:1.4em;}
/*订单列表，确认订单，购物车 -- 商品信息*/
.order-list{ clear:both; border-bottom:1px dashed #CCCCCC; overflow:hidden; margin-bottom:1em; padding-bottom:0.6em}
.order-img img{ float:left; width:10em; height:10em; margin-right:0.5em;}
.order-name h3{font-size: 1.5em;color: #4d4d4d; height: 2.4em; overflow: hidden;}
.pro-price{ margin-top:0.8em;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.p-price-now{ font-size:1.8em; color:#dd5e00;}
.p-price-now span{font-size: 0.6em;margin: 0 0.5em;color: #666;}
.order-meta-sku-title{margin-top: 1.2em;  margin-left:0em; color:#4d4d4d; font-size:1.4em;}
/*订单列表-总计与操作*/
.order-money-count{ height:2.4em; font-size:1.2em; line-height:0.5em; text-align:right; margin-bottom: 1em; width:100%;}
.order-info-money a{float: right; font-size:1.4em; padding: 0.4em 0.8em; color: #656565; border: 1px solid #B1B1B1; border-radius: 0.2em; margin-left: 1em;  margin-top: -0.2em;}

/*--我的 -- 会员中心--*/
.user-wealth{ position:absolute; right:1em; bottom:1em; font-size:1.6em; color:#666;}

/*--首页--*/

/*首页-header*/
.index-header{ position:relative; width:100%; height:12em; background:url(../images/index/top-bg.png) no-repeat center; background-size:100% 100%; color:#fff;}
.index-header-left{ position:absolute; left:0.8em; top:1em; font-size:1.4em;}
.place-name { overflow:hidden; padding: 0 0.8em 0.8em 0;}
.place-name span{ font-size:1.4em; float:left}
.place-name i{ float:left; display:block; margin-left:0.5em; width:1.4em; height:1.4em; background:url(../images/index-icon-6.png) no-repeat center; background-size:80%;}
.weather-depict1{ font-size:1.2em; }
.weather-depict2 .degree{ font-size:1.8em; float:left}
.weather-depict2 .company{ font-size:0.6em; float:left;}
.weather-depict3 .wind, .weather-depict3 .humidity{ float:left; margin-right:1em;  font-size:0.8em}
.weather-depict3 .wind i, .weather-depict3 .humidity i{float:left; width:1em; height:1em; margin-right:3px; }
.weather-depict3 .wind i{  background:url(../images/index/index-icon-3.png) no-repeat center; background-size:100%; }
.weather-depict3 .humidity i{background:url(../images/index/index-icon-4.png) no-repeat center; background-size:100%; }
.index-header-right{ position:absolute; right:0.8em; top:1em; font-size:1.4em;}
.header-entry a{ margin-left:1.5em; margin-top:-0.2em;}
.icon-scan{ background:url(../images/index/index-icon-1.png) no-repeat top; background-size:100%;}
.icon-mail{ background:url(../images/index/index-icon-2.png) no-repeat top; background-size:100%;}
.hot-news { clear:both; position:absolute; right:0.8em; bottom:0.7em; font-size:1.2em; text-align:right; width: 60%;}
.hot-news i{ display:block; float:right; width:1em; height:1em; background:url(../images/index/index-icon-5.png) no-repeat center; background-size:100%;}
.hot-news-title{ float:right; display:block; width:80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; padding-bottom:0.1em;}
.hot-news-time{ font-size:0.8em;}
.index-floor{ margin:0 0.8em 0.8em 0.8em !important;}
.index-floor .swiper-slide, .index-floor .swiper-wrapper{ height:auto}
/*首页-猜你喜欢*/
.love-item  li{ width:auto; overflow:hidden; background-color:#FFF; margin-bottom:0.8em; font-size:1.4em; }
.love-item  li a{ display:block; overflow:hidden; width:100%; height:auto;color:#777 ;}
.love-item  li a .love-item-img{ width:100%; text-align:center;}
.love-item-info{padding:0.8em; position:relative}
.love-item-name{ height:1.2em; line-height:1.2em; font-size:1.4em; color:#2b2b2b; overflow:hidden}
.love-item-price{ overflow:hidden; padding-top:0.5em;}
.love-item-price i{ font-style:normal; margin-top: 0.4em;color:#f65454;}
.love-item-price h2{ color:#f65454; margin-right:0.5em;}
.love-item-price .love-item-explain{ margin-top:0.4em;}
.love-item-price .love-item-explain span{ margin-left:0.2em;}
.love-item-btn{ position:absolute; right:0.4em; bottom:0.8em; width:2em; height:1.8em; font-size:1.6em; text-align:center; line-height:2em; border-radius:20%; border:1px solid #f65454; color:#f65454; background-color:#fff;}

/*模块*/
.floor{ position:relative; background-color:#FFF; overflow:hidden; margin-bottom: 0.8em;}
.discount-floor ul li{ float:left; width:50%; overflow:hidden}
.discount-floor ul li img{ width:100%; height:100%}
.floor-title{ padding:14px 12px; font-size:16px;}
.floor-title span{ float:right; margin-right:5px; color:#999; font-size:14px; margin-top:2px;}
.floor-menu-1 li{ float:left; width:25%; text-align:center;}
.floor-menu-1 li img{ width:37%; margin:16px 0 12px;}
.floor-menu-1 li div{ font-size:14px; padding-bottom:16px; color:#666;}
.floor-menu-1 li:hover{ background-color:#f7f7f7;}
.half-floor,.up-floor,.down-floor{float:left; position:relative}
.half-floor{ width:50%;}
.up-floor,.down-floor{ width:25%;}
.floor-menu-2 img{ width:100%;}

/*气球*/
.balloon{ position:fixed; z-index:98; bottom:-100%; left:50%; background:url(../images/popup-bg.png) no-repeat center; background-size:100%; width:24em; height:31em; margin-left:-12em; }
.bollon-content{ position:absolute; left:3em; top:3em; width:18em; height:18em; }
.bollon-content a{ display:block; width:9em; height:9em;}
.bollon-content a img{ width:80%; height:80%; margin:10%;}
.bollon-content .border_r:after{right: -2px;}
.bollon-content .border_t:after{top: -2px;}

/*管家*/
.guanjia-header{ position:relative; width:100%; height:18em; background:url(../images/guanjia/guanjia-banner.png) no-repeat center; background-size:100% 100%; color:#fff;}
.guanjia-wrap{background-color: #FFF; clear: both; width: 100%;}
.guanjia-wrap .weui_grid_icon{ width:100px; height:100px;}
.icon-news{ background:url(../images/header-icon-4.png) no-repeat top; background-size:100%;}
.icon-phone{ background:url(../images/header-icon-3.png) no-repeat top; background-size:100%;}
.guanjia-wrap .weui_grid{ padding:10px;}
/* 一像素细线 */
.border-t{ position:absolute; top:0px; left:0; width:100%; height:1px; border-bottom:1px solid #e1e1e1; -webkit-transform: scaleY(0.5); }
.border-b{ position:absolute; content:""; bottom:-1px; left:0; width:100%; height:1px;  border-top:1px solid #e1e1e1; -webkit-transform: scaleY(0.5);}
.border-r:after{position:absolute; content:""; top:0px; left:50%; width:1px; height:100%;  border-right:1px solid #e9e9e9; -webkit-transform: scaleX(0.5);}
.half-floor:after{position:absolute; content:""; top:0px; right:0; width:1px; height:100%;  border-right:1px solid #e9e9e9; -webkit-transform: scaleX(0.5);}
.up-floor:after,.down-floor:after{position:absolute; content:""; top:0px; right:0; width:1px; height:100%;  border-right:1px solid #e9e9e9; -webkit-transform: scaleX(0.5);}
.up-floor:before{position:absolute; content:""; bottom:0px; left:0; width:100%; height:1px;  border-bottom:1px solid #e9e9e9; -webkit-transform: scaleY(0.5);}

