.fl{ float: left}
.fr{ float: right}
.cl{ clear: both}
/*提货券详情 start*/
.mui-bar{ background-color: #fff}
.carry-back{color: #f35555}
.carry-title{color: #f35555}
.carry-nav{ border-bottom: 1px solid #f35555}
.carry-synopsis{ width: 100%; height: auto; overflow: hidden; background-color: #fff; padding:10px}
.carry-details-title{ font-size: 16px;color: #2f2f2f}
.shop-price{width: 100%; position: relative; height: 30px;line-height: 30px;}
.shop-price span{color: #f35555;font-size: 18px}
.shop-price span span{ font-size: 14px}
.shop-price a{ display: block; width: 30px; height: 30px;position: absolute; right: 10px; bottom: 0}
.bazaar-price{ padding: 10px 0; color: #7b7b7b; font-size: 14px}
.image-text-details{ width: 100%; height: auto; overflow: hidden; background-color: #fff; margin-top: 10px}
.image-text-details h2{ width:100%; height:30px; line-height:30px;font-size: 16px;text-align: center; color: #2f2f2f; border-bottom: 1px solid #e7e7e7}
.image-text-details p{ padding-top: 10px;}
.image-text-details p img{max-width: 100%;}
.mui-slider-indicator .mui-active.mui-indicator{ background: #f35555;box-shadow:0 0 1px 1px rgba(243,85,85,.7)}
.mui-slider-indicator .mui-indicator{background: #fff;box-shadow:0 0 1px 1px rgba(255,255,255,.7)}
/*提货券详情 end*/
/*提货记录 start*/
.proceed{ width: 100%; height: 40px; background-color: #fff; text-align: center}
.proceed a{ display: inline-block; width:15%; height: 40px; font-size:14px;line-height: 40px; text-align: center; color: #2d2d2d;}
.proceed-active{ border-bottom: 2px solid #f35555;color: #f35555 !important;}
.proceed a:last-child{ margin-left: 30%}
.record-list{ margin-top: 10px; background: none}
.record-list:before{ height: 0}
.record-list .mui-media-object{ line-height: 60px; max-width: 60px; height: 60px}
.record-list .goods-num{ color:#2f2f2f }
.goods-title{ width: 100%; height: 30px; border-bottom: 1px solid #e2e2e2; line-height: 30px; padding: 0 15px; font-size: 14px;}
.goods-list{ width: 100%; height: auto; overflow: hidden; margin-bottom: 10px; background-color: #fff;border-top: 1px solid #e2e2e2;}
.goods-list .affirm{ font-size: 15px; color: #727272; height: 40px; line-height: 40px;}
/*提货记录 end*/

/*提货信息 start*/
.shop-message{ width: 100%; height: auto; overflow: hidden; background-color: #fff; padding: 15px; position: relative}
.shop-message .shop-img{ max-width: 110px; max-height: 110px; position: absolute;}
.shop-message .shop-img img{ max-width: 110px; max-height: 110px}
.shop-message .shop-right{ padding-left: 116px}
.shop-message .shop-right h1{font-size: 16px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; height: 25px; line-height: 25px}
.shop-message .shop-right p{font-size: 14px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; height: 25px; line-height: 25px}
.shop-message .shop-right a{ padding:0 10px;display:inline-block;height: 30px; font-size: 14px; line-height:30px;float: right; border: 1px solid #f35555; color: #f35555;
 border-radius: 6px}
.affirm-lift{ width: 100%; height: auto; overflow: hidden; padding: 10px 0; border-bottom: 1px solid #e5e5e5; border-top:1px solid #e5e5e5; background-color: #fff; margin-top: 10px; text-align: center }
.affirm-lift button{border-color:#f47b7b; background-color: #f47b7b; color: #fff; border-radius: 6px; }
.relation-way{ font-size: 14px;}
.relation-way li span:first-child{  line-height: 30px;}
.relation-way li span input{ margin-bottom: 0; border:none!important; text-align: right;}
.mui-table-view-cell .fr input{border:1px  solid #cdcdcd;border-radius: 6px; height: 30px; padding-left: 10px;font-size: 12px;}
/*提货信息 end*/

/*提货券 start*/
.login{ width: 90%; height:auto; overflow: hidden; background: #fff;padding-bottom: 15px;z-index: 999; margin:30px auto 0;
    border-radius: 6px;box-shadow:0 0 10px gray}
.login img{ width: 100%}
.login ul{list-style-type: none; width: 100%; padding: 0;}
.login ul li{ width:96%; margin: 10px auto; padding: 0 10px; text-align: center}
.login ul li label{ margin-left: 2%;}
.login ul li label input{ border:1px  solid #cdcdcd;border-radius: 6px; height: 30px; width: 70%; padding-left: 10px}
.login button{ display:block; width:40%;margin: 0 auto; border: 0; background-color: #f58c43; border-radius:16px;color: #fff; height: 35px}
.hint{ width: 80%; height:auto; overflow: hidden;background-color: #fe7979; padding: 15px; text-align: center;
    border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; left: 10%; margin: 0 auto}
.hint h2{ font-size: 18px; text-align: center; color: #fff; margin-bottom: 20px}
.hint button{ width:45%;border: 0; height: 30px; border-radius: 16px;color: #f14949;}
/*提货券 end*/













