{template 'common/header'}

<ul class="nav nav-tabs">
	<li {if $operation== 'post'}class="active"{/if}><a
		href="{php echo $this->createWebUrl('agentSetting', array('name' => 'mon_house', 'op' => 'post'));}">职业顾问添加</a></li>
	<li {if $operation== 'display'}class="active"{/if}><a
		href="{php echo $this->createWebUrl('agentSetting', array('name' => 'mon_house', 'op' => 'display'));}">职业顾问管理</a></li>

</ul>
{if $operation == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form"
		enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$item['id']}" />
		<p/>




		<div class="panel panel-default">
			<div class="panel-heading">
				置业顾问设置
			</div>
			<div class="panel-body">

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 姓名：</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="gname" class="form-control"  value="{$item['gname']}" />
					</div>
				</div>



				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 楼盘：</label>
					<div class="col-sm-9 col-xs-12">
						<select name="hid"  class="form-control">
							{loop $houses $house}
							<option value="{$house['id']}" {if $house['id']==$item['hid'] }selected="selected"{/if}>{$house['title']}</option>
							{/loop}
						</select>
					</div>
				</div>



				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 联系电话：</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="tel" class="form-control"
							   value="{$item['tel']}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>工作年限：</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="workyear" class="form-control"
							   value="{$item['workyear']}" />
					</div>
				</div>


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 头像：</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('headimgurl', $item['headimgurl']);}<span><font color="red">建议大小(640*400)</font></span>
					</div>
				</div>







				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
					<div class="col-sm-9 col-xs-12">
						<input name="submit" type="submit" value="提交"
							   class="btn btn-primary span3"> <input type="hidden"
																	 name="token" value="{$_W['token']}" />
					</div>
				</div>



			</div>





		</div>







	</form>
</div>
<script type="text/javascript">
<!--
	//kindeditor($('.richtext-clone'));
//-->
</script>




{elseif $operation == 'display'}
<div class="main">


	<form action="" method="post" id="house_form">




		<div class="form-group">
			<label class="col-xs-4 col-sm-3 col-md-2 control-label">楼盘选择：</label>
			<div class="col-sm-2 col-xs-2">
				<select name="hid" id="hid" class="form-control">
					{loop $houses $house}
					<option value="{$house['id']}" {if $house['id']==$hid}selected="selected"{/if}>{$house['title']}</option>
					{/loop}
				</select>
			</div>
		</div>



	</form>


	<div style="padding: 15px;">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="min-width: 100px;">姓名</th>
					<th style="width: 180px;">头像</th>
					<th style="width: 180px;">电话</th>
					<th style="width: 180px;">工作年限</th>

					<th style="text-align: right; min-width: 300px;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>
					
						{$item['gname']}
					
					</td>
				
				
					<td><img src="{php echo $this->img()}{$item['headimgurl']}" height="100px" width="100px"></td>
				
				
					<td>{$item['tel']}</td>
					
						<td>{$item['workyear']}</td>
					

					<td style="text-align: right; width: 400px">
				
						<a
						href="{php echo $this->createWebUrl('agentSetting', array('name' => 'mon_house', 'id' => $item['id'], 'op' => 'post'))}"
						title="编辑" class="btn btn-small"><i class="glyphicon glyphicon-edit">编辑</i></a><a
						href="{php echo $this->createWebUrl('agentSetting', array('name' => 'mon_house', 'id' => $item['id'], 'op' => 'delete'))}"
						onclick="return confirm('此操作不可恢复，确认删除？');return false;" title="删除"
						class="btn btn-small"><i class="glyphicon glyphicon-remove"></i>删除</a></td>
				</tr>
				{/loop}
			</tbody>

		</table>
		{$pager}
	</div>
</div>

<script>
	$("#hid").change(function(){
		
		$("#house_form").submit();
	});
</script>
{/if} {template 'common/footer'}
