{template 'common/header'}
<div class="main">
	<form class="form-horizontal form" id="form2" action="" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">
				工具箱参数设置
			</div>
			
			<div class="panel-body">
				<h4>微信设置:</h4>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">APPID</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="appid" value="{php echo $this->module['config']['appid']}" />
					</div>
					<span class="help-block">用来发送模板消息的公众号APPID</span>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">SECRET</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="secret" value="{php echo $this->module['config']['secret']}" />
					</div>
					<span class="help-block">用来发送模板消息的公众号SECRET</span>
				</div>		
			</div>
			<hr />
			<div class="panel-body">
				<h4>短信设置:</h4>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">ACCOUNT SID</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="smsAccountSid" value="{php echo $this->module['config']['smsAccountSid']}" />
					</div>
					<span class="help-block">短信平台ACCOUNT SID</span>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">AUTH TOKEN</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="smsAuthToken" value="{php echo $this->module['config']['smsAuthToken']}" />
					</div>
					<span class="help-block">短信平台AUTH TOKEN</span>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">APP ID</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="smsAppId" value="{php echo $this->module['config']['smsAppId']}" />
					</div>
					<span class="help-block">短信平台APP ID</span>
				</div>
				<div>我们用的是这家 <a href="http://yuntongxun.com/recommend/activity?code=3yynzy8y"  target="_blank">容联云通讯平台</a>  ,妈蛋的,不知不觉又帮他们打广告了，这家短信不怎么稳定，限制也比较多，能不用，就不推荐使用，如果你有好用稳定的短信平台，也请推荐给我们，我们都换了2家了！！！！！</div>
			</div>
			<hr />
			<div class="panel-body">
				<h4>带参数二维码统计设置:</h4>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">合并统计设置:</label>
					<div class="col-sm-8">
						<textarea class="form-control" name="specialQrCodeCount" >{php echo $this->module['config']['specialQrCodeCount']}</textarea>
					</div>
					<span class="help-block">JSON格式</span>
				</div>
				<div>示例:["关键词1", "关键词2"]</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input name="token" type="hidden" value="{$_W['token']}" />
			<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
		</div>
	</form>
</div>
{template 'common/footer'}