body:after {
    display: none;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: .8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.lightbox a img {
    border: none;
}

html {
    font-family: "microsoft yahei", arial;
    font-size: 100%;
}

body {
    margin: 0;
}

li {
    list-style: none;
}

nav {
    background-color: #333;
}

nav li {
    display: inline-block;
    padding-right: 10px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

nav li a:hover,
#menuIcon:hover {
    color: #DDD;
}

#menuIcon {
    display: none;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    font-family: arial;
}

aside {
    width: 15%;
    float: left;
}

.post {
    width: 70%;
    margin: 0 auto;
    float: left;
}

.grid .item {
    width: 25%;
    height: 150px;
    background-color: #DDD;
    display: inline-block;
}

img {
    max-width: 100%;
}

@media only screen and(max-width:650px) {
    aside {
        display: none;
    }
    .post {
        width: 100%;
        float: none;
        padding: 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .grid {
        width: 100%;
    }
    .grid .item {
        width: 32%;
    }
}

@media screen and(max-width:500px) {
    nav ul {
        display: none;
        padding: 0;
        margin: 0 5px;
    }
    #menuIcon {
        display: block;
        text-align: right;
        padding: 0 5px;
        border-bottom: 1px #9c9c9c solid;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li:hover {
        background-color: #555;
    }
}

@media screen and(max-width:420px) {
    .grid .item {
        width: 100%;
        margin-bottom: 5px;
    }
}

footer {
    width: 100%;
    text-align: center;
    clear: both;
}

footer li {
    display: inline-block;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    10%,
    20% {
        -webkit-transform: scale(0.9) rotate(-5deg);
        opacity: 1;
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.3) rotate(5deg);
        opacity: 1;
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.3) rotate(-5deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
        opacity: 1;
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: scale(1);
        opacity: 1;
    }
    10%,
    20% {
        -moz-transform: scale(0.9) rotate(-5deg);
        opacity: 1;
    }
    30%,
    50%,
    70%,
    90% {
        -moz-transform: scale(1.3) rotate(5deg);
        opacity: 1;
    }
    40%,
    60%,
    80% {
        -moz-transform: scale(1.3) rotate(-5deg);
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1) rotate(0);
        opacity: 1;
    }
}

@-ms-keyframes ring {
    0% {
        -ms-transform: scale(1);
        opacity: 1;
    }
    10%,
    20% {
        -ms-transform: scale(0.9) rotate(-5deg);
        opacity: 1;
    }
    30%,
    50%,
    70%,
    90% {
        -ms-transform: scale(1.3) rotate(5deg);
        opacity: 1;
    }
    40%,
    60%,
    80% {
        -ms-transform: scale(1.3) rotate(-5deg);
        opacity: 1;
    }
    100% {
        -ms-transform: scale(1) rotate(0);
        opacity: 1;
    }
}

@keyframes ring {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    10%,
    20% {
        transform: scale(0.9) rotate(-5deg);
        opacity: 1;
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale(1.3) rotate(5deg);
        opacity: 1;
    }
    40%,
    60%,
    80% {
        transform: scale(1.3) rotate(-5deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }
}

.a-ring {
    -webkit-animation: 1s ease forwards;
    -moz-animation: 1s ease forwards;
    -ms-animation: 1s ease forwards;
    animation: 1s ease forwards;
}

.a-ring {
    -webkit-animation-name: ring;
    -moz-animation-name: ring;
    -ms-animation-name: ring;
    animation-name: ring;
}

.lb-data .lb-details {
    width: auto;
}

.lb-data .lb-number {
    display: none!important;
}

.lb-data .lb-caption {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    width: 100%;
}

.element>a>img {
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
