<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{$reply['title']}</title>
    <link href="{RES}mobile/css/bm.css?3322" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<style>
    .content .p img {max-width: 100%;}
    .hdbmxx .msbm {
        display: block;width: 100%;
        box-sizing: border-box;
        display: block;
        padding: 8px 2px 13px 2px;
        font-size: 15px;
        color: #c60402;
        border-radius: 20px;
        background: -webkit-linear-gradient(top, #ffe620, #FF8507);
        box-shadow: 0 0 0px 0 rgba(140, 2, 0, 0.6), 0 -4px 0px 0px #DA7B00 inset;
        text-align: center;
        margin-top: 5px; border:0;
    }
</style>
{php echo register_jssdk(false);}
<body>
<div class="vgy_user">
    <div class="info2">
        <a href="{php echo $this->createMobileUrl('index', array('id' => $id), true)}">
            <div class="update back"><img src="{RES}mobile/images/back_01.png"></div>
        </a>
        <a href="{php echo $this->createMobileUrl('index', array('id' => $id), true)}">
            <div class="update"><img src="{RES}mobile/images/update.png"></div>
        </a>
        <img src="{$light}" width="100%"> </div>
    <div class="content">
        <div class="details">
            <div class="text hdbmxx">
                <div class="title">
                    <span>填</span><span>写</span><span>信</span><span>息</span>
                </div>
                <section class="p">
                    <form method="post" action="">
                        <input type="hidden" name="nickname" value="孩子" >
                        {if $reply['isusername'] == 1}
                        <input type="text" id="username"  name="username" placeholder="请填入真实的姓名" />
                        {/if}
                        {if $reply['istel'] == 1}
                        <input type="tel" id="tel" name="tel" placeholder="填写您的手机号码" />
                        {/if}
                        {if $reply['isaddress'] == 1}
                        <textarea type="text" id="address" name="address" placeholder="填写您的地址" /></textarea>
                        {/if}
                        <a class="msbm">马上报名参加活动</a>

                    </form>
                </section>
            </div>
        </div>
        <div class="details">
            <div class="title">兑换流程</div>
            <div class="text">{php echo htmlspecialchars_decode($reply['rule2']);}</div>
        </div>
        <div class="details">
            <div class="title">活动规则</div>
            <div class="text">
                {php echo htmlspecialchars_decode($reply['rule']);}
            </div>
        </div>
    </div>
</div>
<footer><a href="{if !empty($reply['copyrighturl'])}{$reply['copyrighturl']}{else}#{/if}" >{if empty($reply['copyright'])}{$_W['account']['name']}{else}{$reply['copyright']}{/if}</a></footer>

<script type="text/javascript">
    $(function(){
        $(".msbm").click(function() {
            var url = "{php echo $this->createMobileUrl('reg', array('id' => $id), true)}";
            "{if $reply['isusername'] == 1}"
            var username = $('#username').val();
            if (username == '') {
                alert('请输入姓名');
                return false;
            } else {
                url += "&username=" + username;
            }
            "{/if}"
            "{if $reply['istel'] == 1}"
            var tel = $('#tel').val();
            if (tel == '') {
                alert('请输入电话');
                return false;
            } else {
                url += "&tel=" + tel;
            }
            "{/if}"
            "{if $reply['isaddress'] == 1}"
            var address = $('#address').val();
            if (address == '') {
                alert('请输入联系地址');
                return false;
            } else {
                url += "&address=" + address;
            }
            "{/if}"
            $.ajax
            ({
                url: url,
                type:'POST',
                data: {
                },
                dataType:'json',
                error: function () {
                    alert('网络通讯异常，请稍后再试！');
                },
                success: function (result) {
                    alert(result.msg);
                    setTimeout('time_jump()', 1000);
                }
            });

        });

    });

    function time_jump() {
        var url = "{php echo $this->createMobileUrl('index', array('id' => $id), true)}";
        location.href = url;
    }
</script>
<script>
    wx.ready(function () {
        sharedata = {
            title: '{$share_title}',
            desc: '{$share_desc}',
            link: '{$share_url}',
            imgUrl: '{$share_image}',
            success: function(){
                alert('感谢您的分享');
            },
            cancel: function(){
                //alert('cancel');
            }
        };
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
    });

    function time_jump() {
        var url = "{php echo $this->createMobileUrl('index', array('id' => $id), true)}";
        location.href = url;
    }
</script>
</body>
</html>
 
