<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{$reply['title']}</title>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link href="{RES}mobile/css/rule.css" rel="stylesheet" type="text/css"/>
    {php echo register_jssdk(false);}
</head>
<body>
<div class="vgy_user">
    <div class="info2">
        <a href="{php echo $this->createMobileUrl('list', array('id' => $id), true)}">
            <div class="update back"><img src="{RES}mobile/images/back_01.png"></div>
        </a>
        <a href="{php echo $this->createMobileUrl('index', array('id' => $id), true)}">
            <div class="update"><img src="{RES}mobile/images/update.png"></div>
        </a>
        <img src="{$light}" width="100%">
    </div>
    <div class="content">
        <div class="details">
            <div class="title">活动规则</div>
            <div class="text">
                {php echo htmlspecialchars_decode($reply['rule']);}
            </div>
        </div>
        <div class="details">
            <div class="title">兑换流程</div>
            <div class="text">
                {php echo htmlspecialchars_decode($reply['rule2']);}
            </div>
        </div>
        <div class="details">
            <div class="title">活动奖品</div>
            <div class="text">
                <div class="prize1">
                    <ul>
                        {php $num = 1;}
                        {loop $awardlist $item}
                        <li>
                            <div class="hdjptp">
                                <div class="jptu"><img src="{php echo tomedia($item['prizepic']);}">
                                    <p class="jpgs">{$num}</p></div>
                                <div class="jpms"><p class="jpdj">{$item['prizename']}</p>
                                    <p class="jpmc">{$item['prizetype']}{if !empty($item['prizetotal'])}(数量{$item['prizetotal']}){/if}</p></div>
                            </div>
                        </li>
                        {php $num++;}
                        {/loop}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer><a href="{if !empty($reply['copyrighturl'])}{$reply['copyrighturl']}{else}#{/if}" style="color:#ffd38c;">{if empty($reply['copyright'])}{$_W['account']['name']}{else}{$reply['copyright']}{/if}</a></footer>
</div>
<script>
    wx.ready(function () {
        sharedata = {
            title: '{$share_title}',
            desc: '{$share_desc}',
            link: '{$share_url}',
            imgUrl: '{$share_image}',
            success: function(){
                alert('感谢您的分享');
            },
            cancel: function(){
                //alert('cancel');
            }
        };
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
    });

    function time_jump() {
        var url = "{php echo $this->createMobileUrl('index', array('id' => $id), true)}";
        location.href = url;
    }
</script>
</body>
</html>
