html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color :rgba(0, 0, 0, 0); -moz-tap-highlight-color :rgba(0, 0, 0, 0);}
body {font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial; margin: 0; background-color: #fff; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch;  margin:0 auto;}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
    margin: 0;
}
ul, ol, li, dl, dd {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none outside none;
}
.wy-header{position:fixed; top:0; left:0; right:0; z-index:200;height: 44px;background:#EA3838;}
.wy-header-icon-back{position: absolute; left:0; top:0; width: 40px;height: 44px; }
.wy-header-icon-back span {width:20px;height:20px; margin: 12px 0 0 10px; background:url(../images/icon-messi-back.png) no-repeat; background-size:20px; display:block;}
.wy-header-title{margin: 0 50px;text-align: center;height: 44px;line-height: 44px;font-size: 16px; color:#fff;}

.pd-10{padding:10px;}
.font-15 {
    font-size: 15px;
}
em, s, i {
    font-style: normal;
}

.pro-items {
    margin-bottom: 1px;
    background: #fff;
}
.pro-items .weui-media-box__desc {
    line-height: 1.4;
	color: #454545;
}
.pro-items .weui-media-box_appmsg .weui-media-box__hd {
    width: 82px;
    height: 82px;
    margin-right: 10px;
}
.pro-items .wy-pro-pri {
    color: #e21323;
    font-size: 10px;
    margin-top: 3px;
    line-height: 20px;
}
.pro-items .wy-pro-pri em {
    font-weight: bold;
    margin-left: 2px;
}
.pro-items .weui-media-box__info.prolist-ul {
    margin-top: 5px;
}
.pro-items .weui-media-box__info__meta {
    float: left;
    padding-right: 1em;
}

.wy-pro-list {
    margin: 0;
    background: #f5f5f5;
}
.clear:after, .clear:before {
    clear: both;
    display: block;
    content: "";
}
.wy-pro-list li {
    width: 47%;
    float: left;
    margin-bottom: 2%;
    margin-left: 2%;
    position: relative;
    background: #fff;
}
.wy-pro-list li a {
    display: block;
}
.wy-pro-list .proimg {
    height: 47vw;
    position: relative;
}
.wy-pro-list .proimg img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: auto;
    transform-origin: 50% 50% 0px;
    transform: translate3d(-50%, -50%, 0px);
}
.wy-pro-list .protxt {
    margin-top: 5px;
    padding: 5px 8px;
}
.wy-pro-list .protxt .name {
    font-size: 10px;
    color: #454545;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	height:2.8em;
}
.wy-pro-pri {
    color: #e21323;
    font-size: 10px;
    margin-top: 3px;
    line-height: 20px;
}
.wy-pro-pri span {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3px;
    font-size: 13px;
}

.storebg{
	padding-top:20px;
	background:#EA3838;
	margin-bottom: 10px;
	padding-bottom:10px;
}

.storebg .image{
	text-align:center;
	width:86px;
	height:86px;
	margin:0 auto;
	background:#fff;
}
.storebg .image img{
	width:80px;
	height:80px;
	margin-top:3px;
}
.storebg .storename{
	text-align:center;
	color:#fff;
	font-size:18px;
	margin-top:5px;
}


.foot-black {
    height: 48px;
    clear: both;
}
.weui-tabbar.wy-foot-menu {
    position: fixed;
}
.weui-tabbar:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #c0bfc4;
    color: #c0bfc4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}