.header{
	width:7.1rem;
	height:1rem;
	line-height:1rem;
	position:fixed;
	z-index:99;
	background:#718DE7;
	color:#fff;
	padding:0 0.2rem;
	top:0;
}
.header .goback{
	font-size:0.37rem;
}
.header .headtitle{
	font-size:0.32rem;
}
.header  .headlist{
	font-size:0.37rem;
}
.header  .headdetail{
	font-size:0.37rem;
}

.form-group{
	background:#718DE7;
	padding:0.3rem;
}
.form-group .input-item{
	height:auto;
	padding:0.1rem 0.2rem;
	clear:both;
}
.form-group .input-item .height7{
	height:0.7rem;
	font-size:0.3rem;
	color:#333;
	text-align:center;
	overflow:hidden;
	font-weight:bold;
}
.form-group .input-item .lineheight{
	line-height:0.7rem;
}
.form-group .input-item select,.form-group .input-item input{
	display:block;
	height:0.7rem;
	line-height:0.7rem;
	background:#F6F6F6;
	border-radius:0.15rem;
	width:100%;
	color:#333;
	text-indent:5px;
	font-size:0.3rem;
	background:#efefef;
	border:none;
}
.form-group .input-item  textarea{
	display:block;
	height:1.5rem;
	line-height:0.6rem;
	border:none;
	background:#F6F6F6;
	border-radius:0.1rem;
	width:100%;
	color:#333;
	text-indent:5px;
	font-size:0.3rem;
}
.form-group .input-item  .radio-group,.form-group .input-item  .checkbox-group{
	width:100%;
	color:#333;
	background:#F6F6F6;
	font-size:0.28rem;
	height:0.7rem;
	line-height:0.7rem;
}
.form-group .input-item  .radio-group div,.form-group .input-item  .checkbox-group div{
	padding:0 0.2rem;
}
.form-group .input-item  .radio-group .iconfont,.form-group .input-item  .checkbox-group .iconfont{
	font-size:0.35rem;
}
.on div{color:#718DE7;}
.button-item{
	height:1rem;
	line-height:1rem;
	padding:0.1rem 0.3rem;
	position:fixed;
	z-index:99;
	background:#fff;
	font-size:0.32rem;
	bottom:0;
	width:6.9rem;
	border-top:solid 1px #f6f6f6;
}
.button-item button{
	display:block;
	border:none;
	background:#718DE7;
	color:#fff;
	height:1rem;
	line-height:1rem;
	font-size:0.32rem;
	text-align:center;
	border-radius:0.1rem;
	width:100%;
	font-weight:bold;
}
.form-group .danwei{
	position: absolute;
    float: right;
    top: 0.2rem;
    font-size: 0.3rem;
    display: block;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    padding: 0 0.2rem;
    right: 0;
}



.messimain{
	box-sizing:border-box;
	clear:both;
	display:table;
	width:100%;
}
a{
	color:#333;
}
.blur img {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.tagspan {
    border: 1px solid #ccc;
    display: inline;
    font-size: 0.25rem;
    padding: 0.03rem 0.08rem;
	margin-right:0.1rem;
	margin-bottom:0.1rem;
	margin-top:0.1rem;
}
.tagspan:nth-of-type(1) {
    border: 1px solid #e78b02;
    color: #e78b02;
}
.tagspan:nth-of-type(2) {
    border: 1px solid #01a901;
    color: #01a901;
}
.tagspan:nth-of-type(3) {
    border: 1px solid #0a8db3;
    color: #0a8db3;
}
.tagspan:nth-of-type(4) {
    border: 1px solid #ac9a01;
    color: #ac9a01;
}
.tagspan:nth-of-type(5) {
    border: 1px solid #3d2a74;
    color: #3d2a74;
}
.tagspan:nth-of-type(6) {
    border: 1px solid #2d525a;
    color: #2d525a;
}
.tagspan:nth-of-type(7) {
    border: 1px solid #2a4020;
    color: #2a4020;
}
.tagspan:nth-of-type(8) {
    border: 1px solid #332161;
    color: #332161;
}
.tagspan:nth-of-type(9) {
    border: 1px solid #5c193a;
    color: #5c193a;
}
.tagspan:nth-of-type(10) {
    border: 1px solid #523a15;
    color: #523a15;
}

.span12{width:100%;}
.span11{width:91.66666667%;}
.span10{width:83.33333333%;}
.span9{width:75%;}
.span8{width:66.66666667%;}
.span7{width:58.33333333%;}
.span6{width:50%;}
.span5{width:41.66666667%;}
.span4{width:33.33333333%;}
.span3{width:25%;}
.span2{width:16.66666667%;}
.span1{width:8.33333333%;}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12{
	float:left;
	position:relative;
	box-sizing:border-box;
}
.text-l{
	text-align:left;
}
.text-c{
	text-align:center;
}
.text-r{
	text-align:right;
}
.hide{
	display:none;
}
.blackbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.3;
    z-index: 5;
}
.tips{position: fixed;width:5.5rem;background:#D8D8D8;z-index: 5;left:1rem;bottom:20%;color:#000;}
.alerts{ width:6rem;position: fixed; top: 20%;left:0.75rem; z-index:10;background:#fff;}
.alert{ width: auto; position: relative; top: 0;}


.textellipsis1{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	white-space:nowrap;
}
.textellipsis2{
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
/*一图文列表*/
.list_messi_text_oneimg{
	width:6.9rem;
	padding:0.2rem 0.3rem;
	position:relative;
	float:left;
}
.list_messi_text_oneimg .marl{
	margin-left:0.3rem;
}
.list_messi_text_oneimg .img_item{
	width:2.3rem;
	height:1.5rem;
	float:left;
	position:relative;
	overflow:hidden;
}
.list_messi_text_oneimg img{
	max-width:2.25rem;
}
.list_messi_text_oneimg .text_item{
	float:left;
	position:relative;
	width:4.3rem;
	height:1.5rem;
}
.list_messi_text_oneimg .text_item .text_item_text{
	line-height:0.4rem;
	font-size:0.3rem;
	height:0.8rem;
}
.list_messi_text_oneimg .text_item .text_item_text_price{
	font-size:0.35rem;
	height:0.4rem;
	line-height:0.4rem;
}
.list_messi_text_oneimg .text_item .text_item_text_price .span4{
	font-size:0.25rem;
	color:#F48814;
}
.list_messi_text_oneimg .text_item .des_item{
	color:#888;
	font-size:0.3rem;
	height:0.3rem;
	line-height:0.3rem;
	margin-top:0.2rem;
}
.list_messi_text_oneimg .text_item .icon_item{
	color:#888;
	font-size:0.3rem;
	height:0.4rem;
	line-height:0.4rem;
	margin-top:0.2rem;
	color:#72B26A;
}
.list_messi_text_oneimg .text_item .user_item{
	margin-top:0.4rem;
	height:0.3rem;
	line-height:0.3rem;
	font-size:0.3rem;
}
.list_messi_text_oneimg .user_item .nickname,.list_messi_text_oneimg .user_item .createtime{
	font-size:0.22rem;
	color:#999;
	width:50%;
	float:left;
}

/*文字列表*/
.list_messi_text{
	width:6.9rem;
	padding:0.2rem 0.3rem;
	position:relative;
	float:left;
}
.list_messi_text .title{height:0.5rem;line-height:0.5rem;font-size:0.35rem;}
.list_messi_text .des{height:0.5rem;line-height:0.5rem;color:#999;font-size:0.25rem;margin-top:0.3rem;}


.messidetail1{
	background:#fff;
	padding:0.3rem;
	margin-bottom:0.2rem;
}
.messidetail1 .title{
	font-size: 0.35rem;
	line-height: 0.5rem;
	height:1rem;
}
.messidetail1 .nocollected{
	color:#ff552e;
	height: 1rem;
    line-height: 1rem;
    overflow: hidden;
}
.messidetail1 .nocollected .iconfont{
	font-size: 0.45rem;
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
}
.messidetail1 .nocollected .cangtext{
	font-size: 0.25rem;
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
}
.messidetail1 #haibao{
	color:#718de7;
	height: 1rem;
    line-height: 1rem;
    overflow: hidden;
}
.messidetail1 #haibao .iconfont{
	font-size: 0.45rem;
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
}
.messidetail1 #haibao .hbtext{
	font-size: 0.25rem;
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
}
.messidetail1 .span6{
	color:#999;
	margin-top: 0.15rem;
	font-size: 0.25rem;
	height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
}
.messidetail2{
	background:#fff;
	padding:0.2rem 0.3rem;
	margin-bottom:0.2rem;
}
.messidetail2 .title{
	color: #718DE7;
    font-size: 0.3rem;
    height: 0.6rem;
    line-height: 0.6rem;
    overflow: hidden;
	font-weight:bold;
}
.messidetail2 .content{
	font-size: 0.3rem;
	line-height:0.45rem;
}
.messidetail3{
	background:#fff;
	padding:0.2rem 0.3rem;
	margin-bottom:0.2rem;
}
.messidetail3 .title{
	color: #718de7;
    font-size: 0.3rem;
    font-weight: bold;
    height: 0.6rem;
    line-height: 0.6rem;
    overflow: hidden;
}
.messidetail3 .item{
	color:#404040;
	height: 0.75rem;
    line-height: 0.75rem;
    overflow: hidden;
	font-size:0.3rem;
}
.messidetail3 .item .iconfont{
	color: #718DE7;
	font-size: 0.4rem;
}
.messidetail4{
	background:#fff;
	padding:0.2rem 0.3rem;
	margin-bottom:0.2rem;
}
.messidetail4 .title{
	font-size: 0.3rem;
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
}
.messidetail4 .item{
	height: 0.75rem;
    line-height: 0.75rem;
    overflow: hidden;
	font-size: 0.3rem;
}
.messidetail4 .iconfont{
	color:#718DE7;
	font-size: 0.35rem;
}
.messidetail4 .con{
	font-size: 0.3rem;
}
.messidetail5{
	background:#fff;
	padding:0.2rem 0.3rem;
	margin-bottom:0.2rem;
}
.messidetail5 .item{
	font-size: 0.3rem;
	height: 0.6rem;
    line-height: 0.6rem;
    overflow: hidden;
}
.messidetail7,.messidetail8{
	background:#fff;
	padding:0.2rem 0.3rem;
	margin-bottom:0.2rem;
}
.messidetail7 .item,.messidetail8 .item{
	font-size: 0.3rem;
	height: 0.75rem;
    line-height: 0.75rem;
    overflow: hidden;
}
.messidetail7 .item .bold,.messidetail8 .item .bold{
	font-weight:bold;
}
.messidetail6{
	background:#fff;
	padding:0.2rem 0.3rem;
	border-top:solid 1px #ebebeb;
	height: 1.4rem;
    line-height: 1.4rem;
    overflow: hidden;
}
.messidetail6 .span8,.messidetail6 .span2{
	height: 1rem;
    line-height: 1rem;
    overflow: hidden;
}
.messidetail6 .span8 .span12{
	font-size: 0.25rem;
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
}
.messidetail6 .span8 .phone{
	color: #ff552e;
	font-size: 0.4rem;
}
.messidetail6 .dotel{
	color: #24B9EC;
	font-size: 0.65rem;
}
.messidetail6 .dochat{
	color: #51C332;
	font-size: 0.65rem;
}