{template 'public/header'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">
                站长设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">功能名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="site_title" value="{if empty($config)}一秒广告™{else}{$config['site_title']}{/if}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label text-danger">版本名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="site_version" value="{if empty($config)}商业版{else}{$config['site_version']}{/if}" class="form-control"/>
                        <div class="help-block"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="保存设置" class="btn btn-primary col-lg-3" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
	</form>
</div>
{template 'common/footer'}