{template 'public/header'}
<link rel="stylesheet" href="{$_W['siteroot']}addons/weisrc_quickad/public/web/css/back.css">
<link rel="stylesheet" href="{$_W['siteroot']}addons/weisrc_quickad/public/web/css/style.css?v=1.1">
<!--<link href="http://www.zi-han.net/theme/hplus/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">-->
<!--<script src="http://www.zi-han.net/theme/hplus/js/plugins/gritter/jquery.gritter.min.js"></script>-->

<style>
    h2{
        font-size: 24px;
    }
</style>
{if $operation == 'display'}
<div class="clearfix">
    <!--<div id="gritter-notice-wrapper">-->
        <!--<div id="gritter-item-1" class="gritter-item-wrapper" style="" role="alert">-->
            <!--<div class="gritter-top"></div>-->
            <!--<div class="gritter-item"><a class="gritter-close" href="#" tabindex="1" style="display: none;">Close-->
                <!--Notification</a>-->
                <!--<div class="gritter-without-image"><span class="gritter-title">您有2条未读信息</span>-->
                    <!--<p>请前往<a href="mailbox.html" class="text-warning">收件箱</a>查看今日任务</p></div>-->
                <!--<div style="clear:both"></div>-->
            <!--</div>-->
            <!--<div class="gritter-bottom"></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                    <span class="label label-success pull-right">今天</span>
                    <h5>收入</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$today_order_price}元</h1>

                    <div class="stat-percent font-bold text-success">{if $today_order_price !=0 &$total_order_price!=0}{php echo sprintf('%.2f',$today_order_price/$total_order_price);}{else}0.00{/if}%<i class="fa fa-bolt"></i>
                    </div>
                    <small>总收入</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>订单</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$today_order_count}单</h1>

                    <div class="stat-percent font-bold text-info">{if $today_order_count !=0 & $total_order_count!=0}{php echo sprintf('%.2f', $today_order_count/$total_order_count);}{else}0{/if}%<i
                                class="fa fa-bolt"></i>
                    </div>
                    <small>占总订单</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                    <span class="label label-primary pull-right">今天</span>
                    <h5>访客统计</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{$today_fans_count}人</h1>

                    <div class="stat-percent font-bold text-navy">{if $today_fans_count !=0 & $total_fans_count !=0}{php
                        echo sprintf('%.2f', $today_fans_count/$total_fans_count);}{else}0.00{/if}%<i
                                class="fa fa-bolt"></i>
                    </div>
                    <small>占总访客</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-color: #e7eaec;border-style: solid solid none;">
                    <span class="label label-danger pull-right">今天</span>
                    <h5>文章统计</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{if !empty($today_article_count)}{$today_article_count}{else}0{/if}篇</h1>

                    <div class="stat-percent font-bold text-danger">{if !empty($today_article_count)}{php echo sprintf('%.2f', $today_article_count/$total_article_count);}%{else}0.00%{/if}<i class="fa fa-bolt"></i>
                    </div>
                    <small>占总数量</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单</h5>
                    <div class="pull-right">
                        <div class="btn-group">
                            <!--<button type="button" class="btn btn-xs btn-white active">天</button>-->
                            <button type="button" class="btn btn-xs btn-white">月</button>
                            <!--<button type="button" class="btn btn-xs btn-white">年</button>-->
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="flot-chart" id="flot-dashboard-chart">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins ">{$month_order_price}</h2>
                                    <small>最近一个月销售额</small>
                                    <div class="stat-percent">{if $month_order_price !=0 &$total_order_price!=0}{php echo sprintf('%.2f',$month_order_price/$total_order_price);}{else}0.00{/if}% <i class="fa fa-bolt text-navy"></i>
                                    </div>
                                    <div class="progress progress-mini">
                                        <div style="width: {if $month_order_price !=0 &$total_order_price!=0}{php echo sprintf('%.2f',$month_order_price/$total_order_price);}{else}0.00{/if}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">{$month_order_count}</h2>
                                    <small>最近一个月订单</small>
                                    <div class="stat-percent">{if $month_order_count !=0 & $total_order_count!=0}{php echo sprintf('%.2f', $month_order_count/$total_order_count);}{else}0{/if}% <i class="fa fa-bolt text-navy"></i>
                                    </div>
                                    <div class="progress progress-mini">
                                        <div style="width: {if $today_order_count !=0 & $total_order_count!=0}{php echo sprintf('%.2f', $month_order_count/$total_order_count);}{else}0{/if}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins">{$vipcount}</h2>
                                    <small>VIP用户数</small>
                                    <div class="stat-percent">{if $vipcount !=0 & $total_fans_count!=0}{php echo sprintf('%.2f', $vipcount/$total_fans_count);}{else}0{/if}% <i class="fa fa-bolt text-navy"></i>
                                    </div>
                                    <div class="progress progress-mini">
                                        <div style="width: {if $vipcount !=0 & $total_fans_count!=0}{php echo sprintf('%.2f', $vipcount/$total_fans_count);}{else}0{/if}%;" class="progress-bar"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" action="" method="post" onkeydown="if(event.keyCode == 13) return false;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-text-center">
                                <thead class="navbar-inner">
                                <tr>
                                    <th width="300">时间</th>
                                    <th>营业额</th>
                                    <th>订单数</th>
                                    <th>在线支付</th>
                                    <th>现金支付</th>
                                    <!--<th>查看详情</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                {loop $return $k $dca}
                                <tr>
                                    <th>{$k}</th>
                                    <td>{php echo sprintf('%.2f', $dca['totalprice']);} 元</td>
                                    <td>{php echo intval($dca['count']);} 单</td>
                                    <td>{php echo sprintf('%.2f', $dca['1']);} 元</td>
                                    <td>{php echo sprintf('%.2f', $dca['2']);} 元</td>
                                    <!--<td>-->
                                    <!--<a href="#" class="btn btn-success" target="_blank">详情</a>-->
                                    <!--</td>-->
                                </tr>
                                {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="{$_W['siteroot']}addons/weisrc_quickad/public/web/js/jquery.flot.js?v=2.1.4"></script>
<script src="{$_W['siteroot']}addons/weisrc_quickad/public/web/js/echarts-all.js?v=2.1.4"></script>
<script>
    $(document).ready(function () {
        //订单数
        var data2 = {$data2};
        //付款数
        var data3 = {$data3};

        var dataset = [{
            label: "订单数",
            data: data2,
            color: "#1ab394",
            bars: {show: true, align: "center", barWidth: 24 * 60 * 60 * 600, lineWidth: 0}
        }, {
            label: "付款数",
            data: data3,
            yaxis: 2,
            color: "#464f88",
            lines: {lineWidth: 1, show: true, fill: true, fillColor: {colors: [{opacity: 0.2}, {opacity: 0.2}]}},
            splines: {show: false, tension: 0.6, lineWidth: 1, fill: 0.1}
        }];
        var options = {
            xaxis: {
                mode: "time",
                tickSize: [3, "day"],
                tickLength: 0,
                axisLabel: "Date",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Arial",
                axisLabelPadding: 10,
                color: "#838383"
            },
            yaxes: [{
                position: "left",
                max: 100,
                color: "#838383",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: "Arial",
                axisLabelPadding: 3
            }, {
                position: "right",
                clolor: "#838383",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: " Arial",
                axisLabelPadding: 67
            }],
            legend: {noColumns: 1, labelBoxBorderColor: "#000000", position: "nw"},
            grid: {hoverable: false, borderWidth: 0, color: "#838383"}
        };

        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }

        $.plot($("#flot-dashboard-chart"), dataset, options);
    });
</script>
{/if}
{template 'common/footer'}