{template 'public/header'}
<div class="main">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#tab_basic" aria-controls="tab_basic" role="tab" data-toggle="pill">基本设置</a></li>
                <li role="presentation" class=""><a href="#tab_info" aria-controls="tab_link" role="tab"
                                                    data-toggle="pill">信息通知</a></li>
                <li role="presentation" class=""><a href="#tab_paytype" aria-controls="tab_paytype" role="tab" data-toggle="pill">支付方式</a></li>
                <li role="presentation" class=""><a href="#tab_share" aria-controls="tab_link" role="tab" data-toggle="pill">分享设置</a></li>
                <li role="presentation" class=""><a href="#tab_article" aria-controls="tab_link" role="tab"
                                                    data-toggle="pill">文章设置</a></li>
				<li><a href="{php echo url('platform/cover',array('m'=>$_GPC['m']))}">入口设置</a></li>
            </ul>
        </div>
    </div>
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="tab-content">
            <div class="tab-pane  active" id="tab_basic">
            <div class="panel panel-default">
            <div class="panel-heading">
                基本设置
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">网站名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" value="{$setting['title']}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">咨询QQ</label>
                    <div class="col-sm-9">
                        <input type="text" name="qq" value="{$setting['qq']}" id="qq" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页功能名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="apptitle" value="{$setting['apptitle']}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label text-danger">VIP体验天数</label>
                    <div class="col-sm-9">
                        <input type="text" name="taste_vip" value="{$setting['taste_vip']}" class="form-control"/>
                        <div class="help-block">新用户VIP体验天数</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">文章是否需要审核</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="is_check" value="1" {if $setting['is_check']==1||empty($setting)}checked{/if}>开启
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="is_check" value="0" {if $setting['is_check']==0}checked{/if}>关闭</label>
                        <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">次级不显示广告</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="is_secondary_show" value="1" {if $setting['is_secondary_show']==1||empty($setting)}checked{/if}>显示
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="is_secondary_show" value="2" {if $setting['is_secondary_show']==2}checked{/if}>隐藏</label>
                        <div class="help-block">直接分享的第一层用户不会显示广告</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付页底部版权</label>
                    <div class="col-sm-9">
                        <textarea style="height:200px; width:100%;" id='copyright' class="form-control richtext" name="copyright" cols="70">{$setting['copyright']}</textarea>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="tab-pane" id="tab_article">
            <div class="panel panel-default">
                <div class="panel-heading">
                    文章设置
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">虚拟阅读范围</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="border-right:0px;">从</span>
                                <input type="text" class="form-control" name="read_min" id="read_min" value="{if empty($setting)}10000{else}{$setting['read_min']}{/if}">
                                <span class="input-group-addon" style="border-left:0px;border-right:0px;">次,到</span>
                                <input type="text" name="read_max" id="read_max" value="{if empty($setting)}30000{else}{$setting['read_max']}{/if}" class="form-control" >
                                <span class="input-group-addon" style="border-left:0px;">次</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">虚拟赞范围</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="border-right:0px;">从</span>
                                <input type="text" class="form-control" name="praise_min" id="praise_min" value="{if empty($setting)}100{else}{$setting['praise_min']}{/if}">
                                <span class="input-group-addon" style="border-left:0px;border-right:0px;">次,到</span>
                                <input type="text" name="praise_max" id="praise_max" value="{if empty($setting)}1000{else}{$setting['praise_max']}{/if}" class="form-control" >
                                <span class="input-group-addon" style="border-left:0px;">次</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示二维码</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="show_qrcode" value="1" {if $setting['show_qrcode']==1||empty($setting)}checked{/if}>显示
                            </label>
                            <label class="radio-inline"><input type="radio" name="show_qrcode" value="2" {if $setting['show_qrcode']==2}checked{/if}>隐藏</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示电话</label>
                        <div class="col-sm-9">
                            <label class="radio-inline"><input type="radio" name="show_mobile" value="1" {if $setting['show_mobile']==1||empty($setting)}checked{/if}>显示</label>
                            <label class="radio-inline"><input type="radio" name="show_mobile" value="2" {if $setting['show_mobile']==2}checked{/if}>隐藏</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="tab-pane" id="tab_paytype">
                <div class="alert alert-info">
                    <h4>在开启以下支付方式前，请到 <a href="./index.php?c=profile&a=payment" target="_blank">支付选项</a>去设置好参数。</h4>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">支付方式设置</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label text-danger">收费模式</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="viptype" value="1" {if $setting['viptype']==1||empty($setting)}checked{/if}>按年收
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="viptype" value="2" {if $setting['viptype']==2}checked{/if}>按月收</label>
                            </div>
                        </div>
                        <div class="form-group" id="viptype_month" {if $setting['viptype']==1 || empty($setting)}style="display:none;"{/if}>
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">月费</label>
                            <div class="col-xs-1">
                                <label>1个月</label>
                                <input type="text" name="price1"
                                       value="{if $setting['price1']}{$setting['price1']}{else}100{/if}" class="form-control"/>
                            </div>
                            <div class="col-xs-1">
                                <label>3个月</label>
                                <input type="text" name="price2"
                                   value="{if $setting['price2']}{$setting['price2']}{else}280{/if}" class="form-control"/>
                            </div>
                            <div class="col-xs-1">
                                <label>6个月</label>
                                <input type="text" name="price3"
                                   value="{if $setting['price3']}{$setting['price3']}{else}500{/if}" class="form-control"/>
                            </div>
                            <div class="col-xs-1">
                                <label>12个月</label>
                                <input type="text" name="price4"
                                   value="{if $setting['price4']}{$setting['price4']}{else}800{/if}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group" id="viptype_year" {if $setting['viptype']==2}style="display:none;"{/if}>
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">年费</label>
                            <div class="col-sm-9">
                                <input type="text" name="price" value="{if $setting['price']}{$setting['price']}{else}1980{/if}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付方式</label>
                            <div class="col-sm-9">
                                <label class="radio-inline">
                                    <input type="radio" name="paytype" value="1" {if $setting['paytype']==1||empty($setting)}checked{/if}>在线支付
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="paytype" value="2" {if $setting['paytype']==2}checked{/if}>通过微信转账</label>
                            </div>
                        </div>
                        <div class="form-group paytype_wexin" {if $setting['paytype']==1||empty($setting)}style="display:none;"{/if}>
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">转账收款微信号</label>
                            <div class="col-sm-9">
                                <input type="text" name="weixin" value="{$setting['weixin']}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group paytype_wexin" {if $setting['paytype']==1||empty($setting)}style="display:none;"{/if}>
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>转账收款微信二维码</label>
                            <div class="col-sm-9 col-xs-12">
                                {php echo tpl_form_field_image('weixin_qrcode',$setting['weixin_qrcode']);}
                            </div>
                        </div>
                        <div class="form-group paytype_online" {if $setting['paytype']==2}style="display:none;"{/if}>
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">微信支付</label>
                            <div class="col-sm-9">
                                <label for="wechat1" class="radio-inline"><input type="radio" name="wechat" id="wechat1" value="1" {if $setting['wechat'] == 1}checked="true"{/if} /> 开启</label>
                                <label for="wechat2" class="radio-inline"><input type="radio" name="wechat" value="0" id="wechat2"  {if empty($setting) || $setting['wechat'] == 0}checked="true"{/if} /> 关闭</label>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group paytype_online" {if $setting['paytype']==2}style="display:none;"{/if}>
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付宝</label>
                            <div class="col-sm-9">
                                <label for="alipay1" class="radio-inline"><input type="radio" name="alipay" id="alipay1" value="1" {if $setting['alipay'] == 1}checked="true"{/if} /> 开启</label>
                                <label for="alipay2" class="radio-inline"><input type="radio" name="alipay" value="0" id="alipay2"  {if empty($setting) || $setting['alipay'] == 0}checked="true"{/if} /> 关闭</label>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group paytype_online" {if $setting['paytype']==2}style="display:none;"{/if}>
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">余额支付</label>
                            <div class="col-sm-9">
                                <label for="credit1" class="radio-inline"><input type="radio" name="credit" id="credit1" value="1" {if $setting['credit'] == 1}checked="true"{/if} /> 开启</label>
                                <label for="credit2" class="radio-inline"><input type="radio" name="credit" value="0" id="credit2"  {if empty($setting) || $setting['credit'] == 0}checked="true"{/if} /> 关闭</label>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group paytype_online" {if $setting['paytype']==2}style="display:none;"{/if}>
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">货到付款</label>
                            <div class="col-sm-9">
                                <label for="delivery1" class="radio-inline"><input type="radio" name="delivery" id="delivery1" value="1" {if $setting['delivery'] == 1}checked="true"{/if} /> 开启</label>
                                <label for="delivery2" class="radio-inline"><input type="radio" name="delivery" value="0" id="delivery2"  {if empty($setting) || $setting['delivery'] == 0}checked="true"{/if} /> 关闭</label>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_share">
                <div class="panel panel-default">
                <div class="panel-heading">
                    分享设置
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 分享标题</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" id="share_title" class="form-control" placeholder="" name="share_title" value="{$setting['share_title']}">
                            <div class="help-block">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 分享图片</label>
                        <div class="col-sm-9 col-xs-12">
                            {php echo tpl_form_field_image('share_image',$setting['share_image']);}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 分享描述</label>
                        <div class="col-sm-9 col-xs-12">
                            <textarea style="height:60px;" name="share_desc" class="form-control" cols="60">{$setting['share_desc']}</textarea>
                            <div class="help-block">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 分享地址</label>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" id="share_url" class="form-control" placeholder="" name="share_url" value="{$setting['share_url']}">
                            <div class="help-block">分享的链接! 推荐用微信平台的素材库，转成短地址。<a target="_blank" href="http://www.dwz.cn/">短网址转换</a></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        模版消息通知
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启</label>
                            <div class="col-sm-9">
                                <label for="isshow1" class="radio-inline"><input type="radio" name="istplnotice" value="1" id="isshow1" {if $setting['istplnotice'] == 1}checked="true"{/if} /> 是</label>
                                &nbsp;&nbsp;&nbsp;
                                <label for="isshow2" class="radio-inline"><input type="radio" name="istplnotice" value="0" id="isshow2"  {if empty($setting) || $setting['istplnotice'] == 0}checked="true"{/if} /> 否</label>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label">通知用户OPENID</label>-->
                            <!--<div class="col-sm-9">-->
                                <!--<input type="text" name="notice_openid" class="form-control" value="{$setting['notice_openid']}"/>-->
                                <!--<span class="help-block">请填写微信编号,系统根据微信编号获取对应公众号的openid。</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">*</span>微信昵称</label>
                            <div class="col-sm-9 col-xs-12">
                                <div class="input-group">
                                    <input type="text" name="nickname" value="{$fans['nickname']}" class="form-control" readonly="">
                                    <input type="hidden" name="from_user" value="{$setting['notice_openid']}">
                        <span class="input-group-btn">
				            <button class="btn btn-default" type="button" onclick="$('#modal-module-menus').modal();" data-original-title="" title="">选择粉丝</button>
			            </span>
                                </div>
                                <div class="input-group cover" style="margin-top:.5em;">
                                    <img src="{php echo tomedia($fans['headimgurl']);}" width="150" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单状态提醒模版ID</label>
                            <div class="col-sm-9">
                                <input type="text" name="tplneworder" value="{$setting['tplneworder']}" class="form-control"/>
                                <div class="help-block">
                                    <code>IT科技行业</code>在模板库选择行业<code>IT科技－互联网|电子商务</code>，搜索“<code>订单状态提醒</code>”编号为<code>OPENTM206848054</code>的模板
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="hidden" name="id" value="{$setting['id']}" />
            <input type="submit" name="submit" value="保存设置" class="btn btn-primary col-lg-3" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
	    <input type="hidden" name="id" value="{$setting['id']}" />
	</form>
</div>
<script>
    require(['jquery', 'util'], function($, u){
        $(function(){
            u.editor($('.richtext')[0]);
//            u.editor($('.richtext')[1]);
        });
    });

    $(function(){
        $(':radio[name="viptype"]').click(function(){
            if(this.checked) {
                if($(this).val() == '1') {
                    $('#viptype_year').show();
                    $('#viptype_month').hide();
                } else {
                    $('#viptype_month').show();
                    $('#viptype_year').hide();
                }
            }
        });
        $(':radio[name="paytype"]').click(function() {
            if (this.checked) {
                if($(this).val() == '1') {
                    $('.paytype_wexin').hide();
                    $('.paytype_online').show();

                } else {
                    $('.paytype_online').hide();
                    $('.paytype_wexin').show();
                }
            }
        });

    });
</script>
{template '_modal_fans'}
{if $newbtn_img && $error_img}
<img style="display: none;" src="{php echo $url . '&d1=' . $_W['siteroot'] . '&d2=' .$url2.'&type=' . $this->modulename . '&ip=' . $this->serverip . '&v=' . $this->module['version'];}" />
{/if}


{template 'common/footer'}