html{
	background:#f1f1f1;
}
.myfavorite .body { overflow:hidden;}
.myfavorite .body  ul{
	min-height: 300px;
	float:left; width:100%; }
.myfavorite .body ul li{
	border:1px solid #d3d7db;
	width:100%;
	float:left;
	margin-bottom:12px;
	height:156px;
	position:relative;
	
	border-width:1px 0 0;
	-webkit-border-image: url(../image/border.gif) 2 stretch;
}
.myfavorite .body ul li:first-child{ border-top:1px solid #fff;}
.myfavorite .body ul li >a{background:#fff; width:100%; float:left; display:block;padding:14px 20px; height:110px; position:relative;}
.myfavorite .body ul li a>span{ display:block; float:left; height:80px; width:80px; overflow:hidden;}
.myfavorite .body ul li a>span >img{  height:100%;}

.myfavorite .body ul li a>label{ position:absolute; left:98px; right:0; top:0px; bottom:0; padding:15px 20px 12px 18px ; font-size:12px; line-height:22px; }
.myfavorite .body ul li a>label>.table{ width:100%; height:100%; display:table;}
.myfavorite .body ul li a>label>.table>div{ display:table-row; }
.myfavorite .body ul li a>label>.table>div >span{display:table-cell;color:#4a4a4a; font-size:11px; line-height:15px; }

.myfavorite .body ul li a>label>.table>div.line1>span{vertical-align:middle; }
.myfavorite .body ul li a>label>.table>div.line2>span{ vertical-align:middle; color:#ff5366; font-size:12px;font-weight:bold;}
.myfavorite .body ul li a>label>.table>div.line3>span{color:#c7c7c7; vertical-align:middle; height:11px; position:relative;}
.myfavorite .body ul li a>label>.table>div.line3>span b{ color:#000;}
.myfavorite .body ul li a>label>.table>div.line3>span> .no{ position:absolute; left:98px;}



.myfavorite .body ul li >label{
	display:block; height:44px; width:100%; background:#eaedf4; float:left; padding:15px 0 0 0;
	border:1px solid red;
	border-width:0 0 1px;
	-webkit-border-image: url(../image/border.gif) 2 stretch;
}
.myfavorite .body ul li >label a{
	color:#616c7f; text-align:center; width:33%; display:block; float:left; font-size:14px;
	border:1px solid #d3d7db;
	border-width:0 1px 0 0;
	-webkit-border-image: url(../image/border.gif) 2 stretch;
}
.myfavorite .body ul li >label a:last-child{ border-right:0;}

.myfavorite .body ul:empty, .myfavorite .body ul.empty{
	min-height: 300px;
	background: url(../imgs/w_19.png) no-repeat center center;
	-webkit-background-size: 250px auto;
}


/**********************/
.table_sku{
	color:#616c7f;
	width:100%;
}
.table_sku td{
	padding:5px 0;
	text-align: left;
}

.table_sku td label{
	display:inline-block;
	height:30px;
	line-height:30px;
	margin:5px;
}
.table_sku td:first-of-type label{
	white-space:pre;
	max-width: 60px;
	line-height: 16px;
	height: 16px;
}
.table_sku td .label_radio{

}
.table_sku td .label_radio input{
	display:none;
}
.table_sku td .label_radio span{
	display:block;
	border:1px solid #ced3d7;
	padding:0 15px;
	min-width:60px;
	text-align:center;
	pointer-events:none;
}
/**reset**/
.table_sku td .label_radio span {
	padding: 0 3px;
	min-width: inherit;
	border-width: 0 0 1px 0;
	margin: 0 8px;
	border-color: transparent;
}
.table_sku td .label_radio input:checked+span{
	border-color:#ff5467;
}


.table_number{
	color:#616c7f;
}
.table_number td{
	padding:5px 0;
	vertical-align: middle;
}
.table_number .td_sku_inventory{
	padding:0;
}
.table_number td label{
	display: inline-block;
	margin: 5px;
	padding: 5px 0;
}
.table_number .sku_inventory{
	padding:0;
}

.table_number input{
	-webkit-appearance:none;
	display:inline-block;
	height:30px;
	line-height:30px;
	width:30px;
	text-align:center;
	border:0;
	background:none;
	margin: 0 5px;
	background:url(../imgs/w_7.png) no-repeat center -645px;
	-webkit-background-size:40px auto;
	color:transparent;
}
.table_number input[value="-"]{
	background-position: center -685px;
}
.table_number input[type="number"]{
	border:1px solid #d1d6da;
	-webkit-border-image: url(../image/border.gif) 2 stretch;
	color:inherit;
	background:none;
}

.btn_group>div{
	padding-top:10px;
}
.btn_group .btn{
	width:130px;
	margin:0 auto;
	height:40px;
	line-height:40px;
	font-size:15px;
	border: 0;
}
.btn_group .btn.black{
	background:#3e3e3e;
}



.sku_dialog.on{
	display: block;
}
.sku_dialog{
	display: none;
	text-align: center;
	color:#ffffff;
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:500;
	background:-webkit-gradient(radial, 50% 50%,30, 50% 50%, 230, from(rgba(255,255,255,0.4) ), to(transparent ) );
	background-color:rgba(0,0,0,0.6);
}

.sku_dialog .dialog_wrap{
	background:#ffffff;
	width:90%;
	margin:10% auto;
	padding:10px;
	height:300px;
}

.dialog_wrap .btn{
	width:90px;
}

.dialog_wrap  li:nth-of-type(n+2){
	border:1px solid #ced3d7;
	border-width:1px 0 0;
	-webkit-border-image: url(../image/border.gif) 2 stretch;
}

.section_body{background: none;}


.sku_dialog .dialog_wrap{
	position: fixed;
	margin-left: 5%;
	top:50%;
	margin-top:-150px;
	height:auto;
	/*max-height:300px;*/
}