*{-webkit-box-sizing: border-box;; margin:0; padding:0}
.body{max-width:640px;margin:auto;min-height:100%;	position:relative;	display:block;	background-size:100% 100%;	-webkit-box-sizing: border-box;	padding:0 0 70px;;	background-color:#24232b;}

.body header{ border-bottom:1px solid #18171c;  box-shadow:0 0 25px #18171c; height:200px; padding:20px 15px 0;}
.body  .section_body{ padding:20px 20px 10px 20px;}
.list li{float:left;	width:33%; padding:5px;  }
.list li div{ width:100%; height:100%;  border:1px solid #2c2c34; box-shadow:0 0 5px #2c2c34; position:relative;}
.list li div span{ display:block; position:absolute; left:0; right:15px; bottom:15px; color:#fff; background:#000; line-height:30px; height:30px; text-align:center;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.list li img{ width:100%;border-radius:2px; }