html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
	background-color: #F0EFEF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}
/*cate22*/
#cate22{background-color: #F0EFEF;overflow-x: hidden; margin:0 auto;}
#cate22 .banner img{
	width:100%;
}
#cate22 .mainmenu {
	padding:5px 5px 0 0;
}
#cate22 .mainmenu ul{
width: 100%;
}
#cate22 .mainmenu li {
height: 100px;
position: relative;
margin: 0 0 7px 7px;
-webkit-box-flex: 1;
-moz-box-flex: 1;
box-flex: 1;
width: 47.5%;
float: left;
}
#cate22 .mainmenu .menuimg {
position: absolute;
z-index: 9;
top: 15px;
left: 50%;
margin-left: -20px;
width: 60px;
height: 60px;
overflow:hidden;
}
#cate22 .mainmenu .menuimg  img{
width: 100%;
}
#cate22 .mainmenu li .menutitle{
position: absolute;
left: 10px;
bottom: 10px;
width: 40px;
font: 500 18px/1 hei;
color: #fff;
}

#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(1){
        background-color:#36A1DB;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(2){
        background-color:#81B637;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(3){
        background-color:#E57E22;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(4){
        background-color:#7E54DC;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(5){
        background-color:#678FCF;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(6){
        background-color:#E3B607;
}

#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(7){
        background-color:#fd9e0c;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(8){
        background-color:#00B699;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(9){
        background-color:#034e78;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(10){
        background-color:#d43316;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(11){
        background-color:#2cb9b3;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(12){
        background-color:#436773;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(13){
        background-color:#037863;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(14){
        background-color:#2bba67;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(15){
        background-color:#B88E2C;
}
#cate22 .mainmenu ul:nth-child(8n+1) li:nth-child(16){
        background-color:#844F00;
}
