body {background-color: #33373e; font-family:Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;}
	img {width: 100%;}
	a:hover {color: white;}
	.news {display: block; margin: auto; height: 60px; text-decoration: none; /*background-color: #ee272e;*/ color: #f8f8f8; text-indent: 16px; border-radius: 0px 4px 4px 0px; margin-top: 1px;}
	.news:nth-child(5n+1) {background-color: #ee272e;}
	.news:nth-child(5n+2) {background-color: #f68630;}
	.news:nth-child(5n+3) {background-color: #79c143;}
	.news:nth-child(5n+4) {background-color: #53c5d0;}
	.news:nth-child(5n+5) {background-color: #695136;}
	.text {width: 50%; display: inline-block;}
	.news h1 {font-size: 20px; line-height:60px;}
	.icon {float: right; margin-top: 17px; margin-right: 25px; width: 28px; height: 28px;}
	.icon img{width:100%;}
    .contact{ height: 60px; width: 100%; text-align:center;}
    .contact a{ width:294px; background: rgba(187,187,187,0.5); margin-top:13px; display:block;  height:44px; margin-left:auto; margin-right:auto;  -webkit-border-radius: 24px; -moz-border-radius: 24px; border-radius: 24px; color:#fff; font-weight:bold; font-size:2em; line-height:44px; }
	@media (min-width:360px)
	{
		.icon {margin-top: 12px; margin-right: 25px; width: 37px; height: 37px;}
	}
	.clear{clear: both;}