body,div,dl,dt,dd,p,ul,li,ol,h1,h2,h3,h4,h5,h6,form, fieldset, legend, p, blockquote, th, td {margin: 0px; padding:0px;}
body {font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;}
UL,LI,OL{list-style-type: none;}
IMG{ border-style:none; vertical-align: top;}
*{outline: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a{text-decoration: none;  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);}
/* ------ button start ------- */
button,input[type='button'],a.button,a.button-blue,a.button-green,a.button-pink,a.button-red,a.button-orange{font-size:14px; font-weight:normal; padding: 5px 10px;}
button,input[type=button],a.button,a.button-blue,a.button-green,a.button-pink,a.button-pink_8_15,a.button-pink_10_20,a.button-red,a.button-orange{cursor: pointer; border:0 rgba(0,0,0,0); text-decoration:none; border-radius:2px; -webkit-font-smoothing:antialiased; -webkit-transition:.1s linear -webkit-box-shadow; -moz-transition:.1s linear -moz-box-shadow; -ms-transition:.1s linear box-shadow; -o-transition:.1s linear box-shadow; transition:.1s linear box-shadow;}

button,input[type=button],a.button,a.button-blue,a.button-green,a.button-pink,a.button-pink_8_15,a.button-pink_10_20,a.button-red,a.button-orange{display:inline-block; *display:inline; zoom:1; white-space:nowrap; text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
button::-moz-focus-inner{padding:0;border:0}

button,input[type=button],a.button{background: rgb(0, 138, 227); color:#fff;}
input[type=button]{-webkit-appearance:button; *overflow:visible}

button:hover,button:focus,input[type=button]:hover,input[type=button]:focus,a.button:hover,a.button:focus,a.button-blue:hover,a.button-green:hover,a.button-pink:hover,a.button-red:hover,a.button-orange:hover,a.button-blue:focus,a.button-green:focus,a.button-pink:focus,a.button-pink_8_15:focus,a.button-pink_10_20:focus,a.button-red:focus,a.button-orange:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));background-image:-ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}

.button-blue,a.button-blue{color: white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background: rgb(66, 184, 221);}
.button-save,a.button-save{color: white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background: #49bf67;}
.button-orange,a.button-orange{color: white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background: #f8a326;}
.button-green,a.button-green{color: white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background: #49bf67; }
.button-pink,a.button-pink{color:white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background:#EE5871;}
.button-pink_8_15,a.button-pink_8_15{ padding: 8px 15px; color:white; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background:#EE5871; font-size: 1.2em;}
.button-pink_10_20,a.button-pink_10_20{color:white; padding: 10px 20px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background:#EE5871; font-size: 1.2em;}
.button-green_10_20,a.button-green_10_20{color: white; font-size:1.6em; padding: 10px 20px;  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);background: #49bf67;}

a.button,a.button-blue:hover,a.button-orange:hover,a.button-green:hover,a.button-pink:hover,a.button-pink_8_15:hover,a.button-pink_10_20:hover,a.button-green_10_20:hover{color:#ffffff; text-decoration:none;}
/* ------ button end ------- */

/* ------ select start ------- */
select,button,input{line-height:normal; font-family:sans-serif; text-transform:none; margin:0; vertical-align:baseline; *vertical-align:middle;}
select{padding:.17em .2em; display:inline-block; border:1px solid #ccc; font-size:1em; box-shadow:inset 0 1px 3px #ddd;border-radius:4px; -webkit-transition:.3s linear border; -moz-transition:.3s linear border; -ms-transition:.3s linear border; -o-transition:.3s linear border; transition:.3s linear border; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-font-smoothing:antialiased}
select{font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; font-size:14px;}
select[disabled],select[readonly],button[disabled],button[readonly]{ursor:not-allowed; background-color:#eaeded; color:#777888; border-color:transparent}
select:focus:invalid{color:#b94a48; border:1px solid #ee5f5b;}
select:focus:invalid:focus{border-color:#e9322d}
select:focus:invalid:focus{border-color:#e9322d}
select{border:1px solid #ccc;background-color:#fff}
select[multiple]{height:auto}
/* ------ select end ------- */

input[type=text],textarea{padding:.2em .3em; display:inline-block; border:1px solid #ccc; font-size:1em; box-shadow:inset 0 1px 3px #ddd; border-radius:4px; -webkit-transition:.3s linear border; -moz-transition:.3s linear border; -ms-transition:.3s linear border; -o-transition:.3s linear border; transition:.3s linear border; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-font-smoothing:antialiased}
input[type=text],textarea{background:#fff; color:#333; font-size:14px; font-family: Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif;}
input[type=text]:focus,select:focus,textarea:focus{background:#fefbdc}



/* -------- pager start ----------- */
.pager{margin-left:10px;}
.pure-paginator{list-style:none;margin:0;padding:0;}
.pure-paginator{margin-left:auto; margin-right:auto;}
.pure-paginator .button-blue{background:none;}
.pure-paginator .button-pink{background:none; color:#ff0000;}

.pure-paginator li{display:inline-block;  float:left; padding:2px 6px; text-align:center;}
.pure-paginator li a{color:blue; text-decoration:none;}
.pure-paginator li a:hover{text-decoration:underline; color:#ff0000;}
.pure-paginator .pure-paginator .prev,.pure-paginator .next{color:blue; text-shadow:0 -1px 0 rgba(0,0,0,0)}
.pure-paginator .prev{border-radius:2px 0 0 2px}
.pure-paginator .next{border-radius:0 2px 2px 0;}
/* -------- pager end ----------- */

/*--------- share start ---------*/
#share_mcover {position: fixed;	top: 0;	left: 0; width: 100%; height: 100%;	background: rgba(0, 0, 0, 0.7);	display: none; z-index: 20000;}
#share_mcover img {position: fixed;	right: 18px; top: 5px;	width: 260px; height: 180px; z-index: 20001;}
#share_box {margin: 15px 0; display: block;}
#share_box_1 {float: left;	width: 49%;	display: block;}
#share_box_2 {float: right;	width: 49%;	display: block;}
.share_clr {display: block;	clear: both; height: 0;	overflow: hidden;}
.share_button2 {font-size: 16px; padding: 8px 0;	color: #000000;	background-color: #FFFFFF;	background-image: linear-gradient(to top, #f5f5f5, #ffffff); border: 1px solid #D3D3D3; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15); text-shadow: 0.5px 0.5px 1px #fff; text-align: center; border-radius: 3px;	width: 100%; cursor: pointer;}
#share_box img {width: 22px; height: 22px; vertical-align: top;	border: 0;}
/*--------- share end ---------*/

.ywlabel,.ywtextbox,.ywtextarea,.ywradiobutton,.ywradiobuttonlist,.ywcheckbox,.ywcheckboxlist,.ywselect,.ywdafen,.ywbutton,.ywtable{height:auto; margin:10px 10px 0px 10px;}
.ywlabel span,.ywtextbox span,.ywtextarea span{display:block; line-height:24px; font-size:16px;}
.ywtextbox input{display:block;}
.ywtextarea textarea{width:90%; height:100px;}
.ywradiobutton label,.ywradiobutton input,.ywradiobuttonlist input,.ywcheckbox label,.ywcheckbox input,.ywcheckboxlist input{cursor:pointer;}
.ywcheckboxlist label{margin-right:10px; cursor:pointer;}
.ywdafen b{font-style:normal; margin:0px; height:19px; width:10px; display:inline-block; cursor:pointer;}
.ywdafen em{margin-left:10px; height:19px; font-size:22px; color: #F30; display:inline-block;}
.ywdafen b:nth-child(odd){background:url(images/rank_1.gif) no-repeat;}
.ywdafen b:nth-child(even){background:url(images/rank_2.gif) no-repeat;}
.ywtable img,.ywtable input[type=text],.ywtable button,.ywtable input[type=button],.ywtable input[type=submit], .ywtable b{float:left;; margin-right:5px;}
.ywtable img{height:50px; width:50px;}
.ywtable input[type=text],.ywtable b{margin-top:10px;}
.ywtable b{margin-left:-4px; width:16px; height:28px; display:block;}
.ywtable b a.add,.ywtable b a.reduce{width:16px; display:block; height:14px; text-decoration:none; background:url(images/icon-add-reduce.png) no-repeat;}
.ywtable b a.add{background-position:-17px 0px}
.ywtable b a.reduce{background-position:0px -15px}
.clear{clear:both;}

A.link_green{ FONT-SIZE: 12px; COLOR: green }
	A.link_green:link { COLOR: green; TEXT-DECORATION: underline }
	A.link_green:visited { COLOR: green; TEXT-DECORATION: underline }
	A.link_green:active { COLOR: green;TEXT-DECORATION: underline}
	A.link_green:hover { COLOR: green; TEXT-DECORATION: underline }
	
	A.link_red{ FONT-SIZE: 12px; COLOR: red }
	A.link_red:link { COLOR: red; TEXT-DECORATION: none }
	A.link_red:visited { COLOR: red; TEXT-DECORATION: none }
	A.link_red:active { COLOR: red;TEXT-DECORATION: none}
	A.link_red:hover { COLOR: #FF5E00; TEXT-DECORATION: underline }
	
	A.link_blue{ FONT-SIZE: 12px; COLOR: #2C59B8 }
	A.link_blue:link { COLOR: #2C59B8; TEXT-DECORATION: none }
	A.link_blue:visited { COLOR: #2C59B8; TEXT-DECORATION: none }
	A.link_blue:active { COLOR: #2C59B8;TEXT-DECORATION: none}
	A.link_blue:hover { COLOR: #FF5E00; TEXT-DECORATION: underline }
	