@CHARSET "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {margin:0;padding:0;font-family:"微软雅黑";}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
.all{width:100%;height:auto;overflow:hidden;}
.allBg{background-color: #f0eff5;}
.cl{clear:both;}
.noBB{border-bottom:none !important;}
.borderBottom{;border-bottom:1px solid #ccc !important;}
.loadBox{width:90%;height:50px;line-height:50px;text-align:center;margin:0 5%;color:#999;font-size:14px;}

.ktdtList{width:100%;height:auto;background:white;border-bottom:1px solid #e1e1e1;}
.ktdtList .top{width:100%;height:45px;line-height:45px;position:relative;}
.ktdtList .top .title{height:45px;line-height:45px;margin:0 70px 0 10px;font-size:18px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;color:#333333;}
.ktdtList .top .more{height:45px;line-height:45px;width:50px;position:absolute;right:10px;top:0;font-size:14px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;text-align:right;}
.ktdtList .top .more a{color:#999999;}
.ktdtList ul{width:100%;height:auto;}
.ktdtList ul li{width:100%;height:85px;border-bottom:1px solid #e1e1e1;}
.ktdtList ul li:hover{background:#eee;}
.ktdtList ul li .img{float:left;width:90px;height:70px;background:#eee;overflow:hidden;position:relative;float:left;margin:0px 0 0px 10px;}
.ktdtList ul li .img img{position:absolute;}
.ktdtList ul li .content{height:70px;margin:15px 10px 15px 110px;position:relative;}
.ktdtList ul li .maxWidth{margin-left:10px !important;}
.ktdtList ul li .content .t{width:100%;height:20px;line-height:20px;color:#666666;font-size:16px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;color:#000;}
.ktdtList ul li .content .b{width:100%;height:40px;line-height:20px;font-size:14px;overflow:hidden;color:#666666;margin-top:10px;}
.ktdtList ul li .content .time{width:70px;height:18px;line-height:18px;font-size:14px;color:#999999;position:absolute;right:0;bottom:0;text-align:right;}
.ktdtList ul li .content .class{width:70px;height:18px;line-height:18px;font-size:14px;color:#999999;position:absolute;right:50px;bottom:0;text-align:right;}

.banner{width:100%;height:auto;background:white;border-bottom:1px solid #e1e1e1;}
.banner .pic{width:100%;border-top:1px solid #e1e1e1;position:relative;overflow:hidden;}
.banner .pic ul{width:100%;height:auto;overflow:hidden;}
.banner .pic ul li{float:left;height:auto;width:100%;}
.banner .pic ul li a{width:100%;display:block;height:auto;}
.banner .pic ul li a.title img{width:100%;margin:0;padding:0;}
.banner .pic  li span.title_button{position:absolute;bottom:30%;right:20px;filter:alpha(opacity=50);z-index:1;}

body,div,span,p,ul,ol,li,a{padding:0;margin:0;font-family:"微软雅黑";font-size:12px;}
img, body, html {border:none;}
ol, ul, li{list-style:none;}
a{text-decoration:none;color:#333;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-focus-ring-color:rgba(0, 0, 0, 0);}
a:focus {outline: none;}
.cl{clear:both;}
.noMR{margin-right:0 !important;}
.noData{width:80%;padding:40px 0;text-align:center;border-radius:5px;margin:50px 10%;background:#b0b0b0;color:white;font-size:20px;}
.currentColor{background:#587eab !important;color:white !important;}
.loadBox{width:90%;height:50px;line-height:50px;text-align:center;margin:0 5%;}
.coverBg{display:none;position:fixed;left:0;right:0;top:0;bottom:0;background:black;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity: 0.3;opacity: 0.3;z-index:97;}
.xcBody{width:100%;height:auto;}

.xcType{width:60%;height:30px;line-height:30px;margin:10px auto 0;background:#14c682;border-radius:5px;position:relative;}
.xcType .xcTypeInner{background:white;border-radius:5px;position:absolute;top:1px;left:1px;right:1px;bottom:1px;overflow:hidden;}
.xcType .xcTypeInner a{float:left;width:50%;text-align:center;font-size:16px;height:28px;}
.xcType .xcTypeInner a.current{background:#14c682;color:white;}

.xcMsg{width:45%;height:25px;line-height:25px;margin:10px auto 0;background:#666;border-radius:50px;color:#fefefe;text-align:center;}
.xcMsg .box{height:25px;line-height:25px;margin:0 auto;display:inline-block;text-align:left;}
.xcMsg .box .img{width:20px;height:20px;margin:2.5px 0;overflow:hidden;position:relative;float:left;border-radius:2px;}
.xcMsg .box .img img{position:absolute;}
.xcMsg .box span{float:left;margin-left:10px;height:25px;line-height:26px;}

.xcUpload{position:absolute;width:32px;height:32px;top:30px;right:5%;background:url(../img/camera.png) center;overflow:hidden;background-size:32px 32px;}
.xcUpload .file{width:100%;height:100%;position:relative;}
.xcUpload input[type=file]{position:absolute;font-size:30px;width:100%;height:100%;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0;}


/*照片分享发送页面 start*/
/* .xcBody .xcShareBox{width:100%;height:auto;margin:10px 0 0 10px;border-bottom:1px solid #c9c9c9;padding-bottom:20px;text-align: center;}
.xcBody .xcShareBox .contentBox .content{width:95%;height:100px;border:solid 1px #f00; border-radius:20px; }
.xcBody .xcShareBox .picBox{width:95%;}
.xcBody .xcShareBox .picBox .img{float:left;width:30%;margin:5px 0;margin-right:5%;overflow:hidden;background:black;position:relative;}
.xcBody .xcShareBox .picBox .img img{width:95%;vertical-align:middle;position:absolute;top:50%;}
 */
.sInput{width:100%;height:100%;border:1px solid #E8E8E8;line-height:21px;resize:none;border-radius: 8px;}
.f15 {font-size: 15px;}
.f24 {font-size: 24px;}

/**发送按钮*/
.sendInfo {padding: 5px 5px 5px 5px;}
.sendInfo, .sendNav {background-color: #fafafa;overflow: hidden;}
.wot {overflow: hidden;text-overflow: ellipsis;}
.sendBtn, .cancelNewBtn {height:35px;display: inline-block;width:100%;}
.sendBtn {background-color:#28da46;}
.cancelNewBtn {background-color:#c4c4c4;}
.address {line-height:25px;text-align: center;margin-bottom: 10px;}
.sendBtn, .cancelNewBtn {line-height:35px;text-align: center;width: 48%;float: left;}
.cancelNewBtn{margin-right:2%;}
.br, .brSmall {-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 8px;}
.c2 {color: #fff;}
.c9 {color: #999;}
.sendOperBtn {right: 15px;top: 10px;width: 100%;}
.pa {position: absolute;}

/**参数设置**/
.sendParam {
	padding: 10px 15px 10px 15px;
}
.sendParam {
	overflow: hidden;
	border-top: 1px solid #e9e9e9;
}

.border-bottom {
	border-bottom: 1px solid #e9e9e9;
}
.sendParamOperBtn {right:0px;margin-top:3px;}
.sendSelectParamOperBtn {right:50px;}
.sendParam_wot {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;background:#fff;margin:10px 0;}

.iconloc {background:url(../img/icon.png) no-repeat;width:20px;height:25px;z-index: 999;padding-right: 10px;}
.bj_icon_background-position{;background-position:-171px -10px;margin-top:3px;}
.xm_icon_background-position{background-position:-72px -6px;}
.wz_icon_background-position{background-position:-106px -6px;}
.qx_icon_background-position{background-position:-137px -6px;}
.fx_icon_background-position{background-position:-310px -10px;}
.float_left{float: left;}
.float_right{float: left;}


.sendParam1 {
	padding: 10px 15px 10px 15px;
}
.sendParam1 {
	overflow: hidden;
	border-top: 1px solid #e9e9e9;
}

.sendParamOperBtn1 {right:0px;margin-top:3px;}
.sendSelectParamOperBtn1 {right:50px;}
.sendParam_wot1 {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;background:#fff;margin:10px 0;}

.iconloc1 {background:url(../img/icon.png) no-repeat;width:20px;height:25px;z-index: 999;padding-right: 10px;}
.bj_icon_background-position{;background-position:-171px -10px;margin-top:3px;}
.xm_icon_background-position{background-position:-72px -6px;}
.wz_icon_background-position{background-position:-106px -6px;}
.qx_icon_background-position{background-position:-137px -6px;}
.fx_icon_background-position{background-position:-310px -10px;}
.float_left1{float: left;}
.float_right1{float: left;}


.xcBody .xcShareBox{width:100%;height:auto;margin:0 0 0;}
.xcBody .xcShareBox .r{float:left;width:100%;}
.xcBody .xcShareBox .r .content{float:left;width:100%;padding:5px 0;line-height:20px;font-size:14px;font-weight:bold;}
.xcBody .xcShareBox .r .pic{float:left;width:96%;padding: 10px 2%;}
.xcBody .xcShareBox .r .pic .img{float:left;width:30%;margin:5px 0;margin-right:5%;overflow:hidden;background:black;position:relative;}
.xcBody .xcShareBox .r .pic .img img{position:absolute;}


.blackBg{position:fixed;top:0;left:0;right:0;bottom:0;background:black;z-index:89;filter:alpha(opacity:30);opacity:0.3;display:none;}
.selectList{position:fixed;width:80%;height:auto;max-height:70%;overflow:hidden;background:white;border:1px solid #e9e9e9;z-index:99;display:none;left:10%;top:50%;}
.selectList .single{position:relative;width:100%;height:100%;overflow:hidden;display:none;}
.selectList .double{position:relative;width:100%;height:100%;overflow:hidden;display:none;}
.selectList ul{width:100%;height:auto;overflow:auto;}
.selectList ul li{height:50px;line-height:50px;border-bottom:1px solid #e9e9e9;padding:0 10px;}
.selectList ul li.selected{border-left:5px solid #ffc74e;}
.selectList ul li span.le{height:50px;line-height:50px;float:left;font-size:16px;}
.selectList ul li span.ri{float:right;width:30px;height:30px;margin:10px;}
.selectList .btnBox{width:100%;height:50px;}
.selectList .btn{position:absolute;width:100%;height:50px;bottom:0;left:0;}
.selectList .btn button{height:40px;line-height:40px;text-align:center;background:-webkit-gradient(linear,0% 0%,0% 100%,color-stop(0.5,#e7e7e7), color-stop(1,#dedbde));border:1px solid #a4a4a4;border-top:1px solid #c6c6c6;}
.selectList .single .btn button{width:80%;margin:5px 10%;}
.selectList .double .btn button{width:35%;margin:5px 0 5px 10%;}
.selectList .double .btn .box{width:50%;height:100%;background:#e9e9e9;float:left;}
.selectList .double .btn .box span{display:block;height:50px;line-height:50px;text-align:center;background:white;cursor:pointer;}
.selectList .double .btn .box span.ok{margin-right:1px;}

.blackBg1{position:fixed;top:0;left:0;right:0;bottom:0;background:black;z-index:89;filter:alpha(opacity:30);opacity:0.3;display:none;}
.selectList1{position:fixed;width:80%;height:auto;max-height:70%;overflow:hidden;background:white;border:1px solid #e9e9e9;z-index:99;display:none;left:10%;top:50%;}
.selectList1 .single1{position:relative;width:100%;height:100%;overflow:hidden;display:none;}
.selectList1 .double1{position:relative;width:100%;height:100%;overflow:hidden;display:none;}
.selectList1 ul{width:100%;height:auto;overflow:auto;}
.selectList1 ul li{height:50px;line-height:50px;border-bottom:1px solid #e9e9e9;padding:0 10px;}
.selectList1 ul li.selected1{border-left:5px solid #ffc74e;}
.selectList1 ul li span.le1{height:50px;line-height:50px;float:left;font-size:16px;}
.selectList1 ul li span.ri1{float:right;width:30px;height:30px;margin:10px;}
.selectList1 .btnBox1{width:100%;height:50px;}
.selectList1 .btn1{position:absolute;width:100%;height:50px;bottom:0;left:0;}
.selectList1 .btn1 button{height:40px;line-height:40px;text-align:center;background:-webkit-gradient(linear,0% 0%,0% 100%,color-stop(0.5,#e7e7e7), color-stop(1,#dedbde));border:1px solid #a4a4a4;border-top:1px solid #c6c6c6;}
.selectList1 .single1 .btn1 button{width:80%;margin:5px 10%;}
.selectList1 .double1 .btn1 button{width:35%;margin:5px 0 5px 10%;}
.selectList1 .double1 .btn1 .box1{width:50%;height:100%;background:#e9e9e9;float:left;}
.selectList1 .double1 .btn1 .box1 s1pan{display:block;height:50px;line-height:50px;text-align:center;background:white;cursor:pointer;}
.selectList1 .double1 .btn1 .box1 span.ok1{margin-right:1px;}

/**选择班级**/
.xcBody .xcShareBox .selectDialog {background-color:#eeeeee; height:0px; padding:0px; position:fixed !important; /* 浮动对话框 */ position:absolute; top:0px;width:100%; z-index:5; border-radius:5px; display:none; }
.xcBody .xcShareBox .selectDialog .dialogList{background:white;}
.xcBody .xcShareBox .selectDialog .dialogList .dialogBox{width:96%;height:50px;border-top:1px solid #e9e9e9;padding:0 2%;}
.xcBody .xcShareBox .selectDialog .dialogList .dialogBox .l{height:50px;float:left;}
.xcBody .xcShareBox .selectDialog .dialogList .dialogBox .l i{margin-top:12px;}
.xcBody .xcShareBox .selectDialog .dialogList .dialogBox .r{height:50px;float:left;width:auto;}
.xcBody .xcShareBox .selectDialog .dialogList .dialogBox .r span{height:50px;line-height:28px;}
.xcBody .xcShareBox .selectDialog .dialogList .dialogBox .bjr{height:50px;float:left;width:auto;}
.xcBody .xcShareBox .selectDialog .dialogList .dialogBox .bjr span{height:50px;line-height:50px;}
.xcBody .xcShareBox .selectDialog .dialog_button{width:92%;background:#ffffff;text-align:center;height:20%;border:0px solid;border-radius:5px;margin:6px 4% 0 4%;line-height:250%;color:#4e4e4e !important;font-family:"微软雅黑";font-weight:bold;font-size:15px;}
.xcBody .xcShareBox .selectDialog .cancel {margin-top:8px;background:#959595;color:#ffffff !important;}
.xcBody .xcShareBox .selectDialog .position{left:65px;top:22px}
.xcBody .xcShareBox .selectDialog .enterDialog{width:100%;height:50px;line-height:50px;border-top:1px solid #e9e9e9;text-align:center;background:#ffffff;}
.xcBody .xcShareBox .selectDialog .closeDialog{width:100%;height:50px;line-height:50px;border-top:1px solid #e9e9e9;text-align:center;background:#eaeaea;}
.xcBody .xcShareBox .selectDialog .line_height{line-height:0px;text-align: center;margin-bottom: 10px;}
/*照片分享发送页面  end */

.bottom{width:46px;height:46px;line-height:46px;position:fixed;text-align:center;bottom:10px;right:10px;display:none;}
.bottom a{display:block;width:46px;height:46px;top:0;right:0;position:absolute;background:#333 url(../img/icon_nav.png) no-repeat -157px 8px;z-index:100;border-radius:5px;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.sendType{overflow:hidden;display:block;height:0;background-color:#eeeeee;padding:1px;position:fixed;bottom:0px;width:100%;z-index:98;border-radius:5px;}
.fullbg { background-color:gray; left:0; opacity:0.5; position:absolute; top:0; z-index:3; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5;}
.sendType .dialog_button{display:block;width:92%;background:#ffffff;text-align:center;height:25%;border:0px solid;border-radius:5px;margin:6px 4% 0 4%;line-height:300%;color:#4e4e4e !important;font-family:"微软雅黑";font-weight:bold;font-size:15px;}
.sendType .cancel{margin-top:8px;background:#959595;color:#ffffff !important;}


.textBox{height:36px;line-height:36px;position:relative;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;background:white;margin-top: 10px;}
.textBox span.l{position:absolute;left:10px;top:0;width:80px;font-size:16px;color:#8f8f91;}
.textBox span.r{display:block;}
.textBox span.r input{float:left;width:96%;margin:3px 2%;height:30px;border:1px solid #e1e1e1;border-radius:3px;font-size:14px;background-attachment:fixed;}

.inputBox{height:36px;line-height:36px;position:relative;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;background:white;margin: 10px 0;}
.inputBox span.l{position:absolute;left:10px;top:0;width:80px;font-size:15px;}
.inputBox span.r{display:block;margin-left: 55px;}
.inputBox span.r input{float:left;width:96%;margin:3px 2%;height:30px;border:1px solid #e1e1e1;border-radius:3px;font-size:14px;background-attachment:fixed;}

/* map3格式组装样式@group playlist */
.jp-details {
	font-size: 12px;
	margin: 0;
	padding: 3px;
	float: left;
	width: 100%;
	background-color: #ECECEC;
}

.jp-details .jp-cover,.jp-details .jp-info {
	float: left;
	width: 100%;
}

.jp-details .jp-cover {
	width: 20%;
}

.jp-details .jp-cover img {
	width: 40px;
	height: 40px;
	position: absolute;
}


.jp-details .jp-cover .palyimg {
	width: 30px;
	height: 30px;
	z-index:9;
	margin: 5px;
}

.jp-details .jp-title {
	color: #5f7b9a;
	padding: 0;
	margin: 0 50px;
	text-align: left;
	cursor: default;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 20px;
}

.jp-details .jp-album {
	color: #bab9b9;
	font-size: 12px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 50px;
	line-height: 20px;
	color: #666;
}
.checkAll {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #e9e9e9;
	padding: 0 10px;
}
.checkAll span.le{
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 16px;
}
.checkAll span.ri{
	float: right;
	width: 30px;
	height: 30px;
	margin: 10px;
}

.textInfo{width:100%;height:45%;margin-top:10px;overflow:hidden;}
.textInfo textarea{width:100%;height:150px;border:none;background-attachment:fixed;margin:0;padding:10px;font-size:16px;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;border-radius:0;}
.imageBox{margin-top: 10px !important;background: white;}
.selectBox{height:38px;line-height:36px;position:relative;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;background:white;margin: 10px 0;}
.selectBox1{height:38px;line-height:36px;position:relative;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;background:white;margin: 10px 0;}
.select-button{
	height: 30px;
  	margin: 3px 2%;
  	border-radius: 3px;
  	border: none;
  	background-color: #28da46;
  	color: #fff;
  	width: 20%;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
}

