body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #e2e2e2;
}
/*隐藏*/
.hide{
    display: none !important;   /*隐藏内容*/
    visibility: hidden !important;  /*隐藏可视性*/
}
/*列表的margin-top:35px 取消*/
.margin-none{
    margin: 0px 0px;
}
.padding-none{
    padding: 0px 0px;
}
.margin-15{
    margin: 15px 0px;
}
.padding-15{
    padding: 15px 15px;
}
div[class*="col-"] {
    text-align: center;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.icon-15x {
    font-size: 1.5em;
}


/*导航条*/
.navbar .left{
    color: #000;
}
.navbar .left *{
    color: #000;
}
.navbar .left a{
    padding-right: 50px;
}
.navbar .center{
    font-weight: 100;
    color: #000;
}
.navbar .right{
    color: #000;
}
.navbar .right a{
    padding-left: 50px;
}
.navbar .right *{
    color: #000;
}

.sorrow {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}