{template 'agenthader'}
<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="" method="post" class="form-horizontal" role="form" enctype ="multipart/form-data" onsubmit="return formcheck()">
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">核销卡类型</label>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
                    <select class="form-control"  name="confirm_type">
                        <option value="0" {if $confirm_type == 0 } selected {/if}>全部</option>
                        <option value="1" {if $confirm_type == 1 } selected {/if}>{$config['zhekou']}卡</option>
						<option value="2" {if $confirm_type == 2 } selected {/if}>优惠券</option>
                    </select>
      
				</div>
			</div>
            <div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">openid</label>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
                    <input type="text" class="form-control" name="openid" value="{$openid}" />
				</div>
                	<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
			</div>
			<div class="form-group">
			</div>
		</form>
	</div>
</div>


<div class="main"> 

<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createMobileUrl('halfagent', array('op'=>'agentlist', 'id'=> $id));}">商户列表</a></li>
	<li><a href="{php echo $this->createMobileUrl('halfagent', array('op'=>'agentpost', 'id'=> $id));}">商户添加</a></li>
	<li class="active"><a href="{php echo $this->createMobileUrl('halfagent', array('op'=>'confirmlist', 'id'=> $id))}">商户核销列表</a></li>
</ul>

<div class="main">
	<div class="panel panel-default">
		<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
			<tr>
				<th class='with-checkbox' style='width:30px;'>
					<input type="checkbox" class="check_all"/>
				</th>
   	            <th style="width:150px;">商户名称</th>                
				<th style="width:150px;">核销卡号</th>
				<th style='width:150px;'>核销卡类型</th>
				<th style='width:150px;'>核销类型</th>
				<th style='width:150px;'>核销人员openid</th>
				<th style='width:150px;'>核销时间</th>
			</tr>
			</thead>
			<tbody>
			{loop $list $item}
			<tr>
                           
				<td class="with-checkbox">
					<input type="checkbox" name="check" value="{$item['cardtype_id']}">
				</td>
                 <td>{$bus_name}</td>                
				<td>{$item['card_no']}</td>
				<td>{$item['card_type_name']}</td>
				{if $item['ishalfoff'] == 1}
					<td>{$config['zhekou']}卡</td>
				{else}
					<td>优惠券</td>
				{/if}
				<td>{$item['openid']}</td>
				<td>{php echo date("Y-m-d H:i:s", $item['time'])}</td>
			</tr>
			{/loop}
			</tbody>
			<input name="token" type="hidden" value="{$_W['token']}" />
		</table>
		</div>
        <!--	<div>
		<input type="hidden" id="id" value="{$id}"/>
		<input type="hidden" id="bus_id" value="{$bus_id}"/>
		<button type="button" class="btn btn-primary" onclick="exportexcel();">
			&nbsp;导出
		</button>
        
	</div>-->
	</div>
    
	{$pager}
</div>
{template 'banquan'}
<script>
	function exportexcel(){
		var cardtype_id = $.trim($("select[name='cardtype_id']").val());
		var starttime = $("input[name='starttime']").val().trim();
		var endtime = $("input[name='endtime']").val().trim();
		var url = "{php echo $this->createMobileUrl('halfagent')}";
		setTimeout("location.href='" + url + "&op=exportexcel&id="+$('#id').val()+"&bus_id="+$('#bus_id').val()+"&cardtype_id="+cardtype_id+"&starttime="+starttime+"&endtime="+endtime+"'", 500);
	}
	function drop_confirm(msg, url){
		if(confirm(msg)){
			window.location = url;
		}
	}
</script>
