<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>优惠券详情</title>
    <link rel="stylesheet" href="http://wx.katim.me/app/resource/css/bootstrap.min.css">
    <link rel="stylesheet" href="{HT}css/coupon.css">
    <script src="http://wx.katim.me/app/resource/js/lib/jquery-1.11.1.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
<body>
	<style type="text/css" media="screen">
		body{background-color: #fff; padding-top: 0;}
	</style>
	<div class="ssx">
		<h1>优惠券详情</h1>
		<dl>
		  <dt>优惠说明</dt>
		  <dd>{$item['desc']}</dd>
		</dl>
		<dl>
		  <dt>有效时间</dt>
		  <dd>{php echo date("Y.m.d", $item['starttime'])}-{php echo date("Y.m.d", $item['endtime'])}</dd>
		</dl>
		<dl>
		  <dt>可用时段</dt>
		  <dd>{$item['timezone']}</dd>
		</dl>
		<dl>
		  <dt>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</dt>
		  <dd class="tel">{$item['busphone']}</dd>
		</dl>
		<dl>
		  <dt>使用须知</dt> <!-- 该优惠券领取限制 0为不限制 -->
		  <dd>{$item['notice']}</dd>
		</dl>
	</div>
	{template 'banquan'}
</body>
</html>