html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}

/*cate1*/
#cate1{background-color: #151515;overflow-x: hidden;}
#cate1 .mainmenu {
	display: block;
    margin: 0 auto;
    padding:0 0 5px 5px;
   
}
#cate1 .mainmenu li {
	width:50%;
	float:left;
	display: block;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
#cate1 .mainmenu li .menubtn {
	display: block;
	overflow: hidden;
	text-decoration:none;
	color:#000;
	background-color: #333333;
	border-radius: 5px;
	margin: 5px 5px 0 0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

#cate1 .mainmenu li a {
	display:block;
	padding:0px;
	font-size:14px;
	color: #000000;
	text-decoration: none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
#cate1 .mainmenu li .menubtn .menumesg {
	padding:2px 2px 0 2px;
}
#cate1 .mainmenu li .menubtn .menuimg {
	/*max-height:106px;*/
	overflow:hidden;
	
}
#cate1 .mainmenu li div img {
	border:0;
	width:100%;
}
#cate1 .mainmenu li .menutitle {
	text-align:center;
	line-height: 25px;
	text-decoration: none;
	color:#888888;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.btn_music{
    display:inline-block;
    width:35px;
    height:35px;
    background:url('../img/play.png') no-repeat center center;
    background-size:100% auto;
    position:absolute;
    z-index:100;
    left:15px;
    top:20px;
}
.btn_music.on{
    background-image:url('../img/stop.png');
}
.snower{
	position: absolute;
	z-index:9000;
	width:100%;
	max-width:640px;
	height:100%;
	top:0;
	left:0;
	overflow:hidden;
	pointer-events:none;
	-webkit-box-sizing:border-box;
}
.snower  > div{
	position: absolute;
	max-width: 100px;
	max-height: 100px;
	-webkit-animation-iteration-count: infinite!important;
	-webkit-animation-direction: normal!important;
	-webkit-animation-timing-function: linear, ease-in!important;
}

.snower > div > img {
	/*position: absolute;*/
	width: 100%;
	-webkit-animation-iteration-count: infinite!important;
	-webkit-animation-direction: alternate!important;
	-webkit-animation-timing-function: ease-in-out!important;
	-webkit-transform-origin: 50% -100%!important;
}

@-webkit-keyframes fade{
	0%   { opacity: 1; }
	95%  { opacity: 1; }
	100% { opacity: 0; }
}
@-webkit-keyframes drop{
	0%{ -webkit-transform: translate3d(0px, -50px, 0); }
	100% { -webkit-transform: translate3d(0px, 500px, 0); }
}
@-webkit-keyframes clockwiseSpin{
	0% { -webkit-transform: rotate(-50deg); }
	100% { -webkit-transform: rotate(50deg); }
}
@-webkit-keyframes counterclockwiseSpinAndFlip{
	0%{-webkit-transform: scale(-1, 1) rotate(50deg); }
	100% { -webkit-transform: scale(-1, 1) rotate(-50deg); }
}


