@charset "utf-8";/* CSS Document */
/** * WAP视图 * 盒布局 * @author 曹文秀 * @copyright 2014 */
/*开启弹性空间*/
.mFx{display:-webkit-flex;display:-moz-flex;display:flex;}
/*横向超出换行*/
/*flex类*/
.mFxR{display:-webkit-flex;display:-moz-flex;display:flex;-webkit-flex-flow:row wrap;-moz-flex-flow:row wrap;flex-flow:row wrap;}
/*横向超出不换行*/
.mFxRl{display:-webkit-flex;display:-moz-flex;display:flex;-webkit-flex-flow:row;-moz-flex-flow:row;flex-flow:row;}
/*纵向*/
.mFxC{display:-webkit-flex;display:-moz-flex;display:flex;-webkit-flex-flow:column;-moz-flex-flow:column;flex-flow:column;}
/*box类*/
.mBx{display:-webkit-box;display:-moz-box;display:-o-box;display:box;}
/*垂直排列*/
.mVer{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;box-orient:vertical;}
/*水平排列*/
.mHor{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;box-orient:horizontal;}
/*水平排布*/
/*BOX继承 居中方式*/
/*居中方式类*/
/*水平居左*/
.mBxLt{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-pack:start;-moz-box-pack:start;-o-box-pack:start;box-pack:start;}
/*水平居中*/
.mBxCr{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;box-pack:center;}
/*水平居右*/
.mBxRt{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-pack:end;-moz-box-pack:end;-o-box-pack:end;box-pack:end;}
/*水平分散*/
.mBxJy{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;box-pack:justify;}
/*垂直居上*/
.mBxTp{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;box-align:start;}
/*垂直居中*/
.mBxMid{display:-moz-box;display:-webkit-box;display:-o-box;display:box;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;box-align:center;}
/*垂直居下*/
.mBxBm{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-align:end;-moz-box-align:end;-o-box-align:end;box-align:end;}
/*垂直拉伸*/
.mBxSch{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-align:stretch;-moz-box-align:stretch;-o-box-align:stretch;box-align:stretch;}
/*水平垂直居中*/
.mBxCm{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;box-pack:center;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;box-align:center;}
/*水平分散垂直居中*/
.mBxJyCm{display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;box-pack:justify;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;box-align:center;}
/*两列控制左边固定或右边固定*/
.mFlex1{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;flex:1;}
/* 扩展1*/
.mFlex2{-webkit-box-flex:2;-moz-box-flex:2;-o-box-flex:2;box-flex:2;flex:2;}
/*扩展2*/
.mFlex3{-webkit-box-flex:3;-moz-box-flex:3;-o-box-flex:3;box-flex:3;flex:3;}
/*扩展3*/
/*文本内容*/
.mContentBefore:before{content:"fwfdkfdjdfskfcj";}
.mContentAfter:after{content:".";}
/*背景图片尺寸*/
.mBgSize{background-size:50px 100px;}
/*外阴影*/
/*四周阴影*/
.mShadow{box-shadow:0px 0px 3px 3px #cccccc;}
/*上阴影*/
.mShadowTp{box-shadow:0px -3px 3px 0px #cccccc;}
/*下阴影*/
.mShadowBm{box-shadow:0px 3px 3px 0px #cccccc;}
/*左阴影*/
.mShadowLt{box-shadow:-3px 0px 3px 0px #cccccc;}
/*右阴影*/
.mShadowRt{box-shadow:3px 0px 3px 0px #cccccc;}
/*左上阴影*/
.mShadowLtTp{box-shadow:-3px -3px 3px 0px #cccccc;}
/*左下阴影*/
.mShadowLtBm{box-shadow:-3px 3px 3px 0px #cccccc;}
/*右上阴影*/
.mShadowRtTp{box-shadow:3px -3px 3px 0px #cccccc;}
/*右下阴影*/
.mShadowRtBm{box-shadow:3px 3px 3px 0px #cccccc;}
/*左右双阴影*/
.mShadowLtRt{box-shadow:-3px 0px 3px 0px #cccccc,3px 0px 3px 0px #cccccc;}
/*上下双阴影*/
.mShadowTpBm{box-shadow:0px -3px 3px 0px #cccccc,0px 3px 3px 0px #cccccc;}
/*内阴影*/
/*四周阴影*/
.mShadowIn{box-shadow:0px 0px 3px 3px #cccccc inset;}
/*上阴影*/
.mShadowTpIn{box-shadow:0px -3px 3px 0px #cccccc inset;}
/*下阴影*/
.mShadowBmIn{box-shadow:0px 3px 3px 0px #cccccc inset;}
/*左阴影*/
.mShadowLtIn{box-shadow:-3px 0px 3px 0px #cccccc inset;}
/*右阴影*/
.mShadowRtIn{box-shadow:3px 0px 3px 0px #cccccc inset;}
/*左上阴影*/
.mShadowLtTpIn{box-shadow:-3px -3px 3px 0px #cccccc inset;}
/*左下阴影*/
.mShadowLtBmIn{box-shadow:-3px 3px 3px 0px #cccccc inset;}
/*右上阴影*/
.mShadowRtTpIn{box-shadow:3px -3px 3px 0px #cccccc inset;}
/*右下阴影*/
.mShadowRtBmIn{box-shadow:3px 3px 3px 0px #cccccc inset;}
/*左右双阴影*/
.mShadowLtRtIn{box-shadow:-3px 0px 3px 0px #cccccc inset,3px 0px 3px 0px #cccccc inset;}
/*上下双阴影*/
.mShadowTpBmIn{box-shadow:0px -3px 3px 0px #cccccc inset,0px 3px 3px 0px #cccccc inset;}
/*文字描边与阴影*/
/*阴影*/
.mTextShadow{text-shadow:3px 3px 3px #000;}
/*描边*/
.mTextBorder{text-shadow:-1px 0px #000000,0px -1px #000000,1px 0px #000000,0px 1px #000000;}
/*渐变*/
.mLinear_8fa1ff_3757fa{background-image:-moz-linear-gradient(top,#8fa1ff,#3757fa);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#8fa1ff),color-stop(1,#3757fa));}
.mLinear_f1f1f1_e5e5e5{background-image:-moz-linear-gradient(top,#f1f1f1,#e5e5e5);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f1f1f1),color-stop(1,#e5e5e5));}
