@CHARSET "UTF-8";
/* index bottom */
.bottomBox{ width:100%;}
.msg{background:#ECECEC;border-top:1px solid #CCCCCC; width:100%;z-index: 997; height:40px;padding:5px 0;}
.indexMsg{background:#f8f8f8; border-top:1px solid #e6e6e6; width:100%;z-index: 997; height:54px;box-shadow: 0 1px 0 #F6F8F7;}
.indexMenu{ width:100%;}
.indexMenu a{ float:left; width:33.3%; height:54px;font-size:11px;text-align:center; color:#808080;-webkit-touch-callout:none;-webkit-outline:none;outline:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.home-index,.home-index-active,.Order-index,.Order-index-active,.My-index,.My-index-active,.card-index,.card-index-active{line-height:10px;display:inline-block;padding-top:37px;width:100%;font-size:11px; }
.home-index{ background:url(../imagesn/xiyi-icon.png) no-repeat center 6px;background-size:20px 23px; }
.Order-index{background:url(../imagesn/order-icon.png) no-repeat center 6px;background-size:20px 23px; }
/*.My-index{background:url(../imagesn/my-icon.png) no-repeat center 5px;background-size:25px 25px;}*/
.card-index{ background:url(../imagesn/my-icon.png) no-repeat center 6px;background-size:20px 23px; }
.home-index-active{background:url(../imagesn/xiyi-hover.png) no-repeat center 6px;color:#65c3ed;background-size:20px 23px; }
.Order-index-active{background:url(../imagesn/order-hover.png) no-repeat center 6px;color:#65c3ed;background-size:20px 23px; }
/*.My-index-active{background:url(../imagesn/my-hover.png) no-repeat center 5px;color:#65c3ed;background-size:25px 25px;}*/
.card-index-active{background:url(../imagesn/my-hover.png) no-repeat center 6px;color:#65c3ed;background-size:20px 23px; }
body { overflow: auto;}
footer { position: fixed; width:100%; z-index:1111;bottom:0; height:54px;}
header,footer,section { width: 100%;-webkit-transition:all .3s;}