@charset "utf-8";
*{margin:0;padding:0;vertical-align:baseline;-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{border:0 none}
i,em{font-style:normal}
ol,ul{list-style:none}
input,img{vertical-align:middle}
input,select{font:inherit;font-size:100%}
a{text-decoration:none;color:#333}
body{height:100%;background:#f7fafd;font-size:14px;font-family:"Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei","sans-serif","Varela Round", "sans-serif" !important;color:#666;-webkit-text-size-adjust:100%; margin: 0 auto;}
html{ font-size:100px;}
@media screen and (max-width:720px){html{font-size:94px;}}
@media screen and (max-width:640px){html{font-size:88px;}}
@media screen and (max-width:580px){html{font-size:80px;}}
@media screen and (max-width:540px){html{font-size:88px;}}
@media screen and (max-width:480px){html{font-size:76px;}}
@media screen and (max-width:414px){html{font-size:76px;}}
@media screen and (max-width:375px){html{font-size:74px;}}


@media screen and (max-height: 480px){
  html{font-size:74px;overflow: auto !important;}
  body {
    overflow: auto !important;
  }
  .guanquan {
    display: none !important;
  }
  .all-icon div {
    display: none;
  }
  
}

@media screen and (max-width:213px){html{font-size:44px;}}
/*banner*/
.header {
  /*background: rgb(0,164,238);*/
  position: relative;
  top: 0px;
  height: 38px;
  line-height: 38px;
  text-align: right;
  padding: 10px 0;
  padding-bottom: 0;
}
.address_tab {
  background: #38a4f2;
  height: 38px;
  line-height: 36px;
  color: #fff;
  font-size: 16px;
  position: fixed;
  z-index: 1111;
  width: 100%;
  text-align: center;
  vertical-align:middle;
}
.address_tab a{
  color: #f5f5f5;
  position: absolute;
  left: 10px;
}
.nav-log {
  height: 22px;
  margin-top: 7px;
}
.arrow-left {
  position: absolute;
  left: 38px;
  top: 10px;
  border-right: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  float: left;
  width: 8px;
  height: 8px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);

}

/*city_lisy*/
/*.city_list {
  background: #fff;
}*/
.city_list li a{
  line-height: 42px;
  text-indent: 10px;
  display: inline-block;
  width: 100%;
  color: #666;
  position: relative;
  font-size: 1.1em;
  border-bottom: 1px solid #f9f9f9;
}

.city_list li a:hover,.city_list li a:active,.city_list li a:visited{
  background: #f5f5f5;
  color: #666;
}

.server-link {
  position: absolute;
  left: 0;
}
.price-link {
  position: absolute;
  right: 0;
}
.header a {
  color: #eee;
  border: 1px solid #eee;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 13px;
  text-decoration: none;
}
.index-title {
  
  line-height: 40px;
  color: #eee;
  text-shadow: 0px 0px 1px #ddd;
  font-size: 1.5em;
  text-align: center;
}
.header a:active {
  box-shadow:0 0 35px 10px rgba(255,255,255,0.5);
}
.swipe{margin:0 auto;overflow:hidden;position:relative;}
.swipe-wrap{overflow:hidden;position:relative;display:-webkit-box;}
.swipe-wrap>div{width:100%;position:relative;overflow:hidden; text-align: center;}

.botton-box{margin:0px auto;width:100%; position: absolute; bottom: 5px;}
.botton-box span{
 text-indent:-9999px;height:8px;width:8px;-webkit-border-radius:4px;border-radius:4px;display:block;margin-right:10px;cursor:pointer;background:#ffffff;-webkit-opacity:0.6;opacity:0.6;}
.botton-box span.on{-webkit-opacity:1.0;opacity:1.0;background:#fbb900;}
/* menu-con */
.menu-con {
  float: left;
  background: #f5f5f5;
}
.menu-con a {
  display: block;
  width: 50%;
  float: left;
  /*background: #fff;*/
  position: relative;
  /*text-align: center;*/
  overflow: hidden;
  
  /*padding: 15px;*/
  text-decoration: none;

}
#imgflag {
  width: 100%;

}
.space_slipt {
  padding-top: 10px;
  font-size: 16px;
}
.space_title {
  line-height: 50px;
  
  
}
.chongzhi_tip {
  position: absolute;
  right: 5px;
  top: 5px;
  background: rgb(225,37,90);
  color: #fff;
  font-size: 12px;
  padding: 0 4px;
  border-radius: 4px;
}

.menu-con a img {
  float: left;
  /*margin: 16px 10px 16px 10px;*/
  width: 99%;
  margin-right: 0;
  margin:1%;
  margin-bottom: 0;
  
}
.menu-con a div {
  color: #888;
  /*font-size: 14px;*/
}
/*.menu-con a div em {
  color: #f53d00;
  font-size: 18px;
  font-style: italic;
}*/
/*new index page*/
.order-round {
  /*overflow: hidden;*/
  /*width: 100%;*/
  /*background:#f5f8fd;*/
  

}
.order-round {
  
  margin: 0 auto;
  text-align: center;
  width: 100%;
  
  /*padding-top: 20px;*/
  
}

.order-round a {
  
  height: 240px;
  width: 240px;
  
  display: block;
  top: 0.7rem;
  right: 0;
  margin: 0 auto;
  left: 0;
  border-radius: 100%;
  opacity: 0;
  /*background: red;*/
  position: absolute;
  z-index: 1;
  
}
.guanquan {
  height: 3rem;
  width: 3rem;
  
  display: block;
  top: 0.3rem;
  right: 0;
  margin: 0 auto;
  left: 0;
  border-radius: 100%;
  opacity: 0;
  border: 1px solid #4aa7ed;
  box-shadow: 0px 0px  2px #4aa7ed;
  /*background: red;*/
  position: absolute;
  z-index: 1;
  /*-webkit-animation: zoomOut 1s 0.5s infinite ease-out;*/
  -webkit-animation: zoomOut 1.4s ease 0.5s 3 forwards;
} 
.order-round img {
  width: 100%;
  /*margin-bottom: 10px;*/
  overflow: hidden;
  /*-webkit-transform: scale(0.7, 0.7);*/

}

.cloth1{
  z-index: 10;
  right: 0.3rem;
  top: 0.7rem;
  width: 0.5rem;
  position: absolute;
  /*height: 0.42rem;*/
  opacity: 0;
  /*-webkit-transform: scale(0.8, 0.8);*/
  -webkit-animation: bounceInRight 1s ease 0.4s 1 forwards;
}
.cloth2{
  z-index: 1;
  left: 0.3rem;
  top: 0.7rem;
  width: 0.5rem;
  position: absolute;
  /*height: 42px;*/
  opacity: 0;
  
  -webkit-animation: bounceInLeft 1s ease 0.4s 1 forwards;
}
.cloth3{
  z-index: 1;
  right: 1.1rem;
  top: 0rem;
  width: 0.46rem;
  position: absolute;
  /*height: 42px;*/
  opacity: 0;
  
  -webkit-animation: bounceInUp 1s ease 0.4s 1 forwards;
}
.cloth4{
  z-index: 1;
  left: 1.2rem;
  top: 0rem;
  width: 0.46rem;
  position: absolute;
  
  opacity: 0;
  
  -webkit-animation: bounceInUp 1s ease 0.4s 1 forwards;
}

#imgflag img{
   width: 3.5rem; 
   
  }

@-webkit-keyframes bounceInLeft{0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}
75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}
90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}@keyframes bounceInLeft{0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}
75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}
90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}.bounceInLeft{-webkit-animation-name:bounceInLeft;animation-name:bounceInLeft}
@-webkit-keyframes bounceInRight{0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}
75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}@keyframes bounceInRight{0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}
75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}
@-webkit-keyframes bounceInRight{0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}
75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}@keyframes bounceInRight{0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}
60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}
75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}
90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}
100%{opacity:1;-webkit-transform:none;transform:none}
}.bounceInRight{-webkit-animation-name:bounceInRight;animation-name:bounceInRight}
@-webkit-keyframes bounceInUp{0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}
60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}
75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}
90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}
100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}@keyframes bounceInUp{0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.61,.355,1);transition-timing-function:cubic-bezier(0.215,.61,.355,1)}
0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}
60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}
75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}
90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}
100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
}.bounceInUp{-webkit-animation-name:bounceInUp;animation-name:bounceInUp}
@-webkit-keyframes zoomOut{
0%{opacity:1;-webkit-transform:scale3d(1.5,1.5,1.5);transform:scale3d(1.5,1.5,1.5)}
50%{opacity:0;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
100%{opacity:0}
}@keyframes zoomOut{
100%{opacity:1;-webkit-transform:scale3d(1.2,1.2,1.2);transform:scale3d(1.2,1.2,1.2)}
50%{opacity:0;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
0%{opacity:0}
}.zoomOut{-webkit-animation-name:zoomOut;animation-name:zoomOut}
@-webkit-keyframes zoomOutDown{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}
100%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}
}@keyframes zoomOutDown{40%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(0.55,.055,.675,.19);animation-timing-function:cubic-bezier(0.55,.055,.675,.19)}
100%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);transform:scale3d(.1,.1,.1) translate3d(0,2000px,0);-webkit-transform-origin:center bottom;transform-origin:center bottom;-webkit-animation-timing-function:cubic-bezier(0.175,.885,.32,1);animation-timing-function:cubic-bezier(0.175,.885,.32,1)}
}