@charset "UTF-8";
/* myOrder */

/* title */
.co_gray{color: #999999;}
.co_red{ color:#ffcc33;}
.btn_pay{background-color: #E64346;border: 1px solid #E64346;color: #FFFFFF;display: block;text-align: center;width: 80px;}
.myOrder .title{ background:#fff; border-bottom:1px solid #dad3d3; position:relative; padding:10px 10px;}
.myOrder .title em.phone{ position:absolute; right:20px;}
.empty{ color:#d0d0d0;margin: 0 auto;padding: 80px 0;text-align: center;}
/*.empty_order,.empty_Coupons{width: 93.75%;}*/
.empty .txt {position: relative;padding: 87px 0 20px 0;font-size: 1.07142em;color: #d0d0d0;}
.empty_Coupons .txt {padding-top: 89px;}
.empty .txt:before {content: '';position: absolute;top: 0;left: 50%; }
.empty_Coupons .txt:before {width: 107px;height: 70px;margin-left: -52px;background:url(../imagesn/empty_Coupons.png) no-repeat;-webkit-background-size: 107px 70px;background-size: 107px 70px;}
.empty_order .txt:before {width: 68px;height: 70px;margin-left: -52px;background:url(../imagesn/empty_order.png) no-repeat;-webkit-background-size: 68px 70px;background-size: 68px 70px;}

/* myOrder_list */
.order_item{background:#fff; line-height:22px; margin-bottom:10px;}
.order_item .item_list_number{background:url(../imagesn/item_list_ico.png) no-repeat 10px 10px;-webkit-background-size: 20px 20px;background-size: 20px 20px;}
.order_item .item_list_state{background:url(../imagesn/item_list_ico2.png) no-repeat 10px 10px;-webkit-background-size: 20px 20px;background-size: 20px 20px;}
.order_item .item_list_time{background:url(../imagesn/item_list_ico3.png) no-repeat 10px 10px;-webkit-background-size: 20px 20px;background-size: 20px 20px;}
.order_item .item_list_ordersn{background:url(../imagesn/order-list.png) no-repeat 10px 9px;-webkit-background-size: 20px 20px;background-size: 20px 20px;}
.order_item .item_list_money{background:url(../imagesn/item_list_ico4.png) no-repeat 10px 9px;-webkit-background-size: 20px 20px;background-size: 20px 20px;}
.order_item .item_list_logistics{background:url(../imagesn/item_list_ico5.png) no-repeat 10px 10px;-webkit-background-size: 20px 20px;background-size: 20px 20px;}
.order_item .item_list_box{margin-left:40px; padding:8px 0px 8px 0;overflow:hidden; font-size: 14px;}
.order_item .item_list_box em{color:#ffcc33;}
.order_item .list-titel_ico{display:block; cursor: pointer;background:url(../imagesn/direction_down.png) no-repeat right;-webkit-background-size:15px 8px;background-size:15px 8px;position:relative;}
.order_item .selected .list-titel_ico{display:block; cursor: pointer;background:url(../imagesn/direction_up.png) no-repeat right;-webkit-background-size:15px 8px;background-size:15px 8px;position:relative;}
.order_item .list-item-main{display: none;}
.order_item .item_list_btn{padding:10px;}
.goods_quantity { overflow: hidden;}
.goods_item .Buy_title {float: left;line-height: 35px;}
.goods_quantity{overflow:hidden;}
.goods_quantity .act_wrap,.page_item .goods_quantity .act_wrap .result{float:left}
.goods_quantity .act_wrap{margin-right:15px;min-width:129px;height:35px;border:1px #dddddd solid;background-color:#F9F9F9}
.goods_quantity .act_wrap .add{float:left;position:relative;width:33px;height:33px;border:1px #fff solid;background-color:#000;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;background:#ededed;background:-webkit-gradient(linear,top,bottom,from(#fefefe),to(#ededed));background:-webkit-linear-gradient(top,#fefefe,#ededed);background:-moz-linear-gradient(top,#fefefe,#ededed);background:-ms-linear-gradient(top,#fefefe,#ededed);background:-o-linear-gradient(top,#fefefe,#ededed)}
.goods_quantity .act_wrap a:hover,.page_item .goods_quantity .act_wrap a.hover{background:-webkit-gradient(linear,top,bottom,from(#ededed),to(#fefefe));background:-webkit-linear-gradient(top,#ededed,#fefefe);background:-moz-linear-gradient(top,#ededed,#fefefe);background:-ms-linear-gradient(top,#ededed,#fefefe);background:-o-linear-gradient(top,#ededed,#fefefe)}
.goods_quantity .act_wrap .reduce{-webkit-border-radius:0;border-radius:0;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}
.goods_quantity .act_wrap .btn_hover{background:#F3F3F3;background:-webkit-gradient(linear,left top,left bottom,from(#E9E9E9),to(#FBFBFB));background:-webkit-linear-gradient(top,#E9E9E9,#FBFBFB);background:-moz-linear-gradient(top,#E9E9E9,#FBFBFB);background:-ms-linear-gradient(top,#E9E9E9,#FBFBFB);background:-o-linear-gradient(top,#E9E9E9,#FBFBFB)}
.goods_quantity .act_wrap .add:before,.goods_quantity .act_wrap .reduce:after{content:'';position:absolute;top:15px;left:11px;display:block;width:11px;height:2px;background-color:#444}
.goods_quantity .act_wrap .reduce:before{left:11px;width:12pxï¼›}
.goods_quantity .act_wrap .reduce:after{left:11px;width:12px;-webkit-transform:rotateZ(90deg)}
.goods_quantity .act_wrap .btn_disabled{border:1px #eee solid;background:#eee}
.goods_quantity .act_wrap .btn_disabled:before,.goods_quantity .act_wrap .btn_disabled:after{}
.goods_quantity .num{float:left;width:57px;height:35px;text-align:center;font-size:1em;border:1px #DCDCDC solid;-webkit-appearance:none;-webkit-border-radius:0;border-top:none;border-bottom:none}

.selectBox{position:relative;line-height:33px;border:1px solid #dddddd;-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;flex:1;display:-moz-box;display:-webkit-box;display:-o-box;display:box;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;box-align:center;height:33px;width:98%;}
.selectBox select{width:100%; text-indent: 16px;height:100%;position:absolute;top:0;left:0;opacity:0;-webkit-appearance:none;border:1px solid #C0BFBF;}
.Selected{text-indent: 16px;display:-webkit-box;display:-moz-box;display:-o-box;display:box;-webkit-box-pack:start;-moz-box-pack:start;-o-box-pack:start;box-pack:start;-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;flex:1;}
.selectBox:after{background:url(../imagesn/detail_v1_2.png) no-repeat;background-size: 100px 170px;background-position: -60px -35px;content:'';position:absolute;height: 20px; width: 20px;top:45%;margin-top:-8px;right:7px}
.selectBox:before{content:'';width:35px;height:33px;position:absolute;border-left:1px solid #dedede;right:0;top:0;background:#eee;}
.money_coupon input{width: 98%;border: 1px solid #DADADA;font-size: 1.07142em;margin: 0;padding: 8px 0 9px 0;text-indent: 16px;}

ul li.mobile-font a,ul li.mobile-font a:visited,ul li.mobile-font a:hover,ul li.mobile-font a:active {
  color: #666;
}
.orange_bg {
  background: #ffcc33;
  color: #fff;
  font-size: 1.2em;
}
.gray_bg {
  background: #f0efed;
}
.white_bg {
  background: #fff;
}
.deep_gray_bg {
  background: #ddd;
  color: #fff;
  margin: 10px 0;
}
.order_item img {
  width: 20px;
  margin-right: 10px;
  float: left;
  margin-top: 2px;
  
}
.hint-block {
  text-align: center;
  color: red;
  padding-bottom: 10px;
}
.order_item form img {
  width: 30px;
  /*margin-top: 6px;*/

}

.link-btn-all {
  border: 0;
  text-align: center;
  display: inherit;
  line-height: 36px;
  /*margin-left: 70%;*/
  width: 110px;
  float: right;
  font-size: 16px;
  border-radius: 20px;
}
.comment-btn-over {
  border: 1px solid rgb(186,186,186);
  color: rgb(186,186,186); background: #fff;
}
.no-pad {
  padding-right: 0!important;
}
.order-comment {
  width: 98%;
  /*border: 1px solid #ddd;*/
  border: 0;
  min-height: 80px;
  
  padding: 1%;
}

.order_item  small {
  color: #999;
}
.order_item form .item_list_box {
  line-height: 30px; 
}
.pay_order_list .item_list_box  {
  margin-left: 10px;
  line-height: 25px;
}
.cancel_link,.detail_link {
  background-color: #65c3ed;
  border-radius: 4px;
  color: #fff;
  width: 50%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
  display: block;
}
.item_list_box span {
  float: left;
  margin-right: 10px;
}
.clear {
  clear: both;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.orange_color {
  color: #ffcc33;
  font-weight: 500;
}
.order-detail-con .order_item .item_list_box {
  margin-left: 10px;
}
.wuliu-div {
  float: left;
  line-height: 25px;
  
  margin: 10px;
}
.wuliu-div img {
  margin-top: 4px;
}
.wuliu-div img,.order-logictics img {
  width: 15px;
}
.order-logictics {
  clear: both;
  position: relative; 
  overflow: hidden;
}
.split-position {
  position: absolute;
  left: 14px;
  border-left: 1px solid #ddd;
  height: auto;
  height: 100%;
  top: 23px;
}
.con-text {
  padding: 0 0 8px 0;
  font-size: 0.9em;
  width: 90%;
  float: left;
  color: #999;
}
.order_item {
  /*border-radius: 0;*/
}
.mid-font {
  font-size: 12px;
  margin-top: 10px;
}
.order-logictics span.high-dottle {
  color: #ffcc33;
  margin: 11px 8px;
  border: 6px solid #ffcc33; 
  
}
.order-logictics span { 
  margin: 11px 9px;
  border-radius: 100%;
  border: 5px solid #ddd;
  float: left;

}
.order_item table {
  width: 100%;
  padding: 0 10px;
}
.text-center {
  text-align: center;
}
.color-999 {
  color: #999;
  font-size: 0.9em;
}
.order_item table th {
  color: #666;
  text-align: left;
}
.order_item table td,.order_item table th{
  border-bottom: 1px solid #eee;
  line-height: 30px;
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.input-text {
  padding: 10px;
  

}
.input-text input{
  width: 99.8%;
  height: 34px;
  font-size: 15px;
  border: 1px solid #ededed;
  border-radius: 4px;
  
  text-indent: 10px;
}
div.select_charge,input.select_charge {
  border: 1px solid #ffcc33;
}
input.charge_money {
  
  width: 86%;
  text-align: left;
}
div.charge_money{
  padding-top: 4px;
}
div.charge_money span {
  width: 100%;
  float: left;
  font-size: 1em;
}
.charge_money {
  background: url("../imagesn/money-btn.png") repeat-x;
  padding: 0 3px;
  font-size: 0.8em;
  height: 36px;
  
  text-align: center;
  overflow: hidden;
  
  /*line-height: 30px;*/
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #999;
  box-shadow: inset 0 0 1px 1px #fff, 0 1px 0 0 #f9f9f9; 
}
#footer-absolute footer {
  position: absolute;
  bottom: 0;
}
span.comment-span {
  border: 1px solid #ffcc33;
  padding: 6px 8px;
  border-radius: 4px;
 display: block;
 float: left;
 margin: 0px 15px 10px 0;
}
span.comment-span.select {
  background: rgb(250,240,193);
}
/*new style page*/
.order_item {
  position: relative;
  padding: 4% 2%;
}
.order_status_div { 
  /*background: url("../imagesn/confirmed2x.png") right top no-repeat;  */
  /*height: 70px;*/
  /*width: 70px;*/
  float: right;
  width: 76px;
  font-size: 14px;
  color: rgb(127,190,6);
  position: relative;
  z-index: 1;
  right: 1%;
  
  text-align: center;
} 
.order_status_div img {
  height: 80px;
  width: 80px;
  margin-top: -8px;
  position: absolute;
  top: 0;
  right: 1px;
  margin-right: 0;
}
.order_status_div span {
  /*position: absolute;*/
  width: 50px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
.order_status_div span.text-info {
  line-height: 44px;
}
a.mobile-font,a.mobile-font:visited,a.mobile-font:hover ,a.mobile-font:active{
  color: #4a4a4a;
}
#share button[type='submit'] {
  background: #00a6f7;
  border: 1px solid #00a6f7;
}
#share button[type='cancel']{
  border: 1px solid #00a6f7;
  color: #00a6f7;
}
.order-arrow {
  position: absolute;
  right: 10px;
  width: 15px !important;
  top: 30%;
}