<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>拼团</title>
		{php echo register_jssdk();}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-store">
		<meta http-equiv="Expires" content="0">
		<LINK href="{S_URL}css/style_366c9ef.css" rel="stylesheet">
		<LINK href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	</head>

	<body>
		<div class="mod_container">
			<div id="detailCon" class="wx_wrap" ms-visible="order.order_id != undefined">
				<div class="{if 2 >= intval($order['status']) && intval($order['status']) > 0}state_1{elseif intval($order['status'])==3}state_2{elseif intval($order['status'])==4}state_3{/if}">
					<div class="state_step">
						<ul>
							<li class="state_step_1"></li>
							<li class="state_step_2"></li>
							<li class="state_step_3"></li>
						</ul>
						<span class="state_arrow">

                <i class="state_arrow_i"></i>

                <i class="state_arrow_o"></i>

                </span>
					</div>
					<div class="address">
						<div class="address_row">
							<div class="address_tit">订单状态：</div>
									<div class="address_cnt">
										<b>
									{if intval($order['status'])==0}  
                                      		未支付 
                                    {else if intval($order['status'])==1}  
                                     		已支付
                                    {else if intval($order['status'])==2}  
                                   	                待发货
                                    {else if intval($order['status'])==3}  
                                      	        已发货
                                    {else if intval($order['status'])==4}
                                        	已签收
									{else if intval($order['status']) == 5}
											已取消
									{else if intval($order['status']) == 6}
											退款处理中
									{else if intval($order['status']) == 7}
											已退款
                                    {/if}</b>
									</div>
						</div>
						<div class="address_row">
							<span class="address_tit">订单编号：</span>
							<span class="oinfo_cnt">{$order['orderno']}</span>
						</div>
						<div class="address_row">
							<span class="oinfo_tit">下单时间：</span>
							<span class="oinfo_cnt">{php echo date('Y-m-d H:i', $order['createtime']);}</span>
						</div>
						<div class="address_row">
							<div class="address_tit">数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：</div>
							<div class="address_cnt">{$order['gnum']}</div>
						</div>
						<div class="address_row">
							<div class="address_tit">总&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 额：</div>
							<div class="address_cnt">
								<span class="address_price">{$order['price']}</span>
								<span class="address_paytype">
									{if $order['pay_type'] == 0}
									(未支付)
									{/if}
									{if $order['pay_type'] == 1}
									(余额支付)
									{/if}
									{if $order['pay_type'] == 2}
									(在线支付)
									{/if}
									{if $order['pay_type'] == 3}
									(货到付款)
									{/if}
								</span>
							</div>
						</div>
						{if $order['optionid']}
						<div class="address_row">
							<div class="address_tit">规 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</div>
							<div class="address_cnt">{$option['title']}</div>
						</div>
						{/if}
						{if $order['is_hexiao']==0}
						<div class="address_row">
							<div class="address_tit">送 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;至：</div>
							<div class="address_cnt">{$order['address']}</div>
						</div>
						{/if}
						<div class="address_row">
							<div class="address_tit">联&nbsp;系&nbsp;&nbsp;人：</div>
							<div class="address_cnt">{$order['addname']}</div>
						</div>
						<div class="address_row">
							<div class="address_tit">联系电话：</div>
							<div class="address_cnt">{$order['mobile']}</div>
						</div>
						{if $order['is_hexiao']==0}
						
						<div class="address_row" ms-visible="order.shipping_status>=1">
							<div class="address_tit">配送方式：</div>
							<div class="address_cnt">
								{if !empty($order['express'])}
								{$order['express']}
								{else}
								还未发货	
								{/if}
							</div>
						
							<div class="address_tit">快递单号：</div>
							<div class="address_cnt">
								{if !empty($order['expresssn'])}
								{$order['expresssn']}
								{else}
								还未发货
								{/if}	
							</div>
							{if !empty($order['expresssn'])}
								<a  href="http://m.kuaidi100.com/index_all.html?type={$order['express']}&postid={$order['expresssn']}#input" class="btn btn-success pull-right btn-sm" >查看快递</a>
							{/if}
						</div>
						{else}
						<div class="address_row" ms-visible="order.shipping_status>=1">
							<div class="address_tit">配送方式：</div>
							<div class="address_cnt">
								到店消费
							</div>
						</div>
						{/if}
					</div>
					<div class="state_btn" ms-visible="order.total_status == 0">
								{if intval($order['status']) == 5}  
										<a class="state_btn_3" href="" ms-click="orderBuy(order.order_id)">订单已取消</a>
										
								{else if intval($order['status']) == 4}  
										<a class="state_btn_3" href="" ms-click="orderBuy(order.order_id)">订单已完成</a>
								{else if intval($order['status']) == 3}
										<a class="state_btn_3" href="" ms-click="orderBuy(order.order_id)">订单已发货</a>
								{else if intval($order['status']) == 2}
										<a class="state_btn_3" href="" ms-click="orderBuy(order.order_id)">待发货</a>
								{else if intval($order['status']) == 1}
										<a class="state_btn_3" href="" ms-click="orderBuy(order.order_id)">已支付订单</a>
								{else if intval($order['status']) == 0}
								<a class="state_btn_2" href="" ms-click="orderBuy(order.order_id)">未支付</a>
								{/if}
						
						
					</div>
					<div class="state_btn" ms-visible="order.total_status == 3">
						<!-- <a class="state_btn_1" href="">查看物流</a> -->
								{if intval($order['status']) == 3}  
										<a id="confirm_receipt" class="state_btn_3" href="{php echo $this->createMobileUrl('orderdetails', array('orderno'=>$order['orderno'],'type'=>'confirm'));}" ms-click="orderReceive(order.order_id)">确认收货</a>
								{else}  
								
								{/if}
						
					</div>
					<div class="state_btn"> </div>
				</div>
				<div class="ptit">订单信息</div>
				<div class="order" style=" margin-bottom: 20px;">
					<div class="order_bd">
						<div class="order_glist">
							<div class="order_item" ms-repeat-item="order.order_goods">
								<a href="" class="order_goods" style="float:left;border-bottom:none;">
									<div class="order_goods_img">
										<img src="{php echo tomedia($goods['gimg']);}">
									</div>
								</a>
								<div class="order_goods_info">
									<a class="order_goods" href="{php echo $this->createMobileUrl('goodsdetails', array('id'=>$goods['id']));}">
										<div class="order_goods_name">{$goods['gname']} </div>
										<div class="order_goods_attr">
											<br>
											<div class="order_goods_attr_item">数量：{$order['gnum']}
												<!--<div class="order_goods_price"><i>￥</i>{if intval($order['tuan_id']) == 0}  
										{$goods['oprice']}
								{else}  
										{$goods['gprice']}
								{/if}<i>/件</i>
												</div>-->
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="order_total" style="  margin: 5px 0px 10px 0px;">
							{if $order['is_hexiao']==0}<span class="order_total_info">共1件商品，运费{$order['freight']}元</span>{/if}
							<span class="order_price">总计：<b><i>￥</i>{$order['price']}</b></span>
						</div>
					</div>
					<div style="height: 60px;">
						{if $order['is_tuan']==1 &&  $order['status']!=5}
                        <a class="mt_status_lk marg_right" href="{php echo $this->createMobileUrl('group', array('tuan_id'=>$order['tuan_id']));}" style="margin-right: 10px;">查看团详情</a>
                        {/if}
                    </div>
				</div>
			</div>
		</div>
		<div style="height: 30px;"></div>
		<!--点击确认收货按钮-->
		{if $this->module['config']['mode'] == 1}
        {template 'footer'}
	    {else}
	        {template 'footerbar'}
	    {/if}
		<script type="text/javascript">
			$(document).ready(function() {
		
		$("#confirm_receipt").click(function(){
	  	  if(confirm("请再次确认收货")){
	  	  	return ture; //执行默认事件
    }else{
    	return false; //阻止默认时间
   }
    return false;
	});	
	});
		</script><!--end点击确认收货按钮-->
		
	</body>
<script>
	wx.ready(function (){
	var shareData = {
		title: "{$share_data['share_title']}",
		desc: "{$share_data['share_desc']}",
		link: "{$to_url}",
		imgUrl: "{$_W['attachurl']}{$share_data['share_image']}",
	};
//分享朋友
	wx.onMenuShareAppMessage({
	    title: shareData.title,
	  	desc: shareData.desc,
	  	link: shareData.link,
	  	imgUrl:shareData.imgUrl,
	  	trigger: function (res) {
	  	},
	  	success: function (res) {
	    	window.location.href =adurl;
	  	},
	  	cancel: function (res) {
	  	},
	  	fail: function (res) {
	    	alert(JSON.stringify(res));
	  	}
	});
//朋友圈
	wx.onMenuShareTimeline({
	  	title: shareData.title+"---"+shareData.desc,
	  	link: shareData.link,
	  	imgUrl:shareData.imgUrl,
	  	trigger: function (res) {
	  	},
	  	success: function (res) {
	    	window.location.href =adurl;
	  	},
	  	cancel: function (res) {
	  	},
	  	fail: function (res) {
	    	alert(JSON.stringify(res));
	  	}
	});
});
</script>
</html>