{template 'common/header'}
    {php echo register_jssdk();}
    <script>
        wx.ready(function () {
        shareData = {
           'title' : "{$share_data['daifushare_title']}",
            'desc': "{$share_data['daifu_desc']}",
            'link': "{$_W['siteroot']}app/{php echo str_replace('./','',$this->createMobileUrl('otherpay', array('orderid'=>$orderid)))}",
            'imgUrl': "{php echo tomedia($share_data['daifushare_image'])}",
        };
        //分享朋友
    wx.onMenuShareAppMessage({
        title: shareData.title,
        desc: shareData.desc,
        link: shareData.link,
        imgUrl:shareData.imgUrl,
        trigger: function (res) {
        },
        success: function (res) {
        },
        cancel: function (res) {
            alert('分享是一种美德哦！');
        },
        fail: function (res) {
            alert(JSON.stringify(res));
        }
    });
//朋友圈
    wx.onMenuShareTimeline({
        title: shareData.title,
        link: shareData.link,
        imgUrl:shareData.imgUrl,
        trigger: function (res) {
        },
        success: function (res) {
            window.location.href =adurl;
        },
        cancel: function (res) {
            alert('分享是一种美德哦！');
        },
        fail: function (res) {
            alert(JSON.stringify(res));
        }
        });
    });
    </script>
    <style>
	body{background:#EEE;}
	.container-fill{}
	h4{margin:15px 0;}
	h4:first-of-type{margin-top:10px;}
	.panel{padding:.5em; margin-bottom:10px;}
	.nav.nav-tabs{margin-bottom:.8em;}
	.alert .form-group{margin-bottom:0;}
	label.form-group{display:block;}
	label.form-group{font-weight:normal; overflow:hidden; border-top:1px #DDD solid; padding-top:10px;padding-bottom:0;margin-bottom:0 }
	label.form-group .col-xs-2{margin-top:0px;}
	label.form-group input[name="type"]{opacity:0; width:0;}
	#wq_card .form-group{border-top:none;border-bottom:1px solid #ccc;}
	#wq_card .form-group .col-xs-2{margin-top:15px;}
	#wq_card .form-group:last-child{border-bottom:none}
	.list-group-item{border: 1px solid #FFF;}
	.tr-main{background-color: #FFFFFF;border-top: 1px solid rgba(222,222,220,0.8);border-bottom: 1px solid rgba(222,222,220,0.8);padding-left: 15px;margin-top: 20px;}
	.tr-main p{display: block;height: 44px;line-height: 44px;border-bottom: 1px solid rgba(222,222,220,0.8);color: #333333;position: relative; font-size: 15px}
	.tr-main p:last-child{border-bottom:none;}
	p{margin: 0 0 0px;}
	.pull-right{margin-right: 8px;}
	.btn-success{background-color: #04BE02;border-color: #04BE02;}
</style>
<script>
	require(['bootstrap'], function($){
		$(function(){
		});
	});
	document.title="代付";
</script>
    <link rel="stylesheet" href="{S_URL}css/style_366c9ef.css?v=2">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" >
    <script src="{S_URL}js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{S_URL}alert/css/alert2.css" />
	<script type="text/javascript" src="{S_URL}alert/js/alert.js"></script>
	<link href="{S_URL}css/cart.css" rel="stylesheet">
	<div class="my">
        <div class="my_head">
            <div class="my_head_pic">
                <img id="uinLogo" class="my_head_img" width="100" height="100" alt="" src="{if empty($result['avatar'])}{S_URL}image/logo.jpg{else}{$result['avatar']}{/if}">
            </div>
            <div class="my_head_info">
                <h4 id="nickname" class="my_head_name ">{$result['nickname']}</h4>
            </div>
        </div>
        <div class="" id="fav_shop_total_count" style="width: 100%;text-align: center;color: wheat;margin-top: 20px;;">{$share_data['daifushare_title']}</div>
    </div>
     <div class="" id="fav_shop_total_count" style="width: 100%;text-align: center;color: black;background-color: white;">来自小伙伴的代付订单！</div>
	<input type="hidden" name="firstdiscount" id='firstdiscount' value="{$firstdiscount}"/>
    <div id="c_paipai.buyOne_show" ms-visible="loading" style="overflow: hidden;margin-top: -5px;" >
        <div class="wx_wrap" >
            <div class="order" style="margin-top: 5px;">
                <div class="order_bd">
                    <div id="orderList" class="order_glist">
                        <div class="only">
                            <div class="order_goods">
                                <div class="order_goods_img">
                                    <img src="{php echo tomedia($goods['gimg'])}" alt="" title="">
                                </div>
                                <div class="order_goods_info">
                                    <div class="order_goods_name"><span id="tuanLbl"></span>{$goods['gname']}</div>
                                    <div class="order_goods_attr">
                                        <div class="order_goods_attr_item">
                                        	{if $goods['optionname']}
                                        	<span class="order_goods_attr_tit">规格：</span>
                                            <div class="order_goods_num">{$goods['optionname']}</div>
                                        	{else}
                                            <span class="order_goods_attr_tit">{$order['addname']}</span>
                                            <div class="order_goods_num">{$order['mobile']}</div>
                                            {/if}
                                        </div>
                                        <p class="order_goods_attr_item">{$order['address']}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pay_area" style="opacity: 1;margin-top: 5px;">
                <input type="hidden" name='$freight' id="freight" value="{$freight}">
                <div class="pay2" style="padding-bottom: 0px;">
                    <div>
                    	<span style="margin-left: 10px;"><font color="#5A5A5A" style="font-size: 14px;">给TA留言:</font></span>
                    	<textarea name="remark" id="remark" style="width: 96%;height accelerator: 100px;margin-left: 2%;border:1px solid #d0d0d0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin: 10px;"></textarea>
                    </div>
                    <div>
                    	<span style="margin-left: 10px;"><font color="#5A5A5A" style="font-size: 14px;">我的大名:</font></span>
                    	<textarea name="othername" id="othername" style="width: 96%;height accelerator: 100px;margin-left: 2%;border:1px solid #d0d0d0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin: 10px;"></textarea>
                    </div>
                    <div class="total" style="background-color: rgb(255,255,255);">支付金额：<span id="totalPrice" class="total_price">
                	{$order['pay_price']}
                	</span>元
               		 </div>
                    <div>
                       <div class="pay-btn" id="wechat-panel">
						<form action="{php echo url('mc/cash/wechat');}" method="post">
							<input type="hidden" name="params" value="{php echo base64_encode(json_encode($params));}" />
							<input type="hidden" name="encrypt_code" value="" />
							<input type="hidden" name="card_id" value="{php echo base64_encode($card_id);}" />
							<input type="hidden" name="coupon_id" value="" />
							<button onclick="sub();" class="btn btn-success btn-block col-sm-12" disabled="disabled" type="submit" id="wBtn" value="wechat" style="height: 42px; font-size: 18px;width: 96%;left: 2%;">微信支付(必须使用微信内置浏览器)</button>
						</form>
						<a href="{php echo $this->createMobileUrl('index');}" class="btn btn-success btn-block col-sm-12" style="height: 42px; font-size: 18px;top: 5px;width: 96%;left: 2%;background-color: white;color: black;">我也去玩</a>
						<!--<button class="btn btn-success btn-block col-sm-12"  style="height: 42px; font-size: 18px;top:5px;width: 96%;left: 2%;background-color: white;color: black;">找小伙伴帮TA付款</button>-->
						<div style="height: 10px"></div>
					</div>
					<script type="text/javascript">
						document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
							$('#wBtn').removeAttr('disabled');
							$('#wBtn').html('帮TA微信支付');
						});
						function sub(){
							var oid = "{$order['id']}";
							var remark = $('#remark').val();
							var othername = $('#othername').val();
							 $.post('{php echo $this->createMobileUrl('otherpay',array('op'=>'message'))}',{orderid:oid,remark:remark,othername:othername},function(m){
				             },"json");
						}
						
					</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
<input type="hidden" name="token" value="{$_W['token']}" />
