html{width: 100%; height: 100%; margin: 0; padding: 0;} 
body{width: 100%; height: 100%; margin: 0; padding: 0; background:#f1f2f4; font-size:13px;}
img{border:none; vertical-align:middle;}

#container{margin:0 auto; padding:0; width:640px; min-height:100%; /*background:#fff; position:relative;*/}
#container a:visited { text-decoration: none; color: #000;}
#container a:link { text-decoration: none; color: #000;}
#container a:hover {text-decoration: none; color: #000;}

#loadingMessage{position:fixed; width:32px; height:32px; display:none; z-index:2000;}

.color-red{color:#eb6000;}
.color-green{color:#339933;}
.color-gray{color:#a2a2a2;}

.popup-background{
	z-index:1000; 
	background:#000; 
	opacity:0.7; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100%; 
	display:none;
}

.popup-window{
	z-index:1001;
	background: #fff;
	position:fixed;
	left:0;
	top:0;
	display:none;
	border-radius:3px;
}

.popup-window h3{margin:0; padding:0 5px; line-height:32px; background:#eb6000; color:#fff;}
.popup-window img{width:100%; height:100%;}
.popup-window p{margin:0 0 10px 0; padding:0 10px; line-height:24px;}

#header{margin:0; padding:0; position:fixed; top:0; width:640px; height:40px; background:#fff; z-index:999;  border:solid 1px #fff; border-bottom:solid 1px #ddd;}

#header img{width:30px; height:30px; margin:5px; padding:0; }
#header ul{list-style:none; margin:0; padding:0; float:right;}
#header ul:after{content:""; display:block; clear:both;}
#header li{display:block; float:left; text-align:center; line-height:40px;}
#header li.line{padding:0; color:#ddd;}
#header li a{display:block; margin:0; padding:0 10px; }
#header li span{display:block; color:#339933; font-weight:bold; font-size:14px;}

/*页内容*/
#content{margin:0; padding:0 0 40px 0; width:640px; background:#fff; border:solid 1px #fff;}

#help{margin:0; padding:0;}
#help h3{margin:0; padding:0 10px; line-height:42px; border-bottom:solid 1px #ddd; color:red;}
#help p{margin:0; padding:0 10px; line-height:36px; border-bottom:dotted 1px #ddd;}
#help img{display:block; width:300px; height:300px; margin:10px auto;}

#note{margin:0; padding:10px; background:#ffffcc; border-bottom:dotted 1px #ddd;}
#note a span{color:red;}

div.description{margin:0; padding:5px; background:#ffffcc; border:dotted 1px #ddd; border-radius:3px;}

.holder-act{margin:0; padding:0; border-bottom:dotted 1px #ddd;}
.holder-act:last-child{border:none;}
.holder-act .wrapper{margin:10px 20px; padding:0;  position:relative;}
.holder-act img{width:100%;}
.holder-act h2{position:absolute; left:0; bottom:0; width:100%; margin:0; padding:0; line-height:40px; text-align:center;
				background:#000; opacity:1; color:#fff; font-weight:normal;
				word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:17px;}
.holder-act h2.t3{background:#a2a2a2;}
.holder-act h2.t2{background:#EB6000;}
.holder-act h2.t1{background:#339933;}
				
.holder-act-my{margin:0; padding:10px; border-bottom:dotted 1px #ddd; position:relative;}
.holder-act-my:after{content:""; display:block; clear:both;}
.holder-act-my .left-act-my {float:left; width:100px;}
.holder-act-my .left-act-my img{padding:0; width:120px; height:84px;}
.holder-act-my .right-act-my{margin-left:130px;}
.holder-act-my .right-act-my h2{margin:0; padding:0; line-height:24px; font-size:16px; font-weight:normal; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.holder-act-my .right-act-my p{margin:0; padding:0; line-height:20px;}
.holder-act-my span.type{display:block; margin:0; padding:0; width:30px; height:30px; line-height:30px; text-align:center; 
						background:#eb6000; color:#fff; border-radius:50%;
						position:absolute; left:110px; top:5px;
						opacity:0.9;
					}
.holder-act-my span.t2{background:#eb6000;}
.holder-act-my span.t1{background:#339333;}

.noresult{margin:10px; padding:10px;}
.noresult h3{margin:0; padding:0 !important; line-height:32px; color:red;}
.noresult p{margin:0; padding:0; line-height:24px;}

.wrapper-img{margin:0; padding:0;}
.wrapper-img img{width:100%;}

.wrapper-form{margin:0; padding:10px;}
.wrapper-form p{margin:0; padding:0;}
.wrapper-form span.price{color:red; font-size:24px;}
.wrapper-form span.price2{color:#a2a2a2; text-decoration:line-through; }
.wrapper-form span.quantity{color:#339933;}


.wrapper-arrow{margin:0; padding:0; height:62px; width:100%; position:relative; background:#fff;}
.wrapper-arrow span{position:absolute; top:0; right:0; display:block; width:49px; height:62px; 
					background:url("../../images/arrow.jpg") no-repeat;}
					
#content h3{margin:0; padding:0 10px; line-height:32px;}
#content h3.title{color:red;}

table.calc{margin:0; padding:0; width:100%; border-spacing:10px;}
table.calc td{border:solid 1px #ddd; width:33.33%; border-radius:5px; margin:0; padding:5px 0; text-align:center;}
table.calc span{display:block; margin:0; padding:10px 0; width:100%;}
table.calc input{margin:0; padding:0; width:100%; height:32px; border:none; font-size:18px;}

#loadMore{margin:0; padding:0; text-align:center; color:#99cc00; display:none;}
#loadMore p{margin:0; padding:0; line-height:44px;}
.noData{color:#a2a2a2 !important;}
.isLoading{color:#a2a2a2 !important; }

.tabs{margin:20px 10px; padding:0; list-style:none; background:#99cc00; border:solid 2px #99cc00; border-radius:3px;}
.tabs:after{content:""; display:block; clear:both;}
.tabs li{float:left; margin:0; padding:0; width:50%; line-height:32px; text-align:center; background:#fff;}
.tabs li span{display:block;}
.tabs li.current{background:#99cc00;}
.tabs li.current span{color:#fff;}
/**/

/**/
#footer{margin:0; padding:20px 0 10px 0; width:640px;}
#footer p{margin:0; padding:0; text-align:center; color:#a2a2a2;}
/**/

/*底部TAB*/
#tab{margin:0; padding:0; position:fixed; bottom: 0; width:640px; height:40px; background:#fff; border-top:solid 1px #ddd; z-index:999;}

#tab ul{list-style:none; margin:0; padding:0;}
#tab ul:after{content:""; display:block; clear:both;}
#tab ul li{float:left; margin:0; padding:0; height:40px; line-height:40px; width:33.33%; text-align:center; position:relative;}
#tab a {display:block; margin:0; padding:0; text-decoration:none;}
#tab a span{display:block; margin:0; padding:10px 0 0 0; color:#a2a2a2; font-size:0.9em;}
#tab b{display:block; margin:0; padding:0; width:100%; height:24px; position:absolute; top:0;}
#tab b.home{background:url(../../images/tab_home.png) no-repeat; 
				background-size:16px 16px; background-position:50% 50%;}
#tab b.history{background:url(../../images/tab_history.png) no-repeat; 
				background-size:16px 16px; background-position:50% 50%;}
#tab b.my{background:url(../../images/tab_my.png) no-repeat;
			 background-size:16px 16px; background-position:50% 50%;}

#tab ul li.current span{color:#eb6000;}
#tab ul li.current b.home{background:url(../../images/tab_home_2.png) no-repeat;
								background-size:16px 16px; background-position:50% 50%;}
#tab ul li.current b.history{background:url(../../images/tab_history_2.png) no-repeat;
								background-size:16px 16px; background-position:50% 50%;}
#tab ul li.current b.my{background:url(../../images/tab_my_2.png) no-repeat;
							background-size:16px 16px; background-position:50% 50%;}
/**/





