html, body {
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	margin:0;
	padding: 0;
	text-decoration: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
a {
	color:#000000;
	text-decoration: none;
}
h2 {
    font-size: 16px;
}
.left{ float:left}
.right{ float:right}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
*font-size:100%;
}
.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}
/*popmenu*/
#popmenu{cursor:pointer; display:block; position:relative;  text-align: center; width: 200px; margin:0 auto}
#popmenu:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -2px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #9D9D9D transparent;
}
#overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,0);display:none;z-index: 4;}

#win{position: fixed;top:55px;left:50%;
    width: 200px;margin:0 0 0 -100px;display:none;z-index: 5;}
.dropdown {
    /* Size and position */
    position: relative;
	display:block;
    margin: 0 auto;
    padding: 5px;

    max-height: 240px;
overflow-y: auto;
    background-color: #222;
    border-radius: 7px;
	box-shadow:0 1px 3px 1px rgba(0,0,0,0.3);
    cursor: pointer;
    outline: none;
	list-style: none outside none;

}

.dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 90px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: rgba(47, 47, 47, 0.9) transparent;    
}

.dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 88px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}
.dropdown li {
    background-color: rgba(58, 58, 58, 1);
    display: block;
    float: left;height: 37px;
    width: 50%;
}
.dropdown li span{
    border-color: #222;
border-left: 1px solid #222;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
	line-height: 37px;
    display: block;
    font-size: 14px;
    height: 37px;
    text-align: center;
    text-shadow: 0 1px 1px #000000;
    width: 100%;
}
.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
/*二级分类*/
.category{
    display: block;
    overflow: hidden;
    background: #EEE;
    border-top: 1px #DDD solid;
}
.category a {
    display: inline-block;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    width: 33.33%;
    text-align: center;
    color: #666;
    font-size: 14px;
    float: left;
    padding: 0 5px;
    text-decoration: none;
}
/*Listpage*/
.Listpage{
    position: relative;
    z-index: 2;
}
.fixed {
  /*position: fixed;*/
}
.top46{height:46px; padding:0; margin:0}
#ui-header{
  width: 100%;
  height: 46px;
  line-height:46px;
  z-index: 3;
  position: fixed;
left: 0;
top: 0;
right:0;
	}
#ui-header .fixed {
	display: block;
	margin: 0 auto;
    min-width: 320px;
	height: 45px;
	top: 0;
	border-bottom: 1px solid #D1D1D1;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	background:-webkit-linear-gradient(top,#ffffff, #f9f9f9);
}
.ui-title{min-height: 46px; text-align: center; font-size: 16px; font-weight:normal; display: block; margin: 10px 70px 0; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; display:none;text-indent: -10px;}
.ui-btn-left { position:absolute; top:0px; left:0px; background:url(../images/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-left_pre { position:absolute; top:0px; left:0px; background:url(../images/pre.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right { position:absolute; top:0px; right:0px; background:url(../images/Refresh.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px;margin:0; padding:0; background-size:28px auto;}
.ui-btn-right_menu { position:absolute; top:0px; right:0px; background:url(../images/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right_home { position:absolute; top:0px; right:0px; background:url(../images/home.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}


.focus {
	margin:0 auto 0px;
	position:relative;
	overflow:hidden
}
.focus img {
	display: block;
    margin: 0 auto;
    width: 100%;
}
.focus li {
	min-height: 32px;
    min-width: 320px;
}
.focus li a {
	color:#FFF;
	text-decoration: none;
}
.focus li span {
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	left:0;
	top:0;
}
.focus li h2 {
	 bottom: 0;
    color: #FFFFFF;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
	
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.focus li .opacity {
	height:32px;
	background:#000;
	opacity:0.7;
	bottom: 0;
    display: block;
    font-weight: normal;
    height: 32px;
    position: absolute;
    width: 100%;
}
.focus .focusTit {
	width:100%;
	height:10px;
	text-align:center;
	position:absolute;
	left:0;
	bottom:8px;
}
.focus .focusTit span {
	width:5px;
	height:5px;
	background:#858585;
	border-radius: 10px;
	display:inline-block;
	margin:0 5px;
}
.focus .focusTit span.on {
	background:#249bff;
}
/*listhome3*/
body{
	background-color:#F0EFEF;
	margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
	overflow-x: hidden;
}
.chatPanel{
}
.chatPanel .media {
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin: 15px 9px 0 10px;
}

.chatPanel .media .mediaPanel {
	padding:0px;
	margin:0px;
}

.chatPanel .media .mediaHead {
	/*height:48px;*/
		padding:15px 15px 4px;
	border-bottom:0px solid #D3D8DC;
	color:#000000;
	font-size:20px;
}
.chatPanel .media .mediaHead .title {
	line-height:1.2em;
	font-size:18px;
	display:block;
	text-align: left;/*height:25px;
		white-space:nowrap;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow:hidden;*/
	}
.chatPanel .media .mediaHead .time {
	margin:0px;
	margin-top: 5px;
	color:#8C8C8C;
	background:none;
	width:auto;
	font-size:12px;
	display:block;
}
.chatPanel .media .mediaImg {
	min-width: 260px;
	padding:0;
	margin:0 15px;
	overflow:hidden;
	position: relative;
	/*max-height:164px;*/
}
.chatPanel .media .mediaImg img {
	width: 100%;
}
.chatPanel .mediaFullText .mediaContent {
	padding:0 0 10px;
	font-size:16px;
	text-align:left;
	color:#222222;
}
.chatPanel .mediaFullText .mediaContentP {
	margin:10px 15px 0px;
	border-bottom:1px solid #D3D8DC;word-break:normal;
	word-wrap:word-break;
}
.chatPanel .mediaFullText .mediaContent p{
	max-height:40px; overflow:hidden; font-size:14px; 
	line-height: 1.5em;
}
.chatPanel .media .mediaFooter {
	-webkit-border-radius:0px 0px 12px 12px;
	-moz-border-radius:0px 0px 12px 12px;
	border-radius:0px 0px 12px 12px;
	padding: 0 15px;
}
.chatPanel .media .mesgIcon {
	display:inline-block;
	height:19px;
	width:13px;
	margin:8px 0px -2px 4px;
	background:url(../images/ico-next2.png) no-repeat;
	background-size: 10px auto;
}
.chatPanel .media .mediaFooter .mesgIcon {
	margin:18px 3px 0 0;
}
/*pages*/
.pagination{
	height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    width: 320px;
	margin-bottom:50px;
}
.pagination div{
	display:inline-block;
}
.pagination a {
	margin: 0 ;
    padding: 6px 27px;
	border:1px solid #D1D1D1;
	background:#f7f7f7;
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f7f7f7));
	border-radius:20px;
	color:#666;
	text-shadow:0 1px #fff
}
.pagination a:hover {
	border:1px solid #bebebe;
	background:#fefefe;
	background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dadada));
}
.pagination a:active {
	background:#ececec
}
.pagination .disabled a, .pagination .disabled a:hover {
	background:none;
	border:1px solid #e6e6e6;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#A4A3A3;
	background-color:#FAFAFA;
}
.pagination .allpage{
	position: relative;
    text-align: center;
    vertical-align: baseline;
	display: inline-block;
}
.pagination .currentpage{
    line-height: 30px;
    width: 70px;
}
#dropdown-select{position:absolute;
	top:0;
	left:0;
	height:30px;
	width:70px;
	opacity:0;
}