<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        name="viewport">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>小区拼车发布</title>
    <link href="{MODULE_URL}template/css/css.css" rel="stylesheet" />
    <link href="{MODULE_URL}template/css/stylesheet.css" rel="stylesheet" />
    <style type="text/css">
    
input[type=text], input[type=number] {
    -webkit-box-flex: 1;
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px 5px;
    font-size: 14px;
    height: 30px;
    text-align: left;
    box-sizing: border-box;
}
</style>
</head>
<body style="padding-bottom: 60px; padding-top: 20px;">
    <div class="sq_box form_box">
        <div class="text_title">
            小区拼车发布
        </div>
        <form action="" method="post" onsubmit="return checkInfo(this);">
        <div class="form_text_div">
            <div class="form_name">标题：</div>
            <div class="form_input">
                <input id="title" name="title" type="text" placeholder="6-30字，不能写电话" maxlength="30" value="{$item['title']}"/>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name">起点：</div>
            <div class="form_input">
                <input id="start_position" name="start_position" type="text" placeholder="出发地点" maxlength="30" value="{$item['start_position']}"/>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name">终点：</div>
            <div class="form_input">
                <input id="end_position" name="end_position" type="text" placeholder="目的地" maxlength="30" value="{$item['end_position']}"/>
            </div>
        </div>
         <div class="form_text_div">
            <div class="form_name">时间：</div>
            <div class="form_input">
                <script type="text/javascript">  
                  document.write("<select  name='month' style='width:58px;'>");
                   for(var i=1;i<13;i++){
                        if( '{$item['month']}' == i)
                        {
                            sel = "selected = 'selected' ";
                        }
                        else{
                            sel = " ";
                        }
                        document.write("<option value= "+i+" "+sel+"/>"+i+'月'+"</option>");
                    }
                  document.write("</select>"); 
                </script>
                <script type="text/javascript">  
                  document.write("<select  name='yday' style='width:58px;'");
                   for(var i=1;i<32;i++){
                        if( '{$item['yday']}' == i)
                        {
                            sel = "selected = 'selected' ";
                        }
                        else{
                            sel = " ";
                        }
                        document.write("<option value= "+i+" "+sel+"/>"+i+'日'+"</option>");
                    }
                  document.write("</select>"); 
                </script>
                <script type="text/javascript">  
                  document.write("<select  name='startMinute' style='width:58px;'");
                   for(var i=0;i<24;i++){
                        if( '{$item['startMinute']}' == i)
                        {
                            sel = "selected = 'selected' ";
                        }
                        else{
                            sel = " ";
                        }
                        document.write("<option value= "+i+" "+sel+"/>"+i+'点'+"</option>");
                    }
                  document.write("</select>"); 
                </script>
                <script type="text/javascript">  
                  document.write("<select  name='startSeconds' style='width:58px;'");
                   for(var i=0;i<59;i++){
                        if( '{$item['startSeconds']}' == i)
                        {
                            sel = "selected = 'selected' ";
                        }
                        else{
                            sel = " ";
                        }
                        document.write("<option value= "+i+" "+sel+"/>"+i+'分'+"</option>");
                    }
                  document.write("</select>"); 
               </script>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name">座位：</div>
            <div class="form_input">
                <script type="text/javascript">  
                  document.write("<select  name='seat' >");
                   for(var i=1;i<10;i++){
                        if( '{$item['seat']}' == i)
                        {
                            sel = "selected = 'selected' ";
                        }
                        else{
                            sel = " ";
                        }
                        document.write("<option value= "+i+" "+sel+"/>"+i+'位'+"</option>");
                    }
                  document.write("</select>"); 
                </script>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name">价格：</div>
            <div class="form_input">
                <select name="sprice">
                    <option value="10" {if $item['sprice'] == 10}selected='selected'{/if}>10元/人</option>
                    <option value="20" {if $item['sprice'] == 20}selected='selected'{/if}>20元/人</option>
                    <option value="30" {if $item['sprice'] == 30}selected='selected'{/if}>30元/人</option>    
                    <option value="40" {if $item['sprice'] == 40}selected='selected'{/if}>40元/人</option>
                    <option value="50" {if $item['sprice'] == 50}selected='selected'{/if}>50元/人</option>
                    <option value="0"  {if $item['sprice'] == 0}selected='selected'{/if}>按实分摊元/人</option>
                </select>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name">姓名：</div>
            <div class="form_input">
                <input id="contact" name="contact" value="{$item['contact']}" type="text" placeholder="姓名" maxlength="11" value=""/>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name">电话：</div>
            <div class="form_input">
                <input id="mobile" name="mobile" value="{$item['mobile']}" type="text" placeholder="手机号码" maxlength="11" />
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_name_onliny">信息详情：</div>
            <div class="form_hint">
                    最多可输入300字
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_input">
                <textarea id="content" name="content" placeholder="信息详情" maxlength="300">{$item['content']}</textarea>
            </div>
        </div>
        <div class="form_text_div">
            <div class="form_btn_box">
                <button type="submit" style="width:200px;height:35px;line-height:35px;background-color:#5bc0de;color:white;border:0;margin:4px 0 0 10px;font-size:18px;border-radius: 5px;">提交</button>
                <!-- <button type="submit" name="submit" value="yes" class="form_btn" >提交</button> -->
                <input type="hidden" name="token" value="{$_W['token']}" />
            </div>
        </div>
        </form>
    </div>
    <a href="" class="bottom_menu" style="display:none">←返回 </a>
    <script type="text/javascript">
     <!--
    function checkInfo(form) {
        
        
        
        if (!form['content'].value) {
            alert('请输入内容。');
            return false;
        }
        if (!form['start_position'].value) {
            alert('请输入起点。');
            return false;
        }
        if (!form['end_position'].value ) {
            alert('请输入终点。');
            return false;
        }
        if (!form['zprice'].value) {
            alert(' 请输入转让价格。');
            return false;
        }
        if (!form['starttime'].value) {
            alert(' 请选择出发时间。');
            return false;
        }
    }
//-->
    </script>
</body>
</html>
