{template 'header'}
<link href="{MODULE_URL}template/css/css.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/stylesheet.css" rel="stylesheet" />
<link href="{MODULE_URL}template/css/theme2.css" rel="stylesheet" type="text/css" media="all">
<link href="{MODULE_URL}template/css/buttons.css" rel="stylesheet" type="text/css" media="all">
<div class="top_menu">
    拼车信息
</div>
<div class="top_menu_shadow"></div>
			<div class="pageContentWrapper">
				<h3 class="pageTitle">{$item['title']}</h3>
				<ul class="attr">
					<li class="full-w"> <b>出发地</b>
						<span class="text-sm text-success">{$item['start_position']}</span>
					</li>
					<li class="full-w"> <b>目的地</b>
						<span class="text-sm text-success">{$item['end_position']}</span>
					</li>
					<li class="full-w">
						<b>出发时间</b>
						<span class="text-primary">{php echo date('Y',TIMESTAMP)}-{$item['month']}-{$item['yday']} {$item['startMinute']}:{$item['startSeconds']}</span>
					</li>
					<li>
						<b>提供座位</b>
						<span class="label bg-info label-xs">{$item['seat']}位</span>
					</li>
					<li class="full-w">
						<b>单程价格</b>
						<span class="text-lg text-danger">{if empty($item['sprice'])}按实分摊元/人{else}{$item['sprice']}元/人{/if}</span>
					</li>
					<li class="full-w">
						<b>联系人</b>
						<span class="text-primary">{$item['contact']}</span>
					</li>
					<li class="full-w">
						<b>联系电话</b>
						<span class="tel">
							<a href="tel:18428102330">{$item['mobile']}</a>
						</span>
					</li>
					<li class="full-w">
						<b>发布时间</b>
						<span class="text-primary">{php echo date('Y-m-d H:i:s', $item['createtime'])}</span>
					</li>
				</ul>
				<a href="tel:{$item['mobile']}" class="baoming-btn button button-block button-rounded button-caution button-large">
					<i class="icon-phone"></i>
					拨打联系电话
				</a>

				<div class="hongdong_info" style="margin-bottom:100px;">
					<p class="info_title">
						<b>信息详情：</b>
					</p>
					<div class="info_content">{$item['content']}</div>
				</div>

			</div>

{template 'footer'}