.top{background:#49b44f;height: 2.4rem;padding: 0 0.5rem;overflow: hidden;position: fixed;top: 0;left: 0;right: 0;z-index: 99}
.rbgaBg{background:rgba(73,180,79,.8);}
.hLine{height: 2.4rem}
.top .logo{line-height: 2.4rem;}
.top .logo img{height: 1.3rem}
.topRight a{font-size: .7rem;color: #fff;display: inline-block;line-height: 2.4rem;}
.topRight a i{display: inline-block;background: url("../images/topicons.png") no-repeat;background-size: cover;width:1rem;height:1rem;vertical-align: middle}
.topRight a:first-child{margin-right: .5rem}
.topRight a:first-child i{margin-right: .5rem}
.topRight a.phone i{background-position: 0 0}
.topRight a.qq i{background-position: -1rem 0}
.nav{background: #fff}
.nav ul{text-align: center}
.nav ul li{display: inline-block;margin: 0 .4rem}
.nav ul li a{font-size: .7rem;display: inline-block;padding: .4rem 0}
.nav ul li.on a{color: #49b44f}
.title{background: #efefef;padding: .4rem .5rem;line-height: 1rem;}
.title h2{font-size: .7rem;font-weight: normal}
.title .more{font-size: .6rem;position: relative}
.title .more i{display: inline-block;margin-left: .4rem;width: 0.6rem;height: .35rem;background: url("../images/arrowicons.png") no-repeat 0 0;background-size: cover;vertical-align: middle;}
.title .more.on i{background-position: 0 -.35rem}
.tagList{width: 5rem;text-align: center;position: absolute;background: #fff;color: #9d9d9d;display: none;right: -.25rem;z-index: 11;}
.tagList ul li{border-bottom: 1px solid #eee}
.tagList ul li a{padding: 0.3rem 0;color: #9d9d9d;display: block;font-size: .6rem;}
.tagList ul li:hover a,.tagList ul li.on a{color: #49b44f}
.proList{padding: 0 .5rem;margin-right:-0.5rem;}
.proList ul li{float: left;margin-right: .5rem;margin-top: .5rem;width: 7.25rem;background: #f6f6f6;padding: .5rem 0;}
.proList ul li .iconbox{text-align: center;margin: .25rem 0}
.proList ul li img{height: 2rem}
.proList ul li h3{font-size: 0.6rem;font-weight: 500;text-align: center;color: #9d9d9d;padding: 0.1rem 0;overflow: hidden;text-overflow: clip;white-space: nowrap;letter-spacing: -1px;}
.proList ul li p{color: #C1C1C1;font-size: 0.5rem;padding: 0 .5rem;height: 1.45rem;overflow: hidden;}
.newsLsit{padding: 0 .5rem}
.newsLsit ul li{background: url("../images/dot.png") no-repeat left center;color: #9d9d9d;padding: .4rem 0;padding-left: .5rem;border-bottom: 1px solid #eee;}
.newsLsit ul li a{color: #9d9d9d;font-size: .6rem;width: 10rem;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;}
.newsLsit ul li .time{font-size: .6rem}
.newsLsit ul li:hover{background: url("../images/dot_hover.png") no-repeat left center;}
.newsLsit ul li:hover a{color: #49b44f}
.swiper-container-foot{}
.scroll-foot{}
.scroll-foot .swiper-slide{}
.scroll-foot .swiper-slide ul{display: block;overflow: hidden;margin-right: -.5rem}
.scroll-foot .swiper-slide ul li{float: left;margin: .5rem .35rem 0 0.35rem;width: 4.65rem;text-align: center}
.scroll-foot .swiper-slide ul li img{max-width:100%}
.scroll-foot .swiper-slide ul li h3{font-weight: normal;font-size: .6rem;height: .8rem;overflow: hidden;}
.footer{background: #444;padding: 0.5rem 0;}
.footer .link{text-align: center;margin-bottom:.25rem}
.footer .link ul li{display: inline-block;margin: 0 .25rem}
.footer .link ul li a{font-size: 0.6rem;}
.footer .desc{text-align: center}
.footer .desc p{font-size: 0.45rem;color: #7f7f7f;line-height: 1rem;}
.footer .desc p:first-child{font-size: 0.45rem;line-height: 1rem;}
.tabThis{}
.tabThis .hd ul{background: #efefef;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;box-orient: horizontal;display: -webkit-box;display: -moz-box;display: box;}
.tabThis .hd ul li{-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;text-align: center;border-bottom: 2px solid #efefef}
.tabThis .hd ul li.on{border-bottom-color: #49b44f}
.tabThis .hd ul li a{color: #3d3d3d;padding: 0.4rem 0;display: inline-block;font-size: 0.7rem;}
.newsRow{margin-top: .5rem;}
.newsRow ul{padding: 0 .5rem}
.newsRow ul li{}
.newsRow ul li .item{position: relative;display: block;}
.newsRow ul li .cnt{padding: .25rem .25rem .25rem 0;display: box;display: -webkit-box;display: -ms-flexbox;height: 4.5rem;width: 100%;overflow: hidden;float: left;}
.newsRow ul li img{width: 5rem;height: 4.5rem;}
.newsRow ul li .pic{margin-right: .5rem;background: center;}
.newsRow ul li .wrap1{-webkit-box-flex: 1;}
.newsRow ul li .wrap2{display: table;height: 4.5rem;width: 100%;}
.newsRow ul li .content{-webkit-box-flex: 1;box-flex: 1;-ms-box-flex: 1;-ms-flex: 1;display: table-cell;vertical-align: middle;overflow: hidden;}
.gist h3{font-weight: normal;font-size: .7rem;text-overflow: ellipsis;overflow: hidden;width: 9.9rem;white-space: nowrap;margin-bottom: .1rem;}
.gist p{font-size: .6rem}
.gist .time{font-size: .4rem;margin-top: .25rem}
.loadMore{text-align: center;margin: 1rem 0}
.loadMore a{font-size: .5rem}
.page .pageList a{font-size: .5rem;color: #a3a3a3;border: 1px solid #eee;padding: .15rem .4rem;display: inline-block;margin: 0 0.1rem;}
.page .pageList span{width: auto;display: inline-block;border: 1px solid #eee;text-align: center;cursor: pointer;padding: 0.15rem .4rem;font-size: .4rem;}
.page .pageList span.prev{margin-right: .1rem}
.page .pageList span.next{margin-left: .1rem}
.page .pageList a.current{background: #49b44f;color: #fff;border-color: #eee}
.swiper-slide-active img{-webkit-animation: pulse 3s ease .1s both;-moz-animation: pulse 3s ease .1s both;}
.swiper-pagination-bullet-active{background: #49b44f;}
.singleBanner{}
.singleBanner img{width: 100%}
.articleTab article{padding:1rem .5rem 2rem .5rem;font-size:.6rem}
.articleTab article img{max-height: 7.5rem}
.articleTab article p{}
.fun{position: relative}
.funIcons{padding: 1rem .25rem;min-height: 12rem;margin-right: -.25rem;}
.funIcons .row{display: none}
.funIcons .row:first-child{display: block}
.funIcons ul li{float: left;width:3.5rem;text-align: center;background: #f8f8f8;margin: .2rem;}
.funIcons ul li .iconbox{text-align: center;margin: .25rem 0;}
.funIcons ul li .iconbox img{height: 1.4rem;}
.funIcons ul li h3{font-size: 0.6rem;font-weight: 500;text-align: center;color: #9d9d9d;padding: .25rem 0;overflow: hidden;text-overflow: clip;white-space: nowrap;}
.tagShow{position: absolute;bottom: .5rem;right: 0px;width: 5rem}
.tagIcon{text-align: center}
.tagIcon img{width: 1.5rem;height: 1.5rem;}
.tagShow .tagList{position: relative;display: none;background: #49b44f;margin-bottom: .3rem;right: auto}
.tagShow .tagList ul li a{color: #fff}
.tagShow .tagList ul li:hover,.tagShow .tagList ul li.on{background: #fff}
.tagShow .tagList ul li:hover a,.tagShow .tagList ul li.on a{color: #49b44f}
.tagShow .tagList:after{content: "";width: 0;height: 0;border-left: 0.5rem solid transparent;border-right: 0.5rem solid transparent;border-top: 0.5rem solid #49B44F;font-size: 0;line-height: 0;position: absolute;bottom: -.45rem;left: 2rem;}
.funList ul{padding: 0 .5rem}
.funList ul li{margin-top:.5rem;background: #f8f8f8}
.funList ul li .item{position: relative;display: block;padding: 0 .5rem;}
.funList ul li .cnt{padding: .5rem 0;display: box;display: -webkit-box;display: -ms-flexbox;height: 3.5rem;width: 100%;overflow: hidden;float: left;}
.funList ul li img{width: 3.5rem;height: 3.5rem;}
.funList ul li .pic{margin-right: .5rem;background: center;}
.funList ul li .wrap1{-webkit-box-flex: 1;}
.funList ul li .wrap2{display: table;height: 3.5rem;width: 100%;}
.funList ul li .content{-webkit-box-flex: 1;box-flex: 1;-ms-box-flex: 1;-ms-flex: 1;display: table-cell;vertical-align: middle;overflow: hidden;}
.wdsList{padding: 0 .5rem;margin-right: -.5rem}
.wdsList ul li{float: left;margin-right: .5rem;margin-top: .5rem;width: 4.65rem;}
.wdsList ul li .iconbox{text-align: center;margin:.25rem 0}
.wdsList ul li img{height:4rem}
.wdsList ul li h3{font-size: 0.6rem;font-weight: 500;text-align: center;color: #9d9d9d;padding: .5rem 0;padding-bottom: 0;height: 1.55rem;overflow: hidden;}
.wdsList ul li p{color: #C1C1C1;font-size: 1.4rem;padding: 0 .5rem;height: 1.55rem;overflow: hidden;}

.floatBtn,.wfloatBtn{position: fixed;bottom: .1rem;right: .1rem;z-index: 99}
.floatBtn a,.wfloatBtn a{display: block;width:2rem;height: 2rem;background-repeat: no-repeat;background-size: cover;margin-bottom: .2rem;overflow: hidden}
.floatBtn a:nth-child(1){background-image:url(../images/floatqq.png)}
.floatBtn a:nth-child(2){background-image:url(../images/floatphone.png)}
.wfloatBtn a:nth-child(1){background-image:url(../images/wfloatqq.png)}
.wfloatBtn a:nth-child(2){background-image:url(../images/wfloatphone.png)}

.proList ul li:nth-child(1){-webkit-animation:bounceInLeft 1s 0s ease both;}
.proList ul li:nth-child(2){-webkit-animation:bounceInRight 1s 0s ease both;}
.proList ul li:nth-child(3){-webkit-animation:bounceInLeft 1s .5s ease both;}
.proList ul li:nth-child(4){-webkit-animation:bounceInRight 1s .5s ease both;}
.proList ul li:nth-child(5){-webkit-animation:bounceInLeft 1s 1s ease both;}
.proList ul li:nth-child(6){-webkit-animation:bounceInRight 1s 1s ease both;}

.wdsList ul li:nth-child(1){-webkit-animation:bounceInLeft 1s 1s ease both;}
.wdsList ul li:nth-child(2){-webkit-animation:bounceInLeft 1s .5s ease both;}
.wdsList ul li:nth-child(3){-webkit-animation:bounceInLeft 1s 0s ease both;}
.wdsList ul li:nth-child(4){-webkit-animation:bounceInRight 1s 0s ease both;}
.wdsList ul li:nth-child(5){-webkit-animation:bounceInRight 1s .5s ease both;}
.wdsList ul li:nth-child(6){-webkit-animation:bounceInRight 1s 1s ease both;}

.funList ul li.animate .item{-webkit-animation:slideInRight 1s 0s ease both;}

.page .pageList a ,.page .pageList span{
display:none;
}
.page .pageList a.a1 {
display:inline-block;
}



.funIcons .row{
    -webkit-animation:fadeInUp 1s .2s ease both;
    -moz-animation:fadeInUp 1s .2s ease both;}
@-webkit-keyframes fadeInUp{
    0%{opacity:0;
        -webkit-transform:translateY(20px)}
    100%{opacity:1;
        -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
    0%{opacity:0;
        -moz-transform:translateY(20px)}
    100%{opacity:1;
        -moz-transform:translateY(0)}
}
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes pulse{0%{-webkit-transform: scale(1);}
    50%{-webkit-transform: scale(1.1);}
    100%{-webkit-transform: scale(1);}}
@-moz-keyframes pulse{0%{-moz-transform: scale(1);}
    50%{-moz-transform: scale(1.1);}
    100%{-moz-transform: scale(1);}}
@-o-keyframes pulse{0%{-o-transform: scale(1);}
    50%{-o-transform: scale(1.1);}
    100%{-o-transform: scale(1);}}
@keyframes pulse{0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}}
@-webkit-keyframes bounceInLeft{0%{opacity: 0;-webkit-transform: translateX(-2000px);}
    60%{opacity: 1;-webkit-transform: translateX(30px);}
    80%{-webkit-transform: translateX(-10px);}
    100%{-webkit-transform: translateX(0);}}
@-moz-keyframes bounceInLeft{0%{opacity: 0;-moz-transform: translateX(-2000px);}
    60%{opacity: 1;-moz-transform: translateX(30px);}
    80%{-moz-transform: translateX(-10px);}
    100%{-moz-transform: translateX(0);}}
@-o-keyframes bounceInLeft{0%{opacity: 0;-o-transform: translateX(-2000px);}
    60%{opacity: 1;-o-transform: translateX(30px);}
    80%{-o-transform: translateX(-10px);}
    100%{-o-transform: translateX(0);}}
@keyframes bounceInLeft{0%{opacity: 0;transform: translateX(-2000px);}
    60%{opacity: 1;transform: translateX(30px);}
    80%{transform: translateX(-10px);}
    100%{transform: translateX(0);}}
@-webkit-keyframes bounceInRight{0%{opacity: 0;-webkit-transform: translateX(2000px);}
    60%{opacity: 1;-webkit-transform: translateX(-30px);}
    80%{-webkit-transform: translateX(10px);}
    100%{-webkit-transform: translateX(0);}}
@-moz-keyframes bounceInRight{0%{opacity: 0;-moz-transform: translateX(2000px);}
    60%{opacity: 1;-moz-transform: translateX(-30px);}
    80%{-moz-transform: translateX(10px);}
    100%{-moz-transform: translateX(0);}}
@-o-keyframes bounceInRight{0%{opacity: 0;-o-transform: translateX(2000px);}
    60%{opacity: 1;-o-transform: translateX(-30px);}
    80%{-o-transform: translateX(10px);}
    100%{-o-transform: translateX(0);}}
@keyframes bounceInRight{0%{opacity: 0;transform: translateX(2000px);}
    60%{opacity: 1;transform: translateX(-30px);}
    80%{transform: translateX(10px);}
    100%{transform: translateX(0);}}
