/*--------------------------------------------*/
/*特色文化，主页样式*/
#container {
	width: 100%;
	margin: 0 auto;
}
.container ul li a:hover{
	background:#35b543;   
	float:left; 
	width:100%; 
	height: 100%;
}

.container ul {
	background: url(../images/bj.png) center no-repeat;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
	-moz-background-size:100% 100%;  
    background-size:100% 100%;
    padding-left:0px;
}
.container .bg{
	background: rgba(63, 79, 92, 0.4);
}
.container ul li {
	height: 65px;
	background: url(../images/s_3.png) left top no-repeat;
	border-bottom: solid 1px #e1e0e1;
}
.container .title{
	float: left;
	width: 42%;
	height: 65px;
	line-height: 65px;
	padding-left: 8px;
}
.container .title dd{
	font-size: 19px;
	color: #fff;
	letter-spacing: 1px;
	font-family: "黑体";
}
.container .right{
	float: left;
	width: 35%;
	height: 65px;
	background: url(../images/right.png) center no-repeat;
}
.container .video-img {
	float: left;
	width: 20%;
	height: 65px;
	background: url(../images/video.png) center no-repeat;
}
.container .music-img {
	float: left;
	width: 20%;
	height: 65px;
	background: url(../images/music.png) center no-repeat;
}
.container .photo-img {
	float: left;
	width: 20%;
	height: 65px;
	background: url(../images/photo.png) center no-repeat;
}
.container .article-img {
	float: left;
	width: 20%;
	height: 65px;
	background: url(../images/article.png) center no-repeat;
}
.container .ancestor-img {
	float: left;
	width: 20%;
	height: 65px;
	background: url(../images/ancestor.png) center no-repeat;
}
.container .lie-img {
	float: left;
	width: 20%;
	height: 65px;
	background: url(../images/lie.png) center no-repeat;
}
.container .cate-img {
	float: left;
	width: 20%;
	height: 65px;
	background: url(../images/cate.png) center no-repeat;
}
.container .building-img {
	float: left;
	width: 20%;
	height: 65px;
	background: url(../images/building.png) center no-repeat;
}
/*--------------------------------------------*/
/*特色文化，视频样式*/
.video-box ul {
	width: 100%;
	height: auto;
	background: #fcfcfc;
}
.video-box ul li {
}
.video-box ul li .video{
	background: url(../images/s_3.png) left top no-repeat;
	padding:10px; 
	border-bottom:solid 1px #f2f2f2; 
	position:relative; 
	height:40px
}
.video-box ul li .video img{
	position:absolute;
	margin:0px auto;
	border-radius:50%;
	width: 42px;
	height: 42px;
	border: solid 2px #b6e0b8;
}
.video-box ul li .video .video_text{
	font-size:15px;
	position:absolute;
	width: 210px;
	padding-left: 70px;
	top: 20px;
}
.video-box ul li .video .video_button{
	padding-right:15px;
	position:absolute;
	right:0;
	width:75px;
	height:24px;
	display:block;
	top: 18px;
}
.video-box ul li .video .video_button a{
	position:absolute;
	width:75px;
	height:24px;
	background:url(../images/video_bt.png) no-repeat
}
.video-box ul li .video .video_button a:hover{
	width:75px;
	height:24px;
	background:url(../images/video_bt_1.png) no-repeat
}
#video_player{
	position: fixed;
	bottom: -345px;
	left: 0px;
	width: 100%;
	background: #1d1d1d;
	z-index: 999;
	text-align: center;
}
#video_player .title{
	background: black url(../images/player_arrow.png) no-repeat center;
	width: 100%; height: 25px; line-height: 25px;
	color: #fff;
	cursor: pointer;
}
#video_player .wrap{
	height: 320px;
}
/*--------------------------------------------*/
/*特色文化，音乐样式*/
em{font-style:normal};
.music-box ul {
	height: auto;
	background: #fcfcfc;
}
.music-box ul li {
	background: url(../images/s_3.png)  no-repeat left top;
	height: 60px;
	border-bottom: solid 1px #e7e7e7;
}

.music-box .img{
	float: left;
	width: 20%;
	height: 60px;
	background: url(../images/icon_music_left.png) center no-repeat;
}
.music-box .title{
	float: left;
	width: 65%;
	height: 60px;
	padding-left: 5px;
}
.music-box .title .txt{
	font-size: 17px;
	color: #000;
	letter-spacing: 1px;
	padding-top: 8px;
}
.music-box .title em{
	font-family: "黑体";
}
.music-box .right{
	float: left;
	width: 13%;
	height: 60px;
}
.music-box .right dd{
	padding-top: 20px;
}
.music-box .right .music.play {
	width: 35px;
	height: 35px;
	background: url("../images/icon_music_play.png")  no-repeat;
}
.music-box .right .music.pause {
	width: 35px;
	height: 35px;
	background: url("../images/icon_music_pause.png") no-repeat;
}
/*--------------------------------------------*/
/*特色文化，照片样式*/
.photo-box ul {
    background: url(../images/bj.png) no-repeat fixed ;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
	-moz-background-size:100% 100%;  
    background-size:100% 100%;
}
.photo-box ul li {
	height: auto;
}

.photo-box ul li .line{
	float: left;
	position: relative;	
	width: 48%;
	padding-left: 5px;
	padding-top: 5px;
	margin-bottom: 2px;
}

.photo-box ul li .line .img img{
	width: 100%;
	height: 140px;
	border-bottom: solid 2px #35b543;
}

.photo-box ul li .line .text{
	background:#fff url(../images/d_3.png) no-repeat right bottom;
	padding-bottom: 10px;
}

.photo-box ul li .line .text .title{
	width:90%; 
	white-space:nowrap; 
	word-break:keep-all; 
	overflow:hidden; 
	text-overflow:ellipsis;
	font-weight:bold;
	font-family: "黑体";
	font-size: 15px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.photo-box ul li .line .text .txt{
	background: url("../images/pz.png") no-repeat 13px;
	padding-left: 33px;
	font-size:12px;
	letter-spacing: 1px;
}

/*--------------------------------------------*/
/*特色文化，文章列表样式*/
.people-box ul {
	height: auto;
	overflow:hidden;
	margin-top: 1px;
}

.people-box ul li{
	background:#fcfcfc url(../images/s_3.png) no-repeat ;
	padding-top: 12px;
	padding-bottom: 8px;
}

.people-box ul li .img{
	height: 120px;
	padding-left: 12px;
	float: left;
	position: relative;	
	margin-right: 20px;
}

.people-box ul li .text{
	float: left;
	position: relative;	
	width: 52%;
	padding-bottom: 25px;
	border-bottom: solid 1px #868887;
}


.people-box ul li .text .title{
	color: #35b543; 
	font-size: 18px;
	font-family: "黑体";
}

.people-box ul li  .text .txt{
	font-size: 15px;
	font-family: "黑体";
}

.people-box ul li .right{
	background: #35b543;
	width: 6px;
	height: 115px;
	margin-left: 98.5%;
	margin-bottom: 5px;
}

/*--------------------------------------------*/
/*特色文化，文章内容样式*/
.people-detail {
	border: solid 1px #ddd;
	background: #fff;
	padding: 0 10px 10px;
}
.people-detail .title {
	color: #35b543;
	font-size: 18px;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #ddd;
	text-align: center;
	margin-bottom: 5px;
}
.people-detail .content {
	color: #999;
	line-height: 24px;
}
.people-detail .content p {
	margin: 6px 0;
	font-size: 12px;
}