
<!--正文导航-->
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta content="telephone=no" name="format-detection" /> 
        <meta name="google-site-verification" content="DVVM1p1HEm8vE1wVOQ9UjcKP--pNAsg_pleTU5TkFaM">
        <style>
            body > a:first-child,body > a:first-child img{ width: 0px !important; height: 0px !important; overflow: hidden; position: absolute}
            body{padding-bottom: 0 !important;}
        </style>
        <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <title>找老师</title>
		<link rel="stylesheet" href="{OSSURL}public/mobile/css/weixin.css?{php echo time()}">
        <link rel="stylesheet" href="{OSSURL}public/mobile/css/reset.css?{php echo time()}">
        <script src="{OSSURL}public/mobile/js/jquery.js?{php echo time()}"></script>
<style>
    body{ position: relative; top: 0; bottom: 0; left: 0; right:0;}
    
</style>
</head>
<body>
<div id="wrap" class="teacher_inf">
        <dl id="main">
            <dd class="teacher_inf">
                <div class="teacher">
                    <div style=" background-image:url({php echo tomedia($item['thumb']);})"></div>
                </div>
                <ul>
                    <li><label>教&nbsp;&nbsp;&nbsp;&nbsp;师：</label>{$item['tname']}</li>
                    <li><label>授课科目：</label>{if !empty($category[$item['km_id1']])}{$category[$item['km_id1']]['sname']}&nbsp;{/if}{if !empty($category[$item['km_id2']])}{$category[$item['km_id2']]['sname']}&nbsp;{/if}</li>
                    <li><label>授课年级：</label><span>{if !empty($category[$item['bj_id1']])}{$category[$item['bj_id1']]['sname']}&nbsp;{/if}{if !empty($category[$item['bj_id2']])}{$category[$item['bj_id2']]['sname']}&nbsp;{/if}{if !empty($category[$item['bj_id3']])}{$category[$item['bj_id3']]['sname']}&nbsp;{/if}</span></li>
                </ul>               
                <div style="clear:both"></div>
            </dd>
            <dd class="teacher_count">
                <h3>所带班级</h3>
                   <ul>
				   {loop $list $it}
                           <li class="{if $it['end'] < TIMESTAMP}closed{/if}" href="#">
                                <h4>{$it['name']}</h4>{if $it['is_hot'] == 1}<p>精品课</p>{/if}
                                <span> {php echo date('Y/m/d',$it['start'])}-{php echo date('Y/m/d',$it['end'])}</span>
                                <span> {if !empty($category[$it['bj_id']])}{$category[$it['bj_id']]['sname']}{/if}</span>
                                <span> {if !empty($category[$it['km_id']])}{$category[$it['km_id']]['sname']}{/if}</span>
								{if $it['end']<TIMESTAMP}
								<div class="hot">
                                    <div style="font-size:12px;">已完</div>                                   
                                    <a href="{php echo $this->createMobileUrl('kcinfo', array('id' => $it['id'], 'schoolid' =>$it['schoolid']), true)}">查看详情</a>
                                </div>
								{else}
                                <div class="add">
                                    <div style="font-size:12px;">{php echo pdo_fetchcolumn("select count(*) FROM ".tablename('wx_school_kcbiao')." WHERE kcid = '".$it['id']."'")}节</div>
                                    <span>剩余{php echo pdo_fetchcolumn("select count(*) FROM ".tablename('wx_school_kcbiao')." WHERE date>'".TIMESTAMP."' And kcid = '".$it['id']."'")}节</span>
                                    <a href="{php echo $this->createMobileUrl('kcinfo', array('id' => $it['id'],'schoolid' =>$it['schoolid']), true)}">查看详情</a>
                                </div>
								{/if}
                           </li>
					{/loop}		
                   </ul>


            </dd>

            <dd class="teacher_introduce">
                <h3>教师简介</h3>
                <article>
                    <header>教学成果</header>
                    <section>{$item['info']}</section>
                </article>
                <article>
                    <header>教学经验</header>
                    <section>{$item['jinyan']}</section>
                </article>
                <article>
                    <header>教学特点</header>
                    <section>{$item['headinfo']}</section>
                </article>
            </dd>

        </dl>
    </div>
   {php include $this->template('footer');}	
</body>
</html>