
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$_W['uniaccount']['name']}</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<link type="text/css" rel="stylesheet" href="{OSSURL}public/mobile/css/mMessageList.css?v=4.80219" />
<link type="text/css" rel="stylesheet" href="{OSSURL}public/mobile/css/greenStyle.css?v=4.80120" />
<script type="text/javascript" src="{OSSURL}public/mobile/js/jquery-1.11.3.min.js?v=4.8"></script>

</head>
<body>
<div class="all">
<style>
.swiper-slide {
    text-align:center;
    background:#000;

    /* Center slide text vertically */
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items:center;
}
</style>
<div class="swiper-container" style="display:none">
    <div class="swiper-wrapper">
        <div class="swiper-slide"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>

<div id="BlackBg" class="BlackBg"></div>
<div id="titlebar" class="header mainColor">
	<div class="l"><a class="backOff" href="javascript:history.go(-1);"></a></div>
	<div class="m">
	<span>家长留言列表</span>
	</div>
		<div class="r">
			<a href="#my-menu"></a>
		</div>
	</div>
<div id="titlebar_bg" class="_header"></div>

		
		
		<!-- 我的消息 start -->
		
		<div id= "myMessage"class="tab">
		{if $teachers['id'] == $bzrtid1}
		{loop $leave1 $item}
		<ul>
	        <a href="{php echo $this->createMobileUrl('tjiaoliu', array('schoolid' => $schoolid, 'id' => $item['id'], 'leaveid' => $item['leaveid']), true)}">
			    <li class="messageItem">
			      <div class="avatar">
                      <img class="l" src="{$member[$item['uid']]['avatar']}" alt="头像">
					  {if $item['status'] == 0}
		              <div class="unread l"></div>
					  {else}
                      <div class="l"></div>
					  {/if}
			      </div>
				  <input id="leaveid" type="hidden" value="{$item['id']}" />
			      <div class="msgBody">
			         <div class="msgHeader">
			         <div class="msgTitle">与|{$student[$item['sid']]['s_name']}|{if $student[$item['sid']]['mom'] == $item['openid']}母亲{else if $student[$item['sid']]['dad'] == $item['openid']}父亲{else if $student[$item['sid']]['own'] == $item['openid']}学生本人{/if}的对话</div>
			      </div>
		             <div class="msgContent">{$item['conet']}</div>
		             <div class="msgSender l">{$category[$item['bj_id']]['sname']}</div>
			         <div class="msgTime l">{php echo (date('Y-m-d H:m:s',$item['createtime']))} </div>
			      </div>
			   </li>
			</a>
        </ul>
		{/loop}	
		{/if}
		{if $teachers['id'] == $bzrtid2}
		{loop $leave2 $item}
		<ul>
	        <a href="{php echo $this->createMobileUrl('tjiaoliu', array('schoolid' => $schoolid, 'id' => $item['id'], 'leaveid' => $item['leaveid']), true)}">
			    <li class="messageItem">
			      <div class="avatar">
                      <img class="l" src="{$member[$item['uid']]['avatar']}" alt="头像">
					  {if $item['status'] == 0}
		              <div class="unread l"></div>
					  {else}
                      <div class="l"></div>
					  {/if}
			      </div>
				  <input id="leaveid" type="hidden" value="{$item['id']}" />
			      <div class="msgBody">
			         <div class="msgHeader">
			         <div class="msgTitle">与|{$student[$item['sid']]['s_name']}|{if $student[$item['sid']]['mom'] == $item['openid']}母亲{else if $student[$item['sid']]['dad'] == $item['openid']}父亲{else if $student[$item['sid']]['own'] == $item['openid']}学生本人{/if}的对话</div>
			      </div>
		             <div class="msgContent">{$item['conet']}</div>
		             <div class="msgSender l">{$category[$item['bj_id']]['sname']}</div>
			         <div class="msgTime l">{php echo (date('Y-m-d H:m:s',$item['createtime']))}</div>
			      </div>
			   </li>
			</a>
        </ul>
		{/loop}	
		{/if}
		{if $teachers['id'] == $bzrtid3}
		{loop $leave3 $item}
		<ul>
	        <a href="{php echo $this->createMobileUrl('tjiaoliu', array('schoolid' => $schoolid, 'id' => $item['id'], 'leaveid' => $item['leaveid']), true)}">
			    <li class="messageItem">
			      <div class="avatar">
                      <img class="l" src="{$member[$item['uid']]['avatar']}" alt="头像">
					  {if $item['status'] == 0}
		              <div class="unread l"></div>
					  {else}
                      <div class="l"></div>
					  {/if}
			      </div>
				  <input id="leaveid" type="hidden" value="{$item['id']}" />
			      <div class="msgBody">
			         <div class="msgHeader">
			         <div class="msgTitle">与|{$student[$item['sid']]['s_name']}|{if $student[$item['sid']]['mom'] == $item['openid']}母亲{else if $student[$item['sid']]['dad'] == $item['openid']}父亲{else if $student[$item['sid']]['own'] == $item['openid']}学生本人{/if}的对话</div>
			      </div>
		             <div class="msgContent">{$item['conet']}</div>
		             <div class="msgSender l">{$category[$item['bj_id']]['sname']}</div>
			         <div class="msgTime l">{php echo (date('Y-m-d H:m:s',$item['createtime']))}</div>
			      </div>
			   </li>
			</a>
        </ul>
		{/loop}	
		{/if}		
		</div>
		
		<!-- 我的消息 end -->
				
		<div style="display:none;" id="oWindow" class="mainColor PromptBox"></div>
	</div>
	
</body>
<script type="text/javascript" src="{OSSURL}public/mobile/js/PromptBoxUtil.js?v=4.81022"></script>
<!-- Json处理工具 -->
</html>