/*手机端样式*/
.arrowbox {display:block; height:325px;background-color:{if empty($_W['styles']['indexbgcolor'])}#FFF{else}{$_W['styles']['indexbgcolor']}{/if};}
.arowbg {display:block; position:relative; width:300px; margin:0 auto; height:300px; padding:20px 0;}
.maskshow {display:block; position:absolute; width:300px; height:300px; z-index:99; background:#d6d6d6;-webkit-border-radius:50%;-moz-border-radius:50%; border-radius:50%;-webkit-animation:maskshow 1.5s ease both;-moz-animation:maskshow 1.5s ease both;}

@-webkit-keyframes maskshow{0%{-webkit-transform:scale(1)}100%{-webkit-transform:scale(0)}}
@-moz-keyframes maskshow{0%{-moz-transform:scale(1)}100%{-moz-transform:scale(0)}}

.icon01{height:90px; width:90px; display:block; position:relative; margin:0 auto;}
.arrow01{width:90px;}
.arrow01:before{content:''; height:90px; width:90px; display:block; position:absolute; top:2px; left:0px; z-index:0; background:#19b8e2;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; color:#fff; text-align:center;}
.arrow01:after{content:''; height:0px; width:0px; display:block; position:absolute; top:58px; left:1px; border:50px transparent solid; border-top-color:#19b8e2; border-width:80px 44px 0px 44px; }

.icon02{height:90px; width:90px; display:block; position:absolute; right:15px; top:74px;-webkit-transform:rotate(61deg);-moz-transform:rotate(61deg); transform:rotate(61deg);}
.arrow02{width:90px;}
.arrow02:before{content:''; height:90px; width:90px; display:block; position:absolute; top:2px; left:0px; z-index:0; background:#1ca555;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; color:#fff; text-align:center;}
.arrow02:after{content:''; height:0px; width:0px; display:block; position:absolute; top:58px; left:1px; border:50px transparent solid; border-top-color:#1ca555; border-width:80px 44px 0px 44px; }

.icon03{height:90px; width:90px; display:block; position:absolute; right:15px; bottom:37px;-webkit-transform:rotate(119deg);-moz-transform:rotate(119deg); transform:rotate(119deg);}
.arrow03{width:90px;}
.arrow03:before{content:''; height:90px; width:90px; display:block; position:absolute; top:2px; left:0px; z-index:0; background:#ed5c2f;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; color:#fff; text-align:center;}
.arrow03:after{content:''; height:0px; width:0px; display:block; position:absolute; top:58px; left:1px; border:50px transparent solid; border-top-color:#ed5c2f; border-width:80px 44px 0px 44px; }

.icon04{height:90px; width:90px; display:block; position:relative; top:115px; margin:0 auto;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg); transform:rotate(180deg);}
.arrow04{width:90px;}
.arrow04:before{content:''; height:90px; width:90px; display:block; position:absolute; top:2px; left:0px; z-index:0; background:#df982e;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; color:#fff; text-align:center;}
.arrow04:after{content:''; height:0px; width:0px; display:block; position:absolute; top:58px; left:1px; border:50px transparent solid; border-top-color:#df982e; border-width:80px 44px 0px 44px; }

.icon05{height:90px; width:90px; display:block; position:absolute; left:15px; bottom:37px;-webkit-transform:rotate(241deg);-moz-transform:rotate(241deg); transform:rotate(241deg);}
.arrow05{width:90px;}
.arrow05:before{content:''; height:90px; width:90px; display:block; position:absolute; top:2px; left:0px; z-index:0; background:#2481d1;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; color:#fff; text-align:center;}
.arrow05:after{content:''; height:0px; width:0px; display:block; position:absolute; top:58px; left:1px; border:50px transparent solid; border-top-color:#2481d1; border-width:80px 44px 0px 44px; }

.icon06{height:90px; width:90px; display:block; position:absolute; left:16px; top:74px;-webkit-transform:rotate(299deg);-moz-transform:rotate(299deg); transform:rotate(299deg);}
.arrow06{width:90px;}
.arrow06:before{content:''; height:90px; width:90px; display:block; position:absolute; top:2px; left:0px; z-index:0; background:#e54372;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; color:#fff; text-align:center;}
.arrow06:after{content:''; height:0px; width:0px; display:block; position:absolute; top:58px; left:1px; border:50px transparent solid; border-top-color:#e54372; border-width:80px 44px 0px 44px; }


.contbox01 {display:block; position:relative; z-index:2; padding:10px 20px; line-height:2; color:#fff; text-align:center; font-size:1.2rem;}
.contbox02 {display:block; position:relative; z-index:2; padding:20px; line-height:2; color:#fff; text-align:center; font-size:1.2rem;-webkit-transform:rotate(-61deg);-moz-transform:rotate(-61deg); transform:rotate(-61deg);}
.contbox03 {display:block; position:relative; z-index:2; padding:20px; line-height:2; color:#fff; text-align:center; font-size:1.2rem;-webkit-transform:rotate(-119deg);-moz-transform:rotate(-119deg); transform:rotate(-119deg);}
.contbox04 {display:block; position:relative; z-index:2; padding:20px; line-height:2; color:#fff; text-align:center; font-size:1.2rem;-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg); transform:rotate(-180deg);}
.contbox05 {display:block; position:relative; z-index:2; padding:20px; line-height:2; color:#fff; text-align:center; font-size:1.2rem;-webkit-transform:rotate(-241deg);-moz-transform:rotate(-241deg); transform:rotate(-241deg);}
.contbox06 {display:block; position:relative; z-index:2; padding:20px; line-height:2; color:#fff; text-align:center; font-size:1.2rem;-webkit-transform:rotate(-299deg);-moz-transform:rotate(-299deg); transform:rotate(-299deg);}


