<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>{if $set['copyright']}{$set['copyright']}{else}{$_W['account']['name']}{/if}</title>
    <link rel="stylesheet" href="../addons/amouse_clear_stock/style/css/foundation.css?version=20150101"/>
    <link rel="stylesheet" href="../addons/amouse_clear_stock/style/css/main.css?version=20150221"/>
    <script src="../addons/amouse_clear_stock/style/js/modernizr.js?version=20150221"></script>
    <script src="../addons/amouse_clear_stock/style/js/jquery.js?version=20150221"></script>
    <script src="../addons/amouse_clear_stock/style/js/foundation.js?version=20150221"></script>
    <script src="../addons/amouse_clear_stock/style/js/main.js?version=20150221"></script>
    <link rel="stylesheet" href="../addons/amouse_clear_stock/style/css/view_detail.css?version=20150101"/>
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="dialog" id="tip">
            <div class="dialog-cnt">
                <div class="dialog-bd"><h3>提示</h3>

                    <p class="text"></p><a class="button correct-btn" id="alert_ok">确&nbsp;&nbsp;定</a></div>
            </div>
        </div>
        <div class="person-intro box">
            <div class="row">
                <div class="small-3 columns">
                    <div class="portrait">
                        <img src="{php echo strpos($card['headimgurl'],'http://')===FALSE?tomedia($card['headimgurl']):$card['headimgurl']}" />
                    </div>
                </div>
                <div class="small-9 columns"><p>用户名：{$card['nickname']}</p>

                    <p>微信号：{$card['wechatno']}</p>

                    <p>人&nbsp;&nbsp; 气：{$card['hot']}</p>

                    <p>地&nbsp;&nbsp; 址：{$card['location_p']}{$card['location_c']}</p>
                </div>
            </div>
        </div>
        <div class="intro-list box"><p class="subtitle">个人介绍</p>

            <div class="line"></div>
            <div class="row">
                <div class="small-9 columns"><p style="min-height: 30px; ">{$card['intro']}</p></div>
            </div>
        </div>
        <div class="intro-list box"><p class="subtitle">个人二维码</p>

            <div class="line"></div>
            <div class="row">
                <div class="columns right-icon">
                    <img style="" src="{php echo strpos($card['qrcode'],'http://')===FALSE?(tomedia($card['qrcode'])):$card['qrcode']}"><br>
                    <br/>
                    <p>1. 长按二维码加粉
                    <p>2. 添加时注明：{if $set['copyright']}{$set['copyright']}{else}{$_W['account']['name']}{/if}</p></div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns publish"><a class="button btn"
                                                     href="{$set['useurl']}">新手攻略</a>
            </div>
        </div>

    </div>
</div>

{template 'footerbar'}
<script>
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
    var $free_vip = getCookie('free_vip');
    $('.free_vip1').click(function () {
        if ($free_vip == '') {
            $('#alert_ok').attr("href", '/index.php?m=Invite');
            $('#alert_ok').text('分享到朋友圈成为脉客');
            new_alert('您还不是脉客或者已到期！分享指定文章到朋友圈即可成为脉客');
            return false;
        }
    });
</script>
<script>    $(document).foundation();
alert_ok = null;
function new_alert(msg, cb) {
    alert_ok = cb;
    $('#tip .text').html(msg);
    $('#tip').show();
}
old_alert = window.alert;
window.alert = new_alert;
$('#alert_ok').click(function () {
    if (alert_ok) {
        alert_ok();
    }
    $('#tip').hide();
});
</script>

<!-- 统计代码 -->
<div style="display:none;">
    <script src="http://s11.cnzz.com/stat.php?id=1257185828&web_id=1257185828" language="JavaScript"></script>
</div>
</body>
</html>