.container {
    width: 960px;
    height: 470px;
    position: relative;
}

.container .begin {
    margin-top: 12px;
}

.container .begin>div {
    margin: 0 auto;
    width: 500px;
}

.container .begin .tips {
    height: 340px;
    background: url('shake_begin.png') no-repeat 13px 10px;
    background-size: 400px;
}

.container .begin .tips .circle {
    position: relative;
    left: 154px;
    top: 27px;
    width: 178px;
    height: 178px;
    border-radius: 100px;
    overflow: hidden;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}

.container .begin .tips>span {
    display: block;
    height: 52px;
    color: #fff604;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 59px;
    overflow: hidden;
}

.container .begin .tips .circle img {
    width: 120px;
    position: absolute;
    top: 30px;
    left: 30px;
    display: block;
}

.container .begin .button {
    height: 100px;
    text-align: center;
}

.container .begin .button span {
    display: inline-block;
    background: url('shake_begin_button.png') center no-repeat;
    background-size: 256px;
    width: 256px;
    height: 100px;
    cursor: pointer;
}

@-webkit-keyframes wobble {
    0% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
    15% {
        -webkit-transform: translateX(-13px) rotate(-2deg);
        opacity: 1;
    }
    30% {
        -webkit-transform: translateX(10px) rotate(1deg);
        opacity: 1;
    }
    45% {
        -webkit-transform: translateX(-8px) rotate(-2deg);
        opacity: 1;
    }
    60% {
        -webkit-transform: translateX(5px) rotate(1deg);
        opacity: 1;
    }
    75% {
        -webkit-transform: translateX(-3x) rotate(-0.5deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

@-moz-keyframes wobble {
    0% {
        -moz-transform: translateX(0);
        opacity: 1;
    }
    15% {
        -moz-transform: translateX(-13px) rotate(-2deg);
        opacity: 1;
    }
    30% {
        -moz-transform: translateX(10px) rotate(1deg);
        opacity: 1;
    }
    45% {
        -moz-transform: translateX(-8px) rotate(-2deg);
        opacity: 1;
    }
    60% {
        -moz-transform: translateX(5px) rotate(1deg);
        opacity: 1;
    }
    75% {
        -moz-transform: translateX(-3x) rotate(-0.5deg);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(0);
        opacity: 1;
    }
}

@-ms-keyframes wobble {
    0% {
        -ms-transform: translateX(0);
        opacity: 1;
    }
    15% {
        -ms-transform: translateX(-13px) rotate(-2deg);
        opacity: 1;
    }
    30% {
        -ms-transform: translateX(10px) rotate(1deg);
        opacity: 1;
    }
    45% {
        -ms-transform: translateX(-8px) rotate(-2deg);
        opacity: 1;
    }
    60% {
        -ms-transform: translateX(5px) rotate(1deg);
        opacity: 1;
    }
    75% {
        -ms-transform: translateX(-3x) rotate(-0.5deg);
        opacity: 1;
    }
    100% {
        -ms-transform: translateX(0);
        opacity: 1;
    }
}

@keyframes wobble {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    15% {
        transform: translateX(-13px) rotate(-2deg);
        opacity: 1;
    }
    30% {
        transform: translateX(10px) rotate(1deg);
        opacity: 1;
    }
    45% {
        transform: translateX(-8px) rotate(-2deg);
        opacity: 1;
    }
    60% {
        transform: translateX(5px) rotate(1deg);
        opacity: 1;
    }
    75% {
        transform: translateX(-3x) rotate(-0.5deg);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.a-wobble {
    -webkit-animation: 1s 1s ease infinite forwards;
    -moz-animation: 1s 1s ease infinite forwards;
    -ms-animation: 1s 1s ease infinite forwards;
    animation: 1s 1s ease infinite forwards;
}

.a-wobble {
    -webkit-animation-name: wobble;
    -moz-animation-name: wobble;
    -ms-animation-name: wobble;
    animation-name: wobble;
}

.container .ing {
    position: absolute;
    width: 100%;
    height: 460px;
    left: 0;
    top: 0;
}

.container .ing .tips {
    width: 100%;
    height: 340px;
    background: url('shake_ing.png') no-repeat 13px 10px;
    background-size: 480px;
    position: absolute;
    left: 214px;
    top: 115px;
    opacity: .5;
}

.container .ing .list {
    position: relative;
    z-index: 99;
}

.container .ing .time {
    width: 100%;
    margin-top: 5px;
    height: 58px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.68);
}

.container .ing .time .left {
    float: left;
}

.container .ing .time .right {
    float: right;
}

.container .ing .time span {
    color: white;
    font-size: 32px;
}

.container .ing span.bold {
    font-weight: bold;
}

.container .ing span.yellow {
    color: #fff604;
}

.container .ing .list {
    margin-top: 5px;
    overflow: hidden;
}

.container .ing .list ul {
    transition: all .8s;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
}

.container .ing .list .item {
    background: url('prize_border.png') no-repeat;
    background-size: 960px 126px;
    width: 100%;
    height: 126px;
    margin-top: 5px;
}

.container .ing .list .item>div {
    height: 100%;
}

.container .ing .list .item .info img {
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 100px;
    margin-top: 23px;
    margin-left: 23px;
}

.container .ing .list .item .info span {
    color: #4f0019;
    font-size: 25px;
    position: relative;
    top: -33px;
    left: 10px;
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container .ing .list .item .prize {
    float: right;
    text-align: right;
    width: 530px;
}

.container .ing .list .item .prize span {
    color: #e8014a;
    font-size: 25px;
}

.container .ing .list .item .prize>span {
    position: relative;
    top: -79px;
    right: 32px;
    display: inline-block;
    max-width: 450px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container .end .wrap {
    background: url('qrcode_boder.png') center no-repeat;
    background-size: 1006px 490px;
    margin-left: 1px;
    width: 960px;
    height: 470px;
    overflow: hidden;
}

.container .end .wrap .title {
    width: 944px;
    height: 70px;
    background: #df0a4e;
    margin-left: 7px;
    margin-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    line-height: 64px;
}

.container .end .wrap .prize .prize_name {
    color: #e8014a;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 319px;
    line-height: 35px;
    overflow: hidden;
    height: 70px;
}

.container .end .wrap .prize {
    padding-top: 10px;
    clear: both;
}

.container .prize .prize_logo {
    width: 100%;
    text-align: center;
}

.container .end .wrap .prize>div {
    float: left;
    overflow: hidden;
    margin-left: 20px;
    height: 280px;
    margin-bottom: 15px;
}

.container .end .wrap .prize .info {
    padding-left: 50px;
}

.container .end .wrap .prize .prize_logo img {
    width: 200px;
    height: 200px;
}

.container .end .wrap .winner {
    width: 550px;
    height: 300px;
}

.container .end .wrap .winner>div {
    float: left;
}

.container .end .wrap .winner .nav_left,
.contaHiner .end .wrap .winner .nav_right {
    width: 50px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container .end .wrap .winner .nav_left img,
.container .end .wrap .winner .nav_right img {
    width: 25px;
    padding-top: 98px;
    cursor: pointer;
}

.container .end .wrap .winner .main {
    width: 425px;
    text-align: center;
    overflow: hidden;
}

.container .end .wrap .winner .main .ul_wrap {
    display: inline-block;
}

.container .end .wrap .winner .main ul {
    display: none;
    vertical-align: middle;
    text-align: center;
    height: 300px;
}

.container .end .wrap .winner .main ul.active {
    display: table-cell;
}

.container .end .wrap .winner .main ul li {
    float: left;
    margin: 0 15px;
    margin-top: 8px;
}

.container .end .wrap .winner .main .header img {
    width: 85px;
    height: 85px;
    border: 3px solid white;
    border-radius: 100px;
}

.container .end .wrap .winner .main .name {
    text-align: center;
    color: #4f0019;
    font-size: 18px;
    font-weight: bold;
    margin-top: -2px;
    margin-bottom: 12px;
    width: 110px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container .end .wrap .bottom {
    text-align: center;
}

.container .end .wrap .bottom span {
    font-weight: bold;
    font-size: 18px;
    color: #4f0019;
    margin: 10px 0;
    padding: 4px 16px;
    display: inline-block;
    cursor: pointer;
}

.container .end .wrap .bottom span.active {
    color: #e8014a;
    background: white;
    border-radius: 20px;
}

.container .countdown .wrap ul li {
    height: 472px;
    background: url('circle.png') center no-repeat;
    background-size: 390px;
    text-align: center;
    display: none;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}

.container .countdown .wrap ul li.anm {
    transform: scale(0.8) translateY(30px);
    -webkit-transform: scale(0.8) translateY(30px);
    -moz-transform: scale(0.8) translateY(30px);
    opacity: 0;
}

.container .countdown .wrap ul li img {
    height: 240px;
    margin-top: 110px;
    margin-left: -34px;
}

.shakeimg {
    height: 304px;
    background: url('shake_ing.png') no-repeat;
    background-size: 450px;
    background-position: 259px 56px;
}
