<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>会员介绍</title>
    {php echo register_jssdk(false);}
    <link rel="stylesheet" href="{RES}css/style_index.css" />
    <script type="text/javascript" src="{RES}js/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="{RES}js/script.js" ></script>
</head>
<body style="background: #fff;">
<div id="box">
    <div class="introduce">
        <h2>成为付费阅读会员须知</h2>
        <div class="introduce_Min">
{$intro}
        </div>
    </div>
</div>
</body>
</html>
