<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>发布文章列表</title>
    {php echo register_jssdk(false);}
    <link rel="stylesheet" type="text/css" href="{RES}css/style_index.css"/>
    <link rel="stylesheet" type="text/css" href="{RES}css/swiper.min.css"/>
    <link rel="stylesheet" href="{RES}font/iconfont.css" />
    <script type="text/javascript" src="{RES}js/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="{RES}js/script.js" ></script>
    <script type="text/javascript" src="{RES}js/swiper.min.js" ></script>
</head>
<body>
<div id="box">
   <div class="menu" id="menu">
            <ul>
                {loop $article $new}
                <li>
                    <a href="{php echo $this->createmobileurl('detail',array('id'=>$new['id']))}">
                        <div class="menuL" style="background-image: url({php echo tomedia($new['thumb'])});"></div>
                        <div class="menuR">
                            <div class="menuR_wz">
                                <h2>{$new['title']}</h2>
                                <span class="date"><i class="iconfont">&#xe606;</i>{php echo date('Y-m-d',$new['createtime'])}</span>
                            </div>
                            <div class="menu_up">
                                <div class="menu_Part">
                                    <span><i class="iconfont">&#xe605;</i>{$new['clickNum']}</span>
                                    <span><i class="iconfont">&#xe600;</i>{$new['zanNum']}</span>
                                </div>
                                {if $new['pay_money']>0}
                                <div class="menoy">
                                    <span><i class="iconfont">&#xe603;</i>{$new['pay_money']}</span>
                                </div>
                                {/if}
                            </div>
                        </div>
                    </a>
                </li>
                {/loop}
            </ul>
        </div>
<!--        {if !empty($article)}
        <div class="still" id="next" onclick="more()">
            点击加载更多
        </div>
        {/if}
        <input type="hidden" data-page="1" id="page">-->
        <!--列表 end-->
        <!--{$pager}-->
        <div class="Member_foot">
            <ul class="clearfix">
                <li><a class="active" href="{php echo $this->createmobileurl('payred_index')}"><i class="iconfont">&#xe60a;</i>首页</a></li>
                <li><a href="{php echo $this->createmobileurl('center')}"><i class="iconfont">&#xe609;</i>个人中心</a></li>
            </ul>
        </div>
</div>
</body>
</html>
