.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1;
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.bar.bar-calm {
    border-color: #0a9ec7;
    background-color: #0D6179;
    background-image: linear-gradient(0deg, #0a9ec7, #0a9ec7 50%, transparent 50%);
    color: #fff;
}
.pull-right{
	float:right;
}
