.consume .record-box {
    background-size: 100% 100%;
}
.consume .list-item {
    height: 70px;
    padding: 10px 5px;
    border-bottom: 1px solid #dddddd;
}
.consume .record-box .member-detail {
    width: 15%;
    text-align: center;
    overflow: hidden;
}
.consume .list-item>div {
    width: 53%;
    float: left;
}
.record-box .member-detail .img-rounded {
    width: 36px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.img-rounded {
    border-radius: 6px;
}
.consume .record-box .member-detail .img-rounded img {
    width: 36px;
    height: 36px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.consume .record-box .record-detail > div .name {
    font-size: 15px;
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.consume .record-box .record-detail > div span {
    display: block;
}
.consume .record-box .record-detail > div .date {
    font-size: 13px;
    margin-top: 5px;
    color: #999;
}
.consume .record-box .record-detail > div span {
    display: block;
}
.consume .record-box .pay-detail {
    width: 30%;
    text-align: right;
    margin-right: 2%;
}
.consume .list-item>div {
    float: left;
}
.consume .record-box .pay-detail > div .money {
    font-size: 15px;
    font-weight: bold;
}
.consume .record-box .pay-detail > div span {
    display: block;
    text-align: right;
}
.consume .record-box .pay-detail > div .state {
    font-size: 13px;
    margin-top: 5px;
    color: #999;
}
.consume .record-box .pay-detail > div span {
    display: block;
    text-align: right;
}
