.confirm {
    padding: 0;
    margin-top: 0;
}
.confirm-details {
    display: block;
    font-size: 16px;
    padding-left: 10px;
    line-height: 40px;
}
.confirm hr {
    padding: 0;
    margin: 0;
}
.confirm-housename {
    display: block;
    padding-left: 10px;
    line-height: 30px;
}
.confirm-order {
    display: block;
    padding-left: 10px;
    line-height: 30px;
}
.confirm-form {
    margin-bottom: 10px;
}
.confirm-form > .card {
    padding: 0;
    margin-top: 0;
}
.confirm-form > .card span {
    display: block;
    font-size: 16px;
    padding-left: 10px;
    line-height: 40px;
}
.confirm-form > .card hr {
    padding: 0;
    margin: 0 0 0 0;
}
.confirm-form > .card > .form-group {
    margin-bottom: 10px;
    padding: 10px;
}