.new-ul {
    padding-left: 0;
    margin-bottom: 0;
}
.new-li {
    list-style: none;
}
.new-ul {
    background-color: #fff;
}
.new-li{
    position: relative;
}
.new-li:before, .new-li:after{
    border-top: 1px solid #c8c7cc !important;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
}
.new-li:before{
    top: 0;
}
.new-li:after{
    bottom: 0;
    display: none;
}

@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){
    .new-li:after, .new-li:before{
        -webkit-transform: scaleY(.7);
        -webkit-transform-origin: 0 0;
        transform: scaleY(.7);
    }
    .new-li:after{
        -webkit-transform-origin: left bottom;
    }
}

@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){
    .new-li:after, .new-li:before{
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}
.new-li {
    padding: 0 15px;
    line-height: 40px;
}