body {
    background-color: #efeff4;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-strong {
    font-weight: bold !important;
}
a.new_color {
    color: #787878;
}
a.new_color:link {
    text-decoration: none;
    color: #787878;
}
a.new_color:visited {
    text-decoration: none;
    color: #787878;
}
a.new_color:hover {
    text-decoration: none;
    color: #787878;
}
a.new_color:active {
    text-decoration: none;
    color: #787878;
}
#footer_nav .bs-glyphicons-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer_nav .bs-glyphicons-list li {
    padding: 3px 0;
    background-color: #f9f9f9;
    /*border-right: 1px solid #ccc;*/
}
#footer_nav .glyphicon {
    font-size: 24px;
}
#footer_nav .glyphicon-class {
    display: block;
    word-wrap: break-word;
    font-size: 12px;
}
#footer_nav .bs-glyphicons-list a {
    color: #a3a2a2;
    display: block;
}
#footer_nav .bs-glyphicons-list a.active{
    color: #00a801;
}
#footer_nav .bs-glyphicons-list a:hover {
    text-decoration: none;
}
#footer_nav .bs-glyphicons-list a:active {
    text-decoration: none;
}
#footer_nav .bs-glyphicons-list a:link {
    text-decoration: none;
}
#footer_nav .bs-glyphicons-list a:visited {
    text-decoration: none;
}

.row {
    margin-left: auto;
    margin-right: auto;
}
.card {
    /*border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;*/
    background-color: #fff;
    padding: 10px 15px;
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);*/
    margin-top: 10px;
    margin-bottom: 10px;
}
/*1像素的线条*/
/*.card{
    position: relative;
}
.card:before, .card:after{
    border-top: 1px solid #d9d9d9;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
}
.card:before{
    top: 0;
    display: none;
}
.card:after{
    bottom: 0;
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){
.card:after,.card:before{
    -webkit-transform: scaleY(.7);
    -webkit-transform-origin: 0 0;
    transform: scaleY(.7);
}
.card:after{
    -webkit-transform-origin: left bottom;
}
}

@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){
.card:after,.card:before{
-webkit-transform: scaleY(.5);
transform: scaleY(.5);
}
}*/
hr {
    border: 0;
    margin: 0 !important;
    padding: 1px;
}
.border-1px, hr{
    position: relative;
}
.border-1px:before, .border-1px:after, hr:before, hr:after{
    border-top: 1px solid #c8c7cc !important;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
}
.border-1px:before{
    top: 0;
    /*display: none;*/
}
.border-1px:after{
    bottom: 0;
}
hr:before{
    top: 0;
}
hr:after{
    bottom: 0;
    display: none;
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){
    .border-1px:after,.border-1px:before, hr:after,hr:before{
        -webkit-transform: scaleY(.7);
        -webkit-transform-origin: 0 0;
        transform: scaleY(.7);
    }
    .border-1px:after, hr:after{
        -webkit-transform-origin: left bottom;
    }
}

@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){
    .border-1px:after,.border-1px:before, hr:after,hr:before{
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}

.fontcolor {
    color: #787878;
}
.highlight {
    color: #ff822e;
}
.margin {
    margin-bottom: 40px;
}

/*修改系统分页的上下边距太大*/
.pagination {
    margin: 0;
}
/*
剪掉底部边距*/
.footer {
    margin: 0 !important;
    height: 0;
}
/*固定轮播*/
.carousel-inner .item img {
    min-height: 200px;
    width: 100%;
}
/*返回顶部*/
#scrollUp:hover {
    background-color: #333;
}
#scrollUp {
    background-color: #777;
    color: #eee;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 115px;
    right: 10px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border-radius: 46px;
    border: none;
    opacity: .8;
}
.nomargin {
    margin: 0;
}
.nopadding {
    padding-left: 0;
    padding-right: 0;
}
.nopadding_btm {
    padding-bottom: 0;
}
.superman_house_block {
    display: block;
}
.house_title {
    color: #353535;
    font-size: 16px;
}
.house_desc {
    color: #777777;
    font-size: 12px;
}