.home_slide {
    padding: 0;
}
.fourgrid {
    margin-top: 0;
}
.fourgrid > div > .col-xs-3 {
    padding-left: 15px; padding-right: 15px;
}
.fourgrid > div > .col-xs-3 a img {
   margin: 0 auto;
}
.fourgrid > div > .col-xs-3 a span {
    display: block;
    padding-top: 5px;
    font-size: 14px;
}
.home-housegroup {
    padding: 0;
    border-bottom: none;
}
.home-housegroup > div > .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}
.home-housegroup > div > .col-xs-12 > i {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 36px;
}
.home-housegroup-row {
    padding:10px 5px;
    width: 50%;
}
.home-housegroup-row:nth-child(3), .home-housegroup-row:nth-child(4) {
    border-bottom-width: 0px;
}
.home-housegroup-row > div > .col-xs-9 {
    padding: 0;
    width: 73%;
}
.home-housegroup-row > div > .col-xs-9 > .fontcolor {
    display: block;
    font-size: 12px;
}
.home-housegroup-row > div > .col-xs-3 {
    padding: 0 5px 0 0;
}
.home-housegroup .table-bordered {
    margin-bottom: 0;
    border-bottom: none;
}
.home_house_notice {
    display: block;
    padding: 8px 15px 8px 8px;
}
.home_house_notice .fa-angle-right {
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -8px;
    color: #ccc;
    font-size: 16px;
}
.looking_week {
    width: 40px;
    height:40px;
    line-height:40px;
    text-align: center;
    color: #ffffff;
    background-color: #96ce54;
}
.home-more-btn {
    padding-bottom: 4px;
}
