.house-detail-slide {
    padding: 0;
}
.house-detail-nav {
    margin: 0 auto;
}
.house-detail-slide > .slide > .carousel-inner .item img {

    width: 100%;
}
.house-detail-navpad {
    padding: 0 5px !important;
}
.house-detail-description {
    padding: 0;
}
.house-detail-description > span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
hr {
    margin: 0;
}
.house-detail-description .col-xs-3 {
    padding-left: 10px;
    padding-right: 0;
    line-height: 30px;
}
.house-detail-description .col-xs-9 {
    padding-left: 0;
    line-height: 30px;
}
.house-detail-color {
    color: #f36838;
}
.house-detail-free {
    padding: 0;
}
.house-detail-free > span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.house-detail-free > div > div > div span{
    font-size: 16px;
    display: block;
    line-height: 30px;
}
.house-detail-freetime {
    margin-top: 10px;
}
.house-detail-freetime > .col-xs-6 {
    padding:0 10px;
}
.house-detail-free button {
    margin: 8px 0 8px;
}
.house-detail-dynamic {
    padding: 0 0;
}
.house-detail-dynamic > span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.house-detail-dynamic > .row > .col-xs-12 {
    padding-left: 10px;
}
.house-detail-dynamic-title {
    font-size: 16px;
    display: block;
    line-height: 30px;
}
.house-detail-dynamic-description {
    display: block;
    line-height: 20px;
    padding-top: 10px;
}
.house-detail-dynamic .list-group-item > .fa-angle-right {
    height: 25px;
    line-height: 25px;
    font-size: 16px;
}
.dynamic-title {
    width: 95%;
    display: inline-block;
}
.house-detail-sell {
    padding: 0 0 10px 0;
}
.house-detail-sell .more {
    color: #787878;
    font-size: 16px;
    line-height: 40px;
    margin-right: 10px;
    text-decoration: none;
}
.house-detail-sell .more i{
    font-size: 20px;
}
.house-detail-sell > span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.house-detail-sell > div {
    padding-top: 10px;
}
.house-detail-sell > div > .col-xs-4 {
    padding: 0 10px;
}
.house-detail-sell-img{
    min-height: 60px;
    width: 100%;
}
.house-detail-sell-description {
    padding-left: 0;
}
.house-detail-sell-description ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.house-detail-detailed {
    padding: 0 0 10px 0;
}
.house-detail-detailed .table {
    margin-bottom: 0;
}
.house-detail-detailed > span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.house-detail-detailed > div > .col-xs-3 {
    padding-left: 10px;
    padding-right: 0;
    line-height: 30px;
}
.house-detail-detailed > div > .col-xs-9 {
    padding-left: 0;
    line-height: 30px;
}
.house-detail-detailed .project_introduce .col-xs-12:first-child {
    height: 30px;
    line-height: 30px;
}
.house-detail-detailed .project_introduce .col-xs-12{
    padding-left: 10px;
}
/*换为table表格*/
.house-detail-detailed .table>tbody>tr>td {
    color: #787878;
    border: 0;
}
.house-detail-detailed .table>tbody>tr>td:first-child {
    width:80px;
    padding-right: 0;
}
.house-detail-detailed .table>tbody>tr>td:last-child {
    padding-left: 0;
}
.house-detail-progect {
    padding: 0 0 10px 0;
}

.house-detail-progect > span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.house-detail-progect .col-xs-12 {
    padding: 10px 10px 0 10px;
    line-height: 22px;
    color: #9b9b9b;
}
.house-detail-map {
    padding: 0 0 0 0;
    margin-bottom: 80px;
}
.house-detail-map > span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.house-detail-maps {
    padding: 10px 10px 0 10px;
    line-height: 30px;
}
.house-detail-maps img {
    height: 180px;
    width: 100%;
}
.house-detail-map > div > .col-xs-2 {
    padding-left: 10px;
    padding-right: 0;
    line-height: 30px;
}
.house-detail-map > div > .col-xs-10 {
    padding-left: 0;
    line-height: 30px;
}
/*评论功能暂时注释掉，下个版本增加*/
/*.comments_list_wrap {
    padding: 0 0 50px 0;
}
.comments_list_wrap > span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.comments_list_wrap .more {
    color: #787878;
    font-size: 16px;
    line-height: 40px;
    margin-right: 10px;
    text-decoration: none;
}
.comments_list_wrap .more i{
    font-size: 20px;
}
.comments_list_wrap .avatar {
    height: 4rem;
}
.comments_list_wrap .username {
    height: 4rem;
    line-height: 4rem;
    padding-left: 0;
    font-size: 14px;
    color: rgba(0,0,0, .6);
}
.comments_list_wrap .releasetime {
    height: 4rem;
    line-height: 4rem;
    padding-left: 0;
    font-size: 14px;
    color: #9b9b9b;
}
.comments_list_wrap .detail {
    height: 3.6rem;
    line-height: 1.5rem;
    font-size: 14px;
    color: #9b9b9b;
}
.comments_list_wrap .avatar img {
    width: 3rem;
    margin-top: .5rem;
    border-radius: 50%;
}*/
.comments_input_btn {
    margin: 10px 0;
}
.house-detail-album {
    padding: 0;
}
.house-detail-album > span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.house-detail-erweima {
    padding: 0;
}
.house-detail-erweima span {
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
}
.house-detail-erweima > div {
    text-align: center;
    padding: 10px;
}
.house-detail-erweima > div img {
    width: 150px; height: 150px;
}
.house-detail-navbar {
    background-color: rgba(0,0,0,.7);
}
.house-detail-navbar [class^=col-xs] {
    text-align: center;
    line-height: 40px;
    padding:0 0 0 10px;
}
.house-detail-navbar [class^=col-xs] > span {
    float: left;
    font-size: 14px;
    color: #ffffff;
}
.house-detail-navbar .col-xs-4 {
    background-color: #04BE02;
}
.house-detail-navbar .col-xs-4 a {
    text-decoration: none;
    color: #fff;
}
.list-group-item {
    padding: 10px;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: none;
}
.panel-group {
    margin-top: 10px;
}
.panel-group .panel-default a {
    display: block;
    text-decoration: none;
}
.panel-group .panel {
    border-radius: 0;
}
.panel-group .panel-body {
    padding: 0;
}
.panel-group .panel-body .row [class^=col-xs] {
    line-height: 3.5rem;
}
.buy_bar {
    bottom: 40px;
}