.house-list {
    padding-bottom: 0;
}
.house-list > div > .col-xs-12 {
    padding: 0;
    margin: 0 0 15px 0;
}
.house-list > div > .col-xs-12 > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.house-list-area {
    float: left;
    padding:0 8px 0 0;
}
.house-list-unlimited {
    float: left;
    padding:0 8px;
    background-color: #48bfd7;
    color: #ffffff;
}
.house-list-unlimited a {
    color: #ffffff !important;
}
.house-list-others {
    float: left;
    padding:0 8px;
}
.house-list-content {
    padding: 0;
}
.house-list-project .house-list-thumb{
    padding: 0 0 0 10px;
}
.house-list-project .house-list-thumb .img-responsive{
    min-height: 65px;
    width: 100%
}
.house-list-project .house-list-thumb .house-list-price {
    position: absolute;
    font-size: 12px;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 0 2px;
    background-color: rgba(0,0,0,0.5);
}
.house-list-project {
    margin: 10px 0;
}
.house-list-project:first-child {
    margin-top: 0;
}
.house-list-project:last-child {
    margin-bottom: 0;
}
.house-list-txt {
    padding-left: 10px;
    padding-right: 10px;
}
hr {
    margin: 10px 0;
}