.fontcolor {
    color: #787878;
}
.looking-list .card {
    background-color: #fff;
    padding: 15px;
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);*/
    margin-top: 0px;
    margin-bottom: 10px;
    /*border-radius: 3px;*/
}
.looking-list {
    padding: 0;
}
.look-list-active {
    border-bottom: 1px #00a801 solid;
}
.look-list-active .new_color {
    color: #00a801 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none;
}
.nav-tabs {
    border-bottom: none;
}
.looking-list-row {
    margin-bottom: 30px
}
.looking-list > .card {
    padding-bottom: 0;
    padding-top: 0;
}
.looking-list-state {
    line-height: 40px;
    height: 40px;
}
.looking_list_wrap {
    padding: 1px 0 !important;
}
.looking_list_wrap img {
    width: 100%;
    min-height: 140px;
}
.look-list-title {
    margin: 10px 0;
}
.look-list-info {
    display: block;
    padding-bottom: 5px;
}
.nolooking_list_info {
    height: 26px;
    line-height: 26px;
    text-align: center;
}
.looking_list_info {
    margin-top: 10px;
}
.look-list-content {
    padding-top: 0;
    padding-bottom: 10px;
}
.look-list-content > .col-xs-3 {
    padding-left: 5px;
    padding-right: 5px;
}
.look-list-content > .col-xs-3 > span {
    background-color: #ffc453;
    color: #ffffff;
    padding: 3px;
    text-align: center;
    border-radius: 4px;
    display: block;
}
.look-list-content > .col-xs-4 {
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
    display: block;
}
.look-list-content > .col-xs-5 {
    padding-left: 5px;
    padding-right: 5px;
    color: #ff822e;
    text-align: right;
    display: block;
}
.look-list-consult {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
}