.mybespeak_wrap {
    margin-top: 0;
}
.mybespeak-list {
    margin-top: 0;
    color: #787878;
}
.mybespeak-list ul {
    margin: 0;
    padding: 0;
}
.mybespeak-list ul li {
    list-style: none;
    line-height: 24px;
}
.mybespeak-list ul li span {
    padding-right: 10px;
}