.inputcash input {
    position: absolute;
    width: 150px;
    height: 30px;
    top: 2px;
    border: none;
    left: 42px;
    z-index: 10;
    padding-left: 10px;
    outline: none;
}
.mycash {
    padding:0 0 10px 0;
    margin-top: 0;
}
.mycash p {
    margin: 0;
    padding:0 10px;
    font-size: 16px;
    line-height: 40px;
}
.mycash hr {
    padding: 0;
    margin: 0;
}
