.myfriend {
    padding: 0;
    border-top: 0;
    margin-top: 0;
    border-bottom: 0;
}
.myfriend table {
    margin-bottom: 0;
}
.myfriend table > thead {
    background-color: #d9534f;
}
.myfriend-friend {
    width:50%;
    border-bottom: 0;
    color:#ffffff;
    border-top: 0;
}
.myfriend-grouptime {
    border-bottom: 0;
    color:#ffffff;
    border-top: 0;
}
.myfriend table > tbody > tr > td {
    text-align: left;
}
.myfriend table > tbody > tr > td span img {
    border-radius: 16px;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.myfriend-friend-td {
    padding-left: 5px;
}
