.paid {
    padding: 0 0 10px 0;
    margin-top: 0;
}
.paid > .fontcolor {
    line-height: 30px;
}
.paid > .fontcolor .text-left {
    padding: 0 0 0 10px;
    font-size: 12px;
}
.paid > .fontcolor .text-right {
    padding: 0 10px 0 0;
    font-size: 12px;
}
.paid > .fontcolor .text-right span {
    color: #ff822e;
}
.paid hr {
    padding: 0;
    margin: 0;
}
/*.paid-details .col-xs-12{
    padding: 0 10px;
    line-height: 30px;
}*/
/*.paid-details-housename {
    display: block;
    font-size: 16px;
}*/
/*.paid-details-remarks {
    display: block;
}*/
.myorder-detail-btn {
    margin-right: 10px;
}
.myorder-list {
    padding-left: 10px;
    padding-right: 10px;
}
.myorder-list-content {
    padding: 0 0 10px 0;
}
.myorder-list-content > .fontcolor {
    line-height: 30px;
}
.myorder-list-content > .fontcolor > .text-left {
    padding: 0 0 0 10px;
    font-size: 12px;
}
.myorder-list-content > .fontcolor > .text-right {
    padding: 0 10px 0 0;
    font-size: 12px;
}
.myorder-list-content > .fontcolor > .text-right span {
    color: #ff822e;
}
.myorder-list-content hr {
    padding: 0;
    margin: 0;
}
.myorder-detail-wrap {
    padding: 0 10px;
    line-height: 30px;
}
.myorder-detail-wrap p {
    margin: 0;
}
