.card p, .card ol {
    margin: 0;
}
.card .help-block {
    margin-bottom: 0;
}
.partner-never {
    padding: 0 15px;
}
.partner-already {
    padding: 10px 0;
    margin-top: 0;
}
.partner-already span {
    padding: 0 10px;
    display: block;
}
.partner-already > div {
    text-align: center;
}
.partner-already > div img {
    width: 150px; height: 150px;
}
.partner-already-price {
    color: #ff822e;
    font-size: 12px;
    line-height: 20px;
}
.partner-already-reward {
    font-size: 12px;
    display: block;
}
.partner-share {
    padding: 10px;
    margin-top: 0;
}
.partner-share > span {
    font-size: 16px;
}
.partner-share > span .img-responsive {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 48px;
}
.new-ul {
    padding-left: 0;
    margin-bottom: 0;
    background-color: #fff;
}
.new-ul hr {
    padding-top: 0;
    padding-bottom: 0
}
.new-li{
    list-style: none;
    padding: 0 10px;
    position: relative;
    line-height: 40px;
}
.new-li:before, .new-li:after{
    border-top: 1px solid #c8c7cc !important;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
}
.new-li:before{
    top: 0;
}
.new-li:after{
    bottom: 0;
    display: none;
}

@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){
    .new-li:after, .new-li:before{
        -webkit-transform: scaleY(.7);
        -webkit-transform-origin: 0 0;
        transform: scaleY(.7);
    }
    .new-li:after{
        -webkit-transform-origin: left bottom;
    }
}

@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){
    .new-li:after, .new-li:before{
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}
.new-li > .row {
    padding: 10px 0;
}
.new-li > .row .col-xs-4 {
    padding: 0;
}
.new-li > .row .col-xs-4 img {
    min-height: 80px;
    width: 100%;
}
.new-li > .row .col-xs-8 {
    padding: 0 0 0 10px;
}
.new-li > .row .col-xs-8 p {
    margin-bottom: 0;
}
.house_recommend_btn {
    position:absolute !important;
    right:10px;
    bottom: 10px;
}
.partner-icon-wrapper {
    width: 46%;
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
}
.partner-icon-spacingl {
    margin: 5px 3px 5px 8px;
}
.partner-icon-spacingr {
    margin: 5px 8px 5px 3px;
}
.partner-recommend-customer {
    background-color: #3ec381;
}
.partner-my-customer {
    background-color: #8ac4f4;
}
.partner-my-team {
    background-color: #be98e3;
}
.partner-invite-join {
    background-color: #fec957;
}
.partner-my-commission {
    background-color: #e08283;
}
.partner-my-appointment {
    background-color: #777777;
}
.partner-my-order {
    background-color: #8A6D3B;
}
.partner-active-rule {
    background-color: #a1afc9;
}
.mcenter-fa {
    padding-right: 4px;
}
.pdetail {
    -webkit-box-sizing: border-box;
}
.img-circle {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 10px;
    border: 1px rgba(255,255,255,0.2) solid;
}
.img-circle {
    border-radius: 50%;
}
.img-circle img {
    width: 60px;
}
img {
    vertical-align: middle;
}
.partner_wrapper span {
    display: block;
    color: #6a6a6a;
    line-height: 20px;
}
.partner_realname {
    font-size: 20px;
    display: inline-block;
    max-width: 150px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}
.partner_realname a{
    color: #6a6a6a;
}
.partner_info {
    font-size: 14px;
}
.partner_type {
    font-size: 12px;
    padding-left: 5px;
    color: #999;
    font-style:normal;
}
.partner_setup {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    font-size: 25px;
    color: #6a6a6a;
}
@font-face {font-family: "iconfont";
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:24px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-recommend-customer:before { content: "\e644"; }
.icon-my-customer:before { content: "\e6cb"; }
.icon-my-team:before { content: "\e753"; }
.icon-my-commission:before { content: "\e6ac"; }
.icon-invite-join:before { content: "\e6ca"; }
.icon-active-rule:before { content: "\e699"; }
.icon-my-order:before { content: "\e649"; }
.icon-my-appointment:before { content: "\e6ff"; }
/*
.icon-friend:before { content: "\e6cc"; }
.icon-redpacket:before { content: "\e6e0"; }
.icon-share:before { content: "\e6f3"; }
.icon-sponsor:before { content: "\e77d"; }*/
.carousel-indicators {
    margin-left: -30% !important;
}
/*partner-setting*/
.partner_setting .card {
    margin-top: 0;
}
.partner_setting .glyphicon {
    font-size: 1.5rem;
    line-height: 4rem;
    color: rgba(0,0,0, .6);
}
.partner_setting .house_title {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}
.partner_setting .card {
    padding: 0;
}
.partner_setting [class^=col-xs] {
    color: rgba(0,0,0, .6);
    font-size: 16px;
}
.partner_setting .row:nth-child(1),.partner_setting .row:nth-child(3),.partner_setting .row:nth-child(4),.partner_setting .row:nth-child(5) {
    line-height: 3.5rem;
}
.partner_setting .row:nth-child(2) {
    line-height: 6rem;
    height: 6rem;
}
.partner_setting .row:nth-child(2) .col-xs-9 img {
    position: absolute;
    right: 3.3rem;
    top: 1.3rem;
}
.partner_setting .row:nth-child(2) .col-xs-9 span{
    color: #cbc9cc;
    font-size: 3rem;
    vertical-align: middle;
}
.partner_setting .row:nth-child(3) .col-xs-9,.partner_setting .row:nth-child(4) .col-xs-9,.partner_setting .row:nth-child(5) .col-xs-9 {
    padding-top: 1px;
}
.partner_setting .row:nth-child(3) .col-xs-9 input,.partner_setting .row:nth-child(4) .col-xs-9 input,.partner_setting .row:nth-child(5) .col-xs-9 input {
    border: 0;
    padding: 0;
    border-color: rgba(0,0,0,0);
}
.partner_setting .row .col-xs-12 {
    margin-top: 10px;
}
.partner_setting .avatar {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: .4rem;
}