.rank_color {
    display: inline-block;
    min-width: 10px;
    padding: 4px 7px;
    font-size: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}
.rank_color1 {
    background-color: #ff6036;
}
.avatar img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-left: 10px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.username {
    margin-left: 10px;
    font-size: 16px;
    line-height: 36px;
}
.badge {
    margin-top: 9px;
}
.rank {
    margin-top: 0;
    padding: 0;
    border-bottom: 0;
}
.rank > .row .col-xs-12 {
    background-color: #f2dede;
    line-height: 30px;
    padding: 0 10px;
    font-size: 16px;
}
.rank > .row .col-xs-12 a {
    display: block; color:#a94442;
}