
    
    div#background_container{
        position:absolute;   
        border:0px solid #000; 
        width:500px;        
        height:815px;
        margin:0 auto; 
        top:0px;    
        left:0px;
        overflow:hidden;   
        clear:both;
    }
  
     #pcKgfVaEu-an-obj-1 {
        position:absolute;
        -webkit-transform: translate3d(0px, 0px, 0px);
        width: 500px;
        height: 815px;
        top:0; left:0;
    }

    #pcKgfVaEu-an-obj-2 {
        position:absolute;
        -webkit-transform: translate3d(85px, 71px, 0px);
        width: 20px;
        height: 20px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-2-0 1.3057s 0s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-2-0 {
        0% {
            -webkit-transform: translate3d(85px, 71px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        17.561% {
            -webkit-transform: translate3d(85px, 71px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        82.439% {
            -webkit-transform: translate3d(85px, 71px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(85px, 71px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-3 {
        position:absolute;
        -webkit-transform: translate3d(242px, 147px, 0px) scale3d(0.85, 0.85, 1);
        width: 21px;
        height: 24px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-3-0 1.3758s 0s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-3-0 {
        0% {
            -webkit-transform: translate3d(242px, 147px, 0px) scale3d(0.425, 0.425, 1);
            opacity: 0;
        }
        72.2222% {
            -webkit-transform: translate3d(242px, 147px, 0px) scale3d(0.85, 0.85, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(242px, 147px, 0px) scale3d(0.85, 0.85, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-4 {
        position:absolute;
        -webkit-transform: translate3d(208px, 41px, 0px);
        width: 20px;
        height: 20px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-4-0 1.8025s 0s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-4-0 {
        0% {
            -webkit-transform: translate3d(208px, 41px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        40.2827% {
            -webkit-transform: translate3d(208px, 41px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        87.2792% {
            -webkit-transform: translate3d(208px, 41px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(208px, 41px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-5 {
        position:absolute;
        -webkit-transform: translate3d(103px, 42px, 0px);
        width: 20px;
        height: 20px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-5-0 1.3057s 0s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-5-0 {
        0% {
            -webkit-transform: translate3d(103px, 42px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        17.561% {
            -webkit-transform: translate3d(103px, 42px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        55.6098% {
            -webkit-transform: translate3d(103px, 42px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(103px, 42px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-6 {
        position:absolute;
        -webkit-transform: translate3d(110px, 134px, 0px);
        width: 20px;
        height: 20px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-6-0 1.0382s 0.535s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-6-0 {
        0% {
            -webkit-transform: translate3d(110px, 134px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        33.1288% {
            -webkit-transform: translate3d(110px, 134px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        84.0491% {
            -webkit-transform: translate3d(110px, 134px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(110px, 134px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-7 {
        position:absolute;
        -webkit-transform: translate3d(306px, 110px, 0px);
        width: 20px;
        height: 20px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-7-0 1.3057s 0.5924s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-7-0 {
        0% {
            -webkit-transform: translate3d(306px, 110px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        17.561% {
            -webkit-transform: translate3d(306px, 110px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        82.439% {
            -webkit-transform: translate3d(306px, 110px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(306px, 110px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-8 {
        position:absolute;
        -webkit-transform: translate3d(280px, 71px, 0px);
        width: 20px;
        height: 20px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-8-0 1.2675s 0.2293s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-8-0 {
        0% {
            -webkit-transform: translate3d(280px, 71px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        33.1658% {
            -webkit-transform: translate3d(280px, 71px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        66.8342% {
            -webkit-transform: translate3d(280px, 71px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(280px, 71px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-9 {
        position:absolute;
        -webkit-transform: translate3d(130px, 48px, 0px);
        width: 20px;
        height: 20px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-9-0 0.879s 0s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-9-0 {
        0% {
            -webkit-transform: translate3d(130px, 48px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        26.087% {
            -webkit-transform: translate3d(130px, 48px, 0px) scale3d(0, 0, 1);
            opacity: 0;
        }
        78.2609% {
            -webkit-transform: translate3d(130px, 48px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(130px, 48px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-10 {
        position:absolute;
        -webkit-transform: translate3d(41px, 147px, 0px);
        width: 21px;
        height: 24px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-10-0 0.7261s 0s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-10-0 {
        0% {
            -webkit-transform: translate3d(41px, 147px, 0px) scale3d(0.5, 0.5, 1);
            opacity: 0;
        }
        57.8947% {
            -webkit-transform: translate3d(41px, 147px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(41px, 147px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-11 {
        position:absolute;
        -webkit-transform: translate3d(169px, 147px, 0px);
        width: 21px;
        height: 24px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-11-0 0.8726s 0.535s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-11-0 {
        0% {
            -webkit-transform: translate3d(169px, 147px, 0px) scale3d(0.5, 0.5, 1);
            opacity: 0;
        }
        73.7226% {
            -webkit-transform: translate3d(169px, 147px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(169px, 147px, 0px) scale3d(1, 1, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-12 {
        position:absolute;
        -webkit-transform: translate3d(264px, 97px, 0px) scale3d(0.74, 0.74, 1);
        width: 21px;
        height: 24px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-12-0 0.9044s 0.5924s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-12-0 {
        0% {
            -webkit-transform: translate3d(264px, 97px, 0px) scale3d(0.37, 0.37, 1);
            opacity: 0;
        }
        80.9859% {
            -webkit-transform: translate3d(264px, 97px, 0px) scale3d(0.74, 0.74, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(264px, 97px, 0px) scale3d(0.74, 0.74, 1);
            opacity: 1;
        }
    }

    #pcKgfVaEu-an-obj-13 {
        position:absolute;
        -webkit-transform: translate3d(107px, 231px, 0px) scale3d(0.57, 0.57, 1);
        width: 21px;
        height: 24px;
        top:0; left:0;
        -webkit-animation: ani-pcKgfVaEu-an-obj-13-0 1.1847s 1.1083s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pcKgfVaEu-an-obj-13-0 {
        0% {
            -webkit-transform: translate3d(107px, 231px, 0px) scale3d(0.285, 0.285, 1);
            opacity: 0;
        }
        66.6667% {
            -webkit-transform: translate3d(107px, 231px, 0px) scale3d(0.57, 0.57, 1);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate3d(107px, 231px, 0px) scale3d(0.57, 0.57, 1);
            opacity: 1;
        }
    }
