
/* CSS Document*/
*{margin: 0;padding: 0;}
img{width: 100%;border: none;}
a{text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
input[type="text"], input[type="submit"], input[type="reset"] {

-webkit-appearance: none;

}
body{position: relative;font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;background-size: 150px 150px;margin: 0;padding: 0;-webkit-text-size-adjust: 100%!important;}
.none{display: none}
.clear{clear: both;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
.cpm-mask{position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 96;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7)}
.cpm-dialog-mod{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 100;width: 100%;height: 100%;display: -webkit-box;display: -ms-flexbox;-webkit-box-orient: vertical;-webkit-box-pack: center;-webkit-box-align: center;-ms-flex-direction: column;-ms-flex-pack: center;-ms-flex-align: center}
.cpm-dialog{position: relative;z-index: 100;width: auto;min-width: 170px;margin: 2px 20px;background: rgba(0,0,0,0.7);text-align: center;border-radius: 5px;color: #fff}
.cpm-dialog .icon-load, .cpm-dialog .i-delete:before{background: url(../images/icon_dialog.png) no-repeat}
.cpm-dialog-load .dialog-bd{padding: 45px 0;font: 14px/1.5 "Microsoft YaHei", Helvetica, sans-serif;}
.cpm-dialog-load .icon-load{display: inline-block;height: 32px;width: 32px;margin-bottom: 20px;vertical-align: top;background-size: 32px auto;-webkit-animation: dialogLoading 1s linear infinite}
@-webkit-keyframes dialogLoading{0%{-webkit-transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg)}}
.cpm-dialog-modx{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 100;width: 100%;height: 100%;display: -webkit-box;display: -ms-flexbox;}
a{-webkit-tap-highlight-color: transparent;}
a:active{background-color: transparent;}
a:active, a:hover{outline: 0 none;}
.and_img_detail{display: inline-block;overflow: hidden;background-repeat: no-repeat;background-size: 127px 82px;}
.and_btn_icon1{width: 20px;height: 20px;background-position: -1px -43px}
.and_btn_icon2{width: 20px;height: 20px;background-position: -23px -42px}
.and_detail_icon_1{width: 12px;height: 12px;background-position: -63px -59px}
.and_detail_icon_12{width: 21px;height: 22px;background-position: -1px -20px}
.and_detail_icon_13{width: 21px;height: 22px;background-position: -23px -20px}
.and_detail_icon_14{width: 22px;height: 22px;background-position: -104px -1px}
.and_detail_icon_2{width: 21px;height: 22px;background-position: -102px -23px}
.and_detail_icon_20{width: 18px;height: 17px;background-position: -44px -42px}
.and_detail_icon_24{width: 16px;height: 16px;background-position: -63px -42px}
.and_detail_icon_3{width: 21px;height: 22px;background-position: -67px -20px}
.and_detail_icon_4{width: 21px;height: 22px;background-position: -45px -20px}
.and_icon_7{width: 9px;height: 17px;background-position: -22px -63px}
.and_icon_8{width: 9px;height: 9px;background-position: -32px -63px}
.and_icon_close{width: 11px;height: 11px;background-position: -44px -61px}
.and_detail_icon_8{width: 12px;height: 12px;background-position: -89px -33px}
.and_detail_icon_8_checked{width: 12px;height: 12px;}
.and_logo_bottom{width: 102px;/*height: 18px;*/background-position: -1px -1px}
.and_yqj_selected{width: 14px;height: 14px;background-position: -80px -46px}
.detail{font-size: 16px;}
.detail a{color: #c60200;}
.detail a:hover{color: #c60200;}
.detail .top .img_mark{width: 100%;height: 86px;margin-top: -86px;display: block;}
.detail .top .hot{margin-top: -35px;margin-left: 13px;color: #ffffff;font-size: 20px;text-shadow: 1px 1px 3px #414141;font-weight: 700;letter-spacing: 2px;height: 35px;}
.detail .top .hot .r{color: #ff4a12;margin: 0 3px;}
.detail .top .hot3{padding: 5px 10px 0;background: #22292c;color: #ffffff;}
.detail .top .hot3 .txt{line-height: 32px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 12px;}
.detail .top .hot31{padding: 6px 10px;background: #373d40;color: #ffffff;}
.detail .top .hot31 .txt{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 12px;}
.detail .top .hot31 span{line-height: 24px;float: left;font-size: 12px;}
.detail .top .hot31 div{text-align: right;padding-right: 1px;}
.detail .top .hot31 a{line-height: 24px;text-align: center;padding: 0 16px;display: inline-block;background: #d7d8d9;color: #22292c;font-size: 12px;border-radius: 14px;}
.detail .top .pro{background: #e6e2e0;border-radius: 6px;margin: 5px 40px 10px 0;position: relative;}
.detail .top .pro .sel{background: #d50907;border-radius: 6px;height: 6px;}
.detail .top .pro .sell{background: #d50907;border-radius: 6px;height: 6px;}
.detail .top .prov{float: right;font-size: 12px;color: #c60200;}
.detail .top .tb{background: #ffffff;width: 100%;padding: 12 15px 10px;font-size: 14px;position: relative;}
.detail .top .tb td{color: #afa8a2;text-align: center;}
.detail .top .tb .tl{border-left: 1px solid #ececec;padding-left: 13px;}
.detail .top .tb td span{color: #c60200;margin-right: 3px}
.detail .top .summ{border-top: 1px solid #ececec;background-color: #ffffff;padding: 10px 15px 15px;position: relative;color: #5d5652;font-size: 16px;line-height: 22px;margin-bottom: 10px;border-bottom: 1px solid #ececec;}
.detail .top .summ .t{background: #ae9789;color: #ffffff;display: inline-block;float: left;padding: 0 3px;font-size: 14px;line-height: 20px;margin-right: 10px;}
.detail .top .summ .arr{width: 0;height: 0;position: absolute;border-top: 5px solid transparent;border-left: 10px solid #ae9789;border-bottom: 5px solid transparent;top: 15px;left: 45px;}
.detail .proj_r{color: #c60200;font-size: 16px;text-align: center;line-height: 25px;margin-top: 10px;}
.detail .proj_r img{vertical-align: -4px;margin-right: 8px;}
.detail .proj_other{padding: 0 15px 5px;}
.detail .proj_other .li{height: 60px;border-bottom: 1px dotted #d0cece;padding-top: 10px;}
.detail .proj_other .li img{width: 66px;height: 50px;float: left;margin-right: 10px;border-radius: 5px;}
.detail .proj_other .li .ot{font-size: 15px;color: #56504d;line-height: 32px;}
.detail .proj_other .li .od{font-size: 12px;color: #56504d;margin-top: 3px;}
.detail .proj_other .li .od span{color: #fd6a1a;margin: 0 2px;}
.detail .proj_other a:last-child .li{border-bottom: 0;}
.detail .btns{position: fixed;left: 0;bottom: 0px;width: 100%;background: #ffffff;border-top: 1px solid #dad7d0;z-index: 9}
.detail .btns .btn{width: 100%;height: 35px;line-height: 35px;font-size: 15px;color: #ffffff;display: inline-block;border-radius: 5px;border: 1px #fe7225 solid;text-align: center;background: #c60200;}
.detail .btns .btn_b{font-size: 15px;border: 1px solid #c60200;border-radius: 5px;text-align: center;height: 35px;line-height: 35px;background: #ffffff;color: #c60200;}
.detail .btns img{width: 20px;height: 20px;margin-right: 5px;vertical-align: -4px;}
.detail .author{position: relative;padding: 10px 15px 15px;background: #ffffff;border-top: 1px solid #ececec;/*border-bottom:1px solid #ececec;*/margin-top: 10px;}
.detail .author .aicon{width: 50px;height: 50px;border: 1px solid #dadada;float: left;border-radius: 65px;margin-right: 10px;}
.detail .author .atitle{font-size: 14px;color: #b0a7a2;overflow: hidden;min-height: 60px;display: table;line-height: 18px;}
.detail .author .adesc{clear: both;background: #f0efeb;color: #5d5753;padding: 10px;border-radius: 6px;margin-top: 9px;font-size: 14px;}
.detail .author .ajs{font-size: 14px;color: #b0a7a2;margin-top: 3px;}
.detail .author .arr1{/*top:7px;*/left: 24px;width: 0;height: 0;position: absolute;border-left: 5px solid transparent;border-bottom: 10px solid #f0efeb;border-right: 5px solid transparent;}
.detail .xybs{position: relative;padding: 10px 15px 15px;background: #ffffff;font-size: 16px;border-top: 1px solid #ececec;border-bottom: 1px solid #ececec;/*margin-top:10px;*/}
.detail .xybs .tt{color: #5f5652;font-size: 14px;}
.detail .xybs .tt span{color: #c60200;margin: 0 3px;}
.detail .xybs .ctx{display: none;}
.detail .xybs .ctx .imgs{width: 90%;margin-top: 10px;position: relative;}
.detail .xybs .ctx .imgs .li{width: 17%;margin-right: 2%;text-align: center;position: relative;}
.detail .xybs .ctx .imgs .li .head{border-radius: 50%;box-sizing: border-box;}
.detail .xybs .ctx .imgs .li .arr{width: 9px;height: 9px;margin-top: 5px;z-index: 10;display: none;}
.detail .xybs .ctx .imgs .ed .arr{display: none;}
.detail .xybs .ctx .imgs .ed .head{border: 2px solid #c60200;box-sizing: border-box;}
.detail .xybs .ctx .arr{margin-top: 10px;height: 30px;width: 20px;text-align: right;}
.detail .xybs .ctx .arr img{width: 9px;height: 17px;}
.detail .xybs .desc{background: #f3f2f1;border-radius: 4px;padding: 10px;z-index: 9;margin-top: -1px;color: #b0a7a2;font-size: 15px;}
.detail .xybs .desc .d{color: #5f5652;margin-top: 5px;}
.detail .xybs .desc span{color: #c60200;margin: 0 3px;}
.detail .xybs .xbtns{width: 100%;text-align: center;}
.detail .xybs .xbtns .btn{display: inline-block;padding: 4px 20px;text-align: center;line-height: 30px;color: #6e645f;border-radius: 2px;font-size: 16px;border: 1px solid #dddbdc;margin-top: 15px;}
.detail .xybs .xbtns .btn img{margin-right: 3px;width: 23px;height: 23px;vertical-align: -5px}
.detail .xybs .xbtns .btn span{margin-left: 6px;}
.detail .xybs .xbtns2{display: none;}
.detail .xybs .xbtns2 .btn{position: absolute;top: 5px;right: 15px;margin: 0;border: 0;padding: 0;font-size: 14px;}
.detail .xybs .xbtns2 .btn img{width: 20px;height: 20px;margin-right: 1px;}
.detail .xybs .xbtns2 .btn span{margin-left: 3px;}
.detail .progress{background: #ffffff;font-size: 16px;margin-top: 10px;display: none;}
.detail .progress .tt{border-top: 1px solid #ececec;border-bottom: 1px solid #ececec;padding: 0 15px;}
.detail .progress .tt .bb{border-bottom: 2px solid #c60200;display: inline-block;line-height: 40px;}
.detail .progress .tt .arr img{width: 9px;height: 17px;margin-top: 13px;}
.detail .progress .list{padding: 10px 15px;color: #554e4a;border-bottom: 1px solid #ececec;}
.detail .progress .list .li{line-height: 23px;margin-bottom: 5px;}
.detail .progress .list .li .d{color: #b0a7a2;font-size: 16px;line-height: 23px;margin-bottom: 5px;}
.detail .progress .list .li .pimg{width: 70px;height: 70px;margin: 2px 2px;}
.detail .proj{background: #ffffff;font-size: 16px;margin-top: 10px;border-bottom: 1px solid #ececec;}
.detail .proj .tt{border-top: 1px solid #ececec;padding: 0 15px;}
.detail .proj .tt i{border-bottom: 2px solid #c60200;display: inline-block;line-height: 40px;font-style: normal}
.detail .proj .tt .bb{width: 100%;display: inline-block;line-height: 40px;color: #554e4a;}
.detail .proj .tt .bb .bbs{display: inline-block;vertical-align: middle;float: right;margin-top: 14px;}
.detail .proj .tt .bb .bbs img{width: 9px;}
.detail .proj .tt .arr img{width: 9px;height: 17px;margin-top: 13px;}
.detail .proj .desc{padding: 10px 15px;color: #554e4a;}
.detail .proj .desc h3{font-size: 16px;font-weight: bold;margin: 10px 0 5px;}
.detail .proj .desc p{font-size: 16px;line-height: 24px;margin: 5px 0 15px;}
.detail .proj .desc .c{margin-left: 0px;}
.detail .proj .desc .r{color: #ff4a12;margin: 0 3px;}
.detail .proj .desc .d{color: #afa7a2;font-weight: normal;}
.detail .proj .desc .fb{color: #5a5552;border: 1px solid #d4d4d4;background: #e6e6e6;border-radius: 5px;font-size: 14px;padding: 5px 0px;line-height: 20px;margin-bottom: 10px;margin-right: 10px;text-align: center;}
.detail .proj .desc .bt{border: 1px solid #cacaca;color: #4c4c4c;border-radius: 5px;text-align: center;background: #e0e0e0;padding: 5px 0;font-size: 13px;margin-top: 10px;}
.detail .proj .desc img{width: 100%;margin: 5px 0;}
.detail .proj .org{background: #f0efeb;padding: 15px;font-size: 15px;color: #5f5652;margin: 0 15px 15px 15px;position: relative;line-height: 22px;}
.detail .proj .org .t{background: #ae9789;color: #ffffff;display: inline-block;float: left;padding: 0 3px;font-size: 14px;line-height: 20px;margin-right: 10px;}
.detail .proj .org .b{font-weight: bold;float: left;}
.detail .proj .org .arr{width: 0;height: 0;position: absolute;border-top: 5px solid transparent;border-left: 10px solid #ae9789;border-bottom: 5px solid transparent;top: 6px;left: 60px;}
.detail .yqjrank2{position: relative;background: #ffffff;font-size: 16px;display: none;padding-bottom: 15px;border-bottom: 1px solid #ececec;margin-top: -1px;}
.detail .yqjrank2 .tt{color: #5d5753;border-top: 1px solid #ececec;padding: 10px 15px 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;}
.detail .yqjrank2 .tt span{color: #c60200;margin: 0 3px;}
.detail .yqjrank2 .ctx{padding: 0px 15px 0;overflow: hidden;margin-bottom: 10px;}
.detail .yqjrank2 .ctx .imgs{width: 90%;margin-top: 10px;float: left;}
.detail .yqjrank2 .ctx .imgs .li{width: 18%;margin-right: 2%;text-align: center;}
.detail .yqjrank2 .ctx .imgs .li img{}
.detail .yqjrank2 .ctx .imgs .li .head{border-radius: 50%;box-sizing: border-box;  overflow: hidden;}
.detail .yqjrank2 .ctx .imgs .li .arr{width: 9px;height: 9px;margin-top: 5px;z-index: 10;display: none;}
.detail .yqjrank2 .ctx .imgs .ed .arr{display: none;}
.detail .yqjrank2 .ctx .imgs .ed .head{border: 2px solid #c60200;}
.detail .yqjrank2 .ctx .arr{margin-top: 10px;}
.detail .yqjrank2 .ctx .arr img{width: 9px;height: 17px;}
.detail .yqjrank2 .desc{background: #f0efeb;border-radius: 6px;padding: 10px;z-index: 9;margin: -1px 15px 0;color: #56504d;font-size: 14px;}
.detail .yqjrank2 .desc .d{color: #b0a7a2;font-size: 13px;margin-top: 5px;}
.detail .yqjrank2 .desc span{color: #c60200;margin: 0 3px;}
.detail .comment{background: #ffffff;font-size: 16px;margin-top: 10px;border-bottom: 1px solid #ececec;}
.detail .comment .tt{border-top: 1px solid #ececec;border-bottom: 1px solid #ececec;padding: 0 15px;}
.detail .comment .tt .bb{border-bottom: 2px solid #c60200;display: inline-block;line-height: 40px;color: #605a57;}
.detail .comment .tt .arr{float: right;margin-top: 9px;color: #605a57;}
.detail .comment .tt .arr img{width: 18px;height: 16px;vertical-align: -3px;margin-right: 5px;}
.detail .comment .list{}
.detail .comment .list .li{position: relative;border-bottom: 1px solid #ececec;padding: 10px 15px 15px;}
.detail .comment .list .li .ico{width: 40px;height: 40px;border-radius: 40px;position: absolute;}
.detail .comment .list .li .cc{margin-left: 50px;}
.detail .comment .list .li .cc .nick{font-size: 14px;color: #b0a7a2;}
.detail .comment .list .li .cc .dd{font-size: 14px;color: #605a57;margin-top: 3px;word-break: break-all;word-wrap: break-word;}
.detail .comment .list .li .cc .time{font-size: 12px;color: #b0a7a2;margin-top: 10px;}
.detail .comment .list .li .cc .time .opt{font-size: 12px;color: #605a57;float: right;}
.detail .comment .list .li .cc .time .opt img{width: 14px;height: 14px;vertical-align: -3px;margin-right: 3px;}
.detail .comment .list .li .cc .reply .arr{margin: 5px 0 0 7px;width: 0;height: 0;border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 10px solid #f3f2f1;}
.detail .comment .list .li .cc .reply .rdd{background: #f3f2f1;border-radius: 4px;font-size: 13px;padding: 10px;color: #605a57;line-height: 20px;}
.detail .comment .list .li .cc .reply .rdd span{color: #b0a7a2;}
.detail .comment .list .li .cc .reply .rdd .mo{margin-top: 5px;}
.detail .comment .list .li:last-child{border-bottom: 0;}
.detail .comment .list .more{text-align: center;padding: 10px;font-size: 13px;color: #605a57;}
.detail .comment .list .more img{width: 16px;vertical-align: -4px;margin-right: 3px;}
.detail .footer{width: 100%;text-align: center;}
.detail .footer img{width: 102px;/*height: 18px;*/margin: 10px;}
.detail .content{margin-top: 10px;}
.detail .content .box{margin-left: 20px;border-left: 1px solid #d7d7d6;color: #5a5451;}
.detail .content .box .icon_1{width: 12px;height: 12px;}
.detail .content .box .icon_2{width: 21px;height: 21px;position: absolute;margin-left: -11px;margin-top: -1px;}
.detail .content .box .icon_3{width: 12px;height: 12px;position: absolute;margin-left: -7px;margin-top: 10px;}
.detail .content .box .title{margin: 10px 0 20px 15px;}
.detail .content .box .title .t{font-size: 16px;font-weight: bold;}
.detail .content .box .title .c{font-size: 16px;margin-left: 0px;line-height: 22px;}
.detail .content .box .title p{margin-top: 10px;}
.detail .content .box .report{padding-top: 5px;border-bottom: 1px solid #E3E2E1;background: rgba(128,128,128,0.1);margin-top: -15px;position: relative;}
.detail .content .box .report .b{margin: 14px 20px 10px;border-left: 2px solid #FF6800;}
.detail .content .box .report .t{font-size: 16px;font-weight: bold;margin-left: 10px;}
.detail .content .box .report .d{color: #AAA5A1;margin-left: 10px;margin-top: 3px;}
.detail .content .box .report_box{color: #7f7d79;font-size: 12px;border: 1px solid #c8c8c8;padding: 10px;border-left: 2px solid #ff6b0b;}
.detail .content .box .report_box .t{color: #342f2b;font-size: 15px;font-weight: bold;line-height: 26px;}
.detail .content .box .report_box .d{margin-left: 6px;}
.detail .content .box .report_summary{margin: 20px;border: 1px solid #e0e0e0;background-color: #e7e7e7;overflow: hidden;font-size: 14px;line-height: 15px;padding: 10px;}
.detail .content .box .desc{margin: 5px 20px 20px 15px;}
.detail .content .box .desc .t{font-size: 16px;font-weight: bold;margin-bottom: 10px;line-height: 18px;}
.detail .content .box .desc .other{font-weight: normal;border: 1px solid #d4d4d4;border-radius: 5px;background: rgba(228,228,228,0.5);padding: 12px 20px 0;margin-top: 10px;}
.detail .content .box .desc .other .ott{font-size: 15px;color: #afa8a2;}
.detail .content .box .desc .other .li{height: 70px;border-bottom: 1px dotted #d0cece;padding-top: 10px;}
.detail .content .box .desc .other .li img{width: 66px;height: 50px;float: left;margin-right: 10px;border-radius: 5px;}
.detail .content .box .desc .other .li .ot{font-size: 15px;color: #56504d;line-height: 32px;}
.detail .content .box .desc .other .li .od{font-size: 12px;color: #56504d;margin-top: 3px;}
.detail .content .box .desc .other .li .od span{color: #fd6a1a;margin: 0 2px;}
.detail .content .box .desc .other a:last-child .li{border-bottom: 0;}
.detail .content .box .desc h3{font-size: 16px;font-weight: bold;margin: 10px 0 5px;}
.detail .content .box .desc p{font-size: 16px;line-height: 24px;margin: 5px 0 15px;}
.detail .content .box .desc .c{margin-left: 0px;}
.detail .content .box .desc .r{color: #ff4a12;margin: 0 3px;}
.detail .content .box .desc .d{color: #afa7a2;font-weight: normal;}
.detail .content .box .desc .fb{color: #5a5552;border: 1px solid #d4d4d4;background: #e6e6e6;border-radius: 5px;font-size: 14px;padding: 5px 0px;line-height: 20px;margin-bottom: 10px;margin-right: 10px;text-align: center;}
.detail .content .box .desc .bt{border: 1px solid #cacaca;color: #4c4c4c;border-radius: 5px;text-align: center;background: #e0e0e0;padding: 5px 0;font-size: 13px;margin-top: 10px;}
.detail .content .box .desc img{width: 100%;margin: 5px 0;}
.detail .content .box .desc .pimg{width: 70px;height: 70px;margin: 2px 2px;}
.detail .content .box .desc .icon_1{width: 12px;height: 12px;position: absolute;margin-left: -22px;margin-top: 4px;}
.detail .content .box .desc .more{color: #fd6512;border: 1px solid #d4d4d4;background: #e6e6e6;border-radius: 5px;font-size: 13px;padding: 5px 30px;line-height: 20px;margin-right: 10px;text-align: center;}
.detail .content .box .footer{width: 100%;text-align: center;}
.detail .content .box .footer img{width: 102px;height: 18px;margin: 10px;}
.detail .pay{background: #ffffff;width: 100%;position: fixed;bottom:0;left: 0; z-index:9; display:none}
.detail .pay .t{border-top: 1px solid #dad7d0;border-bottom: 1px solid #d2d2d2;height: 40px;}
.detail .pay .t span{margin-left: 10px;color: #56504d;}
.detail .pay .t .ttt{line-height: 40px;}
.detail .pay .t .close{float: right;width: 40px;height: 40px;text-align: center;}
.detail .pay .t .close img{width: 15px;height: 15px;margin-top: 12px;}
.detail .pay .t .menu{font-size: 15px;line-height: 34px;color: #5d5855;}
.detail .pay .t .menu .item{float: left;margin: 0 0 0 10px;border: 1px solid #d2d2d2;border-bottom: none;padding: 0 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;background: #ffffff;}
.detail .pay .t .menu .sel{z-index: 999;line-height: 35px;}
.detail .pay .t .menu .sell{z-index: 999;line-height: 35px;}
.detail .pay .t .menu .item .micon{width: 18;height: 17px;position: absolute;margin-left: 2px;}
.detail .pay .box{margin: 20px 20px 10px 20px;}
/*169*/.detail .pay .box .tb{width: 100%;font-size: 16px;color: #b0a7a2;}
.detail .pay .box .btn span{margin: 0 3px;}
.detail .pay .box .btn{margin-top: 10px;width: 100%;height: 37px;line-height: 35px;font-size: 16px;color: #ffffff;display: inline-block;border-radius: 5px;text-align: center;background: #c60200;}
.detail .pay .box .wmt{color: #b0a7a2;font-size: 12px;text-align: center;line-height: 25px;}
.detail .pay .prot{font-size: 13px;color: #b0a7a2;margin-top: 2px;text-align: center;}
.detail .pay .prot .check{width: 12px;height: 12px;vertical-align: -1px;}
.detail .pay .prot label{margin-left: 3px;}
.detail .pay .prot .p a{float: none;color: #56504d;}
.detail .pay .box .tb .l{margin-right: 5px}
.detail .pay .box .tb .sel{font-size: 12px;line-height: 26px;border: 1px solid #c5c0b8;border-radius: 5px;word-break: break-all;word-wrap: break-word;background: #ffffff;padding: 4px 5px;text-align: center;  height: 25px;
  position: relative;}
.detail .pay .box .tb .sel input{border: 0;width: 100%;height: 25px;font-size: 16px;color: #fc7d37;text-align: center;-webkit-appearance: none;-webkit-rtl-ordering: logical;-webkit-user-select: text;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);outline: 0;box-sizing: border-box;cursor: auto;-webkit-writing-mode: horizontal-tb;  background-color: transparent;}
.detail .pay .box .tb .sel img{display: none;}

.detail .pay .box .tb .sell{font-size: 12px;line-height: 26px;border: 1px solid #c5c0b8;border-radius: 5px;word-break: break-all;word-wrap: break-word;background: #ffffff;padding: 4px 5px;text-align: center;  height: 25px;
  position: relative;}
.detail .pay .box .tb .sell input{border: 0;width: 100%;height: 25px;font-size: 16px;color: #fc7d37;text-align: center;-webkit-appearance: none;-webkit-rtl-ordering: logical;-webkit-user-select: text;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);outline: 0;box-sizing: border-box;cursor: auto;-webkit-writing-mode: horizontal-tb;  background-color: transparent;}
.detail .pay .box .tb .sell img{display: none;}

.detail .pay .box .tb .ed{border: 2px solid #c60200;}
.detail .pay .box .tb .ed img{width: 14px;height: 14px;float: right;margin-right: -5px;margin-top: -5px;display: block;}
.detail .pay .box .tb .sel span{color: #c60200;font-size: 14px;margin-right: 3px;}
.detail .pay .box .tb .sell span{color: #c60200;font-size: 14px;margin-right: 3px;}
.detail .paybgup{-webkit-animation: fadeIn .4s 0s ease both;-moz-animation: fadeIn .4s 0s ease both;}
.detail .payup{-webkit-animation: fadeInUp .4s .4s ease both;-moz-animation: fadeInUp .4s .4s ease both}
@-webkit-keyframes fadeIn{0%{background:rgba(0,0,0,0)}
100%{background:rgba(0,0,0,0.7)}}
@-webkit-keyframes fadeInUp{0%{-webkit-transform:translateY(400px)}
100%{-webkit-transform:translateY(0)}}
.result{}
.result .top{text-align: center;margin-top: 10px;}
.result .top .t{color: #75706b;line-height: 32px;font-size: 22px;}
.result .top .t .r{color: #f9610e;margin: 0 3px 20px;}
.result .top .t9{color: #a2a29f;font-size: 12px;margin-top: 10px;}
.result .top .l{margin: 15px 30px;border-bottom: 2px dotted #a2a29f;height: 1px;}
.result .top .d{font-size: 12px;line-height: 22px;color: #75706b;}
.result .top .btn{margin: 10px 10px;}
.result .top .btn img{width: 140px;}
.result .top .btn1{margin: 10px 0 5px;width: 70%;height: 35px;line-height: 35px;font-size: 16px;color: #ffffff;display: inline-block;border-radius: 5px;border: 1px #fe7225 solid;text-align: center;background: #ff6c0a;}
.result .top .btn span{color: #75726c;text-decoration: underline;}
.result .content .list{margin: 10px 10px 15px 12px;}
.result .content .list .t{margin: 10px;color: #837b6d;font-size: 14px;}
.result .content .list .item{border-radius: 3px;}
.result .content .list .item img{width: 95px;height: 72px;margin: 0 15px;border-radius: 7px;position: relative;margin-top: 3px;}
.result .content .list .item .t{color: #67615e;font-size: 12px;margin-right: 10px;}
.result .content .list .item .t .tt{font-size: 16px;color: #56504d;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.result .content .list .item .t .td{font-size: 12px;margin-top: 5px;height: 29px;overflow: hidden;}
.result .content .list .item .t .tp{font-size: 12px;margin-top: 5px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.result .content .list .item .t .tp .r{color: #fd6512;margin: 0 3px;}
.result .content .list .item .t .td a p{color: #999b9e}
.result .footer{width: 100%;text-align: center;}
.result .footer img{width: 102px;height: 18px;margin: 10px;}
.detail .tips{border-radius: 6px;border: 1px solid #d8d2d0;background: #ffffff;top: 50px;position: absolute;font-size: 18px;width: 272px;}
.detail .tips .ht{height: 5px;background: #f9610e;border-top-left-radius: 5px;border-top-right-radius: 5px}
.detail .tips .cc{text-align: center;padding: 10px;}
.detail .tips .cc .c{color: #756b59;margin: 10px 15px;}
.detail .tips table{width: 100%;height: 44px;border-top: 1px solid #e6e4e2}
.detail .tips table td{text-align: center;color: #ff6c0a;border-right: 1px solid #e6e4e2}
.detail .tips table td:last-child{border-right: 0;}
.detail .top .yqjrank{line-height: 44px;background: #ffffff;padding: 0 20px;border-bottom: 1px solid #d7d7d6;color: #5a5451;}
.detail .top .yqjrank .search{float: right;margin-top: 9px;border: 1px solid #d7d7d7;}
.detail .top .yqjrank .search input{border: 0;height: 24px;font-size: 13px;-webkit-appearance: none;padding-left: 5px;color: #5a5451;width: 130px;}
.detail .top .yqjrank .search div{float: right;line-height: 24px;font-size: 14px;padding: 0 5px;border-left: 1px solid #d7d7d7;}
.detail .top .yqjrank .tt{font-size: 14px;}
.detail .top .yqjrank .tt span{color: #c60200}
.detail .content .box .yqjrank{display: none;}
.detail .content .box .yqjrank .item{padding: 5px 10px;border-bottom: 1px dotted #cdcac6;color: #5a5451;}
.detail .content .box .yqjrank a:first-child .item{border-top-left-radius: 5px;border-top-right-radius: 5px;}
.detail .content .box .yqjrank a:last-child .item{border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-bottom: 0;}
.detail .content .box .yqjrank .item img{width: 40px;height: 40px;border-radius: 5px;margin-right: 10px;float: left;}
.detail .content .box .yqjrank .item .rank{float: right;line-height: 50px;font-size: 13px;}
.detail .content .box .yqjrank .item .rank span{color: #c60200;margin: 0 3px;}
.detail .content .box .yqjrank .item .n{line-height: 20px;font-size: 14px;padding-top: 5px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.detail .content .box .yqjrank .item .d{line-height: 25px;font-size: 13px;}
.detail .content .box .yqjrank .item .d span{color: #c60200;margin: 0 3px;}
.detail .content .box .yqjrank .ymore{float: right;font-size: 13px;color: #5a5451;}
.detail .content .box .desc .more1{font-size: 12px;text-align: center;padding: 5px;color: #6a6561;line-height: 24px;}
.detail .content .box .desc .more1 img{width: 16px;vertical-align: -9px;margin-right: 3px;}
.share .avatarWrapper, .share .username, .share .wording_1, .share .wording_2, .share .wording_3, .share .sponor_word, .share .shareBtn, .share .logo, .share .backIndexBtn{-webkit-transform: translate3d(0, 80px, 0);transform: translate3d(0, 80px, 0);opacity: 0;transition: transform 1s 1s, opacity 1s 1s;-webkit-transition: -webkit-transform 1s 1s, opacity 1s 1s;}
.share .avatarWrapper{transition-delay: 0.2s;-webkit-transition-delay: 0.2s;}
.share .username{transition-delay: 0.3s;-webkit-transition-delay: 0.3s;}
.share .wording_1{transition-delay: 0.5s;-webkit-transition-delay: 0.5s;}
.share .wording_2{transition-delay: 0.6s;-webkit-transition-delay: 0.6s;}
.share .wording_3{transition-delay: 0.7s;-webkit-transition-delay: 0.7s;}
.share .sponor_word{transition-delay: 0.8s;-webkit-transition-delay: 0.8s;}
.share .shareBtn{transition-delay: 1.0s;-webkit-transition-delay: 1.0s;}
.share .backIndexBtn{transition-delay: 1.1s;-webkit-transition-delay: 1.1s;}
.share .logo{transition-delay: 1.2s;-webkit-transition-delay: 1.2s;}
.share.active .avatarWrapper, .share.active .username, .share.active .wording_1, .share.active .wording_2, .share.active .sponor_word, .share.active .shareBtn, .share.active .logo, .share.active .wording_3, .share.active .backIndexBtn{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);opacity: 1;}
.alingCenter{left: 50%;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);position: absolute;}
html{width: 100%;height: 100%;}
a{-webkit-tap-highlight-color: transparent;}
.clearfix:after, .clearfix:before{content: '';display: table;}
.clearfix:after{clear: both;}
.clearfix{zoom: 1;}
.hg{color: #e50000;}
.NGO{height: 100%;}
.NGO .header{width: 90px;margin: 0 auto 0 auto;padding-top: 34px;}
.NGO .header .avatarWrapper{width: 90px;height: 90px;overflow: hidden;border-radius: 90px;margin-bottom: 8px;}
.NGO .header .avatarWrapper img{width: 100%;border-radius: 90px;}
.NGO .header .username{font-size: 14px;text-align: center;display: block;font-weight: bold;color: #000;}
.NGO .shareBtnWrapper{width: 100%;position: absolute;bottom: 20%;}
.NGO .shareBtn{display: block;margin: 0 auto;width: 90%;height: 40px;line-height: 40px;text-align: center;color: #fff;background: #e50000;font-size: 17px;text-decoration: none;border-radius: 40px;}
.NGO .backIndexBtn{display: block;margin: 0 auto;width: 90%;height: 40px;line-height: 40px;text-align: center;color: #e50000;font-size: 17px;text-decoration: none;border-radius: 40px;border: 1px solid #e50000;margin-top: 13px;}
.NGO .wording{font-size: 15px;line-height: 15px;text-align: center;color: #000;width: 100%;margin-top: 20px;margin-bottom: 34px;}
.NGO .wording p{margin-bottom: 10px;}
.NGO .wording p a{color: #e50000;}
.NGO .sponor_word{font-size: 12px;color: #a5a5a5;width: 100%;text-align: center;}
.NGO .footer{position: absolute;width: 100%;bottom: 2%;}
.NGO .footer a{text-decoration: none;text-align: center;}
.NGO .footer .logo{display: block;margin: 0 auto 10px auto;width: 105px;}
.NGO .footer span{color: #a5a5a5;display: block;text-align: center;font-size: 13px;}
.share_layer{position: absolute;height: 100%;width: 100%;top: 0;left: 0;display: none;}
.share_layer.show{display: block;}
.share_layer .mask{position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0,0,0,0.8);}
.share_layer .shareWord{position: absolute;right: 30px;top: 0;width: 245px;}
@media screen and (max-height:518px){.NGO .shareBtnWrapper{bottom: 15%;}}
@media screen and (max-height:484px){.NGO .shareBtnWrapper{bottom: 12%;}
.NGO .footer{bottom: 0%;}}
@media screen and (max-height:470px){.NGO .wording{margin-top: 10px;margin-bottom: 20px;}}
@media screen and (max-height:444px){.NGO .header{padding-top: 10px;}}
@media screen and (max-height:414px){.NGO .wording{margin-bottom: 10px;}}
@media screen and (max-height:400px){.NGO .wording p{margin-bottom: 4px;}
.NGO .backIndexBtn{margin-top: 4px;}}
@media screen and (min-height:530px){.NGO .sponor_word{position: absolute;bottom: 38%;}}
.peijuan .hg, .sponsor .hg{color: #c60200;margin-right: 3px;}
.peijuan{position: relative;overflow: hidden;}
.peijuan h2{color: #5d5652;font-size: 15px;padding-top: 15px;margin-left: 56px;margin-bottom: 4px;font-weight: normal;}
.peijuan p{margin-top: 14px;font-size: 13px;color: #afa7a2;margin-left: 30px;line-height: 18px;margin-bottom: 15px;margin-right: 20px;}
.peijuan .peijuan_tips{position: absolute;left: -24px;top: 10px;padding: 4px 20px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);background: #c60200;font-size: 13px;color: #fff;}
.peijuan .peijuan_tips.finish{background: #868686;}
.sponsor{padding: 16px 13px;border-top: 1px solid #e6e4dd;}
.sponsor .sponsor_logo{width: 55px;float: left;}
.sponsor .sponsor_content{margin-left: 65px;margin-right: 10px;}
.sponsor h2{color: #5d5652;font-size: 14px;margin-bottom: 4px;font-weight: normal;}
.sponsor p{font-size: 13px;color: #afa7a2;line-height: 18px;}
.detail_box{position: fixed;top: 50%;left: 50%;width: 75%;padding: 0px 18px 0px 15px;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);background-color: #fff;border: 2px solid #c60603;border-radius: 10px;z-index: 400;font-size: 12px;color: #5d5652;display: none;}
.detail_box .detail_box_header{position: relative;width: 100%;padding: 14px 0px 5px;margin-bottom: 17px;border-bottom: 1px solid #eaeaea;}
.detail_box .detail_box_header img{width: 85px;height: auto;}
.detail_box .detail_box_header .detail_box_close{position: absolute;top: 3px;right: -10px;width: 30px;height: 30px;background: url(..images/detail_close.png) no-repeat;background-size: 30px 30px;}
.detail_box .detail_box_body p{line-height: 17px;margin-bottom: 27px;font-size: 14px;}
.mask_level{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;background-color: rgba(0,0,0,0.6);z-index: 300;display: none;}
.detail_link{display: inline-block;margin-right: 13px;font-size: 13px;text-decoration: underline;}
.detail_logo{display: inline-block;width: 47px;height: 14px;background: url(..images/logo.png) no-repeat;background-size: 47px 14px;vertical-align: middle;}
create_share .top{margin-bottom: 22px;overflow: hidden;border-bottom: 1px solid #d6d3cd;}
.create_share .top img{width: 100%;height: auto;}
.create_share .content .footer{width: 100%;text-align: center;}
.create_share .content .footer img{width: 102px;/*height: 18px;*/margin: 25px 10px 10px 10px;}
.create_share .content{padding: 0px 16px;margin-bottom: 20px;}
.create_share .content .info_color{color: #ff6a0e;}
.create_share .content .share_info{padding: 11px 9px;border: 1px solid #d6d3cd;border-radius: 8px;background-color: #fff;}
.create_share .content .share_info .img_info{position: relative;padding-left: 80px;margin-bottom: 19px;min-height: 50px;}
.create_share .content .share_info .img_info img{position: absolute;top: 0px;left: 0px;width: 69px;height: 50px;}
.create_share .content .share_info .img_info .info_title{font-size: 14px;color: #6a6561;margin-bottom: 10px;}
.create_share .content .share_info .img_info .money, .create_share .content .share_info .img_info .time{display: inline-block;font-size: 12px;color: #b0a7a2;}
.create_share .content .share_info .img_info .money{margin-right: 19px;}
.create_share .content .share_info .word_info{font-size: 14px;color: #6a6561;}
.create_share .content .share_info .word_info .words{margin-top: 12px;color: #b0a7a2;}
.jigou{padding: 15px;font-size: 15px;color: #56514F;margin: 0 15px 15px 15px;}
.ctximg li{display:none;}
.pdesc{margin: 5px 0 0 0px;font-size: 13px;line-height: 18px;color: #b0a7a2;}
.pdesc span{color: #ff6a0e;}
.ctx_con_t_l a{ color:#fe5842;  text-decoration: inherit;}

.xieyi{ position:fixed; width:90%; background:#fff; top:20px; left:5%; z-index:999; overflow:auto}
.xieyi span.xieyi_ca{  position: fixed;
  right: 20px;
  top: 20px;}
.xieyi span.xieyi_ca img{ width:20px;}
.about .top{width:100%;}
.about .content {width:100%;}
.about .content p{font-size:14px;margin:5px 20px;line-height:22px;color:#4c4845;}
.about .content p .t{font-weight: bold;}
.about .content p .c{margin-left:0px;}
.about .content p .s{color:#4c4845;}