* {
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
	border: none;
}
a {
	text-decoration: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
body {
	font-family: "Microsoft Yahei", "Helvetica Neue", Hiragino, Sans, GB, W3, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%!important;
}
.none {
	display: none
}
.clear {
	clear: both;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
-webkit-appearance:none;
margin:0;
}
.fb {
	font-weight: bold;
}
.cpm-mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 96;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7)
}
.cpm-dialog-mod {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-ms-flex-direction: column;
	-ms-flex-pack: center;
	-ms-flex-align: center
}
.cpm-dialog {
	position: relative;
	z-index: 100;
	width: auto;
	min-width: 170px;
	margin: 2px 20px;
	background: rgba(0,0,0,0.7);
	text-align: center;
	border-radius: 5px;
	color: #fff
}
.cpm-dialog .icon-load, .cpm-dialog .i-delete:before {
	background: url(../images/icon_dialog.png) no-repeat
}
.cpm-dialog-load .dialog-bd {
	padding: 45px 0;
	font: 14px/1.5 "Microsoft YaHei", Helvetica, sans-serif;
}
.cpm-dialog-load .icon-load {
	display: inline-block;
	height: 32px;
	width: 32px;
	margin-bottom: 20px;
	vertical-align: top;
	background-size: 32px auto;
	-webkit-animation: dialogLoading 1s linear infinite
}
@-webkit-keyframes dialogLoading {
0% {
-webkit-transform:rotate(0deg)
}
100% {
-webkit-transform:rotate(360deg)
}
}
.cpm-dialog-modx {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
}
.create .top {
	position: relative;
}
.create .content {
	font-size: 16px;
	margin: 8px 15px 15px 15px
}
.create .content .prog {
	border-radius: 8px;
	overflow: hidden;
}
.create .content .prog .tt {
	position: relative;
	font-size: 16px;
	color: #6a6561;
	overflow: hidden;
	padding: 15px 15px 15px 70px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #d7d4ce;
}
.create .content .prog .tt .title {
	font-size: 18px;
	color: #c50200;
	margin-bottom: 8px;
	font-family: "Microsoft Yahei";
}
.create .content .prog .tt .tt_color {
	color: #c60502;
}
.create .content .prog .tt .peijuan_tips {
	position: absolute;
	left: -24px;
	top: 10px;
	padding: 4px 20px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	font-size: 13px;
	color: #fff;
	background-color: #c60603;
}
.create .content .prog .tt .ttr {
	float: right;
	font-size: 13px;
	color: #b0a7a2;
	line-height: 20px;
}
.create .content .prog .tt .ttr span {
	color: #ff6910;
}
.create .content .prog .ctx {
	padding: 15px 10px;
	min-height: 50px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #d7d4ce;
	border-radius: 5px;
}
.create .content .prog .ctx .pimg {
	width: 66px;
	height: 50px;
	border-radius: 5px;
	float: left;
}
.create .content .prog .ctx .ptt {
	margin-left: 10px;
	color: #6a6561;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}
.create .content .prog .ctx .pdesc {
	margin: 5px 0 0 76px;
	font-size: 13px;
	line-height: 18px;
	color: #b0a7a2;
}
.create .content .prog .ctx .pdesc span {
	color: #ff6a0e;
}
.create .content .dest {
	margin-top: 15px;
	min-height: 125px;
}
.create .content .dest .tt {
	font-size: 16px;
	color: #6a6561;
	line-height: 30px;
	padding-left: 10px;
}
.create .content .dest .ctx {
}
.create .content .dest .ctx .li {
	width: 25%;
	float: left;
}
.create .content .dest .ctx .li.txt {
	width: 100%;
	margin-top: 8px;
}
.create .content .dest .ctx .li.txt .td {
	color: #b0a7a2;
	border: 0;
	padding: 0 10px;
}
.create .content .dest .ctx .li.txt input {
	height: 40px;
	border: 0;
	-webkit-appearance: none;
	text-align: center;
	font-size: 16px;
	width: 150px;
	color: #d00002;
	font-weight: bold;
}
.create .content .dest .ctx .li img {
	display: none;
}
.create .content .dest .ctx .li div {
	background: #ffffff;
	margin: 0 3px;
	border: 1px solid #d7d4cd;
	line-height: 40px;
	text-align: center;
	font-size: 13px;
	border-radius: 6px;
	color: #6a6561;
}
.create .content .dest .ctx .li div span {
	color: #ff6a0e;
	font-size: 15px;
	margin-right: 1px;
	font-weight: bold;
}
.create .content .dest .ctx .ed div {
	border: 1px solid #d00002;
	position: relative;
}
.create .content .dest .ctx .ed img {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}
.create .content .sour {
	margin-top: 20px;
	position: relative
}
.create .content .sour .tt {
	color: #6a6561;
	padding-left: 10px;
	font-size: 14px;
}
.create .content .sour .tt span {
	color: #b0a7a2;
	margin-left: 5px;
}
.create .content .sour .td {
	color: #b0a7a2;
	font-size: 14px;
	line-height: 25px;
	padding-left: 10px;
}
.create .content .sour .tt .more {
	color: #6a6561;
	float: right;
	overflow: hidden;
}
.create .content .sour .tt .more .arr {
	background: url(../images/detail_icon_31.png) no-repeat;
	background-size: 15px 8px;
	width: 15px;
	height: 8px;
	margin-left: 3px;
}
.create .content .sour .tt .moreu .arr {
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg)
}
.create .content .sour .sou {
	margin-top: 8px;
	margin-bottom: 8px;
}
.create .content .sour .sou .arr {
	margin: -8px 0 0 0;
	right: 43px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 8px solid #edebe7;
	position: absolute;
}
.create .content .sour .soud {
	margin-top: 10px;
	background: #edebe7;
	border-radius: 6px;
	color: #6a6561;
	padding: 12px 10px;
}
.create .content .sour .soud ul {
	margin-left: 20px;
	font-size: 14px;
}
.create .content .sour .soud ul li {
	margin-bottom: 5px;
	line-height: 18px;
}
.create .content .sour .txt {
	margin-top: 4px;
	line-height: 18px;
	border: 1px solid #d7d4cd;
	width: 100%;
	border-radius: 6px;
	min-height: 55px;
	color: #6a6561;
	padding: 10px;
	font-size: 14px;
	-webkit-appearance: none;
}
.create .content .sour .ttp {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 12px;
	color: red;
}
.create .content .btn {
	margin: 15px 0;
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #ffffff;
	display: inline-block;
	border-radius: 5px;
	border: 1px #c40001 solid;
	text-align: center;
	background: #c40001;
}
.create .content .bott {
	text-align: center;
}
.create .content .bott img {
	width: 16px;
	margin: 0 2px;
	vertical-align: middle;
}
.create .content .bott span {
	color: #b0a7a2;
	font-size: 12px;
}
.create .content .result {
	text-align: center;
	color: #6a6561;
}
.create .content .result .tt {
	color: #fc7d37;
	margin: 10px 0;
}
.create .content .result .td span {
	color: #fc7d37;
}
.create .content .footer {
	width: 100%;
	text-align: center;
}
.create .content .footer img {
	width: 102px;
	/*height: 18px;*/
	margin: 25px 10px 10px 10px;
}
.detail .top {
	position: relative;
	z-index: -1;
}
.detail .eqj_start_logo {
	width: 72px;
	height: 22px;
	background: url(../images/logo.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 50%;
	margin-left: -115px;
	top: 15px;
}
.detail .top .hd {
	position: absolute;
	left: 50%;
	margin-left: -45px;
	top: 50%;
	margin-top: -50px;
	background: rgba(255,255,255,0.5);
	border-radius: 90px;
	padding: 5px;
}
.detail .top .hd img {
	width: 90px;
	height: 90px;
	border-radius: 90px;
}
.detail .named {
	text-align: center;
	margin-top: -6px
}
.detail .named .tt {
	font-size: 18px;
	color: #c50100;
	line-height: 26px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: bold;
}
.detail .named .dd {
	margin: 2px 15px 5px;
	font-size: 14px;
	color: #343333;
	line-height: 20px;
}
.detail .mtip {
	background: rgba(55,55,55,0.8);
	color: #ffffff;
	padding: 10px 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 13px;
}
.detail .mtip .mtbtn {
	float: right;
	margin-right: 20px;
	display: inline-block;
	width: 50px;
	border-radius: 40px;
	background: #ffffff;
	color: #666666;
	text-align: center;
}
.detail .profile {
	position: relative;
	margin: -25px 15px 10px 15px;
}
.detail .profile .hd {
	width: 100%;
	height: 54px;
}
.detail .profile .hd img {
	width: 185px;
	height: 108px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -92px;
	z-index: 100;
}
.detail .profile .tt {
	margin-left: 80px;
	font-size: 16px;
	color: #ff4a12;
	line-height: 28px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 205px;
}
.detail .profile .ctx {
	border: 1px solid #e1dedd;
	border-radius: 6px;
	background: #fff;
	color: #6e645f;
	padding-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.detail .profile .ctx .num {
	text-align: left;
	width: 50%;
	float: left;
	font-size: 13px;
	line-height: 20px;
	color: #b0a7a2;
}
.detail .profile .ctx .num div {
	margin: 10px 20px 15px;
}
.detail .profile .ctx .num div span {
	color: #f26123;
	margin: 0 3px;
	font-size: 14px;
	font-weight: bold
}
.detail .profile .ctx .tr {
	text-align: right;
}
.detail .profile .ctx .dd {
	margin: 8px 8px 8px 75px;
	font-size: 14px;
	line-height: 18px;
}
.detail .profile .ctx .ot {
	text-align: center;
	margin: 20px 10px 0px;
}
.detail .profile .ctx .ot .ls {
	margin: 0 0 8px 0;
	position: relative;
	text-align: center;
}
.detail .profile .ctx .ot .ls div {
	display: inline-block;
	width: 14%;
	overflow: hidden;
	padding: 0 3px;
}
.detail .profile .ctx .ot .ls div img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.detail .profile .ctx .ot .otd {
	font-size: 12px;
	margin-top: 5px;
}
.detail .profile .ctx .ot .otd span {
	margin: 0 3px;
	color: #c50100;
}
.detail .time_info {
	margin: 0px 15px 10px;
}
.detail .time_info .title {
	font-size: 18px;
	color: #c50200;
	margin-bottom: 8px;
	font-family: "Microsoft Yahei";
}
.detail .time_info p {
	line-height: 21px;
}
.detail .time_info .tt {
	position: relative;
	font-size: 16px;
	color: #6a6561;
	overflow: hidden;
	padding: 15px 15px 15px 70px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #d7d4ce;
}
.detail .time_info .tt .tt_color {
	color: #c60502;
}
.detail .time_info .tt .peijuan_tips {
	position: absolute;
	left: -24px;
	top: 10px;
	padding: 4px 20px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	font-size: 13px;
	color: #fff;
	background-color: #c60603;
}
.detail .time_info .tt .tt_time {
	margin-right: 5px;
}
.detail .project {
	position: relative;
	margin: 10px 15px 10px 15px;
	background: #fff;
	border: 1px solid #e1dedd;
	border-radius: 5px;
}
.detail .project .ttbg {
	background: #fff;
	border-bottom: 1px solid #dddcda;
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	padding-left: 8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.detail .project .tt {
	color: #6e635f;
	font-size: 14px;
	text-align: center;
	width: 90px;
	height: 22px;
}
.detail .project .nmoney {
	font-size: 12px;
	color: #b0a7a2;
	position: absolute;
	right: 10px;
	top: 0;
}
.detail .project .ctx {
	padding: 12px 12px 5px 12px;
	color: #6e645f;
	position: relative;
}
.detail .project .ctx .pimg {
	width: 80px;
	height: 60px;
	border-radius: 6px;
	float: left;
}
.detail .project .ctx .ptt {
	font-weight: bold;
	font-size: 15px;
	margin-left: 10px;
	line-height: 22px;
}
.detail .project .ctx .arri img {
	position: absolute;
	right: 15px;
	top: 12px;
	width: 18px;
	height: 18px;
	background: url(../images/arr_down.png) no-repeat;
	background-size: 18px 18px;
}
.detail .project .ctx .arriup img {
	background: url(../images/arr_up.png) no-repeat;
	background-size: 18px 18px;
}
.detail .project .ctx .arria span {
	display: none;
	float: left;
}
.detail .project .ctx .arrib {
	position: fixed;
	top: -5px;
	width: 50px;
	border: 1px solid #d4d4d4;
	background: #ffffff;
	padding: 10px;
	border-radius: 5px;
	right: 15px;
	z-index: 200;
}
.detail .project .ctx .arrib span {
	display: block;
}
.detail .project .ctx .arrib img {
	margin-top: -4px;
	right: 8px;
	background: url(../images/arr_up.png) no-repeat;
	background-size: 18px 18px;
}
.detail .project .ctx .pdd {
	margin: 3px 0 0 90px;
	font-size: 14px;
	height: 34px;
	overflow: hidden;
	color: #b1a8a3;
	line-height: 18px;
}
.detail .project .bt {
	color: #b1a8a3;
	font-size: 13px;
	line-height: 25px;
	padding: 0 0 8px 10px;
}
.detail .project .bt img {
	width: 14px;
	height: 14px;
	float: right;
	margin: 5px 10px 0 0;
	background: url(../images/arr_up.png) no-repeat;
	background-size: 15px 15px;
}
.detail .project .ctx .summary {
	position: relative;
	border-top: 1px dotted #b4b2b0;
	margin: 25px 0 0 0;
}
.detail .project .ctx .summary .st {
	color: #6e645f;
	background: #e9e3d8;
	font-size: 12px;
	width: 70px;
	text-align: center;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	position: absolute;
	top: -11px;
	left: -12px;
	line-height: 22px;
}
.detail .project .ctx .summary .desc {
	margin-top: 20px;
	font-size: 15px;
}
.detail .project .ctx .summary .desc h3 {
	font-size: 15px;
	font-weight: bold;
	margin: 10px 0 5px;
}
.detail .project .ctx .summary .desc p {
	font-size: 15px;
	line-height: 24px;
	margin: 5px 0 15px;
}
.detail .project .xybs {
}
.detail .project .xybs .xtt {
	overflow: hidden;
	color: #6e6361;
	font-size: 14px;
	border-top: 1px solid #dddbdc;
	border-bottom: 1px solid #dddbdc;
	padding: 8px 12px;
}
.detail .project .xybs .xtt span {
	color: #fe7816;
	margin: 0 3px;
}
.detail .project .xybs .xtt img {
	width: 10px;
	height: 17px;
	vertical-align: middle;
	float: right;
}
.detail .project .xybs .xbtns {
	width: 100%;
	text-align: center;
}
.detail .project .xybs .xbtns .btn {
	display: inline-block;
	padding: 4px 20px;
	text-align: center;
	line-height: 30px;
	color: #6e645f;
	border-radius: 2px;
	font-size: 16px;
	border: 1px solid #dddbdc;
	margin-bottom: 10px;
}
.detail .project .xybs .xbtns .btn img {
	margin-right: 5px;
	width: 23px;
	height: 23px;
	vertical-align: -5px
}
.detail .project .xybs .xbtns .btn span {
	margin-left: 6px;
}
.detail .project .xybs .xitems {
	padding: 10px 10px 15px 10px;
}
.detail .project .xybs .xitems .li {
	padding: 0 0 15px;
	overflow: hidden;
	position: relative;
}
.detail .project .xybs .xitems .li .icon {
	width: 38px;
	height: 38px;
	border-radius: 20px;
	float: left;
}
.detail .project .xybs .xitems .li p {
	font-size: 14px;
	margin-left: 50px;
	min-height: 20px;
	line-height: 20px;
	color: #afa7a4;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.detail .project .xybs .xitems .li .rel {
	font-size: 12px;
	min-height: 20px;
	line-height: 20px;
	color: #afa7a4;
}
.detail .project .xybs .xitems .li .arr {
	position: absolute;
	top: 43px;
	left: 12px;
	width: 0;
	height: 0;
	border-bottom: 10px solid #f2f0ef;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	display: inline-block;
	float: left;
}
.detail .project .xybs .xitems .li .box {
	background: #f7f5f6;
	color: #6e645f;
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
}
.detail .project .xybs .xitems .li:last-child {
	padding: 0;
}
.detail .payinfo {
	padding: 10px 10px 10px 10px;
	font-size: 16px;
	color: #6a6561;
	font-size: 13px;
	background: #fff;
	border-top: 1px solid #e4ddd9;
}
.detail .payinfo span {
	color: #ff4a12;
	margin: 0 5px;
}
.detail .payinfo .ptb td {
	padding: 0px;
}
.detail .payinfo .ptb span {
	color: #ec7116;
	margin: 0 2px;
}
.detail .payinfo .ptb .pb {
	background: #d5d3d2;
	width: 100%;
	float: left;
	border-radius: 5px;
}
.detail .payinfo .ptb .pb .pbr {
	background: #ff6b0b;
	float: left;
	height: 5px;
	border-radius: 5px;
}
.detail .list {
	background: #fff;
	border-top: 1px solid #e8e7e6;
}
.detail .list .itt {
	margin: 0 15px;
	border-bottom: 1px dotted #e8e7e6;
	padding: 10px 0;
	font-size: 14px;
	color: #4c4c4c;
}
.detail .list .items .li {
	margin: 0 15px;
	border-bottom: 1px dotted #e8e7e6;
	padding: 10px 0;
}
.detail .list .items .li img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	float: left;
}
.detail .list .items .li .nick {
	font-size: 14px;
	color: #343333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100px;
	height: 20px;
	line-height: 20px;
}
.detail .list .items .li .m {
	font-size: 13px;
	float: right;
	color: #6a6561;
}
.detail .list .items .li .m span {
	color: #ff4a12;
}
.detail .list .items .li .dd {
	font-size: 12px;
	color: #b0a7a2;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 150px;
	height: 20px;
	line-height: 20px;
}
.detail .list .items .li .t {
	float: right;
	font-size: 12px;
	color: #b0a7a2;
}
.detail .list .items .more {
	font-size: 12px;
	text-align: center;
	padding: 10px;
	color: #6a6561;
}
.detail .list .items .more img {
	width: 16px;
	vertical-align: -4px;
	margin-right: 3px;
}
.detail .list .items .rli .nick {
	color: #b0a7a2;
}
.detail .list .items .rli .m {
	color: #b0a7a2;
}
.detail .list .items .rli .m span {
	color: #b0a7a2;
}
.detail .items .li:last-child {
	border-bottom: none;
}
.detail .list_more {
	background: #fff;
	border-top: 1px solid #e8e7e6;
	border-bottom: 1px solid #e8e7e6;
}
.detail .list_more .list_more_btn {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #6e645f;
	font-size: 14px;
	text-align: center;
}
.detail .btns {
	position: fixed;
	left: 0;
	bottom: 0px;
	width: 100%;
	background: #ffffff;
	border-top: 1px solid #dad7d0;
	z-index: 500
}
.detail .btns .btn {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #ffffff;
	display: inline-block;
	border-radius: 5px;
	border: 1px #d9120f solid;
	text-align: center;
	background: #d9120f;
}
.detail .btns .btn img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	vertical-align: -4px;
}
.detail .footer {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.detail .footer img {
	width: 102px;
	height: 18px;
	margin: 20px 10px 10px 10px;
}
.detail .complete .btn {
	width: 240px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #736f6b;
	display: inline-block;
	border-radius: 5px;
	border: 1px #fe7225 solid;
	text-align: center;
	background: #ffffff;
	border: 1px solid #c8c4bf;
}
.detail .complete .btn img {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: -4px;
}
.detail .complete .tt {
	font-weight: bold;
	color: #736f6b;
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	margin-top: 15px;
}
.detail .complete .td {
	font-weight: normal;
	margin-bottom: 20px;
	font-size: 14px;
}
.detail .complete .btnd {
	background: #e6e6e6;
}
.detail .prog_result {
	text-align: center;
	margin-bottom: 20px;
}
.detail .prog_result img {
	width: 100%;
	margin: 30px 0 10px;
}
.detail .prog_result div {
	margin-top: 5px;
	font-size: 14px;
	color: #929292;
}
.detail .prog_result .r {
	color: #ff6713;
	font-size: 18px;
}
.detail .prog_result .d {
	font-size: 12px;
	margin: 0px 0;
}
.detail .prog_result .d span {
	color: #ff6713;
}
.detail .addr {
	background: #373d40;
	line-height: 30px;
	overflow: hidden;
	font-size: 12px;
	color: #fff;
	padding: 5px 10px;
}
.detail .addr .abtn {
	float: right;
	line-height: 20px;
	border-radius: 17px;
	padding: 0 10px;
	font-size: 12px;
	margin-top: 5px;
	background: #d7d8d9;
	color: #22292c;
}
.detail .pay_result {
	margin: 20px 0 10px 0;
}
.detail .pay_result .msg {
	border: 1px solid #d8d4cf;
	border-radius: 8px;
	height: 35px;
	background: #fff;
	margin: 0 15px;
	width: 91%;
	padding: 5px;
	outline: none;
	min-height: 51px;
}
.detail .pay_result .msg .txt {
	width: 80%;
	float: left;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}
.detail .pay_result .msg .txt input {
	margin: 0 10px;
	border: 0;
	background: rgba(0,0,0,0);
	width: 100%;
	height: 35px;
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: 0;
	box-sizing: border-box;
	cursor: auto;
	-webkit-writing-mode: horizontal-tb;
}
.detail .btn_area {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.detail .btn_area .coutwork {
	width: 50%;
	float: left;
}
.detail .btn_area .message_btn {
	width: 50%;
	float: right;
	text-align: right;
}
.detail .pay_result .msg .txt .d {
	color: #b4b2b0;
	font-size: 14px;
}
.detail .pay_result .msg .txt .sd {
	color: #333333;
}
.detail .pay_result .msg .btn {
	width: 20%;
	float: right;
	text-align: center;
	height: 35px;
	background: #ff6b0b;
	line-height: 35px;
	font-size: 14px;
	color: #fff;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}
.detail .pay_result .msg .dis {
	background: #b6b6b6;
}
.detail .pay_result .ds {
	color: #bdbcba;
	font-size: 13px;
	margin: 0 20px;
	line-height: 26px;
	text-align: center;
}
.detail .pay_result .t {
	font-size: 14px;
	color: #4c4c4c;
	text-align: center;
}
.detail .pay_result .c .tt {
	display: none;
}
.detail .pay_result .t .tt {
	display: block;
	font-size: 20px;
}
.detail .pay {
	background: #ffffff;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}
.detail .pay .t {
	border-top: 1px solid #dad7d0;
	border-bottom: 1px solid #d2d2d2;
	line-height: 40px;
}
.detail .pay .t span {
	margin-left: 10px;
	color: #56504d;
}
.detail .pay .t .close {
	float: right;
	width: 40px;
	height: 40px;
	text-align: center;
}
.detail .pay .t .close img {
	width: 15px;
	height: 15px;
	margin-top: 12px;
}
.detail .pay .box {
	margin: 20px;
}
.detail .pay .box .tb {
	width: 100%;
	font-size: 16px;
	color: #b0a7a2;
}
.detail .pay .box .tb input {
	width: 100%;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	height: 34px;
	background: #ffffff;
	text-align: center;
	color: #fc7d37;
	-webkit-appearance: none;
}
.detail .pay .box .btn {
	margin-top: 15px;
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	color: #ffffff;
	display: inline-block;
	border-radius: 5px;
	border: 1px #d00002 solid;
	text-align: center;
	background: #d00002;
}
.detail .pay .prot {
	font-size: 14px;
	color: #b0a7a2;
	margin-top: 10px;
	text-align: center;
}
.detail .pay .prot .check {
	width: 12px;
	height: 12px;
	vertical-align: -1px;
}
.detail .pay .prot label {
	margin-left: 10px;
}
.detail .pay .prot .p {
	float: none;
	color: #56504d;
	font-size: 14px;
}
.detail .pay .anonymous {
	font-size: 14px;
	color: #b0a7a2;
	margin-top: 10px;
	text-align: center;
}
.detail .pay .anonymous .anonymouscheck {
	width: 12px;
	height: 12px;
	vertical-align: -1px;
}
.detail .pay .anonymous label {
	margin-left: 5px;
}
.detail .pay .box .tb .l {
	margin-right: 5px
}
.detail .pay .box .tb .sel {
	font-size: 14px;
	line-height: 26px;
	border: 1px solid #c5c0b8;
	border-radius: 5px;
	word-break: break-all;
	word-wrap: break-word;
	background: #ffffff;
	padding: 4px 8px;
	text-align: center;
}
.detail .pay .box .tb .sel input {
	border: 0;
	width: 90px;
	height: 25px;
	font-size: 16px;
	color: #fc7d37;
	text-align: center;
	-webkit-appearance: none;
}
.detail .pay .box .tb .sel img {
	display: none;
}
.detail .pay .box .tb .ed {
	border: 2px solid #d00002;
}
.detail .pay .box .tb .ed img {
	width: 14px;
	height: 14px;
	float: right;
	margin-right: -10px;
	margin-top: -5px;
	display: block;
}
.detail .pay .box .tb .sel span {
	color: #d00002;
	font-size: 16px;
	margin-right: 3px;
}
.detail .paybgup {
	-webkit-animation: fadeIn .2s 0s ease both;
	-moz-animation: fadeIn .2s 0s ease both;
}
.detail .payup {
	-webkit-animation: fadeInUp .2s .2s ease both;
	-moz-animation: fadeInUp .2s .2s ease both
}
 @-webkit-keyframes fadeIn {
0% {
opacity:0
}
100% {
opacity:.99
}
}
 @-webkit-keyframes fadeInUp {
0% {
-webkit-transform:translateY(400px)
}
100% {
-webkit-transform:translateY(0)
}
}
.detail .tips {
	border-radius: 6px;
	border: 1px solid #d8d2d0;
	background: #ffffff;
	top: 0;
	position: absolute;
	font-size: 18px;
}
.detail .tips .ht {
	height: 5px;
	background: #f9610e;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.detail .tips .cc {
	width: 250px;
	text-align: center;
	padding: 10px;
}
.detail .tips .cc .c {
	color: #756b59;
	margin: 10px 15px;
}
.detail .tips table {
	width: 100%;
	height: 44px;
	border-top: 1px solid #e6e4e2
}
.detail .tips table td {
	text-align: center;
	color: #ff6c0a;
	border-right: 1px solid #e6e4e2
}
.detail .tips table td:last-child {
	border-right: 0;
}
.donation_bg_wrap {
	display: block;
	height: 267px
}
.donation_bg {
	display: block;
	width: 280px;
	height: 267px;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -160px;
	top: 0;
	background: url(../images/yqj_anim_bg.jpg) no-repeat 0 0;
	background-size: 280px 267px
}
.people_wrap {
	position: absolute;
	display: block;
	width: 280px;
	top: 85px;
	left: 0
}
.people_wrap .person {
	display: block;
	height: 103px;
	width: 37px;
	background: url(../images/yqj_anim_sprite_8.png) no-repeat 0 -125px;
	background-size: 238px 228px;
	position: absolute;
	z-index: 1
}
.people_wrap .person_1 {
	height: 103px;
	width: 37px;
	left: 100px;
	top: 1px;
	z-index: 2
}
.people_wrap .person_2 {
	height: 84px;
	width: 30px;
	left: 44px;
	top: 36px;
	background-size: 210px 190px;
	background-position: 0 -105px;
	-webkit-transform: rotate(-6deg);
	-webkit-transform-origin: 0 0
}
.people_wrap .person_3 {
	height: 103px;
	width: 37px;
	left: 202px;
	top: 3px;
	-webkit-transform: rotate(5deg);
	-webkit-transform-origin: 50% 0;
	z-index: 2
}
.people_wrap .person_4 {
	height: 84px;
	width: 30px;
	left: 254px;
	top: 36px;
	background-size: 210px 190px;
	background-position: 0 -105px;
	-webkit-transform: rotate(14deg);
	-webkit-transform-origin: 50% 0
}
.people_wrap .person_5 {
	height: 90px;
	width: 34px;
	opacity: .6;
	left: 68px;
	top: 14px;
	background-size: 220px 200px;
	background-position: 0 -110px;
	-webkit-transform: rotate(-2deg);
	-webkit-transform-origin: 0 0
}
.people_wrap .person_6 {
	height: 90px;
	width: 34px;
	opacity: .6;
	left: 126px;
	top: 0;
	background-size: 220px 200px;
	background-position: 0 -110px
}
.people_wrap .person_7 {
	height: 90px;
	width: 34px;
	opacity: .6;
	left: 179px;
	top: 0;
	background-size: 220px 200px;
	background-position: 0 -110px
}
.people_wrap .person_8 {
	height: 90px;
	width: 34px;
	opacity: .6;
	left: 230px;
	top: 14px;
	background-size: 220px 200px;
	background-position: 0 -110px;
	-webkit-transform: rotate(2deg);
	-webkit-transform-origin: 0 0
}
@-webkit-keyframes a_person {
0% {
-webkit-transform:translate(0, 0)
}
25% {
-webkit-transform:translate(2px, 1px)
}
50% {
-webkit-transform:translate(0px, 0px)
}
75% {
-webkit-transform:translate(-2, -2px)
}
100% {
-webkit-transform:translate(0, 0)
}
}
@-webkit-keyframes a_person_1 {
0% {
-webkit-transform:rotate(5deg) translate(0, 0)
}
25% {
-webkit-transform:rotate(5deg) translate(2px, 1px)
}
50% {
-webkit-transform:rotate(5deg) translate(0px, 0px)
}
75% {
-webkit-transform:rotate(5deg) translate(-2, -2px)
}
100% {
-webkit-transform:rotate(5deg) translate(0, 0)
}
}
.donation_box {
	display: block;
	width: 126px;
	height: 96px;
	background: url(../images/yqj_anim_sprite_24.png) no-repeat 0 -66px;
	background-size: 130px 95px;
	position: absolute;
	left: 100px;
	top: 135px;
	z-index: 3;
	-webkit-animation: a_donation_box 2s linear infinite;
	-webkit-transform-origin: 50% 100%
}
.donation_box:after {
	content: "";
	display: block;
	height: 68px;
	width: 126px;
	background: #c7220e;
	position: absolute;
	left: 0;
	top: 27px;
	z-index: 1
}
@-webkit-keyframes a_donation_box {
0% {
-webkit-transform:scale(1, 1)
}
50% {
-webkit-transform:scale(1, 1)
}
55% {
-webkit-transform:scale(1.02, 0.97)
}
60% {
-webkit-transform:scale(0.98, 1)
}
65% {
-webkit-transform:scale(1.02, 1)
}
70% {
-webkit-transform:scale(1, 1)
}
100% {
-webkit-transform:scale(1, 1)
}
}
.box_shadow {
	display: block;
	height: 42px;
	width: 165px;
	background: #e3ddce;
	border-radius: 82px/21px;
	position: absolute;
	left: 80px;
	top: 204px;
	z-index: 2;
	-webkit-animation: a_donation_box 2.6s linear infinite
}
.donation_box .heart {
	display: block;
	height: 61px;
	width: 85px;
	background: url(../images/yqj_anim_sprite_8.png) no-repeat -96px -125px;
	background-size: 238px 228px;
	position: absolute;
	left: 20px;
	top: 32px;
	z-index: 2
}
.donation_box .heart:before {
	content: "";
	display: block;
	height: 61px;
	width: 85px;
	background: url(../images/yqj_anim_sprite_8.png) no-repeat -96px -125px;
	background-size: 238px 228px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	-webkit-animation: a_box_heart 1.6s linear infinite;
	z-index: 2
}
@-webkit-keyframes a_box_heart {
0% {
opacity:0;
-webkit-transform:scale(1)
}
40% {
opacity:0;
-webkit-transform:scale(1)
}
60% {
opacity:.5;
-webkit-transform:scale(1)
}
80% {
opacity:.5;
-webkit-transform:scale(1.2)
}
100% {
opacity:0;
-webkit-transform:scale(1.2)
}
}
.donation_box .donation_txt {
	display: block;
	height: 21px;
	width: 68px;
	background: url(../images/yqj_anim_sprite_24.png) no-repeat 0 -42px;
	background-size: 130px 95px;
	position: absolute;
	left: 27px;
	top: 48px;
	text-indent: -9999px;
	overflow: hidden;
	z-index: 3
}
.main_person .person_body {
	display: block;
	height: 10px;
	width: 29px;
	background: #f9c29c;
	position: absolute;
	left: 153px;
	top: 132px;
	z-index: 1
}
.main_person .person {
	display: block;
	height: 67px;
	width: 54px;
	background: url(../images/yqj_anim_sprite_8.png) no-repeat -39px -125px;
	background-size: 238px 228px;
	position: absolute;
	left: 137px;
	top: 68px;
	z-index: 3
}
.main_person .person .donation_heart {
	display: block;
	height: 44px;
	width: 45px;
	position: absolute;
	left: 4px;
	top: 40px;
	overflow: hidden;
	-webkit-transition: opacity .3s linear;
	opacity: 1
}
.main_person .person .donation_heart .heart {
	display: block;
	height: 44px;
	width: 45px;
	background: url(../images/yqj_anim_sprite_24.png) no-repeat -85px 0;
	background-size: 130px 95px;
	position: absolute;
	left: 0;
	top: 6px;
	-webkit-animation: a_person_heart 2s linear infinite;
	-webkit-transform-origin: 50% 0
}
@-webkit-keyframes a_person_heart {
0% {
-webkit-transform:rotate(-20deg) scale(0.24) translate(14px, -20px);
opacity:0
}
20% {
-webkit-transform:translate(0, 0);
opacity:1
}
30% {
-webkit-transform:translate(0, -2px)
}
80% {
-webkit-transform:translate(0, 100px);
opacity:0
}
100% {
-webkit-transform:rotate(-20deg) scale(0.24) translate(52px, -80px);
opacity:0
}
}
.main_person .person .hand_1 {
	display: block;
	height: 10px;
	width: 30px;
	background: #f9c29c;
	box-shadow: -1px 0 1px rgba(0,0,0,0.2);
	border-radius: 15px/5px;
	position: absolute;
	left: -13px;
	top: 30px;
	-webkit-transform: rotate(-50deg);
	-webkit-transform: rotate(-117deg) scale(0.75, 1);
	-webkit-transform-origin: 100% 50%;
	-webkit-animation: a_hand_1 2s linear infinite
}
.main_person .person .hand_2 {
	display: block;
	height: 10px;
	width: 30px;
	background: #f9c29c;
	box-shadow: -1px 0 1px rgba(0,0,0,0.2);
	border-radius: 15px/5px;
	position: absolute;
	left: 14px;
	top: 30px;
	-webkit-transform: rotate(-95deg);
	-webkit-transform: rotate(-63deg) scale(0.75, 1);
	-webkit-transform-origin: 100% 50%;
	-webkit-animation: a_hand_2 2s linear infinite
}
@-webkit-keyframes a_hand_1 {
0% {
-webkit-transform:rotate(-117deg) scale(0.75, 1)
}
20% {
-webkit-transform:rotate(-50deg) scale(1, 1)
}
}
@-webkit-keyframes a_hand_2 {
0% {
-webkit-transform:rotate(-63deg) scale(0.75, 1)
}
20% {
-webkit-transform:rotate(-95deg) scale(1, 1)
}
}
.donation_con {
	display: block;
	position: absolute;
	top: 8px;
	left: 50%;
	margin-left: -160px;
	z-index: 1;
	text-align: center;
	width: 280px;
	color: #ff6713;
	font-size: 16px;
	-webkit-transition: top .15s ease
}
.donation_con .sub_txt {
	color: #6a6561;
	margin-top: 3px;
	-webkit-transition: opacity .3s linear
}
.donated_wrap .donation_box .donation_txt {
	display: block;
	height: 40px;
	width: 82px;
	background: url(../images/yqj_anim_sprite_24.png) no-repeat 0 0;
	background-size: 130px 95px;
	position: absolute;
	left: 24px;
	top: 40px;
	text-indent: -9999px;
	overflow: hidden;
}
@-webkit-keyframes a_donation_txt {
0% {
-webkit-transform:scale(5);
opacity:.2
}
98% {
-webkit-transform:scale(0.6);
opacity:1
}
100% {
-webkit-transform:scale(1);
opacity:1
}
}
.donated_wrap .donation_con {
	top: 16px
}
.donated_wrap .donation_con .sub_txt {
	opacity: 0
}
.donated_wrap .donation_box {
	-webkit-animation: none
}
.donated_wrap .box_shadow {
	-webkit-animation: none
}
.donated_wrap .main_person .person .donation_heart .heart {
	opacity: 0;
	-webkit-animation: none
}
.donated_wrap .main_person .person .hand_1 {
	left: -13px;
	top: 32px;
	-webkit-animation: a_donated_hand_1 2.6s linear infinite
}
.donated_wrap .main_person .person .hand_2 {
	left: 14px;
	top: 32px;
	-webkit-animation: a_donated_hand_2 2.6s linear infinite
}
@-webkit-keyframes a_donated_hand_1 {
0% {
-webkit-transform:rotate(-117deg) scale(0.75, 1)
}
20% {
-webkit-transform:rotate(-340deg) scale(1, 1)
}
40% {
-webkit-transform:rotate(-117deg) scale(0.75, 1)
}
}
@-webkit-keyframes a_donated_hand_2 {
0% {
-webkit-transform:rotate(-63deg) scale(0.75, 1)
}
20% {
-webkit-transform:rotate(180deg) scale(1, 1)
}
40% {
-webkit-transform:rotate(-63deg) scale(0.75, 1)
}
}
.donated_wrap .main_person .person .salvo_wrap .salvo_1 {
	display: block;
	height: 60px;
	width: 238px;
	background: url(../images/yqj_anim_sprite_8.png) no-repeat 0 0;
	background-size: 238px 228px;
	position: absolute;
	left: -90px;
	top: -16px;
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: a_salvo_1 2.6s linear infinite;
	opacity: 0
}
.donated_wrap .main_person .person .salvo_wrap .salvo_2 {
	display: block;
	height: 60px;
	width: 238px;
	background: url(../images/yqj_anim_sprite_8.png) no-repeat 0 -62px;
	background-size: 238px 228px;
	position: absolute;
	left: -90px;
	top: -16px;
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: a_salvo_1 2.6s .15s linear infinite;
	opacity: 0
}
@-webkit-keyframes a_salvo_1 {
0% {
-webkit-transform:scale(0.1);
opacity:0
}
20% {
-webkit-transform:scale(1) translate(0, 0);
opacity:1
}
30% {
-webkit-transform:scale(1) translate(-2px, 3px);
opacity:1
}
40% {
-webkit-transform:scale(1) translate(2px, 6px);
opacity:1
}
50% {
-webkit-transform:scale(1) translate(-2px, 9px);
opacity:1
}
60% {
-webkit-transform:scale(1) translate(2px, 12px);
opacity:.8
}
70% {
-webkit-transform:scale(1) translate(-1px, 15px);
opacity:.8
}
80% {
-webkit-transform:scale(1) translate(0, 20px);
opacity:.6
}
100% {
-webkit-transform:scale(1) translate(0, 30px);
opacity:0
}
}
.donated_wrap .main_person .person {
	height: 63px;
	width: 86px;
	left: 124px;
	top: 72px;
	background-image: url(../images/yqj_anim_human.png);
	background-position: 0 0;
	background-size: 86px 128px;
	-webkit-animation: a_person_step 2.6s step-end infinite
}
@-webkit-keyframes a_person_step {
0% {
background-position:0 0
}
5% {
background-position:0 -65px
}
10% {
background-position:0 -65px
}
75% {
background-position:0 0
}
100% {
background-position:0 0
}
}
.donated_wrap .main_person .person .hand {
	display: none
}
.donated_wrap .main_person .person_body {
	display: none
}
.donated_wrap .main_person .person .salvo_wrap .salvo_1 {
	left: -75px
}
.donated_wrap .main_person .person .salvo_wrap .salvo_2 {
	left: -75px
}
.eqj_hd {
	position: relative;
	overflow: hidden
}
.eqj_hd .mask_area {
	z-index: 11;
	width: 100%;
	position: absolute;
	bottom: -8px;
	left: 0;
	height: 100px;
	background: url(../images/yqj/mask_bg.png) no-repeat;
	background-size: 100%
}
.eqj_hd .eqj_logo {
	width: 72px;
	height: 22px;
	background: url(../images/logo.png) no-repeat;
	background-size: 72px 22px;
	position: absolute;
	right: 10px;
	top: 15px;
}
.eqj_hd .banner_area {
	overflow: hidden;
	padding-bottom: 8px
}
.eqj_hd .banner_area img {
	width: 100%;
}
.eqj_hd .thx_text {
	z-index: 11;
	width: 100%;
	position: absolute;
	top: 82px;
	color: #fff;
	left: 0
}
.eqj_hd .thx_text p {
	text-align: center;
	font-size: 18px;
	margin-bottom: 5px
}
.eqj_hd .thx_text strong {
	color: #fff;
	font-weight: bold
}
.eqj_hd .thx_text .txt_des {
	font-size: 15px
}
.eqj_hd .thx_text .txt_des strong {
	font-weight: normal
}
.eqj_hd .thx_text .txt_des .icon_left {
	display: inline-block;
	width: 5px;
	height: 5px;
	border: 2px solid #fff;
	border-color: #fff transparent transparent #fff;
	position: relative;
	top: -7px;
	left: 3px;
}
.eqj_hd .thx_text .txt_des .icon_right {
	display: inline-block;
	width: 5px;
	height: 5px;
	border: 2px solid #fff;
	border-color: transparent #fff #fff transparent;
	position: relative;
	top: 3px;
	left: -3px;
}
.thx_area {
	z-index: 12;
	position: absolute;
	background: url(../images/yqj/thx_bg.png) no-repeat;
	left: 50%;
	bottom: 0;
	margin-left: -25px;
	background-size: 100%;
	width: 90px;
	height: 70px
}
.avatar_area {
	z-index: 11;
	width: 52px;
	height: 52px;
	position: absolute;
	left: 50%;
	top: 15px;
	margin-left: -30px;
	background: rgba(255,255,255,0.3);
	padding: 4px;
	border-radius: 100%
}
.avatar_area .avatar {
	border-radius: 100%;
	overflow: hidden
}
.avatar_area .avatar img {
	width: 100%
}
.mask_bg {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	position: absolute;
	left: 0;
	top: 0
}
@media all and (min-width:414px) {
.eqj_hd .mask_area {
	height: 120px
}
.avatar_area {
	top: 25px
}
.eqj_hd .thx_text {
	top: 100px
}
}
@media all and (min-width:375px) and (max-width:400px) {
.eqj_hd .mask_area {
	height: 110px
}
.avatar_area {
	top: 25px
}
.eqj_hd .thx_text {
	top: 100px
}
}
/*一起捐发起页*/
.create .top .yqj_logo {
	background: url(../images/logo.png) no-repeat;
	background-size: 72px 22px;
	width: 72px;
	height: 22px;
	position: absolute;
	top: 15px;
	left: 27px;
}
.create .content .prog .tt .quota {
	color: #c50301;
	font-size: 13px;
}
.create .content .edit_dest strong {
	color: #ff6b0b;
	font-weight: normal;
}
.create .content .edit_dest .sel_dir {
	display: inline-block;
	width: 13px;
	height: 8px;
	background: url(../images/sd_dir.png) no-repeat;
	background-size: 13px 16px;
}
.create .content .edit_dest .sd_down {
	background-position: left bottom;
}
.create .content .edit_dest .sd_up {
	background-position: left top;
}
/*.progress{margin:0 15px; padding:20px 0; height: 35px;}
.progress .progress_inner{ margin:0 auto; position: relative;}
.progress .progress_line{width: 80%; position: relative; top:6px; margin:0 auto; height: 4px; background: #e3e3e3; border-radius: 6px; overflow:hidden;}
.progress .progress_long{width: 50%; height: 100%; background:#f37b30;}
.progress .pro_block{width: 60px; height: 35px; position: absolute; top:0px; margin-left:-30px; font-size: 12px; text-align: center;}
.progress .pro_block .pro_title{margin-top: 5px; color:#b0a7a2;}
.progress .pro_serial{width:16px; margin:0 auto; height: 16px; border-radius: 100%; background:#fff; border:1px solid #c0c0c0; text-align: center; line-height: 16px; font-size: 12px; color:#fc5945;}
.progress .progress_one {left: 10%;}
.progress .progress_two {left: 50%;}
.progress .progress_three {right: 0;}
.progress .pro_block.active .pro_serial {background:#f37b30; border:1px solid #f37b30; color: #fff;}
.progress .pro_block.active .pro_title {color:#f37b30;}*/

.eqj_main {
	text-align: center;
	color: #656565;
	line-height: 24px;
	font-size: 15px;
	margin: 10px 0;
}
.eqj_main strong {
	font-weight: normal;
	color: #c50100;
}
.eqj_btn_area {
	text-align: center;
}
.eqj_btn_area .eqj_link {
	display: inline-block;
	background: #fff;
	color: #c50100;
	border: 1px solid #c50100;
	height: 30px;
	line-height: 30px;
	width: 130px;
	border-radius: 15px;
}
.eqj_btn_area .eqj_btn_dir {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid #c50100;
	-webkit-transform: rotate(45deg);
	border-color: #c50100 #c50100 transparent transparent;
}
.detail .pay_result .btn_area {
	margin-top: 5px;
}
.detail .pay_result .coutwork {
	font-weight: normal;
	font-size: 12px;
	color: #b0a7a2;
}
.detail .pay_result .coutwork strong {
	font-weight: normal;
	color: #c50100;
}
.detail .pay_result .msg_btn {
	width: 60px;
	height: 25px;
	background: #c50100;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	border-radius: 3px;
}
.detail .profile .pro_tit {
	overflow: hidden;
	background: #f3f2f1;
	padding: 0 10px;
	line-height: 28px;
	font-size: 13px;
}
.detail .profile .pro_tit strong {
	font-weight: normal;
	color: #c50200;
}
.detail .profile .pro_tit_left {
	float: left;
	color: #c50200;
}
.detail .profile .pro_tit_right {
	float: right;
}
.detail .profile .eqj_ongoing {
	padding: 15px;
	overflow: hidden;
}
.detail .profile strong {
	font-weight: normal;
	color: #c50200;
}
.detail .profile .eqj_ongoing h4 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
}
.detail .profile .eqj_ongoing_img {
	width: 70px;
	height: 65px;
	float: left;
	margin-right: 15px;
}
.detail .profile .eqj_ongoing_text {
	overflow: hidden;
	font-size: 12px;
}
.detail .profile .eqj_target {
	padding: 0 15px;
}
.detail .profile .eqj_progress_area .eqj_progress_line {
	width: 90%;
	background: #d5cfcc;
	height: 5px;
	float: left;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 7px;
}
.detail .profile .eqj_progress_area .eqj_progress_long {
	background: #ff6b0b;
	height: 5px;
}
.detail .profile .eqj_progress_area .eqj_percent {
	width: 10%;
	float: right;
	text-align: right;
	font-size: 12px;
	color: #c50200;
	margin-top: 3px;
}
.yqj_edit_icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url(../images/yqj_edit_icon.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: 5px;
}
.yqj_success {
	width: 150px;
	height: 27px;
	background: url(../images/yqj/yqj_success_new.png) no-repeat;
	background-size: 100%;
	margin: 10px auto;
}
/* .yqj_invitation{width:206px; height: 12px; background:url(../images/yqj_invitation.png) no-repeat; background-size: 100%; margin:10px auto 0 auto;margin-bottom: 20px;} */
.yqj_send_friend {
	width: 211px;
	height: 12px;
	background: url(../images/yqj_send_friend.png) no-repeat;
	background-size: 100%;
	margin: 10px auto 0 auto;
}
.create_share .top {
	margin-bottom: 22px;
	overflow: hidden;
	border-bottom: 1px solid #d6d3cd;
}
.create_share .top img {
	width: 100%;
	height: auto;
}
.create_share .content .footer {
	width: 100%;
	text-align: center;
}
.create_share .content .footer img {
	width: 102px;
	height: 18px;
	margin: 25px 10px 10px 10px;
}
.create_share .content {
	padding: 0px 16px;
	margin-bottom: 20px;
}
.create_share .content .info_color {
	color: #ff6a0e;
}
.create_share .content .share_info {
	padding: 11px 9px;
	border: 1px solid #d6d3cd;
	border-radius: 8px;
	background-color: #fff;
}
.create_share .content .share_info .img_info {
	position: relative;
	padding-left: 80px;
	margin-bottom: 19px;
	min-height: 50px;
}
.create_share .content .share_info .img_info img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 69px;
	height: 50px;
}
.create_share .content .share_info .img_info .info_title {
	font-size: 14px;
	color: #6a6561;
	margin-bottom: 10px;
}
.create_share .content .share_info .img_info .money, .create_share .content .share_info .img_info .time {
	display: inline-block;
	font-size: 12px;
	color: #b0a7a2;
}
.create_share .content .share_info .img_info .money {
	margin-right: 19px;
}
.create_share .content .share_info .word_info {
	font-size: 14px;
	color: #6a6561;
}
.create_share .content .share_info .word_info .words {
	margin-top: 12px;
	color: #b0a7a2;
}
.detail_link {
	display: inline-block;
	margin-right: 13px;
	font-size: 13px;
	text-decoration: underline;
}
.detail_logo {
	display: inline-block;
	width: 47px;
	height: 14px;
	background: url(../images/logo.png) no-repeat;
	background-size: 47px 14px;
	vertical-align: middle;
}
.detail_box {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 75%;
	padding: 0px 18px 0px 15px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 2px solid #c60603;
	border-radius: 10px;
	z-index: 1100;
	font-size: 12px;
	color: #5d5652;
	display: none;
}
.detail_box .detail_box_header {
	position: relative;
	width: 100%;
	padding: 14px 0px 5px;
	margin-bottom: 17px;
	border-bottom: 1px solid #eaeaea;
}
.detail_box .detail_box_header img {
	width: 85px;
	height: auto;
}
.detail_box .detail_box_header .detail_box_close {
	position: absolute;
	top: 3px;
	right: -10px;
	width: 30px;
	height: 30px;
	background: url(../images/detail_close.png) no-repeat;
	background-size: 30px 30px;
}
.detail_box .detail_box_body p {
	line-height: 17px;
	margin-bottom: 27px;
	font-size: 14px;
}
.mask_level {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 1000;
	display: none;
} 
.ctx_con_t_l{ margin-left:76px;text-align: left;}
.ctx_right{float: right;}
.clearfix{ zoom: 1;}
.clearfix:after {  content: '.';  display: block;  height: 0;  clear: both;  visibility: hidden;}
.conetnt_title{ font-size:14px; line-height:40px; color:#424242;}
.con_t_l{ float:left}
.con_t_r{ float:right;}
.con_t_r span{ color:#ff6a0e; }