#invite-qrcode div.qrcode{
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
}

#invite-qrcode div.qrcode img{
    width: 230px;
    height: 230px;
    -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
}

