 *{ margin: 0; padding: 0;}
a{color: #6e6e76;text-decoration: none;}
a:hover{text-decoration: none;}
ul, ol, li{list-style: none;}
.category{display:block; overflow:hidden; background:#EEE;}
.category a{display:inline-block; overflow:hidden; height:30px; line-height:30px; width:33.33%; text-align:center; color:#666; font-size:14px; float:left; padding:0 5px;
}
.list li a{display:block; height:71px; padding:10px 2% 10px 2%; border-bottom:1px #EEE solid; color:#333; overflow:hidden; text-decoration:none !important; position:relative;}
.list li a .thumb{width:25%; }
.list li a .title{font-size:14px; padding-right:90px;}
.list li a .createtime{font-size:12px; color:#999;padding: 10px 0 0 0 ;}

.head{height:40px; line-height:40px; background:#fc8800; padding:0 5px; color:#FFF;
position:fixed;bottom:0px;width:100%;z-index:999;}

.head .bn{display:inline-block; height:30px; line-height:30px; padding:0 7%; margin-top:4px; font-size:20px; background:transparent; color:#FFF; text-decoration:none;}

.head .bn.pull-left{border-right:1px solid #fff;}

.head .bn.pull-right{position:absolute; right:5px; top:0; border-left:0px solid #fff;}

.head .title{font-size:14pt;display:block;padding-left:10px;font-weight:bolder;margin-right:49px;text-align:center;height:40px;line-height:40px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}

.head .order{background:#F9F9F9; position:absolute; z-index:9999; right:0;   bottom: 30px;}

.head .order li > a{display:block; padding:0 10px; min-width:100px; height:35px; line-height:35px; font-size:16px; color:#333; text-decoration:none; border-top:1px #EEE solid;}

.head .order li.fa-caret-up{font-size:20px;color:#F9F9F9;position:absolute;top:-11px;right:16px;}

.pager-position{width:100%;margin:0 auto;text-align:center;}
.pull-right{
 float:left;!important;
 width:20%;
}
.rightConten{
float:left;
padding:0 0 0 3%;
text-align:left;
width:70%;
font-size:15px;

}
.pager-position{width:100%;margin:0 auto;text-align:center;}

.content{float: left;_display: inline;overflow: hidden;}

.fa fa fa-building{
font-size:20px;
margin:0 auto;
text-align:center;

}
.header{
width:100%;
height:45px;
line-height:45px;
font-size:18px;
font-weight:600;
text-align:center;
background:url("./top_bg.png") repeat-x;
color:#fff;

}

.header i{
position:absolute;
top:0;
float:left;
height:45px;
line-height:45px;
vertical-align:middle;
margin:0 auto;
color:#fff;
font-size:25px;
}

.fa-angle-left{
left:10px;

}
.fa-home{
right:10px;

}

#header .swiper-slide {
    padding: 0 1.5%;
    width: auto;
	width:25%
}
 .swiper-wrapper h2{font-weight: normal;font-size: 16px;margin: 0 auto;padding:0 ;}
 .swiper-wrapper a:hover{ text-decoration:none; color:#6e6e76;}
 #header {    
    
    height: 80px;
    background: #efefef;;
    font: 12px/40px hiragino sans gb, microsoft yahei, simsun;	
   
  
}
#header .swiper-slide {
    padding: 0 1%;
    width: 25% !important;
	margin:0 auto;
}
#header i{
text-align:center;
margin:0 auto;
 width: 100%;
 padding:12px 0 0 0 ;
}

#header .tet{
text-align:center;

}

.swiper-button-prev{
background-size:30%;
left:1px;
}
.swiper-button-next{
background-size:35%;
right:1px;
}
