@charset "utf-8";

html{background:#FFF;color:#000;}
html,body{width:100%;;height:100%;	padding:0;	margin:0; }
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{margin:0;padding:0;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
img{border:0;}
<!--首页开始-->


body{
width:100%;
height:100%;
background-size:100%;
}
.carousel-caption{
display:none;
}


.img-rounded { border-radius:0px;}

.box{width:100%; margin:2% auto; overflow:hidden;border-radius: 6px; text-align:center;}

.box .box-item{float:left;text-align:center;display:block;text-decoration:none;outline:none;height:auto;position:relative; color:#d27400;overflow:hidden;  background:#fff; border-right:1px solid #efefef;border-bottom:1px solid #efefef; width:33.3%; padding:1.5% 0; font-size:15px;}

.box .box-item i{display:inline-block;width:40px;height:40px;line-height:40px;font-size:24px; border-radius:50%;color:#fff;overflow: hidden; }

.box .box-item img{display:inline-block; width:80%;height:80%; margin:0 auto;}

.box .box-item span{color:#555353;display:block;height:25px; line-height:25px; width:100%; padding:0 5px; overflow:hidden;  border-bottom-left-radius:6px;border-bottom-right-radius:6px; -moz-border-radius-bottomleft:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-left-radius:6px; -webkit-border-bottom-right-radius:6px;}

.box .box-item2{float:left;text-align:center;display:block;text-decoration:none;outline:none;width:46%;height:160px;position:relative; color:#666;-webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px;border-bottom-left-radius:3px;border-bottom-right-radius:3px; margin:12px 2%;border:#fcf1ff solid 1px;}
.box .box-item2 i{display:inline-block;width:100%;height:100%;line-height:50px;font-size:35px;color:#FFF; overflow: hidden;
-webkit-border-radius:3px; -webkit-border-radius:3px;border-radius:3px; }


.box .box-item2 span{display:block;font-size:14px; position:absolute; bottom:0; width:100%; background:#000; filter:alpha(opacity=70);opacity:0.7;border-bottom-left-radius:3px;border-bottom-right-radius:3px; -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; -webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px;line-height: 30px;border-top:#000 solid 1px;}

.footer{color:#ffffff;}
.nav-menu-app .nav-group .nav-group-item a i {
display: block;
height: 30px;
padding-top: 3px;
line-height: 30px;
width: 100%;
text-align: center;
font-size: 16px;
color: #fff;
}
.carousel-indicators{
bottom:-10px;
}


.bar{width:100%; height:40px; line-height:40px; padding:0 0 0 15px;  font-size:16px; border-bottom:#efefef solid 1px; background:#fff; color:#555353;}
.bar a{display:block; width:100%; text-align:center; text-decoration:none; color:#000; }
.list,h3,p{padding:0px; margin:0px;}
.list li{padding: 0 ; list-style:none;background:#fff;}
.list li a{display:block; height:71px; border-bottom:#efefef solid 1px; solid 1px; overflow:hidden; text-decoration:none !important; position:relative; padding:5px 5px 5px 15px;color:#555353; }
.list li a .thumb{width:80px; height:60px;}
.list li a .title{font-size:14px; padding-left:100px;}
.list li a .createtime{font-size:12px; color:#999; position:absolute; bottom:5px;padding-left:100px;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
<!--首页结束-->

<!--内容页开始-->
table{border-collapse:collapse;border-spacing:0;}

fieldset, img{border:0;}

address, caption, cite, code, dfn,  th, var{font-style:normal;font-weight:normal;}

ol, ul{list-style:none;}

caption, th{text-align:left;}

h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}

q:before, q:after{content:'';}

abbr, acronym{border:0;font-variant:normal;}

sup{vertical-align:text-top;}

sub{vertical-align:text-bottom;}

input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}

input, textarea, select{font-size:100%;}

legend{color:#000;}

body{color:#222;font-family:Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;height:100%;position:relative;}

body > .tips{display:none;left:50%;padding:20px;position:fixed;text-align:center;top:50%;width:200px;z-index:100;}

.page{padding:15px;}

.page .page-error, .page .page-loading{line-height:30px;position:relative;text-align:center;}

#activity-detail .page-bizinfo{border-bottom:1px dotted #CCC;}

#activity-detail .page-bizinfo .header{padding:10px 10px 10px; height:auto; width:100%;
line-height:20px;
font-size:18px;
font-weight:600;
text-align:center;
color:#fff;}
.header{text-align:center;}

#activity-detail .page-bizinfo .header #activity-name{color:#000;font-size:20px;margin-bottom:5px;font-weight:bold;word-break:normal;word-wrap:break-word;}

#activity-detail .page-bizinfo .header #post-date{color:#8c8c8c;font-size:11px;margin:0;}

#activity-detail .page-content{padding:0 10px 10px 10px;}

#activity-detail .page-content .media{margin-bottom:18px;}

#activity-detail .page-content .media img{width:100%;}

#activity-detail .page-content .text{color:#3e3e3e;font-size:18px;line-height:30px;width: 100%;overflow: hidden;zoom:1; padding:10px 2px 10px 2px;}


#activity-detail .page-content .text p{word-wrap: break-word;word-break:break-all;}

#activity-list .header{font-size:20px;}

#activity-list .page-list{border:1px solid #ccc;border-radius:5px;margin:18px 0;overflow:hidden;}

#activity-list .page-list .line.btn{border-radius:0;margin:0;text-align:left;}

#activity-list .page-list .line.btn .checkbox{height:25px;line-height:25px;padding-left:35px;position:relative;}

#activity-list .page-list .line.btn .checkbox .icons{background-color:#ccc;left:0;position:absolute;top:0;}

#activity-list .page-list .line.btn.off .icons{background-image:none;}

#activity-list #save.btn{background-image:linear-gradient(#22dd22, #009900);background-image:-moz-linear-gradient(#22dd22, #009900);background-image:-ms-linear-gradient(#22dd22, #009900);background-image:-o-linear-gradient(#22dd22, #009900);background-image:-webkit-gradient(linear, left top, left bottom, from(#22dd22), to(#009900));background-image:-webkit-linear-gradient(#22dd22, #009900);}

.vm{vertical-align:middle;}

.tc{text-align:center;}

.db{display:block;}

.dib{display:inline-block;}

.b{font-weight:700;}

.clr{clear:both;}

.text img{max-width:100%;}

.page-url{padding-top:18px;}

.page-url-link{color:#607FA6;font-size:14px;text-decoration:none;text-shadow:0 1px #ffffff;-webkit-text-shadow:0 1px #ffffff;-moz-text-shadow:0 1px #ffffff;}

#mbutton{padding:15px 10px 15px 10px; overflow:hidden; border-bottom:1px #DDD solid;}

#mbutton > span{float:right; display:inline-block; background:#666; border:1px #DDD solid; color:#FFF; height:30px; line-height:30px; padding:0 10px; margin-left:10px;}

#mcover{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.7);display:none;z-index:20000;}

#mcover img{position:fixed;right: 18px;top:5px;width:260px;height:180px;z-index:20001;}

.head{height:40px; line-height:40px; background:#fc8800; padding:0 5px; color:#FFF;

position:fixed;bottom:0px;width:100%;z-index:999;}


.head .bn{display:inline-block; height:30px; line-height:30px; padding:0 7%; margin-top:4px; font-size:20px; background:transparent; color:#FFF; text-decoration:none;}

.head .bn.pull-left{border-right:1px solid #fff;}

.head .bn.pull-right{position:absolute; right:5px; top:0; border-left:0px solid #fff;}

.head .title{font-size:14pt;display:block;padding-left:10px;font-weight:bolder;margin-right:49px;text-align:center;height:40px;line-height:40px;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}

.head .order{background:#F9F9F9; position:absolute; z-index:9999; right:0;  bottom: 30px;}

.head .order li > a{display:block; padding:0 10px; min-width:100px; height:35px; line-height:35px; font-size:16px; color:#333; text-decoration:none; border-top:1px #EEE solid;}

.head .order li.fa-caret-up{font-size:20px;color:#F9F9F9;position:absolute;top:-11px;right:16px;}
table tbody {
border: 1px solid #eee;
}
table tbody tr td{
border:1px solid #eee;
text-align:left;
padding:0 0 0 5px;
}

table .firstRow td{
background:#59a201;
text-align:center;
font-size:16px;
color:#FFF;

}
.text table{
margin:0 auto;
text-align:center;
}
.text img{
margin:5px auto;
}
table tbody tr:first-child{
border: 1px solid #eee;
}
tr{
line-height:40px;
height:40px;
font:15px;


}

#news .list li a{
height:auto;
padding:0;
border-bottom:#efefef solid 1px;
}

#news .list li a .title{font-size:14px; padding-left:0;}

#news{background-color:#F0EFEF;margin: 0 auto;
   
	overflow-x: hidden;}
#activity-detail{background:#F0EFEF;}
#news .text{ margin:15px 0; word-wrap: break-word;}
#news .list{
border:0px solid #D1D1D1;
box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background-color:#FFFFFF;
margin:0 10px 10px 10px ;
padding:10px 15px 0 15px;
}
#news #recommend{
display: block;
color: #535353;
border: 0;
text-align: left;
font-size: 16px;
border-radius: 0;
height: 33px;
line-height: 33px;
text-decoration: none;
margin: 0;
text-indent:25px;
background: url("./ttext.png") no-repeat scroll left center transparent;
background-size: 20px auto;
}
#news #olload{
color: #535353;
border: 0;
text-align: left;
font-size: 16px;
border-radius: 0;
height: 33px;
line-height: 33px;
text-decoration: none;
margin: 0;
text-indent:25px;
background: url("./nocover.png") no-repeat scroll left center transparent;
background-size: 20px auto;
border-bottom: 1px solid #efefef;
}
#news .more{
   	-webkit-border-radius:26px;
	-moz-border-radius:26px;
	cursor: pointer;
	background-color:#FFFFFF;
	margin:10px 0;
	padding:10px;
	text-align:center;
	display: block;
}
#news .olditem {
display: block;
padding: 10px 0 9px 0;
background-color: #ffffff;
line-height:25px;
border-radius: 0;
box-shadow: 0;
text-align: left;
background: url("./ico-next.png") no-repeat scroll right center transparent;
background-size: 7px auto;
}
#oldlist ul{
padding:0 0 0 25px;
margin:0 auto;
}
#news .title {
display: block;
margin-left:0;
color: #535353;
font-size: 14px;
padding-right: 20px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap !important;
}

#news .go_top {
cursor: pointer;	
text-align:center;
display: block;
height:50px;
}

.go_top .top{
background: url("./newstop.png") no-repeat scroll left center transparent;
background-size: 11px auto;
display: block;
margin: 25px auto 0 auto;
text-indent: 15px;
width: 85px;
}
<!--内容页样式结束-->