{template 'common/header'}
<div class="main">
    <style type='text/css'>
        .tab-pane { padding:20px 0 20px 0;}
    </style>
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
	    <input type="hidden" name="id" value="{$setting['id']}" />
        <div class="panel panel-default">
            <div class="panel-heading">
                基本设置
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#tab_basic">基本信息</a></li>
                    <li><a href="#tab_share">分享设置</a></li>
                    <!--<li><a href="#tab_auth">借用授权设置</a></li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane  active" id="tab_basic">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">寄存提醒模版消息ID</label>
                            <div class="col-sm-9">
                                <input type="text" name="tplinfowine" value="{$setting['tplinfowine']}" class="form-control"/>
                                <div class="help-block">
                                    在模板库选择行业餐饮－餐饮，搜索“酒水寄存提醒”编号为OPENTM203405336的模板
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页背景图</label>
                            <div class="col-sm-9">
                                {php echo tpl_form_field_image('bg', $bg, '../addons/weisrc_nightclub/template/images/nurse.jpg', array('width' => 480, 'height' => 744))}
                                <span class="help-block" style="color:#f00">建议尺寸480*744</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">滚动公告</label>
                            <div class="col-sm-9">
                                <label for="scroll_announce_enable1" class="radio-inline"><input type="radio" name="scroll_announce_enable" value="1" id="scroll_announce_enable1" {if empty($setting) || $setting['scroll_announce_enable'] == 1}checked="true"{/if} /> 开启</label>
                                <label for="scroll_announce_enable2" class="radio-inline"><input type="radio" name="scroll_announce_enable" value="0" id="scroll_announce_enable2"  {if !empty($setting) && $setting['scroll_announce_enable'] == 0}checked="true"{/if} /> 关闭</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">公告滚动速度</label>
                            <div class="col-sm-9">
                                <input type="text" name="scroll_announce_speed" class="form-control" value="{if empty($setting)}6{else}{$setting['scroll_announce_speed']}{/if}" />
                                <span class="help-block">公告滚动速度,默认速度为6,数值越大滚动越快.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">首页滚动公告</label>
                            <div class="col-sm-9">
                                <textarea name="scroll_announce" class="form-control">{if empty($setting['scroll_announce'])}{$_W['account']['account']}微夜店平台正式上线拉...{else}{$setting['scroll_announce']}{/if}
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">公告链接</label>
                            <div class="col-sm-9">
                                <input type="text" name="scroll_announce_link" class="form-control" value="{if empty($setting)}#{else}{$setting['scroll_announce_link']}{/if}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">列表每页显示数量</label>
                            <div class="col-sm-9">
                                <input type="text" name="pagesize" class="form-control" value="{if empty($setting)}5{else}{$setting['pagesize']}{/if}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示留言</label>
                            <div class="col-sm-9">
                                <label for="feedback_show_enable1" class="radio-inline"><input type="radio" name="feedback_show_enable" value="1" id="feedback_show_enable1" {if empty($setting) || $setting['feedback_show_enable'] == 1}checked="true"{/if} /> 开启</label>
                                <label for="feedback_show_enable2" class="radio-inline"><input type="radio" name="feedback_show_enable" value="0" id="feedback_show_enable2"  {if !empty($setting) && $setting['feedback_show_enable'] == 0}checked="true"{/if} /> 关闭</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">留言是否需要审核</label>
                            <div class="col-sm-9">
                                <label for="feedback_check_enable1" class="radio-inline"><input type="radio" name="feedback_check_enable" value="1" id="feedback_check_enable1" {if empty($setting) || $setting['feedback_check_enable'] == 1}checked="true"{/if} /> 开启</label>
                                <label for="feedback_check_enable2" class="radio-inline"><input type="radio" name="feedback_check_enable" value="0" id="feedback_check_enable2"  {if !empty($setting) && $setting['feedback_check_enable'] == 0}checked="true"{/if} /> 关闭</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">照片是否需要审核</label>
                            <div class="col-sm-9">
                                <label for="photo_check_enable1" class="radio-inline"><input type="radio" name="photo_check_enable" value="1" id="photo_check_enable1" {if empty($setting) || $setting['photo_check_enable'] == 1}checked="true"{/if} /> 开启</label>
                                <label for="photo_check_enable2" class="radio-inline"><input type="radio" name="photo_check_enable" value="0" id="photo_check_enable2"  {if !empty($setting) && $setting['photo_check_enable'] == 0}checked="true"{/if} /> 关闭</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">底部版权</label>
                            <div class="col-sm-9">
                                <input type="text" name="copyright" class="form-control" value="{if empty($setting) || empty($setting['copyright'])}{$_W['account']['account']}微夜店{else}{$setting['copyright']}{/if}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">底部版权链接</label>
                            <div class="col-sm-9">
                                <input type="text" name="copyright_link" class="form-control" value="{if empty($setting) || empty($setting['copyright_link'])}#{else}{$setting['copyright_link']}{/if}" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_auth">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppId:</label>
                            <div class="col-sm-9">
                                <input type="text" name="appid" class="form-control" value="{if !empty($setting)}{$setting['appid']}{/if}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppSecret:</label>
                            <div class="col-sm-9">
                                <input type="text" name="secret" class="form-control" value="{if !empty($setting)}{$setting['secret']}{/if}" />
                                <span class="help-block" style="width:550px;">
                                借用说明：必需设置借用高级认证号的OAuth2.0网页授权的回调域名为你公众号第三方平台的全域名。
					            如：你的域名为：<font color="red">wx.weixin.com</font> ，你必需让借用高级认证号设置OAuth2.0网页授权的回调域名为:<font color="red">wx.weixin.com</font>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_share">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享时的标题</label>
                            <div class="col-sm-9">
                                <input type="text" id="share_title" name="share_title" value="{$setting['share_title']}" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面</label>
                            <div class="col-sm-9">
                                {php echo tpl_form_field_image('share_image', $share_image, '', array('width' => 640, 'height' => 640))}
                                <span class="help-block" style="color:#f00">建议尺寸640*640</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享时的摘要</label>
                            <div class="col-sm-9">
                                <input type="text" id="share_desc" name="share_desc" value="{$setting['share_desc']}" class="form-control" />
                                <div class="help-block">分享时的摘要</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户取消分享时</label>
                            <div class="col-sm-9">
                                <input type="text" id="share_cancel" name="share_cancel" value="{$setting['share_cancel']}" class="form-control" />
                                <div class="help-block">用户取消分享时的提示语。</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户分享的链接</label>
                            <div class="col-sm-9">
                                <input type="text" id="share_url" name="share_url" value="{$setting['share_url']}" class="form-control" />
                                <div class="help-block">建议留空，让用户把测试链接分享出去。</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">引导关注素材</label>
                            <div class="col-sm-9">
                                <input type="text" id="follow_url" name="follow_url" value="{$setting['follow_url']}" class="form-control" />
                                <div class="help-block">建议做一条引导关注的图文素材，为空则跳回测试起始界面。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
	</form>
</div>
<!--<script type="text/javascript" src="./resource/script/colorpicker/spectrum.js"></script>-->
<!--<link type="text/css" rel="stylesheet" href="./resource/script/colorpicker/spectrum.css" />-->
<!--<script type="text/javascript">-->
    <!--$(function(){-->
        <!--colorpicker();-->
    <!--});-->
<!--</script>-->
<script type="text/javascript">
    $(function () {
        window.optionchanged = false;
        $('#myTab a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        })
    });
    kindeditor($('.richtext-clone'));
</script>
<script type="text/javascript" src="./resource/script/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="./resource/script/kindeditor/lang/zh_CN.js"></script>
<link type="text/css" rel="stylesheet" href="./resource/script/kindeditor/themes/default/default.css" />
<script type="text/javascript">
    var editor = KindEditor.editor({
        allowFileManager : true,
        uploadJson : "./index.php?act=attachment&do=upload",
        fileManagerJson : "./index.php?act=attachment&do=manager",
        afterUpload : function(url, data) {
        }
    });
    $("#upload-image-share_image").click(function() {
        editor.loadPlugin("image", function() {
            editor.plugin.imageDialog({
                tabIndex : 1,
                imageUrl : $("#upload-image-url-share_image").val(),
                clickFn : function(url) {
                    editor.hideDialog();
                    var val = url;
                    if(url.toLowerCase().indexOf("http://") == -1 && url.toLowerCase().indexOf("https://") == -1) {
                        var filename = /images(.*)/.exec(url);
                        if(filename && filename[0]) {
                            val = filename[0];
                        }
                    }
                    $("#upload-image-url-share_image-old").val($("#upload-image-url-share_image").val());
                    $("#upload-image-url-share_image").val(val);
                    $("#upload-image-preview-share_image").html('<img src="'+url+'" width="80px;" />');
                }
            });
        });
    });

    $("#upload-image-bg").click(function() {
        editor.loadPlugin("image", function() {
            editor.plugin.imageDialog({
                tabIndex : 1,
                imageUrl : $("#upload-image-url-bg").val(),
                clickFn : function(url) {
                    editor.hideDialog();
                    var val = url;
                    if(url.toLowerCase().indexOf("http://") == -1 && url.toLowerCase().indexOf("https://") == -1) {
                        var filename = /images(.*)/.exec(url);
                        if(filename && filename[0]) {
                            val = filename[0];
                        }
                    }
                    $("#upload-image-url-bg-old").val($("#upload-image-url-bg").val());
                    $("#upload-image-url-bg").val(val);
                    $("#upload-image-preview-bg").html('<img src="'+url+'" width="80px;" />');
                }
            });
        });
    });
</script>
{template 'common/footer'}