/* CSS Document */
.xq_seach{width:100%; background:#fff; padding:8px 30px 8px 10px; border-radius:5px; font-size:14px;}
#xq_list li{ width:100%; background:#fff; border-top:1px solid #e4e4e4;padding: 12px 10px}
.xq_list_a{ display:box; display:-webkit-box; display:-moz-box;}
.xq_img{ width:60px; height:60px; margin-right:8px;}
.xq_img img{ width:60px; height:60px; display:block;}
.xq_right{ -moz-box-flex:1; -webkit-box-flex:1;}
.xq_name{ font-size:16px; width:100%; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; font-weight: normal; margin-bottom:3px;}
.xq_right p{ line-height:16px;}
.xq_address{font-size:13px; width:100%; font-weight: normal;color:#999; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; font-weight: normal; display:inline-block;}
.xq_jl:before{ width:10px; height:14px; background:url(../image/address.png) no-repeat; background-size:10px; display:block; content:''; float:left; margin-top:2px; margin-right:4px;}
.xq_jl{font-size:12px; width:100%; font-weight: normal; color:#666;  overflow:hidden;text-overflow:ellipsis;white-space:nowrap; font-weight: normal;}
.top_text{ height:40px; text-align:center; font-size:14px; line-height:40px;}
.clickkt{ display:inline-block; height:32px; width:100px; text-align:center; background:#f60; border-radius:5px; color:#fff; line-height:32px; margin-left:8px; border:1px solid #f30;}
.clickkt:visited{ color:#fff;}

#middle_div .search_css{ width:96%; margin-left:2%; border-radius:5px; padding:7px 40px 7px 5px; font-size:14px;line-height: 15px;margin-top:5px;}
#rightzm_div{ width:32px; position: absolute; z-index:990; background:#fff; height:100%; min-height:850px; right:0px; top:0; border-left:1px solid #e4e4e4; padding:50px 0 70px 0;}
#rightzm_div li{ display:block; text-align:center; width:100%; height:28px; line-height:28px; font-size:14px; cursor:pointer}
#rightzm_div li.currs_a{ background:#008CD6; color:#fff; font-size:14px;}
.seach_loading{ width:100%; text-align:center; font-size:14px;}

#suggest_form{ position:relative;}
#suggest_submit{ position:absolute; z-index:2; right:0px; top:2px; height:30px; background:url(../image/seach.png) center no-repeat; background-size:24px; width:40px; height:40px;}

/*首页首次搜索*/
.seek_left{ margin-left:15px; -moz-box-flex:1; -webkit-box-flex:1; padding-top:5px;}
.seek_left input{ height:32px; width:100%; background:#fff; padding:0px 5px; border:1px solid #016db1; border-radius:5px 0px 0px 5px; display:block; }
.seek_right{ width:80px;  padding-top:5px;}
.seek_right input{ width:65px; height:32px;  background: -moz-linear-gradient(top, #0084c9, #006fd6); background: -webkit-gradient(linear, 0 0, 0 100%, from(#0084c9), to(#006fd6)); display:block; font-size:16px; color:#fff; border-radius:0px 5px 5px 0px ; border:1px solid #016db1; border-left:0px;}

.seek_bottom{ background:#fff; border-top:1px solid #e4e4e4; position: absolute; padding-bottom:15px; bottom:0px; left:0px; width:100%;}
.seekb1{ text-align:center; margin:12px 0px 5px 0px; font-size:13px;}
.seekb1 a{ margin:0px 8px;}
.seekb2{ text-align:center; margin-bottom:12px; font-size:13px;}
.seekb2 a{ color:#f60}
