/* CSS Document */
.tel{padding-top:1em;}
.tel li{ width:93.5%; right: -3.2%; border:1px solid #ccc; padding:0.3em;  box-shadow:0.3em 0.3em #d9d9d9; height:3.6em; position: relative; margin-bottom:1em;}
.tel_l{ width:4em; height:3em;}
.tel_l img{ width:4em; border-radius:0.3em; display:block; height:3em;}
.tel_m{ position:absolute;top:0.5em; left:5em; padding-right:4em;}
.tel_m span{ display:block;}
.m_h{ font-size:0.89em; margin-bottom:0.2em;}
.tel_r{ border-radius:1.5em; background:#008cd6; width:3em; height:3em;  position:absolute; top:0.3em; right:1em;}
.tel_img{ background:url(../image/phone.png) no-repeat; background-size:2em; display:inline-block; width:2em; height:2em; margin-top:0.5em; margin-left:0.5em;}
.tel li .tel_img{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	transform:rotate(0deg);
	webkit-transition:-webkit-transform .3s ease-out 0s;
	-moz-transition:-moz-transform .3s ease-out 0s;
	-o-transition:-o-transform .3s ease-out 0s;
	-ms-transition:-ms-transform .3s ease-out 0s;
	transition:transform .3s ease-out 0s
	}
.tel li:hover .tel_img{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);

	}
.tel li:hover .tel_r{ background:#ff6678;}