<div class="cui-view cui-layer cui-loading" id="cui-28"
     style="visibility: visible; margin-left: -45px; margin-top: -40px; z-index: 5049; display: none;">
    <div class="cui-layer-padding">
        <div class="cui-layer-content">
            <div class="cui-breaking-load">
                <div class="cui-w-loading"></div>
                </div>
        </div>
    </div>
</div>
<div class="cui-view cui-mask cui-opacitymask" id="cui-29" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 738px; z-index: 5047; display: none;">
    <div></div>
</div>
<div class="cui-view cui-layer cui-toast" id="cui-30"
     style="visibility: visible; margin-left: -130px; margin-top: -39px; z-index: 5051; top: 50%; position: fixed; display: none;">
    <div class="cui-layer-padding">
        <div class="cui-layer-content" id="cui-msg"></div>
    </div>
</div>
<!--<div class="cui-view cui-mask cui-opacitymask" id="cui-1397028998931"-->
<!--style="position: absolute; left: 0px; top: 0px; width: 100%; height: 738px; z-index: 5049; display: none;">-->
<!--<div></div>-->
<!--</div>-->