
<header style='position:fixed;bottom:0;'>
    <h1 class="hoteltitle"></h1>
    <!--<h1 class="hoteltitle">酒店详情</h1>-->
      <div class="lefthead" onClick="location.href='javascript:history.go(-1);'">
        <div class="header_return"></div>
    </div>

    <div class="righthead">
        <a class="header_home" href="{php echo $this->createMobileUrl('index', array('hid' => $hid))}">&nbsp;</a>
        {if $this->_set_info['is_unify']==1 && !empty($this->_set_info['tel'])}
        <a class="header_tel __hreftel__" href="tel:{php echo $this->_set_info['tel']}"></a>
        {/if}
        <a class="header_order" href="{php echo $this->createMobileUrl('orderlist')}">&nbsp;</a>
	    {if $member['clerk'] == 1}
	    <a class="header_clerk"  href="{php echo $this->createMobileUrl('clerkindex')}">&nbsp;</a>
	    {/if}
    </div>
</header>
  <script type="text/javascript">
document.addEventListener("WeixinJSBridgeReady", function onBridgeReady() {
WeixinJSBridge.call("hideToolbar");
});
</script>