<div id="cui-cid856232567" class="cui-view-page roomdetail-view-page emptyImage" style="position: absolute; left: 0px; top: 0px; width: 100%; z-index: 6947; height: 979px;">
    <div class="cui-view-page-content">
        <div class="roomdetail-box">
            <section class="roomdetailinfo">
                <span class="imgclose" onclick="clear_device()"><em>x</em></span>
                <ul class="infotop2">
                    <li class="toptxt imgempty" data-title="">{$item['title']}</li>
                </ul>
                <ul class="infocontent">
                    <li class="ui-grid-a">
                        {if $item['area_show'] == 1}
                        <div class="ui-block-a"><span class="list area"></span>{$item['area']}平方米</div>
                        {/if}
                        {if $item['floor_show'] == 1}
                        <div class="ui-block-b"><span><span class="list floor"></span>{$item['floor']}楼</span></div>
                        {/if}
                    </li>

                    <li class="ui-grid-a">
                        {if $item['smoke_show'] == 1}
                        <div class="ui-block-a"><span class="list nosmoking"></span>{$item['smoke']}</div>
                        {/if}
                        {if $item['bed_show'] == 1}
                        <div class="ui-block-b"><span class="list bed"></span>{$item['bed']}</div>
                        {/if}
                    </li>

                    <li class="ui-grid-a">
                        {if $item['persons_show'] == 1}
                        <div class="ui-block-a"><span><span class="list people"></span>{$item['persons']}人</span></div>
                        {/if}
                        {if $item['bedadd_show'] == 1}
                        <div class="ui-block-b"><span class="list extrabed"></span>{$item['bedadd']}</div>
                        {/if}
                    </li>

                    {if $item['sales'] != ''}
                    <p><span class="hotelicon hotel_cu">促</span><br>
                        {$item['sales']}
                    </p>
                    {/if}

                    {if $item['device'] != ''}
                    <p><span class="hotel_li">说明</span><br>
                        {$item['device']}
                    </p>
                    {/if}
                </ul>
                <ul class="infobottom ui-grid-a">
                    <li class="ui-block-a"><dfn>¥</dfn><strong class="price size20" data-cny="RMB">{$price}</strong></li>
                    <li class="ui-block-b">
                        {if $has == 0}
                        <p class="room_btn" style='text-align:right;'>
                            <input value="满房" class="ui-btn-order bookBtn" type="button" style="width: 60px;-webkit-appearance: none;border-radius:0px;background:#ccc;color:#fff">
                        </p>
                        {else}
                        {if ($this->_set_info['ordertype'] == 1)}
                        <input type="button" class="btn-order" value="在线预订" style="-webkit-appearance: none;border-radius:0px;" extension=""
                               onclick="location.href='{php echo $this->createMobileUrl('order', array('hid' => $hid, 'id' => $item['id'], 'price' => $price, 'total_price' => $total_price))}'">
                        {/if}
                        <input value="电话预订" class="btn-order" onclick="location.href='tel:{$tel}'" type="button"  style="-webkit-appearance: none;border-radius:0px;"/>
                        {/if}

                </ul>
            </section>
        </div>
    </div>
</div>