{if $ziliao['resideprovince']==1}
	{template 'inc/header2'}
{else}
	{template 'inc/header'}
{/if}

<style>
html,body {margin: 0;padding: 0;width: 100%;background: #fff;height: 100%}
#bodybox {position: relative;margin: 0 auto;max-width: 480px;width: 100%;background-color: #f8f8f8;-webkit-box-shadow:0 0 10px rgba(0,0,0,.4);-moz-box-shadow:0 0 10px rgba(0,0,0,.4);box-shadow:0 0 10px rgba(0,0,0,.4);min-height: 100%}
.smallIcon{width:20px;margin-right:5px;display:block}
.yanma{font-size: 16px;padding: 13px 7px;display: inline-block}
.yanma2{font-size: 16px;padding: 11px 7px;display: inline-block}
.widthNor{width:90%;margin: 20px auto}
.weui_tabbar{z-index: 9}
</style>

    <div id="bodybox" >
    	{if $weixin==0}
        <div class="headerDiv">
            <div class="header mainBg">
                <a href="javascript:history.go(-1)" class="bn pull-left"><img class="icon" src="../addons/{MD}/images/back.png"></a>
                <div class="title">我的资料</div>
                <a href="{php echo $this->createMobileUrl('geren')}" class="bn pull-right"><img class="icon" src="../addons/{MD}/images/ren.png"/></a>
            </div>
        </div>
        
        {/if}
        <div class="weui_tab">
	  		<div class="weui_tab_bd">
		        <div class="weui_cells weui_cells_access" style="margin-top: 0px">
		        	{if $weixin==0}
		        	<div class="zhanwei"></div>
		        	{/if}
        			<div style="height:20px"></div>
		        	{if $ziliao['gender']==1}
	            		<div class="weui_cell weui_cell_select weui_select_after">
				            <div class="weui_cell_hd">
				                性别
				            </div>
				            <div class="weui_cell_bd weui_cell_primary">
				                <select class="weui_select" id="gender">
				                    <option value="0">请选择性别</option>
				                    <option value="1" {if $member['gender']==1}selected{/if}>男</option>
							        <option value="2" {if $member['gender']==2}selected{/if}>女</option>
				                </select>
				            </div>
				        </div>
					{/if}
					{if $ziliao['birthyear']==1}
						<div class="weui_cell">
			                <div class="weui_cell_hd"><label for="" class="weui_label">生日</label></div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <input class="weui_input" type="date" id="birth" value="{$birth}" >
			                </div>
			            </div>
			        {/if}
			        
			        {if $ziliao['idcard']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">身份证号</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="idcard" type="text" value="{$member['idcard']}" placeholder="请输入您的身份证号">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['nationality']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">国籍</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="nationality" type="text" value="{$member['nationality']}" placeholder="请输入您的国籍">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['resideprovince']==1}
			        	
						<div class="weui_cell weui_cell_select weui_select_after">
			                <div class="weui_cell_hd"><label for="" class="weui_label">所在区域</label></div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    {php echo tpl_form_field_district('reside', $reside);}
			                </div>
			            </div>
			        {/if}
					{if $ziliao['address']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">详细地址</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="address" type="text" value="{$member['address']}" placeholder="请输入您的详细地址">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['zipcode']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">邮编</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="zipcode" type="text" value="{$member['zipcode']}" placeholder="请输入您的邮编">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['company']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">公司</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="company" type="text" value="{$member['company']}" placeholder="请输入您的公司">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['occupation']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">职业</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="occupation" type="text" value="{$member['occupation']}" placeholder="请输入您的职业">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['position']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">职位</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="position" type="text" value="{$member['position']}" placeholder="请输入您的职位">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['revenue']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">年收入</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="revenue" type="text" value="{$member['revenue']}" placeholder="请输入您的年收入">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['education']==1}
	            		<div class="weui_cell weui_cell_select weui_select_after">
				            <div class="weui_cell_hd">
				                学历
				            </div>
				            <div class="weui_cell_bd weui_cell_primary">
				                <select class="weui_select" id="education">
				                    <option value="0">请选择学历</option>
				                    <option value="博士" {if $member['education']=='博士'}selected{/if}>博士</option>
				                    <option value="硕士" {if $member['education']=='硕士'}selected{/if}>硕士</option>
				                    <option value="本科" {if $member['education']=='本科'}selected{/if}>本科</option>
				                    <option value="专科" {if $member['education']=='专科'}selected{/if}>专科</option>
				                    <option value="中学" {if $member['education']=='中学'}selected{/if}>中学</option>
				                    <option value="小学" {if $member['education']=='小学'}selected{/if}>小学</option>
				                    <option value="其它" {if $member['education']=='其它'}selected{/if}>其它</option>
				                </select>
				            </div>
				        </div>
					{/if}
					{if $ziliao['graduateschool']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">学校</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="graduateschool" type="text" value="{$member['graduateschool']}" placeholder="请输入您的学校">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['grade']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">班级</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="grade" type="text" value="{$member['grade']}" placeholder="请输入您的班级">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['studentid']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">学号</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="studentid" type="text" value="{$member['studentid']}" placeholder="请输入您的学号">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['bloodtype']==1}
	            		<div class="weui_cell weui_cell_select weui_select_after">
				            <div class="weui_cell_hd">
				                血型
				            </div>
				            <div class="weui_cell_bd weui_cell_primary">
				                <select class="weui_select" id="bloodtype">
				                    <option value="">请选择血型</option>
				                    <option value="A" {if $member['bloodtype']=='A'}selected{/if}>A</option>
							        <option value="B" {if $member['bloodtype']=='B'}selected{/if}>B</option>
							        <option value="AB" {if $member['bloodtype']=='AB'}selected{/if}>AB</option>
							        <option value="O" {if $member['bloodtype']=='O'}selected{/if}>O</option>
							        <option value="其它" {if $member['bloodtype']=='其它'}selected{/if}>其它</option>
				                </select>
				            </div>
				        </div>
					{/if}
					{if $ziliao['height']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">身高</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="height" type="text" value="{$member['height']}" placeholder="请输入您的身高">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['weight']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">体重</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="weight" type="text" value="{$member['weight']}" placeholder="请输入您的体重">
								</div>
						    </div>
					  	</div>
					{/if}
			        {if $ziliao['constellation']==1}
	            		<div class="weui_cell weui_cell_select weui_select_after">
				            <div class="weui_cell_hd">
				                星座
				            </div>
				            <div class="weui_cell_bd weui_cell_primary">
				                <select class="weui_select" id="constellation">
				                    <option value="">请选择星座</option>
				                    <option value="水瓶座" {if $member['constellation']=='水瓶座'}selected{/if}>水瓶座</option>
							        <option value="双鱼座" {if $member['constellation']=='双鱼座'}selected{/if}>双鱼座</option>
							        <option value="白羊座" {if $member['constellation']=='白羊座'}selected{/if}>白羊座</option>
							        <option value="金牛座" {if $member['constellation']=='金牛座'}selected{/if}>金牛座</option>
							        <option value="双子座" {if $member['constellation']=='双子座'}selected{/if}>双子座</option>
							        <option value="巨蟹座" {if $member['constellation']=='巨蟹座'}selected{/if}>巨蟹座</option>
							        <option value="狮子座" {if $member['constellation']=='狮子座'}selected{/if}>狮子座</option>
							        <option value="处女座" {if $member['constellation']=='处女座'}selected{/if}>处女座</option>
							        <option value="天秤座" {if $member['constellation']=='天秤座'}selected{/if}>天秤座</option>
							        <option value="天蝎座" {if $member['constellation']=='天蝎座'}selected{/if}>天蝎座</option>
							        <option value="射手座" {if $member['constellation']=='射手座'}selected{/if}>射手座</option>
							        <option value="摩羯座" {if $member['constellation']=='摩羯座'}selected{/if}>摩羯座</option>
				                </select>
				            </div>
				        </div>
					{/if}
					{if $ziliao['zodiac']==1}
	            		<div class="weui_cell weui_cell_select weui_select_after">
				            <div class="weui_cell_hd">
				                生肖
				            </div>
				            <div class="weui_cell_bd weui_cell_primary">
				                <select class="weui_select" id="zodiac">
				                    <option value="">请选择生肖</option>
				                    <option value="鼠" {if $member['zodiac']=='鼠'}selected{/if}>鼠</option>
							        <option value="牛" {if $member['zodiac']=='牛'}selected{/if}>牛</option>
							        <option value="虎" {if $member['zodiac']=='虎'}selected{/if}>虎</option>
							        <option value="兔" {if $member['zodiac']=='兔'}selected{/if}>兔</option>
							        <option value="龙" {if $member['zodiac']=='龙'}selected{/if}>龙</option>
							        <option value="蛇" {if $member['zodiac']=='蛇'}selected{/if}>蛇</option>
							        <option value="马" {if $member['zodiac']=='马'}selected{/if}>马</option>
							        <option value="羊" {if $member['zodiac']=='羊'}selected{/if}>羊</option>
							        <option value="猴" {if $member['zodiac']=='猴'}selected{/if}>猴</option>
							        <option value="鸡" {if $member['zodiac']=='鸡'}selected{/if}>鸡</option>
							        <option value="狗" {if $member['zodiac']=='狗'}selected{/if}>狗</option>
							        <option value="猪" {if $member['zodiac']=='猪'}selected{/if}>猪</option>
				                </select>
				            </div>
				        </div>
					{/if}

					{if $ziliao['affectivestatus']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">情感状态</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="affectivestatus" type="text" value="{$member['affectivestatus']}" placeholder="请输入您的情感状态">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['lookingfor']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">交友目的</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="lookingfor" type="text" value="{$member['lookingfor']}" placeholder="请输入您的交友目的">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['alipay']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">支付宝帐号</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="alipay" type="text" value="{$member['alipay']}" placeholder="请输入您的支付宝帐号">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['msn']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">msn</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="msn" type="text" value="{$member['msn']}" placeholder="请输入您的msn">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['taobao']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">淘宝账号</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="taobao" type="text" value="{$member['taobao']}" placeholder="请输入您的淘宝账号">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['site']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">个人主页</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="site" type="text" value="{$member['site']}" placeholder="请输入您的个人主页">
								</div>
						    </div>
					  	</div>
					{/if}
	            	{if $ziliao['qq']==1}
	            		<div class="weui_cell " >
						    <div class="weui_cell_hd">
						      	<label class="weui_label">QQ号</label>
						    </div>
						    <div class="weui_cell_bd weui_cell_primary">
						      	<div class="weui_cell_bd weui_cell_primary">
									<input class="weui_input" id="qq" type="text" value="{$member['qq']}" placeholder="请输入您的QQ号">
								</div>
						    </div>
					  	</div>
					{/if}
					{if $ziliao['interest']==1}
					  	<div class="weui_cell">
				            <div class="weui_cell_bd weui_cell_primary">
				                <textarea class="weui_textarea" id="interest" placeholder="请输入兴趣爱好" rows="3">{$member['interest']}</textarea>
				            </div>
				        </div>
					{/if}
					{if $ziliao['bio']==1}
						<div class="weui_cell">
				            <div class="weui_cell_bd weui_cell_primary">
				                <textarea class="weui_textarea" id="bio" placeholder="请输入自我介绍" rows="3">{$member['bio']}</textarea>
				            </div>
				        </div>
					{/if}

					

				</div>
				<div class="widthNor" onclick="send()"><a href="javascript:;" class="weui_btn weui_btn_primary">确定</a></div>
			</div>

			{template 'menu'}
		</div>
    </div>
    {if $ziliao['resideprovince']!=1}
		{template 'inc/script'}
	{/if}
	<script type="text/javascript">
		{if $ziliao['resideprovince']==1}
			$(".tpl-province").addClass('weui_select');
			$(".tpl-city").addClass('weui_select');
			$(".tpl-district").addClass('weui_select');
		{/if}
		function send()
		{
			var condition='';
			{if $ziliao['resideprovince']==1}
				var resideprovince = $(".tpl-province").val();
				condition+="&resideprovince="+resideprovince;
				var residecity = $(".tpl-city").val();
				condition+="&residecity="+residecity;
				var residedist = $(".tpl-district").val();
				condition+="&residedist="+residedist;
			{/if}
			{if $ziliao['gender']==1}
				var gender = $("#gender").val();
				condition+="&gender="+gender;
			{/if}
			{if $ziliao['qq']==1}
				var qq = $("#qq").val();
				condition+="&qq="+qq;
			{/if}
			{if $ziliao['revenue']==1}
				var revenue = $("#revenue").val();
				condition+="&revenue="+revenue;
			{/if}
			{if $ziliao['idcard']==1}
				var idcard = $("#idcard").val();
				condition+="&idcard="+idcard;
			{/if}
			{if $ziliao['education']==1}
				var education = $("#education").val();
				condition+="&education="+education;
			{/if}
			{if $ziliao['occupation']==1}
				var occupation = $("#occupation").val();
				condition+="&occupation="+occupation;
			{/if}
			{if $ziliao['nationality']==1}
				var nationality = $("#nationality").val();
				condition+="&nationality="+nationality;
			{/if}
			{if $ziliao['address']==1}
				var address = $("#address").val();
				condition+="&address="+address;
			{/if}
			{if $ziliao['zipcode']==1}
				var zipcode = $("#zipcode").val();
				condition+="&zipcode="+zipcode;
			{/if}
			{if $ziliao['studentid']==1}
				var studentid = $("#studentid").val();
				condition+="&studentid="+studentid;
			{/if}
			{if $ziliao['company']==1}
				var company = $("#company").val();
				condition+="&company="+company;
			{/if}
			{if $ziliao['graduateschool']==1}
				var graduateschool = $("#graduateschool").val();
				condition+="&graduateschool="+graduateschool;
			{/if}
			{if $ziliao['grade']==1}
				var grade = $("#grade").val();
				condition+="&grade="+grade;
			{/if}
			{if $ziliao['birthyear']==1}
				var birth = $("#birth").val();
				condition+="&birth="+birth;

			{/if}
			{if $ziliao['constellation']==1}
				var constellation = $("#constellation").val();
				condition+="&constellation="+constellation;
			{/if}
			{if $ziliao['zodiac']==1}
				var zodiac = $("#zodiac").val();
				condition+="&zodiac="+zodiac;
			{/if}
			{if $ziliao['position']==1}
				var position = $("#position").val();
				condition+="&position="+position;
			{/if}
			{if $ziliao['affectivestatus']==1}
				var affectivestatus = $("#affectivestatus").val();
				condition+="&affectivestatus="+affectivestatus;
			{/if}
			{if $ziliao['bio']==1}
				var bio = $("#bio").val();
				condition+="&bio="+bio;
			{/if}
			{if $ziliao['interest']==1}
				var interest = $("#interest").val();
				condition+="&interest="+interest;
			{/if}
			{if $ziliao['lookingfor']==1}
				var lookingfor = $("#lookingfor").val();
				condition+="&lookingfor="+lookingfor;
			{/if}
			{if $ziliao['bloodtype']==1}
				var bloodtype = $("#bloodtype").val();
				condition+="&bloodtype="+bloodtype;
			{/if}
			{if $ziliao['height']==1}
				var height = $("#height").val();
				condition+="&height="+height;
			{/if}
			{if $ziliao['weight']==1}
				var weight = $("#weight").val();
				condition+="&weight="+weight;
			{/if}
			{if $ziliao['alipay']==1}
				var alipay = $("#alipay").val();
				condition+="&alipay="+alipay;
			{/if}
			{if $ziliao['msn']==1}
				var msn = $("#msn").val();
				condition+="&msn="+msn;
			{/if}
			{if $ziliao['taobao']==1}
				var taobao = $("#taobao").val();
				condition+="&taobao="+taobao;
			{/if}
			{if $ziliao['site']==1}
				var site = $("#site").val();
				condition+="&site="+site;
			{/if}


            $.post("{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('ziliao',array('op'=>'add')),2)}"+condition,function(data){
                if (data == 2) {
                    swal("身份证号不正确！");
                }
                else if (data == 1) {
                    swal("修改成功！");
                    setTimeout(function(){
                    	window.location.href ="{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('geren'),2)}";
                    }, 1500);
                }
                else
                {
                    swal("修改失败！"+data);
                }
            })
		}
	</script>

{template 'inc/footer'}