/*@微易互动 X-Team Mr.Think */@charset "utf-8";
/* base style */

*{margin:0;padding:0}
html{max-width: 700px;margin: auto;}
body{overflow:hidden;overflow-y:auto;font-size:14px;font-family:arial;-webkit-text-size-adjust: none;line-height:1.62;color:#434343;font-family: Microsoft YaHei;

background: url(http://wx.yihudong.cn/weixin/chazu/mendian/a/bg.jpg);background-color: #f3f2ee;
background-size: 100% auto;
}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,ol,li{list-style:none;}
em{font-style:normal}
img{border:none;width:100%;}
input,img{vertical-align:middle;}
q:before, q:after { content:'' }
.fn-clear:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fn-clear{*zoom:1;}
a{color:#999999;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,.1);}
a:active{color:#fff;-webkit-tap-highlight-color:rgba(0,0,0,.1)}
a:hover{text-decoration:none;}
section,aside,header,footer,hgroup,article,canvas{display:block}
.ui-h1{display:block;height:55px;padding:30px 0;background-color:#f74d4d;background-position:center center;-webkit-background-size:340px 115px;background-size:340px 115px;background-repeat:no-repeat;font-size:32px;text-align: center;color:#fff;line-height:1.1;text-transform:uppercase;}
.ui-h1 h2{margin-top:2px;font-size:12px;}
.ui-h1-n1{background-image:url(t.png);}
.ui-h1-n2{background-image:url(t.png);}
.ui-h1-n3{background-image:url(t.png);}
.ui-h1-n4{background-image:url(t.png);}

.ui-h2{display:block;padding:16px 0;background-color:#333;font-size:18px;text-align: center;color:#fff;line-height:1.1;text-transform:uppercase;}
.ui-h2-pd30{padding:30px 0;font-size:16px;}
.ui-h2 h2{font-size:24px;font-weight:normal;}
.ui-h2 h3{margin-top:2px;font-size:10px;}
.ui-h2 h5{margin-top:2px;font-size:18px;line-height:1.4;}
.ui-h2-txt .ui-img-300{margin:10px auto;}

.ui-h3{display:block;padding:18px 0;background-color:#09f;font-size:18px;color:#fff;text-align: center;line-height: 24px}
.ui-h3-gray{background-color: #ccc;color:#333;}

.ui-summary{width:300px;margin:0 auto;padding:4px 0 8px;border-bottom:1px solid #09f;}
.ui-summary .h2{font-size:18px;padding-bottom:3px;}
.ui-summary .gray{color:#999;}

.ui-line-2,.ui-line-4{width:100%;height:2px;line-height: 0;font-size:0;}
.ui-line-4{height:4px;}
.ui-line-6{height:6px;}
.ui-line-8{height:6px;}
.ui-line-10{height:10px;}
.ui-video{width:320px;margin:0 auto;}
.ui-video-300{width:300px;margin:0 auto;}
.ui-img-220,.ui-img-236,.ui-img-300{width:220px;margin:0 auto;}
.ui-img-236{width:236px}
.ui-img-300{width:300px}
.ui-h4,.ui-h6{width:300px;margin:0 auto;padding:8px 0;font-size:18px;color:#333;line-height:1.4;}
.ui-h5,.ui-txt-f66,.ui-txt-3cc{width:300px;margin:0 auto;padding:8px 0;text-align:center;font-size:16px;color:#09f;}
.ui-h6{font-size:15px;padding:6px 0 2px;}
.ui-step{position:relative;width:300px;height:54px;margin:0 auto;}
.ui-step .line{position:absolute;left:0;top:26px;width:300px;height:1px;background-color:#09f;line-height: 0;font-size: 0}
.ui-step span{position:absolute;left:123px;top:0;width:54px;height:54px;border-radius:27px;background-color:#09f;color:#fff;text-align: center;font-size:12px;text-transform: uppercase;line-height: 54px}
.ui-txt-f66,.ui-txt-3cc{color:#f66;padding:12px 0;font-size:18px;}
.ui-txt-3cc{color:#3cc;}
.ui-activefoot{width:320px;margin:0 auto;height:20px;text-align: right;font-size:12px;line-height: 20px}
.ui-activefoot a{display: inline-block;height:20px;padding:0 4px 0 22px;}
.ui-activefoot .J_share{background:#fc0 url(ico-share.png) 4px 2px no-repeat;-webkit-background-size: 15px 14px;;background-size: 15px 14px;margin-right:2px;}
.ui-activefoot .J_praise{background:#fc0 url(ico-nice.png) 4px 6px no-repeat;-webkit-background-size: 12px 10px;background-size: 12px 10px;padding-left:18px;}
.ui-return{position:absolute;left:50%;top:30px;width:300px;height:48px;padding-left:20px;margin-left:-160px;z-index:900;}
.ui-return .arrow-left{display: inline-block;width:48px;height:48px;background:url(arrow-left.png) no-repeat;-webkit-background-size: 48px 48px;background-size: 48px 48px}

.ico-base{width:256px;min-height:36px;margin:12px auto;padding:3px 0 0 44px;background-position:left center;background-repeat:no-repeat;-webkit-background-size:36px 36px;background-size:36px 36px;line-height:18px;}
.ico-base-36{line-height: 36px}
.ico-eye{background-image:url(ico-eye.png);}
.ico-link{background-image:url(ico-link.png)}
.ico-msg{background-image:url(ico-msg.png)}
.ico-music{background-image:url(ico-music.png)}
.ico-say{background-image:url(ico-say.png)}
.ico-sina{background-image:url(ico-sina.png)}
.ico-sun{background-image:url(ico-sun.png)}
.ico-tube{background-image:url(ico-tube.png)}
.ico-wx{background-image:url(ico-wx.png)}
.ico-video{background-image:url(ico-video.png)}
.ico-view{background-image:url(ico-view.png)}
.ico-home-gray{background-image:url(ico-home-gray.png)}
.ico-sina-gray{background-image:url(ico-sina-gray.png)}
.ico-sun-gray{background-image:url(ico-sun-gray.png)}
.ico-tube-gray{background-image:url(ico-tube-gray.png)}
.ico-video-gray{background-image:url(ico-video-gray.png)}
.ico-view-gray{background-image:url(ico-view-gray.png)}
.bg-f66{background-color:#f66;}
.bg-3cc{background-color:#3cc;}
.bg-fc0{background-color:#fc0;}
.bg-9c3{background-color:#9c3;}
.tl{text-align: left}
.ui-tips{position:fixed;display:none;left:0;top:0;width:90px;height:24px;background:#000;background:rgba(0,0,0,.8);text-align: center;color:#fff;line-height: 24px;border-radius:2px;z-index:999;}
.bg222{background:#222;}

.head,.main,foot{width:100%;min-width:320px;margin:0 auto;}
.head{position:relative;background-color:#ff003e;}
.main{padding-bottom:0;}
.bg222 .main{padding: 0!important}
.foot{height:32px;margin:2px auto 0;background-color:#ddd;text-align:center;line-height: 36px;}
.foot-nav{position: fixed;left:0;bottom:0;width:100%;min-width:320px;height:36px;}
.foot-nav li{float:left;width:25%;height:36px;border-right:1px solid #78c9ff;background-color:#ff003e;text-align:center;line-height:36px;}
.foot-nav li:first-child{margin-left:-2px;}
.foot-nav li:last-child{margin-right:-2px;}
.foot-nav li a{display: block;width:100%;height:36px;}
.foot-nav li.active{background:#09f}

.n4-imgitem{width:300px;margin:0 auto;}
.n4-imgitem h5{font-size:13px;text-align:center;padding-bottom:5px;}
.n4-imgitem li{background-color:#edecd5;float:left;width:130px;height:160px;padding:8px;margin:4px 0;}
.n4-imgitem li:nth-child(even){margin-left:8px;}


.n1-menu{}
.n1-menu .dt{height:64px}
.n1-menu .dd{height:46px}

.n1-menu .dt a,.n1-menu .dd a{display:block;width:100%;height:40px;color:#fff;padding:12px 0;}
.n1-menu .dt a{height:64px;}
.n1-menu .dd a{padding:6px 0;background: url(jiantou.png) no-repeat 88% 14px;background-size: auto 18px;}


.n1m-inner{position:relative;width:300px;height:40px;margin:0 auto;}
.n1m-inner1{width:auto;padding-left: 20px;height: 22px;}
.n1m-inner h3{line-height:30px;font-size:22px;-webkit-text-stroke: 2px rgba(0,0,0,0.2);-webkit-text-stroke: 0;color: transparent;
-webkit-background-clip: text;-webkit-text-shadow: rgba(255,255,255,0.3) 0 5px 6px, rgba(255,255,255,0.1) 1px 1px 1px;
transition: text-shadow .1s ease-out, background-color .2s ease-out;}
.n1m-inner1 h3{color: #fff;line-height: 22px;line-height: 22px;font-size: 18px;}
.n1m-inner h5{line-height:14px;font-size:12px;text-transform: uppercase;color: #979797;}
.n1-menu .dd h3{line-height:22px;font-size:16px;text-align: left;color: #fff;margin-left: 30px;margin-top: 6px;}
.n1-menu .dd1 h3{line-height:14px;font-size:16px;text-align: left;color: #fff;margin-left: 30px;margin-top: 9px;font-weight:normal;}
.cwdb .dd h3{line-height:30px;font-size:16px;text-align: left;color: #262626;margin-left: 30px;margin-top: 10px;}
.n1-menu .dd h5{line-height:48px;font-size:12px;text-transform: uppercase;margin-left: 30px;color: #686868;}
.n1-menu .ddbox{overflow:hidden;height:0;}
.n1m-inner .arrow{position: absolute;right:0;top:4px;width:32px;height:32px;background:url(arrow-down.png) center no-repeat;background-size: 22px auto;-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);-o-transform: rotate(-80deg);transform: rotate(0deg);-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.n1m-inner .arrow1{position: absolute;right:10px;top:-5px;width:32px;height:32px;background:url(caidan_boot.png) center no-repeat;background-size: 22px auto;-moz-transform: rotate(0deg);-webkit-transform: rotate(0deg);-o-transform: rotate(-80deg);transform: rotate(0deg);-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.n1m-inner .arrow-right{background-image:url(arrow-right.png)}
.n1m-inner .arrow-up{-moz-transform: rotate(-180deg);-webkit-transform: rotate(-180deg);-o-transform: rotate(-180deg);transform: rotate(-180deg);-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.n1m-inner img{height: 40px;width: auto;}
.n1-menu-1 .dt{background-color: #e8e8e8;border-bottom: 2px solid #b5b5b7;border-top: 0px solid #b5b5b7;}
.n1-menu-1 .dt1{background-color: #6d6e72;border-bottom: 1px solid #191b1c;border-top: 0px solid #b5b5b7;}
.n1-menu .dt1 {height: auto;}
.n1-menu-1 .dd{background-color: #b5b5b6;border-bottom: 2px solid #898989;
background-image: url(.bg_hover.png);-webkit-background-size: 20px auto;}
.n1-menu-1 .dd1{background-color: #8a8a8a;border-bottom: 2px solid #6d6e72;
background-image: url(.bg_hover.png);-webkit-background-size: 20px auto;}

.n1-menu-2 .dt{background-color:#f66;}
.n1-menu-2 .dd{background-color:#f99;}
.n1-menu-4 .dt{background-color:#ffb848;}
.n1-menu-4 .dd{background-color:#FFBC54;}
.n1-menu-5 .dt{background-color:#da542e;}
.n1-menu-5 .dd{background-color:#eb7f60;}
.n1-menu-6 .dt{background-color:#27a9e3;}
.n1-menu-6 .dd{background-color:#52c2f4;}
.n1-menu-7 .dt{background-color:#28b779;}
.n1-menu-7 .dd{background-color:#45d194;}

.n1-menu-3 .dt{background-color: #E8E8E8;border-bottom: 1px solid #D0D0D0;
border-top: 1px solid #FFF;}
.n1-menu-9 .dt{background-color: #E8E8E8;
background-image: url(bg_hover.png);
-webkit-background-size: 20px auto;border-bottom: 1px solid #D0D0D0;
border-top: 1px solid #FFF;}




.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes homeBg {
	0% { margin-left:0; }	
	100% { margin-left:-2900px;  }
}
@-moz-keyframes homeBg {
	0% { margin-left:0; }	
	100% { margin-left:-2900px;  }
}
@-o-keyframes homeBg {
	0% { margin-left:0; }	
	100% { margin-left:-2900px;  }
}
@keyframes homeBg {
	0% { margin-left:0; }	
	100% { margin-left:-2900px;  }
}

















.list_nav {
height: 46px;
background: #6d6e72;
position: fixed;
left: 0;
top: 0;
width: 100%;
z-index: 5;
}
.list_nav .here {
position: absolute;
left: 12px;
top: 8px;
}
.list_nav .tag_sort {
text-align: center;
line-height: 46px;
}
.list_nav .tag_sort li {
text-align: center;
width: 64px;
float: left;
}
.list_nav .tag_sort li:first-child a {
border-radius: 4px 0 0 4px;
}
.list_nav .tag_sort li a {
font-size: 13px;
line-height: 27px;
border: 1px solid #CFCFCF;
color: #2D2D2D;
text-align: center;
display: block;
background: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#ECECEC));
}
#footer1 {
padding: 0;
width: 100%;
height: 40px;
line-height: 40px;
text-align: center;
color: #666;
position: absolute;
bottom: auto;
}
.tag_sort h3{color: #FFFFFF;font-weight: normal;font-size: 18px;}



.top{height: 46px;background: url(logo.png) no-repeat #931e20;background-size: 25px;width: 100%;background-position: 50% 10px;
}
.top .category{width: 26px;height: 36px;background: url(more.png) no-repeat;background-size: 26px auto;float: right;margin: 10px 10px 0 10px;}
.top .back{width: 26px;height: 36px;background: url(back.png) no-repeat;-webkit-background-size: 26px auto;-o-background-size: 35px auto;float: left;margin: 10px 10px 0 10px;}


.bgcolor {
background-color: #b5b5b7;
}
.menulist, #mainmenu, .box-btn {
width: 100%;
margin: 0 auto;
}
.box-btn {
width: 100%;
margin: 3px auto 0 auto;
height: 40px;
line-height: 40px;
color: #FFF;
}

.box-btn a {
display: block;
width: 80%;
height: 100%;
color: #FFF;
position: relative;
padding-left: 70px;
}
.icon-phone3 {
background-image: url(star.png);
position: absolute;
left: 30px;
width: 30px;
height: 33px;
}
.icon2 {
speak: none;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
color: #fff;
margin: 0 auto;
font-size: 20px;
display: inline-block;
width: 30px;
height: 100%;
text-align: center;
float: left;
-webkit-background-size: 20px auto;
-o-background-size: 20px auto;
background-position: center;
background-repeat: no-repeat;
margin-right: 5px;
}

.mHeader{position:relative;width:100%;height:40px;background-color:#3f9f5f}
.mHeader
.mHeader
.Menu{position:absolute;right:0;top:0;cursor:pointer}
.mHeader
.Title{margin:0 20px;font-size:19px;line-height:20px;text-align:center;color:#fff}
.mHeader
.mHeader
.Left{position:absolute;left:10px;top:0;font-size:15px;line-height:44px}
.mHeader .Left
a{color:#fff}
.mHeader
.Right{position:absolute;right:10px;top:0;font-size:15px;line-height:44px; }
.mHeader .Right
a{color:#fff}.mMasklay{position:absolute;left:0;top:0;z-index:99;width:100%;height:100%;background-color:rgba(0,0,0,0.6);}

.mMenulay{position:absolute;right:10px;top:45px;z-index:100;width:60%;  background-color:#6d6e72;-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);}

.mMenulay
.navtop{background-color:#d7d7d7}.mMenulay
.logins{padding:2px
0 2px;text-align:center}.mMenulay .logins
.title{font-size:12px;color:#636363; height:20px; line-height:20px; }
.mMenulay .logins
.button{display:inline-block;width:140px;height:30px;border-radius:3px;background-color:#F0282D;font-size:15px;line-height:30px;color:#fff;cursor:pointer}.mMenulay
.userinfo{height:47px;padding:12px
10px 12px 20px}.mMenulay .userinfo
a{display:block;width:100%;overflow:hidden;color:#323232}.mMenulay .userinfo
.face{float:left;border:2px
solid #fff;border-radius:50%}.mMenulay .userinfo .face
img{display:block;border-radius:50%}.mMenulay .userinfo
.name{float:left;margin-left:10px;font-size:16px;line-height:30px}.mMenulay
.navlist{}.mMenulay .navlist
li{border-top:1px solid #e4e4e7}.mMenulay .navlist li:first-child{border-top:none}
.mMenulay .navlist a{display:block;height:35px;background:url() no-repeat 18px 7px;background-size:20px;font-size:15px;line-height:35px;color: #FFFFFF; text-align:left}
.mMenulay .navlist1 a{display:block;height:22px;background: url() no-repeat 18px 7px;background-size: 20px;font-size:15px;line-height:35px;color:#323232; text-align:left}
.n1-menu .dd1 a{padding:6px 0;background:url(caidan_right.png) no-repeat 90% 13px;background-size: auto 18px;}
.mMenulay .navlist a.nav0{background-image:url(../images/nav0.png)}
.mMenulay .navlist a.nav1{background-image:url(../images/nav1.png)}
.mMenulay .navlist a.nav2{background-image:url(../images/nav2.png)}
.mMenulay .navlist a.nav3{background-image:url(../images/nav3.png)}
.mMenulay .navlist a.nav4{background-image:url(../images/nav4.png)}
.mMenulay .navlist a.nav5{background-image:url(../images/nav5.png)}
.mMenulay .navlist a.nav6{background-image:url(../images/nav6.png)}
.mMenulay .navlist a.nav7{background-image:url(../images/nav7.png)}
.mMenulay .navlist a.nav8{background-image:url(../images/nav8.png)}
.navlist:before {content: "";position: absolute;right: 7px;top: -19px;width: 0;height: 0;border: 10px solid;border-color: transparent transparent #931e20 transparent;
}
.m_toolfixbar{position:fixed;left:0;bottom:0;width:100%;background:#f5f4ee;border-top:1px solid #cfcfcf;box-shadow:0 0 2px rgba(207,207,207,0.8)}.m_toolfixbar
.wrap{height:32px;padding:8px
13px;overflow:hidden}.m_toolfixbar .wrap
.item{float:left;margin-left:7px}.m_toolfixbar .wrap .item:first-child{margin-left:0;}.m_toolfixbar
.reply{display:block;margin-right:141px;border:1px
solid #ddd9cc;border-radius:3px;padding:0
7px;background:#fff;font-size:14px;line-height:30px;color:#c8c8c8}.m_toolfixbar
.btn{float:right;margin-left:7px;width:53px;border:1px
solid #3d8c53;border-radius:3px;background:#5ea577;background:-moz-linear-gradient(top, #5fa678, #509769);background:-webkit-linear-gradient(#5fa678 0%, #509769 100%);font-size:14px;line-height:30px;color:#fff;text-align:center}.m_toolfixbar
.relate{float:right;margin-left:7px;border:1px
solid #c8c8c8;border-radius:3px;padding:0
7px;background:#e7e6e0;background:-moz-linear-gradient(top, #eae9e3, #dbdad4);background:-webkit-linear-gradient(#eae9e3 0%, #dbdad4 100%);font-size:14px;line-height:30px;color:#636363}.ind_columns{margin:0
13px 20px}


.navlist dl dt{height:36px; line-height:36px; overflow:hidden; text-indent:22px; white-space:nowrap; text-overflow:ellipsis; border-bottom: 2px solid #d3d3d3; background:url(../../../images/shop/default/bg.png) -297px -47px no-repeat;position: relative;}
.navlist dl dt a{font-weight:bold; text-decoration:none; color:#444; font-size:16px;}
.navlist dl dd{height:35px; line-height:35px; overflow:hidden; border-bottom: 1px solid #caa141; text-indent:22px; white-space:nowrap; text-overflow:ellipsis;background-color: #931e20;margin-left: 0;}
.navlist dl dd:last-child{border-bottom: 0px solid #fff;}
.navlist dl dd a{color:#666; display:block; text-decoration:none;}
.navlist dl{margin-bottom: 0px;}
.navlist .top_line{width: 100%;height: 5px;}
.navlist .top_line1{background-color: #6fba2c;width: 25%;height: 100%;float: left;}
.navlist .top_line2{background-color: #fff;width: 25%;height: 100%;float: left;}
.navlist .top_line3{background-color: #0070b2;width: 25%;height: 100%;float: left;}
.navlist dl dt:before {display: block;content: "";width: 0;height: 0;border-width: 0 6px 6px;border-color: #d3d3d3;border-style: solid;border-left-color: transparent;
border-right-color: transparent;position: absolute;top: 30px;left: 22px;
}
.wrap{width:100%; margin:0 auto; clear:both; overflow:hidden;}

#shop_page_contents{width:100%;}
#cover_layer{width:100%; height:100%; top:0px; display:none; z-index:100000; background:#000; filter:alpha(opacity=20); opacity:0.2; -moz-opacity:0.2; position:fixed; overflow:hidden;}

#category{width:60%; background:#fff; position:absolute; z-index:100001; left:-100%; top:0; box-shadow:1px -1px 30px #000; border-right:1px solid #ccc;}
#category .close{position:absolute; right:7px; top:8px; width:18px; height:17px; background:url(../../../images/shop/default/bg.png) -229px -63px no-repeat;}
#category dl{height:100%;}
#category dl dt{height:36px; line-height:36px; overflow:hidden; text-indent:22px; white-space:nowrap; text-overflow:ellipsis; border-bottom:1px dotted #ccc; background:url(../../../images/shop/default/bg.png) -297px -47px no-repeat;}
#category dl dt a{font-weight:bold; text-decoration:none; color:#444; font-size:14px;}
#category dl dd{height:36px; line-height:36px; overflow:hidden; border-bottom:1px dotted #ccc; text-indent:22px; white-space:nowrap; text-overflow:ellipsis;}
#category dl dd a{color:#666; display:block; text-decoration:none;}

#footer_points{height:40px; clear:both;}
#footer ul li{height:38px; width:25%; float:left; padding-top:22px;}
#footer ul li>a{color:#fff; line-height:62px; font-size:12px; width:45px; height:40px; margin:0 auto; display:block; white-space:nowrap; text-align:center; text-decoration:none; }
#footer ul li.category{height:60px; padding:0;}
#footer ul li.category a{width:62px; height:60px; line-height:100px; margin:0; background:url(../../../images/shop/default/bg.png) 0 -42px no-repeat; text-align:left; text-indent:13px;}
#footer ul li.cart a{background:url(../../../images/shop/default/cart_icon.png) center top no-repeat;background-size:25px auto;}
#footer ul li.member a{background:url(../../../images/shop/default/member_icon.png) center top no-repeat;background-size:25px auto;}
#footer ul li.home a{background:url(../../../images/shop/default/home_icon.png) center top no-repeat;background-size:25px auto;}
.gmu-media-detect{-webkit-transition: width 0.001ms; width: 0; position: relative; bottom: -999999px;}
@media screen and (width: 394px) { #gmu-media-detect0 { width: 100px; } }
.daohang img{border-bottom: 2px solid #d9d2d2;}
.daohang{border-top: 4px solid #931e20;}


#todayList {
	display: block; margin: 0 auto;
}
.todayList li {
	display: block;
	color: #222222;
	border-bottom:1px solid #E6E0CD;
	font-weight: bold;
	/*text-shadow: 0 1px 0 #FFFFFF;*/
	text-decoration: none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	position: relative;
	/*padding:10px 8px;*/overflow:hidden;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.75) inset;
	-moz-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.75) inset;
	-webkit-box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.75) inset;
}
.todayList li a{
	padding:10px; display: block;overflow:hidden;
}
.todayList li .img {
	width:100px;height:56px;float:left;margin:5px 10px 0 0; display:inline;overflow:hidden;
}
.todayList li img {
	width:100px;height:56px;border-radius: 3px;overflow:hidden;
}

.todayList li h2 {
	font-size: 16px;
	color:#2f2f2f;
	font-weight:normal;
	height:20px;font-weight:normal;line-height:16px;padding:0;
max-width:100%;text-overflow:ellipsis;white-space:nowrap !important;white-space:normal;overflow:hidden;
}
.todayList li p {
	display: block;
	font-size: 14px;
	color:#9C9C9C;
	line-height: 18px;
	font-weight: normal;
	margin-top: 3px;
	overflow: hidden;
	text-overflow: ellipsis;/*white-space: nowrap;*/
	padding-right:2px;
}
.todayList li p.onlyheight {
	height:56px; 
}
.todayList li .commentNum {
    color: #BFBFBF;
    font-size: 0.75em;
    padding-right: 5px;
    text-align: right;
	font-weight:normal;
}

.topbox{background:#c0a264;padding:10px 15px;color:#fff;}
.tbox .title{font-size:16px;color:#fff;font-weight:bold;line-height:1.2;}
.tbox .time{font-size:11px;color:#fff ;margin-top:5px;}
.tbox .time img{width:10px;height:10px;margin:0 10px 0 0;}
.tbox .content{padding: 15px 15px 15px;font-size:16px;color:#222;line-height:1.6;overflow:hidden;}
.tbox .content img{max-width:100%;margin: 5px 0;}
.readurl{padding:5px 15px;}
.readurl a{font-size:14px;font-weight:bold;}

.clearfix:after{content:"";display:block;clear:both;height:0;}
 .sort_style01{padding:0 10px;height:auto;}
 .sort_style01 ul li{border:1px #eee solid;height:126px;float:left;width:48%;margin:10px 0 5px;background:#fff;-webkit-border-radius:4px;border-radius:4px;position:relative;-webkit-box-shadow:0 2px rgba(0,0,0,.1),inset 0 -1px rgba(0,0,0,.1);box-shadow:0 2px rgba(0,0,0,.1),inset 0 -1px rgba(0,0,0,.1);}
 .sort_style01 ul li:before{-webkit-transform:skew(-15deg) rotate(-2deg);transform:skew(-15deg) rotate(-2deg);left:10px;}
 .sort_style01 ul li:after{-webkit-transform:skew(15deg) rotate(2deg);transform:skew(15deg) rotate(2deg);right:10px;}
 .sort_style01 ul li:before,.sort_style01 ul li:after{width:50%;height:50px;content:' ';-webkit-box-shadow:0 8px 2px rgba(0,0,0,.25);box-shadow:0 8px 2px rgba(0,0,0,.25);position:absolute;bottom:7px;z-index:-1;}
 @media all and (min-width:768px){.sort_style01 ul li:before,.sort_style01 ul li:after{bottom:10px;}}
 .sort_style01 ul li:nth-child(2n){margin-right:0;}
 .sort_style01 ul li:nth-child(2n-1){margin-right:5px;}
 .sort_style01 ul li a{display:inline-block;width:100%;height:100%;}
 .sort_style01 ul li a>div{height:89px;background-position:center;background-repeat:no-repeat;background-size:cover;margin:5px;}
 .sort_style01 ul li a>h2{color:#7f7f7f;font-size:14px;margin:7px 5px 5px 5px; text-align:center;
    line-height: 1.5em;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

    .content_box {
padding: 0 10px;
}

.page {
height: 140px;
border: 1px solid #eaeaea;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 1px 1px 1px #d0cfc9;
-moz-box-shadow: 1px 1px 1px #d0cfc9;
-o-box-shadow: 1px 1px 1px #d0cfc9;
box-shadow: 1px 1px 1px #d0cfc9;
background: #f2f2f2;
position: relative;
margin: 20px 0;
}
.page:before {
-webkit-transform: skew(-15deg) rotate(-3deg);
-moz-transform: skew(-15deg) rotate(-3deg);
-o-transform: skew(-15deg) rotate(-3deg);
transform: skew(-15deg) rotate(-3deg);
left: 15px;
}
.page:before, .page:after {
width: 25%;
height: 50px;
content: ' ';
-webkit-box-shadow: 0 8px 16px rgba(0,0,0,.3);
-moz-box-shadow: 0 8px 16px rgba(0,0,0,.3);
box-shadow: 0 8px 16px rgba(0,0,0,.3);
position: absolute;
bottom: 7px;
z-index: -1;
}
.showimg_box {
margin: 5px;
height: 130px;
background-position: center;background-repeat: no-repeat;
position: relative;background-size: 100%;
}
.content_box .page p {
width: 100%;
position: absolute;
bottom: 0;
background: rgba(0,0,0,.6);
color: #fff;
padding: 3px 0;
font-size: 13px;
text-indent: 10px;
}
