#mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}
#mcover img {
    position: fixed;
    right: 18px;
    top: 5px;
    width: 260px!important;
    height: 180px!important;
    z-index: 20001;
}
.text {
    margin: 15px 0;
    font-size: 14px;
    word-wrap: break-word;
    color: #727272;
}
#mess_share {
    margin: 15px 0;
    display: block;
}
#share_1 {
    float: left;
    width: 49%;
    display: block;
}
#share_2 {
    float: right;
    width: 49%;
    display: block;
}
.clr {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.button2 {
    font-size: 16px;
    padding: 8px 0;
    border: 1px solid #adadab;
    color: #000000;
    background-color: #e8e8e8;
    background-image: linear-gradient(to top, #dbdbdb, #f4f4f4);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45), inset 0 1px 1px #efefef;
    text-shadow: 0.5px 0.5px 1px #fff;
    text-align: center;
    border-radius: 3px;
    width: 100%;
}
#mess_share img {
    width: 22px!important;
    height: 22px!important;
    vertical-align: top;
    border: 0;
}


/***********************************************************************/
.recommend>label{
    font-size:15px;
    line-height:30px;
    background:url("../../img/msg.png") no-repeat left center;
    -webkit-background-size:25px auto;
    background-size:25px auto;
    padding-left:30px;
}
.recommend>ul{
    -webkit-padding-start: 0px;
}
.recommend>label>img{
    vertical-align: middle;
    margin-right:10px;
}
.recommend li{
    border-top:1px solid #aaa;
    list-style:none;
}
.recommend li>a{
    text-decoration: none;
    color:#000;
    display:block;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: normal;
    line-height:30px;
    background:url("../../img/arr.png") no-repeat right center;
    margin-right:10px;
}