@CHARSET "UTF-8";
body{
  background-color: #FBF9FE;
}
.hd {
  padding: 2em 0;
}
.page_desc {
  text-align: center;
  color: #888;
  font-size: 14px;
}
.bd.spacing {
  padding: 0 15px;
}
.page_title {
  text-align: center;
  font-size: 22px;
  color: #3CC51F;
  font-weight: 400;
  margin: 0 15%;
}
.tipcolor {
  color: #DE7C23;
}