{template 'common/header'} 
 
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('individual', array('op'=>'display'));}">个人列表</a></li>
	<li><a href="{php echo $this->createWebUrl('individual', array('op'=>'edit'));}">添加会员</a></li>
	<li><a href="{php echo $this->createWebUrl('business', array('op'=>'display'));}">商家列表</a></li>
</ul>
 
<div class="main">
	<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site">
				<input type="hidden" name="a" value="entry">
				<input type="hidden" name="m" value="cyl_phone">
				<input type="hidden" name="do" value="individual"/>
				<input type="hidden" name="op" value="display"/>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">昵称</label>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
					<input class="form-control" name="nickname" id="" type="text" value="{$_GPC['nickname']}" placeholder="昵称">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">电话</label>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
					<input class="form-control" name="phone" id="" type="text" value="{$_GPC['phone']}" placeholder="电话">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">微信号</label>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
					<input class="form-control" name="wxh" id="" type="text" value="{$_GPC['wxh']}" placeholder="微信号">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
					<select name="status" class="form-control">
						
						<option value="1" {if intval($_GPC['status']) == 1}selected="selected"{/if}>通过审核</option>
						<option value="2" {if intval($_GPC['status']) == 2}selected="selected"{/if}>待审核</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
			</div>
			
		</form>
	</div>
</div>
	<div class="panel panel-default">
		<div class="panel-heading">商家列表</div>
		<div class="panel-body">
			<div class="table-responsive panel-body">
				<table class="table table-hover" style="min-width: 300px;">
					<thead class="navbar-inner">
						<tr>
							<th class="col-sm-2">名称</th>
							<th class="col-sm-2">电话</th>
							<th class="col-sm-1">微信</th>
							<th class="col-sm-1">状态</th>							
							<th class="col-sm-2 text-right">操作</th>
						</tr>
					</thead>
					<tbody>
					
						{loop $individual $individualid $individualies}
						<tr>
							<td>{$individualies['nickname']}</td>													
							<td>{$individualies['phone']}</td>
							<td>{$individualies['wxh']}</td>
							<td>{php echo $this->getStatus($individualies['status']);}</td>
							<td class="text-right">
								<a href="{php echo $this->createWebUrl('individual', array('op'=>'edit', 'id'=>$individualid));}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
								<a onclick="if(!confirm('删除后将不可恢复,确定删除吗?')) return false;" href="{php echo $this->createWebUrl('individual', array('op'=>'delete', 'id'=>$individualid));}" class="btn btn-default btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"><i class="fa fa-times"></i> </a>
							</td>
						</tr>
						{/loop}
						{if empty($business)}
						<tr>
							<td colspan="8">
								未发现更多会员
							</td>
						</tr>
						{/if}
					</tbody>
				</table>
				{$pager}
			</div>
		</div>
	</div>
</div>
 
{template 'common/footer'}