<!--
 * ============================================================================
 * 版权所有 2015-2016 米粒源码，并保留所有权利。
 * 网站地址: http://www.webmili.com；
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！已购买用户允许对程序代码进行修改和使用，但是不允许对
 * 程序代码以任何形式任何目的的再发布，作者将保留追究法律责任的权力和最终解
 * 释权。
 * ============================================================================
-->
{php include $this->template('_header');}
<style type="text/css">
img{width:94%;}
</style>
<body>
<header class="page-header top-header">
    <a class="icona" href="javascript:history.go(-1)"><img src="../addons/cash_car/template/images/left-white.png"/></a>
	<h3>{$title}</h3>
</header>
		
<div class="contaniner fixed-contb">
	<section class="detail">
		<figure class="swiper-container">
			<ul class="swiper-wrapper">
				<li class="swiper-slide">
					<a href="javascript:;">
						<img src="{$_W['attachurl']}{$store['logo']}"/>
					</a>
				</li>
			</ul>
			<div class="swiper-pagination">
			</div>
		</figure>
		<dl class="jiage">
			<dt>
				<h3 style="color:#0A6EB7;">[{$store['title']}]</h3>
			</dt>
			<dd>
				<p style="font-size:1.3rem;">服务点类型：{php echo $store['store_type']==1?'上门洗车':'到店洗车';}</p>
				<p style="font-size:1.3rem;">服务点位置：{$store['address']}</p>
			</dd>
		</dl>
		<article class="detail-article">
			<section id="detail" style="width:94%;padding:3%;font-size:1.4em;line-height:1.8em;">
			{if !empty($store['info'])}
				{php echo htmlspecialchars_decode($store['info']);}
			{else}
				<div style="text-align: center;">该服务点暂无简介~</div>
			{/if}
			</section>
		</article>
	</section>
</div>
	
{php include $this->template('_footer');}
</body>
</html>