body,h1,h2,h3,h4,h5,h6,ul,ol,li,p,form,dt,dd,input,textarea,th,td,fieldset,legend,dl,dt,dd,figure{margin:0;padding:0;}
fieldset,img{border:0 none}
ul,ol,li{list-style:none}
table{border-spacing:0}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
*:focus{outline:none}
q:before,q:after{content:""}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body,input,select,button,textarea{font:16px/1.5 Arial,Helvetica,sans-serif;}
*,*:after,*:before{-webkit-user-select:none;-webkit-touch-callout:none;-ms-user-select: none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
html,body{background-color:#fff;color:#000;-webkit-user-select: none;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{ border:1px solid #b8b7b3;-webkit-user-select:auto;}
em{font-style:normal;font-weight:normal}
sub, sup {font-size:75%;line-height:0;position:relative;vertical-align: baseline}
sup {top: -0.5em}
sub {bottom: -0.25em}
img{vertical-align:top;max-width:100%;}
a{text-decoration:none;color:#000;}
html,body{width:100%;height:100%;}
body{background:transparent;}
.body::after{position:relative;content:'';position:fixed;z-index:-1;left:0;top:0;width:100%;height:100%;}

.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clear:after,.tab-title:after{content:"";display:block;clear:both;height:0;line-height:0;overflow:hidden;font-size:0;}
.clear.tab-title{zoom:1;}
.fixbottom,.fixtop{position:fixed;left:0;bottom:0;width:100%;height:82px;background:rgba(0,0,0,.6);z-index:2}
.fixbottom .containWrap,.fixtop .containWrap{position:absolute;left:0;top:0;width:100%;height:100%;bottom:0;}
.fixtop{top:0;bottom:auto;}
.m15{margin-top:15px;}
.m25{margin-top:25px;}
.space_5{padding:5px 0 0 0;}
.space_10{padding:10px 0 0 0;}
.space_15{padding:15px 0 0 0;}
.space_20{padding:20px 0 0 0;}
.space_30{padding:30px 0 0 0;}
.tc{text-align:center;}
.tr{text-align:right;}

.prompt .cont{
    position:fixed;top:50%;left:0;z-index:15;
    width:90%;height:150px;color:#666;
    margin:-75px 5% 0;
    border-radius:3px;
    font:16px/30px "榛戜綋";text-align:center;
    background:#fff;
}
.prompt .bg{
    position:fixed;left:0;top:0;z-index:14;
    width:100%;height:100%;
    background:rgba(0,0,0,.5)
}
.prompt .btn{
    display:block;
    width:90px;height:30px;color:#fff;
    margin:0 auto;
    border-radius:3px;
    font:14px/30px "榛戜綋";
    background:#f80;
}

.crush{
    position:fixed;left:0;top:0;z-index:10;
    width:100%;height:100%;
}
.crush img{
    position:fixed;left:0;top:0;z-index:11;
    width:200px;
    margin:-100px 0 0 -100px;
}


.main{
    position:absolute;left:50%;top:40%;z-index:1;
    width:300px;height:400px;text-align:center;
    margin:-156px 0 0 -150px;
}
.main dt{
    position:absolute;left:0;top:-40px;z-index:2;
    width:100%;height:480px;color:#f9df2a;
    font:18px/30px Arial,"榛戜綋";
}
.main dt em{
    font-weight:bold;
}
.main dd img{
    width:100%;height:100%;
}


.share{
    position:fixed;top:0;left:0;z-index:1000;
    width:100%;height:100%;color:#fff;
    font:14px/30px "榛戜綋";
    background:rgba(0,0,0,.75);
}
.share img{
    float:right;
    width:30px;
    margin:10px;
}
.share p{
    padding:0 10px;
}

.copyright{
    position:fixed;bottom:0;left:0;z-index:1111;
    width:100%;height:46px;color:rgba(255,255,255,.5);
    font:16px/46px "榛戜綋";text-align:center;
}
.copyright a{
    color:rgba(255,255,255,.75);
    margin:0 5px;
}
.bannerAd{position:fixed;bottom: 0;overflow:hidden;line-height:0;font-size:0;}
.bannerAd img {width:100%;overflow: hidden;}





























