{template 'header'}
<div class="wraper">
<style type="text/css">
</style>
<div class="category-con selectbj" id="categoryList">
    <ul class="category_list mod_main">
    	<li id="pros" class="category_li">
			<h2 class="category">
				<a href="">全部项目</a>
			</h2>
			<ul class="category-table clearfix">
			{loop $category $item}
				<li>
					<a href="{php echo $this->createMobileUrl('list2', array('pcate' => $item['id']))}" title="{$item['name']}">{$item['name']}</a>
				</li>
			{/loop}
			</ul>
		</li>
		<li id="invests" class="category_li" style="display:none">
			<h2 class="category">
				<a href="">全部项目</a>
			</h2>
			<ul class="category-table clearfix">
				{loop $category $item}
				<li>
					<a href="{php echo $this->createMobileUrl('list2', array('pcate' => $item['id']))}" title="{$item['name']}">{$item['name']}</a>
				</li>
			{/loop}
			</ul>
		</li>
	</ul>
</div>
<script type="text/javascript">
	$(".category-table").each(function(){
		var li_num = $(this).find("li").length;
		if(li_num<4){
			var left_num = 4-li_num;
			for (i = 0; i < left_num; i++){
				$(this).append("<li></li>");
			}
		}
		else{
			var left_num = li_num % 4;
			for (i = 0; i < left_num; i++){
				$(this).append("<li></li>");
			}
		}
	});
	$(".sub-category-table").each(function(){
		if(!($(this).find("li").html())){
			$(this).hide();
			$(this).prev().hide();
		}
	});
</script>
<script type="text/javascript">
    $("#top_search_hd .search_cate").bind('click',function(){
        var $obj=$(this);
        var i=$obj.index();
        $obj.attr("checked",true).addClass("cur").siblings().attr("checked",false).removeClass("cur");
        $("#categoryList .category_li").eq(i).fadeIn(300).siblings().hide();
    });
</script>
</div>
{template 'footer'}