<div class="list-item img-rounded" {if $item['show_type'] == 1}style="width: 95%;"{/if}>
	<div>
		<a href="{php echo $this->createMobileUrl('detail', array('id' => $item['id']))}">
			<img src="{$_W['attachurl']}{$item['thumb']}">
		</a>
		<span class="title"><a href="{php echo $this->createMobileUrl('detail', array('id' => $item['id']))}">{$item['title']}</a></span>
	</div>
	<span class="sold">
		<span class="soldnum pull-left">已筹资￥{$item['finish_price']}</span>
		{if $item['limit_price'] == 0}
		<span class="price pull-right">{if time() <= $item['starttime']}项目尚未开始{else if time() > $item['starttime'] + $item['deal_days']* 86400}项目已结束{else}剩余{php echo $item['deal_days'] - floor((time() - $item['starttime'])/86400)}天{/if}</span>
		{/if}
	</span>
	{if $item['limit_price'] != 0}
	<span class="sold">
		<div class="progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="{php echo $item['finish_price']*100/$item['limit_price']}" aria-valuemin="0" aria-valuemax="100" style="width: {php echo $item['finish_price']*100/$item['limit_price']}%;">
    			<span class="sr-only">{php echo $item['finish_price']*100/$item['limit_price']}% Complete</span>
  			</div>
		</div>
	</span>
	<span class="sold">
		<span class="soldnum pull-left">{php echo floor($item['finish_price']*100/$item['limit_price'])}%</span>
		<span class="price pull-right">{if time() <= $item['starttime']}项目尚未开始{else if time() > $item['starttime'] + $item['deal_days']* 86400}项目已结束{else}剩余{php echo $item['deal_days'] - floor((time() - $item['starttime'])/86400)}天{/if}</span>
	</span>
	{/if}
</div>