html {font-size:20px;}
div, dl, dt, dd, ul, h1, h2, h3, h4, p{padding:0;margin:0;}
li{list-style:none;}
img{border:0;}
a{color:#519BD8;text-decoration:none;cursor:pointer; font-family:microsoft yahei,arial;}
a:hover{color:#519BD8;text-decoration:none;}
textarea{  font-family:microsoft yahei,arial;}
th,h1, h2, h3{color:#5F5F5F}
a,input,button{outline:none; -webkit-highlight-color:rgba(0,0,0,0);}
.body--ready .overlay{-webkit-transition:-webkit-transform .7s cubic-bezier(.694,.0482,.335,1),opacity .7s cubic-bezier(.694,.0482,.335,1);-moz-transition:-moz-transform .7s cubic-bezier(.694,.0482,.335,1),opacity .7s cubic-bezier(.694,.0482,.335,1);-ms-transition:-ms-transform .7s cubic-bezier(.694,.0482,.335,1),opacity .7s cubic-bezier(.694,.0482,.335,1);-o-transition:-o-transform .7s cubic-bezier(.694,.0482,.335,1),opacity .7s cubic-bezier(.694,.0482,.335,1);transition:transform .7s cubic-bezier(.694,.0482,.335,1),opacity .7s cubic-bezier(.694,.0482,.335,1)}
.ui{position:absolute;left:50%;bottom:100px;width:300px;margin-left:-150px}
.ui-input{width:100%;height:50px;background:0 0;font-size:24px;font-weight:700;color:#fff;text-align:center;border:none;border-bottom:2px solid #fff}
.ui-input:focus{outline:0;border:none;border-bottom:2px solid #fff}
.ui-return{display:none;position:absolute;top:20px;right:0;padding:3px 2px 0 2px;font-size:10px;line-height:10px;color:#fff;border:1px solid #fff}
.ui--enter .ui-return{display:block}
.ui--wide{width:76%;margin-left:12%;left:0}
.ui--wide .ui-return{right:-20px}

.signBox {padding:5px;background:#fff;border-radius:20px;position:absolute;right:20px;bottom:20px;opacity:0;-webkit-opacity:0;transform:scale(0.07,1);-webkit-transform:scale(0.07,1);}
.signBox p {display:inline-block;padding:0 50px 0 20px;font-size:32px;line-height:40px;}
.signBox p .name {font-size:40px;color:#ea8751;display:inline-block;max-width:275px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.signBox p .job {font-size:26px;color:#666;margin-left:10px;}
.signBox p .company{color:#555;display:block;max-width:400px;height:90px;margin-top:5px;font-size:26px;line-height:38px;}
.signBox p .textLine {padding:8px 10px;border-radius:8px;box-sizing:border-box;background:#ea8751;color:#fff;position:relative;}
.signBox p .textLine i {width:14px;height:13px;position:absolute;top:20px;left:-14px;display:block;background-image:url(../images/arrow.png);background-size:100%;}
.signBox p .textLine .text_scrool {max-width:384px;height:40px;display:inline-block;vertical-align:top;overflow-y:hidden;}
.signBox p .textLine u {word-break:break-all;text-decoration:none;display:inline-block;animation-delay:2s;-webkit-animation-delay:2s;}
.imgShow {width:150px;height:150px;border-radius:100%;overflow:hidden;display:block;float:left;}



/* 签到二维码 */
.signin_ecode{position:absolute;top:20px;left:20px;z-index:99;}
.signin_ecode .ecode_img{width:50px; height:50px; display:block;filter:alpha(opacity=0.5);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}


/* 轮播消息 */
.text_bottom {width:100%;height:68px;position:fixed;left:0;bottom:0;background:rgba(0,0,0,0.7);color:#fff;display:none;}
.text_bottom.t_hide {display:none !important;}
.tb_center {width:1024px;height:68px;margin:0 auto;position:relative;overflow:hidden;}
.text_bottom ul {position:absolute;width:8000%;left:0;top:0}
.text_bottom ul li {width:1024px;height:68px;line-height:68px;float:left;font-size:30px;text-shadow:3px 3px 0 rgba(0,0,0,0.3);text-align:center;display:inline;}


/* 底部 */
.s_bottom {width:100%;/*height:68px;*/height:12px;position:fixed;left:0;bottom:0;text-align:center;}
.s_bottom.s_hide {opacity:0;-webkit-opacity:0;-moz-opacity:0;-o-opacity:0;-ms-opacity:0;bottom:-68px;}
.s_bottom .s_bottom_line {width:100%;height:12px;position:absolute;left:0;bottom:0;background:rgba(0,0,0,0.7);z-index:9;}
.s_bottom .s_bottom_line.s_hide {opacity:0;-webkit-opacity:0;-moz-opacity:0;-o-opacity:0;-ms-opacity:0;}
.s_bottom_link {height:56px;display:inline-block;margin-top:-56px;}
.s_bottom_link.s_hide {opacity:0;-webkit-opacity:0;-moz-opacity:0;-o-opacity:0;-ms-opacity:0;}
.s_bottom_link .bottom_radius {width:34px;height:56px;display:block;background-image:url(/static/screen/images/bottom_radius.png);position:absolute;top:0;}
.s_bottom_link .bottom_radius.bottom_radius_left {background-position:0 0;left:-34px;}
.s_bottom_link .bottom_radius.bottom_radius_right {background-position:-34px 0;right:-34px;}
.s_bottom_link ul {background:rgba(0,0,0,0.7);display:inline-block;position:relative;}
.s_bottom_link ul li {width:50px;height:56px;margin:0 8px;display:block;float:left;position:relative;}
.s_bottom_link ul li a.s_b_icon {width:100%;height:32px;display:block;margin-top:12px;background-image:url(/static/screen/images/screen_icon.png);}
.s_bottom_link ul li a.s_b_icon.home {background-position:0 0;}
.s_bottom_link ul li a.s_b_icon.weixin {background-position:-50px 0;}
.s_bottom_link ul li a.s_b_icon.prize {background-position:-100px 0;}
.s_bottom_link ul li a.s_b_icon.vote {background-position:-150px 0;}
.s_bottom_link ul li a.s_b_icon.running {background-position:-200px 0;}
.s_bottom_link ul li a.s_b_icon.tug {background-position:-250px 0;}
.s_bottom_link ul li a.s_b_icon.activity {background-position:-600px 0;}
.s_bottom_link ul li a.s_b_icon.rhythm {background-position:-300px 0;}
.s_bottom_link ul li a.s_b_icon.set {background-position:-350px 0;}
.s_bottom_link ul li a.s_b_icon.fullscreen {background-position:-400px 0;}
.s_bottom_link ul li a.s_b_icon.sound {background-position:-450px 0;}
.s_bottom_link ul li a.s_b_icon.rewards {background-position:-500px 0;}
.s_bottom_link ul li a.s_b_icon.sign_wall {background-position:-550px 0;}
.s_bottom_link ul li a.s_b_icon.home.hover {background-position:0 -32px;}
.s_bottom_link ul li a.s_b_icon.weixin.hover {background-position:-50px -32px;}
.s_bottom_link ul li a.s_b_icon.prize.hover {background-position:-100px -32px;}
.s_bottom_link ul li a.s_b_icon.vote.hover {background-position:-150px -32px;}
.s_bottom_link ul li a.s_b_icon.running.hover {background-position:-200px -32px;}
.s_bottom_link ul li a.s_b_icon.tug.hover {background-position:-250px -32px;}
.s_bottom_link ul li a.s_b_icon.activity.hover {background-position:-600px -32px;}
.s_bottom_link ul li a.s_b_icon.rhythm.hover {background-position:-300px -32px;}
.s_bottom_link ul li a.s_b_icon.set.hover {background-position:-350px -32px;}
.s_bottom_link ul li a.s_b_icon.fullscreen.hover {background-position:-400px -32px;}
.s_bottom_link ul li a.s_b_icon.sound.hover {background-position:-450px -32px;}
.s_bottom_link ul li a.s_b_icon.rewards.hover {background-position:-500px -32px;}
.s_bottom_link ul li a.s_b_icon.sign_wall.hover {background-position:-550px -32px;}
.s_bottom_link ul li span {position:absolute;top:-35px;left:50%;width:70px;margin-left:-40px;color:#fff;background:rgba(0,0,0,0.44);padding:5px;display:none;border-radius:4px;}
.s_bottom_link ul li span i {width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid rgba(0,0,0,0.44);position:absolute;left:50%;margin-left:-5px;bottom:-5px;}
.s_bottom_link ul li:nth-child(1) .shortline {width:1px;height:16px;position:absolute;right:-3px;top:24px;background:rgba(255,255,255,0.2);}
.s_bottom_link ul li:nth-child(8) .shortline {width:1px;height:16px;position:absolute;left:-5px;top:24px;background:rgba(255,255,255,0.2);}
.imgAnimate {-webkit-animation:imgAnimate 6s ease-in-out;animation:imgAnimate 6s ease-in-out;}

@-webkit-keyframes imgAnimate{
    0%{-webkit-transform:scale(1,0.05);-webkit-opacity:0.5;}
    5%{-webkit-transform:scale(1,1);-webkit-opacity:1;}
    95%{-webkit-transform:scale(1,1);-webkit-opacity:1;}
    100%{-webkit-transform:scale(1,0.07) translate(0,0);}
}
@keyframes imgAnimate{
    0%{transform:scale(1,0.05);opacity:0.5;}
    5%{transform:scale(1,1);opacity:1;}
    95%{transform:scale(1,1);opacity:1;}
    100%{transform:scale(1,0.07) translate(0,0);}
}
.scrollAnitame {-webkit-animation:scrollAnitame 4s ease-in-out;animation:scrollAnitame 4s ease-in-out;}
@-webkit-keyframes scrollAnitame{
    0%{-webkit-transform:none;}
    30%{-webkit-transform:translate(0,-40px);}
    100%{-webkit-transform:translate(0,-40px);}
}
@keyframes scrollAnitame{
    0%{transform:none;}
    30%{transform:translate(0,-40px);}
    100%{transform:translate(0,-40px);}
}