@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body {font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;background-color: #ffb100;}
html,body {height: 100%;}

/*调查说明*/
.wrapper {position: relative;margin: 0 auto;max-width: 640px;min-height: 100%;text-align:center;}
.bg{position: absolute;top: 0;left: 0;width: 100%;z-index: -1;height: 100%;}
.content-w1, .content-w2 {display: inline-block;padding: 0px 0px 3px;}
.content-w1, .content-w2, .content {background-color: #e4e4e4;border-bottom: 1px solid #939393;}
.content-w1 {border: 1px solid #939393;}
.content {width: 266px;margin: 0px auto;padding: 0px 0px 10px;}
.title {font-size: 20px;padding: 10px 18px 0px;}
.connect {width: 100%;display: block;margin: 10px 0px;}
.desc-cont {text-align: left;padding: 0 18px;}
.desc-cont {word-wrap: break-word;word-break: break-all;}
.next-btn {color: #FFF;width: 120px;display: block;padding: 8px 22px;font-size: 16px;margin: 20px auto 0px;}
.next-btn {background: #e4b558;background: -moz-linear-gradient(top,#e4b558 0,#da954e 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e4b558),color-stop(100%,#da954e));background: -webkit-linear-gradient(top,#e4b558 0,#da954e 100%);background: -o-linear-gradient(top,#e4b558 0,#da954e 100%);background: -ms-linear-gradient(top,#e4b558 0,#da954e 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4b558',endColorstr='#da954e',GradientType=0);background: linear-gradient(top,#e4b558 0,#da954e 100%);border: 1px solid #be8f30;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;font-weight: bold;margin-top: 20px;}
.page-url {margin-top: 30px;border-top:0;text-align: center;}
.page-url-link {font-size: 14px;line-height: 2.5;text-decoration: none;text-shadow:none;-webkit-text-shadow: 0 1px #fff;-moz-text-shadow: 0 1px #fff;color:#fff;}

/*填写资料*/
.wrapper1{position: relative;margin: 0 auto;max-width: 640px;min-height: 100%;text-align:left;}
.inner-cont {width: 280px;margin: 0 auto;padding-top: 20px;}
.qtitle {line-height: 30px;font-size: 26px;font-weight: bold;}
.field-contain {margin-top: 20px;}
.input-label {font-size: 18px;line-height: 32px;}
.input-text {display: block;width: 236px;height: 32px;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;
padding: 2px 5px;background: -moz-linear-gradient(top, #d2cfd2 0, #ffffff 50%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d2cfd2), color-stop(50%, #ffffff));background: -webkit-linear-gradient(top, #d2cfd2 0, #ffffff 50%);background: -o-linear-gradient(top, #d2cfd2 0, #ffffff 50%);background: -ms-linear-gradient(top, #d2cfd2 0, #ffffff 50%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2cfd2', endColorstr='#ffffff', GradientType=0 );background: linear-gradient(top, #d2cfd2 0, #ffffff 50%);border: 1px solid #c6c3c6;border-top-width: 2px;font-size: 19px;}
.tip {color: #FFF;font-size: 12px;}
.next-btn1{border: 0px;margin: 0;box-shadow: #666 1px 1px 2px;-webkit-box-shadow: #666 1px 1px 2px;-moz-box-shadow: #666 1px 1px 2px;}
.next-btn1{padding: 10px 32px;color: #000;font-size: 20px;background: #e4b558;background: -moz-linear-gradient(top,#e4b558 0,#da954e 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e4b558),color-stop(100%,#da954e));background: -webkit-linear-gradient(top,#e4b558 0,#da954e 100%);background: -o-linear-gradient(top,#e4b558 0,#da954e 100%);background: -ms-linear-gradient(top,#e4b558 0,#da954e 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4b558',endColorstr='#da954e',GradientType=0);background: linear-gradient(top,#e4b558 0,#da954e 100%);border: 1px solid #be8f30;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;font-weight: bold;margin-top: 20px;}

/*具体内容*/
.question {z-index: 2;position: relative;padding-top: 20px;}
.question .title {font-size: 24px;text-align: center;max-height: 77px;overflow: hidden;text-overflow: ellipsis;padding: 0 10px;line-height: 26px;margin-bottom: 10px;}
.tip1{color: #FFF;font-size: 12px;margin-left: 20px;text-align: left;}
.question .option {position: relative;height: 45px;text-align: left;}
.question .option .oimg, .question .option .oimg-sel {position: absolute;top: 4px;left: 10px;width: 300px;}
.question .option .oimg-sel {display: none;}
.question .option .text {position: relative;line-height: 40px;overflow: hidden;}
.question .option .otext {margin-left: 45px;overflow: hidden;max-width: 260px;height: 40px;}
#submit {width: 80px;margin: 20px 20px 0px 0px;float: right;position: relative;}
#submit img {position: absolute;top: 0px;left: 0px;width: 100%;}
#submit span {position: relative;color: #FFF;font-size: 18px;line-height: 40px;}

/*建议*/
.bg-suggest {width: 270px;margin: 20px auto 0px;}
.title2{position: absolute;top: 30px;width: 220px;left: 50%;margin-left: -110px;font-size: 20px;}
.thanks {position: absolute;top: 290px;width: 220px;left: 50%;margin-left: -110px;font-size: 14px;}
.desc-cont1{position: absolute;top: 105px;width: 228px;left: 50%;margin-left: -112px;text-align: left;word-wrap: break-word;word-break: break-all;}
#suggest {width: 206px;height: 158px;border: 1px solid #c4c7cc;padding: 8px;word-wrap: break-word;word-break: break-all;}
.next-btn2 {color: #FFF;position: relative;width: 120px;display: block;margin: -70px auto 0px;padding: 8px 22px;font-size: 18px;}
.next-btn2 {background: #e4b558;background: -moz-linear-gradient(top,#e4b558 0,#da954e 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e4b558),color-stop(100%,#da954e));background: -webkit-linear-gradient(top,#e4b558 0,#da954e 100%);background: -o-linear-gradient(top,#e4b558 0,#da954e 100%);background: -ms-linear-gradient(top,#e4b558 0,#da954e 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4b558',endColorstr='#da954e',GradientType=0);background: linear-gradient(top,#e4b558 0,#da954e 100%);border: 1px solid #be8f30;-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;font-weight: bold;}

/*结束*/
.desc-cont .time {font-size: 12px;text-align: right;margin-top: 20px;}
.desc-cont p {margin-bottom: 5px;}








