<!DOCTYPE html>
<html lang="zh" style="overflow: hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><!-- 模板配置 -->
    <meta name="renderer" content="webkit">
    <meta charset="UTF-8">
    <title>照片墙</title>

    <link rel="stylesheet" href="../addons/haoman_dpm/photo_img/app.css">

</head>
<body style="zoom: 1.1925; overflow-x: hidden;  background-size: 100% 100%;">
<style>
    * {
        margin: 0;
        padding: 0;
    }

    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        font-family: 'Roboto Slab', 'Microsoft YaHei';
    }

    div, p, h1, h2, h3, h4, h5, h6, strong, span, em, pre, ul, ol, li, dl, dt, dd, nav, footer {
        padding: 0;
        margin: 0;
    }

    ul, ol, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    img, a img {
        border: 0;
    }
</style>

<div id="wall" data-modle="kphd-view-body">

    <!--<div id="wallCont" class="mainwidth" data-modle="wall-modle-cont">-->

    <div id="picture-wall-block" class="wall-box none" style="display: block;">
        <!--<div id="slider" class="slider">-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/a15b1a4a7d2ce07f6781a9ca8abf4c21eff63917.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 0px; width: 25%; height: 25%; animation-delay: 1.64709s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/9917e3dd2b0b3ddda99e64e3ef326ccef2c6df5a.jpeg" class="animated fadeOut" style="position: absolute; left: 25%; top: 25%; width: 25%; height: 25%; animation-delay: 0.316561s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/d22a41144ea00c75fc21f65d310803405a84dd7f.jpeg" class="animated fadeOut" style="position: absolute; left: 75%; top: 50%; width: 25%; height: 25%; animation-delay: 0.0963141s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/3b5fe2dd492a27660ca99b741a7843df680bef78.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 25%; width: 25%; height: 25%; animation-delay: 0.550294s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/65c778e415960109f40f93c3384d25112933e35c.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 50%; width: 25%; height: 25%; animation-delay: 0.808724s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/e0250619c8c8bd03b8e220747754935bf562f17c.jpeg" class="animated fadeOut" style="position: absolute; left: 50%; top: 25%; width: 25%; height: 25%; animation-delay: 0.797635s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/1ed0a021e64adef1acded7b73efb1920b1861da9.jpeg" class="animated fadeOut" style="position: absolute; left: 75%; top: 0px; width: 25%; height: 25%; animation-delay: 0.859425s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/f6c0f4dd5ff207ff68e9c57e867150558dd103ef.jpeg" class="animated fadeOut" style="position: absolute; left: 25%; top: 50%; width: 25%; height: 25%; animation-delay: 0.938481s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/5e6107a261022ded9b7be3ad447057588b989474.jpeg" class="animated fadeOut" style="position: absolute; left: 25%; top: 75%; width: 25%; height: 25%; animation-delay: 0.581305s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/46898e95ce4b2519e08abeb4df5a7f06464010dc.jpeg" class="animated fadeOut" style="position: absolute; left: 50%; top: 75%; width: 25%; height: 25%; animation-delay: 1.9385s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/a15b1a4a7d2ce07f6781a9ca8abf4c21eff63917.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 75%; width: 25%; height: 25%; animation-delay: 0.986243s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/9917e3dd2b0b3ddda99e64e3ef326ccef2c6df5a.jpeg" class="animated fadeOut" style="position: absolute; left: 50%; top: 50%; width: 25%; height: 25%; animation-delay: 1.71604s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/d22a41144ea00c75fc21f65d310803405a84dd7f.jpeg" class="animated fadeOut" style="position: absolute; left: 25%; top: 0px; width: 25%; height: 25%; animation-delay: 1.40685s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/3b5fe2dd492a27660ca99b741a7843df680bef78.jpeg" class="animated fadeOut" style="position: absolute; left: 50%; top: 0px; width: 25%; height: 25%; animation-delay: 0.295237s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/65c778e415960109f40f93c3384d25112933e35c.jpeg" class="animated fadeOut" style="position: absolute; left: 75%; top: 25%; width: 25%; height: 25%; animation-delay: 1.62444s;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="./快屏互动 - 3D微信墙_files/e0250619c8c8bd03b8e220747754935bf562f17c.jpeg" class="animated fadeOut" style="position: absolute; left: 75%; top: 75%; width: 25%; height: 25%; animation-delay: 1.58315s;">&ndash;&gt;-->

        <!--<img src="./快屏互动 - 3D微信墙_files/a15b1a4a7d2ce07f6781a9ca8abf4c21eff63917.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 0px; width: 25%; height: 25%; animation-delay: 1.64709s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/9917e3dd2b0b3ddda99e64e3ef326ccef2c6df5a.jpeg" class="animated fadeOut" style="position: absolute; left: 25%; top: 25%; width: 25%; height: 25%; animation-delay: 0.316561s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/d22a41144ea00c75fc21f65d310803405a84dd7f.jpeg" class="animated fadeOut" style="position: absolute; left: 75%; top: 50%; width: 25%; height: 25%; animation-delay: 0.0963141s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/3b5fe2dd492a27660ca99b741a7843df680bef78.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 25%; width: 25%; height: 25%; animation-delay: 0.550294s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/65c778e415960109f40f93c3384d25112933e35c.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 50%; width: 25%; height: 25%; animation-delay: 0.808724s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/e0250619c8c8bd03b8e220747754935bf562f17c.jpeg" class="animated fadeOut" style="position: absolute; left: 50%; top: 25%; width: 25%; height: 25%; animation-delay: 0.797635s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/1ed0a021e64adef1acded7b73efb1920b1861da9.jpeg" class="animated fadeOut" style="position: absolute; left: 75%; top: 0px; width: 25%; height: 25%; animation-delay: 0.859425s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/f6c0f4dd5ff207ff68e9c57e867150558dd103ef.jpeg" class="animated fadeOut" style="position: absolute; left: 25%; top: 50%; width: 25%; height: 25%; animation-delay: 0.938481s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/5e6107a261022ded9b7be3ad447057588b989474.jpeg" class="animated fadeOut" style="position: absolute; left: 25%; top: 75%; width: 25%; height: 25%; animation-delay: 0.581305s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/46898e95ce4b2519e08abeb4df5a7f06464010dc.jpeg" class="animated fadeOut" style="position: absolute; left: 50%; top: 75%; width: 25%; height: 25%; animation-delay: 1.9385s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/a15b1a4a7d2ce07f6781a9ca8abf4c21eff63917.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 75%; width: 25%; height: 25%; animation-delay: 0.986243s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/9917e3dd2b0b3ddda99e64e3ef326ccef2c6df5a.jpeg" class="animated fadeOut" style="position: absolute; left: 50%; top: 50%; width: 25%; height: 25%; animation-delay: 1.71604s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/d22a41144ea00c75fc21f65d310803405a84dd7f.jpeg" class="animated fadeOut" style="position: absolute; left: 25%; top: 0px; width: 25%; height: 25%; animation-delay: 1.40685s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/3b5fe2dd492a27660ca99b741a7843df680bef78.jpeg" class="animated fadeOut" style="position: absolute; left: 50%; top: 0px; width: 25%; height: 25%; animation-delay: 0.295237s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/65c778e415960109f40f93c3384d25112933e35c.jpeg" class="animated fadeOut" style="position: absolute; left: 75%; top: 25%; width: 25%; height: 25%; animation-delay: 1.62444s;">-->
        <!--<img src="./快屏互动 - 3D微信墙_files/e0250619c8c8bd03b8e220747754935bf562f17c.jpeg" class="animated fadeOut" style="position: absolute; left: 75%; top: 75%; width: 25%; height: 25%; animation-delay: 1.58315s;">-->

        <!--</div>-->
        <!--<div id="slider" class="slider">-->
            <!--<img src="../addons/haoman_dpm/photo_img/1.jpeg" class="animated fadeOut" style="position: absolute; left: 66%; top: 0px; width: 33%; height: 33%; animation-delay: 1.1677s;">-->
            <!--<img src="../addons/haoman_dpm/photo_img/3.jpeg" class="animated fadeOut" style="position: absolute; left: 66%; top: 33%; width: 33%; height: 33%; animation-delay: 1.84864s;">-->
            <!--<img src="../addons/haoman_dpm/photo_img/4.jpeg" class="animated fadeOut" style="position: absolute; left: 33%; top: 66%; width: 33%; height: 33%; animation-delay: 0.533302s;">-->
            <!--<img src="../addons/haoman_dpm/photo_img/5.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 33%; width: 33%; height: 33%; animation-delay: 0.467736s;">-->
            <!--<img src="../addons/haoman_dpm/photo_img/6.jpeg" class="animated fadeOut" style="position: absolute; left: 33%; top: 0px; width: 33%; height: 33%; animation-delay: 0.0264492s;">-->
            <!--<img src="../addons/haoman_dpm/photo_img/7.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 0px; width: 33%; height: 33%; animation-delay: 0.904652s;">-->
            <!--<img src="../addons/haoman_dpm/photo_img/1.jpeg" class="animated fadeOut" style="position: absolute; left: 33%; top: 33%; width: 33%; height: 33%; animation-delay: 0.626379s;">-->
            <!--<img src="../addons/haoman_dpm/photo_img/4.jpeg" class="animated fadeOut" style="position: absolute; left: 0px; top: 66%; width: 33%; height: 33%; animation-delay: 0.871764s;">-->
            <!--<img src="../addons/haoman_dpm/photo_img/6.jpeg" class="animated fadeOut" style="position: absolute; left: 66%; top: 66%; width: 33%; height: 33%; animation-delay: 1.3914s;">-->
        <!--</div>-->
        <!--//9张图-->
        <div id="slider" class="slider" style="margin-top: 100px;">
            <img src="../addons/haoman_dpm/photo_img/1.jpeg" class="animated zoomIn" style="transform: rotate(0deg); width: 990px; height: 556.875px;">
            <!--<img src="../addons/haoman_dpm/photo_img/3.jpeg" class="animated zoomIn" style="transform: rotate(0deg); width: 990px; height: 556.875px;">-->
        </div>

    </div>



</div>


</body>
</html>