
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$qmwb['title']}</title>
    <!-- 移动设备支持 -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link href="{MON_QMWB_RES}css/reset.css" rel="stylesheet" type="text/css">
    <link href="{MON_QMWB_RES}css/treasure.css?v=1" rel="stylesheet" type="text/css">
    <link href="{MON_QMWB_RES}css/box.css" rel="stylesheet" type="text/css">

</head>
<style>

    body {
        background: {$qmwb['bg_color']};
    }
</style>
{template 'share'}
<body>
<!--音乐-->
<div id="audio_btn" url="{if $qmwb['bg_music']}{php echo MonUtil::getpicurl($qmwb['bg_music'])}{else}{MON_QMWB_RES}images/1442663348.mp3{/if}" style="display:none"></div>

<div id="wrap">
    <div class="topbox">
        <div class="logobox"><img src="{php echo MonUtil::defaultImg(MonUtil::$IMG_INDEX_BG, $qmwb)}"> </div>
        <div class="picbanner">

            <div id="slider" class="swipe">
                <div  class="swipe-wrap">
                    <div class="wrap"><img src="{php echo MonUtil::defaultImg(MonUtil::$IMG_PPT1, $qmwb)}"></div>
                    <div class="wrap"><img src="{php echo MonUtil::defaultImg(MonUtil::$IMG_PPT2, $qmwb)}"></div>
                </div>
            </div>

        </div>
        <p></p>
    </div>

    <div class="msgbox">
        <p>{$qmwb['cp_text']}</p>
        <a href="{php echo $this->createMobileUrl('box', array('qid' => $qmwb['id']))}"><div class="linkbtn btnwd mb-5">
            <p>去挖宝藏</p>
            <span class="earth"><img src="{MON_QMWB_RES}images/earth.png"></span>
        </div></a>
        <p align="center" class="mt-5">活动时间 {php echo date("Y-m-d H:i",$qmwb['starttime'])} - {php echo date("Y-m-d H:i",$qmwb['endtime'])}</p>
        <p align="center" class="mt-5 mb-5">
            <a href="#" class="alert01"><span class="link mr10 mt2">挖宝规则</span></a>
            <a href="#" class="alert02"><span class="link">获奖名单</span></a>
        </p>
    </div>

    <div class="footer" >
        <p class="radio">
       <span>
               {loop $topWins $topWin}
                    <b><a href="#" class="alert02" style="color:#333">{$topWin['nickname']}　　　　{$topWin['pname']}</a></b>
               {/loop}
       </span>
        </p>
        <div class="ad" id="box">
            <a href="#" onClick="document.getElementById('box').style.display=document.getElementById('box').style.display==''?'none':''"><i></i></a>
            <span><a href="{$qmwb['bottom_ad_url']}"><img src="{php echo MonUtil::defaultImg(MonUtil::$IMG_BOTTOM_ADD, $qmwb)}" /></a></span>
        </div>
        <p class="copyright">{$qmwb['copyright']}</p>
    </div>
</div>

<!--弹出层-->
<div id="showbox01" style="display:none;">
    <div class="alertbox01">
        <h1>挖宝规则</h1>
        <p>活动时间</p>
        <p class="mb-5" style="font-size:14px;">{php echo date("Y-m-d H:i", $qmwb['starttime'])} - {php echo date("Y-m-d H:i" ,$qmwb['endtime'])}</p>
        <p>活动规则</p>
        <div class="rule mb-5">
           {$qmwb['hd_intro']}
        </div>
        <p>兑奖规则</p>

        <div class="rule mb-5">
            {$qmwb['dj_intro']}
        </div>

    </div>
</div>






<script type="text/javascript" src="{MON_QMWB_RES}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{MON_QMWB_RES}js/jquery.artDialog.min.js"></script>
<script type="text/javascript" src="{MON_QMWB_RES}js/swipe.js"></script>
<script src="{MON_QMWB_RES}js/music.js"></script>

{template 'result_dialog'}

<script>
    /*页面弹层公用*/
    var box1,box2;
    $(".alert01").click(function(){
        box1 = $.dialog({
            //title: '成功',
            content: document.getElementById('showbox01'),
            lock: true,
            padding:0,
            top:10
        });
    })

    $(".close").click(function(){
        box1.close();
    })

    $(".alert02").click(function(){
        box2 = $.dialog({
            //title: '成功',
            content: document.getElementById('showbox02'),
            lock: true,
            padding:0,
            top:10
        });
    })


    $(".close").click(function(){
        box2.close();
    })

    /*弹层查询切换*/
    function selectTag(showContent,selfObj){
        // 操作标签
        var tag = document.getElementById("tagbar").getElementsByTagName("li");
        var taglength = tag.length;
        for(i=0; i<taglength; i++){
            tag[i].className = "";
        }
        selfObj.parentNode.className = "barfocus";
        // 操作内容
        for(i=0; j=document.getElementById("tagContent"+i); i++){
            j.style.display = "none";
        }
        document.getElementById(showContent).style.display = "block";
    }

    /*banner切换*/
    var slider =
            Swipe(document.getElementById('slider'), {
                auto: 3000,
                continuous: true,
                disableScroll: false,
                stopPropagation: true,
                callback: function(pos) {
                    var lis = $("#slider li");
                    lis.removeClass("on").eq(pos).addClass("on");
                }
            });

    //公告滚动
    if($(".radio b").length>1){
        setInterval('autoScroll()',4000);
    };
    function autoScroll(){
        $(".radio span").animate({marginTop:"-35px"},80);
        setTimeout(function(){
            $(".radio span").css({marginTop:"0px"})
            $(".radio span").find("b").eq(0).appendTo($(".radio span"));
        },100);
    };
</script>

</body>
</html>


