@charset "UTF-8";
/**
 * 
 * @authors tianyanrong
 * @date    2015-1-20 13:55:37
 * @version 1
 */
 html{
	background:#ffe8c9;
 }
.area_box{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	z-index: 1111;
}
.area_box .current_areat_button{
	margin:0.58em 0 0 0.58em;
	background: rgba(185,52,20,0.9);
	overflow: hidden;
	padding:0.31em 0.34em;
	display: inline-block;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}
.area_box .current_areat_button .name{
	color: #fff;
	float: left;
	font-size: 0.68em;
	padding-right:0.3em;
}
.area_box .current_areat_button .arrow_right{
	float: right;
	width:0.4375em;
	height:0.4375em;
	background: url("../images/city.png")  0 0 no-repeat;
	background-size:100% auto;
	-moz-background-size:100% auto;
	-webkit-background-size:100% auto;
	margin-top:0.38em;
}
.area_box .area_select_box{
	position: fixed;
	top:0;
	left: 110%;
	height: 100%;
	width: 100%;
	background: #f8f8f8;
	padding-bottom:0.3em;	
	-webkit-transition: left 0.5s;
	-moz-transition: left 0.5s;
	transition: left 0.5s;
	z-index: 999;
	overflow: auto;
}
.area_box_active .area_select_box{
	left: 0;
}
.area_box .area_select_box .title{
	position: relative;
}
.area_box .area_select_box .title h1{
	text-align: left;
	color: #333;
	font-size: 1em;
	font-weight: normal;
	padding:0.9em 0 0.6em 0.5em;
	border-bottom: 1px solid #e9e9e9;
}
.area_box .area_select_box h2{
	background: #f1f1f1;
	color: #121212;
	font-size: 0.9em;
	padding:0.5em 0.7em;
	font-weight: normal;
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	margin-top:-1px;
	font-family:Arial,"STHeiti","黑体-简","黑体","Microsoft Yahei"!important;
}
.area_box .area_select_box .title p{
	text-align: left;
	color: #121212;
	font-size: 0.75em;
	padding:0.7em 0.7em;
}
.area_box .area_select_box ul{
	margin:0;
	overflow: hidden;
}
.area_box .area_select_box ul li{
	float: left;
	width:33%;
	border-bottom: 1px solid #e9e9e9;
}
.area_box .area_select_box ul li:nth-child(3n){
	border-right: none;
	width:34%;
}
.area_box .area_select_box ul li a{
	border-right: 1px solid #e9e9e9;
	display: block;
	padding:0.62em 0.3em;
	text-align: center;
	color:#121212;
	border-left:1px solid #f8f8f8;
	border-top:1px solid #f8f8f8;
	border-bottom:1px solid #f8f8f8;
}
.area_box .area_select_box ul li:nth-child(3n) a{
	border-right: none;
}
.area_box .area_select_box ul li a span{
	font-size:0.87em;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.area_box .area_select_box ul li a.active{
	background: rgb(255, 226, 223);
	border: 1px solid rgb(255, 146, 146)
}
.area_box .area_select_box .btn_close{
	background: url(../images/close2.png") right center no-repeat;
	height: 1.2em;
	width:2em;
	background-size:auto 100%;
	-moz-background-size:auto 100%;
	-webkit-background-size:auto 100%;
	display: block;
	position: absolute;
	right:0.7em;
	top:0.6em;
}

/* shake area */
#ruleLink {position: absolute;top:1em;font-size:0.8em;right: 1em;z-index: 20;color:#fff;}
.shake_area {
	padding-top:1em;
	padding-bottom:2em;
	background: #e4432d url("../images/top_bg.jpg") center no-repeat;
	background-size: 100% auto;
	-moz-background-size: 100% auto;
	-webkit-background-size: 100% auto;
}
.shake_area .title{
	width: 72%;
	margin: auto;
	margin-top:0.5em;
}
.shake_area_title_box{
	min-height: 3em;
}
.shake_area .title_text{
	background: url("") center 0 no-repeat;
	-moz-background-size: auto 100%;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	width: 18.125em;
	height: 5.5em;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 0.5em;
	margin-top: -1em;
}
.shake_area .title_text span{
	display: inline-block;
	font-size: 1.2em;
	font-weight: bolder;
	color:#fff;
	margin-top: 2.35em;
	-moz-transform: rotate(-3.5deg);
	-webkit-transform: rotate(-3.5deg);
	transform: rotate(-3.5deg);
	text-shadow: 0px 0px 2px #af4000;
}
.shake_area .bg {width: 100%;position: relative;z-index: 0;}
.shake_area .bg.circle {position:absolute;top:0;left:0;z-index: 80;}
.shake_box {width: 59.47%;position:relative;top:0;left: 20.27%;z-index: 10;}
.shake_box .bg {z-index: 20}

.shake_box .step_1 {width: 100%;height: 100%;position: absolute;top:0;left:0;z-index: 15;overflow: hidden;background:rgb(205,57,36);background-size:20em 19.413em;border:2px solid rgb(253,88,66);-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;-webkit-backface-visibility: hidden;
	display: none;
}
.dots {
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 100;
}
.dots.highlight {
	display: none;
}
.inside {width:89%;height: 89%;position: absolute;top:6.05%;left:6.05%;z-index: 61;-moz-border-radius:999px;-webkit-border-radius: 999px;border-radius: 999px;overflow: hidden;}
.inside .mid {position:static;width: 100%;height: 100%;overflow: hidden;}
.inside .gesture {width: 100%;height: 100%;position: absolute;left: 0;bottom: -2%;z-index: -1;}
.inside .door_l, .inside .door_r {width:0;height: 100%;background: #cd3924;position: static;display:none;}
.inside .door_l {border-right: 1px solid rgb(174,48,36);-moz-border-radius: 999px 0 0 999px;-webkit-border-radius: 999px 0 0 999px;border-radius: 999px 0 0 999px;}
.inside .door_r {border-left: 1px solid rgb(174,48,36);float:right;-moz-border-radius: 0 999px 999px 0;-webkit-border-radius: 0 999px 999px 0;border-radius:0 999px 999px 0;}

/**/
.list_box{
	margin-bottom: 0.5em;
	position: relative;
	z-index: 999;
	background: #ffe8c9;
}
.list_box > img{
	width: 100%;
}
.list_box .content{
	margin:0 auto;
}
.list_box .bottom{
	width:87.5%;
	margin:0 auto;
}
.list_box .bottom > img{
	width: 100%;
}
.winner_list_box{
	background: #ffddb1 url("../images/tell.png") 3% center no-repeat;
	padding: 0 4% 0 9%;
	background-size: auto 50%;
	-moz-background-size: auto 50%;
	-webkit-background-size: auto 50%;
}
.winner_list{
	overflow: hidden;
	padding:0.6em 0 1.6em 0;
	height:1.4em;
}
.winner_list .winner_list_content{
	width: 7000%;
}
.winner_list .winner_list_content ul{
	float: left;
}
.winner_list ul li{
	float: left;
	margin-right:0.7em;
	font-size: 0.75em;
	color: #666666;
}
.winner_list ul li span{
	font-size: 1em;
	color: #ff4941;
}
.winner_list ul li b span{
	font-size: 0.75em;
}
.line{
	width: 97%;
	margin: 0 auto;
	height:0.3125em;
	background: url("../images/line.png") 0.15em 0 repeat-x;
	background-size:auto 100%;
	-moz-background-size:auto 100%;
	-webkit-background-size:auto 100%;
}

.product_list h2{
	color: #5f5952;
	font-size: 0.75em;
	padding:1.28em 4% 0.68em 3%;
	font-weight: bold;
	border-bottom: 1px solid rgb(249,220,182);
}
.product_list h2 #my_prize{
	height: 1.1em;
	line-height: 1.1em;
	padding-left:1.3em;
	font-size: 1em;
	float: right;
	margin-top:0.1em;
	color: #fe1611;
}
.product_list li{
	padding:0.84em 4%;
	border-bottom: 1px solid rgb(249,220,182);
	overflow: hidden;
}
.product_list li:last-child{
	border-bottom: none;
}
.product_list .img{
	width:5.34em;
	height: 3.56em;
	overflow: hidden;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	float: left;
	border:1px solid #efc49f;
	overflow: hidden;
}
.product_list .img img{
	width:5.34em;
	height: 3.56em;
}
.product_list .info{
	margin:0 0 0 5.7em;
	width: auto;
}
.product_list .info h3{
	font-size: 0.8em;
	color: #161414;	
}
.product_list .info h4{
	font-size: 0.7em;
	color: #5f5952;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	padding:0.3em 0 0.3em 0;
}
.product_list .info h4 span{
	font-size: 1em;
}
.product_list .info p{
	color: #5f5952;
	font-size: 0.7em;
	text-align: right;
}
.product_list .info p span{
	font-size: 1em;
	float: left;
}
.product_list .info p span span.red{
	color: #f5433b;
}
.product_list .info p span span.prise{
	font-size: 1.125rem !important;
	font-weight: bold;
	float: none;
}
.product_list .info p b{
	font-weight: normal;
	font-size: 1em;
	display: block;
	height: 1em;
}
.product_list_loading{
	font-size: 0.7em;
	text-align: center;
	padding:0.6em 0;
	color: #777;
}
.product_list_info{
	font-size: 0.7em;
	text-align: center;
	padding:0.6em 0;
	border-top:1px solid rgb(249,220,182);
	color: #777;
}

/**/
.active_rule_box{
	width: 82%;
	left:9%;
	bottom: 9%;
	position: fixed;
	top:6.25em;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	overflow: auto;
	z-index: 999999;

}
.active_rule_box .title{
	background: #f03425;
	padding:0.87em;
	position: relative;
	text-align: center;
}
.active_rule_box .title h2{
	color:#fff;
	font-weight: normal;
}
.active_rule_box .close{
	background: url("../images/close2.png") right center no-repeat;
	height: 1.2em;
	width:2em;
	background-size:auto 100%;
	-moz-background-size:auto 100%;
	-webkit-background-size:auto 100%;
	display: block;
	position: absolute;
	right:0.7em;
	top:0.6em;
}
.active_rule_box .content{
	padding:1.2em 1em;
	background: #fff;
}
.active_rule_box .content p{
	overflow: hidden;	
	color: #808080;
}
.active_rule_box .content p span{
	line-height: 2em;
	font-size: 0.81em;
}
.active_rule_box .content p span.name{
	float: left;
}
.active_rule_box .content p span.info{
	margin-left:1em;
	display: block;
}
.active_rule_box .content p span.info span{
	font-size: 1em;
}
/**/

.init_loading{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height: 100%;
	text-align: center;
	padding-top:15%;
	background: rgba(0,0,0,0.9);
	color: #fff;
	z-index: 999999;
}

iframe{
	width:100%;
	min-height:102%;
	position: fixed;
	top:0;
	left:101%;
	border:none;
	transition: left 0.5s;
	-moz-transition: left 0.5s;
	-webkit-transition: left 0.5s;
}


.alert_error_box{
	position:fixed;
	width:100%;
	height:100%;
	background: #f4f4f4;
	top:0;
	left:0;
	z-index:9999;
}
.alert_error_box .imgs{
	width: 23.9%;
	margin:4.2em auto 2.56em auto;
}
.alert_error_box .imgs img{
	width: 100%;
}
.alert_error_box .info{
	font-size: 0.9em;
	color: #7d7d7d;
	text-align: center;
	padding:0 2em;
}
.alert_error_box .buttonDefault{
	width: 60%;
	margin: 2em auto;
	background: #ddd;
	color:#555;
}

/**/
.prodoct_box{
	background: rgba(241,138,46, 0.9);
	overflow: hidden;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	z-index: 1112;
}
.prodoct_box dt{
	float: left;
	padding:0.4em 0.375em 0.4em 0.5625em;
}
.prodoct_box dt img{
	width: 2.875em;
	height: 1.8125em;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	border-radius: 0.2em;
}
.prodoct_box dd{
	margin: 0.4em 0 0 3em;
}
.prodoct_box dd h2,
.prodoct_box dd p{
	color: #ffedf0;
	font-weight: normal;
	font-size: 0.7em;
	margin-right:1.5em;
	line-height: 1.1em;
}
.prodoct_box dd h2{
	padding-top: 0.2em;
}
.prodoct_box dd p *{
	font-size: 1em;
}
.prodoct_box dd p span{
	display: inline-block;
	float: left;
}
.prodoct_box dd p span.name{
	max-width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	margin-right: 1em;
}
.prodoct_box dd .close{
	background: url("../images/close2.png") right center no-repeat;
	height: 1.2em;
	width:2em;
	background-size:auto 100%;
	-moz-background-size:auto 100%;
	-webkit-background-size:auto 100%;
	display: block;
	float: right;
	margin:0.25em 0.5em 0 0;
}

.step_1.animation {
	display: block;
	animation:animation_1 0.6s linear 1 normal;
	-moz-animation:animation_1 0.6s linear 1 normal;
	-webkit-animation:animation_1 0.6s linear 1 normal;
	-o-animation:animation_1 0.6s linear 1 normal;
}
.inside .gesture.animation {
	-moz-transform-origin: 60% bottom;
    -webkit-transform-origin: 60% bottom;
    -o-transform-origin: 60% bottom;
    -ms-transform-origin: 60% bottom;
    transform-origin: 60% bottom;

	animation:animation_2 0.3s ease-in-out infinite alternate;
	-moz-animation:animation_2 0.3s ease-in-out infinite alternate;
	-webkit-animation:animation_2 0.3s ease-in-out infinite alternate;
	-o-animation:animation_2 0.3s ease-in-out infinite alternate;
}

/*-- light rotate --*/
@keyframes lightRotate {
	0% {
		transform: rotate(0deg);
	}
	8% {
		transform: rotate(15deg);
	}
	16% {
		transform: rotate(30deg);
	}
	25% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes lightRotate {
	0% {
		transform: rotate(0deg);
	}
	8% {
		transform: rotate(15deg);
	}
	16% {
		transform: rotate(30deg);
	}
	25% {
		transform: rotate(45deg);
	}
}

/*----*/
@keyframes animation_1 {
	from {
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
	50% {
		width:300%;
		height:300%;
		left:-100%;
		top:-100%;
	}
	to {
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
}
@-moz-keyframes animation_1 {
	from {
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
	50% {
		width:300%;
		height:300%;
		left:-100%;
		top:-100%;
	}
	to {
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
}
@-webkit-keyframes animation_1 {
	from {
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
	50% {
		width:300%;
		height:300%;
		left:-100%;
		top:-100%;
	}
	to {
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
}
@-o-keyframes animation_1 {
	from {
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
	50% {
		width:300%;
		height:300%;
		left:-100%;
		top:-100%;
	}
	to {
		width:100%;
		height:100%;
		left:0;
		top:0;
	}
}

@keyframes animation_2 {
	from {
		-moz-transform: rotate(3deg);
   		-webkit-transform: rotate(3deg);
	   	-o-transform: rotate(3deg);
	   	-ms-transform: rotate(3deg);
	   	transform: rotate(3deg);
	}
	to {
		-moz-transform: rotate(-3deg);
   		-webkit-transform: rotate(-3deg);
	   	-o-transform: rotate(-3deg);
	   	-ms-transform: rotate(-3deg);
	   	transform: rotate(-3deg);
	}
}
@-moz-keyframes animation_2 {
	from {
		-moz-transform: rotate(3deg);
   		-webkit-transform: rotate(3deg);
	   	-o-transform: rotate(3deg);
	   	-ms-transform: rotate(3deg);
	   	transform: rotate(3deg);
	}
	to {
		-moz-transform: rotate(-3deg);
   		-webkit-transform: rotate(-3deg);
	   	-o-transform: rotate(-3deg);
	   	-ms-transform: rotate(-3deg);
	   	transform: rotate(-3deg);
	}
}
@-webkit-keyframes animation_2 {
	from {
		-moz-transform: rotate(3deg);
   		-webkit-transform: rotate(3deg);
	   	-o-transform: rotate(3deg);
	   	-ms-transform: rotate(3deg);
	   	transform: rotate(3deg);
	}
	to {
		-moz-transform: rotate(-3deg);
   		-webkit-transform: rotate(-3deg);
	   	-o-transform: rotate(-3deg);
	   	-ms-transform: rotate(-3deg);
	   	transform: rotate(-3deg);
	}
}
@-o-keyframes animation_2 {
	from {
		-moz-transform: rotate(3deg);
   		-webkit-transform: rotate(3deg);
	   	-o-transform: rotate(3deg);
	   	-ms-transform: rotate(3deg);
	   	transform: rotate(3deg);
	}
	to {
		-moz-transform: rotate(-3deg);
   		-webkit-transform: rotate(-3deg);
	   	-o-transform: rotate(-3deg);
	   	-ms-transform: rotate(-3deg);
	   	transform: rotate(-3deg);
	}
}


.shake_btn {
	width:100%;
	text-align: center;
	margin-top:1.3em;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.shake_start {
	display: inline-block;
	width: 10.21em;
	height: 2.56em;
	background: url(../images/btn_shake.png) center center no-repeat;
	background-size:100% 100%;
	line-height: 2.533em;
	color:#a52411;
	font-size: 0.9em;
	font-weight: bold;
}
.shake_start.disabled {
	
}
.shake_tip {
	width:100%;
	text-align: center;
	position: absolute;
	left: 0;
	top:87.29%;
	z-index: 5;
	color:#6b150a;
	font-size: 0.8125em;
}