/**
 * 
 * @authors tianyanrong
 * @date    2014-12-22
 * @version 
 */
.loading {
	overflow:hidden; 
	width: 100%; 
	max-width: 640px; 
	height: 100%; 
	margin: 0 auto;  
	background: rgba(0,0,0,0.7);
	z-index: 9999999;
	position: absolute;
	top: 0;
	left: 0;
}
.loading center {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -24px;
	width: 100%;
}
.loading var, .loading sub {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto;
	overflow: hidden;
	color: #fff;
	line-height: 48px;
}
.loading sub {
	-webkit-animation: loadAN 1s infinite linear;
	margin-top: -48px;
	background: url('../images/loading.png') no-repeat;
	background-size: 100% auto;
}
.loading p{
	color: #fff;
	font-size: 0.8em;
	padding:0.8em;
	text-align: center;
}
@-webkit-keyframes loadAN{
	0%{ -webkit-transform: rotate(0);}
	100%{ -webkit-transform: rotate(360deg);}
}