<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$school['title']}</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<link type="text/css" rel="stylesheet" href="{OSSURL}public/mobile/css/mPageDelete.css?v=4.8" />
<link type="text/css" rel="stylesheet" href="{OSSURL}public/mobile/css/greenStyle.css?v=4.80120" />
<script type="text/javascript" src="{MODULE_URL}public/mobile/js/jquery-1.11.3.min.js?v=4.8"></script>
<script type="text/javascript" src="{OSSURL}public/mobile/js/PromptBoxUtil.js?v=5.00311"></script>
<script type="text/javascript" src="{OSSURL}public/mobile/js/zuoyelist.js?v=4.8"></script>
{php echo register_jssdk();}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<div class="all" style="padding-bottom:55px;">	  
	<div class="header mainColor">
		<div class="l"><a class="backOff" style="background:url({OSSURL}public/mobile/img/ic_arrow_left_48px_white.svg) no-repeat;background-size: 55% 55%;background-position: 50%;" href="javascript:history.go(-1);"></a></div>
		<div class="m">
		      <span style="font-size: 18px">通知</span>   
		</div>
		<div id="headerMenu" class="r">
		</div>		
	</div>
	<div class="_header"></div>
	    <div class="dataList" id="dataList">	
		</div>
	</div>
</body>
{php include $this->template('footer');}
<script type="text/javascript">
var listurl = "{php echo $this->createMobileUrl('snoticelist', array('schoolid' => $schoolid, 'getalist' => 1 ))}";
var xqurl = "{php echo $this->createMobileUrl('snotice', array('schoolid' => $schoolid))}";
var PB = new PromptBox();
WeixinJSHideAllNonBaseMenuItem();
/**微信隐藏工具条**/
function WeixinJSHideAllNonBaseMenuItem(){
	if (typeof wx != "undefined"){
		wx.ready(function () {
			
			wx.hideAllNonBaseMenuItem();
		});
	}
}
</script>
</html>