{template 'common/header'}
<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('tool')}">汽车实用工具管理</a></li>
</ul>
<style>
    .table td span{display:inline-block;}
    .table td input{margin-bottom:0;}
</style>
 
<form action="" method="post">
    <div class="main panel panel-default">
        <div class="panel panel-body table-responsive">
            <table class="table table-hover">
                <thead class="navbar-inner">
                    <tr>
                        <th>服务名称</th>
                        <th >功能说明</th>
                        <th >状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>保险计算</td>
                        <td>计算车辆保险</td>
                        <td>
							<div class="make-switch" data-on-label="启用" data-off-label="停用">
                                <input type="checkbox" value="1" {if $toolsArr['1']} checked="checked" {/if} />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>车贷计算</td>
                        <td>车辆贷款计算</td>
                        <td>
                            <div class="make-switch" data-on-label="启用" data-off-label="停用">
                                <input type="checkbox" value="2" {if $toolsArr['2']} checked="checked" {/if} />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>全款计算</td>
                        <td>全款计算</td>
                        <td>
                            <div class="make-switch" data-on-label="启用" data-off-label="停用">
                                <input type="checkbox" value="3" {if $toolsArr['3']} checked="checked" {/if} />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>车型比较</td>
                        <td>车型比较</td>
                        <td>
                            <div class="make-switch" data-on-label="启用" data-off-label="停用">
                                <input type="checkbox" value="4" {if $toolsArr['4']} checked="checked" {/if} />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>违章查询</td>
                        <td>"违章查询"</td>
                        <td>
                            <div class="make-switch" data-on-label="启用" data-off-label="停用">
                                <input type="checkbox" value="5" {if $toolsArr['5']} checked="checked" {/if} />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<script type="text/javascript">
	require(['bootstrap.switch'], function($){
		$(function(){
			$(':checkbox').bootstrapSwitch();
			$(':checkbox').on('switchChange.bootstrapSwitch', function(e, state){
				var tools = [];
				$('div.make-switch :checkbox:checked').each(function() {
					tools.push($(this).val());
				});
				$.post(location.href, {'tools': tools.toString(), 'op': 'save'}, function(dat) {

				});
			});
		});
	});
</script>
{template 'common/footer'}
