{php $rand = random(16)}
<tr class='item_item'>
    <td  valign="top">
        {php echo tpl_form_field_image('item_thumb_'.$rand,$item['thumb'])}
    </td>
    <td valign="top"><input  name="item_score_{$rand}" type="text" class="form-control score" value="{$item['score']}"/></td>
    <td valign="top"><input  name="item_rate_{$rand}" type="text" class="form-control rate" value="{$item['rate']}"/></td>
    <td>
        <input  name="item_id[{$rand}]" type="hidden" class="form-control span3" value="{$rand}"/>
        <a class="btn btn-default" href='javascript:;' onclick='removeItem(this)'><i class='icon icon-remove fa fa-times'></i> 删除</a>
    </td>
</tr>