.tfm .c, .tfm .tedt, .m_c .tfm .tedt{width:100%;}
#ct{ background-color:#F9F2E2; margin-bottom:10px;}
.bm_c{padding:5px 0px 10px;}
* html #toptb{ position: absolute; bottom: auto; top: expression(eval(document.documentElement.scrollTop)); left:0px; right:0;}
.rs_main{display:none;}
/*搜索样式*/

.bmw .bm_h a {
    color: #2D9B5E;
	font-weight:bold;
	font-size:21px;
	line-height:38px;
	text-decoration:none;
	
}
.fl { border:none;}
#nv li.a { background:#7E7E7E; color:#FFFFFF;}
#nv li.a a {
    color: #ffffff;
}
.navee li{ height:23px; line-height:23px; margin:5px 0;}
.navee li.a{ background:#7E7E7E; border-radius:5px; }
.navee li a:hover{ background:#7E7E7E; border-radius:5px; color: #333333; }
.navee li a { text-decoration:none;padding:0px 8px; }
.titeldownlist{ border: 1px solid; width:39px; text-align:center; float:left; border-color:#B5C9C0; background:#FFFFFF;}
.titeldownlist li:hover,.titeldownlist li a:hover{ display:inline; width:38px; padding-left:0px; background:#F0F6F3;}
.titeldownlist li a{ font-size:12px; width:38px; position:relative; margin-left:0px; color:#999999;}



/*论坛内容右边样式*/
.right_content {
    float: right;
    margin-left: 10px;
    width: 265px;
	margin-top:8px;
}
.tophot {
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    width: 100%;
}
.tophot .titlebox {
    
    height: 25px;
    line-height: 25px;
    text-align: left;
    text-indent: 17px;
    width: 100%;
	color: #007722;
    font: 15px/150% Arial,Helvetica,sans-serif;
    
}

.tophot .hotitem li {
    
    height: 35px;
    line-height: 28px;
    overflow: hidden;
    
}
.hotuseritem li {
    height: 30px;
    line-height: 30px;
    margin: 10px 0 0;
}
.hotuseritem li .fr {
    color: #878787;
}
.hotuseritem li img {
    margin: 0 5px 0 0;
}
.tophot .hotitem li.last {
    border-bottom: 1px dashed #FFFFFF;
    text-indent: 8px;
}
.tophot .hotitem li span {
    color: #FA7300;
}
.tophot .hotitem li a {
    color: #363636;
    font-size: 12px;
}
/*论坛N格样式*/
.header_image {
    height: 259px;
    margin-top: 17px;
    position: relative;
    width: 100%;
}
.header_image .lefthead {
    
    left: 0;
    position: absolute;
    top: 0;
    width: 162px;
}
.header_image .lefthead .imageitem .imagetitle {
    background: none repeat scroll 0 0 #333333;
    bottom: 0;
    display: none;
    height: 30px;
    left: 0;
    line-height: 30px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 100%;
}
.header_image a {
    color: #FFFFFF;
}
.header_image .lefthead .imageitem img {
    height: 259px;
    width: 162px;
}
.header_image .righthead {
    
    
    left: 818px;
    position: absolute;
    top: 0;
    width: 162px;
}
.header_image .righthead .imageitem .imagetitle {
    background: none repeat scroll 0 0 #333333;
    bottom: 0;
    display: none;
    height: 30px;
    left: 0;
    line-height: 30px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 100%;
}
.header_image .righthead .imageitem img {
    height: 259px;
    width: 162px;
}
.header_image .leftole {
    left: 171px;
    position: absolute;
    top: 0;
    width: 165px;
}
.header_image .leftole .imageitem {
    background: none repeat scroll 0 0 #CCCCCC;
    display: inline;
    float: left;
    height: 125px;
    margin-bottom: 9px;
    margin-right: 10px;
    position: relative;
    width: 162px;
}
.header_image .leftole .imageitem img {
    height: 125px;
    width: 162px;
}
.header_image .leftole .imageitem .imagetitle {
    background: none repeat scroll 0 0 #333333;
    bottom: 0;
    display: none;
    height: 30px;
    left: 0;
    line-height: 30px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 100%;
}
.header_image .leftole .imageitem .imagetitle a {
    color: #FFFFFF;
}
.header_image .centerole {
    height: 260px;
    left: 342px;
    position: absolute;
    top: 0;
    width: 296px;
}
.header_image .centerole .imageitem {
    display: block;
    height: 260px;
    position: relative;
    width: 296px;
}
.header_image .centerole .imageitem img {
    height: 259px;
    width: 296px;
}
.header_image .centerole .imageitem .imagetitle {
    background: none repeat scroll 0 0 #333333;
    bottom: 0;
    display: none;
    height: 30px;
    left: 0;
    line-height: 30px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 100%;
}
.header_image .centerole .imageitem .imagetitle a {
    color: #FFFFFF;
}
.header_image .rightole {
    height: 260px;
    left: 647px;
    position: absolute;
    top: 0;
    width: 154px;
}
.header_image .rightole .imageitem {
    background: none repeat scroll 0 0 #CCCCCC;
    display: inline;
    float: left;
    height: 125px;
    margin-bottom: 9px;
    position: relative;
    width: 162px;
}
.header_image .rightole .imageitem img {
    height: 125px;
    width: 162px;
}
.header_image .rightole .imageitem .imagetitle {
    background: none repeat scroll 0 0 #333333;
    bottom: 0;
    display: none;
    height: 30px;
    left: 0;
    line-height: 30px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 100%;
}
.header_image .rightole .imageitem .imagetitle a {
    color: #FFFFFF;
}

.imageitem .titlename:hover .imagetitle{
	display:block;}
#announcement { 
    
	height:24px;
    overflow: hidden; 
	display:block;
} 	
#announcement div{
    background: url("/template/012keji/imagess/laba.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
    overflow: hidden;
    padding-left: 30px;
}
#announcement div a {
    color: #818180;
    display: block;
    height: 20px;
    line-height: 20px;
    
}
#announcement li { 
    height: 20px;
    float: left; 
    list-style-type: none; 
    width:100%;
} 
#announcement a { 
    text-decoration: none; 
} 
#announcement a:hover { 
    text-decoration:none; 
} 
/*列表页样式*/
.forum_title {
    color: #118F48;
    font-family: '黑体';
    font-size: 26px;
    font-weight: bold;
    margin-top: 6px;
}
.forum_info {
	margin-top: 15px; background: none repeat scroll 0 0 #F2F2F2;
    padding: 18px;
}
.forum_info .forum_icon {
    float: left;
    height: 50px;
    margin: 0 10px 10px 0;
    width: 50px;
}
.forum_info .forumname{color:#FA7300}
.forumname a {color:#FA7300}
.furumusername{ line-height: 19px;}
.ttp {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border:none;
	margin-top:20px;
    margin-bottom: 5px;
    padding-top: 10px;
}
.ttp a, .ttp strong {
    background: none repeat scroll 0 0 #F2F2F2;
    border: none;
    float: left;
    height: 18px;
    margin-right: 5px;
    padding: 4px 8px 3px;
    white-space: nowrap;
}
.ttp a:hover {
    border-color: #336699;
    color: #336699;
    text-decoration: none;
}
.ttp .a a {
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: none;
    color: #333333;
    padding-left: 0px;
    padding-right: 12px;
	font-weight:100;
}
.ttp .pipe {
    background: none repeat scroll 0 0 #C2D5E3;
    float: left;
    height: 27px;
    margin-right: 10px;
    padding: 0;
    text-indent: -9999px;
    width: 2px;
}
.cc:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.content_nav {
    display: block;
    height: 30px;
    padding: 10px 0 0;
}
.content_nav li {
    float: left;
}
.content_nav li a {
    border-bottom: 0 none;
    color: #464646;
    display: block;
    float: left;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 17px;
    text-decoration: none;
}

.content_nav li a:hover {
    background: none repeat scroll 0 0 #F7F7F7;
    text-decoration: none;
}
.content_nav li.current a, .content_nav li.current a:hover {
    color: #128D4A;
}
.post_thread {
    background: none repeat scroll 0 0 #FA7300;
    display: block;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 60px;
	float:right;
}
.post_thread a {
    color: #FFFFFF;
    display: block;
    height: 24px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    width: 60px;
}
.post_thread a:hover {
    text-decoration: none;
}

.threadlist .reply{  
	color: #878787;
    text-align: center;
    width: 70px;}



<!--列表页右侧内容样式-->
.rightole{ width:300px;
}
.right_wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}
.righttitle {
    color: #118F48;
    font-size: 14px;
}
.cgreen {
    color: #118F48;
}
.corange {
    color: #FA7300;
}
.backforumindex {
    background: url("/template/012keji/imagess/threadbac.jpg") no-repeat;
    font-size: 12px;
    height: 20px;
    margin: 44px 0 0;
    padding-left: 25px;
	font-size: 14px;
	color:#484848;
}
	

#visitedforums_menu{
    width: 84px;
}
#visitedforums_menu td{ padding:0px;}
#v_forums{ background-image:none; background-color:#ffffff;}
#v_forums h3{ border-color:#FF3333;font-size:12px; font-weight:100px; line-height:25px;}
#v_forums li{ padding-left:0px; background:none;}
#v_forums li:hover{background:#F0F6F3}
#v_forums li a{ text-decoration:none; }
.backforumindex a {
    color: #484848;
    height: 20px;
    line-height: 20px;
	text-decoration:none;
}
.J_page_wrap {
    float: none;
}
.thread_posts_list {
}
.main_content {
    min-height: 1700px;
}
#yuece_ad1{
    height: 250px;
    width: 100%;
	overflow:hidden;
}
.dotlist li {
    border-bottom: 1px dashed #E1E1E3;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 265px;
}
.dotlist li a {
    color: #010101;
}
.dotlist li .name {
    color: #878787;
}

.hothd {
    margin-bottom: 25px;
    padding-left: 60px;
    position: relative;
	float:left;
}
.hothd img {
    height: 50px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 50px;
}
.hothd .hdtitle {
    color: #000000;
    display: block;
    font-size: 12px;
    line-height: 20px;
}
.hothd .jj {
    color: #878787;
    font-size: 12px;
    line-height: 22px;
}
.hotdp {
    margin-bottom: 25px;
    padding-left: 60px;
    position: relative;
}
.hotdp img {
    height: 50px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 50px;
}
.hotdp .hdtitle {
    color: #000000;
    display: block;
    font-size: 12px;
    line-height: 20px;
}
.hotdp .jj {
    color: #878787;
    font-size: 12px;
    line-height: 22px;
}
#yuece_ad2 img{ width:265px; height:250px; overflow:hidden;}

/*贴子内容页样式*/
.left_wrap {
    height: auto !important;
    min-height: 1200px;
    width: 600px;
	float:left;
}
.right_wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 265px;
}
.authi a{ text-decoration:none; font-size:12px;}
.fk_namebar{
	
    height: 20px;
    line-height: 20px;
    margin-bottom: 12px;
    padding: 0 8px 0 3px;}
.replyorder{ float:right; position:relative;}
.replyorder a{  color:#878787; font-size:12px; cursor:pointer; text-decoration:none; font-weight:100;}
.none a{ color:#878787; font-size:12px;}
.editor_content{ 
	font-size: 14px;
    line-height: 1.8;
    vertical-align: bottom;
	font-weight: normal;
	}
	.editor_content img{ 
	
	overflow:hidden;
	width: expression(this.width > 530 ? '530px': true); max-width: 530px;
	
	
	}

/*列表页*/
.pthread { background:#FFFFFF; border-radius:6px; text-align:left; padding:20px; margin-bottom:15px;}
.bg{ background:#F9F2E2; height:10px;}
.pt_title { height:30px; line-height:30px; margin:0 0 10px 0; overflow:hidden; font-size:14px;}
.pt_title img{
    height: 24px;
    vertical-align: middle;
    width: 24px;
}
.pt_title .a2 { margin:0 6px 0 0; color:#B69E88;}

.pt_mess { font-size:14px; line-height:150%;}
.pt_mess img { margin:10px 0 0 0;}

.pt_info { height:20px; line-height:20px; margin:10px 0; width:670px; position:relative; overflow:hidden; font-size:14px;}
.pt_info a { display:block; float:left; margin:0 20px 0 0; cursor:pointer; color:#777;}
.pt_info i { display:none;}
.pt_info .pt_up { padding:0 0 0 15px; background:url(../pup.gif) 0 center no-repeat;}
.pt_info .pt_down { padding:0 0 0 15px; background:url(../pdown.gif) 0 center no-repeat;}
.pt_info .pt_num { position:absolute; top:0px; right:-10px; }

.pt_replay { width:660px; padding:20px 0 0 0; background:url(../pt_replay.gif) 0 0 no-repeat;}
    .pt_replay_none { width:660px; padding:0 0 0 0; background:none;}
.pt_replay img { width:18px; height:18px; }
.pt_replay table { width:640px; margin:0 0 0 20px; }
.pt_replay td { vertical-align:top;}
.pt_replay p {  width:640px; margin: 0 0 7px 20px; border-bottom:1px solid #E3E3E3; height:5px; overflow:hidden;}
.pt_r_num { text-align:center; color:#CCC;}
.pt_r_mes { color:#666;}
.pt_r_mes a { margin-right:10px;}

.pcb{ margin-top:0px;*margin-top:-20px;}
.pls .avatar img {
    
    *padding:20px 0px 20px 5px;
    
	
}
