/*共用元素*/
.wrapper {
    margin: 0 auto;
    width: 980px;
}
ul, ol {
    list-style: none outside none;
	
	
}
#anony-movie .movie-charts li {
    border-bottom: 1px solid #EAEAEA;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 6px;
    padding-bottom: 5px;
}

#wp #anony-movie,#wp #anony-music{
    background: none repeat scroll 0 0 #F7F7F7;
    padding: 40px 0 20px;
	
}
.wp #pt{width:980px; margin:0 auto;}
.list li {
    display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    
    text-align: center;
    vertical-align: top;
    width: 24.8%;
    word-spacing: normal;
}
.list .pic {
    margin-bottom: 10px;
}
.list .title {
    font-size: 13px;
    line-height: 1.45;
    margin-bottom: 4px;
    word-wrap: break-word;
}
.list1 li {
    margin-bottom: 8px;
    padding-bottom: 8px;
}
/*注册*/
#anony-reg {
    background: none repeat scroll 0 0 #E8EDF1;
    
}
#anony-reg .wrapper {
    overflow: hidden;
    padding: 20px 0 10px;
}
#anony-reg .login {
    float: right;
    font-size: 0;
    letter-spacing: -0.31em;
    text-align: right;
}
#anony-reg .login legend {
    display: none;
}
#anony-reg .login fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
#anony-reg .login .label {
    color: #CCCCCC;
    cursor: text;
    font-size: 13px;
    left: 8px;
    position: absolute;
    top: 7px;
    z-index: 1;
}
#anony-reg .login .item {
    margin-right: 4px;
    position: relative;
}
#anony-reg .login .item .opt {
    font-size: 12px;
}
#anony-reg .login .item, #anony-reg .login .item-submit {
    display: inline-block;
    font-size: 0;
    letter-spacing: normal;
    text-align: left;
    vertical-align: top;
    word-spacing: normal;
}
#anony-reg .login .item .inp {
    border: 0 none;
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 0;
    padding: 9px 8px;
    width: 142px;
	height:16px;
}
#anony-reg .login .bn-submit {
    background: none repeat scroll 0 0 #3BA354;
    border: 0 none;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 33px;
    padding: 0 24px;
	width:76px;
}
#anony-reg .login .bn-submit:hover {
    background-color: #1C9439;
}
#anony-reg .login .item-captcha img {
    height: 28px;
    width: 158px;
}
#anony-reg .lnk-reg:link, #anony-reg .lnk-reg:visited, #anony-reg .lnk-reg:hover, #anony-reg .lnk-reg:active {
    background: none repeat scroll 0 0 #EF7360;
    color: #FFFFFF;
    font-size: 14px;
}
#anony-reg .lnk-reg:hover, #anony-reg .lnk-reg:active {
    background: none repeat scroll 0 0 #ED6752;
    color: #FFFFFF;
    font-size: 14px;
}
#anony-reg .lnk-reg i {
    font-size: 12px;
}
#anony-reg .nb-info {
    color: #666666;
    display: inline-block;
    vertical-align: bottom;
}
#anony-reg .nb-info b {
    font-size: 16px;
    font-weight: normal;
    line-height: 2;
}
#anony-reg .wrapper {
    overflow: hidden;
    padding: 20px 0 10px;
}
#anony-reg .login {
    float: right;
    font-size: 0;
    letter-spacing: -0.31em;
    text-align: right;
	width:400px !important;
	width:408px;
}
#anony-reg .login .item-account,#anony-reg .login .item-passwd{ width:158px; float:left; display:inline;}
#anony-reg .login .item-submit{float:right;}
#anony-reg .login legend {
    display: none;
}
#anony-reg .login fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
#anony-reg .login .label {
    color: #CCCCCC;
    cursor: text;
    font-size: 13px;
    left: 8px;
    position: absolute;
    top: 7px;
    z-index: 1;
}
#anony-reg .login .item {
    margin-right: 4px;
    position: relative;
}
#anony-reg .login .item .opt {
    font-size: 12px;
}
#anony-reg .login .item, #anony-reg .login .item-submit {
    display: inline-block;
    font-size: 0;
    letter-spacing: normal;
    text-align: left;
    vertical-align: top;
    word-spacing: normal;
}

#anony-reg .login .bn-submit {
    background: none repeat scroll 0 0 #3BA354;
    border: 0 none;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 33px;
    padding: 0 24px;
}
#anony-reg .login .bn-submit:hover {
    background-color: #1C9439;
}
#anony-reg .login .item-captcha img {
    height: 28px;
    width: 158px;
}
#anony-reg .reg{ display:inline; overflow:hidden; height:35px; float:left; width:300px; padding-left:20px;}

#anony-sns .albums {
    color: #999999;
    float: left;
    margin-right: 20px;
	*margin-left:-10px;
	width: 360px !important;
	_width:360px;
	display:inline;
	
}
#anony-sns .albums .pic {
    display: inline-block;
    max-height: 170px;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    width: 170px;
}
#anony-sns .albums .pic img {
    width: 170px;
}
#anony-sns .albums ul {
    margin: -10px 0 0 -10px;
	
}
#anony-sns .albums li {
    display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    margin: 10px 0 0 10px;
    vertical-align: top;
    width: 170px;
    word-spacing: normal;
	text-align:center;
	float:left;
}
#anony-sns .albums img {
    display: inline-block;
    width:170px; height:170px;
}
#anony-sns .notes {
    color: #666666;
    overflow: hidden;
}
#anony-sns .notes p {
    margin: 0;
}
#anony-sns .notes .author {
    color: #999999;
}
#anony-sns .notes .first {
    margin-top: 0;
}
#anony-sns .notes li {
    margin-top: 12px;
    word-wrap: break-word;
}
#anony-sns .online ul {
    margin-top: -4px;
}
#anony-sns .online li {
    color: #999999;
    margin-top: 10px;
}
#anony-sns .online .title {
    line-height: 1.45;
    margin-bottom: 4px;
}

#anony-reg .lnk-reg {
    border-radius: 2px;
    display: inline-block;
    margin-right: 15px;
    padding: 7px 18px;
    vertical-align: top;
	float:left;
}


#anony-reg .login .item .opt {
    font-size: 12px;
}

/*新增*/

.login .uname { float:left;}
.login .uname a{ color:#FF0000;}


/*新增over*/




/*第一部分*/
#anony-sns{ margin-top:5px;}
.section {
    margin-bottom: 30px;
    min-height: 200px;
    padding: 10px 0;
}
.section .main {
    overflow: hidden;
}
.mod{ margin-bottom:12px;}
.main h2{
	color: #007722;
    font: 15px/150% Arial,Helvetica,sans-serif;
    margin: 0 0 12px;}
.section .side {
    float: right;
    margin-left: 30px;
    width: 265px;
}
.section .side h2 {
    color: #007722;
    font: 15px/150% Arial,Helvetica,sans-serif;
    margin: 0 0 12px;
}
.section .side pl {
    color: #666666;
    font: 12px/150% Arial,Helvetica,sans-serif;
}
.section a:link {
    color: #3377AA;
    text-decoration: none;
}
.section a:visited {
    color: #666699;
    text-decoration: none;
}
.section a:hover{
    background: none repeat scroll 0 0 #3377AA;
    color: #FFFFFF;
    text-decoration: none;
}
.online li{ margin-top:10px;color:#999999; text-decoration:none;}


.albums {
    float: left;
    margin-right: 30px;
    width: 350px;
	
}
.albums ul, .notes ul {
    margin: 0 0 0 -10px;
}
.albums li {
    width:170px;
	float:left;
	margin:10px 0 0 10px;
    font-size: 12px;
    
}
.albums .pic {
    width: 170px;
}
.albums .pic img {
    width: 170px;
	height:170px;
}
.notes{ float:left; width:300px; overflow:hidden;}
.notes .author{ color:#999999;}
.notes .first p{color:#666666}
.notes li{ margin-top:12px; word-wrap: break-word; margin-left:10px;}

/*电影*/

.section .sidenav {
    float: left;
    margin-right: 20px;
    width: 100px;
}
.section .side {
    float: right;
    margin-left: 30px;
    width: 265px;
	display:block;
}
#anony-movie .main {
    overflow: hidden;
	width:535px;
	
}
.section-title a:link, .section-title a:visited {
    font-size: 24px;
}
.side-links {
    margin-bottom: 40px;
}
.side-links li {
    font-size: 14px;
    margin-top: 5px;
    position: relative;
}

.rating {
    margin-bottom: 4px;
}
.rating i {
    color: #FF4400;
    margin-left: 4px;
}
.rating .txt-tip {
    margin-left: 4px;
}
.app-icon {
    background: url("/template/012keji/images/movie.jpg");
    border-radius: 10px;
    box-shadow: 1px 1px 2px #999999;
    display: inline-block;
    height: 50px;
    width: 50px;
}
.app-icon-movie {
    background-position: 0 0;
	
}
#anony-movie .apps-list a.lnk-icon:hover{ background:none;}
.pic a:hover{ background:#FFFFFF;}
.apps-list span{ margin-bottom:12px;}


#anony-movie .movielist li{
	display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: top;
    width: 24.8%;
    word-spacing: normal;
	width:133px; 
	margin-bottom:40px;
	float:left;
	}
#anony-movie .movielist .pic {
    height: 145px;
    overflow: hidden;
	
}
#anony-movie .movielist img {
    width: 100px; height:139px;
}
.bn-link {
    border-radius: 2px;
    display: inline-block;
    padding: 2px 10px;
    vertical-align: middle;
}

#anony-movie .bn-link:link, #anony-movie .bn-link:visited {
    background: none repeat scroll 0 0 #1C8BD0;
    color: #FFFFFF;
}
#anony-movie .bn-link:hover, #anony-movie .bn-link:active {
    background: none repeat scroll 0 0 #047FCB;
}

.tags{ margin-bottom:30px;}
.tags ul {
    margin-top: -4px;
}
.tags li {
    margin-top: 4px;
    text-align: left;
    width: 4em;
	display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    word-spacing: normal;
	float:left;
	margin-right:5px;
	display:block;

}
.list1 li {
    margin-bottom: 8px;
    padding-bottom: 8px;
	
}
.allstar35, .allstar40 {
    display: inline-block;
    height: 11px;
    margin: 0 3px 0 0;
    overflow: hidden;
    width: 55px;
	background:url("/template/012keji/images/midstars.gif");
	background-position:0 -22px;
}

/*热门东西*/
#anony-dongxi a:link, #anony-dongxi a:visited {
    color: #A06B51;
}
#anony-dongxi a:hover, #anony-dongxi a:active {
    color: #FFFFFF;
}
#anony-dongxi .section-title a:link, #anony-dongxi .section-title a:visited {
    color: #DE533C;
}
#anony-dongxi .section-title a:hover, #anony-dongxi .section-title a:active {
    color: #FFFFFF;
}
.articles-list{ margin:12px 0 1px 0;}

#anony-dongxi .shows-list ul{ margin:0 -20px 0 12px;}
#anony-dongxi .shows-list ul li {
    margin-bottom: 40px;
    margin-right: 40px;
    width: 150px;
	float:left;
	*margin-right: 28px;
	height:191px;
	overflow:hidden;
	
}
#anony-dongxi .shows-list ul li .pic {
    position: relative;
	width:150px;
	height:155px;
	overflow:hidden;
}
#anony-dongxi .shows-list ul li .pic .price {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #FFFFFF;
    padding: 3px 9px;
    position: absolute;
    right: 0;
}
#anony-dongxi .shows-list ul li .title {
    text-align: left;
}
#anony-dongxi .articles-list ul li {
    color: #666666;
    height: 80px;
    margin-top: 0;
    overflow: hidden;
    width: 100%;
}
#anony-dongxi .articles-list ul li.first {
    
}
#anony-dongxi .articles-list ul li .pic {
    float: left;
    height: 100%;
    width: 20%;
}
#anony-dongxi .articles-list ul li .pic a {
    height: 100%;
}
#anony-dongxi .articles-list ul li .pic a img {
    padding-top: 5px;
}
#anony-dongxi .articles-list ul li .content {
    float: left;
    height: 100%;
    margin-left: 5%;
    text-align: left;
    width: 75%;
}
#anony-dongxi .articles-list ul li .content a.title {
    line-height: 2em;
}
#anony-dongxi .dongxi-tags-list ul li {
    width: 60px;
	display:block;
	height:18px;
	
}

/*第四部分*/
#anony-music .section-title a:link, #anony-music .section-title a:visited {
    color: #614E3C;
}
#anony-music .section-title a:hover, #anony-music .section-title a:active {
    color: #FFFFFF;
}
#anony-music a:link, #anony-music a:visited {
    color: #614E3C;
}
#anony-music a:hover, #anony-music a:active {
    color: #FFFFFF;
}
#anony-music .album-list li{margin-bottom:40px; float:left; height:150px; _height:165px; display:block;}
#anony-music .album-list .title {
    color: #666666;
    font-size: 12px;
}
#anony-music .album-list .pic {
    height: 80px;
    overflow: hidden;
}
#anony-music .album-list .pic img {
    height: 80px;
	width:80px;
    overflow: hidden;
	}

#anony-music .articles-list li {margin-bottom:8px; padding-bottom:8px; float:left; display:block; height:58px; width:100%;}
#anony-music .articles-list li img{ width:48px; height:48px;}

#anony-music .articles-list .num, #anony-music .articles-list .pic {
    float: left;
    margin-right: 10px;
    max-height: 61px;
    overflow: hidden;
}
#anony-music .articles-list .content {
    overflow: hidden;
	float:left;
	
}
#anony-music .articles-list .desc {
    color: #999999;
    margin-top: 4px;
}
