@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}
body{margin:0; padding:0; font-size:14px;line-height:1.6;font-family:"微软雅黑",Helvetica,"宋体",Arial,Tahoma;background:#F9F9F9;}
ul{list-style:none;}
a{color:#06C;}
a:hover{color:#478fce;text-decoration:none;}
.fc-690{color:#478fce;}
.fs-14{font-size:14px;}
.header{background:#478FCE; border-bottom:2px #84BCE2 solid;}
.top{width:900px;height:85px;overflow:hidden;margin:0 auto;}
.top .top-logo{width:450px;height:80px;float:left;padding-left:10px;overflow:hidden; background: url(img/install_logo.png) no-repeat left center}
.top .top-logo h1{font-size:0;line-height:1000%;}
.top .top-link{overflow:hidden;}
.top .top-link ul{float:right;overflow:hidden; margin-top:35px;}
.top .top-link ul li{float:left; margin-left:10px;}
.top .top-link ul li a{display:inline-block;text-decoration:none;color:#FFF; font-size:14px; padding:8px 20px; background:#84BCE2;}
.main{width:900px;margin:14px auto 0;}
.main .pleft{width:168px;float:left;cursor:default;padding-top:6px;}
.main .pright{width:720px;float:right;}
.pr-title{width:720px;height:22px;overflow:hidden;border-bottom:3px #84bce2 solid;margin:8px auto 0;}
.pr-title h3{width:158px;height:25px;line-height:25px;overflow:hidden;display:block;font-size:12px;text-indent:10px;background:#84bce2;letter-spacing:2px;color:#FFF;font-weight:700;}
.t1{width:162px;}
.t1 dt{width:162px;height:35px;line-height:35px;background:#478fce;font-weight:700;color:#FFF;text-indent:25px;letter-spacing:2px;font-size:14px;}
.t1 dd{width:158px;background-color:#FAFDF9;border:2px solid #478fce;}
.t1 dd ul{border:1px solid #FFF;overflow:hidden;background:url(img/step-ico-bg.png) 20px 21px no-repeat;padding:10px 0;}
.t1 dd ul li{height:40px;line-height:36px;text-indent:52px;display:block;color:#888;font-size:14px;}
.t1 dd ul li.succeed{color:#478fce;background:url(img/ico-step-succeed.png) 23px 14px no-repeat;}
.t1 dd ul li.now{color:#F90;font-weight:700;background:url(img/ico-step-now.png) 23px 14px no-repeat;}
.install-msg{color:#777;line-height:31px;font-size:14px;overflow:hidden;clear:both;padding:10px 20px;}
.pr-agreement{line-height:21px;color:#666;height:400px;overflow-y:scroll;padding:16px;}
.pr-agreement strong{display:block;color:#333;line-height:27px;margin-top:6px;}
.pr-agreement p{text-indent:30px;}
.btn-box{margin-top:15px;border-top:1px solid #DDD;vertical-align:middle;padding:10px 6px;}
.btn-next{width:104px;height:34px;border:none;background:url(img/but-next.png) no-repeat;cursor:pointer;margin-left:10px;overflow:hidden;font-size:0;line-height:100px;}
.btn-back{width:104px;height:34px;border:none;background:url(img/but-back.png) no-repeat;cursor:pointer;overflow:hidden;font-size:0;line-height:100px;}
#readpact{margin-top:-4px;margin-right:4px;}
.over-link{line-height:41px;overflow:hidden;clear:both;padding:0 40px;}
.over-link a{line-height:14px;background:#FAFAFA;color:#333;display:block;float:left;margin-right:20px;text-decoration:none;border-color:#EEE #CCC #CCC #EEE;border-style:solid;border-width:1px;padding:6px 20px;}
.olink a{line-height:14px;background:#EAF4DD;color:#333;display:block;margin-left:8px;float:left;width:55px;margin-right:20px;text-decoration:none;border-color:#EEE #CCC #CCC #EEE;border-style:solid;border-width:1px;padding:2px 20px;}
.waitpage{top:0;left:0;filter:Alpha(opacity=70);-moz-opacity:0.7;position:absolute;z-index:10000;background:url(?res=loading) #ababab no-repeat center 200px;width:100%;height:2500px;display:none;}
.divpre{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);}
.modulesel{width:120px;margin-right:8px;float:left;}
.notice{padding-left:8px;height:25px;line-height:25px;overflow:hidden;color:red;background:#ffe27c;border:1px #ffc000 dashed;margin-top:3px;}
input{vertical-align:middle;margin-right:3px;font-size:12px;}
textarea{vertical-align:top;font-size:12px;line-height:156%;border:1px solid #AAA;letter-spacing:1px;word-break:break-all;overflow-y:auto;padding:3px;}
.input-txt{border:1px solid #AAA;font-size:12px;color:#000;width:200px;padding:4px 8px 4px 6px;}
.textipt_on{border:1px solid #F90;}
hr{height:1px;line-height:1px;overflow:hidden;border-top:1px solid #E6E6E6;border-width:1px 0 0;}
hr:empty{margin:8px 0 7px!important;}
small{font-size:12px;}
.moncolor td{background:#FFC;}
.twbox{border:1px solid #478fce;border-top:0;width:720px;font-size:12px;overflow:hidden;}
.twbox thead tr td{background:url(?res=body-title-bg) -1px -1px repeat-x;height:31px;line-height:31px;text-indent:10px;}
.twbox thead tr td strong{letter-spacing:2px;margin-right:14px;color:#FFF;font-size:14px;}
.twbox thead tr td span{color:#CDA;}
.twbox thead tr td p{height:31px;display:inline;float:right;overflow:hidden;margin:-31px 10px 0 0;}
.twbox thead tr td p *{float:right;}
.twbox thead tr td a.thlink{color:#FFF;}
.twbox thead tr td a.thlink:hover{color:#FF0;text-decoration:none;}
.twbox tbody{overflow:hidden;text-align:left;}
.twbox tbody tr th{background:#daecf9;color:#478fce;line-height:21px;height:21px;text-indent:30px;font-weight:400;border-bottom:1px solid #478fce;letter-spacing:2px;}
.twbox tbody tr td{border-bottom:1px solid #F2F2F2;color:#333;vertical-align:top;padding:7px;}
.twbox tbody tr td p{line-height:21px;}
.twbox tbody tr td img{vertical-align:top;margin:0 10px 5px 0;}
.twbox tbody tr td small{color:#888;}
.twbox tfoot tr td{line-height:25px;text-align:center;padding:10px;}
.twbox tfoot tr td p{line-height:21px;margin-bottom:10px;}
input.but{height:26px;padding-left:6px;padding-right:6px;line-height:26px;font-weight:700;letter-spacing:1px;color:#FFF;background-color:#FC3;}
.onetd{width:120px;text-align:right;line-height:25px;}
input,button,select,.twbox tbody tr td p strong img{vertical-align:middle;}
