
footer.qsc-bar .bar-item.active {
	color: #ff6600
}
.mod-user .mod-user-header {
	background: #ff6600;
	color: #fff
}

.water {
	height: 30px;
	width: 100%;
	position: relative;
	background: #ff6600
}

.qsc-tab .tab-item .active a {
	padding: 12px 0 11px;
	color: #ff6600
}

header.qsc-bar.bar-green {
	border-color: #ff6600;
	background: #ff6600;
	color: #fff
}
footer.bar-support .bar-item.btn-support span {
	display: block;
	background: #ff6600;
	color: #fff;
	font-size: 18px;
	padding: 6px 4px;
	border-radius: 2px;
	font-weight: 700
}
.qsc-modal.dialog .modal-footer .btn.active {
	color: #ff6600;
	font-weight: 600
}
.mod-share-page>header {
    padding: 15px 10px;
    color: #fff;
    background: #ff6600;
    margin-bottom: 20px;
}

.bar-home, .bar-message, .bar-publish, .bar-user {
    background: url(../images/icon-bar-ff6600.png) no-repeat;
    background-size: 96px;
}

.btn-primary,.btn-success {
	color: #fff;
	background-color: #ff6600;
	border: 1px solid rgba(0,0,0,.05)
}

.form-switch>input:checked+label {
	background: #ff6600;
	transition: all .15s ease-out
}
.form-switch>input:checked+label,.form-switch>input:checked+label:active {
	box-shadow: inset 0 0 0 1.2em #ff6600
}
.moda-zdl{
  background-color: #ff6600!important;
}
.mod-publish-list-btn{
      color: #ff6600!important;
}
.list-item_btn,.title-help {
	color: #ff6600
}

.icon-help-green {
    background: url(../images/icon6-ff6600.png) no-repeat;
    background-size: 16px;
}
.icon-add, .icon-min {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/icon8-ff6600.png) no-repeat;
    background-size: 48px;
}
.form-slider .form-control-static strong {
	color: #ff6600;
	margin: 0 3px;
	font-size: 18px;
	font-weight: 400
}
.text-success,.text-success a {
	color: #ff6600!important
}
.guarantee-bar .bar-item.active{
      background: #ff6600;
}
.mod-guarantee .guarantee-statis .item{
      color: #ff6600;
}
.content.bottom.mod-guarantee .guarantee-feature h5{
      color: #ff6600;
}
.content.bottom.mod-guarantee .guarantee-data h5{
  color: #ff6600;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main .settlement-right h4{
    color: #ff6600;
}
.content.bottom.mod-guarantee .guarantee-faq h5{
  color: #ff6600;
}
.mod-guarantee .guarantee-faq .item.active header{
  color: #ff6600;
}
.weui_btn_plain_primary{
    color: #ff6600;
    border: 1px solid #ff6600;
}
.btn-charge{
      background: #ff6600!important;
}
.user-money_header{
      background: #ff6600!important;
}
.balance-footer a{
   color:  #ff6600!important;
}
.form-checkbox .btn>span:after, .form-radio .btn>span:after{
  background: url(../images/3333-ff6600.png) no-repeat;
    background-size: 66px;
}
.qsc-tab .tab-item .active{
      border-bottom: 2px solid #ff6600;
}
.user-project .list-thumb-md p.success {
    color: #ff6600;
}
table.add-observed-card.active{
      border: 1px solid #ff6600!important;
}
.pay-btn{

    background: #ff6600!important;
}
.weui_btn_primary{
  background: #ff6600!important;
}
table.add-observed-card.active{
    background: url(../images/circle-ff6600.png) no-repeat right bottom !important;
        border: 1px solid #ff6600 !important;
        background-size: 8%!important;
}
.weui_icon_success:before{
  color: #ff6600!important;
}
.pay p a{
  color: #ff6600!important;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main .settlement-left{
      background: url(../../resource/images/circle_line-ff6600.png) no-repeat !important;
      background-size: contain !important;
      width: 31px !important;
      height: 150px !important;
      background-position: 11px !important;
      display: inline-block !important;
}
.icon-plus-green {
    background: url(../images/jia-ff6600.png) no-repeat;
    background-size: 24px;
}

.icon-guide-case, .icon-guide-feedback, .icon-guide-money, .icon-guide-publish, .icon-guide-qun {
    background: url(../images/icon4444-ff6600.png) no-repeat;
    background-size: 20px;
}
.swiper-pagination-bullet-active {
	background: #ff6600!important
}
