*{
    box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
}
body {
    background: #f5f6f9;
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a{
  text-decoration: none;
}
.content.bottom {
    padding-bottom: 66px;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}


.guarantee-header {
    width: 100%;
}
.guarantee-header img{
   width: 100%;
}

.mod-guarantee .guarantee-statis {
    background: #fff;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 15px;
        overflow: hidden;
}



.mod-guarantee .guarantee-statis .item {
    width: 50%;
    float: left;
    font-size: 24px;
    text-align: center;
    color: #43ac43;
}
.content.bottom.mod-guarantee .guarantee-statis .item1 {
    width: 33.3%;
    border-right: 1px solid rgba(0,0,0,0.1) !important;
}
.content.bottom.mod-guarantee .guarantee-statis .item2 {
    width: 33.3%;
}
.content.bottom.mod-guarantee .guarantee-statis .item {
    margin: 15px 0 0 0;
}
.mod-guarantee .guarantee-statis .item:last-child {
    border-left: 1px solid rgba(0,0,0,0.1);

}
.content.bottom.mod-guarantee .guarantee-statis .item .main {
    width: 93px;
    margin: auto;
    text-align: center;
}
.content.bottom.mod-guarantee .guarantee-statis .item .main h5 {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    margin: 15px 0 0 0;
    line-height: 1;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.content.bottom.mod-guarantee .guarantee-statis .item .main p {
    font-size: 16px;
    line-height: 10px;
    width: 100%;
}
.mod-guarantee .guarantee-statis .item small {
    font-size: 12px;
    color: #999;
    display: block;
}
.content.bottom.mod-guarantee .guarantee-statis .item .main small {
    font-size: 10px;
    line-height: 0;
}


.mod-guarantee .guarantee-feature {
    background: #fff;
    width: 100%;
    padding: 15px 0 20px;
    margin-bottom: 15px;
    overflow: hidden;
}
.content.bottom.mod-guarantee .guarantee-feature h5 {
    font-size: 15px;
    margin: 0;
    color: #43ac43;
    padding: 0 15px;
}
.mod-guarantee .guarantee-feature .item {
    width: 33.3333%;
    float: left;
    text-align: center;
    font-size: 12px;
    color: #999;
    padding: 0 10px;
}
.content.bottom.mod-guarantee .guarantee-feature .item {
    width: 50%;
    font-size: 11px;
    color: #888;
    font-weight: 400;
    padding: 0 9px;
    overflow: hidden;
    float: left;
    text-align: center;
}
.content.bottom.mod-guarantee .guarantee-feature .item .icon-guarantee-one {
    background: url(../../resource/images/plan_icon1.png) no-repeat;
    background-size: 60px;
}
.content.bottom.mod-guarantee .guarantee-feature .item .icon-guarantee-two {
    background: url(../../resource/images/plan_icon2.png) no-repeat;
    background-size: 60px;
}
.content.bottom.mod-guarantee .guarantee-feature .item .icon-guarantee-three {
    background: url(../../resource/images/plan_icon3.png) no-repeat;
    background-size: 60px;
}
.content.bottom.mod-guarantee .guarantee-feature .item .icon-guarantee-four{
    background: url(../../resource/images/plan_icon4.png) no-repeat;
    background-size: 60px;
}
.content.bottom.mod-guarantee .guarantee-feature .item .icon {
    width: 61px;
    height: 60px;
    display: block;
    margin: 10px auto;
}
.content.bottom.mod-guarantee .guarantee-feature .item p {
    font-size: 14px;
    color: #080808;
    font-weight: 400;
    margin: 0;
}
.content.bottom.mod-guarantee .guarantee-feature .item img {
    width: 13px;
    height: 15px;
    position: relative;
    top: 3px;
    left: 2px;
}


.mod-guarantee .guarantee-data {
    background: #fff;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 15px;
}
.content.bottom.mod-guarantee .guarantee-data h5 {
    font-size: 15px;
    margin: 0;
    color: #43ac43;
    padding: 0 15px;
}
.content.bottom.mod-guarantee .guarantee-data .insurance-item {
    padding: 12px 15px 12px 15px;
    color: #888;
    background: #fff;
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    font-size: 13px;
}
.content.bottom.mod-guarantee .guarantee-data .insurance-item .title {
    display: inline-block;
    width: 28.266667%;
    vertical-align: top;
}
.content.bottom.mod-guarantee .guarantee-data .insurance-item .content1 {
    width: 63.733333%;
    display: inline-block;
    color: #080808;
}
.list-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: solid 2px rgba(0,0,0,0.2);
    border-right: solid 2px rgba(0,0,0,0.2);
    position: relative;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
    margin-right: 2px;
}

.content.bottom.mod-guarantee .guarantee-feature .item {
    width: 50%;
    font-size: 11px;
    color: #888;
    font-weight: 400;
    padding: 0 9px;
    float: left;
    text-align: center;
}
.content.bottom.mod-guarantee .guarantee-feature .item .icon1 {
    display: block;
    margin: 27px auto 13px auto;
}
.content.bottom.mod-guarantee .guarantee-feature .item .icon-operation-one {
    background: url(../../resource/images/bank_icon.png) no-repeat;
    background-size: contain;
    width: 149px;
    height: 28px;
}
.content.bottom.mod-guarantee .guarantee-feature .item .icon-operation-two {
    background: url(../../resource/images/funds_icon.png) no-repeat;
    background-size: contain;
    width: 129px;
    height: 30px;
}
.content.bottom.mod-guarantee .guarantee-feature .item .icon-operation-three {
    background: url(../../resource/images/audit_icon.png) no-repeat;
    background-size: contain;
    width: 44px;
    height: 35px;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main {
    padding: 28px 15px;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main .settlement-left {
    background: url(../../resource/images/circle_line.png) no-repeat;
    background-size: contain;
    width: 31px;
    height: 150px;
    background-position: 11px;
    display: inline-block;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main .settlement-right {
    width: 254px;
    display: inline-block;
    height: 162px;
    line-height: normal;
    position: relative;
    top: 8px;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main .settlement-right .guide-card1 {
    height: 69px;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main .settlement-right .guide-card2 {
    height: 60px;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main .settlement-right .guide-card3 {
    height: 50px;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main .settlement-right h4 {
    font-size: 14px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    color: #43ac43;
    font-weight: 400;
}
.content.bottom.mod-guarantee .guarantee-feature .settlement-main .settlement-right p {
    font-size: 12px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    color: #5c5c5c;
    font-weight: 400;
    margin: 2px 0 0 0;
}
.mod-guarantee .guarantee-faq {
    background: #fff;
    width: 100%;
    padding: 15px;
}
.content.bottom.mod-guarantee .guarantee-faq h5 {
    font-size: 15px;
    margin: 0;
    color: #43ac43;
    padding: 0 15px 26px 0;
}
.mod-guarantee .guarantee-faq .item {
    margin-bottom: 20px;
}
.mod-guarantee .guarantee-faq .item.active header {
    color: #43ac43;
    font-weight: 600;
    font-size: 15px;
    position: relative;
}
.mod-guarantee .guarantee-faq .item .q-content {
    background: #f6f6f6;
    padding: 10px;
    color: #666;
    border-radius: 2px;
    display: none;
    position: relative;
    line-height: 1.5;
}
.mod-guarantee .guarantee-faq .item.active .q-content {
    display: block;
}
.mod-guarantee .guarantee-faq .item header {
    font-size: 15px;
    color: #666;
    position: relative;
    margin-bottom: 10px;
}
.mod-guarantee .guarantee-faq .item header:after {
    width: 9px;
    height: 9px;
    display: block;
    content: " ";
    position: absolute;
    top: 5px;
    right: 0;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAA2AgMAAABLiAouAAAACVBM…AACBJREFUGNNjAIIQIKYZHQoGIeg0be2lA1gFBiswaBoDAKmbHMMVBHHSAAAAAElFTkSuQmCC") no-repeat;
    background-size: 9px;
    background-position: 0 0;
}
.content.bottom.mod-guarantee header:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: solid 2px rgba(0,0,0,0.2);
    border-right: solid 2px rgba(0,0,0,0.2);
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(45deg);
    margin-right: 2px;
    background: none;
}
.mod-guarantee .guarantee-faq .item .q-content:before {
    position: absolute;
    top: -6px;
    left: 10px;
    width: 0;
    height: 0;
    content: " ";
    display: block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #f6f6f6;
}
.content.bottom.mod-guarantee .active header:after {
    transform: rotate(225deg);
}
.mod-guarantee .guarantee-faq .item.active header:after {
    background-position: 0 -9px;
}
.content.bottom.mod-guarantee .check {
    text-align: center;
}
.content.bottom.mod-guarantee .check .button {
    width: 120px;
    height: 26px;
    font-size: 12px;
    border: 1px solid #979797;
    border-radius: 2px;
    background: rgba(255,255,255,0);
    margin: 19px auto 0;
    color: #888;
    padding: 5px 0 5px 0;
    display: block;
}
.qsc-bar.bar-fixed {
    position: fixed !important;
    right: 0;
    left: 0;
    z-index: 10;
    bottom: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: table;
    height: 49px;
    backface-visibility: hidden;
    background: rgba(255,255,255,0.98);
    width: 100%;
}
footer.qsc-bar .bar-item {
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    height: inherit;
    color: #999;
    position: relative;
    font-size: 11px;
}
.guarantee-bar .bar-item.active {
    font-size: 18px;
    color: #fff !important;
    background: #43ac43;
    font-weight: 600;
    width: 40%;
        text-decoration: none;
}
