
    #wrapper {
      position: absolute;
      top: 231px;
      bottom: 0;
      overflow: hidden;
      margin: 0;
      width: 100%;
      padding: 0 8px;
      background-color: #f8f8f8;
    }

    .am-list {
      margin: 0;
    }

    .am-list > li {
      background: none;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
    }

    .pull-action {
      text-align: center;
      height: 45px;
      line-height: 45px;
      color: #999;
    }

    .pull-action .icon-spin {
      display: none;
    }

    .pull-action.loading .icon-spin {
      display: block;
      font-size: 15px;
    }

    .pull-action.loading .pull-label {
      display: none;
    }
    .block{width: 100%;overflow: hidden;display: block;height: 49px;}


    .home-banner,.qsc-tab,.mod-project-card{}
    .home-banner,.mod-project-card{margin-bottom: 15px;}



          .ui-slider-range{
                  position: absolute;
                  box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
                  border-radius: 4px;
                  background-image: none;
                  background-color: #43AC43;
                  height: 100%;
                  top: 0;
                  bottom: 0;
            }

          .ui-slider-handle{
              position: absolute;
              width: 30px;
              height: 30px;
              background: repeat-x #fff;
              background-image: -moz-linear-gradient(top,#fff,#f9f9f9);
              background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f9f9f9));
              background-image: -webkit-linear-gradient(top,#fff,#f9f9f9);
              background-image: linear-gradient(to bottom,#fff,#f9f9f9);
              cursor: pointer;
              box-shadow: 0 1px 3px rgba(0,0,0,.4);
              border-radius: 50%;
              opacity: .9;
              margin-top: -10px!important;
              margin-left: -15px!important;
            }
          .ui-slider-handle:after,.ui-slider-handle:before  {
              width: 12px;
              height: 2px;
              display: block;
              background: rgba(0,0,0,.25);
              content: "";
              position: absolute;
              left: 9px;

            }
            .ui-slider-handle:before{
              top: 12px;
            }
            .ui-slider-handle:after{
              top: 16px;
            }

          }
