html {
    font-size: 62.5%;
}
body {
    background: #fafafa;
}
.historyWrap {
    margin:0;
    padding:0;
}
.history {
    margin: 1rem 0.6rem;
    padding : 0.8rem 1.2rem;
    /*border: 1px solid #cacaca;*/
    box-shadow: 0 0 2px rgba(0,0,0,0.65);
    margin-bottom:1rem;
}
.history .time{
    font-size:1.4rem;
    color:#bcbcbc;
    margin-bottom:0.6rem;
}
.history .title{
    font-size:1.6rem;
    color:#000;
    font-weight: 700;
}
.history .cover{
    height:100px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:0.6rem;
}
.history .summary{
    font-size:1.4rem;
    color:#c6c6c6;
    border-bottom: 1px solid #ddd;
    padding-bottom:0.4rem;
    margin-bottom:0.4rem;
}
.history .readme{
    font-size:1.4rem;
    color:#000;
}

.weui_cell:before {
    border:0;
}
.weui_loading {
    position:fixed;
    top:95%;
    bottom:0;
}