html,body,h1,h2,h3{font-family:arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti;}
a:focus {outline:none; -moz-outline:none}
.ng-cloak{display:none;}
.container-fill{width:auto;padding-left:0;padding-right:0;}
.row .row, .form-group .form-group{margin-left:auto;margin-right:auto;}

.nav-bardown{position:fixed; bottom:0; left:0; height:3.7em; overflow:hidden; background:#f4f4f4; border-top:1px solid #d8d5d4; width:100%; display:-webkit-box; display:-moz-box; display:box; -webkit-box-orient:horizontal; -moz-box-orient:horizontal; box-orient:horizontal; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.nav-bardown > *{-webkit-box-flex:1; -moz-box-flex:1; box-flex:1;}
.nav-bardown li{position:relative;}
.nav-bardown li a{padding-top:.2em; text-align:center; color:#7a7f83; text-decoration:none;}
.nav-bardown li a:hover{background-color:#dddddd;}
.nav-bardown i{display:block; font-size:2em; color:#a2a6a9;}
@-moz-document url-prefix(){.nav-bardown li{display:table-cell;width:1%;}}
/*系统头像*/
.avatar-browser .thumbnail{width:128px; height:128px; margin-right:5px; float:left;}
