/*科e互联特效基本框架CSS*/
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
body>div{margin:0 auto}
div {text-align:left}
a img {border:0}
ul, ol, li {list-style-type:none;vertical-align:0}
/*科e互联特效基本框架CSS结束，应用特效时，以上样式可删除*/

/* 效果CSS开始 */
.mBan2 { overflow: hidden; }
.mBan2 .slideBox{ width:100%; height:auto; position:relative; }
.mBan2 .slideBox .hd{ height: 15px; overflow: hidden; position: absolute; bottom: 4px; z-index: 1; background: url(../Images/btnbg.png) repeat; margin-left: -46px; left: 50%; padding: 4px 0px 0px 11px; }
.mBan2 .slideBox .hd ul{ zoom: 1; }
.mBan2 .slideBox .hd ul li{ float: left; width: 6px; height: 6px; background: url(../Images/btn1.png) no-repeat; cursor: pointer; margin-right: 10px; }
.mBan2 .slideBox .hd ul li.on{ background: url(../Images/btn2.png) no-repeat; }
.mBan2 .slideBox .bd{ position:relative; height:100%; z-index:0;   }
.mBan2 .slideBox .bd ul,.slideBox .bd ul li{width:100%!important}
.mBan2 .slideBox .bd img{ width:100%; height:auto; display:block;  }
/* 效果CSS结束 */