.haveMoreCodeIn{
  padding: 1.2rem 0.8rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.haveMoreCodeCon {
  height: auto;
  padding: 3.9rem 2.1rem;
  border-radius: 5px;
}
.haveMoreCodeTitle {
  color: #121212;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -1rem;
  text-align: center;
  height: 4.9rem;
  line-height: 6.5rem;
  background: url(http://7xio74.com2.z0.glb.qiniucdn.com/arrowhead.png) right center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  font-size: 1.25rem;
  border-radius: 5px;
}
.pWrap {
  background-color: #fff;
  border-radius: 5px;
}
.pWrap img{
  display: block;
  width: 95%;
  margin: 0 auto;
}
.haveMoreCodeInContent {
 padding: 1rem 0.9rem;
  line-height: 2rem;
  font-size: 0.9rem;
  background-color: #bb8e4b;
  border-radius: 5px 5px 0 0;
  color: #fff;
}
.haveMoreCodeBtn {
  height: 4rem;
  background: url(http://7xio74.com2.z0.glb.qiniucdn.com/anmanX2.png) center right no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
 .haveMoreCodeIn{
  width: 100%;
  height: 44.467rem;
  /* height: 44.467rem; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.7);
  display: none;
}
.mask strong,.haveMoreCodeIn strong{
    font-weight: bold;
}