@charset "utf-8";
/* CSS Document */

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6,a, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr,iframe {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
	font-family: "WenQuanYi Micro Hei","lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei",  sans-serif;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    background-image: url(about: blank); /*用浏览器空白页面作为背景*/
    background-attachment: fixed; /*确保滚动条滚动时，元素不闪动*/
}
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
body{
	font: normal 100% Helvetica, Arial, sans-serif;
}
.c1{
	background-color: #99FF00;
}
.c2{
	background-color: #F9F;
}
.c3{
	background-color: #0FF;
}
.c4{
	background-color: #FFFF00;
}
.c5{
	background-color: #99CCCC;
}
.1-box{
	padding: 16px;	
}
h1 {
	font-size: 1.5em;
	margin-bottom: 1em;
}
small { font-size: 0.875em; }
img, object { max-width: 100%;}
.top_imgs {
	width: 100%;
	position: relative;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{-webkit-appearance: none !important;margin: 0; }
input[type="number"]{-moz-appearance:textfield;}
.jagged {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 13px;
	margin-top: -8px;
	margin-bottom: -8px;
	background-image: url(../images/jagged.png?v1);
	background-repeat: repeat-x;
	background-position: 0 0;
}
.clear{clear:both}
.box_padding1{padding: 10px;padding-bottom:1px;	}
.datenumber {
	float: left;
	width: 100%;
	margin-bottom:1em;
}
.datenumber span {
	float: right;
	height: 2em;
	font-size: 1em;
	line-height: 2em;
	font-weight: bold;
	color: #949494;
	margin-right: 1em;
	
}
.box_padding1 h1 {
	font-size: 1.8em;
	font-weight: bolder;
	color: #00a8a8;
	text-align: center;
}



/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form-1 {
    /* Size & position */
    padding: 10px;
}

.form-1 input[type=text],.form-1 input[type=number],
.form-1 input[type=password] {
    font-size: 1.2em;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    width: 100%;
    padding: 10px 18px 10px 10px;
    border: 1px solid #ccc; 
    box-shadow:  inset 0 0 5px rgba(0,0,0,0.2), inset 0 3px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.form-1 input[type=text],.form-1 input[type=number] {
    margin-bottom: 0.8em;
}

.form-1 .submit {
	width: 75%;
	height: 4em;
	padding: 0 10px;
	z-index: 2;
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

.form-1 .submit:after {
    /* Size and position */
    content: "";

    position: absolute;
    top: -2px;
    left: 30px;
    /* Styles */
    background: #ffffff;
    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}

.form-1 button {
	/* Size and position */
	width: 100%;
	height: 100%;
	margin-top: -1px;
	/* Icon styles */
	font-size: 1.2em;
	line-height: 1.2em;
	color: white; /* Remove the default border */
	border-radius: inherit;
	background: #fb6362; /* Fallback */
	cursor: pointer;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #656565;
}

.form-1 button:hover,
.form-1 button[type=submit]:focus {
    background: #e3504f;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-1 button:active {
    background: #42A2BC;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.3),
        inset 0 3px 4px rgba(0,0,0,0.3);
}
.text {
	font-size: 1em;
	color: #949494;
	font-weight: bolder;
}
.text2 {
	width:100%;
	font-size: 1em;
	color: #999999;
	text-align:center;
}
.textmin {
	width:100%;
	font-size: 0.7em;
	color: #999999;
	text-align:center;
	padding-top:0.3em;
}
.text3 {
	font-size: 1em;
	color: #333333;
	font-weight: bolder;
	margin-top: 1em;
	margin-bottom: 1em;
}
.text4 {
	font-size: 1em;
	color: #fff;
	font-weight: bolder;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #ddcb89;
	text-align: center;
	float: left;
	width: 100%;
	border-radius: 5px;
	padding: 1em;
}
.arrow {
	float: left;
	height: 62px;
	width: 100%;
}
.arrow span {
	background-image: url(../images/FX_arrow.jpg?v1);
	background-repeat: no-repeat;
	float: right;
	height: 62px;
	width: 49px;
}
.android_FX,.ios_FX {
	float: left;
	width: 100%;
}

.FXpicAndroid {
	height: 403px;
	width: 272px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/Android_FX.jpg?v1);
	background-repeat: no-repeat;
}
.FXpicIOS {
	height: 566px;
	width: 474px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/ios_FX.jpg?v1);
	background-repeat: no-repeat;
}
