
/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
#cd-table .cd-unchecked span, #cd-table .cd-checked span {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* --------------------------------

Main components

-------------------------------- */
#cd-table {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 1em auto;
  font-size: 14px;
  font-size: 0.875rem;

}
#cd-table::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.no-cssgradients #cd-table::before {
  /* remove the gradient using modernizr if css gradients are not supported */
  display: none;
}
#cd-table.table-end::before {
  /* the gradient disappears when user is at the end of the table */
  display: none;
}



#cd-table .cd-table-column {

  border: 1px solid #e6e7f1;
  margin-left: -1px;
}
#cd-table .cd-table-column .scoreid
{
  width:9%;
  float:left;
  text-align:center;
  border-right:1px solid #e6e7f1;
  }
#cd-table .cd-table-column .type{
  float:left;
  width:30%;
  text-align:center;
  border-right:1px solid #e6e7f1;
  }
#cd-table .cd-table-column .score{
  float:left;
  width:20%;
  text-align:center;
  border-right:1px solid #e6e7f1;
  }
#cd-table .cd-table-column .update{
  float:left;
  width:40%;
  text-align:center;
    }
#cd-table .cd-table-column:last-child {
  border-right: none;
}
#cd-table h2, #cd-table ul > li {
  margin:-1px auto;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #e6e7f1;
  height: 42px;
  line-height: 42px;
  background-color: white;
}
#cd-table h2 {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #606272;
}
#cd-table ul > li {
  color: #787a8d;
}
#cd-table ul > li:nth-child(odd) {
  background-color: #f6f7fa;
}
#cd-table ul > li:last-child {
  border-bottom: none;
}

