<!--
 * ============================================================================
 * 版权所有 2015-2016 米粒源码，并保留所有权利。
 * 网站地址: http://www.webmili.com；
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！已购买用户允许对程序代码进行修改和使用，但是不允许对
 * 程序代码以任何形式任何目的的再发布，作者将保留追究法律责任的权力和最终解
 * 释权。
 * ============================================================================
-->
{template 'common/header'}
<style type="text/css">
.form .alert{width:700px;}
.col-lg-3{width:20%;}
</style>
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('business')}">运营详情</a></li>
</ul>
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="m" value="cash_car" />
                <input type="hidden" name="do" value="business" />
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:100px;">服务点</label>
                    <div class="col-sm-2 col-lg-3">
                        <select name="storeid" class="form-control">
                            <option value="">请选择...</option>
							{loop $allstore $value}
                            <option value="{$value['id']}" {if $_GPC['storeid'] == $value['id']} selected="selected" {/if}>{$value['title']}</option>
							{/loop}
                        </select>
                    </div>
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" style="width:100px;">统计时间</label>
                    <div class="col-sm-8 col-lg-3 col-xs-12">
                        {php echo tpl_form_field_daterange('time', array('start'=>date('Y-m-d', $starttime),'end'=>date('Y-m-d',$endtime)));}
                    </div>
					<div class="col-sm-3 col-lg-3" style="width: 18%;">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

	<div class="panel panel-default">
        <form action="" method="post" class="form-horizontal form" >
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<thead class="navbar-inner">
					<tr>
						<th>服务点名称</th>
						<th style="text-align:center;">订单数量</th>
						<th style="text-align:center;">订单总额</th>
						<th style="text-align:right;">操作</th>
					</tr>
					</thead>
					<tbody>
					{loop $storelist $item}
					<tr>
						<td>{$item['title']}</td>
						<td style="text-align:center;">{$item['ordercount']} 单</td>
						<td style="text-align:center;">{$item['orderamount']} 元</td>
						<td style="text-align:right;">
							<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('order', array('op' => 'display', 'status' => 3, 'storeid' => $item['id']))}">查看详情</a>
						</td>
					</tr>
					{/loop}
					<tr>
					    <td colspan="4" style="font-weight:bold;">合计：{$alltotal} 元</td>
					</tr>
					</tbody>
				</table>
				{$pager}
			</div>
        </form>
    </div>
</div>
{template 'common/footer'}
