@CHARSET "UTF-8";
body{background: -webkit-radial-gradient(center center, circle closest-corner, #FEFEFE, #D2D2D2);background: -moz-radial-gradient(center center, circle closest-corner, #FEFEFE, #D2D2D2);}
a:hover{text-decoration: none;}
.box{ overflow:hidden; height:160px;margin:10px;border-radius:5px;box-shadow:0 1px 2px #BABABA;}
.box ul li{ float:left; height:160px;}
.box ul li img{overflow:hidden;display:block; width:100%;}

.content{padding-bottom:30px;margin-top:100px;}
.content u.alll{background:#EEB838;display:block;font-size:17px;}
.content ul.all li{margin:10px 15%;display:block;}
.content ul.all li a{display:block;background:#fff;color:#333;padding:10px 8px;font-size:20px;color:#666;font-weight:bold;text-align:center;opacity:0.8;border-radius:3px;box-shadow:0 4px 0 #EDF1F2;box-shadow:0 4px 2px #E5E5E5;}
.player{width:37px;height:36px;position:absolute;top:10px;right:10px;z-index:99;}
#footer {color: #FFF;}