/* * 全部商品列表页 * Author Cloud * CreateDate 2014-07-21 * Copyright:1997-2014 Netease Inc. All rights reserved. */

.m-list {}

.m-list .g-body-hd {
	position: relative;
}

.m-list-nav {
	background-color: #eee;
	border-bottom: 1px solid #d5d5d5;
	font-size: 12px;
}

.m-list-nav a {
	color: #999;
}

.m-list-nav .selected a {
	color: #db3652;
}

.m-list-nav-catlog {
	float: left;
	padding: 4px 0;
	width: 80px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}

.m-list-nav-catlog a {
	display: block;
	border-right: 1px solid #d5d5d5;
}

.m-list-nav-catlog .open {
	margin-top: -4px;
	height: 35px;
	line-height: 34px;
	background: #fff;
}

.m-list-nav-catlog .ico {
	margin-left: 4px;
	margin-top: -2px;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
}

.m-list-types {
	padding-left: 88px;
	height: 34px;
	position: relative;
	overflow: hidden;
}

.m-list-types-list {
	position: absolute;
	left: 0;
	padding: 4px 0;
	width: 235px;
	height: 26px;
	line-height: 26px;
}

.m-list-types-list li {
	float: left;
}

.m-list-types-list li a {
	display: inline-block;
	padding: 0 10px;
}

.m-list-types .ico {
	margin-top: -2px;
	margin-left: 3px;
}

.m-list-nav .selected .ico-arrow {
	border-color: #db3625
}

.m-list-nav .selected.up .ico-sort2Arrow:before {
	border-color: #db3625
}

.m-list-nav .selected.down .ico-sort2Arrow:after {
	border-color: #db3625
}

.m-list-catlog {
	position: absolute;
	left: 0;
	top: 35px;
	width: 100%;
	background-color: #fff;
	font-size: 12px;
}

.m-list-catlog-list {
	padding: 0 10px;
}

.m-list-catlog-list li {
	float: left;
	width: 33.3%;
	line-height: 35px;
	border-bottom: 1px solid #d5d5d5;
}

.m-list-catlog-list li a {
	padding-left: 10px;
	display: inline-block;
}

.m-list-catlog-list .ico-type {
	margin-top: -2px;
	margin-right: 5px;
}

.m-list-total {
	text-align: center;
	line-height: 30px;
	color: #8f8f8f;
	font-size: 12px;
	border-bottom: 1px solid #dcdcdc;
}

.w-goods-l {
	padding: 12px 10px 16px 10px;
}

.w-goods-l .w-goods-title {
	height: 36px;
}

.w-goods-l .w-progressBar {
	margin-top: 11px;
}

.w-goods-l .w-goods-shortFunc {
	bottom: 15px;
}