*{padding: 0;margin: 0;font-family: "microsoft yahei";}
body,html{width:100%;background: #f8f8f8;}
a{text-decoration: none;}
em,i{font-style: normal;}
ul,li{list-style: none;}
/*********login*********/
.top{margin: 0 auto;text-align: center;padding-top: 14em;}
.top img:first-child{width: 250px;height: 250px;}
.account,.word{width: 100%;height: 132px;overflow: hidden;position: relative;}
.account:before{content: "";position: absolute;left: 0px;right: 0px;border-top: 1px solid #ccc;}
.account:after{content: "";position: absolute;left: 6%;right: 0px;bottom: 0px; border-top: 1px solid #ccc;}
.word:after{content: "";position: absolute;left: 0px;right: 0px;bottom: 0px; border-top: 1px solid #ccc;}
.middle{text-align: center;margin-top: 8em;overflow: hidden;}
.middle h5{width: 18%;height: 132px;color: #666;text-align: center;line-height: 103px;font-size: 2.4em;float: left;margin-top: 4px;}
.middle h5 img{width: 70px;height: 70px;margin: 31px 0;}
.middle input{width: 82%;-webkit-appearance:none;border:none;margin-top: 4px;padding: 40px 0;font-size: 2.5em;color: #666;float: left;background: none;}
.middle button{width: 90%;height: 8em;background: #f90;color: #fff;margin-top: 6em;border-radius: 0.8em;}
.middle button a{color: #fff;font-size: 3em;}
.bottom{width: 90%;height: 6em;  overflow: hidden;margin: 0 auto;padding-top: 3em;}
.bottom a{font-size: 2.4em;color: #56abe4;line-height: 2.5em;}
.bo-left{float: left;}
.bot-box,.bo-right{float: right;}
/********register/bingding********/
.page{position:absolute; width:100%; height:100%;}
.page-box{width: 100%;margin: 0 auto;overflow: hidden;}
.page-top{margin: 0 auto;text-align: center;padding-top: 20px;}
.page-top img:first-child{width: 100px;height: 100px;}
.son-box{position: relative;}
.son-box:after{content: "";position: absolute;left: 6%;right: 0px;bottom: 0px; border-top: 1px solid #ccc;}
.son-box-b:after{content: "";position: absolute;right: 0px;bottom: 0px; border-top: 1px solid #ccc;}
.son-box,.Verification{overflow: hidden;width: 100%;}
.son-box h5{width: 18%;height: 132px;color: #364574;text-align: center;line-height: 132px;font-size: 2.4em;float: left;margin-top: 4px;}
.son-box input{width: 82%;-webkit-appearance:none;border:none;margin-top: 4px;padding: 40px 0;font-size: 2.5em;color: #666;float: left;background: none;}
.Verification input{width: 390px;-webkit-appearance:none;border:1px solid #999;background:none; margin-top: 4px;padding: 25px 0;font-size: 2.5em;color: #666;float: left;text-align: center;border-radius: 0.4em;background: none;}
.Verification button{display: inline-block;  width: 260px;height: 102px;background: #f90;text-align: center;line-height:102px;font-size: 2.4em;float: right;margin-top: 4px;border-radius:0.4em;color: #fff;}
.register{margin: 0 auto;text-align: center;padding-top: 40px;}
.register button{width: 100%;height: 102px;background: #f90;color: #fff;line-height: 102px;font-size: 3em;border-radius:0.4em;}
.son-box h5 img{width: 70px;height: 70px;margin: 31px 0;}