/* Global Setting */
body{margin:0; padding:0;text-align:left; font-size:12px; }
table{border-collapse:collapse;}
td,th{padding:0;}
ul,li,dd,dl,dt{margin:0; padding:0; list-style:none; word-break:break-all;}
img{border:0;}
p{margin:0; word-break:break-all;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0; font-weight:normal; font-size:14px;}
em{ font-size:12px; font-style:normal;}
hr{background:none;border:none;border-bottom:1px solid #CCC;border-bottom:0;}
.clear {clear:both;height:0;font-size:1px;line-height: 0px;}
a{text-decoration:none; border:0; outline:none; blr:expression(this.onFocus=this.blur());}
select,input,textarea{font-family:inherit; outline:none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix:after {visibility: hidden;display:block;font-size:0;content:"";clear:both;height: 0;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.fl{ float:left;}
.fr{ float:right;}
a{ text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}





#wrapper{ margin:0 auto; width:640px; position:relative; padding-bottom:104px;font-family:Microsoft YaHei,SimHei,Arial;}
.none{ display:none;}
#indexhead{ background:url(headindex.jpg) no-repeat 0 0; position:relative; width:640px; height:360px;}
#indexhead span{ display:block; position:absolute; left:288px; top:305px; color:#cd2d53; font-size:22px; font-weight:bold; line-height:1.2;}
.tipsnav{ background:url(line.jpg) repeat-x 0 0; height:63px; width:640px; position:relative; overflow:hidden;}
.tipsnav p{ line-height:62px; color:#FFF; position:relative; padding-left:28px; font-size:28px;-webkit-animation: cloundx 5s infinite linear;  width:3800px;}
.products{ height:164px; border-bottom:#8c0e32 10px solid; padding-left:21px; padding-top:26px; position:relative;}
.products img{ width:202px; height:134px; border:#b8b8b8 1px solid; float:left;}
.products div{ float:left; padding-left:28px; width:380px;} 
.red{ color:#e8003a;} 
.products div .p1{ padding-bottom:5px;}
.products div .p1,.products div .p1 a{ font-size:30px; color:#565353; font-weight:bold; line-height:40px;}
.products div .p2{ font-size:22px; color:#565353;line-height:1.5;}
.products div .p3{font-size:22px; color:#565353;}
.btncut{ position:absolute; width:180px; height:64px; background:url(btncut.jpg) no-repeat 0 0; top:80px; right:20px;}




.bnav{ position:fixed; width:640px; left:0; bottom:0; height:104px; background-color:#e4b892; z-index:10; text-align:center;}
.bnav a,.btnsub{ display:inline-block; width:220px; height:64px; background-color:#e8003a; border-radius:32px; line-height:64px; font-size:28px; color:#fff; margin:20px 36px 0;}
.btnsub{ text-align:center;}
.txtinput{ width:320px; height:30px; font-size:24px; padding:5px; background:#fff; border:none;}


#bgblack{ position:absolute; z-index:99; width:640px; left:0; top:0; background-color:#000; opacity:0.8; display:none;}
#rulepop{ position:absolute; width:489px; height:720px; background:url(rule.jpg) no-repeat 0 0; left:76px; top:116px;z-index:100; display:none;}
#rulepop span{ position:absolute; display:block; width:67px; height:67px; top:0; right:0; }
.sharetips{ position:absolute; width:413px; height:483px; background:url(sharepop.png) no-repeat 0 0; left:175px; top:77px; z-index:100;}

.detailbox{ background-color:#8c0e32; padding-top:29px;}
.picbox{ width:580px; height:430px; margin:0 auto; position:relative;}

.picbox img{ border-radius:10px;width:580px; height:430px; }
.bar{ position:absolute; width:580px; height:65px; bottom:0; left:0; }
.bar .bg{width:580px; height:65px; border-radius:0 0 10px 10px; background-color:#fff; opacity:0.5; position:absolute; left:0; top:0;}
.bar div{color:#8c0e32; position:absolute; left:0; top:0; height:65px; line-height:65px; width:580px;}
.btitle{ padding-left:30px; line-height:45px; color:#fff;  width:580px;font-size:28px;}
.bar div  em{padding-left:20px;  font-weight:bold;font-size:20px;  }
.intros{ width:380px; border-bottom:#e4b892 1px solid; padding:30px 0 0; height:150px; padding-bottom:10px; line-height:2; overflow-y:auto; margin:0 auto; color:#fff; font-size:22px;}
.cutlist{ padding-top:40px; padding-bottom:20px;}
.person{ width:100px; height:100px; margin:0 auto; border:#fff 1px solid; padding:4px; border-radius:54px;}
.person img{ width:100px; height:100px; border-radius:50px;}
.pname{ text-align:center; color:#fff; font-size:28px; padding-top:8px; padding-bottom:8px;}
.cutdetail{ text-align:center; padding-top:12px; color:#fff; font-size:26px;}
.cutdetail span{ background-color:#e8003a; font-size:40px; padding:0 2px; margin:0 2px; }
.cutdetail em{ font-size:20px;}

.cutfunc{ text-align:center; margin-top:40px; }
.cutfunc a{ display:inline-block; width:220px; height:64px; background-color:#e4b892; color:#e8003a; font-size:28px; line-height:64px; border-radius:32px; margin:0 24px;}
.cutman{ margin:50px auto 0; width:600px; border-top:#c77f72 1px solid;padding-bottom:50px;}
.cutman li{ border-bottom:#c77f72 1px solid; padding:10px 20px;}
.cutman li img{ width:78px; height:78px; border-radius:39px; float:left; margin-right:20px;}
.cutman li  p{ font-size:24px; color:#fff; line-height:78px;}

.cutsucc{ background:url(bg.jpg) no-repeat 0 0; height:113px; padding-top:12px; color:#fff; font-size:26px; width:640px; text-align:center;}
.cutsucc b{ font-size:32px; font-weight:normal;}
.cutsucc span{ background-color:#e8003a; font-size:40px; padding:0 2px; margin:0 2px;}
.cutsucc em{ font-size:20px;margin:0 5px;}
.cutsucc a{ text-decoration:line-through;margin:0 5px;}
.cutsucc font{ text-decoration:underline; margin:0 5px;}

.ewmbox{ background:url(ewmbg.jpg) no-repeat 0 0; padding-top:64px; width:257px; height:257px; margin:23px auto;}


@-webkit-keyframes cloundx {
	0%   {-webkit-transform:translateX(640px);}
	100% {-webkit-transform:translateX(-300px);}
}



.popsuc,.poperr{ background:url(backbg.png) no-repeat 0 0; width:520px; height:494px; position:absolute; left:60px; top:220px; z-index:9;}
.ico1,.ico2{ position:absolute; width:116px; height:114px; background:url(ico1.png) no-repeat 0 0; left:202px; top:121px;}
.ico2{background:url(ico2.png) no-repeat 0 0; }
.popsuc span,.poperr span{ display:block; width:41px; height:41px; position:absolute; right:20px; top:51px;}
.popsuc a,.poperr a{ position:absolute; display:block; width:183px; height:34px; line-height:34px; color:#fff; background-color:#b60005; text-align:center; color:#fff; font-size:20px; left:166px; top:418px;}
.popsuc p,.poperr p{ text-align:center; font-size:30px; color:#b60005; padding-top:250px;}
.popsuc div,.poperr div{ text-align:center; font-size:42px; padding-top:10px; color:#b60005; }


.picpop{ position:absolute; width:640px; left:0; text-align:center; top:0; z-index:100; overflow:hidden;}
.picpop img{width:580px; height:430px; margin-top:200px; }
