@charset "utf-8";
.skinSelect{width: 910px; height: 544px; overflow: hidden; background: #fff; position: absolute; top: 0; left: 35px; z-index: 1; box-shadow: 0 0 8px 0 rgba(112, 112, 112, 0.4); -webkit-box-shadow: 0 0 8px 0 rgba(112, 112, 112, 0.4); -moz-box-shadow: 0 0 8px 0 rgba(112, 112, 112, 0.4); display: none;}
.skinMenu{width: 160px; height: 544px; text-align: center; border-right: 1px solid #c8c8c8; float: left;}
.skinMenu h3{height: 24px; line-height: 24px; font-size: 24px; color: #5a5a5a; padding-top: 32px;}
.skinMenu p{height: 86px; padding: 20px 0 24px;}
.skinMenu ul{}
.skinMenu li{height: 38px; line-height: 38px; font-size: 15px; margin-right: 2px; padding-left: 2px;}
.skinMenu li a{color: #323232; display: block;}
.skinMenu li.cur{background: #c8c8c8; box-shadow: 3px 0 0 #0059a2;}
.skinMenu li.cur a{color: #fff;}
.skinBox{width: 707px; height: 504px; overflow-y: auto; padding: 6px 21px 0; margin: 28px 0 6px; float: left;}
.skinBox ul{}
.skinBox li{width: 200px; height: 144px; cursor: pointer; margin: 0 17px 24px; float: left; position: relative;}
.skinBox li img{width: 192px; height: 110px; border: 4px solid rgba(55, 55, 55, 0.18); display: block;}
.skinBox li p{height: 26px; line-height: 26px; font-size: 14px; color: #323232;text-align:center}
.skinBox li span{text-align:center}
.skinBox li.check:before{content: ""; width: 26px; height: 26px; background: url(../common/images/skinCheck.png) no-repeat; position: absolute; top: -6px; right: -6px;}