::-webkit-scrollbar-track-piece {
 background-color: rgba(0,0,0,0.1);
 border:0;
border-radius: 8px;
}
::-webkit-scrollbar {
 width: 8px;
 height: 8px;
 border:0;
border-radius: 8px;
}
::-webkit-scrollbar-thumb {
 background-color: #ccc;
 background-clip: padding-box;
 min-height: 28px;
 border:0;
border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
 background-color: rgba(0, 177, 7, 1);
 border:0;
border-radius: 8px;
}
a { text-decoration: none; }
ul, li { list-style: none; margin: 0; padding: 0; }
.curr { cursor: pointer }
.Panel.MsgList { top: 110px; bottom: 81px; height: auto; }
.Panel.Lottery { top: 110px; bottom: 81px; height: auto; }
.frame-dialog { top: 110px; bottom: 81px; height: auto; }
.Panel.Track { top: 110px; bottom: 81px; height: auto; }
.navbar { position: absolute; width: 440px; height: 60px; right: 0; top: 50%; margin-top: -32px; }
.navbarmenu { margin: 0; padding-top: 3px; list-style: none; }
.navbarmenu li { float: left; width: 55px; list-style: none; text-align: center; padding: 0; }
.navbarmenu li p { color: #fff; font-size: 12px; line-height: 13px; text-align: center; margin: 0 auto; padding: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.btn-popup { position: absolute; bottom: 80px; right: 0; width: 290px; background: #fff; border-radius: 10px; box-shadow: 0 3px 10px rgba(0,0,0,.3); border: 2px solid rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.75); display: none; z-index: 1000 }
.icon-arrow2 { position: absolute; right: 75px; bottom: -14px; margin-left: -6px; display: inline-block; width: 0; height: 0; font-size: 0; border: 6px dashed transparent; border-top: 6px solid #fff; }
.btn-popup .closeb { cursor: pointer; position: absolute; display: block; border-radius: 50%; width: 26px; height: 26px; text-indent: -9999px; top: -8px; right: -8px; background-color: #FFF }
.btn-popup .closeb:before { position: absolute; content: '.'; display: block; width: 16px; height: 2px; background: #000000; -webkit-transform: rotate(-45deg); top: 12px; left: 5px; }
.btn-popup .closeb:after { position: absolute; content: '.'; display: block; width: 16px; height: 2px; background: #000000; -webkit-transform: rotate(45deg); top: 12px; left: 5px; }
.btn-list { padding: 8px; overflow: hidden; margin: 0; }
.clearfix { zoom: 1; }
.btn-list li { list-style: none; float: left; width: 25%; text-align: center; }
.neicon { display: block; text-decoration: none; color: #666; padding: 10px 0 10px 0; border-radius: 6px; }
.neicon img { width: 43px; height: 43px; border-radius: 100px; -moz-transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.neicon p { font-size: 12px; color: #FFF; text-align: center; margin: 0; padding: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.small { padding: 3px 0 6px 0; }
.small img { width: 35px; height: 35px; border-radius: 3px; }
.navbarmenu .neicon:hover { background-color: rgba(0,0,0,0.25); }
.btn-list .neicon .ico001 { background-color: #ff3333 }
.btn-list .neicon .ico001- { background-color: #FF7676 }
.btn-list .neicon .ico002 { background-color: #33cc66 }
.btn-list .neicon .ico002- { background-color: #78E228 }
.btn-list .neicon .ico003 { background-color: #ffcc00 }
.btn-list .neicon .ico004 { background-color: #ff9900 }
.btn-list .neicon .ico005 { background-color: #3399cc }
.btn-list .neicon .ico006 { background-color: #ff3366 }
.btn-list .neicon .ico007 { background-color: #C375EA }
.btn-list .neicon .ico008 { background-color: #1eb7c1 }
.btn-list .neicon .ico009 { background-color: #72C700 }
.btn-list .neicon .ico010 { background-color: #BD7A00 }
.btn-list .neicon .ico011 { background-color: #6477FF }
.btn-list .neicon .ico012 { background-color: #FFA500 }
.btn-list .neicon .ico013 { background-color: #00c6ff }
.btn-list .neicon .ico015 { background-color: #D93D27 }
.btn-list .neicon .ico016 { background-color: #FF6A00 }
.btn-list .neicon .ico017 { background-color: #C82522 }
.btn-list .neicon .ico019 { background-color: #5F8AFF; }
.btn-list .neicon .ico018 { background-color: #FF9900; }
.btn-list .neicon .ico020 { background-color: #ff9900 }
.btn-list .neicon:hover { background-color: rgba(255,255,255,0.15); }
/**/
.skinLayer { position: absolute; top: 110px; bottom: 81px; width: 96%; left: 50%; margin-left: -48%; border-radius: 10px; box-shadow: 0 3px 10px rgba(0,0,0,0.3); border: 2px solid rgb(255, 255, 255); background-color: #fff; display: none; overflow: hidden; z-index: 900 }
.skinLayer .closeb { cursor: pointer; position: absolute; display: block; border-radius: 50%; width: 26px; height: 26px; text-indent: -9999px; top: -1px; right: -2px; background-color: #FFF }
.skinLayer .closeb:before { position: absolute; content: '.'; display: block; width: 16px; height: 2px; background: #000000; -webkit-transform: rotate(-45deg); top: 12px; left: 5px; }
.skinLayer .closeb:after { position: absolute; content: '.'; display: block; width: 16px; height: 2px; background: #000000; -webkit-transform: rotate(45deg); top: 12px; left: 5px; }
.skinLayer .stylebg { font-size: 14px; position: absolute; bottom: 5px; right: 10px; cursor: pointer; display: block }
.style-center { height: 100% }
.style-nav { width: 138px; height: 100%; float: left; border-right: 1px solid #d9d9d9; box-sizing: border-box; }
.style-nav-list li { width: 100%; height: 40px; }
.style-nav-list li a { display: block; width: 100%; height: 100%; background: #fff; line-height: 40px; text-align: center; color: #888; text-decoration: none; }
.style-nav-list li.curr a { background: #ededed; color: #333; }
.style-box { margin-left: 139px; height: 100%; overflow: hidden; padding: 20px 0 30px 20px; box-sizing: border-box; }
.style-img-list { overflow: auto; height: 100%; }
.style-img-list li { float: left; width: 25%; }
.style-img-list li .style-imgwrap { display: inline-block; background: #F7F7F7; padding: 4px; border: 1px solid #d7d7d7; border-radius: 3px; position: relative; margin: 10px; }
.style-img-list li .style-imgwrap:hover { background: #ffedb5; border-color: #ffd59a; }
.style-img-list li .style-imgwrap.active { background: #ffedb5; border-color: #ffd59a; }
.style-img-list li .style-imgwrap .style-select { display: none }
.style-img-list li .style-imgwrap.active .style-select { display: block; background: url(../../index/menubottomimg/okok.png) no-repeat; width: 32px; height: 32px; position: absolute; top: -10px; right: -10px; }
.style-img-list li .style-imgwrap p { padding: 0; margin: 0 auto; text-align: center; color: #999; font-size: 14px }
.style-img-list li .style-imgwrap.active p { color: #333; }
.style-img-list li .style-img { width: 100%; border: 1px solid rgba(255, 255, 255, 0.5); }
/**/
.videoplay { position: absolute; top: 110px; bottom: 81px; width: 96%; left: 50%; margin-left: -48%; border-radius: 10px; box-shadow: 0 3px 10px rgba(0,0,0,0.3); border: 2px solid rgb(255, 255, 255); background-color: #fff; display: none; overflow: hidden; z-index: 800; }
.videoplay .closeb { cursor: pointer; position: absolute; display: block; border-radius: 50%; width: 26px; height: 26px; text-indent: -9999px; top: 2px; right: 2px; background-color: #FFF; z-index: 200 }
.videoplay .closeb:before { position: absolute; content: '.'; display: block; width: 16px; height: 2px; background: #000000; -webkit-transform: rotate(-45deg); top: 12px; left: 5px; }
.videoplay .closeb:after { position: absolute; content: '.'; display: block; width: 16px; height: 2px; background: #000000; -webkit-transform: rotate(45deg); top: 12px; left: 5px; }
.video_id { background-color: #2F2F2F; position: relative; z-index: 100; width: 100%; height: 100% }
.playbtn { position: absolute; z-index: 200; left: 5px; top: 5px; background-color: #fff; border: 0; border-radius: 30px; padding: 5px; cursor: pointer; -webkit-text-size-adjust: none; -webkit-appearance: none; outline: none; }
/**/
.an {
    position: absolute;
    width: 430px;
    bottom: 40px;
    left: 50%;
    margin-left: -215px;
	text-align:center
}
.an a{
    padding: 10px 20px;
    background-color: #01BD1F;
    border-radius: 30px;
    color: #fff;
}