@charset "UTF-8";
div,
p,
span,
label,
img,
a,
ol,
ul,
dl,
dt,
dd,
li,
table,
tr,
td,
th,
tbody,
thead,
tfoot,
form,
fieldset,
legent,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
em,
blockquote,
cite,
pre,
code,
hr,
br,
input,
button,
textarea,
article,
aside,
details,
figcaption,
figure,
footer,
header,
group,
menu,
nav,
section {
    padding: 0px;
    margin: 0px;
}

/*body {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

body {
    font-size: 62.5%;
    color: #333;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #f2f2f2;
}*/

input,
textarea,
button,
select,
pre {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

a {
    color: #333;
}

a:link,
a:visited {
    text-decoration: none;
}

/*html,
body {
    position: relative;
    height: 100%;
}*/

/*body > .swiper-container {
    width: 100%;
    height: 100%;
}*/

ol,
ul {
    list-style-type: none;
}

caption,
cite,
code,
em,
th,
var,
i {
    font-weight: normal;
    font-style: normal;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    width: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
}

.clearit {
    clear: both;
    zoom: 1;
}

.hidden {
    display: none;
}

.vhidden {
    visibility: hidden;
}

.hide-txt {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.left {
    float: left;
    display: inline;
}

.right {
    float: right;
    display: inline;
}

.fnone {
    float: none;
}

.txtleft {
    text-align: left;
}

.txtright {
    text-align: right;
}

.txtcenter {
    text-align: center;
}

.middle {
    vertical-align: middle;
}

.noborder {
    border: 0 none !important;
}



.newfooter {
    display: none;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 999999;
    width: 100%;
    height: 49px;
    border-top: 1px solid #ccc;
    background: #fff;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    line-height: 18px;
}

.newfooter-menu1 {}

.newfooter-menu1 li {
    float: left;
    width: 25%;
    height: 49px;
}

.newfooter-menu1 li a {
    display: block;
    height: 43px;
    padding: 6px 0 0;
    text-align: center;
    font-size: 14px;
    color: #777;
    position: relative;
}

.newfooter-menu1 li em {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(icons-menu1.png);
    background-repeat: no-repeat;
    background-size: auto 64px;
    margin: 0 auto;
}


.icon-live {
    background-position: 1px -41px;
}

.newfooter-menu1 li.curr .icon-live {
    background-position: 1px -1px;
}

.icon-interact {
    background-position: -67px -41px;
}

.newfooter-menu1 li.curr .icon-interact {
    background-position: -67px -1px;
}

.icon-find {
    background-position: -184px -41px;
}

.newfooter-menu1 li.curr .icon-find {
    background-position: -184px -1px;
}

.icon-mine {
    background-position: -253px -41px;
}

.newfooter-menu1 li.curr .icon-mine {
    background-position: -253px -1px;
}

.newfooter-menu1 li a.btn-menu {
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 40px;
    background: #31b16c;
    margin: 0 auto;
    position: relative;
    top: 4px;
    z-index: 10;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.newfooter-menu1 li a.btn-menu em {
    display: inline-block;
    width: 20px;
    height: 2px;
    overflow: hidden;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -10px;
}

.newfooter-menu1 li a.btn-menu em:last-child {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: -1px 0 0 -10px;
}

.newfooter-menu1 li.curr a.btn-menu {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: none;
}

.newfooter-menu1 li.curr a.btn-menu em {
    background: #31b16c;
}


.newfooter-hdmu {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
}

.newfooter-hdmu ul {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.newfooter-hdmu li {
    float: left;
    width: 25%;
    height: auto;
    text-align: center;
}

.newfooter-hdmu li a {
    display: block;
    padding: 0 0 10px;
}

.newfooter-hdmu li .name {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #333;
}

.newIcon {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 9px;
    margin: 0 auto;
}

.newIcon i {
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(func_icos_cache.png?v=16103103zxy);
    background-size: auto 275px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.newIcon-lottery i {
    background-position: 0 0;
}

.newIcon-pair i {
    background-position: -55px 0;
}

.newIcon-vote i {
    background-position: -110px 0;
}

.newIcon-checkin i {
    background-position: -165px 0;
}

.newIcon-shake i {
    background-position: 0 -55px;
}

.newIcon-danmu i {
    background-position: -55px -55px;
}

.newIcon-rate i {
    background-position: -110px -55px;
}

.newIcon-dashang i {
    background: url(icon-shang.png) center center no-repeat;
    background-size: 31px auto;
}

.newIcon-paper i {
    background-position: 0 -110px;
}

.newIcon-laohuji i {
    background-position: -55px -110px;
}

.newIcon-comment i {
    background-position: -110px -110px;
}

.newIcon-wheel i {
    background: url(icon-wheel.png) center center no-repeat;
    background-size: 38px auto;
}

.newIcon-tree i {
    background-position: 0 -165px;
}

.newIcon-shakeTree i {
    background-position: -55px -165px;
}

.newIcon-customLogoWall i {
    background-position: -110px -165px;
}

.newIcon-shakePaper i {
    background-position: -165px -165px;
}

.newIcon-microInterview i {
    background-position: -220px 0px;
}

.newIcon-danmu2 i {
    background-position: -220px -55px;
}

.newIcon-xiu i {
    background-position: -109px -220px;
}

.newIcon-money i {
    background-position: -165px -220px;
}

.newIcon-photo i {
    background-position: 0px -220px;
}

.newIcon-qdHead i {
    background-image: url(func_icos_qdHead.png?v=20170317);
    background-position: center center;
    background-size: 100%;
}

@-webkit-keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bounceInUp {
    -webkit-animation: bounceInUp 1s ease forwards;
    animation: bounceInUp 1s ease forwards;
}

@-webkit-keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}

@keyframes bounceOutDown {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
}

.bounceOutDown {
    -webkit-animation: bounceOutDown 1s ease forwards;
    animation: bounceOutDown 1s ease forwards;
}

.hidden {
    display: none;
}
