{template 'common/header'}
<ul class="nav nav-tabs">
    <li>
        <a href="{php echo $this->createWebUrl('region', array('op' => 'list'));}">返回小区</a>
    </li>
    <li {if $op == 'list'}class="active" {/if}>
    <a href="{php echo $this->createWebUrl('building', array('op' => 'list','regionid' => $regionid));}">设备管理</a>
    </li>
    <li>
        <a href="{php echo $this->createWebUrl('building', array('op' => 'add','regionid' => $regionid));}">新增设备</a>
    </li>

</ul>

<div style="padding:15px;">
    <table class="table table-hover table-condensed">
        <thead class="navbar-inner">
        <tr>
            <th class="col-md-1">区域</th>
            <th class='col-md-1'>楼宇名称</th>
            <th class='col-md-1'>单元号</th>
            <th class='col-md-1'>设备编号</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {loop $list $item}
        <tr>
            <td>{if $item['type'] == 1}单元门{else}大门{/if}</td>
            <td>{$item['title']}</td>
            <td>{if $item['unit']}{$item['unit']}{else}空{/if}</td>
            <td>{$item['device_code']}</td>
            <td>
                <!-- <a  href="{php echo $this->createWebUrl('region',array('op' => 'room','id' => $item['id']))}" title="" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-plus"></i>导入房号</a> -->

                <a href="{php echo $this->createWebUrl('building',array('op' => 'add','id' => $item['id'],'regionid' => $regionid))}" title="编辑" class="btn btn-default btn-sm" ><i class="fa fa-edit" data-toggle="tooltip" data-placement="top"></i>编辑</a>

                <a href="{php echo $this->createWebUrl('building',array('op' => 'delete','id' => $item['id']))}" title="删除" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-sm" data-original-title="删除"><i class="fa fa-times"></i>删除</a>
                <a href="{php echo $this->createWebUrl('building',array('op' => 'qrcreate','id' => $item['id']))}" title="生成二维码" data-toggle="tooltip" data-placement="top" class="btn btn-info" data-original-title="生成二维码"><i class="glyphicon glyphicon-plus-sign"></i>生成二维码</a>
            </td>
        </tr>
        {/loop}
        </tbody>
    </table>
    {$pager}
</div>
{template 'common/footer'}g