@charset "utf-8";
html,
body,
div,
p,
span,
label,
img,
a,
ol,
ul,
dl,
dt,
dd,
li,
table,
tr,
td,
th,
tbody,
thead,
tfoot,
form,
fieldset,
legent,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
em,
blockquote,
cite,
pre,
code,
hr,
br,
input,
button,
textarea,
article,
aside,
details,
figcaption,
figure,
footer,
header,
group,
menu,
nav,
section {
    padding: 0px;
    margin: 0px;
}

a {
    border: 0 none;
    cursor: pointer;
}

ol,
ul {
    list-style-type: none;
}

em,
i {
    font-style: normal;
}

a:link,
a:visited {
    text-decoration: none;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    width: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
}

.left {
    float: left;
    display: inline;
}

.right {
    float: right;
    display: inline;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1em;
}

body {
    font-family: "Microsoft yahei", "SimHei";
    color: #fff;
}

#whole {
    width: 1024px;
    height: auto;
    top: 5%;
    right: 5%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
}

#header {
    padding-top: 25px;
}



.sqHn {
    min-width: 1150px;
    max-width: 1210px;
    margin: 0 auto;
    padding: 40px 0px 0
}

.sqHn .title {
    width: 34px;
    height: auto;
    font-size: 30px;
    color: #fff;
    font-weight: none;
    line-height: 32px;
    word-wrap: break-word;
}

.sqHn .mli {
    width: 1100px;
    height: 562px;
    position: relative;
}

.sqHn .mli span {
    position: absolute;
    background: no-repeat;
    background-size: 100% auto;
}

.sqHn .mli span:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 0;
    top: 20px;
}

.sqHn .mli span:nth-child(2) {
    width: 150px;
    height: 150px;
    left: 100px;
    top: 0px;
}

.sqHn .mli span:nth-child(3) {
    width: 120px;
    height: 120px;
    left: 260px;
    top: 10px;
}

.sqHn .mli span:nth-child(4) {
    width: 100px;
    height: 100px;
    left: 390px;
    top: 0px;
}

.sqHn .mli span:nth-child(5) {
    width: 140px;
    height: 140px;
    left: 500px;
    top: 30px;
}

.sqHn .mli span:nth-child(6) {
    width: 80px;
    height: 80px;
    left: 650px;
    top: 0;
}

.sqHn .mli span:nth-child(7) {
    width: 90px;
    height: 90px;
    left: 740px;
    top: 10px;
}

.sqHn .mli span:nth-child(8) {
    width: 100px;
    height: 100px;
    left: 840px;
    top: 10px;
}

.sqHn .mli span:nth-child(9) {
    width: 140px;
    height: 140px;
    left: 950px;
    top: 5px;
}

.sqHn .mli span:nth-child(10) {
    width: 150px;
    height: 150px;
    left: 685px;
    top: 105px;
}

.sqHn .mli span:nth-child(11) {
    width: 100px;
    height: 100px;
    left: 0;
    top: 110px;
}

.sqHn .mli span:nth-child(12) {
    width: 70px;
    height: 70px;
    left: 110px;
    top: 160px;
}

.sqHn .mli span:nth-child(13) {
    width: 150px;
    height: 150px;
    left: 190px;
    top: 155px;
}

.sqHn .mli span:nth-child(14) {
    width: 140px;
    height: 140px;
    left: 350px;
    top: 140px;
}

.sqHn .mli span:nth-child(15) {
    width: 180px;
    height: 180px;
    left: 495px;
    top: 190px;
}

.sqHn .mli span:nth-child(16) {
    width: 100px;
    height: 100px;
    left: 690px;
    top: 270px;
}

.sqHn .mli span:nth-child(17) {
    width: 120px;
    height: 120px;
    left: 845px;
    top: 160px;
}

.sqHn .mli span:nth-child(18) {
    width: 80px;
    height: 80px;
    left: 970px;
    top: 155px;
}

.sqHn .mli span:nth-child(19) {
    width: 90px;
    height: 90px;
    left: 990px;
    top: 250px;
}

.sqHn .mli span:nth-child(20) {
    width: 180px;
    height: 180px;
    left: 10px;
    top: 250px;
}

.sqHn .mli span:nth-child(21) {
    width: 100px;
    height: 100px;
    left: 0;
    top: 450px;
}

.sqHn .mli span:nth-child(22) {
    width: 80px;
    height: 80px;
    left: 130px;
    top: 440px;
}

.sqHn .mli span:nth-child(23) {
    width: 250px;
    height: 250px;
    left: 220px;
    top: 310px;
}

.sqHn .mli span:nth-child(24) {
    width: 100px;
    height: 100px;
    left: 480px;
    top: 380px;
}

.sqHn .mli span:nth-child(25) {
    width: 170px;
    height: 170px;
    left: 600px;
    top: 380px;
}

.sqHn .mli span:nth-child(26) {
    width: 180px;
    height: 180px;
    left: 800px;
    top: 295px;
}

.sqHn .mli span:nth-child(27) {
    width: 70px;
    height: 70px;
    left: 1020px;
    top: 350px;
}

.sqHn .mli span:nth-child(28) {
    width: 110px;
    height: 110px;
    left: 985px;
    top: 430px;
}

.sqHn .mli span:nth-child(29) {
    width: 80px;
    height: 80px;
    left: 780px;
    top: 480px;
}

.sqHn .mli span:nth-child(30) {
    width: 80px;
    height: 80px;
    left: 900px;
    top: 480px;
}

.sqHn .mli span:nth-child(31) {
    width: 180px;
    height: 180px;
    left: 10px;
    top: 565px;
}

.sqHn .mli span:nth-child(32) {
    width: 70px;
    height: 70px;
    left: 280px;
    top: 550px;
}

.sqHn .mli span:nth-child(33) {
    width: 110px;
    height: 110px;
    left: 385px;
    top: 530px;
}

.sqHn .mli span:nth-child(34) {
    width: 80px;
    height: 80px;
    left: 580px;
    top: 550px;
}

.sqHn .mli span:nth-child(35) {
    width: 80px;
    height: 80px;
    left: 900px;
    top: 560px;
}


/*新消息弹层*/

.pp {
    width: 100%;
    min-height: 855px;
    position: absolute;
    ;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 999
}

.pp .mask {
    width: 100%;
    position: absolute;
    ;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
}

.pp .inner {
    width: 100%;
    position: absolute;
    ;
    left: 0;
    top: 0;
    bottom: 0
}

.pp .picBox {
    position: absolute;
    left: 50%;
    top: 130px;
    margin-left: -300px;
    height: 600px;
    width: 600px;
    overflow: hidden
}

.pp .picBox.move {
    margin-left: 0px;
}

.pp .picBox span {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
}


.rubberInLeft {
    animation-name: msgMni;
}

@keyframes msgMni {
    from {
        width: 0;
    }
    to {
        width: 600px;
    }
}
