{template 'common/header'}
<style> 
html,body,form{ margin:0px; padding:0px;font-size:62.5%;color:#333333;font-family:arial,'宋体';  }
h1,h2,h3,h4,h5,h6,ul,li,form,div,p,img,dl,dt,dd{margin:0px;padding:0px; list-style:none;font-size:1.4rem;font-family:arial,'宋体';}
a:link, a:visited{color:#333333;text-decoration:none; font-weight:normal;font-size:1.4rem;outline:none 0px}
a:hover{color:#FF850E;text-decoration:none;font-weight:normal;font-size:1.4rem;outline:none 0px}
img{ border:0 none;}
 .switch{ font-size:12px; height:25px; line-height:25px; color:#042E64;} 
 	
	/*防伪码输入*/
header.checkuphead {background-color:#f2f2f2;border-top:4px solid #66b110;position:relative;padding-top:28px;padding-bottom:28px;}
    header.checkuphead h1 { width:90%; background:url({MODULE_URL}template/mobile/default/logo033.png) no-repeat right center;  background-size:auto 23px; height:40px;  margin:0 auto; position:relative;}
        header.checkuphead h1 span {display:block; width:200px; height:40px; background:url({MODULE_URL}template/mobile/default/logo.png) no-repeat left center ; background-size:auto 40px; position:absolute; top:-5px;}

    header.checkuphead h2 { width:90%; margin:0 auto;height:35px; position:relative; margin-top:13px;}
        header.checkuphead h2 .inputext { width:60%; height:35px; padding:0; border:0; border-radius:3px 0 0 3px; display:block; box-shadow:0px 2px 2px rgba(0,0,0,0.2); text-indent:10px; font-size:1.6rem;-webkit-appearance: none;}
        header.checkuphead h2 .aa { width:21%; height:35px; position:absolute; right:20%; top:0; padding:0;  background:#95e840; display:block; border:0; box-shadow:0px 2px 2px rgba(0,0,0,0.2); font-size:1.6rem; -webkit-appearance: none; color:#046703;text-align:center; line-height:35px;}		
		
        header.checkuphead h2 .submitbut { width:20%; height:35px; position:absolute; right:0; top:0; padding:0;  background:#95e840; display:block; border:0; box-shadow:0px 2px 2px rgba(0,0,0,0.2); border-radius:0 3px 3px 0; font-size:1.6rem; -webkit-appearance: none; color:#046703;}
section.checkupsection  { padding:15px;}
    section.checkupsection article h2 { font-size:1.4rem; font-weight:600;}
    section.checkupsection article .checkupstep {border-left:1px solid #cccccc; margin:20px 20px; position:relative;}
        section.checkupsection article .checkupstep h1 { padding-left:24px; background:url({MODULE_URL}template/mobile/default/label.png) no-repeat center left; background-size:16px 16px; position:relative; left:-9px; top:-2px; margin-bottom:5px; font-weight:600; font-size:1.6rem;}
        section.checkupsection article .checkupstep p { padding-left:20px; background:url({MODULE_URL}template/mobile/default/label02.png) no-repeat center left; background-size:10px 10px; position:relative; left:-6px; margin-bottom:20px; color:#5b5b5b; font-size:1.4rem;}
section.resultcompany  { padding:0 15px 0 15px;}
section.resultcompany article{  padding:10px 0; height:auto;}
    section.resultcompany article h1 {padding-left:22px; background:url({MODULE_URL}template/mobile/default/label.png) no-repeat center left; background-size:16px 16px; margin-bottom:5px; font-weight:600; font-size:1.6rem;}
        section.resultcompany article h1 span { font-size:1.4rem; font-weight:400; color:#5a5a5a;}
    section.resultcompany article .compresult { color:#59a910; padding-left:21px;}
    section.resultcompany article .tipspic { border-top:1px solid #cccccc;}
        section.resultcompany article .tipspic p.tipbox01 { border:1px solid #cccccc; border-top:0;}
            section.resultcompany article .tipspic p.tipbox01 img {  height:auto; width:95%; padding:15px 2.5%;}
            section.resultcompany article .tipspic p.tipbox01 span { padding:10px 15px; color:#5a5a5a; background:#f1f0eb; display:block;  height:auto;}
    section.resultcompany article ul {padding:0px 0 0 21px; height:auto;}
    section.resultcompany article ul li { border-bottom:1px solid #cccccc; padding:5px 0 5px; height:auto;}
    section.resultcompany article .compintrd {border:1px solid #cccccc; padding:10px 15px;  height:auto;}
     section.resultcompany article .compintrd p{ line-height:20px;}
        section.resultcompany article .compintrd img {  height:auto; width:100%;}

</style>
<header class="checkuphead">
<form name='form3' method='post' action='?'>
<input type="hidden" name="c" value="entry" />
<input type="hidden" name="do" value="c" />
<input type="hidden" name="u" value="i" />
<input type="hidden" name="h" value="{$sun}" />
<input type="hidden" name="m" value="zmcn_fw" />
<input type="hidden" name="i" value="{$_W['uniacid']}" />
<input type="hidden" name="token" value="{$_W['token']}" />
		<h1><span style="display:block;  height:40px; background:url({php echo tomedia($settings['logo']);}) no-repeat left center; background-size:auto 40px;"></span></h1>
        <h2><p><input name="co" type="text" id="co" class="inputext" placeholder="请输入防伪码" value=""><a href="javascript:scanQrcode()" id="scanbtn" class='aa'><i class="fa fa-qrcode"></i> <span>扫码</span></a><input name="Query" type='submit' onclick="b1_onclick();" value="查询真伪" class="submitbut"></p></h2>
</form>
</header>
    <section class="checkupsection">
        <article>
            <h2>请对照您所购买的产品上的防伪标识，依次输入防伪密码，验证结
果分别为以下三种情况：</h2>
            <div class="checkupstep">
                <h1>正确查询：</h1>
                <p>即您所购买的商品为正牌产品</p>
                <h1>重复查询：</h1>
                <p>即同一验证码被多次查验，请确认首次查验是否由您本人
所为，若非本人所为，则可能为假冒商品</p>
                <h1>错误查询：</h1>
                <p>即验证密码不存在，您所购买的产品未经官方验证</p>
            </div>

        </article>
    </section>
    <section class="resultcompany">
        <article id="A1">
            <h1>防伪标识：</h1>
            <div class="tipspic">
                <span id="Labshow1"><p class="tipbox01"><img src="{$settings['fwbs']['t1']}"></p><p class="tipbox01"><img src="{$settings['fwbs']['t2']}"></p></span>
            </div>
        </article>

        <article id="A2">
            <h1>公司简介</h1>
            <div class="compintrd2">
                
                <div class="content" style="padding-bottom:15px;"> 
<span id="Labshow2">{$settings['profile']}</span></div> 
            </div>
        </article>
    </section>


<script language="javascript">
function scanQrcode(){
	wx.scanQRCode({
		needResult: 1, 
		scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
		success: function (res) {
			var Request=new UrlSearch(res.resultStr); //实例化
			document.getElementById("co").value = Request.co;
		}
	});
}

function UrlSearch(url) 
{
	var name,value;
	var num=url.indexOf("?") 
	url=url.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]
	var arr=url.split("&"); //各个参数放到数组里
	for(var i=0;i < arr.length;i++){ 
		num=arr[i].indexOf("="); 
		if(num>0){ 
			name=arr[i].substring(0,num);
			value=arr[i].substr(num+1);
			this[name]=value;
		} 
	} 
}
</script>
<!--导航菜单 后台设置的快捷菜单-->
<footer  style="text-align:center;">
    <div style="color: #000;" style="text-align:center;"><br>
        {$_W['account']['name']}
	</div>
</footer>
{template 'common/footer'}