/*手机端样式*/
#wrap { height:100%;min-width: 320px; max-width:640px;margin:0 auto; overflow: hidden;/*background:url(../bg.jpg) no-repeat; background-size:100% 100%;*/-webkit-box-sizing: border-box; -moz-box-sizing:border-box; }
.modbgd {display:block; position:absolute;bottom:0px;width:100%; max-width:640px; margin:0 auto;/*-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px; border-radius:10px; */
-webkit-animation-name: "bgd"; /*动画名称，需要跟@keyframes定义的名称一致*/
-webkit-animation-duration: 2s;/*动画持续的时间长*/
-webkit-animation-iteration-count: 1;/*动画循环播放的次数*/}
.title{width:15%; max-width:120px;padding:3%; text-align:center; margin:0 auto; background:rgba(34,34,34,0.9);border-radius:10px 10px 0 0;}
.content{width:100%; padding:4% 0%;background:rgba(34,34,34,0.9); color:#fff; height:220px;}
.content_list{width:93%; margin:0 auto;}
.content_list li{display:inline-block;width:49.4%; margin-left:0.1%; margin-bottom:1.5%;}
.menu {display:block; width:90%;position:relative;  padding:0.1% 12%; line-height:1.5; /*background:rgba(255,255,255,0.27);*/-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px; border-radius:10px; margin-top:1%;
animation:mymove 1.5s infinite;
-webkit-animation:mymove 1.5s infinite;
animation-iteration-count:1;
-webkit-animation-iteration-count:1;
}
.line{width:90%; margin:0 auto; background:#fff; height:1px; line-height:1px;background:rgba(255,255,255,0.2);}
.line_s{width:75%;background:#fff; height:1px; line-height:1px;background:rgba(255,255,255,0.2); margin-left:20%;}
.icon {float:left; display:block; line-height:3; margin-top:8%;}
.tle { display:block; float:left;line-height:3; font-size:2em; color:#fff;margin-left:5px;}
footer {position:fixed;bottom:0;display:block; width:100%;min-width: 320px; max-width:640px; line-height:2.5; background:#000; color:#fff; font-size:1.4em; text-align:center;}

@-webkit-keyframes mymove {
     from { left:-300px;}    
     to {left:0px;}
  }
@-webkit-keyframes 'bgd' {
     from { opacity:0}    
     to { opacity:1;}
  }  


