@charset "gb2312";
/* CSS Document */
*{padding: 0; margin: 0;}
body { margin:0 auto;background: #ffffff; font-family: "ºÚÌå"; -webkit-overflow-scrolling: touch; }
.avatar { display: block; margin: -40px auto 0 auto; border-radius: 500px; }
.nickname { text-align: center; font-size: 0.8125rem; margin-top: 5px; }
.btn, .btn-give { border: none; background: #bd2821; width: 200px; padding: 8px 0; display: block; text-align: center; color: #fff; font-size: 0.875rem; border-radius: 20px; margin: 10px auto 20px auto; }
.already-get { height: 30px; line-height: 30px; background: #ededed; color: #999; padding-left: 20px; font-size: 0.8125rem; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}

.content { position: relative; padding: 0 10px; }
.content ul { list-style: none; }
.content ul li { box-sizing: border-box; padding: 10px; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: justify; width: 100%; border-bottom: 1px solid #dfdfdf; }
.content ul li:last-child { border: none; }
.content ul li .receiver_avatar { border-radius: 50px; -wekbit-box-flex: 1; margin-right: 10px; }
.content ul li .receiver_info { -webkit-box-flex: 1; position: relative; top: -5px;font-size: 24px; }
.content ul li .receiver_info .time { color: #c7c7c7; font-size: 0.75rem; margin-left: 5px; }
.content ul li .receiver_info .desc { color: #7c7c7c; font-size: 0.75rem; }
.content ul li .receiver_flow { text-align: right; color: #666666; }
.content ul li .receiver_flow img { position: absolute; left: 14px; bottom: 3px; }

