{template 'common/header'}

<style>
  .list li{
      list-style: none;
      padding: 0;
  }
  .list h3{
    padding: 5px 8px;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  p.pic{display: block;overflow: hidden;}
  p.pic img{float: left; margin-right: 5px;}
  img{max-width: 100%;}
</style>
 {if $_item}
<div class="panel-info panel">
  <div class="panel-heading">
     手持身份证信息或组织信息
  </div>
  <div class="panel-body list" style="padding:15px 0;">

       {if $_item['type']==1}
       <table class="table table-bordered">
         <tr>
           <th colspan="2">【{php echo urldecode($_item['nickname'])}】</th>
         </tr>
           <tr>
             <td>项目图标</td>
             <td>{$project['project_logo']}</td>
           </tr>
           <tr>
             <td>组织机构资质证明</td>
             <td><img src="{php echo _getpic($_item['zuzhi'])}" data-pic="{php echo _getpic($_item['zuzhi'])}" class='cclick' style="max-width:250px;"></td>
           </tr>
           <tr>
             <td>组织名称</td>
             <td>{$_item['zuzhir_name']}</td>
           </tr>
           <tr>
             <td>联系方式</td>
             <td>{$_item['zuzhi_info']}</td>
           </tr>
           <tr>
             <th colspan="2">资金用途证明</th>
           </tr>
           <tr>
             <td colspan="2">
               {loop $zhengm $row}
                <img src="{$row['pic']}"  data-pic="{$row['pic']}" class='cclick' style="max-width:150px">
               {/loop}
             </td>
           </tr>
       </table>

       {else}

       <table class="table table-bordered">
         <tr>
           <th colspan="2">【{php echo urldecode($_item['nickname'])}】</th>
         </tr>

           <tr>
             <td>收款人手持身份证</td>
             <td><img src="{php echo _getpic($_item['idcar'])}" data-pic="{php echo _getpic($_item['idcar'])}" class='cclick' style="max-width:250px;"></td>
           </tr>
           <tr>
             <td>收款人姓名</td>
             <td>{$_item['creator_name']}</td>
           </tr>
           <tr>
             <td>收款人关系</td>
             <td>{$_item['creator_relation']}</td>
           </tr>
           <tr>
             <td>收款人身份证</td>
             <td>{$_item['creator_id']}</td>
           </tr>
           <tr>
             <td>收款人电话号码</td>
             <td>{$_item['creator_phone']}</td>
           </tr>
           <tr>
             <td>受助人姓名</td>
             <td>{$_item['sz_name']}</td>
           </tr>
           <tr>
             <td>所患疾病</td>
             <td>{$_item['disease']}</td>
           </tr>
           <tr>
             <td>收款人身份证</td>
             <td>{$_item['sz_creator_id']}</td>
           </tr>
           <tr>
             <th colspan="2">受助人身份和医院证明</th>
           </tr>
           <tr>
             <td colspan="2">
               {loop $zhengm $row}
                                        <img src="{$row['pic']}"  data-pic="{$row['pic']}" class='cclick' style="max-width:150px">
               {/loop}
             </td>
           </tr>
       </table>
       {/if}
    </ul>
     <div class="col-md-12 text-right">
        {if $_item['status']==1}
        <a  class="btn btn-md btn-success" disabled>已通过认证</a>
        {elseif $_item['status']==3}
        <a  class="btn btn-md btn-danger" disabled>已被驳回等待重新申请</a>
        {else}
        <a href="{php echo $this->createWebUrl('choukuan',array('dopost'=>'done_renz','id'=>$_item['id'],'status'=>1))}" class="btn btn-md btn-info">通过认证</a>
        <a href="{php echo $this->createWebUrl('choukuan',array('dopost'=>'done_renz','id'=>$_item['id'],'status'=>3))}" class="btn btn-md btn-danger">驳回认证</a>
        {/if}
        <button onclick="history.go(-1)" class="btn btn-default btn-md">返回</button>
     </div>
  </div>

</div>
{/if}

{if $_item2}
   <div class="panel panel-info">

       <div class="panel-heading">
            医院验证
       </div>
       <div class="panel-body">
            <table class="table table-bordered">
                   <tr>
                     <th colspan="2" >受助人信息</th>
                   </tr>
                    <tr>
                      <td>受助人姓名</td>
                      <td>{$_item2['dis_name']}</td>
                    </tr>
                    <tr>
                      <td>身份证</td>
                      <td>
                         {$_item2['dis_idcar']}
                      </td>
                    </tr>
                    <tr>
                      <td>医院名称</td>
                      <td>{$_item2['hospital']}</td>
                    </tr>
                    <tr>
                      <td>所患疾病</td>
                      <td>{$_item2['disease']}</td>
                    </tr>
                    <tr>
                      <th colspan="2">收款人信息</th>
                    </tr>
                    <tr>
                      <td>姓名</td>
                      <td>
                        {$_item2['creator_name']}
                      </td>
                    </tr>
                    <tr>
                      <td>身份证</td>
                      <td>
                        {$_item2['creator_id']}
                      </td>
                    </tr>
                    <tr>
                      <td>联系电话</td>
                      <td>
                        {$_item2['creator_phone']}
                      </td>
                    </tr>
                    <tr>
                      <td>描述</td>
                      <td>
                        {$_item2['desction']}
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">相关图片</th>
                    </tr>
                    <tr>
                      <td colspan="2">
                        {loop $_item2pic $row}
                          <img src="{$row['pic']}"  data-pic="{$row['pic']}" class='cclick' style="max-width:150px">
                        {/loop}
                      </td>
                    </tr>
            </table>

            <div class="col-md-12 text-right">
               {if $_item2['status']==1}
               <a  class="btn btn-md btn-success" disabled>已通过认证</a>
               {elseif $_item2['status']==3}
               <a  class="btn btn-md btn-danger" disabled>已被驳回等待重新申请</a>
               {else}
               <a href="{php echo $this->createWebUrl('choukuan',array('dopost'=>'done_hospital','id'=>$_item2['id'],'status'=>1))}" class="btn btn-md btn-info">通过认证</a>
               <a href="{php echo $this->createWebUrl('choukuan',array('dopost'=>'done_hospital','id'=>$_item2['id'],'status'=>3))}" class="btn btn-md btn-danger">驳回认证</a>
               {/if}
               <button onclick="history.go(-1)" class="btn btn-default btn-md">返回</button>
            </div>
       </div>
   </div>
{/if}

<script>


        $(function(){
            $(".cclick").bind('click',function(){
              var pic = $(this).attr('data-pic');

              $("#bigpic").attr('src',pic);
                $('#myModal').modal('show');

            })
        })

</script>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">大图</h4>
      </div>
      <div class="modal-body text-center">
           <img src="" id="bigpic">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
