<style>
    .mainMenu {position: fixed;width: 100%;height: 50px;bottom: 0;left: 0;background-color: #FCFCFC;border-top: 1px solid #EAEAE8;font-size: 12px;}
    .mainMenu div {width: 25%;height: 22px;line-height: 22px;float: left;text-align: center;padding-top: 28px;background-image: url({AMOUSE_HUFEN_RES}images/toolsGray.png);background-repeat: no-repeat;background-size: 50px auto;color: #888;}
    .mainMenu div.selected {background-image: url({AMOUSE_HUFEN_RES}images/toolsBlue.png);color: #169ADA;}
    .mainMenu a div {color: #888;position: relative;}
    .mainMenu .myHome {background-position: 50% -7px;}
    .mainMenu .publish {background-position: 50% -108px;}
    .mainMenu .find {background-position: 50% -56px;}
    .mainMenu .find .redPoint {position: absolute;top: 7px;padding: 0;left: 50%;margin-left: 8px;width: 8px;height: 8px;border-radius: 4px;background-color: #DF1F0A;display: none;}
    .mainMenu .my {background-position: 50% -157px;}
</style>
<div class="mainMenu" style="height:50px;">
    <a href="{php echo $this->createMobileUrl('board',array('ptype'=>'person'),true)}">
        <div class="myHome {if empty($_GPC['do'])||$_GPC['do']=='board'}selected{/if}"> 首页 </div>
    </a>
    <a href="{php echo $this->createMobileUrl('vip',array('op'=>'step1'),true)}">
        <div class="find {if $_GPC['do']=='vip'}selected{/if}">兑换VIP</div>
    </a>
    <a href="{if $custom_set && $custom_set['bottomlink2']}{$custom_set['bottomlink2']}&curmod={$curmod}{else}{php echo $this->createMobileUrl('release',array('ptype'=>'person'),true)}{/if}">
        <div class="publish {if $_GPC['do']=='exchage'}selected{/if}">{if $custom_set &&$custom_set['bottomtxt2']}{$custom_set['bottomtxt2']}{else}发布{/if}</div>
    </a>
    <a href="{php echo $this->createMobileUrl('me',array('op'=>'me'),true)}"><div class="my {if $_GPC['do']=='me'}selected{/if}">个人中心</div></a>
</div>