					<style>
                    	.header small{
                    		color:#aaa
                    	}
                    </style>
<!--
             <div id="page"  style="display:none;">
-->
<div id="page" style="height: 100%;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		<div class="pull-right" id='minepm'>
			<div class="pull-right" style="padding:0 10px 0 10px;">
				<small>排名</small>
				<h3 id="page-header-pm" style="font-size:18px;margin-top: 5px;margin-bottom: 0;">33</h3>
			</div>
			<div class="pull-right" style="padding:0 10px 0 10px;">
				<small>得分</small>
				<h3 id="page-header-df" style="font-size:18px;margin-top: 5px;margin-bottom: 0;">123</h3>
			</div>
			<div class="pull-right" style="padding:0 10px 0 10px;">
				<small>编号</small>
				<h3 id="page-header-bh" style="font-size:18px;margin-top: 5px;margin-bottom: 0;">1</h3>
			</div>
		</div>
		<div class="clearfix">
			<img id="page-header-avatar" src="" class="img-responsive" style="width: 45px;height: 45px;float: left;border-radius: 45px;">
			<h3 id="page-header-nickname" style="padding-left:60px;"></h3>
		</div>
    </div>
    <div class="modal-body">
		<h4 id="page-body-content">提交 的 个人说明</h4>
		<div id="page-body-images" >
			<div class="image">
				<img  src="{php echo tomedia($reply['bgurl'])}" class="img-responsive" alt="{$reply['title']}">
			</div>
		</div>
<!-- 评论 -->
    </div>

    <div class="modal-footer">
		<div class="pull-right" onclick="dianzan($(this).find('#page-footer-zhan').attr('zan-id'),$(this).find('#page-footer-zhan').attr('zan-bh'));"  style="background-color: rgba(72,64,60,0.8);color: #fff;text-align:center;height: 100%;">
			<h3 style="color:#fff;margin:0;padding: 0 5px 0 5px;">
				<i class="fa fa-thumbs-up yao" style="font-size:32px;color:#428bca;"></i>
				<span id="page-footer-zhan" style="font-size:26px;color:#fff;line-height:60px;padding-right:10px;">333</span>&nbsp点赞</h3>
		</div>
		<div class="clearfix" style="text-align: left;font-size:110%;line-height: 25px;">
			<i class="fa fa-eye" style="padding-left:10px;"></i><span id="page-footer-view">{$reply['viewx']}</span>
			<i class="fa fa-share-alt" style="padding-left:10px;"></i><span id="page-footer-share" >{$reply['zanx']}</span>
			<!--
			<span onclick="alert('收藏');">
				<i class="fa fa-star-o" style="font-size:22px;color:#428bca;"></i><span id="page-footer-chang">33</span>
			</span>
			-->
			<p class="meta" style="padding-left:10px;"><i id="page-footer-date"></i>发布</p>
		</div>
	</div>
</div>
<!--
			</div>
-->
