    <link href="{$resroot}css/main.min.css"  rel="stylesheet" type="text/css">

	<div class="user-body" style="overflow: scroll;">
		<div id="editorWrap" class="upload-albums">
			<div class="mar-10">
				<textarea id="editor" placeholder="写几句准备发帖子啦......" data-type="" class="pic-ta">
				</textarea>
			</div>
			<div class="select-site show none" style="display: inline-block;">
				<a class="site-btn">
					<i class="site-show"></i>
					<span class="site-close"></span>
				</a>
			</div>
			<div class="select-send">
				<!--div.select-file--><!--    i.select-icon.b-s-contain-->
				<!--    input.fileImage.fileimg(accept="image/jpg, image/jpeg, image/png", type="file")-->
				<!--    span 最多上传9张图片-->
				<div class="editorCtrl">
					<!--input#sendMsg.btn(type="button", data-fileids="", data-networkid="#{networkId}", value="发送")-->
					<ul class="post-func-area">
						<li class="curr">
							<a href="javascript:;" class="msg-btn"></a>
						</li>
						<li class="camera-mod">
							<a href="#" class="camera" style="background-color:red"></a>
							<input type="file" accept="image/jpg, image/jpeg, image/png" capture="camera" class="fileImage">
						</li>
					</ul>
					<span id="sendMsg" data-networkid="55e66cd7e4b0dbb1c4489b1b" data-fileids="564fffa024ac0c4bc71fa487" class="btn send-ft">发送</span>
				</div>
			</div>
			<div class="upload-box">
				<div class="upload-box-container">
					<!--div#preview.upload_preview-->
					<div id="add" class="join_pic" style="display: inline-block;">
						<input accept="image/jpg, image/jpeg, image/png" type="file" multiple="" class="fileImage fileimg">
						<!--a.join_pic.none(href="javascript:;", title="添加更多")-->
					</div>
				</div>
			</div>
			<div id="uploadInf" class="upload_inf"></div>
		</div>
		
		
	</div>
