.loupan-image-container {
	z-index: 0;
	width:100%;
	margin: 0 auto;
	margin-top:-11px;
	
}
.loupan-image-container img {
	width: 100%;
}
.loupan-image-container span{
position: relative;
left:76%;
bottom:30px;
background: rgba(0,0,0,0.9);
padding:5px 10px 5px 10px;
font-size:12px;
color:#ffffff;
opacity: 0.8;
-moz-border-radius: 15px;      /* Gecko browsers */
-webkit-border-radius: 15px;   /* Webkit browsers */
border-radius:15px;
}
.house_title{font-size:18px;padding:5px 5px 5px 5px;margin-top:-15px;line-height:150%;}
.loupan-des {
	padding: 10px 10px;
	position: relative;
	display: -webkit-box
}
.loupan-des-su {
	font-size: 16px;
	width: 80px;
	color: #999;
	width: 80px；
}

.loupan-des p {
	font-size: 16px;
	color: #999;
	-webkit-box-flex: 1
}


.loupan-des p span.jiage {
	
}
.loupan-des p span.jiage b {
	font-size:22px;color: #d91819;
}
.loupan-des p span.discount {
	margin-left: 5px;
	padding: 0 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #d91819;
	font-size: 12px;
	display: inline-block;
	border: 1px solid #d91819;
	position: relative;
	top: -1px
}

.loupan-des a {
	float: right;
	color: #000000;
	position: relative;
	top: 2px;
	font-size: 13px;
	right: 1px;
	width: 84px
}

.loupan-des a span {
	height: 14px;
	width: 11px;
	display: inline-block;
	background-image: url(loupan_icons_w.png);
	background-repeat: no-repeat;
	background-size: 100px 100px;
	background-position: -28px -20px;
	position: relative;
	top: 2px;
	right: 1px
}
.loupan-specific {
	margin: 0 10px;
	padding: 0 0 10px;
	border-top: 1px dashed #cccccc;
	font-size:14px;
}

.loupan-specific ul {
	margin-top: 15px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	display: box;
	display: -webkit-box
}
.basic-tel {
	width: 100%;
	height: 54px;
	overflow: hidden;
	border-top: 1px dashed #e1e1e1;
	background-color: #ffffff;
	clear: both;
	position: relative;
	color: #999;
	zoom: 1
}

.basic-tel .lp-icons-tel {
	width: 25px;
	height: 35px;
	float: left;
	margin: 9px 13px 0 17px;
	background-position: -210px -310px
}

.basic-tel .tel {
	font-size: 14px;
	height: 54px
}

.basic-tel .no-tel {
	font-size: 30px;
	line-height: 56px
}

.basic-tel .tel strong {
	height: 54px;
	line-height: 54px;
	color: #fb9032;
	font-size: 22px;
	font-weight: normal
}

.btn-a {
	padding: 0 9px 0 10px;
	font-size: 12px;
	height: 30px;
	line-height: 30px
}

.basic-tel .tel .last-strong {
	margin-right: 15px
}
.baomingan {
	font-size: 16px;
	color: #d91819;
	cursor: pointer;
	border: 1px solid #d91819;
	padding: 8px 15px;
	border-radius: 23px;
	bottom: 7px;
	margin-right: 8px;
	position: absolute;
	display: block;
	right: 0;
}
.baominganend {
	font-size: 14px;
	color: #cccccc;
	cursor: pointer;
	border: 1px solid #cccccc;
	padding: 8px 15px;
	border-radius: 23px;
	bottom: 7px;
	margin-right: 8px;
	position: absolute;
	display: block;
	right: 0;
}
.tel400 {
	font-size: 13px;
	cursor: pointer;
	
	padding: 8px 15px;
	border-radius: 23px;
	bottom: 10px;
	margin-right: 8px;
	position: absolute;
	display: block;
	right: 0;
}
.public-module {
	border-bottom: 0
}
.public-module .public-module-title .title-arrow {
	position: absolute;
	right: 0;
	height: 100%;
	padding-right: 13px;
	background: url(huxing-icon.png) no-repeat right top;
	background-size: 7px 13px;
	color: #999;
	font-size: 1.3rem
}

.public-module {
	border-bottom: 0px solid #ebebeb
}
.loupan-module-box .show {
	display: block
}
.loupan-huxing-container {
	padding: 0 10px
}
.loupan-huxing-container>li:last-child .loupan-huxing-item {
	border-bottom: 0
}
.loupan-huxing-item {
	display: block;
	padding: 12px 0;
	border-bottom: 1px dashed #c1c1c1;
	font-size: 1.6rem
}
.loupan-relative {
	position: relative
}
#loupan_huxing .loupan-public-left {
	display: -webkit-box;
	position: relative;
	margin-right: 15px
}
.loupan-public-left {
	margin-right: 0
}

.loupan-public-left {
	line-height: 22px;
	margin-top: 15px
}
.loupan-huxing-img-container {
	display: inline-block;
	height: 75px;
	width: 100px;
	margin-right: 10px;
	overflow: hidden;
	vertical-align: top;
	position: relative
}

.loupan-huxing-img-container img {
	height: 75px;
	width: 100%;
}

.loupan-huxing-description {
	-webkit-box-flex: 1;
	vertical-align: top
}

.loupan-huxing-description .loupan-huxing-description-title {
	padding-bottom: 8px;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.loupan-huxing-description .loupan-huxing-description-area {
	font-size: 13px;
	color: #999;
	position: relative;
	bottom: 4px
}

.loupan-huxing-detail {
	position: relative;
	bottom: 0;
	font-size: 1.3rem;
	color: #999;
	line-height: 24px
}

.loupan-huxing-detail span {
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0 5px 0 0
}

.loupan-description-value>.base-fontcolor {
	display: inline-block
}

.loupan-huxing-price {
	margin-top: 28px;
	position: absolute;
	display: inline;
	float: right;
	right: 0
}

.loupan-huxing-price .info-value {
	font-size: 13px;
	position: relative;
	bottom: 2px
}
.loupan-right {
	float: right;
	font-size: 13px;
	position: relative
}

.loupan-left {
	float: left
}
.loupan-icons {
	display: inline-block;
	background-image: url(loupan_icons_w.png);
	background-repeat: no-repeat;
	background-size: 100px 100px
}
.loupan-arrow-icon {
	position: absolute;
	height: 14px;
	width: 8px;
	top: 13px;
	bottom: 0;
	right: 0;
	margin: auto;
	background-position: -63px -20px
}
.loupan-detail-box {
	margin: 3px 0 1px;
	font-size: 1.6rem
}

.loupan-detail-box .loupan-description-value {
	-webkit-box-flex: 1;
	box-flex: 1;
	font-size: 16px;
	margin-left: 4px;
	margin-top: 8px;
	color: #333
}
.loupan-nowrap {
	white-space: nowrap;
	display: -webkit-box;
	display: box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.loupan-description-property {
	display: inline-block;
	width: 78px;
	padding-left: 10px;
	vertical-align: top;
	text-align: right;
	color: #999;
	font-size: 16px;
	margin-top: 8px;
	line-height: 24px
}

.loupan-description-value {
	line-height: 24px;
	margin-left: -6px;
	white-space: normal
}

.loupan-description .loupan-description-value {
	width: 215px;
	width: -moz-calc(100% - 85px);
	width: -webkit-calc(100% - 85px);
	width: calc(100% - 85px)
}

.loupan-description .loupan-description-price {
	width: 140px;
	width: -moz-calc(100% - 160px);
	width: -webkit-calc(100% - 160px);
	width: calc(100% - 160px)
}

.loupan-description-type {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 0 5px;
	margin-left: 10px;
	border: 1px solid #00b7ee;
	border-radius: 3px;
	vertical-align: text-bottom;
	color: #00b7ee;
	font-size: 1.2rem
}

.loupan-description-favorable {
	display: inline-block;
	font-size: 1.2rem;
	border: 1px solid #d91819;
	border-radius: 3px;
	margin: 0 0 0 5px;
	height: 18px;
	line-height: 18px
}
.pubilc-phone-module {
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	z-index: 100000;
	overflow: hidden
}

.pubilc-phone-module .show-module {
	display: block
}

.pubilc-phone-module2 {
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center
}
.pubilc-phone-floatbtn,.pubilc-phone-startbtn {
	position: absolute;
	width: 100%;
	padding: 0 10px;
	left: 0;
	bottom: 5px;
	box-sizing: border-box
}

.pubilc-phone-floatbtn {
	display: none
}

.pubilc-phone-floatbtn .phone-btn,.pubilc-phone-startbtn .phone-btn {
	height: 30px!important;
	font-size: 14px!important;
	line-height: 30px!important
}

.pubilc-phone-floatbtn .phone-btn,.pubilc-phone-startbtn .phone-btn {
	position: relative;
	display: block;
	background: #d91819;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	z-index: 9999
}

.pubilc-phone-floatbtn .phone-btn .btn-text {
	display: inline-block;
	padding-left: 16px;
	background: url(loupan-tel-new.png) no-repeat 0 9px;
	background-size: 11px 11px
}

.pubilc-phone-floatbtn .phone-ico {
	position: relative;
	display: inline-block;
	margin-right: 5px;
	top: 3px;
	width: 16px;
	height: 16px;
	background: url(pubilc-phone-ico.png) no-repeat;
	background-size: 16px 16px
}

.pubilc-phone-floatbtn .phone-btn .number {
	color: #fff
}
.phone-btn-1 {
	position: relative;
	display: block;
	width: 30%;
	background: #d91819;
	height: 30px;
	margin-left: 5px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	z-index: 9999
}


.pubilc-phone-floatbtn a.phone-btn,.pubilc-phone-floatbtn .phone-btn-1 {
	background-color: rgba(217,24,25,0.8);
	border-radius: 15px
}

.pubilc-phone-btngroup {
	position: relative;
	display: -webkit-box;
	height: 40px;
	line-height: 40px;
	font-size: 16px
}

.pubilc-phone-btngroup .phone-btn {
	position: relative;
	display: block;
	-webkit-box-flex: 1;
	width: 0;
	border-radius: 3px;
	background: #d91819;
	text-align: center;
	color: #fff
}

.pubilc-phone-btngroup .phone-btn:hover {
	background: #e14647
}

.pubilc-phone-btngroup .phone-cancel {
	margin-right: 10px;
	color: #999;
	background: #e5e5e5
}

.pubilc-phone-btngroup .phone-cancel:hover {
	background: #dbdbdb
}

.pubilc-phone-startbtn {
	background: #fff;
	height: 125px;
	bottom: 0;
	border-top: 1px solid #ebebeb;
	-webkit-transform: translate(0,130px);
	transform: translate(0,130px);
	transition: all .1s;
	-webkit-transition: all .1s
}

.pubilc-phone-startbtn .phone-tips {
	position: relative;
	height: 70px;
	color: #333;
	font-size: 16px;
	text-align: center;
	line-height: 25px
}

.phone-tips .tips {
	padding-top: 10px
}

.phone-tips .number {
	font-size: 21px;
	padding-top: 5px
}

.pubilc-phone-user {
	position: absolute;
	width: 100%;
	padding: 0 10px;
	left: 0;
	height: 168px;
	bottom: 0;
	background: #fff;
	box-sizing: border-box;
	border-top: 1px solid #ebebeb;
	-webkit-transform: translate(0,168px);
	transform: translate(0,168px);
	transition: all .4s;
	-webkit-transition: all .4s
}

.pubilc-phone-content {
	position: relative;
	height: 123px
}

.pubilc-phone-content .tips {
	position: relative;
	color: #999;
	font-size: 15px;
	height: 15px;
	line-height: 15px;
	padding-top: 14px
}

.content-group {
	margin-top: 15px
}

.content-group .item {
	position: relative;
	float: left;
	width: 44%;
	font-size: 15px;
	line-height: 23px;
	padding-left: 18px;
	box-sizing: border-box
}

.content-group .item-icon {
	position: absolute;
	width: 13px;
	height: 13px;
	left: 0;
	top: 4px;
	background-size: 13px 52px;
	background-repeat: no-repeat;
	background-image: url(pubilc-phone-icongroup.png)
}

.content-group .icon2 {
	background-position: 0 -13px
}

.content-group .icon3 {
	background-position: 0 -26px
}

.content-group .icon4 {
	background-position: 0 -39px
}

.pubilc-phone-content .content-close {
	padding-top: 8px;
	padding-bottom: 13px;
	font-size: 13px;
	height: 13px;
	line-height: 13px;
	text-align: center;
	color: #999
}

.content-close .seconds {
	color: #d91819
}
.public-nav-module{padding:10px 10px 0 10px;background-color:#FFF}
.public-nav-module .nav-container{display:-webkit-box}
.public-nav-module .nav-container .nav-item{padding-bottom:15px;width:0;-webkit-box-flex:1;text-align:center}
.public-nav-module .nav-container .nav-item .nav-item-link{display:inline-block}
.public-nav-module .nav-container .nav-item .item-icon{position:relative;display:block;margin:0 auto;width:45px;height:45px;border-radius:50%}
.public-nav-module .nav-container .nav-item .esf-icon{position:relative;display:block;margin:0 auto;width:45px;height:45px;background:url(house_index_icons.png) no-repeat;background-size:120px 250px;background-position:-50px -200px}
.public-nav-module .nav-container .nav-item .nav-item-link .text{display:block;margin-top:8px;font-size:14px;color:#565e66;line-height:100%}
.public-nav-module .nav-container .nav-item .icon{position:absolute;display:block;background:url(house_index_icons.png) no-repeat;background-size:120px 250px}
.public-nav-module .nav-loupan-icon{background-color:#f7638d}
.public-nav-module .nav-tuangou-icon{background-color:#f58b56}
.public-nav-module .nav-ditu-icon{background-color:#3ec6f7}
.public-nav-module .nav-zixun-icon{background-color:#f2c530}
.public-nav-module .nav-kanfangtuan-icon{background-color:#33cca6}
.public-nav-module .nav-jsq-icon{background-color:#76cc52}
.public-nav-module .nav-home-icon{background-color:#f26db9}
.public-nav-module .nav-more-icon{background-color:#73a1ff}
.public-nav-module .nav-container .nav-loupan-icon .icon{width:24px;height:23px;top:12px;left:12px;background-position:0 -100px}
.public-nav-module .nav-container .nav-tuangou-icon .icon{width:23px;height:23px;top:12px;left:10px;background-position:-25px -100px}
.public-nav-module .nav-container .nav-ditu-icon .icon{width:25px;height:22px;top:12px;left:10px;background-position:-50px -100px}
.public-nav-module .nav-container .nav-zixun-icon .icon{width:22px;height:22px;top:12px;left:12px;background-position:-75px -100px}
.public-nav-module .nav-container .nav-kanfangtuan-icon .icon{width:22px;height:23px;top:11px;left:12px;background-position:0 -125px}
.public-nav-module .nav-container .nav-jsq-icon .icon{width:22px;height:22px;top:12px;left:12px;background-position:-25px -125px}
.public-nav-module .nav-container .nav-home-icon .icon{width:23px;height:22px;top:12px;left:11px;background-position:-50px -125px}
.public-nav-module .nav-container .nav-more-icon .icon{width:22px;height:21px;top:12px;left:12px;background-position:-75px -125px}
.wt-list { padding:0;border-top:1px dashed #DDD}
.wt-list a:active{ background:#f3f3f3}
.wt-list .wt-det{ margin-left:5px; position:relative; top:-2px}
.wt-list .wt-det p{ font-size:12px}
.wt-list .wt-det h3, .car .wt-det h3{ font-weight:normal; color:#333;font-size: 14px;}
 .car .wt-det h3{ color: #f56a03;
  font-size: 18px;}
   .car .wt-det p{ font-size:14px}
.wt-list span{ display:inline-block; text-align:left}
.wt-list span.car-ico{ width:40px; height:40px; background:url(kf-car.gif) no-repeat; background-size:contain}
.wt-list span.car-go{ width:30px; height:30px; background:url(kf-go.gif) no-repeat; background-size:contain; margin-left:10px; position:relative; top:-2px}
.wt-list .wt-zu, .wt-list .wt-shou, .wt-list .zixun, .wt-list .fangjia{font-size:4rem;}
.wt-list .wt-shou{color:#f60;  width:40px; height:40px; background:url(buy_house.png) no-repeat;background-size:40px;}
.wt-list .wt-zu{color:#588CEC; width:40px; height:40px; background:url(buy_ershou.png) no-repeat;background-size:40px;}
.wt-list .zixun{color:#b595c7}
.wt-list .fangjia{color:#e0545a}
.wt-list a, .car a{ display: inline-block; -webkit-box-sizing: border-box; margin:0; padding:15px 5px; width: 49%; color: #666; text-align: center; font-size: .9em;}
.car a{ width:100%; border-right:0}
.wt-list a:first-of-type{ margin-left:0; margin-right:0}
.yijingbaoming {width:98%;margin: 0 auto;padding-left:5px;}
.yijingbaoming ul li{width:15%;float:left3;}
.yijingbaoming img{width:15%;border-radius:50%;}
.baomingright{float:right;padding-top:15px;padding-right:5px;}
.baomingright img{width:10px;}
.e_condit{border-top:1px dashed #e1e1e1;border-bottom:1px dashed #e1e1e1;margin-bottom:10px;padding:10px 0;background:#ffffff;width:100%;float:left;text-align:center;}
.e_condit dl{border-right:1px solid #eeeeee;font-size:15px;line-height:24px;width:33%;float:left;}
.e_condit dl:last-child{border:none;}
.e_condit dt{color:#999999;}
.new_active{background:#ffffff;margin-bottom:10px;clear:both;}
.new_active .title a{color:#333333;display:block;width:100%;}
.new_active .title a:after{background-position:right -270px;background-size:120px auto;width:12px;height:40px;margin-left:5px;float:right;}
.new_active .address{font-size:14px;padding:0 0 15px 10px;}
.info_list li{zoom:1;overflow:hidden;font-size:12px;padding:10px;border-bottom:1px dashed #e1e1e1;position:relative;}
/*.info_list .pic{position:relative;width:115px;overflow:hidden;float:left;margin-right:10px;}*/
.info_list .pic img{position:absolute;top:10px;left:10px;width:93px;height:70px;overflow:hidden;}

/*.info_list .con{position:relative;font-size:13px;width:100%;margin-right:-125px;float:left;padding-right:125px;}*/
.info_list .con{padding-left:105px;font-size:12px; height:74px;}
.info_list h3{font-size:16px;line-height:20px;color:#333;overflow:hidden;white-space:nowrap;width:100%;}
.info_list p{margin:6px 0;color:#999999;line-height:17px;}
.info_list p.lh_20{line-height:20px;overflow:hidden;white-space:nowrap;width:100%;}
.info_list .hName{font-size:16px;margin-right:12px;color:#666666;}
.info_list .meters,.info_list .rooms{color:#999999;float:left;margin-right:12px;line-height:17px;width:56%;overflow:hidden;white-space:nowrap;}
.roomss{color:#999999;float:left;margin-right:12px;line-height:17px;width:100%;overflow:hidden;white-space:nowrap;}
.info_list .meters{margin:0;}
.info_list .price,.info_list .price2{float:right;color:#ff6600;font-size:15px;line-height:17px;}
.info_list p.p2{margin:15px 0 10px;}
.info_list .price2{float:none;}
.info_list .more,.lp_related_info .more,.new_arc .more,.new_active .more,.person_list .more,.new_active .more2{text-align:center;font-size:16px;line-height:40px;}
.info_list a{display:block;}

.baoming_btn button{width:100px;height:35px;text-align:center;line-height:35px;color:#ffffff;font-size:16px;z-index:99;margin-left:-20px;border-radius:30px; outline:0; border:0 none;}