*{margin: 0;padding: 0;text-decoration: none;}
body {
    font-family:Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;
    position:relative;
    background:#F8F8F8;
}
.floL{float: left;}
.floR{float: right;}
.fontW{font-weight: bold;}
.red{color: red}
.gray{color: gray}
.gray1{color:#686868}
.white{color: #fff}
.greenBg{background-color: #46cec0}
.font16{font-size: 16px}
.pad5{padding: 5px}
.mart10{margin-top: 10px}
.mart20{margin-top: 20px}
.disInBlock{display: inline-block;}
header{
    width: 100%;
    height:45px;
    overflow: hidden;
    box-shadow:0 1px 1px rgba(98,98,98,.9)
}
header h1 {
    font-size:18px;
    line-height:44px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 1px rgba(0,0,0,.25);
}
header .navbar-btn{
    height:40px;
    padding-right:10px;
    padding-left:10px;
}
.icon-back {
    width:25px;
    height:25px;
    margin-top: 10px;
}