body {background:#f8f8f8}
.screen-wrap {
	width:100%;
	max-width: 480px;
	margin: 0 auto;
	padding:30px 0;
}
.screen-wrap .submit-btn {
	margin-top:20px;
}
.screen-wrap .submit-btn input {
	line-height:20px;
	padding:10px 0;
	width:100%;
	display:block;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:#139A9B;
	text-decoration:none;
	margin:0 auto;
	background:#72F1E9;
	border:0 none;
	-webkit-appearance:none;
}
.screen-wrap .submit-new {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border:0 none;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    font-size: 16px;
    display: inline-block;
    margin: 20px 0;
	color: #fff;
    -webkit-appearance:none;
    border-radius:0;
}
.screen-wrap .phone, .screen-wrap .code {
	border-top:1px solid #DFDFDF;
}
.screen-wrap .link {
	color:#A3A2A2;
    text-align:center;
    font-size:12px;
}
.screen-wrap .link a {
    color:#A3A2A2;
}
.screen-wrap .field .c-form-txt-normal {
    border:0 none;
    border-bottom:1px solid #DFDFDF;
	line-height:14px;
	padding:3%;
	font-size:14px;
	color:#333;
	width:94%;
	-webkit-appearance:none;
    border-radius:0;
}
.title-dashed {
    text-align: center;
    margin:20px 0 20px;
}
.title-dashed .left-line, .title-dashed .right-line {
    width: -webkit-calc(50% - 60px);
    width: calc(50% - 60px);
    height: 1px;
    vertical-align: middle;
    background: #444444;
}
.title-dashed * {
    display: inline-block;
}
.title-dashed h2 {
    width: 100px;
    padding: 0 4px;
    font-size: 14px;
	color: #444444;
}
.login-form h2 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.c-btn-border {
	width:100%;
	background:#1AD371;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	outline: 0;
	zoom: 1;
	font-size: 16px;
    height:45px;
    line-height: 45px;
	color: #FFF;
    border:0 none;
    border-radius:4px;
}
.c-btn-border:active {
    background:#666;
}
.mt10 {
	margin-top:10px;
}
.mt30 {
	margin-top:30px;
}
.mb15 {
	margin-bottom:15px;
}
.icon-login-weixin {
	width: 26px;
	height: 25px;
	display: inline-block;
	margin-right:6px;
	vertical-align: -6px;
	background: url(../images/login-1.png) 0 0 no-repeat;
	background-size: 26px 25px;
}
.icon-login-sina {
	width: 26px;
	height: 25px;
	display: inline-block;
	margin-right:6px;
	vertical-align: -6px;
	background: url(../images/login-2.png) 0 0 no-repeat;
	background-size: 26px 25px;
}
.screen-wrap .submit-new {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border:0 none;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    font-size: 16px;
	color: #fff;
    display: inline-block;
    margin: 20px 0;
    -webkit-appearance:none;
    border-radius:0;
}
.screen-wrap .identifycode .codebtn {
    -webkit-box-flex: 1;
     -moz-box-flex:1;
}
.screen-wrap .identifycode .codebtn {
	margin-left:10px;
}
.screen-wrap .identifycode .codebtn input {
	width: 122px;
	height: 46px;
	text-align: center;
	border: 1px solid #CECECE;
	background-color: #F7F7F7;
	font-size: 15px;
	color:#B8B8B8;
	-webkit-appearance:none;
}