.alertContent{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);
}
.alertContent-con>p{
    font-weight: bold;
    text-align: center;
    color: #000;
    font-size: 1.1em;
}
@media screen and (max-width: 414px) {
    .alertContent-con{
        width: 70%;
        padding: 20px 0;
        border-radius: 10px;
        margin-top: 50%;
        margin-left: 15%;
        background-color: #fff;
    }
    .alertContent-con>span{
        display: inline-block;
        width: 30%;
        margin-left: 35%;
        margin-top: 5%;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
    }
}

@media screen and (min-width: 415px) {
    .alertContent-con{
        width: 30%;
        padding: 20px;
        border-radius: 10px;
        margin-top: 15%;
        margin-left: 35%;
        background-color: #fff;
    }
    .alertContent-con>span{
        display: inline-block;
        width: 20%;
        margin-left: 40%;
        margin-top: 5%;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
    }
}