.swiper-container{
  width:100%;
  height:220px;
  position: relative;
  max-width: 480px
}
.swiper-container img{width: 100%;height: 100%}
.swiper-container h3 {
	z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    font-weight:bold;
    color:#fff;
    padding: 10px;
}
.bodybox{
  width: 100%;
  max-width: 480px;
  margin: 0 auto
}
.basic-box {
    color:#666666;
    width: 96%;
    font-size:15px;
    background-color: #fff;
    padding: 10px 2%;
    margin: 0 auto;
    z-index: 100;
    max-width: 480px
}
.basic-box .buy-box {
    line-height:34px;
    overflow: hidden;
}
.basic-box .buy-box .rmb-num {
    color:#FB7D29;
    font-size:20px;
}
.basic-box .buy-box .market {
    font-style:normal;
    font-size:12px;
    color:#A3A3A3;
    margin-left: 10px;
}
.basic-box .buy-box .price, .basic-box .buy-box .num {
    display:inline-block;
    float:left;
}
.basic-box .buy-box .btn {
    display:inline-block;
    float:right;
}
.basic-box .buy-box .buy-btn {
    width:118px;
    height:34px;
    text-align:center;
    line-height:34px;
    background:#FF7B33;
    color:#FFF;
    font-size:14px;
    border-radius:6px;
    display:inline-block;
}
.basic-box .buy-box .buy-btn1 {
    width:118px;
    height:34px;
    text-align:center;
    line-height:34px;
    background:#ccc;
    color:#FFF;
    font-size:14px;
    border-radius:6px;
    display:inline-block;
}
.basic-box .end-date {
    font-size:14px;
    margin-top:5px;
}
.M_detail {
    margin:7px 0 7px 0;
    background-color: #fff
}
.M_detail .mod_tab {
    height:30px;
    line-height:30px;
    padding-left:2%;
    width:98%;
    overflow:hidden;
    color:#A2A2A2;
    font-size:12px;
}
.M_detail .detail-item {
    background:#FFF;
    color:#000000;
    font-size:13px;
    line-height:20px;
    overflow:hidden;
    padding:10px 0 10px 5px;
}
.M_detail .detail-item .bm-user {
    width:35px;
    height:35px;
    border-radius:50%;
    display:inline-block;
    margin-left:7px;
}
.M_detail .detail-more{
    border-top:1px solid #EAEAEA;
    border-bottom:1px solid #EAEAEA;
    background: #FFF;
}
.M_detail .more-user {
    padding: 0 15px 0 0;
    background:#FFF url(../images/icon-arrow.png) no-repeat 95% center;
    -webkit-background-size: 20px 17px;
    background-size: 20px 17px;
    display:block;
}
.msgDiv{
  width: 96%;
  background-color: #fff;
  font-size: 14px;
  padding: 6px 2%
}
.msgDiv>img{
  width: 14px;
  height: 14px;
  margin-right: 10px;
  vertical-align: middle;
}
.M_detail-con{
  width: 96%;
  margin: 0 auto;
}
.M_detail-con-txt{
  font-size: 14px;
  padding: 5px 0
}
.M_detail-con-img{
  width: 100%;
  margin-top: 5px
}
h4.subtitle {
  margin-top: 20px;
  border-radius:20px;
  font-size:16px;
  font-weight:bold;
  line-height:20px;
  display:inline-block;
  color:#FFF;
  padding:2px 12px;
  margin-bottom:12px;
  text-indent:18px;
  background-size: 15px 15px;
}
.icon1{background:#4ABEB3 url(../images/con-icon-1.png) 12px center no-repeat;}
.icon2{background:#4ABEB3 url(../images/con-icon-3.png) 12px center no-repeat;}
.content{max-width: 480px;margin: 0 auto}
.txt4Title{
  border-bottom: 1px solid #46cec0;
  padding: 10px 0
}
.txt4Sub{color: #FB7D29;font-size: 12px;margin: 7px 0}
.txt4Img{width: 100%;margin: 5px 0}
.peopleData{
    width: 96%;
    margin-left: 2%;
    overflow: hidden;
    margin-top: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee
  }
.peopleData-head{
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
  border-radius: 50%
}
.peopleData-leftData{
  width:80%;
  font-size: 14px;
  float: left;
  margin-left: 10px;
}
.peopleData-name{
  width: 100%;
  overflow: hidden;
}
.peopleData-name-support{
  width: 15%;
  float: right;
}
.peopleData-name>span{width: 80%;display: inline-block;}
.peopleData-name-support>img{width: 17px;vertical-align: bottom;}
.peopleData-name-support>span{color: #ccc;display: inline-block;margin-left: 10px;}
.city-comm-more {
    background: #FFF;
    line-height: 40px;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    margin-top:-1px;
    cursor: pointer;
}
.city-comm-cmm {
    padding:10px;
    margin-top: -1px;
    height:auto;
}
.city-comm-cmm-txt {
    width:97%;
    height:76px;
    border:1px solid #DFDFDF;
    background-color:#fff;
    border-radius:3px;
    font-size: 13px;
    padding:5px;
    -webkit-appearance:none;
}
.city-comm-cmm .comment-btn {
    width:100%;
    height:35px;line-height:35px;
    color:#fff;
    text-align: center;
    border-radius: 4px;
    display:inline-block;
    margin-top:5px;
    font-size:14px;
}
.height-box {height:50px;}
.M_layer .layer-box2 {
    min-height:42px;
    line-height:42px;
    position:fixed;
    bottom:0;
    width:100%;
    max-width: 480px;
    color:#686868;
    background-color:#DFDFDF;
    text-align:center;
    z-index:999;
    -webkit-box-orient:horizontal;
    display:-webkit-box;
}
.M_layer .layer-box2 .layer-item {
    -webkit-box-flex:1;
    text-align:center;
}
.M_layer .layer-box2 .layer-item .icon-like {
    height:17px;line-height:17px;
    font-size:13px;
    padding-left:26px;
    display:inline-block;
}
.icon-like-img{width: 20px;height: 17px;vertical-align: top;margin-right: 10px}
.M_layer .layer-box2 .layer-item .icon-comment {
    width:52px;
    height:17px;line-height:17px;
    background:url(../images/layer-icon3.png) no-repeat;
    background-size:20px 17px;
    color:#686868;
    font-size:13px;
    padding-left:26px;
    display:inline-block;
}
.M_layer .layer-box {
    min-height:46px;
    line-height:46px;
    position:fixed;
    bottom:0;
    width:100%;
    color:#fff;
    background-color:#333333;
    text-align:center;
    z-index:999;
}
.fix:after { display:block; content:'\20'; height:0; clear:both; }

@media screen and (max-width: 320px){
	.swiper-container{
	  width:100%;
	  height:150px;
	  max-width: 480px
	}
}