@charset "utf-8";
/* CSS Document */
.xiala{ margin:.6em 10px 0 0;}
.submit{ margin-bottom:2%}
.f{ position:relative;width:100%; }
.arc_li1 h1 div{ float:right; }
.pl_nm{background-image:url(/images/checkOff.JPG); background-repeat:no-repeat; background-position:left .7em; background-size:1em 1em; text-indent:1.3em; height:2.5em;   line-height:2.5em; color:#666; }
.dz{
	background-image: -moz-linear-gradient(left, #ff3333, #ff5656); 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ff3333), color-stop(1,#ff5656)); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3333', endColorstr='#ff5656', GradientType='1'); float:left; width:100%;}
.dz .fl div{ color:#fff; line-height:20px; height:25px; padding-left:12px; font-size:.9em;}
.dz .dz01{ width:120px; height:auto; margin-top:10px; margin-left:10px;}
.dz .dz02{ width:100px; float:right; margin-top:32px; margin-right:5px;}

.dz_an{display:block; width:80px; float:right; text-align:center; color:#F93; }
a.dz_an:visited{color:#00B9EF;}