@charset "utf-8";
/* CSS Document */


/*通用*/
input[type="button"],input[type="submit"],input[type="reset"]{-webkit-appearance: none;}
input:focus, textarea:focus {  outline: none;}
input:focus{    
-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only;}
*:focus { outline: none; }

*, input {
    margin: 0;
    padding: 0;
    /*font-family: "微软雅黑";*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    /*color:#fe5455;*/
}
body{ font-size:1em; background:#f5f5f5}

h1, h2, h3, h4, h5, p, b {
    /*font-weight: lighter;*/
    color: #555;
    font-size: 1.2em
}
p{
    /*font-weight:lighter; */
    color:#898989; font-size:0.9em;}
span{ color:#999}
li,ul{ list-style:none; float:left;}
a,a:hover{ text-decoration:none; 	}
a{color:#555}
table,img{ border:none}
.w98{ width:98%; margin:0 auto}
.w96{ width:96%; margin:0 auto}
.clear{ clear:both; width:100%;}
.mar_top1{ margin-top:2%;}
.lisr_bg{ background:url(../images/xiala0.png) no-repeat 100% center; background-size:18px 22px;}
.min_he{min-height:420px;}
.hei8{ height:.8em; width:100%; clear:both;}
.hei_50{ height:50px; width:100%; clear:both;}
.box{ overflow:hidden;}
.bor1{ box-shadow:1px 1px 1px #eee; background:#fff}
.bor2,.bor3 {border-color:#c8c8c8; border-width:1px; border-style:solid; background-color:#fff}
.bors {border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px;}
.bor_bot{ border-bottom:1px solid #f5f5f5}
.bor_bot2{ border-top:1px solid #f5f5f5}
.bor_le { -moz-border-top-left-radius:2px; -ms-border-top-left-radius:2px; -o-border-top-left-radius:2px; -webkit-border-top-left-radius:2px; border-top-left-radius:2px;}
.bor_le_bo { -moz-border-bottom-left-radius:2px; -ms-border-bottom-left-radius:2px; -o-border-bottom-left-radius:2px; -webkit-border-bottom-left-radius:2px; border-bottom-left-radius:2px;}
.bor_ri { -moz-border-top-right-radius:2px; -ms-border-top-right-radius:2px; -o-border-top-right-radius:2px; -webkit-border-top-right-radius:2px; border-top-right-radius:2px;}
.bor_ri_bo { -moz-border-bottom-right-radius:2px; -ms-border-bottom-right-radius:2px; -o-border-bottom-right-radius:2px; -webkit-border-bottom-right-radius:2px; border-bottom-right-radius:2px}
.bor_le2 { -moz-border-top-left-radius:5px; -ms-border-top-left-radius:5px; -o-border-top-left-radius:5px; -webkit-border-top-left-radius:5px; border-top-left-radius:5px;}
.bor_le_bo2 { -moz-border-bottom-left-radius:5px; -ms-border-bottom-left-radius:5px; -o-border-bottom-left-radius:5px; -webkit-border-bottom-left-radius:5px; border-bottom-left-radius:5px;}
.bor_ri2 { -moz-border-top-right-radius:5px; -ms-border-top-right-radius:5px; -o-border-top-right-radius:5px; -webkit-border-top-right-radius:5px; border-top-right-radius:5px;}
.bor_ri_bo2 { -moz-border-bottom-right-radius:5px; -ms-border-bottom-right-radius:5px; -o-border-bottom-right-radius:5px; -webkit-border-bottom-right-radius:5px; border-bottom-right-radius:5px;}
.rot { -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); -webkit-transform:rotate(45deg); }
.rot1 { -moz-transform:rotate(135deg); -ms-transform:rotate(135deg); -o-transform:rotate(135deg); -webkit-transform:rotate(135deg); }
.rot2 { -moz-transform:rotate(225deg); -ms-transform:rotate(225deg); -o-transform:rotate(225deg); -webkit-transform:rotate(225deg); }
.bor_t { border-top-color:#fe5455; border-top-width:1px; border-top-style:solid;}
.bor_r { border-right-color:#fe5455;  border-right-width:1px; border-right-style:solid; }
.bor_t1 { border-top-color:#999; border-top-width:1px; border-top-style:solid;}
.bor_r1 { border-right-color:#999;  border-right-width:1px; border-right-style:solid; }
.bor_t2 { border-top-color:#c8c8c8; border-top-width:1px; border-top-style:solid;}
.bor_r2 { border-right-color:#c8c8c8;  border-right-width:1px; border-right-style:solid; }

.d{ width:100%; height:55px; float:left}
.fl{ float:left}
.fr{ float:right}
.red{ color:red;}


/*头部*/
#head{ width:100%; background:#fff; border-bottom:1px solid #fe5455; height:40px; line-height:40px; }
#head span{ font-size:1em; text-align:left; height:2em; float:left; padding-left:8px;}
#head #fan{ float:left; margin-left:.5em; height:100%; padding:0 1%; display:block; width:auto}
#head #serch{ float:right;margin-right:.5em; height:100%; padding:0 1%; display:block; width:auto}
#head img{ width:1.5em; height:auto; margin-top:9px;}
#head h1{ font-size:1.1em; text-align:center; overflow:hidden ;height:2em; color:#fe5455}

/*按钮*/
.submit,.submit5{width:auto; text-align:center; color:#fff; display:block; height:2.5em; line-height:2.5em;  margin-top:10px; margin-right:10px; border-radius:2px;-moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px; display:block; font-size:1em; padding:0 10px; border:0px; }
.submit:active{ background:none; background-color:#fe5455; color:#fff}
a.submit:hover,a.submit:visited{ color:#fff}
a.submit5:hover,a.submit5:visited{ color:#444}
.submit{background:none; background-color:#fe5455}
.submit5{ background:none; background-color:#f5f5f5;border:1px solid #c8c8c8; color:#444}
.submit5:active{ background:#eeeeee; color:#444}

textarea{border:0px; font-size:1em; line-height:1.6em; width:96%;  padding:.6em 2%}


/*底部导航*/
.footer{ width:100%; height:50px; background:#fcfcfc; border-top:1px solid #d7d7d7; position:fixed; bottom:0px; left:0px; float:left; z-index:9999}
.footer ul{ width:100%; height:auto; }
.footer ul a{ width:25%; height:50px;text-align:center; display:block; float:left;}
.footer ul a li{ width:100%; display:block }
.footer ul a li span{ width:100%; font-size:.7em; color:#979797; margin:0px; padding:0px; height:50px; line-height:70px; display:block; float:right; text-align:left; text-align:center }
.footer ul a li span:hover{color:#fe5455}
.footer ul .footer_li_no{ background:none}
.menu_index,.menu_search,.menu_vip,.menu_buy{ width:100%; display:block;  }
.menu_index{ background:url(../images/index01.png) no-repeat center 5px ; background-size:2em 2em;}
.menu_search{ background:url(../images/fang01.png) no-repeat center 5px ; background-size:2em 2em}
.menu_vip{ background:url(../images/vip01.png) no-repeat center 5px ; background-size:2em 2em}
.menu_buy{ background:url(../images/buy01.png) no-repeat center 5px ; background-size:2em 2em;}
.footer ul a li span.menu_index:hover{ background:url(../images/index02.png?v=1) no-repeat center 5px ; background-size:2em 2em;}
.footer ul a li span.menu_search:hover{background:url(../images/fang02.png?v=1) no-repeat center 5px ; background-size:2em 2em}
.footer ul a li span.menu_vip:hover{background:url(../images/vip02.png?v=1) no-repeat center 5px ; background-size:2em 2em}
.footer ul a li span.menu_buy:hover{background:url(../images/buy02.png?v=1) no-repeat center 5px ; background-size:2em 2em;}
/*版权*/
.banquan{ color:#51318f; text-align:center; padding-top:2%; float:left; width:100%; height:auto;}
.banquan a{text-decoration:underline; color:#51318f}


.vip001{ background:url(../images/vip01.png) no-repeat 3% center; background-size:1.3em 1.3em; }
.vip002{ background:url(../images/vip002.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip003{ background:url(../images/vip03.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip004{ background:url(../images/vip04.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip005{ background:url(../images/vip05.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip006{ background:url(../images/vip06.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip007{ background:url(../images/vip07.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip009{ background:url(../images/vip09.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip010{ background:url(../images/vip10.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip011{ background:url(../images/vip11.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip012{ background:url(../images/vip12.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip013{ background:url(../images/vip013.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip014{ background:url(../images/vip014.png) no-repeat 3% center;background-size:1.3em 1.3em; }
.vip013{ background:url(../images/vip013.png) no-repeat 3% center;background-size:1.3em 1.3em; }