@charset "utf-8";

/*公告*/
.menu{ width:100%;  border-bottom:1px solid #efefef; float:left;}
.menu ul{ width:100%;}
.menu ul a{ width:25%; text-align:center; background:#fff; float:left; display:block;}
.menu ul li{ width:100%; height:100%; display:block;padding:20% 0 18% 0;}
.menu ul li img{ width:40px; height:auto;  }
.menu ul a li  p{ height:1.5em; line-height:1.5em; padding-top:4%}

.new {width:100%; height:auto; background:#fff; float:left; margin:2% 0; padding-bottom:.4em; }
.new h2,.main h2{ border-bottom:1px solid #fe5455; margin:0 auto; height:2.5em; line-height:2.5em; padding:0 .8em}
.new h2{ margin-bottom:3px}
.new .text{width:98%; height:auto; float:left; background:url(../images/laba.jpg) no-repeat left center; background-size:16px 14px; margin-left:2%; }
.new .text h1{font-size:1em; line-height:24px; padding:4px 0 4px 1.1em }
/*热门*/
.main {width:100%; height:auto; background:#fff; float:left; margin:0 0 2% 0; }
.main .main01{ width:100%; height:auto; float:left; overflow:hidden}

.main .main1 {width:96%; height:auto; float:left; padding:0 2%}
.main .main1 .box2{ width:32%; height:4.6em;float:left; overflow:hidden; margin:2% 2% 2% 0; background:#ddd; position:relative; z-index:1;border-radius: 4px;}
.main .main1 .box2 img{width:100%; height:auto; border:none; min-height:4.6em; }
.main .main1 h3{width:100%; height:1.8em; line-height:1.8em; float:left; overflow:hidden;}
.main .main1 p{width:100%; height:3.2em; line-height:1.6em; float:left;}
/*判断清真*/
.index_list{ width:100%; float:left; margin-top:-1px; overflow:hidden; height:auto; }
.qing{ background: url(__IMG__/qing.png); background-repeat:no-repeat; background-size:2.5em 2.5em; height:2.5em; width:2.5em; position:absolute; top:0; left:0; z-index:10;}
.index_li_ti{ width:100%; /*height:2.4em;*/ background:#fff;position:relative}


/*分类页*/  /*导航*/
.menu1 { width:100%; height:auto; background:#ffffff; float:left; }
.menu1 ul{ width:100%; height:auto; float:left}
.menu1 ul li{ width:33%; height:40px; line-height:40px; text-align:center; float:left;  text-align:center; border-bottom:1px solid #eeeeee; }
.menu1 ul li a{ width:100%; height:40px; display:block}
.menu1 ul li a span{  height:40px; line-height:40px;  font-size:1.1em; color:#555; background:url(../images/xiala1.png) no-repeat right; background-size:18px 18px; padding-right:20px;}
.menu1 ul li ul.nav li a span{ background:url(../images/quanla.png) no-repeat  right;background-size:13px 13px;}
.menu1 ul li.li_hover ul.nav li a span{ background:url(../images/quanla2.png) no-repeat  right;background-size:13px 13px;}
.menu1 ul li a img{ width:20px; height:auto; float:right;}
.menu1 ul li.li_hover{  height:40px; border-bottom:1px solid #fe5455; }
.menu1 ul li.li_hover span{ height:40px; line-height:40px;  color:#fe5455; background: url(../images/xiala2.png) no-repeat right ; background-size:18px 18px;}
.menu1 ul li.li_hover ul li{ border-bottom:none}



/*商家分类列表页*/
.main_1 {width:100%; height:auto; /*background:#fff; */float:left;}
.main_1 .main01{ width:100%; height:auto; border-bottom:1px solid #F5F5F5; float:left}
.main_1 .main1 {width:100%; height:auto; float:left; background:#fff}
.main_1 .main1 .box2{ width:30%; height:4.6em;float:left; overflow:hidden; margin:2% 2% 2% 2%; }
/*判断清真*/
.main_1 .main1 .box2{ position:relative; z-index:1;border-radius: 4px;}
.qing{ background: url(../images/qing.png); background-repeat:no-repeat; background-size:2.5em 2.5em; height:2.5em; width:2.5em; position:absolute; top:0; left:0; z-index:10;}

.main_1 .main1 .box2 img{width:100%; height:auto; min-height:4.6em; }
.main_1 .main1 h3{/*width:66%;*/ height:1em; line-height:1em; float:left; overflow:hidden; color:#444; margin-bottom:.4em; }
.main_1 .main1 span{width:46%; height:1em; line-height:1em; padding-top:.3em;}
.main_1 .main1 .fl{ text-align:left}
.main_1 .main1 .fr{ text-align:right}
/*页码*/

.dede_pages{ width:100%;}
.dede_pages ul{ width:100%; -moz-border-radius:2px; -o-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.page{ width:100%; float:left; margin-top:3%}
.page li{text-align:center; height:35px; color:#333; margin-left:3%; line-height:35px; float:left;  background:#fcfcfc; border:1px solid #d8d8d8;-o-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
.page li.page_ye{ font-size:.8em; width:20%; color:#bababa; }
.page li.page_top{ width:34%; }
.page li.page_next{width:34%; }
.page li a{ width:100%; height:35px; display:block; ine-height:35px; -o-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}

.page li a:hover {
	border: 1px solid #B4DDEE;
	/*color: #01a6ea;*/
	color: #fe5455;
	margin-top: -1px;
	margin-left: -1px;
}


/*全部分类页*/  /*菜单*/
.menu2{ width:100%; height:auto; /*background:#fff; */margin:2% 0; }
.menu2 .menu2_title { width:100%; height:3em; line-height:3em; text-align:center}
.menu2 .menu2_title .menu2_title_bg { width:85px; height:auto; text-align:center}
.menu2 .menu2_title .menu2_title_bg img{ width:100%; height:auto; text-align:center}
.menu2 .menu2_title h3{ width:50%; height:2em; line-height:2em; text-align:center}
/*子菜单 */
.menu2 ul{ width:100%; height:auto; margin-top:2%}
.menu2 ul li { width:29%; height:auto; background:#fff; margin-left:3%; margin-bottom:3%; background:#fff;}
.menu2 ul li span{ width:100%; height:2.4em; line-height:2.4em; text-align:center; display:block; color:#777; font-size:0.9em;} 



/*商家详细页*/
#sj_pic{ width:100%; height:200px; float:left; position:absolute; }
#sj_pic .d{ width:100%; height:200px; overflow:hidden;  position:relative; z-index:1}
.f{position: relative;width:100%; }
/*判断清真*/
#sj_pic .sj_img img{ position:relative; z-index:1}
.qing2{ background: url(../images/qing2.png); background-repeat:no-repeat; background-size:4.5em 4.5em; height:4.5em; width:4.5em; position:absolute; top:0; left:0; z-index:10}

#sj_pic .zan{ position:absolute; top:10px; right:20px; z-index:10; background:rgba(0,0,0,0.2); font-size:1em; height:2em; line-height:2em; padding:0 .5em;}
.zan img{ width:1.3em; height:auto; float:left; margin-top:.4em; margin-right:.3em}
.zan a{ color:#fff}
.zan span{color:#eee}
.sj_cost{ position:absolute; width:98%; padding-right:2%; bottom:0; text-align:right; font-size:1em; color:#fff; background:rgba(0,0,0,0.2); height:2em; line-height:2em; z-index:5}

.arc_tt{ margin-top:200px;}

.arc_li1{ background:#fff; float:left;/* padding:0 2%; width:96%*/ width:100%; }
.arc_li1 h1{ border-bottom:1px dashed #ddd; height:2.5em; line-height:2.5em; font-size:1.1em; color:#444; margin:0 .8em;}
.arc_li1 p{ padding:.8em; line-height:1.5em; width:94%; margin:0 auto}
.arc_li1 input[type='button']{ width:96%; margin:.5em auto;}
.arc_li1 textarea{width:94%; margin-left:3%;}

table.arc_zk{ color:#444; width:100%; background:#fff}

.arc_zk_l {
	/*background: #fe5455;*/
	background: #fe5455;
	color: #fff;
}
.arc_zk_l .spa { font-size:1.5em; padding-top:.2em;}
.arc_zk td{ padding:.8em 0;}
.arc_zk_l span{ width:100%; float:none; color:#fff; display:block; text-align:center; font-size:.8em}
.arc_zk ul { width:100%;}
.arc_zk ul li{ background:url(../images/list_d.png) no-repeat left center; padding-left:10px; float:none; line-height:1.5em; margin-left:5px;}
.arc_zk_m{ background:url(../images/youhui1.png) no-repeat; }

.arc_tel,.arc_add,.arc_pho,.arc_time,.arc_xf,.arc_wx{ width:94%; float:left; background-position:.8em center; background-repeat:no-repeat;background-size:1.3em 1.3em; height:auto; line-height:1.6em; padding:.8em 3%; background-color:#fff; min-height:1.6em}
.arc_tel h2,.arc_pho h2,.arc_add h2,.arc_time h2,.arc_xf h2,.arc_wx h2{ padding-right:6%; padding-left:2em; font-size:1em; line-height:1.4em; color:#666}
.arc_pho h2 span,.arc_xf h2 span,.arc_time h2 span{ margin-left:10px;}
.arc_tel{ background-image:url(../images/tel.png); }
.arc_pho{ background-image:url(../images/pic.png) ; }
.arc_add{ background-image:url(../images/add.png); }
.arc_time{ background-image:url(../images/time.png); }
.arc_xf{ background-image:url(../images/rj.png); }
.arc_wx{ background-image:url(../images/wx.png); }

.arc_tel a,.arc_add a,.arc_pho a{ display:block; width:100%; color:#444; background:url(../images/list_a.png) no-repeat 99% center; background-size:1.2em 1.2em;}
/*评论提交*/
.tj_text{ width:100%; border:none; height:4.5em; line-height:1.5em; color:#666; margin:.5em 0}

.pxbtn[type="button"] {     width: 100%;      box-sizing: border-box;     -webkit-box-sizing:border-box;     -moz-box-sizing: border-box;}

.submit,.submit5{width:auto; text-align:center; color:#fff; display:block; height:2.5em; line-height:2.5em;  margin-top:10px; margin-right:10px; border-radius:2px;-moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; -webkit-border-radius:2px; display:block; font-size:1em; padding:0 10px; border:0px; }
.submit:active{ background:none; background-color:#fe5455; color:#fff}
a.submit:hover,a.submit:visited{ color:#fff}
a.submit5:hover,a.submit5:visited{ color:#444}
.submit{background:none; background-color:#fe5455}
.submit5{ background:none; background-color:#f5f5f5;border:1px solid #c8c8c8; color:#444}
.submit5:active{ background:#eeeeee; color:#444}

input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;}


.review_list{ background:#fff; height:auto;width:100%; float:left; background-position:.5em center; }
.review_list h1{ font-size:0.9em; border-bottom:1px double #f5f5f5; margin:0 .8em 0 .8em; color:#888; height:2.5em; line-height:2.5em }
.review_list p{ width:94%;  line-height:1.5em; color:#666; margin:0 auto; padding:2% 0;}


/*查找页*/  /*搜索框*/
.nav_search{ width:96%; height:auto; float:left; margin:2% 2% 2% 2%; height:45px; line-height:45px;}
.nav_search form .submit { width:20%;  float:right; /*height:2.1em;font-size:1.2em; color:#666; line-height:2.1em; border:none;*/}
.nav_search img{ width:7%; height:auto; float:left; padding:2% 2% 3% 3%}
.nav_search form .text{ width:70%; padding-left:8%; height:45px; float:left;  color:#CCC; line-height: normal; line-height: 22px\9; /* for ie */   border:none; overflow:hidden; /*text-indent:2em;*/background:#fff url(../images/fang2.png) no-repeat .2em center; background-size:1.5em 1.5em;}

.nav_search form .submit{ margin-right:-1px; margin-top:-1px;/* padding:10px;*/ height:47px; }

.find_tt{ width:96%; text-align:center; margin:0 auto; margin-top:4%; line-height:1.6em;}



.bo{ background:#F00; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -ms-border-radius:10px; padding:0 6px; margin-left:20px; font-size:0.8em; color:#fff} 

/*文章页*/
.arc_main{ width:96%;padding:0 2%;}
.arc_main h1{ font-size:1.2em; height:2.5em; line-height:2.5em; text-align:center}
.arc_main p{ color:888; font-size:.9em; padding-bottom:.5em;}
.arc_main .arc_main1{ width:100%; color:#666; line-height:1.6em; font-size:1em; color:#666}
.arc_main .arc_main1 img{ width:100%; height:auto;}
.arc_main .arc_main1 p{ color:#666; font-size:1em;}

.db_xinxi{ position:fixed; bottom:25px; right:5%; background:red; color:#fff; font-size:.6em; width:16px; height:16px; line-height:16px; text-indent:0px;border-radius:50%;-webkit-border-radius:50%; -moz-border-radius:50%; -o-border-radius:50%;}



.nav { list-style:none; width:100%;}
.nav li { float:left; position:relative; text-indent:5px; width:100%}
.nav li a { color:#444; text-align:left; width:auto; padding-right:15px; background:url(../images/xiala.png) no-repeat right center; background-size:14px 14px; height:40px; line-height:40px; text-decoration:none; width:auto}
.nav li a:hover { color:#444;}
.nav li dl { position:absolute; top:41px; left:0; width:100%; background:#CCCCCC; display:none; z-index:10}
.nav li:hover dl { display:block;}
.nav li dl dd { float:left; color:#444; position:relative; cursor:pointer; text-align:left; width:100%; height:40px; line-height:30px; display:block; background:#f6f6f6;  background-size:12px 12px; border-bottom:1px solid #ddd}
.nav li dl dd:hover { background:#fff;}
.nav li dl .bgcolor { background:#fff;}
.nav_t{ position:absolute; top:0; left:0; /*width:100%;*/ z-index:5}


.list00{ float:right; width:64%; padding-top:2%; padding-bottom:2%; padding-right:2%}
.list00 h3{ width:100%; float:left; font-size:1em;}
.list00 p{ width:100%; float:left; font-size:0.8em; line-height:1.3em; height:2.6em; overflow:hidden;}
.list00 span{ font-size:0.8em;}

.rezheng{ width:100%;line-height:2.5em; float:left;}
.rezheng img{width:2.5em; height:auto; float:left;}
.rezheng h2{ float:left; text-indent:.5em; font-size:1em;}