<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="mobile" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>会员中心</title>
<link href="{MODULE_URL}images/css/public.css" rel="stylesheet" type="text/css" />
<link href="{MODULE_URL}images/css/user.css" rel="stylesheet" type="text/css">
<link href="{MODULE_URL}images/weui.css" rel="stylesheet" type="text/css" />
<link href="{MODULE_URL}images/weui2.css" rel="stylesheet" type="text/css" />
<script src="{MODULE_URL}images/js/jquery-1.8.3.min.js"></script>
<script src="{MODULE_URL}images/js/owl.carousel.min.js"></script>
<script src="{MODULE_URL}images/layer/layer.js"></script>
<script src="{MODULE_URL}images/zepto.min.js"></script>
<script src="{MODULE_URL}images/js/jquery-1.8.3.min.js"></script>
<script src="{MODULE_URL}images/layer/layer.js"></script>
<script>
$(window).load(function() {
	$("#status").fadeOut();
	$("#preloader").delay(350).fadeOut("slow");
})
</script>
</head>

<body>
<div class="mobile">
	<!--页面加载 开始-->
  <div id="preloader">
    <div id="status">
      <p class="center-text"><span>拼命加载中···</span></p>
    </div>
  </div>
  <!--页面加载 结束--> 
  <!--header 开始-->
  <header>
    <div class="header"> 
      <h2>会员中心</h2>
      <div class="header_right shaixuan"><a href="{php echo $this->createMobileUrl('index');}"><img src="{MODULE_URL}images/images/iconfont-shouye.png"></a></div>
    </div>
  </header>
  <!--header 结束-->

	<div class="user_top w">
    	<div class="user_logo"><div class="img"><img src="{$_W['fans']['tag']['avatar']}"></div></div>
        <div class="user_info">
        	<div class="user_name">{$_W['fans']['tag']['nickname']}</div>
             <div class="user_dengji"></div> 
        </div>
    </div>
   <div class="weui_cells_title">商家</div>
        <div class="weui_cells weui_cells_access">

        <a class="weui_cell" href="{php echo $this->createMobileUrl('Mybusiness', array('op'=>'edit'));}">
               
                <div class="weui_cell_bd weui_cell_primary">
                    <p>添加店铺</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a class="weui_cell" href="{php echo $this->createMobileUrl('Mybusiness', array('op'=>'display'));}">
                
                <div class="weui_cell_bd weui_cell_primary">
                    <p>管理已有店铺</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>        
 <div class="weui_cells_title">微信号</div>
        <div class="weui_cells weui_cells_access">

            <a class="weui_cell" href="{php echo $this->createMobileUrl('Mybusiness', array('op'=>'weixin'));}">
               
                <div class="weui_cell_bd weui_cell_primary">
                    <p>免费登记个人微信</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
            <a class="weui_cell" href="{php echo $this->createMobileUrl('Mybusiness', array('op'=>'wx'));}">
                
                <div class="weui_cell_bd weui_cell_primary">
                    <p>管理已有微信号</p>
                </div>
                <div class="weui_cell_ft"></div>
            </a>
        </div>
{template 'footer'}

</div>
<div class="gotop backtop" style="display:none;"></div>

</body>
</html>
<script type="text/javascript">
//返回顶部
$(document).ready(function(){
  $(window).scroll(function () {
    var scrollHeight = $(document).height();
    var scrollTop = $(window).scrollTop();
    var $windowHeight = $(window).innerHeight();
    scrollTop > 75 ? $(".gotop").fadeIn(200).css("display","block") : $(".gotop").fadeOut(200).css({"background-image":"url({MODULE_URL}images/images/iconfont-fanhuidingbu.png)"});
  });
  $('.backtop').click(function (e) {
    $(".gotop").css({"background-image":"url(images/iconfont-fanhuidingbu_up.png)"});
    e.preventDefault();
    $('html,body').animate({ scrollTop:0});
  });
});
</script>