html, body {
  height: 100%;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: microsoft yahei;
  overflow: hidden;
  position:relative;
}

a {
  color: #ffffff;
}

h1 {text-align:center;color:#fff;position:absolute;top:10px;left:0;width:100%;}

#info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.element {
  width: 150px;
  height: 150px;
  overflow:hidden;
  box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
  border: 1px solid rgba(127,255,255,0.25);
  text-align: center;
  cursor: default;
  border-radius:25px;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}

.element img {width:100%;height:100%;display:block;}

.element .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(127,255,255,0.75);
}

.element .symbol {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  font-size: 60px;
  font-weight: bold;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.element .details {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(127,255,255,0.75);
}

button {
  color: rgba(127,255,255,0.75);
  background: transparent;
  outline: 1px solid rgba(127,255,255,0.75);
  border: 0px;
  padding: 5px 12px;
  margin:0 5px;
  cursor: pointer;
  font-family: microsoft yahei;
}
button:hover {
  background-color: rgba(0,255,255,0.5);
}
button:active {
  color: #000000;
  background-color: rgba(0,255,255,0.75);
}