html {
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
    font: 12px/18px microsoft yahei, arial;
    background-size: 100% 100%;
    overflow: hidden;
}

div,
dl,
dt,
dd,
ul,
h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    border: 0;
}

a {
    color: #519BD8;
    text-decoration: none;
    cursor: pointer;
    font-family: microsoft yahei, arial;
}

a:hover {
    color: #519BD8;
    text-decoration: none;
}

textarea {
    font-family: microsoft yahei, arial;
}

th,
h1,
h2,
h3 {
    color: #5F5F5F
}

a,
input,
button {
    outline: none;
    -webkit-highlight-color: rgba(0, 0, 0, 0);
}

.mark-ewm {
    display: none;
    background: RGBA(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
}

.sedd {
    position: absolute;
    bottom: 60px;
    left: 30px;
    z-index: 99;
}

.pcdee {
    width: 510px;
    height: auto;
    background: #fff;
    z-index: 100;
    position: absolute;
    left: 50%;
    margin-left: -255px;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    -webkit-opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.pcdee.hover {
    opacity: 1;
    -webkit-opacity: 1;
    transform: none;
    -webkit-transform: none;
}

.pcdee.zoom1 {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.pcdee.zoom2 {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
}

.pcdee .eimge {
    width: 100%;
    display: block;
    background: #fff;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.pcdee .eimge img {
    width: 99%;
    height: 99%;
    margin: auto;
    display: block;
    margin-top: 1%;
}

.pcdee .etxete {
    width: 470px;
    height: 40px;
    display: block;
    margin: 0 auto;
    text-align: left;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.pcdee .etxete p {
    font-size: 20px;
    line-height: 30px;
    padding: 3px 0;
    color: #333;
}

.pcdee .etxete p b {
    color: #ff0000;
    font-size: 24px;
    font-weight: normal;
}

.pcdee2 {
    width: 200px;
    height: 250px;
    background: #fff;
    z-index: 98;
    position: absolute;
    right: 55px;
    margin-left: -255px;
    bottom: 100px;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    -webkit-opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.pcdee2.hover {
    opacity: 1;
    -webkit-opacity: 1;
    transform: none;
    -webkit-transform: none;
}

.pcdee2.zoom1 {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.pcdee2.zoom2 {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
}

.pcdee2 .eimge2 {
    width: 100%;
    display: block;
    background: #fff;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.pcdee2 .eimge2 img {
    width: 107%;
    height: 107%;
    margin: -3.5%;
    display: block;
}

.pcdee2 .etxete2 {
    width: 100%;
    height: 30px;
    display: block;
    margin: 0 auto;
    text-align: left;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.pcdee2 .etxete2 p {
    font-size: 20px;
    line-height: 30px;
    padding: 3px 0;
    color: #333;
}

.pcdee2 .etxete2 p b {
    color: #ff0000;
    font-size: 24px;
    font-weight: normal;
}

/*ffasdfdsfdsf*/

.mainwidth {
    width: 100%;
    margin: 0 auto
}
#wallCont {
    /*height: 549px;*/
    overflow: hidden;
    top: 120px;
}

#wallCont .wall-box {
    position: relative;
    z-index: 1;
    height: 100%;
    display: none
}

.luck-draw {
    width: 100%;
    height: 100%;
    min-height: 540px
}

.luck-draw .custom-bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.luck-presz {
    float: left;
    display: inline;
    width: 400px;
    height: 100%;
    overflow: hidden;
    margin: 10px;
    text-align: center
}

.luck-presz .imgbox {
    width: 340px;
    height: 270px;
  /*  background-repeat: no-repeat;
    background-position: center;
    background-size: contain;*/
    margin: 0 auto
}

.luck-presz img {
    max-width: 250px;
    max-height: 330px
}

.lottery-poper {
    overflow: hidden;
    padding: 12px 9px 0
}

.lottery-box {
    height: 540px;
    overflow-y: auto;
    text-align: left;
    margin-bottom: 10px;
    /*padding-left: 10px;*/
}

.lottery-poper .lottery-limt {
    display: inline-block;
    text-align: center
}

.lottery-poper .lottery-limt .nickname {
    color: #fff;
    background-color: #263238;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    word-break: break-all;
    padding: 5px 0;
    border-radius: 5px
}

.lottery-poper .lottery-limt .box {
    position: relative;
    height: 150px;
    width: 140px
}

.lottery-poper .lottery-limt img.lottery-avatar {
    display: block;
    border-radius: 50%;
    border: 2px solid #FFF
}

.lottery-poper .lottery-bigimg {
    width: 220px;
    margin-right: 15px
}

.lottery-poper .lottery-bigimg .nickname {
    font-size: 30px;
    font-weight: 700;
    width: 220px;
    word-break: break-all
}

.lottery-poper .lottery-bigimg .nickname .wechat-emoji {
    width: 30px;
    height: 30px
}

.lottery-poper .lottery-bigimg .box {
    width: 220px;
    height: 220px
}

.lottery-poper .lottery-bigimg img.lottery-avatar {
    width: 216px;
    height: 216px
}

.lottery-poper .lottery-smallimg {
    width: 90px;
    margin: 0 15px 15px 0;
}

.lottery-poper .lottery-smallimg .nickname {
    font-size: 20px;
    width: 90px;
    word-break: break-all
}

.lottery-poper .lottery-smallimg .box {
    width: 90px;
    height: 90px
}

.lottery-poper .lottery-smallimg img.lottery-avatar {
    width: 86px;
    height: 86px
}

.lottery-poper .lottery-bigimg .lottery-crown img,
.lottery-poper .lottery-smallimg .lottery-crown img {
    width: 100%
}

.lottery-crown {
    position: absolute;
    z-index: 4
}

.lottery-poper .lottery-bigimg .lottery-crown {
    right: 0;
    top: -25px
}

.lottery-poper .lottery-smallimg .lottery-crown {
    right: 0;
    top: -10px
}

.lottery-remove {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #eee;
    font-size: 24px;
    background: rgba(0, 0, 0, .45);
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -ms-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in
}
.lottery-poper .lottery-smallimg .lottery-remove {
    padding-top: 38%
}

.lottery-poper .lottery-bigimg .lottery-remove {
    padding-top: 41%
}

.lottery-poper .lottery-limt:hover .lottery-remove {
    opacity: 1
}

.luck-torryname {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px
}
#start-draw {
    margin-top: 30px
}

.lottery-list {
    font-size: 36px;
    font-weight: 700;
    padding: 10px
}

.stellblue-text {
    padding: 10px;
    font-size: 22px;
    font-weight: normal;
    border-radius: 10px;
    line-height: 28px;
}
.deep-orange {
    background-color: #ff5722 !important
}
#gift-wall-block {
    color: #fff;
    background: rgba(255,255,255,.4);
    width: 1000px;
    /*height: 768px;*/
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#wallCont .wall-box {
    position: relative;
    z-index: 1;
    height: 100%;
    display: none
}
.drawbox {
    margin-top: 10px;
    position: fixed;
    width: 400px
}

.draw-contrbox {
    overflow: hidden;
    margin: 0 auto
}

#start-draw {
    margin-top: 30px
}

.lottery-list {
    font-size: 34px;
    font-weight: 700;
    padding: 22px;
}
.kpstartbtn,
.kpwall_title {
    background-color: #ff5722;
    text-align: center;
    font-weight: 700
}
.latter-totalnum,
.lottery-list,
.prizeIn,
.prizeIn p,
.un-note,
.wall-time {
    text-align: center
}
.kpstartbtn {
    display: inline-block;
    width: 128px;
    height: 128px;
    line-height: 60px;
    font-size: 30px;
    color: #FFF;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 10px solid silver;
    border-radius: 50%;
    z-index: 10
}

.kpstartbtn:hover {
    border: 8px solid #fff8dc
}
.kpstartbtn{
    -moz-user-select: none;
    -webkit-user-select: none
}


.prizeIn-mask {
    background: rgba(0, 0, 0, .7);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999999
}

.prizeIn,
.prizeIn .crown,
.rays {
    position: absolute
}

.prizeIn-mask img {
    display: none;
    margin: 0 auto;
    z-index: 9999999999;
}

.prizeIn {
    z-index: 99999999999;
    color: #fff;
    font-size: 14px;
    width: 145px;
    height: 145px;
}

.prizeIn img.tou {
    width: 100%;
    height: 100%;
    border: 2px solid #FFF;
    border-radius: 50%
}

.prizeIn p {
    color: #FFF;
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    display: none
}

.prizeIn p .wechat-emoji {
    width: 40px;
    height: 40px
}

.prizeIn .crown {
    z-index: 9999;
    right: 0;
    top: 0;
    display: none;
    width: 100%
}

.prizeIn .crown img {
    width: 100%
}

.prizeIn img.honor {
    position: absolute;
    left: -488px;
    top: -198px;
    z-index: -1;
    /*display: none*/
}

.prizeIn .rays {
    left: -105px;
    top: -105px;
    z-index: -1
}
@-webkit-keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.rays {
    background: url(rays.png) center center no-repeat;
    width: 512px;
    height: 512px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    display: none
}



.container1{
    width: 100%;
    position: absolute;

}

.container1 .top {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 80px;
    margin-bottom: 15px;
    background: url('topbg.png');
    background-size: 100% 100%;
    clear: both;
}

.container1 .top>div {
    float: left;
    height: 100%;
}

.container1 .top .left {
    width: 200px;
}



.container1 .top .center {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.container1 .top .center span.title {
    line-height: 80px;
    color: #fff604;
    font-size: 36px;
    font-weight: bold;
}

.container1 .top .right {
    width: 200px;
    text-align: right;
}

.container1 .top .right .tipword {
    display: inline-block;
    width: 80px;
    height: 100%;
    text-align: center;
    vertical-align: top;
    margin-top: 7px;
}

.container1 .top .right .tipword .num {
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.container1 .top .right .tipword .plus {
    font-size: 17px;
    color: white;
}

.container1 .top .right .qrcode {
    width: 65px;
    height: 65px;
    margin-top: 8px;
    margin-left: 28px;
    cursor: pointer;
}