.m-user{padding-top:44px;}
.m-user .type{color:#fff;font-weight:bold;height:16px;line-height:16px;padding:0 5px;margin-right:4px;font-size:12px!important;}
.m-user .type-free{background-color:#00A47C;}
.m-user .type-limit{background-color:#FFAF3C;}
.m-user .type-hd{background-color:#41CFD7;}
.m-user .type-ten{background-color:#8c68d6;}
.m-user-noActionbar{padding-top:0px;}
.m-user-noActionbar .m-simpleHeader{display:none;}
.m-user-bg-white{background-color:#fff;}
.m-user-bg-white .w-shareItem,.m-user-bg-white .w-nav-hasBorder,.m-user-bg-white .w-goodsList-l .w-goodsList-item{border-color:#dcdcdc!important;}
.m-user-noTop{padding-top:0;}
.m-user-msgbox{text-align:center;}
.m-user-link{color:#0079fe!important;}
.m-user-bar{margin-top:10px;}
.m-user-bar .w-bar{color:#656565;font-size:14px;border-color:#DCDCDC;border-width:0 0 1px 0;margin-bottom:0;}
.m-user-bar .m-user-bar-border{border-width:1px 0;}
.m-user-bar .w-bar-ext{color:#A9A9A9;}
.m-user-addrAdd .m-user-bar,.m-user-info .m-user-bar{margin-top:0;}
.m-user-info .dark .w-bar-ext{color:#333;}
.m-user-bar-avatar{line-height:69px;}
.m-user-bar-avatar .m-user-avatar{margin:12px 0;display:block;}
.m-user-bar-avatar .m-user-avatar img{border-width:0;}
.m-user-avatar img{border:2px solid #FFF;border-radius:2px;}
.m-user-avatar-round{border:1px solid RGBA(255,255,255,0);border-radius:52px;width:51px;height:51px;padding-top:1px;padding-left:1px;}
.m-user-avatar-round img{border:0;border-radius:50px;}
.m-user-yxin .m-user-bar-avatar .m-user-avatar img{border-radius:50px;border-top:0;}
.m-user-bar .w-bar-label{color:#CCC;}
.m-user-summary{height:100px;overflow:hidden;background-color:#D83652;position:relative;+zoom:1;font-size:12px;}
.m-user-summary .bg{min-width:320px;}
.m-user-summary .aside{position:absolute;right:0;top:0;color:#fff;height:100px;padding-right:15px;padding-left:40px;line-height:100px;}
.m-user-summary .ico-next:after{font-size:20px;}
.m-user-summary .info{position:absolute;left:15px;top:23px;line-height:normal;color:#fff;}
.m-user-summary .txt{position:absolute;left:66px;top:5px;white-space:nowrap;}
.m-user-summary .txt .name{font-size:14px;font-weight:bold;line-height:normal;margin-top:0px;}
.m-user-summary .txt .id{padding:5px 0;}
.m-user-summary .txt .money{padding-top:10px;}
.m-user-summary-btn-normal{background-color:#fff;border-width:0;color:#D9304D;box-shadow:1px 1px 1px RGBA(0,0,0,0);margin-left:20px;vertical-align:top;position:relative;top:-4px;}
.m-user-summary-btn-highlight{border:0;margin-left:20px;vertical-align:top;position:relative;top:-5px;padding:2px 5px;}
.m-user-bar-margin{margin-top:10px;}
.m-user-summary-simple .txt{top:10px;}
.m-user-summary-gray{background-color:#F7F7F7;}
.m-user-summary-gray .info{color:#666;}
.m-user-summary-gray .money .num{color:#D9374F;}
.m-user-summary-gray .aside{color:#A9A9A9;}
.m-user-addrList .item{background-color:#fff;border-bottom:1px solid #DCDCDC;position:relative;+zoom:1;line-height:normal;color:#666;}
.m-user-addrList .item .name,.m-user-addrList .item .mobile{position:absolute;top:15px;}
.m-user-addrList .item .name{left:15px;}
.m-user-addrList .item .mobile{right:15px;}
.m-user-addrList .item .detail{padding-top:40px;padding-bottom:12px;padding-left:15px;padding-right:15px;line-height:1.66;white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-user-addrList-manage .default{background-color:#F7F7F7;}
.m-user-addrList-choose .selected{background-color:#FFECF0;}
.m-user-addrAdd{padding-bottom:10px;}
.m-user-addrAdd .w-checkBar{color:#CBCBCB;}
.m-user-goodsList .w-goods{font-size:12px;}
.m-user-goodsList .w-goods-title{font-size:13px;}
.m-user-goods-my{position:relative;color:#676767;margin-top:6px;line-height:normal;white-space:nowrap;overflow:hidden;}
.m-user-goods-my .link{margin-left:8px;}
.m-user-goodsList .w-goods-shortFunc{bottom:36px;}
.m-user-goodsList .w-goods-shortFunc .w-button-s{padding:2px 6px;height:24px;}
.m-user-goods{padding:12px 8px;}
.m-user-goods .w-goods-info{margin-left:96px;}
.m-user-goods .w-goods-mallItems{padding-top:4px}
.m-user-goods .w-goods-mallItems .status{padding-top:8px;}
.m-user-mallRecord .w-goodsList-item .w-goods:active{background-color:#efefef;}
.m-user-goods-goDetail{position:absolute;right:15px;top:70px;}
.m-user-goods .wait{color:#FF9A00;}
.m-user-goods-ext{position:absolute;top:0;right:10px;top:50%;margin-top:-20px;z-index:2;}
.m-user-goods-margin{margin-top:8px;}
.m-user-goods-winList{color:#515151;}
.m-user-goods-winList .w-goods-price{color:#8F8F8F;}
.m-user-goods-winList .winLink{padding:50px 10px 50px 40px;color:#A9A9A9;}
.m-user-goods-winList .m-user-goods-calTime{padding-right:60px;}
.m-user-box{display:-webkit-box;display:box;}
.m-user-box-name,.m-user-box-cont{-webkit-box-align:stretch;box-sizing:border-box;}
.m-user-box-cont{-webkit-box-flex:1;box-flex:1;}
.m-user-chargeRecord{margin-top:10px;}
.m-user-chargeRecord .list .item{background-color:#fff;border-top:1px solid #D5D5D5;border-bottom:1px solid #D5D5D5;position:relative;line-height:normal;margin-top:-1px;font-size:12px;line-height:1.66;padding:4px 0 4px 15px;}
.m-user-chargeRecord .list .from{color:#525252;font-size:15px;padding:1px 0 2px;}
.m-user-chargeRecord .list .time{color:#8F8F8F;}
.m-user-chargeRecord .list .num{position:absolute;right:0;top:50%;width:70px;color:#DB3855;font-size:14px;font-weight:bold;line-height:normal;margin-top:-8px;}
.m-user-chargeRecord .remark{padding:6px 15px;}
.m-user-chargeRecord .remark .item{font-size:12px;margin-bottom:5px;}
.m-user-chargeRecord .delLine{text-decoration:line-through;}
.m-user-mobile-codeinput input{width:82px;margin-right:8px;}
.m-user-mobile-codeinput .w-button{width:118px;padding:0;border-width:1px;}
.m-user .w-inputBar-placeholder{color:#CBCBCB;}
.m-user-index .m-user-bar{margin-bottom:10px;}
.m-user-index-yixin .m-user-bar{margin-top:0px;}
.m-user-index .logout{display:block;width:90%;margin:20px auto;}
.m-user-codeMsgbox{color:#525252;}
.m-user-codeMsgbox .title{margin-bottom:4px;}
.m-user-codeMsgbox .list{margin-top:4px;}
.m-user-codeMsgbox .list .item{display:inline-block;width:80px;}
.m-user-winDetail{color:#525252;font-size:12px;}
.m-user-winDetail-hd{background-color:#DCDCDC;height:22px;line-height:22px;border-bottom:1px solid #D5D5D5;padding-left:11px;margin-top:10px;color:#535353}
.m-user-winDetail .addressInfo{padding-left:15px;margin-top:10px;}
.m-user-winDetail .status .m-user-winDetail-hd{background:none;font-size:13px;font-weight:bold;border-width:0;line-height:normal;height:auto;}
.m-user-winDetail .shipsTips{padding:0 10px;color:#FF9700;}
.m-user-winDetail .shipsList{color:#8F8F8F;}
.m-user-winDetail .shipsList .title{color:#525252;}
.m-user-progress{margin:10px;background-color:#fff;border:1px solid #D5D5D5;border-radius:3px;padding-top:5px;overflow:hidden;padding-bottom:5px;}
.m-user-progress-item{position:relative;padding:0 20px;height:40px;line-height:40px;z-index:1;color:#CCC;}
.m-user-progress-item .bdr{position:absolute;bottom:18px;left:9px;border-left:1px solid #CBCBCB;z-index:1;border-style:dashed;border-width:0 0 0 1px;height:100%;}
.m-user-progress-item .dot{width:3px;height:3px;font-size:0;line-height:0;border:1px solid #CDCDCD;border-radius:3px;position:absolute;left:7px;top:17px;background-color:#fff;z-index:2;}
.m-user-progress-item .aside{position:absolute;right:10px;top:0;width:100px;text-align:left;}
.m-user-progress .expand{height:auto;z-index:2;}
.m-user-progress .bg{background-color:#EEEEF0;}
.m-user-progress .on .bdr,.m-user-progress .over .bdr{border-style:solid;}
.m-user-progress .over .dot{background-color:#CDCDCD;}
.m-user-progress .on .dot{background-color:#9B9B9B;}
.m-user-progress .expand .bdr-expand{top:0;bottom:0;}
.m-user-progress .over,.m-user-progress .on{color:#8F8F8F;}
.m-user-progress .txt{font-size:13px;}
.m-user-progress .wait{color:#FF9A02;}
.m-user-progress .cont{line-height:2;padding-bottom:10px;}
.m-user-progress .m-user-addrList .item{background:none;border-bottom:0;}
.m-user-progress .m-user-addrList .item .detail{padding-left:0;padding-right:0;padding-top:25px;padding-bottom:5px;}
.m-user-progress .m-user-addrList .item .name,.m-user-progress .m-user-addrList .item .mobile{top:0;}
.m-user-progress .m-user-addrList .item .name{left:0;}
.m-user-progress .opt{text-align:center;}
.m-user-progress .opt .w-button{width:70px;margin:0 10px;}
.m-user-progress .opt .w-button-gray{background:#DCDCDC;color:#222;}
.m-user-progress .m-user-addrList .item .mobile{right:0;}
.m-user .m-simpleHeader{z-index:10;}
.w-bonus-list{}
.w-bonus-item{color:#525252;position:relative;background-color:#fff;border-bottom:1px solid #EBEBEB;line-height:1.66;min-height:110px;}
.w-bonus-item .info{padding-left:95px;font-size:12px;padding-right:10px;}
.w-bonus-item .info .remark{color:#AF9967;padding-bottom:10px;line-height:18px;}
.w-bonus-item .info .title{font-size:14px;padding-top:10px;padding-bottom:4px;}
.w-bonus-item .info .opt{font-size:14px;margin-bottom:10px;line-height:normal;}
.w-bonus-item .pic table{width:100%;height:100%;}
.w-bonus-item .pic table td{text-align:center;vertical-align:middle;}
.w-bonus-item .pic{width:75px;height:80px;position:absolute;left:10px;top:15px;background-image:url(../../lib/img/bonus/bg.png);-moz-background-size:75px 80px;-webkit-background-size:75px 80px;-ms-background-size:75px 80px;-o-background-size:75px 80px;background-size:75px 80px;}
.w-bonus-item .bonus-num{height:32px;width:19px;background-position:0 0;-webkit-background-size:contain;-moz-background-size:contain;-ms-background-size:contain;-o-background-size:contain;background-size:contain;}
.w-bonus-item .bonus-num-0{background-image:url(../../lib/img/bonus/num_0.png);}
.w-bonus-item .bonus-num-1{background-image:url(../../lib/img/bonus/num_1.png);width:17px;}
.w-bonus-item .bonus-num-2{background-image:url(../../lib/img/bonus/num_2.png);}
.w-bonus-item .bonus-num-3{background-image:url(../../lib/img/bonus/num_3.png);}
.w-bonus-item .bonus-num-4{background-image:url(../../lib/img/bonus/num_4.png);background-position:0 1px;}
.w-bonus-item .bonus-num-5{background-image:url(../../lib/img/bonus/num_5.png);background-position:0 1px;}
.w-bonus-item .bonus-num-6{background-image:url(../../lib/img/bonus/num_6.png);}
.w-bonus-item .bonus-num-7{background-image:url(../../lib/img/bonus/num_7.png);width:17px;background-position:0 1px;}
.w-bonus-item .bonus-num-8{background-image:url(../../lib/img/bonus/num_8.png);}
.w-bonus-item .bonus-num-9{background-image:url(../../lib/img/bonus/num_9.png);}
.w-bonus-tag-tocome{position:absolute;left:-8px;top:-8px;width:50px;height:50px;background-image:url(../../lib/img/bonus/tag_tocome.png);background-repeat:no-repeat;background-position:left top;background-size:cover;}
.m-user-bonusExchange .captcha .w-bar-input{width:100px;}
.m-user-bonusExchange .captcha .img{position:absolute;right:0;top:3px;line-height:0;font-size:0;}
.m-user-bonusExchange .captcha .img img{display:inline-block;vertical-align:middle;border:1px solid #D2D2D2;}
.m-user-bonusExchange .captcha .img .refresh{margin-left:10px;display:inline-block;font-size:12px;line-height:38px;vertical-align:middle;}
.m-user-bonusExchange .ft{padding:15px 10px;}
#bonusExchangeBtn{width:100%;padding:5px 0;}
.m-user-bonus-tips{background-color:#FCF3CC;color:#7A6514;border-bottom:1px solid #EBEBEB;padding:10px;}
.m-user-bonus-recharge{background-color:#FCF3CC;color:#7A6514;border-bottom:1px solid #EBEBEB;padding:10px;font-size:12px;}
.recharge-s-1{color:#F5AD2D;}
.recharge-s-2{background:#DF923F;border-radius:4px;color:#7A6514;border:1px solid #999;padding:3px 9px;}
.recharge-s-3{margin-left:5px;color:#0079fe;text-decoration:underline;}
.m-user-blank{padding-top:50px;text-align:center;font-size:12px;color:#999}
.m-user-bonusTopExt{padding:17px 0;text-align:center;border-bottom:10px solid #F4F4F4;background-color:#fff;}
.m-user-bonusTopExt .w-button{background-color:transparent;border:1px solid #DA3651;color:#DC3551;margin:0 5px;}
.m-user-bonusTopExt .w-button .nums{display:inline-block;height:16px;min-width:8px;line-height:16px;border-radius:7px;background-color:#FF002C;color:#fff;font-size:12px;vertical-align:middle;padding:0 4px}
.m-user-bonusList .w-nav{background-color:#fff;}
.m-user-wishList{}
.m-user-wishList-addBox{width:186px;height:163px;background-color:#fff;border:#DCDCDC 2px dashed;border-radius:4px;margin:20px auto;text-align:center}
.m-user-wishList-addBox .mIcoAdd{display:block;width:60px;height:10px;background-color:#DCDCDC;overflow:visible;position:relative;margin:56px auto 40px;}
.m-user-wishList-addBox .mIcoAdd-sub{display:block;width:10px;height:60px;background-color:#DCDCDC;position:absolute;left:50%;margin-left:-5px;top:-25px;}
.m-user-wishList-addBox .desc{text-align:center;font-size:12px;color:#999999}
.m-user-wishList .wishBox{border-top:#DCDCDC 1px solid;margin-top:10px;padding-top:5px;}
.m-user-wishList .wishBox:first-child{border-top-width:0px;margin-top:0;}
.m-user-wishList .wishingStatus{position:fixed;bottom:0;height:30px;line-height:30px;background-color:#fff;border-top:#efefef 1px solid;width:100%;text-align:center;font-size:12px;}
.m-user-wishList .wishBox .mInfo{}
.m-user-wishList .wishBox .mPic{width:108px;height:108px;float:left;text-align:center}
.m-user-wishList .wishBox .mPic img{margin:10px auto}
.m-user-wishList .wishBox .desc{margin-left:108px}
.m-user-wishList .wishBox .desc .title{font-size:13px;font-weight:bold;color:#DB3652;}
.m-user-wishList .wishBox .desc .wishWords{font-size:12px;color:#999999;min-height:58px;padding:0 10px 10px 0;word-wrap:break-word}
.m-user-wishList .wishBox .progress{background-color:#fff;padding:10px 15px;font-size:12px;white-space:nowrap;border-bottom:#DCDCDC 1px solid;clear:both}
.m-user-wishList .wishBox .progress .support{}
.m-user-wishList .wishBox .progress .success,.m-user-wishList .wishBox .progress .ext{float:right;}
.m-user-wishList .wishBox .progress .supportDetail{padding:6px 0;height:38px;}
.m-user-wishList .wishBox .supportDetail .sItem{width:32%;float:left;border-right:#DCDCDC 1px solid;text-align:center}
.m-user-wishList .wishBox .supportDetail .sItem-end{border-right-width:0px}
.m-user-wishList .wishBox .supportDetail .sItem-end .over{line-height:38px;}
.m-user-wishList .wishBox .statusOpt{text-align:center;padding-top:6px;clear:both;}
.m-user-wishList .wishBox .statusOpt .mark{height:19px;line-height:19px;text-align:center;margin:0 auto;position:relative;;background-color:#999999;display:inline-block;color:#fff;padding:0 13px;}
.m-user-wishList .wishBox .statusOpt .mark::before{display:block;content:"";position:absolute;left:0;top:0;border-width:10px;border-color:transparent transparent transparent #ffffff;border-style:solid}
.m-user-wishList .wishBox .statusOpt .mark::after{display:block;content:"";position:absolute;right:0;top:0;border-width:10px;border-color:transparent #ffffff transparent transparent;border-style:solid}
.m-user-wishList .wishBox .statusOpt .mark-wishing{background-color:#46A532;}
.m-user-wishList .wishBox .statusOpt .mark-undone{background-color:#999999;}
.m-user-wishList .wishBox .statusOpt .mark-lock{background-color:#FFBE3B;}
.m-user-wishList .wishBox .statusOpt .mark-done{background-color:#46A532;}
.m-user-wishList-suptEmpty{padding:27px 0;text-align:center;font-size:14px;color:#9B9B9B}
.m-user-wishList-supportList-wrap{margin-left:28px;padding:10px 10px 0 0;border-left:1px solid #d5d5d5;}
.m-user-wishList-supportList-list{margin-left:-18px;height:auto;}
.m-user-wishList-supportList-time{display:inline-block;margin-bottom:14px;padding:0 5px;font-size:10px;line-height:15px;background:#f4f4f4;border-radius:15px;border:1px solid #d5d5d5;margin-left:-18px;}
.m-user-wishList-supportList-list li{margin-bottom:14px;}
.m-user-wishList-supportList-list .avatar{float:left;margin-top:2px;border-radius:50%;overflow:hidden;}
.m-user-wishList-supportList-list .text{margin-left:45px;font-size:12px;word-break:break-all;word-wrap:break-word}
.m-user-wishList-supportList-list .num{color:#525252;}
.m-user-wishList-supportList-list .address{display:inline-block;word-wrap:no-wrap;word-break:no-wrap;}
.m-user-wishList-supportList-more .w-more{padding-bottom:20px;line-height:20px;}
.m-user-wishList-detailHeader{border-bottom:#D5D5D5 1px solid}
.m-user-wishList-detailHeader .detail-overDesc{font-size:16px;text-align:center;color:#DB3652;line-height:35px;}
.m-user-wishList-detailHeader .detail-pic{text-align:center;padding-bottom:10px}
.m-user-wishList-detailHeader .detail-pic img{width:200px;margin:0 auto}
.m-user-wishList-detailHeader .detail-overBonus{height:50px;line-height:50px;background-color:#FFFFE1;padding:0 10px;}
.m-user-wishList-detailHeader .detail-overBonus .ext{float:right;color:#22A55A;}
.m-user-wishList-detailHeader .datail-status{height:50px;margin:0 10px;line-height:50px;border-top:#DCDCDC 1px solid;}
.m-user-wishList-detailHeader .datail-status .ext{float:right;}
.m-user-wishList-detailHeader .detail-unDoneDesc{padding:10px;text-align:left}
.m-user-wishList-detailHeader .detail-bonus{text-align:center}
.m-user-wishList-detailHeader .w-bonus{margin:10px auto;;}