.voice-record-bg {
    padding-top: 22px;
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    background: #353535;
    height: 307px;
    color: #fff;
    text-align: center;
}
.bz {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pressnone {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.press-model-tips {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}
.slide-btn-group {
    width: 24px;
    position: absolute;
    line-height: 1.1;
    top: 100px;
    left: 10px;
    border: #FFF 1px solid;
    border-radius: 3px;
}
.slide-btn-group div {
    width: 24px;
}
.voice-record-bg>p {
    padding-left: 23px;
    padding-right: 23px;
}
#actionsheet_cancel {
    color: #df4337;
}
.voice-record-bg p span:last-child {
    color: #df4337;
}
.fr {
    float: right;
}
.abs {
    position: absolute;
}
.voice-record-volume-bg {
    bottom: 171px;
    width: 100%;
}
.voice-record-volume-bg p {
    padding: 22px;
    margin: 0 auto;
    width: 78px;
    height: 78px;
    border-radius: 50% 50%;
    background: #2d2d2d;
}
.voice-record-volume-bg-p-span {
    width: 100%;
    height: 100%;
    background: url(../images/voice-record-volume.png);
    background-size: 100%;
    display: block;
}
.voice-recording {
	background:url(../images/voice-record-volume.gif);
	background-size:100%
}
.voice-record-bt-white-recording {
	background:#df4337
}
.voice-record-bt-whitei-recording {
	background:#fff
}


.voice-record-bt-position {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 36px;
    min-width: 320px;
    max-width: 960px;
}
.voice-record-bt {
    margin: 0 auto;
    border: 1px solid #969696;
    height: 80px;
    width: 80px;
    border-radius: 50% 50%;
    padding: 4px;
}
.rel {
    position: relative;
}
.voice-record-bt-white {
    padding: 22px;
    height: 100%;
    width: 100%;
    border-radius: 50% 50%;
    background: #fff;
}
.voice-record-bt-white-i {
    height: 100%;
    width: 100%;
    border-radius: 50% 50%;
    background: #df4337;
    display: block;
}
.voice-record-re {
    height: 45px;
    width: 45px;
    border-radius: 50% 50%;
    background: #fff;
    line-height: 45px;
    text-align: center;
    bottom: 15px;
    right: -80px;
    color: #333;
}
.f14 {
    font-size: 14px;
}

.post-voice-box-rp {
	width:150px;
	height:40px;
	background:#fff;
	border-radius:4px;
	float:left;
	cursor:pointer
}
.post-voice-box-rp:before,.post-reward-all p:before {
	content:" ";
	width:200%;
	height:200%;
	position:absolute;
	top:0;
	left:0;
	border:1px solid #d6d6d6;
	-webkit-transform:scale(0.5);
	transform:scale(0.5);
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
	box-sizing:border-box;
	border-radius:8px
}

.voice-box-playing {
	background:url(../images/voiceing-w2.gif) no-repeat;
	background-size:22px 22px;
	margin:9px 0 0 10px;
	height:22px
}

.post-voice-box-pause {
	background:url(../images/voiceplaying.png) no-repeat;
	background-size:22px 22px;
	margin:9px 0 0 10px;
	height:22px
}

.post-voice-close {
	display:block;
	width:17px;
	height:17px;
	border-radius:50%;
	background:rgba(0,0,0,.5) url(../images/post-big-pic-03.png) no-repeat 0 -17px;
	background-size:100%;
	top:-6px;
	right:-6px
}

.post-rp-voice-time {
	line-height:37px;
	font-size:14px;
	color:#878787;
	float:left;
	margin-left:7px
}

.post-voice-all {
	padding:0 15px;
	margin-bottom:5px
}


.delvedio{
	width: 16px;
	height: 16px;
	display: block;
	background: rgba(255, 255, 255, .5)
		url(../images/post-big-pic-03.png)
		no-repeat 0 -16px;
	background-size: 100%;
	top: 0;
	right: 0
}
.hidden {
  display: none;
}

	.ui-form{
  background-color: #f5f0eb;
  position: relative;
  min-height: 100%;
  height: initial;
}

.ui-form .form-desc{
  color: #7e7e7e;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}
.ui-form .form-desc img {
  max-width: 100%;
  max-height: 600px;
}
.ui-form .submit-loading{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10000000;
  /*background-color: #a8a8a4;*/
  background-color: rgba(168,168,164,0.7);
  transition:all 0.5s ease-out;
  -webkit-transition:all 0.5s ease-out;
}
.ui-form .submit-loading.hide{
  opacity: 0;
  -webkit-opacity: 0;
}
.ui-form .submit-loading .wrap{
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3rem;
  margin-top: -3rem;
  background-color: rgba(89,89,89,0.9);
  width: 6rem;
  height: 6rem;
  text-align: center;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
}
.ui-form .submit-loading .wrap .circle{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 1.3rem 0 0.4rem 0;
  background-image: url(../images/loading.png);
  background-size: 100%;
  opacity: 0.8;
  -webkit-opacity:0.8;
  -webkit-animation: spin 0.8s infinite linear;
  -moz-animation: spin 0.8s infinite linear;
  -o-animation: spin 0.8s infinite linear;
  animation: spin 0.8s infinite linear;
}
