body{
	font-family: "微软雅黑"
}
.weui_cell_hd img{
	height: 20px;
	width: 25px;
}
 .col_left {
position: absolute;
width: 50px;
height: 44px;
text-align: center;
}
.col_left .hd_back {
display: block;
margin: 10px auto;
width: 25px;
height: 25px;
background: url(../images/spirits_201507.png);
background-position: -75px 0;
background-repeat: no-repeat;
background-size: 170px auto;
}

.headtitle{
text-align: center;
font-size: 18px;
line-height: 44px;	
color: #0093d5;
font-weight: normal;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin-top: 0;
}
.alter{
	height: 100%;
}