@charset "UTF-8";

html {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}

body {
	margin: 0;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #333;
	background-color: #fff;
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary {
	display: block
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden], template {
	display: none
}

svg:not (:root ){
	overflow: hidden
}

a {
	background: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: #08c
}

a:active {
	outline: 0
}

a:active {
	color: #069
}

abbr[title] {
	border-bottom: 1px dotted
}

b, strong {
	font-weight: 700
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	border: 0;
	vertical-align: middle
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button, select {
	text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], html input[disabled] {
	cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	height: auto
}

input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	resize: vertical
}

optgroup {
	font-weight: 700
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td, th {
	padding: 0
}

html, button, input, select, textarea {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
	margin: 0
}

ul, ol, li, dl, dd {
	margin: 0;
	padding: 0
}

ul, ol {
	list-style: none outside none
}

h1, h2, h3 {
	line-height: 2;
	font-weight: 400
}

h1 {
	font-size: 1.8rem
}

h2 {
	font-size: 1.6rem
}

h3 {
	font-size: 1.4rem
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #ccc
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #ccc
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #ccc
}

body {
	max-width: 800px;
	margin: 0 auto !important
}

a {
	color: #333
}

a:active {
	color: #4b7bab
}

a:visited {
	color: #999
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.left {
	float: left
}

.right {
	float: right
}

[class^=icon-], [class*=" icon-"] {
	display: inline-block;
	vertical-align: middle;
	background:
		url(../images/iconshome.png)
		no-repeat 0 0/50px auto;
	font-size: 0;
	line-height: 0
}

[class^=i-], [class*=" i-"] {
	position: relative
}

[class^=i-]:before, [class*=" i-"]:before {
	content: "";
	position: absolute;
	background:
		url(../images/iconshome.png)
		no-repeat 0 0/50px auto
}

[class^=btn-], [class*=" btn-"] {
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #ddd;
	width: 88px;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	border-radius: 4px;
	padding: 0 4px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

#header {
	background-color: #308ee3;
	height: 45px;
	position: relative;
	overflow: hidden
}

#header a {
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	vertical-align: middle;
	color: #fff;
	text-align: center
}

#header a.link {
	width: auto;
	padding: 0 10px
}

#header .i-back:before {
	width: 11px;
	height: 18px;
	background-position: 0 -145px;
	left: 17px;
	top: 13px
}

#header .i-home:before {
	width: 26px;
	height: 24px;
	background-position: 0 -174px;
	left: 8px;
	top: 10px
}

#header .center {
	position: absolute;
	left: 50%
}

#header .center h1 {
	color: #fff;
	line-height: 45px;
	position: relative;
	right: 50%
}

#content {
	background: #f8f8f8
}

.more {
	padding: 20px;
	text-align: center;
	color: #999
}

.more .icon-loading {
	width: 14px;
	height: 16px;
	background-position: 0 -716px;
	margin-right: 6px;
	-webkit-animation: loading .5s infinite linear;
	animation: loading .5s infinite linear
}

@
-webkit-keyframes loading { 0%{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

100%{
-webkit-transform
:rotate(360deg)
;transform
:rotate(360deg)
}
}
@
keyframes loading { 0%{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

100%{
-webkit-transform
:rotate(360deg)
;transform
:rotate(360deg)
}
}
#pop_wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 100
}

#pop_wrapper .pop {
	position: absolute;
	background: #fff;
	font-size: 1.6rem;
	border-radius: 10px;
	width: 280px;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -140px;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	z-index: 102
}

#pop_wrapper .pop .hd {
	padding: 0 8px;
	background: #eee;
	line-height: 40px
}

#pop_wrapper .pop .bd {
	padding: 18px;
	text-align: center
}

#pop_wrapper .pop .ft {
	border-top: 1px solid #ddd;
	text-align: center
}

#pop_wrapper .pop .ft button {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	line-height: 40px;
	border: 0 none;
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

#pop_wrapper .pop .ft .cancel {
	border-right: 1px solid #ddd
}

#pop_wrapper .pop .ft .confirm {
	color: #4b7bab
}

.user-info {
	background: #fff;
	text-align: center;
	position: relative;
	padding: 10px 15px 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px
}

.user-info:before {
	content: "";
	background: #308ee3;
	position: absolute;
	height: 50px;
	width: 100%;
	left: 0;
	top: 0
}

.user-info .pic {
	position: relative;
	margin-bottom: 10px
}

.user-info .pic img {
	width: 70px;
	height: 70px;
	border-radius: 50%
}

.user-info .name {
	font-size: 1.6rem;
	margin-bottom: 10px
}

.user-info .name .icon-male {
	width: 7px;
	height: 11px;
	background-position: 0 -496px
}

.user-info .name .icon-female {
	width: 6px;
	height: 10px;
	background-position: 0 -517px
}

.user-info .name .icon-vip {
	width: 15px;
	height: 13px;
	background-position: 0 -101px
}

.user-info .name .icon-normal {
	width: 38px;
	height: 13px;
	background-position: 0 -123px
}

.user-info .mine {
	padding-top: 10px;
	border-top: 1px solid #ddd
}

.user-info .mine li {
	float: left;
	width: 33.33%;
	border-right: 1px solid #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.user-info .mine li:last-child {
	border-right: 0 none
}

.user-info .mine li>a {
	display: inline-block;
	padding-top: 38px;
	line-height: 22px
}

.user-info .mine li>a:before {
	width: 25px;
	height: 24px;
	top: 8px;
	left: 50%;
	margin-left: -12px
}

.user-info .mine .i-my-post:before {
	background-position: 0 0
}

.user-info .mine .i-my-reply:before {
	background-position: 0 -34px
}

.user-info .mine .i-my-collect:before {
	background-position: 0 -67px
}

.user-info .oper button {
	margin: 0 4px
}

.user-info .oper button span {
	padding-left: 16px
}

.user-info .oper button span:before {
	width: 12px;
	height: 12px;
	left: 0;
	top: 2px
}

.user-info .oper .i-pen:before {
	background-position: 0 -536px
}

.user-info .oper .i-shang:before {
	background-position: 0 -555px
}

.user-info .oper .i-add:before {
	background-position: 0 -574px
}

.user-info .oper .i-cancel:before {
	background-position: 0 -590px
}

.post-list {
	background: #fff;
	position: relative
}

.post-list:before {
	content: "";
	border-left: 1px solid #eee;
	position: absolute;
	left: 30px;
	top: 12px;
	bottom: 10px
}

.post-list li {
	padding-left: 60px
}

.post-list li>a {
	display: block;
	padding: 10px 15px 10px 0;
	border-bottom: 1px solid #ddd;
	word-break: break-all;
	word-wrap: break-word;
	position: relative
}

.post-list li .time {
	width: 50px;
	padding: 0 5px;
	background: #fff;
	text-align: center;
	color: #999;
	position: absolute;
	left: -60px;
	top: 12px;
	letter-spacing: -1px;
	line-height: 1
}

.post-list li .time strong {
	display: block;
	font-weight: 700;
	font-size: 1.8rem
}

.post-list li .time span {
	font-size: 1.1rem
}

.post-list li .pic {
	width: 100%;
	padding: 0 5px;
	overflow: hidden;
	margin-bottom: 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.post-list li .pic img {
	float: left;
	max-width: 33.33%;
	margin-right: 5px
}

.post-list li .pic img:first-child {
	margin-left: -5px
}

.post-list li .pic img:last-child {
	margin-right: -5px
}

.post-list li .title {
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 8px
}

.post-list li .info {
	text-align: right;
	color: #999
}

.post-list li .info i {
	padding-left: 15px;
	font-style: normal
}

.post-list li .info i:before {
	width: 12px;
	height: 16px;
	top: 0;
	left: 0
}

.post-list li .info .i-reply {
	margin-right: 8px
}

.post-list li .info .i-reply:before {
	background-position: 0 -602px
}

.post-list li .info .i-see:before {
	background-position: 0 -620px
}

.no-post {
	padding: 200px 15px 80px;
	background:
		url(../images/no-post-tips.png)
		no-repeat center 60px/131px 122px;
	text-align: center;
	color: #999
}

.no-post .btn-chuai {
	margin-top: 10px;
	width: 180px;
	background: #fea526;
	border-color: #fea526;
	color: #fff
}

.no-post .btn-chuai strong {
	font-size: 1.8rem
}

.no-post .btn-chuai.disabled {
	background: #eee;
	border-color: #eee;
	color: #999
}

.reply-list {
	background: #fff
}

.reply-list li {
	padding-left: 45px
}

.reply-list li>a {
	display: block;
	padding: 10px 15px 10px 0;
	border-bottom: 1px solid #ddd;
	word-break: break-all;
	word-wrap: break-word;
	position: relative
}

.reply-list li>a:before {
	content: "";
	width: 22px;
	height: 16px;
	background:
		url(../images/iconshome.png)
		no-repeat 0 -690px/50px auto;
	position: absolute;
	left: -30px;
	top: 16px
}

.reply-list li .title {
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 8px
}

.reply-list li .info {
	text-align: right;
	color: #999
}

.no-reply {
	padding: 220px 15px 80px;
	background:
		url(../images/no-reply-tips.png)
		no-repeat center 50px/122px 157px;
	text-align: center;
	color: #999
}

.user-shang {
	background: #fff;
	border-width: 1px 0;
	border-style: solid;
	border-color: #ddd;
	padding: 10px 0;
	margin-bottom: 20px
}

.user-shang dt {
	font-size: 1.6rem;
	padding: 0 15px;
	margin-bottom: 10px
}

.user-shang dd {
	float: left;
	width: 50%;
	padding: 0 15px;
	border-right: 1px solid #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}

.user-shang dd:last-child {
	border-right: 0 none
}

.user-shang dd h4 {
	color: #f60;
	font-size: 1.8rem;
	font-weight: 400
}

.user-shang dd h4 span {
	font-size: 1.4rem
}

.user-shang dd p {
	color: #999
}

.user-bbs {
	background: #fff
}

.user-bbs .bbs-tabs {
	border-width: 1px 0;
	border-style: solid;
	border-color: #ddd;
	padding: 8px 15px
}

.user-bbs .bbs-tabs li {
	float: left;
	width: 50%;
	text-align: center
}

.user-bbs .bbs-tabs li a {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.6rem;
	padding: 0 15px
}

.user-bbs .bbs-tabs li a.active {
	position: relative;
	color: #308ee3;
	cursor: text
}

.user-bbs .bbs-tabs li a.active:after {
	content: "";
	width: 100%;
	height: 3px;
	background: #308ee3;
	position: absolute;
	left: 0;
	bottom: -8px
}

.user-bbs .bbs-reply {
	display: none
}

.fc-gray {
	color: #999
}

.fc-blue {
	color: #3C82F6
}

.fc-red {
	color: #F30
}

.f-vh, .f-visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

.f-hide {
	display: none
}

.f-hidden {
	display: none !important
}

.f-invisible {
	visibility: hidden
}

.f-cf:before, .f-cf:after {
	content: " ";
	display: table
}

.f-cf:after {
	clear: both
}

.f-fl {
	float: left
}

.f-fr {
	float: right
}