body {
		color: #333;
		font-size: 14px;
		font-family: "Microsoft YaHei",Arial;
		width: 100%;
		height: auto;
		}
body, div, ul, li, p, form, fieldset, legend, input, textarea, img, section, article, button, textarea {
		padding: 0;
		margin: 0;
		}

i, em, a {
		font-style: normal;
		}
a:visited {
		text-decoration: none;
		color: #222;
		}
img {
		vertical-align: middle;
		}
input, textarea, img {
		border: 0;
		outline: 0;
		}
    .top {
        width: 100%;
        text-align: center;
    }

    .img {
        text-align: center;
        margin-top: -28px;
    }

	.img img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		text-align: center;
	}

    .info {
        text-align: center;
    }

    .name {
        line-height: 45px;
        font-size: 30px;
    }

    .good {
        line-height: 20px;
        font-size: 15px;
        color: #808080;
    }

    .select {
        margin: 60px 15px 25px 15px;
    }

        .select div {
            text-align: center;
            margin-bottom: 15px;
        }

            .select div a {
                height: 45px;
                width: 80px;
                line-height: 45px;
                position: relative;
                cursor: pointer;
                color: #D75644;
                background: #fafafa;
                border: 2px solid #D75644;
                border-radius: 5px;
                overflow: hidden;
                display: inline-block;
                text-align: center;
            }

                .select div a span {
                    font-size: 35px;
                    font-style: oblique;
                    line-height: 45px;
                    padding-right: 5px;
                }

    .othermoney {
        text-align: center;
    }

        .othermoney a {
            color: #607FA6;
        }

    .red {
        background: #D75644 !important;
        color: white !important;
    }
    
    html, body {
        height: 100%;
    }

    .mask {
        display:none;
        height: 100%;
        width: 100%;
        position:fixed;
        top: 0;
        z-index: 999999999;
        text-align:center;
    }
     .mask img{
         position:absolute;top:50%;left:50%; margin:-16px 0 0 -16px;
     }