body {
		margin: 0 auto !important;
		max-width: 1242px;
		height: 100%;
		background: #f4f4f4;
		font-size: 14px;
		font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
		line-height: 1.5;
		color: #666;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;
		word-break: break-all;
	}
	body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	}

	a, img, button, input, select {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	}
	a {
		text-decoration: none;
		color: #333;
		}
	a:visited {
		color: inherit;
		}
	img {
	border: 0 none;
	vertical-align: top;
	}
	i, em {
font-style: normal;
}
ol, ul {
/* list-style: none; */
}
	header {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 50;
	}
	.md_hd_wrap {
			height: 44px;
			line-height: 44px;
			background-color: #fff;
			position: relative;
			overflow: hidden;
			z-index: 50;
			border-bottom: 1px solid #eee;
			-webkit-tap-highlight-color: transparent;
			}
	.md_hd_wrap .col_left {
			position: absolute;
			width: 50px;
			height: 44px;
			text-align: center;
	}
	.md_hd_wrap .col_left a {
			color: #0093d5;
	}	
	.md_hd_wrap .col_middle {
		margin: 0 60px;
		height: 44px;
		text-align: center;
		position: relative;
		overflow: hidden;
		}
	.md_hd_wrap .col_middle h1 {
		font-size: 18px;
		line-height: 44px;
		color: #0093d5;
		font-weight: normal;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		}
	.md_hd_wrap .col_right {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 44px;
		line-height: 44px;
		text-align: center;
		}	

	.md_hd_wrap .col_right a {
		font-size: 12px;
		color: #0093d5;
		}
.smart_box {
width: 100%;
background-color: #fff;
position: fixed;
top: 120px;
z-index: 999;
display: none;
}
.top {
height: 60px;
background-color: #fff;
margin: 44px 0 0 0;
overflow: hidden;
}
.top .basic_bar {
float: left;
}
.top .head {
width: 40px;
height: 40px;
margin: 10px 5px 10px 10px;
float: none;
display: inline-block;
vertical-align: top;
border-radius: 50%;
overflow: hidden;
}
.top .head .head_img {
width: 40px;
height: 40px;
}

.top .head_name {
display: inline-block;
width: 54px;
font-size: 12px;
color: #1483b7;
line-height: 60px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
margin-left: -3px;
}
.top .sign_btn {
display: inline-block;
width: 60px;
height: 28px;
line-height: 28px;
border: 1px solid #17c000;
color: #17c000;
text-align: center;
border-radius: 3px;
}
.top .info_bar {
line-height: 30px;
height: 30px;
margin: 15px 10px 15px 0;
float: right;
font-size: 10px;
}
.top .info_title {
color: #ccc;
margin-right: 2px;
}
.top .post_num {
color: #1483b7;
margin-right: 12px;
}
.top .score_num {
color: #1483b7;
margin-right: 12px;
}
.top .icon_sign {
display: inline-block;
width: 12px;
height: 13px;
background-position: -20px 0;
vertical-align: middle;
margin: -2px 3px 0 0;
}
.icon_source, .item_admin:after {
background: url("../images/community_sprite.png");
background-size: 200px 200px;
}

.pro_bar {
-webkit-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
margin-bottom: 10px;
padding-right: 10px;
overflow: hidden;
}
.pro_bar .pro_item {
float: left;
width: 50%;
margin-right: 10px;
position: relative;
}
.pro_bar .pro_img {
width: 100%;
}
.pro_bar .pro_mask {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: .28;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(75%, transparent), color-stop(100%, #000));
}
.pro_bar .pro_title {
position: absolute;
font-size: 14px;
line-height: 14px;
height: 14px;
bottom: 6px;
right: 10px;
color: #fff;
font-weight: bolder;
}
.pro_bar .pro_item:last-child {
float: right;
margin-right: -10px;
}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.main_title {
margin: 20px 8px 14px;
font-size: 13px;
line-height: 12px;
height: 12px;
color: #999;
position: relative;
}


.topic_bar {
background-color: #fff;
}
.topic_bar .topic_item {
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding-left: 70px;
overflow: hidden;
position: relative;
}
.href_bar {
display: block;
}
.topic_bar .topic_head {
margin: 10px 10px 10px -60px;
width: 50px;
height: 50px;
background-position: -80px 0;
float: left;
}
.topic_bar .topic_head .topic_img {
width: 50px;
height: 50px;
}
.topic_bar .topic_content {
float: left;
margin-top: 20px;
width: 100%;
border-bottom: 1px solid #eeeeee;
padding-bottom: 20px;
}
.topic_bar .topic_content .topic_title {
color: #333;
font-size: 14px;
line-height: 14px;
height: 14px;
width: 100%;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.topic_bar .topic_title_text {
max-width: 76%;
display: inline-block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.topic_bar .topic_content .icon_hot, .topic_bar .topic_content .icon_ding, .topic_bar .topic_content .icon_new, .topic_bar .topic_content .icon_jing {
display: inline-block;
width: 14px;
height: 14px;
vertical-align: top;
margin-left: 3px;
background-position: 0 -40px;
}
.topic_bar .topic_content .icon_new {
background-position: -20px -40px;
}
.topic_bar .topic_content .topic_text {
width: 100%;
font-size: 12px;
line-height: 12px;
height: 12px;
margin-top: 7.5px;
color: #ccc;
}
.post_bar {
margin-top: 10px;
}
.post_bar {
min-height: 1px;
}
.post_item {
width: 100%;
background-color: #fff;
padding-bottom: 16px;
}
.post_item, .comment_bar .comment_box, .comment_bar .comment_edit {
position: relative;
}
.post_item:before, .comment_bar .comment_box:before, .comment_bar .comment_edit:before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
height: 0;
border-bottom: 1px solid #e3e3e3;
-webkit-transform: scaleY(0.5);
-webkit-transform-origin: 0 0;
visibility: visible;
}
.item_top {
padding: 16px 15px 0;
}

.item_top .head {
float: left;
width: 36px;
height: 36px;
border-radius: 100%;
overflow: hidden;
}
.item_top .head .head_img {
width: 36px;
height: 36px;
}
.item_name {
float: left;
font-size: 13px;
color: #333;
margin: 5px 0 0 10px;
line-height: 13px;
height: 14px;
}

.item_name .time {
font-size: 12px;
color: #ccc;
margin-top: 3px;
}
.href_bar {
display: block;
}
.list_style .item_content {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
}
.item_content {
margin: 8px 15px 0 61px;
font-size: 15px;
color: #333;
line-height: 1.2;
}
.img_bar {
position: relative;
overflow: hidden;
margin: 3px 15px 0 61px;
width: 244px;
}
.img_size_little {
width: 76px;
height: 76px;
margin: 5px 5px 0 0;
float: left;
position: relative;
overflow: hidden;
}
width: auto;
height: 100%;
opacity: 1;
}

.show_bar {
padding: 18px 10px 0;
}
.show_btn {
float: right;
font-size: 12px;
color: #1483b7;
}
.able_btn {
display: inline-block;
line-height: 20px;
height: 20px;
width: 46px;
margin-right: 10px;
}
.able_btn:last-child {
margin-right: 0;
}

.icon_comment {
margin-right: 0;
display: inline-block;
vertical-align: middle;
background-position: -40px -20px;
width: 20px;
height: 20px;
}
 .icon_like, .icon_share {
vertical-align: middle;
display: inline-block;
background-position: -40px -40px;
width: 20px;
height: 20px;
margin-right: 2px;
}

.comment_bar {
background-color: #f3f3f5;
position: relative;
margin: 10px 15px 0 61px;
-webkit-transition: all .3s ease-in;
}
.comment_bar .top_arrow {
position: absolute;
width: 0;
height: 0;
top: -3px;
right: 46px;
margin-right: -20px;
border-top: none;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 4px solid #f3f3f5;
}
.comment_bar .top_line {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 1px;
background-color: #f3f3f5;
z-index: 30;
}
.comment_bar .like_bar {
padding: 6px 0 6px 30px;
height: 25px;
position: relative;
}
.comment_bar .icon_like_little {
position: absolute;
width: 20px;
height: 20px;
display: block;
top: 10px;
left: 6px;
background-position: -60px -20px;
}
.comment_bar .like_item {
float: left;
width: 12.5%;
height: 25px;
}
.comment_bar .head {
width: 25px;
height: 25px;
display: inline-block;
border-radius: 100%;
overflow: hidden;
}
.comment_bar .head .head_img {
width: 25px;
height: 25px;
}

.img_multi {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
}
.comment_bar .comment_box {
padding: 6px 10px 6px;
color: #333;
overflow: hidden;
}
.comment_bar .comment_item {
font-size: 14px;
line-height: 16px;
margin-top: 4px;
}
.comment_bar .comment_item .name {
color: #1483b7;
}
.comment_bar .comment_item {
font-size: 14px;
line-height: 16px;
margin-top: 4px;
}
.comment_bar .comment_edit {
padding: 6px 10px 0;
display: none;
}
.comment_bar .edit_text {
width: 100%;
display: block;
outline: none;
border: none;
border-radius: 0;
-webkit-border-radius: 0;
resize: none;
box-sizing: border-box;
padding: 10px 12px;
line-height: 1.2;
font-size: 12px;
color: #333;
height: 90px;
}
.comment_bar .left_num {
background-color: #fff;
text-align: right;
padding-right: 12px;
font-size: 12px;
color: #999;
}
.comment_bar .btn_bar {
line-height: 1;
}
.comment_bar .btn_bar .commit {
color: #1483b7;
position: relative;
}
.comment_bar .btn_bar .cancel {
color: #999;
}
.comment_bar .btn_bar .btn {
font-size: 14px;
width: 50%;
float: left;
text-align: center;
padding: 13px 0;
}




.layer {
display: none;
z-index: 999;
width: 270px;
line-height: 30px;
font-size: 14px;
color: #fff;
text-align: center;
position: fixed;
left: 50%;
-webkit-transform: translateY(-50%);
margin-left: -135px;
background-color: #fff;
border-radius: 8px;
top: 50%;
padding-top: 19px;
}

.icon_sign_suc {
display: block;
width: 60px;
height: 60px;
background-position: 0 -100px;
margin: 0 auto 6px auto;
}

.layer_title {
color: #333;
font-size: 18px;
line-height: 1.2;
padding: 0 22px;
}
.icon_sign_recommend {
display: block;
width: 40px;
height: 20px;
background-position: -60px -100px;
margin: 17px auto 5px auto;
}
.layer_text {
color: #999;
font-size: 12px;
padding: 0 22px;
line-height: 1.2;
margin-bottom: 21px;
}
.layer .btn {
line-height: 43px;
font-size: 17px;
color: #0092d8;
display: block;
}
.layer .btn {
position: relative;
}
.layer .btn:before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
height: 0;
border-bottom: 1px solid #e3e3e3;
-webkit-transform: scaleY(0.5);
-webkit-transform-origin: 0 0;
visibility: visible;
}
.mask, .share_layer {
position: fixed;
width: 100%;
height: 100%;
background-color: #000;
opacity: .8;
top: 0;
left: 0;
right: 0;
display: none;
z-index: 100;
}