<div class="block">
                <div class="name-card name-card-directseller clearfix" style="padding: 10px; text-align: center">
                    <a class="thumb">
                        <img id="Image1" src="{php echo preg_replace('/\/0$/', '/96', stripslashes($fans['avatar']));}" style="border-width:0px;"></a>
                    <div class="detail">
                        <p class="font-size-18 c-black">
                            <span id="lbName">{$fans['nickname']}</span></p>
                        <p class="font-size-12 c-gray-dark">
                            <span id="lbNo">关注时间：{if $fans['follow']}{php echo date('Y-m-d H:i:s',$fans['followtime'])}{else}未关注{/if}</span></p>
                    </div>
                </div>
            </div>
            <div class="block" style="background:{if $poster['mbcolor']}{$poster['mbcolor']}{else}#FF6600{/if};">
                <div class="clearfix binary-box binary-box-count" style="padding-top: 15px; padding-bottom: 5px">
                    <div>
                        <a href="/app/index.php?i={$fans['uniacid']}&c=entry&pid={$pid}&do=txrecords&m=wdl_jifenbao" id="A1">
                            <p class="font-size-16 c-white">
                                <span id="lbjf">{$credit}</span></p>
                            <p class="font-size-16 c-white">
                                我的<span id="lbrmb">余额</span></p>
                        </a>
                    </div>
                    <div>
                        <a href="/app/index.php?i={$fans['uniacid']}&c=entry&uid={$fans['uid']}&pid={$pid}&do=txmfan1&m=wdl_jifenbao" id="A2">
                            <p class="font-size-16 c-white">
                                <span id="lbTeam">{$sumcount}</span></p>
                            <p class="font-size-16 c-white">
                                我的团队</p>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="clearfix binary-box binary-box-count" style="padding-top: 5px; padding-bottom: 15px">
                    <div>
                        <a href="/app/index.php?i={$fans['uniacid']}&c=entry&do=tixian&m=wdl_jifenbao" id="A3">
                            <p class="font-size-16 c-white">
                                提现中心</p>
                        </a>
                    </div>
                    <div>
                        <a href="/app/index.php?i={$fans['uniacid']}&c=entry&pid={$pid}&do=txranking&m=wdl_jifenbao" id="A4">
                            <p class="font-size-16 c-white">
                                <span id="lbSort">{if $cfg['paihang']==0}余额{else}提现{/if}</span>排行</p>
                        </a>
                    </div>
                </div>
            </div>