html,body{
	font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
	width: 100%;
	max-width:480px;
	height: 100%;
	overflow: hidden;
}

.div{
	width: 100%;
	min-height:100%;
	position: relative;
	overflow: hidden;
}
.bg_1{
	background: url(../images/bg_redrain.png)no-repeat center bottom;
	z-index:0;
}
.bg_2{
	background: url(../images/bg_redrain2.png)no-repeat center bottom;
	z-index:0;	
}
.div > div{
	width: 80px;
	height: 90px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../images/icon_package.png);
	background-repeat: no-repeat;
	background-size: 155px 215px;
	background-position: 0px -1px;
	
}
.page_rain{
	position: relative;
}
.lasttimes{
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 2px 5px;
	font-size: 14px;
	color: #fff;
	background: rgba(56, 54, 54, 0.68);
	border-radius: 5px;
}
.timesnumber{
	color:red;
	font-size:16px;
}
/*拆红包*/
.chaihb{
    text-align: center;
	position:fixed;
	z-index:4;
	left: 50%;
	top: 40px;
	margin-left: -125px;
}
.mengc{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow:auto;
}
.hongbao{
    background: #A5423A;
    width: 250px;
    height: 400px;	
	position: relative;	
    left: 0;
    top: 0;
	z-index:5;
    border-radius: 10px;
    margin: 0 auto;	
}
.topcontent{
    height: 280px;
    border: 1px solid #BD503A;
    background-color: #BD503A;
    border-radius: 10px 10px 50% 50% / 10px 10px 15% 15%;
    box-shadow: 0px 4px 0px -1px rgba(0,0,0,0.2);
}
.avatar{
    position: relative;
}
.avatar span{
    position: absolute;
    top: 10px;
    right: 15px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);		
            transform: rotate(45deg);
    font-size: 2em;
    font-weight: bolder;
}
#close{
    color: rgba(0,0,0,0.5);
}
.avatar img{
    border: 1px solid #BD503A;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10%;
}
.topcontent h2{
    margin: 3px 0;
}
.text{
    color: #999;
}
.description{
    margin: 15px 0;
    font-size: 16px;
    font-weight: 600;
}
#chai{
    width: 100px;
    height: 100px;
    border: 1px solid #FFA73A;
    background-color: #FFA73A;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin-top: -50px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
}
#chai span{
    margin-top: 35px;
    display: inline-block;
}
.rotate{
    -webkit-animation: anim .9s;
	-ms-animation: anim .9s  ;
            animation: anim .9s  ;
}
@-webkit-keyframes anim {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); }
}
@-ms-keyframes anim {
    from { -ms-transform: rotateY(0deg); }
    to { -ms-transform: rotateY(360deg); }
}
@-o-keyframes anim {
    from { -o-transform: rotateY(0deg); }
    to { -o-transform: rotateY(360deg); }
}
@keyframes anim {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}
/*二维码*/
.arterweima {
	margin:0;
	padding:0;
	width:80%;
	height:auto;
	left:10%;
	top:10%;
	padding-bottom:10px;
}
.arterweima  img{
	width:90%;
	max-width:300px;
	max-height:300px;
	margin-top: 20px;	
}
.arterweima  p{
	font-size:18px;
}
.arterweima .fa-close{
	width:100%;
	padding-right:10px;
	margin-right:3px;
	background:rgba(40,40,40,0);
	font-size:18px;

}
.closefont{
	width:100%;
	color:#fff;
}
.closefont::before{
	padding:5px;
	float:right;
}
.yindao{
	padding:10px;
}
/*红包页面*/
.money{
	width:90%;
	max-width:320px;
	height:300px;
	background:#fff;
	margin:0 auto;
	color:black;
	font-size:14px;
}
.money p{
	color:black;
	font-size:14px;
}
.moneytop{
	width:100%;
	height:120px;
	background:#da4d43;
	border-radius: 0 0 50% 50% / 0 0 45% 45%;
}
.moneyimg{
	width: 60px;
	height: 60px;
	margin: 0 auto;
	margin-top: -50px;
	border-radius: 50%;	
}
.moneyimg img{
	width:60px;
	height: 60px;	
    border-radius: 50%;
    overflow: hidden;	
}
.moneyfont{
	margin-top: 20px;
}
.moneynum p{
	font-size:28px;
}
.moneysize{
	color:red;
}
.moneybtn{
	position: relative;
	margin-top: 20px;
	border: 0;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
	box-shadow: 3px 4px #fff;
	background: #fe4b44;
	color: #fff;
	animation: moneybtn 200ms infinite alternate;
	-webkit-animation: moneybtn 200ms infinite alternate;	
}
@keyframes moneybtn{
	0%{
		box-shadow: 3px 4px #fff;
		top: 0px;		
	}
	50%{
		box-shadow: 2px 2px #fff;
		top: 1px;
	}	
	100%{
		box-shadow: 1px 0px #fff;
		top: 2px;
	}	
}
@-webkit-keyframes moneybtn{
	0%{
		box-shadow: 3px 4px #fff;
		top: 0px;		
	}
	50%{
		box-shadow: 2px 2px #fff;
		top: 1px;
	}	
	100%{
		box-shadow: 1px 0px #fff;
		top: 2px;
	}	
}
/*分享图片*/
.shareimg{
	width:100%;
	height:100%;
	background:rgba(55,55,55,0.5);
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	text-align: center;
}
.shareimg img{
	width:100%;
	position:relative;
	z-index:999;	
}
/*提醒*/
.tip{
	width:80%;
	max-width:320px;
	height:300px;
	background:#fff;
	margin:0 auto;
}
.tip p{
	color:black;
	font-size:12px;
	padding:5px 20px;
	text-align:left;
}
.tipimg img{
	width:80px;
}
.tipbtn{
	padding:5px 8px;
	border: 0;
	border-radius: 5px;
	font-size: 18px;
	background: #fe4b44;
	color: #fff;

}
.btnleft{
	margin-right:10px;	
}
.rule{
	min-height:100%;
	background:#fe4b44;
	padding:20px 10px;
	position:relative;
	z-index:5;	
}
.rule-body{
	min-height:90%;
	background:#fff0b9;
	font-size:14px;
	color:red;
	border:1px solid black;
	border-radius:10px;
	position:relative;
	padding:5px;
}
.ruleclose{
	position:absolute;
	color:black;
	right:15px;
	bottom:3%;
	background:#fff;
	width:28px;
	padding:3px;
	font-size:28px;
	text-align:center;
}
.toewm{
	margin-top:30px;
	margin-bottom:20px;
}
/*邀请页面*/
.bg{
	width: 100%;
	height:100%;
	background: url(../images/bg_1.jpg)no-repeat center bottom;
	background-size: 100%;
	position:relative;
	z-index:1;
}
.erweima {
	text-align:center;
}
.erweima img{
	width:150px;
	height:150px;
	margin-top:20px;	
}
.font{
	background: rgba(56, 54, 54, 0.68);
	color: #fff;
	margin: 20px 50px;
	padding: 5px;
	border-radius: 5px;
}
.btn {
	padding: 3px 10px;
	color: #fff;
	background: #fe4759;
	border: 1px #fff solid;
	border-radius: 5px;
	font-size: 18px;
}
.btnboot{
	position: absolute;
	bottom:20px;
	width:100%;
	text-align: center;
}
.right{
	margin-left:50px;
}
.ttime{
	padding: 5px;
	color: #fff;
	background: rgba(56, 54, 54, 0.68);
	margin-left: 20px;
	width: 120px;
	position: absolute;
	bottom: 80px;
	border-radius: 5px;	
	font-size:12px;
}
/*中奖名单*/
.list{
	height:50px;
	border-bottom: 1px solid red;
	margin-bottom: 5px;		
}
.headimg {
	width:25%;
}
.headimg img{
	width:40px;
	height:40px;
	border-radius: 50%;
	display:block-inline;
}
.plist{
	width:18%;
	height:50px;
	float: left;
	text-align:center;
}
.plistnick{
	width:33%;
	height:50px;
	text-align:center;	
	white-space:nowrap;
	overflow:hidden;
	float: left;	
}
.pfont{
	line-height: 3;
}
.invshare img{
	width:90%;
	max-width:480px;
	margin-top:20px;
}
/*music*/
#music{
	position: absolute;
	top: 20px;
	right: 20;
}
#music #audio-btn{
	width: 44px;
	height: 44px; 
	background-size: 100% 100%;
}
#music .on{
	background: url('../images/music_on.png') no-repeat 0 0;
	-webkit-animation: rotating 1.2s linear infinite;
	animation: rotating 1.2s linear infinite;
}
#music .off{
	background: url('../images/music_off.png') no-repeat 0 0;
}
@-webkit-keyframes rotating {
	from{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
    	transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}