{template 'public/header'}
{template 'public/comhead'}
{if $operation == 'post'}
<div class="main">
<form class="form-horizontal form" id="form1" action="" method="post" enctype="multipart/form-data">
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="nav nav-tabs" id="myTab">
				<li class="active" ><a href="#tab_basic">基本设置</a></li>
				<li><a href="#tab_gongn">功能管理</a></li>
				<li><a href="#tab_baom">报名设置</a></li>
			    {if $reply['is_recordmac'] == 1}
                <li><a href="#tab_shid">考勤设置</a></li>
                {/if}
                {if $_W['isfounder'] || $_W['role'] == 'owner'}
                <li><a href="#tab_highset">高级管理设置</a></li>
				{/if}
			</ul>
		</div>
	</div>
	<!--微信端首页tips-->
    {if !empty($reply)}
	{if $_W['isfounder'] || $_W['role'] == 'owner'}
	<div class="panel panel-default clip">
		<div class="panel-body">
			<p style="margin: 0px">
				<strong>微信端首页 :</strong>
				<a> {php echo $_W['siteroot'] . 'app/index.php?i=' . $reply['weid'] . '&c=entry&schoolid=' . $reply['id'] . '&do=detail&m=fm_jiaoyu'}</a>
			</p><br>
			{if $logo['is_openht'] ==1}
			<p style="margin: 0px">
				<strong>校园管理登录后台 :</strong>
				<a> {php echo $_W['siteroot']}addons/fm_jiaoyu/admin</a>
			</p>
			{/if}
		</div>
	</div>
	{/if}
	{/if}
    <!--微信端首页tips_end-->
	<div class="tab-content">
		<div class="tab-pane active" id="tab_basic">
			<div class="panel panel-info">
				<div class="panel-heading">
					基本信息
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">* </span>学校名称</label>
						<div class="col-sm-9">
							<input type="text" name="title" value="{$reply['title']}" id="title" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">Logo</label>
						<div class="col-sm-9">
							{php echo tpl_form_field_image('logo', $reply['logo'])}
							<div class="help-block">如果使用优米考勤机必须为PNG格式图片否则设备上无法显示</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">图文消息缩略图</label>
						<div class="col-sm-9">
							{php echo tpl_form_field_image('thumb', $reply['thumb'])}
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">公告</label>
						<div class="col-sm-9">
							<input type="text" name="gonggao" value="{$reply['gonggao']}" id="gonggao" class="form-control" />
							<div class="help-block">在学校首页显示,考勤机待机界面显示</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">校园二维码</label>
						<div class="col-sm-9">
							{php echo tpl_form_field_image('qroce', $reply['qroce'])}
							<div class="help-block">显示在手机端文章、教师中心、通知、公告/不设置直接显示本公众号二维码</div>
						</div>					
					</div>	
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">教师默认头像</label>
						<div class="col-sm-9">
							{php echo tpl_form_field_image('tpic', $reply['tpic'])}
							<div class="help-block">显示在所有没设置教师头像的所有页面（包括考勤机），如已设置教师头像则不生效</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">学生默认头像</label>
						<div class="col-sm-9">
							{php echo tpl_form_field_image('spic', $reply['spic'])}
							<div class="help-block">显示在所有没设置学生头像的所有页面（包括考勤机），如已设置学生头像则不生效</div>
						</div>
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">学校简介</label>
						<div class="col-sm-9">
							<input type="text" name="info" value="{$reply['info']}" id="info" class="form-control" />
							<div class="help-block">在学校详细页及图文消息里显示显示</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">学校类型</label>
						<div class="col-sm-9">
							<select class="form-control" name="type" id="type">
								<option value="0">请选择</option>
								{loop $schooltype $item}
								<option value="{$item['id']}" {if $reply['typeid']==$item['id']}selected{/if}>{$item['name']}</option>
								{/loop}
							</select>
						</div>
					</div>
					{if $city}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">所属城市</label>
						<div class="col-sm-9">
							<select class="form-control" name="cityid" id="city">
								<option value="0">请选择</option>
								{loop $city $item}
								<option value="{$item['id']}" {if $reply['cityid']==$item['id']}selected{/if}>{$item['name']}</option>
								{/loop}
								<input type="hidden" name='cityids[]' id='cityid' value='' >
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">所属区域</label>
						<div class="col-sm-9">
							<select class="form-control" name="area" id="area">
								{if $reply['areaid']}
								<option value="{$reply['areaid']}" selected>{$quyu['name']}</option>						
								{/if}
							</select>
						</div>
					</div>
					{else}	
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">所属区域</label>
						<div class="col-sm-9">
							<select class="form-control" name="area" id="area">
								<option value="0">请选择</option>
								{loop $area $item}
								<option value="{$item['id']}" {if $reply['areaid']==$item['id']}selected{/if}>{$item['name']}</option>
								{/loop}
							</select>
						</div>
					</div>
					{/if}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">学校介绍</label>
						<div class="col-sm-9">
						   {php echo tpl_ueditor('content', $reply['content']);}
						</div>
					</div>	
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">招生简章</label>
						<div class="col-sm-9">
						   {php echo tpl_ueditor('zhaosheng', $reply['zhaosheng']);}
						</div>
					</div>				
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">电话</label>
						<div class="col-sm-9">
							<input type="text" name="tel" id="tel" value="{$reply['tel']}" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">地址</label>
						<div class="col-sm-9">
							<input type="text" name="address" id="address" value="{$reply['address']}" class="form-control" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>
						<div class="col-sm-9">
							{php echo tpl_form_field_coordinate('baidumap', $reply)}
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
						<div class="col-sm-9">
							<input type="text" name="ssort" value="{$reply['ssort']}" id="ssort" class="form-control" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="tab_highset">
			<div class="panel panel-info"><div class="panel-heading">高级管理设置</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">允许使用视频</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="is_fbnew" value="1" {if $reply['is_fbnew']== 1 || empty($reply['is_fbnew'])}checked{/if}>是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_fbnew" value="2" {if $reply['is_fbnew'] == 2}checked{/if}>否
							</label>
							<div class="help-block">启用后允许本校发布作业通知班级圈等使用小视频功能</div>
						</div>	
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">允许使用录音</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="is_fbvocie" value="1" {if $reply['is_fbvocie']== 1 || empty($reply['is_fbvocie'])}checked{/if}>是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_fbvocie" value="2" {if $reply['is_fbvocie'] == 2}checked{/if}>否
							</label>
							<div class="help-block">启用后允许本校发布作业通知班级圈等使用录音功能</div>
						</div>	
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">腾讯云点播secretId</label>
						<div class="input-group">
							<input type="text" class="form-control" value="{$reply['txid']}" name="txid">
						</div>
					</div>
					<div class="form-group">	
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">腾讯云点播secretKey</label>
						<div class="input-group">
							<input type="text" class="form-control" value="{$reply['txms']}" name="txms">
							{if $_W['isfounder'] || $_W['role'] == 'owner'}<div class="help-block">前往商业群内查看腾讯云点播系统申请方法</div>{/if}
						</div>						
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用微信辅助签到</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="is_wxsign" value="1" {if $reply['is_wxsign']== 1 || empty($reply['is_wxsign'])}checked{/if} id="credit8">是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_wxsign" value="2" {if $reply['is_wxsign'] == 2}checked{/if} id="credit9">否
							</label>
							<div class="help-block">启用后家长或学生可以在微信端进行签到</div>
						</div>	
					</div>
					<div id="credit-status4" {if $reply['is_wxsign'] == 1}style="display:block"{else}style="display:none"{/if}>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">微信签到需确认</label>
							<div class="col-sm-9">
									<label class="radio-inline">
										<input type="radio" name="is_signneedcomfim" value="1" {if $reply['is_signneedcomfim']== 1}checked{/if}>是
									</label>
									<label class="radio-inline">
										<input type="radio" name="is_signneedcomfim" value="2" {if $reply['is_signneedcomfim'] == 2 || empty($reply['is_signneedcomfim'])}checked{/if}>否
									</label>
									<div class="help-block">启用后,家长或学生在微信端签到后需要老师确认，老师确认后签到成功</div>
							</div>		
						</div>	
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用考勤设备</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="is_recordmac" value="1" {if $reply['is_recordmac']==1}checked{/if}>是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_recordmac" value="2" {if $reply['is_recordmac'] ==2 || empty($reply['is_recordmac'])}checked{/if}>否
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用卡片库</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="is_cardlist" value="1" {if $reply['is_cardlist']==1}checked{/if}>是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_cardlist" value="2" {if $reply['is_cardlist'] ==2 || empty($reply['is_cardlist'])}checked{/if}>否
							</label>
						</div>
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">允许学校创建收费项目</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="is_cost" value="1" {if $reply['is_cost']==1}checked{/if}>是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_cost" value="2" {if $reply['is_cost'] ==2 || empty($reply['is_cost'])}checked{/if}>否
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">* </span>启用学校</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="is_show" value="1" {if $reply['is_show']==1 || empty($reply)}checked{/if}>是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_show" value="0" {if isset($reply['is_show']) && empty($reply['is_show'])}checked{/if}>否
							</label>
							<div class="help-block">是否将学校显示在学校列表页包括手机端</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="require">* </span>启用本校独立后台</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="is_openht" value="1" {if $reply['is_openht']==1 || empty($reply['is_openht'])}checked{/if}>是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_openht" value="2" {if $reply['is_openht']==2}checked{/if}>否
							</label>
							<div class="help-block">如果不启用本校后台，已生产独立账号登陆将会提示站点已关闭</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">验证码启用状态</label>
						<div class="col-sm-9">
							<label class="radio-inline">
							{if !empty($_W['setting']['copyright']['verifycode'])}
								<div class="help-block">启用</div>
							{else}
								<div class="help-block">未启用</div>
							{/if}
							</label>
							<div class="help-block">跟随微赞站点设置，如微赞站点登录时启用了验证码，独立后台也会启用</div>
						</div>
					</div>					
				</div>	
			</div>		
		</div>
		<div class="tab-pane" id="tab_gongn">
			<div class="panel panel-info"><div class="panel-heading">功能管理</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用监控{$reply['is_video']}</label>
						<div class="col-sm-9">
							<input type="checkbox" value="{$reply['is_video']}" name="is_video[]" data-id="" {if $reply['is_video'] == 1}checked{/if}>
							<div class="help-block">启用后左侧菜单会显示菜单</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">监控直播系统命名</label>
						<div class="input-group">
							<input type="text" class="form-control" value="{$reply['videoname']}" name="videoname">
							<div class="help-block">为您的监控直播系统命名(例如，圆所视频，学校画面，实时画面等等)</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">班级监控封面</label>
						<div class="input-group">
							{php echo tpl_form_field_image('videopic', $reply['videopic'])}
							<div class="help-block">与监控系统不同，全校班级监控画面封面在这里设置，尺寸建议333*120</div>
						</div>
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用周计划</label>
						<div class="col-sm-9">
							<input type="checkbox" value="{$reply['is_zjh']}" name="is_zjh[]" data-id="" {if $reply['is_zjh'] == 1}checked{/if}>
						</div>
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示学校二维码</label>
						<div class="col-sm-9">
							<input type="checkbox" value="{$reply['is_showew']}" name="is_showew[]" data-id="" {if $reply['is_showew'] == 1}checked{/if}>
							<div class="help-block">显示在文章详情页，教师中心页，通知页面，作业页面等底部</div>							
						</div>
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否满员</label>
						<div class="col-sm-9">
							<input type="checkbox" value="{$reply['is_hot']}" name="is_hot[]" data-id="" {if $reply['is_hot'] == 1}checked{/if}>
							<div class="help-block">本校招生是否满员</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否启用评价系统</label>
						<div class="col-sm-9">
							<input type="checkbox" value="{$reply['is_rest']}" name="is_rest[]" data-id="" {if !empty($reply['is_rest'])}checked{/if}>
							<div class="help-block">启用后左侧菜单会显示菜单</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">评价系统命名</label>
						<div class="input-group">
							<input type="text" class="form-control" value="{if $reply['shoucename']}{$reply['shoucename']}{else}在校表现{/if}" name="shoucename">
							<div class="help-block">
								为您的评价系统手册命名(例如，联系首次、在校表现、成长记录、家园共育、亲子记录)
							</div>
						</div>
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">班级圈审核</label>
						<div class="col-sm-9">
							<input type="checkbox" value="{$reply['isopen']}" name="isopen[]" data-id="" {if $reply['isopen'] == 1}checked{/if}>
							<div class="help-block">
								发布班级圈是否需要班主任审核(各班级必须有班主任或管理员)
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用公立课表</label>
						<div class="col-sm-9">
							<input type="checkbox" value="{$reply['is_kb']}" name="is_kb[]" data-id="" {if $reply['is_kb'] == 1}checked{/if}>
							<div class="help-block">启用后前往 教务管理 - 课表管理  - 顶部切换管理</div>
						</div>
					</div>					
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">选课方式</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="issale" value="1" {if $reply['issale']==1 && !empty($reply)}checked="true"{/if}>购买方式
							</label>
							<label class="radio-inline">
								<input type="radio" name="issale" value="3" {if $reply['issale']==3 && !empty($reply)}checked="true"{/if}>自由选课
							</label>
							<label class="radio-inline">
								<input type="radio" name="issale" value="5" {if empty($reply['issale']) || $reply['issale'] == 5}checked="true"{/if}>关闭
							</label>						
							<div class="help-block">
								购买方式：前端购买课程显示在订单列表以及我的在读课程<span style="color:red;font-weight:blod;">（必须认证服务号）</span>
						   </br>自由选课：不显示在订单中学,只显示在我的在读课程里<span style="color:red;font-weight:blod;">（自由报名课程）</span>
						   </br>说明：
						   </br>必须认证服务号使用在线购买
							</div>
						</div>
					</div>
				</div>		
			</div>		
		</div>					
		<div class="tab-pane" id="tab_shid">
			<div class="panel panel-info"><div class="panel-heading">考勤基本设置</div>
				<div class="panel-body">			
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用刷卡付费</label>
							<label class="radio-inline">
								<input type="radio" name="is_cardpay" value="1" {if $reply['is_cardpay']== 1}checked{/if} id="credit4">是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_cardpay" value="2" {if $reply['is_cardpay'] == 2 || empty($reply['is_cardpay'])}checked{/if} id="credit5">否
							</label>
							<div class="help-block"></div>
					</div>
					<div id="credit-status3" {if $reply['is_cardpay'] == 1}style="display:block"{else}style="display:none"{/if}>
						{if $_W['isfounder'] || $_W['role'] == 'owner'}
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">费用支付至</label>
							<div class="col-sm-2 col-lg-2">
								<select class="form-control" name="kqpayweid" id="kqpayweid">
									<option value="0">请选择收款账户</option>
									{loop $payweid $row}
									<option value="{$row['uniacid']}" {if $card['payweid']==$row['uniacid']}selected{/if}>{$row['name']}</option>
									{/loop}
								</select>
							</div>
							<div class="help-block">付费至指定公众号设置的支付方式内，不设置这付费至当前公众号</div>
						</div>
						{/if}					
						<div class="form-group">	
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">续费价格</label>
							<div class="col-sm-2 col-lg-2">
								 <div class="input-group">					
									<input type="text" class="form-control" name="cardcost" value="{$card['cardcost']}" />
									<div class="help-block">
										<span style="color:red;font-weight:bold;font-size:15px;">首次开卡线下收费,线上只负责卡计时续费</span>
									</div>
								 </div>
							</div>
						</div>						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">计时方式</label>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" name="cardtime" value="1" {if $card['cardtime']==1}checked{/if} id="credit6">倒计时
								</label>
								<label class="radio-inline">
									<input type="radio" name="cardtime" value="2" {if $card['cardtime']==2 || empty($card['cardtime'])}checked{/if} id="credit7">指定结束日期
								</label>
								<div class="help-block"><span style="color:red;font-weight:bold;font-size:15px;">无论选择那种计时方式，只要绑定卡后就开始按照本选择方式计时</span></div>
							</div>
						</div>
						<div id="credit-status5" {if $card['cardtime'] == 1}style="display:block"{else}style="display:none"{/if}>
							<div class="form-group">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label">倒计时方式</label>
								<div class="col-sm-2 col-lg-2">
									<div class="input-group">							
										<input type="text" class="form-control" name="endtime1" value="{$card['endtime1']}">
										<div class="help-block"><span class="label label-success">按天倒计时(必须是整数)</span></div>
									</div>
								</div>	
							</div>
						</div>
						<div id="credit-status6" {if $card['cardtime'] == 2}style="display:block"{else}style="display:none"{/if}>
							<div class="form-group">
								<label class="col-xs-12 col-sm-3 col-md-2 control-label">指定结束日期</label>
								<div class="input-group">
									 {if !empty($item['endtime2'])}
										{php echo tpl_form_field_date('endtime2', date('Y-m-d', $card['endtime2']))}
									 {else}
										{php echo tpl_form_field_date('endtime2', date('Y-m-d', TIMESTAMP))}
									 {/if}
									<div class="help-block">无论何时续费,皆在本日期停止使用本卡</div>	
								</div>
							</div>
						</div>						
					</div>					
				</div>	
			</div>		
			<div class="panel panel-info"><div class="panel-heading">考勤时段设置</div>
				<div class="panel-body">
					<div class="form-group">早晚
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">进校时段</label>
						<div class="col-sm-9 col-xs-9 col-md-4">
								<div class="input-group clockpicker" style="margin-bottom: 15px">
									{php echo tpl_form_field_clock('jxstart', $reply['jxstart'])}
									<span class="input-group-addon">至</span>
									{php echo tpl_form_field_clock('jxend', $reply['jxend'])}
									<span class="input-group-addon"></span>
								</div>
						</div>
					</div>
					<div class="form-group">早晚
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">离校时段</label>
						<div class="col-sm-9 col-xs-9 col-md-4">
								<div class="input-group clockpicker" style="margin-bottom: 15px">
									{php echo tpl_form_field_clock('lxstart', $reply['lxstart'])}
									<span class="input-group-addon">至</span>
									{php echo tpl_form_field_clock('lxend', $reply['lxend'])}
									<span class="input-group-addon"></span>
								</div>
						</div>
					</div>
					<div class="form-group">午间
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">进校时段</label>
						<div class="col-sm-9 col-xs-9 col-md-4">
								<div class="input-group clockpicker" style="margin-bottom: 15px">
									{php echo tpl_form_field_clock('jxstart1', $reply['jxstart1'])}
									<span class="input-group-addon">至</span>
									{php echo tpl_form_field_clock('jxend1', $reply['jxend1'])}
									<span class="input-group-addon"></span>
								</div>
						</div>
					</div>
					<div class="form-group">午间
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">离校时段</label>
						<div class="col-sm-9 col-xs-9 col-md-4">
								<div class="input-group clockpicker" style="margin-bottom: 15px">
									{php echo tpl_form_field_clock('lxstart1', $reply['lxstart1'])}
									<span class="input-group-addon">至</span>
									{php echo tpl_form_field_clock('lxend1', $reply['lxend1'])}
									<span class="input-group-addon"></span>
								</div>
						</div>
					</div>
					<div class="form-group">晚自习
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">进校时段</label>
						<div class="col-sm-9 col-xs-9 col-md-4">
								<div class="input-group clockpicker" style="margin-bottom: 15px">
									{php echo tpl_form_field_clock('jxstart2', $reply['jxstart2'])}
									<span class="input-group-addon">至</span>
									{php echo tpl_form_field_clock('jxend2', $reply['jxend2'])}
									<span class="input-group-addon"></span>
								</div>
						</div>
					</div>
					<div class="form-group">晚自习
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">离校时段</label>
						<div class="col-sm-9 col-xs-9 col-md-4">
								<div class="input-group clockpicker" style="margin-bottom: 15px">
									{php echo tpl_form_field_clock('lxstart2', $reply['lxstart2'])}
									<span class="input-group-addon">至</span>
									{php echo tpl_form_field_clock('lxend2', $reply['lxend2'])}
									<span class="input-group-addon"></span>
								</div>
						</div>
					</div>					
				</div>	
			</div>
		</div>		
		<div class="tab-pane" id="tab_baom">
			<div class="panel panel-info"><div class="panel-heading">报名设置</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">启用前端报名</label>
							<label class="radio-inline">
								<input type="radio" name="is_sign" value="1" {if $reply['is_sign']== 1}checked{/if} id="credit1">是
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_sign" value="2" {if $reply['is_sign'] == 2 || empty($reply['is_sign'])}checked{/if} id="credit0">否
							</label>
							<div class="help-block"></div>
					</div>			
					<div id="credit-status1" {if $reply['is_sign'] == 1}style="display:block"{else}style="display:none"{/if}>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">需要选择班级</label>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" name="is_bj" value="1" {if $sign['is_bj']==1}checked{/if}>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="is_bj" value="2" {if $sign['is_bj']==2 || empty($sign['is_bj'])}checked{/if}>否
								</label>
								<div class="help-block">报名时让家长选择学生班级,一般情况由管理审核时填写班级信息</div>
							</div>
						</div>					
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">需要输入身份证</label>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" name="is_idcard" value="1" {if $sign['is_idcard']==1}checked{/if}>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="is_idcard" value="2" {if $sign['is_idcard']==2 || empty($sign['is_idcard'])}checked{/if}>否
								</label>
								<div class="help-block">报名时身份证是否必填</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">需要输入生日</label>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" name="is_bir" value="1" {if $sign['is_bir']==1}checked{/if}>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="is_bir" value="2" {if $sign['is_bir']==2 || empty($sign['is_bir'])}checked{/if}>否
								</label>
								<div class="help-block">报名时生日是否必填</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">报名启用绑定</label>
							<div class="col-sm-9">
								<label class="radio-inline">
									<input type="radio" name="is_bd" value="1" {if $sign['is_bd']==1}checked{/if}>是
								</label>
								<label class="radio-inline">
									<input type="radio" name="is_bd" value="2" {if $sign['is_bd']==2 || empty($sign['is_bd'])}checked{/if}>否
								</label>
								<div class="help-block">报名时是否启用报名成功后直接绑定微信功能</div>
							</div>
						</div>
						{if $_W['isfounder'] || $_W['role'] == 'owner'}
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">报名费用支付至</label>
							<div class="col-sm-2 col-lg-2">
								<select class="form-control" name="bmpayweid" id="bmpayweid">
									<option value="0">请选择收款账户</option>
									{loop $payweid $row}
									<option value="{$row['uniacid']}" {if $sign['payweid']==$row['uniacid']}selected{/if}>{$row['name']}</option>
									{/loop}
								</select>
								
							</div>
							<div class="help-block">付费至指定公众号设置的支付方式内，不设置这付费至当前公众号</div>
						</div>
						{/if}
					</div>
				</div>	
			</div>		
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="保存设置" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>	
	</div>
</form>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$("#city").change(function() {
		var type = 2;
		var cityId = $("#city option:selected").attr('value');
		changeGrade(cityId,type, function() {
		});		
	});	
});	
function changeGrade(gradeId, type, __result) {
	
	//$('#njidid').val(gradeId);
	
	var weid = "{$weid}";
	var classlevel = [];
	//获取班次
	$.post("{php echo $this->createWebUrl('indexajax',array('op'=>'getquyulist'))}", {'gradeId': gradeId, 'weid': weid}, function(data) {
	
		data = JSON.parse(data);
		classlevel = data.bjlist;
		
		var html = '';
		html += '<select id="bj_id"><option value="">请选择区域</option>';
		if (classlevel != '') {
			for (var i in classlevel) {
				html += '<option value="' + classlevel[i].id + '">' + classlevel[i].name + '</option>';
			}
		}
		
		$('#area').html(html);
	});

}
</script>
<script type="text/javascript">
	$('#credit1').click(function(){
		$('#credit-status1').show();
	});
	$('#credit0').click(function(){
		$('#credit-status1').hide();
	});
	$('#credit3').click(function(){
		$('#credit-status2').show();
	});
	$('#credit2').click(function(){
		$('#credit-status2').hide();
	});
	$('#credit4').click(function(){
		$('#credit-status3').show();
	});
	$('#credit5').click(function(){
		$('#credit-status3').hide();
	});
	$('#credit6').click(function(){
		$('#credit-status5').show();
		$('#credit-status6').hide();
	});
	$('#credit7').click(function(){
		$('#credit-status6').show();
		$('#credit-status5').hide();
	});
	$('#credit9').click(function(){
		$('#credit-status4').hide();
	});
	$('#credit8').click(function(){
		$('#credit-status4').show();
	});	

require(['jquery.qrcode', 'bootstrap.switch'], function($){

	$(':checkbox[name="is_video[]"]').bootstrapSwitch();
	$(':checkbox[name="is_video[]"]').on('switchChange.bootstrapSwitch', function(e, state){
		var is_video = this.checked ? 1 : 2;
		$.post("{php echo $this->createWebUrl('schoolset', array('op' => 'change1'))}", {is_video: is_video}, function(resp){
			setTimeout(function(){
				//location.reload();
			}, 500)
		});
	});	
	$(':checkbox[name="is_hot[]"]').bootstrapSwitch();
	$(':checkbox[name="is_hot[]"]').on('switchChange.bootstrapSwitch', function(e, state){
		var is_hot = this.checked ? 1 : 2;
		$.post("{php echo $this->createWebUrl('schoolset', array('op' => 'change2'))}", {is_hot: is_hot}, function(resp){
			setTimeout(function(){
			}, 500)
		});
	});
	$(':checkbox[name="is_rest[]"]').bootstrapSwitch();
	$(':checkbox[name="is_rest[]"]').on('switchChange.bootstrapSwitch', function(e, state){
		var is_rest = this.checked ? 1 : 0;
		$.post("{php echo $this->createWebUrl('schoolset', array('op' => 'change3'))}", {is_rest: is_rest}, function(resp){
			setTimeout(function(){
			}, 500)
		});
	});	
	$(':checkbox[name="isopen[]"]').bootstrapSwitch();
	$(':checkbox[name="isopen[]"]').on('switchChange.bootstrapSwitch', function(e, state){
		var isopen = this.checked ? 1 : 0;
		$.post("{php echo $this->createWebUrl('schoolset', array('op' => 'change4'))}", {isopen: isopen}, function(resp){
			setTimeout(function(){
			}, 500)
		});
	});

	$(':checkbox[name="is_showew[]"]').bootstrapSwitch();
	$(':checkbox[name="is_showew[]"]').on('switchChange.bootstrapSwitch', function(e, state){
		var is_showew = this.checked ? 1 : 0;
		$.post("{php echo $this->createWebUrl('schoolset', array('op' => 'change6'))}", {is_showew: is_showew}, function(resp){
			setTimeout(function(){
				//location.reload();
			}, 500)
		});
	});
	$(':checkbox[name="is_zjh[]"]').bootstrapSwitch();
	$(':checkbox[name="is_zjh[]"]').on('switchChange.bootstrapSwitch', function(e, state){
		var is_zjh = this.checked ? 1 : 2;
		$.post("{php echo $this->createWebUrl('schoolset', array('op' => 'change7'))}", {is_zjh: is_zjh}, function(resp){
			setTimeout(function(){
				//location.reload();
			}, 500)
		});
	});		
	$(':checkbox[name="is_kb[]"]').bootstrapSwitch();
	$(':checkbox[name="is_kb[]"]').on('switchChange.bootstrapSwitch', function(e, state){
		var is_kb = this.checked ? 1 : 2;
		$.post("{php echo $this->createWebUrl('schoolset', array('op' => 'change8'))}", {is_kb: is_kb}, function(resp){
			setTimeout(function(){
				//location.reload();
			}, 500)
		});
	});		
});
</script>
<script type="text/javascript">
    function check() {
        if($.trim($('#title').val()) == '') {
            message('没有输入学校名称.', '', 'error');
            return false;
        }
        return true;
    }
</script>
{/if}
{template 'web/common'}
{template 'public/footer'}