{template 'common/header'}
{template 'admin/message/head'}

<form action="" class="form-horizontal" method="post">
  <input type="hidden" name='dopost' value="save">
  <input type="hidden" name="id" value="{$msg['id']}">
<div class="panel panel-info">
    <div class="panel-heading">
        消息列表
    </div>

    <div class="panel-body">


         <div class="form-group">
             <label for="inputEmail3" class="col-md-2 control-label">消息标题</label>
             <div class="col-md-10">
               <input type="text"  class="form-control" id="ms_title" name='ms_title' value="{$msg['ms_title']}" placeholder="消息标题">
             </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label">消息图片</label>
            <div class="col-md-10">
              {php echo tpl_form_field_image('thumb',$msg['thumb']);}
            </div>
       </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label">消息内容</label>
            <div class="col-md-10">
              {php echo tpl_ueditor('ms_content',$msg['ms_content']);}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 text-right">
               <button class="btn btn-info btn-sm" type="submit">保存</button>
            </div>
        </div>


    </div>
</div>
       </form>
