{template 'header'}
    <link rel="stylesheet" href="{MODULE_URL}images/css/mobile/style.css">
    <link rel="stylesheet" href="{MODULE_URL}images/css/mobile/reset.css">
    <script src="{MODULE_URL}images/js/mobile/font.js"></script>
    <script src="{MODULE_URL}images/js/mobile/jquery-1.9.1.js"></script>
    
<dl class="personal_data">
    <dt><span>头像：</span><img src="{php echo $this->imgAvtar();}" alt=""></dt>
    <dd><span>昵称：</span><span>{php echo $this->nickName();}</span></dd>
    <dd><span>性别：</span><div><span>{php echo $this->nanNv($_W['fans']['sex'])}</span><span class="iconfont">&#xe601;</span></div></dd>
    <dd><a href="{php echo $this->createMobileUrl('membermobile')}"><span>手机号：</span><div><span>{$list[mobile]}</span><span class="iconfont">&#xe601;</span></div></a></dd>
    <dd><span>身份：</span><span>{$list[member]}</span></dd>
    <dd><span>服务地址：</span><a href="{php echo $this->createMobileUrl('memaddress')}" class="iconfont">&#xe64c;</a></dd>
</dl>

<div class="add_address add_address_aa">
<a  class="add_address_a" href="{php echo $this->createMobileUrl('memberadssel')}">
    <div>
        <span>{$moren[name]}</span><span>{$moren[mobile]}</span><span>(默认)</span>
    </div>
    <p><span>{$moren[address]}</span></p>
    </a>
</div>

{template 'footer'}