<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{if !empty($_W['page']['title'])} {$_W['page']['title']} {else}超级服务{/if}</title>
    <meta name="format-detection" content="telephone=no, address=no">
    <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="keywords" content="{if empty($_W['page']['keywords'])}{if IMS_FAMILY != 'x'}微赞,微信,微信公众平台,012wz.com{/if}{else}{$_W['page']['keywords']}{/if}" />
    <meta name="description" content="{if empty($_W['page']['description'])}{if IMS_FAMILY != 'x'}公众平台自助引擎（www.012wz.com），简称微赞，微赞是一款免费开源的微信公众平台管理系统，是国内最完善移动网站及移动互联网技术解决方案。{/if}{else}{$_W['page']['description']}{/if}" />
    <link rel="shortcut icon" href="{$_W['siteroot']}{$_W['config']['upload']['attachdir']}/{if !empty($_W['setting']['copyright']['icon'])}{$_W['setting']['copyright']['icon']}{else}images/global/wechat.jpg{/if}" />
    <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
    <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/app/util.js"></script>
    <script src="{$_W['siteroot']}app/resource/js/require.js"></script>
    <script src="{MODULE_URL}images/js/mobile/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/lib/mui.min.js?v=20160906"></script>
    <script type="text/javascript" src="{$_W['siteroot']}app/resource/js/app/common.js?v=20160906"></script>
    <!--<link href="{$_W['siteroot']}app/resource/css/bootstrap.min.css?v=20160906" rel="stylesheet">-->
    <!--<link href="{$_W['siteroot']}app/resource/css/common.min.css?v=20160906" rel="stylesheet">-->
    <script type="text/javascript">
        if(navigator.appName == 'Microsoft Internet Explorer'){
            if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
                alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
            }
        }
        window.sysinfo = {
        {if !empty($_W['uniacid'])}'uniacid': '{$_W['uniacid']}',{/if}
        {if !empty($_W['acid'])}'acid': '{$_W['acid']}',{/if}{if !empty($_W['openid'])}'openid': '{$_W['openid']}',{/if}
        {if !empty($_W['uid'])}'uid': '{$_W['uid']}',{/if}
        'siteroot': '{$_W['siteroot']}',
            'siteurl': '{$_W['siteurl']}',
            'attachurl': '{$_W['attachurl']}',
            'attachurl_local': '{$_W['attachurl_local']}',
            'attachurl_remote': '{$_W['attachurl_remote']}',
            {if defined('MODULE_URL')}'MODULE_URL': '{MODULE_URL}',{/if}
        'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'}
        };
        // jssdk config 对象
        jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || {};
        // 是否启用调试
        jssdkconfig.debug = false;
        jssdkconfig.jsApiList = [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'closeWindow',
            'scanQRCode',
            'chooseWXPay',
            'openProductSpecificView',
            'addCard',
            'chooseCard',
            'openCard',
            'openAddress'
        ];
        wx.ready(function () {
            wx.hideMenuItems({
                menuList: ["menuItem:copyUrl","menuItem:openWithQQBrowser","menuItem:openWithSafari"] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
            });
        })
    </script>
</head>
<div class="container container-fill">
    <link rel="stylesheet" href="{MODULE_URL}images/css/mobile/common.css">
    <link rel="stylesheet" href="{MODULE_URL}images/css/mobile/style.css">
    <link rel="stylesheet" href="{MODULE_URL}images/css/mobile/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="{MODULE_URL}images/css/mobile/reset.css">
    <script src="{MODULE_URL}images/js/mobile/font.js"></script>
    <script src="{MODULE_URL}images/js/mobile/date.js"></script>
    <script src="{MODULE_URL}images/js/mobile/iscroll.js"></script>
</div>
<body>
<script type="text/javascript">
    $(function(){
        $('#endTime').date({theme:"datetime"});
    });
</script>
<script type="application/javascript">
    wx.ready(function () {
//        wx.hideOptionMenu();
        wx.getLocation({
            type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                var speed = res.speed; // 速度，以米/每秒计
                var accuracy = res.accuracy; // 位置精度
                $("#jwd").val(latitude+','+longitude); //OK
            }
        });
    });
</script>
<div class="cleaners">
    <h3>{$project[name]}</h3>
</div>
<form class="tacitly_current_form" action="" method="post">
<div class="tacitly_current clearfix">
    <a href="{php echo $this->createMobileUrl('memberadssel',array('id'=>intval($_GPC['id'])));}">
        <p><span class="iconfont">&#xe60f;</span><input class="inputa_gg" readonly="readonly" name="orderg[name]" value="{$address[name]}"><br><span class="iconfont">&#xe649;</span><input readonly="readonly" class="inputa_gg" name="orderg[mobile]" value="{$address[mobile]}"><br><span class="iconfont">&#xe63d;</span><span class="input_value">{php echo $address[address].$address[road]}</span><input class="inputa_gg" type="hidden" readonly="readonly" name="orderg[address]" value="{php echo $address[address].$address[road]}"></p>
        <h3 class="iconfont">&#xe601;</h3>
    </a>
</div>
    <ul class="management">
        <li>
            <input  type="hidden" name="orderg[jwd]" id="jwd">
            {if (strpos($agent, 'iphone') || strpos($agent, 'ipad'))}
            <span class="iconfont">&#xe672;</span><input class="inputa_gg" readonly="readonly" id="endTime" type="text" name="orderg[addtime]" placeholder="选择时间">
            {else if strpos($agent, 'android')}
            <span class="iconfont">&#xe672;</span><input class="inputa_gg"   type="datetime-local" name="orderg[addtime]" placeholder="选择时间">
            {/if}
        </li>
        <li>
            <span class="iconfont">&#xe609;</span><input type="text" name="orderg[content]"  id="xin" placeholder="其他要求" required>
        </li>
    </ul>
    <ol class="figure">
        <li>
            <span>数量</span><br><input class="inputa inputa_gg" type="tel" name="orderg[number]" placeholder="请输入">
        </li>
        <li>
            <span>单位</span><br><input readonly="readonly" name="orderg[unit]" class="inputb" value="{php echo $project[price]-($project[price]*($member[agio]/100))}元/{$project[unit]}

" type="text">
        </li>
        <li>
            <span>金额</span><br><input readonly="readonly" class="completed" name="orderg[summoney]" value="￥0">
        </li>
    </ol>
    <div class="confirma">
        <input  class="confirm"  name="submit" type="submit" value="确认下单">
        <input type="hidden" name="token" value="{$_W['token']}" />
    </div>
</form>
<div id="datePlugin"></div>
<script>
var thisc=$('.confirm');
thisc[0].onclick=function(){
                $(".inputa_gg").each(function(){
                    if($(this).val()==''){
                        $(this).focus().addClass('invalid').removeAttr('placeholder').attr({
                            placeholder: '请输入',
                        });
                        return false;
                    }
            });
                for(var i=0;i<=$('.inputa_gg').length;i++){
                if($('.inputa_gg').eq(i).val()==''){
                    return false;
                }
            }
                // if($('.inputa').val()>=1){
                //     $(this).css('background','#00BEAF').removeAttr('disabled');
                // }else{
                //     $(this).css('background','#868695').attr('disabled',true)
                // }
            }
          $('.inputa').focus(function() {
            timer = setInterval(function () {
            if($('.inputa').val()>=1){
                    $('.confirm').css('background','#00BEAF').removeAttr('disabled');
                }else{
                    $('.confirm').css('background','#868695').attr('disabled',true)
                }
            }, 30)
          });  
        var timer = 0;
        $('.inputa').focus(function () {
            timer = setInterval(function () {
                if($('.inputa').val()!=''){
                    $('.completed').val('￥' + (parseFloat($('.inputb').val())* parseFloat($('.inputa').val())).toFixed(2))
                 }else{
                    $('.completed').val('￥0') 
                    
                 }
               
            }, 300)

        })
        $('.inputa').bler(function () {
            clearInterval(timer);
        })
</script>
{template 'footer'}