.free-order-btn a, .free-order-list-item .people .left span, .free-order-list-item .people .right .iconfont {
    display: inline-block;
}
.free-list-item-content section h1, .free-list-item-content section p, .free-listBig-item section h1, .free-listBig-item section p {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.hide {
  display: none; }

.show {
  display: block; }

.free-order {
padding: 12px; }
.free-order i, .free-order em {
    font-style: normal;
}
.free-order textarea {
background: #fff;
width: 100%;
min-height: 70px;
border: 1px solid #868787; }
.free-order-btn {
display: block;
text-align: right;
padding: 8px 0; }
.free-order-btn a {
padding: 6px 30px;
background: #324d82;
color: #fff;
border-radius: 3px; }
.free-order-list-item {
padding: 12px;
border: 1px solid #868787;
margin-top: 7px;
background: rgba(255, 255, 255, 0.7); }
.free-order-list-item .people {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-webkit-justify-content: justify;
-ms-flex-pack: justify;
justify-content: justify; }
.free-order-list-item .people .left {
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1; }
.free-order-list-item .people .left img {
  width: 45px;
  height: 45px;
  vertical-align: middle; }
.free-order-list-item .people .left span {
  vertical-align: middle;
  padding-left: 5px;
}
  .free-order-list-item .people .left span h3 {
	color: #536a96; }
  .free-order-list-item .people .left span time {
	font-size: 12px; }
.free-order-list-item .people .right {
color: #536a96; }
.free-order-list-item .people .right .iconfont {
  font-size: 20px;
  position: relative;
  width: 20px;
  height: 20px; }
  .free-order-list-item .people .right .iconfont:after {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	content: attr(data-after);
	position: absolute;
	color: red;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%; }
  .free-order-list-item .people .right .iconfont:before {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 1;
	content: attr(data-before);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%; }
  .free-order-list-item .people .right .iconfont.ok:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1; }
  .free-order-list-item .people .right .iconfont.ok:before {
	opacity: 0; }
.free-order-list-item .people .right b {
  padding: 0 5px; }
.free-order-list-item .people .right em {
  color: red; }
.free-order-list-item .content {
color: #2c2c2c;
padding-top: 5px;
font-size: 16px; }
.free-order-list-item .replay {
margin-top: 7px;
padding-top: 10px;
border-top: 1px solid #868787; }
.free-order-list-item .replay i {
color: #536a96; }
.free-order-list-item .replay em {
color: #2c2c2c; }
.free-order-list #more{text-align: center;}