{template 'common/header'}
<ul class="nav nav-tabs">
<li {if $op == 'display'}class="active"{/if}><a href="{php echo url('site/entry/house_guwen',array('op'=>'display','hid'=>$hid,'m'=>'siyuan_cms'))}">顾问列表</a></li>
{if $hid}
<li {if $op == 'post'}class="active"{/if}><a href="{php echo url('site/entry/house_guwen',array('op'=>'post','hid'=>$hid,'m'=>'siyuan_cms'))}">添加顾问</a></li>
{else}
<li {if $op == 'post'}class="active"{/if}><a href="{php echo url('site/entry/house',array('op'=>'display','m'=>'siyuan_cms'))}">添加顾问</a></li>
{/if}
<li><a href="{php echo url('site/entry/house',array('op'=>'display','m'=>'siyuan_cms'))}">楼盘列表</a></li>
</ul>
<style>
.table td span{display:inline-block;margin-top:4px;}
.table td input{margin-bottom:0;}
</style>
{if $op == 'display'}
<form action="" method="post" onsubmit="return formcheck(this)">
<div class="panel panel-default">
<div class="table-responsive panel-body">
<table class="table">
<thead>
<tr>
<th style="width:80px">排序</th>
<th>名称</th>
<th style="width:120px;">头像</th>
<th style="width:150px;">电话</th>
<th style="width:150px;">职位</th>
<th style="width:150px;">Openid</th>
<th style="width:180px;">操作</th>
</tr>
</thead>
<tbody>
{loop $list $item}
<tr>
<td><input type="text" class="form-control" name="displayorder[{$item['id']}]" value="{$item['displayorder']}"></td>
<td>
<a href="{php echo url('site/entry/house_guwen',array('op'=>'post', 'id' => $item['id'], 'hid' => $item['hid'],'m'=>'siyuan_cms'))}" style="color:#333;"><span class="cate"><span class="text-info">[{$loupan[$item['hid']]['name']}]</span></span>
{$item['name']}</a>
</td>
<td>{if $item['pic']}<img src="{$_W['attachurl']}{$item['pic']}" style="width:50px;height:50px;border-radius:25px;"/>{else}<span class="label label-default">未上传</span>{/if}</td>
<td>{if $item['tel']}<span class="label label-success">{$item['tel']}</span>{else}<span class="label label-default">未设置</span>{/if}</td>
<td>{if $item['zhiwei']}<span class="label label-success">{$item['zhiwei']}</span>{else}<span class="label label-default">未设置</span>{/if}</td>
<td>{if $item['openid']}<span class="label label-success">已设置</span>{else}<span class="label label-default">未设置</span>{/if}</td>
<td>
<a href="{php echo url('site/entry/house_guwen',array('op'=>'post', 'id' => $item['id'], 'hid' => $item['hid'],'m'=>'siyuan_cms'))}" title="编辑" class="btn btn-default btn-sm"><i class="fa fa-edit"></i></a>
<a onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo url('site/entry/house_guwen',array('op'=>'delete', 'id' => $item['id'],'m'=>'siyuan_cms'))}" title="删除" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-sm"><i class="fa fa-times"></i></a>
</td>
</tr>
{/loop}
</tbody>
</table>
{$pager}
<br>
<input name="submit" type="submit" class="btn btn-success" value="更新排序">
<input type="hidden" name="token" value="{$_W['token']}" />
</form>
</div>
</div>
{elseif $op == 'post'}
<div class="main">
<form class="form-horizontal form" action="" method="post" enctype="multipart/form-data" id="form1">
<div class="panel panel-default">
<div class="panel-heading">置业顾问管理</div>
<div class="panel-body">
<input type="hidden" name="id" value="{$item[id]}">
<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">所属楼盘</label>
<div class="col-sm-8 col-xs-12">
<button type="button" class="btn btn-info">{$loupan[$hid]['name']}</button>
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">姓名</label>
<div class="col-sm-8 col-xs-12">
<input type="text" class="form-control" placeholder="" name="name" value="{$item['name']}">
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">头像</label>
<div class="col-sm-8 col-xs-12">
{php echo tpl_form_field_image('pic', $item['pic']);}
<div class="help-block"><font color="red">缩略图大小为1:1正方形，推荐200*200</font></div>
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">职位</label>
<div class="col-sm-8 col-xs-12">
<input type="text" class="span3 form-control" placeholder="" name="zhiwei" value="{$item['zhiwei']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">手机号码</label>
<div class="col-sm-8 col-xs-12">
<input type="text" class="span3 form-control" placeholder="" name="tel" value="{$item['tel']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">粉丝编号/openid</label>
<div class="col-sm-8 col-xs-12">
<input type="text" class="span3 form-control" placeholder="" name="openid" value="{$item['openid']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">当前管理员</label>
<div class="col-sm-8 col-xs-12">
<span class="input-group-btn">
{if !empty($saler)}<span class="btn btn-success"><i class="fa fa-send-o"></i> {$saler['nickname']}</span>{else}<span class="btn btn-default"><i class="fa fa-exclamation-circle"></i> 暂无管理员</span>{/if}
<button class="btn btn-info" type="button" onclick="popwin = $('#modal-module-menus').modal();"><i class="fa fa-copy"></i> 查找管理员</button>
</span>
</div>
</div>
<div id="modal-module-menus"  class="modal fade" tabindex="-1">
<div class="modal-dialog" style='width: 920px;'>
<div class="modal-content">
<div class="modal-header"><button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button><h3>选择管理</h3></div>
<div class="modal-body" >
<div class="row">
<div class="input-group">
<input type="text" class="form-control" name="keyword" value="" id="search-kwd" placeholder="请输入粉丝昵称" />
<span class='input-group-btn'><button type="button" class="btn btn-default" onclick="search_members();">搜索</button></span>
</div>
</div>
<div id="module-menus" style="padding-top:5px;"></div>
</div>
<div class="modal-footer"><a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</a></div>
</div>
</div>
</div>
<script language='javascript'>
$('form').submit(function () {
if ($(':input[name=saler]').isEmpty()) {
Tip.focus($(':input[name=saler]'), '请选择核销员!');
return false;
}
return true;
})
function search_members() {
if( $.trim($('#search-kwd').val())==''){
Tip.focus('#search-kwd','请输入关键词');
return;
}
$("#module-menus").html("正在搜索....")
$.get('{php echo $this->createWebUrl('openid',array('op'=>'display'))}', {
keyword: $.trim($('#search-kwd').val())
}, function(dat){
$('#module-menus').html(dat);
});
}
function select_member(o) {
$("#openid").val(o.openid);
$("#saler").val(o.nickname);
$(".close").click();
}
</script>
<div class="form-group">
<div class="col-sm-6 col-xs-6">
<button type="submit" class="btn btn-primary btn-block" name="submit" value="提交">提交</button>
<input type="hidden" name="token" value="{$_W['token']}" />
</div>
</div>
</div></div></div>
</form>
</div>
</div>
<script type="text/javascript">
require(['jquery', 'util'], function($, u){
$(function(){
$('.richtext').each(function() {
u.editor(this);
});
});
});
</script>
<script type="text/javascript">
require(['jquery', 'util'], function($, u){
$('#form1').submit(function(){
if($("input[name=name]").val().length <= 0) {
u.message('没有填写姓名', '', 'error');
return false;
}
if($("input[name=pic]").val().length <= 0) {
u.message('头像没有上传', '', 'error');
return false;
}
return true;
});
});
</script>
{/if}
{template 'common/footer'}