/* 全局样式 */

html, body, div, span,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{ margin:0; padding:0; border:0; }

body{ color:#333; font-size:0.8em; font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif; background:#eee; }

ul,ol{ list-style-type:none; }

select,input,img{ vertical-align:middle; outline:none; }

a{ text-decoration:none; color:#333; }



/* 通用样式 */

setcion{ height:100%; overflow:hidden; background:#fff; }

#title{ font-size:1.2em; color:#fff; height:2.8em; line-height:2.8em; text-align:center; background:#2576db; position:relative; }

#title .back{  width:24px; height:24px; text-align:center; position:absolute; top:0.6em; left:0.6em; background:url(../images/icon_return.png) no-repeat; cursor:pointer; }

#title .btnRight{ width:24px; height:24px; position:absolute; top:0.6em; right:0.6em; cursor:pointer;  background:url(../images/icon_sidebar.png) no-repeat; }

#title .jobCount{ position:absolute; top:0; left:2.4em; }

#title .btnPrev{ width:24px; height:24px; background:url(../images/icon_prev.png) no-repeat; position:absolute; top:0.6em; right:3em; }

#title .btnNext{ width:24px; height:24px; background:url(../images/icon_next.png) no-repeat; position:absolute; top:0.6em; right:0.6em; }

.more{ color:#fff; width:96%; height:2.6em; line-height:2.6em; margin:1em auto; background:#2576db; text-align:center; cursor:pointer; border-radius:0.3em; }



/* 版权信息 */

footer{ width:100%; overflow:hidden; padding-bottom:0.6em; }

footer div{ height:1.5em; line-height:1.5em; padding:0.6em; background:#dcdcdc; margin-bottom:0.6em; }

footer div a{ color:#2576db; display:block; float:left; padding:0 0.4em; }

footer div span.userName{ float:left; color:#2576db; margin-right:0.5em; }

footer div span.userName a{ color:#59af38; font-weight:bold; }

footer p{ text-align:center; line-height:2em; }

footer p a{ margin:0 0.5em;}

#toTop{ color:#333; float:right; cursor:pointer; }
