@charset "gb2312";

/* 

PChome front group public style, applicable to all wap page.

Write the date 2014-02-27. Name: global.css-14.1.1

PChome front-end group LTD. All rights reserved.

*/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea{padding:0px; margin:0px; border:none;}

a,a:visited{ color:#333; text-decoration:none;}
a:active,
a:hover { text-decoration:none;}
a:focus,
input:hover,
button:hover,
input[type='button']:hover{ outline:none;}
i, 
em, 
cite { font-style: normal; }
li{ vertical-align:bottom; overflow:hidden; list-style-type:none;}
body, 
button, 
input, 
select, 
textarea{ font-family:tahoma,arial,'Hiragino Sans GB',宋体,sans-serif; outline:none;}

/* 禁止webkit横屏改变字体大小 */
html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}

/* 设置HTML5元素为块 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;padding:0px; margin:0px; border:none;}

/* 超出隐藏 */
.overflow{ overflow:hidden;} 

/* 点击去除阴影 */
a,button,input,i{-webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}       
		          
/* float */
.fl{ float: left; }
.fr{ float: right;}

/* 图片自适应调整 并解决图片缩放的失真问题*/
img{ max-width:100%; height:auto;border:none; interpolation-mode: bicubic;}

/* 文字居中 */
.txt-center{ text-align:center;}
.txt-justify{ text-align:justify; text-justify:inter-ideograph;}

/* 自动换行 */
.word-auto{word-wrap: break-word;word-break: normal;}

/* 自动居中 */
.mg-auto{ margin-left:auto; margin-right:auto; position:relative;}

/* clearfix */  
.clearfix:after{ visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height: 0;}
.clearfix{ *zoom:1;}

/* transtion-Hover */
.tianstion{ 
    transition:all ease 0.4s; 
	-moz-transition:all ease 0.4s; 
	-ms-transition:all ease 0.4s; 
	-o-transition:all ease 0.4s;
	-webkit-transition:all ease 0.4s;
}
.area{ width:100%;}
#wrap{ background:#F0F0F0; max-width:640px; position:relative;}
body{ background: #F0F0F0;}
@media screen and (max-width : 360px) {	
	body{ font-size:11px;}
	#wrap{ width:100%;}
}

@media screen and (min-width: 360px) and (max-width : 479px) {
	body{ font-size:12px;}
	#wrap{ width:100%;}	
}

@media screen and (min-width: 480px) and (max-width: 640px) {
	body{ font-size:15px;}
	#wrap{ width:100%;}	
}

