@charset "gb2312";

/* ‰Ø¿¿Õº∆¨ */
.slideTouchWrap{ background:#F0F0F0; position:relative; width:100%; height:100%;}
.slideTouchWrap .touch-top{ z-index:100; position:absolute; top:0; left:0; width:100%; height:50px; right:0;background:rgba(0,0,0,0.3);}
.slideTouchWrap .touch-top .zan-return{ position:absolute; top:0; left:0; height:50px; width:50px; background:red;text-indent:-200em;
                   background:url(../img/slide-return.png) 50% 50% no-repeat; background-size:auto 45%;}
.slideTouchWrap .touch-top .zan-type{ display:block; overflow:hidden; float:right; height:50px; width:50px; position:relative; margin-right:10px;}
.slideTouchWrap .touch-top .zan-type a{ display:block; height:50px; width:50px;overflow:hidden; text-indent:-100em; top:0;right:0;
                                        background:url(../img/zan.png) 50% 50% no-repeat; background-size:auto 40%; position:absolute;}
.slideTouchWrap .touch-top .zan-type .type-no{background:url(../img/zan2.png) 50% 50% no-repeat; background-size:auto 40%;}
.slideTouchWrap .touch-top .zan-imgnum{ display:block; height:50px; width:60px; position:absolute; left:50%; top:0; margin-left:-30px;
                                       font:400 14px/50px 'microsoft yahei'; color:#FFF; text-align:center;}									   
.slideTouchWrap .touch-top .zan-imgnum i{ font:400 18px/50px 'microsoft yahei'; color:#FFF;}

/* tocuh */
.swiper-container {height:auto; width:100%;text-align:center;margin:0 auto;position:relative; overflow:hidden; z-index:5;}
.swiper-wrapper {position: relative;z-index:10;}
.swiper-slide {position:relative;text-align:center; float:left;}
.swiper-slide a{ position:relative; width:100%; height:100%; display:block; overflow:hidden;}
.swiper-slide img{ max-width:100%; vertical-align:middle; position:relative;}

/* ∑˚∫≈ */
.pagination{ position:absolute; height:1.2em; width:50%;bottom:1em; right:1em;z-index:100; text-align:right;}
.pagination .swiper-pagination-switch{ display:inline-block; height:0.55em; width:0.55em; background:#FFF; border-radius:50%; _display:inline; margin-right:0.5em;}
.pagination .swiper-active-switch{ background:#44A5FE;}

/* œ¬‘ÿÕº∆¨ */
.download-img{ position:fixed; bottom:0; left:0; width:100%; z-index:5000; height:50px; background:rgba(0,0,0,0.3);}
.download-img a{ display:block; width:100%; height:50px; margin:0 auto; background:url(../img/downloadBg.png) 50% 50% no-repeat; background-size:auto 65%; text-indent:-100em; overflow:hidden;}


@media screen and (min-width: 480px) and (max-width: 1080px) {
.swiper-slide img{ max-height:100%; width:auto;}
}





