<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site"/>
			<input type="hidden" name="a" value="entry"/>
			<input type="hidden" name="do" value="task"/>
			<input type="hidden" name="m" value="superman_creditmall"/>
			<input type="hidden" name="act" value="log"/>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 control-label">任务名称</label>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
					<select class="form-control" name="task_id">
						<option value="0">全部</option>
						{if $task_list}
						{loop $task_list $t}
						<option value="{$t['id']}" {if isset($_GPC['task_id']) && $_GPC['task_id'] == $t['id']}selected{/if}>{$t['title']}</option>
						{/loop}
						{/if}
					</select>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<button class="btn btn-default"><i class="fa fa-search"></i>搜索</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="table-responsive panel-body">
		<table class="table table-hover">
			<thead>
			<tr>
				<th width="160">头像/昵称</th>
				<th class="tac">任务名称</th>
				<th class="tac" width="160">状态</th>
				<th class="tac" width="160">申请时间</th>
				<th class="tac" width="160">完成时间</th>
				<th class="tac" width="140">操作</th>
			</tr>
			</thead>
			<tbody>
				{if $list}
				{loop $list $li}
				<tr>
					<td class="tac">
						<div class="clear">
							<div class="pull-left" style="width: 40px;height: 40px; overflow: hidden; border-radius: 50%;">
								<img src="{php echo tomedia($li['member']['avatar'])}" onerror="this.src='{$_W['siteroot']}/app/resource/images/heading.jpg'" style="width: 100%">
							</div>
							<div class="pull-left" style="line-height: 40px; margin-left: 5px; width: 90px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="">
								{$li['member']['nickname']}
							</div>
						</div>
					</td>
					<td class="tac">{$li['task']['title']}</td>
					<td class="tac"><span class="{$task_status_style[$li['status']]}">{$li['status_title']}</span></td>
					<td class="tac">{$li['applytime']}</td>
					<td class="tac">{$li['completetime']}</td>
					<td class="tac" style="white-space: normal;">
						<a href="{php echo $this->createWebUrl('task', array('act' => 'detail', 'id' => $li['id']));}" class="btn btn-default btn-sm" style="margin-bottom: 5px;">查看</a>
						<a href="{php echo $this->createWebUrl('task', array('act' => 'complete', 'id' => $li['id']));}" onclick="if (!confirm('确认完成任务，将发放积分，该操作不可撤回！'))return false;" class="btn btn-default btn-sm btn_complete" {if $li['status']==1}disabled{/if}>完成任务</a>
					</td>
				</tr>
				{/loop}
				{/if}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-right">
		<div>
			{$pager}
		</div>
	</div>
</div>