#index_car{background:#f5f5f5;color:#000}
#index_car a{color:#000}
#index_car .focus img{width:100%}
#index_car .list{padding:5px;font-size:14px;color:#666}
#index_car .list .a.istop:after{content:"置顶";font-size:12px;background:#e33737;color:#fff;padding:1px;position:absolute;width:60px;text-align:center;-webkit-transform:rotateZ(-45deg);left:-16px;top:6px;display:inline-block;height:16px;line-height:16px}
#index_car .list .a{background:#fff;border-radius:2px;display:block;padding:10px;position:relative;margin-bottom:5px;position:relative;overflow:hidden}
#index_car .list .user{border-bottom:1px solid #f7f7f7;height:40px;line-height:40px;position:relative;padding-left:50px;font-size:16px;color:#333;margin-bottom:2px}
#index_car .list .user{color:#000}
#index_car .list .user img{height:30px;width:30px;border-radius:50%;position:absolute;top:5px;left:5px}
#index_car .list .user i{color:#75d9ff;font-size:20px;vertical-align:middle;margin-left:5px}
#index_car .list .user .girl{color:#ff9ce5}
#index_car .list .y{position:relative;padding-left:5px;height:30px;line-height:30px;font-size:12px;color:#888}
#index_car .list .y:nth-child(2n):before{color:#5ad107}
#index_car .list .tel{position:absolute;right:10px;top:70px;background:#ec6c53;font-size:30px;color:#fff;width:40px;height:40px;line-height:40px;text-align:center;border-radius:50%}
#index_car .list .time em{color:#fe696b}
#index_car .list .time .em2{color:#75d9ff}
#index_car .list .over{width:80px;height:50px;position:absolute;bottom:50px;right:80px;background:url(../img/car/over.png) no-repeat;background-size:100% auto}
#index_car .type1{color:#fff;font-size:12px;position:absolute;right:0;top:10px;background:#fe696b;border-radius:2px;height:16px;line-height:16px;padding:4px 5px}
#index_car .type2{color:#fff;font-size:12px;position:absolute;right:0;top:10px;background:#75d9ff;border-radius:2px;height:16px;line-height:16px;padding:4px 5px}
#index_car .list .re{position:relative}
#index_car .list .re em{position:absolute;right:5px;color:#fe696b;text-align:right;display:inline-block;width:80px}
#index_car .from em{color:#666}
#index_car .from em:first-child{padding-right:6px}
#index_car .from em:last-child{padding-left:6px}
#index_car .from i{border:6px solid transparent;border-left:6px solid #e4e4e4;width:0;height:0;display:inline-block;vertical-align:middle;margin-left:4px}
#index_car .remark{border-top:1px solid #f7f7f7;margin-top:2px;color:#999;line-height:1.6em;padding:5px 0}
#index_car .tools{background:#fff;border-radius:2px;padding:5px 5px 6px 5px;position:relative;margin:5px 5px 0 5px}
#index_car .tools .se{width:100%;color:#999}
#index_car .tools .se input{border:0;border-bottom:1px solid #f5f5f5;width:70px;text-align:center;padding:4px 0}
#index_car .tools .se a{color:#fff;background:#e33737;border-radius:2px;font-size:12px;height:26px;line-height:26px;display:inline-block;padding:0 5px}
#index_car .tools .sort{position:absolute;top:5px;right:5px}
#index_car .tools .sort a{border-radius:0 3px 3px 0;border:1px solid #f5f5f5;border-left:0;height:26px;line-height:26px;padding:0 5px;font-size:12px;color:#ccc;margin:0;float:left}
#index_car .tools .sort .sel{background:#8a8685;color:#fff;border-color:#8a8685}
#index_car .tools .sort a:first-child{border-radius:3px 0 0 3px}
#car_detail{background:url(../img/car/pinche_bg.jpg) repeat-y;background-size:100% auto;padding-bottom:0}
#car_detail .wr{box-sizing:border-box;padding:20px}
#car_detail .box{background:rgba(255,255,255,.9);border-radius:4px;padding:20px 10px;font-size:14px;color:#666;position:relative}
#car_detail .box.istop:after{content:"置顶";font-size:12px;background:#e33737;color:#fff;padding:1px;position:absolute;width:60px;text-align:center;-webkit-transform:rotateZ(-45deg);left:-16px;top:6px;display:inline-block;height:16px;line-height:16px}
#car_detail .user{text-align:center}
#car_detail .user img{width:50px;height:50px;border-radius:50%}
#car_detail .user em{font-size:14px;font-weight:700;color:#666;display:block;line-height:30px}
#car_detail .user em i{color:#75d9ff;font-size:20px;vertical-align:middle;margin-left:5px;font-weight:400}
#car_detail .user em .girl{color:#ff9ce5}
#car_detail .row{height:40px;line-height:40px;border-bottom:1px solid #f5f5f5}
#car_detail .row:last-child{border:0}
#car_detail .row span{display:inline-block;width:50px;color:#999}
#car_detail .tel{padding-top:10px}
#car_detail .tel a{background:#e33737;color:#fff;height:40px;line-height:40px;display:block;text-align:center;border-radius:20px}
#car_detail .over{width:100px;height:70px;position:absolute;top:170px;right:50%;margin-right:-50px;background:url(../img/car/over.png) no-repeat;background-size:100% auto}
#car_detail .re{height:auto;overflow:hidden;line-height:1.7em;padding:4px 0}
.shuoming{padding:10px 5px 0 5px}