article,aside,audio,body,dd,div,dl,footer,form,h1,h2,h3,h4,h5,h6,header,iframe,input,label,menu,ol,p,section,select,td,textarea,th,time,ul,video{margin:0;padding:0}
body{padding-bottom:60px}
.m-top5{margin-top:5px}
.margin1{margin-top:-1px;margin-bottom:-1px}
.margin2{margin-top:-2px;margin-bottom:-2px}
body{font-family:'Heiti SC','华文黑体','黑体',"Helvetica Neue";-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:antialiased}
.black{color:#000}
textarea{resize:none}
.f-24{font-size:24px}
.f-18{font-size:18px}
.f-16{font-size:16px}
.f-14{font-size:14px}
.f-10{font-size:10px}
.f-11{font-size:11px}
.f-12{font-size:12px}
li,ol,ul{list-style:none}
input,select,textarea{outline:0;-webkit-user-modify:read-write-plaintext-only}
a{text-decoration:none}
.fei-3{height:3px;background:#f4f4f4}
.fei-5{height:5px;background:#f4f4f4}
address,cite,dfn,em,i,var{font-style:normal}
.red,a.red{color:#fe5d4e}
.fei,a.fei{color:#ccc}
.black,a.black{color:#000}
.cheng,a.cheng{color:#ec6c53}
.fl{float:left}
.fr{float:right}
select{border-radius:2px;width:130px;padding:5px 0;font-size:14px;text-indent:5px;line-height:1;height:32px}
blockquote{border:1px dotted #DDD;background:#FCFCFC;padding:5px;margin-bottom:0;margin-right:0}
.padd_left10{padding-left:10px}
.padding-left10{padding-left:10px}
.f-fei{color:#999}
.clear:after,.clear:before{display:table;content:""}
.clear:after{clear:both}
.w96{width:96%;margin-left:2%}
.mar_top10{margin-top:10px}
.mar_top15{margin-top:15px}
.btn_cheng{background:#ec6c53;border:0;color:#fff}
.bottom_line{border-bottom:1px solid #f1efef;padding-bottom:5px}
.top_line{border-top:1px solid #f1efef;padding-top:5px}
.none{display:none}
.p-10{padding:10px}
.mb-10{margin-bottom:10px}
.pt-50{padding-top:50px}
.siyuan_top{width:100%;height:40px;line-height:40px;background:#ec6c53;color:#fff;position:fixed;top:0;left:0;z-index:99}
.siyuan_top i{line-height:40px;height:40px;padding:0 10px;color:#fff}
.siyuan_top img{line-height:40px;height:20px;padding:10px 10px;color:#fff}
.f-22{font-size:22px}
.f-32{font-size:32px}
.banner{background:#fff;overflow:hidden;margin-bottom:0;margin:0 auto;position:relative}
.swipe{overflow:hidden;visibility:hidden;position:relative;z-index:1}
.swipe-wrap{overflow:hidden;position:relative;margin:0 auto;margin-bottom:-7px}
.swipe-wrap>div{float:left;width:100%;position:relative}
#mySwipe div img{width:100%;margin:0 auto}
.swipe-point{bottom:0;position:absolute;text-align:center;width:100%;z-index:1}
.swipe-point #position{margin:0}
.swipe-point #position li.on{background:#ec6c53 none repeat scroll 0 0}
.swipe-point #position li{display:inline-block;width:18px;height:3px;background:rgba(0,0,0,.35);margin:0 5px 1px 0;cursor:pointer;border-radius:50px}
.banner .flash_title{position:absolute;bottom:7px;left:0;line-height:30px;text-indent:12px;background:rgba(0,0,0,.35);color:#e9e8e8;width:100%;height:30px;display:inline-block;overflow:hidden}
.flash_title{position:absolute;bottom:7px;left:0;line-height:30px;text-indent:12px;background:rgba(0,0,0,.35);color:#e9e8e8;width:100%;height:30px;display:inline-block;overflow:hidden}
.top_nav{height:40px;line-height:40px;overflow:hidden;background-color:rgba(255,255,255,.92);position:fixed;top:40px;left:0;z-index:99;width:100%;box-shadow:0 2px 2px 0 rgba(0,0,0,.08)}
.top_nav_more{position:absolute;width:12px;height:40px;line-height:40px;padding-right:2px;padding-top:0;text-align:center;right:0;color:#ec6c53;opacity:1;z-index:1000}
.siyuan_top .weui-col-70{font-size:20px}
.top_menu_more i{color:#ec6c53;margin-top:8px;font-size:20px}
.top_nav .top_nav_on a{color:#ec6c53;font-size:16px}
.top_nav .top_nav_on em{display:inline-block;border-bottom:2px solid #ec6c53;height:34px}
.nav_list{width:96%;margin-right:10px;padding-right:20px;overflow-x:no-display;overflow-y:hidden;line-height:38px;height:38px;white-space:nowrap;-webkit-overflow-scrolling:touch;overflow-y:no-display;-webkit-box-sizing:border-box}
.topnav_item{display:inline-block;padding:0 .5em;font-size:14px;text-align:center;opacity:.75}
.topnav_item a{font-size:16px;color:#000}
.weui_tabbar{background-color:rgba(255,255,255,1);box-shadow:0 -2px 2px 0 rgba(0,0,0,.05);clear:both;position:fixed;bottom:0;padding-bottom:5px;color:#b1b1b2}
.weui_tabbar:before{border-top:0}
.nav_tab_on{color:#ec6c53}
.nav_tab_on .weui_tabbar_label{color:#ec6c53}
.nav_tab_on .weui_tabbar_icon i{color:#ec6c53}
.weui_tabbar_icon i{color:#c3c3c3;text-align:center;padding-top:0}
.weui_tabbar_label{width:100%;text-align:center}
.color_c{color:#ec6c53}
.color_f{color:#b1b1b2}
.public-module-title{position:relative;height:40px;line-height:40px;background:#f5f5f5}
.public-module-title i{font-size:14px;padding-right:10px;color:#999}
.public-module-title p{position:relative;color:#333;height:40px;font-size:16px;width:100%;float:left;line-height:40px}
.public-title-icon{position:relative;display:inline-block;margin-right:5px;height:18px;background:#ec6c53;font-size:16px;width:3px;bottom:12px;vertical-align:bottom}
.public-module-title em{float:right;padding-right:8px;font-size:14px;padding-top:3px}
.public-module-title a{color:#000}
.gengduo{background:#f5f4f2;height:36px;width:96%;margin-left:2%;line-height:36px;border-radius:3px;text-align:center;display:block;color:#b9b9b9;font-size:14px}
a.gengduo:link,a.gengduo:visited{color:#b9b9b9}
.cont-more{background:#f5f4f2;height:36px;width:96%;margin-left:2%;margin-top:10px;margin-bottom:10px;line-height:36px;border-radius:3px;text-align:center;display:block;color:#b9b9b9;font-size:14px}
a.cont-more:link,a.cont-more:visited{color:#b9b9b9}
.msg-post{height:40px;border-radius:5px;margin-bottom:15px;margin-top:10px;width:98%;margin-left:1%;position:relative;overflow:hidden}
.msg-post:after{border-radius:5px;z-index:0;position:absolute;content:"";left:0;top:0;right:0;bottom:0;height:38px;border:1px solid rgba(0,0,0,.1)}
.msg-post input{height:40px;line-height:40px;width:80%;display:block;float:left;font-size:14px;text-indent:10px;border-radius:5px 0 0 5px;z-index:10;position:relative;background-color:transparent;border:1px solid rgba(0,0,0,.1)}
.msg-post button{height:40px;line-height:40px;width:19.4%;color:#fff;font-size:14px;border:none;padding:0;border-radius:0 5px 5px 0;z-index:10;position:relative;background:#ec6c53}
.pinglun_list{width:96%;margin-left:2%}
.enroll-hr{border-left:4px solid #EC6C53;color:#EC6C53;padding-left:5px;font-size:16px;float:left;font-weight:400;height:14px;line-height:14px}
.comment-sub ul li.bottom_line{padding:15px;position:relative}
.comment_top{margin-bottom:3px}
.comment-pic{float:left;width:35px;margin-right:10px}
.comment-pic img{width:100%;border-radius:50%}
.commenter{overflow:hidden;padding-top:2px}
.comment-name{font-size:12px;color:#666}
.comment-content{font-size:14px;margin-left:45px;overflow:hidden;margin-top:15px}
.remark{font-size:12px}
.replys{background-color:#F8F8F8;margin:15px 0 0;padding:7px 10px 5px;position:relative;border-radius:2px}
.replys .replyler{overflow:hidden;padding-bottom:3px}
.replys .replyler p{line-height:16px}
.reply_pic{float:left;width:30px}
.reply_pic img{width:100%}
.reply_name{color:#ec6c53;font-size:12px}
.comment_reply{font-size:12px;padding:0 7px;color:#999}
.comment-content p{font-size:16px;line-height:24px;color:#666}
.reply{position:absolute;float:right;right:15px;top:15px;font-size:14px}
.reply a{color:#BBB}
.comment-time{font-size:11px;color:#BBB;height:12px;line-height:12px}
.comment-time a{color:#ec6c53;padding-left:5px}
.comment-button{display:-webkit-box;text-align:center;position:fixed;left:0;right:0;bottom:0;height:44px;line-height:44px;background-color:#F4F4F4;z-index:9999}
.no_pinglun{width:100%;margin:0 auto;text-align:center;padding-top:10px}
.no_pinglun img{width:30%}
#mcover{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.7);display:none;z-index:9999}
#mcover img{position:fixed;right:0;top:0;width:100%;height:100%;z-index:9999}
.global-channel{width:100%;background-color:rgba(255,255,255,1);position:fixed;bottom:0;z-index:99;-webkit-user-select:none;box-shadow:0 -2px 2px 0 rgba(0,0,0,.05)}
.global-channel-c{display:-webkit-box}
.global-channel-c a{width:16.666%;color:#999;font-size:12px;display:block;text-align:center;line-height:22px;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;padding:7px 0 3px 0}
.global-channel-c a.on{color:#ec6c53}
.icon-bar{width:100%;display:block;height:25px;width:25px;margin:auto}
.icon-bar-on{width:100%;text-align:center;margin:auto;display:block;width:25px;height:25px;}
#news-article{padding:5px 10px 5px 10px;font-size:18px;line-height:1.6em;color:#4d4d4d;background:#fff;overflow:hidden;text-align:justify;text-justify:inter-ideograph}
#news-article p{color:#4d4d4d;margin:0 0 8px 0;font-size:16px}
#news-article p strong{text-indent:0}
#news-article a:link,#news-article a:visited{font-size:19px}
#news-article strong{color:#333;font-weight:700}
#news-article a:link,#news-article a:visited{color:#000}
#news-article img{margin:0 auto 10px auto;display:block;max-width:100%;width:100%}
.list_tab{height:41px;line-height:41px;border-bottom:1px solid #f0efed;font-size:16px;width:100%}
.list_tab ul{width:100%;float:left}
.list_tab ul li{float:left;padding:0 5px;box-sizing:border-box;text-align:center}
.list_tab ul li.cur{background:#fff;border-bottom:2px solid #ec6c53;height:43px;line-height:43px;color:#ec6c53}
.width33{width:33%}
.width25{width:25%}
.width20{width:20%}
.list_tab a{color:#000}
.list_tab ul li.cur a{color:#ec6c53}
.tab_body{width:100%;margin:0 auto}
.tab_body_1,.tab_body_2,.tab_body_3{display:none}
.tab_body_1.cur,.tab_body_2.cur,.tab_body_3.cur{display:block}
.swiper-pagination-bullet{opacity:1;background:#000;opacity:.2;display:inline-block;width:18px;height:3px;margin:0 3px 1px 0;cursor:pointer;border-radius:50px}
.swiper-pagination-bullet-active{opacity:1;background:#ec6c53;display:inline-block;width:18px;height:3px;margin:0 5px 1px 0;cursor:pointer;border-radius:50px}
.cd-section{padding:2em;margin-top:5em;text-align:center}
.no-touch .cd-bouncy-nav-trigger:hover{background:#e0a36f}
.cd-bouncy-nav-modal{position:fixed;z-index:99999;top:0;left:0;width:100%;height:100%;background-color:rgba(255,255,255,.94);opacity:0;visibility:hidden;-webkit-transition:opacity .3s .6s,visibility 0s .9s;-moz-transition:opacity .3s .6s,visibility 0s .9s;transition:opacity .3s .6s,visibility 0s .9s}
.cd-bouncy-nav-modal.fade-in{visibility:visible;opacity:1;-webkit-transition:opacity .1s 0s,visibility 0s 0s;-moz-transition:opacity .1s 0s,visibility 0s 0s;transition:opacity .1s 0s,visibility 0s 0s}
.cd-bouncy-nav-modal .cd-close{display:block;position:fixed;bottom:25px;left:45%;font-size:16px;color:#706f6f}
.cd-bouncy-nav-modal.fade-in .cd-close{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:-webkit-transform .3s 0s,visibility .3s 0s;-moz-transition:-moz-transform .3s 0s,visibility .3s 0s;transition:transform .3s 0s,visibility .3s 0s}
.cd-bouncy-nav{position:absolute;left:45%;top:47vh;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);width:100%}
.cd-bouncy-nav li{width:18%;margin:3%;float:left;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh);text-align:center}
.is-visible .cd-bouncy-nav li{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
.fade-in .cd-bouncy-nav li{-webkit-animation:cd-move-in .4s;-moz-animation:cd-move-in .4s;animation:cd-move-in .4s}
.fade-out .cd-bouncy-nav li{-webkit-animation:cd-move-out .4s;-moz-animation:cd-move-out .4s;animation:cd-move-out .4s}
.fade-in .cd-bouncy-nav li,.fade-out .cd-bouncy-nav li{-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;animation-fill-mode:forwards}
.fade-in .cd-bouncy-nav li:nth-of-type(2),.fade-out .cd-bouncy-nav li:nth-of-type(2){-webkit-animation-delay:.1s;-moz-animation-delay:.1s;animation-delay:.1s}
.fade-in .cd-bouncy-nav li:nth-of-type(3),.fade-out .cd-bouncy-nav li:nth-of-type(3){-webkit-animation-delay:.15s;-moz-animation-delay:.15s;animation-delay:.15s}
.fade-in .cd-bouncy-nav li:nth-of-type(4),.fade-out .cd-bouncy-nav li:nth-of-type(4){-webkit-animation-delay:.25s;-moz-animation-delay:.25s;animation-delay:.25s}
.fade-in .cd-bouncy-nav li:nth-of-type(5),.fade-out .cd-bouncy-nav li:nth-of-type(5){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s}
.fade-in .cd-bouncy-nav li:nth-of-type(6),.fade-out .cd-bouncy-nav li:nth-of-type(6){-webkit-animation-delay:.35s;-moz-animation-delay:.35s;animation-delay:.35s}
.fade-in .cd-bouncy-nav li:nth-of-type(7),.fade-out .cd-bouncy-nav li:nth-of-type(7){-webkit-animation-delay:.4s;-moz-animation-delay:.4s;animation-delay:.4s}
.fade-in .cd-bouncy-nav li:nth-of-type(8),.fade-out .cd-bouncy-nav li:nth-of-type(8){-webkit-animation-delay:.45s;-moz-animation-delay:.45s;animation-delay:.45s}
.fade-in .cd-bouncy-nav li:nth-of-type(9),.fade-out .cd-bouncy-nav li:nth-of-type(9){-webkit-animation-delay:.5s;-moz-animation-delay:.5s;animation-delay:.5s}
.fade-in .cd-bouncy-nav li:nth-of-type(10),.fade-out .cd-bouncy-nav li:nth-of-type(10){-webkit-animation-delay:.55s;-moz-animation-delay:.55s;animation-delay:.55s}
.fade-in .cd-bouncy-nav li:nth-of-type(11),.fade-out .cd-bouncy-nav li:nth-of-type(11){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}
.fade-in .cd-bouncy-nav li:nth-of-type(12),.fade-out .cd-bouncy-nav li:nth-of-type(12){-webkit-animation-delay:.65s;-moz-animation-delay:.65s;animation-delay:.65s}
.fade-in .cd-bouncy-nav li:nth-of-type(13),.fade-out .cd-bouncy-nav li:nth-of-type(13){-webkit-animation-delay:.7s;-moz-animation-delay:.7s;animation-delay:.7s}
.fade-in .cd-bouncy-nav li:nth-of-type(14),.fade-out .cd-bouncy-nav li:nth-of-type(14){-webkit-animation-delay:.75s;-moz-animation-delay:.75s;animation-delay:.75s}
.fade-in .cd-bouncy-nav li:nth-of-type(15),.fade-out .cd-bouncy-nav li:nth-of-type(15){-webkit-animation-delay:.8s;-moz-animation-delay:.8s;animation-delay:.8s}
.fade-in .cd-bouncy-nav li:nth-of-type(16),.fade-out .cd-bouncy-nav li:nth-of-type(16){-webkit-animation-delay:.85s;-moz-animation-delay:.85s;animation-delay:.85s}
.cd-bouncy-nav a{display:inline-block;width:100%;position:relative;padding:0 20px 0;margin-bottom:0;color:#000}
.cd-bouncy-nav img{width:50px;height:50px}
.cd-bouncy-nav p{color:#706f6f}
@-webkit-keyframes cd-move-in{0%{-webkit-transform:translateY(100vh)}
65%{-webkit-transform:translateY(-1.5vh)}
100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes cd-move-in{0%{-moz-transform:translateY(100vh)}
65%{-moz-transform:translateY(-1.5vh)}
100%{-moz-transform:translateY(0)}
}
@keyframes cd-move-in{0%{-webkit-transform:translateY(100vh);-moz-transform:translateY(100vh);-ms-transform:translateY(100vh);-o-transform:translateY(100vh);transform:translateY(100vh)}
65%{-webkit-transform:translateY(-1.5vh);-moz-transform:translateY(-1.5vh);-ms-transform:translateY(-1.5vh);-o-transform:translateY(-1.5vh);transform:translateY(-1.5vh)}
100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
}
@-webkit-keyframes cd-move-out{0%{-webkit-transform:translateY(0)}
100%{-webkit-transform:translateY(-100vh)}
}
@-moz-keyframes cd-move-out{0%{-moz-transform:translateY(0)}
100%{-moz-transform:translateY(-100vh)}
}
.ui-filter-hd{width:100%;height:2rem;left:0;z-index:999999999999999;background:#fff}
.ui-filter-hd ul{overflow:hidden;width:100%;border-bottom:1px solid #eee;height:2rem;line-height:2rem;display:flex;display:-webkit-box}
.ui-filter-hd li{float:none;flex:1;-webkit-box-flex:1;float:none;text-align:center;position:relative;font-size:.7rem}
.ui-filter-hd li:after{content:'';width:1px;background:#eee;position:absolute;right:0;height:2rem}
.ui-filter-hd li:last-child:after{display:none}
.ui-filter-hd li i{font-size:.6rem;color:#999;margin-left:.2rem}
.ui-filter-hd a{color:#000}
.toolbar .picker-button{color:#ec6c53}
.fabu_xinxi{position:fixed;right:5px;bottom:65px;z-index:999;width:40px;height:40px;border-radius:50%;background-color:rgba(236,108,83,.7);color:#fff;text-align:center;font-size:9pt;line-height:14px}
.fabu_xinxi span{position:relative;top:6px}
.fabu_xinxi_left{position:fixed;left:5px;bottom:65px;z-index:999;width:40px;height:40px;border-radius:50%;background-color:rgba(236,108,83,.7);color:#fff;text-align:center;font-size:9pt;line-height:14px}
.fabu_xinxi_left span{position:relative;top:6px}
.bottomSection{position:fixed;top:0;right:0;width:100%;background-color:rgba(0,0,0,.7);z-index:99999}
.bottomSection .bottomSectionWrap{padding:12px 7px 12px 9px}
.bottomSection .dl{height:31px;display:block;color:#FFF;overflow:hidden;margin-right:32px}
.bottomSection .bottomSectionClose{position:absolute;right:7px;top:12px;width:32px;height:32px;float:right;background-image:url(../img/downloadappclosebtn.png);background-repeat:no-repeat;background-position:50%;background-size:20px 20px}
.bottomSection .adLogo{float:left;height:31px;width:31px;margin-right:5px}
.bottomSection .adLogo img{width:100%;height:100%;display:block;border-radius:5px}
.bottomView1 .fnt{display:block;overflow:hidden}
.bottomView1 .tit{font-size:15px;font-weight:400;line-height:18px;height:18px;float:left;width:100%;vertical-align:text-top;overflow:hidden}
.bottomView1 .char{font-size:12px;height:13px;line-height:13px;float:left}
.bottomSection i.iopen{float:right;border:1px solid #68b543;border-radius:3px;color:#68b543;margin-top:3px;font-style:normal;background:0 0;padding:0 8px;height:24px;line-height:24px;font-size:14px}