.house_title{padding:5px;font-size:18px;line-height:30px}
.tag_bg{font-size:12px;line-height:18px;height:18px;vertical-align:middle;padding-bottom:5px;border-radius:2px;padding:0 3px}
.house_thumb{width:100%}
.flor{float:right}
.yellow-f9{color:#f93}
.pdX10{padding-left:10px;padding-right:10px}
.gray-8{color:#83868f}
.tag_bg{display:inline-block;border:1px solid #ec6c53!important;color:#fff!important;background:#ec6c53!important;margin-right:3px}
.floatTel-xf{height:49px;width:100%}
.floatTel-xf dl{position:fixed;bottom:0;left:0;width:100%;display:table;z-index:100}
.floatTel-xf dd{display:table-cell;vertical-align:middle}
.floatTel-xf dd{overflow:hidden;width:64px;background:#fff}
.floatTel-xf dd a{display:block;height:49px;line-height:50px;background:#ec6c53;color:#fff;text-align:center;font-size:14px;margin-right:1px;overflow:hidden}
.floatTel-xf dd a i{display:inline-block;width:20px;height:20px;margin-right:6px;background:url(../img/house/tel_icons.png) no-repeat;background-size:60px auto;vertical-align:-5px}
.floatTel-xf dd a.tj-mes i{background-position:-20px 0}
.floatTel-xf dd a.tj-yh i{background-position:-40px 0}
.floatTel-xf dd a.tj-kf i{background-position:-40px 0}
.floatTel-xf dd:last-child a{margin-right:0}
.mTitle:after{clear:both;content:"\200B";display:block;height:0}
.mTitle h2{float:left;font-size:15px;color:#83868f;line-height:1;padding:15px 0 15px 0;margin-left:8px;white-space:nowrap}
.mTitle .t-change{position:relative;float:right;width:auto;line-height:42px;font-size:12px;color:#83868f;padding-right:14px;padding-left:14px}
.mTitle .t-change:before{content:'';position:absolute;left:0;top:15%;margin-top:6px;width:12px;height:12px;background:url(../img/house/icon_change.png) no-repeat;background-size:12px auto}
.threadlist li a.act_link{border-bottom:1px solid #e8e8e8}
.threadlist a{color:#000}
.threadlist li{position:relative;-webkit-transition:all 1s ease-in-out;display:block;padding:0;height:auto}
.threadlist li a.act_link{display:block;position:relative;padding:10px 0 5px 0;margin:0 10px;overflow:hidden}
.threadlist li:first-child a.act_link{border-top:0}
.threadlist li h3{font-size:17px;line-height:21px;font-weight:400}
.threadlist li h3 span{font-size:12px}
.threadlist li .tag_bg{font-size:9px;line-height:18px;height:16px;vertical-align:middle;border-radius:2px;padding:0 3px;vertical-align:top}
.threadlist .num{margin-left:5px}
.threadlist .icon_top,.threadlist .icon_tu{position:absolute;left:0;top:-1px}
.threadlist .by{font-size:12px;display:block}
.pg_space #alist li{border-bottom:1px solid #e8e8e8}
.item_message{font-size:14px;margin-top:6px}
.item_info{font-size:18px;margin-top:6px;height:18px;line-height:18px}
.item_info .space{margin-right:8px}
.item_info span{display:inline-block;font-size:10px;line-height:12px;vertical-align:middle}
.ceo_info,.item_info{color:#999}
.desc{display:inline-block;width:80%;vertical-align:middle;float:left}
.desc .item_message{font-size:12px;margin-top:6px;max-height:16px}
.list_image{margin-top:6px;box-sizing:border-box}
.list_image ul{display:block;font-size:0;text-align:center}
.list_image ul li{display:inline-block;width:34%;box-sizing:border-box;float:left;padding:0 1%;overflow:hidden}
.list_image ul li:first-child{width:33%;padding-right:1%;padding-left:0}
.list_image ul li:last-child{width:33%;padding-left:1%;padding-right:0}
.list_image ul li img{vertical-align:bottom}
.list_img_holder{width:20%;display:inline-block;vertical-align:middle;position:relative;padding-left:1%;box-sizing:border-box}
.list_img_holder span{display:block;width:100%;box-sizing:border-box;padding:1px}
.list_img_holder img{border:0;display:block;height:65px;width:65px;-webkit-transition:opacity .3s ease;-moz-transition:opacity ease .3s;pointer-events:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;text-decoration:none;vertical-align:top}
.tag_bg{display:inline-block;border:1px solid #ec6c53!important;color:#fff!important;background:#ec6c53!important;margin-right:5px}
.ad_label .tag_bg{margin-top:1px}
.list_img_holder_pic{width:33%;display:inline-block;vertical-align:middle;position:relative;padding-left:1%;box-sizing:border-box}
.list_img_holder_pic span{display:block;width:100%;box-sizing:border-box;padding:1px}
.list_img_holder_pic img{border:0;display:block;width:100%;height:70px}
.item_info_pic{margin-top:1px}
.item_info_pic .space{margin-right:8px}
.item_info_pic span{display:inline-block;font-size:10px;line-height:10px;vertical-align:middle;margin-top:-5px;margin-bottom:-10px;color:#999}
.xqZygw{overflow:hidden}
.xqZygw .list{margin:0 14px;margin-top:-14px}
.xqZygw .list li{padding:14px 0;overflow:hidden;border-bottom:1px solid #f4f4f4}
.xqZygw .list .img{position:relative;float:left;margin-right:10px;width:50px;height:50px;border-radius:50%}
.xqZygw .list .img img{width:100%;height:100%;border-radius:50%}
.xqZygw .list .img .icon-f{position:absolute;bottom:1px;right:0;width:16px;height:16px;background:url(../img/house/icon-f.png) no-repeat;background-size:16px}
.xqZygw .list .txt{color:#333;line-height:22px;padding-top:4px}
.xqZygw .kf-call{margin-top:12px}
.flor{font-size:14px;color:#df3031}
.kf-call a{float:left;width:33px;height:26px;border:1px solid #ec6c53;border-radius:2px;margin-right:8px}
.kf-call a.mt7{margin-top:7px}
.kf-call a:last-child{margin-right:0}
.kf-call a i{display:block;width:20px;height:20px;margin:2px auto;background:url(../img/house/tel_icons_2.png) no-repeat;background-size:40px}
.kf-call a.call i{background-position:0 0}
.kf-call a.mes i{background-position:-20px 0}
.kf-call a.call.disabled,.kf-call a.mes.disabled{border:1px solid #cccfd8}
.kf-call a.call.disabled i{background-position:0 -20px}
.kf-call a.mes.disabled i{background-position:-20px -20px}
.kf-sd{position:relative}
.kf-sd:after{content:'';position:absolute;width:48px;height:48px;right:10px;top:56px;background:url(../img/house/kf_icon.png) no-repeat;background-size:48px}
.xqBox{padding:4px 14px 0}
.house_body{padding:4px 14px 0}
.lp-price{margin-bottom:4px}
.lp-price .kft-link{font-size:13px;float:right;line-height:22px}
.lp-price strong{font-weight:400}
.flextable{overflow:hidden;width:100%;margin-top:-10px}
.flextable li{float:left;min-width:50%;font-size:14px;line-height:26px;word-wrap:break-word;overflow:hidden}
.flextable li:nth-child(2n+1){padding-right:5px}
.flextable li span{float:left;color:#83868f}
.flextable li p{overflow:hidden;color:#83868f}
.flextable li i{margin-top:5px}
.flextable li p a{color:#0c0d0e}
.flextable li.line{border-top:1px solid #f4f4f4;margin:8px 0;padding:0!important;line-height:1}
.flextable.row li{width:100%;padding-right:0}
.flextable li>a.arr-rt{display:block}
.flextable li>a.arr-rt p{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.flextable li em{display:block;font-style:normal;text-align:right;font-size:13px;padding:6px 0;line-height:14px}
.flextable li i{font-style:normal}
.flextable li strong{font-weight:400}
.mb8{margin-bottom:8px!important}
.hover-point .hover-box .hover-icon,.type_icons{background-repeat:no-repeat;display:inline-block}
.map,.wrapper,.wrapper>div,body,html{height:100%;width:100%}
.header{position:relative;z-index:1}
.types_container{overflow:hidden;position:absolute;bottom:0;left:0;width:100%;height:50px;background-color:rgba(51,51,51,.9);overflow:auto;-webkit-overflow-scrolling:touch;overflow-y:no-display;overflow-x:no-display}
.show_type{height:100%;position:relative;font-size:0;white-space:nowrap}
.show_type a{width:18%;display:inline-block;height:100%;text-align:center;color:#fff;font-size:14px;line-height:19px}
.type_icons{width:26px;height:20px;background-size:26px 20px;-webkit-transition:background-position .3s ease;margin-top:7px}
.hover-point{position:absolute;font-size:16px}
.hover-point .hover-box{position:relative}
.hover-point .hover-box .hover-icon{background-image:url(../img/map-icon-on1.png);width:25px;height:29px;background-size:25px 261px;float:left;margin-right:10px}
.hover-point .hover-box .i-left{visibility:hidden;position:absolute;left:30px}
.hover-point .hover-box .i-left::before{content:"◄";position:absolute;left:-4px;top:0;z-index:2;color:#fff}
.hover-point .hover-box .i-left::after{content:"◄";position:absolute;left:-6px;top:0;z-index:-1;color:#000}
.hover-point .hover-box .text{visibility:hidden;display:inline-block;border:1px solid #000;padding:0 8px;z-index:1;border-radius:5px;background-color:#FFF;position:absolute;left:33px;white-space:nowrap}
.hover-point.on .i-left,.hover-point.on .text{visibility:visible}
.show_type .on p{color:#ec6c53}
.house_video{width:96%;margin-left:2%}
.house_video iframe{width:100%;height:195px}
.e_condit{border-top:1px solid #f2f2f2;border-bottom:0 dashed #e1e1e1;margin-bottom:0;padding:10px 0;background:#fff;width:100%;float:left;text-align:center}
.e_condit dl{border-right:1px solid #eee;font-size:15px;line-height:24px;width:33%;float:left}
.e_condit dl:last-child{border:none}
.e_condit dt{color:#999}
.e_condit dd a{color:#ec6c53}
.houseList ul{margin:0}
.houseList li{border-bottom:1px solid #f4f4f4;margin:0 8px}
.houseList li:last-child{border-bottom:none}
.houseList li>a{position:relative;display:block;padding:8px 8px 4px 8px;overflow:hidden;margin:0 -8px}
.houseList li .img{position:relative;float:left;margin-right:8px;width:106px;height:80px}
.houseList li .img img{width:100%;height:100%}
.houseList li .img p{position:absolute;display:block;height:10px;width:100%;bottom:2px;left:0;overflow:hidden}
.houseList li .online{float:left;width:11px;height:10px;margin-left:5px;background:url(../img/house/list_icons.png) -14px 0 no-repeat;background-size:25px auto}
.houseList li .video{float:left;width:13px;height:10px;margin-left:5px;background:url(../img/house/list_icons.png) no-repeat;background-size:25px auto}
.houseList li .tj{position:absolute;left:0;top:0;width:25px;height:22px;background:url(../img/house/list_icons.png) 0 -25px no-repeat;background-size:25px auto}
.houseList li .hot-icon{position:absolute;left:0;top:0;width:25px;height:22px;background:url(../img/house/list_hot.png) 0 0 no-repeat;background-size:25px auto}
.houseList li .img .tag-icon{position:absolute;left:6px;top:4px;font-size:10px;line-height:12px;color:rgba(256,256,256,.5);text-shadow:0 0 3px rgba(0,0,0,.5)}
.houseList li .txt{overflow:hidden}
.houseList li h3{font-size:16px;white-space:nowrap;font-weight:400;text-overflow:ellipsis;overflow:hidden;line-height:20px;color:#666;margin-top:-1px;margin-bottom:4px}
.houseList li p{color:#83868f;font-size:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;line-height:20px}
.houseList li p.f11{font-size:11px}
.houseList li .huih{color:#83868f;font-size:12px;line-height:16px}
.houseList li .txt2.left114{margin-left:114px}
.houseList li p .space{padding:0 2px}
.houseList li .new{float:right;font-size:14px;color:#ec6c53}
.houseList .house_huodong span{font-size:10px;color:#a9a8a8;margin-top:0;border:0 solid #DDD;pwidth:96%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.houseList li p.spanSpace span{margin-right:20px}
.houseList li p.spanSpace span:last-child{margin-right:0}
.houseList li p em{margin-right:9px}
.houseList li a.arr-rt.list-r:after{right:8px}
.houseList .x-num{display:inline-block;font-size:10px;line-height:11px;margin-left:2px}
.ico-star{padding:5px;color:#ec6c53}
.x-intro{margin-top:3px;margin-bottom:3px}
.x-info{margin-bottom:-5px}
.showNavApp{position:static;display:block;margin-bottom:40px;padding:0 0}
.showNavApp ul{display:block;border-radius:0;background:0 0;padding:0}
.nav_APPa ul li{width:25%}
.nav_APPa a{color:#333}
.nav_APPa .s{width:42px;height:42px;border-radius:16px;background-position:8px 8px;margin-left:-21px}
.viewport{position:relative;overflow:hidden}
.viewport #nav_Node{height:130px}
.viewport #scroller{position:absolute;-webkit-tap-highlight-color:transparent;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none}
.viewport #scroller .slidea{float:left}
.viewport #indicator2{position:absolute;height:6px;bottom:5px;left:50%;z-index:2;background:url(../img/indicator2_c.png) repeat-x 0 0;background-size:11px 9px}
.viewport #dotty{position:absolute;width:6px;height:6px;border-radius:6px;background:#ec6c53}
.icon_list{width:100%}
.icon_list ul{width:96%;margin-left:2%}
.icon_list ul li{width:25%;float:left;text-align:center;margin-top:10px}
.icon_list ul li img{width:40px;height:40px}
.icon_list ul li p{width:100%;height:20px;font-size:14px;overflow:hidden;color:#585858}
.threadlist li a.act_link{border-bottom:1px solid #e8e8e8}
.threadlist a{color:#000}
.threadlist li{position:relative;-webkit-transition:all 1s ease-in-out;display:block;padding:0;height:auto}
.threadlist li a.act_link{display:block;position:relative;padding:10px 0 5px 0;margin:0 10px;overflow:hidden}
.threadlist li:first-child a.act_link{border-top:0}
.threadlist li h3{font-size:17px;line-height:21px;font-weight:400}
.threadlist li h3 span{font-size:12px}
.threadlist li .tag_bg{font-size:9px;line-height:18px;height:16px;vertical-align:middle;border-radius:2px;padding:0 3px;vertical-align:top}
.threadlist .num{margin-left:5px}
.threadlist .icon_top,.threadlist .icon_tu{position:absolute;left:0;top:-1px}
.threadlist .by{font-size:12px;display:block}
.view_cmt{background-color:#fbf9f9;color:#ec6c53;height:50px;line-height:50px;text-align:center}
.view_cmt em,.view_cmt em:after{vertical-align:-3px;margin-left:5px;display:inline-block;border-color:#ec6c53 transparent transparent transparent;border-width:6px;border-style:solid;transition:transform .3s ease;-webkit-transition:-webkit-transform .3s ease;transform-origin:50% 25% 0;-webkit-transform-origin:50% 25% 0;position:relative;z-index:1}
.view_cmt.current em{border-color:#ec6c53 transparent transparent transparent;transform:rotateZ(180deg);-webkit-transform:rotateZ(180deg);transition:transform .3s ease;-webkit-transition:-webkit-transform .3s ease;transform-origin:50% 25% 0;-webkit-transform-origin:50% 25% 0}
.body_1,.body_10,.body_2,.body_3,.body_4,.body_5,.body_6,.body_7,.body_8,.body_9{display:none}
.body_1.cur,.body_10.cur,.body_2.cur,.body_3.cur,.body_4.cur,.body_5.cur,.body_6.cur,.body_7.cur,.body_8.cur,.body_9.cur{display:block}
.zb_list{overflow:hidden;width:100%;overflow:auto;-webkit-overflow-scrolling:touch;overflow-y:no-display;overflow-x:no-display;border-bottom:1px solid #f0efed}
.zb_list_show{position:relative;white-space:nowrap;height:42px;line-height:42px;font-size:16px;width:100%;float:left;width:100%}
.zb_list_show a{width:18%;display:inline-block;text-align:center}
.zb_list_show a.cur{width:18%;border-bottom:1px solid #ec6c53;text-align:center;height:40px;line-height:40px;color:#ec6c53;text-align:center}
.weui_cell_bd{font-size:14px;overflow:hidden;height:19px}
.weui_cell_ft{font-size:14px}
.zb_more{text-align:center;padding-bottom:10px;padding-top:10px;border-top:1px solid #F3F3F3}
.zb_more a{color:#999;font-size:14px}