.bm-title{-webkit-user-select:none;color:#010101;text-align:center;padding:9pt 0;height:24px;line-height:24px;font-size:1pc;position:relative;background-color:#f8f8f8}
.bm-title a,.bm-title i{display:block;position:absolute;left:0;top:0;width:40px;height:3pc;line-height:47px;font-size:24px;color:#010101}
.bm-title a.title-right{right:0;left:auto;font-size:20px}
.bm-title.bm-fixed{position:fixed;left:0;top:0;width:100%;z-index:1}
.main{background:#f3f4f3}
.head-portrait .bm-title{background:0 0;z-index:1}
.head-portrait .bm-title a,.head-portrait .bm-title i{color:#fff}
textarea{background:#fff}
.content ul li{padding:10px;height:5pc;overflow:hidden;position:relative}
.content-pic{float:left;width:110px;height:75px;margin-top:2px}
.content-pic img{width:100%;height:100%}
.content-type{position:absolute;left:10px;top:9pt;height:14px;line-height:14px;padding:0 2px;font-size:10px;color:#fff}
.icon-gf{background:#92da40}
.icon-gr{background:#ec6c53}
.content-type-view{bottom:-2px;right:19px;border-radius:2px}
.introduce{margin-left:90pt;overflow:hidden}
.introduce a{display:block}
.introduce .content-title{color:#333;font-size:15px;line-height:20px;max-height:40px;overflow:hidden;margin-bottom:3px;display:block;font-weight:400}
.introduce p{font-size:11px;color:#999;margin:0}
.ico-apply-close{height:34px;width:75px;position:absolute;right:10px;top:4pc;background:url(../img/huodong/sprite-activity.png) no-repeat 0 0;background-size:73px 32.5px;opacity:.8}
.huodong_list{background-color:#fff}
.huodong_list li{border-bottom:1px solid #f2f2f2;padding:10px 10px 9px}
.huodong_list li,.huodong_list li .pic{position:relative;z-index:1;overflow:hidden}
.huodong_list li .pic img{display:block;width:100%}
.huodong_list li h3{height:auto;line-height:24px;color:#000;overflow:hidden;font-weight:400;margin:8px 0 3px;position:relative;z-index:1;width:100%}
.huodong_list li h3 .bao{display:block;position:absolute;right:0;top:0;font-size:9pt;color:#aaa;background-color:#fff;padding-left:0}
.huodong_list li .info{line-height:24px;height:24px;font-size:14px;overflow:hidden;color:#aaa}
.huodong_list li .address,.huodong_list li .time{font-size:9pt;color:#999}
.huodong_list li .time{float:right;width:30%;overflow:hidden;height:20px}
.huodong_list li .address{float:left;width:65%;overflow:hidden;height:20px}
.business2 sup,.huodong_list .pic sup{border-radius:5px;position:absolute;z-index:2;font-size:9pt;color:#fff;top:-2px;right:-8px;padding:2px 10px;height:18px;line-height:18px;-webkit-transform:skew(207deg);padding-right:9pt;border:2px solid #fff}
.huodong_list .pic sup{top:-2px;border-radius:0}
.huodong_list li:first-child .pic sup{top:-2px}
.business2 sup:before,.huodong_list .pic sup:before{content:'';display:block;-webkit-transform:skew(-207deg)}
.huodong_list .pic sup.bm1{background:#39f;z-index:1}
.huodong_list .pic sup.bm1:before{content:'报名中'}
.huodong_list .pic sup.bm2{background:#ec6c53;z-index:2}
.huodong_list .pic sup.bm2:before{content:'进行中'}
.huodong_list .pic sup.bm3{background:#999;z-index:3}
.huodong_list .pic sup.bm3:before{content:'已结束'}
.head-ios .bm-title{display:none}
.head-ios .bg-blur{height:308px}
.head-ios .portrait-c{top:30px}
.head-left{position:absolute;top:23px;left:15px}
.head-left i{font-size:23px;color:#fff}
.head-o{background:#fff}
.head-portrait{position:relative;overflow:hidden;height:230px}
.bg-blur{height:260px;position:relative;margin-left:-10px;margin-right:-10px;margin-top:-55px;background:rgba(0,0,0,.6);-webkit-backdrop-filter:brightness(1) blur(2px)}
.portrait-c{position:absolute;top:50px;left:20px}
.report{text-align:right}
.report .fa{color:#ff0;padding-right:3px}
.portrait-pic{float:left;width:7pc;height:5pc}
.content-title{color:#fff;font-size:24px;line-height:26px;font-weight:400;margin-bottom:15px}
.portrait-pic img{border:1px solid #fff;width:110px;height:75px}
.portrait-introduce{margin-left:125px}
.portrait-introduce a{color:#fff}
.portrait-introduce p{color:#fff;margin:0 0 5px;font-size:9pt;height:1pc;line-height:1pc;overflow:hidden}
.portrait-introduce p i{padding-right:5px;width:15px;text-align:center}
.synopsis{padding:15px;position:relative}
.summary{display:block;overflow:hidden;font-size:15px;line-height:26px;color:#666;min-height:200px}
.summary *{max-width:100%}
.synopsis em{display:block;text-align:center;padding:15px 0 0}
.summary-map{color:#ec6c53;margin-bottom:10px}
.summary-map i{margin-right:5px}
.summary-down a{color:#999;font-size:1pc}
.summary-down a i{font-size:20px;color:#ddd}
#pyramid{position:absolute;height:60px;width:100%;bottom:0;left:0}
#pyramid>div{position:absolute;border-style:solid;border-width:60px 500px 0 0}
#pyramid>div:first-child{border-color:transparent #fff}
.portrait-user{position:absolute;bottom:0;right:20px}
.portrait-user img{width:60px;height:60px;border-radius:50%;padding:3px;background:#fff}
.top-list{padding:15px 0;display:-webkit-box}
.top-list li{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;text-align:center}
.top-list li em{font-size:20px;color:#ec6c53}
.top-list li p{color:#a6a6a6;margin-top:5px;font-size:13px}
.bottom-list li{padding:10px;color:#666}
.bottom-list li .fa{color:#999;margin-right:5px;width:20px;text-align:center}
.enroll .adopt-title{position:relative;position:-webkit-sticky;position:-moz-sticky;position:-ms-sticky;position:-o-sticky;top:0;padding:12px;overflow:hidden;background-color:#fff;z-index:1}
.hr{border:1px solid #ec6c53;width:3px;height:18px;background:#ec6c53;float:left;margin-right:5px}
.enroll-hr{border-left:4px solid #ec6c53;color:#ec6c53;padding-left:5px;font-size:1pc;float:left;font-weight:400;height:1pc;line-height:1pc}
.adopt-title a,.feedback-title a{position:absolute;right:-5px;top:5px;color:#e1e1e1;font-size:18px;padding:5px 20px}
.adopt-accept ul{padding:10px 15px 11px;overflow:hidden}
.adopt-accept p{margin:0}
.adopt-accept ul li{padding-bottom:10px;margin-bottom:10px;position:relative}
.adopt-accept ul li:last-child{background:0 0}
.adopt-accept .accept-portrait{float:left;width:20px;height:20px}
.adopt-accept .accept-portrait img{width:100%;border-radius:50%}
.adopt-accept .accept-info{margin-left:25px;line-height:20px;min-height:20px}
.adopt-accept .accept-name{font-size:14px;color:#666}
.adopt-accept .accept-sign{color:#abaaaa}
.adopt-accept .accept-pay{color:#ec6c53}
.adopt-member ul{padding:10px 15px 11px;overflow:hidden}
.adopt-member p{margin:0}
.loading a{color:#ccc;font-size:13px}
.adopt-member ul li{float:left;width:50%;padding-bottom:15px;position:relative}
.member-portrait{float:left;width:35px;height:35px}
.member-portrait img{width:100%;border-radius:50%}
.member-info{margin-left:45px;line-height:18px;min-height:54px}
.member-name{font-size:13px;color:#666}
.member-name,.member-sign{overflow:hidden;display:block}
.member-sign{color:#abaaaa;font-size:14px;margin:5px 0!important}
.member-pay{color:#ec6c53;font-size:11px}
.comment-sub p~p{margin:0}
.adopt-member2 ul{padding:10px 15px 11px;overflow:hidden}
.adopt-member2 ul li{float:left;padding-bottom:15px;margin-right:13px}
.adopt-member3 ul{padding:15px;overflow:hidden}
.adopt-member3 ul li{position:relative;margin-bottom:15px;padding-bottom:15px}
.adopt-member3 p{margin:0}
.adopt-member3 .member-bottom{position:absolute;right:0;top:0}
.adopt-member4 ul{padding:15px}
.adopt-member4 ul li{margin-bottom:15px;float:none;width:100%}
.member-portraits{width:35px;height:35px;text-align:center;display:inline-block}
.member-portraits img{width:100%;border-radius:50%}
.comment .comment-title{padding:15px;overflow:hidden}
.en-ll{float:right;height:1pc;line-height:1pc}
.en-ll a{color:#ec6c53}
.loading{text-align:center;line-height:60px}
.loading img{display:inline-block}
.comment-button span{display:block;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.comment-button span a{color:#333;font-size:14px;display:block}
.comment-button span a i{padding-right:5px}
.comment-button span.join{height:3pc;line-height:3pc;margin-top:-4px;background:#ec6c53;border-radius:3px 3px 0 0}
.comment-button span.join a{color:#fff;height:3pc;line-height:3pc;font-size:1pc}
.pointTop{border:none;border-color:transparent transparent #f8f8f8;border-image:none;border-style:solid;border-width:6px;height:0;left:18px;position:absolute;top:-9pt;width:0}
.pubilc-load{height:36px;width:100%}
.pubilc-loading .loading{width:60px;margin:0 auto;height:1pc;line-height:1pc;font-size:14px;padding:10px;color:#888;text-align:left;padding-left:35px;-webkit-animation:rotation linear 1s infinite;animation:rotation linear 1s infinite;background:url(source/plugin/xn_activity/template/src/img/phone_load.png) no-repeat 10px 10px;background-size:1pc}
.weui_dialog_confirm .weui_dialog .weui_dialog_hd{text-align:left}
.enrolls-hr a{border-left:4px solid #ec6c53;color:#ec6c53;padding-left:5px;font-size:1pc;float:left;font-weight:400;height:1pc;line-height:1pc}
.ico-apply-close{height:34px;width:75px;position:absolute;right:10px;top:4pc;background:url(source/plugin/xn_activity/template/src/img/sprite-activity.png) no-repeat 0 0;background-size:73px 32.5px;opacity:.8}
.ico-apply-close-view{z-index:4;right:10px;top:-10px}
.feedback{background-color:#fff}
.feedback-title{padding:15px;overflow:hidden;position:relative}
.feedback-tit{height:35px;margin-bottom:10px}
.FImg{width:35px;border-radius:50%;overflow:hidden;float:left;margin-right:10px}
.FImg img{width:100%}
.tic-content{font-size:13px;font-weight:400;line-height:22px;margin-bottom:10px;color:#666}
.tic-time{float:right;color:#999;font-size:13px}
.userscimg p{font-size:14px}
.ticpic{margin-top:10px;overflow:hidden}
.ticpic .tic-img{display:inline-block;width:31%}
.ticpic .tic-img img{width:100%}
.feedback-c{padding:10px 9px 15px 15px;position:relative;height:75pt}
.upload-block{position:absolute;top:10px;left:-75px;display:block;height:98px;width:78px;border:1px dashed #ddd;border-radius:2px;background:url(source/plugin/xn_activity/template/src/img/upload_plus.png?3) no-repeat center center;background-size:5pc 75pt}
.upload-block:active{background-color:#eee}
.upload-block input{display:block;height:75pt;width:5pc;border:none;opacity:0}
.feedback-m{overflow:hidden;height:75pt}
.feedback-mc{position:relative;overflow-y:hidden;overflow-x:scroll;height:140px}
.feedback-mc ul{position:absolute;left:0;white-space:nowrap}
.feedback-mc ul li{position:relative;display:inline-block;border-radius:2px;overflow:hidden;margin-right:6px;text-align:center}
.feedback-mc ul li .post-img{height:75pt;border-radius:2px}
.feedback-mc ul li .post-avatar{display:block;position:absolute;right:8px;bottom:8px}
.feedback-mc ul li .post-avatar img{width:24px;height:24px;border-radius:50%;border:1px solid #fff}
.feedback-c.feedback-append{margin-left:90px}
.weui_dialog_confirm .weui_hd_xc .weui_dialog_hd{padding-top:15px}
.weui_hd_xc .weui_cells{margin-top:5px}
.weui_hd_xc .weui_uploader_bd{width:100%;margin-top:10px;margin-bottom:-10px}
.weui_hd_xc .weui_cell:before{left:0}
#qrcode{position:fixed;left:50%;top:50%;z-index:4;width:150px;padding:10px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;text-align:center;border-radius:3px}
#qrcode p{margin-bottom:10px}
#qrcode img{width:100%}
#signinfo p~p{margin:0}
#signinfo p.c-main{margin-top:10px}
#signinfo .signinfo-box{text-align:left;padding:20px}
.view_cmt{background-color:#fbf9f9;color:#ec6c53;height:50px;line-height:50px;text-align:center}
.view_cmt em,.view_cmt em:after{vertical-align:-3px;margin-left:5px;display:inline-block;border-color:#ec6c53 transparent transparent transparent;border-width:6px;border-style:solid;transition:transform .3s ease;-webkit-transition:-webkit-transform .3s ease;transform-origin:50% 25% 0;-webkit-transform-origin:50% 25% 0;position:relative;z-index:1}
.view_cmt.current em{border-color:#ec6c53 transparent transparent transparent;transform:rotateZ(180deg);-webkit-transform:rotateZ(180deg);transition:transform .3s ease;-webkit-transition:-webkit-transform .3s ease;transform-origin:50% 25% 0;-webkit-transform-origin:50% 25% 0}
.huodong_map{padding:5px 5px 0 5px;margin-top:-6px}
.threadlist li a.act_link{border-top:1px solid #e8e8e8}
.threadlist a{color:#000}
.threadlist li{position:relative;-webkit-transition:all 1s ease-in-out;display:block;padding:0;height:auto}
.threadlist li a.act_link{display:block;position:relative;padding:10px 0 5px 0;margin:0 10px;overflow:hidden}
.threadlist li:first-child a.act_link{border-top:0}
.threadlist li h3{font-size:17px;line-height:21px;font-weight:400}
.threadlist li h3 span{font-size:12px}
.threadlist li .tag_bg{font-size:9px;line-height:18px;height:16px;vertical-align:middle;border-radius:2px;padding:0 3px;vertical-align:top}
.threadlist .num{margin-left:5px}
.threadlist .icon_top,.threadlist .icon_tu{position:absolute;left:0;top:-1px}
.threadlist .by{font-size:12px;display:block}
.pg_space #alist li{border-bottom:1px solid #e8e8e8}
.item_message{font-size:14px;margin-top:6px}
.item_info{font-size:18px;margin-top:6px;height:18px;line-height:18px}
.item_info .space{margin-right:8px}
.item_info span{display:inline-block;font-size:10px;line-height:12px;vertical-align:middle}
.ceo_info,.item_info{color:#999}
.desc{display:inline-block;width:80%;vertical-align:middle;float:left}
.desc .item_message{font-size:12px;margin-top:6px;max-height:16px}
.list_image{margin-top:6px;box-sizing:border-box}
.list_image ul{display:block;font-size:0;text-align:center}
.list_image ul li{display:inline-block;width:34%;box-sizing:border-box;float:left;padding:0 1%;overflow:hidden}
.list_image ul li:first-child{width:33%;padding-right:1%;padding-left:0}
.list_image ul li:last-child{width:33%;padding-left:1%;padding-right:0}
.list_image ul li img{vertical-align:bottom}
.list_img_holder{width:20%;display:inline-block;vertical-align:middle;position:relative;padding-left:1%;box-sizing:border-box}
.list_img_holder span{display:block;width:100%;box-sizing:border-box;padding:1px}
.list_img_holder img{border:0;display:block;height:65px;width:65px;-webkit-transition:opacity .3s ease;-moz-transition:opacity ease .3s;pointer-events:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;text-decoration:none;vertical-align:top}
.icon_list{width:100%}
.icon_list ul{width:98%;margin-left:1%}
.icon_list ul li{width:25%;float:left;text-align:center;margin-top:10px}
.icon_list ul li img{width:40px;height:40px}
.icon_list ul li p{width:100%;height:20px;font-size:14px;overflow:hidden;color:#585858}
iframe{width:100%;height:200px}