.banner_top{display:-webkit-box;height:3px}
.banner_top li{width:20%;display:block;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.color_r{background-color:#ec6c53}
.color_y{background-color:#ffca55}
.color_b{background-color:#5fd1dd}
.color_g{background-color:#92d34f}
.color_p{background-color:#ae93e5}
.b_bottom{margin:0 -5%;height:12px;overflow:hidden;position:absolute;width:110%;bottom:-7px;background-color:#fff;border-radius:100%}
.Nweather{position:relative;padding:0;height:72px;overflow:hidden;background:url(../img/index/building.png);background-size:cover}
.Nweather .Nweather_c{background-color:rgba(1,1,1,.7);height:76px;position:relative}
.Nweather .Nweather_c_div{position:relative;overflow:hidden;display:block}
.Nweather .Nweather_c_left{display:block;padding:0 8px 0 15px;float:left;color:#fff;font-size:24px;height:76px;line-height:70px}
.Nweather .Nweather_c_right{display:block;padding:12px 0 20px 0;float:left;position:relative}
.Nweather li img{height:24px;width:24px;display:inline-block;vertical-align:bottom}
.Nweather em{position:absolute;top:50%;left:85%;margin-left:-30px;margin-top:-16px;height:24px;width:60px;text-align:center;line-height:24px;border-radius:40px;color:#fff;background-color:#ec6c53;font-size:13px}
.Nweather li{color:#fff;font-size:13px;font-weight:100}
.Nweather span{position:absolute;top:20px;height:20px;width:20px;background-size:20px 20px;right:6px}
.index_sign{display:block;position:absolute;top:16px;right:13px;height:34px;width:70px;text-align:center;line-height:34px;font-size:14px;color:#fff}
.index_sign:after{content:" ";width:200%;height:200%;position:absolute;top:0;left:0;border:1px solid #eee;-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 0;transform-origin:0 0;box-sizing:border-box;border-radius:5px}
.weui-col-25{text-align:center;margin-bottom:15px}
.weui-col-25 img{width:50px;height:50px}
.weui-col-25 p{font-size:14px;line-height:12px}
.life_hot{font-size:14px;overflow:hidden;background-color:#fff;z-index:1}
.index_ad{width:100%}
.index_ad ul li{width:50%;float:left}
.index_ad ul li img{width:100%}
.life_hot{font-size:14px;overflow:hidden;background-color:#fff;z-index:1}
.hot_header{padding:15px 0 10px 15px;overflow:hidden;position:relative}
.hot_header ul{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;height:20px;padding-left:70px;padding-right:10px;color:#999;list-style-type:none}
.hot_header ul li{height:24px;line-height:24px}
.hot_header a{color:#000}
.hot_header em{top:7px;left:15px;height:35px;width:55px;background:url(../img/index/icon_tb.png) no-repeat;background-size:320px;position:absolute;background-position:-225px -115px}
.life_hot .hot_main{display:-webkit-box;padding:0 5px 5px 5px}
.life_hot .hot_main>li{position:relative;padding:10px 0 5px 0;margin:5px;background-color:#fbfbfb;width:25%;display:block;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1}
.life_hot .hot_main>li .hot_pic{display:block;width:48px;height:48px;margin:0 auto;padding:0 0 10px 0}
.life_hot .hot_main>li.cur{z-index:3;background:#fff;border-radius:3px 3px 0 0}
.life_hot .hot_main>li span{display:block;text-align:center}
.life_hot .hot_main>li .hot_house{background-position:-4px -90px}
.life_hot .hot_main>li .hot_recruit{background-position:-56px -90px}
.life_hot .hot_main>li .hot_secondhand{background-position:-112px -90px}
.life_hot .hot_main>li .hot_pay{background-position:-168px -90px}
.hot_main span{color:#666;margin-bottom:3px}
.life_click{z-index:3}
.life_hover{background:#fff;font-size:0;height:8px;width:8px;position:absolute;top:-4px;transform:rotate(-45deg);left:36%;z-index:2}
.hot_main span.hot_text{color:#acacac;font-size:12px;font-weight:100}
.bianmin{z-index:3;height:100%;display:none;width:100%;position:relative;margin-top:-11px;background-color:#fff}
.bianmin .fa{width:45px;height:45px;background-size:320px}
.bianmin li{float:left;width:25%;text-align:center;background-repeat:repeat-x;background-position:0 bottom;background-size:auto 1px;position:relative}
.bianmin li a,.bianmin li span{display:block}
.bianmin li a{padding:10px 0}
.bianmin li a span{color:#333;font-size:14px;line-height:24px;font-weight:100}
.bm-fw li{width:25%}
.bm-fw-c{padding:0}
.bm-fw a{background-image:none!important}
.bm-fw ul{padding:10px 0}
.weui_mask_index{background:rgba(0,0,0,.6)}
.weui_mask_index,.weui_mask_index_transition,.weui_mask_index_transparent{position:fixed;z-index:1;width:100%;height:100%;top:0;left:0}
.weui_mask_index_transition{display:none;background:0 0;-webkit-transition:background .3s;transition:background .3s}
.showNavApp{position:static;display:block;margin-bottom:40px;padding:0 0}
.showNavApp ul{display:block;border-radius:0;background:0 0;padding:0}
.nav_APPa ul li{width:25%}
.nav_APPa a{color:#333}
.nav_APPa .s{width:42px;height:42px;border-radius:16px;background-position:8px 8px;margin-left:-21px}
.viewport{position:relative;overflow:hidden}
.viewport #nav_Node{height:130px}
.viewport #scroller{position:absolute;-webkit-tap-highlight-color:transparent;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none}
.viewport #scroller .slidea{float:left}
.viewport #indicator2{position:absolute;height:6px;bottom:5px;left:50%;background:url(../img/indicator2_c.png) repeat-x 0 0;background-size:11px 9px}
.viewport #dotty{position:absolute;width:6px;height:6px;border-radius:6px;background:#ec6c53}
.icon_list{width:100%}
.icon_list ul{width:96%;margin-left:2%}
.icon_list ul li{width:25%;float:left;text-align:center;margin-top:10px}
.icon_list ul li img{width:40px;height:40px}
.icon_list ul li p{width:100%;height:20px;font-size:14px;overflow:hidden;color:#585858}
.threadlist li a.act_link{border-bottom:1px solid #e8e8e8}
.threadlist a{color:#000}
.threadlist li{position:relative;-webkit-transition:all 1s ease-in-out;display:block;padding:0;height:auto}
.threadlist li a.act_link{display:block;position:relative;padding:10px 0 5px 0;margin:0 10px;overflow:hidden}
.threadlist li:first-child a.act_link{border-top:0}
.threadlist li h3{font-size:17px;line-height:21px;font-weight:400}
.threadlist li h3 span{font-size:12px}
.threadlist li .tag_bg{font-size:9px;line-height:18px;height:16px;vertical-align:middle;border-radius:2px;padding:0 3px;vertical-align:top}
.threadlist .num{margin-left:5px}
.threadlist .icon_top,.threadlist .icon_tu{position:absolute;left:0;top:-1px}
.threadlist .by{font-size:12px;display:block}
.pg_space #alist li{border-bottom:1px solid #e8e8e8}
.item_message{font-size:14px;margin-top:6px}
.item_info{font-size:18px;margin-top:6px;height:18px;line-height:18px}
.item_info .space{margin-right:8px}
.item_info span{display:inline-block;font-size:10px;line-height:12px;vertical-align:middle}
.ceo_info,.item_info{color:#999}
.desc{display:inline-block;width:80%;vertical-align:middle;float:left}
.desc .item_message{font-size:12px;margin-top:6px;max-height:16px}
.list_image{margin-top:6px;box-sizing:border-box}
.list_image ul{display:block;font-size:0;text-align:center}
.list_image ul li{display:inline-block;width:34%;box-sizing:border-box;float:left;padding:0 1%;overflow:hidden}
.list_image ul li:first-child{width:33%;padding-right:1%;padding-left:0}
.list_image ul li:last-child{width:33%;padding-left:1%;padding-right:0}
.list_image ul li img{vertical-align:bottom}
.list_img_holder{width:20%;display:inline-block;vertical-align:middle;position:relative;padding-left:1%;box-sizing:border-box}
.list_img_holder span{display:block;width:100%;box-sizing:border-box;padding:1px}
.list_img_holder img{border:0;display:block;height:65px;width:65px;-webkit-transition:opacity .3s ease;-moz-transition:opacity ease .3s;pointer-events:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;text-decoration:none;vertical-align:top}
.tag_bg{display:inline-block;border:1px solid #ec6c53!important;color:#fff!important;background:#ec6c53!important;margin-right:5px}
.ad_label .tag_bg{margin-top:1px}
.list_img_holder_pic{width:33%;display:inline-block;vertical-align:middle;position:relative;padding-left:1%;box-sizing:border-box}
.list_img_holder_pic span{display:block;width:100%;box-sizing:border-box;padding:1px}
.list_img_holder_pic img{border:0;display:block;width:100%;height:70px}
.item_info_pic{margin-top:1px}
.item_info_pic .space{margin-right:8px}
.item_info_pic span{display:inline-block;font-size:10px;line-height:10px;vertical-align:middle;margin-top:-5px;margin-bottom:-10px;color:#999}
.mTitle{margin-bottom:-10px}
.mTitle:after{clear:both;content:"\200B";display:block;height:0}
.mTitle h2{float:left;font-size:15px;color:#83868f;line-height:1;padding:15px 0 15px 0;margin-left:8px;white-space:nowrap}
.mTitle .t-change{position:relative;float:right;width:auto;line-height:42px;font-size:12px;color:#83868f;padding-right:14px;padding-left:14px}
.mTitle .t-change:before{content:'';position:absolute;left:0;top:15%;margin-top:6px;width:12px;height:12px}