@charset "gb2312";body{font-family:Arial,\5fae\8f6f\96c5\9ed1}
table{border-collapse:collapse}
.container{width:100%;height:auto}
.q_d_l .daohang{width:25px;height:20px;display:inline-block;position:absolute;top:13px;right:7px;background:url(caidan.png) no-repeat}
.flexbox{display:box;display:-webkit-box;display:-moz-box;display:-ms-box;-webkit-box-orient:horizontal;box-orient:horizontal;font-size:14px}
.q_d_l{background:#efefef}
.q_d_l .backtg{display:inline-block;position:absolute;top:5px;left:7px;width:35px;height:40px;line-height:35px;color:#666!important;font-size:12px!important;font-family:Arial;background-repeat:no-repeat;background-size:30px;background-image:url(search.png);z-index:1;background-position:5px -62px}
.zx_tab{width:100%;box-sizing:border-box;border-bottom:1px solid #f60;line-height:30px;overflow:hidden;position:fixed;background-color:#fff;top:46px;z-index:2}
.zx_tab a{display:inline-block;color:#333;font-size:14px;text-align:center;width:33%;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;float:left;line-height:35px}
.zx_tab a.now{color:#f60}
.zx_tab a:nth-child(3n){border-right:0;padding-right:1px}
.zx_tab a:nth-child(10){border-bottom:0}
.zx_tab a:active{background-color:#e7e7e7}
.popShadow{position:absolute;width:100%;height:100%;background:rgba(0,0,0,.6);z-index:2}
.main{display:block;background:#fff}
.listtab{margin-top:8px;-webkit-box-sizing:border-box;height:30px;border-bottom:1px solid #f4f4f4;overflow:hidden;display:-moz-box;display:-webkit-box;display:box}
.listtab a{text-align:center;color:#666;text-decoration:none;line-height:27px;height:27px;border-bottom:2px solid #fff;margin:0 3px;font-size:14px;-webkit-box-flex:1;display:block;font-family:\5fae\8f6f\96c5\9ed1}
.listtab a.active{font-size:16px;height:27px;color:#ec6c53;border-bottom:2px solid #ec6c53}
.calculator{padding-top:3px;display:block;background-color:#f4f4f4}
.calculator dl{padding:6px 15px;display:-webkit-box;width:100%;line-height:35px;border-top:1px solid #f4f4f4;background-color:#fff;-webkit-box-sizing:border-box;position:relative}
.calculator dt{display:table-cell;font-size:14px;vertical-align:top;text-align:Justify;-webkit-box-flex:1}
.calculator dd{position:relative;display:block;vertical-align:top;text-align:left;color:#999;font-size:14px;-webkit-box-flex:2}
.calculator dd a{color:#999}
.calculator .ipt-text{background-color:#fff;color:#999;border:0;height:32px;line-height:normal;font-size:16px;display:block;-webkit-box-flex:1}
.calculator .flexbox i{margin:0 5px;line-height:32px;font-style:normal}
.calculator .flexbox i:last-child{margin-right:0}
.arr-rt:after{position:absolute;content:'';right:-4px;top:50%;margin-top:-7px;width:15px;height:15px;background:url(arrs01.png) no-repeat;background-size:15px auto}
.select-rt:after{position:absolute;content:'';right:-4px;top:50%;margin-top:-7px;width:15px;height:15px;background:url(arrs01.png) no-repeat;background-size:15px auto;background-position:0 -14px}
.mt32e{line-height:32px;font-size:14px;background:#f4f4f4;color:#f66;padding:6px 10px;text-align:right}
.mt32e img{width:12px;height:16px;vertical-align:middle;margin-top:-4px;margin-right:4px}
.mt32e a{color:#df3031}
.calculator dd select{border:none;width:95%;margin:0;padding:0;height:32px;line-height:32px;font:inherit;-webkit-appearance:none;color:#999;background-color:transparent;display:inline-block;size:initial}
.bb{border-bottom:1px solid #f4f4f4}
.methodbox{padding:25px 40px 15px 40px;background-color:#fff}
.btn-cal{margin:0 auto;display:block;max-width:480px;height:45px;line-height:45px;font-size:18px;border:none;background:#ec6c53;border-radius:2px;text-align:center;cursor:pointer;color:#fff!important}
.btn-cal:active{background-color:#DA5D00}
.btn-ok{height:32px;line-height:32px;font-size:14px;border:1px solid #df3031;border-radius:2px;text-align:center;cursor:pointer;background-color:#fff;color:#df3031!important;display:block;-webkit-box-flex:1}
.hkmethods{height:32px;line-height:32px;color:#999;font-size:14px;background:#fafafa;border-top:1px solid #f4f4f4;border-bottom:1px solid #f4f4f4;padding:0 10px}
.arr-choice:after{position:absolute;content:'';right:10px;top:50%;margin-top:-7px;width:16px;height:12px;background:url(icon-c.png) no-repeat;background-size:16px auto}
.jsresults{padding:0 10px 0 10px;border-top:1px solid #f4f4f4}
.methodboxa{padding:15px 40px 0 40px}
.mTab{margin:0 auto;max-width:480px}
.mTab .flexbox{width:100%;padding:1px;border-radius:2px}
.methodboxa p{line-height:24px;color:#999;margin-top:10px}
.f14{font-size:14px}
.f999{color:#999}
.jsresults01{height:180px;position:relative}
.jsresults01:after{position:absolute;content:'';right:-4px;top:50%;margin-top:-7px;width:15px;height:15px;background:url(arrs01.png) no-repeat;background-size:15px auto}
.mt20{margin-top:20px!important}
.jsresults01 .quan{width:180px;height:180px;overflow:hidden;margin:0 auto;background-size:140px;position:relative}
.jsresults01 .quan .info{width:80px;height:50px;line-height:24px;color:#999;position:absolute;top:68px;left:50px;text-align:center;z-index:1;overflow:hidden}
.jsresults01 .quan .info em{font-style:normal;color:#df3031;display:inline-block}
.jsresults01 .rquan{width:180px;height:180px;margin:0 auto;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;box-flex:1;position:relative}
.jsresults01 .rquan .info{width:70px;height:20px;line-height:20px;color:#999;position:absolute;top:60px;left:35px;text-align:center;font-size:14px;z-index:1;overflow:hidden}
.jsresults02{margin-top:20px}
.jsresults03{margin-top:10px}
.jsresults h3{color:#999;line-height:32px;font-weight:400}
.jsresults02 dl{display:table;width:100%;line-height:30px}
.jsresults02 dt{display:table-cell;vertical-align:top;width:7.5em;padding-left:25px}
.jsresults02 dd{position:relative;display:table-cell;vertical-align:top;text-align:right;color:#999;font-size:14px}
.jsresults02 dt.bj01,.jsresults02 dt.bj02,.jsresults02 dt.bj03{background:url(../img/jisuan/quan_icon.png) no-repeat 0 6px;background-size:10px}
.jsresults02 dt.bj02{background-position:0 -17px}
.jsresults02 dt.bj03{background-position:0 -42px}
.jsresults03 dl{display:table;line-height:28px;width:100%}
.jsresults03 dt{display:table-cell;vertical-align:top;padding-left:25px;width:11em}
.jsresults03 dd{position:relative;display:table-cell;vertical-align:top;text-align:right;color:#999;font-size:14px}
.jsresults03 dt.bj01,.jsresults03 dt.bj02,.jsresults03 dt.bj03,.jsresults03 dt.bj04,.jsresults03 dt.bj05,.jsresults03 dt.bj06,.jsresults03 dt.bj07{background:url(../img/jisuan/quan_icon.png) no-repeat 0 8px;background-size:10px}
.jsresults03 dt.bj02{background-position:0 -20px}
.jsresults03 dt.bj03{background-position:0 -42px}
.jsresults03 dt.bj04{background-position:0 -68px}
.jsresults03 dt.bj05{background-position:0 -92px}
.jsresults03 dt.bj06{background-position:0 -142px}
.jsresults03 dt.bj07{background-position:0 -117px}
.center{text-align:center}
.mlist{padding:10px;font-size:14px}
.mlist dl{display:table;width:100%;line-height:32px;font-size:14px}
.mlist dt{display:table-cell;vertical-align:top;width:8em;font-size:14px}
.mlist dd{position:relative;display:table-cell;vertical-align:top;text-align:right;color:#999;font-size:14px}
.mlisttab{line-height:32px;background:#e4e4e4;color:#333;font-size:14px;padding:0 0}
.mlisttab table{text-align:center;font-size:14px;width:100%;background:#fff}
.mlisttab table th{padding:0 5px;height:30px;line-height:30px;background-color:#e4e4e4;font-weight:400}
.mlisttab table td{padding:4px 0;color:#999;letter-spacing:-1px}
.mlisttab table td.lf4{background:#f4f4f4;padding-left:10px;text-align:left}
.hkmethodsa{height:32px;line-height:32px;color:#999;font-size:14px;background:#fafafa}
.pdX10{padding:0 10px}
.count_margin{margin-right:20px;display:inline-block}
.calculator .ipt-texta{background-color:#fff;color:#ccc;border:0;height:32px;line-height:normal;font-size:16px;display:block;-webkit-box-flex:1;font-family:Arial,\5fae\8f6f\96c5\9ed1}
.counter_padtop{padding-top:0}
.counter_back_top{position:fixed;height:38px;line-height:38px;width:38px;font-size:12px;color:#FFF;background:rgba(0,0,0,.4);border-radius:3px;text-align:center}
.taxation01{padding:25px 40px;background:#fafafa}
.ipt-rd:checked{background-position:-20px -20px}
.ipt-rd{margin-right:10px;width:20px;height:20px;background:url(../img/jisuan/icon-ipt.png) 0 -20px no-repeat;background-size:40px auto;-webkit-appearance:none!important;appearance:none!important;border:0;outline:0}
.jsresults10 .rquan{width:180px;height:180px;margin:0 auto;background-size:140px;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;box-flex:1;position:relative}
.jsresults10 .rquan .info{width:80px;height:50px;line-height:24px;color:#999;position:absolute;top:68px;left:50px;text-align:center;font-size:14px;z-index:1}
.jsresults10 .rquan .info em{font-style:normal;color:#df3031;display:inline-block}
.calculator ul{border-bottom:1px solid #f4f4f4;padding:0 10px 10px 10px;background-color:#fff}
.calculator ul li{line-height:22px;padding-top:10px}
.calculator ul li .ipt-cb{float:left;width:20px;height:20px;background:url(icon-ipt.png) no-repeat;background-size:40px auto;margin-right:10px;-webkit-appearance:none!important;appearance:none!important;outline:0;border:0}
.calculator ul li .ipt-cb:checked{background-position:-20px 0}
.jsresults10 .rquan .info.lh{line-height:50px}
.mTab a{-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;box-flex:1;text-align:center;border-radius:2px;width:50px;height:35px;line-height:35px;color:#ec6c53;display:block;background-color:#EFEFEF}
.mTab a.active{background-color:#ec6c53;color:#fff}
