index_nav.home-new-list-table2{display:table;width:100%;padding-bottom:45px}
index_nav.home-new-list-number{display:block;font-size:20px;font-weight:400;line-height:1.2}
index_nav.home-new-list-text{color:#fff;font-size:14px;font-weight:100}
.home_card{width:100%;min-width:20pc;background:#ec6c53;background-size:cover;color:#fff;font-size:1pc;clear:both;position:relative;padding-top:1px}
.weui_cell_hd,.weui_cell_primary{color:#888}
.home_card .home_card_portrait{position:absolute;left:0;top:0}
.home_card .home_card_portrait_link{display:block;overflow:hidden;width:70px;height:70px;border-radius:50%;background:#fff;border:3px solid #fff}
.home_card .home_card_portrait_pic{width:70px;height:70px;border-radius:50%}
.home_card .home_card_info{display:block;margin-left:6pc}
.home_card .home_card_uname{height:20px;line-height:20px;width:75pt}
.home_card .home_card_uname_link{color:#fff;max-width:105px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:20px}
.home_card .home_card_operate{display:inline-block}
.profile-c{padding:0 15px;line-height:30px}
.home_card_operate_icon_chat{background-position:0 -25px}
.home-new-list_text{font-size:1pc}
.home-ranking{color:#fff;margin-bottom:8px;margin-top:2px;font-size:13px}
.home-big_text,.home-small_text{color:#fff;font-size:10px}
.home-icon_renzheng{background:#fff;color:#ec6c53;border:1px solid #fff;border-radius:3px}
.home-icon_add,.home-icon_renzheng{width:14px;height:14px;margin:0;padding:1px;margin:2px 2px 0;margin-top:1px;display:inline-block;line-height:14px;text-align:center;vertical-align:text-top;font-size:11px;font-weight:700}
.home-icon_add{font-size:9pt;color:#fff;border:1px solid hsla(0,0%,100%,.5);border-radius:3px}
#contain .swipe-point{z-index:1;bottom:10px}
@keyframes wave-animation-1{0%{background-position:0 top}
to{background-position:600px top}
}
@keyframes wave-animation-2{0%{background-position:0 top}
to{background-position:600px top}
}
.water{position:absolute;left:0;bottom:-10px;height:30px;width:100%;z-index:1}
.water-c{position:relative}
.water-1,.water-2{position:absolute;width:100%;height:30px}
.water-1{background:url(../img/my/water-1.svg) repeat-x;background-size:600px;-webkit-animation:wave-animation-1 3.5s infinite linear;animation:wave-animation-1 3.5s infinite linear}
.water-2{top:5px;background:url(../img/my/water-2.svg) repeat-x;background-size:600px;-webkit-animation:wave-animation-2 6s infinite linear;animation:wave-animation-2 6s infinite linear}
.home-autograph_box{height:30px;line-height:30px;padding:5px 0;background-color:#fff;position:relative;overflow:hidden;padding-right:90px}
.home-autograph{font-size:14px;padding:0 9pt;overflow:hidden;text-overflow:ellipsis}
.home-autograph_right{position:absolute;top:5px;right:5px}
.home-new-list_haodian{background:#f5bb34;color:#f5bb34}
.home-new-list_forum,.home-new-list_haodian{float:left;height:9px;line-height:9px;font-size:9px;width:9px;border-radius:50%;margin-top:6px;margin-right:10px}
.home-new-list_forum{background:#3dc6a6;color:#3dc6a6}
.home-new-list_sort{background:#ee774b;color:#ee774b}
.home-new-list_activity,.home-new-list_sort{float:left;height:9px;line-height:9px;font-size:9px;width:9px;border-radius:50%;margin-top:6px;margin-right:10px}
.home-new-list_activity{background:#53b442;color:#53b442}
.home-new-list_fl{float:left;height:9px;line-height:9px;font-size:9px;width:9px;border-radius:50%;background:#8c4b98;color:#8c4b98;margin-top:6px;margin-right:10px}
.component{position:relative;overflow:hidden}
#branding{position:relative;background:#eee;border-radius:2px;margin:10px 10px 0}
.branding-l{margin-right:75pt;height:36px;line-height:36px;padding:0 10px}
.branding-r{position:absolute;right:0;top:0}
.module .bm_c{line-height:28px}
.module .avatar{position:absolute;left:0;top:7px;display:block;width:58px;height:58px;border-radius:3px}
.module .avatar img{width:58px;height:58px;border:2px solid #f3f3f3;border-radius:3px}
.module tr th{background:#f4f4f4;padding:2px 5px;border-radius:0 3px 3px 0}
.module tr th.xw1{border-radius:3px 0 0 3px}
.dnone{display:none}
.thread .bm_c a{font-size:14px}
.thread .bm_c{position:relative;padding:7px 0;line-height:20px;padding-right:45px!important;border-bottom:1px dotted #dcdcdc}
.home-list-middle_icon{float:left;width:24.66666%;border-right:1px solid hsla(0,0%,93%,.5);position:relative}
.home-list-middle_img{height:2pc;margin:auto}
.home-list-middle_icon span{width:100%;float:left}
.home-list-middle_box{overflow:hidden;background:#fff;text-align:center;font-size:9pt;padding:10px 0}
.new-prompt{height:20px;width:20px;position:absolute;color:#fff;background-color:red;line-height:20px;border-radius:50%;top:-5px}
.remind{top:4px;right:20px}
.home-friend-left_table{width:25%;float:left;text-align:center}
.home-friend_number{display:block;font-size:28px;font-weight:400;line-height:38px}
.home-friend_number_text{color:#666;font-size:15px}
.home-friend_text{color:#888;font-size:14px;font-weight:100;display:block;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%}
.home-friend-c{height:45px;margin:5px 0;overflow:hidden}
.home-friend_imgbox{position:relative;overflow-y:hidden;overflow-x:scroll;height:50px;margin-top:5px}
.home-friend_imgbox ul{position:absolute;left:0;white-space:nowrap}
.home-friend_img{width:45px;display:inline-block;height:45px}
.home-friend_tittle{color:#666;font-size:15px;font-weight:700;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%}
.home-friend-right_table{width:65%;float:left;text-align:left}
.home-friend_box2{background-color:#fff;padding:15px 10px 15px 0;overflow:hidden;position:relative}
.home-friend_box2 .fa-angle-right{position:absolute;right:15px;top:15px;color:#999}
.home-new-list_text{font-size:1pc;color:#000}
.home-new-list{background-color:#fff;padding:9pt 15px;position:relative}
.home-new-list_level{margin-left:2px;background:#ffd00b;width:22px;padding:1px 5px;margin:1px 2px 0;border-radius:3px;font-size:9pt}
.home-new-list_level,.home-new-list_sex{height:14px;display:inline-block;line-height:14px;text-align:center;vertical-align:text-top;font-weight:700;color:#fff}
.home-new-list_sex{border:1px solid hsla(0,0%,100%,.5);width:14px;padding:1px;margin:0 2px;border-radius:3px;font-size:11px;background:hsla(0,0%,100%,.2)}
.home-new-list .fa-angle-right{position:absolute;right:15px;top:15px;color:#999}
.home-list_right{height:15px;margin:4px 0 0 6px;float:right}
.home-new-theme a{width:33.3%}
.home-new-theme p{border-right:1px solid #eee}
.home_card .water{bottom:0}
.home-new-list-top{margin:20px;height:5pc;position:relative}
.home-new-list-table{width:33%;display:table-cell;text-align:center;border-right:1px solid hsla(0,0%,100%,.15)}
.home-new-list-table2{display:table;width:100%;padding-bottom:25px}
.home-new-list-number{display:block;font-size:20px;font-weight:400;line-height:1.2}
.home-new-list-text{color:#fff;font-size:14px;font-weight:100}