.top_f{margin-top:7px;height:8px;background-color:#f4f4f4}
.weui-popup-container{z-index:1002}
.modal-content{background-color:#fff}
.content-c{min-height:400px;overflow:hidden;-webkit-user-select:none}
.contanr-empty{margin:50px;text-align:center;color:#999;font-size:13px}
.top-avatar{position:absolute;top:15px;right:15px;height:60px;width:60px}
.top-avatar img{height:60px;width:60px;background:#fff;padding:3px;border-radius:50%}
.mainslide{position:relative}
.commentlist li{padding:15px 15px 16px 15px}
.pointTop{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:transparent transparent #F8F8F8;border-image:none;border-style:solid;border-width:6px;height:0;left:10px;position:absolute;top:-12px;width:0}
.LImg{width:40px;height:40px;border-radius:50%;overflow:hidden;float:left;margin-right:10px}
.LImg img{width:100%}
.Ldate h4{font-size:16px;font-weight:400;line-height:20px;margin-bottom:5px;color:#666}
.Ldate h4 em{font-size:14px;font-weight:400;line-height:20px;margin-bottom:5px;color:#ec6c53}
.Llocation{float:right;color:#EC6E55;font-size:13px}
.detaiLcon{margin:0 0 0 50px}
.detaiLcon p{color:#6A6C6C;font-size:14px;margin-bottom:10px;word-break:break-all;-webkit-user-select:initial}
.detaiLcon p a{color:#3e86ce;display:inline-block;margin:0 3px}
.detaiLcon p a:active{background:#3e86ce;color:#FFF}
.detaiLcon p a:first-child{margin-left:0}
.detaiimg{margin-right:0;overflow:hidden}
.detaiimg span{width:32%;display:inline-block}
.detaiimg span:nth-child(3n){margin-right:0}
.detaiimg img{width:100%;height:85px}
.detaiimg_big span{width:130px}
.address{height:22px;line-height:22px;margin-top:5px;position:relative}
.site{color:#8e8e8e;font-size:12px;float:left;height:22px;line-height:22px;overflow:hidden}
.site .fa{padding-right:3px}
.site-del{margin-left:5px;color:#3e86ce}
.site .pipe{color:#DDD;padding:0 5px}
.detapl{width:24px;position:absolute;top:-8px;height:18px;right:-15px;padding:10px 15px 10px 5px;z-index:1;background:url(../img/quan/detapl.png) no-repeat 5px 10px;background-size:24px 14px}
.Llike{margin-top:10px;height:32px;overflow:hidden}
.pl-like{background-color:#F8F8F8;float:left;padding:4px 0;font-size:10px;width:32px;height:24px;line-height:12px;text-align:center;color:#898989;margin:0 5px 0 0;border-radius:16px}
.pl-like em{display:block;font-size:12px}
.like-pic{float:left;margin:0 2px 0 0;width:32px}
.like-pic img{border-radius:32px;width:100%}
.plcon{background-color:#F8F8F8;border-radius:2px;font-size:12px;padding:5px 0;position:relative;margin-top:10px;animation:3s;-webkit-animation:3s}
.pl_line .replyb{padding:2px 10px;color:#666}
.pl_line .replyb:active{background:#EDEDED}
.pl_line .answer{line-height:16px}
.pl_line .answer .nm{color:#EC6E55}
.pl_line .answer .mg em{color:#EC6E55}
.whole{position:absolute;right:30px;top:-8px;background-color:#555656;border-radius:3px;display:none;-webkit-animation-duration:.2s;animation-duration:.2s}
.whole span{color:#fff;float:left;font-size:13px;padding:8px 15px;border-radius:3px}
.whole span a{color:#fff;display:block}
.whole span:active{background:#333}
.whole span i{padding-right:5px}
.whole.open{display:block}
.select-cat .fa{padding-right:10px}
.top-avatar{z-index:1}
.top-avatar em{display:block;width:0;height:0;border:6px solid transparent;border-bottom:6px solid #FFF;font-size:0;box-sizing:content-box;color:#fff;line-height:30px;position:absolute;left:50%;margin-left:-3px;bottom:-15px}
.ftopic-list ul{margin:0 15px}
.ftopic-list li{display:block}
.ftopic-list li a{position:relative;display:block;color:#3e86ce;padding:15px 0;height:18px;line-height:18px;overflow:hidden}
.ftopic-list li a span{display:block;margin-right:30px;height:18px;overflow:hidden;font-size:14px}
.ftopic-list li a em{position:absolute;right:0;top:15px;color:#AAA;font-size:13px}
.ftopic-list li a:active span{background:#3e86ce;color:#FFF;float:left}
.weui_py_commnet .weui_cells:after,.weui_py_commnet .weui_cells:before{border:none}
.weui_py_commnet .weui_cells{margin-top:10px}
.big_video{width:100%;height:140px;border:0;z-index:-1}
.sm_video{width:100%;height:100%;z-index:-1}
