.showNavApp{position:static;display:block;margin-bottom:40px;padding:0 0}
.showNavApp ul{display:block;border-radius:0;background:0 0;padding:0}
.nav_APPa ul li{width:25%}
.nav_APPa a{color:#333}
.nav_APPa .s{width:42px;height:42px;border-radius:16px;background-position:8px 8px;margin-left:-21px}
.viewport{position:relative;overflow:hidden}
.viewport #nav_Node{height:130px}
.viewport #scroller{position:absolute;-webkit-tap-highlight-color:transparent;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none}
.viewport #scroller .slidea{float:left}
.viewport #indicator2{position:absolute;height:6px;bottom:5px;left:50%;z-index:2;background:url(../img/indicator2_c.png) repeat-x 0 0;background-size:11px 9px}
.viewport #dotty{position:absolute;width:6px;height:6px;border-radius:6px;background:#ec6c53}
.icon_list{width:100%}
.icon_list ul{width:96%;margin-left:2%}
.icon_list ul li{width:20%;float:left;text-align:center;margin-top:10px}
.icon_list ul li img{width:40px;height:40px}
.icon_list ul li p{width:100%;height:20px;font-size:14px;overflow:hidden;color:#585858}
.smart-index-notice{padding:5px;background:#fff;border-bottom:1px solid #eee}
.smart-index-notice .smart-notice{width:100%;overflow:hidden}
.smart-index-notice .weui-col-75{width:75%}
.smart-index-notice .swiper-container{height:25px;line-height:25px;padding-top:5px}
.smart-index-notice .swiper-container li{line-height:25px;font-size:14px;word-break:break-all;height:25px;overflow:hidden;color:#000}
.smart-index-notice a{color:#000}
.smart-index-notice .swiper-container em{color:#ec6c53;width:100%;font-style:normal}
.smart-index-notice .notice-btn{height:25px;line-height:25px;text-align:center;width:100%;display:block;color:#000;padding-top:3px;font-size:16px}
.body_1,.body_2,.body_3,.body_4,.body_5,.body_6{display:none}
.body_1.cur,.body_2.cur,.body_3.cur,.body_4.cur,.body_5.cur,.body_6.cur{display:block}
.list_info{width:100%;overflow:hidden;font-size:13px;height:20px;color:#999}
.no_pic{width:80px;height:60px;color:#fff;padding:18px 20px 18px 20px;font-size:24px}
.weui_panel_bd{width:95%}
.weui_media_bd i{color:#ec6c53}
.tab_menu{background-color:#fff}
.tab_menu .tab{display:-webkit-box;display:-moz-box;display:box;border-bottom:1px solid #f0f0f0}
.tab_menu .tab li{width:100%;-webkit-box-flex:1;-webkit-flex:1;flex:1;padding:9px 0}
.tab_menu .tab li a{overflow:hidden;display:block;text-align:center;height:25px;line-height:25px;position:relative;border-left:1px solid #eee;color:#666}
.tab_menu .tab li a s{display:none}
.tab_menu .tab li:first-child a{border-left:0 none}
.tab_menu .tab li a em,.tab_menu .tab li a em:after{vertical-align:-3px;margin-left:5px;display:inline-block;border-color:#adadad transparent transparent transparent;border-width:6px;border-style:solid;transition:transform .3s ease;-webkit-transition:-webkit-transform .3s ease;transform-origin:50% 25% 0;-webkit-transform-origin:50% 25% 0;position:relative;z-index:1}
.tab_menu .tab li a em:after{content:' ';border-color:#fff transparent transparent transparent;position:absolute;margin:-8px 0 0 -6px}
.tab_menu_body{width:100%;height:auto;position:fixed;top:85px;left:0;z-index:9999}
.tab_menu_body ul li{width:100%;height:40px;line-height:40px;background-color:rgba(255,255,255,1);border-bottom:1px solid #f0f0f0;padding-left:15px;color:#000}
.shop_title{margin:0 auto;line-height:30px;font-size:20px;padding:5px}
.weui_cells .a,.weui_cells p{color:#999;font-size:16px}
.weui_cell_ft{font-size:12px}
.weui_cell_ft i{font-size:18px;color:#ec6c53}
.weui_cell_bd p{width:99%;overflow:hidden;white-space:nowrap}
.weui_cells{margin-top:1px}
.weui_cells:before{border-top:0}
.huodong_list{background-color:#fff}
.huodong_list li{border-bottom:1px solid #f2f2f2;padding:10px 10px 9px;position:relative;z-index:1;overflow:hidden}
.huodong_list li .pic{position:relative;z-index:1;overflow:hidden}
.huodong_list li .pic img{display:block;width:100%}
.huodong_list li h3{height:auto;line-height:24px;color:#000;overflow:hidden;font-weight:400;margin:8px 0 3px;position:relative;z-index:1;width:100%}
.huodong_list li h3 .bao{display:block;position:absolute;right:0;top:0;font-size:12px;color:#aaa;background-color:#fff;padding-left:0}
.huodong_list li .info{line-height:24px;height:24px;font-size:14px;overflow:hidden;color:#aaa}
.huodong_list li .address,.huodong_list li .time{font-size:12px;color:#999}
.huodong_list li .time{float:right;width:30%;overflow:hidden;height:20px}
.huodong_list li .address{float:left;width:65%;overflow:hidden;height:20px}
.business2 sup,.huodong_list .pic sup{border-radius:5px;position:absolute;z-index:2;font-size:12px;color:#fff;top:-2px;right:-8px;padding:2px 10px;height:18px;line-height:18px;-webkit-transform:skew(207deg);padding-right:12px;border:2px solid #fff}
.huodong_list .pic sup{top:-2px;border-radius:0}
.huodong_list li:first-child .pic sup{top:-2px}
.business2 sup:before,.huodong_list .pic sup:before{content:'';display:block;-webkit-transform:skew(-207deg)}
.huodong_list .pic sup.bm1{background:#39f;z-index:1}
.huodong_list .pic sup.bm1:before{content:'报名中'}
.huodong_list .pic sup.bm2{background:#ec6c53;z-index:2}
.huodong_list .pic sup.bm2:before{content:'进行中'}
.huodong_list .pic sup.bm3{background:#999;z-index:3}
.huodong_list .pic sup.bm3:before{content:'已结束'}
.view_cmt{background-color:#fbf9f9;color:#ec6c53;height:50px;line-height:50px;text-align:center}
.view_cmt em,.view_cmt em:after{vertical-align:-3px;margin-left:5px;display:inline-block;border-color:#ec6c53 transparent transparent transparent;border-width:6px;border-style:solid;transition:transform .3s ease;-webkit-transition:-webkit-transform .3s ease;transform-origin:50% 25% 0;-webkit-transform-origin:50% 25% 0;position:relative;z-index:1}
.view_cmt.current em{border-color:#ec6c53 transparent transparent transparent;transform:rotateZ(180deg);-webkit-transform:rotateZ(180deg);transition:transform .3s ease;-webkit-transition:-webkit-transform .3s ease;transform-origin:50% 25% 0;-webkit-transform-origin:50% 25% 0}