.so{margin:10px;position:relative}
.so button{border:0}
.so img{width:100%;display:block}
.form-search{-webkit-appearance:none;height:36px;border-radius:2px;border:1px solid #f5f5f5;box-shadow:none;padding:18px 5px;font-size:16px;line-height:18px;vertical-align:middle;margin:0;font-family:inherit;color:#99A6B4;width:100%;padding-left:20px;resize:none;outline:0;background-size:18px 18px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.form-clear{display:none;position:absolute;right:51px;top:1px;width:35px;height:35px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABMUlEQVRIS63WQQ6CMBAAQBpI9O7ZD+gv9APe9c6B+BtIeIDe9QH6GD37ABOgbokQKNt2l5aTAelkl91uRVmWmyiK9nVd37Ise8PvYFdRFOs4jg+w4EMAdJZSroQQX8AuoTCFJElybJpmCWt/xF89AbYIhWlIG4BQeQqJYYjKUguFwkyIWr+HfDEbMoHmYi4EhbgYBTFCVExHoGqvaZq+sEYcfSP9D7Zq5CDWiGzVqJ5Bx/e9Z4ukW8cakQlT97sGpyCkiDCsfRG2LCriDXH2Ru/UUTEnpFeeSldVVXJYDBSMVd7Db8LdiI0QFonejBwMhSgId9efQByEg1nHBKdPXGk0Dj4OQokMHeVzEBc2OZz4IDZsdNwKgRiwj8jzfAvnrx0gd9PQwgYZ5V53gISd5PkD2tTtJS95VDgAAAAASUVORK5CYII=) no-repeat center center;background-size:16px 16px}
.form114submit{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAARVBMVEUAAACorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrOorrN7fvQJAAAAFnRSTlMA5zLGv4IcCe0rED/690uYktucm4d4lbUvlgAAANNJREFUKM99klmOxCAMBW3MFgiQ9PLuf9SJMg0tQpr6QLLKgLGhymI0rytrs9CVqNHQsVOuAH7LlsjmjYHiqBEEybTYvRMktEiwdxctO6TmFuyWOuyOx6cWpKHAJeG/KoGhAQM5k+DDKIOHOnM2umE7z9PIdzJDHyvD3kkLPtYVju7AOpXzY+cFzZ+iZk0gwWuUL0htvLo6VRtPBXwdGeP5HTarbh8DqvsmoUXvBIDbjN0T8CVb52wuHnhE3+xBFDQkEqnOkqqfWh1BsyPVavptdfgDoAEMIEt7GboAAAAASUVORK5CYII=) no-repeat center center;position:absolute;right:1px;top:1px;width:35px;height:35px;background-size:16px 16px}
.form-group{margin-bottom:15px;position:relative;overflow:hidden}
.form-group:last-child{margin-bottom:0}
.form-control{;display:block;width:100%;height:45px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#99a6b4;background-color:#fff;border-radius:2px;border:1px solid #FAFAFA;box-shadow:none;resize:none;outline:0}
textarea.form-control{height:90px;outline:0}
.form-control:focus{background-color:#E5F2FF;border-color:#66AFE9;outline:0}
.form-control-top{border-bottom-color:#fff;border-radius:2px 2px 0 0!important}
.form-control-bottom{border-radius:0 0 2px 2px}
.form-control-middle{border-radius:0;border-bottom-color:#fff}
.showNavApp{position:static;display:block;margin-bottom:40px;padding:0 0}
.showNavApp ul{display:block;border-radius:0;background:0 0;padding:0}
.nav_APPa ul li{width:25%}
.nav_APPa a{color:#333}
.nav_APPa .s{width:42px;height:42px;border-radius:16px;background-position:8px 8px;margin-left:-21px}
.viewport{position:relative;overflow:hidden}
.viewport #nav_Node{height:130px}
.viewport #scroller{position:absolute;-webkit-tap-highlight-color:transparent;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none}
.viewport #scroller .slidea{float:left}
.viewport #indicator2{position:absolute;height:6px;bottom:5px;left:50%;z-index:2;background:url(../img/indicator2_c.png) repeat-x 0 0;background-size:11px 9px}
.viewport #dotty{position:absolute;width:6px;height:6px;border-radius:6px;background:#ec6c53}
.icon_list{width:100%}
.icon_list ul{width:96%;margin-left:2%}
.icon_list ul li{width:20%;float:left;text-align:center;margin-top:10px}
.icon_list ul li img{width:40px;height:40px}
.icon_list ul li p{width:100%;height:20px;font-size:14px;overflow:hidden;color:#585858}
.nav-list-head{padding:10px 5px;font-size:14px;color:grey}
.nav-list-head i{font-size:14px!important;position:relative}
.nav-list-far{background:url(../img/tel/bg.png) no-repeat right bottom;background-size:270px auto;border-bottom:1px solid #FAFAFA}
.nav-list-far ul{width:98%;margin-left:1%}
.nav-list-far ul li{float:left;margin-bottom:10px;text-align:center;width:16.6%}
.nav-list-far ul li a{display:block;position:relative}
.nav-list-far ul li img{width:35px;height:35px;border-radius:50%;text-align:center}
.nav-list-far ul li p{font-size:12px;color:grey;line-height:25px;width:95%;text-align:center;overflow:hidden;height:25px}
.tel_list{width:100%;margin:0 auto}
.tel_list ul{width:98%;margin-left:1%}
.tel_list ul li{margin-top:5px;border-bottom:1px dashed #f1efef;padding-bottom:5px}
.tel_list_l{width:85%;float:left}
.tel_list_r{width:15%;float:left;text-align:center}
.tel_list_title{font-size:16px;color:#ec6c53;width:91%;line-height:35px;overflow:hidden;white-space:nowrap}
.tel_list_add{font-size:12px;color:grey;width:90%;padding-left:3px}
.tel_list_r img{width:40px;height:40px;margin-top:10px}
.info_list{background:#eee}
.info_list li{zoom:1;overflow:hidden;font-size:12px;padding:10px;position:relative;margin-bottom:6px;background:#fff}
.info_list .pageNav2{border-top:1px solid #eee;background:#fff}
.info_list .pic{width:60px;overflow:hidden;float:left;border:1px solid #eee}
.info_list .pic img{height:60px}
.info_list .con{padding-left:5px;font-size:12px}
.info_list h3{font-size:16px;line-height:20px;color:#333;font-weight:400}
.info_list p{color:#999;width:80%;line-height:17px}
.info_list .tel{width:35px;height:35px;top:100%;right:10px;margin-top:-55px;background:url(../img/tel/tel.png) no-repeat;position:absolute;background-size:35px auto;text-indent:-999px;overflow:hidden}
.info_list .erweima{width:35px;height:35px;top:100%;right:60px;margin-top:-55px;background:url(../img/tel/erweima.png) no-repeat;position:absolute;background-size:35px auto;text-indent:-999px;overflow:hidden}
.about_info .more,.con_wxbox .more,.convert_list .more,.info_list .more,.jf_list .more,.vit_list .more,.vit_rank_list .more{text-align:center;font-size:16px;line-height:40px}
.about_info .more a,.con_wxbox .more a,.convert_list .more a,.info_list .more a,.jf_list .more a,.vit_list .more a,.vit_rank_list .more a{color:#333}
.info_list a{display:block}
.bg_zhiding{display:inline-block;border:1px solid #ec6c53!important;color:#fff!important;background:#ec6c53!important;margin-right:5px;font-size:9px;line-height:18px;height:16px;vertical-align:middle;border-radius:2px;padding:0 3px;vertical-align:top}
.ui-item{margin:5px 5px 13px}
.ui-item .item-title{background:rgba(0,0,0,.05);border:1px solid #dcdcdc;border-radius:3px;height:42px;overflow:hidden;padding:0 15px 0 10px;position:relative;z-index:9}
.ui-item .item-title h3{float:left;font-size:18px;font-weight:400;line-height:41px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:90%}
.ui-item .item-title .mod-arrow{float:right;opacity:.3}
.ui-item .item-title .arrow-up{margin-top:10px;transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg)}
.ui-item .item-title .arrow-down{margin-top:10px}
.ui-item .cont-area{font-size:14px;background:none repeat scroll 0 0 #fff;border:1px solid #d2d2d2;border-radius:0 0 3px 3px;line-height:1.6em;margin-top:-1px;padding:12px 10px 10px;position:relative;word-break:break-all;word-wrap:break-word;z-index:8}
.ui-item .cont-area p{margin:5px}