.game_girl,.game_recommend{background-color:#fff;margin-top:0}
.game_tit{padding:10px;position:relative}
.game_tit .game_tit_l{font-size:14px;margin-left:32px}
.game_tit .game_tit_tv{font-size:14px}
.game_tit .game_tit_r{font-size:11px;background-color:#f66;color:#fff;padding:1px 8px;border-radius:0 2px 2px 0;position:absolute;top:12px;left:0}
.game_tit a{float:right;color:#999;padding-top:4px}
.game_nav li{width:50%}
.gezi a span{height:18px;overflow:hidden;font-size:12px;line-height:18px;color:#666;width:80%;margin:auto;text-overflow:ellipsis}
.text_left{text-align:left!important}
.text_right{text-align:right!important}
.gezi{background-color:#fff}
.gezi li{float:left;width:25%;text-align:center;background-repeat:repeat-x;background-position:0 bottom;background-size:auto 1px;position:relative}
.gezi li a,.gezi li span{display:block}
.zhibo_title{overflow:hidden;white-space:nowrap}
.gezi li a{background-repeat:repeat-y;background-position:right 0;background-size:auto 1px;padding:10px 0}
.gezi li:nth-child(12) a,.gezi li:nth-child(16) a,.gezi li:nth-child(4) a,.gezi li:nth-child(8) a{background:0 0}
.gezi li:focus{background-color:#DDD}
.game_nav_center{text-align:center}
.game_nav_right{text-align:right}
.all-content{margin-bottom:78px}
.game_nav{background-color:#fff}
.gezi a img{width:50px;margin:auto;border-radius:0;border:0 solid #eee}
.zhibo_tab{height:44px;line-height:44px;background:#333;padding-right:15%;width:85%;float:left}
.zhibo_tab ul{display:-webkit-box}
.zhibo_tab li{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;display:block;text-align:center}
.zhibo_tab a{color:#DDD;display:inline-block;font-size:14px}
.zhibo_tab a em{display:none;top:5px;right:-22px;height:16px;line-height:16px;border-radius:3px;background:#ec6c53;color:#fff;font-size:11px;padding:0 3px;font-weight:400}
.zhibo_tab li.cur a{color:#ec6c53;height:39px;border-bottom:2px solid #ec6c53;font-weight:700}
.zhibo_tab .guanzhu{position:relative;top:-45px;left:53px;float:right;width:58px;height:38px;padding:3px 0;text-align:center;background:#ec6c53;color:#fff;font-size:11px}
.zhibo_tab .guanzhu p{height:16px;line-height:20px;font-size:12px}
.zhibo_tab .guanzhu p.gznum{font-size:12px}
.zhibo_body{margin:0 auto;width:100%}
.body_1,.body_2,.body_3{display:none}
.body_1.cur,.body_2.cur,.body_3.cur{display:block}
.bottom_panel{background-color:#fff;height:62px;width:100%;z-index:1;-webkit-user-select:none;position:fixed;bottom:0;left:0}
.zhibo_tab li span{color:#ddd;font-size:14px}
.m-box{background-color:#fff;margin:auto;width:100%;padding-bottom:0}
.f-mb-0{margin-bottom:0}
.container a{color:#000}
.container{width:100%;padding:0}
.m-gamelist-y .item{clear:both;line-height:150%;width:93%;margin:0 auto;padding:3% 0;display:table}
.m-game-start-div{position:relative;width:100%;overflow:hidden}
.m-gamelist-y .num{line-height:30px;padding:0 10px 0 0}
.text p{font-size:12px;line-height:20px;margin:0}
.text-one{color:red}
.text-two{color:#f63}
.text-three{color:#fc0}
.f-fl{float:left}
.game .text-title{font-size:15px;line-height:25px;color:#ec6c53}
.game img{float:left;max-width:40px;margin-right:12px;border-radius:5px}
.text-gray{color:#8d8d8d;width:180px;overflow:hidden;height:20px}
.m-game-start{right:0;top:6px;position:absolute;color:#8d8d8d}
.btn-open{width:58px;height:28px;line-height:28px;display:inline-block;text-align:center;border-radius:5px;font-size:12px}
.btn-open:after,.btn_continue:after,.order_btn_my:after{content:" ";width:200%;height:200%;position:absolute;top:0;left:0;border:1px solid #8d8d8d;-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 0;transform-origin:0 0;box-sizing:border-box;border-radius:10px}
