.video_play{width:100%;margin:0 auto;height:180px}
.video_play iframe{width:100%;margin:0 auto;height:180px}
.zhibo_tab{height:44px;line-height:44px;background:#333;padding-right:15%;width:85%;float:left}
.zhibo_tab ul{display:-webkit-box}
.zhibo_tab li{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;display:block;text-align:center}
.zhibo_tab a{color:#DDD;display:inline-block;font-size:14px}
.zhibo_tab a em{display:none;top:5px;right:-22px;height:16px;line-height:16px;border-radius:3px;background:#ec6c53;color:#fff;font-size:11px;padding:0 3px;font-weight:400}
.zhibo_tab li.cur a{color:#ec6c53;height:39px;border-bottom:2px solid #ec6c53;font-weight:700}
.zhibo_tab .guanzhu{position:relative;top:-45px;left:53px;float:right;width:58px;height:38px;padding:3px 0;text-align:center;background:#ec6c53;color:#fff;font-size:11px}
.zhibo_tab .guanzhu p{height:16px;line-height:20px;font-size:12px}
.zhibo_tab .guanzhu p.gznum{font-size:12px}
.zhibo_body{margin:0 auto;width:100%}
.body_1,.body_2,.body_3{display:none}
.body_1.cur,.body_2.cur,.body_3.cur{display:block}
.body_1,.body_2{padding:5px}
.bottom_panel{background-color:#fff;height:62px;width:100%;z-index:1;-webkit-user-select:none;position:fixed;bottom:0;left:0}
.bottom_panel_c{position:relative;padding:10px 0;height:42px}
.bottom_btn{position:absolute;bottom:10px;left:10px;width:42px;height:42px;line-height:42px;text-align:center;color:#ec6c53}
.bottom_btn:after{content:" ";width:200%;height:200%;position:absolute;top:0;left:0;border:1px solid #e5e5e5;-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 0;transform-origin:0 0;box-sizing:border-box;border-radius:50%;background-color:#F8F8F8;z-index:-1}
.bottom_btn span{font-size:20px;height:42px;width:42px}
.bottom_btn em{position:absolute;background-color:#ec6c53;font-size:10px;color:#fff;left:14px;height:16px;width:30px;line-height:16px;top:-6px;border-radius:2px}
.bottom_btn.gift{right:10px;left:auto}
.bottom_table{margin:0 65px;position:relative}
.bottom_table .table_input{width:100%;padding:0 20px;height:42px;background-color:rgba(250,250,250,.95);-moz-box-sizing:border-box;box-sizing:border-box;border-radius:21px;line-height:42px;color:#999;font-size:16px}
.bottom_table .table_input:after{content:" ";width:200%;height:200%;position:absolute;top:0;left:0;border:1px solid #e5e5e5;-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 0;transform-origin:0 0;box-sizing:border-box;border-radius:42px}
.bottom_table input{-webkit-appearance:none;display:block;width:100%;color:#666;height:20px;line-height:20px;box-shadow:none;font-size:16px;background:0 0;border:none}
.t-windows{height:100%;width:100%;background-color:rgba(0,0,0,1);opacity:0;visibility:hidden;-webkit-transition:opacity .3s 0s,visibility 0s .3s;-moz-transition:opacity .3s 0s,visibility 0s .3s;transition:opacity .3s 0s,visibility 0s .3s;z-index:9999}
.t-windows.is-visible{opacity:1;visibility:visible;-webkit-transition:opacity .3s 0s,visibility 0s 0s;-moz-transition:opacity .3s 0s,visibility 0s 0s;transition:opacity .3s 0s,visibility 0s 0s}
.t-windows-container{position:fixed;bottom:0;left:0;width:100%;margin:0 auto;height:70px;background-color:rgba(255,255,255,1);text-align:center;box-shadow:0 0 20px rgba(0,0,0,.2);z-index:99999;-webkit-transform:translateY(60px);-moz-transform:translateY(60px);-ms-transform:translateY(60px);-o-transform:translateY(60px);transform:translateY(60px);-webkit-backface-visibility:hidden;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;transition-property:transform;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-ms-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
.is-visible .t-windows-container{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
.t-windows-close{color:#ec6c53}
.channel_desc{padding:15px;font-size:15px;line-height:26px}
.channel_desc *{max-width:100%}
.comment_panel{background-color:#fff;height:62px;width:100%;z-index:2}
.comment_panel_c{position:relative;padding:10px 0;height:42px}
.comment_btn{position:absolute;bottom:10px;left:0;width:42px;height:42px;line-height:42px;text-align:center;color:#ec6c53;border-radius:50%}
.comment_btn span{font-size:20px}
.comment_btn.btn{right:10px;left:auto;padding:0 5px;background:#ec6c53;border-radius:21px;color:#fff}
.comment_btn.btn span{font-size:15px}
.comment_table{margin:0 75px 0 42px;position:relative}
.comment_table .table_input{width:100%;padding:10px;height:42px;border:1px solid #eee;background-color:rgba(250,250,250,.95);-moz-box-sizing:border-box;box-sizing:border-box;border-radius:21px}
.comment_table input{-webkit-appearance:none;display:block;width:100%;color:#666;height:20px;line-height:20px;box-shadow:none;font-size:16px;background:0 0;border:none}
.vod_list{padding:3px;height:138px;float:left}
.vod_list img{width:100%}
.vod_list span{position:relative;top:-34px;left:0;line-height:25px;background:rgba(0,0,0,.25);color:#e9e8e8;width:100%;height:25px;display:inline-block;text-indent:6px;font-size:12px}
.vod_list p{position:relative;top:-30px;left:0;width:100%;overflow:hidden}
.vod_list a{color:#000}
.vod_list_title{width:100%;height:20px;}

.tt-first {
	height: 32px;
	line-height: 32px;
	background: #fff;
	font-size: 14px;
	margin: 4px 0 0;
	position: relative;
	overflow: hidden;
	box-shadow: 0 -1px 0 #ECECEC inset
}
.tt-first-no-bd {
	border-bottom: 0;
	margin-bottom: -5px;
	box-shadow: none
}

.tt-first h3 {
	color: #ec6c53;
	padding: 0 0 0 10px;
	font-weight:normal;
	float: left
}

.tt-first .opt-more {
	position: absolute;
	right: 15px;
	bottom: -12px;
	font-size: 14px;
}

.tt-first .opt-more a {
	background: url(../img/vod/ico_arrow_right.png) no-repeat right center;
	background-size: 6px 11px;
	color: #598bdd;
	padding-right: 11px;
	display: block;
	line-height: 55px;
	vertical-align: middle
}

.tt-first .opt-more-gray a {
	color: #666;
	font-size: 14px;
}

.pic-txt {
	overflow: hidden;
	padding: 0 8px 8px;
	background: #fff
}

.pic-txt li {
	float: left;
	width: 50%;
	margin: 10px 0 0
}

.pic-txt li a {
	display: block
}

.pic-txt li:nth-child(odd) a {
	margin-right: 5px
}

.pic-txt li:nth-child(even) a {
	margin-left: 5px
}

.pic-txt li img {
	display: block;
	width: 100%;
	height:85px;
}

.pic-txt li p {
	font-size: 16px;
	line-height: 20px;
	margin: 9px 0 0;
	color:#000;
}

.pic-txt li em {
	font-size: 12px;
	color: #B7B7B7;
	display: block;
	margin: 8px 0 0;
	height: 18px;
	overflow: hidden
}
.pic-txt-video li a {
	margin: 0 auto
}

.pic-txt-video li span {
	display: block;
	position: relative;
	overflow: hidden
}

.pic-txt-video li span i {
	width: 20px;
	height: 20px;
	background: url(../img/vod/m_ico_video_w.png) no-repeat;
	background-size: 20px 20px;
	position: absolute;
	left: 5px;
	bottom: 5px
}

.pic-txt-video li p {
	height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-overflow: -o-ellipsis-lastline;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 3px
}

.pic-txt-video li em {
	margin-top: 5px
}

.pic-txt-video li em i {
	background: url(../img/vod/ico_video_num.png) no-repeat left center;
	background-size: 8px 10px;
	padding: 0 0 0 13px;
	margin-right: 15px
}

.pic-txt-video li em i.time {
	background: url(../img/vod/ico_video_time.png) no-repeat left center;
	background-size: 12px 12px;
	padding-left: 17px
}
.pic-txt-video li em i.pinglun {
	background: url(../img/vod/ico_comment.png) no-repeat left center;
	background-size: 12px 12px;
	padding-left: 17px
}
