.view_cmt{background-color:#fbf9f9;color:#ec6c53;height:50px;line-height:50px;text-align:center}
.view_cmt em,.view_cmt em:after{vertical-align:-3px;margin-left:5px;display:inline-block;border-color:#ec6c53 transparent transparent transparent;border-width:6px;border-style:solid;transition:transform .3s ease;-webkit-transition:-webkit-transform .3s ease;transform-origin:50% 25% 0;-webkit-transform-origin:50% 25% 0;position:relative;z-index:1}
.view_cmt.current em{border-color:#ec6c53 transparent transparent transparent;transform:rotateZ(180deg);-webkit-transform:rotateZ(180deg);transition:transform .3s ease;-webkit-transition:-webkit-transform .3s ease;transform-origin:50% 25% 0;-webkit-transform-origin:50% 25% 0}
.footFixed,.reply_box{background:#fff;position:fixed;width:100%;bottom:0;left:0;z-index:99;padding:0}
.blackk .reply_hd{background-color:#fff}
.reply_hd a{color:#999;}
.blackk .reply_hd .btn{color:#fff}
.blackk .reply_hd .btn:before{background-position:-39px -89px}
.reply_hd .baoming,.reply_hd .btn{display:block;background-color:#ec6c53;color:#fff}
.reply_hd .baoming{background-color:#15d2b2}
.reply_hd .replay_louzhu{background-color:#2fe5ce}
.reply_hd .baoming:before,.reply_hd .btn:before,.reply_hd .num:before,.reply_hd .share:before,.reply_hd .zan:before{background:url(../img/vr/video_sp.png) no-repeat 0 0;background-size:70px auto}
.reply_hd{padding:0;height:40px;line-height:40px;overflow:hidden;font-size:14px;color:#999;background-color:#fff;box-shadow:0 -1px 2px rgba(0,0,0,.1)}
.reply_hd ul{display:-webkit-box;display:-moz-box;display:box}
.reply_hd ul li{width:100%;-webkit-box-flex:1;-webkit-flex:1;flex:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;position:relative}
.reply_hd ul .p20{width:20%}
.reply_hd ul .p30{width:30%}
.reply_hd ul .p40{width:40%}
.reply_hd .baoming:before,.reply_hd .btn:before,.reply_hd .num:before,.reply_hd .share:before,.reply_hd .zan:before{display:inline-block;vertical-align:-7px;overflow:hidden;content:' ';width:24px;height:24px;margin-right:6px}
.reply_hd .share{position:static;padding:0}
.reply_hd .share:before{background-position:-1px -24px}
.reply_hd .num:before{background-position:0 -57px}
.reply_hd .zan:before{background-position:-40px -56px}
.reply_hd .btn:before{background-position:-40px -89px}
.reply_hd .baoming:before{background-position:-40px -56px}
.module_01{margin:5px}
.module_01 .hd{border-bottom:1px solid #f2f0f0}
.module_01 .hd .tit{position:relative;z-index:1;display:inline-block;border-bottom:1px solid #ec6c53;margin-bottom:-1px;color:#ec6c53;padding:2px 3px}
.module_01 .hd .num{position:absolute;left:43px;font-size:12px;top:5px;color:#999}
.module_01 .bd{color:#858585;font-size:14px;padding:5px 0}

.tt-first {
	height: 32px;
	line-height: 32px;
	background: #fff;
	font-size: 14px;
	margin: 4px 0 0;
	position: relative;
	overflow: hidden;
	box-shadow: 0 -1px 0 #ECECEC inset
}
.tt-first-no-bd {
	border-bottom: 0;
	margin-bottom: -5px;
	box-shadow: none
}

.tt-first h3 {
	color: #ec6c53;
	padding: 0 0 0 10px;
	font-weight:normal;
	float: left
}

.tt-first .opt-more {
	position: absolute;
	right: 15px;
	bottom: -12px;
	font-size: 14px;
}

.tt-first .opt-more a {
	background: url(../img/vod/ico_arrow_right.png) no-repeat right center;
	background-size: 6px 11px;
	color: #598bdd;
	padding-right: 11px;
	display: block;
	line-height: 55px;
	vertical-align: middle
}

.tt-first .opt-more-gray a {
	color: #666;
	font-size: 14px;
}

.pic-txt {
	overflow: hidden;
	padding: 0 8px 8px;
	background: #fff
}

.pic-txt li {
	float: left;
	width: 50%;
	margin: 10px 0 0
}

.pic-txt li a {
	display: block
}

.pic-txt li:nth-child(odd) a {
	margin-right: 5px
}

.pic-txt li:nth-child(even) a {
	margin-left: 5px
}

.pic-txt li img {
	display: block;
	width: 100%;
	height:85px;
}

.pic-txt li p {
	font-size: 16px;
	line-height: 20px;
	margin: 9px 0 0;
	color:#000;
}

.pic-txt li em {
	font-size: 12px;
	color: #B7B7B7;
	display: block;
	margin: 8px 0 0;
	height: 18px;
	overflow: hidden
}
.pic-txt-video li a {
	margin: 0 auto
}

.pic-txt-video li span {
	display: block;
	position: relative;
	overflow: hidden
}

.pic-txt-video li span i {
	width: 20px;
	height: 20px;
	background: url(../img/vod/m_ico_video_w.png) no-repeat;
	background-size: 20px 20px;
	position: absolute;
	left: 5px;
	bottom: 5px
}

.pic-txt-video li p {
	height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-overflow: -o-ellipsis-lastline;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 3px
}

.pic-txt-video li em {
	margin-top: 5px
}

.pic-txt-video li em i {
	background: url(../img/vod/ico_video_num.png) no-repeat left center;
	background-size: 8px 10px;
	padding: 0 0 0 13px;
	margin-right: 15px
}

.pic-txt-video li em i.time {
	background: url(../img/vod/ico_video_time.png) no-repeat left center;
	background-size: 12px 12px;
	padding-left: 17px
}
.pic-txt-video li em i.pinglun {
	background: url(../img/vod/ico_comment.png) no-repeat left center;
	background-size: 12px 12px;
	padding-left: 17px
}