.xinxi_list{margin-top:0}
.xinxi_list li{position:relative;z-index:1;margin:6px;padding:15px 10px 10px;height:70px;border-radius:6px;background:#fff;line-height:20px}
.job_detail li{margin:0;padding:10px;border-radius:0}
.job_detail li .address{color:#999;font-size:14px}
.job_detail li .distance{color:#aaa;font-size:9pt}
.xinxi_list li:last-child{margin-bottom:0}
.xinxi_list h3{margin-bottom:6px;color:#000;font-weight:400;font-size:1pc}
.xinxi_list i{color:#ec6c53}
.xinxi_list .info{overflow:hidden;margin-bottom:6px;width:100%}
.padd_right3{padding-right:3px}
.padd_right5{padding-right:5px}
.xinxi_list .info em,.xinxi_list .price{display:inline-block;margin-left:5px;padding-left:5px;color:#999;vertical-align:middle;font-size:14px}
.xinxi_list .price{margin-left:0;padding-left:0;color:#ec6c53}
.xinxi_list dt{float:left}
.xinxi_list dd{float:right}
.xinxi_list .name,.xinxi_list .r_time{color:#999;font-size:9pt}
.xinxi_list .more{border-top:1px solid #eee;text-align:center;font-size:1pc;line-height:40px}
.xinxi_list .hot,.xinxi_list .new,.xinxi_list .urgent{display:inline-block;margin-left:5px;padding:0 4px;border-radius:2px;color:#fff;vertical-align:1px;font-size:9pt}
.xinxi_list .new{background-color:#78d050}
.xinxi_list .hot{background-color:#ec6c53}
.xinxi_list .urgent{background-color:#7bb5d0}
.xinxi_list li .po{position:absolute;top:0;right:0;font-size:9pt}
.xinxi_list li .po .display0{display:none}
.xinxi_list .renzheng,.xinxi_list .tui{display:inline-block;overflow:hidden;width:35px;height:35px;background:url(../img/xinxi/tuijian.png) no-repeat;background-size:35px auto;vertical-align:middle;text-indent:-999em}
.xinxi_list .renzheng{margin-left:6px;width:3pc;height:15px;background-position:-54px -975px;background-size:130px auto;vertical-align:-2px}
.xinxi_list .display0{display:none}
.xinxi_list_detail{background-color:#fff}
.xinxi_list_detail li{margin:0 10px;padding:9pt 0 10px;border-bottom:1px solid #eee;border-radius:0}
.xinxi_list_detail li:last-child{border-bottom:0 none}
.floatTel{width:100%;height:49px}
.floatTel dl{position:fixed;bottom:0;left:0;z-index:9999;display:table;width:100%;background:#fff;box-shadow:0 -2px 2px 0 rgba(0,0,0,.05);-webkit-user-select:none}
.floatTel dd,.floatTel dt{display:table-cell;vertical-align:middle}
.floatTel dt{padding-left:8px;font-size:9pt}
.floatTel .head{padding-top:4px;width:3pc}
.floatTel .head img{width:40px;height:40px;border-radius:20px}
.floatTel .info p{line-height:1.2}
.floatTel .info p:first-child{color:#83868f}
.floatTel .info p:last-child{margin-top:2px;color:#3c3f46}
.floatTel dd a{display:block;margin-right:1px;padding-top:10px;height:51px;background:#ec6c53;color:#fff;text-align:center;font-size:11px;line-height:1}
.floatTel dd{width:4pc;background:#fff}
.floatTel dd a i{display:block;margin:0 auto 6px;width:20px;height:20px;background:url(../img/xinxi/tel_icons.png) no-repeat;background-size:60px auto}
.floatTel dd a.tj-mes i{background-position:-20px 0}
.floatTel dd a.tj-yy i{background-position:-40px 0}
.floatTel dd:last-child a{margin-right:0}
.floatTel dd:only-of-type{width:8pc}
.area-name{position:relative;padding:0 0 15px;width:100%}
.area-name .name{overflow:hidden;padding:10px 0 0 10px;width:75%;height:auto;color:#ec6c53;font-weight:400;font-size:20px}
.area-name .name-info{margin:10px 0 0 15px;color:#999;font-size:9pt}
.area-name .name-info dd{display:inline-block;width:47%}
.area-name .collect{position:absolute;top:15px;right:0;padding:5px 0 0;width:18%;height:auto;border-left:1px solid #e5e5e5;color:#777;text-align:center;font-size:9pt}
.collect i{width:100%;font-size:24px}
.area-infor{overflow:hidden;padding:0 0 10px;width:100%}
.infor-price{display:-webkit-box;display:flex}
.infor-price li{margin:1pc 0 0;border-right:1px solid #e7e5e2;color:#999;text-align:center;font-size:14px;-webkit-box-flex:1;flex:1}
.infor-price li:last-child{border:none}
.infor-price .yellow{display:block;margin:2px 0 0;font-size:1pc}
.infor-keyword li{display:inline-block;margin:0 6px 0 0;padding:2px 3px;width:auto;height:auto;font-size:9pt}
.infor-keyword li:nth-child(1n){border:1px solid #f5b95f;color:#f5b95f}
.infor-keyword li:nth-child(2n){border:1px solid #81d081;color:#81d081}
.infor-keyword li:nth-child(3n){border:1px solid #15baea;color:#15baea}
.infor-other{margin:15px 0 0;width:100%;color:#999;font-size:14px}
.infor-contact{position:relative;overflow:hidden;min-height:45px}
.infor-contact .contact li{margin:0 0 5px}
.infor-contact .yellow{font-size:18px}
.two-row li{display:inline-block;overflow:hidden;margin:0 0 10px 15px;width:44%;height:17px;line-height:17px}
.two-row li:nth-child(3),.two-row li:nth-child(4){margin-top:-5px}
.whitebg{background:#fff!important}
.mt5{margin-top:5px!important}
.mt15{margin-top:15px!important}
.xinxi_body{padding:15px;background:#fff;font-size:14px}
.xinxi_body img{margin-top:5px;width:100%}
.jubao{margin-top:5px;margin-bottom:5px;padding:10px;background:#fff}
.jubao .jubao-font .one-line{color:#000;font-size:14px}
.jubao .jubao-font .two-line{margin-top:.15625rem;color:#aaa;font-size:9pt}
.display,.jubao{display:-webkit-box;display:flex;display:-webkit-flex}
.flex,.jubao .jubao-font{-webkit-box-flex:1;flex:1;-webkit-flex:1}
.box-align-pack,.jubao{-webkit-box-align:center;box-align:center;-webkit-box-pack:center;box-pack:center;-webkit-align-items:center;-webkit-justify-content:center;align-items:center;justify-content:center}
.jubao .jubao-logo{position:relative;text-align:center}
.jubao .jubao-logo a{display:block;padding-left:10px}
.jubao .jubao-logo a p{margin-top:0;height:20px;color:#aaa;font-size:9pt;line-height:20px}
.jubao .jubao-logo i{color:#aaa;font-size:24px}
.jubao .jubao-logo:before{position:absolute;top:-.0625rem;left:0;width:1px;height:45px;background:#e7e5e2;content:"";-webkit-transform:scaleX(.5);transform:scaleX(.5);-ms-transform:scaleX(.5)}
.info_list{background:#fff}
.info_list li{position:relative;overflow:hidden;padding:8px;border-bottom:1px solid #eee;font-size:9pt;zoom:1}
.info_list .pic{position:absolute;top:10px;left:10px;overflow:hidden}
.info_list .pic,.info_list .pic img{width:93px;height:70px}
.info_list .pic sup{position:absolute;top:0;right:-6px;z-index:2;padding:0 10px 0 8px;height:18px;border-bottom:2px solid #fff;border-left:2px solid #fff;color:#fff;font-size:9pt;line-height:18px;-webkit-transform:skew(207deg)}
.info_list .pic sup:before{display:block;content:'';-webkit-transform:skew(-207deg)}
.info_list .pic sup.ding{width:auto!important;background:#ec6c53}
.info_list .pic sup.ding:before{content:'置顶'}
.info_list .pic sup.zt-2{width:auto!important;background:#999}
.info_list .pic sup.zt-2:before{content:'待售中'}
.info_list .con{padding-left:105px;font-size:9pt}
.info_list .con1{font-size:9pt}
.info_list h3{overflow:hidden;height:54px;color:#333;font-weight:400;font-size:1pc;line-height:27px}
.info_list p{margin:8px 0;color:#999;line-height:17px}
.info_list p.lh_20{line-height:20px}
.info_list .hName{margin-right:9pt;color:#666;font-size:1pc}
.info_list .meters,.info_list .rooms{float:left;margin-right:8px;color:#999;line-height:17px}
.info_list .meters{margin:0}
.info_list .price,.info_list .price2{float:right;color:#ec6c53;font-size:15px;line-height:17px}
.info_list p.p2{margin:15px 0 10px}
.info_list .price2{float:none}
.info_list .more,.lp_related_info .more,.new_active .more,.new_active .more2,.new_arc .more,.person_list .more{text-align:center;font-size:1pc;line-height:40px}
.info_list a{display:block}
.public-nav-module{padding:10px 10px 0;background-color:#fff}
.public-nav-module .nav-container{display:-webkit-box}
.public-nav-module .nav-container .nav-item{padding-bottom:15px;width:0;text-align:center;-webkit-box-flex:1}
.public-nav-module .nav-container .nav-item .nav-item-link{display:inline-block}
.public-nav-module .nav-container .nav-item .item-icon{position:relative;display:block;margin:0 auto;width:45px;height:45px;border-radius:50%}
.public-nav-module .nav-container .nav-item .nav-item-link .text{display:block;margin-top:8px;color:#565e66;font-size:14px;line-height:100%}
.public-nav-module .nav-container .nav-item .icon{position:absolute;display:block;background-size:90pt 250px}
.icon img{width:50px}