{template 'common/header'}
<ul class="nav nav-tabs">
<li {if $op == 'display'}class="active"{/if}><a href="{php echo url('site/entry/sai',array('op'=>'display','m'=>'siyuan_cms'))}">赛事列表</a></li><li {if $op == 'post'}class="active"{/if}><a href="{php echo url('site/entry/sai',array('op'=>'post','m'=>'siyuan_cms'))}">添加赛事</a></li>
</ul>
<style>
.table td span{display:inline-block;margin-top:4px;}
.table td input{margin-bottom:0;}
</style>
{if $op == 'display'}

<div class="main panel panel-default">
<div class="panel-body table-responsive">
<table class="table table-hover">
<thead class="navbar-inner">
<tr>
<th style="width:30px;">ID</th>
<th style="width:200px;">赛事名称</th>
<th>赛事链接</th>
<th>赛事导航</th>
<th>主办/赞助</th>
<th>赛事报道</th>
<th>活动单页</th>
<th>报名会员</th>
<th>操作</th>
</tr>
</thead>
<tbody>
{loop $list $item}
<tr>
<td>{$item['id']}</td>
<td><a href="{php echo $this->createWebUrl('sai', array('op' => 'post', 'id' => $item['id']))}">{$item['name']}</a></td>
<td class="row-first row-hover" style="word-wrap: break-word;"><a class="btn btn-default" href="javascript::;"data-toggle="tooltip" data-placement="top" title="活动链接" onclick="hdurl('{$item['id']}');">活动链接</a></td>
<td><a href="{php echo url('site/entry/sai_menu',array('op'=>'display', 'sid' => $item['id'],'m'=>'siyuan_cms'))}"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>导航管理</button></a></td>
<td><a href="{php echo url('site/entry/sai_zanzhu',array('op'=>'display', 'sid' => $item['id'],'m'=>'siyuan_cms'))}"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>单位管理</button></a></td>
<td>
<a href="{php echo url('site/entry/sai_news',array('op'=>'display', 'sid' => $item['id'],'m'=>'siyuan_cms'))}"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>文章管理</button></a></td>
<td><a href="{php echo url('site/entry/sai_danye',array('op'=>'display', 'sid' => $item['id'],'m'=>'siyuan_cms'))}"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>单页管理</button></a></td>
<td><a href="{php echo url('site/entry/sai_user',array('op'=>'display', 'sid' => $item['id'],'m'=>'siyuan_cms'))}"><button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>报名管理</button></a></td>
<td style="text-align:left;">
<a href="{php echo $this->createWebUrl('sai', array('op' => 'post', 'id' => $item['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="修改"><i class="fa fa-edit"></i></a>
<a href="{php echo $this->createWebUrl('sai', array('op' => 'delete', 'id' => $item['id']))}"class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
</td>
</tr>
{/loop}
</tbody>
</table>
{$pager}
</div>
</div>
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 60px;">
<div class="modal-dialog" style="width: 800px;">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 class="modal-title">活动链接</h4>
</div>
<style>.modal-body { border-bottom: 1px solid #F1F3F5;}</style>
<div class="modal-body" style="width: 100%;float: none;">
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">活动首页链接</label>
<div class="col-sm-3 col-xs-5">
<span id="tpindex" class="label label-success " style="word-wrap: break-word;"></span>

</div>
</div>
</div>
<div class="modal-body" style="width: 100%;float: none;">
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">活动报道链接</label>
<div class="col-sm-3 col-xs-5">
<spanid="tppaihang" class="label label-success "></span>
</div>
</div>
</div>
<div class="modal-body" style="width: 100%;float: none;">
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">报名链接</label>
<div class="col-sm-3 col-xs-5">
<spanid="tpbaoming" class="label label-success "></span>
</div>
</div>
</div>
<div class="modal-body" style="width: 100%;float: none;">
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">主办/赞助链接</label>
<div class="col-sm-3 col-xs-5">
<spanid="tpzanzhu" class="label label-success "></span>
</div>
</div>
</div>
<div class="modal-footer">
<!--<input type="submit" name="tijiao" id="tijiao" class="btn btn-success" value="开始上传">-->
<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
</div>
<script>
require(['bootstrap'],function($){
$('.btn').hover(function(){
$(this).tooltip('show');
},function(){
$(this).tooltip('hide');
});
});
</script>
<script type="text/javascript">



function sj(rid,user_ysh,user_wsh,user_tprc,user_cyrs,user_share,user_hits){
 $('#Modal1').modal('toggle');
 $('.user_ysh').text(user_ysh);
 $('.user_wsh').text(user_wsh);
 $('.user_tprc').text(user_tprc);
 $('.user_cyrs').text(user_cyrs);
 $('.user_share').text(user_share);
 $('.user_hits').text(user_hits);
}
function hdurl(rid){
 $('#Modal2').modal('toggle');

 $('#tpindex').html('{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&j={$_W['uniacid']}&c=entry&id=' + rid + '&do=sai&act=index&m=siyuan_cms');
 $('#tppaihang').html('{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&j={$_W['uniacid']}&c=entry&id=' + rid + '&do=sai&act=news_list&m=siyuan_cms');
 $('#tpbaoming').html('{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&j={$_W['uniacid']}&c=entry&id=' + rid + '&do=sai&act=baoming&m=siyuan_cms');
 $('#tpzanzhu').html('{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&j={$_W['uniacid']}&c=entry&id=' + rid + '&do=sai&act=zanzhu&m=siyuan_cms');
}


require(['bootstrap'],function($){
$('.btn').hover(function(){
$(this).tooltip('show');
},function(){
$(this).tooltip('hide');
});
});
function drop_confirm(msg, url){
if(confirm(msg)){
window.location = url;
}
}
</script>
{elseif $op == 'post'}
<script type="text/javascript">
var category = {php echo json_encode($children)};
</script>
<div class="main">
<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
<input type="hidden" name="id" value="{$item['id']}" />
<div class="panel panel-default">
<div class="panel-heading">活动设置</div>
<div class="panel-body">
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>活动名称</label>
<div class="col-sm-9 col-xs-12">
<input type="text" name="name" class="form-control" value="{$item['name']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标题</label>
<div class="col-sm-9 col-xs-12">
<input type="text" name="fx_title" class="form-control" value="{$item['fx_title']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">显示封面</label>
<div class="col-sm-4 col-xs-12">{php echo tpl_form_field_image('fengmian', $item['fengmian'])}<div class="help-block">图片大小：640*320</div></div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">分享图标</label>
<div class="col-sm-4 col-xs-12">{php echo tpl_form_field_image('fx_tubiao', $item['fx_tubiao'])}<div class="help-block">图片大小：250*250</div></div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">底部版权</label>
<div class="col-sm-4 col-xs-12">
<input type="text" name="banquan" class="form-control" value="{$item['banquan']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">版权链接</label>
<div class="col-sm-9 col-xs-12">
<input type="text" name="banquan_url" class="form-control" value="{$item['banquan_url']}" />
</div>
</div>
<div class="panel-heading" style="border-bottom:1px dashed #CCCACB;margin-bottom:20px;"><b>全局设置</b></div>

<div class="form-group">
<label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">顶部封面图</label>
<div class="col-sm-4 col-xs-12">{php echo tpl_form_field_image('topbg', $item['topbg'])}<div class="help-block">图片大小：640*670</div></div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">内容距离顶部</label>
<div class="col-sm-9 col-xs-12">
<div class="row row-fix">
<div class="col-sm-2 col-xs-2">
<div class="input-group">
<input type="text" name="paddtop" class="form-control" value="{$item['paddtop']}">
<span class="input-group-addon">px</span>
</div><div class="help-block">推荐数值：400</div>
</div>
</div>
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">全局背景颜色</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_color('bg_color', $item['bg_color'])}
<div class="help-block">推荐颜色代码：#005192</div>
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">中部内容背景颜色</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_color('nr_color', $item['nr_color'])}
<div class="help-block">推荐颜色代码：#057ac9</div>
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">按钮背景颜色</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_color('bottom_color', $item['bottom_color'])}
<div class="help-block">推荐颜色代码：#feda0d</div>
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">字体颜色</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_color('size_color', $item['size_color'])}
<div class="help-block">推荐颜色代码：#ffffff</div>
</div>
</div>
<div class="panel-heading" style="border-bottom:1px dashed #CCCACB;margin-bottom:20px;"><b>列表页设置</b></div>
<div class="form-group"><label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">首页背景图片</label><div class="col-sm-4 col-xs-12">{php echo tpl_form_field_image('indexbg', $item['indexbg'])}<div class="help-block">图片大小：640*1080</div></div></div>

<div class="panel-heading" style="border-bottom:1px dashed #CCCACB;margin-bottom:20px;"><b>列表页设置</b></div>
<div class="panel-body">
<div class="form-group"><label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">列表页背景图</label><div class="col-sm-4 col-xs-12">{php echo tpl_form_field_image('listbg', $item['listbg'])}<div class="help-block">图片大小：640*1080</div></div></div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">按钮背景颜色</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_color('listbgcolor', $item['listbgcolor'])}
<div class="help-block">按钮背景颜色，推荐颜色代码：#ec3c05</div>
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">按钮字体颜色</label>
<div class="col-sm-5 col-xs-12">
{php echo tpl_form_field_color('listcolor', $item['listcolor'])}
<div class="help-block">按钮和底部版权字体颜色，推荐颜色代码：#ffffff</div>
</div>
</div>

</div>
<div class="panel-heading" style="border-bottom:1px dashed #CCCACB;margin-bottom:20px;"><b>报名信息设置(请输入选项名称，例：姓名 手机 地址，不填则不启用！)</b></div>

<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">选项1</label>
<div class="col-sm-2 col-xs-12">
<input type="text" name="baoming_1" class="form-control" value="{$item['baoming_1']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">选项2</label>
<div class="col-sm-2 col-xs-12">
<input type="text" name="baoming_2" class="form-control" value="{$item['baoming_2']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">选项3</label>
<div class="col-sm-2 col-xs-12">
<input type="text" name="baoming_3" class="form-control" value="{$item['baoming_3']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">选项4</label>
<div class="col-sm-2 col-xs-12">
<input type="text" name="baoming_4" class="form-control" value="{$item['baoming_4']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">选项5</label>
<div class="col-sm-2 col-xs-12">
<input type="text" name="baoming_5" class="form-control" value="{$item['baoming_5']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">选项6</label>
<div class="col-sm-2 col-xs-12">
<input type="text" name="baoming_6" class="form-control" value="{$item['baoming_6']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">选项7</label>
<div class="col-sm-2 col-xs-12">
<input type="text" name="baoming_7" class="form-control" value="{$item['baoming_7']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-3 col-md-2 control-label">选项8</label>
<div class="col-sm-2 col-xs-12">
<input type="text" name="baoming_8" class="form-control" value="{$item['baoming_8']}" />
</div>
</div>
<div class="form-group">
<label class="col-xs-12 col-sm-2 col-md-2 control-label">报名后提示</label>
<div class="col-sm-6 col-md-8 col-xs-12">
{php echo tpl_ueditor('baoming_tishi', $item['baoming_tishi']);}
</div>
</div>
<div class="form-group col-sm-12">
<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
<input type="hidden" name="token" value="{$_W['token']}" />
</div>
</form>
</div></div>
<script type="text/javascript">
require(['jquery', 'util'], function($, u){
$(function(){
$('.richtext').each(function() {
u.editor(this);
});
});
});
require(['jquery', 'util'], function($, u){
$('#form1').submit(function(){
if($("input[name=title]").val().length <= 0) {
u.message('没有填写标题', '', 'error');
return false;
}
return true;
});
});
</script>
{/if}
{template 'common/footer'}
