@charset "utf-8";
*{padding:0px; margin:0px; -moz-user-select: none; -webkit-user-select: none; -webkit-user-drag:none; -webkit-user-drag: none;}
body{ font-family:arial,"微软雅黑"; color:#fff;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ol, ul {list-style:none; }
input,select,textarea{border:0;background:none;}
em,i,b,s{font-style:normal; font-weight: normal;}
a {border:none; text-decoration:none;}
img{border: none;}
.clearfix:after{clear:both; content:""; display:block; height:0; visibility:hidden; line-height:0;}
.control-arrow {
    display: inline-block;
    background: url(../images/contr-arrow.png) no-repeat;
    width: 55px;
    height: 25px;
}
#new_mess{
 position:absolute;
 left:10px;
 top:10px;
 height:90px;
 width:90px;
 display:inline-block;
 background-image:url("../images/news.png");
  background-size: 90px 90px;
  background-position:center;
   background-repeat: no-repeat;}
.arrow-box {
    text-align: right;
    font-size: 0;
    padding-top: 0px;
}
#wallcontrol:hover .control-arrow {
    background-position: 0 -35px;
}
#wallcontrol {
    position: fixed;
    z-index: 20;
    left: 0;
	padding-bottom:15px;
    bottom: 0;
    width: 100%;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
	
}
/*@media screen and ( max-device-height:720px){
     #wrap{ height:720px;}
	 #footer{ margin-top:-17px;}
}

@media screen and ( min-device-height:800px) {
     #wrap{ height:800px;}
}

@media screen and ( min-device-height:900px) {
     #wrap{ height:900px;}
}

@media screen and ( min-device-height:1080px) {
     #wrap{ height:1080px;}
}

@media screen and ( min-device-height:1200px) {
     #wrap{ height:1200px;}
}*/

.pop {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	color: #fff;
	z-index: 100;
	top: 0;
	left: 0
}

.pop-close {
	cursor: pointer;
	z-index: 110;
	width: 70px;
	height: 70px;
	background: url("../images/close.png") no-repeat center center #575c5c;
	display: block;
	position: absolute;
	top: 0;
	right: 0
}

.pop-code {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	display: table;
	vertical-align: middle
}

.pop-code>p {
	display: table-cell;
	vertical-align: middle
}

.pop-code>p>* {
	display: block;
	margin: 10px 0
}

.pop-code>p>* img {
	width: 400px;
	height: 400px
}

.pop-code small {
	font-size: 34px;
	line-height: 60px
}

.pop-code b {
	font-weight: 100;
	color: #fff100
}

.pop-message,.pop-time {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100
}

.pop-message {
	z-index: 99;
	width: 500px;
	height: 160px;
	line-height: 160px;
	text-align: center;
	border-radius: 20px;
	border: 4px solid #e8645a;
	background: #fff;
	margin: -80px 0 0 -250px;
	box-shadow: 0 0 5px rgba(0,0,0,0.6) inset
}

.pop-time {
	cursor: pointer;
	width: 200px;
	height: 200px;
	margin: -130px 0 0 -130px;
	background: #295a58;
	border-radius: 1000px;
	padding: 30px;
	overflow: hidden
}

.pop-time p {
	display: block;
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	margin: 0;
	padding: 0;
	background-color: #78c5c3;
	box-shadow: 0 0 5px #000;
	border-radius: 1000px
}
#wrap{
	width: 100%; 
	height: 100%; 
	background-size:cover; 
	min-width: 980px; 
	max-width: 2000px; 
	min-height: 775px; 
	max-height: 2000px; 
	position: relative; 
	margin: 0 auto;
}
#whole{ width:980px; height:auto; margin:0 auto;}
#container{height: 562px; margin-top: 14px; position:relative;}


















/*--滚动条--*/
::-webkit-scrollbar{ width:5px; height:5px; background-color:#fff;}
::-webkit-scrollbar:hover{ background-color:#eee; }
::-webkit-resizer{}
::-webkit-scrollbar-thumb{ -webkit-border-radius:4px; background-color:#ccc; height:10px; }
::-webkit-scrollbar-thumb:hover{ background-color: #aaa;}
::-webkit-scrollbar-thumb:active{ background-color:#888;}

::-moz-scrollbar{ width:5px; height:5px; background-color:#fff;}
::-moz-scrollbar:hover{ background-color:#eee; }
::-moz-resizer{}
::-moz-scrollbar-thumb{ -webkit-border-radius:4px; background-color:#ccc; height:10px; }
::-moz-scrollbar-thumb:hover{ background-color: #aaa;}
::-moz-scrollbar-thumb:active{ background-color:#888;}

.loader {
  font-size: 100px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.51em -0.66em 0 -0.42em #fff, -0.75em -0.36em 0 -0.44em #fff, -0.83em -0.03em 0 -0.46em #fff, -0.81em 0.21em 0 -0.477em #fff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.29em -0.78em 0 -0.42em #fff, -0.43em -0.72em 0 -0.44em #fff, -0.52em -0.65em 0 -0.46em #fff, -0.57em -0.61em 0 -0.477em #fff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.51em -0.66em 0 -0.42em #fff, -0.75em -0.36em 0 -0.44em #fff, -0.83em -0.03em 0 -0.46em #fff, -0.81em 0.21em 0 -0.477em #fff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.29em -0.78em 0 -0.42em #fff, -0.43em -0.72em 0 -0.44em #fff, -0.52em -0.65em 0 -0.46em #fff, -0.57em -0.61em 0 -0.477em #fff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #fff, -0.11em -0.83em 0 -0.42em #fff, -0.11em -0.83em 0 -0.44em #fff, -0.11em -0.83em 0 -0.46em #fff, -0.11em -0.83em 0 -0.477em #fff;
  }
}

