@charset "utf-8";
.footer{width: auto; height: 41px; text-align: center; padding: 15px 15px 0; overflow: hidden;}
.btnIcon{height: 41px;display: inline-block; margin: 0 24px;}
.btnIcon a{border: 2px solid rgba(255, 255, 255, 0.35); background: url(../images/icons.png) no-repeat; display: inline-block;}
.btnIcon.btnMenu a{width: 32px; height: 32px; margin: 2px 6px; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;}
.btnIcon.btnAct a{width: 37px; height: 37px; margin: 0 5px 0 6px; border-radius: 21px; -webkit-border-radius: 21px; -moz-border-radius: 21px;}
.btnIcon a.btnSkinSel{background-position: -2px -4px;}
.btnIcon a.btnCheckIn{background-position: -50px -4px;}
.btnIcon a.btnTheWall{background-position: -98px -4px;}
.btnIcon a.btnLottery{background-position: -146px -4px;}
.btnIcon a.btnVote{background-position: -194px -4px;}
.btnIcon a.btnPair{background-position: -242px -4px;} 
.btnIcon a.btnOnSite{background-position: -290px -4px;}
.btnIcon a.btnTanmu{background-position: -290px -4px;}
.btnIcon a.btnFull{background-position: -338px -4px;}
.btnIcon a.btnOldest{background-position: -435px -2px;}
.btnIcon a.btnPrev{background-position: -487px -2px;}
.btnIcon a.btnPlay{background-position: -537px -2px;}
.btnIcon a.btnPause{background-position: -591px -2px;}
.btnIcon a.btnNext{background-position: -643px -2px;}
.btnIcon a.btnNewest{background-position: -695px -2px;}
.btnIcon a.btnYaoiy {
    background-position: -390px -4px;
}




.tooltipster-shadow {background: rgb(255, 255, 255); border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;	box-shadow: 0px 0px 6px 1px rgba(30,30,30,0.2); -webkit-box-shadow: 0px 0px 6px 1px rgba(30,30,30,0.2); -moz-box-shadow: 0px 0px 6px 1px rgba(30,30,30,0.2);}
.tooltipster-shadow .tooltipster-content {font-size: 14px; color: rgb(83, 83, 83); padding: 18px 12px;}