@charset "utf-8";

.header{width: 910px; height: 96px; margin: 0 auto; padding-top: 26px;}
.header h3{width: 220px; line-height: 96px; float: left;}
.header h3 img{vertical-align: middle;}
.QRcode{text-align: right; float: right;}
.wordScroll{ width:576px; height:96px; text-align: center; background: url(../images/hWordScroll.png) no-repeat center top; float: left; overflow: hidden; cursor: default;}
.scrollBox{width: 460px; height: 96px; float: left;}
.scrollBox ul{width: auto; height: auto; overflow: hidden; margin-top: 10px;}
.scrollBox li{height: 85px; line-height: 38px; font-size: 24px;}
.num{width: 105px; height: 67px; line-height: 35px; font-size: 18px; padding: 14px 5px; float: right;}
.num p{font-size: 24px;}

/*--二维码弹层--*/
.QRcodeBox{width:910px; height:545px; background:#fff; position:absolute; top:0; left:35px; z-index:1000;display: none; }
.QRcodeBox h3{ font-size:26px; color:#161717; padding:20px 36px 0; line-height:34px;}
.codeClose{ position:absolute; top:16px; right:12px; display:block; width:30px; height:30px; background:url(../images/lotteryDel.png) 0 0 no-repeat; z-index:2;}
.QRcodeBox p{text-align: center;padding-top: 25px;}
.QRcodeBox p img{ width:430px; height:430px;}

/* latest message 151223 apple */
.msglatest{width: 908px; height: 542px;/* border: 1px solid rgba(14, 31, 64, 0.5); background: rgba(1, 78, 148, 0.7);*/ position: absolute; top: 0; left: 35px; z-index: 99; -moz-background-clip: padding;-webkit-background-clip: padding;background-clip: padding-box;display: none;overflow: hidden;}
.msglatestIcon{width: 147px;height: 147px;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;position: absolute;top: 70px;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);/*border:7px solid rgba(255,255,255,0.85);box-shadow:0 0 7px rgba(0,0,0,0.2);*/z-index: 99;-moz-background-clip: padding;-webkit-background-clip: padding;background-clip: padding-box;/*background-color:#fff;*/}
.msglatestIcon:before{width: 234px;height: 101px;content: '';position: absolute;top: -29px;left: -40px;background-position: center top;background-repeat: no-repeat;}
.msglatestIcon img{-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;border-radius: 50%;}
.msglatestCon{height: 542px;padding:0 70px;/*background-color:rgba(255,255,255,0.85);*/background: url(../images/bg_msg_new.png) no-repeat; position: absolute;bottom: 0;left: -1px;right: -1px;color: #333;z-index:9999;}
.msglatestCon figure{padding-top: 245px;}
.msglatestCon figure figcaption{height: 60px; font-size: 36px;white-space: nowrap;overflow: hidden;}
.msglatestCon figure p{font-size: 62px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}

.mask {  position: absolute;  overflow: hidden;  top: 0; }
.view-ninth .mask-1, .view-ninth .mask-2 {height: 1057px;width: 542px;}
.view-ninth .mask-1{
	-webkit-animation: mask-1 0.6s;
	-moz-animation: mask-1 0.6s;
	animation:mask-1 0.6s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	left: auto;
    right: 0;
	-webkit-transform: rotate(59.1deg) translateX(-480px);
    -moz-transform: rotate(59.1deg) translateX(-480px);
    -o-transform: rotate(59.1deg) translateX(-480px);
    -ms-transform: rotate(59.1deg) translateX(-480px);
    transform: rotate(59.1deg) translateX(-480px);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.view-ninth .mask-2{
	-webkit-animation: mask-2 0.6s;
	-moz-animation: mask-2 0.6s;
	animation:mask-2 0.6s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: backwards;
	animation-fill-mode: forwards;
	top: auto;
    bottom: 0;
    -webkit-transform: rotate(59.1deg) translateX(480px);
    -moz-transform: rotate(59.1deg) translateX(480px);
    -o-transform: rotate(59.1deg) translateX(480px);
    -ms-transform: rotate(59.1deg) translateX(480px);
    transform: rotate(59.1deg) translateX(480px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.view-ninth .content{
    height: 0;
    width: 1068px;
    overflow: hidden;
    -webkit-transform: rotate(-31deg) translate(-240px, 468px);
    -moz-transform: rotate(-31deg) translate(-240px, 468px);
    -o-transform: rotate(-31deg) translate(-240px, 468px);
    -ms-transform: rotate(-31deg) translate(-240px, 468px);
    transform:rotate(-31deg) translate(-240px, 468px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-animation: content 1s;
   	animation:content 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
@-webkit-keyframes mask-1{
	0%{}
	100%{
		opacity: 1;
		-webkit-transform: rotate(59.1deg) translateX(0);
	    -moz-transform: rotate(59.1deg) translateX(0);
	    -o-transform: rotate(59.1deg) translateX(0);
	    -ms-transform: rotate(59.1deg) translateX(0);
	    transform: rotate(59.1deg) translateX(0);
	}
}
@keyframes mask-1{
	0%{}
	100%{
		opacity: 1;
		-webkit-transform: rotate(59.1deg) translateX(0);
	    -moz-transform: rotate(59.1deg) translateX(0);
	    -o-transform: rotate(59.1deg) translateX(0);
	    -ms-transform: rotate(59.1deg) translateX(0);
	    transform: rotate(59.1deg) translateX(0);
	}
}
@-webkit-keyframes mask-2{
	0%{}
	100%{
		-webkit-transition-delay: 0s;
	    -moz-transition-delay: 0s;
	    -o-transition-delay: 0s;
	    transition-delay: 0s;
		-webkit-transform: rotate(59.1deg) translateX(1px);
	    -moz-transform: rotate(59.1deg) translateX(1px);
	    -o-transform: rotate(59.1deg) translateX(1px);
	    -ms-transform: rotate(59.1deg) translateX(1px);
	    transform: rotate(59.1deg) translateX(1px);
	}
}
@keyframes mask-2{
	0%{}
	100%{
		-webkit-transition-delay: 0s;
	    -moz-transition-delay: 0s;
	    -o-transition-delay: 0s;
	    transition-delay: 0s;
		-webkit-transform: rotate(59.1deg) translateX(1px);
	    -moz-transform: rotate(59.1deg) translateX(1px);
	    -o-transform: rotate(59.1deg) translateX(1px);
	    -ms-transform: rotate(59.1deg) translateX(1px);
	    transform: rotate(59.1deg) translateX(1px);
	}
}
@-webkit-keyframes content{
	0%{}
	100%{
		height: 542px;
	    width: 100%;
	    -webkit-transform: rotate(0deg) translate(0, 0);
	    -moz-transform: rotate(0deg) translate(0, 0);
	    -o-transform: rotate(0deg) translate(0, 0);
	    -ms-transform: rotate(0deg) translate(0, 0);
	    transform: rotate(0deg) translate(0, 0);
	    background: transparent;
	}
}
@keyframes content{
	0%{}
	100%{
		height: 542px;
	    width: 100%;
	    -webkit-transform: rotate(0deg) translate(0, 0);
	    -moz-transform: rotate(0deg) translate(0, 0);
	    -o-transform: rotate(0deg) translate(0, 0);
	    -ms-transform: rotate(0deg) translate(0, 0);
	    transform: rotate(0deg) translate(0, 0);
	    background: transparent;
	}
}
