html, body {
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.bg-cyan {
	background-image: url(bg2.jpg);
}
.body {
	margin: 0 auto;
	padding: 20px 0;
}
.body-s {
	width: 98%;
}
.modal {
	padding: 25px 30px;
	background: rgba(255,255,255,0.9);
	font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
	color: #666;
}
.modal a {
	color: #2da5da;
}

@media screen and (width: 98%) {
	.body {
		padding: 0px;
	}
}