*{
    margin: 0px;
    padding: 0px;
}

html,body{
    width: 100%;
    height:100%;
    position: relative;
}

.charts_wrap{
    width: 100%;
    height: 100%;
    background-color: rgb(244,244,244);
}
.charts_wrap .top{
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-image: url("../topbg.png");
    background-size: 100% 100%;
    background-position: center -2vh;
}
.charts_wrap .top .type
{
    width: 50%;
    height:6vh;
    margin: 0 auto;
}
.charts_wrap .top .type .bangdan{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    color: white;
    line-height: 6vh;
    font-family: "微软雅黑";
    font-size: 1.1rem;
}
.charts_wrap .top .type .active{
    background-image: url("../line.png");
    background-repeat: no-repeat;
    background-position: center 2vh;
    background-size: 156% 100%;
}
.charts_wrap .top .people{
    padding-left: 4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.charts_wrap .top .commom_people_style{
    width:32%;
    float: left;
    position: relative;
}
.charts_wrap .top .people .userlogo{
    transform: translateY(-50%);
}
.charts_wrap .top .commom_people_style .info{
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 18vh;
    transform: translate(-50%);
    left: 50%;
}
.charts_wrap .top .people .pic{
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    left:50%;
    transform: translate(-50%,0);
}
.charts_wrap .top .people #third .userlogo{
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 47% auto 0;

}
.charts_wrap .top .people #second .userlogo{
    width: 19vw;
    height: 19vw;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 47% auto 0;

}
.charts_wrap .top .people #first .userlogo{
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 47% auto 0;

}
.charts_wrap .top .people #third .pic{
    width: 26vw;
    height: 26vw;
    margin-top: 2vw;
}
.charts_wrap .top .people #first .pic{
    width: 29vw;
    height: 29vw;
}
.charts_wrap .top .people #second .pic{
    width: 26vw;
    height: 26vw;
    margin-top: 2vw;

}
.charts_wrap .top .people .commom_people_style .info .nickname{
    text-align: center;
    color: white;
    height: 4vh;
    overflow: hidden;
    top: 5px;
    font-family: "微软雅黑";
    font-size: 1.2rem;
    position: relative;
    word-break: break-all;
    line-height: 4vh;

}
.charts_wrap .top .people .commom_people_style .info .record {
    color: white;
    text-align: center;
    margin-top: 2vh;
    /*padding: 0 3vw;*/
    box-sizing: border-box;
}


.charts_wrap .bottom{
    background-color: white;
    width: 93%;
    margin: 0 auto;
}
.charts_wrap .bottom .infos{
    position: relative;
    padding: 5vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.charts_wrap .bottom .infos .line{
    width: 90%;
    height: 2px;
    background-color: #ddd;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom:0;
}
.charts_wrap .bottom .infos .icon{
    background-repeat: no-repeat;
    background-image: url("../star.png");
    background-size: contain;
    width: 6vw;
    height: 6vw;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 7vw;
    color: white;
    font-size: 1rem;
}
.charts_wrap .bottom .infos .avatar
{
    background-size: contain;
/* display: inline-block; */
    width: 12vw;
    height: 12vw;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: red;
    margin-left: 2%;

}
.charts_wrap .bottom .infos .infoarea

{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
    width: 50%;
    overflow: hidden;
    word-wrap: break-word;
}
.charts_wrap .bottom .infos .talk{
    display: inline-block;
    vertical-align: middle;
    padding: 1vw 2vw;
    box-sizing: border-box;
    background-color: rgb(115,133,232);
    color: white;
    border-radius: 4px;
    position: absolute;
    /* margin-left: 14vw; */
    top: 50%;
    transform: translate(0,-50%);
    right: 5%;
}
.charts_wrap .bottom .infos .infoarea .name
{
    font-size: 1.5rem;
}

.charts_wrap .bottom .infos .infoarea .record2{
    color: #6B6B6B;
    font-size:1rem;
}


