@import "font_cu5mxondkaxrms4i.css";
.showing_panel {
  overflow: hidden;
  height: 100vh;
}
.talk_panel {
  z-index: 4;
  top: 0;
  background-color: #FFFFFF;
  border-radius: 3px;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  /*对话内容*/
}
.talk_panel .talker_info {
  top: 0px;
  background-size:auto 100% ;
  text-align: center;
  z-index: 3;
  padding: 0.5rem 5vw;
  overflow: auto;
  position: fixed;
  width: 90vw;
  /*box-shadow: 1px 1px 1px @c_face;*/
}
.talk_panel .talker_info .avatar {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: #a898e2 solid 1px;
  background-color: #ffffff;
  float: left;
  width: 3.5rem;
  height: 3.5rem;
}
.talk_panel .talker_info .scoll_show {
  float: left;
  padding-left: 1rem;
}
.talk_panel .talker_info .scoll_show .nickname {
  text-align: left;
  margin-top: 0px;
  margin-left: 0px;
}
.talk_panel .talker_info .nickname {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 0.5rem;
}
.talk_panel .talker_info .talker_tags {
  font-size: 0.90909091rem;
}
.talk_panel .talker_info .talker_tags span {
  padding: 1px 6px;
  border-radius: 2px;
  padding-left: 1.6rem;
  background-position: -0.2rem center;
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.talk_panel .talker_info .talker_tags .face_val {
  background-image: url("../face.png");
}
.talk_panel .talker_info .talker_tags .face_val .untest {
  color: #CCCCCC;
  margin: 0px;
  padding: 0px;
}
.talk_panel .talker_info .talker_tags .present {
  background-image: url("../pos.png");
}
.talk_panel .talker_info .man span {
  color: #ffffff;
  background-color: #3d9dff;
}
.talk_panel .talker_info .man .gender {
  background-image: url("../icon_man2.png");
}
.talk_panel .talker_info .man .avatar {
  border: #3d9dff solid 0px;
}
.talk_panel .talker_info .woman span {
  color: #ffffff;
  background-color: #ff6bb8;
}
.talk_panel .talker_info .woman .gender {
  background-image: url("../icon_woman2.png");
}
.talk_panel .talker_info .woman .avatar {
  border: #ff6bb8 solid 0px;
}
.talk_panel .msg_list {
  overflow-y: scroll;
  padding: 0px 1rem;
  background-color: #ebebeb;
  text-align: center;
}
.talk_panel .msg_list .msg_box {
  overflow: auto;
  margin: 1rem 0px;
}
.talk_panel .msg_list .msg_box .avatar {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  background-color: #ffffff;
  float: left;
  width: 3rem;
  height: 3rem;
}
.talk_panel .msg_list .msg_box .content {
  word-wrap: break-word;
  color: #000000;
  max-width: 52vw;
  float: left;
  /*padding: 0.8rem;*/
  padding:0.8vw;
  margin-left: 1rem;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 0px 1px #eee;
  background-color: #ffffff;
  border-radius: 3px;
  font-family: "Microsoft YaHei UI", "微软雅黑", "宋体";
  line-height: 1.4rem;
  font-size: 1.1rem;
  text-align: center;
  /*text-align: left;*/


}

.talk_panel .msg_list .admin_del_msgs{
  float: left;
  display: block;
  margin-left: 3rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;

}
.talk_panel .msg_list .admin_del_msgs span {
  display: inline-block;
  width:40px;
  background: #999;
  border-radius: 20px;
  height: 15px;
  margin-left: 10px;
  line-height: 15px;
}
.talk_panel .msg_list .mine .admin_del_msgs{
  float: right;
  margin-right: 1rem;

}

.talk_panel .msg_list .msg_box .content img {
  width: 100%;
  display: inline-block;
}
.talk_panel .msg_list .msg_box .content .say_point {
  width: 6px;
  height: 10.285px;
  display: inline-block;
  background: url(../imArrYou.png);
  background-size: cover;
  position: relative;
  float: left;
  margin-left: -16px;
  margin-top: 4px;
}
.talk_panel .msg_list .msg_box .content.has_img {
  width: 23vw;
}
.talk_panel .msg_list .msg_box .del_msg_ck {
  float: left;
  display: none;
}
.talk_panel .msg_list .msg_list_ctx {
  padding: 6rem 0px;

}
.talk_panel .msg_list .msg_list_ctx .user_unbind {
  margin: 3vw;
  background: #ffffff;
  border: 1px #999999 solid;
  padding: 3vw;
}
.talk_panel .msg_list .mine .avatar {
  float: right;
}
.talk_panel .msg_list .mine .content {
  float: right;
  margin-left: 0rem;
  margin-right: 1rem;
}
.talk_panel .msg_list .mine .content .say_point {
  transform: rotate(180deg);
  float: right;
  margin-left: 0px;
  margin-right: -16px;
}
.talk_panel .msg_list .msg_box_bottom {
  height: 4rem;
}
.talk_panel .msg_list .timestr {
  font-size: 0.9rem;
  text-align: center;
  margin: 0px auto;
  display: inline-block;
  background-color: #CECECE;
  color: #fff;
  border-radius: 3px;
  padding: 0px 3px;
}
.talk_panel .msg_input {
  border-radius: 0px 0px 3px 3px;
  background-color: #F4F4F6;
  box-shadow: 1px -1px 1px #d6d6d6;
  height: 3.5rem;
  line-height: 3.5rem;
  width: 100vw;
  bottom: 0px;
  font-size: 1.1rem;
  transition: 0.35s;
  position: fixed;
  z-index: 9999;
}
.talk_panel .msg_input .menu_btn {
  margin: 0px 2vw;
  font-size: 7vw;
  line-height: 3.5rem;
  float: left;
  color: #999999;
}
.talk_panel .msg_input .input_line {
  padding-top: 0.5rem;
}
.talk_panel .msg_input textarea {
  font-size: 1.1rem;
  float: left;
  width: 60vw;
  height: 2rem;
  padding: 0.5rem 10vw 0px 3vw;
  border: 0px;
  background-color: #ffffff;
  border-radius: 3px 0px 0px 3px;
  overflow-x: auto;
}
.talk_panel .msg_input .send_btn {
  border: 0px;
  color: #fff;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #96dd49;
  border-radius: 0px 3px 3px 0px ;
  float: left;
  width: 4.5rem;
}
.talk_panel .msg_input .smile_btn {
  line-height: 2.5rem;
  font-size: 7vw;
  margin-left: -2.5rem;
  float: left;
  color: #FF7F00;
}
.talk_panel .showing_menu {
  height: 10rem;
}
.talk_panel .showing_menu .msg_input_menu {
  display: block;
  float: left;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0px 5vw;
}
.talk_panel .showing_menu .msg_input_menu ul {
  overflow: auto;
  width: 60rem;
}
.talk_panel .showing_menu .msg_input_menu ul li {
  float: left;
  margin: 1.5vw;
  border: 1px #b5b9be solid;
  box-shadow: 0px 0px 3px #EEEEEE;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0rem 0.3rem  0.4rem 0.3rem ;
  color: #878b90;
  position: relative;
}
.talk_panel .showing_menu .msg_input_menu ul li .icon {
  font-size: 2rem;
  margin: 0px 1rem;
  width: 2rem;
  text-align: center;
  display: inline-block;
}
.talk_panel .showing_menu .msg_input_menu ul li p {
  margin-top: -0.3rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.7rem;
}
.talk_panel .showing_menu .msg_input_menu ul li img {
  width: 16vw;
  float: left;
}
.talk_panel .showing_menu .msg_input_menu ul li .photo_file {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}
.talk_panel .showing_face {
  height: 15rem;
}
.talk_panel .showing_face .msg_input_face {
  float: left;
  padding: 1rem;
  overflow-x: auto;
  width: 100%;
  display: block;
  -webkit-overflow-scrolling: touch;
}
.talk_panel .showing_face .msg_input_face a {
  margin: 2px;
  padding: 1px;
  display: inline-block;
  line-height: normal;
}
.talk_panel .showing_face .msg_input_face img {
  width: 48px;
  height: 48px;
}
.talk_panel .msg_input_menu,
.talk_panel .msg_input_face {
  display: none;
}
.close {
  font-size: 1.8rem;
  opacity: 0.8;
  float: right;
  margin-top: -5px;
  margin-right: -5px;
}
.talking {
  transform: rotateY(0deg);
}
.msg_del_btn {
  display: none;
  position: fixed;
  bottom: 10rem;
  border: 0px;
  color: #fff;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #96dd49;
  border-radius: 3px;
  float: left;
  width: 4.5rem;
}
.show_img_msg_box {
  display: none;
  height: 100vh;
  z-index: 4;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  overflow-y: auto;
}
.show_img_msg_box img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.banding_qrcode_box {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.banding_qrcode_box .banding_qrcode_panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  text-align: center;
  padding: 1rem;
}
.banding_qrcode_box .banding_qrcode_panel span {
  color: #666;
  margin-bottom: 10px;
}
.banding_qrcode_box .banding_qrcode_panel b {
  font-weight: normal;
  float: right;
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 1.2rem;
  color: #666666;
}
.banding_qrcode_box .banding_qrcode_panel img {
  width: 100%;
}
.talk_panel {
  position: relative;
  width: 100vw;
  height: auto;
}
.talk_panel .msg_list_ctx {
  min-height: 80vh;
}
.msg_box .hb_box {
  background-size: 100% 100%;
  background-image: url("../onWall_redBagShow.png");
  width: 180px;
  height: 240px;
  float: left;
  margin-left: 1rem;
}
.msg_box .hb_box .hb_box_ctx {
  color: #ffde8d;
  padding-left: 10px;
  width: 160px;
  text-align: center;
  line-height: 2.8rem;
  font-size: 1rem;
  /*overflow: hidden;*/
  height: 2.8rem;
  margin-top: 6.5rem;
}
.msg_box .nickname {
  text-align: left;
  padding-left: 1rem;
  font-size: 0.8rem;
  color: #999999;
  overflow-x: auto;
  white-space: nowrap;
}
.msg_box .nickname .bp-font-color {
  font-size: 1rem;
}
.msg_box .admin_del_msg {
  float: right;
}
.mine .admin_del_msg {
  float: left;
}
.mine .hb_box {
  float: right;
  margin-left: 0rem;
  margin-right: 1rem;
}
.mine .nickname_line {
  overflow: auto;
}
.mine .nickname {
  text-align: right;
  padding-right: 1rem;
  float: right;
}
.hb_status_panel {
  background-color: #e56161;
  padding: 5rem 0px 3rem 0px;
  border-radius: 5px;
  background-image: url("../onWall_redBagShow.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px #c90000;
}
.hb_status_panel .avatar {
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  border: 4px #ffffff solid;
  background: #e56161;
  margin-top: -1.1rem;
}
.hb_status_panel .nickname {
  color: #ffffff;
  font-size: 1.2rem;
}
.hb_status_panel .open_btn {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: block;
  margin: 4rem auto 0px auto;
  background-image: url("../hb_open.png");
  background-size: 100% 100%;
}
.hb_status_panel .hb_ctx {
  color: #dddddd;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0.7rem 0px 1rem 0px;
}
.hb_status_panel .money {
  margin: 2rem 0px;
  height: 5rem;
  font-size: 3.6rem;
  color: #FFFFFF;
}
.hb_status_panel .money span {
  font-size: 2.4rem;
}
.hb_status_panel .show_log {
  color: #FFF790;
  font-size: 1rem;
}
.hb_status_panel .hbb_tip {
  margin-top: 2.8rem;
  color: #FFF790;
  font-size: 0.8rem;
}
.talker_info .barname {
  /*float: left;*/
  height: 2.5rem;
  line-height: 2.5rem;
  margin: 0.5rem 2rem;
  padding: 0px 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-size: 1.1rem;
}
.hb_panel label {
  color: #333333;
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
}
.hb_panel label small {
  color: #999999;
  font-size: 0.8rem;
}
.hb_panel .payment {
  overflow: auto;
}
.hb_panel .payment ul li {
  color: #9A77D8;
  float: left;
  padding: 0.5rem 1rem;
  border: 1px solid #9A77D8;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-right: 1rem;
}
.hb_panel .payment ul .active {
  color: #ffffff;
  background-color: #9A77D8;
}
.hb_panel .payment .wechat:before {
  content: "\e62a";
}
.hb_panel .payment .hbb:before {
  content: "\e61d";
}
.hb_panel .field {
  width: 95%;
  text-align: right;
  background-color: #F3F3F3;
  border-radius: 5px;
  padding-right: 5%;
}
.hb_panel .field.null_title {
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
}
.hb_panel .field input,
.hb_panel .field select {
  text-align: right;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  padding: 0.8rem;
  font-size: 1.1rem;
  color: #999999;
  width: 60px;
}
.hb_panel .field textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  padding: 5%;
  width: 95%;
  font-size: 1.2rem;
}
.hb_panel .hbb_money {
  font-size: 0.8rem;
  color: #c90000;
  opacity: 0;
}
.qrcode_panel img {
  width: 100%;
}
.bp_panel .bp_img_field {
  position: relative;
  display: inline-block;
}
.bp_panel .bp_img_field .photo_file {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}
.bp_panel .bp_tc {
  overflow: auto;
  margin-bottom: 5vw;
  font-size: 0.9rem;
}
.bp_panel .bp_tc .bp_tc_item {
  display: inline-block;
  padding: 0.3rem !important;
  margin: 0.3rem;
  background-color: #FFFFFF;
  border: 1px solid #03bd01;
  color: #03bd01;
  border-radius: 2px;
  width: 40%;
}
.bp_panel .bp_tc .bp_tc_item .time {
  font-size: 1.1rem;
}
.bp_panel .bp_tc .bp_tc_item.active {
  color: #ffffff;
  background-color: #03bd01;
  border: 1px solid #03bd01;
}
.bp_panel .bp_ctx {
  overflow: auto;
}
.bp_panel .bp_ctx span img {
  width: 15vw;
  height: 15vw;
  border-radius: 3px;
  border: 1px #dddddd solid;
}
.bp_panel .bp_ctx textarea {
  width: 40vw;
  border: 1px #eeeeee solid;
  height: 15vw;
}
.bp_panel .admin_bp {
  margin-top: 20px;
}
.hb_logs {
  max-height: 80vh;
  overflow: auto;
}
.hb_logs ul li {
  padding: 0.5rem 0rem;
  margin: 0.5rem 0px;
  overflow: auto;
  border-bottom: 1px dashed #999999;
}
.hb_logs ul li .avatar {
  background-size: 100% auto;
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  width: 4rem;
  height: 4rem;
  float: left;
}
.hb_logs ul li p {
  width: 70%;
  float: right;
  overflow: auto;
}
.hb_logs ul li .nickname {
  float: left;
}
.hb_logs ul li .money {
  float: right;
  color: #c90000;
}
.hb_logs ul li .time {
  color: #999999;
  font-size: 0.8rem;
  margin-top: 1.2rem;
  text-align: left;
}
.hb_logs ul li.fee_tip {
  color: #999999;
  font-size: 0.8rem;
}
.temp_bp_panel,
.temp_hb_panel,
.temp_qrcode_panel,
.temp_ds_panel {
  display: none;
}
.userBox {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  overflow: hidden;
  display: none;
}
.userBox .userBoxAllBg {
  width: 100%;
  height: 100%;
}
.userBox .userBoxAllBg .userBg {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.userBox .userBoxCover {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
  z-index: 2;
}
.userBox .userBoxCover .menu {
  padding: 10vw;
  background: rgba(0, 0, 0, 0.6);
}
.userBox .userBoxCover .menu ul {
  overflow: auto;
}
.userBox .userBoxCover .menu ul li {
  float: left;
  color: #C3D6E8;
  padding: 2vw 4vw;
  border: 1px #C3D6E8 solid;
  margin: 3vw;
  border-radius: 2px;
}
.userBox .userBoxCover .menu ul li.express_love {
  color: #ff7192;
  border-color: #ff7192;
}

.userBox .userBoxCover .menu ul li.send_gift {
  color: #F9831A;
  border-color: #F9831A;
}
.userBox .reflectionBox {
  background: #000;
}
.userBox .reflectionBox .reflection {
  display: block;
  width: 100%;
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  opacity: 0.85;
}
.userBox .userTip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: inline-block;
  padding: 5px 8px;
  color: #ccc;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  bottom: 30px;
  margin: 0px auto;
}
.bp-font-color {
  color: #f19149;
}
.bp-font-color2 {
  color: white;

}
.bp-bg-color {
  background-color: #ffe7ba;
}
.right_index {

  position: fixed;
  bottom: 15%;
  z-index: 4;
}

.right_index ul li {
  width: 3rem;
  height: 3rem;
  background-size: 100% 100%;
  margin-top: 2rem;
}
.right_index .wall_menu_hb {
  background-image: url("../right_hb.png");
}
.right_index .wall_menu_bp {
  background-image: url("../right_bp.gif");
}
.right_index .wall_menu_ds {
  background-image: url("../ds.gif");
}
.right_index .wall_menu_video {
  background-image: url("../video_icon_bg.gif");
}

.right_index ul li.wall_menu_gift {
  background-image: url("../gift_icon.png");
}
.right_index ul li.wall_menu_mf {
  background-image: url("../el_icon.gif");
}
.right_index ul li.wall_menu_ty {
  background-image: url("../ty.gif");
}
.right_index .wall_menu_charts{
  background-image: url("../el_icon.gif");
  /*width: 3rem;*/
  /*height: 3.5rem;*/
  /*position: absolute;*/
  /*left: -2%;*/
  /*background-position: center;*/
  /*top: -18.5vh;*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
}

.right_indexs {
  right: 3.5rem;
  position: fixed;
  top: 20%;
  z-index: 4;
}
.right_indexs ul li {
  width: 3rem;
  height: 3rem;
  background-size: 100% 100%;
  margin-top: 2rem;
}
 .right_indexs .wall_menu_chartss{
   background-image: url("../haobang2.png");
   width: 3rem;
   height: 3.5rem;
   position: absolute;
   left: -2%;
   background-position: center;
   top: -14.5vh;
   background-size: contain;
   background-repeat: no-repeat;
}
/*.right_index .wall_menu_wedimg {*/
  /*background-image: url("../video_icon_bg.gif");*/
/*}*/
/*.right_index ul li:nth-child(5) {*/
  /*background-image: url("../images/charts/haobang2.png");*/
  /*width: 3rem;*/
  /*height: 3.5rem;*/
  /*position: absolute;*/
  /*left: -2%;*/
  /*background-position: center;*/
  /*top: -18.5vh;*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
/*}*/

/*.wall_menu_charts{*/
  /*background-image: url("../images/charts/haobang.png");*/
  /*width: 4rem;*/
  /*height: 3.5rem;*/
  /*position: absolute;*/
  /*right: -1%;*/
  /*top: 13.5vh;*/
  /*z-index: 99;*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
/*}*/
.temp_ds_panel {
  overflow: hidden;
}
.ds_panel .mzh_modal_alert_dialog .mzh_modal_alert_body {
  padding: 1rem;
}
.ds_panel{z-index: 999;}
.fl-slide-content {
  overflow: hidden;
}
.fl-slide-content .fl-slide-panel {
  display: block;
  width: 100%;
  background: #f5f5f5;
  border-radius: 1.2vw;
  overflow: hidden;
}
.fl-slide-content .fl-slide-panel .fl-ds-guest,
.fl-slide-content .fl-slide-panel .fl-ds-item {
  position: relative;
  float: left;
  width: 33%;
  padding: 0 0 3vw;
}
.fl-slide-content .fl-slide-panel .fl-ds-guest .fl-ds-guest-img,
.fl-slide-content .fl-slide-panel .fl-ds-item .fl-ds-guest-img,
.fl-slide-content .fl-slide-panel .fl-ds-guest .fl-ds-item-img,
.fl-slide-content .fl-slide-panel .fl-ds-item .fl-ds-item-img {
  width: 90%;
  height: 22vw;
  margin-top: 5%;
}
.fl-slide-content .fl-slide-panel .fl-ds-guest:nth-child(2n),
.fl-slide-content .fl-slide-panel .fl-ds-item:nth-child(2n) {
  background-color: #ededed;
  margin: 0 0.5%;
}
.fl-slide-content .fl-slide-panel .fl-ds-guest:nth-child(4),
.fl-slide-content .fl-slide-panel .fl-ds-item:nth-child(4) {
  margin: 0;
}
.fl-slide-content .fl-slide-panel .fl-ds-guest .fl-ds-guest-mask,
.fl-slide-content .fl-slide-panel .fl-ds-item .fl-ds-guest-mask,
.fl-slide-content .fl-slide-panel .fl-ds-guest .fl-ds-item-mask,
.fl-slide-content .fl-slide-panel .fl-ds-item .fl-ds-item-mask {
  display: none;
}
.fl-slide-content .fl-slide-panel .fl-ds-guest.selected,
.fl-slide-content .fl-slide-panel .fl-ds-item.selected {
  color: #03bd01;
  background: #fff;
}
.fl-slide-content .fl-slide-panel .fl-ds-guest.selected .fl-ds-guest-mask,
.fl-slide-content .fl-slide-panel .fl-ds-item.selected .fl-ds-guest-mask,
.fl-slide-content .fl-slide-panel .fl-ds-guest.selected .fl-ds-item-mask,
.fl-slide-content .fl-slide-panel .fl-ds-item.selected .fl-ds-item-mask {
  display: block;
  border: 2px solid #03bd01;
  width: 96%;
  height: 96%;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1.2vw;
}
.fl-slide-pager {
  margin-bottom: 3vw;
}
.fl-slide-pager ul {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.fl-slide-pager ul li {
  display: inline-block;
  font-size: 0;
  width: 2vw;
  height: 2vw;
  background: #d7d7d7;
  border-radius: 1vw;
  margin-right: 2vw;
}
.fl-slide-pager ul li.on {
  background: #03bd01;
  transform: scale(1.1);
}
.fl-strong {
  color: #03bd01;
}
.fl-template {
  display: none;
}
.fl-hide {
  display: none;
}
.fl-slide-ds-text input {
  padding: 0.5rem;
  width: 90%;
  color: #03bd01;
  font-size: 1.2rem;
  border-color: #03bd01;
  border: 1px solid;
}
.fl-slide-ds-text input::-webkit-input-placeholder {
  color: #03bd01;
}
.ds-content {
  background-size: 100% 100%;
}
.ds-content .ds-title {
  text-align: center;
  display: block;
  color: #fff;
  margin-bottom: 5px;
}
.ds-content .ds-item-img {
  width: 100%!important;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 9px rgba(255, 125, 74, 0.53);
}
.ds-content .ds-item-name {
  margin: 0;
  text-align: center;
  color: #fff;
  margin-top: 9px;
}
.video-content {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.show_video_msg_box {
  display: none;
  height: 100vh;
  z-index: 4;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  overflow-y: auto;
}
.show_video_msg_box video {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
