body{background:#f6f6f6}

/*.wmBgImage{position:fixed; left:0; top:0; width:100%; height:100%; overflow:hidden;}*/
/*.wmBgImage img{max-width:100%; max-height:100%; position:absolute;}*/
/*.wmBgImageCenter img{left:0; top:0; right:0; bottom:0; margin:auto}*/
/*.wmBgImageBottom img{left:0; right:0; bottom:55px; margin:0 auto}*/

/*.row{padding:8px 10px; display:block; min-height:70px; position:relative;}*/
/*.row{padding-right:70px}*/
/*.row .face{width:40px; height:40px; border-radius:50%; position:absolute; left:0; top:0;}*/
/*.row .content{display:block; min-height:70px; margin-top:3px; margin-left:55px;}*/
/*.row .content .name{font-size:12px; display:block; color:#ccc}*/
/*.row .content .time{color:#ccc; margin-left:5px; font-size:12px; font-style:normal}*/
/*.row .content .txt{margin-top:5px; display:inline-block; background:#fff; border:solid 1px #ddd; padding:10px; border-radius:3px; position:relative;}*/
/*.row .content .txt .imArrYou{position:absolute; left:-6px; top:16px;}*/
/*.row .content .txt .txtSpan{font-size:14px; line-height:20px; vertical-align:middle; position:relative; display:inline-block; min-height:20px;}*/
/*.row .content .txt .txtSpan img{}*/
/*.row .content .txt .txtSpan img.bg{display:block; width:70px; height:70px;}*/
/*.row .content .txt .txtSpan img.bg.hasMargin{margin-top:5px;}*/

/*.row .action{display:block; margin:7px 0 0 0;}*/
/*.row.adminer .action,.row.myTxt .action{display:block; margin:7px 0 0 0;}*/

/*.row .action .aDel,.row .action .aBlack,.row .action .aApply{background:#ccc; font-size:10px; border-radius:10px; display:inline-block; padding:1px 6px 1px 6px; color:#fff; float:left}*/
/*.row .action .aApply{background:#1ab700}*/
/*.row .action span:nth-child(2){margin:0 0px 0 10px}*/
/*.row .action span:nth-child(3){margin:0 0px 0 10px}*/

/*.myTxt.row .action{}*/
/*.myTxt.row .content .txt .imArrMe{position:absolute; top:16px; left:-6px; -webkit-transform:rotateY(-180deg)}*/
/*.myTxt.row .content .txt{border:solid 1px #8dc232; background:#b1e866;}*/

/*.loadMore{padding:10px 0; text-align:center; display:none; width:100%; background:#f6f6f6}*/
/*.loadMore.animate{-webkit-animation: opacity 1.5s linear infinite;}*/
/*@-webkit-keyframes opacity {*/
  /*0%{opacity:1}*/
  /*25%{opacity:0.75}*/
  /*50%{opacity:0.5}*/
  /*75%{opacity:0.75;}*/
  /*100%{opacity: 1;}*/
/*}*/
/*.loadMore tt{color:#aaa;}*/

/*.wm_main{padding-bottom:71px; padding-top:10px; background:#f6f6f6}*/
/*.wm_main.isShow{padding-bottom:177px;}*/

/*.foot{position:fixed; left:0; bottom:0; width:100%; z-index:20;}*/
/*._foot{background:#fff; width:100%; padding:10px 10px; border-top:solid 1px #ddd; box-sizing:border-box;}*/
/*.forSend{width:100%; position:relative;}*/
/*.forSendInput{height:30px; margin-left:34px; margin-right:110px; text-align:center; position:relative;}*/
/*.forSend a{width:60px; height:30px; line-height:31px; text-align:center; display:inline-block; font-size:14px; background:#04be02; position:absolute; right:0; top:0px; border-radius:2px; color:#fff;}*/
/*.forSendInput input{width:100%; border:0; border-bottom:solid 1px #ddd; box-sizing:border-box; padding:0 10px; height:30px; line-height:30px;}*/

/*.forAction{width:100%; text-align:center; padding:0px 0 0 0;}*/
/*.forAction.hide{display:none}*/
/*.forAction a{display:inline-block; width:25%; float:left; padding:20px 0 0 0;}*/
/*.forAction a.swp{padding:20px 0;}*/
/*.forAction a p{width:100%; text-align:center; padding-top:5px; font-size:11px; color:#999}*/
/*.forAction a span{width:56px; height:56px; border:solid 1px #ddd; border-radius:4px; display:inline-block; position:relative}*/
/*.forAction a span .onloading{width:30px; height:30px; margin:15px auto}*/
/*.forAction a span .img{width:60px; height:60px;}*/
/*.file{width:100%; height:100%; position:absolute; left:0; top:0; opacity:0}*/
/*.forAction .hasImage{display:none;}*/
/*.showMoneyHasImage .img{width:60px; height:60px;}*/
/*#videoPercent{font-size:16px; display:inline-block; height:60px; text-align:center; line-height:60px; letter-spacing:1px;}*/
/*#videoPercent i{font-style:normal; font-size:9px;}*/

/*.allFace{padding-top:10px;}*/
/*.allFace.hide{display:none}*/
/*.allFace img{width:24px; height:24px; display:inline-block; float:left; margin:5px 8px}*/
/*.faceCover{width:100%; height:100%; position:fixed; left:0; top:0; display:none}*/
/*span.textGreen{color:#04be02; font-size:12px;}*/
/*.row .txtSpan{word-break:break-all;word-wrap:break-word;}*/
/*.forSend span:active{opacity:0.8}*/

/*.userBox{width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.8); z-index:50; display:none; overflow:hidden}*/
/*.userBox .Phone_loading{left:50%; top:50%; margin-left:-80px; margin-top:-80px;  z-index:1;}*/
/*.userBox .userBg{width:100%; visibility:hidden; position:relative; z-index:1}*/
/*.userInfo{width:100%; padding:25px 20px; position:absolute; left:0; bottom:0; box-sizing:border-box; display:none; z-index:2}*/
/*.userInfo .p1{font-size:16px; color:#fff; margin-right:100px;}*/
/*.userInfo .p1 span{margin-left:10px; font-size:14px;}*/
/*.userInfo .p1 span.woman{color:#fd4648}*/
/*.userInfo .p1 span.man{color:#4a78ff}*/
/*.userInfo .p2{margin-top:4px; margin-right:100px;}*/
/*.userInfo .p2 span{color:#eee; font-size:12px; display:inline-block; float:left}*/
/*.userInfo .p3{color:#eee; font-size:12px; margin-top:3px; margin-right:100px;}*/
/*.userInfo a{padding:7px 25px; border:solid 1px #04be02; position:absolute; top:50%; right:20px; display:inline-block; margin-top:-17px; color:#04be02; border-radius:4px; z-index:2}*/
/*.userTip{width:100%; position:absolute; left:0; top:-30px; text-align:center;}*/
/*.userTip span{display:inline-block; padding:5px; color:#ccc; text-align:center; font-size:10px; background:rgba(0,0,0,0.5); border-radius:25px;}*/
/*.userBoxCover{position:absolute; left:0; top:0; width:100%; height:100%; z-index:2; opacity:0}*/
/*.reflection{*/
/*display: block;width:100%; visibility:hidden; */
/*-webkit-transform: scaleY(-1);-moz-transform: scaleY(-1);-ms-transform: scaleY(-1);-o-transform: scaleY(-1);transform: scaleY(-1);*/
/*opacity:0.85; filter:alpha(opacity='85');*/
/*}*/
/*.reflectionBox{background:#000; visibility:hidden}*/
/*.overlay{*/
	/*background-image: -moz-linear-gradient(center bottom, rgb(0,0,0) 1%, rgba(0, 0, 0, 0.5) 100%);*/
	/*background-image: -o-linear-gradient(rgba(0,0,0,0.5) 1%, rgb(0,0,0) 30%);*/
	/*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgb(0,0,0)), color-stop(1, rgba(0, 0, 0, 0.5)));*/
	/*filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColor=0, EndColorStr=#000000);*/
/*}*/

/*.iconTurn{width:20px; height:20px; display:inline-block; background-size:cover; position:absolute; top:50%; right:-30px; margin-top:-10px;}*/
/*.rotate1{-webkit-transform:rotate(90deg)}*/
/*.rotate2{-webkit-transform:rotate(180deg)}*/
/*.rotate3{-webkit-transform:rotate(270deg)}*/

/*.row .content .txt .txtSpan img.advert{display:block; width:100%;}*/
/*.row .content .txt .txtSpan img.advert.hasMargin{margin-top:5px;}*/
/*.signSitRow .content{}*/
/*.signSitRow.row .content .txt{background:#ff4b69; width:100%; border-bottom:0;	border-radius:3px 3px 0 0; box-sizing:border-box; padding-top:6px; padding-bottom:6px}*/
/*.signSitRow.row .content .txt .txtSpan{}*/
/*.signSitRow .content .im{width:0; height:0; border-top:6px solid transparent; border-bottom:6px solid transparent; border-right:6px solid #ff4b69; position:absolute; left:-5px; top:14px}*/
/*.signSitRow.row .content .txtSpan{color:#fff}	*/
/*.signSitRow .iconSignSit{position:absolute; left:5px; top:50%; margin-top:-10px}*/
/*.signSitRow .txtSpan{position:relative; width:100%; overflow:hidden; position:relative;}*/
/*.signSitRow .signSitTxt{margin-left:44px; display:block; font-style:normal; color:#fff; font-size:14px; height:30px; display:table;}*/
/*.signSitRow .signSitTxt .tableSpan{}*/
/*.signSitRow .signSitTxt .tableSpan div{font-size:14px; color:#fff; margin:4px 0 0 0}*/
/*.signSitRow .txtSpan p{font-size:10px; color:#fff;}*/
/*.signSitFoot{width:100%; display:inline-block; background:#fff; padding:12px 10px; box-sizing:border-box; text-align:right; font-size:12px; border:solid 1px #ddd; border-top:0; margin-top:-1px; border-radius:0 0 3px 3px; color:#ff4b69}*/
/*.sitNumber{color:#ff4b69; font-size:12px;}*/
/*.signSitActive a{color:#fff; font-size:12px; font-style:normal; display:inline-block; width:50%; height:100%; float:left; text-align:center; vertical-align:middle; display:-webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align:center; cursor:pointer}*/
/*.signSitActive a tt{color:#fff; display:inline-block; padding-left:20px; position:relative; height:24px; line-height:25px; font-size:14px;}*/
/*.signSitActive a tt b{position:absolute; left:0; top:50%;}*/
/*.signSitActive a tt b.sendWine{margin-top:-7px}*/
/*.signSitActive a tt b.toTalk{margin-top:-5px;}*/
/*.signSitActive{display:inline-block; width:100%; background:#ff4b69; position:absolute; left:0; bottom:0; height:100%; -webkit-transform:translate(0,100%);}*/
/*.forActive{display:inline-block; width:100%;}*/


/*#select,#select2{width:100%; box-sizing:border-box; height:100%; position:absolute; left:0; top:0; text-align:center; opacity:0; -webkit-appearance:none; appearance:none; border:none; font-size:14px; display:inline-block; -webkit-box-sizing:border-box;}*/
/*.signBox{text-align:center; padding:20px 0 0 0}*/
/*.signBox a.setSit{display:inline-block; padding:10px 40px; background:#20c51e; margin-top:20px; color:#fff; border-radius:3px; font-size:12px}*/
/*.signBox a.cancel{display:inline-block; margin-right:15px; font-size:12px; padding:10px 20px;}*/
/*.signBox textarea.hide{display:none}*/

/*.wineList{max-height:200px; overflow-y:auto; padding-bottom:0px}*/
/*.wineList div{position:relative; padding:8px 0; border-bottom:solid 1px #eee}*/
/*.wineList div:last-child{border-bottom:0}*/
/*.wineList div img{width:40px; height:40px; border-radius:3px; position:absolute; left:0; top:8px; z-index:2;}*/
/*.wineList div a{position:absolute; left:0; top:0; width:100%; height:100%; z-index:1; opacity:1;}*/
/*.wineList div p{margin-left:50px; min-height:40px; margin-right:40px}*/
/*.wineList div p span{font-size:12px; color:#333; display:block; height:15px; line-height:15px; overflow:hidden; text-overflow:ellipsis;-webkit-text-overflow:ellipsis; white-space:nowrap; margin-bottom:10px}*/
/*.wineList div p tt{font-size:10px; color:#ff4b69}*/
/*.wineList div i{position:absolute; right:10px; top:50%; margin-top:-10px}*/
/*.noWine{padding:20px 0; text-align:center; width:100%;}*/
/*.lineDiv{text-align:right; font-size:12px; line-height:20px; height:20px; position:relative}*/
/*.myRedBagBox{position:absolute; left:0; top:0;}*/
/*.myRedBagTxt{font-size:12px; line-height:20px; height:20px; position:relative; color:#fb941c}*/
/*#priceBox{position:relative; margin:10px 0 0 0}*/
/*.lineDiv.hide,.myRedBagTxt.hide{display:none}*/
/*.wineSend{display:inline-block; padding:10px 40px; background:#20c51e; margin-top:15px; color:#fff; border-radius:3px; font-size:12px;}*/
/*.wineCancel{display:inline-block; margin-right:15px; font-size:12px; padding:10px 20px;}*/

/*.newActive{background:#ff4b69; color:#fff; display:inline-block; font-size:8px; position:absolute; height:12px; line-height:14px; right:-13px; top:-7px; border-radius:3px; padding:0 3px}*/
/*.signSitRow.row .content .txt{border:solid 1px #ff4b69}*/
/*.signSitFoot{border:solid 1px #ff4b69}*/

/*.row .face{border:0;}*/
/*.row .man .face{border:solid 1px #4a78ff;}*/
/*.row .woman .face{border:solid 1px #ff4b68;}*/
/*.userInfo{display:block}*/
/*.userBoxAllBg{height:100%}*/
/*.swiper-container{height:100%; overflow:hidden;}*/
/*.swiper-slide div.Phone_loading{z-index:1; position:absolute}*/
/*.swiper-slide .Phone_loading .Phone_loading_box{z-index:-1}*/
/*.swiper-pagination-bullet{width:4px; height:4px; background:#fff}*/
/*.swiper-pagination-bullet.swiper-pagination-bullet-active{background:#4a78ff}*/
/*#swiper-pagination1{color:#999}*/
/*#swiper-pagination2{}*/
/*#swiper-pagination2 .swiper-pagination-bullet{background:#888}*/
/*.swiper-pagination-current,.swiper-pagination-total{color:#999}*/
/*#select3,#select4,#select5{width:100%; box-sizing:border-box; height:100%; position:absolute; left:0; top:0; text-align:center; opacity:0; -webkit-appearance:none; appearance:none; border:none; font-size:14px; display:inline-block; -webkit-box-sizing:border-box;}*/
/*.noClickShadow{-webkit-tap-highlight-color:rgba(255,255,255,0);}*/

/*i.iconImAddIcon{z-index:1; position:relative;}*/
/*.iconImAdd{position:absolute; left:0; top:1px; width:28px; height:28px; background:}*/
/*.iconImAdd b{width:28px; height:28px; position:absolute; left:0; top:0; display:inline-block;}*/
/*.iconImAdd b.animate{-webkit-animation: iconImAddAnimate 1.4s linear infinite;}*/
/*@-webkit-keyframes iconImAddAnimate {*/
  /*0%{opacity:1; -webkit-transform:scale(1)}*/
  /*25%{opacity:0.75; -webkit-transform:scale(1.1)}*/
  /*50%{opacity:0.5; -webkit-transform:scale(1.2)}*/
  /*75%{opacity:0.25; -webkit-transform:scale(1.3)}*/
  /*100%{opacity: 0; -webkit-transform:scale(1.4)}*/
/*}*/

.forAction a.notOpen{opacity:0.5;}

#rich{width:100%; position:fixed; left:0; top:0; padding:0px; box-sizing:border-box; background:rgba(0,0,0,0.9); z-index:999; -webkit-transform:scale(1.2); opacity:0}
.richImage{width:40%; height:100%; position:absolute; left:0; top:0; overflow:hidden}
.richImage img{visibility:hidden}

.richInfo{width:60%; margin-left:40%; padding:30px 20px; box-sizing:border-box}
.richInfo.noImage{width:100%; margin-left:0;}
.richTxt{color:#ffa200; font-size:18px; line-height:24px;}
.richTime{color:#fff; font-size:12px; display:inline-block;}
div.richTime{margin-top:18px;}
div.richTime.noText{margin-top:0px;}
tt.richTime{margin-right:10px;}
#richTime{font-weight:normal; color:#ffa200; font-size:12px}
.richUser{position:relative; height:40px;}
.richUser img{width:38px; height:38px; border-radius:50%; position:absolute; left:0; top:0px;}
.richUser img.woman{border:solid 1px #fd4648}
.richUser img.man{border:solid 1px #4a78ff}
.richUser div{margin-left:50px; height:100%; display:table; margin-top:18px}
.richUserName{color:#fff; font-size:12px; display:inline-block; line-height:20px; margin-right:10px;}
.richUserName tt{color:#fff; font-size:12px; line-height:20px; margin-right:10px;}
.richSit{color:#fff; display:inline-block; font-size:12px; line-height:20px;}
.richSit i{font-style:normal; display:inline-block; color:#ffa200; font-size:12px;line-height:20px;}


/*.forAction a{-webkit-tap-highlight-color:rgba(255,255,255,0);}*/

/**{-webkit-tap-highlight-color:rgba(255,255,255,0);}*/

/*!*8-18 start*!*/
/*.onWallTalk,.onWallGame,.tuhaobang{height:34px; background:#fff; border:solid 1px #ddd; border-radius:17px 0 0 17px; display:inline-block; position:fixed; right:-1px; z-index:19; text-align:center; padding:0 35px 0 10px;}*/

/*.onWallTalk tt{display:inline-block; width:14px; height:14px; line-height:14px; background:#ff4b69; color:#fff; font-size:8px; position:absolute; left:-3px; top:-3px; border-radius:50%; text-align:center; display:none}*/
/*.fixedIcon{position:fixed; right:0; top:0}*/
/*.fixedIcon a:nth-child(1){top:20px;}*/
/*.fixedIcon a:nth-child(2){top:70px;}*/
/*.fixedIcon a:nth-child(3){top:120px;}*/
/*.fixedIcon a:nth-child(4){top:170px;}*/
/*.fixedIcon a:nth-child(5){top:220px;}*/
/*.fixedIcon a{height:34px; background:#fff; border:solid 1px #ddd; border-radius:17px 0 0 17px; display:inline-block; position:absolute; right:-1px; z-index:19; text-align:center; padding:0 0px 0 25px;}*/
/*.fixedIcon a span{height:34px; line-height:34px; position:relative; color:#6a6a6a; font-size:12px; width:36px; display:inline-block;}*/
/*.fixedIcon a i{position:absolute; left:9px; top:0px;}*/
/*.fixedIcon a .onWallExamineIcon{left:10px}*/

/*!*8-18 end*!*/

/*#swiper-containerGame .swiper-slide{text-align:center}*/
/*#swiper-containerGame .swiper-slide a{display:inline-block; height:100%}*/
/*#swiper-containerGame .swiper-slide tt{margin-top:4px; display:block}*/

/*.richTxtSpan{font-style:normal; color:#ffa200; font-size:14px}*/

/*.showMoney{position:relative}*/
/*.showMoneyLeft{width:60px; position:absolute; right:0; top:0;}*/
/*.showMoney p{font-size:12px; text-align:center; margin-bottom:8px; color:#999}*/
/*.showMoneyImage{width:60px; height:60px; position:relative; border:solid 1px #ddd;border-radius: 4px; margin:0 auto; text-align:center}*/
/*.showMoneyLeft .iconImImg{}*/
/*.showMoneyImage input{position:absolute; left:0; top:0; width:100%; height:100%; opacity:0}*/
/*.showMoneyRight{width:100%; padding-right:80px; box-sizing:border-box}*/
/*.showMoney .textarea{width:100%; border:solid 1px #ddd; height:100px; padding:10px 10px; box-sizing:border-box; font-size:12px;}*/
/*.showMoneyHasImage{position:relative}*/
/*.showMoneyHasImage .onloading{margin:15px auto}*/

/*!*5/21*!*/

/*.onWall_newIcon{display:inline-block; position:absolute; right:0; top:-15px;}*/
/*.onWall_newIcon a{position:absolute; right:15px;}*/
/*.onWall_newIcon a:nth-child(1){bottom:0;}*/
/*.onWall_newIcon a:nth-child(2){bottom:55px;}*/
/*.onWall_newIcon a:nth-child(3){bottom:115px;}*/
/*.onWall_newIcon a.loveNight_phoneIcon{right:9px; margin-bottom:-3px;}*/


/*打赏样式*/
.dsSelect{width:100%; padding:0 14px; border:solid 1px #ddd; border-radius:4px; font-size:13px; box-sizing:border-box; height:42px; line-height:42px; color:#999;}
.dsSelectUser img{width:28px; height:28px; border-radius:50%; position:absolute; left:0; top:7px}
.dsSelectUser{height:44px; line-height:44px; position:relative; padding-left:38px;}

.dsUser{max-height:310px; overflow-y:auto}
.oneDsUser{padding:10px 5px; position:relative; box-sizing:border-box; border-bottom:solid 1px #eee; display:block;}
.dsUser .oneDsUser:last-child{border-bottom:0;}
.oneDsUser img{position:absolute; width:40px; height:40px; border-radius:50%;}
.oneDsUser p{margin-left:50px; height:40px; overflow:hidden}
.oneDsUser p span{font-size:13px; color:#333; margin:5px 0 1px 0; display:block; height:18px; line-height:18px;}
.oneDsUser p tt{font-size:10px; width:100%; color:#999; display:inline-block; height:18px; line-height:18px;}

.dsThing{border:solid 1px #ddd; padding:2px 10px; box-sizing:border-box; margin-top:12px; border-radius:4px;}
.dsThing a{display:block; position:relative; height:40px; border-bottom:solid 1px #eee; padding:5px 0 5px 30px; color:#999; overflow:hidden}
.dsThing a:last-child{border-bottom:0}
.dsThing a img{position:absolute; width:25px; left:9px;}
.dsThing a span.ds_Icon{position:absolute; top:50%;}
.dsThing a span.dsIcon_battle{left:17px; margin-top:-11px;}
.dsThing a span.dsIcon_mic{left:15px; margin-top:-9px;}
.dsThing a span.dsIcon_bigini{left:10px; margin-top:-8px;}
.dsThing a span.dsIcon_flower{left:8px; margin-top:-9px;}

.dsThing a span.newDsIcon_bigini{left:10px; margin-top:-8px;}
.dsThing a span.newDsIcon_blueRose{left:17px; margin-top:-12px;}
.dsThing a span.newDsIcon_mic{left:17px; margin-top:-12px;}
.dsThing a span.newDsIcon_flowers{left:12px; margin-top:-10px;}
.dsThing a span.newDsIcon_ferrari{left:7px; margin-top:-3px;}
.dsThing a span.newDsIcon_meteor{left:17px; margin-top:-11px;}
.dsThing a span.newDsIcon_perfume{left:12px; margin-top:-11px;}
.dsThing a span.newDsIcon_wine{left:17px; margin-top:-11px;}
.dsThing a span.newDsIcon_crown{left:12px; margin-top:-11px;}
.dsThing a span.newDsIcon_cigarette{left:12px; margin-top:-6px;}
.dsThing a span.newDsIcon_yacht{left:6px; margin-top:-5px;}


.dsThing a p{display:inline-block;}
.dsThing a p b{font-weight:normal; color:#999; display:block; margin:7px 0 4px 0; line-height:14px;}
.dsThing a p tt{font-size:10px; color:#999; display:inline-block; line-height:14px;}
.dsThing a span.ds_price{height:100%; display:inline-block; position:absolute; left:120px; top:50%; margin-top:-19px; line-height:40px; color:#999}

.dsThing a i{display:inline-block; width:10px; height:10px; border-radius:50%; position:absolute; right:20px; top:50%; margin-top:-6px; border:solid 1px #ccc; background:#fff}
.dsThing a.sel p b{color:#333}
.dsThing a.sel span.ds_price{color:#333}
.dsThing a.sel i{border:solid 1px #20c51f; background:#20c51f}

.dsInfo_Txt{font-size:14px; display:inline-block}
.dsInfo_line{width:100%; height:1px; display:block; margin:6px 0 9px 0; background:#eee}
.dsInfo_Show{position:relative; display:block; height:40px; width:100%; overflow:hidden}
.dsInfo_Show img{width:40px; height:40px; border-radius:50%; position:absolute; left:0; top:0; z-index:1}
.dsInfo_Show p{display:table; position:relative; width:100%; height:100%; padding-left:45px; box-sizing:border-box; overflow:hidden}
.dsInfo_Show p tt:nth-child(1){font-size:12px; display:block; margin:2px 0 0 0;}
.dsInfo_Show p tt:nth-child(2){font-size:10px; color:#999;}

#ds{width:100%; position:fixed; left:0; top:0; padding:0px; box-sizing:border-box; background:rgba(0,0,0,0.9); z-index:999; -webkit-transform:scale(1.2); opacity:0}
.richInfo{width:60%; margin-left:40%; padding:30px 20px; box-sizing:border-box}
.richInfo.noImage{width:100%; margin-left:0;}
.dsTxt{color:#fa4872; font-size:18px; line-height:24px;}
.dsTxt tt{color:#fff; font-size:18px; line-height:24px;}
.dsObj{color:#fff; font-size:13px; display:inline-block; padding:6px 20px 4px 20px; border:solid 1px #666; border-radius:4px; margin-top:15px;}
#richTime.dsTime{color:#fff}
.dsPhoneBg_mic{position:absolute; right:0px; bottom:0%; height:90%; max-height:260px;}
.dsPhoneBg_battle{position:absolute; right:20px; bottom:0%; height:90%; max-height:232px;}
.dsPhoneBg_bigini{position:absolute; right:0px; bottom:0%; height:100%; max-height:287px;}
.dsPhoneBg_flower{position:absolute; right:0px; bottom:0%; height:95%; max-height:278px;}

.littleImageBox {
    position: absolute;
    right: 0;
    top: 5px;
    height: 100%;
    text-align: right
}


/*为TA霸屏样式*/
.forTaBp{margin-top:13px; display:block; text-align:center;}
.forTaBp .forTaBpLine{width:100%; height:1px; display:block; margin:0px 0 5px 0; background:#eee}
.forTaBp a{display:inline-block; padding:0 5px; text-align:center; font-size:12px; letter-spacing:1px; color:#999}
.forTaBp img{display:inline-block; width:70px; height:70px; float:left; margin-right:8px;}
.forTaBp .forTaBpTxt{display:block; margin-top:12px; text-align:left}
.allGameIcon{width:100%;}
.gameIcon{text-align:center; width:33.33%; float:left; margin:10px 0}
.gameIcon a{display:inline-block; height:100%;}
.gameIcon tt{margin-top:4px; display:block}

.row .face{width:40px; height:40px; border-radius:50%; position:absolute; left:0; top:0; background:#f6f6f6}
.row>a{position:absolute; left:10px; top:25px; width:40px; height:40px; display:inline-block;}
.row .man .face{z-index:1}
.row .woman .face{z-index:1}

/*未开启大屏幕 按钮*/
.onWall_newIcon1.disabled,.onWall_newIcon2.disabled,.sendCake.disabled{opacity:0.4}
.forAction a.disabled{opacity:0.4}

.oneCake{width:22px; height:22px; background:url(../images/newDsIcon_Birthdaycake.png); background-size:cover; display:inline-block; vertical-align:middle}

/*播放视频*/
#videoBox{position:fixed; left:0; top:0; width:100%; height:100%; z-index:29; display:none;}
._videoBox{position:absolute; left:0; top:0; width:100%; height:100%; justify-content:center; align-items:center; display:-webkit-flex;}
.videoBoxCover{position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5);}
#videoBox video{width:100%; max-height:100%;}
.oneVideoBox{position:relative; display:inline-block;}
.videoPlay{position:absolute; left:50%; top:50%; margin-top:-10px; margin-left:-10px; z-index:1}
.onVideo{width:100%; height:auto; max-height:50%; position:relative; display:inline-block; z-index:1; justify-content:center; align-items:center; display:-webkit-flex;}
.videoClose{position:absolute; right:6px; top:-35px; z-index:1; cursor:pointer;}

/*!*新年图标*!*/
/*.newLantern{display:inline-block; position:absolute; right:0; top:0}*/
/*.lanternDiv{position:absolute; right:0px; bottom:20px; text-align:right}*/
/*.lanternTop{width:70px;}*/
/*.lanternHead{width:12px; position:relative; margin-top:-5px; margin-right:30px}*/
/*.lanternHead.lanternHeadSide{transform:rotateY(180deg); margin:0 auto; display:block; margin-top:-13px}*/
/*.lanternBoxs{width:38px; margin-left:15px; margin-top:-2px; text-align:center}*/
/*.lanternBox{position:relative; display:inline-block; margin-right:0px; z-index:1; background:#f6f6f6; border-radius:50%; border:0; width:38px; height:32px; text-align:center;}*/
/*.lantern{width:38px; position:relative}*/
/*.lanternBg{position:absolute; width:28px; left:5px; opacity:0.7; bottom:1px;}*/

/*.lanternBoxs .lanternBox:nth-child(2){margin-top:12px;}*/
/*.lanternBoxs .lanternBox:nth-child(3){margin-top:12px;}*/

/*.lanternEnd{display:inline-block; margin-top:-3px; width:4px}*/

/*.lanternText_Ba,.lanternText_Shang{position:absolute; width:14px; left:12px; top:7px; z-index:1}*/
/*.lanternText_Hong,.lanternText_Bao{position:absolute; width:10px; left:14px; top:3px; z-index:1}*/
/*.lanternText_Bao{top:14px;}*/

/*._lanternBoxs .lanternBox:last-child .lantern{top:1px}*/
/*._lanternBoxs .lanternBox:last-child .lanternBg{bottom:0px;}*/
/*._lanternBoxs .lanternBox:last-child .lanternText_Ba{top:8px;}*/
/*._lanternBoxs .lanternBox:last-child .lanternText_Shang{top:8px;}*/

/*.lanternBg{animation:animateOpacity 1s infinite;}*/
/*@keyframes animateOpacity*/
/*{*/
/*50% {opacity:0.2}*/
/*100% {opacity:0.7}*/
/*}*/

/*.lanternText_Hong.animateText{animation:animateText 2.5s infinite;}*/
/*.lanternText_Bao.animateText{animation:animateText 2.5s infinite 0.5s;}*/
/*.lanternText_Ba.animateText{animation:animateText 3s infinite 1s;}*/
/*.lanternText_Shang.animateText{animation:animateText 3s infinite 1.5s;}*/
/*@keyframes animateText*/
/*{*/
/*40%{transform:rotateY(360deg) scale(1)}*/
/*55%{transform:rotateY(360deg) scale(1.05)}*/
/*70%{transform:rotateY(360deg) scale(1)}*/
/*85%{transform:rotateY(360deg) scale(1.05)}*/
/*100% {transform:rotateY(360deg) scale(1)}*/
/*}*/
/*.lanternBox2.disabled img,.lanternBox3.disabled img,.sendCake.disabled,.lanternEndBox.disabled{opacity:0.4}*/

/*.loveNightTag{position:absolute; right:0; top:0;}*/
/*.lovebg{max-width:180px;}*/
/*.fixedIcon{position:fixed; z-index:29;}*/

/*!*新的CSS*!*/
/*.getRedBagTxt.row{padding:5px 10px; text-align:center; min-height:0;}*/
/*.getRedBagTxt i{position:relative; top:2px; margin-right:3px;}*/
/*.getRedBagTxt span{height:24px; line-height:24px; display:inline-block; padding:0px 10px; border-radius:10px; background:rgba(0,0,0,0.15); color:#fff; font-size:10px;}*/
/*.onWall_redBagShow tt{display:table; width:100%; height:80px; margin-top:40px; text-align:center; padding:0 10px; box-sizing:border-box;}*/
/*.onWall_redBagShow tt span{display:table-cell; vertical-align:middle; color:#ffde8d}*/

/*!*红包*!*/
/*.inputDiv{position:relative}*/
/*.inputDiv tt{position:absolute; right:10px; display:inline-block; line-height:20px; height:20px; top:50%; margin-top:-10px; font-size:13px;}*/
/*.redBagBox{position:fixed; z-index:999; left:0; top:0; background:rgba(0,0,0,0.5); width:100%; height:100%; text-align:center}*/
/*.redBagBox .table{width:100%; height:100%;}*/
/*.redBagBox .redBoxInfo{position:relative; display:inline-block; z-index:1}*/
/*.redBagBox .redBoxCoover{position:absolute; left:0; top:0; width:100%; height:100%; z-index:0;}*/
/*.redBagBox .redBagBoxClose{position:absolute; top:2%; right:7%; width:30px; height:30px; display:inline-block; z-index:1}*/
/*.onWall_redBagBig{max-width:300px; width:90%; display:inline-block;}*/
/*.redBagBox p{text-align:center; color:#ffde8d}*/
/*.redBagUser{width:60px; height:60px; border-radius:50%; margin-top:30px; margin-bottom:5px;}*/
/*._redBoxInfo{position:absolute; left:0; top:0; width:100%; height:100%; padding:0 30px; box-sizing:border-box; perspective: 800; -webkit-perspective: 800;}*/
/*._redBoxInfo p{margin:5px 0; font-size:12px;}*/
/*.redBagBox .redBoxInfoResult{font-size:18px; margin:20px 0; position:absolute; width:80%; top:138px; left:10%; height:30px; line-height:30px;}*/
/*._redBoxInfo p:last-child{position:absolute; bottom:10px; left:0; display:block; text-align:center; width:100%;}*/
/*.chaiBox{position:absolute; bottom:14.5%; left:35%; width:30%;}*/
/*.redBagBox .chai{width:100%}*/
/*._redBoxInfo p:last-child a{color:#ffde8d}*/
/*._redBoxInfo .arrowRightYellow{position:relative; top:1px; margin-left:5px}*/

/*.redBoxInfo{transform:scale(0.5); opacity:1; min-width:250px; min-height:350px;}*/
/*.redBoxInfo.animate{-webkit-animation:redBoxInfoAnimate 0.5s linear forwards;}*/
/*@-webkit-keyframes redBoxInfoAnimate{*/
  /*0%{opacity:1; transform:scale(0.5)}*/
  /*40%{opacity:1; transform:scale(1.1)}*/
  /*60%{opacity:1; transform:scale(0.9)}*/
  /*80%{opacity:1; transform:scale(1.05)}*/
  /*100%{opacity:1; transform:scale(1)}*/
/*}*/

/*.chaiBox.animate{animation:chaiBoxAnimate 0.8s linear infinite;}*/
/*@keyframes chaiBoxAnimate*/
/*{*/
/*100% {transform:rotateY(360deg)}*/
/*}*/

/*.chaiBox.hide{animation:chaiBoxHide 0.5s forwards;}*/
/*@keyframes chaiBoxHide*/
/*{*/
/*100% {opacity:0}*/
/*}*/

/*!*红包金额*!*/
/*.rbShowMoney{height:50px; margin:20px 0; position:absolute; width:80%; top:142px; left:10%; text-align:center; height:50px; line-height:50px; display:inline-block; color:#ffde8d; font-size:42px;}*/
/*.rbShowMoney i{font-size:12px; color:#ffde8d; font-style:normal; margin-left:4px; position:relative; top:-1px;}*/
/*.numDiv{height:50px; overflow:hidden; margin:20px 0; position:absolute; width:80%; top:142px; left:10%; text-align:center}*/
/*.numDiv .numDivBox{display:inline-block; margin:0 auto; padding-right:16px; height:50px; position:relative;}*/
/*.numDiv span.tNum{width:24.8px; height:50px; line-height:50px; display:inline-block; transform:translate(0,-500px); font-size:42px;}*/
/*.numDiv span.tNum tt{width:100%; height:50px; text-align:center; display:inline-block; font-size:42px; line-height:50px; color:#ffde8d}*/
/*.numDiv span.tPot{width:10px; height:50px; line-height:50px; font-size:42px; display:inline-block; text-align:center; color:#ffde8d}*/
/*.numDiv i{font-size:12px; position:absolute; right:0; bottom:7px; color:#ffde8d; font-style:normal}*/

/*!*今夜不回家阴影*!*/
/*#showLoveCover{position:fixed; left:0; top:0; width:100%; height:100%; z-index:9999; background:rgba(0,0,0,0.5);}*/
/*#showLoveCover span{position:absolute; padding:5px; background:#fff; display:inline-block; border-radius:50%; right:5px; width:50px; height:50px;}*/
/*#showLoveCover span i{margin:7px auto;}*/
/*#showLoveCover img{position:absolute; width:75%; position:absolute; right:70px; bottom:120px; max-width:300px}*/

/*.onWallMain{display:none}*/

/*.forAction .iconImImg{margin:13px auto}*/
/*.forAction .iconBirthdaycake{margin:13px auto}*/
/*.forAction .icon_redbag{margin:14.5px auto}*/
/*.forAction .iconImSign{margin:15px auto}*/