@import "font_cu5mxondkaxrms4i.css";
.showing_panel {
  overflow: hidden;
  height: 100vh;
}
.talk_panel {
  z-index: 4;
  top: 0;
  background-color: #FFFFFF;
  border-radius: 3px;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  /*对话内容*/
}
.talk_panel .talker_info {
  top: 0px;
  background-size: auto 100% ;
  text-align: center;
  z-index: 3;
  padding: 0.5rem 5vw;
  overflow: auto;
  position: fixed;
  width: 90vw;
  /*box-shadow: 1px 1px 1px @c_face;*/
}
.talk_panel .talker_info .avatar {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: #a898e2 solid 1px;
  background-color: #FFFFFF;
  float: left;
  width: 3.5rem;
  height: 3.5rem;
}
.talk_panel .talker_info .scoll_show {
  float: left;
  padding-left: 1rem;
}
.talk_panel .talker_info .scoll_show .nickname {
  text-align: left;
  margin-top: 0px;
  margin-left: 0px;
}
.talk_panel .talker_info .nickname {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin: 0.5rem;
}
.talk_panel .talker_info .talker_tags {
  font-size: 0.90909091rem;
}
.talk_panel .talker_info .talker_tags span {
  padding: 1px 6px;
  border-radius: 2px;
  padding-left: 1.6rem;
  background-position: -0.2rem center;
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}
.talk_panel .talker_info .talker_tags .face_val {
  background-image: url("../face.png");
}
.talk_panel .talker_info .talker_tags .face_val .untest {
  color: #CCCCCC;
  margin: 0px;
  padding: 0px;
}
.talk_panel .talker_info .talker_tags .present {
  background-image: url("../pos.png");
}
.talk_panel .talker_info .man span {
  color: #FFFFFF;
  background-color: #3d9dff;
}
.talk_panel .talker_info .man .gender {
  background-image: url("../icon_man2.png");
}
.talk_panel .talker_info .man .avatar {
  border: #3d9dff solid 0px;
}
.talk_panel .talker_info .woman span {
  color: #FFFFFF;
  background-color: #ff6bb8;
}
.talk_panel .talker_info .woman .gender {
  background-image: url("../icon_woman2.png");
}
.talk_panel .talker_info .woman .avatar {
  border: #ff6bb8 solid 0px;
}
.talk_panel .msg_list {
  overflow-y: scroll;
  padding: 0px 1rem;
  background-color: #ebebeb;
  text-align: center;
}
.talk_panel .msg_list .msg_box {
  overflow: auto;
  margin: 1rem 0px;
}
.talk_panel .msg_list .msg_box .avatar {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  background-color: #FFFFFF;
  float: left;
  width: 3rem;
  height: 3rem;
}
.talk_panel .msg_list .msg_box .content {
  word-wrap: break-word;
  color: #000000;
  max-width: 52vw;
  float: left;
  padding: 0.8rem;
  margin-left: 1rem;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 0px 1px #eee;
  background-color: #ffffff;
  border-radius: 3px;
  font-family: "Microsoft YaHei UI", "微软雅黑", "宋体";
  line-height: 1.4rem;
  font-size: 1.1rem;
  text-align: left;
}
.talk_panel .msg_list .msg_box .content img {
  width: 100%;
}
.talk_panel .msg_list .msg_box .content .say_point {
  width: 6px;
  height: 10.285px;
  display: inline-block;
  background: url(../imArrYou.png);
  background-size: cover;
  position: relative;
  float: left;
  margin-left: -16px;
  margin-top: 4px;
}
.talk_panel .msg_list .msg_box .content.has_img {
  width: 36vw;
}
.talk_panel .msg_list .msg_box .del_msg_ck {
  float: left;
  display: none;
}
.talk_panel .msg_list .msg_list_ctx {
  padding: 6rem 0px;
}
.talk_panel .msg_list .msg_list_ctx .user_unbind {
  margin: 3vw;
  background: #ffffff;
  border: 1px #999999 solid;
  padding: 3vw;
}
.talk_panel .msg_list .mine .avatar {
  float: right;
}
.talk_panel .msg_list .mine .content {
  float: right;
  margin-left: 0rem;
  margin-right: 1rem;
}
.talk_panel .msg_list .mine .content .say_point {
  transform: rotate(180deg);
  float: right;
  margin-left: 0px;
  margin-right: -16px;
}
.talk_panel .msg_list .msg_box_bottom {
  height: 4rem;
}
.talk_panel .msg_list .timestr {
  font-size: 0.9rem;
  text-align: center;
  margin: 0px auto;
  display: inline-block;
  background-color: #CECECE;
  color: #fff;
  border-radius: 3px;
  padding: 0px 3px;
}
.talk_panel .msg_input {
  border-radius: 0px 0px 3px 3px;
  background-color: #F4F4F6;
  box-shadow: 1px -1px 1px #D6D6D6;
  height: 3.5rem;
  line-height: 3.5rem;
  width: 100vw;
  bottom: 0px;
  font-size: 1.1rem;
  transition: 0.35s;
  position: fixed;
  z-index: 9;
}
.talk_panel .msg_input .menu_btn {
  margin: 0px 2vw;
  font-size: 7vw;
  line-height: 3.5rem;
  float: left;
  color: #999999;
}
.talk_panel .msg_input .input_line {
  padding-top: 0.5rem;
}
.talk_panel .msg_input textarea {
  font-size: 1.1rem;
  float: left;
  width: 60vw;
  height: 2rem;
  padding: 0.5rem 10vw 0px 3vw;
  border: 0px;
  background-color: #ffffff;
  border-radius: 3px 0px 0px 3px;
  overflow-x: auto;
}
.talk_panel .msg_input .send_btn {
  border: 0px;
  color: #fff;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #96dd49;
  border-radius: 0px 3px 3px 0px ;
  float: left;
  width: 4.5rem;
}
.talk_panel .msg_input .smile_btn {
  line-height: 2.5rem;
  font-size: 7vw;
  margin-left: -2.5rem;
  float: left;
  color: #FF7F00;
}
.talk_panel .showing_menu {
  height: 10rem;
}
.talk_panel .showing_menu .msg_input_menu {
  display: block;
  float: left;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0px 5vw;
}
.talk_panel .showing_menu .msg_input_menu ul {
  overflow: auto;
  width: 60rem;
}
.talk_panel .showing_menu .msg_input_menu ul li {
  float: left;
  margin: 1.5vw;
  border: 1px #b5b9be solid;
  box-shadow: 0px 0px 3px #EEEEEE;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 0rem 0.3rem  0.4rem 0.3rem ;
  color: #878b90;
  position: relative;
}
.talk_panel .showing_menu .msg_input_menu ul li .icon {
  font-size: 2rem;
  margin: 0px 1rem;
  width: 2rem;
  text-align: center;
  display: inline-block;
}
.talk_panel .showing_menu .msg_input_menu ul li p {
  margin-top: -0.3rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.7rem;
}
.talk_panel .showing_menu .msg_input_menu ul li img {
  width: 16vw;
  float: left;
}
.talk_panel .showing_menu .msg_input_menu ul li .photo_file {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}
.talk_panel .showing_face {
  height: 15rem;
}
.talk_panel .showing_face .msg_input_face {
  float: left;
  padding: 1rem;
  overflow-x: auto;
  width: 100%;
  display: block;
  -webkit-overflow-scrolling: touch;
}
.talk_panel .showing_face .msg_input_face a {
  margin: 2px;
  padding: 1px;
  display: inline-block;
  line-height: normal;
}
.talk_panel .showing_face .msg_input_face img {
  width: 48px;
  height: 48px;
}
.talk_panel .msg_input_menu,
.talk_panel .msg_input_face {
  display: none;
}
.close {
  font-size: 1.8rem;
  opacity: 0.8;
  float: right;
  margin-top: -5px;
  margin-right: -5px;
}
.talking {
  transform: rotateY(0deg);
}
.msg_del_btn {
  display: none;
  position: fixed;
  bottom: 10rem;
  border: 0px;
  color: #fff;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #96dd49;
  border-radius: 3px;
  float: left;
  width: 4.5rem;
}
.show_img_msg_box {
  display: none;
  height: 100vh;
  z-index: 4;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  overflow-y: auto;
}
.show_img_msg_box img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.banding_qrcode_box {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.banding_qrcode_box .banding_qrcode_panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  text-align: center;
  padding: 1rem;
}
.banding_qrcode_box .banding_qrcode_panel span {
  color: #666;
  margin-bottom: 10px;
}
.banding_qrcode_box .banding_qrcode_panel b {
  font-weight: normal;
  float: right;
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 1.2rem;
  color: #666666;
}
.banding_qrcode_box .banding_qrcode_panel img {
  width: 100%;
}
