
body{background-color:#eeeef3;font-weight:300;}
    .icon {
       width: 1em; height: 1em;
       vertical-align: -2px;
       fill: currentColor;
       overflow: hidden;
    }
.weui_actionsheet_menu{min-height:50px;max-height:380px;overflow:auto;}


.weui_tabbar_item {padding: 0px 0 0;}
.weui_tabbar_icon {width: 24px;height: 22px;font-size:18px;color:#666;text-align:center;}
.weui_bar_item_on .weui_tabbar_icon .icon {color: #09BB07;font-size:38px;}
.weui_tabbar_icon .icon {vertical-align: 0px;width: 20px; height: 20px;margin-top:8px;font-size:38px;}
.weui_tabbar .weui_tabbar_label{text-align:center;margin-top: 10px;}

.weui_cell_bd select::-webkit-input-placeholder,
.weui_cell_bd input[type="text"]::-webkit-input-placeholder,
.weui_cell_bd input[type="password"]::-webkit-input-placeholder,
.weui_cell_bd input[type="datetime"]::-webkit-input-placeholder,
.weui_cell_bd input[type="datetime-local"]::-webkit-input-placeholder,
.weui_cell_bd input[type="date"]::-webkit-input-placeholder,
.weui_cell_bd input[type="month"]::-webkit-input-placeholder,
.weui_cell_bd input[type="time"]::-webkit-input-placeholder,
.weui_cell_bd input[type="week"]::-webkit-input-placeholder,
.weui_cell_bd input[type="number"]::-webkit-input-placeholder,
.weui_cell_bd input[type="email"]::-webkit-input-placeholder,
.weui_cell_bd input[type="url"]::-webkit-input-placeholder,
.weui_cell_bd input[type="search"]::-webkit-input-placeholder,
.weui_cell_bd input[type="tel"]::-webkit-input-placeholder,
.weui_cell_bd input[type="color"]::-webkit-input-placeholder,
.weui_cell_bd-field::-webkit-input-placeholder {
  color: #999999;font-size:14px;text-align:right;padding-right:10px;line-height:200%;
}
.weui_cell_bd textarea::-webkit-input-placeholder{color: #999999;font-size:14px;text-align:left;line-height:200%;}

.dayu-badge { display: inline-block;
  padding: .15em .4em;
  min-width: 8px;
  border-radius: 3px;
  color: #FFFFFF;
  line-height: 1.2;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}
.dayu-badge.weui_btn_default{background-color:#aaa;}



.record-control {
    text-align: center;
    margin-bottom: 20px;
}
.record-time {line-height:35px;
    text-align: center;
}
.record-prompt{line-height:20px;}
.record-play-btn, .record-start-btn, .record-stop-btn {
	background-color:#2196f3;
    border-radius: 50%;
	padding:5px;
	width:35px;height:35px;
}
.record-start-btn {
    background-size: cover;
}
.record-stop-btn {
	background-color:#e53935;
    display: none;
}
.send-control {text-align: center;display: none;}
.send-record-btn, .send-success {
    border: none;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    padding: 8px 16px;
    background: #18B4ED;
    color: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}
.send-success {background: #04b702;}
.voice .weui_cell_hd{width:60%;}
.weui-avatar{position:relative;width:50px;height:50px;border-radius:50%;display:inline-block;vertical-align:middle;margin-right:13px;}
.weui-avatar-img1{position:relative;width:50px;height:50px;border-radius:50%;display:inline-block;}
.weui-avatar-img2{position:absolute;width:20px;height:20px;right:0;bottom:0;}
.img-resp {display: block;max-width: 100%; }

.back_up{
    display: none;
    position: fixed;
    right: 5px;
    bottom: 5px;
}
.back_up:before{
    font-size: 40px;
}
.back_up.show{
    display: block;
}

.ico_scored, .ico_scored strong{background: url(../images/star2.png) repeat-x; background-size: 13px auto;border-radius:2px;}
.ico_scored{display: inline-block;width: 65px; height: 13px; background-position: 0 -14px; margin-top: 0px;border-radius:2px;}
.ico_scored strong{display: block; width: 0; height: 13px; background-position: 0 0;}
.ico_scored .score_1{width: 13px;}
.ico_scored .score_2{width: 26px;}
.ico_scored .score_3{width: 39px;}
.ico_scored .score_4{width: 52px;}
.ico_scored .score_5{width: 65px;}
.ico_score, .ico_score strong{background: url(../images/star2.png) repeat-x; background-size: 17px auto;border-radius:2px;}
.ico_score{display: inline-block;width: 85px; height: 17px; background-position: 0 -18px; margin-top: 3px;border-radius:2px;}
.ico_score strong{display: block; width: 0; height: 17px; background-position: 0 0;}
.ico_score .score_1{width: 17px;}
.ico_score .score_2{width: 34px;}
.ico_score .score_3{width: 51px;}
.ico_score .score_4{width: 68px;}
.ico_score .score_5{width: 85px;}


