{template '_header'}
<style>
.log { font-size:0.7rem;}
.log ul{display: -webkit-box;display: -webkit-flex;display: flex;line-height: 1.5rem;border-bottom: 1px solid #ccc;color: #999;background: #fff;}
.log ul:first-child{border-top: 1px solid #ccc;margin-top: 1rem;}
.log ul li{width: 33.333333%;text-align: center;list-style-type:none;text-overflow: ellipsis;/*超出部分省略*/white-space: nowrap;/*强制不换行*/overflow:hidden; /*超出部分隐藏*/}
.pagination li{ float:left; padding:5px; border:1px solid #ddd;list-style-type:none; margin:5px;}
.pagination .active{ background:#ccc;}
</style>
    <div class='fui-content member-page navbar'>
        <div class="log">
        	<ul style="color:#24b2f4; font-weight:bold;">
              <li>昵称</li>
              <li>签到总天数</li>
              <li>连续签到天数</li>
              <!--li>获得余额</li>
              <li>获得积分</li-->
            </ul>
           {loop $list $row}
            <ul>
              <li>{$row['nickname']}</li>
              <li>{$row['totalday']}天</li>
              <li>{$row['continueday']}天</li>
              <!--li>{if empty($row['credit2'])}0.00{else}{$row['credit2']}{/if}元</li>
              <li>{if empty($row['credit1'])}0.00{else}{$row['credit1']}{/if}积分</li-->
            </ul>
           {/loop}  
        </div>
        {$pager}
    </div>
{template '_footer'}