{template '_header'}
<style>
        .danmu {display: none;opacity: 0;}
        .up{width: 100%;overflow: hidden;color:#999;}
        input{border:none;border-radius: 0px;line-height: 1rem;border: 1px solid #ccc;}
        .submit{display: block;line-height: 1.5rem;margin: 5rem auto;text-align: center;width: 50%;color: #5c5c5c;background: #fff;height:1.5rem;border: 1px solid #ccc;}
</style>
    <div class='fui-content member-page navbar'>
        <div class="up">
            <form action="{php echo $this->createMobileUrl('bind') }"  method="post"  onsubmit="">
                <div style="margin-top: 1.5rem;overflow: hidden;">
                    <ul style="width: 40%; float: left; text-align: right;line-height: 1.4rem;">
                        <li>手机号：</li>
                        <li style="margin-top: 0.5rem;"></li>
                    </ul>
                    <ul style="width: 60%;overflow: hidden;line-height: 1.35rem;">
                        <li><input type="text" placeholder="输入绑定手机号" name="mobile" style="text-indent: 1rem"></li>
                        <li ></li>
                        <li style="margin-top:0.5rem; color:#FF0000;"  id="msgerr"></li>
                    </ul>
                    <ul style="width: 90%; list-style:none;margin:0 auto; text-align:center;line-height: 1.4rem;">
                     <li style="margin-top: 0.5rem; color:#FF0000;">注意：必须填写真实在翼支付注册的手机号，否则无法赠送话费</li>
                    </ul>
                </div><input  type="hidden"   name="action"        value="add"    />
                <input  type="submit"  class="submit" value="确认绑定"    style="font-size:1em;"> 
            </form>
        </div>
    </div>
{template '_footer'}