      <!-- UserInfo -->
       <div id="js_main" class="profile_hd">
        <div class="inner">
          <img class="profile_logo" src="{php echo preg_replace('/\/0$/', '/96', stripslashes($fans['avatar']));}">
          <div class="profile_name">{$fans['nickname']} </div>

            <div class="profile_extra">
                <span class="verify_name">关注时间：{if $fans['follow']}{php echo date('Y-m-d H:i:s',$fans['followtime'])}{else}未关注{/if}</span>
            </div>

          <div class="data_overview">
            <ul class="overview_list">
              <li class="overview_item">
              <a href="{php echo $this->createMobileUrl('mfan1',array('pid'=>$pid,'uid'=>$fans['uid']));}">
              
                <p class="desc r_line">
                  粉丝数
                </p>
                <p class="number">{$count}</p>
                </a>
              </li>
              <li class="overview_item">
                <p class="desc">
                  总{if $cfg['hztype']<>''}{$cfg['hztype']}{else}积分{/if}                </p>
                <p class="number">{php echo number_format($credit)}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

        <!-- MenuLiks -->
      <div class="profile_fun">

            <ul id="js_menu" class="menu_list">
                <li class="menu_item fans_record">
                    <a href="{php echo $this->createMobileUrl('records',array('pid'=>$pid,'uid'=>$uid));}" class="inner_item">
                        <span class="icon_menu"></span>
                        <p class="text_menu">我的{if $cfg['hztype']<>''}{$cfg['hztype']}{else}积分{/if}</p>
                     </a>
                </li>

                 <li class="menu_item swap_record">
                    
                    {if $cfg['AppKey']<>''}
                        <a href="{php echo $this->createMobileUrl('duibagoods');}" class="inner_item">
                    {else}
                        <a href="{php echo $this->createMobileUrl('Goods',array('pid'=>$pid,'uid'=>$uid));}" class="inner_item">
                    {/if}
                        <span class="icon_menu"></span>
                        <p class="text_menu">兑换中心</p>
                     </a>
                </li>

                 <li class="menu_item rank_record">
                    <a href="{php echo $this->createMobileUrl('ranking',array('pid'=>$pid,'uid'=>$uid));}" class="inner_item">
                        <span class="icon_menu"></span>
                        <p class="text_menu">{if $cfg['paihang']==0}{if $cfg['hztype']<>''}{$cfg['hztype']}{else}积分{/if}{else}兑换{/if}排行</p>
                     </a>
                </li>

            </ul>
      </div>