<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- Mobile Devices Support @begin -->
    <meta content="application/xhtml+xml; charset=utf-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Mobile Devices Support @end -->
    <meta name="keywords" content="积分宝">
    <meta name="description" content="积分宝">
    <title>我的{if $cfg['hztype']<>''}{$cfg['hztype']}{else}积分{/if}</title>
    <link rel="stylesheet" type="text/css" href="../addons/wdl_jifenbao/css/ui.css?v20151117">
    <link rel="stylesheet" type="text/css" href="../addons/wdl_jifenbao/css/style.css?v20151117">
  <!-- Gem style -->
  <script src="../addons/wdl_jifenbao/js/jQuery-2.1.4.min.js"></script></head>

  

  <body>

    <div class="wrp">

{template $mbstyle.'/head'}

      <style>
.score1 {color:green;}
.score0 {color:red;}
</style>

    <!-- TableList -->
    <section id="cd-table">
        <div class="cd-table-container">
          <div class="cd-table-wrapper">
            <ul>
                <li class="cd-table-column">
                <div class="scoreid">
                    <b>ID</b>
                </div>
                <div class="type">
                    <b>{if $cfg['hztype']<>''}{$cfg['hztype']}{else}积分{/if}来源</b>
                </div>
                <div class="score">
                    <b>数量</b>
                </div>
                <div class="update">
                <b>增加时间</b>
                </div>
                </li>
{loop $records $key $r}
                <li class="cd-table-column">
                <div class="scoreid">{php echo $key+1}</div>
                <div class="type">{php echo cutstr($r['remark'],6)}</div>
                <div class="score score1">{php echo number_format($r['num'])}</div>
                <div class="update">{php echo date('Y-m-d H:i',$r['createtime'])}</div>
                </li>
{/loop}  
            </ul>
            </div> <!-- cd-table-wrapper -->
        </div> <!-- cd-table-container -->
    </section> <!-- cd-table -->
      {template $mbstyle.'/bottom'}

    </div>

    <div class="clearfix"></div>

  
</body><iframe id="__WeixinJSBridgeIframe_SetResult" style="display: none;"></iframe><iframe id="__WeixinJSBridgeIframe" style="display: none;"></iframe></html>