html{min-height:100%;}
body{width:100%; min-width:320px;}
/*-------header-------*/
#header{display:none;width:100%; height:52px; line-height:52px; text-align:center; color:#fff;font-size:20px; font-weight:bold; background:#22292c; position:relative; z-index:10;}
#header_nav{display:block;width:100%; height:52px; line-height:52px; text-align:center; color:#fff;font-size:20px; font-weight:bold; position:relative; z-index:10;background:url(../images/header_bg.png?v=1) no-repeat;background-size: cover;}
#header_nav a{display:block; position:absolute; z-index:20; color:#fff; font-size:18px; font-weight:bold;}
#header_nav a.navBtn{width:25px; height:25px; line-height:40px; left:12px; top:13px; z-index:20;background:url(../images/more_btn.png) no-repeat;background-size:cover;}
/*-------content---------*/
/*********home************/
.homeMain{width:100%; height:auto; overflow:hidden;background:#f5f5f5;}
.homeTab{ border-collapse:collapse;}
.homeTab td{ text-align:center; vertical-align:middle; }
.homeItem{width:100%; text-align:center; border-width:1px; border-style:solid; border-color:#fff #d2d2d2 #d2d2d2 #fff;}
.homeItem a{display:block; width:100%; height:100%;padding:10px 0px;}
.homeItem img{ display:block; width:70px; height:70px; margin:0px auto;}
.homeItem span{width:100%; height:26px; line-height:26px; text-align:center; color:#575757; font-size:14px;}

/**********登录**********/
#loginLayer{ background:#ffffff;min-height:100%;}
.logo{width:100%; height:auto; overflow:hidden; text-align:center; margin-top:40px;}
.logo img{width:250px; height:auto; display:block; margin:0px auto;}
.loginMain{padding:20px; height:auto; overflow:hidden; margin-top:8px;}
.loginbar{ padding:20px; height:95px; background:rgba(255,255,255,0.4); border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px; position:relative; z-index:10; box-shadow:0px 3px 0px rgba(0,0,0,.0);}
.loginbar:after{content:'';width:0px; position:absolute; top:-12px; left:50%; margin-left:-6px; height:0px;border-left:12px solid transparent;border-right:12px solid transparent;border-bottom:12px solid #fff;font-size:0px;line-height:0px;opacity:.4;}
.loginbar li{ height:40px; width:100%; margin-bottom:15px;}
.loginbar li:last-child{ margin-bottom:0px;}
.loginbar li .text{ width:100%; height:40px; line-height:40px; border:0px; border-bottom:1px solid #bab8b5;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px; background-color:#fff; background-image:url(../images/icon.png?v1); background-repeat:no-repeat;}
.loginbar li.account .text{ background-position:6px -76px; text-indent:36px;}
.loginbar li.password .text{ background-position:6px -128px; text-indent:36px;}
.homeBut{padding:40px; height:auto; overflow:hidden;}
.homeBut li{ width:100%; height:46px; margin-bottom:25px;}
.homeBut li a{padding:0px;text-align:center; height:46px; line-height:46px; display:block;color:#fff;font-size:16px; font-weight:bold;}
.homeBut li a.loginBtn{ background:#016d9c; border:2px solid #016d9c;}
.homeBut li a.registerBtn{ border:0px solid #fff; background:none;color:#016d9c;}

/***********注册***********/
.registerMain{ padding:20px 15px;height:auto; overflow:hidden; background:#ffffff; margin-top:20px;}
.registerMain li.registerLi{width:100%; height:46px; line-height:46px; border:0px; border-bottom:1px solid #bcbcbc; background:#fff; -webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;border-radius:6px;-o-border-radius:6px; margin-bottom:10px; display:box;display:-webkit-box;display:-ms-box;display:-moz-box;display:-o-box;}
.registerMain li.registerLi span{width:auto; height:46px; line-height:46px; display:block; padding-left:10px; color:#a7a6a6;}
.registerMain li.registerLi p{ width:100%; height:46px; line-height:46px; box-flex:1; -webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1; }
.registerMain li.registerLi input{width:100%; height:45px; line-height:45px;border:none;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;border-radius:6px;-o-border-radius:6px;}
.registerMain li.registerCode{width:100%; height:46px; line-height:46px; margin-bottom:10px; display:box;display:-webkit-box;display:-ms-box;display:-moz-box;display:-o-box;}
.registerCodeL{width:100%; height:46px; line-height:46px; box-flex:1; -webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1; border:none;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;border-radius:6px;-o-border-radius:6px;border:0px; border-bottom:1px solid #bcbcbc; background:#fff; position:relative; z-index:10;}
.registerCodeL span{width:auto; height:46px; line-height:46px; display:block; padding-left:10px; position:absolute; top:0px; left:0px; z-index:20;color:#a7a6a6;}
.registerCodeL input{ width:100%;height:45px; line-height:45px; text-indent:66px; border:none;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;border-radius:6px;-o-border-radius:6px;}
.registerCodeR{ width:90px;height:46px; line-height:46px;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;border-radius:6px;-o-border-radius:6px;border:1px solid #bcbcbc; background:#fff; margin-left:12px;}
.registerCodeR input{width:100%; height:100%; background:none; border:none; color:#7d7d7d;}
.registerBut{ padding:10px;}
.registerBtn{width:100%;height:46px; line-height:36px; background:#016d9c; color:#fff; font-size:18px; border:1px solid #016d9c;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;border-radius:6px;-o-border-radius:6px;}

/********预约********/
.banner{width:100%; height:auto; overflow:hidden;}
.banner img{ width:100%; height:auto; display:block; overflow:hidden;}
.subscribeMain{padding:0px 10px;height:285px; margin-top:12px; border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; background:#fff;}
.subscribeMain li{ padding:8px 0px; width:100%; height:30px; line-height:30px; overflow:hidden;border-bottom:1px solid #cfcfcf; display:box; display:-moz-box; display:-webkit-box; display:-ms-box; display:-o-box;}
.subscribeMain li span{ display:block; width:auto;}
.subscribeMain li .text{ height:32px; line-height:32px; border:0; width:100%; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; -ms-box-flex:1; -o-box-flex:1; color:#404040;}
.subscribeMain li:last-child{ border-bottom:none;}
.subscribeBtn{ padding:2px 35px; height:50px; margin:10px 0px;}
.subscribeMitBtn{width:100%; height:50px;background:#016d9c; color:#fff; border:1px solid #016d9c; border-radius:6px; -o-border-radius:6px; -ms-border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; font-size:16px; font-weight:bold;}

/********产品介绍********/
.productMain{width:100%;height:auto; overflow:hidden;border-top:1px solid #cfcfcf; background:#fff; margin-bottom:10px;}
.productMain ul{padding:0px 0px;}
.productMain li:nth-child(even) { background:#edf3f4;}
.productMain li{ padding:10px 10px; width:100%; min-height:20px; line-height:20px; overflow:hidden; color:#000;}
.productMain li:last-child{ border-bottom:none;}
.productMain dl{ height:auto; overflow:hidden;margin:10px 10px;background:#fff;
border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px;
}
.productMain dt{margin:0px 10px; height:40px; line-height:40px; border-bottom:1px solid #cfcfcf;}
.productMain dt span{display:block; width:104px; text-align:right; height:40px; background:url(../images/icon_7.png) 0px 7px no-repeat; background-size: 26px 24px; color:#29bde5; font-size:18px;border-bottom:1px solid #cfcfcf; }
.productMain dd{ margin:0px 10px; height:auto; overflow:hidden;  padding: 5px;}
.productMain dd p{ line-height:24px; color:#313538;}
.productMain dd:last-child { border-bottom:none; color:#000; }
.productMain dd:last-child a { color:#000; }
.productMain dd img{ display: block; width: 100%; height: auto; overflow: hidden;}
.productBtn{padding: 0px; height:24px; line-height:24px; border-top:0px solid #cfcfcf; }
.productBtn i{height:9px;width:9px; display:block; border: #cccccc solid;border-width: 3px 3px 0px 0px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-mz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);float:right;margin:6px 0px 0px 0px;}
#productMenu { height: 3000px;  width: 0;  background: #ececec;  position: fixed;  top: 0;  left: 0;  z-index: 101;  overflow: hidden;}
#productMenu .cat_highlight {background:#0577b3; background-size:cover;}
#productMenu .cat_highlight a {color:#fff;}
#productMenu .logo{width:100%; height:auto; overflow:hidden; text-align:center;margin-top:0px;}
#productMenu .logo img{width:140px; height:auto; display:block; margin:20px auto;}
/******* 我的活动 *****************/
.orderMain{ padding:10px; height:auto; overflow:hidden; }
.orderMain dt{ width:100%; height:34px; line-height:34px; border-bottom:1px solid #d9d9d9; font-size:16px;color:#000;}
.orderMain dd{ padding:10px 10px 0px;height:auto; overflow:hidden; margin-top:10px; background:#ecf3f8;}
.orderMain dd a{ display:block; width:100%; height:100%; overflow:hidden; position:relative; z-index:10;}
.orderMain dd img{width:100%; height:auto; display:block;}
.orderMain dd p{width:100%; height:40px; line-height:40px; color:#000; font-size:16px;}
.orderMain dd i{ position: absolute; width: 110px; text-align: center; height: 26px; line-height: 26px; background: #2ace19; color: #fff; font-style: normal; display: block; top: 16px; right: -27px;box-shadow:0px 3px 2px rgba(0,0,0,0.4);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-mz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg); background: #fa120d;}
.liveRecommendMain{ padding:0px 10px; height:auto; overflow:hidden; }
.liveRecommendMain dt{ width:100%; height:34px; line-height:34px; border-bottom:1px solid #d9d9d9; font-size:16px; color:#000;}
.liveRecommendMain dd{ padding:0px;height:auto; overflow:hidden; margin-top:10px;}
.liveRecommendTab td{ text-align:center; vertical-align:top; }
.liveRecommendItem{width:100%; text-align:center;}
.liveRecommendItem a{display:block; width:100%; height:100%;}
.liveRecommendItem img{ display:block; width:90px; height:90px; margin:0px auto;}
.liveRecommendItem span{width:90px; height:auto; overflow:hidden; margin:5px auto 0px; display:block; line-height:16px; text-align:center; color:#333; font-size:12px;}
.onlineLiveMain{ padding:10px 10px; height:auto; overflow:hidden; }
.onlineLiveMain dt{ width:100%; height:34px; line-height:34px; border-bottom:1px solid #d9d9d9; font-size:16px; color:#000; margin-bottom:8px;}
.onlineLiveMain dd{padding:10px; height:auto; overflow:hidden; background:#ecf3f8; margin-bottom:8px;}
.onlineLiveMain dd a{display:block;}
.onlineLiveMain dd img{width:70px; height:70px; display:block; float:left; margin-right:8px;}
.onlineLiveMain dd aside{ font-size:16px; color:#000; height:24px; line-height:24px;}
.onlineLiveMain dd article{ font-size:12px;}


/**************微文章***************/
#article_body{background:#fbfbfb;}
.articleMain{ width:100%; height:auto; overflow:hidden; padding-bottom:10px;}
.articleItem{ margin:0px 0px;padding:8px 15px 15px; height:auto; overflow:hidden; border-bottom:0px solid #b7b7b7;border-top:8px solid #F1F1F1;}
.articleItem dt{width:100%; height:40px; line-height:40px; font-size:18px; color:#000;}
.articleItem dd img{width:100%; height:auto; overflow:hidden; display: block;}
.articleItem dd {border-left:1px solid #b7b7b7;border-right:1px solid #b7b7b7;}
.articleItem dd:last-child{ border-bottom: 1px solid #b7b7b7;}
.articleItem dd:first-child{ border-top: 1px solid #b7b7b7;}
.articleItem dd p{ line-height:20px; padding:8px 10px;}
.moreBtn{padding: 0px; height:40px; line-height:40px; background:#fff;border-top:1px solid #cfcfcf;border-bottom:0px solid #cfcfcf;}
.moreBtn a{width:100%; height:100%; display:block; position:relative; z-index:10; color:#000; text-indent:16px; font-size:16px;}
.moreBtn i{height:9px;width:9px; display:block; border: #cccccc solid;border-width: 3px 3px 0px 0px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-mz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);
  position:absolute; top:14px; right:18px; z-index:20;}


.articleItem2{ padding:8px 15px 0px; height:auto; overflow:hidden; border-bottom:1px solid #b7b7b7;}
.articleItem2 dt{width:100%; height:40px; line-height:40px; font-size:18px; color:#000;}
.articleItem2 dd img{width:100%; height:auto; overflow:hidden;}
.articleItem2 dd p{ line-height:20px; padding:8px 0px;}

.articleItemPlain{ margin:0px 0px; padding:8px 16px; height:auto; overflow:hidden; border-top:8px solid #F1F1F1;}
.articleItemPlain dt{width:100%; height:auto; line-height:24px; font-size:18px; color:#000;}
.articleItemPlain dd p{ line-height:20px; padding:6px 6px; text-align:right; display:block;}


#articleBodyRound {background:#f1f1f1;}
.articleMainRound { width:92%;; margin:0 auto; height:auto; overflow:hidden; padding:10px 10px;}
.articleItemRound:first-child { margin:10px 0px 0px 0px; }
.articleItemRound { height:auto; overflow:hidden; background:#fff; margin:20px 0px;
border-radius: 6px;-webkit-border-radius: 6px;-ms-border-radius: 6px;-moz-border-radius: 6px;-o-border-radius: 6px;}
.articleItemRound dt { width:100%; height:40px; line-height:40px; font-size:18px; color:#000;text-align:center;}
.articleItemRound dd img { width:100%; height:auto; overflow:hidden; display: block;}
.articleItemRound dd p { line-height:20px; padding:8px 10px;}


/**************活动内容***************/
.activityMain{ width:100%; height:auto; overflow:hidden; padding-bottom:70px;}
.activityItem{ padding:8px 15px 0px; height:auto; overflow:hidden; }
.activityItem dt{width:100%; height:40px; line-height:40px; font-size:18px; color:#000; }
.activityItem dd img{width:100%; height:auto; overflow:hidden;padding:8px 0px;}
.activityItem .titleImg{border-bottom:1px solid #bcbcbc; margin-bottom:12px;}

.activityFooter{ overflow:hidden; height:auto; padding:0 60px;}
.activityFooter li {width:100%;height:46px;margin-bottom:24px;}
.activityFooter li .registerBtn{width:100%;height:46px; line-height:46px; background:#016d9c; color:#fff; font-size:18px; border:1px solid #016d9c;-webkit-border-radius:6px;-moz-border-radius:6px;-ms-border-radius:6px;border-radius:6px;-o-border-radius:6px;display:block;text-align:center;}


/**************理财师预约***************/
#appointHeader{display:block;width:100%; height:52px; line-height:52px; text-align:center; color:#000; font-size:20px; font-weight:bold; position:relative; z-index:10;background:url(../images/header_bg_gray.png) no-repeat;background-size: cover;}
#appointHeader .navBtn{display:block; position:absolute; z-index:20; color:#fff; font-size:18px; font-weight:bold;}
#appointHeader .navBtn{width:20px; height:20px; line-height:40px; right:18px; top:8px; z-index:20;background:url(../images/down_btn.png) no-repeat;background-size:cover;}
#appointHeader select{position:absolute;width:100%; height:20px; line-height:40px; right:18px; top:16px; z-index:20;background:url(../images/down_btn.png) no-repeat;background-size:cover;opacity:0;filter: alpha(opacity: 0;);z-index:21;}
.appointMain{ padding:5px 10px; height: auto; overflow: hidden; margin: 0px; background: #fff; border-top: 0px solid #b7b7b7;border-bottom: 1px solid #b7b7b7;}
.appointItem{width: 100%; height: auto; overflow: hidden; padding: 10px 0px;border-bottom: 1px solid #b7b7b7; display: box; display: -moz-box;display: -webkit-box;display: -ms-box;display: -o-box;}
.appointItem:last-child{ border-bottom:0px;}
.appointItemL{width: 80px; height: 90px; overflow:hidden; margin-right: 8px;}
.appointItemL img{width:80px; height: auto; display: block;}
.appointItemL a{ display: block;width:80px; height: 90px; overflow:hidden;}
.appointItemR{width: 100%; height: 90px; box-flex:1; -webkit-box-flex:1;-o-box-flex:1;-moz-box-flex:1;-ms-box-flex:1; position: relative; z-index: 10;}
.appointItemR p{ width: 100%; height: 28px; line-height: 28px; overflow: hidden; text-overflow: ellipsis; white-space: normal; color: #404040;}
.plannerName{ font-size: 20px; color: #000; font-weight: bold;}
.appointBut{ width: 100%; height: 28px; line-height: 28px; position: absolute; left: 0px; bottom: 0px; z-index: 20;}
.address{ float:left; display:block; height:28px; line-height:28px;color:#000;}
.appointBtn{ width:88px; height:28px; line-height:28px; display:block; float:right; text-align:left; color:#fff; background:#016d9c; border-radius:4px;-ms-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;text-align:center;}
.appointBtn:visited{color:#fff;}

/************产品***********/
#product_body{ background:#fff;}
.product_Main{width:100%; height:auto; overflow:hidden;}
.productNav{ padding:10px 0px 6px; height:auto; overflow:hidden;background:linear-gradient(top, #ffffff,#ebebeb);background:-moz-linear-gradient(top, #ffffff,#ebebeb);background:-o-linear-gradient(top, #ffffff,#ebebeb);  background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));border-bottom:1px solid #c8c8c8;text-align:center;}
.productNav a{ display:inline-block; padding:8px 14px; background:#f7f7f7; border-width:1px 1px 1px 1px; border-style:solid; border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;-webkit-border-radius:2px; margin:0px 4px 6px; color:#000;}
.productNav_1{ border-color:#a1a4a2;}
.productNav_2{ border-color:#7baab8;}
.productNav_3{ border-color:#afcdd6;}
.productNav_4{ border-color:#d0afd6;}
.productNav_5{ border-color:#afd6bc;}
.productNav_6{ border-color:#d9c5a6;}
.productNav_7{ border-color:#d2a1b0;}
.productNav_8{ border-color:#8ecbba;}
.productNav_1.cur{ background:#a1a4a2; color:#fff;}
.productNav_2.cur{ background:#7baab8;color:#fff;}
.productNav_3.cur{ background:#afcdd6;color:#fff;}
.productNav_4.cur{ background:#d0afd6;color:#fff;}
.productNav_5.cur{ background:#afd6bc;color:#fff;}
.productNav_6.cur{ background:#d9c5a6;color:#fff;}
.productNav_7.cur{ background:#d2a1b0;color:#fff;}
.productNav_8.cur{ background:#8ecbba;color:#fff;}
.productLayer{width:100%; height:auto; overflow:hidden; margin-top:8px;}
.productItem{width:96%; height:auto; overflow:hidden; margin:0 auto; border-bottom:1px solid #d9d9d9;}
/*
.productTitle{ height:36px; line-height:36px;}
.productTitle b{ text-overflow:ellipsis; overflow:hidden;white-space: normal;height:auto; overflow:hidden; display:box;display:-moz-box;display:-webkit-box;display:-ms-box;display:-o-box;}
.productTitle span{ width:50px; border:1px solid #c8c8c8; margin-bottom: 12px; border-radius: 12px;-webkit-border-radius: 12px;-ms-border-radius: 12px;-moz-border-radius: 12px;-o-border-radius: 12px; text-align:center;line-height:20px; height:20px;margin:8px 20px 0px 0px;}
*/
.productTitle{ height:auto; overflow:hidden;}
.productTitle a{ width:100%; padding:10px 0px 0px 0px; height:auto; overflow:hidden; display:box;display:-moz-box;display:-webkit-box;display:-ms-box;display:-o-box;}
.productTitle .productTitle_L{width:100%; height:auto; display:block; overflow:hidden; box-flex:1; -webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1; margin:0px;}
.productTitle .productTitle_L b{ padding:0px;height:14px; line-height:14px; margin-bottom:12px; overflow:hidden;text-overflow: ellipsis; white-space: normal; color:#474646;}
.productTitle .productTitle_R{ width:30px; height:16px; margin-right:8px;}
.productTitle .productTitle_R img{ width:30px; height:16px; display:block;}


.productBox{ height:auto; overflow:hidden;}
.productBox a{ width:100%; padding:15px 0px; height:auto; overflow:hidden; display:box;display:-moz-box;display:-webkit-box;display:-ms-box;display:-o-box;}
.productBox .productBox_L{width:100%; height:auto; display:block; overflow:hidden; box-flex:1; -webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1; margin:0px;}
.productBox .productBox_L li{ padding:0px;height:14px; line-height:14px; margin-bottom:12px; overflow:hidden;text-overflow: ellipsis; white-space: normal; color:#474646;}
.productBox .productBox_L li:last-child{ margin-bottom:0px;}
.productBox .productBox_R{ width:70px; height:70px; margin-right:8px;}
.productBox .productBox_R img{ width:70px; height:70px; display:block;}

/********我的活动********/
#myActivityHeader{display:block;width:100%; height:52px; line-height:52px; text-align:center; color:#000; font-size:20px; font-weight:bold; position:relative; z-index:10;background:#f0f0f0;}
.locGroup {
  position:relative;
  border:1px solid #d8d6d7;
  width:98%;
  margin: 0px auto;
  top:10px;
  height:32px;
  line-height:32px;
  border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px;
  background:-webkit-linear-gradient(top,#ffffff,#f5f5f5);linear-gradient(top, #ffffff,#f5f5f5);background:-moz-linear-gradient(top, #ffffff,#f5f5f5);background:-o-linear-gradient(top, #ffffff,#f5f5f5);  background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
}
#myActivityHeader .navBtn{display:block; position:absolute; z-index:20; color:#fff; font-size:18px; font-weight:bold;}
#myActivityHeader .navBtn{width:20px; height:20px; line-height:40px; right:18px; top:8px; z-index:20;background:url(../images/down_btn.png) no-repeat;background-size:cover;}
#myActivityHeader select{position:absolute;width:100%; height:20px; line-height:40px; right:18px; top:16px; z-index:20;background:url(../images/down_btn.png) no-repeat;background-size:cover;opacity:0;filter: alpha(opacity: 0;);z-index:21;}

#myActivity_body{ background: #fff;}
.myActivityMain{padding: 10px; height: auto; overflow: hidden;}
.myActivityItem{width: 100%; height: auto; overflow: hidden; padding-bottom: 15px;border-bottom:1px solid #c8c8c8; margin-bottom: 8px;}
.myActivityItem:last-child{ border-bottom: 0px;}
.myActivityT{ font-size: 16px; font-weight: bold; color: #000;width: 100%; height: 30px; line-height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.myActivityC,.myActivityC a,.myActivityC img{ width: 100%; height: auto; overflow: hidden; display: block;}
.myActivityC img{border:1px solid #b7b7b7;}
.myActivityC a{ position: relative;z-index: 10;}
.myActivityC i{ position: absolute; width: 110px; text-align: center; height: 26px; line-height: 26px; background: #2ace19; color: #fff; font-style: normal; display: block; top: 16px; right: -27px;box-shadow:0px 3px 2px rgba(0,0,0,0.4);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-mz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
.myActivityC i.haveAppoint{ background: #fa120d;}

/**********我的推荐**********/
.recommendMain{width:100%;height:auto; overflow:hidden;border-top:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf; background:#fff; }
.recommendMain dl{ width:100%; height:auto; overflow:hidden;}
.recommendMain dt{width:100%; height:46px; line-height:46px; background:#f6f6f6;border-top:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;}
.recommendMain dt span{display:block; width:114px;padding-left: 12px; height:46px; color:#404040; font-size:16px;}
.recommendMain dd{ padding:15px; height:auto; overflow:hidden;}
.recommendMain dd p{ line-height:24px; color:#313538;}
.friendInfo{padding:0px 10px;height:auto; overflow: hidden; margin-top:8px; border-top:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; background:#fff;}
.friendInfo li{ padding:10px 0px; width:100%; height:32px; line-height:32px; overflow:hidden;border-bottom:1px solid #cfcfcf; display:box; display:-moz-box; display:-webkit-box; display:-ms-box; display:-o-box;}
.friendInfo li span{ display:block; width:auto;}
.friendInfo li .text{ height:32px; line-height:32px; border:0; width:100%; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; -ms-box-flex:1; -o-box-flex:1; color:#404040;}
.friendInfo li:last-child{ border-bottom:none;}

/**********走进钜派***********/
.infoMain{padding: 10px; height: auto; overflow: hidden;}
.infoItem{width: 100%; height: auto; overflow: hidden; border-bottom:1px solid #c8c8c8; margin-bottom: 12px; border-radius: 6px;-webkit-border-radius: 6px;-ms-border-radius: 6px;-moz-border-radius: 6px;-o-border-radius: 6px; box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);}
.infoItem:last-child{ border-bottom: 0px;}
.infoT{ color:#479acc;/*color:#016d9c*/; font-size: 16px; font-weight: bold; width: 100%; height: 40px; line-height: 40px; position: relative;}
.infoT span{ margin-left: 8px;}
.infoT span{ width:90%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.infoT a{ display: block; width: 100%; height: 100%; color:#016d9c;}
.infoT:after{content:'';height:9px;width:9px; position: absolute; top: 14px; right: 13px; border: #ddd solid;border-width: 3px 3px 0px 0px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-mz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg); }
.infoC,.infoC a,.infoC img{ width: 100%; height: auto; overflow: hidden; display: block;}
.infoC a{ position: relative;z-index: 10;}

/***********预约理财师************/
#appoint_body{ background: #fff;}
.appointedMain{ box-shadow:0px 3px 4px rgba(199, 188, 188, 0.4);-moz-box-shadow:0px 3px 4px rgba(199, 188, 188, 0.4);;-webkit-box-shadow:0px 3px 4px rgba(199, 188, 188, 0.4); padding:5px 10px; height: auto; overflow: hidden; background: #fff; /*border-top: 1px solid #b7b7b7;border-bottom: 1px solid #b7b7b7;*/margin-bottom:10px;}
.appointedItem{width: 100%; height: auto; overflow: hidden; padding: 10px 0px; display: box; display: -moz-box;display: -webkit-box;display: -ms-box;display: -o-box;}
.appointedItemL{width: 80px; height: 90px; overflow:hidden; margin-right: 8px;}
.appointedItemL img{width:80px; height: auto; display: block;}
.appointedItemL a{ display: block;}
.appointedItemR{width: 100%; height: 90px; box-flex:1; -webkit-box-flex:1;-o-box-flex:1;-moz-box-flex:1;-ms-box-flex:1; position: relative; z-index: 10;}
.appointedItemR p{ width: 100%; height:auto; margin-bottom: 12px; overflow: hidden; line-height:18px; color: #404040;}
.plannerName{ font-size: 20px; color: #000; font-weight: bold;}
.appointeDetails { margin:10px 20px;}
.appointeDetailsT {margin:0px 10px; height:46px; line-height:46px; background:url(../images/icon.png?v1) 0px -272px no-repeat;border-bottom:1px solid #cfcfcf;}
.appointeDetails dl{ height:auto; overflow:hidden;}
.appointeDetails dt{ height:46px; line-height:46px;border-bottom:1px solid #cfcfcf;}
.appointeDetails dt span{display:block; width:114px;padding-left: 46px; height:46px; color:#404040; font-size:16px;}
.appointeDetails dd{ padding:15px; height:auto; overflow:hidden;}
.appointeDetails dd p{ line-height:24px; color:#313538;}
.appointedInfo{height:auto; overflow: hidden; margin:10px 20px;background:#EAF9FC;
border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px;
}
.appointedInfoT{margin:0px 10px; height:46px; line-height:46px; background:url(../images/icon.png?v1) 0px -272px no-repeat;border-bottom:1px solid #cfcfcf;}
.appointedInfoT span{ padding-left: 46px;}
.appointedInfo ul{ padding: 0px 10px; height: auto; overflow: hidden;}
.appointedInfo li{  padding:10px 0px;width:100%; height:32px; line-height:32px; overflow:hidden; display:box; display:-moz-box; display:-webkit-box; display:-ms-box; display:-o-box;}
.appointedInfo li span{ display:block; width:auto;}
.appointedInfo li .text,.appointedInfo li p{ height:32px; line-height:32px; border:0; width:100%; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; -ms-box-flex:1; -o-box-flex:1; color:#404040;}
.appointedInfo li:last-child{ border-bottom:none;}
.appointedInfo li p{ color: #888; cursor: pointer; position: relative;}
.appointedInfo li select{width: 100%; height: 100%; padding: 6px 0px;}



/*------footer-----*/
/******产品介绍******/
.productFooter{ width:100%; height:auto; z-index:9999;}
.productFooter ul{ width:300px; height:100px;  display:box;display:-moz-box;display:-webkit-box;display:-ms-box;display:-o-box;margin:0 auto;}
.productFooter li{ width:100px; text-align:center; height:100px; line-height:100px;}
.productFooter li a{margin:10px; color:#FFF; font-size:16px; font-weight:bold; display:block; border:none;}
.productFooter li.foot_subscribe a{background:#e8a11b; }
.productFooter li.foot_phone a{background:#29bde5; }
.productFooter li.foot_collect a{background:#5dca89;}
.circle { background: red;   -moz-border-radius: 1000px;   -webkit-border-radius: 1000px; border-radius: 1000px; width:76px; height:76px; line-height:76px;}
/********我的推荐********/
.recommendFoot{ width: 100%; height: 40px; margin: 12px 0px;}
.recommendBtn{ padding: 0px 12px; height: 42px; overflow: hidden;}
.recommendBtn a{ display: block; width: 100%; height: 40px; line-height: 42px; text-align: center; color: #fff; font-size: 16px; background: #d2a836; border: 1px solid #b48e27; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px;}
/********预约理财师********/
.appointedFoot{ width: 100%; height: 40px; margin: 12px 0px;}
.appointedBtn{ padding: 0px 12px; height: 42px; overflow: hidden;}
.appointedBtn a{ display: block; width: 100%; height: 40px; line-height: 42px; text-align: center; color: #fff; font-size: 16px; background: #d2a836; border: 1px solid #b48e27; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px;}
.appointedBtn span{ background: url(../images/icon.png?v1) -134px -202px no-repeat; padding:8px 40px; margin: 0px auto;}
/*********微文章***********/
#news {margin: 20px 0px;/*background-color: #F0EFEF;margin: 0 auto;max-width: 640px;min-width: 320px;overflow-x: hidden;*/}
#news .list{border-top:1px solid #E0E0E0;box-shadow:0 1px 2px 0 rgba(0,0,0,0.15);-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.15);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color:#FFFFFF;margin:10px;padding:10px 15px;}
#news #recommend{display:block;color:#535353;border:0;text-align:left;font-size:16px;border-radius:0;height:33px;line-height:33px;text-decoration:none;margin:0;text-indent:25px;background:url("../images/ttext.png") no-repeat scroll left center transparent;background-size:20px auto;}
#news #olload{display:block;color:#535353;border:0;text-align:left;font-size:16px;border-radius:0;height:33px;line-height:33px;text-decoration:none;margin:0;text-indent:25px;background:url("../images/recommend.png") no-repeat scroll left center transparent;background-size:20px auto;}
#news .newsmore{display:block;margin-top:0;cursor:pointer;border-top:1px solid #E0E0E0;}
#news .olditem{display:block;padding:11px 0 10px 0;background-color:#ffffff;line-height:22px;border-radius:0;box-shadow:0;text-align:left;background:url("../images/ico-next.png") no-repeat scroll right center transparent;background-size:7px auto;}
#news .title{display:block;margin-left:0;color:#535353;font-size:14px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap !important;}
#news .footer{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer;background:none repeat scroll 0 0 #ffffff;border:1px solid #DDDDDD;box-shadow:0 1px 2px 0 rgba(0,0,0,0.15);-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.15);margin:10px;padding:15px;text-align:center;display:block;}
#news .more{border:1px solid #E0E0E0;-webkit-border-radius:26px;-moz-border-radius:26px;border-radius:26px;cursor:pointer;background-color:#FFFFFF;margin:10px 0;padding:10px;text-align:center;display:block;}

