
@charset "utf-8";
/*.wrapBg{background: url(../images/christmasred.jpg) no-repeat center 0px;}*/
body{background-image: url(../images/christmasred.jpg);}

.avatar{border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
.contIcon{background: url(../images/defaultConIconsV1.0.png) no-repeat;}
.theResult{background: url(../images/ChristmasResult_1V1.0.png) no-repeat center 1px;}
.pairPerson{background-image: url(../images/defaultPairV1.0.png);}

.scrollBox{color: #fff !important;}
.msgBox{color:#B50102 !important;}
.colorOne{color: #fff!important;}

.borderStyle .play{border-color: rgba(255, 255, 255, 0.35);}
.borderStyle .animation .play{border-color: #fff;}
.borderStyle li{border-color: rgba(255, 255, 255, 0.8);}
.borderStyle .msgFor{border-bottom-color:  rgba(255, 255, 255, 0.7);}
.msgWall li {background: rgba(255, 255, 255, 0.8) !important;}
.btnStyle{color: #385388; border-color: #dad549; background: #fef971; box-shadow: 0 2px 2px 0 #fdfbc4 inset; -weibit-box-shadow: 0 2px 2px 0 #fdfbc4 inset; -moz-box-shadow: 0 2px 2px 0 #fdfbc4 inset;}

.menuStyle a{border-color: rgba(255, 255, 255, 0.35); background: url(../images/defaultIconsV1.0.png) no-repeat;}
.msglatest{border: 1px solid rgba(14, 31, 64, 0.5);}
.view-ninth .mask-1, .view-ninth .mask-2{background: rgba(16, 36, 75, 0.7);}
.msglatestIcon:before{background-image: url(../images/star.png);}

