<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta  name="viewport"  content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>获得的拍品</title>
    <meta  content="app-id=518966501"  name="apple-itunes-app">
    <meta  content="yes"  name="apple-mobile-web-app-capable">
    <meta  content="black"  name="apple-mobile-web-app-status-bar-style">
    <meta  content="telephone=no"  name="format-detection">
    <link  href="../addons/feng_auction/template/css/comm.css"  rel="stylesheet"  type="text/css">
    <link  href="../addons/feng_auction/template/css/member.css"  rel="stylesheet"  type="text/css">
</head>
<body  style="zoom: 1;">
<div  id="loadingPicBlock">
    <input  name="hidTotalCount"  type="hidden"  id="hidTotalCount">
    <input  name="hidPageMax"  type="hidden"  id="hidPageMax">
    <div  class="wrapper">
        <div  class="m_buylist_nav"><span>您总共获得了<em  class="orange">{php echo count($myauction)}</em>个拍品</span></div><div  class="m_buylist m_get marginB">
        <ul  id="divOrderList">
            {loop $myauction $id $goods}
            <li><cite><a  href="{php echo $this->createMobileUrl('details', array('id' => $goods['id']))}"><img  src="{$_W['attachurl']}{$goods['picarr']}"></a><i>{if $goods['status']==1}已付余款</i></cite><dl><dt><a  href="{php echo $this->createMobileUrl('details', array('id' => $goods['id']))}"  class="gray6">{$goods['title']}</a></dt>
            <dt><a  href="{php echo $this->createMobileUrl('details', array('id' => $goods['id']))}"  class="gray6">保证金：{$goods['bond']}元 成交价格：{$goods['st_price']}元</a></dt>

            {if $goods['send_state']==1}<dd><a  href="{php echo $this->createMobileUrl('details', array('id' => $goods['id']))}"  class="orangeBtn">已发货</a><a  href="http://m.kuaidi100.com/index_all.html?type={$goods['express']}&postid={$goods['expressn']}#input"  class="orangeBtn">查物流</a></dd></dl></li>{else}<dd><a  href="#"  class="grayBtn">未发货</a><a  href="#"  class="grayBtn">查物流</a></dd></dl></li>{/if}

            {else}待付余款</i></cite><dl><dt><a  href="{php echo $this->createMobileUrl('details', array('id' => $goods['id']))}"  class="gray6">{$goods['title']}</a></dt><dt><a  href="{php echo $this->createMobileUrl('details', array('id' => $goods['id']))}"  class="gray6">待付款项：{php echo ($goods['st_price']-$goods['bond'])}元</a></dt><dd><a  href="{php echo $this->createMobileUrl('payment',array('price' => $goods['st_price']-$goods['bond'],'id' => $goods['id']))}"  class="orangeBtn">去付款</a></dd></dl></li>{/if}
            {/loop}
            {if empty($myauction)}
            <div class="noRecords gray9"><s></s>暂无记录</div>
            {/if}
            <div  id="divOrderLoading"  class="loading"  style="display: none;"><b></b>正在加载</div>
        </ul>
        </div>
        <div  class="load_more"  id="btnLoadMore"  style="display: none;"><a  href="javascript:;"  title="加载更多">加载更多</a></div>
        <div class="footer" style="bottom: 0px;">
            <ul>
                <li class="f_home"><a href="{php echo $this->createMobileUrl('index')}" title="首页"><i class="icon iconfont">&#xe61c;</i>首页</a></li>
                <li class="f_whole"><a href="{php echo $this->createMobileUrl('introduction')}" title="拍卖介绍"><i class="icon iconfont">&#xe627;</i>拍卖介绍</a></li>
                <li class="f_personal"><a href="{php echo $this->createMobileUrl('profile')}" class="hover" title="个人中心"><i class="icon iconfont">&#xe61e;</i>个人中心</a></li>
            </ul>
        </div>
    </div>
</div>
</body></html>