{template 'header'}
<link rel="stylesheet" href="{GARCIA_CSS}amazeui.css">

<div class="content mod-user-login">
        <form action="" method="POST" class="" name="phoneForm" id="phoneForm">
          <input type="hidden" name="display" value="nexphone">
          <input type="hidden" name="token" value="{$token}">
                <div class="user-login_oauth">
            <div class="login_oauth_avatar">
                <img src="{$_member['headimgurl']}" alt="" width="100%">
            </div>
            <h6>{php echo urldecode($_member['nickname'])}</h6>
              <p>太棒了！只需验证手机号就完成个人信息</p>
        </div>
        <div class="qsc-form-group">
                <div class="qsc-form-group">

            <div class="form-item">
                <label class="control-label">国家地区</label>
                <div class="form-select">
                    <select name="iso">
                          <optgroup label="Z">
                              <option value="CN" selected="selected">+86 &nbsp; &nbsp; 中国</option>
                          </optgroup>
                      </select>
                </div>
            </div>

            <div class="form-item">
                <label for="phone" class="control-label">手机号</label>
                <input type="tel" pattern="[0-9]*" name="mobile" id="phone" class="control-input" placeholder="输入你的手机号" value="">
            </div>
        </div>

                    </div>
                <div class="footer-btn">
            <input name="csrf" type="hidden" value="e7338edc842a68ee7b3f89a8f3ac7fd6">
            <input name="token" type="hidden" value="{php echo md5(time())}">
            <input type="submit" class="btn btn-block btn-primary btn-lg" name="submit" value="下一步">
            <input type="hidden" name="agreement" value="1">
            <p class="user-agreement" data-toggle="modal" data-target="#doc-modal-1"><i class="icon icon-checkbox-sm"></i><span>已阅读并同意<a href="javascript:void(0)" class="text-success">《{php echo $this->sys['mobileshuom']}》</a></span></p>
        </div>
    </form>

{template 'modal'}
<div id="faqitiaokuan" style="display:none;">{php echo htmlspecialchars_decode($this->sys['mobileshuom_desc'])}</div>
<script>
require(['amaze'],function(){
  $('#doc-modal-1').on('open.modal.amui', function(){
     $("#mtitle").html("{php echo $this->sys['faqishuomingwenzi']}");
      $("#mbody").html($("#faqitiaokuan").html());
      $(".moda-zdl").html('知道了');
  });
  var $modal = $('#doc-modal-1');

  $(".user-agreement").bind('click',function(){
    $('#doc-modal-1').on('open.modal.amui', function(){
          $("#mtitle").html("{php echo $this->sys['mobileshuom']}");
          $("#mbody").html($("#faqitiaokuan").html());
          $(".moda-zdl").html('已阅读并同意');
    });
      $('#doc-modal-1').modal('open');
  });


 //  $modal.modal('open');
})
</script>


</div>
