/** Reset CSS Part */
html, body, header, section, article, h2, h3, h4, a, p, i, ul, li, input{margin:0; padding:0;}
body{width:100%; height:100%; font:normal 1em '微软雅黑'; color:#464646;}
li{list-style:none;}
button{border:none;}
.clearfix:after{content:""; width:0; height:0; overflow:hidden; display:block; clear:both;}
input{height:2rem; line-height:2rem; font-size:1em; border:none;/* box-shadow:0 0 3px #b2b2b2 inset; */border-radius:3px;}
.w-20{width:20%;}
.w-auto{width:auto;}

/** Color */
.color-grey{color:#b2b2b2;}
.color-black{}
.color-orige{color:#ff8100;}

/** Header */
header{position:relative; width:100%; height:50px; text-align:center; background:#f7f7f7; border-bottom:1px solid #d4d4d4;}
header h2{width:100%; height:100%; font-size:1.2em; font-weight:normal; line-height:50px; color:#353535;}
header a{position:absolute; left:10px; top:15px;}

/** Public CSS */
.float-left{float:left;}
.float-right{float:right;}
.arrow{width:10px; height:18px; display:inline-block; background:url(../image/arrow.png); background-size:200% 100%;}
.arrow-left{background-position:left; display:none;}
.arrow-right{background-position:right; display:block;}
/*.arrow:before, .arrow:after{content:''; position:absolute; top:50%; width:12px; height:2px; background:#6e5739; transform:rotate(45deg);}
.arrow-left:before, .arrow-left:after{left:0; transform-origin:left;}
.arrow-left:after{transform:rotate(-45deg);}
.arrow-right:before, .arrow-right:after{right:0; transform-origin:right;}
.arrow-right:before{transform:rotate(-45deg);}
.arrow-right{top:3px;}*/

.container{width:96%; margin-left:4%; padding:1em 0; border-bottom:1px solid #d4d4d4;}
.container-header{padding-top:3em; text-align:center;}
.content{display:inline-block; line-height:1em;}
.container .content-center{display:block; float:right;}
.container .content-center h3{font-weight:normal; line-height:1em;}
.container .content-center .state{padding:5px;}
.icon{width:2.6em; height:2.6em; margin-right:1em; background:url(../image/icon.png); background-size:200% 100%; display:block; float:left;}
.icon-success{background-position:left;}
.icon-failed{background-position:right;}

.btn{}
.btn-lg{width:90%; height:2.5em; margin:2.5em auto; line-height:2.5em; font-size:1em; font-family:"微软雅黑"; text-align:center; color:#fff; border:none; border-radius:5px; background:#44BB44; display:block;}

/** */
.reason{padding-top:2em; font-size:0.675em; line-height:1.5em; display:block;}
.reason ul{text-align:left; display:inline-block;}
.reason li:before{content:""; width:5px; height:3px; margin-right:0.5em; border-top:5px solid #888888; display:inline-block;}
.helper{padding:1em 0; text-align:center;}
.rule{width:88%; margin:0 auto; font-size:1em; line-height:1.5em; text-align:left;}

input{color:#888; font-family:"微软雅黑"; font-size:1em;}
.p-1{width:90%; padding:1.5em 3%;}
.p-2{width:96%; padding-left:3%; border-left:3px solid #ff8100; box-sizing:border-box; background:#e1e1e1;}
.p-3{width:90%; padding:1em 3%; height:50px;}

.choice{width:130px;}
.part-left{width:70%; height:50px; display:block; float:left;}
.part-right{width:30%; height:50px; line-height:50px; font-size:1.2em; color:#ff8100; text-align:right; display:block; float:right;}
.p-2 h3{font-size:1em; font-weight:normal;}
h4.platform{line-height:30px; font-weight:normal;}
.time{line-height:20px; font-size:0.8em;}

.tab{width:100%;}
.tab li{width:50%; float:left;}
.tab li:before{content:""; width:6px; height:6px; border:2px solid #fff; border-radius:50%; box-shadow:0 0 0 2px #888; margin-right:0.5em; display:inline-block;}
.tab li.active:before{background:#ff8100; box-shadow:0 0 0 2px #ff8100;}

.cardId{position:relative; width:70%; height:100%;}
.cardId .trigger{position:absolute; right:10px; top:8px; width:0px; height:0px; border:5px solid transparent; border-top-color:#333;}
.cardId #selectCard{position:absolute; left:0; right:0; top:2em; background:#fff; box-shadow:0 0 3px #b2b2b2 inset; border-radius:3px; display:none;}
.cardId #selectCard li{width:100%; height:2em; line-height:2em; box-shadow:1px 1px 1px #b2b2b2}

.animation1{
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transition:.2s; 
    -webkit-transition:.2s; 
}
.animation2{
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    transition:.2s; 
    -webkit-transition:.2s; 
}
.wrap {position:absolute; top:500px; bottom: 0; left: 0; right: 0; overflow: hidden; opacity:0; transition: opacity 1s; -webkit-transition: opacity 1s;}
.loading{width:100%; height:40px; line-height:40px; text-align:center;}
.loading img{width:40px; height:40px;}

.ui-dialog {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: rgba(0,0,0,0.4);
    display: none;
    color: #000
}

.ui-dialog-notice {
    background: transparent
}

.ui-dialog.show {
    display: -webkit-box;
    display: box
}

.ui-dialog .ui-dialog-cnt {
    border-radius: 6px;
    width: 270px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: none;
    pointer-events: auto;
    background-color: rgba(253,253,253,0.95);
    position: relative
}

.ui-dialog .ui-dialog-bd {
    min-height: 71px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 18px;
    font-size: 16px;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical
}

.ui-dialog .ui-dialog-bd h4 {
    margin-bottom: 4px;
    font-size: 16px;
    width: 100%;
    text-align: center
}

.ui-dialog .ui-dialog-bd div {
    width: 100%
}

.ui-dialog .ui-dialog-ft {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /*background:#ff8100;*/
}

.ui-dialog .ui-dialog-ft button {
    height: 42px;
    line-height: 42px;
    background: transparent;
    /*font-family: '微软雅黑';
    color:#fff;*/
}

.ui-dialog .ui-dialog-ft button:active {
    background: rgba(0,0,0,0.1)
}

.ui-dialog .ui-dialog-ft button:first-child {
    border-bottom-left-radius: 6px;
    background-image: none
}

.ui-dialog .ui-dialog-ft button:last-child {
    border-bottom-right-radius: 6px
}

.ui-dialog-notice .ui-dialog-cnt {
    width: 130px;
    height: 110px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    background: rgba(0,0,0,0.65);
    border-radius: 6px;
    color: #fff
}

.ui-btn-group,.ui-btn-group-tiled {
    display: -webkit-box;
    width: 100%;
    box-sizing: border-box
}

.ui-btn-group button,.ui-btn-group-tiled button {
    display: block;
    -webkit-box-flex: 1
}

.ui-btn-group-tiled .ui-btn:first-child {
    margin-right: 15px
}

.ui-btn-group button {
    color: #00a5e0;
    line-height: 50px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    border-right: 1px #c8c7cc solid;
    width: 100%;
    border-top: 1px solid #c8c7cc
}

.ui-btn-group button:active {
    background-color: rgba(0,0,0,0.1)
}

.ui-btn-group button:last-child {
    border-right: none
}

.ui-btn-group-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: #fff
}

.ui-btn-group-bottom button {
    color: #00a5e0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e0e0e0))
}

.ui-btn-group-bottom button:active {
    background-color: none;
    color: rgba(0,165,224,0.4)
}