{loop $reply $key $rep}
{if $rep['descimgs']}
<li><a class="act_link" href="{$rep['url']}">
<h3> 
<span class="tag_bg">图</span>{$rep['title']}</h3><div class="list_image">
<ul class="clearfix">
{loop $rep['descimgs'] $pic}
<li class="list_img_holder_pic"><img src="{$_W['attachurl']}{$pic}"></li>
{/loop}
</ul>
</div>
<div class="item_info_pic">
<span class="src space">{$rep['time']}</span>
<span class="cmt space">阅读&nbsp;{$rep['yuedu']}</span>
</div>
</a></li>
{else}
<li>
<a class="act_link" href="{$rep['url']}">
<div class="desc">
<h3>{if $rep['tuijian'] == '1'}<span class="tag_bg">荐</span>{/if}{$rep['title']}</h3>
<div class="item_info">
<span class="src space">{$rep['time']}</span>
<span class="cmt space">阅读&nbsp;{$rep['yuedu']}</span>
</div>
</div>
<div class="list_img_holder">
<img src="{if !empty($rep['thumb'])}{$_W['attachurl']}{$rep['thumb']}{else}{$_W['siteroot']}addons/siyuan_cms/ui/img/index/news.png{/if}">
</div>
</a>
</li>
{/if}
{/loop}