{template 'head'}
<link rel="stylesheet" type="text/css" href="{HT}css/newman.css" /> 
  
   <script>
  setInterval(getRTime, 1000); //页面倒计时使用
    var first_status = "{$first_status}"; //场次秒杀状态 0即将开始 1秒杀中
    function getRTime(){
		if(first_status == 0){ //计算开始时间
			var timestart = "{$stage_list['timestart']}";

			//截取小时 分钟
			var hour = timestart.substring(0, 2);
			var minute = timestart.substring(3, 5);
			var EndTime= new Date(); //截止时间
			if(parseInt(hour) < EndTime.getHours()){ //若第一场小时小于当前时间小时 说明是第二天
				EndTime.setDate(EndTime.getDate() + 1);
			}
			EndTime.setHours(hour, minute, 0);
			
			var NowTime = new Date(); 
			var t =EndTime.getTime() - NowTime.getTime(); 
			
			var d=Math.floor(t/1000/60/60/24);  //天
			var h=Math.floor(t/1000/60/60%24); //时
			var m=Math.floor(t/1000/60%60);  //分
			var s=Math.floor(t/1000%60); //秒
			
			$("#nav_time_title").html('距离开始');
			var hour = String(d*24 + h);
			if(hour.length == 1){
				hour = 0 + hour;
			}
			$("#nav_time_hour").html(hour);
			var minute = String(m);
			if(minute.length == 1){
				minute = 0 + minute;
			}
			$("#nav_time_minute").html(minute);
			var second = String(s);
			if(second.length == 1){
				second = 0 + second;
			}
			$("#nav_time_second").html(second);
		}else if(first_status ==  1) { //计算结束时间
			var timeend = "{$stage_list['timeend']}";
			//截取小时 分钟
			var hour = timeend.substring(0, 2);
			var minute = timeend.substring(3, 5);
			var EndTime= new Date(); //截止时间
			if(parseInt(hour) < EndTime.getHours()){ //若第一场小时小于当前时间小时 说明是第二天
				EndTime.setDate(EndTime.getDate() + 1);
			}
			EndTime.setHours(hour, minute, 0);
			
			var NowTime = new Date(); 
			var t =EndTime.getTime() - NowTime.getTime(); 
			
			var d=Math.floor(t/1000/60/60/24);  //天
			var h=Math.floor(t/1000/60/60%24); //时
			var m=Math.floor(t/1000/60%60);  //分
			var s=Math.floor(t/1000%60); //秒
			
			$("#nav_time_title").html('距离结束');
			var hour = String(d*24 + h);
			if(hour.length == 1){
				hour = 0 + hour;
			}
			$("#nav_time_hour").html(hour);
			var minute = String(m);
			if(minute.length == 1){
				minute = 0 + minute;
			}
			$("#nav_time_minute").html(minute);
			var second = String(s);
			if(second.length == 1){
				second = 0 + second;
			}
			$("#nav_time_second").html(second);
		}else{
		
		    $("#nav_time_title").html('已结束');
		 	var hour = String(d*24 + h);
			if(hour.length == 1){
				hour = 0 + hour;
			}
			$("#nav_time_hour").html(hour);
			var minute = String(m);
			if(minute.length == 1){
				minute = 0 + minute;
			}
			$("#nav_time_minute").html(minute);
			var second = String(s);
			if(second.length == 1){
				second = 0 + second;
			}
			$("#nav_time_second").html(second);
		}
	}
  </script>
 <body id="body"> 
  <a name="top"></a> 
  <header> 
   <!-- 新版商详头部开始 --> 
 <div id="m_common_header"> 
   <header class="jd-header"> 
     <div class="jd-header-new-bar"> 
      <a href="{php echo $this->createMobileUrl('Seckill_home')}"> 
       	<div id="m_common_header_goback" class="jd-header-icon-back">
        	<span></span>
       	</div> 
       </a> 
      <ul class="jd-header-title" id="header-tabs"> 
         <li class="header-tab-item J_ping" report-pageparam="1431723" report-eventid="MProductdetail_ProductTab" report-eventlevel="5">
         	<p class="header-tab-title header-tab-selected" id="detailView">商品</p>
         </li> 
        <!-- <li class="header-tab-item J_ping" id="detailInfo" report-pageparam="1431723" report-eventid="MProductdetail_DetailTab" report-eventlevel="5"> <p class="header-tab-title">详情</p> </li> 
         <li class="header-tab-item J_ping" id="pingjia" report-pageparam="1431723" report-eventid="MProductdetail_CommentTab" report-eventlevel="5"> <p class="header-tab-title">评价</p>-->
         </li> 
      </ul> 
      
      </div> 
      <div class="header-bar-border"></div> 
     </div> 
      
 
     <!-- 商品评价分支头部 
     <ul id="tabs"> 
      <li class="tab-item tab-hover"> <p class="tab-assess-title">全部评价</p> <p class="tab-assess-num tab-assess-rednum">&nbsp;</p> </li> 
      <li class="tab-item"> <p class="tab-assess-title">好评</p> <p class="tab-assess-num">&nbsp;</p> </li> 
      <li class="tab-item"> <p class="tab-assess-title">中评</p> <p class="tab-assess-num">&nbsp;</p> </li> 
      <li class="tab-item"> <p class="tab-assess-title">差评</p> <p class="tab-assess-num">&nbsp;</p> </li> 
      <li class="tab-item"> <p class="tab-assess-title">有图</p> <p class="tab-assess-num">&nbsp;</p> </li> 
     </ul> -->
    </header> 
   </div> 
   <!-- 新版商详头部结束 -->  
  </header> 
  <button id="tempforsuite" style="display:none;"></button> 
  <div id="mainLayout"> 
   <div id="mainStay" class="new-wt"> 
    <div class="miblebox" id="goods-img-box"> 
     <div class="hold-div-top"></div> 
     <div class="header-slider"> 
      <div class="header-slider-con"> 
       <li class="header-slider-item"> 
        <div class="page-content" id="mainLayout"> 
         <!-- 焦点图片 --> 
         <div class="scroll-imgs"> 
          <div id="slide" class="slide"> 
           <ul data-slide-ul="firstUl"> 
            <li data-ul-child="child" class="J_ping" report-eventid="MProductdetail_BigPicClick" report-pageparam="1431723" > 
                <img alt="{$goods_list['name']}" src="{php echo tomedia($goods_list['thumb'])}" class="J_ping" report-eventid="MProductdetail_Photo" report-pageparam="1431723" report-eventlevel="5" /> 
            </li> 
          
           
           </ul>
          </div> 
         </div>
                  <div class="header_Price clearfix">
          <div class="header_Price_left">
            ￥<span class="Price_number">{$seksillprice_array[0]}.</span>{$seksillprice_array[1]}
            <div class="miaosha_div">
             <!-- {if $goods_list['miaosha_type']}<span class="miaosha">{$goods_list['miaosha_type']}</span>{/if}--><del>￥{$goods_list['marketprice']}</del>
            </div>
          </div>
          <div class="header_Price_right">
            <span id="nav_time_title">距结束还剩</span>
            <div class="countdown">
             <span class="nav_time_change" id="nav_time_hour">00</span>:
             <span class="nav_time_change" id="nav_time_minute">00</span>:
             <span class="nav_time_change" id="nav_time_second">00</span>
          </div>
          </div>
         </div>
         <div class="goods-part bdr-tb price-floor"> 
         <!-- 个人写的价格start -->
          <!-- 名称 、价格start --> 
          <!-- 楼层样式修改 添加bord样式 mjs 20151112--> 
          <div class="basic-info bdr-b borb"> 
           <!--名称--> 
           <div class="prod-title"> 
            <a class="detailInfoClick J_ping" report-eventid="MProductdetail_Productinfo" report-pageparam="1431723" report-eventlevel="5"> <span class="title-text"> {$goods_list['name']}</span> </a> 
           </div><!--掌上活动 --&gt; 
          
           
           <!-- 名称 、价格end --> 
           <!-- 调整样式分割线结束位置   mjs 20151112 --> 
          </div> 
          <div class="goods-part bdr-tb mar-t"> 
           <!-- 规格与促销中间加一灰条   增加样式bd-t    mjs  20151030 --> 
           <!--规格 start--> 
           <!--新版规格start--> 
           <div class="prod-spec" id="prodSpecArea"> 
            <div class="spec-desc J_ping arrow-fold" report-eventid="MProductdetail_SpecificationsPackUp" report-pageparam="1431723" report-eventlevel="5" id="natureID"> 
             <span class="part-note-msg">已选</span> 
             <div id="specDetailInfo" class="base-txt"><span id="guige_c">{$specifications_array['0']['value']}</span> &nbsp;&nbsp;
              <span id="amount">1{$goods_list['unit']}</span> 
             </div> 
             <em class="icon-arrow icon-arrow-up arrow-fold"></em> 
            </div> 
            <!-- 20151114 属性容器--> 
            <div class="nature-container" id="natureCotainer"> 
             <!--颜色--> 
             {if $specifications_array}
             <div class="pro-color"> 
              <span class="part-note-msg ikdlr"> 属性 </span> 
              <p id="color"> 
                {loop $specifications_array $k $spec}
                <a title="{$spec['value']}" class="a-item {if $k == 0}selected{/if} J_ping" onclick="guige({$k},'{$spec[value]}');"  id="guige_{$k}"report-eventid="MProductdetail_ChooseSpecifications" report-eventlevel="5" report-eventparam="" report-pageparam="1431723" >{$spec['value']}</a> 
                {/loop}
             </div> 
                {/if}
             <div class="pro-count"> 
              <span class="part-note-msg">数量</span> 
              <div class="quantity-wrapper"> 
               <input type="hidden" id="limitSukNum1025423798" value="200" /> 
               <a class="quantity-decrease limited  J_ping" report-eventid="MProductdetail_NumSub" onclick="minus()"> <em id="minus">-</em> </a> 
               <input type="tel" class="quantity" size="4" value="1" id="number" onblur="modify();" /> 
               <a class="quantity-increase J_ping" report-eventid="MProductdetail_NumAdd" id="quantityPlus" onclick="plus()"> <em id="plus">+</em> </a> 
              </div> 
              <span class="lowestbuy-tip"></span> 
             </div> 
            </div> 
           </div> 
          
          </div> 
          
           <!--提示start-->
           <!-- 增加borb样式  mjs  20151030 --> 
           <div class="msg-notice bdr-b borb"> 
            <span class="part-note-msg">提示</span> 
            <p class="notice-items"> 
             <!--基本信息提示--> <span class="ebay-term seven-back"> 单次购买最多购买 {$goods_list['maxbuy']} 个，用户最多购买 {$goods_list['usermaxbuy']} 次。 </span> 
            </p> 
           </div> 
           <!--提示end--> 
          <!-- </div>  -->
          <!-- 样式分割线 -->
          <!-- 调整样式分割线位置 增加mar-t样式  mjs 20151030 --> 
          <div id="commendetailModel" commendetail-data="LUIPPTP" class="goods-part bdr-tb mar-t"> 
           <!--图文详情start    因命名冲突id由wareInfo改为productInfo --> 
               <div class="more-detail detailInfoClick J_ping" report-eventid="MProductdetail_ProductdetailEntrance" report-pageparam="1431723" report-eventlevel="5"> 
                <a href="#"> 
                 <div id="productInfo"> 
                  <span class="part-note-msg">图文详情</span> 
                  <em class="icon-arrow icon-arrow-right"></em> 
                  </div> </a> 
               </div> 
                <div class="kgfren">{php echo htmlspecialchars_decode($goods_list['content'])}</div>
                <div style="margin:0 auto 50px;"></div>
               <div id="cart1" class="cart-concern-btm-fixed five-column"> 
               {if $goods_list['supplier']}
                <div class="concern-cart"> 
                
                 <a  href="{$goods_list['supplier']}" class="dong-dong-icn J_ping" report-eventid="MProductdetail_DongDongService" report-pageparam="1431723" report-eventlevel="5" id="imBottom"> <em class="btm-act-icn"></em> <span class="focus-info"> 供应商 </span> </a> 
                
                 
                </div> 
                <div class="action-list" id="qgz"> 
                {if $first_status ==1} <!--时间设置开始-->
                    {if $this->get_available_num($goods_id,$stage_id)} <!--库存设置开始-->
                        {if $this->get_user_goods($goods_id,$stage_id)}<!--限购次数开始-->
                         <a class="red-color " id="directorder" style="width: 100%;"> 立即购买 </a> 
                        {else}
                            <a class="red-color_ff"  style="width: 100%;">抢购次数已达上限 </a>
                        {/if}
                        <!--限购次数结束-->
                    {else}
                        <a class="red-color_ff"  style="width: 100%;">已抢完 </a>
                    {/if}
                    <!--库存设置结束-->
                 {else if $first_status ==2}
                    <a class="red-color_ff "  style="width: 100%;">已结束 </a> 
                  {else}
                     <a class="red-color_ff "  style="width: 100%;">尚未开始 </a> 
                 {/if}
                </div>
      
                {else}
      
                
                    <div class="action-list" style="width: 100%; margin: auto; float: none;" id="qgz" > 
                       
                {if $first_status ==1}<!--时间设置-->
                   {if $this->get_available_num($goods_id,$stage_id)}<!--库存设置 开始-->
                          {if $this->get_user_goods($goods_id,$stage_id)}<!--限购次数开始-->
                             <a class="red-color " id="directorder" style="width: 100%;"> 立即购买 </a> 
                            {else}
                                <a class="red-color_ff"  style="width: 100%;">抢购次数已达上限 </a>
                          {/if}
                        <!--限购次数结束-->
                    {else}
                        <a class="red-color_ff"  style="width: 100%;">已抢完 </a>
                    {/if}
                    <!--库存设置结束-->
                 {else if $first_status ==2}
                    <a class="red-color_ff "  style="width: 100%;">已结束 </a> 
                  {else}
                     <a class="red-color_ff "  style="width: 100%;">尚未开始 </a> 
                 {/if}
                 <!--时间设置次数-->
                 </div>
                 
                 
                 
                 
                 
                 
                 
                {/if} 
                
               </div> 
       
         </div> 
        </div> 
        
    </li>
        
      </div>
     </div>
    </div>
   </div>
  </div>
  
    <script>
         wx.ready(function () {
            
                sharedata = {
                    title: "{$goods_list['name']}",
                    desc: "{$share_desc}",
                    link: "{$share_url}",
                    imgUrl: "{php echo tomedia($goods_list['thumb'])}",
                    success: function(){
        				
                    },
                    cancel: function(){
                        layer.msg('分享失败，可能是网络问题，一会儿再试试？', {icon: 5});
                    }
                };
                wx.onMenuShareAppMessage(sharedata);
                wx.onMenuShareTimeline(sharedata);
            }); 
        var unit = "{$goods_list['unit']}";
        /** 
        属性选择
        */
        function  guige(id,value){
            $("#color a").attr("class", "a-item J_ping");
            $("#guige_"+id).attr("class", "a-item selected J_ping");
            $("#guige_c").html(value);
         
        }
        /**
         数量+
        **/
        function plus(){
                var maxbuy = "{$goods_list['maxbuy']}";
                var number = $("#number").val();
                var count_number = parseFloat(number)+1;
                if(count_number > maxbuy){
                    layer.msg('最多购买'+maxbuy+unit, {icon: 7});
                    return false;
                }else{
                    $("#number").val(count_number);
                    $('#amount').html(count_number+unit);
                }
        }
        
        /**
        数量-
        */
        function minus(){
            var number = $("#number").val();
            if(number == 1){
                layer.msg('最少购买1'+unit, {icon: 7});
                
                // alert(';
            }else{
                var count_number = parseFloat(number)-1;
                $("#number").val(count_number);
                $('#amount').html(count_number+unit);
            }
        }
        
        $("#directorder").click(function(){
            $('#qgz').html(' <a class="red-color " style="width: 100%;"> 秒杀中... </a> ');
            var number = $("#number").val(); //数量
            var goods_id = {$goods_id};  // 商品id
            var stage_id = {$stage_id};  //场次id
            var nature= $("#guige_c").html();  // 商品属性
            
            var data = {
                goods_id :goods_id,
                stage_id:stage_id,
                number:number,
                };
             if(nature){
                data['nature'] = nature;
                }
                $.ajax({
				type: 'POST',
				url: "{php echo $this->createmobileurl('seckill_goods', array('op'=>'order_ajax'))}",
				data:data,
				dataType: 'json',
				success: function(res){
                       if(res['status'] == 1){
                            window.location.href=res['url']; 
                       }else if(res['status'] == 2){
                             layer.msg('当前秒杀商品库存为'+res['count_kc']+"不能抢购！", {icon: 7});  
                             window.location.reload();
                             
                       }else{
                            layer.msg('操作失败！', {icon: 5});
                            window.location.reload();
                       }
                   
                 }  
                });
                
                
            	
            

            
            
            
            
        });
        

    
    </script>
  
 </body>
</html>