@charset "utf-8";
/* CSS Document */

.top{ position:relative; padding-top:20%;}

.title{ font-size:4em; color:#fff; text-align:center;}
.anniu{ margin: 0 auto; margin-top:5%; width:55%; height:5.4rem; line-height:5.4rem; font-size:2.8em; border-radius:10px;text-align:center;color:#fff; border:1px solid #fff;}
.anniu a{color:#fff;}
.pm, .pm1, .pm2{ text-align:center; margin-top:15%; }
.pm img{width:242px;margin: 0 auto;}
.pm1 img{width:292px;  margin: 0 auto;}
.pm2 img{width:265px;  margin: 0 auto;}
/*底部云朵 css*/
.yun{ position:absolute; bottom:0%;left:50%;width: 100%; margin-left:-50%;}
.yun img{ width:100%; display:block;} 
/*弹出菜单 css*/
.nav_content{position: fixed;left:-100%;width:100%;height: 100%; top:0%; z-index:1000}
.tbtn{ right:-62px; top:8%; position:absolute;z-index: 100;}
.tbtn img{ width:62px; }
.st-menu{ width:80%; background-color:#3ee0b1;position: absolute;top: 0;right:0%;z-index: 100;width: 75%;height: 100%;
-webkit-transition: all 0.5s;transition: all 0.5s;}
.st-effect-11.st-menu {opacity: 1;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0); }
.icon-stack{ text-align:center; padding-top:10px; padding-bottom:0px;}
.icon-stack img{ margin: 0 auto; width:76px; height:76px;  }
.tt-menu{ font-size:2.2em;  height:30px; line-height:30px; text-align:center; color:#fff; margin-bottom:10px; }
.menu{box-shadow: inset 0 1px rgba(39,197,151,0.6); }
.st-menu ul li{ padding:0px 15%;box-shadow: inset 0 -1px rgba(39,197,151,0.6), inset 0 1px rgba(122,246,210,0.2);}
.libg{ background-color:#fff; color:#24b68c;}
.libg a{color:#24b68c!important;}
.st-menu ul li a {display: block;padding: 0.5em 1em 0.5em 1.2em;outline: none; color:#fff; text-decoration:none;}
.icon-data span{ display:block; float:left}
.icon-data .icon{ width:33px!important; height:33px!important; padding:0px 10px; text-align:center;line-height:33px; }
.icon-data .icon img{ width:75%;margin-top:5px;}
.icon-data .text{height:35px!important;line-height:35px; font-size:2.1em; padding-left:10px;}
.icon-data1{ margin:0 auto; display:block ;width:80%; height:40px!important; border:1px solid #fff; border-radius:15px;padding: 0.2em 1em 0.1em 1.2em!important;font-size:2.1em;}
.phone, .ph_txt{ float:left;}
.phone{ width:40%;height:38px; line-height:38px;}
.ph_txt{ width:60%; height:38px; line-height:38px;color: #fff; text-align:left;}
.phone img{ width:30px; height:30px; display:table-cell; margin: 0 auto; margin-top:3px; margin-left:42%;}
.yj{ margin-top:12%; margin-bottom:20px;}
@media only all and (max-width: 640px) and (max-height: 480px) {
	.top{padding-top:12%;}
	.title{ font-size:3.5em;}
	.anniu{ margin: 0 auto; margin-top:8%; height:4.4rem; line-height:4.4rem; font-size:2.0em;width:48%; }
	.anniu span:nth-child(2) img{width:40%; margin-top:1.5rem; }
	.pm, .pm1, .pm2{ text-align:center; margin-top:8%; }
	.pm img{width:200px;margin: 0 auto;}
	.pm1 img{width:230px;  margin: 0 auto;}
    .pm2 img{width:210px;  margin: 0 auto;}
	}
@media only all and (max-width:1080px) and (max-height: 1920px) {
	
	.anniu span:nth-child(2) img {margin-top: 1.7rem;}
	}	