@charset "utf-8";
/* CSS Document */
/*弹出菜单 css*/
.nav_content{position: fixed;left:-100%;width:100%;height: 100%; top:0%; z-index:1000}
.tbtn{ right:-20%; top:2.2%; position:absolute;z-index: 100; margin-left:10px;}
@media only all and (max-width:1080px) and (max-height: 1920px) {
	.tbtn{ top:1.5%;}
	}	
.tbtn img{ width:50%}
.st-menu{ width:80%; background-color:#3ee0b1;position: absolute;top: 0;right:0%;z-index: 100;width: 75%;height: 100%;
-webkit-transition: all 0.5s;transition: all 0.5s;}
.st-effect-11.st-menu {opacity: 1;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0); }
.icon-stack{ text-align:center; padding-top:10px; padding-bottom:0px;}
.icon-stack img{ margin: 0 auto; width:76px; height:76px;  }
.tt-menu{ font-size:1.2em;  height:30px; line-height:30px; text-align:center; color:#fff; margin-bottom:10px; }
.menu{box-shadow: inset 0 1px rgba(39,197,151,0.6);}
.st-menu ul li{ padding:0px 15%;box-shadow: inset 0 -1px rgba(39,197,151,0.6), inset 0 1px rgba(122,246,210,0.2);}
.libg{ background-color:#fff; color:#24b68c;}
.libg a{color:#24b68c!important;}
.st-menu ul li a {display: block;padding: 0.5em 1em 0.5em 1.2em;outline: none; color:#fff; text-decoration:none;}
.icon-data span{ display:block; float:left}
.icon-data .icon{ width:50px!important; height:35px!important; padding:0px 10px; text-align:center;line-height:33px; }
.icon-data .icon img{ width:75%;}
.icon-data .first img{ width:85%;}
.icon-data .text{height:35px!important;line-height:35px; font-size:1.1em; padding-left:10px;}
.icon-data1{ margin:0 auto; display:block ;width:80%; height:40px!important; border:1px solid #fff; border-radius:15px;padding: 0.2em 1em 0.1em 1.2em!important;font-size:1.1em;}
.phone, .ph_txt{ float:left;}
.phone{ width:50px;}
.ph_txt{ height:30px; line-height:30px;color: #fff; margin-left:23px;}
.phone img{ width:60%; margin-top: 1px;}
.yj{ margin-top:12%; margin-bottom:20px;}
/*Weile 服务 css*/
header {width: 100%;position: fixed;top: 0;left: 0;height: 4.2rem; z-index: 890;background-image: -moz-linear-gradient(top, #fff, #f4f4f4); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #f4f4f4)); /* Saf4+, Chrome */}
header .txt{ text-align:center; color:#535353;height: 4.2rem; line-height: 4.2rem; font-size:1.1em;}
.main{ margin-top:4.2rem;}
.main ul li { float:left; width:33.3333%; text-align:center; padding:15px;box-shadow:inset 0 0 1px rgba(133,133,133,1);}
.line{}
.main ul li a{ display:block;}
.main .icon{ width:60px; height:60px; margin:0 auto; }
.main .icon img{ width:65%; margin-top:20px;  }
.main .text{ color:#858585;}
/*Weile 服务1 css*/
.main1{ margin-top:4.2rem;}
.main1 ul li:nth-child(1){text-align:center; padding-top:25px;}
.main1 ul li{text-align:center; padding:5px 0px; margin-bottom:25px;}
.main1 ul li a{ display:block;}
.main1 ul li a img{width:85%; }
.radius{border-radius:70px;}
/*content  css*/
.content{ margin-top:4.2rem; padding:12px; }
.content2{ margin-top:4.2rem; padding:12px; background:#fff;}
.content2 p{letter-spacing:1.5px;}
.contentimg{ text-align:center; margin-bottom:10px;}
.contentimg img{ width:100%;}
.content p{ line-height:25px; }
/*战略合作 css*/
.hz_img{ position:relative; margin-top:30px;}
.hz_img img{ display:block; width:50%; float:right; margin-right:5%;}
.hz_img span{ display:block; position:absolute; color:#430b0b; right:25%;top:50%; font-size:1.4em;}
.hz_img1{ position:relative; margin-top:30px;}
.hz_img1 img{ display:block; width:50%; float:left; margin-left:5%;}
.hz_img1 span{ display:block; position:absolute; color:#430b0b; left:25%;top:50%; font-size:1.4em;}
.hz_img2{ position:relative; margin-top:30px;}
.hz_img2 img{ display:block; width:50%; margin:0 auto;}
.hz_img2 span{ display:block; position:absolute; color:#430b0b; left:50%;top:50%; margin-left:-2%; margin-top:-5%;font-size:1.4em;}
.hz_pad{ padding-top:60px!important; margin-top:-30px!important;}
.hz_list{ margin-top:15px; margin-bottom:25px; padding:10px 15px; padding-left:35px; padding-bottom:30px; background:#a4e4d6; border-radius:10px; }
.hz_list ul li span{ display:block;float:left;}
.hz_list ul li span:nth-child(2){ width:90%; padding-left:5px; font-size:1.1em; line-height:25px;}
.hz_list .ico{ width:25px; color:#000; height:25px; text-align:center; line-height:25px;  }
.hz_list1{ background: url(../images/zl.png) no-repeat center ; background-size:100%; height:350px; margin-top:20px;}
.hz_list a{color:#272b2e;}
.hz_icon{ width:60px; margin:0 auto;}
.hz_icon img{ width:100%;}
.dh{ text-align:center;}
.dh img{ width:90%; display:table-cell; margin:0 auto;}
.hz_hb , .hz_hbr{ float:left; width:50%;height:33px; }
.hz_hb a{ display:block; color:#272b2e;height:33px; line-height:33px;}
.hz_list p{font-size: 1.1em;}
.hz_hb span, .hz_hbr span{ float:left; display:block;height:33px; line-height:33px;}
.hz_timg{height:33px; line-height:33px;}
.hz_timg img{ width:70%;}
.hz_num{}


/*联系我们 css*/
.con_title{ color:#000000; margin-top:15px; font-size:1.2em; font-weight:bold;}
.con_img{ text-align:center; padding:4px 0px; margin:0 auto;}
.con_img img{ width:100%;}
.list{ border:1px solid #84c4ff; margin-top:15px; margin-bottom:25px; padding:10px 0px;padding-left:2px; }
.list ul li span{ display:block;float:left;}
.list ul li span:nth-child(2){ width:90%; padding-left:5px; font-size:1.1em; line-height:25px;}
.list .ico{ width:25px; color:#fff; height:25px; text-align:center; line-height:25px; background: url(../images/boll.png) no-repeat; background-size:100%;  }
.list1 {margin-top:15px; margin-bottom:25px; padding:10px 0px;}
.list1 ul li{ float:left; width:20%; text-align:center; }
.list1 ul li img{ width:50%;}
.lx{ width:100%; text-align:center; padding:10px 0px; padding-bottom:35px;}
.lx img{ display:block; margin:0 auto; width:50%; }
.yc{ display:none!important;}
/*招贤纳士 css*/
.content1{ margin-top:4.2rem; padding:12px; padding-top:0px; background:#f9f0de;}
.con1_title{ background:url(../images/name.png) no-repeat; background-position:left center; width:99px; height:49px; background-size:100%; line-height:38px; text-align:center;
 color:#ed4f3a; font-weight:bold;}
.list2{ border-bottom:1px dashed #ed4f3a; margin-top:15px; margin-bottom:25px; padding:10px 0px;padding-left:2px; }
.tip{ height:25px; line-height:25px; color:#ed4f3a; text-align:left; }
.list2 ul li span{ display:block;float:left;}
.list2 ul li span:nth-child(2){ width:90%; padding-left:5px; font-size:1.1em; line-height:25px; color:#3d3d3d;}
.list2 .ico{ width:12px; color:#fff; height:25px; text-align:center; line-height:25px; background: url(../images/boll1.png) no-repeat; background-size:100%; background-position:0px 6px;  }
.nobor{ border-bottom:none;}
/*成功案例 css*/
.bg{background:#00a79d;}
.case{ margin-top:4.2rem; padding:10px 20px; margin-bottom:4rem;}

.al_list  ul li{ float:left; width:49%; margin-bottom:15px;}
.al_padding{ margin-left:2%; }
.al_list  ul li a{ display:block;color:#fff; font-size:0.9em;}
.al_list  ul li img{ width:97%;}
.al_name a{ width:97.3%;padding:10px 0px; border-bottom:2px solid #ffcf06;}
.case p{ text-align:center; color:}
.mask{height: 100%;width: 100%;filter:alpha(opacity:0);opacity: 0;background: #000;position: absolute;z-index: 1;left: 0;top:0;display: -none;}
.popup{background:#fff url(../images/loading.gif) no-repeat center;border: 10px solid #fff;border-bottom: 0px solid #fff;position: absolute;z-index: 2;;overflow:hidden;width: 320px;height: 240px;top:80px!important;}
.popup img{width:95%!important;}
.btnfd{position: absolute;right: 0;top:50px;height: 30px; line-height:30px;width:60px; text-align:center;cursor: pointer;}
.prev{left: 0;background-color: #fff; border-radius:0px 5px 5px 0px;}
.next{background-color: #fff; border-radius:5px 0px 0px 5px;}
.popupBottom{position: relative;z-index: 3;margin-top:10px; }
.popupTitle{line-height: 18px;color: #543424;font-family: Arial;font-size: 14px;padding-right: 100px;height:20px; line-height:20px;}
.popupClose{height: 22px; text-align:right;height:20px; line-height:20px;width: 66px;cursor: pointer;z-index: 4;position: absolute;top: 0px;right: 0;}

/*微商城 css*/
.wsc{margin-top:4.2rem;}
.wsc_banner{ width:100%; min-height:150px;}
.wsc_banner img{ width:100%;}
.wsc_content{ margin:20px 12px; border-radius:25px; box-shadow: 1px  1px 2px rgba(0,0,0,0.28);  }
.wsc_title{ height:3.2em; line-height:3.2em; background:#00b7ee;border-radius:25px 25px 0px 0px; color:#fff; padding-left:15px; }
.wsc_arctile{padding:30px 15px; line-height:25px; min-height:180px;}
.pager-position{width:100%;margin:0 auto;text-align:center;}