/*reset*/
body,button,input,select,textarea{font:100%/1 STHeitiSC,"Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei";-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,article,aside,footer,header,hgroup,nav,section,menu{margin:0; padding:0;-webkit-text-size-adjust:none;font-size: 100%;}
em,i{font-style:normal;font-weight:normal;}
table{border-collapse: collapse; border-spacing: 0;}
li{list-style:none;}
img{border:0;}
strong, b{font-weight: normal;}
input,img{vertical-align:middle; outline-style: none;}
article,aside,footer,header,hgroup,nav,section,menu{display:block;}

a{text-decoration:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35); color: #535353;}
body{word-break:break-all; font-size: 14px; background-color: #f8f8f8; color: #535353;}

html, body{height: 100%;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
.ml13{margin-left: 13px}

.container{position: relative; max-width: 640px; padding:0; min-height: 100%; margin: 0 auto; }
.fixed{position: fixed; left: 0; bottom: 40px; width: 100%; background-color: #fff; border-width: 1px 0 0; z-index: 1000;}

.search input, .ico_takeout, .ico_order, .ico_addres, .ico_tel, .ico_arrow, .ico_addres1, .ico_menu i, .menu_list .btn_n, .cart_num, .ico_close, .pay_type li input:checked::after, .dialog_close, .ico_status i, .shopping_cart .cart_bg, .ico_rest{display: inline-block; background: url(../images/s.png) no-repeat; background-size: 150px auto;}

.order_fixed .fixed, .order_fixed .comm_btn, .search input, .pay_type li input, .addres_box .btns_wrap, .addres_box li.btns_wrap span, .addres_box .comm_btn, .txt, .fullwidth, .normal_link, .my_order a, .confirm_box div span, .side_nav, .ico_menu, .menu_wrap.skin1 .menu_nav{-webkit-box-sizing: border-box;}

.search, .nav, .dialog_tt{background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ea6e4c), to(#ea381e)); background-image: -webkit-linear-gradient(0, #ea6e4c, #ea381e);}

.fixed, .store_list li, .comment_list li, .box, .box li, .side_nav, .side_nav a, .menu_tt h2, .menu_list li, .menu_list .btn_n, .menu_list .num, .pay_type, .timeBox div, .timeBox a, .txt, .my_order li, .detail_tools, .my_menu_list, .my_menu_list th, .my_menu_list td, .store_info, .mode_info, .ico_menu_wrap, .menu_wrap.skin1 .menu_nav{-webkit-border-image: url(../images/border.gif) 2 stretch;}

/* index */
.search{padding: 10px 8px; }
.search input{display: block; width: 100%; height: 30px; line-height: 22px; padding: 4px 4px 4px 31px;  border: none; border-radius: 6px; background-color: #fff; background-position: -125px 0;}

.store_list{background-color: #fff;}
.store_list li{display: table; width: 100%; padding: 12px 0; border-width: 0 0 1px;position: relative;}

.ico_rest{position: absolute; right: 0; margin-top: -19px; width: 39px; height: 39px; background-position: -33px -72px;}
.store_list li:first-child .ico_rest{margin-top: -18px;}

.store_list .img_tt, .store_list .main_info, .store_list .right_info{display: table-cell; vertical-align: top;}
.store_list .img_tt{width: 74px; padding: 0 10px;}
.store_list .img_tt > div{display: block; width: 62px; height: 62px; padding: 6px; background: url(../images/img_bg.png) no-repeat; background-size: cover;}
.store_list .img_tt > div span{display: block; width: 100%; height: 100%; background-size: cover;}
.store_list .nopic{height: 100%; background-size: 37px auto;}
.store_list .main_info{padding-top: 6px; font-size: 12px; line-height: 22px;}
.store_list .main_info h3{color: #ff510c; font-size: 14px;}
.store_list .sub_title{color: #959595;}
	.ico_addres{width: 10px; height: 14px; background-position: -75px 0; vertical-align: -2px; margin-right: 5px;}
.store_list .right_info{padding-top: 6px; width:40px;position: absolute;right:0;}
.store_list .right_info .label-type{border-radius: 3px;width:20px;font-size: 10px;font-weight:normal;color:#FFF;text-align:center;padding:3px 0px;line-height:13px;float: left;margin-right: 3px;}


.order_btns{height: 40px;}
.order_btns .fixed{display: -webkit-box; height: 40px;}
.order_btns a{display: block; -webkit-box-flex: 1; line-height: 40px; text-align: center; color: #535353;}
.order_btns a i{vertical-align: -3px; margin-right: 6px;}
	.ico_takeout{width: 12px; height: 20px; background-position: -60px -47px; vertical-align: -4px !important;}
	.ico_order{width: 12px; height: 16px; background-position: 0 -25px;}
.order_btns a.on{color: #ff510c;}
	.on .ico_takeout{background-position: -60px 0;}
	.on .ico_order{background-position: -85px -25px;}



/* stroe_detail */
.nav{padding: 10px 0;}
.nav div{display: table; width: 62%; margin: 0 auto;}
.nav a{display: inline-block; -webkit-box-sizing: border-box; width: 50%; font-size: 14px; height: 28px; line-height: 26px; text-align: center; color: #fff; border: 1px solid #fff;}
.nav a:first-child{border-right: none; border-radius: 5px 0 0 5px;}
.nav a:last-child{border-left: none; border-radius: 0 5px 5px 0;}
.nav a.on{background-color: #fff; color: #e93b23;}

.img_swipe{position: relative; overflow: hidden;}
.img_swipe ul{overflow: hidden;}
.img_swipe li{position: relative; float: left;}
.img_swipe img{width: 100%; max-height: 200px;}
.img_swipe li a{position: relative; display: block; color: #fff;}

.img_swipe ol{position: absolute; left: 0; width: 100%; bottom: 5px; text-align: center;}
.img_swipe ol li{display: inline-block; float: none; width: 9px; height: 9px; border-radius: 8px; margin: 0 2px; background-color: #fff;}
.img_swipe ol li.on{background-color: #ea4b2e;}

.store_info{margin-top:15px; display: table; width: 100%; padding: 12px 0 14px; background-color: #fff; border-width: 1px 0;}
.store_info span{display: inline-block; width: 33.33%; font-size: 12px; text-align: center;}
.store_info span strong{display: block; font-size: 26px; margin-bottom: 2px;}

.mode_info{display: table; width: 100%; padding: 8px 0 8px; background-color: #fff; border-width: 1px 0;}
.mode_info span{display: inline-block; width: 25%; font-size: 12px; text-align: center;}
.mode_info span a{display: inline-block; color:#ff5f32; font-size:13px;}
.mode_info span a.not-support{opacity: 0.4;}
.mode_info span a strong{display: block; width:50px; height:50px; line-height:45px; font-size: 25px; margin:0 auto; margin-bottom: 6px; border:3px solid #fcfcfc; box-shadow: 0px 1px 2px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1); border-radius:100%; background:white}

.box{margin: 15px 0; border-width: 1px 0 0; background-color: #fff;}
.box li{padding: 10px 15px; border-width: 0 0 1px; line-height: 24px;}
.box li a{display: table; min-height: 24px;}
.box li a > *{display: table-cell; vertical-align: middle;}
.box li a span:first-child i{margin: 0 10px 0 2px; vertical-align: middle;}
.box li a strong{width: 100%;}

.ico_tel{width: 17px; height: 17px; background-position: -104px 0; vertical-align: -2px !important;}
.ico_arrow{width: 8px; height: 13px; background-position: -14px -25px;}
.ico_addres1{width: 15px; height: 21px; background-position: -86px 0;}

.go_menu{height: 44px;}
.go_menu .fixed{padding: 6px 14px; -webkit-box-sizing: border-box;}
.go_menu a{display: block; height: 31px; line-height: 31px; text-align: center; color: #fff; background-color: #ff5f32; border-radius: 3px;}

/* menu */
.menu_wrap{position: relative;}
.menu_wrap .tips{background-color: #d9d9d9; height: 26px; line-height: 26px; text-align: center; font-size: 12px;}
.menu_wrap .tips a{display: block;}
.mine-tips{padding:0 10px;color:#f90;background-color: #ffc; height: 35px; line-height: 35px; text-align: left; font-size: 12px;}

.menu_nav{position: absolute; width: 120px; right: 0; background-color: #f8f8f8; z-index: 100;}
	.ico_menu_wrap{border-width: 0 0 1px;}
		.ico_menu{float: right; width: 32px; height: 26px; padding: 8px;}
		.ico_menu i{display: block; width: 16px; height: 11px; background-position: -105px -25px;}

	.side_nav{ position: relative; height: 100%; width: 120px; background-color: #fff; border-width: 0 0 1px 1px; overflow: hidden; display: none;}
	.side_nav ul{position: relative;}
	.side_nav li{height:inherit}
	.side_nav a{position: static; width: 120px;line-height: 18px; border-width: 0 0 1px; text-align: center; -webkit-tap-highlight-color: transparent; display:block;height: inherit; padding:10px 0;}
	.side_nav li:last-child a{border-width: 0;}
	.side_nav a.on{border-color: #ea3f25; background-color: #ea3f25; color: #fff;}

.menu_tt{height: 27px;}
.menu_tt h2{width: 100%; -webkit-box-sizing: border-box; height: 27px; line-height: 27px; padding-left: 15px; font-size: 12px; color: #919191; background-color: #f8f8f8; border-width: 0 0 1px;}

.menu_fixed{position: fixed; top: 0;/* border-top-color: #f8f8f8;*/}

.nopic{background: #e4e4e4 url(../images/nopic.png) center center no-repeat; background-size: 61px auto; border-radius: 3px;}

.menu_list{background-color: #fff;}
.menu_list li{ border-width: 0 0 1px; -webkit-box-sizing: border-box;}
.menu_list li > div{display: table; width: 100%; padding: 0 6px;}
.menu_list li .top > div{display: table-cell; padding: 7px 4px 7px 4px; vertical-align: middle;}
.menu_list li .top > div:first-child{width: 58px; position:relative;}
.menu_list li .top > div:first-child .dish_label{position:absolute; width:35px; padding-left:3px; background: url(../images/tag.png) no-repeat; background-size: 35px auto; font-size: 10px; color:#FFF;}
.menu_list li .top > div:first-child img{width: 100%; border-radius: 5px;height:50px;}
.menu_list li .top > div:nth-of-type(3){text-align: right; width: 85px;}
.menu_list li .bottom{margin-top:-4px; padding:0px 10px 6px 10px; text-align:right;}
.menu_list li .bottom > div{display:inline-block; margin-left:10px; font-size:12px; color:#979797;}

.menu_list .nopic{height: 58px; background-size: 37px auto; border-color: #e4e4e4;}
.menu_list li h3{font-weight: normal; line-height: 1.8;}
.menu_list li h3 span{color: #ff510c;}
.menu_list li p{font-size: 12px; line-height: 1.8;}
.menu_list li strong{display: block; font-size: 20px; color: #ff510c; margin-bottom: 6px;}
.menu_list .btn_n, .menu_list .num{float: left; width: 25px; height: 25px; background-color: #fff; border-width: 1px;}
.menu_list .btn_n.active{background-color: #f9f9f9;}
.menu_list .btn_n.add{background-position: 0 -44px;}
.menu_list .btn_n.del{background-position: -27px -44px;}
.menu_list .num{line-height: 25px; text-align: center; border-width: 1px 0;}
.menu_list .info{display: none;}

	.sales{display: inline-block; width: 160px; height: 23px; background: url(../images/star1.png) 0 0 repeat-x; background-size: 33px auto; margin-left: 4px; vertical-align: -1px;}
	.sales strong{display: inline-block; height: 23px; background: url(../images/star1.png) 0 -24px repeat-x; background-size: 33px auto; vertical-align: top;}
	.sales .sale_1{width: 5px;} /*4*/
	.sales .sale_2{width: 10px;}
	.sales .sale_3{width: 19px;}
	.sales .sale_4{width: 24px;}
	.sales .sale_5{width: 33px;}
	.sales .sale_6{width: 38px;}
	.sales .sale_7{width: 47px;}
	.sales .sale_8{width: 52px;}
	.sales .sale_9{width: 61px;}
	.sales .sale_10{width: 66px;}

.shopping_cart{height: 43px;}
.shopping_cart .fixed{padding: 6px 15px; -webkit-box-sizing: border-box; color: #ff510c;}
.shopping_cart .cart_bg{width: 32px; height: 32px; background-position: 0 -71px;}
	.cart_num{display: block; width: 32px; height: 32px; line-height: 32px; text-align: center; background-position: -26px 0;}
	.cart_num.has_num{background: none;}
		
.shopping_cart .fixed > div{display: table-cell; vertical-align: middle;}
.shopping_cart .fixed > div:nth-of-type(2){width: 100%; font-size: 16px; padding: 0 10px;}

.comm_btn{display: inline-block; height: 31px; line-height: 31px; padding: 0 15px; font-size: 14px; color: #fff; background-color: #ff5f32; border-radius: 3px; white-space: nowrap;}
.disabled{background-color: #b6b6b6 !important; cursor: default;}

.menu_detail{padding: 8px 14px; display: none;}
.menu_detail .nopic{height: 132px;}
.menu_detail img, .menu_detail .nopic{margin-bottom: 5px;}
.menu_detail img{display: block; margin-bottom: 5px; width: 100%; border-radius: 3px; max-height: 263px;}
.menu_detail p, .menu_detail dl{padding-left: 10px; line-height: 24px;}
.menu_detail dl{color: #959595;}
.menu_detail dl dt{float: left;}
.menu_detail dl dd{overflow: auto;}
.menu_detail .comm_btn{position: absolute; right: 14px; margin-top: 5px;}
.ico_close{position: absolute; right: 15px; top: 9px; width: 23px; height: 23px; background-position: 0 0;}

/* skin1 */
.menu_wrap.skin1 .menu_nav{right: auto; left: 0; width: 84px; padding-left: 10px; background: url(../images/nav_bg.jpg) no-repeat; background-size: 100% 100%; border-width: 0 1px 0 0;}
.menu_wrap.skin1 .ico_menu_wrap{display: none;}
.menu_wrap.skin1 .side_nav{display: block; width: 100%; border-width: 0; background: none;}
.menu_wrap.skin1 .menu_container{padding-left: 84px;}
.menu_wrap.skin1 .side_nav ul{padding: 10px 0 3px;}
.menu_wrap.skin1 .side_nav li{border-width: 0; height: 38px; margin-bottom: 7px; height: inherit;}
.menu_wrap.skin1 .side_nav li a{width: 74px; height: 38px; line-height: 18px; border-width: 0; background-color: #fff; border-radius:  3px 0 0 3px; display:block; position:static;height: inherit; padding:10px 0;}
.menu_wrap.skin1 .side_nav a.on{background-color: #eb4328;}
.menu_wrap.skin1 h2.menu_fixed{left: 0; padding-left: 99px;}

/* order */
.order_list .fr{margin-top: -3px;}
.order_list .count{display: none;}
.order_fixed{height: 91px;}
.order_fixed .fixed{padding: 14px;}
.order_fixed .comm_btn{width: 65%; margin-top: 10px; height: 38px; line-height: 38px; text-align: center; float:left}
.order_fixed .add{ width:35%; display:block; float:left;margin-top: 10px;  height: 38px; line-height: 38px; text-align: center; padding-right:10px; }
.order_fixed .add label{ display:block; margin:0 auto; background-color:#1da35a;border-radius: 3px;font-weight:normal;}
.order_fixed .add label span{ width:55px; margin:0 auto; color:#fff; font-size:14px; background:url(../images/add.png) no-repeat left center; background-size:20px 20px; display:block; padding-left:25px;}
.order_fixed .fr{margin-top: -3px;}
.order_fixed p{padding: 0 7px;}
.order_fixed strong{color: #ff510c; font-size: 18px; vertical-align: -1px;}

/* pay */
.pay_wrap .box{margin: 10px 0;}
.pay_box li{margin-left: 15px;}
.pay_box li:first-child{margin-left: 0px}
.pay_box li a > span{width: 100%; text-align: right;}
.pay_box li a > strong{width: auto; white-space: nowrap; padding-right: 10px;}
.pay_wrap .ico_arrow{vertical-align: -2px; margin-left: 10px;}

.pay_type{border-width: 1px 0;}
.pay_type li{margin-left: 30px; padding: 0;}
.pay_type li:first-child{margin-left: 15px;}
.pay_type li:last-child{border-width: 0;}
.pay_type li label{display: block; padding: 10px 12px 10px 3px;}
.pay_type li input{-webkit-appearance: none; float: right; width: 18px; height: 18px; margin-top: 3px; border: 1px solid #e5e5e5; border-radius: 18px;}
.pay_type li input:checked::after{content: ''; width: 18px; height: 18px; background-position: -58px -27px; margin: -1px 0 0 -1px; background-color: #fff;}

.timeBox{padding: 8px 0; display: none;}
.timeBox div{border-width: 1px 0 0;}
.timeBox a{display: block; height: 30px; line-height: 30px; padding-left: 24px; border-width: 0 0 1px; color: #959595;}

.addres_box{padding: 8px 14px; display: none;}
.addres_box li{margin-bottom: 8px;}
#codeWrap{display: none;}
.addres_box li span{display: table-cell; vertical-align: top;}
.addres_box .get_code{display: table; width: 100%;}
.addres_box li span:first-child{width: 100%;}
.addres_box li span:not(:first-child){padding-left: 6px;}
.addres_box .btns_wrap{padding: 2px 6px; display: table; width: 100%;}

.addres_box li.btns_wrap span{display: inline-block; width: 50%; padding: 0 4px;}
.addres_box .comm_btn, .fullwidth{width: 100%; text-align: center;}
.comm_btn.higher{height: 37px; line-height: 37px;}

.vali_code{padding-top: 20px;}
.vali_code li{line-height: 31px; margin-bottom: 13px;}
.vali_code .tips{text-align: center; color: #000; line-height: 1;}

.txt{-webkit-appearance: none; width: 100%; height: 31px; padding: 4px 9px; border-width: 1px; border-radius: 10px;}
textarea.txt{height: 92px; line-height: 24px;}
.txt.max{height: 140px;}

/* dialog */
.dialog{position: fixed; left: 0; top: 0; width: 100%; height: 100%; padding: 0 20px; z-index: 2000; -webkit-box-sizing: border-box; display: -webkit-box; -webkit-box-pack: center; -webkit-box-align: center;}
.dialog.mask{background-color: rgba(0, 0, 0, .2);}
	.dialog_wrap{position: relative; width: 100%; max-width: 640px; border-radius: 5px; overflow: hidden; -webkit-animation:bounceIn .5s .2s ease both;}
	.dialog_scroller{position: relative; float: left; width: 100%; overflow: hidden; background-color: #fff; border-radius: 0 0 5px 5px;}
		.dialog_close{position: absolute; right: 15px; top: 9px; width: 23px; height: 23px; background-position: 0 0;}
		.dialog_tt{height: 42px; line-height: 42px; color: #fff; text-align: center; font-size: 16px; border-radius: 5px 5px 0 0;}
.dialog .sales{vertical-align: 0;}
.highlight{color: #ff5f32; font-size: 16px;}

@-webkit-keyframes bounceIn{
	0%{opacity:0;-webkit-transform:scale(.3)}
	50%{opacity:1;-webkit-transform:scale(1.05)}
	70%{-webkit-transform:scale(.9)}
	100%{-webkit-transform:scale(1)}
}

/* success */
.success_bg{position: absolute; left: 0; width: 100%; top: 0; bottom: 0;}
.success_bg img{width: 100%; height: 100%;}
.success_wrap{position: relative; padding: 48px 56px; text-align: center;}

.ico_success, .ico_failure{display: inline-block; width: 88px; height: 88px; border: 2px solid #ff5f32; border-radius: 88px; background: url(../images/success.png) -2px -2px no-repeat; background-size: 92px auto;}
.ico_failure{background-position: -2px -97px; border-color: #535353;}

.success_info{font-size: 16px; margin: 30px 0 50px;}
.success_info h3{font-size: 24px; margin-bottom: 10px;}
.success_wrap .comm_btn{height: 40px; line-height: 40px;}
.normal_link{display: block; width: 100%; height: 40px; line-height: 40px; text-align: center; border: 1px solid #ff5f32; border-radius: 3px; color: #ff5f32; margin-top: 10px;}

.pay_dialog .pay_type{margin: 8px 0; border-width: 1px 0;}
.pay_dialog .pay_type li{margin: 0;}
.pay_dialog .pay_type li label{padding: 4px 15px 4px 20px;}

/* my_order */
.my_order{background-color: #fff;}
.my_order li{border-width: 0 0 1px;}
.my_order a{display: table; width: 100%; padding: 10px;}
.my_order a > div{display: table-cell; vertical-align: middle; line-height: 20px; font-size: 12px;}
.my_order a > div:first-child{width: 67px;}
.my_order h3{font-size: 14px;}
.my_order p{color: #959595;}

.ico_status{display: table-cell; width: 55px; height: 55px; border: 1px solid #ff6438; border-radius: 55px; text-align: center; vertical-align: middle; line-height: 16px;}
.ico_status i{display: block; margin: 0 auto 4px;}

.ico_status.confirm{background-color: #ff6438; color: #fff;}
.ico_status.confirm i, .ico_status.complete i{width: 23px; height: 16px; background-position: -80px -45px;}
.ico_status.inhand, .ico_status.pending{background-color: #fff; color: #ff510c;}
.ico_status.inhand i{width: 19px; height: 19px; background-position: -130px -54px;}
.ico_status.pending i{width: 19px; height: 20px; background-position: -130px -31px;}
.ico_status.complete{background-color: #d1d1d1; border-color: #d1d1d1; color: #fff;}
.ico_status.cancle{background-color: #fff; color: #959595; border-color: #989898;}
.ico_status.cancle i{width: 16px; height: 16px; background-position: -110px -45px;}

/* my_order_detail */
.order_detail_tt{height: 28px; line-height: 28px; text-align: center; background-color: #404546; color: #fff; font-size: 12px;}
.w14{width: 14px;}
.detail_tools{display: -webkit-box; border-width: 0 0 1px; padding: 6px 0;}
.detail_tools div{-webkit-box-flex: 1;}
.detail_tools div:first-child{padding: 0 3px 0 15px;}
.detail_tools div:last-child{padding: 0 15px 0 3px;}

.detail_tools div:only-child{padding: 0 15px;}
.detail_tools div a{width: 100%; text-align: center; padding: 0;}
.detail_tools .normal_link{margin: 0; height: 31px; line-height: 28px; border-color: #d9d9d9;}

.my_menu_list{width: 100%; background-color: #fff; margin-top: 10px; border-width: 1px 0 0; border-collapse: separate;}
.my_menu_list th, .my_menu_list td{ border-width: 0 0 1px; text-align: right;}
.my_menu_list tr :first-child{text-align: left;}
.my_menu_list tr :nth-of-type(2){width: 36px; padding-right: 5px;}
.my_menu_list tr :nth-of-type(3){width: 60px; padding-left: 5px;}
.my_menu_list th{background-color: #f8f8f8; padding: 7px 15px; font-weight: normal; color: #919191;}
.my_menu_list td{line-height: 20px; padding: 12px 15px;}

.my_order_tips{line-height: 23px; padding: 7px 5px; text-align: center; margin-top: -15px;}

.confirm_box{padding: 30px 23px 15px; display: none;}
.confirm_box p{text-align: center; margin-bottom: 26px; line-height: 22px;}
.confirm_box div{display: table; width: 100%;}
.confirm_box div span{display: inline-block; width: 50%;}
.confirm_box div span:first-child{padding-right: 5px;}
.confirm_box div span:last-child{padding-left: 5px;}
.confirm_box .comm_btn{width: 100%; padding: 0; text-align: center;}

/* score */
.score_list li div{display: table; width: 100%;}
.score_list li div > *{display: table-cell;}
.score_list li span{width: 56px; text-align: right; color: #828282;}

.ico_score, .ico_score strong{background: url(../images/star1.png) repeat-x; background-size: 33px auto;}
.ico_score{width: 165px; height: 23px; background-position: 0 0; margin-top: 3px;}
.ico_score strong{display: block; width: 0; height: 23px; background-position: 0 -24px;}
.ico_score .score_1{width: 24px;} /*9*/
.ico_score .score_2{width: 57px;}
.ico_score .score_3{width: 90px;}
.ico_score .score_4{width: 123px;}
.ico_score .score_5{width: 156px;}

.ico_scored, .ico_scored strong{background: url(../images/star2.png) repeat-x; background-size: 15px auto;}
.ico_scored{width: 75px; height: 11px; background-position: 0 -12px; margin-top: 3px;}
.ico_scored strong{display: block; width: 0; height: 11px; background-position: 0 0;}
.ico_scored .score_1{width: 11px;}
.ico_scored .score_2{width: 27px;}
.ico_scored .score_3{width: 43px;}
.ico_scored .score_4{width: 59px;}
.ico_scored .score_5{width: 75px;}

.score_btns a{color: #ff510c;}
.score_btns a.on{background-color: #ff510c; color: #fff;}

.menu_list_edit{width:55px;height:55px;border-radius:60px;color:#fff;background: #ff5e33;opacity: 0.8;border: 1px solid #FFF;position:absolute;right:0;top:0px}

/*手机端管理订单*/
.manage_list{background-color: #fff;}
.manage_list li{display: table; width: 100%; padding: 0 6px; border-width: 0 0 1px; -webkit-box-sizing: border-box;}
.manage_list li > div{display: table-cell; padding: 10px 4px; vertical-align: middle;}
.manage_list li > div:first-child{width: 70px;}
.manage_list li > div:nth-of-type(3){text-align: right; width: 130px;}
.manage_list li h3{font-weight: bold; line-height: 1.8; color: #ff510c;}
.manage_list li p{font-size: 12px; line-height: 1.8;}
.manage_list li strong{display: block; font-size: 18px; color: #ff510c; margin-bottom: 6px;}
.on-info{height:50px;line-height:50px;text-align:center;color:#ff510c}

.page_fixed{position:fixed;bottom:200px;left:30px;width:55px;background:#ff5e33;height:55px;color:#FFF;opacity:0.8;border:1px solid #FFF;border-radius:60px;} 

.addresslist ul.list{ list-style:none; overflow:hidden; width:100%;}
.addresslist ul.list li{ width:100%; float:left}
.addresslist ul.list li table { width:100%; vertical-align:middle; min-height:50px;}
input[type='radio']{-webkit-appearance: none; width:18px; height:18px; border:1px solid #e5e5e5; border-radius:50%}
input[type='radio']:checked{background: url(../images/s.png) no-repeat;
background-size: 149px auto;background-position: -58px -27px; border:none;}
.addresslist ul.list li{ background:#fff; margin-top:10px; border:1px solid #dadada; border-left:none; border-right:none; padding:8px 0;  line-height:16px;}
.addresslist ul.list li table .text{ padding:5px 0px 5px 15px;font-size:14px;}
.addresslist ul.list li table .text span{ display:block; float:left}
.addresslist ul.list li table .text label{display:block; float:lef; text-indent:10px;}
.addresslist ul.list li table .edit_icon{ width:30px; display:inline-block;}
.addresslist ul.list li table .td_edit{ width:70px;}
.addresslist ul.list li table .edit_icon span{background: url(../images/s.png) no-repeat;background-size: 149px auto;background-position: -78px -73px; width:21px; height:20px; display: block; margin:0 auto;}
.addresslist ul.list li table .td_radio{ padding:0 0px 0 15px; width:33px;}
.addresslist .btn_div{ width:100%; padding:20px 15px;}
.addresslist .btn_div a{ width:100%; height:44px; line-height:44px; text-align:center; color:#ff5f32; border:1px solid #ff5f32; border-radius:5px; display:block;}
.addresslist .btn_div a span{ display:block; width:110px; margin:0 auto; font-size:14px;}
.addresslist .btn_div a span i{ background: url(../images/s.png) no-repeat;
background-size: 149px auto;background-position: -111px -65px; display:block; width:13px; height:42px; float:left; }
/****/
.addressedit .info{ width:100%; padding:15px;}
.addressedit .info.add .recipient{ display:block}
.addressedit .info.add .addr1{ display:none}
.addressedit .info .recipient{ display:none;}
.addressedit .info .line{ width:100%; margin-bottom:10px; font-size:13px;}
.addressedit .info .line.radio{ height:55px; line-height:55px;margin-bottom:0px; }
.addressedit .info .line.radio span{ color:#ff510c}
.addressedit .info .line input[type='text'],input[type='tel']{ width:100%; height:40px; line-height:20px; border:1px solid #dbdbdb; border-radius:3px; padding-left:9px; -webkit-appearance: none; }

 .addressedit .info .line input[type='checkbox']{-webkit-appearance: none; width:18px; height:18px; border:1px solid #e5e5e5; border-radius:50%; margin:0 9px;}
.addressedit .info .line input[type='checkbox']:checked{background: url(../images/s.png) no-repeat;
background-size: 149px auto;background-position: -58px -27px; border:none;}
.addressedit .info .line.address { position:relative;}
.addressedit .info .line.address.disabled i{ display:none}
.addressedit .info .line.address i{position:absolute; top:0;right:0px; height:40px; width:40px;background-image:url(../images/address.png); background-size:auto 22px; background-repeat:no-repeat; background-position:center center; z-index:2;}
.addressedit .btn_div{ width:100%; padding:20px 15px;}
.addressedit .btn_div a{ width:100%; height:44px; line-height:44px; text-align:center; color:#fff; border:1px solid #ff5f32; border-radius:5px; display:block; background:#ff5f32;}
.addressedit .btn_div a span{ display:block; width:110px; margin:0 auto; font-size:14px;}

.nav_common{text-align:center;height:40px;}
.nav_common>ul{height:40px;position:fixed;	z-index:200;bottom:0px;left:0;width:100%;background: #fdfdfd;list-style-type: none;	display: -webkit-box;-webkit-box-orient: horizontal;  border-top:1px solid #e7e7e7; min-width:320px;}
.nav_common >ul>li{list-style: none; -webkit-box-align: center; -webkit-box-flex: 1;  border-left:1px solid #d9d9d9;}
.nav_common >ul>li:first-child{  border-left:none;}
.nav_common >ul>li>a{
	margin: 0 auto;
	font-size:14px;
	line-height:20px;
	color:#848484;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-bottom:0;
	display:block;
	height:100%;
	padding:10px 0;
	text-align:center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration:none;
	width:80px;
}
.nav_common >ul>li>a.min{ width:55px}
.nav_common >ul>li>a.middle{ width:62px}

.nav_common li>a.on, .nav_common li>a.active{
	color:#fff;
}
.nav_common li>a>*{
	pointer-events:none;
}
.nav_common li>a>span{
	display: block;
	width:20px;
	height:20px;
	margin:auto;
	background:url(../images/nav.png);
	-webkit-background-size: auto 44px;
	float:left
}

.nav_common li>a>span.order{
	background-position:-4px 0px
}
.nav_common li>a>span.introx{
	background-position:-48px 0px
}
.nav_common li>a>span.my{
	background-position:-24px 0px
}
.nav_common li>a>span.sure{
	background-position:-72px 0px
}
.nav_common li>a>span.cacel{
	background-position:-96px 0px
}
.nav_common li.on>a>label{ color:#ef7f2c; }
.nav_common li.on>a>span{
	background-position-y: -24px;
}

.nav_common li>a label{
	width: 100%; 
	text-align:center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-weight:normal;
	display: table-cell;
}

.nav_common li.more{
 	position:relative;
}
.nav_common li.more ul{
	border: 1px solid #d9d9d9;
	position:absolute;
	width:100px;
	display:none;
	border-radius:5px;
	background:#fafafa;
	bottom:53px
	
}
.nav_common li.more ul.on{display:block;}
.nav_common li.more .adron{ display:none;}
.nav_common li.more .adron.on{ display:block; width:8px; height:8px;background: #fafafa; -webkit-transform:rotate(45deg); position:absolute; top:-18px; margin-left:50%; z-index:444; border: 1px solid #d9d9d9;border-top: none;border-left: none; }
.nav_common li.more ul li{
	line-height:40px;
	float:left;
	width:100%;
	text-align:center;
	border-bottom:1px solid #d9d9d9;
	font-size:14px;
}
.nav_common li.more ul li:last-child{ border-bottom:none}
.nav_common li.more ul li a{ display:block; width:100%; height:100%; padding:0 15px;
	color:#5d5d5d;}
.nav_common li.more ul li.checked a{ color:#ef7f2c}

.page{width:100%;margin:0 auto;text-align:center}
.page li a{color:#ff510c;border:1px solid #ff510c;}
.page li.active a{color:#ff510c;border:1px solid #ff510c;}

.text-strong{font-size:20px;color:#ff510c;font-weight: normal;}

.comment-area{padding: 10px 0;background: #FFF}
.comment-area div{display: inline-block; width: 24%;  color:red; font-size: 14px; height: 30px; text-align: center; color: #fff; border-right: 1px solid #ccc;}
.comment-area div:last-child{border-right:none;}
.comment-area div h2{font-size:14px;font-weight: 600;padding-bottom: 5px;color:#333;}
.comment-area div a{display: block;font-size:14px;font-weight: 600;padding-bottom: 5px;color:#333;}
.comment-area div span{color:#ccc;}

.comment-stat{background: #FFF;border-bottom: 1px solid #d9d9d9;}
.comment-stat .left{float:left;padding:30px 0;width:25%;text-align: center;font-size: 14px;color:#333;}
.comment-stat .left span{font-weight: 600;}
.comment-stat .left h2{font-weight: 600;margin-top: 10px;}
.comment-stat .left h2 span{font-size:18px;color:#ff510c;}
.comment-stat .right{float:left;width:75%;padding: 10px 0;}
.comment-stat .right ul li{height:23px;line-height: 29px;font-size: 14px;}

.comment_list{background-color: #fff;}
.comment_list li{display: table; width: 100%; padding: 0 6px; border-width: 0 0 1px; -webkit-box-sizing: border-box;}
.comment_list li > div{display: table-cell; padding: 10px 4px; vertical-align: top;}
.comment_list li > div:first-child{width: 58px;}
.comment_list li > div:first-child img{width: 100%; border-radius: 58px;}
.comment_list li > div h3{margin-bottom: 5px}
.comment_list li div.center{margin-bottom: 5px}
.comment_list li div.center span{display: inline-block;width:32%;} 

.notice{font-size:12px; overflow: hidden; color:#f90; background:#ffc; border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2; padding:0 10px;}
.notice .notice-box{height:37px; line-height:37px; word-break:break-all; font-size:12px; overflow:hidden;}
.notice .scrollNotice{width:20000px;}
.notice .scrollNotice span{position:relative;}
