.queue{margin-top:20px; font-family:'微软雅黑';}
.queue .list{display:inline-block; position:relative; width:150px; height:150px; border-radius:100%; margin:0 20px 20px 0; color:#FFF;}
.queue .list .name{display:inline-block; width:150px; height:90px; line-height:90px; text-align:center; font-size:20px; font-weight:bold;}
.queue .list .status{display:inline-block; width:150px; height:30px; line-height:30px; text-align:center; font-size:16px;}
.queue .list .button{position:absolute; display:none; top:0px; right:0px; width:35px; height:35px; text-align:center; line-height:35px; font-size:22px; border-radius:40px; background:rgba(0,0,0,.3);}
.queue .list:hover .button{display:block;}
.queue .list:hover .button:hover{background:#000}

.board{margin-top:20px; font-family:'微软雅黑';}
.board .list{display:inline-block; position:relative; width:31.1%; height:100px; margin:0 2% 20px 0; color:#FFF;}
.board .list .name{display:inline-block; width:100%; height:60px; line-height:60px; text-align:center; font-size:20px; font-weight:bold;}
.board .list .status{display:inline-block; width:100%; height:20px; line-height:20px; text-align:center; font-size:14px;}


.block-gray{background:#555555}
.block-red{background:#ef4437}
.block-primary{background:#428bca}
.block-success{background:#5cb85c;}
.block-orange{background:orange;}

.table-block.panel{display:inline-block; margin-right:20px}
.table-block.panel .panel-body{padding:25px}
.table-block.panel .panel-body div{width:120px; height:120px; border-radius:100%; position:relative}
.table-block.panel .panel-body div span{position:absolute; top:45px; left:30px; font-size:20px; color:#FFF;}
.table-block.panel .panel-footer{text-align:center; padding:5px; font-size:16px}

.table-qrcode.panel{display:inline-block; margin-right:20px; float:left}
.table-qrcode.panel .panel-heading{text-align:center;font-size:16px}
.table-qrcode.panel .panel-body{padding:15px}
.table-qrcode.panel .panel-body div.qrcode{width:190px; height:190px; border-radius:100%;}

#qrcode-modal .qrcode{text-align:center; width:100%; margin:0 100px;}
#qrcode-modal .panel{width:300px;height:330px;display:inline-block; float:left}
#qrcode-modal .panel span{border:1px solid #CCC;width:260px;height:260px;display:inline-block;}

.qrcode-list.panel{display:inline-block; margin-right:20px;  float:left}
.qrcode-list.panel .panel-heading{text-align:center;font-size:16px}
.qrcode-list.panel .panel-body{padding:15px;}
.qrcode-list.panel .panel-body div{width:260px; height:260px; border-radius:100%; position:relative}
.qrcode-list.panel .panel-footer{text-align:center}

.thumbs .col-lg-3{padding-left:0;}
.panel-slide{position: relative;}
.panel-slide .btnClose{position: absolute; top:-10px; right:-10px; width:30px; height: 30px; border-radius: 30px;background: #eee; font-size: 16px; cursor: pointer; color:#FFF; text-align: center; line-height: 30px}
.panel-slide .btnClose:hover{background: red}
.panel-slide .panel-body div{margin-top: 10px}

