 @charset "UTF-8";
/* CSS Document */
body{background-color:#f7f7f7;}
span,td,th,table,fieldset,form,pre,blockquote,p,dd,dt,li,dl,ol,ul,h6,h5,h4,h3,h2,h1,div,body,html,input{margin:0;padding:0;}
ul li{list-style:none;}
img{border:none;padding:0;margin:0;}

.fl{float:left;}
.fr{float:right;}
.clear{clear:both;height:0;width:0;overflow:hidden;zoom:1;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mt5{margin-top:5px;}
.cursor{cursor:pointer;}
.p10{padding-left:10px;}

.layer{width:100%;font-family:arial, "宋体";color:#666;font-size:12px;line-height:18px;text-align:left;background-color:#f7f7f7;} 
.layer a:link,.layer a:visited{color:#666;text-decoration:none;}
.layer a:hover{color:#ff7300;text-decoration:underline;}

.step,.step a,.step a:link,.step a:visited,.step a:hover{width:61px;height:22px;line-height:22px;display:block;text-align:center;font-weight:bold;}
.step,.step a,.step a:link,.step a:visited{background:url(http://ui.tiantis.com/Images/MShopDec/inco_btn.gif) -20px -286px no-repeat;font-weight:bold;}
.step a:hover{background:url(http://ui.tiantis.com/Images/MShopDec/inco_btn.gif) -82px -286px no-repeat;font-weight:bold;}

.orange{color:#FF6600;}
.orange a{color:#FF6600;text-decoration:none;}
.orange a:link{color:#FF6600;text-decoration:none;}
.orange a:visited{color:#FF6600;text-decoration:none;}
.orange a:hover{color:#FF6600;text-decoration:underline;}

/* .btn14{width:94px;height:22px;line-height:22px;color:#333;border:none;background:url(http://ui.tiantis.com/Images/MShopDec/inco_btn.gif) 0 -376px no-repeat;text-align:center;cursor:pointer;}  */
.btn14{width:47px;height:23px;line-height:23px;color:#333;text-align:center;border:none;background:url(http://ui.tiantis.com/Images/MShopDec/inco_btn.gif) -53px -163px no-repeat;text-align:center;cursor:pointer;margin-right:3px;} 
.btn15{width:94px;height:22px;line-height:22px;color:#333;border:none;background:url(http://ui.tiantis.com/Images/MShopDec/inco_btn.gif) 0 -376px no-repeat;text-align:center;cursor:pointer;} 
.inforinco1{background:url(http://ui.tiantis.com/Images/MShopDec/inco5.jpg) no-repeat right;width:45px;text-align:center;float:left;margin-right:13px;margin-bottom:23px;}
.inforinco2{background:url(http://ui.tiantis.com/Images/MShopDec/inco4.jpg) no-repeat right;padding-right:10px;float:left;margin-right:13px;color:#ececec;font-size:12px;}
.inforinco2 a:link,.inforinco2 a:visited,.inforinco2 a:hover{color:#ececec;text-decoration:none;}

.bred:hover{border:2px dotted #f00;width:737px;}
.layerline{border-bottom:1px solid #e5e5e5;}
.picker{width:16px;height:16px;padding:1px;border:1px solid #d2d2d2;display:inline-block;cursor:pointer;}
.picker span{width:16px;height:16px;display:inline-block;background-color:#acd0ea;}

/*自定义风格等标题*/
*html{background-image:url(about:blank);background-attachment:fixed;} 
.skinbar{z-index:999999;width:100%;height:37px;background:url(http://ui.tiantis.com/Images/MShopDec/tit_bg1.jpg) repeat-x top fixed;font-family:arial, "宋体";color:#666;font-size:12px;line-height:18px;text-align:left;position:fixed;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop));}
.skintop{width:634px;height:37px;background:url(http://ui.tiantis.com/Images/MShopDec/top_bg.jpg) no-repeat left top;margin:0 auto;}
.skintab{width:360px;height:35px;margin-top:2px;float:left;}
.skintab li{height:26px;line-height:35px;float:left;font-family:"微软雅黑","宋体";font-weight:bold;font-size:14px;margin-right:5px;}
.skintab li a, .skintab li a span{height:35px;line-height:35px;float:left;font-size:14px;color:#fff;font-family:"微软雅黑","宋体";display:block;text-decoration:none;}
.skintab li a{background:url(http://ui.tiantis.com/Images/MShopDec/tit.gif) right -133px no-repeat;padding-right:20px;}
.skintab li a span{background:url(http://ui.tiantis.com/Images/MShopDec/tit.gif) left -133px no-repeat;padding-left:20px;}
.skintab li a:hover{background:url(http://ui.tiantis.com/Images/MShopDec/tit.gif) right -98px no-repeat;padding-right:20px;text-decoration:none;}
.skintab li a:hover span{background:url(http://ui.tiantis.com/Images/MShopDec/tit.gif) left -98px no-repeat;padding-left:20px;color:#333;text-decoration:none;}
.skintab .current a,.skintab .current a:link,.skintab .current a:hover{background:url(http://ui.tiantis.com/Images/MShopDec/tit.gif) right -98px no-repeat;padding-right:20px;color:#ececec;text-decoration:none;}
.skintab .current a span,.skintab .current a:link span,.skintab .current a:hover span{background:url(http://ui.tiantis.com/Images/MShopDec/tit.gif) left -98px no-repeat;padding-left:20px;text-decoration:none;color:#333;}

/*发布 备份按钮*/
.skininfor{float:right;width:160px;margin-top:4px;}
.edit1,.edit2{height:28px;line-height:28px;font-size:14px;font-weight:bold;text-align:center;border:none;cursor:pointer;} 
.edit1{width:80px;color:#934002;background:url(http://ui.tiantis.com/Images/MShopDec/inco_btn.gif) 0 -707px no-repeat;margin-right:5px;} 
.edit2{width:72px;color:#666;background:url(http://ui.tiantis.com/Images/MShopDec/inco_btn.gif) -80px -707px no-repeat;} 

/*弹出层*/
.layertab{border-left:1px solid #dedede;border-right:1px solid #dedede;background:#fff;width:632px;margin:0 auto;padding-top:35px;overflow:auto;zoom:1;} 
.layerleft{width:112px;height:100px;background:url(http://ui.tiantis.com/Images/MShopDec/skinline1.jpg) no-repeat top right;padding:46px 0 95px 10px;}
.layerleft li{width:112px;height:35px;line-height:35px;text-align:center;}
.layerleft li a,.layerleft li a:link,.layerleft li a:visited{color:#0066cc;}
.layerleft li a:hover{color:#333;height:35px;line-height:35px;font-weight:bold;display:block;text-decoration:none;}
.layerleft .layerhover a,.layerleft .layerhover a:link,.layerleft .layerhover a:visited,.layerleft .layerhover a:hover{color:#333;height:35px;line-height:35px;background:url(http://ui.tiantis.com/Images/MShopDec/skinbg.jpg) no-repeat;font-weight:bold;display:block;text-decoration:none;}

.layermid{width:500px;float:left;padding:16px 0 0 10px;overflow:hidden;}
.layerm{width:480px;color:#323232;overflow:hidden;float:left;}
 
/*关闭*/
.cellbar{width:630px;height:12px;margin:0 auto;border-left:1px solid #dedede;border-right:1px solid #dedede;background:#fff;padding-top:35px;}
.cellbar a{width:67px;height:12px;background:url(http://ui.tiantis.com/Images/MShopDec/handleimg.gif) no-repeat;display:block;margin:0 auto;text-indent:-5000px;overflow:hidden;}
.cellbar a:hover{background:url(http://ui.tiantis.com/Images/MShopDec/handleimg.gif) 0 -12px no-repeat;}

.cellbar .handle{width:67px;height:12px;background:url(http://ui.tiantis.com/Images/MShopDec/handleimg.gif) 0 -36px no-repeat;display:block;margin:0 auto;text-indent:-5000px;}
.cellbar .handle:hover{background:url(http://ui.tiantis.com/Images/MShopDec/handleimg.gif) 0 -24px no-repeat;}

/*布局版式*/
.greentab{width:70px;height:70px;border:2px solid #5d9504;position:relative;}
.greentab span{width:13px;height:13px;background:url(http://ui.tiantis.com/Images/MShopDec/greenimg.gif) no-repeat;position:absolute;z-index:9999;top:58px;left:58px;display:block;}
.greentab1{width:70px;height:70px;border:1px solid #ccc;padding:1px;}

/*gl 2012-5-29  商铺基础页面*/
.c_nr{width:215px;padding-left:25px;float:left;}
.font01{color:#999999;}
.layerright01{width:265px;height:260px;background:url(http://ui.tiantis.com/Images/MShopDec/skinline2.jpg) no-repeat top left;padding:20px 0 0 20px;}
.s_title{width:480px;height:32px;line-height:32px;border-bottom:1px #c0c0c0 solid;overflow:hidden;}
.s_nr{width:480px;height:240px;overflow:scroll;}
.s_title01{width:460px;}
.s_nr a:link,.s_nr a:visited{color:#0066cc;}
.s_nr a:hover{color:#0066cc;text-decoration:underline;}
.temp{width:500px;float:left;overflow:hidden;}
.temp_title{width:460px;height:24px;border-bottom:1px #e0e0e0 solid;padding-left:10px;}
.temp_title span{padding-left:30px;}
.temp_title a:link, .temp_title a:visited{color:#FF7500;font-weight:bold;text-decoration:underline;}
.temp_title a:hover{color:#FF0000;font-weight:bold;text-decoration:underline;}
.org{width:460px;background-color:#FEFBEA;border:1px #FFBE7A solid;padding-left:10px;margin:0 0 10px 0px;}
.dq{width:440px;padding:10px;}
.pic01{width:104px;height:120px;padding:1px;border:1px #e0e0e0 solid;text-align:center;margin:0px auto;}
.xx_title{width:480px;height:32px;line-height:32px;background:url(http://ui.tiantis.com/Images/MShopDec/t01.gif) repeat-x bottom;}
.xx_title li{width:120px;height:32px;float:left;text-align:center;cursor:pointer;}
.bg01{background:url(http://ui.tiantis.com/Images/MShopDec/t02.gif) no-repeat;color:#0066CA;font-weight:bold;}
.bg02{background:url(http://ui.tiantis.com/Images/MShopDec/t01.gif) repeat-x bottom;}
.font02{color:#0066CB;}
.xx_nr{width:440px;padding:10px;}
.btn01{border:0px;height:20px;line-height:20px;cursor:pointer;color:#FFFFFF;background-color:#0187D0;padding:0px 5px;overflow:visible;}
.xx_nr01{width:490px;height:340px;overflow-y:scroll;}
.xx_nr01 li{width:118px;float:left;text-align:center;display:inline;margin-top:10px;}
.m5{margin-bottom:5px;}
.xzpic{width:80px;height:80px;border:1px #e0e0e0 solid;}
.font03{color:#5B9503;}
.font04{color:#FF0000;}

.sellshow{padding:10px;}
.sellshow .stit{border-bottom:1px solid #e0e0e0;height:50px;padding:0 5px;}
.sellshow .stit ul li{width:48px;text-align:center;float:left;padding:0 3px;}
.sellshow .stit ul li a{display:block;color:#0066cc;}
.sellshow .stit ul li a:hover{background-color:#0066cc;color:#fff;text-decoration:none;}
.sellshow .stit .shover a,.sellshow .stit .shover a:link,.sellshow .stit .shover a:visited,.sellshow .stit .shover a:hover{background-color:#0066cc;color:#fff;text-decoration:none;}
.sellinfor li{width:110px;float:left;padding:10px 18px;text-align:center;}
.sellinfor .sellimg{width:108px;height:84px;border:1px solid #d9d9d9;float:left;}

/*弹出窗口*/
.wline{border-bottom:1px solid #eee;margin-bottom:10px;}
.window{width:550px;padding:6px;background-color:#7A7A7A;}
.window_tit{height:36px;line-height:36px;padding:0px 10px;background:url(http://ui.tiantis.com/Images/MShopDec/bg01.jpg) repeat-x;}
.window_tit img{padding-top:10px;}
.window_nr{padding:15px 20px;background-color:#FFFFFF;}
.window_bott{height:24px;padding:10px;text-align:right;background-color:#F7F7F7;border-top:1px #EEEEEE solid;overflow:hidden;}
.w_input{width:180px;height:22px;line-height:22px;font-size:12px;padding:0px 5px;background-color:#FFFFFF;border:1px #A7A7A7 solid;color:#666;}

.window1{width:90%;padding:6px;background-color:#7A7A7A;}
.window_nr01{width:550px;overflow:hidden;background-color:#FFFFFF;}
.w_left{width:110px;height:350px;background:url(http://ui.tiantis.com/Images/MShopDec/t_bg.gif) repeat-y right;background-color:#EEEEEE;float:left;padding:25px 0px;}
.w_left ul{border-bottom:1px #FFFFFF solid;border-top:1px #DBDBDB solid;}
.w_left li{width:110px;height:35px;line-height:35px;text-align:center;cursor:pointer;}
.w_over01{background:url(http://ui.tiantis.com/Images/MShopDec/tit_bg02.gif) no-repeat;}
.w_over{background:url(http://ui.tiantis.com/Images/MShopDec/tit_bg03.gif) no-repeat;font-weight:bold;}
.w_right{width:420px;height:400px;padding-left:20px;float:left;}
.w_r_tit{width:400px;height:40px;line-height:40px;border-bottom:1px solid #ccc;}
.w_r_tit dd{width:70px;float:left;cursor:pointer;}
.xz{font-weight:bold;color:#FF7300;}
.w_r_nr{width:415px;height:350px;overflow-y:auto;}
.w_r_nr li{width:390px;border-bottom:1px #CCCCCC dashed;margin-bottom:5px;padding-bottom:5px;}
 
/*div块*/
.divControl{margin:0;padding:0;}

/*拖拽*/
.tempmo{opacity:0.3;filter:alpha(opacity=30);height:auto;border:1px dashed green;margin:3px;background:#FFF;}
.dashmo{position:absolute;border:1px dashed #f00;filter:alpha(opacity=80);margin:3px;background:#FFF;height:auto;opacity:0.8;}

/*2012-9-22添加 友情提示*/
.r_title{height:26px;border:1px solid #ffbe7a;background-color:#fffced;margin-bottom:10px;}
.r_title .ico{background:url(http://ui.tiantis.com/Images/MShopDec/ico1.gif) no-repeat 0 -17px;padding-left:25px;font-family:Arial, Helvetica, sans-serif;line-height:26px;}

.r_title .red a{color:#ff7300;text-decoration:none;}
.r_title .red a:link{color:#ff7300;text-decoration:none;}
.r_title .red a:hover{color:#ff6600;text-decoration:underline;}

.drag_div{padding:2px;border:medium none;}
.lhover{margin-bottom:10px;padding:0;border:2px dashed #f00;}

/*2012-9-27添加 装修设置按钮 弹出层*/
.logo .settab{margin-left:538px;}
.navigation .settab{margin-left:538px;margin-top:5px;}
.banner_box .settab{margin-left:538px;}
.settab{position:absolute;overflow:visible;width:54px;height:auto;z-index:9;margin-left:534px;margin-top:5px;}
.setbtn{cursor:pointer;position:relative;overflow:visible;} 
.setbtn .btnimg{display:block;}

.set{width:115px;background-color:#f9f9f9;border:1px #d2d2d2 solid;border-bottom:none;position:absolute;top:21px;left:0px;z-index:1000;}
.set li{background:url(http://ui.tiantis.com/Images/MShopDec/libg1.jpg) repeat-x;border-bottom:1px #d2d2d2 solid;width:100px;height:26px;line-height:26px;display:block;padding-left:15px;text-align:left;}
.set li:hover{background:url(http://ui.tiantis.com/Images/MShopDec/libg.jpg) repeat-x;color:#373737;text-decoration:none;border-bottom:1px #e4c9a4 solid;}

/*在线添加新模块*/
.add_mod{width:100%;text-align:center;font-weight:bold;display:block;}
.add_mod a:link, .add_mod a:visited{height:30px;line-height:30px;background-color:#f5fbff;border:1px #d1e5f3 solid;display:block;color:#0088e3;}
.add_mod a:hover{height:30px;line-height:30px;background-color:#FFF3D4;border:1px #FFD3AC solid;color:#FF7300;text-decoration:none;display:block;}
.mian_box{width:600px;margin:0 auto;border:15px solid #000;padding:2px;overflow:hidden;}
 
/*手机banner轮播*/
.roll_img_mb_01{overflow:hidden;position:relative;}
.roll_img_mb_01 .img_box{overflow:hidden;text-align:center;}
.roll_img_mb_01 .img_box img{vertical-align:middle;min-height:200px;width:100%;}
.roll_img_mb_01 .nav_box{overflow:hidden;height:20px;position:absolute;right:10px;bottom:0px;}
.roll_img_mb_01 .nav_box li{width:10px;height:10px;font-size:1px;overflow:hidden;background:#ddd;border-radius:50px;float:left;margin:4px;}
.roll_img_mb_01 .nav_box .li_on{background:#c00;}

/*2013-5-14添加*/
.itab td{border-bottom:1px dotted #ddd;}
.itp{border:1px solid #ddd;padding:1px;width:80px;height:80px;}
.iline{border-bottom:1px solid #eee;}
.m10{margin-left:10px;}
.btn1 a,.btn1 a:link,.btn1 a:visited,.btn1 a:hover{width:42px;height:22px;line-height:22px;display:block;text-align:center;color:#0066cc;} 
.btn1 a,.btn1 a:link,.btn1 a:visited{background:url(http://ui.tiantis.com/Images/MShopDec/inco_btn.gif) -121px -167px no-repeat;} 
.btn1 a:hover{background:url(http://ui.tiantis.com/Images/MShopDec/inco_btn.gif) -121px -190px no-repeat;text-decoration:underline;} 

/*二维码分享*/
.white a:link,.white a:visited,.white a:hover,.white a:active{color:#fff;text-decoration:none;}
.dimen{margin:10px auto;width:96%;height:60px;padding:12px;background:#f5f5f5;border:1px solid #d3d3d3;}
.dimen dt{width:76px;float:left;text-align:left;}
.dimen dt img{width:60px;height:60px;}
.dimen dd{float:left;}
.dimen .dtit{padding-bottom:8px;font-size:14px;}
.dbtn1,.dbtn2{width:100px;height:30px;line-height:30px;display:block;text-align:center;float:left;margin-right:10px;}
.dbtn1{background:#76aa00;border:1px solid #628a03;}
.dbtn2{background:#3f8fd4;border:1px solid #2071b2;}

/*服务列表*/
.content_box .serlist{width:95.8%;padding:10px 2.1%;}
.content_box .serlist dl{width:94px;height:120px;padding:5px 1.3%;float:left;}
.content_box .serlist dt{width:90px;height:90px;*line-height:90px;border:1px solid #ddd;text-align:center;overflow:hidden;padding:1px;margin-bottom:5px;display:table-cell;vertical-align:middle;}
.content_box .serlist dt a{height:100%;vertical-align:middle\9;_writing-mode:tb-rl;}
.content_box .serlist dt img{vertical-align:middle;max-height:90px !important;max-width:90px !important;width:expression(this.width > 90 && this.width > this.height ? 90 :true);height:expression(this.height >90 ? 90:true);vertical-align:middle;overflow:hidden;}
.content_box .serlist dd{text-align:center;height:24px;line-height:24px;overflow:hidden;font-size:14px;}
.content_box .serlist ul{height:136px;overflow:hidden;}
.content_box .serlist .serpic{width:120px;height:120px;*line-height:120px;border:1px solid #ddd;text-align:center;overflow:hidden;padding:1px;margin-bottom:5px;display:table-cell;vertical-align:middle;float:left;margin-right:10px;}
.content_box .serlist .serpic a{height:100%;vertical-align:middle\9;_writing-mode:tb-rl;}
.content_box .serlist .serpic img{vertical-align:middle;max-height:120px !important;max-width:120px !important;width:expression(this.width > 120 && this.width > this.height ? 120 :true);height:expression(this.height >120 ? 120:true);vertical-align:middle;overflow:hidden;}
.content_box .serlist .serintro{width:100%;text-align:left;}
.content_box .serlist .serintro .sertext{width:100%;text-align:left;margin-top:5px;}
.content_box .serlist .serintro .sertext p{width:100%;text-align:left;font-size:14px;}

/*2013-7-24*/
.laytab{width:480px;height:280px;overflow-y:scroll;}
.laytab td{height:36px;line-height:36px;border-bottom:1px solid #ddd;}
.laytab1 td{height:34px;line-height:34px;border-bottom:1px dotted #ddd;}
.blue,.blue a,.blue a:link,.blue a:visited{color:#0066cc;}
.blue a:hover{color:#0066cc;text-decoration:underline;}

.f14{font-size:14px;}
.m15{margin:0 15px;}
.ml10{margin-left:10px;}
.ml5{margin-left:5px;}

.xtab{width:80px;height:60px;border:2px solid #ff0700;position:relative;padding:1px;}
.xtab span{width:13px;height:13px;background:url(http://ui.tiantis.com/Images/MShopDec/right.gif) no-repeat;position:absolute;z-index:9999;top:50px;left:70px;display:block;}
.xtab1{width:80px;height:60px;border:1px solid #ccc;padding:1px;position:relative;}
.xtab1 span{width:13px;height:13px;background:url(http://ui.tiantis.com/Images/MShopDec/right.gif) no-repeat;position:absolute;z-index:9999;top:51px;left:71px;display:block;}

.buttons dl{margin:0 auto;text-align:center;width:80px;height:90px;overflow:hidden;}
.squared dl dt{margin:0 auto;text-align:center;width:60px;height:60px;overflow:hidden;}

.picker{margin-top:5px;}

 
/*******更多******/
.white a:link,.white a:visited,.white a:hover,.white a:active{color:#fff;text-decoration:none;}
.top{ width:100%;position:relative;}
.top .menut{overflow:hidden;position:absolute;top:10px;right:20px;width:99px;height:34px;background:-webkit-gradient(linear, 0 0, 0 100%, from(#fe7d90), to(#f83c58));background:-moz-linear-gradient(top, #fe7d90, #f83c58);/* Firefox */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fe7d90,endColorstr=#f83c58,grandientType=0);line-height:34px;text-align:center;font-size:18px;text-transform:uppercase;border-radius:5px;-moz-transition:all 0.5s ease-in;-webkit-transition:all 0.5s ease-in;  -o-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}

@media screen and (max-width:500px){
	.top .menut{width:auto;padding:0 10px;right:10px;-moz-transition:all 0.5s ease-in;-webkit-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;transition:all 0.5s ease-in;}
	.top .menut span{display:none;}
	}

.me_more{position:absolute;font-family:"微软雅黑";font-size:24px;top:80px;background:#fff;right:-250px;width:250px;
-webkit-box-shadow:0px 3px 10px #333;-moz-box-shadow:0px 3px 10px #333;box-shadow:0px 3px 10px #333;-webkit-transition:all 0.4s;
-moz-transition:all 0.4s;transition:all 0.4s;z-index:99;}
.me_more ul li{ height:70px;line-height:70px;border-bottom:solid 1px #dddfdc;position:relative;}
.me_more ul li a{ display:block;width:85%;padding-left:15%;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#edefec));background:-moz-linear-gradient(top, #ffffff, #edefec);/* Firefox */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#edefec,grandientType=0);}
.me_more ul li a:active{ background:#fe6e83;color:#fff;}
.me_more ul li a p{width:21px;height:70px;background:url(../images/mo_ico01.png) no-repeat;position:absolute;right:10%;top:0;}
.me_more ul li a:active p{ background-position:0 -70px;}

/*图片样式*/
.squared1{width:100%;text-align:center;}
.squared1 dl{width:100%;height:120px;float:left;overflow:hidden;}
.squared1 dl dt{width:100%;}
.squared1 a{color:#ffffff;font-size:16px;text-align:center;text-decoration:none;float:left;display:block;overflow:hidden;}
.squared1 a:visited{color:#ffffff;text-decoration:none;}
.squared1 a:hover{color:#ffffff;text-decoration:none;}
.squared1 a:active{color:#ffffff;text-decoration:none;}

/*分享窗口样式*/
.share_box_bg{width:100%;height:100%;left:0px;top:0px;opacity:0.5;z-index:1;position:fixed !important;background:#000;display:block;}
.share_box{width:320px;height:220px;border:#3d3d3c solid 1px;z-index:999;overflow:hidden;left:50%;top:40%;margin-left:-160px !important;margin-top:-120px !important;position:fixed !important;background:#efefef;}
.share_box .box_title{width:320px;height:36px;line-height:36px;background:-webkit-gradient(linear, 0 0, 0 100%, from(#4c4e52), to(#6b6d73));background:-moz-linear-gradient(top, #4c4e52, #6b6d73);/* Firefox */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c4e52,endColorstr=#6b6d73,grandientType=0);border-bottom:#7a7b81 solid 1px;}
.share_box .box_title .name{width:90px;float:left;color:#fff;font-size:18px;font-weight:bold;padding-left:10px;}
.share_box .box_title .close{width:30px;float:right;text-align:center;padding-top:2px;}
.share_box .share_nr{width:280px;margin:15px auto 0px auto;text-align:center;}
.share_box .share_nr a{display:block;height:40px;line-height:40px;overflow:hidden;margin-bottom:12px;color:#666;font-size:14px;width:100%;background:-webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#e5e5e5));background:-moz-linear-gradient(top, #e6e6e6, #e5e5e5);/* Firefox */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e6e6,endColorstr=#e5e5e5,grandientType=0);border:#c9c9c9 solid 1px;}
.share_box .share_nr .share_ico{width:32px;padding-top:4px;float:left;padding-left:15px;}
.share_box .share_nr .share_name{width:150px;padding-left:15px;text-align:left;float:left;}


.class_name{width:96%;height:35px;line-height:35px;background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#efefef));background:-moz-linear-gradient(top, #ffffff, #f0f0f0);/* Firefox */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef,endColorstr=#f0f0f0,grandientType=0);-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:#dfdfdf solid 1px;padding:0px 2%;margin-bottom:5px;}
.class_name .name{width:auto;float:left;}
.class_name .more{width:auto;float:right;}
