<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
<link rel="stylesheet" href="{STYLE_PATH}/css/qcode.css"/>
{php echo register_jssdk(false);}
<script type="text/javascript"> 
  wx.ready(function () {
        shareMeta = {      		
            imgUrl:"{php echo tomedia($activity['share_thumb'])}",
            link: "{$activity['share_url']}",
            desc : "{$activity['share_desc']}",
            title : "{$activity['share_title']}",
            success: function(){ 
            
            },
            cancel: function(){
                // alert("分享失败，可能是网络问题，一会儿再试试？");
            }
        };
        wx.onMenuShareTimeline(shareMeta);       
        wx.onMenuShareAppMessage(shareMeta);      
        wx.onMenuShareWeibo(shareMeta);
        wx.onMenuShareQQ(shareMeta);
        wx.onMenuShareQZone(shareMeta); 
    });
 </script>

<style type="text/css">

{if $op=="test"}
  .cover{
    background-image: url({$activity['logo']});
  }
{else}
  .cover{
    background-image: url({php echo tomedia($activity['logo'])});
  }
{/if}

</style>
	<title>{$activity['title']}</title>
</head>
<body>
<div class="wrapper">
	<div class="cover att"></div>
	<div class="att-area">
		<p class="title">恭喜您报名成功</p>
		<p class="desc">-即刻查看您的抽奖码-</p>
		<div class="step step1">
			<p class="index">1.</p>
			<img src="{if empty($activity['gz_qrcode'])}{$_W['account']['qrcode']}{else}{php echo tomedia($activity['gz_qrcode'])}{/if}"
			 alt="显示本微信账号的二维码"/>
			<p class="content">请长按识别右方二维码<span>「{if empty($activity['gz_gzh'])}{$_W['account']['name']}{else}{$activity['gz_gzh']}{/if}」</span></p>
			<div class="clear"></div>
		</div>
		<div class="step step2">
			<p class="index">2.</p>
			<p class="content">请在公众号<span></span><span></span>查看您的抽奖码</p>
			 <img src="{if empty($activity['bottom_guide'])}{STYLE_PATH}/images/att-guide.png{else}{php echo tomedia($activity['bottom_guide'])}{/if}" alt="这里自己可以定义一个图片"/>  
			<div class="clear"></div>
		</div>
	</div>
	<div class="bottom">—&nbsp;{if $settings['copyright']}{$settings['copyright']}{else}活动{/if}&nbsp;—</div>
</div>

</body>
</html>