@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;outline:none;-webkit-tap-highlight-color:transparent;/*-webkit-appearance: none;*/}
body{-webkit-text-size-adjust:none;min-width:310px;max-width:640px;margin:0 auto;font-family:'Microsoft Yahei','Simsun';font-size:14px;color:#2a5da5;background:#a40001;}
a{font-size:14px;color:#2a5da5;text-decoration:none;-webkit-touch-callout:none}
a:link{color:#2a5da5;text-decoration:none;}
a:visited{color:#2a5da5;text-decoration:none;}
a:hover{color:#2a5da5;text-decoration: none;}
a:active {color:#2a5da5;text-decoration:none;}
img,a img{border:0;margin:0;padding:0;vertical-align:middle;}
ul,li{display:block;list-style:none;margin:0;padding:0;}
form,p{margin:0px;}
input,select{vertical-align:middle;color:#666;font-family:'Microsoft Yahei','Simsun';font-size:14px;}

#header{width:100%;height:auto;overflow:hidden;}
#logo{width:100%;height:auto;overflow:hidden;}
#logo img{width:100%;}
#titles{padding:20px 10px 10px 10px;font-size:20px;text-align:center;font-weight:bolder; display:none;}
#time{ width:100%;overflow:hidden; text-align:center;    background: rgba(255,255,255,0.2);color: #fff;height: 45px;line-height: 45px;}

#main{margin:0;padding:0; margin-top:10px;width:100%;height:auto;overflow:hidden;}
#search{margin:5px;display:-webkit-box;-webkit-box-orient:horizontal;height:40px;line-height:40px;overflow:hidden;background:#a40001;border-radius:3px;}
#search #ss{display: block;-webkit-box-flex:1;}
#search #st{width:100%;border:none;background:#fff;height:40px;line-height:40px;text-indent:10px; color:#666; font-size:16px;}
#search #st::-webkit-input-placeholder {color:#666;}
#search #sb{display:block;width:80px;font-size:16px;background:#f9770f; text-align:center; color:#FFF;}
#search #sb2{display:block;width:80px;font-size:16px;background:#f9770f; text-align:center; color:#FFF;}
#search #pm{display:block;width:80px;font-size:16px;background:#d23434; text-align:center; color:#FFF;}

#list{margin:0;padding:0;width:100%;height:auto;overflow:hidden;color:#333;}
#list .ml{display:block;float:left; margin-top:15px;width:50%;height:auto; overflow:hidden;}
#list .sh{margin:5px;width:auto;height:auto;overflow:hidden;background:#fff;}
#list .n{line-height:25px;text-align:center;font-weight:bolder;}
#list .p{padding-bottom:66.6666%;height:0px;overflow:hidden;background:no-repeat center center;background-size:cover;}
#list .p img{width:94%;height:auto;margin-left: 3%}
#list .na{margin-top:5px;height:20px;overflow:hidden;text-align:center;}
#list .no{height:20px;overflow:hidden; text-align:center;}
#list .v{text-align:center;}
#list .a{margin:auto;margin-top:5px; margin-bottom:10px;padding:5px 0px 5px 0px;width:80%;text-align:center;background:#2aa82a;color:#fff;border-radius:3px;font-size:16px;cursor:pointer;}
#list .li{clear:both;}

#page{margin:0px;padding:0; margin-top:10px;width:100%;height:auto;overflow:hidden; text-align:center;}
#page span{ display:inline-block; padding:10px 15px 10px 15px;background:#cfeffe; margin:5px;border-radius:3px;cursor:pointer;}

#line{margin-top:50px;clear:both;height:25px;}
#line #fb{position:relative;height:1px;background:#2a5da5;}
#line #ft{position:absolute;margin-top:-15px;left:50%;margin-left:-65px;width:130px;font-size:20px;background:#2a5da5;text-align:center;border-radius:3px;color:#fff;}
#content{padding:10px;line-height:25px;border-bottom:#2a5da5 1px solid; font-size:16px;}
#content img{ width:100%;}


#float_bg{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000; background: rgba(0, 0, 0, 0.6);display:none;}
#float_show{position:fixed;top:0;left:0;width:100%;z-index:1001;text-align:right;display:none;}
.result{position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:280px;padding:20px 5px 20px 5px;z-index:3000;border-radius:10px;display:none;background: rgba(40, 40, 40, 0.75);color:#FFF; text-align:center;overflow:hidden;font-size:20px;}

.zoom{position:fixed;top:0;bottom:0;left:0;right:0;background:#000;z-index:999999;display:none;}
.pinch-zoom{position:relative;}
.pinch-zoom,.pinch-zoom img{width:100%;-webkit-user-drag: none;}
.show_zoom{display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;}
.title_zoom{position:fixed;bottom:10px;left:10px;right:10px;color:#FFF;z-index:9999999; font-size:18px; text-align:center;}