.slide-view {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000
}

.pv-inner {
    position: relative;
    z-index: -1;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 100%;
    height: 100%;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

.pv-inner li {
    margin-right: 10px;
    text-align: center
}

.pv-inner img {
    position: relative;
    left: 0;
    visibility: visible;
    max-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: scale(1) translate(0,0);
    -moz-transform: scale(1) translate(0,0);
    transform: scale(1) translate(0,0);
    vertical-align: middle
}

.slide-view .counts {
    position: absolute;
    right: 0;
    bottom: 5%;
    left: 0;
    padding: 0 20px;
    overflow: hidden;
    font-size: 26px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    text-shadow: 0 0 2px #000
}

.slide-view .counts .value {
    display: inline-block;
    padding: 0 6px;
    font-size: 18px;
    line-height: 26px;
    color: #f1f1f1
}

.ui-loading {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: -4px 2px 0 -42px;
    vertical-align: middle
}

.ui-loading.white i {
    background: #fff
}

.ui-loading i {
    -webkit-animation: loading-spin 1s infinite linear;
    -moz-animation: loading-spin 1s infinite linear;
    animation: loading-spin 1s infinite linear;
    position: absolute;
    top: 4px;
    left: 7px;
    display: block;
    width: 5px;
    height: 12px;
    background: #ccc
}

.ui-loading i.t2 {
    -webkit-animation-name: loading-spin-one;
    -moz-animation-name: loading-spin-one;
    animation-name: loading-spin-one;
    left: 15px
}

.ui-loading i.t3 {
    -webkit-animation-name: loading-spin-two;
    -moz-animation-name: loading-spin-two;
    animation-name: loading-spin-two;
    left: 23px
}

.t1 {
    font-size: 18px;
    line-height: 24px
}

.t2 {
    font-size: 16px;
    line-height: 21px
}

.t3 {
    font-size: 14px;
    line-height: 18px
}

.ui-no-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.top-banner {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100px
}

.top-banner:after {
    content: "";
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-position: 0 0;
    background: url(http://imgcache.gtimg.cn/club/themes/mobile/xingying/img/photo/photo.png) no-repeat;
    background-size: 170px 120px
}

.top-banner .banner-img {
    width: 100%
}

.top-banner .cname {
    padding-top: 8px;
    padding-left: 16px;
    font-family: \5FAE\8F6F\96C5\9ED1
}

.top-banner .text {
    color: #fff;
    font-size: 22px;
    font-weight: 700
}

.top-banner .num {
    color: #cbcaca;
    margin-left: 3px
}

.top-banner .banner-text {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: 2px;
    background-color: rgba(0,0,0,.6)
}

.content .time-tag {
    padding: 0 10px;
    height: 50px;
    font-size: 13px;
    line-height: 50px
}

.content .photo-list {
    margin: 0 1px
}

.content .photo-list:after {
    content: ''
}

.content .photo-list .photo {
    float: left;
    margin: 1px;
    background: #cfd4d7;
    overflow: hidden
}

.no-content {
    display: none;
    margin: 100px auto 0;
    width: 190px;
    color: #ababab;
    font-size: 14px;
    text-align: center
}

.no-content:before {
    display: block;
    content: '';
    margin: 0 0 20px 14px;
    height: 96px;
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/no-content.png?0657324a);
    background-size: 112px 96px;
    background-repeat: no-repeat;
    background-position: center
}

@-webkit-keyframes like-animate {
    from {
        transform: scale(1);
        -webkit-transform: scale(1)
    }

    50% {
        transform: scale(2);
        -webkit-transform: scale(2)
    }

    to {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

.view-container {
    display: -webkit-box;
    padding: 20px 0;
    height: 30px;
    background: -webkit-linear-gradient(top,transparent,rgba(0,0,0,.95));
    background: linear-gradient(top,transparent,rgba(0,0,0,.95));
    font-size: 13px;
    line-height: 1.2;
    -webkit-box-align: center
}

.view-container .like {
    height: 24px;
    line-height: 26px;
    padding: 0 7px 0 29px;
    margin: 0 7px 0 20px;
    color: #fff;
    position: relative
}

.view-container .like:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    height: 18px;
    width: 18px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAABU1BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9EsJVIAAAAcHRSTlMAD+4RdwmIj5UaIxMIAnLSjoVw5cV2BdyfM18tTgaEezwlXMN/wSSJPlmBsWc0oflI9kQoGxwKKdSd3WQ213xqULebhzoeJ5BvdNuzTG6RYJSqVdMsK0q1BMygAR/ko7k4GBWmjXoW8vRHsGnsnA0LmvuWcQAAAVhJREFUeF6VktVuw1AQBTeNk7QNlJmZmZmZmZl5/h9rO07lur5X6rycs/ZIK2stXjpGZnIGRE8NAO16KZvW7jmIaaU2ykWWWNZKdVSLVFOnlbIoE4lBXOMUQsiMPDI00jz5VgxzoJEqqUotVXJMcs8EfWqpgE47L+hXOplwbZcugiYhXymdbDuDpBhd8ZpNMJhsOWkWPQDUiJtW6BUPjduku+cElMofYjBk5WKuYRhj45AQH5ooMCOCw6T4MWXtm4ZIOByehXJfySAsckWLPSxw6yvdWe+LyLSHAAFfaZVGkTXWdVIGeWZssKmTtii271Wkk3bYtWKPfbVUAQHnP1NLhxzZWcKJWjp1TnUG5yopROpphFyVVMul05ppUEkNNDstDjciUaLiJUH+T6/nPl5hYHiU6APUSopHkjyluXkG6l2rX16h+C2L37x/lHi+tdCMz6CbL/kf3+dsWuJfTj5hAAAAAElFTkSuQmCC');
    background-size: auto 100%
}

.view-container .js-liked:before {
    -webkit-animation-duration: 800ms;
    -webkit-animation-timing-function: ease;
    -webkit-animation-name: like-animate
}

.view-container .liked:before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAA81BMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+gVAkOAAAAUHRSTlMAD/vu/v36Z1D5A49TzuI+BvA5BRMEta7I6T1LxCkh1ED30WR9fjeCEsbQcUmTGe0uOh4c8mmjNMn4Cr6We+PMnoaoKAibp68aCXYbX1RVAcvKHfUAAAD7SURBVHhepdPVcsMwEIXhU9uhhqFpkqbIzMzMcN7/aWrJmkxVWZuL/tff7Go0s/jbymp2egNyyJEs7EBumXFPkCsqdDAqoyOqpmR0otGMaM4KGk2IqERdXkRtDp80maGuKqE7Jt0LZikyqOU3Y2u0m52bd9AC3RZh1wjoFuxZZv+Kaa1bD+owtU0FttrbYRh2dkeYXlGhZ+oqPnQIoJllkg8dA6gFMjqtIa4so3OoLmR0qVFJRg2NWhkJdc1JXEvoBkm3Esob1BNQ/cGgZt2PHmHCuB/1BijnRX0MetGf8OqaqApY+yJUHPSGX7332f3AZ2iJoPwFu2/8ux/IOsYeySaY5gAAAABJRU5ErkJggg==')
}

.view-container .like:after {
    content: " ";
    position: absolute;
    width: 200%;
    height: 200%;
    border: 1px solid #cacccd;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    border-radius: 4px;
    pointer-events: none;
    left: 0;
    top: 0
}

.view-container .avatar {
    margin: 0 10px;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    overflow: hidden
}

.view-container .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 15px
}

.view-container .info {
    margin-top: -2px;
    color: #fff;
    text-align: left;
    -webkit-box-flex: 1
}

.view-container .info .nick {
    display: inline-block;
    max-width: 135px
}

.view-container .info .icon-gender {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-size: 100%;
    vertical-align: 2px
}

.view-container .info .male {
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/ico-male.png?d4058c28)
}

.view-container .info .female {
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/ico-female.png?d637984b)
}

.view-container .info .title-content {
    height: 18px;
    line-height: 18px
}

.view-container .icon-arrow-right {
    display: block;
    margin-right: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg)
}
