.qrcode-wrap {
    position: relative;
    width: 84%;
    max-width: 500px;
    margin: 55px auto 0
}

.qrcode-container {
    position: relative;
    box-sizing: border-box;
    border-radius: 3px
}

.qrcode-container .qrcode-img {
    display: block;
    width: 100%;
    margin: 0 auto
}

.bar-info {
    position: relative;
    height: 85px;
    padding-left: 80px;
    padding-top: 18px;
    background: #fff;
    box-sizing: border-box
}

.bar-info .bar-img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 10px;
    top: 13px;
    border-radius: 6px
}

.bar-info .bar-name {
    font-size: 18px
}

.bar-info .bar-qrcode-tips {
    font-size: 14px;
    color: gray;
    margin-top: 8px
}

.btn-container {
    margin-top: 20px;
    display: none
}

.btn-container .save-img-btn,.btn-container .share-qrcode-btn {
    height: 44px;
    -webkit-box-flex: 1;
    display: block;
    border: 0;
    border-radius: 4px;
    font-size: 16px
}

.btn-container .save-img-btn:after,.btn-container .share-qrcode-btn:after {
    border-radius: 6px;
    height: 199%;
    width: 199%
}

.btn-container .save-img-btn {
    background: #fff;
    margin: 0 5px 0 10px;
    color: #1fbaf3
}

.btn-container .share-qrcode-btn {
    background: #1fbaf3;
    margin: 0 10px 0 5px;
    color: #fff
}
