.bar-level {
    margin: 0;
    background-color: #efeff4
}

.bar-level:after {
    display: none
}

.bar-level .l-top {
    height: 52px;
    background-color: #fff
}

.bar-level .l-top .l-head {
    line-height: 52px;
    max-width: 120px;
    font-size: 14px;
    padding-left: 10px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    z-index: 1
}

.bar-level .l-top .l-head img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 0;
    margin-right: 9px;
    vertical-align: middle
}

@media (max-width: 320px) {
    .bar-level .l-top .l-head {
        max-width:85px
    }
}

.bar-level .l-top .l-description {
    margin-left: 10px;
    font-size: 12px;
    height: 52px;
    line-height: 52px;
    color: #777;
    z-index: 4;
    position: absolute;
    right: 10px;
    top: 0
}

.bar-level .l-top .l-description .l-name {
    margin: 0 5px
}

.bar-level .l-wrapper {
    background-color: #fff;
    margin-top: 15px;
    padding: 0 10px 30px
}

.bar-level .l-wrapper h2 {
    line-height: 42.5px;
    font-size: 14px
}

.bar-level .l-list {
    min-height: 500px;
    position: relative;
    background-color: #f7f8fa
}

.bar-level .l-list:before {
    display: block;
    content: " ";
    width: 100%;
    border: 0;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    -webkit-transform: scaleY(0.5)
}

.bar-level .l-list>.l-title {
    height: 40px;
    font-size: 13px;
    line-height: 40px
}

.bar-level .l-list>.l-title .l-box {
    font-size: 14px
}

.bar-level .l-list>li {
    position: relative;
    z-index: 1;
    height: 30px;
    line-height: 30px;
    color: #777;
    font-size: 12px
}

.bar-level .l-list>li .l-box {
    width: 33.33%;
    display: inline-block;
    text-align: center
}

.bar-level .l-list>li .l-box-2 {
    width: 50%;
    display: inline-block;
    text-align: center
}

.bar-level .l-list>li:nth-of-type(odd) {
    margin-top: 1px;
    background-color: #fff
}

.bar-level .l-rules-list {
    position: relative;
    z-index: 1;
    border-top: 3px solid #fcad30
}

.bar-level .l-rules-list:before {
    display: block;
    content: " ";
    width: 100%;
    border-top: 3px solid #84ba3d;
    position: absolute;
    width: 50%;
    right: 0;
    top: -3px
}

.bar-level .l-rules-list>li {
    display: -webkit-box;
    min-height: 77px
}

.bar-level .l-rules-list p {
    padding: 0 15px;
    line-height: 1.5em
}

@media screen and (min-width: 321px) {
    .bar-level .l-rules-list p {
        padding:0 10px;
        line-height: 1.5em
    }
}

.bar-level .l-desc-list {
    width: 100%;
    padding: 15px;
    box-sizing: border-box
}

.bar-level .l-desc-list li {
    line-height: 20px;
    font-size: 12px;
    color: #777;
    position: relative;
    z-index: 1;
    padding-right: 65px
}

.bar-level .l-desc-list li span {
    position: absolute;
    right: 0;
    min-width: 65px
}

.bar-level .l-box2 {
    width: 50%;
    font-size: 13px;
    display: -webkit-box;
    padding: 15px 0;
    -webkit-box-align: center
}

.bar-level .l-rlue {
    -webkit-box-pack: center
}

.bar-level .l-rlue span {
    display: block;
    width: 100%;
    padding-left: 10px
}

.bar-level .section-1px:before {
    display: none
}

.bar-level .section-1px:after {
    z-index: 2;
    border-color: #e5e5e5
}

.bar-level .l-loading {
    line-height: 52px;
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #d7d7d7;
    font-size: 12px
}

.l-level {
    font-size: 10px;
    padding: 2px 5px;
    height: 10px;
    min-width: 25px;
    text-align: center;
    display: inline-block;
    line-height: 10px;
    color: #fff;
    font-family: Helvetica;
    border-radius: 1.5px
}

.lv1,.lv2,.lv3 {
    background-color: #f8c255
}

.lv4,.lv5,.lv6,.lv7 {
    background-color: #fcad30
}

.lv8,.lv9,.lv10,.lv11,.lv12 {
    background-color: #fd963b
}

.lv13,.lv14,.lv15,.lv16,.lv17 {
    background-color: #fd7b3b
}

.lv18 {
    background-color: #fe5a34
}

.l-bar {
    display: inline-block;
    width: 60px;
    height: 6px;
    background-color: #ccc;
    border-radius: 5px;
    margin-right: 5px;
    overflow: hidden;
    position: relative
}

.l-bar .l-inner-bar {
    display: block;
    background-color: #84ba3d;
    border-radius: 5px;
    background-image: linear-gradient(-45deg,rgba(255,255,255,.15) 15%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-repeat: repeat-x;
    background-size: 10px 10px;
    width: 0;
    height: 6px;
    transition: width 1s;
    -webkit-transition: width 1s
}

@media screen and (max-width: 320px) {
    .l-bar {
        width:60px
    }
}

@media screen and (min-width: 321px) {
    .l-bar {
        width:100px
    }
}
