@charset "UTF-8";.wraper {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: auto;
    -webkit-overflow-scrolling: touch
}

.hof-wrapper {
    position: relative;
    width: 100%;
    padding: 40px 0 20px 10px;
    box-sizing: border-box
}

.hof-wrapper .ui-hide {
    display: none
}

.hof-wrapper .hof-load-tip {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 140px;
    margin-top: 100px;
    margin-left: -70px;
    font-size: 14px;
    text-align: center;
    color: #a6a6a6
}

.bg {
    background-color: #efeff4
}

.hof-container {
    position: relative
}

.hof-container .header-wrapper {
    display: -webkit-box;
    -webkit-box-align: end;
    -webkit-box-lines: single;
    height: 45px;
    margin-right: 20px
}

.hof-container .header-wrapper .icon {
    z-index: 2;
    width: 39px;
    height: 45px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat
}

.hof-container .header-wrapper .block-header {
    position: relative;
    height: 27px;
    line-height: 27px;
    padding: 0 5px 0 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    bottom: 4px;
    -webkit-box-flex: 1;
    margin-left: -2px
}

.hof-container .header-wrapper .block-header .person-num {
    float: right;
    font-size: 11px
}

.hof-container .header-wrapper .block-header:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 2px;
    right: -14px;
    border-left-width: 6px!important;
    border-right: 7px solid transparent!important
}

.hof-container .avatar-container {
    position: relative;
    display: -webkit-box;
    padding: 20px 10px
}

.hof-container .avatar-container .user {
    -webkit-box-flex: 1;
    width: 0
}

.hof-container .avatar-container .user .placeholder {
    visibility: hidden
}

.hof-container .avatar-container .user .name {
    margin: 7px auto 0;
    width: 80px;
    overflow: hidden;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    line-height: 1.4em;
    color: #000
}

.hof-container .avatar-container .user .info {
    margin: 0 auto;
    width: 80px;
    padding-top: 7px;
    font-size: 10px;
    text-align: center;
    color: #777
}

.hof-container .avatar-container .user .info i {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAeCAYAAAA/xX6fAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3FpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3M2MxMzJmNC1hMDMyLWNhNDItYWYzZC1jNzBkNzA4N2U2MWMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzkyNTExQzQ4QjY3MTFFNDgzRjFEOUVFQTZBMDRFMjkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzkyNTExQzM4QjY3MTFFNDgzRjFEOUVFQTZBMDRFMjkiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjJlMzczNzU0LTEyN2EtYTg0Ni05MDBlLTYxOTg1ZDMwODU4NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpkZTJkNjRjZi0xZjNmLWJlNDktOTU5ZS0zYzExNGU3ZTY0NWUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7wdj6LAAAB3UlEQVR42tyWu0vDUBTGm/pCUXw/NkUcFEQUX4g4iEUXX6uLi+Lk4Kh0EBcHBfEvcHERdXASlGy6CIX6AHFxELStiiK+0GqJ34UvEOpN28hNBwM/Tnpvmu+ek3u+RDMMw5POIzPRpK7rdlPFoBacgi+7i3w+368x7x8WOQNuQICCNU7+7FSwDqyAMFgD9WDLyX2cChYADWyDCbAP2sCwW4LfjJ+Mq4wjbgmaxyvjAWODW4LljPcW4Sc3n2EP46VlLANcuSU4CqLgmL+buJF0lYK5bPIl0Ax2wTPnJhmXwaMFUeYPGEcQDFpvppnWhglhCxugNIH4C+gGZyAfXIPCJAsWTtQJ1wnGZzifQEyUcR10UMzcMEXsSxmi1JsgC4zJSppjlhCr0QQ4r+ZYBIyDC4etc8jzbJlghLFS4cvB7M8TmeAdY4VCwVbGgEwwpDjDPNAC3sB5OjLs4oYJYj/EZIJhxRn2Mh7ZNf6t4gz74gzeVlBFhiWgHRiW1rAtqYoMh2jq4vk9SAUxIRr1XVGGprPsJTPvkJkhvLUMYY7jVWA2RaOfBgMgRjv0SM2bImJF/Yo2zSKq5k+W4ULcy3RHOD1opLlHU/jmEU0+BfyyC7R0f3l7PWk+/r/gjwADAN0nc+OVFAFkAAAAAElFTkSuQmCC');
    background-size: 10px 10px
}

.hof-container .avatar-container .user .no-break {
    display: inline-block
}

@media (max-width: 320px) {
    .hof-container .avatar-container .user .name {
        width:70px
    }

    .hof-container .avatar-container .user .info {
        width: 70px
    }
}

.hof-container .avatar-container .user .avatar {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto
}

.hof-container .avatar-container .user .avatar img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.hof-container .avatar-container .user .avatar:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    content: " ";
    -webkit-transform: scale(0.5,.5);
    -webkit-transform-origin: left top;
    border: 1px solid rgba(0,0,0,.17);
    border-radius: 50px
}

.hof-container .no-user {
    padding: 37px 0;
    text-align: center
}

.hof-container .no-user .title {
    font-size: 15px
}

.hof-container .no-user .desc {
    padding: 15px 0 7px;
    font-size: 12px;
    color: #777
}

.admin-container .block-header {
    background-color: #daadbf
}

.admin-container .block-header:after {
    border: 12px solid #daadbf
}

.admin-container .icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABaCAMAAAAhM5CiAAAA8FBMVEUAAADv7/Tarb/arb/arb/arb/hwtDlz9rn1d/arb/jx9Tq3+farb/arb/arb/arb/arb/arb/eucnarb/arb/arb/arb/cs8Ts5u3arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/arb/v7/Tarb/u6/Dhw9Hjydbq3+fu7fLt6e/bscPp3OXn1uDdtsbctMTm0dzix9TbsMHs5ezixdLgv83o2eLgwc/kzNjr4eno2uTm097euMjt5+7r4+rfvczfu8vlztreusrr5OvcssPs5Ou5z8tnAAAALXRSTlMAzPe5E+/t494z6ddlBftxQST16Z+YLPrTw4uFgBrgzLGlVU46C6htW9esknjOjgjrAAAF2UlEQVRYw+2XaUPaQBCGkbNaC1isV7Ue9ei1bzYJuQPhvtX//2862SUIQoRYPvb5AAkkD7MzswOkNuMmk748S22LLwjJbMm2CxR2Ph7jfDu6e+zt7Ox8xOl2dMDJDnGMg+2s9fNOSB4/tqHbR17oCvi6Dd0ZCkL3AYf/YDnaL+2Kg0N8mOquxXn2++47bEVAhnP/ooua8DJxUU6R3/NxRUdXkU7YD4H8Z2SSBkflDFv3Syp1PdUVwpMHhGc+ssl0FzgWrYtbiqcwq+xFTrh93KWScYmPdN8eMrKy4rhEkebFp1wmb4+83Ao3JexFbXwEnAjx76S6C4jwCsjckDjkM24PhfkEOEo+leTe8hFtsmNcyODyuE8l5ycKcmHwd0RMuX0h/hgGl5wf8E9E2n/iRFgysgM/U8O8h0McF/byPnLwEZIDtXYh/565d1c+z1SwmlzmvJyk77L7mTQIZ+i5ljaoKQpjTFFqA81yvaEDIp3Z33BjlK+KAIZjs8pWUzXHQwDFq/IGtnMATUthb6NbTRKubd5z0rXItQGKQYOgdPGG7baC/QeobDNsHNylK7fxWUsDldLGugl2b4B0Oa6gFdQ5vqHDlqmxZYYoX6OOSjZuiDQZCxCwZQb+gC3B8SOHfhMvLOi+QaOL+qvq2ENPX3q1i3twpsXpimAxqDBWZLSKNKpMj9NVENO4GpyaQ6G/po46rSZOl4a+usEcmMyErSwnIXw3ToeYxdbh0aNHoawkqY7DpUcXPJHuIE6nOH6N1XxHSaL7ngMWxoZlRTPFxEgfUf4Ezx3L0vQ1uk9fgRed3p1AMOmKGz1MKH9Ev+UgxG+aczr+WpfNAOpMZ4X3BPV6AMCxQr0Nm7x6ywds7tWHAEbtmY6pi7rdb7A1NtUpnFwkCWmQsUk503y6eWADXJPXjHvAeKZjmj2n208jqLKpbuDIiF4idQb0Kh35CEgW4QGBEulYtbmga0Y6zQiPI+SFRmgZ41XjmTZ61RfdysVqPvhyG/sa2ZZ2bX+EnhItdmUpaoYIoYUZVeEzWhCNEiDCCTM4pA4SpYhplI68S3dlozzxtuw7jGDXQkHLljKvJuN+6pOuHtvGLiDroFdrNWVaXsDVA/JFb/T1WRbaazbZGPDYAp5oCfIZi1Nf4ZTTtSPAApr9uXxzoCui4osfZPbgtDcYAZoDqMo0gpYBJ2o2FxiRWdAm+bC/0QhQwtRyt9FweXhA5sgxAXqe1bDGAeC7G4+ANseUZpvNY00gMdTqxiOAUCyVc9Va/vJ4dj1eb5lhbdePgGSsHQFJiR0BW9Bte7HLpUjOWyPgPcSPACWZSBctFbfJ0hhMN5O7iexRhRs+xY2AX2gwOVOg6mttDRBdeo7TyZ+xLtDFYnx9rdFoaP3XKVPHoADUON0RenJWKsBsqyrd4AmSp6A7l9wuVNYCHnurdcRPmI/hrFTpSonGQdhDzvnQBsG1ufBcujJArO4PeGgygapcpApANZUoUFOcR4vuADrzEK/LpsV3aRNudD26oUbrWJbV0apiiUA041W0WCNWR5wBbbKM5PQWQ9n0XpLj8A5TVMCUuhpQ5W/psjkqVQCLhXC0KJiQEfc8j48c2RotcKkLjxCvIx7Qi4JrgIdN07SeWUS1wcP8czSm50CsTnIKZxrcEBqzwYPhxH4yAPiG3ZsETdhMw5BJ7HW6g9kXkA+dolvGZTr8qBaxuogbQLaWgRr1XcOc+7f92DZNLSyBEdVqjY74CqMm8wxrsDxilHYXaIkRgPU64hpO6NPlUoxFgGhA1JzNdJ+upr9uNK9n4DVPE1Xs5+cnrNdJXwbOYLa4RaKXTWBDHfl+yZ0Uj4rNdeT7DXjxMr2OJDqiVARX4qb6CMl0RDmHnhm30KQ64uJ05YLbARLrZALPixi9qojiAYl1EbuXAB/M2Vo2imd3qffyqZQD6tMJVW31gMxR6l/IfkkDzY4uRh1Oy6l/5YCEguKv29Q2yJZO05XMQzb1n3n+Auic9d1Y3++sAAAAAElFTkSuQmCC')
}

.cont-container .block-header {
    background-color: #cab9ee
}

.cont-container .block-header:after {
    border: 12px solid #cab9ee
}

.cont-container .icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABaCAMAAAAhM5CiAAAAVFBMVEUAAADKue7Kue7Kue7Kue7Kue7Kue7Kue7Kue7Kue7Kue7Kue7Kue7Kue7Kue7v7/TKue7c0vHr6fPd1fHUx/Dk3/LPwO/Wy/DZzvDg2fLn5PPLu+63rqCmAAAAD3RSTlMAd1WZRGa7iDPu3aoRIsxzo77jAAACSklEQVRYw+3Y29KqMAwFYAU8605SWwr4/u+5KQgLDOM/Ri9ZF8xg69eEDnbGzZo1a9asWbPmfW67fH8+8el82RZL49fi0I/v8+z6F5bteZrD7WX8mM/G98U7bMttqrpxRM4F8e1dftwgxaX9xN+Dc2m8jtxmpxlMjoEmcXWqcJxwaO9qmiZ4LKhKA4bIOL8ANgVfC8TSQgtp2paK9FSZK0cLER4y1YalQ70w/5g0oeXU4Caddo3Kw1ePJU9p2gOX9bW5UtoLOHi50rQHjvmevlW6/vIax1xpRD0/tBopldVCVVxen95nxjE3RFQmrSJTwoTbda1Ie5FIxnhw/8biHmRNGLkbl+neE4mQOSO3ZaGeKhs7FwfuwiE1H9CrJfXAndlRV1njyZ4wcMzU70T4hnMj9/gldx04NGvKvFkfyJW/aPbUcVJ3FZrTJA4vRYhEMfxgZ/Pnbx19tRcycBnH/uF91a0fuCszPbuVyr4TicNb1pVmL68GV7Dvuk/leSPH4Db7/lD0QhTFpN07DgeZex4Wji3tNvOT7HnuiTe2W825Kz+9aDp9hAcO7d6pTWwtLwat45Bt5/VW6SwauLmXtsSggXv1pDRo4LTnDRq4F6/C9v6pKU57VSQvH2rgtCdl4E81cNpzvvxIA6c9wy6As3rQwNk9aOAMHjTNGTxomjN40DRn8KBpzuBB05zBg6Y5iyds4OApzcDBU5qBg6c0OwcPmp2DB83OwYNm57QHzc7BE/zDYQ68O7SvvSgR2vdeynbzs2TbbLNmlv+SAN6IZAT84wAAAABJRU5ErkJggg==')
}

.expert-container .block-header {
    background-color: #f59d9d
}

.expert-container .block-header:after {
    border: 12px solid #f59d9d
}

.expert-container .icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABaCAMAAAAhM5CiAAAAeFBMVEUAAAD1nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ31nZ3v7/T1nZ3v6/Dx0dTw4OTzwMLx29/0sbLyy87zurvyw8Xx1djzvb/w5enyx8n0p6f0q6zw6Oz1oqLztbe4j9U5AAAAFHRSTlMAhBmVd1w7TCTXso9VDPLkzKEzv42v9XYAAAQHSURBVFjD7ZjZetMwEIVpGiht0pUeLbbkPen7vyGdETBGS0wcPi6Ac5E2dvz7zGg0lvzhv/5Rbfbb56fHB+Dh8el5u99cwnrZ3SLS7e5lHet+S6zRD9r06vVV9UYPfiTi9v78IK8ATM68RjJuAnB1ZtAEa5iVyjQEPAP2kWCH73a6ejwCx7Huvps9EPDjGda6cGHVIVJXhZt0v2rw8zXg6BLlQPmzugpDUWlLeYNTdNYB15+XaZ8Azw4GALXmS0VK1wAGdu6BT0u0G8ASQoMjTsVxQhPaAjeL3ixd0wgsD2zoH7vgbxNoveX0leUA2wfeqfxdM60K6Zurir97oGLe9akK8eo9lpC+uVqgjcbEAub9jy/Xy0e+Y08BR6qBOj5mgZ4iKdZzSJhNaS3qGm3KsyGNpVA7HlOvUnNap/aU5/HtcFUYVcNZqhJzhMrYqzijBtjkzPG9OODUHNV1nasXiidn7x440Mzyr1lziT2Wp/l2ANJ+uiVzCqjy5vL2KkCRvW1mWHtyb/PmSvYsHJdWMln5IsDkzZXsGYB/EiTYHRx5r/PmyvZqyo5LcLfkqwtGgpRpB1+PkGMaGGs/tGZWmJqK1cS4DUaO9RAcDR1xWMdGrm2OIBG1G4LTA0c7Rrg9PN1k4p9840y+0RXzRYdKN376RuUjE4XlI9wVBhlXDSSchApoGdshwt2hnaXOIk160rHsLHlthHuCCaMU8RZpoRpMhHukIh7pQ3iLNFZPg9hHuAeaLEcoGUTKTUEakOFWOL5/RDgeJvqIeEs0Ji3ghLdIE1w5WOG5lOaEFgWbHwrRADkgmccg32QoyoUi8mm4WvprVCilMhZNab/iiSiSMi5PMkkLJ7N8TCZZuQWkTsqOpQWUG1Sap3I+pUGV26dUypDiBjRJ6vpfau5vaKXY3I/5+naiuZcfPVKHDiwndVZ+9JQfjAoI4QC+qjwQUgGo5MEouPJj25BhXQO+5Sg9UGuyYuLHtuByiwrJcvsGvBGMFb510PGiQnRiydMg+BEFr2jiJY/oxILMArk5O+vrfN5gphPLRWPbbGe3JlouzrS4mBWVFrNzLS21RcWl9lyZjUAlG4GylOV7K5/glrcponSbcgr3+exNVKQLt3ixLtuAJrpoe5xqcfNeh8274s17Pd+857T+1UJWa198FLTutUxRJ7bxwOTSRYWbgHNw0g+m2SstJa+0JqfW4KhFjYg0cntahSP17eCnMBSTH1oKfj0u1X/cX4ZTTv1G3ABg+F04DeAagL4MJ838+eXDy7N0+/U4xe90pQuGFBavW8A5AFc/dUG3Hld5epsbPUd8tQ5HcX7ZR4f3XyjiFTjSNnNiC+B83B2w2+T7/g64Oxd3c3dz8twf0VecIIFdi1XiigAAAABJRU5ErkJggg==')
}

.fans-container .block-header {
    background-color: #acbeda
}

.fans-container .block-header:after {
    border: 12px solid #acbeda
}

.fans-container .icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABaCAMAAAAhM5CiAAAAYFBMVEUAAACtv9utv9utv9utv9utv9utv9utv9utv9utv9utv9utv9utv9utv9utv9vv7/Stv9vf4+7s7PPj5vDI0uW1xd7a4OzU2+q5yN+9y+HL1ebBzeLE0OTn6fHp6/LO1+iYmzySAAAAD3RSTlMAzO6IEd27mWYzIqp3RFXvsJZzAAADQUlEQVRYw+2YzZaiMBCFBRFb0fZCCAl/8v5vORApKhgcDhkXs+AuWvpgPqq4VRXksGvXrl27/lnHANsVHD/R4KcPvADpY7tSBMs44OEj4Mu4Lyf7XSviy3cKhYG3Bdr9mJygtqUqoVQuFyL8CTGo2+pD1v8tJHC3YVfKs9pEy4DXZz7jXU8AwuR2RrMJ1wKQleiPKgBUMtFAO0b97UO5CSdglPcZ1+jFJfI7HFwgl1ISRZG2S7gCL5XZI5twUQjcPnZGUWOMQTjnFOjc49ER7gacDi+d8BaF0AB03ZQSQPN8w+UgiceTcDHwM+JipO+X190LInJAvgVYwwpPA2NIoCo8Q73RcsvHGpjzJEj9PW9GHICIinlWKSnRSA2kne8TrL5WXNwF2nJUEo2zm1/OxXGyRkPXkDrUw4fGqMLEkzKuw1KyibHC9WJcCpIy1d/MnWAr5Ij7BU489CpOpXzlnA7S0Nlghx0+WOLRumU8a7PKngcFmao5fDELrgJAfk7pRnz1BoU9OhRVruLrgZushcEZBbxdxtPXyz4OXqnpiEdiSbSaR4BRFANIIqo8B9cChYNrrUyzBowz7QAEA+8KuMlWPGmaKXrFhj9LMI7mAE7XIXGidGwF+FBD2LmasIXEiGP9hkB4H7KtqVA0x5GymzNfpTCuTzjWJTRTNALGvpQUZ27bndu+ypaTZpy1/9wOCWWmUBLXCqmlrE2BmGu5ODb4fId+GwEgblYit4xo+pleYxHHBscB1BSLWV2NWfdrZcZGdH2xaHzCscFToxWzgZ5qyJbPKLbUwbHB5D6tQi6mLUi33BE5WeriHINLe6ADWpswqownQu91hxUcPxIo3styg6ItiIJTbKmDcw2W2WzfFoL/Nw0jnzVWcKwEaP7+aKI01nF2wajPuBq1xArO4bXLLO6DdRwrhs6WaQU8cNEJ9SJPYBuO66V+rse2jmOeFu5988UdogDIn7PQSvjh+LG0UUVqVHQM88MdLgm26LCqa/xVHP/yS/8zXAJX/rgffBUXL00V5Y0Lkbm4zBdn9ltX2gN3DuGjz831TVwIsfZ+Yhnn+0plx/1HuKV1O84f599k4Qbc0fN9rO+ACs+Ly/4Avab+btH4vC4AAAAASUVORK5CYII=')
}

.rich-container .block-header {
    background-color: #dac173
}

.rich-container .block-header:after {
    border: 12px solid #dac173
}

.rich-container .icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABaCAMAAAAhM5CiAAAAzFBMVEUAAADawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPawXPv7/TawXPt6ufu7e/bw3jbxHvi1Kbv7vHu7Ozi0qLfzJDgzpjh0Z7dyIfq5NPn3cDeyYrs6ODj1KncxX7r5trdx4Tr593q5dfey43s6ePhz5rcxoHm27vp4tDo38fn3sTl2bbp4c3gzZXfzZPt7Onk1q3o4Mrk17Dm3L3l2LPl2rntC8OHAAAAGXRSTlMAvDwSkZlpsqHmxFYpB/F7IOnRcWZJ+9wxUPQekwAABrpJREFUWMPVmGtzk2AQhdNqTa22VmvVPUC4BEiAXMj9fmn6//+T7PsCISGERv3i86GdznTOvNmze3Ynlf+K5/dfPv26r+S5/vLp8VKx+zsIPt7dRqrvKntuEXFzodwtvNftwNMg+cqq16z6hNrWAq6uL5L7iT4xSmO6dXo1SB6+VR+wIWq4lz3wHWqUZRVOd1a9hYgBRahb4NunN8tdY0knMGeoKSTo9oCH2zcqfkBAJ1BdNCnGeNXe7Ml7vNAJrINH95cA3tQzV2hQnjm0PmVp1vDwVCnnKxTKU8drRspqGqQMgOrnS42V6OgZmT8Ad0q0aZUX8Bp1yhECbVI2ozY3jgVMloCzIlPnpr7c2AW2pHDr9exISNuI0rVGUVN3gJtLjQ3gqjSAs66JZvYpgktn+6Sugbvni4ztAg1qorUitT1vmBSzGYI/SdsDbu8vMNaGTmYHEzqCS7cIyZhp+6krN/YVQ5Mc2JSHS6cT+XXg9t2bjGUL5jThgc0jSlcfC2c+fniTsQ4cMjxhUB5ZOitqahuoPpYb2+R36ahTEVw6L6rrpIWHL2XGqh1MaQzNp2L8JWDJ/q7+Om+shQUP7IzOwaXj/hlzU58zdsNBosMz6CxmCyv+rQbA1btiY3sYUZsH9jzNtI1CF9WssfphkNQNsrGmEhxM074CioxtQOtSgI5KJdQRpt5pKDJ2iR35PLBlLPb/s82+7mPWWF0GiUWlrNN6tAGcNrYLhDRCy6RS2mjJZxg9AKeNtRHQasibvxwHdaE3Q8RJY2cYquRgkDxgZNm29RoWNJ4n9qavISJj7CjdpDWMaRoHST/wENOx/AK9LnvHnDCWLUg3fwDAW0/n4+m6B064PF0NKjUhyBsrs1xufs4eq5vOuw4s+7lYqUMnpQZB3lhziEm8+ZUeOmFUu9SSrgv3WG+EHn8gSd5YB3ay+ZeomxQFqGukjb9E77B7+ho2NEFMzljOcrn5uZdNfm4N030I9mAdTYXFqRJzbCxnudz8cmyZV3TS53GV5rRnymNtIeHYWM5y3vzC4G38oha77KtJrRaUFW/SGClHxnKWy81PCrQVSV4wVFW3m4p3s8uJl0DKobGc5UmQTOFktsZovaVgTEywz/s5D+waew6MlVluS1d0NLM7zVPDnhFr2PueeqUQebnvLCGyXG7+CB6dBMPFVvXaSegO0xiz2bsMWWM5y+XmZ1pQyGz7ihm3T5DmPJAkNnyaIUvWWM5yUVwBLzwLjNbqeMgcyBrU+KAPOEiy7I0VFsjNL+ig3+0Ma0ipTWNjoMksl3v4gL2xHCRy80sWkEaqZn/tNBwukd2X+duTvxDSCw5JjZVZbu17dIdd0qudVd81QxfQ2sLmQGQ5B4mGQ1JjRZZvMhVqwEvyb0KLTfTMneYZ4tkTMXl19u6I1FgHA7n5U+pJoIbUlPZ0u3ItqZzl4vQ7JjF2Gx9fBqXsOFYkOyUbIYHILotWrQK5j3DRlBGSUnA9vYiBbvJPCzliYzUs5ebPMkb+xh5rmHCQiNMvT2wsWyA2/wEBuJZZphp0kV0OD2ye2Fi8ys1/hC56LUWxILJ4g+GKAhTJfeOi8+bPsRlCc+ZyphqWhlpTXogjClEkd81BovDmz2OKerv1uosIRzzVwoAH9hRxmxAZsk55lJkNwWLnJw75tEOR3I20QAeaRQe/H4a+sY/mgLpakdzn+CiUV0k5a9g8sEVyVejpHplRGTKxRyiSe5JZLotiUxmGB503f5Hc3f4o9OFSGTO5hwvloGVOWI9K8DVx+uHM6yb7W8ihEuTxdUbuA2CZyUU8L1F74T3soJjodvqBlnjgCrWSS12pidPvDPEXhwNFvG54/nk2H1/DErkrBEMx24otvnEpZIKOSTrOIXes6QBLP2qDGlpTKmDVEol9luR4mnrQZvxllUi4HCVBkpIeT4YF8FHT7EB7oROMeaS3OI88ngTzOrBVSbWAepeOYAtm1EYJYsdmsrzTiEruQdsZdEiQBkn56xLCBaCbQtcLk/R06oOZEgJdmqFc7vMPLNbNRt+IHyGab1wH1mpU0TXimww6D2ypXKT3E4zm2sHL2O9y8ynyg4+NAeBswrkDDHgPl8tF3D8/3VyxpqDjauKUa9tAD8NQJrrCm7+cSsr95+en99VEddGPmrqHnp8Z2Avk9qqPzx/ef/sBbWREL6Q9A1wstxe9BXrdw4H9+q7y53y6g7ZTs98Nfaj8FTeAG+4Htlr5S66vgMBMNv9j5a+54aaWm/+m8g/4VQWsFem4qvwbvjzwhP34XPlHPFaBu7eq/QY7zFSQK2yupQAAAABJRU5ErkJggg==')
}

.apply-admin {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    color: #18b4ed;
    border: 1px dotted #18b4ed;
    border-radius: 50px
}

.reddot {
    display: inline-block;
    position: relative;
    bottom: 2px;
    border-radius: 10px;
    width: 25px;
    height: 10px;
    font-size: 8px;
    line-height: 10px;
    color: #fff;
    background-color: #f74c31;
    text-align: center;
    vertical-align: middle
}
