.top-banner {
    width: 100%;
    height: 100px
}

.top-banner img {
    width: 100%;
    height: 100%
}

.label-container {
    display: none;
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #c8c7cc
}

.label-container .labels .label-li {
    float: left;
    margin-right: 9px;
    margin-bottom: 6px
}

.label-container .label-btn {
    width: 100%;
    height: 30px;
    border: 1px solid #d5d9df;
    border-radius: 20px;
    font-size: 13px;
    color: #798490;
    text-align: center;
    line-height: 31px;
    overflow: hidden
}

.label-container .label-btn.active {
    color: #fff;
    background-color: #00a5e0
}

.detail-list .face {
    position: relative;
    top: -1px;
    width: 20px!important;
    height: 20px!important
}

.detail-list .list-content {
    padding: 14px 10px 0;
    padding-bottom: 10px
}

.detail-list .title {
    position: relative;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 3px;
    font-size: 17px;
    line-height: 20px;
    color: #454545;
    font-weight: 600;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.detail-list .desc {
    display: -webkit-box;
    overflow: hidden;
    padding-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 18px;
    color: gray;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.detail-list .bottom-content {
    color: #a6a6a6;
    font-size: 12px;
    padding-top: 3px
}

.detail-list .gbar-name {
    float: left
}

.detail-list .icon-wrap {
    float: right
}

.detail-list .text-content {
    height: 64px;
    overflow: hidden
}

.detail-list .reply-icon {
    margin-left: 5px
}

.detail-list .img-video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31px;
    height: 31px;
    margin: -15px 0 0 -15px;
    background-size: 100% 100%;
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/video-icon.png?4c063ef1)
}

.detail-list .read-icon,.detail-list .like-icon,.detail-list .reply-icon {
    display: inline-block;
    width: 12px;
    height: 10px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAPFBMVEUAAACsrKzk5OSsrKysrKysrKysrKzk5OSsrKysrKysrKysrKzk5OSsrKysrKysrKysrKysrKysrKzk5OST+fY/AAAAEnRSTlMAS+cLsfO+SXqEHBLk49rYi4AFsFYbAAAAd0lEQVQY031QWw6AIAxjbDzEN97/rgYwlojQj42s0LKqEciaCBhLz3wSYgUwyVTuy/xRmCW/sfSjnarhhmCTalQt4luc1g6tIvR1abQRAanFoYFozLvf7S7YjaQbImJffT76tcQOhC0xfguNYdgPOnbMAT7FV143oI4El6U4Bo0AAAAASUVORK5CYII=');
    vertical-align: middle;
    background-size: 100%
}

.detail-list .like-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAeCAYAAAA/xX6fAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3FpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3M2MxMzJmNC1hMDMyLWNhNDItYWYzZC1jNzBkNzA4N2U2MWMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzkyNTExQzQ4QjY3MTFFNDgzRjFEOUVFQTZBMDRFMjkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzkyNTExQzM4QjY3MTFFNDgzRjFEOUVFQTZBMDRFMjkiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjJlMzczNzU0LTEyN2EtYTg0Ni05MDBlLTYxOTg1ZDMwODU4NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpkZTJkNjRjZi0xZjNmLWJlNDktOTU5ZS0zYzExNGU3ZTY0NWUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7wdj6LAAAB3UlEQVR42tyWu0vDUBTGm/pCUXw/NkUcFEQUX4g4iEUXX6uLi+Lk4Kh0EBcHBfEvcHERdXASlGy6CIX6AHFxELStiiK+0GqJ34UvEOpN28hNBwM/Tnpvmu+ek3u+RDMMw5POIzPRpK7rdlPFoBacgi+7i3w+368x7x8WOQNuQICCNU7+7FSwDqyAMFgD9WDLyX2cChYADWyDCbAP2sCwW4LfjJ+Mq4wjbgmaxyvjAWODW4LljPcW4Sc3n2EP46VlLANcuSU4CqLgmL+buJF0lYK5bPIl0Ax2wTPnJhmXwaMFUeYPGEcQDFpvppnWhglhCxugNIH4C+gGZyAfXIPCJAsWTtQJ1wnGZzifQEyUcR10UMzcMEXsSxmi1JsgC4zJSppjlhCr0QQ4r+ZYBIyDC4etc8jzbJlghLFS4cvB7M8TmeAdY4VCwVbGgEwwpDjDPNAC3sB5OjLs4oYJYj/EZIJhxRn2Mh7ZNf6t4gz74gzeVlBFhiWgHRiW1rAtqYoMh2jq4vk9SAUxIRr1XVGGprPsJTPvkJkhvLUMYY7jVWA2RaOfBgMgRjv0SM2bImJF/Yo2zSKq5k+W4ULcy3RHOD1opLlHU/jmEU0+BfyyC7R0f3l7PWk+/r/gjwADAN0nc+OVFAFkAAAAAElFTkSuQmCC')
}

.detail-list .read-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAZlBMVEUAAACsrKysrKysrKysrKysrKysrKysrKysrKzk5OSsrKysrKysrKysrKysrKysrKysrKzk5OTk5OTk5OTk5OTk5OTk5OSsrKysrKzk5OTk5OSsrKzk5OTk5OTk5OTk5OTk5OTk5OS6ts8FAAAAIXRSTlMAHPeVm+V3caH1aSwkBvy4RxFfCNC7k4qJVUknw8KCdm4dsru3AAAAr0lEQVQY052R2RKDIAxFAVndFbVVu/H/P1makJYZZ/pgXhLumUluAkvBdaeEUJ3mpKBs22vPm4b3l9ZmqBT699CipNIWFWTvIVWFRF0WmMcQphEqJCbpbAgxFiSGsVrUOQjrp9yjKA2NegK4Q20kU+CuGYaXA+DQv0rAg5gDajURmLGVjcN38Epgg1VE/bW7oP5Au2W24Hpzbt5Qt7R6xTDoJP+OeDy75KgdP+psvAEqJQxqJ4gFpgAAAABJRU5ErkJggg==')
}

.detail-list .grouplike,.detail-list .groupreply,.detail-list .readnum {
    display: inline-block;
    height: 15px;
    max-width: 80px;
    margin-right: 5px;
    overflow: hidden;
    font-size: 10px;
    line-height: 15px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis
}

.detail-list .groupreply {
    margin-right: 0
}

.detail-list .img-content {
    position: relative;
    float: right;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-left: 12px
}

.detail-list .pic-count {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    width: 23px;
    height: 21px;
    text-align: center;
    line-height: 22px;
    letter-spacing: 1px;
    background: rgba(0,0,0,.6)
}

.no-content {
    display: none;
    margin: 100px auto 0;
    width: 190px;
    color: #ababab;
    font-size: 14px;
    text-align: center
}

.no-content:before {
    display: block;
    content: "";
    margin: 0 0 20px 14px;
    height: 96px;
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/no-content.png?0657324a);
    background-size: 112px 96px;
    background-repeat: no-repeat;
    background-position: center
}

.page-loading {
    font-size: 14px;
    color: #a6a6a6;
    text-align: center;
    padding: 10px 0 20px;
    vertical-align: top;
    line-height: 23px
}
