.complain-wrap {
    background: #fff
}

.complain-wrap .complain-container {
    width: 80%;
    margin: 40px auto 0
}

.complain-wrap .complain-close-btn {
    display: none
}

.complain-wrap .phone-num-validate-input,.complain-wrap .validate-code-input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: 0;
    outline: 0;
    font-size: 14px;
    box-sizing: border-box
}

.complain-wrap .validate-code-input-container {
    display: none
}

.complain-wrap .get-vfcode-btn,.complain-wrap .confirm-vfcode-btn {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 0;
    font-size: 16px;
    border: 0;
    border-radius: 4px
}

.complain-wrap .get-vfcode-btn.empty-input,.complain-wrap .confirm-vfcode-btn.empty-input {
    background: #d1d1d1
}

.complain-wrap .get-vfcode-btn.active,.complain-wrap .confirm-vfcode-btn.active {
    opacity: .7
}

.complain-wrap .get-vfcode-btn,.complain-wrap .confirm-vfcode-btn {
    background: #0079fe;
    color: #fff
}

.complain-wrap .get-vfcode-btn.waiting {
    background: #e7e7e7;
    color: gray
}

.complain-wrap .confirm-vfcode-btn {
    display: none
}

.complain-wrap .pho-num-text {
    margin-top: 5px
}

.complain-wrap .validate-fail-tips,.complain-wrap .phone-warn-tips {
    display: none;
    color: red;
    margin-top: 10px
}

.complain-wrap .phone-warn-tips {
    font-size: 12px;
    margin-bottom: 10px
}

.complain-wrap .send-vfcode-text {
    display: none;
    margin-bottom: 25px;
    text-align: center
}

.complain-wrap .success-alert {
    display: none;
    position: fixed;
    top: 200px;
    left: 50%;
    width: 128px;
    height: 70px;
    margin: 0 0 0 -64px;
    line-height: 70px;
    font-size: 14px;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 500ms;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background-color: rgba(0,0,0,.85)
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.complain-wrap.inside-page {
    display: none;
    position: absolute;
    z-index: 1003;
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.complain-wrap.inside-page .complain-outer-container {
    position: absolute;
    width: 80%;
    min-height: 200px;
    top: 30px;
    background-color: #fff;
    padding: 10px 0;
    left: 50%;
    margin-left: -40%;
    box-sizing: border-box
}

.complain-wrap.inside-page .complain-outer-container .complain-close-btn {
    display: block;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAVFBMVEUAAAAAAACenp4AAAAAAAAAAACGhoYAAAAAAAAAAAAAAAAAAAAAAAAAAADV1dUAAAAAAAAAAADX19cDAwMAAAAAAABcXFxaWloAAAAAAAAAAAD///+Qk5EiAAAAG3RSTlPMAOnHvXnkkItgRhYPB/Ustmz2zKmo3Nu1bS2mf+XbAAABCElEQVQ4y5XV0Q6DIAwF0E5gU1EE3aaO///PNTGTYnXW+yThBKKUCrcsXVW+tFL6VVZdPkOhDROQTMHuwsYo2ESZhsNaw050vYUGDmIy2D7gMI+WQOq4TNDA35gfrOEk9QIbfQZ1g5BtvL85QqvOobIIQxqP7g4pdzeuzwGhT1MuxmIdFDH268DfoKNrRJTJxbQ+sgpIikXSpyXISuCSO2RP4HJgDpkGLh1zyBRwyR0oDgeHzg0MatGKyJ47rmcSWSl6a2SV6Dsi+8hOpsOikJy1X8rsvHpCXrjvPqvH/p0KV3oV5JdLfl3lDYC3Ht58rjcplMdtr5U20uutOcXOnjI/02Yv/n18AXppEM3HPeGnAAAAAElFTkSuQmCC');
    background-size: 100% 100%;
    border: 0;
    background-color: transparent
}
