@charset "UTF-8";.container {
    overflow-x: hidden
}

.expert-tip,.rich-tip,.fans-tip {
    position: relative;
    display: none;
    padding: 21px 5px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    background-color: #535353
}

.expert-tip .num,.rich-tip .num,.fans-tip .num {
    display: inline-block;
    padding: 0 3px;
    font-size: 25px;
    color: #ffba01
}

.expert-tip::after,.rich-tip::after,.fans-tip::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 13px;
    content: "";
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAAaCAMAAADVPG8RAAAAUVBMVEVTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1MSTk+GAAAAGnRSTlMAAQYTJygpMjU3OjtbZGaWl6a73d7q9ff8/fZQX+AAAAB5SURBVHhe7cvLDoMgEAXQC0pRfEJB0f//0O7apGFmiCsXnv3BedE94hOfGNfRNlo3dlxjfczeKXwp53NdDAZ/TKiI+4yCeZdi6lDUJT6mFoQ2cXHrQeo3Jk5gTHQMYAUqHi+wTCaih8ATcYDAlWNUEKh3MS4QLb/4AQpabtc7MTRhAAAAAElFTkSuQmCC') #fff repeat-x left;
    background-size: 28px 15px
}

.expert-tip .tip-btn,.rich-tip .tip-btn,.fans-tip .tip-btn {
    display: inline-block;
    width: 77px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    margin-top: 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px
}

.list-title {
    position: relative;
    margin: 12px 0 7px 15px;
    font-size: 12px
}

.list-title span {
    display: inline-block;
    width: 41px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 2px
}

.list-title span.vip {
    color: #f28c48;
    border: 1px solid #f28c48
}

.list-title span.big-admin,.list-title span.small-admin,.list-title span.chief-admin {
    color: #ae8ad6;
    border: 1px solid #ae8ad6
}

.list-title span.chief-admin {
    width: 53px
}

.list-title.section-1px:before {
    display: none
}

.list-title.section-1px:after {
    top: -2px;
    right: 0;
    left: 50px;
    width: auto
}

.list-title.chief.section-1px:after {
    left: 62px
}

.list {
    margin: 15px 0
}

.list li {
    display: -webkit-box;
    height: 40px;
    padding: 15px
}

.list li.me .nick {
    color: #f28c48
}

.list li.me .rank {
    color: #f28c48
}

.list li.active {
    background-color: #d4d4d4
}

.list li.dashed {
    position: relative;
    margin-top: 10px
}

.list li.dashed:after {
    position: absolute;
    top: -15px;
    left: 27px;
    width: 2px;
    height: 22px;
    content: " ";
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/nopack/vertical-dashed.png?cd4edfe0);
    background-size: 100% 100%
}

.list li .rank-icon,.list li .rank {
    width: 55px;
    height: 30px;
    margin-top: 7px
}

.list li .rank-icon>i {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    background-size: 100% 100%
}

.list li .rank-icon.ri_1>i {
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/nopack/bar-rank1.png?fadd83f0)
}

.list li .rank-icon.ri_2>i {
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/nopack/bar-rank2.png?c19e96e2)
}

.list li .rank-icon.ri_3>i {
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/nopack/bar-rank3.png?ccff9603)
}

.list li .rank {
    font-family: HelveticaNeue-UltraLight,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    font-size: 25px;
    text-align: center
}

.list li .rank.small {
    font-size: 18px
}

.list li .avatar {
    width: 40px;
    margin-right: 10px
}

.list li .avatar img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px
}

.list li .avatar ::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    content: " ";
    -webkit-transform: scale(0.5,.5);
    -webkit-transform-origin: left top;
    border: 1px solid rgba(0,0,0,.17);
    border-radius: 40px
}

.list li .content {
    -webkit-box-flex: 1
}

.list li .content .nick {
    margin-top: 2px;
    font-size: 16px;
    color: #000
}

.list li .content .nick .nick_name {
    display: inline-block;
    max-width: 80%;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 19px;
    line-height: 19px
}

.list li .content .nick .sex {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: 12px 12px
}

.list li .content .nick .sex.male {
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/ico-male.png?d4058c28)
}

.list li .content .nick .sex.female {
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/ico-female.png?d637984b)
}

.list li .content .text {
    margin-top: 6px;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    color: #a6a6a6
}

.list li.me .nick {
    color: #f28c48
}

.list li.me .rank {
    color: #f28c48
}

.list li.active {
    background-color: #c5c5c5
}

.admin .list-title:first-child {
    margin-top: 15px
}

.admin li {
    padding: 8px 10px 8px 15px
}

.admin li .nick {
    padding-top: 10px
}

.hof-border-1px::before {
    position: absolute;
    content: ' ';
    border-bottom: 1px solid #d0d0d0;
    width: 100%;
    bottom: -1px;
    left: 0;
    pointer-events: none
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio:1.5) {
    .hof-border-1px::before {
        -webkit-transform:scaleY(0.7);
        transform: scaleY(0.7);
        -webkit-transform-origin: 0 0
    }

    .hof-border-1px::before {
        -webkit-transform-origin: left bottom
    }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio:2) {
    .hof-border-1px::before {
        -webkit-transform:scaleY(0.5);
        transform: scaleY(0.5)
    }
}

.fans li {
    padding: 10px 10px 10px 0;
    position: relative
}

.fans li.hof-border-1px::before {
    margin-left: 55px
}

.fans li.hof-border-1px:last-of-type::before {
    display: none
}

.fans li .content .text {
    margin-top: 4px
}

.rich li,.expert li {
    display: flex;
    display: -webkit-box;
    -webkit-box-align: center;
    padding: 0;
    height: 67px
}

.rich li:last-of-type .right-content.hof-border-1px::before,.expert li:last-of-type .right-content.hof-border-1px::before {
    border-bottom: 0
}

.rich li .rank,.rich li .rank-icon,.expert li .rank,.expert li .rank-icon {
    color: #777;
    width: 46px;
    height: auto;
    margin-top: 0
}

.rich li .avatar,.expert li .avatar {
    height: 50px;
    width: 50px;
    position: relative;
    margin-right: 15px
}

.rich li .avatar img,.expert li .avatar img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1
}

.rich li.rank-top .avatar:after,.expert li.rank-top .avatar:after {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #d0d0d0;
    top: -3px;
    left: -3px;
    z-index: 0
}

.rich li.rank-top .right-content .award-count,.expert li.rank-top .right-content .award-count {
    color: #ef7800
}

.rich li .right-content,.expert li .right-content {
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    display: -webkit-box;
    -webkit-box-align: center;
    height: 100%;
    padding-right: 10px;
    position: relative
}

.rich li .right-content .nick-wrap,.expert li .right-content .nick-wrap {
    -webkit-box-flex: 1;
    flex: 1
}

.rich li .right-content .nick-wrap .post,.rich li .right-content .nick-wrap .nick-name,.expert li .right-content .nick-wrap .post,.expert li .right-content .nick-wrap .nick-name {
    display: inline-block;
    font-size: 17px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    line-height: 20px
}

.rich li .right-content .nick-wrap .post,.expert li .right-content .nick-wrap .post {
    font-size: 12px;
    line-height: 12px;
    color: #777
}

.rich li .right-content .award-count-wrap,.expert li .right-content .award-count-wrap {
    font-size: 12px;
    color: #777;
    text-align: right
}

.rich li .right-content .award-count-wrap .award-title,.expert li .right-content .award-count-wrap .award-title {
    color: #bbb;
    margin-bottom: 3px
}

.rich li .right-content .award-count-wrap .award-count-num,.expert li .right-content .award-count-wrap .award-count-num {
    font-family: HelveticaNeue-Thin;
    font-size: 20px
}

.btn-get-more {
    display: none;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    color: #18b4ed
}

.btn-get-more.section-1px::after {
    display: none
}

.apply-admin {
    height: 40px;
    padding: 0 0 0 65px;
    margin: 10px 0;
    font-size: 16px;
    line-height: 40px;
    display: none;
    color: #18b4ed;
    background: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/apply.png?5b50f983) no-repeat 15px 0;
    background-size: 40px
}

.empty {
    display: none;
    margin-top: 100px;
    text-align: center;
    color: #ababab
}

.empty:before {
    display: block;
    height: 96px;
    margin: 0 0 20px 14px;
    content: " ";
    background-image: url(http://pub.idqqimg.com/qqun/xiaoqu/mobile/img/no-content.png?0657324a);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112px 96px
}

.loading {
    display: inline-block;
    width: 100%
}

.no-user {
    height: 40px;
    padding: 0 0 0 65px;
    margin: 10px 0;
    line-height: 40px
}
