* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: transparent
}

body,html {
	height: 100%;
	overflow: hidden;
	width: 100%
}

body {
	background-color: #555;
	color: #333;
	font-size: 14px;
	font-family: "Microsoft YaHei", sans-serif, 'Microsoft Sans Serif',
		'Microsoft JhengHei UI';
	margin: 0;
	padding: 0
}



#main {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%
}

#guidePanel {
	background: rgba(0, 0, 0, 0.6)
		url(../Images/shaobing/111.png) center 75%
		no-repeat;
	background-size: 270px 454px;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10000;
    display:none;
}

/* #gamePanel {
	height: 568px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
    width:100%;
} */

#gamePanel {
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
    width:100%;
}

#gamePanel canvas {
	display: block;
	margin: 0 auto;
	z-index: 1000
}

#gamePanel canvas.playing {
	cursor: none
}

.score-wrap {
	background:
		url(../Images/shaobing/t0180d607c54cbc42bb.png)
		no-repeat;
	background-size: 100%;
	color: #FFF;
	display: none;
	font-family: "Helvetica", "Microsoft YaHei", sans-serif;
	font-style: italic;
	font-size: 17px;
	font-weight: 700;
	height: 32px;
	letter-spacing: 2px;
	padding: 7px 10px;
	position: absolute;
	right: 20px;
	text-align: right;
	text-shadow: 1.5px 0 0 #613209, -1.5px 0 0 #613209, 0 1px 0 #613209, 0
		-1.5px 0 #613209, 1px 1px 0 #613209, -1px 1px 0 #613209, 1px -1px 0
		#613209, -1px -1px 0 #613209;
	top: 10px;
	width: 105px;
	z-index: 1005
}

.score-wrap div {
	background:
		url(../Images/shaobing/t0112104234e3d91aa4.png)
		no-repeat;
	background-size: 100%;
	height: 26px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 26px;
	z-index: 1009
}

div.hearthot {
	-webkit-animation: fire .2s linear;
	-o-animation: fire .2s linear;
	animation: fire .2s linear
}

@
-webkit-keyframes fire { 0%{
	opacity: 1;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}

100%{
opacity
:
0;-webkit-transform
:scale
(3
.0
);-moz-transform
:scale
(3
.0
);-ms-transform
:scale
(3
.0
);-o-transform
:scale
(3
.0
);transform
:scale
(3
.0
)
}
}
@
keyframes fire { 0%{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}

100%{
-webkit-transform
:scale
(1
.0
);-moz-transform
:scale
(1
.0
);-ms-transform
:scale
(1
.0
);-o-transform
:scale
(1
.0
);transform
:scale
(1
.0
)
}
}
#gameoverPanel {
	background: rgba(0, 0, 0, 0.8)
		url(../Images/shaobing/xiaomifeng7.png) center
		no-repeat;
	background-size: 230px 260px;
	top: 0
}

#gameoverPanel,#resultPanel {
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 10000
}

#resultPanel,#resultPanel .weixin-share {
	left: 0;
	top: 0
}
/*
#scoreBoard {
	background: #ffde8d
		url(../Images/shaobing/logo.png) center 50px
		no-repeat;
	background-size: 198px 34px;
	color: #ff8c00;
	text-align: center
}*/



#prize {
	background: #ffa700
		url(../Images/shaobing/xiaomifeng6.png) center 10%
		no-repeat;
	background-size: 261px 119px
}

#resultPanel .weixin-share {
	background: rgba(0, 0, 0, .8)
		url(http://p0.qhimg.com/t018a9077b24ae52c14.png) right top no-repeat;
	background-size: 212px 196px;
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 10002;
}

#resultPanel .replay {
	background: url(../Images/shaobing/replay.png) 0 0
		no-repeat;
	background-size: 100%;
	height: 27px;
	left: 20px;
	line-height: 20em;
	overflow: hidden;
	position: absolute;
	top: 20px;
	width: 79px;
	z-index: 10
}

#resultPanel .panel,#scoreBoard .score-result {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}

#scoreBoard .tips {
	font-size: 18px;
	font-weight: 700;
	line-height: 2em;
	margin: 100px auto 0
}

#scoreBoard .rank {
	background: rgba(255, 255, 255, .5);
	color: #000;
	font-size: 16px;
	padding: 5px;
	position: absolute;
	top: 150px;
	width: 100%;
	z-index: 10
}

#scoreBoard .share {
	background: url(about:blank) 0 0 no-repeat;
	background-size: 100%;
	display: block;
	height: 44px;
	line-height: 20em;
	margin: 120px auto 0;
	overflow: hidden;
	width: 196px;
	z-index: 10
}

#scoreBoard .score-1 {
	background: url(../Images/shaobing/xiaomifeng4.png)
		center bottom no-repeat;
	background-size: 100% 70%
}

/* #scoreBoard .score-2 {
	background: url(../Images/shaobing/xiaomifeng4.png)
		center bottom no-repeat;
	background-size: 100% 65% 
} */

#scoreBoard .score-3 {
	background:
		url(../Images/shaobing/jietu.jpg)
		center 70% no-repeat;
	background-size: 100% 70%
}

#scoreBoard .score-4 {
	background:
		url(../Images/shaobing/jietu.jpg)
		center 70% no-repeat;
	background-size: 100% 70%
}

#scoreBoard .score-5 {
	background:
		url(../Images/shaobing/jietu.jpg)
		center 70% no-repeat;
	background-size: 100% 70%
}

#scoreBoard .score-6 {
	background:
		url(../Images/shaobing/jietu.jpg)
		center 70% no-repeat;
	background-size: 100% 70%
}

#scoreBoard .result {
	font-size: 1.2em;
	line-height: 1.2em;
	margin: 20px auto
}

#prize .prize-default {
	background:
		url(../Images/shaobing/t01a5afc0eb8021fae3.png)
		center bottom no-repeat;
	background-size: 320px 130px;
	display: none;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%
}

#scoreBoard .tips span {
	margin: 0 5px
}

#scoreBoard .rank h4,#scoreBoard .rank ul {
	margin: 0 auto;
	padding: 0;
	text-align: center
}

#scoreBoard .rank ul {
	list-style-type: none;
	width: 60px
}

#scoreBoard .rank ul li {
	background: url(http://p8.qhimg.com/t01dfdd4ebdf81e3ac3.png) 0 1px
		no-repeat;
	background-size: 15px;
	font-weight: 700;
	height: 21px;
	line-height: 21px;
	padding-left: 20px;
	text-align: left
}

#scoreBoard .score-1 .share {
	background-image:
		url(../Images/shaobing/t0122df0668ea23d108.png)
}

#scoreBoard .score-2 .share {
	background-image:
		url(../Images/shaobing/t0122df0668ea23d108.png)
}

#scoreBoard .score-3 .share {
	background-image:
		url(../Images/shaobing/t010fc78fc89ac2944c.png)
}

#scoreBoard .score-4 .share {
	background-image:
		url(../Images/shaobing/t010fc78fc89ac2944c.png)
}

#scoreBoard .score-5 .share {
	background-image:
		url(../Images/shaobing/t010fc78fc89ac2944c.png)
}

#scoreBoard .score-6 .share {
	background-image:
		url(../Images/shaobing/t010fc78fc89ac2944c.png)
}

#prize .prize-default .share {
	background: url(http://p5.qhimg.com/t0171e1eb67be1e7baa.png) 0 0
		no-repeat;
	background-size: 100%;
	display: block;
	height: 69px;
	line-height: 20em;
	margin: 20px auto 0;
	overflow: hidden;
	width: 227px;
	z-index: 10
}

#scoreBoard .rank ul li.silver {
	background-position: 0 -20px
}

#scoreBoard .rank ul li.bronze {
	background-position: 0 -40px
}

@media screen and (max-height:480px) {
	#prize .prize-default .random-prize {
		height: 144px;
		margin-top: 46%;
		width: 150px
	}
	#prize .prize-default .share {
		margin-top: 10px
	}
}

#prizeResult.panel {
	background: #AAA;
	overflow: hidden
}

#prizeResult .scroll-rst {
	background: #ffa700
		url(../Images/shaobing/xiaomifeng6.png) center 40px
		no-repeat;
	background-size: 261px 119px;
	width: 100%
}

#prizeResult .prize-content {
	background:
		url(../Images/shaobing/t01a5afc0eb8021fae3.png) 0
		bottom no-repeat;
	background-size: 320px 130px;
	height: 460px;
	padding-top: 160px
}

#prizeResult .intro {
	background: #FFF;
	padding: 1px 35px 40px
}

#prizeResult .prize-content p {
	color: #FFF;
	font-size: 16px;
	font-weight: 700;
	text-align: center
}

#prizeResult .prize-content img {
	display: block;
	height: 116px;
	margin: 10px auto;
	width: 163px
}

#prizeResult .intro h2 {
	color: #ff6900;
	font-size: 20px;
	margin: 18px 0;
	text-align: center
}

#prizeResult .intro p,#prizeResult .intro ol,#prizeResult .intro li {
	color: #000;
	font-size: 14px;
	line-height: 25px;
	list-style-position: inside;
	margin: 0;
	padding: 0
}

#prizeResult .prize-content p span {
	font-weight: 400
}

#prizeResult .prize-content .yards {
	color: #FFF;
	font-size: 16px;
	height: 24px;
	line-height: 24px;
	text-align: center
}

#prizeResult .intro .down {
	background: url(http://p9.qhimg.com/t0169b3b90636e8039f.png) no-repeat;
	background-size: 100%;
	height: 28px;
	margin: 0 auto;
	width: 24px
}

#prizeResult .intro .map {
	display: block;
	height: 216px;
	margin: 0 auto;
	width: 256px
}

#prizeResult .intro .share {
	background: url(http://p5.qhimg.com/t0171e1eb67be1e7baa.png) 0 0
		no-repeat;
	background-size: 100%;
	display: block;
	height: 69px;
	line-height: 20em;
	margin: 20px auto 0;
	overflow: hidden;
	width: 227px
}

#prizeResult .prize-content .yards span {
	background-color: #FFF;
	border-radius: 12px;
	color: #000;
	margin: 0 5px;
	padding: 0 10px
}

#prizeResult .prize-content .yards strong {
	color: red;
	font-weight: 400
}



/**/
.notice{background:#fff; width:99%; height:80%; position:absolute; z-index:10001; left:5%; top:4%; line-height:22px; font-size:16px; border-radius:5px;  color:#CB7B03;display:none;overflow:auto;}
.notice span{ display:block; width:150px; height:35px; line-height:35px; text-align:center; background:#00C; color:#FFF; border-radius:2px; float:left}
.notice a{ float:right; margin-top:-5px;}

/**/
.giftlist{background:#fff; width:99%; height:80%; position:absolute; z-index:10001; left:5%; top:4%; line-height:22px; font-size:16px; border-radius:5px;  color:#CB7B03;display:none;overflow:auto;}
.giftlist span{ display:block; width:150px; height:35px; line-height:35px; text-align:center; background:#00C; color:#FFF; border-radius:2px; float:left}
.giftlist a{ float:right; margin-top:-5px;}

.switch-show {
	position: relative;
	display: none;
	height:85%;
}
#scoreNok .wrap,#prizeDiv .wrap {
	position: absolute;
    top: 45%;
	width:100%;
	text-align: center;
}
.giftimg {
	width:60%;
	/* width: 240px;
	height: 246px; */
}
#scoreOk {
	/*border: 1px #eee solid;*/
}
#scoreOk .wrap {
	position: absolute;
    /* top:5%; */
	width:100%;
	text-align: center;
	margin:0;
	padding:0;
}
#scoreOk .wrap div {
	margin:0;
	padding:0;
}

/**/
.topnWrap {
	position: absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index: 10001;
	background: #d9e9f9;
}
.topnWrap .tit {
	color:#DF2D5F;
	font-weight:bolder;
	font-size:19px;
	font-family:Helvetica, Arial, sans-serif;
	text-decoration:none;
	text-align: center;
	margin: 10px auto 10px;
}

.topnList {
	width:100%;
	margin:20px auto 0;
	background: #d9e9f9;
}
.topnList table {
	width:99%;
	text-align: center;
}
.topnList table td.index {
	width:30px;
	font-weight: bold;
	font-size:18px;
	text-align: right;
	border: 1px #000 solid;
}
.topnList table td.headimg {
	/*width:24%;*/
	text-align:left;
	position: relative;
    padding-left: 38px;
	width:60%;
}
.topnList table td.headimg img {
	width:45px;
	height:45px;
}
.topnList table td.username {
	width:36%;
	text-align:left;
	/* border:1px #000 solid; */
}
.topnList table td.infotext {
	width:35%;
	text-align:left;
	/* border:1px #f00 solid; */
}
span.num {
	color:#f00;
	font-weight:bolder;
}

.topnWrap .share2, .topnWrap .tryagain {
	width: 6em;color: rgb(255, 255, 255); font-size: 1.2em;height:1.7em;line-height:1.7em;display:inline-block;
    background-color:red;
	border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #FFF;
}
span.index {
	display: inline-block;
	position: absolute;
	left:0;
	top:16px;
	font-weight:bolder;
	font-size: 18px;
}
.headimg div.name {
	position: absolute;
	left: 85px;
	top:16px;
}

.weixin-share2 {
	left:0;
	top:0;
	background: rgba(0, 0, 0, .8)
		url(http://p0.qhimg.com/t018a9077b24ae52c14.png) right top no-repeat;
	background-size: 212px 196px;
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 100002;
}
