/*reset*/
body,p,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,button,input,textarea{ margin:0; padding:0;}
input,button,textarea,img{ vertical-align:middle}
input{-webkit-appearance: none; border-radius: 0}
:focus { outline: none;}
h1,h2,h3{ font-size:100%;}
table{ border-collapse:collapse; border-spacing:0;}
li{ list-style: none; }
a{ text-decoration:none; color:inherit;}
a,img { -webkit-touch-callout: none;}
body { color:#000; font:14px/1.5 "Helvetica Neue", Helvetica, STHeiTi, sans-serif; min-width:320px; -webkit-tap-highlight-color:rgba(0,0,0,0); background: #efeeda;}
/*content*/
.loadBox{ background: #fff; position: fixed; left: 0; top: 0; text-align: center; width: 100%; height: 100%; line-height: 200px; font-size: 14px;}
.backtop{ display: none; position: fixed; bottom: 4rem; right: .3rem; vertical-align: middle; width: 25%;}
.banner{ display: block;-webkit-user-select: none;user-select: none;}
.banner img{ display: block; width: 100%;}
.menu{ padding: 8px 0 1px; background:#7a5347 url(/img/sp/line.png) repeat-x 0 1px; background-size:17px auto; }
.menu .bg{ overflow: hidden; padding:0 0 8px; background:#7a5347 url(/img/sp/line.png) repeat-x 0 bottom; background-size:17px auto; }
.menu a{ float: left; width: 33.33%; padding:2% 5%; box-sizing:border-box;}
.menu a img{ display: block; width:100%;}
.menu .active{ background: rgba(0,0,0,.2); border:1px solid rgba(255,255,255,.2); border-radius: 8px;}
.tab_hd{ background: #e1d1bb; color: #aa8275; border-bottom:2px solid #996859; }
.tab_hd:after{ content:'\20'; display:block; height:0; clear:both; }
.tab_hd span{ float: left; width: 33.33%; text-align: center; font-size: 1.4rem; line-height: 3.4rem;}
.tab_hd span:nth-child(2){border-left:1px dotted #e6d9bb;border-right:1px solid #e6d9bb; box-sizing:border-box;}
.tab_hd span a{ display: block;}
.tab_hd .active{ background: #f7eacd; position: relative; padding: 0 0 2px 0; margin: 0 0 -2px 0; border-bottom: 1px solid #dacaaa;}
.tab_bd{ padding:10px; box-sizing:border-box;}
.textform{ display: -webkit-box; display: -moz-box; width: 100%; }
.textform .text,.textform .btn{ display: block; font-size:1.4rem; line-height: 1.6rem; vertical-align: middle; border-radius: 5px; padding: 1rem;}
.textform .text{ -webkit-box-flex:8; -moz-box-flex:8; border: 1px solid #c8ab81; background: #fff;}
.textform .text::-webkit-input-placeholder{color:#bfb399;}
.textform .btn{ -webkit-box-flex:1; -moz-box-flex:1; margin:0 0 0 10px; background: #624239; border: 1px solid #b38c4f; color: #fff; text-shadow:0 0 3px #956545;-webkit-box-shadow: inset 0px 0px 7px rgba( 192,155,96,.4);box-shadow: inset 0px 0px 7px rgba( 192,155,96,.4);}
#images{ margin: 10px -5px 0;}
#images .items{ float: left; width: 49.99%; padding:0 5px 10px; box-sizing:border-box; font-size: 1.1rem;}
#images .items img{ display: block; width: 100%;}
#images .items .bg{ display: block; padding: 5px; background: #fff; border: 2px solid #c8ab81; box-sizing:border-box;}
#images .items p{ line-height: 2.4rem}
#images .items p .name{ float: right;}
#images .items .sort{ background: #d70e24; color: #fff2d3; border-radius: 5px; padding:.3rem .4rem; overflow: hidden;}
#images .items .vote{ float: right; font-size: 1.2rem; color: #d70e24; border-radius: 5px; padding: 0 .2rem; line-height: 2.4rem;
background: #ffe2b0;
background: -moz-linear-gradient(left, #ffe2b0 0%, #ffe2b0 0%, #fff6e0 50%, #ffe2b0 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffe2b0), color-stop(0%,#ffe2b0), color-stop(50%,#fff6e0), color-stop(100%,#ffe2b0));
background: -webkit-linear-gradient(left, #ffe2b0 0%,#ffe2b0 0%,#fff6e0 50%,#ffe2b0 100%);
background: linear-gradient(to right, #ffe2b0 0%,#ffe2b0 0%,#fff6e0 50%,#ffe2b0 100%);}
#images .items .piao{ font-size: 1.8rem; line-height: 2.4rem;}
.masonryload{ font-size: 1.2rem; text-align: center; }
.overWrap{ position: fixed; width: 100%; height: 100%; background: rgba(0,0,0,.75); z-index: 998; background: rgba(0,0,0,.75); left: 0; top: 0;}
.popbox{  display: none; position: fixed; z-index: 999; color: #7a5347; background: #f7eacd; width: 90%; top: 50%; left: 50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); border:4px solid rgba(0,0,0,.7); border-radius: 10px;}
.popbox .boxhd{ font-size: 1.4rem; line-height: 4rem; border-bottom: 1px dotted #bea590; text-align: center;}
.popbox .boxbd{ font-size: 1.2rem; line-height: 1.8rem; padding:1.5rem 1.5rem 2.5rem; box-sizing:border-box;}
.popbox .boxbd p{ margin: 0 auto;}
.popbox .boxbd .center{ text-align: center;}
.popbox .boxbd .follow{ display: block; width: 50%; line-height: 3rem; background: #7a5347; border-radius: 5px; margin:1.3rem auto 0; color: #fff; text-align: center;}
.popbox .btns{ display: -webkit-box; display: -moz-box;}
.popbox .btns .flex{ display: block; -webkit-box-flex:1; -moz-box-flex:1; line-height: 3rem; background: #c4b39d; border: 1px solid #af8a7f; box-sizing:border-box; border-radius: 5px; margin: .5rem .5rem 0; color: #fff; text-align: center;}
.popbox .close{ width:2.4rem; height: 2.4rem; background: url(/img/sp/close.png) no-repeat; background-size: 100% 100%; position: absolute; right: .6rem; top: .7rem; }
.popbox .gift{ display: block; width: 40%; margin: 0 auto 1rem;}
.instructions li{ padding: 0 10px; color: #624239;}
.instructions li:last-child>article{ padding-bottom:0; margin-bottom:0; }
.instructions .tit{ font-size: 1.4rem; background: #dbccad; line-height: 2.4rem; padding:.5rem 10px; margin: 0 -10px;}
.instructions .tit .icon{ float: left; width: 2.4rem; margin: 0 .6rem 0 0; vertical-align: middle;}
.instructions article{ padding: 2rem 0 2rem 1.2rem; margin: -.7rem 0 -.7rem 1.15rem; font-size: 1.2rem; line-height: 1.8rem; border-left: 1px solid #92713d; position: relative;}
.instructions article p{ margin: .6rem 0 0;}
.instructions article p:first-child{ margin: 0}
.instructions article p time{ color: #c8ab81;}
.instructions article p .import{ color: #ff3800; font-size: 1.6rem}
.instructions .secIcon{ display: inline-block; line-height: 2.4rem; background: #dbccad; border: 1px solid #c4b39d; padding: 0 1rem; border-radius: 1.2rem; margin: 1rem 0 0 }
.instructions .form{ font-size: 1.2rem; line-height: 2.2rem; display: -webkit-box; display: -moz-box; width: 100%; margin: 1.2rem 0 0;}
.instructions .form:first-child{ margin: 0}
.instructions .form label::before{ content: '*'; display:inline-block; color: #ff3800; margin: 0 3px 0 0}
.instructions .form .text,.instructions .form label{ display: block; height: 2.2rem; line-height: 2.2rem}
.instructions .form .text{ background: no-repeat;color: #624239; -webkit-box-flex:1; -moz-box-flex:1; border: none; border-bottom: 1px solid #624239; font-size: 1.2rem; box-sizing:border-box;}
.instructions .form .text::-webkit-input-placeholder{color:#c8ab81;}
.instructions .form .textarea{ background: #fff; line-height: 1.6rem; height: 5.8rem; border: 1px solid #c8ab81; padding: .5rem 1rem;}
.picUpLoad{ overflow: hidden;}
.picUpLoad .pic{ float: left; width: 4rem; height: 4rem; margin: .5rem 0 0 .5rem; position: relative;}
.picUpLoad .pic:first-child{ margin-left:1rem; }
.picUpLoad .pic img{ display: block; width: 100%; height: 100%; border: 1px solid #c8ab81; box-sizing:border-box;}
.picUpLoad .file{ display: block; width: 4rem; height: 4rem; overflow: hidden; position: absolute;left: 0; top: 0; z-index: 2; opacity:0;}
.instructions article .notice{ color: #ff3800;}
.subaoming,.seemore{ margin: 1rem 10px 2rem; text-align: center; font-size: 1.6rem; color: #fff; background: #d70e24; line-height: 3.6rem; border-radius: 5px; }
.alertbox,.forbidden{ display:none; position: fixed; z-index: 999; text-align: center; background: #7a5347; line-height:50px; color: #fff; font-weight: bold; font-size: 1.6rem; line-height: 4rem; width: 70%; top: 50%; left: 50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); border:4px solid rgba(0,0,0,.5); border-radius: 10px;}
.shenhe { font-size: 1.4rem; color: #624239;}
.shenhe h3{ margin: 1rem 0 0}
.shenhe .import{ color: #ff3800; font-size: 1.8rem}
.seemore{ display: block; background: #7a5347; margin: 1rem 0 2rem;}
.detail{ display: none; background: #fff; position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.detail article{ margin: 5px 0 0; padding: 5px; overflow: scroll; box-sizing:border-box;}
.detail article img{ display: block; width: 100%; margin: 5px 0 0}
.detail article .btn{ margin: 5px 0 0}
.detail article .xuanyan{ font-size: 1.2rem; color: #8a6658;}
.info{ font-size: 1.4rem; overflow: hidden;}
.info .infoR{ float: right; text-align: right;}
.info .infowrap{ overflow: hidden; padding: 5px 0 0 5px;}
.info em{ font-style: normal; font-size: 1.6rem; color: #ff0000;}
.info .detail_name{ background:#c4b39d; line-height: 3.2rem; margin: -1px 0 0 -1px; position: relative; background-size:100% 100%; padding: 0 7rem 0 11px;box-sizing:border-box;}
.info .detail_sort,.info .detail_piao{ line-height: 2.2rem; padding: 0 0 0 5px;}
.info .detail_sort{ display: inline-block;}
.info .close{ position: relative; z-index: 9999; display:inline-block; width:2.4rem; height: 2.4rem; background: url(/img/sp/cha.png) no-repeat 0 0; background-size: 100% 100%; margin:5px 10px 5rem 5rem;}
.info .bang{ display: inline-block; line-height: 2.2rem; background: #dbccad; border: 1px solid #c4b39d; box-sizing:border-box; padding:0 1rem; border-radius: 1.2rem;  margin: 0 0 0 10px; color: #7a5347; }
.alertbox{ display: none;}
#waiting,.picUpLoad{ display: inline-block; vertical-align: middle;}
#waiting img{ display: block; width: 1.6rem; height: 1.6rem; margin: .5rem 0 0 1.9rem;}
#images .items .sort_icon{ position: absolute; right: 5px; top: 1px; width: 30%;}
.ps-scrollbar-x-rail,.ps-scrollbar-y-rail{ display: none;}
.guanzhu{ text-align: center; line-height: 4rem; background: url(/img/sp/bg.jpg) no-repeat 0 0; background-size: 100% auto; padding: 4rem 0 1rem}
.guanzhu h1{ color: #ff3800; font-size: 1.6rem;}
.guanzhu h2{ color: #666; font-size: 1.3rem; font-weight: normal;}
.follow_code{ display: block; width: 10rem; height: 10rem; margin:0 auto;}
#downPage{ background: #f7fcff;}
.profile{ padding: .5rem 0 1rem }
.profile h3{ background: #35caa0; color: #fff; line-height: 4rem; font-size: 1.6rem;  width: 22rem; text-align: center; margin: 0 auto; border-radius: 2rem;}
.profile h4{ color: #35caa0; text-align: center; font-size: 1.6rem;}
.profile ul{ padding: 1rem 2rem 1rem 4.5rem;}
.profile li{ padding: 1.5rem 0; border-bottom:1px solid #e1f5f2; color: #666; font-size: 1.4rem; line-height: 2rem}
.profile .tip1:before,.profile .tip2:before,.profile .tip3:before{ content: ''; float: left; width: 5rem; height: 5rem; background: url(/img/sp/tipsicon.png) no-repeat 0 0; background-size: 5rem auto; margin: -.5rem 1rem -1rem -2.5rem}
.profile .tip2:before{ background-position:0 -5rem; }
.profile .tip3{ border: none;}
.profile .tip3:before{ background-position:0 -10rem; }