.memberNav li a:before,.memberNav li .count:after,.order_count li i {background: url("o_icons_2.png?=a33") no-repeat; background-size: 150px auto;}
.memberNav li a:before,.memberNav li .count:after,.order_count li i { display:inline-block; vertical-align:middle; content:'';}

.amount_info ul,.order_count ul{display:-webkit-box; display:-moz-box; display:box;}
.amount_info li,.order_count li{ width:100%; -webkit-box-flex:1; -webkit-flex:1; flex:1;text-align:center;}
/*会员中心*/
.member_head{position:relative;background:url("user_headbg2.jpg") no-repeat center 0;background-size:cover;height:100px;font-size:14px;padding:20px 0 0 115px;color:#ffffff;}
.member_head .user_head{position:absolute;top:50%;height:80px;width:80px;overflow:hidden;margin-top:-40px;left:20px;}
.member_head .user_head img{border-radius:10px; width:80px; height:80px; vertical-align:top;}
.member_head .userName{font-size:18px;margin:8px 0 10px;}
.member_head a{color:#ffffff;margin-right:15px;}

.amount_info{background:#ffffff;border-bottom:1px solid #eeeeee;margin-bottom:10px;}
.amount_info ul{padding:6px 0;}
.amount_info li{color:#333333;font-size:14px;line-height:20px;}
.amount_info li:first-child{border-right:1px solid #eeeeee;}
.amount_info p{font-size:18px;color:#ff6600;}
.amount_info .pay a{display:block;background:#ff6600;border-radius:6px;height:32px;margin:4px 10px 0;line-height:32px;color:#ffffff;font-size:15px;}

.order_count{background:#ffffff;padding:7px 0;margin-bottom:10px;}
.order_count li{position:relative;font-size:15px;}
.order_count li i{width:35px;height:35px;background-position:2px -279px;background-size:120px auto;display:block;margin:auto;}
.order_count li:after{position:absolute;top:8px;right:0;width:1px;height:40px;background:#eeeeee;content:'';}
.order_count li:last-child:after{border:none;}
.order_count li i.tuan{background-position:-47px -303px;background-size:130px auto;}
.order_count li i.coupon{background-position:-88px -279px;}
.order_count li s{font-size:12px;color:#ffffff;background:#ff6600;border-radius:50px;min-width:7px;line-height:15px;padding:0px 4px;text-align:center;position:absolute;top:18px;right:34px;text-decoration:none;}
.order_count a{display:block;color:#333333;}

.memberNav li{background:#ffffff;border-bottom:1px dashed #eeeeee;height:40px;line-height:40px;margin-bottom:2px;font-size:16px;position:relative;padding:0 10px;}
.memberNav li a:before{width:35px;height:40px;background-position:1px -312px;background-size:120px auto;}
.memberNav li .count{float:right;color:#999999;font-size:14px;}
.memberNav li .count:after,.new_active .title a:after,.nearby_business .title a:after,.gongying dt:after,.fangchan dt:after,.zhaopin dt:after{background-position:right -695px;background-size:120px auto;width:12px;height:40px;margin-left:5px;}
.memberNav li a{display:block;color:#333333;}
.memberNav li.info a:before{background-position:-47px -312px;}
.memberNav li.house a:before{background-position:-94px -312px;}
.memberNav li.job a:before{background-position:1px -347px;}
.memberNav li.car a:before{background-position:-94px -936px;}
.memberNav li.zufang a:before{background-position:-94px -240px;}
.memberNav li.resume a:before{background-position:1px -383px;}
.memberNav li.resume_jz a:before{background-position:1px -944px;}
.memberNav li.arc a:before{background-position:-47px -382px;}
.memberNav li.tie a:before{background-position:-96px -383px;}
.memberNav li.exc a:before{background-position:1px -418px;}
.memberNav li.tou a:before{background-position:-95px -489px;}
.member_exit{margin-top:20px;}

.mt_10{margin-top:10px;}
.mt_45{margin-top:-45px;}
.mb_10{margin-bottom:10px!important;}
.post_category dt:before,.b_pic .pictures i:before,.b_pic .mobile_photo i:before,.inp_Itembox .gx_radio.current:before,.inp_Itembox .gx_radio.checked:before,.inp_Itembox .sex.current:before,.inp_Itembox .qz_radio.current:before,.login li:before,.login_nav li a:before,.user_reg li:before,.user_reg .open,.user_reg .reg_type i:before,.get_pw li:before,.cinfo_menu li i:before,.filter li:after,.info_list .count:before,.b_info .count:before,.share_fd li i:before,.contact_info .email a:before,.contact_info .phone a:before,.contact_info .invite_interview a:before,.job_filter li:after,.job_search button,.job_list .more:after,.person_list .more:after,.person_list .woman,.person_list .man,.submit_resume a:before,.job_desc .more:after,.my_info li .opear i,.input_message:before,.submit_tg:before,.my_info li i,.person_list .nv,.person_list .nan,.icon_yiguoqi{background:url(o_icons.png) no-repeat;background-size:150px auto;}
.post_category dt:before,.b_pic .pictures i:before,.b_pic .mobile_photo i:before,.inp_Itembox .gx_radio:before,.inp_Itembox .sex:before,.inp_Itembox .qz_radio:before,.login li:before,.login_nav li a:before,.user_reg li:before,.user_reg .reg_type i:before,.get_pw li:before,.cinfo_menu li i:before,.filter li:after,.info_list .count:before,.b_info .count:before,.share_fd li i:before,.tips i,.contact_info .email a:before,.contact_info .phone a:before,.contact_info .invite_interview a:before,.job_filter li:after,.job_list .more:after,.person_list .more:after,.person_list .woman,.person_list .man,.submit_resume a:before,.job_desc .more:after,.my_info li .opear i,.input_message:before,.submit_tg:before,.my_info li i{display:inline-block; vertical-align:middle;content:'';}
.exit {color: #ffffff;background:#fb9031; display:block; width:80%; margin: 0 auto 20px; border-radius:50px; height: 40px;border:0 none;	outline:none;}
.my_info li{background:#ffffff;margin-bottom:5px;overflow:hidden;position:relative;border-bottom:1px solid #eeeeee;}
.my_info li h3{font-weight:normal;font-size:16px;line-height:20px;padding:10px;}
.my_info li dl{color:#999999;line-height:14px;font-size:14px;padding:0 10px 15px;}
.my_info li dt{float:left;}
.my_info li dt span{display:inline-block;border-left:1px solid #cccccc;padding:0 6px;}
.my_info li dt span:first-child{padding-left:0;border:0;}
.my_info li dd{float:right;}
.my_info li .opear,.my_info .more{border-top:1px dashed #eeeeee;line-height:40px;color:#999999;font-size:12px;}
.my_info li .opear{padding:0 10px;text-align:right;}
.my_info li .opear a{color:#999999;}
.my_info li .opear i{background-size:110px auto;width:20px;height:20px;margin-right:5px;}
.my_info li .opear span{width:19%;display:inline-block;}
.my_info li .opear .f5 i{background-position:0 -682px;}
.my_info li .opear .gg i{background-position:-45px -682px;}
.my_info li .opear .jp i{background-position:-90px -682px;}
.my_info li .opear .del i{background-position:-92px -616px;}
.my_info li .opear .edit i{background-position:-92px -584px;}
.my_info li:last-child{margin:0;}
.my_info li i.pass,.my_info li i.wait{width:65px;height:30px;background-size:120px auto;position:absolute;top:8px;right:10px;background-position:0px -777px;}
.my_info li i.wait{background-position:0px -809px;}
.my_info .more{color:#333333;font-size:16px;text-align:center;background:#ffffff;}

.input_message{width:100%;position:fixed;top:0;left:0;height:45px;line-height:45px;background:#fb9031;color:#ffffff;text-align:center;z-index:999;}
.input_message,.submit_tg{background:#fb9031;text-align:center;height:50px;top:auto;bottom:0;color:#ffffff;font-size:18px;border:none;}
.input_message:before,.submit_tg:before{background-position:-47px -283px;background-size:120px auto;width:30px;height:30px;margin-right:5px;}
.submit_tg:before{background-position:-90px -708px;}
.my_info.info2 li h3{padding-right:80px;}
