/* index */
.hotline{display: block; padding: 0 22px; font-size: 16px; color: #fff; height: 40px; line-height: 40px; margin-top: 1px;}
.hotline .ico_arrow{float: right; margin-top: 13px;}
.hotline .icon-phone{font-size: 20px; vertical-align: middle; margin-right: 11px;}
.hotline span{margin-right: 30px;}