a{color: #fff;}
.container{position: relative; max-width: 640px; margin: 0 auto; color: #787878; font-size: 12px; overflow: hidden;}

.ico_arrow{display: inline-block; width: 10px; height: 10px; border-width: 2px 2px 0 0; border-style: solid; border-color: #fff;}
.ico_arrow.larger{width: 14px; height: 14px;}
.ico_arrow.right{-webkit-transform: rotate(45deg);}
.ico_arrow.bottom{-webkit-transform: rotate(135deg);}
.ico_arrow.left{-webkit-transform: rotate(-135deg);}
.ico_arrow.top, .on .ico_arrow.bottom{-webkit-transform: rotate(-45deg);}

.copyright a{color: #787878;}

.text_overflow, .list .item > a h3, .list .item > a p, .scroll_wrap a h3{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.text_overflows, .scroll_wrap a div p{display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; -webkit-line-clamp: 2;}

.img_swipe{position: relative; overflow: hidden; background-color: #4b4b4b;}
.img_swipe ul{overflow: hidden;}
.img_swipe li{position: relative; float: left;}
.img_swipe img{width: 100%; max-height: 320px;}
.img_swipe li a{position: relative; display: block; color: #fff; min-height: 168px;}
.img_swipe li a span{position: absolute; -webkit-box-sizing: border-box; left: 0; bottom: 0; width: 100%; padding: 0 30px 0 10px; height: 33px; line-height: 33px; background-color: rgba(0, 0, 0, .5); overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.ico_ad{width: 21px; height: 18px; background-position: -6px -8px; margin-right: 10px;}
.img_swipe ol{position: absolute; right: 5px; bottom: 5px;}
.img_swipe ol li{float: left; width: 6px; height: 6px; background-color: #838383; border-radius: 6px; margin-left: 5px;}

.swipe_btn{position: absolute; top: 50%; margin-top: -17px; width: 25px; height: 25px; padding-top: 9px; text-align: center;}
.swipe_btn.left{left: 0; border-radius: 0 25px 25px 0; -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .4);}
.swipe_btn.right{right: 0; border-radius: 25px 0 0 25px ; -webkit-box-shadow: -1px 1px 0 rgba(0, 0, 0, .4);}
.swipe_btn .left{margin-left: 2px;}
.swipe_btn .right{margin-right: 2px;}

.img_list{padding: 1px 0 0 1px;}
.img_list li{display: -webkit-box; margin-bottom: 1px;}
.img_list li a{position: relative; display: block; -webkit-box-flex: 1; -webkit-box-sizing: border-box; margin-right: 1px; background-color: #4c4c4c;}
.img_list a img{width: 100%; min-height: 105px; max-height: 210px;}
.img_list a div{position: absolute; -webkit-box-sizing: border-box; padding: 3px 8px; left: 0; bottom: 0; width: 100%; background-color: rgba(0, 0, 0, .25); line-height: 1.5;}
.img_list a h3{font-size: 14px;}

.img_list li:nth-of-type(even) img{min-height: 158px; max-height: 316px;}
.img_list li:nth-of-type(even) div{padding: 7px 8px 6px;}


/****/
.container{
		max-width:640px;
		margin:auto;
	}
.img_list li a{
	width:33.33%;
}
.img_list li a img{
	width:100%;
	height: 100%;
	min-height:inherit!important;
	max-height:inherit!important;
}
@media screen and (min-width: 240px) and (max-width: 320px){
	.img_list li a{
		height:90px;
	}
	.img_list li:nth-of-type(even) a{
		height:120px;
	}
}
@media screen and (min-width: 320px) and (max-width: 480px){
	.img_list li a{
		height:110px;
	}
	.img_list li:nth-of-type(even) a{
		height:180px;
	}
}
@media screen and (min-width: 480px){
	.img_list li a{
		height:200px;
	}
	.img_list li:nth-of-type(even) a{
		height:300px;
	}
}