div[data-widget="nav97"]{height: 51px;}
.nav97{position: fixed; left: 0; bottom: 0; width: 100%; overflow: visible!important; z-index: 2000;}
.nav97 ul:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
.nav97 li{position: relative; float: left;}
.nav97 .main_nav{position: relative; z-index: 1; display: table; width: 100%; line-height: 1;}
.nav97 .main_nav a{display: table-cell; height: 50px; font-size: 12px; text-align: center; vertical-align: middle; border-top: 1px solid #4dcecf; background-color: #00b9ba;}
.nav97 .main_nav p{margin-bottom: 2px;}
.nav97 .main_nav i{font-size: 24px;}
.nav97 .main_nav img{max-height: 25px;}
.nav97 .ico_has_sub{position: absolute; width: 11px; height: 11px; background: url(../imgs/menu.png) no-repeat; background-size: 11px auto; margin: 10px 0 0 -40px;}
.nav97 .sub_nav{position: absolute; left: 0; top: 0; width: 100%; border-radius: 5px 5px 0 0; -webkit-box-sizing: border-box; padding: 0 8px; -webkit-transition: top .3s;}
.nav97 .sub_nav a{display: block; height: 40px; line-height: 40px; border-bottom: 1px solid rgba(0, 0, 0, .1); font-size: 12px; text-align: center; white-space: nowrap; overflow: hidden;}
.nav97 .sub_nav i{margin-right: 4px; font-size: 18px; vertical-align: middle;}

/* skin */
.nav97.blue .main_nav a{background-color: #00b9ba;}
.nav97.blue .sub_nav{background-color: #009899;}
.nav97.blue .on .main_nav a{background-color: #009899; border-color: #009899;}

.nav97.yellow .main_nav a{border-color: #ffd74d; background-color: #ffc600;}
.nav97.yellow .sub_nav{background-color: #c49800;}
.nav97.yellow .on .main_nav a{background-color: #c49800; border-color: #c49800;}

.nav97.green .main_nav a{border-color: #6ad2a7; background-color: #29bf81;}
.nav97.green .sub_nav{background-color: #209f6b;}
.nav97.green .on .main_nav a{background-color: #209f6b; border-color: #209f6b;}