.img_swipe ol li.on{background-color: #e59d00;}
.swipe_btn{background-color: rgba(255, 209, 49, .6);}

.hotline, .list .item > a, .scroll_wrap li a div{background-color: #ffc600;}
.list .item > a.on{background-color: #d9a800;}