{template 'common/header'}
<ul class="nav nav-tabs">
	<li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('donation', array('op' => 'post'))}">添加募捐</a></li>
	<li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('donation', array('op' => 'display'))}">管理募捐</a></li>
</ul>
{if $operation == 'post'}
<link type="text/css" rel="stylesheet" href="../addons/ewei_shopping/images/uploadify_t.css" />
<style type='text/css'>
	.tab-pane {padding:20px 0 20px 0;}
</style>
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
		<div class="alert alert-warning" role="alert">
			温馨提示：
			<br/>1.请确保“功能选项”中的支付参数配置正常。
            <br/>2.当活动到了开始时间或活动已经产生了捐款时，该活动就不可以删除了。
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				基本信息
			</div>
			<div class="panel-body">
				<input type="hidden" name="id" value="{$item['id']}">
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">募捐活动名称</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{$item['title']}" name="title">
                        <div class="help-block">(不超过10个字)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">募捐宣传图片</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('thumb',$item['thumb'],'', $options);}
                        <div class="help-block"> 建议图片尺寸1080*440</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">募捐宣传视频链接</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{$item['video']}" name="video">
                        <span class="help-block" style="color:red;">视频链接仅支持腾讯视频链接，链接获取方法请参见 <a href="http://www.renrensousuo.com/tengxunshipin-qianruwangye.htm">查看详情</a> 链接案例：http://v.qq.com/iframe/player.html?vid=k0015trfczz</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">募捐简介</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="description">{$item['description']}</textarea>
                        <div class="help-block">募捐简介</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">募捐时间</label>
                    <div class="col-sm-4">
                        {php echo tpl_form_field_daterange('time', array('start'=>date('Y-m-d H:i:s',$item['starttime']),'end'=>date('Y-m-d H:i:s',$item['endtime'])), true)}
                        <div class="help-block">输入活动的起止时间</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">募捐详情</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('content',$item['content'])}
                        <div class="help-block">募捐详情</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">捐赠接收机构单位名称</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{$item['company']}" name="company">
                        <div class="help-block">捐赠接收机构不能为空</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">募捐款去向</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{$item['account']}" name="account">
                        <div class="help-block">(不超过20个字)募捐款去向不能为空</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">募捐底板LOGO</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('logo',$item['logo'],'', $options);}
                        <div class="help-block"> 建议图片尺寸220*70</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">募捐提示语</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{$item['tip']}" name="tip" placeholder="关注，保护每一个孩子">
                        <div class="help-block">募捐提示语不能为空</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">捐赠固定金额</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">一</span>
                            <input class="form-control" type="text" value="{$item['fixed_money1']}" name="fixed_money1">
                            <span class="input-group-addon">二</span>
                            <input class="form-control" type="text" value="{$item['fixed_money2']}" name="fixed_money2">
                            <span class="input-group-addon">三</span>
                            <input class="form-control" type="text" value="{$item['fixed_money3']}" name="fixed_money3">
                            <span class="input-group-addon">四</span>
                            <input class="form-control" type="text" value="{$item['fixed_money4']}" name="fixed_money4">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标语范例一</label>
                    <div class="col-sm-9">
                    	<textarea class="form-control" name="share_content1">{$item['share_content1']}</textarea>
                        <div class="help-block">(不超过80个字) </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标语范例二</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="share_content2">{$item['share_content2']}</textarea>
                        <div class="help-block">(不超过80个字) </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动状态</label>
                    <div class="col-sm-4" style="padding-top:6px;">
                        <label>
                            <input type="radio" value="1" name="enabled" {if $item['enabled'] == 1 }checked{/if}> 正常</label>&nbsp;&nbsp;
                        <label>
                            <input type="radio" value="2" name="enabled" {if $item['enabled'] == 2 }checked{/if}> 暂停</label>&nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">捐赠榜显示条数</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{$item['numbers']}" name="numbers" placeholder="捐赠榜显示条数">
                        <div class="help-block">捐赠榜显示条数</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">捐赠者姓名</label>
                    <div class="col-sm-4" style="padding-top:6px;">
                        <label>
                            <input type="radio" value="0" name="need_name" {if $item['need_name'] == 0 }checked{/if}> 无需填写</label>&nbsp;&nbsp;
                        <label>
                            <input type="radio" value="1" name="need_name" {if $item['need_name'] == 1 }checked{/if}> 选填</label>&nbsp;&nbsp;
                        <label>
                            <input type="radio" value="2" name="need_name" {if $item['need_name'] == 2 }checked{/if}> 必填</label>&nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">捐赠者电话</label>
                    <div class="col-sm-4" style="padding-top:6px;">
                        <label>
                            <input type="radio" value="0" name="need_mobile" {if $item['need_mobile'] == 0 }checked{/if}> 无需填写</label>&nbsp;&nbsp;
                        <label>
                            <input type="radio" value="1" name="need_mobile" {if $item['need_mobile'] == 1 }checked{/if}> 选填</label>&nbsp;&nbsp;
                        <label>
                            <input type="radio" value="2" name="need_mobile" {if $item['need_mobile'] == 2 }checked{/if}> 必填</label>&nbsp;&nbsp;
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">捐赠备注</label>
                    <div class="col-sm-4" style="padding-top:6px;">
                        <label>
                            <input type="radio" value="0" name="need_remark" {if $item['need_remark'] == 0 }checked{/if}> 无需填写</label>&nbsp;&nbsp;
                        <label>
                            <input type="radio" value="1" name="need_remark" {if $item['need_remark'] == 1 }checked{/if}> 选填</label>&nbsp;&nbsp;
                        <label>
                            <input type="radio" value="2" name="need_remark" {if $item['need_remark'] == 2 }checked{/if}> 必填</label>&nbsp;&nbsp;
                    </div>
                </div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				参数设置
			</div>
			<div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">文本自定义</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">捐款</span>
                            <input class="form-control" type="text" value="{$item['text1']}" name="text1">
                            <span class="input-group-addon">一起捐</span>
                            <input class="form-control" type="text" value="{$item['text2']}" name="text2">
                        </div>
                        <div class="help-block">自定义项目的前端显示【如：捐款、打赏、赞助、投资...】对应的【如：一起捐、一起赏、一起赞助、一起投资...】</div>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">圈子名称</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{$item['circle_name']}" name="circle_name">
                        <div class="help-block">(不超过10个字)【如：好友，校友，同事...】</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">影响值</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">捐赠</span>
                            <input class="form-control" type="text" value="{$item['money']}" name="money">
                            <span class="input-group-addon">元 获得增加1</span>
                        </div>
                        <div class="help-block">粉丝通过分享，产生的捐赠，每产生1元捐赠，给分享人的影响值增加1</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">感谢语</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{$item['thanks']}" name="thanks">
                        <div class="help-block">(不超过10个字)</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">捐赠协议：</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('xieyi',$item['xieyi'])}
                        <div class="help-block">捐赠协议</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
			<div class="panel-heading">
				分享设置
			</div>
			<div class="panel-body">
				<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享标题</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{$item['share_title']}" name="share_title">
                        <div class="help-block">分享标题，如不填写则为项目名称</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享图标</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('share_pic',$item['share_pic'],'', $options);}
                        <div class="help-block"> 建议图片尺寸100*100，如不填则为项目宣传图</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分享描述</label>
                    <div class="col-sm-9">
                    	<textarea class="form-control" name="share_des">{$item['share_des']}</textarea>
                        <div class="help-block">(不超过80个字) </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script type="text/javascript">
	require(['jquery', 'util'], function($, u){
		$("#form1").submit(function(){
			if(!$(":text[name='title']").val()) {
				u.message('抱歉，募捐活动名称为必填项，请返回修改！', '', 'error');
				return false;
			}
			if(!$(":text[name='company']").val()) {
				u.message('抱歉，捐赠接收机构单位名称为必填项，请返回修改！', '', 'error');
				return false;
			}
			if(!$(":text[name='account']").val()) {
				u.message('抱歉，募捐款去向为必填项，请返回修改！', '', 'error');
				return false;
			}
			if(!$(":text[name='tip']").val()) {
				u.message('抱歉，募捐提示语为必填项，请返回修改！', '', 'error');
				return false;
			}
			return true;
		});
	});
</script>
{elseif $operation == 'display'}

<div class="main">
	<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form action="./index.php" method="get" class="form-horizontal" role="form">
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="jing_donation" />
			<input type="hidden" name="do" value="donation" />
			<input type="hidden" name="op" value="display" />
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键字</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
				<div class="col-xs-12 col-sm-8 col-lg-9">
					<select name="enabled" class='form-control'>
						<option value="1" {if $_GPC['enabled'] != '2'} selected{/if}>正常</option>
						<option value="2" {if $_GPC['enabled'] == '2'} selected{/if}>暂停</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-12 col-sm-3 col-md-1 control-label"></label>
				<div class="col-xs-12 col-sm-2 col-lg-2">
					<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
				</div>
			</div>

			<div class="form-group">
			</div>
		</form>
	</div>
</div>
<style>
.label{cursor:pointer;}
</style>
<div class="panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:5%;">ID</th>
					<th style="width:20%;">活动名称</th>
					<th style="width:5%;">捐赠人数</th>
					<th style="width:5%;">捐赠金额</th>
					<th style="width:10%;">活动链接</th>
					<th style="width:10%;">状态(点击可修改)</th>
					<th style="text-align:right; width:20%;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>{$item['id']}</td>
					<td>
						{$item['title']}
					</td>
					<td>{php echo $this->totalnum($item['id'])}</td>
					<td>{php echo $this->totalmoney($item['id'])}</td>
					<td><a href="{$_W['siteroot']}{php echo str_replace('./','app/',$this->createMobileUrl('detail',array('id'=>$item['id'])))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="点击右键，复制链接">活动链接</a></td>
					<td>
						<label  class='label  label-default {if $item['enabled']==1}label-info{/if}'>{if $item['enabled']==1}正常{else}暂停{/if}</label>
					</td>
					<td style="text-align:right;">
						<a href="{php echo $this->createWebUrl('donation', array('id' => $item['id'], 'op' => 'post'))}"class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i> 编辑</a>&nbsp;&nbsp;
						<a href="{php echo $this->createWebUrl('dynamic', array('id' => $item['id'], 'op' => 'display'))}"class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="动态列表">动态列表</a>&nbsp;&nbsp;
						<a href="{php echo $this->createWebUrl('order', array('id' => $item['id'], 'op' => 'display'))}"class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="捐款详情">捐款详情</a>&nbsp;&nbsp;
						<a href="{php echo $this->createWebUrl('donation', array('id' => $item['id'], 'op' => 'delete'))}" onclick="return confirm('此操作不可恢复，确认删除？');return false;" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i> 删除</a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
		{$pager}
	</div>
	</div>
</div>
<script type="text/javascript">
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});

	var category = {php echo json_encode($children)};
	function setProperty(obj,id,type){
		$(obj).html($(obj).html() + "...");
		$.post("{php echo $this->createWebUrl('setgoodsproperty')}"
			,{id:id,type:type, data: obj.getAttribute("data")}
			,function(d){
				$(obj).html($(obj).html().replace("...",""));
				if(type=='type'){
				 $(obj).html( d.data=='1'?'实体物品':'虚拟物品');
				}
				if(type=='status'){
				 $(obj).html( d.data=='1'?'上架':'下架');
				}
				$(obj).attr("data",d.data);
				if(d.result==1){
					$(obj).toggleClass("label-info");
				}
			}
			,"json"
		);
	}

</script>
{/if}
{template 'common/footer'}
