.tbui_captcha_dialog{margin:12px}
.tbui_captcha_container{margin-bottom:15px}
.tbui_captcha_component .tbui_captcha_tip{margin-bottom:18px;font-size:14px;font-weight:bold}
.tbui_captcha_component .tbui_captcha_img_wrap{cursor:pointer}
.tbui_captcha_component .tbui_captcha_title{padding-right:10px;font-size:14px}
.tbui_captcha_component .tbui_captcha_input_wrap{position:relative;display:inline-block;*display:inline}
.tbui_captcha_component .tbui_captcha_input_wrap input{width:98px;height:26px;border:1px solid #ccc;vertical-align:middle;_padding-top:4px;_height:22px}
.tbui_captcha_component img{vertical-align:middle}
.tbui_captcha_component .tbui_captcha_buttons a{cursor:pointer}
.tbui_captcha_component .tbui_captcha_status{position:absolute;display:block;right:3px;top:7px;width:12px;height:12px;*top:13px;_right:auto;_left:85px}
.tbui_captcha_component .tbui_captcha_error{padding-left:53px;height:18px;color:red}
.tbui_captcha_grid_head div{float:left}
.tbui_captcha_component .tbui_captcha_grid_head .tbui_captcha_title{line-height:26px}
.tbui_captcha_component .tbui_captcha_grid_input{border:1px solid #ccc}
.tbui_captcha_grid_input div{width:38px;height:34px;border-right:1px solid #ddd}
.tbui_captcha_grid_input .tbui_captcha_backspace{width:40px;border-right:0;background:#ccc url(delete_5019dda3.png) no-repeat;cursor:pointer}
.tbui_captcha_component .tbui_captcha_grid_head .tbui_captcha_status{right:-20px;_right:auto;_left:235px}.tbui_captcha_component .tbui_captcha_grid_content{margin-left:0px}
.tbui_captcha_component .tbui_captcha_grid_buttons{margin-top:5px;width:190px}
.tbui_captcha_grid_buttons div{display:block;float:left;margin:0 5px 5px 0;width:54px;height:40px;border:1px solid #e0e0e0;border-bottom-color:#bfbfbf;outline:0;zoom:1;cursor:pointer;}
.tbui_captcha_component .tbui_captcha_grid_content .tbui_captcha_img_wrap{display:inline-block;margin-right:5px;width:100px;height:32px;vertical-align:middle;background-position:0 0}
.tbui_captcha_grid_content .tbui_captcha_btn_0{background-position:0 -32px}
.tbui_captcha_grid_content .tbui_captcha_btn_1{background-position:-57px -32px}
.tbui_captcha_grid_content .tbui_captcha_btn_2{background-position:-112px -32px}
.tbui_captcha_grid_content .tbui_captcha_btn_3{background-position:0 -72px}
.tbui_captcha_grid_content .tbui_captcha_btn_4{background-position:-57px -72px}
.tbui_captcha_grid_content .tbui_captcha_btn_5{background-position:-112px -72px}
.tbui_captcha_grid_content .tbui_captcha_btn_6{background-position:0 -112px}
.tbui_captcha_grid_content .tbui_captcha_btn_7{background-position:-57px -112px}
.tbui_captcha_grid_content .tbui_captcha_btn_8{background-position:-112px -112px}
.tbui_captcha_component .tbui_captcha_grid_content .tbui_captcha_error{margin-top:5px;padding-left:0;height:auto}
.tbui_captcha_component .tbui_captcha_help{margin-top:5px;color:#666}



.tbui_tabs_nav{padding:5px 0 0 10px;border-bottom:1px solid #ddd;list-style:none;background:#f8f8f8}
.tbui_tabs_nav li{float:left;margin-right:5px;margin-bottom:-1px}
.tbui_tabs_nav li a{display:block;padding:0 10px;line-height:27px;border:1px solid #e6e6e6;text-decoration:none;background:#f5f5f5;font-size:14px;color:#666}
.tbui_tabs_nav li.tbui_tabs_active a{color:#000;font-weight:bold;cursor:default;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent}

 .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
 
 .dialogJ{background:none repeat scroll 0 0 #fff;clear:left;overflow:hidden;position:absolute;font:12px/18px ËÎÌå}
 .dialogJ .dialogJtxt{float:left;margin-left:10px;_padding-top:1px}
.dialogJshadow{padding:5px;background:url(tb_dialog_bg_3053b078.png) repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000)}
.dialogJ .dialogJtitle{border-bottom:1px solid #e6e6e6;color:#333;font:bold 14px/36px "ËÎÌå";height:36px;line-height:36px;margin:0;padding:0;overflow:hidden;background-color:#f8f8f8}
.dialogJ .dialogJtitle img{border:medium none}
.dialogJ a.dialogJclose{background:url(tb_dialog_close_a24bcbfe.png) no-repeat;float:right;height:13px;line-height:normal;margin:10px 10px 9px 0;text-decoration:none;overflow:hidden;width:14px}
.dialogJ .dialogJquestion{font-size:14px;text-align:center}
.dialogJ .dialogJanswers{font-size:12px;padding:10px 8px 30px 8px;margin:0;text-align:center}
.dialogJ .dialogJanswers .dialogJbtn{font-size:12px;padding:2px 12px;margin:0 0 0 5x;width:auto;cursor:pointer}
.dialogJ .dialogJloading{width:100%;padding:20px 0;text-align:center}.dialogJmodal{background-color:#000;filter:alpha(opacity = 40);opacity:.4;zoom:1;left:0;position:absolute;top:0;width:100%}.dialogJ .dialogJcontent{background:#fff;padding:9px;text-align:left}