		@-webkit-keyframes greenPulse {
		  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
		  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
		  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
		}
		.green.button { -webkit-animation-name: greenPulse; -webkit-animation-duration: 3s; }
	
	.button { background: #222 url(https://qnphoto.kagirl.cn/overlay-button.png) repeat-x 0 0; display: inline-block; padding: 5px 15px 6px; color: #fff !important; font-size: 13px; font-weight: bold; line-height: 1; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25); text-shadow: 0 -1px 1px rgba(0,0,0,0.25); border-bottom: 1px solid rgba(0,0,0,0.25); position: relative; cursor: pointer; overflow: visible; width: auto; }
	button::-moz-focus-inner { border: 0; padding: 0; }
	.large.button { font-size: 14px; padding: 8px 19px 9px; }
	.green.button { background-color: #91bd09; }