<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>

	<title></title>
</head>
<body>
<div class="wrapper">
	报名链接:{php echo  murl('entry', array('m' => $this->module['name'], 'do' => 'enter', 'id' => $id,'form'=>'login'),true,true);}
	<br>
 候选名单链接:{php echo murl('entry', array('m' => $this->module['name'], 'do' => 'enter', 'id' => $id,'form'=>'user'),true,true);}
	<br>
        我的抽奖码链接:{php echo murl('entry', array('m' => $this->module['name'], 'do' => 'enter', 'id' => $id,'form'=>'result'),true,true);}
	<br>
</div>

</body>
</html>