<div class="panel panel-default">
    <div class="panel-heading">选择要关联的活动</div>
	<div class="panel-body">
		<div class="form-group">
	<label class="col-xs-10 col-sm-3 col-md-3 control-label">报名项目</label>
							<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
								<select class="form-control" name="activity_id" id="activity_id">
									{loop $activity $row}
									<option value="{$row['activity_id']}" 
									data-name="{$row['title']}"
									
									{if $row['activity_id']==$reply['activity_id']}selected{/if}
									
									>{$row['title']}</option>
									{/loop}
								</select>
							</div>
						</div>
	
		<div class="form-group">
	<label class="col-xs-10 col-sm-3 col-md-3 control-label">关键字类型</label>
							<div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
								<select class="form-control" name="type" id="type">
									{loop array('报名入口','获取抽奖码','候选名单') $index  $value}
									<option value="{$index}" {if $reply['type']==$index}selected{/if}
									>{$value}</option>
									{/loop}
								</select>
							</div>
						</div>
	
	
	         <div class="form-group">
            <label class="col-xs-10 col-sm-3 col-md-3 control-label">图文标题</label>
            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                <input type="text" id="cj_code" class="form-control span7"
                       placeholder="" name="pic_title" value="{$reply['pic_title']}">
                       <span class="help-block">
      
              </span>
            </div>  
            
                <div class="form-group">
            <label class="col-xs-10 col-sm-3 col-md-3 control-label">图文描述</label>
            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                <input type="text" id="cj_code" class="form-control span7"
                       placeholder="" name="pic_desc" value="{$reply['pic_desc']}">
                       <span class="help-block">
      
              </span>
            </div> 
            
            <div class="form-group" style="display:">
                    <label class="col-xs-10 col-sm-3 col-md-3 control-label">图文图片：</label>
                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8">
                        {php echo tpl_form_field_image('pic_thumb',$reply['pic_thumb']);}
                    </div>
                </div>    
						
						
						

        </div>
</div>
