
@-ms-viewport {
    width: device-width;
}

a:link, a:visited, a:hover, a:active {
    color: #e6b23f;
    text-decoration: none;
}

/*底部连接*/

.foot {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.foot ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.foot ul li {
    width: 25%;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

.foot ul li:last-child {
    border: none;
}

.foot ul li a {
    display: inline-block;
    float: left;
    width: 100%;
    background: #f30000;
    color: #fff;
    text-align: center;
    transition: all 0.4s;
    height: 40px;
    line-height: 40px;
}

.foot ul li a:hover {
    background: #c52a2a;
}
    .bobigwan {
        position: relative;
        margin: auto;
        width: 320px;
        height: 320px;
        background-image: url(bg-bobigwan.png);
    }
    .bobigwan>div {
        position:absolute;
        width:100%;
        height:100%;
    }

    .bobigwan > div>* {
        display:block;
        position: absolute;
        width: 50px;
        height: 50px;
    }

    .bobigwan #pic1 {
        /*top: 90px;*/
        top: 140px;
        left: 100px;
		display:block;
    }

    .bobigwan #pic2 {
        top: 130px;
        /*top: 90px;*/
        left: 160px;
		display:block;

    }

    .bobigwan #pic3 {
        top: 200px;
        /*top: 160px;*/
        left: 180px;
		display:block;
    }

    .bobigwan #pic4 {
        right: 70px;
        /*bottom: 150px;*/
        bottom: 110px;
		display:block;
    }

    .bobigwan #pic5 {
        left: 130px;
        /*bottom: 130px;*/
        bottom: 90px;
		display:block;
    }
	.bobigwan #pic6 {
        left: 80px;
        /*top: 130px;*/
        top: 180px;
		display:block;
    }

 @-webkit-keyframes rotate {


 from {-webkit-transform:rotate(0deg);}
 to {-webkit-transform:rotate(900deg);}
}





    
  .bobigwan .b1 {
       background-image:url(d2.png);


    }

    .bobigwan .b2  {
         background-image:url(d2.png);
    }

    .bobigwan .b3 {
         background-image:url(d3.png);
    }

    .bobigwan .b4 {
         background-image:url(d4.png);
    }

    .bobigwan .b5  {
         background-image:url(d5.png);
    }

    .bobigwan .b6  {
         background-image:url(d6.png);
    }




    .infoss{
    margin: 0;
    padding:0;
    
}
.infos{color:#fff;  }

.infos span {color:#fff;
    padding-left:10px;

}


.rule {
    
    font-color:white;
}
.rule {
    padding: 10px 20px;
    line-height: 2em;
}
.swiper-container {

    margin: 0 auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(255,255,255,0.9);
    width: 33%;


}
.close_b{
    display: block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    margin-left: 25%;
    margin-bottom: 20px;
}
.shake-tip{
    width: 42%;
    margin: 0;
}
#prizeshow p{margin: 0;padding: 0}
.sharemoney{
    background-image: url(bg-redpack.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 80%;
    border-radius:12px ;
    position: relative;
    left: 50%;
    margin-left: -45%;
    top:50px;
}
.act-rule-wrap {
    display: none;
}
#share{
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.rimg,#music_off{

    -webkit-animation:loading 2s infinite linear;
    -moz-animation:loading 2s infinite linear;
}
@-webkit-keyframes loading{
    form{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes loading{
    form{
        -moz-transform:rotate(0deg);
    }
    to{
        -moz-transform:rotate(360deg);
    }
}




.sz1 {
    -webkit-animation-name: sz1;
    -moz-animation-name: sz1;
    -o-animation-name: sz1;
    animation-name: sz1;
    -webkit-animation-duration: 1.8s;
    -moz-animation-duration: 1.8s;
    -o-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -moz-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -o-animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes sz1 {
    0% {top:-6%;left:39%;-webkit-transform:rotate(0deg);}
    10% {top:40%;left:46%;-webkit-transform:rotate(0deg);}
    25% {top:10%;left:32%;-webkit-transform:rotate(90deg);}
    40% {top:42%;left:31%;-webkit-transform:rotate(180deg);}
    60% {top:24%;left:36%;-webkit-transform:rotate(90deg);}
    80% {top:45%;left:42%;-webkit-transform:rotate(60deg);}
    100% {top:44%;left: 39%;-webkit-transform:rotate(0deg);}
}

.sz2 {
    -webkit-animation-name: sz2;
    -moz-animation-name: sz2;
    -o-animation-name: sz2;
    animation-name: sz2;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -moz-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -o-animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes sz2 {
    0% {top:-6%;left:41%;-webkit-transform:rotate(0deg);}
    10% {top:42%;left:49%;-webkit-transform:rotate(0deg);}
    25% {top:15%;left:36%;-webkit-transform:rotate(-90deg);}
    40% {top:42%;left:35%;-webkit-transform:rotate(-180deg);}
    60% {top:24%;left:42%;-webkit-transform:rotate(-90deg);}
    80% {top:33%;left:49%;-webkit-transform:rotate(-60deg);}
    100% {top:24%;left: 42%;-webkit-transform:rotate(0deg);}
}

.sz3 {
    -webkit-animation-name: sz3;
    -moz-animation-name: sz3;
    -o-animation-name: sz3;
    animation-name: sz3;
    -webkit-animation-duration: 2.2s;
    -moz-animation-duration: 2.2s;
    -o-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -moz-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -o-animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes sz3 {
    0% {top:-6%;left:66%;-webkit-transform:rotate(0deg);}
    10% {top:46%;left:58%;-webkit-transform:rotate(0deg);}
    25% {top:10%;left:65%;-webkit-transform:rotate(90deg);}
    40% {top:46%;left:71%;-webkit-transform:rotate(180deg);}
    60% {top:26%;left:68%;-webkit-transform:rotate(90deg);}
    80% {top:42%;left:62%;-webkit-transform:rotate(180deg);}
    100% {top:38%;left: 66%;-webkit-transform:rotate(360deg);}
}
.sz4 {
    -webkit-animation-name: sz4;
    -moz-animation-name: sz4;
    -o-animation-name: sz4;
    animation-name: sz4;
    -webkit-animation-duration: 1.6s;
    -moz-animation-duration: 1.6s;
    -o-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -moz-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -o-animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes sz4 {
    0% {top:-6%;left:46%;-webkit-transform:rotate(0deg);}
    10% {top:52%;left:41%;-webkit-transform:rotate(0deg);}
    25% {top:16%;left:44%;-webkit-transform:rotate(-180deg);}
    40% {top:52%;left:55%;-webkit-transform:rotate(-360deg);}
    60% {top:36%;left:46%;-webkit-transform:rotate(-720deg);}
    80% {top:52%;left:40%;-webkit-transform:rotate(-1080deg);}
    100% {top:66%;left: 46%;-webkit-transform:rotate(-1440deg);}
}
.sz5 {
    -webkit-animation-name: sz5;
    -moz-animation-name: sz5;
    -o-animation-name: sz5;
    animation-name: sz5;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -moz-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -o-animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes sz5 {
    0% {top:-6%;left:24%;-webkit-transform:rotate(0deg);}
    10% {top:60%;left:29%;-webkit-transform:rotate(0deg);}
    25% {top:20%;left:20%;-webkit-transform:rotate(0deg);}
    40% {top:60%;left:18%;-webkit-transform:rotate(0deg);}
    60% {top:39%;left:22%;-webkit-transform:rotate(720deg);}
    80% {top:60%;left:28%;-webkit-transform:rotate(1080deg);}
    100% {top:56%;left: 24%;-webkit-transform:rotate(1440deg);}
}
.sz6 {
    -webkit-animation-name: sz6;
    -moz-animation-name: sz6;
    -o-animation-name: sz6;
    animation-name: sz6;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -moz-animation-timing-function: cubic-bezier(0,0,0.2,1);
    -o-animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes sz6 {
    0% {top:-6%;left:64%;-webkit-transform:rotate(0deg);}
    10% {top:56%;left:72%;-webkit-transform:rotate(0deg);}
    25% {top:32%;left:63%;-webkit-transform:rotate(-180deg);}
    40% {top:56%;left:60%;-webkit-transform:rotate(-360deg);}
    60% {top:41%;left:62%;-webkit-transform:rotate(-720deg);}
    80% {top:56%;left:68%;-webkit-transform:rotate(-1080deg);}
    100% {top:56%;left: 66%;-webkit-transform:rotate(-1440deg);}
}

