<div class="tab-pane" id="tab_other">
	<div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">充值链接</label>
		<div class="col-xs-12 col-sm-6 input-group" style="float: left;margin-left: 15px;">
            <input type="text" name="recharge" class="form-control" value="{$settings['recharge']}">
  		</div>	
  		<div class="col-xs-12 col-sm-4" style="width: 20%;">
            <label class="radio radio-inline">
				<input type="radio" name="rechargestatus" value="1" {if $settings['rechargestatus']==1 || empty($settings['rechargestatus'])}checked="checked"{/if}> 关闭
			</label>
			<label class="radio radio-inline">
				<input type="radio" name="rechargestatus" value="2" {if $settings['rechargestatus']==2}checked="checked"{/if}> 开启
			</label>
		</div>
	</div>
	<div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">微信账户绑定</label>
  		<div class="col-xs-12 col-sm-4" style="width: 20%;">
            <label class="radio radio-inline">
				<input type="radio" name="is_bingding" value="1" {if $settings['is_bingding']==1 || empty($settings['is_bingding'])}checked="checked"{/if}> 关闭
			</label>
			<label class="radio radio-inline">
				<input type="radio" name="is_bingding" value="2" {if $settings['is_bingding']==2}checked="checked"{/if}> 开启
			</label>
		</div>
	</div>
	<div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">用户购买需绑定</label>
  		<div class="col-xs-12 col-sm-4" style="width: 20%;">
            <label class="radio radio-inline">
				<input type="radio" name="buy_bingding" value="1" {if $settings['buy_bingding']==1 || empty($settings['buy_bingding'])}checked="checked"{/if}> 关闭
			</label>
			<label class="radio radio-inline">
				<input type="radio" name="buy_bingding" value="2" {if $settings['buy_bingding']==2}checked="checked"{/if}> 开启
			</label>
		</div>
	</div>
	<div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">自动审核讨论</label>
  		<div class="col-xs-12 col-sm-4" style="width: 20%;">
            <label class="radio radio-inline">
				<input type="radio" name="auto_audit" value="1" {if $settings['auto_audit']==1 || empty($settings['auto_audit'])}checked="checked"{/if}> 关闭
			</label>
			<label class="radio radio-inline">
				<input type="radio" name="auto_audit" value="2" {if $settings['auto_audit']==2}checked="checked"{/if}> 开启
			</label>
		</div>
	</div>
</div>