@charset "utf-8";
/*通用样式*/

html{font-size: 62.5%;}

body,div,ul,li,p,form,fieldset,legend,input,textarea,img,section,article,button,textarea{ padding:0; margin:0;}

body {
    font-family: "Microsoft YaHei",Arial;
    color: black;}

i, cite, em, var{font-style: normal;}

a{text-decoration: none;cursor: pointer;}

a, button, input,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;}

input,button {
    -webkit-appearance: none;
    outline: none;
    border: none;
    border-radius: 0;
    background: transparent;}

ul, li {
    list-style: none;
}

img{
    vertical-align: middle;
    border: none;}

.fr{float: right;}

.fl{float: left;}

.abs{position: absolute;}

.rel{position: relative;}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.clearfix {*zoom: 1;}


.clearfix:after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";}

.wzsl {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}

.f-10rem{font-size: 1.0rem;}

.f-11rem{font-size: 1.1rem;}

.f-12rem{font-size: 1.2rem;}

.f-13rem{font-size: 1.3rem;}

.f-14rem{font-size: 1.4rem;}

.f-15rem{font-size: 1.5rem;}

.f-16rem{font-size: 1.6rem;}

.f-17rem{font-size: 1.7rem;}

.f-18rem{font-size: 1.8rem;}

.d-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;}

.flex{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;}

.d-flex-center{
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;}

.c858 {color: #858585;}

.cfff{color: #fff;}

.bg-f{background: #fff;}

.base-wrap{
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;}

.word-break{
    word-wrap:break-word;
    word-break:break-all;}

.bz{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
