body{
    padding-bottom:10rem;
}



.carPro{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top:1rem;
    overflow: auto;
}
.carPro ul{
    width: 100%;
    height: auto;
    padding:0 10px;
    box-sizing:border-box;
}
.carPro ul li{
    width: 100%;
    height: 4.8rem;
    font-size: 1.4rem;
    color:#333333;
    position: relative;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.carPro ul li:after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.carPro ul li .carProLeft{
    width: 70px;
    color: #333333;
}
.carPro ul li .carProRight{
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 2rem;
    font-size: 1.4rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color:#666666;
}
.cardescribe{
    margin-top:1rem;
    background-color: #fff;
    box-sizing:border-box;
    font-size: 1.4rem;
    color:#333333;
    overflow: auto;
}
.cardescribeTitle{
    height: 4rem;
    line-height: 4.8rem;
}
.cardescribeIn{
    padding-bottom:10px;
    color:#999999;
}
.carPerTop{
    position: relative;
}
.biaozhi{
    display: inline-block;
    position: absolute;
    top:-1px;
    left: 10px;
    width: 3.8rem;
    height: 2rem;
}
.chengke{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(tongcheng-01.png)no-repeat -37.9rem -6.5rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
}
.siji{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(tongcheng-01.png)no-repeat -41.9rem -6.5rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
}
.cardesTxt{
    width: 100%;
    height: 10rem;
    line-height: 2rem;
    font-size: 1.4rem;
    font-family: 瀵邦喛钂嬮梿鍛寸拨;
    resize: none;
    box-sizing: border-box;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    float: left;
    padding:0 10px;
    box-sizing:border-box;
    padding-top:0.4rem;
}

.cardescribeTitle{
    padding:0 10px;
    box-sizing:border-box;
}
.cardescribeIn{
    padding:0 10px;
    box-sizing:border-box;
    padding-bottom:4rem;
    line-height: 1.6rem;
}
.contact{
    width: 100%;
    height: 4rem;
    background-color: #fff;
    margin-top:1rem;
}
.cardescribeTitle{
    position: relative;
}
/*.cardescribeTitle:after{
    content: " ";
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    width: 110%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.cardescribeIn{
    margin-top:1.6rem;
    padding-top:0.8rem;
}
*/
/*.carPerTopIn{
    text-align: center;
}
.carPerTopIn .TopTitle{
    display: inline-block;
}

.carStar,.carend {
    font-size: 1.6rem;
    width: auto;
    max-width: 124px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 6rem;
}

.carStarTop i{
    float: left;
}
.carStarTop a{
    font-size: 1.6rem;
    max-width: 124px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.carPerTop{
    text-align: center;
}
.carPerTopIn{
    width: 100%;
    background-color: pink;
    display: inline-block;
}
.carPerTopIn span{
    display: inline-block;
    float: left;
}
.carStar i,.carend i{
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #ff5d38;
    color:#fff;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
    vertical-align: 3px;
}
.carStar i{
    margin-right:0.4rem;
}
.carend i{
    background-color: #38a4ff;
}
.carBottom{
    font-size: 1.2rem;
    color:#999999;
    text-align: center;
    margin-top:1rem;
}
.carTo{
    text-align: center;
    margin-left: 1rem;
}
.carTo i{
    display: inline-block;
    width:2.5rem;
    height: 0.8rem;
    background: url(../images/tongcheng-01.png)no-repeat -37.3rem -9.4rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
    vertical-align: 57px;
}*/

.carPerTop{
    width: 100%;
    padding-top:3rem;
    background-color: #fff;
    padding:3rem 10px 1.5rem;
    box-sizing:border-box;
    text-align: center;
}
.carPerTopIn{
    width: 100%;
    display: inline-block;
}
.carStar i,.carend i{
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #ff5d38;
    color:#fff;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
    vertical-align: 3px;
    margin-left: 0.4rem;

}
.carend i{
    background-color: #38a4ff;
}

.carStarTop,.carendTop{
    font-size: 1.6rem;
}
.carStarTop i,.carendTop i{
    float: left;
}
.carStarTop a,.carendTop a{
    display: inline-block;
    text-align: left;
    float: left;
    max-width: 90px;
    height: 3.8rem;
    line-height: 1.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.carStar,.carend{
    display: inline-block;
    max-width: 124px;
    height: auto;
    overflow: hidden;
}
.carTo{
    width: 2.5rem;
    height: 3rem;
}
.carTo i{
    display: inline-block;
    width:2.5rem;
    height: 0.8rem;
    background: url(tongcheng-01.png)no-repeat -37.3rem -9.4rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
    margin:0 0.2rem;
    vertical-align: 26px;
}
.carBottom{
    color:#999999;
    font-size: 1.2rem;
}
input{
    font-size: 1.4rem;
    font-family: "瀵邦喛钂嬮梿鍛寸拨"
}
.declare{
    padding-left:0;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.carStar, .carend{
    max-width: 130px;
}
.carStarTop a, .carendTop a{
    max-width: 100px;
}