/* CSS Document */
/*global css*/
*{font-family:微软雅黑, Arial, 宋体; -webkit-text-size-adjust:none; cursor: pointer;}

@media only screen and (min-width: 320px){
    html {
        font-size: 55.5%!important;
    }

}
@media only screen and (min-width: 375px){
    html {
        font-size: 62.5%!important;
    }

}
@media only screen and (min-width: 400px){
    html {
        font-size: 70.5%!important;
    }
    nav ul li .top .lt p span:nth-child(2){
        /*    display:inline-block;
            width: 66% !important;
            float: left;*/
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 80%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 95%!important;
    }

}
@media only screen and (min-width: 641px){
    html {
        font-size: 110%!important;
    }
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}
header,footer,section,aside,nav,hgroup,figure,figcaption{display:block; margin:0; padding:0; border:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h2{width:8em;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin:0 auto;

}
.lf{float: left}
.rt{float: right}
li{list-style-type:none;}
a{ text-decoration:none;}
img{border:none;}
input[type='text'],input[type='number'],input[type='password'],input[type='reset'],input[type='submit'],input[type='button'],input[type='tel'],button,textarea{-webkit-appearance:none; }
input-placeholder{ color:inherit; font-size:inherit;}
::-webkit-input-placeholder {color:inherit;}
:-moz-placeholder {color:inherit;}
::-moz-placeholder {color:inherit;}
:-ms-input-placeholder{color:inherit;}
.never{
    width:100%;
    text-align:center;
    margin-top:50%;}
.never p:first-child{
    color:#414141;
    font-size:2rem;
}
.never p:last-child{
    color:#808080;
    font-size:1.6rem;
    margin-top:0.5rem;
}
.swiper-slide img	{
    width:100%;}
.kind,.address{cursor:pointer;}
/*
<div class="never">
      <p>暂无商家</p>
      <p>搜索油站请去油站分类</p>
</div>*/

/*footer*/
footer{ position:fixed; bottom:0; width:100%; background:#f3f3f3;
    height: 5rem;
    border-top:1px #ddd solid;}
footer ul{box-shadow:0px -1px 1px #f2f2f2;
    overflow:hidden;}
footer ul li{width:33.33%;margin:0;text-align:center; float:left;}

footer ul li span{ display:block; text-align:center;font-size:1.2rem; color:#a5a5a5; line-height:1.5rem;
    margin-top: 0.4rem;}
footer ul li .imga img{ height:2.5rem;}
.footer2{
    position:fixed; bottom:0;
    width: 100%;
    height: 5rem;
    border-top:1px #ddd solid;
    font-size: 1.6rem;
    line-height: 5rem;
}
.footer2>span:nth-child(1){
    width: 68%;
    float: left;
    margin-left: 2%;
    color: #ff3333;
}
.footer2 span span{
    color: #999;
    font-size:1.4rem;
}
.footer2>span:nth-child(2){
    width: 30%;
    float: right;
    text-align: center;
    background: #ff3333;
    color: #fff;
}
.footer3{
    position:fixed; bottom:0;
    width: 100%;
    height: 5rem;
    border-top:1px #ddd solid;
    font-size: 1.6rem;
    line-height: 5rem;
    background: #ff3333;
    text-align: center;;
    color: #fff;
}
.footer3 a{
    display: block;
    color: #fff;
}
.col{
    width: 100%;
    line-height: 2rem;
    height: 2rem;
    border: 0;
    outline: 0;
    color: #4c4c4c;
    font-size: 1.6rem;
}
.footer4{
    position:fixed; bottom:7rem;
    width: 88%;
    left: 6%;
    height: 5rem;
    font-size: 1.6rem;
    line-height: 5rem;
    background: #ff3333;
    text-align: center;
    border-radius:5px;
    color: #fff;
    border:1px #ff3333 solid;
}
.footer4 a{
    display: block;
    color: #fff;
}
.footer5{
    position:fixed; bottom:1rem;
    width: 88%;
    left: 6%;
    height: 4.8rem;
    font-size: 1.6rem;
    line-height: 5rem;
    background: #fff;
    border-radius:5px;
    text-align: center;
    color: #ff3333;
    border:1px #ff3333 solid;
}
.footer5 a{
    display: block;
    color: #ff3333;
}
.col .select{ width:100%; background-size:auto 100%; position:relative; float:left;
}
.col .select select{ position:absolute; left:0; top:0; width:100%; height:100%; display:block; text-align:center;opacity:0; font-size:1.6rem; line-height:2rem;}
.col .select select option{text-indent:1em;}
.col .select span{font-size:1.6rem; line-height:2rem; display:block; width:70%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
