/* CSS Document */
/*global css*/

footer{ position:fixed; bottom:0; width:100%; background:#f3f3f3;
    height: 5rem;
    border-top:1px #ddd solid;}
footer ul{box-shadow:0px -1px 1px #f2f2f2;
    overflow:hidden;}
footer ul li{width:33.33%;margin:0;text-align:center; float:left;}

footer ul li span{ display:block; text-align:center;font-size:1.2rem; color:#a5a5a5; line-height:1.5rem;
    margin-top: 0.4rem;}
footer ul li .imga img{ height:2.5rem;}
.footer2{
    position:fixed; bottom:0;
    width: 100%;
    height: 5rem;
    border-top:1px #ddd solid;
    font-size: 1.6rem;
    line-height: 5rem;
}
.footer2>span:nth-child(1){
    width: 68%;
    float: left;
    margin-left: 2%;
    color: #ff3333;
}
.footer2 span span{
    color: #999;
    font-size:1.4rem;
}
.footer2>span:nth-child(2){
    width: 30%;
    float: right;
    text-align: center;
    background: #ff3333;
    color: #fff;
}
.footer3{
    position:fixed; bottom:0;
    width: 100%;
    height: 5rem;
    border-top:1px #ddd solid;
    font-size: 1.6rem;
    line-height: 5rem;
    background: #ff3333;
    text-align: center;;
    color: #fff;
}
.footer3 a{
    display: block;
    color: #fff;
}
.col{
    width: 100%;
    line-height: 2rem;
    height: 2rem;
    border: 0;
    outline: 0;
    color: #4c4c4c;
    font-size: 1.6rem;
}
.footer4{
    position:fixed; bottom:7rem;
    width: 88%;
    left: 6%;
    height: 5rem;
    font-size: 1.6rem;
    line-height: 5rem;
    background: #ff3333;
    text-align: center;
    border-radius:5px;
    color: #fff;
    border:1px #ff3333 solid;
}
.footer4 a{
    display: block;
    color: #fff;
}
.footer5{
    position:fixed; bottom:1rem;
    width: 88%;
    left: 6%;
    height: 4.8rem;
    font-size: 1.6rem;
    line-height: 5rem;
    background: #fff;
    border-radius:5px;
    text-align: center;
    color: #ff3333;
    border:1px #ff3333 solid;
}
.footer5 a{
    display: block;
    color: #ff3333;
}