.tc-detail-second-hand-pic{
    background-color: #fff;
}
.tc-detail-time{
    font-size: 1.2rem;
}
.tc-detail-infor-title i{
    display: inline-block;
    width: 1.5rem;
    height: 1.2rem;
    float: left;
    background: url(../images/tongcheng-01.png?1124) no-repeat -5.65rem -22.8rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
    margin-top: 0.3rem;
    padding-right: 0.6rem;
}
.detail-in-shop-arrow{
    margin-left: 0.4rem;
}
.flex .contact{
    display: inline-block;
    width: 1.7rem;
    height: 1.5rem;
    float: left;
    background: url(../images/tongcheng-01.png?1124) no-repeat 0 -25.7rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
    margin-right: 0.6rem
}
.flex .area{
    display: inline-block;
    width: 1.5rem;
    height: 1.6rem;
    float: left;
    background: url(../images/tongcheng-01.png?1124) no-repeat -1.9rem -25.7rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
    margin-right: 0.6rem
}
.flex .Name{
    display: inline-block;
    width: 1.7rem;
    height: 1.6rem;
    float: left;
    background: url(../images/tongcheng-01.png?1124) no-repeat -3.65rem -25.7rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
    margin-right: 0.6rem
}
.Out{
    color:#999;font-size:1.5rem;
}
.tc-detail-footer{
    width: 100%;
    height: 5rem;
    background-color: #fff;
    padding:0;
    margin:0;
}
.tc-collect,.tc-zan{
    width: 20%;
    height: 5rem;
    float: left;
    text-align: center;
    background-color: #f0f0f0;
    position: relative;
    text-align: center;
    padding-top:0.5rem;
    box-sizing:border-box;
    font-size: 1rem;
    line-height: 1.6rem;
    color:#8c8c8c;
}
.tcCollect{
    width: 40%;
    border:none;
}
.tc-collect:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e0e0e0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.tc-collect:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #e0e0e0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.tc-collect i{
    display:block;
    width: 2.5rem;
    height: 2.5rem;
    margin:auto;
    background: url(../images/tongcheng-01.png?1124)no-repeat -5.6rem -25.7rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
}
.tc-zan{
    width: 20%;
    height: 5rem;
    float: left;
    text-align: center;
    background-color: #f0f0f0;
    position: relative;
    text-align: center;
    padding-top:0.5rem;
    box-sizing:border-box;
    font-size: 1rem;
    line-height: 1.6rem;
}
.tc-zan:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e0e0e0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.tc-zan i{
    display:block;
    width: 2.5rem;
    height: 2.5rem;
    margin:0 auto;
    background: url(../images/tongcheng-01.png?1124)no-repeat -8.7rem -25.7rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
}
.tc-detail-bottom-nav{
    margin:0;
    padding:0;font-size:1.6rem;
    width: 60%;
    height: 5rem;
    float: left;
    background-color: #ff5d38;
    text-align: center;
    line-height: 5rem;
    color:#fff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
}
.p10-b-ff-02{
    padding:12px 15px;
}
.tc-detail-bottom-nav i{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url(../images/tongcheng-01.png?1124) no-repeat -11.5rem -25.7rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
    vertical-align: -6px;
}
.tc-detail-big-title i{
    display: inline-block;
    padding:1px 5px;
    background-color: #ff5d38;
    color:#fff;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-right: 0.4rem;
}
.tc-collect .noCollect{
    display:block;
    width: 2.5rem;
    height: 2.5rem;
    margin:auto;
    background: url(../images/tongcheng-01.png?1124)no-repeat -5.6rem -25.7rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;

}
.tc-collect .hasCollect{
    display:block;
    width: 2.5rem;
    height: 2.5rem;
    margin:auto;
    background: url(../images/tongcheng-01.png?1124)no-repeat -17.95rem -25.7rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
}
.tcCollect{
    width: 20%;
    border:none;
}
.home i{
    display: block;
    width: 2.8rem;
    height: 2.5rem;
    margin: auto;
    background: url(../images/tongcheng-01.png?112301)no-repeat -8.2rem -19.35rem;
    -webkit-background-size: 50rem;
    background-size: 50rem;
}