/* CSS Document */
body{ background:#f5f5f5; margin-bottom:5.5rem;}

.swiper-slide img{
    width:100%;}
.search{
    position: relative;
    width: 100%;
    background: #eae6e6;
    height: 4rem;
}
.search input{
    width: 33%;
    height: 3rem;
    padding: 0 4%;
    line-height: 3rem;
    margin: 0.5rem 2%;
    background: #ffffff;
    border: 0;
    outline: 0;
    border-radius: 5px;
}
.search img{
    height: 2.5rem;
    position: absolute;
    top:0.75rem;
    right:4%;
}
.boder{
    position: absolute;
    top:1.25rem;
    left: 4%;
    height: 1.5rem;

    width: 2px;
    background: #ff3333;
}
.link{
    width: 96%;
    margin: 1rem auto;
    overflow: hidden;
}
.link span{
    display: block;
    float: left;
    width: 23%;
    margin: 0 1.0%;
    height: 3.5rem;
    line-height: 3.5rem;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
}
.link span a{
    color: #fff;
}

.link span img{
    height: 2rem;
    margin: 0.8rem 0.2rem 1.2rem -0.5rem;
    vertical-align: middle;
}
.suggest{

    padding: 0 2%;

    margin: 0 auto;

    height: 3rem;

    line-height: 3rem;

    /* border:1px #ddd solid; */

    color: #757575;

    /* border-top-left-radius: 10px; */

    /* border-bottom-right-radius: 25px; */

    font-size: 1.5rem;

    /* font-weight: 600; */

    background: #FFF;

    border-bottom: 1px #f3f3f3 solid;
}
/*nav*/
nav{
    width: 100%;
    margin: 0 auto;
}
nav ul{
    width: 100%;
    margin: 0 auto;
}
nav ul li{
    width: 100%;
    background: #fff;
    border-bottom:1px #f3f3f3 solid;
}
nav ul li .top,nav ul li .bn{
    width: 96%;
    margin: 0 auto;
    padding: 1rem 0 0.5rem;
    overflow: hidden;
}

nav ul li .top .lt{
    width: 86%;
    float: left;
}
nav ul li .top .rt{
    /* width: 25%; */
    float: right;
}
nav ul li .top .lt p{
    width:100%;
}
nav ul li .top .lt p:nth-child(1){
    font-size: 1.5rem;
    color: #4c4c4c;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-family: 寰蒋闆呴粦, Arial, 瀹嬩綋;
    padding-top: 0px;
}
nav ul li .top .lt p{
    font-size: 1.3rem;
    color: #808080;
    line-height: 1.8rem;
    /* overflow: hidden; */
    /* text-overflow:ellipsis; */
    text-overflow: -o-ellipsis-lastline;
    /* display: -webkit-box; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
nav ul li .top .lt p:last-child{
    overflow:hidden;
    text-overflow:ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;
}

nav ul li .top .rt p{
    width: 100%;
    text-align: right;
    color: #4c4c4c;
    line-height: 1.8rem;

}
nav ul li .top .rt .number span{
    font-size: 2rem;
    margin-left: 0.2rem;
}
nav ul li .top .rt .number1 span{
    font-size: 1.2rem;
    color: #808080;
}

nav ul li .top .rt .number1{
    margin-top: 2.6rem;
    line-height: 1.8rem;
    font-size: 1.4rem;
}
nav ul li .top .rt .number2{
    margin-top: 0.8rem;
    line-height: 1.8rem;
    font-size: 1.4rem;
}
nav ul li .top .rt p img{
    height:2rem;
    vertical-align: middle;
    /* margin: -0.5rem 0.2rem 0 1rem; */
}


.layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
    z-index:1000;
}
.lay{
    width: 94%;
    margin: 2rem auto;
    border:1px #ddd solid;
    border-radius: 5px;
    font-size: 1.6rem;
    line-height: 4rem;
    color: #4c4c4c;
}

.lay li{
    width: 96%;
    margin: 0 auto;
    border-bottom:1px #ddd solid;
}
.lay  li:last-child{
    border:0;
}
.lay  input{
    width: 80%;
    padding-left:2%;
    border:0;
    outline: 0;
    height: 2rem;
    line-height: 2rem;
    margin: 0.9em 0;
    color: #4c4c4c;
    font-size: 1.6rem;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */

    color: #999;
}
.lay li img{
    height: 3rem;
    float: right;
    margin: 0.6rem 0;
}

.link span:nth-child(1){
    background: #ED6000;
    border-radius: 5px;
    /* border-bottom-left-radius: 5px; */
}
.link span:nth-child(2){
    background: #1289ec;
    border-radius: 5px;
}
.link span:nth-child(3){
    background: #ff6d00;
    border-radius: 5px;
}
.link span:nth-child(4){
    background: #2b9af7;
    border-radius: 5px;
    /* border-bottom-right-radius: 25px; */
}
.link span img{
    height: 1.5rem;
    /* margin: 0.8rem 0.2rem 1.2rem -0.5rem; */
    vertical-align: middle;
}
.car {
    background: url("pinche-01.png") no-repeat 0% 0% / 735%;
    width: 17px;
    height: 17px;
    margin-right: 2px;
    vertical-align: -3px;
}

.love {
    padding: 0 2px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 3px;
    font-size: 11px;

    color: #fff;
    margin-left: 5px;
}

.car-list{
    display: block;
    width: 3rem;
    height: 2rem;
    background: url(pinche-01.png?1206) no-repeat -32.5rem -0.0rem;
    background-size: 50rem;
    margin-left: 1.5rem;
}


