.juhua{display: inline-block;width: 18px;height: 18px;background: transparent;position: relative;vertical-align:middle;}
.juhua span{width: 2px;height: 4px;border-radius: 50%;background: #666;display: block;position: absolute;transform-origin:50% 8px;left: 8px;top: 0;}
@-webkit-keyframes bian{0%{opacity:0;}100%{opacity:1;}}
.juhua span:nth-child(1){-webkit-animation:bian 1s linear 0s infinite;}
.juhua span:nth-child(2){-webkit-animation:bian 1s linear 0.1s infinite;}
.juhua span:nth-child(3){-webkit-animation:bian 1s linear 0.2s infinite;}
.juhua span:nth-child(4){-webkit-animation:bian 1s linear 0.3s infinite;}
.juhua span:nth-child(5){-webkit-animation:bian 1s linear 0.4s infinite;}
.juhua span:nth-child(6){-webkit-animation:bian 1s linear 0s infinite;}
.juhua span:nth-child(7){-webkit-animation:bian 1s linear 0.1s infinite;}
.juhua span:nth-child(8){-webkit-animation:bian 1s linear 0.2s infinite;}
.juhua span:nth-child(9){-webkit-animation:bian 1s linear 0.3s infinite;}
.juhua span:nth-child(10){-webkit-animation:bian 1s linear 0.4s infinite;}


.juhua span:nth-child(1){-webkit-animation:bian 1s linear 0.5s infinite;}
.juhua span:nth-child(2){-webkit-animation:bian 1s linear 0.6s infinite;}
.juhua span:nth-child(3){-webkit-animation:bian 1s linear 0.7s infinite;}
.juhua span:nth-child(4){-webkit-animation:bian 1s linear 0.8s infinite;}
.juhua span:nth-child(5){-webkit-animation:bian 1s linear 0.9s infinite;}
