@charset "utf-8";
html{min-height:100%; font-size: 14px;}
*{margin:0;padding:0;
    -webkit-outline: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
header,footer,section,article,nav,figure,aside,canvas{display:block}
ul,li{list-style:none}
img{border:none}
a{text-decoration:none;color:#4a4a4a}
a,button,input,img,p{-webkit-touch-callout:none;-webkit-outline:none;outline:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner{border:0;padding:0}
body{font:14px/1.4 arial;color:#1a1a1a;-webkit-text-size-adjust:none;font-family:"Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei","sans-serif","Varela Round", "sans-serif" !important;background:#f3f7fa; }
em, i {font-style: normal;font-weight: normal;}
@-webkit-keyframes an_wx_mask{0%{opacity:.8;}100%{opacity:1;}}
@-webkit-keyframes an_wx_confirm{0%{-webkit-transform:scale(1.1);}100%{-webkit-transform:scale(1);}}
.mb10{ margin-bottom:5px;}
.p10 {
    padding: .8rem 0;
}
.blue-color {
    color: #00d7f6;
}
.p5 {
    margin: .4rem;
}
.title-sty {
    color: #c1c1c1;
}
.title-ff7c3c {
    color: #8a8a8a;
}
.light-gray {
    color: #bbc1cc;
}
.main {
    max-width: 750px;
    margin: 0 auto;
}
.no-bg {
    background: 0;
}
.text-center {
    text-align: center;
}
.clear {
    clear: both;
}
.white-color {
    color: #fff;
}
.white-bg {
    background: #fff;
}
@media screen and (max-width:768px){html{font-size:22px}}
@media screen and (max-width:640px){html{font-size:22px}}
@media screen and (max-width:580px){html{font-size:22px}}
@media screen and (max-width:540px){html{font-size:20px}}
@media screen and (max-width:480px){html{font-size:18px}}
@media screen and (max-width:414px){html{font-size:16px}}
@media screen and (max-width:375px){html{font-size:14px}}
@media screen and (max-width:360px){html{font-size:.84em}}
@media screen and (max-width:320px){html{font-size:12px}}
.borderD3 {border-bottom:1px solid #dfdfdf;transform: scaleY(0.5);-webkit-transform: scaleY(0.5)}
.borderD{border-bottom:1px solid #e6efff;transform: scaleY(0.5);-webkit-transform: scaleY(0.5)}
.borderT{border-bottom:1px solid #e9ebf2;transform: scaleY(0.5);-webkit-transform: scaleY(0.5)}
.borderS{border-bottom:1px solid #e9ebf2;transform: scaleY(0.5);-webkit-transform: scaleY(0.5)}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#ddd;
    font-size: .9em;
}
.borderR {
    border-right: 1px solid #e9ebf2;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.borderR2 {
    border-right: 1px solid #eee;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;

}
.gray-color {
    color: #bbc1cc;
}
.text-right {
    text-align: right;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ddd;
    font-size: .9em;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ddd;
    font-size: .9em;
}
::-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#ddd;
    font-size: .9em;
}
input[type="button"],button {
    -webkit-appearance:none;
}
.height-space {
    height: 5px;
    background: #f3f7fa;
}
.height-space2 {
    height: 10px;
    background: #f3f7fa;
}
.wx_confirm {
    position: fixed;
    left: 0;
    right: 0;
    top: 18%;
    z-index: 12000;
    margin: 0 auto;
    max-width: 24rem;
    z-index: 2222222;
}