body {
    max-width: 750px;
    margin: 0 auto;
}
.channel-nav{display:block;line-height:3.2rem;background: #ff5d38;text-align:center;position: relative;}
.channel-nav ul>li {
    display: inline-block;
}
.channel-nav ul>li>a {
    font-size: .9rem;
    color: #fff;

}
.rechargeother,.rechargeother2 {
    color: #00dbf5;
}
.channel-nav ul>li.active {
    /*color: #333;*/
    color: #fff;
    font-size: 1.5rem;
}
.normal_tab {
    float: right;
    position: absolute;
    right: 1rem;
}
.yue_block,.recharge-block {
    padding: 1.5rem 0;
    text-align: center;
}
.yue_block span.money {
    color: #ff435e;
    font-size: 1.8rem;
}
.recharge-block {
    padding: 1.2rem 0;
}
.yue_block span {
    color: #3e3e3e;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.px {
    background: #f5f5f5;
    width: 94%;
    margin: 0 auto;
    height: 2rem;
    padding: .5rem 0;
    line-height: 2rem;
    color: #bbc1cc;
    border-radius: 6px;
    border: 0;
    text-indent: 1rem;
    font-size: 1.1rem;
}
.chongzhi-btn {
    background: #ff5d38;
    text-align: center;
    line-height: 3.4rem;
    height: 3.4rem;
    color: #fff;
    display: block;
    width: 94%;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 1.8rem;
    border: 0;
}
.other-people {
    color: #00dbf5;
    text-align: center;
    text-decoration: underline;
}
.heart-img {
    height: .7rem;
    width: 1rem;
    display: inline-block;
    margin-right: .4rem;
}
.wx_confirm_tit {
    background: rgba(0,0,0,.8);
    text-align: center;
    color: #fff;
    line-height: 3rem;
    border-radius: 6px;
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
}
.gray-btn {
    background: #bbb;
}
.recharge-info {
    padding: 0 4%;

}
.recharge-info div.recharge-div {
    padding: 1.2rem 4%;
    font-size: 1.2rem;
    display: table;
    vertical-align: middle;
    position: relative;
    border-radius: 4px;
    height: 3.5rem;
    box-shadow: 0 0 0 1px #e5eeff;
    width: 92%;
}
.borderL {
    position: absolute;
    left: 50%;
    height: 80%;
    border-left: 1px solid #e6efff;
    top: 10%;

}
.recharge-info div.recharge-div span {
    font-size: .9rem;
}
.recharge-info div.recharge-div b {
    color: #ff435e;
    font-weight: normal;
}
.leftblock {
    width: 55%;
    display: table-cell;
    vertical-align: middle;
    color: #535963;
}
.rightblock {
    display: table-cell;
    vertical-align: middle;
    font-size: .9rem;
    color: #535963;
    line-height: 1.2rem;
}
.moneyspan {
    display: inline-block;
    float: left;
    /*padding: 1rem;*/
    width: 28%;
    /*margin-top: 3%;*/
    box-shadow: 0 0 0 1px #e5eeff;
    border-radius: 6px;
    margin: 3% 0 1% 4%;

}
.moneyspan2 {
    width: 28%;
    box-shadow: 0 0 0 1px #e5eeff;
    border-radius: 6px;
    margin: 3% 0 1% 4%;
    display: inline-block;
    float: left;
}
.moneyspan span,.moneyspan2 span {
    display: block;
    /*width: %;*/
    /*margin: 0 1rem;*/
    text-align: center;
    padding: .4rem 0;
    color: #535963;
    /*border: 1px solid #e5eeff;*/
    font-size: 1.5rem;
}

.givemoney {
    font-size: .9rem;
    color: #bbc1cc;
}
.charge_money {
    background: #fff;
    text-align: center;
    height: 3rem;
    padding: .5rem;
    line-height: 3rem;
    border-radius: 4px;
    margin-left: 4%;
    font-size: 1.5rem;
    border: 0;
    width: 92%;
    margin-bottom: 2rem;
}
.recharge-info div.recharge-div.tab-current2 {
    box-shadow: 0 0 0 1px #00dbf5;
}
.tab-current {
    box-shadow: 0 0 0 1px #ff5d38;
    border-radius: 4px;
}
.tab-current span,.tab-current span .givemoney {
    color: #ff5d38;
}
.mobile-other {
    font-size: 1.1rem;
    text-align: center;
}
/*闂傚倷绀侀幉锟犳晪濠碘槅鍋呴〃澶愬Φ閹版澘绀堝ù锝囨嚀椤庢盯姊洪崫鍕垫Ъ婵炲娲滅划鏃堟晸閿燂拷*/
.history-info {
    padding: .5rem 1rem .5rem 2rem;
    color: #535963;
}
.pull-right {
    float: right;
}
.light-gray {
    font-size: .9rem;
}
.wx_confirm2{
    position:fixed;left:0;right:0;
    top: 50%;

    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    z-index: 11111;margin: 0 10%;}
.wx_mask{background-color:rgba(0,0,0,0.7);position:fixed;top:0;bottom:0;left:0;right:0;z-index:1111;-webkit-animation:an_wx_mask .25s ease-in}

@-webkit-keyframes an_wx_mask{0%{opacity:.8;}100%{opacity:1;}}
@-webkit-keyframes an_wx_confirm{0%{-webkit-transform:scale(1.1);}100%{-webkit-transform:scale(1);}}
.wx_confirm{position:fixed;left:0;right:0;top:22%;z-index:1200; margin: 0 6%;}
.wx_confirm_inner{background-color:#fff;margin:0 auto;-webkit-animation:an_wx_confirm .25s ease-in; border-radius: 4px;position: relative; z-index: 1; text-align: center;}

.no-history {
    background: #fff;
    text-align: center;
    line-height: 3rem;
}
.logout-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -o-box;
    display: box;

    position: relative;
}
.logout-btn button {
    display: block;
    background:0;border:0;border-radius: 4px;
    line-height:2.2em;
    height:2.2em;
    text-align:center;
    font-size:1.1em;
    margin: 2px 0;
    width: 42%;display: block;color: #8a8a8a;
    -webkit-box-flex:1;
    -webkit-outline: 0;
    outline: 0;

}
.warm-tip {
    text-align: center;
    padding: 15px 0;
    font-size: 1.2rem;
}
.warm-tip p {
    font-size: .9em;
    padding: 10px 0;
    color: #8a8a8a;
}

.logout-btn button.btn-ok {
    color: #1db7fe;
    border-left: 1px solid #eee;

}


.comment-img {
    /*padding-bottom: 10px;*/
    padding-top: 10px;
}
.wx_confirm2{
    position:fixed;left:0;right:0;
    top: 50%;

    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    z-index: 11111;margin: 0 10%;
}

@-webkit-keyframes an_wx_mask{0%{opacity:.8;}100%{opacity:1;}}
@-webkit-keyframes an_wx_confirm{0%{-webkit-transform:scale(1.1);}100%{-webkit-transform:scale(1);}}
.borderT {
    position: absolute;
    width: 100%;
}

.toplink{ position:relative; z-index:4;}
.toplink .con{/* width:90%; */padding: 0.5rem 5% 0.1rem 5%;height: 3.2rem;background: #ff5d38;overflow:hidden;/* margin-bottom: 0.5rem; */}
.toplink a{ display:block;}
.toplink .back{float:left;width:5%;}
.toplink .back img{height: 1.8em;}
.toplink .home{ float:right; width:9%;}
.toplink h2{width:80%;float:left;text-align:center;color:#fff;font-size: 1.2em;margin-top: 0.1em;font-weight: bold;}
.toplink h2.ind{width: 90%;padding-left:5%;}
.toplink a img{ height:1.2em}

.toplink .m_banner {
    padding-top: 3px;
    margin-top: 5px;
    text-align:center;
    float:center;
}
.toplink .m_banner img {
    width:100%;
    min-height:10rem;
}