@charset "utf-8";

/*底部导航开始*/
.tc-footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;}

.tc-footer ul{
    position: relative;
    margin: 0 auto;
    height: 5rem;
    background: #f8f8f8;}

.tc-footer ul:before {
    content: " ";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dddddd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);}

.tc-footer ul li{
    width: 25%;
    text-align: center;
    display: inline-block;
    float: left;
    color: #929292;
    height: 5rem;}

.tc-footer ul li a{
    padding-top: 0.4rem;
    display: block;
    height: 5rem;
    box-sizing:border-box;}

.tc-footer ul li i{
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    margin: 0 auto;
    margin-bottom: 0.2rem;
    position: relative;}

.tc-footer ul li:first-child i{
    display: block;
    width: 2.8rem;
    height: 2.6rem;
    margin: 0 auto;
    margin-bottom: 0.2rem;
    position: relative;}
.tc-footer ul li span{
    font-size: 1rem;
    line-height: 1rem;
    color: #999;}

.tc-footer ul li .active span{color: #ff6356;}

.icon-footer-index i{
    width: 2.8rem;
    background: url(../images/tongcheng-01.png?1124) no-repeat -8.2rem -19.35rem;
    background-size: 50rem;
}

.icon-footer-index .active i{
    background: url(../images/tongcheng-01.png?1124) no-repeat -8.2rem -22.8rem;
    background-size: 50rem;
}

.icon-footer-community i{
    background: url(../images/tongcheng-01.png?11241) no-repeat -31.7rem -19.35rem;
    background-size: 50rem;}

.icon-footer-community .active i{
    background: url(../images/tongcheng-01.png?1124) no-repeat -28rem -22.8rem;
    background-size: 50rem;
}

.icon-footer-announce i{
    background: url(../images/tongcheng-01.png?1124) no-repeat -14.35rem -19.35rem;
    background-size: 50rem;
}

.icon-footer-announce .active i{
    background: url(../images/tongcheng-01.png?1124) no-repeat -14.35rem -22.8rem;
    background-size: 50rem;
}

.icon-footer-me i{
    background: url(../images/tongcheng-01.png?1124) no-repeat -17.4rem -19.35rem;
    background-size: 50rem;
}

.icon-footer-me .active i{
    background: url(../images/tongcheng-01.png?1124) no-repeat -17.4rem -22.8rem;
    background-size: 50rem;
}

.alert-red-dot{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    display: inline-block;
    background: #ff6356;
    line-height: 1.6rem;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

.alert-red-dot-ellipsis{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    display: inline-block;
    background: #ff6356 url(../images/tongcheng-01.png?1124) no-repeat -11.2rem -3.7rem;
    background-size: 50rem;
    color: #fff;
}
/*底部导航结束*/

/*详情底部导航开始*/
.tc-detail-footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #ff6356;
    z-index:100;
}

.tc-detail-bottom-nav{
    background: #ff6356;
    height: 5rem;
    padding: 0 15px;
}


.tc-detail-bottom-nav .zan-bt{
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
    background: url(../images/tongcheng-01.png?1124) no-repeat -5.6rem -5.6rem;
    background-size: 50rem;
}


.tc-detail-bottom-nav .focus-bt{
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
    background: url(../images/tongcheng-01.png?1124) no-repeat -8.4rem -5.6rem;
    background-size: 50rem;
    margin: 0 20px 0 0;
}

.tc-detail-bottom-nav .focused-bt{
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
    background: url(../images/tongcheng-01.png?1124) no-repeat -13.5rem -9.3rem;
    background-size: 50rem;
    margin: 0 20px 0 0;
}

.phone-bt{
    color: #fff;
    float: right;
    font-size: 1.8rem;}

.tc-detail-price{
    font-size: 1.6rem;
    color: #ff6600;
    float: left;
}

.tc-detail-time{
    float: right;
    color: #999;
    font-size: 1.1rem;}

/*详情底部导航结束*/

/*店铺底部导航开始*/
.tc-shop-footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.tc-shop-footer ul{
    margin: 0 auto;
    height: 5rem;
    background: #ff6356;}

.tc-shop-footer ul li{
    width: 50%;
    text-align: center;
    display: inline-block;
    float: left;}

.tc-shop-footer ul li a{
    display: block;
    height: 5rem;
    line-height: 5rem;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.8rem;}

.b-left-right{
    border-left: 1px solid #da574c;
    border-right: 1px solid #da574c;
}

/*店铺底部导航结束*/

/*个人中心我的发布底部导航开始*/
.tc-pc-announcement{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;}

.tc-pc-announcement ul{
    position: relative;
    margin: 0 auto;
    height: 5rem;
    background: #fff;
    padding: 0 15px;}

.tc-pc-announcement ul:before {
    content: " ";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dddddd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.tc-pc-announcement ul a{
    color: #ff6356;
    font-size: 1.8rem;
    line-height: 5rem;
}

/*同城首页选择栏开始*/
.tc-index-title{
    margin-top: 10px;
    background: #fff;
    height: 3.5rem;
    position: relative;
}

.tc-index-title:after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.tc-index-title li{
    width: 33.33%;
    float: left;
}

.tc-index-title li a{
    color: #999;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    display: block;
    box-sizing: border-box;
    font-size: 1.4rem;
}

.tc-index-title li .active{
    border-bottom: 1px solid #ff6356;
    color: #ff6356;
}

/*同城首页选择栏结束*/

/*返回按钮开始*/
.icon-tc-back{
    height: 3.5rem;
    width: 3.5rem;
    display: block;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    background: rgba(0,0,0,.5);
}

.white-arrow-left{
    content: " ";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-width: 1px 1px 0 0;
    border-color: #fff;
    border-style: solid;
    transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    margin: 1.2rem 0 0 1.4rem;
}


/*返回按钮结束*/