body,html {
	height:100%;
	-webkit-tap-highlight-color:transparent;
}
li {
	list-style-type:none;
}
.clear{clear:both;}
/******************图片翻页******************/
.cinfo_menu,.info_list,.zx_list {
	background: #ffffff;
}
.cinfo_menu {
	padding-top: 0px;
	margin-bottom: 0px;
}

.cinfo_menu li {
	float: left;
	width: 25%;
	text-align: center;
	font-size: 14px;
	margin-top:5px;
}

.cinfo_menu li i,.cinfo_menu li span {
	width: 55px;
	height: 55px;
	margin: 0 auto 5px;
	display: block;
	background-size: 55px auto;
	background-repeat: no-repeat;
	background-position: center;
}
.pic_list{width:40px;}
.right{float:right}
.f-red {
	color: #ef4f4f !important
}

.f-green {
	color: #04be02 !important
}

.f-blue {
	color: #18b4ed !important
}

.f-black {
	color: #000000 !important
}
.f-fei {
	color: #aba9a9 !important
}
