.job_search {
	padding: 5px 10px;
	margin-bottom: 5px;
	background: #ffffff;
}

.job_search .sbox {
	border: 1px solid #999999;
	position: relative;
	z-index: 1;
}

.job_search input[type='text'] {
	width: 100%;
	height: 36px;
	line-height: 36px;
	padding: 0 0 0 10px;
	font-size: 15px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 none;
	outline: 0;
}

.job_search button {
	position: absolute;
	width: 44px;
	height: 28px;
	text-indent: -999px;
	overflow: hidden;
	background: url(../img/tel/fangdaj.png) no-repeat;
	background-size: 37px 30px;
	border: 0 none;
	outline: 0;
	border-left: 1px solid #999999;
	top: 5px;
	right: 0;
}
.info_list {
	background: #eeeeee;
}

.info_list li {
	zoom: 1;
	overflow: hidden;
	font-size: 12px;
	padding: 10px;
	position: relative;
	margin-bottom: 6px;
	background: #ffffff;
}

.info_list li:last-child {
}

.info_list .pageNav2 {
	border-top: 1px solid #eeeeee;
	background: #ffffff;
}

.info_list .pic {
	width: 60px;
	overflow: hidden;
	float: left;
	border: 1px solid #eeeeee;
}

.info_list .pic img {
	height: 60px;
}

.info_list .con {
	padding-left: 5px;
	font-size: 12px;
}

.info_list h3 {
	font-size: 16px;
	line-height: 20px;
	color: #333;
	font-weight: normal;
}

.info_list p {
	margin-top: 4px;
	color: #999999;
	line-height: 17px;
}

.info_list .tel {
	width: 45px;
	height: 45px;
	top: 100%;
	right: 10px;
	margin-top: -65px;
	background: url(../img/tel/tel.png) no-repeat;
	position: absolute;
	background-size: 45px auto;
	text-indent: -999px;
	overflow: hidden;
}
.info_list .erweima {
	width: 40px;
	height: 40px;
	top: 100%;
	right: 70px;
	margin-top: -65px;
	background: url(../img/tel/erweima.png) no-repeat;
	position: absolute;
	background-size: 40px auto;
	text-indent: -999px;
	overflow: hidden;
}
.o_main {
	zoom: 1;
	overflow: hidden;
}

.cinfo_menu li i img {
	width: 80%;
	margin-top: 3px;
}

.cinfo_menu a {
	color: #333333;
}

.row5 li {
	width: 20%!important;
}
.ui-item {
	margin: 5px 5px 13px
}

.ui-item .item-title {
	background: rgba(0,0,0,.05);
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	height: 42px;
	overflow: hidden;
	padding: 0 15px 0 10px;
	position: relative;
	z-index: 9
}

.ui-item .item-title h3 {
	float: left;
	font-size: 18px;
	font-weight: 400;
	line-height: 41px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%
}

.ui-item .item-title .mod-arrow {
	float: right;
	opacity: .3
}

.ui-item .item-title .arrow-up {
	margin-top: 10px;
	transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg)
}

.ui-item .item-title .arrow-down {
	margin-top: 10px
}

.ui-item .cont-area {
	font-size: 14px;
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #d2d2d2;
	border-radius: 0 0 3px 3px;
	line-height: 1.6em;
	margin-top: -1px;
	padding: 12px 10px 10px;
	position: relative;
	word-break: break-all;
	word-wrap: break-word;
	z-index: 8
}

.ui-item .cont-area p {
	margin: 5px
}
.bg_zhiding {
	
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	padding: 0 4px;
	margin-left: 5px;
}