@charset "utf-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,table,td,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,th,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,textarea,input{margin:0;padding:0;border:0;outline:none 0;vertical-align:baseline;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{vertical-align:baseline;text-decoration: none;color:#333; background: transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select,img{vertical-align:middle;}
button, input, select, textarea { font-family: inherit; font-size: 100%;}
/* a,img { -webkit-touch-callout: none;}*/
strong,b { font-weight: bold;}
i,em { font-style: normal;}
ul,ol,li,dl,dt,dd { list-style-type: none;}
img{height:auto; border:none;}
html {height:100%;font-family:"Microsoft YaHei","Helvetica","Helvetica Neue"; font-size: 625%;  line-height: 1.5; color: #444; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
body{min-height:100%; max-width:640px; margin:0 auto; font-size: .14rem color:#333;}
body.fixedCss{ position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.newFooter.fixedCss{ position:absolute; bottom:0; left:0; width:100%;}
/* 清除浮动 */
.clearfix:before,.clearfix:after {display: table;content:'';}
.clearfix:after { clear: both; }
.clearfix { *zoom:1;}
q:before,q:after{content: ""}
.clear { clear:both;}

/* 省略号 */
.ellipsis{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.pic_100{width:100%;}
.pic_100 img{width:100%;}
/*重置*/
input,select,textarea{-webkit-appearance:none;outline:none;}
input[type='checkbox']{ -webkit-appearance:checkbox;}
input[type='radio']{ -webkit-appearance:radio;}
:-moz-placeholder { color: #c8c8c8;} 
::-webkit-input-placeholder { color:#c8c8c8;}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none;appearance: none;-moz-appearance:none;margin: 0;}
input[type="number"]::-moz-outer-spin-button,input[type="number"]::-moz-inner-spin-button{-webkit-appearance: none;appearance: none;-moz-appearance:none;margin: 0;}
input[type="number"]::outer-spin-button,input[type="number"]::inner-spin-button{-webkit-appearance: none;appearance: none;-moz-appearance:none;margin: 0;}
input::-webkit-search-cancel-button {display: none;}
input::search-cancel-button {display: none;}
input::-moz-search-cancel-button {display: none;}
.bg_white{background:#fff;}
.v2_tuan,.pd0{padding:0;}
h2.active_name_new {
  font-size: .18rem;
  font-weight: 600;
  padding: .1rem .12rem .1rem .12rem;
  line-height: 120%;
  color: #333;
  border-bottom: 1px solid #eee;
}
.tg_address_new{
    color:#999999;
    padding: .1rem .24rem .1rem .34rem;
    border-bottom: 1px solid #eee;
    position: relative; 
    font-size:.13rem ;
}
.tg_time_new:before,
.tg_address_new:before{
    position: absolute;
    content: '';
    top: .1rem;
    left: .06rem;
    width: .16rem;
    height: .16rem;
    background: url("../img/tuan/new_icons.png") no-repeat 0 0;
    background-size:.24rem auto ;
    background-position:0 -.01rem;
}
.tg_time_new{
    color:#999999;
    padding: .1rem .24rem .1rem .34rem;
    position: relative; 
    border-bottom: 1px solid #eee;
    font-size:.13rem ;
}
.tg_time_new:before{
    background-position:0 -.17rem;
    height: .15rem !important;
}
.tg_time_new .tg_num{
    color:#333;
    border-left: 1px solid #eee;
    padding-left:.36rem;
    position: relative; 
    width: 49%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:.13rem ;
}
.tg_time_new .tg_num:before{
   content: '';
  position: absolute;
  top: .0rem;
  left: .06rem;
  width: .24rem;
  height: .23rem;
  background: url("../img/tuan/new_icons.png") no-repeat 0 0;
  background-size: .24rem auto;
  background-position: 0 -.32rem;
}
.header-apply{ position:relative; z-index:12; background:#fff;}
.header-apply .apply-form{ padding:.1rem .1rem .1rem;margin:0 auto;text-align:center;/*width:2.3rem;*/}
.header-apply .title{ padding:.04rem 0; text-align:right; line-height:.12rem; font-size:.12rem; color:#666;margin-bottom:.05rem;}
.header-apply .title .tit{ display:inline-block; width:.71rem; height:.2rem; margin-right:.03rem; background:url(../img/tuan/header-title.png) 0 0 no-repeat; background-size:100%; vertical-align:bottom;}
.header-apply .title .num-box{ margin-left:.08rem; color:#8d8d8d; font-size:14px;}
.header-apply .title .num{ color:#f24;}
.header-apply .input-box{ /*float:left;*/ display:block; width:100%; height:.4rem; line-height:.3rem; margin-right:.08rem;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius:.04rem; background:#ffeef1; padding:.05rem 0;}
.header-apply .form-input{ display:block; width:100%; line-height:.3rem; padding-left:.08rem; font-size:.13rem; background:transparent;}
.header-apply .form-btn{ display:block; width:100%; height:.4rem; line-height:.4rem; margin-top:.1rem; text-align:center; color:#fff; font-size:.16rem; overflow:hidden; border-radius:.04rem; background:#f24;}
.header-apply .time,.header-apply .address{ padding-left:.03rem; text-align:left; line-height: .18rem; font-size:.15rem; color:#666;}
.header-apply .time{ margin-top:.15rem;}
.header-apply .address{ margin-top:.08rem;}
.header-apply .time .icon,.header-apply .address .icon{display: inline-block;width: .2rem; height: .2rem;margin-right: .05rem;  vertical-align: top; background:url(../img/tuan/my-icons.png) 0 0 no-repeat; background-size: .2rem;}
.header-apply .time .icon{ background-position:0 16.67%;}
.header-apply.footer{ position:relative; z-index:4; margin-top:.1rem;}
.modifyStyle.header-apply .form-btn{ width:100%;}

/*活动亮点*/
.activity-section{ padding:.05rem;}
.activity-section .title,.kfBox .title,.list-wrap .title,.brand-section .title,.address-section > .title,.review-section .title{ position:relative; margin:-.05rem -.05rem 0 -.05rem; padding:0 .18rem; line-height:.38rem; font-size:14px;  font-weight:bold; background:#f0f0f0;}
.list-wrap .title{ margin:-.08rem -.08rem 0 -.08rem;}
.brand-section .title,.address-section > .title,.review-section .title{ margin:0;}
.activity-section .title::before,.kfBox .title::before,.list-wrap .title::before,.brand-section .title::before,.address-section > .title::before,.review-section .title::before{ content:''; position:absolute; top:.1rem; bottom:.1rem; left:.1rem; width:2px; background:#f24;}
.activity-section .tit{ line-height:.2rem; font-size:.084rem; color:#fff; text-align:center; background:#999;}
.activity-section .tit2{ line-height:.2rem; font-size:.084rem; text-align:center; background:#cbcbcb;}
.activity-section .list-ul{ margin-top:2px; margin-bottom:2px;}
.activity-section .list-li{ float:left; width:25%;}
.activity-section .list-li .txt{ display:block; margin-right:2px; line-height:.18rem; text-align:center; color:#666;font-size:.084rem; border-top:0 none;}
.activity-section .list-li:nth-child(4n) .txt{ margin-right:0;}
.activity-section .list-li.head .txt{ font-weight:bold; border-top:1px solid #d7d7d7;}
/*底部导航*/
.footer-fixed{ position:fixed; left:50%; bottom:0; width:100%; max-width:640px; height:.43rem; line-height:.43rem;z-index:9; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);border-top:1px solid #f1efef;}
/*.footer-fixed .list-ul{ border-top:1px solid #aaa; border-left:1px solid #aaa;}*/
.footer-fixed .list-li{ float:left; width:20%; text-align:center; font-size:.12rem; background:#fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.footer-fixed .list-li a{ position:relative; display:block; }
.footer-fixed .list-li a::after{ content:''; position:absolute; right:0; top:50%; height:.2rem; width:1px; margin-top:-.1rem; background:#e2e2e2;}
.footer-fixed .list-li:last-of-type a::after,.footer-fixed .list-li.active a::after{ display:none;}
.footer-fixed .list-li.active a{ color:#fff;}
.footer-fixed.shanghai .list-li{ width:25%;}
.footer-fixed.lhd .list-li{ width:16.66%;}
.footer-fixed .list-ul.tg-list-ul{display:flex;display:-webkit-box;display:-moz-box;display:flex;}
.footer-fixed .list-ul.tg-list-ul .list-li{float:none;flex:1;-webkit-flex:1;flex-box:1;-webkit-box-flex:1;-moz-box-flex:1; flex:1;}
.pinpai_list{width:100%;clear:both;}
.pinpai_list ul {width:100%;float:left;padding-top:5px;}
.pinpai_list ul li {width:49%;float:left;margin-right:1%;margin-bottom:4px;}
.pinpai_list ul li img{width:100%;float:left;}
.user-right-panel {
width:100%;
background-color: #fff;
padding-bottom:5px;
}

.user-right-panel ul {
  width: 100%;
}

.user-right-panel ul img {
  width: 100%;
}

.user-right-panel ul li {
  box-sizing: border-box;
  width:100%;
}
.user-right-panel .item1{
  padding-left: 0.7rem;
  padding-right: 0.06rem;
  width: 98%;
  margin-left:1%;
  padding-top:10px;
  padding-bottom:15px;
}

.user-right-panel .item-title {
  font-size: 0.17rem;
  margin-bottom: 0.01rem;
}

.user-right-panel .item-desc {
  font-size: 0.14rem;
  line-height: 1.5;
  height:40px;overflow:hidden;
}



.user-right-panel .item1 .item-title {
  color: #fff;
}

.user-right-panel .item1 .item-desc {
  color: #fff;
}
.showall {
    display: inline-block;
    border-style: solid;
    border-color: #c2c2c2 transparent transparent #c2c2c2;
    border-width: .02rem 0 0 .02rem;
    width: .06rem;
    height: .06rem;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    vertical-align: middle;
    position: absolute;
    right: 1%;
    top: 50%;
    margin-top: -.06rem
}



.user-right-panel .item1 .item-title {
  color: #fff;
}

.user-right-panel .item1 .item-desc {
  color: #fff;
}
.can-i-do ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;background-color:#fff;padding:.15rem 0;margin-top:.09rem;}
.can-i-do ul li{font-size:0;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align:center;}
.can-i-do ul li .icon{display:inline-block;width:.42rem;height:.43rem;background:url(../img/tuan/zx-adviser-nav.png) no-repeat;background-size:100%;}
.can-i-do ul li .icon-gjzx{background-position:0 25%;}
.can-i-do ul li .icon-yhtx{background-position:0 50%;}
.can-i-do ul li .icon-ptxc{background-position:0 75%;}
.can-i-do ul li p{color:#666;font-size:.11rem;padding-top:.054rem;}
.zx-adviser{background-color: #f9f6f6;}
.zx-adviser .main-title{margin-bottom:.1rem;}
.main-title{font-size:.15rem;color:#333;padding-left:3.7%;position:relative;margin-top:.1rem;}
.main-title:before{content:'';display:inline-block;height:100%;width:.05rem;position:absolute;left:0;top:0;}
.zx-adviser .main-title{margin-bottom:.25rem;}
.zx-adviser .adviser-con{padding:0 3.7%;}
.zx-adviser .zx-adviser-item{width:100%;background-color:#fff;border-radius:4px;padding:.0rem 0;position:relative;margin-bottom:20px;margin-top:20px;}
.zx-adviser .zx-adviser-item .adviser-intro{padding-left:26.5%;font-size:0;}
.zx-adviser .zx-adviser-item .adviser-intro .adviser-name{font-size:.17rem;color:#333;padding-top:5px;max-width:90%;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;float:left;}
.zx-adviser .zx-adviser-item .adviser-intro .serve-num{color:#666;font-size:.089rem;background-color:#eee;border-radius:15px;padding:.02rem .1rem;margin-left:.1rem;float:left;}
.zx-adviser .zx-adviser-item .adviser-intro .adviser-star{font-size:0;padding-top:.05rem;}
.zx-adviser .zx-adviser-item .adviser-intro .adviser-star i{display:inline-block;width:.131rem;height:.124rem;background:url(http://mued3.jia.com/image/mobile/activity/rate-star-tags.png) no-repeat;background-size:100%;margin-right:.03rem;}
.zx-adviser .zx-adviser-item .adviser-intro .adviser-star i.on{background:url(http://mued3.jia.com/image/mobile/activity/rate-star-tags.png) no-repeat;background-size:100%;background-position:0 100%;}
.zx-adviser .zx-adviser-item .adviser-img{width:21%;padding-top:21%;position:absolute;left:.078rem;top:-.11rem;border:3px solid #fff;border-radius:100%;}
.zx-adviser .zx-adviser-item .adviser-img img{position:absolute;width:100%;height:100%;top:0;bottom:0;left:0;right:0;border-radius:100%;}
.zx-adviser .zx-adviser-item .talk-about{font-size:.124rem;color:#fff;background-color:#dd0000;border-radius:15px 0 0 15px;position:absolute;right:0;top:.104rem;padding:.06rem .07rem;}
.zx-adviser .zx-adviser-item .adviser-skill{font-size:.12rem;color:#666;padding:.2rem .119rem 0;line-height:.22rem;margin-top:5px;height:auto;overflow:hidden;padding-bottom:5px;}
.w98{width:100%;margin-left:1%;}