body {
    font: 14px/1.14 "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    /*background: url(../images/loading.gif) no-repeat 50% 100px;*/
    margin-bottom: 10px !important;
}
textarea, input, button, select, keygen, legend {
    color: #fff;
    outline: 0;
}
* {
    margin: 0;
    padding: 0
}
a{
    text-decoration: underline
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
a:active{
    text-decoration:none;
}
a, button, input {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0
}
/*--------------------------
 模块：关注我们
---------------------------*/
.subscribe{
    position: fixed;
    top: 0px;
    z-index: 1003;
    background-color: rgba(85, 148, 80, 0.8);
    height: 46px;
    width:100%;
    margin:0px auto;
}
.s_avatar{
    position: fixed;
    width: 38px;
    height: 38px;
    margin-top: 5px;
    margin-left: 2px;
}
.s_avatar img {
    width: 38px;
    height: 38px;
    border-radius: 70px;
}
.s_content{
    margin-left: 45px;
    margin-right: 70px;
    line-height: 22px;
}
.s_btn{
    position: absolute;
    top: 0px;
    right: 5px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    background-color: #FF0000;
    height: 26px;
    line-height: 26px;
    padding: 0px 5px;
    border-radius: 5px;
}
/*--------------------------
 模块：地图导航
---------------------------*/
.map{
    float: left; height:250px; width:100%;
    /*margin-top:30px;*/
}
.map-btn {
    position: absolute; color:#333;
    z-index: 1003;
    right: 10px; bottom:60px;
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 30px;
    line-height: 30px;
    border: 1px solid RGBA(0,0,0,.4);
    border-radius: 8px;
    background: #FFF;
}
.map-close-img {
    position: fixed !important;
    left: 0px;
    top: 0px;
    z-index: 1003;
    height: 50px;
    width: 50px;
    display: none;
    cursor: pointer;
}
.allmap{
    height: 250px; overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;
}
.bus-guide-img {
    position: fixed !important;
    right : 17px;
    top: 20px;
    z-index: 1003;
    height: 50px;
    width: 50px;
    display: none;
    cursor: pointer;
}
.self-guide-img {
    position: fixed !important;
    right : 17px;
    top: 85px;
    z-index: 1003;
    height: 50px;
    width: 50px;
    display: none;
    cursor: pointer;
}
.open-road {
    left: 0px;
    bottom: 0px;
    text-align: center;
    height: 55px;
    vertical-align: middle;
    line-height: 55px;
    background-color: #FFFFFF;
    opacity: 0.9;
    z-index: 1003;
    position: fixed !important;
    display: none;
    width: 100%;
}
.open-road-btn {
    display: inline-block;
    left: 0px;
    width: 175px;
    height: 38px;
    line-height: 38px;
    border: none;
    margin-top: 8px;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(255, 122, 0);
    border-radius: 6px;
    cursor: pointer;
}
.itude-div {
    width: 100%;
    height: 100%;
}
.itude-parent-div {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1002;
    display: none;
}
/*--------------------------
 模块：留言
---------------------------*/
.v_message {
    width: 95%;
    margin-left: 10px;
    padding-bottom: 5px;
    -webkit-border-radius: 5px;
    float: left;
    background-color: #EBA443;
}
.v_message .title {
    text-align: center;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}
.v_message p{
    width:90%; float:left;margin: 0px 0px 0px 20px; padding-top:10px;padding-left: 10px;
    padding-right: 5px;
}
.v_message p input{
    width:90%;height:30px;
    border:solid 1px #ccc;padding:5px; color:#000;-webkit-appearance: none;}
.v_message p textarea{
    width:90%;height:80px;
    border:solid 1px #ccc;padding:5px; color:#000; margin-bottom:10px;-webkit-appearance: none;}

.v_controls{
    background-color: #FFF;padding-top: 5px;padding-bottom: 15px;
}
.v_submit{background-color: #EBA443;color:#fff;border:none; cursor:pointer;display:block;width:150px;height:32px;text-align:center;font:15px/32px "微软雅黑";margin:0 auto;border-radius:5px;-webkit-appearance: none;}
/*--------------------------
 模块：名片二维码
---------------------------*/
.qrcode_icon{ width:32px; height:32px; display:block; position:fixed; top:20px; right:20px; z-index:1002}
.qrcode_icon img{ width:32px; border-radius:5px;}
.showqrcode{ display:none; height:100%; width:100%; background:rgba(0,0,0,.8); position:fixed; top:0; left:0; z-index:1003; text-align:center; color:#fff;}
.showqrcode .qrimg li{ display:none;color:#fff;}
.showqrcode .qrimg{ margin:35px 0; text-align:center;}
.showqrcode .qrimg p{ line-height:30px; font-size:20px; margin-bottom:20px; }
.showqrcode .qrtab {margin-top:35px;overflow:hidden;}
.showqrcode .qrtab li{ width:50%; float:left; height:30px; text-align:center; line-height:30px; color:#fff; font-size:16px}
.showqrcode .qrtab li.cur{ color:#05c19b}
.showqrcode .closeqr{ margin:30px 10% 0; background:#05c19b; border-radius:5px; height:30px; line-height:30px;}
#qrcode{ height:200px; text-align:center; width:200px; background:#fff; padding:5px; margin:0 auto 10px;}
/*--------------------------
 模块：显示二维码
---------------------------*/
.ewmform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: rgba(0, 0, 0, .8);
    display: none;
}
.ewmform .ewmform-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    margin-top: -200px;
    margin-left: -150px;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0 27px 27px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.ewmform-close {
    position: absolute;
    top: -15px;
    right: -5px;
    z-index: 10;
    width: 38px;
    height: 38px;
    display: block;
    background: url(../images/ewmform-close.png) no-repeat;
    background-size: 38px;
}
.ewmform .ewmform-title {
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding: 16px 0;
    text-align: center;
    color: #000;
    font-size: 20px;
    background: #fff;
}
.ewmform .ewmform-des{
    position: absolute;
    bottom: 45px;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 45px;
    color: #2B3890;
    font-size:14px;
    text-align: center;
    background: #fff;
    line-height: 19px;
}
.ewmform .ewmform-summary {
    position: relative;
    width: 246px;
    height: 246px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 56px;
    background: #fff url(../images/loading.gif) no-repeat center center;
}
.ewmform .ewmform-summary .ewm-thumbnail {
    width: 100%;
    display: block;
}
.ewmform .ewmform-summary .avatar-thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    width: 48px;
    height: 48px;
    padding: 2px;
    display: block;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.ewm-download{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width:232px;
    opacity: 0;
}
.ewmform .ewmtab {position: absolute;bottom: 10px;left: 0;z-index: 9;width:100%;}
.ewmform .ewmtab li{ width:50%; float:left; height:30px; text-align:center; line-height:30px; color:#000; font-size:16px}
.ewmform .ewmtab li.cur{ color:#05c19b}
/*--------------------------
 模块：显示微信二维码
---------------------------*/
.wxewm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: rgba(0, 0, 0, .8);
    display: none;
}
.wxewm .wxewm-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    margin-top: -200px;
    margin-left: -140px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wxewm-close {
    position: absolute;
    top: -15px;
    right: -5px;
    z-index: 1004;
    width: 38px;
    height: 38px;
    display: block;
    background: url(../images/ewmform-close.png) no-repeat;
    background-size: 38px;
}
.wxewm .wxewm-summary {
    position: relative;
    width: 100%;
    min-height: 320px;
    background: #fff url(../images/loading.gif) no-repeat center center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}
.wxewm .wxewm-thumbnail {
    margin-left: -8px;
    margin-top: -8px;
    width: 105%;
    display: block;
}
.wxewm .wxewm-tip{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 18px;
    color: #666;
    font-size: 12px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    background:#fff;
}
.wxewm .wxewm-tip a{
    font-size: 12px;
    color: #1BABE6;
}
.wxewm .icon-question {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../images/icon-question.png) no-repeat center center;
    background-size: 18px;
    vertical-align: text-bottom;
}
/*--------------------------
 模块：底部菜单
---------------------------*/
.top_bar {
    position: fixed;
    z-index: 900;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: Helvetica, Tahoma, Arial, Microsoft YaHei, sans-serif;
}
.top_menu {
    display: -webkit-box;
    display: block;
    width: 100%;
    height: 48px;
    display: -webkit-box;
    display: box;
    margin: 0;
    padding: 0;
    -webkit-box-orient: horizontal;
    background-color: #524945;
    box-shadow: 0 -3px 5px rgba(0,0,0,.8);
}
.top_bar .top_menu > li {
    -webkit-box-flex: 1;
    position: relative;
    text-align: center;
}
.top_menu li:first-child {
    background: none;
}
.top_bar .top_menu > li > a {
    height: 48px;
    margin-right: 1px;
    display: block;
    font-size: 20px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    -webkit-box-flex: 1;
    padding-top: 5px;
}
.top_bar .top_menu > li > a:before {
    margin: 5px 0 0 5px;
}
.top_bar .top_menu > li.home {
    max-width: 70px
}
.top_bar .top_menu > li.home a {
    display: block;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 70px;
    position: relative;
    top: -27px;
    left: 2px;
    background-color:#524945;
    box-shadow: 0 -3px 5px rgba(0,0,0,.8);
    padding-top:1px;
    /*background: url(../images/in.png) no-repeat center center;*/
    /*background-size: 100% 100%;*/
}
.top_bar .top_menu > li.home div {
    position: relative;
    top: 2px;
    left: 2px;
    width: 65px;
    height: 65px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 65px;
    -webkit-border-radius: 65px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}
.top_bar .top_menu > li.home img {
    display: block;
    padding:0px;
    width: 61px;
    height: 61px;
    border-radius: 61px;
    -webkit-border-radius: 61px;
}
.top_bar .top_menu > li > a label {
    overflow: hidden;
    margin: 0 0 0 0;
    font-size: 12px;
    display: block !important;
    line-height: 18px;
    text-align: center;
    font-weight: inherit;
}
.top_bar .top_menu > li > a img {
    padding: 3px 0 0 0;
    height: 24px;
    width: 24px;
    color: #fff;
    line-height: 48px;
    vertical-align: middle;
}
.top_bar li:first-child a {
    display: block;
}
.top_bar .top_menu > li > a:hover, .top_bar .top_menu > li > a:active {
    background-color: #333;
}
/*--------------------------
 基本
---------------------------*/
.g-wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative
}
.g-wrap img {
    max-width: 100%;
}
.r-result {
    position: fixed !important;
    color: #333;
    left: 0px;
    top: 0px;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    z-index: 1003;
    width: 100%;
    height: 100%;
}
.r-result td {
    color: #333;
}
/*上滑箭头指示图标样式*/
.arrow {
    width: 50px;
    height: 28px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAcCAYAAAAjmez3AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAATgSURBVFiF1Zh9TFV1GMef5wF9ANGBgISDTcVyaCHNldYsWv3hdLP1YuISm/VHMNFWc1NeWm4xB4Jobb6UBvMFdYpmmS+p1IhcZFAiFx0EmRqNFyHuNe7h3vPyO/3BPXq7wTlcBLTv9vvjnP3O83w/Z+f8ft9zgJHAbAxVLpdrgaZpHaqq3jr39dk3GCmckQL8rWPl747PkQCRJGmZEELRPdI0TS3du28jI01mpMD/BYgsy2m6rmu6j4QQ4uiRsh2MFOcPzH0BcbvdWb4Avjpz6vQBRprCSGMeOBBd11GW5SIrCEMXKiu/mhAU/DAj8QMDout6gCzLJYOFMFRTXf1dTETkLCuYUQHRdX2soiif+wthqN5mq3lk6rQkRgq+byDtbW3jFEUpHyqEoeampqtPJD3+JCOFMBKOKojdbg9XFOUnK5Offbrr2p7ikgareX/cvPn7888mJzNSqC/MiIE4nc7JmqZdsTJXmL+pgZF2MdLaQwcOnrCa39He3rpsyZJFjDTeG2ZEQFwu13RN066ZGRJCiOz1622MtJORUhkpgZESSvfu2y2EEGbXdnV1da1KS3uNkcIMmGEH6enpma1pWquZEUVRxKq0tJ8ZaRsjpbBnv/CMKTu3bS9SVfU/m6W3HA6HI2vdurcYaSIj0bCCSJL0lBCi28xAb2+v+vrSpT8y0keM9AojxbLXDs5IgYwUW5CXv8HtdstmtSRJkjZ+mLuakSIHC2M5weVyLRBC9FrcRXnxwoXfM1IhIy1mpBjuJ4Z4YGI+yMlZ63Q6JbOasizLH2/Zms1I0YwUcE8gkiSleIe//nSro8P13PxnvmWkfEZaaDQeYNUGj6nod9esSbfb7bfNaquqqu0pLsljT9gcEogsy2/r/YQ/b/3Z0iLNSZx9lpFyGekF41EYCMILhhgpcuWKFcu7Ojv/MushhBBlh49sZ0/Y9AvE7XZnmhXXdV3/rbn57xnT4k8y0gZGSjZeTisIH5iJLy5a9FJba2u7Vb/TJ0+Vei0e5iC6rqPb7S60Kmqrq7PHRj90nJGyGelp9lou/REjISOFzZ87b8GN69dvWPWtrKg4MSEoeDoj8YAgel/4K7YqdrGqqnNSWHgZI61jpLnss4ENEWZ8YsLM5MaGhkar/jXV1RUxEZEzfWEMiLGKohyzKlJ+7nxbWMi4Q4z0HiPN4X4ixT3AhE6NjZt3ubb2kpWPeput2gibd0AGG/6OlR1tCR3L+xlpNSMl8gAh7x5hQqLDJyZdrKq6YOWnuanpyr/CpqIo56wuKt61+1pwQGAJI6Ux0iw2id3DABQ8noMe/eZ8+RkrX782Nl5lpCRGCgEhhMts8uZNBQ2MtJuR3mSkGTyIr7phgGFGmvHl8S8Om3mTZVn13Nw4uFxbm9lfmBNCiJzMzHq+G/7iRwPCByb+4P7SfsOmEEK8n5VVy0iZjDQdGClqT3HJZu8wpyiKyEhP/4X7wt8y9uNnwTDDjGGkKZ9s37HF1987GRmXPP5eZqQoI//EFRUU5jocDmd3d7dreUrKD4y0lfvCn1+/b0YAJpCR4gry8jcY/lamphrh9FXDH3Jfwg0EgEkAkAQAj3lq1AFALQDcAgD1vlDcVSAAREGfv0TPORv0+esAANUAAQAIAIAJABDhOe4CgNsAoI2WWwuZ+vsHbkS5vQd9PuwAAAAASUVORK5CYII=) 0 0 no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    margin-top: -28px;
    top: 50%;
    -webkit-animation-name: pullup;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: pullup;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*背景样式*/
.pimg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../images/loading.gif) no-repeat 50% 100px;
}
/*基本简介容器样式*/
.contact {
    overflow: hidden;
    position: relative;
    z-index: 100; margin-top: 300px; background-color: rgba(1, 1, 31, 0.8);
}
.contact span a {
    text-decoration: none
}
.anchorBL {
    display: none;
}
/*名片标题*/
.v_about {
    width: 120px;
    float: right;
    height: 35px;
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    z-index: 200;
    position: relative;
    background-color: #EBA443;
}
/*基本信息模块容器样式*/
.v_infomation {
    position: relative;
    padding-top: 40px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 10px;
}
/*模块样式*/
.v_hot {
    float:left;
    text-align: left;
    padding: 15px 0 15px 0;
    width: 100%;
}
/*节点样式*/
.v_node {
    width: 100%;
    display: block;
    margin-top: 12px;
}
/*姓名样式*/
.v_name {
    font-size: 25px;
    width: 100%;
}
/*职位样式*/
.v_position {
    margin-left: 5px;
}
/*导航菜单*/
.v_navmenu{}
.v_navmenu .title{
    text-align: center;
    font-size: 24px;
}
.v_navmenudesc{
    text-align: center;
    height: 35px;
    line-height: 35px;
    margin:10px 0px;
    background-color: #e79c4e;
    color: #ffffff;
    margin-bottom: 0px;
}
.v_itemlist{
    float: left;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 0px;
    padding-bottom: 15px;
    border: .1em #e79c4e dotted;
    -webkit-border-radius: 5px;
}
.v_itemlist ul li{
    float: left;
    color: #FFF;
    background: #e79c4e;
    width: 40%;
    padding: 5px;
    margin-left: 16px;
    margin-top: 15px;
    line-height: 23px;
    text-align: center;
    font-size: 16px;
}
@media screen and (min-width: 641px) {
    .g-wrap,.top_bar,.subscribe {
        width: 640px;
    }
    .pimg {
        width: 640px;
        margin: 0 auto;
    }
}
@-webkit-keyframes pullup {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
    }
}
@-moz-keyframes pullup {
    0%, 30% {
        opacity: 0;
        -moz-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -moz-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -moz-transform: translate(0, -8px);
    }
}
@keyframes pullup {
    0%, 30% {
        opacity: 0;
        transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, -8px);
    }
}