{template 'web/common/header'}

<div class="main">

	<div class="panel panel-info">
		
	    <div class="panel-heading">详细信息</div>
	    <div class="panel-body">
	    <form action="" method="post">
          <table width="100%" style="padding:0px;margin:0px;" cellspacing="0" cellpadding="0">
          <tbody><tr class="color2">
          <td width="90" scope="col"><p>订单编号：</p></td>
          <td width="35%" scope="col"><input class="text-input" type="text" readonly="" name="tid" value="{$list['tid']}"></td>
		  <td width="90" scope="col"><p>产品名称：</p></td>
          <td scope="col"><input class="big-input" type="text" name="chanpin" value="{$list['chanpin']}"></td>
          </tr>
          <tr class="color3">
          <td scope="col"><p>数量及价格：</p></td>
          <td scope="col">数量：<input class="text-input min-input" type="text" name="num" value="{$list['num']}"><br>价格：<input class="text-input min-input" type="text" name="money" value="{$list['money']}"> 元</td>
		  <td scope="col"><p>手机号码：</p></td>
          <td scope="col"><input class="text-input" type="text" name="tel" value="{$list['tel']}"> </td>
          </tr>
		  <tr class="color2">
          <td scope="col"><p>收件人：</p></td>
          <td scope="col"><input class="text-input" type="text" name="name" value="{$list['name']}"> </td>
          <td scope="col"><p>快递单号：</p></td>
          <td scope="col"><input class="text-input" type="text" name="danhao" value="{$list['danhao']}"> {$list['danhao']}</td>
          </tr>
		  <tr class="color3">
		  <td scope="col"><p>收货地址：</p></td>
          <td scope="col">

		  <input class="big-input" type="text" name="sheng" value="{$list['sheng']}" style="width:100px;">
		  <input class="big-input" type="text" name="shi" value="{$list['shi']}" style="width:100px;">
		  <input class="big-input" type="text" name="qu" value="{$list['qu']}" style="width:150px;margin-bottom:10px">
		  <input class="big-input" type="text" name="address" value="{$list['address']}">

			</td>
		  <td scope="col"><p>快递状态：</p></td>
          <td scope="col">
		  <select name="kuaidi">
		    <option value="0" {if $list['kuaidi']==0}selected=""{/if}>未安排</option>
			<option value="1" {if $list['kuaidi']==1}selected=""{/if}>顺丰快递</option>
			<option value="2" {if $list['kuaidi']==2}selected=""{/if}>宅急送</option>
			<option value="3" {if $list['kuaidi']==3}selected=""{/if}>EMS</option>
			<option value="4" {if $list['kuaidi']==4}selected=""{/if}>申通快递</option>
			<option value="5" {if $list['kuaidi']==5}selected=""{/if}>圆通快递</option>

		  </select>
		  </td>
          </tr>
		  <tr class="color2">
          <td scope="col"><p>订单状态</p></td>
          <td scope="col">
		  付款方式：
		  <select name="pay">
            <option value="0" {if $list['pay']==0}selected=""{/if}>货到付款</option>
			<option value="1" {if $list['pay']==1}selected=""{/if}>支付宝未付款</option>
			<option value="2" {if $list['pay']==2}selected=""{/if}>网银未付款</option>
			<option value="8" {if $list['pay']==3}selected=""{/if}>支付宝已付款</option>
			<option value="9" {if $list['pay']==4}selected=""{/if}>网银已付款</option>

		  </select>
		  
		  订单状态：
		  <select name="stat">
			<option value="0" {if $list['stat']==0}selected=""{/if}>等待确认</option>
			<option value="1" {if $list['stat']==1}selected=""{/if}>确认假单</option>
			<option value="2" {if $list['stat']==2}selected=""{/if}>用户取消</option>
			<option value="3" {if $list['stat']==3}selected=""{/if}>催促发货</option>
			<option value="4" {if $list['stat']==4}selected=""{/if}>重复订单</option>
			<option value="5" {if $list['stat']==5}selected=""{/if}>等待发货</option>
			<option value="6" {if $list['stat']==6}selected=""{/if}>已经发货</option>
			<option value="7" {if $list['stat']==7}selected=""{/if}>已经签收</option>
			<option value="8" {if $list['stat']==8}selected=""{/if}>已经拒签</option>
			<option value="9" {if $list['stat']==9}selected=""{/if}>退货处理</option>

		  </select>
		  </td>
		  <td scope="col"><p>提交时间：</p></td>
          <td scope="col"><input class="text-input" type="text" readonly="" name="addtime" value="{php echo date('Y-m-d H:m:s',$list['createtime'])}"></td>
          </tr>
		  <tr class="color3">
          <td scope="col"><p>支付信息：</p></td>
          <td scope="col"></td>
          
		  </tr>
		  <tr class="color3">
          <td scope="col"><p>其他信息：</p></td>
          <td scope="col" colspan="3"><textarea cols="60" rows="2" name="kehubeizhu">{$list['kehubeizhu']}</textarea> 这里是客户备注</td>
		  </tr>
		  <tr class="color2">
          <td scope="col"><p>备注：</p></td>
          <td scope="col" colspan="3"><textarea cols="60" rows="2" name="adminbeizhu">{$list['adminbeizhu']}</textarea> 这里是管理员对该订单的备注</td>
          </tr>
			</tbody></table>
			<p>
			<br><input type="submit" class="button" value=" 修改 "  >  <input type="button" class="button" value=" 返回 " id="btnPost" onclick="history.go(-1)"> 
			</p>
   		</form>
	    </div>
	</div>

	
		</div>
	</div>

{template 'web/common/footer'}