.m-cart{padding: 0 0 50px;line-height: 2;}
.m-cart a{color: #333;display: block;font-weight: bold;font-size: 13.5px;}
.m-cart .item{font-size: 12px;position: relative;padding: 15px 15px;overflow: hidden;background: #fff;-webkit-transition: all .3s;transition: all .3s;}
.m-cart .item:after{content: '';position: absolute;left: -50%;width: 200%;height: 1px;background: #EEEEEE;-webkit-transform:scale(0.5);bottom: 0;}
.m-cart .item.destroy{opacity: 0;padding-top: 0;padding-bottom: 0;height: 0px;}
.m-cart .item .pic{position: absolute;left: 20px;top: 20px;width: 64px;margin: 8px 0 0 0;text-align: center;}
.m-cart .item .pic img{/*width: 100%;*/width: 64px;height: 64px;/*margin: 33.5px 0;*/}
.m-cart .item .text{padding-left: 74px;}
.m-cart .item .titlee{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #666;}
.m-cart .item .remain{color: #2A96FF;font-weight: bold;}
.m-cart .item .del{position: absolute;right: 20px;top: 62px;overflow: hidden;}
.m-cart .item .pro-number{margin-left: 5px;}
.m-cart .item .pro-number-input{width: 2em;}
.m-cart .empty a{color: #fff;display: block;height: 42px;width: 108px;background: #FB5156;border-radius: 5px;text-align: center;margin: 0 auto;
                 line-height: 42px;font-size: 16px;}
.m-cart .hint{margin-top: 10px;background: #fffca9;color: #f60;padding: 0 10px;line-height: 1.6;}
.embed .m-cart{padding-top: 0;}
.embed .m-simpleHeader{display: none;}
.pic p{font-weight: bold;line-height: 10px;font-size: 13px;margin-top: 9px;}
.pic i{color: #FB5156;margin-top: -8px;}

