body{background-color:#ffffff;color:#000000;margin:18px 12px;min-width:296px;}
img{vertical-align:top;border:0;-webkit-touch-callout:none;}
div{word-break:break-all;}
div,ul,li,textarea,input,button,form{margin:0;padding:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
input,textarea,button{border:0;}
ul{list-style:none;}
input,textarea{color:#000000;font-size:16px;width:100%;background-color:transparent;}
input{padding:13px 0;margin:-10px 0;}
textarea{line-height:25px;}
button{width:100%;text-align:center;border-radius:3px;}
a,a:link,a:hover,a:active,a:visited{color:#666666;text-decoration:none;}a:active{color:#007e2b;}
.blue,.blue:link,.blue:hover,.blue:active,.blue:visited{color:#003366;text-decoration:none;}a:active{color:#003399;}
.left{float:left;}.right{float:right;}
.clear{clear:both;}.none{display:none;}
.textarea1{height:100px;}.textarea2{height:180px;}.textarea3{height:160px;}.textarea4{height:80px;}
.area1,.area2{margin-bottom:18px;padding:10px 6px;border-radius:3px;}
.area1{border:1px solid #d9d9d9;}
.area2{background-color:#ebecec;}
.area3{margin:0 -12px;padding:15px 10px;border-bottom:1px solid #cccccc;}
.area3:active{background-color:#eeeeee;}
#cardTo{text-align:left;width:40%;background-color:#F5F5E2;padding: 10px;border-radius: 3px;}
#cardBody{background-color:transparent;}
#cardFrom{width:40%;float:right;background-color:#F3E9E0;margin-bottom: 18px;padding: 10px;border-radius: 3px;}
.line{height:1px;overflow:hidden;background-color:#d9d9d9;margin:10px -6px;}
.select ul{margin-left:5px;}
.select li{float:left;width:80px;padding:6px 0;font-size:16px;text-align:center;border-radius:3px;}
.select_y{background-color:#009933;color:#ffffff;}
.select_n{background-color:#ffffff;color:#000000;}
.button1{font-size:18px;padding:10px 0;border:1px solid #5a5a59;color:#ffffff;background-color:#0e9e1a;background-image:linear-gradient(to top, #02a038, #02a138 18%, #02c244);background-image:-webkit-gradient(linear, 0 100%, 0 0, from(#02a038),color-stop(0.2,#02a138),to(#02c244));box-shadow: 0 1px 1px rgba(7, 56, 28, 0.61), 0 1px 1px rgba(255,255,255,0.51) inset;text-shadow: 0.5px 0.5px 1px rgba(15,114,57,0.75);}
.button1:active{background-color: #007e2b;background-image: linear-gradient(to top, #016423, #007629 24%, #00a137);background-image:-webkit-gradient(linear, 0 100%, 0 0, from(#016423),color-stop(0.2,#007629),to(#00a137));}
.button2{font-size:16px;padding:8px 0;border:1px solid #adadab;color:#000000;background-color: #e8e8e8;background-image:linear-gradient(to top, #dbdbdb, #f4f4f4);background-image:-webkit-gradient(linear, 0 100%, 0 0, from(#dbdbdb),to(#f4f4f4));box-shadow: 0 1px 1px rgba(0,0,0,0.45), inset 0 1px 1px #efefef; text-shadow: 0.5px 0.5px 1px #ffffff;}
.button2:active{background-color: #dedede;background-image: linear-gradient(to top, #cacaca, #e0e0e0);background-image:-webkit-gradient(linear, 0 100%, 0 0, from(#cacaca),to(#e0e0e0));}
.box{display:none;position:absolute;z-index:9000;width:230px;font-size:14px;overflow:hidden;padding:15px 12px;background-color:#c9c9c9;border:1px solid #000000;border-radius:3px;}
.box input,.box button{margin:15px 0 0 0;}/*同时将input默认下边距清零*/
.box input{text-indent:3px;padding:8px 0;border-radius:3px;}
.box button{width:110px;font-size:16px;padding:8px 0;}
.add{text-align:right;padding-right:5px;}
.add:active{opacity:0.8;}
.add img{width:25px;height:25px;}
.menu1:active,.menu2:active{background-color:#eeeeee;}
.menu1_icon{float:left;padding:5px 8px 5px 0;}
.menu1_icon img{width:60px;height:60px;}
.menu1_arrow{float:right;padding:22px 0 0 5px;}
.menu1_arrow img{width:15px;height:23px;}
.menu1_title{font-size:18px;font-weight:bold;padding-bottom:3px;}
.menu1_intro{width:190px;font-size:13px;color:#666666;}
.menu2_icon{float:left;padding-right:8px;}
.menu2_icon img{width:30px;height:30px;}
.menu2_arrow{float:right;padding:8px 0 0 5px;}
.menu2_arrow img{width:10px;height:15px;}
.menu2_title{float:left;font-size:16px;padding-top:4px;}
.notice{font-size:12px;padding:10px;}
#notice{display:none;margin-bottom:18px;padding:10px 6px;border-radius:3px;font-size:16px;padding:10px;background-color:#FCF67A;color:#f60; }
#cover{display:none;position:absolute;left:0;top:0;z-index:8888;background-color:#000000;opacity:0.7;}
#loading,#ok{display:none;position:absolute;z-index:9999;width:180px;padding:36px 0 26px 0;color:#ffffff;font-size:16px;text-align:center;border-radius:6px;}
#loading{background-color:#2e2e2e;}
#ok{background-color:#656564;}
#loading img{width:60px;height:60px;margin-bottom:20px;}
#ok img{width:119px;height:90px;margin-bottom:20px;}
#guide,#guide2,#guide3{display:none;position:fixed;z-index:9999;}
#guide{top:5px;right:18px;}
#guide img{width:260px;height:180px;}
#guide_button,#guide_button2{width:260px;overflow:hidden;margin:50px 0 15px 0;}
#guide_button button{width:81px;margin-left:5px;}
#guide_button button,#guide_button2 button{opacity:0.6;font-size:14px;}
#guide2{left:10px;bottom:10px;}
#guide2 img{width:260px;height:154px;}
#guide3{top:5px;right:44px;}
#guide3 img{width:65px;height:48px;}
#toast{display:none;position:absolute;padding:8px 25px;color:#ffffff;font-size:16px;background-color: rgba(30,30,30,0.9);box-shadow:0 0 5px #666666;z-index:9999;}
#mess_title{font-size:20px;font-weight:bold;padding-bottom:10px;}
#mess_info{font-size:12px;color:#666666;}
#mess_content{margin:15px 0;padding:10px;font-size:16px;line-height:28px;color:#353535;background-color:#fefefe;border:1px solid #d9d9d9;border-radius:3px;}
#mess_report{margin-top:10px;text-align:right;font-size:12px;color:#666666;}
#mess_attch{margin-top:15px;font-size:12px;}
#attch_title{float:left;padding-top:3px;}
#attch_list,#test_result,#more_list,#list{border:1px solid #d9d9d9;border-radius:3px;}
#attch_list,#more_list,#list{margin:8px 0 15px 0;}
#attch_list,#more_list{background-color:#f7f7f7;}
#attch_list{font-size:12px;}
#more_list,#list{font-size:14px;}
#test_result{font-size:14px;font-weight:bold;margin-bottom:15px;padding:8px;background-color:#ffffd7;}
.attch_item,.list_item{border-bottom:1px solid #d9d9d9;}
.attch_item{padding:8px;}
.list_item{padding:10px;}
.attch_item:active,.list_item:active{background-color:#eeeeee;}
.list_icon{float:left;margin-right:8px;}
.list_icon img{width:30px;height:30px;}
.list_title,.list_tit_intro{overflow:hidden;}
.list_title{padding-top:4px;}
.list_tit{margin-top:-2px;font-weight:bold;}
.list_intro{padding-top:3px;font-size:12px;color:#666666;}
#record_manage{float:right;font-size:11px;padding:3px 5px;border:1px solid #adadab;background-color:#e0e0e0;border-radius:3px;}
#record_manage:active{background-color:#d3d3d3;}
#record_nodata{padding:8px 0;font-size:12px;text-align:center;color:#666666;}
#mess_share{margin:15px 0;}
#share_1{float:left;width:49%;}
#share_2{float:right;width:49%;}
#mess_share img{width:22px;height:22px;}
#more_title,#more_more{margin-top:15px;font-size:14px;}
#more_title{float:left;font-weight:bold;}
#more_more{float:right;}
.option_green,.option_gray{float:left;height:10px;margin:8px 0;overflow:hidden;}
.option_green{background-color:#00b93c;}
.option_gray{background-color:#cccccc;}
.option_title,.option_info{padding:5px 0;}
.option_title{float:left;}
.option_info,.option_vote{float:right;margin-left:5px;color:#666666;}
.option_vote img{width:25px;height:25px;}
#tip1,#tip2,#copyright{background-color:#1c2225;padding:15px 3px;font-size:14px;color:#ffffff;text-align:center;}
#tip1{margin:-18px -12px 18px -12px;}
#tip2{margin:18px -12px -18px -12px;}
#tip1:active,#tip2:active{background-color:#000000;}
#copyright{margin:18px -12px -18px -12px;}
#footer{font-size:12px;color:#666666;}
#duty{margin-top:15px;text-align:center;font-size:11px;}
#card_focus{margin:-18px -12px 0 -12px;}
.card_icon{float:left;padding-right:10px;}
.card_icon img{width:50px;height:50px;}
.card_title{padding-top:8px;float:left;font-size:18px;}
.card_button{padding-top:5px;float:right;width:66px;}


.chatPanel {border:1px solid #d9d9d9;border-radius:3px;margin:20px 0 15px;background-color:#fafafa;}
.chatPanel .media{border:0px solid #D1D1D1;border-bottom:1px solid #d9d9d9;}
.chatPanel .media .mediaPanel{padding:0px;margin:0px;}
.chatPanel .media .mediaHead{padding:15px 15px 10px;border-bottom:0px solid #D3D8DC;color:#000000;font-size:20px;}
.chatPanel .media .mediaHead span{line-height:1.2em;font-size:18px;display:block;text-align:left;border-bottom:1px dashed #ddd;padding-bottom:10px;}
.chatPanel .media .mediaContent{padding:0px;font-size:16px;text-align:left;color:#222222;margin:0 15px;word-break:normal;word-wrap:word-break;}
.chatPanel .media .mediaContent p{max-height:80px;overflow:hidden;font-size:14px;line-height:1.5em;margin-top: 0;}

.clr {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}

.more {
    background-color: #fafafa;
    border: 1 solid #D1D1D1;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}
