/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Structure Elements CSS Rules Start                                                                 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.pageBreak {
	height: 0px;
	clear: both;
	margin-bottom: 20px;
	border-top: 3px solid #f0f0f0;
}
.pageBreakBottom {
	height: 0px;
	clear: both;
	border-top: 3px solid #f0f0f0;
}
.pageBreakBoth {
	height: 27px;
	clear: both;
	margin-bottom: 27px;
	border-bottom: 3px solid #f0f0f0;
}
.textBreak {
	height: 4px;
	clear: both;
	margin-bottom: 27px;
	border-bottom: 3px solid #f0f0f0;
}
.textBreakBoth {
	height: 4px;
	clear: both;
	margin-bottom: 23px;
	border-bottom: 3px solid #f0f0f0;
}
.textBreakBottom {
	height: 0px;
	clear: both;
	margin-bottom: 23px;
	border-top: 3px solid #f0f0f0;
}
.pageSpacer {
	height: 4px;
	background: none;
	clear: both;
	width: 100%;
}
.sectionBreak {
	height: 0px;
	clear: both;
	margin-bottom: 36px;
	border-top: 3px solid #f0f0f0;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Structure Elements CSS Rules End                                                                   */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Elements CSS Rules Start                                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.quoteWrapper {
	margin-bottom: 27px;
}
.quoteWrapper > .quoteAvatar {
	margin-right: 12px;
	float: left;
	height: 54px;
	width: 54px;
	border: 3px solid #f0f0f0;
}
.quoteWrapper > .quoteAvatar:hover {
}
.quoteWrapper > blockquote {
	background: none;
	border-left: 3px solid #f0f0f0;
	padding-left: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-style: italic;
	margin-bottom: 0px;
}
.quoteWrapper > blockquote cite {
	clear: both;
	color: #999;
	font-weight: bold;
}
blockquote {
	background: url(../images/common/quoteBg.png) 0 0 no-repeat;
	padding-left: 28px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-style: italic;
	margin-bottom: 23px;
}
.blockquote cite {
	clear: both;
	color: #999;
	font-weight: bold;
}
.columnWrapper {
	margin-bottom: 27px;
}
.columnWrapper > *:last-child {
	margin-bottom: 0px;
}
.oneHalf {
	float: left;
	width: 46%;
	margin-right: 8%;
}
.oneThird {
	float: left;
	width: 30%;
	margin-right: 5%;
}
.oneFourth {
	float: left;
	width: 22%;
	margin-right: 4%;
}
.oneFifth {
	float: left;
	width: 16.8%;
	margin-right: 4%;
}
.oneSixth {
	float: left;
	width: 13.33%;
	margin-right: 4%;
}
.lastColumn {
	margin-right: 0px;
}
.testimonialsSectionWrapper {
	margin-bottom: 0px;
}
.buttonWrapper {
	height: 16px;
	padding: 4px;
	padding-right: 9px;
	padding-left: 9px;
	color: #fff;
	display: inline-block;
	background-position: 9px center;
	background-repeat: no-repeat;
}
.buttonWrapper:hover {
	text-decoration: none;
}
.buttonMarginRight {
	margin-right: 24px;
}
.buttonDefault, input.buttonDefault {
	background-color: #333;
}
.buttonRed:hover {
}
.buttonRed, input.buttonRed {
	background-color: #f25849;
}
.buttonRed:hover {
}
.buttonPink, input.buttonPink {
	background-color: #fe5d83;
}
.buttonPink:hover {
}
.buttonOrange, input.buttonOrange {
	background-color: #ffb24d;
}
.buttonOrange:hover {
}
.buttonGreen, input.buttonGreen {
	background-color: #65c178;
}
.buttonGreen:hover {
}
.buttonBlue, input.buttonBlue {
	background-color: #4baad3;
}
.buttonBlue:hover {
}

.servicesPageContent {
	padding-bottom: 0px;
}
.serviceWrapper {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 27px;
}
.serviceWrapper > .buttonWrapper {
	margin-top: 4px;
}
.serviceIcon {
	height: 32px;
	display: block;
	padding-left: 44px;
	line-height: 32px;
	font-size: 14px;
	margin-bottom: 18px;
	color: #fff;
}

.highlight {
	height: 18px;
	line-height: 18px;
	color: #fff;
	display: inline;
	padding-left: 3px;
	padding-right: 3px;	
}
.highlightDefault{
    background-color: #333;
}
.highlightOrange {
	background-color: #ffb24d;
}
.highlightRed {
	background-color: #f25849;
}
.highlightGreen {
	background-color: #65c178;
}
.highlightBlue {
	background-color: #4baad3;
}
.highlightPink {
	background-color: #fe5d83;
}
.alertBox {
	padding-top: 20px;
	padding-right: 38px;
	padding-left: 40px;
	padding-bottom: 20px;
	color: #333;
	background-position: 12px 21px;
	background-repeat: no-repeat;
	margin-bottom: 27px;
}
.alertBoxTextBreak {
	margin-bottom: 23px;
}
.alertBoxWarning {
	background-color: #ffb24d;
	background-image: url(../images/common/alertBoxWarningBg.png);
}
.alertBoxStop {
	background-color: #f25849;
	background-image: url(../images/common/alertBoxStopBg.png);
}
.alertBoxGo {
	background-color: #65c178;
	background-image: url(../images/common/alertBoxGoBg.png);
}
.alertBoxInfo {
	background-color: #4baad3;
	background-image: url(../images/common/alertBoxInfoBg.png);
}
.alertBoxContent {
	border-left: 1px solid rgba(0, 0, 0, 0.18);
	padding-left: 12px;
	margin-bottom: 0px;
}
.alertBoxButton {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 16px;
	width: 16px;
	background: url(../images/common/alertBoxButtonBg.png) 0 0 no-repeat;
}
.accordionWrapper > *:last-child {
	margin-bottom: 0px;
}
.accordionItemWrapper {
	margin-bottom: 20px;
}
.accordionButton {
	background-color: #f0f0f0;
	padding-left: 6px;
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	color: #666;
}
.accordionButton .accordionButtonIcon {
	background: url(../images/skins/default/accordionButtonBg.png) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	margin-right: 12px;
	display: inline-block;
	margin-top: 10px;
	margin-left: 6px;
	float: left;
}
.accordionButton .accordionButtonTitle {
	float: left;
}
.accordionButton:hover {
	text-decoration: none;
}
.currentAccordion .accordionButtonIcon {
	background-position: 0px -16px;
}
.accordionContentWrapper {
	display: none;
}
.accordionContent {
	padding: 12px;
	border: 1px solid #f0f0f0;
	margin-top: 20px;
}
.accordionContentWrapper .accordionContent > *:last-child {
	margin-bottom: 0px;
}
.largeImage {
	border: 3px solid #f0f0f0;
	margin-bottom: 23px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.iconWrapper {
	min-height: 16px;
	padding-left: 25px;
	background-position: left center;
	background-repeat: no-repeat;
}
.singleIconWrapper {
	padding-left: 16px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-position: left center;
	background-repeat: no-repeat;
	display: inline;
}
.singleIconText {
	padding-left: 28px;
}

.pageWrapper > .accordionWrapper:last-child > .accordionItemWrapper:last-child {
	margin-bottom: 0px;
}
.columnWrapper > .accordionWrapper:last-child > .accordionItemWrapper:last-child {
	margin-bottom: 0px;
}
