/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// HiDPI Framework CSS Rules Start                                                                    */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
body {
	background-image: url(../images/bg/bgPat-1-x2.png);
	background-size: 4px 4px;
}
.mainMenuButton {
	background-image: url(../images/common/mainMenuButtonBg-x2.png);
	background-size: 24px 18px;
}
.mainMenuWrapper > li > a {
	background-image: url(../images/skins/default/mainMenuItemBg-x2.png);
	background-size: 20px 72px;
}
.recentProjectsTitle {
	background-image: url(../images/common/recentProjectsTitleBg.png);
	background-size: 16px 16px;
}
.backToTopButton {
	background-image: url(../images/common/backToTopButtonBg-x2.png);
	background-size: 12px 8px;
}
.portfolioMenuWrapper li {
	background-image: url(../images/common/portfolioFilterableMenuDecoBg-x2.png);
	background-size: 6px 18px;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../images/skins/default/portfolioExpandButtonBg-x2.png);
	background-size: 28px 16px;
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../images/skins/default/portfolioDetailsButtonBg-x2.png);
	background-size: 28px 16px;
}
.smallPostMoreButton {
	background-image: url(../images/skins/default/smallPostReadMoreButtonBg-x2.png);
	background-size: 28px 16px;
}
.smallPostQuote {
	background-image: url(../images/common/quoteBg-x2.png);
	background-size: 16px 16px;
}
#cboxClose, #cboxPrevious, #cboxNext {
	background-image: url(../images/colorbox/controlsBg-x2.png);
	background-size: 98px 130px;
}
.formSuccessMessageWrapper > h4 {
	background-image: url(../images/icons/smallIcons/32/2/iconCheckmarkBg32.png);
	background-size: 16px 16px;
}
.quoteWrapper > blockquote {
	background: none;
}
blockquote {
	background: url(../images/common/quoteBg-x2.png) 0 0 no-repeat;
	background-size: 16px 16px;
}
.alertBoxWarning {
	background-image: url(../images/common/alertBoxWarningBg-x2.png);
	background-size: 16px 16px;
}
.alertBoxStop {
	background-image: url(../images/common/alertBoxStopBg-x2.png);
	background-size: 16px 16px;
}
.alertBoxGo {
	background-image: url(../images/common/alertBoxGoBg-x2.png);
	background-size: 16px 16px;
}
.alertBoxInfo {
	background-image: url(../images/common/alertBoxInfoBg-x2.png);
	background-size: 16px 16px;
}
.alertBoxButton {
	background-image: url(../images/common/alertBoxButtonBg-x2.png);
	background-size: 16px 16px;
}
.accordionButton .accordionButtonIcon {
	background-image: url(../images/skins/default/accordionButtonBg-x2.png);
	background-size: 32px 32px;
}

