
#leafContainer
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

    #leafContainer > div
    {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-animation-iteration-count: infinite, infinite;
        -webkit-animation-direction: normal, normal;
        -webkit-animation-timing-function: linear, ease-in;
        -moz-animation-iteration-count: infinite, infinite;
        -moz-animation-direction: normal, normal;
        -moz-animation-timing-function: linear, ease-in;
        animation-iteration-count: infinite, infinite;
        animation-direction: normal, normal;
        animation-timing-function: linear, ease-in;
    }


        #leafContainer > div > img
        {
            position: absolute;
            /*width: 100px;
            height: 100px;*/
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-transform-origin: 50% -100%;
            -moz-animation-iteration-count: infinite;
            -moz-animation-direction: alternate;
            -moz-animation-timing-function: ease-in-out;
            -moz-transform-origin: 50% -100%;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            transform-origin: 50% -100%;
        }

@-webkit-keyframes fade
{
    0%
    {
        opacity: 1;
    }

    95%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}

@-moz-keyframes fade
{
    0%
    {
        opacity: 1;
    }

    95%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}

@keyframes fade
{
    0%
    {
        opacity: 1;
    }

    95%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
    }
}


@-webkit-keyframes drop
{
    0%{
        -webkit-transform: translate(0%, -5%);
    }

    100%
    {
        -webkit-transform: translate(0%, 150%);
    }
}

@keyframes drop
{
    0%
    {
        transform: translate(0%, -5%);
    }

    100%
    {
        transform: translate(0%, 150%);
    }
}

@-moz-keyframes drop
{
    0%
    {
        -moz-transform: translate(0%, -5%);
    }

    100%
    {
        -moz-transform: translate(0%, 150%);
    }
}

@-webkit-keyframes clockwiseSpin
{
    0%
    {
        -webkit-transform: rotate(-50deg);
    }

    100%
    {
        -webkit-transform: rotate(50deg);
    }
}

@keyframes clockwiseSpin
{
    0%
    {
        transform: rotate(-50deg);
    }

    100%
    {
        transform: rotate(50deg);
    }
}

@-moz-keyframes clockwiseSpin
{
    0%
    {
        -moz-transform: rotate(-50deg);
    }

    100%
    {
        -moz-transform: rotate(50deg);
    }
}

@-webkit-keyframes counterclockwiseSpinAndFlip
{
    0%
    {
        -webkit-transform: scale(-1, 1) rotate(50deg);
    }

    100%
    {
        -webkit-transform: scale(-1, 1) rotate(-50deg);
    }
}

@keyframes counterclockwiseSpinAndFlip
{
    0%
    {
        transform: scale(-1, 1) rotate(50deg);
    }

    100%
    {
        transform: scale(-1, 1) rotate(-50deg);
    }
}

@-moz-keyframes counterclockwiseSpinAndFlip
{
    0%
    {
        -moz-transform: scale(-1, 1) rotate(50deg);
    }

    100%
    {
        -moz-transform: scale(-1, 1) rotate(-50deg);
    }
}
