@font-face {
	font-family: "ALKATIP Basma Tom";
	font-weight: normal;
	src: local("ALKATIP Basma Tom"), url("ALKATIP Basma Tom.ttf") format("TrueType");
}
body{font-family: "ALKATIP Basma Tom";margin:0;padding:0;}
.priview{margin:0;padding:0;width:100%;text-align:center;}
.priviewBox{height:100%;width:100%;position:absolute;}
.btnBox{position:absolute;bottom:0;width:100%;height:9%;height:2.8em;line-height:2.8em;}
.btnPink{font-family: "ALKATIP Basma Tom";background:rgba(238,130,107,0.8);display:inline-block;color:#FFF !important;font-size:1em;line-height:2em;text-align:center;text-decoration:none;width:35%;border-radius:0.9em;margin:0 7%;float:left;}
.btnBlue{font-family: "ALKATIP Basma Tom";background:rgba(75,189,198,0.8);display:inline-block;color:#FFF !important;font-size:1em;line-height:2em;text-align:center;text-decoration:none;width:35%;border-radius:0.9em;margin:0 7%;float:left;}
.btnblack{background:rgba(255,255,0,0.6);display:inline-block;color:#000 !important;font-size:1em;line-height:2em;text-align:center;text-decoration:none;width:70%;border-radius:0.9em;margin:0 7%;}
.btnblack span{color:#f00;}
#cover{display:none;width:100%;height:100%;position:absolute;left:0;top:0;z-index:8888;background-color:#000;opacity:0.9;}
#guide{display:none;position:fixed;z-index:9999;top:5px;right:18px;}
#guide2{display:none;position:fixed;z-index:9999;top:5px;right:18px;}
#guide img{width:260px;height:180px;}
#guide2 img{width:260px;height:180px;}
#guide_button,#guide_button2{width:260px;overflow:hidden;margin:15px 0;text-align: center;}
#guide_button button,#guide_button2 button{width:120px;margin-right:10px;opacity:0.6;font-size:14px;}
.left{float:left;}
.button2{background-color:rgba(255,255,255);border:1px solid #ADADAB;color:#000000;font-size:16px;padding:10px 0;text-shadow:0.5px 0.5px 1px #FFFFFF;}
button{border-radius:5px;text-align:center;width:100%;}
#fengmian{position:absolute;left:0;top:0;height:100%;width:100%;z-index:9999;background:transparent url("../images/h.jpg") no-repeat 0 0;background-size:100% 100%;}
#priview3{display:none;}