
.box {
    padding: 16px 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8em;
}

.box-top {
    padding: 16px 8px 0 8px;
}

.introduction {
    background: url("bg.15a7538a1ac7.jpg");
}

.introduction p {
    color: #ffffff;
}

.introduction .columns {
    padding: 0
}

.detail-user {
    text-align: center;
}

.detail-user p {
    margin: 16px auto;
}

.detail-bar li {
    text-align: center;
    padding: 4px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.vertical-line {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.detail-btn a {
    display: block;
    text-align: center;
}


.btn-group{
    padding:0 8px;
}

.btn-group .iconfont{
    display: block;
    padding:4px 0 2px 0;
}

.btn-group p{
    padding:2px 0 4px 0;
}

.btn-line2{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-orange{
    color:#ff6000;
}

.btn-blue{
    color:#62c2f8;
}

.btn-green{
    color:#4bdd4f;
}

.btn-yellow{
    color:#ffc039;
}

.intro-list .columns {
    padding: 0;
}

.subtitle {
    border-left: 2px solid #ff6000;
    padding-left: 8px;
}

.intro-list .portrait-group {
    margin: 8px 0 0 0;
    text-align: left;
    width: 66px;
    height: 66px;
}

.intro-list .intro-txt {
    display: inline-block;
    padding: 0 8px;
}

.btn-right {
    position: absolute;
    text-align: right;
    right: 0;
    padding-top:20px;
}

.qrcode {
    font-size: 40px;
    padding-top: 0;
    margin-top: -8px;
}

.go-to {
    font-size: 16px;
    position: absolute;
    margin-top: 66%;
}

.group-none {
    text-align: center;
    padding: 8px;
}

.special-letter {
    letter-spacing: 32px;
}

/*微信群详情页*/

.group-name {
    font-size: 1.1em;
    margin-bottom: 0.4em;
}

.group-code {
    padding: 24px;
}

.group-code p {
    margin-top: 1em;
}

.hot {
    background: #ff6000;
    padding: 0.1em 0.5em;
    border-radius: 4px;
    margin-left: 8px;
}

.introduction .portrait-group {
    margin-top: 8px;
}

@media (max-width: 375px) {
    .intro-list .portrait-group {
        margin: 8px 0 0 0;
        text-align: left;
        width: 60px;
        height: 60px;
    }

}

@media (width: 320px) {
    .intro-list .portrait-group {
        margin: 8px 0 0 0;
        text-align: left;
        width: 48px;
        height: 48px;
    }

    .detail-bar li {
        font-size: 12px;
    }


    .btn-right .btn {
        padding: 8px;
    }

    .go-to {
        margin-top: 32%;
    }

    .special-letter {
        letter-spacing: 24px;
    }

    .group-name {
        font-size: 0.8em;
        margin-bottom: 0.4em;
    }
}