body {
    background: #f5f5f5;
}

.wrapper {
    font-family: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', "微软雅黑", sans-serif;
}

.content {
    padding-bottom: 80px;
}

img {
    border: 0 none;
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: top;
    letter-spacing: 0;
}

.qrcode-img{
    max-height: 320px;
}
#qrcode{
    text-align:center;
}

p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    line-height: 1.5em;

}

ul, li, ol {
    list-style: none;
}

.line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0.2em auto;
}

.nav-bar {
    height: 40px;
    background: #ffffff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.nav-bar .columns {
    text-align: center;

}

.top-nav {
    color: #000;
    display: inline-block;
    line-height: 40px;
    width: 100%;
}

.top-nav:hover {
    color: #ff6000;
    border-bottom: 1px solid #ff6000;
}

.nav-btn {
    background: #eeeeee;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    height: 30px;
    margin-bottom: 8px;
}
.nav-btn .columns {
    text-align: center;
    line-height: 30px;
}

.nav-btn a, .nav-btn a:hover, .nav-btn a:visited, .nav-btn a:focus {
    color: #000;
}

.nav-btn li{
    display: inline-block;
    margin-bottom: 8px;
}

.active {
    color: #ff6000;
    border-bottom: 1px solid #ff6000;
}

.fan {
    margin-top: 0.8em;
    /*margin-top: 70px;*/
}

.fan .columns {
    padding-left: 8px;
    padding-right: 8px;
}

.portrait {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin: auto;
    position: relative;
}

.relative{
    position: relative;
}
.relative .count{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ff6000;
    border-radius: 40%;
    color: white;
    font-size: 12px;
    padding: 0 .5em;
    margin-right: 10px;
}

.portrait-group {
    border-radius: 100px;
}

.portrait img {
    width: 100%;
    min-height: 100%;
}


.fan-name {
    margin-bottom: 0.2em;
    width: 200px;
    font-size: 1.1em;
    margin-top: 0.2em;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.brief {
    color: #929292;
}

.button {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.btn {
    background: #ff6000;
    display: inline-block;
    padding: 0.5em 1.5em;
    margin-top: 0.2em;
    border-radius: 8px;
}

.button:hover, .button:visited {
    background: #ff6000;
}


.bottom-bar {
    height: 48px;
    position: fixed;
    bottom: 0;
    background: #111010;
    width: 100%;
}

.bottom-bar .columns {
    padding: 0;
}

.bottom-nav {
    /*line-height: 60px;*/
    text-align: center;
    color: #ffffff;
    padding: 14px 0;

}

.bottom-nav:hover {
    color: #ff6000;
}

.current {
    background: #000;
    color: #ff6000;
}

.bottom-bar span {
    margin-left: 10px
}

/*弹窗*/
.dialog {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: none;
    color: #000
}

.dialog-cnt {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    pointer-events: auto;
    position: relative;
    margin: 0 auto;
    top: 8%;
}

.dialog-bd {
    min-height: 71px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 18px;
    font-size: 16px;
    display: -webkit-box;
    display: block;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical
}

.back {
    width: 30px;
    height: 30px;
    float: right;
}

/*弹窗结束*/

@font-face {
    font-family: 'iconfont';
    src: url("iconfont.default.eot"); /* IE9*/
    src: url("iconfont.default.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */ url("iconfont.default.woff") format('woff'), /* chrome、firefox */ url("iconfont.default.ttf") format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("iconfont.default.svg#iconfont") format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*手机屏幕*/

@media (max-width: 768px) {
    p {
        line-height: 1.5em;
    }

    .portrait {
        overflow: hidden;
        width: 80px;
        height: 80px;
        border-radius: 8px;
    }

    .portrait-group {
        border-radius: 100px;
    }

    .brief {
        height: 48px;
        overflow: hidden;
    }

    .btn {
        padding: 0.4em 0.8em;
    }

    .button {
        margin-bottom: 0.5em;
    }

    .note{
        font-size: 0.9em;
        line-height: 1.2em;
    }

    .note span {
        display: block;
    }

    .bottom-bar span {
        display: block;
        line-height: 20px;
        margin-left: 0;
        /*margin-top: 10px;*/

    }

    .bottom-nav {
        display: block;
        line-height: 20px;
        text-align: center;
        padding: 14px 0;
    }

    .iconfont {
        font-size: 24px;
        padding-top: 10px;
    }
}

@media (max-width: 375px) {
    .btn {
        padding: 0.5em 0.8em;
    }
}

@media (max-width: 375px) {
    p {
        font-size: 12px;
    }

    .fan-name {
        font-size: 0.9em;
        width: 160px;
    }

    .portrait {
        width: 60px;
        height: 60px;
    }

    .btn {
        font-size: 12px;
    }
    .note{
        font-size: 12px;
        margin-top: -4px;
    }

    .brief {
        height: 36px;
    }
}


#information{
    position: absolute;
    top:30%;
    text-align: center;
    width: 100%;
}

#information P{
    font-size: 20px;
}

.fan-loading{
    text-align: center;
    font-size: 0.8em;
}

.note{
    color: #999;
}

.publish{
    text-align: center;
}
.publish .btn{
    padding:0.8em 1em;
    width: 60%;
}

a.black{
    color: #000;
}

.pay {
    width: 100%;
    position: absolute;
    margin-top: -36px;
    padding: 0 10px;
}

.pay-bottom {
    width: 84px;
    background: #ff6000;
    padding: 30px 5px;
    border-radius: 100%;
    border: 2px solid #f5f5f5;
    margin: auto;
}

.pay-bottom:hover,.pay-bottom:visited,.pay-bottom:focus {
    color: #ffffff;
    background: #f05a00;
}

.payment{
    /*text-align: center;*/
}

.order2{
    text-align: left;
    /*width:  60%;*/
    padding: 20px 20px 0 20px;
}

.weixinpay img{
    width: 30%;
}
.order2 .line{
    margin-bottom: 10px;
}
.order2 p{
    font-size: 14px;
    margin-bottom: 10px;
}


.top {
    position: absolute;
    background: #ff6000;
    color: #ffffff;
    font-size: 0.65rem;
    padding:2px;
    border-top-left-radius: 8px;
}


.sub-bar {
    background: #111010;
    position: relative;
    height: 40px;
}

.sub-bar li > a {
    color: #ffffff;
}

#hufen {
    font-size: 18px;
    color: #ffffff;
    line-height: 40px;
}

.sub-bar .columns {
    text-align: center;
    /*padding:0;*/
}

.sub-bar .button {
    width: 100%;
    line-height: 24px;
    background: #ff6000;
    padding:0;
    margin-top: 8px;
    font-size: 0.9em;
    border-radius: 4px;
}


.to-top {
    display: inline-block;
    position: absolute;
    right: 0;
    line-height: 24px;
}

#top .dialog {
    background: rgba(0, 0, 0, 0);
}

#top .dialog-cnt {
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    top: 40px;
}

#top p {
    color: #ffffff;
    font-size: 1.1em;
    margin: 10px 0;
}


#tip.dialog {
    background: rgba(0, 0, 0, 0.4);
}

#tip .dialog-cnt {
    background: #ffffff;
    text-align: center;
    border-radius: 8px;
    width: 80%;
    top: 30%;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ff6000;
}


#tip p {
    margin: 10px 0;
}

.correct-btn {
    background: #ff6000;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 8px;
}


#area{
    background: rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#area .dialog-cnt {
    top: 71px;
}

.choose-area li>a{
    float: left;
    padding:4px;
    margin:4px;
    color:#000;
}

.choose-area li>a:hover,.choose-area li>a:focus,.choose-area li>a:visited{
    background: #ff6000;
    color:#000;

}

.clear{
    clear: both;
}

.choose2{
    background: #ffffff;
}

.super-tag{
    background: #c63312;
    position: absolute;
    color: #ffffff;
    /*padding: 1px;*/
    bottom:0;
    left:0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    height: 22%;
    padding:1px 0;
}

.super-tag img{
    width: 60%;
}

.banner,.super-ad {
    text-align: center;
}

@media(max-width: 320px){
    .order2 label {
        font-size: 12px;
    }
    .nav-bar a,.nav-btn a{
        font-size: 14px;
    }
    .bottom-bar span{
        font-size: 14px;
    }
}
