/* Empty. Add your own CSS if you like */
body{font-family: "Microsoft Yahei", sans-serif;font-size: 1em;}
h1,h2,h3,h4,h5,h6,button{font-style:normal; font-weight:normal;  font-size: 100%;font-family: "Microsoft Yahei", sans-serif;}
li,ul,ol{list-style: none;}
h1,h2,h3,h4,h5,p{ padding: 0; margin: 0;}
.fl{ float: left!important;}
.fr{ float: right!important;}
a{ text-decoration:none;outline:none;}
a:active{text-decoration:none;}
.red{ color: #f35555!important;}
.blue{ color: #61b7df!important;}
.fs08{ font-size: 0.8em!important;}
.fs10{ font-size: 1.0em;}
.fs12{ font-size: 1.2em;}
.fs20{ font-size:2.0em;}
.tc{ text-align: center;}
.bar.bar-stable{ background: -webkit-linear-gradient(top, #424242 0%,  #3a3a3a 100%); color: #fff;}
.bar.bar-stable .title, .bar-stable .button.button-clear{color: #fff;}
.slider-pager .slider-pager-page{ color:#f35555}
.red-bg{ background: #fa897d;color: #fff;}
.blue-bg{ background: #61b7df;color: #fff;}
.gray-bg{ background: #bebdbd;color: #fff;}
/*导航*/
ion-tabs.tabs-color-active-balanced .tab-item.tab-item-active, ion-tabs.tabs-color-active-balanced .tab-item.active, ion-tabs.tabs-color-active-balanced .tab-item.activated{color: #f70202;}
.tab-home{ background: url("../img/tab/nav-icon_03.png") no-repeat center; background-size: 25px;}
.tab-home-active{ background: url("../img/tab/nav-icon-active_03.png") no-repeat  center; background-size: 25px;}

.tab-guess{ background: url("../img/tab/nav-icon_04.png") no-repeat center; background-size: 25px;}
.tab-guess-active{ background:  url("../img/tab/nav-icon-active_04.png") no-repeat center; background-size: 25px;}

.tab-myOwn{ background: url("../img/tab/nav-icon_10.png") no-repeat center; background-size: 25px;}
.tab-myOwn-active{ background:  url("../img/tab/nav-icon-active_10.png") no-repeat center; background-size: 25px;}


/*首页*/
#home {background: #f5f5f5;}
#home .slider-pager span i{font-size: 12px!important;}
#home .part .part-img{float: left; width:20%; background: #fff; padding: 10px 0;}
#home .part .part-img1{float: left; width:33%; background: #fff; padding: 10px 0;}
#home .part .part-img img{height: 45px; border-radius: 45px; display: block;margin:0 auto;}
#home .part .part-img1 img{height: 50px; border-radius: 50px; display: block;margin:0 auto;}
#home .part .part-img span,#home .part .part-img1 span{display: block; width:100%;font-size: 0.8em; text-align: center;}
.tabs-home-tit{padding-left: 10px; height: 30px; line-height: 30px;  margin-top:5px; background: #fff; border-top:1px solid #DDDDDD; font-size: 0.9em;}
.tabs-home-tit a{ width: 50%; float: left; }
.tab-part-active{ color:#f35555; background: #fff; border: 1px solid #fff;border-radius: 20px; height: 26px; line-height: 26px; transition: 0.3s;}
.tabs-home-list{ position: relative;  margin-bottom: 10px;}
.tabs-home-list img{ width: 100%;}
.bulk-tabs-home-list-desc {position: absolute; background: rgba(0,0,0,0.7); color: #fff; width: 100%; height: 45px; bottom: 5px; left: 0; padding:0 10px;}
.bulk-tabs-home-list-desc p {height: 22px;line-height:22px; font-size: 0.8em;}
.yjjc{position: absolute;right: 0;top: 0; width: auto!important;}

/*竞猜详情*/
#quiz .quiz-content {padding: 0 2%;}
#quiz .quiz-content img {width: 100%;}
#quiz .quiz-content h1 { margin: 10px 0; font-size: 1.1em;}
#quiz .quiz-content p { font-size: 0.9em;text-indent: 2em;  line-height: 25px; width: 90%;  margin: 0 auto;  padding: 10px;white-space: pre-line; }
.quiz-main{ border-top: 2px solid #74c4e9;border-bottom: 2px solid #74c4e9; position: relative; margin-top: 10px; text-align: center;}
.jcq{ position: absolute; top: 0; right: 0; width: 15%;}
.quiz-main h1{ margin: 10px 0; font-size: 1.1em;}
.quiz-main p{font-size: 0.9em;}
.quiz-country{ width: 65%; margin: 0 auto; overflow: hidden;}
.quiz-country .part-img, .quzi-win .part-img{float: left; width:33.33%; padding: 5px 0; }
.quiz-country .part-img img{height: 50px; width: 50px; border-radius: 50px; display: block;margin:5px auto;}
.quiz-country .part-img span{display: block; width:100%;font-size: 0.8em; text-align: center;}
.quiz-country .part-img1, .quzi-win .part-img1{float: left; width:45%; padding: 5px 0; }
.quiz-country .part-img1 img{height: 50px; width: 50px; border-radius: 50px; display: block;margin:5px auto;}
.quiz-country .part-img1 span{display: block; width:100%;font-size: 0.8em; text-align: center;}
.quzi-win{ width: 95%; overflow: hidden; margin: 0 auto;}
.quzi-win p{ font-size: 0.8em;}
.quzi-win a{font-size: 0.9em; border: 1px solid #74c4e9; padding: 4px 15px;display: inline-block; margin-bottom: 2px; border-radius: 10px;}
.quzi-win .active{ color: #fff; background:#74c4e9; }

.goods_dtl{ margin-right: 15px;}
.fl-input{ margin: 0 10px; float: left; width: 45px;}
.fl-input input{text-align: center;width: 100%; border: 1px solid #ddd; height: 25px; margin-top: 5px;}
.goods_dtl a{float:left; text-align: center;}
.goods_dtl a img{ width:75%; margin-top: 3px;}
.pay-foot{line-height: 35px;}
.pay-foot .pay{ padding: 0 20px; position: absolute;right: 5px;}
.pay-foot p{font-size: 0.8em; color: #8d898a;}
/*我的*/
#account{font-size: 0.8em;}
#account .head-portrait{ width: 100%; height:170px; background: -webkit-linear-gradient(top, #424242 0%,  #3e3f3f 100%);  padding-top: 35px;text-align: center; }
#account .head-portrait .account-user-pic{text-align: center; width: 200px; margin: 0 auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#account .head-portrait .account-user-pic img{ width:70px; height: 70px; border-radius: 70px; border: 2px solid #fff;margin: 0 auto;}
#account .head-portrait .account-user-pic p{ font-size: 1.05em; color: #fff;}
.head-bt-bg{ width: 100%;margin-top: -1px;}

#account .slider-pager span i{font-size: 12px!important;}
#account .part .part-img{float: left; width:33%; background: #fff; padding: 20px 0;text-align: center}
#account .part .part-img img{height: 65px; border-radius: 50px; display: block;margin:0 auto;}
#account .part .part-img img{height: 65px; border-radius: 50px; display: block;margin:0 auto;}

/*竞猜大厅*/
.quiz-title{z-index:99;position: absolute;top: 0px; left: 0; height: 40px; line-height: 40px; background: -webkit-linear-gradient(top, #424242 0%,  #3a3a3a 100%); color: #fff; width: 100%; text-align: center;}
.play-page{background: #fff;position: absolute;top: 40px; width: 100%; padding: 10px 0;}
.play-page .swiper-container-main .swiper-slide {padding: 5px 15px; font-size: 14px; margin-left: 10px; width:auto!important;}
.play-page .swiper-container-main{ width: 100%;}
.play-page .active{ background: #f35555;color: #fff; border-radius: 5px;}
.play-sort{ border-top: 1px solid #F1F2F7;  margin-top: 10px;}
.play-sort li{padding: 5px 12px; font-size: 0.9em; margin-left: 8px; width:auto!important; display: inline-block;margin-top: 10px; border: 1px solid #F1F2F7; border-radius: 5px;}

/*签到*/
.sign{position: relative;}
.sign img, .integral img{width: 100%; }
.sign p{position: absolute;bottom: 26px; width: 100%; color: #fff; font-size: 0.9em;}
.sign-contact{width: 94%; border: 2px solid #74c4e9; margin: 20px auto; border-radius: 10px;padding: 20px 10px; position: relative;}
.sign-contact h1{ color: #fff; background: #74c4e9; display: inline-block; padding: 5px 10px;font-size: 1.2em;margin-bottom: 8px;position: absolute;top: -15px;}

/*我的竞猜*/
.quiz-tab{z-index: 9999; position: absolute;top: 44px;width: 100%;background-color: #fff;}
.quiz-tab .quiz-tit{ overflow: hidden;width: 100%;}
.quiz-tab .quiz-tit li{ float: left; width: 29.9%; text-align: center; font-size: 1.2em; line-height: 35px; margin: 0 10%;border-bottom: 2px solid #fff;}
.quiz-tab .quiz-tit .active{ color: #f35555; border-bottom: 2px solid #f35555;}
.quiz-list b{ font-weight: normal; margin: 0 0; padding: 1px 5px;}
.quiz-card .item-divider, .integral-card .item-divider{ font-size: 1.2em!important; color: #0998da;}
.quiz-card .item-text-wrap{ font-size: 1.0em!important; }
.quiz-card .item-text-wrap b{ font-weight: normal; padding: 0 5px; }
.integral-table{ width: 100%; text-align: left;}
.integral-table tr td{ border-bottom: 1px solid #F1F2F7;border-collapse: collapse; padding: 10px 0;}
.integral-table tr td:last-child{ padding-left: 10%;}
.itg-table{ width: 100%; text-align: center;}
.itg-table thead{background: #F1F2F7;font-size: 1.2em;}
.itg-table thead th{padding: 10px 0;}
.itg-table tr td{padding: 10px 0;}
/*积分排行*/
#account-top .box{width: 90%;margin: 20px auto;}
#account-top .active{background-color: #fff;color: #e77169;}
#account-top button{width: 48%;height: 35px;color: #fff;background-color: #e77169;border: none;border-top-left-radius: 5px;border-top-right-radius: 5px;}
#account-top button.yue{float: left;}
#account-top button.all{float: right;}
#account-top .top{background-color: #fff;width: 100%;padding: 0 5px;clear: both;}
#account-top .top ul li img{width: 17px;float: left;}
#account-top .top ul li{padding: 10px;border-bottom: 1px solid #f2f2f2;overflow: hidden;}
#account-top .top ul li .img{float: left;margin-left: 5px;background-color: #06BE04;width: 30px;height: 30px;border-radius: 50%;}
#account-top .top ul li .name{float: left;margin: 5px 0 0 5px;vertical-align: sub;width: 85px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis}
#account-top .top ul li .num{float: right;margin: 5px 0 0 5px;vertical-align: sub;}
#account-top .listR{margin-left: 22px !important;}
/*冠军竞猜*/
#champion h2{text-align: center;padding: 10px 0;font-size: 0.9em;background-color: #fff;}
#champion .top-img{width: 100%;overflow: hidden;}
#champion .top-img img{width: 100%;}
#champion .content{padding: 1px 10px 10px 10px;overflow: hidden;}
#champion .element{background-color: #1e284e;width: 49%;color: #fff !important;margin-top: 10px;position: relative;}
#champion .element1{background-image: url("/addons/yike_guess/template/mobile/img/gou.png");background-repeat: no-repeat;background-position: 100% 0;background-size:15px 15px; }
#champion .element .name{width: 99%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #fff;font-weight: 600;font-size: 0.9em;word-spacing: 1px}
#champion .element .pei{font-size: 0.8em;}
#champion .element .zhichi{font-size: 0.8em;}
#champion .element:nth-child(odd){float: left;}
#champion .element:nth-child(even){float: right;}
#champion .element .team-img{width: 30%;overflow: hidden;float: left;padding-left: 10px;padding-top: 20px;}
#champion .element .team-img img{width: 40px;height: 40px;border-radius: 20px;}
#champion .element .team{width: 70%;padding: 5px 10px 10px 3px;float: right;overflow: hidden;top: 0;}
#champion .red-line{width: 0;height: 10px;background-color: #d0444e;transition-delay:0s;transition-duration:1s;}
#champion .dark-line{width: 100%;height: 10px;background-color: #3d4668;margin-top: 6px;}
#champion .pay-foot{width: 100%;position: fixed;bottom: 0;background-color: #cf4451;background-image:none;padding: 0;margin: 0;}
#champion .pay-foot input{height: 30px;margin-top: 7px;border-left: 1px solid #e2e2e2;border-right: 1px solid #e2e2e2;border-top: none;width: 70px;}
#champion .pay-foot span{margin-top: 7px;background-color: #fff;width: 30px;height: 30px;text-align: center;font-size: 1.4em;}
#champion .pay-foot span.sub{font-size: 1em;margin-left: 10px;}
#champion .pay-foot p{color: #fff;margin-left: 10px;margin-top: 5px;  }
#champion .pay-foot button{position: absolute;font-weight: 500;right: 0;color: #fff;background-color: #b22734;border: none;height: 44px;width: 100px;font-size: 1.2em;}
#champion .quiz-content P{color: #fff;    line-height: 25px;  font-size: 0.9em;  width: 90%;  margin: 0 auto;  padding: 10px;white-space: pre-line;}
#champion .pay-foot i{min-width: 25px;padding: 0 5px;margin-top: 7px}
#champion .pay-foot a{width: 30px;margin-top: 4px;color: #fff;}


#quiz .pay-foot{width: 100%;position: fixed;bottom: 0;background-color: #cf4451;background-image:none;padding: 0;margin: 0;}
#quiz .pay-foot input{height: 30px;margin-top: 7px;border-left: 1px solid #e2e2e2;border-right: 1px solid #e2e2e2;border-top: none;width: 70px;}
#quiz .pay-foot span{margin-top: 7px;background-color: #fff;width: 30px;height: 30px;text-align: center;font-size: 1.4em;}
#quiz .pay-foot span.sub{font-size: 1em;margin-left: 10px;}
#quiz .pay-foot p{color: #fff;margin-left: 10px;margin-top: 5px;  }
#quiz .pay-foot button{position: absolute;font-weight: 500;right: 0;color: #fff;background-color: #b22734;border: none;height: 44px;width: 100px;font-size: 1.2em;}
#quiz .quiz-content P{color: #000;    line-height: 25px;  font-size: 0.9em;  width: 90%;  margin: 0 auto;  padding: 10px;white-space: pre-line;}
#quiz .pay-foot i{min-width: 25px;padding: 0 5px;margin-top: 7px}
#quiz .pay-foot a{width: 30px;margin-top: 4px;color: #fff;}


.scrollToTop{height: 48px; width: 48px; position: fixed; bottom: 10%;right: 5%;z-index: 1000;display:none;background:url("../img/hui.png") no-repeat; background-size:100%; }























