{template 'common/header'}
<link href="../addons/enjoy_city/public/css/commono.css" rel="stylesheet" type="text/css">
<ul class="nav nav-tabs">
  <li class="active"><a href="javascript:history.go(-1);">返回上一页</a></li>
</ul>
<div class="clearfix">
  <div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
      <form action="" method="get" class="form-horizontal" role="form">
        <input type="hidden" name="a" value="entry" />
        <input type="hidden" name="c" value="site" />
        <input type="hidden" name="m" value="enjoy_city" />
        <input type="hidden" name="do" value="fans" />
        <div class="form-group">
          <label class="col-xs-12 col-sm-2 col-md-2 control-label">昵称</label>
          <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
            <input class="form-control"  style="display: inline-block;width:80%" name="nickname" type="text" value="{$_GPC['nickname']}">
            <button class="btn btn-default" style="display: inline-block;"><i class="fa fa-search"></i> 搜索</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"> 粉丝活动记录 </div>
    <div class="table-responsive panel-body">
      <table class="table table-hover">
        <tr>
          <th style="width:5%;">UID</th>
          <th style="width:5%;">头像</th>
          <th style="width:8%;">昵称</th>
          <th style="width:25%;">OPENID</th>
          <th style="width:8%;">用户名</th>
          <th style="width:8%;">手机号码</th>
          <th style="width:5%;">地区</th>
          <!-- <th style="width:8%;">IP</th> -->
          <th style="width:10%;">商铺</th>
          <th style="width:5%;">人脉</th>
          <th style="width:5%;">删除</th>
        </tr>
        {loop $fans $row}
        <tr>
          <td>{$row['uid']}</td>
          <td><img src="{$row['avatar']}" alt="" width="64" class="img-rounded" /></td>
          <td>{$row['nickname']}</td>
          <td>{$row['openid']}</td>
          <td>{$row['username']}</td>
          <td>{$row['mobile']}</td>
          <!--     <td>{if $row['gender']==1}男{else}女{/if}</td>-->
          <td>{$row['state']}/{$row['city']}</td>
          <!--  <td>{$row['ip']}</td> -->
          <td>{loop $row['firm'] $item}<a href="{php echo $this->createWebUrl('firm',array('id'=>$item[id],'op'=>'post'))}"> {$item['title']}</a>{/loop}</td>
          <td><a href="{php echo $this->createWebUrl('contact',array('id'=>$row['cid'],'op'=>'post'))}">{$row['cnickname']}</a></td>
          <td style="text-align:left;"><a href="{php echo $this->createWebUrl('fans', array('op' => 'delete', 'uid' => $row['uid']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i></a> </td>
        </tr>
        {/loop}
      </table>
    </div>
    <div class="panel-body text-right"> {$pager} </div>
  </div>
</div>
{template 'footer'}
{template 'common/footer'} 