{template 'weheader'}
{if $reid}
<script type="text/javascript">
$(function(){
	var rhtml = '<span class="weui-badge" style="position: absolute;top: 2px;right: 2px;">{$total}</span>';
	$('.weui_bar_item_on').append(rhtml);
});
</script>
<style>
.weui_tabbar_item {position: relative;}
a{color:#666}
.weui_tab a{color:#555}
.weui_navbar{line-height:20px;}
.weui_cells {margin-top:0;}
.weui_media_box.weui_media_text .weui_media_info {margin-top: 0px;}
.weui_tabbar_icon {height: 24px;}
.weui_bar_item_on .weui_tabbar_icon i {color: #09BB07;}
.weui_cell_bd i {color:#666;margin-left:20px;}
.weui_cells_title {margin:0;line-height:50px;height:50px;background-color:#f5f5f5;}
.weui_cells_title img {height:25px;border-radius:50%;}
.weui_cell img{height:25px;padding:0;margin:0;}

.dayu_cells {overflow: hidden;position: relative;}
.sticky-fixed {width: 100%;position: fixed;bottom: 0;z-index:9998;}

.weui-header-right a{padding-left:10px;}
.list .weui_media_box.weui_media_appmsg .weui_media_hd{width:32%;border-right: 1px solid #D9D9D9;line-height: 40px;}
.list .weui_media_box.weui_media_appmsg .weui_media_bd{width:68%;}
.list .weui_media_box.weui_media_appmsg .weui_media_bd .weui_media_desc{line-height:18px;}
.bg-gray{background-color:#ccc;}
.weui_actionsheet {background-color: transparent;}
.weui_actionsheet_action, .weui_actionsheet_menu{width:96%;border-radius:5px;margin:0 auto;}
.weui_actionsheet_action{margin:10px auto;}
.weui_actionsheet .weui_actionsheet_title {background-color: transparent;color:#fff;}
.weui_actionsheet .weui_actionsheet_title::after {border-top: 0px solid #d9d9d9;}
</style>
    <div class="weui_tab_bd">
		<div class="weui-header bg-orange">
			<div class="weui-header-left">
				<a href="javascript:;" id="act" class="f14 f-white">
					<svg class="icon f18" aria-hidden="true">
						<use xlink:href="#icon-calendar"></use>
					</svg> {$period_date}
				</a>
			</div>
			<h1 class="weui-header-title f16"></h1>
			<div class="weui-header-right">
				<a href="{$manage_url}">
					<svg class="icon f-white" aria-hidden="true">
						<use xlink:href="#icon-home"></use>
					</svg>
				</a>
				<a href="javascript:;" id="show-actions">
					<svg class="icon f-white" aria-hidden="true">
						<use xlink:href="#icon-training"></use>
					</svg>
				</a>
				{if $openid == $activity['kfid'] && $setting['store']!=1 && $activity['guanli']=='0'}
				<a class="" href="javascript:;" id="show-power">
					<svg class="icon f20" aria-hidden="true">
						<use xlink:href="#icon-member"></use>
					</svg>
				</a>
				{/if}
			</div> 
		</div>
	{if $setting['store']==1 && pdo_tableexists('dayu_yuyuepay_plugin_store_store') && !empty($sid)}
	<div class="weui_panel weui_panel_access" style="margin:0;">
		<a class="weui_panel_bd" href="{php echo murl('entry', array('do' => 'detail', 'id' => $sid, 'm' => 'dayu_yuyuepay_plugin_store'), true, true)}">
			<div class="weui_media_box weui_media_appmsg">
				<div class="weui_media_hd">
					<img class="weui_media_appmsg_thumb" src="{php echo tomedia($store['thumb'])}" alt="">
				</div>
				<div class="weui_media_bd">
					<h4 class="weui_media_title">{$store['name']}</h4>
					<p class="weui_media_desc -wrap"><span class="ico_scored"><strong class="score_{$store['score_num']}"></strong></span></p>
					<p class="weui_media_desc -wrap">
						<svg class="icon center" aria-hidden="true">
							<use xlink:href="#icon-Geo-fence"></use>
						</svg>
						{$store['loc_p']}{$store['loc_c']}{$store['loc_a']}{$store['address']}
					</p>
				</div>
			</div>
		</a>
	</div>
	{/if}
	{loop $rows $item}
		<div class="weui_panel weui_panel_access">
			{if !empty($setting['store']) && pdo_tableexists('dayu_yuyuepay_plugin_store_store')}
			<div  class="weui_panel_hd">
				{$item['ordersn']}				
				<small class="right">
					<svg class="icon f15 f-orange" aria-hidden="true">
						{if $item['address']}
						<use xlink:href="#icon-xinzeng"></use>
						{else}
						<use xlink:href="#icon-chulizhong"></use>
						{/if}
					</svg>
					{php echo date('Y-m-d H:i', $item[createtime]);}
					
				</small>
			</div>
			{else}
			<div data="{$item['member']} {$item['mobile']}" onclick="manage(this,{$item['rerid']})" class="weui_panel_hd">
				{if $openid == $activity['kfid'] && $activity['guanli']=='0'}
				<span class="dayu-badge bg-orange">{if !empty($item['kf'])}已派单{else}派单{/if}</span>
				{/if}
				{$item['ordersn']}				
				<small class="right">
					<svg class="icon f15 f-orange" aria-hidden="true">
						{if $item['address']}
						<use xlink:href="#icon-xinzeng"></use>
						{else}
						<use xlink:href="#icon-chulizhong"></use>
						{/if}
					</svg>
					{php echo date('Y-m-d H:i', $item[createtime]);}
					
				</small>
			</div>
			{/if}
			<div class="weui_panel_bd list" onclick="location.href='{php echo $this->createMobileUrl('manage_detail', array('id' => $item['rerid'], 'reid' => $reid, 'sid' => $item['sid']))}'">
				<div class="weui_media_box weui_media_appmsg">
					<div class="weui_media_hd">
						<div class="f-orange" style="height:20px;">
						{if $item['item']['price']!='0.00'}
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yuan"></use>
						</svg>
						<span class="f18">{$item['item']['price']}</span>
						{/if}
						</div>
						<small class="f-gray">{$item['item']['title']} {if $item['num'] > 1}<span class="f-orange"> × {$item['num']}</span>{/if}</small>
					</div>
					<div class="weui_media_bd">
						<h4 class="weui_media_title">{$item['member']} <small>{$item['mobile']}</small></h4>
						<p class="weui_media_desc -wrap f-black">{$activity['yuyuename']}：{$item['time']}</p>
						<p class="weui_media_desc f12"><span class="f-{$item['css']}">{$item['paytype']}</span>
							{if $item['paystatus'] == 1 && $item['status'] !=9}<span class="dayu-badge bg-gray">未付款</span>
							{elseif $item['paystatus'] == 2 && $item['status'] !=9 && $item['item']['price']!='0.00'}<span class="dayu-badge {if $item['status'] == -3}bg-gray{else}bg-orange{/if}">已付款</span>
							{/if}
							<span class="dayu-badge {$item['status']['css']}">{$item['status']['name']}</span>
							{if !empty($item['kf'])}<img src="{if !empty($item['kf']['tag']['avatar'])}{$item['kf']['tag']['avatar']}{else}{MODULE_URL}template/weui/images/noface.jpg{/if}" class="right middle circle" style="width:20px;height:20px;">{/if}
						</p>
					</div>
				</div>
			</div>
		</div>
	{/loop}
	{if $pager}<div class="p" style="height:32px;margin:10px 0 0;">{$pager}</div>{/if}
    </div>
<div class="tab-bottom">
	<div class="weui_tabbar">
		<a href="{php echo $this->createMobileUrl('manage',array('id' => $reid, 'period' => $period, 'sid' => $sid))}" class="weui_tabbar_item {if $_GPC['status'] == ''}weui_bar_item_on{/if}">
			<div class="weui_tabbar_icon">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-all"></use>
				</svg>
			</div>
			<p class="weui_tabbar_label">全部</p>
		</a>
		<a href="{php echo $this->createMobileUrl('manage',array('id' => $reid, 'status'=>0, 'period' => $period, 'sid' => $sid))}" class="weui_tabbar_item {if $_GPC['status'] == '0'}weui_bar_item_on{/if}">
			<div class="weui_tabbar_icon">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-time"></use>
				</svg>
			</div>
			<p class="weui_tabbar_label">{php echo($this->get_status_name($reid,'0'))}</p>
		</a>
		<a href="{php echo $this->createMobileUrl('manage',array('id' => $reid, 'status'=>1, 'period' => $period, 'sid' => $sid))}" class="weui_tabbar_item {if $_GPC['status'] == '1'}weui_bar_item_on{/if}">
			<div class="weui_tabbar_icon">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-service"></use>
				</svg>
			</div>
			<p class="weui_tabbar_label">{php echo($this->get_status_name($reid,'1'))}</p>
		</a>
		<a href="{php echo $this->createMobileUrl('manage',array('id' => $reid, 'status'=>2, 'period' => $period, 'sid' => $sid))}" class="weui_tabbar_item {if $_GPC['status'] == '2'}weui_bar_item_on{/if}">
			<div class="weui_tabbar_icon">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-close"></use>
				</svg>
			</div>
			<p class="weui_tabbar_label">{php echo($this->get_status_name($reid,'9'))}</p>
		</a>
		<a href="{php echo $this->createMobileUrl('manage',array('id' => $reid, 'status'=>3, 'period' => $period, 'sid' => $sid))}" class="weui_tabbar_item {if $_GPC['status'] == '3'}weui_bar_item_on{/if}">
			<div class="weui_tabbar_icon">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-check"></use>
				</svg>
			</div>
			<p class="weui_tabbar_label">{php echo($this->get_status_name($reid,'3'))}</p>
		</a>
	</div>
</div>
    <div id="actionSheet_wrap">
        <div class="weui_mask_transition" id="mask"></div>
        <div class="weui_actionsheet" id="weui_actionsheet">
		<div class="weui_actionsheet_title">管理权限交接</div>
            <div class="weui_actionsheet_menu">
			{loop $staff $s}
				<div class="weui_actionsheet_cell"><a data="{$s['nickname']}" onclick="power(this,{$reid},'{$s['openid']}','manage')" class=" {if $s['openid']==$openid}f-orange{/if}">{$s['nickname']}</a></div>
			{/loop}
            </div>
            <div class="weui_actionsheet_action">
                <div class="weui_actionsheet_cell" id="actionsheet_cancel">取消</div>
            </div>
        </div>
    </div>
<script>
	{if pdo_tableexists('dayu_signin_activity')}
		$.getJSON("{php echo murl('entry', array('do' => 'CheckSign', 'm' => 'dayu_signin'), true, true)}", {'reid':'{$reid}'}, function(s){
//		alert(s.message.status);
			if (s.message.status=='1') {
				var html = '<a href="'+s.message.link+'">'+
						'<svg class="icon f-white" aria-hidden="true">'+
						'<use xlink:href="#icon-qrcode"></use>'+
						'</svg>'+
						'</a>';
				$('.weui-header-right').append(html);
			}
		});
window.addEventListener('scroll',function(){
    var _scrollTop = document.body.scrollTop;
    var backUp = document.querySelector('.back_up');
    if(_scrollTop > 200){
		backUp.classList.add('show');
    }else{
		backUp.classList.remove('show');
    }
    if(_scrollTop > 0){
    }
},false);
	{/if}
	function power(obj,reid,openid,table){
		$.confirm("确定要转移给 "+obj.getAttribute("data")+" 吗？", "转移管理权", function() {
			$.post("{php echo $this->createMobileUrl('power');}",{'reid':reid,'openid':openid,'table':table},function(d){
				if (d.message.status == 1) {
					$.alert(d.message.msg)
					setTimeout(function() {
						window.location.reload();
						return;
					}, 2500)
				}else{
					$.alert(d.message.msg);
					return false;
				}
			},"json");
		}, function() {
			$.toast("取消转移", "cancel");
		});
	}
	function manage2(rerid,name,openid){
		$.confirm("确定要指派给 "+name+" 吗？", "指派受理客服", function() {
			$.post("{php echo $this->createMobileUrl('power');}",{'reid':'{$reid}','rerid':rerid,'openid':openid,'table':'case'},function(d){
				if (d.message.status == 1) {
					$.alert(d.message.msg)
					setTimeout(function() {
						window.location.reload();
						return;
					}, 2500)
				}else{
					$.alert(d.message.msg);
					return false;
				}
			},"json");
		}, function() {
			$.toast("取消派单", "cancel");
		});
	}
	function manage(obj,rerid){
		$.actions({
			title: obj.getAttribute("data")+" 派单给",
			onClose: function() {
				console.log("close");
			},
			actions: [
				{loop $staff $sf}
				{if $sf['openid']==$openid}
				{else}
					{
					text: "{$sf['nickname']}",
					className: "color-primary",
					onClick: function() {
						manage2(rerid,"{$sf['nickname']}","{$sf['openid']}")
					}
					},
				{/if}
				{/loop}
			]
		});
	}
	$(document).on("click", "#show-actions", function() {
		$.actions({
			title: "{$list_title}",
			onClose: function() {
				console.log("close");
			},
			actions: [
				{loop $list $item}
				{if $item['reid']==$reid}
					{
					text: "{$item['title']}",
					className: "f-orange"
					},
				{else}
					{
					text: "{$item['title']}",
					className: "color-primary",
					onClick: function() {
						window.location.href = '{php echo $this->createMobileUrl('manage', array('id' => $item[reid],'sid' => $item[sid]))}';
					}
					},
				{/if}
				{/loop}
			]
		});
	});

	$("#show-power").click(function(){
		var mask = $('#mask');
		var weuiActionsheet = $('#weui_actionsheet');
		weuiActionsheet.addClass('weui_actionsheet_toggle');
		mask.show().addClass('weui_fade_toggle').one('click', function () {
			hideActionSheet(weuiActionsheet, mask);
		});
		$('#actionsheet_cancel').one('click', function () {
			hideActionSheet(weuiActionsheet, mask);
		});
		weuiActionsheet.unbind('transitionend').unbind('webkitTransitionEnd');

		function hideActionSheet(weuiActionsheet, mask) {
			weuiActionsheet.removeClass('weui_actionsheet_toggle');
			mask.removeClass('weui_fade_toggle');
			weuiActionsheet.on('transitionend', function () {
				mask.hide();
			}).on('webkitTransitionEnd', function () {
				mask.hide();
			})
		}
	});
   
	$(document).on("click", "#act", function() {
		$.actions({
			title: "选择提交时间范围",
			onClose: function() {
				console.log("close");
			},
			actions: [
			{
				text: "{php echo date('Y年m月', strtotime('now'))}",
				className: "color-primary",
				onClick: function() {
					window.location.href = '{php echo $this->createMobileUrl('manage', array('period' => '1', 'status' => $status, 'id' => $reid, 'sid' => $sid))}';
				}
			},
            {
				text: "{php echo date('Y年m月', strtotime('now - 1 month'))}",
				className: "color-warning",
				onClick: function() {
					window.location.href = '{php echo $this->createMobileUrl('manage', array('period' => '-1', 'status' => $status, 'id' => $reid, 'sid' => $sid))}';
				}
            },
            {
				text: "{php echo date('Y年m月', strtotime('now - 2 month'))}",
				className: 'color-danger',
				onClick: function() {
					window.location.href = '{php echo $this->createMobileUrl('manage', array('period' => '-2', 'status' => $status, 'id' => $reid, 'sid' => $sid))}';
				}
			},
            {
				text: "{php echo date('Y年m月', strtotime('now - 3 month'))}",
				className: 'color-danger',
				onClick: function() {
					window.location.href = '{php echo $this->createMobileUrl('manage', array('period' => '-3', 'status' => $status, 'id' => $reid, 'sid' => $sid))}';
				}
			},
            {
				text: "{php echo date('Y年m月', strtotime('now - 4 month'))}",
				className: 'color-danger',
				onClick: function() {
					window.location.href = '{php echo $this->createMobileUrl('manage', array('period' => '-4', 'status' => $status, 'id' => $reid, 'sid' => $sid))}';
				}
			}
			]
		});
	});
</script>
{php $footer_off = 1;}
{else}
<style>
.dayu-header {padding: 25px 0;}
.dayu-title {text-align: center;font-size: 25px;color: #3cc51f;font-weight: 400;margin: 0;}
.dayu-sub-title {color: #888;padding:0 10px;font-size: 14px;text-indent:2em;}
.dayu-content-padded {padding: 15px;}
.dayu-second-title {text-align: center;font-size: 24px;color: #3cc51f;font-weight: 400;margin: 0 15%;}
</style>
    <header class='dayu-header'>
      <h1 class="dayu-title">选择主题</h1>
    </header>
	
<div class="weui_tab" style="margin:0 5%">
{loop $list $item}
	<a href="{php echo $this->createMobileUrl('manage', array('weid' => $item[weid], 'id' => $item[reid], 'sid' => $sid))}" class="weui_btn weui_btn_primary" style="color:#fff;">{$item['title']}</a>
{/loop}
</div>
{/if}
{php $share = 1;}
{template 'footers'}