{template 'weheader'}
<style>
.dayu-header {padding: 25px 0;}
.dayu-title {text-align: center;font-size: 25px;color: #3cc51f;font-weight: 400;margin: 0;}
.dayu-sub-title {color: #888;padding:0 10px;font-size: 14px;text-indent:2em;}
.dayu-content-padded {padding: 15px;}
.dayu-second-title {text-align: center;font-size: 24px;color: #3cc51f;font-weight: 400;margin: 0 15%;}

.weui_grid {padding: 10px 10px;width: 33.33333333%;}
.weui_grids_icon {width: 100%;height: 18px;margin: 0 auto 5px;padding:0;font-size:14px;}
.weui_cell_ft i{padding:3px;width:15px;height:15px;}
.weui_cell_primary{width:80%;}
</style>
    <div class="weui_tab_bd">
		<div class="weui-header bg-blue" style="background-color:{$setting['aheaderbg']}"> 
			<div class="weui-header-left"></div>
			<h1 class="weui-header-title f16">用户中心</h1>
			<div class="weui-header-right">
			</div> 
		</div>
       <div class="weui_panel weui_panel_access" style="margin:0;">
            <div class="weui_panel_bd">
                <a href="{php echo $this->createMobileUrl('info', array('from'=>'dayu_yuyuepay','returnurl' => $returnUrl))}" class="weui_media_box weui_media_appmsg weui_panel_ft">
                    <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb radius-md" src="{if !empty($member['avatar'])}{$member['avatar']}{else}{$fans['tag']['avatar']}{/if}" alt="">
                    </div>
                    <div class="weui_media_bd">
					{if $member['realname'] && $member['mobile']}
                        <h4 class="weui_media_title">{$member['nickname']}<span class="f14" style="margin-left:10px;">{$member['mobile']}</span></h4>
                        <p class="weui_media_desc">{$member['resideprovince']} {$member['residecity']} {$member['residedist']} {$member['address']}</p>
					{else}
                        <h4 class="weui_media_title">完善我的资料</h4>
					{/if}
                    </div>
                </a>
            </div>
					<!--
            <a class="weui_panel_ft -wrap ell" href="{php echo $this->createMobileUrl('address', array('from'=>'dayu_yuyuepay','pcate'=>$_GPC['pcate'],'returnurl' => $returnUrl))}">{if !$address['address']}添加联系方式{else}{$address['username']} {$address['mobile']} | {$address['address']}{/if}</a>
					-->
        </div>
		
	<div class="weui_panel">
		<div class="weui_grids pay">
			<a href="{$pay_url}" class="weui_grid" data-id="toast">
				<div class="weui_grid_icon">
					<svg class="icon f25 f-orange" aria-hidden="true">
						<use xlink:href="#icon-pay"></use>
					</svg>
				</div>
				<p class="weui_grid_label">
                    余额充值
				</p>
			</a>
			<a href="javascript:;" id="scanqrcode" class="weui_grid">
				<div class="weui_grid_icon">
					<svg class="icon f25 f-orange" aria-hidden="true">
						<use xlink:href="#icon-saoyisao"></use>
					</svg>
				</div>
                <p class="weui_grid_label">
                    扫一扫
				</p>
			</a>
			<a href="{$dhcoupon_url}" class="weui_grid">
				<div class="weui_grid_icon">
					<svg class="icon f25" aria-hidden="true">
						<use xlink:href="#icon-biaoqian"></use>
					</svg>
				</div>
                <p class="weui_grid_label">
                    兑换卡券
                </p>
			</a>
			<a class="weui_grid" href="{php echo url('mc/bond/credits', array('credittype' => $behavior['currency'], 'type' => 'record', 'period' => '1'))}">
				<div class="weui_grid_icon">
					<svg class="icon f25" aria-hidden="true">
						<use xlink:href="#icon-qianbao"></use>
					</svg>
				</div>
                <p class="weui_grid_label">
                    {$credits[$behavior['currency']]}
				</p>
			</a>
			<a href="{php echo url('mc/bond/credits', array('credittype' => $behavior['activity'], 'type' => 'record', 'period' => '1'))}" class="weui_grid">
				<div class="weui_grid_icon">
					<svg class="icon f25" aria-hidden="true">
						<use xlink:href="#icon-credit"></use>
					</svg>
				</div>
                <p class="weui_grid_label">
                    {$credits[$behavior['activity']]}
				</p>
			</a>
			<a href="{$mycoupon_url}" class="weui_grid">
				<div class="weui_grid_icon">
					<svg class="icon f25" aria-hidden="true">
						<use xlink:href="#icon-quan"></use>
					</svg>
				</div>
                <p class="weui_grid_label">
                    我的卡券
                </p>
			</a>
		</div>
	</div>
		{if !$list}
			<div class="weui_msg f-gray"><i class="iconfont f22">&#xe616;</i> 没有预约记录</div>
		{else}
		<div class="weui_panel">
            <div class="weui_panel_hd">{$subject}</div>
            <div class="weui_panel_bd">
                <div class="weui_media_box weui_media_small_appmsg">
                    <div class="weui_cells weui_cells_access">
					{loop $list $item}
                        <a class="weui_cell" href="{php echo $this->createMobileUrl('Mydayu_yuyuepay', array('weid' => $item[weid], 'id' => $item[reid]))}">
                            <div class="weui_cell_hd"><img src="{if !empty($item['icon'])}{php echo tomedia($item['icon'])}{else}data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII={/if}" alt="" style="width:20px;margin-right:5px;display:block"></div>
                            <div class="weui_cell_bd weui_cell_primary">
                                <p class="-wrap ell">{$item['title']}</p>
                            </div>
                            <span class="weui_cell_ft f12 f-red">{$item['yuyue']}</span>
                        </a>
					{/loop}
                    </div>
                </div>
            </div>
        </div>
		{/if}
		
		
	</div>
	
<script>
	$('#scanqrcode').click(function(){
		wx.ready(function(){
			wx.scanQRCode({
				needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
				scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
				success: function (res) {
					var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
				}
			});
		});
	});
</script>
{php $share = 1;}
{template 'footers'}