{template 'common'}
{php $newbtn_img = '../addons/weisrc_diandeng/template/style/newbtn.png'}
{php $error_img = '../addons/weisrc_diandeng/template/style/error.png'}
<input type="hidden" name="reply_id" value="{$reply['id']}" />
{if $reply['id']}
<div class="panel panel-default">
    <div class="panel-heading">
        活动数据
    </div>
    <div class="panel-body">
        <div class="row-fluid">
            <div class="span8 control-group">
                <a class="btn btn-default" href="{php echo $this->createWebUrl('fanslist',array('op'=>'display', 'rid' => $rid));}">参与用户</a>
            </div>
        </div>
    </div>
</div>
{/if}
<div class="panel panel-default">
<div class="panel-heading">
    活动设置
</div>
<div class="panel-body">
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动名称</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" id="title" class="form-control" placeholder="" name="title" value="{$reply['title']}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 图文图片</label>
        <div class="col-sm-9 col-xs-12">
            {php echo tpl_form_field_image('start_picurl',$reply['start_picurl']);}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动介绍</label>
        <div class="col-sm-9 col-xs-12">
            <textarea style="height:60px;" id='description' name="description" class="form-control" cols="60">{$reply['description']}</textarea>
            <span class="help-block">用于户图文显示</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动时间</label>
        <div class="col-sm-9 col-xs-12">
            {php echo tpl_form_field_daterange('datelimit', array('starttime'=>date('Y-m-d H:i',$reply['starttime']),'endtime'=>date('Y-m-d H:i',$reply['endtime'])), true)}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 版权信息</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control" name="copyright" value="{$reply['copyright']}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 版权链接</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" class="form-control" name="copyrighturl" value="{$reply['copyrighturl']}" />
        </div>
    </div>
</div>
    <div class="panel-heading">
        结束设置
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动结束标题</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" id="end_theme" class="form-control" placeholder="" name="end_theme" value="{$reply['end_theme']}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动结束图片</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('end_picurl',$reply['end_picurl']);}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动结束说明</label>
            <div class="col-sm-9 col-xs-12">
                <textarea style="height:60px;" id='end_instruction' name="end_instruction" class="form-control" cols="60">{$reply['end_instruction']}</textarea>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 自定义领取选项</label>-->
            <!--<div class="col-sm-9 col-xs-12">-->
                <!--<label class="checkbox-inline">-->
                    <!--<input type="checkbox" name="isweixin" value="1" {if $reply['isweixin'] == 1} checked="checked"{/if} />微信-->
                <!--</label>-->
                <!--<label class="checkbox-inline">-->
                    <!--<input type="checkbox" name="isage" value="1" {if $reply['isage'] == 1} checked="checked"{/if} />年龄-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="panel-heading">
        活动样式设置
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 顶部LOGO</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('logo',$reply['logo']);}
                <div class="help-block" style="color: #f00;">建议尺寸：640*239</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 背景图片</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('bg',$reply['bg']);}
                <div class="help-block" style="color: #f00;">建议尺寸：640*856</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 灯笼图片</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('light',$reply['light']);}
                <div class="help-block" style="color: #f00;">建议尺寸：162*373</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 灯光图片</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('light2',$reply['light2']);}
                <div class="help-block" style="color: #f00;">建议尺寸：267*344</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 文字背景图片</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('paper',$reply['paper']);}
                <div class="help-block" style="color: #f00;">建议尺寸：104*104</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 二维码</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('qrcode',$reply['qrcode']);}
                <div class="help-block" style="color: #f00;">建议尺寸：430*430</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 背景音乐</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="music_url" value="{$reply['music_url']}" />
            </div>
        </div>
    </div>
    <div class="panel-heading">
        活动详细设置
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">排名模式</label>
            <div class="col-sm-9">
                <label for="mode1" class="radio-inline"><input type="radio" name="mode" value="1" id="mode1" {if $reply['mode'] == 1}checked="true"{/if} /> 完成时间</label>
                &nbsp;&nbsp;&nbsp;
                <label for="mode2" class="radio-inline"><input type="radio" name="mode" value="2" id="mode2"  {if $reply['mode'] == 2}checked="true"{/if} /> 点灯数量</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">报名设置</label>
            <div class="col-sm-9">
                <div style="border:1px #eee dashed; padding:10px;background:#F5F5F5;">
                    <label for="isusername" class="checkbox-inline"><input id="isusername" type="checkbox" name="isusername" value="1" {if  $reply['isusername'] == 1}checked{/if}> 姓名</label>
                    <label for="istel" class="checkbox-inline"><input id="istel" type="checkbox" name="istel" value="1" checked> 手机</label>
                    <label for="isaddress" class="checkbox-inline"><input id="isaddress" type="checkbox" name="isaddress" value="1" {if  $reply['isaddress'] == 1}checked{/if}> 地址</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 用户每天可以点灯数量</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="day_times" value="{$reply['day_times']}" />
                <div class="help-block" style="color: #f00;">注意:填0为不限制</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 用户总共可以点灯数量</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="total_times" value="{$reply['total_times']}" />
                <div class="help-block" style="color: #f00;">注意:填0为不限制</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 活动规则</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_ueditor('rule', $reply['rule']);}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 兑奖流程</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_ueditor('rule2', $reply['rule2']);}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">
                <span style='color:red'>*</span> 文字设置：
            </label>
            <div class="col-sm-9 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">
                    <div class="alert alert-block alert-new" style='width:500px;'>
                    <h4>文字一</h4>
                    <table class='table2'>
                        <tr>
                            <th style="width: 120px;"><span class='red'>*</span>文字名称</th>
                            <td>
                                <input id="c_name_one" name="c_name_one" type="text" class="form-control form-control-excel" value="{$reply['c_name_one']}"  maxlength="50"/>
                                <div class="help-block" style="color: #f00;">注意:当用户没抽到任何一个文字时，默认抽取第一个字</div>
                            </td>
                        </tr>
                        <tr>
                            <th><span class='red'>*</span>抽中概率</th>
                            <td>
                                <div class="input-group">
                                    <input id="c_rate_one"  name="c_rate_one" type="text" class="form-control form-control-excel" value="{$reply['c_rate_one']}" />
                                    <span class="input-group-addon">%</span>
                                </div>
                                <div class="help-block" style="color: #f00;">注意不能用小数</div>
                            </td>
                        </tr>
                    </table>
                    <h4>文字二</h4>
                        <table class='table2'>
                        <tr>
                            <th style="width: 120px;"><span class='red'>*</span>文字名称</th>
                            <td>
                                <input id="c_name_two" name="c_name_two" type="text" class="form-control form-control-excel" value="{$reply['c_name_two']}"  maxlength="50"/></td>
                        </tr>
                        <tr>
                            <th><span class='red'>*</span>抽中概率</th>
                            <td>
                                <input id="c_rate_two"  name="c_rate_two" type="text" class="form-control form-control-excel" value="{$reply['c_rate_two']}" />
                                <div class="help-block" style="color: #f00;">注意不能用小数</div>
                            </td>
                        </tr>
                    </table>
                    <h4>文字三</h4>
                        <table class='table2'>
                        <tr>
                            <th style="width: 120px;"><span class='red'>*</span>文字名称</th>
                            <td>
                                <input id="c_name_three" name="c_name_three" type="text" class="form-control form-control-excel" value="{$reply['c_name_three']}"  maxlength="50"/></td>
                        </tr>
                        <tr>
                            <th><span class='red'>*</span>抽中概率</th>
                            <td>
                                <div class="input-group">
                                    <input id="c_rate_three"  name="c_rate_three" type="text" class="form-control form-control-excel" value="{$reply['c_rate_three']}" />
                                    <span class="input-group-addon">%</span>
                                </div>
                                <div class="help-block" style="color: #f00;">注意不能用小数</div>
                            </td>
                        </tr>
                    </table>
                    <h4>文字四</h4>
                        <table class='table2'>
                        <tr>
                            <th style="width: 120px;"><span class='red'>*</span>文字名称</th>
                            <td>
                                <input id="c_name_four" name="c_name_four" type="text" class="form-control form-control-excel" value="{$reply['c_name_four']}"  maxlength="50"/></td>
                        </tr>
                        <tr>
                            <th><span class='red'>*</span>抽中概率</th>
                            <td>
                                <div class="input-group">
                                    <input id="c_rate_four"  name="c_rate_four" type="text" class="form-control form-control-excel" value="{$reply['c_rate_four']}" />
                                    <span class="input-group-addon">%</span>
                                </div>
                                <div class="help-block" style="color: #f00;">注意不能用小数</div>
                            </td>
                        </tr>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        奖品信息
    </div>
    <div class="panel-body">
        {if $prize}
        {loop $prize $item}
        <div>
            <input type="hidden" name="prize_id[{$item['id']}]" value="{$item['id']}" />
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 control-label">奖品类别</label>
                <div class="col-sm-2" style="width: 19.5%;">
                    <input class="form-control" type="text" value="{$item['prizetype']}" name="prizetype[{$item['id']}]">
                </div>
                <label class="col-xs-12 col-sm-1 col-md-1 control-label">奖品名称</label>
                <div class="col-sm-2" style="width: 19.5%;">
                    <input class="form-control" type="text" value="{$item['prizename']}" name="prizename[{$item['id']}]">
                </div>
                <label class="col-xs-12 col-sm-1 col-md-1 control-label">奖品数量</label>
                <div class="col-sm-2" style="width: 19.5%;">
                    <div class="input-group">
                        <input class="form-control" type="text" value="{$item['prizetotal']}" name="prizetotal[{$item['id']}]">
                        <span class="input-group-addon">份</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品图片</label>
                <div class="col-sm-9">
                    {php echo tpl_form_field_image('prizepic['.$item['id'].']',$item['prizepic']);}
                    <div class="help-block">奖品显示图片 图片大小418px X 418px</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                <div class="col-sm-9">
                    <button type="button" class="btn btn-danger btn_del_award2" data-id="{$item['id']}">删除</button>
                </div>
            </div>
            <hr/>
        </div>
        {/loop}
        {/if}
        <div id="prize" style="display: none">
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 control-label">奖品类别</label>
                <div class="col-sm-2" style="width: 19.5%;">
                    <input class="form-control" type="text" value="" name="prizetype_new[]">
                </div>
                <label class="col-xs-12 col-sm-1 col-md-1 control-label">奖品名称</label>
                <div class="col-sm-2" style="width: 19.5%;">
                    <input class="form-control" type="text" value="" name="prizename_new[]">
                </div>
                <label class="col-xs-12 col-sm-1 col-md-1 control-label">奖品数量</label>
                <div class="col-sm-2" style="width: 19.5%;">
                    <div class="input-group">
                        <input class="form-control" type="text" value="" name="prizetotal_new[]">
                        <span class="input-group-addon">份</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品图片</label>
                <div class="col-sm-9">
                    {php echo tpl_form_field_image('prizepic_new[]','');}
                    <div class="help-block">奖品显示图片 图片大小418px X 418px</div>
                </div>
            </div>
        </div>
        {if empty($prize)}
        <div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-2 col-md-2 control-label">奖品类别</label>
                <div class="col-sm-2" style="width: 19.5%;">
                    <input class="form-control" type="text" value="" name="prizetype_new[]">
                </div>
                <label class="col-xs-12 col-sm-2 col-md-1 control-label">奖品名称</label>
                <div class="col-sm-2" style="width: 19.5%;">
                    <input class="form-control" type="text" value="" name="prizename_new[]">
                </div>
                <label class="col-xs-12 col-sm-2 col-md-1 control-label">奖品数量</label>
                <div class="col-sm-2" style="width: 19.5%;">
                    <div class="input-group">
                        <input class="form-control" type="text" value="" name="prizetotal_new[]">
                        <span class="input-group-addon">份</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖品图片</label>
                <div class="col-sm-9">
                    {php echo tpl_form_field_image('prizepic_new[]','');}
                    <div class="help-block">奖品显示图片 图片大小418px X 418px</div>
                </div>
            </div>
            <hr/>
        </div>
        {/if}
        <span id="award_insert_flag" style="display: none"></span>
        <div class="form-group">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <button id="btn_add_award" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus"></span> 添加奖品
                </button>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        分享设置
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 分享标题</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" id="share_title" class="form-control" placeholder="" name="share_title" value="{$reply['share_title']}">
                <div class="help-block">
                    分享的文字，用户显示分享给用户的介绍!<br/>
                    #username#为分享出去用户昵称
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 分享图片</label>
            <div class="col-sm-9 col-xs-12">
                {php echo tpl_form_field_image('share_image',$reply['share_image']);}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 分享描述</label>
            <div class="col-sm-9 col-xs-12">
                <textarea style="height:60px;" name="share_desc" class="form-control" cols="60">{$reply['share_desc']}</textarea>
                <div class="help-block">
                    #username#为分享出去用户昵称
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 分享地址</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" id="share_url" class="form-control" placeholder="" name="share_url" value="{$reply['share_url']}">
                <div class="help-block">分享的链接! 推荐用微信平台的素材库，转成短地址。<a target="_blank" href="http://www.dwz.cn/">短网址转换</a></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 引导关注链接</label>
            <div class="col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="follow_url" value="{$reply['follow_url']}" />
                <div class="help-block">引导关注的链接! 推荐用微信平台的素材库，转成短地址。<a target="_blank" href="http://www.dwz.cn/">短网址转换</a></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">参赛是否需要关注</label>
            <div class="col-sm-9">
                <label for="isneedfollow1" class="radio-inline"><input type="radio" name="isneedfollow" value="0" id="isneedfollow1" {if $reply['isneedfollow'] == 0}checked="true"{/if} /> 不</label>
                &nbsp;&nbsp;&nbsp;
                <label for="isneedfollow2" class="radio-inline"><input type="radio" name="isneedfollow" value="1" id="isneedfollow2"  {if $reply['isneedfollow'] == 1}checked="true"{/if} /> 是</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 col-md-2 control-label">助力是否需要关注</label>
            <div class="col-sm-9">
                <label for="ishelpfollow1" class="radio-inline"><input type="radio" name="ishelpfollow" value="0" id="ishelpfollow1" {if $reply['ishelpfollow'] == 0}checked="true"{/if} /> 不</label>
                &nbsp;&nbsp;&nbsp;
                <label for="ishelpfollow2" class="radio-inline"><input type="radio" name="ishelpfollow" value="1" id="ishelpfollow2"  {if $reply['ishelpfollow'] == 1}checked="true"{/if} /> 是</label>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
</div>
 <script>
 $('form').submit(function(){
   if($("#title").isEmpty()){
		Tip.focus("title","请输入活动名称!","right");
		return false;
   }
    if($("#description").isEmpty()){
		Tip.focus("description","请输入活动简介!","right");
		return false;
   }

    if($("#end_theme").isEmpty()){
		Tip.focus("end_theme","请输入活动结束标题!","right");
		return false;
   }
//   if($("#upload-image-url-end_picurl").isEmpty()){
//		Tip.focus("upload-image-url-end_picurl","请上传活动结束图片!","right");
//		return false;
//   }
    if($("#end_instruction").isEmpty()){
		Tip.focus("end_instruction","请输入活动结束说明!","right");
		return false;
   }
   if($("#c_name_one").isEmpty()){	Tip.focus("c_name_one","请输入文字1!","bottom");	return false;  }
     if($("#c_name_two").isEmpty()){	Tip.focus("c_name_one","请输入文字2!","bottom");	return false;  }
     if($("#c_name_three").isEmpty()){	Tip.focus("c_name_one","请输入文字3!","bottom");	return false;  }
     if($("#c_name_four").isEmpty()){	Tip.focus("c_name_one","请输入文字4!","bottom");	return false;  }
//   if($("#c_num_one").isEmpty()){	Tip.focus("c_num_one","请输入奖品数量!","right");	return false;  }
//   if($("#c_name_two").isEmpty()){	Tip.focus("c_name_two","请输入奖品名称!","left");	return false;  }
//     if($("#c_name_three").isEmpty()){	Tip.focus("c_name_three","请输入奖品名称!","left");	return false;  }
//     if($("#c_name_four").isEmpty()){	Tip.focus("c_name_four","请输入奖品名称!","left");	return false;  }
//     if($("#c_name_five").isEmpty()){	Tip.focus("c_name_five","请输入奖品名称!","left");	return false;  }
//     if($("#c_name_six").isEmpty()){	Tip.focus("c_name_six","请输入奖品名称!","left");	return false;  }
   return true;
});
 function moreItem() {
	 var more = $("#more_item").val();
	 if(more=="0" || more==""){
	    $("#c_four").show();
	    $("#c_five").show();
	    $("#c_six").show();
	 }
	 else{
	    $("#c_four").hide();
	    $("#c_five").hide();
	    $("#c_six").hide();
	 }
	 $("#more_item").val(more=='1'?'0':'1');
}
function doDeleteItemImage(obj,id) {
		var filename = $('input#' + id+"-value").val();
		$('.' + id +"_preview").html("");
		$(obj).html("正在删除...").attr("disabled",true);
 		   ajaxopen('./index.php?act=attachment&do=delete&filename=' + filename, function(){
		   $(obj).html("<i class='icon-upload-alt'></i> 删除").hide().removeAttr("disabled");
		});
	}
require(['jquery', 'util'], function($, u){
     $(function(){
     });
});
 $('#btn_add_award').bind('click', function(){
     var content = '<div>';
     content += $("#prize").html();
     content += '<div class="form-group">';
     content += '<label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>';
     content += '<div class="col-sm-9">';
     content += '<button type="button" class="btn btn-danger btn_del_award">删除</button>';
     content += '</div>';
     content += '</div>';
     content += '<hr/>';
     content += '</div>';
     $('#award_insert_flag').before(content);
 });
 $('.btn_del_award').bind('click', function(){
     var obj = $(this).parent().parent().parent();
     obj.slideUp(300, function() {
         obj.remove();
     });
 });
 $('.btn_del_award2').bind('click', function(){
     var obj = $(this).parent().parent().parent();
     obj.slideUp(300, function() {
         obj.remove();
     });

     id = $(this).attr("data-id");
     $.post('{php echo $this->createWebUrl('deleteaward',array('rid' => $rid));}', {id:id},function(data){
     },'json');
 });
 </script>
<style>
    .form-control-excel {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .table2 {
        width: 100%;
        max-width: 100%;
        min-width: 650px;
        margin-bottom: 20px
    }

    .table2>thead>tr>th, .table2>tbody>tr>th, .table2>tfoot>tr>th, .table2>thead>tr>td,
    .table2>tbody>tr>td, .table2>tfoot>tr>td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd
    }

    .table2>thead>tr>th {
        vertical-align: bottom;
        width: 120px;
        border-bottom: 2px solid #ddd
    }

    .table2>caption+thead>tr:first-child>th, .table2>colgroup+thead>tr:first-child>th, .table2>thead:first-child>tr:first-child>th, .table2>caption+thead>tr:first-child>td, .table2>colgroup+thead>tr:first-child>td, .table2>thead:first-child>tr:first-child>td {
        border-top: 0
    }

    .table2>tbody+tbody {
        border-top: 2px solid #ddd
    }

    .table2 .table2 {
        background-color: #fff
    }
</style>
 