/* CSS Document */
body{ background-color:#f9f9f9;}
.tc{ text-align:center;}
.pt2{ padding-top:2em;}
.mb1{ margin-bottom:1em;}
.mr-5{ margin-right:.5em;}
.small{ font-size:.8rem;}
.lh1-8{ line-height:1.8rem;}
.mg10{ margin:10px;}
.big{ font-size:1.5rem;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.bg-white{ background-color:#FFF;}





