.bk_li dt b,.bk_li dd b {
    text-indent: 0;
    display: inline-block;
    max-width: 75%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal
}

.bk_li dt,.bk_li dd {
    border-bottom: 1px solid #d6d6d6;
    text-indent: 1.5rem;
    box-sizing: border-box;
    height: 42px;
    line-height: 42px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%
}

.bk_li dt,.bk_li dd:after {
    clear: both
}

.bk_li dt .fr,.bk_li dd .fr {
    padding-right: 5px;
    font-size: 24px;
    font-weight: 100
}

.bk_li dt .fr.f12 {
    font-size: 12px
}

.bk.show .arrow {
    display: block
}

.level2,.level3 {
    display: none;
    background-color: #efefef
}

.level2 .qh {
    background-color: white
}

.level1 .qh {
    background-color: #efefef
}

.arrow {
    border: 8px solid transparent;
    border-top-color: white;
    box-sizing: border-box;
    position: absolute;
    top: -13px;
    display: none
}

.ui-scroller {
    overflow: hidden;
    height: 335px;
    width: 100%
}

.ui-scroller dl {
    background-color: #fff
}

.ui-scroller.level2 dl {
    background-color: #efefef
}

.ui-scroller.level3 dl {
    background-color: #efefef
}

.plate-container {
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 335px;
    width: 100%;
    bottom: 62px;
    overflow: hidden;
    display: none;
    background: #fff;
}

.ui-scroller .qh {
    color: #17b5ee
}

.ui-scrollertypeTop {
    width: 100%;
    background-color: #FFF;
    height: 40px;
    overflow: hidden;
    line-height: 40px
}

.ui-scrollertypeTop li {
    float: left
}
