footer {
    width: 100%;
    position: fixed;
    bottom: 0
}

footer ul {
    position: relative;
    background: #fff;
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    height: 49.5px;
    padding-top: 4px
}

.icon-post-pay-read i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -494px;
    background-size: 100%
}

footer ul li {
    width: 25%;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    float: left;
    color: #949494
}

footer ul li i {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    margin-bottom: 3px
}

.footer-index-icon i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -26px;
    background-size: 100%
}

.footer-post-icon i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -130px;
    background-size: 100%
}

.footer-me-icon i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -182px;
    background-size: 100%
}

.footer-index-icon a {
    color: #17b5ee
}

.footer-index-icon.off a {
    color: #949494;
    display: inline-block;
    width: 100%
}

.footer-index-icon.off i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 0;
    background-size: 100%
}

.footer-section-icon i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -52px;
    background-size: 100%
}

.footer-section-icon.show {
    color: #17b5ee
}

.footer-section-icon.show i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -104px;
    background-size: 100%
}
