.hide {
    display: none
}

.c {
    clear: both
}

.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.value-add-services {
    color: #333;
    font-size: 14px
}

.value-add-services ul,.value-add-services li {
    margin: 0;
    padding: 0
}

.value-add-services h2 {
    font-size: 14px;
    margin: 0;
    padding: 0
}

.table-wrap {
    border-bottom: 1px solid #f1f1f1
}

.table_title {
    width: 95%;
    float: right;
    position: relative;
    height: 39px;
    line-height: 39px
}

.mode-table-page {
    width: 95%
}

.mode-table-page tr td {
    padding: 10px 0;
    position: relative
}

.mode-table-page tr td:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d6d6d6;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}

.mode-table-page tr td.no-border {
    border: 0
}

.mode-table-page tr td.no-border:before {
    display: none
}

.icon_radio {
    padding-right: 10px;
    min-width: 85px;
    display: inline-block
}

.icon_radio input[type="radio"] {
    display: none
}

.icon_radio input[type="checkbox"] {
    display: none
}

.icon_radio span:before {
    width: 1em;
    content: '\EA01';
    color: #c9c9c9;
    font-size: 17px;
    display: inline-block;
    font-family: "weui";
    font-style: normal;
    font-weight: normal;
    background-color: white;
    padding-right: 3px
}

.icon_radio.sel span:before {
    content: '\EA06';
    color: #17b5ee
}

.icon_radio input[disabled]:before {
    color: #ebebe4
}

.icon_radio span {
    display: inline-block
}

.icon_radio {
    padding-right: 10px
}

#sel_top_articletype {
    width: 165px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    height: 25px
}

.input-small {
    width: 100px;
    font-size: 14px
}

.input-small[disabled] {
    background-color: #fff
}

.sel-placetop-wrap {
    display: none;
    margin: 5px auto 5px 5px
}

#tr_articletype {
    display: none
}

.result i,.result em {
    font-style: normal
}

.result em {
    color: #ff6a00;
    margin-left: 10px
}
