body {
    height: 100%
}

.one-new-reddot {
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ff3328;
    font-family: Arial;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    top: -1px;
    right: -10px
}

.two-new-reddot {
    display: block;
    height: 18px;
    width: 24px;
    border-radius: 9px;
    background: #ff3328;
    font-family: Arial;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    top: -1px;
    right: -17px
}

.three-new-reddot {
    display: block;
    height: 18px;
    width: 28px;
    border-radius: 9px;
    background: #ff3328;
    font-family: Arial;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    top: -1px;
    right: -20px
}

.tc_bg {
    display: none;
    z-index: 1;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.post-wrap {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    height: 100%
}

.post-wrap-main {
    padding-bottom: 100px
}

.post-wrap-textarea-box {
    width: 100%;
    resize: none;
    height: 120px;
    padding: 6px;
    margin-bottom: 15px;
    line-height: 150%;
    font-size: 15px;
    text-align: left;
    overflow: auto;
    color: #333;
    letter-spacing: .5px
}

.post-wrap-pic-select {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 7px
}

.post-wrap-pic-select li {
    width: 22.6%;
    margin: 1%
}

.post-wrap-pic-select i {
    width: 16px;
    height: 16px;
    display: block;
    background: rgba(0,0,0,.5) url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-03.png) no-repeat 0 -16px;
    background-size: 100%;
    top: 0;
    right: 0
}

.post-wrap-pic-select-box {
    border: 1px solid #d9d9d9;
    height: 65px;
    background: url(http://i.pengxun.cn/content/images/imgpost2/success-select-column-close-add.png) center center no-repeat;
    background-size: 35px 35px
}

.post-voice-all {
    padding: 0 15px;
    margin-bottom: 5px
}

.post-voice-box-rp {
    width: 150px;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    float: left;
    cursor: pointer
}

.post-voice-close {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: rgba(0,0,0,.5) url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-03.png) no-repeat 0 -17px;
    background-size: 100%;
    top: -6px;
    right: -6px
}

.post-voice-box-pause {
    background: url('http://i.pengxun.cn/content/images/voice/voiceplaying.png') no-repeat;
    background-size: 22px 22px;
    margin: 9px 0 0 10px;
    width: 22px;
    height: 22px
}

.post-rp-voice-time {
    line-height: 37px;
    font-size: 14px;
    color: #878787;
    float: left;
    margin-left: 7px
}

.post-video-all {
    padding: 0 15px;
    margin-bottom: 5px
}

.post-video-all i {
    width: 16px;
    height: 16px;
    display: block;
    background: rgba(255,255,255,.5) url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-03.png) no-repeat 0 -16px;
    background-size: 100%;
    top: 0;
    right: 0
}

.post-reward-all {
    padding: 0 15px;
    margin-bottom: 5px
}

.post-reward-all p {
    display: inline-block;
    color: #17b5ee;
    padding: 8px 19px
}

.location-submit {
    width: 100%;
    padding: 0 15px 10px 15px
}

.location-submit p {
    padding: 5px 10px;
    height: 26px;
    min-width: 88px;
    max-width: 180px;
    display: inline-block;
    background: #fbfbfb;
    border-radius: 13px;
    text-align: center;
    font-size: 12px;
    overflow: hidden
}

.location-text {
    padding-left: 13px;
    background: url(http://i.pengxun.cn/content/images/imgpost2/post-big-pic-02.png) no-repeat;
    height: 16px;
    background-size: 12px 30px;
    display: inline-block;
    line-height: 16px;
    overflow: hidden
}

.location-no {
    color: #858585;
    background-position: 0 0
}

.location-ok {
    color: #507daf;
    background-position: 0 -15px
}

.location-submit input,.post-video-submit {
    height: 26px;
    width: 50px;
    background: #17b5ee;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    line-height: 26px
}

.post-wrap-function-bt {
    height: 52px;
    width: 100%;
    background: #f5f5f5;
    padding-top: 4px
}

.post-wrap-function-bt li {
    width: 16.66%;
    cursor: pointer;
    color: #949494;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    float: left
}

.post-wrap-function-bt li i {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    margin-bottom: 3px
}

.icon-post-section i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -52px;
    background-size: 100%
}

.icon-post-expression i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -234px;
    background-size: 100%
}

.icon-post-pic i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -286px;
    background-size: 100%
}

.icon-post-voice i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -338px;
    background-size: 100%
}

.icon-post-video i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -390px;
    background-size: 100%
}

.icon-post-reward i {
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-01.png) no-repeat 0 -442px;
    background-size: 100%
}

.post-qq-face-all {
    width: 100%;
    height: 185px;
    padding-top: 10px
}

.post-section-first-level-column {
    width: 100%;
    max-height: 119px;
    padding: 5px 10px
}

.post-section-first-level-column ul {
    height: 100%;
    overflow: auto;
    max-height: 109px
}

.post-section-first-level-column li {
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    margin: 3px;
    cursor: pointer
}

.post-section-first-level-column li:hover {
    color: #17b5ee
}

.post-section-second-level-column-bg {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    z-index: 1000
}

.post-section-second-level-column {
    min-width: 320px;
    max-width: 960px;
    max-height: 326px;
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 0
}

.post-section-second-level-column-name {
    height: 42px;
    line-height: 42px;
    top: 0;
    width: 100%;
    letter-spacing: .5px;
    padding: 0 16px;
    font-size: 16px;
    text-align: center
}

.post-section-second-level-column-close {
    height: 42px;
    line-height: 42px;
    background: #17b5ee;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 0 16px;
    text-align: center;
    letter-spacing: .5px
}

.post-section-second-level-column-select {
    margin-top: 42px;
    margin-bottom: 42px
}

.post-section-second-level-column-select ul {
    max-height: 240px;
    overflow: auto
}

.post-section-second-level-column-select ul li {
    height: 42px;
    line-height: 42px
}

.post-section-second-level-column-select ul li {
    padding: 0 15px;
    text-align: center;
    letter-spacing: .5px
}

.post-section-second-level-column-select ul li:hover {
    color: #17b5ee
}

.success-select-column {
    width: 100%;
    padding: 5px 10px
}

.success-select-column li {
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    margin: 3px;
    color: #17b5ee
}

.success-select-column-close {
    top: 11px;
    cursor: pointer;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url(http://i.pengxun.cn//content/images/imgpost2/01/post-big-pic-03.png) no-repeat 0 0;
    background-size: 100%
}

.post-video-submit {
    bottom: 0
}

.post-top-all {
    padding-left: 15px
}

.post-top-all-select {
    padding: 10px 15px 10px 0;
    display: block
}

.post-top-all-select-circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
    background: url(http://i.pengxun.cn/content/images/imgpost2/post-big-pic-04.png) no-repeat 0 0;
    background-size: 100%
}

.dis-ib {
    display: inline-block
}

.post-top-range {
    padding-top: 10px;
    padding-right: 15px
}

.mb-10 {
    margin-bottom: 10px
}

.ov-hidden {
    overflow: hidden
}

.write-number {
    font-size: 14px;
    width: 60px;
    line-height: 19px;
    text-align: center
}

.bomb-box-bg-all {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 auto
}

.bomb-box-bg {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    margin: 0 auto;
    min-width: 320px;
    max-width: 960px
}

.post-local-video {
    width: 50%;
    height: 40px;
    font-size: 18px;
    color: #17b5ee;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: white
}

.post-internet-video {
    width: 50%;
    height: 40px;
    font-size: 18px;
    color: #17b5ee;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: white
}

.bomb-box-bg input:hover {
    color: #fff;
    background: #17b5ee
}

.post-wrap-function-bt:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d6d6d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}

.post-top-all:before,.post-video-thread:before,.post-qq-face-all:before,.post-top-range:before,.post-top-all-select:before,.post-wrap-function-line-top:after,.post-section-first-level-column:after,.post-section-second-level-column-select ul li:after,.post-section-second-level-column-name:after,.success-select-column:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d6d6d6;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}

.post-voice-box-rp:before,.post-reward-all p:before {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d6d6d6;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 8px
}

footer ul:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #b4b4b4;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}

.location-submit p:before {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d6d6d6;
    border-radius: 26px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box
}

.post-section-first-level-column li:before {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box
}

.post-section-first-level-column li:hover:before,.success-select-column li:before {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #17b5ee;
    border-radius: 4px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box
}

.success-select-column-close:before {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #17b5ee;
    border-radius: 100%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box
}

.title-box:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d6d6d6;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}

.table_title {
    height: 47px;
    line-height: 47px;
    overflow: hidden
}

.table-wrap {
    position: relative;
    border-bottom: none!important
}

.table-wrap:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d6d6d6;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5)
}

.barline {
    float: left;
    width: 200px;
    background: #FFF;
    border: 2px solid #4dbf7d;
    height: 12px;
    display: inline-block;
    border-radius: 8px;
    display: none;
    position: absolute;
    left: 70px;
    top: 70px
}

.barline #percent {
    position: absolute;
    left: 0;
    top: -30px;
    display: inline-block;
    color: #4dbf7d;
    font-size: 16px
}

.barline #line {
    float: left;
    height: 12px;
    overflow: hidden;
    background: #4dbf7d;
    border-radius: 8px
}

.barline #msg {
    position: absolute;
    left: 80px;
    top: 30px;
    display: inline-block;
    color: #4dbf7d;
    font-size: 14px
}
