.fr_ds_main{
    text-align: center;
}
.fr_ds_pd50{
    padding: 50px 0;
}
.fr_ds_subtitle{
    color: #8c8c8c;
    font-size: 14px;
    margin-bottom: 15px;
}
.fr_ds_btn, .fr_ds_btn:hover, .fr_ds_btn:focus, .fr_ds_btn:active{
    background: #dc5d4a;
    border-radius: 5px;
    color:#FFF;
    font-size: 16px;
    padding: 8px 20px;
    text-decoration: none;
}

.fr_ds_list{
    margin-top: 30px;
}
.fr_ds_list .fr_ds_number{
    font-size: 16px;
    color: #8c8c8c;
}
.fr_ds_list .fr_ds_number a{
    color: #607fa6;
    text-decoration: none;
}
.fr_ds_list ul{
    padding: 0 10%;
    margin-top: 10px;
}
.fr_ds_list ul li{
    float: left;
    display: inline-block;
    margin-right: 1.6%;
    margin-bottom: 1.6%;
    width: 9.1%;
}
.fr_ds_list ul li img{
    width: 100%;
}
.fr_ds_admire_top{
    background: #d75847;
    border: 45px #d75847 solid;
    border-radius: 60% 60% 60% 60% / 0% 0% 60% 60%;
    position: relative;
}
.fr_ds_cover{
    width: 60px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: 15px;
}
.fr_ds_cover img{
    width: 100%;
}

.fr_ds_name{
    margin-top: 60px;
    font-size: 24px;
}

.fr_ds_money_list{
    margin-top: 60px;
    padding: 0 12%;
}
.fr_ds_money_list li{
    float: left;
    display: inline;
    border: 2px #d75644 solid;
    border-radius: 5px;
    width: 31.2%;
    color:#d75644;
    margin-right: 2.3%;
    margin-bottom: 7%;
}
.fr_ds_money_list li a{
    display: block;
    padding: 3px;
    color:#d75644;
    text-decoration: none;
}
.fr_ds_money_list li a:active, .fr_ds_money_list li a:hover, .fr_ds_money_list li a:focus{
    background: #d75644;
    color:#FFF;
    text-decoration: none;
}
.fr_ds_money_list li:nth-child(3n){
    margin-right: 0;
} 
.fr_ds_money_list li i{
    font-size: 26px;
    font-family: 'Halvett Italic';
    margin-right: 5px;
}
.fr_ds_money_list li span{
    font-size: 12px;
}
.fr_ds_other_money{
    text-align: center;
}
.fr_ds_other_money a{
    color: #7a93b4;
    font-size: 16px;

}

.fr_ds_detail{
    background: #FFF;
    border-top:0.5px silver solid; 
    border-bottom:0.5px silver solid; 
}
.fr_ds_detail .fr_ds_line{
    padding: 8px 0;
    margin: 0;
    font-size: 16px;
    text-align: left;
    width: 100%;
    position: relative;
    display: block;
    padding-left: 5%;
}
.fr_ds_detail a.fr_ds_line:active,.fr_ds_detail a.fr_ds_line:focus,.fr_ds_detail a.fr_ds_line:hover{
    background: #ececec;
}

.fr_ds_detail .fr_ds_line .fr_ds_label{
    color: #888886;
    position: absolute;
    top: 50%;
    margin-top: -13px;
}
.fr_ds_detail .fr_ds_line .fr_ds_value{
    color: #000;
    margin-left: 25%;
    width: 60%;
    display: inline-block;
}
.fr_ds_detail .fr_ds_author{
    border-top:0.5px silver solid;
    margin-left: 5%;
    width: 95%;
    padding-left: 0;
}
.fr_ds_detail .fr_ds_line .pull-right{
    display:inline-block; 
    font-size:22px; 
    line-height:0; 
    color:#888; 
    position:absolute; 
    right:15px; 
    top:50%; 
    margin-top: -11px;
}
.fr_ds_t{
    color: #888886;
    padding: 20px 0 0 5%;
    font-size: 16px;
    text-align: left;
}

.fr_ds_list2{
    background: #FFF;
}
.fr_ds_list2 ul{
    padding: 8px 5%;
    margin-top: 10px;
}
.fr_ds_list2 ul li{
    float: left;
    display: inline-block;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    width: 10%;
}
.fr_ds_list2 ul li:nth-child(8n){
    margin-right: 0;
} 
.fr_ds_list2 ul li img{
    width: 100%;
}

.fr_ds_mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
}
.fr_ds_dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 640px;
    margin: 0 auto;
    background: #FFF;
    border-radius: 5px;
    margin-top: -90px;
    display: none;
}
.fr_ds_dialog .fr_ds_dialog_title{
    position: relative;
    height: 42px;
    text-align: center;
    color: #000;
    border-bottom: 0.5px #e7e6e4 solid;
}
.fr_ds_dialog_title h4{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0;
    line-height: 42px;
}
.fr_ds_dialog_close{
    margin: 15px 0 0 20px;
}
.fr_close{
    display: inline-block;
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 15px;
    float: left;
    cursor: pointer;
}
.fr_close::before, .fr_close::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.fr_close::after {
    transform: rotate(-45deg);
}
.fr_close::before {
    transform: rotate(45deg);
}
.fr_close.hairline::before, .fr_close.hairline::after {
    height: 1px;
}
.fr_close.white::before, .fr_close.white::after {
    background: #FFF;
}
.fr_ds_dialog_content{
    padding: 15px;
}
.fr_ds_dialog_content .fr_ds_input_box{
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding: 5px 0;
    border: 0.5px #e7e6e4 solid;
    margin-top: 5px;
    position: relative;
}
.fr_ds_input_box > label{
    float: left;
    margin: 0 15px 0 0;
    text-indent: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #000;
    font-weight: normal;
}
.fr_ds_input_box > input{
    float: left;
    border: 0;
    height: 30px;
    line-height: 30px;
    width: 60%;
    font-size: 16px;
}
.fr_ds_input_box > input::-webkit-input-placeholder {
    color: #888;
    -webkit-transition: color .5s;
} 
.fr_ds_input_box > input:focus::-webkit-input-placeholder {
    color: #c2c2c2;
    -webkit-transition: color .5s;
} 
#fr_ds_btn{
    background: #04be02;
    width: 100%;
    border: 0;
    margin-top: 20px;
    border-radius: 5px;
    height: 42px;
    line-height: 42px;
    color: #FFF;
    font-size: 16px;
}
#fr_ds_btn.disabled, #fr_ds_btn[disabled] {
    color: rgba(255,255,255,0.6);
}

#quickdelete{
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7.5px;
    color: #FFF; 
    background: #b2b2b2; 
    border-radius: 50%; 
    overflow: hidden; 
    padding: 2px; 
    display: none;
}

#quickdelete .fr_close{
    width: 11px;
    height: 11px;
}