*{padding:0;margin:0;outline:none}
body{font-family:'Microsoft Yahei','Simsun';font-size:14px;color:#666;background:#ebebeb;-webkit-text-size-adjust:none;min-width:310px;min-height:540px;overflow-x:hidden;}
ul li{list-style:none}
img{border:none;vertical-align:middle;}
a{color:#333;text-decoration:none;-webkit-touch-callout:none}
i,em{font-style:normal}
input, textarea, select{font-family: 'Microsoft Yahei', 'Simsun';font-size: 14px}
.clear{ clear:both;}
/*即将开始1*/
.banner{ max-width:640px;margin:0 auto;max-height:168px;}
.banner img{ max-width:100%;}
.tongji{ width:100%;height:60px;background:url(./bg_x.png) repeat-x -60px 0;background-size:auto 100%;position:relative;z-index:10px;}
.tongji li{ width:33.333%;float:left;text-align:center;color:#fff45c;line-height:22px;padding-top:8px;}
.tongji li span{ color:#fff;}
.con{ background:#3a0255 url(./bg.jpg) ;  padding: 60px 10px 20px;margin-top:-60px;  background-size: 100% auto;}
.con .tips{ height:50px;line-height:50px;color:#fff45c;}
.con .tips i{ height:50px;background:url(./xin.png) no-repeat 0 center;display:block;background-size:24px;padding-left:30px;margin:0 auto;font-size:16px;}
.con .tips span{ margin:0 auto;padding-left:20px;display:block;}
.con .neirong{ background:#2e0144;border:1px solid #5a009c;padding:10px;line-height:22px;color:#fff;border-radius:5px;}
.neirong .more{ color:#fff45c;text-decoration:underline;}
.neirong img{width:100%;max-width:640px;}
.xuanshou{ background:#2e0144;border:1px solid #5a009c;padding:10px;overflow:hidden;}
.biaozhu{ width:100%;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0;color:#fff;padding:5px 10px;}
.xuanshou .pic{ width:100%;max-height:250px;overflow:hidden;position:relative;}
.xuanshou .pic img{ max-width:100%;}
.xuanshou .toupiao{ height:40px;}
.toupiao .piaoshu{ height:35px;line-height:35px;color:#fff45c;font-size:14px;}
.tp{float:right;background:#e2216f;color:#fff;width:50px;height:24px;text-align:center;line-height:24px;border-radius:3px;margin-top:10px;} 
.nav{ width:100%;height:50px;background:#28013b;position:fixed;bottom:0;display:block;z-index:10000;}
.nav li{ width:20%;float:left;text-align:center;}
.nav li .a{ display:block;color:#fff;}
.nav li .a::before{content:"";width:20px;height:20px;background:url(./navbai.png) no-repeat 0 0;display:block;margin:5px auto 4px;background-size:20px auto;}
.nav li:nth-child(2) .a::before{ background-position:0 -27px;}
.nav li:nth-child(3) .a::before{ background-position:0 -52px;}
.nav li:nth-child(4) .a::before{ background-position:0 -75px;}
.nav li:nth-child(5) .a::before{ background-position:0 -99px;}
.nav li.cur .a{ color:#e2216f;}
.nav li.cur .a::before{background:url(./navhong.png) no-repeat 0 0;background-size:20px auto;}
.nav li.cur:nth-child(3) .a::before{ background:url(./navhong.png) no-repeat 0 -52px;background-size:20px auto;}
.nav li.cur:nth-child(4) .a::before{ background:url(./navhong.png) no-repeat 0 -75px;background-size:20px auto;}
.zanzhu{ background:rgba(46, 1, 68, 0.46);border:0px solid #5a009c;padding:10px 10px 0;margin-bottom:10px;overflow:hidden;}
.zanzhu li{ width:49%;float:left;margin:0 2% 10px 0;overflow:hidden;}
.zanzhu li:nth-child(2n){margin-right:0;}
.zanzhu li img{ width:100%;}




/*即将开始2*/
.top_p{ line-height:24px;}
.guize{ margin-top:30px;}
.guize h3{ font-size:14px;font-weight:normal;line-height:22px;}
.guize li{line-height:24px;}
/*开始了1*/
.xs_list{ background:#2e0144;border:1px solid #5a009c;border-bottom:0;overflow:hidden;}
.xs_list li{ border-bottom:1px solid #5a009c;overflow:hidden;padding:10px;}
.xs_list .f_left{ float:left;width:50%;}
.f_left i{ height:24px;line-height:24px;}
.f_left i.up{ color:#b0b0b0;}
.f_left i.down{ color:#fff;}
/*开始了2*/
.pic_list{ overflow:hidden;position:relative;}
.pic_list li{ width:49%;margin:0 2% 8px 0;border:1px solid #440170;overflow:hidden;float:left;box-sizing:border-box;background:#2e0144;}
.li_box{ overflow:hidden;}
.xs_pic{position:relative;}
.xs_pic img{ max-width:100%;}
.biaozhu_s{ width:100%;background:rgba(0,0,0,0.5);position:absolute;left:0;bottom:0;color:#fff;padding:5px 10px;text-align:center;box-sizing:border-box;font-size:14px;}
.pic_list li:nth-child(2n){ margin-right:0;}

img{vertical-align:middle}

.falls{overflow:hidden;}
.falls ul{width:50%;padding:0 10px;float:left;box-sizing:border-box}
.falls ul.fl{padding:0 3px 0 0}
.falls ul.fr{padding:0 0 0 3px}
.falls ul li{ width:100%;margin:0 2% 8px 0;border:0px solid #440170;overflow:hidden;float:left;box-sizing:border-box;background:rgba(46, 1, 68, 0.52);position:relative;}
.falls ul li:last-child{margin-bottom:0}
.falls ul li::after{content:"";width:60%;height:55%;content:'';right:15px;bottom:10px;-webkit-box-shadow:0 8px 30px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 8px 30px rgba(0, 0, 0, 0.4);box-shadow:0 8px 30px rgba(0, 0, 0, 0.4);-webkit-transform:skew(6deg) rotate(5deg);-moz-transform:skew(6deg) rotate(5deg);transform:skew(6deg) rotate(5deg);position:absolute;z-index:-1;}
/*.falls ul li a{width:100%;display:block;box-sizing:border-box;background:#f5f5f5}*/
.falls ul li p{height:30px;line-height:30px;color:#666;font-size:14px;padding:0 10px;overflow:hidden;position:relative;overflow:hidden}
.falls ul li p span{margin-right:15px;display:block;}
.falls ul li p em{color:#999;position:absolute;top:0;right:10px;font-style:normal}
.falls ul li img{width:100%;}
.falls.single ul.fl{padding:0 10px}
#loadMore, #loading{clear:left;text-align:center;font-size:14px;color:#fff;line-height:50px;}
#loadMore span{padding-right:18px;position:relative;}
#loadMore span:after{content:"";position:absolute;width:9px;height:9px;border-top:1px solid #fff;border-right:1px solid #fff;-moz-transform:rotate(135deg);-webkit-transform:rotate(135deg);transform:rotate(135deg);margin:-7px 0 0 5px;top:50%;}
/*已结束1*/
.paihang{background:rgba(46, 1, 68, 0.73);border:0px solid #5a009c;color:#fff;border-radius:5px;overflow:hidden;}
.biaotou{ padding:10px;overflow:hidden;}
.biaotou div{ float:left;}
.paihang ul div{ float:left;}
.paihang ul li{ height:40px;border-top:1px solid #5a009c;line-height:40px;padding:10px;  overflow: hidden;}
.paihang ul li a{ color:#fff45c;height:40px;line-height:40px;}
.one1{ width:32px;height:50px;background:url(./paiming.png) no-repeat 0 0;background-size:32px;display:block;margin-top:0px;}
.one2{ width:32px;height:50px;background:url(./paiming.png) no-repeat 0 -52px;background-size:32px;display:block;margin-top:0px;}
.one3{ width:32px;height:50px;background:url(./paiming.png) no-repeat 0 -108px;background-size:32px;display:block;margin-top:0px;}
.two{ width:26px;height:26px;border-radius:26px;background:#e2216f;color:#fff;display:block;line-height:26px;text-align:center;margin:7px 0 0 3px;}
/*已结束2*/
.paihang_tu ul li{ height:50px;border-top:1px solid #5a009c;line-height:50px;padding:10px;}
.paihang_tu ul li a{ color:#fff45c;height:50px;line-height:50px;}
.img{ width:50px;height:50px;border:2px solid #9780a2;border-radius:50px;margin-right:15px;box-sizing:border-box;overflow:hidden;}
.img img{ border-radius:50px;width:50px;height:50px;}
.three{ width:22px;height:22px;border-radius:22px;background:#fff45c;color:#333;display:block;line-height:22px;text-align:center;margin:16px 0 0 3px;}
.paihang_tu li:nth-child(1) .three{background:#e2216f;color:#fff45c;} 
.paihang_tu li:nth-child(2) .three{background:#e2216f;color:#fff45c;} 
.paihang_tu li:nth-child(3) .three{background:#e2216f;color:#fff45c;} 
/*选手资料*/
.back{ width:100%;background:#e2216f;color:#fff;border-radius:3px;display:block;padding:6px 0;margin-top:10px;font-size:16px; text-align:center;}
.detail{ border:1px solid #5a009c;border-radius:5px;padding:10px;background:#2e0144;}
.zong{padding:10px;width:100px;background:rgba(226,33,111,0.5);border-radius:0 25px 25px 0;color:#fff;margin:0 0 10px -10px;}
.detail .wenzi li{ color:#fff;line-height:24px;} 
.detail .wenzi li img{ width:100%; max-width:640px;}
.pictrue li{ max-height:200px;overflow:hidden;margin:10px 0 20px;}
.pictrue li img{ max-width:100%;}
.pictrue li:last-child{ margin-bottom:0;}
.lapiao{ width:100%;height:50px;background:rgba(0,0,0,0.5);position:fixed;bottom:0;z-index:10000;}
.lapiao .l{ float:left;color:#fff;height:46px;line-height:46px;background:url(./lapiao.png) no-repeat 20px 12px;background-size:24px;padding-left:50px;}
.lapiao .r{ float:right;color:#fff;height:46px;line-height:46px;background:url(./lapiao.png) no-repeat 20px -25px;background-size:24px;padding :0 20px 0 50px;}
.change_color{ float:right;color:#e2216f;height:46px;line-height:46px;background:url(./lapiao.png) no-repeat 20px -104px;background-size:24px;padding :0 20px 0 50px;}
.add{ width:60px;height:60px;border-radius:60px;background:#3a0255;padding:4px;position:absolute;left:50%;top:0px;margin:-25px;}
.add .i{ width:60px;height:60px;border-radius:60px;background:#fff45c;display:block;border:5px solid #613577;box-sizing:border-box;color:#ef1e6f;text-align:center;padding-top:23px;}
.add .i i{ width:20px;height:20px;display:block;margin:-18px auto 2px;}
.i i img{ max-width:100%;}
.i i img.changesize{-webkit-animation:loveChange 1s ease}
@-webkit-keyframes loveChange{
	0% {-webkit-transform:scale(1)}
	50% {-webkit-transform:scale(3)}
	100% {-webkit-transform:scale(1)}
}
.jia{opacity:0;color:#ef1e6f;font-size:20px;position:absolute;top:-5px;left:31%;font-weight:bold;}
.lapiao span.jiayi{-webkit-animation:jia 1s ease}
@-webkit-keyframes jia{
	0% {top:-5px;}
	50% {opacity:1}
	100% {top:-30px;}
}
.addl{ width:70px;height:70px;border-radius:70px;background:rgba(255, 255, 255, 0.2);padding:5px;position:absolute;left:50%;top:-0px;margin:-25px;}
.addl .i{ width:60px;height:60px;border-radius:60px;background:#fff45c;display:block;border:5px solid #613577;box-sizing:border-box;color:#ef1e6f;text-align:center;padding-top:23px;}
.addl .i i{ width:20px;height:20px;display:block;margin:-18px auto 2px;}
.i i img{ max-width:100%;}
.liuyan{ border:1px solid #5a009c;border-radius:5px;background:#2e0144;}
.user{ height:115px;border-bottom:1px solid #5a009c; overflow:hidden;}
.user .yelow{height:40px;line-height:40px;color:#fff45c;font-size:14px;padding-left:36px;background:url(./kongxin.png) no-repeat 10px 12px;background-size:20px;display:block;margin-bottom:3px;}
.fensi{ width:70%;float:left; overflow:hidden;}
.fensi li{ float:left;width:60px;font-size:10px;text-align:center; margin-bottom:50px;}
.fensi li a{color:#fff; font-size:12px;}
.fensi li .zhaopian{ width:40px;height:40px;border-radius:100%;margin:0 auto 5px;}
.fensi li .zhaopian img{ border-radius:100%;width:100%;height:100%;}
.jihe{ height:40px;line-height:40px;color:#e2216f;}
.pinglun{ display:inline-block;background:#e2216f;color:#fff;font-size:14px;padding:3px 5px;margin:10px 0 0 10px;}
.lypl li{ padding:10px;border-bottom:1px solid #5a009c;}
.lypl li dl{ overflow:hidden;}
.lypl li dt{float:left;width:16%;height:40px;margin-right:1%;}
.lypl li dt .box{width:40px;height:40px;border-radius:100%;}
.lypl li dt img{ width:100%;height:100%;border-radius:40px;} 
.lypl li dd{width:83%;float:left;}
.lypl li dd .up{overflow:hidden;}
.lypl li dd .up .left{ color:#e2216f;font-size:14px;float:left;}
.lypl li dd .up .right{ color:#fff;float:right;font-size:12px;height:20px;line-height:20px;}
.lypl li dd .down{ font-size:15px;color:#fff;}
.lypl li:last-child{ border:0;}
.fbliuyan{ width:100%;background:#e2216f;color:#fff;border-radius:3px;display:block;padding:6px 0;margin:10px 0 20px;font-size:16px;}
/*投票用户*/
.haoyou{ border:1px solid #5a009c;border-radius:5px;background:#2e0144;margin-bottom:10px;}
.haoyou .tou{height:40px;line-height:40px;color:#fff45c;font-size:14px;padding-left:36px;background:url(./kongxin.png) no-repeat 10px 12px;background-size:20px;}
.liebiao li{ border-top:1px solid #5a009c;padding:10px;overflow:hidden;}
.liebiao li a{ color:#fff;position:relative;}
.liebiao li .img_tu{ width:50px;height:50px;border-radius:50px;margin-right:15px;box-sizing:border-box;overflow:hidden;float:left;}
.liebiao li .img_tu img{ border-radius:50px;width:50px;height:50px;}
.nicheng{float:left;height:50px;line-height:50px;}
.liebiao i{ float:right;}
.liebiao i::after{content:"";width:10px;height:10px;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);-webkit-transform:rotate(45deg);display:inline-block;margin-top:20px;}
/*相册效果*/
#player{height:100%;padding:0 0 50px 0;box-sizing:border-box;position:relative;overflow:hidden;background:#333;width:100%;position:fixed;left:0;top:0;z-index:10010}
#player .toolbar{width:100%;margin:0 auto;height:30px;position:absolute;left:0;bottom:0;background:#999;text-align:center;padding:10px 0;display:table;-webkit-transition:bottom ease 0.3s}
#player .toolbar span{width:30px;height:30px;display:inline-block;background:url(./xcicon.png) 0 0 no-repeat;background-size:30px;cursor:pointer;display:table-cell}
#player .toolbar .close{background-position:50% 0;}
#player .toolbar .stop{background-position:50% -30px;}
#player .toolbar .prev{background-position:50% -60px;}
#player .toolbar .next{background-position:50% -90px;}
#player .toolbar .play{background-position:50% -120px;}
.pics{height:100%;overflow:hidden;padding-bottom:32px;box-sizing:border-box;position:absolute;left:0;top:0;-webkit-transition:left ease 0.3s}
.pics li{float:left;height:100%;font-size:0;text-align:center;margin-bottom:32px}
.pics li:after{content:"";display:inline-block;width:0;height:100%;vertical-align:middle;}
.pics li div{vertical-align:middle;font-size:16px;display:inline-block;color:#ccc;text-align:center;line-height:25px;padding:10px 0;}
.pics li img{max-width:100%;max-height:100%;}
.pics li span{display:block;}
#albumplayer li{box-sizing:border-box;-webkit-box-sizing:border-box}
#albumplayer li div{width:100%;height:100%}

/*搜索框*/
.cover{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6);display: none;z-index: 2002;}
.search{ height:80px;width:100%;background:#2e0144;position:fixed;top:0;left:0;z-index:20001;display: none;}
.s_up{ padding:10px 15px 0;height:30px;}
input{ border:0;} 
.txt{ width:78%;height:30px;line-height:30px;background:#fff;border-radius:3px;float:left;color:#333;padding-left:5px;}
.btns{ width:19%;float:right;height:30px;line-height:30px;background:#e2216f url(./navbai.png) no-repeat 10% -18px;background-size:18px auto;border-radius:3px;color:#fff;padding-left:20px;}
.tip{ height:40px;line-height:40px;color:#fff;text-align:center;}

/*分享到朋友圈*/
#mcover {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6);display: none;z-index: 2000;}
#mcover img { position: fixed;right: 18px;top: 5px;width: 260px!important;height: 180px!important;z-index: 2001;}
.gz{ position: fixed;left:10%;top:220px;width:80%;}
.fasong{ color:#fff45c;font-size:16px;text-align:center;}
.butt{ width:100%;height:40px;line-height:40px;background:#e2216f;color:#fff;border-radius:3px;font-size:16px;margin-top:30px;}
.fe22{ color:#e2216f;font-size:16px;}




/*开始了2左右滑动*/
.con_box{position: relative;max-width: 640px;height:550px;margin: 0 auto;overflow: hidden;}
.swipe .pageli{position: absolute;left: 0;top: 0;}
.fleft{ width:49%;margin:0 2% 8px 0;border:1px solid #440170;overflow:hidden;float:left;box-sizing:border-box;background:#2e0144;}
div.fleft:nth-child(2n){ margin-right:0;}
.lottery{position: relative;width: 100%;height: 100%;overflow: hidden;}.download_mask{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);display: none;z-index: 100;}
.download_mask i{position: absolute;right: 15px;top: 10px;width: 370px;height: 212px;background: url(./wx_notice.png) no-repeat}
.f-hide{display: none !important;}
.loading-img{position: fixed;left: 50%;top: 50%;width: 152px;height: 188px;margin: -94px 0 0 -76px ;}
/* swipe */
.swipe, .lottery{position: relative;width: 100%;height: 100%;overflow: hidden;}
.swipe li{position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;}
.swipe li.cur{z-index: 10;display: block;}
.swipe li.action{z-index: 11;display: block;}
.animated{-webkit-transition: .3s;}
.hua{ padding:10px; background:rgba(0,0,0,0.5); color:#fff; border-radius:25px; position:fixed; bottom:100px; left:50%; margin-left:-66px; z-index:1000;}
.hua i{ width:10px; height:10px; border-top:1px solid #fff; border-right:1px solid #fff;  display:inline-block; opacity:0.5;}
.hua i:nth-child(1){-webkit-animation:myfirst 1s infinite;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
@-webkit-keyframes myfirst 
{
0% {opacity:0.5;}
20% { opacity:1;}
25% { opacity:0.5;}
100% { opacity:0.5;}
}       

.hua i:nth-child(2){-webkit-animation:myfirst2 1s infinite;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
@-webkit-keyframes myfirst2 
{
0% {opacity:0.5;}
50% { opacity:1;}
55% { opacity:0.5;}
100% { opacity:0.5;}
}       
.hua i:nth-child(3){-webkit-animation:myfirst3 1s infinite;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
@-webkit-keyframes myfirst3 
{
0% {opacity:0.5;}
80% { opacity:1;}
85% { opacity:0.5;}
100% { opacity:0.5;}
}       

.hua i:nth-child(6){-webkit-animation:myfirst4 1s infinite;transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
@-webkit-keyframes myfirst4 
{
0% {opacity:0.5;}
20% { opacity:1;}
25% { opacity:0.5;}
100% { opacity:0.5;}
}       

.hua i:nth-child(5){-webkit-animation:myfirst5 1s infinite;transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
@-webkit-keyframes myfirst5 
{
0% {opacity:0.5;}
50% { opacity:1;}
55% { opacity:0.5;}
100% { opacity:0.5;}
}       
.hua i:nth-child(4){-webkit-animation:myfirst6 1s infinite; transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
@-webkit-keyframes myfirst6 
{
0% {opacity:0.5;}
80% { opacity:1;}
85% { opacity:0.5;}
100% { opacity:0.5;}
}       

/*文字幕墙*/
.floatTxt{position:absolute;left:600px;z-index:99999999999999999;-webkit-transition:left 10s linear;width:400px}




.varcode font{display:inline-block;padding:6px;background:#fff;font-weight:bold;border:#666 solid 1px;border-radius:5px;
background:-webkit-gradient(linear, top,bottom , from(rgba(204,204,204,1)), to(rgba(255,255,255,1)));
background:-webkit-linear-gradient(top, rgba(204,204,204,1), rgba(255,255,255,1));
}
.varcode .cur font{padding:5px;border:2px solid red;position:relative}
.varcode span{margin:1px;}
.varcode .cur font::after{content:"";position:absolute;height:0;width:0;right:-6px;bottom:-2px;border-top:8px solid #f00;border-left:8px solid transparent;border-right:8px solid transparent;-webkit-transform:rotate(-45deg)}
#changefont{border:none;padding:5px 10px;border-radius:5px;margin:5px auto 0; background:#e2216f; text-align:center; color:#fff;}

#tiptxt{padding:10px 20px 0;text-align:center; color:#fff45c; font-size:14px;}