div.pages div.page[data-page=gift-buy] div.gift-price i{
    font-size: 16px;
    font-weight: 600;
    color: orangered;
}
div.pages div.page[data-page=gift-buy] div.gift-price i{
    font-size: 16px;
    font-weight: 600;
    color: orangered;
}