.empty-order i.icon{
    color: #E4E4E4;
    font-size: 8em;
}
.empty-order .tip-text{
    /* 不管坏没坏，先约个学长帮你看看呗: */
    font-family: STHeitiSC-Light;
    font-size: 16px;
    color: #E4E4E4;
    line-height: 16px;
}