input{
	border: none;
	outline:none;
	color: #333333;
	font-size: 15px;
}
.address_list{
	height: 50px;
	line-height: 50px;
	position: relative;
	padding-left: 15px;
	color: #333333;
	font-size: 15px;
}
.weui_cell{
	height: 50px;
	line-height: 50px;
	position: relative;
	padding-left: 15px;
	color: #333333;
	width: 100%;
}
.weui_cell:after{
	position: absolute;
	bottom: 0px;
	left: 0px;
	content: "";
	width: 100%;
	transform: scaleY(.5);
	border-bottom: 1px solid #e6e6e6;
}
.weui_input{
	margin-left: 10px;
}
.weui_cell_hd{
	float: left;
	font-size: 15px;
	color: #333333;
}
.weui_cell_bd{
	float: left;
	font-size: 15px;
}
.address_list:after{
	position: absolute;
	bottom: 0px;
	left: 0px;
	content: "";
	width: 100%;
	transform: scaleY(.5);
	border-bottom: 1px solid #e6e6e6;
}
.hide{
	width: 100%;
	height: 0px;
	background-color: red;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transition: height 0.7s ease-in;
-moz-transition:height 0.7s ease-in; /* Firefox 4 */
-webkit-transition:height 0.7s ease-in; /* Safari and Chrome */
}
.footer_btn{
margin-top: 20px;
}
.btn_publick{
	width: 45%;
	height: 40px;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 0px 15px;
	border: none;
	font-size: 15px;
	color: #fff;
	line-height: 40px;
}
.footer_btn{
	width: 100%;
	text-align: center;
}
.hq_address{
	float:left;
	background-color: #2ba23b;
}
.bc{
	float: right;
	background-color: #f15354;
}