a{
	outline: none;
}
body{
	background-color: #f0f0f0;
}
.header_gaos{
	background-color: #f15354;
	text-align: center;
	width: 100%;
	color: #fff;
	position: relative;
	padding: 30px 0px;
}
.mydfer_img{
	text-align: center;
	margin-top: 20px;
}
.mydfer_img img{
	width: 40%;
}
.tou_img{
	width: 70px;
	height:70px;
	border-radius:999px;
}
.administration{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
.header_gaos span{
	display: block;
	margin-top: 10px;
	font-size: 15px;
}
.nav{
	width: 100%;
	padding: 10px 0px;
	background-color: #fff;
	position: relative;
}
.nav:after{
	position:absolute;
	content: "";
	bottom: 0px;
	border-bottom: 1px solid #e6e6e6;
	transform: scaleY(.5);
	width: 100%;
	left: 0px;
}
.nav li{
	float: left;
	width: 20%;
	text-align: center;
}
.nav span{
	display: block;
	margin-top: 5px;
	font-size: 13px;
	color: #333;
} 
.bd{
	width: 100%;
	padding: 10px 0px;
	background-color: #fff;
	position: relative;
}
.bd:after{
	position:absolute;
	content: "";
	bottom: 0px;
	border-bottom: 1px solid #e6e6e6;
	transform: scaleY(.5);
	width: 100%;
	left: 0px;
}
.bd  li{
	float: left;
	width: 33%;
	text-align: center;
}
.bd span{
	display: block;
	margin-top: 5px;
	font-size: 13px;
	color: #333;
} 
.content_list{
	background-color: #fff;
	margin-top: 10px;
}
.list_top{
	padding: 0px 10px;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
}
.list_top:after{
	content: "";
	position:absolute;
	bottom: 0px;
	border-bottom: 1px solid #e6e6e6;
	transform: scaleY(.5);
	left: 0px;
	width: 100%;
}
.list_top:before{
	content: "";
	position:absolute;
	top: 0px;
	border-top: 1px solid #e6e6e6;
	transform: scaleY(.5);
	left: 0px;
	width: 100%;
}
.list_top_left{
	float: left;
}
.list_top_right{
	float:right;
	color: #f15353;
}
.list_cet{
	padding: 10px 15px;
	box-sizing: border-box;
	position: relative;
}
.list_cet:after{
	content: "";
	position:absolute;
	bottom: 0px;
	border-top: 1px solid #e6e6e6;
	transform: scaleY(.5);
	left: 0px;
	width: 100%;
}
.list_cet img{
	width: 75px;
	height: 60px;
	float: left;
	margin-right: 10px;
}
.list_cet span{
	color: #666;
	font-size: 14px;
}
.list_cet p{
	float: right;
	margin-top: 20px;
	color: #999999;
	font-size: 13px;
}
.list_botm{
	width: 100%;
	padding: 15px 10px;
	box-sizing: border-box;
}
.list_botm_left{
	float: left;
	color: #525151;
	font-size: 14px;
	margin-top: 6px;
	width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.list_botm_right{
	float: right;
}
.list_botm_right button{
	padding: 5px 6px;
	border-radius: 3px;
}
.cancel{
	border: 1px solid #f15354;
	background-color: #fff;
	color: #f15354;
}
.go_zhifi{
	background-color:#f15354;
	border: none;
	color: #fff;
}
.ul_icon{
	font-size: 25px;
	color: #cfcfcf;
}
.ul_icons{
	font-size: 30px;
}