/*css清零样式*/
body,div,dl,dt,dd,ul,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0px;margin: 0px; }
fieldset,img{border: 0;}
table{border-collapse: collapse;border-spacing: 0;}
ul{list-style: none;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight: normal;font-style: normal;}
caption,th{text-align: left;}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: 100%;}
q:before,q:after{content: "";}
abbr,acronym{border:0;}
a{
	text-decoration: none;
}
.clearfix{
	content: "";
	clear: both;
	display: table;
}
body{
	font-family: PingFangSC-Regular,Helvetica,"Droid Sans",Arial,sans-serif;
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';  /* project id："188399" */
  src: url('//at.alicdn.com/t/font_rtha0ysonvvg3nmi.eot');
  src: url('//at.alicdn.com/t/font_rtha0ysonvvg3nmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_rtha0ysonvvg3nmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_rtha0ysonvvg3nmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_rtha0ysonvvg3nmi.svg#iconfont') format('svg');
}
.nav_one{
    color: #E34F63;
}
.nav_fc{
    color: #9f9f9f;
}
a{
    outline:none;
    text-decoration:none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a.hidefocus{outline:none};