body{
	background-color:#f9f9f9;
}
.asdsf{
	float:left;
}
.add_to{
	height: 40px;
	line-height: 40px;
	padding: 0px 15px;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	font-size: 15px;
}
.add_to a{
	color: #666;
}
.add_border{
	height: 2px;
	background: url(../images/bootm_border.jpg) repeat-x;
	background-size: 67%;
}
.dw{
	color: #b9b9b9;
	display: inline-block;
	margin-right: 10px;
	font-size: 16px;
}
.jia{
	color: #666;
	font-size: 15px;
}
.asdsf{
	height:50px;
	line-height:54px;
}
.add_to_left{
	width:100%;
}
.asdsf_zhong{
	float: left;
}
.asdsf_zhong span{
	display:block;
	height:19px;
}
.tianjia{
	margin-top: 7px;
}
.add_to_right{
	float: right;
	color: #999;
	font-size: 16px;
	height:50px;
	line-height:54px;
	display: block;
}
.add_top{
	padding: 9px 10px;
	box-sizing: border-box;
	position: relative;
	height: 100px;
}
.add_top img{
	width: 78px;
    height:78px;
    float: left;
    margin-right: 10px
}
.add_top p{
	color: #666;
    font-size: 14px
}
.describe{
	color: #c0c0c0;
	font-size: 13px;
	display: block;
	margin-top: 4px;
}
.price{
	display: block;
	color: #f15353;
	margin-top: 4px;
	font-size: 14px;
}
.sign{
	text-align: right;
	float: right;
	margin-top: -15px;
	margin-right: 10px;
	color: #666666;
	font-size: 14px;
}
.add_top:after{
	content: "";
	position:absolute;
	bottom: -2px;
	border-bottom: 1px solid #e6e6e6;
	transform: scaleY(.5);
	left: 0px;
	width: 100%;
}
.add_top:before{
	content: "";
	position:absolute;
	top: 0px;
	border-bottom: 1px solid #e6e6e6;
	transform: scaleY(.5);
	left: 0px;
	width: 100%;
}
.add_content{
	background-color: #fff;
	margin-top: 10px;
}
.payment_left{
	float: left;
	color: #666;
	font-size: 14px;
}
.wechat_payment{
	width: 100%;
	padding-left: 10px;
	box-sizing: border-box;
	position: relative;
	height: 40px;
	line-height: 40px;
}
.wechat_payment:after{
	content: "";
	position:absolute;
	bottom: 0px;
	border-bottom: 1px solid #e6e6e6;
	transform: scaleY(.5);
	left: 0px;
	width: 100%;
}
.peisong_mode:after{
	content: "";
	position:absolute;
	bottom: 0px;
	border-bottom: 1px solid #e6e6e6;
	transform: scaleY(.5);
	left: 0px;
	width: 100%;
}
.peisong_mode{
	width: 100%;
	padding-left: 10px;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	position: relative;
}
.wechat_right{
	float: right;
	color: #666;
	padding-right: 10px;
	font-size: 14px;
}
.fangshi{
	float: left;
	color: #666;
	font-size: 14px;
}
.ziti{
	float: right;
	color: #666;
	padding-right: 10px;
	font-size: 14px;
}
.ziti select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-color:#fff;
    border:none;
}
.add_bottom{
	width: 100%;
	text-align: right;
	height: 45px;
	line-height: 45px;
	padding-right: 10px;
	box-sizing: border-box;
	font-size: 14px;
}
.weixin{
	font-size: 16px;
	color: #2ba23b;
}
.add_bottom span{
	color: #f15353;
}
.red-color{
	height: 40px;
	line-height: 40px;
	background-color: #f23030;
	display: block;
	color: #fff;
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
	border:none;
	-webkit-appearance: none; 
}