html{
  font-size: 62.5%
}                   
.width{
	width: 96%;
	margin: 0px auto;
}
.border_bottom{
	border-bottom: 1px solid #f2f2f2;
}
/*body{font-family:
  "PingFangSC-Regular","Helvetica","Droid Sans","Arial","sans-serif"; 
}*/
.header{
	position: relative;
    background: #efefef url(../images/header-bg.png) repeat-x 0 0;
    background-size: 100% 44px;
    min-height: 44px;
    border-bottom: 1px solid #bfbfbf;
    border-width: 0 0 1px 0;
    text-align: center;
    line-height: 44px;
}                    
.header span{
	font-size: 16px;
}
.tag-square{
      position: absolute;
    left: 2px;
    top: 2px;
    display: block;
    height: 30px;
    width: 28px;
    /* background-color: #4b9bfb; */
}
.tag-triangle{
    position: absolute;
    left: 2px;
    top: 32px;
    width: 0;
    border-width: 6px 14px 0 14px;
    border-style: solid;
}
.tag-text-two{
  position: absolute;
    left: 2px;
    top: 2px;
    margin-left: 8px;
    margin-top: 5px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #fff;
    width: 12px;
    white-space: normal;
}
.tag-circle{
    position: absolute;
    left: 2px;
    top: 2px;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.tag-text-four{
     position: absolute;
    left: 2px;
    top: 2px;
    margin-left: 9px;
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    white-space: normal;
	width:26px;
}
.header_icon{
	font-size: 32px;
	color: #999999;
}
.nav_time{
	margin-top: 7px;
}
.nav_time ul{
   	width: 100%;
    overflow: hidden;
    display: box;
    display: -webkit-box;
    display: -moz-box;
}
.nav_time_big{
	font-size: 22px;
	line-height: 25px;
	color: #f23030;
}
.have_in_hand{
	font-size: 20px;
	color: #f23030;
}
.nav_time li{
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex:1;
  text-align: center;
}
.time_figure{
	font-weight: bold;
	font-size: 17px;
	line-height: 25px;
}
.nav_time li span{
	display: block;
	font-size:13px;
}
.nav_time_bottom{
    margin: 12px auto 4px;
    width: 95%;
    line-height: 15px;
    height: 15px;
    position: relative;
}
.nav_time_bottom:after{
  border-bottom: 1px #e3e5e9 solid;
  content: "";
  position: absolute;
  bottom: -5px;
  transform:scaleY(.5);
  z-index: 5;
  width: 100%;
  left: 0
}
.nav_time_left{
	float: left;
	color: #f23030;
    font-size: 13px;
}
.nav_time_right{
	float: right;
}
.nav_time_end{
	color: #232326;
	font-size: 13px;
  display: block;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}
.nav_time_change{
    display: inline-block;
   	color: #fff;
    font-size: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000;
    padding: 2px;
}
.NotUesed a{
  display: table;
  content: "";
  clear: both;
  width: 100%;
  border:none;
 -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
  outline:none；
}
/*.NotUesed a:link{
  background-color: #fff;
}
.NotUesed a:visited{
  background-color: #fff;
}
.NotUesed a:hover{
  background-color: #e8e8e8;
}*/
.second_list{
	width: 94%;
	margin: 0px auto;
/*	border-bottom: solid 1px #000;*/
	padding: 15px 0px 8px 0px;
  position: relative;
}
.second_list:after{
  height: 1px;
  content: '';
  border-bottom: solid 1px #e3e5e9;
  width: 100%;
  /*border-top: 1px solid #e3e5e9;*/
  position: absolute;
  bottom: -1px;
  right: 0;
  transform: scaleY(.5);
  -webkit-transform: scaleY(.5);
  z-index: 10;
}
.second_img{
	float: left;
	margin: 0px 10px 0px 0px;
}
.second_img span{
	background-color: rgba(0,0,0,0.7);
	width: 102px;
	display: block;
	position: absolute;
	bottom: 5px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	height: 24px;
	line-height: 24px;
}
.second_content a{
    color: #232326;
}
.second_content p{
	font-size: 14px;
	color: #232326;
  height: 52px;
  text-align: left;
}
.second_img{
	position: relative;
}
.banner img{
  width: 100%;
}
.banner{
  margin: 3px 0px;
  padding: 3px 0px;
}
.second_img img{
	width: 102px;
	height: 102px;
}
.price{
	float: left;
}
.price span{
	display: block;
	font-size: 20px;
	color: #f23030;
}
.price del{
	color: #838383;
	margin-top: 7px;
	display: block;
	font-size: 12px;
}
.go_second{
	float: right;
	text-align: right;
}
.money_red{
	font-size: 12px;
	color: #f23030;
}
.money_grizzly{
	font-size: 11px;
	color: #838383;
}
.more_concessions{
	width: 75px;
	height: 27px;
	border: solid #ff7878 1px;
	background-color: #fff;
	color: #ff7878;
	font-size: 12px;
	margin-bottom: 9px;
}
.sjkasdf{
    height: 27px;
    line-height: 27px;
    background-color: #39a917;
    font-size: 14px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
    color: #fff;
    margin-bottom: 9px;
}
.go_second_botton{
    height: 27px;
    line-height: 27px;
    background-color: #f23030;
    font-size: 14px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
    color: #fff;
    margin-bottom: 9px;
}
.skill-lod{
	font-size: 0;
    bottom: 16px
}
.skill-lod .sale-count {
    font-size: 12px;
    color: #848689;
    display: inline-block;
    margin-right: 5px;
}
.kill-progress {
    width: 74px;
    height: 7px;
    display: inline-block;
}
.kill-progress .skill-pro-bg {
    position: relative;
    left: auto;
    bottom: auto;
    padding: 0;
    height: 7px;
}
.skill-pro-bg {
    background: rgba(255,255,255,0.8);
    height: 17px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.kill-progress .skill-iteam-progress {
    top: -2px;
    height: 15px;
}

.skill-iteam-progress {
    position: relative;
    top: 5px;
    left: 0;
    height: 16px;
    width: 200%;
    -webkit-transform: scale(.5,.5);
    transform: scale(.5,.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border: solid 1px #f36262;
}
.skill-iteam-pro {
    background-image: linear-gradient(to right, #f23434,#f67373);
    height: 100%;
    display: block;
    width: 0;
    -webkit-transition: width 1.8s;
    transition: width 1.8s;
   }
  /*待秒杀页面css*/
  .wait_second_button{
  	margin: 5px 0px 0px 0px;
  	background-color: #f0f0f0;
  	color: #bfbfbf;
  	border: 0px;
  	border-radius: 2px;
  	padding: 6px 10px;
  	font-size: 14px;
  }
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fdfdfd;
  color: #fff;
  padding: 5px 0px;
  z-index: 9;
/*  border-top: solid #dfdfdf 1px;*/
-moz-box-shadow:1px 1px 3px #d9d9d9; 
-webkit-box-shadow:1px 0px 3px #d9d9d9;
 box-shadow:1px 0px 3px #d9d9d9;

}
.footerbar{
  width: 100%;
}
.footerbar i{
  display: block;
  margin-bottom: 3px;
  font-size: 18px;
}
.footerbar li{
  float: left;
  width: 50%;
  text-align:center;
  font-size: 12px;
}
.content{
  margin-bottom: 50px;
  width: 98%;
  text-align:center;
  margin:2px auto 55px;
  background-color: #fff;
}
@media screen and (max-width: 330px) {
  .second_img img{
    width: 80px;
    height: 80px;
  }
}