    
    div#guanzhu_container{
        position:fixed;   
        border:0px solid #000; 
        width:500px;        
        height:80px;
        margin:0 auto; 
        overflow:hidden;   
        clear:both;
        bottom: 60px;
        left: -40px;
    }
  
    #pxvcLXEqA-an-anim {
        position:absolute;
        background-color: rgba(255,255,255,1);
        font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        font-size: 12px;
        line-height: 1.3;
    }

    #pxvcLXEqA-an-obj-1 {
        position:absolute;
        -webkit-transform: translate3d(118px, 31px, 0px);
        width: 29px;
        height: 28px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-1-0 1.5138s 0s infinite linear both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-1-0 {
        0% {
            -webkit-transform: translate3d(118px, 31px, 0px) scale3d(1, 1, 1);
        }
        8.3696% {
            -webkit-transform: translate3d(118px, 27px, 0px) scale3d(1.1, 1.1, 1);
        }
        16.7391% {
            -webkit-transform: translate3d(118px, 23px, 0px) scale3d(1.2, 1.2, 1);
        }
        25.1087% {
            -webkit-transform: translate3d(118px, 27px, 0px) scale3d(1.1, 1.1, 1);
        }
        33.3696% {
            -webkit-transform: translate3d(118px, 31px, 0px) scale3d(1, 1, 1);
        }
        100% {
            -webkit-transform: translate3d(118px, 31px, 0px) scale3d(1, 1, 1);
        }
    }

    #pxvcLXEqA-an-obj-2 {
        position:absolute;
        -webkit-transform: translate3d(153px, 32px, 0px);
        width: 28px;
        height: 26px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-2-0 1.5138s 0s infinite linear both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-2-0 {
        0% {
            -webkit-transform: translate3d(153px, 32px, 0px) scale3d(1, 1, 1);
        }
        8.3696% {
            -webkit-transform: translate3d(153px, 32px, 0px) scale3d(1, 1, 1);
        }
        16.7391% {
            -webkit-transform: translate3d(153px, 28px, 0px) scale3d(1.1, 1.1, 1);
        }
        25.1087% {
            -webkit-transform: translate3d(153px, 24px, 0px) scale3d(1.2, 1.2, 1);
        }
        33.3696% {
            -webkit-transform: translate3d(153px, 28px, 0px) scale3d(1.1, 1.1, 1);
        }
        41.6304% {
            -webkit-transform: translate3d(153px, 32px, 0px) scale3d(1, 1, 1);
        }
        100% {
            -webkit-transform: translate3d(153px, 32px, 0px) scale3d(1, 1, 1);
        }
    }

    #pxvcLXEqA-an-obj-3 {
        position:absolute;
        -webkit-transform: translate3d(187px, 32px, 0px);
        width: 28px;
        height: 26px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-3-0 1.5138s 0s infinite linear both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-3-0 {
        0% {
            -webkit-transform: translate3d(187px, 32px, 0px) scale3d(1, 1, 1);
        }
        16.7391% {
            -webkit-transform: translate3d(187px, 32px, 0px) scale3d(1, 1, 1);
        }
        25.1087% {
            -webkit-transform: translate3d(187px, 28px, 0px) scale3d(1.1, 1.1, 1);
        }
        33.3696% {
            -webkit-transform: translate3d(187px, 24px, 0px) scale3d(1.2, 1.2, 1);
        }
        41.6304% {
            -webkit-transform: translate3d(187px, 28px, 0px) scale3d(1.1, 1.1, 1);
        }
        49.8913% {
            -webkit-transform: translate3d(187px, 32px, 0px) scale3d(1, 1, 1);
        }
        100% {
            -webkit-transform: translate3d(187px, 32px, 0px) scale3d(1, 1, 1);
        }
    }

    #pxvcLXEqA-an-obj-4 {
        position:absolute;
        -webkit-transform: translate3d(220px, 31px, 0px);
        width: 26px;
        height: 27px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-4-0 1.5138s 0s infinite linear both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-4-0 {
        0% {
            -webkit-transform: translate3d(220px, 31px, 0px);
        }
        25% {
            -webkit-transform: translate3d(220px, 31px, 0px);
        }
        33.2609% {
            -webkit-transform: translate3d(220px, 27px, 0px);
        }
        41.6304% {
            -webkit-transform: translate3d(220px, 23px, 0px);
        }
        49.8913% {
            -webkit-transform: translate3d(220px, 27px, 0px);
        }
        58.2609% {
            -webkit-transform: translate3d(220px, 31px, 0px);
        }
        100% {
            -webkit-transform: translate3d(220px, 31px, 0px);
        }
    }

    #pxvcLXEqA-an-obj-5 {
        position:absolute;
        -webkit-transform: translate3d(251px, 32px, 0px);
        width: 28px;
        height: 27px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-5-0 1.5138s 0s infinite linear both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-5-0 {
        0% {
            -webkit-transform: translate3d(251px, 32px, 0px);
        }
        33.3696% {
            -webkit-transform: translate3d(251px, 32px, 0px);
        }
        41.6304% {
            -webkit-transform: translate3d(251px, 28px, 0px);
        }
        50% {
            -webkit-transform: translate3d(251px, 24px, 0px);
        }
        58.2609% {
            -webkit-transform: translate3d(251px, 28px, 0px);
        }
        66.7391% {
            -webkit-transform: translate3d(251px, 32px, 0px);
        }
        100% {
            -webkit-transform: translate3d(251px, 32px, 0px);
        }
    }

    #pxvcLXEqA-an-obj-6 {
        position:absolute;
        -webkit-transform: translate3d(284px, 33px, 0px);
        width: 28px;
        height: 27px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-6-0 1.5138s 0s infinite linear both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-6-0 {
        0% {
            -webkit-transform: translate3d(284px, 33px, 0px);
        }
        41.6304% {
            -webkit-transform: translate3d(284px, 33px, 0px);
        }
        50% {
            -webkit-transform: translate3d(284px, 29px, 0px);
        }
        58.3696% {
            -webkit-transform: translate3d(284px, 25px, 0px);
        }
        66.6304% {
            -webkit-transform: translate3d(284px, 29px, 0px);
        }
        75.1087% {
            -webkit-transform: translate3d(284px, 33px, 0px);
        }
        100% {
            -webkit-transform: translate3d(284px, 33px, 0px);
        }
    }

    #pxvcLXEqA-an-obj-7 {
        position:absolute;
        -webkit-transform: translate3d(316px, 33px, 0px);
        width: 29px;
        height: 26px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-7-0 1.5138s 0s infinite linear both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-7-0 {
        0% {
            -webkit-transform: translate3d(316px, 33px, 0px);
        }
        0.3326% {
            -webkit-transform: translate3d(316px, 33px, 0px);
        }
        49.8913% {
            -webkit-transform: translate3d(316px, 33px, 0px);
        }
        58.2609% {
            -webkit-transform: translate3d(316px, 29px, 0px);
        }
        66.7391% {
            -webkit-transform: translate3d(316px, 25px, 0px);
        }
        75% {
            -webkit-transform: translate3d(316px, 29px, 0px);
        }
        83.2609% {
            -webkit-transform: translate3d(316px, 33px, 0px);
        }
        100% {
            -webkit-transform: translate3d(316px, 33px, 0px);
        }
    }

    #pxvcLXEqA-an-obj-8 {
        position:absolute;
        -webkit-transform: translate3d(349px, 33px, 0px);
        width: 28px;
        height: 27px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-8-0 1.5138s 0s infinite linear both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-8-0 {
        0% {
            -webkit-transform: translate3d(349px, 33px, 0px);
            -webkit-animation-timing-function:ease;
        }
        58.2609% {
            -webkit-transform: translate3d(349px, 33px, 0px);
            -webkit-animation-timing-function:ease;
        }
        66.5217% {
            -webkit-transform: translate3d(349px, 29px, 0px);
            -webkit-animation-timing-function:ease;
        }
        75% {
            -webkit-transform: translate3d(349px, 25px, 0px);
            -webkit-animation-timing-function:ease;
        }
        83.2609% {
            -webkit-transform: translate3d(349px, 29px, 0px);
            -webkit-animation-timing-function:ease;
        }
        91.5217% {
            -webkit-transform: translate3d(349px, 33px, 0px);
            -webkit-animation-timing-function:ease;
        }
        100% {
            -webkit-transform: translate3d(349px, 33px, 0px);
            -webkit-animation-timing-function:ease;
        }
    }

    #pxvcLXEqA-an-obj-9 {
        position:absolute;
        -webkit-transform: translate3d(424px, 102px, 0px);
        width: 20px;
        height: 20px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-9-0 1.087s 1.2s 1 linear normal both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-9-0 {
        0% {
            -webkit-transform: translate3d(424px, 102px, 0px);
        }
        48% {
            -webkit-transform: translate3d(423px, 22px, 0px);
        }
        76% {
            -webkit-transform: translate3d(423px, 26px, 0px);
        }
        100% {
            -webkit-transform: translate3d(423px, 22px, 0px);
        }
    }

    #pxvcLXEqA-an-obj-10 {
        position:absolute;
        -webkit-transform: translate3d(-15px, 20px, 0px);
        width: 20px;
        height: 20px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-10-0 1.0725s 3.3043s infinite linear alternate both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-10-0 {
        0% {
            -webkit-transform: translate3d(-15px, 20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        21.6216% {
            -webkit-transform: translate3d(-15px, 20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-14.9deg);
        }
        45.4054% {
            -webkit-transform: translate3d(-15px, 20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        66.2162% {
            -webkit-transform: translate3d(-15px, 20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-14.9deg);
        }
        100% {
            -webkit-transform: translate3d(-15px, 20px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-14.9deg);
        }
    }

    #pxvcLXEqA-an-obj-11 {
        position:absolute;
        -webkit-transform: translate3d(-7px, 4px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-33.9deg);
        width: 20px;
        height: 12px;
        top:0; left:0;
        -webkit-transform-origin: 93.75% 23.96%;
        -webkit-animation: ani-pxvcLXEqA-an-obj-11-0 1.8405s 1.2s 1 linear both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-11-0 {
        0% {
            -webkit-transform: translate3d(-7px, 4px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-33.9deg);
        }
        29.9213% {
            -webkit-transform: translate3d(-7px, 4px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-12.2deg);
        }
        60.6299% {
            -webkit-transform: translate3d(-7px, 4px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-12.2deg);
        }
        85.8268% {
            -webkit-transform: translate3d(-7px, 4px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(18.4deg);
        }
        100% {
            -webkit-transform: translate3d(-7px, 4px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(26.6deg);
        }
    }

    #pxvcLXEqA-an-obj-12 {
        position:absolute;
        -webkit-transform: translate3d(-4px, 4px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-3.3deg);
        width: 10px;
        height: 8px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-12-0 2.9855s 0.0435s 1 linear normal both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-12-0 {
        0% {
            -webkit-transform: translate3d(-4px, 2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-3.3deg);
            opacity: 1;
        }
        85.4369% {
            -webkit-transform: translate3d(-4px, 2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-3.3deg);
            opacity: 0;
        }
        100% {
            -webkit-transform: translate3d(-4px, 2px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-3.3deg);
            opacity: 1;
        }
    }

    #pxvcLXEqA-an-obj-13 {
        position:absolute;
        -webkit-transform: translate3d(-25px, -22px, 0px);
        width: 65px;
        height: 80px;
        top:0; left:0;
        -webkit-animation: ani-pxvcLXEqA-an-obj-13-0 0.5362s 1.4928s 1 linear normal both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-13-0 {
        0% {
            -webkit-transform: translate3d(-25px, -22px, 0px);
        }
        100% {
            -webkit-transform: translate3d(-25px, -22px, 0px);
        }
    }

    #pxvcLXEqA-an-obj-14 {
        position:absolute;
        -webkit-transform: translate3d(5px, 23px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-92.6deg);
        width: 20px;
        height: 12px;
        top:0; left:0;
        -webkit-transform-origin: 93.75% 39.58%;
        -webkit-animation: ani-pxvcLXEqA-an-obj-14-0 2.6087s 1.5072s 1 linear normal both ;
    }

    @-webkit-keyframes ani-pxvcLXEqA-an-obj-14-0 {
        0% {
            -webkit-transform: translate3d(5px, 23px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-92.6deg);
        }
        20% {
            -webkit-transform: translate3d(5px, 23px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-125.39999999999999deg);
        }
        41.6667% {
            -webkit-transform: translate3d(5px, 23px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-125.39999999999999deg);
        }
        59.4444% {
            -webkit-transform: translate3d(5px, 23px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-97.6deg);
        }
        81.1111% {
            -webkit-transform: translate3d(5px, 23px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-97.6deg);
        }
        100% {
            -webkit-transform: translate3d(5px, 23px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-97.6deg);
        }
    }

    #pxvcLXEqA-an-scene-0 .pxvcLXEqA-an-stage {
        position:absolute;
        background-color: rgba(9,7,7,0.014423076923076872);
    }