<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{if !empty($sitem['title'])}{$sitem['title']}{else}报名活动{/if}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
<link rel="stylesheet" type="text/css" href="../addons/jy_signup/css/header.css">
<link rel="stylesheet" type="text/css" href="../addons/jy_signup/css/first.css">
{template style}
</head>
<body>
<header>
    <a href="javascript:history.go(-1)"><div class="navbar-btn floL"><img class="icon-back" src="../addons/jy_signup/images/header-back.png"></div></a>
    <a href="{php echo $this->createMobileUrl('geren')}"><div class="navbar-btn floR"><img class="icon-back" src="../addons/jy_signup/images/header-person.png"></div></a>
    <h1 class="latecolorbg">{if !empty($sitem['aname'])}{$sitem['aname']}{else}报名活动{/if}</h1>
</header>

<div id="wrapper">
    {loop $hd $row}
    <a href="{php echo $this->createMobileUrl('detail',array('id'=>$row['id']))}"><div class="wrapper-con">
        <div class="posiRela">
        {php $thumb = unserialize($row['thumb']);}
            <img class="img-responsive" {if !empty($thumb[0])} src="{$_W['attachurl']}{$thumb[0]}" {else} src="../addons/jy_signup/images/pic.jpg"{/if}/>
            <span class="tag">{$row['catename']}</span>
        </div>
        <div class="caption">
            <div class="caption-c">
                <h3>{$row['hdname']}</h3>
                <ul class="icon-info">
                    <li><i class="icon-img icon-time"></i>{$row['time']}</li>
                    <li><i class="icon-img icon-address"></i>{$row['address']}</li>
                </ul>
            </div>
            <div class="bot-info">
                {if $row['deadline']<time()}
                <div class="bot-btn1">活动结束</div>
                {else}
                <div class="bot-btn latecolor lateborder">正在报名</div>
                {/if}
                <div class="bot-left">报名<span class="latecolor">{$row['num']}</span>人气 <span class="latecolor">{$row['sc']}</span>浏览 <span class="latecolor">{$row['pv']}</span></div>
            </div>
        </div>
    </div></a>
    {/loop}
</div>

{template footer}

{if $weixin==1}
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    {php $signPackage=$_W['account']['jssdkconfig'];}
    <script>

        var appid = '{$_W['account']['jssdkconfig']['appId']}';
        var timestamp = '{$_W['account']['jssdkconfig']['timestamp']}';
        var nonceStr = '{$_W['account']['jssdkconfig']['nonceStr']}';
        var signature = '{$_W['account']['jssdkconfig']['signature']}';

        wx.config({
            debug: false,
            appId: appid,
            timestamp: timestamp,
            nonceStr: nonceStr,
            signature: signature,
            jsApiList: ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo',]
        });
    </script>
    <script type="text/javascript">
        var params = {
            {if empty($sitem['sharetitle'])}
            title:"活动管理",
            {else}
            title: "{$sitem['sharetitle']}",
            {/if}
            {if empty($sitem['sharedesc'])}
            desc: "活动管理!",
            {else}
            desc: "{$sitem['sharedesc']}",
            {/if}
            link: "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('index'),2)}",
            {if empty($sitem['sharelogo'])}
            imgUrl: "{$_W['siteroot']}addons/jy_signup/icon.jpg",
            {else}
            imgUrl: "{$_W['attachurl']}{$sitem['sharelogo']}",
            {/if}
        };
        wx.ready(function () {
            wx.showOptionMenu();
            wx.onMenuShareAppMessage.call(this, params);
            wx.onMenuShareTimeline.call(this, params);
        });
    </script>
    {/if}

</body>
</html>
