@charset "utf-8";
/* PAIHANG CSS Document*/

body{background:#f5f5f5 no-repeat;background-size:100% auto;}
.con{padding: 15px 10px 20px;margin-top: -60px;background-size: 100% auto;max-width: 640px;margin: 0 auto;}
.top{overflow: hidden;font-size: 14px;line-height: 40px;padding: 5px 0px;background: #000;position: fixed;z-index: 9999;width: 100%;color: #fff;}
.top div{padding: 0 5px;}
.top span{color: #fff;}
.top a{padding: 0 5px;color: #fff;}
.top .topa{float: right;margin-top: 5px;background-size: 100% 100%;line-height: 30px;height: 30px;font-weight: bold;border-radius: 5px;color: #fff;width: 100px;}
.nav > li > a:hover, .nav > li > a:focus{text-decoration: none;background-color: #28013B;}
.nav > li > a{padding: 0;}
.pagination ul > li > a, .pagination ul > li > span{padding: 5px 5px;}
.h{height:10px}
.copyright{padding: 0 auto;margin: 0 auto;height: 40px;text-align: center;color: #E0E0E0;position: relative;bottom: auto;font-size: 12px;}
.tongji{max-width: 640px;margin:0 auto;height: 60px;background-size: auto 100%;position: relative;z-index: 10px;margin-top: -10px;}
.copyright a{color: #E0E0E0;}
.paihang ul li {
        -webkit-box-sizing: initial;-moz-box-sizing: initial;box-sizing: initial;
      }
.btns{width: auto;padding-right: 5px;}
.txt{width: 68%;}
.banner{max-width: 640px;margin: 0 auto;max-height: 100%;}
.one1{text-align: center;margin: 0 auto;}
.one2{text-align: center;margin: 0 auto;}
.one3{text-align: center;margin: 0 auto;}
.two{text-align: center;margin: 0 auto;}
.usr_more{width: 95%;border: 0px solid #c4d4d0;line-height: 35px;text-align: center;font-size: 14px;margin-top: 0px;color: #FFFFFF;background: rgba(0, 0, 0, 0.4);}