@charset "utf-8";
*{padding: 0;margin: 0;}
body{overflow: hidden; background:url('../images/bg.jpg') no-repeat;background-size:100% 100%;-webkit-touch-callout:none; /* 禁用长触弹出的下载图9896ff片菜单 */ -webkit-user-select:none; /* 禁用长触选择97ccff文字等功能 */}



.icon{height:auto; width:30%; position:absolute; left:50%; bottom:10px; margin-left:-15%; -webkit-animation: moveIconUp ease 1.4s 1.2s both infinite;}
.section {width:1000%; height:100%; overflow:hidden;}

.logo{height:auto; width:28%; position:absolute; left:50%; margin-left:-48%; top:2%;/*-webkit-animation: movetrt .6s 0s ease both;*/}
.logo1{height:auto;width:22%; position:absolute; top:3%; left:50%; margin-left:20%; /*-webkit-animation: movetlt .6s 0s ease both;*/}

.p1-1{height:auto; width:100%; position:absolute; left:50%; margin-left:-50%; top:11%;/*-webkit-animation: movetut .6s 0.6s ease both;*/}
.p1-2{height:auto; width:70%; position:absolute; left:50%; margin-left:-35%; top:42%;/*-webkit-animation: movetut .6s 1.2s ease both;*/}

.p1-2a{height:100%; width:100%; position:absolute; left:0%; top:0%;}
.p1-2c{height:auto; width:100%; position:absolute; left:0%; bottom:-70%; -webkit-animation:p1-2c 1.2s 0s linear both;}
@-webkit-keyframes p1-2c { 0% { bottom:-70%;} 100% { bottom:110%;}}

.p1-jb1{position:absolute; height:0; width:10%; padding-bottom:10%; left:50%; margin-left:-40%; top:-20%; -webkit-animation:p1-jb1 1.8s 1s linear infinite; z-index:10;}
@-webkit-keyframes p1-jb1 { 0% { top:-20%;} 100% { top:100%;}}
.p1-jb2{position:absolute; height:0; width:6%; padding-bottom:6%; left:50%; margin-left:-30%; top:-20%; -webkit-animation:p1-jb2 1.6s 1.6s linear infinite; z-index:10;}
@-webkit-keyframes p1-jb2 { 0% { top:-20%;} 100% { top:100%;}}
.p1-jb3{position:absolute; height:0; width:8%; padding-bottom:8%; left:50%; margin-left:-10%; top:-20%; -webkit-animation:p1-jb3 1.7s 2.6s linear infinite; z-index:10;}
@-webkit-keyframes p1-jb3 { 0% { top:-20%;} 100% { top:100%;}}
.p1-jb4{position:absolute; height:0; width:9%; padding-bottom:9%; left:50%; margin-left:5%; top:-20%; -webkit-animation:p1-jb4 1.3s 2.0s linear infinite; z-index:10;}
@-webkit-keyframes p1-jb4 { 0% { top:-20%;} 100% { top:100%;}}
.p1-jb5{position:absolute; height:0; width:7%; padding-bottom:7%; left:50%; margin-left:25%; top:-20%; -webkit-animation:p1-jb5 2.1s 3.1s linear infinite; z-index:10;}
@-webkit-keyframes p1-jb5 { 0% { top:-20%;} 100% { top:100%;}}





.p1-jb{position: absolute; width: 100%; height: 100%; background-image: url(../images/p1-jb.png); background-size:1000% 100%; -webkit-animation:p1-jb 0.8s steps(10) infinite;}
@-webkit-keyframes p1-jb{ 0% { background-position:1000% 0;} 100% { background-position:0% 0;}}


.p1-3a{height:auto; width:60%; position:absolute; left:50%; margin-left:-30%; top:38%;-webkit-animation: movejb  .6s 0s both infinite alternate;}
.p1-3{height:auto; width:70%; position:absolute; left:50%; margin-left:-35%; top:33%;-webkit-animation: movejb  .6s 0s both infinite alternate;}
.p1-4{height:auto; width:32%; position:absolute; left:50%; margin-left:-40%; top:80%;/*-webkit-animation: movetlt .6s 1.8s ease both;*/}
.p1-5{height:auto; width:40%; position:absolute; left:50%; margin-left:-20%; top:80%;/*-webkit-animation: movetrt .6s 1.8s ease both;*/}
.p1-7{height:auto; width:96%; position:absolute; left:50%; margin-left:-48%; top:5%;/*-webkit-animation: movetut .6s 0s ease both;*/}
.p1-8{height:auto; width:100%; position:absolute; bottom:0;/*-webkit-animation: movetrt .6s 0.6s ease both;*/}
.p1-8a{height:auto; width:100%; position:absolute; bottom:0;-webkit-animation: movejb  .6s 0s both infinite alternate;}

.p1-8b{height:auto; width:110%; position:absolute; left:50%; margin-left:-55%; top:8%; /*-webkit-animation: movetrt .6s 0.6s ease both;*/}
.p1-8c1{height:0; width:110%; padding-bottom:23%; position:absolute; left:50%; margin-left:-55%; top:8%; /*-webkit-animation: movetrt .6s 0.6s ease both;*/}

.p1-8c{position: absolute; width: 100%; height: 100%; background-image: url(../images/p1-8c.png); background-size:2000% 100%; -webkit-animation:p1-8c 1.8s steps(20) infinite;}
@-webkit-keyframes p1-8c {	0% { background-position:2000% 0;} 100% { background-position:0% 0;}}


.p1-9{height:auto; width:40%; position:absolute; left:50%; margin-left:-20%; bottom:4%;}

.p4-6{height:auto; width:32%; position:absolute; left:50%; margin-left:-16%; top:72%;}
.hand1{position:absolute; height:0; width:40%; padding-bottom:31%; left:50%; margin-left:-20%; top:60%; }
.hand{position: absolute; width: 100%; height: 100%; background-image: url(../images/hand.png); background-size:2800% 100%; -webkit-animation:bg 1.8s steps(28) infinite;}
@-webkit-keyframes bg {	0% { background-position:2800% 0;} 100% { background-position:0% 0;}}


.fx{height:100%; width:100%; position:absolute; left:50%; margin-left:-50%; top:0%; background:url('../images/p1-6.png'); z-index:888;}
.fxwz{height:100%; width:100%; position:absolute; left:0%; top:0%;}
.fxgg{height:100%; width:100%; position:absolute; left:0%; top:0%;-webkit-animation: movejb  .6s 0s both infinite alternate;}
.black{background:url('../images/bghs.png'); width:100%; height:100%; position:absolute; left:0; top:0;-webkit-animation: movejb .4s 1.6s ease both; z-index:112;}

.p2-1{height:auto; width:90%; position:absolute; left:50%; margin-left:-45%; top:9%;-webkit-animation: /*movetut .6s 0.6s ease both;*/}
.p2-1a{height:0; width:40%; padding-bottom:16%; position:absolute; left:50%; margin-left:4%; top:15%;-webkit-animation: /*movetut .6s 0.6s ease both;*/}

.p2-1a1{position: absolute; width: 100%; height: 100%; background-image: url(../images/p2-1a1.png); background-size:2000% 100%; -webkit-animation:p2-1a1 2s steps(20) infinite;}
@-webkit-keyframes p2-1a1{ 0% { background-position:2000% 0;} 100% { background-position:0% 0;}}

.p2-2a{height:auto; width:70%; position:absolute; left:50%; margin-left:-35%; top:22%;-webkit-animation: /*movetut .6s 1.8s ease both;*/}
.p2-2b{height:auto; width:70%; position:absolute; left:50%; margin-left:-35%; top:22%;-webkit-opacity:0;/*-webkit-animation: movejb .2s 2.0s ease both;*/}
.p2-3{height:auto; width:32%; position:absolute; left:50%; margin-left:-16%; top:25%;-webkit-animation: movejb .1s 0.1s ease both,p2-3 1.6s 0s ease both;z-index:111;}
@-webkit-keyframes p2-3 {
0% { width:32%; margin-left:-16%; top:40%; z-index:0;}
40% { width:32%; margin-left:-16%; top:20%; z-index:0;}
50% { width:32%; margin-left:-16%; top:20%; z-index:100;}
 100% {width:64%; margin-left:-32%; top:25%; z-index:100;}}
.p2-4{height:auto; width:32%; position:absolute; left:50%; margin-left:-16%; top:47%;}
.p2-5{height:auto; width:100%; position:absolute; left:50%; margin-left:-50%; top:35%;-webkit-animation: movetut .4s 1.6s ease both; z-index:113;}
.p2-6{height:auto; width:80%; position:absolute; left:50%; margin-left:-40%; top:30%; /*-webkit-animation: movetut .6s 0.6s ease both;*/z-index:-1;}

.p3-22{height:0; width:20%; padding-bottom:20%; position:absolute; left:50%; margin-left:25%; top:22%;/*-webkit-animation:movetut .6s 3s ease both;*/}
.p3-3{height:auto; width:50%; position:absolute; left:50%; margin-left:-25%; top:83%; /*-webkit-animation: movetrt .6s 2.4s ease both;*/}
.p3-4a{height:auto; width:15%; position:absolute; left:50%; margin-left:-40%; top:79%; /*-webkit-animation: movetrt .6s 1.8s ease both;*/}
.p3-4b{height:auto; width:15%; position:absolute; left:50%; margin-left:-25%; top:79%;/* -webkit-animation: movetrt .6s 1.8s ease both;*/}
.p3-4c{height:auto; width:15%; position:absolute; left:50%; margin-left:-10%; top:79%; /*-webkit-animation: movetrt .6s 1.8s ease both;*/}
.p3-4d{height:auto; width:15%; position:absolute; left:50%; margin-left:5%; top:79%; /*-webkit-animation: movetrt .6s 1.8s ease both;*/}
.p3-4e{height:auto; width:15%; position:absolute; left:50%; margin-left:20%; top:79%; /*-webkit-animation: movetrt .6s 1.8s ease both;*/}
.p3-5{height:auto; width:60%; position:absolute; left:50%; margin-left:-30%; top:5%;}
#total{height:30px; width:60%;text-align:center; position:absolute; left:50%; margin-left:-30%; top:14%;color:#FFF;font-size:16px;}
.p3-6{height:60%; width:76%; position:absolute; left:50%; margin-left:-40%; top:20%;border-radius:15px; border:2px #ccc solid; list-style:none;
 overflow-x:hide; overflow-y:auto; padding:5% 2% 5% 2%; background-image: url(../images/p5-2.png);}
 .p3-6 li{width:100%;}
.p5-1{height:auto; width:9%; position:absolute; left:50%; margin-left:30%; top:22%; /*-webkit-animation: movetrt .6s 2.4s ease both;*/}
 
 
.head{height:60px; width:20%; float:left;}
.header{height:auto;width:90%; border-radius:10px;margin:5px 0px 0px 7px; border:2px #fff solid;}
.head1{height:60px; width:70%; float:left; color:#fff; padding:20px 0 0 10%;}

.wb{width:15%; height:0; padding-bottom:16%; color:#fff; text-align:right;}
.wb1{width:80%; height:0; padding-bottom:30%; position:absolute; left:50%; margin-left:-40%; top:68%;color:#fdecbc; text-align:center; z-index:114; -webkit-animation: movejb .4s 1.6s ease both; line-height:160%;}

.dl{-webkit-animation: movejb .6s 0s ease both;}

.bless-a{height:auto; width:50%; position:absolute; left:50%; margin-left:-25%; top:4%; }
.bless-b{height:auto; width:46%; position:absolute; left:50%; margin-left:-87%; top:9%; }
.bless-c{height:auto; width:46%; position:absolute; left:50%; margin-left:41%; top:9%; }
.bless-d{height:auto; width:46%; position:absolute; left:50%; margin-left:50%; top:9%; }
.bless-e{height:auto; width:46%; position:absolute; left:50%; margin-left:-100%; top:9%; }
.bless{height:50%; width:100%; position:absolute; left:50%; margin-left:-50%; top:25%;/*-webkit-animation: movetut .6s 1.2s ease both;*/}



.bg{height:100%; width:100%; position:absolute; left:0%; top:0%;}
.p1-7s{height:auto; width:96%; position:absolute; left:50%; margin-left:-48%; top:13%;/*-webkit-animation: movetut .6s 0.6s ease both;*/}
.p1-2s{height:auto; width:70%; position:absolute; left:50%; margin-left:-35%; top:46%;/*-webkit-animation: movetut .6s 1.8s ease both;*/}
.p1-3s{height:auto; width:70%; position:absolute; left:50%; margin-left:-35%; top:39%;-webkit-animation: movejb  .6s 0s both infinite alternate;}
.user{height:auto; width:14%; position:absolute; left:50%; margin-left:-7%; top:28%;border: 3px solid #fff;-webkit-border-radius: 10px; /*-webkit-animation: movetut .6s 1.2s ease both;*/}
.user1{width:100%; height:0; padding-bottom:20%; position:absolute; left:50%; margin-left:-50%; top:40%;color:#fff; font-size:14px;text-align:center; /*-webkit-animation: movetut .6s 1.2s ease both;*/}
.p4-1{height:auto; width:44%; position:absolute; left:50%; margin-left:-22%; top:75%;-webkit-animation: movejb .4s 0s ease both,p4-1 0.6s 0.4s infinite;}
@-webkit-keyframes p4-1 {
0% { top:75%;}
50% { top:76%;}
 100% { top:75%;}}
.jifu{height:50%; width:80%; position:absolute; left:50%; margin-left:-40%; top:42%;z-index:100}
.p2-4s{height:auto; width:40%; position:absolute; left:50%; margin-left:-20%; top:81%;-webkit-opacity:0;}
.p4-3{height:auto; width:80%; position:absolute; left:50%; margin-left:-40%; top:20%;-webkit-animation: movetut .6s 0.6s ease both;}
.p4-4{height:auto; width:66%; position:absolute; left:50%; margin-left:-33%; top:37%;-webkit-animation: movetlt .6s 1.2s ease both;}
.p4-5{height:auto; width:66%; position:absolute; left:50%; margin-left:-33%; top:45%;-webkit-animation: movetrt .6s 1.2s ease both;}

@-webkit-keyframes moveIconUp {	0% { -webkit-transform: translateY(100%); opacity:0;}50% { -webkit-transform: translateY(0%); opacity:1;}100% { -webkit-transform: translateY(-100%); opacity:0;}}
@-webkit-keyframes movejb {0% { -webkit-opacity:0;} 100% {-webkit-opacity:1;}}

@-webkit-keyframes movetl {0% { -webkit-transform: translateX(30px); -webkit-opacity:0;} 100% { -webkit-transform: translateX(0px);}}
@-webkit-keyframes movetr {0% { -webkit-transform: translateX(-30px);-webkit-opacity:0;} 100% { -webkit-transform: translateX(0px);}}
@-webkit-keyframes movetu {0% { -webkit-transform: translateY(-30px);-webkit-opacity:0;} 100% { -webkit-transform: translateY(0px);}}
@-webkit-keyframes movetd {0% { -webkit-transform: translateY(30px); -webkit-opacity:0;} 100% { -webkit-transform: translateY(0px);}}

@-webkit-keyframes movetdt {0% { -webkit-transform: translateY(-80%);-webkit-opacity:0;}5% { -webkit-transform: translateY(-80%);-webkit-opacity:0.3;}35% { -webkit-transform: translateY(10%); -webkit-opacity:1;}60% { -webkit-transform: translateY(-13%);}65% { -webkit-transform: translateY(-13%);}100% { -webkit-transform: translateY(0%);}}
@-webkit-keyframes movetut {0% { -webkit-transform: translateY(80%); -webkit-opacity:0;}5% { -webkit-transform: translateY(80%); -webkit-opacity:0.3;}35% { -webkit-transform: translateY(-10%);-webkit-opacity:1;}60% { -webkit-transform: translateY(13%);} 65% { -webkit-transform: translateY(13%);} 100% { -webkit-transform: translateY(0%);}}
@-webkit-keyframes movetrt {0% { -webkit-transform: translateX(-80%);-webkit-opacity:0;}5% { -webkit-transform: translateX(-80%);-webkit-opacity:0.3;}35% { -webkit-transform: translateX(10%); -webkit-opacity:1;}60% { -webkit-transform: translateX(-13%);}65% { -webkit-transform: translateX(-13%);}100% { -webkit-transform: translateX(0%);}}
@-webkit-keyframes movetlt {0% { -webkit-transform: translateX(80%); -webkit-opacity:0;}5% { -webkit-transform: translateX(80%); -webkit-opacity:0.3;}35% { -webkit-transform: translateX(-10%);-webkit-opacity:1;}60% { -webkit-transform: translateX(13%);} 65% { -webkit-transform: translateX(13%);} 100% { -webkit-transform: translateX(0%);}}


@-webkit-keyframes movetdx {0% { -webkit-transform: translateY(-80px);-webkit-opacity:0;}5% { -webkit-transform: translateY(-80px);-webkit-opacity:0.3;}35% { -webkit-transform: translateY(10px); -webkit-opacity:1;}60% { -webkit-transform: translateY(-13px);}65% { -webkit-transform: translateY(-13px);}100% { -webkit-transform: translateY(0px);}}
@-webkit-keyframes movetux {0% { -webkit-transform: translateY(80px); -webkit-opacity:0;}5% { -webkit-transform: translateY(80px); -webkit-opacity:0.3;}35% { -webkit-transform: translateY(-10px);-webkit-opacity:1;}60% { -webkit-transform: translateY(13px);} 65% { -webkit-transform: translateY(13px);} 100% { -webkit-transform: translateY(0px);}}
@-webkit-keyframes movetrx {0% { -webkit-transform: translateX(-80px);-webkit-opacity:0;}5% { -webkit-transform: translateX(-80px);-webkit-opacity:0.3;}35% { -webkit-transform: translateX(10px); -webkit-opacity:1;}60% { -webkit-transform: translateX(-13px);}65% { -webkit-transform: translateX(-13px);}100% { -webkit-transform: translateX(0px);}}
@-webkit-keyframes movetlx {0% { -webkit-transform: translateX(80px); -webkit-opacity:0;}5% { -webkit-transform: translateX(80px); -webkit-opacity:0.3;}35% { -webkit-transform: translateX(-10px);-webkit-opacity:1;}60% { -webkit-transform: translateX(13px);} 65% { -webkit-transform: translateX(13px);} 100% { -webkit-transform: translateX(0px);}}

@-webkit-keyframes xz{ 0% { -webkit-transform: rotateZ(0deg);} 50% {-webkit-transform: rotateZ(360deg);} 100% {-webkit-transform: rotateZ(360deg);}}
@-webkit-keyframes lb{ 0% { margin-left:10%; top:35%; } 5% {margin-left:14%; top:38%; } 10% {margin-left:10%; top:35%;} 100% {margin-left:10%; top:35%;}}
@-webkit-keyframes jxz{ 0% { -webkit-transform: rotateZ(0deg);} 100% {-webkit-transform: rotateZ(360deg);}}


.p3-6a{height:auto; width:60%; position:absolute; left:50%; margin-left:-30%; top:26%; /*-webkit-animation: movetut .6s 1.2s ease both;*/}
.p3-6b{height:0; width:60%; padding-bottom:77%; position:absolute; left:50%; margin-left:-30%; top:26%; /*-webkit-animation: movetut .6s 1.2s ease both;*/}
.p3-6b h1{padding:65% 0 0 0; font-size:38px; color:#fbe6b4; text-shadow: 2px 2px 2px #0D0D0D, 0px 0px 5px #aaa; text-align:center;}
.p3-6b p{padding:6% 0 0 0; font-size:20px; color:#fbe6b4; text-shadow: 2px 2px 2px #0D0D0D, 0px 0px 5px #aaa; text-align:center;}

.p3-7{height:auto; width:140%; position:absolute; left:50%; margin-left:-70%; top:12%; -webkit-animation: movejb .6s 0s ease both,p3-7  6s 0.6s linear infinite;}
@-webkit-keyframes p3-7{ 0% { -webkit-transform: rotateZ(0deg);} 100% {-webkit-transform: rotateZ(360deg);}}

.p1-mycards{height:auto; width:32%; position:absolute; left:50%; margin-left:-16%; top:86%;}
.ani{-webkit-animation: movejb .4s 0s ease both,p2-4 0.6s 0.4s infinite;}
@-webkit-keyframes p2-4 {
0% { top:47%;}
50% { top:48%;}
 100% { top:47%;}}

.ani1{-webkit-animation: movejb .4s 0s ease both,p2-4a 0.6s 0.4s infinite;}
@-webkit-keyframes p2-4a {
0% { top:40%;}
50% { top:41%;}
 100% { top:40%;}}

.section{display:none}

.p3-44{height:auto; width:36%; position:absolute; left:50%; margin-left:-41%; top:87%;/*-webkit-animation: movetlt .6s 1.8s ease both;*/}
.p3-55{height:auto; width:36%; position:absolute; left:50%; margin-left:5%; top:87%;/*-webkit-animation: movetrt .6s 1.8s ease both;*/}

.tip{width:80%; height:50%; padding-bottom:30%; position:absolute; left:50%; margin-left:-40%; top:20%;color:#fdecbc; text-align:center; z-index:9999;}