{template 'common/header'}

<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('member', array('op' => 'invite_record'))}">会员邀请返利记录</a></li>
</ul>
{if $op=='display'}
<div class="panel panel-default">
        <div class="panel-heading">
            邀请记录 (数量: {$num}  条)
     
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:120px;">邀请人</th>
                        <th style="width:120px;">被邀请人</th>
                        <th style="width:200px;">邀请时间</th>
                    </tr>
                </thead>
                <tbody>
                	{loop $invites $invite}
                	 <tr>
	                	<td>{$invite['invite_name']}</td>
	                	<td>{$invite['beinvited_name']}</td>
	                	<td>{php echo date('Y-m-d H:i:s',$invite['createtime']) }</td>
                    </tr>
                   {/loop}
                </tbody>
            </table>
        </div>
    </div>
    {$pager}
 	
{/if}
{template 'common/footer'}