body { margin: 0 }
.clearfix { *zoom:1
}
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "" }
.clearfix:after { clear: both }
ul { list-style: none; padding: 0; margin: 0 }
h1 { color: #069; font-size: 24px; padding: 0 0 0 30px }
.rotate-tab { background-color: #ffd017; height: 40px; position: absolute; top: 0; width: 100%; }
.rotate-tab li { float: left; margin-right: 3px; height: 100%; }
.rotate-tab li a { display: block; height: 40px; line-height: 40px; text-decoration: none; color: #333; font-size: 18px; padding: 0 20px; background-color: rgba(255, 255, 255, 0.23); border-radius: 6px 6px 0 0; }
.rotate-tab li a:hover { background-color: #FFEB00 }
.rotate-tab li.active a { background: #fff; font-weight: 700 }
.rotate-tab li.active a:hover { background: #fff; }
.phbbiaogek { overflow: auto; position: absolute; top: 50px; left: 10px; right: 10px; bottom: 10px; }
.phbbiaoge th { line-height: 40px; height: 40px; color: #858585; border-bottom: 0px solid #CFCFCF; background-color: #f5f5f5; }
.phbbiaoge td { border-bottom: 1px solid #f5f5f5; }
.phbbiaoge tr .paimin { width: 100%; height: 80px; display: block; line-height: 80px; text-align: center; font-size: 40px; color: #B9B9B9; font-family: Arial, san-serif; }
.phbbiaoge tr .touxiang { width: 60px; height: 60px; border-radius: 100%; margin: 10px; }
.phbbiaoge tr .nicheng { height: 80px; line-height: 80px; font-size: 22px; color: #666; max-width: 90%; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.phbbiaoge tr .phone { height: 80px; line-height: 80px; font-size: 22px; color: #666; }
.phbbiaoge tr:nth-child(1) .paimin { text-indent: -9999px; background: url(001.png) no-repeat center center; }
.phbbiaoge tr:nth-child(2) .paimin { text-indent: -9999px; background: url(002.png) no-repeat center center; }
.phbbiaoge tr:nth-child(3) .paimin { text-indent: -9999px; background: url(003.png) no-repeat center center; }
