.exchange-box{
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-top: 8px;
    padding-top:8px;
}

.exchange-box ul{
    margin: 0;
}

.goods-center{
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.goods-center .goods-detail{
    box-shadow: none;
}

.goods-center .goods-img{
    text-align: center;
}
.goods-center .goods-img img{
    width: 60%;
}

.exchange-subtitle{
    margin-bottom: 8px;
}

.attention{
    padding:8px 16px;
}

.attention p{
    font-size: 14px;
    color: #929292;
}