@charset "UTF-8";
body {
  background: #f5f5f5; }

.wrapper {
  padding-bottom: 60px;
  margin: 0 auto;
  font-family: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', "微软雅黑", sans-serif; }

img {
  border: 0 none;
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  letter-spacing: 0; }

p {
  margin-bottom: 0;
  color: black;
  line-height: 1.5em; }

ul, li, ol {
  list-style: none; }

.line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2px auto 2px auto; }

.box {
  padding: 8px 8px 16px 8px;
  background-color: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 0.8em; }

.nav-btn {
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 40px; }
  .nav-btn .row .columns {
    text-align: center;
    line-height: 40px; }

.nav-btn a, .nav-btn a:hover, .nav-btn a:visited, .nav-btn a:focus {
  color: #17191b; }

.card-list .columns {
  padding: 0; }
.card-list .intro {
  padding-left: 4px; }
  .card-list .intro .list-name {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #F69; }
  .card-list .intro .follower-name {
    padding: 4px 0 4px 0; }
  .card-list .intro .dec {
    color: #636363;
    font-size: 14px;
    height: 30px;
    overflow: hidden; }
  .card-list .intro .follower-dec {
    height: auto; }
  .card-list .intro .city-time {
    font-size: 12px;
    color: #17191b;
    margin-top: 1px; }

.card {
  margin-top: 8px; }

.portrait {
  overflow: hidden;
  width: 66px;
  height: 66px;
  border-radius: 8px;
  margin: auto; }
  .portrait img {
    width: 100%;
    min-height: 100%; }

.portrait-person .popular {
  position: absolute;
  font-size: 10px;
  display: inline-block;
  background: #F69;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  right: 0;
  bottom: 0;
  border: 2px solid #f5f5f5;
  margin-right: 4px;
  margin-bottom: -16px; }

.brief {
  color: #929292;
}

.active{
  display: inline-block;
  height: 40px;
  border-bottom: 1px solid #F69;
  width: 100%;
}

.s-vip{position:absolute; width:36px; height:36px;}
.s-vip img{width:36px;height:36px;margin-left:-3px;margin-top:-5px;}

.follower-portrait {
  width: 54px;
  height: 54px; }

.btn {
  text-align: center; }

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #F69; }

.btn-add {
  background: #F69;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 38px;
  padding: 0;
  margin: 14px 0; }

.btn-center {
  text-align: center; }
  .btn-center .btn-publish {
    width: 50%; margin-bottom: 10px;}

.btn-accept {
  background: #F69;
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  width: 80%; }

.accepted {
  color: #9e9e9e;
  background: none;
  padding: 6px 0; }

.btn-report {
  color: #999999;
  font-size: 14px; }

.bottom-bar {
  height: 40px;
  position: fixed;
  bottom: 0;
  background: #17191b;
  width: 100%; }
  .bottom-bar .columns {
    padding: 0; }

.bottom-nav {
  line-height: 40px;
  text-align: center;
  color: #ffffff; }
  .bottom-nav span {
    display: block;
    margin: auto; }

.bottom-nav:hover {
  color: #ffffff;
  background-color: #0f1011; }

.current {
  background-color: #0f1011; }

/*弹窗*/
.dialog {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: none;
  color: #000; }
  .dialog .dialog-cnt {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    pointer-events: auto;
    position: relative;
    margin: 0 auto;
    top: 8%; }
    .dialog .dialog-cnt .dialog-bd {
      min-height: 71px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      padding: 18px;
      font-size: 16px;
      display: -webkit-box;
      display: block;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      -webkit-box-orient: vertical;
      text-align: center; }
      .dialog .dialog-cnt .dialog-bd img {
        width: 80%; }
  .dialog .back {
    width: 30px;
    height: 30px;
    float: right; }

/*弹窗结束*/
/*地区筛选*/
#area {
  background: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  #area .dialog-cnt {
    top: 80px; }
    #area .dialog-cnt .dialog-bd {
      padding: 10px; }

ul.choose-area {
  padding: 0; }

.choose-area li > a {
  float: left;
  padding: 4px;
  color: #000; }

.choose-area li > a:hover {
  background: #F69;
  color: #fff; }

.clear {
  clear: both; }

.choose {
  background: #ffffff; }

.btn-correct {
  background: #F69;
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 8px; }

/*地区筛选结束*/
/*系统提示*/
#tip.dialog {
  background: rgba(0, 0, 0, 0.4); }

#tip .dialog-cnt {
  background: #ffffff;
  text-align: center;
  border-radius: 8px;
  width: 80%;
  top: 20%;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #F69; }

#tip .tip-title {
  font-size: 18px; }
#tip p {
  margin: 16px 0; }


/*系统提示结束*/
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.nav-icon {
  font-size: 20px; }

@media (min-width: 500px) {
  .portrait-person .popular {
    margin-right: 20%;
    margin-bottom: -16px; } }
@media (min-width: 769px) {
  .card-list {
    width: 66%;
    margin: auto; }
  .brief {
    overflow: hidden;
  }

  .portrait-person .popular {
    margin-right: 12%;
    margin-bottom: -16px; } }
@media (max-width: 320px) {
  p, label, .button {
    font-size: 14px; }
  .nav-btn a {
    font-size: 14px; }

  .choose-area li > a {
    font-size: 14px; }

  .portrait-person .popular {
    position: absolute;
    font-size: 9px;
    width: 30px;
    height: 30px;
    line-height: 28px; }
  .portrait-person .follower-portrait {
    margin-left: 20px; }

  .tip-title {
    font-size: 16px; } 
  .card-list .intro .dec {
    font-size: 12px;
    height: 33px;
    }

  .portrait{
    width: 58px;
    height: 58px;
  }
  .btn-report {
    color: #999999;
    font-size: 12px; } }

.btn-search a {
  margin: 0;
  padding: 10px 0; }

.button.alert {
  background-color: #272730;
  border-color: #272730;
  color: #FFFFFF; }

button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #272730; }

.button.expand {
  padding-top: 10px;
  padding-bottom: 10px; }

