.meal {
    /*background: #ffffff;*/
    /*box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);*/
    margin-bottom: 16px;
}

.meal p {
    line-height: 3em;
}

.my-score a > p {
    color: #ff6000;
}

.meal .line {
    margin: 0;
}

.meal input {
    opacity: 0;
    /*margin-left: -17px;*/
    position: absolute;
}

.change-score {
    padding: 0 15px;
}

.meal label {
    line-height: 3em;
    width: 100%;
    padding-left: 16px;

}

input[type="radio"] + label {
    margin: 0;
}

.change {
    text-align: center;
    margin-top: 1em;

}

.change .btn {
    padding: 0.8em 1em;
    width: 60%;
}

.record {
    margin-top: 16px;
}

.record p {
    line-height: 4em;
}

.date {
    color: #929292;
}

.portrait-meal {
    width: 50px;
    height: 50px;
    margin: 3px 0;
}

img.meal-img {
    width: 24px;
    height: 24px;
    margin: 7px;
}

.meal-selected{
    color: #fff;
    background: #ff6000;
}