{template 'header'}
{template 'header-common'}
<link type="text/css" rel="stylesheet" href="{$_W['siteroot']}addons/superman_house/template/mobile/css/commissionlog.css">
<div class="margin">
	<form id="form1">
		<input type="hidden" name="i" value="{$_W['uniacid']}">
		<input type="hidden" name="c" value="entry">
		<input type="hidden" name="a" value="">
		<input type="hidden" name="do" value="commissionlog">
		<input type="hidden" name="m" value="superman_house">
		<!--<div class="card border-1px" style="margin-top: 0" onchange="this.form.submit()">-->
		<div class="card border-1px" style="margin-top: 0" onchange="this.form.submit()">
			日期范围:{php echo tpl_form_field_daterange('daterange', $_GPC['daterange']);}
			<!--<button class="btn btn-default" type="submit">搜索</button>-->
		</div>
	</form>
	<div class="card border-1px" style="padding: 0; border-bottom: 0">
		<div class="row" style="line-height: 40px;">
			<div class="col-xs-6 fontcolor" style="padding: 0 10px">
				<h5>已结佣
					<a href="{php echo $this->createMobileUrl('commissionlog', array('status' => 1));}" style="color: #e47d20">
					&#165;{$commission_total['yes']}
					</a>
				</h5>
			</div>
			<div class="col-xs-6 fontcolor text-right" style="padding: 0 10px">
				<h5>待结佣
					<a href="{php echo $this->createMobileUrl('commissionlog', array('status' => 0));}" style="color: #e47d20">
						&#165;{$commission_total['no']}
					</a>
				</h5>
			</div>
		</div>
		<hr style="margin:0; padding: 0"/>
		<div class="consume">
			<div class="record-box list clearfix">
                {loop $list $item}
				<div class="list-item">
					<div class="member-detail">
						<div class="img-rounded" style="background:transparent;">
							<img class="img-responsive" src="{php echo tomedia($member['avatar']);}" onerror="this.src='resource/images/heading.jpg'">
						</div>
						<span></span>
					</div>
					<div class="record-detail">
						<div>
							<span class="name">{if $item['house_name']}{$item['house_name']}（{$item['customer_realname']}）{elseif $item['orderno']}{$item['orderno']}{/if}</span>
							<span class="date">{php echo date('Y-m-d H:i:s', $item['createtime'])}</span>
						</div>
					</div>
					<div class="pay-detail">
						<div>
							<span class="money">{$item['money']}元</span>
							<span class="state">
								{if $item['status'] == -1}<span class="state_text text-danger" data-msg-type="error" data-msg="{if !empty($li[message])}{$li[message]}{else}请联系管理员{/if}">已取消</span>
								{elseif $item['status'] == -2}<span class="state_text text-danger" data-msg-type="warning" data-msg="{if !empty($li[message])}{$li[message]}{else}请联系管理员{/if}">失败</span>
								{elseif $item['status'] == 0}<span class="state_text text-warning" data-msg-type="info" data-msg="{if !empty($li[message])}{$li[message]}{else}请耐心等待...{/if}">待支付</span>
								{elseif $item['status'] == 1}<span class="state_text text-success" data-msg-type="success" data-msg="{if !empty($li[message])}{$li[message]}<br>{/if}查看到账方法：微信->我->钱包->零钱->零钱明细">已支付</span>
								{/if}
							</span>
						</div>
					</div>
				</div>
                {/loop}
			</div>
		</div>
	</div>
	<div class="text-center">
		{$pager}
	</div>
</div>
<script type="text/javascript">
	require(['daterangepicker'], function($){
		$('.daterange').on('apply.daterangepicker', function(ev, picker) {
			$('#form1')[0].submit();
		});
	});
	require(['jquery', 'util'],function($, u){
		$('.state_text').bind('click', function(){
			var msg = $(this).attr('data-msg');
			var msg_type = $(this).attr('data-msg-type');
			u.message(msg, '', msg_type);
		});
	});
</script>
{template 'footer-common'}
{template 'footer'}
