{template 'header'}
{template 'header-common'}
<style>
	.layout_wrapper {
		position: fixed;
		width: 100%;
		display: none;
	}
	.layout_tags {
		position: fixed;
		bottom: 0;
		width: 100%;
		line-height: 40px;
		background: #fff;
	}
	.house_layout_wrap .fa-angle-left {
		font-size: 22px;
		color: #787878;
	}
</style>
<nav class="navbar navbar-default navbar-fixed-top house_layout_wrap">
	<div class="container">
		<p class="pull-left navbar-text">
			<a href="{php echo $this->createMobileUrl('house', array('act' => 'detail', 'id' => $id))}">
				<span class="fa fa-angle-left" aria-hidden="true"></span>
			</a>
		</p>
		<p class="navbar-text text-center">户型图</p>
	</div>
</nav>
<div class="row layout_wrapper">
	<div id="carousel-container" class="carousel slide">
		{php $slides = app_slide(array('multiid' => 8));}
		<div class="carousel-inner" role="listbox">
			{loop $list $key $row}
			<div class="item{if $list[0] == $row} active{/if}">
				<h5 class="text-center" style="color: #ed5736;">{$row['name']} {$row['area']}㎡</h5>
				<a href="{$row['img']}">
					<img src="{$row['img']}" title="{php echo implode(' ', $row['tags'])}" style="height: auto;max-height: 300px; vertical-align:middle;">
				</a>
				<div class="text-center layout_tags">
					{loop $row['tags'] $t}
					<span class="label label-{php echo $label_styles[mt_rand(0, 5)]}">{$t}</span>
					{/loop}
					<span style="color: #333">{php echo $key+1;} / {php echo count($list)}</span>
				</div>
			</div>
			{/loop}
		</div>
	</div>
	<div class="text-center" style="line-height: 40px; color: #ccc;">点击看大图</div>
	<script>
		require(['bootstrap', 'hammer'], function($, Hammer){
			$('#carousel-container').carousel('pause');
			var mc = new Hammer($('#carousel-container').get(0));
			mc.on("panleft", function(ev) {
				$('#carousel-container').carousel('next');
			});
			mc.on("panright", function(ev) {
				$('#carousel-container').carousel('prev');
			});

			//初始化容器位置
			var h = ($(window).height() - $('.layout_wrapper').height()) / 2;
			$('.layout_wrapper').css({'margin-top': h+'px'}).fadeIn();
		});
	</script>
</div>
{template 'footer'}
