{template 'header'}
{template 'header-common'}
<link type="text/css" rel="stylesheet" href="{$_W['siteroot']}addons/superman_house/template/mobile/css/myorder.css">
<div class="margin">
	<div class="card clearfix paid border-1px">
		<div class="row fontcolor clearfix">
			<div class="col-xs-6 text-left">
				订单号：{$order['orderno']}
			</div>
			<div class="col-xs-6 text-right">
				{if $order['status']==1}
					<span>已付款</span>
				{else if $order['status']==0}
					<span>未付款</span>
				{else if $order['status']==-1}
					<span>已取消</span>
				{/if}
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-xs-12 myorder-detail-wrap">
				<p>
					<a href="{php echo $this->createMobileUrl('house', array('act' => 'detail', 'id' => $order['house']['id']))}">
					{$order['house']['name']}（订金）
					</a>
				</p>
				<p>
					订单金额：{$order['amount']}元
				</p>
				<p>
					姓名：{$order['realname']}
				</p>
				<p>
					手机：{$order['mobile']}
				</p>
				<p>
					备注：{$order['remark']}
				</p>
				<p>
					下单时间：{$order['dateline']}
				</p>
				{if $order['paytime']}
				<p>
					支付时间：{$order['paytime']}
				</p>
				{/if}
			</div>
		</div>
		<div class="clearfix">
			{if $order['status']==0}
				<a href="{php echo $this->createMobileUrl('myorder', array('act' => 'cancel', 'ordid' => $order['ordid']))}">
					<button type="button" class="btn btn-warning pull-right myorder-detail-btn">取消订单</button>
				</a>
				<a href="{php echo $this->createMobileUrl('pay', array('ordid' => $order['ordid']))}">
					<button type="button" class="btn btn-danger pull-right myorder-detail-btn">立即支付</button>
				</a>
			{else if $order['status']==-1}
				<a href="{php echo $this->createMobileUrl('myorder', array('act' => 'delete', 'ordid' => $order['ordid']))}">
					<button type="button" class="btn btn-danger pull-right myorder-detail-btn">删除订单</button>
				</a>
			{/if}
		</div>
	</div>
</div>
{template 'footer-common'}
{template 'footer'}