@charset "utf-8";
/* CSS Document */

.ui-tab-nav {
	width:100%;
	background-color:#fff;
	display:box;
	display:-webkit-box;
	font-size:16px;
	height:45px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
.ui-tab-nav li {
	height:45px;
	line-height:45px;
	min-width:70px;
	box-flex:1;
	-webkit-box-flex:1;
	text-align:center;
	color:gray;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-size: 14px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
}
.ui-tab-nav li a {
	text-decoration: none;
	color: gray;
	display: block;
	float: left;
	width: 100%;
}
.ui-tab-nav  li.current a {
	color:#00bb9c;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #00bb9c;
	line-height: 45px;
	height: 44px;
}

.ui-tab-content {
	margin-top:5px;
	display:-webkit-box
}
.baoliao_content   {
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	margin-top: 15px;
}
.baoliao_content .bl_img {
	float: left;
	margin: 5px;
	width: 15%;
}
.baoliao_content .bl_img img {
	width: 90px;
}
.baoliao_content .bl_right {
	float: left;
	margin-left: 10px;
	width: 78%;
}

.baoliao_content .bl_title {
	float: left;
	font-size: 12px;
	color: #666666;
	line-height: normal;
	width: 100%;
}
.baoliao_content .bl_note {
	float: left;
	font-size: 12px;
	line-height: normal;
	color: #FF3300;
	margin-top: 5px;
	width: 100%;
}
.baoliao_content .bl_tag {
	float: left;
	font-size: 12px;
	width: 100%;
	line-height: 30px;
	margin-top: 10px;
}
.baoliao_content .bl_right .bl_tag .bl_price {
	float: left;
	font-size: 12px;
	color: #FF3300;
}
.baoliao_content .bl_right .bl_tag .bl_oprice {
	font-size: 12px;
	text-decoration: line-through;
	float: left;
	margin-left: 10px;
	color: #999999;
}
.baoliao_content .bl_right .bl_tag .bl_mall {
	float: right;
	font-size: 12px;
	color: #666666;
}
.baoliao_content .bl_right .bl_tag .bl_time {
	float: right;
	font-size: 12px;
	color: #666666;
	margin-left: 10px;
}
.bl_more  {
	line-height: 40px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
	float: left;
	width: 100%;
}
.bl_more  a  {
	line-height: 40px;
	height: 40px;
	width: 100%;
	color: #666666;
	text-decoration: none;
	float: left;
	font-size: 12px;
}
.shaixuan_box {
	position: absolute;
	right: 0px;
	top: 0px;
	background-color:rgba(255,255,255,0.95);
	height: 100%;
	width: 100%;
	z-index: 9999;
	display: none;
	margin-right: -100%;
	overflow: auto;
	min-height: 100%;
}
.shaixuan_mall {
	padding: 10px;
}
.shaixuan_mall h1 {
	font-size: 16px;
	font-weight: normal;
	color: #00bb9c;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	line-height: 40px;
	width: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
	background-color: #EEEEEE;
}
.shaixun_item {
	float: left;
	width: 100%;
	padding-top: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
}
.shaixun_item  a {
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	text-align: center;
	display: block;
	float: left;
	margin-bottom: 5%;
	width: 25%;
}
.shaixun_item     a:active,.shaixun_item  a:hover {
	color: #ff8200;
	font-weight: bold;
	font-size: 14px;
}
.shaixun_item  a.current {
	color: #ff8200;
	font-weight: bold;
	font-size: 14px;
}
.shaixuan_mall p {
	line-height: 40px;
	width: 100%;
	text-align: center;
}
.shaixuan_colos {
	color: #666666;
	text-decoration: none;
	display: block;
	float: left;
	background-color: #F6F6F6;
	width: 100%;
	text-align: center;
	font-size: 14px;
}


.bl_view_img {
	text-align: center;
	padding: 10px;
}
.bl_view_img img {
	
}
.bl_view_title {
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}
.bl_type {
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	border-radius: 5px;
	background-color: #ff3030;
	margin-right: 2px;
}

.bl_view_note {
	font-size: 14px;
	color: #FF6600;
	padding: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	line-height: 22px;
}
.bl_view_tag {
	font-size: 12px;
	line-height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
	height: 40px;
	padding-right: 1%;
	padding-left: 1%;
}
.bl_view_price {
	font-size: 16px;
	color: #FF3300;
	float: left;
	margin-left: 1%;
}
.bl_view_oprice {
	font-size: 12px;
	color: #666666;
	text-decoration: line-through;
	text-align: right;
	float: left;
	margin-left: 5%;
}
.bl_view_user {
	font-size: 12px;
	color: #666666;
	text-align: left;
	float: left;
	margin-left: 1%;
}

.bl_view_mall {
	font-size: 12px;
	text-align: center;
	float: right;
	color: #666666;
	margin-right: 1%;
}
.bl_view_time {
	font-size: 12px;
	color: #666666;
	text-align: right;
	float: right;
	margin-right: 1%;
}
.go_buy {
	line-height: 40px;
	height: 40px;
	text-align: center;
}
.go_buy a {
	color: #FFFFFF;
	background-color: #00bb9c;
	text-align: center;
	line-height: 40px;
	float: left;
	width: 100%;
	text-decoration: none;
	font-size: 16px;
}
.bl_view_content h1 {
	font-size: 16px;
	font-weight: normal;
	color: #FF6600;
	line-height: 45px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F3F3F3;
	text-indent: 10px;
	margin: 0px;
	padding: 0px;
}
.bl_view_content h1 span {
	float: right;
	font-size: 12px;
	color: #999999;
	margin-right: 5px;
}

.bl_view_word {
	padding: 10px;
	font-size: 14px;
	color: #666666;
	line-height: 22px;
	overflow: hidden;
}
.bl_view_word p {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.bl_view_word a {
	color: #00bb9c;
	text-decoration: none;
}
.pl_icon {
	background-image: url(../images/iconfont-fzst-ping.png);
	background-repeat: no-repeat;
	background-size: 40px;
	height: 40px;
	width: 40px;
	position: fixed;
	right: 10px;
	bottom: 100px;
}


.pinlun_input {
	float: left;
	width: 75%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 14px;
	color: #333333;
	font-family:Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
	padding-left: 42px;
	outline: none;
	padding-right: 10px;
	background-image: url(../images/iconfont-pinglun.png);
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 10px center;
	padding-top: 15px;
	padding-bottom: 10px;
}
.pinlun_submit {
	line-height: 40px;
	color: #FFFFFF;
	height: 40px;
	width: 25%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family:Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
	outline: none;
	background-color: #7fc242;
}
.no_login {
	line-height: 45px;
	text-align: center;
	color: #333333;
}
.no_login a {
	margin-left: 15px;
}

.bl_comment h1 {
	font-size: 14px;
	font-weight: normal;
	color: #666666;
	margin: 0px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
}
.comment_list {
	padding: 10px;
	font-size: 12px;
	color: #666666;
}
.comment_list li {
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.comment_list  .pl_user_img {
	float: left;
	height: 30px;
	width: 30px;
	overflow: hidden;
	border-radius: 50%;
}
.comment_list  .pl_user_img  img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}
.comment_list .pl_user_top {
	float: left;
	width: 50%;
	line-height: 30px;
	max-width: 98%;
}

.comment_list  .pl_user_name {
	float: left;
	margin-left: 10px;
	color: #0099CC;
	font-size: 12px;
}
.comment_list .pl_user_time {
	float: left;
	margin-left: 10px;
	color: #999999;
	font-size: 12px;
}
.comment_list .pl_user_comment {
	width: 97%;
	margin-top: 5px;
	padding-left: 2.2%;
	float: left;
	text-align: justify;
	line-height: 22px;
	font-size: 12px;
}
.detail-info {
  background: #eee none repeat scroll 0 0;
  display: block;
  font-size: 0.75rem;
  margin: -5px 0 0;
  position: relative;
}
.detail-info .circle-phone {
  background: #dedede none repeat scroll 0 0;
  border-radius: 30px;
  height: 40px;
  line-height: 38px;
  padding: 5px 0 0 4px;
  position: absolute;
  right: 10px;
  top: -47px;
  width: 40px;
}
.detail-info img {
  border-radius: 5px;
  display: block;
  float: left;
  height: 60px;
  margin: -29px 5px;
  vertical-align: middle;
  width: 60px;
}
.detail-info h1 {
  font-weight: 100;
}
.detail-info h1 {
  font-size: 1rem;
  margin: 0 0 10px;
  padding: 10px 0 0;
}

.shop-detail-col2 {
  color: #111;
  float: left;
  padding: 10px 0;
}
.shop-detail-col2 .ic-phone, .shop-detail-col2 .ic-location {
  color: #aaa;
  float: left;
  font-size: 36px;
  margin: 30px 3px 0 2px;
}
.shop-detail-small-title {
  color: #333;
  display: block;
  font-size: 1rem;
}
.shop-detail-small-title span {
  color: #999;
  font-size: 0.78rem;
}
.shop-detail-col-right {
  float: left;

  overflow: hidden;
  width: 74%;
}
.shop-detail-col2 .shop-phone img {
  display: inline;
  float: none;
  height: 14px;
  margin: 0;
  max-width: 150px;
  vertical-align: middle;
  width: 100%;
}
.detail-info img {
  border-radius: 5px;
  display: block;
  float: left;
  height: 60px;
  margin: -29px 5px;
  vertical-align: middle;
  width: 60px;
}
.detail-banner {
  position: relative;
}
.detail-banner img {
  min-height: 60px;
  width: 100%;
}
.swpier-option {
  bottom: 10px;
  position: absolute;
  right: 5px;
}
.swpier-option span {
  background: #444 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: block;
  float: left;
  margin: 0 0 5px 10px;
  opacity: 0.7;
  padding: 1px 10px;
}
.swpier-option span {
  background: #444 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: block;
  float: left;
  margin: 0 0 5px 10px;
  opacity: 0.7;
  padding: 1px 10px;
}
.detail-info-content {
  background: #fff none repeat scroll 0 0;
  font-size: 0.82rem;
  overflow: hidden;
  padding: 10px;
  word-wrap: break-word;
}
.company-list {
  display: block;
  list-style: outside none none;
  margin: 0 15px 15px;
}
.detail-info-content .company-list {
  margin: 0;
}
.company-list li {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  position: relative;
}
.company-list .company-icon {
  border: 3px solid #fff;
  border-radius: 50%;
  float: left;
  height: 43px;
  margin: 1px 20px 0 5px;
  padding: 0;
  position: relative;
  width: 43px;
}
.company-info {
  padding: 0 60px 0 50px;
}
.company-list h4 {
  color: #323232;
  font-size: 0.9rem;
  font-weight: 500;
  height: 25px;
  line-height: 25px;
}
.company-list span {
  color: #999;
  display: block;
  font-size: 0.75rem;
}
.company-list .circle-phone, .company-list .mui-btn {
  background: #fff none repeat scroll 0 0;
  border-radius: 33px;
  height: 33px;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 18px;
  width: 33px;
}
.detail-info-title {
  background: #ccc none repeat scroll 0 0;
  padding: 10px;
}
