@charset "utf-8";
/* CSS Document */


.news_index .ui-list a li {
	float: left;
	width: 98%;
	margin-top: 10px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	padding-bottom: 10px;
}
.list_left {
	float: left;
}
.ui-border-t {
	padding-top: 10px;
}
.ui-list-info h4 {
	line-height: 30px;
	height: 30px;
	font-size: 16px;
	color: #00a5e0;
}
.ui-list-info {
  display: block;
}
.ui-list-info .ui-badge {
	position: relative;
	float: right;
	top: 50%;
	margin-top: -40px;
}
.list {
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.list h4 {
	font-size: 14px;
	color: #333333;
}

.ui-border-t .ui-badge-muted {
	position: relative;
	float: right;
	top: 50%;
	margin-top: -30px;
}
.news_view {
	padding: 10px;
	width: 92%;
	text-align: justify;
}
.news_view h1 {
	font-size: 20px;
	line-height: 45px;
	color: #0099CC;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
.news_tags {
	line-height: 30px;
	font-size: 12px;
	color: #666666;
}
.news_tags span {
	text-align: center;
	margin-right: 3%;
}


.news_content {
	font-size: 14px;
	color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #D9D9D9;
	line-height: 24px;
}
.news_content p {
	margin: 0px;
}

.news_content img {
	margin-top: 10px;
	margin-bottom: 15px;
}
.news_key {
	line-height: 30px;
	font-size: 13px;
	color: #666666;
	margin-top: 10px;
}
.news_key span {
	float: left;
	font-size: 13px;
}
.news_key a {
	float: left;
	margin-left: 3%;
	font-size: 13px;
}
.news_more {
	line-height: 30px;
	float: left;
	width: 100%;
	margin-top: 10px;
}
.news_more .news_next {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.news_more span {
	float: left;
	color: #666666;
	font-size: 13px;
}

.news_more  a {
	font-size: 13px;
	color: #666666;
	text-decoration: none;
	margin-right: 10px;
	float: left;
}
