@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-family:Helvetica,"Microsoft YaHei", Arial, Helvetica, sans-serif;
	background-color: #f5f5f5;
	-webkit-text-size-adjust: none 
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
    max-width: 100%;
}
form {
	margin: 0px;
	padding: 0px;
}

a, div, header, span {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.mobile {
	background-color: #FFFFFF;
	min-width: 320px;
}
.w {
	background-color: #FFFFFF;
	float: left;
	min-width: 320px;
	width: 100%;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
}
.m_user {
	line-height: 40px;
}
.m_user a {
	float: left;
	width: 33%;
	text-decoration: none;
	color: #666666;
	font-size: 12px;
	text-align: center;
}
.m_more {
	line-height: 40px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	float: left;
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F6F6F6;
}
.m_more a {
	line-height: 40px;
	height: 40px;
	width: 100%;
	color: #666666;
	text-decoration: none;
	float: left;
	font-size: 12px;
}
.data_null {
	background-image: url(../images/nothing.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
}

/*页面加载*/
#preloader {position:fixed;z-index:2500;top:0;left:0;right:0;bottom:0;background-color:#fff; z-index:999999; }
#status {
	position:fixed;
	z-index:999999;
	width:250px;
	height:250px;
	position:absolute;
	left:50%;
	top:50%;
	background-size:32px 32px;
	margin-top: -125px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: -115px;
}
#status p{top:70%;}
.center-text{
	text-align:center;
	background-image: url(../images/loading.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 182px;
	width: 234px;
}
.center-text span {
	font-size: 14px;
	color: #999999;
	position: relative;
	top: 170px;
}

/*header*/
.header{
	height:44px;
	background:#ff4683;
	position: relative;
	z-index: 10;
	line-height: 44px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-family: 微软雅黑
}
.new-a-back {
	height: 40px;
	position: absolute;
	width: 45px;
}
.new-a-back span {
	background:url(../images/icon_fh.png) no-repeat 0px 0px / 18px 18px;
	display:block;
	height: 35px;
	text-indent:17px;
	width: 50px;
	color:#FFF;
	font-size:14px;
	padding-top: 8px;
	margin-left: -10px;
}
.new-a-back span img {
	width: 25px;
}

.header h2 {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-weight:bold;
}
.header .header_right {
	position: absolute;
	right: 10;
	top: 10;
}
.header .header_right img {
	height: 25px;
}
.head_right {
	position: absolute;
	top: 15px;
	right: 10px;
}
.head_right    a   {
	color:#FFFFFF;
	font-size:12px;
	padding-top:5px;
	text-decoration: none;
}
.search {
	margin-top: 2%;
}



.search_input {
	6width: 85%;
	margin: 0px;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 40px;
	float: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline: none;
	font-family:Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	background-image: url(../images/iconfont-sousuo.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 20px;
	width: 80%;
}
.search_submit {
	float: left;
	width: 20%;
	height: 37px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline: none;
	font-family:Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 37px;
	color: #FFFFFF;
	background-color: #009999;
}
.m_input {
	width: 97%;
	padding-right: 1.5%;
	padding-left: 1.5%;
	font-size: 15px;
	color: #333333;
	height: 40px;
	font-family: Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
	border: 1px solid #D7D7D7;
	margin: 1.5%;
	outline: none;
	border-radius: 3px;
}
.color_red {
	font-weight: bold;
	color: #ff6063;
}
.color_luse {
	font-weight: bold;
	color: #00bb9c;
}

.color_chunlu {
	font-weight: bold;
	color: #91C756;
}






.footer a {
	float: left;
	width: 33%;
	height: 80px;
	text-align: center;
	text-decoration: none;
}
.footer .ico_img {
	margin-top: 15px;
}
.footer .ico_img img {
	width: 30px;
}

.footer a span {
	font-size: 12px;
	color: #666666;
	line-height: 30px;
}
.copyright {
	line-height: 40px;
	font-size: 12px;
	color: #999999;
	text-align: center;
	float: left;
	width: 100%;
}
.copyright a {
	text-decoration: none;
	color: #999999;
}
.gotop {
	background-image: url(../images/iconfont-fanhuidingbu.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px;
	height: 40px;
	width: 40px;
	position: fixed;
	right: 10px;
	bottom: 50px;
	z-index: 9999;
	cursor: pointer;
}
.no_login_show {
	background-color: #FFFFFF;
	text-align: center;
	float: left;
	width: 360px;
	overflow: hidden;
}
.no_login_show h1 {
	font-size: 16px;
	color: #666666;
	margin: 0px;
	line-height: 50px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #E7E7E7;
	background-color: #F9F9F9;
}
.no_login_show a {
	width: 100%;
	line-height: 50px;
	text-decoration: none;
	color: #ff6063;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #EEEEEE;
}
.index-search {
  background: #eee none repeat scroll 0 0;
  margin: 0;
  padding: 5px 12px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.index-search .input-wrapper {
  box-sizing: border-box;
  display: inline-block;
  height: 34px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.index-search .input-wrapper .input {
  border: 1px solid #dbdbdb;
  border-radius: 24px;
  box-shadow: none;
  color: #303030;
  display: block;
  height: 100%;
  line-height: 20px;
  padding: 7px 32px 7px 12px;
  width: 100%;
}
.index-search .input-wrapper .submit {
  background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll center center / 12px auto;
  border: medium none;
  right: 7px;
}
.mui-table-view::before {
  background-color: #c8c7cc;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleY(0.5);
}
.good {
  background-color: #fff;
}
.good-content {
  border-bottom: 1px solid #e0e0e0;
  display: block;
  margin-left: 12px;
  padding: 12px 12px 12px 0;
  text-decoration: none;
}
.good-content .img-wrapper {
  float: left;
  overflow: hidden;
  position: relative;
  width: 96px;
}
.good-content .img-wrapper .img-placeholder {
  background: rgba(0, 0, 0, 0) url("") no-repeat scroll 0 0 / 100% 100%;
}
.good-content .img-wrapper img {
  display: block; 
  width: 120px;
}
.good-content .info-wrapper {
  margin-left: 108px;
  position: relative;
}
.good-content .info-wrapper .title-line {
  height: 16px;
  line-height: 16px;
  overflow: hidden;
}
.good-content .info-wrapper .title-line .title {
  float: left;
  font-size: 0;
  height: 16px;
  line-height: 16px;
  max-width: 100%;
}
.good-content .info-wrapper .title-line .title .item-name {
  color: #22222d;
  display: inline-block;
  font-size: 16px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.good-content .info-wrapper .title-line .distance, .good-content .info-wrapper .title-line .store {
  color: #88888d;
  float: right;
  font-size: 12px;
  transform: scale(0.916667);
  transform-origin: 50% 50% 0;
}
.good-content .info-wrapper .desc {
  color: #88888d;
  font-size: 12px;
  height: 32px;
  line-height: 16px;
  margin: 4px 0;
  overflow: hidden;
}
.good-content .info-wrapper .price-line {
  color: #ff4683;
  font-size: 0;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
}
.good-content .info-wrapper .price-line ins {
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}
.good-content .info-wrapper .price-line .old-price {
  color: #88888d;
  font-size: 12px;
  margin-right: 5px;
}
.bought {
  color: #88888d;
  float: right;
  font-size: 12px;
  margin-left: 16px;
}