.top_title{width:100%;text-align: center;margin: 0 auto;color:#ffffff;font-size:20px;padding-bottom:15px;}
.top {
    width: 100%;
    height: 180px;
    /*background: #4a4a4a;*/
	background-image: url(bg.jpg);
	background-size:100%;
    position: relative;
	margin:0 auto;
	text-align: center;
	margin-bottom:-10px;
}
.top ul {
    text-align: center;
	width:100%;
	margin: 0 auto;
}
.top ul li {
    font-size: 14px;
    color: #fff;
    float: left;
	width:33%;
}
.top ul li span {

    font-size: 14px;
    display: block;
    height: 24px;
    line-height: 24px;
}
.top b {
    width: 0.05rem;
    height: 0.9rem;
    display: inline-block;
    background: #3f3f3f;
}
.top b.top01 {
    position: absolute;
    left: 6.15rem;
    top: 4.6rem;
}
.top b.top02 {
    position: absolute;
    left: 9.85rem;
    top: 4.6rem;
}
.face {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    display: inline-block;
    margin: 10px auto 10px auto;
}
.face a {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    display: inline-block;
    border: 1px solid #fff;
    background: #fff;
}
.face a img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.tittle {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 2px solid #e5e5e5;
    background: #fff;
	
}
.tittle ul li {
    width: 25%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    float: left;padding-top:10px;
}
.tittle ul li a{
    color: #4a4a4a;
}
.tittle h1{
    font-size: 0.6rem;
    font-weight: normal;
}
.tittle ul li.add {
    border-bottom: 2px solid #d93321;
}
.tittle ul li.add a {
    color: #d93321;
}
.center {
    width: 100%;
    overflow: hidden;
}

/*实景案例*/
.list {
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
}
.list01 {
    width: 100%;
    height: 160px;
    position: relative;
}
.list01 img {
    width: 100%;
    height: 160px;
}
.list01 i img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.listbg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 160px;
    background: rgba(0,0,0,.2);
}
.list01 p {
    position: absolute;
    top: 60px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
}
.list01 b {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    height: 50px;
}

.list02,.list03 {
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 0 10px;
}
.list02 a {
    color: #888;
    font-size: 12px;
    margin-top: 25px;
    height: 0.9rem;
    line-height: 0.9rem;
}
.list02 a b {
    width: 40px;
    height: 40px;
    border-radius: 0.9rem;
    display: block;
    float: left;
    margin: -16px 0.4rem 0 0.6rem;
}
.list02 a b img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.list02 a span {
    font-size: 16px;
    color: #000;
    padding-right: 5px;
	margin-top:20px;
}
.list02 i,.list03 i {
    width: 60px
    height: 25px;
    line-height: 25px;
    display: inline-block;
    background: #FF8C1B;
    border-radius: 5px;
    float: right;
    font-style: normal;
	margin-right:20px;
	padding:5px;
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}
/*在建工地*/
.site-face {
    position: absolute;
    top: 20px;
	text-align: center;
    width: 50px;
	margin-left:43%;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
    background: #fff;
}
.site-face i {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.list h3 {
    position: absolute;
    font-weight: normal;
    top: 80px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    width: 100%;
}
.list01 b.site01 {
    top: 110px;
}
.case .list01 b.site01 {
    top: 90px;
}

.listleft p {
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 10px;
	padding-right:6px;
    text-align: left;
}
.listleft ul li {
    float: left;
    font-size: 12px;
    color: #888;
    margin-right: 0.45rem;
    margin-top: 5px;
}

/*设计师*/
.designer {
    /*display: none;*/
}
.design {
    position: absolute;
    top: 60px;
    left: 30%;
    width: 150px;
    height: 30px;
    line-height: 30px;
    border: 0.1rem solid #fff;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.touxiang {
    position: relative;
    top: -30px ;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #fff;
    z-index: 1;
    background: #fff;
}
.touxiang img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.list01 span {
    position: absolute;
    bottom: 5px;
    left: 70px;
    font-size: 16px;
    color: #fff;
}
.list04 {
    width: 100%;
    height: 25px;
    background: #fff;
    position: relative;
}

.list04 p {
    font-size: 14px;
    color: #c1c1c1;
    margin-left:70px;
	margin-top:10px;
	text-align: left;
}


/*公司简介*/
.introduce {
    /*display: none;*/
}
.listone {
    width: 14.8rem;
    overflow: hidden;
    padding: 0.6rem 0;
    margin: 0 auto;
    border-bottom: 0.05rem solid #e5e5e5;
}
.listone h4 {
    font-size: 0.5rem;
    color: #888;
    font-weight: normal;
    ; text-align: left;
    height: 0.85rem;
    line-height: 0.875rem;
    padding-left: 0.625rem ;
    margin-left: 0.225rem;
}
.listone p {
    font-size: 0.6rem;
    color: #4a4a4a;
    text-align: left;
    line-height: 160%;
    padding-left: 0.85rem;
}
.listone p span {
    display: inline-block;
    width: 1.9rem;
    float: left;
}
.listone p a {
    display: inline-block;
    width: 12rem;
}
.listone .one01 {
    background: url(icon04.png) no-repeat left;
    background-size: 0.45rem 0.45rem;
    background-position: 0 0.2rem;

}
.listone .one02 {
    background: url(icon05.png) no-repeat left;
    background-size: 0.45rem 0.45rem;
    background-position: 0 0.2rem;
}
.listone .one03 {
    background: url(icon08.png) no-repeat left;
    background-size: 0.35rem 0.45rem;
    background-position: 0 0.2rem;
}
.listone .one04 {
    background: url(icon06.png) no-repeat left;
    background-size: 0.45rem 0.45rem;
    background-position: 0 0.2rem;
}
/*设计师公共头*/
.sf-deBlock{ text-align: center;}
.sf-deBlock .img{ text-align: center;font-size: 14px;}
.sf-deBlock .img .designer{display: inline-block;border-radius: 50%;overflow: hidden;border: 2px solid #ffffff; width: 50px;height: 50px;margin-top: 16px;}
.sf-deBlock{ padding:10px 10px 18px 10px;background: transparent url("designer_backg.jpg") 0 0 no-repeat;background-size: 100% auto; color:#ffffff;}
.sf-deBlock .txt{margin-top: 15px;; overflow: hidden; line-height:1.4; font-size: 14px;}
.sf-deBlock .txt h3{ font-size: 16px;}
.sf-deBlock .txt .level{display: inline-block;padding: 0 16px;font-size: 12px;line-height: 22px;border-radius: 11px;border: 1px solid rgba(255,255,255,0.2);background-color: rgba(255,255,255,0.1);}
.sf-deBlock .img .designer{display: inline-block;border-radius: 50%;overflow: hidden;border: 2px solid #ffffff; width: 50px;height: 50px;margin-top: 16px;}
.sf-deInfos{font-size: 14px;line-height:1.65em;}
.sf-deInfos h2{ margin-top: -5px; line-height:30px; font-size: 16px;}
.sf-deInfos .con{margin-top: 2px;max-height: 3.3em;overflow: hidden;word-break: break-all;}
.mt5,.mgT5{margin-top:5px;}
.f14{font-size: 14px;}
.bg-fb{background-color: #fbfbfb;}
.jj-fixedBtn{position: fixed;left: 0;bottom: 0;width: 100%;background-color: #df3031;text-align: center;color: #ffffff;font-size: 16px;line-height: 45px;z-index:9999;}
.public-nav-module{padding:20px 10px 0 10px;background-color:#FFF}
.public-nav-module .nav-container{display:-webkit-box}
.public-nav-module .nav-container .nav-item{padding-bottom:15px;width:0;-webkit-box-flex:1;text-align:center}
.public-nav-module .nav-container .nav-item .nav-item-link{display:inline-block}
.public-nav-module .nav-container .nav-item .item-icon{position:relative;display:block;margin:0 auto;width:45px;height:45px;border-radius:50%}
.public-nav-module .nav-container .nav-item .esf-icon{position:relative;display:block;margin:0 auto;width:45px;height:45px;background:url(index_icons.png) no-repeat;background-size:120px 250px;background-position:-50px -200px}
.public-nav-module .nav-container .nav-item .nav-item-link .text{display:block;margin-top:8px;font-size:14px;color:#565e66;line-height:100%}
.public-nav-module .nav-container .nav-item .icon{position:absolute;display:block;background:url(index_icons.png) no-repeat;background-size:120px 250px}
.cont-more-pic{ background:#e4e4e4; height:36px; line-height:36px; margin:10px; border-radius:3px; text-align:center; display:block; color:#b9b9b9;font-size:14px;}
a.cont-more-pic:link,a.cont-more-pic:visited{ color:#b9b9b9}
.icon img{width:50px;}
.room-inner-case {
  margin-top: 10px;
  background: #fff;

}
.kaifa {
    background-color: #c8c8c8;
    font-size: 10px;
    position: absolute;
    right: -10px;
    top: -3px;
    padding: 1px 4px;
    color: #fff;
    border-radius: 6px; }
.mianfei {
    background-color: #d93321;
    font-size: 10px;
    position: absolute;
    right: -10px;
    top: -3px;
    padding: 1px 4px;
    color: #fff;
    border-radius: 6px; }
.room-inner-case h1 {
  font-size: 16px;
  color: #000;
  position: relative;
  margin: 11px 0 5px 10px;
}

.room-inner-case h1 img {
  border-radius: 22px;
}
.room-inner-case h1 a {
  position: relative;
  display: block;
}
.room-inner-case h1 a:after {
  content: ' ';
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  height: 12px;
  width: 12px;
  position: absolute;
  right: 15px;
  top: 7px;
  display: block;
  -webkit-transform: rotate(-45deg);
}
.room-inner-case h1 p {
  position: absolute;
  right: 10px;
  top: 0;
  width: 90px;
  text-align: right;
}
.room-inner-case h1 p a {
  display: inline-block;
  width: 40px;
  color: #999;
  font-size: 13px;
}
.room-inner-case h1 p a:after {
  display: none;
}
.room-inner-case .noafter:after {
  display: none;
}
.room-inner-case ul {
  display: block;
  background: #fff;
}
.room-inner-case ul li:active {
  opacity: 0.7;
}
.room-inner-case ul li figure {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 10px;
}
.room-inner-case ul li figure img{width: 100%}
.room-inner-case ul li figure figcaption {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(7, 6, 6, 0.6)), color-stop(100%, rgba(7, 6, 6, 0.8)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(7, 6, 6, 0.6) 99%, rgba(7, 6, 6, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(7, 6, 6, 0.6) 99%, rgba(7, 6, 6, 0.8) 100%);
  height: 68px;
  width: 100%;
  position: absolute;
  bottom: -1px;
}
.room-inner-case ul li figure figcaption h1 {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: solid 1px #fff;
}
.room-inner-case ul li figure figcaption h2 {
  position: absolute;
  top: 15px;
  left: 64px;
  color: #fff;
  font-size: 20px;
}
.room-inner-case ul li figure figcaption h3 {
  position: absolute;
  bottom: 10px;
  left: 65px;
  color: #fff;
  font-size: 12px;
  width: 76%;
}
.room-inner-case ul li figure figcaption h3 span {
  float: right;
  margin: 2px 8px 0 0;
}
.room-inner-case ul li figure figcaption h3 strong {
  float: left;
  width: 80%;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  word-break:break-all;
}
.title-box{padding:14px 0 10px 0;background:#fff;border-bottom:1px solid #ececec;}
.title-name{border-left:3px solid #d93321;padding-left:2%;line-height:1;margin-bottom:1%;font-size:1.6rem;color:#666;font-weight:normal;}
.index-sjs{padding:2% 0;}
.index-sjs-list > li{float:left;width:25%;overflow:hidden;text-align:center;margin-bottom: 1.5%;}
.index-sjs-list .sjs-img{display:block;margin:0px auto;width:80%;border-radius:50%;}
.index-sjs-list .p1{color:#333;font-size:14px}
.bg-ff{background:#fff;}

.lookmore {
  display: block;
  height: 35px;
  font-size:16px;
  line-height: 25px;
  text-align: center;
  margin-top:5px;
  color: #999;
}
.lookmore span {
  display: inline-block;
  border-bottom: solid 1px #999;
  border-right: solid 1px #999;
  -webkit-transform: rotate(45deg);
  height: 12px;
  width: 12px;
  vertical-align: 3px;
  margin-left: 6px;
}
.h1Title {
  font-size: 18px;
  color: #000;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 6px;
}
.collectMsg {
  padding-bottom: 10px;
  height: auto !important;
  border-bottom: dashed 1px #e3e3e3;
  margin: 0 10px;
  position: relative;
  color: #999;
  font-size:14px;
}
.collectMsg span {
  position: absolute;
  right: 0;
}
.collectMsg ul {
  display: block;
}
.collectMsg ul li {
  margin-top: 8px;
  float: left;
  width: 50%;
  text-align: left;
}
.bottom-tel2{
    width:100%;
    overflow: hidden;
    height:45px;
    background: #f65f4e;
    position: fixed;
    bottom:0;
    z-index: 9;
}
.bottom-tel2 a{
    width: 49%;
    height:35px;
    line-height:35px;
    float:left;
    position: relative;
    padding:5px 0;
}
.bottom-tel2 .tel{
    border-right: 1px solid #f88a7d;
}
.bottom-tel2  i{
    width:30px;
    height:30px;
    background-size:30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right:0.5rem;
}
.bottom-tel2 .tel i{
    background-image:url(i-tel.png);
    margin-left:40px;
}
.bottom-tel2 span{
    position: absolute;
    top:5px;
    color:#fff;
    font-size:16px;
    display: inline-block;
}
.bottom-tel2 .zhuangxiu i{
    background-image:url(i-home.png);
    margin-left:25px;
}
/* 服务流程 */
.service-flows { height: 485px; background: url(liucheng.jpg) no-repeat; background-size: 100% auto; position: relative; border-top: 0px solid #e6e6e6; border-bottom: 0px solid #e6e6e6; }
.service-flows h3 { font-size: 14px; color: #333; }
.service-flows p { font-size: 12px; color: #999; }
.service-flows > div { position: absolute; }
.service-flows .flow-step1 { top: 55px; left: 70px; }
.service-flows .flow-step2 { top: 150px; right: 65px; text-align: right; }
.service-flows .flow-step3 { top: 230px; left: 70px; }
.service-flows .flow-step4 { top: 313px; right: 68px; text-align: right; }
.service-flows .flow-step5 { top: 397px; left: 70px; }
.top-sct {
    background-color: white;
    margin: 10px 0;
    border-bottom: 1px solid #d9d9d9;
}
 .tb-half-pixel{
    border-top: 0!important;
    border-bottom: 0!important;
    background-position: left top, left bottom;
    background-image: linear-gradient(to top, transparent 0%,transparent 50%,#d9d9d9 50%,#d9d9d9 100%),linear-gradient(to bottom, transparent 0%,transparent 50%,#d9d9d9 50%,#d9d9d9 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #d9d9d9), to(#d9d9d9)),-webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #d9d9d9), to(#d9d9d9));
    background-image: -ms-linear-gradient(bottom, transparent 0%,transparent 50%,  #d9d9d9 50%, #d9d9d9 100%),-ms-linear-gradient(top, transparent 0%,transparent 50%,  #d9d9d9 50%, #d9d9d9 100%);
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: repeat-x!important;
}

.top-sct .sct-hd {
    height: 45px;
    line-height: 42px;
    border-top: 2px solid #fe8864;
    border-bottom: 1px solid #d9d9d9;
}
.top-sct .sct-hd h1 {
    font-size: 16px;
    color: #000000;
    height: 42px;
    line-height: 42px;
    font-weight: bold;
    padding: 0 10px;
}
.top-sct .sct-hd .sct-hd-aside {
    font-size: 10.5px;
    color: #333333;
    float: right;
    font-weight: normal;
}
.top-sct .sct-hd .sct-hd-aside em {
    color: #0bad4c;
    margin: 0 2px;
}

.top-sct .sct-bd .sct-zxzb {
    margin: 0 3.125% 0 2.65625%;
}
.top-sct .sct-bd .sct-zxzb  li {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    border-top: 1px dotted #eeeeee;
}

.top-sct [class^=col] {
    display: inline-block;
    font-size: inherit;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.top-sct .col-time {
    width: 24%;
}
.top-sct .col-name {
    width: 38%;
    color: #0bad4c;
    padding-left: 0.3em;
}
.top-sct .col-info {
    width:33.83085%;
    text-align: right;
}
.top-sct .col-info em {
    /*color: #0bad4c;*/
}
.bottom-half-pixel {
    border-bottom: 0 !important;
    background-position: bottom;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, #d9d9d9 50%, #d9d9d9 100%);
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: repeat-x !important; }
.sct-hd-mfsj-info{
    font-size: 14px;
    color: #000000;
    float: right;
    overflow: hidden;
}
.sct-hd-mfsj-info em{
    color: #0bad4c;
    font-weight: bold;
    margin: 0.5em;
}
.lastest-zbs-wrap{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #000;
    border: 0;
    overflow: hidden;
    padding: 0 10px;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}
.lastest-zbs{
    position: relative;
}
.lastest-zbs li{
    padding-left: 14px;
}
.lastest-zbs-wrap .icon-notice{
    position: absolute;
    top: 9px;
    left: 10px;
}
.mfsj-info{

}
.mfsj-info em{
    color: #ea4504;
}
.mfsj-info .icon-info{
    display: block;
    float: left;
    overflow: hidden;
}
.mfsj-info div{
    display: block;
    margin-left: 27px;
    font-size: 12px;
    color: #999999;
    line-height: 19px;
}



.icon-info{
    background: url('icon-info.png') no-repeat;
    width: 18px;
    height: 18px;
	background-size: 18px 18px;
	margin-left:5px;
}
.gongsi_list{width:100%;float:left;margin:0 auto;padding-top:10px;}
.gongsi_list ul li{width:48%;margin-left:1%;float:left;}
.gongsi_list ul li img{width:100%;float:left;height:80px;}
.gongsi_list ul li span{width:100%;float:left;font-size:16px;text-align: center;}
