@charset "UTF-8";

/*摇摆特效*/
@keyframes  rock{
    0%{ transform:rotate(0deg) }
    10%{ transform:rotate(3deg) }
    20%{ transform:rotate(-3deg) }
    30%{ transform:rotate(2deg) }
    40%{ transform:rotate(-2deg) }
    50%{ transform:rotate(1deg) }
    60%{ transform:rotate(-1deg) }
    70%{ transform:rotate(0deg) }
    100%{ transform:rotate(0deg) }
}

@-o-keyframes rock {
    0%{ transform:rotate(0deg) }
    10%{ transform:rotate(3deg) }
    20%{ transform:rotate(-3deg) }
    30%{ transform:rotate(2deg) }
    40%{ transform:rotate(-2deg) }
    50%{ transform:rotate(1deg) }
    60%{ transform:rotate(-1deg) }
    70%{ transform:rotate(0deg) }
    100%{ transform:rotate(0deg) }
}
@-webkit-keyframes rock{
    0%{ transform:rotate(0deg) }
    10%{ transform:rotate(3deg) }
    20%{ transform:rotate(-3deg) }
    30%{ transform:rotate(2deg) }
    40%{ transform:rotate(-2deg) }
    50%{ transform:rotate(1deg) }
    60%{ transform:rotate(-1deg) }
    70%{ transform:rotate(0deg) }
    100%{ transform:rotate(0deg) }
}

@-moz-keyframes rock{
    0%{ transform:rotate(0deg) }
    10%{ transform:rotate(3deg) }
    20%{ transform:rotate(-3deg) }
    30%{ transform:rotate(2deg) }
    40%{ transform:rotate(-2deg) }
    50%{ transform:rotate(1deg) }
    60%{ transform:rotate(-1deg) }
    70%{ transform:rotate(0deg) }
    100%{ transform:rotate(0deg) }
}

@-ms-keyframes rock{
    0%{ transform:rotate(0deg) }
    10%{ transform:rotate(3deg) }
    20%{ transform:rotate(-3deg) }
    30%{ transform:rotate(2deg) }
    40%{ transform:rotate(-2deg) }
    50%{ transform:rotate(1deg) }
    60%{ transform:rotate(-1deg) }
    70%{ transform:rotate(0deg) }
    100%{ transform:rotate(0deg) }
}


/*开始包粽子喽*/
.zxqn{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.zxqn img{
    width: 45%;
    height: auto;
}

.angel{
    width: 100%;
    margin: 45px auto;
    text-align: center;
}

.angel-yzbt{
    width: 30%;
    height: auto;
    /*z-index: 99;*/
}

.ange-fly{
    width: 60%;
    height: auto;
    margin-top: -39px;
    z-index: -1;
    position: relative;
}

.begin{
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 5%;
    z-index: 99;
    /*margin-bottom: 30px;*/
    /*margin-top: 60px;*/
}

.beginBtn{
    padding: 8px 30px;
    color: #fff;
    background-color: #36B2BD;
    border-radius: 8px;
}

.five-zz{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-animation:rock 2s infinite;
    -moz-animation: rock 2s infinite;
    -ms-animation: rock 2s infinite;
    -o-animation: rock 2s infinite;
    animation: rock 2s infinite;


}

.five-zz img{
    width: 100%;
    height: auto;
    /*margin-bottom: -30px;*/
}











/*粽子特效*/
/*包粽子*/
.bozongzi{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 44px;
    transition:all 1s;
    opacity: 1;
    position: relative;
    z-index: 9999;
}

.bozongzi_bao{
    opacity: 1;
}

.bozongzi_bao_in{
    opacity: 0;
    transform:scale(.5);
}

.bozongzi_bao1{
    display: none;
}

.bozongzi a{
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    background-color: #36B2BD;
    border-radius: 5px;
}

/*送祝福 晒一晒*/
.bozongzi_song{
    width: 100%;
    text-align: center;
    transition:all 1s;
    opacity: 0;
    position: fixed;
    bottom: 40px;
	z-index:999;
}

.bozongzi_song_in{
    opacity: 1;
    transform:scale(1);
}

.bozongzi_song a{
    width: 50%;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    background-color: #36B2BD;
    border-radius: 5px;
}





.c_zongzi_box{
    width: 312px;
    height: 315px;
    margin: 10px auto;
    transform:scale(.8);
}
.c_zongzi_box_rock{
    -webkit-animation:rock 2s infinite;
    -moz-animation: rock 2s infinite;
    -ms-animation: rock 2s infinite;
    -o-animation: rock 2s infinite;
    animation: rock 2s infinite;
}
/****************************88剥粽子*************************8*/
.hedain{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.hedain img{
    width: 80%;
    height: auto;
}

.angel1{
    opacity: 1;
    transition:all 1s;
}

.angel1_in{
    opacity: 0;
    transform:scale(.5);
}

.angel2{
    display: none;
}

.angel-ybzz{
    width: 34%;
    height: auto;
    margin-top: -21px;
    z-index: -2;
    position: relative;
}


.main{
    width: 100%;
    height: 300px;
    margin: 10px auto;
    position: absolute;
    top: 66px;
    opacity: 0;
    transition:all 1s;
    overflow: hidden;
}

.main2{
    display: none;
}

.main_out{
    opacity: 1;
    transform:scale(1);
}

.main_in{
    opacity: 0;
    transform:scale(0);
}




.c_zongzi{
    width: 312px;
    height: 315px;
    background: url("../img/zz.png");
    transition:all 1s;
}
.c_zongzi_out{
    opacity: 1;
    transform:scale(.5);
}
.c_shengzi_1{
    width: 218px;
    height: 180px;
    position: absolute;
    background: url("../img/line_1.png");
    top: 120px;
    left: 10px;
    z-index: 999;
    cursor: pointer;
}
.c_shengzi_2{
    width: 219px;
    height: 159px;
    background: url("../img/line_2.png");
    position: absolute;
    top: 158px;
    left:10px;
}
.c_shengzi_3{
    width: 264px;
    height: 117px;
    background: url("../img/line_3.png");
    position: absolute;
    top: 220px;
    left: 10px;
}
.c_shengzi_4{
    width: 288px;
    height: 56px;
    background: url("../img/line_4.png");
    position: absolute;
    top: 290px;
    left:10px;
}
.c_shengzi_0{
    display: none;
}
.c_zongzirou{
    background: url("../img/zzr_1.png") no-repeat;
    background-size: 288px 206px;
    position: absolute;
    width: 288px;
    height: 240px;
    top: 50px;
    left: 34px;
    z-index: 101;
    opacity: 0;
    transform:scale(.8);
    transform-origin:top center;
}
.c_zongzirou_in{
    opacity: 1;
    transform:scale(1);
}
.c_zongzirou_view_1{
    transition:all 0s;
    background: url("../img/zzr_1.png") no-repeat;
}
.c_zongzirou_view_0{
    transition:all 0s;
    background: url("../img/zzr_1.png") no-repeat;
}

.c_zuoye{
    background: url("../img/leaf_left.png");
    width: 114px;
    height: 266px;
    position: absolute;
    top: -39px;
    left: -13px;
    z-index: 101;
    opacity: 0;
    transition:all 1s;
    transform-origin:left bottom;
}
.c_zuoye_in{
    opacity: 1;
    transform:rotate(-3deg);
}
.c_zuoye_out{
    opacity: 0;
    transform:rotate(-15deg);
}
.c_youye{
    background: url("../img/leaf_right.png");
    width: 318px;
    height: 338px;
    position: absolute;
    top: -9px;
    left: 80px;
    z-index: 111;
    opacity: 0;
    transition:all 1s;
    transform:scale(.8);
}
.c_youye_in{
    opacity: 1;
    transform:rotate(5deg) scale(.8);
}
.c_youye_out{
    opacity: 0;
    transform:rotate(15deg) scale(.8);
}
.c_diye{
    background: url("../img/leaf_expand.png");
    width: 618px;
    height: 468px;
    position: absolute;
    top: -45px;
    left: -150px;
    z-index: 99;
    opacity:0;
    transition:all 1s;
}
.c_diye_in{
    opacity: 1;
}

/*祝福卡片出现*/
.zhufu_Warp{
    width: 100%;
    margin-top: 30px;
    text-align: center;
    opacity: 0;
    transition: all 1s;
    transform:scale(0);
}

.zhufu_Warp1{
    display: none;
}

.zhufu_Warp_in{
    opacity: 1;
    transform:scale(1);
}

.zhufu{
    width: 100%;
    position: relative;
}

.zhufu img{
    width: 90%;
    height: auto;
}

.zhufu-text{
    width: 58%;
    height: 37%;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 32%;
    left: 15%;
}

.yuanbao{
    width: 100%;
    margin-top: -40px;
    position: relative;
    z-index: -1;
}

.yuanbao img{
    width: 40%;
    height: auto;
}


/*********************包粽子********************8*/

.heka{
    width: 100%;
    min-height: 100px;
    text-align: center;
    position: relative;
    padding: 1px;
    margin-top: 40px;
    margin-bottom: 50px;
    opacity: 1;
    transition:all 1s;
	z-index: 9999;
}

.heka_in{
    opacity: 0;
    transform:scale(.5);
}

.heka img{
    width: 90%;
    height: auto;
    z-index: -1;
}


.heka textarea{
    width: 60%;
    height: 60%;
    display: block;
    background-color: transparent;
    color: #000;
    border: 0;
    position: absolute;
    top: 34%;
    left: 13%;
}

.main1{
    width: 100%;
    height: 300px;
    margin: 10px auto;
    position: absolute;
    top: 100px;
    opacity: 0;
}

.main1_out{
    opacity: 1;
    transform:scale(1);
}



.c_zongzi1{
    width: 312px;
    height: 315px;
    background: url("../img/zz.png");
    transition:all 1s;
    opacity: 0;
    z-index: 111;
}
.c_zongzi1_out{
    opacity: 1;
    transform:scale(1);
}
.c_shengzi1_1{
    width: 218px;
    height: 180px;
    position: absolute;
    background: url("../img/line_1.png");
    top: 120px;
    left: 10px;
    z-index: 999;
    cursor: pointer;
    opacity: 1;
}
.c_shengzi1_2{
    width: 219px;
    height: 159px;
    background: url("../img/line_2.png");
    position: absolute;
    top: 158px;
    left:10px;
}
.c_shengzi1_3{
    width: 264px;
    height: 117px;
    background: url("../img/line_3.png");
    position: absolute;
    top: 220px;
    left: 10px;
}
.c_shengzi1_4{
    width: 288px;
    height: 56px;
    background: url("../img/line_4.png");
    position: absolute;
    top: 290px;
    left:10px;
}
.c_shengzi1_0{
    display: none;
}
.c_zongzirou1{
    background: url("../img/zzr_1.png") no-repeat;
    background-size: 288px 206px;
    position: absolute;
    width: 288px;
    height: 240px;
    top: 80px;
    left: 34px;
    z-index: 101;
    transform-origin:top center;
    transition:all 1s;
    opacity: 0;
    transform:scale(0);
    /*opacity: 1;*/
    /*transform:scale(.8);*/
}

.c_zongzirou1_out{
    opacity: 1;
    transform:scale(.8);
}

.c_zongzirou1_in{
    opacity: 0;
    transform:scale(.5);
}

.c_zuoye1{
    background: url("../img/leaf_left.png");
    width: 114px;
    height: 266px;
    position: absolute;
    top: -46px;
    left: 14px;
    z-index: 101;
    opacity: 0;
    transition:all 1s;
    transform-origin:left bottom;
}
.c_zuoye1_in{
    opacity: 0;
    transform:rotate(15deg);
}
.c_zuoye1_out{
    opacity: 1;
    transform:rotate(10deg);
}
.c_youye1{
    background: url("../img/leaf_right.png");
    width: 318px;
    height: 338px;
    position: absolute;
    top: -72px;
    left: 90px;
    z-index: 111;
    opacity: 0;
    transition:all 1s;
    transform:scale(.8);
    transform-origin:left bottom;
}
.c_youye1_in{
    opacity: 0;
    transform:rotate(-15deg) scale(.8);
}
.c_youye1_out{
    opacity: 1;
    transform:rotate(-5deg) scale(.8);
}
.c_diye1{
    background: url("../img/leaf_expand.png");
    width: 618px;
    height: 468px;
    position: absolute;
    top: -45px;
    left: -150px;
    z-index: 99;
    opacity:0;
    transition:all 1s;
    transform:scale(0);
}

.c_diye1_out{
    opacity: 1;
    transform:scale(.8);
}

.c_diye1_in{
    opacity: 0;
    transform:scale(.5);
}








/****************************** 弹出 *********************/
.pop-mask {
    margin:0 auto;
    width:100%;
    height:100%;
    z-index:9999;
    background-color:rgba(0,0,0,0.7);
    position:fixed;
    left:0;
    /*top:0;*/
    bottom: 0;
    font-family: '微软雅黑',Microsoft yahei,Arial,sans-serif;
    display: none;
}

.pop-wrap1 {
    position:absolute;
    top: 10px;
    right: 30px;
    overflow: hidden;
}

.pop-wrap-img{
    width: 50%;
    height: auto;
    float: right;
}


.footer{
	width : 100%;
	text-align: center;
	color : #fff;
	font-size : 0.55rem;
	position: fixed;
    left: 0;
    bottom: 3px;
}

.footer span{
	display : block;
}





