body {
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*css resert*/

html,
body,
div,
p,
span,
label,
img,
a,
ol,
ul,
dl,
dt,
dd,
li,
table,
tr,
td,
th,
tbody,
thead,
tfoot,
form,
fieldset,
legent,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
em,
blockquote,
cite,
pre,
code,
hr,
br,
input,
button,
textarea,
article,
aside,
details,
figcaption,
figure,
footer,
header,
group,
menu,
nav,
section {
    padding: 0px;
    margin: 0px;
}

* {
    padding: 0px;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    outline: 0 none;
}


/* 要注意表单元素并不继承父级 font 的问题 */

button,
input,
select,
textarea {
    font: 100% serif;
}

img,
input,
select {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 1em;
}

ol,
ul {
    list-style-type: none;
}



a img {
    border: 0 none;
    cursor: pointer;
}

fieldset,
img {
    border: 0 none;
}



:focus {
    outline: 0 none;
}

caption,
cite,
code,
em,
th,
var,
i {
    font-weight: normal;
    font-style: normal;
}



/******常用****/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    width: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
}

.clearit {
    clear: both;
    zoom: 1;
}

.hidden {
    display: none;
}

.vhidden {
    visibility: hidden;
}

.hide-txt {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.left {
    float: left;
    display: inline;
}

.right {
    float: right;
    display: inline;
}

.fnone {
    float: none;
}

.txtleft {
    text-align: left;
}

.txtright {
    text-align: right;
}

.txtcenter {
    text-align: center;
}

.middle {
    vertical-align: middle;
}

.noborder {
    border: 0 none !important;
}

.nobg {
    background: none !important;
}

.sub {
    vertical-align: sub;
}

.sup {
    vertical-align: sup;
}

.cursor {
    cursor: pointer;
}

.zoom {
    zoom: 1;
}

.vtop {
    vertical-align: top;
}

.wrap {
    width: 100%;
    position: absolute;
    ;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fdfdfd;
    /*background: url(mob_shouqian_bg.jpg?v=323) no-repeat;*/
    /*background-size: 100% 100%;*/
    overflow: hidden;
}


/*header*/

.header {
    padding: 0 30px;
    height: 86px;
    border-bottom: 1px solid #eee;
    background: rgba(255, 255, 255, .9);
}

.header .btn {
    color: #666;
    font-size: 32px;
    line-height: 86px;
    height: 86px;
}

.header .btn-undo {
    background: url(undo-icon.png) no-repeat center right;
    padding-right: 74px;
    margin-right: 50px;
}

.header .btn-reset {
    background: url(reset-icon.png) no-repeat center left;
    padding-left: 74px;
}

.header .btn-go {
    color: #32b16c;
}


/*container*/

.container {
    width: 100%;
    position: absolute;
    ;
    left: 0;
    top: 87px;
    bottom: 211px;
    padding: 0
}

.container canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    ;
    left: 0;
    top: 0;
}


/*footer*/

.footer {
    display: none;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 11;
    width: 100%;
    height: 49px;
    border-top: 1px solid #ccc;
    background: #fff;
}

.footer {
    width: 100%;
    height: 210px;
    border-top: 1px solid #fc0;
    display: block;
    background: #ffcc00;
}

.footer .pLi {
    padding: 84px 70px 0 80px;
    position: absolute;
    left: 0;
    top: 0;
}

.footer .pLi .pn {
    width: 76px;
    height: 314px;
    margin-right: 40px;
    text-indent: -999em;
}

.footer .pLi .pn.active {
    margin-top: -55px;
}

.footer .pLi .pn1 {
    background: url(pan0.png) no-repeat;
}

.footer .pLi .pn2 {
    background: url(pan1.png) no-repeat;
}

.footer .pLi .pn3 {
    background: url(pan2.png) no-repeat;
}

.footer .pLi .rubber {
    background: url(rubber.png) no-repeat;
}

.footer .pLi .colors {
    width: 100px;
    height: 100px;
    background: url(color.png) no-repeat;
    margin-top: 15px;
}

.footer .cLi {
    width: 100%;
    height: 210px;
    position: absolute;
    left: 0;
    top: 0
}

.footer .cLi .pn {
    position: absolute;
    left: 65px;
    top: 30px;
    width: 76px;
    height: 314px;
    background: url(pan1.png) no-repeat;
}

.footer .cLi .cLs {
    margin-left: 215px;
    height: 180px;
    width: 550px;
    padding-top: 30px;
}

.footer .cLi .cLs li {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 50px 30px 0;
}

.footer .cLi .cLs li.active {
    border: 8px solid #ebebeb;
    margin: -8px 42px 22px -8px;
}

.footer .cLi .cLs li:nth-child(1) {
    background-color: #e30052;
}

.footer .cLi .cLs li:nth-child(2) {
    background-color: #32b16c;
}

.footer .cLi .cLs li:nth-child(3) {
    background-color: #f19715;
}

.footer .cLi .cLs li:nth-child(4) {
    background-color: #00b8ec;
}

.footer .cLi .cLs li:nth-child(5) {
    background-color: #5f549e;
}

.footer .cLi .cLs li:nth-child(6) {
    background-color: #b6a900;
}

.footer .cLi .cLs li:nth-child(7) {
    background-color: #005752;
}

.footer .cLi .cLs li:nth-child(8) {
    background-color: #03004a;
}

.footer .cLi .cLs li:nth-child(9) {
    background-color: #824e00;
}

.footer .cLi .cLs li:nth-child(10) {
    background-color: #362e2b;
}


/*弹层*/

.pop-box {
    position: absolute;
    ;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 99999
}

.pop-box>div {
    width: 480px;
    padding: 60px 10px 60px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 400px;
    text-align: center;
}

.pop-box>div img {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
}

.pop-box>div p {
    font-size: 4em;
}

.pop-box>div .close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: url(icon-close.png?v=20170315) no-repeat;
    background-size: 100%;
    text-indent: -999em;
}


/*动画*/


/*灰色背景*/

.bg-gray .header {
    border-bottom: 1px solid #c0c0c0;
}

.bg-gray .container {
    background: #ccc;
}

.bg-gray .footer {
    border-top: 1px solid #c0c0c0;
}


/*选择画笔*/

.panChecked {
    animation: panUp 500ms ease 1 forwards;
    -webkit-animation: panUp 500ms ease 1 forwards;
}

.panDelChecked {
    animation: panDown 500ms ease 1 forwards;
    -webkit-animation: panDown 500ms ease 1 forwards;
}

@keyframes panUp {
    0% {
        transform: translateY(55px);
        -webkit-transform: translateY(55px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes panUp {
    0% {
        transform: translateY(55px);
        -webkit-transform: translateY(55px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@keyframes panDown {
    0% {
        transform: translateY(-55px);
        -webkit-transform: translateY(-55px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@-webkit-keyframes panDown {
    0% {
        transform: translateY(-55px);
        -webkit-transform: translateY(-55px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}


/*画笔到颜色盘*/


/*颜色盘*/

.colorIn {
    animation: colorIn 300ms ease 1 forwards;
    -webkit-animation: colorIn 300ms ease 1 forwards;
}

.colorOut {
    animation: colorOut 300ms ease 1 forwards;
    -webkit-animation: colorOut 300ms ease 1 forwards;
}

@keyframes colorIn {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes colorIn {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes colorOut {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@wwebkit-keyframes colorOut {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
