<div ng-controller="goodsGroupList1Ctrl">
{if $_GPC['iseditor']}
	<!--商品分组1-->
	<div class="app-tagList1-edit">
		<div class="arrow-left"></div>
		<div class="inner">
			<div class="panel panel-default">
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="add-goodsgroup-item card" ng-repeat="menu in activeItem.params.catelist">
							<div class="btns">
								<a href="javascript:;" ng-click="deleteItem($index)"><i class="fa fa-times"></i></a>
							</div>
							<div class="form-group" style="margin:0;">
								<label class="control-label col-xs-3">商品来源</label>
								<div class="col-xs-2 form-control-static"><a href="#">{{menu.catename}}</a></div>
								<div class="col-xs-2 form-control-static"><a href="javascript:;" ng-click="changeItem($index)">修改</a> </div>
								<div class="col-xs-2 form-control-static" style="padding:7px 0;"><span style="color:#ddd;">|</span>&nbsp;&nbsp;商品数目</div>
								<div class="col-xs-3">
									<select class="form-control" ng-model="menu.pagesize">
										<option>5</option>
										<option>10</option>
										<option>15</option>
									</select>
								</div>
							</div>
						</div>
						<div class="add-goodsgroup card" ng-show="activeItem.params.catelist.length < 8">
							<span><i class="fa fa-plus-circle green"></i> &nbsp;<a href="javascript:;" ng-click="showSearchCateList()"> 添加商品分组</a></span>
						</div>
						<div class="help-block">选择商品来源后，左侧实时预览暂不支持显示其包含的商品数据</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--end商品分组1-->
	<div id="modal-search-cate-goodsgrouplist1" class="modal fade in" role="dialog" aria-hidden="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3>选择分类</h3>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
									<th style="width:60%;">标题</th>
									<th style="width:30%; text-align:right">
										<div class="input-group input-group-sm hidden">
											<input type="text" class="form-control">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
											</span>
										</div>
									</th>
								</tr>
							</thead>
							<tbody ng-repeat="pcate in activeItem.params.searchCateList">
								<tr>
									<td><a href="#">{{pcate.name}}</a></td>
									<td class="text-right">&nbsp;</td>
								</tr>
								<tr ng-repeat="ccate in pcate.children track by $index">
									<td style="padding-left:50px;height:30px;line-height:30px;background-image:url('./resource/images/bg_repno.gif'); background-repeat:no-repeat; background-position: -245px -540px;"><a href="#">{{ccate.name}}</a></td>
									<td class="text-right">
										<a ng-show="changeIndex == -1" class="btn btn-default btn-sm" onclick="$(this).toggleClass('btn-primary')" data="{{ccate}}">选取</a>
										<a ng-show="changeIndex > -1" class="btn btn-default btn-sm" onclick="$(this).toggleClass('btn-primary')" ng-click="selectCateItem()" data="{{ccate}}">选取</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="modal-footer" ng-show="changeIndex == -1">
							<button type="button" class="btn btn-primary" ng-click="selectCateItem()">确认使用</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{else}
	<!--app商品分组1-->
	<div class="app-tagList1">
		<div class="inner">
			<div class="clearfix">
				<div class="col-xs-3 nav-left">
					<ul class="nav nav-tabs nav-stacked js-default-content" ng-if="module.params.catelist.length == 0">
						<li><a href="javascript:;">商品组一</a></li>
						<li><a href="javascript:;">商品组二</a></li>
						<li><a href="javascript:;">商品组三</a></li>
					</ul>
					<ul class="nav nav-tabs nav-stacked" ng-if="module.params.catelist.length != 0">
						<li ng-class="{active : $index == 0}" ng-repeat="menu in module.params.catelist"><a href="#content_{{$index+1}}" aria-controls="content_{{$index+1}}" role="tab" data-toggle="tab">{{menu.catename}}</a></li>
					</ul>
				</div>
				<div class="col-xs-9 list">
					<div class="detailList tab-content">
						<ul class="goods-list tab-pane active" role="tabpanel">
							<li class="goods-simple">
								<a href="">
									<div class="pic col-xs-4"><img src="./resource/images/app/goods-lg.jpg" ></div>
									<div class="col-xs-8">
										<div class="goods-info">
											<p class="goods-title">此处显示商品名称</p>
											<p class="goods-price">￥379.00</p>
										</div>
									</div>
								</a>
								<div class="goods-buy btn1 js-buy-goods" ></div>
							</li>
							<li class="goods-simple js-default-content">
								<div class="pic col-xs-4"><img src="./resource/images/app/goods-lg.jpg" ></div>
								<div class="col-xs-8">
									<div class="goods-info">
										<p class="goods-title">此处显示商品名称</p>
										<p class="goods-price">￥379.00</p>
									</div>
								</div>
								<div class="goods-buy btn1"></div>
							</li>
							<li class="goods-simple js-default-content">
								<div class="pic col-xs-4"><img src="./resource/images/app/goods-lg.jpg" ></div>
								<div class="col-xs-8">
									<div class="goods-info">
										<p class="goods-title">此处显示商品名称</p>
										<p class="goods-price">￥379.00</p>
									</div>
								</div>
								<div class="goods-buy btn1" ></div>
							</li>
							<li class="goods-simple js-default-content">
								<div class="pic col-xs-4"><img src="./resource/images/app/goods-lg.jpg" ></div>
								<div class="col-xs-8">
									<div class="goods-info">
										<p class="goods-title">此处显示商品名称</p>
										<p class="goods-price">￥379.00</p>
									</div>
								</div>
								<div class="goods-buy btn1" ></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end商品分组1-->
{/if}
</div>