<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>管理中心</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="{$_W['siteroot']}addons/siyuan_cms/weui/css/weui.min.css">
<link rel="stylesheet" href="{$_W['siteroot']}addons/siyuan_cms/weui/css/jquery-weui.css">
<link rel="stylesheet" href="{$_W['siteroot']}addons/siyuan_cms/weui/css/admin.css?=7.3">
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script src="{$_W['siteroot']}addons/siyuan_cms/weui/js/jquery-weui.min.js"></script>
</head>
<body ontouchstart>