{template 'header'}
{template 'admin/top'}
<div class="wrapper cinfo_menu" style="margin-top:10px;">
<ul>
<li class="item">
<a class='f-black' href="{php echo $this->createMobileUrl('admin_news')}">
<span style="background-image:url({$_W['siteroot']}addons/siyuan_cms/ui/img/admin/index_1.png);"></span>
<p>新闻管理</p>
</a>
</li>
<li class="item">
<a class='f-black' href="{php echo $this->createMobileUrl('admin_vod')}">
<span style="background-image:url({$_W['siteroot']}addons/siyuan_cms/ui/img/admin/index_2.png);"></span>
<p>视频管理</p>
</a>
</li>
<li class="item">
<a class='f-black' href="{php echo $this->createMobileUrl('admin_weixin')}">
<span style="background-image:url({$_W['siteroot']}addons/siyuan_cms/ui/img/admin/index_3.png);"></span>
<p>微信头条</p>
</a>
</li>

<li class="item">
<a class='f-black' href="{php echo $this->createMobileUrl('admin_shop')}">
<span style="background-image:url({$_W['siteroot']}addons/siyuan_cms/ui/img/admin/index_5.png);"></span>
<p>商家黄页</p>
</a>
</li>
<li class="item">
<a class='f-black' href="{php echo $this->createMobileUrl('admin_huodong')}">
<span style="background-image:url({$_W['siteroot']}addons/siyuan_cms/ui/img/admin/index_6.png);"></span>
<p>商家活动</p>
</a>
</li>
<li class="item">
<a class='f-black' href="{php echo $this->createMobileUrl('admin_tel')}">
<span style="background-image:url({$_W['siteroot']}addons/siyuan_cms/ui/img/admin/index_7.png);"></span>
<p>便民电话</p>
</a>
</li>

</ul>
</div>
{template 'admin/nav'}
</body>
</html>