{template 'default/header'}
<link rel="stylesheet" href="{MODULE_URL}public/css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="{MODULE_URL}public/css/index_vux.css" type="text/css" media="all">
<div class="bodyarea">
    <div class="wrap">
        <div class="headerarea">
            <div class="covepic">
                <img src="http://app.m730.net/data/attachment/forum/201606/08/165655jmqq31bgmqwvkben.jpg"/>
            </div>
            <header class="imui_header b_f bo_b po_fi flex_box">
                <div class="imui_hl tl flex">
                    <a href="javascript:history.back(-1)" class="imui_icon_back"></a>
                </div>
                <div class="imui_hm tc flex">
                    <a href="javascript:;">{$topic['title']}</a>
                </div>
                <div class="imui_hr flex tr">
                    <!--<a href="javascript:openflickr()" class="imui_icon_flickr"></a>-->
                </div>
            </header>
        </div>
        <div class="mainarea">
            <div class="body_main" id="viewthread" >
                <div class="imui_flickr b_f size_16" style="display:none">
                    <div class="imui_flickr_area">
                        <ul>
                            <li class="imui_flick_ic first">
                                <a href="javascript:shar()">分享</a>
                            </li>

                            <li class="imui_flick_im">
                                <a href="javascript:;" class="showpage" id="find" type="getpage">更多...</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="imui_toparea" id="viewtop" style="display:none">
                    <div class="b_f p15">
                        <div class="imui_topbox pb15 size_16">
                            <ul class="flex_box">
                                <li class="flex b_c cf">
                                    <a href="" class="gettab" tab='viewthread'>倒序浏览</a>
                                </li>
                                <li class="flex">
                                    <a href=""class="gettab" tab='viewthread'>正序浏览</a>
                                </li>
                            </ul>
                        </div>
                        <div class="imui_topbox size_16">
                            <ul class="flex_box">
                                <li class="flex">
                                    <a href="" class="gettab" tab='viewthread'>只看楼主</a>
                                </li>
                                <li class="flex b_c cf">
                                    <a href="" class="gettab" tab='viewthread'>查看全部</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="topsub bo_b mb10 b_f">
                    <h2>
                        <a href="{php echo $_W['siteurl']}" class="gettab" tab='viewthread'>{$topic['title']}</a>
                        <em class="cg">[查看/{$topic['lnum']}次]</em>
                    </h2>
                    <p class="cl">
                        <!--<a href="javascript:;" class="gz cf b_c r" id="follow_1">关注</a>-->
                        <a href="javascript:;" class="gettab cc l" tab='space'>
                            <img src="{php echo tomedia($topic['member']['avatar'])}" class="avatar" />
                            {$topic['member']['nickname']}
                        </a>
                        <img src="{MODULE_URL}public/images/male.png" class="gender l" />
                        <a href="" class="level cg bo l gettab" tab="usergroup">{$topic['group']['title']}</a>

                        <em class="cg size_12 l">{php echo date('Y-m-d H:i',$topic['createtime'])}</em>
                    </p>
                </div>
                <div class="p10 b_f bo_b bo_t cl">
                    <div class="viewcontent" >
                        <div class="postmessage">
                            {php echo $topic['content']}
                            <div class="showpic">
                                {loop $topic['thumb'] $thumb}
                                <a href="{php echo $_W['siteurl']}" class="gettab" tab="viewpic">
                                    <img src="{php echo tomedia($thumb)}">
                                </a>
                                {/loop}
                            </div>
                            <br />
                        </div>
                       <!-- <div class="rate_shang pt10">
                            <p class="cg size_16 pb10">给个咖啡钱，继续支持我创作吧</p>
                            <h3>
                                <a href="javascript:;" class="showpage b_c cf" id="rate">赏</a>
                            </h3>
                        </div>-->
                        <p class="form bo_tl">
                            来自<em>&gt;</em>
                            <a href="{php echo $this->createMobileUrl('cat_detail_new',array('typeid'=>$nav['typeid']))}" class="gettab" tab="forum_39">
                                {$topic['class']['name']}
                            </a>
                        </p>
                    </div>
                </div>
				{if !empty($adv)}
                {php $adv = M('adv')->getOne();}
                <div class="adpage_viewthread">
                    <div class="adposition_top">
                        <p class="adimg">
                            <a href="{php echo $adv['link']}">
                                <img src="{php echo $adv['thumb']}">
                            </a>
                        </p>
                    </div>
                </div>
				{/if}
                {if !empty($topic['tags'])}
                <div class="imui_box b_f bo_t bo_b">
                    <h3 class="bo_b cc">
                        <span class="tag"></span>
                        TAG标签
                    </h3>
                    <ul class="viewtag_tags cl">
                        {loop $topic['tags'] $tag}
                        <li><a title="如何" href="" class="gettab bo" tab="viewtag">如何</a></li>
                        {/loop}
                    </ul>
                </div>
                {/if}
                <div class="imui_box b_f bo_t bo_b">
                    <h3 class="bo_b cc"><span class="rel"></span>相关帖子</h3>
                    <div class="relateitem">
                        <ul>
                            {php $topic_about = M('topics')->getBest();}
                            {loop $topic_about $t}
                            <li class="bo_tl first">
                                <a href="{php echo $this->createMobileUrl('detail_new',array('tid'=>$t['id']))}" class="gettab" tab="viewthread">{$t['title']}</a>
                            </li>
                            {/loop}
                        </ul>
                    </div>
                </div>
                <div class="postitle" >
                    <span>网友回复</span>
                    {php $total = M('topic_replie')->gettotal($tid)}
                    <em class="cg">({$total})</em>
                </div>
                <style>
                    .active{
                        color:#ff6600 !important;
                    }
                </style>
                <table cellspacing="0" cellpadding="0" id="listtableid" class="postlist bo_t b_f">
                    {php $replies = M('topic_replie')->getList(1);}
                    {loop $replies['list'] $replie}
                    {php $member = M('member')->getInfo($replie['openid'])}
                    <tbody id="autolist_{$li['id']}">
                    <tr>
                        <td class="post_user bo_b tc">
                            <a href="avascript:;" class="gettab" tab="space">
                                <img src="{php echo tomedia($member['avatar'])}"/>
                            </a>
                        </td>
                        <td class="post_content bo_b">
                            <a href="avascript:;" name="pid11596"></a>
                            <div class="post_userinfo">
                                <h4 class="cl">
                                    <span class="r size_14 cm ">
                                        {php $reply_like = M('topic_reply_like')->getlike($_W['openid'],$replie['id'])}
                                        <a href="javascript:;" class="reply_support {if !empty($reply_like)}active{else}{/if}" data-id="{$replie['id']}">
                                            <em class="iz"></em>
                                            <span ></span>赞
                                        </a>
                                        <a href="javascript:;" class="gettab reply_reply" tab="post" data-id="{$replie['id']}">
                                            <em class="ir"></em>回复
                                        </a>
                                    </span>
                                    <span class="cg size_14">
                                        <a href="avascript:;" class="gettab" tab="space">{$member['nickname']}</a>
                                    </span>
                                    {php $group = M('group')->getInfo($member['groupid'])}
                                    <a class="level size_12 cg bo" href="" class="gettab" tab="usergroup">{$group['title']}</a>
                                </h4>
                                <p class="cw size_12">
                                    <em>沙发</em>
                                    {php echo M('common')->format_create_time($replie['create_time'])}
                                </p>

                            </div>
                            <div class="viewcontent" >
                                <div class="postmessage cm" >
                                    {php $reply = M('topic_replie')->getInfo($replie['fid'])}
                                    {if !empty($reply)}
                                    {php $member = M('member')->getInfo($reply['openid'])}
                                        <span class="ca">@{$member['nickname']} : </span>
                                    {/if}
                                    {php echo M('common')->replace_em2($replie['content'])}
                                    <p>
                                        {php $replie['images'] = unserialize($replie['images'])}
                                        {loop $replie['images'] $src}
                                        <img style="width: 50px;" src="{php echo tomedia($src)}" alt=""/>
                                        {/loop}
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    {/loop}
                </table>
                <a name="footer" id="footer"></a>
            </div>
        </div>
        <div class="footerarea">
            <div class="imui_sheet b_f size_16 tc hidesheet" id="moption_first" style="display:none">
                <ul>
                    <li><a href="forum.php?mod=post&action=edit&fid=39&tid=5847&pid=11557&page=1&amp;mobile=2" class="gettab bo_bl" tab="post">编辑</a></li>
                    <li><a href="javascript:opensheet('#moption_first')">取消</a></li>
                </ul>
            </div>
            <div id="fastpost" class="fastpost b_e bo_t" style="display:none">
                <form method="post" autocomplete="off" id="fastpostform" action="{php echo $_W['siteurl']}">
                    <input type="hidden" name="act" value="reply"/>
                    <input type="hidden" name="fid" value=""/>
                    <div class="p10">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="2" class="fp_inp b_f p10"><textarea class="imui_textarea autoheight size_16" placeholder="回复楼主:" id="postmessage"  name="message"></textarea></td>
                            </tr>
                            <tr>
                                <td class="fp_more">
                                    <a href="javascript:" onclick="showhiden(this.id)" id="smile"><img src="{MODULE_URL}public/images/smile.png" /></a>
                                    <a href="javascript:" onclick="showhiden(this.id)" id="up"><img src="{MODULE_URL}public/images/up.png" /></a>
                                    <!--<a href="javascript:" onclick="showhiden(this.id);document.getElementById('aitarea').focus()" id="ait"><img src="{MODULE_URL}public/images/ait.png" /></a>-->
                                </td>
                                <td class="fp_btn"><button type="button" class="imui_btn imui_btn_mini b_l" name="replysubmit"  id="fastpostsubmit" onClick="sendthreadpost('fastpostform')">发送</button></td>
                            </tr>
                        </table>
                    </div>
                    <div id="hidenarea">
                        {template 'default/face'}
                        <div id="up_area"  class="ha" style="display:none">
                            <ul id="imglist" class="post_imglist cl">
                                <li class="upimg"><a href="javascript:;" class="bo">+<input type="file" name="Filedata[]" id="filedata" multiple="multiple"/></a></li>
                            </ul>
                        </div>
                        <div id="ait_area"  class="ha" style="display:none">
                            <div class="ait">
                                <p class="inp"><input type="text" class="px" placeholder="输入用户名" id="aitarea" /><a href="javascript:" onclick="aituser()" class="ca">@添加</a></p>
                                <p class="cg">@朋友账号，就能提醒他来看帖子</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="threadbottom b_l bo_t">
                <ul class="flex_box">
                    <li class="flex reply"><a href="javascript:showbox('fastpost');document.getElementById('postmessage').focus();" class="cc size_16"><span class="cc boc">我要说两句..</span></a></li>
                    <li class="favorite">
                        {php $like = M('topiclike')->getlike($_W['openid'],$tid);}
                        <a href="javascript:;" id="click_favorite" class="{if !empty($like)}cc{else}{/if}">
                            <h4 class="size_18"></h4>
                            <p class="size_12 cg">
                                <i id="favorite">收藏</i>
                                <em class="cc">
                                    {php $total = M('topiclike')->gettotal($tid);}
                                    (<span id="favs">{$total}</span>)
                                </em>
                            </p>
                        </a>
                    </li>
                    <li class="recommend">
                        {php $good = M('topic_good')->getgood($_W['openid'],$tid);}
                        <a href="javascript:;" id="click_recommend" class="{if !empty($good)}cc{else}{/if}">
                            <h4 class="size_18"></h4>
                            <p class="size_12 cg">
                                赞
                                {php $total = M('topic_good')->gettotal($tid);}
                                <em class="cc">(<span id="adds">{$total}</span>)</em>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    var URL = "{php echo $_W['siteurl']}"; 
</script>
<script src="{MODULE_URL}public/upload_file/base64upload.js" type="text/javascript" ></script>
<script src="{MODULE_URL}template/mobile/default/detail_new.js"></script>
{template 'default/slider'}
<div class="imui_sidebg" onclick="openside();"></div><script language="javascript">
    var bodyheight=document.documentElement.clientHeight;
    $('body,.mainarea').css('height',bodyheight + 'px');
</script>
<a href="javascript:;" title="返回顶部" class="scrolltop"></a>
<div id="dark" style="display:none;"></div>
<div id="light" style="display:none;"></div>
<div id="windowarea"></div>
<a name="bot" id="bot"></a>
</body>
</html>