{php $title=$quan['aname']} 
{template 'inc/header'}
<body ontouchstart="">
	<script type="text/javascript">
			var params = {

	            {if empty($quan['sharetitle'])}

	            title:"广告发布平台",

	            {else}

	            title: "{$quan['sharetitle']}",

	            {/if}

	            desc: "我已抢到{$member['rob']}{$config['unit_text']},赶快一起来吧~",

	            link: "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('index',array('quan_id'=>$quan['id'],'pid'=>$member['id'])),2)}",

	            {if empty($member['headimgurl'])}

	            imgUrl: "{$_W['siteroot']}addons/cgc_ad/images/attent.png",

	            {else}

	            imgUrl: "{php echo tomedia($member['headimgurl'])}",

	            {/if}

	        };

	        var params2 = {

	            title: "我已抢到{$member['rob']}{$config['unit_text']},赶快一起来吧~",

	            link: "{php echo $_W['siteroot'].'app/'.substr($this->createMobileUrl('index',array('quan_id'=>$quan['id'],'pid'=>$member['id'])),2)}",

	            {if empty($member['headimgurl'])}

	            imgUrl: "{$_W['siteroot']}addons/cgc_ad/images/attent.png",

	            {else}

	            imgUrl: "{php echo tomedia($member['headimgurl'])}",

	            {/if}

	        };

	        wx.ready(function () {
	            wx.onMenuShareAppMessage.call(this, params);
	            wx.onMenuShareTimeline.call(this, params2);
	        });

		</script>


	<!-- 首页 -->

	<div class="app-page" data-page="index_page">
		<div class="app-topbar" style="display: none; height: 0px;"></div>

		<div class="app-content" style="background: #F8F8F8;height:500px;">

			<div class="app-body">

              
				<div class="weui_cells" style="text-align: center; padding: 20px 10px 10px 10px; margin-top: 0px; border-top: 0px none;">

					<img src="../addons/cgc_ad/images/icon_rmb.png" style="width: 64px;" />				
					<h2 style="margin-top: 10px; margin-bottom: 10px; font-size: 36px;">{$member['credit']}{$config['unit_text']}</h2>
					
					{if ($config['unit_text'])!="元"}
					<div style="margin-top: 10px; margin-bottom: 10px; font-size: 12px;">
					  {if $quan['tx_percent']}提现手续费为{$quan['tx_percent']}%，{/if}1{$config['unit_text']}兑换1元,满{php echo empty($quan['tx_min'])?1:$quan['tx_min']}{$config['unit_text']}即可兑换！
					</div>
					{/if} 
									
					
					{if empty($subscribe)}
					 <a   class="weixin weui_btn weui_btn_primary weui_btn_warn" data-url="">{$config['rush_text']}提醒</a>
					{/if}
					<a id="btn_transfer" class="weui_btn weui_btn_primary" data-url="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('my',array('op'=>'tx','quan_id'=>$quan['id'],'rob_token'=>$_SESSION['rob_token'])), 2)}">点击兑换零钱
					</a>

				</div>



				<div class="weui_cells weui_cells_access">

					<a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('rob',array('quan_id'=>$quan['id'])), 2)}">

						<div class="weui_cell_hd">
							<img src="../addons/cgc_ad/images/income.png" style="width: 20px; margin-right: 5px; display: block">
						</div>

						<div class="weui_cell_bd weui_cell_primary">

							<p>我共抢到</p>

						</div>

						<div class="weui_cell_ft">{$member['rob']}{$config['unit_text']}</div>

					</a> <a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('send',array('quan_id'=>$quan['id'])), 2)}">

						<div class="weui_cell_hd">
							<img src="../addons/cgc_ad/images/outmoney.png" style="width: 20px; margin-right: 5px; display: block">
						</div>

						<div class="weui_cell_bd weui_cell_primary">

							<p>我共发出</p>

						</div>

						<div class="weui_cell_ft">{$member['fabu']}{$config['unit_text']}</div>

					</a>
				</div>

				<div class="weui_cells weui_cells_access">
					<!-- <a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('user',array()), 2)}">
		                        <div class="weui_cell_hd"><img src="../addons/cgc_ad/images/my_up.png" style="width:20px;margin-right:5px;display:block"></div>
		                        <div class="weui_cell_bd weui_cell_primary">
		                            <p>上供老大</p>
		                        </div>
		                        <div class="weui_cell_ft">{php echo 100}{$config['uni_text']}</div>
		                    </a> -->

					<a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('my',array('op'=>'down','quan_id'=>$quan['id'])), 2)}">
						<div class="weui_cell_hd">
							<img src="../addons/cgc_ad/images/my_down.png" style="width: 20px; margin-right: 5px; display: block">
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<p>我的小弟</p>
						</div>
						<div class="weui_cell_ft">{$down_total}个</div>
					</a>
				</div>
			
				<div class="weui_cells weui_cells_form">
					<div class="weui_cell weui_cell_switch">
						<div class="weui_cell_hd weui_cell_primary">接收消息通知</div>
						<div class="weui_cell_ft">
							<input id="notify_newpiece" class="weui_switch" type="checkbox" data-url="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('my',array('op'=>'newpiece','quan_id'=>$quan['id'],'id'=>$member['id'])), 2)}" {if $member['message_notify']==1} checked {/if}  />
						</div>
					</div>
				</div>
			
				{if $quan['vip_valid']}
				<div class="weui_cells weui_cells_access">
					<a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('vip_recharge',array('op'=>'display','quan_id'=>$quan['id'])), 2)}">
						<div class="weui_cell_hd">
							<img src="{MODULE_URL}/images/profile.png" style="width: 20px; margin-right: 5px; display: block">
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<p>购买vip</p>
						</div>
						<div class="weui_cell_ft">设置</div>
					</a>
				</div>
                {/if}
                
				<div class="weui_cells weui_cells_access">
					<a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('my',array('op'=>'profile','quan_id'=>$quan['id'],'id'=>$member['id'])), 2)}">
						<div class="weui_cell_hd">
							<img src="{MODULE_URL}/images/profile.png" style="width: 20px; margin-right: 5px; display: block">
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<p>发布者身份</p>
						</div>
						<div class="weui_cell_ft">设置</div>
					</a>
				</div>
				
				<div class="weui_cells weui_cells_access">
					<a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('my',array('op'=>'couponc','tag'=>'0','quan_id'=>$quan['id'])), 2)}">
						<div class="weui_cell_hd">
							<img src="{MODULE_URL}/images/profile.png" style="width: 20px; margin-right: 5px; display: block">
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<p>我的卡包</p>
						</div>
						<div class="weui_cell_ft">查看</div>
					</a>
				</div>
				
			 {if $poster}
			  <div class="weui_cells weui_cells_access">
					<a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('geren_poster',array('quan_id'=>$quan['id'],'id'=>$member['id'])), 2)}">
						<div class="weui_cell_hd">
							<img src="{MODULE_URL}/images/profile.png" style="width: 20px; margin-right: 5px; display: block">
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<p>我的海报</p>
						</div>
						<div class="weui_cell_ft">设置</div>
					</a>
				</div>
				{/if}
				<!-- 部分手机无法显示全文，这里做一个 -->
				
				<div class="weui_cells weui_cells_access"  style="visibility:hidden">
					<a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('my',array('op'=>'profile','quan_id'=>$quan['id'],'id'=>$member['id'])), 2)}">
						<div class="weui_cell_hd">
							<img src="{MODULE_URL}/images/profile.png" style="width: 20px; margin-right: 5px; display: block">
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<p>发布者身份</p>
						</div>
						<div class="weui_cell_ft">设置</div>
					</a>
				</div>
				
				<div class="weui_cells weui_cells_access"  style="visibility:hidden">
					<a class="weui_cell" href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('my',array('quan_id'=>$quan['id'],'id'=>$member['id'],'op'=>'seller')), 2)}">
						<div class="weui_cell_hd">
							<img src="{MODULE_URL}/images/profile.png" style="width: 20px; margin-right: 5px; display: block">
						</div>
						<div class="weui_cell_bd weui_cell_primary">
							<p>商家资料</p>
						</div>
						<div class="weui_cell_ft">设置</div>
					</a>
				</div>
				
				<div class="weui_cells weui_cells_access" style="display: none">
					<a class="weui_cell"> <input type="checkbox" style="width: 25px;" name="is_revice" value="1" id="is_revice" {if $member['is_revice']==1} checked {/if}  data-url="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('my',array('op'=>'revice','quan_id'=>$quan['id'],'id'=>$member['id'])), 2)}"> 暂不接收红包消息（关注平台用户有效）
					</a> <a class="weui_cell" style="text-align: center;" href="{$_W['account']['subscribeurl']}"> <img src="{$_W['account']['qrcode']}" style="width: 100px; margin: 0 auto;" />
					</a>
				</div>
			</div>

		


		</div>



		<!-- loading toast -->

		<div id="toast_loading" class="weui_loading_toast" style="display: none; z-index: 99999; position: fixed;">

			<div class="weui_mask_transparent"></div>

			<div class="weui_toast">

				<div class="weui_loading">

					<div class="weui_loading_leaf weui_loading_leaf_0"></div>

					<div class="weui_loading_leaf weui_loading_leaf_1"></div>

					<div class="weui_loading_leaf weui_loading_leaf_2"></div>

					<div class="weui_loading_leaf weui_loading_leaf_3"></div>

					<div class="weui_loading_leaf weui_loading_leaf_4"></div>

					<div class="weui_loading_leaf weui_loading_leaf_5"></div>

					<div class="weui_loading_leaf weui_loading_leaf_6"></div>

					<div class="weui_loading_leaf weui_loading_leaf_7"></div>

					<div class="weui_loading_leaf weui_loading_leaf_8"></div>

					<div class="weui_loading_leaf weui_loading_leaf_9"></div>

					<div class="weui_loading_leaf weui_loading_leaf_10"></div>

					<div class="weui_loading_leaf weui_loading_leaf_11"></div>

				</div>

				<p class="weui_toast_content">正在提取...</p>

			</div>

		</div>



		<div id="toast_loading2" class="weui_loading_toast" style="display: none; z-index: 99999; position: fixed;">

			<div class="weui_mask_transparent"></div>

			<div class="weui_toast">

				<div class="weui_loading">

					<div class="weui_loading_leaf weui_loading_leaf_0"></div>

					<div class="weui_loading_leaf weui_loading_leaf_1"></div>

					<div class="weui_loading_leaf weui_loading_leaf_2"></div>

					<div class="weui_loading_leaf weui_loading_leaf_3"></div>

					<div class="weui_loading_leaf weui_loading_leaf_4"></div>

					<div class="weui_loading_leaf weui_loading_leaf_5"></div>

					<div class="weui_loading_leaf weui_loading_leaf_6"></div>

					<div class="weui_loading_leaf weui_loading_leaf_7"></div>

					<div class="weui_loading_leaf weui_loading_leaf_8"></div>

					<div class="weui_loading_leaf weui_loading_leaf_9"></div>

					<div class="weui_loading_leaf weui_loading_leaf_10"></div>

					<div class="weui_loading_leaf weui_loading_leaf_11"></div>

				</div>

				<p class="weui_toast_content">正在设置...</p>
			</div>
			
			

		</div>
		 {template 'inc/guanzhu_page'}		
		
		 {if empty($quan['templet_id'])}
	       {template 'inc/bmenu'}
		 {else}
		   {template 'inc/bmenu_model'}
		 {/if}
		<!-- END 首页 -->
	</div>
{template 'inc/script'}
	<script type="text/javascript">

		$(function(){			
			clear();
			
       		App.controller('index_page', function (page) {
					initBottomMenu(page);
					var toast_loading=$(page).find('#toast_loading');
                    var toast_loading2=$(page).find('#toast_loading2');
					$(page).find('#notify_newpiece').on('click',function(){
						toast_loading.show();
						var status = ($(this).is(':checked')?1:0);
						$.post($(this).data('url'),{
							notify:'newpiece',
							status:status
						},function(resp) {
							toast_loading.hide();
							if(resp.status==0){
				
								$(page).find('#notify_newpiece').prop('checked',(status==0?'':'checked'));
								alert(resp.info);
							}else{
								swal({   
									title: resp.info,
									type: "success",
									confirmButtonText: "确定",
								});
							}
						});
					});
					
					// 提钱
					$(page).find('#btn_transfer').on('click',function(){
						toast_loading.show();
						$.post($(this).data('url'),'',function(resp) {
							if(resp.status==0){
								toast_loading.hide();
								if(resp.info=='must_guanzhu'){
							      show_guanzhu();
								} else{
							      swal({   
									title: "提示",
									text: resp.info,
									type: "error",
									confirmButtonText: "确定",
								  });
								}
							}else if(resp.status==3){
								swal({   
									title: "提示",
									text: resp.info,
									type: "success",
									confirmButtonText: "确定",
								}, function(isConfirm){
									window.location.href=resp.data;
								});
								
							} else {
								swal({   
									title: resp.info,
									text: '',
									type: "success",
									confirmButtonText: "确定",
								}, function(isConfirm){
									location.reload(true);
								});
							}
						});
					});			
						$(page).find('#is_revice').on('click',function(){
						toast_loading2.show();
						var url = '';
						if($('#is_revice').prop("checked")){
							status = 1;
						}else{
							status = 0;
						}
						$.post($(this).data('url'),{status:status},function(resp) {
							if(resp.status==0){
								toast_loading2.hide();
								swal({   
									title: "提示",
									text: resp.info,
									type: "error",
									confirmButtonText: "确定",
								});
							}else{
								swal({   
									title: resp.info,
									text: '设置成功',
									type: "success",
									confirmButtonText: "确定",
								}, function(isConfirm){
									location.reload();
								});
							}
						});
					});		

				});
				App.load('index_page','fade');
				
				
			
				
				function clear(){	
				  {if empty($quan['tx_time'])}
				    return;
				  {/if}
					
			      var url="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('my',array('op'=>'clear','quan_id'=>$quan['id'])), 2)}";					
				  $.post(url,'',function(resp) {
				    // alert(resp.info);
				  });					
				}

			});

		</script>
		
		<script>
		$(function(){
	      $(".weixin").click(function () {
            show_guanzhu();
		   });
		 });
		</script>

</body>

</html>