{php $title=$quan['aname']}
{template 'inc/header2'}
<style>
.am-dropdown-content li {border-bottom: 1px solid #e4e4e4}
ul.am-dropdown-content>li>a {display: block; padding: 8px 16px; text-align: center}
ul.am-dropdown-content {list-style: none; padding: 0px 0;}
.rmcs {text-align: center}
.rmcs li {margin-bottom: 12px;}
.am-btn {display: inline-block; margin-bottom: 0; padding: .5em 1.4em;}
</style>
<body class="" data-amui="2.x">
<!--[if lte IE 9 ]>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a
  href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
    <header id="index-header" data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:;" onclick="history.back()"> <span class="am-icon-chevron-left"></span>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link">请选择</a>
          </h1>
    </header>
	<div style="width:100%; height:5px; background:#e5e5e5;"></div>
    <div class="am-panel am-panel-default" style="margin-bottom: 0px;">
        <div class="am-panel-bd" style="padding-bottom:0px">
            <p>
                <input type="text" class="am-form-field am-round" id="city" placeholder=" 请输入城市名称" />
            </p>
        </div>
    </div>
    <div class="am-panel am-panel-default" style="border:0;margin-bottom: 5px;">
        <div class="am-panel-bd" style="padding-bottom:10px; color:#999999">当前定位城市：
            <a href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('index',array('quan_id'=>$quan_id)), 2)}"><button type="button" class="am-btn am-btn-default am-radius">{php echo empty($quan['city'])?'全国':$quan['city'];}</button></a>
        </div>
    </div>
    <div class="am-panel am-panel-default" style="border:0;margin-bottom: 5px;">
        <div class="am-panel-bd" style="padding-bottom:10px; color:#999999">热门城市</div>
    </div>
    <div class="am-panel am-panel-default" style="border:0;">
        <div id="city_list" class="am-panel-bd" style="padding-bottom:10px; color:#999999">
    	{if !empty($list)}
            <ul class="am-avg-sm-3 rmcs">
            	{loop $list $i}
                <li>
                    <a href="{php echo $_W['siteroot'] . 'app/' . substr($this->createMobileUrl('index',array('quan_id'=>$i['id'])), 2)}"><button type="button" class="am-btn am-btn-default am-radius">{php echo empty($i['city'])?'全国':$i['city'];}</button></a>
                </li>
                {/loop}
            </ul>
        {else}
        	未找到城市
        {/if}
		</div>
    </div>
    <!--menu-->
    {php $bmenu='index'}
	{template 'inc/bmenu2'}
	
	<!-- script -->
	{template 'inc/script2'}
	
	<script>
		$(function(){
			$('#city').change(function(){
				var city = $(this).val();
				if(city==''){return false;}
				$.ajax({
					url : "{php echo $this->createMobileUrl('toggle',array('dopost'=>'ajax'))}",
					data : {city : city, quan_id:"{$_GPC['quan_id']}"},
					async : false,
					dataType : 'json',
					success : function(msg) {
						if (msg.status == 1) {
							$("#city_list").html(msg.log);
						} else {
							$("#city_list").html(msg.log);
						}
					}
				});
			});
		})
	</script>
</body>
</html>