div.pages div.page[data-page=user-info] div.head{
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
}
#user-info div.head img{
    width: 100px;
    height: 100px;
    -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
}
