a.new_color {
    color: #787878;
}
a.new_color:link {
    text-decoration: none;
    color: #787878;
}
a.new_color:visited {
    text-decoration: none;
    color: #787878;
}
a.new_color:hover {
    text-decoration: none;
    color: #787878;
}
a.new_color:active {
    text-decoration: none;
    color: #787878;
}
.apps_icon {
    width: 4rem;
    height: 4rem;
    margin: auto;
    border-radius: 50%;
    line-height: 4rem;
    font-size: 3rem;
    color: #ffffff;
}
a:hover, a:focus {
    text-decoration: none;
}
.apps:nth-child(8n+1) .apps_icon {

}
.apps:nth-child(8n+1) .apps_icon {
    background-color: #e5001f;
}
.apps:nth-child(8n+2) .apps_icon {
    background-color: #884dff;
}
.apps:nth-child(8n+3) .apps_icon {
    background-color: #ff6c00;
}
.apps:nth-child(8n+4) .apps_icon {
    background-color: #28aafa;
}
.apps:nth-child(8n+5) .apps_icon {
    background-color: #2cc2f9;
}
.apps:nth-child(8n+6) .apps_icon {
    background-color: #ffb139;
}
.apps:nth-child(8n+7) .apps_icon {
    background-color: #21d59b;
}
.apps:nth-child(8n+8) .apps_icon {
    background-color: #ff772b;
}
.card {
    background-color: #fff;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
hr {
    border: 0;
    margin: 0 !important;
    padding: 1px;
}
.border-1px, hr{
    position: relative;
}
.border-1px:before, .border-1px:after, hr:before, hr:after{
    border-top: 1px solid #c8c7cc !important;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
}
.border-1px:before{
    top: 0;
    /*display: none;*/
}
.border-1px:after{
    bottom: 0;
}
hr:before{
    top: 0;
}
hr:after{
    bottom: 0;
    display: none;
}
@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){
    .border-1px:after,.border-1px:before, hr:after,hr:before{
        -webkit-transform: scaleY(.7);
        -webkit-transform-origin: 0 0;
        transform: scaleY(.7);
    }
    .border-1px:after, hr:after{
        -webkit-transform-origin: left bottom;
    }
}

@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){
    .border-1px:after,.border-1px:before, hr:after,hr:before{
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}
.fontcolor {
    color: #787878;
}
.home-nav {
    padding: 0 10px 10px 10px;
}
.wxtmpl-home {
    padding: 10px 0;
}
.wxtmpl-project .wxtmpl-thumb{
    padding: 0 0 0 10px;
}
.wxtmpl-project {
    margin: 10px 0;
}
.wxtmpl-project:first-child {
    margin-top: 0;
}
.wxtmpl-project:last-child {
    margin-bottom: 0;
}
.wxtmpl-txt {
    padding-left: 10px;
    padding-right: 10px;
}
.wxtmpl-description {
    display: block;
    font-size: 12px;
}
.wxtmpl-address {
    display: block;
    font-size: 12px;
}
hr {
    margin: 10px 0;
}
.overflow {
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}