<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>提货券</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../addons/yike_delivery/template/lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="../addons/yike_delivery/template/css/style.css">
</head>

<body style="overflow-y: hidden">
<header class="mui-bar mui-bar-nav carry-nav nav-bar">
    <a class="mui-icon mui-icon-back carry-back" onclick="history.back()"></a>
    <h1 class="mui-title carry-title">提货券</h1>
    <a class="fr" style=" display: inline-block; line-height:44px;color: #f35555; font-size: 14px " href="{php echo $this->createMobileUrl('record-proceed')}">提货记录</a>
</header>
<div class="mui-content">
        <input type="hidden" value="{$url}" id="url">
        <div class="login">
            <img src="../addons/yike_delivery/template/img/login-img.png">
            <ul>
                <li>
                    <span>卡号</span>
                    <label>
                        <input type="text" id="card_id">
                    </label>
                </li>
                <li>
                    <span>密码</span>
                    <label>
                        <input type="password" id="password">
                    </label>
                </li>
            </ul>
            <button id="submit">验证提货券</button>
        </div>
        <div class="hint">
            <h2>还没有提货券？</h2>
            <a href="{$shop_url['url']}"><button>购买提货券</button></a>
        </div>
</div>
<script src="../addons/yike_delivery/template/lib/mui/js/mui.min.js"></script>
<script src="../addons/yike_delivery/template/lib/mui/js/jquery.js"></script>
<script src="../addons/yike_delivery/template/lib/mui/js/layer/layer.js"></script>
<script>
    $('#submit').click(function(){
        var card_id = $('#card_id').val();
        var password = $('#password').val();
        var url = $('#url').val();
        if(card_id == '' ||password == ''){
            layer.msg('请将卡号密码填写完整');return;
        }
        $.get(url,{card_id:card_id,password:password},function(data){
            if(data == 0){
                layer.msg('卡号或密码错误，验证失败');
            }else if(data == -1){
                layer.msg('此卡号已经过期，请更换');
            }else if(data == -2){
                layer.msg('此卡号已通过验证，请更换');
            }else{
                var result = eval('['+data+']');
                layer.msg('验证成功，正在跳转');
                setTimeout('window.location = "'+result[0].url+'"', 3000);
            }
        })
    });
</script>
</body>

</html>