.header{margin-top:-26px;margin-bottom:5px;height:30px;line-height:30px;text-align:right;background:#f3f3f3;box-shadow:0 0 4px #d4d4d4 inset;}.wxeditor .left{position:relative;float:left;width:521px;background:#FFF}.wxeditor .left .tabbox{float:left;width:125px}.wxeditor .left .tplcontent{float:left;width:396px;}.wxeditor .right{position:relative;float:left;margin-left:10px;width:45%}#second{padding:20px 20px;width:440px;height:260px;border:1px solid #ccc;background:transparent;overflow-y:scroll}#bdeditor{width:100%;margin:0 auto}.wxeditor a:hover{color:#fff}.tabs{background-color:#53a81b;height:100%}.tabs li a{display:block;background-color:#53a81b;padding:15px 8px;border-right:1px solid #ccc;color:#fff;text-align:center;font-size:18px;font-family:"microsoft yahei";}.tabs li.editorlogo a{display:block;padding:25px 8px;border-right:1px solid #ccc;color:#fff;text-align:center;font-size:16px;border-bottom:1px solid #ccc}.tabs li:hover a,.tabs li a.current{background-color:#ffbf00;color:#fff}.stylequ{padding:20px 0;border:1px solid #ccc;border-left:0;}.tab_con{padding:0px;border:1px solid #ccc;border-left:0;}.content{height:380px;overflow-y:scroll;}.tab_con .content li{margin:5px auto;cursor:pointer;width:330px}.tab_con .content li:hover .itembox{padding:2px;border:1px solid #53a81b}.tab_con content li .itembox{width:330px;margin:0 auto}.goto{
	position:absolute;
	right:-48px;
	top:50%;
	font-size:45px;
	font-weight:700;
	color: #F00;
}.menu{z-index:999;font-weight:800;}.copy-editor-html,.copy-editor-htmls,.clear-editor,.loginbox,#html-see,#phone,#phones,#scon,#tongbu,#kefu,#kefu1,#kefu2,#kefu3,#kefu4,#caiji,#mores,#savebox{position:absolute;right:-45px;top:100px;background-color:#DB512D;color:#fff;width:40px;height:30px;line-height:30px;font-size:14px;text-align:center;cursor:pointer;}.loginbox a{color:#FFF;}.listuser{position:absolute;right:20px;top:10px;background-color:#fff;color:#000;width:100px;height:20px;line-height:20px;font-size:12px;text-align:center;}.update{padding:8px;position:absolute;right:12px;top:0;color:#000;width:15%;font-size:12px;font-weight:normal;border:1px solid #ccc}#savebox{top:390px;}.copy-editor-htmls{top:140px;}.copy-editor-html{top:140px;}.clear-editor{top:180px}#scon,#phone{top:260px;}#phones{top:200px;}#html-see{top:220px;}#tongbu{top:300px}#tongbu1{top:350px}#caiji{top:340px}#kefu{top:380px}#kefu1{top:420px}#kefu2{top:460px}#kefu3{top:500px}#kefu4{top:540px}#kefu{color:#FDFA03}#kefu1{color:#FDFA03}#kefu2{color:#FDFA03}#kefu3{color:#FDFA03} #html-see a{color:#fff} #html-see{top:220px}#mores{top:350px}#mores a{color:#FDFA03}.colorbox{position:absolute;right:-38px;top:30%;font-size:35px;font-weight:700;width:28px;height:28px;background-color:red;z-index:9999}#colorpickerbox{padding:10px 0;border:1px solid #ccc;border-bottom:0;border-left:0;background:#FFF;}#colorpickerbox .colorpicker{background-image:url(img/custom_background.png);position:absolute;bottom:0;left:0}#colorpickerbox .colorpicker_hue div{background-image:url(img/custom_indic.gif)}#colorpickerbox .colorpicker_hex{background-image:url(img/custom_hex.png)}#colorpickerbox .colorpicker_rgb_r{background-image:url(img/custom_rgb_r.png)}#colorpickerbox .colorpicker_rgb_g{background-image:url(img/custom_rgb_g.png)}#colorpickerbox .colorpicker_rgb_b{background-image:url(img/custom_rgb_b.png)}#colorpickerbox .colorpicker_hsb_s{background-image:url(img/custom_hsb_s.png)}#colorpickerbox .colorpicker_hsb_h{background-image:url(img/custom_hsb_h.png)}#colorpickerbox .colorpicker_hsb_b{background-image:url(img/custom_rgb_b.png)}#colorpickerbox .colorpicker_submit{background-image:url(img/custom_submit.png)}#colorpickerbox .colorpicker input{color:#778398}#customWidget{position:relative;height:36px}#previewbox{z-index:10000;display:none;position:fixed;left:125px;top:0;width:375px;height:800px;background:url('img/jizzyoujizz_com.png');background-size:contain;padding:120px 25px 116px 36px}.fenxiang{position:absolute;left:502px;top:2px;width:100px}#share_box{width:100px}#share_box .bds{display:inline-block}
#TB_window{top: 0px;left: 0px;position: fixed;_position: absolute;background: #fff;z-index: 102;color: #000000;display: none;border: 5px solid #666;z-index:2000;}
#TB_caption{height: 25px;padding: 10px 30px 10px 25px;}
#TB_closeWindow{height: 25px;padding: 10px 25px 10px 0;float: right;}
#TB_closeAjaxWindow{padding: 5px 10px 7px 0;margin-bottom: 1px;text-align: right;background-color: #e8e8e8;}
#TB_ajaxContent{padding: 2px 15px 15px 15px;overflow: auto;}
#TB_load{text-align: center;position: absolute;top: 50%;left: 0px;width: 100%;overflow: visible;visibility: visible;display: block;z-index: 101;}
#TB_loadContent{margin-left: -125px;position: absolute;top: -50px;left: 50%;width: 250px;height: 100px;visibility: visible;}
.fl {
margin-top: 3px;
color: #0B0000;
font-size: 12px;
float: right;
padding-left: 5px;
position: static;
}
.fl {
_display: inline;
}
.fr {_display: inline;}
.fr {float: right;margin-top:10px;color:#ff0000;font-size:14px;padding-right: 10px;}
.fr em{text-decoration:none;padding-left:10px;text-align: center;color:#ff6600}
.fr a {text-decoration:none;padding-left:10px;text-align: center;}
.headShadow {
height: 27px;position: fixed;
/*top: 0;*/
bottom:0px;
left: 0px;
width: 100%;
background-image: linear-gradient(to bottom,rgba(88, 88, 79, 0.26),rgba(218, 218, 218, 0.82));
progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#f1f1f1')
opacity: .88;
z-index: 999999;
}
.editorslide{
	position: absolute;
	bottom:30%;
	right: 65px;
}
.editorslide .btn-default{
	width: 32px;height: 32px;color:#FFF;background:rgba(0,0,0,0.3);font-size: 20px;border:0 none;
	box-shadow: 0 0 0px 1px rgba(188,176,167,0.8);margin-top: 2px;
}
.editorslide .btn:hover{background:#ccc;color:#333;}
.editorslide li{
	width: 32px;
	height: 32px;
	margin-bottom: 3px;
}
#bg-choose .default,#bg-choose .chooser{width:20px;height:20px;margin:5px;cursor:pointer;border-radius:2px;}
img {
	max-width: 100%;overflow:hidden;
}
/*复制成功提示框*/
div#success > div {
  position:fixed;bottom:50%;left:60%;color:#ff0000;height:auto;font-size:20px;width:auto;padding:30px 60px;border-radius:4px;background-color:white;box-shadow: 0px 0px 8px #333;opacity: 0.9;z-index:9999991;
}
.popover-content .btn1{width:70px;margin-top:3px;padding: 1px 2px;}
#more-popover .popover-content{padding: 5px 5px;width:160px;max-width:360px;height:120px;}
.btn1-xs, .btn1-group-xs > .btn1 {
padding: 1px 5px;
font-size: 13px;
line-height: 1.5;
border-radius: 0px;
}
.btn1-default {
color: #ffffff;
background-color: #95a5a6;
border-color: #95a5a6;
}
.btn1 {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 2px 2px;
font-size: 15px;
line-height: 1.42857143;
border-radius: 0px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
 div#tbsuccess > div {
  position:fixed;bottom:50%;left:50%;color:#ff0000;height:auto;font-size:20px;width:auto;padding:30px 60px;border-radius:4px;background-color:white;box-shadow: 0px 0px 8px #333;opacity: 0.9;z-index:9999991;