{template 'common/header'}
{template 'nav'}
<form action="" method="post" class="form-horizontal" role="form">
<input type="hidden" value="{$lottory_config['id']}"  name="lottory_config_id">
<div class="panel panel-default">
	<div class="panel-heading">抽奖设置</div>	
	<div class="panel-body">
	<div class="tab-content">
	<div class="tab-pane  active" id="tab_basic">
		<div class="panel panel-default">
			<div class="panel-heading"></div>					
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span><span class="label label-danger">抽奖网页标题</span></label>
					<div class="col-sm-9">
						<input type="text"  class="form-control" name="title" placeholder="公众号名称" value="{$lottory_config['title']}">
						<span class="help-block"><span class="label label-success">抽奖网页标题</span></span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2  control-label">抽奖类型</label>
					<div class="col-sm-9 ">
						<label class="radio-inline">
							<input type="radio" name="lottory_type" value="0" {if $lottory_config['lottory_type'] == '0'}checked="true"{/if} >普通用户
						</label>
						<label class="radio-inline">
							<input type="radio" name="lottory_type" value="1"   {if $lottory_config['lottory_type'] == '1'}checked="true"{/if} >签到用户
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2  control-label">是否开启抽奖提示</label>
					<div class="col-sm-9 ">
						<label class="radio-inline">
							<input type="radio" name="send_mess" value="0" id="show_time_0" {if $lottory_config['send_mess'] == '0'}checked="true"{/if} onclick="show_def1()">否
						</label>
						<label class="radio-inline">
							<input type="radio" name="send_mess" value="1" id="show_time_1"  {if $lottory_config['send_mess'] == '1'}checked="true"{/if} onclick="show_def2()">是
						</label>
					</div>
				</div>
				<div class="form-group show_def" style="{if $lottory_config['send_mess']==0}display:none{/if}">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">中奖消息</label>
					<div class="col-sm-9 ">
					<textarea style="height:200px;" class="form-control" name="def_mess" id="quit-tips" cols="70">{$lottory_config['def_mess']}</textarea>
                    
					<span class="help-block">中奖消息 格式如:亲爱的@你已经中了#、奖品为:*、请按照主持人的提示，到指定地点领取您的奖品！\n您的获奖验证码是:%<br>说明:@代表粉丝昵称、#代表奖项名称、*代表奖品名称、%代表sn码<br>可自行组织语言编写</span>
					</div>
                </div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>

	</div>
	</div>
	</div>
	</div>
	</form>
	<script>

function show_def1(){
	$(".show_def").hide();
}
function show_def2(){
	$(".show_def").show();
}
</script>
{template 'common/footer'}
