*,html,body{ margin:0; padding:0; list-style:none; border:0;}
.share_popup{ display: none; position:absolute; top:0; left:0; z-index:1000; width:100%;height:auto;}

/*我的奖品--1等奖*/
#deng1{ width:100%; height:auto; overflow:auto; display:none;}
#bg_1deng{ width:100%; height:auto; position:absolute;}
#tk_1deng{ position:absolute; width:88%; margin-left:6%;}
#ljfs_1deng{ position:absolute; width:100%; margin-left:0%;}
#dhm_1deng{ position:absolute; width:55%; margin-left:34%;}
#btn_return1{ position:absolute; width:22%; left:39%;}

/*我的奖品--2等奖*/
#deng2{ width:100%; height:auto; overflow:auto; display:none;}
#bg_2deng{ width:100%; height:auto; position:absolute;}
#tk_2deng{ position:absolute; width:88%; margin-left:6%;}
#ljfs_2deng{ position:absolute; width:100%; margin-left:0%;}
#dhm_2deng{ position:absolute; width:55%; margin-left:27.8%;}
#btn_return2{ position:absolute; width:22%; left:39%;}
/*我的奖品--3等奖*/
#deng3{ width:100%; height:auto; overflow:auto; display:none;}
#bg_3deng{ width:100%; height:auto; position:absolute;}
#tk_3deng{ position:absolute; width:88%; margin-left:6%;}
#ljfs_3deng{ position:absolute; width:100%; margin-left:0%;}
#dhm_3deng{ position:absolute; width:55%; margin-left:34%;}
#btn_return3{ position:absolute; width:22%; left:39%;}
/*我的奖品--4等奖*/
#deng4{ width:100%; height:auto; overflow:auto; display:none;}
#bg_4deng{ width:100%; height:auto; position:absolute;}
#tk_4deng{ position:absolute; width:88%; margin-left:6%;}
#ljfs_4deng{ position:absolute; width:100%; margin-left:0%;}
#dhm_4deng{ position:absolute; width:55%; margin-left:34%;}
#btn_return4{ position:absolute; width:22%; left:39%;}
/*我的奖品--5等奖*/
#deng5{ width:100%; height:auto; overflow:auto; display:none;}
#bg_5deng{ width:100%; height:auto; position:absolute;}
#tk_5deng{ position:absolute; width:88%; margin-left:6%;}
#ljfs_5deng{ position:absolute; width:100%; margin-left:0%;}
#dhm_5deng{ position:absolute; width:55%; margin-left:35.8%;}
#btn_return5{ position:absolute; width:22%; left:39%;}
input[type=search],input[type=text],input[type=password],input[type=tel],input[type=date],textarea{
	background-color:white;
	border:1px solid #DDD;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:0 8px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	outline:none;
	height:24px;
}
.button{
	padding:2px;
	background: #b9282b;
	border-radius:3px;
	-webkit-border:solid 1px #b9282b;
	border:solid 1px #b9282b;	  
	width: 90px;
	height: 34px;
	border-radius: 3px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	margin:auto;
}
.brwindow{ 
	width:250px; 
	background-color: #fff; 
	position:absolute; 
	padding:2px; 
	margin:5px; 
	display:none; 
	border-radius:0.6em;
	-webkit-border-radius:0.6em;
	-moz-border-radius:0.6em;
} 
.brcontent{ 
	max-height:150px; 
	background-color:#FFF; 
	font-size:14px; 
	overflow:auto; 
} 
.brtitle{ 
	background-color: #b9282b;
	line-height: 26px;
	padding: 5px 5px 5px 10px;
	color:#ffffff;
	font-size:16px;
	border-radius:0.5em 0.5em 0 0;
	-webkit-border-radius:0.5em 0.5em 0 0;
	-moz-border-radius:0.5em 0.5em 0 0;
} 
.brtitle img{ 
	float:right; 
}

