@charset "utf-8";
/*抽奖活动*/
.lotteryWall{width: 914px; height: 540px; overflow: hidden; cursor: default; padding-top: 24px; position: absolute; top: 0; left: 35px; z-index: 1; display: none;}
.lotteryBox{width: 506px; height: 518px; background: rgba(255, 255, 255, 0.25); float: left; box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3) inset, 0 0 6px 0 rgba(72, 72, 72, 0.3); -webkit-box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3) inset, 0 0 6px 0 rgba(72, 72, 72, 0.3); -moz-box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.3) inset, 0 0 6px 0 rgba(72, 72, 72, 0.3);}
.lotteryTit{width: 398px; height: 60px; background: url(../common/images/lotteryBg.png) no-repeat; margin: 17px auto; padding: 0 32px;}

.lotteryTit span{height: 60px; line-height: 60px; font-size: 26px; display: inline-block; background-position: -52px 0; padding-left: 40px; float: left;}
.lotteryTit p{line-height: 54px; font-size: 18px; padding: 4px 0 0; float: right;}
.lotteryTit p em{font-size: 26px; padding-left:3px;}
.lotteryPerson{width: 180px; text-align: center; padding-top: 28px; margin: 0 auto;}
.lotteryPerson dt{width: 172px; height: 172px; border: 4px solid rgba(255, 255, 255, 0.4);}
.lotteryPerson dt img{width: 100%; height:100%}
.lotteryPerson dd{height: 66px; line-height: 66px; font-size: 26px;overflow: hidden;}
.lotteryBox table{margin: 21px auto 0;}
.lotteryBox td p{padding: 5px 0;}
.lotteryResult{width: 354px; height: 508px; padding-top: 10px; float: right;}
.lotteryCont{width: 344px; height: 508px; background: #fff; margin: 0 auto; box-shadow: 0 0 6px 0 rgba(171, 172, 172, 0.33), 0 6px 6px 1px rgba(0, 0, 0, 0.23) inset; -webkit-box-shadow: 0 0 6px 0 rgba(171, 172, 172, 0.33), 0 6px 6px 1px rgba(0, 0, 0, 0.23) inset; -moz-box-shadow: 0 0 6px 0 rgba(171, 172, 172, 0.33), 0 6px 6px 1px rgba(0, 0, 0, 0.23) inset;}
.lotteryCont h3{height: 58px; line-height: 58px; font-size: 22px; color: #7b7b7b; border-bottom: 1px solid #d2d2d2; padding: 0 24px; margin: 0 6px;}
.lotteryCont h3 p{font-size: 16px; float: right;}
.lotteryCont h3 em{font-size: 22px; padding-left: 3px;}
.lotterys{color: #595959;}
.lotteryInfo{height: 32px; line-height: 32px; font-size: 16px; font-family: "宋体"; padding: 5px 6px 0;}
.lotteryInfo span{padding: 0 23px;}
.lotteryInfo span.dot{margin: 0 33px;}
.lotteryName{height: 357px; overflow-y: auto;}
.lotteryDefault{height: 29px; line-height: 29px; text-align: center; font-size: 22px; color: #777; margin: 152px auto;}

.lotteryName li{height: 50px; border-bottom: 1px solid #d2d2d2; margin: 0 6px; position: relative;}
.lotteryName li.act .delLottery{width: 22px; height: 50px; cursor:pointer; background: url(../common/images/lotteryDel.png) no-repeat left center; display: block; position: absolute; top:0; right: -5px;}
.lotteryName .sn{width: 20px; height: 20px; line-height: 20px; text-align: center; color: #fff; font-size: 13px; background: #878787; border-radius: 50%; display: inline-block; margin: 15px 5px; float: left;}
/*.lotteryName .man{width: 182px;height: 48px; line-height: 48px; font-size: 22px; overflow: hidden; display: inline-block;}
.lotteryName img{width: 38px; height: 38px; vertical-align: middle; border: 1px solid #d2d2d2; margin-right: 8px;}
*/
.lotteryName .man{width: 182px; display:block;}
.lotteryName img{width: 44px; height: 44px;float:left; vertical-align: middle; border: 1px solid #d2d2d2; margin-right: 8px;}
.lotteryName .luck_username{float:left;width:125px;height: 48px;font-size: 14px;overflow: hidden;text-align:center}
.lotteryName .prize{width: 110px; height:50px; line-height: 50px; text-align: center; font-size: 15px; float: right; overflow:hidden}
.lotteryBtn{text-align: center; padding: 8px 0;}

.selStyle{height: 28px; font-size: 15px; color: #5f5f5f; font-family: "微软雅黑"; border: 1px solid #d8d8d8; background: #fff;}
.txtStyle{width: 168px; height: 26px; font-size: 15px; color: #5f5f5f; font-family: "微软雅黑"; border: 1px solid #d8d8d8; background: #fff; padding: 0 5px;}
.btnStyle{ font-family: "微软雅黑"; border-style: solid; border-width: 0 1px 2px 0; padding: 0px 1px 2px 0; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;}
.btn255{width: 255px; height: 54px; font-size: 26px;}
.btn90{width: 90px; height: 36px; font-size: 16px;}

.sel180{width: 180px; }
.sel80{width: 80px;}
.sel50{width: 50px;}


/*现场互动*/
.onSiteWall{width: 914px; height: 540px; overflow: hidden; cursor: default; padding-top: 24px; position: absolute; top: 0; left: 35px; z-index: 1; display: none;}
.onSiteTit span{background-position: -52px -88px; padding-left: 40px;}
.radomBox{}
.pairingBox{display: none;}
.sexCustomerBox{display: none;}