<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<link href="{CSS_PATH}index.css" type="text/css" rel="stylesheet" />
<link href="{CSS_PATH}weui.css" type="text/css" rel="stylesheet"/>
<title>{$title}</title>
{php echo register_jssdk()}
</head>
<body>
	<div id="pageContainer">
		<div class="detail">
			<div class="top">
				<div id="YJin"></div>
				<div class="clear"></div>
				{if empty($item['video'])}<img src="{php echo tomedia($item['thumb'])}" />{else}
				<iframe class="video_iframe" style=" z-index:1; " src="{$item['video']}" allowfullscreen="" frameborder="0" height="200" width="100%"></iframe>
				{/if}
				<div class="clear"></div>
				<table border="0" class="tb">
					<tbody>
						<tr>
							<td width="50%"><p>已{$item['text1']}：<span>{php echo $this->totalmoney($id)}</span>元 </p><p>{$item['text1']}次数：<span>{php echo $this->totalnum($id)}</span>次</p></td>
							<td width="50%" class="tl"><a href="{php echo $this->createMobileUrl('info',array('id'=>$id))}"  style="">我的{$item['text1']}</a></td>
						</tr>
					</tbody>
				</table>
				<div class="summ">{$item['description']} </div>
			</div>
			
			<div class="btns">
				<div style="margin:5px;">
					<table style="width:100%">
						<tbody>
							<tr>
								<td width="49%"><a href="javascript:void(0);" id="btn_submit1"><div class="btn">立即{$item['text1']}</div></a></td>
								<td width="3%"></td>
								<td width="49%"><a href="{php echo $this->createMobileUrl('invitation',array('id'=>$id))}" id="btn_yiqijuan"><div class="btn_b">邀{$item['circle_name']}{$item['text2']}</div></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			{if !empty($orders)}
			<div class="yqjrank2" style="margin-top: 10px; display: block;">
				<div class="tt">感谢<span>{php echo $this->totalinvitationnum($id)}</span>位爱心传播者和<span>{php echo $this->totalusernum($id)}</span>位朋友</div>
				<div class="ctx clearfix">
					<div class="imgs clearfix">
						{loop $orders $row}
						{php $user = pdo_fetch("SELECT avatar FROM ".tablename($this->t_user)." WHERE uniacid=:uniacid AND openid=:openid",array(':uniacid'=>$_W['uniacid'],':openid'=>$row['openid']));}
						<div class="li fl ed" i="0"> <img class="head" src="{$user['avatar']}" > <img class="arr and_img_detail and_icon_8" src="{IMG_PATH}yqj_selected.png"> </div>
						{/loop}
					</div>
					<!--i class="arr fr" style="margin-top: 28px;"><a href="{pigcms::U('Donation/detail', array('token' => $token, 'id' => $id))}"><img src="{IMG_PATH}icon_9.png"></a></i--> 
				</div>
				<div class="clear"></div>
				<ul class="ctx_img">
					{loop $orders $row}
					{php $user = pdo_fetch("SELECT * FROM ".tablename($this->t_user)." WHERE uniacid=:uniacid AND openid=:openid",array(':uniacid'=>$_W['uniacid'],':openid'=>$row['openid']));}
					<li style="display:block">
						<div class="desc">{$user['nickname']}/{$user['city']} {$item['text1']}<span>{$row['pricetotal']}</span>元
						</div>
					</li>
					{php unset($user);}
					{/loop}
				</ul>
			</div>
			{/if}
			<div class="proj">
			    <div class="tt">
			        <div class="bb"><i> {$item['text1']}接受机构：</i><span>{$item['company']}</span> </div>
			    </div>
			    <div class="tt">
			        <div class="bb bb_tab"><i>项目详情</i></div>
			    </div>
			    <div class="desc">{$item['content']}</div>
			</div>
		
			<div class="progress" style="display: block;"> </div>
			<div class="footer"><img src="{php echo tomedia($item['logo'])}" class="and_img_detail and_logo_bottom" /></div>
		
			<div id="payTips" style="position: absolute; width: 100%; height:100%; top: 0px; left: 0px; z-index: 700; display: none; background: rgba(0, 0, 0, 0.701961);z-index:1"></div>
			<div class="pay" style="display:none;">
				<div class="t">
					<div class="close"><img src="{IMG_PATH}icon_close.png" class="and_img_detail and_icon_close" /></div>
					<span class="ttt">请输入{$item['text1']}金额</span>
					<div class="clear"></div>
				</div>
				<div class="box" id="pay_donate_s">
					<table class="tb">
						<tbody>
							<tr>
								<td colspan="4"><div style="color:#333333;height:28px;font-size:14px;">{$item['tip']}</div></td>
							</tr>
							<tr>
								<td><div data="{$item['fixed_money1']}" class="sel l ed"><img src="{IMG_PATH}yqj_selected.png" class="and_img_detail and_yqj_selected" /><span>{$item['fixed_money1']}</span></div></td>
								<td><div data="{$item['fixed_money2']}" class="sel l"><img src="{IMG_PATH}yqj_selected.png" class="and_img_detail and_yqj_selected" /><span>{$item['fixed_money2']}</span></div></td>
								<td><div data="{$item['fixed_money3']}" class="sel l"><img src="{IMG_PATH}yqj_selected.png" class="and_img_detail and_yqj_selected" /><span>{$item['fixed_money3']}</span></div></td>
								<td><div data="{$item['fixed_money4']}" class="sel l"><img src="{IMG_PATH}yqj_selected.png" class="and_img_detail and_yqj_selected" /><span>{$item['fixed_money4']}</span></div></td>
							</tr>
							<tr>
								<td colspan="4"><div style="height:5px;"></div></td>
							</tr>
							<tr id="other_money">
								<td colspan="4">
									<div data="0" class="sel l">
										<img src="{IMG_PATH}yqj_selected.png" class="and_img_detail and_yqj_selected">
										<div class="fl" style="margin-left:8px">其他</div>
										<div class="fr" style="margin-right:8px">元</div>
										<div style=" width:100%; position:absolute; left:0;"><input type="number" id="money" /></div>
									</div>
								</td>
							</tr>
							{if $item['need_name'] > 0}
							<tr>
								<td colspan="4">
									<div class="sell">
										<img src="{IMG_PATH}yqj_selected.png" class="and_img_detail">
										<div class="fl" style="margin-left:8px">姓名</div>
										<div style=" width:100%; position:absolute; left:0;"><input type="text" id="realname" /></div>
									</div>
								</td>
							</tr>
							{/if}
							{if $item['need_mobile'] > 0}
							<tr>
								<td colspan="4">
									<div class="sell">
										<img src="{IMG_PATH}yqj_selected.png" class="and_img_detail">
										<div class="fl" style="margin-left:8px">电话</div>
										<div style=" width:100%; position:absolute; left:0;"><input type="mobile" id="mobile" /></div>
									</div>
								</td>
							</tr>
							{/if}
							{if $item['need_remark'] > 0}
							<tr>
								<td colspan="4">
									<div class="sell">
										<img src="{IMG_PATH}yqj_selected.png" class="and_img_detail">
										<div class="fl" style="margin-left:8px">备注</div>
										<div style=" width:100%; position:absolute; left:0;"><input type="text" id="remark" /></div>
									</div>
								</td>
							</tr>
							{/if}
						</tbody>
					</table>
					<a href="javascript:void();" class="btn_a" id="btn_submit"><div class="btn">立即{$item['text1']}</div></a>
					<div class="prot" style="margin-top:15px;"><label for="check"><img src="{IMG_PATH}detail_icon_8_checked.png" class="check and_img_detail and_detail_icon_8_checked inputcheck" data-src="{IMG_PATH}detail_icon_8.png"/>
						<input type="checkbox" id="check" name="check" checked="checked" class="none" />同意并接受</label><span class="p" style="color: #860101; text-decoration: none;">《{$item['text1']}协议》 </span>
					</div>
				</div>
			</div>
			<div id="tips" style="background:rgba(0,0,0,0.7);position:fixed;width:100%;height:100%;top:0;z-index:900;display:none"></div>
			<div style="height:50px;"></div>
			<div class="xieyi" style="display:none"><span class="xieyi_ca"><img src="{IMG_PATH}ca.png"></span>
				<div class="about">
				<div class="content"><div style="margin-left: 6px;">{$item['xieyi']}</div></div>
				</div>
        	</div>
		</div>
	</div>
	<div class="mask_level"></div>
<script src="{JS_PATH}jquery-1.8.3.min.js"></script>
<script src="{JS_PATH}weui.js"></script>
<script src="{JS_PATH}index.js"></script>
<script>
$(document).ready(function(){
	$('#other_money').click(function(){
		$('#money').focus();
	});
	$('#btn_submit').click(function(){
		var price = 0, t = parseInt($("#pay_donate_s").find('.ed').attr('data'));
		if (t > 0) {
			price = t;
		} else {
			price = $('#money').val();
		}
		var realname = '';
		realname = $('#realname').val();
		var remark = '';
		remark = $('#remark').val();
		var mobile = '';
		mobile = $('#mobile').val();
		{if $item['need_name'] == 2}
		if (realname == '') {
			Weui.tooltips({"content":"姓名必填","time":2000,"type":"error"});
			return false;
		}
		{/if}
		{if $item['need_mobile'] == 2}
		if (mobile == '') {
			Weui.tooltips({"content":"电话必填","time":2000,"type":"error"});
			return false;
		}
		{/if}
		{if $item['need_remark'] == 2}
		if (remark == '') {
			Weui.tooltips({"content":"备注必填","time":2000,"type":"error"});
			return false;
		}
		{/if}
		if (price <= 0) {
			Weui.tooltips({"content":"{$item['text1']}金额应该大约0","time":2000,"type":"error"});
			return false;
		}
		if (!$('#check').attr('checked')) {
			Weui.tooltips({"content":"只有同意{$item['text1']}协议才能捐款","time":2000,"type":"error"});
			return false;
		}
		location.href="{php echo $this->createMobileUrl('pay',array('id'=>$id))}&price=" + price + "&remark=" + remark + "&mobile=" + mobile+ "&realname=" + realname;
	});
});
</script>
<script type="text/javascript">
   wx.ready(function () {
        sharedata = {
            title: '{$item['share_title']}',
            desc: '{$item['share_des']}',
            link: '{$_W['siteroot']}{php echo str_replace('./','app/',$this->createMobileUrl('detail',array('id'=>$id)))}',
            imgUrl: '{if !empty($item['share_pic'])}{php echo tomedia($item['share_pic'])}{else}{php echo tomedia($item['thumb'])}{/if}',
        };
        wx.onMenuShareTimeline(sharedata);
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareQQ(sharedata);
        wx.onMenuShareQZone(sharedata);
    });
</script>
</body>
</html>