<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link href="{CSS_PATH}geren.css" type="text/css" rel="stylesheet">
<title>{$title}</title>
{php echo register_jssdk()}
</head>
<body>
<div id="pageContainer">
    <div class="mynewrd">
        <div class="top"> <img src="{IMG_PATH}bg_myrecord_1.jpg" class="bg">
            <div class="txt">
                <div class="icon_bg"><img src="{$user['avatar']}"></div>
                <div class="c">亲爱的<span class="r n" id="user"> {$user['nickname']}</span></div>
                <div class="c" id="head_desc">感谢您{$item['text1']}的<span class="r n">{php echo $this->mymoney($id,$_W['openid'])}</span>元。<br/>{$item['thanks']}</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="box">
            <div class="nav">
                <div class="bg">
                    <a href="{php echo $this->createMobileUrl('info',array('id'=>$id, 'type' => 2))}"><div class="item item1 {if $type == 2}ed{/if}">我的{$item['text1']}</div></a>
                    <a href="{php echo $this->createMobileUrl('info',array('id'=>$id, 'type' => 3))}"><div class="item item2 {if $type == 3}ed{/if}">我的影响值</div></a>
                    <a href="{php echo $this->createMobileUrl('info',array('id'=>$id, 'type' => 1))}"><div class="item item3 {if $type == 1}ed{/if}">项目动态</div></a>
                </div>
            </div>
            <div class="content">
                <ul id="list" class="cont_list">
                    <li {if $type != 1}style="display:none"{/if} id="type_1">
                    	{loop $dynamic_list $dynamic_row}
                        <div class="item "> 
                        	<a href="{php echo $this->createMobileUrl('dynamic',array('id'=>$id, 'dynamicid' => $dynamic_row['id']))}">
	                            <h1>{$dynamic_row['title']}</h1>
                            </a>
                            <div class="citem">
                                <div class="t"><img src="{IMG_PATH}detail_icon_1.png">{php echo date('Y年m月d日',$dynamic_row['createtime'])}</div>
                                <div class="d">{$dynamic_row['description']} </div>
                            </div>
                            <div class="citem">
                                <div class="t"><img src="{IMG_PATH}detail_icon_1.png"><a href="{php echo $this->createMobileUrl('dynamic',array('id'=>$id, 'dynamicid' => $dynamic_row['id']))}"><span>更多详情 &gt;&gt;</span></a></div>
                            </div>
                        </div>

                        {/loop}
                    </li>
                    <li{if $type != 2}style="display:none"{/if}>
                        <div class="influence">
                            <div class="influence_info clearfix juankuan">
                                <div class="in_l">已{$item['text1']}金额:<span>{php echo $this->mymoney($id,$_W['openid'])}</span>元</div>
                                <div class="in_r">{$item['text1']}次数<span>{php echo $this->mynum($id,$_W['openid'])}</span>次</div>
                            </div>
                            
							<p style="color: #9f9f9f;font-size: 16px; margin-left: 5%; line-height: 26px;">项目名称:<span>{$item['title']}</span></p>
                            <div class="in_list">
                                <ul>
                                    <li class="clearfix">
                                    	<a href="{php echo $this->createMobileUrl('detail',array('id'=>$id))}" style="color:#fe5842;  text-decoration: inherit;">
                                        <div class="in_img"><img src="{php echo tomedia($item['thumb'])}" style="width: 150px;"/></div>
                                        <div class="in_txt">
                                            <p>已{$item['text1']}金额:<span><i>{php echo $this->totalmoney($id)}</i>元</span></p>
                                            <p>已{$item['text1']}次数:<span><i>{php echo $this->totalnum($id)}</i>次</span></p>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                            {if !empty($orders)}
                            <div class="influence_titel">{$item['circle_name']}{$item['text1']}记录</div>
                            <div class="influence_tab">
                                <ul id="type_2">
                                    {php $j = 1;}
                                	{loop $orders $row}
                                    <li class="and_search clearfix ">
                                    	{if $j == 1}
                                    		<div class="ranking one"><span>{$j}</span></div>
                                    	{else if $j == 2}
                                    		<div class="ranking two"><span>{$j}</span></div>
                                    	{else if j == 3}
                                    		<div class="ranking three"><span>{$j}</span></div>
                                    	{else}
                                    		<div class="ranking"><span>{$j}</span></div>
                                    	{/if}
                                        {php $user = pdo_fetch("SELECT * FROM ".tablename($this->t_user)." WHERE uniacid=:uniacid AND openid=:openid",array(':uniacid'=>$_W['uniacid'],':openid'=>$row['openid']));}
                                        <div class="head"><img src="{$user['avatar']}"  style="height:45px;width:45px;"/></div>
                                        <div class="name">{$user['nickname']}</div>
                                        <div class="ranking_txt">{$row['pricetotal']}元</div>
                                        <div class="medal" style="margin-top: 9px;">{php echo date('Y-m-d',$row['createtime'])}</div>
                                        <div style=" clear:both"></div>
                                        {php unset($user);}
                                    </li>
                                    {php $j ++;}
                                    {/loop}
                                </ul>
                            </div>
                            {/if}
                            <div class="influence_titel"><a href="{php echo $this->createMobileUrl('detail',array('id'=>$id))}">我要{$item['text1']}</a></div>
                        </div>
                    </li>
                    <li {if $type != 3}style="display:none"{/if}>
                        <div class="influence">
                            <div class="influence_info clearfix">
                                <div class="in_l">我的影响值:<span>{php echo $this->getYx($id,$_W['openid']);}</span></div>
                                <if condition="$mycount gt 0"><div class="in_r"><i></i><span>{php echo $this->getYxNo($id,$_W['openid']);}</span></div></if>
                            </div>
                            {if !empty($yxz_list)}
                            <div class="influence_titel">{$item['circle_name']}影响值排行榜</div>
                            <div class="influence_tab two_tab">
                                <ul id="type_3">
                                    {php $i = 1;}
                                	{loop $yxz_list $row}
                                    <li class="clearfix">
                                    	{if $i == 1}
                                    		<div class="ranking one"><span>{$i}</span></div>
                                    	{else if $i == 2}
                                    		<div class="ranking two"><span>{$i}</span></div>
                                    	{else if $i == 3}
                                    		<div class="ranking three"><span>{$i}</span></div>
                                    	{else}
                                    		<div class="ranking"><span>{$i}</span></div>
                                    	{/if}
                                        <div class="head"><img src="{$row['avatar']}"  style="height:45px;width:45px;"/></div>
                                        <div class="name">{$row['nickname']}</div>
                                        <div class="ranking_txt">{$row['yxz']}</div>
                                    </li>
                                    {php $i ++;}
                                    {/loop}
                                </ul>
                            </div>
                            {/if}
                            <div class="influence_titel"><a href="{php echo $this->createMobileUrl('invitation',array('id'=>$id))}">邀请{$item['circle_name']}{$item['text2']}</a></div>
                        </div>
                    </li>
                </ul>
                <div class="more none" style="display: none;"><img src="{IMG_PATH}loading_1.gif">加载中...</div>
            </div>
        </div>
        <input type="hidden" id="page" value="2" />
        <input type="hidden" id="canScroll" value="1" />
        <div class="footer"><img  src="{php echo tomedia($item['logo'])}"></div>
    </div>
    <div id="tips" style="background:rgba(0,0,0,0.7);position:fixed;width:100%;height:100%;left:0;top:0;z-index:2000;display:none"></div>
</div>
<script type="text/javascript">
/*$(function() {
	var type = {pigcms:$type}, token='{pigcms:$token}', wecha_id='{pigcms:$wecha_id}';
	var b_url = "{pigcms::U('Donation/ajax_list', array('token' => $token, 'id' => $id, 'wecha_id' => $wecha_id))}";
	$(window).bind("scroll", function() {
		if ($(document).scrollTop() + $(window).height() >= $(document).height()) {
			var _page = $('#page').val();
			if (_page < 1) return false;
			$('.more').show();
			if($('#canScroll').val()==0){//不要重复加载
				$('.more').hide();
				return;
			}
			$('#canScroll').val(0);
			$.ajax({
				type : "GET",
				data : {'page' : _page, 'inajax' : 1, 'type' : type},
				url :  b_url,
				dataType : "json",
				success : function(response) {
					$('#canScroll').val(1);
					$('.more').hide();
					$('#page').val(response.page);
					var data = response.data;
					var _tmp_html = '';
					if (type == 2) {
						$.each(data, function(x, y) {
							_tmp_html += '<li class="and_search clearfix "><div class="ranking"><span>' + y.ranking + '</span></div>';
							_tmp_html += '<div class="head"><img src="' + y.portrait + '" style="height:45px;width:45px;"/></div>';
							_tmp_html += '<div class="name">' + y.wechaname + '</div>';
							_tmp_html += '<div class="ranking_txt">' + y.p + '</div>';
							_tmp_html += '<div class="medal"  style="margin-top: 9px;">' + y.medal + '</div>';
							_tmp_html += '<div style=" clear:both"></div>';
							_tmp_html += '</li>';
						});
					} else if (type == 3) {
						$.each(data, function(x, y) {
							_tmp_html += '<li class="clearfix">';
							_tmp_html += '<div class="ranking"><span>' + y.ranking + '</span></div>';
							_tmp_html += '<div class="head"><img src="' + y.portrait + '" style="height:45px;width:45px;"/></div>';
							_tmp_html += '<div class="name">' + y.wechaname + '</div>';
							_tmp_html += '<div class="ranking_txt">' + y.num + '</div>';
							_tmp_html += '</li>';
						});
					} else {
						$.each(data, function(x, y) {
							_tmp_html += '<div class="item "> ';
							_tmp_html += '<a href="/index.php?g=Wap&m=Index&a=content&token='+token+'&wecha_id=' + wecha_id + '&id=' + y.id + '">';
							_tmp_html += '<h1>' + y.title + '</h1>';
							_tmp_html += '<div class="summary">' + y.text + '</div>';
							_tmp_html += '</a>';
							_tmp_html += '<div class="citem">';
							_tmp_html += '<div class="t"><img src="/tpl/static/donation/images/detail_icon_1.png">' + y.dateline + '</div>';
							_tmp_html += '<div class="d">' + y.text + '</div>';
							_tmp_html += '</div>';
							_tmp_html += '<div class="citem">';
							_tmp_html += '<div class="t"><img src="/tpl/static/donation/images/detail_icon_1.png"><a href="/index.php?g=Wap&m=Index&a=content&token='+token+'&wecha_id=' + wecha_id + '&id=' + y.id + '"><span>更多详情 &gt;&gt;</span></a></div>';
							_tmp_html += '</div>';
							_tmp_html += '</div>';
						});
					}
					$('#type_' + type).append(_tmp_html);
				}
			});
		}
	});
});*/
</script>
<script type="text/javascript">
   wx.ready(function () {
        sharedata = {
            title: '{$item['share_title']}',
            desc: '{$item['share_des']}',
            link: '{$_W['siteroot']}{php echo str_replace('./','app/',$this->createMobileUrl('detail',array('id'=>$id)))}',
            imgUrl: '{if !empty($item['share_pic'])}{php echo tomedia($item['share_pic'])}{else}{php echo tomedia($item['thumb'])}{/if}',
        };
        wx.onMenuShareTimeline(sharedata);
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareQQ(sharedata);
        wx.onMenuShareQZone(sharedata);
    });
</script>
</body>
</html>