body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,
form,fieldset,legend,button,input,textarea,th,td,section,p,span,font,div{margin:0;padding:0;font-family:"Microsoft yahei";color:#333;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:"Microsoft yahei";}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333;}
a:hover{text-decoration: none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
html,body{height: 100%;background-color: #F5F4F4;}
header{width:100%;height:180px;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
}
.banner{background-color: #fff;height: 28px;padding: 5px 0;}
.banner:after{content:'';display:block;height:0;clear: both;}
.banner .weather{float: left;color: #DB7793;}
.banner .posi{float: right;color: #7BA43E;}
.type{width: 100%;margin: 5px 0;background-color: #fff;padding: 10px 0;}
.type ul:after{content:'';display:block;height:0;clear: both;}
.type li{float: left;width: 25%;text-align: center;background-color: #fff;margin: 5px 0;}
.type li img{display: block;width: 40%;margin: 0 auto;}
.notice{padding: 10px 2%;background-color: #fff;width: 96%;margin:5px 0;}
.notice:after{content:'';display:block;height:0;clear: both;}
.notice .title{font-size: 16px;color: #6BA74F;border-right: 1px solid #A0A0A0;float: left;padding-right: 10px;width: 12%;height: 30px;margin-top: 8px;}
.notice .title img{margin-top: -8px;}
.notice .content{font-size: 16px;color: #000;float: left;}
.notice .content img{display:block;float: right;}
.notice .content .tip{margin: 0 10px;font-size: 12px;width: 100%;}
.notice .content .ts{color: #DF325F;font-size: 12px;margin-top: 5px;}
.notice .content span{border:1px solid #F388AD;border-radius: 5px;padding: 0 4px;color:#fff;margin: 0 10px;font-size: 14px;background-color:#DF325F; }
.point{margin: 15px 0;}
.point .pic{width: 30%;margin: 0 auto;}
.point .txt{width: 40%;text-align: center;margin: 0 auto;color: #7DA241;font-size: 14px;}
.point-div{background-color: #fff;padding: 10px 5%;width: 90%;margin: 10px 0;}
.point-div .con{width: 100%;}
.point-div .con .detail{width: 100%;position: relative;border-bottom: 1px solid #e3e3e3;}
.point-div .con .detail:after{content:'';display:block;height:0;clear: both;}
.point-div .con .detail .pic{width: 15%;float: left;}
.point-div .con .detail .title{line-height: 25px;float: left;margin-left: 10px;}
.point-div .con .detail .title h3{font-size: 16px;}
.point-div .con .detail .disc{float: left;position: absolute;bottom: 15px;right: 0;}
.point-div .con .detail .disc span{border-radius: 5px;background-color:#6BA74F;color: #fff;padding: 5px;}
.point-div .con .contact{width: 100%;}
.point-div .con .contact:after{content:'';display:block;height:0;clear: both;}
.point-div .con .contact .tel{width: 49.5%;float: left;margin-top: 10px ;border-right: 1px solid #e3e3e3;text-align: center;}
.point-div .con .contact .nav{width: 50%;float: left;margin-top: 10px ;text-align: center;}
.contact .mid{width: 60%;margin: 0 auto;font-size: 20px;}
.contact .mid img{display: block;float:left;margin-right: 10px;}
.contact .mid span{display: block;float:left;height: 30px;line-height: 30px;}

/**type**/
.head{width: 90%;margin: 0 auto;border-bottom:1px solid #6BA74F;margin-top: 10px;}
.head:after{content:'';display:block;height:0;clear: both;}
.head div{float:left;text-align: center;width: 49.5%;height:40px;line-height: 40px;font-size: 18px;color:#6BA74F ;}
.head .new{border-right: 1px solid #6BA74F;}
/*showDetail*/
.names{width: 90%;padding: 10px 0;background-color: #fff;padding:15px 5%;}
.names .content{width: 97%;border-bottom: 1px solid #a3a3a3;padding-left:3%;font-size: 18px;color: #a3a3a3;position: relative;}
.names .content span{border-radius: 5px;border:1px solid #6BA74F;background-color: #6BA74F;color: #fff;font-size: 12px;position: absolute;right: 0;padding:0 3px;}
.storeinfo{width:86%;margin: 10px 0;padding: 15px 7%;background-color: #fff;}
.storeinfo .s-name{width: 100%;}
.storeinfo .s-name .nm{float: left;font-size: 18px;color: #6BA74F;}
.storeinfo .s-name .star{float: right;max-width: 40%;}
.storeinfo .s-name .star li{float: right;margin: 0 2px;width: 16%;}
.storeinfo .s-name:after{content:'';display:block;height:0;clear: both;}
.storeinfo .poi{margin-top:15px;}
.storeinfo .poi:after{content:'';display:block;height:0;clear: both;}
.storeinfo .poi .pi{float: left;margin-right: 10px;width: 20px;}
.storeinfo .poi .txt{float: left;color: #000;font-size: 14px;}
.tel{width:86%;margin: 10px 0;padding: 5px 7%;background-color: #fff;}
.tel .poi:after{content:'';display:block;height:0;clear: both;}
.tel .poi .pi{float: left;margin-right: 10px;width: 20px;}
.tel .poi .txt{float: left;color: #000;margin-top: 0px;font-size: 14px;}
.showcontent{width: 90%;background-color: #fff;margin-top: 10px;padding: 20px 5%;min-height:200px;padding-bottom: 90px;}
.showcontent .title{padding: 10px 2%;background-color: #F1F1F1;font-size: 18px;margin-bottom: 10px;}
.showcontent .content img{width: 100%;}

footer{background-color: #fff;position: fixed;bottom: 0;width: 100%;}
footer:after{content:'';display:block;height:0;clear: both;}
footer img{width: 20px;display: block;margin: 0 auto;margin-bottom: 5px;}
footer .nav{width: 49.5%;text-align: center;background-color: #6BA74F;float: left;padding: 5px 0;color:#fff;}
footer .tels{width: 50%;text-align: center;background-color: #6BA74F;float: right;padding: 5px 0;color:#fff;}
