@charset "utf-8";
/****************************** 全局样式 ******************************/
/********** 全局 **********/

div, dl, dt, dd, ul, h1, h2, h3, p{padding:0;margin:0;}
li{list-style:none;}
img{border:0;}
a{color:#000000;text-decoration:none;}
a:hover{color:#3498db;text-decoration:none;}


/********** 其它 **********/
.clearfix:after{height:0;display:block;visibility:hidden;content:".";clear:both;}
.clearfix{display:inline-block;}
*html .clearfix{height:1%;}
.clearfix{display:block;}
.clear{height:0;overflow:hidden;font:0/0 arial;visibility:hidden;clear:both;}

/****************************** 全局样式 结束 ******************************/


/****** 打赏排行榜 ******/
.guest_reward_right {width:100%;height:68%;position: absolute;left: 0; top: 0; background:rgba(0,0,0,0.4);overflow: hidden}
.totalBox {width:100%;margin-top:20px;}
.totalBox h2 {font-size:20px;line-height:26px;font-weight:normal;color:#fff;position:relative; padding:0 20px;}
.totalBox h2 i.iconfont {display:inline-block;vertical-align:bottom;font-size:30px;line-height:29px;margin-right:5px;}

.totalBox ul {width:100%; background:rgba(0,0,0,0.4); margin-top:20px;height:68%;}
.totalBox ul li {float:left; padding:0px;width: 100%;margin-bottom: 1px;border-bottom: 1px solid rgba(0,0,0,0.8);}
.totalBox ul li:nth-child(2n){background:rgba(0,0,0,0.2);}
.totalBox ul li:nth-child(n+4){padding:0px;}

.totalBox ul li .No {display:inline-block; float:left; width:15%; line-height:56px; font-size:24px; text-align:center; color:#fff; font-family:arial; font-style:normal;}
.totalBox ul li:nth-child(1) .No,.totalBox ul li:nth-child(1) .richer_sort p{color:#ff0000;}
.totalBox ul li:nth-child(2) .No,.totalBox ul li:nth-child(2) .richer_sort p{color:#00b63c;}
.totalBox ul li:nth-child(3) .No,.totalBox ul li:nth-child(3) .richer_sort p{color:#ff9500;}

.totalBox ul li .richer_sort{float:left; width:83%; position:relative;display:inline-block;padding-right: 1%;vertical-align: middle;margin-top: 12px}
.totalBox ul li .richer_sort i{display:block; width:32px; height:16px; background:url(crown_icon.png); position:absolute; left:2px; top:-9px;}
.totalBox ul li:nth-child(1) .richer_sort i{background-position:0 0;}
.totalBox ul li:nth-child(2) .richer_sort i{background-position:-42px 0;}
.totalBox ul li:nth-child(3) .richer_sort i{background-position:-84px 0;}

.totalBox ul li .richer_sort img{float:left; width:36px; height:36px; border-radius:50%; margin:1px 0px;}
.totalBox ul li .richer_sort h3{float:left;width:90px;font-size:16px; color:#fff; font-weight:500;margin-left: 10px;margin-top: 8px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.totalBox ul li:nth-child(n+4) .richer_sort h3{width:80px;}
.totalBox ul li .richer_sort p{float:right;font-size:18px; color:#fff;font-weight:500;margin-top: 8px;}


@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}



.animate_beat {-webkit-animation:animate_beat 3s ease-in-out infinite;animation:animate_beat 3s ease-in-out infinite;}
@-webkit-keyframes animate_beat {
	0%{ 		
		-webkit-transform:scale(1.1);
		transform:scale(1.1);
		-webkit-opacity:1;
		opacity:1;
	}
	10% { 
		-webkit-transform:scale(0.9);
		transform:scale(0.9);
		-webkit-opacity:0.8;
		opacity:0.8;
	}
	20% { 
		-webkit-transform:scale(1.05);
		transform:scale(1.05);
		-webkit-opacity:1;
		opacity:1;
	}
	25% { 
		-webkit-transform:scale(1);
		transform:scale(1);
		-webkit-opacity:1;
		opacity:1;
	}
	100% { 
		-webkit-transform:scale(1);
		transform:scale(1);
		-webkit-opacity:1;
		opacity:1;
	}
 }
 @keyframes animate_beat {
	0%{ 		
		transform:scale(1.1);
		opacity:1;
	}
	10% { 
		transform:scale(0.9);
		opacity:0.8;
	}
	20% { 
		transform:scale(1.05);
		opacity:1;
	}
	25% { 
		transform:scale(1);
		opacity:1;
	}
	100% { 
		transform:scale(1);
		opacity:1;
	}
 }


/*滚动条样式*/
.nicescroll-rails{background-color:rgba(0,0,0,0.2); border-radius:5px;}

