{template 'common/header'}
<div class="main">
	<ul class="nav nav-tabs">
				<li{if $_GPC['do'] == 'buildlists'} class="active"{/if}><a href="{php echo $this->createWeburl('buildlists');}">楼盘管理</a></li>
                <li{if $_GPC['do'] == 'buildsub'} class="active"{/if}><a href="{php echo $this->createWeburl('buildsub', array('hid'=>$hid));}">子楼盘管理</a></li>

        
        </ul>
  <div class="panel panel-info">
    <div class="panel-heading">筛选</div>
    <div class="panel-body">
      <form action="./index.php" method="get" class="form-horizontal" role="form">
        <input type="hidden" name="c" value="site" />
        <input type="hidden" name="a" value="entry" />
        <input type="hidden" name="m" value="lxy_buildpro" />
        <input type="hidden" name="do" value="buildlsub" />
        <input type="hidden" name="id" value="{$id}" />
        <div class="form-group">
          <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">子楼盘名</label>
          <div class="col-xs-12 col-sm-7 col-lg-8">
            <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}">
          </div>
          <div class="col-xs-12 col-sm-2 col-lg-2">
            <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
                	<div style="padding:15px;">
    <a href="{php echo $this->createWeburl('buildsubadd', array('hid'=>$hid))}"  class="btn btn-default btn-md"><i class="fa fa-plus" ></i>新增子楼盘</a>
    <p>
  <div class="panel panel-default">
    <div class="panel-body table-responsive">
<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th width="200" style="width:200px;">子楼盘名称</th>
					<th width="200" style="width:200px;"><span style="width:100px;">子楼盘描述</span></th>
					<th width="101" style="width:100px;">显示顺序</th>

					<th width="54" style="min-width:60px;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>{$item['title']}</td>
					<td>{$item['jianjie']}</td>
					<td>{$item['sort']}</td>
					<td><a href="{php echo $this->createWebUrl('buildsubadd', array('sid' => $item['sid'],'hid'=>$hid))}" class="btn btn-default btn-sm" title="编辑"><i class="fa fa-edit"></i></a>
					<a onclick="return confirm('是否要删除该子楼盘？');return false;" href="{php echo $this->createWebUrl('delsubbuild', array('sid' => $item['sid']))}" class="btn btn-default btn-sm" title="删除"><i class="fa fa-times"></i></a></td>
				</tr>
				{/loop}
                	{$pager}
			</tbody>			
		</table>
                

	
	</div>
</div>
{template 'common/footer'}