<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
<title>置业顾问李拥政</title>
    <link rel="stylesheet" type="text/css" href="./weixin/resources/v2.1/style/style.css">
<link rel="stylesheet" type="text/css" href="./weixin/resources/v2.1/style/yb.css"></head>
<body>
<div class="ybgfu">
	<a href="#" class="guan"></a>
    <div class="bytopf2">
        <div class="con">
        	<p>二维码名片<span>TWO DIMENSIONAL CODE CARD</span></p>
        </div>
    </div>
    <div class="ybew-box">
    	<div class="ybgu">
        	<p>李拥政<span>从业资历：3年</span></p>
        	                    </div>
        <div class="yber">
        	            <p>1.长按二维码图片保存至手机</p>
            <p>2.打开微信扫一扫</p>
			<p>3.从手机相册选择二维码</p>
			<p>4.关注该置业顾问微信</p>
        </div>
        <div class="ybdh1">
        	<a href="tel:4006066969,443206"><span>4006066969转443206</span></a>
        </div>
    </div>
</div>
</body>
</html>