<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
    <title>{$house['title']}详细信息</title>
    <link rel="stylesheet" type="text/css" href="{php echo IMS_VERSION>=0.6?'../addons':'./source/modules'}/mon_house/weixin/resources/v2.1/style/style.css">
<link rel="stylesheet" type="text/css" href="{php echo IMS_VERSION>=0.6?'../addons':'./source/modules'}/mon_house/weixin/resources/v2.1/style/yb.css"></head>
<body>
<i class="sPublicArrow"></i>
<div class="sProjectIntroImg">
    <div class="text">
        <span>Project introduction</span>
        <em>项目介绍</em>
    </div>
    <div class="matte"></div>
    <img src="{php echo $this->img()}{$house['intro_img']}" alt=""></div>
<div class="swrap">
    <div class="sProjectCon">
        <p>{$house['intro']}</p>
    </div>
</div>
</body>
</html>