<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
    <title>户型篇</title>
    <link rel="stylesheet" type="text/css" href="{php echo IMS_VERSION>=0.6?'../addons':'./source/modules'}/mon_house/weixin/resources/v2.1/style/style.css">
<link rel="stylesheet" type="text/css" href="{php echo IMS_VERSION>=0.6?'../addons':'./source/modules'}/mon_house/weixin/resources/v2.1/style/yb.css"></head>
<body>
<i class="sPublicArrow"></i>
<div class="sPublicT">
    <em class="i03">户型篇</em>
    <span>Tasting Apartment</span>
    <div class="line"></div>
</div>

<div class="sHouseTypeBox">

    {loop $house_tyeps $house_type}
        <div class="sHouseType">
        <span class="roomNum">{$house_type['tname']}</span>
        <ul class="clearfix">

            {loop $this->findUnitImgs($house_type['id'])  $img}
                     <li><a href="{php echo $this->img()}{$img['img']}"><img src="{php echo $this->img()}{$img['pre_img']}"></a></li>
            {/loop}

        </ul>
    </div>
    {/loop}
        </div>
</body>
</html>