{template 'common/header'}


<!--参与粉丝/中奖名单-->
<div class="main">
{template 'list_nav'}

<style>
#myTab a{margin:5px !important;}
</style>
<form action="" method="post" class="form-horizontal" role="form" id="form1" >
<input type="hidden" name="id" value="{$list['id']}"> 
<div class="panel panel-default">	
	<div class="panel-body">
			<div class="panel panel-default">
						  <div class="panel-body">
						  <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span> 是否开启</label>
							<div class="col-sm-9 col-xs-12">
							   <label class='radio-inline' >
									<input type='radio' name="isshow" value='1' {if $list['isshow']==1}checked{/if} />是
								</label>
								<label class='radio-inline' >
									<input type='radio' name="isshow" value='0' {if $list['isshow']==0}checked{/if} /> 否
								</label>
								<div class="help-block"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">logo</label>
							<div class="col-sm-8 col-lg-9 col-xs-12">
								{php echo tpl_form_field_image('logo', $list['logo']);}
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">打赏说明</label>
							<div class="col-sm-8 col-lg-9 col-xs-12">
									<input type="text" class="form-control" name="content" value="{$list['content']}">
							</div>
						</div>
	
						<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">金额一</label>
							<div class="col-sm-8 col-lg-9 col-xs-12">
								<div class="input-group">
									
									<input type="text" class="form-control" name="one" value="{$setting['one']}">
									<div class="input-group-addon">分</div>
								</div>
								<span class="help-block">金额 必填</span>
							</div>
						</div>
	
	<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">金额二</label>
							<div class="col-sm-8 col-lg-9 col-xs-12">
								<div class="input-group">
									
									<input type="text" class="form-control" name="two" value="{$setting['two']}">
									<div class="input-group-addon">分</div>
								</div>
								<span class="help-block">金额 必填</span>
							</div>
						</div>
	
	<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">金额三</label>
							<div class="col-sm-8 col-lg-9 col-xs-12">
								<div class="input-group">
									
									<input type="text" class="form-control" name="three" value="{$setting['three']}">
									<div class="input-group-addon">分</div>
								</div>
								<span class="help-block">金额 必填</span>
							</div>
						</div>
	
	<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">金额四</label>
							<div class="col-sm-8 col-lg-9 col-xs-12">
								<div class="input-group">
									
									<input type="text" class="form-control" name="four" value="{$setting['four']}">
									<div class="input-group-addon">分</div>
								</div>
								<span class="help-block">金额 必填</span>
							</div>
						</div>
	
	<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">金额五</label>
							<div class="col-sm-8 col-lg-9 col-xs-12">
								<div class="input-group">
									
									<input type="text" class="form-control" name="five" value="{$setting['five']}">
									<div class="input-group-addon">分</div>
								</div>
								<span class="help-block">金额 必填</span>
							</div>
						</div>
	
	<div class="form-group">
							<label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 control-label">金额六</label>
							<div class="col-sm-8 col-lg-9 col-xs-12">
								<div class="input-group">
									
									<input type="text" class="form-control" name="six" value="{$setting['six']}">
									<div class="input-group-addon">分</div>
								</div>
								<span class="help-block">金额 必填</span>
							</div>
						</div>
	
						</div>
					</div>
    </div>
</div>

	<div class="form-group">
			<div class="col-sm-12">
				<input name="submit" type="submit" value="提交" class="btn btn-success" />
				<input type="hidden" name="rid" value="{$rid}" />
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
			</div>
	</div>
</form>

{template 'common/footer'}