
<!-- 顶部导航 -->
<ul class="nav nav-tabs">
	<li {if $_GPC['do']=="liveList"}class="active"{/if}><a href="{php echo $this->createWebUrl('liveList');}">直播间管理</a></li>
<li {if $_GPC['do']=="liveSetting"}class="active"{/if}><a href="{php echo $this->createWebUrl('liveSetting',array('rid' =>$rid));}">直播间设置</a></li>
<li {if $_GPC['do']=="live_menu"}class="active"{/if}><a href="{php echo $this->createWebUrl('live_menu',array('rid' =>$rid));}">直播间栏目管理</a></li>
<li {if $_GPC['do']=="live_edit" }class="active"{else}style="display:none;"{/if}><a href="{php echo $this->createWebUrl('live_edit',array('rid' =>$rid));}">直播间栏目编辑</a></li>
<li {if $_GPC['do']=="video_type_edit"}class="active"{/if}><a href="{php echo $this->createWebUrl('video_type_edit',array('rid' =>$rid));}">视频类型管理</a></li>
<li {if $_GPC['do']=="spread_adv_edit"}class="active"{/if}><a href="{php echo $this->createWebUrl('spread_adv_edit',array('rid' =>$rid));}">开屏广告</a></li>
</ul>
