body {background:#DABB82;}
#wrap {min-width: 320px; max-width: 640px; width: 100%; margin: 0 auto;overflow: hidden; }
.bgd {background: url(../images/bgd.jpg) no-repeat top;background-size: 100%;}

.topbox {display: block; position: relative; width: 100%;}
.topbox p {width: 100%; position: absolute;bottom: -32px;z-index: 100; text-align: center; color: #000000}
.logobox {display: block;position: absolute;z-index: 99; top: 0; width: 100%;}
.picbanner {display: block;margin:0 20% 10% 20%; padding-top: 25%; width: 60%;}

#slider{ max-width:390px; margin:0 auto;width:100%; }
.swipe {overflow: hidden;visibility: hidden;position: relative;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > .wrap { float:left; width:100%; position: relative;}
.wrap img{width:100%;min-height: 180px;}
#slider ol { height: 20px; position: relative; z-index: 10; margin-top: -25px; text-align: center; }
#slider li { display: inline-block; margin: 5px 0; width: 8px; height: 8px; background-color: #757575; border-radius: 8px; }
#slider  li.on { background-color: #ffffff; }

.msgbox {display: block; width: 80%;padding:3.5% 10% 2% 10%;word-break:break-all;font-size: .8rem; color: #000000; line-height: 1.3; letter-spacing: -1px; background: url(../images/msg.jpg) no-repeat top; background-size: 100%}
.linkbtn {display: block;position: relative; background: url(../images/btn.png) no-repeat; background-size: 100% 100%; padding:2% 0 5% 0; text-align: center;color: #fff; font-size: 2rem; font-weight: 700;}
.linkbtn p {-webkit-transform:skewX(5deg);transform:skewX(5deg)}
.btnwd {width: 90%; margin: 0 auto; margin-top: 5%;}
.linkbtn .earth {display: inline-block;position: absolute;right:-10%; top:-10%; width: 22%;}
.link {display: inline-block; font-size: 1.2rem; font-weight: 700; text-decoration: underline; color: #000000}
@media screen and (min-width: 640px){
.linkbtn .earth {top:-18%;}
.wrap img{width:100%;min-height: 330px;max-height:330px}
.picbanner img{width:100%;min-height: 330px;max-height:330px}
}
@media screen and (min-width: 480px) and (max-width: 640px){
.linkbtn .earth {top:-18%;}
.wrap img{width:100%;min-height: 270px;max-height:270px}
.picbanner img{width:100%;min-height: 270px;max-height:270px}
}
@media screen and (min-width: 320px) and (max-width: 480px){
.wrap img{width:100%;min-height: 185px;max-height:185px}
.picbanner img{width:100%;min-height: 185px;max-height:185px}
}
@media screen and (min-width: 120px) and (max-width: 320px){
.wrap img{width:100%;min-height: 170px;max-height:170px}
.picbanner img{width:100%;min-height: 170px;max-height:170px}
}
.ad {display: block;position: relative; min-height: 50px; line-height: 50px; text-align: center; color: #000000; font-size: 1rem;background: #fff;}
.ad img {width:100%; max-height:60px;}
.ad i {display: inline-block;position: absolute;top:5px;right:5px; z-index: 99; padding: 4%; background: url(../images/close.png) no-repeat; background-size: 100% 100%;}
.mr10 {margin-right: 10%;}
.mt2 {margin-top: -2%;}
.mt5 {margin-top: -5%;}
.fonta {font-size: 1.8rem}
.fontb {color: #333; font-size: 1.2rem; text-align: center;}
.codebox {display: block; padding:3%;margin-bottom: 3%; background: #fff;font-size: 1rem; line-height: 2.2; color: #333; text-align: center;}
.codebox .copy {display: inline-block;float: right; background: #993300;font-size: 1rem; padding: 0px 10px; color: #fff}
.ftbox {display: block;background: #fbe487; padding: 5% 0; text-align: center; font-size:1.1rem; text-decoration: underline;}
.ftbox a {color: #000000; font-weight: 700;}
/*弹出层*/
.alertbox01 {background: #ffcc63;display: block; padding:15px; width: 280px; margin: 0 auto; max-width: 580px;min-width: 260px; word-break:break-all;}
.alertbox01 h1 {text-align: center; color: #333; font-size: 2rem; margin-bottom: 5%}
.rule {display: block; max-height: 100px; overflow-x: hidden; overflow-y:scroll;}
.alertbox02 {background: #ffcc63;display: block; width: 280px; margin: 0 auto; max-width: 580px; min-width: 260px;word-break:break-all;}
.tagbar {display:block; width: 100%;}
.barfocus {display:block; float:left; width:50%; text-align:center; line-height:3; text-align:center;  background:#ffcc63 !important; font-size:1.1rem;}
.barfocus a {color: #333 !important}
#tagbar li {display:block; float:left; width:50%; text-align:center; background:#000000;}
#tagbar li a {display:block; line-height:3; color: #ffcc66; font-size: 1.1rem;}
.namelist {display: block;background: #ffdf87; padding: 5%; max-height: 200px; overflow-y: auto;overflow-x: hidden;}
.namelist tr {border-bottom: 2px solid #000000;}
.namelist td {font-size:14px; line-height:1.3;padding:2% 0;}
.signbox {display: block; margin-bottom: 3%;padding-left:5%; line-height: 2.5; color: #000000; font-size: 1rem}
.signinput {-webkit-border-radius: 5px;border-radius: 5px; line-height: 2.5; padding-left: 5px; width: 70%;}
.rulelist {display: block;background: #ffdf87; padding:0 5%; max-height: 70px; overflow-y: auto;overflow-x: hidden;}
.rulelist tr {border-bottom: 1px solid #000000;}
.rulelist td {font-size:14px; line-height:1.3;padding:2% 0;}
.po {position: relative;}

/*间距样式*/
.mg5 {margin:5%;}
.mt-5 {margin-top:5%;}
.ml-5 {margin-left:5%;}
.mr-5 {margin-right:5%;}
.mb-5 {margin-bottom:5%;}

.mg3 {margin:3%;}
.mt-3 {margin-top:3%;}
.ml-3 {margin-left:3%;}
.mr-3 {margin-right:3%;}
.mb-3 {margin-bottom:3%;}

.pd5 {padding:5%;}
.pt-5 {padding-top:5%;}
.pl-5 {padding-left:5%;}
.pr-5 {padding-right:5%;}
.pb-5 {padding-bottom:5%;}

.pd3 {padding:3%;}
.pt-3 {padding-top:3%;}
.pl-3 {padding-left:3%;}
.pr-3 {padding-right:3%;}
.pb-3 {padding-bottom:3%;}


/*场景选择*/
.scene_tit{text-align:center;font-size:24px;color:#763700;padding-top:20px;padding-bottom:20px;}
.scene_list{width:96%;overflow:hidden;margin:0 auto;}
.scene_list li{width:33.33%;height:120px;float:left;}
.scene_list li a{display:block;margin:0 auto;width:78px;height:90px;padding-top:6px;
background: -o-linear-gradient(top, #8B3502, #FDD073);
background: -moz-linear-gradient(top, #8B3502, #FDD073);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#8B3502), to(#FDD073));
-moz-box-shadow:2px 4px #AB9269; 
 -webkit-box-shadow: 2px 4px #AB9269; 
 box-shadow:2px 4px #AB9269;
}
.scene_list li a img{display:block;width:64px;height:64px;margin:0 auto;}
.scene_list li a b{display:block;text-align:center;font-size:12px;color:#333;padding-top:3px;}
/*我的宝箱*/
.my_list{width:96%;overflow:hidden;margin:0 auto;}
.my_list li{width:33.33%;height:120px;float:left;}
.my_list li a{display:block;margin:0 auto;width:78px;height:100px;padding-top:6px;}
.my_list li a img{display:block;width:78px;height:69px;margin:0 auto;}
.my_list li a b{display:block;text-align:center;font-size:14px;color:#333;padding-top:3px;}
.continue{display: block;width: 272px;height: 58px;background-image: url(../images/wa_btn.png);background-repeat: no-repeat;background-size:100% 100%;margin:0 auto;font-size:24px;color:#FFF;text-align:center;line-height:52px;font-weight:bold;letter-spacing:2px;}
/*挖宝藏*/
.com_page{width:100%;overflow:hidden;}
.page1{background-color: #F5CB53;background-image: url(../images/page1.jpg);background-repeat: no-repeat;background-position: center 0px;background-size:100%;}
.page2{;background-image: url(../images/page2.jpg);background-repeat: no-repeat;background-position: center 0px;background-size:100%;}
.page3{background-color: #4A7EBA;background-image: url(../images/page3.jpg);background-repeat: no-repeat;background-position: center 0px;background-size:100%;}
.page4{background-color: #A9BEBF;background-image: url(../images/page4.jpg);background-repeat: no-repeat;background-position: center 0px;background-size:100%;}
.page5{background-color: #000000;background-image: url(../images/page5.jpg);background-repeat: no-repeat;background-position: center 0px;background-size:100%;}
.page6{background-color: #8BB901;background-image: url(../images/page6.jpg);background-repeat: no-repeat;background-position: center 0px;background-size:100%;}

.treasure{width:90%;overflow:hidden;margin:0 auto;min-height: 300px;position:relative;}
.treasure img.bx{display:block;margin:0 auto;margin-top:150px;}
.page1 .treasure img.bx{width:148px;}
.page2 .treasure img.bx{width:210px;}
.page3 .treasure img.bx{width:148px;}
.page4 .treasure img.bx{width:148px;}
.page5 .treasure img.bx{width:148px;}
.page6 .treasure img.bx{width:148px;}


.logo{display:block;width:30px;height:26px;-webkit-border-radius: 30x;-moz-border-radius: 30px;border-radius: 30px;border:2px solid #D7962E;position:absolute;top:222px;left:50%;margin-left:-1px;background-color:#FFF;-webkit-transform:rotate(-12deg);}

.page1 .logo{top:223px;margin-left:20px;}
.page2 .logo{top:222px;margin-left:-1px;}
.page3 .logo{top:192px;margin-left:17px;}
.page4 .logo{top:192px;margin-left:17px;}
.page5 .logo{top:252px;margin-left:17px;}
.page6 .logo{top:222px;margin-left:17px;}

.treasure_tit{width:100%;min-height:100px;position:relative;}
.treasure_img{width:100%;height:124px;position:absolute;z-index:1;top:-40px;left:0;
background-image: url(../images/treasure_tit.png);background-repeat: no-repeat;background-position: center 0px;background-size:100% 100%;
}
.treasure_btn{display:block;width:190px;height:50px;margin:0 auto;text-align:center;line-height:50px;color:#FFF;font-weight:bold;font-size:24px;margin-top:2px;}
.treasure_go{width:100%;overflow:hidden;position:relative;z-index:2;padding-top:35px;text-align:center;font-size:14px;color:#333333;}
.treasure_go p{padding-bottom:4px;}
.btn2{color: #000000;font-size: 20px;text-decoration: underline;}
.success_tit{width:100%;overflow:hidden;text-align:center;font-size:16px;color:#FFF;position:relative;top:-50px;padding-bottom:10px;}



.page1 .treasure{min-height: 330px;}
.page5 .treasure{min-height: 345px;}
.page6 .treasure{min-height: 310px;}

.page3 .treasure img.bx{margin-top:120px;}
.page4 .treasure img.bx{margin-top:120px;}
.page5 .treasure img.bx{margin-top:180px;}

.page1 .success_tit{top:0px;padding-bottom:50px;}
.page3 .success_tit{top:0px;padding-bottom:50px;}
.page4 .success_tit{top:0px;padding-bottom:50px;}
.page5 .success_tit{top:0px;padding-bottom:50px;}
.page6 .success_tit{top:0px;padding-bottom:50px;}

@media screen and (min-width: 350px){ 
.page1 .treasure{min-height: 360px;}
.page2 .treasure{min-height: 350px;}
.page3 .treasure{min-height: 350px;}
.page4 .treasure{min-height: 350px;}
.page5 .treasure{min-height: 410px;}
.page6 .treasure{min-height: 350px;}
.treasure_img{height:146px;top:-50px;}
.treasure_btn{width:202px;height:54px;line-height:54px;}
.page1 .success_tit{top:0px;padding-bottom:60px;}
.page2 .success_tit{top:-50px;padding-bottom:10px;}
.page3 .success_tit{top:0px;padding-bottom:60px;}
.page4 .success_tit{top:0px;padding-bottom:60px;}
.page5 .success_tit{top:0px;padding-bottom:60px;}
.page6 .success_tit{top:0px;padding-bottom:60px;}

.page1 .treasure img.bx{margin-top:180px;}
.page2 .treasure img.bx{margin-top:180px;}
.page3 .treasure img.bx{margin-top:150px;}
.page4 .treasure img.bx{margin-top:150px;}
.page5 .treasure img.bx{margin-top:230px;}
.page6 .treasure img.bx{margin-top:180px;}

.page1 .logo{top:252px;}
.page2 .logo{top:252px;}
.page3 .logo{top:222px;}
.page4 .logo{top:222px;}
.page5 .logo{top:302px;}
.page6 .logo{top:252px;}

}
@media screen and (min-width: 400px){ 
.page1 .treasure{min-height: 400px;}
.page2 .treasure{min-height: 400px;}
.page3 .treasure{min-height: 400px;}
.page4 .treasure{min-height: 400px;}
.page5 .treasure{min-height: 440px;}
.page6 .treasure{min-height: 400px;}
.treasure_img{height:155px;top:-55px;}
.treasure_btn{width:230px;height:62px;line-height:62px;}
.page1 .success_tit{top:0px;padding-bottom:70px;}
.page2 .success_tit{top:-50px;padding-bottom:18px;}
.page3 .success_tit{top:0px;padding-bottom:70px;}
.page4 .success_tit{top:0px;padding-bottom:70px;}
.page5 .success_tit{top:0px;padding-bottom:70px;}
.page6 .success_tit{top:0px;padding-bottom:70px;}

.page1 .treasure img.bx{margin-top:200px;}
.page2 .treasure img.bx{margin-top:200px;}
.page3 .treasure img.bx{margin-top:180px;}
.page4 .treasure img.bx{margin-top:180px;}
.page5 .treasure img.bx{margin-top:240px;}
.page6 .treasure img.bx{margin-top:200px;}

.page1 .logo{top:272px;}
.page2 .logo{top:272px;}
.page3 .logo{top:252px;}
.page4 .logo{top:252px;}
.page5 .logo{top:312px;}
.page6 .logo{top:272px;}
}
@media screen and (min-width: 450px){ 
.page1 .treasure{min-height: 450px;}
.page2 .treasure{min-height: 450px;}
.page3 .treasure{min-height: 450px;}
.page4 .treasure{min-height: 450px;}
.page5 .treasure{min-height: 480px;}
.page6 .treasure{min-height: 420px;}
.treasure_img{height:174px;top:-64px;}
.treasure_tit{min-height:120px}
.treasure_btn{width:260px;height:70px;line-height:70px;}
.page1 .success_tit{top:0px;padding-bottom:70px;}
.page2 .success_tit{top:-50px;padding-bottom:30px;}
.page3 .success_tit{top:0px;padding-bottom:70px;}
.page4 .success_tit{top:0px;padding-bottom:70px;}
.page5 .success_tit{top:0px;padding-bottom:70px;}
.page6 .success_tit{top:0px;padding-bottom:70px;}

.page1 .treasure img.bx{margin-top:230px;}
.page2 .treasure img.bx{margin-top:230px;}
.page3 .treasure img.bx{margin-top:200px;}
.page4 .treasure img.bx{margin-top:200px;}
.page5 .treasure img.bx{margin-top:280px;}
.page6 .treasure img.bx{margin-top:230px;}

.page1 .logo{top:302px;}
.page2 .logo{top:302px;}
.page3 .logo{top:272px;}
.page4 .logo{top:272px;}
.page5 .logo{top:352px;}
.page6 .logo{top:302px;}
}
@media screen and (min-width: 500px){ 
.page1 .treasure{min-height: 530px;}
.page2 .treasure{min-height: 480px;}
.page3 .treasure{min-height: 480px;}
.page4 .treasure{min-height: 480px;}
.page5 .treasure{min-height: 540px;}
.page6 .treasure{min-height: 510px;}
.treasure_img{height:193px;top:-70px;}
.treasure_tit{min-height:140px}
.treasure_btn{width:290px;height:78px;line-height:78px;}
.page1 .success_tit{top:0px;padding-bottom:80px;}
.page2 .success_tit{top:-50px;padding-bottom:40px;}
.page3 .success_tit{top:0px;padding-bottom:80px;}
.page4 .success_tit{top:0px;padding-bottom:80px;}
.page5 .success_tit{top:0px;padding-bottom:80px;}
.page6 .success_tit{top:0px;padding-bottom:80px;}

.page1 .treasure img.bx{margin-top:320px;}
.page2 .treasure img.bx{margin-top:250px;}
.page3 .treasure img.bx{margin-top:220px;}
.page4 .treasure img.bx{margin-top:220px;}
.page5 .treasure img.bx{margin-top:340px;}
.page6 .treasure img.bx{margin-top:310px;}

.page1 .logo{top:393px;}
.page2 .logo{top:322px;}
.page3 .logo{top:292px;}
.page4 .logo{top:292px;}
.page5 .logo{top:412px;}
.page6 .logo{top:382px;}
}
@media screen and (min-width: 640px){ 
.page1 .treasure{min-height: 580px;}
.page2 .treasure{min-height: 580px;}
.page3 .treasure{min-height: 580px;}
.page4 .treasure{min-height: 580px;}
.page5 .treasure{min-height: 610px;}
.page6 .treasure{min-height: 580px;}
.treasure_img{height:247px;top:-80px;}
.treasure_tit{min-height:200px}
.treasure_btn{width:370px;height:100px;line-height:100px;}
.page1 .success_tit{top:5px;padding-bottom:90px;}
.page2 .success_tit{top:-50px;padding-bottom:40px;}
.page3 .success_tit{top:0px;padding-bottom:90px;}
.page4 .success_tit{top:0px;padding-bottom:90px;}
.page5 .success_tit{top:0px;padding-bottom:90px;}
.page6 .success_tit{top:0px;padding-bottom:90px;}

.page1 .treasure img.bx{margin-top:350px;}
.page2 .treasure img.bx{margin-top:350px;}
.page3 .treasure img.bx{margin-top:300px;}
.page4 .treasure img.bx{margin-top:300px;}
.page5 .treasure img.bx{margin-top:390px;}
.page6 .treasure img.bx{margin-top:350px;}

.page1 .logo{top:422px;}
.page2 .logo{top:422px;}
.page3 .logo{top:372px;}
.page4 .logo{top:372px;}
.page5 .logo{top:462px;}
.page6 .logo{top:422px;}
}

/*用户信息弹出层*/
#user_info{background: #ffcc63;display: block; padding:15px; width: 80%; margin: 0 auto; max-width: 580px;min-width: 260px; word-break:break-all;display:none;}
#help_tip{width: 80%; margin: 0 auto; max-width: 580px;min-width: 260px;display:none;}
#help_tip img{width:100%;}
#user_info h2{color:#000000;text-align:center;font-size:16px;font-weight:bold;}
#user_info ul{width:100%;overflow:hidden;}
#user_info li{width:100%;overflow:hidden;padding-top:15px;}
#user_info li label{display:block;width:25%;float:left;text-align:right;font-size:14px;color:#000000;height:40px;line-height:40px;}
#user_info li span{display:block;width:75%;float:left;}
.info_inp{height:40px;line-height:40px;background-color:#FFF;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;width:90%;padding-left:5%;}
.tj_btn{
	display: block;
	width: 200px;
	height: 43px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	line-height:35px;
	background-color:transparent;
	background-image: url(../images/btn.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
	margin:0 auto;
}



/*底部*/
.footer{width:100%;overflow:hidden;margin-top:10px;}
.radio{width: 100%;height: 35px;line-height: 35px;background-color: #FBE487;font-size: 12px;background-image: url(../images/gb.png);background-repeat: no-repeat;background-position: 5% center;background-size:20px;overflow:hidden;}
.radio span{display:block;padding-left:15%;overflow:hidden;}
.radio b{display:block;width:100%;height:35px;line-height:35px;overflow:hidden;color:#333;font-weight:normal;}
.copyright{height:35px;line-height:35px;text-align:center;color:#3D3938;font-size:12px;}

@media screen and (width: 375px){
.picbanner {margin:0 20% 14% 20%;}
.topbox p {bottom:-42px}
}
@media screen and (width: 414px){
.picbanner {margin:0 20% 19% 20%;}
.topbox p {bottom:-62px}
}