body {
  background: #efefef;
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
}

html {
  -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
  overflow: hidden;
}

div, canvas {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

canvas {
    margin: 0;
}

#OptionBar {
  position: fixed;
  z-index: 1;
  bottom:0px;
  width:100%;
  height:50px;
  display:none;
  text-align: center;
}

#OptionBar .roundBtn {
  float: left;
  width: 25%;
  line-height: 30px;
  height: 30px;
}

#OptionBar .roundBtn span{
  background-color: rgba(64,50,140,0.6);
  padding: 8px 20px;
  border-radius: 19px;
  color: #fff;
  -moz-border-radius: 25px;
}
/* musicView ********************************************/
#MusicView {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100%;
  z-index: 1;
  transition-duration: .5s;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  background-color: #efefef;
}

#MusicView .musicType,
#picsView .picType {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  z-index: 1;
  text-align: center;
  line-height: 50px;
  border-bottom: solid 1px #C4C4C4;
}

#MusicView .musicType span {
  top: 0px;
  width: 14%;
  border: solid 1px #6151b6;
  border-radius: 3px;
  padding: 2px 5px;
  color: #6151b6;
}

#MusicView .music-type-view {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#MusicView .music-type-view {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#MusicView .music-sub-view {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0px;
}

#MusicView ul.user .music-type-view .user{
    background-color: #6151b6;
    color: #fff;
}

#MusicView ul.sys .music-type-view .sys{
    background-color: #6151b6;
    color: #fff;
}

#MusicView ul.user .sys-music{
    display: none;
}

#MusicView ul.sys .user-music{
    display: none;
}

#MusicView span.sys,
#MusicView span.user {
  border: solid 1px #6151b6;
  border-radius: 3px;
  
  color: #6151b6;
  margin: 0px 7px;
}
#MusicView span.sys{
  padding: 5px 28px;
}
#MusicView span.user{
  padding: 5px 20px;
}
#addUserMusic {
    border-radius: 3px;
    padding: 5px 30px;
    background-color: #6151b6;
    color: #fff;
}

#MusicView .musicType .all .all{
  background-color: #6151b6;
  color: #fff;
}

#MusicView .musicType .sweet .sweet{
  background-color: #6151b6;
  color: #fff;
}

#MusicView .musicType .quiet .quiet{
  background-color: #6151b6;
  color: #fff;
}

#MusicView .musicType .relax .relax{
  background-color: #6151b6;
  color: #fff;
}

#MusicView .musicType .lonely .lonely{
  background-color: #6151b6;
  color: #fff;
}

#MusicView .musicType .happy .happy{
  background-color: #6151b6;
  color: #fff;
}

#MusicView ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  top: 0px;
  bottom: 50px;
  position:absolute;
  width:100%;
  overflow-y: auto;
}
#MusicView ul li {
  background-color: #efefef;
  font-size: 17px;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  min-height: 44px;
  height: 44px;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}

#MusicView ul .quiet li,
#MusicView ul .sweet li,
#MusicView ul .relax li,
#MusicView ul .lonely li,
#MusicView ul .happy li {
    display: none;
}

#MusicView ul .quiet li[class='quiet'] {
  display: block;
}

#MusicView ul .sweet li[class='sweet'] {
  display: block;
}

#MusicView ul .relax li[class='relax'] {
  display: block;
}

#MusicView ul .lonely li[class='lonely'] {
  display: block;
}

#MusicView ul .happy li[class='happy'] {
  display: block;
}

#MusicView .musicItem {
  line-height: 29px;
  padding-right: 7px;
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
  min-height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-align: center;
}

#MusicView .musicItem:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #c8c7cc;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}


#MusicView .musicItemTitle {
  font-family: STHeiTi, sans-serif;
  color: #424242;
  font-size: 14px;
  font-weight: 100;
  margin-left: 3.5%;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  max-width: 80%;
  float: left;
  text-align: left;
}
.select .musicItemTitle {
  color: #6151b6 !important;
}

.musicItemAfter span {
  float: right;
  font-size: 10px;
  color: #fff;
  margin-right: 10px;
  border: solid 1px #aaa;
  padding: 0px 10px;
  line-height: 20px;
  margin-top: 3px;
  border-radius: 13px;
  -moz-border-radius: 13px;
  background-color: #aaa;
}

.select .musicItemAfter span {
  color: #6151b6;
  border: solid 1px #6151b6;
  background-color: #efefef;
}

.lyric .musicItemAfter span {
  color:#fff;
  background-color: #6151b6;
  border: solid 1px #6151b6;
}

.musicStatus {
  width: 28px;
  height: 28px;
  background: url(/Public/Image/base/music_on.png) center center no-repeat;
  background-size: 28px;
  float: right;
}
.select .musicStatus {
  background: url(/Public/Image/base/music_off.png) center center no-repeat;
  background-size: 28px;
}
.clrBox {
  clear: both;
}
#MusicView nav,#picsView nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #eee;
  background-color: #fff;
  z-index: 2;
}

#MusicView nav a,
#MusicView nav span,
#TitleView nav a,
#TitleView nav span,
#picsView nav a,
#picsView nav span {
  display: block;
  width: 33%;
  height: 100%;
  float: left;
  line-height: 45px;
  color: #5c5c5c;
  position: relative;
  font-size: 16px;
  z-index: 2;
  text-decoration: none;
}

#MusicView #MusicCancel:before,
#TitleView #TitleCancel:before,
#picsView #PicsCancel:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: 50%;
  margin: -10px 0px 0px 0px;
  background: url(/Public/Image/base/error.png) center center no-repeat;
  background-size: 20px;
}

#MusicView #MusicSelect:before,
#TitleView #TitleSelect:before,
#picsView #PicsSelect:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin: -15px 0 0 0;
  background: url(/Public/Image/base/success.png) center center no-repeat;
  background-size: 30px;
  float: right;
}
/* music_wrap ********************************************/
.musicWrap {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

#AudioBtn {
  background-Image: url(/Public/Image/base/music.png);
  display: block;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
@-webkit-keyframes reverseRotataZ{
  0%{-webkit-transform: rotateZ(0deg);}
  100%{-webkit-transform: rotateZ(-360deg);}
}
.musicWrap .on{
  -webkit-animation: reverseRotataZ 1.2s linear infinite;
}
/* TempleView ********************************************/
#TempleView ,#TitleView, #picsView{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  top: 100%;
  z-index: 1;
  background-color: #fff;
  transition-duration: .5s;
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
}
#TempleView nav,
#TitleView nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #eee;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

#TempleView a {
  position: absolute;
  width: 100%;
  height: 50px;
}
#TempleView a:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto auto;
  background: url(/Public/Image/base/error.png) center center no-repeat;
  background-size: 20px;
}
#templeGroup,
.TitleGroup,
#picsViewGroup,
#textViewGroup {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  top:0px;
  bottom: 50px;
}

#templeGroup .templeItem,
#picsViewGroup .picsItem,
#picsViewGroup .newPicsItem{
  text-align: center;
  float: left;
  width: 30%;
  margin-top: 4%;
  /*margin-bottom: 2%;*/
  margin-left: 2.3%;
  display: block;
  position: relative;
  padding-bottom: 10px;
  border-radius: 7px;
}

#templeGroup .templeItem {
  background-color: #fff;
  box-shadow: 1px 1px 1px #CFCECE;
}

#templeGroup .templeItem img,
#picsViewGroup .picsItem .picImg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  margin-top: 7px;
}

#templeGroup .templeItem .new_temple{
  position: absolute;
  top: 0px;
  left: 7px;
  width: 55%;
  margin-top: 7px;
}
#templeGroup .templeItem .select_mb{
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  margin-top: 7px;
  left: 7px;
}

/* Picture ********************************************/
#picsViewGroup, 
#textViewGroup {
  top: 50px;
}

#picsView .picType{
  background-color:#fff;
}

#picsView .picType span {
  top: 0px;
  width: 40%;
  border: solid 1px #5F5FD7;
  border-radius: 3px;
  padding: 2px 20px;
  color: #5F5FD7;
}

#picsView .picture .picture{
  background-color: #5F5FD7;
  color: #fff;
}

#picsView .picture #picsViewGroup {
  display : block;
}
#picsView .text #picsViewGroup {
  display : none;
}

#picsView .picture #textViewGroup {
  display : none;
}
#picsView .text #textViewGroup {
  display : block;
}

#picsView .text .text{
  background-color: #5F5FD7;
  color: #fff;
}

#picsViewGroup .newPicsItem .picImg,
#picsViewGroup .picsItem .picImg{
  overflow: hidden;
  height: 150px;
  width: 100%;
  margin-top: 0px;
}

#uploadForm{
  top: 100%;
  position: absolute;
}

#picsViewGroup .newPicsItem .picImg img,
#picsViewGroup .picsItem .picImg img {
  border-radius: 7px;
  height: 100%;
  width: 100%;
}

#picsViewGroup .picsItem .delImg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
}

#picsViewGroup .picsItem .rotateImg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  position: absolute;
  bottom: 5px;
  right: -5px;
}

#picsViewGroup .select:after{
  content: '封面';
  width: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 14px;
  background-color: #6FB1FF;
  border-radius: 25px;
  height: 50px;
  top: 50%;
  left: 50%;
  opacity: 0.9;
  position: absolute;
  margin-top: -25px;
  margin-left: 20px;
  pointer-events: none;
}

#MusicList .musicItemTitle .lyricMusic{
  top: 0px;
  width: 14%;
  border-radius: 5px;
  padding: 1px 8px;
  background-color: #6151b6;
  color: #fff;
}

#CoverTip {
  position: absolute;
  top: 50px;
  margin-top: 55%;
  margin-left: 20%;
  width: 60%;
}

@-webkit-keyframes fadeInOut {
  0% {opacity: 0;}
  20% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeInOut {
  0% {opacity: 0;}
  20% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}
.coverTipInOut img{
  position: absolute;
  top: 5px;
  left: 0%;
  pointer-events: none;
  width: 100%;
  opacity:0;
  -webkit-animation: fadeInOut 7s forwards 1s;
}

#textViewGroup ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  width:100%;
  overflow-y: auto;
}

#textViewGroup ul li {
  font-size: 17px;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  min-height: 44px;
  height: 44px;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}

#textViewGroup .textItem {
  line-height: 29px;
  position: relative;
  width: 100%;
  padding: 8px;
  margin: 0px;
  min-height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-align: center;
}

#textViewGroup .textItem .del{
  background-color: #5F5FD7;
  color: #fff;
  border-radius: 3px;
  padding: 1px 10px;
  position: absolute;
  right: 15px;
  line-height: 25px;
}

#textViewGroup .textItem .tip{
  color: #6151b6;
  top: 0px;
  padding: 2px 10px;
}

#textViewGroup .textItem .text {
  padding: 0px 10px;
  overflow: hidden;
  margin: 0px;
  left: 72px;
  position: absolute;
  right: 82px;
  top: 7px;
  bottom: 7px;
  border: solid 1px #6151b6;
  background-color: #fff;
  text-overflow:ellipsis;
  white-space: nowrap;
  color: #000;
}

 .add{
  line-height: 29px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
  min-height: 44px;
  display: block;
  text-align: center;
}

 .add div{
  background-color: #5F5FD7;
  color: #fff;
  padding: 4px 10px;
  border-radius: 5px;
}

#TextContainer {
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  z-index:10;
}
#TextContainer .dialog {
  padding: 3px; 
  top: 50%;
  margin-top: -75px;
  width: 270px;
  left: 50%;
  margin-left: -135px;
  background-color: white;
  position: absolute;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
}
#TextContainer #textZone {
  height: 100px;
}
#TextContainer textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ebeced;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  outline: 0;
  resize: none;
  font-size: 16px;
  display: block;
}
#TextContainer .textCount{
  background-color: #ebeced;
  text-align: right;
}
#TextContainer .cancel {
  height: 35px;
  width: 50%;
  background: url(/Public/Image/base/error.png) center center no-repeat;
  background-size: 20px;
  float: left;
  border-right: 1px solid #c4c4c4;
  margin-left: -1px;
}
#TextContainer .sure {
  height: 35px;
  width: 50%;
  background: url(/Public/Image/base/success.png) center center no-repeat;
  background-size: 26px;
  float: right;
}
/* titleBar ********************************************/
#TitleView {
  height: 250px;
}

#TitleView  form {
  background-color: #fff;
}

.TitleGroup label {
  width: 100%;
  line-height: 40px;
  height: 40px;
  display: block;
  vertical-align: middle;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #6f57c7;
  margin-bottom: 15px;
}

.TitleGroup textarea {
    margin: 0px 2.5%;    
    padding: 2.5%;
    border: 0;
    background-color: #ebeced;
    width: 90%;    
    height: 80px;
    -webkit-appearance: none;    
    outline: 0;    
    resize: none;
    font-size: 16px;
    display: block;
}

.shareHint {
  position: fixed;
  display: none;
  top:0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: url(/Public/Image/base/share_hint.png);
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-color: rgba(0,0,0,0.8);
}

/* freeEdit ********************************************/
@-webkit-keyframes swing {
  16% {-webkit-transform: rotate3d(0, 0, 1, 10deg); transform: rotate3d(0, 0, 1, 15deg); }
  32% {-webkit-transform: rotate3d(0, 0, 1, -10deg); transform: rotate3d(0, 0, 1, -10deg); }
  48% {-webkit-transform: rotate3d(0, 0, 1, 5deg); transform: rotate3d(0, 0, 1, 5deg); }
  64% {-webkit-transform: rotate3d(0, 0, 1, -5deg); transform: rotate3d(0, 0, 1, -5deg); }
  80% {-webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); }
  100% {-webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); }
}

@keyframes swing {
  16% {-webkit-transform: rotate3d(0, 0, 1, 10deg); transform: rotate3d(0, 0, 1, 15deg); }
  32% {-webkit-transform: rotate3d(0, 0, 1, -10deg); transform: rotate3d(0, 0, 1, -10deg); }
  48% {-webkit-transform: rotate3d(0, 0, 1, 5deg); transform: rotate3d(0, 0, 1, 5deg); }
  64% {-webkit-transform: rotate3d(0, 0, 1, -5deg); transform: rotate3d(0, 0, 1, -5deg); }
  80% {-webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); }
  100% {-webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); }
}

.freeEdit{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.freeEdit .text1,
.freeEdit .text2 {
  width: 100%;
  text-align: center;
}
.freeEdit .text1 img{
  animation:swing 2.3s infinite;
  -webkit-animation:swing 2.3s infinite; /* Safari 鍜�Chrome */
  width: 35%;
  max-width: 150px;
}
.freeEdit .text2 img{
  width: 30%;
}

/* loading ********************************************/
.progress{
    display:none;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    width:100%;
    height:100%;
}
#saveOverlay_Print{
	display:none;
}
.spinner{
    top: 40%;
    margin: -15px auto 0;
    width: 100%;
    height: 30px;
    font-size: 10px;
    position: absolute;
    text-align: center;
    color: #fff;
    line-height: 1.2;
}

.spinner .rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.spinner>div {
    background-color: #ddd;
    height: 100%;
    width: 4px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

@-webkit-keyframes stretchdelay {
    0%,100%,40% {
        -webkit-transform: scaleY(.4)
    }

    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes stretchdelay {
    0%,100%,40% {
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4)
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}

#saveDescript {
  top: 50%;
  width: 100%;
  height: 30px;
  font-size: 20px;
  position: absolute;
}
#saveDescript_Print{
  top: 50%;
  width: 100%;
  height: 30px;
  font-size: 20px;
  position: absolute;
}
/* QR code ********************************************/
.qrcode-info {
  width: 170px;
  background-color: #FFFFFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  top: 0px;
  left: 50%;
  margin-left: 230px;
  position: fixed;
  text-align: center;
}

.shop-detail {
  width: 150px;
  padding-left: 10px;
  border-bottom: 1px #CCCCCC dashed;
  line-height: 25px;
}

.weixin-title {
  font-size: 12px;
  width: 160px;
  line-height: 25px;
}

.qr-code img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* lyric Player *************************************/
.lyricBar {
  position: absolute;
  bottom: 70px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  z-index: 1;
}
.lyricBar ul {
  list-style-type: none;
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.lyricBar span{
  white-space:nowrap;
  height: 25px;
  line-height:25px;
  position:relative;
  bottom: 0px;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0,0,0,.8);
}
.lyricBar .lyricMask{
  text-align: left;
  overflow: hidden;
  position: absolute;
  left: 0px;
  width: 0%;
  top:-1px;
  color: #6d55fe;
  text-shadow: 0 2px 1px #fff;
}

@-webkit-keyframes StretchleftIn0 {
    0% {width: 0%;}
    90% {width: 100%;}
    100% {width: 100%;}
}
@keyframes StretchleftIn0 {
    0% {width: 0%;}
    90% {width: 100%;}
    100% {width: 100%;}
}

@-webkit-keyframes StretchleftIn1 {
    0% {width: 0%;}
    90% {width: 100%;}
    100% {width: 100%;}
}
@keyframes StretchleftIn1 {
    0% {width: 0%;}
    90% {width: 100%;}
    100% {width: 100%;}
}

/* text View ************/
#TextView {
  width: 100%;
  position: absolute;
  overflow:hidden;
  top:0px;
  left:0px;
  bottom:0px;
  z-index: 1;
}

/* user protocol ************/
.userProtocol{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  z-index:10;
}
.dialogContainer {
  background-color: white;
  color: #333;
  font-size: 20px;
  height: 175px;
  left: 15px;
  line-height: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 11000;
}
.dialogProtocol {
  color: #666;
  width: 100%;
  height: 240%;
  top: 0;
  background: #f9f9f9;
  z-index: 10;
  padding: 40px 10px 10px;
  position: absolute;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.2;
}
.dialogProtocol div:nth-child(1) {
  line-height: 40px;
  font-size: 16px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  color: #666;
}
.agreementClose {
  width: 22px;
  height: 22px;
  display: block;
  background: #cfcfcf;
  border-radius: 50%;
  right: 9px;
  top: 9px;
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
}
.agreementClose:before {
  display: block;
  top: 7px;
  -webkit-transform-origin: right;
  -webkit-transform: rotate(-45deg);
  width: 10px;
  height: 1px;
  background: #4a4a4a;
  left: 5px;
  position: absolute;
  content: "";
}
.agreementClose:after {
  display: block;
  top: 14px;
  -webkit-transform-origin: right;
  -webkit-transform: rotate(45deg);
  width: 10px;
  height: 1px;
  background: #4a4a4a;
  left: 5px;
  position: absolute;
  content: "";
}
.dialogProtocol div:nth-child(3) {
  height: 100%;
  background: #fff;
  font-size: 14px;
  padding: 5px;
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: auto;
  box-sizing: border-box;
  color: #666;
  line-height: 1.2;
}
.imgsr{
	height:100%;
}


/* print CSS********************************************/
#printDialog{
  position: absolute;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  top: 0px;
}
.printDialog_box{
	width: 90%;
    height: 70%;
    background: white;
    position: relative;
    left: 5%;
    top: 15%;
    margin: 0px;
    display: block;
    border-radius: 4px;
    overflow: hidden;
}
#printCancel{
  position: relative;
  width: 100%;
  height: 35px;
  background: rgba(0,0,0,0.3);
}
#printCancel .cancel{
  position: absolute;
  right: 3px;
  top: 3px;
}
#printCancel .cancel .weui_icon_clear2:before{
  color:rgba(0,0,0,0.3);
}
.success_icon{
	width:100%;
	padding-top:20px;
	padding-bottom:10px;
	text-align: center;
}
.success_msg{
	text-align:center;
	font-size:14px;
	margin-bottom:30px;
	color: rgb(85, 92, 92);
}
.success_icon .success_icon_box:before{
	font-size:80px;
}
#printCancel img{
  width:100%;
  height:100%;
}

#printDialog .printShareBtn{
  float: left;
  display: block;
  margin-left: 6%;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 2.33333333;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;
  background:#04be02;
  width:41%;
}

#printDialog .printReturnEdit{
  float: left;
  width:41%;
  display: block;
  margin-left: 6%;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 2.33333333;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;
  background:#e7c645;

}
#printDialog .printShareBtn img{
  width:100%;
  height:100%;
}
.weui_icon_clear2:before{
  font-size:26px;
}
.weui_icon_clear3:before{
  font-size:18px;
}
.printDialog_box .content{
	  position: absolute;
	  bottom: 7%;
	  text-align: center;
	  width: 100%;
	  font-size: 14px;
	  color: rgb(85, 92, 92);
}

/***userMusic CSS**/
.userMusicDel{
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 75%;
  margin-top: 3px;
  padding: 0px;
  position: absolute;
}
.userMusicDel img{
  width:100%;
  height:100%;
}

#userMusicConfirm{
  position: absolute;
  width:80%;
  height:145px;
  border:1px solid #999;
  left:10%;
  top:50%;
  margin-top:-80px;
  z-index:3;
  background: #ffffff;
  display: none;
}
#userMusicConfirm .content{
  text-align: center;
  width:100%;
  line-height: 80px;
}
#userMusicConfirm #cancel,#userMusicConfirm #ok{
  position: absolute;
  bottom: 15px;
  width:70px;
  height:35px;
  text-align: center;
  color: white;
  font-size:1.4rem;
  border-radius: 2px;

}
#userMusicConfirm #cancel{
  background: #aaa;
  left:10%;
}
#userMusicConfirm #ok{

  background: #6151b6;
  right:10%;
}
#MusicView .userMusicItem {
  line-height: 29px;
  padding-right: 7px;
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
  min-height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-align: center;
}
#MusicView .userMusicItem:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #c8c7cc;
  display: block;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.userMusicLi{
	display:none;
}


.noUserMusic{
	position:absolute;
	width:100%;
	height:100%;
	background:#efefef;
	z-index:1;
	top:0px;
	overflow:hidden;
}
.noUserMusicPic{
	width:60%;
	margin-top:30%;
	margin-left:20%;
}
.noUserMusicPic img{
	width:100%;
}


/************************************/
.newPicsItem{
    margin-left: 0 !important;
    width: 100% !important;
}
.picture .add-pic-btn {
    display: block;
}
.picture .add {
    display: none;
}
.text .add-pic-btn {
    display: none;
}
.text .add {
    display: block;
}
.picsItem{
    display: inline-block !important; 
    width: 80% !important;
    margin-top: 0 !important;
    margin-left: 15% !important;
    /*border: solid 1px #7a7884;*/
    /*margin-top: 5% !important;*/
    padding-bottom: 0 !important;
}
.add-pic-btn{
    line-height: 29px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 7px;
    min-height: 44px;
    display: block;
    text-align: center;
}
.add-pic-btn div{
    background-color: #5F5FD7;
    color: #fff;
    padding: 4px 10px;
    border-radius: 5px;
}


.xc-select-img-div{
    width: 90px !important;
    height: 90px !important;
    float: left;
}

.xc-btn-right-div{
    width: -webkit-calc(100% - 40%);
    height: 100px !important;
    float: right;
    border-bottom: 1px solid #F4F4F4;
    color: #9B9B9B;
    font-size: 12px;
}

.xc-btn-right-div>div{
    margin-top: 15px;
}

.xc-btn-right-div>div>span{
    display: inline-block;
    width: 50% !important;
}

.rotateImg,.delImg{
    position: relative !important;
    top: 0;
    left: 0;
}

.xc-img-order-span{
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    background-color: #6FB1FF;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    margin-top: 35px;
    margin-left: -14%;
}

#picsViewGroup .select:after{
    top: 20px !important;
    left: 0 !important;
    margin-top: 0 !important;
    /*margin-left: -145px !important;*/
}

#picsViewGroup>.picsItem:last-of-type{
    margin-bottom: 10px !important;
}
#picsViewGroup>.picsItem:last-of-type>.xc-btn-right-div>div>.xc-moveToNex-btn>span{
    background-color: #a5a0a0;
}

#picsViewGroup>.picsItem:nth-of-type(2)>.xc-btn-right-div>div>.xc-moveToPre-btn>span{
    background-color: #a5a0a0 !important;
}

.picsItem{
    height: 100px;
    float: none !important;
    clear: both;
}

#picsViewGroup{
    position: absolute !important;
    top: 50px;
}

.sortableitem{
    -webkit-transition: all .5s ease;
}

.move-btn-style{
    /*display: inline-block;
    width: 50%;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    background-color: #6151b6;
    padding: 4px 0;*/
    width: 25%;
    vertical-align: middle;
    padding-right: 10px;
}

.xc-moveToPre-btn .move-btn-style, .xc-moveToNex-btn .move-btn-style{
  width: 30%;
}

#picsViewGroup .newPicsItem .picImg img, #picsViewGroup .picsItem .picImg img{
    border-radius: 8px!important;
}

.picImg{
  background-color: #f1f1f1;
  border-radius: 8px!important;
}

#picsViewGroup .picsItem .delImg{
    top: 0 !important;
}

.ban-move-note-div{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -15px;
    /*width: 70px;*/
    height: 30px;
    font-size: 16px;
    background-color: wheat;
    background-color: #5f5fd7;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    padding: 0 5px;
    transition: all .5s ease;
}

/**ipad 适配***************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
  .picsItem {
    height: 140px;
    float: none !important;
    clear: both;
  }

  .picImg{
    border-radius: 8px!important;
    background-color: #f1f1f1;
    margin-top: 25px !important; 
  }

  .xc-btn-right-div {
    width: -webkit-calc(100% - 40%);
    height: 140px !important;
    float: right;
    border-bottom: 1px solid #F4F4F4;
    color: #9B9B9B;
  }

  #picsViewGroup .select:after {
    top: 45px !important;
    left: 0 !important;
    margin-top: 0 !important;
  }

  .xc-img-order-span {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    background-color: #6FB1FF;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    margin-top: 60px;
    margin-left: -14%;
  }
}