body {
	width:700px;
	padding:5px 15px;
	font-size: 12px;
}

p {
	margin: 0;
	padding: 0;
}

h2{
	font-size: 22px;
}

.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: "";
}

.demo_xlist {
	border: 1px solid #dedede;
}

.demo_xlist .item {
	border-bottom: 1px solid #dedede;
	padding: 10px;
}

.demo_xlist .xload {
	text-align: center;
	padding: 10px;
	cursor: pointer;
}

.demo_xlist .xload:hover {
	background: #eee;
}

.demo_xlist .xnodata {
	padding: 20px;
}

.demo_xbody {
	padding: 20px;
}

.demo_xlist .item2 {
	border-bottom: 1px solid #dedede;
	padding: 10px;
}

.demo_xlist .item2 img {
	width: 100px;
	height: 80px;
	margin-right: 10px;
	float: left;
}

.demo_xlist .item2 span {
	font-size: 18px;
	font-weight: 700;
	color: #676a6c;
}

.demo_xlist .item2 p {
	padding-top: 10px;
	color: #c40;
	font-size: 24px;
}

.xform{
	width:680px;
	margin-top: 10px;
	padding: 20px 15px;
	border:1px solid #ddd;
    border-radius: 4px;
}