.xtemplate,.xtemplate_son,.xload,.xnodata,.xfile{display:none;}
/**
 *xbtn
 */
.xbtn{display:inline-block;margin-bottom:0;padding:6px 12px;border:1px solid #09c;background-color:#09c;background-image:none;color:#fff;vertical-align:middle;text-align:center;white-space:nowrap;font-weight:400;font-size:14px;line-height:1.43;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.xbtn.active,.xbtn:active,.xbtn:focus,.xbtn:hover{background-color:#28b5d6;}
.xbtn.xgray{border-color:#ddd;background-color:#f6f6f6;color:#333;}
.xbtn.xgreen{border-color:#44b549;background-color:#44b549;color:#fff;}
.xbtn.xbluish{border-color:#21b9bb;background-color:#21b9bb;color:#fff;}
.xbtn.xyellow{border-color:#ec971f;background-color:#ec971f;color:#fff;}
.xbtn.xred{border-color:#c9302c;background-color:#c9302c;color:#fff;}
.xbtn.xblue{border-color:#09c;background-color:#09c;color:#fff;}
.xbtn.xgray:hover{background-color:#fff;}
.xbtn.xgreen:hover{background-color:#4AC550;}
.xbtn.xbluish:hover{background-color:#24D0D2;}
.xbtn.xyellow:hover{background-color:#f0ad4e;}
.xbtn.xred:hover{background-color:#d9534f;}
.xbtn.xred:hover{background-color:#d9534f;}
.xloading{padding-right:8px;padding-left:36px;border-color:#bbb;background:url(img/xbtn_loading.gif) no-repeat #bbb left center;background-position:4px;color:#fff;}
.xloading:hover{background-color:#bbb;}
/**
 * xtable
 */
.xtemplate{display:none;}
.center{text-align:center;}
.xtable{width:100%;border:1px solid #e7e7eb;border-collapse:collapse;background:#fff;font-size:13px;border-spacing:0;}
.xtable a{color:#428bca;text-decoration:none;cursor:pointer;}
.xtable a:hover,.xtable a:focus{color:#2a6496;text-decoration:none;}
.xtable a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.xtable table{width:100%;border-collapse: collapse;border-spacing: 0;}
.xtable .xbody{overflow-y:auto;}
.xtable .xhead tr{background:#f2f2f2;background-image:-webkit-gradient(linear,left 0,left 100%,from(#f8f8f8),to(#ececec));background-image:-webkit-linear-gradient(top,#f8f8f8,0,#ececec,100%);background-image:-moz-linear-gradient(top,#f8f8f8 0,#ececec 100%);background-image:linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);background-repeat:repeat-x;color:#707070;font-weight:normal;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffececec',GradientType=0);}
.xtable th,.xtable td{overflow:hidden;margin:0;padding:8px;border-bottom:1px solid #e7e7eb;vertical-align:top;line-height:22px;word-break:break-all;border-left:1px solid #ddd;}
.xtable th{background-color:#f4f5f9;font-weight:normal;color:#888;}
.xtable th:first-child,.xtable td:first-child{border-left:0;}
.xtable td{color:#555;}
.xtable tr:hover td{background-color:#f9f9f9;}
.xtable .tl{text-align:left;}
.xtable .tc{text-align:center;}
.xtable .tr{text-align:right;}
.xtable .ck{width:15px;text-align:right;}
/**
 * xpaging
 */
.xpaging{padding-top:20px;text-align:right;font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;}
.xpaging span{color:#666;font-size:14px;line-height:14px;}
.xpaging .total{padding-right:15px;}
.xpaging .page{padding-right:10px;padding-left:10px;}
.xpaging .go{padding-left:15px;}
.xpaging .xbtn{padding:0 11px;height:28px;border-radius:3px;border:1px solid #e6e7ec;line-height:30px;background:#fff;}
.xpaging .xbtn:hover{background:#f4f5f9;color:#555;}
.xpaging .xbtn i{display:inline-block;width:0;height:0;border-top:6px solid transparent;border-bottom:6px solid transparent;content:"";vertical-align:left;}
.xpaging .xfirst i{border-right:6px solid #919191;}
.xpaging .xfirst span{display:inline-block;height:12px;border-left:1px solid #919191;}
.xpaging .xprev i{border-right:6px solid #919191;}
.xpaging .xnext i{border-left:6px solid #919191;}
.xpaging .xlast i{border-left:6px solid #919191;}
.xpaging .xlast span{display:inline-block;height:12px;border-right:1px solid #919191;}
.xpage{margin-right:4px;padding:4px 0;width:70px;height:20px;outline:0;border:1px solid #e7e7eb;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;vertical-align:middle;text-align:center;font-size:14px;line-height:20px;}
/**
 *xtabs
 */
.xtabs {border:1px solid #dedede;}
.xtabs .tabs_head{border-bottom:1px solid #dedede;}
.xtabs .tabs_head:after{clear:both;display:block;visibility:hidden;height:0;content:"";}
.xtabs .tabs_title{float:left;margin-bottom:-1px;padding:10px 22px;border-right:1px solid #dedede;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
.xtabs .tabs_title:hover{background:#eee;}
.xtabs .tabs_title.selected{border-bottom:1px solid #fff;}
.xtabs .tabs_title.selected:hover{background:none;}
.xtabs .tabs_panel{display:none;padding:10px;border-top:none;}
/**
 *xwindow
 */
.xwindow {position:fixed;top:0;left:0;z-index:10000;display:none;width:100%;height:100%;}
.xwindow .cover{position:fixed;top:0;left:0;z-index:9998;width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=50);}
.xwindow .xbox{position:fixed;top:50%;left:50%;z-index:9999;border:1px solid #666;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background:#fff;  opacity: 1;}
.xwindow .xbox .title{padding:10px;border-bottom:1px solid #ddd;color:#666;}
.xwindow .topbar{border-top:1px solid #ddd;padding:10px;text-align:right}
.xwindow .bottombar{position:absolute;left:0;right:0;bottom:0;border-top:1px solid #ddd;padding:8px 10px;text-align:right}
.xwindow .submit{margin-left:5px;color:#fff;padding:6px 12px;border-radius:3px;}
.xwindow .close{margin-left:5px;color:#666;background: #fff;border: 1px solid #ddd;padding:6px 12px;border-radius:3px;}
.xwindow .close:hover{border: 1px solid #bbb;}
.xwindow .xtable{border-top:0;border-left:0;border-right:0;}
.xwindow .xpaging {padding-top:5px;padding-right:10px;}
/**
 * xaccordion
 */
.xaccordion{overflow-y:auto;}
.xaccordion ul{margin:0;padding:0;list-style:none;}
.xaccordion .xparent{cursor:pointer;}
.xaccordion .parent{display:block;padding:10px;border-top:1px solid #fff;background:#09c;color:#fff;}
.xaccordion .parent:hover{background:#28b5d6;}
.xaccordion .xson{display:none;overflow:hidden;}
.xaccordion .son{display:block;padding:10px 10px;border-top:1px solid #fff;border-bottom:1px solid #E7E7EB;background:#F4F5F9;color:#6e6e6e;text-decoration:none;}
.xaccordion .son:hover{background:#FeFeFe;}
/**
 * xcombo
 */
.xcombo{position:relative;border:1px solid #ddd;font-size:12px;color:#555;cursor:pointer;}
.xcombo .xtext{position:absolute;overflow:hidden;padding:8px 0 0 7px;white-space:nowrap;}
.xcombo .xshow{position:absolute;top:45%;right:10px;display: inline-block;width:0;height:0;border-left: 6px solid transparent;border-right: 6px solid transparent;content:"";border-top: 6px solid #919191;}
.xcombo ul{position:absolute;top:100%;left:-1px;z-index:99999;display:none;overflow:hidden;margin:0;padding:0;border:solid 1px #CCC;background-color:#FFF;list-style:none;cursor:pointer;}
.xcombo ul li{display:block;padding-left:5px;line-height:30px;border-bottom:solid 1px #ECECEC;background-color:#FFF;text-decoration:none;}
.xcombo ul li:last-child{border-bottom:none}
.xcombo ul li.selected{background:#ECECEC;}
.xcombo ul li:hover{border-bottom:solid 1px #09c;background:#09c;color:#fff;}
/**
 * xalert
 */
.xcover{position:fixed;top:0;left:0;z-index:99998;display:none;width:100%;height:100%;background:rgba(0,0,0,.6);filter:alpha(opacity=50);}
.xalert{position:fixed;top:50%;left:50%;z-index:99999;display:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#fff;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.xalert .title{padding-top:16px;text-align:center;font-size:16px;}
.xalert .content{padding:17px 20px 20px 20px;color:#999;text-align:center;font-size:14px;}
.xalert .buttons{border-top:1px solid #ddd;color:#09c;text-align:center;line-height:36px;cursor:pointer;font-size: 16px;}
.xalert .ok{margin-left:50%;width:50%;}
.xalert .no{float:left;width:50%;border-right:1px solid #ddd;color:#333;}
/**
 * xform
 */
.xform .xgroup{margin-bottom:10px;}
.xform .xgroup:after{clear:both;display:block;visibility:hidden;height:0;content:"";}
.xform .g1{float:left;margin:0;padding-top:6px;padding-right:20px;width:100px;color:#333;text-align:right;font-size:14px;line-height:18px;}
.xform .g1 i,.xform label i{margin-left:5px;color:#f40;font-style:normal;}
.xform .g2{float:left;width:auto;vertical-align:top;}
.xform .g2 input{margin-bottom:0;}
.xform .textarea:focus,.xform input:focus{outline:0;border-color:#66afe9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(102,175,233,.6);}
.xform .error{color:#f40;font-size:14px;margin:5px 0 0 0;}
.xform .xbar{padding-left:120px;}
.xinput,.xform input[type=email],.xform input[type=url],.xform input[type=search],.xform input[type=tel],.xform input[type=color],.xform input[type=text],.xform input[type=password],.xform input[type=datetime],.xform input[type=datetime-local],.xform input[type=date],.xform input[type=month],.xform input[type=time],.xform input[type=week],.xform input[type=number],.xform textarea{display:inline-block;padding:5px;width:200px;outline:0;border:1px solid #ddd;background-color:#fff;color:#555;font-size:14px;line-height:18px;}
 .xform label{display:block;margin-top:10px;margin-bottom:5px;font-size:14px;}
.xform textarea{resize:none;}
.xform input.xw1{width:40px;}
.xform input.xw2{width:120px;}
.xform input.xw3{width:200px;}
.xform input.xw4{width:280px;}
.xform input.xw5{width:360px;}
.xform input.xw6{width:440px;}
.xform input.xw7{width:520px;}
.xform input.xw8{width:640px;}
.xform input.xw9{width:720px;}
.xform input.xw10{width:800px;}
.xform input.xw11{width:880px;}
.xform input.xw12{width:960px;}
.xform input:focus{border-color:#09c;outline:0;-webkit-box-shadow:none;box-shadow:none}
/**
 * xupload
 */
.xupload .xbtn{padding:4px 22px;background: #fff;border-color: #ddd;color: #222;}
.xupload .xbtn:hover{background-color:#e7e7e7;}
.xupload .xbox{display:none;padding-top:10px;}
.xupload .xdel{cursor:pointer;color:#459ae9;margin-left:5px;font-size:14px;}
/**
 * xdate
 */
.xdate{background:url(img/xdate.png) no-repeat right;}
.xdate_box{min-width:210px;border:1px solid #ccc;background-color:#fff;font-size:12px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
.xdate_box table{width:100%;border-collapse:collapse;text-align:center;border-spacing:0;}
.xdate_box thead{border-bottom:1px solid #dadada;}
.xdate_box th{height:22px;font-weight:400;line-height:22px;}
.xdate_box td{height:20px;line-height:20px;cursor:pointer;}
.xdate_box td:hover{background:#ddd;}
.xdate_box .xdate_ths{background:#bebebe;color:#fff}
.xdate_box .xdate_other{color:#bbb;}
.xdate_box .xdate_ym{position:relative;border-bottom:1px solid #dadada;background:#f4f5f9;color:#888;text-align:center;}
.xdate_box .xdate_ym span{display:inline-block;margin:5px 0;padding:0 6px;height:24px;font-size:14px;line-height:24px;cursor:pointer;}
.xdate_box .xdate_ym span:hover{background:#ddd;}
.xdate_box .xdate_ym a{display:inline-block;width:100%;height:18px;}
.xdate_box .xdate_ym a:hover{background:#ddd;cursor:pointer;}
.xdate_box i{display:inline-block;width:0;height:0;border-color:transparent;border-style:dashed;border-width:5px;content:"";vertical-align:left;}
.xdate_box .prev_m i,.xdate_box .prev_y i{border-right-color:#888;}
.xdate_box .next_m i,.xdate_box .next_y i{border-left-color:#888;}
.xdate_box .xdate_y{width:46px;}
.xdate_box .xdate_m{width:36px;}
.xdate_box .more_m,.xdate_box .more_y{position:absolute;display:none;width:50%;border:1px solid #ccc;border-left:none;background:#f4f5f9;color:#888;}
.xdate_box .more_m ul,.xdate_box .more_y ul{margin:0;padding:0;}
.xdate_box .more_m li,.xdate_box .more_y li{float:left;width:50%;height:20px;list-style:none;line-height:20px;cursor:pointer;}
.xdate_box .more_m li:hover,.xdate_box .more_y li:hover{background:#ddd;}
.xdate_box .more_m{right:0;border:1px solid #ccc;border-right:none;}
.xdate_box .more_m li{height:26px;line-height:26px;}
.xdate_box .prev_ys i{line-height:20px;border-bottom-color:#888;}
.xdate_box .next_ys i{line-height:20px;border-top-color:#888;}
.xdate_box .xdate_bar{margin:5px;}
.xdate_box .xdate_bar:after{clear:both;display:block;visibility:hidden;height:0;content:"";}
.xdate_box .xdate_time{display:none;float:left;margin-right:5px;padding:0 4px;border:1px solid #ccc;}
.xdate_box .xdate_time span{display:inline-block;padding:4px;cursor:pointer;}
.xdate_box .xdate_btns{float:right;border:1px solid #ccc;border-right:none;}
.xdate_box .xdate_btns span{display:inline-block;padding:4px 6px;border-right:1px solid #ccc;cursor:pointer;}
.xdate_box .xdate_btns span:hover{background:#ddd;}
.xdate_box .more_time{position:absolute;bottom:34px;left:0;display:none;width:100%;height:160px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#fff;}
.xdate_box .more_time b{position:absolute;top:0;right:0;width:23px;height:23px;text-align:center;font-weight:400;line-height:23px;cursor:pointer;}
.xdate_box .more_time b:hover{font-size:14px;}
.xdate_box .more_time .more_title{height:23px;border-bottom:1px solid #ccc;text-align:center;line-height:23px;}
.xdate_box .more_time .more_hms{padding:6px 0;}
.xdate_box .more_time span{float:left;display:block;width:10%;height:20px;text-align:center;line-height:20px;cursor:pointer;}
.xdate_box .more_time span:hover{background:#ddd;}
.xdate_box .more_time .more_hms:after,.xdate_box .xdate_bar:after{clear:both;display:block;visibility:hidden;height:0;content:"";}
 
/**
 * xslider
 */
.xslider{position: relative;overflow: hidden;width:100%;}
.xslider .xbox{position: relative;display:none;}
.xslider .xbox:after{clear:both;display:block;visibility:hidden;height:0;content:"";}
.xslider .xitem{position: relative;overflow: hidden;float: left;font-size:0;}
.xslider .xitem img{width: 100%;border:none;}
.xslider .xtitle {display:inline;position:absolute;z-index:1;left:0;bottom:0;background: rgba(0, 0, 0, 0.5);width:100%;height: 30px;line-height:30px;}
.xslider .xtitle span{font-size:12px;padding-left:10px;color:#FFFFFF;}
.xslider .xpoint{position: absolute;z-index:2;right:0;bottom:0;height: 30px;line-height:30px;margin: 0 10px;}
.xslider .xpoint span{width: 10px;height: 10px;margin: 10px 6px;float:left;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;background: #919191;cursor: pointer;}
.xslider .xpoint span.selected{background: #fff;}


 
/**
 * msg_win
 */
.msg_win{position:fixed;left:0; z-index:10000; width:100%;text-align:center;font-size: 14px; line-height: 1.6; }
.error_box{display: inline-block;padding:4px 30px;min-width:280px; background-color: #ff9000;color:#fff;}
.ok_box{display: inline-block;padding:4px 30px;min-width:280px; background-color: #44b549;color:#fff;}
