{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">嘉宾详细列表</a></li>
        <li><a  href="{php echo $this->createWebUrl('Newjiabin',array('rid' => $rid));}">添加嘉宾</a></li>
    </ul>
	<div class="category">
	<div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table class="table table-hover" >
                        <thead class="navbar-inner">
                        <tr>
                            <th style="width:80px;">排序</th>
                            <th style="width:100px;">图片</th>
                            <th style="width:150px;">嘉宾姓名</th>
                            <th style="width:300px;">嘉宾介绍</th>
                            <th style="width:60px;">状态</th>
                            <th style="width:200px;">适用活动</th>
                            <th style="width:150px;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $list $row}
                        <tr>
                            <td>{$row['pid']} </td>
                            <td><img style="width: 80px;height: 80px" src="{php echo tomedia($row['avatar'])}" alt=""></td>
                            <td>{$row['name']} </td>
                            <td>{$row['description']}</td>
                            <td>{if $row['status'] == 0}正常{else}禁用{/if}</td>
                            <td>{$row['rulename']}</td>
                            <td>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('Newjiabin',array('rid' => $rid,'op'=>'up','uid'=>$row['id']));}" title="编辑"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="#" onclick="drop_confirm('您确定要删除吗?', '{php echo $this->createWebUrl('Newjiabin',array('rid' => $rid,'op'=>'del','uid'=>$row['id']));}');" title="删除"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        {/loop}
                       
                        </tbody>
                    </table>
                </div>
            </div>
	</div>

</div>

<script>
    require(['bootstrap'],function($){
        $('.btn').hover(function(){
            $(this).tooltip('show');
        },function(){
            $(this).tooltip('hide');
        });
    });



    $(function(){

        $(".check_all").click(function(){
            var checked = $(this).get(0).checked;

            $("input[type=checkbox]").attr("checked",checked);
        });
        $("input[name=deleteall]").click(function(){
            var check = $("input:checked");

            if(check.length<2){
                alert('请选择要删除的记录!');
                return false;
            }
            if( confirm("确认要删除选择的记录?")){
                var id = new Array();
                check.each(function(i){
                    id[i] = $(this).val();
                });
                $.post('{php echo $this->createWebUrl('deleteAllcard')}', {idArr:id},function(data){
                    if (data.errno ==0)
                    {
                        location.reload();
                    } else {
                        alert(data.error);
                    }


                },'json');
            }

        });
    });
</script>
<script>
    function drop_confirm(msg, url){
        if(confirm(msg)){
            window.location = url;
        }
    }
</script>
{$pager}
		
{template 'common/footer'}