		<style>
			.modal-content{min-width: 1000px;margin-top: 20%;margin-left: 50%;margin-left: -230px;}

		</style>

	<div class="panel-body table-responsive">
		<div class="col-sm-12">
			<div style="display: inline-block;vertical-align: middle;">
	    		<img style="width: 90px;height: 90px;display: block;" class="img-rounded" src="{php echo tomedia($fans['avatar'])}" />
			</div>
			<div style="display: inline-block;vertical-align: middle;margin-left: 15px;font-size: 16px;margin-top: 15px;">
	            <p><strong>名称：</strong>{$bpadmin['admin_name']}</p>
	            <p><strong>电话： </strong>{$bpadmin['admin_mobile']}</p>
	            <p><strong>OPENID： </strong>{$bpadmin['admin_openid']}</p>
	            <!--<p><strong>打赏次数： </strong>{$guest['type']}</p>-->
	             <p><strong>免支付总额： </strong>{$dsmoney}元</p>
	        </div>
		</div>
		
	</div>

		<div class="panel panel-info">
			<div class="panel-heading">记录筛选</div>
			<div class="panel-body">
				<form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
					<input type="hidden" name="c" value="site" />
					<input type="hidden" name="a" value="entry" />
					<input type="hidden" name="m" value="haoman_dpm" />
					<input type="hidden" name="do" value="Userinfo3" />
					<input type="hidden" name="fansid" id="fansid" value="{$id}" />
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label">时间</label>

						<div class="col-sm-7 col-lg-8 col-xs-12">
							<style>
								.daterangepicker.dropdown-menu{
									z-index: 99999999999999999999999;
								}
							</style>
							{php echo tpl_form_field_daterange('time', array('start'=>date('Y-m-d H:i', $starttime),'end'=>date('Y-m-d  H:i', $endtime)),true);}

						</div>

					</div>

					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label"></label>
						<div class="col-sm-7 col-lg-9 col-xs-12">
							<button class="btn btn-default search"  type="button"><i class="fa fa-search"></i> 搜索</button>
							<input type="hidden" name="token" value="{$_W['token']}" />
							<input type="hidden" name="op" value="search" />
						</div>
					</div>

				</form>
			</div>
		</div>


    <div class="table-responsive" style="height:300px;overflow-Y: auto; overflow-X:hidden;">
		<table class="table" style="min-width:720px;">
			<thead style="height: 26px;">
				<tr>
					<p>
						支付记录: <span style="float: right"></span>
					</p>
				</tr>
			</thead>

			<tbody>
				<tr style="border-bottom: 1px solid #c9c9c9">
					<td style="width:100px;">支付时间</td>
					<td>昵称</td>
					<td>订单号</td>
					<td>金额</td>
					<td style="width:220px;padding-left: 0;padding-right: 0">霸屏时间</td>
					<td>是否支付</td>
					<td>是否免支付</td>
					<td>操作</td>
				</tr>
                 {loop $dsdata $row}
				<tr style="margin-top: 15px;">
					<td>{php echo date('m-d H:i', $row['createtime'])}</td>
					<td>{$row['nickname']}</td>
					<td>{$row['transid']}</td>
					<td>{$row['pay_total']}</td>
					<td style="width:220px;padding-left: 0;padding-right: 0">{$row['bptime']}</td>
					<td>{if $row['status']==2}已支付{else}未支付{/if}</td>
					<td>{if $row['isadmin']==1}是{else}否{/if}</td>
					<td>
						<a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="#" onclick="drop_confirm('您确定要删除吗?', '{php echo $this->createWebUrl('deleteadmin_jilu',array('id'=>$row['id']))}');" title="删除"><i class="fa fa-times"></i></a>
					</td>
				</tr>
				{/loop}
			</tbody>

		</table>
	</div>
		<script>
			require(['jquery', 'util'], function($, u){
				$('.search').click(function(){
					var datestart = $("input[name='time[start]']").val();
					var dateend = $("input[name='time[end]']").val();
					var fansid = $("#fansid").val();


					var submitData = {
						datestart: datestart,
						dateend: dateend,
						fansid: fansid,
					};

					$.get("{php echo $this->createWebUrl('Userinfo3')}" ,submitData, function(data){

						if(data == 'dataerr') {
							u.message('未找到指定打赏资料', '', 'error');
						} else {
							var obj = u.dialog('打赏记录', data, $('#guanbi').html());
						}
						obj.modal('show');
					});
				})
			});
		</script>
		<script>
			require(['bootstrap'],function($){
				$('.btn').hover(function(){
					$(this).tooltip('show');
				},function(){
					$(this).tooltip('hide');
				});
			});
			</script>