body {}
.wsd-body-bg{background-image:url("../../img/home/t8/bg.jpg");}
.clear { clear:both; }
.weishidai-page { width:100%; min-height:100%; background:rgba(0,0,0,.7); padding:20px 0 10px 0; }
.weishidai-list {width: 100%; position: absolute; bottom: 0;  overflow:hidden; }
.weishidai-list-item { float:left; display:block; width:33.3333%; height:auto; background:none; border:none; border-left:1px solid #928c8d; margin:20px 0 20px -1px; }
.weishidai-list-icon img { height:50px; display:block; margin:0 auto; max-width:88%; }
.weishidai-list-title { color:#fff; text-align:center; height:20px; line-height:20px; margin-top:15px; }
.weishidai-footer { color:#fff; }

.weishidai-list-icon{text-align:center;}
.weishidai-list-icon .ui-icomoon{width:50px;height:50px;line-height:55px;font-size:35px;color:#FFF;}
.fn-left {
float: left;
_display: inline;
}
a:link,a:visited{
 text-decoration:none;  /*超链接无下划线*/
}