{template 'header'}


<div class="rule panel panel-default">

    <div class="table-responsive panel-body">
        <div class="tabbable" id="tabs-165671">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-215752" data-toggle="tab">快捷入口</a>
                </li> 
            </ul> 
             
                        <div class="main">



                            <div class="panel panel-default">

                                <div class="panel-heading">

                                     

                                </div>

                                <div class="panel-body">

                                    <div class="form-group">

                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">酒店入口</label>

                                        <div class="col-sm-9">
                                           {$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=index&m=yc_hotelmanger
                                        </div>

                                    </div>

                                </div>
                                 <!--<div class="panel-body">

                                    <div class="form-group">

                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">商城入口</label>

                                        <div class="col-sm-9">
                                            {$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=shopindex&m=yc_hotelmanger
                                        </div>

                                    </div>

                                </div>-->
                                 <div class="panel-body">

                                    <div class="form-group">

                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单入口</label>

                                        <div class="col-sm-9">
                                           {$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=orderlist&m=yc_hotelmanger
                                        </div>

                                    </div>

                                </div>

                            </div>

                             
</div>
</div>
</div>
</div>
{template 'common/footer'}