@charset "utf-8";
/*\u201404240061\u0075\u0074\u0068\u003a\u0045\u0072\u0069\u0063\u005f\u0077\u0075\u003b\u0020\u0065\u006d\u0061\u0069\u006c\u003a\u0077\u006b\u0066\u0033\u0039\u0039\u0038\u0038\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d\u003b*/

* {
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	/*height:100%;*/
	min-height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin:0;
	padding:0;
	width: 100%;
	/*height:100%;*/
	min-height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	position: relative;
	word-break:break-all;
}

a {
	text-decoration: none;
	/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

img:not([src*="/"]) {
	display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td, caption {
	vertical-align: middle;
}

textarea {
	resize: none;
}

input, button, select, textarea {
	outline: none;
	border-radius: 0;
}

ul,ol,li {
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
input{
	-webkit-appearance: none;
}

/***************************loading********************************/
.loading-box{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	background-position: center;
	background-size: 32px 32px;
	display: none;
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-image: url(../images/loading.gif);
	z-index:99999;
}
.loading-box.show{
	display: block;
}

.watch{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:999;
	background-color: rgba(0,0,0,0.72);
}
.watch.show{
	display: block;
}
#share_tip{line-height:180%;}
.watch .watch_content{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height:400px;
	text-align: center;
	font-size: 16px;
	color: #717171;
	margin: auto 20px;
	border-radius: 8px;
	background-color: #f5f0eb;
	padding: 10px;
	box-sizing:border-box;
}
.common_hr{border: none;border-bottom: 1px solid #D8D8D8;}