@charset "utf-8";

body{ -moz-user-select: none; /*火狐*/
-webkit-user-select: none; /*webkit浏览器*/
-ms-user-select: none; /*IE10*/
-khtml-user-select: none; /*早期浏览器*/
user-select: none;
}

/*topMenuBtn*/
.topMenu{ background:#556369; border:1px solid #49565c;}
.topMenu ul{ overflow:hidden;  padding:10px 0}
.topMenu ul li{float:left; width:33%;}
.topMenu ul li a{ color:#fff; line-height:40px; font-size:1em; display:block; padding:0 20px; border:none; background:#49565c; text-align:center; margin:5px; border-radius:4px;}
.off{ display:none;}
.on{ display:block;}
.topMenu .topBack{ float:left; color:#fff;}
.topMenu .topTitle{color:#fff; text-align:center; font-size:1.2em; line-height:3em}
.topMenu .topMore{ float:right; color:#fff;}
.topMenu img{ width:44px;}

/*normalHeader*/
.normalHeader{background:#556369; overflow:hidden; color:#fff; height:44px; line-height:44px; padding-left:20px; font-size:1.2em; font-weight:bold;}
.normalHeader .topMenuBtn{ height:44px; width:44px; float:right; padding-right:10px;}
.normalHeader .topMenuBtn img{ height:44px; width:44px;}

/*member header*/
.memberHeader{ background:#556369; overflow:hidden;}
.memberHeader .photo{  padding:10px 20px; float:left; position:relative}
.memberHeader .photo .vip{ background:#f60; color:#fff; width:15px; line-height:15px; position:absolute; text-align:center; font-size:1em;border-radius:60px; }
.memberHeader .photo img{ width:60px; height:60px; border-radius:60px; background:#CCc; overflow:hidden; background:#CCC; }
.memberHeader .photo .photoCut{border:2px solid #fff; width:60px; height:60px; border-radius:60px;}
.memberHeader .info{ float:left; padding-top:10px;}
.memberHeader .info ul{}
.memberHeader .info ul li{ color:#fff; line-height:22px;}
.memberHeader .info .level{ color:#888}
.memberHeader .info .score{}
.memberHeader .info .score a{ font-size:1em; color:#693}
.memberHeader .info .balance{ color:#F60}
.memberHeader .info .welcome{ line-height:60px; color:#fff; font-size:1.4em}

.sliceTitle{ background:#fff;height:20px;}

.list01{ padding-left:20px;}
.list01 .head01{ line-height:3.6em; border-bottom:1px solid #ececec; font-size:1em; color:#ccc}
.list01 .head02{ line-height:1.4em; border-bottom:1px solid #ececec; font-size:1.5em; color:#444; padding:.5em 0;} 

.list01 ul li{border-bottom:1px solid #ececec;}
.list01 ul li a{ display:block; line-height:50px; font-size:1.2em; color:#888;position:relative}
.list01 ul li div.show{ line-height:50px;  font-size:1.2em; color:#888; position:relative}
.list01 ul li img.icon{ height:24px; width:24px; border-radius:20px; float:left; margin:13px 10px 0 0}
.list01 ul li div.show .right{ position:absolute; display:block; right:20px; top:0; color:#888}
.list01 ul li a.show .right{ position:absolute; display:block; right:20px; top:0; color:#888}
.list01 ul li div.show .rightTop{ float:right; padding-right:20px; padding-top:10px}

.pageHead{ background:#f60; color:#fff; line-height:44px; padding-left:20px;}
.pageHead{}

.reg .intro{ padding:20px;}
.reg .intro a{color:#888}

.reg .inputPhone{ border:1px solid #c2c2c2; border-radius:2px; margin:0 20px;background:#fff; line-height:44px;}
.reg .inputPhone input{ width:100%; border:none; font-size:1.2em; height:44px; text-indent:0.5em }
.reg .inputPhone input.phone01{ background:url(../../images/icons/phone01.png) no-repeat right center; background-size:auto 100% }

/*btnBar*/

.btnBar{ padding:10px 20px; text-align:center; position:relative;}
.btnBar .left{  position:absolute; left:1em; top:1em;}
.btnBar .right{  position:absolute; right:1em; top:0.5em;}
.btnBar .pageTotle{ line-height:2.4em;  font-size:1.em; color:#f60}
.bigBtn{ line-height:2.4em; text-align:center;  font-size:1.2em; border:none; border-radius:3px; width:100%; cursor:pointer}
a .bigBtn{ font-size:1em;}
.blueBtn{ background:#06c; color:#fff; margin-bottom:10px;}
.blueBtn:hover{ background:#004891}
.greenBtn{background:#6eb478; color:#fff;}
.greenBtn:hover{ background:#255C48}
.orangeBtn{background:#f60; color:#fff;}
.grayBtn{background:#ddd; color:#444;}
.disableBtn{ background:#ddd; border:1px solid #c2c2c2; color:#888}
.cancelBtn{background:#e43;color:#fff}
.backBtn{background:#ccc;}

.normalBtn{ font-size:0.8em !important; line-height:24px !important; border-radius:3px; padding: 1px 5px}
.normalGrayBtn{ background:#ddd; color:#444 !important;}
.normalBlueBtn{ background:#06c; color:#fff !important;}
.normalRedBtn{ background:#900; color:#fff !important;}

/*preorder*/
.productItem{ border:1px solid #ececec; border-radius:2px; margin-bottom:10px; margin-right:20px;}
.productItem .info{ background:#fff; padding:0 10px; overflow:hidden; line-height:30px; border-bottom:1px solid #ececec;}
.productItem .info h4{ color:#06c; float:left}
.productItem .info .balance{ text-align:right; padding-right:10px;}
.productItem .info .balance strong{ color:#000;}
.productItem .selectMember{ background:#f3f3f3 url(../../images/icons/dropArrow.png) no-repeat right center; background-size:auto 100%;position:relative ;line-height:44px; height:44px; overflow:hidden}
.productItem .selectMember strong{position:absolute; left:10px;}
.productItem .selectMember select{ border:none; background:none; width:100%; font-size:1.2em; color:#444; padding-right:10%; padding-top:.8em; padding-bottom:.8em;}
.productItem .selectMember  label{ display:block; text-align:right}

.productItem .more{ background:#f3f3f3;position:relative ;line-height:44px; height:50px; overflow:hidden; padding:0 10px;}
.productItem .more strong{position:absolute; left:10px;}
.productItem .more  label{ display:block; text-align:right}

.selector01{ border:1px solid #c2c2c2; border-radius:2px; margin-bottom:10px; margin-right:20px; background:#fff url(../../images/icons/dropArrow.png) no-repeat right center; background-size: auto 100%;  line-height:44px; overflow:hidden;}
.selector01 select{ border:none;width:95%; background:none; font-size:1em; color:#06c ; padding-right:5%; padding-top:1em; padding-bottom:1em;}
.selector01 .selectList{ float:left; border-right:1px solid #c2c2c2;}
.selector01 .selectListLast{ border:none;}
.inputor01{ border:1px solid #c2c2c2; border-radius:2px; margin-bottom:10px; margin-right:20px; background:#fff; line-height:44px;}
.inputor01 input{ width:100%; border:none; font-size:1em; height:44px; text-indent:0.5em }

.textor01{ border:1px solid #c2c2c2; border-radius:2px;  margin-right:20px; background:#fff; line-height:44px;width:80%;}
.textor01 input{ width:100%; border:none; font-size:1em;height:44px;}

/*resultPage*/
.resultPage{}
.resultPage .status{ padding:30px 0 10px; text-align:center}
.resultPage .status img{ width:50px; height:50px;}
.resultPage .words{ padding:10px 10px 40px;}
.resultPage .words h1{ text-align:center; font-size:1.5em; padding-bottom:10px;}
.resultPage .words p{ width:280px; margin:0 auto; text-align:center; color:#888}

/*deliverItem*/
.deliverList{ padding:20px 20px 0;}
.deliverList ul li{ padding-bottom:10px;}



.deliverItem{ background:#fff; border:1px solid #ececec; border-radius:3px; padding-left:10px;}
.deliverItem .top{ border-bottom:1px solid #ececec; line-height:30px;}
.deliverItem .top .status{ float:right; padding-right:10px;}

.deliverList .important{border:1px solid #c2c2c2; box-shadow:#ccc 0px 0px 5px; background:#F7FDFD}
.deliverItem .top .statusStart{ color:#06c}
.deliverItem .top .statusWait{ color:#f60}
.deliverItem .top .statusDone{ color:#093}

.deliverItem .mid{line-height:24px; font-size:1em}
.deliverItem .bottom{ border-top:1px solid #ececec;line-height:24px;}
.deliverItem dl{ overflow:hidden;}
.deliverItem .top dt,.deliverItem .top dd{line-height:44px;}
.deliverItem dt{ float:left; color:#888; padding-right:10px;}
.deliverItem dd{float:left; color:#444;}
.deliverItem dd .price{ color:#f60; font-weight:bold;}
.deliverItem strong{ color:#444}


.chooseNumberBar{ overflow:hidden; line-height:normal}
.chooseNumberBar h4{ float:left; padding-left:10px; line-height:2.6em;}
.chooseNumberBar .setting{ float:right;}
.chooseNumberBar .setting input{ width:3em; height:3em; float:left; border:none; color:#888; text-align:center; font-size:16px; font-weight:bold; border-radius:0;}
.chooseNumberBar .setting input.add{ background:#fff url(blank);cursor:pointer; border-left:1px solid #ececec;}
.chooseNumberBar .setting input.des{background:#fff url(blank);cursor:pointer;border-right:1px solid #ececec; border-left:1px solid #ececec;}
.chooseNumberBar .setting input.number{ color:#0066cc }

/*deliverItem*/
.deliverStatusItem table th{ vertical-align:top; padding:5px 0;}
.deliverStatusItem img{ width:30px; height:30px; margin-right:10px; border-radius:44px;}
.deliverStatusItem  p{ line-height:18px !important; font-size:.8em}
.deliverStatusItem  p strong{ color:#ccc}

/*dlList01*/
.dlList01{}
.dlList01 dl{}
.dlList01 dl dt{}
.dlList01 dl dd{}

/*banner*/
.banner{}
.banner img{ width:100%;}

/*giftItem*/
.giftItem{ padding:10px 0;}
.giftItem img{ height:60px; width:60px; margin-right:10px;}

/*floatTip*/

.floatTip{ position:fixed; top:20%; right:20px; left:20px; line-height:24px; background:#999; border-radius:3px; text-align:center; color:#fff; box-shadow:#000 0 0 5px}

/*floatBottom*/
.floatBottom{ font-size:1em;height:4em;background:#f7f7f7; }
.floatBottom .content{ background:#f7f7f7; border-top:1px solid #c2c2c2;}

.recommoned{ padding:20px 20px 20px 0; }
.recommoned .content{ background:#fff; padding:0 10px; border:1px solid #ececec; line-height:24px;border-radius:4px;}
.recommoned .content .item{ position:relative; padding:10px 0; border-top:1px solid #ececec}
.recommoned .content .first{ border:none;}
.recommoned .content .item .right{ position:absolute; top:0; right:0; padding:10px 0;}
.recommoned .content .item strong{ color:#F69}
.recommoned .content img.icon{ float:left; margin:0 10px 0 0 !important; width:24px; border-radius:20px}
.recommoned .content span.number{ background:#F69; color:#fff; border-radius:10px; display:inline-block; height:20px; line-height:20px; font-size:.8em;padding:0 5px; position:absolute; top:10px; right:0;}
span.getTicket{ color:#ff7495}


/*popWin*/
.popWin{ position:fixed; top:0; bottom:0; left:0; right:0; background:url(../../images/default/bg50.png); z-index:9995}
.popWin .content{ position:fixed;left:10%; right:10%; top:30%; background:#FFF;border-radius:10px; box-shadow:#000 0 0 5px }
.popWin .content h3{ padding:10px; text-align:center; color:#444; font-size:1.2em;}
.popWin .content p{padding:5px 10px; min-height:50px; text-align:center;}
.popWin .content .popWinBtnBar{ border-top:1px solid #c2c2c2;}
.popWin .content .popWinBtn{ border:none; border-radius:0; background:none; font-size:1em; line-height:3em; cursor:pointer;}
.popWin .bg{}

.toggleTab{ background:#ccc; padding:2px; border-radius:30px; width:3em;}
.toggleTab label{ display: block; overflow:hidden;}
.toggleTab input{ display:none;}
.toggleTab span.tab{ display:block;height:20px; width:20px; background:#fff; border-radius:30px;}
.toggleTab2{ background:#6eb478; overflow:hidden;}
.toggleTab2 span.tab{ float:right;}

/*pro-list-sideMenu*/
.pro-list-sideMenu{ position:fixed; top:0; bottom:0;width:80px; z-index:100; overflow-y:scroll; background:#eee}
.pro-list-sideMenu ul{ width:60px; padding-bottom:6em;}
.pro-list-sideMenu ul li { padding:.3em 0;}
.pro-list-sideMenu ul li a{ display:block; text-align:center;}
.pro-list-sideMenu ul li img{ width:40px; border:none;border-radius:5em; display:block; margin:0 auto;}
.pro-list-sideMenu ul li h3{ font-weight:normal; font-size:.8em; color:#888}
.pro-list-sideMenu ul li.current{ background:#FFF;}
.pro-list-sideMenu ul li.active{ background:#FFF;}

.popDetail{ position:fixed; bottom:0; left:0; right:0; z-index:1500}
.popDetail .closeWin{ float:right; position:relative; z-index:1650; font-size:4em; color:#ccc; padding:.3em}
.popDetail .proIntro{ padding:1em; font-size:1em; margin-right:2em;}
.popDetail .proIntro img{ float:left; width:3em; height:3em; margin-right:1em;}
.popDetail .proIntro h3{ min-height:1.5em; overflow:hidden;}
.popDetail .proIntro .intro p{ color:#f60;}
.popDetail .mask{ background:#000; opacity:.6; position:fixed; top:0; left:0; right:0; bottom:0;z-index:1500}
.popDetail .content{background:#fff;position:relative; z-index:1600}
.popDetail .content ul { padding-left:1em;}
.popDetail .content ul li{ border-top:1px solid #ccc; padding:1em 0}
.popDetail .content ul li h3{ padding-bottom:1em;}
.popDetail .type span{ display:inline-block; padding:.5em; border:2px solid #ccc; font-size:1em; margin:.5em .5em .5em 0;} 
.popDetail .type span.true{ border:2px solid #F60;}


.nupopDetail .closeWin{ float:right; position:relative; z-index:1650; font-size:4em; color:#ccc; padding:.3em}
.nupopDetail .proIntro{ padding:1em; font-size:1em; margin-right:2em;}
.nupopDetail .proIntro img{ float:left; width:3em; height:3em; margin-right:1em;}
.nupopDetail .proIntro h3{ min-height:1.5em; overflow:hidden;}
.nupopDetail .proIntro .intro p{ color:#f60;}
.nupopDetail .mask{ background:#000; opacity:.9; position:fixed; top:0; left:0; right:0; bottom:0;z-index:1500}
.nupopDetail .content{background:#fff;position:relative; z-index:1600}
.nupopDetail .content ul { padding-left:1em;}
.nupopDetail .content ul li{ border-top:1px solid #ccc; padding:1em 0}
.nupopDetail .content ul li h3{ padding-bottom:1em;}
.nupopDetail .type span{ display:inline-block; padding:.5em; border:2px solid #ccc; font-size:1em; margin:.5em .5em .5em 0;} 
.nupopDetail .type span.true{ border:2px solid #F60;}

.popover { position: absolute; top: 0; left: 0; z-index: 1010; display: none; max-width: 276px; padding: 1px; text-align: left; white-space: normal; background-color: #fff; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,0.2); border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2); box-shadow: 0 5px 10px rgba(0,0,0,0.2); background-clip: padding-box }
.popover.top { margin-top: -10px }
.popover.right { margin-left: 10px }
.popover.bottom { margin-top: 10px }
.popover.left { margin-left: -10px }
.popover-title { padding: 8px 14px; margin: 0; font-size: 14px; font-weight: normal; line-height: 18px; background-color: #f7f7f7; border-bottom: 1px solid #ebebeb; border-radius: 5px 5px 0 0 }
.popover-content { padding: 9px 14px }
.popover .arrow, .popover .arrow:after { position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid }
.popover .arrow { border-width: 11px }
.popover .arrow:after { border-width: 10px; content: "" }
.popover.top .arrow { bottom: -11px; left: 50%; margin-left: -11px; border-top-color: #999; border-top-color: rgba(0,0,0,0.25); border-bottom-width: 0 }
.popover.top .arrow:after { bottom: 1px; margin-left: -10px; border-top-color: #fff; border-bottom-width: 0; content: " " }
.popover.right .arrow { top: 50%; left: -11px; margin-top: -11px; border-right-color: #999; border-right-color: rgba(0,0,0,0.25); border-left-width: 0 }
.popover.right .arrow:after { bottom: -10px; left: 1px; border-right-color: #fff; border-left-width: 0; content: " " }
.popover.bottom .arrow { top: -11px; left: 50%; margin-left: -11px; border-bottom-color: #999; border-bottom-color: rgba(0,0,0,0.25); border-top-width: 0 }
.popover.bottom .arrow:after { top: 1px; margin-left: -10px; border-bottom-color: #fff; border-top-width: 0; content: " " }
.popover.left .arrow { top: 50%; right: -11px; margin-top: -11px; border-left-color: #999; border-left-color: rgba(0,0,0,0.25); border-right-width: 0 }
.popover.left .arrow:after { right: 1px; bottom: -10px; border-left-color: #fff; border-right-width: 0; content: " " }
.popover a { color:#06F; text-decoration:underline;}
.quan_1{ margin-top:10px; margin-left:20px; margin-bottom:10px; color:#FFF!important}