body{
	max-width:640px;
	margin:auto;
	color:#555;
}
.logo{
	padding:5px;
	text-align: right;
}
.logo img{
	height:30px;
	width:213px;
}
img {
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
ul{
	padding:0;
	margin:0;
}
.gradient_h_wbw {
	height: 1px;
	display: block;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#908e8e), color-stop(100%,#ffffff));
	background: linear-gradient(to right, #ffffff 0%,#908e8e 50%,#ffffff 100%);
}
/*车系顶部列表*/
.list_ul_top {
	position: relative;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 99999px;
	overflow:hidden;
}
ul ,ul li { list-style:none}
.list_ul_top li {
	float: left;
}

.list_ul_top li img {
	cursor: hand;
	border: 0px;
}
.list_ul_top a{
	-webkit-tap-highlight-color: rgba(0,0,0,0.3);
	display:inline-block;
}
.list_ul_top a span{
	display: inline-block;
	height: 33px;
	line-height: 33px;
	text-align: center;
	text-decoration: none;
	color: #000000;
	padding: 0 7px 0 6px;
}
/*车系列表*/
.list_ul_common{
	
}

.list_ul_common li{
	background-color:#F2F4F3;
	margin:5px 10px;
}

.list_ul_common li a{
	font-weight:bolder;
	display: block;
	color:#000;
	padding:13px;
	background: transparent url(../img/pfeil_rechts.png) no-repeat scroll 97% center;
	-webkit-background-size: 10px auto;
	background-size:10px auto;
}
.list_ul_common li a p:nth-of-type(2){
	font-weight:100;
	font-size:12px;
}
/*底部按钮*/
.nav_footer {
	height:56px;
	line-height:56px;
	text-align:center;
	position:fixed;
	z-index:1200;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	max-width:640px;
	margin:auto;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#6e6e6e), to(#3c3c3c));
}
.nav_footer a{
	display:inline-block;
	width:60px;
	height:56px;
	line-height:56px;
	color:#fff;
	background:url("../img/btn1.png") no-repeat center center;
	background-size:53px auto;
}
.nav_footer li:first-of-type a{
	text-indent:5px;
	background-image: url("../img/btn2.png");
	background-size:60px;
}
.nav_footer li:nth-of-type(2) a{
	text-indent:-5px;
	background-image: url("../img/btn3.png");
	background-size:60px;
}
.box {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.box > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
/*幻灯片*/
.list_ul_scroll{
	position: relative;
	width: 99999px;
}
.list_ul_scroll li{
float: left;
}
.list_ul_scroll li img{
	width:100%;
}
.list_ul_scroll a{
	text-indent:20px;
	color:#000;
	line-height:20px;
}
.list_ul_scroll a h3{
	margin-top:5px;
	font-size:15px;
}
.list_ul_scroll a p{
	font-size:12px;
}
.indicator{
	text-align:center;
	position:absolute;
	top:5px;
	left:0;
	width:100%;
	-webkit-transform: translate3d(0,0,0);
	z-index:2000;
}
.indicator span{
	display:inline-block;
	background-color: #fff;
	border-radius: 4px;
	border:1px solid rgba(255,255,255,0.4);
	height: 4px;
	margin:3px;
	width: 4px;
}
.indicator span.ind_a{
	background-color:#000;
}
/*车型详细数据*/
.car_detail{
	margin:5px;
	padding:10px;
	background:#f2f4f3;
}
.car_detail tr td{
	padding:7px;
}
.car_detail tr td:first-of-type{
	width:100px;
}
.group_btn{
	text-align:center;
}
.group_btn a{
	display:inline-block;
	color:#fff;
	text-align:center;
	margin:5px auto;
	padding: 10px 20px;
	font-size: 14px;
	text-decoration: none;
	background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0, #d90319), color-stop(1, #d50118) );
	border-radius: 3px;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	margin: 10px auto;
}
.group_btn a.gray{
	background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0, #444), color-stop(1, #363636) );
}
/*客服样式*/
.list_contact{
	padding:10px;
}
.list_contact li{
	background:#dfdfdf;
	margin:5px 0;
	padding:5px;
	-webkit-box-sizing:border-box;
}
.list_contact li>div{
	vertical-align: middle;
	width:70px;
}
.list_contact img{
	border-radius:3px;
	width:60px;
	height:60px;
	border:1px solid #ccc;
}
.list_contact p{
	padding-left:10px;
}
.list_contact a{
	line-height:15px;
	display:inline-block;
	padding:5px;
	padding-left:25px;
	background:url(../img/3.png) no-repeat 7px center, -webkit-gradient(linear, 0 0, 0 100%, from(#eb0425), to(#d10017), color-stop(50%, #e90323), color-stop(50%, #d50118));
	border-radius:3px;
	color:#fff;
	background-size:13px auto, auto;
}

.list_contact .tbox>div>div{
	text-indent:10px;
	margin-right:10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width:200px;
}



.list_book{
	border: 1px solid #C6C6C6;
	background-color: rgba(255, 255, 255, 0.9);
	line-height: 24px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #f6f6f6;
	-webkit-box-shadow: 0 1px 1px #f6f6f6;
	box-shadow: 0 1px 1px #f6f6f6;
	display: block;
	overflow:hidden;
	letter-spacing: 1px;
}

.list_book dt{
	background-color: #E1E1E1;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E7E7E7), color-stop(1, #f9f9f9)	 );
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
	-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
	box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
	color: #666;
	text-shadow: 0 1px #FFF;
	text-indent:10px;
	line-height:25px;
	border-bottom:1px solid #C6C6C6;
}

.list_book dd>div:first-of-type label{
	display:inline-block;
	width:150px;
	margin:0 5px;
}

.list_book dd{
	padding:5px 5px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.list_book dd>div{
	vertical-align: middle;
}
.list_book *[name]{
	width:95%;
	border-radius: 0px;
	background-color: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin: 5px 0 4px;
	padding: 2px 10px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.btn_submit{
	border: 0;
	padding: 10px 20px;
	font-size: 16px;
	text-decoration: none;
	background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0, #d90319), color-stop(1, #d50118) );
	border-radius: 3px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	margin: 10px auto;
}


.list_book_my a{
	display:inline-bock;
	padding:2px 8px;
	border-radius:10px;
	background:#1CC200;
	margin-right:10px;
	color:#fff;
}

.list_book_des div:first-of-type{
	border-bottom:1px dotted #ccc;
}
.list_book_des div:nth-of-type(2){
	text-indent:5px;color:#666;
	margin-top:5px;
}
.list_book_contact div:first-of-type{
	border-bottom:1px solid #ccc;
}
.list_book_contact a{
	color:#000;
	margin-left:5px;
}

#bookBody{
	background:#F2F4F3;
}
.tbox {
	width: 100%;
	height: 100%;
}
.tbox > * {
	height: 100%;
	display: table-cell;
	vertical-align: top;
}
.tbox > *:last-child {
	width: 100%;
}
textarea {
	resize: none;
	border: 0;
	padding: 8px 0;
	border-radius: 0;
}
input, button, select, textarea {
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
	height:100%;
	width:80%;
}
select{
	background-image: url(../img/select.png);
	background-repeat: no-repeat;
	background-position: 95% center;
	-webkit-background-size:15px auto;
	background-size:15px auto;
}
/**************************车主关怀******************************/
.careInfo p{
	padding:5px;
}
.careInfo p:nth-of-type(n+2){
	text-indent:30px;
}

input[name="fileCover"]{
	pointer-events:none;
}
input[type="file"]{
	position:absolute;
	-webkit-appearance:button;
	display:block;
	background:red;
	padding:8px 10px;
	top:4px;
	left:0px;
	width:100%;
	opacity:0;
}

.list3{
	text-align:center;
	overflow:hidden;
	line-height:25px;
}
.list3 li{
	width:33.3%;
	float:left;
	padding:5px 10px;
	-webkit-box-sizing:border-box;
}

.list3 li>div{
	width:95px;
	margin:auto;
	border:1px solid #ccc;
	background:#fff;
}

.list3 li img{
	width:45px !important;
	height:45px !important;
	border:1px solid #ccc;
}


 