.gs_header .back,.index_nav .i_all,.nav_bottom_company li span,.filter li:after,.star i,.b_list .sign1:before,.tg_list .title h4:before,.tg_list .title .type:after,.commodity_list .title h4:before,.commodity_list .sequence:after,.b_news_con .content .zan:before,.other_info .title .more a:after,.user_reviews .title2 .more a:after,.other_info li .tit,.arc_list li .tit,.user_reviews .r_list .zan:before,.post_reviews .title:before,.header .open,.tg_list .title2 .more a:after,.pic_show .title .more a:after,.shop_info .shop_pic dd .review:before,.sj_intro .phone:before,.sj_intro .qq:before,.sj_intro .weixin:before,.shop_info .shop_pic .more:before,.shop_info .shop_pic .j,.shop_info .shop_pic .z,.sj_intro li:before,.show_dishes,.other_info li,.sj_c_info .sms,.sj_c_info .tel,.sj_intro .j,.sj_intro .z,.zx_list .title .more a:after,.contact_info .email a:before,.contact_info .phone a:before,.sp_info .fav_0 a:before,.pro_info .show_pic .browse:before,#post_btn a:before,.sj_intro .o_info li .fav:before{background:url(business_icons.png) no-repeat;background-size:150px auto;}
.zx_list .count:before,.zx_detail .num:before,.active_intro .more:after,.city_o_info i{width:30px;height:20px;display:inline-block; vertical-align: middle;  content:' '; background: url(o_icons_2.png) no-repeat;background-size:100px auto;background-position:-35px -294px;}
 .cinfo_menu,.info_list{margin-bottom:10px;background:#ffffff;}
.info_list .bgy {}
.info_list .list_live { text-align:center;}
.info_list li{ position:relative; text-align:left; z-index:1;overflow:hidden; min-height:80px; font-size:12px;padding:10px;border-bottom:1px dashed #e1e0de; padding-left:100px;}
.info_list .pic{ position:absolute; left:10px; top:13px; width:80px; overflow:hidden;}
.info_list .pic img { vertical-align:top; width:80px; height:80px;}
.tuangouList li { padding-left:95px;}
.tuangouList .pic { width:75px;}
.tuangouList .pic img { width:75px; height:75px;}
.tuangouList .time { color:#999;}
.info_list .pic sup{position:absolute;z-index:2;font-size:12px;color:#ffffff;top:0;right:-6px;padding:0 10px 0 8px;height:18px;line-height:18px;border-left:2px solid #ffffff;border-bottom:2px solid #ffffff;-webkit-transform:skew(207deg);}
.info_list .pic sup:before{content:'';-webkit-transform:skew(-207deg);display:block;}
.info_list .pic sup.jj{background:#3399ff;}
.info_list .pic sup.jj:before{content:'竞价';}
.info_list .pic sup.sj{background:#f6664b;}
.info_list .pic sup.sj:before{content:'置顶';}
.info_list .con{font-size:13px;}
.info_list h3{font-size:16px;line-height:20px;color:#333;font-weight:normal; padding-right:2px;font-weight:bold}
.info_list .pic_count{color:#45a037;font-size:12px;}
.info_list p{margin:4px 0;color:#999999;width:99%;white-space:nowrap;overflow:hidden}
.info_list .date,.b_info .date{float:left;margin-right:10px;color:#999999;}
.info_list .u_name,.b_info .u_name{float:left;color:#f96547;}
.info_list .count,.b_info .count{float:right;color:#999999;}
.info_list .count i{background: url(renqi.png) no-repeat;width:30px;height:20px;background-size:80px auto;}
.info_list .count:before,.b_info .count:before{width:30px;height:20px;background-size:80px auto;}
.info_list .more{text-align:center;font-size:16px;line-height:40px;ssssss}
.info_list .bg_zhiding0,.info_list .bg_zhiding1 { position:absolute; right:10px; top:10px; display:inline-block; margin-left:3px; padding:1px 4px; font-size:12px; color:#fff; vertical-align:middle; line-height:18px;}
.info_list .bg_zhiding0 { background-color:#ff9933;}
.info_list .bg_zhiding1 { background-color:#4db0fd;}
.info_list .zhiding_false_0 { display:none;}
.info_list .zhiding_true_1 { display:none;}
.sj_intro{background:#ffffff;padding:10px 0px;margin-bottom:10px;border-bottom:1px solid #eeeeee;font-size:14px;line-height:18px;position:relative;}
.sj_intro .per_capita{position:absolute;color:#a9a9a9;font-size:14px;top:10px;right:15px;line-height:20px;}
.sj_intro .per_capita .price{color:#ff645a;font-size:18px;margin-left:6px;display:inline-block;}
.sj_intro.tbor{border-top:1px solid #eeeeee;padding-bottom:0;}
.sj_intro .o_info ul{border-top:1px solid #eeeeee;position:relative;padding:2px 0;height:40px;display:-webkit-box;display:-moz-box;display:flex;}
.sj_intro .o_info li{-webkit-box-flex:1;-webkit-flex:1; flex:1;line-height:30px;height:30px;line-height:30px;margin:5px 0;border-left:1px solid #eeeeee;font-size:15px;text-align:center;color:#333;}
.sj_intro .o_info li:before,.sp_info .fav_0 a:before,.sj_intro .o_info li .fav:before{content:'';display:inline-block; vertical-align:middle;width:28px;height:28px;background-size:120px auto;margin:0 5px 3px 0;}
.sj_intro .o_info li.amount:before{background-position:-95px -218px}
.sj_intro .o_info li.popular:before{background-position:0px -275px;}
.sj_intro .o_info li .fav:before,.sp_info .fav_0 a:before{background-position:-95px -276px;}
.sj_intro .o_info li .fav.favok:before,.sp_info .fav.favok a:before,.sp_info .fav_0 .favok:before{background-position:-48px -276px;}
.sj_intro .o_info li .fav{color:#333;}
.sj_intro li:first-child{border:none;}
.sj_intro .o_info li:last-child:before{width:0;height:0;display:none;}

.sj_c_info{margin-bottom:10px;background:#ffffff;}
.sj_c_info li{line-height:40px;padding:0 15px;font-size:15px;}
.sj_c_info li{border-bottom:1px dashed #e1e0de;}
.sj_c_info li span{color:#999999;margin-right:-5px;display:inline-block;}
.sj_c_info .sms,.sj_c_info .tel{text-indent:-999px;overflow:hidden;width:24px;height:24px;float:right;background-size:100px auto;background-position:0 -182px;margin:8px 15px 0;}
.sj_c_info .tel{background-position:-25px -182px;margin:8px 0 0;border-left:1px solid #eeeeee;padding-left:15px;}
.sj_intro .star{position:absolute;top:12px;right:10px;}
.sj_intro .con{padding:10px 15px;}
.sj_intro h3{font-size:18px;display:inline-block;margin-right:6px;font-weight:normal;}
.sj_intro .zk{background:#73c257;color:#ffffff;padding:0 6px;border-radius:3px;display:inline-block;float:right;}
.sj_intro .type{color:#a9a9a9;margin-bottom:5px;}
.sj_intro dl{zoom:1;overflow:hidden; margin-top:8px;}
.sj_intro dt{float:left;color:#a9a9a9;}
.sj_intro .juli{color:#999999;margin-left:10px;border:1px solid #999999;border-radius:3px;display:inline-block;padding:0 5px;}
.sj_intro .j,.sj_intro .z{height:24px;width:24px;text-indent:-999px;overflow:hidden;display:inline-block;margin:0 5px;background-size:120px auto; vertical-align:middle;}
.sj_intro .j{background-position:-48px -335px;}
.sj_intro .z{background-position:0 -338px;}
.active_condit{padding:10px;background:#ffffff;border-bottom:1px solid #eeeeee; display:-webkit-box; display:-moz-box; display:box;}
.active_condit,.active_intro{margin-bottom:10px;padding:10px 0;background:#ffffff;}
.active_condit dl{border-right:1px solid #eeeeee;font-size:15px;line-height:24px;width:100%;text-align:center;-webkit-box-flex:1; -webkit-flex:1; flex:1;}
.active_condit dl:last-child{border:none;}
.active_condit dt{color:#999999;}
.banner img { width:100%; height:auto; vertical-align:top;}
.active_intro .more{font-size:16px;text-align:center;line-height:40px;border-top:1px solid #eeeeee;}
.active_intro .more:after,.tabs .more:after{width:20px;height:12px;background-position:-80px -88px;background-size:100px auto;}
.zdyhtml { background-color:#fff; padding:10px; margin-top:10px;}
.zx_list{background:#ffffff;margin-bottom:10px;}
.zx_list .title{height:40px;line-height:40px;margin:0 10px;border-bottom:1px solid #eee;}
.zx_list .title h4{font-size:18px;float:left;font-weight:normal;border-bottom:1px solid #ff9933;}
.zx_list .more{float:right;font-size:16px;}
.zx_list .more a{color:#ffffff;}
.zx_list .title .more a:after{background-position:right -459px;background-size:100px auto;display:inline-block;width:15px;height:40px;vertical-align:middle;content:'';}
.zx_list ul{overflow:hidden;clear:both;}
.zx_list li{position:relative;border-bottom:1px dashed #eee;padding:10px;overflow:hidden;}
.zx_list li .pic{float:left;max-width:80px;}
.zx_list li .con{position:relative;padding-left:75px;}
.zx_list li h3{font-size:16px;font-weight:normal;height:45px;overflow:hidden;line-height:25px;margin-right:2px;text-overflow:ellipsis;color:#333;margin-bottom:5px;}
.zx_list li p,.zx_list li .time{font-size:12px;color:#999;margin-bottom:5px;line-height:18px;}
.zx_list li .time{margin:0;}
.zx_list li img{width:65px;height:65px;}
.zx_list li a{display:block;}
.city_btn{position:fixed;bottom:0;left:0;height:50px;line-height:50px;width:100%;background:#fb9031;color:#ffffff;text-align:center;z-index:99;overflow:hidden;}
.city_btn ul { display:-webkit-box; display:-moz-box; display:box;}
.city_btn li{width:100%;font-size:16px;text-align:center;-webkit-box-flex:1; -webkit-flex:1; flex:1;}
.city_btn li:first-child{background:#3399ff;}
.city_btn li.bm,.city_btn li.tg{background:#fb9031;}
.city_btn li a{color:#ffffff;display:block;}
.city_btn li a:before{width:24px;height:30px;background-image: url(o_icons_2.png);background-position:-86px -521px;background-size:110px auto; display:inline-block;     vertical-align: middle; content:' '; margin-right:6px;}
.city_btn li.bm a:before{background-position:0px -556px;}
.city_btn li.tg a:before{background-position:-82px -556px;background-size:105px auto;}