html{
	background: #342d36;
}
a{
	text-decoration: none;
	color: inherit;
}
footer .copyright {
	color: #ffffff;
}

.section_div{
	background: #342d36;
	width: 100%;
	color: #ffffff;
}

.title_time{
	padding: 6px 10px;
	font-size: 13px;
	overflow: hidden;
}
.title_time>div{
	display: inline-block;
}
.title_time>div>span{
	border-width: 0;
	line-height: 18px;
	vertical-align: top;
}
.title_time .time{
	width: 25px;
	border-radius: 3px;
	background: #ff544c;
	text-align: center;
}

.title_status{
	text-align: center;
	padding: 5px 10px;
	font-size: 13px;
}

.poster{
	position: relative;
	width: 100%;
}
.poster>img{
	width: 100%;
	height: auto;
}
.poster .goods{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
/*	height: 46px;*/
	background: rgba(0,0,0,0.7);
	/*display: table;*/
	padding: 5px 10px;
}
.poster .goods>a{
	display: table;
	width: 100%;
	height: 100%;
	color: #ffffff;
}
.poster .goods .goods_pic{
	display: table-cell;
	width: 54px;
}
.poster .goods .goods_pic>img{
	display: inline-block;
	width: 46px;
	height: 46px;
	border-radius: 1000px;
	background: #ffffff;
	vertical-align: middle;
}
.poster .goods .goods_des{
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
}
.poster .goods .goods_price{
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	width: 80px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#876d65), to(#876d65)) no-repeat 0 10px;
	-webkit-background-size: 1px 26px;
}

.price_board{
	position: relative;
	/*width: 100%;*/
	width: 320px;
	margin: 0 auto;
}
.price_board>img{
	width: 100%;
	height: auto;
}
.price_board .price{
	position: absolute;
	top: 54%;
	/*left: 25%;*/
	left: 50px;
	width: 124px;
	color: #ffe769;
	text-align: center;
}
.price_board .price.one{
	left:100px;
}
.price_board .price>span:first-child{
	font-size: 18px;
}
.price_board .price>span:last-child{
	font-size: 12px;
}
.price_board .cut_price{
	position: absolute;
	top: 60%;
	/*left: 65%;*/
	left: 180px;
	width: 100px;
	text-align: center;
	color: #cc770c;
}
.price_board .cut_price>span:first-child{
	font-size: 12px;
}
.price_board .cut_price>span:last-child{
	font-size: 12px;
}

.msg_board{
	width: 100%;
	padding: 10px 20px;
	height: 56px;
	font-size: 15px;
	display: table;
}
.msg_board>div{
	display: table-cell;
	vertical-align: middle;
}
.msg_board .avatar{
	width: 54px;
}
.msg_board .avatar>i{
	display: inline-block;
	width: 46px;
	height: 46px;
	border-radius: 1000px;
	background: #ffffff;
	vertical-align: middle;
}

.btn_wrapper{
	width: 100%;
	padding: 15px 0;
	overflow: hidden;
}
.btn_wrapper.two{
	padding: 15px 20px;
}
.btn_wrapper .cut_one_btn{
	display: block;
	width: 92%;
	height: 45px;
	margin: 0 auto;
	border-radius: 5px;
	border-width: 0;
}
.btn_wrapper .cut_two_btn{
	display: inline-block;
	width: 46%;
	height: 45px;
	border-radius: 5px;
	border-width: 0;
}
.btn_wrapper .shadow_red{
	box-shadow: 0 5px #c43831;
}
.btn_wrapper .shadow_grey{
	box-shadow: 0 5px #524f53;
}
.btn_wrapper .shadow_yellow{
	box-shadow: 0 5px #d99204;
}
.btn_wrapper .cut_1{/*手起刀落 红色*/
	background: url(../images/bargain_font.png) no-repeat center 0 #ff544c;
	background-size: 160px auto;
}
.btn_wrapper .cut_2{/*手起刀落 灰色*/
	background: url(../images/bargain_font.png) no-repeat center -45px #69676a;
	background-size: 160px auto;
}
.btn_wrapper .cut_3{/*再逛逛 红色*/
	background: url(../images/bargain_font.png) no-repeat center -90px #ff544c;
	background-size: 160px auto;
}
.btn_wrapper .cut_4{/*我也要 红色*/
	background: url(../images/bargain_font.png) no-repeat center -270px #ff544c;
	background-size: 160px auto;
}
.btn_wrapper .cut_5{/*帮TA砍 红色*/
	background: url(../images/bargain_font.png) no-repeat center -315px #ff544c;
	background-size: 160px auto;
}
.btn_wrapper .cut_5_disabled{/*帮TA砍 灰色*/
	background: url(../images/bargain_font.png) no-repeat center -360px #69676a;
	background-size: 160px auto;
}
.btn_wrapper .cut_6{/*立即出手 红色*/
	background: url(../images/bargain_font.png) no-repeat center -135px #ff544c;
	background-size: 160px auto;
}
.btn_wrapper .cut_6_disabled{/*立即出手 灰色*/
	background: url(../images/bargain_font.png) no-repeat center -405px #69676a;
	background-size: 160px auto;
}
.btn_wrapper .cut_7{/*找人帮砍 黄色*/
	background: url(../images/bargain_font.png) no-repeat center -180px #ffaf0f;
	background-size: 160px auto;
}
.btn_wrapper .cut_8{/*查看订单 黄色*/
	background: url(../images/bargain_font.png) no-repeat center -225px #ffaf0f;
	background-size: 160px auto;
}

.instruction{
	line-height: 25px;
}

.instruction {
	display: block;
	width: 80px;
	margin-left:20px;
	float: left;
	text-decoration: underline;
	font-size: 14px;
	color: #8c8a8c;
}

.instruction1{
	display: block;
	width: 80px;
	float: right;
	text-decoration: underline;
	font-size: 14px;
	color: #8c8a8c;
	margin-right:20px;
}

.instruction1 a{
	text-decoration: underline;
}




.list_wrapper{
	width: 100%;
}
.list_wrapper .list_title{
	width: 100%;
	height: 90px;
	background: url(../images/bargain_list.png) no-repeat center;
	background-size: 100% 100%;
}
.list_wrapper .cut_list{
	width: 100%;
	padding: 0 20px 20px 20px;
	background: #483b4b;
}
.list_wrapper .cut_list>li{
	border: 1px dashed #8e8990;
	border-width: 0 0 1px 0;
	padding: 10px 0;
}
.list_wrapper .cut_list>li>div{
	display: table;
}
.list_wrapper .cut_list .weapon_pic{
	display: table-cell;
	width: 54px;
	vertical-align: middle;
}
.list_wrapper .cut_list .weapon_pic>i{
	display: inline-block;
	width: 46px;
	height: 46px;
	border-radius: 1000px;
	background: #342d36;
	vertical-align: middle;
}
.list_wrapper .cut_list .message{
	display: table-cell;
	vertical-align: middle;
	font-size: 15px;
}
.list_wrapper .cut_list .message>span.amount{
	color: #fdc41e;
}

/***************MASK*******************/
*[data-role='mask']{
	display: none;
}
*[data-role='mask'].on{
	display: block;
}

*[data-mask='instruction'] .mask_bkg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 100;
}
*[data-mask='instruction'] .dialogue_wrapper{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 270px;
	margin-left: -125px;
	margin-top: -140px;
	z-index: 110;
}
*[data-mask='instruction'] .dialogue_wrapper .d_header{
	width: 100%;
	height: 50px;
	background: url(../images/bargain_instruction.png) no-repeat center bottom;
	background-size: 250px auto;
}
*[data-mask='instruction'] .dialogue_wrapper .d_body{
	width: 100%;
	height: 180px;
	/*min-height: 100px;
	max-height: 180px;*/
	border: 1px solid #f4514a;
	border-width: 0 1px;
	background: #ffffff;
	color: #666666;
	overflow: hidden;
}
*[data-mask='instruction'] .dialogue_wrapper .d_body>div{
	width: 100%;
	padding: 10px;
	min-height: 100%;
	line-height: 25px;
}
*[data-mask='instruction'] .dialogue_wrapper .d_footer{
	width: 100%;
	height: 40px;
	line-height: 38px;
	border: 1px solid #f4514a;
	background: #ffffff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #f4514a;
	text-align: center;
	border-top: 1px solid #cecece;
}

*[data-mask='help'] .help_pic{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/bargain_help.png) no-repeat center top rgba(0,0,0,0.93);
	background-size: 100%;
	z-index: 100;
}

*[data-mask='animation'] .mask_bkg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.93);
	z-index: 100;
}

.wallet{
	position: fixed;
	width: 320px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -160px;
	background: url(../images/bargain_animate.png) no-repeat center 0;
	background-size: 320px auto;
	z-index: 110;
	opacity: 0;
}
.praise{
	position: fixed;
	width: 320px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: 100px;
	margin-left: -160px;
	z-index: 110;
	opacity: 0;
}
.praise .great{
	width: 110px;
	height: 45px;
	margin: 20px auto;
	border-radius: 10px;
	border-width: 0;
	box-shadow: 0 5px #c43831;
	background: url(../images/bargain_animate.png) no-repeat center -800px #ff544c;
	background-size: 320px auto;
}
.praise .great.enjoy{
	background-position: center -845px; 
}
.praise .hint{
	color: #ffffff;
	font-size: 15px;
	text-align: center;
}
.praise .hint>span{
	color: #eabe28;
}
.sword{
	position: fixed;
	width: 180px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -10px;
	/*background: url(../images/bargain_swords.png) no-repeat center 0;
	background-size: 180px auto;*/
	z-index: 120;
	opacity: 0;
}
.animate_wallet{
	opacity: 1;
	-webkit-animation: appear 0.5s ease;
}
.animate_sword{
	opacity: 1;
	-webkit-animation: cut 0.5s ease-in;
}
.animate_praise{
	opacity: 1;
	-webkit-animation: praise 1.5s ease;
}
@-webkit-keyframes appear{
	0%{-webkit-transform: scale(0.1,0.1);}
	50%{-webkit-transform: scale(1.2,1.2);}
	100%{-webkit-transform: scale(1,1);}
}
/*@-webkit-keyframes cut{
	0%{-webkit-transform: translate(0,0) rotate(-90deg);}
	100%{-webkit-transform: translate(-120px, 250px) rotate(-90deg);}
}*/
@-webkit-keyframes cut{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(-100deg);}
}
@-webkit-keyframes praise{
	0%{-webkit-transform: scale(0.1,0.1);}
	17%{-webkit-transform: scale(1.2,1.2);}
	34%{-webkit-transform: scale(1,1);}
	100%{-webkit-transform: scale(1,1);}
}