ul{padding:0;margin:0;}
.list_ul{
    overflow:hidden;
    text-align:center;
}

.list_ul li{
    -webkit-box-sizing:border-box;
}
.list_ul li a{
    color:#666;
}
.list_ul li div{
    padding:5px;
    margin:5px 0;
}
.list_ul li img{
    max-width:80px;
    height:60px;
	margin-top:8px;
}

.list_ul li label{
    line-height:30px;
    display:inline-block;
    width:100%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/************************************/
.list_ul_home li{
    float:left;
    display:inline-block;
    width:33.3%;
}

/************************************/
.list_ul_model {
    text-align:left;
    text-indent:10px;
}

.list_ul_model img{
    width:80px;
    height:45px;
}

.list_ul_model div{
    vertical-align: middle;
}
/*************************************/
.head_news{
    position: relative;
}
.head_news ol{
    height:30px;
    line-height:30px;
    text-indent:10px;
    color:#fff;
    position: absolute;
    width:100%;
    left:0;
    bottom:0px;
    z-index:10;
    background:rgba(0,0,0,0.2);
}
.list_ul_news{
    padding:10px;
    text-align:left;
}
.list_ul_news li{
    margin:5px 0;
    background: transparent url(../images/arrow3.png) no-repeat scroll 97% center;
    -webkit-background-size: 10px auto;
    background-size:10px auto;
    background-color:#F2F4F3;
}
.list_ul_news p:first-of-type{
    display:block;
    color:#000;
    height:40px;
	padding-top:10px;
    font-weight: bold;
    overflow: hidden;
}
.list_ul_news p:nth-of-type(2){
    font-size:12px;
}

.list_ul_news_nav{
    width:200px;
    margin:10px auto;
}
.list_ul_news_nav a{
    color:#000;
    display:block;
    line-height:30px;
    text-align:center;
}
.list_ul_news_nav li{
    background:#F2F4F3;
    border:1px solid #ccc;
    margin-left:-1px;
}


.news_article{
    padding:10px;
}
.news_article header{
    padding:5px 0;
}
.news_article h3{
    margin:5px 0;
}
.news_article small{
    font-size:12px;
}

.news_article article{
    line-height:22px;
}

.news_article img{
    margin:5px 0;
    max-width:100%!important;
}
