{template 'common/header'}
<div class="main">
    <ul class="nav nav-tabs">
        <li><a href="{php echo $this->createWebUrl('sendrec');}">发放红包管理</a></li>
        <li class="active"><a href="{php echo $this->createWebUrl('sendrec_add');}">{php echo $data['id']>0?'编辑':'添加';}发放红包</a></li>
    </ul>
<form action="{php echo $this->createWebUrl('sendrec_add');}" class="form-horizontal form" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$data['id']}" />
<div class="clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">基本信息</div>
        <div class="panel-body">
<form action="" method="post" id="uploadForm" enctype="multipart/form-data">
      <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">批量上传</label>
                    <div class="col-sm-8 col-xs-12">
                    <input type="file" name="file_cumtomer" />
                    <a href="{MODULE_URL}template/upfile/hongbao_tpl.xlsx">【点击下载用户Excel上传格式示例】</a>
                    <input type="submit" value="提交" />
                    </div>
                </div>
                        
        
</form>
        
      <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">openid</label>
                    <div class="col-sm-8 col-xs-12">
						<input type="text" class="form-control" placeholder="" name="openid" value="{$data['openid']}">
                    </div>
                </div>  
      {if $data['follow_award'] == 1}
      <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">openid_service</label>
                    <div class="col-sm-8 col-xs-12">
						{$data['openid_service']}&nbsp;&nbsp;（首次关注送红包的，权重高于openid）
                    </div>
                </div>    
      {/if} 
                            
      <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">发放红包金额</label>
                    <div class="col-sm-8 col-xs-12" style="width:110px">
                    	<input type="text" style="width:90px; float:left" class="form-control" placeholder="" name="money" value="{$data['money']}">
                    </div>
                    <div style="margin-top:8px">元，{if $fhb_send_type == 'f'}
                        固定
                        {else}
                        随机【从{$cfgArr['fhb_send_money_from']}到{$cfgArr['fhb_send_money_to']}元】
                        {/if}</div>
                </div> 
 
      <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">备注</label>
                    <div class="col-sm-8 col-xs-12">
                    <textarea class="form-control" name="remark" rows="5">{$data['remark']}</textarea>
                    </div>
                </div>                
{if $data['id']>0}      
      <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">发放时间</label>
                    <div class="col-sm-8 col-xs-12">
                        {$data['send_time']} 【{$data['send_res']}】    
                    <span class="help-block"><strong><h4>返回结果对照 <a href="https://pay.weixin.qq.com/wiki/doc/api/tools/cash_coupon.php?chapter=13_5" target="_blank">更多</a>：</h4></strong></span>
                    <span class="help-block">act_name字段必填,并且少于32个字符：配置发放红包的服务号信息全部必填，而且中文字数不能超过8</span>
                    <span class="help-block">openid和appid不匹配：收红包的用户必须是配置的服务号下的用户（要配套）</span>                                      
                    </div>
                </div> 
      <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">订单号码</label>
                    <div class="col-sm-8 col-xs-12">
                        {$data['bill_no']}                     
                    </div>
                </div>                 
                
      <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">创建时间</label>
                    <div class="col-sm-8 col-xs-12">
                        {$data['createtime']}                     
                    </div>
                </div>                       
{/if}            
	  </div>
    </div>
{if $data['send_finish'] != 'Y'}    
    <div class="form-group">
        <div class="col-sm-12">
            <input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1">
            <input type="hidden" name="token" value="{$_W['token']}" />
        </div>
    </div>
{/if}
</form>
</div>
<script>chg_con_type('{$data['con_type']}');</script>
{template 'common/footer'}
