/* 公用的一些css */
body{
	background-color: #EEF0F2;
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0;
	padding: 0;
}
a,a:link,a:hover,a:active,a:visited{
	color: #636363;
	text-decoration:none;
}
ul.soft ,li.soft{
	list-style-type:none;
}
.glyphicon{
	color: #fff;
}
/*颜色*/
.back-red{
	background: none repeat scroll 0% 0% #FF2E4B;
}
/*背景颜色扩展*/
.bg-red{
	background: none repeat scroll 0% 0% #FF2E4B;
}
.bg-blue{
	background-color: #3385ff;
}
.bg-gray{
	background-color: gray;
}
.bg-green{
	background-color: #5cb85c;
}
.font-red{
	color: #FF2E4B;
}
.font-gray{
	color: gray;
}
.font-red{
	color: #FF2E4B;
}
.font-blue{
	color: #3385ff;
}
.font-green{
	color: #5cb85c;
}
/*modal*/
.modal-middel{
	top: 25%;
}
/*
 * header
 */
body.area .container,body.search-area .container{
	width: 100%;
	position: absolute;
}

/*地区选择头部*/
header.common-header{
	height: 50px;
	width: 100%;
}
/*头部的logo*/
header.common-header .header-left{
	position: absolute;
	line-height: 50px;
	float: left;
	padding-left: 10px;
}
.header-left > img{
	width: 81px;
	height: 18px;
}
/*头部的标题*/
header .header-middle{
	text-align: center;
	line-height: 50px;
}
header .header-middle > span{
	font-size: 18px;
	color: #fff;
}

/*header的右侧*/
header .header-right{

}