/* */
body{
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
}
.modal-middle{
	top: 25%;
}
.circle{
	width: 150px;
	height: 150px;
	line-height: 150px;
	color: white;
	text-align: center;
	border-radius: 100px;
	/*-webkit-border-radius: 100px;*/
	-moz-border-radius: 100px;
	margin-top: 10px;	
	padding: 0px 20px;
	cursor: pointer;
	border : 2px solid #fff;
}
.circle > span,.circle > a{
	font-size: 25px;
	color: #fff;
}
.mybarcode{
	margin: 20px;
	line-height: 100%;
	border: 2px solid green;
	text-align: center;
}

.mybarcode .qrcode{
	width: 150px;
	height: auto;
	margin: 0px auto;
}


table.gift > caption > span:nth-child(2){
	float: right;
	margin-right: 10px;
}
table.share-task > caption > span:nth-child(2){
	float: right;
	margin-right: 10px;
}
