/*个人中心*/
	.main {max-width: 100%;margin: 0 auto;position: relative;margin-bottom:40px;}
	div.head{background:url('/themes/style_fox/images/1385835873.jpg');background-color:none;}
	div.head a.bn{background:none;border:none;}
	.banner{background:url('./themes/default/images/bg_home.jpg');background-size:cover;height:150px;width:100%;position:relative;}
	.avatar{position:absolute; z-index:1; width:100px; height:100px; overflow:hidden; border:1px #000 solid; background:#FFF; margin:20px 0 0 20px;}
	.user{position:absolute; z-index:1; left:140px; top:20px;}
	.user .username{font-weight:600;color:#FFF;}
	.user .usergroup{color:#CCC; font-size:14px;}
	.user .user-list{color:#FFF;}
	.user .user-list span{margin-right:10px;}
	.banner_footer{background:rgba(0, 0, 0, 0.7); width:100%; height:40px; line-height:40px; position:absolute;bottom:0;z-index:0; border-bottom:2px #00AFF0 solid;}
	.banner_footer div{padding-left:140px; position:relative; margin-top:-2px;}
	.user-box{width:100%;overflow: hidden;}
	.user-box .box-item{float:left;text-align:center;display:block;text-decoration:none;outline:none;width:33.10%;height:92px;position:relative;background:#FFF;border-bottom:1px #CCC solid;border-right:1px #CCC solid;}
	.user-box .box-item i{display:inline-block;width:45px;height:45px;margin-top:15px;font-size:35px;color:#666;}
	.user-box .box-item span{color:#333;display:block;font-size:12px;}
	.user-footer .navbar-inner{padding:0 10px;}
	.user-footer .pull-right button{margin-left:10px;}
	.user-footer .pull-left button{margin-right:10px;}
	/*快捷菜单*/
	.footer-menu{position:fixed;bottom:10px;left:10px;}
	.footer-menu .menu-button{color:#00AFF0; background:#FFF; font-size:50px; width:43px; height:43px; position:relative;}
	.footer-menu .menu-button i{margin-top:-3px; position:absolute;}
	.footer-menu .menu-main{background:rgba(0, 0, 0, 0.1); padding:2px; display:none; margin-bottom:10px;}
	.footer-menu .menu-main ul{margin:0; background:#FFF; border:1px #CCC solid; position:relative; overflow:hidden;}
	.footer-menu .menu-main a{padding:0 10px;text-decoration:none;border-bottom:1px #CCC solid;display:block;height:30px;line-height:30px;position:relative;margin-bottom:-1px; font-size:14px;}
	.footer-menu .menu-main a i{margin-right:10px; color:#00AFF0;}
	.footer-menu .menu-main a span{color:#333;}
	/*tab菜单*/
	.nav-tabs{background:#EEE; margin-bottom:0;}
	.nav-tabs a{color:#333;}
	.nav-tabs .active{border-top:2px #ed2f2f solid;position:relative;margin-top:-2px;}
	.nav-tabs .active a{webkit-border-radius:0;-moz-border-radius:0;border-radius:0;margin-right:0;border-right:0;border-left:0;border-top:1px #FFF solid;}
	.tab-content{padding:0;}
	/*表单样式*/
	.form-table{width:100%;}
	.form-table th{width:20%; text-align:left; color:#666; vertical-align:top; padding-top:5px;}
	.form-table td{width:80%; padding-bottom:10px;}
	.form-table .submit{width:100%; margin-top:10px;}
	/*重定义bootstrap样式*/
	select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{width:100%; margin-bottom:0; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
	input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{height:30px;}
	.input-append, .input-prepend{width:100%; margin-bottom:0;}
	select{padding:0 5px; line-height:28px; -webkit-appearance:button;}
	.checkbox.inline{margin-top:0;}
	.checkbox.inline + .checkbox.inline {margin-left:0;}
	.checkbox input[type="checkbox"]{filter:alpha(opacity:0); opacity:0;}
	.file{position:relative;}
	.file input[type="file"]{position:absolute; top:0; left:0; width:100%; filter:alpha(opacity:0); opacity:0;}
	.file button{width:100%; text-align:left;}
	.form-item{border-left:3px #ED2F2F solid; padding-left:10px; height:30px; line-height:30px; background:#F7F7F7; margin-bottom:10px;}
	/*适应手机端的div样式*/
	.mobile-div{border:1px #CCC solid; margin:10px 5px; background:#FFF; overflow:hidden;}
	.mobile-hd{height:35px;		line-height:35px;padding:0 10px;color: #666;text-shadow: 0 1px #FFF;border-bottom:1px solid #C6C6C6;background-color:#E1E1E1;background-image: linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);background-image: -o-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);background-image: -moz-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);background-image: -webkit-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);background-image: -ms-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%);background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #E7E7E7),color-stop(1, #f9f9f9));-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;-o-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
	.mobile-hd i{line-height:35px;}
	.mobile-content{margin:10px; overflow:hidden;}
	.mobile-content .help-block{margin-bottom:0; margin-top:3px; color:#AAA;}
	.mobile-div .collapse .mobile-content{margin-top:0; padding:0 5px; color:#666; border-left:3px #EEE solid; background:#F9F9F9;}
	.mobile-img img{width:100%;}
	.mobile-submit{margin:0 5px;}
	.mobile-li{display:block; text-decoration:none; color:#666; height:35px; line-height:35px; font-size:14px; padding:0 10px; border-top:1px #CCC solid;}
	.mobile-li:first-child{border-top:0;}
	.mobile-li i{line-height:35px;}
	.mobile-li:hover{text-decoration:none; color:#333;}
	.mobile-li .btn.pull-right,.mobile-li .btn.pull-left{margin-top:6px;}
	.alert.mobile-alert{overflow:hidden; margin:10px 5px 0 5px;}
	.alert.mobile-alert h4{line-height:25px; text-align:center;}
	/*手机端导航*/
	.navbar .nav > li > a{padding:10px 10px 10px;}
	/*手机端分页*/
	.pagination ul > li > a, .pagination ul > li > span{padding:10px 5px;}
	/*提示信息*/
	.message{margin:10% 10px 40% 10px; overflow:hidden; padding-left:80px;}
	.message i{float:left; font-size:60px; margin-left:-70px;}
	.message h3{line-height:30px;}
	.message span{color:#666; font-size:14px; line-height:23px; display:block;}
	/*商家信息*/
	.business .accordion-toggle span{display:inline-block; width:80px; margin-right:5px; font-weight:bold;}
	.business .accordion-toggle{background:#F7F7F7;}
	/*风格设置*/
	
/* 模版风格开始 */
.cent-cent {position: absolute;left: 0px;top: 20%;text-align: center;width: 100%;}
.tu{	width:200px;	margin:auto;	position:relative;}
.gongsi{	position: absolute;	left: 44px;	top: 25px;	-webkit-transform: rotate(-39deg);}
.nei span{	display:block;	text-align:center;	font-weight:600;	color:#444;	font-size: 12px;	height: 21px;	font-weight:900;}
.cent-cent .nei  img{width: 30px;height: 30px;}
.zixun{	position: absolute;	left: 111px;	top: 22px;	-webkit-transform: rotate(37deg);}
.dianli{	position: absolute;	left: 140px;	top: 81px;	-webkit-transform: rotate(91deg);}
.renli{position: absolute;left: 44px;top: 140px;-webkit-transform: rotate(216deg);}
.qiye{	position: absolute;left: 111px;top: 135px;-webkit-transform: rotate(148deg);}
.gongzuo{position: absolute;left: 6px;top: 80px;-webkit-transform: rotate(263deg);}
.mapsize{font-size:20px;}
.cent-cent div.home {position: absolute;left: 85px;top: 87px;}
.bottomlink{display:block;width:25%;float:left;text-align:center;color:#fff;font-weight:bold;}
.bottomlink:hover,.bottomlink:link,.bottomlink:visited{color:#fff;}
.bottomlink i{font-size:20px;display:block;}