/* index */
.swipe{position: relative; /*width: 320px;*/ margin: 0 auto;overflow: hidden;}
.swipe li{position: relative; float: left; /*width: 320px;*/ overflow: hidden;}

/*@media only screen and (min-width: 360px) {
	.swipe, .swipe li{width: 360px;}
}
@media only screen and (min-width: 420px) {
	.swipe, .swipe li{width: 420px;}
}
@media only screen and (min-width: 480px) {
	.swipe, .swipe li{width: 480px;}
}
@media only screen and (min-width: 640px) {
	.swipe, .swipe li{width: 640px;}
}*/

.swipe li canvas{position: absolute; left: 0; top: 0; z-index: -1; /*width: 100% !important; height: 100% !important;*/}
.swipe li a{display:block; height: 345px; padding: 40px 46px;text-align: center;}
.swipe li a span{display: inline-block; height: 100%; overflow: hidden; -webkit-box-shadow: 0 0 16px #000;}
.swipe li img{display: block; height: 100%; margin:auto!important;  max-width: 100%;}

.swipe_btn{position: absolute; left: 11px; top: 50%; margin-top: -21px; width: 27px; height: 42px; background-image: url(../img/v93_s.png); background-repeat: no-repeat; background-size: 97px auto; vertical-align: middle; background-position: -40px 0; display: none; z-index: 11;}
.swipe_btn.next{left: auto; right: 11px; background-position: -70px 0;}

.link_list{overflow: hidden; min-height: 80px;}
.link_list li{float: left; width: 25%;}
.link_list div{margin:0 auto;display: table; width: 100%; vertical-align: middle; line-height: 1;}
.link_list a{display: table-cell; height: 80px; font-size: 12px; text-align: center; vertical-align: middle;}
.link_list a p{margin-bottom: 10px;}
.link_list a img{max-height: 23px;}
.link_list a i{font-size: 22px;}

footer .copyright{
	line-height:25px;
	display: block;
	color:#000000;
	text-align:center;
	padding:5px;
	overflow: hidden;
}