.nav93{position: fixed; right: 0; /*right: -235px;*/ top: 0; z-index: 2000;}
.nav93 ul{display: none; width: 0; height: 100%; -webkit-box-sizing: border-box; padding-top: 60px; overflow: hidden;}
.nav93 li a{display: block; width: 235px; height: 50px; line-height: 50px; padding-left: 15px; font-size: 16px; color: #fff; margin-bottom: 1px;}
.nav93 li a i{margin-right: 8px; font-size: 18px;}
.nav93_btn{position: absolute; right: 10px; top: 11px; width: 34px; height: 34px; background: url(../img/nav93.png) no-repeat; background-size: 34px auto; border-radius: 34px; z-index: 10;}

/* skin */
.orange .nav93_btn, .orange .nav93 a{background-color: #ff775d;}
.blue .nav93_btn, .blue .nav93 a{background-color: #63adca;}
.purple .nav93_btn, .purple .nav93 a{background-color: #7371a5;}

.orange .nav93 ul{background-color: #ff7054;}
.blue .nav93 ul{background-color: #5ba9c7;}
.purple .nav93 ul{background-color: #6b69a0;}