body {
            margin: 0;
            -webkit-user-select: none;
            -webkit-text-size-adjust: none;
 background-color: #000;
        }

        #wrapperScroll {
            position: absolute;
            z-index: 1;
            top: 45px;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #555;
            overflow: hidden;
            background-color: transparent;
        }

        #wrapperScroller {
            background-color: transparent;
        }

        #pullDown, #pullUp {
            font-family: "微软雅黑";
            padding: 15px 0;
            font-size: 15px;
            text-align: center;
            display: none;
            color: #666;
        }

            #pullDown i, #pullUp i {
                display: block;
                font-size: 30px;
            }