.Template {
                    background-color: #000;
                    padding-bottom: 1px;
                    clear: both;
                }
                /*轮换图*/
                #Templatebanner {
                    cursor: pointer;
                }

                #Templatebanner {
                    width: 320px;
                    height: 120px;
                    overflow: hidden;
                    overflow: hidden;
                    position: relative;
                    margin: 0 auto;
                }

                .guideImgbox {
                    position: absolute;
                }

                    .guideImgbox img {
                        width: 320px;
                        height: 120px;
                        float: left;
                        margin: 0;
                        padding: 0;
                        display: block;
                    }

                #Templatebanner > ol {
                    background-color: rgba(0, 0, 0, 0.3);
                    height: 20px;
                    margin-top: 100px;
                    padding: 0;
                    position: relative;
                    text-align: center;
                    z-index: 10;
                }

                    #Templatebanner > ol > li {
                        background-color: #757575;
                        border-radius: 8px;
                        display: inline-block;
                        height: 8px;
                        margin: 5px;
                        width: 8px;
                    }

                #Templatebanner .on {
                    background-color: #fff;
                }
                /*版块*/
                #TempContainer {
                    background: url("../images/leftIcon.png") repeat-y scroll left 0;
                    display: block;
                    margin: 10px;
                    padding-left: 30px;
                }

                .Templist {
                    border-radius: 4px;
                    background-color: #ffffff;
                    border: 1px solid #B6B9C6;
                    margin-bottom: 7px;
                    display: block;
                    height: 60px;
                    margin-top: -1px;
                    opacity: 1;
                    padding: 5px 5px 5px 15px;
                    position: relative;
                }

                    .Templist:before {
                        border-bottom: 7px solid rgba(0, 0, 0, 0);
                        border-right: 10px solid #B6B9C6;
                        border-top: 7px solid rgba(0, 0, 0, 0);
                        content: "";
                        display: inline-block;
                        position: absolute;
                        left: -10px;
                        top: 7px;
                    }

                    .Templist:after {
                        border-bottom: 6px solid rgba(0, 0, 0, 0);
                        border-right: 9px solid #FCF8E3;
                        border-top: 6px solid rgba(0, 0, 0, 0);
                        content: "";
                        display: inline-block;
                        position: absolute;
                        left: -9px;
                        top: 8px;
                    }

                    .Templist .imgWrap {
                        float: right;
                        height: 54px;
                        text-align: center;
                        line-height: 54px;
                        visibility: visible;
                        width: 54px;
                        font-size: 50px;
                        padding-top: 4px;
                        padding-right: 5px;
                    }

                .imgWrap img {
                    width: 54px;
                    height: 54px;
                    display: block;
                    overflow: hidden;
                }

                .Templist span {
                    color: #2B2B2B;
                    display: block;
                    font-family: '微软雅黑';
                    font-size: 18px;
                    line-height: 20px;
                    overflow: hidden;
                    padding: 7px 30px 0 10px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .Templist label {
                    color: #797979;
                    display: block;
                    font-family: '微软雅黑';
                    font-size: 12px;
                    line-height: 20px;
                    overflow: hidden;
                    padding: 0 30px 0 10px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                /*占位符*/
                .placeholder {
                    height: 60px;
                    width: 263px;
                    margin-bottom: 7px;
                    background-color: white !important;
                    border: dashed 3px #f00 !important;
                }

                .placeholder1 {
                    height: 200px;
                    width: 370px;
                    background-color: white !important;
                    border: dashed 3px #f00 !important;
                    margin: 10px auto 0 auto;
                }

                .childItem_sel:before {
                    border-bottom: 7px solid rgba(0, 0, 0, 0);
                    border-right: none;
                    border-left: 10px solid #C09853;
                    border-top: 7px solid rgba(0, 0, 0, 0);
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: none;
                    right: -10px;
                    top: 7px;
                }

                .childItem_sel:after {
                    border-bottom: 6px solid rgba(0, 0, 0, 0);
                    border-right: none;
                    border-left: 9px solid #FCF8E3;
                    border-top: 6px solid rgba(0, 0, 0, 0);
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: none;
                    right: -9px;
                    top: 8px;
                }

                body {
                    margin: 0;
                }

                #Templatebanner, .guideImgbox, .guideImgbox img {
                    width: 100%;
                }

                    .guideImgbox a {
                        display: block;
                        float: left;
                    }

               

                .mask-pointer {
                    position: fixed;
                    right: 40px;
                    top: 0;
                }

                .Templist {
                    display: block;
                    color: #333;
                    text-decoration: none;
                }

            
             
                .guideImgbox a {
                    width: 100%;
                }