{template 'header'}
<style>
body{background: #F5F5F5;}
#replystatus{display:none;}
.weui-media-box__hd img{border-radius: 5px;}
.weui-panel{    margin-top: 0;}
.weui-media-box .weui-cell__ft {
  padding-right: 13px;
  position: relative;
}
.weui-media-box .weui-cell__ft:after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}
</style>

<div class="weui-panel weui-panel_access">

            <div class="weui-panel__bd">
			
			{loop $list $row}
                <a href="{php echo $this->createMobileUrl('view', array('id' => $row['id'],'rid' => $row['rid']))}" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="{$row['avatar']}" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">{$row['name']}</h4>
                        <p class="weui-media-box__desc">{$row['introduction']}</p>
                    </div>
					<span class="weui-cell__ft"></span>
                </a>
            {/loop}
			
			{if $list[0]==""}
				<div class="weui-msg">
						<div class="weui-msg__icon-area"><i class="weui-icon-waiting weui-icon_msg"></i></div>
						<div class="weui-msg__text-area">
							<h2 class="weui-msg__title"style=" color: #ccc;">暂无数据</h2>
							
						</div>

				</div>			
			{/if}
            </div>


        </div>
<div class="pager-position" style="padding:0 10px;">{$pager}</div>

{template 'footer'}