@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/UyYrYy3ltEffJV9QueSi4UpeNX8RPf6i6WQfJWyCWEs.ttf) format('truetype');
}
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 700;
  src: local('Volkhov Bold'), local('Volkhov-Bold'), url(http://fonts.gstatic.com/s/volkhov/v8/bfl1JD3mxnmq4NrdCJOHxS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Volkhov';
  font-style: italic;
  font-weight: 400;
  src: local('Volkhov Italic'), local('Volkhov-Italic'), url(http://fonts.gstatic.com/s/volkhov/v8/Y_Jmwi-iHxNj27PG4ILsdaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
