.gray { color: #9fa6ad; }
.explainCenter {background-color:#f0f0f0;padding-top:10px;}
.pd10 { padding: 10px 10px 5px 0; }
.title { font-size: 15px; }
.topInfo p, dl { line-height: 20px; margin-bottom: 7px; font-size: 12px; }
.topInfo dl dt { float: left; }
.topInfo dl dd { margin-left: 42px; }
.detailInfo { padding-left:15px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#fff;margin-bottom:0px;}
.detailInfo h1 { background-color: #fff; font-size:15px;color:#333;font-weight:500;height:39px;line-height:39px;border-bottom:1px solid #ccc;}
.detailInfo div:last-child p { border: none; }
table tr td { padding: 3px 0; font-size: 12px; color: #777; }
table { width: 100%; margin: 5px 0 5px 0; }
.commonImg { color:#777;margin-right:5px;background: url(/addons/yc_hotelmanger/template/style/images/final_pic.png) no-repeat;  display: inline-block; width: 16px; height: 16px; vertical-align: middle; }
.img01 { background-position: 0 -223px; }
.img02 { background-position: 0 -42px; }
.img06 { background-position: 0 -72px; }
.img04 { background-position: 0 -191px; }
.img07 { background-position: 0 -134px; }
.img05 { background-position: 0 -163px; }
.img03 { background-position: 0 -104px; }
.img08 { background-position: 0 -279px; }
.img09 {background-position: 0 -312px;}
.img10 {background-position: 0 -250px;}
.img11 {background-position: 0 -340px;}
.lh22 { line-height: 20px; }
.dash { border-top: 1px dashed #C5C5C5; }
.sbtn { display: block; font-size: 18px; height: 44px; line-height: 44px; text-align: center; color: #fff; margin: 0px; background: #fe932b; width:100%; position: fixed;left: 0;bottom: 0;}
.sbtn:visited{color:#fff;}
.more { float: right; color: #9ea5ac; position: relative; padding-right: 14px;margin-right:10px;}
#cur { -webkit-transform: rotate(-180deg);}
.more s {
    width: 0;
    height: 0;
    border-width: 6px 6px 0;
    border-style: solid;
    border-color: #b4b4b4 transparent transparent;
    margin: 0px auto;
    position: absolute;
    top: 7px;
}
.gongli { position: absolute; right: 0px; top: 0; padding-right: 20px; }
.tra_left { display: inline-block; width: 9px; height: 13px; overflow: hidden; position: absolute; right: 6px; top: 15px; background: url(/addons/yc_hotelmanger/template/style/images/icon_you.png) no-repeat; background-size: 9px 13px; -moz-transition: -moz-transform .2s ease-in; -webkit-transition: -webkit-transform .2s ease-in; -o-transition: -o-transform .2s ease-in; transition: transform .2s ease-in; -moz-transform: rotate(90deg); -moz-transform-origin: 50% 50%; -webkit-transform: rotate(90deg); -webkit-transform-origin: 50% 50%; -o-transform: rotate(90deg); -o-transform-origin: 50% 50%; transform: rotate(90deg); transform-origin: 50% 50%; }
.tra_left.return { -moz-transform: rotate(-90deg); -moz-transform-origin: 50% 50%; -webkit-transform: rotate(-90deg); -webkit-transform-origin: 50% 50%; -o-transform: rotate(-90deg); -o-transform-origin: 50% 50%; transform: rotate(-90deg); transform-origin: 50% 50%; }
.line { padding: 0 10px; position: relative; line-height: 44px; border-bottom: 1px solid #CDD7E0; }
.line .l { display: block; padding-right: 85px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; }
.line_info { background-color: #fff; padding: 12px; font-size: 12px; color:#777;}
.none { display: none; }
.fixedbtn{position: fixed; left: 0px; bottom: 0px; width: 100%;}
.ssfw_tit{color:#777;font-size:14px;height:34px;line-height:34px; }
.color_cnt{color:#777;}
body{background-color:#f0f0f0;}
div.sbtn{
    background: none repeat scroll 0 0 #fe932b;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-top: 11px;
    text-align: center;
    width: 80%;
}
div.sbtn:hover{
    background-color:#ff8400;
}
div.sbtn:visited{
    color:#fff;
}
.trafic{
    float: right;
    color: #9ea5ac;
    position: relative;
    padding-right: 14px;
    margin-right:10px;
}
.trafic #taficcur {
    -webkit-transform: rotate(0deg);
}
.trafic s {
    width: 0;
    height: 0;
    border-width:0 6px 6px;
    border-style: solid;
    border-color:#b4b4b4 transparent #b4b4b4 transparent;
    margin: 0px auto;
    position: absolute;
    top: 7px;
    -webkit-transform: rotate(-180deg);
}