.temaihui {
    width: 100%;
    max-width: 540px;
    height: auto;
    margin: 0 auto;
    margin-top: 4px;
    background-color: white;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    padding: 5px 0 0 0;
}
.temaihui .hd {
    overflow: hidden;
}
.temaihui .bd .sales_item {
    float: left;
    position: relative;
    background-color: #F9F9F9;
}
.temaihui .bd .pic {
    position: relative;
}
.temaihui h3 {
    float: left;
    width: 80px;
    height: 17px;
   
}
.temaihui .fuli a {
    display: block;
    width: 102px;
    height: 20px;
    background-image: -webkit-linear-gradient(left,#ffa93a,#ffd35c);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    line-height: 20px;
}
.temaihui .bd .baokuan_box {
    width: 50%;
    height: 175px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 2px solid white;
}
.temaihui .bd .pic img {
    width: 100%;
    height: 117px;
}
.temaihui .hd img{
   width: 40px;
    height: 20px;
    margin: 2px 0 0 5px;

}
.temaihui .bd h4 {
    font-size: 14px;
    width: 100%;
    min-height: 20px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 2px 4px;
    height: auto;
    
}
.temaihui .bd .cut {
    border-radius: 10px;
    background: #fd3a51;
    padding: 0px 4px;
    font-size: 12px;
    color: white;
    margin-left: 4px;
}
.temaihui .bd .addr{
    color: #999;
    font-size: 14px;
    margin-left: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 20px;
}
.temaihui .hongbao a {
    display: block;
    width: 102px;
    height: 20px;
    background-image: -webkit-linear-gradient(left,#ff4e63,#ff6cc9);
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    line-height: 20px;
    margin: 2px 5px 0 0;
}

.temaihui .hongbao {
    float: right;
}
.search{
    margin-bottom: 5px;width: 92%;
}


 .hotel_time_wrap input[type="text"]{
    width: 85%;
    border: none;
    text-align: center;
    padding: 0;
    margin: 0;
    }
 .search {
margin:0px;width: 75%;
margin-bottom: 5px;
float: left;

 }
 .hotel_time_wrap .tjdd{ 
      width: 25px;
    height: 30px;
    background: url("../images/search-ico.png") no-repeat bottom;
    border: none;
    float: right;
    background-size: contain;
    margin: 5px 10px 0 0;
}
.hotel_time_wrap{
    margin:0;
    padding:0;
    background: #fff;
}



.hotel_time {
    margin:0;
}
.calendar-tips{
    top:10% !important;
}

.swiper-slide img {
   width: 280px;
   height: 200px;
}
.swiper-slide .name {
   
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.swiper-slide .price {
    color: #FF0033;
    font-weight: 600;
}
.swiper-slide .mprice{
    float: left;
}
.swiper-slide .oprice {
    color: #999;
    font-size: 14px;
    text-decoration: line-through;
    float: right;
}
.swiper-slide .addresstag, .swiper-slide .price{
   clear: both;
   width:100%;
   height:20px;
}
.swiper-slide .tag{
    float: left;
    color: #999;
}
.addresstag span{
    color: #999;
}
.swiper-slide .credit {
    color: #f63;    
    border-radius: 10px; 
    padding:0 2px; 
    float: right;
    font-size: 12px;
}
.xshead img{
    width:100px;
    height:30px;
    border:none;
}
.xshead {
  width: 100%;
    text-align: center;
    background: #fff;
    height: 36px;
   
   
}
.swiper-slide{
 width:75% !important;
 border:1px solid #D6D2D2;
  padding: 0 0 5px 0;
   background: #fff;
  margin: 0 5px;
}

.swiper-slide .swiper-detail{
    padding: 0 5px 5px 5px;
    margin-top:4px;
 background: #fff;
}
.xsqg{
 background: #fff;
    padding: 5px 0 8px 0;
    margin: 5px 0;
  
}


/*首页广告*/
.focus{ max-width:100%;  margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:10px;  position:absolute; z-index:1; top:185px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; font-size:0; vertical-align:top;
}
.focus .hd ul li{ display:inline-block; width:6px; height:6px; background:#8C8C8C; margin:0 5px; border-radius:100%; vertical-align:bottom; overflow:hidden;   }
.focus .hd ul .on{ background:#F60;  }
.focus .bd{ position:relative; z-index:0;text-align:center; }
.focus .bd ul,.focus .bd ul li,.focus .bd ul li a{padding:0; margin:0; }
.focus .bd ul li{padding:0; margin:0; }
.focus .bd li img{ width:100%; background:url(../images/loading.gif) center center no-repeat; height: 200px; }
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
