#introduce_newPage{
	overflow: hidden;
}
#introducePage{
	overflow: hidden;
}
.introduce_wrapper{
	background-color: #efeff4 !important;
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
}
.ficility_wrap,.traffic_wrap,.intro_wrap{
	overflow: hidden;
	background: #fff;
}
.traffic_wrap,.intro_wrap{
	margin-top: 10px;
}
.intro_title,.traffic_title,.introduce_title{
	font-size: 16px;
	color: #333;
	line-height: 40px;
	margin-left: 15px;
	box-sizing: border-box;
}
.facilities{
	margin: 0 15px;
	height: 117px;
}
.facilities ul li {
    float: left;
    width: 33.3%;
    margin-top: 14px;
}
.facilities ul li span{
	float: left;
	margin-right: 6px;
	margin-top: 3px;
}
.more-facility {
    height: 40px;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    box-sizing:border-box ;
    text-align: center;
}
.more-facility em{
	margin-left: 5px; 
}
.intro_address{
	position: relative;
    font-size: 14px;
    height: 45px;
    color: #666;
    line-height: 45px;
    margin: 0 15px;
    overflow: hidden;
}
.intro_address em{
	position: absolute;
    margin-top: 15px;
    top: 0;
    right: 0; 
}
.introduce_detail p{
	margin: 14px 15px 0;
	font-size: 14px;
	color:#666;
	line-height: 16px;
}
.introduce_detail p:last-child{
	padding-bottom: 80px;
	line-height: 20px;
}
.introduce_book{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55px;
	font-size: 18px;
	color: #fff;
	background-color: #09bb07;
	text-align: center;
	line-height: 55px;
	z-index: 1001;
}
.introduce_book a{
	color: #fff;
    display: block;
	height: 100%;
	width: 100%;
}
.height{
	height: 77px;
    overflow: hidden;
}
.icon-address{
	float: left;
    width:15px;
    height: 20px;
    margin: 12px 7px 0 0;
    background: url(http://img1.40017.cn/cn/sl/dzs-wxhotel/detail/icon-address.png) no-repeat;
    background-size: 15px 20px;
}