/* css reset */
html,body {
    background: #f0f0f0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.none {
    display: none;
}

.wrap {
    padding-top: 10px;
    color: #f0f0f0;
}

.t-head {
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
}

.t_name {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 8px 15px 0 15px;
}

.t-date {
    padding: 2px 15px;

}
.t-date-left{
    /* float: left; */
    /* margin: auto 5px; */
    /* padding-top: 10px; */
    width: 320px;
}
.t-date-left p{
     color: #666;
    float: left;
    font-size: 14px;
    height: 22px;
    line-height: 32px;
    margin: 0 5px;
}
.t-right {
    background-color: #ca1119;
    border: 1px solid #ccc;
    border-radius: 5px; 
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px; 
    padding: 0 15px 0 10px;
}
.t-return{
    float:right;
    width:74px;
    font-size:12px;
    color:#999;
    text-decoration:underline;
    line-height:18px;    
    margin-top:3px; 
}
.order-write {
    /* border: 1px solid #eee; */
    /* border-left: none; */
    /* border-right: none; */
    background: #fff;
	/* margin: 2px auto; */
    /* width: 90%; */
}

.order-write .fn-clear {
    height: 43px;
    border-bottom: 1px solid #eee;
    margin-left: 15px;
    font-size: 14px;
    color: #777;
    line-height: 42px;
    overflow: hidden;
    position: relative;
}

.order-write .last_fn {
    border-bottom: none;
}

.o-select, .end_time {
    font-size: 14px;
    float: right;
    color: #333;
}

.o-select:after, .end_time:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/addons/yc_hotelmanger/template/style/images/icon_arrow.png) no-repeat 0px 7px;
    background-size: 30px 30px;
    float: right
}

.order-write #contactname, .order-write #contactmobile {
    width: 65%;
    height: 43px;
    border: none;
    color: #333;
    outline: none;
    padding-left: 15px;
    float: left;
    background: transparent;
}
.fl{
    float: left;
}
.order-write .nameTip {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 42px;
    height: 42px;
    background: url(/addons/yc_hotelmanger/template/style/images/ask1.png) no-repeat center;
    background-size: 100% 100%;
}

.o-tip {
    background-color: #f0f0f0;
    color: #777;
    margin-bottom: 60px;
}
.o-tip .o-tipcu {
    height: 14px;
    border-radius: 1px;
    color: #fff;
    line-height: 14px;
    text-align: center;
    font-size: 10px;
    background-color: #0878cf;
    display: block;
    position: absolute;
    left: 10px;
    margin-top: 2px;
    padding: 0 3px;
}
.o-tip .o-tipdb {
    width: 30px;
    height: 14px;
    border-radius: 1px;
    color: #fff;
    line-height: 14px;
    text-align: center;
    font-size: 10px;
    background-color: #ffaa2d;
    display: block;
    position: absolute;
    left: 10px;
    margin-top: 2px;
}

.o-tip .o-tipfuf {
    width: 30px;
    height: 14px;
    border-radius: 1px;
    color: #fff;
    line-height: 14px;
    text-align: center;
    font-size: 10px;
    background-color: #50c3eb;
    display: block;
    position: absolute;
    left: 10px;
    margin-top: 2px;
}

.o-tip p {
    padding: 0 15px;
    line-height: 20px;
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

.o-tip .o-tip1 {
    padding: 10px 15px 10px 10px;
}

.o-tip .o-tip2 {
    padding: 10px 15px 10px 48px;
}
.o-tip .o-tip3 {
    padding: 10px 15px 10px 58px;
}
.o-tip p .f_tb {
    margin-right: 14px;
}

.o-tip p .j_tb {
    margin-right: 14px;
}

.order-btn {
    width: 100%;
    height: 50px;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}

.order-btn1 {
    width: 100%;
    height: 50px;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
}

.noprice {
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    position: fixed;
    left: 0;
    bottom: 0;
}

.order-btn .order-price {
    font-size: 15px;
    line-height: 50px;
    font-size: 18px;
    color: #333;
    font-weight: ;
    margin-left: 15px;
}

.noprice .order-price {
    font-size: 15px;
    line-height: 50px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-left: 15px;
}

.order-btn1 .dbprice {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-left: 15px;
    padding-top: 4px;
}

.order-btn1 .pbprice {
    font-size: 12px;
    color: #333;
    font-weight: bold;
    margin-left: 15px;
}
/*.pbprice{
    float: left;
}*/
#totalPrice, #DBPrice {
    color: #f63;
}

.order-btn1 #totalPrice {
    color: #333;
}

.tjdd {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    background-color: #ff6634;
    color: #fff;
    font-size: 18px;
    top: 5px;
    right: 10px;
    border-radius: 2px;
}

.order-btn1 .tjdd {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    background-color: #ff8400;
    color: #fff;
    font-size: 18px;
    top: 5px;
    right: 10px;
    border-radius: 25px;
}

.noprice .tjdd {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    background-color: #eee;
    color: #fff;
    font-size: 18px;
    top: 5px;
    right: 10px;
    border-radius: 25px;
}

.f_tb {
    width: 18px;
    height: 14px;
    display: inline-block;
    background-color: #fe932b;
    color: #fff;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    -moz-border-radius: 1px;
    /* Gecko browsers */
    -webkit-border-radius: 1px;
    /* Webkit browsers */
    border-radius: 1px;
    /* W3C syntax */
}

.j_tb {
    width: 18px;
    height: 14px;
    display: inline-block;
    background-color: #83bf10;
    color: #fff;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    -moz-border-radius: 1px;
    /* Gecko browsers */
    -webkit-border-radius: 1px;
    /* Webkit browsers */
    border-radius: 1px;
    /* W3C syntax */
}

#roomnum p, #timeroome p {
    height: 42px;
    color: #333;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    background-color: #fff;
    -moz-border-radius: 5px 5px 0 0;
    /* Gecko browsers */
    -webkit-border-radius: 5px 5px 0 0;
    /* Webkit browsers */
    border-radius: 5px 5px 0 0;
    /* W3C syntax */
}

#roomnum ul li, #timeroome ul li {
    height: 42px;
    border-top: 1px solid #eee;
    color: #333;
    padding-left: 15px;
    font-size: 16px;
    line-height: 42px;
    background-color: #fff;
}

#roomnum ul li.at:after, #timeroome ul li.at:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/addons/yc_hotelmanger/template/style/images/nike.png) no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-right: 15px;
}

.namets {
    background-color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
    line-height: 24px;
}

div.ui-dialog div.ui-dialog-title h3 {
    text-align: center;
}

.tis {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.tise {
    padding: 20px;
    padding-bottom: 0px;
    font-size: 14px;
    color: #333;
}

div.ui-dialog div.ui-dialog-content {
    padding: 0;
}

#wrong {
    text-align: center;
    color: #333;
    font-size: 14px;
    padding-top: 20px;
}

#wrong1 {
    text-align: center;
    color: #333;
    font-size: 14px;
    padding-top: 20px;
}

#priceInfo {
    width: 175px;
    position: relative;
}
@media screen and (min-width: 360px) {
    #priceInfo {
        width: 190px;
    }
}
#submitBtn {
    border-top: 1px solid #eee;
    z-index: 9998;
}

.jt_top {
    background: url(/addons/yc_hotelmanger/template/style/images/jt_all.png) no-repeat;
    width: 13px;
    height: 7px;
    /*float:left;margin-left:3px;margin-top:21px;*/
    position: absolute;
    top: 21px;
    right: 0;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.jt_down {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

.tc_mx {
    background: #fff;
    padding: 3px 0 0 15px;
    bottom: -250px;
    position: fixed;
    width: 100%;
    z-index: 9997;
    display: none;
}

.tc_mx_tit {
    height: 44px;
    border-bottom: 1px solid #eee;
    line-height: 44px;
    font-size: 14px;
}

.tc_mx_cnt {
    max-height: 162px;
    overflow: hidden;
}

.tc_mx_jg {
    font-size: 12px;
    color: #666;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #eee;
}

.tc_mx_cnt ul li {
    height: 40px;
    line-height: 40px;
}

.tc_mx_cnt ul li p {
    width: 33%;
    float: left;
    font-size: 14px;
    color: #777;
}

.overlys {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 97;
}

#pageLoading, .page-loading {
    z-index: 9999;
}

div.ui-dialog {
    z-index: 10000;
}

div.ui-mask {
    z-index: 9999;
}
/*book1港澳*/
.fn_left {
    position: absolute;
    width: 85px;
    top: 50%;
    margin-top: -21px;
}

.fn_right {
    padding-left: 85px;
    overflow: hidden;
}

.contactname1 {
    width: 100%;
    height: 43px;
    border: none;
    color: #333;
    outline: none;
    padding-left: 15px;
    border-bottom: 1px solid #eee;
}

.lasta {
    border-bottom: none;
}

.order-write .fn-clear1 {
    border-bottom: 1px solid #eee;
    margin-left: 15px;
    font-size: 14px;
    color: #777;
    line-height: 42px;
    position: relative;
}

.order-write input.telephone {
    padding-left: 57px;
}
/*book2样式*/
.one {
    padding-left: 15px;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    background-color: #fff;
    margin-bottom: 10px;
}

.notop {
    border-top: none;
}

.w-item {
    height: 44px;
    border-bottom: 1px solid #eee;
}

.no_boder {
    border-bottom: none;
}

.in-item {
    line-height: 44px;
}

.in-item dt {
    float: left;
    width: 25%;
}

.in-item dd {
    float: left;
    overflow: hidden;
    position: relative;
    width: 75%;
}

.in-item dd span {
    display: block;
    text-align: left;
    color: #eee;
    font-size: 14px;
}

.icon-right {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    background: url(/addons/yc_hotelmanger/template/style/images/icon_arrow.png) no-repeat -6px 7px;
    background-size: 30px 30px;
}

.in-item dd input {
    width: 100%;
    margin-right: -15px;
    height: 44px;
    border: 0;
    background: 0;
    outline: 0;
    box-shadow: none;
    border-radius: none;
}

.in-item .nameTip {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 43px;
    height: 43px;
    background: url(/addons/yc_hotelmanger/template/style/images/ask.png) no-repeat center;
    background-size: 100% 100%;
}

.two {
    padding-left: 15px;
    font-size: 12px;
    color: #46d264;
    height: 40px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

#TPage {
    background-color: #fff;
}

#TPage ul {
    padding-left: 15px;
}

#TPage ul li {
    height: 44px;
    border-bottom: 1px solid #eee;
    line-height: 44px;
}

#tc1 {
    padding: 20px 20px 0 20px;
}


.tc2_tit {
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #eee;
}

.tc2_box_ul li {
    border-bottom: 1px solid #eee;
    height: 44px;
    font-size: 16px;
    color: #333;
    line-height: 44px;
    padding-left: 15px;
}

.tc2_box_ul li.at:after, #TPage ul li.at:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/addons/yc_hotelmanger/template/style/images/nike.png) no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-right: 15px;
}

.tc2_box_ul li.last {
    border-bottom: none;
    height: 44px;
}

#tc3 {
    padding: 15px 15px 0 15px;
}

#tc3 p {
    font-size: 14px;
    color: #333;
    line-height: 24px;
}

#tc4 {
    text-align: center;
    padding-top: 20px;
}

span#count1 {
    color: #333;
}
/*book3样式*/


.order_info_box {
    padding-left: 15px;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    background-color: #fff;
}

.order_info_box p {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
}

.order_info_box a {
    display: block;
    padding: 10px 0;
    color: #333;
}

.order_info_box a:hover {
    text-decoration: none;
}

.order_info_box a:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/addons/yc_hotelmanger/template/style/images/icon_arrow.png) no-repeat 2px 7px;
    background-size: 30px 30px;
    float: right;
    margin-top: -33px;
    margin-right: 10px;
}

.recommend {
    padding: 10px 10px 13px 10px;
    color: #777;
    font-size: 12px;
    line-height: 24px;
    border-bottom: 1px dashed #eee;
}

.recommend a {
    color: #46d264;
    font-weight: bold;
    font-size: 14px;
}

.like_box {
    padding: 0 10px;
}

.like_tit {
    font-size: 14px;
    color: #46d264;
    line-height: 20px;
    padding: 15px 5px 10px 0;
}

.like_cnt_box {
    width: 100%;
    height: 135px;
    overflow: hidden;
}

.like_cnt_warp {
    width: 360px;
    height: 135px;
}

.like_cnt_box ul li {
    width: 100px;
    height: 135px;
    float: left;
    margin-right: 18px;
}

.like_cnt_box ul li a {
    width: 100px;
    height: 135px;
    display: block;
}

.like_cnt_box ul li a img {
    width: 100px;
    height: 75px;
    display: block;
}

.like_cnt_box ul li a .cnt {
    width: 98px;
    height: 59px;
    border: 1px solid #eee;
    border-top: none;
    background-color: #fff;
}

.cnt_tit {
    font-size: 12px;
    color: #333;
    height: 27px;
    overflow: hidden;
    line-height: 15px;
    padding: 4px;
}

.cnt_pic {
    font-size: 14px;
    color: #ff8400;
    padding: 3px 6px 0 6px;
}

.cnt_pic span {
    float: right;
    color: #eee;
    font-size: 10px;
    display: inline-block;
    background: url(/addons/yc_hotelmanger/template/style/images/dingw.png) no-repeat 0 5px;
    background-size: 10px 10px;
    padding-left: 11px;
    padding-top: 2px;
}

.

.state_re1 {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #333;
    text-align: center
}

.state_re1 p {
    color: #777;
    font-size: 12px;
}

.state_re_info_box a {
    display: block;
    padding: 10px 0;
    color: #333;
}

.state_re_info_box a:hover {
    text-decoration: none;
}

.state_re_info_box a:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/addons/yc_hotelmanger/template/style/images/icon_arrow.png) no-repeat 2px 7px;
    background-size: 30px 30px;
    float: right;
    margin-top: -52px;
    margin-right: 10px;
}

.why {
    padding: 10px 15px;
}

.why p {
    color: #777;
    font-size: 12px;
    line-height: 24px;
}

.why .why_ask {
    color: #333;
}

.state_down_info_box {
    padding-left: 15px;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    background-color: #fff;
}

.state_down_info_box .state_re1 {
    border: none;
}

.book_agin {
    width: 80%;
    height: 40px;
    margin: 40px 10%;
    background-color: #46d264;
    color: #fff;
    border-radius: 3px;
    display: block;
    text-align: center;
    line-height: 40px;
}

.book_agin:hover {
    background-color: #35aa58;
}

.book_agin:visited {
    background-color: #46d264;
}

