html {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.none {
    display: none;
}
.warp{
    position: relative;
}
.warp, .warp1, .warp2 {
    margin-top: 10px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background: #fff;
    padding-left: 15px;
}

.warp1 {
    padding-left: 0;
}

.warp2 {
    padding-right: 55px;
    position: relative;
    margin: 0 0 9px 0;
}

.jt1 {
    width: 26px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 10px;
}

.jt {
    width: 26px;
    height: 24px;
    float: right;
    margin-top: 10px;
    position: relative;
}

.jt_one {
    width: 15px;
}

.jt_w {
    width: 9px;
    height: 9px;
    position: relative;
    top: 8px;
    left: 3px;
    background: #bbb;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.jt_n {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 8px;
    background: #fff;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    left: 1px;
}

.info {
    padding: 7px 0;
}

.info li {
    height: 28px;
    line-height: 28px;
    position: relative;
    padding-left: 72px;
}

.info li .info_cnt {
    color: #333;
    font-size: 14px;
}

.info li .info_tit {
    color: #999;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
}

.info li .inf0_tb {
    width: 54px;
    height: 24px;
    border-radius: 8px;
    color: #fff;
    background: #50b400;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    display: block;
    position: absolute;
    top: 2px;
    right: 15px;
}

.info li .inf0_tb1 {
    color: #999;
    background: #fff;
}

.info li .none {
    display: none;
}
.prepay{
    position: absolute;
    top:-5px;
    right: -23px;
    width: 0;
    height: 0;
    border-bottom: 35px solid #77bcfd;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 0;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}
.prepay label{
    position: absolute;
    top:11px;
    right: -32px;
    display: inline-block;
    width: 40px;
    font-size: 10px;
    color: #fff;
}
.hotel_name {
    height: 43px;
    line-height: 44px;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 15px;
}

.hotel_name .name {
    color: #333;
    font-size: 16px;
    width: 69%;
    height: 43px;
    overflow: hidden;
    display: inline-block;
}

.hotel_name .hotel_details {
    color: #999;
    font-size: 14px;
    float: right;
    padding-right: 5px;
}

.layout {
    border-bottom: 1px solid #dcdcdc;
    padding: 6px 0 6px 15px;
}

.layout ul li {
    height: 28px;
    line-height: 28px;
    position: relative;
    padding-left: 43px;
}

.layout ul li .info_cnt {
    color: #333;
    font-size: 14px;
}

.layout ul li .info_tit {
    color: #999;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
}

.address_box {
    padding: 10px 45px 10px 36px;
    position: relative;
}

.address_cnt {
    color: #333;
    font-size: 14px;
    line-height: 22px;
}

.address_td {
    width: 15px;
    height: 18px;
    display: block;
    position: absolute;
    left: 14px;
    top: 12px;
    background: url(/addons/yc_hotelmanger/template/style/images/td.png) no-repeat;
}

.btn_box {
    width: 100%;
    margin: 8px auto;
    position: relative;
}
.btn_box01{
    width: 290px;
    margin: 8px auto;
}
.off, .agan_sm {
    width: 108px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
    background: #fff;
    color: #666;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    border-radius: 30px;
}

.agan, .remark {
    width: 170px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: #ff8400;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
}

.agan_big {
    width: 290px;
    height: 40px;
    background: #ff8400;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
}
.fert{
    width: 120px;
    height: 40px;
    background: #ff8400;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    float: center;
    margin: 0px auto;
    
}
.fertz{
    width: 120px;
    height: 40px;
    background: #50B400;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    margin: auto;
    float: center;
    margin: 0px auto;
}.fertq{
    width: 120px;
    height: 40px;
    background: #C5C4C2;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    float: left;
    margin: 0px auto;
}
.payMoney{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    background: #ff8400;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.prepay-tips{
    width: 140px;
    background: url(/addons/yc_hotelmanger/template/style/images/watch.png) 0 center no-repeat;
    background-size: 12px 12px;
    height: 12px;
    line-height: 12px;
    padding-left: 15px;
    color: #999;
    font-size: 12px;
    margin: 10px auto;
}
div#BPage {
    background: #f0f0f0;
}

.BPageul {
    padding-left: 15px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 10px;
    background: #fff;
}

.BPageul li {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 16px;
    color: #333;
}

.BPageul li.active {
    background: url(/addons/yc_hotelmanger/template/style/images/sure.png) no-repeat 92% 15px;
    background-size: 18px 13px;
    color: #50b400;
}

.BPageul li.last {
    border: none;
}

div#CPage {
    background: #f0f0f0;
}

.tag_info {
    height: 34px;
    padding-left: 15px;
    line-height: 34px;
    color: #333;
    font-size: 16px;
}

.fn-clearc {
    height: 43px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #777;
    line-height: 42px;
    position: relative;
}

.last_fn {
    border: none;
}

.fn-clearc span {
    width: 84px;
    position: absolute;
    left: 0;
    top: 0;
}

.contactname, .contactmobile {
    width: 65%;
    height: 30px;
    border: none;
    color: #333;
    outline: none;
    margin-left: 75px;
    padding-left: 9px;
}

.ttpps {
    border: 1px solid #f63;
    background: url(/addons/yc_hotelmanger/template/style/images/gt.png) no-repeat right 6px
}

.round_green, .round_grey {
    width: 24px;
    height: 24px;
    background: #50b400;
    border-radius: 12px;
    position: absolute;
    top: 30px;
    right: 15px;
}

.round_grey {
    background: url(/addons/yc_hotelmanger/template/style/images/x1.png) no-repeat #ccc;
}

.square_green {
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: 6px;
    left: 6px;
}

.square_green1, .square_green2, .square_green3, .square_green4 {
    width: 5px;
    height: 5px;
    background: #50b400;
    position: absolute;
}

.square_green1 {
    top: 0;
    left: 0;
}

.square_green2 {
    top: 0;
    right: 0;
}

.square_green3 {
    bottom: 0;
    left: 0;
}

.square_green4 {
    bottom: 0;
    right: 0;
}

.tishi {
    height: 44px;
    line-height: 44px;
    padding-left: 15px;
    color: #999;
    font-size: 12px;
}

.sure {
    width: 80%;
    margin: 10px 10%;
    background: #ff8400;
    border-radius: 8px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}