.grey-bg .wrap-inner{ background:#fcfcfa }

.bottom-yellow{ border-top:1px solid #dfc883; background:#fffcf3 }

.ui-cb{ width:40px; height:50px }
.ui-cb input[type=checkbox]{ display:none }
.ui-cb label{ display:block; width:40px; height:50px; background:url(../../images/SuperMall/icon-checkbox-bg.png) no-repeat -42px center; background-size:auto 18px }
.ui-cb input[type=checkbox]:checked + label{ background-position:15px center }
.bottom-yellow .select-all-txt{ float:left; line-height:50px; color:#4d4d4d; font-size:15px }

.product-list{ margin:0 15px; border-top:2px dotted #eee }
.product-list li{ padding:15px 0; border-bottom:2px dotted #eee; display:box; display:-webkit-box; display:-moz-box; display:flex; width:100% }
.product-list .photo-link{ width:84px; display:block }
.product-list .photo{ width:84px; height:63px }
.product-list .photo-link img{ width:100% }
.product-list .ui-cb{ margin-left:-15px; height:63px }
.product-list .ui-cb label{ height:63px }
.product-list .detail{ box-flex:1; -moz-box-flex:1; -webkit-box-flex:1; flex:1; padding-left:14px }
.product-list h2.name{ color:#4d4d4d; font-weight:normal }
.product-list .prices{ line-height:30px }
.product-list .prices .price-cash{ color:#e84b3a; font-size:16px }
.product-list .prices .price-point{ color:#3ab5e8; font-size:12px }
.product-list .prices .night-point-price{ color:#0597e1; font-size:16px }
.product-list .prices .amount{ color:#7a7a7a; font-size:15px; float:right }
.product-list .edit{ height:32px }
.product-list .edit .i-txt-amount{ width:55px; height:30px; border:1px solid #e8e8e8; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; text-align:center; font-size:15px; color:#7a7a7a }
.product-list .edit .icon-delete{ width:24px; padding:4px; float:right }

.product-clickable{ margin:0; background:#fff }
.product-clickable .photo-link{ padding-left:15px }
.product-clickable .detail{ padding-right:15px }

.contact{ margin-bottom:17px; background:#fff }
.contact .contact-ul{ background:url(../../images/SuperMall/contact-bg-line.gif) repeat-x 0 bottom; background-size:auto 5px; padding:15px }
.contact .contact-ul li{ line-height:30px; font-size:14px; color:#4d4d4d; margin-bottom:9px }
.contact .contact-ul li:last-child{ margin-bottom:0 }
.contact .contact-ul li label.tit{ width:74px; color:#818181 }
.contact .contact-ul-show li{ padding-left:74px }
.contact .contact-ul-show li label.tit{ float:left; margin-left:-74px }
.contact .contact-fill-ul li{ display:box; display:-webkit-box; display:-moz-box; display:flex; width:100% }
.contact .contact-fill-ul li .i-txt-contact{ border:none; border-bottom:1px solid #eee; box-flex:1; -webkit-box-flex:1; flex:1 }

.one-order{ border-bottom:1px solid #eee; background:#fff; margin-bottom:25px }
.one-order .order-statement{ padding:10px 0; line-height:24px; border-top:1px solid #ececec; border-bottom:2px dotted #ececec; text-align:center; color:#f5c711 }
.one-order .order-finished{ color:#48ce58 }
.one-order .product-list{ border:none }
.one-order .order-summary{ padding:15px; color:#4d4d4d; font-size:16px; line-height:20px }
.one-order .order-summary .cash{ color:#eb2d18; font-size:18px }
.one-order .order-summary .night-point{ color:#0597e1; font-size:12px }
.one-order .order-summary .night-point-price{ color:#0597e1; font-size:16px }
.one-order .order-summary .date{ font-size:12px; color:#aaa }
.one-order .order-summary .btn-view{ float:right; line-height:40px; height:40px }
.one-order .product-list .photo{ padding-left:15px }
.one-order .product-list .detail{ padding-right:15px }
.one-order .product-list .order-link{ display:block }
.one-order .order-link{ display:block }
.attention-alert{ background:url(../../images/SuperMall/icon-attention.png) no-repeat 15px center #fcf5df; background-size:24px; color:#88524c; font-size:12px; line-height:38px; padding:0 5px 0 50px }
.attention-alert b{ font-size:16px; color:#eb2d18 }

@media screen and ( max-width:330px ){
	.product-list .prices .price-cash, .one-order .order-summary .cash, .one-order .order-summary{ font-size:16px }
}

