.navbar-inverse{
background-color: #ffdd00;
}
.headimg{
float: left;
margin: 5px 5px 5px 5%;
} 
.headimg img{
border-radius: 50%;
width:50px;

}
.navbar-nav li a{color:#fff;
}
ul.dropdown-menu li a {
color: #000;
}
.navbar-header a {
color: #fff;
}
input.btn.btn-primary.col-lg-1 {
    margin-top: 15px;
}