<div ng-controller="whiteCtrl">
{if $_GPC['iseditor']} 
	<!--标题-->
	<div class="app-goodsview-edit">
		<div class="arrow-left"></div>
		<div class="inner">
			<div class="panel panel-default">
				<div class="panel-body form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label"> 商品简介</label>
						<div class="col-xs-9">
							<textarea class="form-control" name="" ng-model="activeItem.params.description"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end标题-->
{else}
<div class="title js-default-content">
	<h1><span></span></h1>
</div>
<div class="app-goods-details-block js-default-content">
	<h4>基本信息区</h4>
	<p>固定样式，显示商品主图、价格等信息</p>
</div>
{/if}
</div>