<div class="panel-body">
	<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">Accesskey</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="qn_ak" class="form-control" value="{$settings['qn_ak']}" placeholder="用于签名的公钥" />
		</div>
	</div>
</div>
<div class="panel-body">
	<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">Secretkey</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="qn_sk" class="form-control" value="{$settings['qn_sk']}" placeholder="用于签名的私钥" />
		</div>
	</div>
</div>
<div class="panel-body">
	<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">Bucket</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="qn_bt" class="form-control" value="{$settings['qn_bt']}" placeholder="请保证bucket为可公共读取的" />
		</div>
	</div>
</div>
<div class="panel-body">
	<div class="form-group">
		<label class="col-xs-12 col-sm-3 col-md-2 control-label">Url</label>
		<div class="col-sm-9 col-xs-12">
			<input type="text" name="qn_url" class="form-control" value="{$settings['qn_url']}" placeholder="七牛支持用户自定义访问域名。注：url开头加http://或https://结尾不加 ‘/’例：http://abc.com" />
		</div>
	</div>
</div>
<div class="panel panel-info">
	    <div class="panel-heading"style="text-align:center" ><b>说明：此处的七牛配置是您上传图片资源的存储配置，与模板样式的数据模式（启用远程数据或启用本地数据）无关！如不太明白，以上四项留空即可。</b></div>
</div>