@CHARSET "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}



*{padding:0;margin:0;}
ul,li{list-style:none;padding:0;margin:0}
a {color:#000; text-decoration: none;outline:none;-moz-outline-style:none;}
a:hover{text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:active{-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration: none;}
.clear{ clear:both;}
.main{width:100%;}

input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
html,body{
		font-family: 微软雅黑;
		height: 100%;background:#E9E9E9;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	.hd{ 
		padding-top: 5%;
		height: 20%;
		padding-bottom:30px;
	}
	.box{
		background-size: 100% 100%;	
		height: 200px;
		width: 88%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 12px;
		box-shadow: 0 0 10px 10px rgba(0,0,0,.15); 
		position: relative;
		z-index:10;
	}
	.box img{
		/*border-radius: 50%;
		width: 50px;
		height: 50px;
		margin-top:20px;*/
		width:100%;
		height:100%;
		border-radius:12px;
	}
	.box div{
		float: left;
		margin-left: 30px;
	}
	.box p{
		font-size: 0;
		color: #fff;
		margin-left: 100px;
		padding-top:24px;
	}
	.box p span:nth-child(1){
		line-height: 40px;
		font-size: 18px;
		overflow:hidden;
		width:90%;
		display:block;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	.box p span:nth-child(3){
		font-size: 15px;
		line-height: 26px;
	}
	.box i{
		position: absolute;
		width: 100%;
		height: 35px;
		background: rgba(0,0,0,.3);
		left:0;
		bottom: 0;
		line-height: 35px;
		color: #fff;
		 font-size: 15px;
		 font-style: normal;
	}
	.box i span{
		margin: 0 0 0 30px;
	}

.basiccon{width:100%;height:160px;background:#FFF;margin-bottom:20px;}
.basicdiv{padding:8px 0;height:84px;}
.basicdiv ul{height:84px;margin-bottom:20px;}
.basicdiv li{float:left;width:33%;height:84px;border-right:1px solid #E5E5E5;text-align:center;font-size:16px;}
.basicdiv span{height:40px;line-height:40px;}
.basicdiv i{vertical-align:middle;display:inline-block;margin-right:3px;width:25px;height:25px;margin-top:-4px;}
.basicdiv .iy{background:url('../img/yue.png');background-size:25px;}
.basicdiv .ij{background:url('../img/jifen.png');background-size:25px;}
.basicdiv .id{background:url('../img/level.png');background-size:25px;}
.basicdiv .s2{color:#ADADAD;}


.morediv{text-align:left;padding:5px 15px;height:40px;line-height:40px;background:#FFF;border-bottom:1px solid #E5E5E5}
.morediv span{float:right}
.tjhref{width:100%;height:40px;display:block;}
.tjhref a{color:#FFF;}
.tjhref span:nth-child(2){color:#ADADAD;font-size:0.9rem;}
	
.kongpadd{padding-top:20px;}

.footerdiv{width:100%;text-align:center;height:85px;}
.footerdiv p{padding:0;margin:0;font-size:11px;    
	height: 25px;
    line-height: 25px;
    color: #666;
}



.top{position:fixed;width:100%;height:35px;line-height:35px;background:rgba(141,118,216,.8);z-index:10;color:#FFF;font-size: 0.888888rem;text-align:center;z-index:99}

textarea,button,input {
    border: none;
    background-color: transparent;
    outline: none;
}
.receive_card{
			height: 100%;
			position: fixed;
			left: 0;
			top: 0;
			background: rgba(0,0,0,.5);
			width: 100%;
			z-index:100;
		}
.receive_cz{
			height: 100%;
			position: fixed;
			left: 0;
			top: 0;
			background: rgba(0,0,0,.7);
			width: 100%;
			z-index:100;
		}
.receive_card_b{
			width: 100%;
			min-height:220px;
			margin-left: auto;
			margin-right: auto;
			/*padding: 0 40px;
			background:url('../addons/zm_jfb/img/lqbg.png') no-repeat center center;*/
			background:#FFF;
			background-size: 100% 100%;
			z-index:1000;
		}
.receive_cz_b{
			width: 100%;
			min-height:220px;
			margin-left: auto;
			margin-right: auto;
			/*padding: 0 40px;
			background:url('../addons/zm_jfb/img/lqbg.png') no-repeat center center;*/
			background:#FFF;
			background-size: 100% 100%;
			z-index:1000;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
		}
		.receive_card_b img{width:100%;height:100px;}

		.receive_card_b dl{padding:0 30px;}
		.receive_cz_b dl{padding:0 30px;}

		.receive_card dt{
			font-size: 20px;
			line-height: 60px;
			text-align: center;
			font-weight: bold;
		}
		.receive_card dd{
			position: relative;
			line-height: 40px;
			font-size: 16px;
			padding-top: 15px;
		}
		.receive_cz dd{
			position: relative;
			display:flex;
			font-size: 16px;
			padding-top: 30px;
			color:#FFF;
			text-align:center;
		}
		.receive_cz dd li{
			width:100px;
			margin-bottom:10px;
			float:left;
		}
		.receive_cz dd p{
			float:left;
			margin:10px 10px 3px 10px;;
			width:80px;
			height:45px;
			line-height:45px;
			border-radius:6px;
			border:1px solid #569AEF;
		}
		.receive_cz dd span{
			font-size:0.7rem;
			color:#FD9777;
		}
		.receive_card dd input{
			line-height:40px;
			font-size: 16px;
			width: 132px; 
		}
		.receive_card dd:after{
			position: absolute;
			bottom:0;
			border-bottom:2px solid #E4E4E4;
			width: 200%;
			left: 0;
			transform: scale(0.5);
			content: "";
			transform-origin:0 0;
		}
		
		
		
		
		.receive_card_a{
			text-align: center;
			margin:0 auto;
			padding-top:20px;
		}
		.receive_cz_a{
			text-align: center;
			margin:0 auto;
			padding:20px 0;
		}
		.receive_card_a div{height:35px;width:100%;margin:0 auto;text-align:center;}
		.receive_card_a p{
			font-size: 0;
			line-height: 49px;
			text-align: left;
			margin:0 15px;
			color:#A8A8A8;
		}
		.receive_card_a span{
			font-size: 15px;
		}
		.receive_card_a span:nth-child(2),.receive_card_a span:nth-child(4){
			color: red;
		}
		.receive_card_a a{
			font-size: 16px;
			line-height: 34px;
			display: inline-block;
			padding: 0 25px;
			border-radius: 6px;
			color: #fff;
			
		}
		.receive_cz_a .mui-usable{
			font-size: 16px;
			line-height: 34px;
			display: inline-block;
			padding: 0 25px;
			border-radius: 6px;
			color: #fff;
			background:#569AEF;
			width:245px;
			
		}
		.mui-disabled{
			font-size: 16px;
			line-height: 34px;
			display: inline-block;
			padding: 0 25px;
			border-radius: 6px;
			color: #fff;
			background:#569AEF;
			width:245px;
		}
		
		.cztext{ margin:0 auto;padding:0 35px 20px 35px;font-size:0.9rem;color:#8B8B8B;line-height:23px;}
		.receive_card_a a:nth-child(1){background:#569AEF}
		.receive_card_a a:nth-child(2){background:#EF9A57}
		
		.goyue{width:150px;height:30px;line-height:30px;border:1px solid #55ACEF;border-radius: 6px;text-align:center;margin:0 auto;color:#55ACEF;font-size:0.999999rem}
		.goyue a{color:#55ACEF;}
		
		.item{background:#FFF;color:#569AEF;}
		.change_item{background:#569AEF;color:#FFF;}
		
		.f_receive{display:none;
			font-size: 16px;
			line-height: 34px;
			padding: 0 25px;
			border-radius: 6px;
			color: #fff;
			background:#569AEF;}
		.t_shiti{
			font-size: 16px;
			line-height: 34px;
			padding: 0 25px;
			border-radius: 6px;
			color: #fff;
			background:#569AEF;
		}
		.f_shiti{display:none;
			font-size: 16px;
			line-height: 34px;
			padding: 0 25px;
			border-radius: 6px;
			color: #fff;
			background:#569AEF;
		}
		
		.cardimg{text-align:center;background:#FFF;font-size:0.9rem;color:#AFAFAF}
		.cardimg img{
			width:50px;
			height:50px;
			padding:15px 0;
		}
		.cardimg p{padding:10px 0 0;}
		

.md-con{width:100%;}
.md-con li{float:left;height:70px;background:#FFF;border-bottom:1px solid #DEDEDE;}
.md-con .r{line-height:70px;width:78%;text-align:left;text-indent:20px;}
.md-con .r p{width:100%;height:35px;line-height:30px;}
.md-con .r p:nth-child(2){color:#9A9A9A;font-size:0.8rem}
		
.md-con .f{height:70px;width:21%;text-align:center;}
.md-con .f p{height:50px;line-height:50px;border-left:1px solid #DEDEDE;margin:10px 0;}
.md-con .f a{color:#56A3D8;}
.md-con .f i{font-size:20px;}

.btn-box {margin-top: 45px;display: block;overflow: hidden;padding: 8px 0;text-align:center;}
.btn-more {width: 150px;color: #569AEF;border:0;padding: 5px 35px; font-size: 18px;}

		
		
		
/*cindex*/
.logodiv{width:100%;height:210px;margin:0 auto;background:url('../img/cindex.jpg') no-repeat;background-size:100% 100%;position:relative}
.n_conter{width:100%;height:40px;text-align:center;padding-top:70px;}
.n_conter .headlogo h2{font-size:1.3rem;color:#FFF;}		
		
.head_bottom{width:100%;height:40px;line-height:40px;background:#4C87D3;position:absolute;color:#FFF;bottom:0;}
.head_bottom a{color:#FFF;}
.head_bottom span{width:49%;display:block;text-align:center;float:left;height:30px;line-height:30px;margin:5px 0}
.head_bottom span:nth-child(2){border-left:1px solid #59A0AF}
		
		
.jyjilu{background:#F2F2F2;width:100%;height:90px;line-height:90px;}
.jyjilu .jl-n{float:left;width:49%;margin:5px 0;}
.jyjilu .jl-n:nth-child(2){border-left:1px solid #C2C2C2;}
.jyjilu .jl-n div{float:left;width:50%;}
.jyjilu i{margin:0 5px 0 20px;font-size:1.1rem}
.jyjilu .jl-n:nth-child(1) i{color:#FFA202;}	
.jyjilu .jl-n:nth-child(2) i{color:#FE0000;}	
.jyjilu .jl-n div:nth-child(1){height:80px;line-height:80px;}
		
		
.jyjilu .jl-l span{display:inherit;text-align:center;padding:6px;}
.jyjilu .jl-l a{color:#FFF;font-size:0.9rem;border-radius:50px;width:80px;display:block;height:25px;line-height:25px;}
.jyjilu .jl-l span:nth-child(1) a{background:#FF7B7C;}
.jyjilu .jl-l span:nth-child(2) a{background:#919191;}		
		
.div-list{width:100%;height:90px;margin-top:3px;background:#FFF;}	
.li1{border-top:3px solid #569AEF;margin-top:8px;}		
.div-list .div-title{width:100%;height:45px;line-height:45px;border-bottom:1px solid #E0E0E0;}
.div-list .div-title span{height:25px;line-height:25px;margin:10px 0;display:block;float:left;}		
.div-list .div-title span:nth-child(1){border-left:6px solid #569AEF;text-align:left;text-indent:5px;color:#569AEF;width:49%;}
.div-list .div-title span:nth-child(2){width:40%;text-align:right;color:#FC3651;}
.div-list .div-title span:nth-child(3){width:9%;text-align:left;color:#8D8D8D;font-size:0.7rem;text-indent:3px;}
		
.div-list .div-con{width:100%;height:45px;line-height:45px;}
.div-list .div-con span{display:block;float:left;}
.div-list .div-con span:nth-child(2){color:#FFA229;}
.div-list .div-con span:nth-child(3){border-left:1px solid #E0E0E0;}
.div-list .div-con span:nth-child(4){color:#24C420;}
.div-list .div-con span:nth-child(1),.div-list .div-con span:nth-child(3){text-indent:9px;width:24%}
.div-list .div-con span:nth-child(2),.div-list .div-con span:nth-child(4){width:23%;text-align:right;margin-right:9px;}

.div-list1{width:100%;height:135px;margin-top:3px;background:#FFF;}		
.div-list1 .div-title{width:100%;height:45px;line-height:45px;border-bottom:1px solid #E0E0E0;color:#569AEF;text-indent:9px;}	
.div-list1 .div-con{width:100%;height:45px;line-height:45px;}	
.div-list1 .div-con span{width:49.5%;display:block;float:left;text-align:center;border-bottom:1px solid #E0E0E0}	
.div-list1 .div-con span:nth-child(2){border-left:1px solid #E0E0E0}
		
		
.czbody{width:90%;margin:10px auto;background:#FFF;min-height:300px;border-radius:5px}
.czbody .headimg{height:20px;width:100%;background:url('../img/cztop.png') no-repeat;background-size:100% 100%;
	-moz-border-radius-topleft: 5px;

	-moz-border-radius-topright: 5px;

	-moz-border-radius-bottomleft: 0;

	-moz-border-radius-bottomright: 0;

	
    -webkit-border-top-left-radius: 5px;

	-webkit-border-top-right-radius: 5px;

	-webkit-border-bottom-left-radius: 0;

	-webkit-border-bottom-right-radius: 0;


	border-top-left-radius: 5px;

	border-top-right-radius: 5px;

	border-bottom-left-radius: 0;

	border-bottom-right-radius: 0;
}
.czbody h2{text-align:center;margin:20px auto;font-size:1.2rem}
.pricediv{margin:10px 20px;text-align:left;border-bottom:1px solid #E1E1E1;font-size:1.1rem}
.pricediv span{height:35px;line-height:35px;}
.pricediv .input{height:30px;text-indent:10px;padding:8px 0;font-size:14px;line-height: 30px;-webkit-appearance: none;width:90%}

.czbody .beizhu,.czbody .beizhu1{font-size:1.0rem;color:#9A9A9A;width:90%;margin:0 auto;}
.czbody .butdiv{text-align:center;}
.czbody .butcz{width:88%;height:40px;background:#55ACEF;color:#FFF;margin:20px auto;text-align:center;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px;font-size:1.1rem}
.czbody .beizhu span{float:right;text-align:right;width:100%;height:25px;line-height:25px;}
.czbody .beizhu span:nth-child(1){color:#FE8783;font-size:0.9rem}
.czbody .beizhu span:nth-child(2) a{color:#55ACEF}
.czbody .beizhu span:nth-child(2) a:hover{color:#55ACEF}

.czbody .title{text-align:left;width:90%;margin:0 auto;height:30px;line-height:30px;padding-top:10px;}

.czbody .tx-list{width:90%;height:50px;margin:0 auto;text-align:center;}
.czbody .tx-list li{float:left;width:70px;height:35px;line-height:35px;border:1px solid #959595;margin:0 13px;border-radius:5px;}
.czbody .tx-list .tx-click{background:#55ACEF;color:#FFF;border:1px solid #55ACEF}

.czbody .beizhu1 span{height:25px;line-height:25px;}
.czbody .beizhu1 span:nth-child(1){width:100%;display:inline-block;text-align:right;color:#FE8783;font-size:0.9rem}
.czbody .beizhu1 span:nth-child(2){float:left;text-align:left;}
.czbody .beizhu1 span:nth-child(3){float:right;text-align:right;}
.czbody .beizhu1 span:nth-child(3) a{color:#55ACEF}

.czbody .history{width:90%;margin:0 auto;text-align:right;padding-bottom:10px;}
.czbody .history a{color:#9A9A9A}


.tx-shuoming{width:80%;margin:0 auto;height:120px;background:url('../img/txbottom.png') no-repeat;background-size:100% 100%;border-radius:5px;margin-bottom:20px;padding:10px 20px}
.tx-shuoming span{width:100%;display:inline-block;font-size:0.9rem}
.tx-shuoming font{color:red}
.tx-shuoming span:nth-child(1){height:35px;line-height:35px;font-size:1.0rem}

.ss-yinhang{height:30px;padding:8px 0;width:90%;margin:0 auto;border-bottom:1px solid #E1E1E1;}
.ss-yinhang select{height:30px;border:0;width:98%;font-size:1.0rem;color:#8D8D8D;background:rgba(255,255,255,0)}

.condiv{width:100%;}
.condiv li{float:left;height:50px;background:#FFF;border-bottom:1px solid #D1D1D1}
.condiv .r{line-height:50px;text-align:left;width:42%;text-indent:20px;}
.condiv .n{line-height:50px;text-align:center;color:#55ACEF;width:40%;}
.condiv .f{line-height:50px;text-align:right;padding-right:10px;width:15%;}
.condiv .f span{color:red;height:25px;line-height:25px;float: left;text-align:center;
    width: 100%;}
.condiv .f span:nth-child(2){color:#999;font-size:0.8rem}


.itemlist{width:100%;height:35px;padding:10px 0;text-align:center;}

.itemlist ul{margin:0 auto;height:35px;line-height:35px;width: 200px;padding: 0;background:#FFF;-moz-border-radius: 6px;

    -webkit-border-radius: 6px;

	border-radius: 6px;}

.itemlist ul li{float:left;width:100px;color:#000;text-align:center;}
.itemlist ul li:nth-child(1){
	-moz-border-radius-topleft: 6px;

	-moz-border-radius-topright: 0;

	-moz-border-radius-bottomleft: 6px;

	-moz-border-radius-bottomright: 0;

	
    -webkit-border-top-left-radius: 6px;

	-webkit-border-top-right-radius: 0;

	-webkit-border-bottom-left-radius: 6px;

	-webkit-border-bottom-right-radius: 0;


	border-top-left-radius: 6px;

	border-top-right-radius: 0;

	border-bottom-left-radius: 6px;

	border-bottom-right-radius: 0;
}
.itemlist ul li:nth-child(2){
	-moz-border-radius-topleft: 0;

	-moz-border-radius-topright: 6px;

	-moz-border-radius-bottomleft: 0;

	-moz-border-radius-bottomright: 6px;

	
    -webkit-border-top-left-radius: 0;

	-webkit-border-top-right-radius: 6px;

	-webkit-border-bottom-left-radius: 0;

	-webkit-border-bottom-right-radius: 6px;


	border-top-left-radius: 0;

	border-top-right-radius: 6px;

	border-bottom-left-radius: 0;

	border-bottom-right-radius: 6px;
}
.yhref{background:#569AEF;}
.yhref a{color:#FFF;}




.headdiv{width:100%;height:150px;background:#55ACEF;}
.headdiv .beizhu{position:relative;float:right;width: 0;
    height: 0;
    border-top: 70px solid rgba(0,0,0,.7);
    border-left: 100px solid transparent;
	color:#EAB759;
}
.headdiv .beizhu:after{
	position:absolute;
	right:-10px;
	top:-45px;
	content:"活动备注";
	 
	width:70px;
	height:100px;
	transform-origin:top;
	transform:rotate(35deg);
	-ms-transform:rotate(35deg); 	/* IE 9 */
	-moz-transform:rotate(35deg); 	/* Firefox */
	-webkit-transform:rotate(35deg); /* Safari 和 Chrome */
	-o-transform:rotate(35deg);
}
.num-list{width:100%;height:60px;background:#FFF;padding:20px 0;margin:5px 0;}
.num-list i{color:#7BBEF2;font-size:1.2rem;padding:0 10px 0 0;}
.num-list span:nth-child(1),.num-list span:nth-child(2){height:30px;line-height:30px;float:left;width:57%;padding:0 0 0 20px;font-size:1.1rem}
.num-list span:nth-child(2){padding:0 0 0 48px;color:#999;font-size:0.9rem;}
.num-list .nowpay{width:90px;height:35px;border:1px solid #55ACEF;color:#55ACEF;border-radius:4px;margin:10px 0;font-size:1.0rem}


.receive_cz span:nth-child(1){width:100%;height:50px;line-height:50px;float:right;text-align:right;margin-right:20px;color:#FFF;}
.receive_cz span:nth-child(2){width:100%;height:50px;line-height:50px;display: inline-block;
    text-indent: 20px;
    font-size: 1.2rem;
	color:#FDAB47;
}
.receive_cz span:nth-child(3){color:#FFF;width:90%;line-height:30px;margin:0 20px;display:inline-block}



.ygdiv{width:100%;margin-bottom:30px;}
.ygdiv li{float:left;height:60px;background:#FFF;border-bottom:1px solid #D1D1D1}
.ygdiv li img{width:50px;height:50px;line-height:60px;padding:5px 0;-moz-border-radius: 50%;

    -webkit-border-radius: 50%;

	border-radius: 50%;}
.ygdiv .t{width:22%;text-indent:20px;}
.ygdiv .n{width:77%;line-height:60px;}


.lsdiv{width:100%;margin-bottom:30px;background:#FFF;}
.lsdiv li{float:left;height: 60px;line-height: 60px;text-align:center;border-bottom:1px solid #D1D1D1}
.lsdiv .t{width:40%;text-align:left;}
.lsdiv .t span{    
	width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    display: inline-block;
	text-indent:20px}
.lsdiv .t span:nth-child(1){font-size:0.9rem;color:#999;}
.lsdiv .n{width:30%;color:#7BBEF2}
.lsdiv .p{text-align:right;padding-right:20px;width:24%;color:red}



