<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="600" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="IMMWA APP.">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application"/>
    <meta name="x5-fullscreen" content="true" />
    <meta name="x5-page-mode" content="app" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="{$forum['title']}" />
    <title>{$set['title']}</title>
    <link rel="stylesheet" href="{MODULE_URL}public/css/animation.css?t={php echo time()}" type="text/css" media="all">
    <link rel="stylesheet" href="{MODULE_URL}public/css/ui.css?t={php echo time()}" type="text/css" media="all">
    <link rel="stylesheet" href="{MODULE_URL}public/css/reset.css" type="text/css" media="all">

    <script src="{MODULE_URL}public/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="{MODULE_URL}public/js/addtohomescreen.js" type="text/javascript"></script>
    <script src="{MODULE_URL}public//js/slider.js" type="text/javascript" type="text/javascript"></script>
</head>