{template 'default/templates/common/header-base'}
<link id="barindexCss" rel="stylesheet" href="../addons/meepo_bbs/template/mobile/default/css/detail.min.182f9e58.css"
        />
    <body id="detail_body">
    	
        <div class="detail-main" id="js_detail_main">
            <div class="top-content" id="js_detail_scroll_top">
                <div id="top_post_wrapper">
                    <div class="post-title-wrapper" id="detail_top_info_header">
                    	<div class="post-title js-detail-title allow-copy">{$forum['title']}-发帖免责声明 </div>
                    	<div class="post-title-bottom row section-1px"> 
                    		<div class="user-avatar"> 
	                    		<img src="{php echo tomedia($_W['account']['headimg'])}">   
                    		</div> 
	                    	<div class="col title-bottom-wrapper"> 
	                    		<div class="name-wrap"> 
	                    			<span class="author user-nick " style="max-width:170px;">{$_W['account']['name']}</span>  
	                    		</div> 
	                    		<a class="detail-from" style="max-width: 150px;"> {$forum['title']} </a> 
	                    	</div> 
                    	</div>
                    </div>
                    <div class="post-wrapper" id="detail_top_info">
                    	<div class="content-wrapper allow-copy" id="d_1437677992716">
						    <div>
						        <div class="content" >
						           {php echo $forum['content']}
						        </div>
						        
						        <div class="video-preview">
						            <div class="icon-play">
						                <div class="triangle">
						                </div>
						            </div>
						            <div class="preview-box">
						            </div>
						        </div>
						    </div>
						</div>
                    </div>
                    <div class="nav-wrapper" id="bar_nav_wrapper">
                    </div>
                    <div class="detail-game" id="detail_game">
                        <div>
                            <a id="detail_game_btn" class="detail-game-btn">
                                启动游戏
                            </a>
                        </div>
                        <div class="detail-game-text">
                            马上开启游戏之旅!
                        </div>
                    </div>
                   
                    <div class="btn-comment-operate show-more-before">
                        <a id="show-more-before" href="javascript:;">
                            点击显示更多
                        </a>
                    </div>
                </div>
                <div class="top-content">
                <div class="detail-comment-list" id="js_detail_list">
                    <div id="top_comment_wrapper">
                    	<ul class="lists">
                    	
                    	</ul>
                    </div>
                    </div>
                    <div id="bottom_comment_wrapper">
                    </div>
                </div>
                <div class="empty-comment">
                    暂无评论，快来抢沙发
                </div>
                <ul id="recommend-list">
                </ul>
            </div>
        </div>
        <div class="bottom-bar section-1px" style="visibility: visible;">
        	<a class="item icon-forward" id="to_forward">分享{$sharenum}</a>
        	<!-- <a href="javascript:;" class="item icon-reply {if !empty($replied)}active{/if}" id="to_reply">回帖{$replynum}</a>
        	<a href="javascript:;" class="item icon-like {if !empty($liked)}liked{/if}" id="to_like">{$likenum}</a> -->
        	<a href="{php echo $this->createMobileUrl('forum')}" class="item icon-home" id="to_home">主页</a>
        </div>
        <div class="mask-win" id="join_activity_win">
            <div class="mask-win-wrap">
                <div id="join_activity_content">
                    <p id="join_activity_win_title">
                        <span class="join_wording">
                            报名
                        </span>
                        成功！
                    </p>
                    <p id="join_activity_win_post">
                        <img>
                    </p>
                    <p id="join_activity_win_name">
                    </p>
                    <p id="join_activity_win_time">
                    </p>
                    <p id="join_activity_win_share">
                        <a href="javascript:;" id="shareActivity" class="share-link">
                            分享给好友
                        </a>
                    </p>
                    <p id="join_activity_win_group_hint">
                        加入活动关联群组，了解更多活动信息！
                    </p>
                </div>
                <div class="mask-win-btns">
                    <a href="javascript:;" id="joinActivityReply">
                        参与讨论
                    </a>
                    <a href="javascript:;" id="joinActivityGroup">
                        加入群组
                    </a>
                    <a href="javascript:;" id="joinActivityFinish">
                        完成
                    </a>
                </div>
            </div>
        </div>
        <div class="post-error">
            <div class="emo">
            </div>
            <br>
            <span>
            </span>
        </div>
        <div id="comment_dialog" class="comment-dialog-mask">
            <div class="comment-dialog">
                <div class="comment-dialog-content comment-wrapper" id="comment_dialog_content">
                </div>
            </div>
            <div class="comment-dialog-close">
            </div>
        </div>
        <div id="back_to_top" class="btn-back border-1px">
        </div>
         
{template 'default/templates/common/footer-base'}