@charset "gb2312";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   outline: none;
}
html { height: 100%; } 
body { height: 100%; font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; -webkit-text-size-adjust: none; background-color:#e84144;}
 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
 
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
 
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
input, textarea, select,button { -webkit-border-radius:0;-webkit-appearance:none; outline: none; }
 
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
 
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.left{ float:left;}

.clr{clear:both;}
.clearfix:before, .container:after { content: ""; display: table; }
.clearfix:after { clear: both; }

#mcover{ position: fixed;	top:0;	left:0;	width:100%;	height:100%;background:rgba(0, 0, 0, 0.7);	display:none;z-index:20000; padding-top:15%;}
/*#mcover img {position: fixed;right: 18px;top:5px;width: 260px;height: 180px;z-index:20001;}*/

::-webkit-input-placeholder { /* WebKit browsers */
    color:   #985a08;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   #985a08;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:   #985a08;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   #985a08;
}

.button_01{font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;font-size: 14px;padding:5px;color:#a22d04;background-image: linear-gradient(to top, #ffa200, #ffd33c);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffd33c), color-stop(99%,#ffa200));border:1px solid #ffb73b;box-shadow: 0px 0px 5px #aa2022;text-align: center;border-radius:5px;width: 100%;cursor: pointer;}
.button_01:hover{background-image: linear-gradient(to top, #ffd33c, #ffa200); }
.button_02{font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;font-size: 14px;padding:5px;color:#676767;background-image: linear-gradient(to top, #f2f2f2, #dedede);
border:1px solid #cecece;box-shadow: 0px 0px 5px #aa2022;text-align: center;border-radius:5px;width:100%;cursor: pointer;}
.button_02:hover{background-image: linear-gradient(to top, #dedede, #f2f2f2);}

.container{ width:100%; position:relative; }
.container .img{ width:100%; z-index:0; }
.NO{position:absolute; /*left:17%;*/ right:19%;z-index:1; margin-top:31%; width:63%;}
.NO ul li{ width:30%; float:left; height:30%; margin-left:3%; margin-top:3%; position:relative; }
/*.NO ul li .hover{ background:url(NO_hover.png) no-repeat; width:100%; height:100%; position:absolute;background-size: 100%;}*/
.NO ul li .active{ background:url(NO_hover.png) no-repeat; width:100%; height:100%; position:absolute;background-size: 100%;}
.content{background: #c42b2b;
background:linear-gradient(to bottom, rgba(196,43,43,0.7) 0%,rgba(196,43,43,0.93) 1%,rgba(232,65,68,0) 15%,rgba(232,65,68,0) 84%,rgba(232,65,68,0.06) 85%,rgba(196,43,43,0.7) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,43,43,1)), color-stop(1%,rgba(196,43,43,0.8)), color-stop(15%,rgba(232,65,68,0)), color-stop(84%,rgba(232,65,68,0)), color-stop(85%,rgba(232,65,68,0.06)), color-stop(100%,rgba(196,43,43,0.8))); padding:4% 0;}

.content .title{ width:45%; text-align:center;}
.content .text{ color:#fff6a7; padding:10px; font-size:15px;}
.content .text img{ width:100%;}
.content .textbox{ color:#fff6a7; padding:10px; font-size:15px;}
.content .prize{padding:10px 15px 10px 3px;}
.content .prize ul li{ float:left; background-color:#ce2729; border-radius:10px; width:27%; padding:2%; text-align:center; margin:0 0 2% 2%; }
.content .prize ul li img{ margin-bottom:10px;border-radius:10px;}
.content .prize ul li p{ color:#fbf7d6; overflow:hidden;}
.content .list ul li{ background-color:#ce2729; border-radius:10px; margin:2% 0;padding:2%; text-align:center; font-size:14px; }
.content .list ul li .time{ float:left; width:35%;overflow:hidden;padding-top:4px; font-size:12px;}
.content .list ul li .phone{float:left; width:15%;padding-top:3px;}
.content .list ul li .award{float:left; width:25%;padding-top:3px;}
.content .list ul li .button{float:right;width:25%;}
.content .list ul li .phone01{float:left; width:35%;padding-top:3px;}

.content .textbox li{width: 50%; height: 45px; float: left;}
.content .textbox li a{ height: 45px; width: 150px; text-align: center; display: block; font-size: 1.2em; color: #FFF; line-height: 43px; }
.content .textbox li .left_btn{ height: 45px; width: 150px; background-image: url(red_btn.png); background-repeat: no-repeat; margin-right: auto; margin-left: auto; }
.content .textbox li .right_btn{ height: 45px; width: 150px; background-image: url(ls_btn.png); background-repeat: no-repeat; margin-right: auto; margin-left: auto; }

.line{ width:100%; margin-top:1px;}
.copyright{ color:#f9dc97; font-size:14px; text-align:center;margin:20px 0;}


.promptbox{ width:70%; background:url(box_bg.jpg) repeat; border-radius:10px; padding:2%; margin:0 auto;  z-index:20001;left: 10%;
right: 10%;
top: 10%;}
.promptbox .box{border-radius:8px; background-color:#9b5902; border:1px #ffc258 solid;}
.promptbox .box h1{ color:#ffe7bd; text-align:center;padding:3% 0;}
.promptbox .box .line{ width:100%;}
.promptbox .box .user{ margin:15px 0; padding:0 5%; }
.promptbox .box .user .input{position:relative;}
.promptbox .box .user .input input{ box-sizing: border-box;height:34px;padding: 12px 0 12px 34px;background: #643a02 url(user.png) no-repeat 4px center; border:0; color:#ffe7bd; border-radius:8px; width:100%; margin:5px auto;font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif; font-size:14px; border:1px #bc7415 solid;}

.promptbox .box .user .id input{ background:#643a02 url(phone.png) no-repeat 4px center;}
.promptbox .box .but{ width:40%; float:left;}

.promptbox .box .but_con{margin:10px auto 0 auto; width:70%}

.promptbox .box .user .input_01 input{ text-indent:10px; width:100%;}
.promptbox .box .user .text{ color:#ffe7bd;margin-left:80px; text-align:center;}
.promptbox .box .user .text2{ color:#ffe7bd; text-align:center;}

.pages{width: 95%; height: 32px; margin-top: 10px; margin-right: auto; margin-left: auto;}
.pages li{ width: 50%; height: 30px; float: left; text-align: center; }
.pages li span{ height: 28px; width: 80%; display: block; line-height: 30px; border: 1px solid #FFB83C; margin-right: auto; margin-left: auto; color: #FFB2B3; }
.pages li a{ height: 28px; width: 80%; display: block; line-height: 30px; border: 1px solid #FFB83C; margin-right: auto; margin-left: auto;color: #FFB83C;  }

.weixin_box{ height: 200px; width: 95%; margin-right: auto; margin-left: auto; text-align: center; margin-top: 100px; font-size: 1.2em; }