<div class="footer  box-bg-color">

	{if $l11ll11lllllll1l1llll11ll11ll1l['openpopularity'] == 1}
	<div class="head-box title-bg-color" >
		<div class="wrapper box-pl ">
		<i class="fa fa-comments-o fn-mr-8"></i>浏览量人气榜</div>
	</div>

	<div class="head-box-content">
	<ul class="wrapper popularity clearfix">
		{php $llll11ll1lll11111l1ll11ll1l11l1 = $this->llll11ll1lll11111l1ll11ll1l11l1();}
	    {loop $llll11ll1lll11111l1ll11ll1l11l1 $llll1l11l11111l1l111l11l1ll1111}
	    <li>
	        <a class="pic-a" href="{php echo $this->l1111llll1l1llll11l1lll1l11l1ll('show','xiaof_toupiao','&id='.$llll1l11l11111l1l111l11l1ll1111['id'].'');}"><img src="{php echo tomedia($llll1l11l11111l1l111l11l1ll1111['pic']);}" alt=""></a>
	    </li>
	    {/loop}

	</ul>
	</div>
	{/if}
	
	<div class="head-box title-bg-color" >
		<div class="wrapper box-pl ">
		<i class="fa fa-bookmark-o fn-mr-8"></i>活动简介</div>
	</div>
    <div class="head-box-content">
		<div class="wrapper">
		{php echo htmlspecialchars_decode($l11ll11lllllll1l1llll11ll11ll1l['bottom']);}
		</div>
    </div>
	{if !empty($l11ll11lllllll1l1llll11ll11ll1l['copyright'])}
	<div style="text-align:center;font-family: Microsoft YaHei;font-size: 12px;">
		{$l11ll11lllllll1l1llll11ll11ll1l['copyright']}
	</div>
	{/if}
</div>

<div class="bottom">
	<?php  $l1l1111ll1l1l11111ll11111l1l1l1 = $this->l1l1111l1l111l11111ll11l1111ll1(); $lll1l11ll1l11l1ll1111ll111ll11l = array_slice($l1l1111ll1l1l11111ll11111l1l1l1, 0, 2); $l1l111lll1111l11llll1lll111llll = array_slice($l1l1111ll1l1l11111ll11111l1l1l1, 2, 2); ?>
    <ul>
		{loop $lll1l11ll1l11l1ll1111ll111ll11l $l111ll1l1ll111ll1ll1ll11l11111l}
			<li><a href="{$l111ll1l1ll111ll1ll1ll11l11111l['url']}"><span class="icon"><i class="{$l111ll1l1ll111ll1ll1ll11l11111l['icon']}"></i></span><span>{$l111ll1l1ll111ll1ll1ll11l11111l['name']}</span></a></li>
		{/loop}
		<li class="search">
			<span class="icon"><i class="fa fa-search-plus"></i></span><span>搜索</span>
		</li>
		{loop $l1l111lll1111l11llll1lll111llll $l11ll1l1l111l1l111ll1l111l1l111}
			<li><a href="{$l11ll1l1l111l1l111ll1l111l1l111['url']}"><span class="icon"><i class="{$l11ll1l1l111l1l111ll1l111l1l111['icon']}"></i></span><span>{$l11ll1l1l111l1l111ll1l111l1l111['name']}</span></a></li>
		{/loop}		
    </ul>
</div>
<script type="text/javascript">
	$(function(){
		var isShow = false;
		$(".search").click(function(){
			if(isShow === false){
				$("#search-box").show();
				isShow = true;
			}else{
				$("#search-box").hide();
				isShow = false;
			}
		});
	});
</script>
<div id="search-box" class="search-box animated slideInUp">
    <form class="search-form clearfix" method="post" action='{php echo $_W["siteroot"]."app/index.php?c=entry&do=index&m=xiaof_toupiao&i=".$_W['uniacid']."&sid=".$_GPC['sid']."";}'>
        <input class="search-input" name="key" placeholder="输入编号或姓名" type="text"/><input class="search-button" type="submit" value="搜索"/>
    </form>	
</div>
	
<div id="dialog" class="popupshade">
    <div class="popup">
        <a href="javascript:;" id="popup-close" onclick='$("#dialog").removeClass("is-visible");' class="close">x</a>
        <div class="popup-container"></div>
    </div>
</div>

<div style="display:none;">
{php echo htmlspecialchars_decode($l11ll11lllllll1l1llll11ll11ll1l['statisticcode']);}
</div>
