{template 'common/header'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" id="setting-form">
    <input type="hidden" name="id" value="{$set['id']}">
		<div class="panel panel-default">
			<div class="panel-heading">参数设置</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" id="myTab">
                    <li class="active" ><a href="#tab_share">基础设置</a></li>
                    <li ><a href="#tab_param">红包参数</a></li>
                    <li ><a href="#tab_param1">活动限制</a></li>
				</ul>
                

                
				<div class="tab-content">
                  <!---
                    <div class="tab-pane" id="tab_param">
                         <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    基础设置
                                </div>
                                <div class="panel-body">
                                 ddd
                                </div>
                             </div>
                          </div>
                    </div>
                  --->
                 <!----->
                    <div class="tab-pane" id="tab_param1">
                         <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    限制设置
                                </div>
                                <div class="panel-body">
                                   <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">性别限制</label>
                                            <div class="col-xs-12 col-sm-9">
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="sextype"  value="0" {if $settings['sextype'] == 0}checked{/if}> 不限制
                                               </label>
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="sextype"  value="1" {if $settings['sextype'] == 1}checked{/if}> 男
                                               </label>
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="sextype"  value="2" {if $settings['sextype'] == 2}checked{/if}> 女
                                               </label>
                                                <span class="help-block" style="color:#ff0000">如果设置了性别限制，个别个人微信号没有设置过性别的，关注进来将是无效用户（不能接受，有强迫症的用户，不要用）</span>
                                            </div>
                                   </div> 
                                   <!--div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">地区限制</label>
                                            <div class="col-xs-12 col-sm-9">
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="dqtype"  value="0" {if $settings['dqtype'] == 0}checked{/if}> 不限制
                                               </label>
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="dqtype"  value="1" {if $settings['dqtype'] == 1}checked{/if}> 限制省
                                               </label>
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="dqtype"  value="2" {if $settings['dqtype'] == 2}checked{/if}> 限制市
                                               </label>
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="dqtype"  value="3" {if $settings['dqtype'] == 3}checked{/if}> 限制区
                                               </label>
                                                <span class="help-block" style="color:#ff0000"></span>
                                            </div>
                                   </div> 
                                   <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">选择限制的地区</label>
                                        <div class="col-xs-12 col-sm-9">
                                            {php echo tpl_form_field_district('birth', array('province' => $settings['province'], 'city' => $settings['city'], 'district' => $settings['district']));}
                                            <span class="help-block">
                                            这里使用的公众号自身的地理位置功能(如果粉丝在关注公众号的时候，获取粉丝位置的确定按钮，点了否，就获取不到粉丝位置，这个粉丝就无效，取消关注在关注也没用)<Br>
                                            <p>操作步骤：</p>
                                            <p>第一步：进入微信公众号后台：左下角-》接口权限-》获取用户地理位置(启用)</p>
                                            <p>第二步：自身后台-》基础设置->特殊消息回复->上报地理位置(模块)-》选择任务宝</p>
                                            </span>
                                        </div>
                                   </div-->
                                   
                                </div>
                             </div>
                          </div>
                    </div>
                 <!----->
                    <div class="tab-pane" id="tab_param">
                         <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    红包参数设置
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppID(应用ID)</label>
                                        <div class="col-xs-12 col-sm-9">
                                            <input type="text" name="rwappid" value="{$settings['rwappid']}" class="form-control" placeholder="微信公众平台APPID" >
                                            <span class="help-block">微信公众平台APPID</span>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">AppSecret(应用密钥)</label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input type="text" value="{$settings['rwsecret']}" class="form-control" name="rwsecret">
                                             <div class="help-block">认证服务号secret</div>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 col-md-2 control-label">MCHID(商户号)</label>
                                                <div class="col-xs-12 col-sm-9">
                                                    <input type="text" name="rwmchid" value="{$settings['rwmchid']}" class="form-control" placeholder="微信支付商户号(MchId)" >
                                                    <span class="help-block">输入微信MCHID参数</span>
                                                </div>
                                      </div>

                                      <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 col-md-2 control-label">PARTNERKEY</label>
                                                <div class="col-xs-12 col-sm-9">
                                                    <input type="text" name="rwapikey" value="{$settings['rwapikey']}" class="form-control" placeholder="商户支付密钥(API密钥)" >
                                                    <span class="help-block">商户支付密钥(API密钥)</span>
                                                </div>
                                      </div>
                                      <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">商户支付证书</label>
                                            <div class="col-sm-9 col-xs-12">
                                                <textarea class="form-control" name="cert" rows="8" placeholder="为保证安全性, 不显示证书内容. 若要修改, 请直接输入"></textarea>
                                                <span class="help-block">从商户平台上下载支付证书, 解压并取得其中的 <mark>apiclient_cert.pem</mark> 用记事本打开并复制文件内容, 填至此处</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付证书私钥</label>
                                            <div class="col-sm-9 col-xs-12">
                                                <textarea class="form-control" name="key" rows="8" placeholder="为保证安全性, 不显示证书内容. 若要修改, 请直接输入"></textarea>
                                                <span class="help-block">从商户平台上下载支付证书, 解压并取得其中的 <mark>apiclient_key.pem</mark> 用记事本打开并复制文件内容, 填至此处</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付根证书</label>
                                            <div class="col-sm-9 col-xs-12">
                                                <textarea class="form-control" name="ca" rows="8" placeholder="为保证安全性, 不显示证书内容. 若要修改, 请直接输入"></textarea>
                                                <span class="help-block">从商户平台上下载支付证书, 解压并取得其中的 <mark>rootca.pem</mark> 用记事本打开并复制文件内容, 填至此处</span>
                                            </div>
                                        </div>


                                       <div class="form-group">
                                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">client_ip</label>
                                                    <div class="col-xs-12 col-sm-9">
                                                        <input type="text" name="rwip" value="{$settings['rwip']}" class="form-control" placeholder="服务器IP" >
                                                        <span class="help-block">发放红包接口需要服务器IP. 程序将自动获取你的服务器IP, 如果获取失败, 请手动指定，这里填写你的服务器IP：{php echo $_SERVER["SERVER_ADDR"]}</span>
                                                    </div>
                                       </div>   
                                </div>
                             </div>
                          </div>
                    </div>
                  <!---->
                
                <div class="tab-pane active" id="tab_share">
                  <div class="panel-body">
                      <div class="panel panel-default">
                            <div class="panel-heading">
                                基础设置
                            </div>
                            <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动开始时间</label>
                                        <div class="col-sm-9 col-xs-12">
                                    {php echo tpl_form_field_date('starttime', date('Y-m-d H:i:s',empty($settings['starttime'])?time():$settings['starttime']), true)}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动结束时间</label>
                                        <div class="col-sm-9 col-xs-12">
                                    {php echo tpl_form_field_date('endtime', date('Y-m-d H:i:s',empty($settings['endtime'])?time()+3600*240:$settings['endtime']), true)} 
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">任务目标人数</label>
                                        <div class="col-xs-12 col-sm-9">
                                            <input type="text" name="rwmb" value="{$settings['rwmb']}" class="form-control" placeholder="如：10" >
                                            <span class="help-block">如:10  就是拉取10个人任务完成，发放奖励</span>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">类型</label>
                                            <div class="col-xs-12 col-sm-9">
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="rwlx"  value="0" {if $settings['rwlx'] == 0}checked{/if}> 普通模式(链接,优惠券等)
                                               </label>
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="rwlx"  value="1" {if $settings['rwlx'] == 1}checked{/if}> 有赞
                                               </label>
       
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="rwlx"  value="3" {if $settings['rwlx'] == 3}checked{/if}> 红包模式
                                               </label>
                                               <label class="checkbox-inline">
                                                  <input type="radio" name="rwlx"  value="4" {if $settings['rwlx'] == 4}checked{/if}> 微信卡券模式
                                               </label>
                                                <span class="help-block" style="color:#ff0000">活动中，请不要修改类型，如果修改了，把上面的活动开始时间，重新选择，以便人数重新统计</span>
                                            </div>
                                   </div> 
                            </div>
                       </div>
                    </div>

                    <div class="panel-body"  style="display: none;" id="kq">
                      <div class="panel panel-default">
                            <div class="panel-heading" style="color:#ff0000">
                                <b>微信卡券设置</b>
                            </div>
                            <div class="panel-body">
                              
                                <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">微信卡券ID：</label>
                                        <div class="col-sm-9 col-xs-12">
                                            <input type="text" value="{$settings['cardid']}" class="form-control" name="cardid"  placeholder="如：pozm3txI6W-Fcxndth6AlSONkZqE">
                                             <div class="help-block">请填写微信卡券ID</div>
                                        </div>
                                </div>
                                <BR>

                                <p style="color:#ff0000">卡券设置方法：</p>
                                <p>第一种：粉丝营销-》卡券列表-》添加微信券</p>
                                <p>第二种：登录微信公众号后台-》左边功能-》卡券功能-》优惠券-》新建优惠券</p>
                                <p style="color:#ff0000">注：卡券创建的时候，尽量设置成不能分享</p>
                               
                            </div>
                       </div>
                    </div>

                    <div class="panel-body"  style="display: none;" id="hb">
                      <div class="panel panel-default">
                            <div class="panel-heading" style="color:#ff0000">
                                <b>红包设置</b>
                            </div>
                            <div class="panel-body">
                              
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">任务完成奖励</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="input-group" style="width:50%;">
                                          <input type="text" class="form-control" name="hbsl" value="{$settings['hbsl']}" placeholder="如：1">
                                          <span class="input-group-addon">元</span>
                                        </div>
                                        <span class="help-block">如：任务完成自动发 1元红包，数值范围1-200之间</span>
                                    </div>
                                </div> 
                               
                            </div>
                       </div>
                    </div>

                   <div class="panel-body"  style="display: none;" id="yz">
                      <div class="panel panel-default">
                            <div class="panel-heading" style="color:#ff0000">
                                <b>有赞设置</b>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                  <div class="col-xs-12 col-sm-12">
                                    {if $token['access_token']<>''}
                                    <a href="{php echo $this->createWebUrl('yzauth')}" class="btn btn-success" style="width:100%">授权成功，点击重新授权</a>
                                    {else}
                                    <a href="{php echo $this->createWebUrl('yzauth')}" class="btn btn-danger" style="width:100%">有赞登录授权</a>
                                    {/if}  
                                   </div>
                                </div>
                                <Br>
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">有赞标签名称</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <input type="text" name="yzbq" value="{$settings['yzbq']}" class="form-control" placeholder="如:任务宝会员特权" >
                                        <span class="help-block">登录有赞后台-》会员-》标签管理-》添加一个 相同的标签，如：任务宝会员特权</span>
                                    </div>
                                </div> 
                                <Br>
                                <p style="color:#ff0000">设置购买权限，需要先用上面的按钮，授权对应的公众号就可以了</p>
                                <p>有赞商品购买权限设置：</p>
                                <p>1、进有赞后台-》商品->选择一个活动商品编辑-》购买权限-》选择用户标签-》选择对应上面的用户标签-》保存</p>
                                <p>2、保存好后，复制这个商品链接，放到下面的-》完成任务详情链接-里面就可以了</p>
                            </div>
                       </div>
                    </div>

                    <div class="panel-body"  style="display: none;" id="rr">
                      <div class="panel panel-default">
                            <div class="panel-heading" style="color:#ff0000">
                                <b>人人商城平台设置</b>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">人人标签选择</label>
                                    <div class="col-sm-9 col-xs-12">
                                       {if $ewgroup['error']<>''}
                                            <span class="help-block" style="color:#ff0000">{$ewgroup['error']}</span>
                                       {else}
                                             <select style="display: inline-block;width: auto;" name='rrbq' class="form-control">
                                               {loop $ewgroup $e}
                                                <option value="{$e['id']}" {if $settings['rrbq']==$e['id']}selected{/if}>{$e['groupname']}</option>
                                               {/loop}
                                               
                                            </select>
                                            <span class="help-block">选择对应的标签组，任务成功后会自动分到这个组里面，只有在这个组里面的人才能购买</span>
                                       {/if}
                                     </div>
                                 </div>
                                <Br>
                                <p style="color:#ff0000"><b>请先在人人商城-》营销-》关注回复开启（不开启会员不会在人人商城会员表里面）</b></p>
                                <p>人人标签分组设置：</p>
                                <p>1、进人人商城后台-》会员-》会员分组-》添加会员分组</p>
                                <p>2、设置商品权限，选择要参加活动商品-》编辑->购买权限-》会员组购买权限-》选择应对的会员组</p>
                                <p>3、把这个商品的链接，放到下面的-》完成任务详情链接-里面就可以了</p>
                            </div>
                       </div>
                    </div>

                    <div class="panel-body">
                      <div class="panel panel-default">
                            <div class="panel-heading">
                                任务模版消息
                            </div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">提醒消息模版ID</label>
                                    <div class="col-xs-12 col-sm-9">
                                        <input type="text" name="rwmbtxid" value="{$settings['rwmbtxid']}" class="form-control" placeholder="如：fCfGChknZxAVu2Ev_ZADMxZq553EdHvKSefMjQ36J_8" >
                                        <span class="help-block">行业：IT科技 - 互联网|电子商务  模版消息->模版库->搜索->新会员加入通知->OPENTM202967310->添加</span>
                                    </div>
                               </div> 
                               <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">任务中first.DATA</label>
                                        <div class="col-xs-12 col-sm-9">
                                            <input type="text" name="rwfirstdata1" value="{$settings['rwfirstdata1']}" class="form-control" placeholder="" >
                                            {php echo tpl_form_field_color('rwbcolor1',$settings['rwbcolor1'])}
                                            <span class="help-block">如：又一位小伙伴认可你的人气啦！你当前人气值#人气#,会员昵称：#昵称#</span>
                                        </div>
                               </div> 
                               <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">任务中remark.DATA</label>
                                        <div class="col-xs-12 col-sm-9">
                                            <input type="text" name="rwremarkdata1" value="{$settings['rwremarkdata1']}" class="form-control" placeholder="" >
                                            {php echo tpl_form_field_color('rwbcolor2',$settings['rwbcolor2'])}
                                            <span class="help-block">如：已经完成#完成#位，还需要#剩余#位小伙伴的认可，就可以获得美食达人神秘礼包了！</span>
                                        </div>
                               </div>





                               <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">完成任务first.DATA</label>
                                        <div class="col-xs-12 col-sm-9">
                                            <input type="text" name="rwfirstdata2" value="{$settings['rwfirstdata2']}" class="form-control" placeholder="" >
                                            {php echo tpl_form_field_color('rwbcolor3',$settings['rwbcolor3'])}
                                            <span class="help-block">如：成功啦!您已经找到#完成#位支持者!</span>
                                        </div>
                               </div> 
                               <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">完成任务remark.DATA</label>
                                        <div class="col-xs-12 col-sm-9">
                                            <input type="text" name="rwremarkdata2" value="{$settings['rwremarkdata2']}" class="form-control" placeholder="" >
                                             {php echo tpl_form_field_color('rwbcolor4',$settings['rwbcolor4'])}
                                            <span class="help-block">如：点击左下角"详情"按照片对应提示领取奖励！</span>
                                        </div>
                               </div>
                               <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">完成任务详情链接</label>
                                        <div class="col-xs-12 col-sm-9">
                                            <input type="text" name="rwlink" value="{$settings['rwlink']}" class="form-control" placeholder="开头：http://" >
                                            <span class="help-block">如：填写完成任务点击领取奖励的链接</span>
                                        </div>
                               </div>
                               <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">关注客服消息</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <textarea class="form-control" name="rwgzmsg" rows="8" placeholder="">{$settings['rwgzmsg']}</textarea>
                                        <span class="help-block">任务完成后，消息变为普通客服消息。如：#昵称#感谢您的关注！</span>
                                    </div>
                               </div>
                               <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">任务完成后上级客服消息</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <textarea class="form-control" name="rwsjmsg" rows="8" placeholder="">{$settings['rwsjmsg']}</textarea>
                                        <span class="help-block">任务完成后，消息变为普通客服消息。如：您的朋友#昵称#来支持你啦！</span>
                                    </div>
                               </div>
                            </div>
                       </div>
                    </div>

                    </div>

					</div>

                  
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script type="text/javascript">
	$(function(){
		showRight();
		$('input[name="rwlx"]').change(function () {
			showRight();
		})
	});
	function showRight(){
		//var mode = $("#gift-mode-selector").val();
		var raffle = $('input[name="rwlx"]:checked').val();
		//var select = "#mode-detail-"+mode;
		//$(".select-panel").hide();
		//$(select).show();
        //alert(raffle);

        if(raffle == 0){
			$("#wz").show();
		}else {
			$("#wz").hide();
		}

		if(raffle == 1){
			$("#yz").show();
		}else {
			$("#yz").hide();
		}

        if(raffle == 2){
			$("#rr").show();
		}else {
			$("#rr").hide();
		}

        if(raffle == 3){
			$("#hb").show();
		}else {
			$("#hb").hide();
		}

        if(raffle == 4){
			$("#kq").show();
		}else {
			$("#kq").hide();
		}

	}
</script>
<script>

$(function () {
		window.optionchanged = false;
		$('#myTab a').click(function (e) {
			e.preventDefault();//阻止a链接的跳转行为
			$(this).tab('show');//显示当前选中的链接及关联的content
		})
	});
</script>
{template 'common/footer'}