body{ background:#fff;}
header{width:100%;height:51px;background:url(img/header-bg.jpg) repeat-x;}
.index{ width: 100%; max-width: 640px;overflow:hidden;background:#fff;}
.index ul{list-style:none;}
.index ul:after{display:table;content:"";clear:both;}
.index li{width:50%;height:50px;float: left;margin-top:6px;position:relative;}
.index li:before{display:block;width:100%;height:100%;content:"";position:absolute;left:0;padding:0;}
.index li:nth-child(4n+1):before{border-top:50px solid #B60005;border-right:50px solid  #000;}
.index li:nth-child(4n+2):before{border-bottom:50px solid #1f8b4e;border-left:50px solid  #000;}
.index li:nth-child(4n+3):before{border-bottom:50px solid #23638f;border-right:50px solid  #000;}
.index li:nth-child(4n+4):before{border-top:50px solid #d4880f;border-left:50px solid  #000;}
.index li:nth-child(4n+1){background:#1f8b4e;padding-right:50px;}
.index li:nth-child(4n+2){background:#23638f;padding-left:50px;}
.index li:nth-child(4n+3){background:#167c88;padding-right:50px;}
.index li:nth-child(4n+4){background:#d4880f;padding-left:50px;}
.mod-index{width:100%;height:100%;overflow: hidden; display:block;text-align:center;color:#fff;font-size: 12px;vertical-align:middle;position:relative;z-index:1;}
.index-img{width:30%;height:100%;float:left;text-align:right;}
.index-img i{display:inline-block;width:100%;height:50px;font-size:30px;line-height:50px;}
.index-img img{width:25px;height:25px;}
.index-text{width:70%;height:50px;float:left;padding:0 10px;text-align:left;line-height:20px;display:table;vertical-align:middle;}
.index-text i{display:block;width:50px;height:50px;font-size:40px;line-height:50px;}
.index-text b{display:block;font-size:14px;}
.index-text p{display:table-cell;vertical-align:middle;}
.index-text small{display:block;font-size:12px;height:25px;line-height:25px;overflow:hidden;border-bottom:1px solid  #fff;}
.index-text span{display:block;font-size:14px;height:25px;line-height:25px;overflow:hidden;text-align:right;}
/*tool*/
.tool{width:100%;height:90px;margin-top:10px;color:#fff;background:#dfdfdf;}
.tool:after{display:block;content:"";clear:both;}
.tool-text{width:30%;padding:20px 0;float:left;background:#B60005;}
.tool-text p{width:40px;font-size:16px;margin:0 auto;text-align:center;line-height:25px;}
.tool-link{width:70%;float:left;}
.tool-link a{display:block;float:left;width:46%;height:30px;line-height:30px;margin:10px 2% 0;text-align:center;color:#6c6c6c;background:#fff;}
/*box*/
.box:active,
.box.active,
.mod-page a:active,
.mod-page.active,
.mod-share a:active,
.mod-share a.active,
.box-active:active,
.box-active.active{
    opacity:0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
}

.btn-up-1{display: none;}
.navPop-1 .navPop-btn{ background: #999;}
.navPop-1 .navPop-btn .fa{ background: #fff; color: #999;}
.navPop-wrap>div a{
    background: #999;
    color: #fff;
}
.btn-up-1{bottom: 56px;}
.navPop-1{bottom: 40px;}
@media screen and (orientation:landscape) {

}
@media only screen and (max-width:1080px){

}
@media only screen and (min-width:1224px){

}
@media only screen and (max-width:320px){

}