/*------------------閲嶇疆鏍峰紡-----------------*/
body,div,p,textarea,form,input,h1,h2,h3,h4,h5,dl,dt,dd,img,section,article,aside,header,footer,nav,figure,hgroup{margin:0;padding:0;font-size:100%;}
a:link,a:visited{text-decoration:none;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.clearfix:after{content:"";display:block;clear:both;height:0;overflow:hidden;}
.text_overflow{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
body{min-width:320px;overflow-x:hidden;-webkit-text-size-adjust:none;font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","\5FAE\8F6F\96C5\9ED1",Helvetica,serif;}
body,html{height:100%;}
/*loading*/
#loading_box{width:140px;height:60px;margin:0 auto;position:absolute;top:50%;left:50%;margin:-30px 0 0 -70px;}
.loading{width:36px;height:36px;margin:0 auto;background-repeat:no-repeat;background-size:cover;background-position: center;background-image:url(../images/preloader_64x64.gif);}
.tips_loading{color:#fff;margin-top:20px;font-size:13px;}
#invitative_wrap{height:100%;overflow:hidden;}
.hide{display:none;}
/*body鑳屾櫙*/
.home_body{height:100%;background-color:#1B2B3A;background-repeat:no-repeat;background-position:center;background-size:cover;}
/*闊充箰*/
#audio{position:absolute;z-index:-1;top:0;right:0;opacity:0}
/*鍙戦個璇峰嚱*/
#invitative_box{height:auto;width:100%;position: relative;-webkit-transform-origin: 50% 0px;}
.send_invitative_box{width: 100%;height:390px;position:absolute;top:-300px;}
.send_invitative_box span{display:block;width:140px;height:183px;background-position: center;background-repeat: no-repeat;background-size:cover;position: absolute;z-index:1;top:0;}
.invitative_img{height:245px;width:245px;margin: 0 auto;position:relative;-webkit-backface-visibility:hidden;background-position: center;background-repeat: no-repeat;background-size:cover;background-image:url(../images/img_invitation_490x490.png);}
.left_hand{right:-105px;background-image:url(../images/img_left_hand_280x365.png)}
.right_hand{left:-105px;background-image:url(../images/img_right_hand_280x365.png)}
.send_invitative_animation{-webkit-transform:translate(0,300px) ;-webkit-transition:all 1s linear;}
.send_hand_animation{-webkit-transform:translateY(300px);-webkit-transform-origin:0 0;-webkit-transition:all 1s linear;}
/*.hand_hide{-webkit-transform:translateY(-300px);-webkit-transition:all 1s linear;}*/
.hand_hide{opacity:0;-webkit-animation:hand_hide_animation 1s ease-in;}
@-webkit-keyframes hand_hide_animation{
    0%{opacity:1;}
    100%{opacity: 0}
}
@-webkit-keyframes bounce{
    0%{-webkit-transform:translateY(0px);}
    33%{-webkit-transform:translateY(40px);}
    66%{-webkit-transform:translateY(30px);}
    100%{-webkit-transform:translateY(40px);}
}
.bounce{-webkit-transform:translateY(40px);-webkit-animation:bounce 1s linear;}
/*闂儊鐨勬彁绀哄渾*/
#btn_flicker_circle{ display:none;width:24px; height:24px;border:5px solid rgba(255,255,255,.8);-webkit-border-radius:34px; border-radius:34px;position:absolute;top:170px;right: 20px;-webkit-animation:circle_flicker 1.5s linear infinite}
#btn_flicker_circle:after{ content:'';width:12px;height:12px;-webkit-border-radius:12px; border-radius:12px;background-color:rgba(255,255,255,.8);position: absolute;left:6px;top:6px;}
@-webkit-keyframes circle_flicker{
    0%{opacity: 0;-webkit-transform:scale(1)}
    50%{opacity: 1;-webkit-transform:scale(1.4)}
    100%{opacity: 0;-webkit-transform:scale(1)}
}
/*鎵嬫寚*/
#btn_finger{display:none;opacity:0.8;width:192px;height:191px;position:absolute;right:-145px;top:178px;background-position: center;background-repeat: no-repeat;background-size:cover;background-image:url(../images/img_shouzhi_392x393.png);}
/*鍐呭涓讳綋妗嗚儗鏅拰鑳屾櫙鍥剧墖*/
.activity_content_bgcolor{width:270px;margin:35px auto 0;height: 348px;background-color:#fdfbf8;-webkit-box-shadow: 0 0 8px rgba(0,0,0,.05), 1px 1px 3px rgba(0,0,0,.2);box-shadow: 0 0 8px rgba(0,0,0,.05), 1px 1px 3px rgba(0,0,0,.2);}
.activity_content_bgimg{position: relative;}
.activity_content_bgimg:before{content:'';width:100%;height:72px;position: absolute;bottom:0;background-color: #faf6ee;}
.activity_content_bgimg:after{content:'';width:100%;height:9px;position: absolute;bottom:-9px;background-repeat:no-repeat;background-size:cover;background-image:url(../images/img_waves_538x18.png);}
/*娲诲姩浠嬬粛*/
.activity_box{width:320px;margin:0 auto;height:0;overflow:hidden;position: relative;top:20px;z-index:99;}
#activity_scroll_content{width:100%;height:390px;position: relative;overflow: hidden;}
@-webkit-keyframes intro_show{
    0%{-webkit-transform:scale(0)}
    100%{-webkit-transform:scale(1)}
}

.activity_intro_animation{height:390px;-webkit-animation:intro_show .2s ease-in;}
.activity_intro_wrap{width:265px;height: auto;position: relative;}
/*宸﹀彸鍒囨崲鍐呭*/
.activity_intro_wrap,.activity_detail_box,.signup_box,.signup_success_box,.guest_list_box{margin:35px 25px 0 30px;}
.activity_title{position: initial;padding:6px 0;margin:-40px -2px 0 -2px;color:#793E16;text-align:center;font-size:16px;}
.title_bg{background-color:#F1EDE4;}
.activity_intro_box{height:284px;position: relative;padding-top:50px;}
.intro_detail_content{height:auto;position: relative;padding-top:10px;margin-top:-70px}
.intro_content{height:245px;padding-bottom: 30px;}
/*娲诲姩浠嬬粛鍥剧墖婊氬姩*/
.intro_img_box{;height:160px;position:relative;overflow:hidden;margin: -25px 30px 10px 30px;background-color:#FAFAFA;-webkit-box-shadow:0 0 1px 2px rgba(0,0,0,.06);box-shadow:0 0 1px 2px rgba(0,0,0,.06);}
#intro_img_container{width:100%;height:100%;position: absolute;}
#intro_img_container,#intro_img_container li{margin:0;padding:0;}
#intro_img_container li{list-style:none;width:100%;float: left;}
.intro_img{height:130px;margin:10px 10px 20px 10px;background-position: center;background-size:cover;background-repeat: no-repeat;}
.activity_detail_text_box{height: auto; position: relative;padding-top:15px;}
/*娲诲姩璇︽儏浠嬬粛*/
.activity_detail_box{position:relative;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,.1);box-shadow:0 0 1px 1px rgba(0,0,0,.1);}
/*璐靛鍚嶅崟*/
.detail_btn{display:block;background-repeat: no-repeat;background-size: cover;background-position: center;position: absolute;z-index: 2;letter-spacing:1px;font-weight:bold;}
.btn_guest_list{width:57px;height:97px;color:#783F14;font-size:12px;font-weight:bold;top:-36px;left:-25px;background-image:url(../images/img_list_113x194.png)}
.btn_guest_list>em{font-style:normal;display:block;width:30px;margin:12px 15px;}
/*鏌ョ湅娲诲姩璇︽儏*/
.view_activity_detail{width:137px;height:38px;left:-26px;top:52px;font-size:14px;line-height:32px;text-indent:48px;font-weight:bold;color:#8D5B20;background-image:url(../images/img_title_274x76.png);}
/*鎶ュ悕*/
.btn_signup_wrap,.btn_success_wrap{width:100px;height:68px;position: relative;}
.btn_signup{position: relative;width: 83px;height: 38px;-webkit-transform: translate(190px,-40px) rotate(-5deg);line-height: 36px;text-indent: 33px;color: #fff;font-size: 13px; right: -12px;top: -25px;background-image: url(../images/img_sign_up_166x74.png);}
/*鎶ュ悕鎴愬姛鎸夐挳*/
.btn_success_wrap{width:100px;height:68px;position: relative;z-index:9;}
/*.btn_signup_success{width:99px;height:64px;position: relative;-webkit-transform: translate(200px,-400px);background-image:url(/res/modules/invitative/images/img_successful_symbol_197x128.png)}*/
.btn_signup_success{width:99px;height:64px;position: relative;-webkit-transform: translate(190px,-70px);background-image:url(../images/img_successful_symbol_197x128.png);}
/*鎾斁闊充箰*/
#cd_player{position:fixed;z-index:99;bottom:-10px;left:-10px;width:50px;height:50px;display: none;}
.btn_music{width:50px;height:50px;background-size: cover;background-position: center;position:relative;z-index:3;background-image:url(../images/img_cd_84x84.png); }
.music_note{display:none;width:22px;height:34px;background-size: cover;background-position: center;position: absolute;bottom: 10px; left:10px;z-index: 2;background-image:url(../images/img_symbol_38x58.png);}
.music_play_animation{-webkit-animation:cd_rotate 2s linear infinite;}
.music_paused_animation{-webkit-animation-play-state:paused;}
@-webkit-keyframes cd_rotate {from{ -webkit-transform: rotate(0deg);} to { -webkit-transform: rotate(360deg); }}
.music_note_animation{-webkit-animation:music_note_move 3s linear infinite; }
@-webkit-keyframes music_note_move{
    0% { -webkit-transform:translate(0,0);opacity:1}
    100% { -webkit-transform: translate(60px,-60px);opacity:0 }
}
/*鏃堕棿鍦板潃*/
.intro_othermessage{color:#763F16;font-size:12px;padding: 0 10px 10px 30px; line-height:20px;}
.activity_address{position:relative;font-style:normal;}
.navgation_icon{content:'';position: absolute;right:-20px;bottom: 0;display:block;width:18px;height:18px;background-position: center;background-size:cover;background-repeat: no-repeat;background-image:url(../images/icon_location_35x35.png);}
.date{position:relative;}
.date:after{content:'';width:18px;height:18px;position:absolute;left:-20px;top:0px;background-position: center;background-size:cover;background-repeat: no-repeat;background-image:url(../images/icon_date_30x30.png);}
.activity_address:after{content:'';width:18px;height:18px;position:absolute;left:-20px;top:-2px;background-position: center;background-size:cover;background-repeat: no-repeat;background-image:url(../images/icon_location_30x30.png);}
/*涓诲姙鏂�*/
.top_5{top:5px;}
.organizer{width: 100%;color:#6E6E70;font-size:13px;position: initial;margin:8px -2px 0 -2px;padding:8px 0;left:auto;right:auto;;text-indent:10px;}
.organizer>p{line-height:20px;}
/*娲诲姩璇︽儏*/
.main_area_wrap{height:390px;width:320px;position: absolute;top:0;left:0;-webkit-transform:translateX(320px)}
.lastItem{-webkit-transform:translateX(-320px);}
.nextItem{-webkit-transform:translateX(320px);}
.curItem{-webkit-transform:translateX(0px);}
.active{-webkit-transition:-webkit-transform 200ms ease-in;}
/*涓嬩竴涓寜閽�*/
.btn_up{display:block;position:relative;-webkit-transform: translatey(-10px);margin-left:-3px;width:36px;height:37px;background-position: center;background-size:cover;background-repeat: no-repeat;background-image:url(../images/icon_return_72x72.png)}
.intro_detail_box{min-height:180px;height:180px;overflow:hidden;color:#6E6E70;padding:0 15px;margin:15px 0;font-size: 13px;line-height:23px;}
.intro_detail_box>img,.intro_detail_box *{max-width:100%;overflow:hidden;margin:auto;clear:both;display: block;}
/*--------------------鐧昏璧勬枡琛ㄥ崟--------------------------*/
.signup_box{}
.form_box{position: relative;z-index:2;height:140px;}
.register_avatar_box{padding-top:5px}
.register_avatar{width:70px;height:70px;margin:-20px auto 15px;border:3px solid #C8AF9B;-webkit-border-radius:70px;border-radius:70px;background-repeat:no-repeat;background-position:center;background-size:cover;}
.signup_box a{display:block;padding:10px;text-align:center;-webkit-border-radius:6px;border-radius:6px;color:#fff;position: relative;z-index:2;}
.text{margin:0 20px 15px;padding:3px 6px;border:1px solid #D7D7D7;-webkit-border-radius:4px;border-radius:4px;}
.text > input{width:100%;border:none;font-size:13px;height:26px;}
.register_error{padding:0 15px;margin-bottom:10px;color:#f00;font-size:12px;position: relative;z-index:2;text-align:center;}
.register_btn_box{width:100%;position:absolute;bottom:0;padding:15px 0;background-color:#F8F4EB;}
/*.register_btn{border:none;margin:30px 30px 0;background-color:#C8030A;-webkit-box-shadow:0 2px #db4453;box-shadow:0 2px #db4453;}*/
.register_btn{border: none;background-color: #C8030A;-webkit-box-shadow: 0 2px #db4453;
    box-shadow: 0 2px #db4453;width: 70%;margin: 0 auto;display: block;border-radius: 6px;padding: 10px 0;color: #fff;font-size: 14px;font-weight: bold;}
/*.register_btn_box:after{content:'';width:100%;height:9px;position:absolute;bottom:-9px;background-repeat:no-repeat;background-position: center;background-size:cover;background-image:url(/res/modules/invitative/images/img_waves_538x18.png)}*/
/*-------------------鎶ュ悕鎴愬姛-------------------*/
.sigunup_success_box{position: relative;}
.signup_success_avatar{position: absolute;top:100px;left:50%;margin-left:-35px;}
.signup_success_tips{text-align: center;color:#6f6f70;font-size:15px;tont-weight:bold;margin:0 20px;position: absolute;top:200px;left:0;right:0;}
/*.signup_success_show{-webkit-transform: translate(200px,-70px);}*/
.dynamic_signup_success{-webkit-transform: translate(190px,-70px);}
.signup_success_animation{-webkit-transform: translate(190px,-70px);-webkit-animation:stamp 1s ease-in;}
@-webkit-keyframes stamp{
    0%{-webkit-transform:translate(190px,-10px) scale(5);}
    100%{-webkit-transform:translate(190px,-70px) scale(1) ;}
}
/*閭�璇锋湅鍙嬪弬涓�*/
.btn_invite{width:138px;height:121px;top:-35px;right:30px;/*background-image:url(/res/modules/invitative/images/img_prompt_276x242.png);*/}
@-webkit-keyframes shake{
    0%,100%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    10%,30%,50%,70%,90%{-webkit-transform:translate(-3px,-3px);transform:translate(-3px,-3px)}
    20%,40%,60%,80%{-webkit-transform:translate(3px,3px);transform:translate(3px,3px)}
}
.btn_invite_animation{-webkit-animation:shake 4s linear infinite;}
/*--------------------------鍢夊鍚嶅崟----------------*/
.guest_list_box{position: relative;}
.signup_number{text-align: center;padding:10px 0;color:#BE2C2C;position: relative;top:-90px;}
.guest_list{margin:-85px 0 0 15px;position: relative;height:260px;overflow:hidden;}
.guest_list ul,.guest_list li{padding:0;margin:0;list-style: none;}
.guest_list li{height:46px;line-height: 46px;margin-top:6px;}
.guest_avatar,.guest_name,.guest_tel{display: inline-block;}
.guest_name,.guest_tel{color:#783f13;font-size:13px;vertical-align:top;}
.guest_avatar{width:38px;height:38px;margin-right:10px;background-color:#d1d1d1;-webkit-border-radius:38px;border-radius:38px;background-repeat:no-repeat;background-position: center;background-size:cover;}
.guest_name{width:80px;max-width:100px;}
/*iscroll*/
.myScrollbarV { position: absolute;z-index: 100; width:5px; bottom:2px;top:65px; right:0;z-index:1;}
.myScrollbarV > div { position: absolute;z-index: 100; width: 100%; background-color:rgba(0,0,0,.5); -webkit-border-radius:10px;border-radius:10px;}
/*#pullUp { background:#fff; height:40px; line-height:40px;padding:5px 10px; border-bottom:1px solid #ccc;font-weight:bold;font-size:14px;color:#888;}*/
#pull_up {width:100%;height:40px;line-height:40px;color:#888;}
.pullup_label{text-align: center;}

