body {
	background: url("bg.png") 0% 0%;
}
.clear {
	clear: both;
}
.weiba-list-item {
	background: url("catebg.png") !important; margin: 0px 1% 10px; border: currentColor; width: 46%; height: 100px; float: left; display: block; position: relative;
}
.weiba-icon {
	left: 10px; top: 20px; width: 64px; height: 64px; position: absolute;
}
.weiba-icon img {
	left: 50%; top: 50%; width: 36px; height: 36px; margin-top: -18px; margin-left: -18px; position: absolute;
}
.weiba-icon .weiba-icon-cover {
	background: url("circle.png") no-repeat 0px 0px; left: 0px; top: 0px; width: 64px; height: 64px; position: absolute;
}
.weiba-content {
	margin-top: 10px;
}
.weiba-text {
	top: 50%; margin-top: -12px; margin-left: 80px; position: absolute;
}
.weiba-text .weiba-title {
	height: 20px; color: rgb(255, 255, 255); line-height: 20px; overflow: hidden;
}
#footer {
color: #DBCBCB;
}
.icon-building:before {
margin: 15px 0 0 18px;
}