
.clr {
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
}
.copyright{padding:8px;text-align:center;font-size:14px;color:#666;}
.copyright a{color:#666;}
/*cate25*/
#cate25{background-color: #eaebeb;overflow-x: hidden;margin:0 auto;}
#cate25 .banner img{
    width:100%;
}
#cate25 .imgmenu{
    margin:10px 0;
}
#cate25 .imgmenu ul{
    width: 100%;
}
#cate25 .imgmenu li{
    float:left;
    width:32%;
    margin:5px 2px;
    display: block;
    background:url(../images/changdameipic.png) 0 0 no-repeat;
    background-size:cover;
    border-radius: 5px;
}
#cate25 .imgmenu li a {
display: block; text-align:center;color:white; text-decoration: none;
}
#cate25 .imgmenu li a img{
    width:50px;
}
#cate25 .imgmenu li a p{
    font-size:14px
}
#cate25 .catemenu {
overflow: hidden;
background-color: #f9f8f8;
display: -webkit-box; position:relative;
}
#cate25 .catemenu ul {
width: 100%;
overflow: hidden;
border-top: 1px solid white;
border-bottom: 1px solid #c5c7cb;
-webkit-box-flex: 3;
}

#cate25 .catemenu li{
display: block;
padding:5px 0 5px 10px;
}

#cate25 .catemenu li a {
display: inline-block;
margin:0 6px;
text-align: center;
font-size: 16px;
color: #333;
line-height: 30px;
font-size:14px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.cname{ background-color:#f4f4f4;border-top: 1px solid white; border-bottom:1px solid #c5c7cb;  padding:5px; width:90px; text-align:center; display:block;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e1e3e4));
background-image: -webkit-linear-gradient(#f4f4f4, #e1e3e4);
background-image: linear-gradient(#f4f4f4, #e1e3e4);-webkit-box-flex: 1; min-height:70px}
.cname img{width:40px;height:40px;vertical-align: top;
border: 0; margin:0 5px 0 3px;}
.cname a{ display: block;
position: absolute;
top: 50%;
margin-top: -28px;
left: 7px;
width: 60px;
height: 60px;}
.cname p{ font-size:14px;overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;}
