@charset "utf-8";
/* CSS Document */
.ft5{ font-size:15px;}
.bgf4{background:#efeff4;}
.img img{ width:100%; height:100%; display:block; clear:both;}
.img_index{ background:#e63348;}
/***红包导航***/
.red_bar{border-top:1px solid #dddddd;bottom:0px;height:50px; line-height:50px;width:100%;position:fixed;z-index: 2;background:#f7f7f7;-moz-opacity:1.0; opacity:1.0;}
.red_bar .tbon{color:#CB3536;}
.red_bar .listbr{border-right:1px solid #ddd;}
dl.list{width:19.7%; float:left; text-align:center;}
dl.list dt {height:30px;}
dl.list dt img{height:25px;}
dl.list dd{border:0px solid red;text-align:center; height:20px; line-height:20px;}
dl.list dt.hot{height:30px; width:19.7%; position:absolute; bottom:20px;  top:-15px; z-index:20px; border:0px solid black; }
dl.list dt.hot img{height:45px; width:35%;}
dl.list dd.hotxt{border:0px solid red;text-align:center; height:20px; line-height:80px;color:red;}
.payto_i2 ul li{float:left;width:12%;display:block;border:1px solid #ddd; height:40px; margin:6% 0 6% 3.5%; background:#fde567; border-radius:6px; text-align:center; line-height:40px; color:#bc1c28; font-size:18px; font-weight:bolder;}
/****支付成功后*******/
.psbar{width:100%;height:40px;line-height:40px;font-size:16px;font-weight:bold; background:#cc3534; color:#fff; text-align:center;}
.fkbar{width:100%;height:10px; line-height:35px; color:#e63348; font-size:13px; font-weight:600;}
.pspg img{width:100%; height:20px;}
ul.pays li{float:left;width:33.3%; text-align:center; }

.detail .tutor_name .timepic{float:left;width:50px;border-right:solid #666 0px;}
.detail .tutor_name .timepic .tpoint{border:0px solid #000;padding:0px 0 50px 50px;}
.detail .tutor_name .name{float:left; width:75%; padding:20px 10px;color:#333;  font-size:13px; font-weight:600; position:relative;}
.detail .tutor_name .name span{color:#222; font-size:17px;}
.detail .tutor_name .name label{color:#e63348; font-size:15px;}
.detail .tutor_name .timepic .bgps1 {background:url(img/ps01.png) no-repeat right center;}
.detail .tutor_name .timepic .bgps2{background:url(img/ps02.png) no-repeat right center; }
.detail .tutor_name .timepic .bgps3{background:url(img/ps03.png) no-repeat right center;}
.detail .tutor_name .timepic .bgps4{background:url(img/ps04.png) no-repeat right center;}
.detail .tutor_name .timepic .bgps5{background:url(img/ps05.png) no-repeat right center;}
.detail .tutor_name .timepic .bgpays2{background:url(img/bgpays2.png) no-repeat right center;}
.detail .tutor_name .timepic .bgjj{background:url(img/tutor_jj.png) no-repeat right center;}
.detail .tutor_name .timepic .bgpic{background:url(img/tutor_pic.png) no-repeat right center;}

.tip{padding:30px; text-align:left;; font-size:14px; color:#666;font-weight:600;}

.nextstep {width: 88%;display: block;margin: 27px auto;margin-bottom: 20px;background-color: #e63348;padding: 8px;font-size: 18px;font-weight: bold;color: #FFF;border-radius:6px; border:none;}

.nextstep3 {width: 88%;display: block;margin: 20px 6%;background-color: #e63348;padding: 8px;font-size: 18px;font-weight: bold;color: #FFF;border-radius:6px; position:absolute; bottom:20px; border:none;}

.gotoaddr {width: 88%;display: block;margin: 27px auto;margin-bottom: 20px;background-color: #fff; color:#e63348;padding: 8px;font-size: 16px;font-weight: bold;border-radius:6px; border:1px solid #e63348;}
/******导师天团*******/

.kongbai90{ height:90px;}
.top_tip,.tlist{border-bottom:1px solid #e3e2e2; border-top:1px solid #e3e2e2; margin-top:5%; background:#fff; color:#000; font-weight:100;}
.sp23{padding:20px 30px;}
.ht100{height:100px;}
.top_tip span{color:#cc3534; font-size:15px; font-weight:600;}
.top_tip ul li{margin-top:10px; font-size:14px;}
.tlist .img{float:left; margin:10px 0 0 10px;}
.tlist .img img{width:80px; height:80px; border-radius:6px;}
.tlist .maninfo{float:left; width:50%; margin:15px 0 0 10px;}
.tlist .maninfo .name label{font-size:14px; font-weight:600;}
.tlist .maninfo .explain{ margin-top:10px;}
.tlist .rarr{float:right; margin:37px 10px;}
.tlist .rarr img{widh:25px; height:25px;}
/*******导师资料*********/
.head{width:100%;}
.head .headimg{margin:10px auto; width:40%;}
.head .headimg img{width:100%; }
.head .name{text-align:center; font-size:16px; color:#333; font-weight:600;}
.head .exp{width:70%; background:#E3E3E5; padding:10px; margin:10px auto; border-radius:6px; line-height:1.5;}
.head .exp span{font-size:14px; font-weight:600;}
.code .codeimg{margin:20px auto 5px; width:180px;}
.code .codeimg img{width:180px;}
.code .code_txt{text-align:center; font-size:14px; color:#cc3534; font-weight:600; line-height:1.5;}

/*******申请成为领导人**********/
.barf7{width: 100%;height: 40px;background-color: #cc3435;color: #cc3534;border-bottom: 1px solid #dddddd;line-height: 40px; text-align:center; font-size:16px; font-weight:bold;}

.content {margin:20px; font-size:14px; line-height:1.8;}
.content .tit{font-size:18px; font-weight:600; }
.cc{color:#cc3534;}
.bold{font-weight:bold;}
.content .red{color:red;}
.content .mgt20{margin:20px 0 10px;}
.content .mgt10{margin:10px 0;}
.content .smtit{font-size:14px; }
.content label{font-weight:600;}
.content .exptit{font-size:15px; font-weight:600; text-align: center;}
.content span img{width:20px; height:15px;}
/**竞宝规则**/
.formu{height:110px; width:100%; background:#ddd; margin:10px auto;}
.formu .formula{height:80px; width:80%; background:#cc3435; border-radius:8px; margin:0px auto; padding:5px 10px; line-height:1.6; color:#fff; font-family:STHeiTi,sans-serif;font-size: 1rem;}
.numA{border-bottom:1px solid #ddd; padding:30px 20px;font-family:STHeiTi,sans-serif;font-size: 0.9rem; line-height:1.6;}
.numB{border-bottom:0px solid #ddd; padding:30px 20px;font-family:STHeiTi,sans-serif;font-size: 0.9rem; line-height:1.6;}
.numB a{color:#00a0f8; font-weight:100;}
.open{background:#ddd; margin:20px auto 0; height:150px;font-family:STHeiTi,sans-serif;font-size: 1.0rem;}
.open .opened{padding:30px 15px 50px; background:#fff; height:50px;}
.open .opened .luck{text-align:center;}
.calc-B{padding:15px;}


.myform{width:85%; margin:0 auto; border:0px  solid #000; }
.myform .page_title{font-weight:bold;font-size:15px; margin:10px 0;}
.blank9{margin:0px auto; clear:both; height:9px; font-size:1px; overflow:hidden;}
.myform .star{color: red; float:left; border:0px solid green; margin:22px 0 0 3px; font-size:15px; font-weight:bolder;}
.myform .row{ float:left;background:#fff; border-radius:3px; border:1px solid #e0e0e0; height:40px; line-height:40px; margin:10px 0 0 1%; position:relative; padding-left:64px;}
.myform .wd78{width:78%;}
.myform .wd70{width:70%;}
.myform select{height:35px; border:0px; background:url(img/select_icon.jpg) 100% center no-repeat #fff; background-size: auto 25px;border:1px solid #e9e9e9; width:100%;color:#aaa;}
.myform .row .inpspan{ float:left; display:inline-block; width:100%;height:40px;text-align:center;}
.myform .row span.label{ position:absolute; left:0px; top:0; height:40px; width:60px; padding:0 0px 0 6px; background:#F5F5F5; color:#000;text-align:center;}
.myform  input.form_input{border:0px;height:38px; padding-left:6px;line-height:14px; width:90%;background-size: auto 32px;}
.myform .row .select_box{ width:99%; min-width:99%; height:30px;background:url(img/select_icon.jpg) right center no-repeat;background-size: auto 32px;}
.myform .row .select_box select{ border:0px; line-height:normal; background:none;height:30px; border-radius:0px; padding-left:6px; width:100%; min-width:100%; }
.myform .textarea textarea,.goodsform .textarea textarea{ width:100%; height:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;padding:5px; border-radius:3px; border:1px solid #e0e0e0;}

.myform .submit{width:100%; margin:20px auto;  background-color:#cc3534; padding:8px; font-size:18px; font-weight:bold;color:#FFF; border:0px; border-radius:5px;}

.midbar{height:40px;background-color: #f7f7f7;border-bottom: 1px solid #dddddd;border-top: 1px solid #dddddd;line-height: 40px;font-size:14px; font-weight:bold; padding-left:20px;}
 .table{padding:0 10px;}
 /****视频相关********/
.showdiv .video{width:100%;}
.showdiv .video video{width:100%; position:relative;}