@charset "utf-8";
/****************************** 全局样式 ******************************/
/********** 全局 **********/
body{padding:0;margin:0;font:14px/25px microsoft yahei,arial;}
div, dl, dt, dd, ul, h1, h2, h3, h4, p{padding:0;margin:0;}
li{list-style:none;}
.screen_show img{border:0;display:block;}
a{color:#000000;text-decoration:none;}
a:hover{color:#3498db;text-decoration:underline;}


/********** 其它 **********/
.clearfix:after{height:0;display:block;visibility:hidden;content:".";clear:both;}
.clearfix{display:inline-block;}
*html .clearfix{height:1%;}
.clearfix{display:block;}
.clear{height:0;overflow:hidden;font:0/0 arial;visibility:hidden;clear:both;}

/*公共箭头*/
.bottom_arrowBox .arrow_left{float:left; width:0; height:0; border-top:8px solid #fff; border-right:8px solid transparent;}
.bottom_arrowBox .arrow_right{float:left; width:0; height:0; border-top:8px solid #fff; border-left:8px solid transparent;}
/****************************** 全局样式 结束 ******************************/

.grab_redenvelop{width:1024px; height:100%;  margin:0 auto; overflow:hidden; position:relative; /*z-index:-2;*/ }

.grab_redenvelop .main{width:100%; height:100%; background-size:100%; position:absolute; left:0; top:0; z-index:0;}
.grab_redenvelop .bg_rotate{width:1400px;height:1400px;background:url(../images/redpack/bg.png) 100%;position:absolute;left:-188px;top:-356px; z-index:-1; }


.top_package{width:400px; height:310px;position:absolute; left:50%; top:0; margin-left:-200px; margin-top:-140px;}
.top_package_in{width:400px; height:310px; background:url(../images/redpack/top_package_in.png) no-repeat; background-position:center bottom; background-size:100% auto; position:absolute; left:0; top:0;z-index:0; }
.top_package_out{width:400px; height:310px; background:url(../images/redpack/top_package_out.png) no-repeat; background-position:center bottom; background-size:100% auto; position:absolute; left:0; top:0; z-index:98;}
/*.top_package_in{width:310px; height:163px; background:url(../images/redpack/top_package_in.png) no-repeat; position:absolute; left:50%; top:0; margin-left:-160px;}
.top_package_out{width:310px; height:163px; background:url(../images/redpack/top_package_out.png) no-repeat; position:absolute; left:0; top:0; z-index:98;}*/
.top_package .countNum{width:100%; font-size:16px; color:#fff; text-align:center; font-weight:bold; padding-right:20px; display:none; position:absolute; left:0; top:150px; z-index:100;}
.top_package .countNum b{font-size:40px; padding:0 5px;}

.title{font-size:66px; font-weight:700; font-style:italic; line-height:88px; width:630px; text-align:center; margin:180px auto 0;text-shadow:5px 0 2px rgba(0,0,0,0.08);background:linear-gradient(120deg,#ffc400 0,#ffc600 25%,#fff900 50%,#ffc600 65%,#b98501);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.start{display:block; width:366px; height:168px; background:url(../images/redpack/go.png) center center no-repeat; background-size:contain; margin:20px auto 0;}
.start a{display:inline-block;width:100%; height:100%;}

/*红包雨样式*/
.redenvelop_box{width:290px; height:100%; border-radius:40px; overflow:hidden; position:absolute; top:105px; left:50%; margin-left:-153px; z-index:97;}

.redenvelop_box .redenvelop_list li{position:absolute; top:-160px; background-size:contain;}

/*.redenvelop_box .redenvelop_list li#redenvelop_01{left:106px;}
.redenvelop_box .redenvelop_list li#redenvelop_02{left:80px;}
.redenvelop_box .redenvelop_list li#redenvelop_03{right:60px;}
.redenvelop_box .redenvelop_list li#redenvelop_04{left:3px;}

.redenvelop_box .redenvelop_list li#redenvelop_05{right:3px;}
.redenvelop_box .redenvelop_list li#redenvelop_05_2{left:50px;}

.redenvelop_box .redenvelop_list li#redenvelop_06{right:35px;}
.redenvelop_box .redenvelop_list li#redenvelop_06_2{left:15px;}

.redenvelop_box .redenvelop_list li#redenvelop_07{left:73px;}
.redenvelop_box .redenvelop_list li#redenvelop_07_2{left:45px;}
.redenvelop_box .redenvelop_list li#redenvelop_07_3{left:124px;}
.redenvelop_box .redenvelop_list li#redenvelop_07_4{right:20px;}*/

.redenvelop_box .redenvelop_list .redenvelop1{width:122px; height:152px; background:url(../images/redpack/redenvelop_01.png) no-repeat; z-index:7;}
.redenvelop_box .redenvelop_list .redenvelop2{width:103px; height:137px; background:url(../images/redpack/redenvelop_02.png) no-repeat; z-index:6;}
.redenvelop_box .redenvelop_list .redenvelop3{width:80px; height:108px; background:url(../images/redpack/redenvelop_03.png) no-repeat; z-index:5;}
.redenvelop_box .redenvelop_list .redenvelop4{width:71px; height:97px; background:url(../images/redpack/redenvelop_04.png) no-repeat; z-index:4;}
.redenvelop_box .redenvelop_list .redenvelop5{width:67px; height:95px; background:url(../images/redpack/redenvelop_05.png) no-repeat; z-index:3;}
.redenvelop_box .redenvelop_list .redenvelop6{width:37px; height:48px; background:url(../images/redpack/redenvelop_06.png) no-repeat; z-index:2;}
.redenvelop_box .redenvelop_list .redenvelop7{width:28px; height:49px; background:url(../images/redpack/redenvelop_07.png) no-repeat; z-index:1;}

.weixin_ecode{width:90px; height:90px; position:absolute; right:55px; bottom:55px;}
.weixin_ecode .ecode_img{width:100%; height:100%;}
.bottom_sphere{width:1024px; height:193px;/*background:url(../images/redpack/bottom_sphere.png) no-repeat;*/position:absolute; left:0; bottom:100px; }
.bottom_money{width:712px; height:173px; background:url(../images/redpack/bottom_money.png) no-repeat; position:absolute; left:50%; bottom:100px; margin-left:-356px; }
.bottom_phone{width:356px; height:144px; background:url(../images/redpack/bottom_phone.png) no-repeat; position:absolute; left:50%; bottom:100px; margin-left:-178px;}

/*左侧参与用户列表*/
.left_userlist{ width:88px; min-height:110px; position:absolute; left:40px; top:25px;}
.left_userlist .list_img{width:60px; height:384px; margin:0 auto 80px; position:relative; z-index:10; overflow:hidden;}
.left_userlist .list_img ul{}
.left_userlist .list_img ul li{float:left;margin-top:4px;position:absolute;left:0;}
.left_userlist .list_img ul li img{width:60px; height:60px;}

.left_userlist .user_total{width:88px; height:65px; padding-top:45px; background:url(../images/redpack/left_redenvelop.png) no-repeat;color:#fff; text-align:center; position:absolute; left:0; bottom:0; z-index:9;}
.left_userlist .user_total b{font-size:40px; /*font-family:Arial;*/ line-height:40px;color:#ffcc00;}
.left_userlist .user_total p{font-size:14px; line-height:14px;}


/*右侧中奖名单*/
.right_winninglist{width:256px;position:absolute; right:25px; top:25px;}
.right_winninglist dl dt{line-height:68px;font-size:14px;font-weight:bold; color:#fff; text-align:center; background:#0c52d2; }
.right_winninglist dl dt h4{font-size:28px; padding:0 5px; display:inline-block;}

.right_winninglist dl dd.list{/*padding:0 0 10px 0;*/ background:#fff; text-align:center; max-height:400px; overflow:hidden;}
.right_winninglist dl dd.list.pop_winninglist_a{ cursor:pointer;}
.right_winninglist dl dd.list ul{width:230px; /*margin:0 auto;*/ display:inline-block; text-align:left;}
.right_winninglist dl dd.list li{display:block; height:60px; background-color:#3a80ff; color:#fff; margin-top:20px; position:relative;}
.right_winninglist dl dd.list li .user_photo{float:left; width:46px; height:46px; margin:5px 0 0 10px; border-radius:50%; border:2px solid #fff;}
.right_winninglist dl dd.list li .user_info{float:left; width:90px; margin:10px 0 0 5px;}
.right_winninglist dl dd.list li .user_info p{font-size:16px; font-weight:bold; line-height:20px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.right_winninglist dl dd.list li .user_info span{display:block; font-size:12px; line-height:20px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.right_winninglist dl dd.list li.prize .prize_img{width:60px; height:60px; /*border:1px solid #bcbcbc;*/ position:absolute; right:8px; bottom:8px;}
.right_winninglist dl dd.list li.money .money_bg{width:60px; height:60px; background:url(../images/redpack/money_bg.jpg) no-repeat; background-size:contain; position:absolute; right:8px; bottom:8px;}
.right_winninglist dl dd.list li.money .money_bg b{display:block; margin-top:32px; font-size:20px; font-weight:normal; color:#fff; text-align:center;  }

.right_winninglist dl dd.bottom_arrowBox{height:7px; overflow:hidden;}

/***********遮罩层***********/
.pop_mask{width:100%; height:100%; background-color:rgba(0,0,0,0.5); position:absolute; left:0; top:0; z-index:11; display:none;}

/*微信二维码弹窗*/
.pop_weixin_ecode{ width:540px;border-radius:4px; overflow:hidden; box-shadow:5px 0 20px 0 rgba(0,0,0,0.5); background-color:#fff; position:absolute; top:7%; left:50%; margin-left:-270px; z-index:99; display:none; }
.pop_weixin_ecode .tit{ line-height:120px; background-color:#0c52d2; font-size:30px; color:#fff; font-weight:bold; text-align:center;}
.pop_weixin_ecode .tit b{font-size:45px;}
.pop_weixin_ecode .cont{padding:20px 0; position:relative;}
.pop_weixin_ecode .cont i.arrow_bottom{width:0; height:0; border-left:16px solid transparent; border-right:16px solid transparent; border-top:16px solid #0c52d2; position:absolute; top:0; left:50%; margin-left:-16px;}
.pop_weixin_ecode .cont .ecode_img{width:380px; height:380px; margin:0 auto;}
.pop_weixin_ecode .cont .tips{padding:0 20px;}
.pop_weixin_ecode .cont .tips ul li{line-height:40px;font-size:24px; color:#333;}
.pop_weixin_ecode .cont .tips ul li b {font-weight:normal;color:#ff0000;}

/*单个中奖弹窗*/
.pop_winning{width:700px; color:#fff; border-radius:8px; border:3px solid #ffeb00; background:linear-gradient(120deg,#ffc400,#ffc600 8%,#fffc00 50%,#e79f00 92%,#f0a300);position:absolute; top:30%; left:50%; margin-left:-353px; z-index:99; display:none; opacity:0;}
.pop_winning .user_photo{float:left; width:120px; height:120px; margin:15px 0 15px 15px; border-radius:50%; border:4px solid #fff;}
.pop_winning .user_info{float:left; width:330px; margin:25px 0 0 10px;color:#7e5600;}
.pop_winning .user_info p{font-size:34px; font-weight:bold; line-height:60px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.pop_winning .user_info span{display:block; font-size:24px; line-height:30px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.pop_winning .user_info span b{font-weight:normal;}
.pop_winning .prize_img{width:180px; height:180px; border:4px solid #bf9000; box-shadow:5px 5px 10px rgba(0,0,0,0.3); position:absolute; right:15px; bottom:20px;}

/*中奖名单列表弹窗*/
.pop_winninglist{width:864px; overflow:hidden; /*box-shadow:5px 0 20px 0 rgba(0,0,0,0.2);*/ position:absolute; top:7%; left:50%; margin-left:-430px; z-index:99; display:none;}

.pop_winninglist dl dt{line-height:68px; font-size:14px;font-weight:bold; color:#fff; text-align:center; background:#0c52d2; position:relative;}
.pop_winninglist dl dt h4{font-size:28px; padding:0 5px; display:inline-block;}

.pop_winninglist dl dt .btn_replay{height:44px; border-radius:8px; background-color:#c89a00; position:absolute; top:15px; right:10px;}
.pop_winninglist dl dt .btn_replay p{background-color:#ffe81a; font-size:14px; color:#eb0045; font-weight:bold; padding:0 20px; height:40px; line-height:40px; border-radius:8px;}

.pop_winninglist dl dt .btn_close{height:44px; border-radius:8px; background-color:#c89a00; position:absolute; top:15px; right:10px; display:none;}
.pop_winninglist dl dt .btn_close p{background-color:#ffe81a; font-size:14px; color:#eb0045; font-weight:bold; padding:0 20px; height:40px; line-height:40px; border-radius:8px;}

.pop_winninglist dl dd.list{background: #fff; text-align:center; width:864px; max-height:500px; overflow:hidden; /*overflow-y:auto; overflow-x:hidden;*/ position:relative;}
.pop_winninglist dl dd.list ul{ display:inline-block; width:840px; /*margin:20px 0; */text-align:left; }
.pop_winninglist dl dd.list li{float:left; width:410px; height:70px; margin:0 5px 5px 0;}

.pop_winninglist dl dd.list li.prize{background-color:#3a80ff; color:#fff;}
.pop_winninglist dl dd.list li.prize .user_photo{float:left; width:46px; height:46px; margin:10px 0 0 10px; border-radius:50%; border:2px solid #fff;}
.pop_winninglist dl dd.list li.prize .user_name{float:left; width:90px; font-size:16px; line-height:70px; margin-left:5px;}
.pop_winninglist dl dd.list li.prize .prize_info{float:right; width:120px; margin-top:15px; text-align:center;}
.pop_winninglist dl dd.list li.prize .prize_info p{font-size:20px; font-weight:bold; line-height:20px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.pop_winninglist dl dd.list li.prize .prize_info span{display:block; font-size:12px; line-height:20px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.pop_winninglist dl dd.list li.b_money{background-color:#fff; color:#444;}
.pop_winninglist dl dd.list li.b_money .user_photo{float:left; width:46px; height:46px; margin:10px 0 0 10px; border-radius:50%; border:2px solid #fff;}
.pop_winninglist dl dd.list li.b_money .user_name{color:#fff;float:left; width:220px; font-size:16px; line-height:70px; margin-left:5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.pop_winninglist dl dd.list li.b_money .prize_info{float:right; width:120px; margin-top:15px; text-align:center; color:#ff6640;}
.pop_winninglist dl dd.list li.b_money .prize_info p{font-size:24px; font-weight:bold; line-height:20px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.pop_winninglist dl dd.list li.b_money .prize_info span{display:block; font-size:12px; line-height:20px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.pop_winninglist dl dd.list li.s_money{background-color:#fff; color:#444;}
.pop_winninglist dl dd.list li.s_money .winning_info{line-height:35px; height:35px; overflow:hidden;}
.pop_winninglist dl dd.list li.s_money .winning_info:nth-child(1){background-color:#e6e6e6;}
.pop_winninglist dl dd.list li.s_money .user_name{float:left; width:150px; font-size:16px; margin-left:15px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.pop_winninglist dl dd.list li.s_money .money_num{float:right; font-size:12px; width:80px; text-align:right; margin-right:15px;}
.pop_winninglist dl dd.list li.s_money .money_num b{font-size:24px; margin-right:5px;}

.pop_winninglist dl dd.bottom_arrowBox{height:7px; overflow:hidden;}


/*背景旋转动画效果*/
.animate_rotate{animation:15s linear 0s normal none infinite rotate; -webkit-animation:15s linear 0s normal none infinite rotate;}
@keyframes rotate {
  0 {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes rotate {
  0 {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}

/*红包雨动画效果*/
.animate_redenvelop{
animation-name: redenvelop;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-play-state: running;

-webkit-animation-name: redenvelop;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-play-state: running;
}

@keyframes redenvelop 
{
	0%   {opacity:0;top:-160px;}
	1%   {opacity:1;}
	99%	 {opacity:1;}
	100% {opacity:0;top:768px;}
}
@-webkit-keyframes redenvelop
{
	0%   {opacity:0;top:-160px;}
	1%   {opacity:1;}
	99%	 {opacity:1;}
	100% {opacity:0;top:768px;}
}