.shake {
	-webkit-animation-name: shake-rotate;
	-ms-animation-name: shake-rotate;
	animation-name: shake-rotate;

	-webkit-animation-duration: 1000ms;
	-ms-animation-duration: 1000ms;
	animation-duration: 1000ms;

	-webkit-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-timing-function: ease-in-out;
	-ms-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;

	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;

	-webkit-animation-play-state: running;
	-ms-animation-play-state: running;
	animation-play-state: running

	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center
}

.shake.shake-rotate {
	-webkit-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.shake.shake-one {
	-webkit-animation-iteration-count: 0;
	-ms-animation-iteration-count: 0;
    animation-iteration-count: 0;
}

@-webkit-keyframes shake-rotate {

0% {
 -webkit-transform: translate(0px, 0px) rotate(0deg)
}
 10% {
 -webkit-transform: translate(0px, -20px) rotate(-2.0deg) scale(1.05,1.0)
}
 17% {
 -webkit-transform: translate(0px, 10px) rotate(2.0deg) scale(0.95,1.0)
}
 25% {
 -webkit-transform: translate(0px, -20px) rotate(-2.0deg) scale(1.05,1.0)
}
 35% {
 -webkit-transform: translate(0px, 10px) rotate(2.0deg) scale(0.95,1.0)
}
 40% {
 -webkit-transform: translate(0px, 0px) rotate(0deg) 
}
100%{
 -webkit-transform: translate(0px, 0px) rotate(0deg) 
}

}

@-ms-keyframes shake-rotate {

0% {
 -webkit-transform: translate(0px, 0px) rotate(0deg)
}
 10% {
 -webkit-transform: translate(0px, -20px) rotate(-2.0deg) scale(1.05,1.0)
}
 17% {
 -webkit-transform: translate(0px, 10px) rotate(2.0deg) scale(0.95,1.0)
}
 25% {
 -webkit-transform: translate(0px, -20px) rotate(-2.0deg) scale(1.05,1.0)
}
 35% {
 -webkit-transform: translate(0px, 10px) rotate(2.0deg) scale(0.95,1.0)
}
 40% {
 -webkit-transform: translate(0px, 0px) rotate(0deg) 
}
100%{
 -webkit-transform: translate(0px, 0px) rotate(0deg) 
}

}
@keyframes shake-rotate {

0% {
 -webkit-transform: translate(0px, 0px) rotate(0deg)
}
 10% {
 -webkit-transform: translate(0px, -20px) rotate(-2.0deg) scale(1.05,1.0)
}
 17% {
 -webkit-transform: translate(0px, 10px) rotate(2.0deg) scale(0.95,1.0)
}
 25% {
 -webkit-transform: translate(0px, -20px) rotate(-2.0deg) scale(1.05,1.0)
}
 35% {
 -webkit-transform: translate(0px, 10px) rotate(2.0deg) scale(0.95,1.0)
}
 40% {
 -webkit-transform: translate(0px, 0px) rotate(0deg) 
}
100%{
 -webkit-transform: translate(0px, 0px) rotate(0deg) 
}

}