.Panel.Lottery { position: absolute; top: 17%; height: 72%; opacity: 0; width: 90%; left: 50%; margin-left: -45%; display: none }
.lottery-left { width: 66%; height: 100%; position: relative; float: left; margin-right: 2%; background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255, 255, 255, 0.4) }
.lottery-right { width: 30%; height: 98%; position: relative; float: left; background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255, 255, 255, 0.4); padding: 3px; overflow: auto }
.lottery-title { width: 100%; height: 60px; position: relative; color: #fff; font-size: 35px; line-height: 60px; font-family: Arial, Helvetica, sans-serif; background: url(../images/lot-title.png) 10px center no-repeat }
.lottery-title .title-label { margin-left: 50px }
.lottery-title .usercount-label { position: absolute; right: 10px; text-align: right }
.lottery-bottom { position: absolute; bottom: 0; width: 100%; height: 60px; }
.lottery-bottom .round-num { font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: #fff; margin-left: 10px; line-height: 60px }
.select-panel div { display: inline-block; text-align: center }
.select-button { width: 28px; height: 28px; border: 1px solid #fff; line-height: 28px; font-size: 22px; cursor: pointer }
.select-value { width: 40px; height: 28px }
.lottery-bottom .button-happy { position: absolute; right: 10px; height: 40px; top: 50%; margin-top: -20px; line-height: 40px; padding-left: 40px; width: 80px; font-size: 20px; color: #fff; border: 1px solid #fff; background: url(../images/lot-happy.png) 15px center no-repeat; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px }
.lottery-bottom .button-showresult { position: absolute; right: 10px; height: 40px; top: 50%; margin-top: -20px; line-height: 40px; width: 80px; font-size: 20px; padding: 0 10px; color: #fff; border: 1px solid #fff; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px }
.lottery-bottom .button-reload { position: absolute; right: 10px; height: 40px; top: 50%; margin-top: -20px; line-height: 40px; width: 80px; font-size: 20px; padding: 0 10px; color: #fff; border: 1px solid #fff; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px }
.lottery-run { position: absolute; top: 60px; bottom: 60px; left: 0; right: 0; }
.user { background: url(lot_nouser.jpg) center center no-repeat; background-size: contain; background-color: rgba(0, 0, 0, 0.85); }
.user .nick-name { display: none }
.lottery-run .user .nick-name { position: absolute; width: 200%; height: 30px; left: -50%; bottom: -35px; font-size: 14px; color: #fff; text-align: center; display: block; text-shadow: 0 1px 3px rgba(0,0,0,0.45); }
.result-line { position: relative; width: 100%; height: 70px; margin: 3px auto; background: rgba(255, 255, 255,0.15); overflow: hidden; display: none }
.result-line:first-child { margin-top: 0 }
.result-line:last-child { margin-bottom: 0 }
.result-line .result-num, .result-line .user, .result-line .user .nick-name { display: inline-block }
.result-line .result-num { width: 30px; height: 30px; color: #E62841; position: relative; top: 20px; text-align: center; margin-left: 10px; font-size: 16px; line-height: 30px; background-color: #FFF; border-radius: 100%; }
.result-line .user { position: absolute; display: inline-block; width: 60px; height: 60px; background: url(lot_nouser.jpg) center center no-repeat; background-size: contain; top: 5px; left: 50px; border-radius: 100%; }
.result-line .user .nick-name { position: absolute; height: 60px; width: 500%; top: 0; left: 70px; overflow: visible; font-size: 20px; line-height: 60px; text-align: left; display: block; color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,0.45); }
.lottery-run .control { display: none; position: absolute; left: 50%; margin-left: -50px; bottom: 5px; width: 100px; text-align: center; padding: 8px 10px 12px 10px; background-color: #fff; border-radius: 8px; font-weight: bolder; cursor: pointer; color: #E74145; box-shadow: 0 2px 0px 3px rgba(0,0,0,0.15), 0 -3px 0px 0px #D0D0D0 inset; }
.lottery-run .control:active { padding: 10px 10px 10px 10px; box-shadow: 0 2px 0px 3px rgba(0,0,0,0.15), 0 0 5px rgba(0, 0, 0, 0.52) inset; }
/*  */
.prize {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -390px;
    margin-top: -230px;
}
.prize-content {
	background-image: url(../images/lhj/prize-content1.png);
	width: 780px;
	height: 395px;
	background-size: 780px 395px;
	margin: 0 auto;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 30px;
    box-shadow: 0 0 100px 10px rgb(105, 3, 0);
}
.sideBox-hand {
	position: absolute;
	right: -75px;
	top: 10px;
	width: 75px;
	cursor: pointer;
	-webkit-perspective: 500;
	perspective: 500;
	-webkit-transform-origin: center 80%;
	-moz-transform-origin: center 80%;
	-ms-transform-origin: center 80%;
}
.handMove {
	opacity: 1;
	-webkit-animation: handMove 1s ease-in-out forwards;
	animation: handMove 1s ease-in-out forwards;
	-webkit-transition-property: all;
	transition-property: all;
}
@-webkit-keyframes handMove {
 0% {
}
 50% {
-webkit-transform:rotateX(160deg);
-moz-transform:rotateX(160deg);
-ms-transform:rotateX(160deg);
transform:rotateX(160deg);
}
 100% {
}
}
 @keyframes handMove {
 0% {
}
 50% {
-webkit-transform:rotateX(160deg);
-moz-transform:rotateX(160deg);
-ms-transform:rotateX(160deg);
transform:rotateX(160deg);
}
 100% {
}
}
.prize-box {
	width: 780px;
	margin: 0 auto;
	position: relative;
}
.prize-Incontent {
	width: 684px;
	height: 330px;
	margin: 0 auto;
	position: relative;
	top: 33px;
}
.prize-Incontent li {
	float: left;
	height: 120px;
	width: 120px;
	border: 5px solid #fff;
	border-radius: 5px;
	background-color: #fff;
	right: 50%;
	position: relative;
}
.prize-10 {
	position: relative;
	top: 50%;
	margin-top: -131px;
	float: left;
	left: 50%;
}
.prize-10 li {
	margin: 5px 3.5px 0 3px;
	overflow: hidden;
	box-shadow:0 0 5px 3px rgba(0, 0, 0, 0.15);
}
.prize-content li img {
	width: 120px;
	height: 120px;
	border-radius: 5px;
}
.prize-list {
	position: absolute;
	top: 31.5px;
	left: 25px;
}
.prize-win {
	float: left;
	position: relative;
	left: 50%;
	margin-top: 140px;
}
.prize-win li {
	float: left;
	position: relative;
	right: 50%;
	border: 4px solid #d40503;
	height: 70px;
	width: 70px;
	border-radius: 5px;
	margin: 0 6px;
	box-shadow: 0 0 20px rgb(255, 255, 255);
}
.prize-win li img {
	width: 70px;
	height: 70px;
}
.prize-win li span {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: "微软雅黑";
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.set-prize, .set-people {
	width: 220px;
	height: 40px;
	line-height: 40px;
	 background-color: rgba(241, 46, 43, 0.88);
	border-radius: 10px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
	position: relative;
	float: left;
	margin-left: 10px;
	border-radius: 5px;    background: url(../images/lhj/prize-barBg.png);
}
.set-prize select {
	width: 100px;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
}
.prize-win select {
	border: 1px solid #c1c1c1;
}
.prize select {
	padding-left: 5px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666;
	border:0;
	cursor: pointer;
}
.prize option {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666;
	cursor: pointer;
}
.set-prize span, .set-people span {
	margin-left: 10px;
}
.prize-select {
	position: absolute;
	right: 30px;
	top: 10px;
}
.prize option:hover {
	background-color: #d50906;
	color: #fff;
}
.win-box {
	display: none;
}
body .winMove {
	display: block;
}
.win-bg {
	width: 100%;
	height: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
}
.winMove .win-bg {
	-webkit-animation: win-bg 1s ease-in-out forwards;
	animation: win-bg 1s ease-in-out forwards;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 0;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
}
@-webkit-keyframes win-bg{
  0%{-webkit-transform: rotate(0);opacity:0;}
50%{-webkit-transform: rotate(90deg);opacity:1;}
90%{-webkit-transform: rotate(170deg);opacity:1;}
100%{-webkit-transform: rotate(180deg);opacity:0;}
}

.win-box {
	width: 100%;
	height: 100%;
	z-index: 200;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}
.winMove {
	-webkit-animation: win-box .1s ease-in-out forwards 1.5s;
	animation: win-box .1s ease-in-out forwards 1.5s;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 1;
}
@-webkit-keyframes win-box {
 0% {
}
 100% {
opacity: 0;
}
}
@keyframes win-box {
 0% {
}
 100% {
opacity: 0;
}
}
.win {
	width: 100%;
	height: 100%;
	z-index: 200;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
}
.winMove .win {
	-webkit-animation: win 1.8s ease-in-out forwards;
	animation: win 1.8s ease-in-out forwards;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 0;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
}
@-webkit-keyframes win {
 0% {
-webkit-transform:scale(0, 0);
-moz-transform:scale(0, 0);
-ms-transform:scale(0, 0);
transform:scale(0, 0);
opacity: 0.4;
}
 10% {
-webkit-transform:scale(0, 0);
-moz-transform:scale(0, 0);
-ms-transform:scale(0, 0);
transform:scale(0, 0);
opacity: 1;
}
 100% {
-webkit-transform:scale(2, 2);
-moz-transform:scale(2, 2);
-ms-transform:scale(2, 2);
transform:scale(2, 2);
opacity: 0;
}
}
@keyframes win {
 0% {
-webkit-transform:scale(0, 0);
-moz-transform:scale(0, 0);
-ms-transform:scale(0, 0);
transform:scale(0, 0);
opacity: 0.4;
}
 10% {
-webkit-transform:scale(0, 0);
-moz-transform:scale(0, 0);
-ms-transform:scale(0, 0);
transform:scale(0, 0);
opacity: 1;
}
 100% {
-webkit-transform:scale(2, 2);
-moz-transform:scale(2, 2);
-ms-transform:scale(2, 2);
transform:scale(2, 2);
opacity: 0;
}
}
.headRound {
	-webkit-animation: prize-head;
	-moz-animation: prize-head;
	animation: prize-head;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 1;
	height: 1240px;
}
@-webkit-keyframes prize-head {
 0% {
}
 100% {
-webkit-transform:translateY(-1115px);
-moz-transform:translateY(-1115px);
-ms-transform:translateY(-1115px);
transform:translateY(-1115x);
opacity: 1;
}
}
@keyframes prize-head {
 0% {
}
 100% {
-webkit-transform:translateY(-1115px);
-moz-transform:translateY(-1115px);
-ms-transform:translateY(-1115px);
transform:translateY(-1115px);
opacity: 1;
}
}
body .headStop {
	-webkit-animation: headStop 5s ease-out forwards;
	animation: headStop 5s ease-out forwards;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 1;
	animation-play-state: running !important;
}
@-webkit-keyframes headStop {
 0% {
}
 100% {
-webkit-transform:translateY(-492px);
opacity: 1;
}
}
body .stop {
	pointer-events: none;
}
.light li {
	background: url(../images/lhj/light1.png) no-repeat 0 0;
	width: 30px;
	height: 30px; opacity:1;
}
.light4 {
	position: absolute;
	top: 10px;
}
.light4 li {
	margin-top: 10px;
}
.light1 {
	position: absolute;
	top: 0;
	left: 35px;
}
.light1 li {
	float: left;
	margin-right: 10px;
}
.light2 {
	position: absolute;
	top: 10px;
	right: 2px;
}
.light2 li {
	margin-top: 10px;
}
.light3 {
	position: absolute;
	bottom: 3px;
	left: 35px;
}
.light3 li {
	float: left;
	margin-right: 10px;
}



.light .appear { -webkit-animation: appear 0.8s linear forwards; animation: appear 0.8s linear forwards; -webkit-transition-property: all; transition-property: all; }
@-webkit-keyframes appear { 0% {background: url(../images/lhj/light1.png) center center no-repeat;
}
 100% {
opacity: 1;background: url(../images/lhj/single-light2.png) center center no-repeat;
}
}
@keyframes appear { 0% {background: url(../images/lhj/light1.png) center center no-repeat;
}
 100% {
opacity: 1;background: url(../images/lhj/single-light2.png) center center no-repeat;
}
}
.light .disappear { -webkit-animation: disappear 0.8s linear forwards; animation: disappear 0.8s linear forwards; -webkit-transition-property: all; transition-property: all;}
@-webkit-keyframes disappear { 0% {background: url(../images/lhj/single-light2.png) center center no-repeat;
opacity: 1;
}
 100% {
opacity: 1;background: url(../images/lhj/light1.png) center center no-repeat;
}
}
@keyframes disappear { 0% {background: url(../images/lhj/single-light2.png) center center no-repeat;
opacity: 1;
}
 100% {
opacity: 1;background: url(../images/lhj/light1.png) center center no-repeat;
}
}

.prize-number {
	position: absolute;
	width: 220px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	font-family: "微软雅黑";
	background: url(../images/lhj/prize-barBg.png);
	top: 10px;
	left:35px;
	border-radius: 8px;
	text-align: center;
}
.prize-number span {
	color: #fffc1f;
	font-size: 26px;
	font-family: "微软雅黑";
	display: block;
	float: right;
	position: relative;
	right: 20px;
}
.prize-name {
    position: absolute;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-family: "微软雅黑";
    bottom: 27px;
}
.prize-tel {
    position: absolute;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #F64A43;
    background-color: #fff;
    font-size: 16px;
    font-family: "微软雅黑";
    bottom: 3px;
}