::-webkit-scrollbar-thumb {
 background-color:#ffffff !important;
}
::-webkit-scrollbar-thumb:hover {
background-color: #FFD714 !important;
}
.Panel.Top {
    background-color: rgba(255, 255, 255, 0);
}
.Panel.Lottery { position: absolute; top: 17%; height: 72%; opacity: 0; width: 90%; left: 50%; margin-left: -45%; display: none }
.lottery-left { width: 66%; height: 100%; position: relative; float: left; margin-right: 2%; background-color: transparent !important; border: 0 !important; }
.lottery-right { width: 30%; height: 98%; position: relative; float: left; padding: 3px; overflow: auto; background-color: transparent !important; border: 0 !important; }
.lottery-title { width: 100%; height: 60px; position: relative; color: #fff; font-size: 35px; line-height: 60px; font-family: Arial, Helvetica, sans-serif; background: url(../images/lot-title.png) 10px center no-repeat }
.lottery-title .title-label { margin-left: 50px }
.lottery-title .usercount-label { position: absolute; right: 10px; text-align: right }
.lottery-bottom { position: absolute; bottom: 0; width: 100%; height: 60px; z-index: 2; }
.lottery-bottom .round-num { font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: #fff; margin-left: 10px; line-height: 60px }
.select-panel div { display: inline-block; text-align: center }
.select-button { width: 28px; height: 28px; border: 1px solid #fff; line-height: 28px; font-size: 22px; cursor: pointer }
.select-value { width: 40px; height: 28px }
.lottery-bottom .button-happy { position: absolute; right: 10px; height: 40px; top: 50%; margin-top: -20px; line-height: 40px; padding-left: 40px; width: 80px; font-size: 20px; color: #fff; border: 1px solid #fff; background: url(../images/lot-happy.png) 15px center no-repeat; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px }
.lottery-bottom .button-showresult { position: absolute; right: 10px; height: 40px; top: 50%; margin-top: -20px; line-height: 40px; width: 80px; font-size: 20px; padding: 0 10px; color: #fff; border: 1px solid #fff; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px }
.lottery-bottom .button-reload { position: absolute; right: 10px; height: 40px; top: 50%; margin-top: -20px; line-height: 40px; width: 80px; font-size: 20px; padding: 0 10px; color: #fff; border: 1px solid #fff; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px }
.lottery-run { position: absolute; top: 60px; left: 0; right: 0; bottom: 0; z-index: 1; }
.user { background: url(lot_nouser.jpg) center center no-repeat; background-size: contain; background-color: rgba(0, 0, 0, 0.85); }
.user .nick-name { display: none }
.lottery-run .user .nick-name { 
    position: absolute;
    height: 30px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: block;
    text-shadow: 0 1px 3px rgba(0,0,0,0.45);
    padding: 0;
    margin: 0;
    width: 150px;
    top: 100px;
    margin-left: -30px;}
.lottery-left .mobile{ display:none}
	
.result-line { position: relative; width: 100%; height: 70px; margin: 3px auto; overflow: hidden; display: none; background: rgba(0, 0, 0, 0.38); border-radius: 100px; }
.result-line:first-child { margin-top: 0 }
.result-line:last-child { margin-bottom: 0 }
.result-line .result-num, .result-line .user, .result-line .user .nick-name { display: inline-block }
.result-line .result-num { width: 30px; height: 30px; color: #E62841; position: relative; top: 20px; text-align: center; margin-left: 10px; font-size: 16px; line-height: 30px; background-color: #FFF; border-radius: 100%; }
.result-line .user { position: absolute; display: inline-block; width: 60px; height: 60px; background: url(lot_nouser.jpg) center center no-repeat #000; background-size: contain; top: 5px; left: 50px; border-radius: 100%; }
.result-line .user .nick-name { position: absolute;
    height: 36px;
    margin: 0;
    top: 0;
    left: 70px;
    overflow: visible;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    display: block;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.45);}
	.result-line .user .mobile { position: absolute;
    height: 36px;
    margin: 0;
    top: 25px;
    left: 70px;
    overflow: visible;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    display: block;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,0.45);}
.lottery-bottom .control { 
    position: absolute;
    right: 130px;
    top: 50%;
    margin-top: -20px;
    width: 82px;
    line-height: 26px;
    padding: 5px 10px 11px 10px;
    border-radius: 8px;
    font-weight: bolder;
    color: #E74145;
    background-color: #ffde12;
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.15), 0 -6px 0px 0px rgba(255, 158, 37, 1) inset;
    text-align: center;
    font-size: 18px;
    border: none;
    cursor: pointer;}
.lottery-bottom .control:active { padding: 7px 10px 9px 10px; box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.15), 0 -4px 0px 0px rgba(255, 158, 37, 1) inset;}

.lottery-run .user { position: absolute; background: url(../images/lot_nouser.jpg) center center no-repeat; background-size: contain; margin: 15px auto; overflow: visible; border: 3px solid #fff; border-radius: 150px; box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3); background-color: rgba(0, 0, 0, 0.85); width: 90px; height: 90px; margin-left: -200px; top: 15px; left: 160px; }
.box-bg { position: fixed; z-index: -1; width: 100%; height: 100%; background-image: url(../images/box-bg.jpg); background-size: 100% 100%; background-repeat: no-repeat; top: 0; left: 0; }
.box { width: 100%; }
.box img { position: absolute; bottom: -30px; pointer-events: none; width: 760px; left: 50%; margin-left: -360px;}
.boxImg { z-index: 1000; }
.boxLeft, .boxRight { opacity: 0; }
.boxLeft {  z-index:1499  }
.boxRight {  z-index:1501  }
.boxFront { z-index: 1;
    position: absolute;
    background:url(../images/zjd/boxFront.png) center bottom no-repeat;
    width: 100%;
    height: 100%;}
.hand { display: none; }
.hand1, .hand2 { width: 257px; height: 174px; background-size: 100% 100%; background-repeat: no-repeat; position: absolute; left: 50%; margin-left: -110px; bottom: 0; }
.hand1 { background-image: url(../images/zjd/hand.png); }
.hand2 { background-image: url(../images/zjd/handFront.png); z-index: 2000; }
.hand { width: 257px; height: 104px; position: absolute; margin: 0 auto; z-index: 1500; left: 50%; margin-left: -20px;     bottom: 360px;}
.nick-name { font-size: 24px; color: #fff; font-family: "微软雅黑"; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; }
.user img { box-shadow: 0 0 43px rgb(255, 255, 255); border-radius: 10px; border: 3px solid #fff; }
.box-moving .boxImg, .box-moving .boxFront { opacity: 0; }
 @keyframes img1 { 0% {
}
 100% {
opacity: 1;
}
}

.moving  .boxLeft{ -webkit-animation:f1 0.5s 0.5s ease forwards; opacity:0;}
.moving  .boxRight{  -webkit-animation:f1 0.5s 0.5s ease forwards;opacity:0;  }

@-webkit-keyframes f1{
    0%{opacity:0;}
	50%{opacity:1;}
    100%{opacity:1; }
}
.moving  .boxImg{  -webkit-animation:f2 0.5s 0.5s ease forwards;opacity:1;  }
@-webkit-keyframes f2{
    0%{opacity:1;}
	50%{opacity:0;}
    100%{opacity:0; }
}


.moving .hand { -webkit-animation: hand-moving 2s ease-in-out forwards; animation: hand-moving 2s ease-in-out forwards; -webkit-transition-property: all; transition-property: all; display: block; opacity: 0; }
 @-webkit-keyframes hand-moving {
	 
0%{opacity: 0;-webkit-transform:translateY(px) translateX(px) rotate(deg);}
10% {opacity: 1;}
35%{opacity: 1;-webkit-transform:translateY(150px) translateX(-85px) rotate(-40deg);}
100%{opacity: 1;-webkit-transform:translateY(0px) translateX(0px) rotate(0deg);}	 	 
}
.moving2 .hand { display: block; opacity: 1; }
.moving2 .user { opacity: 0 }
.moving .user { -webkit-animation: head-box .1s ease-in-out forwards 0.8s; animation: head-box .1s ease-in-out forwards 0.8s; -webkit-transition-property: all; transition-property: all; z-index: 1500; opacity: 0; }
@-webkit-keyframes head-box { 0% {
}
 100% {
opacity:1;
z-index: 1500;
}
}
@keyframes head-box { 0% {
}
 100% {
opacity:1;
z-index: 1500;
}
}

/*1900*/
@media (min-width: 1900px) {
.lottery-run .user {position: absolute;
    width: 120px;
    height: 120px;
    background: url(lot_nouser.jpg) center center no-repeat;
    background-size: contain;
    margin: 15px auto;
    overflow: visible;
    border: 5px solid #fff;
    border-radius: 120px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.85);top:40px;
    left: -69px;}
.box img {     position: absolute;
    bottom: -30px;
    pointer-events: none;
    width: 1000px;
    left: 50%;
    margin-left: -460px;}
.hand1, .hand2 {
    width: 400px;
    height: 270px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -110px;
    bottom: 0;
}
.hand { bottom: 550px;margin-left: -20px;}
.lottery-run .user .nick-name { 
    font-size: 24px;
    width: 200px;
    top: 132px;
    margin-left: -40px;}
 @-webkit-keyframes hand-moving {
	 
0%{opacity: 0;-webkit-transform:translateY(px) translateX(px) rotate(deg);}
10% {opacity: 1;}
35%{opacity: 1;-webkit-transform:translateY(300px) translateX(-85px) rotate(-40deg);}
100%{opacity: 1;-webkit-transform:translateY(0px) translateX(0px) rotate(0deg);}	 
}
}