.Panel.Top { background-color: rgba(255, 255, 255, 0);}
.Panel.Lottery { position: absolute; top: 17%; height: 72%; opacity: 0; width: 90%; left: 50%; margin-left: -45%; display: none }
.lottery-left { width: 66%; height: 100%; position: relative; float: left; margin-right: 2%; background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255, 255, 255, 0.4) }
.lottery-right { width: 30%; height: 98%; position: relative; float: left; background-color: rgba(255, 255, 255, 0.2); border: 1px solid rgba(255, 255, 255, 0.4); padding: 3px; overflow: auto }
.lottery-title { width: 100%; height: 60px; position: relative; color: #fff; font-size: 35px; line-height: 60px; font-family: Arial, Helvetica, sans-serif; background: url(../images/lot-title.png) 10px center no-repeat }
.lottery-title .title-label { margin-left: 50px }
.lottery-title .usercount-label { position: absolute; right: 10px; text-align: right }
.lottery-bottom { position: absolute; bottom: 0; width: 100%; height: 60px; }
.lottery-bottom .round-num { font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: #fff; margin-left: 10px; line-height: 60px }
.select-panel div { display: inline-block; text-align: center }
.select-button { width: 28px; height: 28px; border: 1px solid #fff; line-height: 28px; font-size: 22px; cursor: pointer }
.select-value { width: 40px; height: 28px }
.lottery-bottom .button-happy { position: absolute; right: 10px; height: 40px; top: 50%; margin-top: -20px; line-height: 40px; padding-left: 40px; width: 80px; font-size: 20px; color: #fff; border: 1px solid #fff; background: url(lot-happy.png) 15px center no-repeat; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px }
.lottery-bottom .button-showresult { position: absolute; right: 10px; height: 40px; top: 50%; margin-top: -20px; line-height: 40px; width: 80px; font-size: 20px; padding: 0 10px; color: #fff; border: 1px solid #fff; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px }
.lottery-bottom .button-reload { position: absolute; right: 10px; height: 40px; top: 50%; margin-top: -20px; line-height: 40px; width: 80px; font-size: 20px; padding: 0 10px; color: #fff; border: 1px solid #fff; cursor: pointer; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px }
.lottery-run { position: absolute; top: 60px; bottom: 60px; left: 0; right: 0; }
.user { background: url(lot_nouser.jpg) center center no-repeat; background-size: contain; background-color: rgba(0, 0, 0, 0.85); }
.user .nick-name { display: none }
.lottery-run .user .nick-name { position: absolute; width: 200%; height: 30px; left: -50%; bottom: -35px; font-size: 14px; color: #fff; text-align: center; display: block; text-shadow: 0 1px 3px rgba(0,0,0,0.45); }
.result-line { position: relative; width: 100%; height: 70px; margin: 3px auto; background: rgba(255, 255, 255,0.15); overflow: hidden; display: none }
.result-line:first-child { margin-top: 0 }
.result-line:last-child { margin-bottom: 0 }
.result-line .result-num, .result-line .user, .result-line .user .nick-name { display: inline-block }
.result-line .result-num { width: 30px; height: 30px; color: #E62841; position: relative; top: 20px; text-align: center; margin-left: 10px; font-size: 16px; line-height: 30px; background-color: #FFF; border-radius: 100%; }
.result-line .user { position: absolute; display: inline-block; width: 60px; height: 60px; background: url(lot_nouser.jpg) center center no-repeat; background-size: contain; top: 5px; left: 50px; border-radius: 100%; }
.result-line .user .nick-name { position: absolute; height: 60px; width: 500%; top: 0; left: 70px; overflow: visible; font-size: 20px; line-height: 60px; text-align: left; display: block; color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,0.45); }
.lottery-run .control { display: none; position: absolute; left: 50%; margin-left: -50px; bottom: 5px; width: 100px; text-align: center; padding: 8px 10px 12px 10px; background-color: #fff; border-radius: 8px; font-weight: bolder; cursor: pointer; color: #E74145; box-shadow: 0 2px 0px 3px rgba(0,0,0,0.15), 0 -3px 0px 0px #D0D0D0 inset; }
.lottery-run .control:active { padding: 10px 10px 10px 10px; box-shadow: 0 2px 0px 3px rgba(0,0,0,0.15), 0 0 5px rgba(0, 0, 0, 0.52) inset; }
/*  */
.table-bg {
	background-image: url(../images/background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
}
.table-box {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
}
.table {
   width: 800px;
    height: 500px;
    position: relative;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -520px;
}
.table img {
	position: absolute;
	width: 100%;
}
.table-num {
	position: absolute;
	font-size: 56px;
	color: #ffe822;
	font-family: "微软雅黑";
	width: 100%;
	display: block;
	margin-top:22%;
	text-align: center;
}
.table-win {
background-image: url(../images/xysjh/table-glassBg.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    padding: 10px 15px;
    width: 265px;
    height: 500px;
    background-size: 100% 100%;
    top: 50%;
    margin-left: 200px;
    margin-top: -250px;
}
.table-winTit {
	width: 100%;
}
.table-list {
    position: absolute;
    top: 80px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    overflow: auto;
    padding: 0 10px;
}
.table-list li {
	color: #eb1d31;
    font-family: "微软雅黑";
    text-align: center;
    margin-bottom: 7px;
    padding: 6px 0;
    overflow: hidden;
    font-size: 21px;
    background-color: #FDDC12;
    border-radius: 30px;
}
.table-move1 {
	
	color: #eb1d31;
    font-family: "微软雅黑";
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    overflow: hidden;
    font-size: 21px;
    background-color: #FDDC12;
    border-radius: 30px;
	padding:10px;
	left: 515px;
}
.table-move {
	position: absolute;
	display: none;
}
.table-move span {
	position: absolute;
}

.seat-img1 {
	-webkit-animation-name: charector-2; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: step-start;-webkit-animation-duration: 300ms;
	background-image: url(../images/xysjh/seat-img4a.png);background-size: 100%; background-repeat:no-repeat; background-position:50% 50%;-webkit-animation-delay: 3s;opacity:0;
}
@-webkit-keyframes charector-2 {
0% {
background-image: url(../images/xysjh/seat-img4a.png);opacity:0;
}
1% {
background-image: url(../images/xysjh/seat-img4a.png);opacity:1;
}
50% {
background-image: url(../images/xysjh/seat-img4b.png);opacity:1;
}
100% {
background-image: url(../images/xysjh/seat-img4a.png);opacity:1;
}
}

.seat-img2 {
	-webkit-animation: seat-img2 1.5s ease-in-out forwards 0.3s;
	animation: seat-img2 1.5s ease-in-out forwards 0.3s;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 0;
}
@-webkit-keyframes seat-img2 {
 0% {
opacity:0;
-webkit-transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
-webkit-animation-timing-function:cubic-bezier(0.55, .055, .675, .19);
animation-timing-function:cubic-bezier(0.55, .055, .675, .19)
}
 60% {
opacity:1;
-webkit-transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);
transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);
-webkit-animation-timing-function:cubic-bezier(0.175, .885, .32, 1);
animation-timing-function:cubic-bezier(0.175, .885, .32, 1)
}
 100% {
opacity: 1;
}
}
@keyframes seat-img2 {
 0% {
opacity:0;
-webkit-transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
-ms-transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
-webkit-animation-timing-function:cubic-bezier(0.55, .055, .675, .19);
animation-timing-function:cubic-bezier(0.55, .055, .675, .19)
}
 60% {
opacity:1;
-webkit-transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);
-ms-transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);
transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0);
-webkit-animation-timing-function:cubic-bezier(0.175, .885, .32, 1);
animation-timing-function:cubic-bezier(0.175, .885, .32, 1)
}
 100% {
opacity: 1;
}
}
.seat-img3 {
	-webkit-animation-name: charector-1; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: step-start;-webkit-animation-duration: 300ms;
	background-image: url(../images/xysjh/seat-img2a.png);background-size: 100%; background-repeat:no-repeat; background-position:50% 50%;-webkit-animation-delay: 3s;opacity:0;
}
@-webkit-keyframes charector-1 {
0% {
background-image: url(../images/xysjh/seat-img2a.png);opacity:0;
}
1% {
background-image: url(../images/xysjh/seat-img2a.png);opacity:1;
}
50% {
background-image: url(../images/xysjh/seat-img2b.png);opacity:1;
}
100% {
background-image: url(../images/xysjh/seat-img2a.png);opacity:1;
}
}
@keyframes tada {
0% {
-webkit-transform:scale3d(1, 1, 1);
-ms-transform:scale3d(1, 1, 1);
transform:scale3d(1, 1, 1)
}
10%, 20% {
-webkit-transform:scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
-ms-transform:scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
transform:scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
}
30%, 50%, 70%, 90% {
-webkit-transform:scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
-ms-transform:scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
transform:scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
}
40%, 60%, 80% {
-webkit-transform:scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
-ms-transform:scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
transform:scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
}
100% {
-webkit-transform:scale3d(1, 1, 1);
-ms-transform:scale3d(1, 1, 1);
transform:scale3d(1, 1, 1);
opacity: 1;
}
}
.table-moving {
	display: block;
}
.table-moving .table-move1 {
	-webkit-animation: table-move1 1s ease-in-out forwards;
	animation: table-move1 1s ease-in-out forwards;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 1;
	display: block;
}
@-webkit-keyframes table-move1 {
 0% {
}
 100% {
-webkit-transform:translate(100px, -80px) scale(0.4, 0.4);
transform:translate(100px, -80px) scale(0.4, 0.4);
opacity: 0;
}
}
.seat-img4 {
	-webkit-animation: seat-img4 0.5s ease-in-out forwards 1.8s;
	animation: seat-img4 0.5s ease-in-out forwards 1.8s;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 0;
}
@-webkit-keyframes seat-img4 {
 0% {
-webkit-transform:translateY(-80px);
transform:translateY(-80px);
opacity: 0;
}
 100% {
-webkit-transform:translateY(0);
transform:translateY(0);
opacity: 1;
}
}
@keyframes seat-img4 {
 0% {
-webkit-transform:translateY(-80px);
transform:translateY(-80px);
opacity: 0;
}
 100% {
-webkit-transform:translateY(0);
transform:translateY(0);
opacity: 1;
}
}
.table-num {
	-webkit-animation: table-num 1s ease-in-out forwards 2s;
	animation: table-num 1s ease-in-out forwards 2s;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 0;
}
@-webkit-keyframes table-num {
 0% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
-webkit-transition-timing-function:ease-in;
transition-timing-function:ease-in;
opacity:0
}
 40% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
-webkit-transition-timing-function:ease-in;
transition-timing-function:ease-in
}
 60% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
opacity:1
}
 80% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -5deg);
transform:perspective(400px) rotate3d(1, 0, 0, -5deg)
}
 100% {
-webkit-transform:perspective(400px);
transform:perspective(400px);
opacity: 1;
}
}
@keyframes table-num {
 0% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
-ms-transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
transform:perspective(400px) rotate3d(1, 0, 0, 90deg);
-webkit-transition-timing-function:ease-in;
transition-timing-function:ease-in;
opacity:0
}
 40% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
-ms-transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
transform:perspective(400px) rotate3d(1, 0, 0, -20deg);
-webkit-transition-timing-function:ease-in;
transition-timing-function:ease-in
}
 60% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
-ms-transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
transform:perspective(400px) rotate3d(1, 0, 0, 10deg);
opacity:1
}
 80% {
-webkit-transform:perspective(400px) rotate3d(1, 0, 0, -5deg);
-ms-transform:perspective(400px) rotate3d(1, 0, 0, -5deg);
transform:perspective(400px) rotate3d(1, 0, 0, -5deg)
}
 100% {
-webkit-transform:perspective(400px);
-ms-transform:perspective(400px);
transform:perspective(400px);
opacity: 1;
}
}
.table-win {
	-webkit-animation: table-win 0.5s ease-in-out forwards 2.3s;
	animation: table-win 0.5s ease-in-out forwards 2.3s;
	-webkit-transition-property: all;
	transition-property: all;
	opacity: 0;
}
@-webkit-keyframes table-win {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
.table-btn {
	float: left;
	/*background-image: url(../images/table-btn1.png);*/
	background-repeat: no-repeat;
	background-size: 285px 57px;
	line-height: 42px;
    font-size: 17px;
	color:#333;
	font-family: "微软雅黑";
	margin-right:16px;
}
.table-btn select {
	border: none;
	background-color: #fff;
	border-radius: 3px;
	width: 80px;
    height: 30px;
    line-height: 30px;
	color:#757575;
	cursor: pointer;
	font-family: "微软雅黑";
	text-align: center;
}
.table-btn input {
    border: none;
    background-color: #fff;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: #757575;
    font-family: "微软雅黑";
    text-align: center;
}
.table-btn p {
	padding: 0;
    margin: 0;
	margin-left: 0;
	float: left;
}
.table-button button {
	background-color: #DE3E2E;
    border-radius: 5px;
    box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.15), 0 -4px 0px 0px rgb(164, 27, 13) inset;
    display: block;
    text-align: center;
    width: 112px;
    padding: 6px 15px 10px 15px;
    font-size: 18px;
    color: #FFFFFF;
    font-family: "微软雅黑";
    float: left;
    border: none;
    cursor: pointer;
}
.table-button a:active {
	padding: 8px 15px 8px 15px;
	box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.15), 0 0px 0px 0px rgba(255, 158, 37, 1) inset;
}
.table-button {
        width: 300px;
    box-sizing: border-box;
    left: 50%;
    position: absolute;
    bottom: 70px;
    margin-left: -150px;
    border-radius: 5px;
    padding: 0;
}
.table-tit {
	text-align: center;
	position: absolute;
	width: 100%;
}
.table-tit img {
	height: 200px;
}
 @keyframes table-move1 {
 0% {
transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
10% {
transform:translate(10px, -20px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
20% {
transform:translate(30px, -40px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
30% {
transform:translate(50px, -60px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
40% {
transform:translate(100px, -80px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
50% {
transform:translate(150px, -100px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
60% {
transform:translate(200px, -80px) scale(0.9) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
70% {
transform:translate(250px, -60px) scale(0.8) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
80% {
transform:translate(300px, -40px) scale(0.6) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
90% {
transform:translate(350px, -20px) scale(0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
100% {
transform:translate(400px, 0px) scale(0.4) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
opacity: 0;
}
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.hide {
    display: none !important;
    visibility: hidden;
}

@media (min-width: 1900px) {
.table {
        width: 1000px;
    height: 645px;
    margin-top: -320px;
    margin-left: -700px;
}
.table-num {
    font-size: 70px;
}
.table-win {
    width: 365px;
    height: 648px;
    margin-left: 220px;
    margin-top: -350px;
}
.table-list li {
    font-size: 26px;
}
.table-list {
    top: 100px;left: 40px;
    right: 40px;
}
.table-button { bottom: 115px;}
}
/**/
::-webkit-scrollbar-thumb { background-color: #FCDB11 !important;}