.top_menu { width: 1000px; }
.Panel.MsgList { width: 1000px; margin-left: -500px; top: 110px; bottom: 81px; height: auto; }
.bottommenu { width: 1000px; }
.Panel.Lottery { width: 1000px; margin-left: -500px; top: 110px; bottom: 81px; height: auto; }
.frame-dialog { width: 1000px; margin-left: -500px; top: 110px; bottom: 81px; height: auto; }
.phbphb { padding: 0; }
.Panel.Track { width: 1000px; margin-left: -500px; top: 110px; bottom: 81px; height: auto; }
.jiabin li { width: 25%; }
.qiandao ul li { width: 142px; height: 142px; }
.ddp_list li { width: 33.3%; }
.skinLayer { width: 1000px; margin-left: -500px; }
.style-img-list li { width: 33.3%; }
.jiangpintu img { min-height: auto; }
.jiangpintu { top: 50%; margin-top: -126px; }
.jiangpinmz { line-height: 18px; font-size: 18px; height: 22px; }
.videoplay { width: 1000px; margin-left: -500px; }