@charset "utf-8";
body {	background-color: #222;font-family:"microsoft yahei", Arial, Helvetica, sans-serif;}
ul, li{ list-style:none}
a {
	color: #777;
}
 	
        
.progress-bar {
margin: 0 auto 5px auto;
	position: relative;
	 
	height: 100%;
	padding: 0;
	-moz-border-radius: 100px 100px 35px 35px;
	-webkit-border-radius: 100px 100px 35px 35px;
	border-radius: 100px 100px 35px 35px;
 
}
.progress-bar span {
	display: inline-block;
	width: 100%;
	background-color: #777;
	-moz-border-radius: 100px 100px 35px 35px;
	-webkit-border-radius: 100px 100px 35px 35px;
	border-radius: 100px 100px 35px 35px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-transition: height .4s ease-in-out;
	-moz-transition: height .4s ease-in-out;
	-ms-transition: height .4s ease-in-out;
	-o-transition: height .4s ease-in-out;
	transition: height .4s ease-in-out;
}
 	
		
.toupiao li:nth-child(10n+1) span {
	background-color: #34c2e3;
}
.toupiao li:nth-child(10n+2) span {
	background-color: #08B40F;
}
.toupiao li:nth-child(10n+3) span {
	background-color: #FF4141;
}
.toupiao li:nth-child(10n+4) span {
	background-color: #D3C203;
}
.toupiao li:nth-child(10n+5) span {
	background-color: #0066FF;
}
.toupiao li:nth-child(10n+6) span {
	background-color: #6E08DB;
}
.toupiao li:nth-child(10n+7) span {
	background-color: #FF8F00;
}
.toupiao li:nth-child(10n+8) span {
	background-color: #8CB609;
}
.toupiao li:nth-child(10n+9) span {
	background-color: #CE4FFF;
}
.toupiao li:nth-child(10n+10) span {
	background-color: #949494;
}

/*---------------------------*/		
		
.stripes span {
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
}
 @-webkit-keyframes animate-stripes {
0% {
background-position: 0 0;
}
100% {
background-position: 60px 0;
}
}
 @-moz-keyframes animate-stripes {
0% {
background-position: 0 0;
}
100% {
background-position: 60px 0;
}
}
  


span[data-value] {
position: absolute;
    width: 40px;
    bottom: 68px;
    left: 50%;
    margin-left: -20px;

}
span[data-value]:after {
content: attr(data-value)  ;
position: absolute;
left: 0;
top: -25px;
margin-left: 0;
color: #FFF;
font-size: 14px;
width: 40px;
text-align: center;
}
.title{ color: #FFF;
margin: 0 auto;
padding: 0;
text-align: center;
position: absolute;
bottom: 25px;
max-height:40px;overflow: hidden;
width:100%; font-size:16px;}
.title2{ color: #F00;
margin: 0 auto;
padding: 0;
white-space: nowrap;
text-align: center;
position: absolute;
bottom: 0; width:100%; font-size:16px;}
.toupiao{ margin: 0 auto;
	width:100%;display: -moz-box; display: -webkit-box; display: box; 
-webkit-box-pack:center;
-webkit-box-align:center;height: 50%;
position: absolute;
bottom: 80px;}
.toupiao li{ font-size:18px;-webkit-box-flex: 1;
-moz-box-flex: 1;
box-flex: 1;height: 100%;}

.votebody{  height:100%;
width: 100%;
 background:rgba( 0,0,0,0.6);position: relative;}
.votebox{ position: absolute; right:15px; top:15px}
.votestart{ background:url(../images/votestart.png) no-repeat; width:90px; height:35px; display:block; background-size: 90px auto;}
.voteend{ background:url(../images/voteend.png) no-repeat; width:90px; height:35px; display:block; background-size: 90px auto;}
 