@charset "utf-8";
body {	background-color: #222;font-family:"microsoft yahei", Arial, Helvetica, sans-serif;}
ul, li{ list-style:none}
a {
	color: #777;
}
/*---------------------------*/			
.votebody{height: 100%;
width: 100%;
background: rgba( 0,0,0,0.6);
position: relative;}  
.progress-bar {
	background-color: rgba(26, 26, 26, 0.33);
	height: 30px;
	padding: 5px;
	margin: 5px 25px 6px 0;
	margin-left: 110px;
	-moz-border-radius: 35px 100px 100px 35px;
	-webkit-border-radius: 35px 100px 100px 35px;
	border-radius: 35px 100px 100px 35px;
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45) inset, 0 1px 0 rgba(68, 68, 68, 0.36);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45) inset, 0 1px 0 rgba(68, 68, 68, 0.36);
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.45) inset, 0 1px 0 rgba(68, 68, 68, 0.36);
	
}
.progress-bar span {
	display: inline-block;
	height: 100%;
	background-color: #777;
	-moz-border-radius: 35px 100px 100px 35px;
	-webkit-border-radius: 35px 100px 100px 35px;
	border-radius: 35px 100px 100px 35px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out;
	-o-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
}
/*---------------------------*/			
		
.toupiao li:nth-child(10n+1) span {
	background-color: #34c2e3;
}
.toupiao li:nth-child(10n+2) span {
	background-color: #08B40F;
}
.toupiao li:nth-child(10n+3) span {
	background-color: #FF4141;
}
.toupiao li:nth-child(10n+4) span {
	background-color: #D3C203;
}
.toupiao li:nth-child(10n+5) span {
	background-color: #0066FF;
}
.toupiao li:nth-child(10n+6) span {
	background-color: #6E08DB;
}
.toupiao li:nth-child(10n+7) span {
	background-color: #FF8F00;
}
.toupiao li:nth-child(10n+8) span {
	background-color: #8CB609;
}
.toupiao li:nth-child(10n+9) span {
	background-color: #CE4FFF;
}
.toupiao li:nth-child(10n+10) span {
	background-color: #949494;
}

/*---------------------------*/		
		
.stripes span {
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
}
 @-webkit-keyframes animate-stripes {
0% {
background-position: 0 0;
}
100% {
background-position: 60px 0;
}
}
 @-moz-keyframes animate-stripes {
0% {
background-position: 0 0;
}
100% {
background-position: 60px 0;
}
}
/*---------------------------*/	 



span[data-value] {
position: relative;
}
span[data-value]:after {
content: attr(data-value) '';
position: absolute;
left: 10px;
top: 50%;
margin-top: -10px;
color:#FFF;
}
.title{ color:#FFF; margin:0 0 0 5px; padding:0;font-size: 16px;}
.toupiao{margin: 0 auto;
width: 95%;
    height: 100%;
    box-sizing: border-box;
	overflow-x:hidden;
overflow-y: auto;
/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Chrome, and Opera */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;

display:-moz-box;
 display:-webkit-box;
 display:box;
 -moz-box-orient:vertical;
 -webkit-box-orient:vertical;
 box-orient:vertical;


}
.toupiao li{ float:left;width: 50%; font-size:18px;margin-bottom: 10px;}
.toupiao li img{
float: left;
margin-right: 10px;
width: 100px;
height: 70px;
border-radius: 20px;
border: 2px solid rgba(0, 0, 0, 0.23);
}
.toupiao .libox{margin-bottom: 10px; width:100%}
.toupiao .libox:last-of-type{margin-bottom: 0;}
.votebox{ position: absolute; right:15px; top:15px}
.votestart{ background:url(../images/votestart.png) no-repeat; width:90px; height:35px; display:block; background-size: 90px auto;}
.voteend{ background:url(../images/voteend.png) no-repeat; width:90px; height:35px; display:block; background-size: 90px auto;}
.votekkk{
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 10px;
    right: 10px;
}