<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>微商好品牌 </title>
    <link rel="stylesheet" type="text/css" href="/Public/hao/css/common.css?1464746418" />
    <script type="text/javascript" src="/Public/javascripts/admin/jquery-1.9.0.min.js?1464746418"></script>
    <script type="text/javascript" src="/Public/hao/js/swipe.js?1464746418"></script>
    <div style='display: none;'>
        <img src="http://c.cnzz.com/wapstat.php?siteid=1253299970&r=http%3A%2F%2Fqun.weituobang.com%2Fhao&rnd=1950342013" width="0" height="0"/></div>
</head>

<body>
<style>
    .mengban,.ewm_mengban{position:fixed; width:100%; height:100%; top:0px; left:0px; text-align: center; z-index: 999;}
    .mengban{z-index: 998; background:rgba(0,0,0,0.6);}
    .comunicate_box,.code_box{position: relative; width:80%; margin:0px auto; background:#fff; border-radius:5px;}
    .code_box{border-radius:10px;}
    .comunicate_padding{padding:30px 5px 20px 5px;}
    .comunicate_box a{display: inline-block; width:33.33%; float:left;}
    .comunicate_box a img{min-width: 50px; max-width: 105px;  width:60%;}
    .comunicate_box a p{margin-top:10px; font-size: 14px;}
    .close_ewm{position: absolute; cursor:pointer; top:-10px; right:-10px; background:#000; color:#fff; width:30px; height:30px; line-height:30px; border-radius:15px; font-weight:bold;}
    .close_mengban{position: absolute; cursor:pointer; top:-3px; right:-2px; color:#ccc; width:30px; height:30px; line-height:30px; border-radius:15px; border-radius:15px; font-size: 12px; font-family: 微软雅黑;}
    .ewm{font-size:0px; border-radius: 10px 10px 0px 0px; overflow: hidden;}
    .ewm img{width:100%;}
    .ewm_ts{background:#fff; padding:0px 0px 10px; margin-top:10px; color:#ff0000;  border-radius: 0px 0px 10px 10px;}
    .clean{clear:both;}
</style>
<!--弹窗 开始-->
<div class="mengban" style="display:none; z-index: 999 !important;">
    <div class="comunicate_box">
        <div class="comunicate_padding">
            <div class="close_mengban">×</div>
            <a class="qq" href="http://wpa.qq.com/msgrd?V=3&uin=175382553&Site=QQ客服&Menu=yes">
                <img src="/Public/hao/images/qq.png">
                <p>QQ</p>
            </a>				<a class="wechat" href="javascript:;">
            <img src="/Public/hao/images/wechat.png">
            <p>微信</p>
        </a>				<a class="phone" href="tel:18668139306">
            <img src="/Public/hao/images/tel.png">
            <p>电话</p>
        </a>				<div class="clean"></div>
        </div>
    </div>
</div>
<div class="ewm_mengban" style="display:none;">
    <div class="code_box">
        <div class="close_ewm">×</div>
        <div class="ewm">
            <img src="/Uploads/attach/2016-02-15/56c15661be547.jpg"/>
        </div>
        <p class="ewm_ts">长按上方二维码3秒识别二维码</p>
    </div>
</div>
<!--弹窗  结束-->
<header id="toolbar_header">
    <div class="toolbar_back" tapmode="" onclick="javascript:history.go( - 1)"><i class="ico_back"></i></div>
    <h1 class="toolbar_title">霏梦阁</h1>
    <!--<div class="toolbar_right"><i class="ico_share"></i></div>-->
</header>
<div class="shopimg">
    <img src="/Uploads/attach/2016-02-15/56c154f2a63da.jpg" class="simg posr">
    <div class="shop_item goodbad" tapmode="" >
        <img src="/Uploads/attach/2016-02-15/56c1530772f46.jpg" alt="" class="brand_img">
        <div class="shoptit" style="padding: 11px 95px 2px 50px;">
            <i>霏梦阁</i>
            <i class="shop_point">商铺评分:<font class="hint red">2.9分</font></i>
            <!--            <p><em class="zan">431点赞</em><em class="ml10 keep">20万收藏</em></p>-->
        </div>
        <a href="https://shop36019308.taobao.com" class="saddbg_a"><div class="fr saddbg">进入店铺</div></a>		</div>
</div>
<style type="text/css">
    .img_box{display: inline-block; width:33.33%; float:left;}
    .img_pad{padding:2px;}
    .img_box a{display: block; position: relative;}
    .img_box img{width:100%;}
    .show_img{width:100%; padding-bottom:100%; height:0px; background-position: center!important; background-size: cover !important;}
    .img_box a p{width:100%; text-align: center; font-size: 14px; position: absolute; bottom:0px; left:0px; background: rgba(0,0,0,0.6); color:#fff; height:24px;line-height: 24px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
    .clean{clear:both;}
    .set_item{position:relative;}
    .set_item .teamtit{width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
    .shop_aptitude{width:100%; height:100px; background:#fff; overflow: scroll; position: relative;}
    .aptitude_box img{width:100px; height:100px; float:left; margin-right:10px;}
    .aptitude_box img:last-child{margin-right:0px;}
    /*提示联系我们*/
    .relative{position:relative;}
    .foot_msg{z-index: 999;}
    .comunicate_tips_box{position:fixed; top:0px; left:0px; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index: 998;}
    .comunicate_tips{position:absolute; width:230px; bottom:70px; right:40px;}
    .comunicate_tips span{color:#fff; font-size: 18px; font-weight: bold;}
    .comunicate_tips img{width:38px; position: absolute;}
</style>
<div class="brief">简介：主营女性私护凝胶棒女郎、女神泡泡，消炎杀菌、排毒、缩阴，解忧女性痛经、白带、宫颈等妇科疾病难言之隐。
    涂沫式水光针，让你护肤、美白、补水做健康水润女人，招代理，600元健康事业两不误</div>
<div class="shop_aptitude" style="display:none;">
    <div class="aptitude_box" id="aptitude_box">
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
        <img src="" />
    </div>
</div>
<div class="shopbox bd">
    <div class="img_box">
        <div class="img_pad">
            <a  href="/hao/product/info.html?pid=326" >
                <div class="show_img" style="background:url(/Uploads/attach/2016-02-15/56c15754dcf0c.JPG);"></div>
                <!-- <img src="/Uploads/attach/2016-02-15/56c15754dcf0c.JPG" /> -->
                <p>台湾棒女郎排毒杀菌私护凝胶</p>
            </a>
        </div>
    </div><div class="img_box">
    <div class="img_pad">
        <a  href="/hao/product/info.html?pid=327" >
            <div class="show_img" style="background:url(/Uploads/attach/2016-02-15/56c1591fb7724.jpg);"></div>
            <!-- <img src="/Uploads/attach/2016-02-15/56c1591fb7724.jpg" /> -->
            <p>女神泡泡洗护慕斯</p>
        </a>
    </div>
</div><div class="img_box">
    <div class="img_pad">
        <a  href="/hao/product/info.html?pid=328" >
            <div class="show_img" style="background:url(/Uploads/attach/2016-02-15/56c15acc4e254.jpg);"></div>
            <!-- <img src="/Uploads/attach/2016-02-15/56c15acc4e254.jpg" /> -->
            <p>涂抹式水光针</p>
        </a>
    </div>
</div>		<div class="clean"></div>
</div>
<a  style="position:relative; display:block;" href="/hao/article/more.html?shop=3372" ><h2 class="mt20 publictit" >活动/新闻</h2>
    <span style="position:absolute; right:10px; top:14px; font-size:14px; color:#ea5520;">更多</span></a>
<div class="firstblock">
    <div class="set_item" tapmode="presshover" onclick="window.location.href = '/hao/article/info.html?id=36&shop=3372'">
        <span>棒女郎是什么？女神泡泡有什么用？如何代理？</span>
        <b class="item_arrow"></b>
    </div>
    <div class="h1"></div><div class="set_item" tapmode="presshover" onclick="window.location.href = '/hao/article/info.html?id=37&shop=3372'">
    <span>【媒体解读‼️】女神泡泡是2016年最赚钱的微商项目！永远不要低估自己，唯独敢于突破自我的人，才能抓住机会，赶在红利来临时,获得最大化的回报！！！</span>
    <b class="item_arrow"></b>
</div>
    <div class="h1"></div><div class="set_item" tapmode="presshover" onclick="window.location.href = '/hao/article/info.html?id=73&shop=3372'">
    <span>2016年微商不行？她为什么成功了！！！</span>
    <b class="item_arrow"></b>
</div>
    <div class="h1"></div>	</div>
<a style="position:relative; display:block;" href="/hao/comment/more.html?shop=3372" ><h2 class="mt20 publictit">评论</h2>
    <span style="position:absolute; right:10px; top:14px; font-size:14px; color:#ea5520;">更多</span></a>
<div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/NGZKk39DiavdJTYjT9zTm2aMmO62yRLjco34hxUOZC5mBdOKoNa441ZAj1dqvGJdWo2BhmsI5kozhr3k3pLhCSw/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>A_MCC 🍒</i><em>2016-02-17 12:02 &nbsp;&nbsp;&nbsp;&nbsp;1楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_768" onclick="comment_thumbup('768')">53</em></span>
    </div>
    <div class="centmsg">
        多少钱			</div>
</div><div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/bCAxIDeia9w9LT6WiadhqN5ic9YHl1BWibk7Ogriabb1zkDicibbHlTEpOciakzyO4R4DpiaDcibXX8tCkQhIUXvzNZDT0CLTSAfA5YZ54/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>A～微微正品美妆</i><em>2016-05-10 06:05 &nbsp;&nbsp;&nbsp;&nbsp;2楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_4782" onclick="comment_thumbup('4782')">30</em></span>
    </div>
    <div class="centmsg">
        棒女郎怎么代理			</div>
</div><div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/LIND77SSexibHicZVAeqeUwldxXiclo7tOhSA9j5oJAlueNYibGHypX3ZbGAHQJibe6lrZH65Y3G7DAOhFMS4lLsR5GdGv98OeuuU/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>潇洒</i><em>2016-02-17 15:02 &nbsp;&nbsp;&nbsp;&nbsp;3楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_769" onclick="comment_thumbup('769')">18</em></span>
    </div>
    <div class="centmsg">
        好产品哦！！！			</div>
</div><div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/sOibJ6Uxvqu8QVcgZowibJ6rAKhk6zoghF5s3k9ib2jdn3m7vrcGJga4OZEKFJE1O03Qicrl4hb1fy5l67xbG3xhDoMkrMcYI3iaS/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>A别人眼里的幸福</i><em>2016-06-01 21:06 &nbsp;&nbsp;&nbsp;&nbsp;4楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_5632" onclick="comment_thumbup('5632')">0</em></span>
    </div>
    <div class="centmsg">
        也试试效果呵呵😊			</div>
</div><div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/nliaKRkEwIT050anf4ic9zaibs9AP0jOfbKGz3T95mBvB72hDYE0Ciac1WYVXSIPXicbicjw36107v9MRRr3rHICy4icxPSmm9bRrfF/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>A    本色丽人  招收代理</i><em>2016-05-31 22:05 &nbsp;&nbsp;&nbsp;&nbsp;5楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_5611" onclick="comment_thumbup('5611')">0</em></span>
    </div>
    <div class="centmsg">
        我团队有熙贝诺水光针，有需要的可以加我			</div>
</div><div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/NGZKk39DiaveAxjvcjVlK1ERJ98z98yibGD0yod3Wnj4MB3a7pZdPDnLtjdg9LvVexUjL0pic7yC92JPuC17yN7AiaC73qWdCR55/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>官官💥三亚游</i><em>2016-05-31 09:05 &nbsp;&nbsp;&nbsp;&nbsp;6楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_5580" onclick="comment_thumbup('5580')">3</em></span>
    </div>
    <div class="centmsg">
        怎么代理？			</div>
</div><div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/nliaKRkEwIT1dJWDUicib04rrTWe7pfbUlibxLrsSa5EB9WYZVab5iataAU8A7Uxtmpy1JdxlowlnBcZRN1WpYLmmGCBRy2Bp4587/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>安心 ❤</i><em>2016-05-30 23:05 &nbsp;&nbsp;&nbsp;&nbsp;7楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_5567" onclick="comment_thumbup('5567')">0</em></span>
    </div>
    <div class="centmsg">
        我都用了五个疗程了，效果棒棒的。感谢棒女郎			</div>
</div><div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/bCAxIDeia9w9LT6WiadhqN51R2ZAj1khPCaha8fgZnpGo1lUiaE7Bl0MdFN36aRGBaibaG1g0nHLID7eXJ96zrADZNLJ27Arvddw/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>麻 辣 女 王</i><em>2016-05-30 23:05 &nbsp;&nbsp;&nbsp;&nbsp;8楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_5564" onclick="comment_thumbup('5564')">0</em></span>
    </div>
    <div class="centmsg">
        我也在代理！给好姐妹们推荐了！大家都用的挺好的！			</div>
</div><div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/nliaKRkEwIT3m1QR5bHAcXs4ybGSbUPtBkqTssZWB7DKdceGFzrLCu8AjhRKNzrVTVbSIHvd5VtQvoxEojt2OXMdZRgEAwC8h/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>玲玲</i><em>2016-05-30 20:05 &nbsp;&nbsp;&nbsp;&nbsp;9楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_5552" onclick="comment_thumbup('5552')">0</em></span>
    </div>
    <div class="centmsg">
        你是不是有水光针呢			</div>
</div><div class="bd">
    <div class="set_item pt10">
        <img src="http://wx.qlogo.cn/mmopen/NGZKk39DiavcpKibK29kzibd1WAGAh8fy8o81Ge9zHaqicYDcQjjTaZWhJibxLMJgg2ptTaDCLrKhjeibaFZLEWw5FGwnvLOS8yVNx/0" alt="" class="talent_img minimg">
        <span class="blue teamtit"><i>兔兔</i><em>2016-05-30 02:05 &nbsp;&nbsp;&nbsp;&nbsp;10楼</em></span>
        <span class="fr hint shopzan" ><em class="zan" id="zan_5529" onclick="comment_thumbup('5529')">0</em></span>
    </div>
    <div class="centmsg">
        我自己也在用现在也做代理了			</div>
</div><br />
<br />
<div class="foot_msg" style="display:none;">
    <ul>
        <li tapmode="presshover" onclick="shop_thumbup()" ><img src="/Public/hao/images/ping_zan_black.png" alt="" />点赞(<span id="zan" style="line-height:14px;">431</span>)</li>
        <li tapmode="presshover" >
            <a href="/hao/comment/comment.html?id=3372" >
                <img src="/Public/hao/images/pig_interact_on.png" alt="" />评论(<span style="line-height:14px;">65</span>)
            </a>
        </li>
        <li tapmode="lgbtnhover" ><div class="pub_card send_msg"  style="height:auto; border-radius:0px;" type="button" tapmode="lgbtnhover">我要代理</div></li>    </ul>
</div>
<script src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js'></script>
<script type="text/javascript">
    var window_height = $(window).height();
    var document_height = $(document).height();
    //提示联系我们
    var shopbox_mark;
    shopbox_mark = 0;
    var comunicate_tips = '<div class="comunicate_tips_box">'+
            '<div class="comunicate_tips">'+
            '<div class="relative">'+
            '<span>对我们的产品感兴趣？</span>'+
            '<img src="/Public/images/index_new/arrow_down.gif">'+
            '</div>'+
            '</div>'+
            '</div>';
    if(window_height == document_height){
        $("body").append(comunicate_tips);
        shopbox_mark++;
    };
    $(window).scroll(function(){
        var height = $(window).height()/4*3;
        var offsetTop = $(".shopbox").offset().top;
        var scrollTop = $(window).scrollTop()+height;
        if(scrollTop>offsetTop){
            if(!localStorage.getItem("like_show")){
                if(shopbox_mark == 0){
                    $("body").append(comunicate_tips);
                    localStorage.setItem("like_show","1");
                    shopbox_mark++;
                }
            }
        }
        //localStorage.removeItem("like_show");
    });
    //关闭提示框
    $(document).on("touchend",".comunicate_tips_box",function(){
        $(".comunicate_tips_box").remove();
    });

    //根据连接数确定按钮的宽度
    var link_num = $(".comunicate_box a").length;
    var link_width = 100/link_num+"%";
    $(".comunicate_box a").css("width",link_width);

    //判断联系方式有几个，如果只有一个的话，则直接联系不弹窗
    if(link_num == 1){
        var link = $(".comunicate_box a").attr("href");
        $(".send_msg").attr("href",link)
    }
    //蒙板的展示和关闭
    var window_height = $(window).height();
    $(".send_msg").bind("click",function(){
        //不是一个连接的打开蒙板
        if(link_num == 1){
            var wechat_num = $(".wechat").length;
            if(wechat_num !== 0){
                $(".ewm_mengban").css("background","rgba(0,0,0,0.6)");
                $(".wechat").click();
            }
        }else{
            $(".mengban").show();
            var comunicate_height = $(".comunicate_box").height();
            $(".comunicate_box").css("top",(window_height - comunicate_height)/2);
        }
    });
    $(".wechat").bind("click",function(){
        $(".ewm_mengban").show();
        var code_box_height = $(".code_box").height();
        $(".code_box").css("top",(window_height - code_box_height)/2);
        event.stopPropagation();
    });
    $(".close_mengban,.mengban").bind("click",function(){
        $(".mengban").hide();
    });
    $(".close_ewm").bind("click",function(){
        $(".ewm_mengban").hide();
    });
</script>
<script type="text/javascript">
    $(function(){
        $(".foot_msg").show();
    });
    //确定资质张数
    var aptitude_num = $(".aptitude_box img").length;
    var aptitude_width = $(".aptitude_box img").width() * aptitude_num + 10 * (aptitude_num - 1);
    $(".aptitude_box").width(aptitude_width);
    //按照图片张数来确定宽度
    var shopimg_num = $(".shopbox .img_box").length;
    if (shopimg_num == 1){
        $(".img_box").width("100%");
    } else if (shopimg_num == 4){
        $(".img_box").width("50%");
    };
    // var img_height = $(".img_box").eq(0).width();
    // $(".img_box img").height(img_height);

    //店铺点赞
    function shop_thumbup() {
        //店铺 ID
        var $sid = "3372";
        var $zan = $('#zan').text();
        $.get("/hao/shop/thumbup.html", {id: $sid}, function(data) {
            if (data.status == 1)
            {
                $('#zan').text(parseInt($zan) + 1);
            }
            else
            {
                alert(data.info);
                if (data.url != '')
                {
                    window.location.href = data.url;
                }
            }
        })
    };
    //评论点赞
    function comment_thumbup($id) {
        var $sid = "3372";
        var $zan = $('#zan_' + $id).text();
        $.get("/hao/comment/thumbup.html", {cid: $id}, function(data) {
            if (data.status == 1)
            {
                $('#zan_' + $id).text(parseInt($zan) + 1);
            }
            else{
                alert(data.info);
                if (data.url != '')
                {
                    window.location.href = data.url;
                }
            }
        })
    };

</script>
<script>

    wx.config({
        debug: false,
        appId: 'wxebceb73aaef188b5',
        timestamp: 1464829695,
        nonceStr: '1dN786acqEZHAySB',
        signature: 'b313cf4b0465ad78d5574671b439f51cedd500a5',
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo']
    });

    wx.ready(function(){
        var shareData = {
            title: "霏梦阁",
            desc: "主营女性私护凝胶棒女郎、女神泡泡，消炎杀菌、排毒、缩阴，解忧女性痛经、白带、宫颈等妇科疾病难言之隐。涂沫式水光针，让你护肤、美白、补水做健康水润女人，招代理，600元健康事业两不误",
            link: window.location.href,
            imgUrl: "http://qun.weituobang.com/Uploads/attach/2016-02-15/56c154f2a63da.jpg",
            trigger: function (res) {
                //alert('用户点击发送给朋友');
            },
            success: function (res) {
                //alert('已分享');
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        };
        wx.onMenuShareAppMessage(shareData);
        wx.onMenuShareTimeline(shareData);
        wx.onMenuShareQQ(shareData);
        wx.onMenuShareWeibo(shareData);
    });

    wx.error(function(res){
        alert('error');
    });
</script>

</body>
</html>