.body{
    max-width:640px;
    margin:auto;
    min-height:100%;
    background-color:#f4f4f4;
    position:relative;
}

.list_font{
    position:relative;
}
.list_font li{
    height:150px!important;
    position:relative;
    text-align:left;
}
.list_font li>a{
    padding:0 10px;
    -webkit-box-sizing:border-box;
}
.list_font li:nth-of-type(2n){height:75px!important;}
.list_font li:nth-of-type(4n){margin-top:-75px;}

@media screen and (min-width:480px){
    .list_font li{height:240px!important;}
    .list_font li:nth-of-type(2n){height:120px!important;}
    .list_font li:nth-of-type(4n){margin-top:-120px;}

    .list_font li:nth-of-type(4n+3) small{
        top: -160px!important;
    }

    .list_font li:nth-of-type(2n) div{
        margin-top:25px!important;
    }
}

/***************************************/
.list_font li:nth-of-type(4n+1){
    background-color:#d87570;
}
.list_font li:nth-of-type(4n+2){
    background-color:#b2cebf; text-align:right;
}
.list_font li:nth-of-type(4n+3){
    background-color:#bc4040;
}
.list_font li:nth-of-type(4n+4){
    background-color:#6f9e98; text-align:right;
}
/***************************************/
.list_font li:nth-of-type(4n+1) div:nth-of-type(2){
    position:absolute;
    right:4px;
    bottom:10px;
}

.list_font li:nth-of-type(2n) div{
    display:inline-block;
    margin-top:13px!important;
}
.list_font li:nth-of-type(2n) div:nth-of-type(2) span:before{
    margin-top:8px!important;
}
.list_font li:nth-of-type(2n) small{display:none;}


.list_font li:nth-of-type(4n+3) div:nth-of-type(1){
    position:absolute;
    width:100%;
    text-align:right;
    right:10px;
    bottom:10px;
}
.list_font li:nth-of-type(4n+3) div:nth-of-type(2){
    position:absolute;
    top:10px;
    left:35px;
}
.list_font li:nth-of-type(4n+3) small{
    position: absolute;
    left: 30px;
    top: -70px;
}