body{background: #ffffff;}
.weimob-list-item-summary{
    font-size:0.8rem; color:#666;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    padding-right:50px;
    -webkit-box-sizing:border-box;

}
.weimob-list-item{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
}
.weimob-list-item-title{
    white-space: normal!important;
    height:27px;
    line-height:27px;
    overflow:hidden;
    padding-right:50px;
    -webkit-box-sizing:border-box;
}
.weimob-list-item-line{padding-left:10px;}.weimob-copyright{ color:#000;}.weimob-copyright{ color:#000;}