html{ height: 100%;}
body{ height: 100%; background-color: #cac4c4;}

/* 网易规则 */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}

.g-doc{ height: 100%;}
.g-havefoot{ padding-bottom:176px; overflow:hidden;}

.m-con{ width: 100%;}

/* 底部菜单 */
.m-foot{ border-top:10px solid #cac4c4; position: fixed; bottom: 0; z-index: 99; width: 100%; height: 176px; background:url(../images/bg.jpg) bottom repeat; padding-top: 20px; overflow:hidden;}
.m-foot li{ float: left; width: 20%; height: 134px; padding-top: 10px; border-right: 2px dashed #f7ac1b; text-align: center;}
.m-foot li:last-child{ border: none;}
  .ft-pic{ display: block; height: 78px; margin: 0 auto; margin-bottom: 15px;}
  .ft-font{ display: block; font-size: 24px; color: #808080;}
  .s-ftimg1{ background: url(../images/menico-1.png) no-repeat center center;}
  .s-ftimg2{ background: url(../images/menico-2.png) no-repeat center center;}
  .s-ftimg3{ background: url(../images/menico-3.png) no-repeat center center;}
  .s-ftimg4{ background: url(../images/menico-4.png) no-repeat center center;}
  .s-ftimg5{ background: url(../images/menico-5.png) no-repeat center center;}
/* 底部菜单 end*/

/*  首页  */
.m-index{ position: relative; height:100%; background: url(../images/index-img.jpg) center no-repeat; background-size: cover;}
.m-index .telphone{ position: absolute;  padding-left:71px; top: 30%; right:30px; display:block;}
.m-index .telphone .phone-box{ position:absolute; left:0;}
.m-index .telphone .phone, .m-index .telphone .num{ background: url(../images/telimg.png) left center no-repeat; width:61px; height:60px; display: inline-block; overflow:hidden; }
.m-index .telphone .num{ background:url(../images/telimg.png) center no-repeat; width:24px;}
.m-index .telphone .num1{ background-position:-73px 0;}
.m-index .telphone .num2{ background-position:-97px 0;}
.m-index .telphone .num3{ background-position:-121px 0;}
.m-index .telphone .num4{ background-position:-145px 0;}
.m-index .telphone .num5{ background-position:-167px 0;}
/*  首页 end */

/*  实力  */
/*.m-hrsl{ padding: 22px 16px;}*/
.m-nav{ position: fixed; right: 40px; top: 40px; width: 48px; height: 40px; background: url(../images/nav.png) no-repeat;}
.m-nav2{ position: absolute; right: 20px; top: 20px; width: 30px; height: 30px; background: url(../images/nav.png) no-repeat; background-size:100% auto;}
.m-slcd{/* padding-bottom: 190px;*/ height:100%; overflow:hidden;}
.m-hrsl .m-col{ height:25%;}
.m-xmgk .m-col{ height:33.333333333333%;}
.m-col{ position: relative; display: block; text-align: center;}
.m-col-con{ position: absolute; left:0; top: 50%; margin-top:-66px; text-align:center; display:block; width:100%; overflow:hidden;}
.m-col-img{ width: 88px; height: 88px; border-radius: 50%; border: 2px solid #fff; display:block; margin:0 auto 8px;}
.m-col .ms{ width: 100%; height:36px; line-height: 36px; text-align: center; font-size: 24px; color: #fff; font-style:normal; overflow:hidden; display:block;}
.m-col .bor-b{ position:absolute; left:0; bottom:-1px; width:100%; height:6px; background:#cac4c4; display:block;}
.m-col:last-child .bor-b{ height:0; display:none;}
/*  实力 end */

/*  招贤纳士  */
.m-zxns{}
.m-zxns img{ float: left; width: 100%;/* height: auto;*/}
.m-zpzw{ position: relative; height: 836px; padding: 0 30px; background: url(../images/zpbg2.jpg) no-repeat; background-size: 100% auto;}
.m-zxnsdw{ position: absolute; width: 91%; height: 104px;}
  .xszg{ top: 28.7%;}
  .xsxz{ top: 41.03%;}
  .zygw{ height: 97px; top: 53.47%;}
  .xspxs{ top: 82.54%}
/*  招贤纳士 end  */

/*   华润影像   */
.m-hryx{ background: url(../images/ico-qq.png) no-repeat 100px 24px, url(../images/ico-qq.png) no-repeat 55px 98% #ffffff; padding:98px 24px 62px;}
.m-hryx .video .vd-bg{ position: relative; display: block; height: 307px;}
.m-hryx .video .vd-bg img{ width: 100%; height: 100%;border-radius: 5px 5px 0 0;}
.m-hryx .video .vd-bg .play{ position: absolute; left: 50%; top: 50%; width: 94px; height: 94px; margin: -47px 0 0 -47px; background: url(../images/ico-play.png) no-repeat;}
.m-hryx .video .play-ms{ height: 63px; line-height: 63px; background-color: #ec8b17; border-radius: 0 0 5px 5px; text-align: center; font-size: 28px; color: #fff;}
.m-hryx .video .play-ms i{ display: inline-block; vertical-align: text-top; width: 39px; height: 35px; background: url(../images/ico-syj.png) no-repeat; margin-right: 10px;} 
.m-hryx .jiant{ position: relative; height: 100px; background: url(../images/ico-jt.png) no-repeat center center,url(../images/ico-qq.png) no-repeat 95% center;}
/*   华润影像 end  */

/* 皮肤  */
.s-bg{ background: url(../images/bg.jpg) repeat;}

.s-slbg1{ background: url(../images/sl-cdbg1.jpg) center no-repeat; background-size: cover;}
.s-slbg2{ background: url(../images/sl-cdbg2.jpg) center no-repeat; background-size: cover;}
.s-slbg3{ background: url(../images/sl-cdbg3.jpg) center no-repeat; background-size: cover;}
.s-slbg4{ background: url(../images/sl-cdbg4.jpg) center no-repeat; background-size: cover;}
.s-sl-img1{ background: url(../images/sl-ico1.png) no-repeat center center;}
.s-sl-img2{ background: url(../images/sl-ico2.png) no-repeat center center;}
.s-sl-img3{ background: url(../images/sl-ico3.png) no-repeat center center;}
.s-sl-img4{ background: url(../images/sl-ico4.png) no-repeat center center;}

.s-gkbg1{ background: url(../images/gk-cdbg1.jpg) center no-repeat; background-size: cover;}
.s-gkbg2{ background: url(../images/gk-cdbg2.jpg) center no-repeat; background-size: cover;}
.s-gkbg3{ background: url(../images/gk-cdbg3.jpg) center no-repeat; background-size: cover;}
.s-gk-img1{ background: url(../images/gk-ico1.png) no-repeat center center;}
.s-gk-img2{ background: url(../images/gk-ico2.png) no-repeat center center;}
.s-gk-img3{ background: url(../images/gk-ico3.png) no-repeat center center;}

/* 项目概况——项目实力  */
.body-xmsl{ background:#e9e9e9; padding:20px;}
.m-xmsl{ background:#fff; color:#6d5a54; font-size:28px; line-height:48px; padding:20px; border-radius:10px; overflow:hidden;}
.m-xmsl img{ margin-top:30px;}
.m-xmsl p{ padding:20px 0; border-bottom:1px dashed #c1c1c1;}

/* 项目概况——精美图册  */
.m-jmtc{}
.m-jmtc #jmtc_slider li div p{ width:100%; height:64px; font-size:36px; line-height:64px; color:#fff; text-align: center; background:rgba(0,0,0,.42); top:0;}
#jmtc_slider_position { position:fixed; left: 0; top:80px; width: 100%; color:rgba(0,0,0,.2); display: block; font-size: 50px; line-height: 1; text-align: center; }
#jmtc_slider_position em { display: inline-block; font-family: sans-serif; font-style: normal; padding: 0 1px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
#jmtc_slider_position em.on { color: #fff;}

/* 服务 
.bg-e9e9e9{ background:#e9e9e9; height:auto; }
.bor-b-d-c1c1c1{ border-bottom:2px dashed #c1c1c1;}
.c-fw{ background:#fff; padding:20px 20px 0; border-radius:8px; border:1px solid #c1c1c1; overflow:hidden; color:#6d5a54; font-size:28px; line-height:48px; margin:0 auto 20px;}
.c-fw h2{ font-size:32px; line-height:52px; border-bottom:1px solid #c1c1c1; padding-bottom:10px;}
.forthwith li{ padding:20px 0; font-size:26px; line-height:36px; padding-right:80px; position:relative;}
.forthwith .icon{ background:url(../images/icon-forthwith.png) right top no-repeat; border-left:2px solid #c1c1c1; width:60px; height:32px; overflow:hidden; position:absolute; right:0; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); display:block;}
.forthwith .icon-phone{ background-position:0 0;}
.forthwith .icon-map{ background-position:0 -32px;}
.online{ margin:20px 0;}
.online li{ position:relative; padding:20px; padding-left:80px; }
.online .tit{ font-size:26px; line-height:36px; color:#666; width:80px; position:absolute; left:0; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); display:block;}
.text-input{ width:100%; border:2px solid #c1c1c1; height:64px; padding:10px; line-height:44px; font-size:26px; color:#333;}
.text-input:focus{ height:64px; line-height:64px; overflow:hidden;}

.text-input::date{ width:100%; border:2px solid #c1c1c1; height:64px; padding:10px; line-height:44px; font-size:26px; color:#333;}
::-webkit-date-edit { width:100%; height:64px; padding:10px; line-height:44px; font-size:26px; color:#333;}
::-webkit-datetime-edit { width:100%; height:64px; padding:10px; line-height:44px; font-size:26px; color:#333;}
::-webkit-datetime-edit-fields-wrapper { background-color: #fff; }
::-webkit-datetime-edit-text { color: #333; }

::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }

::-webkit-inner-spin-button { visibility: hidden; }
::-webkit-calendar-picker-indicator { width:100%; background-color: #fff; display:block; }

a.btn-submit, a.btn-submit:visited{ width:100%; height:88px; line-height:88px; text-align:center; font-size:36px; color:#fff; background:#ec8b17; display:block; border-radius:10px; overflow:hidden;}
a.btn-submit:hover{ color:#fff; background:#e3810c;}
.gender a{ margin-right:20px; position:relative; color:#999; display:inline-block; z-index:1;}
.gender a label{padding-right:20px; position:relative; z-index:2;}
.gender .icon-radio{ background:url(../images/icon-radio.png) no-repeat; width:24px; height:24px; overflow:hidden; display: inline-block;  background-position:0 0; vertical-align:middle; margin-right:10px;}
.gender .on .icon-radio{ background-position:0 -24px;}
.selct-radio{ position:absolute; right:0; top:0; width:20px; height:10px; vertical-align:middle; z-index:1; opacity:0;}
 */
/* 服务  */
.m-fw{ padding:10px;}
.bg-e9e9e9{ background:#e9e9e9; height:auto; }
.bor-b-d-c1c1c1{ border-bottom:1px dashed #c1c1c1;}
.c-fw{ background:#fff; padding:10px 10px 0; border-radius:5px; border:1px solid #c1c1c1; overflow:hidden; color:#6d5a54; font-size:14px; line-height:24px; margin:0 auto 10px;}
.c-fw h2{ font-size:18px; line-height:28px; border-bottom:1px solid #c1c1c1; padding-bottom:5px;}
.forthwith li{ padding:10px 0; font-size:14px; line-height:24px; padding-right:40px; position:relative;}
.forthwith .icon{ background:url(../images/icon-forthwith.png) right top no-repeat; border-left:1px solid #c1c1c1; width:30px; height:16px; overflow:hidden; position:absolute; right:0; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); display:block; background-size:100% auto;}
.forthwith .icon-phone{ background-position:0 0;}
.forthwith .icon-map{ background-position:0 -16px;}
.online{ margin:10px 0;}
.online li{ position:relative; padding:10px; padding-left:45px; }
.online .tit{ font-size:14px; line-height:24px; color:#666; width:45px; position:absolute; left:0; top:50%; -webkit-transform:translateY(-50%); transform:translateY(-50%); display:block;}
.text-input, .text-input:focus{ width:100%; border:1px solid #c1c1c1; height:36px; padding:5px; line-height:14px; font-size:14px; color:#333;}
a.btn-submit, a.btn-submit:visited{ width:100%; height:42px; line-height:42px; text-align:center; font-size:18px; color:#fff; background:#ec8b17; display:block; border-radius:5px; overflow:hidden;}
a.btn-submit:hover{ color:#fff; background:#e3810c;}
.gender a{ margin-right:10px; position:relative; color:#999; display:inline-block; z-index:1;}
.gender a label{padding-right:15px; position:relative; z-index:2;}
.gender .icon-radio{ background:url(../images/icon-radio.png) no-repeat; width:14px; height:14px; overflow:hidden; display: inline-block;  background-position:0 0; vertical-align:middle; margin-right:10px; background-size:100% auto;}
.gender .on .icon-radio{ background-position:0 -14px;}
.selct-radio{ position:absolute; right:0; top:0; width:5px; height:5px; vertical-align:middle; z-index:1; opacity:0;}


/* 右上角菜单  */
.nav-box{ position:fixed; top:0; bottom:0; left:0; right:0; width:100%; height:100%; background:rgba(234,160,0,.94); display:none;}
.nav-box .icon-close{ background:url(../images/icon-close.png) no-repeat; width:45px; height:45px; overflow:hidden; display:block; position:absolute; right:30px; top:30px;}
.nav-box ul{ width:600px; margin:60px auto 0;}
.nav-box li{ float:left; width:200px; margin-top:60px;}
.nav-box li a{ width:100%; display:block; color:#fff; font-size:28px; line-height:28px; text-align:center;}
.nav-box li a .icon{ background:url(../images/icon-nav.png) no-repeat; width:186px; height:85px; overflow:hidden; display:block; background-position:0 0; margin-bottom:10px;}
.nav-box li a .icon-home{ background-position:0 0;}
.nav-box li a .icon-hrsl{ background-position:-186px 0;}
.nav-box li a .icon-xmgk{ background-position:-372px 0;}
.nav-box li a .icon-wxsn{ background-position:0 -85px;}
.nav-box li a .icon-jmtc{ background-position:-186px -85px;}
.nav-box li a .icon-hryx{ background-position:-372px -85px;}
.nav-box li a .icon-phone{ background-position:0 -170px;}
.nav-box li a .icon-order{ background-position:-186px -170px;}
.nav-box li a .icon-location{ background-position:-372px -170px;}
.nav-box li a span{ height:28px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/* 右上角菜单----在线预约页面的  */
.nav-box2{ position:fixed; top:0; bottom:0; left:0; right:0; width:100%; height:100%; background:rgba(234,160,0,.94); display:none;}
.nav-box2 .icon-close{ background:url(../images/icon-close.png) no-repeat; background-size:100% auto; width:28px; height:28px; overflow:hidden; display:block; position:absolute; right:15px; top:15px;}
.nav-box2 ul{ width:100%; padding:30px 20px 0;}
.nav-box2 li{ float:left; width:33.333333333%; margin-top:30px;}
.nav-box2 li a{ width:100%; display:block; color:#fff; font-size:14px; line-height:14px; text-align:center;}
.nav-box2 li a .icon{ background:url(../images/icon-nav.png) no-repeat; width:100%; height:85px; overflow:hidden; display:block; background-position:0 0; margin-bottom:10px; background-size:300% auto;}
.nav-box2 li a .icon-home{ background-position:0 0;}
.nav-box2 li a .icon-hrsl{ background-position:-186px 0;}
.nav-box2 li a .icon-xmgk{ background-position:-372px 0;}
.nav-box2 li a .icon-wxsn{ background-position:0 -85px;}
.nav-box2 li a .icon-jmtc{ background-position:-186px -85px;}
.nav-box2 li a .icon-hryx{ background-position:-372px -85px;}
.nav-box2 li a .icon-phone{ background-position:0 -170px;}
.nav-box2 li a .icon-order{ background-position:-186px -170px;}
.nav-box2 li a .icon-location{ background-position:-372px -170px;}
.nav-box2 li a span{ height:28px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/* 首页动画  */
.dhdw0{ position: absolute; top:60px; left: 0;}
.dhdw1{ position: absolute; top:-70px; right: 55px;}
.dhdw2{ position: absolute; top: 29.16666%; left: 34.6875%;}
.dhdw3{ position: absolute; top: 26.68%; left: -65px;}
.dhdw4{ position: absolute; top: 57.44%; right: 10%;}
.dhdw5{ position: absolute; bottom:-100px; left: 12.8125%;}

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite }
.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s }
.animated-2 { -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.animated-2.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite }
.animated-2.hinge { -webkit-animation-duration: 2s; animation-duration: 2s }
.delays5{ animation-delay:0.5s; -webkit-animation-delay:0.5s; }
.delay1s{ animation-delay:1s; -webkit-animation-delay:1s; }
.delay1s5{ animation-delay:1.5s; -webkit-animation-delay:1.5s; }
.delay2s{ animation-delay:2s; -webkit-animation-delay:2s; }
.delay2s5{ animation-delay:2.5s; -webkit-animation-delay:2.5s; }
.delay3s{ animation-delay:3s; -webkit-animation-delay:3s; }
.delay3s5{ animation-delay:3.5s; -webkit-animation-delay:3.5s; }
.delay4s{ animation-delay:4s; -webkit-animation-delay:4s; }
.delay4s5{ animation-delay:4.5s; -webkit-animation-delay:4.5s; }
.delay5s{ animation-delay:5s; -webkit-animation-delay:5s; }
.delay5s5{ animation-delay:5.5s; -webkit-animation-delay:5.5s; }

.shake1{
  -webkit-animation-name: shake1;
          animation-name: shake1;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;  
}
@-webkit-keyframes shake1{
0%,100%{-webkit-transform:translateY(0);}
20%,60%{-webkit-transform:translateY(-15px);}
40%,80%{-webkit-transform:translateY(15px);}
}
.shake2{
  -webkit-animation-name: shake2;
          animation-name: shake2;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;  
}
@-webkit-keyframes shake2{
0%,100%{-webkit-transform:translateY(0);}
20%,60%{-webkit-transform:translateY(-15px);}
40%,80%{-webkit-transform:translateY(15px);}
}

.dian01, .dian02, .dian03{ width:40px; height:24px; position:absolute; top:-20px; right:-10px;}

.m-index .telphone .phone{
  -webkit-animation-name: phone;
  -moz-animation-name: phone;
  -o-animation-name: phone;
  animation-name: phone;
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes phone{
  0%,50%,100%{ -webkit-transform:rotate(0);}
10%,30%{-webkit-transform:rotate(20deg);}
20%,40%{-webkit-transform:rotate(-20deg);}
}

.dian01{
  -webkit-animation-name: dian01;
  -moz-animation-name: dian01;
  -o-animation-name: dian01;
  animation-name: dian01;
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes dian01{
  0%,52%{
    opacity:0;
    -webkit-transform:translate(0,0);
  }
  100%{
    opacity:1;
    -webkit-transform:translate(0,0);
  }
}
.dian02{
  -webkit-animation-name: dian02;
  -moz-animation-name: dian02;
  -o-animation-name: dian02;
  animation-name: dian02;
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes dian02{
  0%,68%{
    opacity:0;
    -webkit-transform:translate(0,0);
  }
  100%{
    opacity:1;
    -webkit-transform:translate(0,0);
  }
}
.dian03{
  -webkit-animation-name: dian02;
  -moz-animation-name: dian02;
  -o-animation-name: dian02;
  animation-name: dian02;
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes dian03{
  0%,84%{
    opacity:0;
    -webkit-transform:translate(0,0);
  }
  100%{
    opacity:1;
    -webkit-transform:translate(0,0);
  }
}


.bounceInLeft { -webkit-animation-name: bounceInLeft; animation-name: bounceInLeft }
@-webkit-keyframes bounceInLeft { 0%, 100%, 60%, 75%, 90% {
-webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
transition-timing-function:cubic-bezier(0.215, .61, .355, 1)
}
0% {
opacity:0;
-webkit-transform:translate3d(-3000px, 0, 0);
transform:translate3d(-3000px, 0, 0)
}
60% {
opacity:1;
-webkit-transform:translate3d(25px, 0, 0);
transform:translate3d(25px, 0, 0)
}
75% {
-webkit-transform:translate3d(-10px, 0, 0);
transform:translate3d(-10px, 0, 0)
}
90% {
-webkit-transform:translate3d(5px, 0, 0);
transform:translate3d(5px, 0, 0)
}
100% {
-webkit-transform:none;
transform:none
}
}
@keyframes bounceInLeft { 0%, 100%, 60%, 75%, 90% {
-webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
transition-timing-function:cubic-bezier(0.215, .61, .355, 1)
}
0% {
opacity:0;
-webkit-transform:translate3d(-3000px, 0, 0);
-ms-transform:translate3d(-3000px, 0, 0);
transform:translate3d(-3000px, 0, 0)
}
60% {
opacity:1;
-webkit-transform:translate3d(25px, 0, 0);
-ms-transform:translate3d(25px, 0, 0);
transform:translate3d(25px, 0, 0)
}
75% {
-webkit-transform:translate3d(-10px, 0, 0);
-ms-transform:translate3d(-10px, 0, 0);
transform:translate3d(-10px, 0, 0)
}
90% {
-webkit-transform:translate3d(5px, 0, 0);
-ms-transform:translate3d(5px, 0, 0);
transform:translate3d(5px, 0, 0)
}
100% {
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}
.bounceInRight { -webkit-animation-name: bounceInRight; animation-name: bounceInRight }
@-webkit-keyframes bounceInRight { 0%, 100%, 60%, 75%, 90% {
-webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
transition-timing-function:cubic-bezier(0.215, .61, .355, 1)
}
0% {
opacity:0;
-webkit-transform:translate3d(3000px, 0, 0);
transform:translate3d(3000px, 0, 0)
}
60% {
opacity:1;
-webkit-transform:translate3d(-25px, 0, 0);
transform:translate3d(-25px, 0, 0)
}
75% {
-webkit-transform:translate3d(10px, 0, 0);
transform:translate3d(10px, 0, 0)
}
90% {
-webkit-transform:translate3d(-5px, 0, 0);
transform:translate3d(-5px, 0, 0)
}
100% {
-webkit-transform:none;
transform:none
}
}
@keyframes bounceInRight { 0%, 100%, 60%, 75%, 90% {
-webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
transition-timing-function:cubic-bezier(0.215, .61, .355, 1)
}
0% {
opacity:0;
-webkit-transform:translate3d(3000px, 0, 0);
-ms-transform:translate3d(3000px, 0, 0);
transform:translate3d(3000px, 0, 0)
}
60% {
opacity:1;
-webkit-transform:translate3d(-25px, 0, 0);
-ms-transform:translate3d(-25px, 0, 0);
transform:translate3d(-25px, 0, 0)
}
75% {
-webkit-transform:translate3d(10px, 0, 0);
-ms-transform:translate3d(10px, 0, 0);
transform:translate3d(10px, 0, 0)
}
90% {
-webkit-transform:translate3d(-5px, 0, 0);
-ms-transform:translate3d(-5px, 0, 0);
transform:translate3d(-5px, 0, 0)
}
100% {
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}
.bounceInDown { -webkit-animation-name: bounceInDown; animation-name: bounceInDown }
@-webkit-keyframes bounceInDown { 0%, 100%, 60%, 75%, 90% {
-webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
transition-timing-function:cubic-bezier(0.215, .61, .355, 1)
}
0% {
opacity:0;
-webkit-transform:translate3d(0, -3000px, 0);
transform:translate3d(0, -3000px, 0)
}
60% {
opacity:1;
-webkit-transform:translate3d(0, 25px, 0);
transform:translate3d(0, 25px, 0)
}
75% {
-webkit-transform:translate3d(0, -10px, 0);
transform:translate3d(0, -10px, 0)
}
90% {
-webkit-transform:translate3d(0, 5px, 0);
transform:translate3d(0, 5px, 0)
}
100% {
-webkit-transform:none;
transform:none
}
}
@keyframes bounceInDown { 0%, 100%, 60%, 75%, 90% {
-webkit-transition-timing-function:cubic-bezier(0.215, .61, .355, 1);
transition-timing-function:cubic-bezier(0.215, .61, .355, 1)
}
0% {
opacity:0;
-webkit-transform:translate3d(0, -3000px, 0);
-ms-transform:translate3d(0, -3000px, 0);
transform:translate3d(0, -3000px, 0)
}
60% {
opacity:1;
-webkit-transform:translate3d(0, 25px, 0);
-ms-transform:translate3d(0, 25px, 0);
transform:translate3d(0, 25px, 0)
}
75% {
-webkit-transform:translate3d(0, -10px, 0);
-ms-transform:translate3d(0, -10px, 0);
transform:translate3d(0, -10px, 0)
}
90% {
-webkit-transform:translate3d(0, 5px, 0);
-ms-transform:translate3d(0, 5px, 0);
transform:translate3d(0, 5px, 0)
}
100% {
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}
.fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown }
@-webkit-keyframes fadeInDown { 0% {
opacity:0;
-webkit-transform:translate3d(0, -80px, 0);
transform:translate3d(0, -80px, 0);
}
50%{opacity:1;}
100% {
opacity:1;
-webkit-transform:none;
transform:none
}
}
@keyframes fadeInDown { 0% {
opacity:0;
-webkit-transform:translate3d(0, -80px, 0);
transform:translate3d(0, -80px, 0);
}
50%{opacity:1;}
100% {
opacity:1;
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}
.fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft }
@-webkit-keyframes fadeInLeft { 0% {
opacity:0;
-webkit-transform:translate3d(-150px, 0, 0);
transform:translate3d(-150px, 0, 0)
}
50%{opacity:1;}
100% {
opacity:1;
-webkit-transform:none;
transform:none
}
}
@keyframes fadeInLeft { 0% {
opacity:0;
-webkit-transform:translate3d(-150px, 0, 0);
transform:translate3d(-150px, 0, 0)
}
50%{opacity:1;}
100% {
opacity:1;
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}
.fadeInRight { -webkit-animation-name: fadeInRight; animation-name: fadeInRight }
@-webkit-keyframes fadeInRight { 0% {
opacity:0;
-webkit-transform:translate3d(150px, 0, 0);
transform:translate3d(150px, 0, 0)
}
50%{opacity:1;}
100% {
opacity:1;
-webkit-transform:none;
transform:none
}
}
@keyframes fadeInRight { 0% {
opacity:0;
-webkit-transform:translate3d(150px, 0, 0);
transform:translate3d(150px, 0, 0)
}
50%{opacity:1;}
100% {
opacity:1;
-webkit-transform:none;
-ms-transform:none;
transform:none
}
}