/*全局*/
a,a:visited,a:hover,.norei,div,span,p{-webkit-tap-highlight-color: rgba(255,255,255,0);}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body { font-size: 100%; }
body { background: white; color: #000; padding: 0; margin: 0; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; line-height: 1; cursor: default; -webkit-user-select: none; -webkit-text-size-adjust: none; }
body, ul, li, p, h2, h1, h3, h3, span, form, dl, dd, dt, ol, a { margin: 0; padding: 0; }
ul, li { list-style: none; }
font { font-size: 12px; }
img { border: 0; }
h1 { font-size: 20px; }
.cursor { cursor: pointer; }
a, a:visited, a:hover { text-decoration: none; }
.phone_gdt{-webkit-overflow-scrolling: touch;
-webkit-transition: width 0.3s ease;
-moz-transition: width 0.3s ease;
-ms-transition: width 0.3s ease;
-o-transition: width 0.3s ease;
transition: width 0.3s ease;}
/*自定义滚动条框架*/
#footer { position: absolute; z-index: 2; bottom: 0; left: 0; width: 100%; height: 48px; background-color: #13a7c7; }
/*滚动1*/
#sc_01 { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 45px; overflow: auto; }
#sc_01 .scroller ul { list-style: none; display: block; float: left; width: 100%; height: 100%; padding: 0; margin: 0; text-align: left; }
#sc_01 .scroller li { display: block; vertical-align: middle; float: left; padding: 0 10px; width: 80px; text-align: center; height: 100%; line-height: 44px; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #fff; background-color: #fafafa; font-size: 14px; }
/*滚动2*/
#sc_02, .sc_main { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; overflow: auto; }
.scroller { position: absolute; z-index: 1; /*	-webkit-touch-callout:none;*/ -webkit-tap-highlight-color: rgba(0,0,0,0); width: 100%; padding: 0; }
.top55 { top: 55px; }
.bottom48 { bottom: 48px; }
/*头部公用条*/
.top-box { height: 44px; background: url(../images/top-bg.png); -webkit-background-size: auto 44px; }
.top-box a, .top-box a:hover, .top-box a:visited { text-decoration: none; }
.top-but-01 { background: url(../images/top-but-01.png) no-repeat; -webkit-background-size: auto 27px; }
.top-but-02 { background: url(../images/top-but-02.png) no-repeat; -webkit-background-size: auto 27px; }
.top-but-03 { background: url(../images/location.png) no-repeat; -webkit-background-size: auto 27px; }
.back { height: 27px; padding-left: 13px; }
.back-right { padding-right: 8px; height: 27px; background-position: right top; }
.top-but02 { padding-left: 8px; }
.top-but02-right { padding-right: 8px; height: 27px; background-position: right top; }
/*ICON*/
.login-icon { background-image: url(../images/login-icon.png); background-repeat: no-repeat; -webkit-background-size: 30px auto }
.personal-icon { background: url(../images/personal-center-icon.png) no-repeat; -webkit-background-size: 15px auto; }
.w15h15 { width: 15px; height: 15px; }
.order { background-position: 0 -15px; }
.news-station { background-position: 0 -30px; }
.information-collection { background-position: 0 -60px; }
.attenders { background-position: 0 -45px; }
.basic-info { background-position: 0 -75px; }
.change-password { background-position: 0 -90px; }
.feedback { background-position: 0 -105px; }
.recommend { background-position: 0 -120px; }
.about-us { background-position: 0 -135px; }
.my-bookings { background-position: 0 -150px }
/*alert提示*/
.zilla-alert { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6); -o-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.6); }
.zilla-alert.white { background: #fff; border: 1px solid #dfdfdf; color: #373737; }
.zilla-alert.red { background: #ffe6e3; border: 1px solid #f2c3bf; color: #bf210e; }
.zilla-alert.yellow { background: #fff7d6; border: 1px solid #e9d477; color: #956433; }
.zilla-alert.green { background: #edfdd3; border: 1px solid #c4dba0; color: #657e3c; }
.zilla-alert.grey { background: #fbfbfb; border: 1px solid #dfdfdf; color: #373737; }
/*背景*/
.bg { background: url(images/bg-r.png); }
/*宽度*/
.wauto { width: 100%; }
.w30b{ width:30%;}
.w33b { width: 33.3333%; }
.w25b { width: 25%; }
.w50b { width: 50%; }
.w70b { width: 70%; }
.w75 { width: 75px; }
.w90 { width: 90px; }
.w85 { width: 85px; }
.w58 { width: 58px; }
.w320 { width: 100%; }
.w640 { width: 100%; }
@media only screen and (min-width: 640px) {
.w640 { width: 640px; }
}
@media only screen and (min-width: 320px) {
.w320 { width: 320px; }
}
/*高度*/
.h32 { height: 32px; }
.h36 { height: 36px; }
.h40 { height: 40px; }
.h42 { height: 42px; }
.h44 { height: 44px; }
.h45 { height: 45px; }
.h39 { height: 39px; }
.h49 { height: 49px; }
.h16 { height: 16px; }
.h18 { height: 18px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h50{ height:50px;}
.h60{ height:60px;}
.hauto{ height:100%;}
/*定位*/
.xd { position: relative; }
.jd { position: absolute; }
.gd { position: fixed; }
.fl { float: left; }
.fr { float: right; }
.disb { display: block; }
.disib { display: inline-block; }
.disn { display: none; }
.disi { display: inline; }
.z1{ z-index:1;}
.z2{ z-index:2;}
.z3{ z-index:3;}
.z4{ z-index:4;}
.z5{ z-index:5;}
.z6{ z-index:6;}
.z7{ z-index:7;}
.z8{ z-index:8;}
.z9{ z-index:9;}
.z10{ z-index:10;}
.c { clear: both; }
.c1 { clear: both; height: 0; font-size: 0; overflow: hidden; }
.hidden { overflow: hidden; zoom: 1; }
.hidden-x { overflow-x: hidden; overflow-y: auto; }
.li-fl li { float: left; }
.span-fl span { display: inline-block; float: left; }
.span-ib { display: inline-block; }
.ti0 { text-indent: 0; }
.ti2 { text-indent: 2em; }
.vb { vertical-align: bottom; }
.bl0 { bottom: 0; left: 0; }
.bt0 { bottom: 0; top: 0; }
.br0 { bottom: 0; right: 0; }
.lt0 { left: 0; top: 0; }
.rt0 { right: 0; top: 0; }
/*透明度*/
.tm85 { filter: alpha(opacity=85); -moz-opacity: 0.85; -khtml-opacity: 0.85; opacity: 0.85; }
.tm90 { filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9; opacity: 0.9; }
.tm80 { filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; }
/*底部导航*/
.bottom-menu { position: absolute; left: 0; bottom: 0; z-index: 999; color: #fff; }
.bottom-menu li { width: 20%; height: 49px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#13a7c7), to(#1399bd)); border-top: 1px solid #1399bd; border-top: 1px solid #1399bd; -webkit-box-shadow: 0 1px 0 #0db8e6 inset; }
.bottom-menu li.on { background: #0886a8; border-top: 1px solid #0886a8; -webkit-box-shadow: 0 1px 0 #059bc4 inset; }
.bottom-menu li .icon_menu { width: 100%; height: 49px; background: url(../images/menu-icon.png) center 0 no-repeat; background-size: 65px auto; -webkit-background-size: 65px auto; text-align: center; /*text-indent: -9999em;*/ opacity: 0.7 }
.bottom-menu li.on .icon_menu { opacity: 1 }
.bottom-menu li .weixin_menu { background-position: center -49px; }
.bottom-menu li .services_menu { background-position: center -98px; }
.bottom-menu li .case_menu { background-position: center -147px; }
.bottom-menu li .about_menu { background-position: center -196px; }
/*首页幻灯片*/
#slider li div { color: #fff; font-size: 12px; text-shadow: 0 1px 0 #333; }
#slider li div p { text-indent: 10px; color: #FFF; left: 0; bottom: 0; position: absolute; background: rgba(0, 0, 0, 0.5) }
#position { color: #697279; display: block; font-size: 30px; bottom: 0; line-height: 0.8; text-align: center; }
#position em { display: inline-block; font-family: sans-serif; font-style: normal; padding: 0 1px; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35); }
.white em.on { color: #fff; }
.blue_dian em { color: #cccccc; }
.blue_dian em.on { color: #13a7c7 }
/*列表01*/
.list_01 { background: #F9F9F9; }
.list_01 li { display: block; color: #222222; border-bottom: 1px solid #DDDDDD; font-weight: bold; text-decoration: none; background: #F9F9F9; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; position: relative; overflow: hidden; box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1) inset; -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1) inset; -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1) inset; }
.list_01 li:hover { background-color: #eeeeee; font-weight: bold; cursor: pointer; text-decoration: none; }
.list_01 p { text-overflow: ellipsis; white-space: nowrap; }
.list_01 a, .list_01 a:visited, .list_01 a:hover { text-decoration: none; }
.list_01 li .dot_01 { right: 10px; top: 50%; margin-top: -7px; }
/*列表02*/
.list_02 li { border-bottom: #ededed solid 1px; border-top: #FFF solid 1px; }
.list_02 li .name { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.list_02 li .time { }
.list_02 li .dot_01 { right: 3px; top: 15px; }
/*列表03*/
.list_03 li .name { background: #eceeef; }
/*边框*/
.title_01 { background-color: #E1E1E1; background-image: linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%); background-image: -o-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%); background-image: -moz-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%); background-image: -webkit-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%); background-image: -ms-linear-gradient(bottom, #E7E7E7 0%, #f9f9f9 100%); background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E7E7E7), color-stop(1, #f9f9f9) ); -webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE; -moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE; box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; text-shadow: 0 1px #FFFFFF; }
/*微博营销*/
.interactive-icon { width: 58px; height: 58px; background: url(../images/interactive-icon.png); background-size: auto 58px; }
.marketing-icon { background-position: -58px 0; }
.activity-icon { background-position: -116px 0; }
/*联系我们*/
.contact-icon { background: url(../images/contact-icon.png); background-size: auto 22px; width: 22px; height: 22px; }
.tel-icon { background-position: 0 0; }
.tel2-icon { background-position: -22px 0; }
.qq-icon { background-position: -44px 0; }
.email-icon { background-position: -66px 0; }
.weibo-icon { background-position: -88px 0; }
.add-icon { background-position: -110px 0; }
/*边框*/
.yj3 {/* border-radius: 3px; */ border-radius: 3px!important; -webkit-border-radius: 3px!important; -moz-border-radius: 3px!important; -o-border-radius: 3px!important; }
.yj5 { border-radius: 5px!important; -webkit-border-radius: 5px!important; -moz-border-radius: 5px!important; -o-border-radius: 5px!important; }
.yj2 { border-radius: 2px!important; -webkit-border-radius: 2px!important; -moz-border-radius: 2px!important; -o-border-radius: 2px!important; }
.yj10 {/* border-radius: 10px;*/ border-radius: 10px!important; -webkit-border-radius: 10px!important; -moz-border-radius: 10px!important; -o-border-radius: 10px!important; }
.yj16 { border-radius: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px; -o-border-radius: 16px; }
.yj65 { border-radius: 65px!important; -webkit-border-radius: 65px!important; -moz-border-radius: 65px!important; -o-border-radius: 65px!important; }
.yj20 { border-radius: 20px 20px 20px 20px; }
.bor-4-dedede { border: #dedede solid 1px; }
.bor-4-e6e6e6 { border: #e6e6e6 solid 1px; }
.bor-4-ccc { border: #ccc solid 1px; }
.bor-4-cecece { border: #cecece solid 1px; }
.bor-4-ecedee { border: #ecedee solid 1px; }
.bor-b-dedede { border-bottom: #dedede solid 1px; }
.bor2-b-cecece { border-bottom: #cecece solid 2px; }
.xx-b-dedede { border-bottom: #dedede dashed 1px; }
.bor-r2-41413f { border-right: #41413f solid 2px; }
.bor2-4-fff { border: #FFF solid 2px; }
/*箭头*/
.dot_icon { background: url(../images/dot_icon.png); background-size: 150px auto; }
.dot_01 { width: 9px; height: 15px; background-position: 0 0; }
/*边距*/
.p5 { padding: 5px; }
.p8 { padding: 8px; }
.p2 { padding: 2px; }
.pt2 { padding-top: 2px; }
.pt3 { padding-top: 3px; }
.pt4 { padding-top: 4px; }
.pt5 { padding-top: 5px; }
.pt7 { padding-top: 7px; }
.pt10 { padding-top: 10px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl35 { padding-left: 35px; }
.pl40 { padding-left: 40px; }
.pl45 { padding-left: 45px; }
.pl50 { padding-left: 50px; }
.pl55{ padding-left:55px;}
.pl80 { padding-left: 80px; }
.pr5 { padding-right: 5px; }
.pr2d5 { padding-right: 2.5px; }
.pl2d5 { padding-left: 2.5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pr35 { padding-right: 35px; }
.pr40 { padding-right: 40px; }
.pr45 { padding-right: 45px; }
.pr50 { padding-right: 50px; }
.pr80 { padding-right: 80px; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }
.pb40 { padding-bottom: 40px; }
.pb45 { padding-bottom: 45px; }
.pb50 { padding-bottom: 50px; }
.m0auto { margin: 0 auto; }
.mt3 { margin-top: 3px; }
.mt5 { margin-top: 5px; }
.mt8 { margin-top: 8px; }
.mt-1 { margin-top: -1px; }
.mt10 { margin-top: 10px; }
.mt-10 { margin-top: -10px; }
.mt13 { margin-top: 13px; }
.mt14 { margin-top: 14px; }
.mt15 { margin-top: 15px; }
.mt17 { margin-top: 17px; }
.mt20 { margin-top: 20px; }
.mt-20 { margin-top: -20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt60 { margin-top: 60px; }
.mt90 { margin-top: 90px; }
.mt120 { margin-top: 120px; }
.mt150 { margin-top: 150px; }
.ml5 { margin-left: 5px; }
.ml8 { margin-left: 8px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.mr5 { margin-right: 5px; }
.mr5b { margin-right: 5%; }
.mr8 { margin-right: 8px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr45 { margin-right: 45px; }
.mr50 { margin-right: 50px; }
.mb5 { margin-bottom: 5px; }
.mb-1 { margin-bottom: -1px; }
.ml-1 { margin-left: -1px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.m20 { margin: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb43 { margin-bottom: 43px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }
.mb80 { margin-bottom: 80px; }
.pt10 { padding-top: 10px; }
.mlr7 { margin: 0 7px; }
.mlr10 { margin: 0 10px; }
.ml10 { margin-left: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.pl210 { padding-left: 210px; }
.ml80 { margin-left: 80px; }
.mt4ml12 { margin: 4px 0 0 12px; }
/*字体大小与居中方式*/
.f8 { font-size: 8px; }
.f9 { font-size: 9px; }
.f10 { font-size: 10px; }
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f17 { font-size: 17px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f22 { font-size: 22px; }
.f23 { font-size: 23px; }
.f26 { font-size: 26px; }
.f50 { font-size: 50px; }
.f60 { font-size: 60px; }
.f70 { font-size: 70px; }
.tr { text-align: right; }
.tc { text-align: center; }
.line-through{text-decoration:line-through;}
.tl { text-align: left; }
.f-nromal { font-weight: 400; }
.fb { font-weight: 700; }
.f-yh { font-family: 微软雅黑; }
.f-arial { font-family: Tahoma, Arial; }
/*链接*/
.lk-b8b8b8 a, .lk-b8b8b8 a:visited { color: #b8b8b8; text-decoration: none; }
.lk-2197ac a, .lk-2197ac a:visited { color: #2197ac; text-decoration: none; }
.lk-666 a, .lk-666 a:visited { color: #666; text-decoration: none; }
.lk-999 a, .lk-999 a:visited { color: #999; text-decoration: none; }
.lk-108ea9 a, .lk-108ea9 a:visited, .lk-108ea9 a:hover { color: #108ea9; text-decoration: none; }
.lk-fff a, .lk-fff a:visited, .lk-fff a:hover { color: #FFF; }
.lk-333 a, .lk-333 a:visited, .lk-333 a:hover { color: #333; }
.lk-000 a, .lk-000 a:visited, .lk-000 a:hover { color: #000; }
.lk-0fa9b8 a, .lk-0fa9b8 a:visited, .lk-0fa9b8 a:hover { color: #0fa9b8; }
.lk-line a,.lk-line a:visited,.lk-line a:hover{ text-decoration:underline;}
.lk-noline a, .lk-noline a:hover, .lk-noline a:visited { text-decoration: none }
/*文本颜色*/
.cr-fff { color: #fff; }
.cr-e85244 { color: #e85244; }
.cr-999 { color: #999; }
.cr-0fa9b8 { color: #0fa9b8; }
.cr-000 { color: #000; }
.cr-333 { color: #333; }
.cr-666 { color: #666; }
.cr-ccc { color: #ccc; }
.cr-a68510 { color: #a68510; }
.text-shadow { text-shadow: 0 1px 0 #fff; }
.cr-2197ac { color: #2197ac; }
.cr-2098ad { color: #2098ad; }
.cr-ff5400 { color: #ff5400; }
.cr-108ea9 { color: #108ea9; }
.cr-8a8a8a { color: #8a8a8a; }
.cr-ff6600 { color: #ff6600; }
.cr-406551 { color: #406551 }
.cr_ff0000 { color: #ff0000; }
.w_nowrap { white-space: nowrap }
/*文本超出省略号*/
.slh { text-overflow: ellipsis; }
.slh2{display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;}/*两行省略号*/
/*文本阴影*/
.wzyy-60 { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6); }
.wzyy-30 { text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
.wzyy-fff{text-shadow: 0 1px 1px #fff;}
/*画廊*/
.gallery_tit_01 { color: #FFFFFF; height: 150px; min-width: 150px; text-align: center; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6); }
/*背景颜色*/
.bg-fff { background: #fff; }
.bg-000 { background: #000; }
.bg-f9f9f9 { background: #f9f9f9; }
.bg-333 { background: #333; }
.bg-666 { background: #666; }
.bg-ee5871 { background: #ee5871; }
.bg-ececec { background: #ececec; }
.bg-f48221 { background: #f48221; }
.bg-a151b5 { background: #a151b5; }
.bg-00bec8 { background: #00bec8; }
.bg-00ab99 { background: #00ab99; }
.bg-f2faff { background: #f2faff; }
.bg-13a7c7 { background: #13a7c7; }
.bg-0fa9b8 { background: #0fa9b8; }
.bg-f7f7f7 { background: #f7f7f7; }
.bg-00b6ee { background: #00b6ee; }
.bg-aadc3b { background: #aadc3b; }
.bg-eea200 { background: #eea200; }
.bg-fb641c { background: #fb641c; }
.bg-e21901 { background: #e21901; }
.bg-001de8 { background: #001de8; }
.bg-55c5d0 { background: #55c5d0; }
.bg-dfaa30 { background: #dfaa30; }
.bg-74cfd8 { background: #74cfd8; }
.bg-ccc { background: #ccc; }
/*表单*/
.inp-01 { border: 0; padding: 0; }
.nyy { -webkit-box-shadow: inset 0 10px 10px -10px #abaaaa; }
/*行高*/
.h10 { height: 10px; line-height: 10px; }
.lh14 { line-height: 14px; }
.lh16 { line-height: 16px; }
.lh17 { line-height: 16px; }
.lh18 { line-height: 18px; }
.lh20 { line-height: 20px; }
.lh22 { line-height: 22px; }
.lh24 { line-height: 24px; }
.lh26 { line-height: 26px; }
.lh27 { line-height: 27px; }
.lh28 { line-height: 28px; }
.lh30 { line-height: 30px; }
.lh32 { line-height: 32px; }
.lh33 { line-height: 33px; }
.lh34 { line-height: 34px; }
.lh36 { line-height: 36px; }
.lh38 { line-height: 38px; }
.lh40 { line-height: 40px; }
.lh42 { line-height: 42px; }
.lh44 { line-height: 44px; }
.lh45 { line-height: 45px; }
.lh50 { line-height: 50px; }
.lh60 { line-height: 60px; }
/*凹陷阴影效果*/
.shadow-cave { position: relative; box-shadow: 0 5px 5px rgba(0,0,0,.2); }
.shadow-cave:after { position: absolute; bottom: -31px; left: 0; overflow: hidden; background: transparent; width: 100%; height: 15px; content: ''; border-radius: 50%; box-shadow: 0 -12px 5px rgba(255,255,255,1); }
/*搜索条*/
.search_bar_box { position: fixed; left: 0; top: 0; z-index: 999; background-image: -moz-linear-gradient(top, #fff, #dddddd); /* Firefox */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #dddddd)); /* Saf4+, Chrome */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#dddddd', GradientType='0');
border-bottom: #ccc solid 1px; }
.search_inp_box { height: 30px; background: url(../images/search_dot.png) 10px center #fff no-repeat; background-size: 18px 18px }
.search_inp_box .search_text_inp { float: left; height: 26px; line-height: 26px; font-size: 14px; padding: 0; margin: 0; border: 0; background: none; width: 100%; padding-left: 30px; }
.search_but { width: 50px; height: 30px; line-height: 28px; font-family: Tahoma, Arial; background-image: -moz-linear-gradient(top, #fff, #d1d1d1); /* Firefox */ background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #d1d1d1)); /* Saf4+, Chrome */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#d1d1d1', GradientType='0');
}
/*图文商品详情控制图片*/
.text img{max-width:100%!important;height:auto!important;}
